<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:arkCorp="http://java.sun.com/jsf/composite/importanceEventComponent"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
				xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                >
 
   	<p:outputPanel id="opnlAmortizationPayment"
   				   styleClass="clsCmbAmoRestructuringtUpd clsProcessPaymentScheRest">
      <table width="100%">
      	  <tr> 
      	  	<td> 
       		<p:fieldset id="fldAmortizationCronogramCurrent" 
      					legend="#{msgs['payment.cronogram.lbl.int.amortization.cronogram.current']}"
      					toggleable="true" 
						collapsed="#{!paymentScheduleBean.viewOperationRegister}">
      		<table width="100%"> 
				<tr> 
					<td width="200"> 
						<h:outputText value="#{msgs['security.lbl.capital.payment.mode']} (*)" 
									 styleClass="required-field"/>
					</td>
					<td width="250"> 
						<p:selectOneMenu id="cboCurCronCapitalPayMode"
										 value="#{paymentScheduleBean.security.capitalPaymentModality}"
										 styleClass="combo-widh-medium"
										 label="#{msgs['security.lbl.capital.payment.mode']}"
										 required="true"
										 disabled="true"> 
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboPaymentModality}"
										   var="payMod"
										   itemLabel="#{payMod.parameterName}" 
										   itemValue="#{payMod.parameterTablePk}"/>
						</p:selectOneMenu>
					</td>
					<td width="250"> 
						<h:outputText value="#{msgs['security.lbl.amortization.type']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td width="200"> 
						<p:selectOneMenu id="cboCurCronAmortizationType"
										 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.amortizationType}"
										 required="true"
										 disabled="true"
										 styleClass="combo-widh-medium"
										 label="#{msgs['security.lbl.amortization.type']}"
										 onchange="if(this.value=='')rcmdCboAmortizationType()"> 
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems  value="#{paymentScheduleBean.lstCboAmortizationType}"
											var="amorType"
											itemValue="#{amorType.parameterTablePk}" itemLabel="#{amorType.parameterName}"/>
							<p:ajax event="change"
									listener="#{paymentScheduleBean.changeCboAmortizationTypeHandler}"
									process="@this"
									update="txtAmortizationFactor,cboPerAmortization"/>				
						</p:selectOneMenu>
					</td>
				</tr>
				<tr> 
					<td>
						<h:outputText value="#{msgs['security.lbl.periodicity.amortization']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:selectOneMenu id="cboCronCurPerAmortization"
										 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.periodicity}"
										 disabled="true"
										 required="true"
										 styleClass="combo-widh-medium"
										 label="#{msgs['security.lbl.periodicity.amortization']}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
										   var="intPer"
										   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['security.lbl.periodicity.days']} (*)"
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:inputText id="txtCurCronAmortPeriodicityDays"
									 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.periodicity}"
									 disabled="true"
									 label="#{security.lbl.periodicity.days}"
									 styleClass="short-input-text-width content-right clsCronPerAmortization">
						</p:inputText>	
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.first.expired.payment.date']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:calendar id="calCurCronFirstExpAmoCoupon"
									value="#{paymentScheduleBean.security.amortizationPaymentSchedule.paymentFirstExpirationDate}"
									showOn="both"
									showButtonPanel="false"
									navigator="true"
									size="10"
									label="#{msgs['security.lbl.first.expired.payment.date']}"
									pattern="#{msgs['dateFormat']}"
									disabled="true"
									>
					  </p:calendar>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.payments.number']}" />
					</td>
					<td> 
						<p:inputText id="txtCurCronPaymentsNumber"
									 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.numberPayments}"
									 disabled="true"/>
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.amortization.factor']}" />
					</td>
					<td> 
						<p:inputText id="txtCurCronAmortizationFactor"
									 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.amortizationFactor}"
									 required="true"
									 disabled="true"
									 styleClass="amount-inputfield"
									 label="#{msgs['security.lbl.amortization.factor']}">
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
						</p:inputText>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.amortization.on']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td>
						<p:selectOneMenu id="cboCurCronAmortizationOn"
										 value="#{paymentScheduleBean.security.amortizationOn}"
										 styleClass="combo-widh-medium"
										 label="#{msgs['security.lbl.amortization.on']}"
										 required="true"
										 disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboAmortizationOn}" 
										   var="amorOn"
										   itemValue="#{amorOn.parameterTablePk}" itemLabel="#{amorOn.parameterName}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<tr> 
					<td colspan="4"> 
						<p:dataTable id="dtbCurAmortizationCoupons"
									 value="#{paymentScheduleBean.security.amortizationPaymentSchedule.programAmortizationCoupons}"
									 var="amorCron"
									 rowIndexVar="rIndx" 
						             rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" > 
									 
							<f:facet name="header">
								<h:outputText value="#{msgs['security.lbl.amortization.cronogram']}"/>
							</f:facet>
							
							<p:column headerText="#{msgs['payment.cronogram.col.nro.payment']}"
									  styleClass="content-left"> 
								<h:outputText value="#{amorCron.couponNumber}"/>
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.initial.payment.date']}" 
									  styleClass="content-left">
								<h:outputText value="#{amorCron.beginingDate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>	
								
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}" 
									  styleClass="content-left">
								<h:outputText value="#{amorCron.expirationDate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>	
							</p:column>							
							
							<p:column headerText="#{msgs['payment.cronogram.col.payment.date']}" 
									  styleClass="content-left">
								<h:outputText value="#{amorCron.paymentDate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>	
							
							<p:column headerText="#{msgs['security.col.payment.days']}"
									  styleClass="content-right">
									<h:outputText value="#{paymentScheduleBean.getDaysBetween(amorCron.beginingDate,amorCron.expirationDate)}">
										<f:convertNumber pattern="#{gconst['pattern.quantity']}"/>
									</h:outputText>
							</p:column>												
							
							<p:column headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}" 
									  styleClass="content-left" 
									  rendered="#{paymentScheduleBean.exchangeRate}">
								<h:outputText value="#{amorCron.exchangeDateRate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>	
							
							<p:column headerText="#{msgs['payment.cronogram.col.amortization.factor']}"
									  styleClass="content-right"> 
								
								<h:outputText value="#{amorCron.amortizationFactor}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" 
													 pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
								</h:outputText>
								<h:outputText value="%" />
							</p:column>
							
							<p:column styleClass="content-right" 
									  headerText="#{msgs['col.capital.amount']}"> 
								<h:outputText value="#{amorCron.couponAmount}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" 
													 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
							    </h:outputText>
							</p:column>
							
							<p:column styleClass="content-right" 
									  headerText="#{msgs['col.payed.amount']}"> 
								<h:outputText value="#{amorCron.payedAmount}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" 
													 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
							    </h:outputText>
							</p:column>		
							
							<p:column headerText="#{msgs['payment.cronogram.col.corporative.id']}"
									  styleClass="content-left"> 	
								<arkCorp:importanceEvent pageBack="#{paymentScheduleBean.viewOperationDetail ? 'paymentScheduleModDetail' : 'paymentScheduleModMgmt'}"  
														 corporativeOperationId="#{amorCron.corporativeOperation.idCorporativeOperationPk}"/>
							</p:column>		
							
							<p:column styleClass="content-left"
									  headerText="#{msgs['payment.cronogram.col.corporative.id']}"> 
								<arkCorp:importanceEvent pageBack="paymentScheduleRestMgmtRule"  
														 corporativeOperationId="#{amorCron.corporativeOperation.idCorporativeOperationPk}"/>
							</p:column>
							
							<p:column styleClass="content-left" 
									  headerText="#{msgs['col.state']}"> 
								<h:outputText value="#{amorCron.stateDescription}"/>
							</p:column>
												
						</p:dataTable>
					</td>
				</tr>
				<tr> 
					<td colspan="4"> 
						<p:separator/>
					</td>
				</tr>
      		</table>
      		</p:fieldset> 
      	  	</td>
      	  </tr>
	      <tr> 
      		<td>
      		<p:fieldset id="fldAmortizationCronogramNew" 
      					legend="#{msgs['payment.cronogram.lbl.int.amortization.cronogram.new']}"
      					styleClass="clsCmbAmoRestructuringtUpd">
      		<table width="100%"> 
				<tr> 
					<td width="200"> 
						<h:outputText value="#{msgs['security.lbl.capital.payment.mode']} (*)" 
									 styleClass="required-field"/>
					</td>
					<td width="250">  
						<p:selectOneMenu id="cboCronCapitalPayMode"
										 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.paymentModality}"
										 styleClass="combo-widh-medium clsCronCapitalPayMode"
										 label="#{msgs['security.lbl.capital.payment.mode']}"
										 required="true"
										 disabled="#{!paymentScheduleBean.viewOperationRegister || !paymentScheduleBean.security.amortizationPaymentSchedule.allCouponsPendingPayment}"> 
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboPaymentModality}"
										   var="payMod"
										   itemLabel="#{payMod.parameterName}" 
										   itemValue="#{payMod.parameterTablePk}"/>
							<p:ajax event="change"
									listener="#{paymentScheduleBean.chageCboAmortPaymentModalityHandler}"
									process="@this"
									update="@(.clsCronCapitalPayMode,.clsCboCronAmortTypeUpd)"/> 
						</p:selectOneMenu>
					</td>
					<td width="50"> 
						<p:message for="cboCronCapitalPayMode"  styleClass="clsCronCapitalPayMode"
								   display="icon"/>
					</td>
					<td width="250"> 
						<h:outputText value="#{msgs['security.lbl.amortization.type']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td width="200"> 

						<p:selectOneMenu id="cboCronAmortizationType"
										 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.amortizationType}"
										 required="true"
										 disabled="#{!paymentScheduleBean.viewOperationRegister || !paymentScheduleBean.amoPaymentScheduleReqHi.partialPaymentModality}"
										 styleClass="combo-widh-medium clsCboCronAmortTypeUpd"
										 label="#{msgs['security.lbl.amortization.type']}"
										 onchange="if(this.value=='')rcmdCboAmortizationType()"> 
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems  value="#{paymentScheduleBean.lstCboAmortizationType}"
											var="amorType"
											itemValue="#{amorType.parameterTablePk}" itemLabel="#{amorType.parameterName}"/>
							<p:ajax event="change"
									listener="#{paymentScheduleBean.changeCboAmortizationTypeHandler}"
									process="@this"
									update="@(.clsCboCronAmortTypeUpd)"/>				
						</p:selectOneMenu>
					</td>
					<td > 
						<p:message for="cboCronAmortizationType" styleClass="clsCboCronAmortTypeUpd"
								   display="icon"/>
						<ui:param name="isAmortNoProportional" value="#{paymentScheduleBean.amoPaymentScheduleReqHi.amortizationType eq amortizationType.NO_PROPORTIONAL.code}" />
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.periodicity.amortization']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:selectOneMenu id="cboCronPerAmortization"
										 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.periodicity}"
										 required="true"
										 styleClass="combo-widh-medium clsCboCronAmortTypeUpd"
										 label="#{msgs['security.lbl.periodicity.amortization']}"
										 disabled="#{!paymentScheduleBean.viewOperationRegister || paymentScheduleBean.blShortTerm || paymentScheduleBean.amoPaymentScheduleReqHi.atMaturityPaymentModality}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
										   var="intPer"
										   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
							<p:ajax process="@this" 
									update="@(.clsCronPerAmortization)"
									event="change" 
									listener="#{paymentScheduleBean.changeCboPerCronAmortization}"/>
						</p:selectOneMenu>
					</td>
					<td> 
						<p:message for="cboCronPerAmortization" 
								   styleClass="clsCboCronAmortTypeUpd"
								   display="icon"/>
					</td>
					<td>
						<h:outputText value="#{msgs['security.lbl.periodicity.days']} (*)"
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:inputText id="txtCronAmortPeriodicityDays"
									 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.periodicityDays}"
									 disabled="#{!paymentScheduleBean.viewOperationRegister || !paymentScheduleBean.amoPaymentScheduleReqHi.byDaysPeriodicity}"
									 label="#{security.lbl.periodicity.days}"
									 styleClass="short-input-text-width content-right clsCronPerAmortization clsCboCronAmortTypeUpd">
							<f:validator validatorId="inputRequiredValidator"/>
							<f:validator validatorId="lessThanOrEqualValidator"/>	
							<f:attribute name="lteCompareValue" value="0"/>
							<f:attribute name="lteCompareLabel" value="0"/>
							<p:ajax process="@this" 
									update="@(.clsCronPerAmortization)"
									event="change" 
									listener="#{paymentScheduleBean.insertAmortPeriodicityDays}"/>
						</p:inputText>	
					</td>
					<td> 
					<p:outputPanel styleClass="clsCronPerAmortization">
						<p:message for="txtCronAmortPeriodicityDays" 
									
								   display="icon"/>	   </p:outputPanel>
					</td>					
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.first.expired.payment.date']} (*)" 
									  styleClass="required-field"/>
					</td>
					<td> 
						<p:calendar id="calFirstExpAmoCoupon"
									value="#{paymentScheduleBean.amoPaymentScheduleReqHi.paymentFirstExpirationDate}"
									required="true"
									showOn="both"
									showButtonPanel="false"
									navigator="true"
									size="10"
									label="#{msgs['security.lbl.first.expired.payment.date']}"
									pattern="#{msgs['dateFormat']}"
									mindate="#{paymentScheduleBean.security.issuanceDate}"
									maxdate="#{paymentScheduleBean.security.expirationDate}"
									styleClass="clsCboCronAmortTypeUpd clsCronPerAmortization clsCboCronAmortTypeUpd"
									disabled="#{!paymentScheduleBean.viewOperationRegister || paymentScheduleBean.amoPaymentScheduleReqHi.atMaturityPaymentModality || paymentScheduleBean.amoPaymentScheduleReqHi.notProportionalAmortizationType}"
									>
							<p:ajax event="dateSelect"
									listener="#{securityMgmtBean.selectPaymentFirstExpiredDate}"
									process="@this"
									update="@(.clsPaymentFirstExpDateUpd)"
									/>
					  </p:calendar>
					</td>
					<td> 
						<p:message for="calFirstExpAmoCoupon"
								   display="icon"
								   styleClass="clsCronPerAmortization clsCboCronAmortTypeUpd"/>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.payments.number']}" />
					</td>
					<td> 
						<p:inputText id="txtCronPaymentsNumber"
									 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.numberPayments}"
									 styleClass="clsPeriodicityAmortUpd clsCronPerAmortization clsCboCronAmortTypeUpd"
									 disabled="true"/>
					</td>
					<td> 
						
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.amortization.factor']}" />
					</td>
					<td>
						<p:inputText id="txtCronAmortizationFactor"
									 value="#{paymentScheduleBean.amoPaymentScheduleReqHi.amortizationFactor}"
									 disabled="#{!paymentScheduleBean.viewOperationRegister || !paymentScheduleBean.fixedInstrumentType || paymentScheduleBean.proportionalAmortizationType}"
									 required="true"
									 styleClass="amount-inputfield clsCronPerAmortization classCboIntPayPeriodUpd clsCboCronAmortTypeUpd"
									 label="#{msgs['security.lbl.amortization.factor']}">
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
						</p:inputText>
					</td>
					<td> 
					
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.amortization.on']} (*)" 
									  styleClass="required-field clsCboCronAmortTypeUpd"/>
					</td>
					<td> 
						<p:selectOneMenu id="cboCronAmortizationOn"
										 value="#{paymentScheduleBean.security.amortizationOn}"
										 styleClass="combo-widh-medium"
										 label="#{msgs['security.lbl.amortization.on']}"
										 required="true"
										 disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{paymentScheduleBean.lstCboAmortizationOn}" 
										   var="amorOn"
										   itemValue="#{amorOn.parameterTablePk}" itemLabel="#{amorOn.parameterName}"/>
						</p:selectOneMenu>
					</td>
					<td> 
					
					</td>
				</tr>
				<tr> 
					<td colspan="6" align="right"> 
						<p:commandButton id="cmbAmoRestructuring"
										 value="#{msgs['btn.restructuring']}"
										 action="#{paymentScheduleBean.generateAmortizationRestructuringHandler}"
										 update="msgDtbAmort,dtbAmortizationCoupons,fldAmortizationCronogramNew"
										 process="@this,opnlAmortizationPayment"
										 rendered="#{paymentScheduleBean.viewOperationRegister}"/>
					</td>
				</tr>
				<tr> 
					<td colspan="6"> 
						<p:separator width="100%"/>
					</td>
				</tr>
				<td colspan="6"> 
					<p:message id="msgDtbAmort" for="dtbAmortizationCoupons"/>
				</td>
				<tr> 
					<td colspan="6"> 
						<ui:param name="sizeOfList" value="#{fn:length(paymentScheduleBean.lstDtbProAmoCouponReqHis)}" />
						<p:dataTable id="dtbAmortizationCoupons"
									 value="#{paymentScheduleBean.lstDtbProAmoCouponReqHis}"
									 var="amorCron"
									 rowIndexVar="rIndx" styleClass="panelNoBorder" 
						             rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" >
							<ui:param name="lastCoupon" value="#{sizeOfList eq (rIndx + 1)}"/>
							<ui:param name="maxExpDate" value="#{lastCoupon?paymentScheduleBean.security.expirationDate:
																					paymentScheduleBean.lstDtbProAmoCouponReqHis.get(rIndx+1).expirationDate}"/>
							<f:facet name="header">
								<h:outputText value="#{msgs['security.lbl.amortization.cronogram']}"/>
							</f:facet>
					
							<p:column rendered="#{isAmortNoProportional}" styleClass="content-center">
								<h:selectBooleanCheckbox disabled="#{amorCron.stateProgramAmortizaton ne stateCouponType.PENDING.code}"
														 value="#{amorCron.selected}">
									<p:ajax event="change" update=":frmSecurityMgmt:tviewGeneral:dtbAmortizationCoupons"></p:ajax>
								</h:selectBooleanCheckbox>
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.nro.payment']}" 
									  styleClass="content-center"> 
								<h:outputText value="#{amorCron.couponNumber}"/>
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.initial.payment.date']}" 
									  styleClass="content-left">
								<h:outputText value="#{amorCron.beginingDate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>	
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}" styleClass="content-left">
								<h:outputText value="#{amorCron.expirationDate}" rendered="#{!amorCron.selected}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
								<p:calendar value="#{amorCron.expirationDate}" rendered="#{amorCron.selected}" navigator="true"
											showOn="both" showButtonPanel="false" readonlyInput="true" size="8" pattern="#{cons['dateFormat']}"
											maxdate="#{maxExpDate}" mindate="#{amorCron.beginingDate}" disabled="#{lastCoupon}">
									<p:ajax event="dateSelect" update=":frmSecurityMgmt:tviewGeneral:dtbAmortizationCoupons"
											listener="#{paymentScheduleBean.evaluatePaymentDate(amorCron)}"/> 
								</p:calendar>
							</p:column>							
							
							<p:column headerText="#{msgs['payment.cronogram.col.payment.date']}" styleClass="content-left">
								<h:outputText value="#{amorCron.paymentDate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>	

							<p:column headerText="#{msgs['security.col.payment.days']}" styleClass="content-right">
								<h:outputText value="#{paymentScheduleBean.getDaysBetween(amorCron.beginingDate,amorCron.expirationDate)}">
									<f:convertNumber pattern="#{gconst['pattern.quantity']}"/>
								</h:outputText>
							</p:column>																				
							
							<p:column headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}" styleClass="content-left" 
									  rendered="#{paymentScheduleBean.exchangeRate}">
								<h:outputText value="#{amorCron.exchangeDateRate}">
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>	
							<p:column headerText="#{msgs['payment.cronogram.col.amortization.factor']}" styleClass="content-right" > 
								<h:outputText value="#{amorCron.amortizationFactor}" rendered="#{!amorCron.selected}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
								</h:outputText>
								<h:outputText value="%" rendered="#{!amorCron.selected}"/>
								
								<p:inputNumber 
									id="txtAmortizationFactor" label="#{msgs['payment.cronogram.col.amortization.factor']}"
									value="#{amorCron.amortizationFactor}" symbol="%" style="text-align:right"
									symbolPosition="s" minValue="0.0000" rendered="#{amorCron.selected}" maxValue="100">
									<p:keyFilter mask="pnum" />
									<p:ajax event="change" global="true" process="@this"
											update=":frmSecurityMgmt:tviewGeneral:dtbAmortizationCoupons"
											listener="#{paymentScheduleBean.evaluateAmortizationFactor(amorCron)}"/>
								</p:inputNumber>
								
							</p:column>
							<p:column styleClass="content-right" headerText="#{msgs['col.capital.amount']}"> 
								<h:outputText value="#{amorCron.couponAmount}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.cash.amount']}"/>
							    </h:outputText>
							</p:column>
							
							<p:column styleClass="content-right" headerText="#{msgs['col.payed.amount']}"> 
								<h:outputText value="#{amorCron.payedAmount}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>
							    </h:outputText>
							</p:column>
							<p:column styleClass="content-left" headerText="#{msgs['col.state']}"> 
								<h:outputText value="#{amorCron.stateDescription}"/>
							</p:column>	
						</p:dataTable>
					</td>
				</tr>
				<tr> 
					<td colspan="6"> 
						<p:separator/>
					</td>
				</tr>
				<tr> 
					<td colspan="6" align="right"> 
					<ui:remove> 
							<p:commandButton id="cmbAmoRegister"
											 action="#{paymentScheduleBean.beforeSaveAmoPayRestructuringHandler}"
											 process="@this,fldAmortizationCronogramNew"
											 rendered="#{paymentScheduleBean.viewOperationRegister}"
											 update="@form,:opnlGenericDialogs,:cnfMsgCustomValidationSec,:frmSecurityMgmt:cnfPaymentShceMgmt,:cnfEndTransactionSec"
											 value="#{msgs['btn.modify']}"
											 icon="fa fa-save" 
											 oncomplete="tviewwGeneral.select(currentTabIndex);"
											 />
											 
							<p:commandButton id="cmbAmoApprove"
											 value="#{msgs['btn.approve']}"
											 action="#{paymentScheduleBean.beforeApproveModificationRequest}"
											 icon="ui-approve"
											 rendered="#{paymentScheduleBean.viewOperationApprove}"
											 update="opnlAmortizationPayment,:frmSecurityMgmt:cnfPaymentShceMgmt"
											 process="opnlAmortizationPayment"
											 oncomplete="tviewwGeneral.select(currentTabIndex);"
											 />	
											 
							<p:commandButton id="cmbAmoAnnulate"
											 value="#{msgs['btn.annulate']}"
											 action="#{paymentScheduleBean.beforeAnnulateModificationRequest}"
											 icon="ui-approve"
											 rendered="#{paymentScheduleBean.viewOperationAnnul}"
											 update="opnlAmortizationPayment,:frmSecurityMgmt:cnfPaymentShceMgmt"
											 process="opnlAmortizationPayment"
											 oncomplete="tviewwGeneral.select(currentTabIndex);"
											 />	
											 
							<p:commandButton id="cmbAmoReject"
											 value="#{msgs['btn.reject']}"
											 actionListener="#{paymentScheduleBean.beforeRejectModificationRequest}"
											 icon="ui-remove"
											 rendered="#{paymentScheduleBean.viewOperationReject}"
											 update="opnlAmortizationPayment,:frmSecurityMgmt:cnfPaymentShceMgmt"
											 process="opnlAmortizationPayment"
											 oncomplete="tviewwGeneral.select(currentTabIndex);"/>	
											 
							<p:commandButton id="cmbAmoConfirm"
											 value="#{msgs['btn.confirm']}"
											 actionListener="#{paymentScheduleBean.beforeConfirmModification}"
											 icon="ui-approve"
											 rendered="#{paymentScheduleBean.viewOperationConfirm}"
											 update="opnlAmortizationPayment,:frmSecurityMgmt:cnfPaymentShceMgmt"
											 process="opnlAmortizationPayment"
											 oncomplete="tviewwGeneral.select(currentTabIndex);"/>			
							
						</ui:remove>					  
					</td>
				</tr>
      		</table>
      		</p:fieldset> 
      		</td>
	      </tr>
      </table>          
     </p:outputPanel>         
</ui:composition>