<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
		xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	<h:form id="frmPaymentScheSearch">  
		<table id="tblGeneral" width="100%"> 
			<tr> 
				<td>
					<table width="100%" border="0"> 
						<td align="left"> 
							<h:outputText value="#{gmsgs['isecurities.payment.schedule.res.manage.title']}" 
										   styleClass="title-page" />
						</td>
						<td align="right"> 
							<p:commandButton id="cmbRegister"
											 value="#{gmsgs['btn.register']}"
											 icon="fa fa-edit"
											 rendered="#{userPrivilege.userAcctions.register}"
											 action="#{paymentScheduleBean.registerOperationRestructuringHandler}"
											 immediate="true"
											 ajax="false">				 
							</p:commandButton>
						</td>
					</table> 
				</td>
			</tr>
			<tr> 
				<td> 
					<p:fieldset id="fldSecurity"
								legend="#{gmsgs['lbl.criteria.search']}">
					<table width="100%"> 
						<tr> 
							<td width="25"> 
							   <p:selectOneRadio id="rdoFilters" 
							   					 value="#{paymentScheduleBean.paymentScheduleTO.rdoFilter}" 
							   					 layout="custom">
							   	   <f:selectItem itemValue="#{paymentScheduleBean.paymentScheduleTO.rdoFilterSecurityClassCode}" 
							   	   				 />
						           <f:selectItem itemValue="#{paymentScheduleBean.paymentScheduleTO.rdoFilterIssuer}" 
						           			     /> 
						           <f:selectItem itemValue="#{paymentScheduleBean.paymentScheduleTO.rdoFilterRequestNumber}" 
						           			     /> 
									<p:ajax event="change"
											listener="#{paymentScheduleBean.changeRdoFilter}"
											process="@this rdoOpt1Filter rdoOpt2Filter rdoOpt3Filter"
											update="fldSecurity"
											/>
						       </p:selectOneRadio>
						       
								<p:radioButton id="rdoOpt3Filter" 
											   for="rdoFilters" 
											   itemIndex="2" 
											   style="margin-right:5px;"/>
							</td>
							<td> 
								<h:outputText value="#{msgs['lbl.request.number']}" />
							</td>
							<td> 
								<p:inputText id="txtRequestNumber"
											 value="#{paymentScheduleBean.paymentScheduleTO.idPaymentScheduleReqHiPk}"
											 label="#{msgs['lbl.request.number']}"
											 disabled="#{!paymentScheduleBean.paymentScheduleTO.rdoFilterRequestNumberSel}"/>
							</td>
							<td> 
							
							</td>
							<td> 
								
							</td>
							<td colspan="2"> 
						
							</td>
						</tr>
						<tr> 
							<td> 
								<p:radioButton id="rdoOpt2Filter" 
											   for="rdoFilters" 
											   itemIndex="1" 
											   style="margin-right:5px;"/>
							</td>
							<td> 
								<h:outputText value="#{msgs['issuer.lbl.issuer']}"/>
							</td>
							<td colspan="5"> 

									
								<ark:issuerHelper id="hlpIssuer" 
												  issuer="#{paymentScheduleBean.issuerHelperSearch}"
												  remoteListener="rcmdAfterIssuerHandler()"
												  disabled="#{!paymentScheduleBean.paymentScheduleTO.rdoFilterIssuerSel}"/>
											
					
								<p:remoteCommand name="rcmdAfterIssuerHandler"
												  actionListener="#{paymentScheduleBean.afterIssuerHelperHandler}" 
												  update="opnlIssuerHelper"
												  process="@this"
												  />		  
							</td>
						</tr>
						<tr> 
							<td> 
							
							</td>
							<td> 
								<h:outputText value="#{msgs['security.lbl.issuance']}"/>
							</td>
							<td colspan="5"> 
								<p:outputPanel id="opnlIssuerHelper">
									<ark:issuanceHelper id="hlpIssuance" issuance="#{paymentScheduleBean.paymentScheduleTO.issuance}"
													    blIssuer="true"
													    issuer="#{paymentScheduleBean.issuerHelperSearch}"
													    disabled="#{!paymentScheduleBean.paymentScheduleTO.rdoFilterIssuerSel}"/>

								</p:outputPanel>
							</td>
						</tr>
						<tr> 
							<td> 
		       
		       					<p:radioButton id="rdoOpt1Filter" 
					 				for="rdoFilters" 
					 				itemIndex="0" 
					 				style="margin-right:5px;"/>
							</td>
							<td> 
								<h:outputText value="#{gmsgs['security.lbl.code']}" />
								
							</td>
							<td>
								<p:inputText id="txtSecurityIsinCode" 
											 value="#{paymentScheduleBean.paymentScheduleTO.idSecurityCodePk}"
											 maxlength="#{cons['security.code.normal.length']}"
											 styleClass="securityCode-input-text-width"
											 disabled="#{!paymentScheduleBean.paymentScheduleTO.rdoFilterSecurityClassCodeSel}">
									<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.hyphen']}"/>
								</p:inputText>
							</td>
							<td> 
								
							</td>
							<td> 
								<h:outputText value="#{gmsgs['security.lbl.class']}" />
							</td>
							<td colspan="2"> 
								<p:selectOneMenu id="cboSecurityClass"
												 value="#{paymentScheduleBean.paymentScheduleTO.securityClass}"
												 style="width:200px"
												 label="#{gmsgs['security.lbl.class']}"
												 disabled="#{!paymentScheduleBean.paymentScheduleTO.rdoFilterSecurityClassCodeSel}"
												 > 
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{paymentScheduleBean.lstCboSecuritieClass}"
												   var="secClass"
												   itemValue="#{secClass.parameterTablePk}" itemLabel="#{secClass.text1} - #{secClass.parameterName}"/>
								
								</p:selectOneMenu>
							</td>
						</tr>
						<tr> 
							<td> 
							
							</td>
							<td width="170"> 
								<h:outputText value="#{msgs['payment.cronogram.lbl.type']} (*)"
											  styleClass="required-field"/>
							</td>
							<td width="200"> 
								<p:selectOneMenu id="cboPaymentScheType"
												 value="#{paymentScheduleBean.paymentScheduleTO.paymentScheduleType}"
												 label="#{msgs['payment.cronogram.lbl.type']}"> 
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItem itemLabel="#{msgs['payment.cronogram.lbl.interest']}" itemValue="1"/>
									<f:selectItem itemLabel="#{msgs['payment.cronogram.lbl.amortization']}" itemValue="2"/>
									<f:validator validatorId="selectOneRequiredValidator"/>
								</p:selectOneMenu>
							</td>
							<td width="50"> 
								<p:message for="cboPaymentScheType"
											display="icon"/>
							</td>
							<td width="150"> 
								<h:outputText value="#{msgs['lbl.request.state']}" />
							</td>
							<td width="200"> 
								<p:selectOneMenu id="cboRequestState"
												 value="#{paymentScheduleBean.paymentScheduleTO.requestState}"
												 label="#{msgs['lbl.request.state']}"
												 > 
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{paymentScheduleBean.lstCboRequestState}"
												   var="prm" 
												   itemLabel="#{prm.parameterName}" itemValue="#{prm.parameterTablePk}"/>
								</p:selectOneMenu>
							</td>
							<td> 
							
							</td>
						</tr>
						<tr> 
							<td> 
							
							</td>
							<td> 
								<h:outputText value="#{msgs['lbl.begin.date']}" />
							</td>
							<td> 
								<p:calendar id="calBeginDate"
											value="#{paymentScheduleBean.paymentScheduleTO.beginDate}"
											label="#{msgs['lbl.begin.date']}"
											pattern="#{msgs['dateFormat']}"
											size="10"
											required="true"
											showOn="both"
											showButtonPanel="false"
											readonlyInput="true"
											navigator="true"
											/>
							</td>
							<td> 
								<p:message for="calBeginDate"
										   display="icon"/>
							</td>
							<td> 
								<h:outputText value="#{msgs['lbl.end.date']}" />
							</td>
							<td> 
								<p:calendar id="calEndDate"
											value="#{paymentScheduleBean.paymentScheduleTO.endDate}"
											size="10" 
											label="#{msgs['lbl.end.date']}"
											required="true"
											pattern="#{msgs['dateFormat']}"
											showOn="both"
											showButtonPanel="false"
											readonlyInput="true"
											navigator="true"/>
							</td>
							<td> 
								<p:message for="calEndDate"
										   display="icon"/>
							</td>
							
						</tr>
						<tr> 
							<td colspan="7" align="center"> 
								<p:commandButton id="cmbSearch"
												action="#{paymentScheduleBean.searchPaymentScheRestructuringHandler}"
												process="@this, fldSecurity"
												update="@form,:opnlDlgRequiredVal"
												rendered="#{userInfo.userAcctions.search}"
												 value="#{gmsgs['btn.search']}"
												 icon="fa fa-search"/>
								&nbsp;&nbsp;
								<p:commandButton id="cmbClean"
												 value="#{gmsgs['btn.clean']}"
												 actionListener="#{paymentScheduleBean.cleanPaymentScheduleModSearchHandler}"
												 icon="fa fa-trash"
											 	 update="@form"
											 	 process="@this"/>
							</td>
						</tr>
					</table>			
					</p:fieldset>
				</td>
			</tr>
			<tr> 
				<td> 
					<p:panel id="pnlPrivileges"
							 rendered="#{paymentScheduleBean.paymentScheduleDataModel != null and paymentScheduleBean.paymentScheduleDataModel.rowCount > 0}"> 
						
						<p:commandButton id="cmbConfirm"
										 value="#{msgs['btn.confirm']}"
										 rendered="#{userPrivilege.userAcctions.confirm}"
										 action="#{paymentScheduleBean.confirmRestructuringOperationHandler}"
										 update=":cnfMsgCustomValidationSec"
										 icon="ui-approve"
										 />
						&nbsp;&nbsp;
						<p:commandButton id="cmbReject"
										rendered="#{userPrivilege.userAcctions.reject}"
										 value="#{msgs['btn.reject']}"											 
										 action="#{paymentScheduleBean.rejectRestructuringOperationHandler}"
										 update=":cnfMsgCustomValidationSec"
										 icon="ui-remove"/>
						&nbsp;&nbsp;
						<ui:remove>
							<p:commandButton id="cmbApprove"
											 rendered="#{userPrivilege.userAcctions.approve}"
											 value="#{msgs['btn.approve']}"
											 action="#{paymentScheduleBean.approveOperationRestructuringHandler}"
											 update=":cnfMsgCustomValidationSec"
											 icon="ui-approve"
											 />
											 						
							&nbsp;&nbsp;
							<p:commandButton id="cmbAnnulate"
											 rendered="#{userPrivilege.userAcctions.annular}"
											 value="#{msgs['btn.annulate']}"
											 action="#{paymentScheduleBean.annulateOperationRestructuringHandler}"
											 update=":cnfMsgCustomValidationSec"
											 icon="ui-remove"
											 />
						</ui:remove>		
					</p:panel>
				</td>
			</tr>
			<tr> 
				<td> 
					<p:outputPanel id="opnlPaymentScheduleResult">
					<p:panel id="pnlResult"
							 rendered="#{paymentScheduleBean.paymentScheduleDataModel != null}">
					
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
									   rendered="#{paymentScheduleBean.paymentScheduleDataModel.rowCount==0}"
									   style="font-weight:bold;"/>
					
						<p:dataTable id="dtbPaymentScheduleBean"
									 value="#{paymentScheduleBean.paymentScheduleDataModel}"
									 var="pay" paginator="true"
									 rows="#{cons['dtb.rows']}"
									 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"	
									 paginatorPosition="#{cons['dtb.pagination.position']}"
									 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
									 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									 emptyMessage="#{gmsgs['lbl.search.no.result']}"
									 rowKey="#{pay.idPaymentScheduleReqHi}"
									 rowIndexVar="rIndx" 
									 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ?  'even-row' : 'odd-row'}"
									 selection="#{paymentScheduleBean.paymentScheduleResultTO}"
									 rendered="#{paymentScheduleBean.paymentScheduleDataModel.rowCount>0}">
							
							<f:facet name="header">
								<h:outputText value="#{msgs['security.lbl.interest.payment.cronogram']}" 
											  rendered="#{paymentScheduleBean.paymentScheduleTO.interestPaymentSchedule}"
											  />
								<h:outputText value="#{msgs['security.lbl.amortization.payment.cronogram']}" 
											  rendered="#{paymentScheduleBean.paymentScheduleTO.amortizationPaymentSchedule}"
											  />
							</f:facet>	
							
							<p:column selectionMode="single" style="width:18px" />
							
							<p:column headerText="#{msgs['lbl.request.number']}"
									  styleClass="content-left">
								<h:outputText value="#{pay.idPaymentScheduleReqHi}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.registry.date']}"
									  styleClass="content-left">
								<h:outputText value="#{pay.registryDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['security.col.security.class.mnemonic']}"
									  styleClass="content-left">
								<h:outputText value="#{paymentScheduleBean.parametersTableMap[pay.securityClass].text1}" />
							</p:column>
							
							<p:column headerText="#{msgs['security.lbl.code']}"
									  styleClass="content-left">
								<p:commandLink id="cmlIdSecurityCode"
											   value="#{pay.idSecurityCodePk}"
											   actionListener="#{paymentScheduleBean.detailOperationHandler}"
											   action="paymentScheduleRestMgmttRule"
											   >
									<f:attribute name="payScheSelected" value="#{pay}"/>
								</p:commandLink>								
							</p:column>
							
							<p:column headerText="#{msgs['lbl.currency']}"
									  styleClass="content-left">
								<h:outputText value="#{paymentScheduleBean.parametersTableMap[pay.currency]}" />
							</p:column>
							
							<p:column headerText="#{msgs['security.col.current.nominal.value']}"
									  styleClass="content-right">
								<h:outputText value="#{pay.currentNominalValue}">
									<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
													 locale="#{cons['conv.number.locale']}"/>	
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['security.col.security.issuance.date']}"
									  styleClass="content-left">
								<h:outputText value="#{pay.issuanceDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['security.col.security.expiration.date']}"
									  styleClass="content-left">
								<h:outputText value="#{pay.expirationDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}"/>	
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['security.col.initial.security.term']}"
									  styleClass="content-right">
								<h:outputText value="#{paymentScheduleBean.getDaysBetween(pay.issuanceDate,pay.expirationDate)}">
									<f:convertNumber pattern="#{gconst['pattern.quantity']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['payment.cronogram.col.coupon.count']}"
									  styleClass="content-right"> 
								<h:outputText value="#{pay.couponsCount}"/>
							</p:column>
							
							<p:column headerText="#{msgs['col.state']}"
									  styleClass="content-left">
								
								<h:outputText value="#{paymentScheduleBean.parametersTableMap[pay.requestState]}"/>
							</p:column>
							
						</p:dataTable>
						
					</p:panel>
					</p:outputPanel>
				</td>
			</tr>		
		</table>
	</h:form>
	
	</ui:define>
</ui:composition>
</html>