<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
		  $(window).load(function(){
		   	setInitialFormState('#frmMgmDigitalSignature');
		  });
		</script>	
		
		<h:outputText value="#{digitalSignatureBean.viewOperationRegister ? msgs['digitalsignature.title.regiter'] : msgs['digitalsignature.title.modify']}" styleClass="title-page" />	
		
		<h:form id="frmMgmDigitalSignature" >
			<table width="100%"> 
				<tr>
					<td>
						<p:fieldset id="pnlDigitalSignatureInfo" legend="#{msgs['tdv.legend.register']}"> 
							<table width="100%">
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.type.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:selectOneMenu id="cboTypeSignature" value="#{digitalSignatureBean.digitalSignature.typeSignature}" 
												style="width:200px" label="#{msgs['digitalsignature.title.type.signature']}" > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{digitalSignatureBean.lstTypeSignature}" var="signatureType" 
															   itemValue="#{signatureType.parameterTablePk}" itemLabel="#{signatureType.parameterName}"/>
												<p:ajax update="@this msgcboTypeSignature "  event="change" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
											</p:selectOneMenu>
											<p:message display="icon" for="cboTypeSignature" id="msgcboTypeSignature"/>
										</h:panelGrid>										
									</td>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.active.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:selectOneMenu id="cboActive" value="#{digitalSignatureBean.digitalSignature.activeSignature}" 
												style="width:200px" label="#{msgs['digitalsignature.title.active.signature']}" > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{digitalSignatureBean.listActive}" var="signatureType" 
															   itemValue="#{signatureType.code}" itemLabel="#{signatureType.value}"/>	
												<p:ajax update="@this msgcboActive " event="change" />	
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>										
											</p:selectOneMenu>
											<p:message display="icon" for="cboActive" id="msgcboActive"/>
										</h:panelGrid>										
									</td>
								</tr>								
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.document.type.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:selectOneMenu id="cmbDocumentType" value="#{digitalSignatureBean.digitalSignature.documentType}"
												style="width:200px" label="#{msgs['digitalsignature.title.document.type.signature']}" >  
	     										 <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />    
									             <f:selectItems value="#{digitalSignatureBean.listDocumentType}" var="documentType"
									             	itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>
									             <p:ajax update="@this msgcmbDocumentType " event="change" />	
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>
											<p:message display="icon" for="cmbDocumentType" id="msgcmbDocumentType"/>
										</h:panelGrid>										
									</td>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.document.number.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:inputText  id="inputDocumentNumber" value="#{digitalSignatureBean.digitalSignature.documentNumber}"
												maxlength="12" label="#{msgs['digitalsignature.title.document.number.signature']}" >
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur" update="@this msginputDocumentNumber" />
											</p:inputText>
											<p:message display="icon" for="inputDocumentNumber" id="msginputDocumentNumber"/>
										</h:panelGrid>
											
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.name.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:inputText  id="inputName" value="#{digitalSignatureBean.digitalSignature.name}" 
												maxlength="50" size="55" label="#{msgs['digitalsignature.title.name.signature']}" >
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur" update="@this msginputName" />
											</p:inputText>
											<p:message display="icon" for="inputName" id="msginputName"/>
										</h:panelGrid>										
									</td>
									
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.first.last.name.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:inputText  id="inputFirstName" value="#{digitalSignatureBean.digitalSignature.firstLastName}"
												maxlength="50" size="55" label="#{msgs['digitalsignature.title.first.last.name.signature']}" >
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur" update="@this msginputFirstName" />
											</p:inputText>
											<p:message display="icon" for="inputFirstName" id="msginputFirstName"/>
										</h:panelGrid>										
									</td>
								</tr>
								
								<tr>
									<td>										
										<h:outputText value="#{msgs['digitalsignature.title.second.last.name.signature']}" />
									</td>
									<td>
										<p:inputText  id="inputSecondName" value="#{digitalSignatureBean.digitalSignature.secondLastName}" maxlength="50" size="55" />
									</td>
									
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.office.signature']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
											<p:inputText  id="inputOffice" value="#{digitalSignatureBean.digitalSignature.office}" 
												maxlength="150" size="55" label="#{msgs['digitalsignature.title.office.signature']}"  >
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur" update="@this msginputOffice" />
											</p:inputText>
											<p:message display="icon" for="inputOffice" id="msginputOffice"/>
										</h:panelGrid>
										
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.address.signature']}" />
									</td>
									<td>
										<p:inputText  id="inputAddress" value="#{digitalSignatureBean.digitalSignature.legalAddress}" maxlength="150" size="55"  />
									</td>
									
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.phone.signature']}"  />
									</td>
									<td>
										<p:inputText  id="inputPhone" value="#{digitalSignatureBean.digitalSignature.phoneNumber}" maxlength="15" size="25" />
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.fax.signature']}" />
									</td>
									<td>
										<p:inputText  id="inputFax" value="#{digitalSignatureBean.digitalSignature.faxNumber}" maxlength="15" size="25" />
									</td>									
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['digitalsignature.title.pass.signature']}" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0">
											<p:password  id="inputPassWord"  value="#{digitalSignatureBean.digitalSignature.passwordSignature}"
												maxlength="20" label="#{msgs['digitalsignature.title.pass.signature']}" styleClass="login-input" >
											</p:password>
											
										</h:panelGrid>
									</td>									
								</tr>
								
								<tr>
									<td colspan="4">
										<table width="50%" >
											<tr>
												<td>
													<p:fieldset id="fieldGroupSignature" legend="#{msgs['digitalsignature.title.file.signature']}">
														<table>
															<tr>
																<td>														
																	<h:outputText value="#{msgs['digitalsignature.title.file.signature']} (*)" styleClass="required-field" />
																</td>
																<td>
																	<p:outputPanel id="opnlSignature" style="width:300px" layout="block">
																		<p:fileUpload  	id="fuplFormSignature"									
																					   	widgetVar="fuplwSignature"
																		  			   	label="#{msgs['fupl.label']}"
																		  			   	mode="advanced" 
																		  			   	auto="true"																		  			   	
																					   	update="opnlSignature :opnlGenericDialogs"
																					   	fileUploadListener="#{digitalSignatureBean.fileUploadHandler}"
																					   	allowTypes="/(\\.|\\/)(#{digitalSignatureBean.fUploadFileTypesSignatureTypes})$/"																	   	
													  								   	sizeLimit="#{digitalSignatureBean.fUploadFileSizeImg}"
																					   	invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
																   						invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
																					   	>
																		</p:fileUpload>
																		<script type="text/javascript">									
																	    $(document).ready(function(){														
																			fileuploadValidate('fuplFormSignature');	
																			});		
																		</script>
																		<p:inputText type="hidden" value="#{digitalSignatureBean.fileSignatureName}" id="signatureImage"/>
																		<h:panelGrid columns="5">
																			<p:graphicImage id="imgLimitSignature" library="img" name="icons/help.png" styleClass="icon"/>
																			<p:tooltip for="imgLimitSignature">
																				<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
																					<f:param value="#{digitalSignatureBean.fUploadFileSizeImgDisplay}"/>
																					<f:param value="#{digitalSignatureBean.fUploadFileTypesSignatureDisplay}"/>				
																				</h:outputFormat>
																			</p:tooltip>									
																			<p:commandLink 	id="cmlRemoveSignature" styleClass="icon" 
																							update="opnlSignature" global="false" 
																						   	process="@this"
																						   	rendered="#{not empty digitalSignatureBean.digitalSignature.signature}"
																						   	actionListener="#{digitalSignatureBean.deleteFileSignatureTemp}">		
																				<p:graphicImage id="imgRemoveSignature" library="img" name="buttons/remove.png"/>
																			</p:commandLink>																			
																			<h:outputText value="#{digitalSignatureBean.fileSignatureName}" 
																				rendered="#{not empty digitalSignatureBean.digitalSignature.signature}"/>																			
																			<p:message for="fuplFormSignature" display="icon"/>																								
																		</h:panelGrid>
																	</p:outputPanel>
																</td>
																<td>
																	<ui:remove>
																		<p:panel id="pnlSignaturePreview" style="width:160px">
																			<p:graphicImage id="imgSignature" value="#{imgStreamerBean.fileSignatureImage}" cache="false"
																						rendered="#{imgStreamerBean.fileSignatureImage != null}"
																						height="100px" width="140px" />
																		</p:panel>
																	</ui:remove>
																</td>
															</tr>																
														</table>
													</p:fieldset>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
			</table>
			
			<table width="100%" border="0">
					<tr> 
        				<td	align="center"> 		        			
							<p:commandButton  id="cmbSave"  onclick="if(!isModifiedFormForSave('#frmMgmDigitalSignature', true))return false;" rendered="#{digitalSignatureBean.viewOperationModify}"
												 value="#{digitalSignatureBean.viewOperationRegister ? gmsgs['btn.save'] : gmsgs['btn.modify']}" icon="fa fa-save"
												 actionListener="#{digitalSignatureBean.beforeDigitalSignatureRegistrationListener}"
												 update="@form opnlDialogs"/>
											 
							<p:commandButton id="cmbProcessSave1" value="#{gmsgs['btn.save']}" icon="fa fa-save" update="@form opnlDialogs"										 
										 actionListener="#{digitalSignatureBean.beforeDigitalSignatureRegistrationListener}" 
										 rendered="#{digitalSignatureBean.viewOperationRegister}" />													
	        				
	        				<p:commandButton id="cmbBack" 							    
								     onclick="if(isModifiedFormForBack(this,'frmMgmDigitalSignature'))return false;"
								     action="search"		
									 value="#{gmsgs['btn.back']}" 
									 icon="fa fa-undo"
									 immediate="true"
									 ajax="false"/>	 
											        								
						</td>
	        		</tr>
			</table>
			
			<p:outputPanel id="opnlDialogs">
				<p:confirmDialog id="cnfSignatureAdm" header="#{headerMessageView}"
							 severity="alert" widgetVar="cnfwSignatureAdm" visible="true" 
							 rendered="false" closable="false" message="#{bodyMessageView}">
					<p:commandButton id="cmbConfirm" 
									 value="#{gmsgs['btn.yes']}"
									 actionListener="#{digitalSignatureBean.saveSignatureListener}"
									 update="pnlDigitalSignatureInfo opnlDialogs :opnlGenericDialogs"
									 oncomplete="PF('cnfwSignatureAdm').hide();" >
					</p:commandButton>
					<p:commandButton value="#{gmsgs['btn.no']}" id="idCmdBtnSigMgmtNo"
									 actionListener="#{digitalSignatureBean.hideConfirm}" update="opnlDialogs :opnlGenericDialogs"
									 oncomplete="PF('cnfwSignatureAdm').hide();"/>
				</p:confirmDialog>	
				
				
				<p:confirmDialog id="warningDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}"	closable="false"				
					severity="alert" widgetVar="widgWarningDialog">
					<p:commandButton value="#{msgs['btn.accept']}"
							oncomplete="PF('warningDialog').hide()" 
							process="@this" >
					</p:commandButton>		
				</p:confirmDialog>
								
			</p:outputPanel>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>