<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style>
			.cleanTable{
				background: none;
				border: none 0px;
				margin: 0px;
				padding: 0px;
			}
			.cleanTable tr td{
				background: none;
				border: none 0px;
				margin: 0px;
				padding: 0px;
			}
		</style>
		<h:outputText value="#{msgs['digitalsignature.title.admindigital']}" styleClass="title-page" />
		<h:form id="frmDigitalSignature">
			<div class="buttons-top-right"> 
				<p:commandButton value="#{msgs['tvd.legend.search']}" icon="fa fa-edit" rendered="#{userPrivilege.userAcctions.register}"
								action="#{digitalSignatureBean.registerDigitalSignatureListener}" process="@this" immediate="true" />
			</div>					
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldFiltros" legend="#{msgs['lbl.criteria.search']}">
							 <table class="table-fields">
							 	<tr>
							 		<td class="td-label-default">
										<h:outputText value="#{msgs['digitalsignature.title.type.signature']}" />
									</td>
									<td>
										<p:selectOneMenu id="cboTypeSignature" value="#{digitalSignatureBean.digitalSignatureTO.typeSignature}" style="width:200px"> 
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{digitalSignatureBean.lstTypeSignature}" var="signatureType" 
														   itemValue="#{signatureType.parameterTablePk}" itemLabel="#{signatureType.parameterName}"/>												
										</p:selectOneMenu>
									</td>
									
									<td class="td-label-default">
										<h:outputText value="#{msgs['digitalsignature.title.active.signature']}" />
									</td>
									<td>
										<p:selectOneMenu id="cboActive" value="#{digitalSignatureBean.digitalSignatureTO.activeSignature}" style="width:200px" > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{digitalSignatureBean.listActive}" var="signatureType" 
															   itemValue="#{signatureType.code}" itemLabel="#{signatureType.value}"/>																						
										</p:selectOneMenu>
									</td>									
							 	</tr>
							 	<tr>
							 		<td>
										<h:outputText value="#{msgs['digitalsignature.title.name.signature']} " />
									</td>
									<td>
										<p:inputText  id="inputName" value="#{digitalSignatureBean.digitalSignatureTO.name}" maxlength="50" size="55" />									
									</td>
							 	</tr>
							 	<tr>
							 		<td colspan="4" align="center" >
							 			<p:commandButton id="cmbSearch" icon="fa fa-search" rendered="#{userPrivilege.userAcctions.search}" 
														 value="#{gmsgs['btn.search']}"
														 actionListener="#{digitalSignatureBean.searchDigitalSignatureListener}"
														 update="@form" process="@form"
														 onclick="wDtbResultSub.getPaginator().setPage(0);" />
											&nbsp;&nbsp;
										<p:commandButton id="cmbClean" icon="fa fa-trash"
														 value="#{gmsgs['btn.clean']}"
														 actionListener="#{digitalSignatureBean.cleanSearchDigitalSignatureListener}"
														 update="@form"/>
							 		</td>
							 	</tr>
							 </table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td> 
						<p:outputPanel id="opnlPrivilegeOnDataTable" rendered="#{digitalSignatureBean.gdmDigitalSignature != null and digitalSignatureBean.gdmDigitalSignature.rowCount>=1}">			
								<arkPriv:privileges id="idArkPrivileges"
								 actionModify="#{digitalSignatureBean.digitalSignatureModificationAction}"								
								 actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>	
						</p:outputPanel>
					</td>
				</tr>
				
				<tr>
					<td>
						<p:outputPanel id="opnlResult"> 
							<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" id="pnlResult" rendered="#{digitalSignatureBean.gdmDigitalSignature != null}">
								
								<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOpnlNoResult"
										rendered="#{digitalSignatureBean.gdmDigitalSignature.rowCount==0}" styleClass="label-bolder"/>
								
								<p:dataTable 	id="dtbResultSub" 
												widgetVar="wDtbResultSub"
												value="#{digitalSignatureBean.gdmDigitalSignature}"
												var="subsi"
												paginator="true" rows="10" paginatorPosition="top"
												currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}" 
									            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"  
									            rowsPerPageTemplate="5,10,15" 
									            rowKey="#{subsi.idDigitalSignaturePk}"
									            selection="#{digitalSignatureBean.digitalSignature}"												
												rendered="#{digitalSignatureBean.gdmDigitalSignature.rowCount >= 1}" >
												
										<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode"/> 
																										
										<p:column styleClass="content-center" sortBy="#{subsi.idDigitalSignaturePk}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.search.idsignature']}" /> 
											</f:facet>
											<p:commandLink value="#{subsi.idDigitalSignaturePk}" actionListener="#{digitalSignatureBean.digitalSignatureDetail}"
																   action="detailDigitalSignature">
												<f:attribute name="digSigSelected" value="#{subsi}"/>
											</p:commandLink>													
										</p:column>																								
										<p:column sortBy="#{subsi.name}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.title.name.signature']}"/>
											</f:facet>
											<h:outputText value="#{subsi.name} - #{subsi.firstLastName}" />														
										</p:column>
										
										<p:column sortBy="#{subsi.office}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.title.office.signature']}"/>
											</f:facet>
											<h:outputText value="#{subsi.office}" />														
										</p:column>	
										
										<p:column sortBy="#{subsi.legalAddress}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.title.address.signature']}"/>
											</f:facet>
											<h:outputText value="#{subsi.legalAddress}" />														
										</p:column>	
										
										<p:column sortBy="#{subsi.descTypeSignature}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.title.type.signature']}"/>
											</f:facet>
											<h:outputText value="#{subsi.descTypeSignature}" />														
										</p:column>	
										
										<p:column sortBy="#{subsi.descActiveSignature}">
											<f:facet name="header">
												<h:outputText value="#{msgs['digitalsignature.title.active.signature']}"/>
											</f:facet>
											<h:outputText value="#{subsi.descActiveSignature}" />														
										</p:column>	
												
										<f:facet name="footer"> 
							             	<div style="width:100%; text-align:left">        
							             		<h:outputLabel value="#{digitalSignatureBean.gdmDigitalSignature.rowCount} #{msgs['lbl.results']}" 
							             			style="font-weight:bold;"/>
							             	</div>
							            </f:facet>
							            					            												            
								</p:dataTable>
								
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
			
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>

