<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core">
  
<h:head>
<title>#{gmsgs['message.title.session.expired']}</title>
<!--[if IE]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<meta http-equiv="Cache-Control"  content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma"  content="No-cache"/>
	<meta http-equiv="Expires"  content="0"/>	
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
</h:head>
 <h:body > 
 	<h:form id="error" prependId="false">
		<div class="error-app">
			<div class="error-logo">
				<h:graphicImage library="img" name="logo/logo_login.png"  id="idImgProdLogo" styleClass="logo" alt="CAVAPY" 
						rendered="#{errorManagementBean.isUatOrProd}"/>
				<h:graphicImage library="img" name="logo/login_pradera.png"  id="idImgPraderaLogo" styleClass="logo" alt="PRADERA" 
						rendered="#{!errorManagementBean.isUatOrProd}"/>
			</div>
			<div class="error-form">
				<div class="error-form-wrapper">
					<div class="error-code">
						<h1>#{gmsgs['message.error.expired.session']}</h1>
					</div>
					<div class="error-message">
						<p>#{gmsgs['message.sessionexpired.page']}</p>
						<h:commandLink value="#{gmsgs['message.back.log.error']}" action="loginPage" target="_top" styleClass="error-link"/>
					</div>					
				</div>					
			</div>
			<div class="error-footer">
				<ul>						
					<li>&#169; #{gmsgs['copyright.message']}</li>
				</ul>
			</div>
		</div>
	</h:form>  
</h:body>
</html>