<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:detailRepresentative="http://java.sun.com/jsf/composite/legalRepresentativeComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	
	
<h:outputText value="#{msgs['adm.holder.search.details.title']}"  styleClass="title-page"/>
	
		<h:form id="frmHolderDetails">
			<table width="100%">
				
				<tr>
					<td>
					<table width="100%">
								<tr>
									<td>
									<p:outputPanel id="outputPanelGeneralHolder">
					                <p:tabView id="tabView"> 
									<p:tab id="personalDataTab" title="#{msgs['adm.holders.register.holder.lbl.personal.data']}">
										<table width="100%">  
											<tr>
												<td>
												<p:outputPanel id="outputPanelRegisterData">
												<p:fieldset id="fieldRegisterData" legend="#{msgs['adm.holders.register.holder.lbl.register.data']}" toggleable="false">
												
												<table>												
												<tr>												 
												  <td width="160px">
												    <h:outputText rendered="#{searchHolderMgmtBean.holder.idHolderPk !=null}" value="#{msgs['adm.holders.register.holder.lbl.code.cui']}" />
												  </td>
												  <td>
													<h:outputText rendered="#{searchHolderMgmtBean.holder.idHolderPk !=null}" value="#{searchHolderMgmtBean.holder.idHolderPk}"/>
												  </td>
											    </tr>
											    <tr>
												<td width="160px" >
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.participant.creator']}" rendered="false"/>
												</td>
												<td>
													<p:selectOneMenu disabled="true" label="#{msgs['adm.holders.register.holder.lbl.participant.creator']}" value="#{searchHolderMgmtBean.participant.idParticipantPk}" id="cmbParticipantCreator"
															rendered="false">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>  
											            <f:selectItems var="participant"  value="#{searchHolderMgmtBean.listParticipant}" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
								                    </p:selectOneMenu>
												</td>
												
												<td width="160px" style="visibility:hidden;">
													<h:outputText value="#{msgs['adm.holders.register.holder.lbl.indCanNegotiate']}" />
												</td>
												<td style="visibility:hidden;">
													<p:selectOneMenu label="#{msgs['adm.holders.register.holder.lbl.indCanNegotiate']}"
																	 value="#{searchHolderMgmtBean.holder.indCanNegotiate}" 
																	 disabled="true"
																	 style="width:130px" >
														<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}" noSelectionOption="true" />
											            <f:selectItems var="bool" value="#{searchHolderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											        </p:selectOneMenu>
												</td>
												<td width="150px" style="visibility:hidden;"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.holder.sirtex']}" /></td>
												<td style="visibility:hidden;">
													<p:selectOneMenu label="#{msgs['adm.holders.register.holder.lbl.holder.sirtex']}"
																	value="#{searchHolderMgmtBean.holder.indSirtexNeg}" disabled="true" style="width:130px" >
														<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}" noSelectionOption="true" />
													    <f:selectItems var="bool" value="#{searchHolderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
													</p:selectOneMenu>
												</td>												
											</tr>
											  <tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.person.type']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPersonType" disabled="true" style="width:160px" value="#{searchHolderMgmtBean.holder.holderType}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="personType" value="#{searchHolderMgmtBean.listPersonType}" itemLabel="#{personType.parameterName}" itemValue="#{personType.parameterTablePk}"  />
											        </p:selectOneMenu>
												</td>
											<td width="160px"> 
												    <h:outputText rendered="#{searchHolderMgmtBean.flagHolderJuridicPerson}" value="#{msgs['adm.holders.register.holder.lbl.juridic.class']}"/>												
												   </td>												   
												   <td width="180px">
													<p:selectOneMenu id="cmbJuridicPerson" disabled="true" rendered="#{searchHolderMgmtBean.flagHolderJuridicPerson}" style="width:160px" value="#{searchHolderMgmtBean.holder.juridicClass}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="juridicClass" value="#{searchHolderMgmtBean.listJuridicClass}" itemLabel="#{juridicClass.parameterName}"	itemValue="#{juridicClass.parameterTablePk}" />										            
											        </p:selectOneMenu>
											    </td>	
																							           		
											</tr>
											<tr>
											<td>
												<h:outputText rendered="#{searchHolderMgmtBean.holder.relatedCui!=null}" value="#{msgs['adm.holders.register.holder.lbl.related.cui']}"/>												
												</td>
												<td>
												<p:inputText size="17" disabled="true" rendered="#{searchHolderMgmtBean.holder.relatedCui!=null}" value="#{searchHolderMgmtBean.holder.relatedCui}"/>
												</td>
											<td>
											<h:outputText rendered="#{searchHolderMgmtBean.holder.fundAdministrator!=null}" value="#{msgs['adm.holders.register.holder.lbl.fund.type']}"/>												
											</td>
											<td>
											<p:inputText maxlength="5" disabled="true" rendered="#{searchHolderMgmtBean.holder.fundAdministrator!=null}" value="#{searchHolderMgmtBean.holder.fundAdministrator}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.mnemonic!=null}" value="#{msgs['adm.holders.register.holder.lbl.fund.administrator']}"/>												
											</td>
											<td>
											<p:inputText maxlength="5" disabled="true" rendered="#{searchHolderMgmtBean.holder.mnemonic!=null}" value="#{searchHolderMgmtBean.holder.mnemonic}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.transferNumber!=null}" value="#{msgs['adm.holders.register.holder.lbl.tranfer.number']}"/>												
											</td>
											<td>
											<p:inputText id="inputTransferNumber" disabled="true" maxlength="8" label="#{msgs['adm.holders.register.holder.lbl.tranfer.number']}" rendered="#{searchHolderMgmtBean.holder.transferNumber!=null}" value="#{searchHolderMgmtBean.holder.transferNumber}"/>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural1">
																		
											<p:fieldset id="fieldGroupNatural1" legend="#{msgs['adm.holders.register.holder.lbl.natural.data']}" rendered="#{searchHolderMgmtBean.flagHolderNaturalPerson}">
											
											<table>											
											<tr>
												<td><h:outputText value="#{msgs['adm.holders.register.holder.lbl.inability']}" />&nbsp;&nbsp;&nbsp;
													<p:selectBooleanCheckbox disabled="true" value="#{searchHolderMgmtBean.holder.indicatorDisabled}">
													</p:selectBooleanCheckbox>													
												</td>
												<td><h:outputText value="#{msgs['adm.holders.register.holder.lbl.minor']}" />&nbsp;&nbsp;&nbsp;
													<p:selectBooleanCheckbox disabled="true" value="#{searchHolderMgmtBean.holder.indicatorMinor}">
													</p:selectBooleanCheckbox>
												</td>
											</tr>
											<tr>
												<td width="160px"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.nationality']}" /></td>
												<td width="280px">
													<p:selectOneMenu id="cmbNationality" disabled="true" style="width:260px" value="#{searchHolderMgmtBean.holder.nationality}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="nationality" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{nationality.name}" itemValue="#{nationality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.resident']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu style="width:160px" disabled="true" id="cmbResident" value="#{searchHolderMgmtBean.holder.indResidence}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="bool" value="#{searchHolderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											         </p:selectOneMenu>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country.resident']}" />
												</td>
												<td width="280px"> 
													<p:selectOneMenu style="width:260px" id="cmbCountryResident" value="#{searchHolderMgmtBean.holder.legalResidenceCountry}" 
																	disabled="true" >  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="countryResident" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{countryResident.name}" itemValue="#{countryResident.idGeographicLocationPk}"/>
											       </p:selectOneMenu>
												</td>	
												
												<td width="160px">
													<h:outputText value="#{msgs['adm.holders.register.holder.lbl.birth.date']}" />
												</td>
												<td width="180px">												
													<p:calendar disabled="true" label="#{msgs['adm.holders.register.holder.lbl.birth.date']}"
																	    showButtonPanel="true" value="#{searchHolderMgmtBean.holder.birthDate}" 
																	    navigator="true" id="trCal" pattern="#{msgs['dateFormat']}">
													</p:calendar>													
												</td>											
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type']}" />
												</td>
												<td width="330px">
												<p:selectOneMenu id="cmbDocumentType" disabled="true" style="width:310px" value="#{searchHolderMgmtBean.holder.documentType}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{searchHolderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>					             
										        </p:selectOneMenu>  
												</td>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number']}"/></td>
												<td>
												<h:outputText  id="inputDocumentNumber" value="#{searchHolderMgmtBean.holder.documentNumber}"/>												
												</td>
												<td width="160px" style="visibility:hidden;">
									            <h:outputText id="labelEmissionSource"  rendered="#{searchHolderMgmtBean.holder.documentSource!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" />
												</td>
												<td width="130px" style="visibility:hidden;">
												<p:selectOneMenu disabled="true" rendered="#{searchHolderMgmtBean.holder.documentSource!=null}" id="cmbDocumentSource" label="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" style="width:130px" value="#{searchHolderMgmtBean.holder.documentSource}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />    
										             <f:selectItems var="documentEmissionSource" value="#{searchHolderMgmtBean.listDocumentSource}" itemValue="#{documentEmissionSource.parameterTablePk}" itemLabel="#{documentEmissionSource.parameterName}"/>					             
										        </p:selectOneMenu>  
											    </td>															
											</tr>
											<tr>
											<td width="160px">
												<p:outputPanel id="oplLabelEmissionDate">
									            	<h:outputText id="labelEmissionDate"  rendered="#{searchHolderMgmtBean.holder.documentIssuanceDate!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.date']}" />
												</p:outputPanel>												
											</td>
											<td>
												<p:outputPanel id="oplcmbEmissionDate">
												 <p:selectOneMenu id="cmbEmissionDate" rendered="#{searchHolderMgmtBean.holder.documentIssuanceDate!=null}" 
												 		label="#{msgs['adm.holders.register.holder.lbl.document.emission.date']}" disabled="true"
												 		style="width:60px" value="#{searchHolderMgmtBean.holder.documentIssuanceDate}">  
											            <f:selectItem itemLabel="-------"   />   
											            <f:selectItems var="emissionDateType" value="#{searchHolderMgmtBean.listDocumentIssuanceDate}" itemValue="#{emissionDateType.value}" itemLabel="#{emissionDateType.value}"/>
											        </p:selectOneMenu>
											   </p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and searchHolderMgmtBean.holder.nitNaturalPerson!=null}" value="#{msgs['adm.holders.register.holder.lbl.nit.natural.person']}"/>
											</td>
											<td>
													<p:inputText  id="inputNitPersonNatural" 
													    disabled="true"
													    rendered="#{false and searchHolderMgmtBean.holder.nitNaturalPerson!=null}"
														label="#{msgs['adm.holders.register.holder.lbl.nit.natural.person']}" 
														value="#{searchHolderMgmtBean.holder.nitNaturalPerson}">
												    </p:inputText>												    
											</td>												
											</tr>
											
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.second.nationality']}" />
												</td>
												<td width="280px">
													<p:selectOneMenu disabled="true" id="cmbSecondNationality" style="width:260px" value="#{searchHolderMgmtBean.holder.secondNationality}">  
											           <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											           <f:selectItems var="secondNationality" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{secondNationality.name}" itemValue="#{secondNationality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>											
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type.second.nationality']}" />
												</td>
												<td width="330px">
												<p:selectOneMenu id="cmbSecondDocumentType" disabled="true" style="width:310px" value="#{searchHolderMgmtBean.holder.secondDocumentType}">  
										             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{searchHolderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>
											    </p:selectOneMenu>  
												</td>
												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number.second.nationality']}" />
												</td>
												<td>
													<h:outputText id="inputSecondDocumentNumber" value="#{searchHolderMgmtBean.holder.secondDocumentNumber}"/>													
												</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>		
											</td>
											</tr>										
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural2">
											<p:fieldset id="fieldGroupNatural2" legend="#{msgs['adm.holders.register.holder.lbl.personal.data']}" rendered="#{searchHolderMgmtBean.flagHolderNaturalPerson}">
												
												<table>
													<tr>
														<td>
															<table>
																<tr>
																	<td width="160px"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.names']}"/></td>
																	<td colspan="3">
																		<h:outputText id="inputNames" size="50" value="#{searchHolderMgmtBean.holder.name}">
																	    </h:outputText>												 
																	</td>												
																</tr>
																<tr>
																	<td width="160px">
																	<h:outputText value="#{msgs['adm.holders.register.holder.lbl.first.lastname']}"/>
																	</td>
																	<td width="180px">
																		<h:outputText id="inputFirstLastName" value="#{searchHolderMgmtBean.holder.firstLastName}"/>												   
																	</td>												
																	<td width="160px">
																	<h:outputText value="#{msgs['adm.holders.register.holder.lbl.second.lastname']}" />
																	</td>
																	<td width="180px">
																		<h:outputText id="inputSecondLastName" value="#{searchHolderMgmtBean.holder.secondLastName}"/>													
																	</td>																				              
																</tr>
																<tr>
																	<td width="160px">
																	<h:outputText value="#{msgs['adm.holders.register.holder.lbl.sex']}"/>
																	</td>
																	<td width="180px">
																		<p:selectOneMenu id="cmbSex" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.sex']}" style="width:160px" value="#{searchHolderMgmtBean.holder.sex}">  
																            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
																            <f:selectItems var="sexType" value="#{searchHolderMgmtBean.listSex}" itemValue="#{sexType.parameterTablePk}" itemLabel="#{sexType.parameterName}"/>
																        </p:selectOneMenu>
																	</td>												
																</tr>
																														<tr>
																	<td width="160px">
																	<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.activity']}"/>
																	</td>
																	<td width="180px">
																		<p:selectOneMenu id="cmbEconomicActivityNatural" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" style="width:160px" value="#{searchHolderMgmtBean.holder.economicActivity}">  
																            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
																            <f:selectItems var="economicActivity" value="#{searchHolderMgmtBean.listEconomicActivityNaturalPerson}" itemValue="#{economicActivity.parameterTablePk}" itemLabel="#{economicActivity.parameterName}"/>
																        </p:selectOneMenu>
																	</td>												
																</tr>		
																<tr>
																<td width="160px">
																<h:outputText
																 rendered="#{false and searchHolderMgmtBean.holder.marriedLastName!=null}"
																 value="#{msgs['adm.holders.register.holder.lbl.married.lastname']}"/>
																</td>
																<td>
																<p:inputText id="inputMarriedLastName" 
																	rendered="#{false and searchHolderMgmtBean.holder.marriedLastName!=null}"
																	disabled="true"
																	value="#{searchHolderMgmtBean.holder.marriedLastName}">
																	<p:keyFilter regEx="#{cons['exp.regular.alphabetic.name.lastname']}"/>
																</p:inputText>
																</td>
																</tr>
																															
															</table>
														</td>
														
														<td>
															
															<table >
																<tr>
																	<td width="50%">
																		<p:fieldset id="fieldGroupNaturalPhoto" legend="#{msgs['adm.holders.register.holder.lbl.personal.photo']}"
																			rendered="#{imgStreamerBean.filePhotoImage != null}">
																			<table>
																				<tr>																																								
																					<td>
																						<p:panel id="pnlPhotoPreview" style="width:160px">
																							<p:graphicImage value="#{imgStreamerBean.filePhotoImage}" cache="false"
																										rendered="#{imgStreamerBean.filePhotoImage != null}"
																										height="100px" width="140px" />
																						</p:panel>
																					</td>
																				</tr>																
																			</table>
																		</p:fieldset>
																	</td>
																	<td width="50%">
																			<h:outputText value="#{searchHolderMgmtBean.holder.filePhotoName}" />
																			<p:commandLink id="cmlViewFilePhoto" styleClass="icon" ajax="false" immediate="true"
											  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
											  									rendered="#{imgStreamerBean.filePhotoImage != null}">			   
											  									<p:graphicImage id="imgViewPhoto" library="img" title="VER" name="icons/loupe.png"/>
											  									<p:fileDownload value="#{searchHolderMgmtBean.getStreamedContentFilePhoto()}"/>
																			</p:commandLink>
																		</td>
																	<ui:remove>
																	<td width="10%">
																		<p:fieldset id="fieldGroupNaturalSigning" legend="#{msgs['adm.holders.register.holder.lbl.personal.signing']}" 
																			rendered="#{imgStreamerBean.fileSigningImage != null or imgStreamerBean.streamedContentFileSigning != null }">
																			<table>																
																				<tr>																																								
																					<td>																						
																						<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"  rendered="#{imgStreamerBean.streamedContentFileSigning != null}"																								
																								process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">			   
																									<p:graphicImage id="imgView" library="img" title="ver" name="icons/loupe.png"/>
																									<p:fileDownload value="#{imgStreamerBean.streamedContentFileSigning}" />
																						</p:commandLink>																					
																						<p:panel id="pnlSigningPreview" style="width:160px">
																							<p:graphicImage value="#{imgStreamerBean.fileSigningImage}" cache="false"
																										rendered="#{imgStreamerBean.fileSigningImage != null}"
																										height="100px" width="140px" />
																						</p:panel>
																					</td>
																				</tr>
																			</table>
																		</p:fieldset>
																	</td>
																	</ui:remove>
																</tr>
															</table>															
														</td>
														
													</tr>
												</table>
												
																							
											</p:fieldset>
											</p:outputPanel>											
											</td>											
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural3">
											<p:fieldset id="fieldGroupNatural3" legend="#{msgs['adm.holders.register.holder.lbl.main.activity.data']}" 
											rendered="#{false and searchHolderMgmtBean.flagHolderNaturalPerson
														and (searchHolderMgmtBean.holder.mainActivity!=null
														or searchHolderMgmtBean.holder.jobSourceBusinessName!=null
														or searchHolderMgmtBean.holder.jobDateAdmission!=null
														or searchHolderMgmtBean.holder.appointment!=null
														or searchHolderMgmtBean.holder.jobAddress!=null
														or searchHolderMgmtBean.holder.officePhoneNumber!=null
														or searchHolderMgmtBean.holder.totalIncome!=null)}">
											<table>
											<tr>
											<td width="160px">
												<h:outputText 
												rendered="#{searchHolderMgmtBean.holder.mainActivity!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.main.activity']}"/>
											</td>
											<td>
											<p:inputText id="inputMainActivity"
											 disabled="true"
											 rendered="#{searchHolderMgmtBean.holder.mainActivity!=null}"
											 value="#{searchHolderMgmtBean.holder.mainActivity}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
												<h:outputText 
												rendered="#{searchHolderMgmtBean.holder.jobSourceBusinessName!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.job.source.business.name']}"/>
											</td>
											<td>
											<p:inputText id="inputBusinessName" 
											disabled="true"
											rendered="#{searchHolderMgmtBean.holder.jobSourceBusinessName!=null}"
											value="#{searchHolderMgmtBean.holder.jobSourceBusinessName}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.jobDateAdmission!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.job.source.date.admission']}"/>
											</td>
											<td width="140px">
											<p:calendar 
											rendered="#{searchHolderMgmtBean.holder.jobDateAdmission!=null}"
											disabled="true"
											            label="#{msgs['adm.holders.register.holder.lbl.job.source.date.admission']} "
														value="#{searchHolderMgmtBean.holder.jobDateAdmission}" maxlength="10" size="10"
														id="calDateAdmission" showOn="both" navigator="true" readonlyInput="true" yearRange="1900:c+c"
														pattern="#{msgs['dateFormat']}">
											</p:calendar>
											</td>																						
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.appointment!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.appointment']}"/>
											</td>
											<td>
											<p:inputText id="inputAppointment" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.appointment!=null}"
											    value="#{searchHolderMgmtBean.holder.appointment}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.jobAddress!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.job.address']}"/>
											</td>
											<td colspan="4">
												<p:inputText size="50" maxlength="150"
												   disabled="true"
												   rendered="#{searchHolderMgmtBean.holder.jobAddress!=null}"	 
												   label="#{msgs['adm.holders.register.holder.lbl.job.address']}" 
												   id="inputJobAddress" styleClass="large-input-text-width" 
												   value="#{searchHolderMgmtBean.holder.jobAddress}">
												</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.officePhoneNumber!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.office.telephone']}"/>
											</td>
											<td width="220px">
												<p:inputText maxlength="15"
												 disabled="true"
												 rendered="#{searchHolderMgmtBean.holder.officePhoneNumber!=null}"
												 value="#{searchHolderMgmtBean.holder.officePhoneNumber}"  >
												</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{searchHolderMgmtBean.holder.totalIncome!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.total.income']}"/>
											</td>
											<td width="180px">
												<p:selectOneMenu 
												rendered="#{searchHolderMgmtBean.holder.totalIncome!=null}"
												disabled="true"
												id="cmbTotalIncome" label="#{msgs['adm.holders.register.holder.lbl.total.income']}" style="width:160px" 
												value="#{searchHolderMgmtBean.holder.totalIncome}">  
											       <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />   
											       <f:selectItems var="totalIncome" value="#{searchHolderMgmtBean.listTotalIncome}" itemValue="#{totalIncome.parameterTablePk}" itemLabel="#{totalIncome.parameterName}"/>
											   </p:selectOneMenu>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural4">
											<p:fieldset id="fieldGroupNatural4" legend="#{msgs['adm.holders.register.holder.lbl.references.pcf.data']}" 
											rendered="#{false and searchHolderMgmtBean.flagHolderNaturalPerson
											and (searchHolderMgmtBean.holder.perRefFullName!=null
											or searchHolderMgmtBean.holder.perRefLandLine!=null
											or searchHolderMgmtBean.holder.perRefCellPhone!=null
											or searchHolderMgmtBean.holder.comerRefBusinessName!=null
											or searchHolderMgmtBean.holder.comerRefLandLine!=null)}">
											<table>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.perRefFullName!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.fullname']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefFullName" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.perRefFullName!=null}"
											    value="#{searchHolderMgmtBean.holder.perRefFullName}">
												<p:keyFilter regEx="#{cons['exp.regular.alphabetic.name.lastname']}"/>
												<p:ajax event="blur" update="@this" process="@this"/>
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.perRefLandLine!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.landline']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefLandLine" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.perRefLandLine!=null}"
											    value="#{searchHolderMgmtBean.holder.perRefLandLine}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.perRefCellPhone!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.cellphone']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefCellPhone" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.perRefCellPhone!=null}"
											    value="#{searchHolderMgmtBean.holder.perRefCellPhone}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.comerRefBusinessName!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.comercial.business.name']}"/>
											</td>
											<td>
											<p:inputText id="inputComerRefBusinessName" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.comerRefBusinessName!=null}"
											    value="#{searchHolderMgmtBean.holder.comerRefBusinessName}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.comerRefLandLine!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.comercial.landlime']}"/>
											</td>
											<td>
											<p:inputText id="inputComerRefLandLine" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.comerRefLandLine!=null}"
											    value="#{searchHolderMgmtBean.holder.comerRefLandLine}">
											</p:inputText>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural5">
											<p:fieldset id="fieldGroupNatural5" legend="#{msgs['adm.holders.register.holder.lbl.relationship.entity.public.data']}" 
											rendered="#{false and searchHolderMgmtBean.flagHolderNaturalPerson
											and (searchHolderMgmtBean.holder.entityPublicAppointment!=null)}">
											<table>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{searchHolderMgmtBean.holder.entityPublicAppointment!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.entity.public.appointment']}"/>
											</td>
											<td>
											<p:inputText id="inputEntityPublicAppointment" 
											    disabled="true"
											    rendered="#{searchHolderMgmtBean.holder.entityPublicAppointment!=null}"
											    value="#{searchHolderMgmtBean.holder.entityPublicAppointment}">
											</p:inputText>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelPep">
											<p:fieldset id="fieldGroupPep" legend="#{msgs['adm.holders.register.holder.lbl.actives.laundering.data']}">
											<table>
											<tr>
											<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.is.pep']}" />&nbsp;&nbsp;&nbsp;
												<p:selectBooleanCheckbox disabled="true" value="#{searchHolderMgmtBean.indicatorPep}"/>												
											</td>
											</tr>
												<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.motive']} "/>
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPepMotive" disabled="true" style="width:390px" value="#{searchHolderMgmtBean.pepPerson.category}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="motive" value="#{searchHolderMgmtBean.listCategoryPep}" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}" />
											            
											         </p:selectOneMenu>
											    </td>										    								               											    
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.role']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPepRole" disabled="true"
																				style="width:390px"
																				value="#{searchHolderMgmtBean.pepPerson.role}">
																				<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
																					itemValue="-1" />
																				<f:selectItems var="role" value="#{searchHolderMgmtBean.listRolePep}" itemValue="#{role.parameterTablePk}" itemLabel="#{role.parameterName}" />
											            																										
													</p:selectOneMenu>
												</td>									               
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="Grado" rendered="#{searchHolderMgmtBean.pepPerson.category eq searchHolderMgmtBean.linkForFamily}"/>
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPepGrade" disabled="true" rendered="#{searchHolderMgmtBean.pepPerson.category eq searchHolderMgmtBean.linkForFamily}"
																				style="width:390px"
																				value="#{searchHolderMgmtBean.pepPerson.grade}">
																				<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
																					itemValue="-1" />
																				<f:selectItems var="grade" value="#{searchHolderMgmtBean.listPepGrade}" itemValue="#{grade.parameterTablePk}" itemLabel="#{grade.parameterName}" />
											            																										
													</p:selectOneMenu>
												</td>									               
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="Nombre del PEP" rendered="#{searchHolderMgmtBean.pepPerson.category eq searchHolderMgmtBean.linkForFamily}"/>
												</td>
												<td width="180px">
												    <p:inputText id="inputPepRelatedName" disabled="true"  label="Nombre del PEP" rendered="#{searchHolderMgmtBean.pepPerson.category eq searchHolderMgmtBean.linkForFamily}"
												    value="#{searchHolderMgmtBean.pepPerson.pepRelatedName}">
												    </p:inputText>	
												</td>									               
											</tr>																						
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.period.performance']} " />
												</td>
											</tr>
											<tr>
											    <td width="160px">
											    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.from']}"/>
											    </td>	
												<td width="200px">
												<p:calendar disabled="true" label="#{msgs['adm.holders.register.holder.lbl.from']} "
														value="#{searchHolderMgmtBean.pepPerson.beginingPeriod}" 
														id="calInitial" showOn="button"
														pattern="#{msgs['dateFormat']}"/>
												</td>
												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.to']}" />
												</td> 
												<td width="200px"><p:calendar disabled="true" 
														value="#{searchHolderMgmtBean.pepPerson.endingPeriod}" 
														id="calEnd" showOn="button" label="#{msgs['adm.holders.register.holder.lbl.to']}"
														pattern="#{msgs['dateFormat']}"/>
												</td>																					                
											</tr>
											</table>
											<table>
											<tr>
												<p:separator/>											
											</tr>
											<tr>
											    <td width="160px">
											    <h:outputText value="FATCA"/>
											    </td>											
												<td width="200px">
														<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
													        <p:selectOneRadio id="checkFatca" unselectable="true" disabled="true" value="#{searchHolderMgmtBean.holder.indFatca}">
													            <f:selectItem itemLabel="SÍ" itemValue="1" />
													            <f:selectItem itemLabel="NO" itemValue="0" />
													        </p:selectOneRadio>
													    </h:panelGrid>	
												</td>											
											</tr>
											</table>										
											</p:fieldset>
											</p:outputPanel>											
											</td>
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic1">
											<p:fieldset id="fieldGroupJuridic1" legend="#{msgs['adm.holders.register.holder.lbl.juridic.data']}" rendered="#{searchHolderMgmtBean.flagHolderJuridicPerson}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.nationality']}" />
												</td>
												<td width="280px">
													<p:selectOneMenu disabled="true" id="cmbNationality2" style="width:260px" value="#{searchHolderMgmtBean.holder.nationality}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="nationality2" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{nationality2.name}" itemValue="#{nationality2.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.resident']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu style="width:160px" disabled="true" id="cmbResident2" value="#{searchHolderMgmtBean.holder.indResidence}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="bool" value="#{searchHolderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country.resident']}"/>
												</td>
												<td width="280px"> 
													<p:selectOneMenu style="width:260px" id="cmbCountryResident2" value="#{searchHolderMgmtBean.holder.legalResidenceCountry}" 
																	disabled="true" >  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="countryResident2" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{countryResident2.name}" itemValue="#{countryResident2.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type']}" />
												</td>
												<td width="280px">
												<p:selectOneMenu id="cmbDocumentType2" disabled="true" style="width:260px" value="#{searchHolderMgmtBean.holder.documentType}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{searchHolderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>					             
										        </p:selectOneMenu>  
												</td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number']}" />
												</td>
												<td><h:outputText id="inputDocumentNumber2" value="#{searchHolderMgmtBean.holder.documentNumber}"/></td>												
											    <td width="160px">
									            <h:outputText id="labelEmissionSource2"  rendered="#{searchHolderMgmtBean.holder.documentSource!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" />
												</td>
												<td width="130px">
												<p:selectOneMenu disabled="true" rendered="#{searchHolderMgmtBean.holder.documentSource!=null}" id="cmbDocumentSource2" label="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" style="width:130px" value="#{searchHolderMgmtBean.holder.documentSource}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />    
										             <f:selectItems var="documentEmissionSource" value="#{searchHolderMgmtBean.listDocumentSource}" itemValue="#{documentEmissionSource.parameterTablePk}" itemLabel="#{documentEmissionSource.parameterName}"/>					             
										        </p:selectOneMenu>  
											    </td>
											</tr>
											
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and searchHolderMgmtBean.holder.fundCompanyEnrollment!=null}" value="#{msgs['adm.holders.register.holder.lbl.fundcompany.enrollment']}"/>
											</td>
											<td>
													<p:inputText 
													disabled="true"
													rendered="#{false and searchHolderMgmtBean.holder.fundCompanyEnrollment!=null}"
													 value="#{searchHolderMgmtBean.holder.fundCompanyEnrollment}"  >
													</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and searchHolderMgmtBean.holder.constitutionDate!=null}" 
												              value="#{msgs['adm.holders.register.holder.lbl.constitution.date']}"/>
											</td>
											<td width="180px">																							
												    <p:calendar 
												    disabled="true"
												    yearRange="1900:c+c" label="#{msgs['adm.holders.register.holder.lbl.constitution.date']}"
												    readonlyInput="true"
												    rendered="#{false and searchHolderMgmtBean.holder.constitutionDate!=null}"
												    showOn="both" value="#{searchHolderMgmtBean.holder.constitutionDate}" size="10" maxlength="10"   maxdate="#{searchHolderMgmtBean.currentSystemDate}"
												    navigator="true" pattern="#{msgs['dateFormat']}">
												    </p:calendar>					    	  
											</td>
											</tr>
											
											
											</table>											
											</p:fieldset>
											</p:outputPanel>
											</td>											
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic2">
											<p:fieldset id="fieldGroupJuridic2" legend="#{msgs['adm.holders.register.holder.lbl.personal.data']}"  rendered="#{searchHolderMgmtBean.flagHolderJuridicPerson}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.business.name']}" />
												</td>
												<td colspan="3">
													<h:outputText id="inputFullName" size="50" value="#{searchHolderMgmtBean.holder.fullName}" />													
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.sector']}"/>
												</td>
												<td width="240px">
													<p:selectOneMenu id="cmbEconomicSector" disabled="true" style="width:240px" value="#{searchHolderMgmtBean.holder.economicSector}" >  
											               <f:selectItem itemLabel="#{msgs['cbo.opt.select2']}"
																					itemValue="-1" />
											               <f:selectItems value="#{searchHolderMgmtBean.listEconomicSector}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											        </p:selectOneMenu>
												</td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" />
												</td>
												<td width="240px">
													<p:selectOneMenu id="cmbEconomicActivity" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" style="width:240px" value="#{searchHolderMgmtBean.holder.economicActivity}" >  
											        <f:selectItem itemLabel="#{msgs['cbo.opt.select2']}"
																					itemValue="-1" />
											        <f:selectItems value="#{searchHolderMgmtBean.listEconomicActivity}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/> 
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px"></td>
												<td width="240px"></td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.investor.type']}" />
												</td>
												<td width="240px">
													<p:selectOneMenu id="cmbInvestorType" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.investor.type']}" style="width:440px" value="#{searchHolderMgmtBean.holder.investorType}" >  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />  
											            <f:selectItems value="#{searchHolderMgmtBean.listInvestorType}" var="investorTypeVar" 
															itemLabel="#{investorTypeVar.shortName}" itemValue="#{investorTypeVar.id}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											</table>											
											</p:fieldset>
											</p:outputPanel>
											</td>											
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelFieldLegalAddress">
											<p:fieldset legend="#{msgs['adm.holders.register.holder.lbl.legal.address']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu id="cmbLegalCountry" disabled="true" style="width:260px" value="#{searchHolderMgmtBean.holder.legalResidenceCountry}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"    />  
											             <f:selectItems var="legalCountry" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{legalCountry.name}" itemValue="#{legalCountry.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
												<td width="40px"/>
									           
									           <td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.departament']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu style="width:260px" disabled="true" id="cmbLegalDepartament" value="#{searchHolderMgmtBean.holder.legalDepartment}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"   />  
											             <f:selectItems var="legalDepartament" value="#{searchHolderMgmtBean.listDepartmentLocation}" itemLabel="#{legalDepartament.name}" itemValue="#{legalDepartament.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												
												<td width="40px"/>
									        
									        </tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.province']}"/>
												</td>
												<td width="260px">
													<p:selectOneMenu style="width:260px" disabled="true" id="cmbLegalProvince" value="#{searchHolderMgmtBean.holder.legalProvince}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"   />   
											            <f:selectItems var="legalProvince" value="#{searchHolderMgmtBean.listProvinceLocation}" itemLabel="#{legalProvince.name}" itemValue="#{legalProvince.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												
												<td width="40px"/>
									            
									            <td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.municipality']}" />
												</td>												
									            
									            <td width="260px">
													<p:selectOneMenu style="width:260px" disabled="true" value="#{searchHolderMgmtBean.holder.legalDistrict}" id="cmbLegalMunicipality">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"   />   
											            <f:selectItems var="legalMunicipality" value="#{searchHolderMgmtBean.listMunicipalityLocation}" itemLabel="#{legalMunicipality.name}" itemValue="#{legalMunicipality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
												<td width="40px"/>									            
												</tr>
												<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.legal.address']}" />
												</td>
												<td colspan="4">
													<p:inputText size="50" disabled="true" maxlength="150" id="inputLegalAddress" styleClass="large-input-text-width" value="#{searchHolderMgmtBean.holder.legalAddress}">
												    </p:inputText>
												</td>
												<td width="40px"/>									
											</tr>									
											</table>										
											</p:fieldset>	
											</p:outputPanel>										
											</td>										
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelFieldPostalAddress">
											<p:fieldset legend="#{msgs['adm.holders.register.holder.lbl.postal.address']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.country']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalCountry" value="#{searchHolderMgmtBean.holder.postalResidenceCountry}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />
											            <f:selectItems var="postalCountry" value="#{searchHolderMgmtBean.listGeographicLocation}" itemLabel="#{postalCountry.name}" itemValue="#{postalCountry.idGeographicLocationPk}"/>         
											        </p:selectOneMenu>
												</td>	
												<td width="40px"/>																			
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.departament']}"/>
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalDepartment" value="#{searchHolderMgmtBean.holder.postalDepartment}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="postalDepartment" value="#{searchHolderMgmtBean.listDepartmentPostalLocation}" itemLabel="#{postalDepartment.name}" itemValue="#{postalDepartment.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.province']}"/>
												</td>
												<td width="260px">
												    <p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalProvince" value="#{searchHolderMgmtBean.holder.postalProvince}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="postalProvince" value="#{searchHolderMgmtBean.listProvincePostalLocation}" itemLabel="#{postalProvince.name}" itemValue="#{postalProvince.idGeographicLocationPk}"/>
											        </p:selectOneMenu>											        
												</td>
												<td width="40px"/>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.municipality']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" value="#{searchHolderMgmtBean.holder.postalDistrict}"
														style="width:260px" id="cmbPostalMunicipality" label="#{msgs['adm.holders.register.holder.lbl.postal.municipality']}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
											            <f:selectItems var="legalMunicipality" value="#{searchHolderMgmtBean.listMunicipalityPostalLocation}" itemLabel="#{legalMunicipality.name}" itemValue="#{legalMunicipality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												</tr>
												<tr>								            
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.address']}" /></td>
												<td colspan="4">
													<p:inputText size="50" maxlength="150" disabled="true" id="inputPostalAddress" styleClass="large-input-text-width" value="#{searchHolderMgmtBean.holder.postalAddress}"> 
													</p:inputText>
												</td>
												<td width="40px"/>												
											</tr>										
											</table>										
											</p:fieldset>
											</p:outputPanel>											
											</td>										
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural6">
											<p:fieldset rendered="#{searchHolderMgmtBean.flagHolderNaturalPerson}" legend="#{msgs['adm.holders.register.holder.lbl.contact']}">
											<table>
											<tr>
												<td width="160px">
												 <h:outputText value="#{msgs['adm.holders.register.holder.lbl.home.telephone']}" />
												</td>
												<td width="220px">
												 <h:outputText maxlength="15" value="#{searchHolderMgmtBean.holder.homePhoneNumber}"/>
											    </td>
											</tr>
											<tr>
												<td width="160px">
												    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.mobile.phone']}" />
												</td>
												<td width="180px">
													<h:outputText maxlength="15" value="#{searchHolderMgmtBean.holder.mobileNumber}"/>												
												</td>
											</tr>
											
											<tr>
												<td width="160px">
												    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.fax']}" />
												</td>
												<td width="180px">
													<h:outputText maxlength="15" value="#{searchHolderMgmtBean.holder.faxNumber}"/>											
												</td>
											</tr>
											
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.email']}" />
												</td>
												<td>
													<h:outputText size="42" id="inputEmail" value="#{searchHolderMgmtBean.holder.email}"/>												
												</td>											
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic3">
											<p:fieldset rendered="#{false and searchHolderMgmtBean.flagHolderJuridicPerson
											   and (searchHolderMgmtBean.holder.comerRefBusinessName!=null
											   or searchHolderMgmtBean.holder.comerRefLandLine!=null)}" legend="#{msgs['adm.holders.register.holder.lbl.references.comercial.data']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{searchHolderMgmtBean.holder.comerRefBusinessName!=null}" value="#{msgs['adm.holders.register.holder.lbl.business.name']}" />
												</td>
												<td>
													<p:inputText 
													disabled="true"
													maxlength="50" size="50" rendered="#{searchHolderMgmtBean.holder.comerRefBusinessName!=null}"
													 value="#{searchHolderMgmtBean.holder.comerRefBusinessName}"  >
												   </p:inputText>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{searchHolderMgmtBean.holder.comerRefLandLine!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.landlime']}" />
												</td>
												<td width="180px">
													<p:inputText maxlength="15"
													 disabled="true"
													 rendered="#{searchHolderMgmtBean.holder.comerRefLandLine!=null}"
													 value="#{searchHolderMgmtBean.holder.comerRefLandLine}">
													</p:inputText>
												</td>
												
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic4">
											<p:fieldset rendered="#{searchHolderMgmtBean.flagHolderJuridicPerson and true}" legend="#{msgs['adm.holders.register.holder.lbl.contact']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{true or searchHolderMgmtBean.holder.homePhoneNumber!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.telefono1']}" />
												</td>
												<td width="220px">
													<p:inputText maxlength="15" 
													disabled="true"
													rendered="#{true or searchHolderMgmtBean.holder.homePhoneNumber!=null}" 
													value="#{searchHolderMgmtBean.holder.homePhoneNumber}"  >
													</p:inputText>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{true or searchHolderMgmtBean.holder.mobileNumber!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.telefono2']}" />
												</td>
												<td width="180px">
													<p:inputText maxlength="15"
													 disabled="true"
													 rendered="#{true or searchHolderMgmtBean.holder.mobileNumber!=null}"
													 value="#{searchHolderMgmtBean.holder.mobileNumber}"  >
													</p:inputText>
												</td>
												
											</tr>
											
											<tr>
											<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.fax']}" />
												</td>
												<td width="180px">
													<p:inputText disabled="true" maxlength="15" value="#{searchHolderMgmtBean.holder.faxNumber}"  >
													
													</p:inputText>
												</td>
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.email']}" />
												</td>
												<td>
													<p:inputText id="inputEmail2" 
													disabled="true"
													label="#{msgs['adm.holders.register.holder.lbl.email']}" maxlength="50" size="35" 
													value="#{searchHolderMgmtBean.holder.email}" style="text-transform:lowerCase" styleClass="sensitive-inputField email-inputField" >
													</p:inputText>
												</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{true or searchHolderMgmtBean.holder.website!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.webpage']}" />
											</td>
											<td colspan="4">
											<p:inputText styleClass="sensitive-inputField webpage-inputField" 
														 disabled="true"
														 rendered="#{true or searchHolderMgmtBean.holder.website!=null}"
														 id="txtWebPage" value="#{searchHolderMgmtBean.holder.website}" size="50" maxlength="150">											
											</p:inputText>	
										
										</td>
									</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
																					
										</table>
									</p:tab>
									<p:tab id="representativeTab" title="#{gmsgs['legal.representative.lbl.registration.representative']}">
									<table width="100%">
									<tr>
								<td>
								<p:outputPanel autoUpdate="true">
								<p:panel id="panelDtdRepresentatives">		
								<detailRepresentative:representativeDetails indicatorHolder="true" idLegalRepresentativeComponent="frmHolderDetails:tabView:legalRepresentativeComp" id="legalRepresentativeComp"/>	
								</p:panel>
							</p:outputPanel>
									</td>
								</tr>								
									</table>
							</p:tab>
									
							<p:tab id="attachDocumentsTab"  title="#{msgs['adm.holders.register.holder.lbl.attachments']}" rendered="#{searchHolderMgmtBean.flagHolderNaturalPerson?false:true}">
										
									 	 <h:panelGroup id="groupUploadFiles">
									 			
									 	<p:dataTable id="dtbHolderDocuments" var="holderFile" rowIndexVar="regNum"
												value="#{searchHolderMgmtBean.lstHolderFile}">
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.order.number']}" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
											</f:facet>
											<h:outputText
											value="#{holderFile.description}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
											</f:facet>
											<h:outputText
											value="#{holderFile.filename}" />
											</p:column>
							
											<p:column>
											<f:facet name="header">
											<h:outputText value="" />
											</f:facet>
											<p:commandLink process="@this" ajax="false" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
									 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>  
									 		<p:fileDownload value="#{searchHolderMgmtBean.getStreamedContentFileHolder(holderFile.holder.idHolderPk, holderFile.documentType)}" />  
											</p:commandLink>
											</p:column>
							
											
						</p:dataTable>
						</h:panelGroup>
									</p:tab>
					</p:tabView>
					</p:outputPanel>
									</td>
								</tr>							
								
								<!-- Botones Con las acciones -->
								<tr>
									<td align="center">
																			    														 
										<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" 
														 action="searchHolder"  immediate="true" ajax="false" />
									</td>
								</tr>
							</table>

					</td>
				</tr>
			</table>

		</h:form>		
		
 	</ui:define>
</ui:composition>
</html>