<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
				
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<script type="text/javascript">
		$(window).load(function(){
			setInitialFormState('#importanceEventForm');
			setAllHolidays('${importanceEventBean.allHolidays}');	

			
		});

		function isModifiedFormClear(form){ 
			 setCurrentFormState(form); 
			 if(arguments.length &gt; 1){
				 for(var i=1;i &lt; arguments.length;i++){
					 var element=$("[id='"+arguments[i]+"']");
					 if($(element).prop("tagName").toLowerCase()=='div' || $(element).prop("tagName").toLowerCase()=='span'){
						 $(element).find('input, select').each(function(i, obj) {
							 initialFormState[obj['id']]='';
							 currentFormState[obj['id']]='';
						 });
					 }else{
						 initialFormState[arguments[i]]='';
						 currentFormState[arguments[i]]='';				 
					 }
				 }
			 }
			 if(JSON.stringify(initialFormState) != JSON.stringify(currentFormState)){	 
				 PF('cnfwClear').show();
			  return true;
			 }
			 return false;
		}

	 
		function trimDecimalPlace(element){
   		     console.log(curVal);
 		     var curVal = element.value;
			 console.log(curVal);
            var parseVal = '';
            if(curVal.indexOf(".") > curVal.indexOf(",")){
                var tokens = curVal.split(".");
                var decimalVal = parseFloat("0."+tokens[1])+"";                 
                if(decimalVal != "0"){
                   parseVal = tokens[0]+"."+decimalVal.substring(2);
                }else{
                   parseVal = tokens[0];
                }   
            }else{
                var tokens = curVal.split(",");
                var decimalVal = parseFloat("0."+tokens[1])+"";                 
                if(decimalVal != "0"){
                   parseVal = tokens[0]+","+decimalVal.substring(2);
                }else{
                   parseVal = tokens[0];
                }
            }
            element.value =parseVal;
        }	
	</script>
		<h:outputText value="#{msgs['importance.event.registerLabel']}"
			styleClass="title-page" />
		<p:importConstants
			type="com.pradera.model.corporatives.type.ImportanceEventType"
			var="importanceEventType" />
		<h:form id="importanceEventForm">
			<table width="110%" border="0">
				<tr>
					<td>
					<p:fieldset	legend="#{msgs['importance.event.generalFields']}" id="flsCorporativeEvent" >
							<table width="100%" border="0">
								<tr>
									<td width="13%">
										<h:outputText styleClass="required-field"
											value="#{msgs['importance.event.instrumentType']} (*)" />
									</td>
									<td width="18%">
										<h:panelGrid columns="2" border="0">
											<p:selectOneMenu id="cboInstrument" 
												label="#{msgs['importance.event.requiredInstrument']}"
												value="#{importanceEventBean.instrumentType}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems
													value="#{importanceEventBean.listInstrumentType}"
													var="parameter" itemLabel="#{parameter.parameterName}"
													itemValue="#{parameter.parameterTablePk}" />
												<p:ajax event="change"
													listener="#{importanceEventBean.instrumentTypeListener}"
													process="cboInstrument"
													update="corporativeProc @this CboCorporativeType @form sourceExchange targetExchange sourceExchangeSE targetExchangeSE 
													 opnlSecurityHelper opnlSecurityHelperAux" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>
											<p:message id="msgInstrument" for="cboInstrument" display="icon" />
										</h:panelGrid>
									</td>
									<td width="13%">
										<h:outputText styleClass="required-field"
											value="#{msgs['importance.event.corporateEventType']} (*)" />
									</td>
									<td width="18%">
										<h:panelGrid columns="2" border="0">
											<p:selectOneMenu 
												disabled="#{importanceEventBean.disableCorporateEventType}"
												id="CboCorporativeType"
												label="#{msgs['importance.event.requiredEventType']}"
												value="#{importanceEventBean.corporativeEventType}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems
													value="#{importanceEventBean.lstCboCorporativeEvenClass}"
													var="event"
													itemValue="#{event.parameterTablePk}" itemLabel="#{event.parameterName}"/>
												<p:ajax event="change" process="cboInstrument @this"
													listener="#{importanceEventBean.changeCboCorporativeEventClassMgmt}"
													update=" @this corporativeProc  @form
													opnlSecurityHelper opnlSecurityHelperAux" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>
											<p:message id="msgCboCorporativeType" for="CboCorporativeType" display="icon" />
										</h:panelGrid>
									</td>
									<td>
										<h:outputText styleClass="required-field"
											value="#{msgs['importance.event.corporateEvent']} (*)" />
									</td>
									<td>
										<h:panelGrid columns="2" border="0">
											<p:selectOneMenu
												disabled="#{importanceEventBean.disableCorporateEventType}"
												id="corporativeProc" 
												label="#{msgs['importance.event.requiredEvent']}"
												value="#{importanceEventBean.corporativeEventMgmt}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems
													value="#{importanceEventBean.lstCboCorporativeEventMgmt}"
													var="corEvent" itemLabel="#{corEvent.parameterName}"
													itemValue="#{corEvent.parameterTablePk}"></f:selectItems>
												<p:ajax process="@this" partialSubmit="false"
													listener="#{importanceEventBean.changeCorporativeEventMgmt}"
													update=" @form" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
											</p:selectOneMenu>
											<p:message id="msgcorporativeProc" for="corporativeProc" display="icon">
											</p:message>
										</h:panelGrid>
									</td>
								</tr>													
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
					<p:fieldset	legend="#{msgs['importance.event.dataFields']}" id="flsCorporativeEvenetData">
						<table width="100%" border="0">								
							<tr>
								<td width="13%">
									<h:outputText styleClass="required-field"
										value="#{msgs['importance.event.issuerCode']} (*)" />
								</td>
								<td colspan="5">	
									<p:outputPanel id="panelIssuerHelper" >							
									<ark:issuerHelper id="issuerHelper" issuer="#{importanceEventBean.issuerHelperMgmt}"
													  remoteListener="loadInfo()" required="true"	
													  beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockByHolder}"	
													  disabled="#{importanceEventBean.disableIssuer}">	
											<f:facet name="textMessage">
										      <p:message id="messageIssuer" for="issuerHelper:issuerHelper" display="icon"/>
										   </f:facet>		  
									</ark:issuerHelper>		
									</p:outputPanel>	  	
								</td>
								<p:remoteCommand name="loadInfo" global="false"
									onstart="PF('statusDialogCustom').show();"
									oncomplete="PF('statusDialogCustom').hide();" process="@this"
									update="txtShareCapitalTarget txtShareBalanceTarget 
									       txtCirulanceBalances pnlGrillaDestino opnlSecurityHelper opnlSecurityHelperAux
									       txtVariationAmount txtCirulationBalance txtNominalValue txtShareCapital 
									       txtNewShareBalance txtShareBalance
									       dtSecurities btnAdd dtSecurities @form"
									actionListener="#{importanceEventBean.findIssuerInformationListener}">
								</p:remoteCommand>
							</tr>
							<tr>
								<td>
									<h:outputText	value="#{msgs['importance.event.sourceSecurity']} (*)"
										styleClass="required-field" /> 
								</td>
								<td colspan="5">
									<p:outputPanel id="opnlSecurityHelper">								
										<ark:securityHelper id="securityHelp"  required="true"	
														issuer="#{importanceEventBean.issuerHelperMgmt}" 
														security="#{importanceEventBean.securitySourceHelperMgmt}"
													  	remoteListener="loadSecuritiesInformation();"
													  	disabled="#{importanceEventBean.disableSourceSecuritiyHelper}"									
													  	beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity}">
													  	<f:facet name="textMessage">
													      <p:message id="messageSecurity" for="securityHelp:securityHelp" display="icon"/>
													   </f:facet>
										</ark:securityHelper>			  										

										<p:remoteCommand name="loadSecuritiesInformation" process="@this"
														update="btnAdd txtRemanentId 
														txtVariationAmount calRegistryDateRemanent cboCurrency cboDeliveryPlace idCurrencyPayment
												        calDeliveryDateRemanent txtVariationAmount txtCirulationBalance 
												        txtNominalValue txtCirulationBalance txtShareCapital txtNewShareBalance txtShareBalance
												        :importanceEventForm:txtShareCapitalTarget txtShareBalanceTarget txtShareBalanceTarget
												        txtCirulationBalanceTarget txtCirulationBalanceTargetSE opnlSecurityHelperAux
												        txtNewShareCapital txtNewShareCapitalSE txtShareCapitalActions
												        dtSecurities  cboxTaxFactor porCiento opnlSecurityHelper 
												        calExchangeDate idCurrencyPayment @form :opnlGenericDialogs"
														actionListener="#{importanceEventBean.filterSecuritieListener(1)}">
										</p:remoteCommand>
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText	value="#{msgs['importance.event.targetSecurity']} (*)"
										styleClass="required-field"  rendered="#{importanceEventBean.renderTargetSecurity}"/> 
								</td>
								<td colspan="5">									
									<p:outputPanel id="opnlSecurityHelperAux" 
									rendered="#{importanceEventBean.renderTargetSecurity}">						
										<p:outputPanel id="idpnlAux3" rendered="#{importanceEventBean.corporativeOperation.corporativeEventType.corporativeEventType != importanceEventType.SECURITIES_FUSION.code 
										and importanceEventBean.renderSecuritiesEscision}">
											<ark:securityHelper id="securityHelpAux3"  
														issuer="#{importanceEventBean.issuerHelperMgmt}" 
														security="#{importanceEventBean.securityTargetHelperMgmt}"
													  	remoteListener="loadSecuritiesInformationAux();"
													  	disabled="#{importanceEventBean.disableTargetSecurityHelper}">									  	
											</ark:securityHelper>	
										</p:outputPanel>
										<p:outputPanel id="idpnlAux" rendered="#{importanceEventBean.corporativeOperation.corporativeEventType.corporativeEventType != importanceEventType.SECURITIES_FUSION.code 
										and !importanceEventBean.renderSecuritiesEscision}">
											<ark:securityHelper id="securityHelpAux"   required="true"	
														issuer="#{importanceEventBean.issuerHelperMgmt}" 
														security="#{importanceEventBean.securityTargetHelperMgmt}"
													  	remoteListener="loadSecuritiesInformationAux();"
													  	disabled="#{importanceEventBean.disableTargetSecurityHelper}" 									
													  	beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity}">
													  	<f:facet name="textMessage">
													      <p:message id="messageSecurityAux" for="securityHelpAux:securityHelpAux" display="icon"/>
													   </f:facet>
											</ark:securityHelper>	
										</p:outputPanel>
										<p:outputPanel id="idpnlAux2" rendered="#{importanceEventBean.corporativeOperation.corporativeEventType.corporativeEventType == importanceEventType.SECURITIES_FUSION.code 
										and !importanceEventBean.renderSecuritiesEscision}">
											<ark:securityHelper id="securityHelpAux2"   required="true"															
														security="#{importanceEventBean.securityTargetHelperMgmt}"
													  	remoteListener="loadSecuritiesInformationAux();"
													  	disabled="#{importanceEventBean.disableTargetSecurityHelper}" 									
													  	beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity}">
													  	<f:facet name="textMessage">
													      <p:message id="messageSecurityAux2" for="securityHelpAux2:securityHelpAux2" display="icon"/>
													   </f:facet>
											</ark:securityHelper>	
										</p:outputPanel>		  										
										<p:remoteCommand name="loadSecuritiesInformationAux" process="@this"
														update="btnAdd txtRemanentId 
														txtVariationAmount calRegistryDateRemanent cboCurrency calExchangeDate idCurrencyPayment
												        calDeliveryDateRemanent txtVariationAmount txtCirulationBalance 
												         txtCirulationBalanceTarget txtCirulationBalanceTargetSE
												        txtNominalValue txtCirulationBalance txtShareCapital txtNewShareBalance txtShareBalance
												        :importanceEventForm:txtShareCapitalTarget txtShareBalanceTarget txtShareBalanceTarget
												        txtCirulationBalanceTarget txtShareBalanceTargetSE txtShareCapitalTargetSE txtCirulationBalanceTargetSE
												        dtSecurities  cboxTaxFactor porCiento opnlSecurityHelperAux"
														actionListener="#{importanceEventBean.filterSecuritieListener(2)}">
										</p:remoteCommand>
									</p:outputPanel>
									<p:outputPanel id="pnlGrillaDestino" 
									rendered="#{importanceEventBean.renderSecuritiesEsicion}">									
										<p:commandButton id="btnAdd"										
											value="Agregar"
											actionListener="#{importanceEventBean.addSecurityListener()}"
											immediate="true" 
											disabled="#{importanceEventBean.disableAddButton}"
											update="dtSecurities btnAdd pnlGrillaDestino opnlSecurityHelperAux 
											 			   :importanceEventForm:txtShareCapitalTargetSE
							                               :importanceEventForm:txtShareBalanceTargetSE
							                               :importanceEventForm:txtCirulationBalanceTargetSE
							                               :importanceEventForm:txtVariationAmountTargetSE 
							                               :importanceEventForm:txtNewShareCapitalSE
							                               :importanceEventForm:msgNewShareCapitalSE
							                               :importanceEventForm:txtNewShareBalanceTargetSE
							                               :importanceEventForm:txtCirulanceBalancesSE	
							                               :importanceEventForm:msgCirulanceBalancesSE					                           						                               
							                               :importanceEventForm:txtDeliveryFactorSE							                              
							                               :importanceEventForm:sourceExchangeSE
							                               :importanceEventForm:msgsourceExchangeSE
							                               :importanceEventForm:targetExchangeSE
							                               :importanceEventForm:msgtargetExchangeSE
							                               :importanceEventForm:calMarketDateSE 
							                               :importanceEventForm:msgcalMarketDateSE
							                               :importanceEventForm:txtMarketPriceSE 
							                               :importanceEventForm:msgtxtMarketPriceSE">
										</p:commandButton> 										
										<p:dataTable style="width:100%;"							
											id="dtSecurities"
											value="#{importanceEventBean.listSecuritiesTarget}" var="security"
											emptyMessage="">
											<p:columnGroup type="header">
												<p:row>
													<p:column headerText="" />
													<p:column headerText="#{gmsgs['security.lbl.code']}" />
													<p:column headerText="#{msgs['detisin.desc.valor']}" />
													<p:column headerText="#{msgs['importance.event.rexchangeRelaSource']}"  />
													<p:column headerText="#{msgs['importance.event.rexchangeRelaTarget']}" />
													<p:column headerText="#{msgs['importance.event.deliveryFactor']}"/>
													<p:column headerText="Acción" />
												</p:row>
											</p:columnGroup>
											<p:column style="text-align:center">
												<p:commandLink process="@this" id="clSelecte"
													actionListener="#{importanceEventBean.assignSecuritiesCorporativeListener(security)}"
													update="dtSecurities @form								       										            
							                               :importanceEventForm:txtShareCapitalTargetSE
							                               :importanceEventForm:txtShareBalanceTargetSE
							                               :importanceEventForm:txtCirulationBalanceTargetSE
							                               :importanceEventForm:txtVariationAmountTargetSE 
							                               :importanceEventForm:txtNewShareCapitalSE
							                               :importanceEventForm:txtNewShareBalanceTargetSE
							                               :importanceEventForm:txtCirulanceBalancesSE						                           						                               
							                               :importanceEventForm:txtDeliveryFactorSE							                              
							                               :importanceEventForm:sourceExchangeSE
							                               :importanceEventForm:targetExchangeSE
							                               :importanceEventForm:calMarketDateSE 
							                               :importanceEventForm:txtMarketPriceSE"
													global="false">
													<p:graphicImage style="cursor:pointer;" library="img"
														name="icons/confirmed.png" rendered="#{security.selected}" />
													<p:graphicImage style="cursor:pointer;" library="img"
														name="icons/confirmed-disabled.png"
														rendered="#{!security.selected}" />
												</p:commandLink>
											</p:column>
											<p:column>
												<h:outputText value="#{security.idSecurityCodePk}" />
											</p:column>
											<p:column>
												<h:outputText value="#{security.description}" />
											</p:column>
											<p:column  styleClass="content-right">
												<h:outputText value="#{security.exchangeRelaSourceSecurity}"/>
											</p:column>
											<p:column  styleClass="content-right">
												<h:outputText value="#{security.exchangeRelaTargetSecurity}"/>
											</p:column>
											<p:column  styleClass="content-right">
												<h:outputText value="#{security.deliveryFactorForCorporateOperation}">
												<f:convertNumber
														pattern="#{gconst['conv.number.pattern.price']}"
														locale="#{gconst['conv.number.locale']}" />
												</h:outputText>
											</p:column>
											<p:column>
												<p:commandLink id="cmbRemove" 
															   immediate="true"												
													actionListener="#{importanceEventBean.deleteTargetSecurity(security)}"
													update="dtSecurities @form								       										            
							                               :importanceEventForm:txtShareCapitalTargetSE
							                               :importanceEventForm:txtShareBalanceTargetSE
							                               :importanceEventForm:txtCirulationBalanceTargetSE
							                               :importanceEventForm:txtVariationAmountTargetSE 
							                               :importanceEventForm:txtNewShareCapitalSE
							                               :importanceEventForm:txtNewShareBalanceTargetSE
							                               :importanceEventForm:txtCirulanceBalancesSE						                           						                               
							                               :importanceEventForm:txtDeliveryFactorSE							                              
							                               :importanceEventForm:sourceExchangeSE
							                               :importanceEventForm:targetExchangeSE
							                               :importanceEventForm:calMarketDateSE 
							                               :importanceEventForm:txtMarketPriceSE">
													 <p:graphicImage style="cursor:pointer;" library="img"
														name="icons/rejected.png"/>	
												</p:commandLink>
											</p:column>
										</p:dataTable>									
									</p:outputPanel>			
								</td>													
							</tr>
							<tr>
								<td width="13%">
									<h:outputText
										value="#{msgs['importance.event.cutoffDate']} (*)"
										styleClass="required-field" />
								</td>
								<td width="18%">
									<h:panelGrid columns="2" border="0">
										<p:calendar id="calCutOff" disabledWeekends="true"
											navigator="true" readonlyInput="true"
											beforeShowDay="disableAllHolydays"
											label="#{msgs['importance.event.requiredDate']}"
											disabled="#{importanceEventBean.disableCutoffDate}"
											showOn="button" size="10" maxlength="10"
											value="#{importanceEventBean.corporativeOperation.cutoffDate}"
											pattern="dd/MM/yyyy"
											maxdate="#{importanceEventBean.corporativeOperation.registryDate}">
											<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
											<p:ajax
												update="calAccordDate msgcalCutOff opnlModals"
												event="dateSelect"
												listener="#{importanceEventBean.addRegistryDateFromCutOff}" />
										</p:calendar>
										<p:message id="msgcalCutOff" for="calCutOff" display="icon" />
									</h:panelGrid>
								</td>
								<td width="13%">
									<h:outputText
										value="#{msgs['importance.event.registryDate']} (*)"
										styleClass="required-field" />
								</td>
								<td width="18%">
									<h:panelGrid columns="2" border="0">
										<p:calendar required="false" id="calRegistryDate"
											readonlyInput="true" beforeShowDay="disableAllHolydays"
											navigator="true"
											maxdate="#{importanceEventBean.currentDate}"
											label="#{msgs['importance.event.requiredDate']}"
											value="#{importanceEventBean.corporativeOperation.registryDate}"
											disabledWeekends="true" size="10" maxlength="10"
											pattern="dd/MM/yyyy" showOn="button">
											<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
											<p:ajax event="dateSelect"
												update="calCutOff msgcalRegistryDate calAccordDate "
												listener="#{importanceEventBean.calculateCustoffDate}" />
										</p:calendar>
										<p:message id="msgcalRegistryDate" for="calRegistryDate" display="icon" />
									</h:panelGrid>
								</td>
								<td width="13%">
									<h:outputText
										value="#{msgs['importance.event.deliveryDate']} (*)"
										styleClass="required-field" />
								</td>
								<td>
									<h:panelGrid columns="2" border="0">
										<p:calendar id="calDeliveryDate"
											navigator="true" readonlyInput="true"
											beforeShowDay="disableAllHolydays"
											label="#{msgs['importance.event.deliveryDate']}"
											mindate="#{importanceEventBean.currentDate}"
											value="#{importanceEventBean.corporativeOperation.deliveryDate}"
											readonly="#{facesContext.renderResponse}" showOn="button"
											size="10" maxlength="10" pattern="dd/MM/yyyy">
											<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
											<p:ajax event="dateSelect" listener="#{importanceEventBean.cleanDateForDeliveryDate()}"
												update="calDeliveryDate dateVariationCapital msgcalDeliveryDate dateVariationCapitalTargetSE 
												dateVariationCapitalvar dateVariationCapitalTarget calFirstStartNegotiationDate 
												calFirstStartNegotiationDate calFirstEndNegotiationDate calSecondStartNegotiationDate
												calSecondEndNegotiationDate calThirdStartNegotiationDate calThirdEndNegotiationDate 
												calMarketDate calMarketDateSE calExchangeDate txtMarketPrice txtMarketPriceSE" />
										</p:calendar>
										<p:message for="calDeliveryDate" id="msgcalDeliveryDate" display="icon" />
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText
										value="#{msgs['importance.event.deliveryPlace']} (*)"
										styleClass="required-field" />
								</td>
								<td>
									<h:panelGrid columns="2" border="0">
										<p:selectOneMenu
											disabled="#{importanceEventBean.disableDeliveryPlace}"
											id="cboDeliveryPlace"
											label="#{msgs['importance.event.requiredDeliverySpot']}"
											value="#{importanceEventBean.corporativeOperation.deliveryPlacement}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{importanceEventBean.listDeliveryPlacetype}"
												var="placement" itemLabel="#{placement.parameterName}"
												itemValue="#{placement.parameterTablePk}" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											<p:ajax process="@this" event="change" global="false" update="cboDeliveryPlace msgcboDeliveryPlace"/>
										</p:selectOneMenu>
										<p:message for="cboDeliveryPlace" id="msgcboDeliveryPlace"	display="icon" />
									</h:panelGrid>
								</td>								
								<td>
									<h:outputText
										value="#{msgs['importance.event.accordDate']} (*)"
										styleClass="required-field" />
								</td>
								<td>
									<h:panelGrid columns="2" border="0">
										<p:calendar id="calAccordDate" 
											navigator="true" beforeShowDay="disableAllHolydays"
											readonlyInput="true"
											label="#{msgs['importance.event.requiredDate']}"
											readonly="#{facesContext.renderResponse}" showOn="button"
											maxdate="#{importanceEventBean.corporativeOperation.cutoffDate}"
											value="#{importanceEventBean.corporativeOperation.accordDate}"
											size="10" maxlength="10" pattern="dd/MM/yyyy">
											<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
											<p:ajax event="dateSelect" global="false" process="@this" update="calAccordDate msgcalAccordDate"/>
										</p:calendar>
										<p:message for="calAccordDate" id="msgcalAccordDate" display="icon" />
									</h:panelGrid>
								</td>
								<td>
									<h:outputText
										value="#{msgs['importance.event.accordType']} (*)"
										styleClass="required-field" />
								</td>
								<td>
									<h:panelGrid columns="2" border="0">
										<p:selectOneMenu id="cboAccordType"
											requiredMessage="#{msgs['importance.event.requiredAccordType']}"
											value="#{importanceEventBean.corporativeOperation.accordType}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="agreement"
												value="#{importanceEventBean.listAgreementType}"
												itemLabel="#{agreement.parameterName}"
												itemValue="#{agreement.parameterTablePk}" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
											<p:ajax process="@this" event="change" global="false" update="cboAccordType msgcboAccordType" />
										</p:selectOneMenu>
										<p:message id="msgcboAccordType" for="cboAccordType" display="icon" />
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText styleClass="required-field"  rendered="#{!importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.rexchangeRelaSource']} (*)" />
										<h:outputText  rendered="#{importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.rexchangeRelaSource']}" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputNumber style="text-align:right"
										 rendered="#{!importanceEventBean.renderSecuritiesEscision}"
										maxValue="999.99999999" decimalPlaces="0"
										minValue="0" thousandSeparator="0" label="#{msgs['importance.event.rexchangeRelaSource']}"
										onblur="trimDecimalPlace(this);" decimalSeparator="."
										id="sourceExchange" disabled="#{importanceEventBean.renderExchangeRelationship}"
										value="#{importanceEventBean.corporativeOperation.exchangeRelaSourceSecurity}">
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
										<p:ajax event="blur" process="@this"
											update="txtDeliveryFactor  msgcboSourceExchange sourceExchange @form"
											listener="#{importanceEventBean.determineDeliveryFactorListener}"></p:ajax>
										</p:inputNumber>
										<p:inputNumber style="text-align:right"
										 rendered="#{importanceEventBean.renderSecuritiesEscision}"
										maxValue="999.99999999" decimalPlaces="0"
										minValue="0" thousandSeparator="0" label="#{msgs['importance.event.rexchangeRelaSource']}"
										onblur="trimDecimalPlace(this);" decimalSeparator="."
										id="sourceExchangeSE" disabled="#{importanceEventBean.renderExchangeRelationship or importanceEventBean.disabledForExcision}"
										value="#{importanceEventBean.corporativeOperation.exchangeRelaSourceSecurity}">										
										<p:ajax event="blur" process="@this"
											update="@this txtDeliveryFactorSE sourceExchangeSE msgsourceExchangeSE  @form"
											listener="#{importanceEventBean.determineDeliveryFactorListener}"></p:ajax>
										</p:inputNumber>
										<p:message id="msgsourceExchangeSE" 
													for="sourceExchangeSE" display="icon" />
										<p:message id="msgcboSourceExchange" 
													for="sourceExchange" display="icon" />
									</h:panelGrid>									
								</td>
								<td>								
									<h:outputText styleClass="required-field" rendered="#{!importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.rexchangeRelaTarget']} (*)" />
									<h:outputText rendered="#{importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.rexchangeRelaTarget']}" />	
								</td>
								<td>
									<h:panelGrid columns="2" >
										<p:inputNumber id="targetExchange"
										rendered="#{!importanceEventBean.renderSecuritiesEscision}"
										style="text-align:right" maxValue="999.99999999"
										decimalPlaces="0" decimalSeparator="."
										minValue="0" thousandSeparator="0"
										onblur="trimDecimalPlace(this);" label="#{msgs['importance.event.rexchangeRelaTarget']}"
										disabled="#{importanceEventBean.renderExchangeRelationship}"
										value="#{importanceEventBean.corporativeOperation.exchangeRelaTargetSecurity}">
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
										<p:ajax event="blur" process="@this"
											update="txtDeliveryFactor msgcboTargetExchange sourceExchange targetExchange @form"
												listener="#{importanceEventBean.determineDeliveryFactorListener}"></p:ajax>
										</p:inputNumber>
										<p:inputNumber id="targetExchangeSE"
										rendered="#{importanceEventBean.renderSecuritiesEscision}"
										style="text-align:right" maxValue="999.99999999"
										decimalPlaces="0" decimalSeparator="."
										minValue="0" thousandSeparator="0"
										onblur="trimDecimalPlace(this);" label="#{msgs['importance.event.rexchangeRelaTarget']}"
										disabled="#{importanceEventBean.renderExchangeRelationship or importanceEventBean.disabledForExcision}"
										value="#{importanceEventBean.corporativeOperation.exchangeRelaTargetSecurity}">										
										<p:ajax event="blur" process="@this"
											update="@this txtDeliveryFactorSE sourceExchangeSE targetExchangeSE msgtargetExchangeSE  @form"
												listener="#{importanceEventBean.determineDeliveryFactorListener}"></p:ajax>
										</p:inputNumber>
										<p:message id="msgtargetExchangeSE" for="targetExchangeSE" display="icon" />
										<p:message id="msgcboTargetExchange" for="targetExchange" display="icon" />
									</h:panelGrid>									
								</td>
								<td>
									<h:outputText
										value="#{msgs['importance.event.deliveryFactor']} (*)"
										styleClass="required-field" rendered="#{!importanceEventBean.renderSecuritiesEscision}"/>
										<h:outputText
										value="#{msgs['importance.event.deliveryFactor']}"
										 rendered="#{importanceEventBean.renderSecuritiesEscision}"/>
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputNumber style="text-align:right;"
										id="txtDeliveryFactor" 
										onblur="trimDecimalPlace(this);" decimalSeparator="."
										minValue="0" thousandSeparator="" maxValue="9999.99999999"
										decimalPlaces="8" label="#{msgs['importance.event.deliveryFactor']}"
										disabled="#{!importanceEventBean.renderDeliveryFactor}"
										rendered="#{!importanceEventBean.renderSecuritiesEscision}"
										value="#{importanceEventBean.corporativeOperation.deliveryFactor}">
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
										<p:ajax global="false" event="blur" process="@this" update="txtDeliveryFactor msgDeliveryFactor @form" 
										listener="#{importanceEventBean.determineShareBalanceListener()}"></p:ajax>										
										</p:inputNumber>	
										<p:message id="msgDeliveryFactor" for="txtDeliveryFactor" display="icon" />
									</h:panelGrid>									
									<p:inputText style="text-align:right;"
									rendered="#{importanceEventBean.renderSecuritiesEscision}"
									id="txtDeliveryFactorSE" 
									disabled="#{!importanceEventBean.renderDeliveryFactor}"
									maxlength="13" label="#{msgs['importance.event.deliveryFactor']}"
									value="#{importanceEventBean.corporativeOperation.deliveryFactor}">										
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax process="@this" event="blur" global="false"
										update="txtDeliveryFactorSE" />
									</p:inputText>															
								</td>
							</tr>
							<tr>								
								<td>
									<h:outputText
										rendered="#{!importanceEventBean.renderNominalValueDescription}"
										value="#{msgs['importance.event.lbl.round']}" />
								</td>
								<td>
									<p:selectBooleanCheckbox id="cboxRoun"
										value="#{importanceEventBean.corporativeOperation.indRoundValue}"
										rendered="#{!importanceEventBean.renderNominalValueDescription}">
										<p:ajax
											listener="#{importanceEventBean.considerRoundListener}"
											update="cboxRomanent"></p:ajax>
									</p:selectBooleanCheckbox>
								</td>
								<td>
									<h:outputText id="indTaxFactor"
										          rendered="#{importanceEventBean.renderIndTaxFactor}"
										          value="#{msgs['importance.event.lbl.taxes']}" />
								</td>										          
								<td>
									<p:selectBooleanCheckbox 
								     id="cboxTaxFactor" 
								     disabled="#{importanceEventBean.disableTaxFactor}"
									 value="#{importanceEventBean.corporativeOperation.indTaxValue}"
									 rendered="#{importanceEventBean.renderIndTaxFactor}">										 
										<p:ajax process="@this"
											    listener="#{importanceEventBean.enableTaxFactorListener}"
											    update="porCiento txtPorCiento cboxTaxFactor @form" />
									</p:selectBooleanCheckbox></td>
								<td>
									<h:outputText id="txtPorCiento"
										styleClass="required-field"
										rendered="#{importanceEventBean.renderTaxFactor}"
										value="#{msgs['importance.event.lbl.taxFactor']} (*)" />
								</td>
								<td>
									<p:inputText required="true" disabled="true"
											id="porCiento" style="text-align:right"
											rendered="#{importanceEventBean.renderTaxFactor}"
											value="#{importanceEventBean.corporativeOperation.taxFactor}"></p:inputText>
										<p:message id="msgPorCiento" for="porCiento" display="icon" />
								</td>
							</tr>
							<p:outputPanel id="pnlIntAmorAux1">
							<tr>
								<td>
									<h:outputText
										value="#{msgs['importance.event.lbl.remanent']}" rendered="#{importanceEventBean.renderIndRemanent}"/>
								</td>
								<td>
									<p:selectBooleanCheckbox id="cboxRomanent" rendered="#{importanceEventBean.renderIndRemanent}"
										value="#{importanceEventBean.corporativeOperation.indRemanentValue}"
										disabled="#{!importanceEventBean.renderIndRemanent}">
										<p:ajax
											listener="#{importanceEventBean.roundRemantenListener}"
											update="cboxRoun"></p:ajax>
									</p:selectBooleanCheckbox>
								</td>		
							</tr>
							</p:outputPanel>			
							<tr>															
								<td>
									<h:outputText styleClass="required-field"
										rendered="#{importanceEventBean.renderCurrencyType}"
										value="#{msgs['importance.event.currency']}  (*)" />
								</td>
								<td>
									<p:selectOneMenu id="cboCurrency" required="true"
										disabled="#{importanceEventBean.disableCurrency}"
										rendered="#{importanceEventBean.renderCurrencyType}"
										value="#{importanceEventBean.corporativeOperation.currency}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems
											value="#{importanceEventBean.listCurrencyType}"
											var="currency" itemLabel="#{currency.parameterName}"
											itemValue="#{currency.parameterTablePk}" />
									</p:selectOneMenu>
								</td>
								<td>
								<h:outputText styleClass="required-field"
										rendered="#{importanceEventBean.renderCurrencyType and importanceEventBean.renderExchange}"
										value="#{msgs['importance.event.exchangeDate']}  (*)" />
								</td>
								<td>
									<p:calendar id="calExchangeDate" disabled="#{importanceEventBean.corporativeOperation.deliveryDate==null}"
									readonlyInput="true" beforeShowDay="disableAllHolydays"
									navigator="true"  
									rendered="#{importanceEventBean.renderCurrencyType and importanceEventBean.renderExchange}"
									maxdate="#{importanceEventBean.corporativeOperation.deliveryDate}"
									value="#{importanceEventBean.corporativeOperation.exchangeDateRate}"
									disabledWeekends="true" size="10" maxlength="10"
									pattern="dd/MM/yyyy" showOn="button">	
									</p:calendar>
								</td>
								<td>
									<h:outputText styleClass="required-field"
										rendered="#{importanceEventBean.renderCurrencyType and importanceEventBean.renderExchange}"
										value="#{msgs['importance.event.currencyPayment']}  (*)" />
								</td>
								<td>
									<p:selectOneMenu required="true" disabled="true" value="#{importanceEventBean.corporativeOperation.currencyPayment}"
														rendered="#{importanceEventBean.renderCurrencyType and importanceEventBean.renderExchange}" id="idCurrencyPayment">
											<f:selectItem itemLabel="#{importanceEventBean.corporativeOperation.currencyPaymentDescription}" />
											<f:selectItems
											value="#{importanceEventBean.listCurrencyType}"
											var="currency" itemLabel="#{currency.parameterName}"
											itemValue="#{currency.parameterTablePk}" />
										</p:selectOneMenu>
								</td>
							</tr>												
							<tr style="display:none">
								<td> 
									<h:outputText rendered="#{importanceEventBean.renderMarketFact and !importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.marketDate']} (*)"
										styleClass="required-field" />
									<h:outputText
									value="#{msgs['importance.event.marketDate']}"
									rendered="#{importanceEventBean.renderMarketFact and importanceEventBean.renderSecuritiesEscision}"/>
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:calendar id="calMarketDate"
											readonlyInput="true" beforeShowDay="disableAllHolydays"
											navigator="true" rendered="#{importanceEventBean.renderMarketFact and !importanceEventBean.renderSecuritiesEscision}"
											maxdate="#{importanceEventBean.corporativeOperation.deliveryDate}"
											label="#{msgs['importance.event.marketDate']}"
											value="#{importanceEventBean.corporativeOperation.marketDate}"
											disabledWeekends="true" size="10" maxlength="10"
											pattern="dd/MM/yyyy" showOn="button">
											<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
											<p:ajax event="dateSelect"
												update="msgMarketDate calMarketDate " />
										</p:calendar>
										<p:calendar id="calMarketDateSE"
											readonlyInput="true" beforeShowDay="disableAllHolydays"
											navigator="true" rendered="#{importanceEventBean.renderMarketFact and importanceEventBean.renderSecuritiesEscision}"
											maxdate="#{importanceEventBean.corporativeOperation.deliveryDate}"
											label="#{msgs['importance.event.marketDate']}" disabled="#{importanceEventBean.disabledForExcision}"
											value="#{importanceEventBean.corporativeOperation.marketDate}"
											disabledWeekends="true" size="10" maxlength="10"
											pattern="dd/MM/yyyy" showOn="button">											
											<p:ajax event="dateSelect" listener="#{importanceEventBean.execution()}"
												update="@this calMarketDateSE msgcalMarketDateSE  @form" />
										</p:calendar>
										<p:message id="msgcalMarketDateSE" for="calMarketDateSE" display="icon" />
										<p:message id="msgMarketDate" for="calMarketDate" display="icon" />
									</h:panelGrid>
								</td>
								<td>
									<h:outputText rendered="#{importanceEventBean.renderMarketFact and !importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.priceDate']} (*)"
										styleClass="required-field" />
									<h:outputText rendered="#{importanceEventBean.renderMarketFact and importanceEventBean.renderSecuritiesEscision}"
										value="#{msgs['importance.event.priceDate']}"
										 />	
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText style="text-align:right;"
										id="txtMarketPrice" 			
										label="#{msgs['importance.event.priceDate']}"
										rendered="#{importanceEventBean.renderMarketFact and !importanceEventBean.renderSecuritiesEscision}"
										value="#{importanceEventBean.corporativeOperation.marketPrice}">
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
										<p:ajax event="blur" process="@this" update="txtMarketPrice msgMarketPrice" 
										listener="#{importanceEventBean.execution()}"/>					  
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
										</p:inputText>	
										<p:inputText style="text-align:right;"
										id="txtMarketPriceSE" 			
										label="#{msgs['importance.event.priceDate']}" disabled="#{importanceEventBean.disabledForExcision}"
										rendered="#{importanceEventBean.renderMarketFact and importanceEventBean.renderSecuritiesEscision}"
										value="#{importanceEventBean.corporativeOperation.marketPrice}">										
										<p:ajax event="blur" process="@this" update="@this txtMarketPriceSE msgtxtMarketPriceSE  @form"
										listener="#{importanceEventBean.execution()}"/>
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
										</p:inputText>	
										<p:message id="msgtxtMarketPriceSE" for="txtMarketPriceSE" display="icon" />
										<p:message id="msgMarketPrice" for="txtMarketPrice" display="icon" />
									</h:panelGrid>		
								</td>	
							</tr>
						</table>
					</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
					<p:fieldset	legend="#{msgs['importance.event.capitalVariation']}" id="flsCapitalVariation">
							<table width="100%" border="0">	
								<p:outputPanel id="opnlActionsDividendsTarget" 
									rendered="#{importanceEventBean.renderOpnlTargetSecurity}">
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapital']} (*)"
												styleClass="required-field" />
											</td>
										<td width="18%">
											<p:inputText id="txtShareCapitalTarget"
												style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldShareCapital}"
												disabled="true">
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareBalance']} (*)"
												styleClass="required-field" />
										</td>
										<td width="18%">
											<p:inputText id="txtShareBalanceTarget"
												style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldShareBalance}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>	
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.cirtulationBalance']} (*)"
												styleClass="required-field" />
										</td>
										<td>
											<p:inputText id="txtCirulationBalanceTarget"
												style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldCirculationBalance}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapitalVariation']} (*)"
												styleClass="required-field" />
										</td>
										<td width="18%">
											<p:inputText style="text-align:right"
												id="txtVariationAmountTarget"
												value="#{importanceEventBean.corporativeOperation.variationAmount}"
												disabled="true">
												<p:keyFilter mask="/[0-9,.]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapitalVariationDate']} (*)"
												styleClass="required-field" />
										</td>
										<td>
											<p:calendar id="dateVariationCapitalTarget"
												disabled="true" readonlyInput="true" 
												value="#{importanceEventBean.corporativeOperation.deliveryDate}"
												pattern="dd/MM/yyyy" readonly="true" size="10">
											</p:calendar>
										</td>	
									</tr>
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.newShareCapital']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid border="0" columns="2">
												<p:inputText id="txtNewShareCapital"
													style="text-align:right;" label="#{msgs['importance.event.newShareCapital']}"
													disabled="true"
													value="#{importanceEventBean.corporativeOperation.newShareCapital}">
													<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
													<p:ajax event="blur" 
														update="txtNewShareBalanceTarget txtVariationAmountTarget 
														 txtNewShareCapital msgtxtNewShareCapital											
														txtCirulanceBalancesSE txtCirulanceBalances"
														listener="#{importanceEventBean.calculateShareCapitalVariationListener}" />
													<p:keyFilter regEx="/[0-9,.]/i" />
													<f:convertNumber
														pattern="#{gconst['conv.number.pattern.cash.amount']}"
														locale="#{gconst['conv.number.locale']}" />
												</p:inputText>
												<p:message id="msgtxtNewShareCapital"
													for="txtNewShareCapital" display="icon"></p:message>
											</h:panelGrid>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.newShareBalance']} (*)"
												styleClass="required-field" /></td>
										<td width="18%">
											<p:inputText id="txtNewShareBalanceTarget"
												disabled="true" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.newShareBalance}">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.newCirculationBalance']} (*)" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText style="	text-align:right;"
												value="#{importanceEventBean.corporativeOperation.newCirculationBalance}"
												id="txtCirulanceBalances" label="#{msgs['importance.event.newCirculationBalance']}"
												disabled="true">
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax
													process="txtCirulanceBalances txtCirulationBalanceTarget"
													listener="#{importanceEventBean.validateNewCirculationBalanceAmountListener}"
													update="txtCirulanceBalances msgCirulanceBalances"></p:ajax>
											</p:inputText>
											<p:message id="msgCirulanceBalances"
													for="txtCirulanceBalances" display="icon"></p:message>
											</h:panelGrid>											
										</td>
									</tr>							
								</p:outputPanel>

								<!-- Output Panel -->
								<p:outputPanel id="opnlActionsDividends"
									rendered="#{importanceEventBean.renderSecurityDescription}">
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.nominalValue']} (*)"
												rendered="#{importanceEventBean.renderNominalValueDescription}" />
										</td>
										<td width="18%">
											<p:inputText required="true" style="text-align:right"
												rendered="#{importanceEventBean.renderNominalValueDescription}"
												id="txtNominalValue"
												value="#{importanceEventBean.corporativeOperation.oldNominalValue}"
												disabled="true">
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.price']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderNominalValueDescription}"
												value="#{msgs['importance.event.newNominalValue']} (*)" />
										</td>
										<td width="18%" colspan="3">
											<h:panelGrid columns="2">
												<p:inputText  id="txtNewNominalValue"
												style="text-align:right" label="#{msgs['importance.event.newNominalValue']}"
												value="#{importanceEventBean.corporativeOperation.newNominalValue}"
												rendered="#{importanceEventBean.renderNominalValueDescription}">
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:keyFilter regEx="/[0-9.,]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.price']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax event="blur" process="@this"
													update="txtDeliveryFactor txtNewShareBalance txtNewNominalValue 
													txtShareCapitalActions txtVariationAmount
													txtViartionAmountvar txtCirulanceBalance txtNominalValue msgNewNominalValue"
													listener="#{importanceEventBean.determineDeliveryFactorListener}"></p:ajax>
											</p:inputText>
											<p:message for="txtNewNominalValue" id="msgNewNominalValue"
														display="icon"/>
											</h:panelGrid>											
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.shareCapital']} (*)" />
										</td>
										<td width="18%">
											<p:inputText id="txtShareCapital" required="true"
												style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldShareCapital}"
												disabled="true">
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.shareBalance']} (*)" />
										</td>
										<td width="18%">
											<p:inputText style="text-align:right"
												id="txtShareBalance" required="true"
												value="#{importanceEventBean.corporativeOperation.oldShareBalance}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
												</p:inputText>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.cirtulationBalance']} (*)" />
										</td>
										<td>
											<p:inputText style="text-align:right"
												id="txtCirulationBalance" required="true"
												value="#{importanceEventBean.corporativeOperation.oldCirculationBalance}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.shareBalanceVariation']} (*)"
												rendered="#{importanceEventBean.renderNominalValueNoCapVar}" />
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderNominalValueCapVar}"
												value="#{msgs['importance.event.shareCapitalVariation']}" />
										</td>
										<td width="18%">
											<p:inputText id="txtVariationAmount" required="true"
												style="text-align:right"
												rendered="#{importanceEventBean.renderNominalValueCapVar}"
												value="#{importanceEventBean.corporativeOperation.variationAmount}"
												disabled="true">
												<p:keyFilter mask="/[0-9,.]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />

											</p:inputText> <p:inputText id="txtViartionAmountvar"
												style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.securitiesVariationAmount}"
												rendered="#{importanceEventBean.renderNominalValueNoCapVar}"
												disabled="true">
												<p:keyFilter mask="/[0-9,.]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderNominalValueCapVar}"
												value="#{msgs['importance.event.shareBalanceVariationDate']} (*)" />
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderNominalValueNoCapVar}"
												value="#{msgs['importance.event.shareBalanceVariationDate']} (*)" />
										</td>
										<td colspan="3">
											<p:calendar id="dateVariationCapital" disabled="true"
												required="true" readonlyInput="true"
												rendered="#{importanceEventBean.renderNominalValueCapVar}"
												value="#{importanceEventBean.corporativeOperation.deliveryDate}"
												pattern="dd/MM/yyyy" size="10">
											</p:calendar> <p:calendar pattern="dd/MM/yyyy"
												value="#{importanceEventBean.corporativeOperation.deliveryDate}"
												id="dateVariationCapitalvar" disabled="true"
												rendered="#{importanceEventBean.renderNominalValueNoCapVar}"
												readonlyInput="true" size="10"></p:calendar>
										</td>	
									</tr>
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.newShareCapital']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid id="pnlShareCapitalActions" border="0" columns="2">
											<p:inputText style="text-align:right"
												id="txtShareCapitalActions"
												disabled="true"
												value="#{importanceEventBean.corporativeOperation.newShareCapital}"
												validator="#{importanceEventBean.validateMultiploCurNominalValue}"
												label="#{msgs['importance.event.newShareCapital']}">
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur"													
													update="txtVariationAmount txtNewShareBalance 
													pnlShareCapitalActions txtCirulanceBalance 
													motiveIncrease msgShareCapitalActions txtShareCapitalActions @form"
													listener="#{importanceEventBean.calculateShareCapitalVariationListener}" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:keyFilter regEx="/[0-9.,]/i" />
												
											</p:inputText>
											<p:message for="txtShareCapitalActions" id="msgShareCapitalActions"
														display="icon"/>
											</h:panelGrid>
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.newShareBalance']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid columns="2">
												<p:inputText id="txtNewShareBalance" 
												style="text-align:right" label="#{msgs['importance.event.newShareBalance']}"
												disabled="true"
												value="#{importanceEventBean.corporativeOperation.newShareBalance}">
												<p:ajax event="blur"
													process="txtCirulanceBalance txtNewShareBalance msgNewShareBalance"													
													update="txtCirulanceBalance txtNewShareBalance msgNewShareBalance" />
											<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
											<p:message for="txtNewShareBalance" id="msgNewShareBalance"
														display="icon"/>
											</h:panelGrid>											
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.newCirculationBalance']} (*)" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText id="txtCirulanceBalance" 
												value="#{importanceEventBean.corporativeOperation.newCirculationBalance}"
												style="text-align:right" label="#{msgs['importance.event.newCirculationBalance']}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax event="blur"
													process="txtCirulanceBalance txtNewShareBalance"
													listener="#{importanceEventBean.validateNewCirculationBalanceAmountListener}"
													update="txtCirulanceBalance msgCirulanceBalance" />
											<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
											</p:inputText>
											<p:message for="txtCirulanceBalance" id="msgCirulanceBalance"
														display="icon"/>
											</h:panelGrid>											
										</td>
									</tr>								
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field" 
												rendered="#{importanceEventBean.renderCapIncreaseMotive}"
												value="#{msgs['importance.event.increaseCapitalMotive']} (*)" />
										</td>
										<td colspan="5">
											<h:panelGrid columns="3">
												<p:inputText id="motiveIncrease"
												rendered="#{importanceEventBean.renderCapIncreaseMotive}"
												disabled="true" size="13" style="text-align:right"
												label="#{msgs['importance.event.increaseCapitalMotive']}"
												value="#{importanceEventBean.increaseCapitalMotive}"> 
												<p:ajax event="blur"												
													update="motiveIncrease msgMotiveIncrease" />
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:keyFilter regEx="/[0-9,.]/i" />
													<f:convertNumber
														pattern="#{gconst['conv.number.pattern.cash.amount']}"
														locale="#{gconst['conv.number.locale']}" />
												</p:inputText>	
											<p:commandButton
												rendered="#{importanceEventBean.renderCapIncreaseMotive}"
												value="..." process="@this"
												actionListener="#{importanceEventBean.renderIncreaseCapitalMotiveListener}" />
											<p:message for="motiveIncrease" id="msgMotiveIncrease"
														display="icon"/>	
											</h:panelGrid>											
										</td>
									</tr>
								</p:outputPanel>

								<p:outputPanel id="opnlPreferentSuscription"
									rendered="#{importanceEventBean.renderPreferentSuscriptionPanel}">								 
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.negotiationRank']} (*)" />
										</td>
										<td width="18%">
										    <h:panelGrid columns="2">
										    	<p:selectOneMenu  id="idNegotiationRank"
										    	label="#{msgs['importance.event.negotiationRank']}"
												value="#{importanceEventBean.corporativeOperation.negotiationRange}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems 
													value="#{importanceEventBean.listNegotiationRankType}"
													var="negotiation" itemValue="#{negotiation.code}"
													itemLabel="#{negotiation.code}" />
												<p:ajax event="change" process="@this"
													listener="#{importanceEventBean.enableNegotiationDatesListener}"
													update="@this idNegotiationRank msgNegotiationRank @form"></p:ajax>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
											</p:selectOneMenu>
											<p:message for="idNegotiationRank" id="msgNegotiationRank"
														display="icon"/>	
										    </h:panelGrid>											
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderFirstNegotiationDate}"
												id="txtFirstStartNegotiationDate"
												value="#{msgs['importance.event.startDate']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid columns="2">
												<p:calendar 
												beforeShowDay="disableAllHolydays" navigator="true"
												maxdate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.firstEndDate,-1)}"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.deliveryDate,1)}"
												id="calFirstStartNegotiationDate" 
												label="#{msgs['importance.event.startDate']}"
												value="#{importanceEventBean.corporativeOperation.firstStartDate}"
												lang="#{msgs['importance.event.startDate']}"
												size="10" maxlength="10" pattern="dd/MM/yyyy"
												showOn="button" disabled="#{importanceEventBean.corporativeOperation.deliveryDate==null}"
												rendered="#{importanceEventBean.renderFirstNegotiationDate}">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
												<p:ajax event="dateSelect"
													listener="#{importanceEventBean.determineDaysBetweenDatesListener()}"
													update="txtNegotiationRank calFirstEndNegotiationDate msgFirstStartNegotiationDate"
													process="@this" />
											</p:calendar>
											<p:message for="calFirstStartNegotiationDate" id="msgFirstStartNegotiationDate"
														display="icon"/>	
											</h:panelGrid>											
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderFirstNegotiationDate}"
												id="txtFirstEndNegotiationDate"
												value="#{msgs['importance.event.endDate']} (*)" />
										</td>
										<td width="18%"> 
											<h:panelGrid columns="2">
												<p:calendar  navigator="true"
												beforeShowDay="disableAllHolydays"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.firstStartDate,1)}"
												value="#{importanceEventBean.corporativeOperation.firstEndDate}"
												rendered="#{importanceEventBean.renderFirstNegotiationDate}"
												id="calFirstEndNegotiationDate" size="10" maxlength="10"
												label="#{msgs['importance.event.endDate']}"
												disabled="#{importanceEventBean.corporativeOperation.firstStartDate==null}"
												pattern="dd/MM/yyyy" showOn="button">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
												<p:ajax event="dateSelect"
													listener="#{importanceEventBean.determineDaysBetweenDatesListener()}"
													update="txtNegotiationRank calFirstEndNegotiationDate calFirstStartNegotiationDate 
													calSecondStartNegotiationDate calSecondEndNegotiationDate 
													calThirdStartNegotiationDate calThirdEndNegotiationDate
													msgFirstEndNegotiationDate "
													process="@this" />
											</p:calendar>
											<p:message for="calFirstEndNegotiationDate" id="msgFirstEndNegotiationDate"
														display="icon"/>	
											</h:panelGrid>	
										</td>
									</tr>
									<tr>
										<td width="13%"></td>
										<td width="18%"></td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderSecondNegotiationDate}"
												id="txtSecondtStartNegotiationDate"
												value="#{msgs['importance.event.startDate']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid columns="2">
											<p:calendar 
												beforeShowDay="disableAllHolydays" navigator="true"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.firstEndDate,1)}"
												maxdate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.secondEndDate,-1)}"
												value="#{importanceEventBean.corporativeOperation.secondStartDate}"
												rendered="#{importanceEventBean.renderSecondNegotiationDate}"
												id="calSecondStartNegotiationDate" size="10" maxlength="10"
												label="#{msgs['importance.event.startDate']}"
												disabled="#{importanceEventBean.corporativeOperation.firstEndDate==null}"
												pattern="dd/MM/yyyy" showOn="button">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
												<p:ajax event="dateSelect"
													update="calSecondEndNegotiationDate @this msgSecondStartNegotiationDate" process="@this" />
											</p:calendar>
											<p:message for="calSecondStartNegotiationDate" id="msgSecondStartNegotiationDate"
														display="icon"/>	
											</h:panelGrid>											
										</td>
										<td width="13%">
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderSecondNegotiationDate}"
												id="txtSecondEndNegotiationDate"
												value="#{msgs['importance.event.endDate']} (*)" />
										</td>
										<td width="18%">
											<h:panelGrid columns="2">
												<p:calendar navigator="true"
												beforeShowDay="disableAllHolydays"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.secondStartDate,1)}"
												value="#{importanceEventBean.corporativeOperation.secondEndDate}"
												rendered="#{importanceEventBean.renderSecondNegotiationDate}"
												label="#{msgs['importance.event.endDate']}"
												disabled="#{importanceEventBean.corporativeOperation.secondStartDate==null}"
												id="calSecondEndNegotiationDate" size="10" maxlength="10"
												pattern="dd/MM/yyyy" showOn="button">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>												
												<p:ajax event="dateSelect" listener="#{importanceEventBean.validateSecondEndDate()}"
													update="calSecondStartNegotiationDate @this calThirdStartNegotiationDate 
													msgSecondEndNegotiationDate calThirdEndNegotiationDate"
													process="@this" />
											</p:calendar>
											<p:message for="calSecondEndNegotiationDate" id="msgSecondEndNegotiationDate"
														display="icon"/>	
											</h:panelGrid>											
										</td>
									</tr>
									<tr>
										<td width="13%"></td>
										<td width="18%"></td>
										<td>
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderThirdNegotiationDate}"
												id="txtThirdStartNegotiationDate"
												value="#{msgs['importance.event.startDate']} (*)" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:calendar 
												beforeShowDay="disableAllHolydays" navigator="true"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.secondEndDate,1)}"
												maxdate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.thirdEndDate,-1)}"
												value="#{importanceEventBean.corporativeOperation.thirdStartDate}"
												rendered="#{importanceEventBean.renderThirdNegotiationDate}"
												id="calThirdStartNegotiationDate" size="10" maxlength="10"
												disabled="#{importanceEventBean.corporativeOperation.secondEndDate==null}"
												label="#{msgs['importance.event.startDate']}"
												pattern="dd/MM/yyyy" showOn="button">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>							
												<p:ajax event="dateSelect"
													update="calThirdEndNegotiationDate @this msgThirdStartNegotiationDate" process="@this" />
											</p:calendar>
											<p:message for="calThirdStartNegotiationDate" id="msgThirdStartNegotiationDate"
														display="icon"/>	
											</h:panelGrid>											
										</td>
										<td>
											<h:outputText styleClass="required-field"
												rendered="#{importanceEventBean.renderThirdNegotiationDate}"
												id="txtThirdEndNegotiationDate"
												value="#{msgs['importance.event.endDate']} (*)" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:calendar 
												beforeShowDay="disableAllHolydays" navigator="true"
												mindate="#{importanceEventBean.getAddDate(importanceEventBean.corporativeOperation.thirdStartDate,1)}"
												value="#{importanceEventBean.corporativeOperation.thirdEndDate}"
												rendered="#{importanceEventBean.renderThirdNegotiationDate}"
												id="calThirdEndNegotiationDate" size="10" maxlength="10"
												label="#{msgs['importance.event.endDate']}"
												disabled="#{importanceEventBean.corporativeOperation.thirdStartDate==null}"
												pattern="dd/MM/yyyy" showOn="button">
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>												
												<p:ajax event="dateSelect" listener="#{importanceEventBean.validateThirdEndDate()}"
													update="calThirdStartNegotiationDate @this msgThirdEndNegotiationDate" process="@this" />
											</p:calendar>
											<p:message for="calThirdEndNegotiationDate" id="msgThirdEndNegotiationDate"
														display="icon"/>	
											</h:panelGrid>											
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText styleClass="required-field"
												value="#{msgs['importance.event.nagotiationRankTime']} (*)" />
										</td>
										<td colspan="5">
											<p:inputText id="txtNegotiationRank" disabled="true"
												readonly="true"
												value="#{importanceEventBean.negotiationRank}" />
										</td>
									</tr>
								</p:outputPanel>

								<p:outputPanel id="opnlRemainingCashPayment" 
									rendered="#{importanceEventBean.renderRemainingCashPaymentPanel}">
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.id.description']} (*)"
												styleClass="required-field" />
										</td>
										<td colspan="5">
											<p:inputText disabled="true" id="txtRemanentId"
												required="true" size="50"
												value="#{importanceEventBean.importanceEvent.idCorporativeOperationPk} - #{importanceEventBean.parametersTableMapEvent[importanceEventBean.importanceEvent.corporativeEventType.corporativeEventType]}" />
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['lbl.fecha.registro']} (*)"
												styleClass="required-field" />
										</td>
										<td width="18%">
											<p:calendar disabled="true" required="true"
												id="calRegistryDateRemanent"
												value="#{importanceEventBean.importanceEvent.registryDate}"
												pattern="dd/MM/yyyy" readonlyInput="true" />
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.deliveryDate']} (*)"
												styleClass="required-field" />
										</td>
										<td colspan="3">
											<p:calendar disabled="true" required="true"
												id="calDeliveryDateRemanent"
												value="#{importanceEventBean.importanceEvent.deliveryDate}"
												pattern="dd/MM/yyyy" readonlyInput="true" />
										</td>
									</tr>
								</p:outputPanel>

								<!-- OutputPanel for securities Escision -->

								<p:outputPanel id="opnlSecuritiesEscision" 
											   rendered="#{importanceEventBean.renderSecuritiesEscision}">
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapital']}"
												 />
										</td>
										<td width="18%">
											<p:inputText id="txtShareCapitalTargetSE" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldShareCapital}"
												disabled="true">
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax event="blur" update="txtShareCapitalTargetSE"
													global="false"></p:ajax>
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareBalance']}"
												 />
										</td>
										<td width="18%">
											<p:inputText id="txtShareBalanceTargetSE" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldShareBalance}"
												disabled="true">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>	
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.cirtulationBalance']}"
												 />
										</td>
										<td width="18%">
											<p:inputText id="txtCirulationBalanceTargetSE"  style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.oldCirculationBalance}"
												disabled="true" >
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>											
									</tr>
									<tr>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapitalVariation']}"
												 />
										</td>
										<td width="18%">
											<p:inputText id="txtVariationAmountTargetSE" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.variationAmount}"
												disabled="true">
												<p:keyFilter regEx="/[0-9,.]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.shareCapitalVariationDate']}"
												 />
										</td>
										<td>
											<p:calendar id="dateVariationCapitalTargetSE"
												readonlyInput="true" disabled="true" 
												value="#{importanceEventBean.corporativeOperation.deliveryDate}"
												pattern="dd/MM/yyyy" size="10">
											</p:calendar>
										</td>
									</tr>
									<tr>
										<td width="13%">
											<h:outputText 
												value="#{msgs['importance.event.newShareCapital']}" />
										</td>																				
										<td width="18%">
											<h:panelGrid border="0" columns="2">											
												<p:inputText id="txtNewShareCapitalSE" 
													disabled="true" style="text-align:right"
													label="#{msgs['importance.event.newShareCapital']}"
													value="#{importanceEventBean.corporativeOperation.newShareCapital}">													
													<p:ajax event="blur"														
														update="@this txtVariationAmountTargetSE	msgNewShareCapitalSE 
														txtNewShareBalanceTargetSE  txtCirulanceBalancesSE 
														 @form"
														listener="#{importanceEventBean.calculateShareCapitalVariationListener}" />
													<p:keyFilter mask="/[0-9,.]/i" />
													<f:convertNumber
														pattern="#{gconst['conv.number.pattern.cash.amount']}"
														locale="#{gconst['conv.number.locale']}" />														
												</p:inputText>
												<p:message for="txtNewShareCapitalSE" id="msgNewShareCapitalSE"
														display="icon"/>													
											</h:panelGrid>
										</td>
										<td width="13%">
											<h:outputText
												value="#{msgs['importance.event.newShareBalance']}"
												/>
										</td>
										<td width="18%">
											<p:inputText id="txtNewShareBalanceTargetSE"
												disabled="true" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.newShareBalance}">
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax></p:ajax>
											</p:inputText>
										</td>
										<td width="13%">
											<h:outputText 
												value="#{msgs['importance.event.newCirculationBalance']}" />
										</td>	
										<td width="18%">		
											<h:panelGrid columns="2">
												<p:inputText id="txtCirulanceBalancesSE" style="text-align:right"
												value="#{importanceEventBean.corporativeOperation.newCirculationBalance}"
												disabled="true">												
												<p:keyFilter regEx="/[0-9]/i" />
												<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
												<p:ajax event="blur"
													process="txtCirulanceBalancesSE txtNewShareBalanceTargetSE"
													global="false"
													update=" @this txtCirulanceBalancesSE msgCirulanceBalancesSE @form"
													listener="#{importanceEventBean.validateNewCirculationBalanceAmountListener}" />
											</p:inputText>	
											<p:message for="txtCirulanceBalancesSE" id="msgCirulanceBalancesSE"
														display="icon"/>												
											</h:panelGrid>				
										</td>
									</tr>
								</p:outputPanel>

								<tr>
									<td width="13%">
										<h:outputText
											value="#{msgs['importance.event.lbl.comments']}" />
									</td>
									<td colspan="5"><p:inputTextarea
											value="#{importanceEventBean.corporativeOperation.comments}"
											cols="100" rows="5" maxlength="200">
											<p:keyFilter regEx="/[0-9,.A-Z-_:;()# ]/i" />
										</p:inputTextarea>
									</td>
								</tr>								
							</table>
					</p:fieldset>
					</td>
				</tr>		
				<tr>
					<td colspan="4" align="center">
							<p:commandButton 
			 				  onclick="if(!isModifiedFormForSave('#importanceEventForm',true))return false;"
							  value="#{gmsgs['btn.save']}" icon="fa fa-save" 
							  actionListener="#{importanceEventBean.confirmBeforeSave}"
							  update="@form opnlModals 
							  :importanceEventForm:opnlSecurityHelper :importanceEventForm:opnlSecurityHelperAux :opnlGenericDialogs"/> 	
							<p:spacer width="5" />
							
							<p:commandButton id="cmbClean" 
											 value="#{gmsgs['btn.clean']}" 
											 icon="fa fa-trash"											 
											 update="@form"											
											 oncomplete="PF('cnfwClean').hide()" partialSubmit="false"
											 onclick="return !isModifiedFormClear('#importanceEventForm')" 
											 immediate="true"
											 ajax="false"/>
								
							<p:spacer width="5" />
							
							<p:commandButton id="cmbBack" 							    
						     onclick="if(isModifiedFormForBack(this,'importanceEventForm'))return false;"
						     action="searchImportanceEvent"		
							 value="#{gmsgs['btn.back']}" 
							 icon="fa fa-undo"
							 immediate="true"
							 ajax="false"/>		
					 </td>
				</tr>
			</table>

			<p:outputPanel id="opnlModals">

				<p:confirmDialog id="cnfBacTransaction"
					widgetVar="cnfwBacTransaction" visible="true" rendered="false"
					message="#{bodyMessageView}" header="#{headerMessageView}"
					closable="false">

					<p:commandButton value="#{gmsgs['btn.accept']}" immediate="true"
						update=" opnlModals"
						action="#{importanceEventBean.finishRegister}" />

				</p:confirmDialog>


				<p:confirmDialog message="#{bodyMessageView}" id="cnfBeforeSave"
					header="#{msgs['importance.event.registryHeader']}"
					widgetVar="cnfwBeforeSave" rendered="false" visible="true"
					closable="false">

					<p:commandButton id="cmbYesBefYes" value="#{gmsgs['btn.yes']}"
						update="opnlModals "
						actionListener="#{importanceEventBean.save}" />
					<p:commandButton id="cmbYesBefNo" value="#{gmsgs['btn.no']}"
						actionListener="#{importanceEventBean.hideDialogs}"
						immediate="true" onclick="PF('cnfwBeforeSave').hide();"
						update="opnlModals" oncomplete="PF('cnfwBeforeSave').hide();" />

				</p:confirmDialog>

				<p:confirmDialog message="#{bodyMessageView}" id="cnfSave"
					widgetVar="cnfwSave" rendered="false" visible="true"
					header="#{msgs['improtance.event.exitHeader']}" closable="false">

					<p:commandButton ajax="false" value="#{gmsgs['btn.accept']}"
						action="search" actionListener="#{importanceEventBean.clearAll}" />

				</p:confirmDialog>


				<p:confirmDialog header="#{msgs['importance.event.alertHeader']}"
					message="Relacion de canje de valor Origen debe de ser mayor a la del destino."
					id="cnfIssuer" widgetVar="cnfwIssuer" closable="false">

					<p:commandButton value="#{gmsgs['btn.accept']}"
						onclick="PF('cnfwIssuer').hide();" />

				</p:confirmDialog>

				<p:confirmDialog message="#{bodyMessageView}"
					header="#{headerMessageView}" id="cnfSecurity"
					widgetVar="cnfwSecurity" rendered="false" visible="true"
					closable="false">

					<p:commandButton value="#{gmsgs['btn.accept']}"
						onclick="PF('cnfwSecurity').hide();" />

				</p:confirmDialog>


				<p:confirmDialog message="#{bodyMessageView}" id="cnfWarning"
					widgetVar="cnfwWarning" closable="false">

					<p:commandButton value="#{gmsgs['btn.accept']}"
						onclick="PF('testw').hide();" />

				</p:confirmDialog>


				<p:confirmDialog id="cnfClear" message="#{gmsgs['conf.msg.clean']}"
					closable="false" header="#{gmsgs['lbl.header.alert']}"
					severity="alert" widgetVar="cnfwClear">
					<p:commandButton value="#{gmsgs['btn.yes']}" immediate="true"
						oncomplete="PF('cnfwClear').hide()" update="opnlModals @form"
						actionListener="#{importanceEventBean.clearRegistry('importanceEventForm')}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwClear').hide()" type="button" />
				</p:confirmDialog>

				<p:confirmDialog id="cnfBack" message="#{msgs['msg.back']}"
					closable="false" header="#{gmsgs['lbl.header.alert']}"
					widgetVar="cnfwBack">
					<p:commandButton value="#{gmsgs['btn.yes']}" immediate="true"
						oncomplete="PF('cnfwBack').hide()"
						actionListener="searchImportanceEvent"
						action="#{importanceEventBean.finishRegister}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBack').hide()" type="button" />
				</p:confirmDialog>




			</p:outputPanel>


			<p:outputPanel id="opnlModalmotive">

				<p:confirmDialog id="cnfValidateMotiveIncrease"
					message="#{msgs['importance.event.requiredIncreaseMotive']}"
					closable="false" header="#{gmsgs['lbl.header.alert']}"
					widgetVar="cnfwValidateMotiveIncrease">
					<p:commandButton value="Aceptar" process="opnlModalmotive"
						actionListener="#{importanceEventBean.clearMotiveModalListener}"
						update="motiveIncrease cnfMotiveIncrease" />
				</p:confirmDialog>


				<p:dialog header="#{msgs['importance.event.increaseCapitalMotive']}"
					resizable="false" modal="true" id="cnfMotiveIncrease"
					widgetVar="cnfwMotiveIncrease" closable="false">

					<table>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableReserveCapitalization}">
									<p:ajax update="txtReserveCapitalization" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText
									value="#{msgs['importance.event.capitalization.reserves']}" />
							</td>
							<td><p:inputText id="txtReserveCapitalization"
									style="text-align:right"
									value="#{importanceEventBean.reserveCapitalizationMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableReserveCapitalization}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtReserveCapitalization"
										global="false"></p:ajax>
								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableUitilitiesCapitalization}">
									<p:ajax update="txtUtilitieCap" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText
									value="#{msgs['importance.event.capitalization.utilities']}" />
							</td>
							<td><p:inputText id="txtUtilitieCap"
									style="text-align:right"
									value="#{importanceEventBean.utilitiesCapitalizationMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableUitilitiesCapitalization}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtUtilitieCap" global="false"></p:ajax>

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableRevaluationExedent}">
									<p:ajax update="txtRevaluationEx" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>

							<td><h:outputText
									value="#{msgs['importance.event.revaluation']}" /></td>
							<td><p:inputText id="txtRevaluationEx"
									style="text-align:right"
									value="#{importanceEventBean.revaluationExcedentMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableRevaluationExedent}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtRevaluationEx" global="false" />

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableFusion}">
									<p:ajax update="txtFusion" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText value="#{msgs['importance.event.fusion']}" /></td>
							<td><p:inputText id="txtFusion" style="text-align:right"
									value="#{importanceEventBean.fusionMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableFusion}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtFusion" global="false"></p:ajax>

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableOthers}">
									<p:ajax update="txtOthers" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText value="#{msgs['importance.event.others']}" /></td>
							<td><p:inputText id="txtOthers" style="text-align:right"
									value="#{importanceEventBean.othersMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableOthers}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtOthers" global="false"></p:ajax>

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableCapitalReexpresion}">
									<p:ajax update="txtCapitalReex" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText
									value="#{msgs['importance.event.capital.reexpresion']}" /></td>
							<td><p:inputText id="txtCapitalReex"
									style="text-align:right"
									value="#{importanceEventBean.capitalReexpresionMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableCapitalReexpresion}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtCapitalReex" global="false"></p:ajax>

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.disableResultInflation}">
									<p:ajax update="txtResultInfl" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>
							<td><h:outputText value="#{msgs['importance.event.result']}" /></td>
							<td><p:inputText id="txtResultInfl" style="text-align:right"
									value="#{importanceEventBean.resultExpositionMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.disableResultInflation}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtResultInfl" global="false"></p:ajax>

								</p:inputText></td>

						</tr>

						<tr>
							<td><p:selectBooleanCheckbox
									value="#{importanceEventBean.voluntierRevaluation}">
									<p:ajax update="txtVoluntierReva" process="@this"
										listener="#{importanceEventBean.addCapitalIncreaseMotiveListener}" />
								</p:selectBooleanCheckbox></td>

							<td><h:outputText
									value="#{msgs['importance.event.revaluation.voluntier']}" /></td>
							<td><p:inputText id="txtVoluntierReva"
									style="text-align:right"
									value="#{importanceEventBean.voluntierRevaluationMotive.increaseQuantity}"
									disabled="#{!importanceEventBean.voluntierRevaluation}">
									<p:keyFilter regEx="/[0-9,.]/i" />
									<f:convertNumber
										pattern="#{gconst['conv.number.pattern.price']}"
										locale="#{gconst['conv.number.locale']}" />
									<p:ajax event="blur" update="txtVoluntierReva" global="false"></p:ajax>
								</p:inputText></td>

						</tr>
						<tr align="center">
							<td align="center" colspan="3">
							
								<p:commandButton id="cnfMotiveIncreaseAccept"
										value="#{gmsgs['btn.accept']}" icon="fa fa-save"
										process="opnlModalmotive"
										actionListener="#{importanceEventBean.acceptCapitalIncreaeMotive}"
										update="@form" /> 
										
								<p:commandButton id="cmbMotiveIncreaseBack"
												 value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo"
												 oncomplete="PF('cnfwMotiveIncrease').hide();">
								</p:commandButton>
							</td>
						</tr>
						<tr> 
							<td> 
								<p:messages autoUpdate="true"/>
							</td>
						</tr>

					</table>

				</p:dialog>

			</p:outputPanel>

		</h:form>
	</ui:define>
</ui:composition>
</html>