<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui"	>

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<style type="text/css">
.ui-datatable .ui-datatable-footer {
	text-align: left !important;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	text-transform: uppercase !important;
}

.ui-selectonemenu {
	text-transform: uppercase !important;
}
</style>
	
	<h:outputText value="Only Test" styleClass="title-page" />

		<h:form id="frmTest">
			<table width="100%" >
				<tr>
					<td><h:outputText value="Participante" styleClass="field-required" /></td>
					<td >
						<p:selectOneMenu id="cboParticipantOnly" value="#{onlyTestBean.participant.idParticipantPk}" style="width:350px"  >
							<f:selectItem itemLabel="--SELECCIONE--" itemValue="-1"/>	
							<f:selectItems value="#{onlyTestBean.listParticipants}"/>
							<p:ajax event="change" process="cboParticipantOnly"  partialSubmit="true"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="Emisor" /></td>
					<td>
						 <p:outputPanel id="pnlTestIssuer">
						  	<ark:issuer 	id="issuerHelper1"
						  					value="#{onlyTestBean.issuer.idIssuerPk}"
						  					mnemonic="true"
						  					description="true"
						  					remoteListener="rcmdIssuer()"/>
						 </p:outputPanel>
					 	 <p:remoteCommand name="rcmdIssuer"
					 	 				  global="true"
					 	 				  actionListener="#{onlyTestBean.settingSecuritiesByIssuer()}"
					 	 				  update="pnlSecurities" />
					 </td>	
				</tr>
				<tr>
					<td><h:outputText value="Lista Valores" /></td>
					<td>
					<p:outputPanel id="pnlSecurities">
						<p:selectOneMenu id="cboSecuritiesList" style="width:350px" 
										 value="#{onlyTestBean.idIsinCodePkSelected}">
							<f:selectItem itemLabel="--SELECCIONE--" itemValue="-1"/>	
							<f:selectItems value="#{onlyTestBean.listSecurities}" 
										   var="security" 
										   itemLabel="#{security.description}"
										   itemValue="#{security.securitiesCode}"/>
							<p:ajax event="change" 
									process="@this" 
									partialSubmit="true"
									update="pnlTestSecurity"
									listener="#{onlyTestBean.settingExampleType}" />
						</p:selectOneMenu>
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="Valor" /></td>
					<td>
						 <p:outputPanel id="pnlTestSecurity">
						  	<ark:securities id="securityHelper1"
						  					value="#{onlyTestBean.security.idIsinCodePk}"
						  					name="securityHelperName1"
						  					mnemonic="true"
						  					remoteListener="rcmdMessage()"/>
						 </p:outputPanel>
					 	 <p:remoteCommand name="rcmdMessage" update="lazypanel">
					 	 	 <f:setPropertyActionListener value="#{true}"   
            											  target="#{onlyTestBean.showmessage}" /> 
					 	 </p:remoteCommand>
					 </td>					 
			    </tr>
			    <tr>
			    	<td>
			    		<p:outputPanel id="lazypanel" layout="block">  
					        <h:outputText value="Helper is ALiveeeee!!!!!" rendered="#{onlyTestBean.showmessage}"/>  
					    </p:outputPanel> 
			    	</td>
			    </tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>