<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
		.ui-datatable table{
		width: 100% !important;
		}
		</style>
		<h:form id="frmGeneral">
			<table width="100%">				
				<tr>
					<td>
					<table width="100%">
						<tr>
							<td align="left">
								<h:outputText value="#{gmsgs['isecurities.issuer.manageissuers.title']}" styleClass="title-page" />
							</td>
							<td align="right">
								<p:commandButton value="#{gmsgs['btn.register']}" 
												 icon="fa fa-edit" 
												 rendered="#{userPrivilege.userAcctions.register}"
												 action="#{issuerMgmtBean.loadRegisterIssuerAction}" 
												 ajax="false" process="@this" />		 
							</td>																				
						</tr>
					</table>
					</td>
				</tr>				
				<tr>
					<td>
						<p:fieldset  id="fldsFilters" legend="#{gmsgs['lbl.criteria.search']}">
							<table width="100%">
								<tr>								
									<td><h:outputText value="#{msgs['issuer.lbl.mnemonic']}" /></td>
									<td><p:inputText value="#{issuerMgmtBean.issuerTO.mnemonic}"
										style="width:150px" disabled="#{userInfo.userAccountSession.issuerInstitucion or userInfo.userAccountSession.issuerDpfInstitucion}"
										 id="txtIssuerCode"  maxlength="8" >
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>											
											<p:ajax event="keyup" listener="#{issuerMgmtBean.cleanDataModel}" 
													update="opnlResult,pnlButtons" global="false"/>											
										</p:inputText>										
									</td>									
									<td>
										<h:outputText value="#{msgs['issuer.lbl.tradename']}" />
									</td>
									<td colspan="3">
										<p:inputText value="#{issuerMgmtBean.issuerTO.businessName}"
												disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}"
									 			style="width:644px" id="txtTradeName" maxlength="150" >
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name.with.asterisk']}"/>
												<p:ajax event="keyup" listener="#{issuerMgmtBean.cleanDataModel}" 
													update="opnlResult,pnlButtons" global="false"/>
										</p:inputText>
									</td>								
								</tr>																
								<tr>	
									<td><h:outputText value="#{msgs['issuer.lbl.doctype']}" /></td>
									<td>
										<p:selectOneMenu id="cboDocumentType" style="width:200px"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}"
										 	value="#{issuerMgmtBean.issuerTO.documentType}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{issuerMgmtBean.lstIssuerDocumentTypeForSearch}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											<p:ajax event="change"
												listener="#{issuerMgmtBean.changeSelectedDocumentTypeSearch}" 
												update=":frmGeneral:txtDocumentNumber,opnlResult,pnlButtons"/>			
										</p:selectOneMenu>
									</td>
									<td>	
										<h:outputText value="#{msgs['issuer.lbl.docnumber']}"/>								
									</td>
									<td>
										<p:inputText id="txtDocumentNumber" styleClass="medium-input-text-width"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll or issuerMgmtBean.issuerTO.documentType==null}" 
											maxlength="#{issuerMgmtBean.documentTORegister.maxLenghtDocumentNumber}"										 
										  value="#{issuerMgmtBean.issuerTO.documentNumber}" >
<!-- 											<p:keyFilter regEx="#{issuerMgmtBean.documentTORegister.numericTypeDocument ? cons['exp.regular.numeric.integer'] : cons['exp.regular.alphanumeric.not.space']}"/> -->
											<p:keyFilter rendered="#{issuerMgmtBean.documentTORegister.numericTypeDocument}" mask="int" preventPaste="false"/>
											<p:ajax event="keyup" listener="#{issuerMgmtBean.cleanDataModel}" 
													update="opnlResult,pnlButtons" global="false"/>
										</p:inputText>
									</td>	
									<ui:remove>							
									<td>
										<h:outputText value="#{msgs['issuer.lbl.mnemonic']}" />
									</td>
									<td>
										<p:inputText  style="width:150px" id="txtMnemonic"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}" maxlength="8"
									 		value="#{issuerMgmtBean.issuerTO.mnemonic}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.asterisk']}"/>
											<p:ajax event="keyup" listener="#{issuerMgmtBean.cleanDataModel}" 
													update="opnlResult,pnlButtons" global="false"/>
										</p:inputText>	
									</td>	
									</ui:remove>																										
								</tr>													
								<tr>
									<td>
										<h:outputText value="#{msgs['issuer.lbl.state']}" />									
									</td>	
									<td>
										<p:selectOneMenu id="cboIssuerState" style="width:200px"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}" value="#{issuerMgmtBean.issuerTO.issuerState}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />	
											<f:selectItems value="#{issuerMgmtBean.lstIssuerStateForSearch}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>	
											<p:ajax listener="#{issuerMgmtBean.cleanDataModel}"
											update="opnlResult,pnlButtons" process="@this" />														
										</p:selectOneMenu>
									</td>
									<td><h:outputText value="#{msgs['issuer.lbl.economicsector']}" /></td>
									<td>
										<p:selectOneMenu style="width:200px;" id="cboEconomicSector" value="#{issuerMgmtBean.issuerTO.economicSector}"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{issuerMgmtBean.lstEconomicSectorForSearch}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											<p:ajax listener="#{issuerMgmtBean.changeSelectedEconomicSectorForSearch}"
											update="cboEconomicActivity,opnlResult,pnlButtons" process="@this" />		
										</p:selectOneMenu>
									</td>
									<td>
										<h:outputText value="#{msgs['issuer.lbl.economicactivity']}" />
									</td>
									<td>
										<p:selectOneMenu style="width:200px;" id="cboEconomicActivity" value="#{issuerMgmtBean.issuerTO.economicActivity}"
											disabled="#{issuerMgmtBean.issuerTO.allowSearchAll}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{issuerMgmtBean.lstEconomicActivityForSearch}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											<p:ajax listener="#{issuerMgmtBean.cleanDataModel}"
											update="opnlResult,pnlButtons" process="@this" />			
										</p:selectOneMenu>
									</td>
																	
								</tr>																																	
								<tr>
									<td colspan="6" align="center">
										<p:commandButton id="cmbSearch" 
														 value="#{gmsgs['btn.search']}" 
														 icon="fa fa-search"  
														 rendered="#{userPrivilege.userAcctions.search}"
														 actionListener="#{issuerMgmtBean.searchIssuerByFilters}" update="@form"/> 

										<p:commandButton value="#{gmsgs['btn.clean']}" 
														 process="@this" 
														 icon="fa fa-trash" 
														 action="#{issuerMgmtBean.cleanSearch}"
														 update="@form" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>	
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlButtons">		
						<p:outputPanel id="pnlButton" rendered="#{issuerMgmtBean.issuerDataModel.rowCount >= 1}">						
							<comp:privileges 
											actions="#{userPrivilege.userAcctions}"
											renders="#{userPrivilege.privilegeComponent}"								
											actionConfirm="#{issuerMgmtBean.detailConfirmIssuerRegister}"
											actionModify="#{issuerMgmtBean.modifyIssuerRegister}"
											>
							</comp:privileges>							
						</p:outputPanel>
						</p:outputPanel>
					</td>
				</tr>
				
				<tr>
					<td>
						<p:outputPanel id="opnlResult">
						<p:outputPanel rendered="#{issuerMgmtBean.issuerDataModel != null}">
						<p:fieldset legend="#{gmsgs['lbl.results']}"   rendered="#{issuerMgmtBean.issuerDataModel.rowCount>=1}" id="fldResults">					
							<p:dataTable id="dtbResult" var="iss" first="#{issuerMgmtBean.firsRegisterDataTable}"
									paginator="true" value="#{issuerMgmtBean.issuerDataModel}"
									rendered="#{issuerMgmtBean.issuerDataModel.rowCount>=1}"
									rows="10" 
									paginatorPosition="top"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" 
					                paginatorTemplate="#{gmsgs['dtb.paginator.template']}" 
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
									rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									selection="#{issuerMgmtBean.issuer}"
									rowKey="#{iss.idIssuerPk}"									
									style="width:100% !important" sortBy="#{iss.idIssuerPk}" sortOrder="descending">
									
								<p:column selectionMode="single" style="width:18px" />
									
								<p:column sortBy="#{iss.mnemonic}" >
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.mnemonic']}" />
									</f:facet>
									<p:commandLink action="#{issuerMgmtBean.detailIssuer}"
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
											process="@this" ajax="false">
										<f:setPropertyActionListener
											target="#{issuerMgmtBean.idIssuerPk}" 
											value="#{iss.idIssuerPk}" />										
										<h:outputText value="#{iss.mnemonic}" />
									</p:commandLink>
								</p:column>	
								<p:column sortBy="#{iss.idIssuerPk}" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.code']}" />
									</f:facet>
									<h:outputText value="#{iss.idIssuerPk}" />
								</p:column>							
								<p:column sortBy="#{iss.businessName}" >
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.tradename']}" />
									</f:facet>
									<h:outputText value="#{iss.businessName}" />
								</p:column>	
								<p:column sortBy="#{iss.fullDocument}" >
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.documenttypeandnumber']}" />
									</f:facet>
									<h:outputText value="#{iss.fullDocument}" />
								</p:column>							
								<p:column sortBy="#{iss.economicSectorDescription}" >
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.economicsector']}" />
									</f:facet>
									<h:outputText value="#{iss.economicSectorDescription}" />
								</p:column>								
								<p:column sortBy="#{iss.economicActivityDescription}">
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.economicactivity']}"/>
									</f:facet>
									<h:outputText value="#{issuerMgmtBean.parametersTableMap[iss.economicActivity]}"/>
								</p:column>								
								<p:column sortBy="#{iss.descriptionSocietyTypePt}">
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.societytype']}" />
									</f:facet>
									<h:outputText value="#{iss.descriptionSocietyTypePt}" />
								</p:column>
								<p:column styleClass="content-center" sortBy="#{iss.stateIssuerDescription}">
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.state']}" />
									</f:facet>
									<h:outputText value="#{iss.stateIssuerDescription}" />
								</p:column>								
								<f:facet name="footer">	
									<div style="width:100%; text-align:left">
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{issuerMgmtBean.issuerDataModel.rowCount}"/>
						            </h:outputFormat>									
									</div>
								</f:facet>								
								<p:ajax event="page" listener="#{issuerMgmtBean.changePageDatatable}"/>
							</p:dataTable>
						</p:fieldset>						
						<p:panel rendered="#{!(issuerMgmtBean.issuerDataModel.rowCount >= 1)}">
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
								style="font-weight:bold;"/>	
					    </p:panel>					    
					    </p:outputPanel>						
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		</p:outputPanel>
    
	</ui:define>
</ui:composition>
</html>