<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<p:outputPanel id="idStyle">
			<h:outputText
				value="Confirmar Procesos de Re Inicio de Saldos Contables"
				styleClass="title-page" />
			<h:form id="frmViewAccountingReStart">
				<table width="100%">
					<tr>
						<td><p:fieldset legend="#{msgs['lbl.process.data']}">

								<table width="100%" border="0">
									<tr>
										<td width="220px"><h:outputText
												value="#{msgs['daily.auxiliary.lbl.type']} (*)"
												styleClass="required-field" /></td>
										<td width="280px"><h:panelGrid columns="2">
												<p:selectOneMenu id="cmbDailyAuxiliaryhId"
													style="width:250px;" disabled="true"
													value="#{searchInitAccountingBalancesMgmtBean.viewFilterStartBalanceTO.auxiliaryType}"
													label="#{msgs['daily.auxiliary.lbl.type']}">
													<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
													<f:selectItems
														value="#{searchInitAccountingBalancesMgmtBean.listParameterAuxiliaryType}"
														var="parameterList"
														itemLabel="#{parameterList.nameWithDescription}"
														itemValue="#{parameterList.idAccountingParameterPk}" />
													<f:validator validatorId="selectOneRequiredValidator" />
												</p:selectOneMenu>
											</h:panelGrid></td>
									</tr>
									<tr>
										<td><p:outputLabel
												value="#{msgs['label.message.panel.origen.dates']} (*)"
												styleClass="required-field"></p:outputLabel></td>
										<td><h:panelGrid columns="2" style="margin-bottom:10px"
												cellpadding="5">
												<p:selectOneRadio id="console"
													value="#{searchInitAccountingBalancesMgmtBean.viewFilterStartBalanceTO.dataOrigin}"
													disabled="true" unselectable="true">
													<f:selectItem
														itemLabel="#{msgs['label.message.value.folio']}"
														itemValue="1" />
													<f:selectItem
														itemLabel="#{msgs['label.message.value.accounting']}"
														itemValue="2" />
												</p:selectOneRadio>
											</h:panelGrid></td>
									</tr>
									<tr>
										<td width="220px"><h:outputText
												value="#{msgs['lbl.generate.process.date']} (*)"
												styleClass="required-field" /></td>
										<td width="280px"><p:calendar id="dailyPeriodId"
												readonly="#{facesContext.renderResponse}" size="10"
												navigator="true" disabled="true"
												value="#{searchInitAccountingBalancesMgmtBean.viewFilterStartBalanceTO.executionDate}"
												pattern="#{gmsgs['calendar.date.format']}" showOn="button"
												maxlength="10">
											</p:calendar></td>
										<td></td>
									</tr>
									<tr>
										<td width="100%" colspan="4"><p:dataTable
												id="idDataTableAccountingSchema" var="accountingSchema"
												value="#{searchInitAccountingBalancesMgmtBean.listAccountingProcessSchemaTo}"
												paginator="false" rows="14" paginatorPosition="top"
												rowKey="#{accountingSchema.idAccountingProcessSchemaPk}"
												paginatorTemplate="#{msgs['dtb.paginator.template']}"
												rowsPerPageTemplate="5,10,15"
												currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
												<p:column
													headerText="#{msgs['lbl.message.column.id.process']}"
													styleClass="content-center">
													<h:outputLabel
														value="#{accountingSchema.accountingProcess.idAccountingProcessPk}">
													</h:outputLabel>
												</p:column>
												<p:column
													headerText="#{msgs['lbl.message.column.id.process.schema']}"
													styleClass="content-center">
													<h:outputLabel
														value="#{accountingSchema.idAccountingProcessSchemaPk}">
													</h:outputLabel>
												</p:column>
												<p:column
													headerText="#{msgs['lbl.message.alert.send.process']}"
													styleClass="content-center">
													<p:commandButton
														value="#{msgs['lbl.message.button.send.process']}"
														disabled="#{searchInitAccountingBalancesMgmtBean.disableSend}"
														icon="ui-send"
														actionListener="#{searchInitAccountingBalancesMgmtBean.beforeExecuteProcess}">
														<f:attribute name="selectedObject"
															value="#{accountingSchema}" />
													</p:commandButton>
												</p:column>
												<p:column headerText="#{msgs['lbl.book.account.state']}"
													styleClass="content-center">
													<h:outputLabel
														value="#{accountingSchema.descriptionStatus}"
														rendered="#{accountingSchema.status eq '2122' }"
														style="color: green;">
													</h:outputLabel>
													<h:outputLabel
														value="#{accountingSchema.descriptionStatus}"
														rendered="#{accountingSchema.status eq '2514' }"
														style="color: red;">
													</h:outputLabel>
													<h:outputLabel
														value="#{accountingSchema.descriptionStatus}"
														rendered="#{accountingSchema.status eq '2138' }"
														style="color: blue;">
													</h:outputLabel>
												</p:column>
												<p:column headerText="#{msgs['lbl.description']}"
													styleClass="content-left"
													sortBy="#{accountingSchema.accountingSchema.description}">
													<h:outputLabel
														value="#{accountingSchema.accountingSchema.description}">
													</h:outputLabel>
												</p:column>
											</p:dataTable></td>
									</tr>
									<tr>
										<td align="center" colspan="5"><p:commandButton
												id="cmbBack" value="#{msgs['btn.back']}" icon="fa fa-undo"
												immediate="true" action="backDetailPageInitAccount"
												process="@this" /> <p:spacer width="5" height="0">
											</p:spacer> <p:commandButton id="cmbReject"
												value="#{msgs['btn.reject']}" icon="ui-reject"
												rendered="#{searchInitAccountingBalancesMgmtBean.renderedButtonReject}"
												immediate="true"
												actionListener="#{searchInitAccountingBalancesMgmtBean.beforeRejectAccountingProcess}"
												process="@this" /></td>
									</tr>
								</table>
							</p:fieldset></td>
					</tr>
				</table>
				<p:outputPanel id="outPnlDialogs">
					<!-- Dialogo para ejecutar el proceso -->
					<p:confirmDialog widgetVar="cnfWConfirmDialogPreExecute"
						id="cnfIdConfirmDialogPreExecute"
						header="#{msgs['messages.alert']}"
						message="#{msgs['lbl.message.confirm.process.alert']}"
						closable="false" severity="alert">
						<p:commandButton onclick="cnfWConfirmDialogPreExecute.hide()"
							value="#{msgs['btn.yes']}"
							actionListener="#{searchInitAccountingBalancesMgmtBean.executeProcessSchema}"
							process="@this" />
						<p:commandButton value="#{msgs['btn.no']}" process="@this"
							onclick="cnfIdConfirmDialogPreExecute.hide()" />
					</p:confirmDialog>
					<!-- Registro de dialogo -->
					<p:confirmDialog widgetVar="cnfWConfirmDialogAccept"
						id="cnfIdConfirmDialogAccept" header="#{msgs['messages.alert']}"
						message="#{msgs['lbl.message.confirm.execute.process']}"
						closable="false" severity="alert">
						<p:commandButton onclick="cnfWConfirmDialogAccept.hide()"
							value="#{msgs['btn.accept']}" action="backDetailPageInitAccount"
							process="@this" />
					</p:confirmDialog>
					<!-- Dialogo para rechazar el proceso -->
					<p:confirmDialog widgetVar="cnfWConfirmDialogPreReject"
						id="cnfIdConfirmDialogPreReject"
						header="#{msgs['messages.alert']}"
						message="#{msgs['lbl.message.alert.reject.accounting.process']}"
						closable="false" severity="alert">
						<p:commandButton onclick="cnfWConfirmDialogPreReject.hide()"
							value="#{msgs['btn.yes']}"
							actionListener="#{searchInitAccountingBalancesMgmtBean.confirmRejectAccountingProcess}"
							process="@this" />
						<p:commandButton value="#{msgs['btn.no']}" process="@this"
							onclick="cnfIdConfirmDialogPreReject.hide()" />
					</p:confirmDialog>
					<!-- Dialogo de aviso rechazo el proceso -->
					<p:confirmDialog widgetVar="cnfWConfirmDialogPreRejectAccept"
						id="cnfIdConfirmDialogPreRejectAccept"
						header="#{msgs['messages.alert']}"
						message="#{msgs['lbl.message.button.reject.succesfull']}"
						closable="false" severity="alert">
						<p:commandButton value="#{msgs['btn.accept']}" process="@this"
							action="backDetailPageInitAccount"
							onclick="cnfIdConfirmDialogPreRejectAccept.hide()" />
					</p:confirmDialog>
				</p:outputPanel>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>