<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html" locale="#{userInfo.currentLanguage}">
<h:head>
	<f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
    </f:facet>
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="application_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
	<h:outputScript library="js" name="idepositary.js" />
	<ui:insert name="header" />
	<script type="text/javascript">
		function loadPage(){
			<ui:insert name="loadPage">
			</ui:insert>
		}
	</script>
    <script src="https://kit.fontawesome.com/b4ee8c9370.js">
    </script>
	


 <script>
	
     idleTime = 0;
     idlFirst =  true;
     $(document).ready(function () {
         //Increment the idle time counter every minute.
         var idleInterval = setInterval(timerIncrement,60000); 
         //Zero the idle timer on mouse movement.
         //$(this).mousemove(function (e) {
         //    idleTime = 0;
       //  });
         $(this).keypress(function (e) {
            // alert('dfsdfsd');
             idleTime = 0;
         });
         $(this).click(function (e) {
             idleTime = 0;
         });
     });

     function timerIncrement() {
    	 idleTime = idleTime + 1;
          if(idlFirst){
            if (idleTime == #{applicationParameter.sessionIdleTime}) {
            	var parentTimeOut = parent.document.getElementById('globalSessionTimeOutAction');
          	  	if(parentTimeOut != null){
          		  parentTimeOut.click();
                } else {
              	  $("#sessionTimeOutAction").click();
                }
        	 	 idlFirst = false;
              }
          }
     }
   //check user backbutton
 	//<![CDATA[
 	  jQuery(document).ready(function($) {
 	  if (window.history && window.history.pushState) {
 	    $(window).on('popstate', function() {
       var hashLocation = location.hash;
       var hashSplit = hashLocation.split("#");
       var hashName = hashSplit[1];
       if (hashName !== '') {
         var hash = window.location.hash;
         /* Comentado por interferencia con algunos componentes
         if (hash === '') {
         	window.top.location.href='#{applicationParameter.urlBackButton}';
           return false;
         }
         */
       }
     });

     window.history.pushState('forward', null, '#forward');
   }

 });
 	//]]>
    </script>
	
</h:head>
<h:body onload="loadPage();">
	<div id="general-content">
		<div id="main">
			<div class="content">
				<ui:include src="/template/includes/status.xhtml" />
				<ui:insert name="body" />
			</div>
		</div>
	</div>
	<ui:include src="/template/includes/dialogs/dialogs.xhtml" />
	<h:form id="iTime" prependId="false">
	 <p:commandButton id="sessionTimeOutAction"  style="display:none" immediate="true" action="#{userInfo.sessionLogout}" update=":opnlGenericDialogs" ></p:commandButton>
	 </h:form>
</h:body>
</f:view>
</html>  