<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script>
		function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>
<style type="text/css">
fieldset legend {
    background: none !important;
    border: none !important;
    font-weight: bolder !important;
    font-size: 12px !important;
}

</style>
	<script>
		function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>

<h:outputText value="#{gmsgs['iCorporateEvents.consignation.paymentdetails.title']}" styleClass="title-page"/>
<h:form id="frmRegisterAllocation">
	<table width="100%">
		<tr>
			<td>
			<p:fieldset id="fldAllocationHeader" legend="#{msgs['title.register.allocation.process']}">
			<table width="100%">
				<tr>
					<td width="15%">
						<h:outputText value="#{msgs['corporate.deliver.date']}"/>
					</td>
					<td width="15%">
						<p:inputText disabled="true" value="#{allocationPaymentBenefitManagementBean.paymentDate}" size="11" readonly="true"/>
					</td>
					<td width="15%">
						<h:outputText value="#{msgs['lbl.moneda']}"/>
					</td>
					<td width="15%">
						<p:inputText disabled="true" value="#{allocationPaymentBenefitManagementBean.currency}" size="8" readonly="true"/>
					</td>
					<td width="15%">
						<h:outputText value="#{msgs['title.tax.included']}"/>
					</td>
					<td>
						<p:selectBooleanCheckbox value="#{allocationPaymentBenefitManagementBean.commissionExcluded}" >
							<p:ajax update="MyList" listener="#{allocationPaymentBenefitManagementBean.checkCommissionIncluded}"/>
						</p:selectBooleanCheckbox> 
					</td>
				</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="MyList">
			<p:outputPanel id="InnerList">
			<ui:repeat var="uiCashAccount" value="#{allocationPaymentBenefitManagementBean.allocationProcessRegister}" 
				style="border-style: thin;">
			<p:fieldset id="fldCashAccountDetail" legend="#{uiCashAccount.issuerDescription}" toggleable="true">
				<p:fieldset legend="Detalle cuenta efectivo" toggleable="true" >
					<p:dataTable var="varCashAccount" id="sourcechodTable" style="width:100%;"
						value="#{uiCashAccount.lstIssuerCashAccount}"
						rowKey="#{varIssuerAllocation.idCashAccount}">

						<p:column headerText="#{msgs['title.cash.account.id']}" style="text-align:right;">
							<h:outputText value="#{varCashAccount.idCashAccount}" />
						</p:column>
						<p:column headerText="#{msgs['label.total.amount']}" style="text-align:right;">
							<h:outputText value="#{varCashAccount.totalAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['label.available.amount']}"  style="text-align:right;">
							<h:outputText value="#{varCashAccount.availableAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.amount.allocate']}"  style="text-align:right;">
							<h:outputText value="#{varCashAccount.allocateAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:fieldset>
				<p:spacer height="10" />
				<p:fieldset legend="#{msgs['title.allocation.register']}">
					<p:dataTable var="varIssuerAllocation" id="idIssuerCorporatives" style="width:100%;"
						value="#{uiCashAccount.lstIssuerAllocations}"
						rowKey="#{varIssuerAllocation.idCorporativeProcess}" >

						<p:column style="text-align:center;width:4%">
							<p:selectBooleanCheckbox id="chkCheck" value="#{varIssuerAllocation.selection}"  >										
								<p:ajax event="change" global="false" process="@this"
									update=":frmRegisterAllocation:MyList " 
									listener="#{allocationPaymentBenefitManagementBean.onRowSelect(varIssuerAllocation)}" />										
							</p:selectBooleanCheckbox>
						</p:column>

						<p:column headerText="#{msgs['title.corporative.id']}" style="width: 12%;" styleClass="content-center">
							<h:outputText value="#{varIssuerAllocation.idCorporativeProcess}" />
						</p:column>
						<p:column headerText="#{msgs['corporate.event.corporate']}" style="width: 12%;" styleClass="content-center">
							<h:outputText value="#{varIssuerAllocation.corporativeType}" />
						</p:column>
						<p:column headerText="#{msgs['corporative.process.lbl.code.value']}" style="width: 12%;" styleClass="content-center">
							<p:commandLink value="#{varIssuerAllocation.security}" 
							process="@this" actionListener="#{allocationPaymentBenefitManagementBean.viewSecurityFinancialImportanceEvent(varIssuerAllocation.security)}" 
							update=":frmRegisterAllocation:secFinancial:pnlSecurityFinancialDetail">
								<f:setPropertyActionListener
									target="#{allocationPaymentBenefitManagementBean.securityCode}" value="#{varIssuerAllocation.security}" />
							</p:commandLink>
						</p:column>
						<p:column headerText="#{msgs['header.amount.benefit']}" style="text-align:right;width:12%">
							<h:outputText value="#{varIssuerAllocation.benefitAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['header.amount.comissions']}" style="text-align:right;width:12%">
							<h:outputText value="#{varIssuerAllocation.commissionAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['header.amount.custody']}" style="text-align:right;width:12%">
							<h:outputText value="#{varIssuerAllocation.custodyAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['header.amount.tax']}" style="text-align:right;width:12%">
							<h:outputText value="#{varIssuerAllocation.taxAmount}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						
						<ui:remove>
						<p:column headerText="#{msgs['lbl.estado']}" style="text-align:center;width:12%">
							<h:outputText value="#{varIssuerAllocation.corporativeState}" />
						</p:column>
						</ui:remove>
						
					</p:dataTable>
				</p:fieldset>
			</p:fieldset>
			</ui:repeat>
			<ark:securities-help icon="false" name="securityHelp" id="secFinancial"/>
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton id="btnRegisterAllocation" value="#{msgs['button.register.allocate']}" icon="fa fa-save"
					actionListener="#{allocationPaymentBenefitManagementBean.validateSaveAllocationProcess}"
					process="@form" update=":pnlDialogs :opnlGenericDialogs"/>
				<p:commandButton id="btnBack" icon="fa fa-undo" update="@form" process="@this" immediate="true"
					action="#{allocationPaymentBenefitManagementBean.backToSearch}" value="#{gmsgs['btn.back']}" />
			</td>
		</tr>
	</table>
</h:form>
<p:outputPanel id="pnlDialogs">
	<p:confirmDialog 		rendered="false" visible="true" header="#{headerMessageView}" message="#{bodyMessageView}" id="idConfirmRegisterAllocation" 
							widgetVar="wvConfirmRegisterAllocation" closable="false">
	<h:form id="frmConfirmRegisterAllocation">
		<p:commandButton 	value="#{gmsgs['btn.yes']}" immediate="true"
							actionListener="#{allocationPaymentBenefitManagementBean.saveAllocationProcess}" 
							update=":pnlDialogs"
							oncomplete="PF('wvConfirmRegisterAllocation').hide();PF('wvConfirmationRegister').show();" />
		<p:commandButton 	value="#{gmsgs['btn.no']}" immediate="true"
							oncomplete="PF('wvConfirmRegisterAllocation').hide();" />
	</h:form>
	</p:confirmDialog>
	<p:confirmDialog 		rendered="false" visible="true" header="#{headerMessageView}" message="#{bodyMessageView}" id="idConfirmationRegister" 
							widgetVar="wvConfirmationRegister" closable="false">
	<h:form id="frmConfirmationRegister">
		<p:commandButton 	value="#{gmsgs['btn.accept']}" immediate="true"
							action="backScreenAllocationProcess" oncomplete="PF('wvConfirmRegisterAllocation').hide();" 
							actionListener="#{allocationPaymentBenefitManagementBean.searchPaymentCorporatives()}"/>
	</h:form>
	</p:confirmDialog>
</p:outputPanel>
</ui:define>
</ui:composition>
</html>