<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{gmsgs['inegotiations.queryoperations.detail.title']}" styleClass="title-page"/>
<h:form id="frmViewOperations">
	<p:outputPanel>
	<ark:mechanismOperation />
	<table	width="100%">
		<tr>
			<td align="center">
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchQueryOperation.xhtml" ajax="false"></p:commandButton>
			</td>
		</tr>
	</table>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>