<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"	
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:outputPanel id="idStyle"> 
	 <h:outputText value="#{msgs['label.title.register.month.accounting']}" styleClass="title-page" />	
	 <h:form id="frmGenerateHistoryAccounting">	
		<table width="100%">		
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.process.data']}" >

							<table width="100%" border="0">						
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']} (*)" styleClass="required-field" />
									</td>									
									<td width="35%" colspan="1">
										<h:panelGrid columns="2"> 		
											   <p:selectOneMenu id="cmbDailyAuxiliaryhId" style="width:250px;" 
											   				 required="true"
                                                             requiredMessage="#{msgs['lbl.requiered.type.auxiliar.message']}"							
														     value="#{accountingMonthlyProcessMgmtBean.registreFilterStartBalanceTO.auxiliaryType}" 
														     label="#{msgs['daily.auxiliary.lbl.type']}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
												<f:selectItems value="#{accountingMonthlyProcessMgmtBean.listParameterAuxiliaryType}"
												 			   var="parameterList"
												               itemLabel="#{parameterList.nameWithDescription}" 
												               itemValue="#{parameterList.idAccountingParameterPk}" />
												<p:ajax event="change" process="@this" update="@this cmbDailyAuxiliaryhId" />
												<f:validator validatorId="selectOneRequiredValidator"/> 
											</p:selectOneMenu>  
							    			<p:message for="cmbDailyAuxiliaryhId" id="msgsDailyAuxiliaryId" escape="true" />
							   			</h:panelGrid>	 
									</td>   
								</tr>
								<tr>
									<td>
										<p:outputLabel value="#{msgs['label.message.panel.origen.dates']} (*)"  styleClass="required-field" ></p:outputLabel>
									</td>
									<td>
										<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
											<p:selectOneRadio  id="console" value="#{accountingMonthlyProcessMgmtBean.registreFilterStartBalanceTO.dataOrigin}" disabled="true" unselectable="true"> 
										        <f:selectItem itemLabel="#{msgs['label.message.value.folio']}" itemValue="1" />  
										        <f:selectItem itemLabel="#{msgs['label.message.value.accounting']}" itemValue="2" />
										    </p:selectOneRadio>
									    </h:panelGrid>
									</td>
								</tr>								
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['lbl.generate.process.date']} (*)"  styleClass="required-field"  />
									</td>									
									<td width="280px"> 
										  <p:calendar id="dailyPeriodId"  readonly="#{facesContext.renderResponse}" 													
													required="true"  size="10" navigator="true"								
													value="#{accountingMonthlyProcessMgmtBean.registreFilterStartBalanceTO.executionDate}"   									
													pattern="#{gmsgs['calendar.date.format']}"  showOn="button" maxlength="10" >
										</p:calendar>
									</td>  
									<td> </td>									
								</tr>
								
								<tr>
	        						<td  align="center" colspan="5"> 
	        							<p:commandButton id="cmbProcess"  value="#{msgs['btn.save']}" 
	        							                 icon="fa fa-save"  
	        							                 action="#{accountingMonthlyProcessMgmtBean.registerReStartBalances}" 
	        							                 process="@this @form"
	        							                 update="@form"/>	        							                 
	        							<p:spacer width="5" height="0"></p:spacer>
										<p:commandButton id="cmbBack"  value="#{msgs['btn.back']}" 
	        							                 icon="fa fa-undo"
	        							                 action="#{accountingMonthlyProcessMgmtBean.returnSearchPage}"
														 process="@this"/>	        							                  
   	        							<p:spacer width="5" height="0"></p:spacer> 	 			    															
									</td>									
								</tr>																
							</table> 
						</p:fieldset>
					</td>
				</tr>		
		</table>		
		<p:outputPanel id="outPnlDialogs">
				<p:confirmDialog widgetVar="cnfwProcessSendReInitAccounting" id="idProcessSendReInitAccounting" 
				    header="#{msgs['messages.alert']}" 
				    message="#{msgs['label.message.confim.register.month.accounting']}" 
				    closable="false" >
					<p:commandButton 
						value="#{msgs['btn.yes']}"
					    oncomplete ="cnfwProcessSendReInitAccounting.hide()"
					    process="@this"
						action = "#{accountingMonthlyProcessMgmtBean.registreConfirmedBalanceReStartRecord}"/>
					<p:commandButton value="#{msgs['btn.no']}" process="@this"
					    onclick="idProcessSendReInitAccounting.hide()"	
					 />
				</p:confirmDialog>
				<!-- Registro de dialogo -->
				<p:confirmDialog 
				widgetVar="cnfWConfirmDialog" 
				id="cnfIdConfirmDialog"
				message="#{label.message.process.month.accounting.send.generation}"
				header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="PF('cnfWConfirmDialog').hide()" 
			    	value="#{msgs['btn.accept']}" 
			    	action="#{accountingMonthlyProcessMgmtBean.returnSearchPage}"
			    	process="@this"  />
			</p:confirmDialog>	
			<p:confirmDialog 
				widgetVar="cnfWConfirmDialogReStartBalance" 
				id="cnfIdConfirmDialogReStartBalance"
				message="#{msgs['label.message.process.month.accounting.send.generation']}"
				header="#{headerMessageView}" 
				closable="false"  severity="alert"> 
				<p:commandButton onclick="cnfIdConfirmDialogReStartBalance.hide()" 
			    	value="#{msgs['btn.accept']}" 
			    	action="#{accountingMonthlyProcessMgmtBean.returnSearchPage}"
			    	process="@this"  />
			</p:confirmDialog>	
		</p:outputPanel>	  	
	</h:form>	
 </p:outputPanel>
	</ui:define>
</ui:composition>
</html>