<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<p:outputPanel id="idStyle">
			<h:outputText value="#{msgs['label.title.month.accounting']}"
				styleClass="title-page" />
			<h:form id="frmGenerateDocAccountingReStart">
				<table width="100%">
					<tr>
						<td align="right"><p:commandButton
								value="#{msgs['btn.new.service']}" icon="fa fa-edit"
								immediate="true" action="registerMonthlyProcessAccounting"
								rendered="#{userPrivilege.userAcctions.register}"
								actionListener="#{accountingMonthlyProcessMgmtBean.loadRegistrationPage}" />

						</td>
					</tr>
					<tr>
						<td><p:fieldset legend="#{msgs['lbl.process.data']}">

								<table width="100%" border="0">
									<tr>
										<td width="220px"><h:outputText
												value="#{msgs['daily.auxiliary.lbl.type']}" /></td>
										<td width="280px"><h:panelGrid columns="2">
												<p:selectOneMenu id="cmbDailyAuxiliaryhId"
													style="width:250px;"
													value="#{accountingMonthlyProcessMgmtBean.searchFilterStartBalanceTO.auxiliaryType}"
													label="#{msgs['daily.auxiliary.lbl.type']}">
													<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
													<f:selectItems
														value="#{accountingMonthlyProcessMgmtBean.listParameterAuxiliaryType}"
														var="parameterList"
														itemLabel="#{parameterList.nameWithDescription}"
														itemValue="#{parameterList.idAccountingParameterPk}" />
												</p:selectOneMenu>
											</h:panelGrid></td>
									</tr>

									<tr>
										<td width="220px"><h:outputText
												value="#{msgs['lbl.generate.process.date']}" /></td>
										<td width="280px"><p:calendar id="dailyPeriodId"
												readonly="#{facesContext.renderResponse}" required="true"
												size="10" navigator="true"
												value="#{accountingMonthlyProcessMgmtBean.searchFilterStartBalanceTO.executionDate}"
												pattern="#{gmsgs['calendar.date.format']}" showOn="button"
												maxlength="10">
											</p:calendar></td>
										<td></td>
									</tr>

									<tr>
										<td align="center" colspan="5"><p:commandButton
												id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
												actionListener="#{accountingMonthlyProcessMgmtBean.searchMonthlyBalancesRecords}"
												update="@form" /> <p:spacer width="5" height="0"></p:spacer>
											<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}"
												icon="fa fa-trash" update="@form" process="@this"
												actionListener="#{accountingMonthlyProcessMgmtBean.cleanSearchScreen}" />

										</td>
									</tr>
								</table>
							</p:fieldset></td>
					</tr>
					<tr>
						<td><p:outputPanel id="privilegesButtons"
								rendered="#{(accountingMonthlyProcessMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
								<p:spacer width="10"></p:spacer>
								<!--RECHAZAR-->
								<p:commandButton value="#{gmsgs['btn.reject']}"
									style="align: right" icon="ui-cancel"
									rendered="#{userPrivilege.userAcctions.reject}"
									action="#{accountingMonthlyProcessMgmtBean.preReStartAccountingBalancesReject}" />
								<p:spacer width="1"></p:spacer>
								<!--CONFIRMAR-->
								<p:commandButton value="#{gmsgs['btn.confirm']}"
									style="align: right" icon="ui-confirm"
									rendered="#{userPrivilege.userAcctions.confirm}"
									action="#{accountingMonthlyProcessMgmtBean.preConfirmReStartBalances}" />
							</p:outputPanel> <p:fieldset id="fldResultHistory"
								legend="#{msgs['lbl.results']}"
								rendered="#{(accountingMonthlyProcessMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
								<p:dataTable id="idDtableHistory" var="process"
									value="#{accountingMonthlyProcessMgmtBean.accountingProcessDataModel}"
									paginator="true" rows="10" paginatorPosition="top"
									rowKey="#{process.id}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
									rowsPerPageTemplate="5,10,15"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									selection="#{accountingMonthlyProcessMgmtBean.accountingProcessSelected}">
									<p:column selectionMode="single" style="width:18px" />
									<p:column styleClass="content-center"
										sortBy="#{process.id}">
										<f:facet name="header">
											<h:outputText
												value="#{msgs['label.number.request.accounting']}" />
										</f:facet>
										<p:commandLink action="viewMonthlyProcessAccounting" immediate="true"
											actionListener="#{accountingMonthlyProcessMgmtBean.loadDetailReStartBalance}"
											style="color:blue" value="#{process.id}">
											<f:attribute name="idViewProcess" value="#{process}" />
										</p:commandLink>
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.date']}" />
										</f:facet>
										<h:outputText value="#{process.operationDate}">
											<f:convertDateTime pattern="#{cons['date.pattern']}"/>
										</h:outputText>
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.processType']}" />
										</f:facet>
										<h:outputText value="#{process.proccessTypeDesc}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.book.account.state']}" />
										</f:facet>
										<h:outputText value="#{process.statusDesc}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText
												value="#{msgs['label.message.panel.origen.dates']}" />
										</f:facet>
										<h:outputText value="#{process.origenDesc}" />
									</p:column>
									<f:facet name="footer">
										<div style="width: 100%; text-align: left" id="idDivRowCount">
											<h:outputLabel
												value="#{msgs['parameter.legend.lbl.results']} #{accountingMonthlyProcessMgmtBean.accountingProcessDataModel.rowCount}"
												style="font-weight:bold;" />
										</div>
									</f:facet>
								</p:dataTable>
							</p:fieldset> <p:fieldset legend="#{msgs['lbl.results']}"
								rendered="#{accountingMonthlyProcessMgmtBean.accountingProcessDataModel!=null and !(accountingMonthlyProcessMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
								<h:outputLabel value="#{msgs['lbl.search.no.result']}"
									rendered="#{!(accountingMonthlyProcessMgmtBean.accountingProcessDataModel.rowCount >= 1)}"
									style="font-weight:bold;" />
							</p:fieldset></td>
					</tr>
				</table>
				<p:outputPanel id="outPnlDialogs">
				</p:outputPanel>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>