<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		

	<h:outputText value="#{msgs['opt.adm.accounting.title']}"
				  styleClass="title-page"/>
	
	<h:form id="frmSearchBookAccounts">
	
		<table width="100%">	 
				<tr>					
					<td align="right">
						<p:commandButton value="#{msgs['btn.new.accounting.legend']}" icon="fa fa-edit"  immediate="true" 
							action="#{accountAccountingMgmtBean.goTo('newAccount')}"
							rendered="#{userPrivilege.userAcctions.register}"
							actionListener="#{accountAccountingMgmtBean.loadRegistrationPage}"/>
						
						
					</td>
				</tr>
				
				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['search.accounting.legend']}"> 
							<table width="100%"> 
							<tr>
								<td>
									<p:selectOneRadio id="optionsCode" value="#{accountAccountingMgmtBean.chooseTypeFilterAccountCode}">  
							            <f:selectItem itemLabel="#{msgs['accounting.code.name']}"            itemValue="2" />
							            <f:selectItem itemLabel="#{msgs['lbl.book.account.account.father']}" itemValue="1" />  
					<p:ajax update="@form" event="valueChange"  listener="#{accountAccountingMgmtBean.chooseFilterAccountCode}"  process="@this" />	
							        </p:selectOneRadio>  
								
								</td>
							</tr>
								<tr> 
									<td width="25%">
										<h:outputText value="#{msgs['accounting.code.name']}" />
									 
									</td>
									<td width="25%"> 
										<p:inputText id="txtAccountingCode" disabled="#{accountAccountingMgmtBean.disableAccountCode}"
										value="#{accountAccountingMgmtBean.accountTo.accountCode}">
										 
								        </p:inputText>
									</td> 
									<td width="200px"><h:outputText value="#{msgs['lbl.book.account.account.father']} "  /></td>
									<td>
										<ark:accountingAccount accountingAccount="#{accountAccountingMgmtBean.accountByHelper}"   
															   disabled="#{accountAccountingMgmtBean.disableHelperAccountCode}"           	   
										> 
								    	</ark:accountingAccount>
									</td>
									
								</tr>
								<tr>
									<td width="200px"><h:outputText value="#{msgs['daily.auxiliary.lbl.type']}"  /></td>
									<td align="left">  
										<p:selectOneMenu id="cmbTypeAdjustment" style="width:250px;"  	
												value="#{accountAccountingMgmtBean.accountTo.auxiliaryType}"	 	>  	
															
										<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>		
										
										<f:selectItems value="#{accountAccountingMgmtBean.listTypeAuxiliary}" var="typeAdjusment"
											itemLabel="#{typeAdjusment.nameWithDescription}" itemValue="#{typeAdjusment.idAccountingParameterPk}"/>
						<p:ajax event="change" listener="#{accountAccountingMgmtBean.cleanResults}" update="@form" process="@this" />  
										</p:selectOneMenu>	  
									</td> 
									<td width="200px"><h:outputText value="#{msgs['lbl.type.account']}  "  /></td>
									<td align="left">  
										<p:selectOneMenu id="cmbTypeAccount" style="width:250px;"  	
													  	 label="#{msgs['lbl.type.account']}"
														 value="#{accountAccountingMgmtBean.accountTo.accountType}">   
										<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>		
										<f:selectItems value="#{accountAccountingMgmtBean.listTypeAccount}" var="typeAccount"
											itemLabel="#{typeAccount.nameWithDescription}" itemValue="#{typeAccount.idAccountingParameterPk}"/>
						<p:ajax event="change" listener="#{accountAccountingMgmtBean.cleanResults}" update="@form" process="@this" />  
										</p:selectOneMenu>	  
									</td>
								</tr>
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['lbl.participant.search']}"   />
									</td>
									<td width="65%" colspan="3"><!-- Seleccion de participantes -->
											<p:selectOneMenu id="searchCmdParticipant" 
												value="#{accountAccountingMgmtBean.participantSelected}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/> 
									            <f:selectItems var="participant"  value="#{accountAccountingMgmtBean.listParticipant}" 
									           		itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.mnemonic}"/>
									           	<p:ajax event="change" listener="#{accountAccountingMgmtBean.cleanResults}" update="@form" process="@this" />  
											</p:selectOneMenu>
									</td>
								</tr>
								<tr>
	        						<td  align="center" colspan="4"> 
	        							<p:commandButton id="cmbSearch" 
	        							                 value="#{msgs['btn.search']}" 
	        							                 icon="fa fa-search"
	        							                 actionListener="#{accountAccountingMgmtBean.searchBookAccount}" 
	        							                 update="@form"  />

	        							<p:spacer width="20"></p:spacer>
	        							
	        							<p:commandButton id="cmbClean"
	        							 				 value="#{msgs['btn.clean']}"
	        							 				 icon="fa fa-trash"
	        							 				 process="@this"
	        							 				 actionListener="#{accountAccountingMgmtBean.cleanBookAccount}" 
	        							 				 update=" @form " /> 
	        							<p:spacer width="20"></p:spacer>
	        							
									</td>		         	
				</tr>	
							</table> 
						</p:fieldset>

					</td>
				</tr>
				
				
				
				<ui:remove>
		<tr>
			<td>
				<h:panelGroup>
					 <p:outputPanel id="panelBtn" rendered="#{accountAccountingMgmtBean.accountingAccountDataModel.rowCount >= 1}"  >
					 <p:panel>
						<p:commandButton value="#{msgs['btn.modify']}"  icon="ui-edit"  
						update=":opnlDialogs"
						action="#{accountAccountingMgmtBean.goTo('editAccount')}"
						actionListener="#{accountAccountingMgmtBean.beforeModifyBookAccount}"/>
						 
						<p:spacer width="5" height="0"></p:spacer>	 
						<p:commandButton value="#{msgs['btn.delete']}" 
							icon="ui-remove" update=":search_legendAccounting:cnfIdDialogMessage, cnfIdAccountDeleted"
							actionListener="#{accountAccountingMgmtBean.beforeDeleteBookAccount}" 
								  	 />	
						
					
					</p:panel>	
					 </p:outputPanel>
				</h:panelGroup>
			</td>
		</tr>	</ui:remove>
		
		
		<tr>
     <td>
	     <p:outputPanel autoUpdate="true"  id="panelPrivileges">
                  <p:outputPanel rendered="#{accountAccountingMgmtBean.accountingAccountDataModel.rowCount >= 1}">
		     	  <arkp:privileges id="praderaPrivileges"
		       					  
			       actionModify="#{accountAccountingMgmtBean.goTo('editAccount')}" 
			       actionListenerModify="#{accountAccountingMgmtBean.beforeModifyBookAccount}"  
			       
			       actionListenerDelete="#{accountAccountingMgmtBean.beforeDeleteBookAccount}"
			       
			       actions="#{userPrivilege.userAcctions}"
				   renders="#{userPrivilege.privilegeComponent}"
			       
			             
			       />  
	     </p:outputPanel>
	     </p:outputPanel>          
     </td>
    </tr>
		
		
		
				
				<tr>
					<td>
						<p:outputPanel id="result">
							<p:fieldset id="panelListado" legend="#{msgs['accounting.legend.lbl.results']}" rendered="#{accountAccountingMgmtBean.accountingAccountDataModel.rowCount >= 1}" >
								<p:dataTable id="dtbResult"
								var="bookAccounts" 
								value="#{accountAccountingMgmtBean.accountingAccountDataModel}"
								rendered="#{not empty accountAccountingMgmtBean.accountingAccountDataModel}"
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								rowKey="#{bookAccounts.idAccountingAccountPk}"
								selection="#{accountAccountingMgmtBean.accountSelected}"
				                >	
				               
				                <p:column selectionMode="single" style="width:18px" id="idClmSelectionMode" />		
				               
				                <p:ajax event="rowSelectRadio"  update="@form" 
								 		 listener="#{accountAccountingMgmtBean.checkBookAccount}"  />						
								
								<p:column sortBy="accountCode" styleClass="content-left" >
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.code']}" escape="false"/>
									</f:facet>	   	
									<p:commandLink 
									  actionListener="#{accountAccountingMgmtBean.accountingOnConsult}"  
									  styleClass="content-center"												
									  action="#{accountAccountingMgmtBean.goTo('consultAccounting')}"
									  value="#{bookAccounts.accountCode}"  style="color:blue" >
									<f:attribute name="blockInformation" value="#{bookAccounts}"  /> 
									</p:commandLink>
															
								</p:column>														
		  
		 						 <p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']}" />
									</f:facet>
									<h:outputText value="#{bookAccounts.descriptionAuxiliaryType}" />
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.type']}" />
									</f:facet>
									<h:outputText value="#{bookAccounts.descriptionTypeAccount}" />
								</p:column>
								
 
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.state']}" />
									</f:facet>
									<h:outputText value="#{bookAccounts.descriptionStateAccount}" />
								</p:column>  
								 
								<f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['accounting.legend.lbl.results']} #{accountAccountingMgmtBean.accountingAccountDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>		 
					
						</p:dataTable> 
						</p:fieldset> 										
 						<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accountAccountingMgmtBean.accountingAccountDataModel != null and !(accountAccountingMgmtBean.accountingAccountDataModel.rowCount >= 1) }">
								<h:outputLabel rendered="#{accountAccountingMgmtBean.accountingAccountDataModel!= null and !(accountAccountingMgmtBean.accountingAccountDataModel.rowCount >= 1) }"
								  	  		   value="#{msgs['lbl.search.no.result']}" style="font-weight:bold;"/>					
						</p:fieldset>
						</p:outputPanel>
					</td>   
				</tr>	 
		</table> 
		
		
		
		
	
	</h:form>	
	
	<p:outputPanel id="opnlDialogs" >	
		<h:form id="search_legendAccounting">
			<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog" message="#{bodyMessageView}"
							 header="#{headerMessageView}" closable="false" severity="alert" > 
				<p:commandButton onclick="PF('warningDialog').hide()" 
			    				 value="#{msgs['btn.accept']}" />
			</p:confirmDialog>	
			
			
			<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
		    	value="#{msgs['btn.accept']}"  immediate="true" process="@this"  global="false"/>
		</p:confirmDialog>	
		
		
		<p:confirmDialog widgetVar="cnfwAccountDeleted" id="cnfIdAccountDeleted" message="#{bodyMessageView}" header="#{headerMessageView}"
			 closable="false" > 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwAccountDeleted.hide()" update="@form,:frmSearchBookAccounts"  
							 actionListener="#{accountAccountingMgmtBean.deleteAccountingAccount}" process="@this" />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwAccountDeleted.hide()"
							 process="@this" />
		</p:confirmDialog> 
		<!-- Fin de movidos -->
			
			
		</h:form>
	</p:outputPanel>	
	
	</ui:define>
</ui:composition>
</html>