<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"	
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
	
	 <h:form id="frmGenerateDocAccounting">
	
		<table width="100%">
		
				<tr>
					<td align="right">
					<table width="100%"> 
						<td align="left"> 
							<h:outputText value="#{msgs['opt.adm.movement.data.accounting']}" styleClass="title-page" />
						</td>
						<td align="right"> 
							<p:commandButton value="#{msgs['btn.register']}" 
											 icon="fa fa-edit" 
											 rendered="#{userPrivilege.userAcctions.register}"
											 action="#{accountingDocumentMgmtBean.loadRegisterAccountingMonitor}" 
											 ajax="false" 
											 process="@this" />
						</td>
					</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.process.data']}" >

							<table width="100%" border="0">		
											
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['lbl.generate.process.date']}"  />
									</td>									
									<td width="280px"> 
										  <p:calendar id="dailyPeriodId"  readonly="#{facesContext.renderResponse}" 													
													required="true"  size="10" navigator="true"								
													value="#{accountingDocumentMgmtBean.executionDate}"   									
													pattern="#{gmsgs['calendar.date.format']}"  showOn="button" maxlength="10" >
										</p:calendar>
									</td>  
									<td> </td>									
								</tr>
								
								<tr>
	        						<td  align="center" colspan="5"> 
	        							<p:commandButton id="cmbSearch"  value="#{msgs['btn.search']}" 
										                 icon="fa fa-search"  
										                 actionListener="#{accountingDocumentMgmtBean.searchDocuments}"
										                 update="@form" 
										                 /> 
												<p:spacer width="5" height="0"></p:spacer>	      
 	        					 		<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}"
	        							 				 icon="fa fa-trash" update="@form" process="@this"
	        							 				 actionListener="#{accountingDocumentMgmtBean.cleanDocuments}"
	        							 				   />  	
		 			    															
									</td>									
								</tr>	
							</table> 
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td>
					<p:outputPanel autoUpdate="true"  id="panelPrivileges">
                    <p:outputPanel rendered="#{(accountingDocumentMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
                    
                    <arkp:privileges id="praderaPrivileges"
                    	actionListenerAdjustments="#{accountingDocumentMgmtBean.beforeOnAdjustments}"
                    	actionListenerDefinitive="#{accountingDocumentMgmtBean.beforeOnDefinitive}"
                    	
                    	actions="#{userPrivilege.userAcctions}"
						renders="#{userPrivilege.privilegeComponent}"
                    />	
					                    
                    </p:outputPanel>
                    </p:outputPanel>
                    
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{(accountingDocumentMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
							<p:dataTable id="dtbResult"
								var="process" 
								value="#{accountingDocumentMgmtBean.accountingProcessDataModel}"
								paginator="true" rows="5" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{accountingDocumentMgmtBean.accountingProcessSelection}"
				                >			


								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.date']}" />
									</f:facet>
									<h:outputText  value="#{process.calculateDate}"/>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.processType']}" />
									</f:facet>
									<h:outputText  value="#{process.descriptionProcessType}"/>
								</p:column>
 
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.generated']}" />
									</f:facet>
									<h:outputText value="#{process.generado}" />
								</p:column>  
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.descuadrado']}" />
									</f:facet>
									<h:outputText value="#{process.descuadrado}" />
								</p:column>
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.wrong']}" />
									</f:facet>
									<h:outputText value="#{process.errado}" />
								</p:column> 
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.process.state']}" />
									</f:facet>
									<h:outputText value="#{process.descriptionStatus}" />
								</p:column>
								  
							    <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingDocumentMgmtBean.accountingProcessDataModel.rowCount}" 
													style="font-weight:bold;"/>
									</div>
								</f:facet>	
							    
							</p:dataTable>  
						</p:fieldset>
							<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accountingDocumentMgmtBean.accountingProcessDataModel!=null and !(accountingDocumentMgmtBean.accountingProcessDataModel.rowCount >= 1)}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(accountingDocumentMgmtBean.accountingProcessDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>							
						   </p:fieldset>  
					</td> 
				</tr>
		
		</table>

		
		<p:outputPanel id="outPnlDialogs">
				<!-- ADJUSTMENTS -->
				<p:confirmDialog widgetVar="cnfWConfirmAdjustmentsDialog" id="cnfIdProcessAdjustments" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false" >
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmAdjustmentsDialog.hide()"
						update="frmGenerateDocAccounting" 
						actionListener="#{accountingDocumentMgmtBean.processAdjusmentExecution}" />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmAdjustmentsDialog.hide()"						
						update="frmGenerateDocAccounting" />
				</p:confirmDialog>
				
				<!-- DEFINITIVE -->
				<p:confirmDialog widgetVar="cnfWConfirmDefinitiveDialog" id="cnfIdProcessDefinitive" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false" >
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmDefinitiveDialog.hide()"
						update="frmGenerateDocAccounting" 
						actionListener="#{accountingDocumentMgmtBean.processDefinitiveExecution}" />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmDefinitiveDialog.hide()"						
						update="frmGenerateDocAccounting" />
				</p:confirmDialog>
				
				<ui:remove>
				<p:confirmDialog widgetVar="cnfwProcessSendGeneration" id="cnfIdProcessSendGeneration" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false" >
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwProcessSendGeneration.hide()"
						update="frmGenerateDocAccounting" 
						actionListener="#{accountingDocumentMgmtBean.processAutomaticExecution}" />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwProcessSendGeneration.hide()"						
						update="frmGenerateDocAccounting" />
				</p:confirmDialog>
				</ui:remove>
		</p:outputPanel>	  
		
		

		<!-- popup de confirmacion  -->
		<p:confirmDialog widgetVar="cnfWConfirmDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWConfirmDialog').hide()" 
		    	value="#{msgs['btn.accept']}"
		    	action="searchServiceMgmt" immediate="true" process="@this"  />
		</p:confirmDialog>		
		
		<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
					 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
			    	value="#{msgs['btn.accept']}"  
			    	immediate="true" process="@this"  global="false"/>
	</p:confirmDialog>	
			
	</h:form>	

	</ui:define>
</ui:composition>
</html>