<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importEnum type="com.pradera.model.custody.physical.CertificateOperationType" var="operationType"/>
<h:outputText value="Registro de Operación con Títulos Reales" styleClass="title-page" />
<h:form id="frmCertificateOperation">
<table width="100%">
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="Datos de Registro">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Sucursal (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="branchOffice" label="Sucursal"
			 		value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.branchOffice}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgBranchOffice opnlResult opnlProcessed" 
						process="@this" listener="#{certificateOperationManageBean.changeBranchOffice}"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgBranchOffice" for="branchOffice"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="Fecha Registro"/>
			</td>
			<td width="30%">
			 	<p:inputText value="#{certificateOperationManageBean.currentSystemDate}" disabled="true" size="10">
			 		<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
			 	</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="Tipo Operación (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu id="certificateOperationType" label="Tipo Operación"
					value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstOperationTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgCertificateOperationType opnlResult opnlProcessed" 
						process="@this" listener="#{certificateOperationManageBean.changeOperationType}"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgCertificateOperationType" for="certificateOperationType"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="N° Certificado"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputText size="25" maxlength="20" styleClass="content-right" 
					value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateNumber}">
					<p:keyFilter mask="alphanum"/>
					<p:ajax global="false" update="opnlResult opnlProcessed" 
						process="@this" listener="#{certificateOperationManageBean.changeOperationType}"/>
				</p:inputText>
				</h:panelGrid>
			</td>		
		</tr>	
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" security="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.security}"
					required="true" label="#{gmsgs['security.lbl.code']}" 
					remoteListener="updateFieldSe()"/>
					<ui:remove>
					<!-- validatorName="genericRequiredValidator" -->
					</ui:remove>
				<p:remoteCommand name="updateFieldSe" process="@this" listener="#{certificateOperationManageBean.changeOperationType()}"
					update=":frmCertificateOperation:securityHelper:outpnlSecurity msgSecurity opnlResult opnlProcessed sec"/>
				<p:message for=":frmCertificateOperation:securityHelper:securityHelper" display="icon" id="msgSecurity" />
				<p:spacer width="5"/>
				<p:outputPanel id="sec">
				<ark:securities-help securityCode="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.security.idSecurityCodePk}"/>
				</p:outputPanel>
				</h:panelGrid>
			</td>
		</tr>					
		<tr>
			<td align="center" colspan="4">
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{certificateOperationManageBean.searchCertificates}"
					update="@form" icon="fa fa-search" process="fsFilters"/>							
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<table width="100%">
		<tr>
		<td width="50%" valign="top">
		<p:outputPanel id="opnlResult">
		<p:panel rendered="#{certificateOperationManageBean.registerCertificateOperationTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" 
	   		rendered="#{not empty certificateOperationManageBean.registerCertificateOperationTO.lstPhysicalCertificates}">
		<p:dataTable value="#{certificateOperationManageBean.registerCertificateOperationTO.lstPhysicalCertificates}" var="certificate"
			rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.GLOBALIZE.code}"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			paginator="true" paginatorPosition="top" rowsPerPageTemplate="5,10,15" rows="10">	 
						
			<p:column styleClass="content-center">
				<p:selectBooleanCheckbox value="#{certificate.blSelected}">
					<p:ajax listener="#{certificateOperationManageBean.calculateTotalGlobalize(certificate)}"
						update=":frmCertificateOperation:opnlProcessed" process="@this"/>
				</p:selectBooleanCheckbox>
			</p:column>				 					                 
			
			<p:column sortBy="#{certificate.certificateNumber}" headerText="N° Certificado" styleClass="content-right">
				<h:outputText value="#{certificate.certificateNumber}" />
			</p:column>
			
			<p:column sortBy="#{certificate.serialNumber}" headerText="N° Serie" styleClass="content-right">
				<h:outputText value="#{certificate.serialNumber}" />
			</p:column>
						
			<p:column sortBy="#{certificate.registerDate}" styleClass="content-center" headerText="Fecha Registro">
				<h:outputText value="#{certificate.registerDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
						
			<p:column styleClass="content-center" headerText="#{gmsgs['security.lbl.code']}">
				<ark:securities-help securityCode="#{certificate.securities.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>		
						
			<p:column sortBy="#{certificate.certificateQuantity}" headerText="Cantidad" styleClass="content-right">
				<h:outputText value="#{certificate.certificateQuantity}"/>
			</p:column>							
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{certificateOperationManageBean.registerCertificateOperationTO.lstPhysicalCertificates.rowCount}"/>
				</h:outputFormat>
				<h:outputText styleClass="content-right" value="100"/>
			</f:facet>
		</p:dataTable>
		<p:dataTable value="#{certificateOperationManageBean.registerCertificateOperationTO.lstPhysicalCertificates}" var="certificate"
			rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType != operationType.GLOBALIZE.code}"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowKey="#{certificate.idPhysicalCertificatePk}"
			selection="#{certificateOperationManageBean.registerCertificateOperationTO.physicalCertificate}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" 
			selectionMode="single" paginator="true" paginatorPosition="top" rowsPerPageTemplate="5,10,15" rows="10">	 
			
			<p:ajax event="rowSelect" update=":frmCertificateOperation:opnlProcessed"
				listener="#{certificateOperationManageBean.setDescriptions}"/>							 					                 
			
			<p:column sortBy="#{certificate.certificateNumber}" headerText="N° Certificado" styleClass="content-right">
				<h:outputText value="#{certificate.certificateNumber}" />
			</p:column>
			
			<p:column sortBy="#{certificate.serialNumber}" headerText="N° Serie" styleClass="content-right">
				<h:outputText value="#{certificate.serialNumber}" />
			</p:column>
						
			<p:column sortBy="#{certificate.registerDate}" styleClass="content-center" headerText="Fecha Registro">
				<h:outputText value="#{certificate.registerDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
						
			<p:column sortBy="#{certificate.securities.idSecurityCodePk}" styleClass="content-center" headerText="#{gmsgs['security.lbl.code']}">
				<ark:securities-help securityCode="#{certificate.securities.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>		
						
			<p:column sortBy="#{certificate.certificateQuantity}" headerText="Cantidad" styleClass="content-right">
				<h:outputText value="#{certificate.certificateQuantity}"/>
			</p:column>							
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{certificateOperationManageBean.registerCertificateOperationTO.lstPhysicalCertificates.rowCount}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>		
		</p:outputPanel>
		</td>
		<td width="50%" valign="top">
		<p:outputPanel id="opnlProcessed">
		<p:fieldset rendered="#{certificateOperationManageBean.registerCertificateOperationTO.physicalCertificate != null 
			|| certificateOperationManageBean.registerCertificateOperationTO.globalizeQuantity > 0}"
			legend="#{certificateOperationManageBean.mpOperationTypes.get(certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType)}">
		<table width="100%">
		<tr>
			<td width="22%">
				<h:outputText value="Cantidad a Globalizar"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.GLOBALIZE.code}"/>
					
				<h:outputText value="N° Bóveda Origen"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}"/>
					
				<h:outputText value="Tipo Fraccionamiento (*)" styleClass="required-field"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.FRACTION.code}"/>
			</td>
			<td width="28%">
				<p:inputText disabled="true" value="#{certificateOperationManageBean.registerCertificateOperationTO.globalizeQuantity}"
					styleClass="content-right" size="15"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.GLOBALIZE.code}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
				
				<p:selectOneMenu disabled="true"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}">
					<f:selectItem itemLabel="#{certificateOperationManageBean.registerCertificateOperationTO.physicalCertificate.vaultLocationDesc}"/>
				</p:selectOneMenu>
				
				<h:panelGrid columns="2" rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.FRACTION.code}">
				<p:selectOneMenu value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.fractionType}"
					id="fractionType" label="Tipo Fraccionamiento">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItem itemLabel="PROPORCIONAL" itemValue="1"/>
					<f:selectItem itemLabel="A DEMANDA" itemValue="2"/>
					<p:ajax listener="#{certificateOperationManageBean.makeParts}" 
						update="@this msgFractionType opnlParts part msgPart lblPending pendingQuantity" process="@this"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>				
				</p:selectOneMenu>
				<p:message display="icon" for="fractionType" id="msgFractionType"/>
				</h:panelGrid>			
			</td>
			<td width="22%">
				<h:outputText value="N° Fraccionamiento (*)" styleClass="required-field"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.FRACTION.code}"/>
			</td>
			<td width="28%">
				<h:panelGrid columns="2" 
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.FRACTION.code}">
				<p:inputText value="#{certificateOperationManageBean.registerCertificateOperationTO.part}" label="N° Fraccionamiento"
					styleClass="content-right" size="5" maxlength="1" id="part">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					<p:keyFilter mask="pint"/>
					<p:ajax listener="#{certificateOperationManageBean.makeParts}" 
						update="@this msgPart opnlParts lblPending pendingQuantity" process="@this"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:inputText>
				<p:message display="icon" for="part" id="msgPart"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="Sucursal Destino (*)" styleClass="required-field"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}"/>
				
				<p:outputPanel id="lblPending">
				<h:outputText value="Cantidad Pendiente"
					rendered="#{not empty certificateOperationManageBean.registerCertificateOperationTO.lstFraction}"/>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2" rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}">
				<p:selectOneMenu id="branchOfficeTarget" label="Sucursal Destino"					
			 		value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.branchOfficeTarget}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>					
					<p:ajax listener="#{certificateOperationManageBean.changeBranchOfficeTarget}" 
						update="@this msgBranchOfficeTarget vaultTarget msgVaultTarget"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:selectOneMenu>
				<p:message display="icon" for="branchOfficeTarget" id="msgBranchOfficeTarget"/>
				</h:panelGrid>
				
				<p:outputPanel id="pendingQuantity">
				<p:inputText value="#{certificateOperationManageBean.registerCertificateOperationTO.fractionPendingQuantity}"
					rendered="#{not empty certificateOperationManageBean.registerCertificateOperationTO.lstFraction}"
					styleClass="content-right" size="5" disabled="true"/>
				</p:outputPanel>			
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="N° Bóveda Destino (*)" styleClass="required-field"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="vaultTarget" label="N° Bóveda Destino"
					rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.certificateOperationType eq operationType.TRANSFER.code}"
			 		value="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.vaultLocationTarget}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstVaults}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax process="@this" global="false" update="@this msgVaultTarget"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:selectOneMenu>
				<p:message display="icon" for="vaultTarget" id="msgVaultTarget"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td/>
			<td colspan="2">
			<p:outputPanel id="opnlParts">			
			<p:dataTable rendered="#{not empty certificateOperationManageBean.registerCertificateOperationTO.lstFraction}"
				value="#{certificateOperationManageBean.registerCertificateOperationTO.lstFraction}" var="fraction">
				<p:column headerText="N° Parte" styleClass="content-center">
					<h:outputText value="#{fraction.partCertificate}"/>
				</p:column>
				<p:column headerText="Cantidad Parte" styleClass="content-center">
					<p:inputText value="#{fraction.partQuantity}" styleClass="content-right"
						label="Cantidad Parte #{fraction.partCertificate}" size="10"
						maxlength="#{certificateOperationManageBean.registerCertificateOperationTO.physicalCertificate.certificateQuantity.toString().length()}"
						onkeyup="validateZero(this)" onkeydown="validateZero(this)" onkeypress="validateZero(this)"
						rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.fractionType eq 2}">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						<p:keyFilter mask="pint"/>
						<p:ajax update="@this :frmCertificateOperation:pendingQuantity" process="@this" 
							listener="#{certificateOperationManageBean.subtracPendingQuantity(fraction)}"/>
					</p:inputText>
					<h:outputText value="#{fraction.partQuantity}" styleClass="content-right"
						rendered="#{certificateOperationManageBean.registerCertificateOperationTO.certificateOperation.fractionType eq 1}">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
			</p:dataTable>
			</p:outputPanel>
			</td>
			<td/>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
		</table>	
	</td>
</tr>
<tr>
	<td align="center">
		<br/>
		<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" process="@form"
			update="@form" actionListener="#{certificateOperationManageBean.beforeSave}"/>
		<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" 
			actionListener="#{certificateOperationManageBean.cleanRegister}" update="@form" icon="fa fa-trash"/>
		<p:commandButton value="#{gmsgs['btn.back']}" process="@this" icon="fa fa-undo"
			action="#{certificateOperationManageBean.back()}"/>				
	</td>
</tr>
</table>
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{certificateOperationManageBean.save}" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" 
		action="#{certificateOperationManageBean.back()}" process="@this"/>
</p:confirmDialog>
</p:outputPanel>				
</h:form>
</ui:define>
</ui:composition>
</html>