<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmCertificateOperation">
<table width="100%">
<tr>
	<td>
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="Administrar Operaciones con Títulos Reales" styleClass="title-page" />		
			</td>
			<td align="right">
				<p:commandButton value="Registrar" icon="fa fa-edit" rendered="#{userPrivilege.userAcctions.register}"
					action="#{certificateOperationManageBean.register}" process="@this"/>		
			</td>
		</tr> 
		</table>						
	</td>
</tr>
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Sucursal (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="branchOffice" label="Sucursal"
			 		value="#{certificateOperationManageBean.searchCertificateOperationTO.branchOffice}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgBranchOffice opnlResult opnlPrivileges" 
						process="@this" listener="#{certificateOperationManageBean.cleanResult}"/>
					<ui:remove>
					<f:validator validatorId="genericRequiredValidator"/>
					</ui:remove>
					<f:param name="skipValidator" value="true"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgBranchOffice" for="branchOffice"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="Estado"/>
			</td>
			<td width="30%">
			 	<p:selectOneMenu id="cboState"
			 		value="#{certificateOperationManageBean.searchCertificateOperationTO.state}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstStates}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
		</tr>	
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid cellpadding="0" cellspacing="0">
				<ark:securityHelper id="securityHelper" security="#{certificateOperationManageBean.searchCertificateOperationTO.security}"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="Tipo Operación"/>
			</td>
			<td>
				<h:panelGrid>
				<p:selectOneMenu value="#{certificateOperationManageBean.searchCertificateOperationTO.operationType}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateOperationManageBean.lstOperationTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>		
				</p:selectOneMenu>
				</h:panelGrid>
			</td>		
		</tr>
		<tr>
			<td>
				<h:outputText value="Fecha Inicial (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{certificateOperationManageBean.searchCertificateOperationTO.initialDate}"
					maxdate="#{certificateOperationManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar> 
			</td>
			<td>
				<h:outputText value="Fecha Final (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{certificateOperationManageBean.searchCertificateOperationTO.endDate}"
					maxdate="#{certificateOperationManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar> 
			</td>			
		</tr>					
		<tr>
			<td align="center" colspan="4">
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{certificateOperationManageBean.search}"
					update="@form" icon="fa fa-search" process="fsFilters"/>
				<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" 
					actionListener="#{certificateOperationManageBean.clean()}"
					update="@form" icon="fa fa-trash"/>							
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td> 
		<p:outputPanel id="opnlPrivileges">
		<p:outputPanel rendered="#{not empty certificateOperationManageBean.searchCertificateOperationTO.lstResult}">
			<arkPriv:privileges actionReject="#{certificateOperationManageBean.validateReject}"
				actionConfirm="#{certificateOperationManageBean.validateConfirm}"
				actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>
		</p:outputPanel>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResult">
		<p:panel rendered="#{certificateOperationManageBean.searchCertificateOperationTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" 
	   		rendered="#{not empty certificateOperationManageBean.searchCertificateOperationTO.lstResult}">
		<p:dataTable value="#{certificateOperationManageBean.searchCertificateOperationTO.lstResult}" var="result"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" selection="#{certificateOperationManageBean.searchCertificateOperationTO.selected}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			rowKey="#{result.idCertificateOperationPk}" paginator="true" paginatorPosition="top" rowsPerPageTemplate="5,10,15" rows="10">	 
			
			<p:column styleClass="content-center" selectionMode="single"/>			 					                 
			
			<p:column sortBy="#{result.idCertificateOperationPk}" headerText="N° Solicitud" styleClass="content-right">
				<p:commandLink value="#{result.idCertificateOperationPk}"
					action="#{certificateOperationManageBean.viewDetail(result)}"/>
			</p:column>
						
			<p:column sortBy="#{result.custodyOperation.registryDate}" styleClass="content-center" headerText="Fecha Registro">
				<h:outputText value="#{result.custodyOperation.registryDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			
			<p:column sortBy="#{result.security.idSecurityCodePk}" styleClass="content-center" headerText="#{gmsgs['security.lbl.code']}">
				<ark:securities-help securityCode="#{result.security.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>
						
			<p:column sortBy="#{result.physicalCertificate.certificateNumber}" styleClass="content-center" headerText="N° Certificado">
				<h:outputText value="#{result.physicalCertificate.certificateNumber}"/>
			</p:column>
			
			<p:column sortBy="#{result.physicalCertificate.serialNumber}" styleClass="content-center" headerText="N° Serie">
				<h:outputText value="#{result.physicalCertificate.serialNumber}"/>
			</p:column>		
						
			<p:column sortBy="#{result.operationTypeDesc}" headerText="Tipo Operación">
				<h:outputText value="#{result.operationTypeDesc}"/>
			</p:column>
						
			<p:column sortBy="#{result.operationStateDesc}" headerText="Estado" styleClass="content-center">
				<h:outputText value="#{result.operationStateDesc}"/>
			</p:column>									
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{certificateOperationManageBean.searchCertificateOperationTO.lstResult.rowCount}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>		
		</p:outputPanel>	
	</td>
</tr>
</table>				
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>