<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension">

<ui:composition template="/template/default.xhtml" >
<ui:define name="header">
		<h:outputScript library="js" name="accountingDragAndDrop.js" />
</ui:define>
<ui:define name="body" >

	<style type="text/css">
		
		
		.removeFormulateSourceClass
		{
				padding:10px;
		}
		.valueDefaultClass
		{
				
				text-align:right !important;
				width: 150px !important
		}
	</style>	
		

	<h:outputText value="#{msgs['opt.manage.schema.parameterize.formulate']}"
				  styleClass="title-page"/>
	
	<h:form id="frmSearchBookAccounts" >
	 <h:inputHidden id="variableHiddenNameId" value="#{accountingSchemaMgmtBean.variableHiddenName}" />
	 <h:inputHidden id="variableHiddenCodeId" value="#{accountingSchemaMgmtBean.variableHiddenCode}" />
	 <h:inputHidden id="variableHiddenIndexId" value="#{accountingSchemaMgmtBean.variableHiddenIndex}" />
	 <h:inputHidden id="identifyValidationId" value="#{accountingSchemaMgmtBean.identifyValidation}" />	 
	 
	<p:remoteCommand name="addToFormulate"  partialSubmit="true" update=":formMemory:dataTableTarget"
							oncomplete="updateColumns(); cleanVariables();"
							actionListener="#{accountingSchemaMgmtBean.addSourceToFormula}"
							global="false" >
	</p:remoteCommand>
	
	<p:remoteCommand name="validateSettingValues"  partialSubmit="true" update=":formMemory:dataTableTarget :search_legendAccounting:cnfIdWarningValidateMatch"
							oncomplete="updateColumns()"
							actionListener="#{accountingSchemaMgmtBean.validateSettingValues}"
							global="false"   >
	</p:remoteCommand>
<!-- 	CallRemove, to remove Reference To Table -->
	<p:remoteCommand name="callRemove"  partialSubmit="true" update=":formMemory:dataTableTarget"
			oncomplete="updateColumns()" 
				actionListener="#{accountingSchemaMgmtBean.removeReferenceToTable}"
				global="false" >
	</p:remoteCommand>
		<table width="100%" border="0">	 
	
				<tr>
					<td  colspan="4">
						<p:fieldset legend="#{msgs['serviceData.legend']}" >
							<table width="100%" border="0">	
							<tr>
								<td><h:outputText value="#{msgs['lbl.account.source']}" /></td>
								<td >  
									<h:panelGrid columns="2"> 
										<p:inputText id="txtStatementsCode"  
													 value="#{accountingSchemaMgmtBean.fileSourceName}"
													 label="#{msgs['lbl.account.source']}" 
													 maxlength="10">
										 </p:inputText>
									</h:panelGrid>									
								</td>
							</tr>
							
							<tr>
								<td><h:outputText value="#{msgs['lbl.source.name']}" /></td>
								<td >  
									<h:panelGrid columns="2"> 
										<p:inputText id="txtSourceName"  
													 value="#{accountingSchemaMgmtBean.fileDescription}"
													 label="#{msgs['lbl.source.name']}" 
													 maxlength="10">
										 </p:inputText>
									</h:panelGrid>									
								</td>
							</tr>

				
							<tr>
								<td colspan="4" align="center">
									<h:panelGroup>
										<p:commandButton value="#{msgs['btn.search']}"  icon="fa fa-search"
													  	 update="@form"
														 actionListener="#{accountingSchemaMgmtBean.loadSources}"
											       />
		     							 		<p:spacer width="5" height="0"></p:spacer>		      						
	        							<p:commandButton id="cmbBack" value="#{msgs['btn.back']}" icon="fa fa-undo"										
														 immediate="true" process="@this" update="@form"
														 action="#{accountingSchemaMgmtBean.backAddAccount}"
												     />	  					
									</h:panelGroup>
								</td>
							</tr>
							
							
									    
							</table>	 
						</p:fieldset> 										
					</td>   
				</tr>	
				
				<tr>
					<td  colspan="4">
						<p:fieldset legend="#{msgs['lbl.source.file.xml']}" rendered="#{(accountingSchemaMgmtBean.accountingSourceDataModel.rowCount >= 1)}">
							<p:dataTable id="dtbResult"
								var="source" 
								value="#{accountingSchemaMgmtBean.accountingSourceDataModel}"
								paginator="true" rows="5" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								rowKey="#{source.idAccountingSourcePk}"
				                >

	
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.source.name']}" />
									</f:facet>
									<p:commandLink actionListener="#{accountingSchemaMgmtBean.showAssociatedVariables}"  
									  styleClass="content-center"												
									  global="false"
									  update="@form :formMemory:idDialogFormulate :search_legendAccounting:idWarningDialogSource"
									  value="#{source.fileSourceName}"  style="color:blue" >
									<f:attribute name="blockInformation" value="#{source}"  /> 
									</p:commandLink>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.description.general.parameters']}" />
									</f:facet>
									<h:outputText  value="#{source.descriptionSource}"/>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.source.auxiliary']}" />
									</f:facet>
									<h:outputText  value="#{source.descriptionAuxiliaryType}"/>
								</p:column>
					
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.statements.state']}" />
									</f:facet>
									<h:outputText  value="#{source.descriptionSourceStatus}"/>
								</p:column>
 
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.source.date.modify']}" />
									</f:facet>
									<h:outputText value="#{source.lastModifyDate}" />
								</p:column>  
	 
	 
	 						    <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingSchemaMgmtBean.accountingSourceDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>	
							    
							</p:dataTable> 
					</p:fieldset> 		
					
					<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accountingSchemaMgmtBean.accountingSourceDataModel!=null and !(accountingSchemaMgmtBean.accountingSourceDataModel.rowCount >= 1)}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(accountingSchemaMgmtBean.accountingSourceDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>							
					</p:fieldset> 								
					</td>   
				</tr>	
				</table>
				
				
				<p:confirmDialog widgetVar="cnfWConfirmBack" id="cnfIdBack" message="#{bodyMessageView}" header="#{headerMessageView}"
				 			 closable="false" rendered="true"> 
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmBack.hide()" update="@form"
						             action="#{accountingSchemaMgmtBean.backToAddAccount}"   process="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmBack.hide()" 
								     process="@this" /> 
				</p:confirmDialog>	
				
				
				</h:form>
				
				
		<!-- ASSOCIATION FORMULATE -->		
				<h:form id="formMemory">   
				<p:dialog 
						header="#{msgs['accounting.association.with.source.formula']}" 
						widgetVar="cnIdFlagAddFormulate" 
						id="idDialogFormulate"
						modal="true"
						width="60%"	closable="false" > 
				<p:fieldset legend="#{msgs['variable.formula']}" width="100%">  
				<p:outputPanel id="outIdFormulate" width="100%"  >
					<table width="100%"> 
									<tr>
										<td width="90%">
										
<!-- 										LISTA PRIMERA-->
 
												<p:dataTable id="dataTableTarget"   
															 value="#{accountingSchemaMgmtBean.accountingMatrixDetailSelection.listVariableFormulateTo}"
															 styleClass="SourceClass" rowIndexVar="rIndx"
															 rowKey="#{variableFormulateTo.positionFormulate}"
															 selection="#{accountingSchemaMgmtBean.variableFormulateToSelected}"
															 var="variableFormulateTo" emptyMessage="#{msgs['warning.data.no.found']}"
															 paginator="true" rows="5" 
															 paginatorPosition="top"
															 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
															 >
												
												<p:column headerText="#{msgs['lbl.variable']}"  width="45%">
													<h:outputText id="nameTableSource#{rIndx}" value="#{variableFormulateTo.nameVariable}" style="display:none"/>
													<h:outputText id="nameTableSourceWithOut#{rIndx}" value="#{variableFormulateTo.nameVariableWithOutSeparator}" />
													<h:outputText id="idTableSource#{rIndx}" value="#{variableFormulateTo.positionFormulate}" style="display:none" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.value']}" width="25%">

													<p:inputText id="quoteOpenPrice"  
														value="#{variableFormulateTo.valueDefault}"
														styleClass="amount-inputfield cashAmount-inputField valueDefaultClass"
														size="10" 
														>
														<p:ajax event="blur" process="@this" global="false"/>	
														<p:keyFilter mask="pnum" />
														<f:convertNumber
															pattern="#{cons['conv.number.pattern.cash.amount']}"
															locale="#{cons['conv.number.locale']}" />
													</p:inputText>
													
											 	</p:column>
										
												<p:column headerText="#{msgs['lbl.reference']}" width="30%" styleClass="classReference">
													<h:outputText value="#{variableFormulateTo.variableSource}" styleClass="variableClassReference" />
													<h:outputText id="indexTarget#{rIndx}" value="#{variableFormulateTo.positionFormulate}"  style="display:none"/>
												</p:column>
												</p:dataTable>
												
												
										</td>
										<td width="2%">
											
										</td>
										<td width="8%">
											
											<p:graphicImage id="idImageRemove" styleClass="removeFormulateSourceClass" library="img" name="emptyA.png" />
										
										</td>	
										</tr>
										
										
									</table>
									</p:outputPanel>
				</p:fieldset>
				
				<p:spacer height="50"></p:spacer>
				
				<p:fieldset legend="#{msgs['variable.source']}"  width="100%">
				 
				<p:outputPanel id="outIdSource" width="100%"  >   
					<table width="100%"> 
					<tr>
										<td width="90%">
										
										<p:dataTable id="dataTableFieldSource" value="#{accountingSchemaMgmtBean.fieldSourceToDataModel}"
														styleClass="fieldSourceClass" rowIndexVar="rIndx"
												  	    var="fieldSource" emptyMessage="#{msgs['warning.data.no.found']}"
												  	    paginator="true" rows="5" 
													 	paginatorPosition="top"
														rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column headerText="#{msgs['lbl.variable']}" styleClass="codeClass" width="45%">
													<h:outputText id="nameSource#{rIndx}" value="#{fieldSource.name}" />
													<h:outputText id="idPositionField#{rIndx}" value="#{fieldSource.posicion}" style="display:none" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.description']}" width="55%">
													<h:outputText value="#{fieldSource.description}" />
												</p:column>
												
										</p:dataTable>
										
										</td>
										<td width="10%"></td>										
									</tr> 	
									<tr>
									<td>
									
									<p:remoteCommand name="updateColumns" oncomplete="initDND()"/>  
									
									</td>
									</tr>
									  
										<tr style="height:25px"></tr> 
									 
									<tr>
										<td  align="center" colspan="2"> 
											<p:commandButton id="cmbSave" 
														 value="#{msgs['btn.accept']}" 
														 icon="fa fa-save" actionListener="#{accountingSchemaMgmtBean.beforeSaveTempMatrixDetail}"
														  update=":search_legendAccounting:cnfIdAccountSourceSave,:search_legendAccounting:idWarningDialog"
														  process="@form" /> 
											<p:spacer width="5" height="0"></p:spacer>                 
										  	<p:commandButton id="cmbBackUpdate" 
														value="#{msgs['btn.back']}" icon="fa fa-undo"
														update="cnfIdAlertHideDialog"
														actionListener="#{accountingSchemaMgmtBean.beforeBackToSource}"
														 />
									 		     
									</td>		
									</tr> 
							</table> 
							
				
				</p:outputPanel>
				</p:fieldset>
				</p:dialog> 
				
				
				<p:confirmDialog widgetVar="cnfWAlertHideDialog" id="cnfIdAlertHideDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
					 			 closable="false">
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWAlertHideDialog.hide(), cnIdFlagAddFormulate.hide()"
						             actionListener="#{accountingSchemaMgmtBean.cleanBeforeBackToSource}"
													 />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWAlertHideDialog.hide()" 
								     process="@this" />
				</p:confirmDialog>	
				</h:form>
				
		
			
	
		
	
 
		 
	<p:outputPanel id="opnlDialogs" >	
		<h:form id="search_legendAccounting">
			<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog" message="#{bodyMessageView}"
							 header="#{headerMessageView}" closable="false" severity="alert" > 
				<p:commandButton onclick="PF('warningDialog').hide()" 
			    				 value="#{msgs['btn.accept']}" />
			</p:confirmDialog>	
			
			<p:confirmDialog widgetVar="cnfWarningValidateMatch" id="cnfIdWarningValidateMatch" message="#{bodyMessageView}" 
				header="#{headerMessageView}" closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWarningValidateMatch.hide();addToFormulate();" update="@form"  />
				           
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWarningValidateMatch.hide(); afterValidateSettingValuesOptNo();"  process="@this" />
						    
			</p:confirmDialog>
			
			
			<p:confirmDialog widgetVar="cnfWConfirmMatrixDetailSave" id="cnfIdAccountSourceSave" message="#{bodyMessageView}" 
				header="#{headerMessageView}" closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmMatrixDetailSave.hide()" update="@form"
				             action="#{accountingSchemaMgmtBean.saveMatrixDetail}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmMatrixDetailSave.hide()" 
						     process="@this" />
			</p:confirmDialog>
			
			
			<p:confirmDialog widgetVar="warningDialogSource" id="idWarningDialogSource" message="#{bodyMessageView}"
							 header="#{headerMessageView}" closable="false" severity="alert" > 
				<p:commandButton onclick="warningDialogSource.hide()" 
			    				 value="#{msgs['btn.accept']}" />
			</p:confirmDialog>
			
		</h:form>
	</p:outputPanel>
	

	
	
	</ui:define>
</ui:composition>
</html>