<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
	
<ui:composition template="/template/default.xhtml">

<ui:define name="header">
	<h:outputScript library="js" name="accountingDragAndDrop.js" />
</ui:define>

	<ui:define name="body">
	<style type="text/css">
		

						
		  #frmFinancialStatementsRegister\3a idListOpe,#frmSearchBookAccounts\3a idListVar{
   float:left;
  }  
  
  #frmFinancialStatementsRegister\3a idListOpe > tbody > tr > td > ul{
  list-style-type:none;
  height:100px;
  width:400px;
  }
  
  #frmFinancialStatementsRegister\3a idListFormula > tbody > tr > td > ul{
  list-style-type:none;
  height:60px;
  width:600px;
  }
  
  .variableClass ul  {
  height:230px !important;
  width:300px !important;
  }
  .variableClass ul li{
  margin:1px 5px !important;
  padding:10px !important;
  }
  .operatorClass ul li{
  margin:1px 5px !important;
  padding:10px !important;
  position:relative;
  }
  .operatorClass ul li table {
  position:relative;
  left:50%;
  top:50%;
  }
  
  .formulateClass ul{
   background: Silver !important;
   margin:0px !important;
   padding:0px !important;
		height:75px !important;
		width:700px !important;
		list-style-type:none !important;
  }
  
  .formulateClass ul li{
   float:left !important;
   margin:10px 5px !important;
   padding:10px !important;
   }
   .formulateClass ul li span{
   
   
   }
   
   .formulateClass .ui-orderlist-controls{
	position:absolute;
	top:130px;
	right:250px;
	}

	.formulateClass{
	position:relative;
	}


	.formulateClass .ui-orderlist-controls button{
	float:left; 
	}

	.formulateClass .ui-orderlist-controls {
		position: absolute;
		top: 106px;
		right: 250px;
	}
	.removeFormulateClass{
		padding:20px;
	}				
						
						
						
						
						
						
						
						
						
	</style>	
		
  

	<h:outputText value="#{msgs['opt.financial.statementse.register.title']}"
				  rendered="#{!(accountingSchemaMgmtBean.consult)}"
				  styleClass="title-page"/>
				  
  	<h:outputText value="#{msgs['opt.financial.statementse.consult.title']}"
  				rendered="#{(accountingSchemaMgmtBean.consult)}"
				styleClass="title-page"/>
	
	
	<h:form id="frmFinancialStatementsRegister" prependId="false">  
	
		<table width="100%">
		
			<tr>
				<td>
					<p:fieldset legend="#{msgs['serviceData.legend']}">
						<table width="100%"  id="flsRateID" border="0">							
							<tr>
								<td><h:outputText value="#{msgs['lbl.statements.code']} (*)"  styleClass="required-field"  /></td>
								<td >  
									<h:panelGrid columns="2"> 
										<p:inputText id="txtStatementsCode" 
													 rendered="#{!(accountingSchemaMgmtBean.consult)}"
													 value="#{accountingSchemaMgmtBean.accountingSchemaTo.schemaCode}"
													 label="#{msgs['lbl.statements.code']}" 
													 maxlength="14">
										<p:keyFilter mask="pint" />
										<p:ajax event="blur" update="msgsStatementsCodeId @this" global="false"/>	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	      
										</p:inputText>
										<p:message for="txtStatementsCode" display="icon"  id="msgsStatementsCodeId"/>
										<p:inputText id="txtStatementsCodeConsult" disabled="true"
													 rendered="#{(accountingSchemaMgmtBean.consult)}"
													 value="#{accountingSchemaMgmtBean.accountingSchemaTo.schemaCodeConsult}"
													 label="#{msgs['lbl.statements.code']}" 
													 maxlength="10">
										</p:inputText>
									</h:panelGrid>									
								</td>
							</tr>
							<tr>
								<td width="18%"><h:outputText value="#{msgs['daily.auxiliary.lbl.type']} (*)"  styleClass="required-field" /></td>
								<td width="35%">
								<h:panelGrid columns="2"> 		
										<p:selectOneMenu id="cmbDailyAuxiliaryhId" style="width:250px;"  
														 rendered="#{!(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterAuxiliaryTypeSelected}" 
													     label="#{msgs['daily.auxiliary.lbl.type']}">  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAuxiliaryType}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.description}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											<p:ajax event="change" update="msgsParameterTypeAId cmbBranchId @this"  global="false"
													listener="#{accountingSchemaMgmtBean.dynamicAuxiliarytype}"	 />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>  
							    	<p:message for="cmbDailyAuxiliaryhId" display="icon"  id="msgsParameterTypeAId"/>
							    	<p:selectOneMenu id="cmbDailyAuxiliaryIdConsult" style="width:250px;"  disabled="true"
														 rendered="#{(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterAuxiliaryTypeSelected}" 
													     label="#{msgs['daily.auxiliary.lbl.type']}">  
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAuxiliaryType}" 
											 			   var="parameterList"
											               itemLabel="#{parameterList.description}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											<p:ajax event="change" update="msgsParameterTypeAId cmbBranchId @this"  global="false"
													listener="#{accountingSchemaMgmtBean.dynamicAuxiliarytype}"	 />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>  
							    </h:panelGrid>	 		              
								</td>
							
								<td width="18%"><h:outputText value="#{msgs['statementse.lbl.branch']} (*)" styleClass="required-field"/></td>
								<td width="35%">
								<h:panelGrid columns="2"> 		
										<p:selectOneMenu id="cmbBranchId" style="width:250px;"  
														 rendered="#{!(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterBranchSelected}" 
													     label="#{msgs['statementse.lbl.branch']}">  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterBranch}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.nameWithDescription}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											<p:ajax event="change" update="msgsParameterTypeId @this"/>
											
											<f:validator validatorId="selectOneRequiredValidator" global="false"/>
										</p:selectOneMenu>  
							    	<p:message for="cmbBranchId" display="icon"  id="msgsParameterTypeId"/>
							    	<p:selectOneMenu id="cmbBranchIdConsult" style="width:250px;"  disabled="true"
														 rendered="#{(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterBranchSelected}" 
													     label="#{msgs['statementse.lbl.branch']}">  
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterBranch}" 
											 			   var="parameterList"
											               itemLabel="#{parameterList.nameWithDescription}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											               
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>  
							    </h:panelGrid>	 		              
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.statements.asociate.code']} (*)"  styleClass="required-field"  /></td>
								<td align="left"> 		
										<h:panelGrid columns="2"> 		
										<p:selectOneMenu id="cmbAsociateCodeId" style="width:250px;"  
														 rendered="#{!(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterAssociateCodeSelected}" 
													     label="#{msgs['lbl.statements.asociate.code']}">  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAssociateCode}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.description}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											<p:ajax event="change" update="msgsParameterTypeId @this"/>
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" global="false"/>
										</p:selectOneMenu>  
							    	<p:message for="cmbAsociateCodeId" display="icon"  id="msgsAsociateCodeId"/>
							    	<p:selectOneMenu id="cmbAsociateCodeIdConsult" style="width:250px;"  disabled="true"
														 rendered="#{(accountingSchemaMgmtBean.consult)}"									
													     value="#{accountingSchemaMgmtBean.parameterAssociateCodeSelected}" 
													     label="#{msgs['lbl.statements.asociate.code']}">  
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAssociateCode}" 
											 			   var="parameterList"
											               itemLabel="#{parameterList.description}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>  
							    </h:panelGrid>						
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.statements.description']} (*)"  styleClass="required-field"  /></td>
								<td align="left"> 									
									<h:panelGrid columns="2"> 
										<p:inputTextarea  id="txtStatementsDescription" rendered="#{!(accountingSchemaMgmtBean.consult)}"
														  style="width:300px;height:40px;"  effectDuration="400"  maxlength="200"
										                  value="#{accountingSchemaMgmtBean.accountingSchemaTo.description}"
									                      label="#{msgs['lbl.statements.description']}" >	
											<p:ajax event="blur" update="msgsShortNameId @this" global="false"/>	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	      
										</p:inputTextarea>
										<p:inputTextarea  id="txtStatementsDescripciptionConsult" rendered="#{(accountingSchemaMgmtBean.consult)}"
														  style="width:300px;height:40px;"  effectDuration="400"  maxlength="200" disabled="true" 
										                  value="#{accountingSchemaMgmtBean.accountingSchemaTo.description}"
									                      >										              		
										</p:inputTextarea>
								    	<p:message for="txtStatementsDescription" display="icon"  id="msgsShortNameId"/>
						 		    </h:panelGrid>
								</td> 
							 
								<td><h:outputText value="#{msgs['lbl.statements.state']}" rendered="#{(accountingSchemaMgmtBean.consult)}" /></td>
								<td align="left" colspan="2">  
									<p:inputText id="txtStatementsStateConsult"  
													 rendered="#{(accountingSchemaMgmtBean.consult)}"
												 	 value="#{accountingSchemaMgmtBean.accountingSchemaTo.statusDescription}"
												     disabled="true" >
									</p:inputText>	
								</td> 
							</tr>
							
							
						
							
						</table>	
					</p:fieldset>
					
					<!--  ADD ACOUNT -->
	
					<p:fieldset legend="#{msgs['lbl.add.account']}" id="idAddAccount">
						<table width="100%"  id="flsAccountID" border="0">							
							
								
							<tr>
								<td colspan="3">
								<p:outputPanel id="dtbResult">
										<p:dataTable  
											var="matrixDetail" 
											value="#{accountingSchemaMgmtBean.accountingMatrixDetailDataModel}"
											paginator="true" rows="10" 
											paginatorPosition="top"
											currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
											paginatorTemplate="#{gmsgs['dtb.paginator.template']}" 
											rowsPerPageTemplate="5,10,15"	
											rowIndexVar="rIndx"
											rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								            selection="#{accountingSchemaMgmtBean.accountingMatrixDetailSelection}"
											rowKey="#{ledgerAccounts.idAccountPk}"
							                >			
								
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.code']}" />
												</f:facet>
												<h:outputText  value="#{matrixDetail.accountingAccountTo.accountCode}" />
												 
												<p:commandLink styleClass="icon"  process="@this"
															   actionListener="#{accountingSchemaMgmtBean.consultAccountTree}"
									   						   global="false"
									   						   update=":formMemory:cnfIdConsultTemp"
															     >
													<f:attribute name="blockInformation" value="#{matrixDetail}"  /> 		     
												<p:graphicImage id="imgHelp" library="img" name="icons/help.png"  />                
												</p:commandLink>													 
											</p:column>
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.book.account.nature']}" />
												</f:facet>
												<h:outputText value="#{matrixDetail.descriptionDynamicType}" />
											</p:column>
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.ledger.description']}" />
												</f:facet>
												<h:outputText value="#{matrixDetail.accountingAccountTo.description}" />
											</p:column>
								<!-- FORMULATE -->		
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.account.formulate']}" />
									</f:facet>
									<p:commandButton id="cmbtFormulateId"  icon="ui-approve"  
									    	actionListener="#{accountingSchemaMgmtBean.viewFormulateCompoment}"
									    	oncomplete="initDND();" process=":frmFinancialStatementsRegister:dtbResult"
									   		update=":formMemory:idDialogFormulate" 	global="false"
									   		disabled="#{matrixDetail.accountingAccountTo.indAccumulation == null}">  		 
						      			<f:attribute name="toFormulate" value="#{matrixDetail}"/> 
						      		</p:commandButton>						      		
								</p:column>
										    <!-- SOURCE -->	
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.source']}" />
												</f:facet>
												<p:commandButton id="cmbtSourseId"  icon="ui-approve"  global="false"
																 action="#{accountingSchemaMgmtBean.goToSourceFromMatrix}"
																 update="@form"  process=":frmFinancialStatementsRegister:dtbResult"
 																 actionListener="#{accountingSchemaMgmtBean.addSourceToSchema}"
 																 disabled="#{matrixDetail.accountingSourceTo != null}"
																>  		 
												<f:attribute name="toSource" value="#{matrixDetail}"/> 
												</p:commandButton>	
											</p:column> 
 
								<!-- Delete on temp dataModel -->
								 			<p:column style="text-align:center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.remove.temp']}" />
												</f:facet> 
								      			<p:commandButton id="staggBackId"  icon="ui-remove"	
												    actionListener="#{accountingSchemaMgmtBean.accountingAccountRemove}"
												    update="@form" process="@this"		
												    disabled="#{matrixDetail.accountingAccountTo.indAccumulation == null}"										    
												    >  		 
									      			<f:attribute name="removeName" value="#{matrixDetail}"/> 
									      		</p:commandButton>
									      	</p:column> 
									      		  
											 
											<f:facet name="footer">	
												<div style="width:100%; text-align:left" id="idDivRowCount" >								
												<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingSchemaMgmtBean.accountingMatrixDetailDataModel.rowCount}"
																style="font-weight:bold;"/>
												</div>
											</f:facet>	
												 
										</p:dataTable> 
								</p:outputPanel>	
											
								
								</td>
							</tr> 		
						
							<tr>
        						<td  align="center" colspan="5">   
        						   
        						 	<p:commandButton id="cmbSaveMatrix"  value="#{msgs['btn.save']}"  icon="fa fa-save" 
													 update="@form" process="@form"
	        							             actionListener="#{accountingSchemaMgmtBean.beforeSaveAccountingAccounts}"
															/> 
	        							             
        						    <p:spacer width="5" height="0"></p:spacer>	
        						    
        						    <p:commandButton id="cmbCleanMatrix"
	        							 				 value="#{msgs['btn.clean']}"
	        							 				 icon="fa fa-trash"
	        							 				 update="idAddAccount, cnfIdClean"
	        							 				 actionListener="#{accountingSchemaMgmtBean.cleanAddAccountingAccount}"
	        							 				 process="@this" />
        						   
        						    <p:spacer width="5" height="0"></p:spacer>		      						
        							
        							<p:commandButton id="cmbBackMatrix" value="#{msgs['btn.back']}" icon="fa fa-undo"										
													 process="@this" update="@form"
													 action="#{accountingSchemaMgmtBean.addAccountBackToSearch}"
												     />		 					
								</td>								
							</tr>
							
							
 
							
						</table>	
					</p:fieldset>	
				<!-- END ADD ACCOUNT -->

					</td>
				 </tr>	
			</table>
			
			
															
	
	 
	
		<p:confirmDialog widgetVar="cnfWConfirmSave" id="cnfIdSchemaSave" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmSave.hide()" update="@form"
				             actionListener="#{accountingSchemaMgmtBean.saveSchemaAccounting}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmSave.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWConfirmCleanRegister" id="cnfIdCleanRegister" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanRegister.hide()" update="@form" process="@this" 
				             actionListener="#{accountingSchemaMgmtBean.cleanAll}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanRegister.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
		
		 
			 
		<p:confirmDialog widgetVar="cnfWSuccessDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWSuccessDialog').hide()" 
			 				 value="#{msgs['btn.accept']}"
					    	 action="schemaSearch" immediate="true" process="@this"  />
		</p:confirmDialog>	
		
		<!--  -->
		<p:confirmDialog widgetVar="cnfWConfirmAddAccount" id="cnfIdServiceModify" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmAddAccount.hide()" update="@form"
				             actionListener="#{accountingSchemaMgmtBean.saveAccountingMatrix}"
							 process="@this" />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmAddAccount.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
		<p:confirmDialog widgetVar="cnfWConfirmCleanBack" id="cnfIdCleanBack" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanBack.hide()" update="@form"
				             actionListener="#{accountingSchemaMgmtBean.cleanToBackAddAccountingMatrix}"
				             action="#{accountingSchemaMgmtBean.goToBackToSearch}" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanBack.hide()" 
						     process="@this" />
		</p:confirmDialog>

		
		<p:confirmDialog widgetVar="cnfWConfirmClean" id="cnfIdClean" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true">
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmClean.hide()" update="@form, dtbResult"
				             actionListener="#{accountingSchemaMgmtBean.cleanAddAccountingMatrix}" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmClean.hide()" 
						     process="@this" />
		</p:confirmDialog>
	
	
		<p:confirmDialog widgetVar="cnfWAlertModifyDialog" id="cnfIdAlertModifyDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertModifyDialog.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
	</h:form>
	
	
	
	<!-- PANEL FORMULA -->
	 <h:form id="formMemory">  
		<p:dialog 	header="#{msgs['generate.accounting.formula']}"
					widgetVar="cnIdFlagAddFormulate" id="idDialogFormulate" 
					modal="true" 
					width="70%"	closable="false"	> 
		<p:fieldset legend="#{msgs['lbl.writing.formula']}" width="100%">
		<p:outputPanel id="outIdFormulate" width="100%"  >
		
		<h:inputHidden id="variableHiddenName" value="#{accountingSchemaMgmtBean.variableHiddenName}" />
		<h:inputHidden id="variableHiddenCode" value="#{accountingSchemaMgmtBean.variableHiddenCode}" />
		<h:inputHidden id="variableHiddenIndex" value="#{accountingSchemaMgmtBean.variableHiddenIndex}" />
		<p:remoteCommand name="updateColumns" actionListener="#{accountingSchemaMgmtBean.onColumnDrop}"  oncomplete="initDND()"/>
		
		<p:remoteCommand name="reOrder" actionListener="#{accountingSchemaMgmtBean.sortIndexes}"  oncomplete="initDND()"/>

			<table width="60%" border="0" align="center">
				<tr>
					<td>
					    <p:orderList id="idListVar" rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.listVariable}" 
					    styleClass="variableClass"  var="formulaSource" converter="parameterConverter"
						controlsLocation="left"  itemLabel="#{formulaSource}" itemValue="#{formulaSource.parameterName}" effect="" >  
				  
						<f:facet name="caption">#{msgs['lbl.variables']}</f:facet>
				  
				         <p:column style="width:95%;">  
				            <h:outputText id="nameSourceVar#{rIndx+1}" value="#{formulaSource.parameterName}" escape="false"  /> 
							<h:outputText id="idHiddenVar#{rIndx+1}" value="#{formulaSource.idAccountingParameterPk}" style="display:none" />
				        </p:column>  
						</p:orderList>  
					</td>
					
					<td style="padding-bottom:30px">
					
					<p:orderList id="idListOpe" rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.listOperator}" 
					styleClass="operatorClass"  var="formulaTarget" converter="parameterConverter"
					controlsLocation="left"  itemLabel="#{formulaTarget}" itemValue="#{formulaTarget.parameterName}"  >  
			  
					<f:facet name="caption">#{msgs['lbl.operators']}</f:facet>
			  
			        <p:column style="width:95%; "> 
			            <h:outputText id="nameSourceOpe#{rIndx+1}" value="#{formulaTarget.parameterName}" escape="false" />
						<h:outputText id="idHiddenOpe#{rIndx+1}" value="#{formulaTarget.idAccountingParameterPk}" style="display:none" />
			        </p:column>  
					</p:orderList>	
					
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="2">
							<p:orderList id="idListFormula"  styleClass="formulateClass" converter="parameterConverter"
							rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.formulaFinal}" var="formulaFinal" 
							controlsLocation="left"  itemValue="#{formulaFinal}"   >  
					  
							<f:facet name="caption">#{msgs['lbl.formulate.account.ledger']}</f:facet> 
					  
					         <p:column style="width:95%;">  
					            <h:outputText id="nameFormulate#{rIndx+1}" value="#{formulaFinal.parameterName}" escape="false" />
								 <h:outputText id="codeFormulate#{rIndx+1}" value="#{formulaFinal.idAccountingParameterPk}" escape="false" style="display:none" />
								 <h:outputText id="indexFormulate#{rIndx+1}" value="#{formulaFinal.index}" escape="false" style="display:none" />
					           	
					        </p:column>  
							</p:orderList>   
					</td> 
					<td><p:graphicImage id="idImageRemove" styleClass="removeFormulateClass" library="img" name="emptyA.png" />							
								</td>
				<td> 
								
													
							<p:remoteCommand name="addFormulate"  partialSubmit="true" update="idListFormula, btnIdAccept"
											oncomplete="updateColumns()" 
												actionListener="#{accountingSchemaMgmtBean.addFromFormulate}"
												global="false" >
							</p:remoteCommand>
							
							<p:remoteCommand name="callRemove"  partialSubmit="true" update="idListFormula, btnIdAccept"
											oncomplete="updateColumns()"
												actionListener="#{accountingSchemaMgmtBean.removeFromFormulate}"
												global="false" >
							</p:remoteCommand>
							</td> 	
						
					 					
				</tr>
				
				<tr>
					 <td  align="center" height="33px" colspan="2" width="100%">
					 </td>
				</tr>
				
				 	<tr>  
						 <td align="center"  style="padding-left:104px" colspan="2"> 
	        					   <p:commandButton value="#{msgs['btn.verify']}"  
												   icon="ui-edit" 
												   update="idListFormula, cnfIdValidate, btnIdAccept" process="@this" 
												   actionListener="#{accountingSchemaMgmtBean.validateFormulate}"
												   oncomplete="initDND();"
								      			/>	 
								  <p:spacer width="5" height="0"></p:spacer>	
        						  <p:commandButton value="#{msgs['btn.accept']}"  id="btnIdAccept"
												   disabled="#{!(accountingSchemaMgmtBean.acceptFormulate)}"
												   actionListener="#{accountingSchemaMgmtBean.addFormulateToMatrixDetail}"
												   oncomplete="cnIdFlagAddFormulate.hide()"
											       icon="ui-approve" 
							      				 />
								   <p:spacer width="5" height="0"></p:spacer>	 
								  <p:commandButton value="#{msgs['btn.clean']}"  id="btnIdClean"
								  				   update="idListFormula btnIdAccept"
												   actionListener="#{accountingSchemaMgmtBean.cleanFormulate}"												   
											       icon="fa fa-trash" 
											       oncomplete="initDND();"
							      				 />
								   <p:spacer width="5" height="0"></p:spacer>	
				      			  <p:commandButton value="#{msgs['btn.cancel']}"  
								  				 icon="ui-cancel"  
								   				 update="cnfIdAlertCancelFormulate, cnfIdAlertCancel" process="@this"  
								   				 actionListener="#{accountingSchemaMgmtBean.cancelFromFormulate}"
								   				 oncomplete="initDND();"
				      				 />
						 </td>
				 	</tr>
				 </table>
		</p:outputPanel>
		</p:fieldset>
		</p:dialog> 


		
		
		
		<p:confirmDialog widgetVar="cnfWValidate" id="cnfIdValidate" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert" 
						 update="idListFormula"> 
		<p:commandButton onclick="cnfWValidate.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWAlertCancel" id="cnfIdAlertCancel" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertCancel.hide()" update="@form"
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWAlertValidate" id="cnfIdAlertValidate" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertValidate.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
				
		<p:confirmDialog widgetVar="cnfWAlertCancelFormulate" id="cnfIdAlertCancelFormulate" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="idListFormula,  formMemory"
							 oncomplete="cnfWAlertCancelFormulate.hide(), cnIdFlagAddFormulate.hide()"
				             actionListener="#{accountingSchemaMgmtBean.cancelFormulate}"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWAlertCancelFormulate.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:dialog  widgetVar="cnfWConsultTemp" id="cnfIdConsultTemp" message="#{bodyMessageView}" header="#{msgs['lbl.account.tree.detail']}" position="left">
			<p:tree value="#{accountingSchemaMgmtBean.root}" var="node" id="tree">  
				<p:treeNode id="treeNode">  											
					<h:outputText value="#{node}" id="lblNode"/> 
				</p:treeNode>  
			</p:tree>  	
			 
		</p:dialog>
		
	</h:form>	
	
	
	</ui:define>
</ui:composition>
</html>