<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml"> 
	<ui:define name="body">

	<h:outputText value="#{msgs['opt.manage.financial.statements']}"
				  styleClass="title-page"/>
	
	<h:form id="frmSearchFinancialStatements">
	
		<table width="100%">	 
		
				<tr>
					<td align="right">
						<p:commandButton value="#{msgs['btn.new.schema.legend']}" icon="fa fa-edit"  immediate="true" 
						                 action="schemaRegister"   
						                 actionListener="#{accountingSchemaMgmtBean.registerNewSchema()}"
						                 rendered="#{userPrivilege.userAcctions.register}" 
						                 />
					</td>
				</tr>
				
				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['search.accounting.legend']}"> 
							<table width="100%" border="0"> 
								<tr> 
									<td width="150px">
										<h:outputText value="#{msgs['statements.code.name']}" />
									</td>
									<td align="left" width="45%"> 
										<p:inputText id="txtStatementsCode" 
													 value="#{accountingSchemaMgmtBean.accountingSchemaTo.schemaCode}"
													 maxlength="14">
											<p:keyFilter mask="pint" />
										</p:inputText>
									</td>  
									<td width="150px">
										<h:outputText value="#{msgs['lbl.statements.state']}" /></td>
									<td >
										<p:selectOneMenu id="serviceStatusId" style="width:200px;" value="#{accountingSchemaMgmtBean.accountingSchemaTo.status}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
												<f:selectItems value="#{accountingSchemaMgmtBean.listSchemaStatus}" var="shemaStatus"
												              itemLabel="#{shemaStatus.parameterName}" 
												              itemValue="#{shemaStatus.parameterTablePk}"/>
												<p:ajax event="change" update="@form" listener="#{accountingSchemaMgmtBean.cleanResultAccountingSchemaDataModel}"/>
										 </p:selectOneMenu>	
									</td>	
								</tr> 
								<tr> 									
									<td width="150px">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']}" /></td>
									<td >
										<p:selectOneMenu id="auxiliaryTypeId" style="width:200px;" value="#{accountingSchemaMgmtBean.accountingSchemaTo.auxiliaryType}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
												<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAuxiliaryType}" var="auxiliaryType"
												              itemLabel="#{auxiliaryType.parameterName}" 
												              itemValue="#{auxiliaryType.idAccountingParameterPk}"/>
												<p:ajax event="change" update="@form" listener="#{accountingSchemaMgmtBean.cleanResultAccountingSchemaDataModel}"/>
										 </p:selectOneMenu>	
									</td>	
									<td width="150px">
										<h:outputText value="#{msgs['lbl.statements.asociate.code']}" /></td>
									<td >
										<p:selectOneMenu id="associateCodeId" style="width:200px;" value="#{accountingSchemaMgmtBean.accountingSchemaTo.associateCode}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
												<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAssociateCode}" var="associateCode"
												              itemLabel="#{associateCode.parameterName}" 
												              itemValue="#{associateCode.idAccountingParameterPk}"/>
												<p:ajax event="change" update="@form" listener="#{accountingSchemaMgmtBean.cleanResultAccountingSchemaDataModel}"/>
										 </p:selectOneMenu>	
									</td>
								</tr> 
								<tr> 		
									<td width="150px">
										<h:outputText value="#{msgs['lbl.statements.restartType']}" /></td>
									<td >
										<p:selectOneMenu id="startTypeId" style="width:200px;" value="#{accountingSchemaMgmtBean.accountingSchemaTo.startType}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
												<f:selectItems value="#{accountingSchemaMgmtBean.listParameterRestartType}" var="associateCode"
												              itemLabel="#{associateCode.parameterName}" 
												              itemValue="#{associateCode.idAccountingParameterPk}"/>
												<p:ajax event="change" update="@form" listener="#{accountingSchemaMgmtBean.cleanResultAccountingSchemaDataModel}"/>
										 </p:selectOneMenu>	
									</td>
								</tr>
								<tr>
									<td  align="center" colspan="4">
										<p:commandButton id="cmbSearch" 
										                 value="#{msgs['btn.search']}" 
										                 icon="fa fa-search"
										                 actionListener="#{accountingSchemaMgmtBean.searchAccountingSchema}" 	        							                   
										                 update="@form" 
										                 /> 
										<p:spacer width="5" height="0"></p:spacer>                 
										<p:commandButton id="cmbClean"
										 				 value="#{msgs['btn.clean']}"
										 				 icon="fa fa-trash"
										 				 actionListener="#{accountingSchemaMgmtBean.cleanAccountingSchemaSearch}" 	 	        							 				 
										 				 update="@form" />														 
										 				 
									</td>		         	
								</tr>
								
							</table> 
						</p:fieldset>

					</td>
				</tr>
					
					
					
					<tr>
				     <td>
					     <p:outputPanel autoUpdate="true"  id="panelPrivileges">
			                  <p:outputPanel rendered="#{accountingSchemaMgmtBean.accountingSchemaDataModel.rowCount >= 1}">
							     	<arkp:privileges id="praderaPrivileges"
						       
								       actionModify="#{accountingSchemaMgmtBean.gotoModifyAccount}"
								       
								       actionListenerBlock="#{accountingSchemaMgmtBean.beforeLockAccountingSchema}"
								       
								       actionListenerUnblock="#{accountingSchemaMgmtBean.beforeUnLockAccountingSchema}"
								      
								       actionListenerCancel="#{accountingSchemaMgmtBean.beforeCancelAccountingSchema}"

								      
	
								       actions="#{userPrivilege.userAcctions}"
									   renders="#{userPrivilege.privilegeComponent}"  
							             
							       />  
					     		</p:outputPanel>
					     </p:outputPanel>          
				     </td>
				    </tr>

				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.results.statements']}" rendered="#{(accountingSchemaMgmtBean.accountingSchemaDataModel.rowCount >= 1)}">
							<p:dataTable id="dtbResult"
								var="accountingSchema" 
								value="#{accountingSchemaMgmtBean.accountingSchemaDataModel}"
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="#{msgs['dtb.current.pages.report.template']}"
								paginatorTemplate="#{msgs['dtb.paginator.template']}"
								rowsPerPageTemplate="5,10,15,50,100"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{accountingSchemaMgmtBean.accountingSchemaSelection}"
								rowKey="#{accountingSchema.idAccountingSchemaPk}"
				                >			
				                
				               	<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode" />							
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.statements.code']}" />
									</f:facet>
									<p:commandLink actionListener="#{accountingSchemaMgmtBean.accountingShemaOnConsult}"  
									  styleClass="content-center"												
									  action="schemaConsult"
									  value="#{accountingSchema.schemaCode}"  style="color:blue" >
									<f:attribute name="blockInformation" value="#{accountingSchema}"  /> 
									</p:commandLink>								
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.statements.description']}" />
									</f:facet>
									<h:outputText  value="#{accountingSchema.description}"/>
								</p:column>
 								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.statements.branch']}" />
									</f:facet>
									<h:outputText  value="#{accountingSchema.descriptionParameterBranch}"/>
								</p:column>
 								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']}" />
									</f:facet>
									<h:outputText  value="#{accountingSchema.descriptionAuxiliaryType}"/>
								</p:column>
 								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.statements.state']}" />
									</f:facet>
									<h:outputText value="#{accountingSchema.descriptionParameterStatus}" />
								</p:column>  
								  
							    <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingSchemaMgmtBean.accountingSchemaDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>	
							    
							</p:dataTable> 
					</p:fieldset> 										
 					<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accountingSchemaMgmtBean.accountingSchemaDataModel!= null and !(accountingSchemaMgmtBean.accountingSchemaDataModel.rowCount >= 1) }">
						<h:outputLabel rendered="#{accountingSchemaMgmtBean.accountingSchemaDataModel!= null and !(accountingSchemaMgmtBean.accountingSchemaDataModel.rowCount >= 1) }"
								  	   value="#{msgs['lbl.search.no.result']}" style="font-weight:bold;"/>					
					</p:fieldset>
					</td>   
				</tr>	 
		</table> 
		
	
		
	</h:form>	
	
	 
	 
	 
	 <p:outputPanel id="opnlDialogs" >	
		<h:form id="search_popups">	  
		
			<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
			    	value="#{msgs['btn.accept']}"
			    	immediate="true" process="@this"  />
			</p:confirmDialog>	
				
			
			
			<p:confirmDialog widgetVar="cnfWDialogMessageSuccess" id="cnfIdDialogMessageSuccess" message="#{bodyMessageView}"
							header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="cnfWDialogMessageSuccess.hide()" 
						    	 value="#{msgs['btn.accept']}"
						    	 immediate="true" process="@this"  />
			</p:confirmDialog>
			
		
			<p:confirmDialog widgetVar="cnfwShemaLocked" id="cnfIdShemaLocked" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwShemaLocked.hide()" update="@form,:frmSearchFinancialStatements"
								 actionListener="#{accountingSchemaMgmtBean.updateAccountingSchemaLocked}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwShemaLocked.hide()"
								 process="@this" />
			</p:confirmDialog>
			
			<p:confirmDialog widgetVar="cnfwShemaUnLocked" id="cnfIdShemaUnLocked" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwShemaUnLocked.hide()" update="@form,:frmSearchFinancialStatements"
								 actionListener="#{accountingSchemaMgmtBean.updateAccountingSchemaUnLocked}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwShemaUnLocked.hide()"
								 process="@this" />
			</p:confirmDialog> 
						
			<p:confirmDialog widgetVar="cnfwShemaCanceled" id="cnfIdShemaCanceled" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwShemaCanceled.hide()" update="@form,:frmSearchFinancialStatements"
								 actionListener="#{accountingSchemaMgmtBean.updateAccountingSchemaCanceled}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwShemaCanceled.hide()"
								 process="@this" />
			</p:confirmDialog> 
		
		
		
		</h:form>

	</p:outputPanel>
	 
	 
	 
	 
	 
	 
	 
	
	</ui:define>
</ui:composition>
</html>