<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="header">
	<h:outputScript library="js" name="accountingDragAndDrop.js" />
</ui:define>
	<ui:define name="body">


<style type="text/css">

  #frmFinancialStatementsAddAccount\3a idListOpe,#frmSearchBookAccounts\3a idListVar{
   float:left;
  }  
  
  #frmFinancialStatementsAddAccount\3a idListOpe > tbody > tr > td > ul{
  list-style-type:none;
  height:100px;
  width:400px;
  }
  
  #frmFinancialStatementsAddAccount\3a idListFormula > tbody > tr > td > ul{
  list-style-type:none;
  height:60px;
  width:600px;
  }
  
  .variableClass ul  {
  height:230px !important;
  width:300px !important;
  }
  .variableClass ul li{
  margin:1px 5px !important;
  padding:10px !important;
  }
  .operatorClass ul li{
  margin:1px 5px !important;
  padding:10px !important;
  position:relative;
  }
  .operatorClass ul li table {
  position:relative;
  left:50%;
  top:50%;
  }
  
  .formulateClass ul{
   background: Silver !important;
   margin:0px !important;
   padding:0px !important;
		height:75px !important;
		width:700px !important;
		list-style-type:none !important;
  }
  
  .formulateClass ul li{
   float:left !important;
   margin:10px 5px !important;
   padding:10px !important;
   }
   .formulateClass ul li span{
   
   
   }
   
   .formulateClass .ui-orderlist-controls{
	position:absolute;
	top:130px;
	right:250px;
	}

	.formulateClass{
	position:relative;
	}


	.formulateClass .ui-orderlist-controls button{
	float:left; 
	}

	.formulateClass .ui-orderlist-controls {
		position: absolute;
		top: 106px;
		right: 250px;
	}
	.removeFormulateClass{
		padding:20px;
	}



 </style>
 
		
  

	<h:outputText value="#{msgs['opt.modify.accout.on.schema.title']}"
				  styleClass="title-page"/>
	
	<h:form id="frmFinancialStatementsAddAccount" prependId="false">  
  
	 
		<table width="100%">
		
			<tr>
				<td>
					<p:fieldset legend="#{msgs['serviceData.legend']}">
						<table width="100%"  id="flsRateID" border="0">							
							<tr>
								<td><h:outputText value="#{msgs['lbl.statements.code']}" /></td>
								<td >  
									<h:panelGrid columns="2"> 
										<p:inputText id="txtStatementsCode"  disabled="true"
													 value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.schemaCode}"
													 label="#{msgs['lbl.statements.code']}" 
													 maxlength="10">
										 </p:inputText>
									</h:panelGrid>									
								</td>
								
								<td><h:outputText value="#{msgs['lbl.statements.state']}" /></td>
								<td align="left" colspan="3"> 									
									<p:inputText id="txtStatementsState"  
												 	 value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.descriptionParameterStatus}"
												     disabled="true" >
									</p:inputText>	
								</td> 
							</tr>
							 
						
							<tr>
								<td width="18%"><h:outputText value="#{msgs['daily.auxiliary.lbl.type']}"/></td>
								<td width="35%">
									<h:panelGrid columns="2"> 		
											<p:selectOneMenu id="cmbDailyAuxiliaryhId" style="width:250px;" disabled="true"  									
														     value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.auxiliaryType}" 
														 					>  
												<f:selectItems value="#{accountingSchemaMgmtBean.listParameterAuxiliaryType}"
												 			   var="parameterList"
												               itemLabel="#{parameterList.nameWithDescription}" 
												               itemValue="#{parameterList.idAccountingParameterPk}" /> 
											</p:selectOneMenu>  
							    </h:panelGrid>	 		              
								</td>
								<td width="18%"><h:outputText value="#{msgs['statementse.lbl.branch']}"/></td>
								<td width="35%">
									<p:selectOneMenu id="cmbBranchId" style="width:400px;" disabled="true"
													     value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.branchType}" 
													     label="#{msgs['statementse.lbl.branch']}">  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingSchemaMgmtBean.listParameterBranch}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.nameWithDescription}" 
											               itemValue="#{parameterList.idAccountingParameterPk}" />
									</p:selectOneMenu>  
								</td>
							</tr>		
							
							<tr>
								<td><h:outputText value="#{msgs['statementse.lbl.register.date']}" /></td>
								<td >						 										
									<p:inputText value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.registerDate}"  
												 disabled="true" > 
										<f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>										
									</p:inputText>	
								</td>
								
								<td width="18%"><h:outputText value="#{msgs['statementse.lbl.register.user']}" /></td>
								<td width="35%">								
									<p:inputText id="txtRegisterUser" 
												 value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.registerUser}"
												 disabled="true" >
									</p:inputText>					              
								</td>
							</tr>
								
							<tr>
								<td><h:outputText value="#{msgs['statementse.lbl.modify.date']}" /></td>
								<td > 
									<p:inputText id="txtModifyD" 
												 value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.modifyDate}"
												 disabled="true" >
									<f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>												
									</p:inputText>		 
								</td>
								
								<td width="18%"><h:outputText value="#{msgs['statementse.lbl.modify.user']}" /></td>
								<td width="35%">								
									<p:inputText id="txtModifyUser" 
												 value="#{accountingSchemaMgmtBean.accountingMatrixTo.accountingSchemaTo.modifyUser}"
												 disabled="true" > 
									</p:inputText>				              
								</td>
							</tr>		 
						</table>	
					</p:fieldset>
					
	<!--  ADD ACOUNT -->
	
					<p:fieldset legend="#{msgs['lbl.add.account']}" id="idAddAccount">
						<table width="100%"  id="flsRateID" border="0">							
						 
					 
		 
								
							<tr>
								<td colspan="3">
								<p:outputPanel id="dtbResult">
										<p:dataTable  
											var="matrixDetail" 
											value="#{accountingSchemaMgmtBean.accountingMatrixDetailDataModel}"
											paginator="true" rows="10" 
											paginatorPosition="top"
											currentPageReportTemplate="#{msgs['dtb.current.pages.report.template']}"
											paginatorTemplate="#{msgs['dtb.paginator.template']}"	
											rowsPerPageTemplate="5,10,15"	
											rowIndexVar="rIndx"
											rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
 
											rowKey="#{matrixDetail.idAccountingMatrixDetailPk}"
							                >			
								
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.code']}" />
												</f:facet>
												<h:outputText  value="#{matrixDetail.accountingAccountTo.accountCode}" />
												 
												 <p:commandLink styleClass="icon"  process="@this"
															   actionListener="#{accountingSchemaMgmtBean.consultAccountTree}"
									   						   global="false"
									   						   update=":formMemory:cnfIdConsultTemp"
															     >
													<f:attribute name="blockInformation" value="#{matrixDetail}"  /> 		     
												<p:graphicImage id="imgHelp" library="img" name="icons/help.png"  />                
												</p:commandLink>
																									 
											</p:column>
			 								<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.book.account.nature']}" />
												</f:facet>
												<h:outputText value="#{matrixDetail.descriptionDynamicType}" />
											</p:column>
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.ledger.description']}" />
												</f:facet>
												<h:outputText value="#{matrixDetail.accountingAccountTo.description}" />
											</p:column>
			<!-- FORMULATE M -->		
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.account.formulate']}" />
									</f:facet>
									<p:commandButton id="cmbtFormulateId"  icon="ui-approve"  
									    	actionListener="#{accountingSchemaMgmtBean.beforeViewFormulateCompomentOnModify}"
									    	oncomplete="initDND();"															 						 
									   		update=":frmFinancialStatementsAddAccount:cnfWIdConfirmCancelSource , :formMemory:idDialogFormulate" 	global="false" 
											disabled="#{matrixDetail.state == accountingSchemaMgmtBean.matrixDetailIsDeleted}" >  		 
						      			<f:attribute name="toFormulate" value="#{matrixDetail}"/> 
						      		</p:commandButton>						      		
								</p:column>
						<!-- SOURCE M -->	
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.account.source']}" />
												</f:facet>
												<p:commandButton id="cmbtSourseId"  icon="ui-approve"  global="false"
																 action="#{accountingSchemaMgmtBean.goToSourceFromMatrixModify}"
																 update="@form"
 																 actionListener="#{accountingSchemaMgmtBean.modifyFileXML}" 
																 disabled="#{matrixDetail.state == accountingSchemaMgmtBean.matrixDetailIsDeleted}"
																>  		 
												<f:attribute name="toSource" value="#{matrixDetail}"/> 
												</p:commandButton>	
											</p:column> 
								<!-- DELETE M -->			 					
								 			<p:column style="text-align:center">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.remove.temp']}" />
												</f:facet> 
								      			<p:commandButton id="staggBackId"  icon="ui-remove"	
													disabled="#{matrixDetail.state == accountingSchemaMgmtBean.matrixDetailIsDeleted}"
												    actionListener="#{accountingSchemaMgmtBean.beforeDeleteAccountingAccountOnMatrix}"
												    update="@form" process="@this"		
												    >  		 
									      			<f:attribute name="removeName" value="#{matrixDetail}"/> 
									      		</p:commandButton>
									      	</p:column> 
									      		  
											 
											<f:facet name="footer">	
												<div style="width:100%; text-align:left" id="idDivRowCount" >								
												<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingSchemaMgmtBean.accountingMatrixDetailDataModel.rowCount}" 
																style="font-weight:bold;"/>
												</div>
											</f:facet>	
												 
										</p:dataTable> 
								</p:outputPanel>	
											
								
								</td>
							</tr> 		
						
							<tr>
        						<td  align="center" colspan="5"> 
        						   
        						 	<p:commandButton id="cmbSave"  value="#{msgs['btn.save']}"  icon="fa fa-save" 
													 update="@form" 
	        							             actionListener="#{accountingSchemaMgmtBean.beforeModifyAccountingAccounts}"
	        							             /> 
	        							              
        						    <p:spacer width="5" height="0"></p:spacer>		      						
        							
        							<p:commandButton id="cmbBack" value="#{msgs['btn.back']}" icon="fa fa-undo"										
													 process="@this" update="@form"
										 			 action="#{accountingSchemaMgmtBean.modifyAccountBackToSearch}"
												     />		 					
								</td>								
							</tr>
							
							
 
							
						</table>	
					</p:fieldset>
					</td>
				 </tr>	 
			</table>
			
		 
	
		<p:confirmDialog widgetVar="cnfWConfirmModifyMatrixDetail" id="cnfWIdConfirmModifyMatrixDetail" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="@form"
							 oncomplete="cnfWConfirmModifyMatrixDetail.hide(), cnIdFlagAddFormulate.hide()"
				             actionListener="#{accountingSchemaMgmtBean.modifyMatrixDetailOnAccount}"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmModifyMatrixDetail.hide()" 
						     process="@this" />
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWConfirmCancelSource" id="cnfWIdConfirmCancelSource" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="@form, :formMemory:idDialogFormulate" process="@form"
							 oncomplete="cnfWConfirmCancelSource.hide(); initDND();"
				             actionListener="#{accountingSchemaMgmtBean.viewFormulateCompomentOnModify}"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCancelSource.hide()" 
						     process="@this" />
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWSuccessDialogModify" id="cnfIdConfirmDialogModify" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="cnfWSuccessDialogModify.hide()" 
			 				 value="#{msgs['btn.accept']}"
			 				 actionListener="#{accountingSchemaMgmtBean.clearAfterModifyMatrix}"
			 				 action="schemaSearch"
					    	 immediate="true" process="@this"  />
		</p:confirmDialog>	
		 
		<p:confirmDialog widgetVar="cnfWConfirmCleanBack" id="cnfIdCleanBack" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanBack.hide()" update="@form"
				             actionListener="#{accountingSchemaMgmtBean.cleanToBackAddAccountingMatrix}"
				             action="schemaSearch" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanBack.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWConfirmBackModify" id="cnfIdConfirmBackModify" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmBackModify.hide()" update="@form"
				             action="schemaSearch" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmBackModify.hide()" 
						     process="@this" />
		</p:confirmDialog>
		
		
		<p:confirmDialog widgetVar="cnfWConfirmClean" id="cnfIdClean" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true">
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmClean.hide()" update="@form, dtbResult"
				             actionListener="#{accountingSchemaMgmtBean.cleanAddAccountingMatrix}" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmClean.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
			 
		<p:confirmDialog widgetVar="cnfWSuccessDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWSuccessDialog').hide()" 
			 				 value="#{msgs['btn.accept']}"
					    	 action="schemaSearch" immediate="true" process="@this"  />
		</p:confirmDialog>		
	
		<p:confirmDialog widgetVar="cnfWAlertModifyDialog" id="cnfIdAlertModifyDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertModifyDialog.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWConfirmDeleteMatrixDetail" id="cnfWIdConfirmDeleteMatrixDetail" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="@form"
							 oncomplete="cnfWConfirmDeleteMatrixDetail.hide(), cnIdFlagAddFormulate.hide()"
				             actionListener="#{accountingSchemaMgmtBean.deleteAccountingAccountOnMatrix}"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmDeleteMatrixDetail.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWConfirmDeleteSource" id="cnfWIdConfirmDeleteSource" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="@form"
							 oncomplete="cnfWConfirmDeleteSource.hide()"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmDeleteSource.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
	</h:form>
	 
	 
	 <h:form id="formMemory">      
		<p:dialog 	header="#{msgs['generate.accounting.formula']}"
					widgetVar="cnIdFlagAddFormulate" id="idDialogFormulate" 
					modal="true" 
					width="70%"	closable="false"	> 
		<p:fieldset legend="#{msgs['lbl.writing.formula']}" width="100%">
		<p:outputPanel id="outIdFormulate" width="100%"  >
		
		<h:inputHidden id="variableHiddenName" value="#{accountingSchemaMgmtBean.variableHiddenName}" />
		<h:inputHidden id="variableHiddenCode" value="#{accountingSchemaMgmtBean.variableHiddenCode}" />
		<h:inputHidden id="variableHiddenIndex" value="#{accountingSchemaMgmtBean.variableHiddenIndex}" />
		<p:remoteCommand name="updateColumns" actionListener="#{accountingSchemaMgmtBean.onColumnDrop}"  oncomplete="initDND()"/>
		
		<p:remoteCommand name="reOrder" actionListener="#{accountingSchemaMgmtBean.sortIndexes}"  oncomplete="initDND()"/>
					 
					 
			

		 
			<table width="60%" border="0" align="center">
				<tr>
					<td>
					    <p:orderList id="idListVar" rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.listVariable}" 
					    styleClass="variableClass"  var="formulaSource" converter="parameterConverter"
						controlsLocation="left"  itemLabel="#{formulaSource}" itemValue="#{formulaSource.parameterName}" effect="" >  
				  
						<f:facet name="caption"><h:outputText value="#{msgs['lbl.variables']}" /></f:facet>
				  
				         <p:column style="width:95%;">  
				            <h:outputText id="nameSourceVar#{rIndx+1}" value="#{formulaSource.parameterName}" escape="false"  /> 
							<h:outputText id="idHiddenVar#{rIndx+1}" value="#{formulaSource.idAccountingParameterPk}" style="display:none" />
				        </p:column>  
						</p:orderList>  
					</td>
					
					<td style="padding-bottom:30px">
					
					<p:orderList id="idListOpe" rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.listOperator}" 
					styleClass="operatorClass"  var="formulaTarget" converter="parameterConverter"
					controlsLocation="left"  itemLabel="#{formulaTarget}" itemValue="#{formulaTarget.parameterName}"  >  
			  
					<f:facet name="caption"><h:outputText value="#{msgs['lbl.operators']}" /></f:facet>
			  
			        <p:column style="width:95%; "> 
			            <h:outputText id="nameSourceOpe#{rIndx+1}" value="#{formulaTarget.parameterName}" escape="false" />
						<h:outputText id="idHiddenOpe#{rIndx+1}" value="#{formulaTarget.idAccountingParameterPk}" style="display:none" />
			        </p:column>  
					</p:orderList>	
					
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="2"> 
					<p:outputPanel>
							<p:orderList id="idListFormula"  styleClass="formulateClass" converter="parameterConverter"
							rowIndexVar="rIndx" value="#{accountingSchemaMgmtBean.formulaFinal}" var="formulaFinal" 
							controlsLocation="left"  itemValue="#{formulaFinal}"   >  
					  
							<f:facet name="caption"><h:outputText value="#{msgs['lbl.formulate.account.ledger']}" /></f:facet>
					  
					         <p:column style="width:95%;">  
					            <h:outputText id="nameFormulate#{rIndx+1}" value="#{formulaFinal.parameterName}" escape="false" />
								 <h:outputText id="codeFormulate#{rIndx+1}" value="#{formulaFinal.idAccountingParameterPk}" escape="false" style="display:none" />
								 <h:outputText id="indexFormulate#{rIndx+1}" value="#{formulaFinal.index}" escape="false" style="display:none" />
					           	
					        </p:column>  
							</p:orderList>   
					</p:outputPanel>	
					
					
											
					</td> 
					<td><p:graphicImage id="idImageRemove" styleClass="removeFormulateClass" library="img" name="emptyA.png" />							
								</td>
				<td> 
								
													
							<p:remoteCommand name="addFormulate"  partialSubmit="true" update="idListFormula, btnIdAccept"
											oncomplete="updateColumns()" 
												actionListener="#{accountingSchemaMgmtBean.addFromFormulate}"
												global="false" >
							</p:remoteCommand>
							
							<p:remoteCommand name="callRemove"  partialSubmit="true" update="idListFormula, btnIdAccept"
											oncomplete="updateColumns()"
												actionListener="#{accountingSchemaMgmtBean.removeFromFormulate}"
												global="false" >
							</p:remoteCommand>
							</td> 	
						
					 					
				</tr>
				
				<tr>
					 <td  align="center" height="33px" colspan="2" width="100%">
					 </td>
				</tr>
				
				 	<tr>  
						 <td align="center"  style="padding-left:104px" colspan="2"> 
	        					   <p:commandButton value="#{msgs['btn.verify']}"  
												   icon="ui-edit" 
												   update="idListFormula, cnfIdValidate, btnIdAccept" process="@this" 
												   actionListener="#{accountingSchemaMgmtBean.validateFormulate}"
												   oncomplete="initDND();"
								      			/>	 
								  <p:spacer width="5" height="0"></p:spacer>	
        						  <p:commandButton value="#{msgs['btn.accept']}"  id="btnIdAccept"
												   disabled="#{!(accountingSchemaMgmtBean.acceptFormulate)}"
												   actionListener="#{accountingSchemaMgmtBean.addFormulateToMatrixDetailModify}"
												   oncomplete="cnIdFlagAddFormulate.hide()"
											       icon="ui-approve" 
							      				 />
								   <p:spacer width="5" height="0"></p:spacer>	 
								  <p:commandButton value="#{msgs['btn.clean']}"  id="btnIdClean"
								  				   update="idListFormula btnIdAccept"
												   actionListener="#{accountingSchemaMgmtBean.cleanFormulateModify}"												   
											       icon="fa fa-trash" 
											       oncomplete="initDND();"
							      				 />
				      				<p:spacer width="5" height="0"></p:spacer>	
				      			  <p:commandButton value="#{msgs['btn.back']}"  
								  				 icon="fa fa-undo" process="@this" 
								   				 actionListener="#{accountingSchemaMgmtBean.closeModalFormulate}"
								   				 oncomplete="initDND();"
				      				 />
						 </td>
				 	</tr>
				 </table>
		</p:outputPanel>
		</p:fieldset>
		</p:dialog> 


 

		
		<p:confirmDialog widgetVar="cnfWValidate" id="cnfIdValidate" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert" 
						 update="idListFormula"> 
		<p:commandButton onclick="cnfWValidate.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
		
		
		<p:confirmDialog widgetVar="cnfWAlertValidate" id="cnfIdAlertValidate" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert" 
						 update="idListFormula"> 
		<p:commandButton onclick="cnfWAlertValidate.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		
		
		<p:confirmDialog widgetVar="cnfWAlertCancel" id="cnfIdAlertCancel" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertCancel.hide()" update="@form"
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
				
		<p:confirmDialog widgetVar="cnfWAlertCancelFormulate" id="cnfIdAlertCancelFormulate" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" update="idListFormula,  formMemory"
							 oncomplete="cnfWAlertCancelFormulate.hide(); cnIdFlagAddFormulate.hide(); initDND();"
				             actionListener="#{accountingSchemaMgmtBean.cancelFormulate}"
											 />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWAlertCancelFormulate.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:dialog  widgetVar="cnfWConsultTemp" id="cnfIdConsultTemp" message="#{bodyMessageView}" header="#{msgs['lbl.account.tree.detail']}" position="left">
			<p:tree value="#{accountingSchemaMgmtBean.root}" var="node" id="tree">  
				<p:treeNode id="treeNode">  											
					<h:outputText value="#{node}" id="lblNode"/> 
				</p:treeNode>  
			</p:tree>  	
			 
		</p:dialog>
		
	</h:form>	
		 
	
	</ui:define>
</ui:composition>
</html>