<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script>
			function redirect(url){
				document.location = "#{facesContext.externalContext.requestContextPath}" + url;
			}

		    $(window).load(function(){
		     setInitialFormState('#participantUnificationForm');
		    });

		    $(window).load(function(){
				setAllHolidays('${participantUnificationBean.allHolidays}');
			});
		</script>
		<h:outputText value="#{msgs['lbl.participant.unification.register.title']}" styleClass="title-page" />

		<h:form id="participantUnificationForm">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.register']}"> 
							<table width="100%">
								<tr>
									<td width="200"><h:outputText value="#{msgs['lbl.participant.origin']} (*)" styleClass="required-field"/></td>
									<td>
										<h:panelGrid columns="2" id="pnlSourcePart">
										<p:selectOneMenu id="participantOrigList" label="#{msgs['lbl.participant.origin']}" disabled="#{participantUnificationBean.participant}"
													     style="width:460px" value="#{participantUnificationBean.sourceParticipant.idParticipantPk}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems value="#{participantUnificationBean.participantList}"
												var="participant" itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
											<p:ajax process="@this" event="change"  listener="#{participantUnificationBean.onChangeSourceParticipant()}" 
												update="participantUnificationForm:pnlSourcePart participantUnificationForm:pnlTargetPart errorDialog" />
										</p:selectOneMenu>
										<p:message for="participantOrigList" id="msgParticipantOrigList" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.participant.destination']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" id="pnlTargetPart">
										<p:selectOneMenu id="participantDestList" label="#{msgs['lbl.participant.destination']}"
												style="width:460px" value="#{participantUnificationBean.targetParticipant.idParticipantPk}">														
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems value="#{participantUnificationBean.participantList}"
												var="participant" itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
											<p:ajax process="@this" event="change" listener="#{participantUnificationBean.onChangeTargetParticipant()}" 
												update="participantUnificationForm:pnlSourcePart participantUnificationForm:pnlTargetPart errorDialog"  />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
										</p:selectOneMenu>
										<p:message for="participantDestList" id="msgParticipantDestList" display="icon" />
										</h:panelGrid>
									</td>									
									
								</tr>
								<tr> 
									<td>
										<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field"/>
									</td>
									<td>	
										<h:panelGrid columns="2" id="pnlMotive">
										<p:selectOneMenu id="motiveDropdown" style="width:260px"  label="#{msgs['lbl.motive']}"
														 value="#{participantUnificationBean.participantUnionOperationSession.motive}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems value="#{participantUnificationBean.unificationMotivesList}"  
												var="motive" itemLabel="#{motive.parameterName}"
												itemValue="#{motive.parameterTablePk}" />
												<p:ajax process="@this" event="change" update="motiveDropdown msgMotive" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
										</p:selectOneMenu>
										<p:message for="motiveDropdown" id="msgMotive" display="icon" />
										</h:panelGrid>
									</td>
									
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.reversal.search.detail.unblock.registryDate']}"/>																																								
									</td>				
									<td>
										<p:calendar readonlyInput="true" showOn="button" pattern="#{cons['date.pattern']}" 
													maxdate="#{participantUnificationBean.nowTime}"
													disabled="true"
													navigator="true"
													size="10"
													value="#{participantUnificationBean.nowTime}">															
										</p:calendar> 
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.observations']}" /></td>
									<td>
										<p:inputTextarea maxlength="200" minQueryLength="200" rows="5" cols="40" autoResize="false"  value="#{participantUnificationBean.participantUnionOperationSession.observations}">
										</p:inputTextarea>
									</td>
								</tr>
								
								<tr> 
									<td>
										<h:outputText value="#{msgs['lbl.participant.unification.file.type']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2" id="pnlFileType">
											<p:selectOneMenu id="fileType" required="true" requiredMessage="#{msgs['error.participant.unification.file.type']}" 
														     style="width:360px" value="#{participantUnificationBean.fileTypeParam}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
												<f:selectItems value="#{participantUnificationBean.fileTypeList}"  
													var="fileType" itemLabel="#{fileType.parameterName}"
													itemValue="#{fileType.parameterTablePk}" />
													<p:ajax process="@this" event="change" update="participantUnificationForm:fileType participantUnificationForm:opnlFuplIssuCert participantUnificationForm:labelFileUpload msgFileType" />
													<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message for="fileType" id="msgFileType" display="icon" />
										</h:panelGrid>
										
									</td>	
								</tr>
								<p:outputPanel id="fileUploadContainer" >
								<tr>
									<td>
										<p:outputPanel id="labelFileUpload">
										<h:outputText value="#{msgs['lbl.participant.unification.documents']} (*)"  
													  styleClass="required-field"/>
										</p:outputPanel>
									</td>
									<td>
									
										<p:outputPanel id="opnlFuplIssuCert" styleClass="fileupload-customize" layout="block">	
										<h:panelGrid columns="3">												
							          	<p:fileUpload id="fuplCertificateIssuance"
									 	    widgetVar="fuplwCertificateIssuance" 
								  			label="#{msgs['fupl.label']}"									  			
								  			fileUploadListener="#{participantUnificationBean.uploadSustentFiles}"
										  	mode="advanced" auto="true"  	 
										  	update="participantUnificationForm:opnlResultFileSustent, :frmDialogs"
										  	allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx)$/"	
		  									sizeLimit="#{participantUnificationBean.fUploadFileDocumentsSize}"										  	
										  	invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
										  	invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}">		
										</p:fileUpload>
										<script type="text/javascript">									
											$(document).ready(function(){
												fileuploadValidate('fuplCertificateIssuance');	
											});		
										  
											function start() {  
											    PF('statusDialog').show();  
											}  
											  
											function stop() {  
											    PF('statusDialog').hide();  
											}  
								        
										</script>
										<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
										<p:tooltip for="imgLimit">
											<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
												<f:param value="#{participantUnificationBean.fUploadFileSizeDocumentsDisplay}"/>
												<f:param value="#{participantUnificationBean.fUploadFileTypesDocumentsDisplay}"/>										
											</h:outputFormat>
										</p:tooltip>
										</h:panelGrid>																		
									</p:outputPanel>
									    								   
									</td>
									<td style="float: left;margin-left: 95px;margin-top: 3px;">
										<p:message for="fuplCertificateIssuance" id="fuplCertificateIssuanceMessage" display="icon" />	
									</td>
								</tr>
								</p:outputPanel>
								<tr>
									<td height="10px" colspan="2">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p:outputPanel id="opnlResultFileSustent">
											<p:dataTable value="#{participantUnificationBean.lstParticipantUnionFiles}" style="width:80%;"
														 id="dtbfilesSustent" var="fileSust" rows="10"  
														 rendered="#{not empty participantUnificationBean.lstParticipantUnionFiles}">
												<p:column styleClass="content-center" width="20">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.participant.unification.file.number']}" styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{fileSust.index}" />
												</p:column>
												<p:column styleClass="content-left">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.participant.unification.file.type']}" styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{fileSust.fileTypeDescription}" />
												</p:column>
												<p:column styleClass="content-left">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.participant.unification.head.filename']}" styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{fileSust.filename}" />
												</p:column>
												<p:column styleClass="content-left">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.participant.unification.head.filesize']}" styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{fileSust.fileSize} KB" />
												</p:column>
												<p:column styleClass="content-left">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.participant.unification.head.filesType']}" styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{fileSust.fileDocumentType}" />
												</p:column>
												<p:column layout="custom" styleClass="content-center" width="20px">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.view']}" />
													</f:facet>													
													<p:commandLink process="@this" immediate="true" ajax="false" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
														 <p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
														 <p:fileDownload value="#{participantUnificationBean.getStreamedContentFromFile(fileSust.file,null,fileSust.filename)}" />
													</p:commandLink>
												</p:column>
												<p:column layout="custom" styleClass="content-center" width="20px">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['btn.delete']}" />
													</f:facet>
													<p:commandLink process="@this" actionListener="#{participantUnificationBean.removeFileSustent(fileSust)}"
																update=":participantUnificationForm:opnlResultFileSustent">
														<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
													</p:commandLink>
												</p:column>
											</p:dataTable>
										</p:outputPanel>
									</td>
									</tr>
								<tr>
									<td align="center" colspan="2">
									 
										<p:commandButton value="#{gmsgs['btn.save']}" update="@form"  
														 icon="fa fa-save" actionListener="#{participantUnificationBean.beforeSave()}"/>
														 
										<p:commandButton value="#{gmsgs['btn.clean']}" update="@form" process="@this" immediate="true"    
														 onclick="return showCleanConfirmDialog(this);"		
							 	 					 	 oncomplete="PF('cnfwClean').hide()"
														 icon="fa fa-trash" 
														 actionListener="#{participantUnificationBean.cleanRegister()}"/>
									
										<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo"
										               onclick="if(isModifiedFormForBack(this))return false;"
										               action="participantUnificationSearch" immediate="true"
										               actionListener="#{participantUnificationBean.backToSearchPageHandler()}"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
						</td>
				</tr>
				<p:confirmDialog header="#{msgs['header.message.alert']}" id="cnfBack" message="#{msgs['msg.back']}" severity="alert" widgetVar="cnfwBack" closable="false">  
			      <h:form id="frmRegresar">
			       <p:commandButton id="cmbSi" value="#{gmsgs['btn.yes']}" ajax="false" immediate="true" process="@this" 
			       					action="#{participantUnificationBean.goTo('participantUnificationSearch')}" 
			       					actionListener="#{participantUnificationBean.backToSearchPageHandler()}"/>
			      
			       <p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" onclick="PF('cnfwBack').hide()" type="button"/>
			      </h:form>                   
		     </p:confirmDialog>
			</table>
			
			<p:confirmDialog id="errorDialog" 	closable="false"				    		
							 message="#{bodyMessageView}" 
				 			 header="#{msgs['header.message.alert']}"
							 severity="alert" widgetVar="errorDialog">  							       
		        <p:commandButton id="errorDialogAcceptButton"
		        				 value="#{gmsgs['btn.accept']}" type="button"
		        				 onclick="PF('errorDialog').hide();">
		        </p:commandButton>                    
		    </p:confirmDialog>
		    <p:confirmDialog widgetVar="idConfirmDialog" header="#{msgs['header.message.register']}" message="#{msgs['message.participant.unification.sure.to.save']}" closable="false">
				<p:commandButton value="#{gmsgs['btn.yes']}" update="@form" actionListener="#{participantUnificationBean.registerParticipationUnion()}"></p:commandButton>
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('idConfirmDialog').hide();"></p:commandButton>
			</p:confirmDialog>
			<p:confirmDialog widgetVar="idDialogMensaje" closable="false" header="#{msgs['header.message.success']}" 
							 message="#{msgs['message.participant.unification.save.success']} #{participantUnificationBean.participantUnionOperationSession.custodyOperation.operationNumber}">
				<p:commandButton value="#{gmsgs['btn.accept']}" action="#{participantUnificationBean.goTo('participantUnificationSearch')}" actionListener="#{participantUnificationBean.clearActions()}"></p:commandButton>
			</p:confirmDialog>
		</h:form>
		
		<h:form id="frmDialogs">
		
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	       	<h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center;">         
		        <p:commandButton id="btnalterValidation" value="#{gmsgs['btn.accept']}" 
		         				 process="@this" immediate="true" 
			        			 oncomplete="PF('alterValidationWidget').hide()" > 
	        	</p:commandButton>   
	        </h:panelGrid>	                 
	    	</p:confirmDialog> 
	    
		</h:form>
		
	</ui:define>
</ui:composition>
</html>