<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/defaultSecurity.xhtml">

	<ui:define name="body">
		<style type="text/css">
			.data-list-delete-items .ui-datalist-content{
				border:none !important;
			}
		</style>
	
	<f:metadata>
       <f:event type="preRenderView" listener="#{optionUserExceptionMgmtBean.init}"/>
    </f:metadata> 
    
    <h:outputText value="#{msgs['adm.exception.user.title']}" styleClass="title-page" id="idOtxtUsrOptionExcepTitle"/>
		<h:form id="frmGeneral">
			<div class="buttons-top-right">
				<p:defaultCommand target="search" id="idDftCmdSearch" /> 
				<p:commandButton value="#{msgs['btn.register']}" id="idCmdBtnRegister"
				 process="@this" immediate="true" icon="fa fa-edit" rendered="#{userPrivilege.userAcctions.register}"
				 actionListener="#{optionUserExceptionMgmtBean.loadingUserExceptionRegister}"
				 action="goToUserOptionExceptionRegister"/>
			</div>
			<table width="100%" align="center">
				<tr>
					<td>
						<p:outputPanel id="idPanelFilter">
					   		<p:fieldset id="pnlPrincipal" legend="#{msgs['lbl.criteria.search']}" toggleable="false">
								<table width="100%" border="0">
								   <tr>
								   		<td width="150px">    
								           <h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUsrOptionExcepUsrType"/>
									     </td>
									     <td>
									     	<p:selectOneMenu style="width:150px"									                      
															id="clientTypeSelect"
															value="#{optionUserExceptionMgmtBean.userExceptionFilter.userExceptionSelectedType}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1"  id="idCboItemUsrOptionExcepUsrType"/>
															<f:selectItems id="idCboItemsUsrOptionExcepUsrType"
																value="#{optionUserExceptionMgmtBean.lstClientType}"
																var="clientType" itemLabel="#{clientType.name}"
																itemValue="#{clientType.idParameterPk}" />
															<p:ajax event="change" process="@this"
																update="pnlPrincipal"
																listener="#{optionUserExceptionMgmtBean.evaluateUserType}" />
											</p:selectOneMenu>									
										 </td>
										 <td width="150px">
										   		<h:outputText value="#{msgs['adm.exception.user.institutions']}" id="idOtxtUsrOptionExcepInstitutions"/>
									   	</td>
									   	<td>
									   		<p:selectOneMenu id="idcmbInstitutions"
											style="width:150px"
											value="#{optionUserExceptionMgmtBean.userExceptionFilter.institutionSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUsrOptionExcepInstitutions"/>
											<f:selectItems	 id="idCboItemsUsrOptionExcepInstitutions"
											       value="#{optionUserExceptionMgmtBean.lstInstitutions}"
												   var="it" itemLabel="#{it.institutionName}"
												   itemValue="#{it.idInstitutionSecurityPk}" />
											</p:selectOneMenu>
										</td>
										<td width="150px">									    									    
								     		<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUsrOptionExcepCode"/>
								     	</td>
								    	<td>
								    		<p:inputText id="idTxtCodeUser" styleClass="campo-texto-corto"   autocomplete="off"
								    		value="#{optionUserExceptionMgmtBean.userExceptionFilter.usuLogin}">
								     			<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
								    		</p:inputText>
								   		</td>
									 </tr>
									 <tr>
									 	<td width="150px">									    
									    	<h:outputText value="#{msgs['adm.exception.user.state.exception']} (*)" styleClass="required-field"  id="idOtxtUsrOptionExcepState"/>
									    </td>
									    <td>
										    <h:panelGrid columns="2">
										    	<p:selectOneMenu id="cmbState" label="#{msgs['adm.exception.user.state.exception']}" style="width:150px" value="#{optionUserExceptionMgmtBean.userExceptionFilter.userExceptionStateSelected}">
											    	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUsrOptionExcepState"/>
						        					<f:selectItems id="idCboItemsUsrOptionExcepState" var="state" value="#{optionUserExceptionMgmtBean.listUserExceptionState}" itemLabel="#{state.value}" itemValue="#{state.code}" />
						        					<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SearchOneMenuValidator" />						
												</p:selectOneMenu>
												<p:message id="messageState" for="cmbState" display="icon" />
										    </h:panelGrid>
									    	
										</td>
										<td width="150px">
									   
									   		<h:outputText value="#{msgs['adm.exception.user.date.start']} (*)" styleClass="required-field"  id="idOtxtUsrOptionExcepStartDate"/>
									   	</td>
									   	<td>
									   		<h:panelGrid columns="2">
										   		<p:calendar label="#{msgs['adm.exception.user.date.start']}"  value="#{optionUserExceptionMgmtBean.userExceptionFilter.initialDate}" 
												    pattern="#{msgs.dateFormat}" readonlyInput="true" id="popupCalInitial" showOn="button" navigator="true">
												    <p:ajax event="dateSelect" update="popupCalEnd" process="@this" />
										    	</p:calendar>
										    	<p:message id="messageCalInitial" for="popupCalInitial" display="icon" />
									   		</h:panelGrid>
									    	  
									   	</td>
									   	<td width="150px">									   
									   		<h:outputText value="#{msgs['adm.exception.user.date.end']} (*)" styleClass="required-field" id="idOtxtUsrOptionExcepEndDate"/>
									   	</td>
									   	<td>
								    		<h:panelGrid columns="2">
									    		<p:calendar label="#{msgs['adm.exception.user.date.end']}" readonlyInput="true"  value="#{optionUserExceptionMgmtBean.userExceptionFilter.finalDate}" 
										    		pattern="#{msgs.dateFormat}"  id="popupCalEnd" showOn="button" mindate="#{optionUserExceptionMgmtBean.userExceptionFilter.initialDate}" navigator="true">
										    	</p:calendar>  
										    	<p:message id="messageCalEnd" for="popupCalEnd" display="icon" />
								    		</h:panelGrid>
									    	
									   	</td>
									 </tr>
									 <tr>
										  <td align="center" colspan="6">								  
										   <p:commandButton		id="search" value="#{msgs['btn.search']}" rendered="#{userPrivilege.userAcctions.search}"
																action="#{optionUserExceptionMgmtBean.searchUserExceptions}" icon="fa fa-search"
																update="outPanelResult idPanelFilter panelPrivileges :opnlGenericDialogs" 
																onclick="wDtbResult.getPaginator().setPage(0);"/> 
										    <p:spacer width="5"></p:spacer> 
										    <p:commandButton update="outPanelResult,idPanelFilter" process="@this" actionListener="#{optionUserExceptionMgmtBean.clean}" icon="fa fa-trash"
																value="#{msgs['btn.clear']}" id="idCmdBtnUsrOptionExcepClear">
															<p:resetInput target="idPanelFilter"></p:resetInput>
											</p:commandButton>														
											</td>
									</tr>				    
						    </table>	
							</p:fieldset>
						 </p:outputPanel>
					</td>
				</tr>
				<tr>					
					<td>
					<p:outputPanel autoUpdate="true"  id="panelPrivileges">
					<p:outputPanel rendered="#{optionUserExceptionMgmtBean.showPanelOptionsComponent and (optionUserExceptionMgmtBean.exceptionUserDataModel.rowCount >= 1)}" id="idOPnlPrivileges">
					<ark:privileges id="idArkPrivileges"
									 actionListenerUnblock="#{optionUserExceptionMgmtBean.beforeOnUnblock}"
									 actionListenerDelete="#{optionUserExceptionMgmtBean.beforeOnDelete}"
									 actionListenerReject="#{optionUserExceptionMgmtBean.beforeOnReject}"
									 actionListenerBlock="#{optionUserExceptionMgmtBean.beforeOnBlock}"
									 actionListenerConfirm="#{optionUserExceptionMgmtBean.beforeOnConfirm}"
									 actionModify="#{optionUserExceptionMgmtBean.loadingUserExceptionModify}"
									 actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"
									 remoteListener="rmtPrivileges()"/>
					<p:remoteCommand name="rmtPrivileges" 
									 process="@this" update=":opnlDialogs :opnlGenericDialogs" />
					</p:outputPanel>
					</p:outputPanel>					
					</td>
				</tr>								
				<tr>
					<td><p:outputPanel id="outPanelResult">
							<p:fieldset id="idPanelResult" legend="#{msgs['lbl.registers.found']}"  rendered="#{not empty optionUserExceptionMgmtBean.exceptionUserDataModel}">
									
							    <h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblRowCount"
								rendered="#{!(optionUserExceptionMgmtBean.exceptionUserDataModel.rowCount >= 1)}"
								styleClass="label-bolder"/>	
								
								<p:dataTable id="dtbResult"
								    rendered="#{(optionUserExceptionMgmtBean.exceptionUserDataModel.rowCount >= 1)}"
									value="#{optionUserExceptionMgmtBean.exceptionUserDataModel}"
									var="exceptionUser" paginator="true" rows="10" first="#{optionUserExceptionMgmtBean.firsRegisterDataTable}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="({currentPage} #{msgs['lbl.de']} {totalPages})"
									selection="#{optionUserExceptionMgmtBean.exceptionUserPrivilegeArray}"
									widgetVar="wDtbResult">
									
									<p:column rendered="#{optionUserExceptionMgmtBean.showPanelOptionsComponent}" styleClass="content-center" selectionMode="multiple" id="idClmSelectionMode"/>

									<p:column id="idClmUsrOptionExcepCode" sortBy="#{exceptionUser.userAccount.loginUser}">
										<f:facet name="header">
											<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUsrOptionExcepCodeHeader"/>
										</f:facet>
										<h:outputText value="#{exceptionUser.userAccount.loginUser}" id="idOtxtUsrOptionExcepLoginUser" />
									</p:column>
									<p:column id="idClmUsrOptionExcepSystem" sortBy="#{exceptionUser.system.name}">
										<f:facet name="header">
											<h:outputText value="#{msgs['system.lbl.system']}" id="idOtxtUsrOptionExcepSystemHeader"/>
										</f:facet>
										<h:outputText value="#{exceptionUser.system.name}"  id="idOtxtUsrOptionExcepSysName"/>
									</p:column>
									<p:column id="idClmUsrOptionExcepName" sortBy="#{exceptionUser.name}">
										<f:facet name="header">
											<h:outputText value="#{msgs['adm.exception.user.name.exception']}" id="idOtxtUsrOptionExcepNameHeader"/>
										</f:facet>
										<p:commandLink id="idNameException" action="goToUserOptionExceptionDetail" value="#{exceptionUser.name}"
													   actionListener="#{optionUserExceptionMgmtBean.detailExceptionUser}">
											<f:attribute name="excepDet" value="#{exceptionUser}"/>
										</p:commandLink>
									</p:column>

									<p:column id="idClmUsrOptionExcepStartDate" sortBy="#{exceptionUser.initialDate}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['adm.exception.user.date.start']}" id="idOtxtUsrOptionExcepStartDateHeader"/>
										</f:facet>
										<h:outputText value="#{exceptionUser.initialDate}" id="idOtxtUsrOptionExcepInitialDate">
											<f:convertDateTime pattern="#{msgs.dateFormat}" />
										</h:outputText>
									</p:column>

									<p:column id="idClmUsrOptionExcepEndDate" sortBy="#{exceptionUser.endDate}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['adm.exception.user.date.end']}" id="idOtxtUsrOptionExcepEndDateHeader" />
										</f:facet>
										<h:outputText value="#{exceptionUser.endDate}" id="idOtxtUsrOptionExcepFinalDate">
											<f:convertDateTime pattern="#{msgs.dateFormat}" />
										</h:outputText>
									</p:column>
						
									<p:column styleClass="content-center" id="idClmUsrOptionExcepState" sortBy="#{exceptionUser.descriptionStateOption}">
										<f:facet name="header">
											<h:outputText value="#{msgs['adm.exception.user.state.exception']}" id="idOtxtUsrOptionExcepStateHeader"/>
										</f:facet>
										<h:outputText value="#{exceptionUser.descriptionStateOption}" id="imgState"/>
										<p:tooltip for="imgState" value="#{exceptionUser.descriptionStateOption}" id="idTtipUsrOptionExcepState"/> 																	
										
									</p:column>		
									
									<p:column styleClass="content-center" id="idClmUsrOptionExcepSituation" sortBy="#{exceptionUser.situation}">
										<f:facet name="header">
											<h:outputText value="#{msgs['system.col.situation']}" id="idOtxtUsrOptionExcepSituationHeader"/>
										</f:facet>
										<h:outputText value="#{optionUserExceptionMgmtBean.situationsException[exceptionUser.situation]}" id="imgSituation"/>
										<p:tooltip for="imgSituation" value="#{optionUserExceptionMgmtBean.situationsException[exceptionUser.situation]}}" id="idTtipUsrOptionExcepSituation"/> 																	
										
									</p:column>								
									
									 <f:facet name="footer">									                                    
	                                       <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}"  
	                                        rendered="#{not empty optionUserExceptionMgmtBean.exceptionUserDataModel}" style="font-weight:bold;">
								            	<f:param value="#{optionUserExceptionMgmtBean.exceptionUserDataModel.rowCount}" id="idParamRowCount"/>
								           </h:outputFormat>
									 </f:facet>  
							    </p:dataTable>					
							</p:fieldset>
						</p:outputPanel></td>
				</tr>

			</table>

		</h:form>
		
		
		<p:outputPanel  id="opnlDialogs">
		<h:form id="formGeneral">
        <p:confirmDialog id="dialogWarning" rendered="false" visible="true" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="dglWarning" closable="false" >  
	       
	        	<h:panelGrid width="100%" border="0"  id="idPnlGridEndTransaction"
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnEndTrasaction" action="#{optionUserExceptionMgmtBean.hideDialogues}"
			        			 oncomplete="PF('dglWarning').hide()"
		        				 value="#{msgs['btn.accept']}"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	            
	    </p:confirmDialog>
	    
	    <p:confirmDialog id="dialogConfirmException" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="dglConfirmException" closable="false" >  
			        <p:commandButton value="#{msgs['btn.yes']}" actionListener="#{optionUserExceptionMgmtBean.confirmExceptionPrivilegeUser}" process="@this" update=":opnlDialogs :opnlGenericDialogs :frmGeneral:outPanelResult"> 
		        	</p:commandButton>  
		        	<p:spacer width="2"/>
		        	<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('dglConfirmException').hide()" update="@all" process="@this"/> 
	    </p:confirmDialog>
	    	    
	    
	    
	    <p:dialog id="dialogMotive" 
    			resizable="false" 
    			draggable="false" 
    			modal="true"
                header="#{headerMessageView}" 
                severity="alert" 
                widgetVar="dlgMotive" 
                closable="false">  
              
         <p:outputPanel id="opnlMotive">	       
	        <table class="table-fields">
			<tr>
			    <td class="td-label-default">
                    <h:outputText value="#{msgs['lbl.motive']}" styleClass="required-field" id="idOtxtUsrOptionExcepReason"/>
	           	</td>
	           	<td>
	           		<h:panelGrid columns="2">
		           	<p:selectOneMenu  id="cboMotive" style="width:258px;" label="#{msgs['lbl.motive']}" disabled="#{optionUserExceptionMgmtBean.showConfirmDelete}" 
		           	value="#{optionUserExceptionMgmtBean.motiveSelected}">  
			                <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUsrOptionExcepReason"/>  
			                <f:selectItems value="#{optionUserExceptionMgmtBean.block ?optionUserExceptionMgmtBean.lstBlockMotives :optionUserExceptionMgmtBean.unBlock ?optionUserExceptionMgmtBean.lstUnBlockMotives : optionUserExceptionMgmtBean.reject? optionUserExceptionMgmtBean.lstRejectMotives:  optionUserExceptionMgmtBean.lstMotives}"
			                         var="mot"  id="idCboItemsUsrOptionExcepReason"
			                         itemLabel="#{mot.name}" itemValue="#{mot.idParameterPk}"/>
			                <p:ajax process="@this" update="opnlMotive pnlbtn" event="change" listener="#{optionUserExceptionMgmtBean.evaluateMotive}" />
			          <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
			       	</p:selectOneMenu>
			       	<p:message  for="cboMotive" display="icon" id="idMsgUsrOptionExcepReason"/>
			       	</h:panelGrid>
		       	</td>
	      	</tr> 
	      	<tr>    		     
	      		<td class="td-label-default">
		       		<h:outputText value="#{msgs['lbl.other.motive']} (*)" 
		       		styleClass="required-field" 
		       		rendered="#{optionUserExceptionMgmtBean.showMotiveText}" id="idTxtMotive" />
		       	</td>
		       	<td>
		       		<h:panelGrid columns="2">
				       	<p:inputText rendered="#{optionUserExceptionMgmtBean.showMotiveText}" autocomplete="off" disabled="#{optionUserExceptionMgmtBean.showConfirmDelete}"
				        			 maxlength="200" size="70" value="#{optionUserExceptionMgmtBean.motiveText}" id="txtOtherMotive"
				        			 required="true" requiredMessage="#{msgs['lbl.insert.other.motive']}">
				       		<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>      
			          	</p:inputText>
		          		<p:message  for="txtOtherMotive" display="icon" id="idMsgUsrOptionExcepOtherReason" 
		          					rendered="#{optionUserExceptionMgmtBean.showMotiveText}"/>
		          	</h:panelGrid>
          		</td>
	         </tr>
	       </table>
       </p:outputPanel>
       
        <h:panelGrid columns="1" style="text-align:center" width="100%" id="idPnlGridReason">                  
	        <p:outputPanel id="pnlbtn">
		        <p:commandButton id="registerReject" value="#{msgs['btn.save']}" icon="fa fa-save" 
		        actionListener="#{optionUserExceptionMgmtBean.confirmAction}" rendered="#{optionUserExceptionMgmtBean.reject}"
		        update=":opnlDialogs, :opnlGenericDialogs" />
		        
		        <p:commandButton id="registerdelete" value="#{msgs['btn.save']}" icon="fa fa-save" 
		        actionListener="#{optionUserExceptionMgmtBean.confirmAction}" rendered="#{optionUserExceptionMgmtBean.delete and not optionUserExceptionMgmtBean.showConfirmDelete}"
		        update=":opnlDialogs, :opnlGenericDialogs" />
		        
		        <p:commandButton id="deleteConfirm" value="#{msgs['btn.confirm']}" icon="fa fa-save" 
		        actionListener="#{optionUserExceptionMgmtBean.openConfirmRequestExceptionPrivilege}" rendered="#{optionUserExceptionMgmtBean.delete and userPrivilege.userAcctions.confirmDelete and optionUserExceptionMgmtBean.showConfirmDelete}"
		        update=":opnlDialogs, :opnlGenericDialogs" />
		        
		        <p:spacer width="5" rendered="#{optionUserExceptionMgmtBean.showConfirmDelete}"/>
		        
		        <p:commandButton id="rejecteDelete" value="#{msgs['btn.reject']}" icon="ui-cancel" 
		        actionListener="#{optionUserExceptionMgmtBean.openRejectRequestExceptionPrivilege}" rendered="#{optionUserExceptionMgmtBean.delete  and userPrivilege.userAcctions.rejectDelete and optionUserExceptionMgmtBean.showConfirmDelete}"
		        update=":opnlDialogs, :opnlGenericDialogs" />
		        
		        <p:spacer width="5"/>
		        
		        <p:commandButton id="btnBack" type="button" value="#{msgs['btn.back']}" 
		        rendered="#{optionUserExceptionMgmtBean.motiveSelected > 0}"
		        icon="fa fa-undo" onclick="PF('cnfBackMotivePriv').show()"/>       
		        
		        <p:commandButton id="btnBack1" icon="fa fa-undo"
				 value="#{msgs['btn.back']}" process="@this" 
				 update=":opnlDialogs, :opnlGenericDialogs" 
				 actionListener="#{systemOptionMgmtBean.hideDialogues}"
				 oncomplete="PF('dlgMotive').hide()" 
				 rendered="#{!(optionUserExceptionMgmtBean.motiveSelected > 0)}"/>      
	         </p:outputPanel>
        </h:panelGrid>        
     </p:dialog>        
	    
	    <p:dialog id="dialogDelete" resizable="false" draggable="false"
				  header="#{msgs['lbl.header.alert.confirm']}" closable="false" widgetVar="cnfwDelete">
				<table>
					<tr>
						<td>
							<h:outputText id="idOtxtCnfDelete" 
value="#{optionUserExceptionMgmtBean.reject ? fn:length(optionUserExceptionMgmtBean.exceptionUserPrivilegeArray)>1 ? msgs['adm.exception.user.confirm.reject'] : msgs['adm.exception.user.message.confirm.reject'] : optionUserExceptionMgmtBean.delete ? msgs['adm.exception.user.request.delete'] : msgs['adm.exception.user.message.confirm.unblock'] }" />				
						</td>
					</tr>
					<tr>
						<td>
							<p:dataList id="displayMulti" styleClass="data-list-delete-items"
			                  value="#{optionUserExceptionMgmtBean.exceptionUserPrivilegeArray}" var="selectedExcep">  
			                     <h:outputText value="#{selectedExcep.name} " id="idOtxtSelectedEscepName"/>
			                </p:dataList>
		                </td>
	                </tr>  
					<tr>
						<td align="center">
							<p:commandButton id="confirmReject" value="#{msgs['btn.yes']}"
							actionListener="#{optionUserExceptionMgmtBean.deleteUserExceptions}" 
							update="dialogDelete dialogDeleteOk :frmGeneral:outPanelResult :opnlGenericDialogs :opnlDialogs" >
							</p:commandButton>
							
							<p:spacer width="5"/>
							
							<p:commandButton id="idCmdBtnCnfDeletNo" value="#{msgs['btn.no']}" 
								oncomplete="PF('cnfwDelete').hide()" />
		                </td>
	                </tr>
                </table>
			</p:dialog>
			
			
			<p:dialog  id="dialogDeleteOk" header="#{msgs['lbl.header.alert.success']}" closable="false" resizable="false" draggable="false" severity="info" widgetVar="dlgDeleteOk">
				<table>
				<tr>
				<td>
				<h:outputText id="idOtxtDeleteSuccess" value="#{optionUserExceptionMgmtBean.delete ? msgs['success.adm.exception.user.delete.request.label'] : optionUserExceptionMgmtBean.reject ? msgs['success.adm.exception.user.reject.label'] : optionUserExceptionMgmtBean.confirm? msgs['success.adm.exception.user.confirmation.label']:  msgs['success.adm.exception.user.unblock.label'] }" />				
				</td>
				</tr>
				<tr>
				<td>
				<h:outputText id="idOtxtDeleteSuccessUserName" value="#{msgs['adm.exception.user.name.exception']}" />
				</td>
				</tr>
				<tr>
				<td>
				<p:dataList id="displayMultiDeleted"  
                  value="#{optionUserExceptionMgmtBean.exceptionUserPrivilegeArray}" var="deletedExcep">  
                     <h:outputText value="#{deletedExcep.name} "  id="idOtxtDeleteExcepName"/>
                </p:dataList>
                </td>
                </tr>  
				</table>              
                
                <h:panelGrid width="100%" border="0"  id="idPnlGridDeleteOk"
	        		cellpadding="2" cellspacing="2" style="text-align:center;">
	        		
	        		<p:commandButton id="cmbDeletedOk" 
		        				 value="#{msgs['btn.accept']}" process="@this"
		        				 update=":frmGeneral:outPanelResult"
		        				 oncomplete="PF('dlgDeleteOk').hide()"/>
		           </h:panelGrid>
		                    	
			</p:dialog>
			
			
	    <p:confirmDialog id="dialogConfirmDeleteException" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="dglConfirmDeleteException" closable="false" >  
			        <p:commandButton value="#{msgs['btn.yes']}" actionListener="#{optionUserExceptionMgmtBean.deletePrivilegeExceptionUser}" process="@this" update=":opnlDialogs :opnlGenericDialogs :frmGeneral:outPanelResult"> 
		        	</p:commandButton>  
		        	<p:spacer width="2"/>
		        	<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('dglConfirmDeleteException').hide()" update="@all" process="@this" /> 
	    </p:confirmDialog>		
		
	    <p:confirmDialog id="dialogRejectDeleteException" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="dglRejectDeleteException" closable="false" >  
			        <p:commandButton value="#{msgs['btn.yes']}" actionListener="#{optionUserExceptionMgmtBean.rejectDeletePrivilegeExceptionUser}"  process="@this" update=":frmGeneral:outPanelResult :opnlGenericDialogs"> 
		        	</p:commandButton>  
		        	<p:spacer width="2"/>
		        	<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('dglRejectDeleteException').hide()" update="@all" process="@this" /> 
	    </p:confirmDialog>
		
			<p:confirmDialog id="modalBackMotivePriv"
					 		 header="#{msgs['lbl.header.alert.alert']}" message="#{msgs['message.back']}"						
							severity="alert" widgetVar="cnfBackMotivePriv" closable="false">						
	    		<p:commandButton id="cmbSi" process="@this" update=":opnlDialogs :opnlGenericDialogs"
	    						 value="#{msgs['btn.yes']}"  actionListener="#{systemOptionMgmtBean.hideDialogues}"
	    						 oncomplete="PF('cnfBackMotivePriv').hide();PF('dlgMotive').hide()"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
	    						 onclick="PF('cnfBackMotivePriv').hide()" type="button"/>	    
	    	</p:confirmDialog>
			
			
	     </h:form> 
       </p:outputPanel>

	</ui:define>
</ui:composition>
</html>
