<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/template/defaultSecurity.xhtml">

    	<ui:define name="body">

		<script type="text/javascript">
		$(window).load(function(){
			setInitialFormState('#frmUserOptionExceptionMgmt'); //con michi 
		});
	</script>
    	
		<h:outputText value="#{optionUserExceptionMgmtBean.register ? msgs['adm.exception.user.register.title']:msgs['adm.exception.user.modify.title']}"
					  styleClass="title-page" id="idOtxtUsrOptnExcepMgmtTitle"/>


		<p:fieldset legend="#{msgs['adm.exception.user.register.data']}" id="idPnlUsrOptnExcepMgmtRegisterData">
			<h:form id="frmUserOptionExceptionMgmt">
			 	<p:outputPanel id="outputPanelGeneral">   
					<table class="table-fields"> 
						<tr> 
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['user.lbl.code']} (*)" styleClass="required-field" id="idOtxtUsrOptnExcepMgmtCode"/>
							</td>
							<td colspan="3">
								<h:panelGrid columns="4">
									<p:inputText disabled="#{optionUserExceptionMgmtBean.modify}" styleClass="campo-texto-corto" maxlength="20"  autocomplete="off"
										id="txtCodeUser" label="#{msgs['user.lbl.code']}" value="#{optionUserExceptionMgmtBean.userException.usuLogin}" > 	
										<p:ajax event="blur" listener="#{optionUserExceptionMgmtBean.validateCodeUser}"
											update="txtCodeUser messageCodeUser txtCodefullname cboSystem :opnlGenericDialogs" />								    
									    <p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
									    <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator"/>									    
								    </p:inputText> 
								    <p:commandButton id="cmdSearch" process="@this" disabled="#{optionUserExceptionMgmtBean.modify}" 
								    	actionListener="#{optionUserExceptionMgmtBean.beforeSearchUser}" update="opnlDialogs" value="..."/>
				     				<p:inputText disabled="true" size="40" id="txtCodefullname" value="#{optionUserExceptionMgmtBean.userException.userFullName}" >
				     				</p:inputText>
									<p:message id="messageCodeUser" for="txtCodeUser" display="icon" />
								</h:panelGrid> 
							</td>
						</tr>
						<tr> 
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['adm.exception.user.date.start']} (*)" styleClass="required-field" id="idOtxtUsrOptnExcepMgmtStartDate" />
							</td>
						  	<td>
						  		<h:panelGrid columns="2">
									<p:calendar id="calFecIni" readonlyInput="true"								            
											value="#{optionUserExceptionMgmtBean.userException.initialDate}"
											pattern="#{msgs.dateTimeSecondsFormat}" 
											showOn="button" 
											mindate="#{optionUserExceptionMgmtBean.userException.current}"
											size="19"
											showButtonPanel="true" 
											navigator="true"
											locale="es">
									<p:ajax event="valueChange" update="calFecEnd"/> 	    		
									</p:calendar>
									<p:message id="messageCalInitial" for="calFecIni" display="icon" />
								</h:panelGrid>
							</td>
							<td>
						   		<h:outputText value="#{msgs['adm.exception.user.date.end']} (*) " styleClass="required-field" id="idOtxtUsrOptnExcepMgmtEndDate"/>
						   </td>
						   <td> 
						   		<h:panelGrid columns="2">
									<p:calendar id="calFecEnd" readonlyInput="true"				            
											    value="#{optionUserExceptionMgmtBean.userException.finalDate}"	
											    pattern="#{msgs.dateTimeSecondsFormat}" 
											    showOn="button"
											    mindate="#{optionUserExceptionMgmtBean.userException.initialDate}"
											    size="19"
												showButtonPanel="true" 
												navigator="true"
												locale="es">
												<p:ajax event="valueChange" />
								    </p:calendar>
								    <p:message id="messageCalEnd" for="calFecEnd" display="icon" />
							    </h:panelGrid>
							</td>
						</tr>
						<tr> 
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['adm.exception.user.name.exception']} (*)" 
									styleClass="required-field" id="idOtxtUsrOptnExcepMgmtNameExcep"/>
							</td>
							<td>
								<h:panelGrid columns="2">
						            <p:inputText size="70" maxlength="100" id="txtNameException" label="#{msgs['adm.exception.user.name.exception']}" 
							            value="#{optionUserExceptionMgmtBean.userException.userExceptionName}" autocomplete="off"
							            onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
							            <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator" />						
										<p:keyFilter regEx="#{cons['exp.regular.description']}"/>										  
						            </p:inputText>
						            <p:message id="messageName" for="txtNameException" display="icon" />
					           </h:panelGrid>
							</td>
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['adm.exception.user.description.exception']} (*)" 
									styleClass="required-field" id="idOtxtUsrOptnExcepMgmtDesc"/>
							</td>
							<td> 
								<h:panelGrid columns="2">							  
									<p:inputTextarea cols="60" rows="2" maxlength="200" label="#{msgs['adm.exception.user.description.exception']}" 
									value="#{optionUserExceptionMgmtBean.userException.userExceptionDescription}" 
								  	id="txtDescriptionException" autoRelisize="false" onkeypress="if (this.value.length > 200) { return false; }"
							  		onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);" autoResize="false" >
								    	<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputAreaValidator" />						
									  	<p:keyFilter regEx="#{cons['exp.regular.description']}"/>
								    </p:inputTextarea>
							    	<p:message id="messageDescription" for="txtDescriptionException" display="icon" />
							    </h:panelGrid>
							</td>
						</tr>
						<tr>
							<td class="td-label-default"> 
			  					<h:outputText value="#{msgs['adm.exception.user.doc.file.user']}"/>
			  				</td>
			  				<td> 
			  					<p:outputPanel id="opLoadFile" styleClass="fileupload-customize" layout="block">
									<p:fileUpload  id="fuLoadFile" widgetVar="fuplwUser"
									  			   label="#{msgs['fupl.label']}" mode="advanced" auto="true"
												   update="opLoadFile, :opnlGenericDialogs"
												   fileUploadListener="#{optionUserExceptionMgmtBean.fileUploadHandler}"
												   allowTypes="/(\.|\/)(pdf)$/"
				  								   sizeLimit="#{optionUserExceptionMgmtBean.fUploadFileSize}"
												   invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}" 
												   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
												   rendered="#{optionUserExceptionMgmtBean.blCurrentLoadFile || optionUserExceptionMgmtBean.register}">
									</p:fileUpload>
									<p:outputPanel id="opValidation" 
												   rendered="#{optionUserExceptionMgmtBean.blCurrentLoadFile ||optionUserExceptionMgmtBean.register}">
										<script type="text/javascript">
											$(document).ready(function(){
												fileuploadValidate('fuLoadFile');
											});
										</script>
									</p:outputPanel>
									<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"
													rendered="#{optionUserExceptionMgmtBean.blCurrentLoadFile || optionUserExceptionMgmtBean.register}"/>
									<h:panelGrid columns="4">
										<p:tooltip for="imgLimit" 
												   rendered="#{optionUserExceptionMgmtBean.blCurrentLoadFile || optionUserExceptionMgmtBean.register}">
											<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
												<f:param value="#{optionUserExceptionMgmtBean.fUploadFileSize div 1000}"/>
												<f:param value="*.pdf" />			
											</h:outputFormat>
										</p:tooltip>
										<h:panelGrid id="opnlFileData" columns="3" rendered="#{not empty optionUserExceptionMgmtBean.userException.loadFile}">
											<h:outputText id="otFileName" value="#{optionUserExceptionMgmtBean.userException.fileName}" style="vertical-align: none;"/>
											<p:commandLink id="cmlRemoveFile" styleClass="icon" update="opLoadFile" global="false" 
														   process="@this" actionListener="#{optionUserExceptionMgmtBean.removeDocumentFile}"
		       											   rendered="#{optionUserExceptionMgmtBean.register || optionUserExceptionMgmtBean.blCurrentLoadFile}">		
												<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
											</p:commandLink>
											<p:commandLink id="cmlViewFile" styleClass="icon" process="@this" 
														   update="opLoadFile" global="false" ajax="false" immediate="true" 
													   	   rendered="#{optionUserExceptionMgmtBean.register || optionUserExceptionMgmtBean.modify}">
												<p:fileDownload value="#{optionUserExceptionMgmtBean.userException.streamDocumentFile}"/>
												<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
											</p:commandLink>
										</h:panelGrid>
										<p:message for="fuLoadFile" display="icon"/>
									</h:panelGrid>
								</p:outputPanel>
			  				</td>
						</tr>				
					</table>
			</p:outputPanel>
					 
  				<p:fieldset id="pnlPrivileges" legend="#{msgs['profile.pnl.privileges']}" style="height:300px;"> 
   					<table width="100%"> 
   						<tr> 
   							<td width="100"> 
   								<h:outputText value="#{msgs['system.lbl.system']} (*)" styleClass="required-field" id="idOtxtUsrOptnExcepMgmtSystem"/>
   							</td>
   							<td align="left"> 
   								<p:selectOneMenu id="cboSystem" value="#{optionUserExceptionMgmtBean.selectedSystem}" label="#{msgs['system.lbl.system']}" 
   												 disabled="#{empty optionUserExceptionMgmtBean.userException.usuLogin}"> 
   									  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUsrOptnExcepMgmtSystem"/>
   									  <f:selectItems value="#{optionUserExceptionMgmtBean.lstSystems}" var="sist"  id="idCboItemsUsrOptnExcepMgmtSystem"
              							   			 itemLabel="#{sist.name}" itemValue="#{sist.idSystemPk}"/>  
   									  <p:ajax event="change" process="@this" update="treeOptionsExceptionUser opnlPrivileges opnlButtons" 
   											  listener="#{optionUserExceptionMgmtBean.loadPrivilegesBySystem}">
   									</p:ajax>
   									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
   								</p:selectOneMenu>
   								<p:message for="cboSystem" display="icon" id="idMsgUsrOptnExcepMgmtSystem"/>
   							</td>
   						</tr>
   						<tr> 
   							<td colspan="2"> 
   								<p:outputPanel  id="opnlPrivileges">
   								
   								<p:outputPanel id="idOpnlUsrOptnExcepMgmtPrivileges" 
   											rendered="#{optionUserExceptionMgmtBean.rootPrivileges != null and optionUserExceptionMgmtBean.rootPrivileges.childCount > 0}">
	                             <table>
									<tr>
										<td width="500px" valign="top">
											<p:outputPanel id="divPrivileges" layout="block" styleClass="containter-tree-privilegios-wide-full">
   								            <p:tree id="treeOptionsExceptionUser" style="border:0;width:100%"	
										    		value="#{optionUserExceptionMgmtBean.rootPrivileges}" var="node" selectionMode="checkbox"													
													selection="#{optionUserExceptionMgmtBean.selectedNodes}">
												<p:ajax  event="unselect" listener="#{optionUserExceptionMgmtBean.onNodeUnSelect}" 
														 update=":frmUserOptionExceptionMgmt:opnlPrivileges" />
                                                <p:treeNode id="idTreeNodeUsrOptnExcepMgmtPrivileges">  
								            <h:outputText value="#{node.name}" id="idOtxtUsrOptnExcepMgmtNodeName"/> 
								            
								         </p:treeNode>										         
								        
								        </p:tree>
								        </p:outputPanel>
								        </td>
								        
								   
								   <td width="90px" valign="top">
										
											<p:commandButton id="cmbExpandir"
												value="Expandir" update="pnlPrivileges"
												process="@this treeOptionsExceptionUser"
												rendered="#{optionUserExceptionMgmtBean.expandNode==false}"
												action="#{optionUserExceptionMgmtBean.expandPrivileges}" />

											<p:commandButton id="cmbContraer" value="Contraer"
												update="pnlPrivileges"
												process="@this treeOptionsExceptionUser"
												rendered="#{optionUserExceptionMgmtBean.expandNode==true}"
												action="#{optionUserExceptionMgmtBean.contractPrivileges}" />											
										</td>
										<td width="350px" valign="top">
											<p:outputPanel id="opnlMesageTree">
											<p:message for="treeOptionsExceptionUser" display="icon" id="idMsgUsrOptnExcepMgmtExcepUser"/>
											</p:outputPanel>
										</td>
										
										</tr>
										</table>
								   
							    </p:outputPanel> 
							    </p:outputPanel>
							   
   							</td>
   						</tr>
   					</table>
 				</p:fieldset>  					
				<p:outputPanel id="opnlButtons">
			        <table width="100%;">	
				        <tr>
							<td align="center">
								<p:commandButton id="cmbSave" rendered="#{optionUserExceptionMgmtBean.register}"
									 			 value="#{msgs['btn.save']}" update="opnlDialogs outputPanelGeneral pnlPrivileges :opnlGenericDialogs"
												 actionListener="#{optionUserExceptionMgmtBean.initialSave}" icon="fa fa-save">
								</p:commandButton>
								<p:commandButton id="cmbmodify" value="#{msgs['btn.modify']}" rendered="#{optionUserExceptionMgmtBean.modify}" process="@form"
											 	 update="opnlDialogs opnlMesageTree outputPanelGeneral :opnlGenericDialogs"
												 actionListener="#{optionUserExceptionMgmtBean.initialSave}" icon="fa fa-save">
								</p:commandButton>
								&nbsp;
								<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" id="idCmdBtnUsrOptnExcepMgmtBack"
									type="button" onclick="isModifiedFormForBack('#frmUserOptionExceptionMgmt','frmUserOptionExceptionMgmt:cmbProcessBack')"/>
								<p:commandButton id="cmbProcessBack" style="display:none"	
											 	 value=""  icon="fa fa-undo" immediate="true" action="search" ajax="false"/>
							</td>
						</tr>
					 </table>
				    </p:outputPanel>
				     
	    	<p:outputPanel id="opnlDialogs">	
	    				
				    <p:confirmDialog id="cnfAdmExcUsuPriv" message="#{bodyMessageView}" header="#{headerMessageView}"					
									 severity="alert" widgetVar="cnfwAdmExcUsuPriv" rendered="false" visible="true" closable="false">
										
					<p:commandButton rendered="#{optionUserExceptionMgmtBean.modify}" id="confirmDes" value="#{msgs['btn.yes']}"
						oncomplete="PF('cnfwAdmExcUsuPriv').hide()" process="@form"
						actionListener="#{optionUserExceptionMgmtBean.save}"
						update=":opnlGenericDialogs">
					</p:commandButton>
					<p:commandButton rendered="#{not optionUserExceptionMgmtBean.modify}" id="confirmmodify" value="#{msgs['btn.yes']}"
						oncomplete="PF('cnfwAdmExcUsuPriv').hide()" process="@form"
						actionListener="#{optionUserExceptionMgmtBean.save}"
						update=":opnlGenericDialogs">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwAdmExcUsuPriv').hide()" id="idCmdBtnUsrOptnExcepMgmtNo" 
						actionListener="#{optionUserExceptionMgmtBean.closeSaveConfirmationDialog}" update="opnlDialogs"/>						
				</p:confirmDialog>								
				<p:confirmDialog id="dialogWarning" rendered="false" visible="true" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="dglWarning" closable="false">  		       
		        	<h:panelGrid width="100%" border="0"  id="idPnlGridEndTransaction"
		        		cellpadding="0" cellspacing="0" style="text-align:center;">         
				        <p:commandButton id="btnEndTrasaction" action="#{optionUserExceptionMgmtBean.hideDialogues}"
				        			 oncomplete="PF('dglWarning').hide()" value="#{msgs['btn.accept']}"> 
			        	</p:commandButton>   
			        </h:panelGrid>	            
	            </p:confirmDialog>
				
				
		<p:dialog id="dialogSearchUser" widgetVar="dlgSearchUser"  position="top"
			  header="#{msgs['adm.exception.user.search.user']}" modal="true" draggable="false" 
			   width="80%"
			   resizable="false" 
				closable="false">
		<table width="100%"> 
			<tr> 
				<td>
					<h:panelGrid columns="4">
						<h:outputText value="#{msgs['adm.exception.user.complete.name']}" id="idOtxtUsrOptnExcepMgmtUserFullName"/>
						<p:inputText id="idfullname" value="#{optionUserExceptionMgmtBean.fullName}" size="40" autocomplete="off">
						 	<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
						</p:inputText>
						<p:commandButton id="cmbSearch"
									 value="#{msgs['btn.search']}" process="@this idfullname " 
									 actionListener="#{optionUserExceptionMgmtBean.searchUsers}"
									 update="outputPanelUser"/>
					 	<p:commandButton id="cmbBack"
									 value="#{msgs['btn.back']}"  
									 immediate="=true" onclick="PF('dlgSearchUser').hide();"
									 update="outputPanelUser"/>
					</h:panelGrid> 
					
				</td>
			</tr>
			<tr> 
				<td> 
					<p:outputPanel id="outputPanelUser">
					   <p:panel id="panelSearchUser" rendered="#{optionUserExceptionMgmtBean.userDataModel != null}">
							<p:dataTable id="dtbResult"  
										value="#{optionUserExceptionMgmtBean.userDataModel}"
										var="usu"
					                 	 paginator="true" rows="10"  paginatorPosition="top"
					                 	 currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
					                	 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; Filas por pagina: {RowsPerPageDropdown}"
					                	 rowsPerPageTemplate="5,10,15" 
						                 rendered="#{optionUserExceptionMgmtBean.userDataModel.rowCount>=1}"
						                 rowIndexVar="rIndx"
						                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" 
										> 					
								<p:column id="idClmUsrOptnExcepMgmtCode"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.code']}"  id="idOtxtUsrOptnExcepMgmtCodeHeader"
													  />
									</f:facet>
									<p:commandLink value="#{usu.loginUser}"	 id="idCmdLinkUsrOptnExcepMgmtCode"										
												   actionListener="#{optionUserExceptionMgmtBean.loadingCode}"
												   style="text-transform:uppercase;" process="@this"
												   update=":frmUserOptionExceptionMgmt:txtCodeUser :frmUserOptionExceptionMgmt:opnlDialogs :frmUserOptionExceptionMgmt:txtCodefullname :frmUserOptionExceptionMgmt:cboSystem"
												   oncomplete="PF('dlgSearchUser').hide();" resetValues="true">
										<f:attribute name="usuDet" value="#{usu}"/>
									</p:commandLink>
								</p:column>
								
								<p:column id="idClmUsrOptnExcepMgmtCompleteName"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.exception.user.complete.name']}" id="idOtxtUsrOptnExcepMgmtCompleteNameHeader"/>
									</f:facet>
									<h:outputText value="#{usu.firtsLastName} #{usu.secondLastName}, #{usu.fullName}"  id="idOtxtUsrOptnExcepMgmtCompleteName"
												  style="text-transform:uppercase;"/>
								</p:column>
								
								<p:column id="idClmUsrOptnExcepMgmtUserType"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUsrOptnExcepMgmtUserTypeHeader"/>
									</f:facet>
									<h:outputText value="#{usu.userTypeDescription}" id="idOtxtUsrOptnExcepMgmtUserType"/>
	
	                             </p:column>
							
								<p:column id="idClmUsrOptnExcepMgmtInstitution"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.institution']}" id="idOtxtUsrOptnExcepMgmtInstitutionHeader"/>
									</f:facet>
									<h:outputText value="#{usu.institutionsSecurity.institutionName}" id="idOtxtUsrOptnExcepMgmtInstitution"/>							  
									
								</p:column>
	
						        <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount">								
									 <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" style="font-weight:bold;">
								            	<f:param value="#{optionUserExceptionMgmtBean.userDataModel.rowCount}" id="idParamRowCount"/>
								    </h:outputFormat>								
									</div>							
								</f:facet>	
							</p:dataTable>
							
							<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblRowCount"
									rendered="#{!(optionUserExceptionMgmtBean.userDataModel.rowCount >= 1)}"
									style="font-weight:bold;"/>
						</p:panel>
					</p:outputPanel>						
				</td>
			</tr>
		</table>		
	</p:dialog>
		<p:confirmDialog id="cnfClearExceptionName"
					message="#{bodyMessageView}"
					header="#{headerMessageView}"					
					severity="alert" widgetVar="cnfClearExceptionNameWin"
					rendered="false" visible="true" closable="false">
										
					<p:commandButton  id="clearAccept" value="#{msgs['btn.accept']}"
						oncomplete="PF('cnfClearExceptionNameWin').hide();"
						actionListener="#{optionUserExceptionMgmtBean.clearExceptionName}"
						update="outputPanelGeneral">
					</p:commandButton>
					
					</p:confirmDialog>
	</p:outputPanel>
</h:form>
		</p:fieldset>



       	</ui:define>
    </ui:composition>
</html>
