<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/defaultSecurity.xhtml">

    	<ui:define name="body">		
    
    	
		<h:outputText value="#{msgs['adm.exception.user.title.detail']}" id="idOtxtUsrOptnExcepDetailsTitle"
					  styleClass="title-page"/>


		<p:fieldset legend="#{msgs['adm.exception.user.register.data']}" id="idPnlUsrOptnExcepDetailsRegisterData">
			<h:form id="frmUserOptionExceptionDetail"> 
				<table width="100%"> 
					<tr> 
						<td> 
							<table> 
								<tr> 
									<td> 
									
									<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUsrOptnExcepDetailsCode" />
									</td>
									<td colspan="3"> 
																		                    
									    <h:outputText id="txtCodUsu" value="#{optionUserExceptionMgmtBean.userExceptionDetail.usuLogin}"/> 
															     
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['adm.exception.user.date.start']}" id="idOtxtUsrOptnExcepDetailsStartDate"/>
									</td>
									<td> 
										<p:calendar id="calFecInitial" readonly="#{facesContext.renderResponse}"
													value="#{optionUserExceptionMgmtBean.userExceptionDetail.initialDate}"
													pattern="#{msgs.dateTimeFormat}" 
													showOn="button" disabled="true"
													size="18"
													showButtonPanel="true" 
													navigator="true"
													locale="es"	/>
									</td>
									<td> 
										<h:outputText value="#{msgs['adm.exception.user.date.end']}"  id="idOtxtUsrOptnExcepDetailsEndDate"
													  />
									</td>
									<td> 
										<p:calendar id="calFecEnd" readonly="#{facesContext.renderResponse}"
												    value="#{optionUserExceptionMgmtBean.userExceptionDetail.finalDate}"	
												    pattern="#{msgs.dateTimeFormat}" 
												    showOn="button" disabled="true"
												    size="18"
													showButtonPanel="true" 
													navigator="true"
													locale="es"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['adm.exception.user.name.exception']}"  id="idOtxtUsrOptnExcepDetailsUserName"/>
									</td>
									<td colspan="3"> 
							            <p:inputText value="#{optionUserExceptionMgmtBean.userExceptionDetail.userExceptionName}" disabled="true"
							            			 style="width:650px;" id="idItxtUsrOptnExcepDetailsUserName" />
									</td>
								</tr>
								<tr> 
									<td valign="top"> 
										<h:outputText value="#{msgs['adm.exception.user.description.exception']}" id="idOtxtUsrOptnExcepDetailsDesc"/>
									</td>
									<td colspan="3" valign="top"> 
										<p:inputTextarea value="#{optionUserExceptionMgmtBean.userExceptionDetail.userExceptionDescription}" 
														 style="heigh:100px;width:650px;" disabled="true"
														 autoResize="false" id="idTxtAreaUsrOptnExcepDetailsDesc"/>
									</td>
								</tr>
								<tr>
										<td>
											<h:outputText id="idOtxtUsrOptnExcepDetailsReason" 
											rendered="#{optionUserExceptionMgmtBean.motiveDescripcion != null and optionUserExceptionMgmtBean.motiveDescripcion != ''}"
											value ="#{optionUserExceptionMgmtBean.userExceptionDetail.state ==0? msgs['system.lbl.eliminar'] : msgs['system.lbl.blockmotive'] }"/>
										</td>
										<td><h:outputText id="idOtxtUsrOptnExcepDetailsReasonDesc"
												value="#{optionUserExceptionMgmtBean.motiveDescripcion}" 
												disabled="true" style="text-transform:uppercase;" />
										</td>
									</tr>
									<tr>	
					                   <td>
							               <h:outputText value="#{msgs['system.lbl.motive.description']}"
							                    rendered="#{optionUserExceptionMgmtBean.userExceptionDetail.blockOtherMotive != null}"/>
						              </td>
						              <td><h:outputText value="#{optionUserExceptionMgmtBean.userExceptionDetail.blockOtherMotive}" 
								               rendered="#{optionUserExceptionMgmtBean.userExceptionDetail.blockOtherMotive != null}"
								               disabled="true" style="text-transform:uppercase;" />
						              </td>
					                </tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['system.lbl.unblockmotive']}" id="idOtxtUsrOptnExcepDetailsUnBlockReason" 
											rendered="#{optionUserExceptionMgmtBean.motiveunBlockDescripcion != null and optionUserExceptionMgmtBean.motiveunBlockDescripcion != ''}"/>
										</td>
										<td><h:outputText id="idOtxtUsrOptnExcepDetailsUnBlockReasonDesc"
										        value="#{optionUserExceptionMgmtBean.motiveunBlockDescripcion}"
												disabled="true" style="text-transform:uppercase;" />
										</td>
									</tr>
									<tr>	
					                <td>
							           <h:outputText value="#{msgs['system.lbl.motive.description']}"
							              rendered="#{optionUserExceptionMgmtBean.userExceptionDetail.unblockOtherMotive != null}"/>
						           </td>
						           <td><h:outputText value="#{optionUserExceptionMgmtBean.userExceptionDetail.unblockOtherMotive}" 
								          rendered="#{optionUserExceptionMgmtBean.userExceptionDetail.unblockOtherMotive != null}"
								          disabled="true" style="text-transform:uppercase;" />
						          </td>
					            </tr>
					            
					            <tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['adm.exception.user.doc.file.user']}" />
					  				</td>
					  				<td> 
										<h:panelGrid id="opnlFileData" rendered="#{not empty optionUserExceptionMgmtBean.userExceptionDetail.loadFile}" columns="2">
											<h:outputText value="#{optionUserExceptionMgmtBean.userExceptionDetail.fileName}" style="vertical-align: none;"/>
											<p:commandLink id="cmlViewFile" styleClass="icon" 
														   process="@this"	global="false" ajax="false" immediate="true">
												<p:fileDownload value="#{optionUserExceptionMgmtBean.userExceptionDetail.streamDocumentFile}"/>
												<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
											</p:commandLink>
										</h:panelGrid>
										<h:outputText value="#{msgs['fupl.no.selected']}" style="vertical-align: none;"
													  rendered="#{empty optionUserExceptionMgmtBean.userExceptionDetail.loadFile}"/>
					  				</td>
					  			</tr>
							</table>
						</td>
					</tr>					
					</table>
					
					 
	    					<p:fieldset id="pnlPrivileges" legend="#{msgs['profile.pnl.privileges']}" style="height:300px;"> 
		    					<table width="100%"> 
		    						<tr> 
		    							<td width="100"> 
		    								<h:outputText value="#{msgs['system.lbl.system']}" id="idOtxtUsrOptnExcepDetailsSystem" />
		    							</td>
		    							<td align="left"> 
		    								<p:selectOneMenu id="cboSystem"  disabled="true" value="#{optionUserExceptionMgmtBean.userExceptionDetail.idSystemSelected}"> 
		    									 <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1"  id="idCboItemUsrOptnExcepDetailsSystem"/>
		    									  <f:selectItems value="#{optionUserExceptionMgmtBean.lstSystems}" var="sist"  id="idCboItemsUsrOptnExcepDetailsSystem"
	                							   itemLabel="#{sist.name}" itemValue="#{sist.idSystemPk}"/>  
		    									
		    								</p:selectOneMenu>
		    							</td>
		    						</tr>
		    						<tr> 
		    							<td colspan="2"> 
		    								<p:outputPanel id="opnlPrivileges">
		    								
		    								<p:outputPanel id="idOpnlUsrOptnExcepDetailsPrivileges" rendered="#{optionUserExceptionMgmtBean.rootPrivileges != null and optionUserExceptionMgmtBean.rootPrivileges.childCount > 0}">
				                             <table>
												<tr>
													<td width="500px" valign="top">
														<div class="containter-tree-privilegios-wide-full" id="idDivPrivileges">
		    								            <p:tree id="treeOptionsExceptionUser" style="border:0;width:100%"	
												    		value="#{optionUserExceptionMgmtBean.rootPrivileges}" 
												    		var="node" 
															  
															selection="#{optionUserExceptionMgmtBean.selectedNodes}">
											            	<p:treeNode id="idTreeNodeUsrOptnExcepDetailsPrivilegios">  
												            	<h:outputText value="#{node.name}" id="idOtxtUsrOptnExcepDetailsNodeName"/>  
												         	</p:treeNode>  
											        	</p:tree>
											        </div>
											        </td>
											        
											   
											   <td width="90px" valign="top">
													
														<p:commandButton id="cmbExpand"
															value="#{msgs['btn.expand']}" update="pnlPrivileges"
															process="@this treeOptionsExceptionUser"
															rendered="#{optionUserExceptionMgmtBean.expandNode==false}"
															action="#{optionUserExceptionMgmtBean.expandPrivileges}" />

														<p:commandButton id="cmbCollapse" value="#{msgs['btn.collapse']}"
															update="pnlPrivileges"
															process="@this treeOptionsExceptionUser"
															rendered="#{optionUserExceptionMgmtBean.expandNode==true}"
															action="#{optionUserExceptionMgmtBean.contractPrivileges}" />
															
														
													</td>
													<td width="350px" valign="top">
														<p:outputPanel id="opnlMessageTree">
														<p:message for="treeOptionsExceptionUser" id="idMsgOptionsExceptionUser" />
														</p:outputPanel>
													</td>
													</tr>
													</table>
											   
										    </p:outputPanel> 
										    </p:outputPanel>
										   
		    							</td>
		    						</tr>
		    					</table>
	    					</p:fieldset>
	    					
	    					<p:outputPanel id="opnlButtons">
					        <table width="100%;">	
					        <tr>
							<td align="center">
								
							<p:commandButton value="#{msgs['btn.back']}" process="@this" id="idCmdBtnUsrOptnExcepDetailsBack"
									action="toReturnSearch" icon="fa fa-undo"
									 />
							</td>
						</tr>
						
					 </table>
				    </p:outputPanel> 
</h:form>
</p:fieldset>



       	</ui:define>
    </ui:composition>
</html>
