<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:pe="http://primefaces.org/ui/extensions">
      
      <ui:composition template="/template/defaultSecurity.xhtml">

	<ui:define name="body">
	
		<style type="text/css">
.large-select {
	width: 300px;
}

.ui-datatable .ui-datatable-footer {
	text-align: left !important;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	text-transform: uppercase !important;
}

.ui-selectonemenu {
	text-transform: uppercase !important;
}
</style>
      
      <h:outputText value="#{msgs['admin.reportes.process.report.title']}" styleClass="title-page"/>
      <h:form id="reportprocessform">
			<table width="100%" border="0">
				<tr>
      <td><p:fieldset id="fldFiltros"
									legend="#{msgs['lbl.criteria.search']}"> 
							<table > 
								<tr> 
									<td width="150"> 
										<h:outputText value="#{msgs['user.lbl.type']} (*)" id="idOtxtUserMgmtSearchUserType" styleClass="required-field"/>
									</td>
									<td width="220"> 
										<p:selectOneMenu id="cboUserType"
														 value="#{reportProcessControlBean.processControlReportFilter.userType}"
														 style="width:200px"
														 tabindex="1"
														 > 
											<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtSearchAccType"/>
											<f:selectItems value="#{reportProcessControlBean.lstClientType}" id="idCboItemsUserMgmtSearchAccType"
														   var="userType" 
														   itemValue="#{userType.idParameterPk}" itemLabel="#{userType.name}"/>	
											<p:ajax listener="#{reportProcessControlBean.changeUserTypeForFilterListener}"
													process="@this"
													global="false"
													event="change"
													update="cboInstitutionType,cboInstitution"/>
									        <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
										</p:selectOneMenu>
									</td>
									
									<td width="150"> 
									 	<h:outputText value="#{msgs['user.lbl.institution.type']}" id="idOtxtUserMgmtSearchInstitutionType"/>
									</td>
									<td width="220"> 
										<p:selectOneMenu id="cboInstitutionType"
														 value="#{reportProcessControlBean.processControlReportFilter.institutionType}"
														 style="width:200px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtSearchInstitutionType"/>
									        <f:selectItems value="#{reportProcessControlBean.lstInstitutionTypeForFilter}"  id="idCboItemsUserMgmtSearchInstitutionType"
									        			   var="tipoIns"
									        			   itemValue="#{tipoIns.idParameterPk}" itemLabel="#{tipoIns.name}"/> 
									        <p:ajax listener="#{reportProcessControlBean.changeInstitutionTypeForFilterListener}"
									       			process="@this" 
													global="false"
													event="change"
													update="cboInstitution,cboInstitutionType"/>
										</p:selectOneMenu>
									
									</td>
									<td width="150"> 
										<h:outputText value="#{msgs['user.lbl.institution']}" id="idOtxtUserMgmtSearchInstitution"/>
									</td>
									<td width="220"> 
										<p:selectOneMenu id="cboInstitution"
														 value="#{reportProcessControlBean.processControlReportFilter.institution}"
														 style="width:200px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtSearchInstitution"/>
				        					<f:selectItems value="#{reportProcessControlBean.lstInstitutionsSecurityForFilter}" id="idCboItemsUserMgmtSearchInstitution"
				        								   var="ins"
				        								   itemValue="#{ins.idInstitutionSecurityPk}" 
				        								   itemLabel="#{ins.institutionName}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUserMgmtSearchCode"/>
									</td>
									<td> 
										<p:inputText id="txtUserCode" autocomplete="off"
													 value="#{reportProcessControlBean.processControlReportFilter.userCode}"
													 maxlength="20">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>			 
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['user.lbl.state']}" id="idOtxtUserMgmtSearchState"/>
									</td>
									<td colspan="3"> 
										<p:selectOneMenu id="cboEstado"
														 value="#{reportProcessControlBean.processControlReportFilter.state}"
														 style="width:200px">
											<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtSearchAccState"/>
											<f:selectItems value="#{reportProcessControlBean.processLoggerState}" id="idCboItemsUserMgmtSearchAccState"
														   var="state"
														   itemLabel="#{state.value}" itemValue="#{state.code}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
								 <td width="200"><h:outputText value="#{msgs['adm.exception.user.date.start']} (*)" styleClass="required-field"/> </td>
								<td><p:calendar value="#{reportProcessControlBean.processControlReportFilter.initialDate}" readonlyInput="true" required="true"
																			id="initialDate" showOn="button" pattern="#{msgs['dateFormat']}"/></td>
					            <td width="200"><h:outputText value="#{msgs['adm.exception.user.date.end']} (*)" styleClass="required-field"/> </td>
								<td><p:calendar value="#{reportProcessControlBean.processControlReportFilter.finalDate}" readonlyInput="true" required="true"
																			id="finalDate" showOn="button" pattern="#{msgs['dateFormat']}"/></td>
								</tr>
								
							</table>
						</p:fieldset></td> 
						
						</tr>
				<tr>
				<td align="center">
				<p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit" 
					action="#{reportProcessControlBean.sendCorporativeProcessReports()}"
					update="@form :opnlDialogs" />
				&nbsp;
				&nbsp;
				<p:commandButton value="#{msgs['btn.clear']}" icon="fa fa-trash" 
					update="@form" immediate="true" process="@this"
					actionListener="#{reportProcessControlBean.clean()}"/>
			</td>
		</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			<p:confirmDialog id="idDialReportConfirm" widgetVar="idReportConfirmWin"  message="#{bodyMessageView}" rendered="false" visible="true" closable="false" >				
				<p:commandButton value="#{msgs['btn.accept']}" action="#{reportProcessControlBean.clean()}" process="@this" oncomplete="PF('idReportConfirmWin').hide();" update=":reportprocessform"/>		
			</p:confirmDialog>
	    	</h:form>
	    </p:outputPanel>
 	</ui:define>
</ui:composition>     
</html>