<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/defaultSecurity.xhtml">

	<ui:define name="body">
	<f:metadata>
       <f:event type="preRenderView" listener="#{userBean.init}"/>
    </f:metadata> 
    
		<h:outputText value="#{msgs['opt.adm.user.title']}" id="idOtxtUserMgmtSearchTitle"
			styleClass="title-page" />


		<h:form id="frmGeneral">
			<div class="buttons-top-right">
				<p:defaultCommand target="cmbSearch" id="idDftCmdSearch"/> 
				<p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit" id="idCmdBtnRegister" rendered="#{userPrivilege.userAcctions.register}"
								 actionListener="#{userBean.registerUserListener}"
								 action="userMgmt"/>
			</div>
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldFiltros" legend="#{msgs['lbl.criteria.search']}"> 
							<table class="table-fields"> 
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUserMgmtSearchUserType"/>
									</td>
									<td> 
										<p:selectOneMenu id="cboUserType"
														 value="#{userBean.userAccountFilter.userAccountType}"
														 style="width:200px" disabled="#{userBean.externDisabled}"
														 tabindex="1"> 
											<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtSearchAccType"/>
											<f:selectItems value="#{userBean.lstClientType}" id="idCboItemsUserMgmtSearchAccType"
														   var="userType" 
														   itemValue="#{userType.idParameterPk}" itemLabel="#{userType.name}"/>	
											<p:ajax listener="#{userBean.changeUserTypeForFilterListener}"
													process="@form"
													global="false"
													event="change"
													update="cboInstitutionType,cboInstitution"/>
										</p:selectOneMenu>
									</td>
									<td class="td-label-default"> 
									 	<h:outputText value="#{msgs['user.lbl.institution.type']}" id="idOtxtUserMgmtSearchInstitutionType"/>
									</td>
									<td> 
										<p:selectOneMenu id="cboInstitutionType"
														 value="#{userBean.userAccountFilter.institutionType}"
														 style="width:200px"
														 disabled="#{userBean.disableInstitutionSelector or userBean.externDisabled}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtSearchInstitutionType"/>
									        <f:selectItems value="#{userBean.lstInstitutionTypeForFilter}"  id="idCboItemsUserMgmtSearchInstitutionType"
									        			   var="tipoIns"
									        			   itemValue="#{tipoIns.idParameterPk}" itemLabel="#{tipoIns.name}"/> 
									        <p:ajax listener="#{userBean.changeInstitutionTypeForFilterListener}"
									       			process="@this" 
													global="false"
													event="change"
													update="cboInstitution,cboInstitutionType"/>
										</p:selectOneMenu>
									
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.institution']}" id="idOtxtUserMgmtSearchInstitution"/>
									</td>
									<td> 
										<p:selectOneMenu id="cboInstitution"
														 value="#{userBean.userAccountFilter.idInstitutionSecurity}"
														 style="width:200px"
														 disabled="#{userBean.disableInstitutionSelector or userBean.externDisabled}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtSearchInstitution"/>
				        					<f:selectItems value="#{userBean.lstInstitutionsSecurityForFilter}" id="idCboItemsUserMgmtSearchInstitution"
				        								   var="ins"
				        								   itemValue="#{ins.idInstitutionSecurityPk}" 
				        								   itemLabel="#{ins.institutionName}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr> 
									<td  class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUserMgmtSearchCode"/>
									</td>
									<td> 
										<p:inputText id="txtUserCode" autocomplete="off"
													 value="#{userBean.userAccountFilter.loginUserAccount}"
													 maxlength="20">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>			 
										</p:inputText>
									</td>
									<td class="td-label-default">
										<h:outputText value="#{msgs['user.lbl.state']}" id="idOtxtUserMgmtSearchState"/>
									</td>
									<td colspan="3"> 
										<p:selectOneMenu id="cboEstado"
														 value="#{userBean.userAccountFilter.userAccountState}"
														 style="width:200px">
											<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtSearchAccState"/>
											<f:selectItems value="#{userBean.userAccountState}" id="idCboItemsUserMgmtSearchAccState"
														   var="state"
														   itemLabel="#{state.name}" itemValue="#{state.idParameterPk}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr> 
									<td colspan="6" align="center">
										<p:commandButton id="cmbSearch" icon="fa fa-search" rendered="#{userPrivilege.userAcctions.search}" 
														 value="#{msgs['btn.search']}"
														 actionListener="#{userBean.searchUserListener}"
														 update="@form" process="@form"
														 onclick="wDtbResult.getPaginator().setPage(0);"/>
											&nbsp;&nbsp;
										<p:commandButton id="cmbClean" icon="fa fa-trash"
														 value="#{msgs['btn.clear']}"
														 actionListener="#{userBean.cleanSearchUsersListener}"
														 update="@form"/>
										
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 
						<p:outputPanel id="opnlPrivilegeOnDataTable" 
							rendered="#{userBean.userDataModel != null and userBean.userDataModel.rowCount>=1}">			
								<ark:privileges id="idArkPrivileges"
								 actionModify="#{userBean.userModificationAction}"
								 actionListenerBlock="#{userBean.beforeUserBlockListener}"
								 actionListenerUnblock="#{userBean.beforeUserUnblockListener}"	
								 actionListenerConfirm="#{userBean.beforeUserConfirmationListener}" 
								 actionListenerReject="#{userBean.beforeUserRejectionListener}"
								 actionListenerAnnular="#{userBean.beforeUserUnregisterListener}"
								 actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>	
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlResult"> 
							<p:fieldset legend="#{msgs['lbl.registers.found']}" id="pnlResult" rendered="#{userBean.userDataModel != null}"> 
							
									<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOpnlNoResult"
										rendered="#{userBean.userDataModel.rowCount==0}"
										styleClass="label-bolder"/>
							
											<p:dataTable id="dtbResult"
														 widgetVar="wDtbResult"
														 value="#{userBean.userDataModel}"
														 var="user"
														 paginator="true" rows="10"  paginatorPosition="top"
														 currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}" 
									                	 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"  
									                 	 rowsPerPageTemplate="5,10,15" 
										                 selection="#{userBean.selectedUserAccountBean}"										                 
										                 rendered="#{userBean.userDataModel.rowCount > 0}"> 										                 
								                
												<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode"/> 
												
												<p:column id="idClmUserMgmtSearchCode" sortBy="#{user.loginUser}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.col.code']}" id="idOtxtUserMgmtSearchHeader"/>
													</f:facet>
													<p:commandLink value="#{user.loginUser}" id="idCmdLinkUserDetails"
																   actionListener="#{userBean.userDetail}"
																   action="userDetailRule">
														<f:attribute name="userAccountSelected" value="#{user}"/>
													</p:commandLink>
												</p:column>
												
												<p:column id="idClmUserMgmtSearchFullName" sortBy="#{user.firtsLastName}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.col.name.complete']}" id="idOtxtUserMgmtSearchFullNameHeader"/>
													</f:facet>
													<h:outputText value="#{user.firtsLastName} #{user.secondLastName}, #{user.fullName}"  id="idOtxtUserMgmtSearchFullName"/>
												</p:column>
												
												<p:column id="idClmUserMgmtSearchUserType" sortBy="#{user.userTypeDescription}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.lbl.type']}"  id="idOtxtUserTypeHeader"/>
													</f:facet>
													<h:outputText value="#{user.userTypeDescription}"  id="idOtxtUserType"/>
												</p:column>		
												
												<p:column id="idClmInstitution" sortBy="#{user.institutionName}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.lbl.institution.type']}"  id="idOtxtInstitutionTypeHeader"/>
													</f:facet>
													<h:outputText value="#{user.institutionName}" id="idOtxtInstitutionType"/>
												</p:column>	
												
												<p:column id="idClmInstitutionType" sortBy="#{user.institutionsSecurity.institutionName}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.col.institution']}"  id="idOtxtInstitutionHeader"/>
													</f:facet>
													<h:outputText value="#{user.institutionsSecurity.institutionName}" id="idOtxtInstitution"/>
												</p:column>							
												
												<p:column styleClass="content-center" id="idClmUserState" sortBy="#{user.stateDescription}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.col.state']}" id="idOtxtUserStateHeader"/>
													</f:facet>
													<h:outputText value="#{user.stateDescription}" id="estado"/>
										            <p:tooltip for="estado"  id="idTtipUserState" value="#{user.stateDescription}"/> 	
												</p:column>
												
												<p:column styleClass="content-center" id="idClmUserSituation" sortBy="#{user.situationDescription}"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['user.col.situation']}" id="idOtxtUserSituationHeader"/>
													</f:facet>
													<h:outputText value="#{user.situationDescription}" id="situation"/>
										            <p:tooltip for="situation"  id="idTtipUserSituation" value="#{user.situationDescription}"/> 	
												</p:column>
												
										        <f:facet name="footer">  
										            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
										            	<f:param value="#{userBean.userDataModel.rowCount}" id="idParamRowCount"/>
										            </h:outputFormat>
										        </f:facet> 
												
											</p:dataTable>
							
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
	
	
	<p:outputPanel id="opnlMotiveDialog">
		
	</p:outputPanel>
	
	<p:outputPanel id="opnlDialogs">
		
		<h:form id="frmMotive">  
			<p:dialog id="dlgMotive"
					  widgetVar="dlgwMotive"
					  header="#{headerMessageView}"
					  draggable="true"
					  modal="true"
					  resizable="false"
					  closable="false"> 
				<p:outputPanel id="opnlMotive">
				<table class="table-fields"> 
					<tr> 
						<td class="td-label-default"> 
							<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" id="idOtxtUserMgmtSearchReason"/>
						</td>
						<td> 
							<h:panelGrid columns="2">
						        <p:selectOneMenu id="cboMotive" style="width:258px;" 
						        	value="#{userBean.historicalState.motive}"
						        	label="#{msgs['lbl.motive']}"
						        	disabled="#{userBean.confirmBlockOrUnblock}">
								  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtSearchReason"/>
									<f:selectItems value="#{userBean.lstMotives}" id="idCboItemsUserMgmtSearchReason"
							        		var="mot" itemLabel="#{mot.name}" itemValue="#{mot.idParameterPk}"/>
									<p:ajax event="change" process="@this"  update="opnlMotive"
									 listener="#{userBean.changeSelectMotiveListener}" />
									 <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
								</p:selectOneMenu>
								<p:message for="cboMotive" display="icon" id="idMsgUserMgmtSearchReason"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr> 
						<td class="td-label-default"> 
							<h:outputText value="#{msgs['lbl.other.motive']} (*)"  id="idOtxtUserMgmtSearchOtherReason"
										  styleClass="required-field"
										  rendered="#{userBean.showOtherMotive}"/>
						</td>
						<td> 
							<h:panelGrid columns="2">
								<p:inputText id="txtOtherMotive" size="70"  autocomplete="off"
											 value="#{userBean.historicalState.motiveDescription}"
											 rendered="#{userBean.showOtherMotive}"
											 maxlength="200" label="#{msgs['lbl.other.motive']}"
											 required="true"
											 disabled="#{userBean.confirmBlockOrUnblock}"
											 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
								</p:inputText>
								<p:message for="txtOtherMotive" rendered="#{userBean.showOtherMotive}" display="icon" id="idMsgUserMgmtSearchOtherReason"/>
							</h:panelGrid>	
						</td>
					</tr>
					<tr>					
						<td class="td-label-default">
							<h:outputText value="#{msgs['lbl.motive.document']}" 
											rendered="#{userBean.unregisterEvent}"/>
						</td>
						<td style="white-space: nowrap;" colspan="2">
							<p:outputPanel id="opnlFilesUnregisterUser" styleClass="fileupload-customize" layout="block"
											rendered="#{userBean.unregisterEvent}">
								<p:fileUpload  id="fuplformUser" widgetVar="fuplwUser"
								  			   label="#{msgs['fupl.label']}" mode="advanced" auto="true"
											   update="opnlFilesUnregisterUser, :opnlGenericDialogs"
											   fileUploadListener="#{userBean.fileUploadHandler}"
											   allowTypes="/(\.|\/)(pdf)$/"
			  								   sizeLimit="#{userBean.fUploadFileSize}"
											   invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}" 
											   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
											   disabled="#{userBean.confirmBlockOrUnblock}">
								</p:fileUpload>
								<script type="text/javascript">
									$(document).ready(function(){
										fileuploadValidate('fuplformUser');
									});
								</script>
								<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
								<h:panelGrid columns="4">
								<p:tooltip for="imgLimit">
								<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
									<f:param value="#{userBean.fUploadFileSize div 1000}"/>
									<f:param value="*.pdf"/>			
								</h:outputFormat>
								</p:tooltip>
								<h:panelGrid id="opnlFileData" rendered="#{not empty userBean.selectedUserAccountBean.unregisterFile}" columns="3">
									<h:outputText id="otFileName" value="#{userBean.userAccountBean.fDisplayName}" style="vertical-align: none;"/>
									<p:commandLink id="cmlRemoveFile" styleClass="icon" 
												   update="opnlFilesUnregisterUser" global="false" 
												   process="@this" 
												   actionListener="#{userBean.removeDocumentFile}"
												   rendered="#{!userBean.confirmBlockOrUnblock}">		
										<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
									</p:commandLink>
									<p:commandLink id="cmlViewFile" styleClass="icon" process="@this" 
									update="opnlFilesUnregisterUser" global="false" ajax="false" 
									immediate="true" >
										<p:fileDownload value="#{userBean.selectedUserAccountBean.streamUnregisterDoc}"/>
										<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
									</p:commandLink>
								</h:panelGrid>
								<p:message for="fuplformUser" display="icon"></p:message>
								</h:panelGrid>
							</p:outputPanel>	
						</td>
					</tr>
					<tr> 
						<td colspan="2" align="center"> 
							<br/>
							<p:commandButton id="cmbMotive" 
					        				 value="#{userBean.confirmBlockOrUnblock ? msgs['btn.confirm'] : msgs['btn.save']}" icon="fa fa-save"
					        				 actionListener="#{userBean.actionMotiveListener}"
					        				 rendered="#{userBean.showConfirmButtonModal()}"
					        				 update="frmMotive:opnlMotive,:opnlGenericDialogs,:frmBlockUser,:frmUnblockUser,:frmUnregisterUser,:frmConfirm,:frmRejectUser"> 
					        </p:commandButton>
					        &nbsp;&nbsp;
					        <p:commandButton id="cmbReject" 
					        				 value="#{msgs['btn.reject']}" icon="ui-remove"
					        				 actionListener="#{userBean.actionRejectMotiveListener}"
					        				 update="frmMotive:opnlMotive,:opnlGenericDialogs, :opnlDialogs"
					        				 rendered="#{userBean.showRejetcButtonModal()}"> 
					        </p:commandButton>					        
					        &nbsp;&nbsp;					        
		        			<p:commandButton  value="#{msgs['btn.back']}" id="idCmdBtnBack"
		        							  icon="fa fa-undo" type="button"
		        							  onclick="return isModifiedFormForBackMotive('frmMotive:cboMotive_input','frmMotive:cmbProcessBackMotive')"  /> 
		        							  
		        		    <p:commandButton id="cmbProcessBackMotive" value="" style="display:none" process="@this" immediate="true"
									update="frmMotive:opnlMotive, :opnlGenericDialogs"
	    						    actionListener="#{userBean.backMotiveListener}"
	    						    oncomplete="PF('dlgwMotive').hide(); PF('cnfwBackMotive').hide()"/>
						</td>
					</tr>					
				</table>
				</p:outputPanel>
			</p:dialog>
			
			<p:confirmDialog id="cnfBackMotive"
				 		message="#{msgs['message.back']}"						
						severity="alert" 
						header="#{msgs['lbl.header.alert.alert']}"
						widgetVar="cnfwBackMotive" 
						closable="false">						
	    		<p:commandButton id="cmbYes"
	    						 value="#{msgs['btn.yes']}" process="@this,frmMotive:cboMotive" 
	    						 update="frmMotive:opnlMotive" 
	    						 actionListener="#{userBean.backMotiveListener}"
	    						 oncomplete="PF('cnfwBackMotive').hide(); PF('dlgwMotive').hide();"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 onclick="PF('cnfwBackMotive').hide()"
	    						 type="button"/>	    
	       </p:confirmDialog>
		</h:form>
	
		   <h:form id="frmBlockUser">
		    <p:confirmDialog id="cnfBlock"  
			                header="#{msgs['lbl.header.alert.confirm']}" 
			                severity="alert" 
			                widgetVar="cnfwBlock"
			                closable="false"> 
		
		        <f:facet name="message"> 
		        	<h:outputFormat value="#{userBean.rejectOption ? msgs['user.reject.block.message'] : (userBean.confirmBlockOrUnblock ? msgs['user.block.message'] : msgs['user.request.block.message']) }">
		        		<f:param value="#{userBean.selectedUserAccountBean.loginUser}" id="idParamLoginUser"/>
		        	</h:outputFormat>
		        </f:facet>          
		        <p:commandButton id="cmbConfirm" 
		        				 value="#{msgs['btn.yes']}"
		        				 actionListener="#{userBean.blockUserListener}" 
		        				 oncomplete="PF('cnfwBlock').hide(); PF('dlgwMotive').hide()" 
		        				 update=":frmGeneral,:frmGeneral:opnlResult,:opnlGenericDialogs :opnlDialogs"
		                    > 
		        </p:commandButton>  
		        <p:commandButton  value="#{msgs['btn.no']}" id="idCmdBtnNo"
		        				  actionListener="#{userBean.hideConfBlock}"
		        				  oncomplete="PF('cnfwBlock').hide();" 
		        				   />   
		     
		    </p:confirmDialog> 
		   </h:form>   
		   
		   <h:form id="frmUnblockUser">
		    <p:confirmDialog id="cnfUnblock"  
			                header="#{msgs['lbl.header.alert.confirm']}" 
			                severity="alert" 
			                widgetVar="cnfwUnblock"
					  		closable="false"> 
		
		        <f:facet name="message"> 
		        	<h:outputFormat value="#{userBean.rejectOption ? msgs['user.reject.unblock.message'] : ( userBean.confirmBlockOrUnblock ? msgs['user.unblock.message'] : msgs['user.request.unblock.message'])}">
		        		<f:param value="#{userBean.selectedUserAccountBean.loginUser}" id="idParamUserMgmtSearchLoginUser"/>
		        	</h:outputFormat>
		        </f:facet>          
		        <p:commandButton id="cmbConfirm" 
		        				 value="#{msgs['btn.yes']}"
		        				 actionListener="#{userBean.unblockUserListener}" 
		        				 oncomplete="PF('cnfwUnblock').hide();PF('dlgwMotive').hide()" 
		        				 update=":frmGeneral,:frmGeneral:opnlResult,:opnlGenericDialogs :opnlDialogs"
		                    > 
		        </p:commandButton>  
		        <p:commandButton  value="#{msgs['btn.no']}"  id="idCmdBtnUserMgmtSearchNo"
		        				  oncomplete="PF('cnfwUnblock').hide()"    
		        				  actionListener="#{userBean.hideConfBlock}"/>   
		     
		    </p:confirmDialog> 
		   </h:form>   
		   
		   <h:form id="frmUnregisterUser">
		    <p:confirmDialog id="cnfUnregister"  
			                header="#{msgs['lbl.header.alert.confirm']}" 
			                severity="alert" 
			                widgetVar="cnfwUnregister"
					  		closable="false"> 
		
		        <f:facet name="message"> 
		        	<h:outputFormat value="#{userBean.rejectOption ? msgs['user.reject.unregister.message'] : ( userBean.confirmBlockOrUnblock ? msgs['user.unregister.message'] : msgs['user.request.unregister.message'])}">
		        		<f:param value="#{userBean.selectedUserAccountBean.loginUser}" id="idParamUserMgmtSearchLoginUser"/>
		        	</h:outputFormat>
		        </f:facet>          
		        <p:commandButton id="cmbConfirm" 
		        				 value="#{msgs['btn.yes']}"
		        				 actionListener="#{userBean.unregisterUserListener}" 
		        				 oncomplete="PF('cnfwUnregister').hide();PF('dlgwMotive').hide()" 
		        				 update=":frmGeneral,:frmGeneral:opnlResult,:opnlGenericDialogs :opnlDialogs"
		                    > 
		        </p:commandButton>  
		        <p:commandButton  value="#{msgs['btn.no']}"  id="idCmdBtnUserMgmtSearchNo"
		        				  oncomplete="PF('cnfwUnregister').hide()"    
		        				  actionListener="#{userBean.hideConfBlock}"/>   
		     
		    </p:confirmDialog> 
		   </h:form>   
		   
		   <h:form id="frmConfirm">
		    <p:confirmDialog id="cnfConfirmUser"  
			                header="#{msgs['lbl.confirm.header.confirm']}" 
			                severity="alert" 
			                widgetVar="cnfwConfirmUser"
					  		closable="false"> 
		
		        <f:facet name="message"> 
		        	<h:outputFormat value="#{msgs['user.confirm.confirm']}">
		        		<f:param value="#{userBean.selectedUserAccountBean.loginUser}" id="idParamLoginUsr"/>
		        	</h:outputFormat>
		        </f:facet>          
		        <p:commandButton id="cmbConfirm" 
		        				 value="#{msgs['btn.yes']}"
		        				 actionListener="#{userBean.confirmUserListener}" 
		        				 oncomplete="PF('cnfwConfirmUser').hide()" 
		        				 update=":frmGeneral,:frmGeneral:opnlResult,:opnlGenericDialogs"
		                    > 
		        </p:commandButton>  
		        <p:commandButton  value="#{msgs['btn.no']}" id="idCmdBtnCnfNo" 
		        				  onclick="PF('cnfwConfirmUser').hide()" 
	        					  actionListener="#{userBean.hideConfBlock}"
		        				  type="button" />   
		     
		    </p:confirmDialog> 
		   </h:form> 
	
		   <h:form id="frmRejectUser">
		    <p:confirmDialog id="cnfRejectUser"  
			                header="#{msgs['lbl.header.alert.confirm']}" 
			                severity="alert" 
			                widgetVar="cnfwRejectUser"
					  		closable="false"> 
		
		        <f:facet name="message"> 
		        	<h:outputFormat value="#{msgs['user.confirm.reject']}">
		        		<f:param value="#{userBean.selectedUserAccountBean.loginUser}" id="idParamUserMgmtSearchLoginUsr"/>
		        	</h:outputFormat>
		        </f:facet>          
		        <p:commandButton id="cmbConfirm" 
		        				 value="#{msgs['btn.yes']}"
		        				 actionListener="#{userBean.rejectUserListener}" 
		        				 oncomplete="PF('cnfwRejectUser').hide();PF('dlgwMotive').hide()" 
		        				 update=":frmGeneral,:frmGeneral:opnlResult,:opnlGenericDialogs :opnlDialogs"
		                    > 
		        </p:commandButton>  
		        <p:commandButton  value="#{msgs['btn.no']}"  id="idCmdBtnRejectNo"
		        				  oncomplete="PF('cnfwRejectUser').hide()"  
		        				  actionListener="#{userBean.hideConfBlock}"		        				  
		        				  />   
		     
		    </p:confirmDialog> 
		   </h:form> 
	</p:outputPanel>


	</ui:define>
</ui:composition>
</html>
