<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
    	
    	 	
		<h:outputText value="#{msgs['opt.adm.user.title.detail']}" id="idOtxtUserDetailTitle"
					  styleClass="title-page"/>

			  <h:form id="frmUserAdministration">
		  		<table width="100%"> 
					<tr> 
						<td> 
							<p:fieldset legend="#{msgs['user.pnl.data']}" id="idPnlUserDetailData"> 
							<table class="table-fields"> 
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.id']}"  id="idOtxtUserDetailId"
													  />
									</td>
									<td > 
										<p:inputText id="txtUsuario" 
													 value="#{userBean.userAccountBean.idUserPk}" 
													 size="30"
													 disabled="true"/>
									</td>
									<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.code']}"  id="idOtxtUserDetailCode"/>
					  				</td>
					  				<td> 
					  					<h:panelGrid columns="2">
					  					<p:inputText id="txtLoginUser"
					  								value="#{userBean.userAccountBean.loginUser}"
					  								 disabled="true" size="30"
					  								 />
	  								 	<p:message for="txtLoginUser" display="icon" id="idMsgUserDetailCode"/>
	  								 	</h:panelGrid>
					  				</td>
								</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUserDetailUserType"/>
				        			</td>
				        			<td> 
										<h:outputText value="#{userBean.userAccountBean.userTypeDescription}" id="idOtxtUserDetailUserTypeDescription"/>
				        			</td>
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.institution.type']}" id="idOtxtUserDetailInstitutionType"/>
				        			</td>
				        			<td> 
				        				<h:outputText value="#{userBean.userAccountBean.institutionName}"  id="idOtxtUserDetailInstitutionTypeDescription"/>
				        			</td>
				        		</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.institution']}"  id="idOtxtUserDetailInstitution"/>
				        			</td>
				        			<td> 			
				        				<h:outputText value="#{userBean.userAccountBean.institutionsSecurity.institutionName}"  id="idOtxtUserDetailInstitutionName"/>
				        			</td>
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.is.regulator.agent']}"  id="idOtxtRegularAgent"
        							   rendered="#{userBean.userAccountBean.regulatorAgentBool}"/>
				        			</td>
				        			<td>  
				        				<p:outputPanel rendered="#{userBean.userAccountBean.regulatorAgentBool}" id="idOpnlRegulatorAgentBool">
				        					<h:panelGrid columns="2">
				        						<p:selectBooleanCheckbox id="chkRegAgent"
	   												 value="#{userBean.userAccountBean.regulatorAgentBool}"
	   												 disabled="true"/>
												 <p:dataList id="dtlInstitutionsType"
					        							value="#{userBean.lstShowInstitutionTypeAssignedToUser}"							        							
					        							var="det"
					        							style="border:0px;"> 
								        					#{det}
					        					</p:dataList> 
				        					</h:panelGrid>
				        				</p:outputPanel>
				        			</td>
				        		</tr>	
				        		<p:outputPanel rendered="#{userBean.userAccountBean.blockMotive != null or userBean.userAccountBean.unblockMotive != null}">	
				        		<tr>
				        			<td class="td-label-default">
											<h:outputText value="#{msgs['system.lbl.blockmotive']}" id="idOtxtUserDetailBlockReason"
											rendered="#{userBean.userAccountBean.blockMotive != null}"/>
											<br/>
											<h:outputText value="#{msgs['system.lbl.motive.description']}" id="idOtxtUserDetailBlockOtherReason" 
											rendered="#{userBean.userAccountBean.blockOtherMotive != null}"/>
									</td>
									<td>
										<h:outputText id="idOtxtUserDetailBlockReasonDescription"
												value="#{userBean.motiveDescripcion}" 
												disabled="true" style="text-transform:uppercase;" 
												rendered="#{userBean.userAccountBean.blockMotive != null}"/>
										<br/>
										<h:outputText id="idOtxtUserDetailBlockOthrReasonDescription"
											value="#{userBean.userAccountBean.blockOtherMotive}" 
											disabled="true" style="text-transform:uppercase;" 
											rendered="#{userBean.userAccountBean.blockOtherMotive != null}"/>
									</td>
									<td class="td-label-default">
										<h:outputText value="#{msgs['system.lbl.unblockmotive']}" id="idOtxtUserDetailUnBlockReason"
										rendered="#{userBean.userAccountBean.unblockMotive != null}"/>
										<br/>
										<h:outputText value="#{msgs['system.lbl.motive.description']}" id="idOtxtUserDetailUnblockOtherReason" 
										rendered="#{userBean.userAccountBean.unblockOtherMotive != null}"/>
									</td>
									<td><h:outputText id="idOtxtUserDetailUnBlockReasonDescription"
											value="#{userBean.motiveunBlockDescripcion}"
											disabled="true" style="text-transform:uppercase;"
											rendered="#{userBean.userAccountBean.unblockMotive != null}"/>
											<br/>
											<h:outputText id="idOtxtUserDetailUnblockOthrReasonDescription"
											value="#{userBean.userAccountBean.unblockOtherMotive}" 
											disabled="true" style="text-transform:uppercase;" 
											rendered="#{userBean.userAccountBean.unblockOtherMotive != null}"/>
									</td>
				        		</tr>
				        		</p:outputPanel>
				        		<p:outputPanel rendered="#{userBean.userAccountBean.rejectMotive != null or userBean.userAccountBean.annularMotive != null}">								
								<tr>									
									<td class="td-label-default">
										<h:outputText value="#{msgs['lbl.motive.reject']}" id="idOtxtUserDetailRejectReason"
										rendered="#{userBean.userAccountBean.rejectMotive != null}"/>
										<br/>
										<h:outputText value="#{msgs['system.lbl.motive.description']}"
						                    rendered="#{userBean.userAccountBean.rejectOtherMotive != null}"/>
									</td>
									<td>
										<h:outputText id="idOtxtUserDetailRejectReasonDescription"
											value="#{userBean.motiveRejectDescripcion}"
											disabled="true" style="text-transform:uppercase;" 
											rendered="#{userBean.userAccountBean.rejectMotive != null}"/>
											<br/>
											<h:outputText value="#{userBean.userAccountBean.rejectOtherMotive}" 
							                rendered="#{userBean.userAccountBean.rejectOtherMotive != null}"
							                disabled="true" style="text-transform:uppercase;" />
									</td>
									<td class="td-label-default">
										<h:outputText value="#{msgs['lbl.motive.unregister']}" id="idOtxtUserDetailUnregisterReason"
										rendered="#{userBean.userAccountBean.annularMotive != null}"/>
										<br/>
										<h:outputText value="#{msgs['system.lbl.motive.description']}"
						                    rendered="#{userBean.userAccountBean.annularOtherMotive != null}"/>
									</td>
									<td>
										<h:outputText id="idOtxtUserDetailUnregisterReasonDescription"
											value="#{userBean.motiveAnnularDescription}"
											disabled="true" style="text-transform:uppercase;" 
											rendered="#{userBean.userAccountBean.annularMotive != null}"/>
											<br/>
											<h:outputText value="#{userBean.userAccountBean.annularOtherMotive}" 
							                rendered="#{userBean.userAccountBean.annularOtherMotive != null}"
							                disabled="true" style="text-transform:uppercase;" />
							                <br/>
							                <h:panelGrid columns="2" rendered="#{userBean.userAccountBean.annularMotive != null}">
								                <h:outputText value="#{msgs['fupl.attached.document']}" style="vertical-align: none;"/>
								                <p:commandLink id="cmlViewFileUnregister" styleClass="icon" process="@this" 
												global="false" ajax="false" immediate="true" >
													<p:fileDownload value="#{userBean.userAccountBean.streamUnregisterDoc}"/>
													<p:graphicImage id="imgViewUnregister" library="img" name="icons/loupe.png"/>
												</p:commandLink>
											</h:panelGrid>
									</td>
								</tr>	
								</p:outputPanel>			
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.responsibility']}"  id="idOtxtResponsibility"/>
									</td>
									<td> 
										<h:outputText value="#{userBean.userAccountBean.responsabilityDescription}" id="idOtxtResponsibilityDescription"/>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.mac.restriction']}" id="idOtxtMacRestriction"
													  rendered="#{userBean.userAccountBean.macRestrictionBool}"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
										<p:selectBooleanCheckbox id="chkMacRestriction"
																 value="#{userBean.userAccountBean.macRestrictionBool}"
																rendered="#{userBean.userAccountBean.macRestrictionBool}"
																 disabled="true">
										</p:selectBooleanCheckbox>
										<p:inputMask id="txtMacRestriction" 
													 value="#{userBean.userAccountBean.macAddress}"
													 mask="**-**-**-**-**-**" 
													 style="text-transform:none !important;"
		  								 			 disabled="true"
		  								 			 required="true"
													 requiredMessage="#{msgs['user.error.mac.required']}"
													 rendered="#{userBean.userAccountBean.macRestrictionBool}"
													 />
										</h:panelGrid>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.name']}" id="idOtxtUserDetailFullName"/>
									</td>
									<td> 
										<p:inputText id="txtName" disabled="true"
													 value="#{userBean.userAccountBean.fullName}"
													 size="70"
													 readonly="true" />
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.first.name']}"  id="idOtxtUserDetailFirstName"/>
									</td>
									<td> 
										<p:inputText id="txtFirstName" disabled="true"
													 value="#{userBean.userAccountBean.firtsLastName}" 
													 readonly="true" 
													 size="70"
														 maxlength="40"/>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.second.name']}" id="idOtxtUserDetailSecondName"/>
									</td>
									<td> 
										<p:inputText id="txtSecondName" disabled="true"
													 value="#{userBean.userAccountBean.secondLastName}"
													 readonly="true"
													 size="70"
														 maxlength="40"/>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.documento']} "  id="idOtxtDocumentType"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboDocument"
														 value="#{userBean.userAccountBean.documentType}"
														 styleClass="campo-texto-medio"
														 label="#{msgs['user.lbl.documento']}" disabled="true">
											<f:selectItem  itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemDocumentType"/>
											<f:selectItems value="#{userBean.lstUserDocumentType}" id="idCboItemsDocumentType"
														   var="doc"
														   itemLabel="#{doc.value}" itemValue="#{doc.code}"/>
										</p:selectOneMenu>
										<p:message id="msgcboDocument" for="cboDocument"
												   display="icon"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.document.nro']} "  id="idOtxtDocumentNumber"
													  />
									</td>
									<td> 
										<h:panelGrid columns="2">
										<p:inputText id="txtDocumentNro" 
													value="#{userBean.userAccountBean.documentNumber}"
													size="30"
													maxlength="#{userBean.maxLenghtDocumentNumber}" required="true" disabled="true"/>
										<p:message id="messageDocumentNumber" for="txtDocumentNro"
												   display="icon"/>
										</h:panelGrid>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.email']}"  id="idOtxtUserDetailEmail"/>
									</td>
									<td> 
										<p:inputText id="txtEmail" 
													 value="#{userBean.userAccountBean.idEmail}"
													 disabled="true" 
													  styleClass="campo-texto-largo"
													 maxlength="100"
													 size="70"
													 />
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.phone']}" id="idOtxtUserDetailPhone"/>
									</td>
									<td> 
										<p:inputText id="txtPhone" 
													 value="#{userBean.userAccountBean.phoneNumber}" 
													 size="30"
													 disabled="true"/>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.state']}"  id="idOtxtUserDetailState"/>
									</td>
									<td> 
										<p:inputText id="txtState" 
													 value="#{userBean.userAccountBean.stateDescription}" 
													 size="30"
													 disabled="true"/>
									</td>
								</tr>
								<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.document.register']}" />
					  				</td>
					  				<td> 
										<h:panelGrid id="opnlFileData" rendered="#{not empty userBean.userAccountBean.documentFile}" columns="2">
											<h:outputText value="#{msgs['fupl.attached.document']}" style="vertical-align: none;"/>
											<p:commandLink id="cmlViewFile" styleClass="icon" 
											process="@this"	global="false" ajax="false" immediate="true">
												<p:fileDownload value="#{userBean.userAccountBean.streamDocumentFile}"/>
												<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
											</p:commandLink>
										</h:panelGrid>
					  				</td>
					  				
					  				<td class="td-label-default"> 
										<h:outputText value="#{msgs['adm.opt.treetbl.col.situation']}"  id="otSituation"/>
									</td>
									<td> 
										<p:inputText id="itSituation" value="#{userBean.userAccountBean.situationDescription}" 
													 size="30" disabled="true"/>
									</td>
					  			</tr>
								<tr>
									<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.register']}"  id="idOtxtRegisterUser"
					  							 		/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.registryUser}"  id="idItxtRegisterUser"
					  								 disabled="true" size="30"
					  								 />
					  				</td>
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.register']}"  id="idOtxtRegisterDate"
					  								  />
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.registryDate}"  id="idItxtRegisterDate"
					  								 disabled="true" size="30">
					  					    <f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>
					  					</p:inputText>
					  				</td>
								</tr>
					  			<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.last.modification']}"  id="idOtxtLastModifyUser"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.lastModifyUser}"  id="idItxtLastModifyUser"
					  								 disabled="true" size="30"/>
					  				</td>
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.last.modification']}" id="idOtxtLastModifyDate"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.lastModifyDate}"  id="idItxtLastModifyDate"
					  								 disabled="true" size="30">
					  						  <f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>
					  				    </p:inputText>
					  				</td>
					  			</tr>
					  			<tr>					  				
			  						<td class="td-label-default" >
			  							<h:outputText value="#{msgs['user.lbl.is.recorder']}" />
			  						</td>
			  						<td >
			  							<p:selectBooleanCheckbox id="chkIsRecorder" value="#{userBean.blIsRecorder}"
        												 		 disabled="true">
        								</p:selectBooleanCheckbox>
			  						</td>		
			  					
       						
			  						<td class="td-label-default">
			  							<h:outputText value="#{msgs['user.lbl.is.commiter']}" />
			  						</td>
			  						<td>
			  							<p:selectBooleanCheckbox id="chkIsCommitter" value="#{userBean.blIsCommitter}"
        												 		 disabled="true">
        								</p:selectBooleanCheckbox>
			  						</td>		
					  			</tr>
					  			<tr>
					  				<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['subsidary.adm.subsidary.location']}" />
				        			</td>
				        			<td> 
										<h:outputText value="#{userBean.descriptionDepartament}" />
				        			</td>
					  				<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.subsidiary']}" />
				        			</td>
				        			<td> 
										<h:outputText value="#{userBean.descriptionSubsidiary}" />
				        			</td>				        			
					  			</tr>
					  			<tr>
					  				<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.office']}" />
				        			</td>
				        			<td> 
										<h:outputText value="#{userBean.userAccountBean.office}" />
				        			</td>
					  			</tr>
							</table>
							</p:fieldset> 
						</td>
					</tr>
					<tr> 
						<td> 
							<p:fieldset legend="#{msgs['opt.adm.user.pnl.profile.details']}" toggleable="true" id="idPnlProfileDetails">
								<div class="containter-tree-privilegios-wide-full" id="idDivProfileDetails">
									<p:tree id="treeProfilesRoot" style="border:0;width:800px"
										value="#{userBean.treeProfilesRoot}"
										var="node">
										<p:treeNode id="idTreeNodeProfiles">
											<h:outputText value="#{node.name}" id="idOtxtProfilesNodeName" />
										</p:treeNode>
									</p:tree>
								</div>
							</p:fieldset>
						</td>
					</tr>
	        		<tr> 
	        			<td	align="center"> 
	        				<p:commandButton id="cmbRegresar" icon="fa fa-undo"
	        								 value="#{msgs['btn.back']}"
	        								 action="#{userBean.returnPrincipalPage}"
	        								 immediate="true"/>	        								 
						</td>
	        		</tr>
		  		</table>
		  		
			  </h:form>
       	</ui:define>
    </ui:composition>
</html>
