<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
    	<script type="text/javascript">
		$(window).load(function(){
		setInitialFormState('#frmUserAdministration'); 
		});

		function onKeyPress() {
			 if (event.keyCode == 8 || event.keyCode == 46) {
				event.returnValue = true;
				return true;
			} 
		}  
	</script>	
		<style type="text/css">
			.not-clickable {
			    cursor: not-allowed;
			    pointer-events: none;
			} 
		</style>						
 														 
		<h:outputText value="#{userBean.register ? msgs['opt.adm.user.title.register'] : msgs['opt.adm.user.title.modify']}" id="idOtxtUserMgmtTitle"
					  styleClass="title-page"/>


			  <h:form id="frmUserAdministration">
		  		<table width="100%"> 
					<tr> 
						<td> 		
							<p:fieldset id="pnlUserInfo" legend="#{msgs['user.pnl.data']}"> 
							<table class="table-fields" border="0"> 
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.id']}"  id="idOtxtUserMgmtId"
													  rendered="#{userBean.modify}"/>
									</td>
									<td>
										<p:inputText id="txtUserId" 
													 style="width:150px;"
													 value="#{userBean.userAccountBean.idUserPk}" 
													 disabled="true"
													 rendered="#{userBean.modify}"/>
									</td>
									<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.code']} (*)"  id="idOtxtUserMgmtCode"
					  								  styleClass="required-field"/>
					  				</td>
					  				<td>
					  					<h:panelGrid columns="2">
											<p:inputText id="txtLoginUser"
					  								 value="#{userBean.userAccountBean.loginUser}"
					  								 disabled="true"					  								
					  								 maxlength="9"
					  								 styleClass="campo-texto-medio"
					  								 >
					  						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>		 
						  					</p:inputText>
						  					<!--#{userBean.validUserCode !=1} replace with true  -->
					  					 	<!-- #{userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code} -->
					  						<p:message for="txtLoginUser" display="icon" id="idMsgUserMgmtCode"/>
										</h:panelGrid>
					  				</td>
								</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.type']} (*)"  id="idOtxtUserMgmtUserType" styleClass="required-field"/>
				        			</td>
				        			<td>
				        				<h:panelGrid columns="3">
											<p:selectOneMenu id="cboUserType" value="#{userBean.userAccountBean.type}"
															 styleClass="campo-texto-medio" label="#{msgs['user.lbl.type']}"
															 onchange="if(this.value==-1)rCmdUserType();"
															 disabled="#{userBean.modify || userBean.blDisabledUserExtern || userBean.disabledName}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemUserMgmtUserType"/>
												<f:selectItems value="#{userBean.lstClientType}" id="idCboItemsUserMgmtUsetType"
															   var="userType" 
															   itemValue="#{userType.idParameterPk}" itemLabel="#{userType.name}"/>										
												 <p:ajax listener="#{userBean.changeUserTypeListener}"
												 		process="@this" event="change" global="false"
								 		 				update="cboInstitution,chkAgentReg,chkMenuInstType,txtLoginUser,cboInstitutionType,opTree,cboSubsidiary"/>
												 <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
									
											<p:remoteCommand id="rmtCmd1" name="rCmdUserType" 
															 action="#{userBean.changeUserTypeListener}"
															 process="@this"
															 update="cboInstitution,chkAgentReg,chkMenuInstType,cboInstitutionType"
															 global="false"
															 immediate="true">
												<f:setPropertyActionListener target="#{userBean.userAccountBean.type}" value="-1" />		 
											</p:remoteCommand>
											<p:message for="cboUserType" display="icon" id="idMsgUserMgmtUserType"/>
										</h:panelGrid>
				        			</td>
				        			<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.institution.type']} (*)"  id="idOtxtUserMgmtInstitutionType"
				        							  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
			        						<p:selectOneMenu id="cboInstitutionType" value="#{userBean.userAccountBean.institutionTypeFk}"
					        								 styleClass="campo-texto-medio"
								   							 disabled="#{userBean.userAccountBean.type==-1|| userBean.modify || userBean.blDisabledExtern || userBean.disabledName}"
					        								 onchange="if(this.value==-1)rCmdInstitutionType()" label="#{msgs['user.lbl.institution.type']}" >
					        					<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtInstitutionType"/> 
										        <f:selectItems value="#{userBean.lstInstitutionTypeForFilter}"  id="idCboItemsUserMgmtInstitutionType"
										        			   var="tipoIns"
										        			   itemValue="#{tipoIns.idParameterPk}" itemLabel="#{tipoIns.name}"/> 
										        <p:ajax listener="#{userBean.changeInstitutionTypeListener}" process="@this"
										                event="change" update="cboInstitution,txtLoginUser idTreePanel opTree cboSubsidiary opSubsidiary " global="false"/>
										        <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
					        				</p:selectOneMenu>
					        				
											<p:remoteCommand id="rmtCmd2" name="rCmdInstitutionType" 
															 action="#{userBean.changeInstitutionTypeListener}"
															 process="@this" update="cboInstitution"
															 global="false"
															 immediate="true">
												<f:setPropertyActionListener target="#{userBean.userAccountBean.institutionTypeFk}" value="-1" />		 
											</p:remoteCommand>
											<p:message for="cboInstitutionType" display="icon" id="idMsgUserMgmtInstitutionType"/>
										</h:panelGrid>
									</td>
				        		</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.institution']} (*)"  id="idOtxtUserMgmtInstitution"
				        							  styleClass="required-field"/>
				        			</td>
				        			<td> 
				        				<h:panelGrid columns="2">
				        				<p:selectOneMenu id="cboInstitution" value="#{userBean.userAccountBean.institutionsSecurity.idInstitutionSecurityPk}"
       								   		  			 disabled="#{userBean.userAccountBean.type==-1 || userBean.institution || userBean.blDisabledExtern || userBean.disabledName}"
				        								 label="#{msgs['user.lbl.institution']}" styleClass="campo-texto-medio"> 
					        					<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemInstitution"/>
					        					<f:selectItems value="#{userBean.lstInstitutionsByInstitutionType}" id="idCboItemsInstitution"
					        								   var="ins" itemValue="#{ins.idInstitutionSecurityPk}" itemLabel="#{ins.institutionName}"/>
					        					<p:ajax listener="#{userBean.createLoginUserListener(true)}"
					        							update="txtLoginUser cboSubsidiary cboLocation" process="@this" global="false"/> 		
					        					<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
					        				</p:selectOneMenu>
					        				<p:message for="cboInstitution" display="icon" id="idMsgUserMgmtInstitution"/>
										</h:panelGrid>		
				        			</td>
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.is.regulator.agent']}" id="idOtxtUserMgmtRegularAgent"/>
				        			</td>
				        			<td> 
				        			<table>
				        				<tr>
				        					<td>
				        						<p:selectBooleanCheckbox id="chkAgentReg"
				        												 value="#{userBean.userAccountBean.regulatorAgentBool}"
				        												 disabled="#{userBean.userAccountBean.internalUser || userBean.userAccountBean.type==-1}"
				        												 
				        												 >
				        							<p:ajax update="chkMenuInstType"
				        									process="@this"
				        									global="false"/>
				        						</p:selectBooleanCheckbox>
				        					</td>
				        					<td> 
						        				<p:selectCheckboxMenu id="chkMenuInstType" 
												 					   value="#{userBean.lstInstitutionsTypeSelected}" 
												 					   disabled="#{!userBean.userAccountBean.regulatorAgentBool || userBean.userAccountBean.type==-1}"
												 					   label="#{msgs['lbl.types']}"
												 					   filter="true" 
												 					   filterText="#{msgs['lbl.filter']}" 
												 					   filterMatchMode="startsWith"  
												 					   panelStyleClass="campo-texto-medio"
												 					   required="true"
												 					   requiredMessage="#{msgs['user.error.type.institution.required']}"
												 					   >  
											        <f:selectItems value="#{userBean.lstInstitutionType}"  id="idChkItemsInstitutions"
											        			   var="tipoIns"
											        			   itemValue="#{tipoIns.code}" itemLabel="#{tipoIns.value}"/>  
											    </p:selectCheckboxMenu>  
				        					</td>
				        				</tr>
				        			</table>
				        			</td>
				        			<td> 
				        				<p:message for="chkMenuInstType" display="icon" id="idMsgChkInstitutionType"/>
				        			</td>
				        		</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.responsibility']} (*)"  id="idOtxtUserMgmtResponsibility"
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboResponsability"
															 value="#{userBean.userAccountBean.responsability}"
															 label="#{msgs['user.lbl.responsibility']}"
															 styleClass="campo-texto-medio"> 
												<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}"  id="idCboItemUserMgmtResponsibility"/>
												<f:selectItems value="#{userBean.lstUserResponsability}" id="idCboItemsUserMgmtResponsibility"
															   var="respUsu"
															   itemValue="#{respUsu.idParameterPk}" itemLabel="#{respUsu.name}"/>
												<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message for="cboResponsability" display="icon" id="idMsgUserMgmtResponsibility"/>
										</h:panelGrid>
									</td>						 
									<td class="td-label-default"> 
										 <!-- <h:outputText value="#{msgs['user.lbl.mac.restriction']}"  id="idOtxtUserMgmtRestriction"/> -->
									</td>
									<td>
										<table> 
											<tr> 
												<td> 
													<p:selectBooleanCheckbox id="chkMacRestriction" 
																			 value="#{userBean.userAccountBean.macRestrictionBool}"
																			  rendered="#{false}">
														<p:ajax update="chkMacRestriction"
																process="@this"
																global="true" listener="#{userBean.clearMacRestriccion}"/>
													</p:selectBooleanCheckbox> 
												</td>
												<td> 
												  <h:panelGrid columns="2">
														<!--  <p:inputMask id="txtMacRestriction" 
																 value="#{userBean.userAccountBean.macAddress}"
																 mask="**-**-**-**-**-**" 
																 style="text-transform: uppercase"
																 styleClass="campo-texto-medio :sensitive-inputField"
					  								 			 disabled="#{!userBean.userAccountBean.macRestrictionBool}"
					  								 			 required="true"
																 requiredMessage="#{msgs['user.error.mac.required']}" immediate="true" >		
													</p:inputMask>
													<p:message for="txtMacRestriction" display="icon" id="idMsgUserMgmtRestriction"/> -->
													</h:panelGrid> 
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.name']} (*)"  id="idOtxtUserMgmtFullName"
													  styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="txtFullName"  autocomplete="off"
														 value="#{userBean.userAccountBean.fullName}"
														 style="width: 400px !important;"
														 styleClass="sensitive-inputField"
														 maxlength="100"
														 disabled="#{(userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code) || userBean.disabledName}"
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
					        					<p:ajax event="blur"
					        							listener="#{userBean.createLoginUserListener(true)}"
					        							update="txtLoginUser"
					        							global="false"/> 
											</p:inputText>
											<p:message for="txtFullName" display="icon" id="idMsgUserMgmtFullName"/>
										</h:panelGrid>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.first.name']} (*)"  id="idOtxtUserMgmtFirtsLastName"
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtFirstLastName"  autocomplete="off"
														 value="#{userBean.userAccountBean.firtsLastName}" 
														 styleClass="sensitive-inputField"
														 style="width: 400px !important;"
														 maxlength="100"
														 disabled="#{(userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code) || userBean.disabledName}"
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>	
					        					<p:ajax event="keyup"
					        							listener="#{userBean.createLoginUserListener(true)}"
					        							update="txtLoginUser"
					        							global="false"/> 
											</p:inputText>
											<p:message for="txtFirstLastName" display="icon" id="idMsgUserMgmtFirstLastName"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.second.name']}"  id="idOtxtUserMgmtSecondName"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
										<p:inputText id="txtSecondLastName"  autocomplete="off"
													 value="#{userBean.userAccountBean.secondLastName}"
													 styleClass="sensitive-inputField"
													 style="width: 400px !important;" onkeypress="onKeyPress();"
													 maxlength="100"
													 disabled="#{(userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code) || userBean.disabledName}"
													 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>	
				        					<p:ajax event="keyup"
				        							listener="#{userBean.createLoginUserListener(true)}"
				        							update="txtLoginUser"
				        							global="false"/> 
										</p:inputText>
										<p:message for="txtSecondLastName" display="icon" id="idMsgUserMgmtLastName"/>
										</h:panelGrid>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.documento']} (*)"  id="idOtxtUserMgmtDocType"
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">

										<p:selectOneMenu id="cboDocument"
														 value="#{userBean.userAccountBean.documentType}"
														 styleClass="campo-texto-medio" disabled="#{userBean.modify and !userInfo.userAccountSession.depositaryInstitution}"
														 label="#{msgs['user.lbl.documento']}">
											<f:selectItem  itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserMgmtDocType"/>
											<f:selectItems value="#{userBean.lstUserDocumentType}" id="idCboItemsUserMgmtDocType"
														   var="doc"
														   itemLabel="#{doc.value}" itemValue="#{doc.code}"/>
											<p:ajax update="@this txtDocumentNro msgcboDocument messageDocumentNumber" listener="#{userBean.validateTypeDocument}" />
											<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
										</p:selectOneMenu>
										<p:message id="msgcboDocument" for="cboDocument" display="icon"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.document.nro']} (*)"  id="idOtxtUserMgmtDocNo"
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtDocumentNro"  autocomplete="off" value="#{userBean.userAccountBean.documentNumber}"
															disabled="#{userBean.modify and !userInfo.userAccountSession.depositaryInstitution}"
														 maxlength="#{userBean.maxLenghtDocumentNumber}" label="#{msgs['user.lbl.document.nro']}" required="true">
													<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>														
													<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.DocumentTypeValidator"/>
													<p:ajax update="@this messageDocumentNumber " event="blur" process="@this" listener="#{userBean.validateExistTypeDocumentAndNumberDocument}"/>
													<p:keyFilter rendered="#{!(userBean.numericTypeDocument)}" regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
													<p:keyFilter rendered="#{userBean.numericTypeDocument}" mask="pint"/>	
													<f:attribute name="docType" value="#{userBean.userAccountBean.documentType}"/> 
											</p:inputText>
											<p:message id="messageDocumentNumber" for="txtDocumentNro" display="icon"/>
										</h:panelGrid>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.email']} (*)" 
													  id="idOtxtUserMgmtEmail"
													  styleClass="required-field  sensitive-inputField"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
										<p:inputText id="txtEmail"  autocomplete="off" disabled="#{userBean.modify and !userInfo.userAccountSession.depositaryInstitution}"
													 value="#{userBean.userAccountBean.idEmail}"
													 styleClass="sensitive-inputField email-inputField"
													 maxlength="100" style="width: 400px !important;"
													 size="60">
										</p:inputText>
										<p:message for="txtEmail" display="icon" id="idMsgUserMgmtEmail"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.phone']}" id="idOtxtUserMgmtPhone"/>
									</td>
									<td>
										<h:panelGrid columns="2"> 
										<p:inputText id="txtPhone"  autocomplete="off"
													 value="#{userBean.userAccountBean.phoneNumber}"
													 style="width:150px;"
													 maxlength="15">
											<p:keyFilter mask="pint"/>
										</p:inputText>
										<p:message for="txtPhone" display="icon" id="idMsgUserMgmtPhone"/>
										</h:panelGrid>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.external.interface']}" id="idOtxtExtInterface"/>
									</td>
									<td> 
										<p:selectBooleanCheckbox id="chkExtInterface" value="#{userBean.userAccountBean.extInterfaceBool}"/>
									</td>
								</tr>
								<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.register']}"  id="idOtxtUserMgmtRegUser"
					  								  rendered="#{userBean.modify}"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.registryUser}"  id="idItxtUserMgmtRegUser"
					  								 disabled="true"
					  								 rendered="#{userBean.modify}"/>
					  				</td>
					  				
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.register']}"  id="idOtxtUserMgmtRegDate"
					  								  rendered="#{userBean.modify}"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.registryDate}"  id="idItxtUserMgmtRegDate"
					  								 disabled="true"
					  								 rendered="#{userBean.modify}">
					  					    <f:convertDateTime pattern="#{msgs.dateFormat}"/>
					  					</p:inputText>
					  				</td>
					  			</tr>
								<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.last.modification']}"  id="idOtxtUserMgmtLastModifyUser"
					  								  rendered="#{userBean.modify}"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.lastModifyUser}"  id="idItxtUserMgmtLastModifyUser"
					  								 disabled="true"
					  								 rendered="#{userBean.modify}"/>
					  				</td>
					  				
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.last.modification']}"  id="idOtxtUserMgmtLastModifyDate"
					  								  rendered="#{userBean.modify}"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{userBean.userAccountBean.lastModifyDate}"  id="idItxtUserMgmtLastModifyDate"
					  								 disabled="true"
					  								 rendered="#{userBean.modify}">
					  						  <f:convertDateTime pattern="#{msgs.dateFormat}"/>
					  				    </p:inputText>
					  				</td>
					  			</tr>
					  			<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.document.register']}" rendered="#{userBean.register}"/>
					  				</td>
					  				<td> 
					  					<p:outputPanel id="opnlFileRegisterUser" styleClass="fileupload-customize" layout="block">
											<p:fileUpload  id="fuplformUser" widgetVar="fuplwUser"
											  			   label="#{msgs['fupl.label']}" mode="advanced" auto="true"
														   update="opnlFileRegisterUser, :opnlGenericDialogs"
														   fileUploadListener="#{userBean.fileUploadHandler}"
														   allowTypes="/(\.|\/)(pdf)$/"
						  								   sizeLimit="#{userBean.fUploadFileSize}"
														   invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}" 
														   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
														   rendered="#{userBean.register}">
											</p:fileUpload>
											<p:outputPanel rendered="#{userBean.register}">
												<script type="text/javascript">
													$(document).ready(function(){
														fileuploadValidate('fuplformUser');
													});
												</script>
											</p:outputPanel>
											<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon" 
															rendered="#{userBean.register}"/>
											<h:panelGrid columns="4">
												<p:tooltip for="imgLimit" rendered="#{userBean.register}">
													<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
														<f:param value="#{userBean.fUploadFileSize div 1000}"/>
														<f:param value="*.pdf" />			
													</h:outputFormat>
												</p:tooltip>
												<h:panelGrid id="opnlFileData" rendered="#{not empty userBean.userAccountBean.documentFile}" columns="3">
													<h:outputText id="otFileName" value="#{userBean.userAccountBean.fDisplayName}" style="vertical-align: none;"/>
													<p:commandLink id="cmlRemoveFile" styleClass="icon" 
																   update="opnlFileRegisterUser" global="false" 
																   process="@this" 
																   actionListener="#{userBean.removeDocumentFile}"
																   rendered="#{userBean.register}">		
														<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
													</p:commandLink>
													<p:commandLink id="cmlViewFile" styleClass="icon" process="@this" 
													update="opnlFileRegisterUser" global="false" ajax="false" 
													immediate="true" >
														<p:fileDownload value="#{userBean.userAccountBean.streamDocumentFile}"/>
														<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
													</p:commandLink>
												</h:panelGrid>
												<p:message for="fuplformUser" display="icon" rendered="#{userBean.register}"/>
											</h:panelGrid>
										</p:outputPanel>
					  				</td>
				  					<td colspan="4">
				  						<table width="100%" border="0">
				  							<tr>
						  						<td class="td-label-default" >
						  							<h:outputText value="#{msgs['user.lbl.is.recorder']}" />
						  						</td>
						  						<td >
						  							<p:selectBooleanCheckbox id="chkIsRecorder" value="#{userBean.blIsRecorder}" 
			        												 		 disabled="#{!userBean.userAccountBean.internalUser}">
			        									<p:ajax update="opTree" process="@this" listener="#{userBean.refreshExternalTree}"/>
			        								</p:selectBooleanCheckbox>
						  						</td>		
						  					
		        						
						  						<td class="td-label-default">
						  							<h:outputText value="#{msgs['user.lbl.is.commiter']}" />
						  						</td>
						  						<td>
						  							<p:selectBooleanCheckbox id="chkIsCommitter" value="#{userBean.blIsCommitter}"
			        												 		 disabled="#{!userBean.userAccountBean.internalUser}">
			        								</p:selectBooleanCheckbox>
						  						</td>
		        							</tr>
		        						</table>
		        					</td>
					  			</tr>
					  			
					  			<tr>
					  				<td colspan="4">
					  					<p:outputPanel id="opSubsidiary"  >
					  						<table width="100%" class="table-fields" border="0">
					  							<tr>
					  								<td class="td-label-default"> 
								        				<h:outputText value="#{msgs['subsidary.adm.subsidary.location']}"  id="idOtxtUserMgmtLocation" 
								        					 rendered="#{userBean.selectSubsidiary}" />
								        			</td>
								        			<td> 
								        				<p:selectOneMenu id="cboLocation" value="#{userBean.subsidiaryFilter.departament}" styleClass="campo-texto-medio" 
								        					 rendered="#{userBean.selectSubsidiary}" > 
									        					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									        					<f:selectItems value="#{userBean.lstDepartament}"
									        								   var="sub" itemValue="#{sub.idParameterPk}" itemLabel="#{sub.name}"/>
									        					<p:ajax listener="#{userBean.loadSubsidiariesByDepartament}"
									        							update="txtLoginUser cboSubsidiary" /> 
									        			</p:selectOneMenu>		
								        			</td>
								        			
									  				<td class="td-label-default"> 
								        				<h:outputText value="#{msgs['user.lbl.subsidiary']}"  id="idOtxtUserMgmtSubsidiary"
								        					 rendered="#{userBean.selectSubsidiary}" />
								        			</td>
								        			<td> 
								        				<p:selectOneMenu id="cboSubsidiary" value="#{userBean.userAccountBean.subsidiary.idSubsidiaryPk}" 
								        					styleClass="campo-texto-medio"  rendered="#{userBean.selectSubsidiary}" > 
									        					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									        					<f:selectItems value="#{userBean.lstSubsidiary}"
									        								   var="sub" itemValue="#{sub.idSubsidiaryPk}" itemLabel="#{sub.subsidiaryDescription}"/>
									        			</p:selectOneMenu>		
								        			</td>
					  							</tr>
					  						</table>
					  					</p:outputPanel>
					  				</td>					  				
				        			
					  			</tr>
					  			<tr>
					  				<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.office']}"/>
									</td>
									<td>
										<p:inputText id="txtOffice" autocomplete="off"
													 value="#{userBean.userAccountBean.office}"
													 styleClass="sensitive-inputField"
													 style="width: 400px !important;" onkeypress="onKeyPress();"
													 maxlength="100"													 
													 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">											
										</p:inputText>
									</td>
					  			</tr>
					  			
							</table>
						</p:fieldset> 
						</td>
					</tr>
					<tr> 
						<td>
							<p:outputPanel id="opTree">
							<p:fieldset id ="idTreePanel" legend="#{msgs['opt.adm.user.pnl.profile.details']}" rendered="#{not empty userBean.lstSystemProfile}">
								<table width="100%">
								<tr>
									<td>
										<p:fieldset id="idTreeEnabled" legend="#{msgs['opt.adm.user.pnl.profile.enableds']}">
											<div class="containter-tree-privilegios-wide-full" id="idDivProfileDetails">
												<p:tree id="treeProfiles" style="border:0;width:100%" value="#{userBean.treeProfilesRoot}" styleClass="#{userBean.disableTreeProfile?'not-clickable':''}"
														selection="#{userBean.nodesSystemProfilesSelected}" var="node" selectionMode="checkbox" >
													<p:ajax event="select" listener="#{userBean.onNodeSelect}" update=":frmUserAdministration:idTreeEnabled" />
													<p:ajax event="unselect" listener="#{userBean.onNodeUnSelected}" update=":frmUserAdministration:idTreeEnabled"/>
													<p:treeNode id="idTreeNodeProfiles">
														<h:outputText value="#{node.name}" id="idOtxtUserMgmtNodeName"/>
													</p:treeNode>
												</p:tree>
											</div>
										</p:fieldset>
									</td>
									<td>
									<p:fieldset id="idTreeAllowed" legend="#{msgs['opt.adm.user.pnl.profile.alloweds']}" rendered="#{userBean.showProfilesExtern}">
										<div class="containter-tree-privilegios-wide-full" id="idDivEnabledProfiles">
											<p:tree id="treeEnabledProfiles" style="border:0;" value="#{userBean.treeExternsProfiles}"
													selection="#{userBean.nodesExternsProfilesSelected}" var="node" selectionMode="checkbox">
													<p:ajax event="select"  update=":frmUserAdministration:idTreeAllowed" />
													<p:ajax event="unselect"  update=":frmUserAdministration:idTreeAllowed"/>
												<p:treeNode id="idTreeNodeEnabledsProfiles">
													<h:outputText value="#{node.name}" id="idEnabledNodeName"/>
												</p:treeNode>
											</p:tree>
										</div>
									</p:fieldset>
									</td>
								</tr>
								</table>
							</p:fieldset>
							</p:outputPanel> 
						</td>
					</tr>
					<tr> 
						<td> 
							<p:message id="msgTreeProfiles" for="treeProfiles"/>
							<p:message id="msgTreeAllowedProfiles" for="treeEnabledProfiles"/>
						</td>
					</tr>
		  		</table>
				<table width="100%" border="0">
				<tr> 
        			<td	align="center"> 
	        			<p:commandButton id="cmbSave" value="#{userBean.register ? msgs['btn.save'] : msgs['btn.modify']}" 
	        							 onclick="isModifiedFormForSave('#frmUserAdministration','frmUserAdministration:cmbProcessSave')"
										 rendered="#{userBean.modify}" icon="fa fa-save" type="button"/>
						&nbsp;&nbsp;			
						<p:commandButton id="cmbProcessSave" value="" style="display:none" ajax="true"  
										 update="frmUserAdministration,msgTreeProfiles,opnlDialogs,:opnlGenericDialogs"
										 actionListener="#{userBean.beforeUserRegistrationListener}" process="@form"/>
						&nbsp;&nbsp;
						<p:commandButton id="cmbProcessSave1" value="#{msgs['btn.save']}" ajax="true" icon="fa fa-save"
										 update="frmUserAdministration,msgTreeProfiles,opnlDialogs,:opnlGenericDialogs"
										 actionListener="#{userBean.beforeUserRegistrationListener}" rendered="#{userBean.register}" process="@form"/>
        				&nbsp;&nbsp;
        				<p:commandButton id="idCmdBtnUserMgmtBack" value="#{msgs['btn.back']}" type="button" icon="fa fa-undo" 
        								 onclick="isModifiedFormForBack('#frmUserAdministration','frmUserAdministration:cmbProcessBack')"/>
						&nbsp;&nbsp;
						<p:commandButton id="cmbProcessBack" value="" style="display:none" immediate="true"
										 action="search" ajax="false"/> 
        				&nbsp;&nbsp;
        				<p:commandButton id="cmbRebootPass" value="#{msgs['btn.reset.password']}"
        								 actionListener="#{userBean.beforePasswordRebootListener}"
        								 update="frmUserAdministration,:opnlGenericDialogs"
        								 rendered="#{userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code}"/>
        			    &nbsp;&nbsp;
        			    <p:commandButton id="cmbRebootMfa" value="#{msgs['btn.reset.mfa']}"
        								 actionListener="#{userBean.beforeMfaRebootListener}"
        								 update="frmUserAdministration,opnlDialogs,:opnlGenericDialogs "
        								 rendered="#{userBean.modify and userBean.userAccountBean.state==userBean.userAccountConfirmedStateType.code}"/>				 
						</td>
	        		</tr>
				</table>
				<p:outputPanel id="opnlDialogs">
				<p:confirmDialog id="cnfUserAdm" header="#{headerMessageView}"
								 severity="alert" widgetVar="cnfwUserAdm" visible="true" rendered="false" closable="false" message="#{bodyMessageView}">
					<p:commandButton id="cmbConfirm" 
									 value="#{msgs['btn.yes']}"
									 actionListener="#{userBean.saveUserListener}"
									 update="pnlUserInfo,msgTreeProfiles,:opnlGenericDialogs"
									 oncomplete="PF('cnfwUserAdm').hide();" >
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnUserMgmtNo"
									 actionListener="#{userBean.hideConfirmUser}" 
									 update="cboUserType,cboInstitutionType,cboInstitution,txtFullName,txtFirstLastName,txtSecondLastName,opnlDialogs,:opnlGenericDialogs"
									 oncomplete="PF('cnfwUserAdm').hide();"
									 immediate="true"/>

				</p:confirmDialog>				
				<p:confirmDialog id="cnfRebootPassword"
								 severity="alert"
								 header="#{msgs['lbl.header.alert.confirm']}"
								 rendered="false"
								 visible="true" closable="false"
								 widgetVar="cnfwRebootPassword">
					<f:facet name="message">
						<h:outputFormat
							value="#{msgs['user.confirm.reset.password']}">
							<f:param value="#{userBean.userAccountBean.loginUser}" id="idParamResetPwd"/>
						</h:outputFormat>
					</f:facet>		 
					<p:commandButton id="cmbReboot" 
									 value="#{msgs['btn.yes']}"
									 actionListener="#{userBean.passwordRebootListener}"
									 update="pnlUserInfo,msgTreeProfiles,:opnlGenericDialogs"
									 oncomplete="PF('cnfwRebootPassword').hide()">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnReBootPwdNo"
									 type="button" 
									 onclick="PF('cnfwRebootPassword').hide()"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="cnfRebootMfa"
								 severity="alert"
								 header="#{msgs['lbl.header.alert.confirm']}"
								 closable="false"
								 widgetVar="cnfwRebootMfa">
					<f:facet name="message">
						<h:outputFormat
							value="#{msgs['user.confirm.reset.mfa']}">
							<f:param value="#{userBean.userAccountBean.loginUser}" id="idParamResetMfa"/>
						</h:outputFormat>
					</f:facet>		 
					<p:commandButton id="cmbMfaYes" 
									 value="#{msgs['btn.yes']}"
									 actionListener="#{userBean.mfaRebootListener}"
									 update="pnlUserInfo,msgTreeProfiles,:opnlGenericDialogs"
									 oncomplete="PF('cnfwRebootMfa').hide()">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnReBootMfaNo"
									 type="button" 
									 onclick="PF('cnfwRebootMfa').hide()"/>
				</p:confirmDialog>
		  		</p:outputPanel>
		  		
			  </h:form>
			  

			  
       	</ui:define>
    </ui:composition>
</html>
