<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
			$(window).load(function(){
				setInitialFormState('#frmITRegister');
			});
		</script>
		<style type="text/css">
			fieldset legend {
				background: none !important;
				border: none !important;
				font-weight: bolder !important;
				font-size: 12px !important;
				color: #C4013B !important;
			}
		</style>
		<h:outputText id="idITRegisterTitle"
			value="#{external.interface.template.title}" styleClass="title-page" />
		<h:form id="frmITRegister">
			<p:outputPanel id="pnlITRegister">
				<table width="100%">
					<tr>
						<td>
							<p:fieldset id="fsGeneralDataITRegister" legend="#{msgs['external.interface.template.register']}">
								<table width="100%">
									<tr>
										<td width="30%">
											<h:outputText value="#{msgs['external.interface.template.id']}"/>
										</td>
										<td width="30%">
											<p:inputText id="idInterfaceTemplate" value="#{interfaceTemplateMgmt.externalInterfaceTemplate.idExtInferfaceTemplatePk}"
												disabled="true" required="true" />
										</td>
										<td>
											<p:message for="idInterfaceTemplate" display="icon" id="msgIdInterfaceTemplate"></p:message>
										</td>
									</tr>	
									<tr>
										<td width="30%">
											<h:outputText value="#{msgs['external.interface.template.registryDate']}"/>
										</td>
										<td width="30%">
											<p:calendar id="registryDateInterfaceTemplate" value="#{interfaceTemplateMgmt.externalInterfaceTemplate.registerDate}" readonlyInput="true" 
												 readonly="#{facesContext.renderResponse}" pattern="#{msgs['dateFormat']}" navigator="true" disabled="true">
											</p:calendar> 
										</td>
										<td>
											<p:message for="registryDateInterfaceTemplate" display="icon" id="msgRegistryDateInterfaceTemplate"></p:message>
										</td>
									</tr>
									<tr>
										<td width="30%">
											<h:outputText value="#{msgs['external.interface.template.name']} (*)" styleClass="required-field"/>
										</td>
										<td width="30%">									
											<p:inputText id="nameInterfaceTemplate"	value="#{interfaceTemplateMgmt.externalInterfaceTemplate.templateName}"
												required="true" size="40" disabled="#{!interfaceTemplateMgmt.viewOperationRegister and !interfaceTemplateMgmt.viewOperationModify}"/>
										</td>
										<td>
											<p:message for="nameInterfaceTemplate" display="icon" id="msgNameInterfaceTemplate"></p:message>
										</td>
									</tr>
									<tr>
										<td width="30%">
											<h:outputText value="#{msgs['external.interface.template.description']} (*)" styleClass="required-field"/>
												</td>
										<td width="30%">									
											<p:inputText id="descriptionInterfaceTemplate" value="#{interfaceTemplateMgmt.externalInterfaceTemplate.templateDescription}"
												required="true" size="80" disabled="#{!interfaceTemplateMgmt.viewOperationRegister and !interfaceTemplateMgmt.viewOperationModify}"/>
										</td>
										<td>
											<p:message for="descriptionInterfaceTemplate" display="icon" id="msgDescriptionInterfaceTemplate"></p:message>
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:fieldset legend="#{msgs['external.interface.template.templateData.title']}" id="flstTemplateStruncture">
								<p:outputPanel rendered="#{interfaceTemplateMgmt.viewOperationRegister or interfaceTemplateMgmt.viewOperationModify}">
									<table  width="100%" >
										<tr>
											<td width="30%">
												<h:outputText value="#{msgs['external.interface.template.structure.detailType']}"/>
											</td>
											<td>		
												<p:selectOneMenu id="cboTemplateStructure" value="#{interfaceTemplateMgmt.detailTemplateTypeSelected.parameterTablePk}">																 
													<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
													<f:selectItems value="#{interfaceTemplateMgmt.detailsTemplateType}" var="detailType"
																   itemValue="#{detailType.parameterTablePk}" itemLabel="#{detailType.parameterName}"/>		
												</p:selectOneMenu>
											</td>
										</tr>
										<tr>
											<td width="30%">
												<h:outputText value="#{msgs['external.interface.template.structure.numberDetails']}"/>													
											</td>
											<td>
												<p:inputText id="detailsInterfaceTemplate" value="#{interfaceTemplateMgmt.numberOfDetails}" 
														 styleClass="content-right" maxlength="2">	
													<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
												</p:inputText>											
											</td>
										</tr>
										<tr>
											<td width="30%"></td>
											<td>
												<p:commandButton id="idCmdBtnAddTemplateStructure" actionListener="#{interfaceTemplateMgmt.addToTemplateStructure}" 
													process="@this, cboTemplateStructure, detailsInterfaceTemplate" update="flstTemplateStruncture" icon="ui-add"/>
												<p:tooltip for="idCmdBtnAddTemplateStructure">
													<h:outputFormat value="#{msgs['external.interface.template.structure.add']}" escape="false"/>  
												</p:tooltip>&nbsp;
												<p:commandButton id="idCmdBtnCleanTemplateStructure" actionListener="#{interfaceTemplateMgmt.cleanTemplateStructure}" 
													process="@this" icon="fa fa-trash" update="flstTemplateStruncture" />
												<p:tooltip for="idCmdBtnCleanTemplateStructure">
													<h:outputFormat value="#{msgs['external.interface.template.structure.clean']}" escape="false"/>  
												</p:tooltip>
											</td>
										</tr>
									</table>
								</p:outputPanel>								
								<table  width="100%" >
									<tr>
										<td width="30%" valign="top">
											<h:outputText value="#{msgs['external.interface.template.structure']} (*)"
												styleClass="required-field" />													
										</td>
										<td>
											<p:orderList value="#{interfaceTemplateMgmt.externalInterfaceTemplate.extInterfaceTemplateDetails}" var="item"
											required="true" styleClass="required-field content-center" itemValue="#{item}" 
											id="structureInterfaceTemplate" controlsLocation="right" converter="primeFacesOrderListConverter"
											disabled="#{!interfaceTemplateMgmt.viewOperationRegister and !interfaceTemplateMgmt.viewOperationModify}">
												<f:facet name="caption">
													<h:outputText value="#{msgs['external.interface.template.structure']}"
														styleClass="required-field"/>														
												</f:facet>
												<p:column>
													#{item.description}
												</p:column>	
											</p:orderList>	
											<p:message for="structureInterfaceTemplate" display="icon" id="msgStructureInterfaceTemplate"></p:message>											
										</td>
									</tr>			
								</table>															
							</p:fieldset>
						</td>
					</tr>
				</table>
			</p:outputPanel>
			<p:outputPanel id="pnlButtons">
				<table width="100%">
					<tr>
						<td align="center">
						
							<p:commandButton id="idCmdBtnSave" value="#{msgs['btn.grabar']}" icon="fa fa-save" process="@this,fsGeneralDataITRegister"  
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeSaveInterfaceTemplate}"
							rendered="#{interfaceTemplateMgmt.viewOperationRegister}"/>				
															
							<p:commandButton id="idModify" value="#{msgs['btn.modify']}" icon="ui-edit" process="@this, fsGeneralDataITRegister"
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeModifyInterfaceTemplate}"
							rendered="#{interfaceTemplateMgmt.viewOperationModify}"/>
							
							<p:commandButton value="#{msgs['btn.annular']}" icon="ui-anulate"  process="pnlButtons"
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeAnnularInterfaceTemplate}"
							rendered="#{interfaceTemplateMgmt.viewOperationAnnul}"/>
										 
							<p:commandButton value="#{msgs['btn.confirm']}" icon="ui-confirm" process="pnlButtons"
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeConfirmInterfaceTemplate}" 
							rendered="#{interfaceTemplateMgmt.viewOperationConfirm}"/>
							
							<p:commandButton value="#{msgs['btn.block']}" icon="ui-block" process="pnlButtons"
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeBlockInterfaceTemplate}" 
							rendered="#{interfaceTemplateMgmt.viewOperationBlock}"/>
							
							<p:commandButton value="#{msgs['btn.unblock']}" icon="ui-unlock" process="pnlButtons"
							update="pnlITRegister,pnlDialogsCustomized,:opnlGenericDialogs" 
							actionListener="#{interfaceTemplateMgmt.beforeUnblockInterfaceTemplate}" 
							rendered="#{interfaceTemplateMgmt.viewOperationUnBlock}"/>
							
							<p:commandButton id="cmdClean" value="#{msgs['btn.clean']}" immediate="true" process="@this" update="@form" icon="fa fa-trash"
							actionListener = "#{interfaceTemplateMgmt.resetInterfaceTemplate}"
							rendered="#{interfaceTemplateMgmt.viewOperationRegister}"/>
							
							<p:commandButton id="cmdBack" value="#{msgs['btn.back']}" action="search" actionListener="#{interfaceTemplateMgmt.interfaceTemplateConsultHandler}" icon="fa fa-undo" process="@this" ajax="false" immediate="true"
							onclick="if(isModifiedFormForBack('#frmITRegister'))return false;"/>	
							
						</td>
					</tr>
				</table>
			</p:outputPanel>
			<p:outputPanel id="pnlDialogsCustomized">
				
				<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}" action="search.xhtml" 
						ajax="false" immediate="true" process="@this" update="@form"/>
				</p:confirmDialog>
								
				<p:confirmDialog id="cdSaveInterfaceTemplate" widgetVar="wrConfirmSaveInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmSaveInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.saveInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmSaveInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
																				
				<p:confirmDialog id="cdModifyInterfaceTemplate" widgetVar="wrConfirmModifyInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmModifyInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.modifyInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmModifyInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="cdConfirmInterfaceTemplate" widgetVar="wrConfirmConfirmInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmConfirmInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.confirmInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmConfirmInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="cdAnnularInterfaceTemplate" widgetVar="wrConfirmAnnularInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmAnnularInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.annularInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmAnnularInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="cdBlockInterfaceTemplate" widgetVar="wrConfirmBlockInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmBlockInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.blockInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmBlockInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="cdUnblockInterfaceTemplate" widgetVar="wrConfirmUnblockInterfaceTemplate" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmUnblockInterfaceTemplate').hide();"
					 actionListener="#{interfaceTemplateMgmt.unblockInterfaceTemplate}" update="@form"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmUnblockInterfaceTemplate').hide();" type="button"/>
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
</html>
