<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">	
		<h:outputText value="#{msgs['external.interface.template.title']}"  styleClass="title-page"/>
		<h:form id="formInterfaceTempleSearch">
			<table width="100%">
				<tr>
					<td align="right">
						<p:commandButton process="@this" immediate="true" value="#{msgs['btn.registrar']}" update=":opnlGenericDialogs" 
						action="#{interfaceTemplateMgmt.interfaceTemplateRegisterHandler}" icon="fa fa-edit" 
						rendered="#{(userInfo.userAcctions.register)}"/>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['external.interface.template.search']}" id="flstInterfaceTemplateSearch">
							<table width="100%">
								<tr>
									<td width="150">
										<h:outputText value="#{msgs['external.interface.template.id']}"/>
									</td>
									<td width="200" colspan="3">
										<p:inputText size="20" id="idInterfaceTemplateSearch" value="#{interfaceTemplateMgmt.interfaceTemplateSearch.id}" />
									</td>
								</tr>
								<tr>
									<td width="150">
										<h:outputText value="#{msgs['external.interface.template.name']}"/>
									</td>
									<td width="200" colspan="3">
										<p:inputText size="40" id="nameInterfaceTemplateSearch" value="#{interfaceTemplateMgmt.interfaceTemplateSearch.name}"/>
									</td>
								</tr>
								<tr>
									<td width="150">
										<h:outputText value="#{msgs['external.interface.template.description']}"/>
									</td>
									<td width="200" colspan="3">
										<p:inputText size="80" id="descriptionInterfaceTemplateSearch" value="#{interfaceTemplateMgmt.interfaceTemplateSearch.description}"/>
									</td>
								</tr>
								<tr>
									<td width="150">
										<h:outputText value="#{msgs['external.interface.template.state']} (*)" styleClass="required-field"/>
									</td>
									<td width="200">
										<h:panelGrid columns="2">
											<p:selectOneMenu value="#{interfaceTemplateMgmt.interfaceTemplateSearch.stateType}" id="stateSearch"
											required="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
												<f:selectItems value="#{interfaceTemplateMgmt.stateTemplateType}" var="state" 
												itemLabel="#{state.parameterName}" itemValue="#{state.parameterTablePk}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>
											</p:selectOneMenu>
											<p:message for="stateSearch" display="icon" id="idStateSearch"></p:message>										
										</h:panelGrid>			
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{msgs['btn.buscar']}" process="flstInterfaceTemplateSearch" update="@form,:opnlGenericDialogs" 
										actionListener="#{interfaceTemplateMgmt.searchInterfaceTemplate}" icon="fa fa-search" rendered="#{(userInfo.userAcctions.search)}" />
										<p:commandButton id="cmdLimpiar" value="#{msgs['btn.limpiar']}" update="@form" 
										actionListener="#{interfaceTemplateMgmt.resetInterfaceTemplate}" icon="fa fa-trash" />
									</td>
								</tr>
							</table>
						</p:fieldset>						
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlButtons">
						<comp:privileges id="praderaPrivileges" rendered="#{(interfaceTemplateMgmt.interfaceTemplateListSearch.rowCount > 0)}"
							 actionModify="#{interfaceTemplateMgmt.interfaceTemplateModifyHandler}"
							 actionConfirm="#{interfaceTemplateMgmt.interfaceTemplateComfirmHandler}"
							 actionAnnular="#{interfaceTemplateMgmt.interfaceTemplateAnnularHandler}"
							 actionBlock="#{interfaceTemplateMgmt.interfaceTemplateBlockHandler}"
							 actionUnblock = "#{interfaceTemplateMgmt.interfaceTemplateUnblockHandler}"
							 actions="#{userInfo.userAcctions}"
							 renders="#{userInfo.privilegeComponent}"/>
						 </p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset id="idFldsSearchResults" legend="#{msgs['btn.msg.results']}" rendered="#{not empty interfaceTemplateMgmt.interfaceTemplateListSearch}">
							<p:dataTable id="dtbSearchResults" var="row" 
							styleClass="myTable" 
							value="#{interfaceTemplateMgmt.interfaceTemplateListSearch}"
							rendered="#{(interfaceTemplateMgmt.interfaceTemplateListSearch.rowCount > 0)}" 
							paginator="true" 
							rows="10" 
							paginatorPosition="top"
							rowKey="#{row.id}" 
							resizableColumns="true"	
							selection="#{interfaceTemplateMgmt.interfaceTemplateSearchSelected}" 
							rowsPerPageTemplate="5,10,15" 
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}">
								<p:columnGroup type="header" id="idClmGroupSearchResults" >
									<p:row id="rowSearchResults">
										<p:column headerText="#{msgs['external.interface.template.search.sel']}" id="idClmSel" width="20"/>
										<p:column headerText="#{msgs['external.interface.template.search.id']}" id="idClmSearchId" width="50"/>
										<p:column headerText="#{msgs['external.interface.template.registryDate']}" id="idClmRegisterDate" width="80"/>
										<p:column headerText="#{msgs['external.interface.template.name']}" id="idClmSearchName" width="70"/>
										<p:column headerText="#{msgs['external.interface.template.description']}" id="idClmSearchDescription"  width="150"/>										
										<p:column headerText="#{msgs['external.interface.template.state']}" id="idClmState" width="70"/>
									</p:row>
								</p:columnGroup>
								
								<p:column styleClass="content-center" selectionMode="single" id="idClmSelectionMode"></p:column>

								<p:column styleClass="content-center" id="idClmInterfaceTemplateId" >
									<p:commandLink id="idCmdLinkInterfaceTemplateId" value="#{row.id}" style="color:blue" process="@this" ajax="false" 
									action="#{interfaceTemplateMgmt.interfaceTemplateDetailHandler(row.id)}">
									</p:commandLink>
								</p:column>
								
								<p:column styleClass="content-center" id="idClmInterfaceTemplateRegisterDate" >
									<h:outputText value="#{row.registerDate}" id="idOtxtInterfaceTemplateRegisterDate">
										<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
								</p:column>
							
								<p:column width="20" id="idClmInterfaceTemplateName" >
									<h:outputText value="#{row.name}" id="idOtxtInterfaceTemplateName"/>
								</p:column>
								
								<p:column width="80" id="idClmInterfaceTemplateDescription" >
									<h:outputText value="#{row.description}" id="idOtxtInterfaceTemplatedescription"/>
								</p:column>
								
								<p:column styleClass="content-center" id="idClmInterfaceTemplateSate" >
									<h:outputText value="#{row.stateTypeValue}" id="idOtxtInterfaceTemplateState" />
								</p:column>
							
								<f:facet name="footer">  
 			                  		<h:outputLabel value="#{msgs['external.interface.template.search.total']}"  id="totalSearchResult"/>
									<h:outputLabel value="#{interfaceTemplateMgmt.interfaceTemplateListSearch.size}"  id="sizeSearchResult"/>
								</f:facet> 							
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{(1 > interfaceTemplateMgmt.interfaceTemplateListSearch.rowCount)}"
							   styleClass="required-field"/>
						</p:fieldset>			
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs"></p:outputPanel>
	</ui:define>
</ui:composition>
</html>