<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<script type="text/javascript">
				$(window).load(function(){
					setInitialFormState('#frmExternalInterfaceMgmt');
				});
			</script>
			<style type="text/css">
				fieldset legend {
					background: none !important;
					border: none !important;
					font-weight: bolder !important;
					font-size: 12px !important;
					color: #C4013B !important;
				}
				.no-style{
					-moz-box-shadow: none !important;
					-webkit-box-shadow: none !important;
					box-shadow: none !important;
					padding: 2px 8px !important;
				}
				#frmExternalInterfaceMgmt\:dtbExternalInterfaceTables label.ui-selectonemenu-label{
					-moz-box-shadow: none !important;
					-webkit-box-shadow: none !important;
					box-shadow: none !important;
					padding: 2px !important;
				}
				.dtbWithoutHeaders th.ui-state-default{
					display:none !important;
				}
				.icon-label{
					width: 15px !important;
					height: 15px !important;
					float: right !important;
				}
				.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox .ui-widget {
				     display: none !important;
				}
				.ui-timepicker-div .ui-widget-header{
					display: none !important;
				}
								
			</style>
			<h:outputText value="#{msgs['external.interface.register.title']}" styleClass="title-page"/>
			<h:form id="frmExternalInterfaceMgmt">
				<table width="100%">
					<tr>
						<td>
							<p:fieldset legend="#{msgs['external.interface.fls.generic']}" id="flsGenericExternalInterface">
								<table width="100%">
									<ui:include src="separatorTables.xhtml" />
									<tr>
										<td>
											<h:outputText value="#{msgs['external.interface.generic.name']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText label="#{msgs['external.interface.generic.name']}" required="true" 
											 	validator="inputRequiredValidator" id="txtInterfaceName"
												value="#{externalInterfaceMgmt.externalInterfaceSession.interfaceName}" size="50"
											 	disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}"/>
												<p:message display="icon" for="txtInterfaceName"/>
											</h:panelGrid>
										</td>
										<td>
											<h:outputText value="#{msgs['external.interface.generic.register.date']}" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText disabled="true" value="#{externalInterfaceMgmt.externalInterfaceSession.registryDate}">
													<f:convertDateTime pattern="#{msgs['dateMonthYear']}"/>
												</p:inputText>
											</h:panelGrid>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['external.interface.generic.file.name']} (*)" styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText label="#{msgs['external.interface.generic.file.name']}" required="true" validator="inputRequiredValidator" 
											 	id="txtInterfaceFileName" value="#{externalInterfaceMgmt.externalInterfaceSession.fileName}" size="20" maxlength="20"
											 	disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}"/>
												<p:message display="icon" for="txtInterfaceFileName"></p:message>
											</h:panelGrid>
										</td>
										<td>
											<h:outputText value="#{msgs['external.interface.generic.execution.type']} (*)" styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu value="#{externalInterfaceMgmt.externalInterfaceSession.executionType}" id="txtInterfaceExecution" 
											 	label="#{msgs['external.interface.generic.execution.type']}"
											 	disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
													<f:selectItems value="#{externalInterfaceMgmt.executionTypeParameterList}" var="execType"
																	itemLabel="#{execType.parameterName}" itemValue="#{execType.parameterTablePk}"/>
													<p:ajax event="change" listener="#{externalInterfaceMgmt.changeExecutionType}"
													update="periodicity"/>
													<f:validator validatorId="selectOneRequiredValidator"/>
												</p:selectOneMenu>
												<p:message display="icon" for="txtInterfaceExecution"/>
											</h:panelGrid>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['external.interface.generic.periodicity']} (*)" styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:calendar id="periodicity" value="#{externalInterfaceMgmt.externalInterfaceSession.sendPeriocity}" pattern="HH:mm" timeOnly="true" 
												minHour="18" readonlyInput="true" showOn="button" required="true"
												disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify or !externalInterfaceMgmt.activeSendPeriodicity}"/>
												<p:message for="periodicity" display="icon" id="idMsgPeriodicity"></p:message>
											</h:panelGrid>
										</td>		
										<td>
											<h:outputText value="#{msgs['external.interface.format.ind.empty.data']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<p:selectOneRadio value="#{externalInterfaceMgmt.externalInterfaceSession.indEmptySend}"
											disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}">
												<f:selectItems value="#{externalInterfaceMgmt.booleanTypeList}" var="booleanType"
															   itemLabel="#{booleanType.value}" itemValue="#{booleanType.code}"/>												
											</p:selectOneRadio>
										</td>								
									</tr>
									<tr>
										<td valign="top">
											<h:outputText value="#{msgs['external.interface.generic.description']}"/>
										</td>
										<td colspan="3">
											<h:panelGrid columns="2">
												<p:inputText size="120" id="txtInterfaceDescription" 
												value="#{externalInterfaceMgmt.externalInterfaceSession.description}"
												disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}"/>
											</h:panelGrid>
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:fieldset legend="#{msgs['external.interface.fls.format']}" id="flsFormatExternalInterface">
								<table width="100%">
									<ui:include src="separatorTables.xhtml"/>
									<tr>
										<td>
											<h:outputText value="#{msgs['external.interface.format.template']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu value="#{externalInterfaceMgmt.externalInterfaceSession.externalInterfaceTemplate.idExtInferfaceTemplatePk}"
												label="#{msgs['external.interface.format.template']}" id="selDetailTemplate"
												disabled="#{!externalInterfaceMgmt.viewOperationRegister}">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
													<f:selectItems value="#{externalInterfaceMgmt.interfaceTemplateList}" var="template"
													itemLabel="[#{template.idExtInferfaceTemplatePk}] #{template.templateName}" itemValue="#{template.idExtInferfaceTemplatePk}"/>
												   	<p:ajax event="change" process="@this" update="flsQueryGenerate,flsQueryFilters" listener="#{externalInterfaceMgmt.changeInterfaceTemplate}"/>
												   	<f:validator validatorId="selectOneRequiredValidator"/>
												</p:selectOneMenu>
												<p:message display="icon" for="selDetailTemplate"/>
											</h:panelGrid>
										</td>
										<td>
											<h:outputText value="#{msgs['external.interface.format.ind.webservice']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<p:selectOneRadio value="#{externalInterfaceMgmt.externalInterfaceSession.indAccessWebservice}"
											disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}">
												<f:selectItems value="#{externalInterfaceMgmt.booleanTypeList}" var="booleanType"
															   itemLabel="#{booleanType.value}" itemValue="#{booleanType.code}"/>												
											</p:selectOneRadio>
										</td>
									</tr>
									<tr>
										<td valign="top" colspan="2">
											<table width="100%">
												<tr>
													<td valign="top" width="27%">
														<h:outputText value="#{msgs['external.interface.format.extensión.type']} (*)" styleClass="required-field"/>
													</td>
													<td valign="top" width="63%">
														<p:selectCheckboxMenu value="#{externalInterfaceMgmt.externalInterfaceSession.interfaceExtensionsSelected}"
														label="#{msgs['external.interface.format.extensión.type']}" panelStyle="width:200px">															
													        <f:selectItems value="#{externalInterfaceMgmt.extensionTypeList}" var="extension"
													        itemLabel="#{extension.extensionFileType.extensionFile}"
			                                   				itemValue="#{extension.extensionFileType.extensionFile}"
			                                   				itemDisabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}"/>
			                                   				<p:ajax event="change" process="@this" update="flsFormatExternalInterface"
								                            listener="#{externalInterfaceMgmt.activeSeparatorAttribute}" /> 
													    </p:selectCheckboxMenu>	
													</td>
												</tr>
												<tr>
													<td  width="27%">
														<h:outputText value="#{msgs['external.interface.separator.attribute']} (*)" styleClass="required-field"
														rendered="#{externalInterfaceMgmt.activateSeparatorAttribute}"/>
													</td>
													<td width="63%">
														<h:panelGrid columns="2" rendered="#{externalInterfaceMgmt.activateSeparatorAttribute}">
															<p:inputText label="#{msgs['external.interface.separator.attribute']}" required="true" 
															 validator="inputRequiredValidator" id="txtInterfaceSeparator" styleClass="scapeAll-inputField"
															 value="#{externalInterfaceMgmt.externalInterfaceSession.separatorAttribute}" size="50"
															 disabled="#{!externalInterfaceMgmt.viewOperationRegister and !externalInterfaceMgmt.viewOperationModify}"/>
															<p:message display="icon" for="txtInterfaceSeparator"></p:message>
														</h:panelGrid>
													</td>
												</tr>
											</table>
										</td>
										<td valign="top">
											<h:outputText value="#{msgs['external.interface.format.user.type']} (*)" styleClass="required-field"/>
										</td>
										<td valign="top">											
											<p:selectCheckboxMenu value="#{externalInterfaceMgmt.externalInterfaceSession.interfaceUserTypesSelected}"
											label="#{msgs['external.interface.format.user.type']}" panelStyle="width:300px">  
										        <f:selectItems value="#{externalInterfaceMgmt.userTypeList}" var="userType"
										        itemLabel="#{userType.userTypeDescription}"
                                   				itemValue="#{userType.userTypeDescription}"
                                   				itemDisabled="#{!externalInterfaceMgmt.viewOperationRegister}"/>
                                   				<p:ajax event="change" process="@this" /> 
										    </p:selectCheckboxMenu>
										</td>
									</tr>						
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:fieldset legend="#{msgs['external.interface.fls.query']}" id="flsQueryGenerate">
							
								<p:outputPanel rendered="#{not empty externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected}">
									<ui:include src="externalInterfaceInputDlg.xhtml"/>
								</p:outputPanel>
								<p:outputPanel rendered="#{not empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}">					
									<ui:include src="externalInterfacePreview.xhtml"/>
								</p:outputPanel>
								
								<table width="100%">
									<ui:include src="separatorTables.xhtml" />
									<tr>
										<td valign="top">
											<h:outputText value="#{msgs['external.interface.query.template']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<p:scrollPanel  id="dtbTemplateDetail" style="height:100px;width:300px;background: rgba(216, 216, 216, 1);border-radius:0;" mode="native">
					 							<p:dataTable value="#{externalInterfaceMgmt.externalInterfaceSession.externalInterfaceTemplate.extInterfaceTemplateDetails}" var="detail" 
					 							rendered="#{not empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceTemplate.extInterfaceTemplateDetails}"
					 							styleClass="dtbWithoutHeaders" style="width:99%">		
					 								<p:column>
					 									<h:outputText value="[#{detail.orderPriority}] #{detail.description}"/>
					 									<p:outputLabel styleClass="ui-approve icon-label" rendered="#{detail.containQuery}" />	 
					 								</p:column>
					 								<p:column styleClass="content-center" style="width:15px;"
					 								rendered="#{externalInterfaceMgmt.viewOperationRegister}">
					 									<p:commandButton icon="ui-edit" process="@this" actionListener="#{externalInterfaceMgmt.editExternalInterfaceQuery(detail)}" 
					 									update=":frmExternalInterfaceMgmt:flsQueryGenerate"
														disabled="#{externalInterfaceMgmt.activateFiltersQuery}"/>						 																																						
					 								</p:column>
					 							</p:dataTable>
											</p:scrollPanel>
										</td>
										<p:outputPanel>
											<td valign="top">
												<h:outputText value="#{msgs['external.interface.query.actions']}"/>
											</td>
											<td valign="top">
												<p:commandButton icon="ui-show" value="#{msgs['external.interface.preview.title']}" process="@this" ajax="true"
												update="pnlExternalInterfaceFilterPreview"
												actionListener="#{externalInterfaceMgmt.interfacePreviewDialogHandler}"
												disabled="#{empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}"/>
												
												<p:outputPanel rendered="#{externalInterfaceMgmt.viewOperationRegister}">
													<p:commandButton icon="ui-confirm" value="#{msgs['external.interface.query.add.filters']}" process="@this"
													update="flsQueryGenerate,flsQueryFilters,:opnlGenericDialogs" actionListener="#{externalInterfaceMgmt.addFiltersToQuery}"
													rendered="#{not empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}"
													disabled="#{externalInterfaceMgmt.activateFiltersQuery}"/>	
												</p:outputPanel>												
											</td>
										</p:outputPanel>								
									</tr>
									<p:outputPanel	id="pnlDetailTemplateQuery"
									rendered="#{not empty externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected}">
										<tr>
											<td colspan="4">
												<hr/>
											</td>
										</tr>	
										<tr>
											<td>
												<h:outputText value="#{msgs['external.interface.detail.selected']}"/>
											</td>
											<td>
												<p:inputText value="[#{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected.interfaceTemplateDetail.orderPriority}] #{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected.interfaceTemplateDetail.description}" 
												disabled="true"/>
											</td>	
											<td>
												<h:outputText value="#{msgs['external.interface.query.form']}"/>
											</td>
											<td>
												<p:outputPanel id="pnlButtonsQuery">
												
													<p:commandButton icon="ui-textList" value="#{msgs['external.interface.query.form.query']}" process="@this"
											 		actionListener="#{externalInterfaceMgmt.loadFormQueryDialog}" 
											 		update="pnlInterfaceInput"/>
											 		
				 									<p:commandButton icon="ui-viewList" value="#{msgs['external.interface.query.form.tables']}" 
				 									process="@this,flsGenericExternalInterface,flsFormatExternalInterface" 
				 									update="frmExternalInterfaceMgmt" action="#{externalInterfaceMgmt.externalInterfaceTableHandler}"/>				
												</p:outputPanel>
											</td>									
										</tr>													
										<p:outputPanel rendered="#{not empty externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected.externalInterfaceTables}">	
											<tr>										
												<td colspan="4">
													<p:outputPanel id="pnlExternalInterfaceTables">
														<br/>
														<p:scrollPanel style="width:1020px;background: rgba(216, 216, 216, 1);border-radius:0;" mode="native">
															<p:dataTable id="dtbExternalInterfaceTables" var="table"
															value="#{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected.externalInterfaceTables}">																
																<p:columnGroup type="header">
																	<p:row>
																		<p:column headerText="#{msgs['external.interface.datable.visible']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.colum']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.alias']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.origin.type']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.target.type']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.tam.max']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.decimal.places']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.date.formate']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.default.value']}"/>
																		<p:column headerText="#{msgs['external.interface.datable.parameter']}" />
																	</p:row>
																</p:columnGroup>
																
																<p:subTable var="column" value="#{table.externalInterfaceColumns}">
																	<f:facet name="header" >
																		<h:outputText value="#{table.tableName}"/>													              	 
														            </f:facet>
																	<p:column styleClass="content-center">
																		<p:selectBooleanCheckbox  value="#{column.isSelected}"/>
																	</p:column>																  
																	<p:column>
																		<h:outputText value="#{column.columnName}"/>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:inputText value="#{column.columnNameAlias}" styleClass="no-style" id="txtColumnNameAlias"
																		required="true"/>
																	</p:column>
																	<p:column styleClass="content-center">
																		<h:outputText value="#{column.typeOriginValue}"/>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:selectOneMenu value="#{column.dataTypeTarget}" id="cboColumnType" required="true">
																			<f:selectItem itemLabel="#{msgs['external.interface.selected']}"/>
																			<f:selectItems value="#{externalInterfaceMgmt.columnTypeParameterList}" var="columnType" 
																			itemLabel="#{columnType.parameterName}" itemValue="#{columnType.parameterTablePk}"/>
																		</p:selectOneMenu>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:inputText  value="#{column.length}" styleClass="content-right no-style" maxlength="3" id="txtColumnLength"
																		required="true" size="4"> 
																			<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
																		</p:inputText>																	
																	</p:column>
																	<p:column styleClass="content-center"> 
																		<p:inputText  value="#{column.decimalQuantity}" styleClass="content-right no-style" maxlength="2" 
																		id="txtDecimalQuantity"	size="4">
																			<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
																		</p:inputText>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:selectOneMenu value="#{column.formatValue}" id="txtInterfaceFormatDate">
																			<f:selectItem itemLabel="#{msgs['external.interface.selected']}"/>
																			<f:selectItems value="#{externalInterfaceMgmt.extInterfaceFormatDateParameterList}" var="formatType"
																			itemLabel="#{formatType.parameterName}" itemValue="#{formatType.parameterTablePk}"/>
																		</p:selectOneMenu>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:inputText value="#{column.defaultValue}" styleClass="content-center no-style" size="4"/>
																	</p:column>
																	<p:column styleClass="content-center">
																		<p:selectBooleanCheckbox  value="#{column.isParameterTable}"/>
																	</p:column>
																</p:subTable>
															</p:dataTable>		
														</p:scrollPanel>																																								
													</p:outputPanel>													
												</td>
											</tr>
											<tr>
												<td colspan="4" align="right">
													<br/>
													<p:commandButton icon="ui-approve" value="#{msgs['external.interface.query.apply']}" process="@this,flsQueryGenerate"
													update="flsQueryGenerate" actionListener="#{externalInterfaceMgmt.applyQueryToDetailTemplate}"/>													
												</td>
											</tr>
										</p:outputPanel>
									</p:outputPanel>																		
								</table>
							</p:fieldset>	
						</td>
					</tr>
					<tr>
						<td>
							<p:outputPanel id="pnlExternalPredicateDialog">
								<p:outputPanel rendered="#{not empty externalInterfaceMgmt.interfaceAttributes.tableFilterList}" >								
									<ui:include src="externalPredicateDialog.xhtml" />
								</p:outputPanel>
							</p:outputPanel>							
							
							<p:fieldset legend="#{msgs['external.interface.filters.title']}" id="flsQueryFilters">
							
								<p:outputPanel rendered="#{not empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}">
									<ui:include src="externalInterfaceFilterPreview.xhtml"/>
								</p:outputPanel>
								
								
								<table width="100%">
									<ui:include src="separatorTables.xhtml" />
									<tr>
										<td valign="top">
											<h:outputText value="#{msgs['external.interface.filters.filters']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<p:scrollPanel  style="height:100px;width:300px;background: rgba(216, 216, 216, 1);border-radius:0;" mode="native">
					 							<p:dataTable value="#{externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}" var="query" 
					 							rendered="#{externalInterfaceMgmt.activateFiltersQuery}" style="width:99%;"	styleClass="dtbWithoutHeaders">		
					 								<p:column >
					 									<h:outputText value="[#{query.interfaceTemplateDetail.orderPriority}] #{query.interfaceTemplateDetail.description}"/>
					 									<p:outputLabel styleClass="ui-approve icon-label" rendered="#{query.interfaceTemplateDetail.containFilter}" />
					 								</p:column>
					 								<p:column styleClass="content-center" style="width:15px;"
					 								rendered="#{externalInterfaceMgmt.viewOperationRegister}">
					 									<p:commandButton icon="ui-edit" process="@this" 
					 									actionListener="#{externalInterfaceMgmt.editExternalInterfaceFilter(query)}" 
					 									update=":frmExternalInterfaceMgmt:flsQueryFilters"/>			 																													
					 								</p:column>
					 							</p:dataTable>
											</p:scrollPanel>
										</td>
										<p:outputPanel>
											<td valign="top">
												<h:outputText value="#{msgs['external.interface.query.actions']}"/>
											</td>
											<td valign="top">
												<p:commandButton icon="ui-show" value="#{msgs['external.interface.preview.title']}" process="@this" ajax="true"
												update="pnlExternalInterfaceFilterPreview"
												actionListener="#{externalInterfaceMgmt.interfacePreviewFilterHandler}"
												disabled="#{empty externalInterfaceMgmt.externalInterfaceSession.externalInterfaceQuerys}"/>
											</td>
										</p:outputPanel>			
									</tr>
									<p:outputPanel rendered="#{not empty externalInterfaceMgmt.interfaceAttributes.tableFilterList}">
										<p:outputPanel id="pnlInterfaceFilter">										
											<tr>
												<td colspan="4">
													<hr/>
												</td>											
											</tr>
											<tr>
												<td colspan="4">
													<p:dataTable value="#{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelectedToFilters.externalInterfaceFilters}" 
													var="columnFilterPredicate" id="dtbFilterPredicates"
														 scrollable="true">			 										 
				 										<f:facet name="header">  
												            <h:outputText value="#{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelectedToFilters.interfaceTemplateDetail.orderPriority} - 
												            #{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelectedToFilters.interfaceTemplateDetail.description}"/>
												        </f:facet>													        
												        <p:column width="14%" styleClass="content-center">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.filters.logic.operator']}"/>
												            </f:facet>
															<h:outputText value="#{columnFilterPredicate.logicalOperator}"/>
												            <f:facet name="footer">  
																<p:selectOneMenu value="#{externalInterfaceMgmt.interfaceAttributes.columnFilter.startLogicalOperator}" 
																id="selLogicOperator" label="#{msgs['external.interface.filters.logic.operator']}">
																	<f:selectItem itemLabel="#{msgs['external.interface.filters.select']}"/>
																	<f:selectItems value="#{externalInterfaceMgmt.operatorLogicTypeParameterList}" var="logicOperatorType"
																					itemLabel="#{logicOperatorType.parameterName}" itemValue="#{logicOperatorType.parameterTablePk}"/>																			
																	<f:validator validatorId="selectOneRequiredValidator" />
																</p:selectOneMenu>
												            </f:facet>  
												        </p:column>  													        
												        <p:column width="50%">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.filters.column']}"/>
												            </f:facet>
															<h:outputText value="#{columnFilterPredicate.externalInterfaceTable.tableName}.#{columnFilterPredicate.interfaceFilterColumn}"/>
												            <f:facet name="footer">  
												            	<p:outputPanel styleClass="content-left" style="display:">
												            		<p:selectOneMenu value="#{externalInterfaceMgmt.interfaceAttributes.columnFilter.externalInterfaceTable.tableName}" 
																	id="selTableFilter" label="#{msgs['external.interface.filters.table']}">
																		<f:selectItem itemLabel="#{msgs['external.interface.filters.select.table']}"/>
																		<f:selectItems value="#{externalInterfaceMgmt.interfaceAttributes.tableFilterList}" var="filterTable"
																					   itemLabel="#{filterTable.tableName}" itemValue="#{filterTable.tableName}"/>
																	   	<p:ajax event="change" process="@this" update="selColumnFilter" listener="#{externalInterfaceMgmt.changeInterfaceTableFilter}"/>
																	   	<f:validator validatorId="selectOneRequiredValidator" />
																	</p:selectOneMenu>
																	<h:outputText value="."/>
																	<p:selectOneMenu value="#{externalInterfaceMgmt.interfaceAttributes.columnFilter.interfaceFilterColumn}" 
																	id="selColumnFilter" label="#{msgs['external.interface.filters.column']}" 
																	disabled="#{empty externalInterfaceMgmt.interfaceAttributes.columnFilterList}">
																		<f:selectItem itemLabel="#{msgs['external.interface.filters.select.column']}"/>
																		<f:selectItems value="#{externalInterfaceMgmt.interfaceAttributes.columnFilterList}" var="filterColumn"
																					   itemLabel="#{filterColumn.columnName}" itemValue="#{filterColumn.columnName}"/>
																		<f:validator validatorId="selectOneRequiredValidator" />
																	</p:selectOneMenu>
												            	</p:outputPanel>																		
												            </f:facet>  
												        </p:column>													        													        
												        <p:column width="14%" styleClass="content-center">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.filters.comparator']}"/>
												            </f:facet>
															<h:outputText value="#{columnFilterPredicate.interfaceFilterPredicate.comparisonOperatorValue}"/>
												            <f:facet name="footer"> 
												            		<p:selectOneMenu value="#{externalInterfaceMgmt.interfaceAttributes.columnFilter.interfaceFilterPredicate.comparisonOperator}" 
																	id="selComparatorType" label="#{msgs['external.interface.filters.comparator']}">
																		<f:selectItem itemLabel="#{msgs['external.interface.filters.select']}"/>
																		<f:selectItems value="#{externalInterfaceMgmt.sqlComparatorTypeParameterList}" var="comparatorType"
																						itemLabel="#{comparatorType.parameterName}" itemValue="#{comparatorType.parameterTablePk}"/>
																		<f:validator validatorId="selectOneRequiredValidator" />
																	</p:selectOneMenu>																		
												            </f:facet>  
												        </p:column>													        
												        <p:column width="17%" styleClass="content-center">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.filters.predicate.type']}"/>
												            </f:facet>
															<h:outputText value="#{columnFilterPredicate.interfaceFilterPredicate.predicateTypeValue}"/>
												            <f:facet name="footer"> 
																	<p:selectOneMenu value="#{externalInterfaceMgmt.interfaceAttributes.columnFilter.interfaceFilterPredicate.predicateType}" 
																	id="selPredicateType" label="#{msgs['external.interface.filters.predicate.type']}">																			
																		<f:selectItem itemLabel="#{msgs['external.interface.filters.select']}"/>
																		<f:selectItems value="#{externalInterfaceMgmt.predicateTypeParameterList}" var="predicateType"
																						itemLabel="#{predicateType.parameterName}" itemValue="#{predicateType.parameterTablePk}"/>
																		<p:ajax event="change" process="@this,selLogicOperator,selTableFilter,selColumnFilter,selComparatorType,selPredicateType"
																		listener="#{externalInterfaceMgmt.openInterfacePredicateDialog}"
																		update=":frmExternalInterfaceMgmt:dtbFilterPredicates:selLogicOperator,
												            			:frmExternalInterfaceMgmt:dtbFilterPredicates:selTableFilter,
																		:frmExternalInterfaceMgmt:dtbFilterPredicates:selColumnFilter,
																		:frmExternalInterfaceMgmt:dtbFilterPredicates:selComparatorType,
																		:frmExternalInterfaceMgmt:dtbFilterPredicates:selPredicateType,
																		:frmExternalInterfaceMgmt:pnlInterfacePredicate
																		:frmExternalInterfaceMgmt:pnlExternalPredicateDialog"/>
																		<f:validator validatorId="selectOneRequiredValidator" />
																	</p:selectOneMenu>
												            </f:facet>  
												        </p:column>													        
												        <p:column width="8%" styleClass="content-center">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.filters.predicate']}"/>
												            </f:facet>
															<p:outputPanel>
																<p:commandButton icon="ui-search" process="@this" 
																update=":frmExternalInterfaceMgmt:pnlInterfacePredicate"
												            	actionListener="#{externalInterfaceMgmt.editInterfaceQueryFilter(columnFilterPredicate)}"/>
															</p:outputPanel>
												        </p:column>		
												        <p:column width="7%" styleClass="content-center">  
												            <f:facet name="header">  
												               <h:outputText value="#{msgs['external.interface.query.actions']}"/>
												            </f:facet>
												           	<p:outputPanel>
												            	<p:commandButton icon="ui-remove" process="@this" update=":frmExternalInterfaceMgmt:flsQueryFilters"
																actionListener="#{externalInterfaceMgmt.deleteInterfaceQueryFilter(columnFilterPredicate)}"/>
												           	</p:outputPanel>
												        </p:column>			
						 							</p:dataTable>
												</td>
											</tr>
											<tr>
												<td colspan="4" align="right">
													<br/>
													<p:commandButton icon="ui-approve" value="#{msgs['external.interface.query.apply']}" process="@this"
													update="flsQueryFilters" actionListener="#{externalInterfaceMgmt.applyFiltersToDetailTemplate}"/>	
												</td>
											</tr>
										</p:outputPanel>	
									</p:outputPanel>		
								</table>																
							</p:fieldset>														
						</td>					
					</tr>
				</table>
				
				<p:outputPanel styleClass="content-center" id="pnlButtons">
					<table width="100%">
						<tr>
							<td align="center">																
								
								<p:commandButton id="idCmdBtnSave" value="#{msgs['btn.grabar']}" icon="fa fa-save" process="@this,@form"  
								update="@form,:opnlGenericDialogs" 
								actionListener="#{externalInterfaceMgmt.beforeSaveExternalInterface}"
								rendered="#{externalInterfaceMgmt.viewOperationRegister}"/>
																
								<p:commandButton id="idModify" value="#{msgs['btn.modify']}" icon="ui-edit" process="@this,@form"
								update="@form,:opnlGenericDialogs" 
								actionListener="#{externalInterfaceMgmt.beforeModifyExternalInterface}"
								rendered="#{externalInterfaceMgmt.viewOperationModify}"/>
								
								<p:commandButton value="#{msgs['btn.annular']}" icon="ui-anulate"  process="@this"
								update="@form,:opnlGenericDialogs,pnlConfirmDialog" 
								actionListener="#{externalInterfaceMgmt.beforeAnnularExternalInterface}"
								rendered="#{externalInterfaceMgmt.viewOperationAnnul}"/>
											 
								<p:commandButton value="#{msgs['btn.confirm']}" icon="ui-confirm" process="@this"
								update="@form,:opnlGenericDialogs,pnlConfirmDialog" 
								actionListener="#{externalInterfaceMgmt.beforeConfirmExternalInterface}" 
								rendered="#{externalInterfaceMgmt.viewOperationConfirm}"/>
								
								<p:commandButton value="#{msgs['btn.block']}" icon="ui-block" process="@this"
								update="@form,:opnlGenericDialogs,pnlConfirmDialog" 
								actionListener="#{externalInterfaceMgmt.beforeBlockExternalInterface}" 
								rendered="#{externalInterfaceMgmt.viewOperationBlock}"/>
								
								<p:commandButton value="#{msgs['btn.unblock']}" icon="ui-unlock" process="@this"
								update="@form,:opnlGenericDialogs,pnlConfirmDialog" 
								actionListener="#{externalInterfaceMgmt.beforeUnblockExternalInterface}" 
								rendered="#{externalInterfaceMgmt.viewOperationUnBlock}"/>
								
								<p:commandButton id="cmdClean" value="#{msgs['btn.clean']}" immediate="true" process="@this" 
								update="@form" icon="fa fa-trash"
								actionListener = "#{externalInterfaceMgmt.resetExternalInterface}"
								rendered="#{externalInterfaceMgmt.viewOperationRegister}"/>
								
								<p:commandButton id="cmdBack" value="#{msgs['btn.back']}" action="search" 
								actionListener="#{externalInterfaceMgmt.externalInterfaceConsultHandler}" 
								icon="fa fa-undo" process="@this" ajax="false" immediate="true"
								onclick="if(isModifiedFormForBack('#frmExternalInterfaceMgmt'))return false;"/>
							</td>
						</tr>
					</table>
				</p:outputPanel>				
				
				<p:outputPanel id="pnlConfirmDialog">
				
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}" action="search.xhtml" 
							ajax="false" immediate="true" process="@this" update="@form"/>
					</p:confirmDialog>
					
					<p:confirmDialog header="#{msgs['messages.alert']}" message="#{msgs['external.interface.dialog.message.successful']}" 
					id="confirmQueryValidated" widgetVar="confirmQueryValidatedW" closable="false">
						<p:commandButton oncomplete="PF('confirmQueryValidatedW').hide();" value="aceptar"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="cdSaveExternalInterface" widgetVar="wrConfirmSaveExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmSaveExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.saveExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmSaveExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="cdConfirmExternalInterface" widgetVar="wrConfirmConfirmExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmConfirmExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.confirmExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmConfirmExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="cdAnnularExternalInterface" widgetVar="wrConfirmAnnularExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmAnnularExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.annularExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmAnnularExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
				
					<p:confirmDialog id="cdBlockExternalInterface" widgetVar="wrConfirmBlockExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmBlockExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.blockExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmBlockExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
				
					<p:confirmDialog id="cdUnblockExternalInterface" widgetVar="wrConfirmUnblockExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmUnblockExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.unblockExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmUnblockExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="cdModifyExternalInterface" widgetVar="wrConfirmModifyExternalInterface" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrConfirmModifyExternalInterface').hide();"
						 actionListener="#{externalInterfaceMgmt.modifyExternalInterface}" update="@form,:opnlGenericDialogs"/>
						<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrConfirmModifyExternalInterface').hide();" type="button"/>
					</p:confirmDialog>
				</p:outputPanel>				
			</h:form>
		</ui:define>
	</ui:composition>
</html>