<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<h:outputText value="#{msgs['lbl.title.register.interface.extern']}" styleClass="title-page"/>
	<h:form id="frmsearch">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset legend="#{msgs['lbl.legend.general.data']}">
						<table width="100%">
							<ui:include src="separatorTables.xhtml" />
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.name.interface']}" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText label="#{msgs['lbl.name.interface']}" required="true" validator="inputRequiredValidator" id="txtInterfaceName"
													 value="#{externalInterfaceMgmt.externalInterface.description}" size="50"/>
										<p:message display="icon" for="txtInterfaceName"></p:message>
									</h:panelGrid>
								</td>
								<td>
									<h:outputText value="Fecha Registro" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText disabled="true" value="#{externalInterfaceMgmt.currentSystemDate}">
											<f:convertDateTime pattern="#{msgs['dateMonthYear']}"/>
										</p:inputText>
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="Descripcion Interfaz" />
								</td>
								<td colspan="3">
									<h:panelGrid columns="2">
										<p:inputTextarea cols="120" rows="3" label="#{msgs['lbl.name.interface']}" required="true" validator="inputRequiredValidator" id="txtInterfaceDescription"
														 value="#{externalInterfaceMgmt.externalInterface.description}"/>
										<p:message display="icon" for="txtInterfaceDescription"></p:message>
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="Nombre Archivo" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText label="#{msgs['external.interface.generic.file.name']}" required="true" validator="inputRequiredValidator" id="txtInterfaceFileName"
													 value="#{externalInterfaceMgmt.externalInterface.fileName}" size="50"/>
										<p:message display="icon" for="txtInterfaceFileName"></p:message>
									</h:panelGrid>
								</td>
								<td>
									<h:outputText value="Forma Ejecucion" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:selectOneMenu value="#{externalInterfaceMgmt.externalInterface.executionType}" id="txtInterfaceExecution">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select.opt']}" />
											<f:selectItems value="#{externalInterfaceMgmt.executionTypeList}" var="execType" 
															itemLabel="#{execType}"/>
										</p:selectOneMenu>
										<p:message display="icon" for="txtInterfaceExecution"/>
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="Periocidad" />
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText label="#{msgs['external.interface.generic.file.name']}" required="true" size="50"
													 validator="inputRequiredValidator" id="txtInterfacePericity"/>
										<p:message display="icon" for="txtInterfacePericity"></p:message>
									</h:panelGrid>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<p:fieldset legend="#{msgs['lbl.legend.format.interface']}">
						<table width="100%">
							<ui:include src="separatorTables.xhtml"/>
							<tr>
								<td>
									<h:outputText value="Estructura" />
								</td>
								<td>
									<p:selectOneMenu value="#{externalInterfaceMgmt.externalInterface.idInterfaceTemplatePk}">
										<f:selectItem itemLabel="-------SELECCIONE--------" />
										<f:selectItem itemValue="1" itemLabel="PLANTILLA 01"></f:selectItem>
										<f:selectItem itemValue="2" itemLabel="PLANTILLA 02"></f:selectItem>
										<f:selectItem itemValue="3" itemLabel="PLANTILLA 03"></f:selectItem>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['external.interface.format.extensión.type']}" />
								</td>
								<td>
									<p:dataTable value="#{externalInterfaceMgmt.extensionTypeList}" var="extension" style="width:200px">
										<p:column headerText="Extension">
											<h:outputText value="#{extension}" />
										</p:column>
										<p:column styleClass="content-center" headerText="Seleccione">
											<p:selectBooleanCheckbox></p:selectBooleanCheckbox>
										</p:column>
									</p:dataTable>
								</td>
								<td>
									<h:outputText value="#{msgs['lbl.type.user']}" />
								</td>
								<td>
									<p:dataTable value="#{externalInterfaceMgmt.institutionTypeList}" var="institutionType" style="width:400px">
										<p:column headerText="Tipo Usuario">
											<h:outputText value="#{institutionType.value}" />
										</p:column>
										<p:column styleClass="content-center" headerText="Seleccione">
											<p:selectBooleanCheckbox></p:selectBooleanCheckbox>
										</p:column>
									</p:dataTable>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<p:fieldset legend="Query ejecutar" id="flsQueryGenerate">
						<table width="100%">
							<ui:include src="separatorTables.xhtml" />
							<tr>
								<td>
									<h:outputText value="Usar Editor Query" />
								</td>
								<td>
									<p:selectBooleanCheckbox value="#{externalInterfaceMgmt.externalInterface.isQuery}">
										<p:ajax event="change" update="flsQueryGenerate" process="@this" global="false"/>
									</p:selectBooleanCheckbox>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="Query"/>
								</td>
								<td colspan="3">
									<h:panelGrid columns="2">
										<p:inputTextarea cols="100" rows="10" disabled="#{not externalInterfaceMgmt.externalInterface.isQuery}" 
														 value="#{externalInterfaceMgmt.externalInterface.query}">
											<p:ajax event="blur" process="@this" listener="#{externalInterfaceMgmt.generateColumns}" update="@form"/>
										</p:inputTextarea>
										<p:commandButton value="Validar Query" icon="ui-run" rendered="#{externalInterfaceMgmt.externalInterface.isQuery}" 
														 oncomplete="PF('confirmQueryValidatedW').show(); "/>
									</h:panelGrid>
								</td>
							</tr>
							<p:outputPanel rendered="#{not empty externalInterfaceMgmt.externalInterface.query}">
							<tr>
								<td>
									<h:outputText value="Columnas del Query"/>					
								</td>
								<td colspan="3">
									<p:dataTable value="#{externalInterfaceMgmt.columnsQueryList}" var="columns">
										<p:column headerText="Columna">
											<h:outputText value="#{columns}"/>
										</p:column>
										<p:column headerText="Alias" styleClass="content-center">
											<h:inputText size="15"/>
										</p:column>
										<p:column headerText="Tipo dato Origen" styleClass="content-center">
											<h:outputText value="VARCHAR"/>
										</p:column>
										<p:column headerText="Tipo dato Destino" styleClass="content-center">
											<h:selectOneMenu value="-1">
												<f:selectItems value="#{externalInterfaceMgmt.dateTypeList}" var="dateType" itemLabel="#{dateType}" itemValue="0"/>
											</h:selectOneMenu>
										</p:column>
										<p:column headerText="Tam Max" styleClass="content-center">
											<h:inputText size="4"/>
										</p:column>
										<p:column headerText="Cant Dec" styleClass="content-center">
											<h:inputText size="4"/>
										</p:column>
										<p:column headerText="Format Fecha" styleClass="content-center">
											<h:inputText size="10"/>
										</p:column>
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="Valor default" escape="false"/>
											</f:facet>
											<h:inputText size="10"/>
										</p:column>
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="Valor Sobrante" escape="false"/>
											</f:facet>
											<h:inputText size="10"/>
										</p:column>
									</p:dataTable>
								</td>
							</tr>
							</p:outputPanel>
						</table>
					</p:fieldset>
				</td>
			</tr>
		</table>
		<p:outputPanel>
			<p:confirmDialog header="Mensaje de Alerta" message="Query a ejecutar fue validado satisfactoriamente." id="confirmQueryValidated"
							 widgetVar="confirmQueryValidatedW" closable="false">
				<p:commandButton oncomplete="PF('confirmQueryValidatedW').hide();" value="aceptar"/>
			</p:confirmDialog>
		</p:outputPanel>
	</h:form>
	</ui:define>
</ui:composition>
</html>