<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<p:outputPanel id="pnlInterfaceInput">	
		<p:dialog id="inputSqlDlg" widgetVar="inputSqlDlgW" closable="false" modal="true" resizable="true" showHeader="true" 
 				 position="center" header="#{msgs['external.interface.query.form.query']}" height="250px"> 						
 				<table width="100%">
 					<tr>
 						<td>
 							<br/>
							<h:outputText value="#{msgs['external.interface.query.content']} (*)"  styleClass="required-field"/>
						</td>
 					</tr>
 					<tr>						
						<td>
							<h:panelGrid columns="2" id="pnlQuery">
								<p:outputPanel id="pnlInputDlg"> 	
									<p:inputTextarea cols="110" rows="10" styleClass="sensitive-inputField"
									value="#{externalInterfaceMgmt.interfaceAttributes.interfaceQuerySelected.interfaceTemplateQuery}" >
									</p:inputTextarea>		
								</p:outputPanel>						
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<p:commandButton value="#{msgs['external.interface.query.validate']}" icon="ui-run" process="@this"						
							 actionListener="#{externalInterfaceMgmt.validateQueryHandler}" update=":opnlGenericDialogs"/>							
						</td>
					</tr>									
					<tr>
 						<td align="center">
 							<p:commandButton icon="ui-approve" value="#{msgs['external.interface.dialog.button.acept']}" process="@this,pnlInputDlg"
						 	actionListener="#{externalInterfaceMgmt.generateQueryFromDialog}" update="flsQueryGenerate,:opnlGenericDialogs"/>
						 	
 							<p:commandButton icon="ui-close" value="#{msgs['external.interface.dialog.button.close']}" type="button" 
 							process="@this" onclick="PF('inputSqlDlgW').hide();"/>	
 						</td>
 					</tr>
 				</table>
 		</p:dialog>
 	</p:outputPanel>
</html>