<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkhelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<f:metadata>
	    <f:event type="postAddToView" listener="#{issuerBlockMgmtBean.setButtonsListener}"/>
	</f:metadata>
	<h:outputText value="#{gmsgs['iSecurities.issuer.detailBlockIssuer.title']}"
		styleClass="title-page" />
	<h:form id="frmIssuerRequest" enctype="multipart/form-data">
		<table width="100%">
			<tr>
				<td><p:fieldset id="fldsIssuerRequest"
							legend="#{msgs['lbl.register.data']}">
							<table width="100%">								
								<tr>
									<td><h:outputText value="#{msgs['issuer.lbl.issuer']}" /></td>
									<td>
										<p:outputPanel id="opnlIssuer">
											<arkhelp:issuerHelper issuer="#{issuerBlockMgmtBean.issuerRequest.issuer}" id="issuerCodeHelper"
														disabled="true" />																			
										</p:outputPanel>
									</td>									
								</tr>								
								<tr>
									<td><h:outputText value="#{msgs['issuer.lbl.doctype']}" /></td>
									<td>
										<p:selectOneMenu id="issuerDocumentType" disabled="true" style="width:300px"	
												 value="#{issuerBlockMgmtBean.issuerRequest.issuer.documentType}" > 
							            	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{issuerBlockMgmtBean.lstIssuerDocumentTypes}" 
												var="item" itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>	  
							        	</p:selectOneMenu>
									</td>								
									<td><h:outputText value="#{msgs['issuer.lbl.docnumber']}" /></td>
									<td>
										<p:inputText id="issuerDocumentNumber"  disabled="true" styleClass="medium-input-text-width"
											 value="#{issuerBlockMgmtBean.issuerRequest.issuer.documentNumber}" >											
										</p:inputText>
									</td>									
								</tr>								
								<tr>
									<td><h:outputText value="#{msgs['issuer.lbl.requesttype']}"	/></td>
									<td>
										<p:selectOneMenu id="cboRequestType" style="width:300px"	
											value="#{issuerBlockMgmtBean.issuerRequest.requestType}" disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{issuerBlockMgmtBean.lstIssuerBlockRequestTypes}" 
													var="item" itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>											
										</p:selectOneMenu>
									</td>
									<td><h:outputText value="#{msgs['issuer.lbl.motive']}" /></td>
									<td><p:selectOneMenu id="cboMotive" style="width:300px"
											 value="#{issuerBlockMgmtBean.issuerRequest.requestMotive}" 
											 disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuerBlockMgmtBean.lstIssuerMotiveTypes}" 
												var="item" itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>												
										</p:selectOneMenu>
									</td>
								</tr>							
								<tr>
									<td valign="top"><h:outputText value="#{msgs['issuer.lbl.observations']}" /></td>
									<td>
										<p:inputTextarea style="width:150%;height:50px;" id="txtObservations" disabled="true"
											value="#{issuerBlockMgmtBean.issuerRequest.observations}">
										</p:inputTextarea>
									</td>									
								</tr>
								<tr>
									<td width="600px" height="10px" colspan="3">
										<h:outputText value="#{msgs['issuer.lbl.sustenanceblock']}" />
									</td>
								</tr>
								<tr>
									<td width="100%" colspan="6">
										<p:outputPanel id="opnlResultFileSustent">
											<p:dataTable value="#{issuerBlockMgmtBean.issuerRequest.issuerFiles}" 
														 id="dtbfilesSustent" var="issuerFile" rows="10"  rowIndexVar="regNum"
														 rendered="#{not empty issuerBlockMgmtBean.issuerRequest.issuerFiles}">
												<p:column width="5px" styleClass="content-center">
													<f:facet name="header">
														<h:outputText
															value="#{msgs['issuer.lbl.file.number']}" />
													</f:facet>
													<h:outputText value="#{regNum + 1}" />
												</p:column>										
												<p:column>
													<f:facet name="header">
														<h:outputText
															value="#{msgs['issuer.lbl.file.docname']}" />
													</f:facet>
													<h:outputText value="#{issuerFile.filename}" />
												</p:column>
					
												<p:column styleClass="content-center">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['btn.view']}"  />
													</f:facet>
													<p:commandLink styleClass="icon" global="false" ajax="false"
														immediate="true" process="@this"
														onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
														<p:fileDownload	value="#{issuerBlockMgmtBean.getStreamedContentFromFile(issuerFile.documentFile,null,issuerFile.filename)}" />
														<p:graphicImage id="imgView" library="img" name="icons/loupe.png" 
															title="#{gmsgs['btn.view']}" />
													</p:commandLink>
												</p:column>											
											</p:dataTable>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									
									<td width="600px" align="center" colspan="4">
										<h:panelGrid columns="2">	
												
											<ark:privileges
								 				actionConfirm="#{issuerBlockMgmtBean.beginConfirmIssuerRequest()}"
								 				actionReject="#{issuerBlockMgmtBean.beginRejectIssuerRequest()}"
								 				actions="#{userPrivilege.userAcctions}"
								 				renders="#{userPrivilege.privilegeComponent}"  />
								 				
											<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" process="@this" immediate="true"
												icon="fa fa-undo" action="searchIssuerBlockMgmt" actionListener="#{issuerBlockMgmtBean.setValidButtonsListener}" ajax="false"/>
										</h:panelGrid>	
									</td>
								</tr>
							</table>
						</p:fieldset>
				</td>
			</tr>
		</table>
	</h:form>
	
	<p:outputPanel id="opnlDialogs">
	
	<p:dialog id="cnfMotiveRejectIssRequest" modal="true" resizable="false" closable="false"				
                header="#{gmsgs['lbl.header.alert.motiveReject']}" widgetVar="cnfwMotiveRejectIssRequest">
    	<h:form id="frmMotiveRejectIssRequest">    
	        <p:outputPanel id="opnlMotiveRejectIssRequest">
	        <table>
		        <tr>
		        	<td width="150px">
		        		<h:outputText value="#{gmsgs['lbl.header.alert.motiveReject']} (*)" styleClass="required-field" />
		        	</td>
		        	<td width="270px">
		        		<p:selectOneMenu style="width:258px;" id="cboMotiveReject"
				        	value="#{issuerBlockMgmtBean.issuerRequest.actionMotive}">
						  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1"/>
							<f:selectItems value="#{issuerBlockMgmtBean.lstIssuerRequestRejectMotives}"
					        		var="item" itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
							<p:ajax event="change" process="@this" update="opnlMotiveRejectIssRequest gridButtons"
							 listener="#{issuerBlockMgmtBean.changeMotiveReject}" />
						</p:selectOneMenu>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message  for="cboMotiveReject" display="icon" />
		        	</td>
		        </tr>
		        <tr>
		        	<td width="150px">
		        		<h:outputText value="#{msgs['lbl.general.description']} (*)" styleClass="required-field"
						rendered="#{issuerBlockMgmtBean.indSelectedOtherMotiveReject}"/>
		        	</td>
		        	<td width="270px">
		        		<p:inputText styleClass="medium-input-text-width" id="txtOtherMotiveReject"
							value="#{issuerBlockMgmtBean.issuerRequest.actionOtherMotive}"
							 
							rendered="#{issuerBlockMgmtBean.indSelectedOtherMotiveReject}" maxlength="60">
							<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" update="gridButtons"
							 listener="#{issuerBlockMgmtBean.typeOtherMotiveReject}" />
						</p:inputText>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message  for="txtOtherMotiveReject" display="icon" />
		        	</td>
		        </tr>
	        </table>
	        </p:outputPanel>

			<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
				<p:outputPanel>
				<p:commandButton id="cmbAccept" update=":opnlDialogs :opnlGenericDialogs"
		        				 value="#{gmsgs['btn.accept']}" icon="fa fa-save" 
		        				 disabled="#{issuerBlockMgmtBean.indDisableAcceptMotiveReject}"
		        				 actionListener="#{issuerBlockMgmtBean.acceptRejectMotiveIssuerRequest}">
		        </p:commandButton>	       
		       	<p:spacer width="1px" />
		        <p:commandButton value="#{gmsgs['btn.back']}" type="button" icon="fa fa-undo"
										onclick="PF('cnfwMotiveRejectIssRequest').hide()"/>
		       </p:outputPanel>
			</h:panelGrid>
           </h:form>
    </p:dialog>

		<p:confirmDialog id="cnfIssuerRequestConfirmation" message="#{bodyMessageView}"  
						rendered="false" visible="true"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfwIssuerRequestConfirmation" > 
			<h:form id="frmConfirmIssuerRequestConf"> 
		        <p:commandButton id="cmbYes" process="@this :opnlDialogs :opnlGenericDialogs :cnfEndTransactionIssuer"
	    						 value="#{msgs['btn.yes']}" update=":opnlDialogs :opnlGenericDialogs :cnfEndTransactionIssuer"
	    						 action="#{issuerBlockMgmtBean.saveConfirmIssuerRequest}"			 
	    						 />
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{issuerBlockMgmtBean.hideDialogsListener}"
	    						 oncomplete="cnfwIssuerRequestConfirmation.hide()"/>	
			</h:form>          
		</p:confirmDialog>
		
		<p:confirmDialog id="cnfIssuerRequestReject" message="#{bodyMessageView}"	closable="false"			
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfwIssuerRequestReject" > 
		<h:form id="frmConfirmIssuerRequestReject"> 
	        <p:commandButton id="cmbYes" process="@this :opnlDialogs :opnlGenericDialogs :cnfEndTransactionIssuer"
    						 value="#{msgs['btn.yes']}" update=":opnlDialogs :opnlGenericDialogs :cnfEndTransactionIssuer"
    						 action="#{issuerBlockMgmtBean.saveRejectIssuerRequest}"/>
    		&nbsp;&nbsp;
    		<p:commandButton id="cmbNo"
    						 value="#{msgs['btn.no']}" process="@this" type="button"
    						 onclick="PF('cnfwIssuerRequestReject').hide()"/>	
		</h:form>          
		</p:confirmDialog>
				
	<p:confirmDialog id="cnfEndTransactionIssuer"  message="#{bodyMessageView}"  
						rendered="false" visible="true" header="#{headerMessageView}"
				     widgetVar="cnfEndTransaction" severity="alert"
				     closable="false">				  
			<h:form id="frmOk"> 	  		
				     <p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
				      action="searchIssuerBlockMgmt" ajax="false" immediate="true"
				      process="@this" update="@form" />
			</h:form> 	      
	</p:confirmDialog>
		    
	</p:outputPanel>
	
</ui:define>
</ui:composition>
</html>