<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['monitor.system.process.lbl.executionprocess']}" id="idOtxtExecProcessTitle"
			styleClass="title-page" />

		<h:form id="frmExecuteProcesses">
			<table width="100%">
				<tr>
					<td><p:fieldset	legend="#{msgs['lbl.criteria.search']}" id="pnlPrincipal">
							<table width="100%" border="0">
								<tr>
									<td width="170px">
										<h:outputText id="idOtxtSystem" value="#{msgs['monitor.system.process.lbl.system']} (*)" styleClass="required-field" />
									</td>
									<td width="400px">
										<h:panelGrid columns="2" id="idPnlGridSystem"> 
											<p:selectOneMenu id="cboSystem" style="width: 300px;" 
												label="#{msgs['monitor.system.process.lbl.system']}"
												value="#{monitorSystemprocessBean.monitorExecuteProcessFilter.idSystem}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" id="idCboItemSystem"/>
												<f:selectItems value="#{monitorSystemprocessBean.lstSystems}" id="idCboItemsSystem"
													var="comboBoxValueBean"
													itemLabel="#{comboBoxValueBean.itemLabel}"
													itemValue="#{comboBoxValueBean.itemValue}" />
												<p:ajax event="change"
													update="pnlPrincipal"
													listener="#{monitorSystemprocessBean.loadMacroProcesses}" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
												<f:param name="skipValidation" value="false"/>
											</p:selectOneMenu>
											<p:message id="msgSystem" for="cboSystem" display="icon"  />
										</h:panelGrid>
									</td>
									<td width="170px">
										<h:outputText value="#{msgs['monitor.system.process.lbl.macroprocess']} (*)" styleClass="required-field" id="idOtxtMacroProcess"/>
									</td>
									<td>
										<h:panelGrid columns="2"> 
											<p:selectOneMenu id="cboMacroProcess"  style="width: 300px;"  
												value="#{monitorSystemprocessBean.monitorExecuteProcessFilter.idMacroProcess}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" id="idCboItemMacroProcess"/>
												<f:selectItems	value="#{monitorSystemprocessBean.macroProcessList}" id="idCboItemsMacroProcess"
													var="comboBoxValueBean"
													itemLabel="#{comboBoxValueBean.itemLabel}"
													itemValue="#{comboBoxValueBean.itemValue}" />
												<p:ajax event="change" update="pnlPrincipal" process="cboSystem @this"
													listener="#{monitorSystemprocessBean.loadProcessLevelOne}" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
												<f:param name="skipValidation" value="false"/>
											</p:selectOneMenu>
											<p:message id="msgMacroProcess" for="cboMacroProcess" display="icon"  />
										</h:panelGrid> 
									</td>
								</tr>

								<tr>
									<td><h:outputText
											value="#{msgs['monitor.system.process.lbl.processlvlone']}"  id="idOtxtProcessLvlOne"/></td>
									<td><p:selectOneMenu id="cboProcessLevel1"  style="width: 300px;" 
											value="#{monitorSystemprocessBean.monitorExecuteProcessFilter.idProcessLevelOne}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" id="idCboItemProcessLvlOne"/>
											<f:selectItems id="idCboItemsProcessLvlOne"
												value="#{monitorSystemprocessBean.processLevelOneList}"
												var="item"
												itemLabel="#{item.itemLabel}"
												itemValue="#{item.itemValue}" />
											<p:ajax event="change" update="pnlPrincipal cboProcessLevel2"
												listener="#{monitorSystemprocessBean.loadProcessLevelTwo}" />
										</p:selectOneMenu>
									</td>
									<td><h:outputText id="idOtxtProcessLvlTwo"
											value="#{msgs['monitor.system.process.lbl.processlvltwo']}" /></td>
									<td><p:selectOneMenu id="cboProcessLevel2"  style="width: 300px;" 
											value="#{monitorSystemprocessBean.monitorExecuteProcessFilter.idProcessLevelTwo}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" id="idCboItemProcessLvlTwo"/>
											<f:selectItems id="idCboItemsProcessLvlTwo"
												value="#{monitorSystemprocessBean.processLevelTwoList}"
												var="comboBoxValueBean"
												itemLabel="#{comboBoxValueBean.itemLabel}"
												itemValue="#{comboBoxValueBean.itemValue}" />
										</p:selectOneMenu></td>
								</tr>

								<tr>
									<td><h:outputText id="idOtxtExecDate"
											value="#{msgs['monitor.system.process.lbl.executiondate']}" /></td>
									<td><p:calendar id="txtFecIni" readonly="#{facesContext.renderResponse}" disabled="true"
											value="#{monitorSystemprocessBean.currentSystemDate}" showOn="button"
											pattern="#{msgs['dateFormat']}" maxlength="10"
											style="width:100px" /></td>
								</tr>
								<tr>
									<td colspan="4" align="center"><br /> 
										<p:commandButton
											id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
											actionListener="#{monitorSystemprocessBean.searchExecutableProcesses}"
											update="pnlPrincipal opnlResult :opnlGenericDialogs" >
											<f:param name="skipValidation" value="false"/>
										</p:commandButton> 
										
										<p:commandButton id="btnClean" immediate="true" process="@this"
											value="#{msgs['btn.clean']}" icon="fa fa-trash" 
											actionListener="#{monitorSystemprocessBean.cleanExecuteProcesses}" 
											update="pnlPrincipal opnlResult" />
										
										<p:commandButton id="btnBack" immediate="true" 
											value="#{msgs['btn.back']}" icon="fa fa-undo"
											action="processRule"  />
									</td>
								</tr>
							</table>
						</p:fieldset>
						<tr>
							<td colspan="4">
								<p:outputPanel id="opnlResult">
								<p:outputPanel id='pnlSystemProcess' rendered="#{monitorSystemprocessBean.executableProcessesDataModel != null}">
									<h:panelGrid id="idPnlGridSystemProcess" columns="2" rendered="#{monitorSystemprocessBean.executableProcessesDataModel.rowCount >= 1}">
										<p:commandButton process="@form"
										update="@form :opnlGenericDialogs"
										id="cmbRun" action="#{monitorSystemprocessBean.executeProcess}" 
										value="#{msgs['monitor.system.process.btn.execute']}"
										icon="ui-run" /> 
										<p:commandButton process="@form"
										update="@form :opnlGenericDialogs"
										id="cmbStop" action="#{monitorSystemprocessBean.stopProcess}" 
										value="#{msgs['monitor.system.process.btn.detener']}"
										icon="ui-remove" /> 
											
									</h:panelGrid>
									<p:fieldset id="fldsResults" legend="#{msgs['monitor.system.process.lbl.search.legend']}" >
										<p:dataTable id="dtbResult" var="process" 
											value="#{monitorSystemprocessBean.executableProcessesDataModel}"
											rowKey="#{process.idBusinessProcessPk}"
											rendered="#{monitorSystemprocessBean.executableProcessesDataModel.rowCount>=1}"
											currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
											paginator="true" rows="10" paginatorPosition="top"
											paginatorTemplate="#{msgs['dtb.paginator.template']}"
											selection="#{monitorSystemprocessBean.selectedProcesses}"
											rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"	>
												
											<p:column selectionMode="multiple"  style="width:2%" id="idClmSelectionMode"/>

											<p:column style="text-align:center; width: 10%" id="idClmMnemonic">
												<f:facet name="header">
													<h:outputText id="idOtxtMnemonic"
														value="#{msgs['bussinessProcess.lbl.id']}"
														styleClass="text-header-table" />
												</f:facet>
												<h:outputText value="#{process.idBusinessProcessPk}" id="idOtxtMnemonicValue"/>
											</p:column>

											<p:column style="text-align:left;" id="idClmProcessName">
												<f:facet name="header"> 
													<h:outputText id="idOtxtProcessName"
														value="#{msgs['monitor.system.process.lbl.processname']}"
														styleClass="text-header-table" />
												</f:facet>
												<h:outputText value="#{process.processName}" id="idOtxtProcessNameValue"/>
											</p:column>
																						
											<f:facet name="footer">	
												<div style="width:100%; text-align:left" id="idDivFooter">								
													<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" style="font-weight:bold;">
															<f:param name="prmQuantity" value="#{monitorSystemprocessBean.executableProcessesDataModel.rowCount}"></f:param>
													</h:outputFormat>
												</div>
											</f:facet>
										</p:dataTable>
										<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblNoResult"
											rendered="#{!(monitorSystemprocessBean.executableProcessesDataModel.rowCount >= 1)}"
											style="font-weight:bold;"/>	
									</p:fieldset>
								</p:outputPanel>
								</p:outputPanel>
							</td>
						</tr>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>