<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importEnum type="com.pradera.model.custody.type.DematerializationStateType" var="demaStateType" />
	<p:importEnum type="com.pradera.model.custody.type.DematerializationRejectMotiveType" var="demaRejMotiveType" />
	<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmDematerializationCertificate');
	});
	</script>
	<h:outputText value="Detalle Desmmaterializacion" styleClass="title-page"/>
	<h:form id="frmDematerializationCertificate">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset legend="#{msgs['icustody.dematerializationsecurities.detail.title']}">
					<table width="100%" border="0">
					<tr>
						<td   width="150px">
							<h:outputText value="#{msgs['lbl.accountannotation.view.numberRequest']}"/>			
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:inputText styleClass="content-right" style="width:120px" disabled="true" 
								value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.custodyOperation.operationNumber}"/>
							</h:panelGrid>
						</td>
						
						<td   width="150px">
							<h:outputText value="#{msgs['lbl.accountannotation.view.state']}"/>			
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:selectOneMenu value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.state}"
								disabled="true">
								<f:selectItems value="#{dematerializationCertificateBeanOriginal.searchAccountAnnotationTO.stateList}"
									var="motive" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}"/>
							</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
					<p:outputPanel rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blRejected}">
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.motiveReject']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
							<p:selectOneMenu value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject}" disabled="true">
								<f:selectItems value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.lstRejectMotive}"
									var="motive" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}"/>
							</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
					</p:outputPanel>
					<p:outputPanel rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.comments}">
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.others']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
							<p:inputText value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.comments}"
								size="60" maxlength="40" disabled="true"/>
							</h:panelGrid>
						</td>
					</tr>
					</p:outputPanel>
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.participant']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
							<p:selectOneMenu  disabled="true" id="cboParticipant" style="width:500px"
								value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.holderAccount.participant.idParticipantPk}">
								<f:selectItem itemLabel="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.holderAccount.participant.displayDescriptionCode}"/>
							</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td  >
							<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
							<ark:holderHelper id="holderHelper" disabled="true" 
								holder="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.holder}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td  >
							<h:outputText value="#{gmsgs['account.lbl.code']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
							<ark:accountHelper id="accountHelper" disabled="true" 
								holderAccount="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.holderAccount}"
								participant="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.holderAccount.participant.idParticipantPk}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td  >
							<h:outputText value="#{gmsgs['security.lbl.code']} (*)"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
							<ark:securityHelper id="securityHelper" disabled="true" 
								security="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.security}"/>
							<p:spacer width="5"/>
							<ark:securities-help securityCode="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.security.idSecurityCodePk}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><h:outputLabel value="#{msgs['lbl.accountannotation.view.security.nomVal']}"/></td>
						<td>
							<p:inputText value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.security.currentNominalValue}" size="20" 
								disabled="true" styleClass="content-right">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
							</p:inputText>
						</td>	
					</tr>
					<ui:remove>
					<tr>	
						<td/>
						<td colspan="3">
							<h:panelGrid columns="7" rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.security.idSecurityCodePk}">			
							<h:outputLabel value="#{msgs['lbl.accountannotation.view.security.physicalBal']}"/>
							<p:spacer width="5"/>
							<p:inputText value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.security.physicalAvailable}" size="20" 
								disabled="true" styleClass="content-right">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
							</p:inputText>
							</h:panelGrid>
						</td>
					</tr>
					</ui:remove>
					<p:outputPanel rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blMarketFact}">
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.register.marketfact.date']}"/>				
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar size="10" disabled="true"					
								value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketDate}"
								pattern="#{gmsgs['calendar.date.format']}"/>
							</h:panelGrid>				
						</td>
						<td  >				
							<h:outputText value="#{msgs['lbl.accountannotation.register.marketfact.price']}" 
								rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketPrice}"/>
						</td>
					
						<td>				
							<h:panelGrid columns="2" rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketPrice}">
							<p:inputNumber value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketPrice}" 
								id="txtPrice" style="text-align: right; width:100px !important;" label="#{msgs['lbl.accountannotation.register.marketfact.price']}"
								decimalSeparator="." thousandSeparator="," decimalPlaces="8" maxValue="9999999999.99999999" minValue="-9999999999.99999999" disabled="true">
							</p:inputNumber>
							</h:panelGrid>
						</td>
						<td  >	
							<h:outputText value="#{msgs['lbl.accountannotation.register.marketfact.rate']}" 
								rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketRate}"/>
						</td>
						<td>	
							<h:panelGrid columns="2" rendered="#{not empty dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketRate}">
							<p:inputNumber id="txtRate" style="text-align: right; width:100px !important;" decimalSeparator="." thousandSeparator="," decimalPlaces="8"
											value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationMarketFact.marketRate}" 
								 			label="#{msgs['lbl.accountannotation.register.marketfact.rate']}" maxValue="9999.99999999" minValue="-9999.99999999" disabled="true">
							</p:inputNumber>
							<h:outputText value="%" />
							</h:panelGrid>
						</td>	
					</tr>
					</p:outputPanel>
					<tr>
						<ui:remove>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.issuanceDate']}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar size="10" pattern="#{gmsgs['calendar.date.format']}" disabled="true"
								value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.expeditionDate}">
							</p:calendar>
							</h:panelGrid>
						</td>
						</ui:remove>
						<td  >
							<h:outputLabel value="#{msgs['lbl.accountannotation.view.registryDate']}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar pattern="#{gmsgs['calendar.date.format']}" size="13" disabled="true" 
								value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.custodyOperation.registryDate}"/>
							</h:panelGrid>
						</td>
					</tr>
					<ui:remove>
					<tr>											
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.certificateNumber']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
							<p:inputText id="txtCertificateNumber" disabled="true" size="25" maxlength="20" style="text-align: right; width:200px"
										 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.certificateNumber}"/>
							</h:panelGrid>
						</td>
					</tr>
					</ui:remove>
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.quantity']}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText id="txtQuantity" style="width:200px" styleClass="content-right" disabled="true" 
											 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.totalBalance}">
											 <f:convertNumber pattern="###,###,##0" locale="en_US"/>
								</p:inputText>
							</h:panelGrid>
						</td>
						
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.nomialAmount']}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.shareCapital}"
											 styleClass="content-right" disabled="true" id="txtShareCapital" style="width:100px">
									<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
								</p:inputText>
							</h:panelGrid>
						</td>
					</tr>
					
					<ui:remove>
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.register.alternateCode']} (*)"
										  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blDPF}" styleClass="required-field"/>
							<h:outputText value="#{msgs['lbl.accountannotation.register.alternateCode']}"
										  rendered="#{!dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blDPF}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText style="width:200px" id="itAlternativeCodeRev" size="42" maxlength="50" 
										 disabled="#{!dematerializationCertificateBeanOriginal.indAlternativeCode}"
											 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.alternativeCode}"
											 rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blDPF}">						    
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.alternative.code']}" />
									<f:validator disabled="#{!dematerializationCertificateBeanOriginal.indValidator}" 
											validatorId="com.pradera.commons.view.validators.InputTextValidator" />
								</p:inputText>
								<p:inputText  style="width:200px"  id="itAlternativeCodeCert" size="25" maxlength="20"
											 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.alternativeCode}"
											 disabled="#{!dematerializationCertificateBeanOriginal.indAlternativeCode}"
											 rendered="#{!dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blDPF}" required="dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.blDPF">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.alternative.code']}" />
								</p:inputText>
								<p:message id="msgAlternativeCodeRev" for="itAlternativeCodeRev" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.register.ind.lien']}"/>
						</td>
						<td><p:selectBooleanCheckbox 
												value="#{dematerializationCertificateBeanOriginal.indLien}" disabled="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.indGrav}">
											<p:ajax event="valueChange" update="itCreditorRev opLien"
											process="@this" global="false" />
							</p:selectBooleanCheckbox>
						</td>
						
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.register.creditor']}"  />			  		  
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:outputPanel id="opLien">
								<p:inputText style="width:100px" id="itCreditorRev" size="52" maxlength="100"
											 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.creditorSource}"
											 disabled="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.indGrav}">
											 <p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									 <f:validator disabled="#{!dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.indGrav}" validatorId="com.pradera.commons.view.validators.InputTextValidator"/> 
								</p:inputText>
								<p:message id="msgCreditorRev" for="itCreditorRev" display="icon"/>
								</p:outputPanel>
							</h:panelGrid>
						</td>
					</tr>
					</ui:remove>
					<tr>
						<td  >
							<h:outputText value="#{msgs['lbl.accountannotation.view.motive']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
								<p:selectOneMenu id="cboMotive" disabled="true"
												 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motive}">
									<f:selectItems value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.lstMotives}"
												   var="motive" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}"/>
								</p:selectOneMenu>
							</h:panelGrid>
						</td>
						
					</tr>
					
					<tr>
						<td><h:outputText
								value="#{msgs['lbl.accountannotation.register.operation.price']}" /></td>
						<td><h:panelGrid columns="2">
								<p:inputText id="txtOperationPrice" disabled="true" styleClass="content-right" maxlength="20"
									label="#{msgs['lbl.accountannotation.register.operation.price']}"
									style="width:140px"
									value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.operationPrice}">
									<p:keyFilter mask="pint" preventPaste="false"/>
									<f:convertNumber pattern="###,###,##0.00" locale="en_US" />
									<f:validator
										validatorId="com.pradera.commons.view.validators.InputTextValidator" />
								</p:inputText>
								<p:message id="msgOperationPrice" for="txtOperationPrice" display="icon" />
							</h:panelGrid></td>
					</tr>
					
					<ui:remove>
						<tr>
							<td><h:outputText
									value="#{msgs['lbl.accountannotation.register.department']}"   />
							</td>
							<td><p:outputPanel id="opnlCboDepartment">
										<p:selectOneMenu id="comboDepartment" disabled="true"
											value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.department}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{dematerializationCertificateBeanOriginal.listGeographicLocationDpto}"
												var="item"  itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}" />
										</p:selectOneMenu>
								</p:outputPanel></td>
							<td><h:outputText
									value="#{msgs['lbl.accountannotation.register.province']}"  />
							</td>
							<td><p:outputPanel id="opnlCboProvince">
										<p:selectOneMenu id="comboProvince"  disabled="true"
											value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.province}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{dematerializationCertificateBeanOriginal.listGeographicLocationProvince}"
												var="item" itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}" />
										</p:selectOneMenu>
								</p:outputPanel></td>
						</tr>
						<tr>
							<td><h:outputText
									value="#{msgs['lbl.accountannotation.register.municipality']}"  />
							</td>
							<td><p:outputPanel id="opnlCboMinicipality">					
										<p:selectOneMenu id="comboMunicipality" disabled="true"
											value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.municipality}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{dematerializationCertificateBeanOriginal.listGeographicLocationMunicipality}"
												var="item" itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}" />
										</p:selectOneMenu>
								</p:outputPanel></td>
						</tr>
					</ui:remove>
					<tr>
						<p:outputPanel rendered="#{dematerializationCertificateBeanOriginal.blRenderedMotives}">
							<td  >
								<h:outputText value="#{msgs['commons.label.motiveReject']}" 
											  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.state == demaStateType.REJECTED.code}"/>
								<h:outputText value="#{msgs['commons.label.motiveAnull']}" 
											  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.state == demaStateType.ANNULLED.code}"/>
								<h:outputText value="#{msgs['commons.label.motiveCancel']}" 
											  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.state == demaStateType.CANCELLED.code}"/>
							</td>
							<td>
								<p:selectOneMenu id="cboMotiveReject" style="width:258px;" label="#{msgs['lbl.motive']}" disabled="true"
												 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject}">
									<f:selectItems value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.lstRejectMotive}"
												   var="mot" itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}" />
								</p:selectOneMenu>
								<p:message for="cboMotiveReject" display="icon" />
							</td>
							
							<td  >
								<h:outputText value="#{msgs['commons.label.otherMotiveDescription']}" 
											  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject== demaRejMotiveType.OTHERS.code}"/>
							</td>
							<td>
								<p:inputTextarea value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveDescReject}" 
								 			 disabled="true" style="width:155px" cols="60" rows="5"
								 			 rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject== demaRejMotiveType.OTHERS.code}"/>  
							</td>
						</p:outputPanel>
					</tr>
					
					<tr>
						<td colspan="4" align="center">
							<p:commandButton value="#{gmsgs['btn.approve']}" update="outPnlDialogs" rendered="#{dematerializationCertificateBeanOriginal.blApprove}"
								icon="ui-approve" actionListener="#{dematerializationCertificateBeanOriginal.beforeAction}"/>
							<p:commandButton value="#{gmsgs['btn.annulate']}" update=":opnlDialogs, cnfIdEndDialog" rendered="#{dematerializationCertificateBeanOriginal.blAnnul}"
								icon="ui-anulate" actionListener="#{dematerializationCertificateBeanOriginal.selectedMotive}"/>
							<p:commandButton value="#{gmsgs['btn.confirm']}" update="outPnlDialogs :opnlDialogs" rendered="#{dematerializationCertificateBeanOriginal.blConfirm}"
								icon="ui-confirm" actionListener="#{dematerializationCertificateBeanOriginal.beforeAction}"/>
							<p:commandButton value="#{gmsgs['btn.reject']}" update=":opnlDialogs, cnfIdEndDialog" rendered="#{dematerializationCertificateBeanOriginal.blReject}"
								icon="ui-cancel" actionListener="#{dematerializationCertificateBeanOriginal.selectedMotive}"/>
							<p:commandButton value="#{gmsgs['btn.review']}" update="outPnlDialogs, itCreditorRev, itAlternativeCodeRev"
								icon="ui-review" actionListener="#{dematerializationCertificateBeanOriginal.beforeAction}" rendered="#{dematerializationCertificateBeanOriginal.blReview}"/>
							<p:commandButton value="#{gmsgs['btn.certify']}" update="outPnlDialogs" rendered="#{dematerializationCertificateBeanOriginal.blCertify}"
								icon="ui-confirm" actionListener="#{dematerializationCertificateBeanOriginal.beforeAction}"/>
							<p:commandButton value="#{gmsgs['btn.cancel']}" update=":opnlDialogs, cnfIdEndDialog" rendered="#{dematerializationCertificateBeanOriginal.blCancel}"
								icon="ui-cancel" actionListener="#{dematerializationCertificateBeanOriginal.selectedMotive}"/>
							<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchDematerializationSecurities" 
								process="@this" onclick="if(isModifiedFormForBack(this))return false;"/>
						</td>
					</tr>
					</table>
					</p:fieldset>
				</td>
			</tr>
		</table>
		<!-- Dialog -->
		<p:outputPanel id="outPnlDialogs">
			<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
					actionListener="#{dematerializationCertificateBeanOriginal.doAction}"/>
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
			</p:confirmDialog>	
			
			<p:dialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" 
							 header="#{headerMessageView}" closable="false" severity="info"> 
							 
				<h:panelGrid width="100%" border="0" cellpadding="10" cellspacing="10" style="text-align:left;">
	            	<p:outputLabel value="#{bodyMessageView}" escape="false"/>
	            </h:panelGrid>
	            
	            <h:panelGrid width="100%" border="0" cellpadding="5" cellspacing="5" style="text-align:center;">
					<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchDematerializationSecurities" value="#{gmsgs['btn.accept']}"/>
	            </h:panelGrid>
							 
			</p:dialog>
		</p:outputPanel>
	</h:form>
	<p:outputPanel id="opnlDialogs"> 
		<h:form id="frmMotive">
			<p:dialog id="dialogMotive" resizable="false" draggable="false" modal="true" header="#{msgs['lbl.motive']}"
					  closable="false" visible="true" severity="alert" widgetVar="dlgMotive" rendered="false">
				<p:outputPanel id="opnlMotive">
					<table>
						<tr>
							<td width="100px">
								<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="2">
									<p:selectOneMenu id="cboMotive" style="width:258px;" widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
													 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.lstRejectMotive}"
													   var="mot" itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}" />
										<p:ajax process="@this" update="opnlMotive" event="change" listener="#{dematerializationCertificateBeanOriginal.changeMotiveHandler}"/>
									</p:selectOneMenu>
									<p:message for="cboMotive" display="icon" />
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" styleClass="required-field"
										  	  rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}" />
							</td>
							<td>
								<h:panelGrid columns="2">
									<p:inputText size="60" maxlength="250" id="txtOtherMotive"
												 rendered="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}"
												 value="#{dematerializationCertificateBeanOriginal.registerAccountAnnotationTO.accountAnnotationOperation.motiveDescReject}">
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.motive']}" />
									</p:inputText>
									<p:message for="txtOtherMotive" display="icon" />
								</h:panelGrid>
							</td>
						</tr>
					</table>
				</p:outputPanel>
				<h:panelGrid columns="1" style="text-align:center" width="100%">
					<p:outputPanel>
						<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" process="@form"
										 actionListener="#{dematerializationCertificateBeanOriginal.confirmMotiveHandler}"
										 update=":opnlDialogs :opnlGenericDialogs" />
						<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack" icon="fa fa-undo" type="button"
										 onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotive:cmbProcessBackMotive')" />
						<p:commandButton id="cmbProcessBackMotive" style="display:none"
										 value="#{gmsgs['btn.back']}" icon="fa fa-undo" actionListener="#{dematerializationCertificateBeanOriginal.closeDialogRejectMotive}"
										 process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
					</p:outputPanel>
				</h:panelGrid>
			</p:dialog>
			<p:confirmDialog id="cnfBackMotive" message="#{msgs['message.back']}" severity="alert"
							 header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive" closable="false">
				<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}" process="@this" update=":opnlDialogs" oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" 
								 actionListener="#{dematerializationCertificateBeanOriginal.closeDialogRejectMotive}"/>
				<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" onclick="PF('cnfwBackMotive').hide()" type="button" />
			</p:confirmDialog>
		</h:form>
		<h:form id="frmBlock">
			<p:confirmDialog id="cnfblock" header="#{headerMessageView}" severity="alert" widgetVar="cnfwBlock" rendered="false"
							 visible="true" message="#{bodyMessageView}" closable="false">
				<p:commandButton id="cmbConfirmUnblock" value="#{gmsgs['btn.yes']}" 
								 update=":opnlDialogs :opnlGenericDialogs :frmDematerializationCertificate:cnfIdEndDialog" 
								 actionListener="#{dematerializationCertificateBeanOriginal.doAction()}" oncomplete="PF('cnfwBlock').hide()"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
			</p:confirmDialog>
			<p:confirmDialog id="holderAccountMgmtOk" widgetVar="holderAccountWMgmtOk" severity="alert" header="#{headerMessageView}" message="#{bodyMessageView}"
							 rendered="false" visible="true" closable="false">
				<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchDematerializationSecurities" ajax="false"
								 immediate="true" process="@this" update="@form" />
			</p:confirmDialog>
		</h:form>

		<h:form id="frmAcept">
			<p:confirmDialog id="cnfAcept" header="#{headerMessageView}" severity="alert" widgetVar="cnfwAcept" rendered="false"
							 visible="true" message="#{bodyMessageView}" closable="false">
				<p:commandButton id="cmbAcept" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfwAcept').hide()"
								 actionListener="#{dematerializationCertificateBeanOriginal.changeActionHolderAccountRequestHandler}" update=":opnlDialogs :opnlGenericDialogs"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwAcept').hide()" type="button" update="@form" />
			</p:confirmDialog>
		</h:form>
	</p:outputPanel>
	</ui:define>
</ui:composition>
</html>