<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<table id="tblMainCollectionEconomicRigth" width="100%">
			<tr>
				<td>
					<table border="0" width="100%">
						<tr>
							<td align="left"><h:outputText
									value="#{msgs['title.view.request.collection.economic']}"
									styleClass="title-page" style="align: left" id="idTitle" /></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--FILTROS PARA LA BUSQUEDA-->
		<h:form id="frmSearchRegistreCollection">
			<table width="100%">
				<tr>
					<td><p:fieldset legend="#{msgs['lbl.search.registre']}"
							id="idMainFieldSet">
							<table width="100%" border="0">
								<tr>
									<td width="15%" colspan="1"><h:outputText
											styleClass="required-field"
											value="#{msgs['lbl.participant.msg']} (*)" /></td>
									<td width="35%" colspan="1"><p:selectOneMenu
											style="width:70%;" id="idParRegCollectionEconomic"
											required="true"
											requiredMessage="#{msgs['lbl.requiered.participant.message']}"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.idParticipantPk}"
											disabled="#{userInfo.userAccountSession.participantInstitucion or userInfo.userAccountSession.participantInvestorInstitucion }">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="participant"
												value="#{registerCollectionRightMgmtBean.listParticipants}"
												itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
											<p:ajax event="change"
												update="@this idParRegCollectionEconomic idHelpHolder"
												process="@this" />
										</p:selectOneMenu> <p:message for="idParRegCollectionEconomic"
											id="idMessagePartColle" escape="true" /></td>
									<td width="15%" colspan="1"><h:outputText
											styleClass="required-field"
											value="#{msgs['lbl.filter.type.of.income']}  (*)" /></td>
									<td width="35%" colspan="1"><p:selectOneMenu
											style="width:50%;" id="idTypeIncome"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.typeIncome}">
											<f:selectItems var="typeIncome"
												value="#{registerCollectionRightMgmtBean.listTypeIncome}"
												itemLabel="#{typeIncome.text1} - #{typeIncome.parameterName} "
												itemValue="#{typeIncome.parameterTablePk}" />
											<p:ajax event="change" update="@form"
												process="@this"
												listener="#{registerCollectionRightMgmtBean.changeTypeIncome}" />
										</p:selectOneMenu></td>
								</tr>
								<tr style="height: 4px;"></tr>
								<tr>
									<!-- Helper de CUI titular -->
									<td width="15%" colspan="1"><h:outputLabel
											value="#{msgs['lbl.filter.name.cui']}" /></td>
									<td width="65%" colspan="3"><p:outputPanel
											id="idHelpHolder">
											<ark:holderHelper blPersonType="false" id="idHolderReq"
												disabled="#{registerCollectionRightMgmtBean.registerFilterTO.idParticipantPk==null}"
												holder="#{registerCollectionRightMgmtBean.registerFilterTO.holder}"
												participant="#{registerCollectionRightMgmtBean.registerFilterTO.idParticipantPk}"
												remoteListener="rmtHolder()"
												validatorName="com.pradera.commons.view.validators.InputTextValidator">
											</ark:holderHelper>
											<p:remoteCommand name="rmtHolder"
												actionListener="#{registerCollectionRightMgmtBean.holderChangeEvent}"
												process="@this" />
										</p:outputPanel></td>
								</tr>
								<tr>
									<!--Emisor y Clase de Valor-->
									<td width="15%" colspan="1"><h:outputText
											value="#{msgs['lbl.filter.issuer']}" /></td>
									<td width="35%" colspan="1"><ark:issuerHelper
											id="issuerHelper"
											issuer="#{registerCollectionRightMgmtBean.registerFilterTO.issuer}"
											disabled="#{userInfo.userAccountSession.issuerDpfInstitucion}"
											required="false" remoteListener="idRemCmdAfterIssurHelper()" />
										<p:remoteCommand name="idRemCmdAfterIssurHelper"
											global="false" onstart="PF('statusDialogCustom').show()"
											oncomplete="PF('statusDialogCustom').hide()"
											update="frmSearchRegistreCollection" process="@this" /></td>
									<td width="15%" colspan="1"><h:outputText
											value="#{msgs['lbl.filter.security.class']}" /></td>
									<td width="35%" colspan="1"><p:selectOneMenu
											style="width:70%;" id="idSecurityClass"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.securityClass}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="typeIncome"
												value="#{registerCollectionRightMgmtBean.lstSecurityClass}"
												itemLabel="#{typeIncome.text1} - #{typeIncome.parameterName} "
												itemValue="#{typeIncome.parameterTablePk}" />
											<p:ajax event="change"
												update="@this idSecurityClass idSecurityCode"
												process="@this" />
										</p:selectOneMenu></td>
								</tr>
								<tr>
									<td width="15%" colspan="1"><h:outputText
											value="#{msgs['lbl.filter.security.class.key']}" /></td>
									<td><p:outputPanel id="idSecurityPanel" style="width:50%;">
											<arkHelp:securityHelper id="idSecurityCode"
												remoteListener="validSecuritieOrigin()"
												issuer="#{registerCollectionRightMgmtBean.registerFilterTO.issuer}"
												security="#{registerCollectionRightMgmtBean.registerFilterTO.security}"
												securityClass="#{registerCollectionRightMgmtBean.registerFilterTO.securityClass}" />
											<p:remoteCommand name="validSecuritieOrigin" process="@this"
												update="frmSearchRegistreCollection idSecurityPanel" />
										</p:outputPanel></td>
									<td width="15%" colspan="1"><h:outputText
											value="#{msgs['lbl.filter.currency.type']}" /></td>
									<td width="35%" colspan="1"><p:selectOneMenu
											style="width:50%;" id="idCurrency"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.currency}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="typeIncome"
												value="#{registerCollectionRightMgmtBean.lstCurrency}"
												itemLabel="#{typeIncome.description} - #{typeIncome.parameterName} "
												itemValue="#{typeIncome.parameterTablePk}" />
											<p:ajax event="change"
												update="@this idCurrency idSecurityCode" process="@this" />
										</p:selectOneMenu></td>
								</tr>
								<tr>
									<td width="15%"><h:outputText id="idLabelDateInitial"
											rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
											value="#{msgs['lbl.date.initial']} (*)"
											styleClass="required-field" /></td>
									<td width="35%" colspan="1"><p:calendar id="idDateInitial"
											rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
											styleClass="required-field"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.initialDate}"
											mindate="#{registerCollectionRightMgmtBean.registerFilterTO.minDate}"
											maxdate="#{registerCollectionRightMgmtBean.registerFilterTO.finalDate}"
											showOn="both" pattern="dd/MM/yyyy" maxlength="10"
											navigator="true" readonlyInput="true" size="10">
											<p:ajax update="idDateEnd" event="dateSelect" global="false" />
										</p:calendar></td>
									<td width="15%" colspan="1"><h:outputText
											id="idLabelDateFinal"
											rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
											value="#{msgs['lbl.date.final']} (*)"
											styleClass="required-field" /></td>
									<td width="35%" colspan="1"><p:calendar id="idDateEnd"
											rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
											styleClass="required-field"
											value="#{registerCollectionRightMgmtBean.registerFilterTO.finalDate}"
											showOn="both" pattern="dd/MM/yyyy" maxlength="10"
											mindate="#{registerCollectionRightMgmtBean.registerFilterTO.initialDate}"
											navigator="true" readonlyInput="true" size="10">
											<p:ajax update="idDateInitial" event="dateSelect"
												global="false" />
										</p:calendar></td>
								</tr>
								<tr>
									<td height="20px"></td>
								</tr>
								<tr>
									<td colspan="6" align="center">
										<p:commandButton
											value="Buscar" icon="ui-search" process="@this @form"
											update="frmSearchRegistreCollection fldResult idVisibleReqCollection"
											actionListener="#{registerCollectionRightMgmtBean.searchFromFilters}">
										</p:commandButton> 
										<p:commandButton value="Regresar" icon="ui-back"
											action="#{registerCollectionRightMgmtBean.backPageSearchCollectionEconomicDialog}"
											process="@this @form" immediate="true"
											update="idVisibleReqCollection">
										</p:commandButton> 
										<p:commandButton value="Limpiar" icon="ui-empty"
											actionListener="#{registerCollectionRightMgmtBean.cleanPageSearchCollectionEconomicDialog}"
										    process="@this @form"
											update="frmSearchRegistreCollection fldResult idVisibleReqCollection"
											>
										</p:commandButton></td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
				<tr>
					<td><h:outputText id="idMessageNoAvailableBalance"
							style="color:red;"
							rendered="#{registerCollectionRightMgmtBean.renderedListNotAvailable}"
							value="Los siguientes Valores no cuentan con saldo disponible: #{registerCollectionRightMgmtBean.messageNoAvailableBalance}" />
					</td>
				</tr>
				<tr>
					<td><p:outputPanel style="width:100%;">
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}"
								rendered="#{(registerCollectionRightMgmtBean.lisRegisterResultTOs.rowCount >= 1)}">
								<!--Carga masiva de filtros banco y cuenta bancaria-->
								<h:panelGrid columns="10" id="idMasiveOptions"
									rendered="#{(registerCollectionRightMgmtBean.lisRegisterResultTOs.rowCount >= 1)}">
									<!--Banco-->
									<h:outputText value="Banco" />
									<p:selectOneMenu id="idBankSelectMasive"
										value="#{registerCollectionRightMgmtBean.idBenAccountPkSelecteds}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems var="accountObject"
											value="#{registerCollectionRightMgmtBean.lisAccountMasiveTOs}"
											itemLabel="#{accountObject.currencyDesc} - #{accountObject.bank.description}"
											itemValue="#{accountObject.idBenBankAccountPksString}" />
										<p:ajax event="change" update="@this idMasiveOptions"
											listener="#{registerCollectionRightMgmtBean.eventChangeBank}"
											process="@this " immediate="false" />
									</p:selectOneMenu>
									<!--Cuenta Bancaria-->
									<h:outputText value="Numero de Cuenta" />
									<p:selectOneMenu id="idDepAccountNumber"
										styleClass="content-right"
										value="#{registerCollectionRightMgmtBean.idBenAccontSelected}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems var="depAccount"
											value="#{registerCollectionRightMgmtBean.listBenAccountMasive}"
											itemLabel="#{depAccount.depAccountNumber}"
											itemValue="#{depAccount.idBenBankAccountPk}" />
										<p:ajax event="change"
											update="@this idMasiveOptions idDepAccountNumber"
											process="@this" immediate="false" />
									</p:selectOneMenu>
									<!--Boton-->
									<p:commandButton value="Cargar Cuentas" process="@this"
										update="frmSearchRegistreCollection fldResult"
										actionListener="#{registerCollectionRightMgmtBean.loadBankAccounts}">
									</p:commandButton>
								</h:panelGrid>
								<p:spacer></p:spacer>
								<p:dataTable id="dtbResultResultRegistre"
									var="searchRegisterResultTO"
									value="#{registerCollectionRightMgmtBean.lisRegisterResultTOs}"
									paginator="true" rows="10" paginatorPosition="top"
									rowKey="#{searchRegisterResultTO.idGeneralPurposePk}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
									rowsPerPageTemplate="5,10,15"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
									<!-- <p:column selectionMode="multiple" style="width:18px" /> -->
									<p:column headerText="#{msgs['lbl.filter.due.date']}"
										rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										sortBy="#{searchRegisterResultTO.dueDate}">
										<h:outputText value="#{searchRegisterResultTO.dueDate}">
											<f:convertDateTime pattern="#{cons['date.pattern']}" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.payment.date']}">
										<p:calendar id="idPaymentDate"
											value="#{searchRegisterResultTO.paymentDate}"
											mindate="#{registerCollectionRightMgmtBean.registerFilterTO.initialDate}"
											disabled="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
											showOn="both" pattern="dd/MM/yyyy" maxlength="10"
											navigator="true" readonlyInput="true" size="10">
											<p:ajax update="idPaymentDate" event="dateSelect"
												global="false" />
										</p:calendar>
									</p:column>
									<p:column
										headerText="#{msgs['lbl.filter.name.alternate.code']}"
										sortBy="#{searchRegisterResultTO.alternateCode}">
										<h:outputText value="#{searchRegisterResultTO.alternateCode}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.security.class.key']}"
										sortBy="#{searchRegisterResultTO.idSecurityCodePk}">
										<h:outputText
											value="#{searchRegisterResultTO.idSecurityCodePk}"
											style="width:110px;">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.currency.type']}"
										sortBy="#{searchRegisterResultTO.currency}">
										<h:outputText value="#{searchRegisterResultTO.currencyDesc}"
											style="width:60px;">
										</h:outputText>
									</p:column>
									<p:column
										headerText="#{msgs['lbl.filter.name.quantity.of.values']}"
										styleClass="content-left"
										sortBy="#{searchRegisterResultTO.availableBalance}">
										<h:outputText
											value="#{searchRegisterResultTO.availableBalance}"
											disabled="true">
											<f:convertNumber
												pattern="#{cons['conv.number.pattern.nominal.amount']}"
												locale="#{cons['conv.number.locale']}" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.interest']}"
										rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										styleClass="content-left">
										<h:outputText value="#{searchRegisterResultTO.interestRate}">
											<f:convertNumber pattern="#,##0.00" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.amortization']}"
										rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										styleClass="content-left">
										<h:outputText value="#{searchRegisterResultTO.amortization}">
											<f:convertNumber pattern="#,##0.00" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.total.amount']}"
										rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										styleClass="content-left"
										sortBy="#{searchRegisterResultTO.totalAmount}">
										<h:outputText value="#{searchRegisterResultTO.totalAmount}">
											<f:convertNumber pattern="#,##0.00" />
										</h:outputText>
									</p:column>
									<p:column
										headerText="#{msgs['lbl.filter.name.another.collection.currency']}"
										rendered="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										styleClass="content-center">
										<p:selectBooleanCheckbox
											value="#{searchRegisterResultTO.checkOther}"
											disabled="#{registerCollectionRightMgmtBean.registerFilterTO.renderedRV}">
											<p:ajax event="change" update="dtbResultResultRegistre"
												listener="#{registerCollectionRightMgmtBean.checkCollectionRecord(searchRegisterResultTO)}" />
										</p:selectBooleanCheckbox>
									</p:column>
								    <p:column
										headerText="#{msgs['label.value.check']}"
										disabled="#{registerCollectionRightMgmtBean.registerFilterTO.renderedRV}"
										styleClass="content-center">
										<p:selectBooleanCheckbox
											value="#{searchRegisterResultTO.checkCharge}"
											disabled="#{!registerCollectionRightMgmtBean.registerFilterTO.renderedRV}">
											<p:ajax event="change" update="dtbResultResultRegistre"
												listener="#{registerCollectionRightMgmtBean.checkChargeSecurity(searchRegisterResultTO)}" />
										</p:selectBooleanCheckbox>
									</p:column>
									<p:column headerText="Moneda de Cobro"
										styleClass="content-left">
										<p:selectOneMenu style="width:100%;" id="idCurrency"
											disabled="#{searchRegisterResultTO.currencyFilter.disabled}"
											value="#{searchRegisterResultTO.currencyFilter.currency}"
											valueChangeListener="#{registerCollectionRightMgmtBean.currencyChangeEvent}">
											<f:selectItems var="currency"
												value="#{searchRegisterResultTO.currencyFilter.listCurrency}"
												itemLabel="#{currency.description}"
												itemValue="#{currency.parameterTablePk}" />
											<f:attribute name="selectedObject"
												value="#{searchRegisterResultTO}" />
											<p:ajax event="valueChange"
												update="@this dtbResultResultRegistre" process="@this"
												immediate="false" />
										</p:selectOneMenu>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.amount.to.Collect']}"
										style="width:90px;">
										<p:inputText
											value="#{searchRegisterResultTO.amountChargeFilter.amount}"
											style="width:85px;"
											disabled="#{searchRegisterResultTO.amountChargeFilter.disabled}">
											<p:keyFilter mask="pnum" />
											<f:convertNumber
												pattern="#{cons['conv.number.pattern.nominal.amount']}"
												locale="#{cons['conv.number.locale']}" />
											<p:ajax event="change" update="@this" process="@this">
											</p:ajax>
										</p:inputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.bank']}">
										<p:selectOneMenu style="width:100%;" id="idBank"
											valueChangeListener="#{registerCollectionRightMgmtBean.bankChangeEvent}"
											value="#{searchRegisterResultTO.bankFilter.idBankPkSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="bank"
												value="#{searchRegisterResultTO.bankFilter.listBankProvider}"
												itemValue="#{bank.idBankPk}" itemLabel="#{bank.description}" />
											<f:attribute name="selectedObject"
												value="#{searchRegisterResultTO}" />
											<p:ajax event="valueChange" immediate="false" process="@this"
												update="@this dtbResultResultRegistre" />
										</p:selectOneMenu>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.account']}">
										<p:selectOneMenu style="width:100%;" id="idAccount"
											value="#{searchRegisterResultTO.accountFilter.accountSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="account"
												value="#{searchRegisterResultTO.accountFilter.accountList}"
												itemValue="#{account}" itemLabel="#{account}" />
											<p:ajax event="valueChange" process="@this" update="@this" />
										</p:selectOneMenu>
									</p:column>
									<f:facet name="footer">
										<div style="width: 100%; text-align: left">
											<h:outputFormat
												value="#{gmsgs['tbl.footer.quantity.records']}">
												<f:param
													value="#{registerCollectionRightMgmtBean.lisRegisterResultTOs.rowCount}" />
											</h:outputFormat>
										</div>
									</f:facet>
								</p:dataTable>
							</p:fieldset>
							<h:outputLabel value="#{msgs['lbl.alert.no.result.search']}"
								id="idVisibleReqCollection"
								rendered="#{registerCollectionRightMgmtBean.visibleResult}"
								style="font-weight:bold;" />
						</p:outputPanel></td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<p:commandButton
							value="#{msgs['lbl.filter.save']}" icon="ui-save"
							id="idSaveButton"
							rendered="#{registerCollectionRightMgmtBean.lisRegisterResultTOs.rowCount >= 1}"
							actionListener="#{registerCollectionRightMgmtBean.preSaveCharges}">
						</p:commandButton></td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formRegistreCollectionEconomicDialogs">
				<!--Dialogo para confirmacion para el registro de todos los cobros de derecho economico-->
				<p:confirmDialog id="idConfirmRegistreCollection"
					widgetVar="wVConfirmRegistreCollection"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVConfirmRegistreCollection.hide()" process="@this"
						update="@form"
						actionListener="#{registerCollectionRightMgmtBean.confirmRegistreCollectionDialogConfirmYes}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						immediate="true"
						onclick="idConfirmRegistreCollection.hide()" />
				</p:confirmDialog>
				<!-- AVISO DE VALIDACION-->
				<p:confirmDialog widgetVar="wvDialogModfReqAmountGreatZero"
					id="idDialogModfReqAmountGreatZero" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						onclick="idDialogModfReqAmountGreatZero.hide()" process="@this">
					</p:commandButton>
				</p:confirmDialog>
				<!--Aviso de solicitud de registro exitoso-->
				<p:confirmDialog id="idAlertRegistreCollection"
					widgetVar="wVAlertRegistreCollection" header="#{headerMessageView}"
					message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						action="loadSearchPageCollectionEconomic"
						onclick="idAlertRegistreCollection.hide()" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion para regresar a la pantalla de busqueda de cobro de derechos economicos-->
				<p:confirmDialog id="idBackSearchCollectionEconomic"
					widgetVar="wVBackSearchCollectionEconomic"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVBackSearchCollectionEconomic.hide()" process="@this"
						action="#{registerCollectionRightMgmtBean.returnCleaningScreen}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idBackSearchCollectionEconomic.hide()" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion para limpiar la pantalla de busqueda-->
				<p:confirmDialog id="idCleanSearchCollectionEconomic"
					widgetVar="wVCleanSearchCollectionEconomic"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVCleanSearchCollectionEconomic.hide()"
						process="@this"
						action="#{registerCollectionRightMgmtBean.exeCleanPageSearchCollectionEconomicDialog}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idCleanSearchCollectionEconomic.hide()" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>