<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
    xmlns:ark="http://java.sun.com/jsf/composite/helpers">    
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
		<h:form id="frmSearchCollectionEconomic">
			<table width="100%">
				<tr> 
					<td>
						<table width="100%">
							<tr>
								<td align="left" colspan="1"> 
									<h:outputText value="#{msgs['lbl.title.collection.rigth']}" 
									styleClass="title-page"  style="align: left" id="idTitle"/>
								</td>
								<td colspan="1">
								</td>
								<td colspan="1">
								</td>
								<td align="right" colspan="1">
									<p:commandButton value = "#{msgs['lbl.register']}"  immediate="true" ajax="false" style="align: right"
									 	rendered="#{userPrivilege.userAcctions.register}" icon="ui-new"
									 	action="pageRegisterCollectionEconomic"/>
								</td>	
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.title.collection.economic.search']}" id="fsMainLegend">
						<table width="100%" border="0">
						<tr>
						<td width="15%" colspan="1">
							<h:outputText styleClass="required-field" value="Participante (*)"   />
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:70%;" id="idPartSearch"
								value="#{searchCollectionRightMgmtBean.searchFilterTO.idParticipantPk}"
								required="true" requiredMessage="#{msgs['lbl.requiered.participant.message']}"
								disabled="#{userInfo.userAccountSession.participantInstitucion or userInfo.userAccountSession.participantInvestorInstitucion }">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="participant"  value="#{searchCollectionRightMgmtBean.listParticipants}" 
					           		itemLabel="#{participant.mnemonic} - #{participant.description} " 
					           		itemValue="#{participant.idParticipantPk}"/>
							</p:selectOneMenu>
							<p:message for="idPartSearch" id="idMessagePartColle" escape="true" />
						</td>
						<td width="15%" colspan="1">
							<h:outputText value="Tipo de Renta"   />
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:50%;"
								value="#{searchCollectionRightMgmtBean.searchFilterTO.typeIncome}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="typeIncome"  value="#{searchCollectionRightMgmtBean.listTypeIncome}" 
					           		itemLabel="#{typeIncome.text1} - #{typeIncome.parameterName} " itemValue="#{typeIncome.parameterTablePk}"/>
						        	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
							</p:selectOneMenu>
						</td>
						</tr>	
						<tr>
					 	<td width="15%" colspan="1">
							<h:outputText value="#{msgs['lbl.request.number.collection.economic']}"/>
						</td>
						<td width="35%" colspan="1">
							<p:inputText style="width:50%;" maxlength="20" value="#{searchCollectionRightMgmtBean.searchFilterTO.requestNumber}">
								<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
							</p:inputText>
						</td>
						<td width="15%" colspan="1">
							<h:outputText  value="#{msgs['lbl.validate.msg']}"/>
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:50%;"
								value="#{searchCollectionRightMgmtBean.searchFilterTO.validated}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="val"  value="#{searchCollectionRightMgmtBean.listValidated}" 
					           		itemLabel="#{val.description} " itemValue="#{val.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						</tr>	
						<tr>
					 	<td width="15%" colspan="1">
							<h:outputText value="#{msgs['lbl.state.msg']}"/>
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:50%;"
								value="#{searchCollectionRightMgmtBean.searchFilterTO.state}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="state"  value="#{searchCollectionRightMgmtBean.listState}" 
					           		itemLabel="#{state.description} " itemValue="#{state.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td width="15%" colspan="1">
						</td>
						<td width="35%" colspan="1">
						</td>
						</tr>	
						<tr>
						<td width="15%">
							<h:outputText value="#{msgs['lbl.date.initial']}(*)" styleClass="required-field" />
						</td>
						<td width="35%" colspan="1">
						<p:calendar  id="idDateInitial" style="width:50%;" 
							value="#{searchCollectionRightMgmtBean.searchFilterTO.initialDate}"
							showOn="both" pattern="dd/MM/yyyy" maxlength="10"
							navigator="true" readonlyInput="true" size="10"
							maxdate="#{searchCollectionRightMgmtBean.searchFilterTO.finalDate}">
							<p:ajax update="idDateEnd" event="dateSelect" global="false"  />
						</p:calendar>
						</td>
						<td width="15%" colspan="1">
							<h:outputText value="#{msgs['lbl.date.final']} (*)" styleClass="required-field" />
						</td>
						<td width="35%" colspan="1">		
						<p:calendar id="idDateEnd" style="width:50%;" 												
							value="#{searchCollectionRightMgmtBean.searchFilterTO.finalDate}"
							showOn="both" pattern="dd/MM/yyyy" maxlength="10"
							navigator="true" readonlyInput="true" size="10"
							mindate = "#{searchCollectionRightMgmtBean.searchFilterTO.initialDate}"
							maxdate = "#{searchCollectionRightMgmtBean.searchFilterTO.finalDate}" >
						<p:ajax update="idDateInitial" event="dateSelect"
								global="false" />
						</p:calendar>
						</td>
						</tr>
						<tr>
							<td height="20px"></td>
						</tr>
						<tr>
						<td colspan="6" align="center">
							<p:commandButton value="#{msgs['lbl.search']}" icon="ui-search"  process="@this @form"
								update="frmSearchCollectionEconomic idResultSearchCollection"
								actionListener="#{searchCollectionRightMgmtBean.searchFromFilters}">
						    </p:commandButton>
							<p:commandButton value="#{msgs['lbl.clean']}"
								actionListener="#{searchCollectionRightMgmtBean.clearAllFilters}" 
								process="@this" icon="ui-empty"	update="@form idResultSearchCollection"/>
						</td>
						</tr>							
						</table>
						</p:fieldset> 
					</td>
				</tr>
				<tr>
				<td>
					<p:outputPanel id="opnlResult" style="width:100%;" >
						<p:outputPanel id="privilegesButtons"
							rendered="#{(searchCollectionRightMgmtBean.reqCollectionEconomicRigths.rowCount >= 1)}">
							 <p:spacer width="10"></p:spacer> 
							 <!--MODIFICAR-->
							 <p:commandButton value = "#{gmsgs['btn.modify']}"  
    						 	ajax="true"
				                 style="align: right" icon="ui-edit"
						 	     rendered="#{userPrivilege.userAcctions.modify}" 
						 	     action="#{searchCollectionRightMgmtBean.beforeModify}"/>
						     <p:spacer width="1"></p:spacer> 
						 	 <!--RECHAZAR-->
						 	 <p:commandButton value = "#{gmsgs['btn.reject']}"  
				                 ajax="true"
				                 style="align: right" icon="ui-cancel"
						 	     rendered="#{userPrivilege.userAcctions.reject}"
						 	     action="#{searchCollectionRightMgmtBean.beforeReject}"/>
						 	 <p:spacer width="1"></p:spacer> 
						 	 <!--CONFIRMAR-->
						 	 <p:commandButton value = "#{gmsgs['btn.confirm']}"  
						 	 	 ajax="true"
				                 style="align: right" icon="ui-confirm"
						 	     rendered="#{userPrivilege.userAcctions.confirm}"
						 	     action="#{searchCollectionRightMgmtBean.beforeConfirm}"/>
						</p:outputPanel>
						<p:fieldset id="fldResultReqCollection" legend="#{msgs['lbl.results']}" 
							rendered="#{(searchCollectionRightMgmtBean.reqCollectionEconomicRigths.rowCount >= 1)}">
						<p:dataTable id="idDtRequestCollection" var="requestCollection" 
						    value="#{searchCollectionRightMgmtBean.reqCollectionEconomicRigths}"
							paginator="true" 
							rows="10" paginatorPosition="top" 
							rowKey="#{requestCollection.idReqCollectionEconomicPk}" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							selection="#{searchCollectionRightMgmtBean.reqCollectionEconomicView}">	
							<p:column selectionMode="single" style="width:18px"/>
							<p:column headerText="#{msgs['lbl.filter.request.number']}" styleClass="content-center" 
								sortBy="#{requestCollection.idReqCollectionEconomicPk}">
								<p:commandLink action="viewRegistreCollectionRigh"  immediate="true"
										actionListener="#{searchCollectionRightMgmtBean.loadDetailReqCollectionEconomic}" 
										style="color:blue" value="#{requestCollection.idReqCollectionEconomicPk}" >
								   <f:attribute name="requestCollectionView" value="#{requestCollection}"/>
								</p:commandLink>
							</p:column>
							<p:column headerText="#{msgs['lbl.participant.msg']}" styleClass="content-center" 
									sortBy="#{requestCollection.participantDesc}">
								<h:outputLabel value="#{requestCollection.participantDesc}">
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.type.of.income']}" styleClass="content-center" 
									sortBy="#{requestCollection.instrumentTypeDesc}">
								<h:outputLabel value="#{requestCollection.instrumentTypeDesc}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.amount.securities']}" styleClass="content-center" 
									sortBy="#{requestCollection.amountSecurities}">
								<h:outputLabel value="#{requestCollection.amountSecurities}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.registre.date']}" styleClass="content-center" 
									sortBy="#{requestCollection.processDate}">
								<h:outputLabel value="#{requestCollection.processDate}">
								 <f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</p:column>
							<!--ESTADO-->
							<p:column headerText="#{msgs['lbl.state.msg']}" styleClass="content-center" 
									sortBy="#{requestCollection.stateDesc}">
								<h:outputLabel value="#{requestCollection.stateDesc}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.validate.msg']}" styleClass="content-center" 
									sortBy="#{requestCollection.submitDesc}">
								<h:outputLabel value="#{requestCollection.submitDesc}"/>
							</p:column>
							<f:facet name="footer" >	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{searchCollectionRightMgmtBean.reqCollectionEconomicRigths.rowCount}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>	
						</p:dataTable>
					</p:fieldset>
					<h:outputLabel value="#{msgs['lbl.alert.no.result.search']}" id="idResultSearchCollection"
								rendered="#{searchCollectionRightMgmtBean.visibleResult}"
								style="font-weight:bold;"/>
					</p:outputPanel>
				</td>
				</tr>
			</table>
		</h:form>
		</ui:define>
	</ui:composition>
</html>