<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
       xmlns:pe="http://primefaces.org/ui/extensions"
       xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
       <ui:define name="body">
             <h:form id="frmRegDeposit">
                    <table width="100%">
                           <tr>
                                  <td colspan="1"><h:outputText
                                               value="#{msgs['lbl.title.view.retirement.funds.collection.economic']}"
                                               styleClass="title-page" style="align: left" id="idTitle" /></td>
                                  <td colspan="1"></td>
                                  <td colspan="1"></td>
                           </tr>
                    </table>
                                        
                    <p:fieldset id="fldPaymentBenefitGroup"
                           legend="#{msgs['lbl.fieldset.main.data']}">
                           <table width="100%">
                                  <p:outputPanel id="opnlSettlementBodyBenefit">
                                        <tr>
                                               <td width="15%" colspan="1"><h:outputText
                                                            styleClass="required-field" value="Participante (*)" /></td>
                                               <td width="35%" colspan="1"><p:selectOneMenu
                                                            style="width:70%;" id="idParticipantReg"
                                                            required="true" disabled="true"
                                                             requiredMessage="#{msgs['lbl.requiered.participant.message']}"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.idParticipantPk}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems var="participant"
                                                                   value="#{retirementManualFundsBean.registreRetirementTO.listParticipant}"
                                                                   itemLabel="#{participant.displayDescriptionCode}"
                                                                   itemValue="#{participant.idParticipantPk}" />
                                                            <p:ajax event="change" update="@this idBankReg idRegDateReg idDepositGloss idCurrencyDepositReg idDespositAmountReg" process="@this"
                                                                   listener="#{retirementManualFundsBean.onChangeParticipantRegistry}" />
                                                      </p:selectOneMenu> <p:message for="idParticipantReg"
                                                            id="idMessagePartColleReg" escape="true" /></td>
                                               <td width="15%" colspan="1"></td>
                                               <td width="35%" colspan="1"></td>
                                        </tr>
                                        <tr>
                                               <td width="15%" colspan="1"><h:outputText value="Banco (*)"
                                                            styleClass="required-field" /></td>
                                               <td width="35%" colspan="1">
                                               <p:selectOneMenu value="#{retirementManualFundsBean.registreRetirementTO.idBankPk}" disabled="true"
                                                            id="idBankReg" required="true" requiredMessage="#{msgs['msg.validation.required.bank']}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems
                                                                   value="#{retirementManualFundsBean.registreRetirementTO.listBanks}"
                                                                   var="bank" itemLabel="#{bank.mnemonic} - #{bank.description}"
                                                                   itemValue="#{bank.idBankPk}" />
                                                            <p:ajax event="change" update="@this idBcbCodeReg idRegDateReg idDepositGloss idCurrencyDepositReg idDespositAmountReg"
                                                                   listener="#{retirementManualFundsBean.onChangeBankRegistry}"
                                                                   process="@this " immediate="false" />
                                                      </p:selectOneMenu> <p:message for="idBankReg" id="msgSearchBankBenefit" escape="true" /></td>
                                               <td width="15%" colspan="1"><h:outputText
                                                            value="Codigo BIC (*)" styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:inputText id="idBcbCodeReg"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.bcbCode}"
                                                            disabled="true"></p:inputText></td>
                                        </tr>
                                        <tr>
                                               <!--Fecha de operacion-->
                                               <td width="15%" colspan="1"><h:outputText
                                                            value="Fecha de Cobro (*)" styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:calendar disabled="true"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.registreDate}"
                                                             maxdate="#{retirementManualFundsBean.registreRetirementTO.maxDate}"
                                                             mindate="#{retirementManualFundsBean.registreRetirementTO.minDate}"
                                                            size="10" pattern="#{gmsgs['calendar.date.format']}"
                                                            navigator="true" disabledWeekends="true" required="true"
                                                            id="idRegDateReg" showOn="both">
                                                            <p:ajax event="dateSelect"
                                                                   listener="#{retirementManualFundsBean.onChangeOperationDateRegistry}"
                                                                   process="@this"
                                                                   update="@this idDepositGloss idCurrencyDepositReg idDespositAmountReg" />
                                                      </p:calendar> <p:message escape="true" for="idRegDateReg" id="msgidRegDateReg" /></td>
                                               <td width="20%"><h:outputText value="Glosa de Deposito (*)"
                                                            styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:selectOneMenu disabled="true"
                                                            id="idDepositGloss" required="true" requiredMessage="#{msgs['msg.validation.required.gloss']}"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.gloss}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems
                                                                   value="#{retirementManualFundsBean.registreRetirementTO.listGloss}"
                                                                   var="gloss" itemValue="#{gloss}" itemLabel="#{gloss}" />
                                                            <p:ajax event="change"
                                                                   listener="#{retirementManualFundsBean.onChangeGlossRegistry}"
                                                                   process="@this"
                                                                   update="@this idCurrencyDepositReg idDespositAmountReg" />
                                                      </p:selectOneMenu>
                                                      <p:message escape="true" for="idDepositGloss" />
                                                      </td>
                                        </tr>
                                        <tr>
                                               <td><h:outputText value="Moneda de Retiro (*)"
                                                            styleClass="required-field" /></td>
                                               <td><p:selectOneMenu id="idCurrencyDepositReg" disabled="true"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.currency}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems
                                                                   value="#{retirementManualFundsBean.registreRetirementTO.listCurrency}"
                                                                   var="currency" itemValue="#{currency.parameterTablePk}"
                                                                   itemLabel="#{currency.description} - #{currency.parameterName}" />
                                                      </p:selectOneMenu> <p:message display="icon" for="idCurrencyDepositReg"
                                                            id="msgCurrencyBenefit" /></td>
                                        </tr>
                                        <tr>
                                               <td><h:outputText value="Monto de Retiro (*)"
                                                            styleClass="required-field">
                                                      </h:outputText></td>
                                               <td><p:inputText disabled="true" required="true" requiredMessage="#{msgs['msg.validation.required.amount.retirement']}"
                                                             value="#{retirementManualFundsBean.registreRetirementTO.amountRetirement}"
                                                            styleClass="content-right" id="idDespositAmountReg" size="40">
                                                            <p:keyFilter mask="pnum" />
                                                            <f:convertNumber
                                                                   pattern="#{cons['conv.number.pattern.nominal.amount']}"
                                                                   locale="#{cons['conv.number.locale']}" />
                                                            <p:ajax event="change" update="@this" process="@this">
                                                            </p:ajax>
                                                      </p:inputText>
                                                      <p:message escape="true" for="idDespositAmountReg" />
                                                      </td>
                                        </tr>
                                        <tr style="height: 4px;"></tr>
                                        <tr>
                                               <td align="center" colspan="4">
                                                      <p:commandButton
									id="idBtnRejectDeposts" value="Rechazar" icon="ui-cancel"
									update="@form"
									rendered="#{retirementManualFundsBean.registreRetirementTO.btnReject}"
									actionListener="#{retirementManualFundsBean.beforeSaveReject}" />
								<p:commandButton id="idBtnConfirmDeposts" value="Confirmar"
                                      icon="ui-confirm" update="@form" rendered="#{retirementManualFundsBean.registreRetirementTO.btnConfirm}"
                                       actionListener="#{retirementManualFundsBean.beforeSaveConfirm}" />
                                <p:commandButton value="Regresar" icon="ui-back"
                                       actionListener="#{retirementManualFundsBean.cleanView()}"
                                       action="#{retirementManualFundsBean.clickToBackSearch()}"
                                      process="@this @form">
                                </p:commandButton>
                                                      
                                               </td>
                                        </tr>
                                  </p:outputPanel>
                           </table>
                    </p:fieldset>
             </h:form>
             <p:outputPanel id="opnlDialogs">
              <h:form id="formSearchDialogs">
                     <p:confirmDialog id="idRejectDialog"
                            widgetVar="wvDialogRejectRetirement" header="#{msgs['msg.header.confirm']}"
                            message="#{msgs['msg.confirm.reject.retirement']}" closable="false">
                            <p:commandButton value="#{gmsgs['btn.yes']}" process="@this"
                                  oncomplete="wvDialogRejectRetirement.hide()" 
                                  action="#{retirementManualFundsBean.saveRejectRetirement}" />
                            <p:commandButton value="#{gmsgs['btn.no']}"
                                  onclick="wvDialogRejectRetirement.hide()" />
                     </p:confirmDialog>
                     
                     <p:confirmDialog id="idConfirmDialog"
                            widgetVar="wvDialogConfirmRetirement" header="#{msgs['msg.header.confirm']}"
                            message="#{msgs['msg.confirm.confirm.retirement']}" closable="false">
                            <p:commandButton value="#{gmsgs['btn.yes']}" process="@this"
                                  oncomplete="wvDialogConfirmRetirement.hide()" 
                                  action="#{retirementManualFundsBean.saveConfirmRetirement}" />
                            <p:commandButton value="#{gmsgs['btn.no']}"
                                  onclick="wvDialogConfirmRetirement.hide()" />
                     </p:confirmDialog>
                     
                     <p:dialog widgetVar="wvDialogResult"
                                        header="#{gmsgs['lbl.header.alert.success']}" closable="false"
                                        appendTo="@(boddy)" modal="true" resizable="false" width="20%">
                                        <h:panelGrid>
                                               <h:outputText value="#{msgs['msg.result.retirement.confirm.success']}" />
                                        </h:panelGrid>
                                        <br />
                                        <h:panelGrid style="margin: 0 auto;">
                                               <p:commandButton value="Aceptar" process="@this"
                                                      oncomplete="wvDialogResult.hide()"
                                                      action="searchRetiremnetFunds" />
                                        </h:panelGrid>
                                  </p:dialog>

				<p:dialog widgetVar="wvDialogResultReject"
					header="#{gmsgs['lbl.header.alert.success']}" closable="false"
					appendTo="@(boddy)" modal="true" resizable="false" width="20%">
					<h:panelGrid>
						<h:outputText
							value="#{msgs['msg.result.retirement.reject.success']}" />
					</h:panelGrid>
					<br />
					<h:panelGrid style="margin: 0 auto;">
						<p:commandButton value="Aceptar" process="@this"
							oncomplete="wvDialogResultReject.hide()"
							action="searchRetiremnetFunds" />
					</h:panelGrid>
				</p:dialog>
			</h:form>
       </p:outputPanel>
       </ui:define>
</ui:composition>
</html>