<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
       xmlns:pe="http://primefaces.org/ui/extensions"
       xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
       <ui:define name="body">
             <h:form id="frmRegDeposit">
                    <table width="100%">
                                  <tr>
                                        <td colspan="1"><h:outputText
                                                      value="#{msgs['fieldset.title.deposit.funds.collection.economic.view']}"
                                                      styleClass="title-page" style="align: left" id="idTitle" /></td>
                                        <td colspan="1"></td>
                                        <td colspan="1"></td>
                                  </tr>
                           </table>
                    <p:fieldset id="fldPaymentBenefitGroup"
                           legend="#{msgs['lbl.fieldset.main.data']}">
                           <table width="100%">
                                  <p:outputPanel id="opnlSettlementBodyBenefit">
                                        <tr>
                                               <td width="15%" colspan="1"><h:outputText
                                                            styleClass="required-field" value="Participante (*)" /></td>
                                               <td width="35%" colspan="1"><p:selectOneMenu disabled="true"
                                                            style="width:70%;" id="idParRegCollectionEconomic"
                                                            required="true"
                                                             requiredMessage="#{msgs['lbl.requiered.participant.message']}"
                                                             value="#{depositManualFundsBean.registreDepositTO.idParticipantPk}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems var="participant"
                                                                   value="#{depositManualFundsBean.registreDepositTO.listParticipant}"
                                                                   itemLabel="#{participant.displayDescriptionCode}"
                                                                   itemValue="#{participant.idParticipantPk}" />
                                                            <p:ajax event="change" update="@this idBankReg idRegDateReg idDepositGloss idCurrencyDepositReg idDespositAmountReg" process="@this"
                                                                   listener="#{depositManualFundsBean.onChangeParticipantRegistry}" />
                                                      </p:selectOneMenu> <p:message for="idParRegCollectionEconomic"
                                                            id="idMessagePartColleReg" escape="true" /></td>
                                               <td width="15%" colspan="1"></td>
                                               <td width="35%" colspan="1"></td>
                                        </tr>
                                        <tr>
                                               <td width="15%" colspan="1"><h:outputText value="Banco (*)"
                                                            styleClass="required-field" /></td>
                                               <td width="35%" colspan="1">
                                               <p:selectOneMenu value="#{depositManualFundsBean.registreDepositTO.idBankPk}" disabled="true"
                                                            id="idBankReg">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems
                                                                   value="#{depositManualFundsBean.registreDepositTO.listBanks}"
                                                                   var="bank" itemLabel="#{bank.mnemonic} - #{bank.description}"
                                                                   itemValue="#{bank.idBankPk}" />
                                                            <p:ajax event="change" update="@this idBcbCodeReg"
                                                                   listener="#{depositManualFundsBean.onChangeBankRegistry}"
                                                                   process="@this " immediate="false" />
                                                      </p:selectOneMenu> <p:message display="icon" for="idBankReg"
                                                            id="msgSearchBankBenefit" /></td>
                                               <td width="15%" colspan="1"><h:outputText
                                                            value="Codigo BIC (*)" styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:inputText id="idBcbCodeReg"
                                                             value="#{depositManualFundsBean.registreDepositTO.bcbCode}"
                                                            disabled="true"></p:inputText></td>
                                        </tr>
                                        <tr>
                                               <!--Fecha de operacion-->
                                               <td width="15%" colspan="1"><h:outputText
                                                            value="Fecha de Cobro (*)" styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:calendar disabled="true"
                                                             value="#{depositManualFundsBean.registreDepositTO.registreDate}"
                                                             maxdate="#{depositManualFundsBean.registreDepositTO.maxDate}"
                                                             mindate="#{depositManualFundsBean.registreDepositTO.minDate}"
                                                            size="10" pattern="#{gmsgs['calendar.date.format']}"
                                                            navigator="true" disabledWeekends="true" required="true"
                                                            id="idRegDateReg" showOn="both">
                                                            <p:ajax event="dateSelect"
                                                                   listener="#{depositManualFundsBean.onChangeOperationDateRegistry}"
                                                                   process="@this"
                                                                   update="@this idDepositGloss idCurrencyDepositReg idDespositAmountReg" />
                                                      </p:calendar> <p:message display="icon" for="idRegDateReg"
                                                            id="msgidRegDateReg" /></td>
                                               <td width="20%"><h:outputText value="Glosa de Deposito (*)"
                                                            styleClass="required-field" /></td>
                                               <td width="35%" colspan="1"><p:selectOneMenu
                                                            id="idDepositGloss" required="true" disabled="true"
                                                            value="#{depositManualFundsBean.registreDepositTO.gloss}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                           <f:selectItems
                                                                   value="#{depositManualFundsBean.registreDepositTO.listGloss}"
                                                                   var="gloss" itemValue="#{gloss}" itemLabel="#{gloss}" />
                                                            <p:ajax event="change"
                                                                   listener="#{depositManualFundsBean.onChangeGlossRegistry}"
                                                                   process="@this"
                                                                   update="@this idCurrencyDepositReg idDespositAmountReg" />
                                                      </p:selectOneMenu></td>
                                        </tr>
                                        <tr>
                                               <td><h:outputText value="Moneda de Deposito (*)"
                                                            styleClass="required-field" /></td>
                                               <td><p:selectOneMenu id="idCurrencyDepositReg" disabled="true"
                                                             value="#{depositManualFundsBean.registreDepositTO.currency}">
                                                            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
                                                            <f:selectItems
                                                                   value="#{depositManualFundsBean.registreDepositTO.listCurrency}"
                                                                   var="currency" itemValue="#{currency.parameterTablePk}"
                                                                   itemLabel="#{currency.description} - #{currency.parameterName}" />
                                                      </p:selectOneMenu> <p:message display="icon" for="idCurrencyDepositReg"
                                                            id="msgCurrencyBenefit" /></td>
                                        </tr>
                                        <tr>
                                               <td><h:outputText value="Monto de Deposito (*)"
                                                            styleClass="required-field">
                                                      </h:outputText></td>
                                               <td><p:inputText disabled="true"
                                                             value="#{depositManualFundsBean.registreDepositTO.amountDeposited}"
                                                            styleClass="content-right" id="idDespositAmountReg" size="40">
                                                            <p:keyFilter mask="pnum" />
                                                            <f:convertNumber
                                                                   pattern="#{cons['conv.number.pattern.nominal.amount']}"
                                                                   locale="#{cons['conv.number.locale']}" />
                                                            <p:ajax event="change" update="@this" process="@this">
                                                            </p:ajax>
                                                      </p:inputText></td>
                                        </tr>
                                        <tr>
                                        <td>
                                        <h:outputText value="Archivo Adjunto" rendered="#{depositManualFundsBean.registreDepositTO.auxDepositFile != null}"
                                                            styleClass="required-field">
                                                      </h:outputText>
                                                      
                                                      </td>
                                                            <td colspan="4"><p:outputPanel id="oPnlFile"
                                                                          styleClass="fileupload-customize" layout="block">
                                                                          <p:commandLink id="cmlViewFile" styleClass="icon" process="@this"
                                                                                 rendered="#{depositManualFundsBean.registreDepositTO.auxDepositFile != null}"
                                                                                 update="oPnlFile" global="false" ajax="false" immediate="true">
                                                                                 <p:fileDownload       value="#{depositManualFundsBean.getFileStreamContent()}" />
                                                                                <p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
                                                                          </p:commandLink>
                                                                   </p:outputPanel><br/>
                                                                   <h:outputText value=" #{depositManualFundsBean.registreDepositTO.auxDepositFileName}" 
                                                      rendered="#{depositManualFundsBean.registreDepositTO.auxDepositFile != null}">
                                                      </h:outputText></td>
                                                      </tr>
                                        <tr style="height: 4px;"></tr>
                                        <tr>
                                               <td align="center" colspan="4">
                                                      <p:commandButton
                                                            id="idBtnRejectDeposts" value="Rechazar" icon="ui-cancel"
                                                            update="@form" rendered="#{depositManualFundsBean.registreDepositTO.btnReject}"
                                                             actionListener="#{depositManualFundsBean.beforeSaveReject}" />
                                                      <p:commandButton id="idBtnConfirmDeposts" value="Confirmar"
                                                            icon="ui-confirm" update="@form" rendered="#{depositManualFundsBean.registreDepositTO.btnConfirm}"
                                                             actionListener="#{depositManualFundsBean.beforeSaveConfirm}" />
                                                      <p:commandButton value="Regresar" icon="ui-back"
                                                             actionListener="#{depositManualFundsBean.cleanView()}"
                                                             action="#{depositManualFundsBean.clickToBackSearch()}"
                                                            process="@this @form">
                                                      </p:commandButton>
                                               </td>
                                        </tr>
                                  </p:outputPanel>
                           </table>
                    </p:fieldset>
             </h:form>
             <p:outputPanel id="opnlDialogs">
                    <h:form id="formSearchDialogs">
                    
                           <p:confirmDialog id="idRejectDialog"
                                  widgetVar="wvDialogRejectDeposit" header="#{msgs['msg.header.confirm']}"
                                  message="#{msgs['msg.confirm.reject.deposit']}" closable="false">
                                  <p:commandButton value="#{gmsgs['btn.yes']}" process="@this"
                                        oncomplete="wvDialogRejectDeposit.hide()" 
                                        action="#{depositManualFundsBean.saveRejectDeposit}" />
                                  <p:commandButton value="#{gmsgs['btn.no']}"
                                        onclick="wvDialogRejectDeposit.hide()" />
                           </p:confirmDialog>
                           
                           <p:confirmDialog id="idConfirmDialog"
                                  widgetVar="wvDialogConfirmDeposit" header="#{msgs['msg.header.confirm']}"
                                  message="#{msgs['msg.confirm.confirm.deposit']}" closable="false">
                                  <p:commandButton value="#{gmsgs['btn.yes']}" process="@this"
                                        oncomplete="wvDialogConfirmDeposit.hide()" 
                                        action="#{depositManualFundsBean.saveConfirmDeposit}" />
                                  <p:commandButton value="#{gmsgs['btn.no']}"
                                        onclick="wvDialogConfirmDeposit.hide()" />
                           </p:confirmDialog>

                                               <p:dialog widgetVar="wvDialogResult"
                                                      header="#{gmsgs['lbl.header.alert.success']}" closable="false"
                                                      appendTo="@(boddy)" modal="true" resizable="false" width="20%">
                                                      <h:panelGrid>
                                                            <h:outputText value="#{msgs['msg.result.confirm.success']}" />
                                                      </h:panelGrid>
                                                      <br />
                                                      <h:panelGrid style="margin: 0 auto;">
                                                            <p:commandButton value="Aceptar" process="@this"
                                                                   oncomplete="wvDialogResult.hide()"
                                                                   action="searchDepositFunds" />
                                                      </h:panelGrid>
                                               </p:dialog>
                                               
                                               <p:dialog widgetVar="wvDialogResultReject"
                                                      header="#{gmsgs['lbl.header.alert.success']}" closable="false"
                                                      appendTo="@(boddy)" modal="true" resizable="false" width="20%">
                                                      <h:panelGrid>
                                                            <h:outputText value="#{msgs['msg.result.reject.success']}" />
                                                      </h:panelGrid>
                                                      <br />
                                                      <h:panelGrid style="margin: 0 auto;">
                                                            <p:commandButton value="Aceptar" process="@this"
                                                                   oncomplete="wvDialogResultReject.hide()"
                                                                   action="searchDepositFunds" />
                                                      </h:panelGrid>
                                               </p:dialog>
                    
                    </h:form>
             </p:outputPanel>
       </ui:define>
</ui:composition>
</html>