<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"	
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel" >    
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
		<table id="tblMainCollectionEconomicRigth" width="100%"> 
		<tr> 
			<td> 
				<table border="0" width="100%"> 
					<tr> 
					<td align="left"> 
						<h:outputText value = "#{msgs['title.view.request.collection.economic.detail']}"  styleClass="title-page"  style="align: left" id="idTitle"/>
					</td>
					</tr>
				</table>
			</td>
		</tr> 
		</table>
		<!--FILTROS PARA LA BUSQUEDA-->
		<h:form id="frmSearchCollection">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.registre.date']}" id="idMainFieldSet">
						<table width="100%" border="0">
						<tr>
						<td width="15%" colspan="1">
							<h:outputText styleClass="required-field" value=  "#{msgs['lbl.participant.msg']} (*)"/>
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:70%;" id="idParRegCollectionEconomic" 
								value="#{searchCollectionRightMgmtBean.viewRegistreTO.idParticipantPk}"
								disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="participant"  value="#{searchCollectionRightMgmtBean.listParticipants}" 
					           		itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
							</p:selectOneMenu>
						</td>
						<td width="15%" colspan="1">
							<h:outputText styleClass="required-field" value="#{msgs['lbl.filter.type.of.income']}  (*)"   />
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:50%;" id="idTypeIncome" 
								disabled="true"
								value="#{searchCollectionRightMgmtBean.viewRegistreTO.typeIncome}">
					            <f:selectItems var="typeIncome"  value="#{searchCollectionRightMgmtBean.listTypeIncome}" 
					           		itemLabel="#{typeIncome.text1} - #{typeIncome.parameterName} " itemValue="#{typeIncome.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr> 
						<!--Emisor y Clase de Valor-->
						<td width="15%" colspan="1" >
							<h:outputText value="#{msgs['lbl.filter.issuer']}"/>
						</td>
						<td width="35%" colspan="1"> 
							<ark:issuerHelper 											
								id="issuerHelper"
								issuer="#{searchCollectionRightMgmtBean.viewRegistreTO.issuer}"
								disabled="true"
								required="false"													
								/>													
						</td>
						<td width="15%" colspan="1"> 
							<h:outputText value="#{msgs['lbl.filter.security.class']}" />
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:70%;" id="idSecurityClass" disabled="true"
								value="#{searchCollectionRightMgmtBean.viewRegistreTO.securityClass}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  />
					            <f:selectItems var="typeIncome"  value="#{searchCollectionRightMgmtBean.lstSecurityClass}" 
					           		itemLabel="#{typeIncome.text1} - #{typeIncome.parameterName} " itemValue="#{typeIncome.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td width="15%" colspan="1">
							<h:outputText value="#{msgs['lbl.filter.security.class.key']}"/>
						</td>
						<td>
							<p:outputPanel id="idSecurityPanel" style="width:50%;" >
							<arkHelp:securityHelper 
								id="idSecurityCode" 
								disabled="true"
								issuer = "#{searchCollectionRightMgmtBean.viewRegistreTO.issuer}"
								security="#{searchCollectionRightMgmtBean.viewRegistreTO.security}" 
								securityClass="#{searchCollectionRightMgmtBean.viewRegistreTO.securityClass}"/>
							</p:outputPanel>
						</td>
						<td width="15%" colspan="1">
							<h:outputText value="#{msgs['lbl.filter.currency.type']}"  />
						</td>
						<td width="35%" colspan="1">
							<p:selectOneMenu style="width:50%;" id="idCurrency" disabled="true"
								value="#{searchCollectionRightMgmtBean.viewRegistreTO.currency}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					            <f:selectItems var="typeIncome"  value="#{searchCollectionRightMgmtBean.lstCurrency}" 
					           		itemLabel="#{typeIncome.description} - #{typeIncome.parameterName} " itemValue="#{typeIncome.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
					<td width="15%">
						<h:outputText value="#{msgs['lbl.date.initial']} (*)" styleClass="required-field"/>
					</td>
					<td width="35%" colspan="1">
					<p:calendar  id="idDateInitial" styleClass="required-field" 
						value="#{searchCollectionRightMgmtBean.viewRegistreTO.initialDate}"
						showOn="both" pattern="dd/MM/yyyy" maxlength="10"
						disabled="true"
						navigator="true" readonlyInput="true" size="10">
					</p:calendar>
					</td>
					<td width="15%" colspan="1">
						<h:outputText value="#{msgs['lbl.date.final']} (*)" styleClass="required-field"/>
					</td>
					<td width="35%" colspan="1">		
					<p:calendar id="idDateEnd" styleClass="required-field" 												
						value="#{searchCollectionRightMgmtBean.viewRegistreTO.finalDate}"
						showOn="both" pattern="dd/MM/yyyy" maxlength="10"
						disabled="true"
						navigator="true" readonlyInput="true" size="10">
					</p:calendar>
					</td>
					</tr>
					<tr>
						<td height="20px"></td>
					</tr>
					</table>
					</p:fieldset> 
				</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlResult" style="width:100%;" >
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" 
								rendered="#{(searchCollectionRightMgmtBean.lisRegisterResultTOs.rowCount >= 1)}">
								<p:dataTable id="dtbResultResult" var="searchRegisterResultTO" 
									disabledSelection="true"
								    value="#{searchCollectionRightMgmtBean.lisRegisterResultTOs}"
									paginator="true" rows="10" paginatorPosition="top" 
									rowKey="#{searchRegisterResultTO.idGeneralPurposePk}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">	
									<p:column headerText="#{msgs['lbl.filter.due.date']}"  
										sortBy="#{searchRegisterResultTO.dueDate}"
										rendered="#{!searchCollectionRightMgmtBean.viewRegistreTO.renderedRV}">
										<h:outputText value="#{searchRegisterResultTO.dueDate}">
											<f:convertDateTime pattern="#{cons['date.pattern']}"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.payment.date']}" 
										sortBy="#{searchRegisterResultTO.paymentDate}">
										<h:outputText value="#{searchRegisterResultTO.paymentDate}">
											<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.alternate.code']}" 
										sortBy="#{searchRegisterResultTO.alternateCode}">
										<h:outputText value="#{searchRegisterResultTO.alternateCode}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.security.class.key']}" 
										sortBy="#{searchRegisterResultTO.idSecurityCodePk}">
										<h:outputText value="#{searchRegisterResultTO.idSecurityCodePk}" style="width:110px;">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.currency.type']}" 
										sortBy="#{searchRegisterResultTO.currency}">
										<h:outputText value="#{searchRegisterResultTO.currencyDesc}" style="width:60px;">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.quantity.of.values']}" styleClass="content-left" 
										sortBy="#{searchRegisterResultTO.availableBalance}">
										<h:outputText value="#{searchRegisterResultTO.availableBalance}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.interest']}" styleClass="content-left"
									    rendered="#{!searchCollectionRightMgmtBean.viewRegistreTO.renderedRV}">
										<h:outputText value="#{searchRegisterResultTO.interestRate}">
											<f:convertNumber pattern="#,##0.00"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.amortization']}" styleClass="content-left"
										        rendered="#{!searchCollectionRightMgmtBean.viewRegistreTO.renderedRV}">
										<h:outputText value="#{searchRegisterResultTO.amortization}">
											<f:convertNumber pattern="#,##0.00"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.total.amount']}" styleClass="content-left" 
										rendered="#{!searchCollectionRightMgmtBean.viewRegistreTO.renderedRV}"
										sortBy="#{searchRegisterResultTO.totalAmount}">
										<h:outputText value="#{searchRegisterResultTO.totalAmount}">
											<f:convertNumber pattern="#,##0.00"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.another.collection.currency']}" 
										rendered="#{!searchCollectionRightMgmtBean.viewRegistreTO.renderedRV}"
										styleClass="content-center">
										<p:selectBooleanCheckbox value="#{searchRegisterResultTO.checkOther}" disabled="true"/>
									</p:column>
									<p:column headerText="Moneda de Cobro" styleClass="content-left">
										<p:selectOneMenu style="width:100%;" id="idCurrency"
										    disabled="#{searchRegisterResultTO.currencyFilter.disabled}"
											value="#{searchRegisterResultTO.currencyFilter.currency}"
											valueChangeListener="#{searchCollectionRightMgmtBean.currencyChangeEvent}">
								            <f:selectItems var="currency"  value="#{searchRegisterResultTO.currencyFilter.listCurrency}" 
								           		itemLabel="#{currency.description}" itemValue="#{currency.parameterTablePk}"/>
										</p:selectOneMenu>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.amount.to.Collect']}" style="width:90px;">
										<p:inputText value="#{searchRegisterResultTO.amountChargeFilter.amount}" style="width:85px;"
											disabled="#{searchRegisterResultTO.amountChargeFilter.disabled}">
										<f:convertNumber pattern="#,##0.00"/>
										</p:inputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.name.bank']}" styleClass="content-left">
										<p:selectOneMenu style="width:100%;" id="idBank"  disabled="true"
											valueChangeListener="#{searchCollectionRightMgmtBean.bankChangeEvent}"
											value="#{searchRegisterResultTO.bankFilter.idBankPkSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
								            <f:selectItems var="bank"  value="#{searchRegisterResultTO.bankFilter.listBankProvider}" 
								           		itemValue="#{bank.idBankPk}" itemLabel="#{bank.description}"/>
										</p:selectOneMenu>
									</p:column>
									<p:column headerText="#{msgs['lbl.filter.account']}" styleClass="content-left">
										<h:outputText value="#{searchRegisterResultTO.accountFilter.accountSelected}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.column.notification.payment.agent']}" styleClass="content-left">
										<h:outputText rendered="#{searchRegisterResultTO.notificationFilter.stateDescription eq 'Enviada'}" style="color: green;" value="#{searchRegisterResultTO.notificationFilter.stateDescription}">
										</h:outputText>
										
										<h:outputText rendered="#{searchRegisterResultTO.notificationFilter.stateDescription eq 'No Enviada'}" style="color: red;" value="#{searchRegisterResultTO.notificationFilter.stateDescription}">
										</h:outputText>
										
										
										<h:outputText rendered="#{searchRegisterResultTO.notificationFilter.stateDescription eq 'Recepcionada'}" style="color: blue;" value="#{searchRegisterResultTO.notificationFilter.stateDescription}">
										</h:outputText>
										
									</p:column>
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							            	<f:param value="#{searchCollectionRightMgmtBean.lisRegisterResultTOs.rowCount}"/>
							            </h:outputFormat>									
										</div>
									</f:facet>	
								</p:dataTable>
								<h:outputLabel value="#{msgs['lbl.message.no.result']}" 
										rendered="#{!(searchCollectionRightMgmtBean.lisRegisterResultTOs.rowCount >= 1)}"
										style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				<tr style="height: 4px;"></tr>
				<tr>
					<td align="center">
						<table>
							<tr>
								<td>
									<p:commandButton value="#{gmsgs['btn.reject']}"
									     icon="ui-cancel"
									     rendered="#{searchCollectionRightMgmtBean.viewRegistreTO.renderedRejected}"
									     action="#{searchCollectionRightMgmtBean.rejectReqCollectionDialog}"/>
								</td>
								<!--Confirmar solicitud en estado registrado-->
								<td>
									<p:commandButton value="#{gmsgs['btn.confirm']}"
										 icon="ui-confirm"
									     rendered="#{searchCollectionRightMgmtBean.viewRegistreTO.renderedConfirmRegistre}"
									     actionListener="#{searchCollectionRightMgmtBean.confirmReqCollectionDialog}"/>
								</td>
								<!--Confirmar solicitud en estado modificado-->
								<td>
									<p:commandButton value="#{gmsgs['btn.confirm']}"
										 icon="ui-confirm"
									     rendered="#{searchCollectionRightMgmtBean.viewRegistreTO.renderedConfirmModify}"
									     actionListener="#{searchCollectionRightMgmtBean.confirmModfReqCollectionDialog}"/>
								</td>
								<td colspan="4" align="center">
									<p:commandButton value="#{msgs['lbl.back']}" icon="ui-back" 
										action="backLoadPageSearchCollection"
										>
								    </p:commandButton>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formDetailDialogs">
				<!--CONFIRMAR SOLICITUD DE REGISTRO DE COBRO DE DERCHO ECONOMICO -->
				<p:confirmDialog widgetVar="vwDialogConfirmReqCollection" id="idDialogConfirmReqCollection"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="vwDialogConfirmReqCollection.hide()" process="@this"
								action="#{searchCollectionRightMgmtBean.confirmReqCollectionDialogYes}" >
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="idDialogConfirmReqCollection.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE SOLICITUD EXITOSA-->
				<p:confirmDialog widgetVar="wvDialogConfirmReqCollectionOk" 
								 id="idDialogConfirmReqCollectionOk"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="idDialogConfirmReqCollectionOk.hide()"
								process ="@this"	
								action = "backLoadPageSearchCollection">
						</p:commandButton> 
				</p:confirmDialog>
				 <!--RECHAZAR SOLICITUD DE COBRO DE DERECHO ECONOMICO-->
				 <p:confirmDialog widgetVar="wvDialogRejectReqCollection" id="idDialogRejectReqCollection"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="wvDialogRejectReqCollection.hide()" process="@this"
								action="#{searchCollectionRightMgmtBean.rejectReqCollectionDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="idDialogRejectReqCollection.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!-- AVISO DE RECHAZO DE LA SOLICITUD DE SOLICITUD DE COBRO DE DERECHO ECONOMICO-->
				<p:confirmDialog widgetVar="wvDialogRejectReqCollectionOk" id="idDialogRejectReqCollectionOk"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								oncomplete ="wvDialogRejectReqCollectionOk.hide()"
								process ="@this"	
								action = "backLoadPageSearchCollection"/>
				</p:confirmDialog>
			 	 <!--DIALOGO PARA CONFIRMAR LA SOLICITUD DE MODIFICACION -->
				 <p:confirmDialog widgetVar="vWConfirmModfReqCollection" id="iDConfirmModfReqCollection"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="vWConfirmModfReqCollection.hide()" process="@this"
								action="#{searchCollectionRightMgmtBean.confirmModfReqCollectionDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}"
								onclick="iDConfirmModfReqCollection.hide()">
						</p:commandButton>
				</p:confirmDialog>
				 <!--DIALOGO PARA DES - BLOQUEAR -->
				 <p:confirmDialog widgetVar="vWUnBlockBankAccount" id="idUnBlockBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="vWUnBlockBankAccount.hide()" process="@this"
								action="#{searchCollectionRightMgmtBean.unBlockBankAccountDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}"
								onclick="idUnBlockBankAccount.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE DES - BLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogUnBlockYes" id="cnfIdDialogUnBlockYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogUnBlockYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE BLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogBlockYes" id="cnfIdDialogBlockYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogLookYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE RECHAZO CORRECTO CUENTA BANCARIA-->
				<p:confirmDialog widgetVar="wvDialogRejectBankAccountYes" id="idDialogRejectBankAccountYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								oncomplete ="wvDialogRejectBankAccountYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"/>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE CONFIRMACION CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogConfirmBankAccountYes" 
								 id="cnfIdDialogConfirmBankAccountYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogConfirmBankAccountYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail">
						</p:commandButton> 
				</p:confirmDialog>
		</h:form>
		</p:outputPanel>
		</ui:define>
	</ui:composition>
</html>