<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:form id="frmSearchMatchDepositGloss">
			<table width="100%">
				<tr>
					<td>
						<table width="100%">
							<tr>
								<td colspan="1"><h:outputText
										value="#{msgs['lbl.consult.gloss.correction']}"
										styleClass="title-page" style="align: left" id="idTitle" /></td>
								<td colspan="1"></td>
								<td colspan="1"></td>
								<td align="right" colspan="1"><p:commandButton
										value="#{msgs['lbl.register']}" ajax="false" immediate="true"
										style="align: right"
										rendered="#{searchDepositModificationForCollectionBean.userPrivilege.userAcctions.register}"
										icon="ui-new"
										action="#{searchDepositModificationForCollectionBean.loadPageRegistreDeposit}" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<p:fieldset id="fldPaymentBenefitGroup"
				legend="#{msgs['lbl.criteria.search.label']}">
				<table width="100%">
					<p:outputPanel id="opnlSettlementBodyBenefit">
						<tr>
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['lbl.participant.msg']}" /></td>
							<td width="35%" colspan="1"><p:selectOneMenu
									style="width:70%;" id="idParRegCollectionEconomic"
									value="#{searchDepositModificationForCollectionBean.searchDepositTO.idParticipantPk}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems var="participant"
										value="#{searchDepositModificationForCollectionBean.searchDepositTO.listParticipant}"
										itemLabel="#{participant.displayDescriptionCode}"
										itemValue="#{participant.idParticipantPk}" />
									<p:ajax event="change" update="@this" process="@this"
										listener="#{searchDepositModificationForCollectionBean.onChangeParticipant}" />
								</p:selectOneMenu></td>
							<td width="15%" colspan="1"></td>
							<td width="35%" colspan="1"></td>
						</tr>
						<tr>
							<!-- Helper de CUI titular -->
							<td width="15%" colspan="1"><h:outputLabel
									value="#{msgs['lbl.filter.name.cui']}" /></td>
							<td width="65%" colspan="3"><p:outputPanel id="idHelpHolder">
									<ark:holderHelper blPersonType="false" id="idHolderReq"
										holder="#{searchDepositModificationForCollectionBean.searchDepositTO.holder}"
										participant="#{searchDepositModificationForCollectionBean.searchDepositTO.idParticipantPk}"
										remoteListener="rmtHolderMatch()"
										validatorName="com.pradera.commons.view.validators.InputTextValidator">
									</ark:holderHelper>
									<p:remoteCommand name="rmtHolderMatch"
										actionListener="#{searchDepositModificationForCollectionBean.holderChangeEvent}"
										process="@this" />
								</p:outputPanel></td>
						</tr>
						<!--Banco-->
						<tr>
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['lbl.filter.name.bank']}" /></td>
							<td width="35%" colspan="1"><p:selectOneMenu
									value="#{searchDepositModificationForCollectionBean.searchDepositTO.idBankPk}"
									id="idBankMatchGloss">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
										id="idBankSearch" />
									<f:selectItems
										value="#{searchDepositModificationForCollectionBean.searchDepositTO.listBanks}"
										var="bank" itemLabel="#{bank.mnemonic} - #{bank.description}"
										itemValue="#{bank.idBankPk}" />
									<p:ajax event="change" update="@this"
										listener="#{searchDepositModificationForCollectionBean.onChangeBank}"
										process="@this " immediate="false" />
								</p:selectOneMenu> <p:message display="icon" for="idBankMatchGloss"
									id="msgSearchBankBenefit" /></td>
							<td><h:outputText
									value="#{msgs['lbl.filter.currency.type']}" /></td>
							<td><p:selectOneMenu id="cboCurrencyBenefit"
									value="#{searchDepositModificationForCollectionBean.searchDepositTO.currency}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems
										value="#{searchDepositModificationForCollectionBean.searchDepositTO.listCurrency}"
										var="currency" itemValue="#{currency.parameterTablePk}"
										itemLabel="#{currency.description} - #{currency.parameterName}" />
								</p:selectOneMenu> <p:message display="icon" for="cboCurrencyBenefit"
									id="msgCurrencyBenefit" /></td>
						</tr>
						<tr style="height: 4px;"></tr>
						<tr>
							<!--Fecha de pago-->
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['lbl.filter.name.payment.date']} (*)"
									styleClass="required-field" /></td>
							<td width="35%" colspan="1"><p:calendar
									value="#{searchDepositModificationForCollectionBean.searchDepositTO.paymentDate}"
									maxdate="#{searchDepositModificationForCollectionBean.searchDepositTO.maxDate}"
									mindate="#{searchDepositModificationForCollectionBean.searchDepositTO.minDate}"
									size="10" pattern="#{gmsgs['calendar.date.format']}"
									navigator="true" disabledWeekends="true" required="true"
									id="opeDateBenefit" showOn="both">
									<p:ajax event="dateSelect"
										listener="#{searchDepositModificationForCollectionBean.onChangePaymentDate}"
										process="@this" update="@this cboDepositGloss">
									</p:ajax>
								</p:calendar> <p:message display="icon" for="opeDateBenefit"
									id="msgopeDateBenefit" /></td>
							<!--Glosa de deposito de acuerdo a la fecha de cobro-->
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['label.gloss.detail.deposit']}" /></td>
							<td width="35%" colspan="1"><p:selectOneMenu
									id="cboDepositGloss"
									value="#{searchDepositModificationForCollectionBean.searchDepositTO.gloss}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
										id="idGlossSearch" />
									<f:selectItems
										value="#{searchDepositModificationForCollectionBean.searchDepositTO.listGloss}"
										var="gloss" itemLabel="#{gloss}" itemValue="#{gloss}" />
								</p:selectOneMenu></td>
						</tr>
						<tr>
							<td align="center" colspan="4"><p:commandButton
									id="idBtnSaveSearhDeposts" value="#{msgs['lbl.search']}"
									icon="ui-search" update="@form"
									actionListener="#{searchDepositModificationForCollectionBean.preSearchResults}">
								</p:commandButton> <p:commandButton value="#{msgs['lbl.clean']}" icon="ui-empty"
									actionListener="#{searchDepositModificationForCollectionBean.cleanView}"
									update="@this @form idHelpHolder" immediate="true">
								</p:commandButton></td>
						</tr>
					</p:outputPanel>
				</table>
			</p:fieldset>

			<br />
			<p:outputPanel id="privilegesButtons"
				rendered="#{(searchDepositModificationForCollectionBean.modelEquivalentGloss.rowCount >= 1)}">
				<p:spacer width="10"></p:spacer>
				<!--RECHAZAR-->
				<p:commandButton value="#{gmsgs['btn.reject']}" ajax="true"
					style="align: right" icon="ui-cancel"
					rendered="#{userPrivilege.userAcctions.reject}"
					action="#{searchDepositModificationForCollectionBean.preRejectGlosaMatchRecord}" />
				<p:spacer width="1"></p:spacer>
				<!--CONFIRMAR-->
				<p:commandButton value="#{gmsgs['btn.confirm']}" ajax="true"
					style="align: right" icon="ui-confirm"
					rendered="#{userPrivilege.userAcctions.confirm}"
					action="#{searchDepositModificationForCollectionBean.preConfirmGlossMatchRecord}" />
			</p:outputPanel>
			<p:fieldset id="flddetailMatchGlossTO"
				legend="#{msgs['lbl.results']}"
				rendered="#{(searchDepositModificationForCollectionBean.modelEquivalentGloss.rowCount >= 1)}">
				<p:dataTable id="idListDepositFunds" var="detailMatchGlossTO"
					value="#{searchDepositModificationForCollectionBean.modelEquivalentGloss}"
					paginator="true" rows="10" paginatorPosition="top"
					rowKey="#{detailMatchGlossTO.idEqDepositGlossesPk}"
					paginatorTemplate="#{msgs['dtb.paginator.template']}"
					rowsPerPageTemplate="5,10,15"
					currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
					selection="#{searchDepositModificationForCollectionBean.equivalentSelected}">
					<p:column selectionMode="single" style="width:18px" />
					<p:column headerText="#{msgs['lbl.filter.request.number']}"
						styleClass="content-center"
						sortBy="#{detailMatchGlossTO.idEqDepositGlossesPk}">
						<p:commandLink action="viewModificationDepositGloss"
							immediate="true"
							actionListener="#{searchDepositModificationForCollectionBean.loadDetailDepositMathGloss}"
							style="color:blue"
							value="#{detailMatchGlossTO.idEqDepositGlossesPk}">
							<f:attribute name="resultDepositMathGloss"
								value="#{detailMatchGlossTO}" />
						</p:commandLink>
					</p:column>
					<!--Descripsion de participante-->
					<p:column headerText="#{msgs['lbl.participant.msg']}"
						styleClass="content-center"
						sortBy="#{detailMatchGlossTO.descParticipant}">
						<h:outputLabel value="#{detailMatchGlossTO.descParticipant}" />
					</p:column>
					<!--Glosa de deposito-->
					<p:column headerText="#{msgs['label.gloss.detail.deposit']}"
						styleClass="content-center" sortBy="#{detailMatchGlossTO.gloss}">
						<h:outputLabel value="#{detailMatchGlossTO.gloss}" />
					</p:column>
					<!--Descripsion agente pagador-->
					<p:column headerText="#{msgs['lbl.agent.payment.filter']}"
						styleClass="content-center" sortBy="#{detailMatchGlossTO.descPaymentAgent}">
						<h:outputLabel value="#{detailMatchGlossTO.descPaymentAgent}" />
					</p:column>
					<!--Fecha de pago-->
					<p:column headerText="#{msgs['lbl.filter.name.payment.date']}"
						styleClass="content-center"
						sortBy="#{detailMatchGlossTO.paymentDate}">
						<h:outputLabel value="#{detailMatchGlossTO.paymentDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.column.funds.amount.receivaible']}"
						styleClass="content-center" rendered="true"
						sortBy="#{detailMatchGlossTO.amountReceivable}">
						<h:outputLabel value="#{detailMatchGlossTO.amountReceivable}">
							<f:convertNumber
								pattern="#{cons['conv.number.pattern.nominal.amount']}"
								locale="#{cons['conv.number.locale']}" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.column.funds.amount.deposited']}"
						styleClass="content-center" rendered="true"
						sortBy="#{detailMatchGlossTO.amount}">
						<h:outputLabel value="#{detailMatchGlossTO.amount}">
							<f:convertNumber
								pattern="#{cons['conv.number.pattern.nominal.amount']}"
								locale="#{cons['conv.number.locale']}" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.column.funds.amount.currency']}"
						styleClass="content-center"
						sortBy="#{searchDepositModificationForCollectionBean.getTextCurrency(detailMatchGlossTO.currency)}">
						<h:outputLabel
							value="#{searchDepositModificationForCollectionBean.getTextCurrency(detailMatchGlossTO.currency)}">
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['label.gloss.detail.deposit.lip']}" styleClass="content-center"
						sortBy="#{detailMatchGlossTO.glossLip}">
						<h:outputLabel value="#{detailMatchGlossTO.glossLip}" />
					</p:column>
					<p:column headerText="#{msgs['lbl.state.msg']}" styleClass="content-center"
						sortBy="#{detailMatchGlossTO.stateDesc}">
						<h:outputLabel value="#{detailMatchGlossTO.stateDesc}" />
					</p:column>
					<f:facet name="footer">
						<div style="width: 100%; text-align: left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{searchDepositModificationForCollectionBean.modelEquivalentGloss.rowCount}" />
							</h:outputFormat>
						</div>
					</f:facet>
				</p:dataTable>
			</p:fieldset>
			<h:outputLabel value="#{msgs['lbl.alert.no.result.search.info']}"
				rendered="#{searchDepositModificationForCollectionBean.modelEquivalentGloss.rowCount eq 0}"
				style="font-weight:bold;" />
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formSearchDialogs">
				<!--Dialogo de confirmacion para limpiar la pantalla de busqueda-->
				<p:confirmDialog id="idCleanDepositSearch"
					widgetVar="wVCleanSearchDeposit"
					header="#{msgs['msg.header.confirm']}"
					message="#{msgs['msg.confirm.clean.search']}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVCleanSearchDeposit.hide()" process="@this"
						update=":frmSearchMatchDepositGloss"
						actionListener="#{searchDepositModificationForCollectionBean.init}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idCleanDepositSearch.hide()" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>