<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:form id="frmRegistreMatchGloss">
			<table width="100%">
				<tr>
					<td>
						<table width="100%">
							<tr>
								<td colspan="1"><h:outputText
										value="#{msgs['lbl.title.gloss.correction.detail']}"
										styleClass="title-page" style="align: left" id="idTitle" /></td>
								<td colspan="1"></td>
								<td colspan="1"></td>
								<td colspan="1"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<p:fieldset id="fldRegistreMatchGloss"
				legend="#{msgs['lbl.criteria.search.label']}">
				<table width="100%">
					<p:outputPanel id="opnlSettlementBodyBenefit">
						<tr>
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['lbl.participant.msg']} (*)"
									styleClass="required-field" /></td>
							<td width="35%" colspan="1"><p:selectOneMenu
									style="width:70%;" disabled="true"
									requiredMessage="#{msgs['lbl.requiered.participant.message']}"
									value="#{searchDepositModificationForCollectionBean.viewDepositTO.idParticipantPk}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems var="participant"
										value="#{searchDepositModificationForCollectionBean.viewDepositTO.listParticipant}"
										itemLabel="#{participant.displayDescriptionCode}"
										itemValue="#{participant.idParticipantPk}" />
								</p:selectOneMenu></td>
							<td width="15%" colspan="1"></td>
							<td width="35%" colspan="1"></td>
						</tr>
						<tr>
							<td><h:outputText
									value="#{msgs['search.filter.tags.collection.currency.deposited']}" /></td>
							<td><p:selectOneMenu id="cboCurrency" disabled="true"
									value="#{searchDepositModificationForCollectionBean.viewDepositTO.currency}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems
										value="#{searchDepositModificationForCollectionBean.viewDepositTO.listCurrency}"
										var="currency" itemValue="#{currency.parameterTablePk}"
										itemLabel="#{currency.description} - #{currency.parameterName}" />
								</p:selectOneMenu> <p:message display="icon" for="cboCurrency"
									id="msgCurrencyBenefit" /></td>
						</tr>
						<tr style="height: 4px;"></tr>
						<tr>
							<!--Fecha de cobro-->
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['lbl.filter.name.payment.date']}  (*)"
									styleClass="required-field" /></td>
							<td width="35%" colspan="1"><p:calendar disabled="true"
									value="#{searchDepositModificationForCollectionBean.viewDepositTO.paymentDate}"
									maxdate="#{searchDepositModificationForCollectionBean.viewDepositTO.maxDate}"
									mindate="#{searchDepositModificationForCollectionBean.viewDepositTO.minDate}"
									size="10" pattern="#{gmsgs['calendar.date.format']}"
									navigator="true" disabledWeekends="true" required="true"
									id="idCalendarPaymentDate" showOn="both">
								</p:calendar></td>
						</tr>
						<!--Glosa de acuerdo a la fecha-->
						<tr>
							<td width="15%" colspan="1"><h:outputText
									value="#{msgs['label.gloss.detail.deposit']}" /></td>
							<td width="35%" colspan="1"><p:selectOneMenu disabled="true"
									value="#{searchDepositModificationForCollectionBean.viewDepositTO.gloss}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
										id="idGloss" />
									<f:selectItems
										value="#{searchDepositModificationForCollectionBean.viewDepositTO.listGloss}"
										var="gloss" itemLabel="#{gloss}" itemValue="#{gloss}" />
								</p:selectOneMenu></td>
						</tr>
						<tr>
							<td align="center" colspan="4"><p:commandButton
									disabled="true" value="#{msgs['lbl.search']}" icon="ui-search" />
								<p:commandButton disabled="true" value="#{msgs['lbl.clean']}"
									icon="ui-empty" /> <p:commandButton
									value="#{msgs['lbl.back']}" icon="ui-back"
									action="#{searchDepositModificationForCollectionBean.backViewMainPageSearch}" /></td>
						</tr>
					</p:outputPanel>
				</table>
			</p:fieldset>
			<br />
			<br />
			<p:fieldset id="fldfundCollection" legend="#{msgs['lbl.results']}"
				rendered="#{(searchDepositModificationForCollectionBean.dataModelDetailCollectionGloss.rowCount >= 1)}">
				<!--Lista de resultados de la tabla detail collection gloss-->
				<p:dataTable id="idDetailCollectionGlossPk" disabledSelection="true"
					var="detailCollectionGloss"
					value="#{searchDepositModificationForCollectionBean.dataModelDetailCollectionGloss}"
					paginator="true" rows="10" paginatorPosition="top"
					rowKey="#{detailCollectionGloss.idDetailCollectionGlossPk}"
					paginatorTemplate="#{msgs['dtb.paginator.template']}"
					rowsPerPageTemplate="5,10,15"
					currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
					selection="#{searchDepositModificationForCollectionBean.idGlossSelected}">
					<p:column selectionMode="single" styleClass="content-center">
					</p:column>
					<p:column styleClass="content-center"
						sortBy="#{detailCollectionGloss.idDetailCollectionGlossPk}">
						<h:outputLabel
							value="#{detailCollectionGloss.idDetailCollectionGlossPk}" />
					</p:column>
					<p:column headerText="#{msgs['label.gloss.detail.deposit']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.glosaNotClassified}">
						<h:outputLabel value="#{detailCollectionGloss.glosaNotClassified}" />
					</p:column>
					<p:column headerText="#{msgs['lbl.agent.payment.filter']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.paymentAgentDesc}">
						<h:outputLabel value="#{detailCollectionGloss.paymentAgentDesc}" />
					</p:column>
					<p:column headerText="#{msgs['lbl.filter.currency.type']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.currencyDesc}">
						<h:outputLabel value="#{detailCollectionGloss.currencyDesc}" />
					</p:column>
					<p:column headerText="#{msgs['search.filter.tags.amount.collect']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.amountReceivable}">
						<h:outputLabel value="#{detailCollectionGloss.amountReceivable}">
							<f:convertNumber
								pattern="#{cons['conv.number.pattern.nominal.amount']}"
								locale="#{cons['conv.number.locale']}" />
						</h:outputLabel>
					</p:column>
					<p:column
						headerText="#{msgs['search.filter.tags.collection.amount.collect.deposited']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.amountDeposited}">
						<h:outputLabel value="#{detailCollectionGloss.amountDeposited}">
							<f:convertNumber
								pattern="#{cons['conv.number.pattern.nominal.amount']}"
								locale="#{cons['conv.number.locale']}" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.filter.name.payment.date']}"
						styleClass="content-center"
						sortBy="#{detailCollectionGloss.paymentDate}">
						<h:outputLabel value="#{detailCollectionGloss.paymentDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</p:column>
					<f:facet name="footer">
						<div style="width: 100%; text-align: left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{searchDepositModificationForCollectionBean.dataModelDetailCollectionGloss.rowCount}" />
							</h:outputFormat>
						</div>
					</f:facet>
				</p:dataTable>
				<!--Lista de todos los depositos registrados desde el BCB-->
				<br />
				<h:outputText value="#{msgs['lbl.bcb.registre.deposits.bcb']}"
					styleClass="required-field" />
				<br />
				<p:dataTable id="idDataTableFundCollection" var="fundsCollection"
					disabledSelection="true"
					value="#{searchDepositModificationForCollectionBean.dataModelFundCollections}"
					paginator="true" rows="10" paginatorPosition="top"
					rowKey="#{fundsCollection.idFundsCollectionPk}"
					paginatorTemplate="#{msgs['dtb.paginator.template']}"
					rowsPerPageTemplate="5,10,15"
					selection="#{searchDepositModificationForCollectionBean.idFundCollestions}"
					currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
					<p:column selectionMode="multiple" style="width:18px" />
					<p:column styleClass="content-center"
						sortBy="#{fundsCollection.idFundsCollectionPk}">
						<h:outputLabel value="#{fundsCollection.idFundsCollectionPk}" />
					</p:column>
					<p:column headerText="#{msgs['lbl.request.number.bcb']}"
						styleClass="content-center"
						sortBy="#{fundsCollection.numberRequest}">
						<h:outputLabel value="#{fundsCollection.numberRequest}" />
					</p:column>
					<p:column headerText="#{msgs['lbl.filter.date']}"
						styleClass="content-center"
						sortBy="#{fundsCollection.dateOperation}">
						<h:outputLabel value="#{fundsCollection.dateOperation}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.filter.hour']}"
						styleClass="content-center"
						sortBy="#{fundsCollection.hourOperation}">
						<h:outputLabel value="#{fundsCollection.hourOperation}">
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['lbl.filter.desc.type.operation']}"
						styleClass="content-center"
						sortBy="#{fundsCollection.descTypeOperation}">
						<h:outputLabel value="#{fundsCollection.descTypeOperation}">
						</h:outputLabel>
					</p:column>
					<p:column
						headerText="#{msgs['search.filter.tags.collection.currency.deposit']}"
						styleClass="content-center"
						sortBy="#{fundsCollection.descOriginCurrency}">
						<h:outputLabel value="#{fundsCollection.descOriginCurrency}" />
					</p:column>
					<p:column headerText="#{msgs['search.filter.tags.collection.amount.collect.deposited']}"
						styleClass="content-center" sortBy="#{fundsCollection.amount}">
						<h:outputLabel value="#{fundsCollection.amount}">
							<f:convertNumber
								pattern="#{cons['conv.number.pattern.nominal.amount']}"
								locale="#{cons['conv.number.locale']}" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="#{msgs['label.gloss.detail.deposit']}"
						styleClass="content-center" sortBy="#{fundsCollection.gloss}">
						<h:outputLabel value="#{fundsCollection.gloss}" />
					</p:column>
					<p:column headerText="#{msgs['label.desc.status.transfer']}"
						rendered="false" styleClass="content-center"
						sortBy="#{fundsCollection.descOperationState}">
						<h:outputLabel value="#{fundsCollection.descOperationState}" />
					</p:column>
					<f:facet name="footer">
						<div style="width: 100%; text-align: left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{searchDepositModificationForCollectionBean.dataModelFundCollections.rowCount}" />
							</h:outputFormat>
						</div>
					</f:facet>
				</p:dataTable>
				<br />
				<table width="100%">
					<tr>
						<td align="center" colspan="4"><p:commandButton
								value="#{gmsgs['btn.reject']}" ajax="true" style="align: right"
								icon="ui-cancel" 
								rendered="#{searchDepositModificationForCollectionBean.viewDepositTO.btnReject}"
								actionListener="#{searchDepositModificationForCollectionBean.rejectGlossMatchRecord}" />
							<p:spacer width="1"></p:spacer> <!--CONFIRMAR--> <p:commandButton
								value="#{gmsgs['btn.confirm']}" ajax="true" style="align: right"
								icon="ui-confirm"
								rendered="#{searchDepositModificationForCollectionBean.viewDepositTO.btnConfirm}"
								actionListener="#{searchDepositModificationForCollectionBean.confirmGlossMatchRecord}" />
							<p:commandButton disabled="true"
								value="#{msgs['lbl.filter.save']}" icon="ui-save" update="@this" />
							<p:commandButton value="#{msgs['lbl.back']}" icon="ui-back"
								action="#{searchDepositModificationForCollectionBean.backViewMainPageSearch}"
								immediate="true" /></td>
					</tr>
				</table>
			</p:fieldset>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formSearchDialogs">
				<!--Dialogo de confirmacion para limpiar la pantalla de busqueda-->
				<p:confirmDialog id="idCleanDepositSearch"
					widgetVar="wVCleanSearchDeposit"
					header="#{msgs['msg.header.confirm']}"
					message="#{msgs['alert.confirm.clear.display.registre.payer']}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVCleanSearchDeposit.hide()" process="@this"
						update=":frmRegistreMatchGloss"
						actionListener="#{searchDepositModificationForCollectionBean.init}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idCleanDepositSearch.hide()" />
				</p:confirmDialog>
				<!--Dialogo de alerta de que existen campos obligatorios a llenar-->
				<p:confirmDialog id="idRequiredFieldsAlert"
					widgetVar="wVRequiredFieldsAlert"
					header="#{msgs['msg.header.confirm']}"
					message="#{msgs['lbl.title.collection.data.not.complete']}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="wVRequiredFieldsAlert.hide()" process="@this"
						update=":frmRegistreMatchGloss" />
				</p:confirmDialog>
				<!--Dialogo para regresar a la pantalla anterior -->
				<p:confirmDialog id="idBackMainPage" widgetVar="wVBackMainPage"
					header="#{msgs['msg.header.confirm']}"
					message="#{msgs['alert.confirm.back.registre.screen']}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVBackMainPage.hide()" process="@this" update="@form"
						action="#{searchDepositModificationForCollectionBean.backViewMainPageRegiry}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idBackMainPage.hide()" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion de registro para el registro -->
				<p:confirmDialog id="idRegistreGlossingMatch"
					widgetVar="wVRegistreGlossingMatch"
					header="#{msgs['msg.header.confirm']}" message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVRegistreGlossingMatch.hide()" process="@this"
						action="#{searchDepositModificationForCollectionBean.saveEqualityGlosses}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idRegistreGlossingMatch.hide()" />
				</p:confirmDialog>
				<!--Dialogo de registro exitoso -->
				<p:confirmDialog id="idRegistreGlossingMatchSatisfactory"
					widgetVar="wVRegistreGlossingMatchSatisfactory"
					header="#{msgs['msg.header.confirm']}" message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="wVRegistreGlossingMatchSatisfactory.hide()"
						process="@this"
						action="#{searchDepositModificationForCollectionBean.backViewMainPageRegiry}" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion para rechazar el registro -->
				<p:confirmDialog id="idRegistreGlossingMatchReject"
					widgetVar="wVRegistreGlossingMatchReject"
					header="#{msgs['msg.header.confirm']}" 
					message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVRegistreGlossingMatchReject.hide()" process="@this"
						actionListener="#{searchDepositModificationForCollectionBean.runRejectGlossMatchRecord}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idRegistreGlossingMatchReject.hide()" />
				</p:confirmDialog>
				<!--Dialogo de aviso de rechazo correcto -->
				<p:confirmDialog id="idRegistreGlossingMatchRejectConfirm"
					widgetVar="wVRegistreGlossingMatchRejectConfirm"
					header="#{msgs['msg.header.confirm']}" 
					message="#{bodyMessageView}" 
					closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="wVRegistreGlossingMatchRejectConfirm.hide()" process="@this"
						action="#{searchDepositModificationForCollectionBean.backViewMainPageSearch}" />
				</p:confirmDialog>
				<!--Dialogo de aviso de confirmacion correcta -->
				<p:confirmDialog id="idRegistreGlossingMatchConfirm"
					widgetVar="wVRegistreGlossingMatchConfirm"
					header="#{msgs['msg.header.confirm']}" 
					message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="wVRegistreGlossingMatchConfirm.hide()" process="@this"
						action="#{searchDepositModificationForCollectionBean.backViewMainPageSearch}" />
				</p:confirmDialog>
				<!--dialogo de alerta para confirmar el registro-->
				<p:confirmDialog id="idConfirmGlossingMatch"
					widgetVar="wVConfirmGlossingMatch"
					header="#{msgs['msg.header.confirm']}" 
					message="#{bodyMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVConfirmGlossingMatch.hide()" process="@this"
						actionListener="#{searchDepositModificationForCollectionBean.runConfimSGlossMatchRecord}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idConfirmGlossingMatch.hide()" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>