<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	<script type="text/javascript">
		$(window).load(function(){
			setInitialFormState('#frmBlockEntityMgmt');
		});
    </script>
    
    <ui:param name="privileges" value="#{blockEntityMgmtBean.userInfo.userAcctions}"/>
    <ui:param name="blockEntity" value="#{blockEntityMgmtBean.blockEntity}"/>
    <p:importEnum type="com.pradera.model.accounts.type.PersonType" var="personType"/>
    <p:importEnum type="com.pradera.integration.common.type.BooleanType" var="boolType"/>  
    <p:importEnum type="com.pradera.model.accounts.type.DocumentType" var="holderDocumentType"/>
	<h:outputText value="#{gmsgs['iCustody.blockentity.register']}" styleClass="title-page" rendered="#{blockEntityMgmtBean.viewOperationRegister}"/>
	<h:outputText value="#{gmsgs['iCustody.blockentity.modify']}" styleClass="title-page" rendered="#{blockEntityMgmtBean.viewOperationModify}"/>
	<h:outputText value="#{gmsgs['iCustody.blockentity.detail']}" styleClass="title-page" rendered="#{!(blockEntityMgmtBean.viewOperationModify or blockEntityMgmtBean.viewOperationRegister)}"/>	
		
	<h:form id="frmBlockEntityMgmt" enctype="multipart/form-data">

						<table width="100%">
							<tr>
						        <td>
							    <p:selectOneRadio id="selectOneRadio" value="#{blockEntityMgmtBean.optionSelectedOneRadio}" layout="custom">  
        							<f:selectItem id="selectOneDataPerson"  itemValue="0" />  
        							<f:selectItem id="selectOneRadioCUI"  itemValue="1" />  
        							<p:ajax update="@form" event="change" partialSubmit="false" listener="#{blockEntityMgmtBean.validateOptionSelected}" />											            
								</p:selectOneRadio> 
								</td>
								<td>
								<p:outputPanel id="outputPanelResult">
								<p:fieldset id="fieldsetPersonData" legend="#{msgs['adm.block.entity.register.lbl.registry.data']}" toggleable="false">
								<table>
								<tr>    
								    <td width="30px">
									<p:radioButton rendered="#{blockEntityMgmtBean.viewOperationRegister}" itemIndex="0" for="selectOneRadio" id="personTypeOption"/>
									</td>
									<td>
											<h:outputText value="#{msgs['adm.block.entity.register.lbl.person.type']}" styleClass="#{(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>
											<h:outputText rendered="#{blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
										</td>
										<td width="200px">
											<h:panelGrid columns="2">
											<p:selectOneMenu  id="cmbPersonType" label="#{msgs['adm.block.entity.register.lbl.person.type']}"
															  value="#{blockEntity.personType}" disabled="#{!blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems var="holderType" value="#{blockEntityMgmtBean.listPersonType}"
															   itemLabel="#{holderType.parameterName}" itemValue="#{holderType.parameterTablePk}"/>
												<p:ajax event="change" update=":frmBlockEntityMgmt" listener="#{blockEntityMgmtBean.validateTypePerson}"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message for="cmbPersonType" display="icon" id="messagePersonType"/>
											</h:panelGrid>
										</td>										
									</tr>
								<tr>
									<td width="30px"/>
									<td width="150px">
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.inability']}" rendered="#{blockEntity.personType eq personType.NATURAL.code}"/>
									</td>
									<td width="200px">
										<p:selectOneMenu id="indDisabled" value="#{blockEntity.indDisabled}" rendered="#{blockEntity.personType eq personType.NATURAL.code}"
														 disabled="#{!blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}">
											<f:selectItems var="bool" value="#{blockEntityMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											<p:ajax update="cmbDocumentType, messageDocumentType" event="change" listener="#{blockEntityMgmtBean.validateNationalityResident}"/>
										</p:selectOneMenu>
							        </td>
									<td width="150px">
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.age.minor']}" rendered="#{blockEntity.personType eq personType.NATURAL.code}"/>
									</td>
									<td width="200px">
										<p:selectOneMenu id="indMinor" disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}" 
														 value="#{blockEntity.indMinor}" rendered="#{blockEntity.personType eq personType.NATURAL.code}">
											<f:selectItems var="bool" value="#{blockEntityMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											<p:ajax update="cmbDocumentType, messageDocumentType" event="change" listener="#{blockEntityMgmtBean.validateNationalityResident}"/>
										</p:selectOneMenu>
									</td>									
								</tr>
								<tr>
									<td width="30px"/>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.nationality']}" styleClass="#{(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>
										<h:outputText rendered="#{blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cmbNationality" label="#{msgs['adm.block.entity.register.lbl.nationality']}" value="#{blockEntity.nationality}" 
														 disabled="#{(blockEntity.personType == null or blockEntityMgmtBean.holder.idHolderPk != null) or !blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}">
								             <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								             <f:selectItems var="nationality" value="#{blockEntityMgmtBean.listGeographicLocation}" itemLabel="#{nationality.name}" itemValue="#{nationality.idGeographicLocationPk}"/>
								             <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
								             <p:ajax event="change" update="@this cmbResidence messageNationality cmbDocumentType messageDocumentType" listener="#{blockEntityMgmtBean.validateNationalityResident}"/>
							       		</p:selectOneMenu>
							        	<p:message id="messageNationality" for="cmbNationality" display="icon"/>
							        	</h:panelGrid>
							     	</td>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.resident']}" styleClass="#{(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>
										<h:outputText rendered="#{blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cmbResidence" label="#{msgs['adm.block.entity.register.lbl.resident']}" value="#{blockEntity.indResidence}" 
														 disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister or
														 			 (personType.JURIDIC.code eq blockEntity.personType and 
														 			  blockEntityMgmtBean.countryResidence eq blockEntity.nationality) 
														 			  or !blockEntityMgmtBean.disabledCuiCode}">
			    							<f:selectItems var="bool" value="#{blockEntityMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
									  		<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			    							<p:ajax event="change" update="@this msgResidence cmbDocumentType messageDocumentType" listener="#{blockEntityMgmtBean.validateNationalityResident}"/>											            
		   								</p:selectOneMenu>
		   								<p:message id="msgResidence" for="cmbResidence" display="icon"/>
							        	</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td width="30px"/>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.document.type']}" styleClass="#{(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>  
										<h:outputText rendered="#{blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
   										<p:selectOneMenu id="cmbDocumentType" label="#{msgs['adm.block.entity.register.lbl.document.type']}"
   														 value="#{blockEntity.documentType}" disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}">
   				   							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			    							<f:selectItems var="documentType" value="#{blockEntityMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>
			    							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			    							<p:ajax listener="#{blockEntityMgmtBean.eventDocumentType()}" event="change" update=":frmBlockEntityMgmt @this messageDocumentType inputDocumentNumber"/>
		   								</p:selectOneMenu>
										<p:message id="messageDocumentType" for="cmbDocumentType" display="icon" />
										</h:panelGrid>
									</td>
									<td width="150px">
									   <p:outputPanel id="oplLabelEmissionSource">
									     <h:outputText id="labelEmissionSource"  rendered="#{blockEntityMgmtBean.documentTO.indicatorDocumentSource}" value="#{msgs['adm.block.entity.register.lbl.document.emission.source']} (*)" styleClass="required-field"/>
										</p:outputPanel>
									</td>
									<td width="200px">
										<p:outputPanel id="oplcmbEmissionSource">
												<p:selectOneMenu rendered="#{blockEntityMgmtBean.documentTO.indicatorDocumentSource}" id="cmbDocumentSource" label="#{msgs['adm.block.entity.register.lbl.document.emission.source']}" style="width:130px" value="#{blockEntity.documentSource}">  
     									             <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"   />    
										             <f:selectItems var="documentEmissionSource" value="#{blockEntityMgmtBean.listDocumentSource}" itemValue="#{documentEmissionSource.parameterTablePk}" itemLabel="#{documentEmissionSource.parameterName}"/>					             
										             <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											    <p:ajax event="change" update="@this messageDocumentEmissionSource inputDocumentNumber" listener="#{blockEntityMgmtBean.eventDocumentSource}" process="@this"/>
											    </p:selectOneMenu>  
										</p:outputPanel>
									</td>
									<td width="40px">
										<p:outputPanel id="oplMsgEmissionSource">
									    <p:message id="messageDocumentEmissionSource" for="cmbDocumentSource" display="icon" />
									    </p:outputPanel>
									</td>
									</tr>
									<tr>
									<td width="30px"/>
									<td>
		  					 			<h:outputText value="#{msgs['adm.block.entity.register.lbl.document.number']}" styleClass="#{(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>
		  					 			<h:outputText rendered="#{blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
					  					<p:inputText  id="inputDocumentNumber" disabled="#{blockEntity.documentType ==null or blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister or !blockEntityMgmtBean.disabledCuiCode}"
							  						  label="#{msgs['adm.block.entity.register.lbl.document.number']}" value="#{blockEntity.documentNumber}"
							  						  maxlength="#{documentValidator.loadMaxLenghtType(blockEntity.documentType).maxLenghtDocumentNumber}">
							  						  
					   					 	<p:ajax event="blur" listener="#{blockEntityMgmtBean.validateFormatDocumentNumber}"
					   					 			update=":frmBlockEntityMgmt:selectOneRadio :blockEntityDlgForm:dlgLoadHolder, outputPanelResult :blockEntityDlgForm:dialogBlockEntityExist messageDocumentNumber @this :idPanelModals :opnlGenericDialogs"/>
					   					    <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
					   					   		<p:keyFilter rendered="#{(!blockEntityMgmtBean.documentTO.numericTypeDocument) and (!blockEntityMgmtBean.documentTO.indicatorAlphanumericWithDash)}" regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
												<p:keyFilter rendered="#{blockEntityMgmtBean.documentTO.indicatorAlphanumericWithDash}" regEx="#{cons['exp.regular.alphanumeric.dash.not.space']}"/>
												<p:keyFilter rendered="#{blockEntityMgmtBean.documentTO.numericTypeDocument}" mask="int"/>
										</p:inputText>
										<p:message id="messageDocumentNumber" for="inputDocumentNumber" display="icon"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
				    				<td width="30px"/>
			  						<td>
				  						<p:outputPanel id="outputNames">
								  	 	<h:outputText value="#{msgs['block.entity.search.lbl.names']}(*)" styleClass="required-field"
								  	 				  disabled="#{!blockEntityMgmtBean.viewOperationRegister}" rendered="#{blockEntity.personType eq personType.NATURAL.code}"/>
								  		</p:outputPanel>
			  						</td>
			  						<td>
			  						<h:panelGrid columns="2">
									<p:inputText size="50" id="inputNames" label="#{msgs['block.entity.search.lbl.names']}" maxlength="48" 
												 rendered="#{blockEntity.personType eq personType.NATURAL.code}" value="#{blockEntityMgmtBean.blockEntity.name}"
												 disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister}">
												 	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
							    		<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name']}"/>
							    		<p:ajax event="change" update="@this,messageInputNames"/>
									</p:inputText>
									<p:message id="messageInputNames" for="inputNames" display="icon"/>
									</h:panelGrid>
			   						</td>
			   						<td>
	     	  							<p:outputPanel id="outputFirstLastName">		
							     	  	<h:outputText rendered="#{blockEntity.personType eq personType.NATURAL.code}" value="#{msgs['block.entity.search.lbl.first.lastname']}(*)" styleClass="required-field" />
								 		</p:outputPanel>
									</td>
									<td>
									<h:panelGrid columns="2">
						        	<p:inputText id="inputFirstLastName" rendered="#{blockEntity.personType eq personType.NATURAL.code}"
						        		label="#{msgs['block.entity.search.lbl.first.lastname']}" maxlength="48"
						        		size="50" disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister}" value="#{blockEntityMgmtBean.blockEntity.firstLastName}">	
						        		<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
							    		<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name']}"/>	
							    		<p:ajax event="change" update="@this,messageFirstLastName"/>									
									</p:inputText>
									<p:message id="messageFirstLastName" for="inputFirstLastName" display="icon"/>
		     						</h:panelGrid>
									</td>
								</tr>
								<tr>
								<td width="30px"></td>
								<td>
						    	   		<h:outputText rendered="#{blockEntity.personType eq personType.NATURAL.code}" value="#{msgs['block.entity.search.lbl.second.lastname']}" />
						    	    </td>
									<td>
									<p:inputText size="50" id="inputSecondLastName" rendered="#{blockEntity.personType eq personType.NATURAL.code}"
						        		disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister}" 
						        		value="#{blockEntityMgmtBean.blockEntity.secondLastName}" maxlength="48" >
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name']}"/>											
									</p:inputText>
									</td>
								</tr>
							    <tr>
							    	<td width="30px"/>							
									<td>
							         	<h:outputText rendered="#{blockEntity.personType eq personType.JURIDIC.code}"  styleClass="required-field" 
							         					value="#{msgs['block.entity.search.lbl.business.name']} (*)"/>
									</td>
									<td colspan="3">
									<h:panelGrid columns="2">
							        <p:inputText size="100" id="inputFullName" rendered="#{blockEntity.personType eq personType.JURIDIC.code}" 
							        			 value="#{blockEntity.fullName}" maxlength="100"  disabled="#{blockEntityMgmtBean.holder.idHolderPk != null or !blockEntityMgmtBean.viewOperationRegister}"
							        			 label="#{msgs['block.entity.search.lbl.business.name']}">
							        			 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.business.name']}"/>
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									    <p:ajax event="change" update="@this messageInputFullName"/>
									</p:inputText>
									<p:message id="messageInputFullName" for="inputFullName" display="icon"/>
									</h:panelGrid>
								   </td>
								</tr>
								<tr>
								<td width="40px">
									<p:radioButton rendered="#{blockEntityMgmtBean.viewOperationRegister}" itemIndex="1" for="selectOneRadio" id="cuiOption"/>
								</td>
								<td width="40px">												
									<h:outputText value="#{msgs['adm.block.entity.register.lbl.cui.code']}" styleClass="#{!(blockEntityMgmtBean.disabledCuiCode)?'required-field':''}"/>
								 	<h:outputText rendered="#{!blockEntityMgmtBean.disabledCuiCode}" value=" (*)" styleClass="required-field"/>
								</td>
								<td>
									<hark:holderHelper id="helperCUI" required="#{!blockEntityMgmtBean.disabledCuiCode}"
									 disabled="#{blockEntityMgmtBean.disabledCuiCode or !blockEntityMgmtBean.viewOperationRegister}" 
									 label="#{msgs['adm.block.entity.register.lbl.cui.code']}"
									 validatorName="com.pradera.commons.view.validators.InputTextValidator" 
									 holder="#{blockEntityMgmtBean.blockEntity.holder}"
									 blParticipant="#{blockEntityMgmtBean.flagParticipant}" 
									 participant="#{blockEntityMgmtBean.idParticipant}"
									 remoteListener="remoteCommandCUI()"/>
								</td>
								<td>
									<p:remoteCommand name="remoteCommandCUI" update="@form :idPanelModals" process="@this" 
									actionListener="#{blockEntityMgmtBean.listenerValidateCUI()}"/>
									<p:message id="messageInputTextCui" for="helperCUI" display="icon" />
								</td>
								</tr>
									<tr>
									<td width="30px"/>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.address']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputTextarea maxlength="200" cols="50" rows="2" autoResize="false" value="#{blockEntityMgmtBean.blockEntity.homeAddress}"
															 label="#{msgs['adm.block.entity.register.lbl.address']}" id="inputLegalAddress"
															 disabled="#{!(blockEntityMgmtBean.viewOperationRegister or blockEntityMgmtBean.viewOperationModify)}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.legal.address']}"/>
											</p:inputTextarea>
										</h:panelGrid>
									</td>
									<ui:remove>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.notification.required']}"/>
								    </td>
									<td>
									    <h:panelGrid columns="2">
										<p:selectOneRadio id="options" value="#{blockEntityMgmtBean.blockEntity.indNotification}"
														  disabled="#{!(blockEntityMgmtBean.viewOperationRegister or blockEntityMgmtBean.viewOperationModify)}">
										  <f:selectItems var="bool" value="#{blockEntityMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
										  <p:ajax update="@this inputEmail outputEmail messageEmail" listener="#{blockEntityMgmtBean.cleanEmail}" process="@this"/>
										</p:selectOneRadio>
										</h:panelGrid>
									</td>
									</ui:remove>
									
									</tr>
									
									<ui:remove>
									<tr>
									<td width="40px"/>
									
									<td>
										<p:outputPanel id="outputEmail">
							         		<h:outputText value="#{msgs['adm.block.entity.register.lbl.email']}"  styleClass="#{(blockEntity.indNotification eq boolType.YES.code)?'required-field':''}" />
							         		<h:outputText styleClass="required-field" value="#{(blockEntity.indNotification eq boolType.YES.code)?' (*)':''}" />
										</p:outputPanel>
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:inputText id="inputEmail" size="50" style="text-transform:lowerCase" label="#{msgs['adm.block.entity.register.lbl.email']}"
													 styleClass="sensitive-inputField email-inputField" value="#{blockEntityMgmtBean.blockEntity.email}"
													 disabled="#{(blockEntity.indNotification eq boolType.NO.code) or !(blockEntityMgmtBean.viewOperationRegister or blockEntityMgmtBean.viewOperationModify)}"
													 >
											<f:validator validatorId="com.pradera.commons.view.validators.EmailValidator"/>
										    <p:ajax event="change" update="@this :frmBlockEntityMgmt:messageEmail" process="@this"/>
										</p:inputText>
										<p:message id="messageEmail" for="inputEmail" display="icon" />
										</h:panelGrid>
									</td>
									
									</tr>
									</ui:remove>
						        <tr>
						        	<td width="30px"/>
									<td>
										<h:outputText value="#{msgs['adm.block.entity.register.lbl.observations']}" />
									</td>
									<td colspan="3">
										<h:panelGrid columns="2">
										<p:inputTextarea value="#{blockEntityMgmtBean.blockEntity.comments}" maxlength="200" cols="120" rows="2" autoResize="false"
														 disabled="#{!(blockEntityMgmtBean.viewOperationRegister or blockEntityMgmtBean.viewOperationModify)}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.legal.address']}"/>
										<p:ajax process="@this" global="false"/>	
										</p:inputTextarea>
										</h:panelGrid>
									</td>
								</tr>
								</table>
								</p:fieldset>
				    			</p:outputPanel>
				    			</td>
				   			</tr>
				   		</table>
			    <br/>
			    <table width="100%">
			    <tr>
								<td align="center">
									<p:commandButton id="buttonSave" value="#{gmsgs['btn.save']}" icon="fa fa-save" rendered="#{blockEntityMgmtBean.viewOperationRegister}"
										actionListener="#{blockEntityMgmtBean.beforeSaveBlockEntity}" process="@form" update="@form :idPanelModals :opnlGenericDialogs">
									<f:param name="skipValidation" value="true"/>
											
									</p:commandButton>	
										
									<p:commandButton id="buttonModify" onclick="if(!isModifiedFormForSave('#frmBlockEntityMgmt',true))return false;" 
										value="#{gmsgs['btn.modify']}" icon="fa fa-save" rendered="#{blockEntityMgmtBean.viewOperationModify}" process="@form"
										actionListener="#{blockEntityMgmtBean.beforeSaveBlockEntity}" update="@form :idPanelModals :opnlGenericDialogs">
									<f:param name="skipValidation" value="true"/>										
									</p:commandButton>					
									
									<p:commandButton id="buttonActive" value="#{gmsgs['btn.active']}" icon="fa fa-save" rendered="#{blockEntityMgmtBean.viewOperationActive}"
										actionListener="#{blockEntityMgmtBean.beforeSaveBlockEntity}" update="@form :idPanelModals :opnlGenericDialogs"/>
									<p:commandButton id="buttonDeactive" value="#{gmsgs['btn.unactive']}" icon="fa fa-save" rendered="#{blockEntityMgmtBean.viewOperationDeactive}"
										actionListener="#{blockEntityMgmtBean.beforeSaveBlockEntity}" update="@form :idPanelModals :opnlGenericDialogs"/>
									<p:spacer width="5"></p:spacer>
									<p:commandButton id="buttonClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
													process="@this" update="@form"
													 oncomplete="PF('cnfwClean').hide()" rendered="#{blockEntityMgmtBean.viewOperationRegister}"
													 action="#{blockEntityMgmtBean.loadRegistrationPage}" immediate="true"
													 onclick="return showCleanConfirmDialog(this);"/>
									<p:spacer width="5"></p:spacer>
									<p:commandButton id="buttonReturn" value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
										action="search" process="@this" ajax="false" immediate="true" 
										 onclick="if(isModifiedFormForBack(this))return false;"
										 rendered="#{!blockEntityMgmtBean.viewOperationDetail}"/>
									<p:commandButton id="buttonReturnFromView" value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
										action="search" process="@this" ajax="false" immediate="true" 
										 rendered="#{blockEntityMgmtBean.viewOperationDetail}"/>
								</td>
					        </tr>
					    </table>
	</h:form>
		
		
		<p:outputPanel id="idPanelModals">
        <h:form id="blockEntityDlgForm">
        <p:confirmDialog id="dlgLoadHolder" widgetVar="dlgLoadHolderW"  header="#{headerMessageView}" closable="false" showEffect="alert">
        	<f:facet name="message">
        		<h:outputFormat value="#{bodyMessageView}" escape="false"/>
        	</f:facet>
        	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('dlgLoadHolderW').hide()" 
        					 update=":frmBlockEntityMgmt" 
        					 actionListener="#{blockEntityMgmtBean.loadHolderInformation}" process="@this"/>
        	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('dlgLoadHolderW').hide()" actionListener="#{blockEntityMgmtBean.cleanHolderInfoDialog}"
        					 update=":frmBlockEntityMgmt"/>
        </p:confirmDialog>
        
        <p:dialog id="dlgBlockEntityExist" widgetVar="dlgBlockEntityExistW"
         		modal="true" draggable="false"  width="700" height="300" 
         		header="#{headerMessageView}"  closable="false" showEffect="alert">
         <p:outputPanel id="dialogBlockEntityExist">
        		<h:outputFormat value="#{bodyMessageView}" escape="false"/>
        </p:outputPanel>	
        <f:facet name="footer">
        <table width="100%">
        <tr>
        <td align="center">
           		<p:commandButton value="#{gmsgs['btn.accept']}" oncomplete="PF('dlgBlockEntityExistW').hide()" update="@form" process="@this"/>
       	</td>
       	</tr>
       	</table>
       	</f:facet>
        </p:dialog>
        
		<p:confirmDialog id="cnfAdmBlockEntity" message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"				
						 severity="alert" widgetVar="cnfwAdmBlockEntity">
					<p:commandButton id="confirmDes" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfwAdmBlockEntity').hide()" 
									 actionListener="#{blockEntityMgmtBean.saveBlockEntityObject}" update=":idPanelModals :opnlGenericDialogs"/>
					<p:commandButton value="#{gmsgs['btn.no']}" update=":idPanelModals"  
									 oncomplete="PF('cnfwAdmBlockEntity').hide()"/>
		</p:confirmDialog>
		
		<p:confirmDialog id="dialogEndTrasaction" closable="false" message="#{bodyMessageView}"  
	                header="#{headerMessageView}" severity="info" widgetVar="endTrasaction" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnFinTrasaccion" 	global="true"		                     
			                     update="idPanelModals  "
			        			 oncomplete="PF('endTrasaction').hide()" process="@this"
			        			 action="search"			        			 
		        				 value="#{msgs['btn.accept']}" > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    </p:confirmDialog>  
		</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>