<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">



<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
		<h:outputText value="#{msgs['menu.lbl.audit.process']}"
			styleClass="title-page"  id="idOtxtAuditProcess"/>
	
		<h:form id="formMonitoringProcessAudit">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.monitoring.process']}">
							<table width="100%">

								<tr>
									<td><h:outputText value="#{msgs['audit.lbl.sistema']}" styleClass="required-field" id="idOtextSystema"/></td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu required="true" requiredMessage="#{msgs['admin.reportes.error.sistema.required']}"
												style="width:250px;" id="systemTypeSelect"
												value="#{monitoringProcessAuditBean.systemSelected}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
													Itemvalue="-1"  id="idCboItemSystema" />
												<f:selectItems
													value="#{monitoringProcessAuditBean.lstSystems}"
													var="proceso" itemLabel="#{proceso.name}"
													itemValue="#{proceso.idSystemPk}"  id="idCboItemsSystema"/>
												<p:ajax event="change" update="modeuleSelect submodeuleSelect optionSelect"
													listener="#{monitoringProcessAuditBean.auditModuleList}" />
											</p:selectOneMenu>
											<p:message for="systemTypeSelect" display="icon" id="idMsgSystem"/>
										</h:panelGrid>
									
									</td>                                 
									<td><h:outputText value="#{msgs['lbl.process.moduloFunction']}" styleClass="required-field"  id="idOtxtModule" /></td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu required="true" requiredMessage="#{msgs['audit.process.select.modulefunctional']}"
												style="width:250px;" id="modeuleSelect"
												value="#{monitoringProcessAuditBean.moduleSelected}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
													Itemvalue="-1" id="idCboItemModule"/>
												<f:selectItems
													value="#{monitoringProcessAuditBean.lstModules}"
													var="modulo" itemLabel="#{modulo.description}"
													itemValue="#{modulo.idTypePK}" id="idCboItemsModule"/>
												<p:ajax event="change" update="submodeuleSelect optionSelect"
													listener="#{monitoringProcessAuditBean.auditSubModuleList}" />
											</p:selectOneMenu>
											<p:message for="modeuleSelect" display="icon"  id="idMsgModule"/>
										</h:panelGrid>
									</td>
									<td><h:outputText value="#{msgs['lbl.process.submodule']}" id="idOtxtSubModule"/></td>
									<td>
										<p:selectOneMenu id="submodeuleSelect"
											value="#{monitoringProcessAuditBean.subModuleSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
												Itemvalue="-1"  id="idCboItemSubModule"/>
											<f:selectItems
												value="#{monitoringProcessAuditBean.lstSubModules}"
												var="modulo" itemLabel="#{modulo.description}"
												itemValue="#{modulo.idTypePK}"  id="idCboItemsSubModule"/>
											<p:ajax event="change" update="optionSelect"
												listener="#{monitoringProcessAuditBean.auditOptionsList}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.process.option']}"  id="idOtxtOption"/></td>
									<td><p:selectOneMenu id="optionSelect"
											value="#{monitoringProcessAuditBean.optionSelected}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"
												Itemvalue="-1" id="idCboItemOption"/>
											<f:selectItems
												value="#{monitoringProcessAuditBean.lstOptions}"
												var="modulo" itemLabel="#{modulo.description}"
												itemValue="#{modulo.idTypePK}" id="idCboItemsOption" />
										</p:selectOneMenu>
									</td>
									<td><h:outputText value="#{msgs['lbl.process.fechaInitial']} (*)" styleClass="required-field" id="idOtxtBeginDate"/></td>
									<td>
										<h:panelGrid columns="2">										
											<p:calendar id="beginDate" showOn="button" readonly="#{facesContext.renderResponse}"
												pattern="#{msgs['dateFormat']}" maxlength="10" navigator="true" size="10"
												value="#{monitoringProcessAuditBean.startDate}"
												maxdate="#{monitoringProcessAuditBean.maxDate}" required="true" requiredMessage="#{msgs['lbl.required.initialdate']}">
												<p:ajax event="dateSelect" update="beginDate,endDate" process="@this"/>
												<p:ajax event="change" update="beginDate,endDate" process="@this"/>
											</p:calendar>
											<p:message for="beginDate" display="icon" id="idMsgBeginDate"/>
										</h:panelGrid>
									</td>
									<td><h:outputText value="#{msgs['lbl.process.fechaFinal']} (*)" styleClass="required-field" id="idOtxtEndDate" /></td>
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="endDate" showOn="button" readonly="#{facesContext.renderResponse}"
											pattern="#{msgs['dateFormat']}" maxlength="10" navigator="true"
											value="#{monitoringProcessAuditBean.endDate}" size="10"
											maxdate="#{monitoringProcessAuditBean.maxDate}" 
											mindate="#{monitoringProcessAuditBean.startDate}" required="true" requiredMessage="#{msgs['lbl.required.finaldate']}">
											<p:ajax event="dateSelect" update="beginDate,endDate" process="@this" />
											<p:ajax event="change" update="beginDate,endDate" process="@this"/>
											</p:calendar>
											<p:message for="endDate" display="icon" id="idMsgEndDate"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr align="center" width="100%">
									<td colspan="6">
									 <p:commandButton id="cbtnSearch"
											icon="fa fa-search" value="#{msgs['btn.buscar']}"
											actionListener="#{monitoringProcessAuditBean.listProcess}" process="@form"
											update="fldsFiltros,pnlResultProcessAudit,:opnlGenericDialogs">
											<f:param name="searchValidation" value="#{true}"/>
									</p:commandButton>
									<p:commandButton
											id="cbtnClean1" icon="fa fa-trash"
											value="#{msgs['btn.limpiar']}" immediate="true" process="@this"
											actionListener="#{monitoringProcessAuditBean.clearProcess}"
											update="fldsFiltros, pnlResultProcessAudit,systemTypeSelect" /></td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlResultProcessAudit">
							<p:fieldset	rendered="#{monitoringProcessAuditBean.auditModel != null}" legend="#{msgs['lbl.registers.found']}" id="idFldsProcessResult" >
								
								<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(monitoringProcessAuditBean.auditModel.rowCount>=1)}"
								styleClass="label-bolder" id="idOlblNoRecFound"/>
								
								<p:dataTable id="dtbResultProcess"
									value="#{monitoringProcessAuditBean.auditModel}" var="process"
									paginator="true" rows="10" paginatorPosition="top"
									currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; Filas por pagina: {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15"
									rendered="#{monitoringProcessAuditBean.auditModel.rowCount >= 1}"
									rowKey="#{monitoringProcessAuditBean.process.idProcessPK}">

									<p:column styleClass="content-center" id="idClmProcessType" sortBy="#{process.auditProcessType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.processType']}" id="idOtxtProcessTypeHeader"/>
										</f:facet>
										<h:outputText value="#{process.auditProcessType}" id="idOtxtProcessTypeValue"/>
									</p:column>

									<p:column styleClass="content-center" id="idClmProcessId" sortBy="#{process.idProcessPK}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.processId']}"  id="idOtxtProcessIdHeader"/>
										</f:facet>
										<h:outputText value="#{process.idProcessPK}" id="idOtxtProcessIdValue"/>
									</p:column>

									<p:column id="idClmProcessName" sortBy="#{process.processName}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.nombre']}" id="idOtxtProcessNameHeader"/>
										</f:facet>
										<h:outputText value="#{process.processName}" id="idOtxtProcessNameValue"/>
									</p:column>

									<p:column id="idClmBeginDate" sortBy="#{process.processDate}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['schedule.exception.lbl.initial.date']}" id="idOtxtBeginDateHeader" />
										</f:facet>
										<h:outputText value="#{process.processDate}" id="idOtxtBeginDateValue">
											<f:convertDateTime pattern="#{msgs['date.format']}" />
										</h:outputText>
									</p:column>

									<p:column id="idClmEndDate" styleClass="content-center" sortBy="#{process.processDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.fechaFinal']}"  id="idOtxtEndDateHeader"/>
										</f:facet>
										<h:outputText value="#{process.processDate}" id="idOtxtEndDateValue">
											<f:convertDateTime pattern="#{msgs['date.format']}" />
										</h:outputText>
									</p:column>

									<p:column id="idClmUser" sortBy="#{process.processUser}">
										<f:facet name="header">
											<h:outputText value="#{msgs['user.lbl.user']}"  id="idOtxtUserHeader"/>
										</f:facet>
										<h:outputText value="#{process.processUser}" id="idOtxtUserValue"/>
									</p:column>

									<p:column id="idClmIp" sortBy="#{process.ipProcess}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.ip']}" id="idOtxtIpHeader"/>
										</f:facet>
										<h:outputText value="#{process.ipProcess}" id="idOtxtIpValue"/>
									</p:column>

									<p:column styleClass="content-center" id="idClmState" sortBy="#{process.auditProcessState}">
										<f:facet name="header">
											<h:outputText value="#{msgs['user.lbl.state']}" id="idOtxtStateHeader"/>
										</f:facet>
										<h:outputText value="#{process.auditProcessState}" id="idOtxtStateValue"/>
									</p:column>

									<p:column styleClass="content-center" id="idClmDetails">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.process.detalle']}" id="idOtxtDetailsHeader"/>
										</f:facet>
										<p:commandLink value="#{msgs['lbl.process.ver']}" update="@form"
											oncomplete="PF('processData').show()"
											action="#{monitoringProcessAuditBean.getProcessDetails}" id="idCmdLinkDetails">
											<f:setPropertyActionListener value="#{process}"
												target="#{monitoringProcessAuditBean.selectedProcess}" />
										</p:commandLink>
									</p:column>
									<f:facet name="footer">		
										<h:outputFormat value="#{msgs['tbl.footer.cantidad.registros']}" id="idOfrtRegistros">
						                   <f:param value="#{monitoringProcessAuditBean.auditModel.rowCount}" id="idOlblRowcount"/>							                 
					                  	</h:outputFormat>
									</f:facet>	
								</p:dataTable>
							
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
			<p:dialog id="cnfAdministrarUsu" header="Datos del Proceso"
				modal="true" widgetVar="processData" visible="true"
				rendered="#{monitoringProcessAuditBean.selectedProcess != null}">

				<table width="100%">

					<tr>
						<td><p:fieldset legend="#{msgs['lbl.datosGenerales']}" id="idFldsProcessData">
								<table width="100%">
									<tr>
										<td><h:outputText value="#{msgs['lbl.process.nombre']}"  id="idOtxtProcessName"/></td>
										<td align="right"><p:inputText
												value="#{monitoringProcessAuditBean.selectedProcess.processName}"
												disabled="false"  id="idItxtProcessName"/></td>
									</tr>
									<tr>
										<td><h:outputText value="#{msgs['holiday.lbl.date']}" id="idOtxtProcessDate"/></td>
										<td align="right"><p:inputText
												value="#{monitoringProcessAuditBean.selectedProcess.processDate}"
												disabled="false" id="idItxtProcessDate"/></td>

									</tr>
									<tr>
									
										<td><h:outputText value="#{msgs['lbl.process.hora']}" id="idOtxtTime" /></td>
										<td align="right"><p:inputText value="#{monitoringProcessAuditBean.selectedProcess.processTime}"
												disabled="false"  id="idItxtTime" autocomplete="off"/></td>
									</tr>
								</table>
							</p:fieldset></td>
					</tr>
					<tr>
						<td><p:fieldset legend="#{msgs['lbl.process.parametros']}" id="idFldsParameters">
								<table width="100%">

									<tr>
										<td><pe:dynaForm id="form_params" 
												value="#{monitoringProcessAuditBean.model}" var="m">
												<pe:dynaFormControl type="input" for="txt" id="idDynaFrmCtlParameters">
													<p:inputText cols="80" id="txt" value="#{m.value}" autocomplete="off"/>
												</pe:dynaFormControl>
											</pe:dynaForm></td>
									</tr>

								</table>
							</p:fieldset></td>
					</tr>

					<tr>
						<td colspan="2" align="center"><p:commandButton id="idCmdBtnClose"
								value="#{msgs['lbl.process.cerrar']}" onclick="PF('processData').hide()" type="button" /></td>
					</tr>
				</table>
			</p:dialog>
		</h:form>

	</ui:define>
</ui:composition>
</html>