<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmCustody');
	  });
	</script>

	<h:outputText value="#{msgs['header.retiro.admfisico']}" styleClass="title-page" />		
		<h:form id="frmCustody">
			<table width="100%" border="0">
				<tr>
					<td width="100%" align="right">
						<p:commandButton value="#{msgs['deposit.register.btn.lbl']}" icon="fa fa-edit" rendered="#{reteirementDepositeBeanOriginal.flagRegister}" 
										 action="#{reteirementDepositeBeanOriginal.gotoNewRetirementCertificate}" immediate="true" />
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['header.retiro.criter']}">
							<table width="100%" border="0"> 
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.participant']}"/>
									</td> 
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu  id="idcomboparticipant" value="#{reteirementDepositeBeanOriginal.participantSelected}" style="width:480px"
														  disabled="#{reteirementDepositeBeanOriginal.isParticipant or reteirementDepositeBeanOriginal.isBcr}"  
														  label="#{msgs['message.validation.oneparticipant']}" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems value="#{reteirementDepositeBeanOriginal.lstParticpant}" var="participant" 
														   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
												<p:ajax event="change" listener="#{reteirementDepositeBeanOriginal.getParticipantSelected}"/>
										</p:selectOneMenu>	
										<p:message id="validatePart" for="idcomboparticipant" rendered="false" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['commons.label.cuiHolder']}" style="width:100px" /></td>
									<td>
										<arkHelp:holderHelper id="idCuiHolder" holder="#{reteirementDepositeBeanOriginal.sourceHolder}" 
															  validatorName="com.pradera.commons.view.validators.InputTextValidator"
															  remoteListener="cmdHolderHelper()" 
															  participant="#{reteirementDepositeBeanOriginal.participantSelected}">
										</arkHelp:holderHelper> 
	    								<p:remoteCommand name="cmdHolderHelper" process="@this idcomboparticipant" />
									</td>
									
									<td>
										<h:outputText value="#{msgs['depoito.state.lbl']}" />
									</td>
									<td>
										<p:selectOneMenu style="width:150px" value="#{reteirementDepositeBeanOriginal.stateSelected}" >  
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{reteirementDepositeBeanOriginal.certificateDepositeEstatusTypeList}"
												var="typeTransfer" itemLabel="#{typeTransfer.parameterName}" itemValue="#{typeTransfer.parameterTablePk}" />
												<p:ajax event="change" listener="#{reteirementDepositeBeanOriginal.getStateSelected}" update="frmCustody"/>
										</p:selectOneMenu>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.retiro.emisor']}" />
									</td>
									<td>
									<arkHelp:issuerHelper id="idIssuerPk" issuer="#{reteirementDepositeBeanOriginal.issuerHelp}" remoteListener="validaIssuer()"
														  label="#{msgs['lbl.retiro.emisor']}">
									</arkHelp:issuerHelper>
									<p:remoteCommand name="validaIssuer" 
													 actionListener="#{reteirementDepositeBeanOriginal.validateSearchIssuer}"
													 update="idIssuerPk, :opnlDialogs"/>
									</td>
									<td>
										<h:outputText value="#{msgs['consult.location.requestNo']}"  />	
									</td>
									<td>
										<p:inputText id="idsreqno" size="12" value="#{reteirementDepositeBeanOriginal.selectedReqNumber}" 
													 style="text-align:right" >
											<p:keyFilter regEx="/[0-9]/i" />
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.nro.title']}" />
									</td>
									<td> 
										<p:inputText id="idscertno" value="#{reteirementDepositeBeanOriginal.docNumber}" style="width:100px;text-align:right" >
											<p:keyFilter regEx="/[0-9]/i" />
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.fecha.inicial']} (*)" styleClass="required-field"/>
									</td> 
									<td>
										<p:calendar id="calendarInic" 
													readonly="#{facesContext.renderResponse}" 
													size="10"
													showOn="button" 
													pattern="#{msgs['dateFormat']}"
													navigator="true"
													value="#{reteirementDepositeBeanOriginal.initialDate}" 
													maxdate="#{reteirementDepositeBeanOriginal.maxDateAllow}">
										<p:ajax event="dateSelect" listener="#{reteirementDepositeBeanOriginal.getInitialDate}" 
												update="frmCustody" />
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['deposito.fecha.final']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:calendar 
											id="calendarFin" 
											readonly="#{facesContext.renderResponse}" 
											size="10" 
											showOn="button" 
											pattern="#{msgs['dateFormat']}" 
											maxdate="#{reteirementDepositeBeanOriginal.maxDateAllow}"
											navigator="true" 
											value="#{reteirementDepositeBeanOriginal.finalDate}">
											<p:ajax event="dateSelect" listener="#{reteirementDepositeBeanOriginal.getFinalDate}" update="frmCustody" />
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
														 rendered="#{reteirementDepositeBeanOriginal.flagSearch}" 
														 actionListener="#{reteirementDepositeBeanOriginal.searchRetirementPhysicalCertificates}" 
														 update="frmCustody:panelRegistros, frmCustody:pnlButtons, :opnlDialogs"/>
														 
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
														 immediate="true" process="@this"
														 update="frmCustody, :opnlDialogs"
														 actionListener="#{reteirementDepositeBeanOriginal.clearSearchRetirementPhysicalCertificates}" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel  id="pnlButtons">
							
							<arkPriv:privileges id="praderaPrivileges"				 
						 		actionApprove="#{reteirementDepositeBeanOriginal.aproveCertificates(false)}"
							 	actionAnnular="#{reteirementDepositeBeanOriginal.cancelCertificates(false)}"
							 	actionApply="#{reteirementDepositeBeanOriginal.applyCertificates(false)}"
							 	actionReject="#{reteirementDepositeBeanOriginal.rejectCertificates(false)}"
							 	actionConfirm="#{reteirementDepositeBeanOriginal.confirmCertificates(false)}"
						 		actionAuthorize="#{reteirementDepositeBeanOriginal.authorizeCertificates(false)}"
								actions="#{userPrivilege.userAcctions}"
								renders="#{userPrivilege.privilegeComponent}"/>
								
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td> 
						<p:outputPanel id="panelRegistros">
							<p:fieldset id="fsListado" legend="#{msgs['header.retiro.regisenco']}"
										rendered="#{not empty reteirementDepositeBeanOriginal.certificateDepositeList}">

									<p:dataTable 
										id="dtbResult" var="physicalCertificateVar"
										style="padding-right:0px !important"
										paginator="true" rows="8"  paginatorPosition="top"
										selection="#{reteirementDepositeBeanOriginal.certificateDepositeSelected}"
										value="#{reteirementDepositeBeanOriginal.certificateDepositeDataModel}" 
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{physicalCertificateVar.idPhysicalOperationDetail}">
									
									
									<p:column style="text-align:center" selectionMode="multiple" />
									
									<p:column styleClass="content-center" style="width:40px" sortBy="#{physicalCertificateVar.requestNumber}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['deposito.nro.solicitud']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{reteirementDepositeBeanOriginal.goToviewCertificationDetail(physicalCertificateVar)}">
											<h:outputText style="float:right;" value="#{physicalCertificateVar.requestNumber}" />
										</p:commandLink>
										
									</p:column>
									
									<p:column style="text-align:right" sortBy="#{physicalCertificateVar.physicalCertificate.certificateNumber}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.nro.title']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.certificateNumber}" />
									</p:column>																		
									
									<p:column styleClass="content-center" width="27px" sortBy="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.retiro.emisor']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic}"/>
									</p:column>

									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalOperationDetail.registryDate}">
										<f:facet name="header">
											<h:outputText style="width:55px" value="#{msgs['lbl.deposito.fecha.solicitud.search']}"/>
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalOperationDetail.registryDate}"> 
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/> 
										</h:outputText>
									</p:column>
									
									<p:column style="text-align:center;" sortBy="#{physicalCertificateVar.physicalCertificate.classType}">
										<f:facet name="header">
											<h:outputText value="Clase de Valor" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.classType}" />
									</p:column>
					
									<p:column styleClass="content-center" style="width:205px"
									sortBy="#{physicalCertificateVar.physicalCertificate.securities.idSecurityCodePk}">
										<f:facet name="header">
											<h:outputText value="#{gmsgs['security.lbl.code']}" />
										</f:facet>
										<arkHelp:securities-help securityCode="#{physicalCertificateVar.physicalCertificate.securities.idSecurityCodePk}" 
													link="true" icon="false">
													</arkHelp:securities-help>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.valor.nominal']}" />
										</f:facet>
										<h:outputText style="float:right" value="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										 <f:convertNumber locale="en_US" pattern="###,##0.00"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.currencyType}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['adm.holderaccount.bank.money.lbl']} " />
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.currencyType}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.issueDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.manage.fecha.in']}" />
										</f:facet>
										<h:outputText style="float:right" value="#{physicalCertificateVar.physicalCertificate.issueDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.expirationDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.manage.fecha.fin']}" />
										</f:facet>
										<h:outputText style="float:right" value="#{physicalCertificateVar.physicalCertificate.expirationDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.stateType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.status']}" />
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.stateType}"/>
									</p:column>
									
									<p:column styleClass="content-center" rendered="true">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.retiro.solicit']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{physicalCertificateVar.indApplied}" disabled="true"/>
									</p:column>
									
									<p:column styleClass="content-center" rendered="true">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.withdrwal.dematerialization']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{physicalCertificateVar.indDematerialization}" disabled="true"/>
									</p:column>
									
									<f:facet name="footer">  
							            <h:outputLabel value="#{reteirementDepositeBeanOriginal.certificateDepositeDataModel.rowCount} #{msgs['lbl.results']}"/>
							        </f:facet>
								
								</p:dataTable>
								
							</p:fieldset>
							
							<p:outputPanel rendered="#{!reteirementDepositeBeanOriginal.registersFound}">
								<p:fieldset legend="#{msgs['header.retiro.regisenco']}" >
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
												rendered="#{!(reteirementDepositeBeanOriginal.certificateDepositeDataModel.rowCount >= 1)}"/>
								</p:fieldset>				
							</p:outputPanel>
							
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		<!--  -->
		<p:outputPanel id="opnlDialogs">
		
			<h:form id="formPopUp">
			
			<p:dialog id="alterValidation" closable="false"
	                		 header="#{headerMessageView}" widgetVar="alterValidationWidget" >
	            <h:panelGrid width="100%" border="0" cellpadding="10" cellspacing="0" style="text-align:left;">
	            	<p:outputLabel value="#{bodyMessageView}" escape="false"/>
	            </h:panelGrid>  
	       		
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="5" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="#{reteirementDepositeBeanOriginal.aceptAlertActions()}"
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:dialog> 
	    	
	    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
							 message="#{bodyMessageView}" header="#{headerMessageView}" 
							 closable="false"> 
				
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" 
									 action="#{reteirementDepositeBeanOriginal.confirmAlertActions()}" 
									 update=":frmCustody, :opnlDialogs"  />
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
			
			</p:confirmDialog>
			
			<p:dialog id="alterReject" closable="false" resizable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alterRejectWidget" >  
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.select']} (*)" styleClass="required-field" />
			    		</td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['error.accreditation.certificate.required']}" 
											 value="#{reteirementDepositeBeanOriginal.reasonSelected}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
					           <f:selectItems value="#{reteirementDepositeBeanOriginal.reasonTypeList}"
											  var="rejectMotive" itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
	    		<tr>
				    <td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']} (*)" styleClass="required-field" 
			    						  rendered="#{reteirementDepositeBeanOriginal.reasonSelected==reteirementDepositeBeanOriginal.otherRejectMotiveId}" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" maxlength="200"
			    							required="true"
			    							requiredMessage="#{msgs['error.accreditation.certificate.required']}"
			    							rendered="#{reteirementDepositeBeanOriginal.reasonSelected==reteirementDepositeBeanOriginal.otherRejectMotiveId}"
			    							style="width:300px;" value="#{reteirementDepositeBeanOriginal.rejectOther}">
			    				<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{reteirementDepositeBeanOriginal.reasonSelected==reteirementDepositeBeanOriginal.otherRejectMotiveId}" />
					</td>
		    	</tr>
       			<tr>
       				<td colspan="2" align="center">       
				        <p:commandButton
					        			 id="btnYesRejectOrAnulled"
					        			 rendered="true"  process="@form"
					        			 icon="fa fa-save"
					        			 disabled="#{reteirementDepositeBeanOriginal.reasonSelected==-1}"
				        				 value="#{gmsgs['btn.save']}" 
				        				 action="#{reteirementDepositeBeanOriginal.certificateQuestion()}"
				        				 update="rejectPanel, cnfIdCAskDialog, :opnlGenericDialogs"
				        				 > 
				        	</p:commandButton>
				        	
				        	<p:commandButton
					        			 icon="fa fa-undo"
				        				 value="#{gmsgs['btn.back']}"  
				        				 immediate="true"
				        				 process="@this"
				        				 action="#{reteirementDepositeBeanOriginal.cancelAlertAnullOrReject()}"
				        				 update=":frmCustody, :opnlDialogs"> 
						    </p:commandButton>  
                  </td>
       			</tr>
       		</table>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
			
	    	</h:form>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>