<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">	
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmMassiveInterface');
	});
</script>    
<script type="text/javascript">
	$(window).load(function(){
		setAllHolidays('${applicantMgmtBean.allHolidays}');
	}); 
</script>
<style type="text/css">
	.ui-panelgrid tr, .ui-panelgrid td {
		border:0 !important;
	}
</style>
<h:outputText value="#{msgs['applicant.consult.register.title']}"  styleClass="title-page"/>
<h:form id="frmMassiveInterface" enctype="multipart/form-data">
<table width="100%">  
<tr>
<td>
	<table width="100%">
	<tr>
		<td colspan="2">
			<p:fieldset id="fieldSolicitud" legend="#{msgs['applicant.headboard.register']}">
				<table width="100%">
					<tr>													
						<td width="160px">
							<h:outputText value="#{msgs['applicant.registry.applicant.list']} (*)" styleClass="required-field" />
						</td>
						<td>
							<p:selectOneMenu id="cmbApplicantType" style="width:400px" value="#{applicantMgmtBean.applicant.applicantType}" >  
					            <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"/>   
					            <f:selectItems var="appType" value="#{applicantMgmtBean.listApplicants}" 
					            			   itemValue="#{appType.idAppRequesterPk}" 
					            			   itemLabel="#{appType.nameRequester}" />
				        		<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
				        		<p:ajax update="@this messageApplicantType" event="valueChange" />
				        	</p:selectOneMenu>
						</td>
						<td width="40px">
							<p:message id="messageApplicantType" for="cmbApplicantType" display="icon" />
						</td>												
					</tr>					
					<tr>
						<td width="160px">
							<h:outputText value="#{msgs['applicant.application.number']} (*)" styleClass="required-field" />
						</td>
						<td width="160px">
							<p:inputText  id="inputApplicantNumber" label="#{msgs['applicant.application.number']}" 
											value="#{applicantMgmtBean.applicant.applicantNum}" maxlength="10">
								<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
							    <p:ajax update="@this messageApplicantNumber" event="blur" process="@this"/>
							    <p:keyFilter regEx="#{cons['exp.regular.numbers.and.slash']}" />
						    </p:inputText>												    
						</td>
						<td width="40px">
							<p:message id="messageApplicantNumber" for="inputApplicantNumber" display="icon" />
						</td>												
					</tr>					
					<tr>
						<td width="160px">
							<h:outputText value="#{msgs['applicant.application.date']} (*)" styleClass="required-field" />
						</td>
						<td>
							<p:calendar label="#{msgs['applicant.application.date']}" beforeShowDay="disableAllHolydays"
										value="#{applicantMgmtBean.applicant.requestDate}" maxlength="10" size="10"
										id="calDateApplicant" showOn="both" navigator="true" readonlyInput="true" yearRange="1900:c+c"
										pattern="#{msgs['dateFormat']}" maxdate="#{applicantMgmtBean.currentSystemDate}" >
								<p:ajax update="@this messageRequestDate" event="dateSelect" global="false"/>
								<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
							</p:calendar>
						</td>
						<td width="40px">
							<p:message id="messageRequestDate" for="calDateApplicant" display="icon" />
						</td>																						
					</tr>																										
					<tr>
						<td width="160px">														
							<h:outputText value="#{msgs['applicant.application.file']} (*)" styleClass="required-field" />
						</td>
						<td style="white-space: nowrap;">
							<p:outputPanel id="panelBackfile" styleClass="fileupload-customize" layout="block">
								<p:fileUpload  	id="fuplApplicantBackfile" 
												widgetVar="fuplwApplicantBackfile"
											   	label="#{msgs['fupl.label']}" 
											   	mode="advanced" auto="true" required="true"	
											   	update="lblFuplFilename panelBackfile"
											   	fileUploadListener="#{applicantMgmtBean.fileUploadHandler}"
											   	allowTypes="/(\.|\/)(#{applicantMgmtBean.fUploadFileDocumentsTypes})$/"																	   	
											   	invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}" >
								</p:fileUpload>		
								<script type="text/javascript">									
								    $(document).ready(function(){														
										fileuploadValidate('fuplwApplicantBackfile');	
									});		
								</script>								
								<h:panelGrid columns="4">
									<p:graphicImage id="imgFile" library="img" name="icons/help.png" styleClass="icon"/>
									<p:tooltip for="imgFile">
										<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
											<f:param value="#{applicantMgmtBean.txtFileUploadSizeDisplay}"/>
											<f:param value="#{applicantMgmtBean.fUploadFileTypesDocumentsDisplay}"/>				
										</h:outputFormat>
									</p:tooltip>
									<p:commandLink id="removeFile" styleClass="icon" global="false"
												   update="panelBackfile, lblFuplFilename" process="@this"
												   rendered="#{not empty applicantMgmtBean.respaldo_temp}"
												   actionListener="#{applicantMgmtBean.deleteFileTemp}" >
										<p:graphicImage id="linkRemoveFile" library="img" name="buttons/remove.png"/>
									</p:commandLink>																
									<h:outputLabel value="#{applicantMgmtBean.respaldo_name == null ? gmsgs['fupl.no.selected'] : applicantMgmtBean.respaldo_name }"
												   id="lblFuplFilename" styleClass="label" />
								</h:panelGrid>
							</p:outputPanel>
						</td>
						<td width="40px" />
					</tr>					
					<tr>
						<td align="center" colspan="3"> 
							<p:outputPanel >
								<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" 
												 action="#{applicantMgmtBean.saveApplicant}"
												 process="@this" update="@form"
												 disabled="#{applicantMgmtBean.indAppSabed}" >
								</p:commandButton>
								<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
								<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
												 onclick="return showCleanConfirmDialog(this);" oncomplete="cnfwClean.hide()"
												 actionListener="#{applicantMgmtBean.cleanAll}" update="@form" />
								<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
								<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" immediate="true"
												 onclick="if(isModifiedFormForBack(this,'frmMassiveInterface'))return false;"
												 action="goApplicantMgmt" process="@this" >
								</p:commandButton> 			
							</p:outputPanel>			
						</td> 
					</tr>	
				</table>
			</p:fieldset>‌
		</td>
	</tr>
	<tr>
		<td>
			<p:fieldset id="fieldPersona" legend="#{msgs['applicant.headboard.register']}" rendered="true">
				<p:outputPanel id="panelFields" style="width:100%;">
					<table width="100%">
						<tr>
							<td width="160px">
								<h:outputLabel value="#{gmsgs['lbl.operation.massive.file']} (*)" styleClass="required-field" />
							</td>
							<td style="white-space: nowrap;">
								<p:outputPanel id="panelRequestFile" styleClass="fileupload-customize" layout="block">
									<p:fileUpload id="fuploadRequestFile" 
												  widgetVar="fulploadwRequestFile"
												  label="#{gmsgs['fupl.label']}" 
												  mode="advanced" auto="true" required="true"
												  disabled="#{applicantMgmtBean.indConfirmed}" 
												  update="lblFuplExcel panelRequestFile @form"
												  fileUploadListener="#{applicantMgmtBean.readFileExcel}"												   
												  >					
									</p:fileUpload>
									<script type="text/javascript">
										$(document).ready(function(){
											fileuploadValidate('fulploadwRequestFile');
										});
									</script>
									<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
									<h:panelGrid columns="4">
										<p:tooltip for="imgLimit">
											<h:outputFormat value="#{msgs['upload.formats.availables.info']}" escape="false">
												<f:param value="#{applicantMgmtBean.fUploadFileSizeDisplay}"/>			
												<f:param value="#{applicantMgmtBean.xlsFileUploadFileTypesDisplay}"/>			
											</h:outputFormat>
										</p:tooltip>
										<h:outputLabel value="#{applicantMgmtBean.excel_name == null ? gmsgs['fupl.no.selected'] : applicantMgmtBean.excel_name }"
													   id="lblFuplExcel" styleClass="label"	 />
									</h:panelGrid>			
									<p:fieldset legend="#{gmsgs['lbl.operation.massive.file.validation.errorTable']}">
										<p:dataTable id="dtbResultErrors" var="error" value="#{applicantMgmtBean.lstErrorReadExcel}" 
													 rendered="#{applicantMgmtBean.lstErrorReadExcel.size() >= 1}"
													 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
													 paginator="true" rows="10" paginatorPosition="top"
													 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
													 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
													 rowIndexVar="rIndx" >
											<p:column style="width:50px">
												<f:facet name="header">
													<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.number']}" styleClass="text-header-table" />
												</f:facet>
												<h:outputText value="#{rIndx+1}" style="align:right" />
											</p:column>
											<p:column style="width:300px">
												<f:facet name="header">
													<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.description']}" styleClass="text-header-table" />
												</f:facet>
												<h:outputText value="#{error}" escape="false" style="align:left; white-space: normal;" />
											</p:column>
										</p:dataTable>
										<h:outputLabel value="Sin errores" style="font-weight:bold;" rendered="#{!(applicantMgmtBean.lstErrorReadExcel.size() >= 1)}"/>
									</p:fieldset>
								</p:outputPanel>
							</td>
						</tr>					
					</table>
				</p:outputPanel>
				<br /><br />
				<p:outputPanel id="panelButton" styleClass="clsSearchUpd" rendered="#{applicantMgmtBean.applicantConsultRegister.rowCount > 0}" >
					<p:commandButton id="cmbDelete" icon="ui-reject" value="#{gmsgs['btn.delete']}" update="@form" 
									 actionListener="#{applicantMgmtBean.deleteApplicantConsultSelected}" process="@this dtableRows"
									 disabled="#{applicantMgmtBean.indAggregate}" />
				</p:outputPanel>
				<p:outputPanel style="width:100%;">		
				    <p:dataTable id="dtableRows" var="applicantFields" value="#{applicantMgmtBean.applicantConsultRegister}" 
								 rendered="#{applicantMgmtBean.applicantConsultRegister.rowCount > 0}" 
								 paginator="true" rows="10" paginatorPosition="top" rowKey="#{applicantFields.idApplicantConsultPk}"
								 paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
								 currentPageReportTemplate="#{msgs['applicant.register.fields']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 selection="#{applicantMgmtBean.listApplicantConsultSelected}" >							
						<p:column selectionMode="multiple" style="width:18px" />
						<p:column headerText="#{msgs['applicant.consult.document.type']}" 
								  sortBy="#{applicantFields.docType}" style="text-align:center" >
							<h:outputText value="#{applicantFields.docSearch}" />					
						</p:column>						
						<p:column headerText="#{msgs['applicant.consult.document.number']}" 
								  sortBy="#{applicantFields.docNum}" style="text-align:right" >
							<h:outputText value="#{applicantFields.docNum}" />		
						</p:column>						
						<p:column headerText="#{msgs['applicant.consult.name']}" >
							<h:outputText value="#{applicantFields.name}" />
						</p:column>						
						<p:column headerText="#{msgs['applicant.consult.lastname1']}" >
							<h:outputText value="#{applicantFields.lastName1}" />
						</p:column>						
						<p:column headerText="#{msgs['applicant.consult.lastname2']}" >
							<h:outputText value="#{applicantFields.lastName2}" />
						</p:column>						
						<p:column headerText="#{msgs['applicant.consult.business.name']}" >
							<h:outputText value="#{applicantFields.businessName}" />
						</p:column>						
						<p:column headerText="#{msgs['applicant.application.number']}" style="text-align:right">
							<h:outputText value="#{applicantFields.applicantNum}" />
						</p:column>						
						<f:facet name="footer">	
							<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{applicantMgmtBean.applicantConsultRegister.rowCount}"/>
					            </h:outputFormat>									
							</div>
						</f:facet>	
					</p:dataTable>
					<h:outputLabel value="Sin Resultados" style="font-weight:bold;" rendered="#{!(applicantMgmtBean.applicantConsultRegister.rowCount >= 1)}"/>		
				</p:outputPanel>	
				<table width="100%">
					<tr>
						<td align="center">
							<p:commandButton id="cmbFindHolders" value="#{gmsgs['btn.search']}" icon="fa fa-search"											  
											 process="@this" update="@form" actionListener="#{applicantMgmtBean.beforeSearchHolders}"
											 rendered="#{applicantMgmtBean.indSearched}" >
								<f:param name="skipValidation" value="true"/>
							</p:commandButton>
							<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
							<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
											 onclick="return showCleanConfirmDialog(this);" oncomplete="cnfwClean.hide()"
											 actionListener="#{applicantMgmtBean.cleanApplicantConsultBtn}" update="@form" 
											 rendered="#{applicantMgmtBean.indSearched}" />
						</td>
					</tr>
				</table>			 	
			</p:fieldset>
		</td>		
	</tr>	
	<tr>
	<td>
	</td>
	</tr>
	<tr>
	<td>
		<p:outputPanel id="pnlApplicantConsultRes">		
			<p:fieldset id="fldBusquedas" legend="#{msgs['lbl.results']}" >
				<table>
					<tr>
						<td>
							<p:outputPanel id="panelButton2" styleClass="clsSearchUpd" rendered="#{applicantMgmtBean.applicantConsultRequestDataModel.rowCount > 0}" >
								<p:commandButton id="cmbGenerate" icon="ui-generate" value="#{gmsgs['btn.generate']}" update="@form" 
												 actionListener="#{applicantMgmtBean.generateReportsApplicantConsultRequestSelected}" 
												 disabled="#{applicantMgmtBean.indGenerable}" process="@this dtbResult" />
							</p:outputPanel>
							<p:outputPanel style="width:100%;">	
							<p:dataTable id="dtbResult" rows="10" paginatorPosition="top" var="applicantConsultReq"
										 rendered="#{applicantMgmtBean.applicantConsultRequestDataModel.rowCount > 0}"
										 value="#{applicantMgmtBean.applicantConsultRequestDataModel}" paginator="true" 
										 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										 rowKey="#{applicantConsultReq.idApplicantConsRegPk}"
										 selection="#{applicantMgmtBean.listApplicantConsultRequestSelected}"
										 paginatorTemplate="#{msgs['dtb.paginator.template']}" 
										 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" >								
								<p:column selectionMode="multiple" style="width:18px" />
								<p:column style="text-align:center; width:100px" sortBy="#{applicantConsultReq.holder.idHolderPk}">
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.cui.optained']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{applicantConsultReq.holder.idHolderPk}" />
								</p:column>								
								<p:column style="text-align:center; width:500px" sortBy="#{applicantConsultReq.description}">
									<f:facet name="header">
										<h:outputText
											value="#{msgs['applicant.consult.description.optained']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText style="text-align:center;" value="#{applicantConsultReq.description}" />
								</p:column>								
								<p:column style="text-align:center; width:200px" >
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.document.type']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText escape="false" value="#{applicantConsultReq.holder.documentTypeDescription}" />
								</p:column>								
								<p:column style="text-align:right; width:200px" sortBy="#{applicantConsultReq.holder.documentNumber}">
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.document.number']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText escape="false" value="#{applicantConsultReq.holder.documentNumber}" />
								</p:column>								
								<p:column style="text-align:center; width:200px" >
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.issued.optained']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText escape="false" value="#{applicantConsultReq.holder.descriptionDocumentSource}" />
								</p:column>								
								<p:column style="text-align:center; width:200px" >
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.indstateholder.optained']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText escape="false" value="#{applicantConsultReq.holder.stateDescription}" />
								</p:column>								
								<p:column styleClass="content-center" >
									<f:facet name="header">
										<h:outputText value="#{msgs['applicant.consult.report']}" />
									</f:facet>
									<p:commandLink style="color:blue;" disabled="#{applicantMgmtBean.isNotStateConfirm(applicantConsultReq.indVerifiedConsult)}"
										rendered="#{!applicantMgmtBean.getVisibleFilePortafolioReport(applicantConsultReq)}"
										update="dtbResult" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"
										actionListener="#{applicantMgmtBean.getGenerateFilePortafolioReport(applicantConsultReq)}" >
										<p:graphicImage id="imgView1" library="img" name="buttons/save.png" />
									</p:commandLink>
									<p:commandLink style="color:blue;" ajax="false" 
										disabled="#{applicantMgmtBean.isNotStateConfirm(applicantConsultReq.indVerifiedConsult)}"
										rendered="#{applicantMgmtBean.getVisibleFilePortafolioReport(applicantConsultReq)}" >
										<p:fileDownload	value="#{applicantMgmtBean.getStreamedContentTemporalFilePortafolioReport(applicantConsultReq)}" />
										<p:graphicImage id="imgView2" library="img" name="icons/loupe.png" />
									</p:commandLink>
								</p:column>								
								<f:facet name="footer">
									<h:outputFormat	value="#{msgs['tbl.footer.quantity.records']}">
										<f:param value="#{applicantMgmtBean.applicantConsultRequestDataModel.rowCount}" />
									</h:outputFormat>
								</f:facet>  
							</p:dataTable>
							<h:outputLabel value="Sin Resultados" style="font-weight:bold;" rendered="#{!(applicantMgmtBean.applicantConsultRequestDataModel.rowCount >= 1)}"/>
						</p:outputPanel>
						</td>
					</tr>					
				</table>
			</p:fieldset>
		</p:outputPanel>
	</td>
	</tr>
	<tr>
		<td align="center">
			<p:outputPanel>
				<p:commandButton id="cmbFinalForm" value="Finalizar" icon="ui-confirm" process="@this" update="@form"
								 rendered="#{applicantMgmtBean.indSaved}" actionListener="#{applicantMgmtBean.beforeSaveApplicantConsultRequest}" />
			</p:outputPanel>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>	
</h:form>
<!-- DIALOGOS -->
<p:outputPanel id="opnlDialogs">
	<p:confirmDialog id="confirmSearch" message="#{bodyMessageView}" header="#{headerMessageView}"
					 severity="alert" widgetVar="widgetConfirmSearch" closable="false" >
		<p:commandButton id="botonconfirmSearch" value="#{msgs['btn.yes']}" process="@this" 
						 actionListener="#{applicantMgmtBean.searchHolders}" update="frmMassiveInterface opnlDialogs"
						 oncomplete="widgetConfirmSearch.hide()" >
		</p:commandButton>
		<p:commandButton value="#{msgs['btn.no']}" type="button" onclick="widgetConfirmSearch.hide()" />
	</p:confirmDialog>	
	<p:confirmDialog id="confirmFinalice" message="#{bodyMessageView}" header="#{headerMessageView}" 
					 severity="alert" widgetVar="widgetConfirmFinalice" closable="false" >
		<p:commandButton id="botonconfirmFinalice" value="#{msgs['btn.yes']}" process="@this" 
						 actionListener="#{applicantMgmtBean.saveApplicantConsultRequest}" update="frmMassiveInterface opnlDialogs"
		 				 oncomplete="widgetConfirmFinalice.hide()" >
		</p:commandButton>
		<p:commandButton value="#{msgs['btn.no']}" type="button" onclick="widgetConfirmFinalice.hide()" />
	</p:confirmDialog>	
</p:outputPanel>
				
</ui:define>
</ui:composition>
</html>