<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
<ui:define name="body"> 
	<h:outputText value="#{msgs['lbl.marketfacts.file']}"  styleClass="title-page"/>
	<h:form id="frmFileMarketFactSearch">
		<table width="100%">
			<tr>
				<td align="right" >
						<p:commandButton value="#{gmsgs['btn.register']}" rendered="#{userPrivilege.userAcctions.register}" 
							icon="fa fa-edit" action="#{marketFactMgmtBean.loadViewRegister()}" process="@this"/>
				</td>
			</tr>
		</table>
		<p:fieldset legend="#{msgs['lbl.uploading.files']}" id="fldsFilters">
		<table width="99%">
			<tr>
				<td width="150px">
					<h:outputText value="#{msgs['lbl.valuator.core.marketfact.type']}" styleClass="required-field"/>
				</td>
				<td width="300px">
				 <h:panelGrid columns="2">
					<p:selectOneMenu id="idMarketfactType" label="#{msgs['lbl.valuator.core.marketfact.type']}" 
						style="width:200px"
						value="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.marketfactType}" > 
					  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"   />
					  <f:selectItems value="#{marketFactMgmtBean.marketFactMgmtTO.lstMarketfactType}" 
					  	var="marketfactType" itemValue="#{marketfactType.parameterTablePk}" itemLabel="#{marketfactType.parameterName}"/>
					  <!--f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /!-->
			        </p:selectOneMenu>
			        <p:message id="msgMarketfactType" for="idMarketfactType" display="icon" />
				 </h:panelGrid>	
				
				</td>
				<td width="150px">
					<h:outputText value="#{msgs['lbl.valuator.core.marketfact.process']}" styleClass="required-field"/>
				</td>
				<td width="300px">
				 <h:panelGrid columns="2">
					<p:selectOneMenu id="idMarketfactProcess" label="#{msgs['lbl.valuator.core.marketfact.process']}" 
						style="width:200px"
						value="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.processType}" > 
					  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  />
					  <f:selectItems value="#{marketFactMgmtBean.marketFactMgmtTO.lstMarketfactProcess}" var="marketfactProcess"
					  	 itemValue="#{marketfactProcess.parameterTablePk}" itemLabel="#{marketfactProcess.parameterName}"/>
					  <!--f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /-->
			        </p:selectOneMenu>
			        <p:message id="msgMarketfactProcess" for="idMarketfactProcess" display="icon" />
				 </h:panelGrid>	
				</td>
			</tr>
			<tr>
				<td width="150px">
					<h:outputText value="#{msgs['lbl.valuator.core.marketfact.state']} " styleClass="required-field"/>
				</td>
				<td width="300px">
				 <h:panelGrid columns="2">
					<p:selectOneMenu id="idMarketfactState" label="#{msgs['lbl.valuator.core.marketfact.state']}" 
						style="width:200px"
						value="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.fileState}" > 
					  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  />
					  <f:selectItems value="#{marketFactMgmtBean.marketFactMgmtTO.lstMarketfactState}" 
					  	var="marketfactState" itemValue="#{marketfactState.parameterTablePk}" itemLabel="#{marketfactState.parameterName}"/>
					  <!--f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /-->
			        </p:selectOneMenu>
			        <p:message id="msgMarketfactState" for="idMarketfactState" display="icon" />
				 </h:panelGrid>	
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.valuator.core.marketfact.file.source']}" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboFileSource" label="#{msgs['lbl.valuator.core.marketfact.file.source']}" 
						style="width:200px"
						value="#{marketFactMgmtBean.marketFactMgmtTO.fileSource}" > 
					  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
					  <f:selectItems value="#{marketFactMgmtBean.marketFactMgmtTO.lstFileSource}" 
					  	var="fSource" itemValue="#{fSource.parameterTablePk}" itemLabel="#{fSource.parameterName}"/>
			        </p:selectOneMenu>
			        <p:message id="msgFileSource" for="cboFileSource" display="icon" />
				 </h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
				<h:outputText value="#{gmsgs['lbl.initial.date']}" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}" id="initialDate"
					value="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.initalDate}"
					maxdate="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.endDate}">
					<p:ajax process="@this" update="@this endDate" global="false" event="dateSelect"/>
				</p:calendar>
				</h:panelGrid> 
			</td>
			<td>
				<h:outputText value="#{gmsgs['lbl.end.date']} " styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar showOn="both" navigator="true" size="10" 
					readonlyInput="true" disabledWeekends="true" id="endDate"
					mindate="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.initalDate}"
					pattern="#{gmsgs['calendar.date.format']}" value="#{marketFactMgmtBean.marketFactMgmtTO.valuatorMarketfactFileTO.endDate}"
					maxdate="#{marketFactMgmtBean.currentSystemDate}">
					<p:ajax process="@this" update="@this initialDate" global="false" event="dateSelect"/>
				</p:calendar>
				</h:panelGrid>
			</td>
			</tr>
			<tr>
				<td align="center" colspan="4">
					<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
						rendered="#{userInfo.userAcctions.search}"
						actionListener="#{marketFactMgmtBean.searchValuatorMarketfactFileTO}" update="@form"/>
					<p:commandButton id="btnLimpiar" value="#{gmsgs['btn.clean']}" process="@this" 
						update="@form" icon="fa fa-trash" actionListener="#{marketFactMgmtBean.cleanSearch}"/>							
				</td>
			</tr>
			
		</table>
	</p:fieldset>
	<br/>
	<p:fieldset id="fldNoResult" rendered="#{(marketFactMgmtBean.marketFactMgmtTO.lstValuatorMarketfactFileTO.rowCount == 0) and 
								marketFactMgmtBean.marketFactMgmtTO.lstValuatorMarketfactFileTO.rowCount != null}">
		<h:outputText value="#{gmsgs['lbl.search.no.result']}"/>
	</p:fieldset>
	<p:fieldset id="fldResult" legend="Registros encontrados" rendered="#{marketFactMgmtBean.marketFactMgmtTO.lstValuatorMarketfactFileTO.rowCount > 0}">
		<p:dataTable value="#{marketFactMgmtBean.marketFactMgmtTO.lstValuatorMarketfactFileTO}"  
			var="valuatorMarketfactFile" 
			rowKey="#{valuatorMarketfactFile.idValuatorFilePk}"
			paginator="true" paginatorPosition="top" 
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" 
			rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
			rows="#{cons['dtb.rows']}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" sortMode="single">
			<!--selection="#{mcnManualMgmtBean.mechanismOperation}"-->				 
			<p:column selectionMode="single" styleClass="content-center"/>
					     		                 
			<p:column sortBy="#{valuatorMarketfactFile.registryDate}" headerText="#{msgs['lbl.registry.date']}">
				<h:outputText value="#{valuatorMarketfactFile.registryDate}"/>
			</p:column>
			<p:column sortBy="#{valuatorMarketfactFile.fileName}" headerText="#{msgs['lbl.valuator.core.marketfact.filename']}">
				<h:outputText value="#{valuatorMarketfactFile.fileName}"/>
			</p:column>
			<p:column sortBy="#{valuatorMarketfactFile.marketfactType}" headerText="#{msgs['lbl.valuator.core.marketfact.type']}">
				<h:outputText value="#{marketFactMgmtBean.getParameterName(valuatorMarketfactFile.marketfactType)}"/>
			</p:column>
			<p:column sortBy="#{valuatorMarketfactFile.processType}" headerText="#{msgs['lbl.valuator.core.marketfact.process']}">
				<h:outputText value="#{marketFactMgmtBean.getParameterName(valuatorMarketfactFile.processType)}"/>
			</p:column>
			<p:column sortBy="#{valuatorMarketfactFile.fileState}" headerText="#{msgs['lbl.valuator.core.marketfact.state']}">
				<h:outputText value="#{marketFactMgmtBean.getParameterName(valuatorMarketfactFile.fileState)}"/>
			</p:column>
			<p:column sortBy="#{valuatorMarketfactFile.fileSource}" headerText="#{msgs['lbl.valuator.core.marketfact.source']}">
				<h:outputText value="#{marketFactMgmtBean.getParameterName(valuatorMarketfactFile.fileSource)}"/>
			</p:column>
			<p:column  styleClass="content-right">
				<p:commandLink id="cmlViewFile" styleClass="icon" process="@this"
						update="dtFiles" global="false" ajax="false" immediate="true">
						<p:fileDownload	value="#{marketFactMgmtBean.getMarketfactStreamContent(valuatorMarketfactFile)}" />
						<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
							title="#{msgs['lbl.valuator.core.marketfact.doc.view']}"/>
					</p:commandLink>
			</p:column>			
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{marketFactMgmtBean.marketFactMgmtTO.lstValuatorMarketfactFileTO.rowCount}"/>
				</h:outputFormat>
			</f:facet>	
		</p:dataTable>
	</p:fieldset>
	</h:form>
</ui:define>
</ui:composition>
</html>