<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
		<style type="text/css">
			th {
				text-align : center !important;
				vertical-align: middle;
			} 
		</style>
		<h:outputText value="#{msgs['lbl.detail.monitor.process']}"  styleClass="title-page"/>
		<h:form id="adjustForm">
			<table width="100%" border="0">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.process.data']}">
						<table width="100%" border="0">
							<tr>
								<td>
									<h:outputText value="#{msgs['corporate.id.process']}" />
								</td>
								<td>
									<p:inputText disabled="true" value="#{corporateMonitoringBean.selectedCorporativeOperation.idCorporativeOperationPk}" size="10"/>
								</td>
								<td>
									<h:outputText value="#{msgs['corporate.event.corporate']}" />
								</td>
								<td colspan="3" width="200">
									<p:inputText disabled="true" value="#{corporateMonitoringBean.selectedCorporativeOperation.corporativeEventType.description}" style="width:376px"/>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputLabel value="#{msgs['lbl.emisor']}"/>
								</td>
								<td colspan="5">
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.issuer.mnemonic}" size="5" disabled="true"/>
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.issuer.idIssuerPk}" size="5" disabled="true"/>
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.issuer.businessName}" disabled="true" size="50"/>														
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{gmsgs['security.lbl.code']}" />
								</td>
								<td colspan="5">
									
													<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.idSecurityCodePk}" size="12" disabled="true"/>
													<p:commandButton type="button" value="#{msgs['lbl.points.short']}" disabled="true"/>
													<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.description}" disabled="true" size="60"/>														
												</td>
							</tr>
							<tr>								
								<td>
									<h:outputLabel value="#{msgs['tipo.instrumento']}"/>
								</td>
								<td>
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.instrumentTypeDescription}" disabled="true" />
								</td>
								<td>
									<h:outputLabel value="#{msgs['lbl.moneda']}"/>
								</td>
								<td>
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.currencyTypeDescription}" disabled="true"/>
								</td>
								<td>
									<h:outputLabel value="#{msgs['valor.nominal']}"/>
								</td>
								<td>
									<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.securities.currentNominalValue}" disabled="true"/>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['corporate.cut.date']}" />
								</td>
								<td>
								<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.cutoffDate}"  size="10" disabled="true">
								<f:convertDateTime  pattern="#{cons['dateFormat']}"/>
								</p:inputText>
								</td>
								<td><h:outputText value="#{msgs['corporate.register.date']}" /></td>
								<td>
								<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.registryDate}"   size="10" disabled="true">								
								<f:convertDateTime  pattern="#{cons['dateFormat']}"/>
								</p:inputText>
								</td>
								<td>
									<h:outputText value="#{msgs['corporate.deliver.date']}" />
								</td>
								<td>
								<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.deliveryDate}"  size="10" disabled="true">
								<f:convertDateTime  pattern="#{cons['dateFormat']}"/>
								</p:inputText>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['corporate.deliver.factor']}" />
								</td>
								<td>
								<p:inputText value="#{corporateMonitoringBean.selectedCorporativeOperation.deliveryFactor}" disabled="true" style="text-align:right">
								<f:convertNumber pattern="#{gconst['conv.number.pattern.price']}" locale="#{cons['conv.number.locale']}"/>
								</p:inputText>
								</td>
								<td>
									<h:outputText value="#{msgs['lbl.estado']}" />
								</td>
								<td colspan="3">
									<p:inputText  value="#{corporateMonitoringBean.selectedCorporativeOperation.stateDescription}" disabled="true"/>
								</td>								
							</tr>							
							<tr>
								<td>
									<h:outputText value="#{msgs['corporate.round.indicator']}" />
								</td>
								<td>
									<p:selectBooleanCheckbox value="#{corporateMonitoringBean.selectedCorporativeOperation.indRoundValue}" disabled="true"/>
								</td>
								<td>
									<h:outputText value="#{msgs['importance.event.lbl.remanent']}" />
								</td>
								<td colspan="3">
									<p:selectBooleanCheckbox value="#{corporateMonitoringBean.selectedCorporativeOperation.indRemanentValue}" disabled="true"/>
								</td>								
							</tr>
							<tr>
							<td>
								<h:outputText value="#{msgs['importance.event.targetSecurity']}" style="width:20px" rendered="#{corporateMonitoringBean.excision}"	/>
							</td>						
							<td colspan="5">
								<p:selectOneMenu value="#{corporateMonitoringBean.destinySecurity}" rendered="#{corporateMonitoringBean.excision}">
									<f:selectItems value="#{corporateMonitoringBean.destinySecurities}"  var="destiny" itemLabel="#{destiny.description}" itemValue="#{destiny.parameterTableCd}" />
									<p:ajax listener="#{corporateMonitoringBean.getExcisionSecurityDetails(false)}"
												 		 process="@this" 
												 		 event="change"
												 		 global="false"
												 		 update="pnlResumen,idpanelsearch "/>
								</p:selectOneMenu>
							</td>
							</tr>
						</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
					<p:outputPanel id="pnlResumen">
						<p:fieldset legend="#{msgs['lbl.holiday.app']}">
							<table width="100%">
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.saldo.cont.origin']}" rendered="#{corporateMonitoringBean.specialProcess}"/>
										<h:outputText value="#{msgs['lbl.saldo.cont']}" rendered="#{corporateMonitoringBean.cashBenefit or corporateMonitoringBean.shareBenefit}"/>
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.stockTotalBalance}" disabled="true" rendered="#{corporateMonitoringBean.remnantBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
										<p:inputText value="#{corporateMonitoringBean.stockTotalBalance}" disabled="true" style="text-align:right"
										rendered="#{!corporateMonitoringBean.remnantBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>  
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.saldo.dis.origin']}" rendered="#{corporateMonitoringBean.specialProcess}"/>
										<h:outputText value="#{msgs['lbl.saldo.dis']}" rendered="#{corporateMonitoringBean.cashBenefit or corporateMonitoringBean.shareBenefit}"/>
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.stockAvailableBalance}" disabled="true" rendered="#{corporateMonitoringBean.remnantBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
										<p:inputText value="#{corporateMonitoringBean.stockAvailableBalance}" disabled="true" style="text-align:right"
										rendered="#{!corporateMonitoringBean.remnantBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.corporate.mont.retenido']}" rendered="#{corporateMonitoringBean.cashBenefit}"/>
										<h:outputText value="#{msgs['lbl.corporate.saldo.retenido']}" rendered="#{!corporateMonitoringBean.cashBenefit}"/>
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.blockBalance}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
										<p:inputText value="#{corporateMonitoringBean.blockBalance}" disabled="true" style="text-align:right"
										rendered="#{corporateMonitoringBean.shareBenefit or corporateMonitoringBean.specialProcess}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText> 
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.saldo.cont.dest']}" rendered="#{corporateMonitoringBean.specialProcess}"/>
										<h:outputText value="#{msgs['lbl.monto.brut']}" rendered="#{corporateMonitoringBean.cashBenefit}"/>
										<h:outputText value="#{msgs['lbl.benefit.cont']}" rendered="#{corporateMonitoringBean.shareBenefit}"/>
									</td>
									<td> 
										<p:inputText value="#{corporateMonitoringBean.cashTotalBalance}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
										<p:inputText value="#{corporateMonitoringBean.cashTotalBalance}" disabled="true" style="text-align:right"
										rendered="#{corporateMonitoringBean.shareBenefit or corporateMonitoringBean.specialProcess}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td> 
										<h:outputText value="#{msgs['lbl.saldo.dis.dest']}" rendered="#{corporateMonitoringBean.specialProcess}"/>
										<h:outputText value="#{msgs['lbl.monto.entrega']}" rendered="#{corporateMonitoringBean.cashBenefit}"/>
										<h:outputText value="#{msgs['lbl.benefit.dis']}" rendered="#{corporateMonitoringBean.shareBenefit}"/>
									</td>
									<td>
										 <p:inputText value="#{corporateMonitoringBean.cashAvailableBalance}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
										<p:inputText value="#{corporateMonitoringBean.cashAvailableBalance}" disabled="true" style="text-align:right"
										rendered="#{corporateMonitoringBean.shareBenefit or corporateMonitoringBean.specialProcess}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td> <h:outputText value="#{msgs['dt.lbl.comission.amount']}" /> </td>
									<td>
									<p:inputText style="text-align:right"  disabled="true" value="#{corporateMonitoringBean.selectedCorporativeOperation.commissionAmount}">
									<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									
									</p:inputText>
									</td>
								</tr>
								<tr>
									<td>										
										<h:outputText value="#{msgs['lbl.total.impues']}" style="color:red" rendered="#{corporateMonitoringBean.cashBenefit}"/>
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.taxAmount}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText> 
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.monto.serv']}" style="color:red" rendered="#{corporateMonitoringBean.cashBenefit}"/> 										
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.custodyAmount}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText> 
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.tot.neto']}" rendered="#{corporateMonitoringBean.cashBenefit}"/>
									</td>
									<td>
										<p:inputText value="#{corporateMonitoringBean.totalBalance}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>  
									</td>
								</tr>
								<tr>									
									<td>
										<h:outputText value="#{msgs['lbl.monto.disp']}" rendered="#{corporateMonitoringBean.cashBenefit}"/>
									</td>
									<td colspan="5">
										<p:inputText value="#{corporateMonitoringBean.availableBalance}" disabled="true" rendered="#{corporateMonitoringBean.cashBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>  
									</td>
								</tr>								
								
							</table>
						</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
					<p:outputPanel id ="idpanelsearch" >
					<p:fieldset legend="#{msgs['lbl.search.result']}">
					<table width="100%" border="0">
						<tr>
							<td>							
							<p:dataTable id="ajustes"
						paginator="true" rows="10"  rendered="#{corporateMonitoringBean.detailSearchDataModel.rowCount >= 1}"
						currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
						paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
						style="padding-right:0px !important;"
						rowsPerPageTemplate="5,10,15" paginatorPosition="top"
						 var="detail" value="#{corporateMonitoringBean.detailSearchDataModel}" >
								<p:column headerText="#{msgs['dt.corporate.participant']}" style="text-align:center" sortBy="#{detail.participant}"> 
								<h:outputText value="#{detail.participant}"/>							
								</p:column>
								<p:column headerText="#{msgs['dt.corporate.rnt']}" style="text-align:center" sortBy="#{detail.rnt}">
									<h:outputText value="#{detail.rnt}" escape="false" style="white-space: nowrap"/>
								</p:column>
								<p:column headerText="#{msgs['dt.corporate.account']}" style="text-align:center" sortBy="#{detail.account}">
									<h:outputText value="#{detail.account}"/>
								</p:column>
								<p:column headerText="#{msgs['dt.corporate.name']}" style="text-align:left" sortBy="#{detail.name}">
									<h:outputText value="#{detail.name}" escape="false" style="white-space: nowrap"/>
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.saldo.cont.origin']}" rendered="#{corporateMonitoringBean.specialProcess}" 
								style="text-align:right;" sortBy="#{detail.sourceTotalBalance}">
									<h:outputText value="#{detail.sourceTotalBalance}" style="text-align:right"
											rendered="#{corporateMonitoringBean.specialProcess}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.saldo.cont']}" rendered="#{corporateMonitoringBean.cashBenefit or corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.sourceTotalBalance}">
									<h:outputText value="#{detail.sourceTotalBalance}" rendered="#{corporateMonitoringBean.remnantBenefit}" style="align:right;text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
									<h:outputText value="#{detail.sourceTotalBalance}" style="align:right;text-align:right"
										rendered="#{!corporateMonitoringBean.remnantBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.saldo.dis.origin']}" rendered="#{corporateMonitoringBean.specialProcess}" 
								style="align:center;text-align:right" sortBy="#{detail.sourceAvailableBalance}">
									<h:outputText value="#{detail.sourceAvailableBalance}" style="text-align:right"
											rendered="#{corporateMonitoringBean.specialProcess}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.saldo.dis']}" rendered="#{corporateMonitoringBean.cashBenefit or corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.sourceAvailableBalance}">
									<h:outputText value="#{detail.sourceAvailableBalance}" rendered="#{corporateMonitoringBean.remnantBenefit}" style="text-align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
									<h:outputText value="#{detail.sourceAvailableBalance}" style="text-align:right"
										rendered="#{!corporateMonitoringBean.remnantBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.saldo.cont.dest']}" rendered="#{corporateMonitoringBean.specialProcess}" 
								style="text-align:right;" sortBy="#{detail.destinyTotalBalance}">
									<h:outputText value="#{detail.destinyTotalBalance}" style="align:right"
											rendered="#{corporateMonitoringBean.specialProcess}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['lbl.moneda']}" rendered="#{corporateMonitoringBean.cashBenefit and corporateMonitoringBean.exchangeCashBenefit}" 
								style="text-align:center;" sortBy="#{detail.currencyDescription}">
									<h:outputText value="#{detail.currencyDescription}" rendered="#{corporateMonitoringBean.cashBenefit and corporateMonitoringBean.exchangeCashBenefit}" style="text-align:center"/>														
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.monto.brut']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.destinyTotalBalance}">
									<h:outputText value="#{detail.destinyTotalBalance}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.benefit.cont']}" rendered="#{corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.destinyTotalBalance}">
									<h:outputText value="#{detail.destinyTotalBalance}" style="align:right"
										rendered="#{corporateMonitoringBean.shareBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.saldo.dis.dest']}" rendered="#{corporateMonitoringBean.specialProcess}" 
								style="text-align:right;" sortBy="#{detail.destinyAvailableBalance}">
									<h:outputText value="#{detail.destinyAvailableBalance}" style="align:right"
											rendered="#{corporateMonitoringBean.specialProcess}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.monto.entrega']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.destinyAvailableBalance}">
									<h:outputText value="#{detail.destinyAvailableBalance}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.benefit.dis']}" rendered="#{corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.destinyAvailableBalance}">
									<h:outputText value="#{detail.destinyAvailableBalance}" style="align:right"
										rendered="#{corporateMonitoringBean.shareBenefit}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.total.impues']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.taxAmount}">
									<h:outputText value="#{detail.taxAmount}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.monto.serv']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.custodyAmount}">
									<h:outputText value="#{detail.custodyAmount}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.tot.neto']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;color:blue" sortBy="#{detail.netTotalBalance}">
									<h:outputText value="#{detail.netTotalBalance}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								<ui:remove>
									<p:column headerText="#{msgs['dt.lbl.monto.disp']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.netAvailableBalance}">
									<h:outputText value="#{detail.netAvailableBalance}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>							
								</p:column>
								</ui:remove>								
								
								<p:column headerText="#{msgs['dt.lbl.corporate.saldo.retenido']}" 
								rendered="#{corporateMonitoringBean.specialProcess or corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.totalBlockedBalance}">
									<h:outputText value="#{detail.totalBlockedBalance}" style="align:right" >
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>
								
								<p:column headerText="#{msgs['dt.lbl.corporate.adjust.amount']}" rendered="#{corporateMonitoringBean.cashBenefit}" 
								style="text-align:right;" sortBy="#{detail.adjustedBalance}">
									<h:outputText value="#{detail.adjustedBalance}" rendered="#{corporateMonitoringBean.cashBenefit}" style="align:right">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['dt.lbl.corporate.adjust.balance']}" rendered="#{corporateMonitoringBean.specialProcess or corporateMonitoringBean.shareBenefit}" 
								style="text-align:right;" sortBy="#{detail.adjustedBalance}">
									<h:outputText value="#{detail.adjustedBalance}" style="align:right" >
											<f:convertNumber pattern="#{cons['conv.number.pattern.share.quantity']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>								
								</p:column>								
								
									<f:facet name="footer">
									<div style="text-align:left">
										<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" >
											<f:param
												value="#{corporateMonitoringBean.detailSearchDataModel.rowCount}" />
										</h:outputFormat>
										</div>
									</f:facet>
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(corporateMonitoringBean.detailSearchDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>						
							
							</td>
						</tr>
					</table>
					</p:fieldset>
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"  action="#{corporateMonitoringBean.backMonitorPage}" /> 
					</td>
				</tr>				
			</table>
		</h:form>
		</ui:define>
	</ui:composition>
</html>