<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">      
<body>
<cc:interface name="blockEntityHelper" displayName="Block Entity Helper">
	<cc:attribute name="blockEntity" required="true" type="com.pradera.model.custody.blockentity.BlockEntity"/>
	<cc:attribute name="required" default="false" type="java.lang.Boolean"/>
	<cc:attribute name="label" default=""/>
	<cc:attribute name="validatorName" default="com.pradera.commons.view.validators.InputTextValidator" type="java.lang.String"/>
 	<cc:attribute name="remoteListener" default=""/>
 	<cc:attribute name="disabled" type="java.lang.Boolean"/> 	
 	<cc:attribute name="id" default="blockEntityHelper"/> 	
</cc:interface>

<cc:implementation>
<p:outputPanel id="outpnlBlockEntity">
<h:panelGrid id="componentBlockEntityHelper" columns="4" cellspacing="0" cellpadding="0">
	<p:inputText id="#{cc.attrs.id}" size="12" maxlength="10" value="#{cc.attrs.blockEntity.idBlockEntityPk}"
		label="#{cc.attrs.label}" styleClass="content-right"
		disabled="#{not empty cc.attrs.disabled?cc.attrs.disabled:false}">
		<f:validator disabled="#{!cc.attrs.required}" validatorId="#{cc.attrs.validatorName}"/>
		<p:ajax event="blur" listener="#{blockEntityHelperBean.findBlockEntity}"
			process="@this" update="outpnlBlockEntity :opnlGenericDialogs"
			oncomplete="#{not empty cc.attrs.remoteListener?cc.attrs.remoteListener:''}"/>
		<p:keyFilter mask="pint"/>
	</p:inputText>
	<p:commandButton value="#{gmsgs['lbl.button.helper']}" actionListener="#{blockEntityHelperBean.loadHelp}" process="@this" 
		disabled="#{not empty cc.attrs.disabled?cc.attrs.disabled:false}" update="dlgBlockEntityWindow"/>
	<h:outputText value="#{cc.attrs.blockEntity.descriptionPerson}"/>
</h:panelGrid>
</p:outputPanel>	 
 			
<!-- SEARCH WINDOW -->
<p:dialog id="dlgBlockEntityWindow"  position="top" header="#{gmsgs['blockentity.helper.title']}" width="65%"
	widgetVar="dlgBlockEntity" modal="true" closable="false" resizable="false">
	<p:fieldset id="fsBlockEntityFilters" legend="#{gmsgs['lbl.criteria.search']}">
	<table width="100%">
	<tr>			
		<td width="5%">
			<p:selectOneRadio id="customRadio" value="#{blockEntityHelperBean.blockEntitySearchTO.searchType}" layout="custom">  
				<f:selectItem itemValue="0"/>
				<f:selectItem itemValue="1"/> 
				<p:ajax update="cboPersonType txtHolder txtName txtFirstLastName txtSecondLastName txtFullName" 
					listener="#{blockEntityHelperBean.searchType()}" process="@this person holder"/>
			</p:selectOneRadio> 
			<p:radioButton itemIndex="0" for="customRadio" id="person"/>
		</td>	
		<td width="15%">
			<h:outputText value="#{gmsgs['blockentity.helper.persontype']}"/>
		</td>
		<td width="30%">
			<p:selectOneMenu  id="cboPersonType" value="#{blockEntityHelperBean.blockEntitySearchTO.personType}" 
				disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blByTypePerson}">  
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>  
				<f:selectItems var="personType" value="#{blockEntityHelperBean.blockEntitySearchTO.lstPersonType}" 
					itemLabel="#{personType.parameterName}" itemValue="#{personType.parameterTablePk}" />
					<p:ajax event="change" update="@this txtName txtFirstLastName txtSecondLastName txtFullName"  
						process="@this" listener="#{blockEntityHelperBean.changePersonType()}"/>
			</p:selectOneMenu> 												
		</td>
		<td width="5%">
			<p:radioButton itemIndex="1" for="customRadio" id="holder"/>
		</td>	
		<td width="15%">
			<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
		</td>
		<td width="30%">
			<p:inputText value="#{blockEntityHelperBean.blockEntitySearchTO.idHolderPk}" id="txtHolder" maxlength="12" 
				styleClass="content-right" disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blByRNT}">
				<p:keyFilter mask="pint"/>
			</p:inputText>
		</td>
	</tr>
	<tr>
		<td colspan="2">			  
			<h:outputText value="#{gmsgs['blockentity.helper.name']}"/>
		</td>
		<td colspan="4">
			<p:inputText size="65" id="txtName" 
				value="#{blockEntityHelperBean.blockEntitySearchTO.name}"
				disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blNatural or blockEntityHelperBean.blockEntitySearchTO.blByRNT}" maxlength="50"/>
	 	</td>	   												
	</tr>
	<tr>
		<td colspan="2">
			<h:outputText value="#{gmsgs['blockentity.helper.firstlastname']}"/>
		</td>
		<td colspan="4">
			<p:inputText id="txtFirstLastName" size="65" 
				value="#{blockEntityHelperBean.blockEntitySearchTO.firstLastName}" 
				disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blNatural or blockEntityHelperBean.blockEntitySearchTO.blByRNT}" maxlength="50"/>
		</td>
	</tr>					
	<tr>
		<td colspan="2">
			<h:outputText value="#{gmsgs['blockentity.helper.secondlastname']}"/>
		</td>
		<td colspan="4">
			<p:inputText size="65" id="txtSecondLastName" 
				disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blNatural or blockEntityHelperBean.blockEntitySearchTO.blByRNT}" 
				value="#{blockEntityHelperBean.blockEntitySearchTO.secondLastName}" maxlength="50"/>
		</td>
	</tr>
	<tr>					
		<td colspan="2">
			<h:outputText value="#{gmsgs['blockentity.helper.fullname']}"/>
		</td>
		<td colspan="4">
			<p:inputText size="65" id="txtFullName"
				disabled="#{!blockEntityHelperBean.blockEntitySearchTO.blJuridic or blockEntityHelperBean.blockEntitySearchTO.blByRNT}" 
				value="#{blockEntityHelperBean.blockEntitySearchTO.fullName}" maxlength="50"/>
		</td>
	</tr>
	<tr>
		<td colspan="6" align="center">
			<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" update="pnlResults :opnlGenericDialogs"
				actionListener="#{blockEntityHelperBean.findBlockEntities()}" process="fsBlockEntityFilters"/>
			<p:commandButton icon="fa fa-trash" value="#{gmsgs['btn.clean']}" update="fsBlockEntityFilters pnlResults :opnlGenericDialogs"  
				actionListener="#{blockEntityHelperBean.cleanSearch}" process="@this"/>
			<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}" 
				process="@this" oncomplete="PF('dlgBlockEntity').hide()"/>
		</td>
	</tr>
	</table>
	</p:fieldset>
	<p:outputPanel id='pnlResults'>
		<p:fieldset id="fsListado" rendered="#{not empty blockEntityHelperBean.blockEntitySearchTO.lstBlockEntity}">
			<p:dataTable id="dtbResult" var="blockEntity" paginator="true" value="#{blockEntityHelperBean.blockEntitySearchTO.lstBlockEntity}" 
				style="text-align:center;font-size:90% !important;" rows="5" paginatorPosition="top"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5"
				currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}">							
				<p:column sortBy="#{blockEntity.idBlockEntityPk}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.code']}"/>
					</f:facet>
					<p:commandLink style="color:blue" oncomplete="PF('dlgBlockEntity').hide();#{not empty cc.attrs.remoteListener?cc.attrs.remoteListener:''}" 
						process="@this" actionListener="#{blockEntityHelperBean.getBlockEntity(blockEntity)}" 
						update=":#{cc.clientId}:outpnlBlockEntity">	
						<h:outputText value="#{blockEntity.idBlockEntityPk}"/>
					</p:commandLink>
				</p:column>
				<p:column sortBy="#{blockEntity.descriptionPerson}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.description']}"/>
					</f:facet>
					<h:outputText value="#{blockEntity.descriptionPerson}"/>
				</p:column>
				<p:column sortBy="#{blockEntity.descriptionTypeDocument}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.documenttype']}"/>
					</f:facet>
					<h:outputText value="#{blockEntity.descriptionTypeDocument}"/>
				</p:column>								
				<p:column sortBy="#{blockEntity.documentNumber}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.documentnumber']}"/>
					</f:facet>
					<h:outputText value="#{blockEntity.documentNumber}"/>
				</p:column>									
				<p:column sortBy="#{blockEntity.holder.idHolderPk}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.holder']}"/>
					</f:facet>
					<h:outputText value="#{blockEntity.holder.idHolderPk}"/>
				</p:column>								
				<p:column sortBy="#{blockEntity.stateDescription}">
					<f:facet name="header">
						<h:outputText value="#{gmsgs['blockentity.helper.detail.state']}"/>
					</f:facet>
					<h:outputText value="#{blockEntity.stateDescription}"/>
				</p:column>	
				<f:facet name="footer">	
					<div style="width:100%; text-align:left">
					<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
		            	<f:param value="#{blockEntityHelperBean.blockEntitySearchTO.lstBlockEntity.rowCount}"/>
		            </h:outputFormat>									
					</div>
				</f:facet>					
			</p:dataTable>
		</p:fieldset>
		<p:panel rendered="#{blockEntityHelperBean.blockEntitySearchTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>							
	</p:outputPanel>
</p:dialog>	
</cc:implementation> 
 </body>
 </html>