
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:arkCorp="http://java.sun.com/jsf/composite/importanceEventComponent"
	  xmlns:ark="http://java.sun.com/jsf/composite/helpers">
 <body>
 	 	
 	<composite:interface name="security" displayName="Security description Helper">
 		<composite:attribute name="name" default="securityHelp" />
 		<composite:attribute name="securityCode" required="true"/>
 		<composite:attribute name="icon" default="true"/>
 		<composite:attribute name="securityObject" required="false" type="com.pradera.model.issuancesecuritie.Security"/>
 	</composite:interface>
 	
 	<composite:implementation>
 		<p:outputPanel id="componentsSecuritiesHelper#{cc.attrs.name}" border="0" style="display:inline-block; border:none !important;background:none !important;border-style: hidden !important;" >
 			<p:commandLink actionListener="#{securityHelpBean.searchSecurityHandler}" process="@this" update="securityDetail#{cc.attrs.name}" 
 						   id="commandLink#{cc.attrs.name}"  > 
 				
 				<p:outputLabel value="#{cc.attrs.securityCode}" rendered="#{cc.attrs.link}" style="cursor:pointer;text-decoration:underline;color:blue;" />
 				<p:graphicImage style="cursor:pointer;" library="img" name="icons/loupe.png" rendered="#{(not empty cc.attrs.securityCode) and !(cc.attrs.securityCode eq '') and (cc.attrs.icon)}" 
 							    title="#{cc.resourceBundleMap.see}" id="icon#{cc.attrs.name}" />
 				
 			</p:commandLink>
 		</p:outputPanel>
 	
 		<p:dialog id="securityDetail#{cc.attrs.name}" widgetVar="securitywDetail#{cc.attrs.name}" closable="false" width="900" 
 				  modal="true" resizable="false" showHeader="false" position="top" showEffect="true" maximizable="false">
 			<p:outputPanel id="pnlSecurityFinancialDetail">
			<table border="0" class="securities-help" width="100%"> 
				<tr>
					<td colspan="4" align="center">
						<h:outputLabel value="#{cc.resourceBundleMap.subtitle} #{securityHelpBean.security.idSecurityCodePk}" styleClass="title-page"/>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p:separator></p:separator>
					</td>
				</tr>
				<tr>
				<td colspan="4">
				<p:tabView id="tviewGeneral" widgetVar="wvTabView"> 
					<p:tab id="tabGeneralData" title="#{cc.resourceBundleMap['lbl.title.principal.data']}" >
					<table width="100%">
						<tr>
							<td align="left">
								<h:outputText value="#{cc.resourceBundleMap['issuance.date']}" styleClass="campo-requerido"
									style="text-align: left !important;"/>						
							</td>
							<td align="left">
								<p:calendar disabled="true" value="#{securityHelpBean.security.issuanceDate}" readonly="true" pattern="dd/MM/yyyy" 
									style="text-align: left !important;" size="25"/>
							</td>
							<td align="left">
								<h:outputText value="#{cc.resourceBundleMap['vencem.date']}" styleClass="campo-requerido"
									style="text-align: left !important;"/>						
							</td>
							<td align="left">
								<p:calendar disabled="true" value="#{securityHelpBean.security.expirationDate}" readonly="true" pattern="dd/MM/yyyy"
									style="text-align: left !important;" size="25"/> 
							</td>
						</tr>
						<tr align="left">
							<td width="15%">
								<h:outputText value="#{cc.resourceBundleMap['security.code']}" styleClass="campo-requerido" /> 						
							</td>
							<td width="25%">
								<p:inputText disabled="true" value="#{securityHelpBean.security.idSecurityCodePk}" readonly="true" size="25"/>
							</td>
							<td width="15%">
								<h:outputText value="#{cc.resourceBundleMap['isin.code']}" styleClass="campo-requerido"/>						
							</td>
							<td width="25%">
								<p:inputText disabled="true" value="#{securityHelpBean.security.idIsinCode}" readonly="true" size="12"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['security.mnemonic']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.mnemonic}" readonly="true" size="25"/>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap['cfi.code']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.cfiCode}" readonly="true" size="25"/>
							</td>
						</tr>
						<!--SHORT CFI CODE-->
						<tr align="left">
							<td>
							</td>
							<td>
							</td>
							<td>
								<h:outputText value="FISN" styleClass="campo-requerido"/>
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.fsinCode}" readonly="true" size="25"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['alternate.code']}" styleClass="campo-requerido" />						
							</td>
							<td colspan="3">
								<p:inputText disabled="true" value="#{securityHelpBean.security.alternativeCode}" readonly="true" size="80"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap.description}" styleClass="campo-requerido" />						
							</td>
							<td  colspan="3">
								<p:inputText disabled="true" value="#{securityHelpBean.security.description}" readonly="true" size="80"/>
							</td>
						</tr>
						
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['class']}" styleClass="campo-requerido" />						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.classTypeDescription}" readonly="true" size="35"/>
							</td>
			
							<td>
								<h:outputText value="#{cc.resourceBundleMap['periodicity']}" styleClass="campo-requerido" />				
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.securityDaysTerm}" readonly="true" size="25"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['type']}" styleClass="campo-requerido" />						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.securityTypeDescription}" readonly="true" size="35"/>
							</td>
							
							<td>
								<h:outputText value="#{cc.resourceBundleMap['hasCoupon']}" styleClass="campo-requerido" />				
							</td>	
							<td>
								<table>
									<tr>
										<td>
											<p:inputText disabled="true" value="#{securityHelpBean.security.hasChronogram}" readonly="true" size="12"
											 rendered="#{securityHelpBean.security.interestPaymentSchedule == null}"/>
								
											<p:commandLink value="#{cc.resourceBundleMap['goTo.interes']}" style="color:blue" update="tviewGeneral:opInterestChronogram"
														   actionListener="#{securityHelpBean.initChronogram()}" 
														   rendered="#{not empty securityHelpBean.security.interestPaymentSchedule}" process="@this"/>
										</td>
									</tr>
									<tr>
										<td>
											<p:commandLink value="#{cc.resourceBundleMap['goTo.amortization.chronogram']}" style="color:blue;align:right" process="@this"
											   action="#{securityHelpBean.goToInterestOrAmortizationChro(true)}"  update="tviewGeneral:opAmortizationChronogram"/>										
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['instrument']}" styleClass="campo-requerido" />						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.instrumentTypeDescription}" readonly="true" size="25"/>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap['serial']}" styleClass="campo-requerido" />						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.securitySerial}" readonly="true" size="25"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['money']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.currencyTypeDescription}" readonly="true" size="25"/>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap['nominal.value']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputNumber disabled="true" value="#{securityHelpBean.security.currentNominalValue}" size="25" maxValue="999999999999999" 
												thousandSeparator="," decimalSeparator="." style="text-align:right"/>
							</td>
						</tr>
						<tr align="left">
							<td>
								<h:outputText value="#{cc.resourceBundleMap['taseintern.type']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.interestTypeDescription}" readonly="true" size="25"/>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap['tase.value']}" styleClass="campo-requerido"/>						
							</td>
							<td>
								<p:inputText disabled="true" value="#{securityHelpBean.security.interestRate}%" readonly="true" size="25" style="text-align:right"/>
							</td>
						</tr>
					</table>
					</p:tab>
					
					<p:tab id="tabInterestChronogram" title="#{cc.resourceBundleMap['lbl.title.interest.schedule']}" disabled="true">
					<table width="100%">
						<tr>
							<td>
								<p:outputPanel id="opInterestChronogram">
								<p:fieldset id="fsInterestChronogram" legend="#{cc.resourceBundleMap['fs.interest.chronogram']}" rendered="#{securityHelpBean.chronogram}">
									<table width="100%" border="0"> 
										<tr> 
											<td width="140px"> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.type']}" styleClass="required-field"/>
											</td>
											<td width="280px">
												<p:inputText id="itCronInterestType" disabled="true"
															 value="#{securityHelpBean.security.interestTypeDescription}">
												</p:inputText>
											</td>
											
											<td width="160px"> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.effective.nominal']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronEffectiveNominal" disabled="true"
															 value="#{securityHelpBean.security.interestPaymentSchedule.cashNominalDesc}">
												</p:inputText>
											</td>
										</tr>	
			
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.payment.periodicity']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronInterestPayPeriodicity" disabled="true"
															 value="#{securityHelpBean.security.interestPaymentSchedule.periodicityDesc}">
												</p:inputText>	
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.periodicity.days']}" styleClass="required-field"/>
											</td>
											<td> 							
												<p:inputText id="txtCronPeriodicityDays"
															 value="#{securityHelpBean.security.interestPaymentSchedule.periodicityDays}"
															 disabled="true" label="#{security.lbl.periodicity.days}" styleClass="content-right">
												</p:inputText>	
											</td>
										</tr>	
		
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.calendar.type']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronCalendarType" disabled="true"
															 value="#{securityHelpBean.security.interestPaymentSchedule.calendarTypeDesc}">
												</p:inputText>
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.calendar.days']}" styleClass="required-field"/>
											</td>
											<td> 
												<p:inputText id="txtCalendarDays" disabled="true" styleClass="content-right"
															 value="#{securityHelpBean.security.interestPaymentSchedule.calendarDaysDescription}"/>
											</td>
										</tr>
										
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.payment.mode']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronIntPaymentMode" disabled="true"
															 value="#{securityHelpBean.security.interestPaymentModalityDesc}">
												</p:inputText>
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.performance']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronPerformance" disabled="true"
															 value="#{securityHelpBean.security.interestPaymentSchedule.yield}">
												</p:inputText> 
											</td>
										</tr>
										
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.rate']}" styleClass="required-field"/>
											</td>
											<td>
											 	<p:inputText id="txtCronInterestRate" styleClass="content-right"
											 				 value="#{securityHelpBean.security.interestPaymentSchedule.interestFactor}"
											 				 label="#{msgs['security.lbl.interest.rate']}"
											 				 maxlength="#{cc.resourceBundleMap['interest.rate.length']}"
											 				 required="true" disabled="true">
											 		<p:keyFilter mask="pnum"/>	
													<f:convertNumber locale="#{cc.resourceBundleMap['conv.number.locale']}" 
																	 pattern="#{cc.resourceBundleMap['conv.number.pattern.rate.factor']}"/>		 
											 	</p:inputText>
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.revised.periodicity.interest.rate']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itCronRevPerIntRate" disabled="true" styleClass="content-right"
															 value="#{securityHelpBean.security.interestPaymentSchedule.interestPeriodicity}">
												</p:inputText> 
											</td>
										</tr>
						
									</table>
									<table width="100%">
										<tr> 
											<td> 
												<p:dataTable id="dtbInterestPaymentCron"  var="payCron" paginator="true" rows="5" paginatorPosition="top" 
															 rowsPerPageTemplate="5,10,15" 
															 value="#{securityHelpBean.lstProgramInterestCoupon}"> 
													<f:facet name="header">
														<h:outputText value="#{cc.resourceBundleMap['lbl.payment.cronogram']}" />
													</f:facet>		 
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.nro.coupon']}" width="40">
														<h:outputText value="#{payCron.couponNumber}"/>	 
														<h:inputHidden id="hdnDataRowIntPaymentSchedule" 
																	   value="#{payCron.dataRowDtbInterestPaymentSchedule}" />  	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.initial.coupon.date']}">
														<h:outputText value="#{payCron.beginingDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>	   	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.expired.coupon.date']}">
														<h:outputText value="#{payCron.experitationDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>	   	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.payment.date']}">
														<h:outputText value="#{payCron.paymentDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>		   	
													</p:column>	
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.register.date']}">
														<h:outputText value="#{payCron.registryDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>		   	
													</p:column>
													
													<p:column styleClass="content-right" headerText="#{cc.resourceBundleMap['col.rate']}">
														<h:outputText value="#{payCron.interestRate}">
															<f:convertNumber locale="#{cc.resourceBundleMap['conv.number.locale']}" 
																			 pattern="#{cc.resourceBundleMap['conv.number.pattern.rate.factor']}"/>
													    </h:outputText>
													    <h:outputText value="%" />	   	
													</p:column>
													
													<p:column styleClass="content-right" headerText="#{cc.resourceBundleMap['col.coupon.amount']}"> 
														<h:outputText value="#{securityHelpBean.commonsUtilities.roundAmount(payCron.couponAmount)}">
															<f:convertNumber locale="#{cc.resourceBundleMap['conv.number.locale']}" 
																			 pattern="#{cc.resourceBundleMap['conv.number.pattern.cash.amount']}"/>
													    </h:outputText>
													</p:column>
					
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.corporative.id']}"> 
														<p:outputPanel rendered="#{not empty payCron.corporativeOperation.idCorporativeOperationPk}">
															<h:outputText value="#{payCron.corporativeOperation.idCorporativeOperationPk}" />
														</p:outputPanel>
														<h:outputText rendered="#{empty payCron.corporativeOperation.idCorporativeOperationPk}" 
																	  value="---" />						 
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.state']}"> 
														<h:outputText value="#{payCron.stateDescription}"/>
													</p:column>
													
													<ui:remove>
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.file']}" width="40">
														<p:commandLink ajax="false" target="_blank" rendered="#{securityHelpBean.hasFile(securityHelpBean.security.idSecurityCodePk, payCron.couponNumber, 1)}">
															<p:graphicImage library="img" name="icons/loupe.png" styleClass="icon"/>
															<p:fileDownload contentDisposition="inline" 
															value="#{securityHelpBean.getStreamedContentFileWithType(securityHelpBean.security.idSecurityCodePk, payCron.couponNumber, 1)}"/>
														</p:commandLink>
													</p:column>
													</ui:remove>
												</p:dataTable>
											</td>
										</tr>
									</table>
								</p:fieldset>
							</p:outputPanel>
							</td>
						</tr>
					</table>
					</p:tab>
					
					<p:tab id="tabAmortizationChronogram" title="#{cc.resourceBundleMap['lbl.title.amortization.schedule']}" disabled="true">
					<table width="100%">
						<tr>
							<td>
								<p:outputPanel id="opAmortizationChronogram">
								<p:outputPanel id="opViewInterest">
									<p:commandLink value="#{cc.resourceBundleMap['goTo.interest.chronogram']}" style="color:blue;align:left" process="@this"
											   	   action="#{securityHelpBean.goToInterestOrAmortizationChro(false)}" update="tviewGeneral:opInterestChronogram"/>
								</p:outputPanel>
								<p:fieldset id="fsAmortizationChronogram" legend="#{cc.resourceBundleMap['fs.amortization.chronogram']}" rendered="#{securityHelpBean.chronogram}">
									<table width="100%" border="0"> 
										<tr>
											<td width="140px"> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.payment.mode']}" styleClass="required-field"/>
											</td>
											<td width="280px">
												<p:inputText id="itPaymentWay" disabled="true"
												 			 value="#{securityHelpBean.paymentWayDesc}">
												</p:inputText>
											</td>
											
											<td width="160px"> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.amortization.type']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itAmortizationType" disabled="true"
											 				 value="#{securityHelpBean.amortizationTypeDesc}">
												</p:inputText>
											</td>
										</tr>	
			
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.amortization.factor']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itAmortizationFactor" disabled="true" styleClass="content-right"
															 value="#{securityHelpBean.security.amortizationPaymentSchedule.amortizationFactor}">
												</p:inputText>	
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.interest.payment.periodicity']}" styleClass="required-field"/>
											</td>
											<td> 							
												<p:inputText id="itPaymentPeriodicity" disabled="true" 
												 			 value="#{securityHelpBean.paymentPeriodDesc}">
												</p:inputText>	
											</td>
										</tr>	
		
										<tr> 
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.periodicity.days']}" styleClass="required-field"/>
											</td>
											<td>
												<p:inputText id="itPeriodicityDays" disabled="true" styleClass="content-right"
															 value="#{securityHelpBean.security.amortizationPaymentSchedule.periodicityDays}">
												</p:inputText>
											</td>
											
											<td> 
												<h:outputText value="#{cc.resourceBundleMap['lbl.amortization.on']}" styleClass="required-field"/>
											</td>
											<td> 
												<p:inputText id="itAmortizationOn" disabled="true"
															 value="#{securityHelpBean.amortizationOnDesc}"/>
											</td>
										</tr>
									</table>
									<table width="100%">
										<tr> 
											<td> 
												<p:dataTable id="dtbAmortizationPaymentCron"  var="payCron" paginator="true" rows="5" paginatorPosition="top" 
															 rowsPerPageTemplate="5,10,15" 
															 value="#{securityHelpBean.lstProgramAmortizationCoupon}"> 
													<f:facet name="header">
														<h:outputText value="#{cc.resourceBundleMap['lbl.payment.cronogram']}" />
													</f:facet>		 
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.payment.number']}" width="40">
														<h:outputText value="#{payCron.couponNumber}"/>	 
														<h:inputHidden id="hdnDataRowAmortPaymentSchedule" 
																	   value="#{payCron.dataRowDtbAmortizationPaymentSchedule}" />  	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.initial.coupon.date']}">
														<h:outputText value="#{payCron.beginingDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>	   	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.expired.coupon.date']}">
														<h:outputText value="#{payCron.expirationDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>	   	
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.payment.date']}">
														<h:outputText value="#{payCron.paymentDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>		   	
													</p:column>	
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.register.date']}">
														<h:outputText value="#{payCron.registryDate}">
															<f:convertDateTime pattern="#{cc.resourceBundleMap['dateFormat']}"/>
														</h:outputText>		   	
													</p:column>
													
													<p:column styleClass="content-right" headerText="#{cc.resourceBundleMap['col.amortization.factor']}">
														<h:outputText value="#{payCron.amortizationFactor}">
															<f:convertNumber locale="#{cc.resourceBundleMap['conv.number.locale']}" 
																			 pattern="#{cc.resourceBundleMap['conv.number.pattern.rate.factor']}"/>
													    </h:outputText>
													    <h:outputText value="%" />	   	
													</p:column>
													
													<p:column styleClass="content-right" headerText="#{cc.resourceBundleMap['col.capital.amount']}"> 
														<h:outputText value="#{payCron.couponAmount}">
															<f:convertNumber locale="#{cc.resourceBundleMap['conv.number.locale']}" 
																			 pattern="#{cc.resourceBundleMap['conv.number.pattern.cash.amount']}"/>
													    </h:outputText>
													</p:column>
					
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.corporative.id']}"> 
														<p:outputPanel rendered="#{not empty payCron.corporativeOperation.idCorporativeOperationPk}">
															<h:outputText value="#{payCron.corporativeOperation.idCorporativeOperationPk}" />
														</p:outputPanel>
														<h:outputText rendered="#{empty payCron.corporativeOperation.idCorporativeOperationPk}" value="---" />						 
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.state']}"> 
														<h:outputText value="#{payCron.stateDescription}"/>
													</p:column>
													
													<p:column styleClass="content-center" headerText="#{cc.resourceBundleMap['col.file']}" width="40">
														<p:commandLink ajax="false" target="_blank" rendered="#{securityHelpBean.security.isPhysicalIssuanceForm()}">
															<p:graphicImage library="img" name="icons/loupe.png" styleClass="icon"/>
															<p:fileDownload contentDisposition="inline" 
																value="#{securityHelpBean.getStreamedContentFileWithType(securityHelpBean.security.idSecurityCodePk, null, 0)}"/>
														</p:commandLink>
													</p:column>			
													
												</p:dataTable>
											</td>
										</tr>
									</table>
								</p:fieldset>
							</p:outputPanel>
							</td>
						</tr>
					</table>
					</p:tab>
				</p:tabView>
				</td>
				</tr>
				<tr>
					<td colspan="4">
						<p:separator></p:separator>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton value="#{cc.resourceBundleMap.back}" immediate="true" icon="fa fa-undo" id="button#{cc.attrs.name}" 
										 onclick="securitywDetail#{cc.attrs.name}.hide();return false;"/> 
					</td>  
				</tr>
			</table>
			</p:outputPanel>	
		</p:dialog>
 	</composite:implementation>
 </body>
</html>