<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="securityPartAccount" displayName="Security Participant Account description Helper">
		<composite:attribute name="value" required="true" />
		<composite:attribute name="mnemonic" default="false" />
		<composite:attribute name="disabled" default="false" />
		<composite:attribute name="description" default="false" />
		<composite:attribute name="participant" default="false" />
		<composite:attribute name="holderAccount" required="false" type="com.pradera.model.accounts.holderaccounts.HolderAccount" default=""/>
		<composite:attribute name="required" default="false" />
		<composite:attribute name="securityClassList" type="java.util.List" required="false"/>   
		<composite:attribute name="remoteListener" default="" />
		<composite:attribute name="issuer"  required="false" default="" type="java.lang.String" />
		<composite:attribute name="issuerDisable" default="false" />
		<composite:attribute name="partCode" required="false" default="-1" type="java.lang.Long"/>
		<composite:attribute name="validatorName" default="inputRequiredValidator" type="java.lang.String"/>
	</composite:interface>
	
	<composite:implementation>
		<!-- EMBEDDED CONTROL --> 	
		<h:panelGrid id="componentSecPaHolAccHelper" border="0" columns="6">
		
			<style type="text/css">
				.ui-datatable tbody td{
					white-space: normal !important;
				}
			</style>
				
			<p:inputText id="isinPaHolCodeHelper"  value="#{cc.attrs.value}"  size="25" maxlength="23" disabled="#{cc.attrs.disabled}" onblur="findAccount#{cc.attrs.name}();">
				<p:keyFilter regEx="/^([a-z]|[A-Z]|[\u00F1\u00D1]|[0-9]|[-])*$/"/>
				<f:validator disabled="#{!cc.attrs.required}" validatorId="#{cc.attrs.validatorName}"/>	
			</p:inputText> 
			
			<p:commandButton value="..."  process=":#{cc.clientId}:componentSecPaHolAccHelper" 
							 oncomplete="PF('dlgSecurityAcc').show();"  disabled="#{cc.attrs.disabled}"
							 actionListener="#{securitiesPartHolAccount.searchAccountByNumber}" update="dlgSecurityAccWindow"/>				 
							 
			<p:remoteCommand name="findAccount#{cc.attrs.name}" actionListener="#{securitiesPartHolAccount.searchSecuritiesByIsin}" 
							 partialSubmit="true" process="componentSecPaHolAccHelper"
							 update="@parent componentSecPaHolAccHelper :opnlGenericDialogs" 
							 oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}"/>

			<p:inputText id="mnemonicHelper" disabled="true"
						 rendered="#{cc.attrs.mnemonic}" value="#{securitiesPartHolAccount.mnemonic}" size="25"/>
			
			<p:inputText id="descriptionHelper"  disabled="true"
				rendered="#{cc.attrs.description}"
				value="#{securitiesPartHolAccount.description}" size="50"/>
				
			<p:message id="msgForIsinPaHolCodeHelper" for="isinPaHolCodeHelper" display="icon"/>
		</h:panelGrid>
		<!-- DIALOG WINDOW -->
		<p:dialog id="dlgSecurityAccWindow"  
				  position="top"
				  width="950px"
				  header="#{cc.resourceBundleMap.titleGeneral}" 
				  widgetVar="dlgSecurityAcc"
				  modal="true" 
				  closable="false"
				  resizable="false">
		
		<p:outputPanel id="opFilters">
			<p:fieldset legend="#{cc.resourceBundleMap.searchSecurties}" id="fsCriteriaSearch">
					
					<table width="100%">
						<tr>
							<td>
							<p:outputPanel id="criteriaParticipantHelper" rendered="#{(cc.attrs.partCode!=null or cc.attrs.participant) and securitiesPartHolAccount.flagIssue}" >
								<h:outputText value="#{cc.resourceBundleMap.participant}" />
							</p:outputPanel>
							</td>
							<td colspan="3">
							<p:outputPanel id="criteriaParticipantCboHelper" rendered="#{(cc.attrs.partCode!=null or cc.attrs.participant) and securitiesPartHolAccount.flagIssue}">
								<p:selectOneMenu id="cboParticipant" value="#{cc.attrs.partCode}" disabled="#{!cc.attrs.participant}" style="width:350px">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}" itemValue="-1"/>	
									<f:selectItems value="#{securitiesPartHolAccount.listParticipants}"/>
								</p:selectOneMenu>
							</p:outputPanel>
							</td>
						</tr>
						<tr>
						<td><h:outputText value="#{cc.resourceBundleMap.issuer}" /></td>
						<td colspan="3">
							<p:selectOneMenu id="cboIssuers" value="#{cc.attrs.issuer}" disabled="#{cc.attrs.issuerDisable}">
								<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"  itemValue="-1"/>	
								<f:selectItems value="#{securitiesPartHolAccount.listIssuers}" 
											   var="issuer" itemLabel="#{issuer.description}"/>
							</p:selectOneMenu>
						</td>
						</tr>
						<tr>
							<td><h:outputText value="#{cc.resourceBundleMap.accountNumber}" /></td>
							<td><p:inputText id="txtAccountNumber" disabled="#{cc.attrs.holderAccount.accountNumber!=null}"  
											 value="#{cc.attrs.holderAccount.accountNumber}" 
											 size="20" /></td>
							<td><h:outputText value="#{cc.resourceBundleMap.columnAlternativeCode}" /></td>
							<td><p:inputText id="txtAlternateCode"  
											 disabled="#{cc.attrs.holderAccount.alternateCode!=null}"
											 value="#{cc.attrs.holderAccount.alternateCode}" 
											 size="20" /></td>
						</tr>
						<tr>
							<td><h:outputText value="#{cc.resourceBundleMap.securityClassCode}" /></td>
							<td><p:inputText  value="#{securitiesPartHolAccount.securitiesSearcher.isinCode}" 
											  size="20"
											  disabled="#{securitiesPartHolAccount.securitiesSearcher.isinCode!=null}"/></td>
							<td><h:outputText value="#{cc.resourceBundleMap.securityDesc}" /></td>
							<td><p:inputText  value="#{securitiesPartHolAccount.securitiesSearcher.description}" 
											  size="20"
											  disabled="#{securitiesPartHolAccount.securitiesSearcher.description!=null}"/></td>
							<td><h:outputText value="#{cc.resourceBundleMap.instrumentType}" /></td>
							<td> 
								<p:selectOneMenu id="cboInstrumentType#{cc.attrs.name}"
												 value="#{securitiesPartHolAccount.securitiesSearcher.instrumentType}">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}" />
									<f:selectItems value="#{securitiesPartHolAccount.listInstrumentType}"
												   var="instrument"
												   itemValue="#{instrument.parameterTablePk}" 
												   itemLabel="#{instrument.parameterName}"/>			   
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<span  class="redText-bold">
							   <i>
							    (*)
								<h:outputFormat value="#{gmsgs['lbl.helper.maxResults.found']}">
									<f:param value="#{securitiesPartHolAccount.maxResultsQueryHelper}"/>
								</h:outputFormat>
								</i>
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="6" align="center">
								<p:commandButton value="#{cc.resourceBundleMap.search}" 
												 icon="fa fa-search" 
												 actionListener="#{securitiesPartHolAccount.searchSecuritiesByFilter}"
								 				 update="resultListHelperSecuritiesAccount" 
								 				 process="fsCriteriaSearch"
								 				 partialSubmit="true">
								
								</p:commandButton>
								<p:spacer width="5"/>
								<p:commandButton value="#{cc.resourceBundleMap.clear}"
												 icon="fa fa-trash"
												 process="@this"
												 partialSubmit="true"
												 update="resultListHelperSecuritiesAccount fsCriteriaSearch"
												 actionListener="#{securitiesPartHolAccount.clean}">
									
								</p:commandButton>
								<p:spacer width="5"/>
								<p:commandButton value="#{cc.resourceBundleMap.exit}" 
												 icon="fa fa-undo"
												 process="@this"
												 partialSubmit="true"
												 actionListener="#{securitiesPartHolAccount.clean}"
												 update="resultListHelperSecuritiesAccount fsCriteriaSearch"
												 oncomplete="PF('dlgSecurityAcc').hide();">
								</p:commandButton>
								
							</td>
						</tr>
					</table>
			</p:fieldset>
			</p:outputPanel>
			<p:outputPanel id="resultListHelperSecuritiesAccount"
						   layout="block"
						   style="max-height:200px;overflow:auto;">
				<p:outputPanel rendered="#{securitiesPartHolAccount.listSecurities ne null}">
				<p:fieldset rendered="#{not empty securitiesPartHolAccount.listSecurities}">
				<p:dataTable id="tblResultHelperSecurities"
								 rows="5" emptyMessage="#{cc.resourceBundleMap.notResultFound}"
								 rowsPerPageTemplate="5,10,15"
								 var="securities"
							     value="#{securitiesPartHolAccount.listSecurities}"
							     paginator="true" 
							     paginatorPosition="top"
							     paginatorTemplate="#{cc.resourceBundleMap.dtbpaginatortemplate}"
							     currentPageReportTemplate="#{cc.resourceBundleMap.dtbTemplate}"
							     rowIndexVar="rIndx"
								 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">		
							
							<p:column headerText="#{cc.resourceBundleMap.securityClass}" sortBy="#{securities.securityClass}">
								<h:outputText value="#{securities.securityClass}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.securityCode}" style="width:110px; " sortBy="#{securities.securitiesCodeOnly} " >
								<p:commandLink value="#{securities.securitiesCodeOnly}" style="color:blue;" process="@this" partialSubmit="true"
								 action="#{securitiesPartHolAccount.selectSecuritiesFromHelper}" update=":#{cc.clientId}:componentSecPaHolAccHelper"
								 onsuccess="PF('dlgSecurityAcc').hide();"
								 oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
									<f:setPropertyActionListener target="#{securitiesPartHolAccount.selected}" 
									value="#{securities}"/>
								</p:commandLink>
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.securityDesc}" sortBy="#{securities.description}">
								<h:outputText value="#{securities.description}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.cfi}" sortBy="#{securities.codeCFI}">
								<h:outputText value="#{securities.codeCFI}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.instrumentType}" sortBy="#{securities.instrumentTypeDesc}">
								<h:outputText value="#{securities.instrumentTypeDesc}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.totalBalance}" sortBy="#{securities.totalBalance}">
								<h:outputText value="#{securities.totalBalance}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.availableBalance}" sortBy="#{securities.availableBalance}">
								<h:outputText value="#{securities.availableBalance}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.columnState}" sortBy="#{securities.stateDesc}">
								<h:outputText value="#{securities.stateDesc}" />
							</p:column>
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" rendered="#{not empty securitiesPartHolAccount.listSecurities}">
					            	<f:param value="#{securitiesPartHolAccount.listSecurities.size()}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>
					</p:dataTable>
				</p:fieldset>
				<p:fieldset rendered="#{empty securitiesPartHolAccount.listSecurities}">
						<h:outputText id="lblNoFoundResults#{cc.attrs.name}" 
										  value="#{cc.resourceBundleMap.notResultFound}" 
										  styleClass="campo-requerido"/>
				</p:fieldset>
				</p:outputPanel>
			</p:outputPanel>
		
		</p:dialog>
</composite:implementation>
</body>
</html>		