<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">                			
			
			<p:confirmDialog id="cnfFinTranLogin" message="#{bodyMessageView}" closable="false"  
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwFinTransaccionLogin">  
	        <h:form id="frmFinTranLogin"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="cmbConfirmTranOkLogin" 
		        				 	 value="#{msgs['lbl.accept']}" action="loginRule" ajax="false"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog> 	    	        	    	
			<p:confirmDialog id="cnfMsgCustomValidationSec"
						message="#{bodyMessageView}" 
						header="#{headerMessageView}" 
						severity="alert" widgetVar="cnfwMsgCustomValidationSec">  

	        <p:commandButton id="cmdAccept"
	        				 value="#{msgs['btn.accept']}" type="button"
	        				 onclick="cnfwMsgCustomValidationSec.hide();"
	                    > 
	        </p:commandButton> 
               
	    </p:confirmDialog>
		<p:outputPanel id="opnlGenericDialogs">	
		
		<p:confirmDialog widgetVar="killSession" closable="false" message="#{bodyMessageView}"  appendToBody="true" 
                     header="#{msgs['header.message.alert']}"  id="idCnfDialogKillSession" visible="true" rendered="false">
                <h:form id="frmKillSesDlg">
				<p:commandButton id="idCmdBtnKillSessOk" value="#{msgs['idl.time.btn.lable.ok']}"   ajax="false"   oncomplete="killSession.hide()" />
				</h:form>
		</p:confirmDialog>
		
		
		<p:confirmDialog id="cnfClean" closable="false"
				       header="#{gmsgs['lbl.header.alert']}"
				      severity="alert" style="text-align:center !important;"
				      widgetVar="cnfwClean"> 
				   <f:facet name="message">
				    <h:outputText value="#{gmsgs['conf.msg.clean']}" 
				         escape="false"/>
				   </f:facet>    
				      <h:form id="frmClean">
				       <p:commandButton id="cmbYes"
				            value="#{msgs['btn.yes']}" 
				            />
				       &nbsp;&nbsp;  
				       <p:commandButton id="cmbNo"
				            value="#{msgs['btn.no']}"
				            onclick="cnfwClean.hide();return false;"
				            type="button"/>
				      </h:form>                   
	     </p:confirmDialog>
                
	    <p:confirmDialog id="cnfEndTransaction" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwEndTransaction" > 
	        <h:form id="frmEndTransaction"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
	        		        
			        <p:commandButton id="cmbConfirmTransactionOk" 
		        				 value="#{msgs['btn.accept']}" 
		        				 action="search"
		        				 ajax="false"
		                    > 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog>  
	    
	    <p:confirmDialog id="cnfEndTransactionSamePage" message="#{bodyMessageView}" 
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwEndTransactionSamePage" >  
	        <h:form id="frmEndTransactionSamePage"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="cmbConfirmTransactionOkSamePage" 
			        			 onclick="PF('cnfwEndTransactionSamePage').hide();"
		        				 value="#{msgs['btn.accept']}" 
		        				 type="button"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog> 	  
	    
	    <p:confirmDialog id="cnfMsgRequiredValidation"
	    		rendered="false" visible="true"
				message="#{msgs['message.data.required']}" 
				header="#{msgs['header.message.warning']}"  
				severity="alert" widgetVar="cnfwMsgRequiredValidation" closable="false">  
	         <h:form id="frmMsgRequiredValidation">
	        <p:commandButton id="cmdAcceptRequiredValidation"
	        				 value="#{msgs['btn.accept']}"  type="button"
	        				 onclick="cnfwMsgRequiredValidation.hide();"> 
	        </p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>      
    	
	    <p:confirmDialog id="cnfMsgCustomValidation"
	    		rendered="false" visible="true"
				message="#{bodyMessageView}" 
				header="#{headerMessageView}" 
				severity="alert" widgetVar="cnfwMsgCustomValidation" closable="false">  
	         <h:form id="frmMsgCustomValidation">
	        <p:commandButton id="cmdAcceptCustomValidation"
	        				 value="#{msgs['btn.accept']}" type="button"
	        				 onclick="PF('cnfwMsgCustomValidation').hide();"
	                    > 
	        </p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>
	    
	     <p:confirmDialog id="cnfMsgCustomValidationFLoad"	    		
				message="#{bodyMessageView}" 
				header="#{headerMessageView}" 
				severity="alert" widgetVar="cnfWMsgCustomValidationFLoad" closable="false">  
	         <h:form id="frmfMsgCustomValidationFLoad">
	        	<p:commandButton id="cmdAcceptCustomValidation"
	        				 value="#{msgs['btn.accept']}" type="button"
	        				 onclick="cnfWMsgCustomValidationFLoad.hide();"> 
	        	</p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>
	    
	    <p:dialog id="dlgFileUploadInvFile" 
	    widgetVar="dlgwFileUploadInvFile" closable="false"
	    draggable="false" resizable="false"
	    header="#{msgs['lbl.invalid.file']}" modal="true">
		<table class="files"> 
	    	<tr id="rowFuplContent" class="template-upload ui-state-error">
	    	</tr>
	    	<tr> 
	    		<td colspan="4" align="center"> 
	    			<p:commandButton id="cbmClose" value="#{msgs['btn.accept']}" 
					onclick="dlgwFileUploadInvFile.hide();return false;"/>
	    		</td>
	    	</tr>
	   </table>
		</p:dialog>
	    
	    <p:confirmDialog id="cnfCloseSession"
	    		rendered="false" visible="true"
	    		message="#{msgs['login.session.close.session.body']}"  
                header="#{msgs['login.session.close.session.header']}" severity="alert" widgetVar="cnfwCloseSession" closable="false"> 
			<h:form id="frmCloseSession">                                  
	        <p:commandButton value="#{msgs['btn.yes']}" ajax="false"
	        				 action="#{loginBean.closeSessionAction}"> 
	        </p:commandButton>  
	        <p:commandButton  value="#{msgs['btn.no']}" actionListener="#{loginBean.hideDialogs}" update=":opnlGenericDialogs"
	        		oncomplete="cnfwCloseSession.hide();"/>
	        </h:form>                     
    	</p:confirmDialog>
    	
    	<p:confirmDialog id="cnfCloseSystem" 
    			message="#{bodyMessageView}"  rendered="false" visible="true"
                header="#{msgs['login.session.close.system.header']}" severity="alert" widgetVar="cnfwCloseSystem" closable="false">          
                <h:form id="frmSalirSistema">          
			        <p:commandButton id="cmbConfirmSalirSistema"
			        				 value="#{msgs['btn.yes']}" ajax="false"
			        				 action="#{loginBean.closeSystemAction}"> 
			        </p:commandButton>  
			        <p:commandButton  value="#{msgs['btn.no']}" 
			        	actionListener="#{loginBean.hideDialogs}" update=":opnlGenericDialogs"
	        			oncomplete="cnfwCloseSystem.hide();" />  
		        </h:form>                   
    	</p:confirmDialog>
    	
    	<p:confirmDialog id="cnfGeneralMsgBusinessValidation"	rendered="false" visible="true"    		
				message="#{bodyMessageView}" 
				header="#{headerMessageView}" 
				severity="alert" widgetVar="cnfwGeneralMsgBusinessValidation">  
	         <h:form id="frmMsgGeneralBusinessValidation">
	        <p:commandButton
	        				 value="#{msgs['btn.accept']}" type="button"
	        				 onclick="cnfwGeneralMsgBusinessValidation.hide();"
	                    > 
	        </p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>	
	    
	    <p:confirmDialog id="cnfBack"
				 		message="#{msgs['message.back']}"
						closable="false"
						severity="alert" 
						header="#{msgs['messages.alert']}"
						widgetVar="cnfwBack">  
	    	<h:form id="frmRegresar">
	    		<p:commandButton id="cmbSi"
	    						 value="#{msgs['lbl.yes']}" ajax="false"
	    						 action="search"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['lbl.no']}"
	    						 onclick="cnfwBack.hide()"
	    						 type="button"/>
	    	</h:form>                   
	    </p:confirmDialog>
	    
	    
	    </p:outputPanel> 
</ui:composition>