<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmSanctionRegister');
	});
	</script>

		<h:outputText value="#{gmsgs['isettlement.sanctions.detail.title']}"
			styleClass="title-page" />

		<h:form id="frmSanctionRegister" enctype="multipart/form-data">
			<table width="100%">
				<tr>
					<td><p:fieldset id="fldsSanctionRegister"
							legend="#{msgs['lbl.settlementSanctions.register.title']}">
							<table width="100%">

								<tr>
									<td width="180px">
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.participant']}" /></td>
									<td colspan="3">
										<p:selectOneMenu style="width:500px" id="cboParticipantType" label="#{msgs['monitor.settlementProcess.lbl.participant']}"
											value="#{searchSanctionMgmtBean.sanctionFilter.participant.idParticipantPk}" disabled="true">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="participant"
												value="#{searchSanctionMgmtBean.listParticipant}"
												itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td width="180px">
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.numbeDocument']}" />
									</td>
									<td>
										<p:inputText styleClass="short-input-text-width" disabled="true"
											id="txtNumberResolution" maxlength="8" label="#{msgs['lbl.settlementSanctions.numbeDocument']}"
											value="#{searchSanctionMgmtBean.sanctionFilter.resolutionNumber}">
										</p:inputText>
									</td>
									<td width="180px">
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.estate']}" />
									</td>
									<td><p:inputText disabled="true"
											id="txtState" label="#{msgs['lbl.settlementSanctions.estate']}"
											value="#{searchSanctionMgmtBean.sanctionFilter.stateDescription}">
										</p:inputText>
									</td>
								</tr>

								<tr>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.reason']}" />
									</td>
									<td>
										<p:inputText id="cboReasonType" label="#{msgs['lbl.settlementSanctions.reason']}"
											value="#{searchSanctionMgmtBean.sanctionFilter.motiveDescription}" disabled="true">
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText id="idLabelOtherMotive"
													value="#{msgs['lbl.settlementSanctions.sanction.motiveSanction']}" 
													rendered="#{searchSanctionMgmtBean.sanctionFilter.motiveOther != null}"/>
									</td>
									<td colspan="4">
										<p:inputTextarea style="width:350px"  id="inputOtherMotive" cols="30" rows="5"
								             size="100" maxlength="200"
								             rendered="#{searchSanctionMgmtBean.sanctionFilter.motiveOther != null}"
								             value="#{searchSanctionMgmtBean.sanctionFilter.motiveOther}" disabled="true">
							            </p:inputTextarea>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.penaltyAmount']}" />
									</td>
									<td>
										<p:inputText id="sancAmount" label="#{msgs['lbl.settlementSanctions.penaltyAmount']}"
											value="#{searchSanctionMgmtBean.sanctionFilter.sanctionAmount}" disabled="true">
											<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.penaltyCurrency']}" />
									</td>
									<td>
										<p:selectOneMenu disabled="true" value="#{searchSanctionMgmtBean.sanctionFilter.currency}" >
											<f:selectItems value="#{searchSanctionMgmtBean.lstCurrencies}" var="currency"
												itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								
								<tr valign="top">
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.registryDate']}" /></td>

									<td>
										<p:inputText value="#{searchSanctionMgmtBean.sanctionFilter.registerDate}"  disabled="true">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.sanction.periodDate']}"/>
									</td>
									<td>
										<p:inputText 
											id="txtPeriodValidity" disabled="true"
											value="#{searchSanctionMgmtBean.sanctionFilter.periodSanction}">
										</p:inputText>
										</td>
									<td/>
								</tr>
								
								<tr>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.sanction.emitionDate']}" 
											rendered="#{searchSanctionMgmtBean.sanctionFilter.emitionDate!=null}" />
									</td>
									<td>
										<p:inputText value="#{searchSanctionMgmtBean.sanctionFilter.emitionDate}"
											rendered="#{searchSanctionMgmtBean.sanctionFilter.emitionDate!=null}" disabled="true">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.sanction.appealDate']}"
											rendered="#{searchSanctionMgmtBean.sanctionFilter.appealDate!=null}" />
									</td>
									<td>
										<p:inputText value="#{searchSanctionMgmtBean.sanctionFilter.appealDate}"
											rendered="#{searchSanctionMgmtBean.sanctionFilter.appealDate!=null}"  disabled="true">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText
											value="#{msgs['lbl.settlementSanctions.sanction.comments']}"
											rendered="#{searchSanctionMgmtBean.sanctionFilter.comments!=null}" />
									</td>
									<td>
										<p:inputTextarea cols="30" rows="3"
								             size="50" maxlength="200"  disabled="true"
								             value="#{searchSanctionMgmtBean.sanctionFilter.comments}"
								             rendered="#{searchSanctionMgmtBean.sanctionFilter.comments!=null}" >
							            </p:inputTextarea>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText  id="idLblAppealDate" styleClass="required-field"
											value="#{msgs['lbl.settlementSanctions.sanction.appealDate']} (*)" 
											rendered="#{searchSanctionMgmtBean.viewOperationAppeal}" />
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:calendar size="10" id="calAppealDate"
											readonlyInput="true" yearRange="1900:c+c"
											required="true" disabledWeekends="true"
											value="#{searchSanctionMgmtBean.sanctionFilter.appealDate}"
											navigator="true" showOn="both"
											mindate="#{searchSanctionMgmtBean.sanctionFilter.emitionDate}" 
											maxdate="#{searchSanctionMgmtBean.sanctionFilter.maxAppealDate}"
											maxlength="10" pattern="#{cons['dateFormat']}"
											rendered="#{searchSanctionMgmtBean.viewOperationAppeal}" >
										</p:calendar>
										<p:message id="msgCalAppealDate" for="calAppealDate" display="icon"/>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText id="idLblComments" styleClass="required-field"
													value="#{msgs['lbl.settlementSanctions.sanction.comments']} (*)" 
													rendered="#{searchSanctionMgmtBean.viewOperationAppeal}" />
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:inputTextarea id="idComments" cols="30" rows="3"
								             size="50" maxlength="200" 
								             value="#{searchSanctionMgmtBean.sanctionFilter.comments}"
								             rendered="#{searchSanctionMgmtBean.viewOperationAppeal}" >
								             <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
							            </p:inputTextarea>
										<p:message id="msgidComments" for="idComments" display="icon"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td colspan="7">
									<p:outputPanel id="pnlSelectedOperations">
										<p:fieldset id="fldsOperations" legend="#{msgs['lbl.settlementSanctions.operations.title']}"
											rendered="#{not empty searchSanctionMgmtBean.sanctionFilter.lstSettlementOperations}">
											<p:dataTable id="dtbResult" var="settOperation" paginator="true"
												value="#{searchSanctionMgmtBean.sanctionFilter.lstSettlementOperations}"
												rows="10" paginatorPosition="top"
												currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
												paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
												rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
												rowKey="#{settOperation.idSettlementOperation}"
												resizableColumns="true">
						
												<p:column sortBy="#{settOperation.modalityName}"  styleClass="content-center" 
													headerText="#{msgs['lbl.operation.modality']}" >
													<h:outputText value="#{settOperation.modalityName}" />
												</p:column>
						
												<p:column sortBy="#{settOperation.operationDate}"  styleClass="content-center" 
													headerText="#{msgs['lbl.operation.operationDate.br']}" >
													<h:outputText value="#{settOperation.operationDate}" >
														<f:convertDateTime pattern="#{cons['dateFormat']}"/>
													</h:outputText>
												</p:column>
												
												<p:column sortBy="#{settOperation.operationNumber}"  styleClass="content-center" 
													headerText="#{msgs['lbl.operation.operationNumber.br']}" >
													<h:outputText value="#{settOperation.operationNumber}" />
												</p:column>
												
												<p:column sortBy="#{settOperation.ballotSequential}"  styleClass="content-center" 
													headerText="#{msgs['lbl.operation.ballotSequential.br']}" >
													<h:outputText value="#{settOperation.ballotSequential}" />
												</p:column>
						
												<p:column sortBy="#{settOperation.idSecurityCodePk}"  styleClass="content-center" 
													headerText="#{msgs['lbl.operation.security.classCode']}" >
													<h:outputText value="#{settOperation.idSecurityCodePk}" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.operation.participant.buyer.br']}" styleClass="content-center" 
													 sortBy="#{settOperation.buyerParticipantCodeNemonic}">
													<h:outputText value="#{settOperation.buyerParticipantCodeNemonic}" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.operation.participant.seller.br']}" styleClass="content-center" 
													 sortBy="#{settOperation.sellerParticipantCodeNemonic}" >
													<h:outputText value="#{settOperation.sellerParticipantCodeNemonic}" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.operation.settlementDate']}" styleClass="content-center" 
													 sortBy="#{settOperation.settlementDate}"  >
													<h:outputText value="#{settOperation.settlementDate}" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.operation.settlementAmount']}" styleClass="content-center" 
													 sortBy="#{settOperation.settlementAmount}"  >
													<h:outputText value="#{settOperation.settlementAmount}" >
														<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
													</h:outputText>
												</p:column>
												
												<p:column headerText="#{msgs['lbl.operation.operationState']}" styleClass="content-center" 
													 sortBy="#{settOperation.stateDescription}" >
													<h:outputText value="#{settOperation.stateDescription}" />
												</p:column>
												
												<f:facet name="footer">
													<div style="width: 100%; text-align: left">
													<h:outputLabel
														value="#{searchSanctionMgmtBean.sanctionFilter.lstSettlementOperations.size()} #{msgs['lbl.results']}"
														style="font-weight:bold;" />
													</div>
												</f:facet>
											</p:dataTable>
										</p:fieldset>
									</p:outputPanel>
									</td>
								</tr>
							
								<tr>
									<td align="center" colspan="7">
										
										<p:outputPanel id="panelPrivileges">
								            <h:panelGrid columns="3">
							              	<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.confirm']}" process="@this"
												icon="ui-confirm" actionListener="#{searchSanctionMgmtBean.beginConfirmAction}" 
												rendered="#{searchSanctionMgmtBean.viewOperationConfirm}"  update=":opnlDialogs">
											</p:commandButton>
											
											<p:commandButton id="cmbAnulate" value="#{gmsgs['btn.annulate']}" process="@this"
												icon="ui-cancel" actionListener="#{searchSanctionMgmtBean.beginDeleteAction}" 
												rendered="#{searchSanctionMgmtBean.viewOperationAnnul}" update=":opnlDialogs" >
											</p:commandButton>
											
											<p:commandButton id="cmbAppeal" value="#{gmsgs['btn.appeal']}" update="@form :opnlDialogs"
												icon="ui-edit" actionListener="#{searchSanctionMgmtBean.beginAppealAction}" 
												rendered="#{searchSanctionMgmtBean.viewOperationAppeal}">
											</p:commandButton>
											
											<p:commandButton
												id="cmbClean" value="#{gmsgs['btn.clean']}" process="@this" 
												oncomplete="PF('cnfwClean').hide()" icon="fa fa-trash" immediate="true"
												action="#{searchSanctionMgmtBean.cleanAppealView}" 
												rendered="#{searchSanctionMgmtBean.viewOperationAppeal}"
												onclick="return showCleanConfirmDialog(this);" update="@form" />
								        
									        <p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
									               action="searchParticipantPenalty" 
									               onclick="if(isModifiedFormForBack(this))return false;"
												   process="@this"
									               ajax="false" immediate="true"/>
								        	</h:panelGrid>
								        </p:outputPanel>
										
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
			</table>
		</h:form>

		<p:outputPanel id="opnlDialogs">

			<p:confirmDialog id="cnfModifySanctionParticipant" message="#{bodyMessageView}" 
				closable="false" header="#{headerMessageView}" severity="alert" widgetVar="cnfwModifySanctionParticipant">
				<h:form id="frmConfirmModifySanctionParticipant">
					<p:commandButton id="cmbYes" process="@this"
						value="#{gmsgs['btn.yes']}"
						update=":opnlDialogs :opnlGenericDialogs"
						actionListener="#{searchSanctionMgmtBean.actionDo}"
						oncomplete="PF('cnfwModifySanctionParticipant').hide()" />
    				&nbsp;&nbsp;
    				<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						process="@this"
						oncomplete="PF('cnfwModifySanctionParticipant').hide()" />
				</h:form>
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTransactionParticipant" message="#{bodyMessageView}"
    			closable="false" header="#{headerMessageView}" severity="alert" widgetVar="cnfwEndTransactionParticipant" > 
		        <h:form id="frmEndTransactionParticipant"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{gmsgs['btn.accept']}" 
			        				 process="@this"
			        				 actionListener="#{searchSanctionMgmtBean.cleanSearch}"
			        				 action="searchParticipantPenalty"			        				 
			                    > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
    		</p:confirmDialog>

		</p:outputPanel>

	</ui:define>
</ui:composition>
</html>