<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmSanctionRegister');
	});
	</script>

	<h:outputText value="#{gmsgs['isettlement.sanctions.register.title']}"
		styleClass="title-page" />

	<h:form id="frmSanctionRegister" enctype="multipart/form-data">
		<table width="100%">
			<tr>
			<td>
				<p:fieldset id="fldsSanctionRegister"
					legend="#{msgs['lbl.settlementSanctions.register.title']}">
					<table width="100%">

						<tr>
							<td width="150px">
								<h:outputText
									value="#{msgs['lbl.settlementSanctions.participant']} (*)" styleClass="required-field" />
							</td>
							<td width="450px">
								<p:selectOneMenu style="width:400px" id="cboParticipantType" label="#{msgs['monitor.settlementProcess.lbl.participant']}"
									value="#{searchSanctionMgmtBean.sanctionFilter.idParticipant}" disabled="#{searchSanctionMgmtBean.viewOperationModify}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems var="participant" value="#{searchSanctionMgmtBean.listParticipant}"
										itemLabel="#{participant.displayDescriptionCode}"
										itemValue="#{participant.idParticipantPk}" />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
									<p:ajax listener="#{searchSanctionMgmtBean.cleanMotivesData}" event="change" update="@form"/>
								</p:selectOneMenu>
								<p:message id="msgCboParticipantType" for="cboParticipantType" display="icon"/>
							</td>
							<td>
								<h:outputText
									value="#{msgs['lbl.settlementSanctions.settlementDate']} (*)"  styleClass="required-field" />
							</td>
							<td>
								<p:calendar size="10" id="calsettlementDate"
									readonlyInput="true" yearRange="1900:c+c" 
									value="#{searchSanctionMgmtBean.sanctionFilter.settlementDate}" disabledWeekends="true"
									navigator="true" showOn="both" disabled="#{searchSanctionMgmtBean.viewOperationModify}"
									mindate="#{searchSanctionMgmtBean.sanctionFilter.minSettlementDate}"
									maxdate="#{searchSanctionMgmtBean.currentSystemDate}"  
									maxlength="10" pattern="#{cons['dateFormat']}">
									<p:ajax event="dateSelect" process="@this" update="@form" listener="#{searchSanctionMgmtBean.cleanMotivesData}"/>
								</p:calendar>
								<p:message id="msgCalsettlementDate" for="calsettlementDate" display="icon"/>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText
									value="#{msgs['lbl.settlementSanctions.registryDate']} (*)" styleClass="required-field" />
							</td>
							<td>
								<p:calendar size="10" disabled="true"
									readonlyInput="true" yearRange="1900:c+c"
									value="#{searchSanctionMgmtBean.sanctionFilter.registerDate}"
									id="calRegistryDate" pattern="#{cons['dateFormat']}">
								</p:calendar>
								<p:message id="messageCalInitialDate"
									for="calRegistryDate" display="icon" />
							</td>
							<td><h:outputText
									value="#{msgs['lbl.settlementSanctions.sanction.periodDate']}"/>
							</td>
							<td>
								<p:inputText 
									id="txtPeriodValidity" disabled="true"
									value="#{searchSanctionMgmtBean.sanctionFilter.periodSanction}">
								</p:inputText>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText id="idLblAmount"
									value="#{msgs['lbl.settlementSanctions.penaltyAmount']} (*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="3">
								<p:inputText id="txtAmount" disabled="#{!searchSanctionMgmtBean.enableAmount}"
										value="#{searchSanctionMgmtBean.sanctionFilter.sanctionAmount}"
										label="#{msgs['lbl.settlementSanctions.penaltyAmount']}">
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}" />
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="msgtxtAmount" for="txtAmount" display="icon"/>
								</h:panelGrid>
							</td>
							<td>
								<h:outputText id="idLblCurrency"
									value="#{msgs['lbl.settlementSanctions.penaltyCurrency']} " />
							</td>
							<td>
								<p:selectOneMenu disabled="true" value="#{searchSanctionMgmtBean.sanctionFilter.currency}" >
									<f:selectItems value="#{searchSanctionMgmtBean.lstCurrencies}" var="currency"
										itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							
							<td colspan="3">
								<h:panelGrid columns="2">
									<p:selectBooleanCheckbox id="chkDateBecoming" rendered="#{searchSanctionMgmtBean.renderOtherMotive}"
										 itemLabel="#{msgs['lbl.settlementSanctions.reprimand']}"
										 value="#{searchSanctionMgmtBean.enableReprimand}">
										<p:ajax update="txtAmount"  global="false"
												partialSubmit="true"
												listener="#{searchSanctionMgmtBean.checkReprimand}" />						 
									</p:selectBooleanCheckbox>
								</h:panelGrid>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText id="idLblQuantitySanction"
									value="#{msgs['lbl.settlementSanctions.quantitySanctions']} (*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText id="txtQuantitySanction" disabled="true"
										value="#{searchSanctionMgmtBean.sanctionFilter.quantitySanction}"
										label="#{msgs['lbl.settlementSanctions.quantitySanctions']}">
									
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="msgtxtQuantitySanction" for="txtQuantitySanction" display="icon"/>
								</h:panelGrid>
							</td>
						</tr>
						<tr>	
							<td>
								<h:outputText id="idLblQuantityBreach"
									value="#{msgs['lbl.settlementSanctions.quantityBreach']} (*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText id="txtQuantityBreach" disabled="true"
										value="#{searchSanctionMgmtBean.sanctionFilter.quantityBreach}"
										label="#{msgs['lbl.settlementSanctions.quantityBreach']}">
									
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="msgtxtQuantityBreach" for="txtQuantityBreach" display="icon"/>
								</h:panelGrid>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText id="idLblQuantityOthersSanction"
									value="#{msgs['lbl.settlementSanctions.quantityOthersSanctions']} (*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText id="txtQuantityOthersSanction" disabled="true"
										value="#{searchSanctionMgmtBean.sanctionFilter.quantityOthersSanctions}"
										label="#{msgs['lbl.settlementSanctions.quantityOthersSanctions']}">
									
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="msgtxtQuantityOthersSanction" for="txtQuantityOthersSanction" display="icon"/>
								</h:panelGrid>
							</td>
							
						</tr>
						<tr>
							<td>
								<h:outputText id="idOtherMotive" styleClass="required-field"
											value="#{msgs['lbl.settlementSanctions.observations']} (*)" 
											rendered="#{searchSanctionMgmtBean.renderOtherMotive}"/>
							</td>
							<td colspan="3">
								<h:panelGrid columns="2">
								<p:inputTextarea id="inputOtherMotive" cols="30" rows="3"
						             size="50" maxlength="200" rendered="#{searchSanctionMgmtBean.renderOtherMotive}"
						             value="#{searchSanctionMgmtBean.sanctionFilter.motiveOther}"
						             label="#{msgs['lbl.settlementSanctions.sanction.motiveSanction']}">
						             <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
					            </p:inputTextarea>
								<p:message id="msgInputOtherMotive" for="inputOtherMotive" display="icon"/>
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td align="center" colspan="4">
								<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" process="fldsSanctionRegister"
									rendered="#{!searchSanctionMgmtBean.viewOperationModify}"
									actionListener="#{searchSanctionMgmtBean.searchSanctionMotives(null)}"
									update="@form">
								</p:commandButton>	
							</td>
						</tr>
					</table>
				</p:fieldset>
			</td>
			</tr>
			<tr>
			<td>
				<p:fieldset id="fldsSanctionByModality" rendered="#{not empty searchSanctionMgmtBean.lstSanctionMotive}"
					 legend="#{msgs['lbl.settlementSanctions.modality.title']}">
				<table>
				<tr>
					<td colspan="1" width="50%" valign="top">
						<p:outputPanel id="pnlSanctionMotives">
						<p:dataTable id="dtbSanctionMotive" var="sanctionMotive" paginator="true"
							rendered="#{not empty searchSanctionMgmtBean.lstSanctionMotive}"
							value="#{searchSanctionMgmtBean.lstSanctionMotive}"
							rows="10" paginatorPosition="top"
							currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
							rowKey="#{sanctionMotive.sanctionMotive}"
							selection="#{searchSanctionMgmtBean.selectedSanctionMotive}"
							disabledSelection="#{searchSanctionMgmtBean.viewOperationModify}"
							resizableColumns="true">
							
							<p:column headerText="#{msgs['lbl.settlementSanctions.sanction.motiveSanction']}">
								<h:outputText
									value="#{sanctionMotive.motiveDescription}" />
							</p:column>

							<p:column selectionMode="single" style="width:16px;text-align:center" />
							
							<p:ajax event="rowSelectRadio" listener="#{searchSanctionMgmtBean.onSelectSanctionMotive}"
								update=":frmSanctionRegister:fldsSanctionRegister :frmSanctionRegister:pnlSanctionByModality :frmSanctionRegister:pnlSelectedOperations" />

						</p:dataTable>
						</p:outputPanel>
					</td>
					<td colspan="1" width="50%" valign="top">
						<p:outputPanel id="pnlSanctionByModality">
						<p:dataTable id="dtbSanctionByModality" var="byModality" paginator="true"
							rendered="#{not empty searchSanctionMgmtBean.selectedSanctionMotive.lstSanctionByModalityTO}"
							value="#{searchSanctionMgmtBean.selectedSanctionMotive.lstSanctionByModalityTO}"
							rows="10" paginatorPosition="top"
							currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
							rowKey="#{byModality.idModality}"
							resizableColumns="true">
							
							<p:column headerText="#{msgs['lbl.operation.modality']}">
								<h:outputText
									value="#{byModality.modalityName}" />
							</p:column>

							<p:column headerText="#{msgs['lbl.settlementSanctions.operationSanctionCount']}">
								<p:commandLink style="color:blue"  actionListener="#{searchSanctionMgmtBean.onSelectOperationByModalityCount(byModality)}"
										disabled="#{byModality.operationCount eq 0}"
										process="@this" update=":frmSanctionRegister:pnlSelectedOperations">
									<h:outputText value="#{byModality.operationCount}" />
								</p:commandLink>
							</p:column>
							
							<p:column style="width: 25px;" styleClass="content-center">
								<p:selectBooleanCheckbox value="#{byModality.selected}" disabled="#{byModality.listSettlementOperations == null}" >
									<p:ajax event="change" global="false" process="@this"
										listener="#{searchSanctionMgmtBean.onSelectOperationByModality(byModality)}" 
										update=":frmSanctionRegister:pnlSanctionByModality :frmSanctionRegister:pnlSelectedOperations"/>
								</p:selectBooleanCheckbox>
							</p:column>
							
						</p:dataTable>
						</p:outputPanel>
					</td>
				</tr>
				</table>
				</p:fieldset>
			</td>
			</tr>
			<tr>
				<td>
				<p:outputPanel id="pnlSelectedOperations">
				<p:fieldset id="fldsOperations" legend="#{msgs['lbl.settlementSanctions.operations.title']}"
					rendered="#{not empty searchSanctionMgmtBean.selectedSanctionMotive and not empty searchSanctionMgmtBean.selectedSanctionMotive.currentSanctionByModality}">
					<p:dataTable id="dtbResult" var="settOperation" paginator="true"
						value="#{searchSanctionMgmtBean.selectedSanctionMotive.currentSanctionByModality.listSettlementOperations}"
						rows="10" paginatorPosition="top"
						currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
						paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
						rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
						rowKey="#{settOperation.idSettlementOperation}"
						resizableColumns="true">

						<p:column sortBy="#{settOperation.operationDate}"  styleClass="content-center" 
							headerText="#{msgs['lbl.operation.operationDate.br']}" >
							<h:outputText value="#{settOperation.operationDate}" >
								<f:convertDateTime pattern="#{cons['dateFormat']}"/>
							</h:outputText>
						</p:column>
						
						<p:column sortBy="#{settOperation.operationNumber}"  styleClass="content-center" 
							headerText="#{msgs['lbl.operation.operationNumber.br']}" >
							<h:outputText value="#{settOperation.operationNumber}" />
						</p:column>
						
						<p:column sortBy="#{settOperation.ballotSequential}"  styleClass="content-center" 
							headerText="#{msgs['lbl.operation.ballotSequential.br']}" >
							<h:outputText value="#{settOperation.ballotSequential}" />
						</p:column>

						<p:column sortBy="#{settOperation.idSecurityCodePk}"  styleClass="content-center" 
							headerText="#{msgs['lbl.operation.security.classCode']}" >
							<h:outputText value="#{settOperation.idSecurityCodePk}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.operation.participant.buyer.br']}" styleClass="content-center" 
							 sortBy="#{settOperation.buyerParticipantCodeNemonic}">
							<h:outputText value="#{settOperation.buyerParticipantCodeNemonic}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.operation.participant.seller.br']}" styleClass="content-center" 
							 sortBy="#{settOperation.sellerParticipantCodeNemonic}" >
							<h:outputText value="#{settOperation.sellerParticipantCodeNemonic}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.operation.settlementDate']}" styleClass="content-center" 
							 sortBy="#{settOperation.settlementDate}"  >
							<h:outputText value="#{settOperation.settlementDate}" >
								<f:convertDateTime pattern="#{cons['dateFormat']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.operation.settlementAmount']}" styleClass="content-center" 
							 sortBy="#{settOperation.settlementAmount}"  >
							<h:outputText value="#{settOperation.settlementAmount}" >
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.operation.operationState']}" styleClass="content-center" 
							 sortBy="#{settOperation.stateDescription}" >
							<h:outputText value="#{settOperation.stateDescription}" />
						</p:column>
						
						<p:column style="width: 25px;" styleClass="content-center">
							<p:selectBooleanCheckbox value="#{settOperation.selected}"  >
								<p:ajax event="change" global="false" process="@this" listener="#{searchSanctionMgmtBean.onSelectOperation(settOperation)}"
									update=":frmSanctionRegister:pnlSanctionByModality :frmSanctionRegister:pnlSelectedOperations"/>
							</p:selectBooleanCheckbox>
						</p:column>
						
						<f:facet name="footer">
							<div style="width: 100%; text-align: left">
							<h:outputLabel
								value="#{searchSanctionMgmtBean.selectedSanctionMotive.currentSanctionByModality.listSettlementOperations.size()} #{msgs['lbl.results']}"
								style="font-weight:bold;" />
							</div>
						</f:facet>
					</p:dataTable>
				</p:fieldset>
				</p:outputPanel>
				</td>
			</tr>
			<tr>
			<td align="center">

				<p:commandButton id="cmbSave" value="#{gmsgs['btn.save']}" process="@form"
					icon="fa fa-save" actionListener="#{searchSanctionMgmtBean.beginRegisterAction}" 
					rendered="#{!searchSanctionMgmtBean.viewOperationModify}"
					update="@form :opnlDialogs">
					<f:param name="skipValidation" value="true"/>	
				</p:commandButton>
				
				<p:commandButton id="cmbModify" value="#{gmsgs['btn.modify']}" process="@form"
					onclick="if(!isModifiedFormForSave('#frmSanctionRegister',true)) return false;"
					icon="ui-edit" actionListener="#{searchSanctionMgmtBean.beginRegisterAction}" rendered="#{searchSanctionMgmtBean.viewOperationModify}"
					update="@form :opnlDialogs">
					<f:param name="skipValidation" value="true"/>	
				</p:commandButton>
				
				<p:commandButton
					id="cmbClean" value="#{gmsgs['btn.clean']}" process="@this"
					partialSubmit="false" oncomplete="PF('cnfwClean').hide()" icon="fa fa-trash"
					action="#{searchSanctionMgmtBean.cleanSanctionParticipantRequestMgmt}" 
					rendered="#{!searchSanctionMgmtBean.viewOperationModify}"
					onclick="showCleanConfirmDialog(this);" update="@form" />
					
				<p:commandButton id="cmbBack"
					onclick="if(isModifiedFormForBack(this,'frmSanctionRegister')) return false;"
					action="searchParticipantPenalty" 
					value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this"
					immediate="true" ajax="false" />
			</td>
			</tr>
		</table>
	</h:form>

	<p:outputPanel id="opnlDialogs">

		<p:confirmDialog id="cnfRegisterSanctionParticipant"
			message="#{bodyMessageView}" 
			closable="false" header="#{headerMessageView}" severity="alert"
			widgetVar="cnfwRegisterSanctionParticipant">
			<h:form id="frmConfirmSanctionSanctionParticipant">
				<p:commandButton id="cmbYes" process="@this"
					value="#{gmsgs['btn.yes']}"
					update=":opnlDialogs :opnlGenericDialogs"
					actionListener="#{searchSanctionMgmtBean.saveRegisterSanctionParticipant}"
					oncomplete="PF('cnfwRegisterSanctionParticipant').hide()" />
   		&nbsp;&nbsp;
   		<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
					process="@this"
					oncomplete="PF('cnfwRegisterSanctionParticipant').hide()" />
			</h:form>
		</p:confirmDialog>
		
		<p:confirmDialog id="cnfModifySanctionParticipant"
			message="#{bodyMessageView}" 
			closable="false" header="#{headerMessageView}" severity="alert"
			widgetVar="cnfwModifySanctionParticipant">
			<h:form id="frmConfirmModifySanctionParticipant">
				<p:commandButton id="cmbYes" process="@this"
					value="#{gmsgs['btn.yes']}"
					update=":opnlDialogs :opnlGenericDialogs"
					actionListener="#{searchSanctionMgmtBean.saveModifySanctionParticipant}"
					oncomplete="PF('cnfwModifySanctionParticipant').hide()" />
   		&nbsp;&nbsp;
   		<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
					process="@this"
					oncomplete="PF('cnfwModifySanctionParticipant').hide()" />
			</h:form>
		</p:confirmDialog>
		
		<p:confirmDialog id="cnfEndTransactionParticipant" message="#{bodyMessageView}"
   			closable="false" header="#{headerMessageView}" severity="alert" widgetVar="cnfwEndTransactionParticipant" > 
	        <h:form id="frmEndTransactionParticipant"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
	        		        
			        <p:commandButton id="cmbConfirmTransactionOk" 
		        				 value="#{gmsgs['btn.accept']}" 
		        				 process="@this"
		        				 actionListener="#{searchSanctionMgmtBean.cleanSearch}"
		        				 action="searchParticipantPenalty"			        				 
		                    > 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
    	</p:confirmDialog>

		</p:outputPanel>

	</ui:define>
</ui:composition>
</html>