<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:form id="frmSearchSanctions">
			<table width="100%">
			
				<p:selectOneRadio id="customRadio" value="#{searchSanctionMgmtBean.radioSelected}" layout="custom">
					<f:selectItem itemLabel="" itemValue="3" />  
			        <f:selectItem itemLabel="" itemValue="2" />  
			        <f:selectItem itemLabel="" itemValue="1" />
			        <p:ajax update="@form" listener="#{searchSanctionMgmtBean.cleanSearch()}" 
			        		event="change" partialSubmit="false" process="@this"/>
			    </p:selectOneRadio>
			
				<tr>
					<td align="right">
						<table width="100%">
							<td align="left"><h:outputText
									value="#{gmsgs['isettlement.sanctions.manage.title']}"
									styleClass="title-page" /></td>
							<td align="right"><p:commandButton
									value="#{gmsgs['btn.register']}" icon="fa fa-edit" rendered="#{userPrivilege.userAcctions.register}"
									action="#{searchSanctionMgmtBean.loadRegisterSanctionAction}" ajax="false"
									process="@this" /></td>
						</table>
					</td>
				</tr>
				<tr>
					<td><p:fieldset styleClass="legendNone" id="fldsFilters" legend="#{msgs['lbl.criteria.search']}">
							<table width="100%">
								<tr>
									<td width="25px" valign="top"><p:radioButton id="optSolicitud1" for="customRadio" itemIndex="0"/></td>
									<td width="170px"><h:outputText
											value="#{msgs['lbl.settlementSanctions.solicitud.number']}" />
									</td>
									<td><p:inputText styleClass="short-input-text-width"
											id="txtRequestNumber" maxlength="8"
											disabled="#{searchSanctionMgmtBean.radioSelected != 3}"
											value="#{searchSanctionMgmtBean.searchSanction.idSanctionRequest}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.asterisk']}" />
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td width="25px"  valign="top"><p:radioButton for="customRadio" itemIndex="1"/></td>
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.numbeDocument']}" />
									</td>
									<td><p:inputText styleClass="short-input-text-width"
											id="txtNumberResolution" maxlength="8"
											disabled="#{searchSanctionMgmtBean.radioSelected != 2}"
											value="#{searchSanctionMgmtBean.searchSanction.resolutionNumber}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.asterisk']}" />
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td width="25px" rowspan="4"  valign="top"><p:radioButton id="optSolicitud2" for="customRadio" itemIndex="2"/></td>
									<td><h:outputText
											value="#{msgs['monitor.settlementProcess.lbl.participant']}" /></td>
									<td width="450px"><p:selectOneMenu style="width:440px"
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											value="#{searchSanctionMgmtBean.searchSanction.idParticipant}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="participant" value="#{searchSanctionMgmtBean.listParticipant}"
												itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
										</p:selectOneMenu></td>
								</tr>
								<tr>
									<td><h:outputText
											value="#{msgs['monitor.settlementProcess.lbl.state']}" /></td>
									<td><p:selectOneMenu style="width:150px"
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											value="#{searchSanctionMgmtBean.searchSanction.requestState}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{searchSanctionMgmtBean.lstStateSanctionParticipant}"
												var="state" itemLabel="#{state.parameterName}"
												itemValue="#{state.parameterTablePk}" />
										</p:selectOneMenu></td>
								</tr>

								<tr>
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.reason']}" /></td>
									<td>
										<p:selectOneMenu style="width:150px" 
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											value="#{searchSanctionMgmtBean.searchSanction.sanctionMotive}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{searchSanctionMgmtBean.lstReasonSanctionParticipant}"
												var="reason" itemLabel="#{reason.parameterName}"
												itemValue="#{reason.parameterTablePk}" />
										</p:selectOneMenu>
									</td>
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.settlementDate']}" /></td>
									<td>
										<p:calendar size="10"
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											readonlyInput="true" yearRange="1900:c+c"
											value="#{searchSanctionMgmtBean.searchSanction.settlementDate}"
											navigator="true" id="calSettlementDate" showOn="both"
											maxlength="10" pattern="#{cons['dateFormat']}">
										</p:calendar>
									</td>
								</tr>

								<tr>
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.initialDate']}" /></td>
									<td>
										<p:calendar size="10" id="idInitialDate"
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											readonlyInput="true" yearRange="1900:c+c" 
											value="#{searchSanctionMgmtBean.searchSanction.initialDate}"
											maxdate="#{searchSanctionMgmtBean.searchSanction.endDate}"
											navigator="true"  showOn="both"
											maxlength="10" pattern="#{cons['dateFormat']}">
											<p:ajax event="dateSelect" process="@this" update="idEndDate" global="false"/>
										</p:calendar>
									</td>
									<td><h:outputText
											value="#{msgs['lbl.settlementSanctions.endDate']}" /></td>
									<td>
										<p:calendar size="10" id="idEndDate"
											readonlyInput="true" yearRange="1900:c+c" 
											disabled="#{searchSanctionMgmtBean.radioSelected != 1}"
											mindate="#{searchSanctionMgmtBean.searchSanction.initialDate}"
											maxdate="#{searchSanctionMgmtBean.currentSystemDate}"
											value="#{searchSanctionMgmtBean.searchSanction.endDate}"
											navigator="true" showOn="both" maxlength="10"
											pattern="#{cons['dateFormat']}">
											<p:ajax event="dateSelect" process="@this" update="idInitialDate" global="false"/>
										</p:calendar></td>
								</tr>

								<tr>
									<td colspan="6" align="center"><p:commandButton
											id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
											actionListener="#{searchSanctionMgmtBean.searchSanctionByFilters}"
											update="@form :frmSearchSanctions:pnlResult"/> <p:commandButton
											value="#{gmsgs['btn.clean']}" process="@this" icon="fa fa-trash"
											action="#{searchSanctionMgmtBean.cleanSearch}" update="@form" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>

				<tr>
					<td><p:outputPanel id="pnlResult">
							<p:outputPanel id="panelPrivileges">
								<p:outputPanel rendered="#{(searchSanctionMgmtBean.sanctionRequestDataModel.rowCount>=1)}">
								<ark:privileges id="praderaPrivileges"					 
								 				 			 
								 actionConfirm="#{searchSanctionMgmtBean.validateRequestConfirmState}"
								 actionModify="#{searchSanctionMgmtBean.validateRequestModify}"
								 actionAnnular="#{searchSanctionMgmtBean.validateRequestDelete}"
								 actionAppeal="#{searchSanctionMgmtBean.validateRequestAppeal}"
								 										 
								 actions="#{userPrivilege.userAcctions}"
								 renders="#{userPrivilege.privilegeComponent}"/>
								</p:outputPanel>
							</p:outputPanel>
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" rendered="#{searchSanctionMgmtBean.sanctionRequestDataModel.rowCount>=1}">
								<p:dataTable id="dtbResult" var="sanction" paginator="true"
									value="#{searchSanctionMgmtBean.sanctionRequestDataModel}"
									rendered="#{searchSanctionMgmtBean.sanctionRequestDataModel.rowCount>=1}"
									rows="10" paginatorPosition="top"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									selection="#{searchSanctionMgmtBean.sanctionFilter}"
									rowKey="#{sanction.idSanctionRequest}"
									style="width:100% !important">

									<p:column selectionMode="single" style="width:18px" />

									<p:column headerText="#{msgs['lbl.settlementSanctions.solicitud.number']}" sortBy="#{sanction.idSanctionRequest}" >
										<p:commandLink value="#{sanction.idSanctionRequest}" style="color:blue;" ajax="false" process="@this"
											action="#{searchSanctionMgmtBean.viewRequest(sanction)}" >										
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msgs['lbl.settlementSanctions.numberRes']}" sortBy="#{sanction.resolutionNumber}" >
										<h:outputText value="#{sanction.resolutionNumber}" />
									</p:column>
									
									<p:column headerText="#{msgs['lbl.settlementSanctions.dateSanction']}" sortBy="#{sanction.registerDate}"  >
										<h:outputText value="#{sanction.registerDate}">
											<f:convertDateTime pattern="#{cons.dateFormat}" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msgs['lbl.settlementSanctions.participant']}" sortBy="#{sanction.participant.displayDescriptionCode}"  style="width:350px;">
										<h:outputText value="#{sanction.participant.displayDescriptionCode}" />
									</p:column>
									
									<p:column headerText="#{msgs['lbl.operation.settlementDate']}" sortBy="#{sanction.settlementDate}" >
										<h:outputText value="#{sanction.settlementDate}">
											<f:convertDateTime pattern="#{cons.dateFormat}" />
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['lbl.settlementSanctions.sanction.motiveSanction']}" sortBy="#{sanction.motiveDescription}" >
										<h:outputText value="#{sanction.motiveDescription}" />
									</p:column>
									
									<p:column headerText="#{msgs['lbl.settlementSanctions.estate']}" sortBy="#{sanction.stateDescription}" >
										<h:outputText value="#{sanction.stateDescription}" />
									</p:column>
									
									<f:facet name="footer">
										<div style="width: 100%; text-align: left">
											<h:outputLabel
												value="#{msgs['lbl.results']} : #{searchSanctionMgmtBean.sanctionRequestDataModel.rowCount}"
												style="font-weight:bold;" />
										</div>
									</f:facet>

								</p:dataTable>
							</p:fieldset>
							
							<p:panel rendered="#{searchSanctionMgmtBean.sanctionRequestDataModel!=null and !(searchSanctionMgmtBean.sanctionRequestDataModel.rowCount >= 1)}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(searchSanctionMgmtBean.sanctionRequestDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>		
							</p:panel>

						</p:outputPanel>
					</td>
				</tr>


			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs"></p:outputPanel>

	</ui:define>
</ui:composition>
</html>