<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<tr>
		<td>
			<h:outputText value="#{msgs['otc.operation.participation']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<p:selectOneMenu value="#{otcOperationMgmt.holdAccountOperationRequest.role}" required="true" id="cboAccountRole" disabled="true" tabindex="23">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems value="#{otcOperationMgmt.participantRoleTypeList}" var="particRol" 
							   itemLabel="#{particRol.position}" itemValue="#{particRol.code}"/>
					<p:ajax event="change"  global="false" update="cboAccountRole iconCboAccountRole" process="@this"/>
			</p:selectOneMenu>
		</td>
		<td>
			<p:message for="cboAccountRole" display="icon" id="iconCboAccountRole"/>
		</td>
	</tr>

</html>