<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
				<tr>
					<td>
						<h:outputText value="#{msgs['otc.operation.haveresponsible']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<p:selectOneRadio id="rdbBooleanType" required="true" value="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge}" 
										  disabled="true">
							<f:selectItems value="#{otcOperationMgmt.booleanTypeList}" var="yesNo" itemLabel="#{yesNo.value}" itemValue="#{yesNo.code}"/>
							<p:ajax event="valueChange" update="accountNegotiationAccPanel" global="false" process="@this" 
									listener="#{otcOperationMgmt.cleanHolderAccountNegotiationHandler}"/> 
						</p:selectOneRadio>
					</td>
					<td>
						<p:message for="rdbBooleanType" display="icon"></p:message>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['otc.operation.responsible']} (*)" styleClass="required-field" rendered="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge==1}"/>
					</td>
					<td>
						<p:selectOneMenu id="cboParticipantCharge" value="#{otcOperationMgmt.holdAccountOperationRequest.inchargeFundsParticipant.idParticipantPk}" required="true"
										 rendered="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge==1}" disabled="#{otcOperationMgmt.otcOperationParamSession.isInchargedDisabled}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/>
							<f:selectItems value="#{otcOperationMgmt.otcOperationParamSession.participantForChange}" var="participant"
										   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
								<p:ajax event="change" global="false" update="accountNegotiationAccPanel" process="@this" listener="#{otcOperationMgmt.evaluateParticipantInCharge}"/> 
						</p:selectOneMenu>
					</td>
					<td>
						<p:message for="cboParticipantCharge" display="icon"/>
					</td>
				</tr>
</html>