<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
			<tr>
				<td colspan="4">
					<p:separator></p:separator>
				</td>		
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.term.day']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText value="#{otcParameters.mechanismOperationAuxiliar.termSettlementDays}" styleClass="content-right" maxlength="3" 
								 id="txtTermSettlementDaysSec" required="true" style="width:200px"
								 disabled="true">
						<p:keyFilter regEx="#{gconst['exp.regular.numeric.unsigned']}"/>
						<p:ajax event="blur" listener="#{otcOperationMgmt.changeTermSettlementDays}" update="txtTermSettlementDaysSec,calTermSettlementDateSec,:opnlGenericDialogs" global="false"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.term.date']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:calendar value="#{otcParameters.mechanismOperationAuxiliar.termSettlementDate}" 
								disabled="true" 
								id="calTermSettlementDateSec" required="true"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.term.amount']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputNumber value="#{otcParameters.mechanismOperationAuxiliar.termAmount}" id="txtTermAmountSec" required="true" 
								    style="text-align: right;width:200px" maxValue="#{msgs['lbl.maxium.value']}"
								    disabled="true" thousandSeparator="," decimalSeparator=".">
						<p:ajax global="false" listener="#{otcOperationMgmt.changeTermSettlementDays}" update="txtTermAmountSec,txtTermPriceSec,txtAmountRateSec"/>
					</p:inputNumber>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.term.price']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputNumber value="#{otcParameters.mechanismOperationAuxiliar.termPrice}" id="txtTermPriceSec" 
								   disabled="true" style="text-align: right;width:130px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="."/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.te']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputNumber value="#{otcParameters.mechanismOperationAuxiliar.amountRate}" id="txtAmountRateSec" thousandSeparator="," decimalSeparator="."  
								   disabled="true" style="text-align: right;width:200px" maxValue="99999" decimalPlaces="2" symbol="%" symbolPosition="s" minValue="0"/>
				</td>
			</tr>
</html>