<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
	<h:outputText value="#{msgs['lbl.detail.title.otc']}" styleClass="title-page" />
	<h:form id="frmOtcOperation">
		<p:outputPanel id="pnlOtcOperation">
		<p:fieldset legend="#{msgs['lbl.form.data']}">
		
		<p:outputPanel id="pnlNegotiationDate">
		<p:fieldset legend="#{msgs['otc.operation.negotiationdate']}" id="flsNegotiationDate">
			<table width="100%">
				<tr>
					<td width="15%"><h:outputText value="#{msgs['otc.operation.requestorigin']} (*)" styleClass="required-field"/></td>
					<td width="20%">
						<p:selectOneMenu id="cboRequest" value="#{otcOperationMgmt.mechanismOperationOtcSession.originRequest}" required="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/>
							<f:selectItems value="#{otcOperationMgmt.lstCboOtcOriginRequestType}" var="originRequest"
										   itemValue="#{originRequest.parameterTablePk}" itemLabel="#{originRequest.parameterName}"/>
							<p:ajax event="change" global="false" update="pnlNegotiationDate" listener="#{otcOperationMgmt.changeParticipantSeller}"/>
						</p:selectOneMenu>
					</td>
					<td width="5%">
						<p:message for="cboRequest" display="icon"></p:message>
					</td>
					<td width="15%"><h:outputText value="#{msgs['otc.operation.number']} " /></td>
					<td colspan="2">
						<p:inputText disabled="true"/>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.modality']} (*)" styleClass="required-field"/></td>
					<td>
						<p:selectOneMenu id="cboModalities" value="#{otcOperationMgmt.mechanismOperationOtcSession.mechanisnModality.id.idNegotiationModalityPk}" required="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/> 
							<f:selectItems value="#{otcOperationMgmt.mechanismModalityList}" var="modality"
								   itemLabel="#{modality.negotiationModality.modalityName}" 
								   itemValue="#{modality.negotiationModality.idNegotiationModalityPk}"/>
							<p:ajax event="change" global="false" update="pnlNegotiationDate pnlSettlement pnlNegotiationAccount"/>  
						</p:selectOneMenu>
					</td>
					<td>
						<p:message for="cboModalities" display="icon"/>
					</td>
					<td><h:outputText value="#{msgs['otc.operation.exchange.rato']} (*)" styleClass="required-field"/></td> 
					<td>
						<p:inputText disabled="true" value="#{otcOperationMgmt.mechanismOperationOtcSession.exchangeRate}"></p:inputText>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.operationdate']} (*)" styleClass="required-field"/></td>
					<td colspan="2">
						<p:calendar value="#{otcOperationMgmt.mechanismOperationOtcSession.operationDate}" id="calOperationDate" readonlyInput="true" readonly="#{facesContext.renderResponse}"
									pattern="#{cons['dateFormat']}" navigator="true" disabled="true"/>
					</td>
					<td><h:outputText value="#{msgs['otc.operation.operationdate.ref']} (*)" styleClass="required-field"/></td>
					<td>
						<p:calendar value="#{otcOperationMgmt.mechanismOperationOtcSession.operationDate}" id="calOperationDateRef" showOn="button" readonlyInput="true" readonly="#{facesContext.renderResponse}"
									pattern="#{cons['dateFormat']}" navigator="true" maxdate="#{otcOperationMgmt.mechanismOperationOtcSession.operationDate}"/>   
					</td>
					<td>
						<p:message for="calOperationDateRef" display="icon"/>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.participant.buy']} (*)" styleClass="required-field"/></td>
					<td colspan="3">
						<p:selectOneMenu id="cboParticipantBuy" value="#{otcOperationMgmt.mechanismOperationOtcSession.buyerParticipant.idParticipantPk}" required="true"
										 disabled="#{otcOperationMgmt.participantBuyDisabledHandler}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/> 
							<f:selectItems value="#{otcOperationMgmt.participantToBuyList}" var="participant"
										   itemLabel="#{participant.description} - #{participant.idParticipantPk}" itemValue="#{participant.idParticipantPk}"/>
							<p:ajax event="change" global="false" update="pnlNegotiationDate" listener="#{otcOperationMgmt.changeParticipantBuyer}"/>
						</p:selectOneMenu>
					</td>
					<td>
						<p:message for="cboParticipantBuy" display="icon"/>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.participant.sell']} (*)" styleClass="required-field"/></td>
					<td colspan="3"> 
						<p:selectOneMenu id="cboParticipantSell" value="#{otcOperationMgmt.mechanismOperationOtcSession.sellerParticipant.idParticipantPk}" required="true"
										 disabled="#{otcOperationMgmt.participantSellDisabledHandler}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/> 
							<f:selectItems value="#{otcOperationMgmt.participantList}" var="participant2"
										   itemLabel="#{participant2.description} - #{participant2.idParticipantPk}" itemValue="#{participant2.idParticipantPk}"/>
								<p:ajax event="change" global="false" update="pnlNegotiationDate" listener="#{otcOperationMgmt.changeParticipantSeller}"/>
						</p:selectOneMenu>
					</td>
					<td>
						<p:message for="cboParticipantSell" display="icon" id="iconPlarticipantSell"/>
					</td>
				</tr>
			</table>
		</p:fieldset>
		</p:outputPanel>
		
		<p:outputPanel id="pnlSettlement">
		<p:fieldset legend="#{msgs['otc.operation.settlementdata']}" id="flsSettlemet">
			<table width="100%">
				<tr>
					<td width="15%"><h:outputText value="#{msgs['otc.operation.settlementschema']} (*)" styleClass="required-field"/></td>
					<td width="20%" >
						<h:outputText id="txtSettelementScheme" value="#{otcOperationMgmt.searchNegModalityOnListFromPK(otcOperationMgmt.mechanismOperationOtcSession.mechanisnModality.id.idNegotiationModalityPk).settlementSchemaDescription}"/>
					</td>
					<td width="5%"></td>
					<td width="15%"><h:outputText value="#{msgs['otc.operation.settlement.type']} (*)" styleClass="required-field"/></td>
					<td>
						<h:outputText id="txtSettlementType" value="#{otcOperationMgmt.searchNegModalityOnListFromPK(otcOperationMgmt.mechanismOperationOtcSession.mechanisnModality.id.idNegotiationModalityPk).settlementTypeDescription}"/>
					</td>
					<td width="5%"></td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.security.isin']} (*)" styleClass="required-field"/></td>
					<td colspan="5">
						<p:outputPanel id="pnlSecurity">
						<table width="100%">
							<tr> 
								<td>
									<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.idIsinCodePk}" maxlength="12" id="txtSecurity"
												 disabled="#{empty otcOperationMgmt.mechanismOperationOtcSession.mechanisnModality.id.idNegotiationModalityPk}" required="true"> 
									<p:ajax event="blur" listener="#{otcOperationMgmt.changeSecurity}" update="pnlSecurity :opnlGenericDialogs :cnfMsgCustomValidationNeg"/>
									</p:inputText>
									<p:commandButton value="..."></p:commandButton>
									<p:inputText id="txtSecurityDescription" size="120" value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.description}" disabled="true"/>
								</td>
								<ui:remove>
								<td>
									<p:message for="txtSecurity" display="icon"></p:message>
								</td>
								</ui:remove>
							</tr>
							<tr>
								<td>
								<p:outputPanel id="pnlsecurityDetail" rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.securities.idIsinCodePk}">
									<table>
									<tr>
										<td style="border:1px dotted gray">
										<h:outputLabel value="#{msgs['otc.operation.security.instrument']}: "/>
										<h:outputLabel value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.instrumentTypeDescription}" styleClass="required-field"/>	
										</td>
										<td>
										<h:outputLabel value="#{msgs['otc.operation.security.issuer']}: "/> 
										<h:outputLabel value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.issuer.businessName}  " styleClass="required-field"/>										
										</td>
										<td style="border:1px dotted gray">
										<h:outputLabel value="#{msgs['otc.operation.security.currency']}: "/>
										<h:outputLabel value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.currencyIsoTypeDescription}" styleClass="required-field"/>
										</td>
										<td>
										<h:outputLabel value="#{msgs['otc.operation.security.valnom']}: "/>
										<h:outputLabel value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.currentNominalValue}" styleClass="required-field"/>
										</td>
										<td style="border:1px dotted gray">
										<h:outputLabel value="#{msgs['otc.operation.security.class']}: "/>
										<h:outputLabel value="#{otcOperationMgmt.mechanismOperationOtcSession.securities.classTypeDescription}" styleClass="required-field"/>
										</td>
									</tr>
									</table>
								</p:outputPanel>
								</td>
							</tr>
						</table>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.security.quantity']}(*)" styleClass="required-field"/></td>
					<td>
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.stockQuantity}" styleClass="content-right" id="txtSecurityStock" maxlength="20"
									 required="true">
							<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
							<p:ajax event="blur" listener="#{otcOperationMgmt.changeStockQuantity}" global="false" 
									update="pnlSettlement pnlNegotiationAccount :opnlGenericDialogs" process="@this"/>  
						</p:inputText>
					</td>
					<td>
						<p:message for="txtSecurityStock" display="icon" id="iconTxtSecurityStock"></p:message>
					</td>
				</tr>
				<!-- FOR REAL CASH AMOUNT, PRICE -->
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.security.amount.clean']}"/></td>
					<td colspan="2">
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.realCashAmount}" styleClass="content-right"
									 disabled="true">
						</p:inputText>
					</td>
					<td>
						<h:outputText value="#{msgs['otc.operation.security.price.clean']}" id="txtRealCashAmount"
									  rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.realCashAmount}"/>
					</td>
					<td colspan="2">
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.realCashPrice}" disabled="true" styleClass="content-right"
									 rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.realCashAmount}"/>
					</td>
				</tr>
				<!-- END - FOR REAL CASH AMOUNT, PRICE -->
				<!-- FOR CASH AMOUNT, PRICE -->
				<tr>
					<td>
						<h:outputText value="#{msgs['otc.operation.security.amount.dirty']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.cashAmount}" styleClass="content-right" id="txtCashAmount" required="true"
									 disabled="#{empty otcOperationMgmt.mechanismOperationOtcSession.stockQuantity}">
							<p:ajax event="blur" listener="#{otcOperationMgmt.changeCashAmount}" update="pnlSettlement :opnlGenericDialogs" global="false"/> 
						</p:inputText>
					</td>
					<td>
						<p:message for="txtCashAmount" display="icon"></p:message>
					</td>
					<td>
						<h:outputText value="#{msgs['otc.operation.security.price.dirty']} (*)" styleClass="required-field"
									  rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.cashAmount}"/>
					</td>
					<td>
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.cashPrice}" styleClass="content-right" id="txtCashPrice" required="true" 
									 rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.cashAmount}" disabled="true">
						</p:inputText>
					</td>
					<td>
						<p:message for="txtCashPrice" display="icon"></p:message>
					</td>
				</tr>
				<!-- END - FOR CASH AMOUNT, PRICE -->
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.settlementcash.day']} (*)" styleClass="required-field"/></td>
					<td>
						<p:inputText value="#{otcOperationMgmt.mechanismOperationOtcSession.cashSettlementDays}" styleClass="content-right" maxlength="3" id="txtCashSettlementDays" required="true">
							<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
							<p:ajax event="blur" listener="#{otcOperationMgmt.validateSettlementDays}" update="pnlSettlement :opnlGenericDialogs :cnfMsgCustomValidationNeg" global="false"/>
						</p:inputText>
					</td>
					<td>
						<p:message for="txtCashSettlementDays" display="icon"></p:message>
					</td>
					<td><h:outputText value="#{msgs['otc.operation.settlementcash.date']} (*)" styleClass="required-field"/></td>
					<td>
						<p:calendar value="#{otcOperationMgmt.mechanismOperationOtcSession.cashSettlementDate}" disabled="true" id="calCashSettlementDate" required="true"/>
					</td>
					<td>
						<p:message for="calCashSettlementDate" display="icon"></p:message>
					</td>
				</tr>
			</table>
		</p:fieldset>
		</p:outputPanel>
		
		<p:outputPanel id="pnlNegotiationAccount">
		<p:fieldset legend="#{msgs['otc.operation.negotiationaccount']}" id="flsAccountNegotiation">
			<p:outputPanel>
			<table width="100%" border="0">
				<tr>
					<td colspan="6">
					<p:outputPanel rendered="#{otcOperationMgmt.searchNegModalityOnListFromPK(otcOperationMgmt.mechanismOperationOtcSession.mechanisnModality.id.idNegotiationModalityPk).indIncharge==1}"
									id="pnlInCharge">
					<table width="100%">
						<tr>
							<td width="15%">
								<h:outputText value="#{msgs['otc.operation.haveresponsible']} (*)" styleClass="required-field"/>
							</td>
							<td width="20%" colspan="3">
								<p:selectOneRadio id="rdbBooleanType" required="true" value="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge}">
									<f:selectItems value="#{otcOperationMgmt.booleanTypeList}" var="yesNo" itemLabel="#{yesNo.value}" itemValue="#{yesNo.code}"/>
									<p:ajax event="valueChange" update="pnlNegotiationAccount" global="false" process="@this" 
											listener="#{otcOperationMgmt.cleanHolderAccountNegotiationHandler}"/> 
								</p:selectOneRadio>
							</td>
							<td width="5%">
								<p:message for="rdbBooleanType" display="icon"></p:message>
							</td>
						</tr>
						<tr>
							<td width="15%">
								<h:outputText value="#{msgs['otc.operation.responsible']} (*)" styleClass="required-field" rendered="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge==1}"/>
							</td>
							<td width="20%">
								<p:selectOneMenu id="cboParticipantCharge" value="#{otcOperationMgmt.holdAccountOperationRequest.inchargeFundsParticipant.idParticipantPk}" required="true"
												 rendered="#{otcOperationMgmt.holdAccountOperationRequest.indIncharge==1}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/>
									<f:selectItems value="#{otcOperationMgmt.participantForCharge}" var="participant"
												   itemLabel="#{participant.description} - #{participant.idParticipantPk}" itemValue="#{participant.idParticipantPk}"/>
										<p:ajax event="change" global="false" update="pnlNegotiationAccount"/> 
								</p:selectOneMenu>
							</td>
							<td>
								<p:message for="cboParticipantCharge" display="icon"/>
							</td>
						</tr>
					</table>
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="15%">
						<h:outputText value="#{msgs['otc.operation.participation']} (*)" styleClass="required-field"/>
					</td>
					<td width="20%">
						<p:selectOneMenu value="#{otcOperationMgmt.holdAccountOperationRequest.role}" required="true" id="cboAccountRole" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectxlarge']}"/>
							<f:selectItems value="#{otcOperationMgmt.participantRoleTypeList}" var="particRol" 
										   itemLabel="#{particRol.position}" itemValue="#{particRol.code}"/>
								<p:ajax event="change"  global="false" update="cboAccountRole iconCboAccountRole" process="@this"/>
						</p:selectOneMenu>
					</td>
					<td width="5%">
						<p:message for="cboAccountRole" display="icon" id="iconCboAccountRole"></p:message>
					</td>
					<td width="15%">	
						<h:outputText value="#{msgs['otc.operation.holderaccount']} (*)" styleClass="required-field"/>
					</td>
					<td width="30%">
						<p:outputPanel id="pnlHoldAccount">
						<ark:account holderAccount="#{otcOperationMgmt.holdAccountOperationRequest.holderAccount}" alternative="true" description="true"
									 disabled="#{empty otcOperationMgmt.participantForHoldAccountNegotiation}" remoteListener="rmtHolderAccount()" 
									 required="#{not empty otcOperationMgmt.participantForHoldAccountNegotiation}"
									 partCode="#{otcOperationMgmt.participantForHoldAccountNegotiation.idParticipantPk}">
						</ark:account>
						<p:remoteCommand name="rmtHolderAccount" actionListener="#{otcOperationMgmt.changeHolderAccountt}" immediate="true" process="@this"
								 		 update="pnlHoldAccount :opnlGenericDialogs">
						</p:remoteCommand>
						</p:outputPanel>
					</td>
					<td></td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['otc.operation.quantity']} (*)" styleClass="required-field"/></td>
					<td>
						<p:inputText value="#{otcOperationMgmt.holdAccountOperationRequest.stockQuantity}" id="txtStockQuantity" maxlength="20" size="25" styleClass="content-right" required="true">
							<p:ajax event="blur" update="pnlDialogsCustomized pnlNegotiationAccount :cnfMsgCustomValidationNeg" listener="#{otcOperationMgmt.changeStockQuantityAssigment}"
									global="false"/>
						</p:inputText>
					</td> 
					<td>
						<p:message for="txtStockQuantity" display="icon"/>
					</td>
					<td><h:outputText value="#{msgs['otc.operation.cashamount']}"/></td>
					<td>
						<p:inputText value="#{otcOperationMgmt.holdAccountOperationRequest.cashAmount}" disabled="true" styleClass="content-right"/>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<p:commandButton value="#{gmsgs['btn.agregar']}" icon="ui-add" process="pnlNegotiationAccount" 
										 update="pnlNegotiationAccount pnlHoldAccNegotiationGrid :opnlGenericDialogs :cnfMsgCustomValidationNeg" 
										 actionListener="#{otcOperationMgmt.addNewAccountOperation}"/>
						<p:commandButton value="#{gmsgs['btn.limpiar']}" icon="fa fa-trash"/>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td width="100%">
					<p:outputPanel id="pnlHoldAccNegotiationGrid">
						<p:outputLabel value="#{msgs['otc.operation.negotiation.accounts.asociated']} (*)" styleClass="required-field"
									   rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.holderAccountOperations}"/>
						<p:dataTable var="holdAccNegotiation" value="#{otcOperationMgmt.holderAccountOperationListValidated}"
									 rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.holderAccountOperations}"
									 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
							<p:column headerText="#{msgs['otc.operation.role']}" styleClass="content-center" sortBy="#{holdAccNegotiation.role}">
								<h:outputText value="#{holdAccNegotiation.rolePosition}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.number']}" styleClass="content-center" sortBy="#{holdAccNegotiation.holderAccount.accountNumber}">
								<h:outputText value="#{holdAccNegotiation.holderAccount.accountNumber}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.alternativecode']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.holderAccount.alternateCode}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.description']}" styleClass="content-left" sortBy="#{holdAccNegotiation.holderAccount.accountDescription}">
								<h:outputFormat value="#{holdAccNegotiation.holderAccount.accountDescription}" escape="false" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.participant.incharge']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.inchargeFundsParticipant.idParticipantPk}-#{holdAccNegotiation.inchargeFundsParticipant.mnemonic}" 
											  rendered="#{holdAccNegotiation.indIncharge==1}"/>
								<h:outputText value="#{msgs['lbl.empty']}" rendered="#{holdAccNegotiation.indIncharge==0}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.quantity.sell']}" styleClass="content-center" sortBy="#{holdAccNegotiation.stockQuantity}">
								<h:outputText value="#{holdAccNegotiation.stockQuantity}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.amount.contab']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.cashAmount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.amount.plaze']}" styleClass="content-center" 
									  rendered="#{otcOperationMgmt.mechanisnModalityIndPlazeHandler}">
								<h:outputText value=""/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.action']}" styleClass="content-center">
								<p:commandLink actionListener="#{otcOperationMgmt.confirmRemoveAccountOnDataTableHandler(holdAccNegotiation)}" 
											   title="#{msgs['otc.operation.delete']}" immediate="true"
											   update=":frmOtcOperation:pnlHoldAccNegotiationGrid :frmOtcOperation:pnlDialogsCustomized">
									<p:graphicImage style="cursor:pointer;" library="img" name="icons/rejected.png"/>
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					</td>
				</tr>
			</table>
			</p:outputPanel>
		</p:fieldset>
		</p:outputPanel>
		<p:outputPanel>
			<table width="100%" align="center">
				<tr>
					<td align="center">
						<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" update="@form :opnlGenericDialogs"
										 process="@this,flsNegotiationDate,flsSettlemet" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}"/> 
						<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="search" process="@this"
										 ajax="false" immediate="true"/>
					</td>
				</tr>
			</table>
		</p:outputPanel> 
		</p:fieldset>
		</p:outputPanel>
		<p:outputPanel id="pnlDialogsCustomized">
			<p:confirmDialog id="cnfCleanAmountEntered" widgetVar="cnfwCleanAmountEntered" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton id="cmbConfirmCleanAmount" value="#{gmsgs['btn.yes']}"
								 process="@this" onclick="PF('cnfwCleanAmountEntered').hide()"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwCleanAmountEntered').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="cnfDeleteAccountNegotiation" widgetVar="cnfwDeleteAccountNegotiation" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" actionListener="#{otcOperationMgmt.removeAccountOnDataTableHandler}"
								 process="@this" onclick="PF('cnfwDeleteAccountNegotiation').hide()" update="pnlNegotiationAccount"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwDeleteAccountNegotiation').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="cnfOtcOperations" widgetVar="cnfwOtcOperations" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwOtcOperations').hide()" update="formMgmtOk" 
								 actionListener="#{otcOperationMgmt.saveOtcRequestHandler}"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwOtcOperations').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="search.xhtml" ajax="false" immediate="true" process="@this" update="@form"/>
			</p:confirmDialog>
		</p:outputPanel>
	</h:form>
</ui:define>
</ui:composition>
</html>