<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
		<tr>
			<td>
				<h:outputText value="Aforo %(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputNumber value="#{otcOperation.warrantyCause}" maxValue="100" required="true" id="txtTermWarrantyCause"
								disabled="#{(otcParameters.isSettlementPlazeDisabled) or !(otcOperationMgmt.viewOperationRegister)}" tabindex="21"
								style="text-align: right;width:200px" decimalPlaces="4" thousandSeparator="," decimalSeparator=".">
					<p:ajax process="@this" event="change" listener="#{otcOperationMgmt.changeWarrantyCause}" update="txtTermWarrantyCause, txtTermAmount, txtTermPrice"/>
				</p:inputNumber>
				<p:message for="txtTermWarrantyCause" display="icon"></p:message>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="Tasa Interes Repo %(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputNumber value="#{otcOperation.termInterestRate}" maxValue="100" required="true" id="txtTermInterestRate"
								disabled="#{(otcParameters.isSettlementPlazeDisabled) or !(otcOperationMgmt.viewOperationRegister)}" tabindex="21"
								style="text-align: right;width:200px" decimalPlaces="4" thousandSeparator="," decimalSeparator=".">
					<p:ajax process="@this" event="change" listener="#{otcOperationMgmt.changeTermInterestRate}" 
						update="txtTermInterestRate, txtTermAmount, txtTermPrice"/>
				</p:inputNumber>
				<p:message for="txtTermInterestRate" display="icon"></p:message>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.day']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputNumber value="#{otcOperation.termSettlementDays}" maxValue="999" required="true" id="txtTermSettlementDays"
								disabled="#{(otcParameters.isSettlementPlazeDisabled) or !(otcOperationMgmt.viewOperationRegister)}" tabindex="21"
								style="text-align: right;width:200px" decimalPlaces="0" requiredMessage="#{otc.operation.validation.termday.required}">
					<p:ajax process="@this" event="change" listener="#{otcOperationMgmt.changeTermSettlementDays}" 
								update="txtTermSettlementDays,calTermSettlementDate, txtTermAmount, txtTermPrice :opnlGenericDialogs"/>
				</p:inputNumber>
				<p:message for="txtTermSettlementDays" display="icon"></p:message>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.date']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:calendar value="#{otcOperation.termSettlementDate}" disabled="true"  pattern="#{cons['dateFormat']}" id="calTermSettlementDate" required="true"/>
			</td>
		</tr>
		<tr>		
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.price']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.termPrice}" id="txtTermPrice" thousandSeparator="," decimalSeparator="." 
							   disabled="true" style="text-align: right;width:130px" maxValue="#{msgs['maxiumvalue']}"/>
			</td>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.amount']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:inputNumber value="#{otcOperation.termAmount}" id="txtTermAmount" required="true"  tabindex="22"
							    style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" minValue="0" decimalPlaces="2"
							    disabled="#{(otcParameters.isSettlementPlazeDisabled) or !(otcOperationMgmt.viewOperationRegister)}"
							    thousandSeparator="," decimalSeparator="." requiredMessage="#{msgs['otc.operation.validation.term.amount']}">
					<p:ajax global="false" listener="#{otcOperationMgmt.changeTermAmount}" update="txtTermAmount,txtTermPrice :opnlGenericDialogs" event="change"/>					
				</p:inputNumber>
			</td>
		</tr>
</html>