	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instrumentType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="roleType"/>
<p:importConstants type="com.pradera.integration.common.type.BooleanType" var="bolType"/>
<p:importConstants type="com.pradera.model.negotiation.type.McnCancelReasonType" var="reasonType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="rolType"/>
<h:outputText value="#{msgs['otc.operation.register']}" styleClass="title-page"/>
<script type="text/javascript">
	$(window).on('load',function(){
		setInitialFormState('#frmOtcOperation');
	});
</script>
<h:form id="frmOtcOperation">
	<ui:param value="#{otcOperationMgmt.mechanismOperationOtcSession}" name="otcOperation"/>
	<ui:param value="#{otcOperation.indTermSettlement eq bolType.YES.code}" name="isTermSettlement"/>
	<ui:param value="#{otcOperationMgmt.holdAccountOperationRequest}" name="accountOperation"/>
	<ui:param value="#{otcOperationMgmt.otcOperationParamSession}" name="otcParameters"/>
	<ui:param value="#{otcOperationMgmt.depositarySetup}" name="iDepositSetup"/>
	
	<marketFact:marketfactBalance id="marketFactUI" bean="#{otcOperationMgmt}"  method="selectMarketFact" parameter="marketFactComponentUI">
	</marketFact:marketfactBalance>
	
	<ui:remove>
	<p:outputPanel rendered="#{iDepositSetup.indMarketFact eq bolType.YES.code}">
		<c:if test="#{otcOperationMgmt.mechanismOperationOtcSession.mechanismOperationMarketFacts != null and 
					  fn:length(otcOperationMgmt.mechanismOperationOtcSession.mechanismOperationMarketFacts) != 0}"> 
			<ui:param value="#{otcOperationMgmt.mechanismOperationOtcSession.mechanismOperationMarketFacts.get(0)}" name="markOperation"/>
		</c:if> 
		<c:if test="#{otcOperationMgmt.mechanismOperationOtcSession.mechanismOperationMarketFacts == null}"> 
		    <ui:param value="empty" name="markOperation"/>
		</c:if>
	</p:outputPanel>
	</ui:remove>
	
	<ui:include src="otcOperationSplitCoupon.xhtml"/>
	<p:outputPanel id="pnlMarketFact" rendered="#{iDepositSetup.indMarketFact eq bolType.YES.code}">
	<ui:include src="otcOperationMarketFact.xhtml"/>
	</p:outputPanel>
	
	<p:fieldset id="negotiationDateAccPanel" legend="#{msgs['otc.operation.negotiationdate']}">
		<table width="100%">
			<ui:include src="otcOperationSeparatorTables.xhtml"/>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationState']} (*)" styleClass="required-field" 
								  rendered="#{otcOperation.tradeOperation.operationState != null}"/>
				</td>
				<td>
					<h:outputText value="#{otcOperation.tradeOperation.otcOperationState}" rendered="#{not empty otcOperation.tradeOperation.operationState}"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.requestorigin']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu  
						id="cboRequest" value="#{otcOperation.originRequest}" required="#{(otcOperationMgmt.viewOperationRegister)}"
									 disabled="#{otcOperationMgmt.otcOperationParamSession.isOriginRequestDisabled or !(otcOperationMgmt.viewOperationRegister)}"
									 label="#{msgs['otc.operation.requestorigin']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.lstCboOtcOriginRequestType}" var="originRequest"
									   itemValue="#{originRequest.parameterTablePk}" itemLabel="#{originRequest.parameterName}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" process="@this"
				update="cboRequest,iconCbRequest,cboParticipantBuy,repoOperationAccPanel,settlementAccPanel,accountNegotiationAccPanel,cboModalities,cboParticipantSell" 
								listener="#{otcOperationMgmt.reLoadOtcOperationParameters()}"/>
					</p:selectOneMenu>
					</h:panelGrid>
					<p:message for="cboRequest" display="icon" id="iconCbRequest"/>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.request.number']} (*)" styleClass="required-field" rendered="#{otcOperation.idMechanismOperationPk != null}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{otcOperation.idMechanismOperationPk}" rendered="#{otcOperation.idMechanismOperationPk != null}" />
				</td>
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.exchange.rato']} (*)" styleClass="required-field" rendered="false"/></td> 
				<td>
					<p:inputNumber disabled="true" rendered="false" value="#{otcOperation.exchangeRate}" styleClass="content-right" thousandSeparator="," decimalSeparator="." />
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.number']} " rendered="#{otcOperation.operationNumber != null}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{otcOperation.operationNumber}" rendered="#{otcOperation.operationNumber != null}" />
				</td>
			</tr>
			<tr>
				<ui:remove>
				<td>
					<h:outputText value="#{msgs['otc.operation.instrument']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneRadio value="#{otcOperationMgmt.otcOperationParamSession.instrumentTypeSelected}" 
						disabled="#{!(otcOperationMgmt.viewOperationRegister)}"  id="rdioBooleanType">
						<f:selectItems value="#{otcOperationMgmt.otcOperationParamSession.instrumentTypeList}" var="instType" 
									   itemLabel="#{instType.value}#{msgs['lbl.space']}" itemValue="#{instType.code}"/>
						<p:ajax event="change" listener="#{otcOperationMgmt.changeOperationInstrument}" process="@this"
								update="cboModalities,cboParticipantBuy,cboParticipantSell,"/>
					</p:selectOneRadio>
				</td>
				</ui:remove>
				
				<td><h:outputText value="#{msgs['otc.operation.modality']} (*)" styleClass="required-field"/></td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboModalities" value="#{otcOperation.mechanisnModality.id.idNegotiationModalityPk}" required="#{(otcOperationMgmt.viewOperationRegister)}"
									 disabled="#{!(otcOperationMgmt.viewOperationRegister)}" requiredMessage="#{msgs['otc.operation.validation.modality']}" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.otcOperationParamSession.lstNegotiationModality}" var="modality"
									   itemLabel="#{modality.modalityName}"
									   itemValue="#{modality.idNegotiationModalityPk}" />
						<p:ajax event="change" update="txtReferenceNumber,cboModalities,iconCboModalities,cboParticipantSell,cboParticipantBuy,
													   pnlParticipantSell, pnlParticipantBuy,repoOperationAccPanel, settlementAccPanel" process="@this"
								listener="#{otcOperationMgmt.changeNegotiationModality}"/>
					</p:selectOneMenu>
					<p:message for="cboModalities" display="icon" id="iconCboModalities"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.operationdate']} (*)" styleClass="required-field"/></td>
				<td>
					<p:calendar value="#{otcOperation.operationDate}" id="calOperationDate" readonlyInput="true" 
								pattern="#{gconst['dateFormat']}" navigator="true" disabled="true" />
				</td>
				<td><h:outputText value="#{msgs['otc.operation.operationdate.ref']} (*)" styleClass="required-field" rendered="false"/></td>
				<td>
					<p:calendar value="#{otcOperation.referenceDate}" id="calOperationDateRef" showOn="button" readonlyInput="true" 
								pattern="#{gconst['dateFormat']}" navigator="true" maxdate="#{otcOperationMgmt.mechanismOperationOtcSession.operationDate}"
								disabled="#{!(otcOperationMgmt.viewOperationRegister)}" rendered="false" />   
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantSell">
						<h:outputText value="#{msgs['otc.operation.participant.sell']} (*)" styleClass="required-field" 
									  rendered="#{!otcOperationMgmt.otcOperationParamSession.isSwap}"/>
						<h:outputText value="#{msgs['otc.operation.participant.sell.a']} (*)" styleClass="required-field" 
									  rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboParticipantSell" value="#{otcOperation.sellerParticipant.idParticipantPk}" required="#{(otcOperationMgmt.viewOperationRegister)}"
									 disabled="#{otcOperationMgmt.userInfo.userAccountSession.participantInstitucion or !(otcOperationMgmt.viewOperationRegister) or 
									 otcOperationMgmt.userInfo.userAccountSession.issuerDpfInstitucion or otcOperationMgmt.userInfo.userAccountSession.participantInvestorInstitucion }"
									 style="width:600px" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.participantList}" var="participant2"
									   itemLabel="#{participant2.displayDescriptionCode}" itemValue="#{participant2.idParticipantPk}"/>
						<p:ajax event="change" process="@this" listener="#{otcOperationMgmt.changeParticipantSeller}"
								update="cboParticipantBuy,iconPlarticipantSell,cboParticipantSell,txtReferenceNumber,
										repoOperationAccPanel,settlementAccPanel,accountNegotiationAccPanel"/>
					</p:selectOneMenu>
					<p:message for="cboParticipantSell" display="icon" id="iconPlarticipantSell"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantBuy">
					<h:outputText value="#{msgs['otc.operation.participant.buy']} (*)" styleClass="required-field" rendered="#{!otcOperationMgmt.otcOperationParamSession.isSwap}"/>
					<h:outputText value="#{msgs['otc.operation.participant.buy.b']} (*)" styleClass="required-field" rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboParticipantBuy" value="#{otcOperation.buyerParticipant.idParticipantPk}" required="#{(otcOperationMgmt.viewOperationRegister)}"
									 disabled="#{otcOperationMgmt.otcOperationParamSession.isPartBuyerDisabled or !(otcOperationMgmt.viewOperationRegister)}"
									 requiredMessage="#{msgs['otc.operation.validation.participbuy.required']}" style="width:600px" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{otcOperationMgmt.participantToBuyList}" var="participant"
									   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
							<p:ajax event="change" update="iconCboParticipantBuy,cboParticipantBuy,cboParticipantSell,txtReferenceNumber,
									 					   repoOperationAccPanel,settlementAccPanel,accountNegotiationAccPanel" 
									listener="#{otcOperationMgmt.changeParticipantBuyer}" process="@this"/>
					</p:selectOneMenu>
					<p:message for="cboParticipantBuy" display="icon" id="iconCboParticipantBuy"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.reference']}" rendered="false" />
				</td>
				<td>
					<p:inputText disabled="#{!(otcOperationMgmt.viewOperationRegister)
											or (otcOperation.mechanisnModality.id.idNegotiationModalityPk == null)
											or (otcOperation.sellerParticipant.idParticipantPk == null)}"
								 rendered="false"
								 value="#{otcOperation.referenceNumber}" maxlength="18" id="txtReferenceNumber" >
						<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.not.space']}"/>
						<p:ajax event="blur" process="@this" listener="#{otcOperationMgmt.validateReferenceNumber}" 
							update="txtReferenceNumber,:opnlGenericDialogs"/>
					</p:inputText>
				</td>
			</tr>
		</table>
	</p:fieldset>
	
	<p:outputPanel id="repoOperationAccPanel">
	<p:fieldset legend="#{msgs['otc.operation.operationrepo.data']}" id="outPanelSecReport" rendered="#{otcOperationMgmt.otcOperationParamSession.isSecundaryReport}">
	<table width="100%">
		<ui:include src="otcOperationSeparatorTables.xhtml"/>
		<tr>
			<td>
				<h:outputText value="#{msgs['otc.operation.repo.operation.date']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:calendar value="#{otcParameters.mechanismOperationAuxiliar.operationDate}" maxdate="#{otcParameters.mechanismOperationAuxiliar.operationDate}"
							pattern="#{gconst['dateFormat']}" navigator="true" readonlyInput="true" showOn="button">
					<p:ajax event="dateSelect" listener="#{otcOperationMgmt.cleanOperationDateOnRepoSecundaryHandler}" update="txtRepoNumber" process="@this"/>
				</p:calendar>
			</td>
			<td>
				<h:outputText value="#{msgs['otc.operation.repo.operation.number']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputText value="#{otcParameters.mechanismOperationAuxiliar.operationNumber}" maxlength="4" styleClass="amount-inputField" id="txtRepoNumber"
				     		 required="#{(otcOperationMgmt.viewOperationRegister)}" requiredMessage="#{msgs['otc.operation.validation.operationnumber.required']}"
				     		 validator="inputRequiredValidator" label="#{msgs['otc.operation.repo.operation.number']}">
					<p:keyFilter regEx="#{gconst['exp.regular.numeric.unsigned']}"/>
					<p:ajax listener="#{otcOperationMgmt.findMechanismOperation}" event="change" process="@this" 
							update="repoOperationAccPanel,settlementAccPanel,:opnlGenericDialogs"/>
				</p:inputText>
				<p:message for="txtRepoNumber" display="icon"/>
				</h:panelGrid>
			</td>
		</tr> 
		<p:outputPanel id="pnlSecundaryReportPlaze" rendered="#{otcParameters.isSecundaryReport and (not empty otcParameters.mechanismOperationAuxiliar.operationNumber)}">
			<ui:include src="otcOperationPlazeRepoSecundary.xhtml"/>
		</p:outputPanel>
	</table>
	
	</p:fieldset>
	</p:outputPanel>
	
	<p:fieldset id="settlementAccPanel" legend="#{msgs['otc.operation.settlementdata']}">
	<table width="100%">
			<ui:include src="otcOperationSeparatorTables.xhtml"/>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.payment.ref']} (*)" styleClass="required-field" rendered="#{not empty otcOperationMgmt.mechanismOperationOtcSession.paymentReference}"/>
				</td>
				<td colspan="3">
					<h:outputText value="#{otcOperation.paymentReference} " rendered="#{not empty otcOperation.paymentReference}"/>											
				</td>
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.settlementschema']} (*)" styleClass="required-field"/></td>
				<td>
					<p:selectOneMenu value="#{otcOperation.settlementSchema}" disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.lstSchemeType}" var="schem" itemLabel="#{schem.parameterName}" itemValue="#{schem.elementSubclasification1}"/>
					</p:selectOneMenu>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.type']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu value="#{otcOperation.settlementType}" disabled="#{!(otcOperationMgmt.viewOperationRegister)}" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.lstSettlementType}" var="sett" itemLabel="#{sett.parameterName}" itemValue="#{sett.elementSubclasification1}"/>
						<p:ajax event="change" listener="#{otcOperationMgmt.changeSettlementType}" process="@this" />
					</p:selectOneMenu>
				</td>
			</tr>
			<p:outputPanel  id="pnlOperationsGeneric">
			<tr>
				<td colspan="4">
					<p:spacer></p:spacer>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.code.a']} (*)" styleClass="required-field" rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}"/>
					<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field" rendered="#{!otcOperationMgmt.otcOperationParamSession.isSwap}"/>
				</td>
				<td colspan="3">
				<table width="100%">
					<tr>
					<td>
						<p:outputPanel id="pnlHelpSecurity" 
									   rendered="#{otcOperationMgmt.viewOperationRegister and !(otcOperationMgmt.otcOperationParamSession.isSecundaryReport)}">
							<h:panelGrid columns="4">	
								<ark:securityHelper security="#{otcOperation.securities}" remoteListener="rmtSecurity()" 
													disabled="#{otcOperation.sellerParticipant.idParticipantPk == null or 
																otcOperation.mechanisnModality.id.idNegotiationModalityPk == null or 
																otcOperation.buyerParticipant.idParticipantPk == null }" required="#{(otcOperationMgmt.viewOperationRegister)}" id="idValorA"
													label="#{msgs['otc.operation.negotiationdate']}" validatorName="com.pradera.commons.view.validators.InputTextValidator">
								</ark:securityHelper>
								<p:message id="messageArkSecurity" display="icon" for=":frmOtcOperation:idValorA:idValorA"/>
								<p:remoteCommand actionListener="#{otcOperationMgmt.changeSecurity}" id="rmtSecurity" immediate="true" name="rmtSecurity" process="@this" 
												 update="@form frmOtcOperation:idValorA:outpnlSecurity, txtNominalValue, cboCurrency,
												 		 				txtSecurityStock,
												 		 				pnlHelpSecurity, :opnlGenericDialogs, 
												 		 				frmOtcOperation:rateOpText, frmOtcOperation:rateOpPnl, frmOtcOperation:priceOpPnl 
												 		 				txtMarkRateVariable txtMarkPriceVariable 
								       									pnlRealAmountRate pnlRealCashPrice 
								       									txtCleanPrice txtRealCashPrice txtCleanAmount txtRealCashAmount
								       									holderHelp holderHelp:outpnlHolder rmtHolder tableHolderAccounts"/> 
								<arkHelp:securities-help securityCode="#{otcOperation.securities.idSecurityCodePk}"/>
							</h:panelGrid>
						</p:outputPanel>
						<p:outputPanel rendered="#{!(otcOperationMgmt.viewOperationRegister) or otcOperationMgmt.otcOperationParamSession.isSecundaryReport}">
							<h:panelGrid columns="4">
								<p:inputText value="#{otcOperation.securities.idSecurityCodePk}" maxlength="12" id="txtSecurity" disabled="true" required="#{(otcOperationMgmt.viewOperationRegister)}"/> 
								<p:commandButton value="#{msgs['lbl.point.short']}" disabled="true"/>
								<p:inputText id="txtSecurityDescription" size="60" value="#{otcOperation.securities.description}" disabled="true"/>
								<arkHelp:securities-help securityCode="#{otcOperation.securities.idSecurityCodePk}" />
							</h:panelGrid>
						</p:outputPanel>
					</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel value="Valor nominal unitario"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperation.nominalValue}" id="txtNominalValue" disabled="true" maxValue="#{msgs['lbl.maxium.value']}" 
									thousandSeparator="," decimalSeparator="."/>
				</td>
				<td>
					<h:outputLabel value="#{msgs['otc.operation.security.currency']}: "/>
				</td>
				<td>
					<p:selectOneMenu value="#{otcOperation.currency}" required="#{(otcOperationMgmt.viewOperationRegister)}" label="#{msgs['otc.operation.security.currency']}"
									 	 id="cboCurrency"  disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{otcOperationMgmt.lstCurrency}" var="money" itemValue="#{money.parameterTablePk}" itemLabel="#{money.description}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" global="false" process="@this"/>
					</p:selectOneMenu>
				</td>
			</tr>
			
			<ui:remove>
			<tr>
				<td>
				<h:panelGrid columns="2" id="pnlLabelHM">
					<p:outputPanel rendered="#{otcOperation.indPrimaryPlacement eq bolType.YES.code}">
					<h:outputLabel value="#{msgs['operation.mark.rate']} %(*)" styleClass="required-field" rendered="#{otcOperation.securities.idSecurityCodePk == null or otcOperation.securities.instrumentType eq instrumentType.FIXED_INCOME.code}"/>
					<h:outputLabel value="#{msgs['operation.mark.price']}(*)" styleClass="required-field" rendered="#{otcOperation.securities.idSecurityCodePk != null and otcOperation.securities.instrumentType eq instrumentType.VARIABLE_INCOME.code}"/>
					</p:outputPanel>
				</h:panelGrid>
				</td>
				<td>
					<h:panelGrid columns="2" id="pnlHM">
						<ui:remove>
						<p:outputPanel rendered="#{otcOperation.indPrimaryPlacement eq bolType.YES.code}">
						<p:inputNumber value="#{markOperation.marketRate}" required="#{(otcOperationMgmt.viewOperationRegister)}" maxValue="999" thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkRate"
										rendered="#{(otcOperation.securities.idSecurityCodePk == null or otcOperation.securities.instrumentType eq instrumentType.FIXED_INCOME.code)
													and markOperation != null}"
										 label="#{msgs['operation.mark.rate']}" disabled="#{!otcOperationMgmt.viewOperationRegister}" minValue="-999">
							<p:ajax event="change" global="false" update="pnlHM" process="@this"></p:ajax>
						</p:inputNumber>
						<p:inputNumber value="#{markOperation.marketPrice}" required="#{(otcOperationMgmt.viewOperationRegister)}" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkPrice"
										rendered="#{otcOperation.securities.idSecurityCodePk != null and otcOperation.securities.instrumentType eq instrumentType.VARIABLE_INCOME.code
													and markOperation != null}"
										 label="#{msgs['operation.mark.price']}" disabled="#{!otcOperationMgmt.viewOperationRegister}">
							<p:ajax event="change" global="false" update="pnlHM" process="@this"></p:ajax>
						</p:inputNumber>
						<p:message id="iconHmRate" for="txtMarkRate" display="icon"></p:message>
						<p:message id="iconHmPrice" for="txtMarkPrice" display="icon"></p:message>
						</p:outputPanel>
						</ui:remove>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlLblMarketDate">
					<h:outputLabel value="#{msgs['operation.mark.date']}(*)" styleClass="required-field" rendered="#{!otcParameters.isSettlementPlaze}"/>
					</p:outputPanel>
				</td>
				<td>
					<h:panelGrid columns="2" id="pnlMarketDate">
						<p:calendar value="#{markOperation.marketDate}" showOn="both" disabledWeekends="true" maxdate="#{otcOperationMgmt.currentSystemDate}" 
									id="txtMarkDate" required="#{(otcOperationMgmt.viewOperationRegister)}"  disabled="true" readonlyInput="true" 
									rendered="#{!otcParameters.isSettlementPlaze and markOperation != null}" pattern="#{gconst['dateFormat']}">
							<p:ajax update="txtMarkDate,iconHmDate" event="dateSelect" global="false" process="@this"/>
							
						</p:calendar>
						<p:message id="iconHmDate" for="txtMarkDate" display="icon"></p:message>
					</h:panelGrid>
				</td>
				<td>
				<h:panelGrid columns="2" id="pnlLabelHM">
					<p:outputPanel rendered="#{!otcParameters.isSettlementPlaze}">
					<h:outputLabel value="#{msgs['operation.mark.rate']} %(*)" styleClass="required-field" rendered="#{otcOperation.securities.idSecurityCodePk == null or otcOperation.securities.instrumentType eq instrumentType.FIXED_INCOME.code}"/>
					<h:outputLabel value="#{msgs['operation.mark.price']}(*)" styleClass="required-field" rendered="#{otcOperation.securities.idSecurityCodePk != null and otcOperation.securities.instrumentType eq instrumentType.VARIABLE_INCOME.code}"/>
					</p:outputPanel>
				</h:panelGrid>
				</td>
				<td>
					<h:panelGrid columns="2" id="pnlHM">
						<p:outputPanel rendered="#{!otcParameters.isSettlementPlaze}">
						<p:inputNumber value="#{markOperation.marketRate}" required="#{(otcOperationMgmt.viewOperationRegister)}" maxValue="999" thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkRate"
										rendered="#{(otcOperation.securities.idSecurityCodePk == null or otcOperation.securities.instrumentType eq instrumentType.FIXED_INCOME.code)
													and markOperation != null}"
										 label="#{msgs['operation.mark.rate']}" disabled="#{!otcOperationMgmt.viewOperationRegister}" minValue="-999">
							<p:ajax event="change" global="false" update="pnlHM" process="@this"></p:ajax>
						</p:inputNumber>
						<p:inputNumber value="#{markOperation.marketPrice}" required="#{(otcOperationMgmt.viewOperationRegister)}" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkPrice"
										rendered="#{otcOperation.securities.idSecurityCodePk != null and otcOperation.securities.instrumentType eq instrumentType.VARIABLE_INCOME.code
													and markOperation != null}"
										 label="#{msgs['operation.mark.price']}" disabled="#{!otcOperationMgmt.viewOperationRegister}">
							<p:ajax event="change" global="false" update="pnlHM" process="@this"></p:ajax>
						</p:inputNumber>
						<p:message id="iconHmRate" for="txtMarkRate" display="icon"></p:message>
						<p:message id="iconHmPrice" for="txtMarkPrice" display="icon"></p:message>
						</p:outputPanel>
					</h:panelGrid>
				</td>
			</tr>
			</ui:remove>	
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.quantity']}(*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputNumber id="txtSecurityStock" value="#{otcOperationMgmt.mechanismOperationOtcSession.stockQuantity}"
									required="#{(otcOperationMgmt.viewOperationRegister)}" 
									disabled="#{!otcOperationMgmt.viewOperationRegister or otcOperationMgmt.disableStockQuantity}"
								 	style="text-align: right;width:200px" maxValue="#{msgs['lbl.maxium.value']}" decimalPlaces="0" thousandSeparator="," decimalSeparator="."
								 	requiredMessage="#{msgs['otc.operation.validation.quantitystock.required']}" 
								 	onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">
						<p:ajax event="change" listener="#{otcOperationMgmt.changeStockQuantity}" process="@this" 
								update="txtSecurityStock,  
										cboAccountRole, txtCashSettlementDays, calCashSettlementDate, :opnlGenericDialogs
										txtMarkRateVariable txtMarkPriceVariable 
       									pnlRealAmountRate pnlRealCashPrice 
       									txtCleanPrice txtRealCashPrice txtCleanAmount txtRealCashAmount"/>
					</p:inputNumber>
					<p:message for="txtSecurityStock" display="icon" id="iconTxtSecurityStock"/>
					</h:panelGrid>
				</td>
			</tr>						
			<tr>
				<td>
					<h:outputLabel value="Forma de Cálculo (*)" styleClass="required-field" rendered="#{(otcOperationMgmt.viewOperationRegister)}"/>
				</td>
				<td colspan="3">					
					<p:selectOneRadio id="selectOneRadio" value="#{otcOperationMgmt.optionSelectedOneRadio}" disabled="#{(!otcOperationMgmt.viewOperationRegister)}" rendered="#{(otcOperationMgmt.viewOperationRegister)}"> 
		       					<f:selectItem id="selectOneRadioPercentage" itemLabel="Por precio" itemValue="1" />  
		       					<f:selectItem id="selectOneRadioAmount" itemLabel="Por monto" itemValue="2" />   
		       					<p:ajax update="@form txtMarkRateVariable txtMarkPriceVariable 
		       									pnlRealAmountRate pnlRealCashPrice 
		       									txtCleanPrice txtRealCashPrice txtCleanAmount txtRealCashAmount" 
		       						event="change" partialSubmit="false" listener="#{otcOperationMgmt.validateOptionSelected}" />											            
					</p:selectOneRadio>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="rateOpText">
						<h:outputText value="Precio Dirty % (*)" styleClass="required-field" />
					</p:outputPanel>
				</td>
				<td>
					<p:outputPanel id="rateOpPnl">
						<h:panelGrid columns="2" id="pnlRealAmountRate">
						<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.realCashPricePercentage}" 
										required="#{(otcOperationMgmt.viewOperationRegister)}" 
										maxValue="#{msgs['lbl.maxium.value']}" 
										thousandSeparator="," decimalSeparator="." decimalPlaces="6" id="txtMarkRateVariable"
										label="tasa" 
										disabled="#{!otcOperationMgmt.viewOperationRegister 
											or (otcOperationMgmt.viewOperationRegister and !otcOperationMgmt.isPriceCalculation())}">
							<p:ajax event="change" global="false" update="@form :opnlGenericDialogs" 
								listener="#{otcOperationMgmt.dirtyPriceChange}" process="@this"></p:ajax>
						</p:inputNumber>
						<p:message for="txtMarkRateVariable" display="icon" id="iconTxtMarkRateVariable"/>
						</h:panelGrid>
					</p:outputPanel>
				</td>
				<td>
					<h:outputText value="Monto Dirty (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:outputPanel id="priceOpPnl">
						<h:panelGrid columns="2" id="pnlRealCashPrice">
						<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.realCashAmount}" required="#{(otcOperationMgmt.viewOperationRegister)}" maxValue="#{msgs['lbl.maxium.value']}" 
										thousandSeparator="," decimalSeparator="." decimalPlaces="6" id="txtMarkPriceVariable"
										label="Precio" 
										disabled="#{!otcOperationMgmt.viewOperationRegister 
											or (otcOperationMgmt.viewOperationRegister and !otcOperationMgmt.isAmountCalculation())}">
							<p:ajax event="change" global="false" update="@form :opnlGenericDialogs"
							 	listener="#{otcOperationMgmt.dirtyAmountChange}" process="@this"></p:ajax>
						</p:inputNumber>
						<p:message for="txtMarkPriceVariable" display="icon" id="iconTxtMarkPriceVariable"/>
						</h:panelGrid>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
				<p:outputPanel id="pnlCouponNumber">
					<h:outputText value="#{msgs['otc.operation.isin.split.coupon.number']}(*)" styleClass="required-field" rendered="#{otcOperationMgmt.otcOperationParamSession.isSplitCoupon and (otcOperation.securities.idSecurityCodePk != null)}" id="txtSplitLabel"/>
				</p:outputPanel>
				</td>
				<td colspan="3">
				<p:outputPanel id="pnlCouponHelp">
					<p:inputText id="txtCouponNumber" readonly="true" value="#{otcOperationMgmt.mechanismOperationOtcSession.programInterestCoupon.couponNumber}" rendered="#{otcOperationMgmt.otcOperationParamSession.isSplitCoupon and (not empty otcOperationMgmt.mechanismOperationOtcSession.securities.idSecurityCodePk)}"
								 disabled="#{!(otcOperationMgmt.viewOperationRegister)}"/>
					<p:commandLink oncomplete="PF('dialolSplitCouponW').show()" 
								   rendered="#{otcOperationMgmt.otcOperationParamSession.isSplitCoupon and 
								   			   (not empty otcOperationMgmt.mechanismOperationOtcSession.securities.idSecurityCodePk) and 
								   			   (otcOperationMgmt.viewOperationRegister)}"
									update="dialolSplitCoupon" id="txtLoupeSplit" process="@this">
	 				<p:graphicImage style="cursor:pointer;" library="img" name="icons/help.png"/>
		 			</p:commandLink>
		 		</p:outputPanel>
				</td>
			</tr>
			<!-- FOR REAL CASH AMOUNT, PRICE -->
			<tr>
				<td>
					<h:outputText value="Precio Clean % (*)" styleClass="required-field" id="labelCleanPrice" rendered="#{!otcOperationMgmt.mechanismOperationOtcSession.isRateVariableModality()}"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.cashPricePercentage}" 
									disabled="#{otcOperationMgmt.mechanismOperationOtcSession.realCashPricePercentage == null}" 
									styleClass="content-right"
								 	id="txtCleanPrice"
								 	style="text-align: right;width:130px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="4"
								 	rendered="#{!otcOperationMgmt.mechanismOperationOtcSession.isRateVariableModality()}">
						<p:ajax event="change" global="false" update="@form :opnlGenericDialogs"
							 	listener="#{otcOperationMgmt.cleanPriceChange}" process="@this"></p:ajax>
					</p:inputNumber>	
				</td>
				<td>
					<h:outputText value="Monto Clean (*)" styleClass="required-field" id="txtRealCashAmountFixed" rendered="#{!otcOperationMgmt.mechanismOperationOtcSession.isRateVariableModality()}"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.cashAmount}" disabled="true" styleClass="content-right"
								 	id="txtRealCashPrice"
								 	style="text-align: right;width:130px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="6"
								 	rendered="#{!otcOperationMgmt.mechanismOperationOtcSession.isRateVariableModality()}"/>		
				</td>
			</tr>
			<!-- FOR CASH AMOUNT, PRICE -->
			<tr>
				<td>
					<h:outputText value="Monto Nominal (*)" styleClass="required-field" />
				</td>
				<td>
					<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.cashAmount}" id="txtCleanAmount" 
									style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" thousandSeparator="," decimalSeparator="."
									disabled="true">
					</p:inputNumber>
				</td>
				
				<td>
					<h:outputText value="Monto a Liquidar (*)" styleClass="required-field" rendered="#{!isTermSettlement}"/>
					<h:outputText value="Monto Inicial (*)" styleClass="required-field" rendered="#{isTermSettlement}"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperationMgmt.mechanismOperationOtcSession.realCashAmount}"  
									id="txtRealCashAmount" required="#{(otcOperationMgmt.viewOperationRegister)}"
									disabled="true"
									style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" thousandSeparator="," decimalSeparator=".">
					</p:inputNumber>
				</td>
			</tr>
			</p:outputPanel>
			<!-- END - FOR REAL CASH AMOUNT, PRICE -->
			
			<p:outputPanel rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}" id="pnlSwapOperation">
				<ui:include src="swapSecurity.xhtml" />
			</p:outputPanel>
			<!-- END - FOR CASH AMOUNT, PRICE -->
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.settlementcash.day']} (*)" styleClass="required-field"/></td>
				<td>
					<h:panelGrid columns="2">
					<p:inputNumber value="#{otcOperation.cashSettlementDays}" maxValue="999" required="#{(otcOperationMgmt.viewOperationRegister)}" id="txtCashSettlementDays"
									disabled="true"  emptyValue="0"
									style="text-align: right;width:200px" decimalPlaces="0" requiredMessage="#{otc.operation.validation.termday.required}">
						<p:ajax process="@this" event="change" listener="#{otcOperationMgmt.changeCashSettlementDays}" 
								update="calCashSettlementDate,txtCashSettlementDays,pnlAccount,cboAccountRole"/>
					</p:inputNumber>
					<p:message for="txtCashSettlementDays" display="icon" id="iconTxtCashSettlementDays"/>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlementcash.date']}" rendered="true"/>
				</td>
				<td>
					<p:calendar value="#{otcOperation.cashSettlementDate}" disabled="true" rendered="true" id="calCashSettlementDate" pattern="#{gconst['dateFormat']}"/>
				</td>
			</tr>
		</table>
	</p:fieldset>
	
	<p:fieldset id="pnlSettlementTerm" rendered="#{isTermSettlement}" legend="Datos Reporto Contado">
		<table width="100%">
			<ui:include src="otcOperationPlazeRepo.xhtml"/>
		</table>
	</p:fieldset>
	
	<p:fieldset legend="#{msgs['otc.operation.negotiationaccount']}" id="pnlAccount">
		<p:outputPanel id="accountNegotiationAccPanel">
		<p:outputPanel id="pnlHoldAccNegotiationPlazeSell" rendered="#{(otcOperationMgmt.otcOperationParamSession.isSecundaryReport)}">
			<table width="100%">
				<ui:include src="otcOperationSeparatorTables.xhtml"/>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.account.term.selling']}"/>
					</td>
					<td colspan="5">
						
					</td>
				</tr>
				<tr>
					<td colspan="6">
						<p:dataTable var="holdAccNegotiation" value="#{otcOperationMgmt.otcOperationParamSession.holdAccNegotiationSellers}" 
								 	 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" id="dtbHoldNegSellers">
							<p:column headerText="#{msgs['otc.operation.role']}" styleClass="content-center">
								<h:outputText value="#{msgs['otc.operation.position.sell']}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.number']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.holderAccount.accountNumber}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.alternativecode']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.holderAccount.alternateCode}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.account.description']}" styleClass="content-left">
								<h:outputFormat value="#{holdAccNegotiation.holderAccount.accountDescription}" escape="false" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.quantity.sell']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.refAccountOperation.stockQuantity}">
									<f:convertNumber locale="#{otcOperationMgmt.localeEnUS}"/>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.amount.contab']}" styleClass="content-center">
								<h:outputText value="#{holdAccNegotiation.refAccountOperation.realTermAmount}">
									<f:convertNumber locale="#{otcOperationMgmt.localeEnUS}" maxFractionDigits="2"/>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['otc.operation.quantity.sell']}" styleClass="content-center">
								<h:inputText disabled="#{!(holdAccNegotiation.isSelected)}" value="#{holdAccNegotiation.stockQuantity}" onkeypress="if(48 > event.which || event.which > 57) return false;">
									<f:convertNumber locale="#{otcOperationMgmt.localeEnUS}" integerOnly="true" type="number"/>
									<p:ajax event="blur" update="dtbHoldNegSellers,:opnlGenericDialogs" 
											listener="#{otcOperationMgmt.validateQuantityHoldAccOperationOnGrid(holdAccNegotiation)}"/>
								</h:inputText>
							</p:column>
							<p:column styleClass="content-center">
								<h:selectBooleanCheckbox value="#{holdAccNegotiation.isSelected}">
									<f:ajax event="change" render="dtbHoldNegSellers" listener="#{otcOperationMgmt.evaluateHoldAccOperationOnGrid(holdAccNegotiation)}"/>
								</h:selectBooleanCheckbox>
							</p:column>
						</p:dataTable>
					</td>
				</tr>
			</table>			
		</p:outputPanel>
		<p:outputPanel rendered="#{!(otcOperationMgmt.otcOperationParamSession.isQuantityPendientSecReport) and
								   !(otcOperationMgmt.otcOperationParamSession.isSwap and 
								   	 fn:length(otcOperationMgmt.otcOperationParamSession.holdAccNegotiationValidated)>=2)
								   and !(otcOperationMgmt.viewOperationConsult)}">
			<table width="100%">
				<ui:include src="otcOperationSeparatorTables.xhtml"/>
				
				<!-- Panel to handle select with role	(SELL-BUY) -->
				<p:outputPanel rendered="#{!otcOperationMgmt.otcOperationParamSession.isSwap}">
					<ui:include src="assigmentRole.xhtml"/>
				</p:outputPanel>
				
				<!-- Panel to handle Incharge on participants  -->
				<p:outputPanel rendered="#{otcOperationMgmt.otcOperationParamSession.modalityHaveInCharge}" id="pnlInCharge">
					<ui:include src="assigmentInCharge.xhtml"/>
				</p:outputPanel>
				
				<!-- Panel to handle Security on swap operation -->
				<p:outputPanel id="pnlSwapAssigment" rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}">
					<ui:include src="assigmentSwapSecurity.xhtml"/>
				</p:outputPanel>
				<p:outputPanel id="pnlHolderAssigment">
					<ui:include src="holderAssigment.xhtml" />
				</p:outputPanel>
				<p:outputPanel id="pnlStockQuantity">
					<ui:include src="assigmentStockQuantity.xhtml"/>
				</p:outputPanel>
			</table>
		</p:outputPanel>
		<p:outputPanel rendered="#{!(otcOperationMgmt.otcOperationParamSession.isSwap and 
									 fn:length(otcOperationMgmt.otcOperationParamSession.holdAccNegotiationValidated)>=2)}">
			<table width="100%">
				<tr>
					<td colspan="3" align="center">
					<p:outputPanel rendered="#{!(otcOperationMgmt.viewOperationConsult) }">
						<p:commandButton value="#{gmsgs['btn.add']}" icon="ui-add" process="@this,accountNegotiationAccPanel"
										 update="accountNegotiationAccPanel,pnlHoldAccNegotiationGrid, :opnlGenericDialogs" 
										 actionListener="#{otcOperationMgmt.addNewAccountOperation}" id="cbAdd">
							<f:param name="skipValidation" value="true"/>
						</p:commandButton>
						<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  id="cbClean"
										 actionListener="#{otcOperationMgmt.cleanHolderAccountNegotiation}" update="accountNegotiationAccPanel" process="@this"/>
					</p:outputPanel>
					</td>
				</tr>
			</table>
		</p:outputPanel>
		<p:outputPanel id="pnlHoldAccNegotiationGrid">
		<p:outputLabel value="#{msgs['otc.operation.negotiation.accounts.asociated']} (*)" styleClass="required-field"
					   rendered="#{not empty otcParameters.holdAccNegotiationValidated}"/>
		<p:dataTable var="holdAccNegotiation" value="#{otcOperationMgmt.otcOperationParamSession.holdAccNegotiationValidated}"
					 rendered="#{not empty otcParameters.holdAccNegotiationValidated}"
					 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
			<p:column headerText="#{msgs['otc.operation.role']}" styleClass="content-center" sortBy="#{holdAccNegotiation.role}"
					  rendered="#{!otcOperationMgmt.otcOperationParamSession.isSwap}">
				<h:outputText value="#{holdAccNegotiation.rolePosition}"/>
			</p:column>
			 <p:column headerText="#{msgs['otc.operation.participant']}" styleClass="content-center" rendered="#{otcOperationMgmt.otcOperationParamSession.isSwap}">
				<h:outputText value="#{holdAccNegotiation.inchargeFundsParticipant.idParticipantPk}-#{holdAccNegotiation.inchargeFundsParticipant.mnemonic}"/>
			</p:column>
			<p:column headerText="#{msgs['otc.operation.account.number']}" styleClass="content-center" sortBy="#{holdAccNegotiation.holderAccount.accountNumber}">
				<h:outputText value="#{holdAccNegotiation.holderAccount.accountNumber}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
			</p:column>
			<p:column headerText="#{msgs['otc.operation.account.alternativecode']}" styleClass="content-center">
				<h:outputText value="#{holdAccNegotiation.holderAccount.alternateCode}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
			</p:column>
			<p:column headerText="#{msgs['otc.operation.account.description']}" styleClass="content-left" sortBy="#{holdAccNegotiation.holderAccount.accountDescription}">
				<h:outputFormat value="#{holdAccNegotiation.holderAccount.accountRntAndDescription}" escape="false" rendered="#{holdAccNegotiation.holderAccount != null}"/>
			</p:column> 
			<p:column headerText="#{msgs['otc.operation.participant.incharge']}" styleClass="content-center" rendered="#{otcOperationMgmt.otcOperationParamSession.modalityHaveInCharge}"
					  style="width:150px;">
				<h:outputText value="#{holdAccNegotiation.inchargeFundsParticipant.idParticipantPk}-#{holdAccNegotiation.inchargeFundsParticipant.mnemonic}" 
							  rendered="#{holdAccNegotiation.indIncharge == bolType.YES.code}"/>
				<h:outputText value="#{gmsgs['lbl.empty']}" rendered="#{holdAccNegotiation.indIncharge == bolType.NO.code}"/>
			</p:column>
			<p:column headerText="#{msgs['otc.operation.quantity.sell']}" styleClass="content-right"  sortBy="#{holdAccNegotiation.stockQuantity}"
					  style="width:120px;">
				<h:outputText value="#{holdAccNegotiation.stockQuantity}">
					<f:convertNumber locale="#{otcOperationMgmt.localeEnUS}"/>
				</h:outputText>
			</p:column>
			<p:column headerText="Monto a Liquidar" styleClass="content-right">
				<h:outputText value="#{holdAccNegotiation.cashAmount}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-right" headerText="#{msgs['otc.operation.amount.plaze']}" rendered="#{(otcParameters.isSettlementPlaze)}">
				<h:outputText value="#{holdAccNegotiation.realTermAmount}" rendered="#{!(otcParameters.isSettlementPlazeDisabled)}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</h:outputText>
			</p:column>
			<ui:remove>
			<p:column headerText="#{msgs['otc.operation.marketfact']}" styleClass="content-center" 
					  rendered="#{otcOperation.indPrimaryPlacement eq bolType.NO.code}">
				<p:commandLink process="@this" rendered="#{holdAccNegotiation.role eq rolType.SELL.code}" 
							   disabled="#{!(otcOperationMgmt.viewOperationRegister and holdAccNegotiation.indMultipleMarketFact eq bolType.YES.code)}"
							   actionListener="#{otcOperationMgmt.showAccountOperationMarketFact(holdAccNegotiation)}"
							   update=":frmOtcOperation:pnlAccountMarketFact, :frmOtcOperation:marketFactUI:opnlMarketFact">
					<p:graphicImage library="img" style="cursor:pointer; border:none;" name="buttons/edit.png" id="imgModifyMarket"/>
				</p:commandLink>
			</p:column>
			</ui:remove>
			<p:column headerText="#{gmsgs['btn.remove']}" styleClass="content-center" style="width:50px;">
				<p:commandLink actionListener="#{otcOperationMgmt.confirmRemoveAccountOnDataTableHandler(holdAccNegotiation)}" 
							   title="#{msgs['otc.operation.delete']}" process="@this"
							   disabled="#{!(otcOperationMgmt.otcOperationParamSession.isHoldAccNegDelButtEnabled) or
							   			   ((otcOperation.indPrimaryPlacement eq bolType.YES.code) and  (holdAccNegotiation.role eq roleType.SELL.code))}"
							   update=":frmOtcOperation:pnlHoldAccNegotiationGrid, :frmOtcOperation:pnlDialogsCustomized">
					<p:graphicImage style="cursor:pointer;" library="img" name="icons/rejected.png"/>
				</p:commandLink> 
			</p:column>
		</p:dataTable>
		</p:outputPanel>
		
		<!-- Table to handle total of assigments -->
		<p:outputPanel rendered="#{not empty otcParameters.asigmentOperationList and !otcOperationMgmt.otcOperationParamSession.isSwap}">
			<ui:include src="assigmentTable.xhtml" />
		</p:outputPanel>
		<!-- END - Table to handle total of assigments -->
		</p:outputPanel>
	</p:fieldset>
	
	<ui:remove>
	<p:fieldset legend="#{msgs['otc.operation.aditional.information']}" id="pnlAditionalInformation">
		<table width="100%">
			<ui:include src="otcOperationSeparatorTables.xhtml"/>
			<tr>
				<td><h:outputText id="observations" styleClass="required-field"
								  value="#{msgs['lbl.settlementSanctions.observations']} (*)" /></td>
				<td colspan="100%">					
					<p:inputTextarea id="inputObservation" autoResize="false" autoRelisize="false"
			             style="width:90%;height:40px" 
			             value="#{otcOperationMgmt.observaciones}"
			             maxlength="300" 
			             disabled="#{!(otcOperationMgmt.viewOperationRegister)}">
			             <p:keyFilter regEx="#{cons['exp.regular.address.and.observations']}"/>
			             <p:ajax event="blur" global="false"/>
		            </p:inputTextarea>
					<p:message id="msgObservation" for="inputObservation" display="icon"/>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><br/>
				<p:commandLink
				    id="downloadLink" style="color:blue;"					
					value="#{otcOperationMgmt.fileNameDisplay}"
					ajax="false" global="false" immediate="true" process="@this"
					rendered="#{!(otcOperationMgmt.viewOperationRegister)}">
					<p:fileDownload value="#{otcOperationMgmt.getDocumentoAdjunto()}" />
				</p:commandLink>
				<br/>
				<p:outputPanel styleClass="fileupload-customize" layout="block"
				               rendered="#{(otcOperationMgmt.viewOperationRegister)}">	
	 			<p:fileUpload id="fuplDocumentFile" mode="advanced" auto="true" required="#{(otcOperationMgmt.viewOperationRegister)}"
	 			           widgetVar="fuplwDocumentFile" label="#{gmsgs['fupl.label']}"
	 			           allowTypes="/(\.|\/)(#{otcOperationMgmt.fUploadFileDocumentsTypes})$/"
	 			           sizeLimit="#{otcOperationMgmt.fUploadFileDocumentsSize}"
						   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
						   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"							 			             
						   fileUploadListener="#{otcOperationMgmt.documentAttachFile}" 
						   update=":cnfMsgCustomValidationSec pnlAditionalInformation fuplDocumentFile"/>									
				<script type="text/javascript">									
					 $(document).ready(function(){										 					
						fileuploadValidate('fuplDocumentFile');	
					  });		
				</script>				
			    <p:graphicImage id="imgLimit" 
					library="img" 
					name="icons/help.png"
					styleClass="icon"/>	
				<p:tooltip for="imgLimit">
					<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
						<f:param value="#{otcOperationMgmt.fUploadFileSizeDocumentsDisplay}"/>
						<f:param value="#{otcOperationMgmt.fUploadFileTypesDocumentsDisplay}"/>			
					</h:outputFormat>
				</p:tooltip>				
				<h:outputLabel id="lblFuplDocumentFile"
					value="#{otcOperationMgmt.fileNameDisplay==null ? gmsgs['fupl.no.selected'] : otcOperationMgmt.fileNameDisplay}" 
				    styleClass="label"/>											    
				</p:outputPanel>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="100%" style="text-align: justify;"><br/>
		            <h:outputLabel value="#{otcOperationMgmt.textDescription}" style="font: italic bold 13px/17px Arial; text-align: justify;"/></td>				
			    <td></td>
			</tr>			
		</table>
		
	</p:fieldset>
	</ui:remove>
	
	<p:outputPanel id="pnlButtons">
		<table width="100%" align="center">
			<tr>
				<td align="center">
					<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" update="negotiationDateAccPanel, settlementAccPanel, pnlDialogsCustomized, pnlDialogsRedirect, pnlHoldAccNegotiationGrid, :opnlGenericDialogs, :opnlEndTransaction,"
									 process="@this, negotiationDateAccPanel, settlementAccPanel"
									 actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}"
									 rendered="#{otcOperationMgmt.viewOperationRegister}" id="btnSave"/>
									 
					<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" 
									 rendered="#{otcOperationMgmt.viewOperationApprove}" update="@form :opnlGenericDialogs, pnlDialogsCustomized, pnlDialogsRedirect, :opnlEndTransaction," iconPos="btnApprove" 
									 process="pnlButtons"/>
						
					<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" actionListener="#{otcOperationMgmt.beforeRejectOtcOperation}"
									 rendered="#{otcOperationMgmt.viewOperationReject}" update="@form :opnlGenericDialogs, pnlDialogsCustomized, pnlDialogsRedirect, :opnlEndTransaction," id="btnReject" 
									 process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-anulate" actionListener="#{otcOperationMgmt.beforeAnulateOtcOperation}"
									 rendered="#{otcOperationMgmt.viewOperationAnnul}" update="@form :opnlGenericDialogs, pnlDialogsCustomized, pnlDialogsRedirect, :opnlEndTransaction," id="btnAnnulate" 
									 process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" 
									 rendered="#{otcOperationMgmt.viewOperationConfirm}" update="@form :opnlGenericDialogs, pnlDialogsCustomized, pnlDialogsRedirect, :opnlEndTransaction," id="btnConfirm" 
									 process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-edit" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" id="btnEdited" 
									 rendered="#{otcOperationMgmt.viewOperationReview}" update="@form :opnlGenericDialogs, pnlDialogsCustomized, pnlDialogsRedirect, :opnlEndTransaction," process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.cancel']}" icon="ui-cancel" actionListener="#{otcOperationMgmt.beforeCancelOtcOperation}" id="btnCancel"
									 rendered="#{otcOperationMgmt.viewOperationCancel}" update="@form, :frmMotive:pnlMotiveOtc, :opnlGenericDialogs, :opnlEndTransaction," process="pnlButtons"/>
					
					<p:commandButton value="#{gmsgs['btn.settlement']}" icon="ui-confirm" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" id="btnSettlement"
									 rendered="#{otcOperationMgmt.viewOperationSettlement}" update="@form, :frmMotive:pnlMotiveOtc, :opnlGenericDialogs, :opnlEndTransaction," 
									 process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.authorize']}" icon="ui-confirm" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" id="btnAuthorize"
									 rendered="#{otcOperationMgmt.viewOperationAuthorize}" update="@form, :frmMotive:pnlMotiveOtc, :opnlGenericDialogs, :opnlEndTransaction," 
									 process="pnlButtons"/>
									 
					<p:commandButton id="cmbCleanHolderAccountReq" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
									 onclick="return showCleanConfirmDialog(this);"
									 actionListener="#{otcOperationMgmt.cleanAllFormOtcHandler}" update="@form" oncomplete="PF('cnfwClean').hide()" 
									 rendered="#{otcOperationMgmt.viewOperationRegister}" immediate="true"/>
					<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchOtcOperation" process="@this"
									 onclick="if(isModifiedFormForBack(this))return false;" ajax="false" immediate="true"
									 rendered="#{!otcOperationMgmt.viewOperationConsult}"/>
					<p:commandButton id="btnBackView" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchOtcOperation" process="@this"
									 ajax="false" immediate="true" rendered="#{otcOperationMgmt.viewOperationConsult}"/>
				</td>
			</tr>
		</table>
	</p:outputPanel> 
	<p:outputPanel id="pnlDialogsCustomized">
		<p:confirmDialog id="cnfDeleteAccountNegotiation" widgetVar="cnfwDeleteAccountNegotiation" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" actionListener="#{otcOperationMgmt.removeAccountOnDataTableHandler}"
							 process="@this" onclick="PF('cnfwDeleteAccountNegotiation').hide()" update="@form"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwDeleteAccountNegotiation').hide()" type="button"/>
		</p:confirmDialog>
		<p:confirmDialog id="cnfOtcOperations" widgetVar="cnfwOtcOperations" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwOtcOperations').hide()" actionListener="#{otcOperationMgmt.saveOtcRequestHandler}" update=":opnlGenericDialogs, @form, :pnlDialogsRedirect"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwOtcOperations').hide()" type="button"/>
		</p:confirmDialog>
		
		
	</p:outputPanel>
</h:form>

<p:outputPanel id="pnlDialogsRedirect">
	<h:form id="frmRedirect">
	<p:confirmDialog id="cnfOtcOkOperations" widgetVar="cnfwOtcOkOperations" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}">
					 
				<p:commandButton id="cmbConfirmOtcOkOperations" 
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="searchOtcOperation"
		        				 ajax="false" 
		                    > 
		     </p:commandButton>
	</p:confirmDialog>
	</h:form>
</p:outputPanel>
	
<h:form id="frmMotive">
	<p:dialog id="dlgMotive" widgetVar="dlgMotiveW" resizable="false" closable="false" modal="true" draggable="false" severity="alert" header="#{msgs['otc.operation.motive.header']}">
		<p:outputPanel id="pnlMotiveOtc">
		<table>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2" id="pnlCboMotive">
						<p:selectOneMenu required="#{(otcOperationMgmt.viewOperationRegister)}" value="#{otcOperationMgmt.otcOperationParamSession.motiveCancel}" id="cboMotive">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{otcOperationMgmt.motiveCancelOperationList}" var="motiv" itemLabel="#{motiv.parameterName}"
										   itemValue="#{motiv.parameterTablePk}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
							<p:ajax process="@this" update="pnlMotiveOtc" event="change" global="false"></p:ajax>
						</p:selectOneMenu>
						<p:message for="cboMotive" display="icon"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.motive.other']}" 
								  rendered="#{otcOperationMgmt.otcOperationParamSession.motiveCancel eq reasonType.OTHERS.code}">
					</h:outputText>
				</td>
				<td>
					<h:panelGrid columns="2" id="pnlOther">
						<p:inputText size="60" value="#{otcOperationMgmt.otcOperationParamSession.otherMotiveCancel}" required="#{(otcOperationMgmt.viewOperationRegister)}" id="txtMotiveCancel"
									 rendered="#{otcOperationMgmt.otcOperationParamSession.motiveCancel eq reasonType.OTHERS.code }" 
									 label="#{msgs['otc.operation.motive.other']}">
							<f:validator validatorId="inputRequiredValidator"/>
						</p:inputText>
						<p:message for="txtMotiveCancel" display="icon"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<p:commandButton value="#{gmsgs['btn.cancel']}" icon="ui-cancel" actionListener="#{otcOperationMgmt.beforeSaveNewMechanismOperation}" 
								 	 update="pnlCboMotive,pnlOther" process="pnlMotiveOtc" oncomplete="PF('dlgMotiveW').hide()"/>
					<p:commandButton id="btnBackMotive" value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" onclick="PF('dlgMotiveW').hide()" />
				</td>
			</tr>
		</table>
		</p:outputPanel>
	</p:dialog>
</h:form>
</ui:define>
</ui:composition>
</html>