<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"> 

<h:head>
	<f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
    </f:facet>
	<h:outputScript library="js" name="functions.js" />
	<h:outputScript library="js" name="layout.js" />
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="application_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
	<title>#{msgs['changepassword']}</title>
</h:head>
	<h:body>
	<h:form id="frmcngpwd" prependId="false">	
			<table align="center">
				<tr>
					<td colspan="2" align="center"><br/></td>
				</tr>
				<tr>
					<td>#{msgs['user.lbl.user']}   : </td>
					<td>#{userInfo.userAccountSession.userName}</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['OldPassword.message']} (*): "  id="idOtxtOldPwdMsg" styleClass="required-field ui-widget"/></td>
					<td>
						<h:panelGrid columns="2">
							<p:password id="oldpwd" value="#{changePasswordBean.oldPassword}" 
										label="#{msgs['OldPassword.message']}" size="30"
										maxlength="20" required="true" autocomplete="off"/>
							 <p:message for="oldpwd" display="icon" id="msgOldPwd"/>
					 	</h:panelGrid>
				 	</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['NewPassword.message']} (*): "  id="idOtxtNewPwdMsg" styleClass="required-field ui-widget"/></td>
					<td>
						<h:panelGrid columns="2">	
							<p:password id="pwd1" maxlength="20" size="30"
								value="#{changePasswordBean.newPassword}" autocomplete="off"
								label="#{msgs['NewPassword.message']}" required="true"/>
							<p:message for="pwd1" display="icon" id="msgPwd1"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['ConfirmPassword.message']} (*): "  id="idOtxtCnfPwdMsg" styleClass="required-field ui-widget"/></td>
					<td>
						<h:panelGrid columns="2">
							<p:password id="pwd2" maxlength="20" size="30"
								value="#{changePasswordBean.confPassword}" autocomplete="off"
								label="#{msgs['ConfirmPassword.message']}" required="true">
							</p:password>
							<p:message for="pwd2" display="icon" id="msgPwd2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<br/>
						<p:commandButton value="#{msgs['btn.accept']}" id="idCmdBtnCnfPwdAccept"
						 				 actionListener="#{changePasswordBean.cnfChangePwd}" update="frmcngpwd, :opnlGenericDialogs"/>
						 
						<p:commandButton value="#{msgs['btn.cancel']}" actionListener="#{changePasswordBean.closePopup}"  id="idCmdBtnCnfPwdCancel"
					    				 update="frmcngpwd" immediate="true"/>
				    </td>
				</tr>
			</table>
		</h:form>
		
		<p:dialog widgetVar="cnfwcngpassword" id="idcnfcngpassword" modal="true" appendTo="@(body)" header="#{msgs['lbl.header.alert.confirm']}"  closable="false" resizable="false" draggable="false" severity="alert">
			<h:form prependId="false" id="idFrmChangePwdDialog">
	        		<table>
	        		<tr>
	        			<td>
	        				#{msgs['login.cnf.changepwd']} #{userInfo.userAccountSession.userName} ?
        				</td>
       				</tr>
	        		<tr>
	        			<td align="center">
							<p:commandButton id="cmbConfirmcngpassword" update=":opnlGenericDialogs, :frmcngpwd"
        				 	value="#{msgs['btn.yes']}" action="#{changePasswordBean.changePwd}"  />
        				 	
							<p:commandButton value="#{msgs['btn.no']}" actionListener="#{changePasswordBean.clean}" update=":frmcngpwd"
	        				oncomplete="PF('cnfwcngpassword').hide();"/>
	        			</td>
        			</tr>
        			</table>
        	</h:form>
			</p:dialog>
	
	 <ui:include src="/template/includes/dialogs.xhtml" />

	</h:body>
</html>
