<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog id="dlgStatusCustom" widgetVar="statusDialogCustom"
		modal="true" resizable="false" draggable="false" closable="false">
		<p:graphicImage library="img" name="loading/loading.gif" />
	</p:dialog>

	<p:confirmDialog id="cnfMsgCustomValidationAcc"
		message="#{bodyMessageView}" header="#{headerMessageView}"
		severity="alert" widgetVar="cnfwMsgCustomValidationAcc">

		<p:commandButton id="cmdAcceptCustomValidationAcc" value="#{msgs['btn.accept']}"
			type="button" onclick="PF('cnfwMsgCustomValidationAcc').hide();">
		</p:commandButton>

	</p:confirmDialog>

	<p:confirmDialog id="cnfFinTranLogin" message="#{bodyMessageView}"
		closable="false" header="#{headerMessageView}" severity="info"
		widgetVar="cnfwFinTransaccionLogin">
		<h:form id="frmFinTranLogin">
			<h:panelGrid width="100%" border="0" id="idPnlGridTranLogin"
				cellpadding="0" cellspacing="0" style="text-align:center;">
				<p:commandButton id="cmbConfirmTranOkLogin" value="Aceptar"
					action="loginRule" ajax="false">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:confirmDialog>

	<p:confirmDialog id="cnfMsgCustomValidationFupl"
		message="#{bodyMessageView}" header="#{headerMessageView}"
		severity="alert" widgetVar="cnfwMsgCustomValidationFupl">

		<p:commandButton id="cmdAccept" value="#{msgs['btn.accept']}"
			type="button" onclick="PF('cnfwMsgCustomValidationFupl').hide();">
		</p:commandButton>

	</p:confirmDialog>

	<p:dialog id="dlgFileUploadInvFile" widgetVar="dlgwFileUploadInvFile"
		closable="false" draggable="false" resizable="false"
		header="#{msgs['lbl.invalid.file']}" modal="true">
		<table class="files">
			<tr>
				<td><span
					class="ui-icon ui-icon-alert ui-confirm-dialog-severity no-margin"></span>
					<span id="rowFuplContent"> </span></td>
			</tr>
			<tr>
				<td>
					<hr />
				</td>
			</tr>
			<tr>
				<td align="center"><p:commandButton id="cbmClose"
						value="#{msgs['btn.accept']}"
						onclick="PF('dlgwFileUploadInvFile').hide();return false;" /></td>
			</tr>
		</table>
	</p:dialog>


	<p:outputPanel id="opnlGenericDialogs">
	
	<p:confirmDialog id="cnfMsgCustomValidationSec" header="#{headerMessageView}" closable="false" severity="alert" widgetVar="cnfwMsgCustomValidationSec">  
			<f:facet name="message">
				<h:outputFormat value="#{bodyMessageView}" escape="false"/>
			</f:facet>
			<p:focus context="cnfMsgCustomValidationSec"/>
	        <p:commandButton id="cmdAcceptSec" value="#{gmsgs['btn.accept']}" type="button" onclick="PF('cnfwMsgCustomValidationSec').hide();"/> 
	    </p:confirmDialog>

		<p:confirmDialog id="cnfEndTransaction" message="#{bodyMessageView}"
			rendered="false" visible="true" closable="false"
			header="#{headerMessageView}" severity="info"
			widgetVar="cnfwEndTransaction">
			<h:form id="frmEndTransaction">
				<h:panelGrid width="100%" border="0" id="idPnlGridEndTransaction"
					cellpadding="2" cellspacing="2" style="text-align:center;">

					<p:commandButton id="cmbConfirmTransactionOk"
						value="#{msgs['btn.accept']}" action="search" ajax="false">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfEndTransactionSamePage"
			message="#{bodyMessageView}" rendered="false" visible="true"
			closable="false" header="#{headerMessageView}" severity="info"
			widgetVar="cnfwEndTransactionSamePage">
			<h:form id="frmEndTransactionSamePage">
				<h:panelGrid width="100%" border="0"
					id="idPnlGridEndTransactionSamePage" cellpadding="0"
					cellspacing="0" style="text-align:center;">
					<p:commandButton id="cmbConfirmTransactionOkSamePage"
						onclick="PF('cnfwEndTransactionSamePage').hide();"
						value="#{msgs['btn.accept']}" type="button">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:confirmDialog>
		
		<p:confirmDialog id="updatedCnfEndTransactionSamePage"
			closable="false" header="#{headerMessageView}" severity="info"
			widgetVar="updatedCnfwEndTransactionSamePage">
			<h:form id="frmUpdatedEndTransactionSamePage">
				<f:facet name="message">
					<h:outputFormat value="#{bodyMessageView}" escape="false"/>
				</f:facet>
				<h:panelGrid width="100%" border="0"
					id="idUpdatedPnlGridEndTransactionSamePage" cellpadding="0"
					cellspacing="0" style="text-align:center;">
					<p:commandButton id="cmbUpdatedConfirmTransactionOkSamePage"
						onclick="PF('updatedCnfwEndTransactionSamePage').hide();"
						value="#{msgs['btn.accept']}" type="button">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfMsgSearchValidation" rendered="false"
						 visible="true" message="#{msgs['error.message.motive.required']}"
						 closable="false" header="#{msgs['lbl.header.alert.alert']}" 
						 severity="alert" widgetVar="cnfwMsgSearchValidation">
			<h:form id="searhFrm">
				<p:commandButton id="okBtn" value="#{msgs['btn.accept']}"
					type="button" onclick="PF('cnfwMsgSearchValidation').hide();">
				</p:commandButton>
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfMsgRequiredValidation" rendered="false"
			visible="true" message="#{msgs['message.data.required']}"
			closable="false" header="#{msgs['lbl.header.alert.alert']}"
			severity="alert" widgetVar="cnfwMsgRequiredValidation">
			<h:form id="frmMsgRequiredValidation">
				<p:commandButton id="cmdAcceptRequiredValidation"
					value="#{msgs['btn.accept']}" type="button"
					onclick="PF('cnfwMsgRequiredValidation').hide();">
				</p:commandButton>
			</h:form>
		</p:confirmDialog>


		<p:confirmDialog id="cnfMsgCustomValidation" rendered="false"
			visible="true" closable="false" message="#{bodyMessageView}"
			header="#{headerMessageView}" severity="alert"
			widgetVar="cnfwMsgCustomValidation">
			<h:form id="frmMsgCustomValidation">
				<p:commandButton id="cmdAcceptCustomValidation"
					value="#{msgs['btn.accept']}" type="button"
					onclick="PF('cnfwMsgCustomValidation').hide();">
				</p:commandButton>
			</h:form>
		</p:confirmDialog>


		<p:confirmDialog id="cnfBack" message="#{msgs['message.back']}"
			closable="false" severity="alert"
			header="#{msgs['lbl.header.alert.alert']}" widgetVar="cnfwBack">
			<h:form id="frmBack">
				<p:commandButton id="cmbYes" value="#{msgs['btn.yes']}" ajax="false"
					action="search" />
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
					onclick="PF('cnfwBack').hide()" type="button" />
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfCloseSession" rendered="false" visible="true"
			closable="false"
			message="#{msgs['login.session.close.session.body']}"
			header="#{msgs['login.session.close.session.header']}"
			severity="alert" widgetVar="cnfwCloseSession">
			<h:form id="frmCloseSession">
				<p:commandButton value="#{msgs['btn.yes']}"
					id="idCmdBtnCloseSessYes" onclick="remoteClosedatamart();" oncomplete="PF('subscriber').disconnect();" 
					action="#{managerNavigationBean.closeSessionAction}">
				</p:commandButton>
				<p:commandButton value="#{msgs['btn.no']}"
					actionListener="#{managerNavigationBean.hideDialogs}"
					update=":opnlGenericDialogs" id="idCmdBtnCloseSessNo"
					oncomplete="PF('cnfwCloseSession').hide();" />
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfCloseSystem" closable="false"
			message="#{bodyMessageView}" rendered="false" visible="true"
			header="#{msgs['login.session.close.system.header']}"
			severity="alert" widgetVar="cnfwCloseSystem" modal="true" appendTo="@(body)">
			<h:form id="frmSalirSistema">
				<p:commandButton id="cmbConfirmSalirSistema"
					value="#{msgs['btn.yes']}" onclick="remoteClosedatamart();" action="#{managerNavigationBean.closeSystemAction}"  >
				</p:commandButton>
				<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnCloseSysNo"
					actionListener="#{managerNavigationBean.hideDialogs}"
					update=":opnlGenericDialogs" oncomplete="PF('cnfwCloseSystem').hide();" />
			</h:form>
		</p:confirmDialog>

		<p:confirmDialog id="cnfNoModified"
			message="#{msgs['message.no.modified']}" closable="false"
			severity="alert" header="#{msgs['lbl.header.alert.alert']}"
			widgetVar="cnfwNoModified">
			<h:form id="frmNoModified">
				<p:commandButton id="cmbAccept" value="#{msgs['btn.accept']}"
					onclick="PF('cnfwNoModified').hide()" type="button" />
			</h:form>
		</p:confirmDialog>
		<p:confirmDialog closable="false" id="sessionExpiredDlg"
			message="#{msgs['your.session.expired']}" header="" rendered="false"
			visible="true" severity="alert"
			widgetVar="sessionExpiredConfirmation" style="z-index: 25000">
			<h:form id="frmExpiredDlg">
				<p:commandButton id="confirmRouteDel" value="Ok"
					oncomplete="remoteClosedatamart();PF('sessionExpiredConfirmation').hide();"
					actionListener="#{managerNavigationBean.beginCloseSessionListener}" />
			</h:form>
		</p:confirmDialog>
		<p:confirmDialog widgetVar="killSession" closable="false"
			message="#{bodyMessageView}" appendToBody="true"
			header="#{msgs['lbl.header.alert.alert']}"
			id="idCnfDialogKillSession" visible="true" rendered="false">
			<h:form id="frmKillSesDlg">
				<p:commandButton id="idCmdBtnKillSessOk"
					value="#{msgs['idl.time.btn.lable.ok']}" action="loginPage?faces-redirect=true" onclick="PF('subscriber').disconnect();"
					ajax="false" immediate="true" oncomplete="remoteClosedatamart();PF('killSession').hide();" />
			</h:form>
		</p:confirmDialog>
		<p:confirmDialog id="idcnfclosecurrentpage"
			message="#{bodyMessageView}" rendered="false" visible="true"
			closable="false" header="#{headerMessageView}" severity="info"
			widgetVar="cnfWclosecurrentpage">
			<h:form id="frmcnfclosecurrentpage">
				<h:panelGrid width="100%" border="0" id="idPnlGridclosecurrentpage"
					cellpadding="0" cellspacing="0" style="text-align:center;">
					<p:commandButton id="cmbcnfclosecurrentpage"
						onclick="PF('cnfWclosecurrentpage').hide();"
						value="#{msgs['btn.accept']}" type="button">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:confirmDialog>
	</p:outputPanel>
</ui:composition>