<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ul>
<!-- 		<li><h:outputText value="#{userInfo.currentYear}"
				id="idOtxtCurrentYear" /> &nbsp; <h:outputText
				value="#{msgs['login.sesion.lbl.vendor']}" id="idOtxtVendor" /></li>
		<li><h:outputText
				value="#{applicationParameter.stageApplicationValue}" />
		</li> -->
		<li><h:outputText
				value="#{msgs['lbl.devlope.version']}" />
		</li>
<!-- 		<li>
			<h:outputText value="#{msgs['lbl.devlope.version.date']} #{applicationParameter.dateApplication}" />
		</li>
		<li>
			<h:outputText 
			    value="#{msgs['usuario.lbl.ultim']}"/>
				<h:outputText value="#{userInfo.userAccountSession.lastSucessAccess}">
				<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"
					timeZone="#{userInfo.timeZone}" />
				</h:outputText>
		</li>
		<li class="float-right no-margin">
			<h:outputText 
			    value="#{msgs['login.sesion.lbl.last.access']}"
				id="idOtxtLastAccess" /> 
				<h:outputText value="#{userInfo.userAccountSession.lastSucessAccess}">
				<f:convertDateTime pattern="dd/MM/yyyy"
					timeZone="#{userInfo.timeZone}" />
				</h:outputText>
		</li> -->
	</ul>
</ui:composition>