<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<script type="text/javascript">

//Code to generate uniqueId for each tab start
var date = new Date();
var uniqueId = date.valueOf();
//Code to generate uniqueId for each tab end

   function handleMessage(browser){
	//temporals id enum notification
	type = browser.notificationType;
		switch(type){
		case 1446:
			//killsession
			var msg=browser.message
			if(msg!=null){
				 document.getElementById('frmHeader:message').value = msg;
			}	
			clsSession();
			break;
		case 247:
			//process system
			popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			updateProcess();
			break;
		case 1440:
			//message system
			popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			updateMessages();
			break;

		case 1653:
			//report notification
	    	popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			break;
		}
	}
   function executeCloseDatamart(securityPath){
	   $.ajax({
		      type: "GET",
		      url: securityPath+"/pentaho/Logout",
		      dataType: "text", 	
		      error:function (xhr, ajaxOptions, thrownError){
		       console.error(' status : ' + textStatus+' ::: error on logout datamart '+ thrownError);
		      },
		      success:function(data, textStatus, jqXHR){
		    	  console.log(' status : ' + textStatus+' ::: successful on logout datamart');	      }
		    });
   }
  </script>
	<p:growl widgetVar="popupMessage" globalOnly="true" showDetail="true"
		sticky="false" life="8000" />
	<h:form id="frmHeader">
		<div id="topbar-layout" >
			<div class="topbar-left barraright">
				<ul>
					<li id="idLiHelp" >
						<h:outputLink styleClass="link-process" disabled="#{empty managerNavigationBean.currentSystem}" target="_blank" value="#{applicationParameter.urlUserManualFiles}" id="idCmdLinkHelp">
            				<h:graphicImage library="img" name="menu/help.png" title="#{gmsgs['iSecurity.help.user.manual.title']}"/>
            			</h:outputLink>
					</li>				
					<li>
						<h:outputLink value="#"	id="linkOpciones" styleClass="link-process link-options" ></h:outputLink>
						<p:menu overlay="true" id="menuClose" trigger="linkOpciones" my="left bottom" at="left top" styleClass="topbar-submenu">  
					        <p:menuitem value="#{msgs['login.session.lbl.close.system']}" actionListener="#{managerNavigationBean.beginCloseSystemListener}" update=":opnlGenericDialogs" rendered="#{not empty userInfo.currentSystem}"/>				        
				            <p:menuitem value="#{msgs['login.session.lbl.close.session']}" id="closeSession" actionListener="#{managerNavigationBean.beginCloseSessionListener}" update=":opnlGenericDialogs" />
				            <p:separator></p:separator>  
				            <p:menuitem value="#{msgs['change.pwd']}" id="idCmdLinkPwdDialogue" onclick="document.getElementById('frmHeader:changePasswordPopup').click();" />
				            <p:separator></p:separator>  
							<p:menuitem value="#{msgs['lbl.footer.CentrodeInformacon']}" />
					    </p:menu>
					</li>
					<li id="idLiReports">
						<p:commandLink styleClass="link-process link-reports"
							process="@this" update="@this" actionListener="#{managerNavigationBean.updateReportNotification}" global="false"
            				oncomplete="generateFrame('#{applicationParameter.urlmonitoringReports}')" id="idCmdLinkReports"/>
					</li>				
					<li id="idLiProcess">
						<p:commandLink id="linkProcess" styleClass="link-process link-process-icon" 
						process="@this" oncomplete="PF('menuProcessWidget').show();" global="false" update="@this menuProcess opnlLinkProcess" 
						actionListener="#{managerNavigationBean.updateProcessNotification}"/>
						<p:menu model="#{managerNavigationBean.notificationBean.menuProcess}"
							id="menuProcess" overlay="true" trigger="linkProcess"
							widgetVar="menuProcessWidget" 
							my="left bottom" at="left top" styleClass="topbar-submenu" />
						<p:outputPanel  id="opnlLinkProcess">
							<p:outputPanel styleClass="link-process-counter" rendered="#{managerNavigationBean.notificationBean.menuProcessTitle != '0' }">
								#{managerNavigationBean.notificationBean.menuProcessTitle}							
							</p:outputPanel>
						</p:outputPanel>
					</li>
					<li>
						<p:commandLink id="linkMessages" styleClass="link-process link-messages"
						process="@this" oncomplete="PF('menuMessagesWidget').show();"
						actionListener="#{managerNavigationBean.updateMessagesNotification}" update="@this menuMessages opnlLinkMessages" global="false" />
						<p:menu model="#{managerNavigationBean.notificationBean.menuMessages}"
							id="menuMessages" overlay="true" trigger="linkMessages"
							my="left bottom" at="left top" styleClass="topbar-submenu" 
							widgetVar="menuMessagesWidget" />
						<p:outputPanel id="opnlLinkMessages">
							<p:outputPanel styleClass="link-process-counter" rendered="#{managerNavigationBean.notificationBean.menuMessageTitle != '0' }">
								#{managerNavigationBean.notificationBean.menuMessageTitle}
							</p:outputPanel>						
						</p:outputPanel>						
					</li>
				</ul>	
				</div>
				<div class="barraleft"> 
				<ul>
					<li>
				        <a href="#" id="topbar-menu-button">
				            <i class="fa fa-angle-left arrow fa-2xl"></i>
<!-- 				            <i class="fa fa-angle-up mobile"></i> -->
				        </a>						
					</li>				
					<li id="idLiUserName">
						<h:outputText value="#{msgs['login.session.lbl.user']} " />
						<h:outputText value="#{userInfo.userAccountSession.userName}" styleClass="label-bolder" id="idOtxtLoginUserName"/>
					</li>
					
					<li id="idLiInstitutionType">
						<h:outputText value="#{msgs['login.session.lbl.institution.type']} "/>
						<h:outputText value="#{userInfo.userAccountSession.descInstitutionType}" styleClass="label-bolder" id="idOtxtUserInstitutionType"/>
					</li>
					
					<li id="idLiInstitution">
						<h:outputText value="#{msgs['login.session.lbl.institution']} "/>
						<h:outputText value="#{userInfo.userAccountSession.userInstitutionName}" styleClass="label-bolder" id="idOtxtUserInstitutionName"/>
					</li>				
					
					<li id="idLiUserType">
						<h:outputText value="#{msgs['login.session.lbl.user.type']} "/>
						<h:outputText value="#{userInfo.userAccountSession.descUserType}" styleClass="label-bolder" id="idOtxtUserType"/>
					</li>			
					
				</ul>
			</div>
			
				<ul>			
					<li>
						<p:outputPanel id="DirAccessPanel">
							<h:selectOneMenu id="DirectAccess" styleClass="medium-select-width" widgetVar="wvDirectAccess" style="margin-top:18px"
								onchange="selectDirectAccess(this)" required="false"
								value="#{managerNavigationBean.selDirectAccess}" 
								disabled="#{empty userInfo.currentSystem}">
								<f:selectItem id="idCboItemDirectAccess"
									itemLabel="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
									itemValue="-1" />
								<f:selectItems id="idCboItemsDirectAccess"
									value="#{managerNavigationBean.lstDirectAccess}" var="diracc"
									itemLabel="#{diracc.catalogueName}"
									itemValue="#{diracc.description}" />
							</h:selectOneMenu>
						</p:outputPanel>
					</li>								
				</ul>		
			
		</div>
		<h:inputHidden id="curoptname" value="#{managerNavigationBean.currentOptionName}" />
		<h:inputHidden id="curopturl" value="#{managerNavigationBean.currentOptionUrl}" />
		<h:inputHidden id="curtab" value="#{managerNavigationBean.currentTabId}" />
		<h:inputHidden id="message" value="#{managerNavigationBean.message}" />
		<p:remoteCommand name="remoteCallDirectAccess"
			id="idRmtCmdDirectAccess"
			actionListener="#{managerNavigationBean.updateDirectAccess}"
			update="frmHeader:DirAccessPanel :opnlGenericDialogs"/>
		<p:remoteCommand name="clsSession"
			actionListener="#{managerNavigationBean.killSessionAction}"
			id="idRmtCmdCloseSession" update=":opnlGenericDialogs" />
		<p:remoteCommand name="updateMessages" global="false"
			update="frmHeader:linkMessages frmHeader:menuMessages frmHeader:opnlLinkMessages" id="idRmtCmdUpdateMsg" />
		<p:remoteCommand name="updateProcess" global="false" update="frmHeader:linkProcess frmHeader:menuProcess frmHeader:opnlLinkProcess"
			id="idRmtCmdUpdateProcess" />
		<p:remoteCommand name="removeTab" actionListener="#{managerNavigationBean.closeTab}"/>
		<p:remoteCommand name="remoteClosedatamart"  actionListener="#{managerNavigationBean.executeCloseDatamart}"/> 
		<audio id="notificationAudio"> <source
			src="#{resource['audio:notify.ogg']}" type="audio/ogg" /> <source
			src="#{resource['audio:notify.mp3']}" type="audio/mpeg" /> <source
			src="#{resource['audio:notify.wav']}" type="audio/wav" /> </audio>
		<p:socket channel="#{managerNavigationBean.messageChannel}" widgetVar="subscriber" transport="long-polling" fallbackTransport="sse"
			onMessage="handleMessage" autoConnect="true" id="idSktMessageChannel">
		</p:socket>
		<p:commandButton id="changePasswordPopup"  style="display:none" immediate="true" actionListener="#{managerNavigationBean.openPopupPassword}" process="@this">
			<p:ajax event="dialogReturn" listener="#{managerNavigationBean.handleReturnPassword}"/>
		</p:commandButton>
	</h:form>

<ui:remove>	
<p:dialog widgetVar="pwdDialog" id="dialogChangePwd" modal="true" appendTo="@(body)" resizable="false"
			 header="#{msgs['change.pwd']}"  closable="false" draggable="false">
		<h:form id="frmcngpwd" prependId="false">	
			
			<table>
				<tr>
					<td><h:outputText value="#{msgs['user.lbl.user']}   : "  id="idOtxtUserNameLbl" /></td>
					<td><h:outputText value="#{userInfo.userAccountSession.userName}"  id="idOtxtUserName"/></td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['OldPassword.message']} (*): "  id="idOtxtOldPwdMsg" styleClass="required-field"/></td>
					<td>
						<h:panelGrid columns="2">
							<p:password id="oldpwd" value="#{changePasswordBean.oldPassword}" 
										label="#{msgs['OldPassword.message']}" size="30"
										maxlength="20" required="true" autocomplete="off"/>
							 <p:message for="oldpwd" display="icon" id="msgOldPwd"/>
					 	</h:panelGrid>
				 	</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['NewPassword.message']} (*): "  id="idOtxtNewPwdMsg" styleClass="required-field"/></td>
					<td>
						<h:panelGrid columns="2">	
							<p:password id="pwd1" maxlength="20" size="30"
								value="#{changePasswordBean.newPassword}" autocomplete="off"
								label="#{msgs['NewPassword.message']}" required="true"/>
							<p:message for="pwd1" display="icon" id="msgPwd1"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['ConfirmPassword.message']} (*): "  id="idOtxtCnfPwdMsg" styleClass="required-field"/></td>
					<td>
						<h:panelGrid columns="2">
							<p:password id="pwd2" maxlength="20" size="30"
								value="#{changePasswordBean.confPassword}" autocomplete="off"
								label="#{msgs['ConfirmPassword.message']}" required="true">
							</p:password>
							<p:message for="pwd2" display="icon" id="msgPwd2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<br/>
						<p:commandButton value="#{msgs['btn.accept']}" id="idCmdBtnCnfPwdAccept"
						 				 actionListener="#{changePasswordBean.cnfChangePwd}" update="frmcngpwd, :opnlGenericDialogs"/>
						 
						<p:commandButton value="#{msgs['btn.cancel']}" actionListener="#{changePasswordBean.clean}"  id="idCmdBtnCnfPwdCancel"
					    				 update="frmcngpwd" immediate="true" oncomplete="PF('pwdDialog').hide();" />
				    </td>
				</tr>
			</table>

		</h:form>
	</p:dialog>
	<p:dialog widgetVar="cnfwcngpassword" id="idcnfcngpassword" modal="true" appendTo="@(body)" header="#{msgs['lbl.header.alert.confirm']}"  closable="false" resizable="false" draggable="false" severity="alert">
			<h:form prependId="false" id="idFrmChangePwdDialog">
		        		<table>
	        		<tr>
	        			<td>
	        				<h:outputText value="#{msgs['login.cnf.changepwd']} #{userInfo.userAccountSession.userName} ?" />
        				</td>
       				</tr>
	        		<tr>
	        			<td align="center">
							<p:commandButton id="cmbConfirmcngpassword" update=":opnlGenericDialogs, :frmcngpwd"
        				 	value="#{msgs['btn.yes']}" action="#{changePasswordBean.changePwd}"  />
        				 	
							<p:commandButton value="#{msgs['btn.no']}" actionListener="#{changePasswordBean.clean}" update=":frmcngpwd"
	        				oncomplete="PF('cnfwcngpassword').hide();"/>
	        			</td>
        			</tr>
        			</table>
        			
			</h:form>
			</p:dialog>
</ui:remove>
	
	<p:dialog widgetVar="showpwdDialog" id="dialogshowPwd" modal="true" 
			  header="#{msgs['lbl.header.alert.success']}" appendTo="@(body)" draggable="false" resizable="false" closable="false">
		<h:form prependId="false" id="idFrmPwdDialog">
			<p:outputPanel id="showpwd">
				<table>
					<tr>
						<td>
							<h:outputText value="#{msgs['pwd.change.success']}"  id="idOtxtPwdChangeSuccess"/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<p:commandButton value="#{msgs['btn.lable.ok']}" id="idCmdBtnPwdChangeOk" type="button"
							onclick="PF('showpwdDialog').hide();"/>
						</td>
					</tr>
				</table>
			</p:outputPanel>
		</h:form>
	</p:dialog>
	
</ui:composition>