<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:o="http://omnifaces.org/ui">

	<script type="text/javascript">

//Code to generate uniqueId for each tab start
var date = new Date();
var uniqueId = date.valueOf();
//Code to generate uniqueId for each tab end

	     idleTime = 0;
	     idlFirst =  true;
	     $(document).ready(function () {
	         //Increment the idle time counter every minute.
	         var idleInterval = setInterval(timerIncrement, 60000); 
	         //Zero the idle timer on mouse movement.
	         //$(this).mousemove(function (e) {
	         //    idleTime = 0;
	       //  });
	         $(this).keypress(function (e) {
	             idleTime = 0;
	         });
	         $(this).click(function (e) {
	             idleTime = 0;
	         });
	     });
	     function timerIncrement() {
	         idleTime = idleTime + 1;
	        if(idlFirst){
	          if (idleTime == #{applicationParameter.sessionIdleTime}) { 
	        	 $("#sessionTimeOutAction").click();
	        	 idlFirst = false;
	          }
	        }
	     }

function socketListener(browser, channel, event) {
	//temporals id enum notification
	console.dir(browser);
	type = browser.notificationType;
		switch(type){
		case 1446:
			//killsession
			var msg=browser.message
			if(msg!=null){
				 document.getElementById('frmSockets:message').value = msg;
			}	
			clsSession();
			break;
		case 247:
			//process system
			popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			updateProcess();
			break;
		case 1440:
			//message system
			popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			updateMessages();
			break;

		case 1653:
			//report notification
	    	popupMessage.show([{
				summary:decodeToUtf8(browser.subject),
				detail:decodeToUtf8(browser.message),
				severity:'info'
				}]);
			$('#notificationAudio')[0].play();
			break;
		}
}

  </script>
<!-- 	<p:growl widgetVar="popupMessage" globalOnly="true" showDetail="true" -->
<!-- 		sticky="false" life="8000" /> -->
		
	<h:form id="frmSockets">



		<h:inputHidden id="curoptname"
			value="#{managerNavigationBean.currentOptionName}" />
		<h:inputHidden id="curopturl"
			value="#{managerNavigationBean.currentOptionUrl}" />
		<h:inputHidden id="curtab"
			value="#{managerNavigationBean.currentTabId}" />
		<h:inputHidden id="message" value="#{managerNavigationBean.message}" />
		
		<p:remoteCommand name="remoteCallDirectAccess"
			id="idRmtCmdDirectAccess"
			actionListener="#{managerNavigationBean.updateDirectAccess}"
			update="frmSockets:DirAccessPanel :opnlGenericDialogs" />
			
		<p:remoteCommand name="clsSession"
			actionListener="#{managerNavigationBean.killSessionAction}"
			id="idRmtCmdCloseSession" update=":opnlGenericDialogs" />
			
		<p:remoteCommand name="updateMessages" global="false"
			update="@this @(.clsUpdateMessage)"
			id="idRmtCmdUpdateMsg" />
			
		<p:remoteCommand name="updateProcess" global="false"
			update="@this @(.clsUpdProcess)"
			id="idRmtCmdUpdateProcess" />
			
		<p:remoteCommand name="removeTab"
			actionListener="#{managerNavigationBean.closeTab}" />
			
		<audio id="notificationAudio"> <source
			src="#{resource['audio:notify.ogg']}" type="audio/ogg" /> <source
			src="#{resource['audio:notify.mp3']}" type="audio/mpeg" /> <source
			src="#{resource['audio:notify.wav']}" type="audio/wav" /> 
		</audio>

		<ui:remove> deprecated
		<p:socket channel="#{managerNavigationBean.messageChannel}"
				widgetVar="subscriber" transport="long-polling"
				fallbackTransport="sse" onMessage="handleMessage" autoConnect="true"
				id="idSktMessageChannel">
			</p:socket>
		</ui:remove>

			
		<o:socket channel="messageChannel" onmessage="socketListener"
			user="#{userInfo.userAccountSession.userName}" />

		<p:commandButton value="test push omni" rendered="false"
			actionListener="#{managerNavigationBean.testPushOmni}"
			process="@this"></p:commandButton>

				<p:outputPanel id="DirAccessPanel">
				 
				</p:outputPanel>

	</h:form>




</ui:composition>