<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<body>	
		<h:outputText value="#{msgs['lbl.title.issuance']}" styleClass="title-page" />
		<h:form id="formFinIssue">
	
			<table width="100%">
				<tr>
					<td>
					<p:fieldset id="fieldSearch"  legend="#{msgs['lbl.search.criteria']}" toggleable="false">
						<p:outputPanel id="outputPanelFilter">
						<table width="100%">
							<tr>
								<td><h:outputText value="#{msgs['lbl.code.issuer']}" /></td>
								<td><p:inputText id="txtCodigoPart" value="Iss01" disabled="true" maxlength="5" /></td>
							</tr>
							<tr>				
								<td><h:outputText value="#{msgs['lbl.instrument.type']}" /></td>
								<td>
									<p:selectOneMenu style="width:150px" value="#{helperGenericBean.emisor.tipoDocumento}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.rnc']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.dio']}" itemValue="2" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.security.class']}" /></td>
								<td>
									<p:selectOneMenu style="width:150px" value="#{helperGenericBean.emisor.tipoDocumento}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.rnc']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.dio']}" itemValue="2" />
									</p:selectOneMenu>
								</td>
								<td><h:outputText value="#{msgs['lbl.description.value']}" /></td>
								<td><p:inputText id="txtDescripcionEmision" value="#{helperGenericBean.issue.issuerDescription}" maxlength="150" /></td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<p:commandButton id="btnSearch" value="#{msgs['lbl.button.consult']}" icon="fa fa-search" process="@this" immediate="true" actionListener="#{helperGenericBean.dataListEmision}" update="outputPanelResult" ajax="true" /> 
									<p:commandButton id="btnClear" value="#{msgs['lbl.button.clear']}" icon="fa fa-trash" process="@this" immediate="true" actionListener="#{helperGenericBean.cleanDataListEmision}" update="outputPanelResult" ajax="true" />
									<p:commandButton id="btnCancel" value="#{msgs['lbl.button.cancel']}" icon="ui-cancel" onclick="buscarEmisionWidget.hide()" />
								</td>
							</tr>
						</table>
						</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td><p:outputPanel id="outputPanelResult">
							<p:panel id="idPanelResult" rendered="#{helperGenericBean.lstIssues!=null}">
	
							<p:dataTable id="dtbResult" var="issue"
								value="#{helperGenericBean.lstIssues}" paginator="true"
								rows="10" paginatorPosition="top"
								paginatorTemplate="#{msgs['dtb.template']} "
								selection="#{helperGenericBean.lstIssues}">
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.code.issuance']}" styleClass="text-header-table" />
									</f:facet>
									<p:commandLink immediate="true" process="@this" onclick="buscarEmisionWidget.hide()">
										<h:outputText value="#{issue.issuerCode}" />
									</p:commandLink>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['issuance.lbl.description']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{issue.issuerDescription}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.issuer']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{msgs['lbl.valuator.issuer']}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['security.lbl.instrument.type.code']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{issue.instrumentType == 1 ? 'Instrumento 01' : 'Instrumento 02'}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.security.type']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{issue.securitiesType == 1 ? 'Tipo 01' : 'Tipo 02'}" />

								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['security.lbl.security.class']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{issue.securitiesClass == 1 ? 'Clase Valor 01' : 'Clase Valor 02'}" />

								</p:column>								

								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.state'']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{issue.estado == 1 ? 'REGISTRADO' : 'BLOQUEADO'}" />
								</p:column>
							</p:dataTable>
							
							</p:panel>
	
	
						</p:outputPanel></td>
				</tr>
			</table>
	
		</h:form>
</body>
</html>
