<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<body>	
		<h:outputText value="#{msgs['lbl.issuer.title']}" styleClass="title-page" />
		<h:form id="formFinIssuer">
	
			<table width="100%">
				<tr>
					<td>
					<p:fieldset id="fieldSearch"  legend="#{msgs['lbl.search.criteria']}" toggleable="false">
						<p:outputPanel id="outputPanelFilter">
						<table width="100%">
							<tr>
								<td><h:outputText value="#{msgs['lbl.code.issuer']}" /></td>
								<td><p:inputText id="txtCodigoPart" value="#{helperGenericBean.emisor.id}" maxlength="5" /></td>
								<td><h:outputText value="#{msgs['lbl.bussines.name']}" /></td>
								<td><p:inputText id="txtRazonSocial" value="#{helperGenericBean.emisor.razonSocial}" maxlength="150" /></td>
							</tr>
							<tr>				
								<td><h:outputText value="#{msgs['adm.representative.lbl.document.type']}" /></td>
								<td>
									<p:selectOneMenu style="width:150px" value="#{helperGenericBean.emisor.tipoDocumento}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.rnc']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.dio']}" itemValue="2" />
									</p:selectOneMenu>
								</td>
								<td><h:outputText value="#{msgs['lbl.document.number']}" /></td>
								<td><p:inputText id="txtNumDoc" value="#{helperGenericBean.emisor.numeroDocumento}" maxlength="20" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.mnemonic']}" /></td>
								<td><p:inputText id="txtNemonico" value="#{helperGenericBean.emisor.nemonico}" maxlength="8" /></td>
								<td><h:outputText value="#{msgs['lbl.state']}" /></td>
								<td>
									<p:selectOneMenu style="width:150px" value="#{helperGenericBean.emisor.estado}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.register.find.issue']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.locked.find.issue']}" itemValue="2" />
										<f:selectItem itemLabel="#{msgs['lbl.cancelled.find.issue']}" itemValue="3" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td><h:outputText value="Sector Economico" /></td>
								<td>
									<p:selectOneMenu style="width:150px" id="tipoPart" value="#{helperGenericBean.emisor.sectorEconomico}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.sector01']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.sector02']}" itemValue="2" />
									</p:selectOneMenu>
								</td>
								<td ><h:outputText value="Actividad Economica" /> </td>
								<td>
									<p:selectOneMenu style="width:150px" id="clasePart" value="#{helperGenericBean.emisor.actividadEconomica}">
										<f:selectItem itemLabel="#{msgs['lbl.select.item']}" itemValue="0" />
										<f:selectItem itemLabel="#{msgs['lbl.activity01']}" itemValue="1" />
										<f:selectItem itemLabel="#{msgs['lbl.activity02']}" itemValue="2" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<p:commandButton id="btnSearch" value="#{msgs['lbl.button.consult']}" icon="fa fa-search" process="@this" immediate="true" actionListener="#{helperGenericBean.dataListEmisor}" update="outputPanelResult" ajax="true" /> 
									<p:commandButton id="btnClear" value="#{msgs['lbl.button.clear']}" icon="fa fa-trash" process="@this" immediate="true" actionListener="#{helperGenericBean.cleanDataListEmisor}" update="outputPanelResult" ajax="true" />
									<p:commandButton id="btnCancel" value="#{msgs['lbl.button.cancel']}" icon="ui-cancel" onclick="buscarEmisorWidget.hide()" />
								</td>
							</tr>
						</table>
						</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td><p:outputPanel id="outputPanelResult">
							<p:panel id="idPanelResult" rendered="#{helperGenericBean.lstEmisor!=null}">
	
							<p:dataTable id="dtbResult" var="emisor"
								value="#{helperGenericBean.lstEmisor}" paginator="true"
								rows="10" paginatorPosition="top"
								paginatorTemplate="#{msgs['dtb.template']} "
								selection="#{helperGenericBean.lstEmisor}">
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.code']}" styleClass="text-header-table" />
									</f:facet>
									<p:commandLink immediate="true" process="@this" onclick="buscarEmisorWidget.hide()">
										<h:outputText value="#{emisor.id}" />
									</p:commandLink>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.bussines.name']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{emisor.razonSocial}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.type.number.document']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{emisor.tipoDocumento == 1 ? 'RNC':'DIO'}-#{emisor.numeroDocumento}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['label.economic.sector']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{emisor.sectorEconomico == 1 ? 'Sector 01' : 'Sector02'}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['label.economic.activity']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{emisor.actividadEconomica == 1 ? 'Actividad01' : 'Actividad02'}" />

								</p:column>

								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.state']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{emisor.estado == 1 ? 'REGISTRADO' : 'BLOQUEADO'}" />
								</p:column>
							</p:dataTable>
							
							</p:panel>
	
	
						</p:outputPanel></td>
				</tr>
			</table>
	
		</h:form>
</body>
</html>
