<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<f:view contentType="text/html" locale="#{sessionScope.locale}">
<h:head>
	<f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>

	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
	<meta http-equiv="Pragma" content="nocache"/>
	
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="application_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
<!-- 	<h:outputStylesheet name="css/layout-indigo.css" library="ecuador-layout" /> -->
	<h:outputStylesheet library="css" name="layout-indigo.css" />
	<h:outputStylesheet library="css" name="nanoscroller.css"/>
	
	<h:outputScript library="js" name="functions.js" />
	<h:outputScript library="js" name="mousewheel.js"/>
	<h:outputScript library="js" name="layout.js"/>
	<h:outputScript library="js" name="nanoscroller.js"></h:outputScript>
		
	<ui:insert name="header" />
	<style>
	@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
	</style>	
	<style type="text/css"> 
		input[type="text"] {
			text-transform: uppercase;
		}
		
		.ui-menu-horizontal-application{
		     position: absolute !important;
			  right: 0px !important;
			  top: 1px !important;
			  z-index: 10!important;
		}
		
		#footer-layout{
			border: none !important;
			/*background: transparent !important;*/	
			z-index: 10 !important;
			overflow: visible !important;
		}
		
		.ui-menubar-height{
		height: 30px !important;
		}
	</style>
	<script>
	function generateFrame(context){
		var myiframe = document.getElementById("gameFrame");
		myiframe.src = context;
	}

	function selectDirectAccess(itemsel){
		var selUrl = itemsel.value;
		if(selUrl != "-1")
			generateFrame(selUrl);
	}
	 
	function addDirectAccess(nameop, urlop){			
		document.getElementById('frmHeader:curoptname').value = nameop;
		document.getElementById('frmHeader:curopturl').value = urlop;
		document.getElementById('frmHeader:curtab').value = uniqueId;
		remoteCallDirectAccess();   
		return true;
	} 

	/*
	$(window).unload(function() {
		removeTab();
	});*/
	</script>
</h:head>
<h:body style=" overflow: hidden;" >
		<style>
			 .ui-menu .ui-menu-parent .ui-menu-child {
			 	width: 24em !important;
			 }
		</style>
		<ui:remove> 
			 /*
			 .ui-menubar-san {
			    background: #1d3e6b;
			    border-left-color:#1d3e6b;
			    border-top-color:#1d3e6b;
			}
			.submenu-san .ui-menu-child{
			background: #1d3e6b;
			}
			
			.submenu-san .ui-menuitem-text{
			color:white;
			}
			*/
		</ui:remove>
		<div class="layout-wrapper layout-menu-static">
		<ui:include src="/template/includes/socketactions.xhtml"></ui:include>
		<ui:include src="/template/includes/header.xhtml"></ui:include>
		<ui:include src="/template/includes/menu.xhtml" />
					
			<div class="layout-main">
				<div class="layout-content" style="height: 93vh; padding: 0px ; padding-bottom: 15px;">
							<ui:include src="/template/includes/status.xhtml" />
						
							<iframe name="i#{currentWindowContext.id}" id="gameFrame" 
							width="100%" style=" height: 100%; border: none; padding-right: 1px" frameBorder="0"
							src="../template/defaultSecurity.xhtml" scrolling="auto"  >
							</iframe>
							<script>
								var iframeClick = function () {
								    var isOverIframe = false,
								    windowLostBlur = function () {
								        if (isOverIframe === true) {
								            // DO STUFF
								            isOverIframe = false;
								        }
								    };
								    $(window).focus();
								    $('iframe').mouseenter(function(){
								        isOverIframe = true;
								       // PF('menuDepository').clearMenuState(); diesgut
								    });
								    $('iframe').mouseleave(function(){
								        isOverIframe = false;
								    });
								    $(window).blur(function () {
								        windowLostBlur();
								    });
								};
								iframeClick();
							</script>							
							
				</div>
			</div>					
			</div>				
<!-- 		<pe:layout maskPanesEarly="true"> -->
			
<!-- 				<ui:include src="/template/includes/socketactions.xhtml"></ui:include> -->
<!-- 			<pe:layoutPane position="north" closable="false" size="80" minHeight="80" resizable="false" id="footer-layout" spacingOpen="0"> -->
<!-- 				<ui:include src="/template/includes/topbar.xhtml" /> 			 -->
<!-- 			</pe:layoutPane>			 -->
<!-- 			<pe:layoutPane position="center" closable="false" resizable="true" styleContent="overflow-y:hidden"> -->
<!-- 				<ui:include src="/template/includes/menu.xhtml" /> -->

<!-- 				<iframe name="i#{currentWindowContext.id}" id="gameFrame" width="100%" height="100%" frameborder="0" src="../template/defaultSecurity.xhtml" ></iframe> -->
<!-- 				<iframe name="idlogout" id="logoutgameFrame" width="0%" height="0%" frameborder="0" ></iframe> -->
				<script>
	var iframeClick = function () {
	    var isOverIframe = false,
	    windowLostBlur = function () {
	        if (isOverIframe === true) {
	            // DO STUFF
	            isOverIframe = false;
	        }
	    };
	    $(window).focus();
	    /*$('iframe').mouseenter(function(){
	        isOverIframe = true;
	        PF('menuDepository').resetMenu();
	    });*/
	    $('iframe').mouseleave(function(){
	        isOverIframe = false;
	    });
	    $(window).blur(function () {
	        windowLostBlur();
	    });
	};
	iframeClick();
	</script>
	
<!-- 			</pe:layoutPane>			 -->
<!-- 			<pe:layoutPane position="south" closable="false" size="30" minHeight="30" resizable="false" styleContent="overflow-y:hidden" id="footer-bar" spacingOpen="0"> -->
<!-- 				<ui:include src="/template/includes/footer.xhtml" /> -->
<!-- 			</pe:layoutPane> -->
<!-- 		</pe:layout> -->

		
		<h:form id="iTime" prependId="false">
		 <h:body>
				<p:commandButton id="globalSessionTimeOutAction"  style="display:none" immediate="true" action="#{managerNavigationBean.sessionLogout}" update="@form :opnlGenericDialogs"></p:commandButton>
		</h:body>
	    </h:form>
	    <h:form id="frmDtm">
				<p:remoteCommand id="idRemotedatamart" name="remotedatamart"   actionListener="#{managerNavigationBean.datamal}" /> 
		</h:form>
		<h:form name="logout" id="logout" action="logout" target="idlogout">
			<input type="hidden"  name="state" value="none" />
		</h:form>
		 <h:form name="login" id="login" action="j_spring_security_check" target="i#{currentWindowContext.id}">
			<input type="hidden"  name="j_username" id="j_username" value="none" />
			<input type="hidden"  name="j_password" id="j_password" value="none" />			    			
		</h:form>
		<ui:include src="/template/includes/dialogs.xhtml" />
	</h:body>
</f:view>
</html>