<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
			$(window).load(function(){
				setAllHolidays('${accreditationCertificationBean.allHolidays}');
			});

			$(window).load(function(){
			   setInitialFormState('#contentForm');
			 });
		</script>
		<style type="text/css">
			#javax_faces_developmentstage_messages {
				display: none;
			}
		</style>
		<p:importConstants type="com.pradera.model.custody.type.CatType" var="catTypesX"/>
		<h:form id="contentForm">
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText value="#{msgs['lbl.accreditation.certificate.title']}" styleClass="title-page" />
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.register.data']}">
							<table width="100%">
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.accreditation.certificate.cat.type']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:selectOneMenu id="catTypes"
											value="#{accreditationCertificationBean.accreditationOperation.catType}" style="width:200px">
											
											<f:selectItems value="#{accreditationCertificationBean.catType}"
														   var="catType" itemLabel="#{catType.parameterName}"
														   itemValue="#{catType.parameterTablePk}" />
											<p:ajax process="@this" listener="#{accreditationCertificationBean.onChangeCatType}" event="change"
														update="@form, opnlValidity, opnlMotive, opnlExpirationDate, pnlHolderHelper, pnlHolderHelperPart, idHolderPart" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td width="220px">
										<h:outputText value="#{msgs['lbl.accreditation.certificate.petitioner.type']} (*)"
											styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu style="width:200px" id="petitionerType"
												disabled="#{accreditationCertificationBean.disableParticipantSelection}"
												value="#{accreditationCertificationBean.accreditationOperation.petitionerType}"
												label="#{msgs['lbl.accreditation.certificate.petitioner.type']}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{accreditationCertificationBean.petitionerType}"
															   var="petitionerType" itemLabel="#{petitionerType.parameterName}"
															   itemValue="#{petitionerType.parameterTablePk}" />
												<p:ajax process="@this" listener="#{accreditationCertificationBean.onChangePetitioner}" event="change"
														update="participant, participant2, blockEntityOutputPanel, blockEntityOutputPanel2, 
														blockedPanel, petitionerType, tipoSaldoPanel, oppSustenance, msgPetitionerType,
														basicMatrix, basicMatrix2, pnlHolderHelper, opnlFuplIssuCert, pnlDescBlocktype,
														pnllblBlocktype, pnlHolderHelperPart, opissuer1, opissuer2 "/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message display="icon" for="petitionerType"	id="msgPetitionerType" />
										</h:panelGrid>
									</td>
								</tr>
							
								<tr>
			
									<td width="220px">
										<p:outputPanel id="opissuer1">
											<p:outputPanel
												rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == 
															accreditationCertificationBean.issuerPetitioner }">
												<h:outputText
													value="#{msgs['lbl.accreditation.certificate.issuer.name']}" />
											</p:outputPanel>
										</p:outputPanel></td>
									<td  width="220px">
									<p:outputPanel id="opissuer2">
											<p:outputPanel
												rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == 
															accreditationCertificationBean.issuerPetitioner }">
												<p:selectOneMenu id="idIssuer" disabled="#{accreditationCertificationBean.disableParticipantSelection or (accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2))}"
													value="#{accreditationCertificationBean.issuerName}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
													<f:selectItems value="#{accreditationCertificationBean.listIssuer}"
																   var="issuer" itemLabel="#{issuer.mnemonic} - #{issuer.idIssuerPk} - #{issuer.businessName}"
																   itemValue="#{issuer.idIssuerPk}" />
													<p:ajax update="@form 
															pnlDescBlocktype pnllblBlocktype 
															pnlHolderHelperPart tipoSaldoPanel basicMatrix basicMatrix2
															pnlDescBlocktype pnllblBlocktype idHolderPart
															opissuer1 opissuer2" event="change"
														listener="#{accreditationCertificationBean.onChangeIssuer}" />
												</p:selectOneMenu>		
												<p:message display="icon" for="idIssuer" id="msgidIssuer" />
											</p:outputPanel>
										</p:outputPanel></td>
								</tr>

								<tr>
									<td>
										<p:outputPanel id="blockEntityOutputPanel">
											<p:outputPanel rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.creditorPetitioner}">
												<h:outputText value="#{msgs['lbl.accreditation.certificate.entity.block']} (*)"
													styleClass="required-field" />
											</p:outputPanel>
										</p:outputPanel></td>
									<td colspan="4">
										<p:outputPanel id="blockEntityOutputPanel2">
											<p:outputPanel id="optBlockEntity" rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == 
															accreditationCertificationBean.creditorPetitioner}">
												<ark:blockEntityHelper id="helpBlockEntity" required="true"
																	blockEntity="#{accreditationCertificationBean.blockRequest.blockEntity}"
																	validatorName="com.pradera.commons.view.validators.InputTextValidator" remoteListener="updateField()"/>
												<p:remoteCommand name="updateField" process="@this" update="optBlockEntity" 
																 actionListener="#{accreditationCertificationBean.searchListBlockEntityAccreditation}"/>
											</p:outputPanel>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td>
										<p:outputPanel id="participant">
											<p:outputPanel rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.participantPetitioner}">
												<h:outputText
													value="#{msgs['lbl.accreditation.certificate.participant']} (*)"
													styleClass="required-field" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td colspan="4">
										<p:outputPanel id="participant2">
											<p:outputPanel rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.participantPetitioner}">
												<h:panelGrid columns="2">
													<p:selectOneMenu style="width:550px"  id="participantId"
														disabled="#{accreditationCertificationBean.disableParticipantSelection}"
														value="#{accreditationCertificationBean.participant.idParticipantPk}">
														<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue=""/>
														<f:selectItems
															value="#{accreditationCertificationBean.participantList}"
															var="part"
															itemLabel="#{part.displayDescriptionCode}"
															itemValue="#{part.idParticipantPk}" />
														<f:validator
															validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
														<p:ajax event="change" 
															listener="#{accreditationCertificationBean.onChangeParticipant}"
															update="pnlDescBlocktype pnllblBlocktype 
															pnlHolderHelperPart tipoSaldoPanel basicMatrix basicMatrix2
															pnlDescBlocktype pnllblBlocktype msgParticipantId participantId idHolderPart " 															
															immediate="false" />														
													</p:selectOneMenu>
													<p:message display="icon" for="participantId" id="msgParticipantId" />
												</h:panelGrid>
											</p:outputPanel>
										</p:outputPanel></td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.accreditation.certificate.holder']} (*)" styleClass="required-field" />
									</td>
									
									<td colspan="4">
										<p:outputPanel id="pnlHolderHelper" >
											<p:outputPanel
												rendered="#{not(accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner)}">
												<ark:holderHelper id="idHolder" required="true" remoteListener="searchHA()"
																  validatorName="com.pradera.commons.view.validators.InputTextValidator"
																  holder="#{accreditationCertificationBean.holder}" 
																  />
												<p:remoteCommand name="searchHA" actionListener="#{accreditationCertificationBean.findHolder}" process="@this" 
																 update="basicMatrix basicMatrix2 tipoSaldoPanel msgIdHolder errorAccountList pnlHolderHelper" />
												</p:outputPanel>											
										</p:outputPanel>
										<p:outputPanel id="pnlHolderHelperPart"  >
											<p:outputPanel
												rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner}">
												<ark:holderHelper id="idHolderPart"  required="true" blParticipant="true"
																  participant="#{accreditationCertificationBean.participant.idParticipantPk}"
																  remoteListener="searchHAPart()" validatorName="com.pradera.commons.view.validators.InputTextValidator"
																  holder="#{accreditationCertificationBean.holder}"
																  disabled="#{empty accreditationCertificationBean.participant.idParticipantPk}"/>
												<p:remoteCommand name="searchHAPart" actionListener="#{accreditationCertificationBean.findHolder}" process="@this"
																 update="basicMatrix basicMatrix2 tipoSaldoPanel msgIdHolder errorAccountList pnlHolderHelper" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td>
										<p:message for="idHolder" display="icon" id="msgIdHolder" />
									</td>
								</tr>
								
								<tr>
									<td>
										<p:outputPanel id="basicMatrix2">
											<p:outputPanel id="basicMatrixName" rendered="#{not empty accreditationCertificationBean.holderAccounts}">
												<h:outputText value="#{msgs['lbl.accreditation.certificate.holder.account']} (*)"
													styleClass="required-field" escape="false" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td colspan="4">
										<p:outputPanel id="basicMatrix">
											<p:dataTable var="account" id="accountResultList" rendered="#{not empty accreditationCertificationBean.holderAccounts}"
														 value="#{accreditationCertificationBean.holderAccounts}"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px" rowKey="#{account.idHolderAccountPk}" rowIndexVar="rIndx"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
												     	 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
												     	 selection="#{accreditationCertificationBean.holderAccount}"
												     	 >
												<ui:remove>
												<p:column style="text-align:center;width:18px">
													<f:facet name="header">
														<h:outputText value="" styleClass="text-header-table" />
													</f:facet>
													<p:selectBooleanCheckbox id="selectedAccount" value="#{account.selected}"
														   					 disabled="#{account.stateAccount == accreditationCertificationBean.holderClosedStateType}">
														<p:ajax event="valueChange" update=":contentForm:accountResultList :contentForm:tipoSaldoPanel"
																global="false" listener="#{accreditationCertificationBean.verifyHolderAccount()}" />
																
													</p:selectBooleanCheckbox>
												</p:column>
												</ui:remove>
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{accreditationCertificationBean.verifyHolderAccount()}" 
													disabled="#{account.stateAccount == accreditationCertificationBean.holderClosedStateType}" 
													update=":contentForm:accountResultList :contentForm:tipoSaldoPanel :opnlGenericDialogs"/>
												<p:column style="text-align:center;width:70px">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.accreditation.certificate.holderaccount.number']}"
																	  styleClass="text-header-table" />
													</f:facet>
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 4px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>
												
												<p:column style="text-align:center">
													<f:facet name="header">
														<h:outputText
															value="#{msgs['lbl.accreditation.certificate.status']}"
															styleClass="text-header-table" />
													</f:facet>
													<h:outputText
														value="#{account.stateAccountDescription}" />
												</p:column>
												
												<f:facet name="footer">  
										            <h:outputText value="#{accreditationCertificationBean.holderAccounts.size()} #{msgs['lbl.results']}" 
										            			  style="align:left;"/>  
										        </f:facet>
												
											</p:dataTable>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
								<td><h:outputText value="#{msgs['tdv.lable.securityClass']}"/></td>
									<td>
										<p:selectOneMenu style="width:550px"  id="idInstrumentType" 
														 value="#{accreditationCertificationBean.accreditationDetail.security.securityClass}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems value="#{accreditationCertificationBean.lstSecurityClass}" 
														   var="instrument" 
														   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
														   itemValue="#{instrument.parameterTablePk}" />
											<p:ajax update=" :contentForm:accountResultList tipoSaldoPanel" listener="#{accreditationCertificationBean.resetSecurities}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{gmsgs['security.lbl.code']}"/>
									</td>
									<td colspan="3">
										<h:panelGrid id="pgHelperSec" columns="5" cellspacing="0" cellpadding="0">
											<ark:securities-acc
													value="#{accreditationCertificationBean.accreditationDetail.security.idSecurityCodePk}"
													partCode="#{accreditationCertificationBean.participant.idParticipantPk}"
													holderAccount="#{accreditationCertificationBean.holderAccount}"
													validatorName="com.pradera.commons.view.validators.InputTextValidator"
													description="true" id="securityHelper"
													remoteListener="updateFieldSe()" />
											<p:remoteCommand name="updateFieldSe" update=":contentForm:opnlSecurityHelp" process="@this"/>	
											<p:spacer width="5"/>
											<p:outputPanel id="opnlSecurityHelp">
												<ark:securities-help id="securityHelp" securityCode="#{accreditationCertificationBean.accreditationDetail.security.idSecurityCodePk}"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									
								</tr>
								<tr>
									<td width="136px">
										<p:outputPanel id="pnllblBlocktype" >
											<h:outputLabel id="idlblBlocktype" value="#{msgs['lbl.accreditation.certificate.blocktype']}"
												 rendered="#{accreditationCertificationBean.renderBlockedType}" />
										</p:outputPanel>
									</td>
									<td>
										<p:outputPanel id="pnlDescBlocktype">
											<h:panelGrid columns="4">
												<p:selectOneMenu style="width:200px" id="blockTypeId"
													value="#{accreditationCertificationBean.blockRequest.blockType}"
													requiredMessage="#{msgs['error.accreditation.certificate.required.blockType']}"
													rendered="#{accreditationCertificationBean.renderBlockedType}">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
													<f:selectItems
														value="#{accreditationCertificationBean.blockType}"
														var="blockType" itemLabel="#{blockType.parameterName}"
														itemValue="#{blockType.parameterTablePk}" />
													
													<p:ajax immediate="true" process="@this"
														update="blockTypeId msgBlockType tipoSaldoPanel"
														listener="#{accreditationCertificationBean.onchangeBlockType}" />
												</p:selectOneMenu>
												<p:message id="msgBlockType" for="blockTypeId"
													display="icon" />
											</h:panelGrid>
										</p:outputPanel></td>
								</tr>
								<tr>
										<td>
										<h:outputText
													value="#{msgs['lbl.accreditation.certificate.motive']} (*)"
													styleClass="required-field" />
										</td>
										<td>
										<h:panelGrid columns="2">
													<p:outputPanel id="opnlMotive">
													<p:selectOneMenu disabled="#{accreditationCertificationBean.validityDaysBoo}" 
														style="width:200px" id="motiveId" label="#{msgs['lbl.accreditation.certificate.motive']}"
														value="#{accreditationCertificationBean.accreditationOperation.motive}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
														<f:selectItems
															value="#{accreditationCertificationBean.listMotives}"
															var="motive"
															itemLabel="#{motive.parameterName}"
															itemValue="#{motive.parameterTablePk}" />
														<f:validator
															validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
														<p:ajax event="change" update="@this msgMotiveId" 
														listener="#{accreditationCertificationBean.changeMotiveWayofPayment()}"
														process="@this"/>	
													</p:selectOneMenu>
													</p:outputPanel>
													<p:message display="icon" for="motiveId" id="msgMotiveId" />
												</h:panelGrid>
										
										</td>
								</tr>
								
								<tr>
								    <td>
								    <h:outputLabel value="#{msgs['lbl.accreditation.certificate.emissionDate']}" />
								    </td>
									<td>
									<h:panelGrid columns="2">
									<p:calendar disabled="true" id="idEmissionDate" size="8"
											label="#{msgs['lbl.accreditation.certificate.emissionDate']}"
											readonlyInput="true"
											mindate="#{accreditationCertificationBean.addDaysHabilsToDate(accreditationCertificationBean.nowTime,1)}"
											value="#{accreditationCertificationBean.accreditationOperation.issuanceDate}"
											pattern="#{cons.dateFormat}" navigator="true" showOn="both">
											
										</p:calendar> 
										<p:message display="icon" for="idEmissionDate"
											id="msgEmissionDate" />
									</h:panelGrid>
									</td>
								</tr>
								<tr>
								<td><h:outputLabel  value="#{msgs['lbl.accreditation.certificate.validityDays']} (*)" 
									styleClass="required-field"/></td>
								<td>
								<h:panelGrid columns="2">
								<p:outputPanel id="opnlValidity">
									<p:inputText size="8" maxlength="2" id="idValidityDays" 
										disabled="#{accreditationCertificationBean.validityDaysBoo}" 
										label="#{msgs['lbl.accreditation.certificate.validityDays']}" 
										value="#{accreditationCertificationBean.accreditationOperation.validityDays}">
										<p:ajax event="blur" update="@this :contentForm:accountResultList  msgValidityDays idExpirationDate msgExpDate tipoSaldoPanel pnlDescBlocktype pnllblBlocktype :opnlGenericDialogs" 
										listener="#{accreditationCertificationBean.evaluateValidityDays}"/>
										 <p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
									 <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>		
								</p:inputText>
								</p:outputPanel>
								<p:message display="icon" for="idValidityDays" id="msgValidityDays" />
								</h:panelGrid>
								</td>
								</tr>
								<tr>	
									<td><h:outputLabel value="#{msgs['lbl.accreditation.certificate.expirationDate']}" /></td>
									<td>
									    <h:panelGrid columns="2">
									    <p:outputPanel id="opnlExpirationDate">
									    <p:calendar id="idExpirationDate" size="8"
											disabled="true"
											readonlyInput="true"
											label="#{msgs['lbl.accreditation.certificate.expirationDate']}"
											mindate="#{accreditationCertificationBean.addDaysHabilsToDate(accreditationCertificationBean.nowTime,1)}"
											value="#{accreditationCertificationBean.accreditationOperation.expirationDate}"
											pattern="#{cons.dateFormat}" navigator="true" showOn="both">

										</p:calendar> 
										<p:message display="icon" for="idExpirationDate"
											id="msgExpDate" />
											</p:outputPanel>
										</h:panelGrid>
								       </td>
								</tr>
								<ui:remove>
								<tr>
									<td><h:outputText value="#{msgs['lbl.observations']}" /></td>
									<td><p:inputTextarea style="width:200px"  
									maxlength="200"
									rows="2"
									value="#{accreditationCertificationBean.accreditationOperation.observations}">
										
											<p:keyFilter regEx="/[a-z Ñ ñ 0-9 _ , . : ; ( ) /]/i" />
										</p:inputTextarea></td>
									<td width="300px"></td>
									
								</tr>
								
								<tr>
								<td width="220px"/>
								<td colspan="2">
								<p:outputPanel id="opnlIncharge"></p:outputPanel>
								<p:fieldset  style="width:550px"  toggleable="true" legend="#{msgs['lbl.accreditation.incharge.person.deliver']}">
								<table>
								<tr>
								<td>
								<h:outputText value="#{msgs['lbl.accreditation.incharge.document.number']}" />
								</td>
								<td>
								<p:inputText id="inputDocumentNumber" label="#{msgs['lbl.accreditation.incharge.document.number']}" maxlength="21" value="#{accreditationCertificationBean.accreditationDeliveryInformation.documentNumber}">
								<p:ajax event="blur" update="@this " global="false" process="@this"/>
								<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>												    
								</p:inputText>
								</td>
								<td>
								<!-- <p:message id="messageInputDocumentNumber" for="inputDocumentNumber" display="icon">
								</p:message> -->
								</td>
								</tr>
								<tr>
								<td>
								<h:outputText value="#{msgs['lbl.accreditation.incharge.fullname']}" />
								</td>
								<td>
								<p:inputTextarea id="textAreaFullName" label="#{msgs['lbl.accreditation.incharge.fullname']}" 
								size="60" cols="50" rows="1" maxlength="150" value="#{accreditationCertificationBean.accreditationDeliveryInformation.fullName}">
								<p:ajax event="blur" update="@this " global="false" process="@this"/>
								 <p:keyFilter regEx="#{cons['exp.regular.alphabetic.name.lastname']}"/>
								</p:inputTextarea>
								</td>
								<td>
						<!-- 		<p:message id="messageTextAreaFullName" for="textAreaFullName" display="icon"></p:message> -->
								</td>
								<td>
								<p:commandButton id="idButtonInsert" icon="ui-add" value="#{gmsgs['btn.add']}" 
														 process="@this opnlIncharge outputPanelIncharge"  actionListener="#{accreditationCertificationBean.addInCharge}"
														 update="@this opnlIncharge outputPanelIncharge :contentForm:inputDocumentNumber :contentForm:textAreaFullName" />
								</td>
								</tr>
								<tr>
								
								<td colspan="2">
								<p:outputPanel id="outputPanelIncharge" >		
											<p:dataTable id="dtbInCharge" var="inCharge" rowIndexVar="regNum"
											rendered="#{not empty accreditationCertificationBean.lstAccreditationDeliveryInformation}"
												value="#{accreditationCertificationBean.lstAccreditationDeliveryInformation}">
											<p:column width="5px">
											<f:facet name="header">
											<h:outputText value="N°" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.incharge.document.number']}" />
											</f:facet>
											<h:outputText
											value="#{inCharge.documentNumber}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.incharge.fullname']}" />
											</f:facet>
											<h:outputText
											value="#{inCharge.fullName}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{gmsgs['btn.delete']}" />
											</f:facet>
											<p:commandLink id="cmlRemoveIncharge" styleClass="icon"
													process="@this" update=":contentForm:outputPanelIncharge" immediate="true"
													actionListener="#{accreditationCertificationBean.removeInCharge(inCharge)}">
													<p:graphicImage id="imgRemove" library="img"
														name="buttons/remove.png" />
											</p:commandLink>
											</p:column>
											</p:dataTable>
											</p:outputPanel>
								</td>
								</tr>
								</table>
								</p:fieldset>
								</td>
								</tr>
								
								</ui:remove>
								
								<tr>
								<td><p:outputPanel id="oppSustenance">
											<h:outputLabel id="oplSustenance"
												value="#{msgs['lbl.accreditation.certificate.sustention']}" />
											</p:outputPanel></td>
									<td>
										<h:panelGrid>
											<p:outputPanel id="opnlFuplIssuCert" styleClass="fileupload-customize" layout="block">
												<p:fileUpload id="fuplCertificateIssuance"
													widgetVar="fuplwCertificateIssuance"
													label="#{msgs['fupl.label']}"
													fileUploadListener="#{accreditationCertificationBean.certificateFileHandler}"
													mode="advanced" auto="true"
													update="opnlFuplIssuCert :contentForm:outputPanelFile"
													allowTypes="/(\\.|\\/)(#{accreditationCertificationBean.fUploadFileDocumentsTypes})$/"
													invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
													invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}">
												</p:fileUpload>
												<script type="text/javascript">									
												$(document).ready(function(){
													fileuploadValidate('fuplwCertificateIssuance');	
												});	
												
											</script>
												<p:graphicImage id="imgLimit" library="img"
													name="icons/help.png" styleClass="icon" />
												<p:tooltip for="imgLimit">
													<h:outputFormat value="#{msgs['fupl.limit.info']}"
														escape="false">
														<f:param value="#{accreditationCertificationBean.fUploadFileSizeDocumentsDisplay}" />
														<f:param value="#{accreditationCertificationBean.fUploadFileTypesDocumentsDisplay}" />
													</h:outputFormat>
												</p:tooltip>
											</p:outputPanel>
											</h:panelGrid></td>
								</tr>		
								<tr>
									<td><p:outputPanel>
											<h:outputLabel value=" " />
											</p:outputPanel>
									</td>
									<td>										
											<p:outputPanel id="outputPanelFile">		
											<p:dataTable id="dtbDocument" var="fileDocument" rowIndexVar="regNum"
												value="#{accreditationCertificationBean.listFileAccreditationTO}" rendered="#{not empty accreditationCertificationBean.listFileAccreditationTO}">
											<p:column width="5px">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.number']}" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.document.file.name']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileName}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.document.file.size']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.file} MB}">
											<f:convertNumber pattern="#{gconst['conv.number.pattern.percentage']}" locale="#{cons['conv.number.locale']}"/>
											</h:outputText>
											</p:column>
											<p:column styleClass="content-center">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.document.format']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileExtension}" />
											</p:column>							
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.document.view']}" />
											</f:facet>
											<p:commandLink id="cmlViewFile" styleClass="icon"
													process="@this" update=":contentForm:opnlFuplIssuCert" ajax="false"
													onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
													immediate="true"
													rendered="#{not empty accreditationCertificationBean.accreditationOperation.accreditationCertificate}">
													<p:fileDownload value="#{accreditationCertificationBean.getStreamFilter()}" />
													<p:graphicImage id="imgView" library="img" name="icons/loupe.png" />
												</p:commandLink>
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.document.delete']}" />
											</f:facet>
											<p:commandLink id="cmlRemoveFile" styleClass="icon"
													process="@this" update=":contentForm:opnlFuplIssuCert" immediate="true"
													actionListener="#{accreditationCertificationBean.removeUploadedFileHandler}"
													rendered="#{not empty accreditationCertificationBean.accreditationOperation.accreditationCertificate}">
													<p:graphicImage id="imgRemove" library="img"
														name="buttons/remove.png" />
												</p:commandLink>
											</p:column>
											</p:dataTable>
											</p:outputPanel>	
											

									</td>
								</tr>
							</table>
							<table width="100%">
								<tr>
									<td align="center">
										<p:commandButton id="cmbFindSecurities" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
														 process="@this pnlHolderHelper @form"
														 update="contentForm :opnlGenericDialogs" actionListener="#{accreditationCertificationBean.searchSecurities}">
											<f:param name="skipValidation" value="true"/>
										</p:commandButton>
									</td>
								</tr>
							</table>
							<p:confirmDialog id="errorAccountList" closable="false" widgetVar="errorAccountList" message="#{bodyMessageView}"
											 header="#{msgs['header.message.error']}" severity="alert">
								<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('errorAccountList').hide();" />
							</p:confirmDialog>
							<marketFact:marketfactBalance id="accreditBalanceMarketFact"
								bean="#{accreditationCertificationBean}"
								method="selectMarketFactBalance"
								parameter="holderMarketFactBalance" />
<!-- 	DISPONIBLE 	 -->							
							<p:outputPanel id="tipoSaldoPanel">								
								<p:outputPanel id="availablePanel"
									rendered="#{accreditationCertificationBean.accreditationOperation.certificationType == accreditationCertificationBean.availableBalanceCode or
										accreditationCertificationBean.accreditationOperation.certificationType == accreditationCertificationBean.reportedBalanceCode}">
									<table width="100%">
										<tr>
											<td colspan="4">
												<p:outputPanel id="idPanelResult">
													<p:outputPanel rendered="#{accreditationCertificationBean.holderAccountBalances!=null}">
														<p:fieldset id="fsListadoNotFound" legend="#{msgs['lbl.accreditation.certificate.available_balance']}">
															<h:outputText value="#{msgs['lbl.search.no.result']}"
																rendered="#{not(accreditationCertificationBean.holderAccountBalances.rowCount gt 0)}" />
															<p:dataTable id="dtbResult" var="list" rows="10" paginatorPosition="top"
																		rendered="#{accreditationCertificationBean.holderAccountBalances.rowCount gt 0}"
																		value="#{accreditationCertificationBean.holderAccountBalances}" paginator="true"
																		currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
																		paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}">
																<p:column style="text-align:left; width:100px" sortBy="#{list.holderAccount.participant.getDisplayCodeMnemonic()}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.holderAccount.participant.getDisplayCodeMnemonic()}" />
																</p:column>
																<p:column style="text-align:center; width:70px" sortBy="#{list.holderAccount.accountNumber}">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.accreditation.certificate.holderaccount.number']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="text-align:center;" value="#{list.holderAccount.accountNumber}" />
																</p:column>
																<p:column style="text-align:left; width:400px" sortBy="#{list.holderAccount.accountRntAndDescription}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.description.holder']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText escape="false" value="#{list.holderAccount.accountRntAndDescription}" />
																</p:column>
																<p:column style="text-align:center; width:150px" sortBy="#{list.security.idSecurityCodePk}">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.accreditation.certificate.security.code']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<p:commandLink style="text-align:center;color:blue;"
																		value="#{list.security.idSecurityCodePk}"
																		actionListener="#{accreditationCertificationBean.showSecurityFinancialData(list.security.idSecurityCodePk)}" />
																</p:column>
																<p:column style="text-align:center; width:100px" sortBy="#{list.totalBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center;" value="#{msgs['tdv.datatable.totalbalance']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.totalBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																<p:column style="text-align:center; width:100px" sortBy="#{list.availableBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center" value="#{msgs['lbl.accreditation.certificate.available_balance']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.availableBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																
																<p:column style="text-align:center; width:150px" sortBy="#{list.transferAmmount}">
																	<f:facet name="header" style="text-align:center">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.accredit']}"
																					  style="text-align:center" styleClass="text-header-table" escape="false"/>
																	</f:facet>
																	<p:inputText size="10" id="idTransferAmmount" maxlength="10" value="#{list.transferAmmount}"
																				 disabled="#{!list.selected or list.disabled}" style="text-align:right;" onkeydown="validateZero(this)"
																				 onkeypress="validateZero(this)" onkeyup="validateZero(this)">
																			<p:ajax update=":contentForm:availablePanel" listener="#{accreditationCertificationBean.applyQuantityWithMarketFact(list)}"
																				event="change" process="@this" />
																		<p:keyFilter mask="pint" />
																	</p:inputText>
																	<ui:remove>
																		<h:commandButton value="..." disabled="#{!list.selected}">
																			<p:ajax listener="#{accreditationCertificationBean.showMarketFactUI(list)}"
																					update=":contentForm:accreditBalanceMarketFact:opnlMarketFact " process="@this" event="click" />
																		</h:commandButton>
																	</ui:remove>
																</p:column>
																
																<p:column style="text-align:center; width:18px">
																	<f:facet name="header">
																		<h:outputText value="" styleClass="text-header-table" />
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{list.selected}" id="idSelected">
																		<p:ajax event="change" update="dtbResult :opnlGenericDialogs" process="@this"
																			listener="#{accreditationCertificationBean.cleanRowForAccreditation(list)}" />
																	</p:selectBooleanCheckbox>
																</p:column>
																
																<f:facet name="footer">
																<h:outputFormat
																	value="#{msgs['tbl.footer.quantity.records']}">
																	<f:param
																		value="#{accreditationCertificationBean.holderAccountBalances.getSize()}" />
																</h:outputFormat>
																</f:facet>
															</p:dataTable>
														</p:fieldset>
													</p:outputPanel>
												</p:outputPanel> <p:confirmDialog id="errorValidating" closable="false"
													message="#{bodyMessageView}"
													header="#{msgs['header.message.alert']}" severity="alert"
													widgetVar="errorValidating">
													<p:commandButton value="#{gmsgs['btn.accept']}"
														type="button" onclick="PF('errorValidating').hide();" />
												</p:confirmDialog></td>
										</tr>
									</table>
								</p:outputPanel>	
								
<!-- 	BLOQUEADO 	 -->															
								<p:outputPanel id="blockedPanel"
									rendered="#{accreditationCertificationBean.accreditationOperation.certificationType == accreditationCertificationBean.blockedBalanceCode or 
										accreditationCertificationBean.accreditationOperation.certificationType == accreditationCertificationBean.reportedBalanceCode}">
									<table width="100%">
										<tr>
											<td colspan="4"><p:outputPanel id="idPanelResult2">
													<p:outputPanel rendered="#{accreditationCertificationBean.blockOperations!=null}">
														<p:fieldset id="fsListadoNotFoundBlocked" legend="#{msgs['lbl.accreditation.certificate.block_balance']}">
															<h:outputText value="#{msgs['lbl.search.no.result']}" 
																		  rendered="#{not(accreditationCertificationBean.blockOperations.rowCount gt 0)}" />
															<p:dataTable id="dtbResult2" var="list" paginatorPosition="top"
																		 rendered="#{accreditationCertificationBean.blockOperations.rowCount gt 0}"
																		 value="#{accreditationCertificationBean.blockOperations}" paginator="true" rows="10" 
																		 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
																		 paginatorTemplate="#{msgs['dtb.paginator.template']}" 
																		 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}">
																<p:column style="text-align:center; width:150px" sortBy="#{list.custodyOperation.registryDate}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.block.date']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.custodyOperation.registryDate}">
																		<f:convertDateTime pattern="#{cons.dateFormat}" />
																	</h:outputText>
																</p:column>
																<p:column style="text-align:center; width:100px" sortBy="#{list.documentNumber}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tvb.label.operationNumber']}" styleClass="text-header-table" />
																	</f:facet>
																	<p:commandLink style="color:blue;" value="#{list.custodyOperation.operationNumber}"
																		actionListener="#{accreditationCertificationBean.viewDocument()}"
																		oncomplete="PF('idDocumentDetail').show()" update="@form" />
																</p:column>
																<p:column style="text-align:center; width:120px" sortBy="#{list.holderAccount.accountNumber}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.holderaccount.number']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.holderAccount.accountNumber}" />
																</p:column>
																<p:column sortBy="#{list.participant.getDisplayCodeMnemonic()}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.participant.getDisplayCodeMnemonic()}"
																		title="#{list.participant.description}" />
																</p:column>
																
																<p:column style="text-align:center" sortBy="#{list.actualBlockBalance}">
																	<f:facet name="header">
																		<h:outputText escape="false" value="#{msgs['lbl.accreditation.certificate.balance.blocked']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText  value="#{list.actualBlockBalance}" >
																			<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																					locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																	
																</p:column>
																
																<p:column style="text-align:center; width:200px" sortBy="#{list.securities.idSecurityCodePk}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.security.code']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<p:commandLink style="text-align:center;" value="#{list.securities.idSecurityCodePk}"
																		actionListener="#{accreditationCertificationBean.showSecurityDetail(list.securities.idSecurityCodePk)}" 
																		update="@form"/>
																</p:column>
																<p:column style="text-align:center; width:140px" sortBy="#{list.blockRequest.blockTypeDescription}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.blocktype']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.blockRequest.blockTypeDescription}" />
																</p:column>
																<p:column style="text-align:center; width:18px">
																	<f:facet name="header" styleClass="content-center">
																		<h:outputText value=" " styleClass="text-header-table" />
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{list.selected}">
																		<p:ajax event="change" listener="#{accreditationCertificationBean.acreditateDocument(list)}" />
																	</p:selectBooleanCheckbox>
																</p:column>
																<f:facet name="footer">
																<h:outputFormat
																	value="#{msgs['tbl.footer.quantity.records']}">
																	<f:param
																		value="#{accreditationCertificationBean.blockOperations.getSize()}" />
																</h:outputFormat>
																</f:facet>
															</p:dataTable>
														</p:fieldset>
													</p:outputPanel>
												</p:outputPanel></td>
										</tr>
									</table>
									<p:confirmDialog id="cnfHasPendingRequest"
										message="#{bodyMessageView}" widgetVar="cnfHasPendingRequest"
										rendered="#{accreditationCertificationBean.renderRequestFail}"
										header="#{headerMessageView}" closable="false" severity="info">
										<p:commandButton onclick="PF('cnfHasPendingRequest').hide()"
											value="#{gmsgs['btn.accept']}" type="button" />
									</p:confirmDialog>
								</p:outputPanel>
<!-- 	REPORTADO 	-->
								<p:outputPanel id="reportedPanel"
									rendered="#{accreditationCertificationBean.accreditationOperation.certificationType == accreditationCertificationBean.reportedBalanceCode}">
									<table width="100%">
										<tr>
											<td colspan="4">
												<p:outputPanel id="idPanelResult3">
													<p:outputPanel rendered="#{accreditationCertificationBean.reportedBalanceTO!=null}">
														<p:fieldset id="fsListadoNotFoundReported"
															legend="#{msgs['lbl.accreditation.certificate.reporter.balance']}">
															<h:outputText value="#{msgs['lbl.search.no.result']}"
																rendered="#{not(accreditationCertificationBean.reportedBalanceTO.rowCount gt 0)}" />
															<p:dataTable id="dtbResult3" var="list" paginatorTemplate="#{msgs['dtb.paginator.template']}"
																		 rendered="#{accreditationCertificationBean.reportedBalanceTO.rowCount gt 0}"
																		 value="#{accreditationCertificationBean.reportedBalanceTO}"
																		 paginator="true" rows="10" paginatorPosition="top"
																		 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
																		 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}">
																<p:column styleClass="content-center" sortBy="#{list.participant}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.participant}" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.idHolder}">
																	<f:facet name="header">
																		<h:outputText escape="false" value="#{msgs['lbl.accreditation.certificate.holder.cui']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.idHolder}" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.accountHolderNumber}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.holderaccount.number']}"
																					  escape="false" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.accountHolderNumber}" escape="false" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.descriptionHolder}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.description.holder']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.descriptionHolder}" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.modalityOperation}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['commons.label.modality']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.modalityOperation}" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.operationNumber}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.operation.number']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.operationNumber}" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.idSecurityCodePk}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.security.code']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<p:commandLink style="text-align:center;" value="#{list.idSecurityCodePk}"
																		actionListener="#{accreditationCertificationBean.showSecurityDetail(list.idSecurityCodePk)}" 
																		update="@form" />
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.stockQuantity}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.security.amount']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.stockQuantity}" >
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																	
																</p:column>
																
																<p:column styleClass="content-center" sortBy="#{list.operationDate}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.operation.date']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.operationDate}">
																		<f:convertDateTime pattern="#{cons.dateFormat}" />
																	</h:outputText>
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.termSettlementDate}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.expiration.reported.date']}"
																					  escape="false" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.termSettlementDate}">
																		<f:convertDateTime pattern="#{cons.dateFormat}" />
																	</h:outputText>
																</p:column>
																<p:column styleClass="content-center" sortBy="#{list.termInDays}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.term']}"
																					  styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.termInDays}" />
																</p:column>
																<p:column>
																	<f:facet name="header" styleClass="content-center">
																		<h:outputText value=" " styleClass="text-header-table" />
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{list.selected}">
																		<p:ajax event="change" 
																				listener="#{accreditationCertificationBean.acreditateDocumentReported(list)}"/>
																	</p:selectBooleanCheckbox>
																</p:column>
																<f:facet name="footer">
																<h:outputFormat
																	value="#{msgs['tbl.footer.quantity.records']}">
																	<f:param
																		value="#{accreditationCertificationBean.reportedBalanceTO.getSize()}" />
																</h:outputFormat>
																</f:facet>
															</p:dataTable>
														</p:fieldset>
													</p:outputPanel>
												</p:outputPanel></td>
										</tr>
									</table>
								</p:outputPanel>
								
<!-- CAT B -->
								<p:outputPanel id="holderPanelB"
									rendered="#{accreditationCertificationBean.holderAccountBalancesExp!=null}">
									<table width="100%">
										<tr>
											<td colspan="4">
												<p:outputPanel id="idPanelResult4">
													<p:outputPanel rendered="#{accreditationCertificationBean.holderAccountBalancesExp!=null}">
														<p:fieldset id="fsListadoNotFoundBalanceExp"
															legend="#{msgs['lbl.accreditation.certificate.b.balance']}">
															<h:outputText value="#{msgs['lbl.search.no.result']}"
																rendered="#{not(accreditationCertificationBean.holderAccountBalancesExp.rowCount gt 0)}" />
															<p:dataTable id="dtbResult4" var="list" paginatorTemplate="#{msgs['dtb.paginator.template']}"
																		 rendered="#{accreditationCertificationBean.holderAccountBalancesExp.rowCount gt 0}"
																		 value="#{accreditationCertificationBean.holderAccountBalancesExp}"
																		 paginator="true" rows="10" paginatorPosition="top"
																		 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
																		 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}">
																<p:column style="text-align:left; width:100px" sortBy="#{list.participantDesc}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{list.participantDesc}" />
																</p:column>
																<p:column style="text-align:center; width:70px" sortBy="#{list.accountNumberDesc}">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.accreditation.certificate.holderaccount.number']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="text-align:center;" value="#{list.accountNumberDesc}" />
																</p:column>
																<p:column style="text-align:left; width:400px" sortBy="#{list.holderDesc}">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['lbl.description.holder']}" styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText escape="false" value="#{list.holderDesc}" />
																</p:column>
																<p:column style="text-align:center; width:150px" sortBy="#{list.security}">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.accreditation.certificate.security.code']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<p:commandLink style="text-align:center;color:blue;"
																		value="#{list.security}"
																		actionListener="#{accreditationCertificationBean.showSecurityFinancialData(list.security)}" />
																</p:column>
																<p:column style="text-align:center; width:100px" sortBy="#{list.totalBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center;" value="#{msgs['tdv.datatable.totalbalance']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.totalBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																<p:column style="text-align:center; width:100px" sortBy="#{list.availableBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center" value="#{msgs['lbl.accreditation.certificate.available_balance']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.availableBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																
																<p:column style="text-align:center; width:100px" sortBy="#{list.pawnBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center" value="#{msgs['lbl.accreditation.certificate.block.balance.pawn']}"
																			styleClass="text-header-table"  escape="false" />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.pawnBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																
																<p:column style="text-align:center; width:100px" sortBy="#{list.banBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center" value="#{msgs['lbl.accreditation.certificate.block.balance.ban']}"
																			styleClass="text-header-table" escape="false"  />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.banBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																
																<p:column style="text-align:center; width:100px" sortBy="#{list.otherBlockBalance}">
																	<f:facet name="header">
																		<h:outputText style="text-align:center" value="#{msgs['lbl.accreditation.certificate.block.balance.others']}"
																			styleClass="text-header-table" escape="false"  />
																	</f:facet>
																	<h:outputText style="float: right;" value="#{list.otherBlockBalance}">
																		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
																			locale="#{cons['conv.number.locale']}" />
																	</h:outputText>
																</p:column>
																
																<p:column style="text-align:center; width:18px">
																	<f:facet name="header" styleClass="content-center">
																		<h:outputText value=" " styleClass="text-header-table" />
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{list.selected}">
																		<p:ajax event="change" update=":contentForm:outPnlDialogs"
																				listener="#{accreditationCertificationBean.selectAccreditationCatB(list)}"/>
																	</p:selectBooleanCheckbox>
																</p:column>
																<f:facet name="footer">
																<h:outputFormat
																	value="#{msgs['tbl.footer.quantity.records']}">
																	<f:param
																		value="#{accreditationCertificationBean.holderAccountBalancesExp.getSize()}" />
																</h:outputFormat>
																</f:facet>
															</p:dataTable>
														</p:fieldset>
													</p:outputPanel>
												</p:outputPanel></td>
										</tr>
									</table>
								</p:outputPanel>
							</p:outputPanel>
						</p:fieldset></td>
				</tr>
				<tr>
					<td align="center">
						<p:commandButton id="cmbSave" value="#{gmsgs['btn.save']}" icon="fa fa-save" update="outPnlDialogs  @form :opnlGenericDialogs"
										 actionListener="#{accreditationCertificationBean.createAccreditation}" />
										 
						<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form" immediate="true" process="@this"
										 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" icon="fa fa-trash"
										 actionListener="#{accreditationCertificationBean.clearRegister}" />
						<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="if(isModifiedFormForBack(this))return false;"
										 action="#{accreditationCertificationBean.goTo('accreditattionCertificateSearch')}"
										 actionListener="#{accreditationCertificationBean.backToSearchPageHandler()}" immediate="true" process="@this" />
					</td>
				</tr>
			</table>

			<p:outputPanel id="outPnlDialogs">
				<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{msgs['header.message.warning']}"
					closable="false" rendered="false" visible="true">
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()"
									 update="outPnlDialogs @form cnfIdEndDialog" actionListener="#{accreditationCertificationBean.saveAccreditation()}" />
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"
									 actionListener="#{accreditationCertificationBean.hideDialogsFromNew}" />
				</p:confirmDialog>

				<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog"
					message="#{bodyMessageView}" header="#{headerMessageView}"
					closable="false" rendered="false" visible="true" severity="info">
					<p:commandButton onclick="PF('cnfWEndDialog').hide()"
						actionListener="#{accreditationCertificationBean.hideDialogsFromNew}"
						value="#{gmsgs['btn.accept']}"
						action="#{accreditationCertificationBean.goTo('accreditattionCertificateSearch')}" />
				</p:confirmDialog>
				
				<p:confirmDialog widgetVar="cnfWAskDialogAccreditationCatB" id="cnfIdAskDialogAccreditationCatB"	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" severity="info"> 
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialogAccreditationCatB').hide()"/>
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialogAccreditationCatB').hide()" process="@this" update=":contentForm:idPanelResult4"
								 actionListener="#{accreditationCertificationBean.hideDialogsCleanCheck}"/>
				</p:confirmDialog>	
			</p:outputPanel>

			<p:confirmDialog id="goBackDialog" closable="false" severity="alert"
				widgetVar="goBackDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" type="button"
					oncomplete="PF('goBackDialog').hide();"
					action="#{accreditationCertificationBean.goTo('accreditattionCertificateSearch')}" />
				<p:commandButton value="#{gmsgs['btn.no']}" type="button"
					oncomplete="PF('goBackDialog').hide();" />
			</p:confirmDialog>

			<p:dialog header="#{msgs['lbl.affectation.view.panel.blockRequest']}"
				id="idDocumentDetail" widgetVar="idDocumentDetail" width="1000"
				modal="true" closable="false">
				<p:fieldset id="fldsFiltros"
					legend="#{msgs['lbl.affectation.view.panel.blockRequest']}">
					<table width="100%">
						<tr>
							<td width="12%"><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.requestNumber']}" />
							</b></td>
							<td width="1%">:</td>
							<td width="25%"><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.blockRequest.idBlockRequestPk}" />
							</td>
							<td width="12%"><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.blockType']}" />
							</b></td>
							<td width="1%">:</td>
							<td width="25%"><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.blockRequest.blockTypeDescription}" />
							</td>
						</tr>
						<tr>
							<td><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.recordDate']}" />
							</b></td>
							<td width="1%">:</td>
							<td><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.blockRequest.blockNumberDate}">
									<f:convertDateTime pattern="#{cons.dateFormat}" />
								</h:outputText></td>
							<td><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.recordNumber']}" />
							</b></td>
							<td width="1%">:</td>
							<td><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.blockRequest.blockNumber}" />
							</td>
						</tr>

						<tr>
							<td><b class="blueText"> <h:outputText
										value="#{msgs['lbl.accreditation.certificate.entity.block']}" />
							</b></td>
							<td width="1%">:</td>
							<td colspan="4"><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.blockRequest.blockEntity.idBlockEntityPk} - #{accreditationCertificationBean.blockOperationSelected.blockRequest.blockEntity.fullName}" />
							</td>
						</tr>
						<tr>
							<td><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.cui']}" />
							</b></td>
							<td width="1%">:</td>
							<td colspan="4"><h:outputText
									value="#{accreditationCertificationBean.holder.idHolderPk} - #{accreditationCertificationBean.holder.fullName}" />
							</td>
						</tr>
						<tr>
							<td><b class="blueText"> <h:outputText
										value="#{msgs['lbl.affectation.view.blockRequest.registryDate']}" />
							</b></td>
							<td width="1%">:</td>
							<td><h:outputText
									value="#{accreditationCertificationBean.blockOperationSelected.custodyOperation.registryDate}">
									<f:convertDateTime pattern="#{cons.dateFormat}" />
								</h:outputText></td>
						</tr>
						<tr>
							<td colspan="6" width="100%"><p:fieldset>
									<table width="100%">
										<tr>
											<td width="12%"><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.blockNumber']}" />
											</td>
											<td width="30%"><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.custodyOperation.operationNumber}"
													disabled="true" size="15" /></td>
											<td width="12%"><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.blockState']}" />
											</td>
											<td width="40%"><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.blockStateDescription}"
													disabled="true" size="15" /></td>
										</tr>
										<tr>
											<td width="8%"><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.blockLevel']}" />
											</td>
											<td width="30%"><p:inputText disabled="true" size="15"
													value="#{accreditationCertificationBean.blockOperationSelected.blockLevelDescription}" />
											</td>
											<td width="8%"><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.accountNumber']}" />
											</td>
											<td width="40%"><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.holderAccount.accountNumber}"
													disabled="true" size="15" /></td>
										</tr>
										<tr>
											<td><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.actualQuantity']}" />
											</td>
											<td><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.actualBlockBalance}"
													disabled="true" size="15" /></td>
											<td><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.originalQuantity']}" />
											</td>
											<td><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.originalBlockBalance}"
													disabled="true" size="15" /></td>
										</tr>
										<tr>
											<td><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.participant']}" />
											</td>
											<td colspan="3"><p:inputText
													value="#{accreditationCertificationBean.blockOperationSelected.participant.displayDescriptionCode}"
													disabled="true" size="60"></p:inputText></td>
										</tr>
									</table>
									<table width="100%">
										<tr>
											<td width="12%"><h:outputText
													value="#{msgs['lbl.affectation.view.blockOperation.infoISIN']}" />
											</td>
											<td colspan="3" width="88%">
												<table width="100%">
													<tr>
														<td width="10%"><h:outputText
																value="#{msgs['lbl.affectation.view.blockOperation.isin']}" />
														</td>
														<td width="25%"><p:inputText size="25"
																value="#{accreditationCertificationBean.blockOperationSelected.securities.idSecurityCodePk}"
																disabled="true" /></td>
														<td width="10%"><h:outputText
																value="#{msgs['lbl.affectation.view.blockOperation.isin.description']}" />
														</td>
														<td width="40%"><p:inputText
																value="#{accreditationCertificationBean.blockOperationSelected.securities.description}"
																size="60" disabled="true" /></td>
													</tr>
													<tr>
														<td><h:outputLabel
																value="#{msgs['lbl.affectation.view.blockOperation.isin.nominalValue']}" />
														</td>
														<td><p:inputText
																value="#{accreditationCertificationBean.blockOperationSelected.nominalValue}"
																size="25" disabled="true" styleClass="content-right">
																<f:convertNumber
																	pattern="#{cons['conv.number.pattern']}"
																	locale="#{cons['conv.number.locale']}" />
															</p:inputText></td>
														<td><h:outputLabel
																value="#{msgs['lbl.affectation.view.blockOperation.isin.issuer']}" />
														</td>
														<td><p:inputText
																value="#{accreditationCertificationBean.blockOperationSelected.securities.issuer.mnemonic} - #{accreditationCertificationBean.blockOperationSelected.securities.issuer.idIssuerPk} - #{accreditationCertificationBean.blockOperationSelected.securities.issuer.description}"
																size="60" disabled="true" /></td>	
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</p:fieldset></td>
						</tr>
						<tr>
							<td align="center" colspan="6"><p:commandButton
									value="#{gmsgs['btn.back']}"
									oncomplete="PF('idDocumentDetail').hide()" icon="fa fa-undo"></p:commandButton>
							</td>
						</tr>
					</table>
				</p:fieldset>
			</p:dialog>
			<ark:securities-help id="detailSecurityHelp" isinCode="" />
		</h:form>
	</ui:define>
</ui:composition>
</html>