<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
		<script type="text/javascript">
			$(window).load(function(){
				setAllHolidays('${accreditationCertificationBean.allHolidays}');
			});
		</script>
		<style type="text/css">
#javax_faces_developmentstage_messages {
	display: none;
}
</style>
		<script type="text/javascript">  
			function start() {  
			    PF('statusDialog').show();  
			}  
			  
			function stop() {  
			    PF('statusDialog').hide();  
			}  
        </script>
        <p:importConstants type="com.pradera.model.custody.type.CatType" var="catTypesX"/>
		<h:form id="frmSearch">
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText id="optTittle" value="#{msgs['lbl.accreditation.certificate.consult.accreditation.certificate']}"
							styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton id="cbRegister"
							rendered="#{userPrivilege.userAcctions.register and !accreditationCertificationBean.participantLoggedIsBlocked}"
							value="#{gmsgs['btn.register']}" icon="fa fa-edit" action="newAccreditattionCertificate" ajax="false"
							immediate="true" actionListener="#{accreditationCertificationBean.loadRegistrationPage()}" process="@this" />
					</td>
				</tr>				
				<tr>
					<td colspan="2">
						<p:fieldset legend="#{msgs['lbl.criteria.search']}">
							<table width="80%" border="0">
								
								<tr>
								<p:selectOneRadio id="selectOneRadio" value="#{accreditationCertificationBean.optionSelectedOneRadio}" layout="custom">  
        							<f:selectItem itemValue="0" />  
        							<f:selectItem itemValue="1" />
        							<f:selectItem itemValue="2" />  
        						<p:ajax update="@form" event="change" listener="#{accreditationCertificationBean.evaluateOptionSelected}" partialSubmit="false"  />											            
								</p:selectOneRadio> 
    		    
								</tr>
								<tr>
								    <td width="20">
								    	<p:radioButton id="radioButtonOne" for="selectOneRadio" itemIndex="1"/>
									</td>
									<td >
										<h:outputText   value="#{msgs['lbl.accreditation.certificate.request_number']}" />
									</td>
									<td >
									    <h:panelGrid columns="2">
									    <p:inputText id="requestNumber" label="#{msgs['lbl.accreditation.certificate.request_number']}" 
									   				 disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 2 or (accreditationCertificationBean.optionSelectedOneRadio eq 0)}" 
									 				 value="#{accreditationCertificationBean.accreditationOperation.custodyOperation.operationNumber}"
													 style="width:110px" maxlength="10" styleClass="content-right">
										 <f:validator disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 2 or (accreditationCertificationBean.optionSelectedOneRadio eq 0)}" 
										 			validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
										 			<p:keyFilter regEx="/[0-9]/" />	
										</p:inputText>
										<p:message display="icon" for="requestNumber" id="msgRequestNumber" />			 
										</h:panelGrid>
									</td>
									
									<td>
										<h:outputText value="#{msgs['lbl.accreditation.certificate.cat.type']}" />
									</td>
									<td>
										<p:selectOneMenu id="catTypes" disabled="#{accreditationCertificationBean.disableParticipantSelection or (accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2))}"
											value="#{accreditationCertificationBean.accreditationOperation.catType}" style="width:130px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{accreditationCertificationBean.catType}"
														   var="catType" itemLabel="#{catType.parameterName}"
														   itemValue="#{catType.parameterTablePk}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>	
									<td>
								    	<p:radioButton id="radioButtonThree" for="selectOneRadio" itemIndex="2"/>
									</td>
									<td>
										<h:outputText   value="#{msgs['lbl.accreditation.certificate.catcertificate']}" />
									</td>
									<td >
									    <h:panelGrid columns="2">
									    <p:inputText id="certificateNumber" label="#{msgs['lbl.accreditation.certificate.catcertificate']}" 
									   				 disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 0)}" 
									 				 value="#{accreditationCertificationBean.accreditationOperation.certificateNumber}"
													 style="width:110px" maxlength="10" styleClass="content-right">
										 <f:validator  disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 0)}"
										 			validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
										 			<p:keyFilter regEx="/[0-9]/" />	
										</p:inputText>
										<p:message display="icon" for="certificateNumber" id="msgCertificateNumber" />			 
										</h:panelGrid>
									</td>
								</tr>
								<tr>
								    <td>
										<p:radioButton id="radioButtonTwo" for="selectOneRadio" itemIndex="0"/>										
									</td>
							        <td>
										<h:outputText value="#{msgs['lbl.accreditation.certificate.petitioner.type']}" />
									</td>
									<td>
										<p:selectOneMenu id="petitionerType" disabled="#{accreditationCertificationBean.disableParticipantSelection or (accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2))}"
											value="#{accreditationCertificationBean.accreditationOperation.petitionerType}" style="width:120px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{accreditationCertificationBean.petitionerType}"
														   var="petitionerType" itemLabel="#{petitionerType.parameterName}"
														   itemValue="#{petitionerType.parameterTablePk}" />
											<p:ajax update="@form outputPanelResult pnlHolderHelperPart opissuer1 opissuer2" event="change"
												listener="#{accreditationCertificationBean.onChangePetitionerForSearch}" />
										</p:selectOneMenu>
									</td>
									
									<td width="120px">
										<h:outputText id="optCode" value="#{gmsgs['holder.lbl.code']}"/>
									</td>
									<td colspan="3">
										<p:outputPanel id="pnlHolderHelper">
											<p:outputPanel 
											rendered="#{not(accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner)}">
												<ark:holderHelper id="holderId" disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}" holder="#{accreditationCertificationBean.holder}" remoteListener="cleanHolder()"/>
												<p:remoteCommand process="@this" name="cleanHolder" actionListener="#{accreditationCertificationBean.clearGrill}"
																 update="outputPanelResult" />
											</p:outputPanel>
										</p:outputPanel> 
										<p:outputPanel  id="pnlHolderHelperPart">
											<p:outputPanel 
											rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner}">
												<ark:holderHelper id="idHolderPart" blParticipant="true"
																  participant="#{accreditationCertificationBean.participant.idParticipantPk}"
																  remoteListener="cleanHolderPart()"
																  holder="#{accreditationCertificationBean.holder}"
																  disabled="#{empty accreditationCertificationBean.participant.idParticipantPk}" />
												<p:remoteCommand name="cleanHolderPart" actionListener="#{accreditationCertificationBean.clearGrill}"
																 process="@this" update="outputPanelResult" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
								</tr>
								
								
								
								<tr>
								    <td/>
									<td>
										<p:outputPanel id="blockEntityOutputPanel">
											<p:outputPanel rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.creditorPetitioner}">
												<h:outputText value="#{msgs['lbl.accreditation.certificate.entity.block']}" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td colspan="3">
										<p:outputPanel id="blockEntityOutputPanel2">
											<p:outputPanel rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.creditorPetitioner}">
												<ark:blockEntityHelper id="opnlBlockType"
													blockEntity="#{accreditationCertificationBean.blockRequest.blockEntity}"
													remoteListener="cleanEntBlock()" />
												<p:remoteCommand process="@this" name="cleanEntBlock"
													actionListener="#{accreditationCertificationBean.clearGrill}"
													update="outputPanelResult" />
											</p:outputPanel>
										</p:outputPanel></td>
								</tr>
								
								
								
								<tr>
									<td/>
									<td >
										<h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}" 
											rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.participantPetitioner}" />
									</td>
									<td colspan="3">
										<p:outputPanel id="participant2"
										 	rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType == accreditationCertificationBean.participantPetitioner}"> 
											<p:selectOneMenu style="width:450px" id="somParticipant" value="#{accreditationCertificationBean.participant.idParticipantPk}"
															 disabled="#{accreditationCertificationBean.disableParticipantSelection or (accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2))}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{accreditationCertificationBean.participantList}"
															   var="participant" itemLabel="#{participant.displayDescriptionCode}"
															   itemValue="#{participant.idParticipantPk}" />
												<p:ajax update="@form outputPanelResult idHolderPart" event="change"
														listener="#{accreditationCertificationBean.onChangeParticipantSearch}" />
											</p:selectOneMenu>
										</p:outputPanel>
									</td>
								</tr>
							
							<tr>
									<td/>
									<td width="220px">
										<p:outputPanel id="opissuer1">
											<p:outputPanel
												rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.issuerPetitioner  
												or accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner}">
												<h:outputText 
													value="#{msgs['lbl.accreditation.certificate.issuer.name']}" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td >
										<p:outputPanel id="opissuer2">
											<p:outputPanel
												rendered="#{accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.issuerPetitioner 
												or accreditationCertificationBean.accreditationOperation.petitionerType eq accreditationCertificationBean.participantPetitioner}">
													
												<p:selectOneMenu style="width:450px"  id="idIssuer" 
												disabled="#{accreditationCertificationBean.isIssuer or (accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2))}"
													value="#{accreditationCertificationBean.issuerName}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
													<f:selectItems value="#{accreditationCertificationBean.listIssuer}"
																   var="issuer" itemLabel="#{issuer.mnemonic} - #{issuer.idIssuerPk} - #{issuer.businessName}"
																   itemValue="#{issuer.idIssuerPk}" />
													<p:ajax update="@form outputPanelResult pnlHolderHelperPart opissuer1 opissuer2" event="change"
														listener="#{accreditationCertificationBean.onChangeIssuerForSearch}" />
												</p:selectOneMenu>
												
											</p:outputPanel>
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td/>
										<td>
										<h:outputText
													value="#{msgs['lbl.accreditation.certificate.security.class']}"/>
										</td>
										<td>
												<p:selectOneMenu style="width:450px" id="securityId" 
														disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}" 
														label="#{msgs['lbl.accreditation.certificate.security.class']}"
														value="#{accreditationCertificationBean.securityClass}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
														<f:selectItems
															value="#{accreditationCertificationBean.listSecurityClassSearch}"
															var="class"
															itemLabel="#{class.text1} - #{class.parameterName}"
															itemValue="#{class.parameterTablePk}" />
													</p:selectOneMenu>										
										</td>
								</tr>
								<tr>
								<td/>
								<td><h:outputText value="#{gmsgs['security.lbl.code']}"/></td>
								<td colspan="2">
									<h:panelGrid columns="4" cellspacing="0" cellpadding="0">
									<ark:securityHelper disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}" id="securityHelper" security="#{accreditationCertificationBean.security}"
										remoteListener="updateFieldSe()"/>
									<p:remoteCommand name="updateFieldSe" update=":frmSearch:securityHelp" process="@this"/>	
									<p:spacer width="5"/>
									<p:outputPanel id="securityHelp">
									<ark:securities-help securityCode="#{accreditationCertificationBean.security.idSecurityCodePk}"/>
									</p:outputPanel>
									</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td/>
										<td>
										<h:outputText
													value="#{msgs['lbl.accreditation.certificate.currency']}"/>
										</td>
										<td>
												<p:selectOneMenu  id="currencyId" 
														disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}" 
														label="#{msgs['lbl.accreditation.certificate.currency']}"
														value="#{accreditationCertificationBean.currency}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
														<f:selectItems
															value="#{accreditationCertificationBean.listCurrency}"
															var="currency"
															itemLabel="#{currency.text1} - #{currency.parameterName}"
															itemValue="#{currency.parameterTablePk}" />
													</p:selectOneMenu>										
										</td>
								</tr>
								<tr>
									<td/>
										<td>
										<h:outputText
													value="#{msgs['lbl.accreditation.certificate.motive']}"/>
										</td>
										<td>
												<p:selectOneMenu style="width:216px"  id="motiveId" disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}" label="#{msgs['lbl.accreditation.certificate.motive']}"
														value="#{accreditationCertificationBean.accreditationOperation.motive}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
														<f:selectItems
															value="#{accreditationCertificationBean.listMotives}"
															var="motive"
															itemLabel="#{motive.parameterName}"
															itemValue="#{motive.parameterTablePk}" />
													</p:selectOneMenu>										
										</td>
								</tr>
								
								<tr>
									<td/>
									<td>
										<h:outputLabel id="optStatus" value="#{msgs['lbl.accreditation.certificate.status']}"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu style="width:216px"  id="accreditationState"
												value="#{accreditationCertificationBean.accreditationOperation.accreditationState}"
												label="#{msgs['lbl.accreditation.certificate.status']}"
												disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems
													value="#{accreditationCertificationBean.stateList}"
													var="state" itemLabel="#{state.parameterName}"
													itemValue="#{state.parameterTablePk}" />
												<p:ajax event="change" process="@form"
													update="accreditationState outputPanelResult msgAccreditationState"
													listener="#{accreditationCertificationBean.clearGrill()}" />
											</p:selectOneMenu>
											<p:message display="icon" for="accreditationState" id="msgAccreditationState" />
										</h:panelGrid>
									</td>

									
								</tr>
								
								<tr>
								    <td/>
									<td>
										<h:outputLabel id="oplInitialDt" value="#{gmsgs['lbl.initial.date']}" />
									</td>
									<td>
										<p:calendar navigator="true" showOn="both" size="10"
										    disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}"
											pattern="#{cons.dateFormat}" readonlyInput="true"
											value="#{accreditationCertificationBean.initialDate}"
											yearRange="1900:c+c"
											maxdate="#{accreditationCertificationBean.nowTime}"
											beforeShowDay="disableAllHolydays">
											<p:ajax event="dateSelect" process="@this"
												update="idExpirationDate,outputPanelResult"
												listener="#{accreditationCertificationBean.clearGrill()}" />
										</p:calendar>
									</td>
									
									<td>
										<h:outputLabel id="oplEndDt" value="#{gmsgs['lbl.end.date']}" />
									</td>
									<td>
										<p:calendar id="idExpirationDate" size="10"
										    disabled="#{accreditationCertificationBean.optionSelectedOneRadio eq 1 or (accreditationCertificationBean.optionSelectedOneRadio eq 2)}"
											mindate="#{accreditationCertificationBean.initialDate}"
											navigator="true" pattern="dd/MM/yyyy" readonlyInput="true"
											maxdate="#{accreditationCertificationBean.nowTime}"
											showOn="both"
											value="#{accreditationCertificationBean.endDate}"
											beforeShowDay="disableAllHolydays">
											<p:ajax event="dateSelect" update="outputPanelResult"
												listener="#{accreditationCertificationBean.clearGrill()}" />
										</p:calendar>
									</td>
								</tr>
								</table>
								<table width="100%">
								<tr>
									<td colspan="8" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" update="@form"
											process="@form @this"  actionListener="#{accreditationCertificationBean.accreditationConsult}" />
										<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}"
											update="@form :deliverForm" immediate="true" process="@this" icon="fa fa-trash"
											action="#{accreditationCertificationBean.clearSearch()}" />
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
				<tr>
					<td colspan="2"><p:outputPanel id="outputPanelResult">
							<p:outputPanel id="oppButtonsPrivileges"
								rendered="#{not empty accreditationCertificationBean.accreditationOperationDataModel and !accreditationCertificationBean.participantLoggedIsBlocked}">
								<table width="100%">
									<tr>
										<td align="left"><arkPriv:privileges id="praderaPrivileges"
												actionConfirm="#{(accreditationCertificationBean.beforeToDetail('confirm'))}"
												actionReject="#{accreditationCertificationBean.beforeToDetail('reject')}"
												actionUnblock="#{accreditationCertificationBean.beforeToDetail('unblock')}"
												actionGenerate="#{accreditationCertificationBean.beforeToDetail('generate')}"
												actions="#{userPrivilege.userAcctions}"
												renders="#{userPrivilege.privilegeComponent}" /></td>
									</tr>
								</table>
							</p:outputPanel>
							<p:outputPanel id="oppListFound">
								<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accreditationCertificationBean.accreditationOperationDataModel.rowCount gt 0}">
								
									<p:dataTable id="dtbResult" var="list" value="#{accreditationCertificationBean.accreditationOperationDataModel}"
										paginator="true" rows="10" paginatorPosition="top" rowsPerPageTemplate="5,10,15" widgetVar="dtbResult"
										rowKey="#{list.idAccreditationOperationPk}" selection="#{accreditationCertificationBean.listAccreditationOperationSelection}">
										
										<p:column selectionMode="multiple" style="width:2%" />
										<p:column styleClass="content-center"
											sortBy="#{list.idAccreditationOperationPk}">
											<f:facet name="header">
												<h:outputText id="optRequestNumber" value="#{msgs['lbl.no.request']}" styleClass="text-header-table" />
											</f:facet>
											<p:commandLink value="#{list.custodyOperation.operationNumber}" immediate="true" ajax="true"
														   action="#{accreditationCertificationBean.accreditationDetail('click')}" >
											</p:commandLink>
										</p:column>
										<p:column styleClass="content-center" sortBy="#{list.registerDate}">
											<f:facet name="header">
												<h:outputText id="optRegisterDt" value="#{msgs['lbl.accreditation.certificate.registerDate']}"
															  styleClass="text-header-table" />
											</f:facet>
											<h:outputText value="#{list.registerDate}">
												<f:convertDateTime pattern="#{cons.dateFormat}" />
											</h:outputText>
										</p:column>
										<p:column styleClass="content-center" sortBy="#{list.getPetitionerTypeDesc()}">
											<f:facet name="header">
												<h:outputText id="optPetionerType"
													value="#{msgs['lbl.accreditation.certificate.petitioner.type']}"
													styleClass="text-header-table" />
											</f:facet>
											<h:outputText value="#{list.getPetitionerTypeDesc()}" />
										</p:column>
										<p:column style="text-align:center;" styleClass="content-center" sortBy="#{list.expirationDate}">
											<f:facet name="header">
												<h:outputFormat value="#{msgs['lbl.accreditation.certificate.petitioner.code']}"
															    styleClass="text-header-table" escape="false" />
											</f:facet>
											<h:outputText rendered="#{list.petitionerType==accreditationCertificationBean.participantPetitioner}"
														  value="#{list.holder.idHolderPk}" 
														  title="#{list.holder.idHolderPk}" />
											<h:outputText value="#{list.holder.idHolderPk}"
														  rendered="#{list.petitionerType!=accreditationCertificationBean.participantPetitioner and 
															list.petitionerType!=accreditationCertificationBean.creditorPetitioner}"
														  title="#{list.holder.idHolderPk}" />
											<h:outputText value="#{list.idBlockEntity}"
														  rendered="#{list.petitionerType==accreditationCertificationBean.creditorPetitioner}" 
														  title="#{list.idBlockEntity}" />
										</p:column>
										<p:column styleClass="content-left">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.datatable.holderaccount.description']}"
															  styleClass="text-header-table" />
											</f:facet>
											<h:outputText value="#{list.holder.fullName}"
														rendered="#{(list.petitionerType==accreditationCertificationBean.participantPetitioner) 
														}"
														title="#{list.holder.fullName}" />
											<h:outputText value="#{list.blockEntityName}"
														rendered="#{(list.petitionerType==accreditationCertificationBean.creditorPetitioner)
														}"
														title="#{list.blockEntityName}" />
											<h:outputText value="#{list.holder.fullName}"
														rendered="#{(list.petitionerType!=accreditationCertificationBean.participantPetitioner and 
															list.petitionerType!=accreditationCertificationBean.creditorPetitioner)
															}"
														title="#{list.holder.fullName}" />
											<h:outputText value="#{list.holder.name+' '+list.holder.firstLastName+' '+list.holder.secondLastName}"
														rendered="#{(list.holder.fullName == null)}" />
										</p:column>
										<p:column style="width:13%" styleClass="content-left" sortBy="#{list.formatSecurities}">
										<f:facet name="header">
												<h:outputText id="optSecurityCode"
													value="#{gmsgs['security.lbl.code']}"
													styleClass="text-header-table" />
											</f:facet>
											<p:commandLink style="color:blue;"
												value="#{list.formatSecurities}"
												actionListener="#{accreditationCertificationBean.showSecurityFinancialDataSearch(list.formatSecurities)}" update="@form" />
										</p:column>
										<p:column styleClass="content-center" sortBy="#{list.expirationDate}">
											<f:facet name="header">
												<h:outputText id="optExpirationDt"
													value="#{msgs['lbl.accreditation.certificate.expirationDate']}"
													styleClass="text-header-table" />
											</f:facet>
											<h:outputText value="#{list.expirationDate}">
												<f:convertDateTime pattern="#{cons.dateFormat}" />
											</h:outputText>
										</p:column>
										<p:column styleClass="content-center" sortBy="#{list.expirationDate}">
											<f:facet name="header">
												<h:outputText id="optRealExpirationDt"
													value="#{msgs['lbl.accreditation.certificate.realExpirationDate']}"
													styleClass="text-header-table" />
											</f:facet>
											<h:outputText rendered="#{list.accreditationState eq accreditationCertificationBean.unblockedTypeCode}" value="#{list.realExpirationDate}">
												<f:convertDateTime pattern="#{cons.dateFormat}" />
											</h:outputText>
										</p:column>
										<p:column styleClass="content-center" sortBy="#{list.getStateTypeDesc()}">
											<f:facet name="header">
												<h:outputText id="optStatusRequest"
													value="#{msgs['lbl.accreditation.certificate.status']}"
													styleClass="text-header-table" />
											</f:facet>
											<h:outputText value="#{list.getStateTypeDesc()}" />
										</p:column>
										<ui:remove>
										<p:column style="text-align:center">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.accreditation.incharge.fullname']}" />
											</f:facet>
											<p:commandLink update=":opnlIncharge" actionListener="#{accreditationCertificationBean.viewInchargeDetail}" value="VER" >
												<f:attribute name="attributeIncharge" value="#{list}"/>
											</p:commandLink>
										</p:column>
										</ui:remove>
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.accreditation.certificate.constance']}" />
											</f:facet>
											<p:commandLink  rendered="#{list.indGenerated!=1}" disabled="true"
															value="#{msgs['lbl.ownershipexchange.header.doc.view']}">
											</p:commandLink>
											<p:commandLink 	rendered="#{list.indGenerated==1}" style="color:blue;" ajax="false"
															onclick="PrimeFaces.monitorDownload(start, stop)"
															value="#{msgs['lbl.ownershipexchange.header.doc.view']}">
												<p:fileDownload value="#{accreditationCertificationBean.getAccreditationCertification(list.idAccreditationOperationPk)}" />
											</p:commandLink>
										</p:column>
										
										<f:facet name="footer">
											<h:outputFormat
												value="#{msgs['tbl.footer.quantity.records']}">
												<f:param
													value="#{accreditationCertificationBean.accreditationOperationDataModel.getSize()}" />
											</h:outputFormat>
										</f:facet>
									</p:dataTable>
								</p:fieldset> 
								<p:outputPanel 
									rendered="#{accreditationCertificationBean.accreditationOperationDataModel!=null}">
									<p:fieldset legend="#{msgs['lbl.results']}"
										rendered="#{not(accreditationCertificationBean.accreditationOperationDataModel.rowCount gt 0)}">
										<h:outputText value="#{msgs['lbl.search.no.result']}" />
									</p:fieldset>
								</p:outputPanel>
							</p:outputPanel>
						</p:outputPanel></td>
				</tr>
			</table>
		</h:form>
		
		<p:dialog modal="true" id="viewInchargeDialog"
			header="#{msgs['header.message.warning']}" severity="info"
			closable="false" resizable="false"				
			widgetVar="widgViewInchargeDialog">
			<table>
			<tr>
			<td>
			<p:outputPanel id="opnlIncharge">
			<p:dataTable id="dtbInCharge" var="inCharge" rowIndexVar="regNum"
			rendered="#{accreditationCertificationBean.lstAccreditationDeliveryInformation.size() >= 1}"
								value="#{accreditationCertificationBean.lstAccreditationDeliveryInformation}">
							<p:column width="5px">
							<f:facet name="header">
							<h:outputText value="N°" />
							</f:facet>
							<h:outputText
							value="#{regNum + 1}" />
							</p:column>
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.accreditation.incharge.document.number']}" />
							</f:facet>
							<h:outputText
							value="#{inCharge.documentNumber}" />
							</p:column>
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.accreditation.incharge.fullname']}" />
							</f:facet>
							<h:outputText
							value="#{inCharge.fullName}" />
							</p:column>											
					</p:dataTable>
					<h:outputLabel value="#{msgs['lbl.accreditation.no.result.incharge']}" 
								rendered="#{!(accreditationCertificationBean.lstAccreditationDeliveryInformation.size() >= 1)}"
								style="font-weight:bold;"/>	
					</p:outputPanel>	
			</td>
			</tr>
			<tr>
			<td>
			<p:spacer height="0" width="5"></p:spacer>
			</td>
			</tr>
			<tr>
			<td align="center">
			<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="PF('widgViewInchargeDialog').hide()" process="@this" 						
						update=":opnlIncharge">
					</p:commandButton>
			</td>
			</tr>
			</table>
		</p:dialog>
		
		<p:outputPanel id="opnlDialogs">
			<h:form id="frmMessages">
			
				<p:confirmDialog id="errorAccountList" closable="false" widgetVar="errorAccountList" message="#{bodyMessageView}"
								 header="#{msgs['header.message.alert']}" severity="alert">
					<p:commandButton value="#{gmsgs['btn.accept']}" onclick="PF('errorAccountList').hide();" />
				</p:confirmDialog>
				
				<p:confirmDialog id="successDialog" closable="false" widgetVar="successDialog" message="#{bodyMessageView}"
								 header="#{msgs['header.message.success']}" severity="info">
					 <table width="100%">
						<tr><td width="50%" align="center">
								<p:commandButton value="#{gmsgs['btn.accept']}" oncomplete="PF('successDialog').hide();"
												 update=":frmSearch:dtbResult :deliverForm:deliverOption :deliverForm:deliverOptionMsg frmMessages"
									 			 actionListener="#{accreditationCertificationBean.accreditationConsult()}" />
				 			 </td>
						</tr>
					</table>
				</p:confirmDialog>
				
				<p:confirmDialog id="acreditationSuccess" header="#{msgs['header.message.success']}" severity="info"
								 widgetVar="acreditationSuccess" closable="false"
								 message="#{msgs['message.accreditation.certificates.confirm.success']} #{accreditationCertificationBean.listidAccreditationOperationPk}">
					<table width="100%">
						<tr><td width="50%" align="center">
								<p:commandButton value="#{gmsgs['btn.accept']}" update=":frmSearch:dtbResult"
												 actionListener="#{accreditationCertificationBean.accreditationConsult()}"
												 oncomplete="PF('acreditationSuccess').hide()" />
							</td>
						</tr>
					</table>
				</p:confirmDialog>
				
				<p:confirmDialog id="unblockSuccess" header="#{msgs['header.message.success']}" severity="info"
								 widgetVar="unblockSuccess" closable="false"
								 message="#{msgs['message.accreditation.certificates.unblock.success']} #{accreditationCertificationBean.listidAccreditationOperationPk}">
					<table width="100%">
						<tr><td width="50%" align="center">
								<p:commandButton value="#{gmsgs['btn.accept']}" update=":frmSearch:dtbResult"
												 actionListener="#{accreditationCertificationBean.accreditationConsult()}"
												 oncomplete="PF('unblockSuccess').hide()" /></td>
						</tr>
					</table>
				</p:confirmDialog>
				
				<p:confirmDialog id="acreditRejectSuccess" header="#{msgs['header.message.success']}" severity="info"
								 widgetVar="acreditRejectSuccess" closable="false"
								 message="#{msgs['message.accreditation.certificates.reject.success']} #{accreditationCertificationBean.listidAccreditationOperationPk}">
					<table width="100%">
						<tr><td width="50%" align="center">
								<p:commandButton value="#{gmsgs['btn.accept']}" update=":frmSearch:dtbResult"
												 actionListener="#{accreditationCertificationBean.accreditationConsult()}"
												 oncomplete="PF('acreditRejectSuccess').hide()" /></td>
						</tr>
					</table>
				</p:confirmDialog>
				
				<p:confirmDialog id="generateDialogMessage" closable="false" widgetVar="generateDialogMessage" severity="info"
					message="#{msgs['lbl.accreditation.certificate.sure.to.generate']}" header="#{msgs['header.message.confirmation']}" >
					<p:commandButton value="#{gmsgs['btn.yes']}" update="@form" actionListener="#{accreditationCertificationBean.generateAccreditationConstance()}" />
					<p:commandButton value="#{gmsgs['btn.no']}"  update="@form" actionListener="#{accreditationCertificationBean.closeGenerateDialog()}" />
				</p:confirmDialog>
				
				<p:confirmDialog id="generateDialogMessageSelection" closable="false" widgetVar="generateDialogMessageSelection" severity="info"
					message="#{msgs['lbl.accreditation.certificates.sure.to.generate']}" header="#{msgs['header.message.confirmation']}" >
					<p:commandButton value="#{gmsgs['btn.yes']}" update="@form" actionListener="#{accreditationCertificationBean.generateAccreditationConstanceMassive()}" />
					<p:commandButton value="#{gmsgs['btn.no']}"  update="@form" actionListener="#{accreditationCertificationBean.closeGenerateDialog()}" />
				</p:confirmDialog>
				
				<p:confirmDialog id="generatedAlreaydExists" closable="false" widgetVar="generatedAlreaydExists"
								 message="#{msgs['lbl.accreditation.certificate.generate.exists']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('generatedAlreaydExists').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="generatedAlreaydExistsSelection" closable="false" widgetVar="generatedAlreaydExistsSelection"
								 message="#{msgs['lbl.accreditation.certificates.generate.exists']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('generatedAlreaydExistsSelection').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="stateNotConfirmed" closable="false" widgetVar="stateNotConfirmed"
								 message="#{msgs['lbl.accreditation.certificate.generate.not.confirmed']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('stateNotConfirmed').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="comittedAlreaydExists" closable="false" widgetVar="comittedAlreaydExists"
								 message="#{msgs['lbl.accreditation.certificate.committed.exists']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('comittedAlreaydExists').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="generationIsMandatory" closable="false" widgetVar="generationIsMandatory"
								 message="#{msgs['lbl.accreditation.certificate.generation.isMandatory']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('generationIsMandatory').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="certificateUnblock" closable="false" widgetVar="certificateUnblock"
								 message="#{msgs['lbl.accreditation.certificate.generation.unblock']}"
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('certificateUnblock').hide()" />
				</p:confirmDialog>
				
				<p:confirmDialog id="verifuSignature" closable="false" widgetVar="verifuSignatureVar"
								 message="#{msgs['lbl.accreditation.certificate.verify.signature']}"  
								 header="#{msgs['header.message.warning']}" severity="info">
					<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('verifuSignatureVar').hide()" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>

		<h:form id="confirmForm">
			<p:confirmDialog 	id="idAcreditConfirm" header="#{msgs['header.message.warning']}" closable="false" severity="info" widgetVar="acreditConfirm"
								message="#{msgs['message.accreditation.certificates.confirm'] }  #{accreditationCertificationBean.listidAccreditationOperationPk} ?">
				<table style="margin: auto;" width="250">
					<tr>
						<td align="center">
							<p:commandButton value="#{gmsgs['btn.yes']}" update="@form"
								actionListener="#{accreditationCertificationBean.changeAccreditationStatusMassive(accreditationCertificationBean.listAccreditationOperationSelection,accreditationCertificationBean.confirmededTypeCode)}" />
							<p:commandButton value="#{gmsgs['btn.no']}" ajax="true"
								actionListener="#{accreditationCertificationBean.clearAccreditationOperation()}"
								update="@form" oncomplete="PF('acreditConfirm').hide()" />
						</td>
					</tr>
				</table>
			</p:confirmDialog>
		</h:form>

		<h:form id="unBlockForm">
			<p:confirmDialog 	id="idUnBlockFormConfirm" header="#{msgs['header.message.warning']}" closable="false" severity="info" widgetVar="unBlockFormConfirm"
								message="#{msgs['message.accreditation.certificates.unblock'] } #{accreditationCertificationBean.listidAccreditationOperationPk} ?">
				<table style="margin: auto;" width="250">
					<tr>
						<td align="center">
							<p:commandButton value="#{gmsgs['btn.yes']}" update="@form"
								actionListener="#{accreditationCertificationBean.unblockAccreditationMassive()}" />
							<p:commandButton value="#{gmsgs['btn.no']}" ajax="true" update="@form" oncomplete="PF('unBlockFormConfirm').hide()" />
						</td>
					</tr>
				</table>
			</p:confirmDialog>
		</h:form>

		<h:form id="frmMotiveReject">
				<p:dialog 	id="dialogMotiveReject" resizable="false" draggable="false" modal="true" closable="false"
							severity="alert" widgetVar="dlgMotive" header="#{msgs['lbl.motive.reject']}" >
					
					<p:outputPanel id="opnlMotiveReject">
						<table>
							<tr>
								<td width="100px"><h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" /></td>
								<td>
									<h:panelGrid columns="2">
										<p:selectOneMenu id="cboMotiveReject" style="width:258px;" widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
														 value="#{accreditationCertificationBean.idRejectMotiveOperationsSelected}" >
											<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{accreditationCertificationBean.rejectMotiveList}" var="mot"
														   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.parameterName}" />
											<p:ajax process="@this" update="opnlMotiveReject" event="change" />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>
										<p:message for="cboMotiveReject" display="icon" />
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field" id="idTxtMotive"
										rendered="#{accreditationCertificationBean.accreditationOperationSelection.idRejectMotive==698}" /></td>
								<td><h:panelGrid columns="2">
										<p:inputText size="60" label="#{msgs['lbl.other.motive']}" maxlength="100" id="txtOtherMotive"
													 rendered="#{accreditationCertificationBean.idRejectMotiveOperationsSelected==698}"
													 value="#{accreditationCertificationBean.rejectMotiveOtherOperationsSelected}" >
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											<p:ajax global="false" update="txtOtherMotive mggOtherMotive" event="blur" />
											<f:validator validatorId="inputRequiredValidator" />
										</p:inputText>
										<p:message for="txtOtherMotive" display="icon" id="mggOtherMotive" />
									</h:panelGrid>
								</td>
							</tr>
						</table>
					</p:outputPanel>
					
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
						
							<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save"
											 actionListener="#{accreditationCertificationBean.afterHaveSelectedMotive}"
											 update=":opnlDialogs :opnlGenericDialogs :rejectForm:acreditRejectEnd" />
								
							<p:commandButton id="idCmdBtnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" type="button"
											 onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotiveReject:cmbProcessBackMotive')" />
								
							<p:commandButton id="cmbProcessBackMotive" value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
											 actionListener="#{accreditationCertificationBean.closeDialogRejectMotive}"
											 update=":opnlDialogs" process="@this" onclick="PF('dlgMotive').hide()" />
								
						</p:outputPanel>
					</h:panelGrid>
					
				</p:dialog>
				<p:confirmDialog id="cnfBackMotive"
					message="#{gmsgs['message.back']}" severity="alert"
					header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
						process="@this" update=":opnlDialogs"
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
			</h:form>

		<h:form id="rejectForm">
			<p:confirmDialog id="acreditRejectEnd" header="#{msgs['header.message.warning']}" closable="false" severity="info" widgetVar="acreditRejectEnd"
							 message="#{msgs['message.accreditation.certificates.reject'] } #{accreditationCertificationBean.listidAccreditationOperationPk} ?">
				<table style="margin: auto;" width="250">
					<tr>
						<td align="center">
							<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('dlgMotive').hide();"
								actionListener="#{accreditationCertificationBean.changeAccreditationStatusMassive(accreditationCertificationBean.listAccreditationOperationSelection,accreditationCertificationBean.rejectedTypeCode)}" />
							<p:commandButton value="#{gmsgs['btn.no']}" ajax="true" onclick="PF('acreditRejectEnd').hide()" />
						</td>
					</tr>
				</table>
			</p:confirmDialog>
		</h:form>
		
		<h:form id="deliverForm">
			<p:dialog id="deliverAccreditationDlg"
				header="#{msgs['header.message.deliver']}"
				widgetVar="deliverAccreditation" closable="false" resizable="false"
				modal="true">
				<p:outputPanel id="opnldeliverAccreditation">
					<table style="margin: auto;" width="350px">
						<tr width="250">
							<td><h:outputText value="#{gmsgs['btn.deliver']}(*)"
									style="font-weight:bold;" /></td>
							<td><h:panelGrid columns="2">
									<p:selectOneMenu id="deliverOption" style="width:150px"
										required="true"
										requiredMessage="#{msgs['error.accreditation.certificate.required']}"
										value="#{accreditationCertificationBean.accreditationOperation.destinationCertificate}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems
											value="#{accreditationCertificationBean.destinationDeliverList}"
											var="deliverDestination"
											itemLabel="#{deliverDestination.parameterName}"
											itemValue="#{deliverDestination.parameterTablePk}" />
										<p:ajax immediate="true" process="@this"
											update="deliverBtn deliverOption deliverOptionMsg" />
									</p:selectOneMenu>
									<p:message for="deliverOption" id="deliverOptionMsg"
										display="icon" />
								</h:panelGrid></td>
						</tr>
					</table>
				</p:outputPanel>
				<h:panelGrid columns="1" style="text-align:center" width="100%">
					<p:outputPanel>
						<p:commandButton id="deliverBtn" value="#{gmsgs['btn.save']}"
							icon="fa fa-save"
							render="#{accreditationCertificationBean.accreditationOperation.destinationCertificate==null}"
							update=":frmMessages:successDialog :frmSearch:outputPanelResult :opnlGenericDialogs :deliverForm:deliverOption :deliverForm:deliverOptionMsg"
							actionListener="#{accreditationCertificationBean.deliverAccreditation}" />
						<p:commandButton id="cbBack" value="#{gmsgs['btn.back']}"
							ajax="true" immediate="true" icon="fa fa-undo" update=":frmMessages"
							actionListener="#{accreditationCertificationBean.closeDeliverDialog}" />
					</p:outputPanel>
				</h:panelGrid>
			</p:dialog>
			<ark:securities-help id="detailSecurityHelp" isinCode="" />
		</h:form>
	
	</ui:define>
</ui:composition>
</html>