<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers"
      xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
      xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmRegWithdrawalSirtex');
	  });
	</script>
<h:outputText value="#{gmsgs['iCustody.withdrawal.securities.sirtex.register']}" styleClass="title-page"/>	
<h:form id="frmRegWithdrawalSirtex">
	<table width="100%">
		<tr>
			<td>
				<p:fieldset id="fldRegister" legend="#{msgs['lbl.withdrawal.sirtex.register.panel.title']}" width="100%">
				<table width="100%">
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.participant']}"/>
						</td>
						<td>
							<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.participant.displayDescriptionCode}" 
								disabled="true" style="width:300px"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.holder']}"/>
						</td>
						<td>
							<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.holder.idHolderPk}" 
								disabled="true" style="width:100px"/>
						</td>
						<td>
							<h:panelGroup id="lblAccounts">
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.holderAccount']} (*)" 
								styleClass="required-field" rendered="#{not empty withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccount}" />
							</h:panelGroup>
						</td>
						<td valign="top" colspan="3">
							<p:outputPanel id="opnlAccount">
								<p:dataTable id="tblAccounts" style="width:600px" 
											rendered="#{not empty withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccount}"
										 	 value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccount}" var="account"
									     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
										 	 selection="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.holderAccount}">
									
									<p:column selectionMode="single" style="width:18px" /> 
									
									<p:ajax event="rowSelectRadio" listener="#{chainedOperationsMgmBean.validateHolderAccount()}" 
										update=":frmRegWithdrawalSirtex:opnlAccount" />
									<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.holderAccount.number']}" 
										styleClass="content-center" style="width:70px;">
										<h:outputText value="#{account.accountNumber}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.holderAccount.description']}" styleClass="content-left" >
										<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
									</p:column>
									<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.holderAccount.type']}" styleClass="content-center" >
										<h:outputText value="#{withdrawalSirtexMgmBean.mapParameters.get(account.accountType)}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.holderAccount.state']}"  styleClass="content-center">
										<h:outputText value="#{withdrawalSirtexMgmBean.mapParameters.get(account.stateAccount)}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</td>
					</tr>
					<ui:remove>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.securityClass']}" />
						</td>
						<td>
						  	<h:panelGrid columns="2">
								<p:selectOneMenu id="cmbSecurityClass" value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.securityClass}"
									label="#{msgs['lbl.withdrawal.sirtex.register.securityClass']}" style="width:300px">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{withdrawalSirtexMgmBean.lstBCBSecuritieClass}" 
										var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.description}"/>												
								</p:selectOneMenu>		
							</h:panelGrid>									
						</td>
					</tr>
					</ui:remove>
					<tr>
						<td align="center" colspan="4">
						<p:commandButton id="btnSearchSecuritiesSirtex" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
							 actionListener="#{withdrawalSirtexMgmBean.searchSecutiesSirtex}" process="fldRegister"
							 update="@form"/>
						</td>
					</tr>
				</table>
				</p:fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<p:outputPanel id="opnlSirtexHolderAccountBalance" 
					rendered="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccountBalance != null}">
					<ark:securities-help icon="false" name="securityHelp"/>
					<p:fieldset legend="#{msgs['lbl.withdrawal.sirtex.register.balances.panel.title']}">
						<p:dataTable id="dtbResult" var="holderAccountBalance" rowIndexVar="rowInd"
							paginator="true" paginatorPosition="top"
							paginatorTemplate="#{msgs['dtb.paginator.template']}" 
							rowsPerPageTemplate="5,10,15" 
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							rendered="#{(withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccountBalance.rowCount >= 1)}"
							value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccountBalance}">
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityCode']}" styleClass="content-center"
									  sortBy="#{holderAccountBalance.idSecurityCodePk}"> 
								<p:commandLink process="@this" update=":frmRegWithdrawalSirtex:opnlSirtexHolderAccountBalance" 
											   actionListener="#{withdrawalSirtexMgmBean.showSecurityFinancialData(holderAccountBalance.idSecurityCodePk)}">
									<h:outputText value="#{holderAccountBalance.idSecurityCodePk}"/>
								</p:commandLink>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityBCBcode']}" styleClass="content-center"
									  sortBy="#{holderAccountBalance.idSecurityBCBcode}"> 
								<h:outputText value="#{holderAccountBalance.idSecurityBCBcode}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityClass']}" styleClass="content-center"
									  sortBy="#{withdrawalSirtexMgmBean.mapParameters.get(holderAccountBalance.securityClass)}"> 
								<h:outputText value="#{withdrawalSirtexMgmBean.mapParameters.get(holderAccountBalance.securityClass)}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.expirationDate']}" styleClass="content-center"
									  sortBy="#{holderAccountBalance.expirationDate}"> 
								<h:outputText value="#{holderAccountBalance.expirationDate}">
									<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.availableBalance']}" styleClass="content-right"
									  sortBy="#{holderAccountBalance.holderAccountBalance.availableBalance}">
								<h:outputText value="#{holderAccountBalance.holderAccountBalance.availableBalance}">
									<f:convertNumber pattern="#{gcons['pattern.quantity']}" locale="en_US"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.withdrawalBalance']}" 
								  styleClass="content-right"
								  sortBy="#{holderAccountBalance.quantityRemoveBalance}">
								<h:inputText value="#{holderAccountBalance.quantityRemoveBalance}" styleClass="content-right"
											 disabled="#{not (holderAccountBalance.blCheck  and not holderAccountBalance.marketLock)}">
									<p:ajax update=":frmRegWithdrawalSirtex:opnlSirtexHolderAccountBalance" event="change"    
											listener="#{withdrawalSirtexMgmBean.validateAmountInSirtexRedemption(holderAccountBalance)}"/>
									 <f:convertNumber pattern="#{gcons['pattern.quantity']}" locale="en_US"/>												
								</h:inputText>
								<h:panelGroup>
									<h:commandButton value="..."  disabled="#{not holderAccountBalance.blCheck}">
										<p:ajax listener="#{retirementOperationBean.showMarketFactUI(holderAccountBalance)}" 
												process="@this"  update=":frmRegWithdrawalSirtex:balancemarket1:opnlMarketFact"
												event="click">
										</p:ajax>
									</h:commandButton>
								</h:panelGroup>   
							</p:column>
							
							<p:column styleClass="content-center">
								<p:selectBooleanCheckbox value="#{holderAccountBalance.blCheck}" id="habSelected">
									<p:ajax event="valueChange" update=":frmRegWithdrawalSirtex:opnlSirtexHolderAccountBalance"
										listener="#{withdrawalSirtexMgmBean.updateHolderAccountWithdrawal(holderAccountBalance)}" global="false"/>
								</p:selectBooleanCheckbox>
							</p:column>	
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold"
							rendered="#{!(withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccountBalance.rowCount >= 1)}"/>
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton id="saveBtn" value="#{gmsgs['btn.save']}" actionListener="#{withdrawalSirtexMgmBean.beforeSave}"
			  		icon="fa fa-save" update="@form" disabled="#{!(withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.lstHolderAccountBalance.rowCount >= 1)}"/>
				
				<p:commandButton id="cleanFrmBtn" value="#{gmsgs['btn.clean']}" 
					icon="fa fa-trash" process="@this" onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" 
			    	immediate="true" actionListener="#{withdrawalSirtexMgmBean.cleanRegistration}" update="@form"/>	  	
			    			
				<p:commandButton id="backBtn" value="#{gmsgs['btn.back']}" action="searchWithdrawalSirtex"
					immediate="true" icon="fa fa-undo" onclick="if(isModifiedFormForBack(this)) return false;" />
			</td>
		</tr>
	</table>
	
	<p:outputPanel id="outPnlDialogs">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}" 
			closable="false" rendered="true" visible="false"> 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
				actionListener="#{withdrawalSirtexMgmBean.saveWithdrawalSirtex}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}" header="#{headerMessageView}" 
			closable="false" rendered="true" visible="false" severity="info"> 
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchWithdrawalSirtex" value="#{gmsgs['btn.accept']}"
				process="@this"/>
		</p:confirmDialog>
	</p:outputPanel> 
	
	<marketFact:marketfactBalance id="balancemarket1" 
		  bean="#{withdrawalSirtexMgmBean}"  
		  method="selectMarketFactBalance" 
		  parameter="withdrawalMarketFactBalance">
	</marketFact:marketfactBalance>
	
</h:form>
</ui:define>
</ui:composition>
</html>