<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions">	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmSearchWithdrawalSirtex');
	  });
	</script>		
<h:form id="frmSearchWithdrawalSirtex">
	<table width="100%">
	<tr>
		<td width="100%">
			<table width="100%">
			<tr>		
				<td>
					<h:outputText value="#{gmsgs['iCustody.withdrawal.securities.sirtex.manage']}" styleClass="title-page"/>
				</td>
				<td align="right" >
					<p:commandButton value="#{msgs['lbl.withdrawal.sirtex.register.btn']}" rendered="#{userPrivilege.userAcctions.register}"
						icon="fa fa-edit" action="#{withdrawalSirtexMgmBean.newRequest}" process="@this"/>
				</td>
			</tr>
			</table>
		</td>			
	</tr>
	<tr>
		<td>
			<p:fieldset id="fldsFiltros" legend="#{gmsgs['lbl.criteria.search']}">
				<table width="100%">
					<tr>
						<td>
							<h:outputText value="#{msgs['tvd.label.numberSolicitud']}"/>
						</td>
						<td>
							<p:inputText value="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.operationNumber}">
								<p:keyFilter regEx="/[0-9]/i"/>
							</p:inputText>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.state']}"/>
						</td> 
						<td>
							<p:selectOneMenu id="stateId" value="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.state}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
								<f:selectItems value="#{withdrawalSirtexMgmBean.lstStates}" 
									var="state" itemLabel="#{state.parameterName}" itemValue="#{state.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.securityClass']}" />
						</td>
						<td>
						  	<h:panelGrid columns="2">
								<p:selectOneMenu id="cmbSecurityClass" value="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.securityClass}"
									label="#{msgs['lbl.withdrawal.sirtex.register.securityClass']}" style="width:300px">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{withdrawalSirtexMgmBean.lstBCBSecuritieClass}" 
										var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.description}"/>
										<p:ajax event="change" update="pnlSecutiyHelp" process="@this"/>												
								</p:selectOneMenu>		
							</h:panelGrid>									
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.securityCode']}"/>
						</td>
						<td>
							<h:panelGrid  id="pnlSecutiyHelp" columns="4" cellspacing="0" cellpadding="0">
							<ark:securityHelper id="securityHelper" security="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.security}"
								blIssuer="true" lstIssuer="#{withdrawalSirtexMgmBean.lstIssuer}"
				     			securityClass="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.securityClass}"
								remoteListener="updateFieldSe()"/>
							<p:remoteCommand name="updateFieldSe" update=":frmSearchWithdrawalSirtex:securityHelp" process="@this"/>	
							<p:spacer width="5"/>
							<p:outputPanel id="securityHelp">
							<ark:securities-help securityCode="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.security.idSecurityCodePk}"/>
							</p:outputPanel>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{gmsgs['lbl.initial.date']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="calendarInit" navigator="true" size="10"
								readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true" 
								value="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.initDate}"
								maxdate="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.endDate}" >
								<p:ajax event="dateSelect" process="@this" update="calendarEnd @this" />	
							</p:calendar>
							</h:panelGrid>
						</td>
						<td>
							<h:outputText value="#{gmsgs['lbl.end.date']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">								
							<p:calendar id="calendarEnd" navigator="true" size="10" 
								required="true" readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
								mindate="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.initDate}" 
								maxdate="#{withdrawalSirtexMgmBean.currentSystemDate}" 
								value="#{withdrawalSirtexMgmBean.objFilterWithdrawalSirtex.endDate}">
								<p:ajax event="dateSelect" process="@this" update="calendarInit @this" />	
							</p:calendar>  
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td colspan="5" align="center">
							<p:commandButton value="#{gmsgs['btn.search']}" update="@form"
								icon="fa fa-search" actionListener="#{withdrawalSirtexMgmBean.SearchRequest}"/>														 
							<p:commandButton value="#{gmsgs['btn.clean']}" update="@form"
								icon="fa fa-trash" process="@this" actionListener="#{withdrawalSirtexMgmBean.cleanSearching}"/>
						</td>
					</tr>
				</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlPrivileges" rendered="#{(withdrawalSirtexMgmBean.lstWithdrawalSirtex.rowCount >= 1)}">
				<arkPriv:privileges id="praderaPrivileges" 					 							 
			 		actionConfirm="#{withdrawalSirtexMgmBean.validateConfirm}"
			 		actionReject="#{withdrawalSirtexMgmBean.validateReject}"			 				 			 
			 		actions="#{userPrivilege.userAcctions}"
			 		renders="#{userPrivilege.privilegeComponent}"/>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td> 
			<p:outputPanel id="opnlResult" style="width:100%;" rendered="#{withdrawalSirtexMgmBean.lstWithdrawalSirtex != null}">
				<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}">
					<p:dataTable id="dtbResultRescue" var="sirtexWithdrawal" value="#{withdrawalSirtexMgmBean.lstWithdrawalSirtex.dataList}"
						rendered="#{(withdrawalSirtexMgmBean.lstWithdrawalSirtex.rowCount >= 1)}"
						paginator="true" rows="10" paginatorPosition="top" rowKey="#{sirtexWithdrawal.idRetirementOperationPk}"
						paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						selection="#{withdrawalSirtexMgmBean.lstSelectedWithdrawalSirtex}">	
						
						<p:column selectionMode="multiple" styleClass="content-center"/>
						
						<p:column sortBy="#{sirtexWithdrawal.operationNumber}" styleClass="content-center" style="width: 15%">
							<f:facet name="header">
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.column.requestNumber']}"/>
							</f:facet>
							<p:commandLink value="#{sirtexWithdrawal.operationNumber}" style="color:blue"
								action="#{withdrawalSirtexMgmBean.loadSirtexWithdrawalOperation(sirtexWithdrawal)}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.requestDate']}" styleClass="content-center" 
							sortBy="#{sirtexWithdrawal.initDate}">
							<h:outputText value="#{sirtexWithdrawal.initDate}">
								<f:convertDateTime pattern="#{cons['date.pattern']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityCode']}" styleClass="content-center" 
							sortBy="#{sirtexWithdrawal.idSecurityCodePk}">
							<ark:securities-help  securityCode="#{sirtexWithdrawal.idSecurityCodePk}" link="true" icon="false" />
						</p:column>				
						
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityBCBcode']}" styleClass="content-center" 
							sortBy="#{sirtexWithdrawal.idSecurityBCBcode}">
							<h:outputText value="#{sirtexWithdrawal.idSecurityBCBcode}"/>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityClass']}" styleClass="content-center"
								  sortBy="#{withdrawalSirtexMgmBean.mapParameters.get(sirtexWithdrawal.securityClass)}"> 
							<h:outputText value="#{withdrawalSirtexMgmBean.mapParameters.get(sirtexWithdrawal.securityClass)}"/>
						</p:column>
							
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.withdrawalBalance']}" styleClass="content-right"
									sortBy="#{sirtexWithdrawal.totalBalance}" style="width: 15%" >
							<h:outputText value="#{sirtexWithdrawal.totalBalance}">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.requestState']}" styleClass="content-center" 
							sortBy="#{withdrawalSirtexMgmBean.mapParameters.get(sirtexWithdrawal.state)}">
							<h:outputText value=" #{withdrawalSirtexMgmBean.mapParameters.get(sirtexWithdrawal.state)}"/>
						</p:column>
						
						<f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{withdrawalSirtexMgmBean.lstWithdrawalSirtex.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>
					</p:dataTable>
					<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold"
							rendered="#{!(withdrawalSirtexMgmBean.lstWithdrawalSirtex.rowCount >= 1)}"/>
				</p:fieldset>
			</p:outputPanel>
		</td>
	</tr>
	</table>
</h:form>
<p:outputPanel id="opnlDialogs">
	<h:form id="frmMessage">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}" 
			closable="false" rendered="true" visible="false"> 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":opnlDialogs"
				actionListener="#{withdrawalSirtexMgmBean.doAction}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this" update="@form"/>
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info"> 
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this"
				action="searchWithdrawalSirtex" value="#{gmsgs['btn.accept']}" update=":frmSearchWithdrawalSirtex:opnlResult"/>
		</p:confirmDialog>
	</h:form>
</p:outputPanel>	
</ui:define>
</ui:composition>
</html>