<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
	<script type="text/javascript">
		$(window).load(function(){
			setInitialFormState('#frmSirtexWithdrawal');
		});
	</script>
	<h:outputText value="#{gmsgs['iCustody.withdrawal.securities.sirtex.view']}" styleClass="title-page"/>
	<h:form id="frmSirtexWithdrawal">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset id="fldRegister" legend="#{msgs['lbl.withdrawal.sirtex.register.panel.title']}">
					<table width="100%">
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.requestNumber']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.operationNumber}" 
									disabled="true" style="width:100px"/>
							</td>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.requestState']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.mapParameters.get(withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.state)}" 
									disabled="true" style="width:100px"/>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.participant']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.participant.displayDescriptionCode}" 
									disabled="true" style="width:400px"/>
							</td>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.holder']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.holder.idHolderPk}" 
									disabled="true" style="width:150px"/>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.registerUser']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.registryUser}" 
									disabled="true" style="width:200px"/>
							</td>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.registerDate']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.registryDate}" 
									disabled="true" style="width:200px">
									<f:convertDateTime pattern="#{gmsgs['calendar.datetime.format']}"/>
								</h:inputText>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.confirmUser']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.confirmUser}" 
									disabled="true" style="width:200px"/>
							</td>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.confirmDate']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.confirmDate}" 
									disabled="true" style="width:200px">
									<f:convertDateTime pattern="#{gmsgs['calendar.datetime.format']}"/>
								</h:inputText>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.rejectUser']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.rejectUser}" 
									disabled="true" style="width:200px"/>
							</td>
							<td>
								<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.rejectDate']}"/>
							</td>
							<td>
								<h:inputText value= "#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.custodyOperation.rejectDate}" 
									disabled="true" style="width:200px">
									<f:convertDateTime pattern="#{gmsgs['calendar.datetime.format']}"/>
								</h:inputText>
							</td>
						</tr>
					</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<p:fieldset id="fldResult" 
						legend="#{msgs['lbl.withdrawal.sirtex.register.balances.panel.title']}" 
						rendered="#{not empty withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.retirementDetails}">
						<p:dataTable id="dtbResult" var="detail"
							style="padding-right:0px !important;" 
							value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.retirementDetails}"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.holderAccount']}" styleClass="content-center">
								<h:outputText escape="false" value="#{detail.holderAccount.alternateCode}"/>
							</p:column>
		
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityCode']}" styleClass="content-center"> 
								<h:outputText value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.security.idSecurityCodePk}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityBCBcode']}" styleClass="content-center">
								<h:outputText value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.security.idSecurityBcbCode}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.securityClass']}" styleClass="content-center"> 
								<h:outputText value="#{withdrawalSirtexMgmBean.mapParameters.get(withdrawalSirtexMgmBean.
													objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.security.securityClass)}"/>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.withdrawalBalance']}" styleClass="content-right">
								<h:outputText value="#{detail.availableBalance}">
									 <f:convertNumber pattern="#{gcons['pattern.quantity']}" locale="en_US"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.withdrawal.sirtex.register.column.marketFact']}" style="width: 50px;">
								<p:commandButton icon="ui-search">
									<p:ajax process="@this" event="click" oncomplete="PF('idMarketFactDataWidget').show()" update=":frmSirtexWithdrawal:idMarketFactPanel"
											listener="#{withdrawalSirtexMgmBean.showMarketFactUIDetail(detail)}"/>
								</p:commandButton>
							</p:column>
							
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{withdrawalSirtexMgmBean.objRegisterWithdrawalSiterx.sirtexWithdrawalOperation.retirementDetails.size()}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>
						</p:dataTable>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.confirm']}" icon="ui-confirm" 
						rendered="#{withdrawalSirtexMgmBean.viewOperationConfirm}" process="@this"
						update="outPnlDialogs" actionListener="#{withdrawalSirtexMgmBean.beforeAction}"/>
					<p:commandButton id="cmbReject" value="#{gmsgs['btn.reject']}" icon="ui-cancel" 
						rendered="#{withdrawalSirtexMgmBean.viewOperationReject}" process="@this"
						update="outPnlDialogs" actionListener="#{withdrawalSirtexMgmBean.beforeAction}"/>									
					<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" process="@this"
						icon="fa fa-undo" action="searchWithdrawalSirtex"/>
				</td>
			</tr>
		</table>
		
		<p:outputPanel id="outPnlDialogs">
			<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton id="cmbAskYes" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
					actionListener="#{withdrawalSirtexMgmBean.doAction}"/>
				<p:commandButton id="cmbAskNo" value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
			</p:confirmDialog>	
				
			<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" severity="info"> 
				<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this"
					action="searchWithdrawalSirtex" value="#{gmsgs['btn.accept']}"/>
			</p:confirmDialog>
		</p:outputPanel>

		<p:outputPanel id="idMarketFactPanel">
		<p:dialog id="idMarketFactData" widgetVar="idMarketFactDataWidget" modal="true" resizable="false" showHeader="false" position="top" 
					  showEffect="true" maximizable="false" width="800" closeOnEscape="true">  
			    <p:fieldset legend="Hecho de Mercado">
			      	<table width="100%">
			      		<tr>
						<td width="30%" align="left">
							<h:outputText value="#{gmsgs['security.lbl.code']}" />
						</td>
						<td width="70%">
							<p:inputText disabled="true" style="width:70%" value="#{withdrawalSirtexMgmBean.helpMarketFactBalanceView.securityCodePk}" /> 
						</td>
					</tr>
							<tr>
						<td align="left">
							<h:outputText value="#{msgs['commons.label.description']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{withdrawalSirtexMgmBean.helpMarketFactBalanceView.securityDescription}"  />
						</td>
					</tr>
					<tr>
						<td align="left"><h:outputText value="#{msgs['commons.label.intrumentType']}" /></td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{withdrawalSirtexMgmBean.helpMarketFactBalanceView.instrumentDescription}" /> 
						</td>
					</tr>
					<tr>
						<td align="left">
							<h:outputText value="#{msgs['lbl.reversal.register.unblockRequest.quantity']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{withdrawalSirtexMgmBean.helpMarketFactBalanceView.balanceResult}" >
								<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							</p:inputText> 
						</td>
					</tr>
					<tr>
						<td colspan="2">
			 				<p:dataTable value="#{withdrawalSirtexMgmBean.helpMarketFactBalanceView.marketFacBalances}"  var="list" style="width:100%" 
			 							 paginator="true" rows="10" 
									   paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									 rowsPerPageTemplate="5,10" paginatorPosition="top" currentPageReportTemplate="({currentPage} de {totalPages})">
							 
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.date']}"/>
								</f:facet>
								<h:outputText value="#{list.marketDate}">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</h:outputText>
							</p:column>
			
			 					<p:column styleClass="content-center">
								<f:facet name="header" >
									<h:outputText value="#{msgs['commons.label.marketfact.price']}" />
								</f:facet>
								<h:outputText value="#{(list.marketPrice!=null)?list.marketPrice:0}">
								<f:convertNumber pattern="###,###,###,##0" locale="en_US"/>
								</h:outputText>
							</p:column>
							
			 					<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.tasa']}" />
								</f:facet>
								<h:outputText value="#{(list.marketRate!=null)?list.marketRate:0}">
									<f:convertNumber pattern="#{gconst['pattern.market.rate']}"/>
								</h:outputText>
								<h:outputText value="%"/>
							</p:column>
						
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.quantity']}"/>
								</f:facet>
								<h:outputText value="#{(list.totalBalance!=null) ? list.totalBalance : 0}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
							
						</p:dataTable>	
						</td>
			    	</tr>
			     			<tr>
			     				<td colspan="2" align="center">
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}" immediate="true"  process="@this"
					        			 	 oncomplete="PF('idMarketFactDataWidget').hide()" update="outPnlDialogs" /> 
			                	</td>
			     			</tr>
			     		</table>
			    </p:fieldset>
			     	
			  </p:dialog>
		</p:outputPanel>
	</h:form>
</ui:define>
</ui:composition>
</html>