<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	

	<h:outputText value="#{msgs['opt.adm.accounting.title']}"
				  styleClass="title-page"/>
	
	<h:form id="frmSearchLedgerAccounts">
	
		<table width="100%">	 
		
				<tr>
					<td align="right">
						<p:commandButton value="#{msgs['btn.new.accounting.legend']}" icon="fa fa-edit"  immediate="true" 
						               />
					</td>
				</tr>
				
				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['search.accounting.legend']}"> 
							<table width="100%"> 
								<tr> 
									<td width="25%">
										<h:outputText value="#{msgs['accounting.code.name']}" />
									</td>
									<td width="25%"> 
										<p:inputText id="txtAccountingCode">
										 
								        </p:inputText>
									</td>  
								</tr> 
							</table> 
						</p:fieldset>

					</td>
				</tr>
				
		<tr>
			<td>
				<h:panelGroup>
					<p:panel>
						<p:commandButton value="#{msgs['btn.modify']}"  icon="ui-edit"  />
							<p:spacer width="5" height="0"></p:spacer>	  
						<p:commandButton value="#{msgs['btn.add']}"  icon="ui-add" /> 
					</p:panel>
				</h:panelGroup>
			</td>
		</tr>	
				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.results']}">
							<p:dataTable id="dtbResult"
								var="ledgerAccounts" 
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 
				                >								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.code']}" escape="false"/>
									</f:facet>	   							
									<h:outputText />
								</p:column>														
		 
								<p:column>
									<f:facet name="header">
									    <h:outputText value="#{msgs['accounting.code.name']}" />
									</f:facet>
									<h:outputText />
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['accounting.lbl.type']}" />
									</f:facet>
									<h:outputText  />
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.currency']}" />
									</f:facet>
									<h:outputText  />
								</p:column>
 
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.book.account.state']}" />
									</f:facet>
									<h:outputText value="" />
								</p:column>  
								 
								<f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['accounting.legend.lbl.results']}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>		 
							</p:dataTable> 
					</p:fieldset> 										
	<ui:remove>			<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{serviceRateMgmtBean.billingServiceDataModel!=null and !(serviceRateMgmtBean.billingServiceDataModel.rowCount >= 1)}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(serviceRateMgmtBean.billingServiceDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>							
						   </p:fieldset>							</ui:remove>
					</td>   
				</tr>	 
		</table> 
	</h:form>	
	
	<p:outputPanel id="opnlDialogs" >	
		<h:form id="search_legendAccounting">
			<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog" message="#{bodyMessageView}"
							 header="#{headerMessageView}" closable="false" severity="alert" > 
				<p:commandButton onclick="PF('warningDialog').hide()" 
			    				 value="#{msgs['btn.accept']}" />
			</p:confirmDialog>	
		</h:form>
	</p:outputPanel>	
	
	</ui:define>
</ui:composition>
</html>