<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<table width="100%">
	<ui:include src="internationalOperationSeparatorTables.xhtml" />
	<tr>
		<td><h:outputText value="#{msgs['otc.operation.security.code']} (*)" styleClass="required-field" /></td>
		<td colspan="3">
			<p:outputPanel id="pnlValor" rendered="#{(internationalOperationMgmtBean.viewOperationRegister)}">
				<h:panelGrid columns="3">				
					<arkHelp:securityHelper id="idSourceSecurity" 
											remoteListener="rcmdAfterSecurityHelper()"
											security="#{internationalOperationMgmtBean.internationalOperation.securities}" 
											required="true"/>
			
					<p:remoteCommand name="rcmdAfterSecurityHelper"
						actionListener="#{internationalOperationMgmtBean.validateSecurityHandler}"
						update="flsSecurity,flsSettlement"
						process="@this" onstart="PF('statusDialogCustom').show()"
						oncomplete="PF('statusDialogCustom').hide()" />
				
					<arkHelp:securities-help
						securityCode="#{internationalOperationMgmtBean.internationalOperation.securities.idSecurityCodePk}" />
				</h:panelGrid>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{!(internationalOperationMgmtBean.viewOperationRegister)}">
				<h:panelGrid columns="4">
					<p:inputText value="#{internationalOperationMgmtBean.internationalOperation.securities.idSecurityCodePk}" maxlength="12" id="txtSecurity"
						disabled="true" required="true"> 
					</p:inputText>
					<p:commandButton value="..." disabled="true"/>
					<h:outputText id="txtSecurityDescription" disabled="true"
					value="#{internationalOperationMgmtBean.internationalOperation.securities.description}"/>
					
					<arkHelp:securities-help
						securityCode="#{internationalOperationMgmtBean.internationalOperation.securities.idSecurityCodePk}"/>
				</h:panelGrid>
			</p:outputPanel>
		</td>
	</tr>
		<tr>
			<td><h:outputLabel
					value="#{msgs['otc.operation.security.valnom']}"/>
			</td>
			<td>
				<p:inputNumber value="#{internationalOperationMgmtBean.internationalOperation.securities.currentNominalValue}"
								disabled="true" style="text-align: right;width:200px" maxValue="99999999999999999999" thousandSeparator=","
								decimalSeparator="." />
			</td>
			<td>
				<h:outputLabel value="#{msgs['otc.operation.security.currency']}:"/>
			</td>
			<td>
				<p:inputText
					value="#{internationalOperationMgmtBean.internationalOperation.securities.currencyIsoTypeDescription}" disabled="true"
					rendered="#{not empty internationalOperationMgmtBean.internationalOperation.securities.idSecurityCodePk}"/>
				<p:inputText
					value="" disabled="true"
					rendered="#{empty internationalOperationMgmtBean.internationalOperation.securities.idSecurityCodePk}" />
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['international.instrumentType']} "/>
			</td>
			<td colspan="3">
				<p:selectOneMenu id="idInstType" value="#{internationalOperationMgmtBean.internationalOperation.securities.instrumentType}" disabled="true">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{internationalOperationMgmtBean.instrumentTypeList}" var="val" itemLabel="#{val.value}" itemValue="#{val.code}"/>
				</p:selectOneMenu> <p:message for="idInstType" display="icon"/>
			</td>
		</tr>
</table>
</html>