<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
		$(document).bind('drop dragover', function (e) {
		     e.preventDefault();
		});
	</script>
		<h:outputText value="#{msgs['international.generate']}" styleClass="title-page" />
		<h:form id="frmGenerateInternationalOpr">
			<table width="100%" border="0">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['international.searchCriteria']}">
							<table width="100%">
								<ui:include src="internationalOperationSeparatorTables.xhtml" />
						        <tr>
									<td><h:outputText value="#{msgs['international.lbl.startDate']} (*)" styleClass="required-field"/></td>
									<td>
									  <p:calendar readonlyInput="true"  
									  			  value="#{internationalOperationMgmtBean.internationalOperationFilter.startGenerateDate}" size="30" 
									  			  pattern="#{cons['dateFormat']}" id="idStartDate" showOn="button" navigator="true"
									  			  maxdate="#{internationalOperationMgmtBean.internationalOperationFilter.endGenerateDate}">
										 <p:ajax event="dateSelect" process="@this" update=":frmGenerateInternationalOpr:idEndDate" global="false"/>
									  </p:calendar>
								     </td>
									 <td><h:outputText value="#{msgs['international.lbl.endDate']} (*)" styleClass="required-field"/></td>
									 <td>
										 <p:calendar readonlyInput="true" value="#{internationalOperationMgmtBean.internationalOperationFilter.endGenerateDate}" size="30" 
										 			 pattern="#{cons['dateFormat']}" id="idEndDate" showOn="button" navigator="true" mindate="#{internationalOperationMgmtBean.internationalOperationFilter.startGenerateDate}">
											<p:ajax event="dateSelect" process="@this"  update=":frmGenerateInternationalOpr:idStartDate" global="false"/>
										 </p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="btnBuscar" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
										                 action="#{internationalOperationMgmtBean.searchInternationalOperationGenerateTO}" process="@form" 
										                 update="@form :opnlGenericDialogs"/>
										 <p:commandButton id="btnGenBack" process="@this" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchInternationalOperation" 
										 onclick="if(isModifiedFormForBack('#frmGenerateInternationalOpr'))return false;" ajax="false" immediate="true" />         
									</td>
								</tr>
							</table>
						</p:fieldset>
						</td>
				</tr>  
				<tr>
				  <td>
						<p:panel rendered="#{internationalOperationMgmtBean.internationalOperationGenerate.rowCount >=1}" id="pnlButtons">
						    <p:commandButton id="idGenerate" value="#{gmsgs['btn.generate']}" icon="fa fa-edit" onclick="PF('idSaveDialogW').show()">
						 	</p:commandButton>
						</p:panel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlResult" >
						 <p:panel rendered="#{internationalOperationMgmtBean.internationalOperationGenerate != null}">
						 <p:dataTable var="varInterOpr" value="#{internationalOperationMgmtBean.internationalOperationGenerate}"
					                  rendered="#{(internationalOperationMgmtBean.internationalOperationGenerate.rowCount >=1)}"
								      paginator="true" rows="10"  paginatorPosition="top"
									  currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" 
									  paginatorTemplate="#{gmsgs['dtb.paginator.template']}"  
									  rowsPerPageTemplate="5,10,15"
									  rowIndexVar="rIndx"
									  rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								      rowKey="#{varInterOpr.idInternationalOperationPk}" 
								      emptyMessage="#{msgs['lbl.search.no.result']}"
								      selection="#{internationalOperationMgmtBean.internOperationMultiple}">
						<p:column styleClass="content-center" selectionMode="multiple" style="width:18px"/>
						<p:column style="width:80px;text-align:right">
							<f:facet name="header" >
								<h:outputText value="#{msgs['international.lbl.oprNumber']}" escape="false" styleClass="text-header-table"/>
							</f:facet>
							<h:outputText value="#{varInterOpr.operationNumber}"></h:outputText>
						</p:column>
						<p:column sortBy="#{varInterOpr.registerDate}" styleClass="content-center" headerText="#{msgs['international.lbl.registerDate']}">
							<h:outputText value="#{varInterOpr.registerDate}">
								<f:convertDateTime pattern="#{cons['dateFormat']}" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{varInterOpr.settlementType}" styleClass="content-center" headerText="#{msgs['international.lbl.transferType']}">
							<h:outputText value="#{varInterOpr.idTransferTypeDescription}"/>
						</p:column>
						<p:column sortBy="#{varInterOpr.settlementType}" styleClass="content-center" headerText="#{msgs['international.lbl.settlementType']}">
							<h:outputText value="#{varInterOpr.settlementType}"/>
						</p:column>
						<f:facet name="footer" >  
							   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							         <f:param value="#{internationalOperationMgmtBean.internationalOperationGenerate.rowCount}"/>
							   </h:outputFormat>
					   </f:facet>
					</p:dataTable>
						 <h:outputLabel value="#{gmsgs['lbl.search.no.result']}"  
						                rendered="#{!(internationalOperationMgmtBean.internationalOperationGenerate.rowCount >= 1)}" 
						                style="font-weight:bold;"/>
						 	</p:panel>
						</p:outputPanel>
					</td>
				</tr>
		</table>
		</h:form>
		<p:outputPanel id="pnlDialogsCustomized">
			<p:confirmDialog id="idSaveDialog" message="#{msgs['international.generate.file']}" header="#{gmsgs['lbl.header.alert.confirm']}" severity="alert" widgetVar="idSaveDialogW" closable="false">
				<p:commandButton id="cmbSave" value="#{gmsgs['btn.yes']}" action="#{internationalOperationMgmtBean.generateExcelSheet}" update="pnlDialogsCustomized" oncomplete="PF('idSaveDialogW').hide();"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('idSaveDialogW').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="idGenerateFile" message="#{msgs['international.generate.file.ok']}" header="#{msgs['messages.succesful']}" severity="alert" widgetVar="idGenerateFileW" closable="false">
			<h:form>
				<p:commandButton id="cmbSaveOk" value="#{gmsgs['btn.yes']}" oncomplete="PF('idGenerateFileW').hide();" ajax="false" action="search">
				</p:commandButton>
				<p:commandButton id="seeFileOk" value="#{msgs['international.generate.file.see']}" ajax="false">
					<p:fileDownload value="#{internationalOperationMgmtBean.operationsInternatAttributtes.streamedContent}"/>
				</p:commandButton>
			</h:form>
			</p:confirmDialog>
			<p:confirmDialog id="cnfInterEndTransaction" message="#{gmsgs['message.back']}" header="#{headerMessageView}" closable="false" severity="alert" 
							 widgetVar="cnfwInterEndTransaction">
			<h:form>
			   		<p:commandButton id="cmbSi" value="#{gmsgs['btn.yes']}" process="@this" actionListener="#{internationalOperationMgmtBean.searchBack}"
			   						 oncomplete="PF('cnfwInterEndTransaction').hide()" action="search"/>
			   		<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" onclick="PF('cnfwInterEndTransaction').hide()" type="button"/>
			</h:form>
			</p:confirmDialog>
			<p:confirmDialog id="cnfInterEndTransactionSamePage" message="#{bodyMessageView}" 
				    			closable="false" header="#{headerMessageView}" severity="info" widgetVar="cnfwEndTransactionSamePage" >  
			       <h:form> 
			       	<h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center;">         
				        <p:commandButton id="cmbConfirmTransactionOkSamePage" onclick="PF('cnfwEndTransactionSamePage').hide();" value="#{gmsgs['btn.accept']}" type="button"/> 
			        </h:panelGrid>
			       </h:form>
			</p:confirmDialog>
</p:outputPanel>
	</ui:define>
</ui:composition>
</html>