<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">


<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	<style type="text/css"> 

		.combo {
			width: 200px !important;
			margin-left: 8px !important;
		}

		.combo2 {
			margin-left: 8px !important;
		}

		.caja {
			margin-left: 16px !important;
		}

		.caja2 {
			margin-left: 10px !important
		}

		.caja3 {
			margin-left: 8px !important;
		}

		.caja4 {
			margin-left: 8px !important;
		}
	</style>

		<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmRegisterExcpInvoice');
	});
    </script>

		<h:outputText
			value="#{msgs['register.exception.invoice.legend']}"
			styleClass="title-page" />

<h:form id="frmRegisterExcpInvoice">
	<p:outputPanel>
		<table width="100%">
			<tr>
				<td><p:fieldset legend="#{msgs['serviceData.legend']}">

						<table width="100%" border="0">
						
							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText value="#{msgs['billingService.lbl.tax.facturacion']}"  />
									</div>
								</td>
								<td colspan="2">
									<p:selectOneRadio id="integrateBillId" 
											value="#{invoiceExceptionMgmtBean.inIntegratedBillSelected}"
													  >	
						     	        <f:selectItem itemLabel="#{msgs['rdb.Individual']}" itemValue="#{invoiceExceptionMgmtBean.indNoIntegrated}" id="idRadioItemOneB"/>
									    <f:selectItem itemLabel="#{msgs['rdb.Agrupada']}" itemValue="#{invoiceExceptionMgmtBean.indIntegrated}" id="idRadioItemTwoB"/> 
									    <p:ajax event="change" partialSubmit="false"
									    	update="@this helperBilling frmRegisterExcpInvoice" 
									    	listener="#{invoiceExceptionMgmtBean.updateComponentIndIntegratedBill}"> 
									    </p:ajax>
									</p:selectOneRadio> 
								</td>
							</tr>
							<tr>
								<td width="25%"><div class="caja">
										<h:outputText
											value="#{msgs['billingService.lbl.service.code.name']} (*)"
											styleClass="required-field" />
									</div></td>
								<td colspan="2" width="50%">
									<div class="caja4">
										<ark:billingService id="helperBilling"
											billingService="#{invoiceExceptionMgmtBean.billingService}"
											actionRemote="#{invoiceExceptionMgmtBean.updateSelectedCombo}"
											enableActionRemote="true"
											indIntegrated="#{invoiceExceptionMgmtBean.inIntegratedBillSelected}"
											validatorName="com.pradera.commons.view.validators.InputTextValidator"
											required="true" />
									</div>

								</td>
								<td width="25%"></td>
							</tr>
							<tr></tr>
							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText
											value="#{msgs['billingService.lbl.service.client']}" />
									</div>
								</td>
								<td width="25%"><p:inputText disabled="true"
										styleClass="caja3" style="width:250px"
										value="#{invoiceExceptionMgmtBean.billingService.descriptionClientServiceType}">
									</p:inputText></td>
								<td width="25%"></td>
								<td width="25%"></td>
							</tr>
							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.collection.institution']}" />
									</div>
								</td>
								<td width="25%">
								<p:outputPanel autoUpdate="false">
										<p:inputText disabled="true" styleClass="caja3"
											style="width:250px"
											value="#{invoiceExceptionMgmtBean.billingService.descriptionCollectionEntity}">
										</p:inputText>
								</p:outputPanel></td>
								<td width="25%"></td>
								<td width="25%"></td>
							</tr>
							

							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.service.type']}" />
									</div>
								</td>
								<td width="28%"><p:inputText id="iptCollectionForm"
										readonly="true" disabled="true" styleClass="caja3"
										style="width:250px"
										value="#{invoiceExceptionMgmtBean.billingService.descriptionServiceType}" />
								</td>
							</tr>
							<tr>
								<td>
								<p:outputPanel id="btnAddServiceClustered">
									<p:commandButton id="addNewServicesClustered" 
											 value="#{msgs['btn.add']}"
											 rendered="#{(invoiceExceptionMgmtBean.inIntegratedBillSelected==1) and 
											 			( (invoiceExceptionMgmtBean.billingService.serviceCode!= null) and 
											 			( invoiceExceptionMgmtBean.billingService.serviceCode.length() >0 ) )}" 
											 icon="ui-add"
											 process="@this"
											 update="panelServiceClustered @form"
											 actionListener="#{invoiceExceptionMgmtBean.addBillingToClustered}" 
						 			/>
					 			</p:outputPanel>
								</td>
							</tr>
							
							<tr>
								<td colspan="4">
								
								<p:fieldset id="panelServiceClustered" legend="#{msgs['lbl.list.service.clustered']}" 
										 rendered="#{(invoiceExceptionMgmtBean.billingServiceDataModel.rowCount >= 1)}">
								<p:dataTable id="dtbServiceClustered"
											var="serviceClustered"
											value="#{invoiceExceptionMgmtBean.billingServiceDataModel}"									
											paginator="true" rows="5" 
											paginatorPosition="top"
											rowKey="#{serviceClustered}"
											
											currentPageReportTemplate="Page {currentPage} de {totalPages}" 
											paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"
											rowsPerPageTemplate="5,10,15" >
	
					
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['billingService.lbl.service.code.name']}" />
												</f:facet>
												<h:outputText value="#{serviceClustered.serviceCode}" />
											</p:column>
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['billingService.lbl.service.name']}" />
												</f:facet>
												<h:outputText value="#{serviceClustered.serviceName}" />
											</p:column>
											<p:column style="text-align:center">
												<f:facet name="header">
													<h:outputText
														value="#{msgs['billingService.lbl.collection.institution']}" />
												</f:facet>
												<h:outputText value="#{serviceClustered.descriptionCollectionEntity}" />
											</p:column>
											<p:column style="text-align:center">
												<f:facet name="header">
													<h:outputText
														value="#{msgs['billingService.lbl.collection.service.type']}" />
												</f:facet>
												<h:outputText value="#{serviceClustered.descriptionServiceType}" />
											</p:column>
											<p:column style="text-align:center">
											<f:facet name="header">
												<h:outputText
													value="#{msgs['rate.lbl.percentage.remove.temp']}" />
											</f:facet>
											<p:commandButton id="removeEntityCollection" icon="ui-remove"
												actionListener="#{invoiceExceptionMgmtBean.serviceRemoveTmp}"
												update="@form"
												process="@this">
												<f:attribute name="removeName" value="#{serviceClustered}" />
											</p:commandButton>
										</p:column>
											<f:facet name="footer">	
												<div style="width:100%; text-align:left">								
												<h:outputLabel value="#{invoiceExceptionMgmtBean.billingServiceDataModel.rowCount} #{msgs['lbl.results.service']}" 
												style="font-weight:bold;"/>
												</div>
											</f:facet>	
																				
								</p:dataTable>
								</p:fieldset>	
								
								</td>
							</tr>

							<tr>
							
							<!-- Selected Radio Button -->
							<td width="25%">
							<div class="caja">
								<h:outputText value="#{msgs['user.lbl.typeException']}" />
							</div>
							</td>   			
								<td width="25%">
									<p:selectOneRadio id="rbtTipeException" 
									value="#{invoiceExceptionMgmtBean.exceptionInvoiceGenerationTo.typeException}" >			                                                  
									
									<f:selectItems value="#{invoiceExceptionMgmtBean.listException}"
											  var="exceptionList"
											  itemLabel="#{exceptionList.parameterName}" 
											  itemValue="#{exceptionList.parameterTablePk}"  />
									<p:ajax update="@this" 
											event="valueChange" 
											listener="#{invoiceExceptionMgmtBean.validateTypeException}" 
											process="@this" />	
									</p:selectOneRadio>
							</td>
								
							<p:outputPanel id="indNumParticipant" rendered="#{invoiceExceptionMgmtBean.showRdbNum}">
								<td width="10%"><h:outputText value="#{msgs['lbl.incator.rule']}" /></td>
								<td width="20%">
									<p:selectOneRadio value="#{invoiceExceptionMgmtBean.exceptionInvoiceGenerationTo.indSelectAll}" >	
									<f:selectItem itemLabel="#{msgs['rdb.One']}" itemValue="#{invoiceExceptionMgmtBean.rdbOne}" id="idRBtnOneParticipant"/>
									<f:selectItem itemLabel="#{msgs['rdb.All']}" itemValue="#{invoiceExceptionMgmtBean.rdbAll}" id="idRBtnTwoParticipant"/> 
									<p:ajax event="change" partialSubmit="false"
									update="outPnlEntityCollection outPnlCollectionPeriod"
									listener="#{invoiceExceptionMgmtBean.updateRules}"> </p:ajax>
									</p:selectOneRadio> 
								</td>
							</p:outputPanel> 
								
							</tr>


						</table>
						<p:spacer height="1px"></p:spacer>
					</p:fieldset></td>
			</tr>
			<tr>
				<td>
				
				
				
				
				<!--PANEL DE LAS ENTIDADES DE COBRO-->
				<p:outputPanel id="outPnlEntityCollection">
				<p:fieldset legend="#{msgs['billingService.lbl.collection.institution']}" 
							styleClass="clsEntityCollection"
							rendered="#{invoiceExceptionMgmtBean.disableEntityCollectionPanelVisible}" >
				<table>
					<tr>
						<td colspan="4">
							<p:outputPanel id="outPnlHolderEntityCollection">
								<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableHolderECVisible}">
									<table width="100%" border="0">
										<tr>
											<td width="25%"><div class="caja">
													<h:outputText value="#{msgs['user.lbl.titular']} (*)"
														styleClass="required-field" />
												</div></td>
											<td colspan="2">
												<div class="caja4">
													<h:panelGrid columns="3" cellspacing="0"
														cellpadding="0">
														<hark:holderHelper id="holderHelperId"
															holder="#{invoiceExceptionMgmtBean.holderSelected}"
															validatorName="com.pradera.commons.view.validators.InputTextValidator"
															required="true" label="#{msgs['user.lbl.titular']}"
															remoteListener="updateFieldHolder()" />
														<p:remoteCommand name="updateFieldHolder"
															process="@this"
															update=":frmRegisterExcpInvoice:holderHelperId:outpnlHolder msgHolder" />
														<p:message
															for=":frmRegisterExcpInvoice:holderHelperId:holderHelperId"
															display="icon" id="msgHolder" />
													</h:panelGrid>
												</div>
											</td>
											<td width="25%"><f:attribute name="codeHolder"
													value="#{invoiceExceptionMgmtBean.holderSelected.idHolderPk}" /></td>
										</tr>
									</table>
								</p:outputPanel>
							</p:outputPanel></td>
					</tr>
					<tr>
						<td width="20%">
							<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableParticipantECVisible}">
								<div class="caja">
									<h:outputText value="#{msgs['user.lbl.participante']} (*)"
										styleClass="required-field" />
								</div>
							</p:outputPanel></td>
						<td width="20%"><p:outputPanel id="outPnlParticipantEntityCollection">
								<p:outputPanel
									rendered="#{invoiceExceptionMgmtBean.disableParticipantECVisible}">

									<div class="combo">
										<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
											<p:selectOneMenu id="cmbParticipantEntityCollectionData"
												style="width:450px;"
												filter="true" 
												filterMatchMode="contains"
												label="#{msgs['user.lbl.participante']}"
												value="#{invoiceExceptionMgmtBean.participantSelected}"
												disabled="false">
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
												<f:selectItems
													value="#{invoiceExceptionMgmtBean.listClientParticipant}"
													var="participantList"
													itemLabel="#{participantList.description}"
													itemValue="#{participantList.idParticipantPk}" />
												<f:validator
													validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
												<p:ajax event="change"
													update="msgsParticipantId @this" />
											</p:selectOneMenu>
											<p:message for="cmbParticipantEntityCollectionData"
												display="icon" id="msgsParticipantId" />
										</h:panelGrid>
									</div>
								</p:outputPanel>
							</p:outputPanel></td>
						<td width="25%"></td>
					</tr>
					<tr>
						<td colspan="4">
						<p:outputPanel
								id="outPnlIssuerEntityCollectionData">
								<p:outputPanel
									rendered="#{invoiceExceptionMgmtBean.disableIssuerECVisible}">
									<table width="100%" border="0">
										<tr>
											<td width="25%">
												<div class="caja">
													<h:outputText value="#{msgs['user.lbl.emisor']} (*)"
														styleClass="required-field" />
												</div>
											</td>
											<td colspan="2">
												<div class="caja4">
													<h:panelGrid columns="3" cellspacing="0"
														cellpadding="0">
														<hark:issuerHelper id="issuerHelperId"
															issuer="#{invoiceExceptionMgmtBean.issuer}"
															validatorName="com.pradera.commons.view.validators.InputTextValidator"
															required="true" label="#{msgs['user.lbl.emisor']}"
															remoteListener="updateFieldIssuer()" />
														<p:remoteCommand name="updateFieldIssuer"
															update=":frmRegisterExcpInvoice:issuerHelperId:outpnlIssuer msgIssuer"
															process="@this" />
														<p:message
															for=":frmRegisterExcpInvoice:issuerHelperId:issuerHelperId"
															display="icon" id="msgIssuer" />
													</h:panelGrid>
												</div>
											</td>
										</tr>
									</table>
								</p:outputPanel>
							</p:outputPanel></td>
					</tr>
					<tr>
					<td>
					<p:commandButton id="addNewEntityCollection" value="#{msgs['btn.add']}" 
											 icon="ui-add"
											 process="@(.clsEntityCollection)"
											 update="outPnlDialogs @form"
											 actionListener="#{invoiceExceptionMgmtBean.beforeAddEntityCollection}" 
					 />
					</td>
					</tr>
					<tr><td colspan="4">
						 <p:fieldset id="panelEntityCollection" legend="#{msgs['lbl.entity.collections']}" 
									 rendered="#{(invoiceExceptionMgmtBean.dataModelBillingEntityExceptionTo.rowCount >= 1)}">
							<p:dataTable id="dtbEntityCollectionConsult"
										var="entityException" 
										value="#{invoiceExceptionMgmtBean.dataModelBillingEntityExceptionTo}"									
										paginator="true" rows="5" 
										paginatorPosition="top"
										rowKey="#{entityException}"
										selection="#{invoiceExceptionMgmtBean.exceptionInvoiceGenerationTo.billingEntityExceptionToSelected}"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
										rowsPerPageTemplate="5,10,15" >

				
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.codigo']}" />
											</f:facet>
											<h:outputText value="#{entityException.descriptionEntityCode}" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['billingService.lbl.collection.institution']}" />
											</f:facet>
											<h:outputText value="#{entityException.descriptionEntityCollection}" />
										</p:column>
										<p:column style="text-align:center">
											<f:facet name="header">
												<h:outputText
													value="#{msgs['rate.lbl.percentage.remove.temp']}" />
											</f:facet>
											<p:commandButton id="removeEntityCollection" icon="ui-remove"
												
												actionListener="#{invoiceExceptionMgmtBean.entityRemoveTmp}"
												update="@form"
												process="@this">
												<f:attribute name="removeName" value="#{entityException}" />
											</p:commandButton>
										</p:column>
										
										<f:facet name="footer">	
											<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{invoiceExceptionMgmtBean.dataModelBillingEntityExceptionTo.rowCount} #{msgs['lbl.entity.collections']}" 
											style="font-weight:bold;"/>
											</div>
										</f:facet>	
																			
							</p:dataTable>
							</p:fieldset>
						</td>
					</tr>
					</table>
				</p:fieldset>
				</p:outputPanel>
				</td>
				
				
				
				
				
			</tr>
			<tr>
				<td>
				
				
				
				
				<!-- PANEL DE LOS PERIODOS DE COBRO-->
				<p:outputPanel id="outPnlCollectionPeriod">
				<p:fieldset legend="#{msgs['billingService.lbl.collection.period']}"
							rendered="#{invoiceExceptionMgmtBean.disableCollectionPeriodPanelVisible}">
						
						<table align="left">
							<tr>
								<td>
									<h:outputText value="#{msgs['billingService.lbl.collection.period']} (*)" styleClass="required-field" />
								</td>
								<td>
								<h:panelGrid columns="2">
										<p:selectOneMenu id="collectionPeriodId"  style="width:250px" 
										label="#{msgs['billingService.lbl.collection.period']}" 
										value="#{invoiceExceptionMgmtBean.collectionPeriodSelected}"
										disabled="#{invoiceExceptionMgmtBean.collectionPeriodDisable}"
										filter="true" filterMatchMode="contains">  
								          <f:selectItem itemLabel="#{msgs['cbo.opc.select']}"/>
											<f:selectItems value="#{invoiceExceptionMgmtBean.listCollectionPeriod}" var="collectionPeriod"
											              itemLabel="#{collectionPeriod.parameterName}" itemValue="#{collectionPeriod.parameterTablePk}"/>
											<p:ajax event="change" update="msgsCollectionPeriodId @this outPnlDailyCollectionPeriod
													outPnlWeeklyCollectionPeriod outPnlMonthlyCollectionPeriod
													outPnlQuarterlyCollectionPeriod outPnlYearlyCollectionPeriod"
													listener="#{invoiceExceptionMgmtBean.updateBillingSchedule}"/>
											
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />              										
							            </p:selectOneMenu>	  
							    	<p:message for="collectionPeriodId" display="icon"  id="msgsCollectionPeriodId"/>
							    	</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td colspan="4">
								<!--Diario Daily-->
								<p:outputPanel id="outPnlDailyCollectionPeriod">
										<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableDailyCPVisible}">
										
										</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<tr>
								<td colspan="4">
								<!--Semanal  Weekly-->
								<p:outputPanel id="outPnlWeeklyCollectionPeriod">
										<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableWeeklyCPVisible}">
										<table>
										<tr>
											<td>
											<h:outputText value="#{msgs['lbl.day.of.week']} (*)" 
													styleClass="required-field" />
											</td>
											<td>
											<h:panelGrid columns="2">									
											<p:selectOneMenu id="cboDayOfWeek" 
												value="#{invoiceExceptionMgmtBean.billingScheduleTo.dayOfWeek}"
												required="true" filter="true" filterMatchMode="contains">
												<f:selectItem itemLabel="#{msgs['lbl.day.monday']}" itemValue="2"/>
												<f:selectItem itemLabel="#{msgs['lbl.day.tuesday']}" itemValue="3"/>					
												<f:selectItem itemLabel="#{msgs['lbl.day.wednesday']}" itemValue="4"/>
												<f:selectItem itemLabel="#{msgs['lbl.day.thursday']}" itemValue="5"/>
												<f:selectItem itemLabel="#{msgs['lbl.day.friday']}" itemValue="6"/>
												<f:selectItem itemLabel="#{msgs['lbl.day.saturday']}" itemValue="7"/>
												<f:selectItem itemLabel="#{msgs['lbl.day.sunday']}" itemValue="1"/>					
											</p:selectOneMenu>												
											
											<p:message id="idErrtxtDayOfWeek" for="cboDayOfWeek" display="icon"/>
											</h:panelGrid>
										</td>
										</tr>
										</table>
										</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<tr>
								<td colspan="4">
								<!--Mensual Monthly-->
								<p:outputPanel id="outPnlMonthlyCollectionPeriod">
										<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableMonthlyCPVisible}">
										<table>
										<tr>
											<td>
											<h:outputText value="#{msgs['lbl.day.of.month']} (*)" 
														styleClass="required-field" />
											</td>
											<td>
											<h:panelGrid columns="2">
																					
											<p:selectOneMenu id="cboDayOfMonth" 
												value="#{invoiceExceptionMgmtBean.billingScheduleTo.dayOfMonth}"
												disabled="#{invoiceExceptionMgmtBean.boolEndOfMonth}"
												required="true" filter="true" filterMatchMode="contains">
												<f:selectItem itemLabel="1" itemValue="1"/>
												<f:selectItem itemLabel="2" itemValue="2"/>
												<f:selectItem itemLabel="3" itemValue="3"/>
												<f:selectItem itemLabel="4" itemValue="4"/>
												<f:selectItem itemLabel="5" itemValue="5"/>
												<f:selectItem itemLabel="6" itemValue="6"/>
												<f:selectItem itemLabel="7" itemValue="7"/>
												<f:selectItem itemLabel="8" itemValue="8"/>
												<f:selectItem itemLabel="9" itemValue="9"/>
												<f:selectItem itemLabel="10" itemValue="10"/>
												<f:selectItem itemLabel="11" itemValue="11"/>
												<f:selectItem itemLabel="12" itemValue="12"/>
												<f:selectItem itemLabel="13" itemValue="13"/>
												<f:selectItem itemLabel="14" itemValue="14"/>
												<f:selectItem itemLabel="15" itemValue="15"/>
												<f:selectItem itemLabel="16" itemValue="16"/>
												<f:selectItem itemLabel="17" itemValue="17"/>
												<f:selectItem itemLabel="18" itemValue="18"/>
												<f:selectItem itemLabel="19" itemValue="19"/>
												<f:selectItem itemLabel="20" itemValue="20"/>
												<f:selectItem itemLabel="21" itemValue="21"/>
												<f:selectItem itemLabel="22" itemValue="22"/>
												<f:selectItem itemLabel="23" itemValue="23"/>
												<f:selectItem itemLabel="24" itemValue="24"/>
												<f:selectItem itemLabel="25" itemValue="25"/>
												<f:selectItem itemLabel="26" itemValue="26"/>
												<f:selectItem itemLabel="27" itemValue="27"/>
												<f:selectItem itemLabel="28" itemValue="28"/>
												<f:selectItem itemLabel="29" itemValue="29"/>
												<f:selectItem itemLabel="30" itemValue="30"/>
												<f:selectItem itemLabel="31" itemValue="31"/>
											</p:selectOneMenu>												
											
											<p:message id="idErrtxtDayOfMonth" for="cboDayOfMonth" display="icon"/>
											</h:panelGrid>
											</td>
											<td>
											<h:panelGrid columns="2">	
												<p:selectBooleanCheckbox id="chkDateBecoming" 
													 itemLabel="#{msgs['lbl.day.end.of.month']}"
													 value="#{invoiceExceptionMgmtBean.boolEndOfMonth}">
													 
													<p:ajax update="cboDayOfMonth"  global="false"
															partialSubmit="true"
															listener="#{invoiceExceptionMgmtBean.checkEndMonth}" />						 
												</p:selectBooleanCheckbox>
											</h:panelGrid>
											</td>
											
										</tr>
										</table>
										
										</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
						
							<tr>
								<td colspan="4">
								<!--Trimestral Quarterly-->
								<p:outputPanel id="outPnlQuarterlyCollectionPeriod">
										<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableQuarterlyCPVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<tr>
										<td width="25%">
										<div>
											<h:outputText value="Mes del año" /></div></td>
										<td colspan="2">
										<p:calendar id="cldQuarterly" size="10"
														readonlyInput="true"  
														navigator="true"
														required="true"
														requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
														maxlength="10"  
														value="#{invoiceExceptionMgmtBean.initialDate}"
														pattern="#{msgs['dateFormat']}" 
														showOn="button" >
												<p:ajax event="dateSelect" update="cldQuarterly" process="@this" global="false"/>
												<p:ajax event="change" update="cldQuarterly" process="@this"/>
										</p:calendar>
										</td>
										</tr>
										</table>
										</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<tr>
								<td colspan="4">
								<!--Anual Yearly-->
								<p:outputPanel id="outPnlYearlyCollectionPeriod">
										<p:outputPanel rendered="#{invoiceExceptionMgmtBean.disableYearlyCPVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="Mes del año" /></div></td>
								<td colspan="2">
								<p:calendar id="cldYearly" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{invoiceExceptionMgmtBean.initialDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="cldYearly" process="@this" global="false"/>
										<p:ajax event="change" update="cldYearly" process="@this"/>
								</p:calendar>
								</td>
								</tr>
								</table>
										</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<tr>
								<td align="center" colspan="4">
								<p:commandButton id="addNewException" value="#{msgs['btn.add']}" 
										 icon="ui-add"
										 process="outPnlCollectionPeriod"
										 update="outPnlDialogs @form"
										 actionListener="#{invoiceExceptionMgmtBean.beforeAddExceptionInvoice}" 
										  />
								</td>
							</tr>
							<tr>
							
							<td>
							
							</td>
							</tr>
							
						</table>
					</p:fieldset>
					</p:outputPanel></td>
			</tr>
			
			
			
			
			
			
			
			<tr>
			<td>
			<p:outputPanel id="panelExpections">
			<p:fieldset id="panelExcpTemp" legend="#{msgs['search.exception.invoice.legend']}" rendered="#{(invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount >= 1)}">
							<p:dataTable id="dtbResultConsult"
										var="excpInvoiceConsult" 
										value="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel}"									
										paginator="true" rows="5" 
										paginatorPosition="top"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
										rowKey="#{rate.idServiceRatePk}"
										rowsPerPageTemplate="5,10,15" >

										<p:column style="width:30px" styleClass="content-center" escape="false">
											<f:facet name="header">
												<h:outputText value="#{msgs['billingService.lbl.service.code']}" escape="false"/>  
											</f:facet>	   								
											<h:outputText value="#{excpInvoiceConsult.billingService.serviceCode}"  />
										</p:column>				
																																			  
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['user.lbl.typeException']}" />
											</f:facet>
											<h:outputText value="#{excpInvoiceConsult.descriptionTypeException}" />
										</p:column>
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['billingService.lbl.collection.period']}" />
											</f:facet>
											<h:outputText value="#{excpInvoiceConsult.billingSchedule.descriptionCollectionPeriod}" />
										</p:column>									
												 
										<f:facet name="footer">	
											<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount} #{msgs['search.exception.invoice.legend']}" 
											style="font-weight:bold;"/>
											</div>
										</f:facet>	
																			
							</p:dataTable>
							</p:fieldset>
							</p:outputPanel>
			</td>
			</tr>
			<tr>
								<td align="center">
								
								<p:commandButton
										id="cmbSave" value="#{msgs['btn.save']}" icon="fa fa-save"
										update="outPnlDialogs @form :frmRegisterExcpInvoice:helperBilling"
										process="@form :frmRegisterExcpInvoice:helperBilling"
										actionListener="#{invoiceExceptionMgmtBean.beforeRegistrationListenerExcpInvoice}" />
								<p:spacer width="20"></p:spacer> 
								<p:commandButton
										process="@this" immediate="true"
										value="#{msgs['btn.clean']}" icon="fa fa-trash"
										update="@form helperBilling"
										onclick="return showCleanConfirmDialog(this);"
										actionListener="#{invoiceExceptionMgmtBean.cleanRegisterExcpInvoice}"
										oncomplete="PF('cnfwClean').hide();" />
								<p:spacer width="20"></p:spacer>
								<p:commandButton id="cmbBackUpdate"
										value="#{msgs['btn.back']}" icon="fa fa-undo"
										action="#{invoiceExceptionMgmtBean.goTo('searchExceptionInvoice')}"
										immediate="true" process="@this" ajax="false"
										onclick="if(isModifiedFormForBack('#frmRegisterExcpInvoice'))return false;" />
								</td>

							</tr>
		</table>

		<p:outputPanel id="outPnlDialogs">
		<p:confirmDialog widgetVar="cnfwAddEntityCollection"
				id="cnfIdAddEntityCollectionSave" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" 
				visible="false">
				<p:commandButton value="#{msgs['btn.yes']}"
					oncomplete="PF('cnfwAddEntityCollection').hide();"
					process="@this" 
					update="outPnlEntityCollection"
					actionListener="#{invoiceExceptionMgmtBean.addEntityCollection}" />
				<p:commandButton value="#{msgs['btn.no']}"
					process="@this"
					oncomplete="PF('cnfwAddEntityCollection').hide();"
					update="outPnlEntityCollection" />
			</p:confirmDialog>
		
			<p:confirmDialog widgetVar="cnfwAddExcpInvoiceSave"
				id="cnfIdAddExcpInvoiceSave" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" 
				visible="false">
				<p:commandButton value="#{msgs['btn.yes']}"
					oncomplete="PF('cnfwAddExcpInvoiceSave').hide();"
					process="@this" 
					update="@form,frmRegisterExcpInvoice"
					actionListener="#{invoiceExceptionMgmtBean.addExceptionInvoice}" />
				<p:commandButton value="#{msgs['btn.no']}"
					oncomplete="PF('cnfwAddExcpInvoiceSave').hide();"
					process="@this" 
					update="@form,frmRegisterExcpInvoice" />
			</p:confirmDialog>
		
			<p:confirmDialog widgetVar="cnfwExcpInvoiceSave"
				id="cnfIdExcpInvoiceSave" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" 
				visible="false">
				<p:commandButton value="#{msgs['btn.yes']}"
					oncomplete="PF('cnfwExcpInvoiceSave').hide();"
					process="@this"
					update="@form,frmRegisterExcpInvoice"
					actionListener="#{invoiceExceptionMgmtBean.saveExcpInvoice}" />
				<p:commandButton value="#{msgs['btn.no']}"
					process="@this"
					oncomplete="PF('cnfwExcpInvoiceSave').hide();"
					update="@form,frmRegisterExcpInvoice" />
			</p:confirmDialog>
		</p:outputPanel>
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog"
			message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWEndDialog').hide();"
				actionListener="#{invoiceExceptionMgmtBean.hideDialogsFromNew}"
				action="#{invoiceExceptionMgmtBean.goTo('searchExceptionInvoice')}"
				immediate="true" value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<p:confirmDialog widgetVar="cnfWCollectionDialog"
			id="cnfIdCollectionDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWCollectionDialog').hide();"
				actionListener="#{invoiceExceptionMgmtBean.cleanRegisterExcpInvoice}"
				update="@form helperBilling" immediate="true"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<p:confirmDialog widgetVar="cnfWCollectionDialogRollBack"
			id="cnfIdCollectionDialogRollBack" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWCollectionDialogRollBack').hide();"
				actionListener="#{invoiceExceptionMgmtBean.cleanRegisterExcpInvoice}"
				update="@form helperBilling" immediate="true"
				process="@this"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<!-- popup para propositos generales de mensajes generales -->
		<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog"
			message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" severity="alert">
			<p:commandButton onclick="PF('warningDialog').hide();"
				process="@this"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>
	</p:outputPanel>
</h:form>

	</ui:define>
</ui:composition>
</html>
