<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
    <ui:define name="body">

        <script type="text/javascript">
            $(window).load(function () {
                setAllHolidays('${accreditationCertificationBean.allHolidays}');
            });
        </script>


        <h:outputText value="#{msgs['search.exception.invoice.legend']}"
                      styleClass="title-page"/>

        <h:form id="frmSearchExpInvoice">


            <table width="100%" border="0">
                <tr>
                    <td align="right">
                        <p:commandButton value="#{msgs['btn.new.service']}" icon="fa fa-edit" immediate="true"
                                         actionListener="#{invoiceExceptionMgmtBean.loadRegistrationPage}"
                                         action="newExceptionInvoiceMgmt"
                                         rendered="#{userPrivilege.userAcctions.register}"
                        />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p:fieldset legend="#{msgs['serviceData.legend']}">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="25%"><h:outputText
                                            value="#{msgs['billingService.lbl.service.code.name']}"/></td>
                                    <td width="50%">
                                        <ark:billingService id="helperBilling"
                                                            billingService="#{invoiceExceptionMgmtBean.billingService}"
                                        />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%"><h:outputText value="#{msgs['lbl.source.state']}"/></td>
                                    <td width="25%">
                                        <p:selectOneMenu filter="true" filterMatchMode="contains" id="cmbStateSourceId"
                                                         style="width:250px;"
                                                         value="#{invoiceExceptionMgmtBean.exceptionInvoiceGenerationTo.exceptionState}">
                                            <f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
                                            <f:selectItems value="#{invoiceExceptionMgmtBean.listExceptionStatus}"
                                                           var="parameterList"
                                                           itemLabel="#{parameterList.description}"
                                                           itemValue="#{parameterList.parameterTablePk}"/>
                                        </p:selectOneMenu>
                                    </td>
                                    <td width="50%"></td>
                                </tr>


                                <tr>
                                    <td align="center" colspan="4">
                                        <p:commandButton id="cmbSearch"
                                                         value="#{msgs['btn.search']}"
                                                         icon="fa fa-search"
                                                         actionListener="#{invoiceExceptionMgmtBean.searchExceptionInvoice}"
                                                         update="@form"/>

                                        <p:spacer width="20"></p:spacer>

                                        <p:commandButton id="cmbClean"
                                                         value="#{msgs['btn.clean']}"
                                                         icon="fa fa-trash"
                                                         process="@this"
                                                         actionListener="#{invoiceExceptionMgmtBean.cleanExceptionInvoice}"
                                                         update="@form"/>
                                        <p:spacer width="20"></p:spacer>

                                    </td>
                                </tr>
                            </table>
                        </p:fieldset>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p:outputPanel autoUpdate="true" id="panelPrivileges">
                            <p:outputPanel
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount >= 1}">
                                <arkp:privileges id="praderaPrivileges"


                                                 actionListenerModify="#{invoiceExceptionMgmtBean.validatebeforeModifyException}"

                                                 actionListenerDelete="#{invoiceExceptionMgmtBean.beforeDeletedException}"

                                                 actions="#{userPrivilege.userAcctions}"
                                                 renders="#{userPrivilege.privilegeComponent}"


                                />
                            </p:outputPanel>
                        </p:outputPanel>
                    </td>
                </tr>


                <tr>
                    <td colspan="4">
                        <p:fieldset
                                legend="#{msgs['search.exception.invoice.legend']}"
                                rendered="#{(invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount >= 1)}">
                            <p:outputPanel id="pnlResultInvoice">
                                <p:dataTable id="dtbResultInvoice"
                                             var="exception"
                                             value="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel}"
                                             paginator="true" rows="5"
                                             paginatorPosition="top"
                                             currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
                                             paginatorTemplate="#{msgs['dtb.paginator.template']}"
                                             rowsPerPageTemplate="5,10,15"
                                             rowIndexVar="rIndx"
                                             rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
                                             selection="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection}"
                                             rowKey="#{exception.idExceptionInvoicePk}"
                                >

                                    <p:column selectionMode="single" style="width:18px" id="idClmSelectionMode"/>

                                    <p:column sortBy="#{exception.idExceptionInvoicePk}" styleClass="content-center">
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['lbl.codigo']}"/>
                                        </f:facet>
                                        <p:commandLink process="@this" value="#{exception.idExceptionInvoicePk}"
                                                       update=":formMemoryRate:cnIdFlagConsult :formMemoryRate"
                                                       actionListener="#{invoiceExceptionMgmtBean.loadDetailException(exception)}">
                                        </p:commandLink>
                                    </p:column>
                                    <p:column sortBy="#{exception.billingService.serviceCode}">
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['lbl.service.code']}"/>
                                        </f:facet>
                                        <h:outputText value="#{exception.billingService.serviceCode}"/>
                                    </p:column>

                                    <p:column sortBy="#{exception.descriptionTypeException}">
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['monitor.system.process.lbl.tipe.excepcion']}"/>
                                        </f:facet>
                                        <h:outputText value="#{exception.descriptionTypeException}"/>
                                    </p:column>

                                    <p:column sortBy="#{exception.billingSchedule.descriptionCollectionPeriod}">
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['billingService.lbl.collection.period']}"/>
                                        </f:facet>
                                        <h:outputText value="#{exception.billingSchedule.descriptionCollectionPeriod}"/>
                                    </p:column>


                                    <p:column sortBy="#{exception.descriptionExceptionState}"
                                              styleClass="content-center">
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['lbl.statements.state']}"/>
                                        </f:facet>
                                        <h:outputText value="#{exception.descriptionExceptionState}"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <div style="width:100%; text-align:left" id="idDivRowCount">
                                            <h:outputLabel
                                                    value="#{msgs['lbl.results.exception']} #{invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount}"
                                                    style="font-weight:bold;"/>
                                        </div>
                                    </f:facet>

                                </p:dataTable>
                            </p:outputPanel>
                        </p:fieldset>
                        <p:fieldset legend="#{msgs['search.exception.invoice.legend']}"
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel!= null and !(invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount >= 1) }">
                            <h:outputLabel
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceDataModel!= null and !(invoiceExceptionMgmtBean.exceptionInvoiceDataModel.rowCount >= 1) }"
                                    value="#{msgs['lbl.search.no.result']}" style="font-weight:bold;"/>
                        </p:fieldset>
                    </td>
                </tr>
            </table>

            <p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
                             header="#{headerMessageView}" closable="false" severity="alert">
                <p:commandButton onclick="PF('cnfWDialogMessage').hide();"
                                 value="#{msgs['btn.accept']}"
                                 immediate="true" process="@this" global="false"/>
            </p:confirmDialog>


        </h:form>


        <p:outputPanel id="opnlDialogs">
            <h:form id="search_popups">

                <p:confirmDialog widgetVar="cnfWConfirmSourceDeleted" id="cnfIdDeleted" message="#{bodyMessageView}"
                                 header="#{headerMessageView}"
                                 closable="false">
                    <p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfWConfirmSourceDeleted').hide();"
                                     update=":frmSearchExpInvoice @form"
                                     action="#{invoiceExceptionMgmtBean.deleteException}" process="@this"/>
                    <p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfWConfirmSourceDeleted').hide();"
                                     process="@this"/>
                </p:confirmDialog>

                <!-- popup any exception to delete  -->
                <p:confirmDialog widgetVar="cnfWConfirmDialogDelete" id="cnfIdConfirmDialogDelete"
                                 message="#{bodyMessageView}"
                                 header="#{headerMessageView}" closable="false" severity="alert">
                    <p:commandButton
                            process="@this"
                            onclick="PF('cnfWConfirmDialogDelete').hide();"
                            value="#{msgs['btn.accept']}"
                            type="button"
                            update=":frmSearchExpInvoice:pnlResultInvoice"/>
                </p:confirmDialog>
            </h:form>

        </p:outputPanel>


        <!--  POP UP - CONSULT DETAIL  -->
        <h:form id="formMemoryRate">
            <p:dialog widgetVar="cnfwFlagConsultMemory" id="cnIdFlagConsult" width="75%"
                      header="#{msgs['detail.exception.invoice.legend']}"
                      resizable="false" draggable="true" closable="false" modal="true">
                <table width="100%">
                    <tr>
                        <td>
                            <h:outputText value="#{msgs['lbl.type.exception']}"/>
                        </td>
                        <td>
                            <p:inputText
                                    disabled="true"
                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.descriptionTypeException}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="#{msgs['billingService.lbl.collection.institution']}"/>
                        </td>
                        <td>
                            <p:inputText
                                    disabled="true"
                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.descriptionEntityCollection}"/>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <p:fieldset id="idFldHeadRate" legend="#{msgs['billingService.lbl.collection.period']}">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <h:outputText value="#{msgs['billingService.lbl.collection.period']}"/>
                                        </td>
                                        <td>
                                            <p:inputText
                                                    disabled="true"
                                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.billingSchedule.descriptionCollectionPeriod}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputText value="#{msgs['lbl.day.of.month']}"/>
                                        </td>
                                        <td>
                                            <p:inputText
                                                    disabled="true"
                                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.billingSchedule.dayOfMonth}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputText value="#{msgs['lbl.day.of.week']}"/>
                                        </td>
                                        <td>
                                            <p:inputText
                                                    disabled="true"
                                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.billingSchedule.descriptionDayOfWeek}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputText value="#{msgs['lbl.month.of.year']}"/>
                                        </td>
                                        <td>
                                            <p:inputText
                                                    disabled="true"
                                                    value="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.billingSchedule.descriptionMonth}"/>
                                        </td>
                                    </tr>
                                </table>
                            </p:fieldset>
                        </td>
                    </tr>

                    <tr>

                        <td colspan="4">
                            <p:outputPanel
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.indSelectAll eq 1}">
                                <p:dataTable id="dtbResultEntity"
                                             var="entity"
                                             value="#{invoiceExceptionMgmtBean.billingEntityDataModel}"
                                             paginator="true" rows="5"
                                             paginatorPosition="top"
                                             currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}}"
                                             paginatorTemplate="#{msgs['dtb.paginator.template']}"
                                             rowsPerPageTemplate="5,10,15"
                                             rowIndexVar="rIndx"
                                             rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
                                >


                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['lbl.codigo']}"/>
                                        </f:facet>
                                        <h:outputText value="#{entity.descriptionEntityCode}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['lbl.document.description']}"/>
                                        </f:facet>
                                        <h:outputText value="#{entity.descriptionEntityCollection}"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <div style="width:100%; text-align:left" id="idDivRowCount">
                                            <h:outputLabel
                                                    value="#{msgs['lbl.results']} #{invoiceExceptionMgmtBean.billingEntityDataModel.rowCount}"
                                                    style="font-weight:bold;"/>
                                        </div>
                                    </f:facet>

                                </p:dataTable>
                            </p:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputPanel
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.indSelectAll eq 0}">
                                <h:outputText value="#{msgs['lbl.entity.applies']}"/>
                            </p:outputPanel>
                        </td>
                        <td>
                            <p:outputPanel
                                    rendered="#{invoiceExceptionMgmtBean.exceptionInvoiceSelection.indSelectAll eq 0}">
                                <p:inputText value="#{msgs['cbo.opt.all']}" disabled="true"/>
                            </p:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <p:commandButton id="idBack" icon="fa fa-undo"
                                             value="#{msgs['btn.back']}"
                                             actionListener="#{invoiceExceptionMgmtBean.backFromConsultToSearch}"/>
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </h:form>


    </ui:define>
</ui:composition>
</html>