<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Not present in rendered output</title> 
</head>
<body>
	<composite:interface name="account" displayName="Account description Helper">
		<composite:attribute name="holderAccount" required="true" type="com.pradera.model.accounts.holderaccounts.HolderAccount"/>
		<composite:attribute name="alternative" default="false" type="java.lang.Boolean"/>
		<composite:attribute name="description" default="false" type="java.lang.Boolean"/>
		<composite:attribute name="partRequired" default="false" required="false" type="java.lang.Boolean"/>
		<composite:attribute name="name" default="account1" required="true"/>
		<composite:attribute name="disabled" default="false" type="java.lang.Boolean"/>
		<composite:attribute name="required" default="false" type="java.lang.Boolean"/>
		<composite:attribute name="rendered" default="true" type="java.lang.Boolean"/>
		<composite:attribute name="requiredMessage" default="" required="false"/>
		<composite:attribute name="label" default="#{cc.resourceBundleMap['lbl.holderAccount']}" />
		<composite:attribute name="remoteListener" default="" />
		<composite:attribute name="update" default="@parent" />
		<composite:attribute name="partCode" required="true" type="java.lang.Long"/>
		<composite:attribute name="validatorName" default="inputRequiredValidator" type="java.lang.String"/>
	</composite:interface>
	
	<composite:implementation>
		<!-- EMBEDDED CONTROL --> 	
		<h:panelGrid id="componentAccountHelper#{cc.attrs.name}" border="0" columns="6">
			<p:inputText id="accountCodeHelper#{cc.attrs.name}" 
						 disabled="#{cc.attrs.disabled}"
						 value="#{cc.attrs.holderAccount.accountNumber}" 
						 label="#{cc.attrs.label}" 
						 size="15" 
						 maxlength="10"
						 styleClass="content-right" 
						 rendered="#{cc.attrs.rendered}"
						 onblur="findAccount#{cc.attrs.name}();">
					<p:keyFilter regEx="#{cc.resourceBundleMap.numericUnsigned}" />
					<f:validator disabled="#{!cc.attrs.required}"
								 validatorId="#{cc.attrs.validatorName}"/>				 
			</p:inputText>
			
			<p:remoteCommand name="findAccount#{cc.attrs.name}" 
							 partialSubmit="true" 
						 	 rendered="#{cc.attrs.rendered}"
							 process="@this :#{cc.clientId}:accountCodeHelper#{cc.attrs.name}"
							 update="componentAccountHelper#{cc.attrs.name}" 
							 actionListener="#{accountHelperBean.searchAccountByNumber}" 
							 oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}"/>  
							 
			<p:commandButton value="..."  disabled="#{cc.attrs.disabled}" 
						 	 rendered="#{cc.attrs.rendered}"
							 process="@this :#{cc.clientId}:componentAccountHelper#{cc.attrs.name}"  
							 oncomplete="PF('dlgAccount#{cc.attrs.name}').show();"
							 update="dlgAccountWindow#{cc.attrs.name}">
			</p:commandButton>

			<p:inputText id="accountAlternativeHelper#{cc.attrs.name}"
						 rendered="#{cc.attrs.alternative and cc.attrs.rendered}" 
						 styleClass="content-right"
						 size="43"
						 value="#{cc.attrs.holderAccount.alternateCode}" 
						 disabled="true" />
		
			<h:outputText id="accountDescriptionHelper#{cc.attrs.name}" escape="false" rendered="#{cc.attrs.description and cc.attrs.rendered}"
				value="#{cc.attrs.holderAccount.accountDescription}" />
			
			<p:message id="msgForInput#{cc.attrs.name}"
					   for="accountCodeHelper#{cc.attrs.name}"
					   display="icon"/>
		</h:panelGrid>
		
		<!-- DIALOG WINDOW -->
		<p:dialog id="dlgAccountWindow#{cc.attrs.name}" 
				  position="top" 
				  width="850px"
				  header="#{cc.resourceBundleMap.titleGeneral}" 
				  widgetVar="dlgAccount#{cc.attrs.name}"
				  modal="true"
				  resizable="false"
				  closable="false">
	
			<style type="text/css">
							.ui-datatable tbody td{
								white-space: normal !important;
							}
							
							.ui-datatable thead th, .ui-datatable tfoot td {
								text-align: center !important;
							}
							
							.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
								padding: 1px 5px 1px 5px;
							}
			</style>
	
	
				<p:fieldset legend="#{cc.resourceBundleMap.criteriaSearch}" id="fsCriteriaSearch#{cc.attrs.name}">
					<table width="100%">
						
						<p:selectOneRadio id="customRadio#{cc.attrs.name}" value="#{accountHelperBean.searchFilter}" layout="custom" >  
					        <f:selectItem itemLabel="Option 1" itemValue="1" />  
					        <f:selectItem itemLabel="Option 2" itemValue="2" />  
					        <f:selectItem itemLabel="Option 3" itemValue="3" />
					        <f:selectItem itemLabel="Option 4" itemValue="4" /> 
					        <p:ajax update="fsCriteriaSearch#{cc.attrs.name}" 
					        		process="@this opt0#{cc.attrs.name} opt1#{cc.attrs.name} opt2#{cc.attrs.name} opt3#{cc.attrs.name}"
					        		listener="#{accountHelperBean.clearByOption}"/>
					    </p:selectOneRadio> 
					
						<tr>
							<td></td>
							<td>
							<p:outputPanel id="criteriaParticipant#{cc.attrs.name}" 
										   rendered="#{cc.attrs.partCode!=null and cc.attrs.partCode!=-1}" >
								<h:outputText value="#{cc.resourceBundleMap.participant}"/>
							</p:outputPanel>
							</td>
							<td colspan="4">
							<p:outputPanel id="criteriaParticipantAccountHelper#{cc.attrs.name}" 
										   rendered="#{cc.attrs.partCode!=null and cc.attrs.partCode!=-1}" style="width:450px;">
								<p:selectOneMenu id="cboParticipantAccountHelper#{cc.attrs.name}" 
												 value="#{cc.attrs.partCode}"
												 disabled="#{cc.attrs.partCode ne null}" >
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}" itemValue="-1"/>	
									<f:selectItems value="#{accountHelperBean.listParticipants}" 
												   var="part" 
												   itemLabel="#{part.description} - #{part.value}" 
												   itemValue="#{part.value}"/>
								</p:selectOneMenu>
							</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td width="20px"><p:radioButton id="opt0#{cc.attrs.name}" for="customRadio#{cc.attrs.name}" itemIndex="0"/></td>
							<td><h:outputText value="#{cc.resourceBundleMap.rnt}" /></td>
							<td><p:inputText id="txtRnt#{cc.attrs.name}" 
											 size="18"
											 maxlength="8"
											 value="#{accountHelperBean.holderTO.holderId}"
											 disabled="#{accountHelperBean.searchFilter!=1}">
									<p:keyFilter regEx="#{cc.resourceBundleMap.numericUnsigned}" />
								</p:inputText>	
							</td>
							<td>
								<p:outputPanel id="pnlHolderDescription#{cc.attrs.name}">
									<h:outputText value="#{accountHelperBean.holder.descriptionHolder}" />
								</p:outputPanel>
							</td>
							<td><h:outputText value="#{cc.resourceBundleMap.columnState}" /></td>
							<td>
								<p:selectOneMenu id="cboAccountHelperStatus#{cc.attrs.name}" 
												 value="#{accountHelperBean.holderTO.accountState}"
												 disabled="accountHelperBean.holderTO.accountState!=null">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>	
									<f:selectItems value="#{accountHelperBean.accountStatusList}"
												   var="accStatus"
												   itemLabel="#{accStatus.parameterName}"
												   itemValue="#{accStatus.parameterTablePk}"/>
								</p:selectOneMenu>
							</td>
							
						</tr>
						<tr>
							<td><p:radioButton id="opt1#{cc.attrs.name}" for="customRadio#{cc.attrs.name}" itemIndex="1"/></td>
							<td><h:outputText value="#{cc.resourceBundleMap.docType}" /></td>
							<td colspan="2">
								<p:selectOneMenu id="cboTipoDoc#{cc.attrs.name}"
												 disabled="#{accountHelperBean.searchFilter!=2}" 
												 value="#{accountHelperBean.holderTO.documentType}">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>
									<f:selectItems value="#{accountHelperBean.docTypeList}" var="docTypeVar" 
													itemLabel="#{docTypeVar.parameterName}" itemValue="#{docTypeVar.parameterTablePk}"/>
									<p:ajax event="change" 
											listener="#{accountHelperBean.changeRegularExpressionAndCharactersNumber}" 
											update="txtDocNumber#{cc.attrs.name}" />
								</p:selectOneMenu>
							</td>
							<td><h:outputText value="#{cc.resourceBundleMap.documentNumber}" /></td>
							<td><p:inputText id="txtDocNumber#{cc.attrs.name}"  
											 maxlength="#{accountHelperBean.charactersNumber}" 
											 value="#{accountHelperBean.holderTO.documentNumber}" 
											 disabled="#{accountHelperBean.searchFilter!=2}" >
							       <p:keyFilter  regEx="#{accountHelperBean.regularExpression}"/>
							    </p:inputText></td>
						</tr>
						<tr>
							<td><p:radioButton id="opt2#{cc.attrs.name}" for="customRadio#{cc.attrs.name}" itemIndex="2"/></td>
							
							<td><h:outputText value="#{cc.resourceBundleMap.name}" /></td>
							<td><p:inputText id="txtName#{cc.attrs.name}" 
											 value="#{accountHelperBean.holderTO.name}" size="44" maxlength="40" 
											 disabled="#{accountHelperBean.searchFilter!=3}">
											 <p:keyFilter  regEx="#{accountHelperBean.regularExpression}"/>
											 </p:inputText>
											 </td>
						</tr>
						<tr>
							<td></td>
							<td><h:outputText value="#{cc.resourceBundleMap.firstSurname}" /></td>
							<td><p:inputText id="txtFirstSurname#{cc.attrs.name}" 
											 value="#{accountHelperBean.holderTO.firstLastName}" 
											 size="34" maxlength="30" disabled="#{accountHelperBean.searchFilter!=3}">
											  <p:keyFilter  regEx="#{accountHelperBean.regularExpression}"/>
											 </p:inputText>
											 </td>
							
							<td><h:outputText value="#{cc.resourceBundleMap.secondSurname}" /></td>
							<td colspan="2"><p:inputText id="txtSecSurname#{cc.attrs.name}" 
											 value="#{accountHelperBean.holderTO.secondLastName}" 
											 size="34" maxlength="30" disabled="#{accountHelperBean.searchFilter!=3}">
											  <p:keyFilter  regEx="#{accountHelperBean.regularExpression}"/>
											 </p:inputText>
											 </td>
						</tr>
						<tr>	
							<td><p:radioButton id="opt3#{cc.attrs.name}" for="customRadio#{cc.attrs.name}" itemIndex="3"/> </td>
							<td><h:outputText value="#{cc.resourceBundleMap.tradeName}" /></td>
							<td colspan="2"><p:inputText style="width:100%" id="txtTradeName#{cc.attrs.name}" 
												value="#{accountHelperBean.holderTO.fullName}" maxlength="150" disabled="#{accountHelperBean.searchFilter!=4}">
												 <p:keyFilter  regEx="#{accountHelperBean.regularExpression}"/>
											 </p:inputText>
												</td>
						</tr>					
						<tr align="center" width="100%">
							<td colspan="7">
								<p:commandButton id="cbtnSearch#{cc.attrs.name}" 
												 icon="fa fa-search" 
												 value="#{cc.resourceBundleMap.search}" 
												 process="dlgAccountWindow#{cc.attrs.name}"
												 update="resultListAccounts#{cc.attrs.name}"  
												 action="#{accountHelperBean.searchAccountByFilter}"/>
								<p:commandButton id="cbtnClean1#{cc.attrs.name}" 
												 icon="fa fa-trash"
												 process="@this"
												 partialSubmit="true"
												 value="#{cc.resourceBundleMap.clear}" 
												 update="resultListAccounts#{cc.attrs.name} fsCriteriaSearch#{cc.attrs.name}" 
												 actionListener="#{accountHelperBean.clear}"/>
								<p:commandButton id="cbtnExit#{cc.attrs.name}" 
												 icon="fa fa-undo"
												 immediate="true"
												 value="#{cc.resourceBundleMap.back}"  
												 update=":#{cc.clientId}:dlgAccountWindow#{cc.attrs.name} resultListAccounts#{cc.attrs.name} fsCriteriaSearch#{cc.attrs.name} pnlHolderDescription#{cc.attrs.name}" 
												 actionListener="#{accountHelperBean.exit}" 
												 oncomplete="PF('dlgAccount#{cc.attrs.name}').hide()"/>
							</td>
						</tr>
					</table>
				</p:fieldset>	
				
				<p:outputPanel id="resultListAccounts#{cc.attrs.name}"
							    layout="block"
						   		style="max-height:200px;overflow:auto;">
				<p:fieldset rendered="#{accountHelperBean.holderAccountHelperResultTOlist.size>0}">
					<p:dataTable id="tblResultHelperSecurities#{cc.attrs.name}"
								 rows="5"
								 paginatorPosition="top"
								 rowsPerPageTemplate="5,10,15"
								 var="account"
							     value="#{accountHelperBean.holderAccountHelperResultTOlist}" 
							     paginator="true"
							     paginatorTemplate="#{cc.resourceBundleMap.dtbpaginatortemplate}"
							     currentPageReportTemplate="#{cc.resourceBundleMap.dtbTemplate}"
							     rowIndexVar="rIndx"
								 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
							
							<p:column headerText="#{cc.resourceBundleMap.docNumber}" 
									  styleClass="content-center"
									  style="width:70px;">
								<p:commandLink  value="#{account.accountNumber}" style="color:blue" process="@this" partialSubmit="true"
												action="#{accountHelperBean.assignAccountFromHelper(account)}" 
												update=":#{cc.clientId}:componentAccountHelper#{cc.attrs.name} :#{cc.clientId}:dlgAccountWindow#{cc.attrs.name} :#{cc.clientId}:resultListAccounts#{cc.attrs.name}"
												onsuccess="PF('dlgAccount#{cc.attrs.name}').hide();"
												oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
								</p:commandLink>
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.columnAlternativeCode}" 
									  styleClass="content-center"
									  style="width:8px;">
								<h:outputText value="#{account.alternateCode}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.holderDesc}" styleClass="content-left">
							<ul>
								<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
								<li>
									<h:outputText value="#{accountIterator}" />
								</li>
								</ui:repeat>
							</ul>
							</p:column>	
							
							<p:column headerText="#{cc.resourceBundleMap.columnState}" 
									  styleClass="content-center"
									  style="width:8px;">
								<h:outputText value="#{account.accountStatusDescription}" />
							</p:column>
							<f:facet name="footer">  
					            <h:outputText value="#{accountHelperBean.holderAccountHelperResultTOlist.size} #{cc.resourceBundleMap.lblresults}" 
					            			  style="align:left;"/>  
					        </f:facet> 
					</p:dataTable>
				</p:fieldset>
				<p:fieldset rendered="#{accountHelperBean.listEmpty}">
						<h:outputText id="lblNoFoundResults#{cc.attrs.name}" 
										  value="#{cc.resourceBundleMap.notResultFound}" 
										  styleClass="campo-requerido"/>
					</p:fieldset>
				</p:outputPanel>

		</p:dialog>
		<p:confirmDialog id="cnfMsgCustomValidation#{cc.attrs.name}" 
					      message="#{cc.resourceBundleMap.accountNotExist}" 
					      header="#{cc.resourceBundleMap.titleGeneral}" 
					      severity="alert"
					      widgetVar="cnfwMsgCustomValidation#{cc.attrs.name}" 
					      closable="false">
			         <p:commandButton id="cmdAcceptCustomValidation#{cc.attrs.name}"
						              value="#{cc.resourceBundleMap.accept}" 
						              type="button"
						              onclick="PF('cnfwMsgCustomValidation#{cc.attrs.name}').hide()"> 
			         </p:commandButton>               
		 </p:confirmDialog>
		 
		 <p:confirmDialog id="cnfMsgParticipantValidation#{cc.attrs.name}" 
		 				  visible="false" 
		 				  rendered="true"
					      message="#{cc.resourceBundleMap.partNotSelected}" 
					      header="#{cc.resourceBundleMap.warningMessage}" 
					      severity="alert"
					      widgetVar="cnfWMsgParticipantValidation#{cc.attrs.name}" 
					      closable="false">  
			         <p:commandButton id="cmdAcceptParticipantValidation#{cc.attrs.name}"
						              value="#{cc.resourceBundleMap.accept}" 
						              type="button"
						              onclick="PF('cnfWMsgParticipantValidation#{cc.attrs.name}').hide()"> 
			         </p:commandButton>                     
		 </p:confirmDialog>	
		 
		 
		 <p:confirmDialog id="cnfMsgHolderInver#{cc.attrs.name}" 
		 				  visible="false" 
		 				  rendered="true"
					      message="#{cc.resourceBundleMap.holderNotInversionist}" 
					      header="#{cc.resourceBundleMap.warningMessage}" 
					      severity="alert"
					      widgetVar="cnfWMsgHolderInver#{cc.attrs.name}" 
					      closable="false">  
			         <p:commandButton id="cmdAcceptHolderInver#{cc.attrs.name}"
						              value="#{cc.resourceBundleMap.accept}" 
						              type="button"
						              onclick="PF('cnfWMsgHolderInver#{cc.attrs.name}').hide()"> 
			         </p:commandButton>                     
		 </p:confirmDialog>	
		 
		  <p:confirmDialog id="idDlgExistPendingData#{cc.attrs.name}"
					       message="#{cc.resourceBundleMap.existPendingData}" 
					       header="#{cc.resourceBundleMap.warningMessage}" 
					       severity="alert"
					       widgetVar="dlgWExistPendingData#{cc.attrs.name}" 
					       closable="false">  
			         <p:commandButton id="btnAcceptExistPendingData#{cc.attrs.name}"
						              value="#{cc.resourceBundleMap.accept}" 
						              type="button"
						              onclick="PF('dlgWExistPendingData#{cc.attrs.name}').hide();"> 
			         </p:commandButton>                     
		 </p:confirmDialog>			
	</composite:implementation>
</body>
</html>