<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	
	<ui:define name="body">
	<script type="text/javascript">
		$(window).load(function(){
			setAllHolidays('${frmHolderModifySearch.allHolidays}');
		});
	</script>
	
	<h:outputText value="#{msgs['adm.holder.modify.title']}"  styleClass="title-page"/>
	
		<h:form id="frmHolderModifySearch">
		
			<table width="100%">
				<tr>
					<td align="right">
						<p:commandButton  process="@this" immediate="true" rendered="#{userPrivilege.getUserAcctions().isRegister()}" 
							value="#{msgs['btn.register']}" action="#{modifyHolderMgmtBean.loadRegistrationPage}" icon="fa fa-edit" />  										 
					</td>
				</tr>
				<tr>
					<td><p:fieldset legend="#{msgs['lbl.criteria.search']}">
							
							<table width="100%"> 
								<tr>
									<td><h:outputText value="#{msgs['adm.holders.request.search.holder.filter.participant']}" /></td>
									
									<td width="450px">
										<p:selectOneMenu style="width:440px" disabled="#{modifyHolderMgmtBean.disabledCmbParticipant}" value="#{modifyHolderMgmtBean.holderFilter.participantSelected}">  
								            <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   /> 
								           <f:selectItems var="participant"  value="#{modifyHolderMgmtBean.listParticipant}" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
								        </p:selectOneMenu>
									</td>
									<td width="40px"/>
									<td width="160px">
									<h:outputText value="#{msgs['adm.holders.request.search.holder.filter.number.request']}" /></td>
									
									<td width="200px">
										<p:inputText style="text-align:right" maxlength="10"  size="10" value="#{modifyHolderMgmtBean.holderFilter.numberRequest}">
										<p:keyFilter  mask="pint"/>
										</p:inputText>
									</td>
									<td></td>
								</tr>
								<tr>
									<td  width="160px">
									 <h:outputText value="#{msgs['adm.holders.request.search.holder.filter.initial.date']}"  /></td>
									
									<td width="160px">
										<p:calendar size="10" readonlyInput="true" yearRange="1900:c+c" 
											value="#{modifyHolderMgmtBean.holderFilter.initialDate}" navigator="true" 
											maxdate="#{modifyHolderMgmtBean.currentSystemDate}" 
											beforeShowDay="disableAllHolydays"
											id="calInitialDate" showOn="both" maxlength="10"
											pattern="#{msgs['dateFormat']}">
											<p:ajax update="calEndDate" event="dateSelect"/>
											</p:calendar>
									</td>
									<td width="40px">
									  <p:message id="messageCalInitialDate" for="calInitialDate" display="icon" />
									</td>
									
									<td  width="160px">
									<h:outputText value="#{msgs['adm.holders.request.search.holder.filter.end.date']}" /></td>
									
									<td width="160px">
										<p:calendar size="10" readonlyInput="true" yearRange="1900:c+c"
											value="#{modifyHolderMgmtBean.holderFilter.endDate}"  navigator="true" 
											maxdate="#{modifyHolderMgmtBean.currentSystemDate}" mindate="#{modifyHolderMgmtBean.holderFilter.initialDate}"
											id="calEndDate" showOn="both" maxlength="10"
											pattern="#{msgs['dateFormat']}" beforeShowDay="disableAllHolydays">
											<p:ajax update="calInitialDate" event="dateSelect"/>
										 </p:calendar>
									</td>
									<td width="40px">
									  <p:message id="messageCalEndDate" for="calEndDate" display="icon" />
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['adm.holders.request.search.holder.filter.state']}" /></td>
									<td width="180px">
									<p:selectOneMenu style="width:180px" value="#{modifyHolderMgmtBean.holderFilter.stateRequest}">  
							            <f:selectItem itemLabel="#{msgs['cbo.opt.all']}"   /> 
							            <f:selectItems value="#{modifyHolderMgmtBean.listStateHolderRequest}" var="state" itemLabel="#{state.parameterName}" itemValue="#{state.parameterTablePk}"/> 
							        </p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td colspan="6" align="center">
										<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search" update="outputPanelPrivileges outPanelResult"
														 actionListener="#{modifyHolderMgmtBean.searchRequestHolders}" />
										<p:spacer width="5"></p:spacer>				 
										<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}" icon="fa fa-trash"  update="@form"
														 actionListener="#{modifyHolderMgmtBean.cleanAll}" process="@this" />
									</td>
								</tr>								
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
				<td>
					<p:outputPanel autoUpdate="true"  id="outputPanelPrivileges">
					<p:outputPanel rendered="#{(modifyHolderMgmtBean.holderRequestDataModel.rowCount >= 1)}"> 
					<ark:privileges id="praderaPrivileges"
					 
									 
					 actionConfirm="#{modifyHolderMgmtBean.validateRequestConfirmState}"
					 actionReject="#{modifyHolderMgmtBean.validateRequestRejectState}"
					 actionApprove="#{modifyHolderMgmtBean.validateRequestApproveState}"
					 actionAnnular="#{modifyHolderMgmtBean.validateRequestAnnularState}"	
					 				 			 
					 actions="#{userPrivilege.userAcctions}"
					 renders="#{userPrivilege.privilegeComponent}"/>
					 
					</p:outputPanel>
					</p:outputPanel>
					
					</td>
					
				</tr>
				
				<tr>
					
					<td>
					<p:outputPanel id="outPanelResult">
					
					<p:fieldset legend="#{msgs['lbl.results']}"  id="idFieldsetResult" rendered="#{modifyHolderMgmtBean.holderRequestDataModel.rowCount >=1}">
							
							<p:dataTable id="dtbResult" var="holderRequest"
								value="#{modifyHolderMgmtBean.holderRequestDataModel}"
								rendered="#{(modifyHolderMgmtBean.holderRequestDataModel.rowCount >= 1)}"
								paginator="true" rows="10"								
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{msgs['dtb.paginator.template']}"
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" paginatorPosition="top"
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{modifyHolderMgmtBean.holderRequestSelected}">
								
								<p:column selectionMode="single" style="width:18px" />
															
								<p:column sortBy="#{holderRequest.requestNumber}" style="width:90px" styleClass="content-right">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.request.number']}" />
									</f:facet>
									<p:commandLink action="holderInformation" actionListener="#{modifyHolderMgmtBean.loadingHolderInformation}" style="color:blue" value="#{holderRequest.requestNumber}" >
									   <f:attribute name="holderInformation" value="#{holderRequest}"/>
									</p:commandLink>
								</p:column>
								
								<p:column sortBy="#{holderRequest.participant.description}">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.requesting.participant']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.participant.description}" />
								</p:column>
								
								<p:column sortBy="#{holderRequest.holder.idHolderPk}" styleClass="content-right"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.cui.code']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.holder.idHolderPk}" />
								</p:column>
								
								<p:column sortBy="#{holderRequest.holderHistory.typeDocumentDescription}">
									<f:facet name="header">
										<h:outputText escape="false" value="#{msgs['adm.holders.request.search.holder.datatable.document.type.holder']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.holderHistory.typeDocumentDescription}" />
								</p:column>
								
								<p:column sortBy="#{holderRequest.holderHistory.documentNumber}" styleClass="content-right">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.number.document.holder']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.holderHistory.documentNumber}" />
								</p:column>
								
								<p:column sortBy="#{holderRequest.holderHistory.descriptionHolder}">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.description.holder']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.holderHistory.descriptionHolder}" />
								</p:column>
								
								<p:column sortBy="#{holderRequest.registryDate}" style="text-align:center">
									<f:facet name="header">
										<h:outputText escape="false" value="#{msgs['adm.holders.request.search.holder.datatable.registry.date']}" />
									</f:facet>
									<h:outputText value="#{holderRequest.registryDate}" >
									<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
								</p:column>
								
								<p:column sortBy="#{holderRequest.stateDescription}">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.holders.request.search.holder.datatable.request.state']}" />
									</f:facet>
									
									<h:outputText value="#{holderRequest.stateDescription}" />								
								</p:column>
								
								<p:column styleClass="content-center" >
									<f:facet name="header">
										<h:outputText value="" />
									</f:facet>
									
									<p:commandLink style="color:blue;" disabled="#{modifyHolderMgmtBean.isNotStateConfirm(holderRequest.stateDescription)}"
										rendered="#{!modifyHolderMgmtBean.getVisibleFileHolderModifyReport(holderRequest)}"
										update="dtbResult" onstart="PF('statusDialog').show()"
										oncomplete="PF('statusDialog').hide() "
										actionListener="#{modifyHolderMgmtBean.getGenerateFileHolderModifyReport(holderRequest,'Holder')}">
										<p:graphicImage id="imgView1" library="img"	name="buttons/save.png" />
									</p:commandLink>
									
									<p:commandLink style="color:blue;" ajax="false"
										disabled="#{modifyHolderMgmtBean.isNotStateConfirm(holderRequest.stateDescription)}"
										rendered="#{modifyHolderMgmtBean.getVisibleFileHolderModifyReport(holderRequest)}">
										<p:fileDownload
											value="#{modifyHolderMgmtBean.getStreamedContentTemporalFileHolderModifyReport(holderRequest)}" />
										<p:graphicImage id="imgView2" library="img" name="icons/loupe.png" />
									</p:commandLink>
								</p:column>
								<f:facet name="footer">	
									<div style="width:100%; text-align:left">								
									<h:outputLabel value="#{modifyHolderMgmtBean.holderRequestDataModel.rowCount} #{msgs['lbl.results']}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>
								
							</p:dataTable>
							
						</p:fieldset>
						<p:panel rendered="#{modifyHolderMgmtBean.holderRequestDataModel!=null and !(modifyHolderMgmtBean.holderRequestDataModel.rowCount >= 1)}">
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(modifyHolderMgmtBean.holderRequestDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>	
						</p:panel>
						</p:outputPanel>
						
							
						
						</td>
				</tr>
			</table>		
			
		</h:form>
		
		   <p:outputPanel id="opnlDialogs">
			<h:form id="frmDialogs">
			<p:confirmDialog id="warningDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"					
					severity="alert" widgetVar="widgWarningDialog"
					rendered="false" visible="true">
										
					<p:commandButton value="#{msgs['btn.accept']}"
						oncomplete="widgPF('warningDialog').hide()" 
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
			 </h:form>	
			</p:outputPanel>
		
		
		
	</ui:define>
</ui:composition>
</html>