<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">

		<style type="text/css">
		</style>

		<h:outputText value="#{msgs['opt.adm.system.title.details']}"
			styleClass="title-page" />

		<p:fieldset legend="#{msgs['system.pnl.data']}" >
			<h:form id="frmSystemAdm" enctype="multipart/form-data">
				<table class="table-fields">
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.name']}" />
						</td>
						<td>
							<p:inputText disabled="true" value="#{systemMgmtBean.systemBean.name}" size="50"/>
						</td>
						<td rowspan="11" class="td-label-default">
							<h:outputText
								value="#{msgs['system.lbl.image']}" />
						</td>
						<td rowspan="11">
							<p:panel id="pnlImagePreview" style="width:220px">
								<p:graphicImage id="imgSystem"
												value="#{imageStreamerBean.fileSystemImage}" cache="false"
												rendered="#{imageStreamerBean.fileSystemImage != null}"
												height="150px" width="200px" />
							</p:panel>
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.mnemonic']}" />
						</td>
						<td>
							<p:inputText disabled="true" size="50"
								value="#{systemMgmtBean.systemBean.mnemonic}" />
						</td>						
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.url']}" />
						</td>
						<td>
							<p:inputText disabled="true" size="100"
							value="#{systemMgmtBean.systemBean.systemUrl}" />
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.db.schema']}" />
						</td>
						<td>
							<p:inputText disabled="true" size="20" 
							value="#{systemMgmtBean.systemBean.schemaDb}" />
						</td>						
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText
								value="#{msgs['system.lbl.description']}" />
						</td>
						<td>
							<p:inputText disabled="true" size="100"
							value="#{systemMgmtBean.systemBean.description}" />
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.schedule']}" />
						</td>
						<td>
							<p:inputText disabled="true" size="100"
								value="#{systemMgmtBean.systemBean.schedule.description}" />
						</td>						
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.state']}"/>
						</td>
						<td>
							<p:inputText disabled="true" size="50"
								value="#{systemMgmtBean.systemBean.stateDescription}"/>
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.file']}"/>
						</td>
						<td>
							<h:panelGrid columns="2"
								rendered="#{systemMgmtBean.systemBean.systemProductionFile != null}">
								<h:outputText value="#{msgs['fupl.attached.document']}"
									style="vertical-align: none;" />
								<p:commandLink id="cmlViewFile" styleClass="icon"
									process="@this" global="false" ajax="false" immediate="true">
									<p:fileDownload
										value="#{systemMgmtBean.systemBean.streamedFile}" />
									<p:graphicImage id="imgViewFile" library="img"
										name="icons/loupe.png" />
								</p:commandLink>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.blockmotive']}"
							rendered="#{systemMgmtBean.systemBean.blockMotive != null}"/>
						</td>
						<td>
							<p:inputText disabled="true" size="100"
								value="#{systemMgmtBean.motiveDescripcion}" 
								rendered="#{systemMgmtBean.systemBean.blockMotive != null}"/>
						</td>						
					</tr>	
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.motive.description']}" 
							    rendered="#{systemMgmtBean.systemBean.blockOtherMotive != null and systemMgmtBean.showBlockMotive}"/>
						</td>
						<td>
							<p:inputText disabled="true" size="100"
								value="#{systemMgmtBean.systemBean.blockOtherMotive}" 
								rendered="#{systemMgmtBean.systemBean.blockOtherMotive != null and systemMgmtBean.showBlockMotive}" />
						</td>					
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.unblockmotive']}" rendered="#{systemMgmtBean.showUnblockMotive}"/>
						</td>
						<td>
							<p:inputText disabled="true" size="100"
								value="#{systemMgmtBean.motiveunBlockDescripcion}"
								rendered="#{systemMgmtBean.showUnblockMotive}"/>
						</td>						
				    </tr>		
				    <tr>
				    	<td class="td-label-default">
							<h:outputText value="#{msgs['system.lbl.motive.description']}"
							    rendered="#{systemMgmtBean.systemBean.unblockOtherMotive != null and systemMgmtBean.showUnblockMotive}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{systemMgmtBean.systemBean.unblockOtherMotive}"  size="100"
								rendered="#{systemMgmtBean.systemBean.unblockOtherMotive != null and systemMgmtBean.showUnblockMotive}"/>
						</td>
				    </tr>
					<tr>
						<td colspan="2">
							<p:fieldset legend="#{msgs['profile.pnl.available.profiles']}">
								<div class="containter-tree-wide-full datalist-noborder no-border">
									<p:dataList emptyMessage=""
										value="#{systemMgmtBean.lstSystemProfile}"
										var="pSis" itemType="disc">  
									    #{pSis.name}  
									</p:dataList>
								</div>
							</p:fieldset>
						</td>
						<td colspan="2">
							<p:fieldset legend="#{msgs['system.pnl.available.options']}">
								<div class="containter-tree-wide-full no-border">
									<p:tree id="treeProfiledDetails"
										value="#{systemMgmtBean.treeRootSystemOptions}"
										var="node">
										<p:treeNode>
											<h:outputText value="#{node.name}" />
										</p:treeNode>
									</p:tree>
								</div>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['user.lbl.user.register']}" />
						</td>
						<td> 
							<p:inputText value="#{systemMgmtBean.systemBean.registryUser}" disabled="true"/>
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['user.lbl.date.register']}"  />
						</td>
						<td> 
							<p:inputText value="#{systemMgmtBean.systemBean.registryDate}" disabled="true">
		  					    <f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>
		  					</p:inputText>
						</td>
					</tr>
					<tr>
						<td class="td-label-default"> 
		  					<h:outputText value="#{msgs['user.lbl.user.last.modification']}" />
	  					</td>
						<td> 
		  					<p:inputText value="#{systemMgmtBean.systemBean.lastModifyUser}" disabled="true"/>
		  				</td>
		  				<td class="td-label-default"> 
		  					<h:outputText value="#{msgs['user.lbl.date.last.modification']}"/>
	  					</td>
						<td> 
		  					<p:inputText value="#{systemMgmtBean.systemBean.lastModifyDate}" disabled="true">
		  						  <f:convertDateTime pattern="#{msgs.dateTimeFormat}"/>
		  				    </p:inputText>
		  				</td>
					</tr>
					<tr>
						<td colspan="4" align="center">
							<p:commandButton
								id="btnBack" immediate="true"  icon="fa fa-undo"
								action="seachSystemMgmt"
								value="#{msgs['btn.back']}" /></td>
					</tr>
				</table>

			</h:form>
		</p:fieldset>


	</ui:define>
</ui:composition>
</html>
