<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
#frmRegisterOfac\:fluOfacPerson span {
	display: none;
}

#frmRegisterOfac\:fluOfacPerson table.files {
	display: none;
}
</style>


		<h:outputText value="#{msgs['adm.assetlaundry.register.lblOfac']}"
			styleClass="title-page" />

		<h:form id="frmRegisterOfac" enctype="multipart/form-data">

			<table width="100%">

				<tr>
					<td><p:fieldset
							legend="#{msgs['adm.assetlaundry.register.registerData']}">

							<table width="100%">
								<tr>

									<td>
										<h:outputText id="optFileType" value="#{msgs['adm.assetlaundry.register.fileType']}"
											styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2" border="0">
											<p:selectOneMenu id="slconeFileType" required="true"
												value="#{assetLaundryBean.fileType}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
												<f:selectItems value="#{assetLaundryBean.listFileType}"
													itemLabel="#{Type.parameterName}" var="Type"
													itemValue="#{Type.parameterTablePk}" />
												<p:ajax event="change"
													listener="#{assetLaundryBean.hideOfacTable}"></p:ajax>

											</p:selectOneMenu>
											<p:message id="msgsFileType" for="slconeFileType"
												display="icon"></p:message>
										</h:panelGrid></td>

								</tr>

								<tr>
									<td>
										<h:outputText id="optSelectFile" value="#{msgs['adm.assetlaundry.register.selecteFile']}"
											styleClass="campo-requerido" />
									</td>
									<td>
										<p:outputPanel id="opnlFuplIssuCert" styleClass="fileupload-customize" layout="block">
											<p:fileUpload id="fuplCertificateIssuance"
												widgetVar="fuplwCertificateIssuance" label="#{msgs['fupl.label']}"
												fileUploadListener="#{assetLaundryBean.certificateFileHandler}"
												mode="advanced" auto="true" update=":cnfMsgCustomValidation,opnlFuplIssuCert"
												allowTypes="/(\\.|\\/)(xml|xlsx)$/" invalidFileMessage="#{msgs['lbl.not.valid']}" invalidSizeMessage="#{msgs['lbl.not.valid']}">
											</p:fileUpload>
											<script type="text/javascript">
											$(document).ready(function(){
												fileuploadValidate('fuplwCertificateIssuance');	
											 });		
											</script>

											<p:graphicImage id="imgLimit" library="img"
												name="icons/help.png" styleClass="icon" />
											<ui:remove>
												<p:commandLink id="cmlRemoveFile"
													actionListener="#{assetLaundryBean.removeUploadedFileHandler}"
													styleClass="icon" process="@this" update="opnlFuplIssuCert"
													rendered="#{assetLaundryBean.issuanceCertFileNameDisplay != null}">
													<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png" />
												</p:commandLink>
											</ui:remove>


											<h:outputLabel id="lblFuplIssuanceCert"
												value="#{assetLaundryBean.issuanceCertFileNameDisplay==null ? msgs['fupl.no.selected'] : assetLaundryBean.issuanceCertFileNameDisplay}"
												styleClass="label" />
											<p:tooltip for="imgLimit">
												<h:outputFormat value="#{msgs['fupl.limit.info']}"
													escape="false">
													<f:param value="#{assetLaundryBean.xmlFileUploadSize}" />
													<f:param
														value="#{assetLaundryBean.xmlFileUploadFileTypesDisplay}" />
												</h:outputFormat>
											</p:tooltip>

											<p:commandLink id="cmlViewFile" styleClass="icon"
												process="@this" update="opnlFuplIssuCert" global="false"
												ajax="false"
												onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
												rendered="#{assetLaundryBean.issuanceCertFileNameDisplay != null}">
												<p:fileDownload value="#{assetLaundryBean.streamFilter}" />
												<p:graphicImage id="imgView" library="img"
													name="icons/loupe.png" />
											</p:commandLink>
										</p:outputPanel> 
									</td>
								</tr>
								
								<tr>
									<td align="center" colspan="4">
										<p:commandButton id="cbProcessFile"
											value="#{msgs['adm.assetlaundry.register.processFile']}" immediate="true" icon="ui-confirm"
											update="opnlModals :opnlGenericDialogs msgsFileType  slconeFileType " process="@form"
											actionListener="#{assetLaundryBean.confirmProcessFile}">
										</p:commandButton> 
										<p:commandButton id="cbBack" action="#{assetLaundryBean.goBackOfacRegisterMassive}"
											update="opnlModals" immediate="true" process="@form"
											value="#{msgs['btn.back']}" icon="fa fa-undo" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
			</table>

			<p:outputPanel id="opnlModals">
				<p:confirmDialog id="cnfBackTransaction" widgetVar="cnfwBackTransaction"
						visible="true" message="#{bodyMessageView}" header="#{headerMessageView}" rendered="false"
						closable="false">
						<p:commandButton value="#{msgs['btn.accept']}"
							action="search"  immediate="true">
						</p:commandButton>
					</p:confirmDialog>

				<p:confirmDialog id="cnfConfirmProcess" closable="false"
					header="#{msgs['header.message.confirmation']}"
					widgetVar="cnfwConfirmProcess" message="#{bodyMessageView}"
					rendered="false" visible="true">

					<p:commandButton value="#{msgs['btn.yes']}"
						actionListener="#{assetLaundryBean.upload}" ajax="false" />

					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfwConfirmProcess').hide();" />

				</p:confirmDialog>

				<p:confirmDialog id="cnfProcessConfirmed" closable="false"
					header="#{msgs['header.message.success']}"
					widgetVar="cnfwProcessConfirmed" message="#{bodyMessageView}"
					rendered="false" visible="true">

					<p:commandButton value="#{msgs['btn.accept']}"
						action="assetLaundrySearch"
						actionListener="#{assetLaundryBean.clearAll}" ajax="true" />
				</p:confirmDialog>

				<p:confirmDialog id="cnfConfirmSave" widgetVar="cnfwConfirmSave"
					closable="false" message="Test" rendered="false" visible="true">

					<p:commandButton value="#{msgs['btn.accept']}"
						onclick="PF('cnfwProcessConfirmed').hide();" ajax="true" />
				</p:confirmDialog>

				<p:confirmDialog id="cnfGoBack" widgetVar="cnfwGoBack"
					rendered="false" visible="true" message="#{msgs['message.back']}" closable="false">
					<p:commandButton value="#{msgs['btn.yes']}"
						action="assetLaundrySearch" immediate="true"
						actionListener="#{assetLaundryBean.clearAll}" />

					<p:commandButton value="#{msgs['btn.no']}" type="button"
						onclick="PF('cnfwGoBack').hide();" />
				</p:confirmDialog>

				<p:confirmDialog id="cnfWrongFile" rendered="false" visible="true"
					widgetVar="cnfwWrongFile"
					message="#{msgs['adm.assetlaundry.search.wrongFile']}"
					closable="false">

					<p:commandButton value="#{msgs['btn.accept']}" type="button"
						onclick="PF('cnfwWrongFile').hide();" />
				</p:confirmDialog>
				
				<p:confirmDialog id="cnfRejectFile" closable="false" widgetVar="wvFailedFile"
					header="#{msgs['header.message.alert']}" message="#{bodyMessageView}"
					rendered="false" visible="true">
					<p:commandButton value="#{msgs['btn.accept']}" onclick="PF('wvFailedFile').hide();"/>
				</p:confirmDialog>
			</p:outputPanel>

		</h:form>
	</ui:define>
</ui:composition>
</html>