<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importEnum type="com.pradera.model.custody.affectation.type.ReversalMotiveRejectType" var="motiveReject"/>	
	<h:outputText value="#{msgs['lbl.reversal.view.title']}"  styleClass="title-page"/>
	
	<h:form id="frmUnBlockRequest">
	<table width="100%">
		
		<tr>
			<td>
			<p:fieldset legend="#{msgs['lbl.reversal.view.panel.unblockRequest']}">
				<table width="100%">
					<tr>					
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.rnt']}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.idHolderPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestReversalsMgmBean.registerReversalTO.holderDescription}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>					
						<td width="20%">
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.requestNumber']}"/>
						</td>
						<td width="30%">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.idUnblockRequestPk}"/>
						</td>
						<td width="20%">
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.recordNumber']}"/>
						</td>
						<td width="30%">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.documentNumber}"/>
						</td>	
					</tr>						
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.quantity']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.totalUnblock}" styleClass="content-right">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</p:inputText>
						</td>											
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.motive']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.motiveUnblock}"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.registryUser']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.registryUser}"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.registryDate']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.registryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.approveUser']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.approveUser}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.approveDate']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.approveDate}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.annulUser']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.annulUser}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.annulDate']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.annulDate}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.confirmUser']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.confirmationUser}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.confirmDate']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.confirmationDate}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.rejectUser']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.rejectUser}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.rejectDate']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.rejectDate}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.file']}"/></td>	
						
						<td colspan="3">
						<p:outputPanel id="outputPanelFile" rendered="#{not empty requestReversalsMgmBean.listFileReversalsTO}">		
						<p:dataTable id="dtbDocument" var="fileDocument" rowIndexVar="regNum"
												value="#{requestReversalsMgmBean.listFileReversalsTO}">
											<p:column width="5px">
											<f:facet name="header">
											<h:outputText value="N°" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.splitcoupons.document.file.name']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileName}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.splitcoupons.document.file.size']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileSize} KB">
											<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
											</h:outputText>
											</p:column>
											<p:column styleClass="content-center">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.splitcoupons.document.format']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileExtension}" />
											</p:column>							
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.splitcoupons.document.view']}" />
											</f:facet>
											<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"
		  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">			   
		  									<p:graphicImage id="imgView" library="img" title="ver" name="icons/loupe.png"/>
		  									<p:fileDownload value="#{requestReversalsMgmBean.getStreamedContentFile1()}" />
											</p:commandLink>
				
											</p:column>
											</p:dataTable>											
											</p:outputPanel>
						</td>
										
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.unblockRequest.unblockState']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.state}"/>
						</td>
						<p:outputPanel id="outpnlRejectMotive" rendered="#{requestReversalsMgmBean.blViewDetail}">
						<td>
							<h:outputText value="#{msgs['lbl.motive']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.registerReversalTO.rejectMotiveDesc}" size="80"/>
						</td>
						</p:outputPanel>						
					</tr>
				</table>
			</p:fieldset>
			</td>
		</tr> 
		<tr> 
			<td width="100%"> 
			<p:fieldset legend="#{msgs['lbl.reversal.view.panel.unblockRequest.detail']}">
			<p:accordionPanel multiple="true" style="box-shadow:5px 5px 5px #888888" activeIndex="0,1,2,3,4,5" 
							  var="blockOpeReversal" value="#{requestReversalsMgmBean.registerReversalTO.lstBlockOpeForReversals}">
			<p:tab title="#{msgs['lbl.reversal.register.blockOperation.documentNumber']}: #{blockOpeReversal.idUnblockOperationPk}
						  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						  #{msgs['lbl.reversal.view.unblockOperation.unblockQuantity']}: #{blockOpeReversal.amountUnblock}">
						  
			<table width="100%">
					<tr>
						<td width="20%"><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockNumber']}" /></td>
						<td width="30%">
							<p:inputText disabled="true" value="#{blockOpeReversal.operationNumber}"/>
						</td>				
						<td width="20%"><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockType']}" /></td>
						<td width="30%">
							<p:inputText disabled="true" value="#{blockOpeReversal.blockType}"/>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockLevel']}" /></td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.blockLevel}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockForm']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.formAffectation}" size="40"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.blockOperation.actualQuantity']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.currentAmount}" styleClass="content-right">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</p:inputText>						
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.reversal.view.blockOperation.originalQuantity']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.amount}" styleClass="content-right">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</p:inputText>
						</td>						
					</tr>					
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.accountNumber']}" /></td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.accountNumber}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.alternateCode']}" />
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText disabled="true" value="#{blockOpeReversal.alternateCode}"/>
								<h:outputFormat disabled="true" value="#{blockOpeReversal.holdersName}" escape="false"/>
							</h:panelGrid>							
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockEntity']}" /></td>
						<td>
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{blockOpeReversal.idBlockEntityPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{blockOpeReversal.blockEntityName}"/>
							</h:panelGrid>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockDate']}" /></td>
						<td><p:inputText disabled="true" value="#{blockOpeReversal.blockDate}">
						    <f:convertDateTime pattern="dd/MM/yyyy"/>		
						     </p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.participant']}" rendered="#{!requestReversalsMgmBean.flagIssuerBlock}"/></td>
						<td colspan="3">
							<p:selectOneMenu value="#{blockOpeReversal.idParticipantPk}" disabled="true" rendered="#{!requestReversalsMgmBean.flagIssuerBlock}">
								<f:selectItem itemValue="#{blockOpeReversal.idParticipantPk}"
									itemLabel="#{blockOpeReversal.participantDescription} - #{blockOpeReversal.idParticipantPk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.isin']}"/></td>
						<td colspan="3">
							<h:panelGrid columns="5">
							<p:inputText disabled="true" value="#{blockOpeReversal.idSecurityCodePk}" size="15"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{blockOpeReversal.isinDescription}"/>
							<p:spacer width="10"/>
							<ark:securities-help name="SecurityMCNHelp" id="idSecurityMCNHelp" securityCode="#{blockOpeReversal.idSecurityCodePk}"/>
							</h:panelGrid>
						</td>
					</tr>				
					<tr>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.registryUser']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.confirmUser}"/>
						</td>
						<td><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockState']}"/></td>
						<td>
							<p:inputText disabled="true" value="#{blockOpeReversal.state}"/>
						</td>
					</tr>
				</table>
			</p:tab>
			</p:accordionPanel>
			<br></br>
			<br></br>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton value="#{gmsgs['btn.approve']}" rendered="#{requestReversalsMgmBean.blApprove}" update="outPnlDialogs" icon="ui-approve" 
					actionListener="#{requestReversalsMgmBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.annulate']}" rendered="#{requestReversalsMgmBean.blAnnul}" update="outPnlDialogs :opnlGenericDialogs :opnlDialogs" 
					icon="ui-anulate" actionListener="#{requestReversalsMgmBean.beforeShowReject}"/>	
				<p:commandButton value="#{gmsgs['btn.confirm']}" rendered="#{requestReversalsMgmBean.blConfirm}" update="outPnlDialogs" icon="ui-confirm" 
					actionListener="#{requestReversalsMgmBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.reject']}" rendered="#{requestReversalsMgmBean.blReject}" update="outPnlDialogs :opnlGenericDialogs :opnlDialogs" 
					icon="ui-reject" actionListener="#{requestReversalsMgmBean.beforeShowReject}"/>				
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="backFromView"/>
			</td>
		</tr>
	</table>
		<!-- Dialog -->
		<p:outputPanel id="outPnlDialogs">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":opnlGenericDialogs @form outPnlDialogs"
				actionListener="#{requestReversalsMgmBean.doAction}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" actionListener="#{requestReversalsMgmBean.hideDialogs}"/>
		</p:confirmDialog>		
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" action="backFromView" value="#{gmsgs['btn.accept']}" 
						 actionListener="#{requestReversalsMgmBean.hideDialogs}"/>
		</p:confirmDialog>
		</p:outputPanel>
		<!--  -->	
	</h:form>
	
	<h:form id="frmMotive">
			<p:dialog id="dlgMotive" modal="true" resizable="false" closable="false" position="center" header="#{msgs['lbl.motive.reject']}"  widgetVar="dlgWdgtMotive" >
				<p:outputPanel id="opnlMotive">
					<table>
						<tr>
							<td width="100px">
								<h:outputText value="#{msgs['lbl.motive']} (*)"  styleClass="required-field" /> 
							</td>
							<td>
								<h:panelGrid columns="2" id="motiveRejectGrid">
								<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}" value="#{requestReversalsMgmBean.requestReversalTO.motiveReject}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
									<f:selectItems value="#{requestReversalsMgmBean.searchReversalsTO.lstMotiveReject}" var="mot" 
												   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
									<p:ajax process="@this" update="opnlMotive gridButtons" event="change"/>
									<f:validator validatorId="selectOneRequiredValidator" />
								</p:selectOneMenu>
								<p:message for="cboMotive" id="mssge_1" display="icon"></p:message>
								</h:panelGrid>
							</td>
							<td width="50px" align="right">
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="txtOtherMotiveReject" styleClass="required-field" 
											  rendered="#{motiveReject.OTHER.code == requestReversalsMgmBean.requestReversalTO.motiveReject}"/>
							</td>
							<td>
								<h:panelGrid columns="2" id="otherMotiveGrid">
								<p:inputText size="60" maxlength="60" value="#{requestReversalsMgmBean.requestReversalTO.motiveRejectOther}" id="txtOtherMotive"
											  rendered="#{motiveReject.OTHER.code == requestReversalsMgmBean.requestReversalTO.motiveReject}"
											  required="true" label="#{msgs['lbl.other.motive']}">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<p:ajax event="blur" process="@this" update="gridButtons"/>
									<f:validator validatorId="selectOneRequiredValidator"/>
								</p:inputText>
								<p:message for="txtOtherMotive" id="mssge_2" display="icon"/>
								</h:panelGrid>
							</td>
							<td width="50px" align="right">
								<p:message for="txtOtherMotive" display="icon"/>
							</td>
						</tr>
					</table>
				</p:outputPanel>
				<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
					<p:outputPanel>
						<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" 
										 process="@this,cboMotive,txtOtherMotive" update="motiveRejectGrid,otherMotiveGrid,:frmUnBlockRequest:outPnlDialogs" 
										 actionListener="#{requestReversalsMgmBean.beforeAction}"
										 disabled="#{requestReversalsMgmBean.registerReversalTO.rejectMotive == null}"/>
						<p:spacer width="1px" />
		       			<p:commandButton value="#{gmsgs['btn.back']}" type="button" icon="fa fa-undo" onclick="PF('dlgWdgtMotive').hide()"/>
					</p:outputPanel>
				</h:panelGrid>
			</p:dialog>
		  </h:form>
		  
		  
		  <p:outputPanel id="opnlDialogs">
		  	<h:form id="frmMotiveReject">
				<p:dialog id="dialogMotiveReject" resizable="false" draggable="false"
					modal="true" rendered="false" closable="false" visible="true"
					severity="alert" widgetVar="dlgMotive"
					header="#{msgs['lbl.motive.reject']}">
					<p:outputPanel id="opnlMotiveReject">
						<table>
							<tr>
								<td width="100px"><h:outputText
										value="#{msgs['lbl.motive']}" styleClass="required-field" />
								</td>
								<td><h:panelGrid columns="2">
										<p:selectOneMenu id="cboMotiveReject" style="width:258px;"
											widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
											value="#{requestReversalsMgmBean.requestReversalTO.motiveReject}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{requestReversalsMgmBean.searchReversalsTO.lstMotiveReject}"
												var="mot" itemValue="#{mot.parameterTablePk}"
												itemLabel="#{mot.description}" />
											<p:ajax process="@this" update="opnlMotiveReject" event="change" />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>
										<p:message for="cboMotiveReject" display="icon" />
									</h:panelGrid></td>
							</tr>
							<tr>							
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field"
										id="idTxtMotive"
										rendered="#{motiveReject.OTHER.code == requestReversalsMgmBean.requestReversalTO.motiveReject}" />
								</td>
								<td><h:panelGrid columns="2">
										<p:inputText size="60" label="#{msgs['lbl.other.motive']}"
											rendered="#{motiveReject.OTHER.code == requestReversalsMgmBean.requestReversalTO.motiveReject}"
											maxlength="60"
											value="#{requestReversalsMgmBean.requestReversalTO.motiveRejectOther}"
											id="txtOtherMotive">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											<p:ajax global="false" update="txtOtherMotive mggOtherMotive" event="blur" />
											<f:validator validatorId="inputRequiredValidator"/>
										</p:inputText>
										<p:message for="txtOtherMotive" display="icon" id="mggOtherMotive"/>
									</h:panelGrid></td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}"
								icon="fa fa-save"
								actionListener="#{requestReversalsMgmBean.beforeAction}"
								update=":opnlDialogs :opnlGenericDialogs :frmUnBlockRequest:outPnlDialogs" />
							<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack"
								icon="fa fa-undo" type="button"
								onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotiveReject:cmbProcessBackMotive')" />
							<p:commandButton id="cmbProcessBackMotive"
								value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
								actionListener="#{requestReversalsMgmBean.closeDialogRejectMotive}"
								process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
				<p:confirmDialog id="cnfBackMotive"
					message="#{gmsgs['message.back']}" severity="alert"
					header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
						process="@this" update=":opnlDialogs"						
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
			</h:form>		  
		  </p:outputPanel>
		  
		
	</ui:define>
</ui:composition>
</html>
