<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">		
	<h:form id="frmBlockOperation">
	<table width="100%">		
		<tr> 
			<td>
			<p:fieldset legend="#{msgs['lbl.reversal.view.blockOperation.title']}">
				<table width="100%">
					<tr>
						<td width="20%">
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockNumber']}" /></b>
						</td>
						<td width="30%">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.operationNumber}"/>
						</td>				
						<td width="20%">
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockForm']}"/></b>
						</td>
						<td width="30%">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.formAffectation}" size="40"/>
						</td>
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockType']}" /></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.blockType}"/>
						</td>	
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockLevel']}" /></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.blockLevel}"/>
						</td>					
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.actualQuantity']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.currentAmount}" styleClass="content-right">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</p:inputText>
						</td>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.originalQuantity']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.amount}" styleClass="content-right">
									<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</p:inputText>
						</td>						
					</tr>					
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.rnt']}" /></b>
						</td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idHolderPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.holderDescription}"/>
							</h:panelGrid>
						</td>							
					</tr>									
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.accountNumber']}" /></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.accountNumber}"/>
						</td>	
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.alternateCode']}" /></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.alternateCode}"/>
						</td>
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockEntity']}"/></b>
						</td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idBlockEntityPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.blockEntityName}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.participant']}" rendered="#{!requestReversalsMgmBean.flagIssuerBlock}"/></b>
						</td>
						<td colspan="3">
							<p:selectOneMenu value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idParticipantPk}" disabled="true" rendered="#{!requestReversalsMgmBean.flagIssuerBlock}">
								<f:selectItem itemValue="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idParticipantPk}"
									itemLabel="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.participantDescription} - #{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idParticipantPk}"/>
							</p:selectOneMenu>
						</td>					
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['commons.label.securityKey']}"/></b>
						</td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.idSecurityCodePk}" size="15" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.isinDescription}"/>
							</h:panelGrid>
						</td>
					</tr>					
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.registryUser']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.registryUser}"/>
						</td>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.blockState']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.state}"/>
						</td>						
					</tr>	
					<tr>							
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.registryDate']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.registryDate}" size="10">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:inputText>
						</td>												
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.confirmDate']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.confirmDate}" size="10">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<b ><h:outputText value="#{msgs['lbl.reversal.view.blockOperation.benefits']}" /></b>
						</td>
						<td colspan="3">
							<ui:repeat var="paraTabBene" value="#{requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.lstBenefits}">
								<p:selectBooleanCheckbox disabled="true" value="#{paraTabBene.parameterName != null}" itemLabel="#{paraTabBene.parameterName}">
								</p:selectBooleanCheckbox> 
							<p:spacer width="10"/>	
							</ui:repeat>
							<h:outputText value="#{msgs['msg.affectation.blockOperation.no.benefits']}" rendered="#{empty requestReversalsMgmBean.searchReversalsTO.blockOpeForReverTO.lstBenefits}" styleClass="required-field"/>
          				</td>						
					</tr>
				</table>
			</p:fieldset>		
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">				
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"	oncomplete="PF('dlgWBlockOpe').hide()"/>
			</td>
		</tr>
	</table>
	</h:form>	
</html>
