<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:form id="frmBank">
<table id="tblGeneral" width="100%">	
	<tr>
		<td>
		<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['isettlement.bank.accounts.manage.title']}" styleClass="title-page" />
				</td>
				<td align="right">					
					<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" action="registerBankAccounts" 
							 actionListener="#{manageBankAccountsBean.registryBankAccountHandler}" icon="fa fa-edit" 
							 rendered="#{manageBankAccountsBean.userInfo.userAcctions.register}"/>
				</td>																					
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldBank" legend="#{gmsgs['lbl.criteria.search']}">
		
		<table width="100%">		
		<tr>
			<td><h:outputText value="#{msgs['lbl.banks.accounts.institution.type']} (*)" styleClass="required-field"/></td>
			<td>		
				<h:panelGrid columns="2">
					<p:selectOneMenu id="institutionType" value="#{manageBankAccountsBean.searchBankAccountsTO.institutionType}"
						label="#{msgs['lbl.banks.accounts.institution.type']}" style="width:200px" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsTO.lstInstitutionType}" 
							var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
						<p:ajax event="change" process="@this" 	update=":frmBank:opnlLbl :frmBank:opnlParticipant 
						 :frmBank:opnlIssuer :frmBank:opnlBank :frmBank:institutionType :frmBank:msgInstitutionType pnlButtons opnlResult" 
						 listener="#{manageBankAccountsBean.cleanDataModel}"/>															
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
					</p:selectOneMenu>	
					<p:message for="institutionType" display="icon" id="msgInstitutionType"/>	
				</h:panelGrid>										
			</td>	
			<td>
				<p:outputPanel id="opnlLbl">
					<h:outputText value="#{msgs['lbl.banks.accounts.participant']}" rendered="#{manageBankAccountsBean.indInstitutionTypeParticipantSearch}"/>
					<h:outputText value="#{msgs['lbl.banks.accounts.issuer']}"  rendered="#{manageBankAccountsBean.indInstitutionTypeIssuerSearch}"/>
					<h:outputText value="#{msgs['lbl.banks.accounts.bank']}" rendered="#{manageBankAccountsBean.indInstitutionTypeBankSearch}"/>
				</p:outputPanel>
			</td>
			<td>
				<p:outputPanel id="opnlParticipant">				
						<p:selectOneMenu id="participant" value="#{manageBankAccountsBean.searchBankAccountsTO.idParticipantPk}" style="width:200px"
							label="#{msgs['currency.settlement.participant.applicant']}"  rendered="#{manageBankAccountsBean.indInstitutionTypeParticipantSearch}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsTO.lstParticipant}" 
								var="negoModa" itemValue="#{negoModa.idParticipantPk}" itemLabel="#{negoModa.mnemonic} - #{negoModa.idParticipantPk} - #{negoModa.description}"/>
								<p:ajax event="change" process="@this" update=":frmBank:participant pnlButtons opnlResult" 
								listener="#{manageBankAccountsBean.cleanDataModel}"/>															
						</p:selectOneMenu>											
				</p:outputPanel>
				<p:outputPanel id="opnlIssuer">					
					<p:outputPanel id="opnlIssuerAux" rendered="#{manageBankAccountsBean.indInstitutionTypeIssuerSearch}">																	
						<ark:issuerHelper 													
									id="issuerHelper"
									issuer="#{manageBankAccountsBean.searchBankAccountsTO.issuer}"										
									required="false"
									remoteListener="rmtIssuer()" 														
									/>									
						<p:remoteCommand name="rmtIssuer" 
										global="false" onstart="PF('statusDialogCustom').show()"
										oncomplete="PF('statusDialogCustom').hide()"	
										actionListener="#{manageBankAccountsBean.searchIssuerHandlerSearch}" process="@this"
										update=":frmBank:opnlIssuer  pnlButtons opnlResult pnlConfirmDialog">
						</p:remoteCommand>
					</p:outputPanel>					
				</p:outputPanel>
				<p:outputPanel id="opnlBank">					
					<p:selectOneMenu id="bankInstitution" value="#{manageBankAccountsBean.searchBankAccountsTO.idBankInstitutionPk}"
						label="#{msgs['lbl.banks.accounts.bank']}"  rendered="#{manageBankAccountsBean.indInstitutionTypeBankSearch}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsTO.lstBankInstitution}" 
							var="parameter" itemValue="#{parameter.idBankPk}" itemLabel="#{parameter.description}"/>
						<p:ajax event="change" process="@this" update=":frmBank:bankInstitution pnlButtons opnlResult" 
							listener="#{manageBankAccountsBean.cleanDataModel}"/>														
					</p:selectOneMenu>		
				</p:outputPanel>
			</td>
			<td><h:outputText value="#{msgs['lbl.banks.state']}"/></td>
			<td>		
			<h:panelGrid columns="2">
				<p:selectOneMenu id="state" value="#{manageBankAccountsBean.searchBankAccountsTO.state}"
					label="#{msgs['lbl.banks.state']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsTO.lstState}" 
						var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
					<p:ajax event="change" process="@this" update=":frmBank:state :frmBank:msgState pnlButtons opnlResult" 
							listener="#{manageBankAccountsBean.cleanDataModel}"/>		
				</p:selectOneMenu>		
				<p:message for="state" display="icon" id="msgState"/>		
			</h:panelGrid>		 				
			</td>								
        </tr>        
		<tr>			
			<td>
			<h:outputText value="#{msgs['lbl.banks.accounts.number']}"/>
			</td>
			<td>			
				<p:inputText id="accNumber" value="#{manageBankAccountsBean.searchBankAccountsTO.accountNumber}"   
					size="39" maxlength="28">
					<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.accountNumber.not.space']}"/>
					<p:ajax event="click" global="false"	update=":frmBank:accNumber pnlButtons opnlResult" listener="#{manageBankAccountsBean.cleanDataModel}"/>					
				</p:inputText>		
			</td>	
			<td><h:outputText value="#{msgs['lbl.banks.initialdate']}"/></td>
			<td>				
				<h:panelGrid columns="2">
					<p:calendar value="#{manageBankAccountsBean.searchBankAccountsTO.initialDate}" id="calInitialDate" showOn="both" readonlyInput="true"
								pattern="#{cons['dateFormat']}" maxdate="#{manageBankAccountsBean.searchBankAccountsTO.finalDate}" navigator="true"
								disabledWeekends="true" size="10" maxlength="10">
						<p:ajax event="dateSelect" update="calInitialDate,calEndDate,pnlButtons,opnlResult" process="@this"/>
						<p:ajax event="change" update="calInitialDate,calEndDate,pnlButtons,opnlResult" process="@this"/>		
					</p:calendar>
					<p:message id="msgCalInitialDate" for="calInitialDate" display="icon"/>
				</h:panelGrid>					
											
			</td>
			<td><h:outputText value="#{msgs['lbl.banks.finaldate']}"/></td>
			<td colspan="3"> 
				<h:panelGrid columns="2">
					<p:calendar value="#{manageBankAccountsBean.searchBankAccountsTO.finalDate}" id="calEndDate" showOn="both" readonlyInput="true"  
								mindate="#{manageBankAccountsBean.searchBankAccountsTO.initialDate}" maxdate="#{manageBankAccountsBean.searchBankAccountsTO.currentDate}" pattern="#{cons['dateFormat']}" navigator="true"
								disabledWeekends="true" size="10">
						<p:ajax event="change" update="calInitialDate,calEndDate,pnlButtons,opnlResult" process="@this" />
						<p:ajax event="dateSelect" update="calInitialDate,calEndDate,pnlButtons,opnlResult" process="@this" />
					</p:calendar>
					<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
				</h:panelGrid>			
														
			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
								 update="opnlResult pnlButtons fldBank :opnlGenericDialogs"  
								 actionListener="#{manageBankAccountsBean.searchBankAccountsHandler}" 
								 rendered="#{manageBankAccountsBean.userInfo.userAcctions.search}"/>
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@this" 				 				
				 				 actionListener="#{manageBankAccountsBean.cleanBankAccountsSearchHandler}"
								 update="@form"
								 rendered="#{manageBankAccountsBean.userInfo.userAcctions.search}"/>									 						
			</td>
		</tr>
		</table>

		</p:fieldset>		
		</td>
	</tr>	
	<tr>
			<td width="100%" colspan="6">
				<p:outputPanel id="pnlButtons">						
					<p:outputPanel id="pnlButton" rendered="#{(manageBankAccountsBean.searchBankAccountsTODataModel.rowCount >= 1)}">	
						<comp:privileges actions="#{userInfo.userAcctions}" renders="#{userInfo.privilegeComponent}"
									 actionModify="#{manageBankAccountsBean.beforeModifyAction}" 
									 actionBlock="#{manageBankAccountsBean.beforeBlockAction}"
									 actionUnblock="#{manageBankAccountsBean.beforeUnblockAction}"> 									 
						</comp:privileges>							
					</p:outputPanel>						
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="6">
			<p:outputPanel id="opnlResult">	
			<p:outputPanel id="outPanelResult" rendered="#{manageBankAccountsBean.searchBankAccountsTODataModel != null}">
				<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{manageBankAccountsBean.searchBankAccountsTODataModel.rowCount>=1}">
					<p:dataTable id="dtbLoanableSecurities" var="placReq" value="#{manageBankAccountsBean.searchBankAccountsTODataModel}"
								 rendered="#{(manageBankAccountsBean.searchBankAccountsTODataModel.rowCount >= 1)}"
								 selection="#{manageBankAccountsBean.institutionBankAccountSession}"
								 paginator="true" rows="10"
								 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 rowKey="#{placReq.idInstitutionBankAccountPk}" 
								 style="width:100% !important">
								 
						<p:column selectionMode="single" style="width:18px" />
						<p:column sortBy="#{placReq.accountNumber}" headerText="#{msgs['lbl.banks.accounts.number']}" styleClass="content-center">
							<p:commandLink value="#{placReq.accountNumber}" style="color:blue" action="viewBankAccounts"
										   actionListener="#{manageBankAccountsBean.selectBankAccountsHandler(placReq)}"/>
						</p:column>	
						<p:column headerText="#{msgs['lbl.banks.accounts.institution']}" >
							<h:outputText value="#{placReq.descriptionInstitution}"/>
						</p:column>						
						<p:column headerText="#{msgs['lbl.banks.accounts.bank.provider']}" >
							<h:outputText value="#{placReq.descriptionBankClient}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.accounts.type']}" >
							<h:outputText value="#{placReq.descriptionBankAcountType}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.accounts.currency']}"  styleClass="content-center">
							<h:outputText value="#{placReq.descriptionCurrency}"/>
						</p:column>						
						<p:column headerText="#{msgs['lbl.banks.state']}" styleClass="content-center">
							<h:outputText value="#{placReq.stateDescription}"/>
						</p:column>
				        <f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{manageBankAccountsBean.searchBankAccountsTODataModel.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>						
						<p:ajax event="page" listener="#{manageBankAccountsBean.changePageDatatable}"/>
					</p:dataTable>
					
				</p:fieldset>
				
				<p:panel rendered="#{!(manageBankAccountsBean.searchBankAccountsTODataModel.rowCount >= 1)}">
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
						style="font-weight:bold;"/>	
			    </p:panel>		
			    
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>														
</table>
<p:outputPanel id="pnlConfirmDialog">
	</p:outputPanel>
</h:form>
	<p:outputPanel id="opnlDialogs">
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>