<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:outputText value="#{gmsgs['isettlement.bank.accounts.detail.title']}" styleClass="title-page"/>
		<script type="text/javascript">
		$(window).load(function(){
			   setInitialFormState('#frmRegBank');
		  });
		</script>
		<h:form id="frmRegBank">					
		<p:fieldset id="fldBankData" legend="#{msgs['lbl.register.data']}">
		<p:outputPanel id="pnlRegister">
		<table width="100%" id="tblBank" >
			<tr>
				<td><h:outputText value="#{msgs['lbl.banks.accounts.institution.type']} (*)" styleClass="required-field"/></td>
				<td>		
					<h:panelGrid columns="2">
						<p:selectOneMenu id="institutionType" value="#{manageBankAccountsBean.institutionBankAccountSession.institutionType}"
							label="#{msgs['lbl.banks.accounts.institution.type']}" style="width:200px" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstInstitutionType}" 
								var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
							<p:ajax event="change" process="@this" 	update=":frmRegBank:opnlLbl :frmRegBank:opnlParticipant 
							 :frmRegBank:opnlIssuer :frmRegBank:opnlBank :frmRegBank:institutionType :frmRegBank:msgInstitutionType" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="institutionType" display="icon" id="msgInstitutionType"/>	
					</h:panelGrid>										
				</td>	
				<td>
					<p:outputPanel id="opnlLbl">
						<h:outputText value="#{msgs['lbl.banks.accounts.participant']} (*)" styleClass="required-field" rendered="#{manageBankAccountsBean.indInstitutionTypeParticipant}"/>
						<h:outputText value="#{msgs['lbl.banks.accounts.issuer']} (*)" styleClass="required-field" rendered="#{manageBankAccountsBean.indInstitutionTypeIssuer}"/>
						<h:outputText value="#{msgs['lbl.banks.accounts.bank']} (*)" styleClass="required-field" rendered="#{manageBankAccountsBean.indInstitutionTypeBank}"/>
					</p:outputPanel>
				</td>
				<td colspan="5">
					<p:outputPanel id="opnlParticipant">
						<h:panelGrid columns="2">
							<p:selectOneMenu id="participant" value="#{manageBankAccountsBean.institutionBankAccountSession.participant.idParticipantPk}" disabled="true"
								label="#{msgs['currency.settlement.participant.applicant']}"  rendered="#{manageBankAccountsBean.indInstitutionTypeParticipant}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstParticipant}" 
									var="negoModa" itemValue="#{negoModa.idParticipantPk}" itemLabel="#{negoModa.mnemonic} - #{negoModa.idParticipantPk} - #{negoModa.description}"/>
								<p:ajax event="change" process="@this" update=":frmRegBank:participant :frmRegBank:msgParticipant" />									
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
							</p:selectOneMenu>	
							<p:message for="participant" display="icon" id="msgParticipant"/>	
						</h:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="opnlIssuer">						
						<p:outputPanel>
							<h:panelGrid columns="3">
								<p:inputText value="#{manageBankAccountsBean.institutionBankAccountSession.issuer.idIssuerPk}" disabled="true" size="10" rendered="#{manageBankAccountsBean.indInstitutionTypeIssuer}"/>
								<p:commandButton value="..." disabled="true" rendered="#{manageBankAccountsBean.indInstitutionTypeIssuer}"></p:commandButton>
								<p:inputText value="#{manageBankAccountsBean.institutionBankAccountSession.issuer.businessName}" disabled="true" size="50" rendered="#{manageBankAccountsBean.indInstitutionTypeIssuer}"/>
							</h:panelGrid>									
						</p:outputPanel>						
					</p:outputPanel>
					<p:outputPanel id="opnlBank">														
							<h:panelGrid columns="2">
								<p:selectOneMenu id="bankInstitution" value="#{manageBankAccountsBean.institutionBankAccountSession.bank.idBankPk}"
									label="#{msgs['lbl.banks.accounts.bank']}" disabled="true" rendered="#{manageBankAccountsBean.indInstitutionTypeBank}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstBankInstitution}" 
										var="parameter" itemValue="#{parameter.idBankPk}" itemLabel="#{parameter.description}"/>
									<p:ajax event="change" process="@this"
									update=":frmRegBank:bankInstitution :frmRegBank:msgBankInstitution" />									
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
								</p:selectOneMenu>	
								<p:message for="bankInstitution" display="icon" id="msgBankInstitution"/>	
							</h:panelGrid>						
					</p:outputPanel>
				</td>					
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['lbl.banks.type']} (*)" styleClass="required-field"/></td>
				<td>		
					<h:panelGrid columns="2">
						<p:selectOneMenu id="bankType" value="#{manageBankAccountsBean.institutionBankAccountSession.bankType}"
							label="#{msgs['lbl.banks.type']}" style="width:200px" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstBankType}" 
								var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
							<p:ajax event="change" listener="#{manageBankAccountsBean.validateBankType}" process="@this"
							update=":frmRegBank:bank :frmRegBank:msgBank :frmRegBank:bankType :frmRegBank:msgBankType" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="bankType" display="icon" id="msgBankType"/>	
					</h:panelGrid>										
				</td>		
				<td><h:outputText value="#{msgs['lbl.banks.accounts.bank.provider']} (*)" styleClass="required-field"/></td>
				<td colspan="5">		
					<h:panelGrid columns="2">
						<p:selectOneMenu id="bank" value="#{manageBankAccountsBean.institutionBankAccountSession.providerBank.idBankPk}"
							label="#{msgs['lbl.banks.accounts.bank.provider']}" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstBankProvider}" 
								var="parameter" itemValue="#{parameter.idBankPk}" itemLabel="#{parameter.description}"/>
							<p:ajax event="change" process="@this"
							update=":frmRegBank:bank :frmRegBank:msgBank" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="bank" display="icon" id="msgBank"/>	
					</h:panelGrid>										
				</td>						
			</tr>	
			<tr>
				<td><h:outputText value="#{msgs['lbl.banks.accounts.type']} (*)" styleClass="required-field"/></td>
				<td>		
					<h:panelGrid columns="2">
						<p:selectOneMenu id="typeAccount" value="#{manageBankAccountsBean.institutionBankAccountSession.bankAcountType}"
							label="#{msgs['lbl.banks.accounts.type']}" style="width:200px" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstBankAccountType}" 
								var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
							<p:ajax event="change" process="@this"
							update=":frmRegBank:typeAccount :frmRegBank:msgTypeAccount" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="typeAccount" display="icon" id="msgTypeAccount"/>	
					</h:panelGrid>										
				</td>
				<td>
				<h:outputText value="#{msgs['lbl.banks.accounts.number']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:inputText id="accNumber" value="#{manageBankAccountsBean.institutionBankAccountSession.accountNumber}"   
						size="39" maxlength="28" disabled="true">
						<p:keyFilter mask="alphanum" />
						<p:ajax event="blur" global="false"	update=":frmRegBank:accNumber :frmRegBank:msgAccNumber"/>
						<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
					</p:inputText>
					<p:message id="msgAccNumber" display="icon" for="accNumber"/>
					</h:panelGrid>
				</td>	
				<td><h:outputText value="#{msgs['lbl.banks.accounts.currency']} (*)" styleClass="required-field"/></td>
				<td colspan="5">		
					<h:panelGrid columns="2">
						<p:selectOneMenu id="currency" value="#{manageBankAccountsBean.institutionBankAccountSession.currency}"
							label="#{msgs['lbl.banks.accounts.currency']}" style="width:200px" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstCurrency}" 
								var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
							<p:ajax event="change" process="@this"
							update=":frmRegBank:currency :frmRegBank:msgCurrency" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="currency" display="icon" id="msgCurrency"/>	
					</h:panelGrid>										
				</td>	
			</tr>						
		</table>
		</p:outputPanel>
		</p:fieldset>		
		<p:outputPanel>
					<table align="center">
						<tr>
							<td colspan="4" width="100%" align="center">	
								<p:commandButton value="#{gmsgs['btn.block']}" icon="ui-lock" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{manageBankAccountsBean.beforeBlockHandler}" rendered="#{manageBankAccountsBean.viewOperationBlock}"/>
								<p:commandButton value="#{gmsgs['btn.unblock']}" icon="ui-unlock" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{manageBankAccountsBean.beforeUnBlockHandler}" rendered="#{manageBankAccountsBean.viewOperationUnBlock}"/>																			 
								<p:commandButton id="cmbBack" 							    
											     action="searchBankAccounts"		
												 value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo"
												 immediate="true"
												 disabled="#{manageBankAccountsBean.viewOperationModify}"
												 ajax="false"/>
							</td>						 							
						</tr>
					</table>
					</p:outputPanel>				
		<p:outputPanel id="pnlConfirmDialog">	
		
				<p:confirmDialog id="cnfFormMgmtRegister" widgetVar="cnfwFormMgmtRegister" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}"> 
							<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" process="@this"  
											 actionListener="#{manageBankAccountsBean.saveBankAccountsHandler}" update="pnlConfirmDialog"/>
							<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwFormMgmtRegister').hide()" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchBankAccounts.xhtml" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButton" value="#{gmsgs['btn.yes']}" actionListener="#{manageBankAccountsBean.processOperationHandler}"
			      			 			 oncomplete="PF('dialogwConfirm').hide()" update="pnlConfirmDialog" process="@this"/>
			      		<p:commandButton  value="#{gmsgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
					</p:confirmDialog>
					
					<p:dialog id="dialogMotive" resizable="false"  
						  header="#{msgs['lbl.motive.block']}" severity="alert" widgetVar="dialogWMotive" closable="false">
							<p:outputPanel id="opnlMotive">
								<table>
									<tr>
										<td width="120px">
											<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
										</td>
										<td>
										<h:panelGrid columns="2" rendered="true">
											<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}"  
															 value="#{manageBankAccountsBean.motiveControllerBlock.idMotivePK}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{manageBankAccountsBean.motiveControllerBlock.motiveList}" var="mot" 
															   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
												<p:ajax process="@this" update="msgCboMotive,opnlMotive" event="change" listener="#{manageBankAccountsBean.changeMotiveBlockHandler}" global="false"/>
											</p:selectOneMenu>
											<p:message for="cboMotive" display="icon" id="msgCboMotive"/>
										</h:panelGrid>											
										</td>											
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" 
														  rendered="#{manageBankAccountsBean.motiveControllerBlock.showMotiveText}"/>
										</td>
										<td>
											<p:inputText size="60" rendered="#{manageBankAccountsBean.motiveControllerBlock.showMotiveText}" maxlength="60"
														 value="#{manageBankAccountsBean.motiveControllerBlock.motiveText}" id="txtOtherMotive">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											</p:inputText>
										</td>
										<td width="50px" align="right">
											<p:message for="txtOtherMotive" display="icon"/>
										</td>
									</tr>
								</table>
							</p:outputPanel>
							<h:panelGrid columns="1" style="text-align:center" width="100%">
								<p:outputPanel>
									<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{manageBankAccountsBean.confirmMotiveBlockHandler}"
													 update="dialogConfirm opnlMotive" process="dialogConfirm dialogMotive"/>
									<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWMotive').hide()" type="button" />
								</p:outputPanel>
							</h:panelGrid>
						</p:dialog>
						
						<p:dialog id="dialogMotiveUnBlock" resizable="false"   
						  header="#{msgs['lbl.motive.unblock']}" severity="alert" widgetVar="dialogWMotiveUnBlock" closable="false">
							<p:outputPanel id="opnlMotiveUnBlock">
								<table>
									<tr>
										<td width="120px">
											<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
										</td>
										<td>
										<h:panelGrid columns="2" rendered="true">
											<p:selectOneMenu id="cboMotiveUnBlock" label="#{msgs['lbl.motive']}"  
															 value="#{manageBankAccountsBean.motiveControllerUnBlock.idMotivePK}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{manageBankAccountsBean.motiveControllerUnBlock.motiveList}" var="mot" 
															   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
												<p:ajax process="@this" update="msgCboMotiveUnBlock,opnlMotiveUnBlock" event="change" listener="#{manageBankAccountsBean.changeMotiveUnBlockHandler}" global="false"/>
											</p:selectOneMenu>
											<p:message for="cboMotiveUnBlock" display="icon" id="msgCboMotiveUnBlock"/>
										</h:panelGrid>											
										</td>											
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotiveUnBlock" 
														  rendered="#{manageBankAccountsBean.motiveControllerUnBlock.showMotiveText}"/>
										</td>
										<td>
											<p:inputText size="60" rendered="#{manageBankAccountsBean.motiveControllerUnBlock.showMotiveText}" maxlength="60"
														 value="#{manageBankAccountsBean.motiveControllerUnBlock.motiveText}" id="txtOtherMotiveUnBlock">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											</p:inputText>
										</td>
										<td width="50px" align="right">
											<p:message for="txtOtherMotiveUnBlock" display="icon" id="msgtxtOtherMotiveUnBlock"/>
										</td>
									</tr>
								</table>
							</p:outputPanel>
							<h:panelGrid columns="1" style="text-align:center" width="100%">
								<p:outputPanel>
									<p:commandButton id="enterMotiveUnBlock" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{manageBankAccountsBean.confirmMotiveUnBlockHandler}"
													 update="dialogConfirm opnlMotiveUnBlock" process="dialogConfirm dialogMotiveUnBlock"/>
									<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWMotiveUnBlock').hide()" type="button" />
								</p:outputPanel>
							</h:panelGrid>
						</p:dialog>
		</p:outputPanel>			
		</h:form>
	</ui:define>
	</ui:composition>
</html>