<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmCurrencySettlementRequest');
	});
</script>
<h:form id="frmCurrencySettlementRequest">
<table id="tblGeneral" width="100%">	
	<tr>
		<td>
		<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['isettlement.currencysettlementrequest.reversion.manage.title']}" styleClass="title-page" />
				</td>
				<td align="right">
					<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" 
							 action="#{currencySettlementReversionMgmtBean.registryCurrencySettlementRequestHandler}" icon="fa fa-edit" 
							 rendered="#{userPrivilege.userAcctions.register}"/>
				</td>																				
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldCurrencySettlementRequest" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">	
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.mechanism']}"/>
			</td>
			<td>				
				<p:selectOneMenu value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.idMechanismNegotiation}" 
				id="mechanismSelect" label="#{msgs['lbl.operation.mechanism']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstNegotiationMechanism}" var="mechanism"
								   itemValue="#{mechanism.idNegotiationMechanismPk}" itemLabel="#{mechanism.mechanismName}"/>
					<p:ajax event="change" process="@this" update="@this modality opnlResult pnlButtons" 
							listener="#{currencySettlementReversionMgmtBean.changeNegotitationMechanism}"/>			   
				</p:selectOneMenu>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.modality']}"/>
			</td>
			<td>				
				<p:selectOneMenu id="modality" value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.idModalityNegotiation}"
					label="#{msgs['lbl.operation.modality']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstNegotiationModality}" 
						var="negoModa" itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
				</p:selectOneMenu>			
			</td>
		</tr>	
		<tr>
        	<td>
				<h:outputText value="#{msgs['currency.settlement.participant.applicant']}"/>
			</td>
			<td>				
				<p:selectOneMenu id="participantApplicant" value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.idParticipant}"
					label="#{msgs['currency.settlement.participant.applicant']}" style="width:200px" disabled="#{userInfo.userAccountSession.participantInstitucion}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstParticipant}" 
						var="negoModa" itemValue="#{negoModa.idParticipantPk}" itemLabel="#{negoModa.displayDescriptionCode}"/>
				</p:selectOneMenu>			
			</td>	
			<td>
				<h:outputText value="#{msgs['currency.settlement.participant.counterpart']}"/>
			</td>
			<td>				
				<p:selectOneMenu id="participantCounterpart" value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.idParticipantCounterpart}"
					label="#{msgs['currency.settlement.participant.counterpart']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstParticipantCounterpart}" 
						var="negoModa" itemValue="#{negoModa.idParticipantPk}" itemLabel="#{negoModa.displayDescriptionCode}"/>
				</p:selectOneMenu>			
			</td>	
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationState']}"/>
			</td>
			<td>				
				<p:selectOneMenu id="state" value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.stateRequest}"
					label="#{msgs['lbl.operation.operationState']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstState}" 
						var="negoModa" itemValue="#{negoModa.parameterTablePk}" itemLabel="#{negoModa.parameterName}"/>
				</p:selectOneMenu>			
			</td>						
        </tr>    
        <tr>
        	<td>
				<h:outputText value="#{msgs['currency.settlement.number.ballot']}"/>
			</td>
			<td>
				<p:inputText maxlength="18" style="width:110px" size="18"  id="ballot"
				value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.ballotNumber}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
			<td>
				<h:outputText value="#{msgs['currency.settlement.number.sequential']}"/>
			</td>
			<td>
				<p:inputText maxlength="3" style="width:110px" size="3"  id="sequential"
				value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.sequentialNumber}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
			<td>
				<h:outputText value="#{msgs['currency.settlement.number.request']}"/>
			</td>
			<td>
				<p:inputText maxlength="10" style="width:110px" size="10"  id="request"
				value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.numberRequest}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
        </tr> 
        <tr>
			<td><h:outputText value="#{msgs['currency.settlement.code.security']}" /></td>
	        <td> 
	          <p:outputPanel id="helpSecurities">
	          <ark:securityHelper id="addSecurities"     
	                security="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.security}" />	 
	          </p:outputPanel> 
	        </td>   
	        <td><h:outputText value="#{msgs['currency.settlement.currency.settlement']}" /></td>
	        <td colspan="3"> 
	          <p:selectOneMenu id="currency" value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.currency}"
					label="#{msgs['currency.settlement.currency.settlement']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.lstCurrency}" 
						var="currency" itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
				</p:selectOneMenu>	
	        </td>    
		</tr>  
		<tr>
			<td>
				<h:outputText value="#{msgs['currency.settlement.initialdate']} (*)" styleClass="required-field"/>
			</td>
			<td>				
				<h:panelGrid columns="2" id="pnlInitialDate">
					<p:calendar value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.initialDate}" id="calInitialDate" showOn="button" readonlyInput="true"
								pattern="#{cons['dateFormat']}" maxdate="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.finalDate}" navigator="true"
								disabledWeekends="true" size="10">
								<p:ajax update="pnlInitialDate pnlFinalDate" event="dateSelect" global="false"/>
						<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
					</p:calendar>
					<p:message id="msgCalInitialDate" for="calInitialDate" display="icon"/>
				</h:panelGrid>									
			</td>
			<td>
				<h:outputText value="#{msgs['currency.settlement.finaldate']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3"> 
				<h:panelGrid columns="2" id="pnlFinalDate">
					<p:calendar value="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.finalDate}" id="calEndDate" showOn="button" readonlyInput="true"  
								mindate="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestTO.initialDate}" pattern="#{cons['dateFormat']}" navigator="true"
								disabledWeekends="true" size="10">
								<p:ajax update="pnlInitialDate pnlFinalDate" event="dateSelect" global="false"/>
						<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
					</p:calendar>
					<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
				</h:panelGrid>													
			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
								 update="opnlResult pnlButtons fldCurrencySettlementRequest" process="fldCurrencySettlementRequest" 
								 actionListener="#{currencySettlementReversionMgmtBean.searchCurrencySettlementRequestHandler}" 
								 rendered="#{userPrivilege.userAcctions.search}"/>
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@this" 
				 				 onclick="return showCleanConfirmDialog(this);"  oncomplete="PF('cnfwClean').hide()"  partialSubmit="false"
				 				 actionListener="#{currencySettlementReversionMgmtBean.cleanCurrencySettlementRequestSearchHandler}"
								 update="opnlResult pnlButtons @form"
								 rendered="#{userPrivilege.userAcctions.search}"/>							 						
			</td>
		</tr>
				
		</table>
		</p:fieldset>		
		</td>
	</tr>	
	<tr>
			<td width="100%" colspan="6">
				<p:outputPanel id="pnlButtons">						
					<p:outputPanel id="pnlButton" rendered="#{(currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel.rowCount >= 1)}">	
						<comp:privileges actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"
									 actionApprove="#{currencySettlementReversionMgmtBean.validateApproveAction}"
									 actionAnnular="#{currencySettlementReversionMgmtBean.validateAnnularAction}"
									 actionReview="#{currencySettlementReversionMgmtBean.validateReviewAction}"
									 actionConfirm="#{currencySettlementReversionMgmtBean.validateConfirmAction}" 
									 actionReject="#{currencySettlementReversionMgmtBean.validateRejectAction}" 
									 actionAuthorize="#{currencySettlementReversionMgmtBean.validateAuthorizeAction}">
						</comp:privileges>							
					</p:outputPanel>						
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="6">
			<p:outputPanel id="opnlResult">	
			<p:outputPanel id="outPanelResult" rendered="#{currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel != null}">
				<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel.rowCount>=1}">
					<p:dataTable id="dtbLoanableSecurities" var="currencyReq" value="#{currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel}"
								 rendered="#{(currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel.rowCount >= 1)}"
								 selection="#{currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest}"
								 paginator="true" rows="10"
								 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 rowKey="#{currencyReq.idSettlementRequest}" 
								 style="width:100% !important">
								 
						<p:column selectionMode="single" style="width:18px" />
						
						<p:column headerText="#{msgs['currency.settlement.number.request']}" styleClass="content-center" sortBy="#{currencyReq.idSettlementRequest}">
							<p:commandLink value="#{currencyReq.idSettlementRequest}" style="color:blue" action="viewCurrencySettlementReversion"
										   actionListener="#{currencySettlementReversionMgmtBean.selectCurrencySettlementRequestHandler(currencyReq)}"/>
						</p:column>	
						<p:column headerText="#{msgs['currency.settlement.participant.applicant']}" sortBy="#{currencyReq.sourceParticipant.displayCodeMnemonic}" >
							<h:outputText value="#{currencyReq.sourceParticipant.displayCodeMnemonic}"/>
						</p:column>
						<p:column headerText="#{msgs['currency.settlement.participant.counterpart']}" sortBy="#{currencyReq.targetParticipant.displayCodeMnemonic}" >
							<h:outputText value="#{currencyReq.targetParticipant.displayCodeMnemonic}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.operation.ballotSequential.br']}" sortBy="#{currop.ballotNumberSequential}">			
							<ui:repeat value="#{currencyReq.settlementRequestDetail}" var="currop">
					           <li><h:outputFormat value="#{currop.ballotNumberSequential}" /></li>
					         </ui:repeat>            							
						</p:column>	
						<p:column headerText="#{msgs['lbl.operation.operationNumber']}" sortBy="#{currop.operationNumber}">			
							<ui:repeat value="#{currencyReq.settlementRequestDetail}" var="currop">
					           <li><h:outputFormat value="#{currop.operationNumber}" /></li>
					         </ui:repeat>            							
						</p:column>	
						<p:column headerText="#{msgs['lbl.operation.operationCurrency']}" sortBy="#{currop.currencyDescription}">			
							<ui:repeat value="#{currencyReq.settlementRequestDetail}" var="currop">
					           <li><h:outputFormat value="#{currop.currencyDescription}" /></li>
					         </ui:repeat>            							
						</p:column>	
						<p:column headerText="#{msgs['currency.settlement.currency.settlement']}" sortBy="#{currop.settlementCurrencyDescription}">			
							<ui:repeat value="#{currencyReq.settlementRequestDetail}" var="currop">
					           <li><h:outputFormat value="#{currop.settlementCurrencyDescription}" /></li>
					         </ui:repeat>            							
						</p:column>	
						<p:column headerText="#{msgs['lbl.operation.operationState']}" styleClass="content-center" sortBy="#{currencyReq.stateDescription}">
							<h:outputText value="#{currencyReq.stateDescription}"/>
						</p:column>
				        <f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>						
						<p:ajax event="page" listener="#{currencySettlementReversionMgmtBean.changePageDatatable}"/>
					</p:dataTable>
					
				</p:fieldset>
				
				<p:panel rendered="#{!(currencySettlementReversionMgmtBean.currencySettlementRequestsDataModel.rowCount >= 1)}">
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
						style="font-weight:bold;"/>	
			    </p:panel>		
			    
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>								
</table>

</h:form>
	<p:outputPanel id="opnlDialogs">
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>