<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<ui:composition template="/template/default.xhtml">	
		<ui:define name="body">		
			<h:outputText value="#{gmsgs['isettlement.currencysettlementrequest.reversion.detail.title']}"  styleClass="title-page" />
			<h:form id="frmCurrencySettlement">
				<p:fieldset legend="#{msgs['lbl.register.data']}" id="flsMechanismOperationRequest">
					<p:outputPanel id="pnlRegister">
					<table width="100%" id="tblCurrencySettlement">
						<tr>						
							<td>
								<h:outputText value="#{msgs['currency.settlement.requestDate']} (*)" styleClass="required-field"/>
							</td>
							<td colspan="3">				
								<p:calendar value="#{currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.registerDate}" 
									id="calInitialDate" showOn="button" readonlyInput="true"
									pattern="#{cons['dateFormat']}" disabled="true"
									disabledWeekends="true" size="10">
								</p:calendar>
							</td>											
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['currency.settlement.participant.applicant']} (*)" styleClass="required-field"/>
							</td>
							<td>		
								<p:selectOneMenu id="participantApplicant" label="#{msgs['currency.settlement.participant.applicant']}"  disabled="true">
									<f:selectItem itemLabel="#{currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.sourceParticipant.displayDescriptionCode}"/>
								</p:selectOneMenu>	
							</td>	
							<td>
								<h:outputText value="#{msgs['currency.settlement.participant.counterpart']} (*)" styleClass="required-field"/>
							</td>
							<td>		
								<p:selectOneMenu id="participantCounterPart" label="#{msgs['currency.settlement.participant.counterpart']}"  disabled="true">
									<f:selectItem itemLabel="#{currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.targetParticipant.displayDescriptionCode}"/>
								</p:selectOneMenu>									
							</td>											
						</tr>
						</table>
					</p:outputPanel>
				</p:fieldset>
				
				<p:outputPanel id="opnlResult">					    										
				<p:outputPanel id="outPanelResult" rendered="#{not empty currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail}">
						<p:dataTable id="dtbCurrencySettlementAux" var="currencyOp" 
							value="#{currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail}"
							 paginator="true" rows="10"
							 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
							 rowKey="#{currencyOp.idCurrencySettlement}" 
							 style="width:100% !important">

							<p:column headerText="#{msgs['lbl.operation.modality']}" >														
								<h:outputText value="#{currencyOp.modalityName}" />	
							</p:column>
							<p:column headerText="#{msgs['lbl.operation.ballotSequential.br']}" styleClass="content-center">														
								<h:outputText value="#{currencyOp.ballotNumberSequential}"/>	
							</p:column>									
							<p:column headerText="#{msgs['lbl.operation.security.classCode']}" >														
								<h:outputText value="#{currencyOp.idSecurityCode}" />	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.currency.security']} " styleClass="content-center">														
								<h:outputText value="#{currencyOp.currencyDescription}" />	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.quantity']} " styleClass="content-right">
								<h:outputText value="#{currencyOp.stockQuantity}" >
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
								</h:outputText>												
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.price']} " styleClass="content-right">														
								<h:outputText value="#{currencyOp.initialSettlementPrice}"  >
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
								</h:outputText>	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.amount']} " styleClass="content-right">														
								<h:outputText value="#{currencyOp.initialSettlementAmount}" >
									<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								</h:outputText>	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.currency.settlement']} ">		
								<h:outputText value="#{currencyOp.settlementCurrencyDescription}"  >
								</h:outputText>												
							</p:column>												
							<p:column headerText="#{msgs['currency.settlement.exchange.rate']} " styleClass="content-right">												
								<h:outputText  id="exchangeRateA" value="#{currencyOp.exchangeRate}" >
									<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.price']}"/>														
								</h:outputText> 												
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.new.price']} " styleClass="content-right">	
								<h:outputText id="newPrice" styleClass="content-right"
										value="#{currencyOp.settlementPrice}" disabled="true">
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>																								
								</h:outputText>																									
							</p:column>
							<p:column headerText="#{msgs['currency.settlement.new.amount']} " styleClass="content-right">	
								<h:outputText  id="newAmount" styleClass="content-right"
										value="#{currencyOp.settlementAmount}" disabled="true">	
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>																																
								</h:outputText>																									
							</p:column>	
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{fn:length(currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail)}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>																					       				
							<p:ajax event="page" listener="#{currencySettlementReversionMgmtBean.changePageDatatable}"/>
						</p:dataTable>																			    
				</p:outputPanel>										
				</p:outputPanel>
				
				<p:outputPanel>
					<table align="center">
						<tr>
							<td colspan="4" width="100%" align="center">
								<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" rendered="#{currencySettlementReversionMgmtBean.viewOperationApprove}"/>
								<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-remove" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" rendered="#{currencySettlementReversionMgmtBean.viewOperationAnnul}"/>
								<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-review" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" rendered="#{currencySettlementReversionMgmtBean.viewOperationReview}"/>			 
								<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" rendered="#{currencySettlementReversionMgmtBean.viewOperationReject}"/>
								<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" update="pnlConfirmDialog" process="@this"
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" global="false" rendered="#{currencySettlementReversionMgmtBean.viewOperationConfirm}"/>											 
								<p:commandButton value="#{gmsgs['btn.authorize']}" icon="ui-config" update="pnlConfirmDialog" process="@this"
											 actionListener="#{currencySettlementReversionMgmtBean.beforeDoAction()}" global="false" rendered="#{currencySettlementReversionMgmtBean.viewOperationAuthorize}"/>			 
								<p:commandButton id="cmbBack" action="searchCurrencySettlementReversion" value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo" immediate="true" ajax="false"/>																					 							 
							</td>
						</tr>
					</table>
					</p:outputPanel>
					
					<p:importEnum type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instType"/>
					
					<p:outputPanel id="pnlConfirmDialog">
					
					
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchCurrencySettlementReversion" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButton" value="#{gmsgs['btn.yes']}" actionListener="#{currencySettlementReversionMgmtBean.doActionHandler}"
			      			 			 oncomplete="PF('dialogwConfirm').hide()" update="pnlConfirmDialog" process="@this"/>
			      		<p:commandButton  value="#{gmsgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
					</p:confirmDialog>
					
					<p:dialog id="dialogMotive" resizable="false"  modal="true" 
					  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotive" closable="false">
						<p:outputPanel id="opnlMotive">
							<table>
								<tr>
									<td width="120px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
									</td>
									<td>
									<h:panelGrid columns="2" rendered="true">
										<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}"  widgetVar="cnfwCboMotiveAnnul"
														 value="#{currencySettlementReversionMgmtBean.motiveControllerAnnul.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{currencySettlementReversionMgmtBean.motiveControllerAnnul.motiveList}" var="mot" 
														   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
											<p:ajax process="@this" update="msgCboMotive,opnlMotive" event="change" listener="#{currencySettlementReversionMgmtBean.changeMotiveAnnulHandler}" global="false"/>
											<f:validator validatorId="selectOneRequiredValidator"/>		
										</p:selectOneMenu>
										<p:message for="cboMotive" display="icon" id="msgCboMotive"/>
									</h:panelGrid>											
									</td>											
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" 
													  rendered="#{currencySettlementReversionMgmtBean.motiveControllerAnnul.showMotiveText}"/>
									</td>
									<td>
										<p:inputText size="60" rendered="#{currencySettlementReversionMgmtBean.motiveControllerAnnul.showMotiveText}" maxlength="60"
													 value="#{currencySettlementReversionMgmtBean.motiveControllerAnnul.motiveText}" id="txtOtherMotive" required="true"
													 requiredMessage="#{msgs['lbl.other.motive']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
									</td>
									<td width="50px" align="right">
										<p:message for="txtOtherMotive" display="icon"/>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{currencySettlementReversionMgmtBean.confirmMotiveAnnulHandler}"
												 update="dialogConfirm opnlMotive" process="dialogConfirm dialogMotive"/>
								
								<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBackAnnul"
										icon="fa fa-undo" type="button"
										onclick="isModifiedFormForBackMotive(cnfwCboMotiveAnnul,'frmCurrencySettlement:cmbProcessBackMotiveAnnul')"  >
										<f:param name="skipValidation" value="true"/>
									</p:commandButton>
							
								<p:commandButton id="cmbProcessBackMotiveAnnul" value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
										process="@this" update="dialogMotive dialogConfirm" onclick="PF('dialogWMotive').hide()" />
								
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
						
					<p:dialog id="dialogMotiveReject" resizable="false"  modal="true" 
					  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotiveReject" closable="false">
						<p:outputPanel id="opnlMotiveReject">
							<table>
								<tr>
									<td width="120px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
									</td>
									<td>
									<h:panelGrid columns="2" rendered="true">
										<p:selectOneMenu id="cboMotiveReject" label="#{msgs['lbl.motive']}"  widgetVar="cnfwCboMotive"
														 value="#{currencySettlementReversionMgmtBean.motiveControllerReject.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{currencySettlementReversionMgmtBean.motiveControllerReject.motiveList}" var="mot" 
														   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
											<p:ajax process="@this" update="msgCboMotiveReject,opnlMotiveReject" event="change" listener="#{currencySettlementReversionMgmtBean.changeMotiveRejectHandler}" global="false"/>
											<f:validator validatorId="selectOneRequiredValidator"/>		
										</p:selectOneMenu>
										<p:message for="cboMotiveReject" display="icon" id="msgCboMotiveReject"/>
									</h:panelGrid>											
									</td>											
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotiveReject" 
													  rendered="#{currencySettlementReversionMgmtBean.motiveControllerReject.showMotiveText}"/>
									</td>
									<td>
										<p:inputText size="60" rendered="#{currencySettlementReversionMgmtBean.motiveControllerReject.showMotiveText}" maxlength="60"
													 value="#{currencySettlementReversionMgmtBean.motiveControllerReject.motiveText}" id="txtOtherMotiveReject" required="true"
													 requiredMessage="#{msgs['lbl.other.motive']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
									</td>
									<td width="50px" align="right">
										<p:message for="txtOtherMotiveReject" display="icon"/>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotiveReject" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{currencySettlementReversionMgmtBean.confirmMotiveRejectHandler}"
												 update="dialogConfirm opnlMotiveReject" process="dialogConfirm dialogMotiveReject"/>
								
								<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack"
									icon="fa fa-undo" type="button"
									onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmCurrencySettlement:cmbProcessBackMotive')"  >
									<f:param name="skipValidation" value="true"/>
								</p:commandButton>
							
								<p:commandButton id="cmbProcessBackMotive" value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
										process="@this" update="dialogMotiveReject dialogConfirm" onclick="PF('dialogWMotiveReject').hide()" />
								
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
					
					<p:confirmDialog id="cnfBackMotive"
						message="#{gmsgs['message.back']}" severity="alert"
						header="#{gmsgs['lbl.header.alert']}" widgetVar="cnfwBackMotive"
						closable="false">
						<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
							process="@this" update="dialogMotiveReject dialogMotive"
							oncomplete="PF('cnfwBackMotive').hide();PF('dialogWMotiveReject').hide(); PF('dialogWMotive').hide();" />
						<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
							onclick="PF('cnfwBackMotive').hide()" type="button" />
					</p:confirmDialog>
			 		
				</p:outputPanel>			
					
			</h:form>
		</ui:define>
	</ui:composition>
</html>	 