<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script>
/*$(window).load(function(){
	setInitialFormState('#contentForm');
});*/
</script>
<h:outputText value="#{gmsgs['iCustody.retirement.securities.register']}" styleClass="title-page" /> 	
<h:form id="contentForm">
<p:importConstants type="com.pradera.model.custody.affectation.type.AffectationType" var="affectationType" />  
<p:importConstants type="com.pradera.model.custody.type.RetirementOperationMotiveType" var="retirementMotiveType" />
<table width="100%">
	<tr>
		<td>
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.register.data']}">
			<table width="100%">
			
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.custody.operation.retirement.motive']} (*)"  styleClass="required-field"/>
				</td>
				<td width="80%">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="motiveId" label="#{msgs['lbl.custody.operation.retirement.motive']}"  
						value="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive}" style="width:210px;">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{retirementOperationBean.lstMotives}" 
							var="motive" itemLabel="#{motive.parameterName}" itemValue="#{motive.parameterTablePk}"/>
						<p:ajax event="change" process="@this" update=":opnlGenericDialogs contentForm:fldsFiltros contentForm:panelRegistros" 
							listener="#{retirementOperationBean.onchangeMotive()}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
					</p:selectOneMenu>
					<p:message id="motiveIdMsg" for="motiveId" display="icon"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['participant.lbl']} (*)" styleClass="required-field" rendered="#{!(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}" />
					<h:outputText value="#{gmsgs['participant.lbl']} " styleClass="required-field" rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code}" />
				</td>
				<td>
					<h:panelGrid id="pnlParticipantLogin" columns="2">
					<p:selectOneMenu label="#{msgs['lbl.custody.operation.participant']}" id="participantLoginId" 
						value="#{retirementOperationBean.registerRetirementOperation.selectedParticipant.idParticipantPk}"
						disabled="#{retirementOperationBean.flagParticipantLogin}">
						<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{retirementOperationBean.lstParticipant}" var="participant" 
							itemLabel="#{participant.getDisplayDescriptionCode()}"
							itemValue="#{participant.idParticipantPk}"/>
						<p:ajax update="@this contentForm:fldsFiltros contentForm:panelRegistros" 
								event="change" listener="#{retirementOperationBean.onchangeParticipant()}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" 
									 rendered="#{!(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}" />
					</p:selectOneMenu>
					<p:message id="participantLoginIdMsg" for="participantLoginId" display="icon"
								rendered="#{!(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td> 
					<ui:remove>
					<!-- rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.REVERSION.code}" -->
					</ui:remove>
					<h:outputText value="#{gmsgs['holder.lbl.code']} " styleClass="required-field" />
				</td>
				<td>
					<p:outputPanel id="opnlHolderHelperParcial" >
						<ark:holderHelper id="hlpHolderParcial" 
							  holder="#{retirementOperationBean.registerRetirementOperation.holder}" 
							  participant="#{retirementOperationBean.registerRetirementOperation.selectedParticipant.idParticipantPk}"
							  blParticipant="true"
			 				  remoteListener="afterAccountHelperParcial()"
			 				  />				
			 				  <ui:remove>
			 				  <!-- 
							  required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
							   -->
			 				  </ui:remove>		                    
	                   	<p:remoteCommand name="afterAccountHelperParcial" actionListener="#{retirementOperationBean.onChangeHolder}"
								process="@this" update="@this contentForm:fldsFiltros contentForm:panelRegistros :opnlGenericDialogs"/>
	                 </p:outputPanel>   					 
				</td>
			</tr>
			<tr> 
				<td valign="middle">
					<p:outputPanel id="idLabelAccount">
					<h:outputText value="#{gmsgs['account.lbl.code']} " styleClass="required-field"  />
					</p:outputPanel>
				</td>
				<td> 
					<p:outputPanel id="idHolderAccount" >
			           <p:dataTable id="tblResultHelperAccountSource"
        							 rendered="#{not empty retirementOperationBean.registerRetirementOperation.lstHolderAccounts}"
								 	 value="#{retirementOperationBean.registerRetirementOperation.lstHolderAccounts}" var="account"
							     	 rowKey="#{account.idHolderAccountPk}"
								 	 selection="#{retirementOperationBean.registerRetirementOperation.selectedHolderAccount}">
							
							<p:column selectionMode="single" styleClass="content-center" />
							<p:ajax event="rowSelectRadio" listener="#{retirementOperationBean.validateHolderAccount}" update="@form contentForm:idSourceSecurity:componentSecPaHolAccHelper :opnlGenericDialogs" />
									
							<p:column headerText="#{msgs['lbl.splitcoupons.register.account.number']}" 	styleClass="content-center">
								<h:outputText value="#{account.accountNumber}" />
							</p:column>
							<p:column
													headerText="#{msgs['lbl.splitcoupons.register.account.alternate']}"
													styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
							<p:column headerText="#{gmsgs['participant.lbl']}" styleClass="content-center">
								<h:outputText value="#{account.participant.mnemonic} - #{account.participant.idParticipantPk}"  /> 
							</p:column>														
							<p:column headerText="#{msgs['lbl.splitcoupons.register.account.type']}" styleClass="content-center" >
								<h:outputText value="#{retirementOperationBean.parametersTableMap.get(account.accountType)}" />
							</p:column>
							<p:column headerText="Descripción Inversionista" styleClass="content-left" >
								<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
							</p:column>
							
							<p:column headerText="#{msgs['commons.label.AccountHolder.state']}"  styleClass="content-center">
								<h:outputText value="#{retirementOperationBean.parametersTableMap.get(account.stateAccount)}" />
							</p:column>	
						</p:dataTable>
					 </p:outputPanel>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputText value="#{msgs['deposito.cert.manage.emisor']}" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="issuerId" label="#{msgs['deposito.cert.manage.emisor']}" 						  
						value="#{retirementOperationBean.registerRetirementOperation.retirementOperation.issuer.idIssuerPk}" style="width:210px;">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{retirementOperationBean.lstIssuer}" var="issuerVar" itemLabel="#{issuerVar.businessName}" itemValue="#{issuerVar.idIssuerPk}"/>
						<p:ajax event="change" process="@this" partialSubmit="true" update="@this contentForm:pnlSecurity"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['security.lbl.code']}" styleClass="required-field"/>
				</td>
				<td>
				
					<p:outputPanel id="pnlSecurity">
						<ui:remove>
						<h:panelGrid columns="3" cellspacing="0" cellpadding="0" 
							rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code}" >	
						  	<ark:securityHelper id="hlpSecurity" security="#{retirementOperationBean.registerRetirementOperation.retirementOperation.security}"
				     			  name="secHelper" 
				     			  issuer="#{retirementOperationBean.registerRetirementOperation.retirementOperation.issuer}"
				     			  label="#{gmsgs['security.lbl.code']}"
								  remoteListener="rcmdAfterSecurityHelper()"/>					
						<p:message id="hlpSecurityMsg" for=":contentForm:hlpSecurity:hlpSecurity" display="icon"/>					
						<p:remoteCommand name="rcmdAfterSecurityHelper" 
										 actionListener="#{retirementOperationBean.validateSecurity()}"
										 update="fldsFiltros panelRegistros :opnlGenericDialogs " process="@this"/>
							
						</h:panelGrid>
						</ui:remove>
						
						<h:panelGrid columns="2" id="pnlGril" cellspacing="0" cellpadding="0" 
							rendered="#{ (retirementOperationBean.registerRetirementOperation.selectedHolderAccount != null and retirementOperationBean.registerRetirementOperation.selectedHolderAccount.idHolderAccountPk!=null) }">
							<ark:securities-acc-full
								id="idSourceSecurity"
								remoteListener="validSecuritieOrigin()" 
								value="#{retirementOperationBean.registerRetirementOperation.retirementOperation.security}"
								partCode="#{retirementOperationBean.registerRetirementOperation.selectedParticipant.idParticipantPk}"
								holderAccount="#{retirementOperationBean.registerRetirementOperation.selectedHolderAccount}"
								disabled="#{retirementOperationBean.registerRetirementOperation.selectedHolderAccount == null or retirementOperationBean.registerRetirementOperation.selectedHolderAccount.idHolderAccountPk==null}"
								description="#{retirementOperationBean.registerRetirementOperation.retirementOperation.security.idSecurityCodePk != null}"
								/>
								<ui:remove>
								<!-- 
								required="true"
								validatorName="com.pradera.commons.view.validators.InputTextValidator"
								 -->
								 </ui:remove>
							<ark:securities-help
								securityCode="#{retirementOperationBean.registerRetirementOperation.retirementOperation.security.idSecurityCodePk}"
								id="helpSourceSecurity" />
							<p:remoteCommand name="validSecuritieOrigin" actionListener="#{retirementOperationBean.validateSecurity()}" 
								     process="@this" update="fldsFiltros panelRegistros :opnlGenericDialogs" />
							<p:message for="idSourceSecurity" id="msgValor" display="icon" />
						</h:panelGrid>
					
					</p:outputPanel>										
										
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['deposito.cert.manage.money']}" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="currencyId" label="#{msgs['deposito.cert.manage.money']}"						  
						value="#{retirementOperationBean.registerRetirementOperation.retirementOperation.currency}" style="width:210px;">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{retirementOperationBean.lstCurrency}" 
							var="issuerVar" itemLabel="#{issuerVar.parameterName}" itemValue="#{issuerVar.parameterTablePk}"/>
						<p:ajax event="change" process="@this" update="@form"/>
						<ui:remove>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						</ui:remove>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="Fecha Vencimiento Corporativo (*)" styleClass="required-field"
						rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code}" />
				</td>
				<td>
					<p:calendar size="11" value="#{retirementOperationBean.registerRetirementOperation.retirementOperation.corporativePaymentDate}"
							rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code or retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_GUARD_EXCLUSIVE.code}" 
							showOn="both" readonlyInput="true" navigator="true" id="idCorporativeExpirationDate" maxdate="#{retirementOperationBean.maxRegisterDate}"
							pattern="#{gmsgs['calendar.date.format']}">
						<p:ajax process="@this" update="@this" global="false" event="dateSelect"/>
					</p:calendar>
				</td>
			</tr>
			
							
			<tr> 
				<td colspan="2" align="center">  
					<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" update="@form :opnlGenericDialogs" 
									  process="fldsFiltros" disabled="#{retirementOperationBean.totalRemoval }" partialSubmit="true"
								 	  actionListener="#{retirementOperationBean.searchHolderAccountsBalances()}">
						
					</p:commandButton>
  				</td>
			</tr>
			</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id='panelRegistros'>
			
				<p:fieldset id="fsCertificado" legend="Datos del certificado" rendered="#{retirementOperationBean.lstRegisterRetirementDetail != null}" >
				
					<p:commandButton id="btnToogle" value="Marcar / Desmarcar todos" update="@form" 
								 	  actionListener="#{retirementOperationBean.toggleSelectCertificado}">
					</p:commandButton>
					
					<p:dataTable id="dtbResultDetail" var="retirementDetail" rowIndexVar="rowInd"
							paginator="true" rows="50" paginatorPosition="top"
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="50,100,150,200"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							value="#{retirementOperationBean.lstRegisterRetirementDetail}"
							rowKey="#{retirementDetail.physicalCertificate.idPhysicalCertificatePk}">
						
					<p:column rendered="#{(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}" width="30">
						<p:selectBooleanCheckbox  value="#{retirementDetail.blCheck}"  disabled="#{retirementDetail.corporativeOperation.state!=1314}" >
							<p:ajax global="false" update="@this contentForm:panelRegistros" process="@this"/>
						</p:selectBooleanCheckbox>
					</p:column>
					
					<p:column rendered="#{(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_GUARD_EXCLUSIVE.code)}" width="30">
						<p:selectBooleanCheckbox  value="#{retirementDetail.blCheck}" >
							<p:ajax global="false" update="@this contentForm:panelRegistros" process="@this"/>
						</p:selectBooleanCheckbox>
					</p:column>
					
					<p:column rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.REVERSION.code  or retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_OTC.code  or retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.REVERSION_RV.code}" width="30">
						<p:selectBooleanCheckbox  value="#{retirementDetail.blCheck}" disabled="#{retirementDetail.physicalCertificate.indCupon==1}" >
							<p:ajax global="false" update="@this contentForm:panelRegistros"
								process="@this" listener="#{retirementOperationBean.checkedCertificate(retirementDetail)}"/>
						</p:selectBooleanCheckbox>
					</p:column>
					
					<p:column headerText="Corporativo" styleClass="content-center" sortBy="#{retirementDetail.corporativeOperation.idCorporativeOperationPk}" 
							  rendered="#{(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}">
						<h:outputText value="#{retirementDetail.corporativeOperation.idCorporativeOperationPk}" />						
					</p:column>
					
					<p:column headerText="Tipo Evento" styleClass="content-center" sortBy="#{retirementDetail.corporativeOperation.eventTypeDescription}" rendered="#{(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code or retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_GUARD_EXCLUSIVE.code)}">
						<h:outputText value="#{retirementDetail.corporativeOperation.eventTypeDescription}" />						
					</p:column>
					
					<p:column headerText="Estado" styleClass="content-center" sortBy="#{retirementDetail.corporativeOperation.state}" 
							  rendered="#{(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_EXPIRATION_CUPON.code)}">
						<h:outputText value="#{retirementOperationBean.hashStateCorporative(retirementDetail.corporativeOperation.state)}" />						
					</p:column>
				
					<p:column headerText="Certificado" styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.idPhysicalCertificatePk}">
						<h:outputText value="#{retirementDetail.physicalCertificate.idPhysicalCertificatePk}" />						
					</p:column>
				
					<p:column headerText="Saldo Anotado" styleClass="content-center" sortBy="#{retirementDetail.totalBalanceAnnotation}" 
							  rendered="#{ retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.REVERSION_RV.code }">
						<h:outputText value="#{retirementDetail.totalBalanceAnnotation}" />						
					</p:column>
					
					<p:column headerText="Desde - Hasta" styleClass="content-center" sortBy="#{retirementDetail.annotationFromTo}" 
							  rendered="#{ retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.REVERSION_RV.code }">
						<h:outputText value="#{retirementDetail.annotationFromTo}" />						
					</p:column>
					
					<p:column headerText="Emisor" 
							  styleClass="content-center">
							<h:outputText value="#{retirementDetail.issuer.mnemonic}" />	
					</p:column>
					
					<p:column headerText="Serie" 
							  styleClass="content-center">
							<h:outputText value="#{retirementDetail.physicalCertificate.serialNumber}#{retirementDetail.physicalCertificate.certificateNumber}" />	
					</p:column>
					
					<p:column headerText="N. Cupon" 
							  styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.cuponNumber}">
							<h:outputText value="#{retirementDetail.physicalCertificate.cuponNumber}" />	
					</p:column>
					
					<p:column headerText="Fecha Vencimiento" 
							  styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.paymentDate}">
						<h:outputText value="#{retirementDetail.physicalCertificate.paymentDate}" >
							<f:convertDateTime pattern="#{cons['date.pattern']}"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Valor nominal" 
							  styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.nominalValue}"
							  rendered="#{ retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq 2854}">
						<h:outputText value="#{retirementDetail.physicalCertificate.nominalValue}" >
							<f:convertNumber pattern="#{gconst['conv.number.pattern.cash.amount']}" locale="en_US"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Valor nominal" 
							  styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.nominalAmount}"
							  rendered="#{ !(retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq 2854)}">
						<h:outputText value="#{retirementDetail.physicalCertificate.nominalAmount}" >
							<f:convertNumber pattern="#{gconst['conv.number.pattern.cash.amount']}" locale="en_US"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="Moneda" 
							  styleClass="content-center" sortBy="#{retirementDetail.physicalCertificate.currency}">
						<h:outputText value="#{retirementOperationBean.hashCurrency(retirementDetail.physicalCertificate.currency)}" >
						</h:outputText>
					</p:column>
					
					<p:column headerText="Codigo Valor" 
							  styleClass="content-center" sortBy="#{retirementDetail.security.idSecurityCodePk}">
						<ui:remove>
						<h:outputText value="#{retirementDetail.security.idSecurityCodePk}" >
						</h:outputText>
						</ui:remove>
						<ark:securities-help securityCode="#{retirementDetail.security.idSecurityCodePk}" link="true" icon="false" />
					</p:column>
					
					<p:column headerText="Depositante" 
							  styleClass="content-center" sortBy="#{retirementDetail.participant.mnemonic}">
						<h:outputText value="#{retirementDetail.participant.mnemonic}" >
						</h:outputText>
					</p:column>
					
					<p:column headerText="Titular" 
							  styleClass="content-center" sortBy="#{retirementDetail.holderAccount.accountRntAndDescription}">
						<h:outputText value="#{retirementDetail.holderAccount.accountRntAndDescription}" escape="false"  >
						</h:outputText>
					</p:column>
					
					<p:column headerText="tasa" rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_OTC.code}" 
							  styleClass="content-center" sortBy="#{retirementDetail.amountRate}">
						<p:inputNumber value="#{retirementDetail.amountRate}" rendered="#{retirementDetail.physicalCertificate.indCupon eq 0}"
										thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkRateVariable"
										label="tasa">
							<p:ajax event="change" global="false" update="@this contentForm:panelRegistros" listener="#{retirementOperationBean.executeRateToPrice(retirementDetail)}" process="@this"></p:ajax>
						</p:inputNumber>
					</p:column>
					
					<p:column headerText="Precio" rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_OTC.code}"  
							  styleClass="content-center" sortBy="#{retirementDetail.price}">
						<p:inputNumber value="#{retirementDetail.cashPrice}" rendered="#{retirementDetail.physicalCertificate.indCupon eq 0}"
								thousandSeparator="," decimalSeparator="." decimalPlaces="4" id="txtMarkPriceVariable" disabled="true"
								label="Precio" >
							<p:ajax event="change" global="false" update="@this" process="@this"></p:ajax>
						</p:inputNumber>
					</p:column>
					
					<p:column headerText="Comprador"   rendered="#{retirementOperationBean.registerRetirementOperation.retirementOperation.motive eq retirementMotiveType.RETIREMENT_OTC.code}"
							  styleClass="content-center" sortBy="#{retirementDetail.price}">
						  <p:selectOneMenu label="#{msgs['lbl.custody.operation.participant']}" rendered="#{retirementDetail.physicalCertificate.indCupon eq 0}"  
								value="#{retirementDetail.participantBuyer.idParticipantPk}" >
								<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{retirementOperationBean.lstParticipantNotCavapy}" var="participant" 
									itemLabel="#{participant.getDisplayMnemonicCode()}"
									itemValue="#{participant.idParticipantPk}"/>
								<p:ajax update="@this contentForm:panelRegistros" event="change" listener="#{retirementOperationBean.onchangeParticipantBuyer(retirementDetail)}"/>
							</p:selectOneMenu>
					</p:column>
					
					</p:dataTable>
				</p:fieldset>
						
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td width="100%" align="center">
			<p:commandButton id="cmbSave"  value="#{gmsgs['btn.save']}" 
					update="opnlDialogs @form :opnlGenericDialogs"  icon="fa fa-save"
					actionListener="#{retirementOperationBean.beforeRegisterRetirementOperation()}" />
					
			<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form" 
				process="@this" immediate="true"
				icon="fa fa-trash" oncomplete="PF('cnfwClean').hide()" actionListener="#{retirementOperationBean.cleanRegister()}"/>
				
			<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo"
				onclick="if(isModifiedFormForBack(this))return false;" process="@this"
				immediate="true" action="searchRemoveSecurity" actionListener="#{retirementOperationBean.backToSearchPageHandler}"
				ajax="false"/>
			
		</td>
	</tr>
</table>
<p:outputPanel id="opnlDialogs">

	<p:confirmDialog id="confirmDialogMessage" widgetVar="confirmDialogMessage" closable="false" header="#{headerMessageView}"
					 message="#{bodyMessageView}" rendered="true">
		<p:commandButton value="#{gmsgs['btn.accept']}" oncomplete="PF('confirmDialogMessage').hide();" 
			actionListener="#{retirementOperationBean.backToSearchPageHandler()}" 
			action="searchRemoveSecurity"></p:commandButton>
	</p:confirmDialog>
			
	<p:confirmDialog id="confirmSaveDialog" widgetVar="confirmSaveDialog" closable="false" header="#{headerMessageView}"
					 message="#{msgs['msg.retirement.security.save']}">
		<p:commandButton id="cmbConfYes" value="#{gmsgs['btn.yes']}" update="@form" actionListener="#{retirementOperationBean.saveRetirementOperation()}"></p:commandButton>
		<p:commandButton id="cmbConfNo" value="#{gmsgs['btn.no']}" oncomplete="PF('confirmSaveDialog').hide();"></p:commandButton>
	</p:confirmDialog>
	
	<p:confirmDialog id="idSuccessDialog" header="#{headerMessageView}" widgetVar="idSuccessDialog" message="#{bodyMessageView}"  closable="false">
		<p:commandButton value="#{gmsgs['btn.accept']}" oncomplete="PF('idSuccessDialog').hide();"></p:commandButton> 
	</p:confirmDialog>
	
</p:outputPanel>

</h:form>			
</ui:define>
</ui:composition>
</html>