<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/fun"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script>
$(window).load(function(){
	setInitialFormState('#contentForm');
});
</script>
<style type="text/css">
	#javax_faces_developmentstage_messages{
		display:none;
	}
</style>
<h:form id="contentForm">
<table width="100%">
	<tr>
		<td width="100%">
			<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['iCustody.retirement.securities.manage']}" styleClass="title-page" />
				</td>
				<td align="right">
				<p:commandButton id="btnRegister" value="#{gmsgs['btn.register']}" icon="fa fa-edit" process="@this"
					 rendered="#{userPrivilege.userAcctions.register}" action="#{retirementOperationBean.registerRetirement}" actionListener="#{retirementOperationBean.registerRetirementClean}"/>
					 
				<ui:remove>
				<p:commandButton id="btnMassiveRegister" value="Registrar Masivo" rendered="#{userPrivilege.userAcctions.register}"
					icon="fa fa-edit" actionListener="#{massiveInterfaceMgmtBean.loadInterfaceParams(retirementOperationBean.massiveRemoveSecuritiesType,'searchRemoveSecurity')}" 
					process="@this" action="searchInterfaceFilesMgmt"/>
				</ui:remove>
				
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<p:fieldset legend="#{msgs['lbl.criteria.search']}">
			<table width="100%">
			<tr>
				<td >
					<h:outputText value="#{msgs['tvd.label.numberSolicitud']}"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputText value="#{retirementOperationBean.retirementOperationFilter.operationNumber}" styleClass="content-right">
						<p:keyFilter regEx="/[0-9]/i"/>
					</p:inputText>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['participant.lbl']}"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
						<p:selectOneMenu id="cboParticipant" disabled="#{retirementOperationBean.flagParticipantLogin}"
							 value="#{retirementOperationBean.retirementOperationFilter.idParticipantPk}">
							<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{retirementOperationBean.lstParticipant}" 
										   var="participant" 
										   itemLabel="#{participant.getDisplayDescriptionCode()}" itemValue="#{participant.idParticipantPk}"/>						            			
						</p:selectOneMenu>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['security.lbl.code']}"/>
				</td>
				<td colspan="3">
				  <ark:securityHelper id="hlpSecurity" security="#{retirementOperationBean.retirementOperationFilter.security}"
				     			  name="secHelper"/>
				</td>
			</tr>
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.motive']}" />
				</td>
				<td width="30%">
					<p:selectOneMenu id="motiveId" style="width:210px;" label="#{msgs['lbl.motive']}"
						value="#{retirementOperationBean.retirementOperationFilter.motive}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{retirementOperationBean.lstMotives}" 
							var="motive" itemLabel="#{motive.parameterName}" itemValue="#{motive.parameterTablePk}" />
						<p:ajax event="change" process="@this" update="@this"/>
					</p:selectOneMenu>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['tvd.label.state']}"/>
				</td> 
				<td width="30%">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="stateId" value="#{retirementOperationBean.retirementOperationFilter.state}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{retirementOperationBean.lstStates}" 
							var="state" itemLabel="#{state.parameterName}" itemValue="#{state.parameterTablePk}"/>
					</p:selectOneMenu>
					</h:panelGrid>
				</td>												
			</tr>																
			<tr>
				<td>
					<h:outputText value="#{gmsgs['lbl.initial.date']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:calendar id="calendarInit" navigator="true" size="10"
						readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true" 
						value="#{retirementOperationBean.retirementOperationFilter.initDate}"
						maxdate="#{retirementOperationBean.retirementOperationFilter.endDate}" >
						<p:ajax event="dateSelect" process="@this" update="calendarEnd @this" />	
					</p:calendar>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{gmsgs['lbl.end.date']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">								
					<p:calendar id="calendarEnd" navigator="true" size="10" 
						required="true" readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
						mindate="#{retirementOperationBean.retirementOperationFilter.initDate}" 
						maxdate="#{retirementOperationBean.currentSystemDate}" 
						value="#{retirementOperationBean.retirementOperationFilter.endDate}">
						<p:ajax event="dateSelect" process="@this" update="calendarInit @this" />	
					</p:calendar>  
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" update="@form"
						actionListener="#{retirementOperationBean.searchRetirementOperations}" icon="fa fa-search"
						rendered="#{userPrivilege.userAcctions.search}"/>
					<p:commandButton value="#{gmsgs['btn.clean']}" update="@form" immediate="true"
						actionListener="#{retirementOperationBean.clean()}" process="@this" icon="fa fa-trash"/>
				</td>
			</tr>
			</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlResult" rendered="#{retirementOperationBean.lstRetirementOperation != null}" style="width:100%;" >
				<p:outputPanel  rendered="#{(retirementOperationBean.lstRetirementOperation.rowCount >= 1)}">
					<arkPriv:privileges id="arkinPrivileges" 					 							 
				 		actionConfirm="#{retirementOperationBean.beforeConfirm}"
				 		actionReject="#{retirementOperationBean.beforeReject}"
				 		actionAnnular="#{retirementOperationBean.beforeAnullate}"
				 		actionApprove="#{retirementOperationBean.beforeApprove}"				 				 			 
				 		actions="#{userPrivilege.userAcctions}"
				 		renders="#{userPrivilege.privilegeComponent}"/>
				</p:outputPanel>
				<p:panel rendered="#{!(retirementOperationBean.lstRetirementOperation.rowCount >= 1)}">
					<h:outputText value="#{msgs['lbl.search.no.result']}" />
				</p:panel>
				<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}"  rendered="#{(retirementOperationBean.lstRetirementOperation.rowCount >= 1)}"> 
					<p:dataTable id="dtbResultRescue" var="retirementOperation" value="#{retirementOperationBean.lstRetirementOperation.dataList}"						
						paginator="true" rows="10" paginatorPosition="top" rowKey="#{retirementOperation.idRetirementOperationPk}"
						paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						selection="#{retirementOperationBean.checkRetirementOperation}">	
						
						<p:column selectionMode="multiple" styleClass="content-center"/>
						
						<p:column sortBy="#{retirementOperation.idRetirementOperationPk}" styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{msgs['lbl.number.request']}"/>
							</f:facet>
							<p:commandLink value="#{retirementOperation.operationNumber}" 
								action="#{retirementOperationBean.goToDetail(retirementOperation)}" style="color:blue"/>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.accountannotation.search.detail.registryDate']}" styleClass="content-center" sortBy="#{retirementOperation.initDate}">
							<h:outputText value="#{retirementOperation.initDate}">
								<f:convertDateTime pattern="#{cons['date.pattern']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-left" sortBy="#{retirementOperation.idSecurityCodePk}">
							<ark:securities-help  securityCode="#{retirementOperation.idSecurityCodePk}" link="true" icon="false" />
						</p:column>				
							
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}" styleClass="content-right"
									sortBy="#{retirementOperation.totalBalance}" >
							<h:outputText value="#{retirementOperation.totalBalance}">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.motive']}" styleClass="content-left" sortBy="#{retirementOperation.motiveDescription}">
							<h:outputText value="#{retirementOperation.motiveDescription}"/>
						</p:column>
						
						<p:column headerText="Depositante" styleClass="content-left" sortBy="#{retirementOperation.participantMnemonic}">
							<h:outputText value="#{retirementOperation.participantMnemonic}"/>
						</p:column>
						
						<p:column headerText="N° Cupon" styleClass="content-left" sortBy="#{retirementOperation.coupon}"  style="width: 5%">
							<h:outputText value="#{retirementOperation.coupon}"/>
						</p:column>
						
						<p:column sortBy="#{retirementOperation.nominalValue}" headerText="Valor Nominal" styleClass="content-right" >
							<h:outputText value="#{retirementOperation.nominalValue}">
								<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="N° Planilla" styleClass="content-center" sortBy="#{retirementOperation.payroll}">
							<h:outputText value="#{retirementOperation.payroll}"/>
						</p:column>
						
						<p:column headerText="Entregado" styleClass="content-center" sortBy="#{retirementOperation.stateDesc}">
							<h:outputText value="#{retirementOperation.stateDesc}"/>
						</p:column>
						
						<p:column headerText="Desde-Hasta" styleClass="content-left" sortBy="#{retirementOperation.certificateFromTo}">
							<h:outputText value="#{retirementOperation.certificateFromTo}"/>
						</p:column>
						
						<p:column headerText="#{msgs['tvd.tab.state']}" styleClass="content-center" sortBy="#{retirementOperation.stateDescription}">
							<h:outputText value=" #{retirementOperation.stateDescription}"/>
						</p:column>
						
						<f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{retirementOperationBean.lstRetirementOperation.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>	
					</p:dataTable>					
				</p:fieldset>
			</p:outputPanel>
			
		</td>
	</tr>
</table>

</h:form>
<p:outputPanel id="opnlDialogs">

	<h:form>
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
		<p:commandButton id="cmbAskYes" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="opnlDialogs"
			actionListener="#{retirementOperationBean.multipleDoAction}"/>
		<p:commandButton id="cmbAskNo" value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
	</p:confirmDialog>	
	</h:form>
	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this"
			value="#{gmsgs['btn.accept']}"/>
	</p:confirmDialog>
	
</p:outputPanel>
</ui:define>
</ui:composition>
</html>