<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
    xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<table id="tblMainSearchPaymentAgent" width="100%"> 
				<tr> 
					<td> 
						<table border="0" width="100%"> 
							<tr> 
							<td align="left"> 
								<h:outputLabel value = "#{msgs['lbl.registre.detail']}"  styleClass="title-page"  style="align: left" id="idTitle"/>
							</td>
							</tr>
						</table>
					</td>
				</tr> 
			</table>
			<!--DETALLE DE UNA CUENTA BANCARIA-->
		<h:form id="frmDetailBankAccount">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.label.detail.registre']}" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.filter.name.participant']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idParticipant" disabled="true"
										value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.idParticipantPk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="participant"  value="#{searchBankAccountMgmtBean.listParticipant}" 
							           		itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.description}" />
										<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<tr>
								<!-- Helper de CUI titular -->
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.filter.name.cui']} (*)"/>
								</td>
								<td width="65%" colspan="3">
									<p:outputPanel id="idHelpHolder">
										<ark:holderHelper blPersonType="false" 
											disabled="true"
											holder = "#{searchBankAccountMgmtBean.bankDetailRegistreTO.holder}"
											participant="#{searchBankAccountMgmtBean.bankDetailRegistreTO.idParticipantPk}"
											required="true" 
											validatorName="com.pradera.commons.view.validators.InputTextValidator">
										</ark:holderHelper>
									</p:outputPanel>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!-- Helper de cuenta titular -->
							<tr>
								<td width="15%" colspan="1" >
									<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.filter.holder.account']} (*)"/>
								</td>
								<td width="35%" colspan="3">
									<p:outputPanel
										id="idPanelAccountHelper">
										<p:inputText disabled="true"
											value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.accountNumber}"/>
									</p:outputPanel>
								</td>
							</tr> 
							<tr style="height: 4px;"></tr>
							<tr>
								<!-- BANCOS -->
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.filter.name.bank']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idBank" disabled="true"
											value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.idBankPk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="bank"  value="#{searchBankAccountMgmtBean.listBanks}" 
							           		itemValue="#{bank.idBankPk}" itemLabel="#{bank.description}" />
							           	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
									</p:selectOneMenu>
								</td>
								<!-- Tipo de cuenta -->
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.filter.holder.account.type']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idAccountType" disabled="true"
											value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.accountType}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="parameter"  value="#{searchBankAccountMgmtBean.listAccontType}" 
							           		itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.description}" />
							           	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<tr>
								<!-- MONEDA -->
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.filter.currency.type']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idCurrency" disabled="true"
											value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.currency}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="currency"  value="#{searchBankAccountMgmtBean.listCurrency}" 
							           		itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.description}" />
									</p:selectOneMenu>
								</td>
								<!-- NUMERO DE CUENTA -->
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.filter.account.number']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText disabled="true" value="#{searchBankAccountMgmtBean.bankDetailRegistreTO.depAccountNumber}">
									</p:inputText>
								</td>
							</tr>
							<!-- DETALLE DE ARCHIVO-->
							<tr style="height: 4px;"></tr>
							<tr>
								<td colspan="4">
									<p:outputPanel id="tableConfirm" 
										styleClass="fileupload-customize" layout="block">	
						 			<p:fileUpload disabled="true"
						 				   id="fuplDocumentFile" mode="advanced" auto="true"
					 			           onstart="clearInvalidFileMsgFupl(fuplwDocumentFile);" 
					 			           widgetVar="fuplwDocumentFile" 
					 			           label="#{gmsgs['fupl.label']}"
					 			           allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|png)$/"
					 			           sizeLimit="5000000"
										   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
										   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"							 			             
										   update="fuplDocumentFile lblFuplDocumentFile"/>									
								    <p:graphicImage id="imgLimit" 
										library="img" 
										name="icons/help.png"
										styleClass="icon"/>	
									<p:tooltip for="imgLimit">
										<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
											<f:param value="5000"/>
											<f:param value="*.pdf, *.doc, *.docx, *.jpg,*.jpeg,*.png"/>			
										</h:outputFormat>
									</p:tooltip>				
									<h:outputLabel id="lblFuplDocumentFile" 
										value="#{searchBankAccountMgmtBean.bankAccountSelected.fileName==null ? gmsgs['fupl.no.selected'] : searchBankAccountMgmtBean.bankDetailRegistreTO.fileName}" 
									    styleClass="label"/>											    
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<p:commandLink process="@this" update="@form" value="#{msgs['lbl.download']}"
											disabled="#{searchBankAccountMgmtBean.bankAccountSelected.fileName==null}"
											global="false" ajax="false" immediate="true" 
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
										<p:fileDownload	value="#{searchBankAccountMgmtBean.getStreamedContent()}" />
									</p:commandLink>
								</td>
							</tr>
							<!-- MOTIVO/RAZON DE BLOQUEO -->
							<tr style="height: 4px;"></tr>
							<tr>
								<td width="15%" colspan="1"></td>
								<td>
									<h:outputLabel styleClass="required-field" rendered="#{searchBankAccountMgmtBean.visibleBlockBankDetail}"
									 value="#{msgs['search.filter.tags.motive.blok']} (*)"/>
								</td>
							</tr>
							
							<!-- ARCHIVO A GUARDAR POR BLOQUEO-->
							<tr>
								<td width="15%" colspan="1"></td>
								<td colspan="1" width="30%">
									<p:inputTextarea rows="10" cols="50"  minQueryLength="1"  maxlength="300"
									rendered="#{searchBankAccountMgmtBean.visibleBlockBankDetail}"
									value="#{searchBankAccountMgmtBean.bankAccountSelected.blockingReason}"
									disabled="#{!searchBankAccountMgmtBean.bankDetailRegistreTO.renderedBlock}"
									/>	
																
								</td>
							</tr>
							<tr>
							    <td width="15%" colspan="1"></td>
								<td colspan="4">
									<p:outputPanel styleClass="fileupload-customize" layout="block"
										rendered="#{searchBankAccountMgmtBean.visibleBlockBankDetail}" >
						 			<p:fileUpload 
						 				   disabled="#{!searchBankAccountMgmtBean.bankDetailRegistreTO.renderedBlock}"
						 				   id="fuplDocumentFileBlock" mode="advanced" auto="true"
					 			           onstart="clearInvalidFileMsgFupl(fuplwDocumentFile);" 
					 			           widgetVar="fuplwDocumentFile" 
					 			           label="#{gmsgs['fupl.label']}"
					 			           allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|png|MSG)$/"
					 			           sizeLimit="5000000"
										   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
										   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"							 			             
										   fileUploadListener="#{searchBankAccountMgmtBean.documentAttachFile}" 
										   update="fuplDocumentFileBlock lblFuplDocumentFileBlock"/>									
								    <p:graphicImage id="imgLimitBlock" 
										library="img" 
										name="icons/help.png"
										styleClass="icon"/>	
									<p:tooltip for="imgLimitBlock">
										<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
											<f:param value="5000"/>
											<f:param value="*.pdf, *.doc, *.docx, *.jpg,*.png"/>			
										</h:outputFormat>
									</p:tooltip>				
									<h:outputLabel id="lblFuplDocumentFileBlock"
										value="#{searchBankAccountMgmtBean.bankAccountSelected.lockFileName==null ? gmsgs['fupl.no.selected'] : searchBankAccountMgmtBean.bankAccountSelected.lockFileName}" 
									    styleClass="label"/>											    
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td width="15%" colspan="1"></td>
								<td colspan="4">
									<p:commandLink process="@this" update="@form" value="#{msgs['lbl.download']}"
											rendered="#{searchBankAccountMgmtBean.visibleBlockBankDetail}"
											disabled="#{searchBankAccountMgmtBean.bankAccountSelected.lockFileName==null}"
											global="false" ajax="false" immediate="true" 
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
										<p:fileDownload	value="#{searchBankAccountMgmtBean.getStreamedContentLoockFile()}" />
									</p:commandLink>
								</td>
							</tr>
						</table>
					</p:fieldset>
					</td>
				</tr>
				
				
				<tr style="height: 4px;"></tr>
				<tr>
					<td align="center">
						<table>
							<tr>
								<td>
									<p:commandButton
                                         value="#{gmsgs['btn.block']}"
										 icon="ui-lock"
									     rendered="#{searchBankAccountMgmtBean.bankDetailRegistreTO.renderedBlock}"
									     actionListener="#{searchBankAccountMgmtBean.blockRegistreBankAccountDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.unblock']}"
										icon="ui-unlock"
									    rendered="#{searchBankAccountMgmtBean.bankDetailRegistreTO.renderedUnBlock}"
									    action="#{searchBankAccountMgmtBean.unBlockRegistreBankAccountDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.reject']}"
									     icon="ui-cancel"
									     rendered="#{searchBankAccountMgmtBean.bankDetailRegistreTO.renderedRejected}"
									     action="#{searchBankAccountMgmtBean.rejectBankAccountDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.confirm']}"
										 icon="ui-confirm"
									     rendered="#{searchBankAccountMgmtBean.bankDetailRegistreTO.renderedConfirm}"
									     action="#{searchBankAccountMgmtBean.confirmBankAccountDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.back']}"  
										 process="@this"
										 icon="ui-back" 
										 action="backLoadBankAccountDetail"  
										 immediate="true" ajax="false"/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</h:form>	
		<p:outputPanel id="opnlDialogs">
			<h:form id="formDetailDialogs">
			 	 <!--DIALOGO PARA REGISTRAR EL BLOQUEO -->
				 <p:confirmDialog widgetVar="vWBlockrRegistreBankAccount" id="idBlockrRegistreBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="vWBlockrRegistreBankAccount.hide()" process="@this"
								action="#{searchBankAccountMgmtBean.blockBankRegistreAccountDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}"
								onclick="idBlockrRegistreBankAccount.hide()">
						</p:commandButton>
				</p:confirmDialog>
				 <!--DIALOGO PARA REGISTRAR EL DES - BLOQUEO-->
				 <p:confirmDialog widgetVar="vWUnBlockRegistreBankAccount" id="idUnBlockRegistreBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="vWUnBlockRegistreBankAccount.hide()" process="@this"
								action="#{searchBankAccountMgmtBean.unBlockRegistreBankAccountDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}"
								onclick="idUnBlockRegistreBankAccount.hide()">
						</p:commandButton>
				</p:confirmDialog>
				 <!--RECHAZAR CUENTA BANCARIA/BENEFICIARIO-->
				 <p:confirmDialog widgetVar="wvDlgRejectBankAccount" id="idDlgRejectBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="wvDlgRejectBankAccount.hide()" process="@this"
								action="#{searchBankAccountMgmtBean.rejectBankAccountDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="cnfIdDlgRejectBankAccount.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!--CONFIRMAR REGISTRO CUENTA BANCARIA BENEFICIARIO  -->
				<p:confirmDialog widgetVar="cnfDialogConfirmBankAccount" id="cnfIdDialogConfirmBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfIdDialogConfirmBankAccount.hide()" process="@this"
								action="#{searchBankAccountMgmtBean.confirmBankAccountDialogYes}" >
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="cnfIdDialogConfirmBankAccount.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE REGISTRO DE BLOQEO CORRECTO-->
				<p:confirmDialog widgetVar="dlgCorrectRegistreBlockBankAccount" id="idCorrectRegistreBlockBankAccount"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="idCorrectRegistreBlockBankAccount.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE BLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogBlockYes" id="cnfIdDialogBlockYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogLookYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE RECHAZO CORRECTO CUENTA BANCARIA-->
				<p:confirmDialog widgetVar="wvDialogRejectBankAccountYes" id="idDialogRejectBankAccountYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								oncomplete ="wvDialogRejectBankAccountYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail"/>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE CONFIRMACION CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogConfirmBankAccountYes" 
								 id="cnfIdDialogConfirmBankAccountYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogConfirmBankAccountYes.hide()"
								process ="@this"	
								action = "backLoadBankAccountDetail">
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DEL DES BLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="dlgConfirmUnBlockCorrect" id="idConfirmUnBlockCorrect"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								action = "backLoadBankAccountDetail"
								onclick ="idConfirmUnBlockCorrect.hide()"
								process ="@this"	
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
		</h:form>
		</p:outputPanel>
		</ui:define>
	</ui:composition>
</html>