<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<p:fieldset legend="#{msgs['lbl.funds.deposit.register.panel.international']}" 
	rendered="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.blReception}">
<table width="100%">
	<tr>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.operationDate']} (*)" styleClass="required-field"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2">
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.operationDate}" size="10" pattern="#{gmsgs['calendar.date.format']}"
				readonlyInput="true" navigator="true" disabledWeekends="true" required="true" id="operationDate" showOn="both"
				beforeShowDay="disableAllHolydays" maxdate="#{manageDepositFundsBean.currentSystemDate}"
				disabled="#{not empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'true':'false'}"/>	
			<p:message for="operationDate" id="msgOperationDate" display="icon"/>
			</h:panelGrid>
		</td>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.operationNumber']} (*)" styleClass="required-field"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="4">
			<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.operationNumber}" maxlength="12" required="true"
				id="operationNumber" styleClass="content-right" requiredMessage="#{msgs['msg.funds.deposit.register.international.operationNumber']}"
				disabled="#{not empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'true':'false'}">
				<p:keyFilter mask="pint"/>
			</p:inputText>
			<p:message for="operationNumber" id="msgOperationNumber" display="icon"/>
			<p:outputPanel id="opnlButt">
			<p:commandButton value="#{gmsgs['btn.search']}" icon="fa fa-search"
				update="operationDate msgOperationDate operationNumber msgOperationNumber opnlInterInstBankAccount
					:opnlGenericDialogs :frmRegisterDeposit:depoNego :frmRegisterDeposit:depoLiqui
					:frmRegisterDeposit:partInter :frmRegisterDeposit:isin :frmRegisterDeposit:settDate
					:frmRegisterDeposit:currency :frmRegisterDeposit:effecAmount :frmRegisterDeposit:pendAmount
					:frmRegisterDeposit:exceAmount :frmRegisterDeposit:depoAmount
					:frmRegisterDeposit:lblDepo :frmRegisterDeposit:opnlButt" 
				process="@this operationDate operationNumber" actionListener="#{manageDepositFundsBean.searchOperationInternational}"
				rendered="#{empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'true':'false'}"/>
			<p:commandButton actionListener="#{manageDepositFundsBean.newInternationalSearch}" value="#{gmsgs['btn.clean']}"
				process="@this" icon="fa fa-trash" id="btnNewSearch"
				update="operationDate msgOperationDate operationNumber msgOperationNumber opnlInterInstBankAccount
					:opnlGenericDialogs :frmRegisterDeposit:depoNego :frmRegisterDeposit:depoLiqui
					:frmRegisterDeposit:partInter :frmRegisterDeposit:isin :frmRegisterDeposit:settDate
					:frmRegisterDeposit:currency :frmRegisterDeposit:effecAmount :frmRegisterDeposit:pendAmount
					:frmRegisterDeposit:exceAmount :frmRegisterDeposit:depoAmount :frmRegisterDeposit:msgDepoAmount
					:frmRegisterDeposit:lblDepo :frmRegisterDeposit:opnlButt"
				rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'true':'false'}"/>
			</p:outputPanel>						
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.tradeDepositary']}"/>
		</td>
		<td>
			<p:inputText disabled="true" id="depoNego"
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.interDepoNegotiatorDescription}"/>
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.settlementDepositary']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="depoLiqui" 
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.interDepoLiquidatorDescription}"/>	
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.internationalParticipant']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="partInter" size="30"
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.participantInterDescription}"/>		
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.isin']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="isin" 
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.idIsinCodePk}"/>		
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.settlementDate']}"/>
		</td>
		<td> 
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.settlementDate}" 
				size="10" pattern="#{gmsgs['calendar.date.format']}"
				disabled="true" id="settDate" beforeShowDay="disableAllHolydays" />
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.currency']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="currency" value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.currencyDescription}"/>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.effectiveAmount']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="effecAmount" 
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.effectiveAmount}"
				styleClass="content-right" size="30">
				<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
			</p:inputText>
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.pendientAmount']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="pendAmount" 
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.pendientAmount}"
				styleClass="content-right" size="30">
				<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
			</p:inputText>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.excedentAmount']}"/>
		</td>
		<td> 
			<p:inputText disabled="true" id="exceAmount" 
				value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.excedentAmount}"
				styleClass="content-right" size="30">
				<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
			</p:inputText>
		</td>
		<td>
			<p:outputPanel id="lblDepo">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.depositAmount']}" 
				styleClass="#{empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'':'required-field'}"/>
			<h:outputText value=" (*)" styleClass="required-field"
				rendered="#{empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'false':'true'}"/>
			</p:outputPanel>
		</td>
		<td>
			<h:panelGrid columns="2"> 
			<p:inputText id="depoAmount" value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.depositAmount}"
				disabled="#{empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails?'true':'false'}"
				onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
				required="true" style="width:200px !important" 	styleClass="cashAmount-inputField"
				requiredMessage="#{msgs['msg.funds.deposit.register.international.depositAmount']}">				
				<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
				<p:ajax listener="#{manageDepositFundsBean.calculateInterAmount}" update="@this msgDepoAmount exceAmount pendAmount" event="blur" process="@this"/>
			</p:inputText>
			<p:message display="icon" id="msgDepoAmount" for="depoAmount"/>
			</h:panelGrid>
		</td>
	</tr>
</table>
</p:fieldset>
<p:fieldset rendered="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.blSend}" legend="#{msgs['funds.deposit.inter.operation.header.lbl']}">
<table width="100%">
	<tr>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.tradeDepositary']} (*)" styleClass="required-field"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2">
			<p:selectOneMenu id="cboIntDepoNego" value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.idIntDepoNegoPkSelected}" 
				required="true" requiredMessage="#{msgs['msg.funds.deposit.register.international.tradeDepositary']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
				<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstInternationalDepositoryNegotiator}" 
					var="interDepo" itemValue="#{interDepo.idInternationalDepositoryPk}" itemLabel="#{interDepo.description}"/>
			</p:selectOneMenu>
			<p:message for="cboIntDepoNego" id="msgIntDepoNego" display="icon"/>
			</h:panelGrid>
		</td>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.settlementDepositary']} (*)" styleClass="required-field"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2">
			<p:selectOneMenu id="cboIntDepoLiqui" value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.idIntDepoLiquiPkSelected}"
				required="true" requiredMessage="#{msgs['msg.funds.deposit.register.international.settlementDepositary']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
				<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstInternationalDepositoryLiquidator}" 
					var="interDepo" itemValue="#{interDepo.idInternationalDepositoryPk}" itemLabel="#{interDepo.description}"/>
			</p:selectOneMenu>
			<p:message for="cboIntDepoLiqui" id="msgIntDepoLiqui" display="icon"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.currency']} (*)" styleClass="required-field"/>
		</td>
		<td colspan="3">
			<h:panelGrid columns="2">
			<p:selectOneMenu id="cboCurrency" value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.currencySelected}"
				required="true" requiredMessage="#{msgs['msg.funds.deposit.register.international.currency']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCurrency}" var="paramTab" 
					itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
			</p:selectOneMenu>
			<p:message for="cboCurrency" id="msgCurrency" display="icon"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.registryInitialDate']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2"> 
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.registryInitial}" size="10" pattern="#{gmsgs['calendar.date.format']}"
				readonlyInput="true" navigator="true" disabledWeekends="true" required="true" id="registryIni" showOn="both" 
				beforeShowDay="disableAllHolydays" maxdate="#{manageDepositFundsBean.currentSystemDate}"/>
			<p:message for="registryIni" id="msgRegistryIni" display="icon"/>
			</h:panelGrid>	
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.registryEndDate']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2"> 
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.registryEnd}" size="10" pattern="#{gmsgs['calendar.date.format']}"
				readonlyInput="true" navigator="true" disabledWeekends="true" required="true" id="registryEnd" showOn="both" 
				beforeShowDay="disableAllHolydays" maxdate="#{manageDepositFundsBean.currentSystemDate}"/>
			<p:message for="registryEnd" id="msgRegistryEnd" display="icon"/>
			</h:panelGrid>	
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.settlementInitialDate']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2">
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.settlementInitial}" size="10" pattern="#{gmsgs['calendar.date.format']}"
				readonlyInput="true" navigator="true" disabledWeekends="true" required="true" id="settleIni" showOn="both" 
				beforeShowDay="disableAllHolydays" maxdate="#{manageDepositFundsBean.currentSystemDate}"/>
			<p:message for="settleIni" id="msgSettleIni" display="icon"/>
			</h:panelGrid>
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.settlementEndDate']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2">
			<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.settlementEnd}" size="10" pattern="#{gmsgs[calendar.date.format]}"
				readonlyInput="true" navigator="true" disabledWeekends="true" required="true" id="settleEnd" showOn="both" 
				beforeShowDay="disableAllHolydays" maxdate="#{manageDepositFundsBean.currentSystemDate}"/>
			<p:message for="settleEnd" id="msgSettleEnd" display="icon"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4" width="100%">
			<p:commandButton value="#{gmsgs['btn.search']}" process="@parent" icon="fa fa-search" update="@parent opnOperations :opnlGenericDialogs opnlInterInstBankAccount"
				actionListener="#{manageDepositFundsBean.searchOperationInternational}"/>
		</td> 
	</tr>
</table>
</p:fieldset>
<p:outputPanel id="opnOperations">
	<p:fieldset legend="#{msgs['lbl.funds.deposit.register.international.panel.send']}"
		rendered="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.blSend 
		and not empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstInternationalOperation}" >
	<table width="100%">
		<tr>
			<td width="100%">
			<p:dataTable value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstInternationalOperation}" 
				var="internationalOpe">
				
				<p:column styleClass="content-center" headerText="">
					<p:selectBooleanCheckbox value="#{internationalOpe.blCheck}">
						<p:ajax event="change" listener="#{manageDepositFundsBean.selectInternationalOpe(internationalOpe)}" 
							update=":frmRegisterDeposit:deposit" global="false"/>
					</p:selectBooleanCheckbox>	
				</p:column>
				 
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.registryDate']}"/>
					</f:facet>
					<h:outputText value="#{internationalOpe.operationDate}">
						<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.settlementDate']}"/>
					</f:facet>
					<h:outputText escape="false" value="#{internationalOpe.settlementDate}">
						<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.operationNumber']}"/>
					</f:facet>											
						<h:outputText value="#{internationalOpe.operationNumber}"/>
				</p:column>
				
				<p:column styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.localParticipant']}"/>
					</f:facet>											
						<h:outputText value="#{internationalOpe.localParticipant.idParticipantPk} - #{internationalOpe.localParticipant.description}"/>
				</p:column>
				
				<p:column styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.internationalParticipant']}"/>
					</f:facet>											
						<h:outputText value="#{internationalOpe.internationalParticipant.idInterParticipantPk} - #{internationalOpe.internationalParticipant.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.isin']}"/>
					</f:facet>											
						<h:outputText value="#{internationalOpe.securities.idSecurityCodePk}"/>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.effectiveAmount']}"/>
					</f:facet>											
						<h:outputText value="#{internationalOpe.settlementAmount}">
							<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
						</h:outputText>
				</p:column>
			</p:dataTable>
			</td>
		</tr>
		<tr>			
			<td align="left" width="100%">
			<h:panelGrid columns="3">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.depositAmount']}"/>
			<p:spacer width="25"/>
			<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.depositAmount}" disabled="true"
				id="deposit" styleClass="content-right" size="30">
				<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
			</p:inputText>
			</h:panelGrid>
			</td>
		</tr>
	</table>
	</p:fieldset>
</p:outputPanel>
<p:outputPanel id="opnlInterInstBankAccount">
	<p:fieldset legend="#{msgs['lbl.funds.deposit.register.international.panel.cashAccount']}" 
		rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails}">
	<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.cashAccountDetail}"
		value="#{manageDepositFundsBean.registerDepositFundsTO.internationalDepositTO.lstCashAccountDetails}">									
	<p:column selectionMode="single"/>	
	<p:column>
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
	</p:column>
	<p:column>
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
	</p:column>	
	<p:column styleClass="content-center">
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" styleClass="text-header-table" />
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
	</p:column>	
	<p:column>
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
	</p:column>	
	<p:column styleClass="content-right">
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
			<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
		</h:outputText>
	</p:column>	
	<p:column styleClass="content-right">
		<f:facet name="header">
			<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
		</f:facet>
		<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
			<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
		</h:outputText>
	</p:column>	
	</p:dataTable>
	</p:fieldset>
</p:outputPanel>
</html>