<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	  $(window).load(function(){
	   setAllHolidays('${manageDepositFundsBean.allHolidays}');
	   setInitialFormState('#frmRegisterDeposit');
	  });
</script>
<h:form id="frmRegisterDeposit">
	<table width="100%">
		<tr>
			<td>
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.title']}" styleClass="title-page" />
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<p:fieldset id="fldsDepositType" legend="#{msgs['lbl.register.data']}">
			<table width="100%">	
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.depositType']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{manageDepositFundsBean.registerDepositFundsTO.fundOperationGroupSelected}" 
						id="cboFundOpeGroup"
						label="#{msgs['lbl.funds.deposit.register.depositType']}"
						disabled="#{manageDepositFundsBean.userInfo.userAccountSession.participantInstitucion or manageDepositFundsBean.userInfo.userAccountSession.issuerInstitucion}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.lstFundOperationGroup}" var="parameterTable" itemLabel="#{parameterTable.parameterName}"
									itemValue="#{parameterTable.parameterTablePk}"/>
							<p:ajax event="change" process="@this" listener="#{manageDepositFundsBean.onChangeFundOperationGroup}" 
								update="fldsDepositType opnlBody :opnlGenericDialogs opnlEntity opnlBankMovement"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
					</p:selectOneMenu>
					<p:message for="cboFundOpeGroup" display="icon" id="msgFundOpeGroup"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.operationType']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboOperationType" value="#{manageDepositFundsBean.registerDepositFundsTO.operationTypeSelected}"
						label="#{msgs['lbl.funds.deposit.register.operationType']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageDepositFundsBean.registerDepositFundsTO.lstOperationType}" var="operationType" 
							itemValue="#{operationType.idFundsOperationTypePk}" itemLabel="#{operationType.name}"/>
							<p:ajax event="change" process="@this" listener="#{manageDepositFundsBean.onChangeOperationType}" 
								update="@this msgOperationType"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
					</p:selectOneMenu>
					<p:message id="msgOperationType" for="cboOperationType" display="icon"/>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.cashAccount']}(*)" styleClass="required-field" />
				</td>
				<td>
					<p:inputText id="effectAcc" value="#{manageDepositFundsBean.registerDepositFundsTO.accountTypeDescription}"
						disabled="true" size="50"/>
				</td>
			</tr>
			
			<tr>
				<td><h:outputText value="#{msgs['lbl.banks.accounts.institution.type']} (*)" styleClass="required-field"
								rendered="#{manageDepositFundsBean.registerDepositFundsTO.blReturns}"/></td>
				<td>		
					<h:panelGrid columns="2" rendered="#{manageDepositFundsBean.registerDepositFundsTO.blReturns}">
						<p:selectOneMenu id="institutionType" value="#{manageDepositFundsBean.objInstitutionBankAccountsType}"
							label="#{msgs['lbl.banks.accounts.institution.type']}" style="width:200px" >
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{manageDepositFundsBean.lstInstitutionBankAccountsTypeReturn}" 
								var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
							<p:ajax event="change" process="@this" listener="#{manageDepositFundsBean.onChangeInstitutionType}"	update="@this @form msgInstitutionType institutionType opnlLbl opnlParticipant opnlIssuerReturn" />									
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
						</p:selectOneMenu>	
						<p:message for="institutionType" display="icon" id="msgInstitutionType"/>	
					</h:panelGrid>										
				</td>	
				<td>
					<p:outputPanel id="opnlLbl">
						<h:outputText value="#{msgs['lbl.banks.accounts.participant']} (*)" styleClass="required-field" rendered="#{manageDepositFundsBean.indInstitutionTypeParticipant}"/>
						<h:outputText value="#{msgs['lbl.banks.accounts.issuer']} (*)" styleClass="required-field" rendered="#{manageDepositFundsBean.indInstitutionTypeIssuer}"/>
						<h:outputText value="#{msgs['lbl.banks.accounts.bank']} (*)" styleClass="required-field" rendered="#{manageDepositFundsBean.indInstitutionTypeBank}"/>
					</p:outputPanel>
				</td>
				<td colspan="5">
					<p:outputPanel id="opnlParticipant">
						<h:panelGrid columns="2">
							<p:selectOneMenu id="participantReturn" value="#{manageDepositFundsBean.registerDepositFundsTO.participantSelected}" 
								label="#{msgs['currency.settlement.participant.applicant']}"  rendered="#{manageDepositFundsBean.indInstitutionTypeParticipant}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems 	value="#{manageDepositFundsBean.registerDepositFundsTO.lstParticipants}" 
									var="negoModa" itemValue="#{negoModa.idParticipantPk}" itemLabel="#{negoModa.mnemonic} - #{negoModa.idParticipantPk} - #{negoModa.description}"/>
								<p:ajax event="change" process="@this" listener="#{manageDepositFundsBean.onChangeParticipantReturn}" update="@form frmRegisterDeposit:participantReturn frmRegisterDeposit:msgParticipantReturn :opnlGenericDialogs" />									
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
							</p:selectOneMenu>	
							<p:message for="participantReturn" display="icon" id="msgParticipantReturn"/>	
						</h:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="opnlIssuerReturn">
						<h:panelGrid columns="2">
						<p:outputPanel id="opnlIssuerReturnAux" rendered="#{manageDepositFundsBean.indInstitutionTypeIssuer}">																	
							<ark:issuerHelper 													
										id="issuerReturnHelper"
										issuer="#{manageDepositFundsBean.registerDepositFundsTO.issuer}"										
										disabled="#{manageDepositFundsBean.userInfo.userAccountSession.issuerInstitucion}"
										required="true"
										remoteListener="rmtIssuer()" 														
										/>									
							<p:remoteCommand name="rmtIssuer" 
											global="false" onstart="PF('statusDialogCustom').show()"
											oncomplete="PF('statusDialogCustom').hide()"	
											actionListener="#{manageDepositFundsBean.searchIssuerHandlerRegister}" process="@this"
											update="@form :opnlGenericDialogs">
							</p:remoteCommand>
						</p:outputPanel>
						</h:panelGrid>		
					</p:outputPanel>
					<ui:remove>
					<p:outputPanel id="opnlBank">														
							<h:panelGrid columns="2">
								<p:selectOneMenu id="bankInstitution" value="#{manageBankAccountsBean.institutionBankAccountSession.bank.idBankPk}"
									label="#{msgs['lbl.banks.accounts.bank']}" disabled="#{manageBankAccountsBean.viewOperationModify}" rendered="#{manageBankAccountsBean.indInstitutionTypeBank}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems 	value="#{manageBankAccountsBean.searchBankAccountsRegisterTO.lstBankInstitution}" 
										var="parameter" itemValue="#{parameter.idBankPk}" itemLabel="#{parameter.description}"/>
									<p:ajax event="change" process="@this"
									update="bankInstitution msgBankInstitution" />									
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>												
								</p:selectOneMenu>	
								<p:message for="bankInstitution" display="icon" id="msgBankInstitution"/>	
							</h:panelGrid>						
					</p:outputPanel>
					</ui:remove>
				</td>					
			</tr>
			
			<tr>
				<p:outputPanel id="opnlEntity">
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.institution']}" rendered="#{manageDepositFundsBean.registerDepositFundsTO.blEDV}"/>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.participant']} (*)" styleClass="required-field"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blParticipant and !manageDepositFundsBean.registerDepositFundsTO.blReturns}"/>
					<h:outputText value="#{msgs['lbl.funds.deposit.register.issuer']} (*)" styleClass="required-field"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blIssuer and !manageDepositFundsBean.registerDepositFundsTO.blReturns}"/>
				</td>
				<td colspan="3">
					<p:inputText id="idInst" value="#{manageDepositFundsBean.registerDepositFundsTO.institutionDes}" disabled="true" 
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blEDV}"/>
						
					<h:panelGrid columns="2" rendered="#{manageDepositFundsBean.registerDepositFundsTO.blParticipant and !manageDepositFundsBean.registerDepositFundsTO.blReturns}">
					<p:selectOneMenu id="cboParticipant" value="#{manageDepositFundsBean.registerDepositFundsTO.participantSelected}"
						required="true" requiredMessage="#{msgs['msg.funds.deposit.register.participant']}"
						disabled="#{manageDepositFundsBean.userInfo.userAccountSession.participantInstitucion}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
						<f:selectItems 	value="#{manageDepositFundsBean.registerDepositFundsTO.lstParticipants}" var="participant" 
							itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.mnemonic} - #{participant.idParticipantPk} - #{participant.description}"/>
						<p:ajax event="change" process="@this" listener="#{manageDepositFundsBean.onChangeParticipant}" 
							update="@this msgParticipant opnlBody @form :opnlGenericDialogs"/>						
					</p:selectOneMenu>
					<p:message display="icon" for="cboParticipant" id="msgParticipant"/>	
					</h:panelGrid>
					
					<h:panelGrid columns="2" rendered="#{manageDepositFundsBean.registerDepositFundsTO.blIssuer and !manageDepositFundsBean.registerDepositFundsTO.blReturns}">
					
					<p:outputPanel id="opnlIssuer">
						<h:panelGrid columns="2">
							<p:outputPanel id="opnlIssuerAux" rendered="#{manageDepositFundsBean.registerDepositFundsTO.blIssuer and !manageDepositFundsBean.registerDepositFundsTO.blReturns}">																	
								<ark:issuerHelper 													
											id="issuerHelper"
											issuer="#{manageDepositFundsBean.registerDepositFundsTO.issuer}"										
											disabled="#{manageDepositFundsBean.userInfo.userAccountSession.issuerInstitucion}"
											required="true"
											remoteListener="rmtIssuer()" 														
											/>									
								<p:remoteCommand name="rmtIssuer" 
												global="false" onstart="PF('statusDialogCustom').show()"
												oncomplete="PF('statusDialogCustom').hide()"	
												actionListener="#{manageDepositFundsBean.searchIssuerHandlerRegister}" process="@this"
												update="@form :opnlGenericDialogs">
								</p:remoteCommand>
							</p:outputPanel>
							</h:panelGrid>		
						</p:outputPanel>
					</h:panelGrid>
				</td>
				</p:outputPanel>
			</tr>
			
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlBody">
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blSettlement}">
				<ui:include src="/pages/effectivefunds/depositFunds/settlementDeposit.xhtml"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blCorporativeProcess}">
			<p:fieldset id="fsCorpoProcess" legend="#{msgs['lbl.funds.deposit.register.panel.corporativeProcess']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">					
				<p:column headerText="" styleClass="content-center"  style="width:40px;" selectionMode="single"/>
				<p:ajax event="rowSelectRadio" update="@parent"/>
					
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header"> 
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.depositAmount']}"/>
					</f:facet>
					<p:inputText value="#{instBankAcc.institutionCashAccount.depositAmount}"
						disabled="#{(manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionCashAccount.idInstitutionCashAccountPk == instBankAcc.institutionCashAccount.idInstitutionCashAccountPk 
							and manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionBankAccount.accountNumber.equals(instBankAcc.institutionBankAccount.accountNumber))?'false':'true'}"
						onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
						style="width:120px !important"
						styleClass="cashAmount-inputField">
						<p:ajax global="false" event="blur" update="@this"/>
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>		
					</p:inputText>					
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blCorporativeProcessReturns}">
			<p:fieldset id="fsReturns" legend="#{msgs['lbl.funds.deposit.register.panel.returns']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">					
				<p:column headerText="" styleClass="content-center"  style="width:40px;" selectionMode="single"/>
				<p:ajax event="rowSelectRadio" update="@parent"/>
					
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header"> 
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.depositAmount']}"/>
					</f:facet>
					<p:inputText value="#{instBankAcc.institutionCashAccount.depositAmount}"
						disabled="#{(manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionCashAccount.idInstitutionCashAccountPk == instBankAcc.institutionCashAccount.idInstitutionCashAccountPk 
							and manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionBankAccount.accountNumber.equals(instBankAcc.institutionBankAccount.accountNumber))?'false':'true'}"
						onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
						style="width:120px !important"
						styleClass="cashAmount-inputField">
						<p:ajax global="false" event="blur" update="@this"/>
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>		
					</p:inputText>					
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blGuarantees}">
			<p:fieldset id="fsGuarantees" legend="#{msgs['lbl.funds.deposit.register.panel.guarantees']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">					
				<p:column selectionMode="single"/>
				<p:ajax event="rowSelectRadio" update="@parent"/>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.depositAmount']}"/>
					</f:facet>
					<p:inputText value="#{instBankAcc.institutionCashAccount.depositAmount}"
						onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
						disabled="#{(manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionCashAccount.idInstitutionCashAccountPk == instBankAcc.institutionCashAccount.idInstitutionCashAccountPk)?'false':'true'}"
						style="width:200px !important"
						styleClass="cashAmount-inputField">
						<p:ajax global="false" event="blur" update="@this"/>
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</p:inputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			<ui:remove>
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blReturns}">
				<ui:include src="/pages/effectivefunds/depositFunds/returnsDeposit.xhtml"/>
			</p:outputPanel>
			</ui:remove>
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blRates}">
			<p:fieldset id="fsRates" legend="#{msgs['lbl.funds.deposit.register.panel.rates']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">					
				<p:column selectionMode="single"/>
				<p:ajax event="rowSelectRadio" update="@parent"/>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.depositAmount']}"/>
					</f:facet>
					<p:inputText value="#{instBankAcc.institutionCashAccount.depositAmount}"
						onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
						disabled="#{(manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionCashAccount.idInstitutionCashAccountPk == instBankAcc.institutionCashAccount.idInstitutionCashAccountPk)?'false':'true'}"						
						style="width:200px !important"
						styleClass="cashAmount-inputField">
						<p:ajax global="false" event="blur" update="@this"/>
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>			
					</p:inputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>			
			</p:outputPanel>
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blTaxation}">
			<p:fieldset id="fsTaxation" legend="#{msgs['lbl.funds.deposit.register.panel.taxation']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">					
				<p:column selectionMode="single"/>
				<p:ajax event="rowSelectRadio" update="@parent"/>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.currency']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" styleClass="content-right"/>
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.register.detail.depositAmount']}"/>
					</f:facet>
					<p:inputText value="#{instBankAcc.institutionCashAccount.depositAmount}"
						onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
						disabled="#{(manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail.institutionCashAccount.idInstitutionCashAccountPk == instBankAcc.institutionCashAccount.idInstitutionCashAccountPk)?'false':'true'}"
						style="width:200px !important"
						styleClass="cashAmount-inputField">
						<p:ajax global="false" event="blur" update="@this"/>
						<f:convertNumber locale="en_US" pattern="#{msgs['amount.display.format']}"/>
					</p:inputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			<p:outputPanel id="opnlInter">
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blInternational}">
				<ui:include src="/pages/effectivefunds/depositFunds/internationalDeposit.xhtml"/>
			</p:outputPanel>
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlBankMovement">
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.fundOperationGroupSelected != null}">
			
			<p:fieldset id="fldsBankMovement" legend="Registrar movimiento bancario">
			<table width="100%">
			<tr>
				<td>
					<h:outputText value="Movimiento bancario(*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText id="bankMovement" value="#{manageDepositFundsBean.registerDepositFundsTO.bankMovement}"
						disabled="false" size="30">
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:fieldset>
			
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>	
		<tr>
			<td align="center">
				<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" 
					update="@this @form :opnlGenericDialogs outPnlDialogs opnlGenericDialogs" process="@form"
					actionListener="#{manageDepositFundsBean.beforeSaveDeposit}">
					<f:param name="skipValidation" value="true"/>
				</p:commandButton>
				<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
					update="@form outPnlDialogs" process="@this" action="#{manageDepositFundsBean.askForClean}"/>
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
					process="@this" update="outPnlDialogs" action="#{manageDepositFundsBean.askForBack}"/>
			</td>
		</tr>
	</table>
	
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="false" visible="true"> 
		<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs :opnlGenericDialogs"
			actionListener="#{manageDepositFundsBean.saveDeposit}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"
			actionListener="#{manageDepositFundsBean.hideOwnDialogs}"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="false" visible="true" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
			action="backManageDeposit" value="#{gmsgs['btn.accept']}"
			actionListener="#{manageDepositFundsBean.hideOwnDialogs}"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwBackDialog" id="cnfidBackDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwBackDialog').hide()"
			action="#{manageDepositFundsBean.backFromRegister}" process="@this"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBackDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfwCleanDialog" id="cnfidCleanialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet>
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwCleanDialog').hide()"
			action="#{manageDepositFundsBean.initRegisterDeposit}" process="@this" update="@form"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwCleanDialog').hide()" type="button"/>
	</p:confirmDialog>			
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>