<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<p:fieldset id="fldSettlementGroup" legend="#{msgs['lbl.funds.deposit.view.panel.settlement']}">
<table width="100%">
	<tr>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.mechanism']}"/>
		</td>
		<td width="30%">
			<p:selectOneMenu disabled="true" value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.mechanismSelected}">
				<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstNegotiationMechanism}" 
					var="negoMecha" itemValue="#{negoMecha.idNegotiationMechanismPk}" itemLabel="#{negoMecha.description}"/>
			</p:selectOneMenu>
		</td>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.modalityGroup']}"/>
		</td>
		<td width="30%">
			<p:selectOneMenu disabled="true" value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.modaGroupSelected}">
				<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstModalityGroup}" var="modaGroup" 
					itemValue="#{modaGroup.idModalityGroupPk}" itemLabel="#{modaGroup.groupName}"/>
			</p:selectOneMenu>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.schema']}"/>
		</td>
		<td colspan="3">
			<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.settlementSchema}" disabled="true"
				size="30"/>
		</td>
	</tr>
	<tr>
		<td width="100%" colspan="4"> 
		<p:outputPanel id="opnlSettlementBody">
		<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.blSettlementGross}">
		<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.modality']}"/>
				</td>
				<td width="30%">
					<p:selectOneMenu value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.modaGroupSelected}" disabled="true">
						<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstNegotiationModality}" var="negoModa" 
							itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
					</p:selectOneMenu>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.paymentReference']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.referencePayment}"
						disabled="true"/>
				</td>								
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.operationDate']}"/>
				</td>
				<td>
					<p:calendar value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.operationDate}" 
						size="10" pattern="#{gmsgs['calendar.date.format']}" disabled="true"/>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.operationNumber']}"/>
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.operationNumber}"
						disabled="true" styleClass="content-right"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.currency']}"/>
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.currencyDescription}" disabled="true"/>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.operationPart']}"/>
				</td>
				<td>
					<p:selectOneMenu value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.operationPartSelected}"
						disabled="true">
						<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstOperationPart}" var="paramTab" 
							itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.effectiveAmount']}" />
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.effectiveAmount}" disabled="true"
						styleClass="content-right" size="30">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.pendientAmount']}"/>
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.pendientAmount}" disabled="true"
						styleClass="content-right" size="30">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</p:inputText>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.excedentAmount']}" />
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.excedentAmount}" disabled="true"
						styleClass="content-right" size="30">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.depositAmount']}"/>
				</td>
				<td>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.depositAmount}" disabled="true"
						styleClass="content-right" size="30">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</p:inputText>
				</td>
			</tr>
		</table>
		</p:outputPanel>
		<table width="100%">
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
		<td width="100%">
		<p:dataTable value="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstCashAccountDetails}" 
			var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.instBankAccountSelected}"
			rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.lstCashAccountDetails
				and manageDepositFundsBean.registerDepositFundsTO.settlementGroupTO.blSettlementNet}">			
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.mechanism']}"/>
				</f:facet>
				<h:outputText value="#{instBankAcc.institutionCashAccount.negotiationMechanism.description}" />
			</p:column>
			
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.modalityGroup']}"/>
				</f:facet>
				<h:outputText escape="false" value="#{instBankAcc.institutionCashAccount.modalityGroup.groupName}" />
			</p:column>
			
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.currency']}"/>
				</f:facet>											
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}"/>
			</p:column>
			
			<p:column styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.totalAmount']}"/>
				</f:facet>											
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</h:outputText>
			</p:column>
			
			<p:column styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.availableAmount']}"/>
				</f:facet>											
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</h:outputText>
			</p:column>
			
			<p:column styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.settlement.net.depositAmount']}"/>
				</f:facet>											
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}">
						<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
					</h:outputText>
			</p:column>
		</p:dataTable>
		</td>
		</tr>
		</table>
		</p:outputPanel>
		</td>
	</tr>
</table>
</p:fieldset>
</html>