<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">  
function start() {  
    PF('statusDialog').show();  
}  
  
function stop() {  
    PF('statusDialog').hide();  
}  
</script>
<h:form id="frmViewDeposit">
	<table width="100%">
		<tr>
			<td>
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.title']}" styleClass="title-page" />
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<p:fieldset id="fldsDepositType" legend="#{msgs['lbl.register.data']}">
			<table width="100%">	
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.depositType']}"/>
				</td>
				<td colspan="3">
					<p:selectOneMenu value="#{manageDepositFundsBean.registerDepositFundsTO.fundOperationGroupSelected}"
						disabled="true">
						<f:selectItems value="#{manageDepositFundsBean.registerDepositFundsTO.lstFundOperationGroup}" 
							var="parameterTable" itemLabel="#{parameterTable.parameterName}" itemValue="#{parameterTable.parameterTablePk}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td width="15%">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.operationType']}"/>
				</td>
				<td width="40%">
					<p:selectOneMenu id="cboOperationType" value="#{manageDepositFundsBean.registerDepositFundsTO.operationTypeSelected}"
						disabled="true">
						<f:selectItems 	value="#{manageDepositFundsBean.registerDepositFundsTO.lstOperationType}" var="operationType" 
							itemValue="#{operationType.idFundsOperationTypePk}" itemLabel="#{operationType.name}"/>
					</p:selectOneMenu>
				</td>
				<td width="15%">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.cashAccount']}" />
				</td>
				<td width="30%">
					<p:inputText id="effectAcc" value="#{manageDepositFundsBean.registerDepositFundsTO.accountTypeDescription}"
						disabled="true" size="45"/>
				</td>
			</tr>
			<tr>
				<p:outputPanel id="opnlEntity">
				<td>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.institution']}" 
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blEDV or 
							manageDepositFundsBean.registerDepositFundsTO.blForCentralAccount}"/>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.participant']}"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blParticipant}"/>
					<h:outputText value="#{msgs['lbl.funds.deposit.view.issuer']}"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blIssuer}"/>
				</td>
				<td colspan="3">
					<p:inputText id="idInst" value="#{manageDepositFundsBean.registerDepositFundsTO.institutionDes}" disabled="true" 
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blEDV or
							manageDepositFundsBean.registerDepositFundsTO.blForCentralAccount}"/>
					<p:selectOneMenu disabled="true" value="#{manageDepositFundsBean.registerDepositFundsTO.participantSelected}"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blParticipant}" >
						<f:selectItem itemLabel="#{manageDepositFundsBean.registerDepositFundsTO.participantDes}" />
					</p:selectOneMenu>					
					<p:selectOneMenu disabled="true" value="#{manageDepositFundsBean.registerDepositFundsTO.issuer.idIssuerPk}"
						rendered="#{manageDepositFundsBean.registerDepositFundsTO.blIssuer}">
						<f:selectItem itemLabel="#{manageDepositFundsBean.registerDepositFundsTO.issuerDes}"/>
					</p:selectOneMenu>
				</td>
				</p:outputPanel>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:outputPanel id="opnlBody">
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blSettlement}">
				<ui:include src="/pages/effectivefunds/depositFunds/viewSettlement.xhtml"/>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blCorporativeProcess}">
			<p:fieldset id="fsCorpoProcess" legend="#{msgs['lbl.funds.deposit.view.panel.corporativeProcess']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">								
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{manageDepositFundsBean.fundOperationDetail.bankAccountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blRates}">
			<p:fieldset id="fsRates" legend="#{msgs['lbl.funds.deposit.view.panel.rates']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
								
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}" styleClass="content-right">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>
				<br/>				
				<h:panelGrid rendered="#{manageDepositFundsBean.blConfirm or manageDepositFundsBean.registerDepositFundsTO.blShowBankReference}" columns="5">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.bankReference']}" 
						styleClass="#{manageDepositFundsBean.blConfirm?'required-field':''}"/>
					<h:outputText value=" (*)" styleClass="required-field" 
						rendered="#{manageDepositFundsBean.blConfirm}"/>
					<p:spacer width="10"/>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.bankReference}" required="true" id="bankRefRate"
						size="35" maxlength="20" disabled="#{!manageDepositFundsBean.blConfirm}">
						<p:ajax global="false" event="blur" update="@this msgBankRefRate"/>
						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
					</p:inputText>
					<p:message for="bankRefRate" id="msgBankRefRate" display="icon"/>
				</h:panelGrid>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blReturns}">
			<p:fieldset id="fsReturns" legend="#{msgs['lbl.funds.deposit.view.panel.returns']}">
				<ui:include src="/pages/effectivefunds/depositFunds/viewReturns.xhtml"/>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blInternational}">
				<ui:include src="/pages/effectivefunds/depositFunds/viewInternational.xhtml"/>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blGuarantees}">
			<p:fieldset id="fsGuarantees" legend="#{msgs['lbl.funds.deposit.view.panel.guarantees']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" 
							escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blSpecialPayments}">
			<p:fieldset id="fsSpecialPayments" legend="#{msgs['lbl.funds.deposit.view.panel.specialpayments']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" 
							escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blTaxation}">
			<p:fieldset id="fsTaxation" legend="#{msgs['lbl.funds.deposit.view.panel.taxation']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty  manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>
				<br/>
				<h:panelGrid rendered="#{manageDepositFundsBean.blConfirm or manageDepositFundsBean.registerDepositFundsTO.blShowBankReference}" columns="5">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.bankReference']}" 
						styleClass="#{manageDepositFundsBean.blConfirm?'required-field':''}"/>
					<h:outputText value=" (*)" styleClass="required-field" 
						rendered="#{manageDepositFundsBean.blConfirm}"/>
					<p:spacer width="10"/>
					<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.bankReference}" required="true" id="bankRefTax"
						size="35" maxlength="20" disabled="#{!manageDepositFundsBean.blConfirm}">
						<p:ajax global="false" event="blur" update="@this msgBankRefRate"/>
						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
					</p:inputText>
					<p:message for="bankRefTax" id="msgBankRefTax" display="icon"/>
				</h:panelGrid>				
			</p:fieldset>
			</p:outputPanel>
			
			<!-- JUST FOR CENTRAL ACCOUNT FOR FUNDS OPERATIONS WITH PROBLEMS -->
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.blForCentralAccount}">
			<p:fieldset id="fsCentral" legend="#{msgs['lbl.funds.deposit.view.panel.central']}">
				<p:dataTable var="instBankAcc" selection="#{manageDepositFundsBean.registerDepositFundsTO.cashAccountDetail}"
					value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}"
					rendered="#{not empty  manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false" 
							styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
				</p:column>
				
				<p:column styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}" styleClass="text-header-table" />
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
					</f:facet>
					<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}">
						<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
					</h:outputText>
				</p:column>				
				</p:dataTable>			
				<br/>
				<h:panelGrid rendered="#{manageDepositFundsBean.registerDepositFundsTO.comments != null}" columns="3">
					<h:outputText value="#{msgs['lbl.funds.deposit.view.comments']}" styleClass="required-field"/>
					<p:spacer width="10"/>
					<h:outputText value="#{manageDepositFundsBean.registerDepositFundsTO.comments}" styleClass="required-field"/>
				</h:panelGrid>
			</p:fieldset>
			</p:outputPanel>			
			</p:outputPanel>
			</td>			
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlBankMovement">
			<p:outputPanel rendered="#{manageDepositFundsBean.registerDepositFundsTO.fundOperationGroupSelected != null}">
			
			<p:fieldset id="fldsBankMovement" legend="Registrar movimiento bancario">
			<table width="100%">	
			<tr>
				<td>
					<h:outputText value="Movimiento bancario(*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText id="bankMovement" required="true" value="#{manageDepositFundsBean.registerDepositFundsTO.bankMovement}"
						disabled="true" size="30"/>
				</td>
			</tr>
			</table>
			</p:fieldset>
			
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>				
		<tr>
			<td align="center" width="100%">
				<p:commandButton value="#{gmsgs['btn.confirm']}" rendered="#{manageDepositFundsBean.blConfirm}" 
					update="outPnlDialogs :opnlGenericDialogs opnlBody" icon="ui-approve"
					actionListener="#{manageDepositFundsBean.beforeAction}"/>
					<p:commandButton value="#{gmsgs['btn.transfer.central']}" rendered="#{manageDepositFundsBean.blTransfersDep}" 
					update="outPnlDialogs :opnlGenericDialogs opnlBody" icon="ui-approve"
					actionListener="#{manageDepositFundsBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.reject']}" rendered="#{manageDepositFundsBean.blReject}" 
					update="outPnlDialogs" icon="ui-cancel" 
					actionListener="#{manageDepositFundsBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.back']}" immediate="true" icon="fa fa-undo" 
					process="@this" action="backManageDeposit"/>
			</td>
		</tr>
	</table>
	
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="false" visible="true"> 
		<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs :opnlGenericDialogs"
			actionListener="#{manageDepositFundsBean.doAction}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"
			actionListener="#{manageDepositFundsBean.hideViewDialogs}" update="outPnlDialogs"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="false" visible="true" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
			action="backManageDeposit" value="#{gmsgs['btn.accept']}"
			actionListener="#{manageDepositFundsBean.hideViewDialogs}" update="outPnlDialogs"/>
	</p:confirmDialog>			
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>