<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
<table width="100%">
	<ui:remove>
	<tr>
		<td align="left">
			<h:panelGrid columns="3">
			<h:outputText value="#{msgs['lbl.funds.deposit.view.returns.paymentReference']}"/>
			<p:spacer width="10"/>
			<p:inputText disabled="true" value="#{manageDepositFundsBean.registerDepositFundsTO.returnsDepositTO.referencePayment}"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
		</td>
	</tr>
	</ui:remove>
	<tr>
		<td>
		<p:dataTable var="instBankAcc"
			value="#{manageDepositFundsBean.registerDepositFundsTO.lstCashAccountDetail}">									
		
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.cashAccount']}" escape="false"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionCashAccount.idInstitutionCashAccountPk}" />
		</p:column>
		<ui:remove>
		<p:column styleClass="content-center">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.indBCRD']}"/>
			</f:facet>
			<h:outputText value="#{(instBankAcc.institutionCashAccount.indRelatedBcrd == 1) ? gmsgs['btn.yes'] : gmsgs['btn.no']}"/>
		</p:column>	
		</ui:remove>
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bank']}" escape="false" styleClass="text-header-table" />
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionBankAccount.providerBank.description}"/>
		</p:column>	
		<p:column styleClass="content-center">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.currency']}" escape="false"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionCashAccount.currencyTypeDescription}" />
		</p:column>	
		<p:column>
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.bankAccount']}"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionBankAccount.accountNumber}" />
		</p:column>	
		<p:column styleClass="content-right">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.totalAmount']}" escape="false"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionCashAccount.totalAmount}" styleClass="content-right">
				<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
			</h:outputText>
		</p:column>	
		<p:column styleClass="content-right">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.availableAmount']}" escape="false"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionCashAccount.availableAmount}" styleClass="content-right">
				<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
			</h:outputText>
		</p:column>
		<p:column styleClass="content-right">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.view.detail.depositAmount']}"/>
			</f:facet>
			<h:outputText value="#{instBankAcc.institutionCashAccount.depositAmount}" styleClass="content-right">
				<f:convertNumber locale="#{msgs['en_locale']}" pattern="#{msgs['amount.display.format']}"/>
			</h:outputText>
		</p:column>	
		</p:dataTable>
		</td>
	</tr>
	<ui:remove>
	<tr>
		<td>
			<br/>
		</td>
	</tr>
	<tr>
		<td width="100%"> 
		<p:dataTable var="holFundsOpe" value="#{manageDepositFundsBean.registerDepositFundsTO.returnsDepositTO.lstHolderFundsOperation}">
		
		<p:column headerText="#{msgs['lbl.funds.deposit.register.returns.detail.cuiTitular']}" styleClass="content-left">
			<h:outputText value="#{holFundsOpe.holder.idHolderPk} - #{holFundsOpe.holder.descriptionHolder}"/>
		</p:column>
		<p:column headerText="#{msgs['lbl.funds.deposit.register.returns.detail.documentNumber']}" styleClass="content-center">
			<h:outputText value="#{holFundsOpe.holder.documentTypeDescription} - #{holFundsOpe.holder.documentNumber}"/>
		</p:column>
		<p:column headerText="#{msgs['lbl.funds.deposit.register.returns.detail.bank']}" styleClass="content-left">
			<h:outputText value="#{holFundsOpe.bankDescription}"/>
		</p:column>
		<p:column headerText="#{msgs['lbl.funds.deposit.register.returns.detail.currency']}" styleClass="content-center">
			<h:outputText value="#{holFundsOpe.currencyDescription}"/>
		</p:column>
		<ui:remove>
		<p:column styleClass="content-center">
			<f:facet name="header">
				<h:outputText value="#{msgs['lbl.funds.deposit.register.returns.detail.movementDate']}" escape="false"/>
			</f:facet>
			<h:outputText value="#{holCashMove.movementDate}">
				<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
			</h:outputText>
		</p:column>
		</ui:remove>
		<p:column headerText="#{msgs['lbl.funds.deposit.register.returns.detail.amount']}" styleClass="content-right">
			<h:outputText value="#{holFundsOpe.holderOperationAmount}">
				<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
			</h:outputText>
		</p:column>
		
		</p:dataTable>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
		</td>
	</tr>
	<tr>			
		<td align="left" width="100%">
		<h:panelGrid columns="3">
		<h:outputText value="#{msgs['lbl.funds.deposit.register.international.send.depositAmount']}"/>
		<p:spacer width="25"/>
		<p:inputText value="#{manageDepositFundsBean.registerDepositFundsTO.returnsDepositTO.depositAmount}" disabled="true"
			id="depositHolder" styleClass="content-right" size="30">
			<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
		</p:inputText>
		</h:panelGrid>
		</td>
	</tr>
	</ui:remove>
</table>
</html>