<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instrumentType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="roleType"/>
<p:importConstants type="com.pradera.integration.common.type.BooleanType" var="bolType"/>
<p:importConstants type="com.pradera.model.negotiation.type.McnCancelReasonType" var="reasonType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="rolType"/>
<h:outputText value="#{gmsgs['inegotiations.sirtexoperation.register.tittle']}" styleClass="title-page"/>
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmSirtexOperation');
	});
</script>
<h:form id="frmSirtexOperation">
	<ui:param value="#{sirtexOperationBean.sirtexRegisterTO.sirtexOperation}" name="otcOperation"/>
	<ui:param value="#{sirtexOperationBean.depositarySetup}" name="iDepositSetup"/>
	<ui:param value="#{sirtexOperationBean.sirtexRegisterTO.sirtexOperation.mechanisnModality.negotiationModality}" name="negotiationModality"/>
	<ui:param value="#{otcOperation.accountSirtexOperations.get(0)}" name="accountOperationSeller"/>
	<ui:param value="#{otcOperation.accountSirtexOperations.get(1)}" name="accountOperationBuyer"/>
	<ui:param value="#{sirtexOperationBean.sirtexRegisterTO.holderAccountSeller}" name="accountSellerList"/>
	<ui:param value="#{sirtexOperationBean.sirtexRegisterTO.holderAccountBuyers}" name="accountBuyerList"/>
	
	<marketFact:marketfactBalance id="marketFactUI" bean="#{sirtexOperationBean}"  method="selectMarketFactBalance" parameter="marketFactComponentUI">
	</marketFact:marketfactBalance>
	
	<p:outputPanel rendered="#{iDepositSetup.indMarketFact eq bolType.YES.code}">
		<ui:param value="#{sirtexOperationBean.sirtexRegisterTO.sirtexOperation.sirtexOperationMarketfacts.get(0)}" name="markOperation"/>
	</p:outputPanel>

	<p:outputPanel id="pnlMarketFact" rendered="#{iDepositSetup.indMarketFact eq bolType.YES.code}">
	</p:outputPanel>	
	<p:fieldset id="negotiationDateAccPanel" legend="#{msgs['sirtex.operation.register.data']}">
		<table width="100%">
			<ui:include src="sirtexSeparatorTables.xhtml"/>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationState']} (*)" styleClass="required-field" 
								  rendered="#{!sirtexOperationBean.viewOperationRegister}"/>
				</td>
				<td>
					<h:outputText value="#{sirtexOperationBean.parameterDescription.get(otcOperation.operationState)}" 
								  rendered="#{!sirtexOperationBean.viewOperationRegister}"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.requestorigin']}" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu tabindex="0" 
						id="cboRequest" value="#{otcOperation.originRequest}" disabled="true" label="#{msgs['otc.operation.requestorigin']}">
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.lstCboOtcOriginRequestType}" var="originRequest"
									   itemValue="#{originRequest.parameterTablePk}" itemLabel="#{originRequest.parameterName}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						<p:ajax event="change" update="cboRequest,iconCbRequest,cboParticipantBuy,settlementAccPanel" 
								listener="#{sirtexOperationBean.changeParticipantSeller}" process="@this"/>
					</p:selectOneMenu>
						</h:panelGrid>
					<p:message for="cboRequest" display="icon" id="iconCbRequest"/>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.request.number']} (*)" styleClass="required-field" rendered="#{otcOperation.idTradeRequestPk != null}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{otcOperation.idTradeRequestPk}" rendered="#{otcOperation.idTradeRequestPk != null}" tabindex="1"/>
				</td>
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.exchange.rato']}" styleClass="required-field"/></td> 
				<td>
					<p:inputNumber disabled="true" value="#{otcOperation.exchangeRate}" styleClass="content-right" thousandSeparator="," decimalSeparator="." tabindex="2"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.instrument']}(*)" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneRadio value="#{sirtexOperationBean.sirtexRegisterTO.instrumentType}" disabled="true" tabindex="3" id="rdioBooleanType">
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.instrumentTypeList}" var="instType" 
									   itemLabel="#{instType.value}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" itemValue="#{instType.code}"/>
					</p:selectOneRadio>
				</td>
				<td><h:outputText value="#{msgs['lbl.manage.incharge.search.modality']} (*)" styleClass="required-field"/></td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboModalities" value="#{otcOperation.mechanisnModality.id.idNegotiationModalityPk}" required="true" tabindex="4"
									 disabled="#{!sirtexOperationBean.viewOperationRegister}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.mechanismModalityList}" var="modality"
							   itemLabel="#{modality.negotiationModality.modalityName}"
							   itemValue="#{modality.negotiationModality.idNegotiationModalityPk}" />
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						<p:ajax event="change" update="cboModalities,iconCboModalities,cboParticipantSell,cboParticipantBuy,settlementAccPanel,pnlParticipantSell,pnlParticipantBuy" 
								process="@this" listener="#{sirtexOperationBean.changeNegotiationModality}"/>
					</p:selectOneMenu>
					<p:message for="cboModalities" display="icon" id="iconCboModalities"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td><h:outputText value="#{msgs['lbl.manage.incharge.search.operationDate']} (*)" styleClass="required-field"/></td>
				<td>
					<p:calendar value="#{otcOperation.operationDate}" id="calOperationDate" readonlyInput="true" 
								pattern="#{cons['dateFormat']}" navigator="true" disabled="true" tabindex="5"/>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantSell">
					<h:outputText value="#{msgs['monitor.settlementProcess.lbl.SellerParticipant']} (*)" styleClass="required-field"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboParticipantSell" value="#{otcOperation.sellerParticipant.idParticipantPk}" required="true"
									 disabled="#{!sirtexOperationBean.viewOperationRegister or
									 			 sirtexOperationBean.participantLogout != null or
									 			 otcOperation.mechanisnModality.id.idNegotiationModalityPk == null}"
									 style="width:500px" tabindex="6">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.participantSellers}" var="participant2"
									   itemLabel="#{participant2.displayDescriptionCode}" itemValue="#{participant2.idParticipantPk}"/>
					   	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						<p:ajax event="change" process="@this" listener="#{sirtexOperationBean.changeParticipantSeller}" 
								update="cboParticipantBuy,iconPlarticipantSell,cboParticipantSell,settlementAccPanel,flsAccountsAssigment"/> 
								
					</p:selectOneMenu>
					<p:message for="cboParticipantSell" display="icon" id="iconPlarticipantSell"/>
					</h:panelGrid>
				</td>
			</tr>
			<!-- CUI -->
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.cuiHolder']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
					<ark:holderHelper id="holderHelper" holder="#{sirtexOperationBean.sirtexRegisterTO.holderSeller}" 
						remoteListener="cleanAccount()" blParticipant="true" 
						participant="#{otcOperation.sellerParticipant.idParticipantPk}"
						blPersonType="true" required="true"
						personType="#{sirtexOperationBean.personType}" 
						disabled="#{!sirtexOperationBean.viewOperationRegister or (otcOperation.sellerParticipant.idParticipantPk == null) or (otcOperation.mechanisnModality.id.idNegotiationModalityPk == null)}"/>
					<p:remoteCommand name="cleanAccount" update=":frmSirtexOperation:idHelperAccountSource :frmSirtexOperation:pnlHelpSecurity" process="@this"
						actionListener="#{sirtexOperationBean.changeHolderSearchV2}"/>
					</h:panelGrid>
				</td>
			</tr>

			<!-- CUENTA TITULAR -->
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.holderAccount']} (*)" styleClass="required-field"/>
				</td>
				<td valign="top" colspan="3">
					<p:outputPanel id="idHelperAccountSource">
						<p:inputText disabled="true" rendered="#{sirtexOperationBean.lstSourceAccountTo.size() == 0}"></p:inputText>
						<p:dataTable id="tblResultHelperAccountSource" disabledSelection="#{!sirtexOperationBean.viewOperationRegister}"
									 paginator="true" rows="5" paginatorPosition="top"
								 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
							     	 style="width:810px"
							     	 rendered="#{sirtexOperationBean.lstSourceAccountTo.size()>0}"
							     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
								 	 value="#{sirtexOperationBean.lstSourceAccountTo}" var="account"
							     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
								 	 selection="#{sirtexOperationBean.sourceAccountTo}"
									 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
							
							<p:column selectionMode="single" style="width:18px"  /> 
							<p:ajax event="rowSelectRadio" listener="#{sirtexOperationBean.validHolderAccountSelected()}" update=":frmSirtexOperation :frmSirtexOperation:pnlHelpSecurity" />
							
							
							<p:column headerText="#{msgs['commons.datatable.account.number']}" styleClass="content-center" style="width:70px;">
								<h:outputText value="#{account.accountNumber}" />
							</p:column>
							
							<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
								<h:outputText value="#{account.alternateCode}" />
							</p:column>
							
							<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
							<ul style="padding:0px; margin:0px;padding-left: 4px;">
								<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
								<li>
									<h:outputText value="#{accountIterator}" />
								</li>
								</ui:repeat>
							</ul>
							</p:column>	
							
							<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
								<h:outputText value="#{account.accountStatusDescription}" />
							</p:column>
							
							<f:facet name="footer">  
					            <h:outputText value="#{sirtexOperationBean.lstSourceAccountTo.size()} #{msgs['lbl.results']}" 
					            			  style="align:left;"/>  
					        </f:facet> 
							
					</p:dataTable>
					
					</p:outputPanel>
				</td>
			</tr>
			
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantBuy">
					<h:outputText value="#{msgs['lbl.operation.participant.buyer']} (*)" styleClass="required-field"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboParticipantBuy" value="#{otcOperation.buyerParticipant.idParticipantPk}" required="true" style="width:500px" tabindex="7"
									 disabled="#{!sirtexOperationBean.viewOperationRegister or 
									 			 (sirtexOperationBean.participantLogout != null and 
									 			  sirtexOperationBean.participantLogout != sirtexOperationBean.idParticipantBC) or
									 			  otcOperation.mechanisnModality.id.idNegotiationModalityPk == null}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.participantBuyers}" var="participant"
									   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
							<p:ajax event="change" update="iconCboParticipantBuy,cboParticipantBuy,cboParticipantSell,settlementAccPanel" process="@this"
									listener="#{sirtexOperationBean.changeParticipantBuyer}"/>
					</p:selectOneMenu>
					<p:message for="cboParticipantBuy" display="icon" id="iconCboParticipantBuy"/>
					</h:panelGrid>
				</td>
			</tr>
		</table>
		<p:confirmDialog id="errorAccountList" closable="false" widgetVar="errorAccountList" message="#{bodyMessageView}"
						 header="#{msgs['messages.alert']}" severity="alert">
			<p:commandButton value="#{gmsgs['btn.accept']}" type="button" onclick="PF('errorAccountList').hide();" />
		</p:confirmDialog>
	</p:fieldset>

	<p:fieldset id="settlementAccPanel" legend="#{msgs['otc.operation.settlementdata']}">
	<table width="100%">
			<ui:include src="sirtexSeparatorTables.xhtml"/>
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.settlementschema']} (*)" styleClass="required-field"/></td>
				<td>
					<p:selectOneMenu value="#{otcOperation.settlementScheme}" disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.lstSchemeType}" var="schem" itemLabel="#{schem.parameterName}" itemValue="#{schem.elementSubclasification1}"/>
					</p:selectOneMenu>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.settlement.type']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu value="#{otcOperation.settlementType}" disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.lstSettlementType}" var="sett" itemLabel="#{sett.parameterName}" itemValue="#{sett.elementSubclasification1}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<p:outputPanel  id="pnlOperationsGeneric">
			<tr>
				<td colspan="4">
					<p:spacer></p:spacer>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
				<table width="100%">
					<tr>
					<td>
						<p:outputPanel id="pnlHelpSecurity">	
						<h:panelGrid columns="2">
						<p:inputText id="txtSecurityCode" disabled="#{!sirtexOperationBean.viewOperationRegister}"
										 value="#{otcOperation.securities.idSecurityCodePk}"
										 label="#{gmsgs['security.lbl.code']}"
										 maxlength="23"
										 styleClass="securityCode-input-text-width">
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									<p:keyFilter regEx="#{gconst['exp.regular.security.code']}"/>	
									<p:ajax event="blur" process="@this"
											listener="#{sirtexOperationBean.changeSecurity}"
											update="txtNominalValue, cboCurrency, 
													 		 txtCleanAmount,txtCashPrice,txtCashAmount,txtMarkDate,txtMarkRate,chbxSplit,
													 		 pnlSellerCui,cuiSellerAccounts,sirtexCouponTable,cuiBuyer,cuiAccountBuyers,
													 		 pendientDays cuiSellerAccounts pnlHelpSecurity" />	
								</p:inputText>
								<p:message for="txtSecurityCode" display="icon" id="icontxtSecurityCode"/>
						</h:panelGrid>					
							
						</p:outputPanel>
					</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel value="#{msgs['otc.operation.security.valnom']}"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperation.nominalValue}" id="txtNominalValue" disabled="true" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="."
									style="width:200px"/>
				</td>
				<td>
					<h:outputLabel value="#{msgs['otc.operation.security.currency']}"/>
				</td>
				<td>
					<p:selectOneMenu value="#{otcOperation.settlementCurrency}" required="true" label="#{msgs['otc.operation.security.currency']}"
									 	 id="cboCurrency" tabindex="11" disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.currencyTypesList}" var="money" itemValue="#{money.code}" itemLabel="#{money.value}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" global="false" process="@this"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputLabel value="#{msgs['operation.mark.date']}(*)" styleClass="required-field" rendered="false"/>
				</td>
				<td>
					<p:calendar value="#{markOperation.marketDate}" showOn="both" disabledWeekends="true" maxdate="#{sirtexOperationBean.currentSystemDate}" id="txtMarkDate"
								required="true" rendered="false"
								disabled="true">
						<p:ajax event="dateSelect" process="@this" global="false"/>
					</p:calendar>
				</td>
				<td>
					<h:outputLabel value="#{msgs['operation.mark.rate']}(*)" styleClass="required-field" rendered="false"/>
				</td>
				<td>
					<p:inputNumber value="#{markOperation.marketRate}" required="true" maxValue="999" thousandSeparator="," decimalSeparator="." decimalPlaces="3" id="txtMarkRate"
									rendered="false" disabled="true">
						<p:ajax event="change" process="@this" global="false" update="pnlSellerCui,cuiSellerAccounts,sirtexCouponTable,cuiBuyer,cuiAccountBuyers"/>
					</p:inputNumber>
				</td>
			</tr>
			<!-- FOR REAL CASH AMOUNT, PRICE -->
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.price.clean']}" id="txtRealCashAmountFixed" rendered="false"/>
				</td>
				<td>
					<p:inputText value="#{otcOperation.realCashPrice}" id="txtRealCashPriceView" style="text-align: right; width:200px;"
								 disabled="#{!sirtexOperationBean.viewOperationRegister}" rendered="false">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.amount.clean']}" rendered="false"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperation.realCashAmount}" id="txtCleanAmount" disabled="true" rendered="false"
									style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" thousandSeparator="," decimalSeparator="."
									onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">
						<p:ajax event="change" listener="#{sirtexOperationBean.changeRealCashAmout}" process="@this" update="@this"/>
					</p:inputNumber>
				</td>
			</tr>
			<!-- FOR CASH AMOUNT, PRICE -->
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.price.dirty']}" rendered="false"/>
				</td>
				<td>
					<p:inputNumber value="#{otcOperation.cashPrice}" id="txtCashPrice" disabled="#{!sirtexOperationBean.viewOperationRegister}" rendered="false"
								   	style="text-align: right;width:200px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator=".">
						<p:ajax process="@this" global="false"></p:ajax>
					</p:inputNumber>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.security.amount.dirty']}" rendered="false"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:inputNumber value="#{otcOperation.cashAmount}"  id="txtCashAmount" rendered="false" 
									disabled="true" style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" thousandSeparator="," decimalSeparator="."
									requiredMessage="#{msgs['otc.operation.validation.dirtyamount.required']}"
									onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">
						<p:ajax event="change" listener="#{sirtexOperationBean.changeCashAmount}" 
								update="txtCashAmount,txtCashPrice,calCashSettlementDate,txtCashSettlementDays"/>
					</p:inputNumber>
					<p:message for="txtCashAmount" display="icon" id="iconTxtCashAmount"/>
					</h:panelGrid>
				</td>
			</tr>
			</p:outputPanel>
			<!-- END - FOR REAL CASH AMOUNT, PRICE -->
			<!-- END - FOR CASH AMOUNT, PRICE -->
			<tr>
				<td><h:outputText value="#{msgs['otc.operation.settlementcash.day']} (*)" styleClass="required-field"/></td>
				<td>
					<h:panelGrid columns="2">
					<p:inputNumber value="#{otcOperation.cashSettlementDays}" maxValue="999" required="true" id="txtCashSettlementDays"
									disabled="true"
									style="text-align: right;width:200px" decimalPlaces="0" requiredMessage="#{otc.operation.validation.termday.required}">
						<p:ajax process="@this" event="change" update="calCashSettlementDate,txtCashSettlementDays" listener="#{sirtexOperationBean.changeCashSettlementDays}"/>
					</p:inputNumber>
					<p:message for="txtCashSettlementDays" display="icon" id="iconTxtCashSettlementDays"/>
					</h:panelGrid>
				</td>
				<td><h:outputText value="#{msgs['otc.operation.settlementcash.date']} (*)" styleClass="required-field"/></td>
				<td>
					<p:calendar value="#{otcOperation.cashSettlementDate}" disabled="true" id="calCashSettlementDate" pattern="#{cons['dateFormat']}"
								 />
				</td>
			</tr>
			<!-- BEGIN TERM DATA(Datos para la liquidacion Plazo) -->
			<p:outputPanel id="pnlSettlementTerm" rendered="#{negotiationModality.indReportingBalance eq bolType.YES.code}">
				<ui:include src="sirtexPlazeRepo.xhtml"/>
			</p:outputPanel>
		</table>
	</p:fieldset>
	<p:fieldset legend="#{msgs['sirtex.operation.register.account']}" id="flsAccountsAssigment">
		<table width="100%">
			<ui:include src="sirtexSeparatorTables.xhtml"/>
			<p:outputPanel rendered="#{sirtexOperationBean.participantLogout== null or 
									   sirtexOperationBean.participantLogout == otcOperation.sellerParticipant.idParticipantPk}">
			<tr>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.cui.sell']} (*)" styleClass="required-field" rendered="false"/>
				</td>
				<td colspan="3">
					<p:outputPanel id="pnlSellerCui" rendered="false">
						<ark:holderHelper holder="#{sirtexOperationBean.sirtexRegisterTO.holderSeller}" disabled="true"></ark:holderHelper>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.account.sell']} (*)"  styleClass="required-field" rendered="false"/>
				</td>
				<td colspan="3">
					<p:selectOneMenu value="#{accountOperationSeller.holderAccount.idHolderAccountPk}" disabled="#{otcOperation.securities.idSecurityCodePk == null}"
									 rendered="#{sirtexOperationBean.viewOperationRegister and false}" id="cuiSellerAccounts" required="true" tabindex="9">
						<c:if test="#{accountSellerList != null and fn:length(accountSellerList) != 1}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						</c:if>
						<f:selectItems value="#{accountSellerList}" var="account" itemLabel="#{account.alternateCode}" itemValue="#{account.idHolderAccountPk}"/>
						<p:ajax event="change" listener="#{sirtexOperationBean.changeHolderAccountSeller}" process="@this"/>
					</p:selectOneMenu>
					<ark:accountHelper rendered="#{!sirtexOperationBean.viewOperationRegister and false}" holderAccount="#{accountOperationSeller.holderAccount}"
									   disabled="true"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.settlement.message']}" />
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.split']}" rendered="#{sirtexOperationBean.viewOperationRegister}"/>
				</td>
				<td>
					
					<h:selectBooleanCheckbox value="#{sirtexOperationBean.sirtexRegisterTO.blIsSplit}" id="chbxSplit" tabindex="10"
											 rendered="#{sirtexOperationBean.viewOperationRegister}" 
											 disabled="#{otcOperation.securities.indSplitCoupon eq bolType.NO.code}">
						<p:ajax event="change" process="@this" update="chbxSplit :frmSirtexOperation:sirtexCouponTable :frmSirtexOperation:pnlHelpSecurity"
								listener="#{sirtexOperationBean.showCouponsToSplited}"/>
					</h:selectBooleanCheckbox>
				</td>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.pendient.days']}" />
				</td>
				<td>
					<h:outputText value="#{otcOperation.securities.pendientDays}" id="pendientDays"/>
				</td>
			</tr>
			</p:outputPanel>
			<tr>
				<td colspan="4">
					<p:dataTable value="#{otcOperation.couponsTradeRequestList}" var="sirtexCoupon" id="sirtexCouponTable">
						<p:column headerText="#{msgs['operation.sirtex.security.depositary']}" styleClass="content-center">
							<h:outputText value="#{otcOperation.securities.idSecurityCodePk}" 
										  rendered="#{sirtexCoupon.couponNumber eq 0 and sirtexCoupon.indIsCapital eq 0}"/>
							<h:outputText value="#{sirtexCoupon.securityCouponDescription}" 
										  rendered="#{sirtexOperationBean.sirtexRegisterTO.blIsSplit and sirtexCoupon.couponNumber ne 0}"/>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.security.bcb']}" styleClass="content-center">
							<h:outputText value="#{sirtexCoupon.securityCouponBcb}"
										  rendered="#{sirtexOperationBean.sirtexRegisterTO.blIsSplit or (sirtexCoupon.couponNumber eq 0 and sirtexCoupon.indIsCapital eq 1)}"/>
							<h:outputText value="#{otcOperation.securities.idSecurityBcbCode}"
										  rendered="#{sirtexCoupon.couponNumber eq 0 and sirtexCoupon.indIsCapital eq 0
										  			  and !sirtexOperationBean.sirtexRegisterTO.blIsSplit}"/>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.expiration.date']}" styleClass="content-center">
							<h:outputText value="#{sirtexCoupon.expiredDate}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.life.days']}" styleClass="content-center">
							<h:outputText value="#{sirtexCoupon.daysOfLife}"/>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.pendient.days.column']}" rendered="#{sirtexOperationBean.sirtexRegisterTO.blIsSplit}" styleClass="content-center">
							<h:outputText value="#{sirtexCoupon.pendientDays}"/>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.available.balance']}" styleClass="content-right" rendered="#{sirtexOperationBean.viewOperationRegister}">
							<h:outputText value="#{sirtexCoupon.originAvailableBalance}">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.supplied.quantity']}" styleClass="content-left">
							<p:inputText value="#{sirtexCoupon.suppliedQuantity}" styleClass="content-right" 
										 disabled="#{
										(( sirtexCoupon.pendientDays > sirtexOperationBean.getDaysoflifecoupon())  and  sirtexCoupon.couponNumber > 0)
										or
										(( sirtexCoupon.pendientDays > sirtexOperationBean.getDaysoflifecoupon())  and  sirtexCoupon.indIsCapital eq 1)
										 or
										(!sirtexOperationBean.viewOperationRegister or 
										 			  (fn:length(otcOperation.couponsTradeRequestList) > 1 and 
										 			  			 sirtexCoupon.couponNumber eq 0 and sirtexCoupon.indIsCapital eq 0) or
										 			  sirtexOperationBean.sirtexRegisterTO.marketFactNumber > 1
										 			  )
										 			  }" 
										 size="10" maxlength="10">
								<p:ajax global="false" process="@this" listener="#{sirtexOperationBean.changeSupliedQuantity(sirtexCoupon)}"
										update=":frmSirtexOperation:sirtexCouponTable"/>
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>		
							</p:inputText>
							
							<h:commandButton value="..." disabled="#{!sirtexOperationBean.viewOperationRegister}" 
											 rendered="#{sirtexCoupon.couponNumber eq 0 and sirtexCoupon.indIsCapital eq 0 and ( otcOperation.securities.securityClass ne 420 )}">
								<p:ajax process="@this" listener="#{sirtexOperationBean.showMarketFactBalance(sirtexCoupon)}" 
										update=":frmSirtexOperation:sirtexCouponTable, :frmSirtexOperation:marketFactUI:opnlMarketFact"/>
							</h:commandButton>
							<p:graphicImage id="idImgFiveYears" rendered="#{( sirtexCoupon.pendientDays >  sirtexOperationBean.getDaysoflifecoupon() )   and
											(sirtexCoupon.couponNumber > 0 )
											
											or
										(( sirtexCoupon.pendientDays > sirtexOperationBean.getDaysoflifecoupon())  and  sirtexCoupon.indIsCapital eq 1)
											
											}" 
											
											
											library="img" name="icons/blocked.png" />
									<p:tooltip for="idImgFiveYears">
     								 		 <h:outputFormat escape="false" value="#{msgs['operation.sirtex.days.of.life.five.years']}"/>
     						  		</p:tooltip>		
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.supplied.ok']}" styleClass="content-center">
							<h:selectBooleanCheckbox value="#{sirtexCoupon.suppliedOk}" 
													 disabled="#{!sirtexOperationBean.viewOperationReview}">
								<p:ajax process="@this" update=":frmSirtexOperation:sirtexCouponTable"
										listener="#{sirtexOperationBean.acceptSuppliedQuantity(sirtexCoupon)}"/>
							</h:selectBooleanCheckbox>
						</p:column>
						<p:column headerText="#{msgs['operation.sirtex.accpet.quantity']}" styleClass="content-center">
							<p:inputText value="#{sirtexCoupon.acceptedQuantity}" size="10" maxlength="10" 
										 disabled="#{!sirtexOperationBean.viewOperationReview or (sirtexCoupon.suppliedOk eq Boolean.FALSE) or (sirtexCoupon.acceptedQuantity eq null)}"
										 styleClass="content-right">
								<p:keyFilter regEx="/^([0-9])*$/" mask="###,###,##0"/>
								<p:ajax process="@this" update=":frmSirtexOperation:sirtexCouponTable"
										listener="#{sirtexOperationBean.changeAcceptQuantity(sirtexCoupon)}"/>
							</p:inputText>
						</p:column>
					</p:dataTable>
				</td>
			</tr>
			<p:outputPanel rendered="#{sirtexOperationBean.participantLogout == null or 
 									 			 	  sirtexOperationBean.participantLogout == otcOperation.buyerParticipant.idParticipantPk}">
			<tr>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.cui.buy']} (*)" styleClass="required-field" rendered="false"/> 
				</td>
				<td colspan="3">
					<p:outputPanel id="cuiBuyer" rendered="false">
						<ark:holderHelper holder="#{otcOperation.buyerParticipant.holder}" disabled="true"/> 
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['operation.sirtex.account.buy']} (*)" styleClass="required-field" rendered="false"/>
				</td>
				<td colspan="3">
					<p:selectOneMenu tabindex="11" value="#{accountOperationBuyer.holderAccount.idHolderAccountPk}" disabled="#{otcOperation.securities.idSecurityCodePk == null}"
									 id="cuiAccountBuyers" rendered="#{sirtexOperationBean.viewOperationRegister and false}" required="true">
 						<c:if test="#{accountBuyerList != null and fn:length(accountBuyerList) != 1}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						</c:if> 
						<f:selectItems value="#{sirtexOperationBean.sirtexRegisterTO.holderAccountBuyers}" var="account" 
									   itemValue="#{account.idHolderAccountPk}"
									   itemDescription="#{account.accountRntAndDescription}" itemLabel="#{account.alternateCode}">
						</f:selectItems>
						<p:ajax event="change" listener="#{sirtexOperationBean.changeHolderAccountBuyer}" process="@this"></p:ajax>
					</p:selectOneMenu>
					<ark:accountHelper rendered="#{!sirtexOperationBean.viewOperationRegister and false}" holderAccount="#{accountOperationBuyer.holderAccount}"
									   disabled="true"/>
				</td>
			</tr>
			</p:outputPanel>
		</table>
	</p:fieldset>
	
	<p:outputPanel id="pnlButtons">
		<table width="100%" align="center">
			<tr>
				<td align="center">
					<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save"
									 process="@this, negotiationDateAccPanel, settlementAccPanel, flsAccountsAssigment" update="@form" 
									 actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}"
									 rendered="#{sirtexOperationBean.viewOperationRegister}" id="btnSave"
									 >
									 <f:param name="skipValidation" value="true"/>
									 </p:commandButton>
									 
					<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}" 
									 rendered="#{sirtexOperationBean.viewOperationApprove}" iconPos="btnApprove" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
						
					<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}"
									 rendered="#{sirtexOperationBean.viewOperationReject}" id="btnReject" 
									 update="pnlDialogsCustomized" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-anulate" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}"
									 rendered="#{sirtexOperationBean.viewOperationAnnul}" id="btnAnnulate" 
									 update="pnlDialogsCustomized" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}" 
									 rendered="#{sirtexOperationBean.viewOperationConfirm}" id="btnConfirm" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
					
					<p:commandButton value="#{gmsgs['btn.settlement']}" icon="ui-confirm" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}" 
									 rendered="#{sirtexOperationBean.viewOperationSettlement}" id="btnSettlement" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-edit" actionListener="#{sirtexOperationBean.beforeSaveNewMechanismOperation}" id="btnEdited" 
									 rendered="#{sirtexOperationBean.viewOperationReview}" update="@form :opnlGenericDialogs" process="pnlButtons"/>
									 
					<p:commandButton id="cmbCleanHolderAccountReq" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
									 onclick="return showCleanConfirmDialog(this);"
									 actionListener="#{sirtexOperationBean.cleanAllForm}" update="@form" oncomplete="PF('cnfwClean').hide()" 
									 rendered="#{sirtexOperationBean.viewOperationRegister}"/>
					<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchSirtexOperation" process="@this"
									 onclick="if(isModifiedFormForBack(this))return false;" ajax="false" immediate="true"/>
				</td>
			</tr>
		</table>
	</p:outputPanel> 
	<p:outputPanel id="pnlDialogsCustomized">
		<p:confirmDialog id="cnfSirtexOperations" widgetVar="cnfwSirtexOperations" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwSirtexOperations').hide()"  
							 actionListener="#{sirtexOperationBean.saveNewMechanismOperation}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwSirtexOperations').hide()" type="button"/>
		</p:confirmDialog>
		<p:confirmDialog id="cnfMarkFactIncomplete" widgetVar="cnfMarkFactIncompleteW" severity="alert" closable="false" rendered="#{sirtexOperationBean.viewOperationReview}"
						 message="#{msgs['operation.validation.review.markfact']}" header="#{msgs['messages.warning']}">
			<p:commandButton value="#{gmsgs['idl.time.btn.lable.ok']}" process="@this" onclick="PF('cnfMarkFactIncompleteW').hide()"  
							 actionListener="#{sirtexOperationBean.loadDialogMarkFact}"/>
		</p:confirmDialog>
		<p:dialog  id="dlgMarkFactAssigment" widgetVar="dlgMarkFactAssigmentW" closable="true" showHeader="false" modal="true" width="360" resizable="false"
				   rendered="#{sirtexOperationBean.viewOperationReview}">
				<h:panelGrid columns="1">
				<p:dataTable value="#{accountOperationSeller.accountSirtexMarkectfacts}" var="markFact">
					<p:column styleClass="align-center" headerText="#{gmsgs['market.fact.date']}">
						<h:outputText value="#{markFact.marketDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"/>
						</h:outputText>
					</p:column>
					<p:column styleClass="align-center" headerText="#{gmsgs['market.fact.date']}">
						#{markFact.marketRate}%
					</p:column>
					<p:column headerText="#{gmsgs['market.fact.quantity']}">
						<p:spinner min="0" max="#{markFact.marketQuantity}" value="#{markFact.quantityModify}"></p:spinner>
					</p:column>
				</p:dataTable>
				<p:commandButton value="#{gmsgs['idl.time.btn.lable.ok']}" process="dlgMarkFactAssigment" styleClass="align-center" 
								 actionListener="#{sirtexOperationBean.showReviewDialog}" oncomplete="PF('dlgMarkFactAssigmentW').hide()"
								 update="cnfSirtexOperations">
				</p:commandButton>
				</h:panelGrid>
		</p:dialog>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>