<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.negotiation.type.OtcOperationDateSearchType" var="searchType"/> 
	<h:outputText value="#{gmsgs['inegotiations.sirtexoperation.manage.tille']}"  styleClass="title-page"/>
		<h:form id="frmOtcOperationSearch">
			<table width="100%">
				<tr>
					<td align="right">
						<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" 
										 rendered="#{userPrivilege.userAcctions.register}"  
										 action="#{sirtexOperationBean.newSirtexOperationAction}" icon="fa fa-edit"/>  
						<p:commandButton process="@this" immediate="true" value="liquidar" rendered="false"  
										 action="#{sirtexOperationBean.liquidar}" icon="fa fa-edit"/>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
							<table width="100%"> 
								<tr>
									<td width="15%"><h:outputText value="#{msgs['otc.operation.participant']} " /></td>
									<td width="35%">
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboParticipant" value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.idParticipantBuyer}" 
														 label="#{msgs['otc.operation.participant']}"
														 disabled="#{sirtexOperationBean.userInfo.userAccountSession.participantInstitucion or sirtexOperationBean.userInfo.userAccountSession.participantInvestorInstitucion }">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{sirtexOperationBean.sirtexConsultTO.allParticipantList}" var="participant"
														   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
											<p:ajax event="change" global="false"/>
										</p:selectOneMenu>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText value="#{msgs['otc.operation.modality']} " />
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboModalities" value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.idModalityNegotiation}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
											<f:selectItems value="#{sirtexOperationBean.sirtexConsultTO.modalitiesSearchList}" var="modality"
														   itemLabel="#{modality.negotiationModality.modalityName}" itemValue="#{modality.negotiationModality.idNegotiationModalityPk}"/>
										</p:selectOneMenu>
										<p:message display="icon" for="cboModalities"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['otc.operation.search.date']} "  styleClass="required-field"/></td>
									<td>
										<h:panelGrid columns="2"> 
										<p:selectOneMenu id="cboDateType" value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.idSearchDateType}" required="true">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{sirtexOperationBean.sirtexConsultTO.lstCboDateSearchType}" var="dateType"
														   itemValue="#{dateType.parameterTablePk}" itemLabel="#{dateType.description}"/>
											<p:ajax event="change" process="@this" global="false"  update="calEndDate"/>
										</p:selectOneMenu>
										<p:message display="icon" for="cboDateType"/>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText value="#{msgs['otc.operation.state']}"/>
									</td>
									<td>
										<p:selectOneMenu value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.otcOperationState}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{sirtexOperationBean.sirtexConsultTO.lstCboOtcOperationStateType}" var="otcState"
														   itemValue="#{otcState.parameterTablePk}" itemLabel="#{otcState.description}"/>
												<p:ajax global="false" process="@this"></p:ajax>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
								<td>
									<h:outputText value="#{msgs['lbl.operation.security.classCode']}" />
								</td>
								<td>
									<p:outputPanel id="pnlHelpSecurity">
										<p:inputText id="idSecurityCodePk" 
												 value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.securitie.idSecurityCodePk}"
												 label="#{gmsgs['security.lbl.code']}"
												 maxlength="23" required="false"
												 styleClass="securityCode-input-text-width">
											<p:keyFilter regEx="#{gconst['exp.regular.security.code']}"/>	
											<p:ajax event="blur" process="@this"
													listener="#{sirtexOperationBean.validSecurityEntered}"
													update="@this pnlHelpSecurity" />	
										</p:inputText>
									</p:outputPanel>				
								</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['otc.operation.initialdate']}"/>
									</td>
									<td>
										<p:calendar value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.initialDate}"
													maxdate="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.finalDate}" navigator="true" pattern="#{cons['dateFormat']}" 
													id="calInitialDate" showOn="button" readonlyInput="true" >
											<p:ajax update="calEndDate" event="dateSelect" global="false"/> 
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['otc.operation.finaldate']}"/>
									</td>
									<td>
										<p:calendar value="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.finalDate}" id="calEndDate" showOn="button" 
													readonlyInput="true" pattern="#{cons['dateFormat']}" 
													maxdate="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.idSearchDateType ne searchType.TERM_SETTLEM_DATE.code?
															   sirtexOperationBean.currentSystemDate:
															   null}"													
													navigator="true" mindate="#{sirtexOperationBean.sirtexConsultTO.sirtexFilters.initialDate}">  
											<p:ajax update="calInitialDate" event="dateSelect" global="false"/>
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td></td>
									<td align="center" colspan="3">
										<br></br>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
														 update="pnlOtcOperationResult,pnlButtonsComponent,flsFilters,:opnlGenericDialogs" process="flsFilters"   
														 actionListener="#{sirtexOperationBean.searchSirtexOperations}"/> 
										<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
														 actionListener="#{sirtexOperationBean.cleanSearchForm}"
														 process="@this" update="@form"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="helpSecurityFinancial">
							<ark:securities-help icon="false" name="securityHelp" />
						</p:outputPanel>
						<p:outputPanel id="pnlButtonsComponent">
							<comp:privileges id="praderaPrivileges" rendered="#{(sirtexOperationBean.sirtexConsultTO.sirtexDataModel.rowCount >= 1)}"
							 	actionConfirm="#{sirtexOperationBean.beforeToDetail('confirm')}"  
							 	actionAnnular="#{sirtexOperationBean.beforeToDetail('annulate')}"
							 	actionReject="#{sirtexOperationBean.beforeToDetail('reject')}" 
							 	actionApprove="#{sirtexOperationBean.beforeToDetail('approve')}"
							 	actionReview="#{sirtexOperationBean.beforeToDetail('review')}" 
							 	
							 	actions="#{userPrivilege.userAcctions}"
							 	
							 	actionSettlement="#{sirtexOperationBean.beforeToDetail('setTerm')}" valueSettlement="#{msgs['operation.sirtex.button.settlement']}"
							 	
							 	renders="#{userPrivilege.privilegeComponent}"/>
						 </p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlOtcOperationResult">
						<p:fieldset rendered="#{not empty sirtexOperationBean.sirtexConsultTO.sirtexDataModel}" legend="#{gmsgs['lbl.results']}">
							<p:dataTable value="#{sirtexOperationBean.sirtexConsultTO.sirtexDataModel}" var="operations"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										 paginator="true" rows="#{sirtexOperationBean.rowsQuantityDataTable}"  paginatorPosition="top" 
										 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
										 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
										 rowKey="#{operations.idMechanismOperationRequestPk}"
										 selection="#{sirtexOperationBean.sirtexConsultTO.sirtexOperationSelected}"
										 rendered="#{(sirtexOperationBean.sirtexConsultTO.sirtexDataModel.rowCount >= 1)}">
								<p:column selectionMode="multiple" style="width:18px"/>
								<p:column headerText="#{msgs['otc.operation.operationnumber']}" styleClass="content-center" sortBy="#{operations.idMechanismOperationRequestPk}">
									<p:commandLink value="#{operations.idMechanismOperationRequestPk}" style="color:blue" process="@this"
												   action="sirtexOperationRule" actionListener="#{sirtexOperationBean.viewSirtexOperationDetail(operations)}">
									</p:commandLink>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.modality']}" styleClass="content-center">
									<h:outputText value="#{operations.modalityName}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.operationdate.search']}" styleClass="content-center" sortBy="#{operations.operationDate}">
									<h:outputText value="#{operations.operationDate}">
										<f:convertDateTime pattern="#{msgs['dateFormatM']}"/>
									</h:outputText>
								</p:column>
<!-- 								<p:column headerText="#{msgs['otc.operation.operationnumber']}" styleClass="content-center" sortBy="#{operations.operationNumber}"> -->
<!-- 									<h:outputText value="#{operations.operationNumber}"/> -->
<!-- 									<h:outputText value="#{msgs['otc.operation.operationnumber.empty']}" rendered="#{empty operations.operationNumber}"/> -->
<!-- 								</p:column> -->
								<p:column headerText="#{msgs['otc.operation.participant.sell.search']}" styleClass="content-center" sortBy="#{operations.idPartSeller}-#{operations.mnemoPartSeller}">
									<h:outputText value="#{operations.idPartSeller}-#{operations.mnemoPartSeller}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.participant.buy.search']}" styleClass="content-center" sortBy="#{operations.idPartBuyer}-#{operations.mnemoPartBuyer}">
									<h:outputText value="#{operations.idPartBuyer}-#{operations.mnemoPartBuyer}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.settlement.term.date']}" styleClass="content-center" sortBy="#{operations.settlementTermDate}">
									<h:outputText value="#{operations.settlementTermDate}">
										<f:convertDateTime pattern="#{msgs['dateFormatM']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-center" sortBy="#{operations.securityCode}">
									<p:commandLink process="@this" actionListener="#{sirtexOperationBean.showSecurityFinancialData(operations.securityCode)}"
												   update=":frmOtcOperationSearch:helpSecurityFinancial">
										<h:outputText value="#{operations.securityCode}"/>
									</p:commandLink>
								</p:column>
								<ui:remove>
								<p:column headerText="#{msgs['lbl.operation.is.coupon']}" styleClass="content-center" >
									<h:outputText value="#{operations.coupon}"/>
								</p:column>
								</ui:remove>
								<p:column headerText="#{msgs['lbl.operation.termInitial']}" styleClass="content-center" >
									<h:outputText value="#{operations.termSettlementDays}"/>
								</p:column>
								<ui:remove>
								<p:column headerText="#{msgs['lbl.operation.termSettled']}" styleClass="content-center" >
									<h:outputText value="#{operations.termSettlementDaysReal}"/>
								</p:column>
								</ui:remove>
								<p:column headerText="#{msgs['lbl.operation.stockQuantity']}" styleClass="content-center" >
									<h:outputText value="#{operations.stockQuantity}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.state']}" styleClass="content-center" >
									<h:outputText value="#{operations.operationStateDesc}"/>
								</p:column>
								<f:facet name="footer" >  
								   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								         <f:param value="#{sirtexOperationBean.sirtexConsultTO.sirtexDataModel.rowCount}"/>
								   </h:outputFormat>
							   </f:facet>
							   <p:ajax event="page" listener="#{sirtexOperationBean.changePageDatatable}"/>
							   <p:ajax event="rowToggle" listener="#{sirtexOperationBean.changePageDatatable}"/>
							</p:dataTable>
							<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{(1 > sirtexOperationBean.sirtexConsultTO.sirtexDataModel.rowCount )}"
							   styleClass="required-field"/>
						</p:fieldset>
						<ark:securities-help isinCode=""/>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
		<p:confirmDialog id="cnfSirtexOperations" widgetVar="cnfwSirtexOperations" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwSirtexOperations').hide()"  
							 actionListener="#{sirtexOperationBean.executeActionMultiple()}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwSirtexOperations').hide()" type="button"/>
		</p:confirmDialog>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>