<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
		<tr>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.day']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputNumber value="#{otcOperation.termSettlementDays}" maxValue="999" required="true" id="txtTermSettlementDays"
								disabled="#{!(sirtexOperationBean.viewOperationRegister)}" tabindex="8"
								style="text-align: right;width:200px" decimalPlaces="0" requiredMessage="#{otc.operation.validation.termday.required}">
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
					<p:ajax process="@this" event="change" listener="#{sirtexOperationBean.changeTermSettlementDays}" 
							update="@this txtTermSettlementDays,calTermSettlementDate,
									pnlSellerCui,cuiSellerAccounts,sirtexCouponTable,cuiBuyer,cuiAccountBuyers"/>
				</p:inputNumber>
				<p:message for="txtTermSettlementDays" display="icon"></p:message>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.date']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:calendar value="#{otcOperation.termSettlementDate}" disabled="true"  pattern="#{cons['dateFormat']}" id="calTermSettlementDate" required="true"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.price']}" rendered="false"/>
			</td>
			<td>
				<p:inputNumber value="#{otcOperation.termPrice}" id="txtTermPrice" thousandSeparator="," decimalSeparator="." rendered="false" 
							   style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" disabled="#{!(sirtexOperationBean.viewOperationRegister)}"> 
					<p:ajax event="change" process="@this" global="false"></p:ajax>
				</p:inputNumber>
			</td>
			<td>
				<h:outputText value="#{msgs['otc.operation.settlement.term.amount']}" rendered="false"/>
			</td>
			<td>
				<p:inputNumber value="#{otcOperation.termAmount}" id="txtTermAmount" required="true"  tabindex="22"
							    style="text-align: right;width:200px" maxValue="#{msgs['maxiumvalue']}" minValue="0" decimalPlaces="2" rendered="false"
							    disabled="true"
							    thousandSeparator="," decimalSeparator=".">
				</p:inputNumber>
			</td>
		</tr>
</html>