<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:outputText value="#{authorizedSignatureBean.flagActionRegister? msgs['lbl.admin.titulos.authorized.signature.register']:msgs['lbl.admin.titulos.authorized.signature.modify']}" styleClass="title-page" />
		
		<h:form id="frmCustody">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsViewSignature" legend="#{msgs['lbl.dlg.fielset.view.authorized.signature.info']}" >
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.names']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itaName" maxlength="50" required="true"
				    							requiredMessage="#{msgs['validation.required.input.autorized.signature']}"
				    							style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.name}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphabetic']}" />
							    			</p:inputText>
							    			<p:message for="itaName"  display="icon" />
						    			</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.first.last.name']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itaFirtsLastName" maxlength="30" required="true"
				    							requiredMessage="#{msgs['validation.required.input.autorized.signature']}"
				    							style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.firtsLastName}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphabetic']}" />			 
							    			</p:inputText>
							    			<p:message for="itaFirtsLastName"  display="icon" />
						    			</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.second.last.name']} "/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itaSecondLastName" maxlength="30"
				    							requiredMessage="#{msgs['validation.required.input.autorized.signature']}"
				    							style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.secondLastName}">
							    				<p:keyFilter regEx="#{cons['exp.regular.alphabetic']}" />			 
							    			</p:inputText>
							    			<p:message for="itaSecondLastName"  display="icon" />
						    			</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.document.number']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itaDocumentNumber" maxlength="21" required="true"
				    							requiredMessage="#{msgs['validation.required.input.autorized.signature']}"
				    							style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.documentNumber}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="/[A-Z\d\-]/i"/>			 
							    			</p:inputText>
							    			<p:message for="itaDocumentNumber"  display="icon" />
						    			</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.job.position']} (*) " styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itaJobPosition" maxlength="50" required="true"
				    							requiredMessage="#{msgs['validation.required.input.autorized.signature']}"
				    							style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.jobPosition}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
							    			</p:inputText>
							    			<p:message for="itaJobPosition"  display="icon" />
						    			</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.situation']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu id="situationId" style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.situation}">  
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
												<f:selectItems value="#{authorizedSignatureBean.situationList}"/>
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validateSituation" for="situationId" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.signature.type']} (*) " styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu id="signatureTypeId" style="width:300px;" value="#{authorizedSignatureBean.authorizedSignatureTOReg.signatureType}">  
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
												<f:selectItems value="#{authorizedSignatureBean.signatureTypeList}"/>
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validateSignatureType" for="signatureTypeId" display="icon" />
										</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.institution']} (*)" styleClass="required-field"
											rendered="#{authorizedSignatureBean.flagDepositary}"/>
									</td>
									<td>
										<p:outputPanel id="pnlInstitution" rendered="#{authorizedSignatureBean.flagDepositary}">
											<h:panelGrid columns="2">
												<p:selectOneMenu id="institutionId" value="#{authorizedSignatureBean.authorizedSignatureTOReg.idInstitutionFk}" style="width:520px">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
													<f:selectItems value="#{authorizedSignatureBean.institutionList}" />
													<f:validator validatorId="selectOneRequiredValidator" />
													<f:param name="skipValidation" value="true"/>
												</p:selectOneMenu>
												<p:message id="validateInstitution" for="institutionId" display="icon" />
											</h:panelGrid>
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										
									</td>
									<td>
										
									</td>
									
									<td width="150"></td>
									<td></td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.authorized.signature.signature']} (*) " styleClass="required-field"/>
									</td>
									<td>
									
										<p:outputPanel id="opUploadSignatureImg" styleClass="fileupload-customize" layout="block">	
											<p:fileUpload id="fuplSignatureImg" mode="advanced" auto="true"
	 	  												   widgetVar="wvSignatureImg"
									 			           label="#{msgs['fupl.label.signature']}" 
		 												   invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
		  												   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"							 			             
														   fileUploadListener="#{authorizedSignatureBean.imgAttachSignatureImg}" update="opUploadSignatureImg pnlImagePreview"/>
														   
										   <script type="text/javascript">									
										    	$(document).ready(function(){
													fileuploadValidate('fuplSignatureImg');	
												});		
											</script>
											
											<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
											<h:panelGrid columns="6">
												<p:tooltip for="imgLimit">
														<h:outputFormat value="#{msgs['fupl.limit.info.signature']}" 
   															escape="false">
															<f:param value="#{authorizedSignatureBean.flagSizeSignature}"/>
															<f:param value="#{authorizedSignatureBean.flagUploadImgTypesImgDisplayToSignature}"/>
															<f:param value="#{authorizedSignatureBean.flagDimensionToSignature}"/>			
														</h:outputFormat>
												</p:tooltip>
												<p:commandLink id="idBtnViewSignature" process="@this" immediate="true" ajax="false" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
   	   													 rendered="#{authorizedSignatureBean.authorizedSignatureTOReg.signatureImg!=null}">
												 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
												 		<p:fileDownload value="#{authorizedSignatureBean.getStreamedContentFromFile(authorizedSignatureBean.authorizedSignatureTOReg.signatureImg,null,authorizedSignatureBean.authorizedSignatureTOReg.signatureName)}" />
												</p:commandLink>
												<p:tooltip for="idBtnViewSignature" value="#{msgs['fupl.info.btn.dowload.file']}"/>
											
												<p:commandLink id="idBtnRemoveSignature" process="@this" actionListener="#{authorizedSignatureBean.removeSignatureImg()}"
   														rendered="#{authorizedSignatureBean.authorizedSignatureTOReg.signatureImg!=null}"
														update="opUploadSignatureImg pnlImagePreview">
														<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
										 		</p:commandLink>
										 		<p:tooltip for="idBtnRemoveSignature" value="#{msgs['fupl.info.btn.remove.file']}"/>
										 		
   												<h:outputLabel id="lblFuplSignatureName"
														value="#{authorizedSignatureBean.flagDisplayName==null ? msgs['fupl.no.selected'] : authorizedSignatureBean.flagDisplayName}" 
											    		styleClass="label"/>
											    		
											</h:panelGrid>
										</p:outputPanel>
									</td>
									
									<td width="150">
										<h:outputLabel value="#{msgs['lbl.file.attached']}" />
									</td>
									<td style="white-space: nowrap;">
										<p:outputPanel id="opnlMcnFileAtt" styleClass="fileupload-customize" layout="block">
										<p:fileUpload id="fuplMcnFileAtt" widgetVar="fuplwMcnFileAtt"
							  			   label="#{gmsgs['fupl.label']}" auto="true" required="false"
										   update="opnlMcnFileAtt :opnlGenericDialogs :cnfMsgCustomValidationSec"
										   fileUploadListener="#{authorizedSignatureBean.uploadAttachedFile}"
										   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}" 
		  								   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"	
										   >
										</p:fileUpload>
										<p:graphicImage id="imgLimitFile" library="img" name="icons/help.png" styleClass="icon"/>
										
										<h:panelGrid columns="6">
											<p:tooltip for="imgLimitFile">
												<h:outputFormat value="#{msgs['fupl.limit.info.file']}" escape="false">
													<f:param value="#{authorizedSignatureBean.flagSizeSignature}"/>
													<f:param value="#{authorizedSignatureBean.pdfFileUploadFileTypesDisplay}"/>			
												</h:outputFormat>
											</p:tooltip>
										
											<p:commandLink id="idBtnViewFile" process="@this" immediate="true" ajax="false" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
   	   										 	rendered="#{authorizedSignatureBean.authorizedSignatureTOReg.fileContent!=null}">
												<p:graphicImage id="imgViewFile" library="img" name="icons/loupe.png"/>
												<p:fileDownload value="#{authorizedSignatureBean.getStreamedContentFromFile(authorizedSignatureBean.authorizedSignatureTOReg.fileContent,null,authorizedSignatureBean.authorizedSignatureTOReg.fileName)}" />
											</p:commandLink>
											<p:tooltip for="idBtnViewFile" value="#{msgs['fupl.info.btn.dowload.file']}"/>
													
											<p:commandLink id="idBtnRemoveFile" process="@this" actionListener="#{authorizedSignatureBean.removeFile()}"
   												rendered="#{authorizedSignatureBean.authorizedSignatureTOReg.fileContent!=null}"
												update="opnlMcnFileAtt">
												<p:graphicImage id="imgRemoveFile" library="img" name="buttons/remove.png"/>
											</p:commandLink>
											<p:tooltip for="idBtnRemoveFile" value="#{msgs['fupl.info.btn.remove.file']}"/>
										
											<h:outputLabel id="lblFuplFileName" 
											 	value="#{authorizedSignatureBean.authorizedSignatureTOReg.fileName == null ? gmsgs['fupl.no.selected'] : authorizedSignatureBean.authorizedSignatureTOReg.fileName}" 
											 	styleClass="label"	/>
										</h:panelGrid>
										</p:outputPanel>	
									</td>
								</tr>
								<tr>
									<td width="25px"></td>
									<td width="150">
									<br/>
										<h:outputLabel value="#{msgs['lbl.authorized.signature.view.previo']}:"/>
									</td>
									<td>
									<br/>
										 <p:panelGrid id="pnlImagePreview" columns="1">
											<p:graphicImage id="imgSignature"
												value="#{imageStreamerBean.fileSignatureImage}" cache="false"
												rendered="#{imageStreamerBean.fileSignatureImage != null}"
												height="200px" width="500px" />
										</p:panelGrid>
									</td>
									<td width="150"></td>
									<td></td>
								</tr>
								
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4"> 
						<p:outputPanel >
							<p:commandButton value="#{gmsgs['btn.save']}" 
				 		 		icon="fa fa-save" 
						 		action="#{authorizedSignatureBean.beforeSave}"
						 		process="@this frmCustody" update="frmCustody :opnlGenericDialogs :opnlDialogs"
						 		rendered="#{authorizedSignatureBean.flagActionRegister}" >
							</p:commandButton> 
							
							<p:commandButton value="#{gmsgs['btn.modify']}" 
				 		 		icon="ui-edit" 
						 		action="#{authorizedSignatureBean.beforeSave}"
						 		process="@this frmCustody" update="frmCustody :opnlGenericDialogs :opnlDialogs" 
						 		rendered="#{!authorizedSignatureBean.flagActionRegister}">
							</p:commandButton>
										 
							<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
											
							<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
								 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()"
								 actionListener="#{authorizedSignatureBean.btnClear}" update="@form" />
						
							<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
								<p:commandButton value="#{gmsgs['btn.back']}" 
									icon="fa fa-undo" immediate="true"
							 		onclick="if(isModifiedFormForBack(this,'frmCustody'))return false;"
							 		action="#{authorizedSignatureBean.goPageSearch}"
							 		process="@this" >
							</p:commandButton> 
						</p:outputPanel>
					</td> 
				</tr>			
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 update=":frmCustody"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog>
			
			<p:confirmDialog id="alterValidationImg"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationImgWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton process="@this" 
			        				 oncomplete="PF('alterValidationImgWidget').hide()"
			        				 value="#{gmsgs['btn.accept']}"/>
		        </h:panelGrid>
	    	</p:confirmDialog>
	    	
			<p:confirmDialog id="cnfAuthorizedSignatureRegiter" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfAuthorizedSignatureRegiter" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{authorizedSignatureBean.saveRegisterAuthorizedSignature}"	    						 
	    						 oncomplete="PF('cnfAuthorizedSignatureRegiter').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{authorizedSignatureBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfAuthorizedSignatureRegiter').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTransactionAuthorizedSignature" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTransactionAuthorizedSignature" > 
		        <h:form id="frmEndTransactionAuthorizedSignature"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchAuthorizedSignature"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="validationAuthorizedSignature" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="validationAuthorizedSignature" > 
		        <h:form id="frmvalidationChannelOpening"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('validationAuthorizedSignature').hide()" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>