<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmCustody" style="">
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['deposito.lbl.admin.titulos.authorized.signature']}" styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton value="#{msgs['deposit.register.btn.lbl']}" icon="fa fa-edit" immediate="true" 
										 rendered="#{authorizedSignatureBean.privilegeRegister}" 
										 action="#{authorizedSignatureBean.newAuthorizedSignature}" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['deposito.crit.lbl']}">
						 		
							<table width="100%"> 
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.search.criteria']}" />
									</td>
									<td>
										<p:inputText id="searchCriteriaId" value="#{authorizedSignatureBean.searchCriteria}"
											maxlength="50" size="30"/>
										<p:tooltip for="searchCriteriaId"
                                   			value="#{msgs['panel.sarch.search.criteria.tooltip']} #{msgs['lbl.authorized.signature.document.number']}
                                   			, #{msgs['lbl.authorized.signature.full.name']} ,#{msgs['lbl.authorized.signature.job.position']}"
                                   			trackMouse="true"/>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.state']}"/>
									</td>
									<td>
										<p:selectOneMenu id="statusId" style="width:200px;" value="#{authorizedSignatureBean.statusSelected}">  
											<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
											<f:selectItems value="#{authorizedSignatureBean.statusAutorizedSignatureList}" var="statusAutorizedSignature"
														   itemLabel="#{statusAutorizedSignature.parameterName}" itemValue="#{statusAutorizedSignature.parameterTablePk}"
														    />
										</p:selectOneMenu>
								    </td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.situation']}"/>
									</td>
									<td>
										<p:selectOneMenu id="situationId" style="width:200px;" value="#{authorizedSignatureBean.situationSelected}">  
											<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
											<f:selectItems value="#{authorizedSignatureBean.situationList}"/>
										</p:selectOneMenu>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.institution']}" rendered="#{authorizedSignatureBean.flagDepositary}"/>
									</td>
									<td>
										<p:outputPanel id="pnlInstitution" rendered="#{authorizedSignatureBean.flagDepositary}">
											<p:selectOneMenu value="#{authorizedSignatureBean.institutionSelected}" style="width:520px" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
												<f:selectItems value="#{authorizedSignatureBean.institutionList}" />
											</p:selectOneMenu>
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.fecha.inicial']}"/>	
									</td>
									<td>
										<p:calendar id="calFecInitial"
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{authorizedSignatureBean.initialDate}" 
													maxdate="#{authorizedSignatureBean.currentDate}" >
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this"/>
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this"/>
										</p:calendar>
									</td>
									
									<td>
										<h:outputText value="#{msgs['deposito.fecha.final']}"/>
									</td>
									<td>
										<p:calendar id="calFecFinal" 
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{authorizedSignatureBean.finalDate}" 
													maxdate="#{authorizedSignatureBean.currentDate}"
													mindate="#{authorizedSignatureBean.initialDate}" >
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this" />
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this" />
										</p:calendar>
									</td>
								</tr>
										
								<tr>
									<td colspan="4" align="center">
										<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" 
														 update="frmCustody"
										 				 rendered="#{authorizedSignatureBean.privilegeSearch}" 
														 action="#{authorizedSignatureBean.searchAuthorizedSignatures}" />
										
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
														 
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
														 immediate="true" process="@this"
														 action="#{authorizedSignatureBean.clearSearchCriteria}" 
														 update="frmCustody" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<p:outputPanel rendered="#{not empty authorizedSignatureBean.authorizedSignatureSearchList}" >
						<p:outputPanel id="pnlButtons" >
						<p:commandButton id="cmbModify"
												 value="#{gmsgs['btn.modify']}"
												 action="#{authorizedSignatureBean.modifyAuthorizedSignature}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-edit"
												 rendered="#{userPrivilege.userAcctions.modify}"/>
						
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton id="cmbReject"
												 value="#{msgs['btn.reject']}"
												 action="#{authorizedSignatureBean.rejectAuthorizedSignature}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-cancel"
												 rendered="#{userPrivilege.userAcctions.reject}"/>
						
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton id="cmbConfirm"
												 value="#{msgs['btn.confirm']}"
												 action="#{authorizedSignatureBean.confirmAuthorizedSignature}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-confirm"
												 rendered="#{userPrivilege.userAcctions.confirm}"/>
						</p:outputPanel>
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:fieldset id="fsListado" legend="#{msgs['lbl.results']}" 
										rendered="#{not empty authorizedSignatureBean.authorizedSignatureSearchList}">
										
								<p:dataTable 
									id="dtbResult" var="authorizedSignatureVar"
									style="padding-right:0px !important"
									paginator="true" rows="10"  paginatorPosition="top"
									selection="#{authorizedSignatureBean.selectAuthorizeSignatureTO}"
									value="#{authorizedSignatureBean.searchAuthorizedSignatureDataModel}" 
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
							        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									rowKey="#{authorizedSignatureVar}">
									
									<p:column style="text-align:center" selectionMode="single" />
									
									<p:column styleClass="content-center" sortBy="#{authorizedSignatureVar.registerDateString}" width="10%"> 
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.register.date']}" />
										</f:facet>
										<h:outputText style="float:left" value="#{authorizedSignatureVar.registerDateString}" />
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{authorizedSignatureVar.documentNumber}" width="10%">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.document.number']}" />
										</f:facet>
										<p:commandLink style="color:blue" process="@this" immediate="true"
														   action="#{authorizedSignatureBean.viewAuthorizedSignatureDetail(authorizedSignatureVar)}">
											<h:outputText style="float:left" value="#{authorizedSignatureVar.documentNumber}" />
										</p:commandLink>																			
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{authorizedSignatureVar.fullName}" width="15%"> 
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.full.name']}" />
										</f:facet>
										<h:outputText style="float:left" value="#{authorizedSignatureVar.fullName}" />
									</p:column>
									
									<p:column styleClass="content-center" width="20%">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.job.position']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{authorizedSignatureVar.jobPosition}"/>
									</p:column>
									
									<p:column styleClass="content-center" width="25%" sortBy="#{authorizedSignatureVar.institution}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.institution']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{authorizedSignatureVar.institution}"/>
									</p:column>
									
									<p:column styleClass="content-center" width="10%" sortBy="#{authorizedSignatureVar.situationDesc}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.situation']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{authorizedSignatureVar.situationDesc}"/>
									</p:column>
									
									<p:column styleClass="content-center" width="10%" sortBy="#{authorizedSignatureVar.stateDesc}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.authorized.signature.state']}" />
										</f:facet>
										<h:outputText style="float:left" value="#{authorizedSignatureVar.stateDesc}"/>
									</p:column>
									
									<f:facet name="footer">  
							            <h:outputLabel value="#{authorizedSignatureBean.searchAuthorizedSignatureDataModel.rowCount} #{msgs['lbl.results']}"/>
							        </f:facet>
							        
								</p:dataTable>
								
								<h:outputLabel value="#{msgs['deposito.search.results']}" 
													rendered="#{!(authorizedSignatureBean.searchAuthorizedSignatureDataModel.rowCount >= 1)}"
													style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
        
			<h:form id="formPopUp">
			
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog> 
			
			<p:confirmDialog id="cnfEndTransactionAuthorizedSignature" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTransactionAuthorizedSignature" > 
		        <h:form id="frmEndTransactionAuthorizedSignature"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchAuthorizedSignature"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	</h:form>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>