<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
<script>
$(window).load(function(){
	setInitialFormState('#formAdministrarCotizaciones'); //con michi 
	setAllHolidays('${quoteManagementBean.allHolidays}');
});					
</script> 
<h:outputText value="#{quoteManagementBean.viewOperationRegister ? gmsgs['GeneralParameters.quotations.register.title'] : gmsgs['GeneralParameters.quotations.modify.title']}" styleClass="title-page" id="idOtxtIndividualRegTitle"/>
<h:form id="formAdministrarCotizaciones">
	<table width="100%">
	<tr>
		<td width="100%">
			<p:fieldset id="idFldsIndividualRegister" 
				legend="#{quoteManagementBean.viewOperationRegister ? msgs['quotes.lbl.register.individualrecord'] : msgs['quotes.lbl.modify.individualrecord']}">
				<table width="100%">
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['quotes.lbl.date']} (*)" styleClass="required-field"/>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:calendar id="idQuotationDate" pattern="#{msgs['dateFormat']}" disabled="true"
							value="#{quoteManagementBean.quotation.quotationDate}" required="true" requiredMessage="#{msgs['quotation.error.msg.date.required']}"
							showOn="both" maxdate="#{quoteManagementBean.currentSystemDate}" readonlyInput="true"
							navigator="true" yearRange="1900:c+c" size="10" beforeShowDay="disableAllHolydays">
							<p:ajax event="dateSelect" process="@this" global="false"/>
						</p:calendar>
						</h:panelGrid>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['quotes.lbl.mechanism']} (*)" id="idOtxtMechanism" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboMechanism" label="#{msgs['quotes.lbl.mechanism']}" 
							disabled="#{quoteManagementBean.viewOperationModify}" value="#{quoteManagementBean.negotiationMechanism.idNegotiationMechanismPk}">
							<f:selectItem itemLabel="#{msgs['quotes.opt.select']}" id="idCboItemMechanism"/>
							<f:selectItems id="idCboItemsMechanism" value="#{quoteManagementBean.listMechanisms}"
								var="type" itemLabel="#{type.mechanismName}" itemValue="#{type.idNegotiationMechanismPk}"/>
								<p:ajax event="change" listener="#{quoteManagementBean.changeMachanismAction}" update="@form"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
						</p:selectOneMenu>
						<p:message id="msgcboMechanism" for="cboMechanism" display="icon"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['quotes.lbl.value']} (*)" styleClass="required-field"/>
					</td>
					<td colspan="3">									
						<ark:securityHelper security="#{quoteManagementBean.quotation.security}"
							remoteListener="rcmdAfterSecurityHelper();" required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
							disabled="#{quoteManagementBean.indDisabledSecurityHelperForMgmt}"/>
				 			<p:remoteCommand name="rcmdAfterSecurityHelper" onstart="PF('statusDialogCustom').show()"
						  		oncomplete="PF('statusDialogCustom').hide()" actionListener="#{quoteManagementBean.validateSecurity}" 
						  		process="@this"/>			 
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['quotes.lbl.open']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputNumber id="quoteOpenPrice" decimalSeparator="." thousandSeparator=","
							label="#{msgs['quotes.lbl.open']}"
							value="#{quoteManagementBean.quotation.openingPrice}" style="text-align:right"
							maxValue="999999.99">	
							<p:ajax event="blur" update="quoteOpenPrice msgQuoteOpenPrice" global="false"/>	
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
						</p:inputNumber>
						<p:message for="quoteOpenPrice" id="msgQuoteOpenPrice" display="icon"/>
						</h:panelGrid>
					</td>
					<td>
						<h:outputText value="#{msgs['quotes.lbl.avgprice']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputNumber id="quoteAveragePrice" decimalSeparator="." thousandSeparator=","  
							label="#{msgs['quotes.lbl.avgprice']}"
							value="#{quoteManagementBean.quotation.averagePrice}" style="text-align:right"
							maxValue="999999.99">	
							<p:ajax event="blur" update="quoteAveragePrice msgQuoteAveragePrice" global="false"/>		
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>									
						</p:inputNumber>
						<p:message id="msgQuoteAveragePrice" for="quoteAveragePrice" display="icon"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['quotes.lbl.closeprice']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputNumber id="quoteClosPrice" decimalSeparator="." thousandSeparator=","  maxlength="8"
							label="#{msgs['quotes.lbl.closeprice']}"
							value="#{quoteManagementBean.quotation.closePrice}" style="text-align:right"
							maxValue="999999.99">
							<p:ajax event="blur" update="quoteClosPrice msgQuoteClosePrice" global="false"/>
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
						</p:inputNumber>
						<p:message for="quoteClosPrice" id="msgQuoteClosePrice" display="icon"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						
						<p:commandButton id="btnSave" value="#{quoteManagementBean.viewOperationRegister ? msgs['btn.save'] : msgs['btn.modificar']}" 
							update="formAdministrarCotizaciones"
							actionListener="#{quoteManagementBean.beforeSaveListener}" icon="#{quoteManagementBean.viewOperationRegister?'ui-save':'ui-edit'}">
							<f:param name="skipValidation" value="true"/>
						</p:commandButton>						
						
						<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form"
							 onclick="return showCleanConfirmDialog(this);"  oncomplete="PF('cnfwClean').hide();"
							action="#{quoteManagementBean.cleanQuotationListener}" partialSubmit="false"
							process="@this" icon="fa fa-trash" rendered="#{quoteManagementBean.viewOperationRegister}">							
						</p:commandButton>						

					 	
						 <p:commandButton id="btnBack" 								 
							     action="search"
							     onclick="if(isModifiedFormForBack(this))return false;"
								 value="#{msgs['btn.back']}" 
								 icon="fa fa-undo"
								 immediate="true"
								 ajax="false"/>											 
					</td>
				</tr>
				</table>
			</p:fieldset>
		</td>
	</tr>
	</table>
	
	<p:confirmDialog id="cnfAdmQuotation" severity="alert" widgetVar="cnfwAdmSystem" closable="false">
		<f:facet name="header">
			<h:outputFormat id="idOfrtHeader"
				value="#{quoteManagementBean.viewOperationRegister ? msgs['lbl.confirm.header.record'] : msgs['lbl.confirm.header.modification']}" />
		</f:facet>
		<f:facet name="message">
			<h:outputFormat id="idOfrtMessage"
				value="#{quoteManagementBean.viewOperationRegister ? msgs['quotation.confirm.register'] : msgs['quotation.confirm.modification']}">
				<f:param value=" "/>
		</h:outputFormat>
		</f:facet>
		<p:commandButton id="cmbConfirm" value="#{msgs['btn.yes']}" actionListener="#{quoteManagementBean.saveQuotationListener}"
			update="@form" oncomplete="PF('cnfwAdmSystem').hide();"/>
		<p:commandButton id="cmbNO" value="#{msgs['btn.no']}" type="button"
			onclick="PF('cnfwAdmSystem').hide();"/>
	</p:confirmDialog>
	
	</h:form>
</ui:define>
</ui:composition>
</html>