<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script>
		$(window).load(function(){			
			setAllHolidays('${quoteManagementBean.allHolidays}');
			});	
	</script>
		<h:outputText value="#{gmsgs['GeneralParameters.quotations.manage.title']}" styleClass="title-page" id="idOtxtQuotesSearchTitle"/>
		<h:form id="formAdministrarCotizaciones">
			<table width="100%">
				<tr>
					<td width="100%" align="right">
					<p:commandButton id="idCmdBtnBulkRegistration"
							value="#{msgs['quotes.lbl.bulkregistration']}" icon="fa fa-edit" process="@this" rendered="#{userInfo.userAcctions.register}"
							actionListener="#{quoteManagementBean.loadRegisterBulkQuoteListener}" action="bulkquotationMgmtRule" />
					

						<p:commandButton value="#{msgs['quotes.lbl.singlerecord']}" icon="fa fa-edit" id="idCmdBtnSingleRecord"	process="@this"						
							actionListener="#{quoteManagementBean.loadRegisterQuoteListener}" action="singlequotationMgmtRule"  rendered="#{userInfo.userAcctions.register}"/>
					</td>

				</tr>
				<tr>
					<td><p:fieldset legend="#{msgs['lbl.criteria.search']}" id="idFldsQuotesSearch">
							<table width="100%" border="0">
								<tr>
									<td width="15%"><h:outputText value="#{msgs['quotes.lbl.mechanism']} (*)" styleClass="required-field" id="idOtxtQuotesSearchMechanism"/></td>
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboMechanism" style="width:200px" 
										value="#{quoteManagementBean.quotationFilter.idNegotiationMechanismPk}" 
										label="#{msgs['quotes.lbl.mechanism']}" >
											<f:selectItem itemLabel="#{msgs['quotes.opt.select']}" id="idCboItemQuotesSearchMechanism" />
											<f:selectItems id="idCboItemsQuotesSearchMechanism"
												value="#{quoteManagementBean.listMechanisms}"
												var="type" itemLabel="#{type.mechanismName}"
												itemValue="#{type.idNegotiationMechanismPk}" />
												<p:ajax event="change" listener="#{quoteManagementBean.changeMachanismAction}" update="@form"/>
										<f:validator validatorId="selectOneRequiredValidator"/>
										<f:param name="skipValidation" value="true"/>
										</p:selectOneMenu>
										<p:message for="cboMechanism" display="icon" id="idMsgQuotesSearchMechanism"></p:message>
										</h:panelGrid>
									</td>
									<td><h:outputText value="#{msgs['quotes.lbl.date']} (*)" styleClass="required-field" id="idOtxtQuotesSearchDate"/></td>
									<td><h:panelGrid columns="2">
										<p:calendar id="idcalender" pattern="#{msgs['dateFormat']}"
											value="#{quoteManagementBean.quotationFilter.quotationDate}"
											showOn="both" required="true" requiredMessage="#{msgs['quotation.error.msg.date.required']}" 
											validatorMessage="invalid date" readonlyInput="true"
											maxdate="#{quoteManagementBean.currentSystemDate}"
											navigator="true" yearRange="1900:c+c" size="10"
											beforeShowDay="disableAllHolydays" 
											>
											<p:ajax event="change" update="idcalender idcalender"></p:ajax>
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
											</p:calendar>
										<p:message for="idcalender" display="icon" id="idMsgQuotesSearchDate"></p:message>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td width="20%"><h:outputText value="#{msgs['quotes.lbl.value']}" id="idOtxtQuotesSearchValue"/></td>

									<td colspan="3">
										<ark:securityHelper security="#{quoteManagementBean.quotationFilter.security}" />
									</td>
								</tr>

								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="idCmdBtnQuotesSearch"
											value="#{msgs['quotes.lbl.search']}" icon="fa fa-search" process="@form" update="@form :opnlGenericDialogs" 
											actionListener="#{quoteManagementBean.searchQuotaionsListener}">
											<f:param name="skipValidation" value="false"/>	
										</p:commandButton>
										<p:commandButton value="#{msgs['quotes.lbl.clean']}" process="@this"  icon="fa fa-trash" 
											immediate="true"  id="idCmdBtnQuotesSearchClear"
											update="@form" actionListener="#{quoteManagementBean.cleanQuotationListener}" >
										</p:commandButton>
									</td>
								</tr>
							</table>
						</p:fieldset>
						</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlButtons">
							<p:outputPanel rendered="#{(quoteManagementBean.quotationDataModel.rowCount >= 1)}">
							<p:commandButton id="btnModify" rendered="#{userInfo.userAcctions.modify}"
							 value="#{msgs['btn.modificar']}" icon="ui-edit" action="#{quoteManagementBean.loadModifyQuotationAction}"
							 update=":opnlGenericDialogs"/>
							<p:commandButton id="btnDelete" rendered="#{userInfo.userAcctions.delete}" 
							value="#{msgs['btn.eliminar']}"   icon="ui-cancel"
							 actionListener="#{quoteManagementBean.removeQuotationAction}" update=":opnlGenericDialogs :opnlDialogs"/>
							</p:outputPanel>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
				<td>				
				<p:fieldset id="fldsetQuotesTable"  legend="#{msgs['btn.msg.results']}" rendered="#{quoteManagementBean.quotationDataModel != null}">				
				<p:dataTable id="quotesTable" var="quotes"
				value="#{quoteManagementBean.quotationDataModel}" rendered="#{quoteManagementBean.quotationDataModel.rowCount>=1}"
				paginator="true" rows="10" paginatorPosition="top" style="padding-right:0px !important;"
								currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								rowsPerPageTemplate="#{gconst['dtb.rows.per.page.template']}"
								emptyMessage="#{msgs['lbl.search.no.result']}" rowKey="#{quotes.idQuotationPk}" selection="#{quoteManagementBean.selectedQuote}">
				
				<p:column selectionMode="single" />
				
				<p:column id="idClmQuotesSearchValue">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.isincode']}" id="idOtxtQuotesSearchValueHeader"/>
				</f:facet>
					<p:commandLink id="cmdLnkQuotationDetail" style="color:blue"
										action="#{quoteManagementBean.deatilsQuotationAction}"
										ajax="false">
							<f:setPropertyActionListener 
							target="#{quoteManagementBean.selectedQuoteDetail}" 
							value="#{quotes}" />
					<h:outputText value="#{quotes.idIsinCode}" id="idOtxtIsinCode"/>		
					</p:commandLink>		
				</p:column>
				
				<p:column id="idClmDescription">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.description']}" id="idOtxtDescriptionHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.idIsinCodeDescription}" id="idOtxtDescriptionValue"/>
				</p:column>
				
				<p:column id="idClmInstrumentType">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.instrument.type']}" id="idOtxtInstrumentTypeHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.securityInstrumentTypeDescription}" id="idOtxtInstrumentTypeValue"/>
				</p:column>
				
				<p:column id="idClmOpenDate">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.opendate']}" id="idOpenDateHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.dateRegistered}" id="idOpenDateValue" >
				<f:convertDateTime pattern="#{cons['dateFormat']}"/>
				</h:outputText>
				</p:column>
				
					<p:column id="idClmOpeningPrice" styleClass="content-right">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.open']}" id="idOtxtOpeningPriceHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.openingPrice}" id="idOtxtOpeningPriceValue">
					<f:convertNumber pattern="#{cons['conv.number.pattern.quotation.amount']}" locale="#{cons['conv.number.locale']}"/>
				</h:outputText>
				</p:column>
				
				<p:column id="idClmClosePrice" styleClass="content-right">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.closeprice']}" id="idOtxtClosePriceHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.closePrice}" id="idOtxtClosePriceValue">
					<f:convertNumber pattern="#{cons['conv.number.pattern.quotation.amount']}" locale="#{cons['conv.number.locale']}"/>
				</h:outputText>
				</p:column>
				
					<p:column id="idClmAvgPrice" styleClass="content-right">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.avgprice']}" id="idOtxtAvgPriceHeader"/>
				</f:facet>
				<h:outputText value="#{quotes.averagePrice}" id="idOtxtAvgPriceValue">
					<f:convertNumber pattern="#{cons['conv.number.pattern.quotation.amount']}" locale="#{cons['conv.number.locale']}"/>
				</h:outputText>
				</p:column>
				
				<p:column id="idClmState">
				<f:facet name="header">
				<h:outputText value="#{msgs['quotes.lbl.state']}" id="idOtxtStateHeader"/>
				</f:facet>
				
				<h:outputText value="#{quotes.stateDescription}" id="idOtxtStateValue"/>
				</p:column>
					
				<f:facet name="footer">	
								<div style="width:100%; text-align:left" id="idDivFooter">								
								<h:outputLabel value="#{quoteManagementBean.quotationDataModel.rowCount} registros encontrados."  id="idOlblRowCount"
								style="font-weight:bold;"/>
								</div>
				</f:facet>
				
				
				</p:dataTable>
				<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblNoResult"
								rendered="#{!(quoteManagementBean.quotationDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>
				
				</p:fieldset>
				</td>
				</tr>			
				

			</table>											
				
		
		</h:form>
		
		
		<p:outputPanel id="opnlDialogs">
		
		<p:dialog id="idRemoveDialog" widgetVar="idDialogRemoveWin" header="#{msgs['lbl.motive.delete']}"  closable="false" 
		 modal="true" resizable="false">			
			<h:form id="frmRemove">
			<table>
			<tr><td ><h:outputText value="#{msgs['lbl.motive.delete']} (*)" styleClass="required-field"/></td>
			<td > <p:selectOneMenu value="#{quoteManagementBean.selectedRemoveType}" style="width:200px" label="#{msgs['lbl.motive.delete']}" id="idComboRemoveMotiv">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
											<f:selectItems value="#{quoteManagementBean.lstRemoveType}"
														   var="removetype" itemLabel="#{removetype.parameterName}" itemValue="#{removetype.parameterTablePk}" />
											<p:ajax event="change" update="idcanceldescript idothermotivelbl @form" listener="#{quoteManagementBean.changeSelectedMotiveDelete}"/>
											<f:validator validatorId="selectOneRequiredValidator"/>
											<f:param name="skipValidation" value="true"/>	
										</p:selectOneMenu>
										</td>
										<td>
											<p:message id="idComboRemoveMotivMsg" for="idComboRemoveMotiv" display="icon"/>
										</td>
								</tr>
									<tr>
										<td><h:outputText id="idothermotivelbl" value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field" rendered="#{quoteManagementBean.otherMotiveDelete}"/></td>
									<td><p:inputText id="idcanceldescript" value="#{quoteManagementBean.removeDescription}" rendered="#{quoteManagementBean.otherMotiveDelete}" label="#{msgs['lbl.other.motive']}" style="width:280px">
										<p:ajax event="blur" process="@this" update="idcanceldescript idcanceldescriptMsg btnSaveDelete" />
										<f:validator validatorId="inputRequiredValidator"/>
										<f:param name="skipValidation" value="true"/>	
										</p:inputText> </td><td><p:message id="idcanceldescriptMsg" for="idcanceldescript" display="icon"/></td>
										</tr>
							<tr>
							<td colspan="2" align="center">	
							<p:commandButton value="#{msgs['btn.grabar']}" id="btnSaveDelete"
								disabled="#{quoteManagementBean.indDisabledSaveDelete}"
								icon="fa fa-save" actionListener="#{quoteManagementBean.removeOperationConfirmation}"
								update="idComboRemoveMotivMsg idComboRemoveMotivMsg idcanceldescript idcanceldescriptMsg :idRemoveCnf :opnlGenericDialogs ">
								<f:param name="skipValidation" value="false"/>	
							</p:commandButton> 
							
							<p:spacer width="5"/>	
							<p:commandButton value="#{msgs['btn.back']}" type="button"
								icon="fa fa-undo" onclick="PF('idDialogRemoveWin').hide();" /></td>
						</tr>
						</table>
						
						</h:form>
							
				</p:dialog>
				
				
				<p:confirmDialog id="idRemoveCnf" widgetVar="idRemoveCnfWin"
					message="#{bodyMessageView}" closable="false"  header="#{headerMessageView}" >	
					<h:form id="frmRemoveCnf">	
						<p:commandButton value="#{msgs['btn.yes']}" action="#{quoteManagementBean.removeOperation}"  update=":opnlDialogs :opnlGenericDialogs" />				
						<p:commandButton value="#{msgs['btn.no']}" type="button" onclick="PF('idRemoveCnfWin').hide();" />
					</h:form>			
				</p:confirmDialog>
				
				<p:confirmDialog id="idRemoveCnfSucc" widgetVar="idRemoveCnfSuccWin"
					message="#{bodyMessageView}" closable="false"  header="#{headerMessageView}" >	
						<h:form id="frmRemoveCnfSucc">			
							<p:commandButton value="#{msgs['btn.accept']}" action="#{quoteManagementBean.cleanQuotationListener}"
							process="@this" immediate="true" oncomplete="PF('idRemoveCnfSuccWin').hide();" update=":opnlDialogs :formAdministrarCotizaciones" />
						</h:form>			
				</p:confirmDialog>
		
		</p:outputPanel>


	</ui:define>
</ui:composition>


</html>