<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
	<body>
		
		<ui:composition template="/template/default.xhtml">
		
		<ui:define name="body">
		<p:accordionPanel>
			<f:facet name="header">
			Menu inicial
			</f:facet>
			<p:panelGrid>
			Pradera Securities
			</p:panelGrid>
		</p:accordionPanel>
		</ui:define>
		</ui:composition>
		
	</body>
</html>