<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:detailRepresentative="http://java.sun.com/jsf/composite/legalRepresentativeComponent"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	<style type="text/css">
    .ui-panelgrid tr, .ui-panelgrid td {
      border:0 !important;
     }
    </style>
    	
	<f:metadata>
	       <f:event type="postAddToView" listener="#{holderMgmtBean.setButtonsListener}"/>
	    </f:metadata>
	
<h:outputText value="#{msgs['adm.holder.search.details.title']}"  styleClass="title-page"/>
	
		<h:form id="frmHolderDetails" enctype="multipart/form-data">
			<table width="100%">
				
				<tr>
					<td>
					<table width="100%">
								<tr>
									<td>
									<p:outputPanel id="outputPanelGeneralHolder">
					                <p:tabView id="tabView"> 
									<p:tab id="personalDataTab" title="#{msgs['adm.holders.register.holder.lbl.personal.data']}">
										<table width="100%">  
											<tr>
												<td>
												<p:outputPanel id="outputPanelData">
												<p:fieldset id="fieldRegisterData" legend="#{msgs['adm.holders.register.holder.lbl.register.data']}" toggleable="false">
												
												<table>												
											  <tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.participant.creator']}" />
												</td>
												<td>
													<p:selectOneMenu disabled="true" label="#{msgs['adm.holders.register.holder.lbl.participant.creator']}" value="#{holderMgmtBean.participantDetail.idParticipantPk}" id="cmbParticipantCreator">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="participant"  value="#{holderMgmtBean.listParticipant}" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
								                    </p:selectOneMenu>
												</td>
												
												<td width="160px" style="visibility:hidden;">
													<h:outputText value="#{msgs['adm.holders.register.holder.lbl.indCanNegotiate']}" />
												</td>
												<td style="visibility:hidden;">
													<p:selectOneMenu label="#{msgs['adm.holders.register.holder.lbl.indCanNegotiate']}"
																	 value="#{holderMgmtBean.holderHistoryDetail.indCanNegotiate}" 
																	 disabled="true"
																	 style="width:130px" >
														<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}" noSelectionOption="true" />
											            <f:selectItems var="bool" value="#{holderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											        </p:selectOneMenu>
												</td>
												<td width="150px" style="visibility:hidden;">
													<h:outputText value="#{msgs['adm.holders.register.holder.lbl.holder.sirtex']}"/>
												</td>
												<td style="visibility:hidden;">
													<p:selectOneMenu label="#{msgs['adm.holders.register.holder.lbl.holder.sirtex']}" value="#{holderMgmtBean.holderHistoryDetail.indSirtexNeg}" disabled="true" style="width:130px">
														<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}" noSelectionOption="true"/>
														<f:selectItems var="bool" value="#{holderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
													</p:selectOneMenu>
												</td>
											</tr>	
											  <tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.person.type']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPersonType" disabled="true" style="width:160px" value="#{holderMgmtBean.holderHistoryDetail.holderType}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />  
											            <f:selectItems var="personType" value="#{holderMgmtBean.listPersonType}" itemLabel="#{personType.parameterName}" itemValue="#{personType.parameterTablePk}"  />
											        </p:selectOneMenu>
												</td>
												<td width="160px"> 
												    <h:outputText rendered="#{holderMgmtBean.flagHolderJuridicPerson}" value="#{msgs['adm.holders.register.holder.lbl.juridic.class']}"/>												
												   </td>												   
												   <td width="180px">
													<p:selectOneMenu id="cmbJuridicPerson" disabled="true" rendered="#{holderMgmtBean.flagHolderJuridicPerson}" style="width:160px" value="#{holderMgmtBean.holderHistoryDetail.juridicClass}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>  
											            <f:selectItems var="juridicClass" value="#{holderMgmtBean.listJuridicClass}" itemLabel="#{juridicClass.parameterName}"	itemValue="#{juridicClass.parameterTablePk}" />										            
											        </p:selectOneMenu>
											    </td>
										
											<tr>												 
												  <td width="160px">
												    <h:outputText rendered="#{holderMgmtBean.holderRequestDetail.holder.idHolderPk !=null}" value="#{msgs['adm.holders.register.holder.lbl.code.cui']}" />
												  </td>
												  <td>
													<h:outputText rendered="#{holderMgmtBean.holderRequestDetail.holder.idHolderPk !=null}" value="#{holderMgmtBean.holderRequestDetail.holder.idHolderPk}"/>
												  </td>
											</tr>	
											</tr>
											<tr>
											<td>
												<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.relatedCui!=null}" value="#{msgs['adm.holders.register.holder.lbl.related.cui']}"/>												
												</td>
												<td>
												<p:inputText size="17" disabled="true" rendered="#{holderMgmtBean.holderHistoryDetail.relatedCui!=null}" value="#{holderMgmtBean.holderHistoryDetail.relatedCui}"/>
												</td>
											<td>
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.mnemonic!=null}" value="#{msgs['adm.holders.register.holder.lbl.fund.administrator']}"/>												
											</td>
											<td>
											<p:inputText maxlength="5" disabled="true" rendered="#{holderMgmtBean.holderHistoryDetail.mnemonic!=null}" value="#{holderMgmtBean.holderHistoryDetail.mnemonic}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered = "#{holderMgmtBean.holderHistoryDetail.fundAdministrator!=null}" value="#{msgs['adm.holders.register.holder.lbl.fund.type']}"/>												
											</td>
											<td>
											<p:inputText rendered = "#{holderMgmtBean.holderHistoryDetail.fundAdministrator!=null}" maxlength="5" disabled="true"  value="#{holderMgmtBean.holderHistoryDetail.fundAdministrator}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.transferNumber!=null}" value="#{msgs['adm.holders.register.holder.lbl.tranfer.number']}"/>												
											</td>
											<td>
											<p:inputText id="inputTransferNumber" disabled="true" maxlength="8" label="#{msgs['adm.holders.register.holder.lbl.tranfer.number']}" rendered="#{holderMgmtBean.holderHistoryDetail.transferNumber!=null}" value="#{holderMgmtBean.holderHistoryDetail.transferNumber}"/>
											</td>
											</tr>
											<!--Tipo de fondo-->
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.fundType!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.fund.type.cui']}"/>												
											</td>
											<td>
											<p:inputText id="inputFundTypeCui" 
												disabled="true" 
												maxlength="8" 
												rendered="#{holderMgmtBean.holderHistoryDetail.fundType!=null}" 
												value="#{holderMgmtBean.holderHistoryDetail.fundType}"/>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>	
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural1">
																		
											<p:fieldset id="fieldGroupNatural1" legend="#{msgs['adm.holders.register.holder.lbl.natural.data']}" rendered="#{holderMgmtBean.flagHolderNaturalPerson}">
											
											<table>											
											<tr>
												<td><h:outputText value="#{msgs['adm.holders.register.holder.lbl.inability']}" />&nbsp;&nbsp;&nbsp;
													<p:selectBooleanCheckbox disabled="true" value="#{holderMgmtBean.holderHistoryDetail.indicatorDisabled}">
													</p:selectBooleanCheckbox>													
												</td>
												<td><h:outputText value="#{msgs['adm.holders.register.holder.lbl.minor']}" />&nbsp;&nbsp;&nbsp;
													<p:selectBooleanCheckbox disabled="true" value="#{holderMgmtBean.holderHistoryDetail.indicatorMinor}">
													</p:selectBooleanCheckbox>
												</td>
											</tr>
											<tr>
												<td width="160px"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.nationality']}" /></td>
												<td width="280px">
													<p:selectOneMenu id="cmbNationality" disabled="true" style="width:260px" value="#{holderMgmtBean.holderHistoryDetail.nationality}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="nationality" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{nationality.name}" itemValue="#{nationality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.resident']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu style="width:160px" disabled="true" id="cmbResident" value="#{holderMgmtBean.holderHistoryDetail.indResidence}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="bool" value="#{holderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											         </p:selectOneMenu>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country.resident']}" />
												</td>
												<td width="280px"> 
													<p:selectOneMenu style="width:260px" id="cmbCountryResident" value="#{holderMgmtBean.holderHistoryDetail.legalResidenceCountry}" 
																	disabled="true" >  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="countryResident" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{countryResident.name}" itemValue="#{countryResident.idGeographicLocationPk}"/>
											       </p:selectOneMenu>
												</td>	
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.birth.date']}" />
												</td>
												<td width="180px">												
												    <p:calendar disabled="true" size="7" label="#{msgs['adm.holders.register.holder.lbl.birth.date']}"
												    showButtonPanel="true" value="#{holderMgmtBean.holderHistoryDetail.birthDate}" 
												    navigator="true" id="trCal" pattern="#{msgs['dateFormat']}">
												    </p:calendar>													
												</td>											
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type']}" />
												</td>
												<td width="330px">
												<p:selectOneMenu id="cmbDocumentType" disabled="true" style="width:310px" value="#{holderMgmtBean.holderHistoryDetail.documentType}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{holderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>					             
										        </p:selectOneMenu>  
												</td>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number']}"/></td>
												<td>
												<h:outputText  id="inputDocumentNumber" value="#{holderMgmtBean.holderHistoryDetail.documentNumber}"/>												
												</td>
												
												<td width="160px" style="visibility:hidden;">
									            <h:outputText id="labelEmissionSource"  rendered="#{holderMgmtBean.holderHistoryDetail.documentSource!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" />
												</td>
												<td width="130px" style="visibility:hidden;">
												<p:selectOneMenu disabled="true" rendered="#{holderMgmtBean.holderHistoryDetail.documentSource!=null}" id="cmbDocumentEmissionSource" label="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" style="width:130px" value="#{holderMgmtBean.holderHistoryDetail.documentSource}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />    
										             <f:selectItems var="documentEmissionSource" value="#{holderMgmtBean.listDocumentSource}" itemValue="#{documentEmissionSource.parameterTablePk}" itemLabel="#{documentEmissionSource.parameterName}"/>					             
										        </p:selectOneMenu>  
											    </td>											    												
											</tr>
											
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and holderMgmtBean.holderHistoryDetail.nitNaturalPerson!=null}" value="#{msgs['adm.holders.register.holder.lbl.nit.natural.person']}"/>
											</td>
											<td>
													<p:inputText  id="inputNitPersonNatural" 
													    disabled="true"
													    rendered="#{false and holderMgmtBean.holderHistoryDetail.nitNaturalPerson!=null}"
														label="#{msgs['adm.holders.register.holder.lbl.nit.natural.person']}" 
														value="#{holderMgmtBean.holderHistoryDetail.nitNaturalPerson}">
												    </p:inputText>												    
											</td>												
											</tr>
											
											<tr>
											<td width="160px">
												<p:outputPanel id="oplLabelEmissionDate">
									            	<h:outputText id="labelEmissionDate"  rendered="#{holderMgmtBean.holderHistoryDetail.documentIssuanceDate!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.date']}" />
												</p:outputPanel>												
											</td>
											<td>
												<p:outputPanel id="oplcmbEmissionDate">
												 <p:selectOneMenu id="cmbEmissionDate" rendered="#{holderMgmtBean.holderHistoryDetail.documentIssuanceDate!=null}" 
												 		label="#{msgs['adm.holders.register.holder.lbl.document.emission.date']}"  disabled="true"
												 		style="width:60px" value="#{holderMgmtBean.holderHistoryDetail.documentIssuanceDate}">  
											            <f:selectItem itemLabel="#{msgs['lbl.stripes.short']}"  />   
											            <f:selectItems var="emissionDateType" value="#{holderMgmtBean.listDocumentIssuanceDate}" itemValue="#{emissionDateType.value}" itemLabel="#{emissionDateType.value}"/>
											        </p:selectOneMenu>
											   </p:outputPanel>
											</td>
											</tr>
											
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.second.nationality']}" />
												</td>
												<td width="280px">
													<p:selectOneMenu disabled="true" id="cmbSecondNationality" style="width:260px" value="#{holderMgmtBean.holderHistoryDetail.secondNationality}">  
											           <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											           <f:selectItems var="secondNationality" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{secondNationality.name}" itemValue="#{secondNationality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>											
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type.second.nationality']}" />
												</td>
												<td width="330px">
												<p:selectOneMenu id="cmbSecondDocumentType" disabled="true" style="width:310px" value="#{holderMgmtBean.holderHistoryDetail.secondDocumentType}">  
										             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{holderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>
											    </p:selectOneMenu>  
												</td>
												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number.second.nationality']}" />
												</td>
												<td>
													<h:outputText id="inputSecondDocumentNumber" value="#{holderMgmtBean.holderHistoryDetail.secondDocumentNumber}"/>													
												</td>
											</tr>
											
											</table>
											</p:fieldset>
											</p:outputPanel>		
											</td>
											</tr>										
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural2">
												<p:fieldset id="fieldGroupNatural2" legend="#{msgs['adm.holders.register.holder.lbl.personal.data']}" rendered="#{holderMgmtBean.flagHolderNaturalPerson}">
													<table>
														<tr>
															<td>
																
																<table>
																	<tr>
																		<td width="160px"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.names']}"/></td>
																		<td colspan="3">
																			<h:outputText id="inputNames" size="50" value="#{holderMgmtBean.holderHistoryDetail.name}">
																		    </h:outputText>												 
																		</td>												
																	</tr>
																	<tr>
																		<td width="160px">
																		<h:outputText value="#{msgs['adm.holders.register.holder.lbl.first.lastname']}"/>
																		</td>
																		<td width="180px">
																			<h:outputText id="inputFirstLastName" value="#{holderMgmtBean.holderHistoryDetail.firstLastName}"/>												   
																		</td>												
																		<td width="160px">
																		<h:outputText value="#{msgs['adm.holders.register.holder.lbl.second.lastname']}" />
																		</td>
																		<td width="180px">
																			<h:outputText id="inputSecondLastName" value="#{holderMgmtBean.holderHistoryDetail.secondLastName}"/>													
																		</td>																				              
																	</tr>
																	<tr>
																													
																		<td width="160px">
																		<h:outputText value="#{msgs['adm.holders.register.holder.lbl.sex']}"/>
																		</td>
																		<td width="180px">
																			<p:selectOneMenu id="cmbSex" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.sex']}" style="width:160px" value="#{holderMgmtBean.holderHistoryDetail.sex}">  
																	            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
																	            <f:selectItems var="sexType" value="#{holderMgmtBean.listSex}" itemValue="#{sexType.parameterTablePk}" itemLabel="#{sexType.parameterName}"/>
																	        </p:selectOneMenu>
																		</td>												
																	</tr>
																	<tr>
																													
																		<td width="160px">
																		<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.activity']}"/>
																		</td>
																		<td width="180px">
																			<p:selectOneMenu id="cmbEconomicActivityNatural" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" style="width:160px" value="#{holderMgmtBean.holderHistoryDetail.economicActivity}">  
																	            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
																	            <f:selectItems var="economicActivity" value="#{holderMgmtBean.listEconomicActivityNaturalPerson}" itemValue="#{economicActivity.parameterTablePk}" itemLabel="#{economicActivity.parameterName}"/>
																	        </p:selectOneMenu>
																		</td>												
																	</tr>
																	<tr>
																	<td width="160px">
																	<h:outputText
																	 rendered="#{false and holderMgmtBean.holderHistoryDetail.marriedLastName!=null}"
																	 value="#{msgs['adm.holders.register.holder.lbl.married.lastname']}"/>
																	</td>
																	<td>
																	<p:inputText id="inputMarriedLastName" 
																		rendered="#{false and holderMgmtBean.holderHistoryDetail.marriedLastName!=null}"
																		disabled="true"
																		value="#{holderMgmtBean.holderHistoryDetail.marriedLastName}">
																		<p:keyFilter regEx="#{cons['exp.regular.alphabetic.name.lastname']}"/>
																	</p:inputText>
																	</td>
																	</tr>
																	<tr>
																	<td width="160px">
																		<h:outputText rendered="#{false and holderMgmtBean.holderHistoryDetail.civilStatus!=null}" 
																		value="#{msgs['adm.holders.register.holder.lbl.civil.status']}"/>
																	</td>
																	<td width="180px">
																		<p:selectOneMenu
																		 disabled="true"
																		 rendered="#{false and holderMgmtBean.holderHistoryDetail.civilStatus!=null}"
																		 id="cmbCivilStatus" label="#{msgs['adm.holders.register.holder.lbl.civil.status']}"
																		  style="width:160px" value="#{holderMgmtBean.holderHistoryDetail.civilStatus}">  
																	       <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />   
																	       <f:selectItems var="civilStatus" value="#{holderMgmtBean.listCivilStatus}" itemValue="#{civilStatus.parameterTablePk}" itemLabel="#{civilStatus.parameterName}"/>
																	    </p:selectOneMenu>
																	</td>
																	</tr>
																</table>
																
															</td>
															
															<td> 
																
																<table >
																	<tr>
																		<td width="50%">
																			<p:fieldset id="fieldGroupNaturalPhoto" legend="#{msgs['adm.holders.register.holder.lbl.personal.photo']}"
																				rendered="#{imgStreamerBean.filePhotoImage != null}">
																				<table>
																					<tr>																																								
																						<td>
																							<p:panel id="pnlPhotoPreview" style="width:160px">
																								<p:graphicImage value="#{imgStreamerBean.filePhotoImage}" cache="false"
																											rendered="#{imgStreamerBean.filePhotoImage != null}"
																											height="100px" width="140px" />
																							</p:panel>
																						</td>
																					</tr>																
																				</table>
																			</p:fieldset>
																		</td>
																		<td width="50%">
																			<h:outputText value="#{holderMgmtBean.holderHistoryDetail.filePhotoName}" />
																			<p:commandLink id="cmlViewFilePhoto" styleClass="icon" ajax="false" immediate="true"
											  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
											  									rendered="#{imgStreamerBean.filePhotoImage != null}">			   
											  									<p:graphicImage id="imgViewPhoto" library="img" title="VER" name="icons/loupe.png"/>
											  									<p:fileDownload value="#{holderMgmtBean.getStreamedContentFilePhotoHistory()}"/>
																			</p:commandLink>
																		</td>
																		<ui:remove>
																		<td width="10%">
																			<p:fieldset id="fieldGroupNaturalSigning" legend="#{msgs['adm.holders.register.holder.lbl.personal.signing']}" 
																				rendered="#{imgStreamerBean.fileSigningImage != null or imgStreamerBean.streamedContentFileSigning != null}">
																				<table>																
																					<tr>																																								
																						<td>
																							
																							<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"  rendered="#{imgStreamerBean.streamedContentFileSigning != null}"																								
																								process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">			   
																									<p:graphicImage id="imgView" library="img" title="ver" name="icons/loupe.png"/>
																									<p:fileDownload value="#{imgStreamerBean.streamedContentFileSigning}" />
																							</p:commandLink>
																						
																							<p:panel id="pnlSigningPreview" style="width:160px"  >
																								<p:graphicImage value="#{imgStreamerBean.fileSigningImage}" cache="false"
																											rendered="#{imgStreamerBean.fileSigningImage != null}"
																											height="100px" width="140px" />
																							</p:panel>
																						</td>
																					</tr>
																				</table>
																			</p:fieldset>
																		</td>
																		</ui:remove>
																	</tr>
																</table>
																
															</td>
														</tr>
													</table>																								
												</p:fieldset>
											</p:outputPanel>											
											</td>											
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural3">
											<p:fieldset id="fieldGroupNatural3" legend="#{msgs['adm.holders.register.holder.lbl.main.activity.data']}" 
											rendered="#{false and holderMgmtBean.flagHolderNaturalPerson
														and (holderMgmtBean.holderHistoryDetail.mainActivity!=null
														or holderMgmtBean.holderHistoryDetail.jobSourceBusinessName!=null
														or holderMgmtBean.holderHistoryDetail.jobDateAdmission!=null
														or holderMgmtBean.holderHistoryDetail.appointment!=null
														or holderMgmtBean.holderHistoryDetail.jobAddress!=null
														or holderMgmtBean.holderHistoryDetail.officePhoneNumber!=null
														or holderMgmtBean.holderHistoryDetail.totalIncome!=null)}">
											<table>
											<tr>
											<td width="160px">
												<h:outputText 
												rendered="#{holderMgmtBean.holderHistoryDetail.mainActivity!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.main.activity']}"/>
											</td>
											<td>
											<p:inputText id="inputMainActivity"
											 disabled="true"
											 rendered="#{holderMgmtBean.holderHistoryDetail.mainActivity!=null}"
											 value="#{holderMgmtBean.holderHistoryDetail.mainActivity}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
												<h:outputText 
												rendered="#{holderMgmtBean.holderHistoryDetail.jobSourceBusinessName!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.job.source.business.name']}"/>
											</td>
											<td>
											<p:inputText id="inputBusinessName" 
											disabled="true"
											rendered="#{holderMgmtBean.holderHistoryDetail.jobSourceBusinessName!=null}"
											value="#{holderMgmtBean.holderHistoryDetail.jobSourceBusinessName}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.jobDateAdmission!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.job.source.date.admission']}"/>
											</td>
											<td width="140px">
											<p:calendar 
											rendered="#{holderMgmtBean.holderHistoryDetail.jobDateAdmission!=null}"
											disabled="true"
											            label="#{msgs['adm.holders.register.holder.lbl.job.source.date.admission']} "
														value="#{holderMgmtBean.holderHistoryDetail.jobDateAdmission}" maxlength="10" size="10"
														id="calDateAdmission" showOn="both" navigator="true" readonlyInput="true" yearRange="1900:c+c"
														pattern="#{msgs['dateFormat']}">
											</p:calendar>
											</td>																						
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.appointment!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.appointment']}"/>
											</td>
											<td>
											<p:inputText id="inputAppointment" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.appointment!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.appointment}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.jobAddress!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.job.address']}"/>
											</td>
											<td colspan="4">
												<p:inputText size="50" maxlength="150"
												   disabled="true"
												   rendered="#{holderMgmtBean.holderHistoryDetail.jobAddress!=null}"	 
												   label="#{msgs['adm.holders.register.holder.lbl.job.address']}" 
												   id="inputJobAddress" styleClass="large-input-text-width" 
												   value="#{holderMgmtBean.holderHistoryDetail.jobAddress}">
												</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.officePhoneNumber!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.office.telephone']}"/>
											</td>
											<td width="220px">
												<p:inputText maxlength="15"
												 disabled="true"
												 rendered="#{holderMgmtBean.holderHistoryDetail.officePhoneNumber!=null}"
												 value="#{holderMgmtBean.holderHistoryDetail.officePhoneNumber}"  >
												</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.totalIncome!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.total.income']}"/>
											</td>
											<td width="180px">
												<p:selectOneMenu 
												rendered="#{holderMgmtBean.holderHistoryDetail.totalIncome!=null}"
												disabled="true"
												id="cmbTotalIncome" label="#{msgs['adm.holders.register.holder.lbl.total.income']}" style="width:160px" 
												value="#{holderMgmtBean.holderHistoryDetail.totalIncome}">  
											       <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />   
											       <f:selectItems var="totalIncome" value="#{holderMgmtBean.listTotalIncome}" itemValue="#{totalIncome.parameterTablePk}" itemLabel="#{totalIncome.parameterName}"/>
											   </p:selectOneMenu>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural4">
											<p:fieldset id="fieldGroupNatural4" legend="#{msgs['adm.holders.register.holder.lbl.references.pcf.data']}" 
											rendered="#{false and holderMgmtBean.flagHolderNaturalPerson
											and (holderMgmtBean.holderHistoryDetail.perRefFullName!=null
											or holderMgmtBean.holderHistoryDetail.perRefLandLine!=null
											or holderMgmtBean.holderHistoryDetail.perRefCellPhone!=null
											or holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null
											or holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null)}">
											<table>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.perRefFullName!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.fullname']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefFullName" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.perRefFullName!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.perRefFullName}">
												<p:keyFilter regEx="#{cons['exp.regular.alphabetic.name.lastname']}"/>
												<p:ajax event="blur" update="@this" process="@this"/>
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.perRefLandLine!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.landline']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefLandLine" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.perRefLandLine!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.perRefLandLine}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.perRefCellPhone!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.personal.cellphone']}"/>
											</td>
											<td>
											<p:inputText id="inputPerRefCellPhone" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.perRefCellPhone!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.perRefCellPhone}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.comercial.business.name']}"/>
											</td>
											<td>
											<p:inputText id="inputComerRefBusinessName" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName}">
											</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.reference.comercial.landlime']}"/>
											</td>
											<td>
											<p:inputText id="inputComerRefLandLine" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine}">
											</p:inputText>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelNatural5">
											<p:fieldset id="fieldGroupNatural5" legend="#{msgs['adm.holders.register.holder.lbl.relationship.entity.public.data']}" 
											rendered="#{false and holderMgmtBean.flagHolderNaturalPerson
											and (holderMgmtBean.holderHistoryDetail.entityPublicAppointment!=null)}">
											<table>
											<tr>
											<td width="160px">
											<h:outputText
											rendered="#{holderMgmtBean.holderHistoryDetail.entityPublicAppointment!=null}"  
											value="#{msgs['adm.holders.register.holder.lbl.entity.public.appointment']}"/>
											</td>
											<td>
											<p:inputText id="inputEntityPublicAppointment" 
											    disabled="true"
											    rendered="#{holderMgmtBean.holderHistoryDetail.entityPublicAppointment!=null}"
											    value="#{holderMgmtBean.holderHistoryDetail.entityPublicAppointment}">
											</p:inputText>
											</td>
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelPep">
											<p:fieldset id="fieldGroupPep" legend="#{msgs['adm.holders.register.holder.lbl.actives.laundering.data']}">
											<table>
											<tr>
											<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.is.pep']}" />&nbsp;&nbsp;&nbsp;
												<p:selectBooleanCheckbox disabled="true" value="#{holderMgmtBean.holderHistoryDetail.indicatorPep}"/>												
											</td>
											</tr>
												<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.motive']} "/>
												</td>
												<td>
													<p:selectOneMenu id="cmbPepMotive" disabled="true" style="width:390px" value="#{holderMgmtBean.holderHistoryDetail.category}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="motive" value="#{holderMgmtBean.listCategoryPep}" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}" />
											            
											         </p:selectOneMenu>
											    </td>										    								               											    
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.role']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPepRole" disabled="true"
																				style="width:390px"
																				value="#{holderMgmtBean.holderHistoryDetail.role}">
																				<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
																					itemValue="-1" />
																				<f:selectItems var="role" value="#{holderMgmtBean.listRolePep}" itemValue="#{role.parameterTablePk}" itemLabel="#{role.parameterName}" />
											            																										
													</p:selectOneMenu>
												</td>									               
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="Grado" rendered="#{holderMgmtBean.holderHistoryDetail.category eq holderMgmtBean.linkForFamily}"/>
												</td>
												<td width="180px">
													<p:selectOneMenu id="cmbPepGrade" disabled="true" rendered="#{holderMgmtBean.holderHistoryDetail.category eq holderMgmtBean.linkForFamily}"
																				style="width:390px"
																				value="#{holderMgmtBean.holderHistoryDetail.grade}">
																				<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
																					itemValue="-1" />
																				<f:selectItems var="grade" value="#{holderMgmtBean.listPepGrade}" itemValue="#{grade.parameterTablePk}" itemLabel="#{grade.parameterName}" />
											            																										
													</p:selectOneMenu>
												</td>									               
											</tr>											
											<tr>
												<td width="160px">
												<h:outputText value="Nombre del PEP" rendered="#{holderMgmtBean.holderHistoryDetail.category eq holderMgmtBean.linkForFamily}"/>
												</td>
										            <td width="320px">
										            <p:outputPanel autoUpdate="true">
												    <p:inputText id="inputPepRelatedName" disabled="true"  label="Nombre del PEP" rendered="#{holderMgmtBean.holderHistoryDetail.category eq holderMgmtBean.linkForFamily}"
												    value="#{holderMgmtBean.holderHistoryDetail.pepRelatedName}">
												    </p:inputText>		
												    </p:outputPanel>								             
										            </td>								               
											</tr>	
											</table>
											<table cellpadding="0" cellspacing="0">
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.period.performance']} " />
												</td>
											</tr>
											<tr>
											    <td width="167px">
											    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.from']}"/>
											    </td>	
												<td width="140px">
												<p:calendar disabled="true" label="#{msgs['adm.holders.register.holder.lbl.from']} "
														value="#{holderMgmtBean.holderHistoryDetail.beginningPeriod}" 
														id="calInitial" showOn="both" size="7"
														pattern="#{msgs['dateFormat']}"/>
												</td>
												<td width="50px"/>
												<td width="100px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.to']}" />
												</td> 
												<td width="140px"><p:calendar disabled="true" 
														value="#{holderMgmtBean.holderHistoryDetail.endingPeriod}" 
														id="calEnd" showOn="both" size="7" label="#{msgs['adm.holders.register.holder.lbl.to']}"
														pattern="#{msgs['dateFormat']}"/>
												</td>																					                
											</tr>
											</table>
											<table>
											<tr>
												<p:separator/>
											</tr>
											<tr>
												<td width="160px">
													    <h:outputText value="FATCA"/>
												</td>
												<td>
														<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
													        <p:selectOneRadio id="checkFatca" unselectable="true" disabled="true" value="#{holderMgmtBean.holderHistoryDetail.indFatca}">
													            <f:selectItem itemLabel="SÍ" itemValue="1" />
													            <f:selectItem itemLabel="NO" itemValue="0" />
													            <p:ajax event="change" update="checkFatca" process="@this" />
													        </p:selectOneRadio>
													    </h:panelGrid>	
												</td> 												    											
											</tr>											
											</table>										
											</p:fieldset>
											</p:outputPanel>											
											</td>
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic1">
											<p:fieldset id="fieldGroupJuridic1" legend="#{msgs['adm.holders.register.holder.lbl.juridic.data']}" rendered="#{holderMgmtBean.flagHolderJuridicPerson}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.nationality']}" />
												</td>
												<td width="280px">
													<p:selectOneMenu id="cmbNationality2" disabled="true" style="width:260px" value="#{holderMgmtBean.holderHistoryDetail.nationality}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="nationality2" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{nationality2.name}" itemValue="#{nationality2.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.resident']}" />
												</td>
												<td width="180px">
													<p:selectOneMenu style="width:160px" disabled="true" id="cmbResident2" value="#{holderMgmtBean.holderHistoryDetail.indResidence}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="bool" value="#{holderMgmtBean.listBoolean}" itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country.resident']}"/>
												</td>
												<td width="280px"> 
													<p:selectOneMenu style="width:260px" id="cmbCountryResident2" value="#{holderMgmtBean.holderHistoryDetail.legalResidenceCountry}" 
																	disabled="true" >  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="countryResident2" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{countryResident2.name}" itemValue="#{countryResident2.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.type']}" />
												</td>
												<td width="330px">
												<p:selectOneMenu id="cmbDocumentType2" disabled="true" style="width:310px" value="#{holderMgmtBean.holderHistoryDetail.documentType}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />    
										             <f:selectItems var="documentType" value="#{holderMgmtBean.listDocumentType}" itemValue="#{documentType.parameterTablePk}" itemLabel="#{documentType.parameterName}"/>					             
										        </p:selectOneMenu>  
												</td>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.document.number']}" />
												</td>
												<td><h:outputText id="inputDocumentNumber2" value="#{holderMgmtBean.holderHistoryDetail.documentNumber}"/></td>												
											    <td width="160px">
									            <h:outputText id="labelEmissionSource2"  rendered="#{holderMgmtBean.holderHistoryDetail.documentSource!=null}" value="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" />
												</td>
												<td width="130px">
												<p:selectOneMenu disabled="true" rendered="#{holderMgmtBean.holderHistoryDetail.documentSource!=null}" id="cmbDocumentEmissionSource2" label="#{msgs['adm.holders.register.holder.lbl.document.emission.source']}" style="width:130px" value="#{holderMgmtBean.holderHistoryDetail.documentSource}">  
     									             <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />    
										             <f:selectItems var="documentEmissionSource" value="#{holderMgmtBean.listDocumentSource}" itemValue="#{documentEmissionSource.parameterTablePk}" itemLabel="#{documentEmissionSource.parameterName}"/>					             
										        </p:selectOneMenu>  
											    </td>		
											</tr>
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and holderMgmtBean.holderHistoryDetail.fundCompanyEnrollment!=null}" value="#{msgs['adm.holders.register.holder.lbl.fundcompany.enrollment']}"/>
											</td>
											<td>
													<p:inputText 
													disabled="true"
													rendered="#{false and holderMgmtBean.holderHistoryDetail.fundCompanyEnrollment!=null}"
													 value="#{holderMgmtBean.holderHistoryDetail.fundCompanyEnrollment}"  >
													</p:inputText>
											</td>
											</tr>
											<tr>
											<td width="160px">
												<h:outputText rendered="#{false and holderMgmtBean.holderHistoryDetail.constitutionDate!=null}" 
												              value="#{msgs['adm.holders.register.holder.lbl.constitution.date']}"/>
											</td>
											<td width="180px">																							
												    <p:calendar 
												    disabled="true"
												    yearRange="1900:c+c" label="#{msgs['adm.holders.register.holder.lbl.constitution.date']}"
												    readonlyInput="true"
												    rendered="#{false and holderMgmtBean.holderHistoryDetail.constitutionDate!=null}"
												    showOn="both" value="#{holderMgmtBean.holderHistoryDetail.constitutionDate}" size="10" maxlength="10"   maxdate="#{holderMgmtBean.currentSystemDate}"
												    navigator="true" pattern="#{msgs['dateFormat']}">
												    </p:calendar>					    	  
											</td>
											</tr>
											
											</table>											
											</p:fieldset>
											</p:outputPanel>
											</td>											
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic2">
											<p:fieldset id="fieldGroupJuridic2" legend="#{msgs['adm.holders.register.holder.lbl.personal.data']}"  rendered="#{holderMgmtBean.flagHolderJuridicPerson}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.business.name']}" />
												</td>
												<td colspan="3">
													<h:outputText id="inputFullName" size="50" value="#{holderMgmtBean.holderHistoryDetail.fullName}" />													
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.sector']}"/>
												</td>
												<td>
													<p:selectOneMenu id="cmbEconomicSector" disabled="true" style="width:240px" value="#{holderMgmtBean.holderHistoryDetail.economicSector}" >  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" /> 
											             <f:selectItems value="#{holderMgmtBean.listEconomicSector}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											        </p:selectOneMenu>
												</td>
												</tr>
												<tr>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" />
												</td>
												<td>
													<p:selectOneMenu id="cmbEconomicActivity" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.economic.activity']}" style="width:440px" value="#{holderMgmtBean.holderHistoryDetail.economicActivity}" >  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems value="#{holderMgmtBean.listEconomicActivity}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/> 
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.investor.type']}" />
												</td>
												<td>
													<p:selectOneMenu id="cmbInvestorType" disabled="true" label="#{msgs['adm.holders.register.holder.lbl.investor.type']}" style="width:440px" value="#{holderMgmtBean.holderHistoryDetail.investorType}" >  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />  
											            <f:selectItems value="#{holderMgmtBean.listInvestorType}" var="investorTypeVar" 
															itemLabel="#{investorTypeVar.shortName}" itemValue="#{investorTypeVar.id}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											</table>											
											</p:fieldset>
											</p:outputPanel>
											</td>											
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelFieldLegalAddress">
											<p:fieldset legend="#{msgs['adm.holders.register.holder.lbl.legal.address']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.country']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" id="cmbLegalCountry" style="width:260px" value="#{holderMgmtBean.holderHistoryDetail.legalResidenceCountry}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1"  />  
											             <f:selectItems var="legalCountry" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{legalCountry.name}" itemValue="#{legalCountry.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												<td width="40px"/>								
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.departament']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" id="cmbLegalDeparment" value="#{holderMgmtBean.holderHistoryDetail.legalDepartment}">  
											             <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											             <f:selectItems var="legalDepartment" value="#{holderMgmtBean.listDepartmentLocation}" itemLabel="#{legalDepartment.name}" itemValue="#{legalDepartment.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.province']}"/>
												</td>
												<td width="260px">
													<p:selectOneMenu style="width:260px" id="cmbLegalProvince" disabled="true" value="#{holderMgmtBean.holderHistoryDetail.legalProvince}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
											            <f:selectItems var="legalProvince" value="#{holderMgmtBean.listProvinceLocation}" itemLabel="#{legalProvince.name}" itemValue="#{legalProvince.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												<td width="40px"/>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.municipality']}" />
												</td>												
									            
									            <td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" value="#{holderMgmtBean.holderHistoryDetail.legalDistrict}" id="cmbLegalMunicipality" label="#{msgs['adm.holders.register.holder.lbl.municipality']}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
											            <f:selectItems var="legalMunicipality" value="#{holderMgmtBean.listMunicipalityLocation}" itemLabel="#{legalMunicipality.name}" itemValue="#{legalMunicipality.idGeographicLocationPk}"/>
											         </p:selectOneMenu>
												</td>
												</tr>
												<tr>												
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.legal.address']}" />
												</td>
												<td colspan="4">
													<h:outputText size="50" maxlength="150" id="inputLegalAddress" styleClass="large-input-text-width" value="#{holderMgmtBean.holderHistoryDetail.legalAddress}"/>												     
												</td>											
											</tr>									
											</table>										
											</p:fieldset>	
											</p:outputPanel>										
											</td>										
											</tr>
											<tr>
											<td>
											<p:outputPanel id="outputPanelFieldPostalAddress">
											<p:fieldset legend="#{msgs['adm.holders.register.holder.lbl.postal.address']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.country']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalCountry" value="#{holderMgmtBean.holderHistoryDetail.postalResidenceCountry}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
											            <f:selectItems var="postalCountry" value="#{holderMgmtBean.listGeographicLocation}" itemLabel="#{postalCountry.name}" itemValue="#{postalCountry.idGeographicLocationPk}"/>         
											        </p:selectOneMenu>
												</td>	
												<td width="40px"/>																			
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.departament']}"/>
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalDepartment" value="#{holderMgmtBean.holderHistoryDetail.postalDepartment}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="postalDepartment" value="#{holderMgmtBean.listDepartmentPostalLocation}" itemLabel="#{postalDepartment.name}" itemValue="#{postalDepartment.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.province']}"/>
												</td>
												<td width="260px">
												    <p:selectOneMenu disabled="true" style="width:260px" id="cmbPostalProvince" value="#{holderMgmtBean.holderHistoryDetail.postalProvince}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="postalProvince" value="#{holderMgmtBean.listProvincePostalLocation}" itemLabel="#{postalProvince.name}" itemValue="#{postalProvince.idGeographicLocationPk}"/>
											        </p:selectOneMenu>											        
												</td>
												<td width="40px"/>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.municipality']}" />
												</td>
												<td width="260px">
													<p:selectOneMenu disabled="true" value="#{holderMgmtBean.holderHistoryDetail.postalDistrict}"
														style="width:260px" id="cmbPostalMunicipality" label="#{msgs['adm.holders.register.holder.lbl.postal.municipality']}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />   
											            <f:selectItems var="legalMunicipality" value="#{holderMgmtBean.listMunicipalityPostalLocation}" itemLabel="#{legalMunicipality.name}" itemValue="#{legalMunicipality.idGeographicLocationPk}"/>
											        </p:selectOneMenu>
												</td>
												</tr>
												<tr>								            
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.postal.address']}" /></td>
												<td colspan="4">
													<h:outputText size="50" maxlength="150" disabled="true" id="inputPostalAddress" styleClass="large-input-text-width" value="#{holderMgmtBean.holderHistoryDetail.postalAddress}"> 
													</h:outputText>
												</td>												
											</tr>										
											</table>										
											</p:fieldset>
											</p:outputPanel>											
											</td>										
											</tr>
											<tr>
											<td>
											
											
											<p:outputPanel id="outputPanelNatural6">
											<p:fieldset rendered="#{holderMgmtBean.flagHolderNaturalPerson}" legend="#{msgs['adm.holders.register.holder.lbl.contact']}">
											<table>
											<tr>
												<td width="160px">
												 <h:outputText value="#{msgs['adm.holders.register.holder.lbl.home.telephone']}" />
												</td>
												<td width="220px">
												 <h:outputText maxlength="15" value="#{holderMgmtBean.holderHistoryDetail.homePhoneNumber}"/>
											    </td>
											</tr>
											<tr>
												<td width="160px">
												    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.mobile.phone']}" />
												</td>
												<td width="180px">
													<h:outputText maxlength="15" value="#{holderMgmtBean.holderHistoryDetail.mobileNumber}"/>												
												</td>
											</tr>
											
											<tr>
												<td width="160px">
												    <h:outputText value="#{msgs['adm.holders.register.holder.lbl.fax']}" />
												</td>
												<td width="180px">
													<h:outputText maxlength="15" value="#{holderMgmtBean.holderHistoryDetail.faxNumber}"/>											
												</td>
											</tr>
											
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.email']}" />
												</td>
												<td>
													<h:outputText size="42" id="inputEmail" value="#{holderMgmtBean.holderHistoryDetail.email}"/>												
												</td>											
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic3">
											<p:fieldset rendered="#{false and holderMgmtBean.flagHolderJuridicPerson
											   and (holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null
											   or holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null)}" legend="#{msgs['adm.holders.register.holder.lbl.references.comercial.data']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null}" value="#{msgs['adm.holders.register.holder.lbl.business.name']}" />
												</td>
												<td>
													<p:inputText 
													disabled="true"
													maxlength="50" size="50" rendered="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName!=null}"
													 value="#{holderMgmtBean.holderHistoryDetail.comerRefBusinessName}"  >
												   </p:inputText>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.landlime']}" />
												</td>
												<td width="180px">
													<p:inputText maxlength="15"
													 disabled="true"
													 rendered="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine!=null}"
													 value="#{holderMgmtBean.holderHistoryDetail.comerRefLandLine}">
													</p:inputText>
												</td>
												
											</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
											
											<tr>
											<td>
											<p:outputPanel id="outputPanelJuridic4">
											<p:fieldset rendered="#{holderMgmtBean.flagHolderJuridicPerson and true}" legend="#{msgs['adm.holders.register.holder.lbl.contact']}">
											<table>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{true or holderMgmtBean.holderHistoryDetail.homePhoneNumber!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.telefono1']}" />
												</td>
												<td width="220px">
													<p:inputText maxlength="15" 
													disabled="true"
													rendered="#{true or holderMgmtBean.holderHistoryDetail.homePhoneNumber!=null}" 
													value="#{holderMgmtBean.holderHistoryDetail.homePhoneNumber}"  >
													</p:inputText>
												</td>
												
											</tr>
											<tr>
												<td width="160px">
												<h:outputText rendered="#{true or holderMgmtBean.holderHistoryDetail.mobileNumber!=null}" 
												value="#{msgs['adm.holders.register.holder.lbl.telefono2']}" />
												</td>
												<td width="180px">
													<p:inputText maxlength="15"
													 disabled="true"
													 rendered="#{true or holderMgmtBean.holderHistoryDetail.mobileNumber!=null}"
													 value="#{holderMgmtBean.holderHistoryDetail.mobileNumber}"  >
													</p:inputText>
												</td>
												
											</tr>
											
											<tr>
											<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.fax']}" />
												</td>
												<td width="180px">
													<p:inputText disabled="true" maxlength="15" value="#{holderMgmtBean.holderHistoryDetail.faxNumber}"  >
													
													</p:inputText>
												</td>
											</tr>
											<tr>
												<td width="160px">
												<h:outputText value="#{msgs['adm.holders.register.holder.lbl.email']}" />
												</td>
												<td>
													<p:inputText id="inputEmail2" 
													disabled="true"
													label="#{msgs['adm.holders.register.holder.lbl.email']}" maxlength="50" size="35" 
													value="#{holderMgmtBean.holderHistoryDetail.email}" style="text-transform:lowerCase" styleClass="sensitive-inputField email-inputField" >
													</p:inputText>
												</td>
											</tr>
											<tr>
											<td width="160px">
											<h:outputText rendered="#{true or holderMgmtBean.holderHistoryDetail.website!=null}" 
											value="#{msgs['adm.holders.register.holder.lbl.webpage']}" />
											</td>
											<td colspan="4">
											<p:inputText styleClass="sensitive-inputField webpage-inputField" 
														 disabled="true"
														 rendered="#{true or holderMgmtBean.holderHistoryDetail.website!=null}"
														 id="txtWebPage" value="#{holderMgmtBean.holderHistoryDetail.website}" size="50" maxlength="150">											
											</p:inputText>	
										
										</td>
									</tr>
											</table>
											</p:fieldset>
											</p:outputPanel>
											</td>
											</tr>
																					
										</table>
									</p:tab>
									<p:tab id="representativeTab" title="#{gmsgs['legal.representative.lbl.registration.representative']}">
									<table width="100%">
									<tr>
								<td>
								<p:outputPanel autoUpdate="true">
								<p:panel id="panelDtdRepresentatives">		
								
								<detailRepresentative:representativeHistoryDetails idLegalRepresentativeComponent="frmHolderDetails:tabView:legalRepresentativeComp" id="legalRepresentativeComp"/>	
														
							</p:panel>
							</p:outputPanel>
									</td>
								</tr>
								
									</table>
									</p:tab>
									<p:tab id="attachDocumentsTab"  title="#{msgs['adm.holders.register.holder.lbl.attachments']}" rendered="#{holderMgmtBean.flagHolderNaturalPerson?false:true}">
										<h:panelGroup id="groupUploadFiles">
											
											<p:dataTable id="dtbHolderDocuments" var="holderFile" rowIndexVar="regNum"
												value="#{holderMgmtBean.lstHolderReqFileHistory}">
											<p:column width="5px">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.order.number']}" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
											</f:facet>
											<h:outputText
											value="#{holderFile.description}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
											</f:facet>
											<h:outputText
											value="#{holderFile.filename}" />
											</p:column>
							
											<p:column>
											<f:facet name="header">
											<h:outputText value="" />
											</f:facet>
											<p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
									 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>  
									 		<p:fileDownload value="#{holderMgmtBean.getStreamedContentFileHolderHistory(holderFile.holderRequest.idHolderRequestPk, holderFile.documentType)}" />  
											</p:commandLink>
											</p:column>
							
											
						</p:dataTable>
						
					</h:panelGroup>
									</p:tab>
					</p:tabView>
					</p:outputPanel>
									</td>
									</tr>
								<tr>
								<td align="center">
								
								<p:outputPanel id="panelPrivileges">
						        <p:panelGrid style="border:0" columns="2">
								<ark:privileges
					 							 
					 				actionListenerConfirm="#{holderMgmtBean.beforeOnConfirm}"
					 				actionListenerReject="#{holderMgmtBean.beforeOnReject}"
					 				actionListenerApprove="#{holderMgmtBean.beforeOnApprove}"
					 				actionListenerAnnular="#{holderMgmtBean.beforeOnAnnular}"				 				
					 				
					 				actions="#{userPrivilege.userAcctions}"
					 				renders="#{userPrivilege.privilegeComponent}"/>						
								
								<p:commandButton id="buttonReturn" value="#{msgs['btn.back']}" icon="fa fa-undo" 
														 action="goToSearchHolder" actionListener="#{holderMgmtBean.setTrueValidButtons}" ajax="false" immediate="true"  />
								</p:panelGrid>
								</p:outputPanel>
								
								</td>
								
								</tr>
							</table>

					</td>
				</tr>
			</table>

		</h:form>
		
	<p:outputPanel id="opnlDialogs">
			<h:form id="frmDialogs">  
			 
			<p:dialog id="dialogMotive" resizable="false" draggable="false"  closable="false"
                header="#{headerMessageView}" severity="alert" widgetVar="dlgMotive">  
              
            <p:outputPanel id="opnlMotive">
            <table>
		    <tr>
		    <td width="100px">
                    <h:outputText value="#{msgs['lbl.motive']}" styleClass="required-field" />
           </td>
           <td>
           <p:selectOneMenu  id="cboMotive" style="width:305px;" label="#{msgs['lbl.motive']}"  value="#{holderMgmtBean.requestMotive}">  
	                <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />  
	                <f:selectItems value="#{holderMgmtBean.listMotives}" var="mot" 
	                itemLabel="#{mot.parameterName}" itemValue="#{mot.parameterTablePk}"/>
	                <p:ajax process="@this" update="opnlMotive" event="change" listener="#{holderMgmtBean.evaluateMotive}" />
	          <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						  
	       </p:selectOneMenu>
	       </td>
	       <td width="50px" align="right">
		        		<p:message  for="cboMotive" display="icon" />
		        	</td>
	      </tr> 
	      <tr>    
	     
	      <td>
	       <h:outputText value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field" rendered="#{holderMgmtBean.showMotiveText}" id="idTxtMotive" />
	       </td>
	       <td>
	       <p:inputTextarea size="60" cols="50" rows="5" rendered="#{holderMgmtBean.showMotiveText}"
	        maxlength="150" value="#{holderMgmtBean.requestOtherMotive}" id="txtOtherMotive"
	        label="#{msgs['lbl.other.motive']}">
	       <p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
	       <p:ajax event="blur" process="@this"/>
	       <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
          </p:inputTextarea>
          </td>
          <td width="50px" align="right">
		        		<p:message  for="txtOtherMotive" display="icon"
							rendered="#{holderMgmtBean.showMotiveText}"/>
		        	</td>        
         
        </tr>
       </table>
       </p:outputPanel>
       
        <h:panelGrid columns="1" style="text-align:center" width="100%">                  
        <p:outputPanel>
        <p:commandButton rendered="#{holderMgmtBean.flagActionReject}" value="#{msgs['btn.save']}" icon="fa fa-save" 
        actionListener="#{holderMgmtBean.confirmActions}" 
        update="opnlMotive :frmDialogs:confirmActionsDialog"        
        />
        
        <p:commandButton rendered="#{holderMgmtBean.flagActionAnnular}" value="#{msgs['btn.save']}" icon="fa fa-save" 
        actionListener="#{holderMgmtBean.confirmActions}" 
        update="opnlMotive :frmDialogs:confirmActionsDialog"        
        />
       
        <p:spacer width="5"></p:spacer>
        <p:commandButton value="#{msgs['btn.back']}" process="@this" icon="fa fa-undo" update="opnlMotive opnlBackMotive"
         actionListener="#{holderMgmtBean.validateBack()}"/> 
            
         </p:outputPanel>
        </h:panelGrid>
        </p:dialog>
       		
			
			<p:confirmDialog id="warningDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"					
					severity="alert" widgetVar="widgWarningDialog">
										
					<p:commandButton value="#{msgs['btn.accept']}"
						oncomplete="widgPF('warningDialog').hide()"  process="@this"
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
		
		   <p:outputPanel id="opnlTransactionDialog">
			<p:confirmDialog id="transactionDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"					
					severity="alert" widgetVar="widgTransactionDialog">
										
					<p:commandButton value="#{msgs['btn.accept']}"	
					    oncomplete="PF('widgTransactionDialog').hide()"
					    action="goToSearchHolder"  process="@this"					
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
			</p:outputPanel>
			
			<p:outputPanel id="opnlConfirmActionsDialog">
				<p:confirmDialog id="confirmActionsDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"				
					severity="alert" widgetVar="widgConfirmActions">
										
					<p:commandButton id="confirmDes" value="#{msgs['btn.yes']}"
						actionListener="#{holderMgmtBean.actionDo}" process="@this"
						oncomplete="PF('widgConfirmActions').hide()"
						update=":frmDialogs:opnlTransactionDialog">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" process="@this" onclick="PF('widgConfirmActions').hide()"/>
						
				</p:confirmDialog>
			</p:outputPanel>
			
			<p:outputPanel id="opnlBackMotive"> 
			<p:confirmDialog id="cnfBackMotive"
					message="#{bodyMessageView}" severity="alert"
					header="#{headerMessageView}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{msgs['btn.yes']}"
						process="@this" actionListener="#{holderMgmtBean.resetComponents}"						
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{msgs['btn.no']}" process="@this"
						oncomplete="PF('cnfwBackMotive').hide()" actionListener="#{holderMgmtBean.resetComponents}" />
				</p:confirmDialog>
			 </p:outputPanel>
			 
			 </h:form>	
			</p:outputPanel>	
		
 	</ui:define>
</ui:composition>
</html>