<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmGeneral">
<table width="100%" >
	<tr>
		<td width="100%" align="left">
			<h:outputText value="#{msgs['adm.feriado.titulo']}" styleClass="title-page" />
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fsHolidayCriteriaSearch" legend="#{msgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['holidayMgmt.lbl.country']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboCountry" label="#{msgs['holidayMgmt.lbl.country']}"
					value="#{holidayMgmtBean.holidayFilter.geographicLocationPk}">
					<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
					<f:selectItems value="#{holidayMgmtBean.countryList}" var="countries" 
						itemLabel="#{countries.name}" itemValue="#{countries.idGeographicLocationPk}"/>
					<p:ajax event="change" update="cboCountry idmsgcboCountry"/>			
					<f:validator validatorId="selectOneRequiredValidator"/>
										<f:param name="skipValidation" value="true"/>
				</p:selectOneMenu>
				<p:message for="cboCountry" id="idmsgcboCountry" display="icon"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['holidayMgmt.lbl.year']} (*)" styleClass="required-field" />
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu label="#{msgs['holidayMgmt.lbl.year']}"
					id="iDlistYear" value="#{holidayMgmtBean.holidayFilter.year}">
					<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
					<f:selectItems value="#{holidayMgmtBean.listYear}" var="type"
						itemLabel="#{type}" itemValue="#{type}"/>
					<p:ajax event="change" update="iDlistYear idmsgyear"/>
					<p:ajax event="change" update="pnlScheduleResults" listener="#{holidayMgmtBean.yearSelectionChanged}"/>		
					<f:validator validatorId="selectOneRequiredValidator"/>
										<f:param name="skipValidation" value="true"/>
				</p:selectOneMenu>
				<p:message for="iDlistYear" id="idmsgyear" display="icon"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton value="#{msgs['quotes.lbl.search']}" 
					icon="fa fa-search" update="@form :opnlGenericDialogs"
					rendered="#{userInfo.userAcctions.search}"
					process="@this fsHolidayCriteriaSearch "
					actionListener="#{holidayMgmtBean.searchHolidayByFilter}">
					<f:param name="skipValidation" value="false"/>
					</p:commandButton>
				<p:commandButton value="#{msgs['btn.clean']}" icon="fa fa-trash"
					process="@this" update="@form" immediate="true"
					actionListener="#{holidayMgmtBean.clear()}"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>			
			<p:outputPanel id="registerBtn">
			<p:outputPanel rendered="#{holidayMgmtBean.holidayList.size()==0 and holidayMgmtBean.searched}">
				<br/>				
				<p:commandButton icon="ui-add" value="#{msgs['btn.registrar']}" 
					actionListener="#{holidayMgmtBean.registerHoliday}" process="@this" 
					update="pnlScheduleResults pnlNotResult" rendered="#{userInfo.userAcctions.register}"/>
			</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="pnlScheduleResults">
			<p:fieldset rendered="#{holidayMgmtBean.holidayList.size()>0 or holidayMgmtBean.viewOperationRegister}">
			<table align="center">
			<tr>
				<td align="center"> 
				<p:schedule id="scheduleResults" draggable="false"
					locale="#{sessionScope.locale}" value="#{holidayMgmtBean.eventModel}" style="width:650px;word-wrap:break-word;" view="month"
					widgetVar="myschedule" rightHeaderTemplate="" leftHeaderTemplate="prev, next, today"
					timeZone="#{holidayMgmtBean.currentTimeZone}"
					initialDate="#{holidayMgmtBean.initialDate}"
					>
					<p:ajax event="eventSelect" process="@this"
						update="pnlDialogEvent :opnlGenericDialogs"  
						listener="#{holidayMgmtBean.onEventSelect}" />
					<p:ajax event="dateSelect" process="@this"  
						update="pnlDialogEvent :opnlGenericDialogs" 
						listener="#{holidayMgmtBean.onDateSelect}"/>
				</p:schedule>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</p:outputPanel>
			<p:outputPanel id="pnlNotResult" >
				<p:fieldset rendered="#{holidayMgmtBean.holidayList.size()==0 and holidayMgmtBean.searched and not holidayMgmtBean.viewOperationRegister}">
					<h:outputText value="#{msgs['holiday.criteria.notResult']}" styleClass="required-field"/>
				</p:fieldset>
			</p:outputPanel> 
		</td>
	</tr>
</table>
<p:outputPanel id="pnlDialogEvent" >
<p:dialog id="idDialogEvent" widgetVar="eventDialog" 
	modal="true" header="#{holidayMgmtBean.titleMessage}" 
	closable="false" resizable="false">
	<p:fieldset id="fsAddHoliday" legend="#{msgs['holidayMgmt.lbl.registerdata']}">
	<table width="100%">
	<tr>
		<td width="25%">
	    	<h:outputText value="#{msgs['feriado.lbl.fecha']} (*)" styleClass="required-field"/>
	    </td>
	    <td width="20%">
	    	<h:panelGrid columns="2">
	        	<p:inputText value="#{holidayMgmtBean.event.startDate}" size="10" disabled="true">
	           		<f:convertDateTime pattern="dd/MM/yyyy"/>			 
	           	</p:inputText>
	        </h:panelGrid>
	    </td>
       	<td width="20%">
        		<h:outputText	value="#{msgs['holidayMgmt.lbl.country']} (*)" styleClass="required-field" />
        	</td>
        	<td width="35%">
          		<p:selectOneMenu disabled="true" id="cboCountryDialog"	label="#{msgs['holidayMgmt.lbl.country']}"			
				value="#{holidayMgmtBean.holiday.geographicLocation.idGeographicLocationPk}">
				<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
				<f:selectItems value="#{holidayMgmtBean.countryList}" var="countries" 
					itemLabel="#{countries.name}" itemValue="#{countries.idGeographicLocationPk}"/>
				<f:validator validatorId="selectOneRequiredValidator"/>
				<f:param name="skipValidation" value="true"/>
			</p:selectOneMenu>
          	</td>
	</tr>
    <tr>
        <td>
        	<h:outputText value="#{msgs['holidayMgmt.lbl.behavior']} (*)" styleClass="required-field" /></td>
       	<td colspan="3">
        	<h:panelGrid columns="2">
        		<p:selectOneMenu id="cboBehaviorDialog" disabled="#{holidayMgmtBean.actionType != 1}"
					value="#{holidayMgmtBean.holiday.holidayType}" 
					label="#{msgs['holidayMgmt.lbl.behavior']}">
					<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
					<f:selectItems value="#{holidayMgmtBean.holidayTypeList}" var="holidayType"
						itemLabel="#{holidayType.parameterName}" itemValue="#{holidayType.parameterTablePk}" />
				<f:validator validatorId="selectOneRequiredValidator"/>
				<f:param name="skipValidation" value="true"/>
				</p:selectOneMenu>
        		<p:message for="cboBehaviorDialog" display="icon"/>
        	</h:panelGrid>
        </td>
  	</tr>
	<tr/>
	<tr>
		<td colspan="4" align="center">
	    <p:spacer height="15"/>
	    <p:commandButton id="btnSave" value="#{holidayMgmtBean.actionType==1? msgs['btn.grabar']:msgs['btn.modify']}" 
	    	icon="fa fa-save" rendered="#{holidayMgmtBean.actionType==1 and holidayMgmtBean.viewOperationRegister and userInfo.userAcctions.register}"
	        process="@this fsAddHoliday" actionListener="#{holidayMgmtBean.beforeSaveHoliday}" update=":opnlGenericDialogs pnlDialogEvent">
	        <f:param name="skipValidation" value="false"/>
	    </p:commandButton>
	    <p:spacer width="5"/>
	    <p:commandButton id="btnDelete" value="#{msgs['btn.eliminar']}" rendered="#{holidayMgmtBean.actionType!=1 and holidayMgmtBean.viewOperationDelete}"
	     	icon="ui-remove" process="@this fsAddHoliday" actionListener="#{holidayMgmtBean.beforeDeleteEvent}"
	       	update=":opnlGenericDialogs pnlDialogEvent"/>
	    <p:spacer width="5"/>			   
	    <p:commandButton id="btnExit" process="@this" value="#{msgs['btn.back']}" 
	     	icon="fa fa-undo" oncomplete="PF('eventDialog').hide();"/> 
	   	</td>
	</tr>
	</table>
	</p:fieldset>
</p:dialog> 

<p:confirmDialog id="cnfsave" closable="false" header="#{headerMessageView}" message="#{bodyMessageView}"
	severity="alert" widgetVar="cnfwSave" resizable="false">
	<p:commandButton id="cmbConfirmSave" value="#{msgs['btn.yes']}"
		actionListener="#{holidayMgmtBean.saveHoliday}"
	    update="frmGeneral,:opnlGenericDialogs"/>
	<p:commandButton  value="#{msgs['btn.no']}" actionListener="#{holidayMgmtBean.hideOwn}" process="@this"
		update="pnlDialogEvent" oncomplete="PF('cnfwSave').hide();"/>   
</p:confirmDialog> 
<p:confirmDialog id="cnfdelete" closable="false" header="#{headerMessageView}" message="#{bodyMessageView}"
	severity="alert" widgetVar="cnfwDelete" resizable="false">	
	<p:commandButton id="cmbConfirmDelete" value="#{msgs['btn.yes']}" actionListener="#{holidayMgmtBean.deleteEvent}" 
		oncomplete="PF('cnfwDelete').hide(); PF('eventDialog').hide();" update="frmGeneral,:opnlGenericDialogs"/>
	<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwDelete').hide();" actionListener="#{holidayMgmtBean.hideOwnDelete}" process="@this"
		update="pnlDialogEvent"/>
</p:confirmDialog> 
</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>
