<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
<h:outputText value="#{msgs['adm.profile.report.title']}" id="idOtxtProfileUserTitle"
			  styleClass="title-page"/>
    	
<h:form id="frmGeneral">
	<table width="100%"> 
		
		<tr> 
			<td>
				<p:fieldset id="fldsFilters" legend="#{msgs['lbl.criteria.search']}" toggleable="false"> 
		        	<table class="table-fields"> 		        		
						<tr>							
							<td width="130px"> 
								<h:outputText value="#{msgs['profile.lbl.system']} (*)" id="idOtxtProfSystem" styleClass="required-field"/>
							</td>
							<td width="250px"> 
								<p:selectOneMenu id="idCboProfSystem"
									value="#{profileAndOptionsReportMgmtBean.systemProfileFilter.idSystemBaseQuery}">
		        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemProfSystem"/>
		        					<f:selectItems value="#{profileAndOptionsReportMgmtBean.lstAllSystems}"  id="idCboItemsProfSystem"
		        						var="sys" itemLabel="#{sys.name}" itemValue="#{sys.idSystemPk}"/>
		        				   <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
		        				</p:selectOneMenu>
							</td>
		        		</tr>
		        		<tr> 
		        			<td width="130px"> 
								<h:outputText value="#{msgs['profile.lbl.mnemonic']}" id="idOtxtProfMnemonic"/>
							</td>
							<td width="250px" > 
								<p:inputText style="width:150px;" maxlength="8" id="idItxtProfMnemonic" autocomplete="off"
								value="#{profileAndOptionsReportMgmtBean.systemProfileFilter.profileMnemonicBaseQuery}">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
								</p:inputText>
							</td>
							
						</tr>
						
						<tr> 
		        			<td width="130px"> 
								<h:outputText value="#{msgs['profile.lbl.state']}" id="idOtxtProfState"/>
							</td>
							<td width="250px" > 
							<p:selectOneMenu style="width:158px;" id="idCboProfState"
		        					value="#{profileAndOptionsReportMgmtBean.systemProfileFilter.profileStateBaseQuery}">
		        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemProfState"/>
		        				  	<f:selectItems value="#{profileAndOptionsReportMgmtBean.lstSystemProfileStatus}"  id="idCboItemsProfState"
		        						var="st" itemLabel="#{st.value}" itemValue="#{st.code}"/>	        				
		        				</p:selectOneMenu>
							</td>
							
						</tr>
						
						
								        		
		        	</table>
		        	<table width="100%">
		        		<tr> 
		        			<td  align="center">
		        				<p:commandButton id="cmbSearch" value="#{msgs['btn.register']}" rendered="#{userInfo.userAcctions.search}" icon="fa fa-search"
												 actionListener="#{profileAndOptionsReportMgmtBean.sendReport}"
												 update=":opnlGenericDialogs opnlDialogs  @form"
		        								/>			        				
		        				&nbsp;
		        				<p:commandButton value="#{msgs['btn.clear']}" icon="fa fa-trash" id="idCmdBtnProfClear"
		        								actionListener="#{profileAndOptionsReportMgmtBean.clean}"
												process="@this"
												update="@form"
		        								/>  	
		        			</td>
		        		</tr>		        	
		        	</table> 
		
							
			</p:fieldset>
			</td>
		</tr>
		
	</table>
	
	
<p:outputPanel id="opnlDialogs">
			
			<p:confirmDialog id="idDialReportConfirm"
										message="#{bodyMessageView}"
										header="#{headerMessageView}" visible="true"
										rendered="false" severity="alert"
										widgetVar="idReportConfirmWin" closable="false">				
				<p:commandButton value="#{msgs['btn.accept']}" actionListener="#{profileAndOptionsReportMgmtBean.clean()}" process="@this" oncomplete="PF('idReportConfirmWin').hide();" update="@form"/>		
			</p:confirmDialog>
	    </p:outputPanel>
	   </h:form> 
       	</ui:define>
    </ui:composition>
</html> 
