<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
<h:outputText value="#{msgs['adm.profile.title']}" id="idOtxtProfileUserTitle"
			  styleClass="title-page"/>
    	
<h:form id="frmGeneral">
	<div class="buttons-top-right">
	 	<p:defaultCommand target="cmbSearch" id="idDftCmdSearch"/> 
		<p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit" id="idCmdBtnRegister"
					process="@this" immediate="true" rendered="#{userPrivilege.userAcctions.register}"							
					actionListener="#{systemProfileMgmtBean.loadRegisterProfileListener}"
					action="systemProfileMgmtRule"/>
	</div>
	<table width="100%"> 
		<tr> 
			<td>
				<p:fieldset id="fldsFilters" legend="#{msgs['lbl.criteria.search']}" toggleable="false"> 
							
		 
		        	<table class="table-fields"> 
		        		<tr> 
		        			<td class="td-label-default"> 
								<h:outputText value="#{msgs['profile.lbl.mnemonic']}" id="idOtxtProfMnemonic"/>
							</td>
							<td> 
								<p:inputText style="width:150px;" maxlength="8" id="idItxtProfMnemonic"  autocomplete="off"
								value="#{systemProfileMgmtBean.systemProfileFilter.profileMnemonicBaseQuery}">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
								</p:inputText>
							</td>
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['profile.lbl.name']}"  id="idOtxtProfName"/>
							</td>
							<td> 
								<p:inputText style="width:430px;" maxlength="50" id="idItxtProfName"  autocomplete="off"
								value="#{systemProfileMgmtBean.systemProfileFilter.profileNameBaseQuery}" >
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
								</p:inputText>
							</td>
						</tr>
						<tr>							
							<td class="td-label-default"> 
								<h:outputText value="#{msgs['profile.lbl.system']}" id="idOtxtProfSystem"/>
							</td>
							<td> 
								<p:selectOneMenu id="idCboProfSystem"
									value="#{systemProfileMgmtBean.systemProfileFilter.idSystemBaseQuery}">
		        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemProfSystem"/>
		        					<f:selectItems value="#{systemProfileMgmtBean.lstAllSystems}"  id="idCboItemsProfSystem"
		        						var="sys" itemLabel="#{sys.name}" itemValue="#{sys.idSystemPk}"/>
		        				</p:selectOneMenu>
							</td>
							<td class="td-label-default"> 
		        				<h:outputText value="#{msgs['profile.lbl.state']}" id="idOtxtProfState"/>
		        			</td>
		        			<td> 
		        				<p:selectOneMenu style="width:158px;" id="idCboProfState"
		        					value="#{systemProfileMgmtBean.systemProfileFilter.profileStateBaseQuery}">
		        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemProfState"/>
		        				  	<f:selectItems value="#{systemProfileMgmtBean.lstSystemProfileStatus}"  id="idCboItemsProfState"
		        						var="st" itemLabel="#{st.value}" itemValue="#{st.code}"/>	        				
		        				</p:selectOneMenu>
		        			</td>
		        		</tr>
		        		<tr>
			        		<td class="td-label-default"> 
		        				<h:outputText value="Tipo Perfil" id="idOtxtProfType"/>
		        			</td>
		        			<td> 
		        				<p:selectOneMenu style="width:158px;" id="idCboProfType"
		        					value="#{systemProfileMgmtBean.systemProfileFilter.indUserType}">
		        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemProfType"/>
		        				  	<f:selectItem itemLabel="INTERNO" itemValue="0"/>
		        				  	<f:selectItem itemLabel="EXTERNO" itemValue="1"/>
<!-- 		        				  	<f:selectItems value="#{systemProfileMgmtBean.lstClientType}"  id="idCboItemsProfType" -->
<!-- 		        						var="ustype" itemLabel="#{ustype.name}" itemValue="#{ustype.idParameterPk}"/>	        				 -->
		        				</p:selectOneMenu>
		        			</td>
		        		</tr>
		        		<tr> 
		        			<td colspan="4" align="center">
		        				<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" rendered="#{userPrivilege.userAcctions.search}" icon="fa fa-search"
												 actionListener="#{systemProfileMgmtBean.searchProfilesListener}"
												 update="@form" onclick="wDtbResult.getPaginator().setPage(0);"
		        								/>			        				
		        				&nbsp;
		        				<p:commandButton value="#{msgs['btn.clear']}" icon="fa fa-trash" id="idCmdBtnProfClear"
		        								actionListener="#{systemProfileMgmtBean.cleanListener}"
												process="@this"
												update="@form"
		        								/>  	
		        			</td>
		        		</tr>			        		
		        	</table>
			</p:fieldset>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel id="opnlPrivilegeOnDataTable" 
				rendered="#{systemProfileMgmtBean.systemProfileDataModel != null and systemProfileMgmtBean.systemProfileDataModel.rowCount>=1}">			
					<ark:privileges id="idArkPrivileges"
					 actionModify="#{systemProfileMgmtBean.loadModifyProfileAction}"
					 actionListenerConfirm="#{systemProfileMgmtBean.beginConfirmListener}"
					 actionListenerReject="#{systemProfileMgmtBean.beginRejectListener}"
					 actionListenerBlock="#{systemProfileMgmtBean.beginBlockListener}"
					 actionListenerUnblock="#{systemProfileMgmtBean.beginUnblockListener}"	
					 actionListenerDelete="#{systemProfileMgmtBean.beginDeleteListener}"	 
					 actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>
							
			</p:outputPanel>
			</td>
		</tr>
		<tr> 
			<td> 
				<p:outputPanel id="opnlResult">

					<p:fieldset legend="#{msgs['lbl.registers.found']}" rendered="#{systemProfileMgmtBean.systemProfileDataModel != null}" id="idPnlSystemProfile">
					
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
							rendered="#{systemProfileMgmtBean.systemProfileDataModel.rowCount==0}"
							styleClass="label-bolder"/>
					
						<p:dataTable id="dtbResult" widgetVar="wDtbResult"
									value="#{systemProfileMgmtBean.systemProfileDataModel}"
									var="prof" paginatorPosition="top"
				                 	paginator="true" rows="10" 
				                 	currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
				                 	paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}" 
				                 	rowsPerPageTemplate="5,10,15" first="#{systemProfileMgmtBean.firsRegisterDataTable}"
				                 	rendered="#{systemProfileMgmtBean.systemProfileDataModel.rowCount>=1}"
				                 	selection="#{systemProfileMgmtBean.selectedSystemProfile}">
																		
							<p:column selectionMode="single" style="width:18px" id="idClmEmpty"/> 
							
							<p:column id="idClmProfMnemonic" sortBy="#{prof.mnemonic}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.mnemonic']}" id="idOtxtProfileMnemonicHeader" />
								</f:facet>
								<p:commandLink id="cmdLnkProfileDetail"
										action="#{systemProfileMgmtBean.detailAction}"
										ajax="false">
									<f:setPropertyActionListener 
									target="#{systemProfileMgmtBean.systemProfile}" 
									value="#{prof}" />
									<h:outputText value="#{prof.mnemonic}" id="idOtxtProfileMnemonic"/>
								</p:commandLink>								
							</p:column>
							
							<p:column id="idClmProfSystem" sortBy="#{prof.system.name}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.system']}" id="idOtxtProfileSystemHeader" />
								</f:facet>
								<h:outputText value="#{prof.system.name}" id="idOtxtProfileSystem" />
							</p:column>
						
							<p:column id="idClmProfileName" sortBy="#{prof.name}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.name']}" id="idOtxtProfileNameHeader"/>
								</f:facet>
								<h:outputText value="#{prof.name}" id="idOtxtProfileName"/>
							</p:column>
							
							<p:column id="idClmInstitutionName" sortBy="#{prof.institutionName}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.type']}" id="idOtxtProfileTypeHeader"/>
								</f:facet>
								<h:outputText value="#{prof.institutionName}" id="idOtxtProfileType"/>
							</p:column>
							
							<p:column id="idClmProfileDesc" sortBy="#{prof.description}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.description']}" id="idOtxtProfileDescHeader"/>
								</f:facet>
								<h:outputText value="#{prof.description}" id="idOtxtProfileDesc"/>
							</p:column>
							
							<p:column id="idClmProfileType" sortBy="#{prof.indUserType}"> 
								<f:facet name="header">
									<h:outputText value="Tipo Perfil" id="idOtxtProfUserTypeHeader"/>
								</f:facet>
								<h:outputText value="#{prof.indUserType == 1? 'EXTERNO': 'INTERNO'}" id="idOtxtProfUserType"/>
							</p:column>
							
							<p:column styleClass="content-center" id="idClmProfileState" sortBy="#{prof.profileStateDescription}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.state']}" id="idOtxtProfileStateHeader"/>
								</f:facet>								
								<h:outputText value="#{prof.profileStateDescription}" id="idProfileDesc"/>
				              <p:tooltip for="idProfileDesc" id="idTtipStateDesc"
				              			 value="#{prof.profileStateDescription}" 
				              			 /> 								
							</p:column>
							
							<p:column styleClass="content-center" id="idClmProfileSituation" sortBy="#{prof.profileSituationDescription}"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['profile.col.situation']}" id="idOtxtProfileSituationHeader"/>
								</f:facet>
								<p:commandLink rendered="#{not empty prof.situation and prof.situation eq 180}"
										action="#{systemProfileMgmtBean.detailRequestModify}" ajax="false">
									<f:setPropertyActionListener target="#{systemProfileMgmtBean.selectedSystemProfile}" 
									value="#{prof}" />
									<h:outputText value="#{not empty prof.situation?systemProfileMgmtBean.situationsProfile[prof.situation]:''}"/>
								</p:commandLink>		
								<h:outputText rendered="#{not empty prof.situation and prof.situation ne 180}" value="#{not empty prof.situation?systemProfileMgmtBean.situationsProfile[prof.situation]:''}" id="idProfileSituationDesc"/>								
							</p:column>
																						
							<f:facet name="footer">
							  	<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{systemProfileMgmtBean.systemProfileDataModel.rowCount}"/>
					            </h:outputFormat>
							</f:facet>			 
						</p:dataTable>						
				
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
	</table>
</h:form>	

	<p:outputPanel id="opnlDialogs">
		
		<h:form id="frmMotive">
		
			<p:dialog id="cnfMotive" modal="true" resizable="false"
				visible="false" closable="false"
                header="#{headerMessageView2}" widgetVar="cnfwMotive">
                              
        
	        <p:outputPanel id="opnlMotive">
	        <table>
		        <tr>
		        	<td width="100px">
		        		<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" id="idOtxtReason" rendered="#{!systemProfileMgmtBean.delete}"/>
		        	</td>
		        	<td>
		        		<p:selectOneMenu style="width:258px;" id="cboMotive" label="#{msgs['lbl.motive']}"
				        	value="#{systemProfileMgmtBean.historicalState.motive}" rendered="#{!systemProfileMgmtBean.delete}"
				        	disabled="#{systemProfileMgmtBean.confirmBockOrUnblock}">				        	
						  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemReason"/>
						  	
							<f:selectItems value="#{systemProfileMgmtBean.block ? systemProfileMgmtBean.lstBlockMotives : (systemProfileMgmtBean.reject ? systemProfileMgmtBean.lstRejectMotives : systemProfileMgmtBean.lstUnBlockMotives)}"
							               id="idCboItemsReason" var="mot" itemLabel="#{mot.name}" itemValue="#{mot.idParameterPk}"/>
							<p:ajax event="change" process="@this"  update="opnlMotive"
							 listener="#{systemProfileMgmtBean.changeMotiveSelectionListener}" />
							 <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
						</p:selectOneMenu>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message  for="cboMotive" display="icon" id="idMsgReason"/>
		        	</td>
		        </tr>
		        <tr>
		        	<td width="100px">
		        		<h:outputText value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field" id="idOtxtOtherReason"
						rendered="#{systemProfileMgmtBean.showOtherMotive}"/>
		        	</td>
		        	<td>
		        		<p:inputText id="txtOtherMotive" size="70"  autocomplete="off"
		        			required="true" requiredMessage="Insertar el otro motivo"
							value="#{systemProfileMgmtBean.historicalState.motiveDescription}"
							rendered="#{systemProfileMgmtBean.showOtherMotive}" maxlength="200"
							disabled="#{systemProfileMgmtBean.confirmBockOrUnblock}"
							onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
							<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
						</p:inputText>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message  for="txtOtherMotive" display="icon" id="idMsgOtherReason"
							rendered="#{systemProfileMgmtBean.showOtherMotive}"/>
		        	</td>
		        </tr>
	        </table>
	        </p:outputPanel>

		<h:panelGrid columns="2" width="100%" id="idPnlGridSearch">
			<p:outputPanel id="idOpnlSearch" styleClass="content-right">
				<p:commandButton 
					id="cmbBlockMotive" 
					update="opnlMotive, :opnlConfDialogs, :opnlGenericDialogs"
    				value="#{systemProfileMgmtBean.confirmBockOrUnblock ? msgs['btn.confirm'] : msgs['btn.save']}" icon="fa fa-save" 
    				rendered="#{not systemProfileMgmtBean.confirmBockOrUnblock or (systemProfileMgmtBean.confirmBockOrUnblock and (userPrivilege.userAcctions.confirmBlock or userPrivilege.userAcctions.confirmUnblock or userPrivilege.userAcctions.confirmDelete))}"
       				actionListener="#{systemProfileMgmtBean.acceptMotiveListener}">
		        </p:commandButton>

		        <p:commandButton 
		        	id="btnReject" 
       				value="#{msgs['btn.reject']}" 
       				icon="ui-anulate"
       				actionListener="#{systemProfileMgmtBean.actionRejectMotiveListener}"
       				update="opnlMotive, :opnlConfDialogs, :opnlGenericDialogs"
       				rendered="#{systemProfileMgmtBean.confirmBockOrUnblock and (userPrivilege.userAcctions.rejectBlock or userPrivilege.userAcctions.rejectUnblock or userPrivilege.userAcctions.rejectDelete)}"/>		
	       </p:outputPanel>
	       
	       <p:outputPanel id="idOpnlBack">	
	       		
	       		<p:commandButton id="cmbProcessBackMotiveDelete" value="#{msgs['btn.back']}" process="@this" immediate="true"
					update=":opnlDialogs :opnlGenericDialogs" rendered="#{systemProfileMgmtBean.delete}"
				 	actionListener="#{systemProfileMgmtBean.hideDialogsPrivileges}"
				 	oncomplete="PF('cnfwMotive').hide();PF('cnfwBackMotive').hide()"/>
	       				
				<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" id="idCmdBtnBackReason"
					type="button" rendered="#{not systemProfileMgmtBean.delete}"
					onclick="isModifiedFormForBackMotive('frmMotive:cboMotive_input','frmMotive:cmbProcessBackMotive')"/>
				
				<p:commandButton id="cmbProcessBackMotive" value="" style="display:none" process="@this" immediate="true"
					update=":opnlDialogs :opnlGenericDialogs"
				 	actionListener="#{systemProfileMgmtBean.hideDialogsPrivileges}"
				 	oncomplete="PF('cnfwMotive').hide();PF('cnfwBackMotive').hide()"/>
				 
				
	    	</p:outputPanel>
		</h:panelGrid>
           
    </p:dialog>
    
    		<p:confirmDialog id="cnfBackMotive" header="#{msgs['lbl.header.alert.alert']}"
					 		message="#{msgs['message.back']}"						
							severity="alert"  closable="false"
							widgetVar="cnfwBackMotive">  
	    		<p:commandButton id="cmbYes" process="@this,frmMotive:cboMotive"
	    						 value="#{msgs['btn.yes']}" update=":opnlDialogs :opnlGenericDialogs"
	    						 actionListener="#{systemProfileMgmtBean.hideDialogsPrivileges}"
	    						 oncomplete="PF('cnfwMotive').hide();PF('cnfwBackMotive').hide()"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 onclick="PF('cnfwBackMotive').hide()"
	    						 type="button"/>
	    	</p:confirmDialog>
    
    	</h:form>
    	
    	<h:form id="frmModification">
    		<p:dialog id="dlgModification" modal="true" resizable="false"
				visible="false" closable="false"
                header="#{msgs['system.profile.header.modification.dialog']}" widgetVar="dlgModificationWidget">
                	<table>
                		<tr>
                			<td>
                				<h:outputText value="#{msgs['system.profile.label.modification.dialog']}" />
                			</td>
                		</tr>
                		<tr>
                			<td align="center">
                			<p:commandButton value="#{msgs['btn.confirm']}" update=":opnlConfDialogs, :opnlGenericDialogs" icon="fa fa-save" 
                			rendered="#{userPrivilege.userAcctions.confirmModify}"
                			actionListener="#{systemProfileMgmtBean.acceptModification}"/>
                			<p:spacer width="3"/>
                			<p:commandButton value="#{msgs['btn.reject']}" update=":opnlConfDialogs, :opnlGenericDialogs" icon="ui-anulate" 
                			rendered="#{userPrivilege.userAcctions.rejectModify}"
                			actionListener="#{systemProfileMgmtBean.rejectModification}"/>
                			<p:spacer width="3"/>
                			<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" process="@this" immediate="true"
							update=":opnlDialogs :opnlGenericDialogs"
						 	actionListener="#{systemProfileMgmtBean.hideDialogsPrivileges}"
						 	oncomplete="PF('dlgModificationWidget').hide()"/>
                			</td>
                		</tr>
                	</table>
                	<p:panelGrid columns="3">
                		
                	</p:panelGrid>
             </p:dialog>
    	</h:form>
    	
    	<p:outputPanel id="opnlConfDialogs">
    	
    		<h:form id="frmConfModify">
			    <p:confirmDialog id="cnfModify"
			    		visible="false"
						message="#{bodyMessageView}" closable="false"
						header="#{headerMessageView}"
						severity="alert" widgetVar="cnfModifyWidget">  
			                  
			        <p:commandButton id="cmdConfModify" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs :frmGeneral"
			        				 value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.modifyConfirmedListener}"
			        				 oncomplete="PF('cnfModifyWidget').hide();PF('dlgModificationWidget').hide();" /> 
			        <p:commandButton value="#{msgs['btn.no']}" immediate="true" global="false"
			        					update=":opnlDialogs :opnlGenericDialogs" actionListener="#{systemProfileMgmtBean.hideDialogsListener}" 
			        				  oncomplete="PF('cnfModifyWidget').hide();"/>	                  
			    </p:confirmDialog> 
			</h:form>
	
			<h:form id="frmConfBlock">
			    <p:confirmDialog id="cnfBlock"
			    		visible="false"
						message="#{bodyMessageView}" closable="false"
						header="#{headerMessageView}"
					 	severity="alert" widgetVar="cnfwBlock">                  
			        <p:commandButton id="cmdConfBlock" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs"
			        				 value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.blockListener}"
			        				 oncomplete="PF('cnfwBlock').hide();PF('cnfwMotive').hide();" > 
			        </p:commandButton>  
			        <p:commandButton  value="#{msgs['btn.no']}" immediate="true" global="false" id="idCmdBtnNoConfBlock"
								update=":opnlDialogs :opnlGenericDialogs"
			        			actionListener="#{systemProfileMgmtBean.hideDialogsListener}"
			        			oncomplete="PF('cnfwBlock').hide();"/>   
			                  
			    </p:confirmDialog>
			</h:form>  	    
			   
			<h:form id="frmConfUnblock">
			    <p:confirmDialog id="cnfUnblock"
			    		visible="false"   		
						message="#{bodyMessageView}" closable="false"
						header="#{headerMessageView}"
						severity="alert" widgetVar="cnfwUnblock">  
			                  
			        <p:commandButton id="cmdConfUnblock" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs :frmGeneral"
			        				 value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.unblockListener}"
			        				 oncomplete="PF('cnfwUnblock').hide();PF('cnfwMotive').hide();" /> 
			        <p:commandButton value="#{msgs['btn.no']}" immediate="true" global="false" id="idCmdBtnNoConfUnBlock"
			        					update=":opnlDialogs :opnlGenericDialogs"
			        				  actionListener="#{systemProfileMgmtBean.hideDialogsListener}" 
			        				  oncomplete="PF('cnfwUnblock').hide();"/>	                  
			    </p:confirmDialog> 
			</h:form>  
		  
		  	<!-- DIALOG CONFIRM REGISTER SYSTEM PROFILE -->
		  	<h:form id="frmConfConfirm">
			    <p:confirmDialog id="cnfConfirm"
			    		visible="false"   		
						message="#{bodyMessageView}" closable="false"
						header="#{headerMessageView}"
						severity="alert" widgetVar="cnfwConfirm">  
			                  
			        <p:commandButton id="cmdConfConfirm" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs :frmGeneral"
						value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.confirmListener}"
						oncomplete="PF('cnfwConfirm').hide();" /> 
						
			        <p:commandButton value="#{msgs['btn.no']}" immediate="true" global="false" id="idCmdBtnNoConfUnBlock"
						update=":opnlDialogs :opnlGenericDialogs"
						actionListener="#{systemProfileMgmtBean.hideDialogsListener}" 
						oncomplete="PF('cnfwConfirm').hide();"/>	                  
			    </p:confirmDialog> 
			</h:form>
			
			<h:form id="frmConfReject">
		    <p:confirmDialog id="cnfReject"
		    		visible="false"
					message="#{bodyMessageView}" closable="false"
					header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwReject">  
		                  
		        <p:commandButton id="cmdConfReject" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs :frmGeneral"
		        				 value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.rejectListener}"
		        				 oncomplete="PF('cnfwReject').hide();PF('cnfwMotive').hide();" /> 
		        <p:commandButton value="#{msgs['btn.no']}" immediate="true" global="false" id="idCmdBtnNoConfUnBlock"
		        					update=":opnlDialogs :opnlGenericDialogs"
		        				  actionListener="#{systemProfileMgmtBean.hideDialogsListener}" 
		        				  oncomplete="PF('cnfwReject').hide();"/>	                  
		    </p:confirmDialog> 
		</h:form>  
		<h:form id="frmConfDelete">
		    <p:confirmDialog id="cnfDelete"
		    		visible="false"
					message="#{bodyMessageView}" closable="false"
					header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwDelete">  
		                  
		        <p:commandButton id="cmdConfDelete" update=":frmGeneral:opnlResult :opnlDialogs :opnlGenericDialogs :frmGeneral"
		        				 value="#{msgs['btn.yes']}" actionListener="#{systemProfileMgmtBean.deleteListener}"
		        				 oncomplete="PF('cnfwDelete').hide();PF('cnfwMotive').hide();" /> 
		        <p:commandButton value="#{msgs['btn.no']}" immediate="true" global="false"
		        					update=":opnlDialogs :opnlGenericDialogs"
		        				  actionListener="#{systemProfileMgmtBean.hideDialogsListener}" 
		        				  oncomplete="PF('cnfwDelete').hide();"/>	                  
		    </p:confirmDialog> 
		</h:form>
	        
        </p:outputPanel>
    </p:outputPanel>

       	</ui:define>
    </ui:composition>
</html> 
