<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
	
	<script type="text/javascript">
		$(window).load(function(){
		setInitialFormState('#frmProfileMgmt'); //con michi 
		});
	</script>

		<h:outputText id="idOtxtSystemProfMgmtTitle"
			value="#{systemProfileMgmtBean.register ? msgs['adm.profile.register.title'] : msgs['adm.profile.modify.title']}"
			styleClass="title-page" />
		<p:fieldset legend="#{msgs['profile.pnl.data']}" id="idPnlProfileData">
			<h:form id="frmProfileMgmt">
				<p:outputPanel id="opnlProfileData">
				<table class="table-fields">
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.system']} (*)" styleClass="required-field" id="idOtxtProfMgmtSystemReq"
								rendered="#{systemProfileMgmtBean.register}"/>
							<h:outputText value="#{msgs['profile.lbl.system']}" id="idOtxtProfMgmtSystem"
								rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:selectOneMenu id="cboSystem" label="#{msgs['profile.lbl.system']}"
									value="#{systemProfileMgmtBean.systemProfile.system.idSystemPk}"									
									disabled="#{systemProfileMgmtBean.modify}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemProfMgmtSystem"/>
			        				<f:selectItems value="#{systemProfileMgmtBean.register ? systemProfileMgmtBean.lstSystems : systemProfileMgmtBean.lstAllSystems}" 
			        						var="sys" itemLabel="#{sys.name}" itemValue="#{sys.idSystemPk}" id="idCboItemsProfMgmtSystem"/>				        						
			        				<p:ajax event="change" update="opnlPrivileges opnlButtons msgCboSystem" 
			        					listener="#{systemProfileMgmtBean.loadPrivilegesBySystemListener}" />
			        				<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />						
								</p:selectOneMenu>
								<p:message id="msgCboSystem" for="cboSystem" display="icon" rendered="#{systemProfileMgmtBean.register}" />	
							</h:panelGrid>
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.mnemonic']} (*)" styleClass="required-field" id="idOtxtProfMgmtMnemonicReq"
								rendered="#{systemProfileMgmtBean.register}"/>
							<h:outputText value="#{msgs['profile.lbl.mnemonic']}" id="idOtxtProfMgmtMnemonic"
								rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText id="txtMnemonic"  style="width:158px;"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.mnemonic}" maxlength="100"
									disabled="#{systemProfileMgmtBean.modify}"
									onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.hypen']}"/>
									<p:ajax update="menomicPanel idmsgmnemonic txtMnemonic" event="blur" 
										listener="#{systemProfileMgmtBean.validateMnemonicListener}"/>
									<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="idmsgmnemonic" for="txtMnemonic" display="icon" rendered="#{systemProfileMgmtBean.register}" />
							</h:panelGrid>							
						</td>
					</tr>	
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.registeruser']}" id="idOtxtProfMgmtRegUser"
							rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText id="txtRegisteruser"  style="width:158px;"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.registryUser}"
									disabled="#{systemProfileMgmtBean.modify}" rendered="#{systemProfileMgmtBean.modify}">
								</p:inputText>								
							</h:panelGrid>							
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.modifieduser']}" id="idOtxtProfMgmtModifyUser"
								rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<p:inputText id="txtlastModifyUser"  style="width:158px;"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.lastModifyUser}"
									disabled="#{systemProfileMgmtBean.modify}" rendered="#{systemProfileMgmtBean.modify}">
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.registerdate']}" id="idOtxtProfMgmtRegisterDate"
							rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<p:inputText id="txtlastregistryDate"  style="width:158px;"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.registryDate}"
									disabled="#{systemProfileMgmtBean.modify}" rendered="#{systemProfileMgmtBean.modify}">
							</p:inputText>
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.modifieddate']}" id="idOtxtProfMgmtModifiedDate"
							rendered="#{systemProfileMgmtBean.modify}"/>
						</td>
						<td>
							<p:inputText id="txtlastModifyDate"  style="width:158px;"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.lastModifyDate}"
									disabled="#{systemProfileMgmtBean.modify}" rendered="#{systemProfileMgmtBean.modify}" >
							</p:inputText>
						</td>
					</tr>	
					<tr>						
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.name']} (*)" styleClass="required-field" id="idOtxtProfMgmtName"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText id="txtName" maxlength="200" size="50"  autocomplete="off"
									value="#{systemProfileMgmtBean.systemProfile.name}"
									onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
									<p:ajax update="namePanel idmsgname txtName" event="blur" 
										listener="#{systemProfileMgmtBean.validateProfileNameListener}"/>
									<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator"/>
								</p:inputText>
								<p:message id="idmsgname" for="txtName" display="icon"/>
							</h:panelGrid>							
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.state']}" id="idOtxtProfMgmtState"
								rendered="#{systemProfileMgmtBean.modify}" />
						</td>
						<td>
							<p:inputText id="idOtxtProfStateDescription"  autocomplete="off"
								value="#{systemProfileMgmtBean.systemProfile.profileStateDescription}"
								rendered="#{systemProfileMgmtBean.modify}" disabled="true"
								maxlength="200"/>
						</td>
					</tr>
					
					<tr>
						<td class="td-label-default">
							<h:outputText value="#{msgs['profile.lbl.description']} (*)" styleClass="required-field" id="idOtxtProfMgmtDescription"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputTextarea
									id="txtProfileDescription" autoResize="false" 
									autoRelisize="false" maxlength="200"	
									cols="100"						
									value="#{systemProfileMgmtBean.systemProfile.description}"
									onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);"
									onkeypress="maxLenghtDescription(this);">
									<p:ajax update="txtProfileDescription idMsgProfileDescription" event="blur" />
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
								<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputAreaValidator"/>
								</p:inputTextarea>
								<p:message for="txtProfileDescription" display="icon" id="idMsgProfileDescription"/>
							</h:panelGrid>
						</td>
						
						<td>
							<table width="90%" border="0">
								<tr>
									<td>
										<p:selectOneRadio id="customRadio" value="#{systemProfileMgmtBean.systemProfile.indUserType}" layout="custom" 
														  disabled="#{systemProfileMgmtBean.blIndConfirm}">  
									        <f:selectItem itemValue="0"/>  
									        <f:selectItem itemValue="1"/> 
									        <p:ajax listener="#{systemProfileMgmtBean.selectUserType}" process="@this rbIntern rbExtern" 
									        	update="cboInstitutionType, opinstitutionType"/>
										</p:selectOneRadio> 
										<p:radioButton itemIndex="0" for="customRadio" id="rbIntern"/>
										<p:spacer width="10px"/>
										<h:outputText value="#{msgs['system.profile.for.interns']}"  id="otIntern"/>
									</td>
								</tr>
								<tr>
									<td>
										<p:radioButton itemIndex="1" for="customRadio" id="rbExtern"/>
										<p:spacer width="10px"/>
										<h:outputText value="#{msgs['system.profile.for.externs']}"  id="otExtern"/>
									</td>
								</tr>
							</table>						
						</td>
					</tr>
					
					<tr>
						<td class="td-label-default">
						<p:outputPanel id="opinstitutionType">
							<h:outputText value="#{msgs['user.lbl.institution.type']} (*)"  id="otInstitutionTypeReq" styleClass="required-field"
										  rendered="#{systemProfileMgmtBean.systemProfile.extern}"/>
							<h:outputText value="#{msgs['user.lbl.institution.type']}"  id="otInstitutionType" rendered="#{!systemProfileMgmtBean.systemProfile.extern}"/>
						</p:outputPanel>
						</td>
						<td> 
							<h:panelGrid columns="2">
        						<p:selectOneMenu id="cboInstitutionType" value="#{systemProfileMgmtBean.systemProfile.institutionType}"
		        								 styleClass="campo-texto-medio" disabled="#{systemProfileMgmtBean.blIndConfirm}"
		        								 label="#{msgs['user.lbl.institution.type']}" > 
		        					<f:selectItem itemValue="-1" itemLabel="#{gmsgs['cbo.opt.select']}"/> 
							        <f:selectItems value="#{systemProfileMgmtBean.lstInstitutionType}" id="siInstitutionType"
							        			   var="tipoIns" itemValue="#{tipoIns.idParameterPk}" itemLabel="#{tipoIns.name}"/> 
    							    <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" 
    							    			 disabled="#{!systemProfileMgmtBean.systemProfile.extern}"/>
		        				</p:selectOneMenu>
								<p:message for="cboInstitutionType" display="icon" id="idMsgUserMgmtInstitutionType"/>
							</h:panelGrid>
						</td>
						<td class="td-label-default">
							<h:outputText value="#{msgs['user.lbl.profile.type']} (*)"  id="otTypeProfiles" styleClass="required-field" />
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:selectOneMenu id="cboProfileType" value="#{systemProfileMgmtBean.systemProfile.profileType}"
		        								 label="#{msgs['user.lbl.profile.type']}" > 
		        					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
							        <f:selectItems value="#{systemProfileMgmtBean.lstProfileType}" id="siProfileType"
							        			   var="profType" itemValue="#{profType.idParameterPk}" itemLabel="#{profType.name}"/> 
							        <p:ajax event="change" update="cboProfileType idMsgcboProfileType " />
    							    <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
		        				</p:selectOneMenu>
								<p:message for="cboProfileType" display="icon" id="idMsgcboProfileType"/>
							</h:panelGrid>
						</td>
					</tr>
				</table>
				</p:outputPanel>
				<p:outputPanel id="opnlPrivileges">
					<p:outputPanel rendered="#{systemProfileMgmtBean.rootPrivileges != null and systemProfileMgmtBean.rootPrivileges.childCount > 0}"  id="idOpnlRootPrivileges">						
						<p:fieldset id="pnlPrivileges"
							legend="#{msgs['profile.pnl.privileges']}"
							style="height:250px;">		
							<table>
								<tr>
									<td width="500px" valign="top">
										<p:outputPanel id="divPrivileges" layout="block"
											styleClass="containter-tree-privilegios-wide-full">
											<p:tree id="treePrivileges" style="border:0;width:100%;"
												selection="#{systemProfileMgmtBean.selectedPrivilegeNodes}"
												selectionMode="checkbox"
												value="#{systemProfileMgmtBean.rootPrivileges}"
												var="node">
												<p:treeNode id="idTreeNodePrivileges">
													<h:outputText value="#{node.name}"  id="idOtxtProfMgmtNodeName"/>
												</p:treeNode>
											</p:tree>

										</p:outputPanel>
									</td>
									<td width="90px" valign="top">													
										<p:commandButton id="cmdExpand"
											value="#{msgs['btn.expand']}" update="pnlPrivileges"
											process="@this treePrivileges"
											rendered="#{systemProfileMgmtBean.expandedNodes==false}"
											actionListener="#{systemProfileMgmtBean.expandPrivilegesListener}" />

										<p:commandButton id="cmdCollapse" value="#{msgs['btn.collapse']}"
											update="pnlPrivileges"
											process="@this treePrivileges"
											rendered="#{systemProfileMgmtBean.expandedNodes==true}"
											actionListener="#{systemProfileMgmtBean.collapsePrivilegesListener}" />																												
									</td>
									<td width="350px" valign="top">
										<p:outputPanel id="opnlMesageTree">
										<p:message for="treePrivileges" display="icon" id="idMsgTreePrivileges"/>
										</p:outputPanel>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</p:outputPanel>
				</p:outputPanel>
				<p:outputPanel id="opnlButtons">
					<table width="100%;">	
						<tr>
							<td align="center">
								<p:commandButton
									id="cmbSave" value="#{msgs['btn.save']}"
									onclick="isModifiedFormForSave('#frmProfileMgmt','frmProfileMgmt:cmbProcessSave')"
									type="button" icon="fa fa-save"
									rendered="#{systemProfileMgmtBean.rootPrivileges != null and systemProfileMgmtBean.rootPrivileges.childCount > 0}">
								</p:commandButton>
								<p:commandButton
									id="cmbProcessSave" value="" style="display:none"							
									update="opnlProfileData opnlDialogs opnlMesageTree :opnlGenericDialogs"
									actionListener="#{systemProfileMgmtBean.beginSaveListener}"
									rendered="#{systemProfileMgmtBean.rootPrivileges != null and systemProfileMgmtBean.rootPrivileges.childCount > 0}">
								</p:commandButton>
								&nbsp; 
							<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" 
									id="idCmdBtnProfMgmtBack"
									type="button" 
									onclick="isModifiedFormForBack('#frmProfileMgmt','frmProfileMgmt:cmbProcessBack')"/>
							<p:commandButton id="cmbProcessBack" value="" 
									style="display:none" process="@this" immediate="true"
									action="search" ajax="false"/> 
							</td>
						</tr>
					</table>
				</p:outputPanel>
				
				<p:outputPanel id="opnlDialogs">
				
					<p:confirmDialog id="cnfProfileMgmt"
						rendered="false" visible="true"
						message="#{bodyMessageView}" closable="false"
						header="#{headerMessageView}"					
						severity="alert" widgetVar="cnfwAdministrarPerfil">
											
						<p:commandButton value="#{msgs['btn.yes']}"	 id="idCmdBtnProfMgmtYes"					
							actionListener="#{systemProfileMgmtBean.saveListener}"
							update=":opnlGenericDialogs" oncomplete="PF('cnfwAdministrarPerfil').hide();">
						</p:commandButton>
						<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnProfMgmtNo"	
							actionListener="#{systemProfileMgmtBean.hideDialogsListener}"
							oncomplete="PF('cnfwAdministrarPerfil').hide();"/>
							
					</p:confirmDialog>
				
				</p:outputPanel>
				
				<p:outputPanel id="menomicPanel">
				<p:confirmDialog id="confprofMnemonic" message="#{msgs['error.adm.profile.mnemonic.repeated']}"
					    			rendered="false" visible="true" 
					               	header="#{msgs['lbl.header.alert.alert']}" severity="alert" widgetVar="confEndProfile" closable="false"> 
					        		<h:panelGrid width="100%" border="0" 
					        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
					        		        
							        <p:commandButton id="cmbconfProfileOk" 
						        				 value="#{msgs['btn.accept']}" process="@this"
						        				  actionListener="#{systemProfileMgmtBean.menmonicClear}" oncomplete="PF('confEndProfile').hide()" update="frmProfileMgmt:txtMnemonic"> 
						        	</p:commandButton>   
						        	</h:panelGrid>
				   </p:confirmDialog>
				   </p:outputPanel>
				   <p:outputPanel id="namePanel">
				   <p:confirmDialog id="confprofname" message="#{msgs['error.adm.profile.name.repeated']}"
					    			rendered="false" visible="true" 
					               	header="#{msgs['lbl.header.alert.alert']}" severity="alert" widgetVar="confEndProfile" closable="false"> 
					        		<h:panelGrid width="100%" border="0" 
					        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
					        		        
							        <p:commandButton id="confProfileOk" update="frmProfileMgmt:txtName"
						        				 value="#{msgs['btn.accept']}" process="@this" oncomplete="PF('confEndProfile').hide()"
						        				  actionListener="#{systemProfileMgmtBean.systemNameClear}" > 
						        	</p:commandButton>   
						        	</h:panelGrid>
				   </p:confirmDialog>
				   </p:outputPanel>
			</h:form>
		</p:fieldset>


	</ui:define>
</ui:composition>
</html>
