<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importEnum type="com.pradera.model.custody.payroll.PayrollType" var="payrollType"/>
<h:form id="frmPayroll">
<h:outputText value="Administrar Recepción/Entrega de Valores Físicos" styleClass="title-page" />
<table width="100%">
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="cboPayrollType" label="Tipo Planilla"
			 		value="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{receiveCertificateManageBean.lstPayrollTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgPayrollType opnlResults lblEntity inputEntity" 
						process="@this" listener="#{receiveCertificateManageBean.resetSearch}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgPayrollType" for="cboPayrollType"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="Estado"/>
			</td>
			<td width="30%">
			 	<p:selectOneMenu id="cboState" value="#{receiveCertificateManageBean.searchReceiveCertificateTO.state}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{receiveCertificateManageBean.lstStates}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<ui:remove>
		<tr>
			<td>
				<h:outputText value="Sucursal (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{receiveCertificateManageBean.searchReceiveCertificateTO.branchOffice}" label="Sucursal"
					id="branchOffice">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{receiveCertificateManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax update="@this msgBranchOffice opnlResults" process="@this" global="false"
						listener="#{receiveCertificateManageBean.cleanResult()}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>		
				</p:selectOneMenu>
				<p:message display="icon" id="msgBranchOffice" for="branchOffice"/>
				</h:panelGrid>
			</td>
		</tr>
		</ui:remove>
		<tr class="hidden">
			<td class="hidden">
				<p:outputPanel id="lblEntity">
				<h:outputText value="#{gmsgs['participant.lbl']}"
					rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"/>
				<h:outputText value="#{gmsgs['issuer.helper.detail.code']}"
					rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
					or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}"/>
				</p:outputPanel>
			</td>
			<td colspan="3" class="hidden">
				<p:outputPanel id="inputEntity">
				<h:panelGrid rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
			 	<p:selectOneMenu styleClass="combo-widh-large" id="cboParticipant"			 		
			 	 	value="#{receiveCertificateManageBean.searchReceiveCertificateTO.idParticipantPk}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{receiveCertificateManageBean.lstParticipants}" var="participant" 
						itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>					
				</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid cellspacing="0" cellpadding="0" 
					rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
					or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}">
				<ark:issuerHelper id="txtIssuer" issuer="#{receiveCertificateManageBean.searchReceiveCertificateTO.issuer}"/>
				</h:panelGrid>
				</p:outputPanel>
			</td>			
		</tr>	
		<tr>
			<td>
				<h:outputText value="Fecha Inicial Generación"/>
			</td>
			<td>
				<h:panelGrid>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{receiveCertificateManageBean.searchReceiveCertificateTO.initialDate}"
					maxdate="#{receiveCertificateManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="Fecha Final Generación"/>
			</td>
			<td>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{receiveCertificateManageBean.searchReceiveCertificateTO.endDate}"
					maxdate="#{receiveCertificateManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar> 
			</td>			
		</tr>					
		<tr>
			<td align="center" colspan="4">	
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{receiveCertificateManageBean.search}"
					update="@form" icon="fa fa-search"/>
				<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" 
					actionListener="#{receiveCertificateManageBean.clean}"
					update="@form" icon="fa fa-trash"/>							
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResults">
		<p:panel rendered="#{!receiveCertificateManageBean.searchReceiveCertificateTO.blResults}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" 
	   		rendered="#{not empty receiveCertificateManageBean.searchReceiveCertificateTO.lstPayrollHeader}">
		<p:dataTable value="#{receiveCertificateManageBean.searchReceiveCertificateTO.lstPayrollHeader}" var="payroll"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			paginator="true" paginatorPosition="top" rowsPerPageTemplate="5,10,15" rows="10">	 	 					                 
			
			<p:column sortBy="#{payroll.idPayrollHeaderPk}" headerText="N° Planilla" styleClass="content-right">
				<p:commandLink value="#{payroll.idPayrollHeaderPk}"
					action="#{receiveCertificateManageBean.viewDetail(payroll)}"/>
			</p:column>
						
			<p:column sortBy="#{payroll.registerDate}" styleClass="content-center" headerText="Fecha Generacion Planilla">
				<h:outputText value="#{payroll.registerDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
						
			<p:column sortBy="#{payroll.payrollTypeDesc}" headerText="Tipo Planilla">
				<h:outputText value="#{payroll.payrollTypeDesc}"/>
			</p:column>
			
			<p:column sortBy="#{payroll.participant.idParticipantPk}" styleClass="content-center" headerText="Depositante"
				rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
				or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
				<h:outputText value="#{payroll.participant.displayCodeMnemonic}"
					title="#{payroll.participant.description}"/>
			</p:column>
			
			<p:column sortBy="#{payroll.issuer.idIssuerPk}" styleClass="content-center" headerText="Emisor"				 
				rendered="#{receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
				or receiveCertificateManageBean.searchReceiveCertificateTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}">
				<h:outputText value="#{payroll.issuer.codeMnemonic}"
					title="#{payroll.issuer.businessName}"/>
			</p:column>
			
			<p:column sortBy="#{payroll.totalStock}" headerText="Cantidad de Valores" styleClass="content-right">
				<h:outputText value="#{payroll.totalStock}">
					<f:convertNumber pattern="###,###,##0" locale="en_US"/>
				</h:outputText>
			</p:column>						
			<p:column sortBy="#{payroll.stateDesc}" headerText="Estado" styleClass="content-center">
				<h:outputText value="#{payroll.stateDesc}"/>
			</p:column>									
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{receiveCertificateManageBean.searchReceiveCertificateTO.lstPayrollHeader.size}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>		
		</p:outputPanel>	
	</td>
</tr>
</table>				
</h:form>
</ui:define>
</ui:composition>
</html>