<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.settlement.type.TradeSettlementRequestType" var="requestType"/>
	<h:outputText value="#{gmsgs['inegotiations.renewsirtex.manage.tille']}"  styleClass="title-page"/>
		<h:form id="frmRenewSirtexSearch">
		<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
			<table width="100%">
				<tr>
					<td width="10%"/>
					<td width="40%"/>
					<td width="10%"/>
					<td width="40%"/>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['lbl.tradesettlement.request.type']}:" styleClass="required-field"/> </td>
					<td>
						<p:selectOneMenu value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequestType}" var="param2"
										   itemValue="#{param2.parameterTablePk}" itemLabel="#{param2.description}"/>
							<p:ajax process="@this" global="false" listener="#{renewSirtexOperationBean.cleanTradeSettlementRequestType}"
									update="@form"></p:ajax>  
						</p:selectOneMenu>	
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.tradesettlement.register.date']}:" styleClass="required-field"/>
					</td>
					<td>
						<p:calendar value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.registerDate}" pattern="#{gconst['dateFormat']}"
									disabled="true"/>
					</td>
				</tr>	
				<tr>
					<td><h:outputText value="#{msgs['lbl.operation.mechanism']}:" styleClass="required-field"/> </td>
					<td>
						<p:selectOneMenu value="#{renewSirtexOperationBean.sirtexRegisterTO.mechanismSelected}" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{renewSirtexOperationBean.sirtexRegisterTO.mechanismList}" var="mechan"
										   itemValue="#{mechan.idNegotiationMechanismPk}" itemLabel="#{mechan.description}"/>
						</p:selectOneMenu>
					</td>
					<td><h:outputText value="#{msgs['lbl.operation.modality']}:" styleClass="required-field"/> </td>
					<td>
						<p:selectOneMenu value="#{renewSirtexOperationBean.sirtexRegisterTO.modalitySelected.idNegotiationModalityPk}" id="cboModality">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{renewSirtexOperationBean.sirtexRegisterTO.modalityList}" var="modal"
										   itemValue="#{modal.idNegotiationModalityPk}" itemLabel="#{modal.modalityName}"/> 
							<p:ajax process="@this" listener="#{renewSirtexOperationBean.loadParticipantByModality}" update="cboParticipant,pnlSirtexOperation"
									event="change"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.operation.Participant']}:" styleClass="required-field"/>
					</td>
					<td>
						<p:selectOneMenu id="cboParticipant" value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.sourceParticipant.idParticipantPk}"
							disabled="#{!userInfo.userAccountSession.depositaryInstitution}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{renewSirtexOperationBean.sirtexRegisterTO.allParticipants}" var="part"
										   itemValue="#{part.idParticipantPk}" itemLabel="#{part.displayDescriptionCode}"/>
							<p:ajax process="@this" update="cboModality,pnlSirtexOperation" event="change" listener="#{renewSirtexOperationBean.loadParticipantByModality}"/>
						</p:selectOneMenu>
					</td>
				</tr>
			</table>
		</p:fieldset>
		<p:outputPanel id="pnlSirtexOperation">
		<p:fieldset legend="#{msgs['fls.tradesettlement.term.part']}" 
					rendered="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.sourceParticipant.idParticipantPk != null and
								renewSirtexOperationBean.sirtexRegisterTO.modalitySelected.idNegotiationModalityPk != null}">
				<h:panelGrid columns="1" width="100%">
					<br></br>
					<h:outputText value="#{msgs['lbl.tradesettlement.traderequest.request']}:" styleClass="required-field"/>
					<p:dataTable value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeRequestList}" var="tradeRequest" rowKey="#{tradeRequest.idTradeRequestPk}" 
								 rendered="#{renewSirtexOperationBean.sirtexRegisterTO.tradeRequestList != null}" emptyMessage="#{msgs['lbl.tradesettlement.traderequest.empty']}"
								 selection="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.tradeRequest}">
						<p:ajax event="rowSelectRadio" process="@this" listener="#{renewSirtexOperationBean.findTradeOperations}" update=":frmRenewSirtexSearch:pnlSirtexOperation"/>
						<p:column selectionMode="single" style="width:18px"/>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.id']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.idTradeRequestPk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.security']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.securities.idSecurityCodePk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl1']}" styleClass="content-center"
								  sortBy="#{tradeRequest.cashSettlementDate}">
							<h:outputText value="#{tradeRequest.cashSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl2']}" styleClass="content-center" sortBy="#{tradeRequest.termSettlementDate}">
							<h:outputText value="#{tradeRequest.termSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
				
				<ui:param name="isRenovation" value="#{requestType.RENOVATION.code eq renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}"/>
				<ui:param name="isBuyEnforced" value="#{requestType.COMPULSORY_PURCHASE.code eq renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}"/>
				
				<h:panelGrid columns="1" width="100%" id="pnlGridSirtexOperation">
					<br></br><br></br>
					<h:outputText value="#{msgs['lbl.tradesettlement.traderequest.operations']}:" styleClass="required-field"
								  rendered="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.lstSettlementRequest != null}"/>
					<p:dataTable value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.lstSettlementRequest}" var="settRequest"
								 rendered="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.lstSettlementRequest != null}">
						<ui:param name="settDateOperation" value="#{settRequest.lstSettlementDateOperations.get(0)}"/>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.number']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.operationNumber}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.security']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.securities.idSecurityCodePk}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.stockQuantity}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity.settled']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.settledQuantity}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity.remain']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.stockQuantity}"/> 
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl1']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.termSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl2']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.settlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column styleClass="content-center" rendered="#{isRenovation}">
							<f:facet name="header">
								<h:outputText value="#{msgs['lbl.tradesettlement.renew']}"/>
								<h:selectBooleanCheckbox id="all_transactionIdChkb" value="#{renewSirtexOperationBean.sirtexRegisterTO.indActive}" 
														 disabled="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.tradeRequest.termSettlementDate ne 
														 			 renewSirtexOperationBean.currentSystemDate}">
									<p:ajax event="change" listener="#{renewSirtexOperationBean.activeRenewOperationMassively}" process="@this" 
											update=":frmRenewSirtexSearch:pnlGridSirtexOperation"/>
								</h:selectBooleanCheckbox>
							</f:facet>
							<h:selectBooleanCheckbox value="#{settDateOperation.selected}" id="selectButton"
													 disabled="#{settDateOperation.settlementOperation.settlementDate ne renewSirtexOperationBean.currentSystemDate}">
								<p:ajax process="@this" update=":frmRenewSirtexSearch:pnlGridSirtexOperation" global="false"
										listener="#{renewSirtexOperationBean.activeRenewOperation(settDateOperation)}"/>
							</h:selectBooleanCheckbox>
							<p:graphicImage id="imgHelp" style="cursor:pointer;" library="img" name="icons/help.png" 
											rendered="#{settDateOperation.settlementOperation.settlementDate ne renewSirtexOperationBean.currentSystemDate}" />							
							<p:tooltip for="imgHelp"> 
								<h:outputText value="#{msgs['lbl.tradesettlement.mssg.for.fl2']}" />
							</p:tooltip>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.purchase.enforse']}" styleClass="content-center" 
								  rendered="#{isBuyEnforced}">
						 	<h:selectBooleanCheckbox value="#{settDateOperation.selected}" id="selectButtonBuyEnforced" 
													 disabled="#{settDateOperation.settlementOperation.settlementDate ne renewSirtexOperationBean.currentSystemDate}">
								<p:ajax process="@this" update=":frmRenewSirtexSearch:pnlGridSirtexOperation" global="false"
										listener="#{renewSirtexOperationBean.activeBuyEnforced(settDateOperation)}"/>
							</h:selectBooleanCheckbox>
							<p:graphicImage id="imgHelpBuyEnforec" style="cursor:pointer;" library="img" name="icons/help.png" 
											rendered="#{settDateOperation.settlementOperation.settlementDate ne renewSirtexOperationBean.currentSystemDate}" />							
							<p:tooltip for="imgHelpBuyEnforec">  
								<h:outputText value="#{msgs['lbl.tradesettlement.mssg.for.fl2']}" />
							</p:tooltip>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.renew.days']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:inputText value="#{settDateOperation.settlementDays}" size="4" maxlength="2" onkeypress="if(48 > event.which || event.which > 57) return false;"
										 disabled="#{!settDateOperation.selected}">
								<p:keyFilter mask="#{gconst['exp.regular.numeric.integer']}"/>
								<p:ajax process="@this" listener="#{renewSirtexOperationBean.validateTermDays(settDateOperation)}" event="blur"
										update=":frmRenewSirtexSearch:pnlGridSirtexOperation" global="false"/>
							</h:inputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.newsett.date']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:outputText value="#{settDateOperation.settlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>						
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.renew.stock.quantity']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:inputText value="#{settDateOperation.stockQuantity}" size="4" maxlength="4" onkeypress="if(48 > event.which || event.which > 57) return false;"
										 disabled="#{!settDateOperation.selected}">
								<p:keyFilter mask="#{gconst['exp.regular.numeric.integer']}"/>
								<p:ajax process="@this" listener="#{renewSirtexOperationBean.validateStockQuantity(settDateOperation)}" event="blur"
										update=":frmRenewSirtexSearch:pnlGridSirtexOperation" global="false"/>
							</h:inputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
		</p:fieldset>
		</p:outputPanel>		
		<table width="100%">
			<tr>
				<td align="center">
					<p:commandButton id="btnSaveRenew" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}"
									 update="dlgMessages"/>
					<p:commandButton id="btnCleanRenew" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this" 
									 onclick="return showCleanConfirmDialog(this);"
									 actionListener="#{renewSirtexOperationBean.newTradeSettlementRequest}"
									 update="@form" oncomplete="PF('cnfwClean').hide()" rendered="#{renewSirtexOperationBean.viewOperationRegister}"/>
					<p:commandButton id="btnBackRenew" value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" 
									 update="@form" action="searchRenewSirtex" ajax="false"/>
				</td>
			</tr>
		</table>
		<p:outputPanel id="dlgMessages">
			<p:confirmDialog id="cnfRenewSirtex" widgetVar="cnfwRenewSirtex" severity="alert" closable="false" 
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwRenewSirtex').hide()"
								 actionListener="#{renewSirtexOperationBean.saveTradeSettlementRequestAction()}"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwRenewSirtex').hide()" type="button"/>
			</p:confirmDialog>
		</p:outputPanel>
		<ark:securities-help isinCode=""/>
		</h:form>
	</ui:define>
</ui:composition>
</html>