<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.settlement.type.TradeSettlementRequestType" var="requestType"/> 
	<h:outputText value="#{gmsgs['inegotiations.renewsirtex.manage.tille']}"  styleClass="title-page"/>
		<h:form id="frmRenewSirtexSearch">
		<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
			<table width="100%">
				<tr>
					<td width="15%"/>
					<td width="35%%"/>
					<td width="15%"/>
					<td width="35%"/>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['lbl.tradesettlement.request.type']}:" styleClass="required-field"/> </td>
					<td>
						<p:selectOneMenu value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}" disabled="true">
							<f:selectItems value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequestType}" var="param2"
										   itemValue="#{param2.parameterTablePk}" itemLabel="#{param2.description}"/> 
						</p:selectOneMenu>	
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.tradesettlement.register.date']}:" styleClass="required-field"/>
					</td>
					<td>
						<p:calendar value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.registerDate}" pattern="#{gconst['dateFormat']}"
									disabled="true"/>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.tradesettlement.src.participant']}:" styleClass="required-field"/>
					</td>
					<td> 
						<p:selectOneMenu id="cboParticipant" value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.sourceParticipant.idParticipantPk}"
										 disabled="true">
							<f:selectItem itemLabel="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.sourceParticipant.displayDescriptionCode}"
										  itemValue="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.sourceParticipant.idParticipantPk}" />
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.tradesettlement.state']}:" styleClass="required-field"/>					
					</td>
					<td>
						<p:selectOneMenu id="cboStates" value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestState}" disabled="true">
							<f:selectItems value="#{renewSirtexOperationBean.sirtexConsultTO.lstTradeSettRequestState}" var="parameter"
										   itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.tradesettlement.trg.participant']}:" styleClass="required-field"/>
					</td>
					<td colspan="3">
						<p:selectOneMenu id="cboParticipantTrg" value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.targetParticipant.idParticipantPk}"
										 disabled="true">
							<f:selectItem itemLabel="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.targetParticipant.displayDescriptionCode}"
										  itemValue="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.targetParticipant.idParticipantPk}" />
						</p:selectOneMenu>
					</td>
				</tr>
			</table>
		</p:fieldset>
		<p:outputPanel id="pnlSirtexOperation">
		<p:fieldset legend="#{msgs['fls.tradesettlement.term.part']}">
				<h:panelGrid columns="1" width="100%">
					<br></br>
					<h:outputText value="#{msgs['lbl.tradesettlement.traderequest.request']}:" styleClass="required-field"/>
					<p:dataTable value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.tradeRequest}" 
								 var="tradeRequest" rowKey="#{tradeRequest.idTradeRequestPk}">
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.id']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.idTradeRequestPk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.security']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.securities.idSecurityCodePk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl1']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.cashSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl2']}" styleClass="content-center">
							<h:outputText value="#{tradeRequest.termSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
				
				<ui:param name="isRenovation" value="#{requestType.RENOVATION.code eq renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}"/>
				<ui:param name="isBuyEnforced" value="#{requestType.COMPULSORY_PURCHASE.code eq renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.requestType}"/>
				
				<h:panelGrid columns="1" width="100%" id="pnlGridSirtexOperation">
					<br></br><br></br>
					<h:outputText value="#{msgs['lbl.tradesettlement.traderequest.operations']}:" styleClass="required-field"/>
					<p:dataTable value="#{renewSirtexOperationBean.sirtexRegisterTO.tradeSettlementRequest.lstSettlementRequest}" var="settRequest">
						<ui:param name="settDateOperation" value="#{settRequest.lstSettlementDateOperations.get(0)}"/>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.number']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.operationNumber}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.security']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.securities.idSecurityCodePk}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.stockQuantity}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity.settled']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.settledQuantity}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.operation.stock.quantity.remain']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.stockQuantity}"/> 
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl1']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.cashSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.traderequest.reg.fl2']}" styleClass="content-center">
							<h:outputText value="#{settDateOperation.settlementOperation.mechanismOperation.termSettlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.renew.days']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:inputText value="#{settDateOperation.settlementDays}" size="4" maxlength="2" disabled="true">
							</h:inputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.newsett.date']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:outputText value="#{settDateOperation.settlementDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>						
						</p:column>
						<p:column headerText="#{msgs['lbl.tradesettlement.renew.stock.quantity']}" styleClass="content-center" rendered="#{isRenovation}">
							<h:inputText value="#{settDateOperation.stockQuantity}" size="4" maxlength="2" disabled="true">
							</h:inputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
		</p:fieldset>
		</p:outputPanel>		
		<table width="100%">
			<tr>
				<td align="center">
					<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}" 
									 rendered="#{renewSirtexOperationBean.viewOperationApprove}" iconPos="btnApprove" 
									 update="@form :opnlGenericDialogs" process="@this"/>
						
					<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}"
									 rendered="#{renewSirtexOperationBean.viewOperationReject}" id="btnReject" 
									 update="@form :opnlGenericDialogs" process="@this"/>
									 
					<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-anulate" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}"
									 rendered="#{renewSirtexOperationBean.viewOperationAnnul}" id="btnAnnulate" 
									 update="@form :opnlGenericDialogs" process="@this"/>
									 
					<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}" 
									 rendered="#{renewSirtexOperationBean.viewOperationConfirm}" id="btnConfirm" 
									 update="@form :opnlGenericDialogs" process="@this"/>
									 
					<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-edit" actionListener="#{renewSirtexOperationBean.beforeSaveNewMechanismOperation}"  
									 rendered="#{renewSirtexOperationBean.viewOperationReview}" id="btnEdited"
									 update="@form :opnlGenericDialogs" process="@this"/>
									 
					<p:commandButton id="btnBackRenew" value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" 
									 update="@form" action="searchRenewSirtex" ajax="false"/> 
				</td>
			</tr>
		</table>
		<p:outputPanel id="dlgMessages">
			<p:confirmDialog id="cnfRenewSirtex" widgetVar="cnfwRenewSirtex" severity="alert" closable="false" 
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwRenewSirtex').hide()"
								 actionListener="#{renewSirtexOperationBean.saveTradeSettlementRequestAction()}"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwRenewSirtex').hide()" type="button"/>
			</p:confirmDialog>
		</p:outputPanel>
		<ark:securities-help isinCode=""/>
		</h:form>
	</ui:define>
</ui:composition>
</html>