<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body"> 
	<h:outputText value="#{msgs['lbl.configuration.security.class']}"  styleClass="title-page"/>
		<h:form id="frmValuatorClassSearch">
		
		<table width="100%">
			<tr>
				<td align="right">
					<p:commandButton value="#{gmsgs['btn.register']}" icon="fa fa-edit" process="@this"
									 action="#{securitiesClassValuatorBean.loadViewRegister}"  
									 rendered = "#{userInfo.userAcctions.register}" ajax="false"/>  
				</td>
			</tr>
			<tr>
				<td>
					<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
						<table width="100%"> 
							<tr>
								<td width="15%">
									<h:outputText value="#{msgs['valuator.process.config.class.instrument']}"/>
								</td>
								<td>
									<p:selectOneMenu id="idInstrument" style="width:220px"
													 value="#{securitiesClassValuatorBean.searchInstrument}">
										<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"/>
										<f:selectItems value="#{securitiesClassValuatorBean.securitiesClassValuatorTO.lstIntrument}" var="instrument"
													   itemLabel="#{instrument.parameterName}" itemValue="#{instrument.parameterTablePk}"/>
										<p:ajax process="@this" />
									</p:selectOneMenu> 
								</td>
							</tr>
							<tr>
								<td></td>
								<td align="center" colspan="3">
									<br></br>
								</td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
													 update="pnlButtons,pnlOtcOperationResult" process="@this"   
													 actionListener="#{securitiesClassValuatorBean.searchSecurityClassValuator()}" 
													 rendered="#{userInfo.userAcctions.search}" /> 
													
									<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
													 rendered="#{(userInfo.userAcctions.search)}"
													 actionListener="#{securitiesClassValuatorBean.cleanFormSearch()}"
													 process="@this" update="@form"/>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
			     <td width="100%" colspan="6">
			      <p:outputPanel id="pnlButtons">
			       <comp:privileges actions="#{userInfo.userAcctions}" renders="#{userInfo.privilegeComponent}" 
			            rendered="#{(securitiesClassValuatorBean.securitiesClassValuatorTO.lstDMSecurityClassValuatorResult.rowCount >= 1)}"
			            actionModify="#{securitiesClassValuatorBean.loadViewUpdate() }" 
			            actionDelete="#{securitiesClassValuatorBean.loadViewDelete() }">
			       </comp:privileges>
			      </p:outputPanel>
			     </td>
    		</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlOtcOperationResult">
					<p:fieldset rendered="#{(securitiesClassValuatorBean.securitiesClassValuatorTO.lstDMSecurityClassValuatorResult.rowCount >= 1)}" legend="#{gmsgs['lbl.results']}">
						<p:dataTable value="#{securitiesClassValuatorBean.securitiesClassValuatorTO.lstDMSecurityClassValuatorResult}" var="securityResult"
									 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									 paginator="true" rows="#{cons['dtb.rows']}"  paginatorPosition="top" 
									 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
									 rowKey="#{securityResult.idSecurityClassFk}"
									 selection="#{securitiesClassValuatorBean.securitiesClassValuatorTO.securityToSelected}">
									 
							<p:column selectionMode="single" style="width:18px"/>
							<p:column headerText="#{msgs['lbl.valuator.class']}" styleClass="content-center">
								<p:commandLink value="#{securityResult.text1}" style="color:blue" process="@this"
											   action="#{securitiesClassValuatorBean.loadViewDetail(securityResult)}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.valuator.class.description']}" styleClass="content-center">
								<h:outputText value="#{securityResult.description}"/>
							</p:column>
							<p:column headerText="#{msgs['valuator.process.config.class.instrument']}" styleClass="content-center" sortBy="#{securityResult.idSecurityClassFk}">
								<h:outputText value="#{securitiesClassValuatorBean.parameterDescription.get(securityResult.instrumentType)}"/>
							</p:column>
							
							<f:facet name="footer" >
							   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							         <f:param value="#{securitiesClassValuatorBean.securitiesClassValuatorTO.lstDMSecurityClassValuatorResult.rowCount}"/>
							   </h:outputFormat>
						   </f:facet>
						  </p:dataTable>
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{(securitiesClassValuatorBean.securitiesClassValuatorTO.lstDMSecurityClassValuatorResult.rowCount )==0}"
						   styleClass="required-field"/>
					</p:fieldset>
					</p:outputPanel>
				</td>
			</tr>	
		</table>	
		<p:outputPanel id="pnlDialogsCustomized">
			<p:confirmDialog id="cnfDeleteSecurities" widgetVar="cnfwDeleteSecurities" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" update="pnlOtcOperationResult" onclick="cnfwDeleteSecurities.hide()"  
							 actionListener="#{securitiesClassValuatorBean.deleteSecuritiesClassValuator()}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="cnfwDeleteSecurities.hide()" type="button"/>
		</p:confirmDialog>
		
	</p:outputPanel>
		</h:form>
		<p:outputPanel id="opnlDialogs"></p:outputPanel>
	</ui:define>
</ui:composition>
</html>