<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script>
		$(window).load(function(){
			setInitialFormState('#frmCustody');
			setAllHolidays('${certificateLocationBean.allHolidays}');
		});		
	</script>
		<h:outputText value="Consultar Situación de Títulos Fisicos" styleClass="title-page" />
		<h:form id="frmCustody">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldLocation" legend="#{msgs['consult.location.legend']}"> 
							<table width="100%" >
								<tr>
									<td width="10%">
										<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
									</td>
									<td width="40%">
										<h:panelGrid columns="2">
										 	<p:selectOneMenu id="cboPayrollType" label="Tipo Planilla"
												value="#{certificateLocationBean.physicalCertificateLocationInputTO.payRollType}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
												<f:selectItems value="#{certificateLocationBean.lstPayrollTypesSearch}"
															   var="payRoll" itemLabel="#{payRoll.parameterName}" itemValue="#{payRoll.parameterTablePk}" />
													<p:ajax global="false" update="@this @form"  />
											   	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message display="icon" id="msgPayrollType" for="cboPayrollType" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{gmsgs['participant.lbl']}" />
									</td>
									<td colspan="3">
										<p:selectOneMenu value="#{certificateLocationBean.physicalCertificateLocationInputTO.idParticipantPk}"
														 disabled="#{certificateLocationBean.isParticipant}"
														 style="width:520px" label="#{msgs['lbl.participant']}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems  value="#{certificateLocationBean.listParticipants}"  />
											<p:ajax event="change" update="cuiHolderSelect :frmCustody:pnlHolderAccountHelp"  process="@this"  listener="#{certificateLocationBean.cboParticipantAjax()}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{gmsgs['holder.lbl.code']}" /></td>
									<td colspan="3">
										<p:outputPanel id="cuiHolderSelect">
											<arkHelp:holderHelper id="idCuiHolder" 
												holder="#{certificateLocationBean.sourceHolder}" 
												participant="#{certificateLocationBean.physicalCertificateLocationInputTO.idParticipantPk}"
												remoteListener="rmtHolder()"
												validatorName="com.pradera.commons.view.validators.InputTextValidator" >
											</arkHelp:holderHelper>
											<p:remoteCommand name="rmtHolder"
													update=":frmCustody:pnlHolderAccountHelp tblResultHelperAccountSource :frmCustody:pnlResults" global="false"
													actionListener="#{certificateLocationBean.cuiChangeEvent}" 
													process="@this" />
										</p:outputPanel>
										</td>
								</tr>
								<tr>
									<td>
										<h:outputText  value="#{gmsgs['account.lbl.code']}" />
									</td>
									<td colspan="3">
										<p:outputPanel
											id="pnlHolderAccountHelp"><!-- Helper de numero de cuenta titular -->
											<p:inputText disabled="true" rendered="#{empty certificateLocationBean.genericDataModel}"/>
											<p:dataTable id="tblResultHelperAccountSource" widgetVar="resultHelperAccountVar"
												     	 rendered="#{not empty certificateLocationBean.genericDataModel}"
													 	 value="#{certificateLocationBean.genericDataModel}" var="account"
												     	 rowKey="#{account.accountPk}" rowIndexVar="rIndx"
													 	 selection="#{certificateLocationBean.selectedAccountTO}">
												<p:column selectionMode="single" style="width:18px"   />
													<p:ajax event="rowSelectRadio" listener="#{certificateLocationBean.changeSelectAccount}"  
														update=":frmCustody:pnlHolderAccountHelp tblResultHelperAccountSource"/>
												<p:column headerText="#{gmsgs['commons.datatable.account.number']}" styleClass="content-center" style="width:90px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 2px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}"  >
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{gmsgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
											</p:dataTable>	
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.retiro.emisor']}" /></td>
									<td colspan="3">
									
									<arkHelp:issuerHelper id="idIssuerPk" issuer="#{certificateLocationBean.issuerHelp}" 
														  remoteListener="validaIssuer()">
									</arkHelp:issuerHelper>
									<p:remoteCommand name="validaIssuer" 
													 actionListener="#{certificateLocationBean.validIssuerHelp}"
													 update="@this idIssuerPk :opnlDialogs"/>
									</td>									
								</tr>
								<tr>									
									<td>
										<h:outputText value="#{gmsgs['security.lbl.code']}"/>
									</td>
									<td colspan="3">
										<arkHelp:securityHelper id="idSecurityHelp"  issuer="#{certificateLocationBean.issuerHelp}" 
																security="#{certificateLocationBean.physicalCertificateLocationInputTO.securityHelp}" />
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.no.certificate']}" /></td>
									<td>
										<p:inputText id="idTxtCertificateNumber" styleClass="content-right"
													 value="#{certificateLocationBean.physicalCertificateLocationInputTO.certificateNumber}"
													 maxlength="20">
											<p:keyFilter for="idTxtCertificateNumber"
														  mask="num" />
										</p:inputText>
									</td>
									<ui:remove>
									<td><h:outputText value="#{msgs['consult.location.location']}" /></td>
									<td>
										<p:selectOneMenu value="#{certificateLocationBean.physicalCertificateLocationInputTO.certificateLocation}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
										<f:selectItems value="#{certificateLocationBean.lstSecurityLocations}" 
													   var="location" 
													   itemLabel="#{location.description}" 
													   itemValue="#{location.parameterTablePk}"/>
										</p:selectOneMenu>
									</td>
									</ui:remove>
								</tr>
								<tr>
									<ui:remove>
									<td><h:outputText value="#{msgs['lbl.no.request']}" />	</td>
									<td>										
										<p:inputText id="idTxtRequestNumber" styleClass="content-right"
													 value="#{certificateLocationBean.physicalCertificateLocationInputTO.requestNumber}"
													 maxlength="10"> 
													 <p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText> 
									</td>
										<td>
											<h:outputText value="#{msgs['consult.location.requestType']}" />
										</td>
										<td>
											<p:selectOneMenu value="#{certificateLocationBean.physicalCertificateLocationInputTO.requestType}" >  
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{certificateLocationBean.lstRequestType}" 
														   var="location" 
														   itemLabel="#{location.description}" 
														   itemValue="#{location.parameterTablePk}" />
											</p:selectOneMenu>
										</td>		
									</ui:remove>			
								</tr>
								<tr>
									<ui:remove>
									<td><h:outputText value="#{msgs['depoito.state.lbl']}"/></td>
									<td>
										<p:selectOneMenu value="#{certificateLocationBean.physicalCertificateLocationInputTO.certificateStatus}">  
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
										<f:selectItems value="#{certificateLocationBean.lstSecurityStates}"
													   var="location" 
													   itemLabel="#{location.description}" 
													   itemValue="#{location.parameterTablePk}" />
										</p:selectOneMenu>
									</td>
									</ui:remove>
								</tr>
								<tr>
									<td width="20%">
										<h:outputText  value="#{msgs['consult.location.initialDate']}"  styleClass="required-field" /></td>
									<td width="30%">
										<p:calendar id="fechaEmision"
													value="#{certificateLocationBean.physicalCertificateLocationInputTO.depositInitialDate}"
													readonly="#{facesContext.renderResponse}" 
													beforeShowDay="disableAllHolydays" 
													navigator="true" size="10" 
												 	pattern="#{msgs['dateFormat']}" showOn="both"													
													maxdate="#{certificateLocationBean.maxDate}">
													
											<p:ajax event="dateSelect" update="fechaEmision,fechaVenci" process="@this"/>
											<p:ajax event="change" update="fechaEmision,fechaVenci" process="@this"/>
										</p:calendar>
									</td>
									<td width="20%"><h:outputText value="#{msgs['consult.location.finalDate']}"  styleClass="required-field"/></td>
									<td width="30%">
										<p:calendar id="fechaVenci"
													value="#{certificateLocationBean.physicalCertificateLocationInputTO.depositFinalDate}"
													readonly="#{facesContext.renderResponse}" 
													beforeShowDay="disableAllHolydays" 
													navigator="true" size="10" 
													pattern="#{msgs['dateFormat']}" showOn="both"
													maxdate="#{certificateLocationBean.maxDate}" 
													mindate="#{certificateLocationBean.physicalCertificateLocationInputTO.depositInitialDate}">
													
											<p:ajax event="change" update="fechaEmision,fechaVenci" process="@this" />
											<p:ajax event="dateSelect" update="fechaEmision,fechaVenci" process="@this" />
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="btnSearch" icon="fa fa-search"
														 value="#{gmsgs['btn.search']}" update="frmCustody"
														 rendered="#{certificateLocationBean.flagSearch}"
														 actionListener="#{certificateLocationBean.searchPhysicalCertificates}"/>
														 
										<p:commandButton id="btnClear" icon="fa fa-trash" value="#{gmsgs['btn.clean']}" 
														 process="@this" immediate="true" update="@form" 
														 actionListener="#{certificateLocationBean.clear}"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td width="100%">
					
					<p:outputPanel id="pnlResults">
							<p:fieldset id="idFsResults" legend="#{msgs['lbl.results']}"
								rendered="#{not empty certificateLocationBean.lstResult}">
								
								<p:dataTable id="dtbResult" var="certificate" value="#{certificateLocationBean.lstResult}"
									paginator="true" rows="10" paginatorPosition="top" paginatorTemplate="#{msgs['dtb.paginator.template']}"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx" >
									
									<p:column sortBy="#{certificate.annotationMotiveDescription}" styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="Tipo operacion" escape="false"/>
										</f:facet>
										<h:outputText style="float:center" value="#{certificate.annotationMotiveDescription}" />
									</p:column>
									
									<ui:remove>
									<p:column sortBy="#{certificate.bovedaPath}" styleClass="content-center" headerText="Boveda" >
										<h:outputText style="float:center" value="#{certificate.bovedaPath}" />
									</p:column>
									</ui:remove>
									 
									<p:column styleClass="content-center" sortBy="#{certificate.mnemonicParticipant}">
										<f:facet name="header">
											<h:outputText value="#{gmsgs['participant.lbl']}" escape="false"/>
										</f:facet>									
										<h:outputText style="float:center" value="#{certificate.mnemonicParticipant}" />
									</p:column>
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="N° Cuenta" escape="false"/>
										</f:facet>
										<h:outputText value="#{certificate.holderAccount.accountNumber}"/>
									</p:column>			
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{gmsgs['holder.lbl.description']}" escape="false"/>
										</f:facet>									
										<h:outputText value="#{certificate.holderAccount.accountRntAndDescription}" escape="false"/>
									</p:column>
									<p:column sortBy="#{detail.idPayrollHeaderPk}" styleClass="content-right">
										<f:facet name="header">
											<h:outputText value="Planilla" escape="false"/>
										</f:facet>									
										<h:outputText value="#{certificate.idPayrollHeaderPk}"/>
									</p:column>
									<p:column styleClass="content-center" sortBy="#{certificate.idSecurityCodePk}">
										<f:facet name="header">
											<h:outputText value="#{gmsgs['security.lbl.code']}" escape="false"/>
										</f:facet>									
										<h:outputText value="#{certificate.idSecurityCodePk}"/>
										<ui:remove>
										<arkHelp:securities-help securityCode="#{certificate.idSecurityCodePk}"
											link="true" icon="false">
										</arkHelp:securities-help>
										</ui:remove>
									</p:column>
									<p:column sortBy="#{certificate.situationDesc}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="Situación" escape="false"/>
										</f:facet>									
										<h:outputText style="float:center" value="#{certificate.situationDesc}" />
									</p:column>
									
									<p:column sortBy="#{certificate.mnemonicIssuer}" styleClass="content-center" headerText="Emisor">
										<f:facet name="header">
											<h:outputText value="Emisor" escape="false"/>
										</f:facet>
										<h:outputText style="float:center" value="#{certificate.mnemonicIssuer}" />
									</p:column>
									
									<ui:remove>
									<p:column styleClass="content-center" sortBy="#{certificate.certificateNumber}" headerText="#{msgs['lbl.no.certificate']}">
											<h:outputText style="float:center" value="#{certificate.certificateNumber}"/>
									</p:column>
									</ui:remove>
									
									<p:column styleClass="content-center" sortBy="#{certificate.serialCode}" headerText="Serie">
										<f:facet name="header">
											<h:outputText value="Serie" escape="false"/>
										</f:facet>									
											<h:outputText style="float:center" value="#{certificate.serialCode}"/>
									</p:column>
									<p:column sortBy="#{certificate.securityNominalValue}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="Valor Nominal" escape="false"/>
										</f:facet>									
										<h:outputText style="float:center" value="#{certificate.securityNominalValue}" >
											<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
										</h:outputText>
									</p:column>
									<p:column sortBy="#{certificate.expirationDate}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="Fecha de Vencimiento" escape="false"/>
										</f:facet>									
										<h:outputText style="float:center" value="#{certificate.expirationDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
										</h:outputText>
									</p:column>
									
								</p:dataTable>
								<p:panel id="export" style="text-align:right;border:0;"
									rendered="#{not empty certificateLocationBean.lstResult}">
									<exp:exportDataTable
										title="Situación de Títulos Fisicos"
										pdf="true" xls="true"
										target=":frmCustody:dtbResult" />
									<!--parameters="#{monitorSystemprocessBean.generateParametersExport()}"/-->
								</p:panel>
							</p:fieldset>
							
						</p:outputPanel>
						
					<ui:remove>
						<p:outputPanel id="pnlResults">
						<p:fieldset id="fsListado" 
									legend="#{msgs['location.records.found']}"
									rendered="#{not empty certificateLocationBean.certificateLocationOutputTOs}">
								
								<p:dataTable id="dtbResult"
											 value="#{certificateLocationBean.physicalCertificateOutputDataModel}"
											 var="certLocationTO" paginator="true" paginatorPosition="top" rows="10"
											 rowKey="#{certLocationTO.idPhysicalCertificate}-#{certLocationTO.requestNumber}"
											 rendered="#{not empty certificateLocationBean.certificateLocationOutputTOs}"
											 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
											 paginatorTemplate="#{msgs['dtb.paginator.template']}"
											 rowsPerPageTemplate="5,10,15">									
									<p:column styleClass="content-center" sortBy="#{certLocationTO.requestTypeDesc}">
											<f:facet name="header">
												<h:outputText value="#{msgs['consult.location.requestType']}" />
											</f:facet>
											<h:outputText value="#{certLocationTO.requestTypeDesc}" />
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{certLocationTO.requestNumber}">
											<f:facet name="header">
												<h:outputText value="#{msgs['consult.location.requestNoCol']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{certLocationTO.requestNumber}" />
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{certLocationTO.depositDate}">
											<f:facet name="header">
												<h:outputText value="#{msgs['header.retito.fechadepositCol']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{certLocationTO.depositDate}" />
									</p:column>
																	
									<p:column styleClass="content-center" sortBy="#{certLocationTO.strSecurityCodePk}">
											<f:facet name="header">
												<h:outputText value="#{gmsgs['security.lbl.code']}"/>
											</f:facet>
											<arkHelp:securities-help securityCode="#{certLocationTO.strSecurityCodePk}" link="true" icon="false" />
											<ui:remove>
											<h:outputText value="#{certLocationTO.strSecurityCodePk}" />
											</ui:remove>
									</p:column>
									
									<ui:remove>
									<p:column sortBy="#{certLocationTO.issuerCode}">
										<f:facet name="header">
												<h:outputText value="#{msgs['lbl.retiro.emisor']}" escape="false"/>
											</f:facet>
										<h:outputText value="#{certLocationTO.issuerCode}" />
									</p:column>
									</ui:remove>
									
									<p:column  sortBy="#{certLocationTO.strParticipant}" headerText="#{gmsgs['participant.lbl']}">
										<h:outputText value="#{certLocationTO.strParticipant}" />
									</p:column>
									
									<p:column styleClass="content-right" sortBy="#{certLocationTO.certificateNumber}">
										<f:facet name="header">
												<h:outputText value="#{msgs['lbl.retiro.securitynoCol']}" escape="false"/>
											</f:facet>
										<p:commandLink value="#{certLocationTO.certificateNumber}" 
													   style="color:blue;text-align:right;"
													   update=":opnlDialogs"
											 		   process="@this, :frmCustody:dtbResult"
											 		   partialSubmit="true"
											 		   actionListener="#{certificateLocationBean.getCertificateDetails(certLocationTO)}">
									    </p:commandLink>
									</p:column>
									
									<p:column sortBy="#{certLocationTO.accountNumber}" headerText="N° Cuenta">
										<h:outputText value="#{certLocationTO.accountNumber}"/>
									</p:column>
									
									<p:column headerText="Descripcion Inversionista">
										<ui:repeat value="#{certLocationTO.holderList}" var="holList" >
										   	#{holList}
										</ui:repeat>
									</p:column>
									
									<p:column sortBy="#{certLocationTO.certificateStatusDesc}" >
										<f:facet name="header" >
												<h:outputText value="#{msgs['lbl.accreditation.certificate.status']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{certLocationTO.certificateStatusDesc}"/>
									</p:column>
									
									<p:column sortBy="#{certLocationTO.situationDesc}">
										<f:facet name="header">
												<h:outputText value="#{msgs['consult.location.situacionActual']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{certLocationTO.situationDesc}"/>
									</p:column>
									
									<f:facet name="footer">
						                 <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						                 	<f:param value="#{certificateLocationBean.physicalCertificateOutputDataModel.rowCount}"/>
						                 </h:outputFormat>
						             </f:facet>
								</p:dataTable>
								
						</p:fieldset>
						<p:fieldset rendered="#{certificateLocationBean.listEmpty}">
									<h:outputText id="lblNoFoundResults" value="#{msgs['lbl.search.no.result']}" styleClass="required-field"/>
							</p:fieldset>
						</p:outputPanel>
						</ui:remove>
						
					</td>
				</tr>
			</table>

		</h:form>
	
	<p:outputPanel id="opnlDialogs">
	
	<h:form id="frmDialogs">
			
		<p:confirmDialog id="idDialogRechazMensaje" widgetVar="idDialogRechazMensajeW" 
					 	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
							 
			<p:commandButton value="Aceptar" process="@this" 
							 oncomplete="PF('idDialogRechazMensajeW').hide();PF('locationsCertificateW').hide();" 
							 update=":opnlDialogs" />
		</p:confirmDialog>
				
		<p:confirmDialog id="idRechazDialogOnGuardar" widgetVar="idRechazDialog" 
						 message="#{bodyMessageView}" header="#{headerMessageView}" closable="false">
				
				<p:commandButton value="#{gmsgs['btn.yes']}" 
								 oncomplete="PF('idRechazDialog').hide();" process="@this" 
							     action="#{certificateLocationBean.modifyLocation}" update=":frmCustody :opnlDialogs" />
							     
				<p:commandButton value="#{gmsgs['btn.no']}" 
								 process="@this" update="@this" onclick="PF('idRechazDialog').hide();" />
			</p:confirmDialog>
		
	

		<p:dialog id="idDetalleValor" widgetVar="idDetalleValorW" 
				  modal="true" resizable="false" closable="false" 
				  header="Detalle de Título Real">
			<table border="0" width="900" cellpadding="1" cellspacing="1" >
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.affectation.view.blockOperation.isin.issuer']}" />	
					</td>
					<td colspan="3">
						<p:selectOneMenu disabled="true">
							<f:selectItem itemLabel="#{certificateLocationBean.physicalCertificate.issuer.businessNameCode}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.no.certificate']}" /> 						
					</td>
					<td width="30%">
						<p:inputText styleClass="content-right" value="#{certificateLocationBean.physicalCertificate.certificateNumber}" disabled="true">
							<p:keyFilter mask="pint"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['deposito.cert.manage.rent']} "  />						
					</td>
					<td width="30%">
						<p:selectOneMenu value="#{certificateLocationBean.physicalCertificate.instrumentType}" disabled="true">
							<f:selectItems value="#{reteirementDepositeBean.instrumentTypeList}" 
								var="instrument" itemLabel="#{instrument.parameterName}" itemValue="#{instrument.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.class']}" />						
					</td>
					<td colspan="3">
						<p:selectOneMenu value="#{certificateLocationBean.physicalCertificate.securityClass}" 
								disabled="true" label="#{msgs['deposito.cert.manage.clas']}" >
							<f:selectItems value="#{certificateLocationBean.lstSecurityClass}" 
								var="securityClass" itemLabel="#{securityClass.parameterName}" itemValue="#{securityClass.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{gmsgs['security.lbl.code']}"/>
					</td> 
					<td colspan="3">
						<arkHelp:securityHelper security="#{certificateLocationBean.physicalCertificate.securities}" disabled="true"/>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.pay.freq']}"/>						
					</td> 
					<td>
						<p:selectOneMenu value="#{certificateLocationBean.physicalCertificate.paymentPeriodicity}" disabled="true">
							<f:selectItems value="#{certificateLocationBean.lstPaymentType}" 
										   var="paymentType" itemLabel="#{paymentType.parameterName}" itemValue="#{paymentType.parameterTablePk}" />
						</p:selectOneMenu>
					</td>					
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.tasa']}"/>						
					</td>
					<td>
						<p:inputNumber maxlength="12" size="12" thousandSeparator="," decimalSeparator="."
										style="text-align:right" value="#{certificateLocationBean.physicalCertificate.interestRate}" 
										disabled="true" label="#{msgs['deposito.cert.manage.valor.tasa']}" >
						</p:inputNumber>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.fecha.in']}" />						
					</td>
					<td>
						<p:calendar
									readonlyInput="true" 
									size="10" 
									maxlength="10" 
									value="#{certificateLocationBean.physicalCertificate.issueDate}" 
									pattern="#{msgs['dateFormat']}"
									showOn="button"
									navigator="true"
									beforeShowDay="disableAllHolydays"
									disabled="true" >
						</p:calendar>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.fecha.fin']}"/>						
					</td>
					<td>
						<p:calendar  
									readonlyInput="true" 
									size="10" 
									value="#{certificateLocationBean.physicalCertificate.expirationDate}" 
									pattern="#{msgs['dateFormat']}" 
									showOn="button"
									beforeShowDay="disableAllHolydays"
									navigator="true"
									maxlength="10" 
									disabled="true">
						</p:calendar>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.money']}" />						
					</td>
					<td>
						<p:selectOneMenu id="moneyType" value="#{certificateLocationBean.physicalCertificate.currency}" 
										 disabled="true" label="#{msgs['deposito.cert.manage.money']}">
							<f:selectItems value="#{certificateLocationBean.lstMoneyType}" 
										   var="currency" itemLabel="#{currency.parameterName}" itemValue="#{currency.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor']}"/>						
					</td>
					<td>
						<p:inputNumber id="valorNom" size="12" maxlength="10" decimalSeparator="." thousandSeparator="," value="#{certificateLocationBean.physicalCertificate.nominalValue}"
										disabled="true" label="#{msgs['deposito.cert.manage.valor']}" style="text-align:right">
						</p:inputNumber>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.count']}" />
					</td>
					<td>
						<p:inputText value="#{certificateLocationBean.physicalCertificate.certificateQuantity}" disabled="true" 
							styleClass="content-right"/>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton value="#{gmsgs['btn.back']}"  
							icon="fa fa-undo"  oncomplete="PF('idDetalleValorW').hide()"
							 immediate="true" process="@this" />
					</td>
				</tr>
			</table>	
		</p:dialog>
		<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	       	<h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center;">         
		        <p:commandButton id="btnalterValidation" value="#{gmsgs['btn.accept']}" 
		         				 process="@this" immediate="true" 
			        			 oncomplete="PF('alterValidationWidget').hide()" > 
	        	</p:commandButton>   
	        </h:panelGrid>	                 
	    </p:confirmDialog> 

	<!--  -->
		<p:dialog id="idDialocationsCertificateW" widgetVar="locationsCertificateW" 
		 		  resizable="false" closable="false" modal="true" 
		 		  header="#{msgs['modify.popup.header']}" >
		 		  
			<p:outputPanel id="idLocationsCertificateW">
			<p:fieldset> 
			<table>
			<p:outputPanel id="idLocationsCertIndividual" rendered="#{!certificateLocationBean.listMassive}">
			  <tr>
				  	<td><h:outputText value="#{msgs['consult.location.requestType']}" /></td>
				  	<td>
					<p:inputText  size="28" 
								  value="#{certificateLocationBean.physicalCertListSel[0].requestTypeDesc}" 
								  disabled="true" /> 
				   	</td>
			  </tr>
			  <tr>
				  	<td><h:outputText value="#{msgs['lbl.no.certificate']}" /></td>
				  	<td>
					<p:inputText  value="#{certificateLocationBean.physicalCertListSel[0].certificateNumber}" 
								  disabled="true" /> 
				   	</td>
			  </tr>
			  <tr>
			  		<td><h:outputText value="#{msgs['lbl.accreditation.certificate.security.code']}"/></td>
			  		<td>
			  			<p:inputText value="#{certificateLocationBean.physicalCertListSel[0].strSecurityCodePk}"  disabled="true" />
			  		</td>
			  </tr>
			  <tr>
		            <td><h:outputText  value="#{msgs['consult.location.requestNo']}" /></td>
					<td>
						<p:inputText size="8" 
									 value="#{certificateLocationBean.physicalCertListSel[0].requestNumber}" 
									 disabled="true" 
									 style="text-align:right"></p:inputText>
					</td>			  
			  </tr>
			  <tr>
				   	<td><h:outputText value="#{msgs['consult.location.tituloEstado']}"  /></td>
				    <td><p:inputText size="26" 
				    				 value="#{certificateLocationBean.physicalCertListSel[0].certificateStatusDesc}" 
				    				 disabled="true" />
				    </td>	
			  </tr>
			  <tr>
			  		<td><h:outputText value="#{msgs['lbl.accreditation.certificate.participant']}"/></td>
			  		<td>
			  			<p:inputText value="#{certificateLocationBean.strParticipantSelected}" size="70" disabled="true" />
			  		</td>
			  </tr>
			  <tr>
			  		<td width="100">
						<h:outputText value="#{msgs['lbl.accreditation.certificate.account']}" />
					</td>
					<td colspan="2">
				  		<p:inputText size="8" value="#{certificateLocationBean.physicalCertListSel[0].accountNumber}" disabled="true" style="text-align:right"></p:inputText>
				  	</td>
			  </tr>
			  </p:outputPanel>
			  <tr>
			 		<td>
			 			<h:outputText value="#{msgs['consult.location.location']}" />
			 		</td>
					<td>
						<p:inputText size="26" value="#{certificateLocationBean.physicalCertListSel[0].situationDesc}" disabled="true" />
					</td>
			  </tr>
			  <tr>
					<td width="130">
						<h:outputText value="#{msgs['modify.location.newLocation']}" styleClass="required-field"/>
					</td>
					<td>
						<p:selectOneMenu id="idNewLocation" 
										 value="#{certificateLocationBean.newLocationSelected}" 
										 disabled="#{certificateLocationBean.disabled}"
										 style="width:250px;">  
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
												<f:selectItems value="#{certificateLocationBean.lstNewSecurityLocations}"
															   var="location" itemLabel="#{location.parameterName}" itemValue="#{location.parameterTablePk}"/>
						<p:ajax event="change"   update="idNewLocation idNewLocationMsg" />
					    </p:selectOneMenu>
					</td>
					<td><p:message id="idNewLocationMsg"  for="idNewLocation" display="icon" /></td>
			</tr>
			<tr>
					<td colspan="3" align="center">
						<p:commandButton value="#{gmsgs['btn.save']}" 
										 icon="fa fa-save" 
										 disabled="#{!certificateLocationBean.btnSave}" 
										 update="cnfIdCAskDialog cnfWAlertDialog idRechazDialogOnGuardar idLocationsCertificateW" 
										 actionListener="#{certificateLocationBean.validateSave()}"
										 process="@this idNewLocation" />
										 
						<p:commandButton value="#{gmsgs['btn.back']}" process="@this idNewLocation" 
										 immediate="true" icon="fa fa-undo" 
										 actionListener="#{certificateLocationBean.onCancelClick()}" update="cnfIdCAskDialog" />
					</td>
			</tr>
			</table>
			</p:fieldset>
			</p:outputPanel>
		</p:dialog>
		
    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
			message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()"
							immediate="true" process="@this" 
							action="#{certificateLocationBean.confirmAlertActions()}" update="@form" />
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
		</p:confirmDialog>	
		
		<p:confirmDialog id="cnfWAlertDialog" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="wdAlertDialog" >  
	       
	       	<h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center;">         
		        <p:commandButton id="btnalterValidation1" value="#{gmsgs['btn.accept']}" 
		         				 process="@this" immediate="true" 
			        			 oncomplete="PF('wdAlertDialog').hide()" > 
	        	</p:commandButton>   
	        </h:panelGrid>	                 
	    </p:confirmDialog> 
	    
	</h:form>	
		
	</p:outputPanel>
	
	</ui:define>
</ui:composition>
</html>