<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:outputText value="#{gmsgs['isecurities.security.valuator.process.config.range.modify.title']}"   styleClass="title-page"   rendered="#{valuatorRangeBean.viewOperationModify}"/>
		<h:outputText value="#{gmsgs['isecurities.security.valuator.process.config.range.register.title']}" styleClass="title-page"   rendered="#{valuatorRangeBean.viewOperationRegister}"/>
		
		<script type="text/javascript">
			$(window).load(function(){
				setInitialFormState('#frmValuatorRangeRegister');
			});
		</script>
		<h:form id="frmValuatorRangeRegister">
			
			<p:fieldset id="RangeDataPanel" legend="#{msgs['lbl.data.range']}">
				<table width="100%">
				
					<tr>
						<td width="18%"/>
						<td width="30%"/>
						<td width="18%"/>
						<td width="30%"/>
					</tr>
					
					<tr>
						<td><h:outputText value="#{msgs['valuator.process.config.range.registry.date']} (*)" styleClass="required-field"/></td>
						<td>
							<p:calendar value="#{valuatorRangeBean.valuatorTermRange.registryDate}" id="valuatorRegistryDate" readonlyInput="true" 
										pattern="#{cons['dateFormat']}" navigator="true" disabled="true" tabindex="5"/>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputLabel value="#{msgs['valuator.process.config.range.code']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputText value="#{valuatorRangeBean.valuatorTermRange.rangeCode}" id="txtRangeCode"
									style="text-align: right;width:200px" maxlength="2"
									disabled="#{!valuatorRangeBean.viewOperationRegister}"
									label="#{msgs['valuator.process.config.range.code']}">
									<p:ajax event="blur" process="@this" update="@this msgRangeCode"
											listener = "#{valuatorRangeBean.valuatorTermRangeExists}" />
									<f:validator validatorId="inputRequiredValidator"/>
									<f:param name="skipValidation" value="true" />
									<p:keyFilter regEx="#{gconst['exp.regular.numeric.unsigned']}" />
								</p:inputText>
								<p:message id="msgRangeCode" for="txtRangeCode" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputLabel value="#{msgs['valuator.process.config.range.min']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputNumber value="#{valuatorRangeBean.valuatorTermRange.minRange}" id="txtMinRange"
								   	style="text-align: right;width:200px" maxValue="9999999" decimalPlaces="0"
								   	decimalSeparator="." thousandSeparator="," label="#{msgs['valuator.process.config.range.min']}"
								   	disabled="#{valuatorRangeBean.viewOperationDelete}" >
									<p:ajax event="blur" process="@this" update="@this msgMinRange"
											listener="#{valuatorRangeBean.validateMinRange}" />
									<f:validator validatorId="inputRequiredValidator"  />
									<f:param name="skipValidation" value="true" />
								</p:inputNumber>
								<p:message id="msgMinRange" for="txtMinRange" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputLabel value="#{msgs['valuator.process.config.range.max']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
								<p:inputNumber value="#{valuatorRangeBean.valuatorTermRange.maxRange}" id="txtMaxRange"
								   	style="text-align: right;width:200px" maxValue="9999999" decimalPlaces="0"
								   	decimalSeparator="." thousandSeparator="," label="#{msgs['valuator.process.config.range.max']}"
								   	disabled="#{valuatorRangeBean.viewOperationDelete}">
									<p:ajax event="blur" process="@this" update="@this msgMaxRange"
											listener="#{valuatorRangeBean.validateMaxRange}"/>
									<f:validator validatorId="inputRequiredValidator"/>
									<f:param name="skipValidation" value="true" />
								</p:inputNumber>
								<p:message id="msgMaxRange" for="txtMaxRange" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					
				</table>
			</p:fieldset>
			
			<p:outputPanel id="pnlButtons">
				<table width="100%" align="center">
					<tr>
						<td align="center">
							<p:commandButton id="btnSave" value="#{gmsgs['btn.save']}" icon="fa fa-save"
											 process="@this,RangeDataPanel,@(.clsFormProcess)" update="@form,:opnlGenericDialogs"
											 actionListener="#{valuatorRangeBean.beforeSaveTermRange}"
											 onclick="if(!isModifiedFormForSave('#frmValuatorRangeRegister',#{valuatorRangeBean.viewOperationModify}))return false;"
											 rendered="#{!valuatorRangeBean.viewOperationDelete}" />
											 
							<p:commandButton id="btnDelete" value="#{gmsgs['btn.delete']}" icon="ui-remove"
											 process="@this,RangeDataPanel,@(.clsFormProcess)" update="@form"
											 actionListener="#{valuatorRangeBean.beforeSaveTermRange}"
											 rendered="#{valuatorRangeBean.viewOperationDelete}" />
											 
							<p:commandButton id="cmbCleanRangeData" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
											 onclick="return showCleanConfirmDialog(this);"
											 oncomplete="cnfwClean.hide()"
											 immediate="true"
											 actionListener="#{valuatorRangeBean.cleanRegister}"
											 update="@form" process="@this"
											 rendered="#{valuatorRangeBean.viewOperationRegister}" />
											 
							<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo"
											 action="searchRange" process="@this"
											 onclick="if(isModifiedFormForBack(this))return false;"
											 ajax="false" immediate="true" />
						</td>
					</tr>
				</table>
			</p:outputPanel> 
			
			<p:confirmDialog id="cnfValuatorTermRange" widgetVar="cnfwValuatorTermRange" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="cnfwValuatorTermRange.hide()"  
								 actionListener="#{valuatorRangeBean.saveNewTermRange}"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="cnfwValuatorTermRange.hide()" type="button"/>
			</p:confirmDialog>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>