<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<p:importConstants type="com.pradera.integration.common.type.BooleanType" var="bolType"/>
<p:importConstants type="com.pradera.model.valuatorprocess.type.ValuatorEventType" var="eventType"/>
<p:importConstants type="com.pradera.model.operativedaily.type.OperativeDailyState" var="executionState"/>
<h:form id="frmExecutionValuator">
	<p:remoteCommand update=":frmExecutionValuator:flsValuatorExecution" process="@this" global="false" name="updateProgress"/>
	<p:poll interval="4" process="@this" global="false" oncomplete="updateProgress()" rendered="true"/> 
	<ui:param name="sizeImg" value="150px"/>
	<p:fieldset legend="#{msgs['operative.daily.tittle']}" id="flsValuatorExecution">
		<table width="100%">
			<tr>
				<td align="center">
					<p:commandLink actionListener="#{operativeDailyCloseButtonBean.beforeSaveOperativeRequest}" process="@this" update="@form">
						<p:graphicImage library="img" id="idImgBefClose" name="buttons/before_close.png" width="#{sizeImg}"
										rendered="#{operativeDailyCloseButtonBean.operativeProcess.processState eq null}">
						</p:graphicImage>
						<p:tooltip for="idImgBefClose">
							<h:outputFormat value="#{msgs['operative.daily.mssg.close']}"/>
						</p:tooltip>
					</p:commandLink>
				</td>
				<td align="center">
					<p:graphicImage library="img" id="idImgLoading" name="buttons/executing.gif" width="#{sizeImg}"
									rendered="#{operativeDailyCloseButtonBean.operativeProcess.processState eq executionState.PROCESSING.code or 
												operativeDailyCloseButtonBean.operativeProcess.processState eq executionState.REGISTER.code}"/>
					<p:tooltip for="idImgLoading">
						<h:outputFormat value="#{msgs['operative.daily.mssg.loading']}"/>
					</p:tooltip>
				</td>
				<td align="center">
					<p:graphicImage library="img" id="idImgSuccess" name="buttons/sucessfully.png" width="#{sizeImg}"
									rendered="#{operativeDailyCloseButtonBean.operativeProcess.processState eq executionState.FINALIZED.code}"/>
					<p:tooltip for="idImgSuccess">
						<h:outputFormat value="#{msgs['operative.daily.mssg.success']}"/>
					</p:tooltip>
				</td>
				<td align="center">
					<p:commandLink actionListener="#{operativeDailyCloseButtonBean.beforeRestartOperativeRequest}" process="@this" update="@form">
						<p:graphicImage library="img" id="idImgWaiting" name="buttons/waiting.png" width="#{sizeImg}"
										rendered="#{operativeDailyCloseButtonBean.operativeProcess.processState eq executionState.WAITING.code}"/>
						<p:tooltip for="idImgWaiting">
							<h:outputFormat value="#{msgs['operative.daily.mssg.restart']}"/>
						</p:tooltip>
					</p:commandLink>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<p:dataTable styleClass="panelNoBorder" value="#{operativeDailyCloseButtonBean.operativeProcess.dailyDetailList}" var="bProcess"
								 rendered="#{operativeDailyCloseButtonBean.operativeProcess.dailyDetailList != null}"
								 expandedRow="false">
						<p:column style="width:16px">
							<p:rowToggler rendered="true"/>
				        </p:column>
						<p:column headerText="#{msgs['operative.daily.loading.execution']}" width="5%" styleClass="content-right">
							<h:outputText value="#{bProcess.executionOrder}" styleClass="required-field"/>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.event.name']}" width="40%" styleClass="required-field">
							<p:outputPanel> 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h:outputText value="#{bProcess.eventName}" styleClass="required"/>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.register.time']}" styleClass="content-center" width="10%">
							<p:outputPanel>
								<h:outputText value="#{bProcess.registryTime}" styleClass="required-field">
									<f:convertDateTime pattern="HH:mm:ss"/>
								</h:outputText>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.exec.nmbr']}" styleClass="content-center" width="10%">
							<p:outputPanel>
								<h:outputText value="#{bProcess.executionCount}" styleClass="required-field"/>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.row.nmbr']}" styleClass="content-center" width="10%">
							<p:outputPanel>
								<h:outputText value="#{bProcess.rowQuantity}" styleClass="required-field"
											  rendered="#{bProcess.rowQuantity ne bolType.NO.code}">
									<f:convertNumber pattern="###,###,##0"/>
								</h:outputText>
								<h:outputText value="N/A" styleClass="required-field" 
											  rendered="#{bProcess.rowQuantity eq bolType.NO.code}">
								</h:outputText>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.begin']}" styleClass="content-center" width="10%">
							<p:outputPanel>
								<h:outputText value="#{bProcess.beginTime}" styleClass="required-field">
									<f:convertDateTime pattern="HH:mm:ss"/>
								</h:outputText>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.end']}" styleClass="content-center" width="10%">
							<p:outputPanel>
								<h:outputText value="#{bProcess.finishTime}" styleClass="required-field">
									<f:convertDateTime pattern="HH:mm:ss"/>
								</h:outputText>
							</p:outputPanel>
						</p:column>
						<p:column headerText="#{msgs['operative.daily.loading.state']}" styleClass="content-center" style="width:10%">
							<p:graphicImage library="img" id="idImgLoading" name="loading/small_loading.gif" 
											rendered="#{bProcess.processState eq executionState.PROCESSING.code}"/>
							<p:graphicImage library="img" id="idImgSuccess" name="icons/confirmed.png" 
											rendered="#{bProcess.processState eq executionState.FINALIZED.code}"/>
							<p:graphicImage library="img" id="idImgFailed" name="icons/rejected.png" 
											rendered="#{bProcess.processState eq executionState.WAITING.code}"/>
							<p:graphicImage library="img" id="idImgRegister" name="icons/confirmed-disabled.png" 
											rendered="#{bProcess.processState eq executionState.REGISTER.code}"/>
							<p:tooltip for="idImgLoading">
								<h:outputFormat value="#{msgs['operative.daily.loading.running']}"/>
							</p:tooltip>
							<p:tooltip for="idImgFailed">
								<h:outputFormat value="#{msgs['operative.daily.loading.wait']}"/>
							</p:tooltip>
							<p:tooltip for="idImgSuccess">
								<h:outputFormat value="#{msgs['operative.daily.loading.finished']}"/>
							</p:tooltip>
							<p:tooltip for="idImgRegister">
								<h:outputFormat value="#{msgs['operative.daily.loading.register']}"/>
							</p:tooltip>
						</p:column>
						<p:rowExpansion styleClass="content-center">							
							<h:panelGrid  columns="2">
								<h:outputText value="............." />
								<p:dataTable value="#{bProcess.executionList}" var="class" style="width:500px" rowIndexVar="rowIndex">
									<p:column headerText="#">
										 <h:outputText value="#{rowIndex+1}" styleClass="required-field"/>
									</p:column>    
									<p:column headerText="#{msgs['operative.daily.loading.begin']}" styleClass="content-center">
										<p:outputPanel>
											<h:outputText value="#{class.beginTime}" styleClass="required-field">
												<f:convertDateTime pattern="HH:mm:ss"/>
											</h:outputText>
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{msgs['operative.daily.loading.end']}" styleClass="content-center">
										<p:outputPanel>
											<h:outputText value="#{class.finishTime}" styleClass="required-field">
												<f:convertDateTime pattern="HH:mm:ss"/>
											</h:outputText>
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{msgs['operative.daily.loading.state']}" styleClass="content-center">
										<p:graphicImage library="img" id="idImgLoadingDet" name="loading/small_loading.gif" 
														rendered="#{class.processState eq executionState.PROCESSING.code}"/>
										<p:graphicImage library="img" id="idImgFailedDet" name="icons/rejected.png" 
														rendered="#{class.processState eq executionState.FINALIZED.code and class.hasError eq bolType.YES.code}"/>
										<p:graphicImage library="img" id="idImgSuccessDet" name="icons/confirmed.png" 
														rendered="#{class.processState eq executionState.FINALIZED.code and class.hasError eq bolType.NO.code}"/>
										<p:tooltip for="idImgLoadingDet">
											<h:outputFormat value="#{msgs['operative.daily.loading.running']}"/>
										</p:tooltip>
										<p:tooltip for="idImgFailedDet">
											<h:outputFormat value="#{msgs['operative.daily.loading.failed']}"/>
										</p:tooltip>
										<p:tooltip for="idImgSuccessDet">
											<h:outputFormat value="#{msgs['operative.daily.loading.finished']}"/>
										</p:tooltip>
									</p:column>
								</p:dataTable>
							</h:panelGrid>
						</p:rowExpansion>
					</p:dataTable>
				</td>
			</tr>
		</table>
	</p:fieldset>
	<p:outputPanel id="pnlDialogsCustomized">
		<p:confirmDialog id="cnfMssgDialog" widgetVar="cnfWMssgDialog" severity="alert" closable="false" header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfWMssgDialog').hide();" actionListener="#{operativeDailyCloseButtonBean.saveOperativeRequest}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWMssgDialog').hide();" type="button"/>
		</p:confirmDialog>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>