<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmCustody');
	  });
	</script>	
	
		<h:outputText value="#{msgs['tvd.title']}" styleClass="title-page" />
	
		<h:form id="frmCustody" onkeypress="return event.keyCode != 13" >
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.register']}">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td width="150px"><h:outputText value="#{msgs['tdv.lable.origParticipant']} (*)" styleClass="required-field" /></td>
									<td width="500px">
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
										<p:selectOneMenu id="idSourceParticipant" value="#{transferSecuritiesMgmtBean.securityTransferOperation.sourceParticipant.idParticipantPk}" 
														 disabled="#{transferSecuritiesMgmtBean.flagRegisterOriginParticipant}"
														 label="#{msgs['tdv.lable.origParticipant']}" >
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems value="#{transferSecuritiesMgmtBean.lstParticipant}" var="part" itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
											<p:ajax listener="#{transferSecuritiesMgmtBean.validSourceParticipant()}" update="@this frmCustody"  event="change" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
										</p:selectOneMenu>
										<p:message display="icon" for="idSourceParticipant" id="msgSourceParticipant"/>
										</h:panelGrid>
									</td>
									<td width="150px"><h:outputText value="#{msgs['tdv.lable.transferType']} (*)" styleClass="required-field" /></td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
										<p:selectOneMenu id="idTransfertype" value="#{transferSecuritiesMgmtBean.securityTransferOperation.transferType}" 
														 label="#{msgs['tdv.lable.transferType']}" >
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems value="#{transferSecuritiesMgmtBean.lstTransferType}" var="transferType" itemLabel="#{transferType.parameterName}" itemValue="#{transferType.parameterTablePk}" />
											<p:ajax listener="#{transferSecuritiesMgmtBean.validTransferType()}" update="frmCustody, frmCustody:idCuiTargetHolder:componentHolderHelper" event="change" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
										</p:selectOneMenu>
										<p:message display="icon" for="idTransfertype" id="msgTransfertype"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['commons.label.cuiHolderSource']} (*)" styleClass="required-field"  rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"/>
									</td>
									<td colspan="3">
									<h:panelGrid columns="2">
									<arkHelp:holderHelper id="idCuiSourceHolder" holder="#{transferSecuritiesMgmtBean.sourceHolder}" remoteListener="cmdHolderHelper()"
														  required="true" 
														  blParticipant="true" 
														  participant="#{transferSecuritiesMgmtBean.securityTransferOperation.sourceParticipant.idParticipantPk}"
														  rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"
														  label="#{msgs['commons.label.cuiHolderSource']}">
									</arkHelp:holderHelper> 
									<p:remoteCommand name="cmdHolderHelper" actionListener="#{transferSecuritiesMgmtBean.validSourceHolder()}" rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"
													 process="@this idSourceParticipant" update="frmCustody, frmCustody:idCuiTargetHolder:componentHolderHelper, frmCustody:idCuiSourceHolder:componentHolderHelper, formPopUp:alterValidation" />
    								<p:message for="idCuiSourceHolder:idCuiSourceHolder" display="icon" id="msgHolder" rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"/>
									</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['commons.label.AccountHolderSource']} (*)" styleClass="required-field"  rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"/>
									</td>
									<td valign="top" colspan="3">
										<p:outputPanel id="idHelperAccountSource" rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}">
											<p:inputText disabled="true" rendered="#{transferSecuritiesMgmtBean.lstSourceAccountTo.size() == 0}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountSource"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px"
												     	 rendered="#{transferSecuritiesMgmtBean.lstSourceAccountTo.size()>0}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{transferSecuritiesMgmtBean.lstSourceAccountTo}" var="account"
												     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
													 	 selection="#{transferSecuritiesMgmtBean.sourceAccountTo}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{transferSecuritiesMgmtBean.validSourceHolderAccount()}" update=":frmCustody, :frmCustody:idHelperAccountTarget :opnlDialogs :opnlGenericDialogs" />
												
												
												<p:column headerText="#{msgs['commons.datatable.account.number']}" styleClass="content-center" style="width:70px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 4px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
												
												<f:facet name="footer">  
										            <h:outputText value="#{transferSecuritiesMgmtBean.lstSourceAccountTo.size()} #{msgs['lbl.results']}" 
										            			  style="align:left;"/>  
										        </f:facet> 
												
										</p:dataTable>
										
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td colspan="3" height="3px"></td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['tdv.lable.securityClass']}" rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"/></td>
									<td>
										<p:selectOneMenu id="idInstrumentType"  rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"
														 value="#{transferSecuritiesMgmtBean.securityTransferOperation.securities.securityClass}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems value="#{transferSecuritiesMgmtBean.lstSecurityClass}" 
														   var="instrument" 
														   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
														   itemValue="#{instrument.parameterTablePk}" />
											<p:ajax update="@this, frmCustody, frmCustody:idSourceSecurity" listener="#{transferSecuritiesMgmtBean.resetSecurities}" />
										</p:selectOneMenu>
									</td>
									<td>
										<h:outputText value="#{msgs['tdv.label.securitiesAvailables']}" rendered="false"/>
									</td>
									<td>
										<p:selectBooleanCheckbox value="#{transferSecuritiesMgmtBean.checkOnliAvailable}"  rendered="false" 
											disabled="#{userInfo.userAccountSession.participantInvestorInstitucion or userInfo.userAccountSession.issuerDpfInstitucion}"/>  
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{gmsgs['security.lbl.code']}"  rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}"/></td>
									<td colspan="3">													     
										<p:outputPanel id="pnlSecurityAccHelp">
											<h:panelGrid columns="2" id="pnlGril">
												<arkHelp:securities-acc-full
													id="idSourceSecurity"
													rendered="#{transferSecuritiesMgmtBean.flagSourceTarget}" 
													remoteListener="validSecuritieOrigin()" 
													value="#{transferSecuritiesMgmtBean.securityTransferOperation.securities}"
													partCode="#{transferSecuritiesMgmtBean.securityTransferOperation.sourceParticipant.idParticipantPk}"
													holderAccount="#{transferSecuritiesMgmtBean.securityTransferOperation.sourceHolderAccount}"
													validatorName="com.pradera.commons.view.validators.InputTextValidator"
													description="true"
													securityClass="#{transferSecuritiesMgmtBean.securityTransferOperation.securities.securityClass}"
													disabled="#{ transferSecuritiesMgmtBean.securityTransferOperation.sourceHolderAccount.idHolderAccountPk == null}"/>
												<arkHelp:securities-help
													securityCode="#{transferSecuritiesMgmtBean.securityTransferOperation.securities.idSecurityCodePk}"
													id="helpSourceSecurity" />
												<p:remoteCommand name="validSecuritieOrigin" actionListener="#{transferSecuritiesMgmtBean.validSecuritieOrigin()}" 
													     process="@this" update="@this :opnlDialogs" />
												<p:message for="idSourceSecurity" id="msgValor" display="icon" />
											</h:panelGrid>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['tdv.lable.targParticipant']} (*)" styleClass="required-field" /></td>
									<td>
										<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
										<p:selectOneMenu id="idTargetParticipant" value="#{transferSecuritiesMgmtBean.securityTransferOperation.targetParticipant.idParticipantPk}" 
														 disabled="#{transferSecuritiesMgmtBean.flagRegisterTargetParticipant==true || transferSecuritiesMgmtBean.flagSameParticipant==true}"
														 label="#{msgs['tdv.lable.targParticipant']}" >
											<f:selectItem 	itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems 	value="#{transferSecuritiesMgmtBean.lstTargetParticipant}" var="participant" 
														   	itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
											<p:ajax listener="#{transferSecuritiesMgmtBean.validTargetParticipant()}" update="@this frmCustody:fldsFiltros :opnlDialogs :opnlGenericDialogs"  event="change" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
										</p:selectOneMenu>
										<p:message display="icon" for="idTargetParticipant" id="msgTargetParticipant"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['commons.label.cuiHolderTarget']} (*)" styleClass="required-field" 
													  rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}"/></td>
									<td colspan="3">
									<h:panelGrid columns="2" styleClass="cleanTable">
									<arkHelp:holderHelper id="idCuiTargetHolder" holder="#{transferSecuritiesMgmtBean.targetHolder}" 
														  blParticipant="true" participant="#{transferSecuritiesMgmtBean.securityTransferOperation.targetParticipant.idParticipantPk}"
														  remoteListener="cmdHolderHelperTarget()"
														  disabled="#{transferSecuritiesMgmtBean.flagSameParticipant}"
														  required="true"  
														  rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}"
														  label="#{msgs['commons.label.cuiHolderTarget']}">
									</arkHelp:holderHelper> 
    								<p:message for="idCuiTargetHolder:idCuiTargetHolder" display="icon" id="msgHolderTarget" rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}"/>
									<p:remoteCommand name="cmdHolderHelperTarget" actionListener="#{transferSecuritiesMgmtBean.validTargetHolder()}" rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}"
													 process="@this idTargetParticipant" update="frmCustody:fldsFiltros" />
									</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['commons.label.AccountHolderTarget']} (*)" styleClass="required-field" 
													  rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}"/></td>
									<td colspan="3">
									
										<p:outputPanel id="idHelperAccountTarget" rendered="#{transferSecuritiesMgmtBean.flagTargetSource or transferSecuritiesMgmtBean.flagSameParticipant}">
											<p:inputText disabled="true" rendered="#{transferSecuritiesMgmtBean.lstTargetAccountTo.size() == 0}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountTarget"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px"
												     	 rendered="#{transferSecuritiesMgmtBean.lstTargetAccountTo.size()>0}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{transferSecuritiesMgmtBean.lstTargetAccountTo}" var="account"
												     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
													 	 selection="#{transferSecuritiesMgmtBean.targetAccountTo}"
													 	 disabledSelection="#{account.disabled}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column selectionMode="single" style="width:18px"  disabledSelection="#{account.disabled}" /> 
												<p:ajax event="rowSelectRadio" listener="#{transferSecuritiesMgmtBean.validTargetHolderAccount()}" update=":frmCustody, :frmCustody:idHelperAccountTarget :opnlDialogs :opnlGenericDialogs" />
												
												<p:column headerText="#{msgs['commons.datatable.account.number']}" styleClass="content-center" style="width:70px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 4px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
												
												<f:facet name="footer">  
										            <h:outputText value="#{transferSecuritiesMgmtBean.lstTargetAccountTo.size()} #{msgs['lbl.results']}" 
										            			  style="align:left;"/>  
										        </f:facet> 
												
										</p:dataTable>
										
										</p:outputPanel>
									
									</td>
								</tr>
								<tr>
									<td height="3px"></td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['tdv.btn.addsecurity']} (*)" styleClass="required-field" rendered="#{transferSecuritiesMgmtBean.flagTargetSource}"/></td>
									<td colspan="2">	
										<arkHelp:securityHelper id="addSecurities" rendered="#{transferSecuritiesMgmtBean.flagTargetSource}"   
																remoteListener="validSecuritieTarget()"
																security="#{transferSecuritiesMgmtBean.securityTransferOperation.securities}" />
										<p:remoteCommand name="validSecuritieTarget" actionListener="#{transferSecuritiesMgmtBean.validateBalance}" 
													     process="@this" update="@this" />     
									</td>
									<td>
										<p:commandButton id="idButtonInsert" icon="ui-add" value="#{msgs['tdv.btn.addsecurity']}" 
														 rendered="#{transferSecuritiesMgmtBean.flagTargetSource}"
														 action="#{transferSecuritiesMgmtBean.AddBlankHolderOriginBalances}"
														 process="@this, frmCustody:addSecurities"
														 update="@this frmCustody :opnlDialogs" />
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
									
										<p:commandButton id="btnSearch" icon="fa fa-search" value="#{gmsgs['btn.search']}" 
														 rendered="#{transferSecuritiesMgmtBean.flagSearch}"
														 disabled="#{transferSecuritiesMgmtBean.flagTargetSource}"
														 action="#{transferSecuritiesMgmtBean.searchHolderOriginBalances}"  
														 update="frmCustody opnlDialogs" /> 
														 
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
										
										
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this" immediate="true"  
														 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" 
														 actionListener="#{transferSecuritiesMgmtBean.cleanRegistryScreen}" update="frmCustody"
														 >
										</p:commandButton>
														 
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
										
										<p:commandButton id="btnReturn" icon="fa fa-undo" value="#{gmsgs['btn.back']}" 
														 action="#{transferSecuritiesMgmtBean.backViewWithOutValidation}"  
														 immediate="true" process="@form" 
														 update="frmCustody" 
														 onclick="if(isModifiedFormForBack(this))return false;"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlRegisterFound">
						<ui:remove>
							<marketFact:marketfactBalance id="balancemarket1" bean="#{transferSecuritiesMgmtBean}"  
														  method="selectMarketFactBalance" parameter="holderMarketFactBalance">
							</marketFact:marketfactBalance>
						</ui:remove>		
										
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{not empty transferSecuritiesMgmtBean.lstHolderAccountBalance}">
									
							<p:dataTable id="dtbResult" 
									     paginator="true" rows="20" paginatorPosition="top"
										 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									     paginatorTemplate="#{msgs['dtb.paginator.template']}"
									     rowsPerPageTemplate="#{cons['dtb.rows.per.page.template.two']}"
										 value="#{transferSecuritiesMgmtBean.dataModelHolderAccountBalance}" var="holderAccountBalance"
									     rowKey="#{holderAccountBalance.id}"  rowIndexVar="rIndx"
										 selection="#{transferSecuritiesMgmtBean.arrHolderAccountBalance}">
									
									<p:columnGroup type="header">
										<p:row>
											<p:column headerText="#{gmsgs['security.lbl.code']}" sortBy="#{holderAccountBalance.id.idSecurityCodePk}" />
											
											<p:column headerText="#{gmsgs['security.col.class']}" 
													  sortBy="#{transferSecuritiesMgmtBean.parametersTableMap[holderAccountBalance.security.securityClass].text1}"/>
													  
											<p:column headerText="#{msgs['tdv.datatable.description']}" sortBy="#{holderAccountBalance.security.description}" />
											<p:column headerText="#{msgs['tdv.datatable.totalbalance']}" sortBy="#{holderAccountBalance.totalBalance}"/> 
											<p:column headerText="#{msgs['tdv.datatable.availablebalancelineal']}" sortBy="#{holderAccountBalance.availableBalance}"/>
											<p:column headerText="#{msgs['tdv.datatable.transferamount']}"/> 
											<p:column rendered="#{transferSecuritiesMgmtBean.flagTargetSource}" headerText="#{msgs['tdv.datatable.remove']}" />
											<p:column headerText=" " selectionMode="multiple" />
										</p:row>
									</p:columnGroup>
									
									<p:column style="text-align:center;">
										<arkHelp:securities-help securityCode="#{holderAccountBalance.id.idSecurityCodePk}" link="true" icon="false" />
									</p:column>
									
									<p:column>
										<h:outputText value="#{transferSecuritiesMgmtBean.parametersTableMap[holderAccountBalance.security.securityClass].text1}" />
									</p:column>

									<p:column>
										<p:outputPanel rendered="#{!transferSecuritiesMgmtBean.flagTargetSource}">
										<h:outputText value="#{holderAccountBalance.security.description}"/> 
										</p:outputPanel>
										<p:outputPanel rendered="#{transferSecuritiesMgmtBean.flagTargetSource}">
											<h:outputText value="#{holderAccountBalance.security.description}" />
										</p:outputPanel>
									</p:column>

									<p:column style="text-align: right;">
										<h:outputText value="#{holderAccountBalance.totalBalance}">
											<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
										</h:outputText>
									</p:column>

									<p:column style="text-align: right;">
										<h:outputText value="#{holderAccountBalance.availableBalance}">
											<f:convertNumber pattern="#{cons['pattern.quantity']}" 
															 locale="#{cons['conv.number.locale']}"/> 
										</h:outputText>
									</p:column>
									
									<p:column style="text-align: center;">
									
										<p:outputPanel rendered="#{!transferSecuritiesMgmtBean.flagTargetSource}">
											
											<p:inputText style="text-align:right;" value="#{holderAccountBalance.transferAmmount}" maxlength="12" size="12" 
														 disabled="#{(holderAccountBalance.security.dpfSecurityClass || holderAccountBalance.security.dpaSecurityClass)}" >
												<p:keyFilter regEx="#{cons['exp.regular.numeric.amount']}"/>
												<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 

											</p:inputText>
											<ui:remove>
												<h:commandButton value="..." disabled="#{holderAccountBalance.selected == false}" styleClass="#{holderAccountBalance.styleClassButton}">
													<p:ajax listener="#{transferSecuritiesMgmtBean.showMarketFactUI(holderAccountBalance)}" process="@this" event="click" 
															disabled="#{holderAccountBalance.selected == false}" update=":frmCustody:pnlRegisterFound" />
												</h:commandButton>
											</ui:remove>
										</p:outputPanel>
										<p:outputPanel rendered="#{transferSecuritiesMgmtBean.flagTargetSource}" >
										
											<p:inputText style="text-align:right;width:180px !important" value="#{holderAccountBalance.transferAmmount}" 
														 maxlength="12" size="12" disabled="#{holderAccountBalance.selected == false || holderAccountBalance.disabled==true}">
											<p:keyFilter regEx="#{cons['exp.regular.numeric.amount']}"/>
											 <f:convertNumber pattern="#{cons['pattern.quantity']}"  locale="#{cons['conv.number.locale']}"/> 
											
									        <p:ajax event="blur" listener="#{transferSecuritiesMgmtBean.validTransferAmmountTarget(holderAccountBalance)}" 
															update=":frmCustody:pnlRegisterFound"  />
											</p:inputText>
										</p:outputPanel>
									</p:column>
								
									<p:column style="text-align: center;" rendered="#{transferSecuritiesMgmtBean.flagTargetSource}">
									
										<p:commandButton icon="ui-remove"  update=":frmCustody:pnlRegisterFound" 
														 action="#{transferSecuritiesMgmtBean.RegisterRemoveData(holderAccountBalance)}"></p:commandButton>
									</p:column>
									
									<p:column selectionMode="multiple" style="width:18px" /> 
								  
									<p:ajax event="rowSelectCheckbox" listener="#{transferSecuritiesMgmtBean.checkHolderAccountBalance}" update=":frmCustody:pnlRegisterFound :opnlDialogs" />
									<p:ajax event="rowUnselectCheckbox" listener="#{transferSecuritiesMgmtBean.uncheckHolderAccountBalance}" update=":frmCustody:pnlRegisterFound :opnlDialogs" />
									<p:ajax event="toggleSelect" process="@this" listener="#{transferSecuritiesMgmtBean.massiveCheckHolderAccountBalance}" update=":frmCustody:pnlRegisterFound :opnlDialogs" />
									
									<f:facet name="footer"> 
						             <div style="width:100%; text-align:left">        
						             <h:outputLabel value="#{transferSecuritiesMgmtBean.dataModelHolderAccountBalance.rowCount} #{msgs['lbl.results']}" 
						             style="font-weight:bold;"/>
						             </div>
						            </f:facet>
							        
							</p:dataTable>
							
						</p:fieldset>
						
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{!transferSecuritiesMgmtBean.registersFound}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
													rendered="#{!(transferSecuritiesMgmtBean.dataModelHolderAccountBalance.rowCount >= 1)}"
													style="font-weight:bold;"/>
						</p:fieldset>
						
						</p:outputPanel>	
					</td>
				</tr>
				<tr>
					<td  align="center">
					<br/>
					<p:commandButton id="btnSave" icon="fa fa-save" value="#{gmsgs['btn.save']}" 
					 	 rendered="#{transferSecuritiesMgmtBean.flagRegister and not empty transferSecuritiesMgmtBean.lstHolderAccountBalance}"
					 	 action="#{transferSecuritiesMgmtBean.saveConfirm()}"
					 	 update ="opnlDialogs :opnlGenericDialogs" />
					</td>
				</tr>
				
			</table>
		</h:form>

	<!-- Alters -->
	
	<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			<p:confirmDialog widgetVar="alterValidationWidget" id="alterValidation" 
							 message="#{bodyMessageView}" header="#{headerMessageView}"
							 closable="false"
	                 severity="info" >  
	        	<h:panelGrid width="100%" border="0" styleClass="cleanTable"
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="#{transferSecuritiesMgmtBean.confirmActions()}"
		        				 update=":frmCustody" > 
		        	</p:commandButton>   
		        </h:panelGrid>          
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()"
								immediate="true" process="@this" 
								action="#{transferSecuritiesMgmtBean.confirmAlertActions()}" update="@form :opnlGenericDialogs" />
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWAskDialog').hide();return false;" />
			</p:confirmDialog>	
		
	    	
	    	</h:form>
	</p:outputPanel>

	</ui:define>
</ui:composition>
</html>