<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.custody.type.TransferSecuritiesStateType" var="transferStateType"/>
	<p:importConstants type="com.pradera.model.custody.type.SecuritiesTransferType" var="transferSecurityType"/>
	<style>
		.cleanTable{
			background: none;
			border: none 0px;
			margin: 0px;
			padding: 0px;
		}
		.cleanTable tr td{
			background: none;
			border: none 0px;
			margin: 0px;
			padding: 0px;
		}
	</style>
		<h:form id="frmCustody">
			<table width="100%" >
			
			<p:selectOneRadio id="customRadio" value="#{transferSecuritiesMgmtBean.radioSelected}" layout="custom">  
		        <f:selectItem itemLabel="" itemValue="2" />  
		        <f:selectItem itemLabel="" itemValue="1" />
		        <p:ajax update="frmCustody"
		        		listener="#{transferSecuritiesMgmtBean.radioSelectEvent()}" 
		        		event="change"
		        		partialSubmit="false"
		        		process="@this"/>
		    </p:selectOneRadio>
			<tr>
				<td align="left">
					<h:outputText value="#{msgs['transferVD.title.admTrasferVD']}" styleClass="title-page" />
				</td>
				<td align="right">
					<p:commandButton value="#{msgs['tvd.legend.search']}" icon="fa fa-edit" rendered="#{transferSecuritiesMgmtBean.flagRegister}"
							action="#{transferSecuritiesMgmtBean.postConstructorNew}" process="@this" immediate="true" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.search']}">
						<table width="100%">
							<tr>
								<td width="25px" rowspan="1"><p:radioButton id="optSolicitud" for="customRadio" itemIndex="0"/></td>
								<td width="150px"><h:outputText value="#{msgs['commons.label.solicitudNumber']}" /></td>
								<td width="450px">
									<h:panelGrid columns="2" id="panelSolicitudNumber" cellpadding="0" cellspacing="0" >
									<p:inputText id="solicitudNumber" maxlength="10" styleClass="content-right"
													value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.custodyOperation.operationNumber}"
													disabled="#{transferSecuritiesMgmtBean.radioSelected==1}">
									<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
									<p:ajax event="change" update="@this, frmCustody:solicitudNumber" listener="#{transferSecuritiesMgmtBean.solNumberValid}"></p:ajax>
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
									<p:message display="icon" for="solicitudNumber" id="msgSolicitudNumber"/>
									</h:panelGrid>
								</td>
								<td width="25px"><p:radioButton id="optSearch" for="customRadio" itemIndex="1"/></td>
								<td width="150px"><h:outputText value="#{msgs['commons.label.transferType']}" /></td>
								<td>
									<p:selectOneMenu 	id="idTransfertype" value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.transferType}" 
														disabled="#{transferSecuritiesMgmtBean.radioSelected==2}"
													 	label="#{msgs['commons.label.transferType']}">
										<f:selectItem 	itemLabel="#{gmsgs['cbo.opt.selectlarge']}" itemValue="" />
										<f:selectItems 	value="#{transferSecuritiesMgmtBean.lstTransferType}" var="transferType" 
														itemLabel="#{transferType.parameterName}" itemValue="#{transferType.parameterTablePk}" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" event="change" update="@this frmCustody"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.participant']}" /></td>
								<td>
									<p:selectOneMenu 	id="idParticipantOrigin" value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}" 
													 	disabled="#{transferSecuritiesMgmtBean.flagSearchParticipant or transferSecuritiesMgmtBean.radioSelected==2}"
													 	style="width: 355px;">
										<f:selectItem 	itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems 	value="#{transferSecuritiesMgmtBean.lstParticipant}" var="part" 
														itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.validParticipant}" event="change" update="@this, frmCustody:idHolderAccount, frmCustody:idIsinPanel" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" event="change" update="frmCustody"/>
									</p:selectOneMenu>
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.state']}" /> </td>
								<td>
									<p:selectOneMenu id="idState" value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.state}" 
													disabled="#{transferSecuritiesMgmtBean.radioSelected==2}" style="width: 140px;" >
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems value="#{transferSecuritiesMgmtBean.lstTransferState}" var="transferState" 
											itemLabel="#{transferState.parameterName}" itemValue="#{transferState.parameterTablePk}" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr> 
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.cuiHolder']}" /></td>
								<td>
									<arkHelp:holderHelper id="idCuiHolder" holder="#{transferSecuritiesMgmtBean.sourceHolder}"
									blParticipant="true"  participant="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}" 
														  disabled="#{transferSecuritiesMgmtBean.radioSelected==2}"
														  remoteListener="cmdHolderHelper()">
									</arkHelp:holderHelper> 
									
    								<p:remoteCommand name="cmdHolderHelper" actionListener="#{transferSecuritiesMgmtBean.applyStandarOwa}" 
													 process="@this idParticipantOrigin" update="frmCustody:idHolderAccount" />
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.AccountHolder']}" /></td>
								<td>
									<p:outputPanel id="idHolderAccount">
									<arkHelp:accountHelper id="idOriginAccountNumber" 
											holderAccount="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.holderAccount}"
        									blHolder="true" holder="#{transferSecuritiesMgmtBean.sourceHolder}" 
        									participant="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}"
        									disabled="#{transferSecuritiesMgmtBean.radioSelected==2}"
        									remoteListener="cmdHolderAccountHelper()"/>
 
    								<p:remoteCommand name="cmdHolderAccountHelper" actionListener="#{transferSecuritiesMgmtBean.validHolderAccount}" 
													 process="@this" update="@this, frmCustody:idParticipantOrigin, frmCustody:idIsinPanel" 
													 oncomplete="cmdapplyStandarOwa()" />
													         
    								<p:remoteCommand name="cmdapplyStandarOwa" actionListener="#{transferSecuritiesMgmtBean.applyStandarOwa}" 
													 process="@this" update="frmCustody" />
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['tdv.lable.securityClass']}" /></td>
								<td colspan="4">
									<p:selectOneMenu id="securityClass" disabled="#{transferSecuritiesMgmtBean.radioSelected==2}"
													 value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.securityClass}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems value="#{transferSecuritiesMgmtBean.lstSecurityClass}" var="instrument" 
													   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
													   itemValue="#{instrument.parameterTablePk}" />
										<p:ajax update="@this, frmCustody, frmCustody:idIsinPanel" listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{gmsgs['security.lbl.code']}" /></td>
								<td colspan="4">
									<p:outputPanel id="idIsinPanel">
										<h:panelGrid columns="2" id="pnlGrilIsin">
											<arkHelp:securities-acc-full
												id="idSourceSecurity"												
												remoteListener="validSecuritieOrigin()" 
												value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.securities}"
												partCode="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}"
												holderAccount="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.holderAccount}"
												validatorName="com.pradera.commons.view.validators.InputTextValidator"
												description="true"
												disabled="#{ transferSecuritiesMgmtBean.radioSelected==2 or transferSecuritiesMgmtBean.searchSecurityTransferOperation.holderAccount.idHolderAccountPk == null}"/>
											<arkHelp:securities-help
												securityCode="#{transferSecuritiesMgmtBean.securityTransferOperation.securities.idSecurityCodePk}"
												id="helpSourceSecurity" />
											<p:remoteCommand name="validSecuritieOrigin" actionListener="#{transferSecuritiesMgmtBean.applyStandarOwa}" 
												     process="@this" update="@this frmCustody :opnlDialogs" />
											<p:message for="idSourceSecurity" id="msgValor" display="icon" />
										</h:panelGrid>
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.initialDate']}(*)" styleClass="required-field"  /> </td>
								<td>
									<p:calendar id="idInitDateCalendar" 
												readonlyInput="true" 
												mindate="#{transferSecuritiesMgmtBean.minTime}"
												navigator="true" maxdate="#{transferSecuritiesMgmtBean.nowTime}"
												value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.custodyOperation.operationInit}" 
												showOn="both" pattern="#{msgs['dateFormat']}" 
												disabledWeekends="true"
												size="10"
												disabled="#{transferSecuritiesMgmtBean.radioSelected==2}">
									<p:ajax event="dateSelect" process="@this" update="@this, idInitDateCalendar, idEndDateCalendar"  
											listener="#{transferSecuritiesMgmtBean.onchangeInitialDate()}"/>
									<p:ajax listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:calendar>
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.endDate']}(*)" styleClass="required-field"  /> </td>
								<td>
									<p:calendar id="idEndDateCalendar" 
												readonlyInput="true" 
												size="10"
												disabledWeekends="true"
												mindate="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.custodyOperation.operationInit}"
												navigator="true" maxdate="#{transferSecuritiesMgmtBean.nowTime}"
												value="#{transferSecuritiesMgmtBean.searchSecurityTransferOperation.custodyOperation.operationEnd}" 
												showOn="both" pattern="#{msgs['dateFormat']}" 
												disabled="#{transferSecuritiesMgmtBean.radioSelected==2}">
									<p:ajax event="dateSelect" process="@this" update="@this, idInitDateCalendar, idEndDateCalendar"  
											listener="#{transferSecuritiesMgmtBean.onchangeEndDate()}"/>
									<p:ajax listener="#{transferSecuritiesMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:calendar>
								</td>
							</tr>
							<tr>
								<td colspan="6" align="center">
							
									<p:commandButton id="btnSearchWO" icon="fa fa-search" value="#{gmsgs['btn.search']}"
													 action="#{transferSecuritiesMgmtBean.searchWithOperationNumber()}"
													 rendered="#{transferSecuritiesMgmtBean.flagSearch and transferSecuritiesMgmtBean.radioSelected==2}"
													 update="frmCustody:pnlRegisterFound, frmCustody:solicitudNumber" /> 
													 		
									<p:commandButton id="btnSearch" icon="fa fa-search" value="#{gmsgs['btn.search']}"
													 action="#{transferSecuritiesMgmtBean.searchSolicitud()}"
													 process="frmCustody:fldsFiltros"
													 rendered="#{transferSecuritiesMgmtBean.flagSearch and transferSecuritiesMgmtBean.radioSelected==1}"
													 update="frmCustody:pnlRegisterFound" />
													 
									<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />	
												 
									<p:commandButton id="btnClean" icon="fa fa-trash" action="#{transferSecuritiesMgmtBean.clearSearchTransfer()}" 
													 value="#{gmsgs['btn.clean']}" update="@form" process="@this" immediate="true"/> 
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p:outputPanel id="pnlRegisterFound">
					
					<p:outputPanel rendered="#{not empty transferSecuritiesMgmtBean.lstTransferSecurityAvailable}">
					  
						<arkPriv:privileges id="praderaPrivileges"				 
									 		actionApprove="#{transferSecuritiesMgmtBean.executeSearchAction('approve')}"
									 		actionAnnular="#{transferSecuritiesMgmtBean.executeSearchAction('annular')}"
									 		actionReview="#{transferSecuritiesMgmtBean.executeSearchAction('review')}"
									 		actionReject="#{transferSecuritiesMgmtBean.executeSearchAction('reject')}"
									 		actionConfirm="#{transferSecuritiesMgmtBean.executeSearchAction('confirm')}"
											actions="#{userPrivilege.userAcctions}"
											renders="#{userPrivilege.privilegeComponent}"/>					  
					</p:outputPanel>				 			
					
					
					
					<marketFact:marketfactBalance id="balancemarket1" bean="#{transferSecuritiesMgmtBean}"  
												  method="selectMarketFactBalanceSearch" parameter="holderMarketFactBalance">
					</marketFact:marketfactBalance>
									 		
					<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
								rendered="#{not empty transferSecuritiesMgmtBean.lstTransferSecurityAvailable}">
					
					
						<p:dataTable id="dtbResult" 
								paginator="true" rows="20" paginatorPosition="top"
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{msgs['dtb.paginator.template']}"
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template.two']}" 
								value="#{transferSecuritiesMgmtBean.dataModelTransferSecurityAvailable}" 
								var="transferSecurityAvailable" rowIndexVar="rIndx"
								rowKey="#{transferSecurityAvailable.custodyOperation.operationNumber}"
								selection="#{transferSecuritiesMgmtBean.arrSecurityTransferOperation}">
								
								<p:columnGroup type="header">
									<p:row>
										<p:column selectionMode="multiple" style="width:18px" />
										<p:column headerText="#{msgs['tvd.tab.numberSol']}" sortBy="#{transferSecurityAvailable.custodyOperation.operationNumber}" />
										<p:column headerText="#{msgs['tvd.tab.regDate']}" sortBy="#{transferSecurityAvailable.custodyOperation.operationDate}" />
										<p:column headerText="#{msgs['tvd.tab.originParticipant']}"  sortBy="#{transferSecurityAvailable.sourceParticipant.displayCodeMnemonic}"/> 
										<p:column headerText="#{msgs['tvd.tab.originAccount']}" style="width:80px" sortBy="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}"/>
										<p:column headerText="#{msgs['tvd.tab.targetParticipant']}" sortBy="#{transferSecurityAvailable.targetParticipant.displayCodeMnemonic}"/> 
										<p:column headerText="#{msgs['tvd.tab.targetAccount']}" style="width:80px" sortBy="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" />
										<p:column headerText="#{msgs['tvd.tab.holderName']}" style="width:100px" /> 
										<p:column headerText="#{msgs['commons.label.securityClassKey']}" sortBy="#{transferSecurityAvailable.securities.idSecurityCodePk}"/>
										<p:column headerText="#{msgs['tvd.tab.quantity']}" sortBy="#{transferSecurityAvailable.quantityOperation}"/>
										<p:column style="width:60px">
											<f:facet name="header">
									             <h:outputText value="#{msgs['tvd.tab.multireview']}"/>
									             <h:selectBooleanCheckbox rendered="#{transferStateType.APROBADO.code eq transferSecuritiesMgmtBean.searchSecurityTransferOperation.state and
									             									  transferSecurityType.ORIGEN_DESTINO.code eq transferSecuritiesMgmtBean.searchSecurityTransferOperation.transferType}"
									             									  value="#{transferSecuritiesMgmtBean.reviewAll}">
									             	<p:ajax event="change" process="@this" listener="#{transferSecuritiesMgmtBean.reviewAllTransferOperation}"
									             			update=":frmCustody:dtbResult"/>
									             </h:selectBooleanCheckbox>
									         </f:facet>
										</p:column>
										<p:column headerText="#{msgs['tvd.tab.state']}" sortBy="#{transferSecurityAvailable.stateDescription}"/>
									</p:row>
								</p:columnGroup>
								
								<p:column selectionMode="multiple" style="width:18px" />
									<p:ajax event="rowSelectCheckbox" listener="#{transferSecuritiesMgmtBean.checkSecurityTransferAvailable}" update=":frmCustody:pnlRegisterFound" />
									<p:ajax event="rowUnselectCheckbox" listener="#{transferSecuritiesMgmtBean.unCheckSecurityTransferAvailable}" update=":frmCustody:pnlRegisterFound" />
								
								<p:column style="text-align: center;">
									<p:commandLink style="color:blue" action="#{transferSecuritiesMgmtBean.postConstructorView(transferSecurityAvailable,'none')}"  
									process="@this" immediate="true" value="#{transferSecurityAvailable.custodyOperation.operationNumber}" />
									
								</p:column>
								
								<p:column style="text-align: center;">
									<h:outputText  value="#{transferSecurityAvailable.custodyOperation.operationDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>
								
								<p:column style="text-align: left;">
									<h:outputText  value="#{transferSecurityAvailable.sourceParticipant.displayCodeMnemonic}" title="#{transferSecurityAvailable.sourceParticipant.description}"/>
								</p:column>
								
								<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesMgmtBean.isDepositary or (transferSecuritiesMgmtBean.isParticipant and transferSecuritiesMgmtBean.participantLogin.equals(transferSecurityAvailable.sourceParticipant.idParticipantPk))}">
										
										<h:inputText value="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}" style="width:80px !important"
													 rendered="#{(transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource)}"
													 disabled="true">
										</h:inputText>
										
										
										<p:selectOneMenu id="idAccountSource" value="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}"  
														 disabled="#{transferSecuritiesMgmtBean.disabledCboSource(transferSecurityAvailable.custodyOperation.operationNumber)}" style="text-align:left !important;align:left !important;"
													 	 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}">
										<f:selectItem   itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""  style="text-align:left !important;align:left !important; width:80px !important;"/>
										<f:selectItems  value="#{transferSecuritiesMgmtBean.lstSourceAccountToSearch(transferSecurityAvailable.custodyOperation.operationNumber)}" var="transferState"  style="text-align:left !important;align:left !important;"
														itemLabel="#{transferState.accountNumber}" itemValue="#{transferState.accountNumber}" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.settingSourceAccountContrapart(transferSecurityAvailable)}" event="change" 
													update=":frmCustody:pnlRegisterFound" />
										</p:selectOneMenu>
									
											 
									</p:outputPanel>
								</p:column>
								
								<p:column style="text-align: left;">
									<h:outputText value="#{transferSecurityAvailable.targetParticipant.displayCodeMnemonic}" title="#{transferSecurityAvailable.targetParticipant.description}"/>
								</p:column>
								
								<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesMgmtBean.isDepositary or (transferSecuritiesMgmtBean.isParticipant and transferSecuritiesMgmtBean.participantLogin.equals(transferSecurityAvailable.targetParticipant.idParticipantPk))}">
									
									<h:inputText value="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" style="width:80px !important"
												 rendered="#{(transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and !transferSecurityAvailable.flagTargetSource)}"
												 disabled="true">
									</h:inputText>
										
									<p:selectOneMenu id="idAccountTarget" value="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" 
													 disabled="#{transferSecuritiesMgmtBean.disabledCboTarget(transferSecurityAvailable.custodyOperation.operationNumber)}" style="text-align:left !important;align:left !important;"
													 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and !transferSecurityAvailable.flagTargetSource}">
										<f:selectItem   itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" style="text-align:left !important;align:left !important; width:80px !important;" />
										<f:selectItems  value="#{transferSecuritiesMgmtBean.lstTargetAccountToSearch(transferSecurityAvailable.custodyOperation.operationNumber)}" var="transferState"  style="text-align:left !important;align:left !important;"
														itemLabel="#{transferState.accountNumber}" itemValue="#{transferState.accountNumber}" />
										<p:ajax listener="#{transferSecuritiesMgmtBean.settingTargetAccountContrapart(transferSecurityAvailable)}" event="change" 
												update=":frmCustody:pnlRegisterFound" />
									</p:selectOneMenu>
											
									</p:outputPanel>		
								</p:column>
								
								<p:column style="text-align: left;">
								<p:outputPanel rendered="#{transferSecurityAvailable.transferType == 526}">
									<h:outputText value="#{transferSecurityAvailable.targetHolderAccount.accountRntAndDescription}" escape="false" />
								</p:outputPanel>
								<p:outputPanel rendered="#{transferSecurityAvailable.transferType == 525 or transferSecurityAvailable.transferType == 196}">
									<h:outputText value="#{transferSecurityAvailable.sourceHolderAccount.accountRntAndDescription}" escape="false" />
								</p:outputPanel>
								</p:column>
								
								<p:column style="text-align: left;">
									<arkHelp:securities-help securityCode="#{transferSecurityAvailable.securities.idSecurityCodePk}" link="true" icon="false" />
								</p:column>
								
								<p:column style="text-align: right;">
									<h:outputText value="#{transferSecurityAvailable.quantityOperation}" 
												  rendered="#{ (transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource)}">
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
								    </h:outputText>
								    
								    <h:panelGrid columns="2" width="100%" border="0" cellpadding="0" cellspacing="0" styleClass="cleanTable"
								    			 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}">
	        		
						    		<p:inputText style="text-align:right;width:100px !important" value="#{transferSecurityAvailable.quantityOperation}" disabled="true" 
												 maxlength="12" size="12" rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}"  
												 styleClass="amount-inputfield cashAmount-inputField">
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							        </p:inputText>
						    		<h:commandButton value="..." rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}"
													 styleClass="#{transferSecurityAvailable.styleClassButton}"
													 disabled="#{transferSecurityAvailable.sourceHolderAccount.idHolderAccountPk==null }">
										<p:ajax listener="#{transferSecuritiesMgmtBean.showMarketFactUISearch(transferSecurityAvailable)}" process="@this" event="click" />
									</h:commandButton> 
									</h:panelGrid>
								</p:column>
								
								<p:column style="text-align: center;align: center;">
									<p:selectBooleanCheckbox value="#{transferSecurityAvailable.checkForReview}" rendered="#{!transferSecurityAvailable.enabledForReview}" >
							            <p:ajax update=":frmCustody:dtbResult" listener="#{transferSecuritiesMgmtBean.checkForReview(transferSecurityAvailable)}"  />
							        </p:selectBooleanCheckbox>
							        
							        <p:selectBooleanCheckbox value="#{!transferSecurityAvailable.checkForReview}" 
												        	 disabled="true" rendered="#{transferSecurityAvailable.enabledForReview}" >
							        </p:selectBooleanCheckbox>
						      	</p:column>
								
								<p:column style="text-align: center;">
									<h:outputText value="#{transferSecurityAvailable.stateDescription}"/>
								</p:column>

					 			<f:facet name="footer"> 
					             <div style="width:100%; text-align:left">        
					             <h:outputLabel value="#{transferSecuritiesMgmtBean.lstTransferSecurityAvailable.size()} #{msgs['lbl.results']}" 
					             style="font-weight:bold;"/>
					             </div>
					            </f:facet>
						</p:dataTable>
						
					</p:fieldset>


						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{!transferSecuritiesMgmtBean.registersFound}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold;"/>
						</p:fieldset>
														
					</p:outputPanel>	
				</td>
			</tr>
			</table>
		</h:form>

	<!-- Alters -->
	<p:outputPanel id="opnlDialogs">
		<h:form id="formPopUp">
			
			<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" action="#{transferSecuritiesMgmtBean.confirmAlertActions()}" 
								 process="@this" immediate="true"
								 update="@form"/>
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
			</p:confirmDialog>
			
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" value="#{gmsgs['btn.accept']}" 
			         				 process="@this" immediate="true" 
				        			 oncomplete="PF('alterValidationWidget').hide()"
			        				 action="#{transferSecuritiesMgmtBean.confirmActions()}"
			        				 update=":frmCustody" > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    	</p:confirmDialog> 
	    	
	    	<p:dialog	id="alterReject" closable="false" resizable="false" header="#{headerMessageView}" 
						severity="alert" widgetVar="alterRejectWidget" >  
						
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	        		<tr>
			    		<td><h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']}" /></td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['error.accreditation.certificate.required']}" 
											 value="#{transferSecuritiesMgmtBean.intRejectMotive}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
					           <f:selectItems	value="#{transferSecuritiesMgmtBean.rejectMotiveList}" var="rejectMotive" 
					           					itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
		    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']}" styleClass="required-field" 
			    						  rendered="#{transferSecuritiesMgmtBean.intRejectMotive==transferSecuritiesMgmtBean.otherRejectMotiveId}" />
			    		</td>			    				    				    				
		    			<td>
							<p:inputText size="60" rendered="#{transferSecuritiesMgmtBean.intRejectMotive==transferSecuritiesMgmtBean.otherRejectMotiveId}" maxlength="60"
										 value="#{transferSecuritiesMgmtBean.strRejectMotive}" id="rejectMotiveOtherTxt" required="true"
										 requiredMessage="#{msgs['lbl.other.motive']}">
								<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />									
							</p:inputText>
						</td>   
						<td width="50px" align="right">
							<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon"
				    	 rendered="#{transferSecuritiesMgmtBean.intRejectMotive==transferSecuritiesMgmtBean.otherRejectMotiveId}" />
						</td>				    	
			    	</tr>		    		
	       			<tr>
	       				<td colspan="2" align="center">       
					        <p:commandButton icon="fa fa-save" value="#{gmsgs['btn.save']}" 
					        			 	actionListener="#{transferSecuritiesMgmtBean.setRejectOrAnulledAllProperties()}"
					        			 	disabled="#{transferSecuritiesMgmtBean.intRejectMotive==null}"
					        			 	process="rejectPanel cnfIdCAskDialog"					        			 			        			 
				        				    update="rejectPanel cnfIdCAskDialog" /> 
				        	
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}"  
					        				 process="@this rejectPanel cnfIdCAskDialog"
					        				 actionListener="#{transferSecuritiesMgmtBean.closeRejectOrAnulledProperties()}"
					        			 	 onclick="PF('alterRejectWidget').hide()"				        			 
					        				 update="rejectPanel cnfIdCAskDialog :opnlDialogs" /> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
	    	
	    	
	    </h:form>
	</p:outputPanel>


	</ui:define>
</ui:composition>
</html>