<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">                			
<p:outputPanel id="opnlGenericDialogs">	
	    			
			<p:confirmDialog id="cnfFinTranLogin" message="#{bodyMessageView}" closable="false"  
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwFinTransaccionLogin">  
	        <h:form id="frmFinTranLogin"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="cmbConfirmTranOkLogin" 
		        				 	 value="Aceptar" action="loginRule" ajax="false"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog> 	    	        	    	
			
	 <p:confirmDialog widgetVar="killSession" closable="false" message="#{bodyMessageView}"  appendToBody="true" 
                     header="#{msgs['header.message.alert']}"  id="idCnfDialogKillSession" visible="true" rendered="false">
                <h:form id="frmKillSesDlg">
				<p:commandButton id="idCmdBtnKillSessOk" value="#{msgs['idl.time.btn.lable.ok']}"   ajax="false"   oncomplete="PF('killSession').hide()" />
				</h:form>
		</p:confirmDialog>
			
        <p:dialog id="dlgStatusCustom" widgetVar="statusDialogCustom" modal="true" resizable="false" draggable="false" closable="false">  
			<p:graphicImage library="img" name="loading/loading.gif" />  
		</p:dialog>
	    <p:confirmDialog id="cnfEndTransaction" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwEndTransaction" > 
	        <h:form id="frmEndTransaction"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
	        		        
			        <p:commandButton id="cmbConfirmTransactionOk" 
		        				 value="#{msgs['btn.accept']}" 
		        				 action="search"
		        				 ajax="false"
		                    > 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog>  
	    
	    <p:confirmDialog id="cnfEndTransactionSamePage" message="#{bodyMessageView}" 
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="cnfwEndTransactionSamePage" >  
	        <h:form id="frmEndTransactionSamePage"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="cmbConfirmTransactionOkSamePage" 
			        			 onclick="PF('cnfwEndTransactionSamePage').hide();"
		        				 value="#{msgs['btn.accept']}" 
		        				 type="button"> 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog> 	  
	    
	    <p:confirmDialog id="cnfMsgRequiredValidation"
	    		rendered="false" visible="true"
				message="#{msgs['message.data.required']}" 
				header="#{msgs['messages.alert']}"  
				severity="alert" widgetVar="cnfwMsgRequiredValidation" closable="false">  
	         <h:form id="frmMsgRequiredValidation">
	        <p:commandButton id="cmdAcceptRequiredValidation"
	        				 value="#{msgs['btn.accept']}"  type="button"
	        				 onclick="PF('cnfwMsgRequiredValidation').hide();"> 
	        </p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>      
    	
	 
	    
	    <p:confirmDialog id="cnfBackAdvanced"
				 		message="#{msgs['message.back']}"
						closable="false" rendered="false" 
						severity="alert" visible="true"
						header="#{msgs['messages.warning']}"   
						widgetVar="cnfwBackAdvanced">  
	    	<h:form id="frmRegresarAdvanced"> 
	    		<p:commandButton value="#{msgs['lbl.yes']}" ajax="false"
	    						 action="search"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton value="#{msgs['lbl.no']}"
	    						 onclick="PF('cnfwBackAdvanced').hide()"
	    						 type="button"/>
	    	</h:form>                   
	    </p:confirmDialog>
	    
	    <p:confirmDialog id="cnfCloseSession"
	    		rendered="false" visible="true"
	    		message="#{msgs['login.session.close.session.body']}"  
                header="#{msgs['login.session.close.session.header']}" severity="alert" widgetVar="cnfwCloseSession" closable="false"> 
			<h:form id="frmCloseSession">                                  
	        <p:commandButton value="#{msgs['btn.yes']}" ajax="false"
	        				 action="#{loginBean.closeSessionAction}"> 
	        </p:commandButton>  
	        <p:commandButton  value="#{msgs['btn.no']}" actionListener="#{loginBean.hideDialogs}" update=":opnlGenericDialogs"
	        		oncomplete="PF('cnfwCloseSession').hide();"/>
	        </h:form>                     
    	</p:confirmDialog>
    	
    	<p:confirmDialog id="cnfCloseSystem" 
    			message="#{bodyMessageView}"  rendered="false" visible="true"
                header="#{msgs['login.session.close.system.header']}" severity="alert" widgetVar="cnfwCloseSystem" closable="false">          
                <h:form id="frmSalirSistema">          
			        <p:commandButton id="cmbConfirmSalirSistema"
			        				 value="#{msgs['btn.yes']}" ajax="false"
			        				 action="#{loginBean.closeSystemAction}"> 
			        </p:commandButton>  
			        <p:commandButton  value="#{msgs['btn.no']}" 
			        	actionListener="#{loginBean.hideDialogs}" update=":opnlGenericDialogs"
	        			oncomplete="PF('cnfwCloseSystem').hide();" />  
		        </h:form>                   
    	</p:confirmDialog>
    	
    	<p:confirmDialog id="cnfGeneralMsgBusinessValidation"	rendered="false" visible="true"    		
				message="#{bodyMessageView}" closable="false"
				header="#{msgs['header.message.alert']}" 
				severity="alert" widgetVar="cnfwGeneralMsgBusinessValidation">  
	         <h:form id="frmMsgGeneralBusinessValidation">
	        <p:commandButton
	        				 value="#{msgs['btn.accept']}" type="button"
	        				 onclick="PF('cnfwGeneralMsgBusinessValidation').hide();"
	                    > 
	        </p:commandButton> 
	          </h:form>                      
	    </p:confirmDialog>	
	    
	   
	    
	    <p:dialog id="dlgFileUploadInvFile" 
	    widgetVar="dlgwFileUploadInvFile" closable="false"
	    draggable="false" resizable="false"
	    header="#{msgs['lbl.invalid.file']}" modal="true">
	<table class="files"> 
	    	<tr id="rowFuplContent" class="template-upload ui-state-error">
	    	</tr>
	    	<tr> 
	    		<td colspan="4" align="center"> 
	    			<p:commandButton id="cbmClose" value="#{msgs['btn.accept']}" 
					onclick="PF('dlgwFileUploadInvFile').hide();return false;"/>
	    		</td>
	    	</tr>
	   </table>
</p:dialog>
		    
	    <p:confirmDialog id="cnfModifiedFormSave" header="#{msgs['header.message.alert']}"
	    				 widgetVar="cnfwModifiedFormSave"
	    				 message="#{msgs['msg.modified.save']}"
	    				 closable="false"
	    				 >
	    	<p:commandButton id="cmbAccept" 
	    					 value="#{msgs['btn.accept']}"
	    					 onclick="PF('cnfwModifiedFormSave').hide();return false;"
	    					 type="button"/>
	    </p:confirmDialog>
	    
	    <p:confirmDialog id="cnfMsgCustomValidation"
					     message="#{bodyMessageView}"
					     header="#{headerMessageView}" 
					     severity="alert" widgetVar="cnfwMsgCustomValidation" closable="false">  
	          <h:form id="frmMsgDateOkValidation">
			         <p:commandButton id="cmdAcceptCustomValidation"
						              value="#{msgs['btn.accept']}" type="button"
						              onclick="PF('cnfwMsgCustomValidation').hide()"> 
			         </p:commandButton> 
	           </h:form>                      
		 </p:confirmDialog>
		 </p:outputPanel>
	            
</ui:composition>