<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:composition>
	
	<p:remoteCommand name="validateInitialEndCalendar" process="@this" immediate="false" actionListener="#{reportDynamicFilterBean.validationInitialEndCalendar}">
	</p:remoteCommand>
	
	<p:remoteCommand name="validateOldInitialEndCalendar" process="@this" immediate="false" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}">
		<f:setPropertyActionListener value="validateInitialEndCalendar"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="date_initial" assignTo="#{reportDynamicFilterBean.parameters['date_initial']}"/>
        <pe:assignableParam name="date_end" assignTo="#{reportDynamicFilterBean.parameters['date_end']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validateHolderParticipant" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="validateHolderParticipant"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="participant" assignTo="#{reportDynamicFilterBean.parameters['participants']}"/>
        <pe:assignableParam name="holder" assignTo="#{reportDynamicFilterBean.parameters['holders']}"/>
        <pe:assignableParam name="update_components" assignTo="#{reportDynamicFilterBean.parameters['update_components']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validateSecurityParticipant" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="validateSecurityParticipant"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="participant" assignTo="#{reportDynamicFilterBean.parameters['participants']}"/>
        <pe:assignableParam name="security" assignTo="#{reportDynamicFilterBean.parameters['securities']}"/>
        <pe:assignableParam name="update_components" assignTo="#{reportDynamicFilterBean.parameters['update_components']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="updateIssuerHelper" process="@this" actionListener="#{reportDynamicFilterBean.onUpdateIssuer}" update="@(.HELP_SECURITIES)">
		<pe:methodSignature parameters="java.lang.String"/>
		<pe:methodParam name="issuerName"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validateAccountParticipant" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="validateAccountParticipant"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="participant" assignTo="#{reportDynamicFilterBean.parameters['participants']}"/>
        <pe:assignableParam name="accounts" assignTo="#{reportDynamicFilterBean.parameters['accounts']}"/>
        <pe:assignableParam name="update_components" assignTo="#{reportDynamicFilterBean.parameters['update_components']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validateAccountNumberCUI" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" 
					  partialSubmit="true">
		<f:setPropertyActionListener value="validateAccountNumberCUI" target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="holderParam" assignTo="#{reportDynamicFilterBean.parameters['holders']}"/>
        <pe:assignableParam name="accountParam" assignTo="#{reportDynamicFilterBean.parameters['accounts']}"/>
        <pe:assignableParam name="update_components" assignTo="#{reportDynamicFilterBean.parameters['update_components']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validateOldPartAndHolderAndAccount" process="@this" immediate="true" 
					  actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="validatePartAndHolderAndAccount" target="#{reportDynamicFilterBean.nameValidationMethod}" />
		<pe:assignableParam name="participantParam" assignTo="#{reportDynamicFilterBean.parameters['participants']}"/>
        <pe:assignableParam name="holderParam" assignTo="#{reportDynamicFilterBean.parameters['holders']}"/>
        <pe:assignableParam name="accountParam" assignTo="#{reportDynamicFilterBean.parameters['accounts']}"/>
        <pe:assignableParam name="update_components" assignTo="#{reportDynamicFilterBean.parameters['update_components']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="validatePartAndHolderAndAccount" process="@this" immediate="true" 
					  actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="validatePartAndHolderAndAccount" target="#{reportDynamicFilterBean.nameValidationMethod}" />
	</p:remoteCommand>
	
	<p:remoteCommand name="loadConsolidateReportBilling" oncomplete="hideElementDynamicConsolidateReportBilling(filter_billing,billing_service,entity_collection)" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="loadConsolidateReportBilling"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
       <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['filter_search']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="updateTypeSearchBilling" oncomplete="dynamicComboReport(filter_search,filter_billing,billing_service,entity_collection)" 
	 process="@this" immediate="true" partialSubmit="true">
		<f:setPropertyActionListener value="updateTypeSearchBilling"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['filter_search']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="assignFilter" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}">
		<pe:assignableParam name="filterSearch" assignTo="#{reportDynamicFilterBean.filter_search}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="showHelperBillingReport" oncomplete="showHelperBilling(filter_billing,billing_service)" process="@this" immediate="true" 
		actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="showHelperBillingReport"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['comboServices']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="loadConsolidateCollectionReport" oncomplete="hideElementDynamicConsolidateCollectionRecord(issuer,participant,holder,other_number,afp)" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="loadConsolidateCollectionReport"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
       <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['entity_collection']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="setReferenceRate"  process="@this" immediate="true" 
					  actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<pe:assignableParam name="referenceRate" assignTo="#{reportDynamicFilterBean.referenceRate}"/>  
	</p:remoteCommand>
	<p:remoteCommand name="setServiceCode"  process="@this" immediate="true" 
					  actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<pe:assignableParam name="serviceCode" assignTo="#{reportDynamicFilterBean.serviceCode}"/>  
	</p:remoteCommand>
	
	<p:remoteCommand name="updateEntityCollection" oncomplete="dynamicComboConsolidateCollectionReport(entity_collection,issuer,participant,holder,other_number,afp)" 
	 process="@this" immediate="true" partialSubmit="true">
		<f:setPropertyActionListener value="updateEntityCollection"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['entity_collection']}"/>
	</p:remoteCommand>	
																	  
	<p:remoteCommand name="loadConsolidateBillingReport" oncomplete="hideElementDynamicConsolidateCollectionRecord(issuer,participant,holder,other_number)" process="@this" immediate="true" actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="loadConsolidateBillingReport"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
       <pe:assignableParam name="combo" assignTo="#{reportDynamicFilterBean.parameters['entity_collection']}"/>
	</p:remoteCommand>
	
	<p:remoteCommand name="loadTableListBySystem" process="@this" immediate="true" 
	actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="loadTableListBySystem"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />
        <pe:assignableParam name="system" assignTo="#{reportDynamicFilterBean.parameters['system']}"/>
        <pe:assignableParam name="table" assignTo="#{reportDynamicFilterBean.parameters['table']}"/>
        <pe:assignableParam name="column" assignTo="#{reportDynamicFilterBean.parameters['column']}"/>                 
	</p:remoteCommand>
	
	<p:remoteCommand name="loadColumnListByTable" process="@this" immediate="true" 
	actionListener="#{reportDynamicFilterBean.validationSimpleFilters}" partialSubmit="true">
		<f:setPropertyActionListener value="loadColumnListByTable"   
            target="#{reportDynamicFilterBean.nameValidationMethod}" />   
        <pe:assignableParam name="system" assignTo="#{reportDynamicFilterBean.parameters['system']}"/>     
        <pe:assignableParam name="table" assignTo="#{reportDynamicFilterBean.parameters['table']}"/>
        <pe:assignableParam name="column" assignTo="#{reportDynamicFilterBean.parameters['column']}"/>                 
	</p:remoteCommand>
	
	</ui:composition>
</html>