<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helperExtension">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
.pe-dynaform-label {
	text-align: left !important;
}
</style>
		<script>
	 $(window).on('load',function(){
		 $( "label" ).has( "span[class='pe-dynaform-label-rfi']" ).css( "font-weight", "bold" );
		 });
	</script>
		<f:view contentType="text/html">
			<f:metadata>
				<f:viewParam name="report_id"
					value="#{reportDynamicFilterBean.reportId}" />
				<f:event listener="#{reportDynamicFilterBean.load}"
					type="preRenderView"></f:event>
			</f:metadata>
			<h:outputText value="#{msgs['title.Report']}" styleClass="title-page" />
			<p:importConstants type="com.pradera.commons.type.RequestType"
				var="requestType" />
			<h:form id="frmReportForm">
				<ui:include src="includeScripts.xhtml" />
				<table width="100%" align="center">
					<tr>
						<td><p:fieldset styleClass="legendNone" id="fldsFilters"
								legend="#{reportDynamicFilterBean.report.title}"
								widgetVar="fldsFiltersWidget">
								<table width="100%" border="0">
									<tr>
										<td align="center" style="padding-left: 40px">
										<pe:dynaForm
												id="dynaForm" style="width:100%;"
												value="#{reportDynamicFilterBean.form}" var="data"
												widgetVar="dynaFormWidget" varContainerId="dfcid">
												<pe:dynaFormControl type="CALENDAR" for="calendar"
													styleClass="calendar">
													<p:calendar id="calendar" required="#{data.required}"
														widgetVar="#{data.filterName}" showOn="both"
														disabled="#{data.disabled}"
														navigator="true" size="10" readonlyInput="true"
														pattern="#{msgs['dateFormat']}" yearRange="c-20:c"
														mindate="#{data.filterName eq 'date_end'?reportDynamicFilterBean.minDateEnd:null}"
														maxdate="#{data.filterName eq 'date_end'?reportDynamicFilterBean.maxDateEnd:reportDynamicFilterBean.maxDateInitial}"
														value="#{data.value}">
														<p:ajax event="dateSelect"
															listener="#{reportDynamicFilterBean.onDateSelected(dfcid,data.filterName)}"
															disabled="#{!reportDynamicFilterBean.validateRangeDates}"
															update="@this">
														</p:ajax>
														<p:ajax event="dateSelect" process="@this" update="@this" 
															disabled="#{reportDynamicFilterBean.validateRangeDates}">
														</p:ajax>
													</p:calendar>
												</pe:dynaFormControl>
												<pe:dynaFormControl type="OPTIONAL_CALENDAR" for="optionalcalendar"
													styleClass="calendar">
													<p:calendar  id="optionalcalendar" required="#{data.required}"
														widgetVar="#{data.filterName}" showOn="both" 
														navigator="true" size="10" readonlyInput="true"
														pattern="#{msgs['dateFormat']}"  yearRange="c-20:c"
														value="#{data.value}">
														<p:ajax event="dateSelect"
															listener="#{reportDynamicFilterBean.onDateSelected(dfcid,data.filterName)}"
															disabled="#{!reportDynamicFilterBean.validateRangeDates}">
														</p:ajax>
													</p:calendar>
												</pe:dynaFormControl>
												<pe:dynaFormControl type="CALENDAR_FUTURE"
													for="calendarFuture" styleClass="calendar">
													<p:calendar id="calendarFuture" required="#{data.required}"
														widgetVar="#{data.filterName}" showOn="both"
														navigator="true" size="10" readonlyInput="true"
														pattern="#{msgs['dateFormat']}" yearRange="c:c+20"
														mindate="#{reportDynamicFilterBean.minDateEnd}"
														maxdate="#{data.filterName eq 'date_initial'?reportDynamicFilterBean.maxDateInitial:null}"
														value="#{data.value}">
														<p:ajax event="dateSelect"
															listener="#{reportDynamicFilterBean.onDateSelected(dfcid,data.filterName)}"
															disabled="#{!reportDynamicFilterBean.validateRangeDates}">
														</p:ajax>
													</p:calendar>
												</pe:dynaFormControl>
												<pe:dynaFormControl type="CALENDAR_DISABLED"
													for="calendarDisabled" styleClass="calendar">
													<p:calendar id="calendarDisabled" required="#{data.required}"
														widgetVar="#{data.filterName}" showOn="both"
														navigator="true" size="10" readonlyInput="true"
														pattern="#{msgs['dateFormat']}"
														disabled="true"
														value="#{data.value}">
														<p:ajax event="dateSelect"
															listener="#{reportDynamicFilterBean.onDateSelected(dfcid,data.filterName)}"
															disabled="#{!reportDynamicFilterBean.validateRangeDates}">
														</p:ajax>
													</p:calendar>
												</pe:dynaFormControl>
												<pe:dynaFormControl type="CALENDAR_ALL_DATE"
													for="calendarAll" styleClass="calendar">
													<p:calendar id="calendarAll" required="#{data.required}"
														widgetVar="#{data.filterName}" showOn="both"
														navigator="true" size="10" readonlyInput="true"
														pattern="#{msgs['dateFormat']}" yearRange="c-20:c+20"
														mindate="#{data.filterName eq 'date_end'?reportDynamicFilterBean.minDateEnd:null}"
														maxdate="#{data.filterName eq 'date_initial'?reportDynamicFilterBean.maxDateInitial:null}"
														value="#{data.value}">
														<p:ajax event="dateSelect"
															listener="#{reportDynamicFilterBean.onDateSelected(dfcid,data.filterName)}"
															disabled="#{!reportDynamicFilterBean.validateRangeDates}">
														</p:ajax>
													</p:calendar>
												</pe:dynaFormControl>
												<pe:dynaFormControl type="COMBO_PARAMETERS" for="parameters">
													<p:selectOneMenu
														style="width:${empty data.sizeInput ? 200 : data.sizeInput}px"
														value="#{data.value}" required="#{data.required}"
														id="parameters" widgetVar="#{data.filterName}"
														onchange="#{empty data.eventOnchange?null:data.eventOnchange}">
														<f:selectItem itemValue=""
															noSelectionOption="#{data.required}"
															itemLabel="#{data.required?msgs['cbo.opt.select']:msgs['cbo.opt.all']}" /> 
														<f:selectItems value="#{data.selectMenu}" />
													</p:selectOneMenu>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="COMBO" for="combo">
													<p:selectOneMenu
														style="width:${empty data.sizeInput ? 200 : data.sizeInput}px"
														value="#{data.value}" required="#{data.required}"
														id="combo" widgetVar="#{data.filterName}" disabled="#{data.disabled}"
														onchange="#{empty data.eventOnchange?null:data.eventOnchange}">
														<f:selectItem itemLabel="#{data.required?msgs['cbo.opt.select']:msgs['cbo.opt.all']}"
															itemValue="" noSelectionOption="#{data.required}"
															itemDisabled="#{reportDynamicFilterBean.showElement}" />
														<f:selectItems value="#{data.selectMenu}" />
														<p:ajax event="change" process="@this" listener="#{reportDynamicFilterBean.eventCombo(data.value)}" />
													</p:selectOneMenu>
												</pe:dynaFormControl>
												
										      	<pe:dynaFormControl type="COMBO_SIMPLE" for="simple">
                                                    <p:selectOneMenu
                                                         style="width:${empty data.sizeInput ? 200 : data.sizeInput}px"
                                                         value="#{data.value}" required="#{data.required}"
                                                         id="simple" disabled="#{data.disabled}"
                                                         onchange="#{empty data.eventOnchange?null:data.eventOnchange}"
                                                         widgetVar="#{data.filterName}">
                                                         <f:selectItems value="#{data.selectMenu}" />
                                                         <p:ajax event="change" process="@this" listener="#{reportDynamicFilterBean.eventCombo(data.value)}" />
                                                    </p:selectOneMenu>
	                                            </pe:dynaFormControl>
												

												<pe:dynaFormControl type="COMBO_MULTIPLE" for="multiple">
													<p:selectManyMenu style="width:300px; padding-left:6px;"
														value="#{data.multipleValue}" required="#{data.required}"
														id="multiple"
														onchange="#{empty data.eventOnchange?null:data.eventOnchange}"
														widgetVar="#{data.filterName}">
														<f:selectItems value="#{data.selectMenu}" />
													</p:selectManyMenu>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="HELP_PARTICIPANTS"
													for="participants">
													<p:selectOneMenu value="#{data.value}"
														required="#{data.required}" id="participants"
														disabled="#{data.disabled}" widgetVar="#{data.filterName}"
														styleClass="#{data.nameRelationFilters}"
														style="width:${empty data.sizeInput ? 525 : data.sizeInput}px">
														<f:selectItems value="#{data.selectMenu}" />
														<p:ajax partialSubmit="true" process="@this"
															disabled="#{!data.validate}"
															listener="#{reportDynamicFilterBean.onUpdateParticipant(data, dfcid)}" />
													</p:selectOneMenu>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="TEXT" for="text">
													<p:inputText id="text" required="#{data.required}"
														value="#{data.value}"
														style="width:${empty data.sizeInput ? 194 : data.sizeInput}px"
														widgetVar="#{data.filterName}"
														onblur="#{empty data.eventOnblur?null:data.eventOnblur}">
														<p:keyFilter regEx="#{data.keyFilter}"
															rendered="#{!empty data.keyFilter}" />
													</p:inputText>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="HELP_SECURITIES" for="securities">
													<h:panelGrid columns="4" border="0" id="panelSecurities">
														<p:inputText id="securities" required="#{data.required}"
															size="15" maxlength="23"
															value="#{data.value.securitiesCode}"
															widgetVar="#{data.filterName}"
															styleClass="#{data.nameRelationFilters}"
															style="width:${empty data.sizeInput ? 200 : data.sizeInput}px">
															<p:keyFilter
																regEx="#{gconst['helper.securities.alphanumeric.not.space']}"
																preventPaste="false" />
															<p:ajax event="change" partialSubmit="true" process="@this" update="@this securitiesDescription :frmReportForm:panelMessages :opnlGenericDialogs"
																listener="#{reportDynamicFilterBean.searchSecurityByCode(data,dfcid)}"/>
														</p:inputText>
														<p:outputPanel id="securitiesHelper"
															styleClass="HELP_SECURITIES #{data.nameRelationFilters}">
															<ark:security security="#{data.value}" process="@this"
																report="#{data}"
																update=":frmReportForm:dynaForm:securities :frmReportForm:dynaForm:securitiesDescription"
																partCode="#{data.validate?reportDynamicFilterBean.participant:-1}"
																issuerCode="#{data.validate?reportDynamicFilterBean.issuer:''}"
																disabled="#{data.disabled}" />
														</p:outputPanel>
														<p:inputText size="40" id="securitiesDescription"
															value="#{data.value.description}" disabled="true" />
													</h:panelGrid>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="HELP_HOLDERS" for="holders">
													<h:panelGrid columns="4" border="0">
														<p:inputText id="holders" required="#{data.required}"
															value="#{data.value.holderId}"
															widgetVar="#{data.filterName}" size="10" maxlength="10"
															styleClass="content-right #{data.nameRelationFilters}">
															<p:keyFilter mask="pint" preventPaste="false" />
															<p:ajax event="change" partialSubmit="true" process="@this" update="@this holdersDescription :frmReportForm:panelMessages :opnlGenericDialogs"
																listener="#{reportDynamicFilterBean.searchHolderByCode(data,dfcid)}" />
														</p:inputText>
														<p:outputPanel id="holdersHelper"
															styleClass="#{data.nameRelationFilters}">
															<ark:holder holder="#{data.value}" process="@this"
																report="#{data}"
																partCode="#{data.validate?reportDynamicFilterBean.participant:null}"
																update=":frmReportForm:dynaForm:holders :frmReportForm:dynaForm:holdersDescription"
																remoteListener="updateHolder()" />
															<p:remoteCommand name="updateHolder" process="@this"
																disabled="#{!data.validate}"
																actionListener="#{reportDynamicFilterBean.onUpdateHolder(data.value)}" />
														</p:outputPanel>
														<p:inputText size="40" id="holdersDescription"
															value="#{data.value.fullName}" disabled="true"
															style="width:520px" />
													</h:panelGrid>
												</pe:dynaFormControl>
												<!-- content-right -->
												<pe:dynaFormControl type="HELP_ACCOUNTS" for="accounts">
													<h:panelGrid columns="4" border="0">
														<p:inputText id="accounts" size="10" maxlength="10"
															required="#{data.required}"
															styleClass="#{data.nameRelationFilters}"
															value="#{data.value.accountNumber}"
															widgetVar="#{data.filterName}">
															<p:keyFilter mask="pint" preventPaste="false" />
															<p:ajax event="change" partialSubmit="true" process="@this" update="@this accountResultList  :frmReportForm:panelMessages :opnlGenericDialogs"
																listener="#{reportDynamicFilterBean.searchAccountByCode(data,dfcid)}"/>
														</p:inputText>
														<p:spacer />
														<p:outputPanel id="accountsHelper"
															styleClass="#{data.nameRelationFilters}">
															<ark:account
																partCode="#{data.validate?reportDynamicFilterBean.participant:null}"
																account="#{data.value}" process="@this" report="#{data}"
																idHolder="#{data.validate?reportDynamicFilterBean.idHolder:-1}"
																update=":frmReportForm:dynaForm:accounts :frmReportForm:dynaForm:accountsHelper :frmReportForm:dynaForm:accountResultList" />
														</p:outputPanel>
													</h:panelGrid>
													<h:panelGrid id="pgAccountList" columns="4" border="0">
														<p:outputPanel id="accountResultList">
															<p:dataTable var="account" id="dtAccounts"
																value="#{data.holderAccounts}" style="width:400px;"
																rendered="#{not empty data.holderAccounts }"
																rowKey="#{account.idHolderAccountPk}" paginator="true"
																rows="5" paginatorPosition="top"
																currentPageReportTemplate="#{gconst['dtb.current.page.report.template']}">
																<p:column style="text-align:center;width:12px">
																	<f:facet name="header">
																		<h:outputText value="" styleClass="text-header-table" />
																	</f:facet>
																	<p:selectBooleanCheckbox id="selectedAccount"
																		value="#{account.selected}"
																		disabled="#{account.stateAccount == reportDynamicFilterBean.closedStateType}">
																		<p:ajax event="valueChange" global="false"
																			listener="#{reportDynamicFilterBean.validateSelectionAccount(account,data,dfcid)}" />
																	</p:selectBooleanCheckbox>
																</p:column>

																<p:column style="text-align:left;">
																	<f:facet name="header">
																		<h:outputText
																			value="#{gmsgs['account.helper.participant']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText
																		value="#{account.participant.getDisplayCodeMnemonic()}"
																		title="#{account.participant.description}" />
																</p:column>

																<p:column style="text-align:center;">
																	<f:facet name="header">
																		<h:outputText
																			value="#{gmsgs['account.helper.detail.alternatecode']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText value="#{account.alternateCode}" />
																</p:column>

																<p:column style="text-align:center;">
																	<f:facet name="header">
																		<h:outputText value="#{gmsgs['account.helper.state']}"
																			styleClass="text-header-table" />
																	</f:facet>
																	<h:outputText
																		value="#{account.getStateAccountDescription()}" />
																</p:column>
															</p:dataTable>
														</p:outputPanel>
													</h:panelGrid>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="HELP_ISSUERS" for="issuers"
													id="fcissuers">
													<h:panelGrid columns="4" border="0">
														<p:inputText id="issuers" required="#{data.required}"
															value="#{data.value.mnemonic}" size="10" maxlength="8"
															disabled="#{data.disabled}"
															widgetVar="#{data.filterName}">
															<p:keyFilter
																regEx="/^([a-z]|[A-Z]|[\u00F1\u00D1]|[\d]|[\s]|[*])*$/"
																preventPaste="false" />
															<p:ajax event="change" partialSubmit="true" process="@this" update="@this issuersDescription :frmReportForm:panelMessages :opnlGenericDialogs"
																listener="#{reportDynamicFilterBean.searchIssuerforCode(data,dfcid)}"/>
														</p:inputText>
														<ark:issuer issuer="#{data.value}" report="#{data}" process="@this"
															update=":frmReportForm:dynaForm:issuers :frmReportForm:dynaForm:issuersDescription"
															remoteListener="if(#{data.validate}) {updateIssuerHelper('#{data.filterName}')}"
															disabled="#{data.disabled}" />
														<p:inputText size="40" id="issuersDescription"
															value="#{data.value.issuerDesc}" disabled="true"
															style="width:478px" />
													</h:panelGrid>
												</pe:dynaFormControl>

												<pe:dynaFormControl type="HELP_BILLING"
													id="fcbillingService" for="billingService">
													<h:panelGrid columns="4" border="0">

														<p:inputText id="billingService"
															required="#{data.required}"
															value="#{data.value.serviceCode}" size="8" maxlength="5"
															widgetVar="#{data.filterName}">
															<p:keyFilter
																regEx="/^([a-z]|[A-Z]|[\u00F1\u00D1]|[\d]|[\s]|[*])*$/"
																preventPaste="false" />
															<p:ajax event="change" partialSubmit="true" process="@this" update="@this billingServiceDescription :opnlGenericDialogs"
																listener="#{reportDynamicFilterBean.searchBillingServiceByCode(data,dfcid)}" />
														</p:inputText>

														<ark:billingService billingService="#{data.value}"
															listReferenceRate="#{reportDynamicFilterBean.referenceRate}"
															listServiceCode="#{reportDynamicFilterBean.serviceCode}"
															report="#{data}">
														</ark:billingService>

														<p:inputText size="40" id="billingServiceDescription"
															value="#{data.value.serviceName}" disabled="true" />

													</h:panelGrid>
												</pe:dynaFormControl>

											</pe:dynaForm></td>
									</tr>
									<tr>
										<td align="center"><p:commandButton
												value="#{msgs['btn.send']}" icon="fa fa-edit"
												action="#{reportDynamicFilterBean.submitForm}"
												process="dynaForm" ajax="false"
												update="@(.stlMsg) :frmReportForm:panelMessages :opnlGenericDialogs"
												rendered="#{userPrivilege.userAcctions.register}" /> <p:spacer />
											<p:commandButton process="@this" value="#{msgs['btn.clean']}"
												icon="fa fa-trash" update="@form"
												actionListener="#{reportDynamicFilterBean.clean}" /></td>
									</tr>
								</table>
							</p:fieldset></td>
					</tr>
				</table>
				<p:outputPanel id="panelMessages">
					<p:confirmDialog id="errorAccountList" closable="false"
						widgetVar="errorAccountList" message="#{bodyMessageView}"
						header="#{headerMessageView}" severity="alert">
						<p:commandButton value="#{gmsgs['btn.accept']}" type="button"
							onclick="PF('errorAccountList').hide();" />
					</p:confirmDialog>
					<p:confirmDialog id="reportGenerationOk"
						widgetVar="reportGenerationOkWidget" severity="info"
						rendered="false" visible="true" closable="false"
						header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
							onclick="PF('reportGenerationOkWidget').hide()" />
					</p:confirmDialog>
					<p:confirmDialog id="cnfMsgCustomValidationReports" visible="false"
						rendered="true" message="#{bodyMessageView}"
						header="#{headerMessageView}" severity="alert"
						widgetVar="cnfwMsgCustomValidationReportsWidget" closable="false">
						<p:commandButton value="Aceptar" type="button"
							onclick="PF('cnfwMsgCustomValidationReportsWidget').hide()" />
					</p:confirmDialog>
				</p:outputPanel>
			</h:form>
		</f:view>
	</ui:define>
	<ui:define name="loadPage">
		<h:outputText value="#{reportDynamicFilterBean.report.onloadPage}"
			rendered="#{not empty reportDynamicFilterBean.report.onloadPage}" />
	</ui:define>
	<ui:define name="header">
		<h:outputScript library="js" name="loadPage.js" />
	</ui:define>
</ui:composition>
</html>