<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmSecurities" >
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['screen.search.securityRemoved.title']}" styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton value="#{msgs['lbl.search.securityRemoved.register.btn']}" icon="fa fa-edit" immediate="true" 
										 rendered="#{securityRemovedMgmtBean.privilegeRegister}" 
										 action="#{securityRemovedMgmtBean.goPageRegister()}" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['lbl.search.securityRemoved.crit.search']}">
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td>
										<h:outputText value="#{msgs['lbl.search.securityRemoved.numberRequest']}"/>
									</td>
									<td>
										<p:inputText value="#{securityRemovedMgmtBean.modelTOSearch.idSecurityRemovedPk}" style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.search.securityRemoved.state']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboStateSearch" value="#{securityRemovedMgmtBean.modelTOSearch.stateSecurityRemoved}" 
															  style="width:300px;" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityRemovedMgmtBean.modelTOSearch.lstState}" var="stateSearch" 
															   itemLabel="#{stateSearch.parameterName}" itemValue="#{stateSearch.parameterTablePk}" />
											</p:selectOneMenu>
											<p:message id="validateState" for="cboStateSearch" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td> 
										<h:outputText value="#{gmsgs['security.lbl.code']}"/>
									</td>
									<td> 
										<p:inputText id="txtSecurityCode"
													 value="#{securityRemovedMgmtBean.modelTOSearch.idSecurityCodePk}"
													 label="#{msgs['security.lbl.code']}"
													 maxlength="#{cons['security.code.normal.length']}"
													 styleClass="securityCode-input-text-width">
											<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.hyphen']}"/>					 
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.search.securityRemoved.currency']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboCurrencySearch" value="#{securityRemovedMgmtBean.modelTOSearch.currency}" 
															  style="width:300px;" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityRemovedMgmtBean.modelTOSearch.lstCurrency}" var="currencySearch" 
															   itemLabel="#{currencySearch.text1} - #{currencySearch.parameterName}" itemValue="#{currencySearch.parameterTablePk}" />
											</p:selectOneMenu>
											<p:message id="validateCurrency" for="cboCurrencySearch" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td>
										<h:outputText value="#{msgs['lbl.search.securityRemoved.initialDate']} (*)" styleClass="required-field"/>						
									</td>
									<td>
										<p:calendar id="calFecInitial"
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{securityRemovedMgmtBean.modelTOSearch.initialDate}" 
													maxdate="#{securityRemovedMgmtBean.modelTOSearch.finalDate}" >
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this"/>
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this"/>
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.search.securityRemoved.finalDate']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:calendar id="calFecFinal" 
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{securityRemovedMgmtBean.modelTOSearch.finalDate}" 
													mindate="#{securityRemovedMgmtBean.modelTOSearch.initialDate}" >
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this" />
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this" />
										</p:calendar>
									</td>
								</tr>
								
								<tr>
									<td colspan="5" align="center">
										<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" 
														 update="@form"
										 				 rendered="#{securityRemovedMgmtBean.privilegeSearch}" 
														 action="#{securityRemovedMgmtBean.btnSearch}" />
										
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
										
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
										 				onclick="return showCleanConfirmDialog(this);" oncomplete="cnfwClean.hide()"
										 				actionListener="#{securityRemovedMgmtBean.btnClearSearch}" update="@form" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:outputPanel styleClass="clsSearchUpd">
							<p:panel id="pnlButtonsPrivileges"
									 rendered="#{not empty securityRemovedMgmtBean.lstSecurityRemovedTO}"
									 styleClass="clsSearchUpd">
									 
								<p:commandButton id="cmbApprove"
												 value="#{msgs['btn.approve']}"
												 action="#{securityRemovedMgmtBean.loadApproved}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-approve"
												 rendered="#{userPrivilege.userAcctions.approve}"/>
								&nbsp;
								<p:commandButton id="cmbAnulate"
												 value="#{msgs['btn.annulate']}"
												 action="#{securityRemovedMgmtBean.loadAnulate}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-remove"
												 rendered="#{userPrivilege.userAcctions.annular}"/>
								&nbsp;
								<p:commandButton id="cmbReject"
												 value="#{msgs['btn.reject']}"
												 action="#{securityRemovedMgmtBean.loadReject}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-cancel"
												 rendered="#{userPrivilege.userAcctions.reject}"/>
								&nbsp;
								<p:commandButton id="cmbConfirm"
												 value="#{msgs['btn.confirm']}"
												 action="#{securityRemovedMgmtBean.loadConfirm}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-confirm"
												 rendered="#{userPrivilege.userAcctions.confirm}"/>
							</p:panel>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:fieldset id="fsListado" legend="#{msgs['lbl.results']}" 
										rendered="#{not empty securityRemovedMgmtBean.lstSecurityRemovedTO}">
								<p:dataTable 
										id="dtbResult" var="securityemovedVar"
										style="padding-right:0px !important"
										paginator="true" rows="10"  paginatorPosition="top"
										selection="#{securityRemovedMgmtBean.modelTOView}"
										value="#{securityRemovedMgmtBean.searchSecurityRemovedDataModel}" 
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{securityemovedVar}">
										
									<p:column selectionMode="single" styleClass="content-center"/>
									
									<p:column styleClass="content-right" sortBy="#{securityemovedVar.idSecurityRemovedPk}">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.search.column.numberRequest']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{securityRemovedMgmtBean.linkView(securityemovedVar)}">
											<h:outputText style="float:right;" value="#{securityemovedVar.idSecurityRemovedPk}" />
										</p:commandLink>																			
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{securityemovedVar.registryDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.registryDate']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.registryDate}">
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{securityemovedVar.idSecurityCodePk}">
										<f:facet name="header">
											<h:outputText style="width:150px" value="#{msgs['lbl.search.column.securityCode']}" escape="false" />
										</f:facet>
										<h:outputText style="float:left;" value="#{securityemovedVar.idSecurityCodePk}" />
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{securityemovedVar.issuanceDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.issuanceDate']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.issuanceDate}">
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{securityemovedVar.expirationDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.expirationDate']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.expirationDate}">
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securityemovedVar.currencyText}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.currency']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.currencyText}" />
									</p:column>
									
									<p:column styleClass="content-right" sortBy="#{securityemovedVar.nominalValue}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.nominalValue']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.nominalValue}" >
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securityemovedVar.stateSecurityRemovedText}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.state']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{securityemovedVar.stateSecurityRemovedText}" />
									</p:column>
										
								</p:dataTable>			
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="alterValidationWidget.hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 update=":frmSecurities"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>