<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmDetachmentCoupons">
<table width="100%">
<tr>
	<td width="100%">
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="#{gmsgs['icustody.splitcoupon.manage.title']}" styleClass="title-page"/>
			</td>
			<td align="right">
				<p:commandButton value="#{gmsgs['btn.register']}" rendered="#{userPrivilege.userAcctions.register}" 
					icon="fa fa-edit" process="@this" action="#{detachmentCouponsMgmBean.newRequest}"/>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<p:fieldset  legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="3%">
				<p:selectOneRadio id="customRadio" value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.searchType}" layout="custom">  
			        <f:selectItem itemValue="0"/>  
			        <f:selectItem itemValue="1"/> 
			        <p:ajax update="@form" listener="#{detachmentCouponsMgmBean.searchBy}" process="@this rbNumberRequest rbDefault"/>
				</p:selectOneRadio> 
				<p:radioButton itemIndex="0" for="customRadio" id="rbNumberRequest"/>								
			</td>
			<td width="17%">
				<h:outputText value="#{msgs['lbl.splitcoupons.search.numberRequest']}" 
					styleClass="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field" rendered="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"/>				
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:inputText value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.numberRequest}" maxlength="10"
					label="#{msgs['lbl.splitcoupons.search.numberRequest']}" id="txtNumberRequest" 
					disabled="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}" styleClass="content-right">
					<p:keyFilter mask="pint"/>
					<p:ajax global="false" update="@this msgNumberRequest"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
				</p:inputText>
				<p:message display="icon" for="txtNumberRequest" id="msgNumberRequest"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.splitcoupons.search.state']}"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboState" value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.stateSelected}"
					disabled="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}">  
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
					<f:selectItems value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstStates}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>					             
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td>
				<p:radioButton itemIndex="1" for="customRadio" id="rbDefault"/>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.splitcoupons.search.participant']}" styleClass="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch?'ontent-center':''}"/>
<!-- 				<h:outputText value=" (*)" styleClass="required-field" rendered="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"/> -->
			</td>
			<td colspan="3">
				<h:panelGrid columns="2"> 
				<p:selectOneMenu id="cboParticipant" label="#{msgs['lbl.splitcoupons.search.participant']}" 
					disabled="#{detachmentCouponsMgmBean.blParticipant or !detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"
					value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.participantSelected}" style="width:500px">  
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
					<f:selectItems value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstParticipants}"
						var="participant" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
<!-- 					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/> -->
					<p:ajax process="@this" update="@this msgParticipant opnlPrivileges opnlResult opnlListHolderAccount
						:frmDetachmentCoupons:holderHelper:outpnlHolder" 
						event="change" listener="#{detachmentCouponsMgmBean.changeParticipantSearch}"/>							             
				</p:selectOneMenu>
				<p:message for="cboParticipant" display="icon" id="msgParticipant"/>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td/>
			<td>
				<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
				<ark:holderHelper id="holderHelper" disabled="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}" 
					holder="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.holderSelected}" remoteListener="cleanAccount()"
					blParticipant="true" participant="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.participantSelected}"/>
				<p:remoteCommand name="cleanAccount" update="opnlHolderAccount opnlListHolderAccount" process="@this"
					actionListener="#{detachmentCouponsMgmBean.changeHolder}"/>	
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p:outputPanel id="opnlHolderAccount">
				<h:outputText value="#{gmsgs['account.lbl.code']}" 
					rendered="#{not empty detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstHolderAccount}"/>
				</p:outputPanel>
			</td>			
			<td colspan="3">
				<p:outputPanel id="opnlListHolderAccount">
				<p:dataTable var="holderAccount" value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstHolderAccount}"
					rendered="#{not empty detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstHolderAccount}"
					rowKey="#{holderAccount.idHolderAccountPk}" selection="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.holderAccountSelected}">
					<p:column selectionMode="single" styleClass="content-center"/>
					<p:column headerText="#{msgs['lbl.splitcoupons.register.account.number']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountNumber}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.splitcoupons.register.account.alternate']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.alternateCode}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.splitcoupons.register.account.type']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountDescription}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.splitcoupons.register.account.description']}">
						<h:outputText value="#{holderAccount.accountRntAndDescription}" escape="false"/>
					</p:column>					
				</p:dataTable>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td/>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="4" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" security="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.securitySelected}"
					remoteListener="updateFieldSe()" disabled="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"/>
				<p:remoteCommand name="updateFieldSe" update=":frmDetachmentCoupons:securityHelp" process="@this"/>	
				<p:spacer width="5"/>
				<p:outputPanel id="securityHelp">
				<ark:securities-help securityCode="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.securitySelected.idSecurityCodePk}"/>
				</p:outputPanel>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td/>
			<td>
				<h:outputText value="#{msgs['lbl.splitcoupons.search.initialDate']}" styleClass="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field" rendered="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar readonlyInput="true" navigator="true" showOn="both"
					disabled="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"
					value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.initialDate}"
					pattern="#{gmsgs['calendar.date.format']}" size="10" id="initialDate" disabledWeekends="true"
					maxdate="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.endDate}">
					<p:ajax process="@this" update="@this endDate" global="false" event="dateSelect"/>
				</p:calendar>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.splitcoupons.search.endDate']}" styleClass="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field" rendered="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar readonlyInput="true" navigator="true" showOn="both" 
					disabled="#{!detachmentCouponsMgmBean.searchDetachmentCouponsTO.blDefaultSearch}"
					value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.endDate}"
					mindate="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.initialDate}"
					pattern="#{gmsgs['calendar.date.format']}" size="10" id="endDate" disabledWeekends="true"
					maxdate="#{detachmentCouponsMgmBean.currentSystemDate}">
					<p:ajax process="@this" update="@this initialDate" global="false" event="dateSelect"/>
				</p:calendar>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td colspan="5" align="center">
				<p:commandButton value="#{gmsgs['btn.search']}" update="@form"
					icon="fa fa-search" actionListener="#{detachmentCouponsMgmBean.searchRequest}"/>														 
				<p:commandButton value="#{gmsgs['btn.clean']}" update="@form"
					icon="fa fa-trash" process="@this" actionListener="#{detachmentCouponsMgmBean.cleanSearch}"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlPrivileges">
		<p:outputPanel rendered="#{not empty detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstDetachmentCouponRequest}">
		<arkPriv:privileges id="praderaPrivileges" actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"					 							 
	 		actionConfirm="#{detachmentCouponsMgmBean.validateConfirm}"
	 		actionReject="#{detachmentCouponsMgmBean.validateReject}"
	 		actionApprove="#{detachmentCouponsMgmBean.validateApprove}"
	 		actionAnnular="#{detachmentCouponsMgmBean.validateAnnul}"/>
		</p:outputPanel>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResult">
		<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{not empty detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstDetachmentCouponRequest}">		
		<p:dataTable var="splitCouponRequest" value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstDetachmentCouponRequest}" paginator="true"
			paginatorPosition="top" selection="#{detachmentCouponsMgmBean.detachmentCouponRequest}"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" sortMode="single"
			rowKey="#{splitCouponRequest.idSplitOperationPk}">
			
			<p:column selectionMode="single" styleClass="content-center"/>
																						
			<p:column sortBy="#{splitCouponRequest.idSplitOperationPk}" styleClass="content-center"
				headerText="#{msgs['lbl.splitcoupons.search.detail.numberRequest']}">
				<p:commandLink style="color:blue" process="@this" action="#{detachmentCouponsMgmBean.viewRequest(splitCouponRequest)}">
					<h:outputText value="#{splitCouponRequest.custodyOperation.operationNumber}"/>
				</p:commandLink>
			</p:column>
							
			<p:column sortBy="#{splitCouponRequest.registryDate}" styleClass="content-center" 
				headerText="#{msgs['lbl.splitcoupons.search.detail.registryDate']}">
				<h:outputText value="#{splitCouponRequest.registryDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>		
			
			<p:column sortBy="#{splitCouponRequest.participant.idParticipantPk}" styleClass="content-center" 
				headerText="#{msgs['lbl.splitcoupons.search.participant']}">
				<h:outputText value="#{splitCouponRequest.participant.displayCodeMnemonic}"/>
			</p:column>	
			
			<p:column sortBy="#{splitCouponRequest.holder.descriptionHolder}" styleClass="content-center" 
				headerText="#{msgs['lbl.splitcoupons.search.detail.holder']}">
				<h:outputText value="#{splitCouponRequest.holder.idHolderPk} - #{splitCouponRequest.holder.descriptionHolder}" />
			</p:column>
			
			<p:column sortBy="#{splitCouponRequest.holderAccount.accountNumber}" styleClass="content-center" 
				headerText="#{msgs['lbl.splitcoupons.search.detail.accountNumber']}">
				<h:outputText value="#{splitCouponRequest.holderAccount.accountNumber}" />
			</p:column>
					
			<p:column sortBy="#{splitCouponRequest.security.idSecurityCodePk}" styleClass="content-center" 
				headerText="#{gmsgs['security.lbl.code']}">
				<ark:securities-help securityCode="#{splitCouponRequest.security.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>
			
			<p:column sortBy="#{splitCouponRequest.splitCouponOperations.get(0).operationQuantity}" styleClass="content-right" 
				headerText="#{msgs['lbl.splitcoupons.search.detail.quantity']}">
				<h:outputText value="#{splitCouponRequest.splitCouponOperations.get(0).operationQuantity}"/>
			</p:column>
			
			<p:column sortBy="#{splitCouponRequest.requestStateDescription}" styleClass="content-center" 
				headerText="#{msgs['lbl.splitcoupons.search.detail.state']}">
				<h:outputText value="#{splitCouponRequest.requestStateDescription}" />
			</p:column>
							
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.lstDetachmentCouponRequest.size}"/>
				</h:outputFormat>
			</f:facet>														
		</p:dataTable>
		</p:fieldset>			
		<p:panel rendered="#{detachmentCouponsMgmBean.searchDetachmentCouponsTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>
		</p:outputPanel>	
	</td>
</tr>
</table>
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>