<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
		<h:form id="formExcepcion">
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText value="#{msgs['opc.adm.schedule.exception.detail']}" styleClass="title-page"  id="idOtxtScheduelExceptionDetailsTitle"/>
					</td>
				</tr>
				<tr>
					<td><p:fieldset legend="#{msgs['opc.adm.schedule.exception.detail.panel']}"
							id="pnlPrincipal">
							<table width="100%">
								<tr>
									<td>
										<table class="table-fields">
											<tr>
												<td class="td-label-default">
													<h:outputText id="idSystem" value="#{msgs['schedule.exception.lbl.system']}" styleClass="required-field" />
												</td>
												<td>
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.system.name}"  id="idOtxtSystemName"/>
												</td>												
											</tr>
											<tr>
												<td class="td-label-default">
													<h:outputText id="idtipoExepcion" value="#{msgs['schedule.exception.lbl.type']}" styleClass="required-field" />
												</td>
												<td>
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.exceptionTypeDescription}"  id="idOtxtDescriptionType"/>
												</td>
												<td class="td-label-default">
													<h:outputText id="idtipoAcceso" value="#{msgs['schedule.exception.lbl.accesstype']}" styleClass="required-field" />
												</td>
												<td>
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.exceptionAccessdescrpicion}" id="idOtxtAccessDescription"/>
												</td>
												<td class="td-label-default">
													<h:outputText id="idStatus" value="#{msgs['schedule.lbl.state']}" styleClass="required-field" />
												</td>
												<td>
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.stateDescription}" id="idOtxtStateDescription"/>
												</td>
											</tr>
											<tr>
												<td class="td-label-default">
													<h:outputText id="modelDescripcion" value="#{msgs['schedule.exception.lbl.description']}"
														styleClass="required-field" /></td>
												<td colspan="5">
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.description}" maxlength="80" id="idOtxtDescription">
													</h:outputText> 
												</td>
											</tr>
											<tr>
												<td class="td-label-default">
											       <h:outputText value="#{msgs['system.lbl.eliminar']}" styleClass="required-field" id="idOtxtEliminar"
											       rendered="#{scheduleExceptionMgmtBean.scheduleExceptionSession.removeMotive != null}"/>
										       </td>
										       <td>
										       	<h:outputText value="#{scheduleExceptionMgmtBean.motiveeliminarDescripcion}"
												       disabled="true" style="text-transform:uppercase;"
												       rendered="#{scheduleExceptionMgmtBean.scheduleExceptionSession.removeMotive != null}"/>
										       </td>
											</tr> 
									       <tr>	
					                           <td class="td-label-default">
							                       <h:outputText value="#{msgs['system.lbl.motive.description']}" styleClass="required-field"
							                           rendered="#{scheduleExceptionMgmtBean.scheduleExceptionSession.blockOtherMotive != null}"/>
						                       </td>
						                       <td><h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.blockOtherMotive}" 
								                       rendered="#{scheduleExceptionMgmtBean.scheduleExceptionSession.blockOtherMotive != null}"
								                       disabled="true" style="text-transform:uppercase;" />
						                       </td>
					                       </tr>
					                       <tr>
					                       		<td class="td-label-default">
													<h:outputText value="#{msgs['schedule.exception.lbl.rank.date']}" styleClass="required-field" id="idOtxtRankDate" />
												</td>
					                       </tr>
											<tr>
												<td>
													<h:outputText value="#{msgs['schedule.exception.lbl.initial.date']}"/>
												</td>
												<td>
													<p:calendar value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.initialDate}" readonlyInput="true" readonly="#{facesContext.renderResponse}"
																id="calendarInic" pattern="#{msgs['dateFormat']}" disabled="true">
													</p:calendar>
												</td>
												<td>
													<h:outputText value="#{msgs['schedule.exception.lbl.final.date']}"/>
												</td>
												<td>
													<p:calendar value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.endDate}" readonlyInput="true" readonly="#{facesContext.renderResponse}"
																id="finalCalendar" pattern="#{msgs['dateFormat']}"
																disabled="true"
																mindate="#{scheduleExceptionMgmtBean.scheduleExceptionSession.initialDate}" />																
												</td>
											</tr>
											<tr>
												<td class="td-label-default">
													<h:outputText value="#{msgs['schedule.exception.lbl.hour']}" styleClass="required-field"  id="idOtxtScheduleExceptionHour"/>
												</td>
											</tr>
											<tr>												
												<td>
													<h:outputText value="#{msgs['schedule.exception.lbl.initial.hour']}"/>
												</td>
												<td>
													<p:calendar id="horaInic" value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.initialHour}" readonly="#{facesContext.renderResponse}"
															pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true" inputStyle="dateTimeField" 
															showOn="button" disabled="true">
															<p:ajax event="dateSelect" update="horaFin" />
													</p:calendar>
												</td>
												<td>
													<h:outputText value="#{msgs['schedule.exception.lbl.final.hour']}"/>
												</td>
												<td>
													<p:calendar id="horaFin" readonly="#{facesContext.renderResponse}"
														value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.endHour}"
														pattern="#{msgs.timeFormat}" readonlyInput="true"
														disabled="true" 
														minHour="#{scheduleExceptionMgmtBean.scheduleExceptionSession.initialHour.hours}"
														minMinute="#{scheduleExceptionMgmtBean.scheduleExceptionSession.initialHour.minutes}"
														timeOnly="true" inputStyle="dateTimeField" showOn="button" />
												</td>
											</tr>
											<tr> 												
												<td class="td-label-default"> 
													<h:outputText value="#{msgs['user.lbl.client.type']}"  id="idOtxtClientType" styleClass="required-field"/>
												</td>
												<td> 
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.tipoClientedescrpicion}"  id="idOtxtClientDescriptionType"/>
												</td>
												<td class="td-label-default"> 
												 	<h:outputText value="#{msgs['user.lbl.institution.type']}"  id="idOtxtInstitutionType" styleClass="required-field"/>
												</td>
												<td > 
													<h:outputText value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.institutionTypeFkdescrpicion}"  id="idOtxtInstitutionTypeDescription"/>
												</td>
												<td class="td-label-default"> 
													<h:outputText value="#{msgs['user.lbl.institution']}" id="idOtxtInstitution" styleClass="required-field"/>
												</td>
												<td > 
													<h:outputText value="#{scheduleExceptionMgmtBean.idInstitutionFkdescrpicion}"  id="idOtxtInstitutionDescription"/>
												</td>
											</tr>
										</table>
										 <p:outputPanel id="panelUsuarioSeleccionados">
											<p:fieldset id="dropUsuariosFieldSet" legend="#{msgs['schedule.exception.fls.users.selected']}" collapsed="false"
												rendered="#{not empty scheduleExceptionMgmtBean.scheduleExceptionSession.scheduleExceptionDetails}">
												<p:dataTable id="dtbResultDropeados" paginatorPosition="top"
													paginator="true"
													value="#{scheduleExceptionMgmtBean.scheduleExceptionSession.scheduleExceptionDetails}"
													currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
													paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"
													rowsPerPageTemplate="5,10,15" var="scheduleExcecptionDetail" rows="10">
													<p:column id="idClmCode">
														<f:facet name="header">
															<h:outputText value="#{msgs['user.lbl.code']}" id="idOtxtUserCodeHeader" />
														</f:facet>
														<h:outputText value="#{scheduleExcecptionDetail.userAccount.loginUser}"  id="idOtxtUserCode"/>
													</p:column>
													<p:column id="idClmUserName">
														<f:facet name="header">
															<h:outputText value="#{msgs['user.lbl.name']}"  id="idOtxtUserNameHeader"/>
														</f:facet>
														<h:outputText value="#{scheduleExcecptionDetail.userAccount.fullName}"  id="idOtxtUserName"/>
													</p:column>
													<p:column id="idClmInstitution">
														<f:facet name="header">
															<h:outputText value="#{msgs['user.lbl.institution']}"  id="idOtxtInstitutionHeader"/>
														</f:facet>
														<h:outputText value="#{scheduleExcecptionDetail.userAccount.institutionsSecurity.institutionName}" id="idOtxtInstitutionName" />
													</p:column>
													<p:column id="idClmInstitutionType">
														<f:facet name="header">
															<h:outputText value="#{msgs['user.lbl.institution.type']}"  id="idOtxtIntitutionTypeHeader"/>
														</f:facet>
														<h:outputText value="#{scheduleExcecptionDetail.userAccount.institutionsSecurity.institutionTypeName}" id="idOtxtIntitutionTypeName"/>
													</p:column>
													<p:column id="idClmEmail">
														<f:facet name="header">
															<h:outputText value="#{msgs['user.lbl.email']}" id="idOtxtEmailHeader"/>
														</f:facet>
														<h:outputText value="#{scheduleExcecptionDetail.userAccount.idEmail}" id="idOtxtEmail"/>
													</p:column>
													<p:column id="idClmState">
														<f:facet name="header">
															<h:outputText value="#{msgs['schedule.exception.col.state']}" id="idOtxtExcepStateHeader"/> 
														</f:facet>
														<h:outputText for="imgEstado" value="#{scheduleExcecptionDetail.userAccount.stateDescription}" id="idTtipEstado"/>
													</p:column>
												</p:dataTable>
											</p:fieldset>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p:outputPanel id="panelBotonesGuardar">
											<p:commandButton value="#{msgs['btn.back']}" immediate="true" ajax="false" action="scheduleExceptionSearchRule" icon="fa fa-undo" id="idCmdBtnExcepSearchRuleBack"/>
										</p:outputPanel>
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>