<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	  $(window).on('load',function(){
	   setAllHolidays('${prepaidExtendedMgmtBean.allHolidays}');
	   setInitialFormState('#frmPrepaidExtendedRequest');
	  });

</script>
<h:outputText value="#{gmsgs['isettlement.dateExchangeRequest.register.title']}" styleClass="title-page" />

<h:form id="frmPrepaidExtendedRequest">
	<table width="100%">
		<tr>
			<td width="100%">
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.settlement.dateExchange.register.panel.request']}">
			<table width="100%">
			<tr>
				<td width="150px">
					<h:outputText value="#{msgs['lbl.operation.mechanism']} (*)" styleClass="required-field"/>
				</td>
				<td width="450px">
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.idNegotiationMechanismPk}" 
						disabled="#{prepaidExtendedMgmtBean.mechanismUser}" id="mechanism" label="#{msgs['lbl.operation.mechanism']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstMechanism}" 
							var="negoMecha" itemValue="#{negoMecha.idNegotiationMechanismPk}" itemLabel="#{negoMecha.description}"/>
							<p:ajax event="change" process="fldsFiltros" update="fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary" 
								listener="#{prepaidExtendedMgmtBean.changeNegotitationMechanismForRegister}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
					</p:selectOneMenu>
					<p:message for="mechanism" display="icon" id="msgMechanism"/>
					</h:panelGrid>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.operation.modality']}"/>
				</td>
				<td width="30%">
					<p:selectOneMenu id="modality" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.idNegotiationModalityPk}" label="#{msgs['lbl.operation.modality']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstModality}" 
							var="negoModa" itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
						<p:ajax event="change" process="fldsFiltros" update="fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary" 
							listener="#{prepaidExtendedMgmtBean.changeNegotitationModalityForRegister}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.settlement.dateExchange.register.request.typeRequest']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="requestType" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.requestTypeSelected}"
						label="#{msgs['lbl.settlement.dateExchange.register.request.typeRequest']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstRequestType}" 
							var="paramTab" itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/> 
						<p:ajax event="change" process="fldsFiltros" 
								update="@this fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary :opnlGenericDialogs" 
								listener="#{prepaidExtendedMgmtBean.onChangeRequestType}"/>
					</p:selectOneMenu>
					<p:message for="requestType" display="icon" id="msgRequestType"/>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.Role']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2" id="idPnlRole">
					<p:selectOneMenu value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.roleSelected}" 
						id="role" label="#{msgs['lbl.operation.Role']}" disabled="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstRole}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
					</p:selectOneMenu>
					<p:message for="role" display="icon" id="msgRole"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['currency.settlement.participant.applicant']} (*)" styleClass="required-field"/>
				</td>
				<td >
					<h:panelGrid columns="2">
					<p:selectOneMenu id="participant" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.idParticipant}"
						disabled="#{prepaidExtendedMgmtBean.participantUser}" label="#{msgs['currency.settlement.participant.applicant']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstParticipant}" 
							var="participant" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
						<p:ajax event="change" process="fldsFiltros" 
							update="fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary" 
							listener="#{prepaidExtendedMgmtBean.cleanOperationsResult}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>				
					</p:selectOneMenu>
					<p:message for="participant" display="icon" id="msgParticipant"/>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{msgs['currency.settlement.participant.counterpart']} (*)" styleClass="required-field"  
						rendered="#{!prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}"/>
				</td>
				<td><h:panelGrid columns="2" id="pnlCounterParticipant" rendered="#{!prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}">
						<p:selectOneMenu id="participantCounterPart" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.idCounterPartParticipant}"
										label="#{msgs['currency.settlement.participant.counterpart']}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							<f:selectItems value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstCounterpartParticipant}" var="participant"
										   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
							<p:ajax event="change" process="fldsFiltros" 
								update="fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary" 
								listener="#{prepaidExtendedMgmtBean.cleanOperationsResult}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" disabled="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}" />
						</p:selectOneMenu>
						<p:message display="icon" for="participantCounterPart" id="msgParticipantCounterPart" />
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.security.classCode']}"/>
				</td>
				<td>
					<arkHelp:securityHelper id="idSecurityCodePk" align="center" remoteListener="validSecuritieOrigin()" 
											security="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.securitie}" />
					<p:remoteCommand name="validSecuritieOrigin" event="change" update="@this" process="@this" />				
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.settlementDate']}"/>
				</td>
				<td>
					<p:calendar id="calendarOperationDate" 
						disabled="#{!prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" 
						label="#{msgs['lbl.operation.settlementDate']}"  readonlyInput="true"
						value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.operationDate}"
						pattern="#{gconst['dateFormat']}" size="10" showOn="both" navigator="true"
						mindate="#{prepaidExtendedMgmtBean.tomorrowSystemtDate}" disabledWeekends="true">
						<p:ajax event="change" process="fldsFiltros" update="fldsFiltros" />
					</p:calendar>
				</td>
			</tr>
			<tr>
        	<td>
				<h:outputText value="#{msgs['lbl.operation.ballotNumber']}"/>
			</td>
			<td>
				<p:inputText maxlength="18" style="width:110px" size="18"  id="ballot"
				value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.ballotNumber}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.sequential']}"/>
			</td>
			<td>
				<p:inputText maxlength="3" style="width:110px" size="3"  id="sequential"
				value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.sequential}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
			</tr>
			<tr>
				<td>
					<h:outputText id="txtSettlementExchange" value="#{msgs['lbl.settlement.dateExchange.register.request.settlementTypeType']} (*)" 
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSettlementExchange or prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}"
						styleClass="required-field"/>
						
					<h:outputText id="txtAnticipation" value="#{msgs['lbl.settlement.dateExchange.register.request.anticipationType']} (*)" 
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
						styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="settlementExchange" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.settlementExchangeType}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSettlementExchange or prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}"
						label="#{msgs['lbl.settlement.dateExchange.register.request.settlementTypeType']}" disabled="true">
						<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstSettlementExchangeType}" 
							var="paramTab" itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					</p:selectOneMenu>
					
					<h:panelGrid columns="2">
						<p:selectOneMenu id="anticipationType" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.anticipationTypeSelected}"
							rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
							label="#{msgs['lbl.settlement.dateExchange.register.request.anticipationType']}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstAnticipationType}" 
								var="paramTab" itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
							<p:ajax event="change" process="@this" 
								update="pnlSettlementOperations opnlSettlementOperationData pnlOperationAccounts pnlSummary" 
								listener="#{prepaidExtendedMgmtBean.onChangePrepaidType}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						</p:selectOneMenu>
					<p:message for="anticipationType" display="icon" id="msgAnticipationType"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center">				
					<p:outputPanel id="btnsSearch">
					<p:commandButton id="btnBuscar" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
						update="fldsFiltros pnlSettlementOperations pnlOperationAccounts opnlSettlementOperationData pnlSummary :opnlGenericDialogs"
						actionListener="#{prepaidExtendedMgmtBean.searchSettlementOperations}" />
					<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
						action="#{prepaidExtendedMgmtBean.askClean}" update="@this @form frmPrepaidExtendedRequest" />					
					<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" update="@this @form frmPrepaidExtendedRequest"
						action="#{prepaidExtendedMgmtBean.askBack}" />
					</p:outputPanel>
				</td>
			</tr>
			</table>	
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="pnlSettlementOperations">
			<p:outputPanel id="innerPnlMechanismOperations" rendered="#{prepaidExtendedMgmtBean.lstSettlementDateNegotiations != null}">
			<p:fieldset id="fldMechanismOperations" legend="#{msgs['lbl.settlement.dateExchange.register.panel.operations']}" >
			<p:dataTable var="settlementDateRequest" value="#{prepaidExtendedMgmtBean.lstSettlementDateNegotiations}"
				paginator="true" rows="10"  paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowKey="#{settlementDateRequest.settlementOperation.idSettlementOperationPk}"
				rowsPerPageTemplate="5,10,15"
				rendered="#{prepaidExtendedMgmtBean.lstSettlementDateNegotiations.rowCount >= 1}"  >
				
				<p:column styleClass="content-center" headerText = "#{msgs['lbl.operation.operationDate.br']}" 
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.operationDate}"> 
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.operationDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.operationNumber.br']}"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.operationNumber}"> 
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.operationNumber}"/>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.ballotSequential.br']}"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.operationNumberBallotSequential}"> 
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.operationNumberBallotSequential}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.security.code']}"  style="width: 11%;"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.securities.idSecurityCodePk}"> 
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.securities.idSecurityCodePk}"/>
				</p:column> 
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.stockQuantity']}"
					sortBy="#{settlementDateRequest.settlementOperation.stockQuantity}"  >
					<h:outputText value="#{settlementDateRequest.settlementOperation.stockQuantity}">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationCurrency']}"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.currencyDescription}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.currencyDescription}"/>
				</p:column>
				
				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.participant.buyer.br']}"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.currencyDescription}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.buyerParticipant.displayCodeMnemonic}" escape="false"/>
				</p:column>

				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.participant.seller.br']}" 
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.sellerParticipant.displayCodeMnemonic}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.sellerParticipant.displayCodeMnemonic}" escape="false"/>
				</p:column>

				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.newSettlementType']}"
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSettlementExchange or prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}"
					sortBy="#{prepaidExtendedMgmtBean.getSettlementType(settlementDateRequest.settlementType)}">
					<h:outputText value="#{prepaidExtendedMgmtBean.getSettlementType(settlementDateRequest.settlementType)}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationState']}"
					sortBy="#{settlementDateRequest.settlementOperation.stateDescription}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.stateDescription}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.cash.settlementFL']}"
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" 
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.cashSettlementDate}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.cashSettlementDate}">
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.term.settlementFL']}" 
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
					sortBy="#{settlementDateRequest.settlementOperation.mechanismOperation.termSettlementDate}" >
					<h:outputText value="#{settlementDateRequest.settlementOperation.mechanismOperation.termSettlementDate}">
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementDate']}" 
					rendered="#{!prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
					sortBy="#{settlementDateRequest.settlementOperation.settlementDate}">
					<h:outputText value="#{settlementDateRequest.settlementOperation.settlementDate}">
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<!-- anticipation -->
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.prepaidSettlementDate']}" 
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
					sortBy="#{settlementDateRequest.settlementDate}">
					<p:calendar id="calNwSettDate" 
						disabled="true" readonlyInput="true"
						label="#{msgs['lbl.settlement.dateExchange.register.operations.newSettlementDate']}"
						value="#{settlementDateRequest.settlementDate}"
						pattern="#{gconst['dateFormat']}" size="10" navigator="true" disabledWeekends="true" 
						mindate="#{prepaidExtendedMgmtBean.currentSystemDate}" 
						maxdate="#{settlementDateRequest.settlementOperation.mechanismOperation.termSettlementDate}" >
						<p:ajax event="dateSelect" process="@this" global="false" 
							update=":frmPrepaidExtendedRequest:pnlSettlementOperations :frmPrepaidExtendedRequest:pnlOperationAccounts :frmPrepaidExtendedRequest:pnlSummary :opnlGenericDialogs"
							listener="#{prepaidExtendedMgmtBean.onChangeSettlementDays(settlementDateRequest)}" />
					</p:calendar>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.days.prepaid']}" 
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
					sortBy="#{settlementDateRequest.settlementDays}">
					<h:outputText value="#{settlementDateRequest.settlementDays}" />
				</p:column>

				<!-- extensions -->
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.newSettlementDate']}"
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blExtended}"
					sortBy="#{settlementDateRequest.settlementDate}">
					<h:outputText value="#{settlementDateRequest.settlementDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.days.extension']}" 
					rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blExtended}"
					sortBy="#{settlementDateRequest.settlementDays}">
					<h:inputText styleClass="content-right" size="10" id="quantitySettlementDays"  value="#{settlementDateRequest.settlementDays}"  disabled="#{!settlementDateRequest.selected}"
					 onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)" >
					 	<p:keyFilter mask="pint"  regEx="#{cons['exp.regular.numeric.unsigned']}" />
					</h:inputText>
					
					<!-- <h:outputText value="#{settlementDateRequest.settlementDays}" />  -->
				</p:column>
				
				<p:column styleClass="content-center" >
					<f:facet name="header">
						<p:selectBooleanCheckbox id="chkSelectAllRemoveSecurities" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.checkAll}"
								rendered="#{!prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}"
								onchange="checkAllCheckboxByStyleClass(this,'table','chkClass#{colIndex}');">
						 	<p:ajax update=":frmPrepaidExtendedRequest:opnlSettlementOperationData :frmPrepaidExtendedRequest:pnlSettlementOperations 
									:frmPrepaidExtendedRequest:pnlOperationAccounts :frmPrepaidExtendedRequest:pnlSummary :opnlGenericDialogs"
						 		 	process="@this" listener="#{prepaidExtendedMgmtBean.onSelectSettlementOperation(settlementDateRequest)}"/>
						</p:selectBooleanCheckbox>
					</f:facet>
					<p:selectBooleanCheckbox styleClass="chkClass#{colIndex}"  value="#{settlementDateRequest.selected}" id="bcbSelected">
						<p:ajax event="valueChange" 
							update=":frmPrepaidExtendedRequest:opnlSettlementOperationData :frmPrepaidExtendedRequest:pnlSettlementOperations 
								:frmPrepaidExtendedRequest:pnlOperationAccounts :frmPrepaidExtendedRequest:pnlSummary :opnlGenericDialogs"
							listener="#{prepaidExtendedMgmtBean.onSelectSettlementOperation(settlementDateRequest)}" global="false"/>
					</p:selectBooleanCheckbox>
				</p:column>	
				
				<f:facet name="footer">
					<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						<f:param value="#{prepaidExtendedMgmtBean.lstSettlementDateNegotiations.rowCount}" />
					</h:outputFormat>
				</f:facet>
				
			</p:dataTable>
			<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
				rendered="#{!(prepaidExtendedMgmtBean.lstSettlementDateNegotiations.rowCount >= 1)}"
				style="font-weight:bold;"/>
				
				<br/>
				<br/>
				<br/>
				<h:panelGrid columns="1" style="text-align : justify;" rendered="#{(prepaidExtendedMgmtBean.lstSettlementDateNegotiations.rowCount >= 1)}">
					<h:outputText value="#{prepaidExtendedMgmtBean.glossToSelveRequest}" style="font-weight: bold; font-size: 15px; text-align : justify;" />
				</h:panelGrid>
				<br/>
				
			</p:fieldset>
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlSettlementOperationData">
				<ui:include src="/pages/settlementOperations/dateExchange/settlementNegotiationData.xhtml" />
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="pnlOperationAccounts">
				<ui:include src="/pages/settlementOperations/dateExchange/settlementDateAccounts.xhtml"/>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
		<td>
			<p:outputPanel id="pnlSummary">
			<p:fieldset id="fldsSummary" rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid and prepaidExtendedMgmtBean.lstSettlementDateNegotiations.rowCount > 0}">
				<table width="100%">
					<tr>
					<td width="30%"></td>
					<td style="text-align: right;">
						<h:outputText value="Cantidad Total"  />
						<p:inputText value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.getStockQuantity()}" 
							style="width:190px !important; text-align:right;" disabled="true"  >
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}" />
						</p:inputText>
					</td>
					<td style="text-align: right;">
						<h:outputText value="Monto Total" />
						<p:inputText value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.getSettlementAmount()}" 
							style="width:190px !important; text-align:right;" disabled="true">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}" />
						</p:inputText>
					</td>
					</tr>
				</table>
			</p:fieldset>
			</p:outputPanel>
		</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
			<p:outputPanel id="pnlButtons">
				<p:commandButton id="btnSaveRequest" value="#{gmsgs['btn.save']}" icon="fa fa-save" 
					update=":frmPrepaidExtendedRequest:outPnlDialogs  pnlSummary :opnlGenericDialogs" 
					actionListener="#{prepaidExtendedMgmtBean.beforeSave}" />
			</p:outputPanel>
			</td>
		</tr>
	</table>
	
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfWAskDialog').hide()" process="@this" update="@form"
			actionListener="#{prepaidExtendedMgmtBean.saveRequest}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWAskDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
			action="backToSearch" value="#{gmsgs['btn.accept']}"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwBackDialog" id="cnfidBackDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwBackDialog').hide()"
			action="backToSearch" process="@this"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBackDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfwCleanDialog" id="cnfidCleanialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet>
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwCleanDialog').hide()"
			action="#{prepaidExtendedMgmtBean.cleanRegister}" process="@this" update="@form"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwCleanDialog').hide()" type="button"/>
	</p:confirmDialog>		
	</p:outputPanel>
	<!--  -->
	
</h:form>

<h:form id="frmMarketBalance">
	<marketFact:marketfactBalance id="balancemarket" 
				bean="#{prepaidExtendedMgmtBean}"
				method="selectMarketFactBalance" 
				parameter="holderMarketFactBalance" >
	</marketFact:marketfactBalance>
</h:form>

</ui:define>
</ui:composition>
</html>