<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
	<p:outputPanel id="innerPpnlSettlementOperationData" 
		rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid and prepaidExtendedMgmtBean.selectedDateOperation != null}">
	<p:fieldset legend="#{msgs['lbl.operation.panel.settlement']}" >
		<table width="100%">
			<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.stockQuantity']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.mechanismOperation.stockQuantity}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.quantity']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.term.settledQuantity']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.settledQuantity}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.quantity']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationRate']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.amountRate}">
					<f:convertNumber locale="en_US" pattern="#{gconst['conv.number.pattern.rate.factor']}"/>
				</p:inputText>
			</td>
			</tr>
			<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.price']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.mechanismOperation.cashPrice}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.amount']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.mechanismOperation.cashAmount}">
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.term.settlementDays']}" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText disabled="true" value="#{prepaidExtendedMgmtBean.selectedDateOperation.settlementOperation.mechanismOperation.termSettlementDays}"/>
			</td>
			</tr>
		</table>
	</p:fieldset>
	</p:outputPanel>

</html>