<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{gmsgs['isettlement.dateExchangeRequest.detail.title']}" styleClass="title-page" />
<h:form id="frmPrepaidExtendedRequest">
	<table width="100%">
		<tr>
			<td width="100%">
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.settlement.dateExchange.register.panel.request']}">
			<table width="100%">
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.settlement.dateExchange.search.detail.srcParticipant']}"/>
					</td>
					<td >
						<p:selectOneMenu value="#{prepaidExtendedMgmtBean.selectedRequest.sourceParticipant.idParticipantPk}" disabled="true">
							<f:selectItem 
							itemLabel="#{prepaidExtendedMgmtBean.selectedRequest.sourceParticipant.displayDescriptionCode}" 
							itemValue="#{prepaidExtendedMgmtBean.selectedRequest.sourceParticipant.idParticipantPk}"/>				
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.settlement.dateExchange.search.detail.tgtParticipant']}" 
							rendered="#{prepaidExtendedMgmtBean.selectedRequest.targetParticipant!=null}"/>
					</td>
					<td >
						<p:selectOneMenu value="#{prepaidExtendedMgmtBean.selectedRequest.targetParticipant.idParticipantPk}" 
							rendered="#{prepaidExtendedMgmtBean.selectedRequest.targetParticipant!=null}" disabled="true">
							<f:selectItem
							itemLabel="#{prepaidExtendedMgmtBean.selectedRequest.targetParticipant.displayDescriptionCode}" 
							itemValue="#{prepaidExtendedMgmtBean.selectedRequest.targetParticipant.idParticipantPk}"/>				
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.settlement.dateExchange.register.request.typeRequest']}"/>
					</td>
					<td>
						<p:selectOneMenu disabled="true" value="#{prepaidExtendedMgmtBean.selectedRequest.requestType}"  >
							<f:selectItem itemValue="#{prepaidExtendedMgmtBean.selectedRequest.requestType}" 
											itemLabel="#{prepaidExtendedMgmtBean.selectedRequest.requestTypeDescription}" />			
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.settlement.dateExchange.register.request.anticipationType']}" 
							rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" />
					</td>
					<td>
						<p:selectOneMenu disabled="true" value="#{prepaidExtendedMgmtBean.selectedRequest.anticipationType}" 
							rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" >
							<f:selectItem itemValue="#{prepaidExtendedMgmtBean.selectedRequest.anticipationType}" 
											itemLabel="#{prepaidExtendedMgmtBean.selectedRequest.anticipationTypeDescription}" />			
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.settlement.dateExchange.register.request.state']}" />
					</td>
					<td>
						<p:selectOneMenu value="#{prepaidExtendedMgmtBean.selectedRequest.requestState}" disabled="true">
							<f:selectItem  
								itemValue="#{prepaidExtendedMgmtBean.selectedRequest.requestState}" 
								itemLabel="#{prepaidExtendedMgmtBean.selectedRequest.stateDescription}"/>
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.settlementSanctions.registryDate']}"/>
					</td>
					<td>
						<p:calendar id="calendarRegistryDate" 
							disabled="true" 
							readonlyInput="true"
							value="#{prepaidExtendedMgmtBean.selectedRequest.registerDate}"
							pattern="#{gconst['dateFormat']}" size="10" showOn="both" navigator="true"
							mindate="#{prepaidExtendedMgmtBean.tomorrowSystemtDate}" disabledWeekends="true">
							<p:ajax event="change" process="calendarRegistryDate" update="calendarRegistryDate" />
						</p:calendar>
					</td>
				</tr>		
			</table>	
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="pnlDateRequest">
			<p:fieldset id="fldInCharges" legend="#{msgs['lbl.settlement.dateExchange.register.panel.operations']}">
			<p:dataTable var="settlementDateOp" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstSettlementDateOperation}"
				rowKey="#{settlementDateOp.settlementOperation.idSettlementOperationPk}"
				selection="#{prepaidExtendedMgmtBean.selectedDateOperation}" selectionMode="single">
				
				<p:ajax event="rowSelect" update=":frmPrepaidExtendedRequest:opnlSettlementOperationData" global="false" />

				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.mechanism']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.mechanisnModality.negotiationMechanism.mechanismName}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.modality']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationDate']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.operationDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>

				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationNumber']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.operationNumber}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.ballotSequential.br']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.operationNumberBallotSequential}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.request.idSecurityCodePk']}"  style="width: 11%;">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.securities.idSecurityCodePk}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.buyerParticipant']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.buyerParticipant.displayCodeMnemonic}"
						title="#{mechaOperation.buyerParticipant.description}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.sellerParticipant']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.sellerParticipant.displayCodeMnemonic}"
						title="#{mechaOperation.sellerParticipant.description}" escape="false"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationCurrency']}">
					<h:outputText value="#{settlementDateOp.settlementOperation.mechanismOperation.currencyDescription}"/>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.stockQuantity']}" >
					<h:outputText value="#{settlementDateOp.stockQuantity}">
						<f:convertNumber locale="en_US" pattern="#{gconst['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.settlementPrice']}">
					<h:outputText value="#{settlementDateOp.settlementPrice}">
						<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
					</h:outputText>
				</p:column>
			
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.settlementAmount']}">
					<h:outputText value="#{settlementDateOp.settlementAmount}">
						<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.newSettlementType']}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSettlementExchange or prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blSpecialSettlementExchange}" >
					<h:outputText value="#{prepaidExtendedMgmtBean.getSettlementType(settlementDateOp.settlementType)}">
					</h:outputText>
				</p:column>		
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.days.prepaid']}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" >
					<h:outputText value="#{settlementDateOp.settlementDays}" />
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.days.extension']}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blExtended}" >
					<h:outputText value="#{settlementDateOp.settlementDays}" />
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.operations.prepaidSettlementDate']}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blPrepaid}" >
					<h:outputText value="#{settlementDateOp.settlementDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.request.newSettlementDate']}"
						rendered="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.blExtended}" >
					<h:outputText value="#{settlementDateOp.settlementDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
			</p:dataTable>
			
			<br/>
			<br/>
			<br/>
			<h:panelGrid columns="1" style="text-align : justify;">
				<h:outputText value="#{prepaidExtendedMgmtBean.glossToSelveRequest}" style="font-weight: bold; font-size: 15px; text-align : justify;" />
			</h:panelGrid>
			<br/>
			</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlSettlementOperationData">
				<ui:include src="/pages/settlementOperations/dateExchange/settlementNegotiationData.xhtml" />
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="pnlSourceOperationAccounts" rendered="#{not empty prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstSettlementDateAccounts}">
			<p:fieldset id="fldSourceOperationAccounts" legend="#{msgs['lbl.settlement.dateExchange.register.panel.accounts']}" >
				<p:dataTable var="settlementDateAccount" value="#{prepaidExtendedMgmtBean.registerPrepaidExtendedTO.lstSettlementDateAccounts}"
					rowKey="#{settlementDateAccount.settlementAccountOperation.holderAccountOperation.idHolderAccountOperationPk}">
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.holderAccount.accountNumber']}" >
						<h:outputText value="#{settlementDateAccount.settlementAccountOperation.holderAccountOperation.holderAccount.accountNumber}"/>
					</p:column>
					
					<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.holderAccount.description']}">
						<h:outputText value="#{settlementDateAccount.settlementAccountOperation.holderAccountOperation.holderAccount.accountRntAndDescription}" escape="false" />
					</p:column>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.account.initialQty']}">
						<h:outputText value="#{settlementDateAccount.settlementAccountOperation.initialStockQuantity}" />
					</p:column>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.account.stockQty']}">
						<h:outputText value="#{settlementDateAccount.stockQuantity}" >
						</h:outputText>
					</p:column>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.Role']}">
						<h:outputText value="#{prepaidExtendedMgmtBean.getRoleType(settlementDateAccount.settlementAccountOperation.role)}" />
					</p:column>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.settlement.dateExchange.register.account.amount']}">
						<h:outputText value="#{settlementDateAccount.settlementAmount}">
							<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
						</h:outputText>
					</p:column>
					
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="pnlOperationAccounts" rendered="#{prepaidExtendedMgmtBean.viewOperationReview}">
					<ui:include src="/pages/settlementOperations/dateExchange/settlementDateAccounts.xhtml"/>		
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">				
				<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationConfirm}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationReject}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-remove" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationAnnul}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationApprove}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.authorize']}" icon="ui-config" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationAuthorize}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-review" process="@this"
								 rendered="#{prepaidExtendedMgmtBean.viewOperationReview}" update="outPnlDialogs"
								 actionListener="#{prepaidExtendedMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" action="backToSearch"/>
			</td>			
		</tr>
	</table>
	
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					 message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfWAskDialog').hide()" process="@this" update="outPnlDialogs"
						 actionListener="#{prepaidExtendedMgmtBean.doAction}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWAskDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
					 header="#{headerMessageView}" closable="false" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
						 action="backToSearch" value="#{gmsgs['btn.accept']}"/>
	</p:confirmDialog>
	
	</p:outputPanel>
	<!--  -->
	
</h:form>

<p:outputPanel id="opnlMarketBalance">
	<h:form id="frmMarketBalance">
		<marketFact:marketfactBalance id="balancemarket" 
					bean="#{prepaidExtendedMgmtBean}"
					method="selectMarketFactBalance" 
					parameter="holderMarketFactBalance" >
		</marketFact:marketfactBalance>
	</h:form>
</p:outputPanel>

</ui:define>
</ui:composition>
</html>