<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:arkCorp="http://java.sun.com/jsf/composite/importanceEventComponent"
                >
 
      <p:outputPanel id="opnlInterestPayment" styleClass="clsProcessPaymentScheMod">
      <table width="100%">
      	  <tr> 
      	  	<td> 
				<p:fieldset id="fldInterestPaymentCronCurrent" 
							legend="#{msgs['payment.cronogram.lbl.int.payment.cronogram.current']}"
							toggleable="true" 
							collapsed="#{!paymentScheduleBean.viewOperationRegister}"
							>
				<table width="100%"> 
					<tr> 
						<td width="200"> 
							<h:outputText value="#{msgs['security.lbl.interest.type']} (*)"
										  styleClass="required-field"/>
						</td>
						<td width="250"> 
							<p:selectOneMenu id="cboCurCronInterestType" 
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.interestType}"
											 required="true"
											 label="#{msgs['security.lbl.interest.type']}"
											 styleClass="combo-widh-medium"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestType}"
											   var="intType"
											   itemLabel="#{intType.parameterName}" itemValue="#{intType.parameterTablePk}"/>
							</p:selectOneMenu>
							
						</td>
						<td width="250"> 
							<h:outputText value="#{msgs['security.lbl.performance']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td width="250">
							<p:selectOneMenu id="cboCurCronPerformance"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.yield}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.performance']}"
											 disabled="true"
											 required="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
								<f:selectItems value="#{paymentScheduleBean.lstCboYield}"
											   var="yld"
											   itemValue="#{yld.parameterTablePk}" itemLabel="#{yld.parameterName}"/>
							</p:selectOneMenu>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.effective.nominal']} (*)"
										  styleClass="required-field"/>
						</td>
						<td>   
							<p:selectOneMenu id="cboCurCronEffectiveNominal"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.cashNominal}"
										     styleClass="combo-widh-medium"
										     label="#{msgs['security.lbl.effective.nominal']}"
										     required="true"
										     disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCashNominal}"
											   var="cash"
											   itemLabel="#{cash.parameterName}" itemValue="#{cash.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.rate']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td>
						 	<p:inputText id="txtCurCronInterestRate"
						 				 value="#{paymentScheduleBean.security.interestPaymentSchedule.interestFactor}"
						 				 label="#{msgs['security.lbl.interest.rate']}"
						 				 styleClass="amount-inputfield"
						 				 maxlength="#{cons['security.interest.rate.length']}"
						 				 required="true"
						 				 disabled="true"
						 				 >
						 		<p:keyFilter mask="pnum"/>	
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>		 
						 	</p:inputText>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.periodicity']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCurCronInterestPayPeriodicity"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.periodicity}"
											 required="true"
											 disabled="true"
											 styleClass="combo-widh-medium" 
											 label="#{msgs['security.lbl.interest.payment.periodicity']}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
										 	   var="payMod"
											  itemValue="#{payMod.parameterTablePk}" itemLabel="#{payMod.parameterName}"/>
							</p:selectOneMenu>				
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.revised.periodicity.interest.rate']}" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCurCronRevPerIntRate"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.interestPeriodicity}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.revised.periodicity.interest.rate']}"
											 required="true"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
											   var="intPer"
											   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.type']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td>  
							<p:selectOneMenu id="cboCurCronCalendarType"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.calendarType}"
											 required="true"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.calendar.type']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCalendarType}"
												var="calType"
												itemLabel="#{calType.parameterName}" itemValue="#{calType.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>													
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.days']} (*)"
										  styleClass="required-field"/>
						</td>
						<td> 
					<ui:remove>		
						<p:selectOneMenu id="cboCurCronCalendarrDay"
											 value="#{paymentScheduleBean.security.interestPaymentSchedule.calendarDays}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.calendar.days']}"
											 disabled="true"
											 required="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCalendarDays}"
												var="calDay"
											   itemValue="#{calDay.parameterTablePk}" itemLabel="#{calDay.parameterName}"/>
						</p:selectOneMenu> 
					</ui:remove>
							<p:inputText id="txtCurCalendarDays"
										 value="#{paymentScheduleBean.intPaymentScheduleReqHi.calendarDaysDescription}"
										 disabled="true"/>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.mode']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCurCronIntPaymentMode"
											 value="#{paymentScheduleBean.security.interestPaymentModality}"
											 styleClass="combo-widh-medium"
											 required="true"
											 label="#{msgs['security.lbl.interest.payment.mode']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems var="payMode"
											   value="#{paymentScheduleBean.lstCboInterestPaymentModality}"
											   itemLabel="#{payMode.parameterName}" itemValue="#{payMode.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.spread.escalon']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:inputText id="txtCurCronIntSpreadEscalon"
										 value="#{paymentScheduleBean.security.interestPaymentSchedule.spread}"
										 required="true"
										 styleClass="percentage-inputField"
										 label="#{msgs['security.lbl.spread.escalon']}"
										 maxlength="#{cons['percentage.length']}"
										 disabled="true">
								<p:keyFilter mask="pnum"/>	
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.percentage']}"/>				 
							</p:inputText>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:separator/>
						</td>
					</tr>






					<tr> 
						<td colspan="4">
							<p:dataTable id="dtbCurInterestPaymentCron"
										 value="#{paymentScheduleBean.security.interestPaymentSchedule.programInterestCoupons}"
										 var="payCron"
						                 rowIndexVar="rIndx" 
						                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" 
										 > 
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.payment.cronogram']}" />
								</f:facet>		
								
								 
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.nro.coupon']}">
									<h:outputText value="#{payCron.couponNumber}"/>	   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.initial.coupon.date']}">
									<h:outputText value="#{payCron.beginingDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
										 
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.register.date']}">
									<h:outputText value="#{payCron.registryDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}">
										  
									<h:outputText value="#{payCron.experitationDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
										   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.payment.date']}">
										  
									<h:outputText value="#{payCron.paymentDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.payment.days']}">
										  
									<h:outputText value="#{payCron.paymentDays}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}" 
										   rendered="#{paymentScheduleBean.exchangeRate}">										  
									<h:outputText value="#{payCron.exchangeDateRate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.rate']}"
										  style="width:100px;">

									<h:outputText id="factorInteres" value="#{payCron.interestFactor}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.rate.factor']}"/>
								    </h:outputText>
								    <h:outputText value="%" />
											<p:tooltip
												for="factorInteres"
												trackMouse="true"
												value="#{payCron.interestFactor}"
												showEffect="clip"
												hideEffect="explode"
												position="left">
												<f:convertNumber
													locale="#{cons['conv.number.locale']}"
													pattern="#{cons['conv.number.pattern.nominal.amount']}"
													maxFractionDigits="8" />
											</p:tooltip>
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.coupon.amount']}"> 
									<h:outputText id="montoInteres" value="#{payCron.couponAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
											<p:tooltip
												for="montoInteres"
												trackMouse="true"
												value="#{payCron.couponAmount}"
												showEffect="clip"
												hideEffect="explode"
												position="left">
												<f:convertNumber
													locale="#{cons['conv.number.locale']}"
													pattern="#{cons['conv.number.pattern.eight.decimals']}"
													maxFractionDigits="8" />
											</p:tooltip>
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.payed.amount']}"> 
									<h:outputText value="#{payCron.payedAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.corporative.id']}">			   
									<arkCorp:importanceEvent pageBack="#{paymentScheduleBean.viewOperationDetail ? 'paymentScheduleModDetail' : 'paymentScheduleModMgmt'}"  
															 corporativeOperationId="#{payCron.corporativeOperation.idCorporativeOperationPk}"/>	   			   
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.state']}">
									 <h:outputText value="#{payCron.stateDescription}"/>		   	
								</p:column>
								
							</p:dataTable>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:separator/>
						</td>
					</tr>
				</table>
				</p:fieldset>
      	  	</td>
      	  </tr>
	      <tr> 
				<td>
				<p:fieldset id="fldInterestPaymentCronNew" 
							legend="#{msgs['payment.cronogram.lbl.int.payment.cronogram.new']}"
							>
				<table width="100%"> 
					<tr> 
						<td width="200"> 
							<h:outputText value="#{msgs['security.lbl.interest.type']} (*)"
										  styleClass="required-field"/>
						</td>
						<td width="250"> 
							<p:selectOneMenu id="cboCronInterestType" 
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.interestType}"
											 required="true"
											 label="#{msgs['security.lbl.interest.type']}"
											 styleClass="combo-widh-medium"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestType}"
											   var="intType"
											   itemLabel="#{intType.parameterName}" itemValue="#{intType.parameterTablePk}"/>
							</p:selectOneMenu>
							
						</td>
						<td width="250"> 
							<h:outputText value="#{msgs['security.lbl.performance']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td width="250">
							<p:selectOneMenu id="cboCronPerformance"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.yield}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.performance']}"
											 disabled="true"
											 required="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
								<f:selectItems value="#{paymentScheduleBean.lstCboYield}"
											   var="yld"
											   itemValue="#{yld.parameterTablePk}" itemLabel="#{yld.parameterName}"/>
							</p:selectOneMenu>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.effective.nominal']} (*)"
										  styleClass="required-field"/>
						</td>
						<td>   
							<p:selectOneMenu id="cboCronEffectiveNominal"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.cashNominal}"
										     styleClass="combo-widh-medium"
										     label="#{msgs['security.lbl.effective.nominal']}"
										     required="true"
										     disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCashNominal}"
											   var="cash"
											   itemLabel="#{cash.parameterName}" itemValue="#{cash.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.rate']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td>
						 	<p:inputText id="txtCronInterestRate"
						 				 value="#{paymentScheduleBean.intPaymentScheduleReqHi.interestFactor}"
						 				 label="#{msgs['security.lbl.interest.rate']}"
						 				 styleClass="amount-inputfield"
						 				 maxlength="#{cons['security.interest.rate.length']}"
						 				 required="true"
						 				 disabled="true"
						 				 >
						 		<p:keyFilter mask="pnum"/>	
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>		 
						 	</p:inputText>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.periodicity']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronInterestPayPeriodicity"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.periodicity}"
											 required="true"
											 disabled="true"
											 styleClass="combo-widh-medium" 
											 label="#{msgs['security.lbl.interest.payment.periodicity']}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
										 	   var="payMod"
											  itemValue="#{payMod.parameterTablePk}" itemLabel="#{payMod.parameterName}"/>
							</p:selectOneMenu>				
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.revised.periodicity.interest.rate']}" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronRevPerIntRate"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.interestPeriodicity}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.revised.periodicity.interest.rate']}"
											 required="true"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboInterestPeriodicity}"
											   var="intPer"
											   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.type']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td>  
							<p:selectOneMenu id="cboCronCalendarType"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.calendarType}"
											 required="true"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.calendar.type']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCalendarType}"
												var="calType"
												itemLabel="#{calType.parameterName}" itemValue="#{calType.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>													
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.days']} (*)"
										  styleClass="required-field"/>
						</td>
						<td> 
					<ui:remove>		
						<p:selectOneMenu id="cboCronCalendarrDay"
											 value="#{paymentScheduleBean.intPaymentScheduleReqHi.calendarDays}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.calendar.days']}"
											 disabled="true"
											 required="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{paymentScheduleBean.lstCboCalendarDays}"
												var="calDay"
											   itemValue="#{calDay.parameterTablePk}" itemLabel="#{calDay.parameterName}"/>
						</p:selectOneMenu> 
					</ui:remove>
							<p:inputText id="txtCalendarDays"
										 value="#{paymentScheduleBean.intPaymentScheduleReqHi.calendarDaysDescription}"
										 disabled="true"/>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.mode']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronIntPaymentMode"
											 value="#{paymentScheduleBean.security.interestPaymentModality}"
											 styleClass="combo-widh-medium"
											 required="true"
											 label="#{msgs['security.lbl.interest.payment.mode']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems var="payMode"
											   value="#{paymentScheduleBean.lstCboInterestPaymentModality}"
											   itemLabel="#{payMode.parameterName}" itemValue="#{payMode.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.spread.escalon']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:inputText id="txtCronIntSpreadEscalon"
										 value="#{paymentScheduleBean.intPaymentScheduleReqHi.spread}"
										 required="true"
										 styleClass="percentage-inputField"
										 label="#{msgs['security.lbl.spread.escalon']}"
										 maxlength="#{cons['percentage.length']}"
										 disabled="#{!paymentScheduleBean.viewOperationRegister || !paymentScheduleBean.mixedInterestType}">
								<p:keyFilter mask="pnum"/>	
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.percentage']}"/>		 
							</p:inputText>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText  value="Subir Archivo Excel" 
										  styleClass="required-field"/>
						</td>
						<td> 
						<p:fileUpload label="Seleccionar Archivo" style="color: transparent;"
										fileUploadListener="#{paymentScheduleBean.leerArchivoExcel}"
										mode="advanced" auto="true" update="dtbInterestPaymentCron :opnlGenericDialogs"
										allowTypes="/(\.|\/)(gif|jpe?g|xls|xlsx|pdf|xml|doc|docx|ppt|pptx|txt|sql)$/" />
						</td>
						<td> 
							<h:outputText value=""/>
						</td>
						<td>
							<h:outputText value=""/>			
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:separator/>
						</td>
					</tr>
					<tr>
						<td colspan="4"> 
							<p:message for="dtbInterestPaymentCron"/>
						</td>
					</tr>
					<tr> 
						<td colspan="4">
							<p:dataTable id="dtbInterestPaymentCron"
										 value="#{paymentScheduleBean.lstDtbProIntCouponReqHis}"
										 var="payCron"
						                 rowIndexVar="rIndx" 
						                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" 
										 > 
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.payment.cronogram']}" />
								</f:facet>
										<p:column
											rendered="#{paymentScheduleBean.viewOperationRegister}">

											<f:facet name="header">
												<p:selectBooleanCheckbox
													value="#{paymentScheduleBean.selectAllCouponsInterest}">
													<p:ajax update="dtbInterestPaymentCron"
														listener="#{paymentScheduleBean.selectAndUnselectAllCouponsInterest}" />
												</p:selectBooleanCheckbox>
											</f:facet>

											<p:selectBooleanCheckbox id="chkSelect"
												value="#{payCron.selected}" disabled="#{payCron.paidState}">
												<p:ajax event="change"
													listener="#{paymentScheduleBean.selectProgramInterestCoupon(payCron)}"
													process="@this" update="dtbInterestPaymentCron" />
											</p:selectBooleanCheckbox>
										</p:column>

										<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.nro.coupon']}">
									<h:outputText value="#{payCron.couponNumber}"/>	   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.initial.coupon.date']}">
									<h:outputText value="#{payCron.beginingDate}"
												  rendered="#{!payCron.pendingState}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
									
									<p:calendar id="calBeginDate"
												value="#{payCron.beginingDate}"
												rendered="#{payCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												disabled="#{!paymentScheduleBean.viewOperationRegister || payCron.disabled}"
												pattern="#{msgs['dateFormat']}"
												navigator="true"
												mindate="#{payCron.minBeginDate}"
												maxdate="#{payCron.maxBeginDate}"
												styleClass="noDisableHolyDays">
										<p:ajax event="dateSelect"
												listener="#{paymentScheduleBean.changeProgramIntBeginDate(payCron)}"
												update="dtbInterestPaymentCron"
												process="@this"/>
									</p:calendar>	 
   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}">
										  
									<h:outputText value="#{payCron.expirationDate}"
												  rendered="#{!payCron.pendingState}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
									
									<p:calendar id="calExpirationDate"
												value="#{payCron.expirationDate}"
												rendered="#{payCron.pendingState}"
												size="10" 
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												disabled="#{!paymentScheduleBean.viewOperationRegister || payCron.disabled}"
												pattern="#{msgs['dateFormat']}"
												navigator="true"
												mindate="#{paymentScheduleBean.getAlterDateDays(payCron.beginingDate,1)}"
												maxdate="#{payCron.maxExpirationDate}"
												styleClass="noDisableHolyDays"
												>
										<p:ajax event="dateSelect"
												listener="#{paymentScheduleBean.changeProgramIntExpirationDate(payCron)}"
												process="@this"
												update="dtbInterestPaymentCron"/>
									</p:calendar>
										   	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.payment.date']}">
										  
									<h:outputText value="#{payCron.paymentDate}"
												  rendered="#{!payCron.pendingState}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
									
									<p:calendar id="calPaymentDate"
												value="#{payCron.paymentDate}"
												rendered="#{payCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												disabled="#{!paymentScheduleBean.viewOperationRegister || payCron.disabled}"
												pattern="#{msgs['dateFormat']}"
												mindate="#{payCron.paymentDateMin}"
												maxdate="#{payCron.paymentDateMax}"
												navigator="true"
												beforeShowDay="disableAllHolydays">
										<p:ajax event="dateSelect"
												listener="#{paymentScheduleBean.changeProgramIntPaymentDate(payCron)}"
												process="@this"
												update="dtbInterestPaymentCron"/>
									</p:calendar>	   	
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.payment.days']}">
										  
									<h:outputText value="#{payCron.paymentDays}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}"/>
									</h:outputText>
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}"
										  rendered="#{paymentScheduleBean.exchangeRate}">									
									<p:calendar id="calExchangeDate"
												value="#{payCron.exchangeDateRate}"
												disabled="#{!paymentScheduleBean.viewOperationRegister || payCron.disabled}"
												size="10" 
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												mindate="#{payCron.expirationDate}"
												maxdate="#{payCron.paymentDate}"
												navigator="true" 
												beforeShowDay="disableAllHolydays"/>																											   	
								</p:column>	
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.register.date']}">
									<h:outputText value="#{payCron.registryDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.rate']}"
										  style="width:100px;">
									<p:inputNumber widgetVar="cwfPercentageAmount"
										id="txtPercentageAmount"
										label="#{msgs['payment.cronogram.col.rate']}"
										value="#{payCron.interestFactor}" 
										symbol="%" style="text-align:right"
										symbolPosition="s" minValue="0.0000"
										rendered="#{payCron.pendingState and 
												!(!paymentScheduleBean.viewOperationRegister || payCron.disabled ||
													 paymentScheduleBean.intPaymentScheduleReqHi.interestType ne 534)}"
										maxValue="100">
										<p:keyFilter mask="pnum" />
										<p:ajax event="blur" global="false"
											process="txtPercentageAmount"
											listener="#{paymentScheduleBean.changeProgramIntCouponAmount(payCron)}"
											update="txtCouponAmountId" />
									</p:inputNumber>
									<h:outputText value="#{payCron.interestFactor}" id="viewFactorInteres"
													rendered="#{!(payCron.pendingState and 
													!(!paymentScheduleBean.viewOperationRegister || payCron.disabled ||
													 paymentScheduleBean.intPaymentScheduleReqHi.interestType ne 534))}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.rate.factor']}"/>
								    </h:outputText>
											<p:tooltip
												for="viewFactorInteres"
												trackMouse="true"
												value="#{payCron.interestFactor}"
												showEffect="clip"
												hideEffect="explode"
												position="left">
												<f:convertNumber
													locale="#{cons['conv.number.locale']}"
													pattern="#{cons['conv.number.pattern.nominal.amount']}"
													maxFractionDigits="8" />
											</p:tooltip>
										</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.coupon.amount']}"> 

								    <h:outputText id="txtCouponAmountId" value="#{payCron.couponAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
								    <p:tooltip
												for="txtCouponAmountId"
												trackMouse="true"
												value="#{payCron.couponAmount}"
												showEffect="clip"
												hideEffect="explode"
												position="left">
												<f:convertNumber
													locale="#{cons['conv.number.locale']}"
													pattern="#{cons['conv.number.pattern.eight.decimals']}"
													maxFractionDigits="8" />
											</p:tooltip>
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.payed.amount']}"> 
									<h:outputText value="#{payCron.payedAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
								</p:column>
									<ui:remove>
									<p:column styleClass="content-left"
											  headerText="#{msgs['payment.cronogram.col.corporative.id']}"
											  rendered="#{!paymentScheduleBean.viewOperationRegister}"> 
											  
										<arkCorp:importanceEvent pageBack="#{paymentScheduleBean.viewOperationDetail ? 'securityDetailRule' : 'securityMgmtRule'}"  
																 corporativeOperationId="#{payCron.corporativeOperation.idCorporativeOperationPk}"/>
																 
									</p:column>
									</ui:remove>
								<p:column styleClass="content-left" 
										  headerText="#{msgs['col.state']}"
										  rendered="#{!paymentScheduleBean.viewOperationRegister}"> 
									<h:outputText value="#{payCron.stateDescription}"/>
								</p:column>
								
							</p:dataTable>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:separator/>
						</td>
					</tr>
					<tr> 
						<td colspan="4" align="right"> 
									 
						</td>
					</tr>
				</table>
				</p:fieldset>
				</td>      
	      </tr> 
      </table>          
      </p:outputPanel>     
</ui:composition>