<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:form id="frmLoanableSecuritiesOperation">
<table id="tblGeneral" width="100%">	
	<tr>
		<td>
		<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['inegotiations.entryloanablesecurities.manage.title']}" styleClass="title-page" />
				</td>
				<td align="right">
					<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" action="loanableSecuritiesRegistryMgmt" 
							 actionListener="#{manageLoanableSecuritiesOperationMgmtBean.registryLoanableSecuritiesRequestHandler}" icon="fa fa-edit" 
							 rendered="#{manageLoanableSecuritiesOperationMgmtBean.userInfo.userAcctions.register}"/>
				</td>																				
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldLoanableSecuritiesData" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">		
		<tr>			
			<td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.participant']} (*)"  styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboParticipant" value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.idParticipant}" 
					label="#{msgs['lbl.loanable.securities.search.participant']}"  style="width:200px" disabled="#{manageLoanableSecuritiesOperationMgmtBean.userInfo.userAccountSession.participantInstitucion}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>					
						<f:selectItems value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.lstAllParticipant}"  var="participant"
														  itemLabel="#{participant.mnemonic} - #{participant.idParticipantPk} - #{participant.description}" itemValue="#{participant.idParticipantPk}"/>
						<p:ajax event="change" process="@this" listener="#{manageLoanableSecuritiesOperationMgmtBean.cleanDataModel}" 
							update="@this msgParticipant cboParticipant pnlAccountComp opnlResult pnlButtons"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			
				</p:selectOneMenu>
				<p:message for="cboParticipant" display="icon" id="msgParticipant"/>
				</h:panelGrid>
			</td>				
			<td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.cui.holder']}"/>
			</td>
			<td>
				<p:outputPanel id="helpAccount">
	                <ark:holderHelper id="holderHelper"  required="false"   							                     
	                 holder="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.CUIHolder}" 
	                 remoteListener="rmtHolder()" 
	                  blParticipant="true" participant="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.idParticipant}"/>				                
               </p:outputPanel>
               <p:remoteCommand name="rmtHolder"
                actionListener="#{manageLoanableSecuritiesOperationMgmtBean.validateHolderHandlerSearch}" 
                global="false" process="@this"
                update="pnlAccountComp helpAccount opnlResult pnlButtons"
                onstart="PF('statusDialogCustom').show()"
                oncomplete="PF('statusDialogCustom').hide();setInitialFormState('#frmLoanableSecuritiesOperation');">
               </p:remoteCommand> 							               				                           
           </td>	 
           <td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.state']}" />
			</td>
			<td>				
				<p:selectOneMenu id="cboState" value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.idState}" 
					style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.lstState}" 
						var="negoState" itemValue="#{negoState.parameterTablePk}" itemLabel="#{negoState.parameterName}"/>
						<p:ajax event="change" process="@this" listener="#{manageLoanableSecuritiesOperationMgmtBean.cleanDataModel}" 
							update="@this opnlResult pnlButtons"/>							
				</p:selectOneMenu>			
			</td>       											
		</tr>
		<tr>
        	<td>
        		<h:outputText  value="#{msgs['lbl.loanable.securities.search.account.holder']}" />
        	</td>
            <td colspan="5">
            	<p:outputPanel id="pnlAccountComp">
		              <ark:accountHelper  id="accountHelper" 
		               holderAccount="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.holderAccount}"			               
		               disabled="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.idParticipant == null || manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.CUIHolder.idHolderPk == null}"
		               required="false" blHolder="true"
		               label= "#{msgs['lbl.loanable.securities.search.account.holder']}" 
		               holder="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.CUIHolder}" 
		               participant="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.idParticipant}"
		               remoteListener="rmtHolderAccount()" />
		              <p:remoteCommand name="rmtHolderAccount"
		               actionListener="#{manageLoanableSecuritiesOperationMgmtBean.validateHolderAccountHanlderSearch}"
		               global="false" process="@this"
		               update="pnlAccountComp opnlResult pnlButtons"
		               onstart="PF('statusDialogCustom').show()"
		               oncomplete="PF('statusDialogCustom').hide()">
              </p:remoteCommand>
             </p:outputPanel>
             </td>
        </tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.number.request']}"/>
			</td>
			<td>
				<p:inputText maxlength="10" style="width:110px" size="10" 
				value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.requestNumber}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
					<p:ajax event="keyup" listener="#{manageLoanableSecuritiesOperationMgmtBean.cleanDataModel}" 
							update="opnlResult,pnlButtons" global="false"/>	
				</p:inputText>									
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.initial.date']} (*)" styleClass="required-field"/>
			</td>
			<td>				
				<h:panelGrid columns="2">
					<p:calendar value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.initialDate}" id="calInitialDate" showOn="button" readonlyInput="true"
								pattern="#{cons['dateFormat']}" maxdate="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.finalDate}" navigator="true"
								disabledWeekends="true" size="10">
						<p:ajax listener="#{manageLoanableSecuritiesOperationMgmtBean.cleanDataModel}"  
						update="opnlResult,pnlButtons,calEndDate" event="dateSelect" global="false"/>
						<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
					</p:calendar>
					<p:message id="msgCalInitialDate" for="calInitialDate" display="icon"/>
				</h:panelGrid>									
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.loanable.securities.search.end.date']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3"> 
				<h:panelGrid columns="2">
					<p:calendar value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.finalDate}" id="calEndDate" showOn="button" readonlyInput="true"  
								mindate="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationTO.initialDate}" pattern="#{cons['dateFormat']}" navigator="true"
								disabledWeekends="true" size="10">
						<p:ajax listener="#{manageLoanableSecuritiesOperationMgmtBean.cleanDataModel}" 
						update="opnlResult,pnlButtons,calInitialDate" event="dateSelect" global="false"/>
						<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>
					</p:calendar>
					<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
				</h:panelGrid>													
			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
								 update="opnlResult pnlButtons fldLoanableSecuritiesData" 
								 actionListener="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesOperationHandler}"
								 rendered="#{manageLoanableSecuritiesOperationMgmtBean.userInfo.userAcctions.search}">
				<f:param name="skipValidation" value="true"/>									
				</p:commandButton>	
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@this" 				 				
				 				 actionListener="#{manageLoanableSecuritiesOperationMgmtBean.cleanLoanableSecuritiesOperationSearchHandler}" 
								 update="opnlResult pnlButtons :frmLoanableSecuritiesOperation"
								 rendered="#{manageLoanableSecuritiesOperationMgmtBean.userInfo.userAcctions.search}"/>							
			</td>
		</tr>
				
		</table>
		</p:fieldset>		
		</td>
	</tr>
	<tr>
			<td width="100%" colspan="6">
				<p:outputPanel id="pnlButtons">						
					<p:outputPanel id="pnlButton" rendered="#{(manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel.rowCount >= 1)}">	
						<comp:privileges actions="#{userInfo.userAcctions}" renders="#{userInfo.privilegeComponent}"
									 actionApprove="#{manageLoanableSecuritiesOperationMgmtBean.beforeApproveAction}"
									 actionAnnular="#{manageLoanableSecuritiesOperationMgmtBean.beforeAnnularAction}"
									 actionConfirm="#{manageLoanableSecuritiesOperationMgmtBean.beforeConfirmAction}" 
									 actionReject="#{manageLoanableSecuritiesOperationMgmtBean.beforeRejectAction}">
						</comp:privileges>							
					</p:outputPanel>						
				</p:outputPanel>
			</td>
		</tr>	
	<tr>
			<td width="100%" colspan="6">
			<p:outputPanel id="opnlResult">	
			<p:outputPanel id="outPanelResult" rendered="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel != null}">
				<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel.rowCount>=1}">
					<p:dataTable id="dtbLoanableSecurities" var="placReq" value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel}"
								 rendered="#{(manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel.rowCount >= 1)}"
								 selection="#{manageLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession}"
								 paginator="true" rows="10"
								 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 rowKey="#{placReq.idLoanableSecuritiesRequestPk}" 
								 style="width:100% !important">
								 
						<p:column selectionMode="single" style="width:18px" />
						
						<p:column headerText="#{msgs['lbl.loanable.securities.search.number.request']}" styleClass="content-center">
							<p:commandLink value="#{placReq.idLoanableSecuritiesRequestPk}" style="color:blue" action="loanableSecuritiesDetailMgmtRule"
										   actionListener="#{manageLoanableSecuritiesOperationMgmtBean.selectLoanableSecuritiesOperationHandler(placReq)}"/>
						</p:column>						
						<p:column headerText="#{msgs['lbl.loanable.securities.search.registry.date']}" styleClass="content-center">
							<h:outputText value="#{placReq.registryDate}">
								<f:convertDateTime pattern="dd/M/yyyy"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.loanable.securities.search.participant']}" >
							<h:outputText value="#{placReq.participant.description} - #{placReq.participant.idParticipantPk}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.loanable.securities.search.account.holder']}" styleClass="content-center">
							<h:outputText value="#{placReq.holderAccount.accountNumber}"/>
						</p:column>							
						<p:column headerText="#{msgs['lbl.loanable.securities.search.description.holder']}">																										
							<ui:repeat
					           value="#{placReq.holderAccount.holderAccountDetails}"
					           var="cuis">
					           <li><h:outputFormat value="#{cuis.holder.idHolderPk}" />
					            <h:outputFormat value="-" /> <h:outputFormat
					             value="#{cuis.holder.descriptionHolder}" /></li>
					          </ui:repeat>            							
						</p:column>	
						<p:column headerText="#{msgs['lbl.loanable.securities.register.to.pay.balance']}" styleClass="content-center">
							<ui:repeat
					           value="#{placReq.holderAccount.holderAccountBalances}"
					           var="cuis">
					           <li><h:outputFormat value="#{cuis.security.idSecurityCodePk}" />
					            <h:outputFormat value="-" /> <h:outputFormat
					             value="#{cuis.transferAmmount}" /></li>
					          </ui:repeat>    
						</p:column>						
						<p:column headerText="#{msgs['lbl.loanable.securities.search.state']}" styleClass="content-center">
							<h:outputText value="#{placReq.requestNameState}"/>
						</p:column>						
				        <f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>						
						<p:ajax event="page" listener="#{manageLoanableSecuritiesOperationMgmtBean.changePageDatatable}"/>
					</p:dataTable>
					
				</p:fieldset>
				
				<p:panel rendered="#{!(manageLoanableSecuritiesOperationMgmtBean.searchLoanableSecuritiesRequestModel.rowCount >= 1)}">
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
						style="font-weight:bold;"/>	
			    </p:panel>		
			    
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>					
</table>

</h:form>
	<p:outputPanel id="opnlDialogs">
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>