<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:outputText value="#{msgs['billing.invoice.send.invoices']}"
			styleClass="title-page" />
		<h:form id="fmrInterfaceXmlSap">
			<table width="100%">
				<tr>
					<td><p:fieldset id="fldsFiltros"
							legend="#{msgs['billing.invoice.registre.dates']}">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td colspan="4">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td width="25%"><h:outputText
														value="#{msgs['billingService.lbl.service']}" /></td>
												<td width="25%"><hark:billingService id="helperBilling"
														validatorName="com.pradera.commons.view.validators.InputTextValidator"
														billingService="#{searchSendInvoiceMgmtBean.billingServiceSelection}"
														remoteListener="remoteValidate();" /> <p:remoteCommand
														process="@this" name="remoteValidate"
														actionListener="#{searchSendInvoiceMgmtBean.validateBillingId()}">
													</p:remoteCommand></td>
												<td width="25%"></td>
												<td width="25%"></td>
											</tr>
										</table>
									</td>
								</tr>
								<!--Entidad de cobro -->
								<tr>
									<td width="25%"><h:outputText
											value="#{msgs['lbl.collection.institution']} (*)" /></td>
									<td width="25%"><p:outputPanel>
											<p:selectOneMenu id="cmbEntityCollection"
												style="width:250px;"
												label="#{msgs['lbl.collection.institution']}"
												value="#{searchSendInvoiceMgmtBean.collectionInstitutionSelected}"
												filter="true" filterMatchMode="contains">
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
												<f:selectItems
													value="#{searchSendInvoiceMgmtBean.listCollectionInstitution}"
													var="collectionInstitution"
													itemLabel="#{collectionInstitution.parameterName}"
													itemValue="#{collectionInstitution.parameterTablePk}" />
												<p:ajax event="change" 
													update = "@this cmbEntityCollection"
													process="@this" listener="#{searchSendInvoiceMgmtBean.updateComponentEntityCollection}"/>
											</p:selectOneMenu>
										</p:outputPanel></td>
									<td width="25%"><h:outputText
											value="#{msgs['billingService.lbl.collection.period']} (*)" />
									</td>
									<td width="25%"><p:selectOneMenu filter="true"
											filterMatchMode="contains" id="cmbCalculationPeriod"
											style="width:250px;"
											label="#{msgs['billingService.lbl.collection.period']}"
											value="#{searchSendInvoiceMgmtBean.collectionPeriodSelected}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
											<f:selectItems
												value="#{billingMgmtBean.listCollectionPeriod}"
												var="calculationPeriod"
												itemLabel="#{calculationPeriod.parameterName}"
												itemValue="#{calculationPeriod.parameterTablePk}" />
										<p:ajax event="change" 
										update="@this cmbCalculationPeriod"
										process="@this" listener="#{searchSendInvoiceMgmtBean.updateComponentCollectionPeriod}"/>
										</p:selectOneMenu>
										</td>
								</tr>
								<!-- Fecha de facturacion -->
								<tr>
									<td width="25%"><h:outputText
											value="#{msgs['billing.invoice.date.registre.init']}"
											styleClass="required-field" /></td>
									<td width="25%"><p:calendar id="cldInitialInvoice"
											size="10" readonlyInput="true" navigator="true"
											required="true"
											requiredMessage="#{msgs['billingService.req.fecha.inicial']}"
											maxlength="10"
											value="#{searchSendInvoiceMgmtBean.invoiceSearchTO.registreInitDate}"
											maxdate="#{searchSendInvoiceMgmtBean.invoiceSearchTO.registreFinalDate}"
											pattern="#{msgs['dateFormat']}" showOn="button">
											<p:ajax event="dateSelect" update="cldFinalInvoice"
												process="@this" global="false" />
										</p:calendar></td>
									<td width="25%"><h:outputText
											value="#{msgs['billing.invoice.date.registre.final']}"
											styleClass="required-field" /></td>
									<td width="25%"><p:calendar id="cldFinalInvoice" size="10"
											readonlyInput="true" navigator="true" required="true"
											requiredMessage="#{msgs['billingService.req.fecha.inicial']}"
											maxlength="10"
											value="#{searchSendInvoiceMgmtBean.invoiceSearchTO.registreFinalDate}"
											mindate="#{searchSendInvoiceMgmtBean.invoiceSearchTO.registreInitDate}"
											pattern="#{msgs['dateFormat']}" showOn="button">
											<p:ajax event="dateSelect" update="cldInitialInvoice"
												process="@this" global="false" />
										</p:calendar></td>
								</tr>
								<tr>
									<td align="center" colspan="4"><p:commandButton
											icon="fa fa-search" value="#{msgs['btn.search']}"
											actionListener="#{searchSendInvoiceMgmtBean.searchInvoiceRecords}"
											update="@form panelListado" /> <p:spacer width="20"></p:spacer>
										<p:commandButton icon="fa fa-trash" value="#{msgs['btn.clean']}"
											actionListener="#{searchSendInvoiceMgmtBean.cleanRegistrePage}"
											process="@this" immediate="true" update="@form :opnlDialogs" />
										<p:spacer width="20"></p:spacer> <p:commandButton
											icon="fa fa-undo" value="#{msgs['btn.back']}"
											action="#{searchSendInvoiceMgmtBean.backRegistrePage}"
											process="@this" immediate="true" update="@form :opnlDialogs" />
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
				<tr>
					<td><p:panel id="panelListado"
							rendered="#{searchSendInvoiceMgmtBean.calculationProcessDataModel != null}">
							<p:dataTable id="dataTable" var="process"
								value="#{searchSendInvoiceMgmtBean.calculationProcessDataModel}"
								rendered="#{(searchSendInvoiceMgmtBean.calculationProcessDataModel.rowCount >= 1)}"
								paginator="true" rows="10" paginatorPosition="top"
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{msgs['dtb.template']}" rowKey="#{process}"
								rowsPerPageTemplate="5,10,15" rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{searchSendInvoiceMgmtBean.listSelecteds}">
								<p:column selectionMode="multiple" style="width:18px" />
								<p:column sortBy="#{process.operationDate}" style="width:30px"
									styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.operation.date']}" />
									</f:facet>
									<h:outputText value="#{process.operationDate}">
										<f:convertDateTime pattern="#{msgs.dateTimeFormatFull}" />
									</h:outputText>
								</p:column>
								<p:column styleClass="content-center" style="width:120px">
									<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.service']}" />
									</f:facet>
									<h:outputText value="#{process.billingServiceCode}" />
								</p:column>

								<p:column styleClass="content-center" style="width:120px">
									<f:facet name="header">
										<h:outputText
											value="#{msgs['billingService.lbl.collection.institution']}" />
									</f:facet>
									<h:outputText value="#{process.descriptionEntityCollection}" />
								</p:column>

								<p:column styleClass="content-center" style="width:120px">
									<f:facet name="header">
										<h:outputText
											value="#{msgs['billingService.lbl.collection.period']}" />
									</f:facet>
									<h:outputText value="#{process.descriptionBillingPeriod}" />
								</p:column>

								<p:column styleClass="content-center" style="width:130px">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.date']}" />
									</f:facet>
									<h:outputText value="#{process.billingDate}">
										<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
								</p:column>

								<p:column styleClass="content-center" style="width:130px">
									<f:facet name="header">
										<h:outputText value="#{msgs['btn.download']}" />
									</f:facet>
									<p:commandLink styleClass="icon" process="@this" update="@form"
										global="false" ajax="false" immediate="true"
										onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
										<p:fileDownload
											value="#{searchSendInvoiceMgmtBean.getStreamedContent(process)}" />
										<p:graphicImage id="imgView" library="img"
											name="icons/loupe.png" />
									</p:commandLink>
								</p:column>

								<f:facet name="footer">
									<div style="width: 100%; text-align: left" id="idDivRowCount">
										<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
											<f:param id="idParamRowCount"
												value="#{searchSendInvoiceMgmtBean.calculationProcessDataModel.rowCount}" />
										</h:outputFormat>
									</div>
								</f:facet>
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}"
								rendered="#{!(searchSendInvoiceMgmtBean.calculationProcessDataModel.rowCount>=1)}"
								style="font-weight:bold;" />

						</p:panel></td>
				</tr>
				<tr>
					<td align="center" colspan="4"><p:commandButton icon="ui-send"
							value="#{msgs['btn.send']}"
							action="#{searchSendInvoiceMgmtBean.preSendInvoiceSapClient}"
							process="@this dataTable"
							rendered="#{searchSendInvoiceMgmtBean.calculationProcessDataModel.rowCount>=1}"
							update="@form panelListado">
						</p:commandButton> <p:spacer width="20"></p:spacer> <p:commandButton icon="fa fa-undo"
							value="#{msgs['btn.back']}" process="@this"
							action="#{searchSendInvoiceMgmtBean.backRegistrePage}"
							rendered="#{searchSendInvoiceMgmtBean.calculationProcessDataModel.rowCount>=1}"
							update="@form panelListado">
						</p:commandButton></td>
				</tr>
			</table>
		</h:form>
		<!-- Alters -->
		<p:outputPanel id="opnlDialogs">
			<h:form id="formDialogs">
				<!--Dialogo de confirmacion de registro cuenta bancaria-->
				<p:confirmDialog id="idBtnConfirnSendXml"
					widgetVar="wVBtnConfirnSendXml"
					header="#{msgs['header.message.alert']}"
					message="#{msgs['billing.invoice.alert.send.xml']}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="PF('wVBtnConfirnSendXml').hide();" process="@this"
						action="#{searchSendInvoiceMgmtBean.sendInvoiceSapClient}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="PF('wVBtnConfirnSendXml').hide();" />
				</p:confirmDialog>
				<!--Dialogo de aviso de envio correcto-->
				<p:confirmDialog id="idBtnSatisfactoryDeliveryAlert"
					widgetVar="wVSatisfactoryDeliveryAlert"
					message="#{bodyMessageView}" header="#{headerMessageView}"
					closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						oncomplete="PF('wVSatisfactoryDeliveryAlert').hide();" process="@this"
						action="#{searchSendInvoiceMgmtBean.backRegistrePage}" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>