<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:form id="frmFilePayroll">
<table id="tblGeneral" width="100%">	
	<tr>
		<td align="left">
			<h:outputText value="Confirmar Archivo de Pago" styleClass="title-page" />
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldBank" legend="#{msgs['lbl.file.payroll.consigned.criteria.register']}">
		
		<table width="100%">		
		<tr>
				<td> 
					<h:outputText value="#{msgs['lbl.file.payroll.consigned.issuer']}" />
				</td>
				<td colspan="3"> 
					<ark:issuerHelper  						 
								id="issuerHelperR" disabled="true"
								issuer="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.issuer}"				
								remoteListener="rcmdValidationIssuer()"/>
					<p:remoteCommand name="rcmdValidationIssuer"
							global="false" onstart="PF('statusDialogCustom').show()"
							oncomplete="PF('statusDialogCustom').hide();setInitialFormState('#frmFilePayroll');"												
							process="@this issuerHelperR" update=" @this " 
							actionListener="#{filePayrollConsignedMgmtBean.validateIssuerSearch}"
							/>
			</td>	
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.file.payroll.consigned.currency']}"/>
			</td>
			<td>
				
				<p:outputPanel id="opnlBank">					
					<p:selectOneMenu id="bankInstitution" value="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.currency}"
						label="#{msgs['lbl.file.payroll.consigned.currency']}" disabled="true">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{filePayrollConsignedMgmtBean.lstCurrency}" 
							var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.description}"/>
						<p:ajax event="change" process="@this" update=":frmFilePayroll:bankInstitution opnlResult"/>														
					</p:selectOneMenu>		
				</p:outputPanel>
			</td>
			
		</tr>
		<ui:remove>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.file.payroll.consigned.initial.date']}"/></td>
			<td>				
				<p:calendar value="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.initialDate}" id="calInitialDate" showOn="both" readonlyInput="true"
							pattern="#{cons['dateFormat']}" maxdate="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.finalDate}" navigator="true"
							disabledWeekends="true" size="10" maxlength="10">
					<p:ajax event="dateSelect" update="calInitialDate,calEndDate" process="@this"/>
					<p:ajax event="change" update="calInitialDate,calEndDate,opnlResult" process="@this"/>		
				</p:calendar>
			</td>
			
			<td><h:outputText value="#{msgs['lbl.file.payroll.consigned.final.date']}"/></td>
			<td > 
				<p:calendar value="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.finalDate}" id="calEndDate" showOn="both" readonlyInput="true"  
							mindate="#{filePayrollConsignedMgmtBean.filePayrollConsignedRegister.initialDate}" 
							maxdate="#{filePayrollConsignedMgmtBean.currentDate}" pattern="#{cons['dateFormat']}" navigator="true"
							disabledWeekends="true" size="10">
					<p:ajax event="change" update="calInitialDate,calEndDate" process="@this" />
				</p:calendar>
			</td>
		</tr>
		
		<tr>
			<td colspan="6" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
								 update="opnlResult fldBank :opnlGenericDialogs"  
								 actionListener="#{filePayrollConsignedMgmtBean.searchPayrollOperationConsigned}" 
								 rendered="#{filePayrollConsignedMgmtBean.userInfo.userAcctions.search}"/>							 						
			</td>
		</tr>
		</ui:remove>
		</table>

		</p:fieldset>		
		</td>
	</tr>	
		<tr>
			<td colspan="4">
				<p:outputPanel id="opnlResult">
					<p:fieldset  rendered="#{filePayrollConsignedMgmtBean.lstDtFilePayrollConsigDet.rowCount >= 1}">
						<p:dataTable id="procesosLista"
						paginator="true" rows="10"  rendered="#{filePayrollConsignedMgmtBean.lstDtFilePayrollConsigDet.rowCount >= 1}"
						currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
						paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
						style="padding-right:0px !important;"
						rowsPerPageTemplate="5,10,15,30,45" paginatorPosition="top"
						var="payrollConsigned" value="#{filePayrollConsignedMgmtBean.lstDtFilePayrollConsigDet}" 
						selection="#{filePayrollConsignedMgmtBean.filePayrollConsignedDets}" 
						rowKey="#{payrollConsigned.idFilePayrollConsigDetPk}" disabledSelection="#{!filePayrollConsignedMgmtBean.isViewOperationConfirm() or (payrollConsigned.state eq 2834 or payrollConsigned.state eq 2833)}">
						 
						 	<p:column selectionMode="multiple" style="width:16px" />
							
							<ui:remove>
								<p:column headerText="#{msgs['lbl.id.corporate.proces']}" style="text-align:center" sortBy="#{payrollConsigned.idFilePayrollConsigDetPk}">						
									<h:outputText value="#{payrollConsigned.idFilePayrollConsigDetPk}" />
								</p:column>			
								<p:column headerText="#{msgs['lbl.id.corporate.proces']}" style="text-align:center" sortBy="#{payrollConsigned.idPayrollConsignedOperPk}">						
									<h:outputText value="#{payrollConsigned.payrollConsignedOperation.idPayrollConsignedOperPk}" />
								</p:column>					
							</ui:remove>
																		
							<p:column headerText="#{msgs['lbl.file.payroll.bank.code']}" sortBy="#{payrollConsigned.payrollConsignedOperation.codeBank}" >  
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.codeBank}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.file.payroll.register.date']}" sortBy="#{payrollConsigned.payrollConsignedOperation.processDate}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.processDate}">
								<f:convertDateTime  pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.file.payroll.account.bank.source']}" sortBy="#{payrollConsigned.payrollConsignedOperation.accountNumberBankSource}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.accountNumberBankSource}">
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.file.payroll.account.bank.target']}" sortBy="#{payrollConsigned.payrollConsignedOperation.accountNumberBankTarget}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.accountNumberBankTarget}">
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.file.payroll.currency']}" sortBy="#{payrollConsigned.payrollConsignedOperation.currency}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.currency}">
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.file.payroll.holder.account']}" sortBy="#{payrollConsigned.payrollConsignedOperation.fullnameTarget}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.fullnameTarget}">
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['lbl.file.payroll.amount.operation']}" sortBy="#{payrollConsigned.payrollConsignedOperation.paymentAmount}">
								<h:outputText value="#{payrollConsigned.payrollConsignedOperation.paymentAmount}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['dtb.fecha.registro']}" sortBy="#{payrollConsigned.registryDate}">
								<h:outputText value="#{payrollConsigned.registryDate}">
								<f:convertDateTime  pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="estado" sortBy="#{payrollConsigned.state}">
								<h:outputText value="#{filePayrollConsignedMgmtBean.stateDescription(payrollConsigned.state)}">
								</h:outputText>
							</p:column>
							
							<f:facet name="footer">
								<div style="text-align:left;">	  
						            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" >
						            	<f:param value="#{filePayrollConsignedMgmtBean.lstDtFilePayrollConsigDet.rowCount}" id="idParamRowCount"/>
						            </h:outputFormat>
					          	</div>  
					        </f:facet> 
									
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(filePayrollConsignedMgmtBean.lstDtFilePayrollConsigDet.rowCount >= 1)}"
								style="font-weight:bold;"/>
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
		<tr> 
			<td colspan="6" align="center"> 
				<p:commandButton id="cmbSave" 
								 onclick="if(!isModifiedFormForSave('#frmFilePayroll',#{filePayrollConsignedMgmtBean.viewOperationModify}))return false;"
								 value="#{gmsgs['btn.save']}" icon="fa fa-save" rendered="#{filePayrollConsignedMgmtBean.isViewOperationConfirm()}"
								 actionListener="#{filePayrollConsignedMgmtBean.beforeConfirmFilePayrollCondigned}"
								 update="@form :pnlConfirmDialog"/> 
				<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchFilePayroll"
								  onclick="if(isModifiedFormForBack(this,'frmFilePayroll'))return false;" 
								 immediate="true" ajax="false" rendered="#{filePayrollConsignedMgmtBean.isViewOperationConfirm()}"/>
				<p:commandButton id="btnBack2" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchFilePayroll"
								 immediate="true" ajax="false" rendered="#{!filePayrollConsignedMgmtBean.isViewOperationConfirm()}"/> 			 
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@this"
											 action="#{filePayrollConsignedMgmtBean.cleanFilePayrollRegister}"
											update="frmFilePayroll " rendered="#{filePayrollConsignedMgmtBean.isViewOperationConfirm()}"
											 onclick="return showCleanConfirmDialog(this);"  oncomplete="cnfwClean.hide()" partialSubmit="false"/>	
			
			
			</td>
		</tr>
															
</table>	
</h:form>
<p:outputPanel id="pnlConfirmDialog">
		<p:confirmDialog id="idCnfSave" widgetVar="idCnfSaveWin"  message="#{bodyMessageView}" 
			rendered="false" visible="true" closable="false" header="#{msgs['alt.ask.before.holadj.save.header']}" >				
			<p:commandButton value="#{gmsgs['btn.yes']}"  action="#{filePayrollConsignedMgmtBean.confirmFilePayrollCondigned}"  oncomplete="PF('idCnfSaveWin').hide();" 
			process="@this"  update=":opnlDialogs :cnfMsgCustomValidationSec :pnlConfirmDialog "/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('idCnfSaveWin').hide();" ></p:commandButton>			
		</p:confirmDialog>
		
		<p:confirmDialog id="idDialDepositary" widgetVar="idDialDepositaryWin"  message="#{bodyMessageView}" 
			rendered="false" visible="true" closable="false" header="#{msgs['alt.hol.adjust.succuess.header']}">				
			<p:commandButton value="#{gmsgs['btn.accept']}" action="searchFilePayroll" 
			process="@this"  update=" @this :opnlDialogs"/>		
		</p:confirmDialog>
	</p:outputPanel>
	<p:outputPanel id="opnlDialogs">
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>