<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	<style type="text/css">
    .ui-panelgrid tr, .ui-panelgrid td {
      border:0 !important;
     }
    </style>
	
		<f:metadata>
	       <f:event type="postAddToView" listener="#{blockUnBlockHolderMgmtBean.setButtonsListener}"/>
	    </f:metadata>
			
		<h:outputText value="#{msgs['adm.block.unblock.detail.holder.title']}" styleClass="title-page" />
		
		<h:form id="frmBlockUnBlockDetails">
			<table width="100%">
				
				<tr>
					<td>
						<p:fieldset  legend="#{msgs['adm.block.unblock.register.holder.lbl.register.data']}"	id="pnlPrincipal">
							
							<table width="80%">
								<tr>
									<td>
									    <p:outputPanel id="outputPanelGeneral"> 
										<table width="100%"> 
										    <tr>
										    <td width="120px">
										    <h:outputText value="#{msgs['adm.block.unblock.holder.search.request.filter.number.request']}"/>
										    </td>
										    <td>
										    <p:inputText disabled="true" value="#{blockUnBlockHolderMgmtBean.holderRequest.idHolderRequestPk}"/>
										    </td>
										    <td>
										    <h:outputText value="#{msgs['adm.block.unblock.holder.search.request.datatable.registry.date']}"/>
										    </td>
										    <td>
										    <p:inputText disabled="true" value="#{blockUnBlockHolderMgmtBean.holderRequest.registryDate}">
												<f:convertDateTime pattern="#{msgs.dateFormat}" />
											</p:inputText>
										    </td>
										    </tr>
										    <tr>
										    <td width="120px">
										    <h:outputText rendered="#{blockUnBlockHolderMgmtBean.requesterType!=null}" value="#{msgs['adm.block.unblock.register.holder.lbl.resquester']}" />
										    </td>
										    <td>
													<p:selectOneMenu id="cmbRequesterType" rendered="#{blockUnBlockHolderMgmtBean.requesterType!=null}" disabled="true" label="#{msgs['adm.block.unblock.register.holder.lbl.resquester']}" value="#{blockUnBlockHolderMgmtBean.requesterType}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select2']}" itemValue="-1" />  
											            <f:selectItems var="requester"  value="#{blockUnBlockHolderMgmtBean.listRequesterType}" itemLabel="#{requester.parameterName}" itemValue="#{requester.parameterTablePk}"/>
											        </p:selectOneMenu>
											</td>
											<td><h:outputText value="#{msgs['adm.block.unblock.register.holder.lbl.code.cui']}"/></td>
												<td width="120px">
													<p:inputText  disabled="true" id="inputRntCode" value="#{blockUnBlockHolderMgmtBean.holder.idHolderPk}"/>
													
												</td>										    
										    </tr>										 
											<tr>
												<td width="120px">
												<h:outputText rendered="#{blockUnBlockHolderMgmtBean.requesterParticipant}" value="#{msgs['adm.block.unblock.register.holder.lbl.participant']}" /></td>
												<td>
													<p:selectOneMenu rendered="#{blockUnBlockHolderMgmtBean.requesterParticipant}" id="cmbParticipant" disabled="true" value="#{blockUnBlockHolderMgmtBean.participant.idParticipantPk}">  
											            <f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />  
											            <f:selectItems var="participant"  value="#{blockUnBlockHolderMgmtBean.listParticipant}" itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>											            						                        
										            </p:selectOneMenu>
												</td>									
																								
											</tr>
											<tr>
												<td width="120px">
												<h:outputText value="#{msgs['adm.block.unblock.register.holder.lbl.person.type']}" /></td>
												<td width="260px">
													<p:selectOneMenu style="width:200px" disabled="true" value="#{blockUnBlockHolderMgmtBean.holder.holderType}"> 											           
											            <f:selectItems var="personType" value="#{blockUnBlockHolderMgmtBean.listPersonType}" itemLabel="#{personType.parameterName}" itemValue="#{personType.parameterTablePk}"  />
											        </p:selectOneMenu>
												</td>
												
											</tr>
											<tr>
												<td width="120px">
												<h:outputText rendered="#{blockUnBlockHolderMgmtBean.holder.name!=null}" value="#{msgs['adm.block.unblock.register.holder.lbl.names']}" /></td>
												<td colspan="4">
													<p:inputText size="60" rendered="#{blockUnBlockHolderMgmtBean.holder.name!=null}" disabled="true" value="#{blockUnBlockHolderMgmtBean.holder.name}"  />
												</td>
											</tr>
											<tr>
												<td width="120px">
												<h:outputText rendered="#{blockUnBlockHolderMgmtBean.holder.firstLastName!=null}" value="#{msgs['adm.block.unblock.register.holder.lbl.first.lastname']}" />
												</td>
												<td>
													<p:inputText rendered="#{blockUnBlockHolderMgmtBean.holder.firstLastName!=null}" disabled="true" value="#{blockUnBlockHolderMgmtBean.holder.firstLastName}" />
												</td>
												<td width="120px">
												    <h:outputText rendered="#{blockUnBlockHolderMgmtBean.holder.secondLastName!=null}" value="#{msgs['adm.block.unblock.register.holder.lbl.second.lastname']}" /></td>
												<td>
													<p:inputText rendered="#{blockUnBlockHolderMgmtBean.holder.secondLastName!=null}" disabled="true" value="#{blockUnBlockHolderMgmtBean.holder.secondLastName}" />
												</td>
											</tr>
											
											<tr>
												<td width="120px">
												<h:outputText rendered="#{blockUnBlockHolderMgmtBean.holder.fullName!=null}" value="#{msgs['adm.block.unblock.register.holder.lbl.business.name']}" /></td>
												<td colspan="3">
													<p:inputText size="60" disabled="true" rendered="#{blockUnBlockHolderMgmtBean.holder.fullName!=null}" value="#{blockUnBlockHolderMgmtBean.holder.fullName}"  />
												</td>
											</tr>
											
											<tr>
												<td width="120px"><h:outputText value="#{msgs['adm.block.unblock.register.holder.lbl.action.type']}" /></td>
												<td width="260px">
													<p:selectOneMenu style="width:200px" disabled="true" value="#{blockUnBlockHolderMgmtBean.actionType}">
													<f:selectItems var="actionType" value="#{blockUnBlockHolderMgmtBean.listActionsType}" itemLabel="#{actionType.parameterName}" itemValue="#{actionType.parameterTablePk}"  />
											        </p:selectOneMenu>
												</td>
												<td width="120px">
												<h:outputText value="#{msgs['adm.block.unblock.register.holder.lbl.request.state']}"/>
												</td>
												<td>
												<p:inputText disabled="true" value="#{blockUnBlockHolderMgmtBean.holderRequest.stateDescription}"/>
												</td>
										    </tr>					
											<tr>
												<td width="120px"><h:outputText value="#{msgs['adm.block.unblock.register.holder.lbl.motive']}" /></td>
												<td>
													<p:selectOneMenu id="cmbMotive" disabled="true" value="#{blockUnBlockHolderMgmtBean.motiveType}">  
											        <f:selectItems var="motiveType" value="#{blockUnBlockHolderMgmtBean.listMotives}" itemLabel="#{motiveType.parameterName}" itemValue="#{motiveType.parameterTablePk}"  />											        
											        </p:selectOneMenu>
												</td>
										    </tr>
											
		<tr>
		<td width="120px">	
		<p:outputPanel autoUpdate="true">								
		   <h:outputText value="#{msgs['lbl.observation.other.motive']}" rendered="#{blockUnBlockHolderMgmtBean.showMotiveText}" id="idLblOtherMotive" />
	       </p:outputPanel>
	    </td>
	    <td>
	      <p:outputPanel autoUpdate="true"> 
	      <p:inputTextarea size="60" cols="50" rows="5" maxlength="150" disabled="true" rendered="#{blockUnBlockHolderMgmtBean.showMotiveText}" 
	         value="#{blockUnBlockHolderMgmtBean.requestOtherMotive}" id="txtOtherMotive">	             
          </p:inputTextarea>
          </p:outputPanel>
        </td>                 
         
        </tr>
        <tr>
			<td height="10px" colspan="3">
			</td>
		</tr>
		<tr>
			<td  colspan="3">
				<p:outputPanel id="opnlResultFileSustent">
					<p:dataTable value="#{blockUnBlockHolderMgmtBean.holderRequest.holderReqFileHistories}" 
								 id="dtbfilesSustent" var="partFile" rows="10"  rowIndexVar="regNum"
								 rendered="#{not empty blockUnBlockHolderMgmtBean.holderRequest.holderReqFileHistories}">
						<p:column width="20">
						<f:facet name="header">
						<h:outputText value="#{msgs['adm.participant.register.grid.file.number']}" />
						</f:facet>
						<h:outputText
						value="#{regNum + 1}" />
						</p:column>
						<p:column>
						<f:facet name="header">
						<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.name']}" />
						</f:facet>
						<h:outputText
						value="#{partFile.filename}" />
						</p:column>
		
						<p:column styleClass="content-center"> 
						<f:facet name="header">
						<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.view']}" />
						</f:facet>
					    <p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
				 		<p:fileDownload value="#{blockUnBlockHolderMgmtBean.getStreamedContentFromFile(partFile.fileHolderReq,null,partFile.filename)}" />
				 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
				 			title="#{msgs['adm.participant.register.grid.file.doc.view']}"/>            		  
						</p:commandLink>	
						</p:column>											
					</p:dataTable>
					
					<p:panel rendered="#{empty blockUnBlockHolderMgmtBean.holderRequest.holderReqFileHistories}">
						<h:outputText value="#{msgs['adm.participantrequest.not.filed.atached']}" />
					</p:panel>
				</p:outputPanel>
			</td>
		</tr>							
		</table> 
		</p:outputPanel>
		</td>
		</tr>
		</table>
		<table width="100%">
		<tr>
								<td align="center">
								
								<p:outputPanel id="panelPrivileges">
						        <p:panelGrid style="border:0" columns="2">
								<ark:privileges
					 							 
					 				actionListenerConfirm="#{blockUnBlockHolderMgmtBean.beforeOnConfirm}"
					 				actionListenerReject="#{blockUnBlockHolderMgmtBean.beforeOnReject}"
					 				actionListenerApprove="#{blockUnBlockHolderMgmtBean.beforeOnAprove}"
					 				actionListenerAnnular="#{blockUnBlockHolderMgmtBean.beforeOnAnnular}"				 				
					 				
					 				actions="#{userPrivilege.userAcctions}"
					 				renders="#{userPrivilege.privilegeComponent}"/>						
								
								<p:commandButton id="buttonReturn" value="#{msgs['btn.back']}" icon="fa fa-undo" 
														 action="goToSearchBlockUnBlockHolder" actionListener="#{blockUnBlockHolderMgmtBean.setTrueValidButtons}" ajax="false" immediate="true"  />
								</p:panelGrid>
								</p:outputPanel>
								
								</td>
								
								</tr>
										
								
	       </table>
		                </p:fieldset>
		           </td>
		       </tr>
		       
            </table>

		</h:form>	
		
		<p:outputPanel id="opnlDialogs">
		  <h:form id="frmDialogs">	
		  
		 	<p:dialog id="dialogMotive" resizable="false" draggable="false" modal="true" 
                header="#{headerMessageView}" severity="alert" closable="false" widgetVar="dlgMotive">  
              
            <p:outputPanel id="opnlMotive">
            <table>
		    <tr>
		    <td width="100px">
                    <h:outputText value="#{msgs['lbl.motive']}" styleClass="required-field" />
           </td>
           <td>
           <p:selectOneMenu  id="cboMotive" style="width:258px;" label="#{msgs['lbl.motive']}"  value="#{blockUnBlockHolderMgmtBean.requestMotive}">  
	                <f:selectItem itemLabel="#{msgs['cbo.opt.select']}"   />  
	                <f:selectItems value="#{blockUnBlockHolderMgmtBean.listMotives}" var="mot" 
	                itemLabel="#{mot.parameterName}" itemValue="#{mot.parameterTablePk}"/>
	                <p:ajax process="@this" update="opnlMotive" event="change" listener="#{blockUnBlockHolderMgmtBean.evaluateMotiveAnnularOrReject}" />
	          <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						  
	       </p:selectOneMenu>
	       </td>
	       <td width="50px" align="right">
		        		<p:message  for="cboMotive" display="icon" />
		        	</td>
	      </tr> 
	      <tr>    
	     
	      <td>
	       <h:outputText value="#{msgs['lbl.other.motive']}" id="idTxtMotive" />
	       </td>
	       <td>
			<p:inputTextarea size="60" cols="50" rows="5" rendered="#{blockUnBlockHolderMgmtBean.showMotiveText}"
	        maxlength="150" value="#{blockUnBlockHolderMgmtBean.requestOtherMotive}" id="txtOtherMotive"
	        label="#{msgs['lbl.other.motive']}">
	       <p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>	
	       <p:ajax event="blur" process="@this"/>
<!-- 	        <f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>          -->
          </p:inputTextarea>
          </td>
          <td width="50px" align="right">
		        		<p:message  for="txtOtherMotive" display="icon"/>
		        	</td>        
         
        </tr>
       </table>
       </p:outputPanel>
       
        <h:panelGrid columns="1" style="text-align:center" width="100%">                  
        <p:outputPanel>
        <p:commandButton rendered="#{blockUnBlockHolderMgmtBean.flagActionReject}" value="#{msgs['btn.save']}" icon="fa fa-save" 
        actionListener="#{blockUnBlockHolderMgmtBean.confirmActions}"  
        update="opnlMotive :frmDialogs:confirmActionsDialog"/>
        
        <p:commandButton rendered="#{blockUnBlockHolderMgmtBean.flagActionAnnular}" value="#{msgs['btn.save']}" icon="fa fa-save" 
        actionListener="#{blockUnBlockHolderMgmtBean.confirmActions}"  
        update="opnlMotive :frmDialogs:confirmActionsDialog"/>
         
        <p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" process="@this"
        	actionListener="#{blockUnBlockHolderMgmtBean.validateBack}" update="opnlMotive opnlBackMotive"  /> 
         </p:outputPanel>
        </h:panelGrid>
        </p:dialog>
			
			<p:confirmDialog id="warningDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"					
					severity="alert" widgetVar="widgWarningDialog">
										
					<p:commandButton value="#{msgs['btn.accept']}"
						oncomplete="widgPF('warningDialog').hide()"					
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
			
			<p:outputPanel id="opnlTransactionDialog">
			<p:confirmDialog id="transactionDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}"	closable="false"				
					severity="alert" widgetVar="widgTransactionDialog">
										
					<p:commandButton value="#{msgs['btn.accept']}"
					    process="@this"	
					    oncomplete="PF('widgTransactionDialog').hide()"						
						action="goToSearchBlockUnBlockHolder"
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
			</p:outputPanel>
			
			<outputPanel id="opnlConfirmActionsDialog">
			<p:confirmDialog id="confirmActionsDialog"
					message="#{bodyMessageView}"
					header="#{headerMessageView}"	closable="false"				
					severity="alert" widgetVar="widgConfirmActions">
										
					<p:commandButton id="confirmDes" value="#{msgs['btn.yes']}"
						oncomplete="PF('widgConfirmActions').hide()" process="@this"
						actionListener="#{blockUnBlockHolderMgmtBean.actionDo}"
						update=":frmDialogs:opnlTransactionDialog">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" process="@this" oncomplete="PF('widgConfirmActions').hide()"/>
						
				</p:confirmDialog>
				</outputPanel>
				
				<p:outputPanel id="opnlBackMotive"> 
			<p:confirmDialog id="cnfBackMotive"
					message="#{msgs['message.back']}" severity="alert"
					header="#{msgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{msgs['btn.yes']}"
						process="@this" actionListener="#{blockUnBlockHolderMgmtBean.resetComponents}"						
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{msgs['btn.no']}" process="@this"
						oncomplete="PF('cnfwBackMotive').hide()" actionListener="#{blockUnBlockHolderMgmtBean.resetComponents}" />
				</p:confirmDialog>
			 </p:outputPanel>
							
			  </h:form>
			</p:outputPanel> 
		
	</ui:define>
</ui:composition>
</html>