<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{msgs['generalparameters.master.lbl.registro']}"
	styleClass="title-page"/>
<h:form id="frmConsultaMovTitulares">
<table width="100%">
	<tr>
		<td width="100%">
			
			<p:fieldset legend="#{msgs['generalparameters.master.lbl.generic']}">
			<table width="100%"> 
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['generalparameters.master.lbl.tipo']} (*)"  styleClass="required-field"/>
				</td>
				<td width="30%">
					<p:selectOneMenu value="#{masterTableBean.masterTableDef.keyType}"  
						label="#{msgs['generalparameters.master.lbl.tipo']}"
						id="idCboMasterTblType">
						<f:selectItems value="#{masterTableBean.masterTableTypeList}" id="idCboItemsMasterTblType"
							var="holder" itemLabel="#{holder.value}" itemValue="#{holder.code}"/>
							<p:ajax update="@form" event="change" listener="#{masterTableBean.masterTypeChangeModifyListener}"/>
						<f:validator validatorId="selectOneRequiredValidator"/>
						<f:param name="skipValidation" value="true"/>
					</p:selectOneMenu>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['generalparameters.master.lbl.fecha']}"/>					
				</td>
				<td width="30%">
					<p:inputText value="#{masterTableBean.currentDate}" size="10" disabled="true">
						<f:convertDateTime pattern="#{msgs.dateFormat}"/>
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlBody">
			<p:outputPanel rendered="#{masterTableBean.masterTableDef.keyType!=2}">
			<p:fieldset legend="Registro Definición">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['generalparameters.master.lbl.clave']}" id="idOtxtMasterTblClave"/>
				</td>
				<td width="30%">
					<h:panelGrid columns="2">
					<p:inputText id="idItxtMasterTblClave" maxlength="6" size="10" value="#{masterTableBean.masterTableDef.keySize}">
						<p:keyFilter mask="pint"/>
						<p:ajax event="blur" process="@this" global="false"/>
					</p:inputText>
					</h:panelGrid>
				</td>
				<td width="20%"/>
				<td width="30%"/>
			</tr>
			<tr>
				<td>
					<h:outputText id="idOtxtTableName" value="#{msgs['generalparameters.master.lbl.nombretabla']} (*)" styleClass="required-field"/>					
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputText id="defname" size="85" value="#{masterTableBean.masterTableDef.tableName}" 
						maxlength="60" label="#{msgs['generalparameters.master.lbl.nombretabla']}">						
						<p:ajax event="blur" process="@this" listener="#{masterTableBean.validateDefinitionName}" 
							update="opnlBody idMsgTableName :opnlGenericDialogs"/>
						<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
						<f:validator validatorId="inputRequiredValidator"/>
						<f:param name="skipValidation" value="true"/>
					</p:inputText>
					<p:message for="defname" display="icon" id="idMsgTableName"/>
					</h:panelGrid>
        		</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.descripcioncorta']} (*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputText id="idTxtAreaShortDescription" size="75"
						label="#{msgs['generalparameters.master.lbl.descripcioncorta']}"
						value="#{masterTableBean.masterTableDef.shortDescription}" maxlength="50">						
						<p:ajax event="blur" process="@this" listener="#{masterTableBean.validateDefinitionShortDesc}" 
							update="opnlBody idMsgTableShortDesc :opnlGenericDialogs"/>
						<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
						<f:validator validatorId="inputRequiredValidator"/>
						<f:param name="skipValidation" value="true"/>
					</p:inputText>
					<p:message for="idTxtAreaShortDescription" display="icon"  id="idMsgTableShortDesc"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.descripcionlarga']} (*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputText id="idTxtAreaLongDescription" size="115"
						value="#{masterTableBean.masterTableDef.longDescription}" maxlength="80" 
						label="#{msgs['generalparameters.master.lbl.descripcionlarga']}">						
						<p:ajax event="blur" process="@this" listener="#{masterTableBean.validateDefinitionLongDesc}" 
							update="opnlBody idMsgTableLongDesc :opnlGenericDialogs"/>
						<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
						<f:validator validatorId="inputRequiredValidator"/>
						<f:param name="skipValidation" value="true"/>
					</p:inputText>
					<p:message for="idTxtAreaLongDescription" display="icon"  id="idMsgTableLongDesc"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="left">
					<h:outputText value="#{msgs['generalparameters.master.lbl.indicadores']}" styleClass="required-field"/>
					<p:separator/>
				</td>
			</tr>
			<tr>
				<td colspan="4" width="100%">
				<table width="100%">
				<tr>
					<td width="15%">
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind1}">
							<p:ajax process="@this" update="ind1 msgInd1 lblInd1"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd1">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore1']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind1}" id="ind1"
							label="#{msgs['generalparameters.master.lbl.indicadore1']}"
							value="#{masterTableBean.masterTableDef.nameIndicator1}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind1 msgInd1"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind1" display="icon" id="msgInd1"/>
						</h:panelGrid>
					</td>
					<td width="10%"/>
					<td width="15%">
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind2}">
							<p:ajax process="@this" update="ind2 msgInd2 lblInd2"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd2">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore2']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind2?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind2}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind2}" id="ind2"
							label="#{msgs['generalparameters.master.lbl.indicadore2']}"
							value="#{masterTableBean.masterTableDef.nameIndicator2}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind2 msgInd2"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind2" display="icon" id="msgInd2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind3}">
							<p:ajax process="@this" update="ind3 msgInd3 lblInd3"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd3">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore3']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind3?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind3}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind3}" id="ind3"
							label="#{msgs['generalparameters.master.lbl.indicadore3']}"
							value="#{masterTableBean.masterTableDef.nameIndicator3}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind3 msgInd3"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind3" display="icon" id="msgInd3"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind4}">
							<p:ajax process="@this" update="ind4 msgInd4 lblInd4"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd4">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore4']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind4?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind4}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind4}" id="ind4"
							label="#{msgs['generalparameters.master.lbl.indicadore4']}"
							value="#{masterTableBean.masterTableDef.nameIndicator4}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind4 msgInd4"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind4" display="icon" id="msgInd4"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind5}">
							<p:ajax process="@this" update="ind5 msgInd5 lblInd5"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd5">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore5']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind5?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind5}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind5}" id="ind5"
							label="#{msgs['generalparameters.master.lbl.indicadore5']}"
							value="#{masterTableBean.masterTableDef.nameIndicator5}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind5 msgInd5"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind5" display="icon" id="msgInd5"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.ind6}">
							<p:ajax process="@this" update="ind6 msgInd6 lblInd6"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInd6">
						<h:outputText value="#{msgs['generalparameters.master.lbl.indicadore6']}"
							styleClass="#{masterTableBean.masterTableIndicators.ind6?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.ind6}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.ind6}" id="ind6"
							label="#{msgs['generalparameters.master.lbl.indicadore6']}"
							value="#{masterTableBean.masterTableDef.nameIndicator6}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="ind6 msgInd6"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="ind6" display="icon" id="msgInd6"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.dec1}">
							<p:ajax process="@this" update="dec1 msgDec1 lblDec1"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblDec1">
						<h:outputText value="#{msgs['generalparameters.master.lbl.montoDdecimal1']}"
							styleClass="#{masterTableBean.masterTableIndicators.dec1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.dec1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.dec1}" id="dec1"
							label="#{msgs['generalparameters.master.lbl.montoDdecimal1']}"
							value="#{masterTableBean.masterTableDef.nameDecimalAmount1}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="dec1 msgDec1"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="dec1" display="icon" id="msgDec1"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.dec2}">
							<p:ajax process="@this" update="dec2 msgDec2 lblDec2"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblDec2">
						<h:outputText value="#{msgs['generalparameters.master.lbl.montoDdecimal12']}"
							styleClass="#{masterTableBean.masterTableIndicators.dec2?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.dec2}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.dec2}" id="dec2"
							label="#{msgs['generalparameters.master.lbl.montoDdecimal12']}"
							value="#{masterTableBean.masterTableDef.nameDecimalAmount2}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="dec2 msgDec2"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="dec2" display="icon" id="msgDec2"/>
						</h:panelGrid>
					</td>
				</tr> 
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.text1}">
							<p:ajax process="@this" update="text1 msgText1 lblText1"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblText1">
						<h:outputText value="#{msgs['generalparameters.master.lbl.cadenatexto1']}"
							styleClass="#{masterTableBean.masterTableIndicators.text1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.text1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.text1}" id="text1"
							label="#{msgs['generalparameters.master.lbl.cadenatexto1']}"
							value="#{masterTableBean.masterTableDef.nameText1}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="text1 msgText1"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="text1" display="icon" id="msgText1"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.text2}">
							<p:ajax process="@this" update="text2 msgText2 lblText2"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblText2">
						<h:outputText value="#{msgs['generalparameters.master.lbl.cadenatexto2']}"
							styleClass="#{masterTableBean.masterTableIndicators.text2?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.text2}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.text2}" id="text2"
							label="#{msgs['generalparameters.master.lbl.cadenatexto2']}"
							value="#{masterTableBean.masterTableDef.nameText2}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="text2 msgText2"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="text2" display="icon" id="msgText2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.text3}">
							<p:ajax process="@this" update="text3 msgText3 lblText3"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblText3">
						<h:outputText value="#{msgs['generalparameters.master.lbl.cadenatexto3']}"
							styleClass="#{masterTableBean.masterTableIndicators.text3?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.text3}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.text3}" id="text3"
							label="#{msgs['generalparameters.master.lbl.cadenatexto3']}"
							value="#{masterTableBean.masterTableDef.nameText3}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="text3 msgText3"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="text3" display="icon" id="msgText3"/>
						</h:panelGrid>
					</td>
					<td/>
					<td/>
					<td/>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.int1}">
							<p:ajax process="@this" update="int msgInt lblInt"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblInt">
						<h:outputText value="#{msgs['generalparameters.master.lbl.numeroentero1']}"
							styleClass="#{masterTableBean.masterTableIndicators.int1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.int1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.int1}" id="int"
							label="#{msgs['generalparameters.master.lbl.numeroentero1']}"
							value="#{masterTableBean.masterTableDef.nameInteger}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="int msgInt"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="int" display="icon" id="msgInt"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.intLong}">
							<p:ajax process="@this" update="intLong msgIntLong lblIntLong"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblIntLong">
						<h:outputText value="#{msgs['generalparameters.master.lbl.numeroentero2']}"
							styleClass="#{masterTableBean.masterTableIndicators.intLong?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.intLong}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.intLong}" id="intLong"
							label="#{msgs['generalparameters.master.lbl.numeroentero2']}"
							value="#{masterTableBean.masterTableDef.nameLongInteger}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="intLong msgIntLong"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="intLong" display="icon" id="msgIntLong"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.date1}">
							<p:ajax process="@this" update="date1 msgDate1 lblDate1"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblDate1">
						<h:outputText value="#{msgs['generalparameters.master.lbl.fecha1']}"
							styleClass="#{masterTableBean.masterTableIndicators.date1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.date1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.date1}" id="date1"
							label="#{msgs['generalparameters.master.lbl.fecha1']}"
							value="#{masterTableBean.masterTableDef.nameDate1}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="date1 msgDate1"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="date1" display="icon" id="msgDate1"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.date2}">
							<p:ajax process="@this" update="date2 msgDate2 lblDate2"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblDate2">
						<h:outputText value="#{msgs['generalparameters.master.lbl.fecha2']}"
							styleClass="#{masterTableBean.masterTableIndicators.date2?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.date2}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.date2}" id="date2"
							label="#{msgs['generalparameters.master.lbl.fecha2']}"
							value="#{masterTableBean.masterTableDef.nameDate2}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="date2 msgDate2"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="date2" display="icon" id="msgDate2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.sub1}">
							<p:ajax process="@this" update="sub1 msgSub1 lblSub1"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblSub1">
						<h:outputText value="#{msgs['generalparameters.master.lbl.sublocacion1']}"
							styleClass="#{masterTableBean.masterTableIndicators.sub1?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.sub1}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.sub1}" id="sub1"
							label="#{msgs['generalparameters.master.lbl.sublocacion1']}"
							value="#{masterTableBean.masterTableDef.nameSubclasification1}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="sub1 msgSub1"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="sub1" display="icon" id="msgSub1"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
						<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.sub2}">
							<p:ajax process="@this" update="sub2 msgSub2 lblSub2"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblSub2">
						<h:outputText value="#{msgs['generalparameters.master.lbl.sublocacion2']}"
							styleClass="#{masterTableBean.masterTableIndicators.sub2?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.sub2}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.sub2}" id="sub2"
							label="#{msgs['generalparameters.master.lbl.sublocacion2']}"
							value="#{masterTableBean.masterTableDef.nameSubclasification2}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="sub2 msgSub2"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="sub2" display="icon" id="msgSub2"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid columns="3">
							<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.state}">
								<p:ajax process="@this" update="state msgState lblState"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblState">
						<h:outputText value="#{msgs['generalparameters.master.lbl.estado']}"
							styleClass="#{masterTableBean.masterTableIndicators.state?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.state}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.state}" id="state"
							label="#{msgs['generalparameters.master.lbl.estado']}"
							value="#{masterTableBean.masterTableDef.nameState}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="state msgState"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="state" display="icon" id="msgState"/>
						</h:panelGrid>
					</td>
					<td/>
					<td>
						<h:panelGrid columns="3">
							<p:selectBooleanCheckbox value="#{masterTableBean.masterTableIndicators.obs}">
								<p:ajax process="@this" update="obs msgObs lblObs"/>
						</p:selectBooleanCheckbox>
						<p:spacer width="5"/>
						<p:outputPanel id="lblObs">
						<h:outputText value="#{msgs['generalparameters.master.lbl.observacion']}"
							styleClass="#{masterTableBean.masterTableIndicators.obs?'required-field':''}"/>
						<h:outputText value=" (*)" rendered="#{masterTableBean.masterTableIndicators.obs}" styleClass="required-field"/>
						</p:outputPanel>
						</h:panelGrid>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText disabled="#{!masterTableBean.masterTableIndicators.obs}" id="obs"
							label="#{msgs['generalparameters.master.lbl.observacion']}"
							value="#{masterTableBean.masterTableDef.nameObservation}" maxlength="35" size="50">							
							<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
							<p:ajax event="blur" process="@this" global="false" update="obs msgObs"/>
							<f:validator validatorId="inputRequiredValidator"/>
							<f:param name="skipValidation" value="true"/>
						</p:inputText>
						<p:message for="obs" display="icon" id="msgObs"/>
						</h:panelGrid>
					</td>
				</tr>
				</table>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</p:outputPanel>
			<p:outputPanel rendered="#{masterTableBean.masterTableDef.keyType==2}">
			<p:fieldset legend="#{msgs['generalparameters.master.lbl.informaciondef']}" id="idFldsInformation">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['generalparameters.master.lbl.definicion']} (*)" styleClass="required-field" id="idOtxtDefination"/>					
				</td>
				<td width="80%">
					<h:panelGrid columns="4" id="helperDefi">
					<p:inputText id="idItxtMasterTblCd" size="15" value="#{masterTableBean.masterTableDef.masterTableCd}"
						maxlength="10" styleClass="content-right">
						<p:ajax event="blur" update="helperDefi idItxtShorDesc idItxtLongDesc :opnlGenericDialogs
							idMchkMasterTblIndicators opnlElements opnlAdd" process="@this" 
							listener="#{masterTableBean.searchMasterTableRandomMgmt}"/>
						<p:keyFilter mask="pint"/>
					</p:inputText>
					<p:commandButton id="idCmdBtnHelpTblCd" value="..." update="idDialogDefinition" oncomplete="PF('dialogDefinitionW').show();" 
						action="#{masterTableBean.beforeEleDefSearchMgmt}" process="@this"/>
					<p:inputText disabled="true" value="#{masterTableBean.masterTableDef.tableName}" size="85" id="idItxtTblName"/>
					<p:message for="idItxtMasterTblCd" display="icon" id="idMsgDefName"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.descripcioncorta']}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{masterTableBean.masterTableDef.shortDescription}" size="75" id="idItxtShorDesc"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.descripcionlarga']}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{masterTableBean.masterTableDef.longDescription}" size="115" id="idItxtLongDesc" />
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.indicadores']}" id="idOtxtIndicators"/>
				</td>
				<td>
					<p:selectManyCheckbox value="#{masterTableBean.selectedOptions}" disabled="true" id="idMchkMasterTblIndicators">
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.indicadores']}" itemValue="1"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.montoDdecimal']}" itemValue="2"/>  
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.cadenatexto']}" itemValue="3"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.numeroentero']}" itemValue="4"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.indfecha']}" itemValue="5"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.subLocacions']}" itemValue="6"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.observacion']}" itemValue="7"/>
			            <f:selectItem itemLabel="#{msgs['generalparameters.master.lbl.estado']}" itemValue="8"/>
			        </p:selectManyCheckbox>  
				</td>
			</tr>
			<tr>
				<td align="left" width="100%" colspan="2">
					<p:outputPanel id="opnlAdd">
					<p:commandButton id="idCmdBtnNuevoelemento" value="#{msgs['generalparameters.master.lbl.nuevoelemento']}"
						actionListener="#{masterTableBean.showNewElementDialog}" process="@this" oncomplete="PF('newElementW').show();"
						rendered="#{masterTableBean.masterTableDef.masterTableCd != null}"
						update="idnewElementpanel :opnlGenericDialogs" icon="fa fa-edit"/>
					</p:outputPanel>
				</td>
			</tr>		
			</table>
			</p:fieldset>
			<p:outputPanel id="opnlElements">
			<p:fieldset legend="Elementos Relacionados" rendered="#{not empty masterTableBean.parameterTableList}">
				<p:dataTable id="dtbResultD" var="elemento" value="#{masterTableBean.parameterTableList}"
					paginator="true" rows="10" paginatorPosition="top" rowsPerPageTemplate="5,10,15"
					currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
					paginatorTemplate="#{msgs['dtb.paginator.template']}">			 		
			 		
			 		<p:column headerText="#{msgs['generalparameters.master.lbl.searchIdParametro']}" styleClass="content-center">
						<p:commandLink id="idCmdLinkParameterTblPk" value="#{elemento.parameterTablePk}" style="color:blue" update=":frmConsultaMovTitulares:modifyElementPnl" 
							actionListener="#{masterTableBean.modifyElement}"  process="@this">
							<f:attribute name="selectedElement" value="#{elemento}"/>											
						</p:commandLink>
					</p:column>								
					<p:column headerText="#{msgs['generalparameters.master.lbl.codigo']}" styleClass="content-center"
						sortBy="#{elemento.parameterTableCd}">
						<h:outputText value="#{elemento.parameterTableCd}" id="idOtxtParameterTblCd"/>
					</p:column>								
					<p:column headerText="#{msgs['generalparameters.master.lbl.fecharegistro']}" styleClass="content-center">
						<h:outputText value="#{elemento.lastModifyDate}">
							<f:convertDateTime pattern="#{msgs.dateFormat}"/> 
						</h:outputText> 
					</p:column>								
					<p:column headerText="#{masterTableBean.masterTableDef.shortDescription}">
						<h:outputText value="#{elemento.parameterName}"/>
					</p:column>														
					<p:column headerText="#{msgs['generalparameters.master.lbl.estado']}" styleClass="content-center">
						<h:outputText value="#{elemento.statusDescripction}"/> 
					</p:column>
					<f:facet name="footer">	
					   	<div style=" text-align:left" id="idDivFooter">	
							<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" id="idOfrtFooter">
							    <f:param value="#{masterTableBean.parameterTableList.size()}" id="idParamFooter"/>
							</h:outputFormat>
						</div>
					</f:facet>
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td align="center"> 
			<p:commandButton id="idCmdBtnSave" value="#{msgs['btn.save']}" icon="fa fa-save"
				actionListener="#{masterTableBean.beforeSaveDefinitionListener}" update="@form :opnlGenericDialogs outPnlDialogs"
				rendered="#{masterTableBean.masterTableDef.keyType != 2}">
				<f:param name="skipValidation" value="false"/>
			</p:commandButton>
			<p:commandButton value="#{msgs['btn.limpiar']}" process="@this" update="outPnlDialogs"
				actionListener="#{masterTableBean.askForClean}" icon="fa fa-trash">
				<f:param name="skipValidation" value="true"/>
			</p:commandButton>
			<p:commandButton id="cmbBack" icon="fa fa-undo" value="#{msgs['btn.regresar']}" process="@this"
				immediate="true"
				actionListener="#{masterTableBean.backToSearch}" update="outPnlDialogs">
				<f:param name="skipValidation" value="true"/>
			</p:commandButton>
		</td> 
	</tr>
</table>
	
	<!-- REGISTER ELEMENT TABLE -->
	<p:outputPanel id="idnewElementpanel">			
	<p:dialog id="idnewElementDialog" modal="true" widgetVar="newElementW" resizable="false"
		closable="false" width="900" position="top"
		maximizable="false" showHeader="false">
	<p:outputPanel id="opnlInformationElement">
	<p:outputPanel rendered="#{masterTableBean.masterTableDef.keyType==2}">
	<table width="100%">
	<tr>
		<td align="left" width="100%">		
		<h:outputText value="#{msgs['generalparameters.master.lbl.regnuevoelemento']}" styleClass="title-page"/>
		</td>
	</tr>
	<tr>
		<td>
		<p:separator/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['generalparameters.master.lbl.definicion']}" styleClass="required-field"/> 
			</td>
			<td width="80%">
				<h:panelGrid columns="2">
					<p:inputText disabled="true" value="#{masterTableBean.masterTableDef.tableName}" size="50"/>
				</h:panelGrid>
			</td>
		</tr>	
		<tr>
			<td>
				<h:outputText value="#{masterTableBean.masterTableDef.shortDescription} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputText id="parametername" label="#{masterTableBean.masterTableDef.shortDescription}"
					value="#{masterTableBean.parameterTable.parameterName}" size="60" maxlength="40" 
					onblur="if($.trim(this.value)!='')rcmbValidateParameterName();"
					>					
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
					<f:validator validatorId="inputRequiredValidator"/>
					<f:param name="skipValidation" value="true"/>
				</p:inputText>
								
				<p:message display="icon" id="msgParamName" for="parametername"/>
				</h:panelGrid>
				<p:remoteCommand name="rcmbValidateParameterName" actionListener="#{masterTableBean.validateParameterName}"
				process="parametername" update="msgParamName parametername :opnlGenericDialogs"/>
			</td>
		</tr>	
		<tr>
			<td>
				<h:outputText value="#{masterTableBean.masterTableDef.longDescription} (*)" styleClass="required-field"/>	
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputText size="75" value="#{masterTableBean.parameterTable.description}"			
					label="#{masterTableBean.masterTableDef.longDescription}" maxlength="60" id="idItxtDesc">
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
					<p:ajax event="blur" process="@this" global="false"
						update="idItxtDesc msgTxtDesc"/>
					<f:validator validatorId="inputRequiredValidator"/>
					<f:param name="skipValidation" value="true"/>
				</p:inputText>
				<p:message for="idItxtDesc" display="icon" id="msgTxtDesc"/>
				</h:panelGrid>
			</td>
		</tr>		
		</table>
		<h:panelGrid columns="4" width="100%">
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator1}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator1}">
				<p:inputText id="idIndicator1" size="10" value="#{masterTableBean.parameterTable.indicator1}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator1}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator1" display="icon" id="idMsgNameIndicatorOne"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator2}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator2}">
				<p:inputText id="idIndicator2" size="10" value="#{masterTableBean.parameterTable.indicator2}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator2}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator2" display="icon" id="idMsgNameIndicatorTwo"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator3}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator3}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator3}">
				<p:inputText id="idIndicator3" size="10" value="#{masterTableBean.parameterTable.indicator3}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator3}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator3" display="icon" id="idMsgNameIndicatorThree"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator4}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator4}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator4}">
				<p:inputText id="idIndicator4" size="10" value="#{masterTableBean.parameterTable.indicator4}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator4}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator4" display="icon" id="idMsgNameIndicatorFour"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator5}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator5}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator5}">
				<p:inputText id="idIndicator5" size="10" value="#{masterTableBean.parameterTable.indicator5}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator5}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator5" display="icon" id="idMsgNameIndicatorFive"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator6}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator6}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqIndicator6}">
				<p:inputText id="idIndicator6" size="10" value="#{masterTableBean.parameterTable.indicator6}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameIndicator6}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idIndicator6" display="icon" id="idMsgNameIndicatorSix"/>
			</h:panelGrid>
		
			<h:outputText value="#{masterTableBean.masterTableDef.nameDecimalAmount1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount1}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount1}">
				<p:inputNumber value="#{masterTableBean.parameterTable.decimalAmount1}" id="idDecimalAmount1" 
					label="#{masterTableBean.masterTableDef.nameDecimalAmount1}" decimalPlaces="4" decimalSeparator="." 
					minValue="0" maxValue="999.9999" thousandSeparator="" style="text-align:right">
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputNumber>
				<p:message for="idDecimalAmount1" display="icon" id="idMsgDecAmountOne"/>
			</h:panelGrid>
			<h:outputText value="#{masterTableBean.masterTableDef.nameDecimalAmount2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount2}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount2}">
				<p:inputNumber value="#{masterTableBean.parameterTable.decimalAmount2}" id="idDecimalAmount2"
					label="#{masterTableBean.masterTableDef.nameDecimalAmount2}" decimalPlaces="4" decimalSeparator="." 
					minValue="0" maxValue="999.9999" thousandSeparator="" style="text-align:right">
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputNumber>
				<p:message for="idDecimalAmount2" display="icon" id="idMsgDecAmountTwo"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameText1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqText1}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqText1}">
				<p:inputText id="idText1" size="38" value="#{masterTableBean.parameterTable.text1}" maxlength="25" 
					label="#{masterTableBean.masterTableDef.nameText1}">
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idText1" display="icon" id="idMsgNameTxtOne"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameText2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqText2}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqText2}">
				<p:inputText id="idText2" size="38" value="#{masterTableBean.parameterTable.text2}" maxlength="25" 
					label="#{masterTableBean.masterTableDef.nameText2}">
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idText2" display="icon" id="idMsgNameTxtTwo"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameText3}"
					rendered="#{not empty masterTableBean.masterTableDef.reqText3}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqText3}">
				<p:inputText id="idText3" size="50" value="#{masterTableBean.parameterTable.text3}" maxlength="35" 
					label="#{masterTableBean.masterTableDef.nameText3}">
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idText3" display="icon" id="idMsgNameTxtThree"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameInteger}" 
				rendered="#{not empty masterTableBean.masterTableDef.reqInteger}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqInteger}">
				<p:inputText id="idShortInteger" size="10" value="#{masterTableBean.parameterTable.shortInteger}" maxlength="5" 
					styleClass="content-right" label="#{masterTableBean.masterTableDef.nameInteger}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idShortInteger" display="icon" id="idMsgNameInteger"/>
			</h:panelGrid>		
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameLongInteger}" 
				rendered="#{not empty masterTableBean.masterTableDef.reqLongInteger}"/>	
			<h:panelGrid columns="2"  rendered="#{not empty masterTableBean.masterTableDef.reqLongInteger}">
				<p:inputText id="idLongInteger" size="10" value="#{masterTableBean.parameterTable.longInteger}" 
					maxlength="5" styleClass="content-right" label="#{masterTableBean.masterTableDef.nameLongInteger}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idLongInteger" display="icon" id="idMsgNameLongInteger"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameDate1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDate1}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqDate1}">
				<p:calendar id="calendarfecha1" readonlyInput="true" showOn="both" pattern="#{msgs.dateFormat}" 
					value="#{masterTableBean.parameterTable.date1}" navigator="true" size="10" 
					label="#{masterTableBean.masterTableDef.nameDate1}">
					<p:ajax event="dateSelect" process="@this" global="false"/>
				</p:calendar>
				<p:message for="calendarfecha1" display="icon" id="idMsgNameDateOne"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameDate2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDate2}"/>
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqDate2}">
				<p:calendar id="calendarfecha2" readonlyInput="true" showOn="both" size="10" navigator="true"
					pattern="#{msgs.dateFormat}" value="#{masterTableBean.parameterTable.date2}" 
					label="#{masterTableBean.masterTableDef.nameDate2}">
					<p:ajax event="dateSelect" process="@this" global="false"/>
				</p:calendar>
				<p:message for="calendarfecha2" display="icon" id="idMsgNameDateTwo"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameSubclasification1}" 
				rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification1}"/>			
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification1}">
				<p:inputText id="idSubclasification1" size="20" 
					value="#{masterTableBean.parameterTable.elementSubclasification1}" maxlength="10" 
					label="#{masterTableBean.masterTableDef.nameSubclasification1}">
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idSubclasification1" display="icon" id="idMsgNameSubClasificationOne" />
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameSubclasification2}" 
				rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification2}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification2}">
				<p:inputText id="idSubclasification2" size="20" label="#{masterTableBean.masterTableDef.nameSubclasification2}"
					value="#{masterTableBean.parameterTable.elementSubclasification2}" maxlength="10" >
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idSubclasification2" display="icon"  id="idMsgNameSubClasificationTwo"/>
			</h:panelGrid>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameState}"
				rendered="#{not empty masterTableBean.masterTableDef.reqState}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqState}">
				<p:inputText id="idParameterState" size="20" label="#{masterTableBean.masterTableDef.nameState}"
					value="#{masterTableBean.parameterTable.parameterState}" maxlength="10" 
					rendered="#{not empty masterTableBean.masterTableDef.nameState}" >
					<p:keyFilter mask="pint"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idParameterState" display="icon" id="idMsgNameState"/>
			</h:panelGrid>
						
        	<h:outputText value="#{masterTableBean.masterTableDef.nameObservation}"
				rendered="#{not empty masterTableBean.masterTableDef.reqObservation}"/>	
			<h:panelGrid columns="2" rendered="#{not empty masterTableBean.masterTableDef.reqObservation}">
				<p:inputText id="idObservation" size="38" value="#{masterTableBean.parameterTable.observation}" maxlength="25" 
					label="#{masterTableBean.masterTableDef.nameObservation}">
					<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.observation']}"/>
					<p:ajax event="blur" process="@this" global="false"/>
				</p:inputText>
				<p:message for="idObservation" display="icon" id="idMsgNameObservation"/>
			</h:panelGrid>
			
		</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td align="center">
			<p:commandButton value="#{msgs['btn.save']}" 
				actionListener="#{masterTableBean.beforeSaveElementListener}" icon="fa fa-save" process="opnlInformationElement" 
				update="opnlInformationElement :opnlGenericDialogs outPnlDialogs">
				<f:param name="skipValidation" value="false"/>
			</p:commandButton>
			<p:commandButton id="cmbDlgBack" icon="fa fa-undo" value="#{msgs['btn.regresar']}" process="@this"
				immediate="true"
				action="#{masterTableBean.askBackToDefi}" update="outPnlDialogs">
				<f:param name="skipValidation" value="true"/>
			</p:commandButton> 
		</td>
	</tr>
	</table>
	</p:outputPanel>
	</p:outputPanel>
	</p:dialog>
	</p:outputPanel>
	<!-- REGISTER ELEMENT TABLE -->
		
	<!-- DETAIL ELEMENT TABLE -->
	<p:outputPanel id="modifyElementPnl">
	<p:dialog modal="true" id="modifyElementDlgId" widgetVar="modifyElementW" resizable="false"
		 closable="false" width="900" position="top" maximizable="false" showHeader="false">
	<table width="100%">
	<tr>
		<td align="left">
		<h:outputText value="DETALLE DE ELEMENTO" styleClass="title-page"/>
		</td>
	</tr>
	<tr>
		<td>
		<p:separator/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['generalparameters.master.lbl.indicadoralfaNumerico']}"/>	
			</td>
			<td width="20%">
				<p:inputText size="10" disabled="true" value="#{masterTableBean.parameterModifyData.parameterTableCd}" 
					id="idItxtMasterTblIndicadoralfaNumerico" styleClass="content-right"/>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['generalparameters.master.lbl.definicion']}"/> 
			</td>
			<td width="40%">
				<p:inputText disabled="true" value="#{masterTableBean.masterTableDef.tableName}" size="50"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['generalparameters.master.lbl.nombreparametro']}"/>
			</td>
			<td colspan="3">
				<p:inputText disabled="true" value="#{masterTableBean.parameterModifyData.parameterName}" size="60"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['generalparameters.master.lbl.descripcion']}"/>	
			</td>
			<td colspan="3">
				<p:inputText size="75" disabled="true" value="#{masterTableBean.parameterModifyData.description}"/>
			</td>
		</tr>
		</table>
		<h:panelGrid columns="4" width="100%">
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator1}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqIndicator1}" size="10" 
				value="#{masterTableBean.parameterModifyData.indicator1}" disabled="true" styleClass="content-right"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator2}"/>	
			<p:inputText size="10" value="#{masterTableBean.parameterModifyData.indicator2}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator2}" styleClass="content-right"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator3}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator3}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqIndicator3}" size="10" 
				value="#{masterTableBean.parameterModifyData.indicator3}" disabled="true" styleClass="content-right"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator4}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator4}"/>	
			<p:inputText size="10" value="#{masterTableBean.parameterModifyData.indicator4}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator4}" styleClass="content-right"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator5}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator5}"/>	
			<p:inputText size="10" value="#{masterTableBean.parameterModifyData.indicator5}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator5}" styleClass="content-right"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameIndicator6}"
				rendered="#{not empty masterTableBean.masterTableDef.reqIndicator6}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqIndicator6}" size="10" 
				value="#{masterTableBean.parameterModifyData.indicator6}" disabled="true" styleClass="content-right"/>
		
			<h:outputText value="#{masterTableBean.masterTableDef.nameDecimalAmount1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount1}"/>
			<p:inputText value="#{masterTableBean.parameterModifyData.decimalAmount1}" disabled="true" size="10"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount1}" styleClass="content-right">
			</p:inputText>
			<h:outputText value="#{masterTableBean.masterTableDef.nameDecimalAmount2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount2}"/>
			<p:inputText value="#{masterTableBean.parameterModifyData.decimalAmount2}" disabled="true" size="10"
				rendered="#{not empty masterTableBean.masterTableDef.reqDecimalAmount2}" styleClass="content-right"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameText1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqText1}"/>	
			<p:inputText size="50" value="#{masterTableBean.parameterModifyData.text1}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqText1}"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameText2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqText2}"/>
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqText2}" size="50" 
				value="#{masterTableBean.parameterModifyData.text2}" disabled="true"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameText3}"
					rendered="#{not empty masterTableBean.masterTableDef.reqText3}"/>
			<p:inputText size="50" value="#{masterTableBean.parameterModifyData.text3}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqText3}"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameInteger}"
				rendered="#{not empty masterTableBean.masterTableDef.reqInteger}"/>	
			<p:inputText size="10" value="#{masterTableBean.parameterModifyData.shortInteger}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqInteger}" styleClass="content-right"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameLongInteger}"
				rendered="#{not empty masterTableBean.masterTableDef.reqLongInteger}"/>	
			<p:inputText size="10" value="#{masterTableBean.parameterModifyData.longInteger}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqLongInteger}" styleClass="content-right"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameDate1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDate1}"/>
			<p:calendar disabled="true" size="10" pattern="#{msgs.dateFormat}" 
				value="#{masterTableBean.parameterModifyData.date1}" rendered="#{not empty masterTableBean.masterTableDef.reqDate1}"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameDate2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqDate2}"/>
			<p:calendar disabled="true" size="10" pattern="#{msgs.dateFormat}" 
				value="#{masterTableBean.parameterModifyData.date2}" 
				rendered="#{not empty masterTableBean.masterTableDef.reqDate2}"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameSubclasification1}"
				rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification1}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification1}" size="20" 
				value="#{masterTableBean.parameterModifyData.elementSubclasification1}" disabled="true"/>
				
			<h:outputText value="#{masterTableBean.masterTableDef.nameSubclasification2}"
				rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification2}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqSubclasification2}" size="20" 
				value="#{masterTableBean.parameterModifyData.elementSubclasification2}" disabled="true"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameState}"
				rendered="#{not empty masterTableBean.masterTableDef.reqState}"/>	
			<p:inputText rendered="#{not empty masterTableBean.masterTableDef.reqState}" size="20" 
				value="#{masterTableBean.parameterModifyData.parameterState}" disabled="true"/>
			
			<h:outputText value="#{masterTableBean.masterTableDef.nameObservation}"
				rendered="#{not empty masterTableBean.masterTableDef.reqObservation}"/>	
			<p:inputText size="38" value="#{masterTableBean.parameterModifyData.observation}" disabled="true"
				rendered="#{not empty masterTableBean.masterTableDef.reqObservation}"/>
		</h:panelGrid>			
		</td>
	</tr>
	<tr>
		<td align="center">
			<p:commandButton icon="fa fa-undo" value="#{msgs['btn.regresar']}" type="button"
				onclick="PF('modifyElementW').hide();"/> 
		</td>
	</tr>
	</table>
	</p:dialog>
	</p:outputPanel>
	<!-- DETAIL ELEMENT TABLE -->
		
	<!-- HELPER DEFINITION -->
	<p:dialog widgetVar="dialogDefinitionW" header="#{msgs['mstrtbl.searchdefinition.dialog']}" 
		modal="true" closable="false" resizable="false" id="idDialogDefinition">
		<table width="100%">
		<tr>
			<td width="100%">
			<p:fieldset legend="#{msgs['lbl.criteria.search']}">
			<table width="100%">
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.tipo']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{masterTableBean.masterTableRegisterSearch.type}" disabled="true">
						<f:selectItems value="#{masterTableBean.masterTableTypeList}" id="idCboItemsMasterTableType"
							var="typeTransfer" itemLabel="#{typeTransfer.value}" itemValue="#{typeTransfer.code}"/>
					</p:selectOneMenu>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['generalparameters.master.lbl.searchCodigoTabla']}"/>
				</td>
				<td>
					<h:panelGrid columns="2">
					<p:inputText size="20" value="#{masterTableBean.masterTableRegisterSearch.code}" 
						id="idItxtMasterTblSearchCode" maxlength="5" styleClass="content-right"/>
						<p:keyFilter mask="pint"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['generalparameters.master.lbl.descripcion']}" />
				</td>
				<td width="80%">
					<h:panelGrid columns="2">
					<p:inputText size="80" value="#{masterTableBean.masterTableRegisterSearch.description}" 
						maxlength="50" id="idItxtMasterTblDescription">
						<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.observation']}"/>
					</p:inputText>
					<p:message for="idItxtMasterTblDescription" display="icon" id="msgMasterDesc"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<p:commandButton id="cmbSearch" value="#{msgs['btn.buscar']}" 
						update="dataTableElements idItxtMasterTblDescription msgMasterDesc :opnlGenericDialogs"
						process="@this idItxtMasterTblSearchCode idItxtMasterTblDescription"
						action="#{masterTableBean.selectMasterTableListMgmt}" icon="fa fa-search"/>
					<p:commandButton id="cmbBackEle" value="#{msgs['btn.back']}" process="@this" immediate="true" oncomplete="PF('dialogDefinitionW').hide();" 
						icon="fa fa-undo"/>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<p:outputPanel id="dataTableElements">
			<p:outputPanel rendered="#{masterTableBean.selectedMasterTableList ne null}">
			<p:dataTable id="dtbResult" var="definitions" value="#{masterTableBean.selectedMasterTableList}"
				rendered="#{not empty masterTableBean.selectedMasterTableList}" paginator="true" rows="5" 
				paginatorPosition="top" rowsPerPageTemplate="5"
				currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
				paginatorTemplate="#{msgs['dtb.paginator.template']}">

				<p:column headerText="#{msgs['generalparameters.master.lbl.searchCodigoTabla']}" styleClass="content-center">
					<p:commandLink value="#{definitions.masterTableCd}" style="color:blue" actionListener="#{masterTableBean.searchMasterTableList}"
					process=":frmConsultaMovTitulares:dtbResult"
						onclick="PF('dialogDefinitionW').hide();" update="@form" id="idCmdLinkMasterTblCd">
						<f:attribute name="masterBean" value="#{definitions}"/>
					</p:commandLink>
				</p:column>				
				<p:column headerText="#{msgs['generalparameters.master.lbl.searchNombreTabla']}">
					<h:outputText value="#{definitions.tableName}"/>
				</p:column>				
				<p:column headerText="#{msgs['generalparameters.master.lbl.searchFechaRegistro']}" styleClass="content-center">
					<h:outputText value="#{definitions.registerDate}">
						<f:convertDateTime  pattern="#{msgs.dateFormat}" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{msgs['generalparameters.master.lbl.estado']}" styleClass="content-center">
					<h:outputText value="#{definitions.statusDescripction}"/>
				</p:column>
			</p:dataTable>
			<p:panel rendered="#{empty masterTableBean.selectedMasterTableList}">
				<h:outputText value="#{msgs['lbl.search.no.result']}" styleClass="required-field"/>
			</p:panel>
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		</table>
	</p:dialog>
	<!-- HELPER DEFINITION -->
		
				
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="@form"
			actionListener="#{masterTableBean.saveDefiOrEle}" process="@form"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this" immediate="true"
			action="backToSearch" value="#{msgs['btn.accept']}"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwBackDialog" id="cnfidBackDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwBackDialog').hide();"
			action="backToSearch" process="@this"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwBackDialog').hide();" process="@this"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwBackEleDialog" id="cnfidBackEleDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwBackEleDialog').hide();"
			actionListener="#{masterTableBean.backToDefi}" process="@this"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwBackEleDialog').hide();" process="@this"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwCleanDialog" id="cnfidCleanDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwCleanDialog').hide();"
			action="#{masterTableBean.limpiarMgmt}" process="@this" update="@form" global="true"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwCleanDialog').hide();" process="@this"/>
	</p:confirmDialog>
	
	<p:confirmDialog id="cnfEnterFilterSearch" header="#{gmsgs['lbl.header.alert']}" closable="false"	
	            message="#{gmsgs['message.search.at.least.one.filter']}" 
	                severity="alert" widgetVar="cnfwEnterFilterSearch" >  	        
			        <p:commandButton id="btnAccept" 
			        			 onclick="cnfwEnterFilterSearch.hide();"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 type="button"> 
		        	</p:commandButton>   	        
	    </p:confirmDialog> 
	
	</p:outputPanel>
	
</h:form>
</ui:define>
</ui:composition>
</html>