<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"	
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">    
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">	
		<!--FILTROS PARA LA BUSQUEDA PANTALLA DE MONITOREO DE COBRO DE DERECHOS ECONOMICOS-->
		<h:form id="frmSearchMonitorCharges">
			<table width="100%">
				<tr> 
					<td>
						<table width="100%">
							<tr>
								<td align="left" colspan="1"> 
									<h:outputText value="#{msgs['lbl.title.monitoring.collection.economic']}" 
									styleClass="title-page"  style="align: left" id="idTitle"/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.criteria.search']}" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel value = "#{msgs['lbl.participant.msg']}" styleClass="required-field"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idParticipantMonitor" 
										disabled="#{userInfo.userAccountSession.participantInstitucion}"
										required="true" requiredMessage="#{msgs['lbl.requiered.participant.message']}"
										value="#{searchCollectionMonitorChargeMgmtBean.searchFilterMonitorTO.idParticipantPk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="participant"  value="#{searchCollectionMonitorChargeMgmtBean.listParticipants}" 
							           		itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.mnemonic} - #{participant.description}" />
									</p:selectOneMenu>
									<p:message for="idParticipantMonitor" id="idMessagePartColle" escape="true" />
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Moneda-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel value = "#{msgs['lbl.filter.currency.type']} (*)" styleClass="required-field"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idCurrency"	required="true" 
										value="#{searchCollectionMonitorChargeMgmtBean.searchFilterMonitorTO.currency}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="currency"  value="#{searchCollectionMonitorChargeMgmtBean.lstCurrency}" 
							           		itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.description}" />
									</p:selectOneMenu>
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td width="15%">
									<h:outputText value="Fecha de Cobro (*)" styleClass="required-field" />
								</td>
								<td width="35%" colspan="1">		
									<p:calendar id="idDateEnd" styleClass="required-field" 												
										value="#{searchCollectionMonitorChargeMgmtBean.searchFilterMonitorTO.datePayment}"
										showOn="both" pattern="dd/MM/yyyy" maxlength="10"
										disabled="false"
										mindate="#{searchCollectionMonitorChargeMgmtBean.searchFilterMonitorTO.minDate}"
										maxdate="#{searchCollectionMonitorChargeMgmtBean.searchFilterMonitorTO.maxDate}"
										navigator="true" readonlyInput="true" size="10">
									</p:calendar>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<tr>
								<td colspan="6" align="center">
									<p:commandButton value="#{msgs['lbl.search']}" icon="ui-search" process="@this @form"
										update="@form"
										actionListener="#{searchCollectionMonitorChargeMgmtBean.searchFromFilters()}">
									</p:commandButton>				    
									<p:spacer width="5"></p:spacer> 
									<p:commandButton id="idBtnClearPaymentAgent" 
										value="#{gmsgs['btn.clean']}" icon="ui-empty" process="@this"
										update="@form"
										actionListener="#{searchCollectionMonitorChargeMgmtBean.clearFilters()}"> 
									</p:commandButton>
								</td>
							</tr>	
							</table>
						</p:fieldset>
					</td>
				</tr>
				<!--Resultados-->
				<tr>
					<td>
						<p:fieldset id="fldResultMonitorTO" legend="#{msgs['lbl.results']}" 
							rendered="#{(searchCollectionMonitorChargeMgmtBean.listResultMonitorTOs.rowCount >= 1)}">
						<p:dataTable id="idListMonitorTO" var="resultMonitorTO" 
						    value="#{searchCollectionMonitorChargeMgmtBean.listResultMonitorTOs}"
							paginator="true" 
							rows="10" paginatorPosition="top" 
							rowKey="#{resultMonitorTO.counter}" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">	
							<p:column headerText="#{msgs['lbl.participant.msg']}" styleClass="content-center" 
								sortBy="#{resultMonitorTO.monitorTO.partIssuer}">
								<p:commandLink action="viewRegistreCollectionRigh"  immediate="true"
										actionListener="#{searchCollectionMonitorChargeMgmtBean.loadDetailCollectionMovements}" 
										style="color:blue" value="#{resultMonitorTO.monitorTO.mnemonic}" >
								   <f:attribute name="resultMonitorTOView" value="#{resultMonitorTO}"/>
								</p:commandLink>
							</p:column>
							<p:column headerText="#{msgs['label.gloss.detail.deposit']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.gloss}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.gloss}">
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.name.payment.agent.juridical']}" styleClass="content-center" rendered="true"
									sortBy="#{resultMonitorTO.monitorTO.descJuridicPaymentAgent}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.descJuridicPaymentAgent}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.name.payment.date']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.paymentDate}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.paymentDate}">
								 <f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['search.filter.tags.collection.currency']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.currencyDesc}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.currencyDesc}"/>
							</p:column>
							<p:column headerText="#{msgs['search.filter.tags.amount.collect']}" styleClass="content-right" 
									sortBy="#{resultMonitorTO.monitorTO.amountReceivable}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.amountReceivable}">
									<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
								</h:outputLabel>
							</p:column>
							<!--Moneda depositada-->
							<p:column rendered="false" headerText="#{msgs['search.filter.tags.collection.currency.deposited']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.currencyDepositedDesc}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.currencyDepositedDesc}"/>
							</p:column>
							<!--Monto depositado-->
							<p:column headerText="#{msgs['search.filter.tags.collection.amount.collect.deposited']}" styleClass="content-right" 
									sortBy="#{resultMonitorTO.monitorTO.amountDeposited}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.amountDeposited}">
									<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['search.filter.button.send']}" styleClass="content-center" >
								<p:commandButton value="Enviar"  icon="ui-send"
									disabled="#{resultMonitorTO.monitorTO.disableButton}"
									actionListener="#{searchCollectionMonitorChargeMgmtBean.beforeExecutePay}"
									update="@this @form">
									<f:attribute name="selectedObject" value="#{resultMonitorTO}"/>
					    		</p:commandButton>
							</p:column>
							<p:column headerText="#{msgs['search.filter.tags.paid.obligation']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.paidObligationDesc}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.paidObligationDesc}"/>
							</p:column>
							<p:column headerText="#{msgs['label.desc.status.transfer']}" styleClass="content-center" 
									sortBy="#{resultMonitorTO.monitorTO.descTransferStatus}">
								<h:outputLabel value="#{resultMonitorTO.monitorTO.descTransferStatus}"/>
							</p:column>
							<f:facet name="footer" >	
								<div style="width:100%; text-align:left">
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{searchCollectionMonitorChargeMgmtBean.listResultMonitorTOs.rowCount}"/>
						            </h:outputFormat>									
								</div>
							</f:facet>
						</p:dataTable>
						</p:fieldset>
						<h:outputLabel value="#{msgs['lbl.alert.no.result.search']}" id="idResultSearchMonitor"
							rendered="#{searchCollectionMonitorChargeMgmtBean.listResultMonitorTOs.rowCount eq 0}"
							style="font-weight:bold;"/>
					</td>
				</tr>
				<tr>
				<td>
					<p:panel id="fldResultMonitorTotals" rendered="#{(searchCollectionMonitorChargeMgmtBean.listResultMonitorTOs.rowCount >= 1)}">
						<table width="100%">
							<tr>
								<td colspan="1" align="left" width="15%"  >
									<h:outputText value="#{msgs['search.filter.tags.total.amount.receivable']} (BOB)" styleClass="required-field" />
								</td>
								<td colspan="1" align="left">
									<h:inputText style="align: left" value="#{searchCollectionMonitorChargeMgmtBean.totalAmountReceivableBOB}" disabled="true">
										<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
									</h:inputText>
								</td>
								<td colspan="5"></td>
							</tr>
							<tr>
								<td colspan="1" align="left" width="15%" >
									<h:outputText value="#{msgs['search.filter.tags.total.amount.receivable']} (USD)" styleClass="required-field" />
								</td>
								<td colspan="1" align="left">
									<h:inputText style="align: left" value="#{searchCollectionMonitorChargeMgmtBean.totalAmountReceivableUSD}" disabled="true">
										<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
									</h:inputText>
								</td>
								<td colspan="5"></td>
							</tr>
							<tr>
								<td colspan="1" align="left" width="15%" >
									<h:outputText value="#{msgs['search.filter.tags.total.amount.receip']}"  />
								</td>
								<td colspan="1" align="left">
									<h:inputText style="align: left" value="#{searchCollectionMonitorChargeMgmtBean.totalAmountReceived}" disabled="true">
										<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
									</h:inputText>
								</td>
								<td colspan="5"></td>
							</tr>
								<tr>
								<td colspan="1" align="left" width="15%" >
									<h:outputText value="#{msgs['search.filter.tags.difference.total']}"  />
								</td>
								<td colspan="1" align="left">
									<h:inputText style="align: left; color: red;" value="#{searchCollectionMonitorChargeMgmtBean.difference}" disabled="true">
										<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
									</h:inputText>
								</td>
								<td colspan="5"></td>
							</tr>
					 </table>
				 </p:panel>
				</td>
			 </tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formMonitorCollectionEconomicDialogsCharge">
				<!--DIALOGO DE DETALLE-->
				<p:confirmDialog widgetVar="wVDetailCollection" 
					header="Detalle de Valores"
					message="#{msgs['label.title.dialog.for.gloss']} : #{searchCollectionMonitorChargeMgmtBean.monitorTOviewDetaiil.monitorTO.gloss}"
					closable="false" rendered="#{searchCollectionMonitorChargeMgmtBean.visibleResult}"
				 	id="detailCollectionForGlosss"	>
					<p:fieldset>
						<p:dataTable var="detailObject" 
						    value="#{searchCollectionMonitorChargeMgmtBean.monitorTOviewDetaiil.detailObjectMonitorTOs}"
							paginator="true" 
							rows="10" paginatorPosition="top" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"  >
							<p:column headerText="#{msgs['lbl.filter.due.date']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.dueDate}">
								 <f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.name.payment.date']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.paymetDate}">
								 	<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.security.class.key']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.idSecurityCodePk}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.name.quantity.of.values']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.amountSecurities}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.coupun.title']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.couponNumber}"/>
							</p:column>
							<p:column headerText="#{msgs['search.filter.tags.collection.currency']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.descCollectionCurrency}"/>
							</p:column>
							<p:column headerText="#{msgs['search.filter.tags.amount.collect']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.amountReceivable}">
									<f:convertNumber
											pattern="#{cons['conv.number.pattern.nominal.amount']}"
											locale="#{cons['conv.number.locale']}" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.filter.name.bank']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.descBank}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.account.title']}" styleClass="content-center" >
								<h:outputLabel value="#{detailObject.accountNumberDeposit}"/>
							</p:column> 
							<f:facet name="footer" >	
								<div style="width:100%; text-align:left">
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{searchCollectionMonitorChargeMgmtBean.monitorTOviewDetaiil.detailObjectMonitorTOs.size()}"/>
						            </h:outputFormat>									
								</div>
							</f:facet>
						</p:dataTable>
					</p:fieldset>
					<p:commandButton value="#{gmsgs['btn.accept']}" 
							 style="align: center" 
							onclick="detailCollectionForGlosss.hide()" />
				</p:confirmDialog>
				<!--Dialogo para confirmacion para el registro de todos los cobros de derecho economico-->
				<p:confirmDialog id="idConfirmRegistreCollection"
					widgetVar="wVConfirmRegistreCollection" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVConfirmRegistreCollection.hide()" process="@this"
						update="@form"
						actionListener="#{registerCollectionRightMgmtBean.confirmRegistreCollectionDialogConfirmYes}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idConfirmRegistreCollection.hide()" />
				</p:confirmDialog>
				<!--Aviso de solicitud de registro exitoso-->
				<p:confirmDialog id="idAlertRegistreCollection"
					widgetVar="wVAlertRegistreCollection" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}"
						action="loadSearchPageCollectionEconomic"
						onclick="idAlertRegistreCollection.hide()" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion para retiro-->
				<p:confirmDialog id="idPreExecuteRetirement"
					widgetVar="wvPreExecuteRetirement" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wvPreExecuteRetirement.hide()" process="@this"
						actionListener="#{searchCollectionMonitorChargeMgmtBean.executePay}"/>
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idPreExecuteRetirement.hide()" />
				</p:confirmDialog>
				<!--Dialogo de confirmacion para limpiar la pantalla de busqueda-->
				<p:confirmDialog id="idCleanSearchCollectionMonitor"
					widgetVar="wVCleanSearchCollectionMonitor" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVCleanSearchCollectionMonitor.hide()" process="@form"
						update="@form" immediate="true"
						action="#{searchCollectionMonitorChargeMgmtBean.runCleaning}"/>
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idCleanSearchCollectionMonitor.hide()" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>