<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:outputText value="#{msgs['monitor.process.search.title']}" styleClass="title-page"/>

<h:form id="frmMonitorProcess">
<table width="100%">
<tr>
	<td>
		<p:fieldset legend="#{msgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['monitor.process.search.business.process']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu label="#{msgs['monitor.process.search.business.process']}" id="cboAuditBusinessProcess" 
					value="#{monitorProcessBean.searchMonitorProcessTO.auditBusinessProcess}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{monitorProcessBean.searchMonitorProcessTO.lstAuditBusinessProcess}" var="auditBusinessProcess" 
						itemLabel="#{auditBusinessProcess.processName}" itemValue="#{auditBusinessProcess.idAuditBusinessProcessPk}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" update="@this msgAuditBusinessProcess cboAuditStraightenBusiness"
							listener="#{monitorProcessBean.changeAuditBusinessProcess}"/>
				</p:selectOneMenu>	
				<p:message for="cboAuditBusinessProcess" display="icon" id="msgAuditBusinessProcess"/>
				</h:panelGrid> 
			</td>			
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['monitor.process.search.business.straighten']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboAuditStraightenBusiness" 
					value="#{monitorProcessBean.searchMonitorProcessTO.auditStraightenBusiness}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{monitorProcessBean.searchMonitorProcessTO.lstAuditStraightenBusiness}" var="auditStraightenBusiness" 
						itemLabel="#{auditStraightenBusiness.straightenName}" itemValue="#{auditStraightenBusiness.idStraightenBusinessPk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['monitor.process.search.process.type']}"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{monitorProcessBean.searchMonitorProcessTO.processType}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{monitorProcessBean.searchMonitorProcessTO.lstProcessType}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['monitor.process.search.audit.type']}"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{monitorProcessBean.searchMonitorProcessTO.auditType}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{monitorProcessBean.searchMonitorProcessTO.lstAuditType}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['monitor.process.search.initial.date']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar readonlyInput="true" showOn="both" disabledWeekends="true" size="10"
					value="#{monitorProcessBean.searchMonitorProcessTO.initialDate}" navigator="true"
					maxdate="#{monitorProcessBean.currentSystemDate}" pattern="#{msgs['dateFormat']}"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['monitor.process.search.end.date']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar readonlyInput="true" showOn="both" disabledWeekends="true" size="10"
					value="#{monitorProcessBean.searchMonitorProcessTO.endDate}" navigator="true"
					maxdate="#{monitorProcessBean.currentSystemDate}" pattern="#{msgs['dateFormat']}"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" 
					update="@form :opnlGenericDialogs" icon="fa fa-search" actionListener="#{monitorProcessBean.searchAuditProcessRules()}" />														 
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form"
					icon="fa fa-trash" actionListener="#{monitorProcessBean.cleanSearch}" process="@this"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<br/>
	</td>
</tr>
<tr>
	<td>
		<p:dataTable var="auditProcessLog" rendered="#{not empty monitorProcessBean.searchMonitorProcessTO.lstAuditProcessLog}"
			value="#{monitorProcessBean.searchMonitorProcessTO.lstAuditProcessLog}" paginator="true"
			paginatorPosition="top" paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			rowKey="#{auditProcessLog.idAuditProcessLogPk}">
				
			<p:column headerText="#{msgs['monitor.process.search.detail.business.straighten']}">
				<h:outputText value="#{auditProcessLog.straightenName}" />
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.start.time']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.startTime}">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.finish.time']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.finishTime}">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.registry.date']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.registryDate}">
					<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.audit.type']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.auditTypeDesc}" />
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.process.type']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.processTypeDesc}" />
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.period']}" styleClass="content-center">
				<h:outputText value="#{auditProcessLog.periodDesc}"/>
			</p:column>
			
			<p:column headerText="#{msgs['monitor.process.search.detail.result']}" styleClass="content-center">
				<p:commandLink value="#{auditProcessLog.processStateDesc}" style="color:red"
					rendered="#{auditProcessLog.inconsistentRows ne 0}"
					process="@this" action="#{monitorProcessBean.viewProcess(auditProcessLog)}"/>
				<h:outputText value="#{auditProcessLog.processStateDesc}" 
					rendered="#{auditProcessLog.inconsistentRows eq 0}" style="color:green"/>
			</p:column>
			
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{monitorProcessBean.searchMonitorProcessTO.lstAuditProcessLog.size}"/>
				</h:outputFormat>
			</f:facet>	
		</p:dataTable>
		<p:panel rendered="#{monitorProcessBean.searchMonitorProcessTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>
	</td>
</tr>
</table>
</h:form>
</ui:define>
</ui:composition>
</html>