<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkr="http://java.sun.com/jsf/composite/legalRepresentativeComponent"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">

		<script type="text/javascript">
			$(window).load(function() {
				setInitialFormState('#frmIssuerRegister');
				setAllHolidays('${issuerModificationMgmtBean.allHolidays}');
			});
		</script>

		<p:importEnum
			type="com.pradera.model.accounts.type.EconomicActivityType"
			var="economicActivityType" />

		<h:outputText
			value="#{gmsgs['iSecurities.issuer.registerModificationIssuer.title']}"
			styleClass="title-page" />

		<h:form id="frmIssuerRegister" enctype="multipart/form-data">

			<p:tabView id="tabViewIssuer" style="width:100%">

				<p:tab id="tabRegisterData"
					title="#{msgs['issuer.lbl.personaldata']}" style="width:100%">
					<p:outputPanel id="opnlRegisterData">
						<table width="100%">
							<tr>
								<td><p:fieldset id="fieldParticipantData"
										legend="#{msgs['issuer.lbl.data']}" toggleable="false">
										<table width="100%">
											<tr>
												<td width="12%"><h:outputText
														value="#{msgs['issuer.lbl.issuer']} (*)"
														styleClass="required-field" /></td>
												<td width="18%">
													<ark:issuerHelper id="issuerHelper"
														issuer="#{issuerModificationMgmtBean.issuer}"
														required="true" remoteListener="rcmdValidationIssuer()" />
													<p:remoteCommand name="rcmdValidationIssuer" global="false"
														oncomplete="setInitialFormState('#frmIssuerRegister');"
														process="@this "
														update=":frmIssuerRegister:tabViewIssuer:cboSocietyType :frmIssuerRegister:tabViewIssuer :frmIssuerRegister:opnlButtons :opnlDialogs :opnlGenericDialogs "
														action="#{issuerModificationMgmtBean.validateIdIssuer}" />
												</td>
												<td width="12%">
													<h:outputText
														value="#{msgs['issuer.lbl.CUI']} (*)"
														styleClass="required-field" /></td>
												<td width="18%"><p:inputText id="txtRntParticipant"
														size="15" disabled="true" style="width:150px"
														value="#{issuerModificationMgmtBean.issuer.holder.idHolderPk}" />
												</td>
												<td width="12%"><h:outputText
														value="#{msgs['issuer.lbl.state']} (*)"
														styleClass="required-field" /></td>
												<td width="18%"><p:selectOneMenu style="width:200px"
														value="#{issuerModificationMgmtBean.issuer.stateIssuer}"
														id="cboState" disabled="true">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.lstIssuerState}"
															var="item" itemLabel="#{item.parameterName}"
															itemValue="#{item.parameterTablePk}" />
													</p:selectOneMenu></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['lbl.general.country']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:selectOneMenu id="cboCountryAux" style="width:200px"
															label="#{msgs['lbl.general.country']}"
															value="#{issuerModificationMgmtBean.issuer.geographicLocation.idGeographicLocationPk}"
															disabled="true">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstCountries}"
																var="item" itemLabel="#{item.name}"
																itemValue="#{item.idGeographicLocationPk}" />
															<p:ajax event="change"
																listener="#{issuerModificationMgmtBean.changeSelectedCountry}"
																update="  
																	:frmIssuerRegister:tabViewIssuer:txtAddress 
																	:frmIssuerRegister:tabViewIssuer:msgtxtAddress 
																	:frmIssuerRegister:tabViewIssuer:txtTradeName
																	:frmIssuerRegister:tabViewIssuer:msgTxtTradeName
																	:frmIssuerRegister:tabViewIssuer:cboDocumentType
																	:frmIssuerRegister:tabViewIssuer:msgCboDocumentType
																	:frmIssuerRegister:tabViewIssuer:txtDocumentNumber
																	:frmIssuerRegister:tabViewIssuer:cboCountry
																	:frmIssuerRegister:tabViewIssuer:cboDepartment 
																	:frmIssuerRegister:tabViewIssuer:outputPanelAttachIssuer 
																	:frmIssuerRegister:tabViewIssuer:msgCboCountryAux 
																	:frmIssuerRegister:tabViewIssuer:cboCountryAux 
																	" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
															<f:param name="skipValidation" value="false" />
														</p:selectOneMenu>
														<p:message id="msgCboCountryAux" for="cboCountryAux"
															display="icon" />
													</h:panelGrid></td>
												<td><h:outputText
														value="#{msgs['issuer.lbl.doctype']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:selectOneMenu id="cboDocumentType" style="width:300px"
															label="#{msgs['issuer.lbl.doctype']}"
															value="#{issuerModificationMgmtBean.issuer.documentType}"
															disabled="true">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstIssuerDocumentType}"
																var="item" itemLabel="#{item.parameterName}"
																itemValue="#{item.parameterTablePk}" />
															<p:ajax event="change"
																listener="#{issuerModificationMgmtBean.changeSelectedDocumentTypeRegister}"
																update="oplLabelEmissionSource oplcmbEmissionSource :frmIssuerRegister:tabViewIssuer:txtDocumentNumber :frmIssuerRegister:tabViewIssuer:msgTxtDocumentNumber :frmIssuerRegister:tabViewIssuer:cboDocumentType :frmIssuerRegister:tabViewIssuer:msgCboDocumentType" />/>			
												<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
															<f:param name="skipValidation" value="false" />
														</p:selectOneMenu>
														<p:message id="msgCboDocumentType" for="cboDocumentType"
															display="icon" />
													</h:panelGrid></td>
												<td><p:outputPanel id="oplLabelEmissionSource">
														<h:outputText id="labelEmissionSource"
															rendered="#{issuerModificationMgmtBean.documentTORegister.indicatorDocumentSource}"
															value="#{msgs['issuer.lbl.emission.source']} (*)"
															styleClass="required-field" />
													</p:outputPanel></td>
												<td><p:outputPanel id="oplcmbEmissionSource">
														<p:selectOneMenu
															rendered="#{issuerModificationMgmtBean.documentTORegister.indicatorDocumentSource}"
															disabled="true" id="cmbDocumentSource"
															label="#{msgs['issuer.lbl.emission.source']}"
															style="width:130px"
															value="#{issuerModificationMgmtBean.issuer.documentSource}">
															<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}" />
															<f:selectItems var="documentEmissionSource"
																value="#{issuerModificationMgmtBean.listDocumentSource}"
																itemValue="#{documentEmissionSource.parameterTablePk}"
																itemLabel="#{documentEmissionSource.parameterName}" />
															<p:ajax event="change"
																update="@this messageDocumentEmissionSource"
																process="@this" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
														</p:selectOneMenu>
													</p:outputPanel></td>
												<td width="40px"><p:outputPanel
														id="oplMsgEmissionSource">
														<p:message id="messageDocumentEmissionSource"
															for="cmbDocumentSource" display="icon" />
													</p:outputPanel></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.docnumber']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:inputText id="txtDocumentNumber" style="width:150px"
															label="#{msgs['issuer.lbl.docnumber']}"
															value="#{issuerModificationMgmtBean.issuer.documentNumber}"
															disabled="true"
															maxlength="#{issuerModificationMgmtBean.documentTORegister.maxLenghtDocumentNumber}">
															<p:ajax event="blur"
																listener="#{issuerModificationMgmtBean.validateDocumentIssuer}"
																update="@this :frmIssuerRegister:tabViewIssuer:txtDocumentNumber :frmIssuerRegister:tabViewIssuer:txtTradeName  
													 		:frmIssuerRegister:tabViewIssuer:msgTxtDocumentNumber" />
															<p:keyFilter
																rendered="#{(!issuerModificationMgmtBean.documentTORegister.numericTypeDocument) and (!issuerModificationMgmtBean.documentTORegister.indicatorAlphanumericWithDash)}"
																regEx="#{cons['exp.regular.alphanumeric.not.space']}" />
															<p:keyFilter
																rendered="#{issuerModificationMgmtBean.documentTORegister.indicatorAlphanumericWithDash}"
																regEx="#{cons['exp.regular.alphanumeric.dash.not.space']}" />
															<p:keyFilter
																rendered="#{issuerModificationMgmtBean.documentTORegister.numericTypeDocument}"
																mask="pint" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgTxtDocumentNumber"
															for="txtDocumentNumber" display="icon" />
													</h:panelGrid></td>

												<td><h:outputText
														value="#{msgs['issuer.lbl.offertype']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:selectOneMenu id="cboOfferType"
															label="#{msgs['issuer.lbl.offertype']}"
															style="width:300px"
															value="#{issuerModificationMgmtBean.issuer.offerType}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstOfferType}"
																var="item" itemLabel="#{item.parameterName}"
																itemValue="#{item.parameterTablePk}" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
														</p:selectOneMenu>
														<p:message id="msgCboOfferType" for="cboOfferType"
															display="icon" />
													</h:panelGrid></td>
											</tr>
											<tr>
												<td><h:outputText
														rendered="#{issuerModificationMgmtBean.issuer.relatedCui!=null}"
														value="#{msgs['issuer.lbl.related.cui']} (*)"
														styleClass="required-field" /></td>
												<td><p:inputText size="17" disabled="true"
														rendered="#{issuerModificationMgmtBean.issuer.relatedCui!=null}"
														value="#{issuerModificationMgmtBean.issuer.relatedCui}" />
												</td>
											</tr>
											<tr>
												<td width="160px"><h:outputText
														rendered="#{issuerModificationMgmtBean.issuer.fundType!=null}"
														value="#{msgs['issuer.lbl.fund.administrator']}" /></td>
												<td><p:inputText maxlength="5" disabled="true"
														rendered="#{issuerModificationMgmtBean.issuer.fundType!=null}"
														value="#{issuerModificationMgmtBean.issuer.fundType}">
														<p:ajax event="blur" process="@this" global="false"></p:ajax>
														<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
													</p:inputText></td>
												<td><h:outputText
														rendered="#{issuerModificationMgmtBean.issuer.fundAdministrator!=null}"
														value="#{msgs['issuer.lbl.fund.type']}" /></td>
												<td><p:inputText maxlength="5" disabled="true"
														rendered="#{issuerModificationMgmtBean.issuer.fundAdministrator!=null}"
														value="#{issuerModificationMgmtBean.issuer.fundAdministrator}">
														<p:ajax event="blur" process="@this" global="false"></p:ajax>
														<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td width="160px"><h:outputText
														value="#{msgs['issuer.lbl.tranfer.number']} (*)"
														rendered="#{issuerModificationMgmtBean.issuer.transferNumber!=null}"
														styleClass="required-field" /></td>
												<td><p:inputText id="inputTransferNumber"
														disabled="true" maxlength="8"
														label="#{msgs['issuer.lbl.tranfer.number']}"
														rendered="#{issuerModificationMgmtBean.issuer.transferNumber!=null}"
														value="#{issuerModificationMgmtBean.issuer.transferNumber}">
														<p:ajax event="blur" update="@this" process="@this"
															global="false"></p:ajax>
														<p:keyFilter mask="pint" />
														<f:validator
															validatorId="com.pradera.commons.view.validators.InputTextValidator" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.tradename']} (*)"
														styleClass="required-field" /></td>
												<td colspan="3"><h:panelGrid columns="2">
														<p:inputText id="txtTradeName" style="width:620px"
															label="#{msgs['issuer.lbl.tradename']}"
															value="#{issuerModificationMgmtBean.issuer.businessName}"
															maxlength="150"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
															<p:ajax event="blur"
																listener="#{issuerModificationMgmtBean.validateDocumentAndDescriptionIssuer}"
																update=":frmIssuerRegister:tabViewIssuer:txtDocumentNumber :frmIssuerRegister:tabViewIssuer:txtTradeName 
													:frmIssuerRegister:tabViewIssuer:msgTxtTradeName" />
															<p:keyFilter
																regEx="#{cons['exp.regular.alphanumeric.trade.name']}" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgTxtTradeName" for="txtTradeName"
															display="icon" />
													</h:panelGrid></td>
												<td><h:outputText
														value="#{msgs['issuer.lbl.mnemonic']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:inputText id="txtMnemonic" style="width:150px"
															label="#{msgs['issuer.lbl.mnemonic']}"
															value="#{issuerModificationMgmtBean.issuer.mnemonic}"
															maxlength="8" disabled="true">
															<p:keyFilter
																regEx="#{cons['exp.regular.alphanumeric.not.space']}" />
															<p:ajax event="blur"
																listener="#{issuerModificationMgmtBean.validateMnemonicIssuer}"
																update=":frmIssuerRegister:tabViewIssuer:txtMnemonic :frmIssuerRegister:tabViewIssuer:msgTxtMnemonic" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgTxtMnemonic" for="txtMnemonic"
															display="icon" />
													</h:panelGrid></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.economicsector']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:selectOneMenu id="cboEconomicSector"
															label="#{msgs['issuer.lbl.economicsector']}"
															style="width:200px"
															value="#{issuerModificationMgmtBean.issuer.economicSector}"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif and issuerModificationMgmtBean.issuer.economicActivity eq economicActivityType.FONDOS_INVERSION_CERRADOS}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstEconomicSector}"
																var="item" itemLabel="#{item.parameterName}"
																itemValue="#{item.parameterTablePk}" />
															<p:ajax event="change"
																listener="#{issuerModificationMgmtBean.changeCboEconomicSector}"
																update=":frmIssuerRegister:tabViewIssuer:msgCboEconomicSector :frmIssuerRegister:tabViewIssuer:cboEconomicSector :frmIssuerRegister:tabViewIssuer:cboEconomicActivity pnlgSocietyType">

															</p:ajax>
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />

															<f:param name="skipValidation" value="false" />

														</p:selectOneMenu>
														<p:message id="msgCboEconomicSector"
															for="cboEconomicSector" display="icon" />
													</h:panelGrid></td>
												<td><h:outputText
														value="#{msgs['issuer.lbl.economicactivity']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:selectOneMenu id="cboEconomicActivity"
															label="#{msgs['issuer.lbl.economicactivity']}"
															style="width:200px;"
															value="#{issuerModificationMgmtBean.issuer.economicActivity}"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif and issuerModificationMgmtBean.issuer.economicActivity eq economicActivityType.FONDOS_INVERSION_CERRADOS}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstEconomicActivity}"
																var="item" itemLabel="#{item.parameterName}"
																itemValue="#{item.parameterTablePk}" />
															<p:ajax event="change" listener="#{issuerModificationMgmtBean.changeEconomicActivity}"
																update=":frmIssuerRegister:tabViewIssuer:msgCboEconomicActivity :frmIssuerRegister:tabViewIssuer:cboEconomicActivity pnlgInvestorType" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
															<f:param name="skipValidation" value="false" />
														</p:selectOneMenu>
														<p:message id="msgCboEconomicActivity"
															for="cboEconomicActivity" display="icon" />
													</h:panelGrid></td>
												<td><h:outputText value="#{msgs['issuer.lbl.investor.type']} (*)" styleClass="required-field" /></td>
												<td>
													<h:panelGrid columns="2" id="pnlgInvestorType">
														<p:selectOneMenu id="cmbInvestorType" 
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif and issuerModificationMgmtBean.issuer.economicActivity eq economicActivityType.FONDOS_INVERSION_CERRADOS}"
															 label="#{msgs['issuer.lbl.investor.type']}" style="width:220px" value="#{issuerModificationMgmtBean.issuer.investorType}" >  
												            <f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />  
												            <f:selectItems value="#{issuerModificationMgmtBean.listInvestorType}" var="investorTypeVar" 
																itemLabel="#{investorTypeVar.shortName}" itemValue="#{investorTypeVar.id}"/>
												            <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
												         <p:ajax event="change" process="@this" update="@form" />
												        </p:selectOneMenu>
														<p:message id="msgCboInvestorType" for="cmbInvestorType" display="icon"/>
													</h:panelGrid>
												</td>
											</tr>
											
											<tr>
											
												<td>
													<h:outputText
														value="#{msgs['issuer.lbl.societytype']} (*)"
														styleClass="required-field" />
												</td>
												<td><h:panelGrid columns="2" id="pnlgSocietyType">
														<p:selectOneMenu id="cboSocietyType" style="width:200px"
															value="#{issuerModificationMgmtBean.issuer.societyType}"
															label="#{msgs['issuer.lbl.societytype']}"
															disabled="#{(!issuerModificationMgmtBean.indIssuerSelectedModif and issuerModificationMgmtBean.issuer.economicActivity eq economicActivityType.FONDOS_INVERSION_CERRADOS) or issuerModificationMgmtBean.indFICPATEconomicActivity}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstSocietyType}"
																var="item" itemLabel="#{item.parameterName}"
																itemValue="#{item.parameterTablePk}" />
															<p:ajax event="change"
																update=":frmIssuerRegister:tabViewIssuer:msgCboSocietyType :frmIssuerRegister:tabViewIssuer:cboSocietyType" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
															<f:param name="skipValidation" value="false" />
														</p:selectOneMenu>
														<p:message id="msgCboSocietyType" for="cboSocietyType"
															display="icon" />
													</h:panelGrid>
												</td>
												<td></td>
												<td></td>
												
												<td></td>
												<td></td>
												
											</tr>
										</table>
									</p:fieldset>
									<!--Datos de modificacion de valores del emisor--> 
									<p:fieldset
										id="fieldModifySecuritiesData"
										legend="#{msgs['lbl.modify.securities.by.issuer']}">
										<table>
											<tr>
												<td>
													<p:selectBooleanCheckbox id="chkIndSIRTEXnegociate" itemLabel="#{msgs['lbl.modify.chkIndSIRTEXnegociate']}"
														value="#{issuerModificationMgmtBean.indIssuerSIRTEXnegociate}">
														<p:ajax event="valueChange" update="@this idCboxCurrency idCboxPersonType idCboxCoupons idCalEmitionDate"
															process="@this idCboxCurrency idCboxPersonType idCalEmitionDate"
															listener="#{issuerModificationMgmtBean.checkIssuerSirtexNegotiate}" />
													</p:selectBooleanCheckbox>
												</td>
											</tr>
											<!--Filtros de valor y moneda-->
											<tr>
												<!--Moneda-->
												<td width="160px"><h:outputText
														value="#{msgs['issuer.lbl.currency']}" /></td>
												<td><p:selectOneMenu id="idCboxCurrency"
														style="width:200px"
														value="#{issuerModificationMgmtBean.currencySelected}"
														required="false">
														<f:selectItem itemLabel="#{msgs['lbl.modify.select.all']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.listCurrency}"
															var="itemCurrency"
															itemLabel="#{itemCurrency.parameterName}"
															itemValue="#{itemCurrency.parameterTablePk}" />
													</p:selectOneMenu></td>
											</tr>
											<!--Tipo de persona  y con cupones/sin cupones-->
											<tr>
												<td width="12%">
													<h:outputText
														value="#{msgs['lbl.modify.holder.type']} " />
												</td>
												<td width="18%">
													<p:selectOneMenu id="idCboxPersonType" 
														style="width:200px"
														value="#{issuerModificationMgmtBean.personTypeSelected}">
														<f:selectItem itemLabel="#{msgs['lbl.modify.select.both']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.listPersonType}"
															var="itemPerson" itemLabel="#{itemPerson.parameterName}"
															itemValue="#{itemPerson.parameterTablePk}" />
													</p:selectOneMenu>
												</td>
												<td width="12%">
													<!--Con cupones y sin cupones-->
													<h:outputText
															value="#{msgs['lbl.modify.with.coupons']}" />
												</td>
												<td width="18%">
													<p:selectOneMenu id="idCboxCoupons"
														style="width:200px"
														value="#{issuerModificationMgmtBean.withCouponsSelected}">
														<f:selectItem itemLabel="#{msgs['lbl.modify.select.both']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.listBooleanValues}"
															var="itemCoupon" itemLabel="#{itemCoupon.parameterName}"
															itemValue="#{itemCoupon.parameterTablePk}" />
													</p:selectOneMenu>
												</td>
												<td width="12%"/>
												<td width="18%"/>
											</tr>
											<!--Fecha de emision-->
											<tr>
												<td width="12%"><h:outputText
														value="#{msgs['issuance.lbl.issuance.date']}"/></td>
												<td width="18%"><p:calendar id="idCalEmitionDate"
														readonly="false"
														disabled="!#{issuerModificationMgmtBean.indIssuerSIRTEXnegociate}"
														value="#{issuerModificationMgmtBean.issuanceDateSelected}"
														showOn="both" yearRange="#{cons['cal.year.range']}"
														 pattern="dd/MM/yyyy"
														label="#{msgs['issuer.lbl.constitution.date']}" size="10"
														navigator="true" showButtonPanel="false">
														<f:validator
															validatorId="com.pradera.commons.view.validators.CalendarValidator" />
													</p:calendar></td>
											</tr>
										</table>
									</p:fieldset> <p:fieldset id="fieldLocationData"
										legend="#{msgs['issuer.lbl.locationdata']}" toggleable="false">
										<table width="100%">
											<tr>
												<td width="12%"><h:outputText
														value="#{msgs['lbl.general.country']} (*)"
														styleClass="required-field" /></td>
												<td width="18.5%"><p:selectOneMenu id="cboCountry"
														label="#{msgs['lbl.general.country']}" disabled="true"
														style="width:200px"
														value="#{issuerModificationMgmtBean.issuer.geographicLocation.idGeographicLocationPk}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.lstCountries}"
															var="item" itemLabel="#{item.name}"
															itemValue="#{item.idGeographicLocationPk}" />
													</p:selectOneMenu></td>
												<td width="12.5%"><h:outputText
														value="#{msgs['lbl.general.departament']} (*)"
														styleClass="required-field" /></td>
												<td width="17.5%"><h:panelGrid columns="2">
														<p:selectOneMenu id="cboDepartment"
															label="#{msgs['lbl.general.departament']}"
															style="width:200px"
															value="#{issuerModificationMgmtBean.issuer.department}"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstDepartments}"
																var="item" itemLabel="#{item.name}"
																itemValue="#{item.idGeographicLocationPk}" />
															<p:ajax event="change"
																listener="#{issuerModificationMgmtBean.loadProvinceDepartment}"
																update=":frmIssuerRegister:tabViewIssuer:msgCboDepartment :frmIssuerRegister:tabViewIssuer:cboDepartment" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
															<f:param name="skipValidation" value="false" />
														</p:selectOneMenu>
														<p:message id="msgCboDepartment" for="cboDepartment"
															display="icon" />
													</h:panelGrid></td>
												<ui:remove>
													<td width="11.5%"><h:outputText
															value="#{msgs['lbl.general.province']} (*)"
															styleClass="required-field" /></td>
													<td width="16.5%"><h:panelGrid columns="2">
															<p:selectOneMenu id="cboProv"
																label="#{msgs['lbl.general.province']}"
																style="width:200px"
																value="#{issuerModificationMgmtBean.issuer.province}"
																disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
																<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
																<f:selectItems
																	value="#{issuerModificationMgmtBean.lstProvinces}"
																	var="item" itemLabel="#{item.name}"
																	itemValue="#{item.idGeographicLocationPk}" />
																<p:ajax event="change"
																	listener="#{issuerModificationMgmtBean.loadDistrictProvince}"
																	update=":frmIssuerRegister:tabViewIssuer:msgCboProv " />
																<f:validator
																	validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
																<f:param name="skipValidation" value="false" />
															</p:selectOneMenu>
															<p:message id="msgCboProv" for="cboProv" display="icon" />
														</h:panelGrid></td>
												</ui:remove>
											</tr>
											<tr>
												<ui:remove>
													<td><h:outputText
															value="#{msgs['lbl.general.sector']}" /></td>
													<td><p:selectOneMenu id="cboSector"
															style="width:200px"
															value="#{issuerModificationMgmtBean.issuer.district}"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstDistricts}"
																var="item" itemLabel="#{item.name}"
																itemValue="#{item.idGeographicLocationPk}" />
														</p:selectOneMenu></td>
												</ui:remove>

												<td><h:outputText id="lblIssueConstitutionDate"
														value="#{msgs['issuer.lbl.constitution.date']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:calendar id="calIssuerConstitutionDate"
															value="#{issuerModificationMgmtBean.issuer.constitutionDate}"
															showOn="both" yearRange="#{cons['cal.year.range']}"
															pattern="#{cons['dateFormat']}"
															label="#{msgs['issuer.lbl.constitution.date']}" size="10"
															navigator="true" showButtonPanel="false"
															readonlyInput="true"
															maxdate="#{issuanceMgmtBean.minimumDate}">
															<f:validator
																validatorId="com.pradera.commons.view.validators.CalendarValidator" />
														</p:calendar>
													</h:panelGrid></td>





												<td><h:outputText
														value="#{msgs['lbl.general.address']} (*)"
														styleClass="required-field" /></td>
												<td colspan="3"><h:panelGrid columns="2">
														<p:inputText id="txtAddress" style="width:600px"
															label="#{msgs['lbl.general.address']}"
															value="#{issuerModificationMgmtBean.issuer.legalAddress}"
															maxlength="150"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
															<p:keyFilter
																regEx="#{cons['exp.regular.address.and.observations']}" />
															<p:ajax event="blur"
																listener="#{issuerModificationMgmtBean.validateAddressFormat}"
																update=":frmIssuerRegister:tabViewIssuer:msgtxtAddress  :frmIssuerRegister:tabViewIssuer:txtAddress
													" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgtxtAddress" for="txtAddress"
															display="icon" />
													</h:panelGrid></td>
											</tr>
										</table>
									</p:fieldset> <p:fieldset id="fieldOtherData"
										legend="#{msgs['issuer.lbl.otherdata']}" toggleable="false">
										<table width="100%">
											<tr>
												<td colspan="2" width="32.5%"><h:panelGrid columns="2"
														width="75%">
														<h:outputText
															value="#{msgs['issuer.lbl.resolutionsivdate']} (*)"
															styleClass="required-field" />
														<h:panelGrid columns="2">
															<p:calendar id="calResolutionSivDate"
																label="#{msgs['issuer.lbl.resolutionsivdate']}"
																maxdate="#{issuerModificationMgmtBean.yesterdaySystemDate}"
																readonlyInput="true" size="10" navigator="true"
																yearRange="1900:c+c"
																value="#{issuerModificationMgmtBean.issuer.superResolutionDate}"
																showOn="both" pattern="#{msgs['dateFormat']}"
																maxlength="10" beforeShowDay="disableAllHolydays"
																disabled="true">
																<p:ajax event="dateSelect" process="@this"
																	listener="#{issuerModificationMgmtBean.changeResolutionSivDate}"
																	update=":frmIssuerRegister:tabViewIssuer:calResolutionSivDate 
													 :frmIssuerRegister:tabViewIssuer:msgCalResolutionSivDate 
													 :frmIssuerRegister:tabViewIssuer:calContractDate 
													  :frmIssuerRegister:tabViewIssuer:calInscriptionStockExchDate 
													  :frmIssuerRegister:tabViewIssuer:calEffectiveDate" />
																<f:validator
																	validatorId="com.pradera.commons.view.validators.CalendarValidator" />
																<f:param name="skipValidation" value="false" />
															</p:calendar>
															<p:message id="msgCalResolutionSivDate"
																for="calResolutionSivDate" display="icon" />
														</h:panelGrid>
													</h:panelGrid></td>
												<td width="14.5%"><h:outputText
														value="#{msgs['issuer.lbl.resolutionsivnumber']} (*)"
														styleClass="required-field" /></td>
												<td><h:panelGrid columns="2">
														<p:inputText id="txtResolutionSivNumber"
															label="#{msgs['issuer.lbl.resolutionsivnumber']}"
															value="#{issuerModificationMgmtBean.issuer.superintendentResolution}"
															maxlength="10" style="width:150px" disabled="true">
															<p:ajax event="blur"
																listener="#{issuerModificationMgmtBean.validateResolutionNumber}"
																update=":frmIssuerRegister:tabViewIssuer:msgTxtResolutionSivNumber :frmIssuerRegister:tabViewIssuer:txtResolutionSivNumber " />
															<p:keyFilter
																regEx="#{gconst['exp.regular.alphanumeric.resolutionNumber.not.space']}" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgTxtResolutionSivNumber"
															for="txtResolutionSivNumber" display="icon" />
													</h:panelGrid></td>
												<td width="13.5%"><h:outputText
														value="#{msgs['issuance.lbl.ratings']}" /></td>
												<td width="19%"><h:panelGrid columns="2"
														id="pnlRatingScales">
														<p:selectOneMenu id="cboRating"
															value="#{issuerModificationMgmtBean.issuer.creditRatingScales}"
															style="width:200px"
															label="#{msgs['issuance.lbl.ratings']}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{issuerModificationMgmtBean.lstCboCreditRatingScales}"
																var="secType" itemValue="#{secType.parameterTablePk}"
																itemLabel="#{secType.parameterName}" />
															<p:ajax event="change" update="cboRating msgCboRating" />
														</p:selectOneMenu>
														<p:message for="cboRating" id="msgCboRating"
															display="icon" />
													</h:panelGrid></td>
											</tr>
											<tr>
												<td colspan="2"><h:panelGrid columns="2" width="50%">
														<h:outputText
															value="#{msgs['issuer.lbl.inddepositcontract']}" />
														<p:selectBooleanCheckbox id="chkIndDepositaryContract"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}"
															value="#{issuerModificationMgmtBean.indIssuerDepositaryContract}">
															<p:ajax event="valueChange"
																listener="#{issuerModificationMgmtBean.checkIssuerDepositaryContract}"
																process="calResolutionSivDate @this"
																update="opnlLabelDepositContractDate opnlLabelEffectiveDate calContractDate calEffectiveDate calResolutionSivDate 
													 msgCalContractDate msgCalEffectiveDate" />
														</p:selectBooleanCheckbox>
													</h:panelGrid></td>
												<td><p:outputPanel id="opnlLabelDepositContractDate">
														<h:outputText
															value="#{msgs['issuer.lbl.depositcontractdate']}"
															rendered="#{!issuerModificationMgmtBean.indIssuerDepositaryContract}" />
														<h:outputText
															value="#{msgs['issuer.lbl.depositcontractdate']}  (*)"
															styleClass="required-field"
															rendered="#{issuerModificationMgmtBean.indIssuerDepositaryContract}" />
													</p:outputPanel></td>
												<td><h:panelGrid columns="2">
														<p:calendar id="calContractDate"
															label="#{msgs['issuer.lbl.depositcontractdate']}"
															readonlyInput="true" navigator="true"
															yearRange="1900:c+c"
															mindate="#{issuerModificationMgmtBean.minDepositaryContractDate}"
															maxdate="#{issuerModificationMgmtBean.currentSystemDate}"
															size="10"
															value="#{issuerModificationMgmtBean.issuer.contractDate}"
															showOn="both"
															disabled="#{!issuerModificationMgmtBean.indIssuerDepositaryContract || !issuerModificationMgmtBean.indIssuerSelectedModif}"
															pattern="#{msgs['dateFormat']}" maxlength="10"
															beforeShowDay="disableAllHolydays">
															<p:ajax event="dateSelect"
																update=":frmIssuerRegister:tabViewIssuer:msgCalContractDate :frmIssuerRegister:tabViewIssuer:calContractDate" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.CalendarValidator" />
															<f:param name="skipValidation" value="false" />
														</p:calendar>
														<p:message id="msgCalContractDate" for="calContractDate"
															display="icon" />
													</h:panelGrid></td>
												<td><h:outputText value="#{msgs['issuer.lbl.rmv']}" />
												</td>
												<td><p:inputText id="txtRmv" style="width:150px"
														label="#{msgs['issuer.lbl.rmv']}"
														value="#{issuerModificationMgmtBean.issuer.rmvRegister}"
														maxlength="20">
														<p:keyFilter
															regEx="#{cons['exp.regular.alphanumeric.not.space']}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td colspan="2"><h:panelGrid columns="2" width="49.5%">
														<h:outputText
															value="#{msgs['issuer.lbl.indinscriptionbv']}" />
														<p:selectBooleanCheckbox
															id="chkIndInscriptionStockExchange"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}"
															value="#{issuerModificationMgmtBean.indInscriptionStockExchange}">
															<p:ajax event="valueChange"
																listener="#{issuerModificationMgmtBean.checkInscriptionStockExchange}"
																update="opnlLabelInscriptionStockExchDate calInscriptionStockExchDate calResolutionSivDate 
													 msgCalInscriptionStockExchDate" />
														</p:selectBooleanCheckbox>
													</h:panelGrid></td>
												<td><p:outputPanel
														id="opnlLabelInscriptionStockExchDate">
														<h:outputText
															value="#{msgs['issuer.lbl.inscriptionbvdate']}"
															rendered="#{!issuerModificationMgmtBean.indInscriptionStockExchange}" />
														<h:outputText
															value="#{msgs['issuer.lbl.inscriptionbvdate']}  (*)"
															styleClass="required-field"
															rendered="#{issuerModificationMgmtBean.indInscriptionStockExchange}" />
													</p:outputPanel></td>
												<td><h:panelGrid columns="2">
														<p:calendar id="calInscriptionStockExchDate"
															label="#{msgs['issuer.lbl.inscriptionbvdate']}"
															readonlyInput="true" navigator="true"
															yearRange="1900:c+c"
															mindate="#{issuerModificationMgmtBean.minInscriptionStockExchDate}"
															maxdate="#{issuerModificationMgmtBean.yesterdaySystemDate}"
															size="10"
															value="#{issuerModificationMgmtBean.issuer.enrolledStockExchDate}"
															showOn="both" beforeShowDay="disableAllHolydays"
															pattern="#{msgs['dateFormat']}" maxlength="10"
															disabled="#{!issuerModificationMgmtBean.indInscriptionStockExchange || !issuerModificationMgmtBean.indIssuerSelectedModif}">
															<p:ajax event="dateSelect"
																update=":frmIssuerRegister:tabViewIssuer:msgCalInscriptionStockExchDate 
											  	:frmIssuerRegister:tabViewIssuer:calInscriptionStockExchDate" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.CalendarValidator" />
															<f:param name="skipValidation" value="false" />
														</p:calendar>
														<p:message id="msgCalInscriptionStockExchDate"
															for="calInscriptionStockExchDate" display="icon" />
													</h:panelGrid></td>
												<td><p:outputPanel id="opnlLabelEffectiveDate">
														<h:outputText value="#{msgs['issuer.lbl.effectivedate']}"
															rendered="#{!issuerModificationMgmtBean.indIssuerDepositaryContract}" />
														<h:outputText
															value="#{msgs['issuer.lbl.effectivedate']}  (*)"
															styleClass="required-field"
															rendered="#{issuerModificationMgmtBean.indIssuerDepositaryContract}" />
													</p:outputPanel></td>
												<td><h:panelGrid columns="2">
														<p:calendar id="calEffectiveDate"
															label="#{msgs['issuer.lbl.effectivedate']}"
															readonlyInput="true" navigator="true" yearRange="c:c+100"
															mindate="#{issuerModificationMgmtBean.currentSystemDate}"
															size="10"
															value="#{issuerModificationMgmtBean.issuer.closingServiceDate}"
															showOn="both"
															disabled="#{!issuerModificationMgmtBean.indIssuerDepositaryContract || !issuerModificationMgmtBean.indIssuerSelectedModif}"
															pattern="#{msgs['dateFormat']}" maxlength="10"
															beforeShowDay="disableAllHolydays">
															<p:ajax event="dateSelect"
																update=":frmIssuerRegister:tabViewIssuer:msgCalEffectiveDate :frmIssuerRegister:tabViewIssuer:calEffectiveDate" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.CalendarValidator" />
															<f:param name="skipValidation" value="false" />
														</p:calendar>
														<p:message id="msgCalEffectiveDate" for="calEffectiveDate"
															display="icon" />
													</h:panelGrid></td>
											</tr>
										</table>
									</p:fieldset> <p:fieldset id="fieldSocialCapital"
										legend="#{msgs['issuer.lbl.socialcapital']}"
										toggleable="false">
										<table width="100%">
											<tr>
												<td width="12%"><h:outputText
														value="#{msgs['issuer.lbl.currency']}" /></td>
												<td width="17.5%"><p:selectOneMenu id="cboCurrency"
														style="width:200px"
														value="#{issuerModificationMgmtBean.issuer.currency}"
														disabled="flase">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
														<f:selectItems
															value="#{issuerModificationMgmtBean.lstCurrency}"
															var="item" itemLabel="#{item.parameterName}"
															itemValue="#{item.parameterTablePk}" />
														<p:ajax event="change"
															update="opnlLabelQuantity txtQuantity msgQuantity"
															listener="#{issuerModificationMgmtBean.changeSelectedCurrency}"></p:ajax>
													</p:selectOneMenu></td>
												<td width="13.5%"><p:outputPanel id="opnlLabelQuantity">
														<h:outputText value="#{msgs['issuer.lbl.quantity']}"
															rendered="#{issuerModificationMgmtBean.issuer.currency==null}" />
														<h:outputText value="#{msgs['issuer.lbl.quantity']}  (*)"
															styleClass="required-field"
															rendered="#{issuerModificationMgmtBean.issuer.currency!=null}" />
													</p:outputPanel></td>
												<td width="17.5%"><h:panelGrid columns="2">
														<p:inputText id="txtQuantity"
															label="#{msgs['issuer.lbl.quantity']}"
															maxlength="#{cons['issuer.socialcapital.length']}"
															styleClass="amount-inputfield cashAmount-inputField"
															value="#{issuerModificationMgmtBean.issuer.socialCapital}"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif or issuerModificationMgmtBean.issuer.currency==null}"
															onkeyup="validateSocialCapital(this);">
															<p:keyFilter mask="pnum" />
															<f:convertNumber
																pattern="#{cons['conv.number.pattern.cash.amount']}"
																locale="#{cons['conv.number.locale']}" />
															<p:ajax event="blur" update="msgQuantity txtQuantity" />
															<f:validator
																validatorId="com.pradera.commons.view.validators.InputTextValidator" />
															<f:param name="skipValidation" value="false" />
														</p:inputText>
														<p:message id="msgQuantity" for="txtQuantity"
															display="icon" />
													</h:panelGrid></td>
												<td width="12.5%"></td>
												<td width="18.5%"></td>
											</tr>
										</table>
									</p:fieldset> <p:fieldset id="fieldContactData"
										legend="#{msgs['issuer.lbl.contactdata']}" toggleable="false">
										<table width="100%">
											<tr>
												<td width="12.5%"><h:outputText
														value="#{msgs['issuer.lbl.phone']}" /></td>
												<td width="18.5%"><h:panelGrid columns="2">
														<p:inputText id="txtPhoneNumber"
															value="#{issuerModificationMgmtBean.issuer.phoneNumber}"
															maxlength="15" style="width:150px"
															disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
															<p:keyFilter regEx="#{cons['exp.regular.phone']}" />
															<p:ajax event="blur" process="@this" update="@this"
																listener="#{issuerMgmtBean.validatePhoneNumberFormat}" />
														</p:inputText>
														<p:message id="msgPhoneNumber" for="txtPhoneNumber"
															display="icon" />
													</h:panelGrid></td>
												<td width="12.5%"><h:outputText
														value="#{msgs['issuer.lbl.fax']}" /></td>
												<td width="18.5%"><p:inputText id="txtFaxNumber"
														value="#{issuerModificationMgmtBean.issuer.faxNumber}"
														maxlength="15" style="width:150px"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
														<p:keyFilter regEx="#{cons['exp.regular.phone']}" />
														<p:ajax event="blur" process="@this" update="@this"
															listener="#{issuerModificationMgmtBean.validateFaxNumberFormat}" />
													</p:inputText></td>
												<td width="12.5%"></td>
												<td width="18.5%"></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['issuer.lbl.webpage']}" /></td>
												<td colspan="5"><p:inputText
														styleClass="sensitive-inputField" style="width:90%;"
														id="txtWebPage"
														value="#{issuerModificationMgmtBean.issuer.website}"
														maxlength="150"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
														<p:ajax event="blur" process="@this" update="@this"
															listener="#{issuerModificationMgmtBean.validateWebPageFormat}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['issuer.lbl.email']}" /></td>
												<td colspan="5"><p:inputText
														styleClass="sensitive-inputField email-inputField"
														id="txtEmail" style="width:700px"
														value="#{issuerModificationMgmtBean.issuer.email}"
														maxlength="50"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
														<p:keyFilter mask="email" />
														<p:ajax event="blur" process="@this" update="@this"
															listener="#{issuerModificationMgmtBean.validateEmailFormat}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.contactname']}" /></td>
												<td colspan="5"><p:inputText id="txtContactName"
														style="width:700px;"
														value="#{issuerModificationMgmtBean.issuer.contactName}"
														maxlength="50"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
														<p:ajax event="blur" global="false" />
														<p:keyFilter regEx="#{cons['exp.regular.alphabetic']}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.contactphone']}" /></td>
												<td colspan="5"><p:inputText id="txtContactPhone"
														style="width:150px"
														value="#{issuerModificationMgmtBean.issuer.contactPhone}"
														maxlength="15"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}">
														<p:keyFilter regEx="#{cons['exp.regular.phone']}" />
														<p:ajax event="blur" process="@this" update="@this"
															listener="#{issuerModificationMgmtBean.validateContactPhoneNumberFormat}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.contactemail']}" /></td>
												<td colspan="5"><p:inputText
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}"
														styleClass="sensitive-inputField email-inputField"
														id="txtEmailCont" style="width:700px"
														value="#{issuerModificationMgmtBean.issuer.contactEmail}"
														maxlength="50">
														<p:keyFilter mask="email" />
														<p:ajax event="blur" process="@this" update="@this"
															listener="#{issuerModificationMgmtBean.validateContactEmailFormat}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td><h:outputText
														value="#{msgs['issuer.lbl.observations']}" /></td>
												<td colspan="5"><p:inputTextarea id="txtObservations"
														autoResize="false"
														disabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}"
														autoRelisize="false" style="width:90%;height:40px"
														value="#{issuerModificationMgmtBean.issuer.observation}"
														maxlength="100"
														styleClass="observation-address-inputField">
														<p:keyFilter
															regEx="#{cons['exp.regular.address.and.observations']}" />
														<p:ajax event="blur" global="false" />
													</p:inputTextarea></td>
											</tr>
										</table>
									</p:fieldset></td>
							</tr>

						</table>
					</p:outputPanel>
				</p:tab>

				<p:tab id="tabRepresentantRegister"
					title="#{msgs['issuer.lbl.representantregister']}">
					<p:outputPanel id="outputPanelGeneralRepresentative">
						<table width="100%">
							<tr>
								<td><p:outputPanel id="outputPanelRepresentativeButton">
										<arkr:representativeMgmt
											viewOperation="#{issuerModificationMgmtBean.viewOperationType}"
											idLegalRepresentativeComponent="frmIssuerRegister:tabViewIssuer:legalRepresentativeComp"
											indicatorIssuer="true"
											indicatorDisabled="#{!issuerModificationMgmtBean.indIssuerSelectedModif}"
											id="legalRepresentativeComp" />

									</p:outputPanel></td>
							</tr>
						</table>
					</p:outputPanel>
				</p:tab>

				<p:tab id="tabAttachments" title="#{msgs['issuer.lbl.attachments']}">

					<p:outputPanel id="outputPanelAttachIssuer">
						<table width="100%">
							<tr>
								<td><h:panelGrid columns="2" style="width:100%;">
										<h:outputText value="#{msgs['issuer.lbl.differentiated']}" />

										<p:selectBooleanCheckbox id="chkDifferentiated"
											value="#{issuerModificationMgmtBean.indIssuerDifferentiated}"
											disabled="#{not issuerModificationMgmtBean.indIssuerNational}">
											<p:ajax event="valueChange"
												listener="#{issuerModificationMgmtBean.checkIssuerDifferentiated}"
												update="outputPanelAttachIssuer :cnfDifferentiated" />
										</p:selectBooleanCheckbox>

										<h:outputText value="#{msgs['issuer.lbl.doctype']}" />

										<p:selectOneMenu style="width:550px"
											label="#{msgs['issuer.lbl.doctype']}"
											value="#{issuerModificationMgmtBean.attachIssuerFileSelected}"
											id="cmbAttachDocumentType">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems var="document"
												value="#{issuerModificationMgmtBean.lstIssuerAttachmentType}"
												itemLabel="#{document.parameterName}"
												itemValue="#{document.parameterTablePk}" />
											<p:ajax event="valueChange"
												update="@this outputPanelAttachIssuer"
												listener="#{issuerModificationMgmtBean.valueChangeCmbDocumentIssuer}" />
										</p:selectOneMenu>
									</h:panelGrid></td>
							</tr>
							<tr>
								<td><p:spacer height="10" /></td>
							</tr>
							<tr>
								<td><p:outputPanel styleClass="fileupload-customize"
										layout="block">
										<p:fileUpload id="fuplIssuerFile" mode="advanced" auto="true"
											widgetVar="fuplwIssuerFile"
											disabled="#{!issuerModificationMgmtBean.enableSelectIssuerFile}"
											label="#{gmsgs['fupl.label']}"
											allowTypes="/(\\.|\\/)(#{issuerModificationMgmtBean.fUploadFileDocumentsTypes})$/"
											sizeLimit="#{issuerModificationMgmtBean.fUploadFileDocumentsSize}"
											invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
											invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"
											fileUploadListener="#{issuerModificationMgmtBean.documentAttachIssuerFile}"
											update=":cnfMsgCustomValidationSec outputPanelFileIssuerTable outputPanelAttachIssuer" />

										<script type="text/javascript">
											$(document)
													.ready(
															function() {
																fileuploadValidate("fuplIssuerFile");	
															});
										</script>

										<p:graphicImage id="imgLimit" library="img"
											name="icons/help.png" styleClass="icon" />

										<p:tooltip for="imgLimit">
											<h:outputFormat value="#{gmsgs['fupl.limit.info']}"
												escape="false">
												<f:param
													value="#{issuerModificationMgmtBean.fUploadFileSizeDocumentsDisplay}" />
												<f:param
													value="#{issuerModificationMgmtBean.fUploadFileTypesDocumentsDisplay}" />
											</h:outputFormat>
										</p:tooltip>

										<h:outputLabel id="lblFuplIssuerFile"
											value="#{issuerModificationMgmtBean.issuerFileNameDisplay==null ? gmsgs['fupl.no.selected'] : issuerModificationMgmtBean.issuerFileNameDisplay}"
											styleClass="label" />
									</p:outputPanel></td>
							</tr>
							<tr>
								<td><p:outputPanel id="outputPanelFileIssuerTable">
										<p:dataTable id="dtbIssuerDocuments" var="issuerFile"
											rowIndexVar="regNum"
											rendered="#{not empty issuerModificationMgmtBean.lstIssuerFiles}"
											value="#{issuerModificationMgmtBean.lstIssuerFiles}">

											<p:column width="5px" styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['issuer.lbl.file.number']}" />
												</f:facet>
												<h:outputText value="#{regNum + 1}" />
											</p:column>
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['issuer.lbl.file.doctype']}" />
												</f:facet>
												<h:outputText value="#{issuerFile.description}" />
											</p:column>
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{msgs['issuer.lbl.file.docname']}" />
												</f:facet>
												<h:outputText value="#{issuerFile.filename}" />
											</p:column>

											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{gmsgs['btn.view']}" />
												</f:facet>
												<p:commandLink styleClass="icon" global="false" ajax="false"
													immediate="true" process="@this"
													onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
													<p:fileDownload
														value="#{issuerModificationMgmtBean.getStreamedContentFromFile(issuerFile.documentFile,null,issuerFile.filename)}" />
													<p:graphicImage id="imgView" library="img"
														name="icons/loupe.png" title="#{gmsgs['btn.view']}" />
												</p:commandLink>
											</p:column>

											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{gmsgs['btn.remove']}" />
												</f:facet>
												<p:commandLink process="@this"
													actionListener="#{issuerModificationMgmtBean.removeIssuerFile(issuerFile)}"
													update=":frmIssuerRegister:tabViewIssuer:outputPanelAttachIssuer">
													<p:graphicImage id="imgRemove" library="img"
														name="buttons/remove.png" title="#{gmsgs['btn.remove']}" />
												</p:commandLink>
											</p:column>
										</p:dataTable>
									</p:outputPanel></td>
							</tr>
						</table>
					</p:outputPanel>

				</p:tab>

			</p:tabView>

			<table width="100%">
				<tr>
					<td align="center"><p:outputPanel id="opnlButtons">
							<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save"
								process="@this :frmIssuerRegister:tabViewIssuer:opnlRegisterData"
								actionListener="#{issuerModificationMgmtBean.beginRegisterModificationRequest}"
								onclick="if(!isModifiedFormForSave('#frmIssuerRegister',true))return false;"
								update=":frmIssuerRegister:tabViewIssuer:opnlRegisterData :opnlDialogs, :cnfMsgCustomValidationSec, :opnlDlgRequiredVal"
								rendered="#{issuerModificationMgmtBean.indIssuerSelectedModif}"
								partialSubmit="true">
								<f:param name="skipValidation" value="true" />
							</p:commandButton>
							<p:commandButton id="cmbBack"
								onclick="if(isModifiedFormForBack(this,'frmIssuerRegister'))return false;"
								action="searchIssuerModificationMgmt"
								value="#{gmsgs['btn.back']}" icon="fa fa-undo" immediate="true"
								ajax="false" />
						</p:outputPanel></td>
				</tr>
			</table>

		</h:form>

		<p:outputPanel id="opnlDialogs">

			<p:confirmDialog id="cnfRegisterRequestIssuer"
				message="#{bodyMessageView}" rendered="false" visible="true"
				closable="false" header="#{headerMessageView}" severity="alert"
				widgetVar="cnfwIssuerRegisterRequest">
				<h:form id="frmConfirmParticipantRegister">
					<p:commandButton id="cmbYes" process="@this :opnlDialogs"
						value="#{msgs['btn.yes']}" update="@this :opnlDialogs"
						action="#{issuerModificationMgmtBean.saveRegisterModificationRequestListener}" />
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
						actionListener="#{issuerModificationMgmtBean.hideDialogsListener}"
						oncomplete="PF('cnfwIssuerRegisterRequest').hide();" />
				</h:form>
			</p:confirmDialog>

			<p:confirmDialog id="cnfEndTransactionParticipant"
				message="#{bodyMessageView}" rendered="false" visible="true"
				closable="false" header="#{headerMessageView}" severity="alert"
				widgetVar="cnfwEndTransactionParticipant">
				<h:form id="frmEndTransactionParticipant">
					<h:panelGrid width="100%" border="0" cellpadding="2"
						cellspacing="2" style="text-align:center;">

						<p:commandButton id="cmbConfirmTransactionOk"
							value="#{msgs['btn.accept']}"
							action="searchIssuerModificationMgmt" ajax="false">
						</p:commandButton>
					</h:panelGrid>
				</h:form>
			</p:confirmDialog>

			<p:confirmDialog id="cnfBackParticipantMgmt" closable="false"
				message="#{msgs['msg.back']}" severity="alert"
				widgetVar="cnfwBackParticipantMgmt">
				<h:form id="frmBackParticipant">
					<p:commandButton id="cmbSi" process="@this"
						value="#{msgs['btn.yes']}" ajax="false"
						action="searchIssuerModificationMgmt" />
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
						onclick="cnfwBackParticipantMgmt.hide()" type="button" />
				</h:form>
			</p:confirmDialog>



			<p:confirmDialog id="cnfBackAux" message="#{msgs['msg.back']}"
				header="#{msgs['lbl.header.alert.warning']}" closable="false"
				severity="alert" widgetVar="cnfwBack">
				<h:form id="frmRegresarAux">
					<p:commandButton id="cmbSi" value="#{msgs['lbl.yes']}" ajax="false"
						action="searchIssuerModificationMgmt" />
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" value="#{msgs['lbl.no']}"
						onclick="cnfwBack.hide()" type="button" />
				</h:form>
			</p:confirmDialog>


			<p:confirmDialog id="cnfDifferentiated" width="800"
				message="#{bodyMessageView}" header="#{headerMessageView}"
				closable="false" severity="alert" widgetVar="cnfwDifferentiated">

				<h:form id="formDifferentiated">
					<p:commandButton value="#{msgs['btn.yes']}"
						actionListener="#{issuerModificationMgmtBean.acceptIssuerDifferentiated}"
						update=":frmIssuerRegister:tabViewIssuer:outputPanelAttachIssuer :frmIssuerRegister:tabViewIssuer:outputPanelGeneralRepresentative">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}"
						actionListener="#{issuerModificationMgmtBean.rejectIssuerDifferentiated}"
						update=":frmIssuerRegister:tabViewIssuer:outputPanelAttachIssuer" />
				</h:form>

			</p:confirmDialog>

			<p:confirmDialog id="cnfEndTransactionIssuer" rendered="false"
				visible="true" widgetVar="cnfEndTransaction" severity="alert"
				closable="false">
				<f:facet name="header">
					<h:outputFormat value="#{headerMessageView}"
						rendered="#{headerMessageView != null}" />
				</f:facet>
				<f:facet name="message">
					<h:outputFormat value="#{bodyMessageView}"
						rendered="#{bodyMessageView != null}">
					</h:outputFormat>
				</f:facet>
				<h:form id="frmOk">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchIssuerModificationMgmt" ajax="false"
						immediate="true" process="@this" update="@form" />
				</h:form>
			</p:confirmDialog>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>