<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
     
		<p:dialog id="dlgIssuanceSearch"
				  widgetVar="dlgwIssuanceSearch"
				  header="#{msgs['issuane.lbl.title.search']}"
				  > 


			<h:form id="frmDlgIssuanceSearch">
					<table> 
						<tr> 
							<td> 
							<p:fieldset legend="#{msgs['lbl.criteria.search']}">
							<p:outputPanel id="opnlCriteriaSearch" autoUpdate="true">
							<table> 
								<tr> 
									<td width="150"> 
										<h:outputText value="#{msgs['issuer.lbl.code']}" />
									</td>
									<td width="210"> 
										<p:inputText id="txtIdIssuer" 
													 value="#{securityMgmtBean.security.issuer.idIssuerPk}" 
													 disabled="true"/>
									</td>
									<td width="50"> 
								
									</td>
									<td width="150"> 
										<h:outputText value="#{msgs['issuer.lbl.business.name']}" />
									</td>
									<td> 
										<p:inputText id="txtBusinessName"
													 value="#{securityMgmtBean.security.issuer.businessName}"
													 disabled="true"/>
									</td>
									<td> 
										
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuer.lbl.document.type']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboDocumentType"
														 value="#{securityMgmtBean.security.issuer.documentType}"
														  disabled="true"
														  styleClass="combo-widh-medium">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItem itemLabel="#{msgs['lbl.type.one']}" itemValue="1"/>
										</p:selectOneMenu>
									</td>
									<td> 
									
									</td>
									<td> 
										<h:outputText value="#{msgs['issuer.lbl.document.number']}" />
									</td>
									<td> 
										<p:inputText id="txtDocumentNumber"
													 value="#{securityMgmtBean.security.issuer.documentNumber}"
													 disabled="true"/>
									</td>
									<td> 
									
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.code']}" />
									</td>
									<td> 
										<p:inputText id="txtIdIssuanceCode" 
													value="#{securityMgmtBean.issuanceTOmgmt.idIssuanceCodePk}" 
													label="#{msgs['issuance.lbl.code']}"
													styleClass="text-inputfield"
													maxlength="#{cons['issuance.code.length']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>			
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtIdIssuanceCode" 
												   display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.description']}" />
									</td>
									<td> 
										<p:inputText id="txtIssuanceDescription" 
													 value="#{securityMgmtBean.issuanceTOmgmt.description}" 
													 label="#{securityMgmtBean.issuanceTOmgmt.description}"
													 styleClass="large-input-text-width" 
												 	 maxlength="#{cons['issuance.description.length']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>	 	 
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtIssuanceDescription"
												   display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.instrument.type']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboInstrumentType"
														 value="#{securityMgmtBean.issuanceTOmgmt.instrumentType}"
														 label="#{msgs['issuance.lbl.instrument.type']}"
														 styleClass="combo-widh-medium">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboInstrumentType}"
														   var="insType"
														   itemValue="#{insType.parameterTablePk}" itemLabel="#{insType.parameterName}"/>
											<p:ajax listener="#{securityMgmtBean.loadCboSecuritieTypeByInstrumentHandler}"
													process="@this"
													update="cboSecurityType,cboSecurityClass"/>				   
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboInstrumentType"
													display="icon"/>	
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.security.type']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboSecurityType"
														 value="#{securityMgmtBean.issuanceTOmgmt.securityType}" 
														 label="#{msgs['issuance.lbl.security.type']}"
														 styleClass="combo-widh-medium">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboSecuritieType}"
														   var="secType"
														   itemValue="#{secType.parameterTablePk}" itemLabel="#{secType.parameterName}"/>
											<p:ajax listener="#{securityMgmtBean.loadCboSecuritieClassBySecuritieTypeHandler}"
													update="cboSecurityClass"
													process="@this"/>
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboSecurityType"
													display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.security.class']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboSecurityClass"
														 value="#{securityMgmtBean.issuanceTOmgmt.securityClass}"
														 label="#{msgs['issuance.lbl.security.class']}"
														 styleClass="combo-widh-medium"> 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/> 
											<f:selectItems value="#{securityMgmtBean.lstCboSecuritieClass}"
														   var="secClass"
														   itemValue="#{secClass.parameterTablePk}" itemLabel="#{secClass.parameterName}"/>
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboSecurityClass"
													display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.state']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboIssuanceState"
														 value="#{securityMgmtBean.issuanceTOmgmt.issuanceState}"
														 label="#{msgs['issuance.lbl.state']}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboIssuanceState}"
														   var="issuState"
														   itemValue="#{issuState.parameterTablePk}" itemLabel="#{issuState.parameterName}"/>
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboIssuanceState"
													display="icon"/>
									</td>
								</tr>
								<tr> 
									<td colspan="6" align="center"> 
										<p:commandButton id="cmbSearch"
														 value="#{msgs['btn.search']}"
														 actionListener="#{securityMgmtBean.searchIssuanceHandler}"
														 process="@this opnlCriteriaSearch"
														 icon="fa fa-search" 
														 update="opnlIssuanceResult"/>
														 &nbsp;
												 
										<p:commandButton id="cmbClean"
														 value="#{msgs['btn.clean']}" 
														 icon="fa fa-trash"/>
														 &nbsp;
														 
										<p:commandButton id="cmbCancel"
														 value="#{msgs['btn.cancel']}"
														 icon="ui-cancel"
														 type="button"
														 onclick="dlgwIssuanceSearch.hide()"/>				 
										<p:messages autoUpdate="true" globalOnly="true"/>
														 
									</td>
								</tr>
							</table>
							</p:outputPanel>
							</p:fieldset>
							</td>
						</tr>
						<tr> 
							<td> 
								<p:outputPanel id="opnlIssuanceResult">
								<p:panel id="pnlIssuanceResult" rendered="#{securityMgmtBean.issuanceDataModel != null}"> 
								
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
													rendered="#{securityMgmtBean.issuanceDataModel.rowCount==0}"
													style="font-weight:bold;"/>
								
									<p:dataTable id="dtbIssuance"
												 value="#{securityMgmtBean.issuanceDataModel}"
												 var="issuance"
												 paginator="true" rows="10"  paginatorPosition="top"
												 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
							                	 paginatorTemplate="#{msgs['dtb.paginator.template']}" 
												 rowsPerPageTemplate="5,10,15"
								                 rowIndexVar="rIndx" 
								                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" 
								                 emptyMessage="#{msgs['lbl.search.no.result']}"
								                 rendered="#{securityMgmtBean.issuanceDataModel.rowCount > 0}"
												 > 
												 
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.code']}" />
											</f:facet>
											<p:commandLink id="cmbIssuanceDetail"
														   value="#{issuance.idIssuanceCodePk}" 
														   actionListener="#{securityMgmtBean.selectIssuanceHandler}"
														   process="@this"
														   update=":frmSecurityMgmt:tviewGeneral"
														   oncomplete="dlgwIssuanceSearch.hide()"
														   >		
												<f:attribute name="issuanceSelected" value="#{issuance}"/>							
											</p:commandLink>
										</p:column>
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.instrument.type']}" />
											</f:facet>				
											<h:outputText value="#{issuance.instrumentTypeDescription}" />
										</p:column>
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.security.type']}" />
											</f:facet>
											<h:outputText value="#{issuance.securityTypeDescription}" />
										</p:column>
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.security.class']}" />
											</f:facet>
											<h:outputText value="#{issuance.securityClassDescription}" />
										</p:column>
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.code']}" />
											</f:facet>
											<h:outputText value="#{issuance.idIssuanceCodePk}" />
										</p:column>		
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.description']}" />
											</f:facet>
											<h:outputText value="#{issuance.description}" />
										</p:column>
										
										<p:column styleClass="content-left"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.col.state']}" />
											</f:facet>
											<h:outputText value="#{issuance.stateDescription}" />
										</p:column>
										
								        <f:facet name="footer">  
								            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
								            	<f:param value="#{securityMgmtBean.issuanceDataModel.rowCount}"/>
								            </h:outputFormat>
								        </f:facet> 
										
									</p:dataTable>
								</p:panel>
								</p:outputPanel>
							</td>
						</tr>
					</table>
				</h:form>
			
		</p:dialog>			

	            
</ui:composition>