<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="frmHeader">
		<div id="header">
			<div class="topbar-left">
				<ul>
					<li>
						<h:outputLink value="#"	id="linkOpciones" styleClass="link-process link-options" ></h:outputLink>
						<p:menu overlay="true" trigger="linkOpciones" my="left bottom" at="left top" styleClass="topbar-submenu">  
					        <p:menuitem value="#{msgs['login.session.lbl.close.system']}" actionListener="#{loginBean.beginCloseSystemListener}" update=":opnlGenericDialogs" rendered="#{not empty userInfo.currentSystem}"/>				        
				            <p:menuitem value="#{msgs['login.session.lbl.close.session']}" actionListener="#{loginBean.beginCloseSessionListener}" update=":opnlGenericDialogs" />
				            <p:separator></p:separator>  
				            <p:menuitem value="#{msgs['change.pwd']}" id="idCmdLinkPwdDialogue" onclick="PF('pwdDialog').show();" />
				            <p:separator></p:separator>  
							<p:menuitem value="#{msgs['lbl.footer.CentrodeInformacon']}" />
					    </p:menu>
					</li>
					<li id="idLiReports">
						<p:commandLink styleClass="link-process link-reports"
							process="@this" update="@this" actionListener="#{loginBean.updateReportNotification}" global="false"
            				oncomplete="generateFrame('#{loginBean.urlmonitoringReports}')" id="idCmdLinkReports"/>
					</li>					
					<li id="idLiProcess">
						<p:commandLink id="linkProcess" styleClass="link-process link-process-icon" 
						process="@this" oncomplete="PF('menuProcessWidget').show();" global="false" update="@this menuProcess opnlLinkProcess" 
						actionListener="#{loginBean.updateProcessNotification}"/>
						<p:menu model="#{loginBean.notificationBean.menuProcess}"
							id="menuProcess" overlay="true" trigger="linkProcess"
							widgetVar="menuProcessWidget" 
							my="left bottom" at="left top" styleClass="topbar-submenu" />
						<p:outputPanel  id="opnlLinkProcess">
							<p:outputPanel styleClass="link-process-counter" rendered="#{loginBean.notificationBean.menuProcessTitle != '0' }">
								#{loginBean.notificationBean.menuProcessTitle}							
							</p:outputPanel>
						</p:outputPanel>
					</li>
					<li>
						<p:commandLink id="linkMessages" styleClass="link-process link-messages"
						process="@this" oncomplete="PF('menuMessagesWidget').show();"
						actionListener="#{loginBean.updateMessagesNotification}" update="@this menuMessages opnlLinkMessages" global="false" />
						<p:menu model="#{loginBean.notificationBean.menuMessages}"
							id="menuMessages" overlay="true" trigger="linkMessages"
							my="left bottom" at="left top" styleClass="topbar-submenu" 
							widgetVar="menuMessagesWidget" />
						<p:outputPanel id="opnlLinkMessages">
							<p:outputPanel styleClass="link-process-counter" rendered="#{loginBean.notificationBean.menuMessageTitle != '0' }">
								#{loginBean.notificationBean.menuMessageTitle}
							</p:outputPanel>						
						</p:outputPanel>						
					</li>	
					<li id="idLiUserName">
						<h:outputText value="#{msgs['login.session.lbl.user']} " />
						<h:outputText value="#{userInfo.userAccountSession.userName}" styleClass="label-bolder" id="idOtxtLoginUserName"/>
					</li>
					<li id="idLiInstitutionType">
						<h:outputText value="#{msgs['login.session.lbl.institution.type']} "/>
						<h:outputText value="#{userInfo.userAccountSession.descInstitutionType}" styleClass="label-bolder" id="idOtxtUserInstitutionType"/>
					</li>
					<li id="idLiInstitution">
						<h:outputText value="#{msgs['login.session.lbl.institution']} "/>
						<h:outputText value="#{userInfo.userAccountSession.userInstitutionName}" styleClass="label-bolder" id="idOtxtUserInstitutionName"/>
					</li>
					
					
				</ul>
			</div>
			<div class="topbar-right">
				<ul>			
					<li>
						<select>
							<option></option>
						</select>
					</li>								
				</ul>		
			</div>
		</div>
	</h:form>

	<p:dialog widgetVar="pwdDialog" id="dialogChangePwd" modal="true" appendToBody="true" resizable="false"
		header="#{msgs['change.pwd']}"  closable="false" draggable="false">
		<h:form id="frmcngpwd" prependId="false">			
			<table>
				<tr>
					<td><h:outputText value="#{msgs['user.lbl.user']}   : "  id="idOtxtUserNameLbl" /></td>
					<td><h:outputText
							value="#{userInfo.userAccountSession.userName}"  id="idOtxtUserName"/></td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['OldPassword.message']} (*): "  id="idOtxtOldPwdMsg" styleClass="required-field"/></td>
					<td><p:password id="oldpwd" value="#{changePasswordBean.oldPassword}" label="#{msgs['OldPassword.message']}"
									 requiredmessage="#{msgs['pwd.null']}" maxlength="20"
									 required="true" /></td>
					<td>
						<p:message for="oldpwd" display="icon" id="msgOldPwd"></p:message>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['NewPassword.message']} (*): "  id="idOtxtNewPwdMsg" styleClass="required-field"/></td>
					<td><p:password id="pwd1" maxlength="20"
							value="#{changePasswordBean.newPassword}" match="pwd2" validatorMessage="#{msgs['pwd.notmatch.confirm']}" requiredmessage="#{msgs['pwd.null']}"
							label="#{msgs['NewPassword.message']}" required="true"/></td>
					<td>
						<p:message for="pwd1" display="icon" id="msgPwd1"></p:message>
					</td>
				</tr>
				<tr>
					<td><h:outputText value="#{msgs['ConfirmPassword.message']} (*): "  id="idOtxtCnfPwdMsg" styleClass="required-field"/></td>
					<td><p:password id="pwd2" maxlength="20"
							value="#{changePasswordBean.newPassword}" requiredmessage="#{msgs['pwd.null']}"
							label="#{msgs['ConfirmPassword.message']}" required="true">
						</p:password></td>
					<td>
						<p:message for="pwd2" display="icon" id="msgPwd2"></p:message>
					</td>
				</tr>
				<tr>
					<td colspan="3" align="center">
						<p:commandButton value="#{gmsgs['btn.accept']}" id="idCmdBtnCnfPwdAccept"
						 actionListener="#{changePasswordBean.cnfChangePwd}" update="@form,:opnlGenericDialogs"	/>
						<p:commandButton value="#{msgs['btn.cancel']}" actionListener="#{changePasswordBean.clean}"  id="idCmdBtnCnfPwdCancel"
					    update="frmcngpwd" immediate="true" oncomplete="PF('pwdDialog').hide();" />
				    </td>
				</tr>
			</table>
		</h:form>
	</p:dialog>
	<p:dialog widgetVar="showpwdDialog" id="dialogshowPwd" 
				header="" modal="true" appendToBody="true" draggable="false" resizable="false"
				 closable="false">
				 <h:form prependId="false" id="idFrmPwdDialog">
				<p:outputPanel id="showpwd">
					<table>
						<tr>
							<td>
								<h:outputText value="#{msgs['pwd.change.success']}"  id="idOtxtPwdChangeSuccess"/>
							</td>
						</tr>
						<tr>
							<td align="center">
								<p:commandButton value="#{msgs['btn.lable.ok']}" id="idCmdBtnPwdChangeOk"
								onclick="PF('showpwdDialog').hide();" update=":frmcngpwd"/>
							</td>
						</tr>
					</table>
				</p:outputPanel>
				</h:form>
			</p:dialog>
	<p:dialog widgetVar="cnfwcngpassword" id="idcnfcngpassword" modal="true" appendToBody="true" header="#{msgs['login.lbl.cnf.changepwd']}"  closable="false" resizable="false" draggable="false" severity="alert">
			<h:form prependId="false" id="idFrmChangePwdDialog">
	        		<table>
	        		<tr>
	        			<td>
	        				<h:outputText value="#{msgs['login.cnf.changepwd']} #{userInfo.userAccountSession.userName} ?" />
        				</td>
       				</tr>
	        		<tr>
	        			<td align="center">
							<p:commandButton id="cmbConfirmcngpassword" update=":opnlGenericDialogs,:frmcngpwd,:frmcngpwd:msgOldPwd"
        				 	value="#{gmsgs['btn.yes']}" action="#{changePasswordBean.changePwd}"  />
							<p:commandButton value="#{gmsgs['btn.no']}" actionListener="#{changePasswordBean.clean}" update=":frmcngpwd"
	        				oncomplete="PF('cnfwcngpassword').hide();"/>
	        			</td>
        			</tr>
        			</table>
			</h:form>
			</p:dialog>
</ui:composition>