<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<div id="topbar-layout">
		<ui:include src="/template/includes/header.xhtml" />
	</div>
		<ui:include src="/template/includes/menu.xhtml" />
		<h:graphicImage library="img" name="logo/logo_footer.jpg" styleClass="logo-footer" alt="CAVAPY" 
				rendered="#{errorManagementBean.isUatOrProd}"/>
		<h:graphicImage library="img" name="logo/login_pradera.png"  styleClass="logo-footer" alt="PRADERA" 
				rendered="#{!errorManagementBean.isUatOrProd}"/>
</ui:composition>