
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css">
	.amount-inputfield{
		text-align: right !important;
	}
	
	</style>
	
	
<h:outputText value="#{msgs['opt.security.mgmt.title.detail']}" styleClass="title-page" />
<br/>

	<h:form id="frmSecurityMgmt"> 
		<table width="100%"> 
			<tr> 
				<td>
				<p:tabView id="tviewGeneral"> 
					<p:tab id="tabGeneralData" title="#{msgs['security.lbl.title.principal.data']}" > 
						<table width="100%">
							<tr>
								<td> 
						<p:fieldset id="fldPincipalData" 
									legend="#{msgs['security.lbl.title.principal.data']}"
									toggleable="true">
						<table width="100%">
							<tr> 
								<td width="170"> 
									<h:outputText value="#{msgs['security.lbl.isin.code']}" />
								</td>
								<td width="240"> 
									<p:inputText id="txtISINCode"
												 label="#{msgs['security.lbl.isin.code']}"
												 value="#{securityMgmtBean.security.idIsinCodePk}"
												 disabled="true"
												 />
									<h:inputHidden id="thdnIsinCode" 
												   value="#{securityMgmtBean.security.idIsinCodePk}"
												   label="#{msgs['security.lbl.isin.code']}"/>
								</td>
								<td width="50"> 
									<p:message for="thdnIsinCode"/>
								</td>
								<td width="170"> 
									<h:outputText value="#{msgs['security.lbl.cfi.code']}" />
								</td>
								<td width="240"> 
									<p:inputText id="txtCFICode"
												 value="#{securityMgmtBean.security.cfiCode}"
												 label="#{msgs['security.lbl.cfi.code']}"
												 disabled="true"/>
									<h:inputHidden id="hTxtCfiCode" 
												   value="#{securityMgmtBean.security.cfiCode}"
												   label="#{msgs['security.lbl.cfi.code']}"
												   required="true"/>			 
								</td>
								<td width="50">
									<p:message for="hTxtCfiCode"
											   display="icon"/>
								</td>
								<td> 
				
								</td>
							</tr>
							<tr> 
								<td> 
									<h:outputText value="#{msgs['security.lbl.alternate.code']}" />
								</td>
								<td > 
									<p:inputText id="txtAlternateCode"
												 value="#{securityMgmtBean.security.alternativeCode}"
												 label="#{msgs['security.lbl.alternate.code']}"
												 disabled="true"
												 style="width:320px;"/>
								</td>
								<td colspan="5"> 
									<p:message for="txtAlternateCode"/>
								</td>
							</tr>
						</table>
						</p:fieldset>	
								</td>
							</tr>
							<tr> 
								<td> 
						<p:fieldset id="fldIssuanceData" 
									legend="#{msgs['security.lbl.title.issuance.data']}"
									toggleable="true"> 
							<p:outputPanel id="opnlIssuanceData">
							<table width="100%"> 
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.issuer']}"/>
									</td>
									<td colspan="5"> 

										<h:outputText id="otxIssuer" 
													  value="#{securityMgmtBean.security.issuer.idIssuerPk}" 
													  />	
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.issuance']}"/>
									</td>
									<td> 
										<h:outputText id="otxIssuance" 
													  value="#{securityMgmtBean.security.issuance.idIssuanceCodePk}"/>
									</td>
									<td> 
						
									</td>
									<td colspan="3"> 
										<h:outputText id="txtIssuanceDescription" 
													  value="#{securityMgmtBean.issuanceTOmgmt.description}"
													  rendered="#{securityMgmtBean.viewOperationRegister}"
													   />
									</td>
								</tr>
								<tr> 
									<td width="170"> 
										<h:outputText value="#{msgs['lbl.country']}" />	
									</td>
									<td width="240"> 
										<p:selectOneMenu id="cboCountry"
														 style="width:300px"
														 value="#{securityMgmtBean.security.issuance.geographicLocation.idGeographicLocationPk}"
														 disabled="true"
														 > 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboGeographicLocation}"
														   var="ctry"
														   itemLabel="#{ctry.name}" itemValue="#{ctry.idGeographicLocationPk}"/>
										</p:selectOneMenu>
									</td>
									<td width="50"> 
										<p:message for="cboCountry"
													display="icon"/>
									</td>
									<td width="170">  
										<h:outputText value="#{msgs['lbl.currency']}" />
									</td>
									<td width="240"> 
										<p:selectOneMenu id="cboCurrency"
														 style="width:300px"
														 value="#{securityMgmtBean.security.issuance.currency}"
														 disabled="true"> 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>			 
											<f:selectItems value="#{securityMgmtBean.lstCboCurrency}" 
														   var="prm"
														   itemValue="#{prm.parameterTablePk}" itemLabel="#{prm.parameterName}"/>
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboCurrency"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.instrument.type']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboInstrumentType"
														 value="#{securityMgmtBean.security.issuance.instrumentType}"
														 style="width:300px"
														 disabled="true">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboInstrumentType}"
														   var="prm" 
														   itemLabel="#{prm.parameterName}" itemValue="#{prm.parameterTablePk}"/>
										</p:selectOneMenu> 
									</td>
									<td> 
										<p:message for="cboInstrumentType"
													display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.issuance.type']}" />
									</td>
									<td>
										<p:selectOneMenu id="cboIssuanceType"
														 style="width:300px"
														 value="#{securityMgmtBean.security.issuance.issuanceType}"
														 disabled="true"> 
											<f:selectItem itemValue="" itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboIssuanceType}"
														  var="sec"
														  itemValue="#{sec.parameterTablePk}" itemLabel="#{sec.parameterName}" 
														  />
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboIssuanceType"
													display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.security.type']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboSecurityType"
														 style="width:300px"
														 disabled="true">
											<f:selectItem itemValue=""
														  itemLabel="#{securityMgmtBean.security.issuance.securityType==null ? msgs['cbo.opt.select'] : securityMgmtBean.security.issuance.securityTypeDescription}" />       
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboSecurityType"
													display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.security.class']}" />
									</td>
									<td> 
										<p:selectOneMenu id="cboSecurityClass"
														 style="width:300px"
														 value="#{securityMgmtBean.security.securityClass}"
														 disabled="true" 
														 > 
											<f:selectItem itemValue=""
														  itemLabel="#{securityMgmtBean.security.issuance.securityClass==null ? msgs['cbo.opt.select'] : securityMgmtBean.security.issuance.securityClassDescription}" /> 
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboSecurityClass"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.ratings']}" 
													 />
									</td>
									<td>
										<p:selectOneMenu id="cboRating"
														 value="#{securityMgmtBean.security.issuance.creditRatingScales}"
														 disabled="true"
														 style="width:300px"
														 label="#{msgs['issuance.lbl.ratings']}"> 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems
															value="#{securityMgmtBean.lstCboCreditRatingScales}"
															var="secType" itemValue="#{secType.parameterTablePk}"
															itemLabel="#{secType.parameterName}" />
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboRating"
												   display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.register.date']}"/>
									</td>
									<td> 
										<p:calendar id="calRegisterDate"
													value="#{securityMgmtBean.security.issuance.registryDate}"
													size="10" 
													showOn="both"  
													disabled="true"
													showButtonPanel="true"
													readonlyInput="true"
													pattern="#{msgs['dateFormat']}"
													/>
									</td>
									<td> 
										<p:message for="calRegisterDate"
													display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.issuance.date']}"/>
									</td>
									<td> 
										<p:calendar id="calIssuanceDate"
													value="#{securityMgmtBean.security.issuance.issuanceDate}"
													size="10"
													showOn="both"
													disabled="true"
													showButtonPanel="true"
													readonlyInput="true"
													pattern="#{msgs['dateFormat']}"/>	
									</td>
									<td> 
										<p:message for="calIssuanceDate"
													display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.expiration.date']}" />
									</td>
									<td> 
										<p:calendar id="calExpirationDate"
													value="#{securityMgmtBean.security.issuance.expirationDate}"
													size="10"
													showOn="both"
													disabled="true"
													showButtonPanel="true"
													readonlyInput="true"
													pattern="#{msgs['dateFormat']}"/>
									</td>
									<td> 
										<p:message for="calExpirationDate"
													display="icon"/>	
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.issuance.origin']}" />
									</td>
									<td> 
										<p:inputText id="txtIssuanceOrigin"
													 value="#{securityMgmtBean.security.securitySourceDescription}"
													 label="#{msgs['security.lbl.issuance.origin']}"
													 disabled="true"
													 />
									</td>
									<td> 
										<p:message for="txtIssuanceOrigin"
												   display="true"/>
									</td>
									<td valign="top"> 
										<h:outputText value="#{msgs['security.lbl.economic.activity']}" />
									</td>
									<td valign="top"> 
										<p:selectOneMenu id="cboEconomicActivity"
														 value="#{securityMgmtBean.security.economicActivity}"
														 label="#{msgs['security.lbl.economic.activity']}"
														 disabled="true"
														 style="width:300px"> 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboEconomicActivity}"
														   var="ecoAct" 
														   itemValue="#{ecoAct.parameterTablePk}" itemLabel="#{ecoAct.parameterName}" />
										</p:selectOneMenu>			 
									</td>
									<td valign="top"> 
										<p:message for="cboEconomicActivity"
												   display="icon"/>
									</td>
								</tr>
							</table>
							</p:outputPanel>
						</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
						<p:fieldset id="fldSecurityData" 
									legend="#{msgs['security.lbl.title.security.data']}"
									toggleable="true">
							<table width="100%"> 
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.description']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td colspan="4"> 
										<p:inputText id="txtDescription"
													 styleClass="large-input-text-width"
													 value="#{securityMgmtBean.security.description}"
													 required="true"
													 maxlength="#{cons['security.description.length']}"
													 label="#{msgs['security.lbl.description']}"
													 disabled="true">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>			 
										</p:inputText>
									</td>
									<td colspan="1"> 
									
									</td>
								</tr>
								<tr> 
									<td width="170"> 
										<h:outputText value="#{msgs['security.lbl.mnemonic']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td width="240">
										<p:inputText id="txtMnemonic"
													 value="#{securityMgmtBean.security.mnemonic}"
													 required="true"
													 maxlength="#{cons['security.mnemonic.length']}"
													 label="#{msgs['security.lbl.mnemonic']}"
													 disabled="true"
													 >
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>			 
										</p:inputText>
									</td>
									<td width="50"> 
										<p:message for="txtMnemonic"
												   display="icon"/>
									</td>
									<td width="170"> 
										<h:outputText value="#{msgs['security.lbl.security.serie']} (*)"
													  styleClass="required-field"/>
									</td>
									<td width="240"> 
										<p:inputText id="txtSecuritySerial"
													 value="#{securityMgmtBean.security.securitySerial}"
													 required="tru"
													 label="#{msgs['security.lbl.security.serie']}"
													 maxlength="#{cons['security.serial.length']}"
													 disabled="true">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>			 
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtSecuritySerial"
												   display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.initial.nominal.value']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td> 
										<p:inputText id="txtInitialNominalValue" 
														value="#{securityMgmtBean.security.initialNominalValue}"
														required="true"
														styleClass="amount-inputfield nominalAmount-inputField"
														label="#{msgs['security.lbl.initial.nominal.value']}"
														maxlength="#{cons['nominal.amount.length']}"
														disabled="true">
											<p:ajax event="blur"
													listener="#{securityMgmtBean.insertInitialNominalValueHandler}"
													process="@this,txtCurrentNominalValue"
													update="txtCurrentNominalValue">
											</p:ajax>
											<p:keyFilter mask="pnum"/>	
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
															 locale="#{cons['conv.number.locale']}"/>					
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtInitialNominalValue"
												    display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.current.nominal.value']}" />
									</td>
									<td> 
										<p:inputText id="txtCurrentNominalValue"
													 value="#{securityMgmtBean.security.currentNominalValue}"
													 styleClass="amount-inputfield nominalAmount-inputField"
													 label="#{msgs['security.lbl.current.nominal.value']}"
													 disabled="true"
													 maxlength="#{cons['nominal.amount.length']}"
													 >
											<p:keyFilter mask="pnum"/>	
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
															 locale="#{cons['conv.number.locale']}"/>					 
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtCurrentNominalValue"
												   display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.minimum.inversion']}"/>
									</td>
									<td> 
										<p:inputText id="txtMiniumInversion"
													 value="#{securityMgmtBean.security.minimumInvesment}"
													 label="#{msgs['security.lbl.minimum.inversion']}"
													 styleClass="amount-inputfield nominalAmount-inputField"
													 maxlength="#{cons['nominal.amount.length']}"
													 disabled="true">
											<p:keyFilter mask="pnum"/>	
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
															 locale="#{cons['conv.number.locale']}"/>	
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtMiniumInversion"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.maximum.inversion']}" />
									</td>
									<td> 
										<p:inputText id="txtMaximumInversion"
													 value="#{securityMgmtBean.security.maximumInvesment}"
													 label="#{msgs['security.lbl.maximum.inversion']}"
													 styleClass="amount-inputfield nominalAmount-inputField"
													 maxlength="#{cons['nominal.amount.length']}"
													 disabled="true">
											<p:keyFilter mask="pnum"/>
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
															 locale="#{cons['conv.number.locale']}"/>		 
										</p:inputText>
									</td>
									<td> 
										<p:message for="txtMaximumInversion"
												   display="icon"/>
									</td>
								</tr>
								<tr>
										<td> 
											<h:outputText value="#{msgs['security.lbl.issuance.date']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:calendar id="calIssuaneDate"
														value="#{securityMgmtBean.security.issuanceDate}"
														required="true"
														disabled="#{securityMgmtBean.fixedInstrumentType}" 
														showOn="button"
														navigator="true"
														showButtonPanel="true" 
														size="10"
														label="#{msgs['security.lbl.issuance.date']}"
														mindate="#{securityMgmtBean.security.issuance.issuanceDate}"
														pattern="#{msgs['dateFormat']}">
												<f:validator validatorId="calendarLessThanValidator"/>	
												<f:attribute name="compareValue" value="#{securityMgmtBean.security.issuance.issuanceDate}"/>
												<f:attribute name="compareLabel" value="#{msgs['issuance.lbl.issuance.date'] }"/>		
											</p:calendar>
										</td>
										<td align="left"> 
											<p:message for="calIssuaneDate"
														display="icon"/>
										</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.inscription.date']}" 
													  styleClass="required-field"/> 
									</td>
									
									<td> 
										<p:calendar id="calInscriptionDate"
													value="#{securityMgmtBean.security.registryDate}"
													required="true"
													size="10"
													label="#{msgs['security.lbl.inscription.date']}"
													maxdate="#{securityMgmtBean.security.issuanceDate}"
													navigator="true"
													showButtonPanel="true" 
													showOn="button"
													disabled="true"
													pattern="#{msgs['dateFormat']}"
													>
											<f:validator validatorId="calendarGreaterThanValidator"/>
											<f:attribute name="compareValue" value="#{securityMgmtBean.security.issuance.issuanceDate}"/>
											<f:attribute name="compareLabel" value="#{msgs['issuance.lbl.issuance.date']}"/>
											<p:ajax event="dateSelect"
													process="@this"
													update=":cnfMsgCustomValidation,msgInscriptionDate,calInscriptionDate"/>
										</p:calendar>
									</td>
									<td> 
										<p:message id="msgInscriptionDate" 
												   for="calInscriptionDate"
												   display="icon"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
								<p:fieldset id="fldInversionistType" 
											legend="#{msgs['security.lbl.investor.type']}"
											toggleable="true"> 
									<table> 
										<tr> 
											<td width="170"> 
												<h:outputText  value="#{msgs['lbl.person.type']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td width="240"> 
												<p:selectBooleanCheckbox id="chkJuridicalInvestor" 
																		 itemLabel="#{msgs['security.lbl.investor.type.juridical']}"
																		 value="#{securityMgmtBean.security.securityInvestor.boolIndJuridical}"
																		 disabled="true"
																		 >
													<p:ajax global="false"
															partialSubmit="true"/>						 
												</p:selectBooleanCheckbox>
																		 
												<p:selectBooleanCheckbox id="chkNaturalInvestor"
																		 itemLabel="#{msgs['security.lbl.investor.type.natural']}"
																		 value="#{securityMgmtBean.security.securityInvestor.boolIndNatural}"
																		 disabled="true">
													<p:ajax global="false"
															partialSubmit="true"/>	
												</p:selectBooleanCheckbox>
																		 
												<h:inputText id="txtAuxVldtInvestorType"
															 value="none" 
															 label="#{msgs['lbl.person.type']}"
															 validator="#{securityMgmtBean.validateInvestorType}"
															 style="display:none;"/>						 
											</td>
											<td width="50"> 
												<p:message  id="msgChkInvestorType"
															for="txtAuxVldtInvestorType"
															display="icon"/>
											</td>
											<td width="200"> 
												<h:outputText value="#{msgs['lbl.investor.origin']} (*)"  
															  styleClass="required-field"/>
											</td>
											<td width="200"> 
												<p:selectBooleanCheckbox id="chkOriginLocal" 
																		 itemLabel="#{msgs['security.lbl.investor.origin.local']}"
																		 value="#{securityMgmtBean.security.securityInvestor.boolIndLocal}"
																		 disabled="true">
													<p:ajax global="false"
															partialSubmit="true"/>	
												</p:selectBooleanCheckbox>
																		 
												<p:selectBooleanCheckbox id="chkOriginForeign"
																		 itemLabel="#{msgs['security.lbl.investor.origin.foreign']}"
																		 value="#{securityMgmtBean.security.securityInvestor.boolIndForeign}"
																		 disabled="true">
													<p:ajax global="false"
															partialSubmit="true"/>	
												</p:selectBooleanCheckbox>
																		 
												<h:inputText id="txtAuxVldtInvestorOrigin"
															 value="none"
															 label="#{msgs['lbl.investor.origin']}" 
															 validator="#{securityMgmtBean.validateInvestorOrigin}"
															 style="display:none;"/>
											</td>
											<td width="50"> 
												<p:message id="msgChkInvestorOrigin"
														   for="txtAuxVldtInvestorOrigin"
														   display="icon"/>
													
											</td>
										</tr>
									</table>
								</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
								<p:fieldset id="fldCouponInfo" 
											legend="#{msgs['security.lbl.title.coupon.data']}"
											toggleable="true">
								<table width="100%"> 
								<tr> 
									<td width="170"> 
										<h:outputText value="#{msgs['security.lbl.allow.split.coupon']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td width="240"> 
									 	<p:selectOneMenu id="cboAllowSplitCoupon"
									 					 value="#{securityMgmtBean.security.indSplitCoupon}"
									 					 styleClass="combo-widh-medium"
									 					 label="#{msgs['security.lbl.allow.split.coupon']}"
									 					 disabled="true"
									 					 > 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
											<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
														   var="bool"
														   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
											<f:validator validatorId="selectOneRequiredValidator" 
														 disabled="#{empty param['frmSecurityMgmt:cmbSave']}"/>
											<p:ajax event="change"
													listener="#{securityMgmtBean.chanceCboAllowSplitCouponHandler}"
													update="@(.clsCboAllowSplitCouponUpd)"
													process="@this"/>			   
										</p:selectOneMenu>
									</td>
									<td width="50"> 
										<p:outputPanel styleClass="clsCboAllowSplitCouponUpd">
											<p:message for="cboAllowSplitCoupon"
													   display="icon"/>
										</p:outputPanel>		   
									</td>
									<td width="170"> 
										<h:outputLabel value="#{msgs['security.lbl.detached']} (*)" 
													  styleClass="required-field"
													  />
									</td>
									<td width="240"> 
										<p:selectOneMenu id="cboIsDetached"
														 value="#{securityMgmtBean.security.indIsDetached}"
														 styleClass="combo-widh-medium" 
														 label="#{msgs['security.lbl.detached']}"
														 disabled="true"
														 > 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
														   var="bool"
														   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
											<f:validator validatorId="selectOneRequiredValidator"/>				   
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboIsDetached"
													display="icon"/>
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['security.lbl.is.coupon']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td> 
										<p:selectOneMenu id="cboIsCoupon"
														 value="#{securityMgmtBean.security.indIsCoupon}"
														 styleClass="combo-widh-medium"
														 label="#{msgs['security.lbl.is.coupon']}"
														 disabled="true"> 
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
														   var="bool"
														   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
											<f:validator validatorId="selectOneRequiredValidator"/>			   
										</p:selectOneMenu>
									</td>
									<td> 
										<p:message for="cboIsCoupon"
												   display="icon"/>
									</td>
									<td> 
										<h:outputText value="#{msgs['security.lbl.isin.parent']}"/>
									</td>
									<td> 
										<p:inputText id="cboIsinParent"
													 value="#{securityMgmtBean.security.security.idIsinCodePk}"
													 styleClass="combo-widh-medium"
													 label="#{msgs['security.lbl.isin.parent']}"
													 disabled="true"
													 maxlength="#{cons['security.isin.length']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>			 
										</p:inputText>
									</td>
									<td> 
										<p:message for="cboIsinParent"/>
									</td>
								</tr>
								</table>
								</p:fieldset>
								</td>
							</tr>
						</table>	

						</p:tab>
						<p:tab id="tabPerformance" title="#{msgs['security.lbl.title.performance.amortization']} "
							   disabled="#{!securityMgmtBean.fixedInstrumentType}" >
						<table width="100%">
							<tr> 
								<td> 
								<p:fieldset id="fldTitleInterest" legend="#{msgs['security.lbl.title.interest']}">
									<table width="100%"> 
										<tr> 
											<td width="200"> 
												<h:outputText value="#{msgs['security.lbl.interest.type']} (*)"
															  styleClass="required-field"/>
											</td>
											<td width="200"> 
												<p:selectOneMenu id="cboInterestType" 
																 value="#{securityMgmtBean.security.interestType}"
																 label="#{msgs['security.lbl.interest.type']}"
																 styleClass="combo-widh-medium"
																 disabled="true">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboInterestType}"
																   var="intType"
																   itemLabel="#{intType.parameterName}" itemValue="#{intType.parameterTablePk}"/>														
												</p:selectOneMenu>								
											</td>
											<td width="50"> 
												<p:message for="cboInterestType"
														    display="icon"/>
											</td>
											<td width="250"> 
												<h:outputText value="#{msgs['security.lbl.performance']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td width="200"> 
												<p:selectOneMenu id="cboPerformance"
																 value="#{securityMgmtBean.security.yield}"
																 styleClass="combo-widh-medium"
																 label="#{msgs['security.lbl.performance']}"
																 disabled="true"
																 >
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
													<f:selectItems value="#{securityMgmtBean.lstCboYield}"
																   var="yld"
																   itemValue="#{yld.parameterTablePk}" itemLabel="#{yld.parameterName}"/>
													<f:validator validatorId="selectOneRequiredValidator"/>			   
												</p:selectOneMenu>
											</td>
											<td> 
												<p:message for="cboPerformance"
														   display="icon"/>
											</td>
										</tr>
										<tr> 
											<td> 
												<h:outputText value="#{msgs['security.lbl.interest.payment.mode']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td> 
												<p:selectOneMenu id="cboIntPaymentMode"
																 value="#{securityMgmtBean.security.interestPaymentModality}"
																 styleClass="combo-widh-medium"
																 label="#{msgs['security.lbl.interest.payment.mode']}"
																 disabled="true"
																 onchange="if(this.value=='')rcmbIntPaymentMode()"> 
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems var="payMode"
																   value="#{securityMgmtBean.lstCboInterestPaymentModality}"
																   itemLabel="#{payMode.parameterName}" itemValue="#{payMode.parameterTablePk}"/>													
													<f:validator validatorId="selectOneRequiredValidator"/>													
												</p:selectOneMenu>
												
												<p:remoteCommand name="rcmbIntPaymentMode" 
																 action="#{securityMgmtBean.changeCboInterestPaymentModalityHandler}"
																 process="@this"
																 immediate="true">
													<f:setPropertyActionListener target="#{securityMgmtBean.security.interestPaymentModality}" value="#{null}" />				 
												</p:remoteCommand>
											</td>
											<td align="left"> 
												<p:message for="cboIntPaymentMode"
														   display="icon"/>											
											</td>
											<td>
												<h:outputText value="#{msgs['security.lbl.revised.periodicity.interest.rate']}" 
															  styleClass="required-field"/>
											</td>
											<td> 
												<p:selectOneMenu id="cboRevPerIntRate"
																 value="#{securityMgmtBean.security.interestRatePeriodicity}"
																 styleClass="combo-widh-medium"
																 label="#{msgs['security.lbl.revised.periodicity.interest.rate']}"															 
																 disabled="true">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
																   var="intPer"
																   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
													<f:validator validatorId="selectOneRequiredValidator"/>			   
												</p:selectOneMenu>
											</td>
											<td> 
												<p:message for="cboRevPerIntRate"
														   display="icon"/>
											</td>
										</tr>	
										<tr> 
											<td> 
												<h:outputText value="#{msgs['security.lbl.effective.nominal']} (*)"
															  styleClass="required-field"/>
											</td>
											<td>  
												<p:selectOneMenu id="cboEffectiveNominal"
																 value="#{securityMgmtBean.security.cashNominal}"
															     styleClass="combo-widh-medium"
															     label="#{msgs['security.lbl.effective.nominal']}"															     
															     disabled="true">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboCashNominal}"
																   var="cash"
																   itemLabel="#{cash.parameterName}" itemValue="#{cash.parameterTablePk}"/>
													<f:validator validatorId="selectOneRequiredValidator"/>			   
												</p:selectOneMenu>
												<ui:remove>
														disabled="#{securityMgmtBean.viewOperationModify || securityMgmtBean.viewOperationModify || !securityMgmtBean.fixedInstrumentType}"
												</ui:remove>
											</td>
											<td> 
												<p:message for="cboEffectiveNominal"
														   display="icon"
															/>
											</td>
											<td> 
												<h:outputText value="#{msgs['security.lbl.interest.rate']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td>
											 	<p:inputText id="txtInterestRate" 
											 				 value="#{securityMgmtBean.security.interestRate}"
											 				 label="#{msgs['security.lbl.interest.rate']}"
											 				 styleClass="rateFactor-inputField clsCboRateTypeUpd"
											 				 maxlength="#{cons['rate.factor.length']}"
											 				 disabled="true"
											 				 required="true">
											 		<p:keyFilter mask="pnum"/>	
													<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>			 
											 		
											 	</p:inputText>
											</td>
											<td> 
												<p:message for="txtInterestRate"
														   display="icon"/>
											</td>
										</tr>
										<tr> 
											<td> 
												<h:outputText value="#{msgs['security.lbl.interest.payment.periodicity']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td> 
												<p:selectOneMenu id="cboInterestPayPeriodicity"
																 value="#{securityMgmtBean.security.periodicity}"																 
																 disabled="true"
																 styleClass="combo-widh-medium clsCboIntPaymentModeUpd" 
																 label="#{msgs['security.lbl.interest.payment.periodicity']}"
																 validator="#{securityMgmtBean.validateInterestPeriodicity}"
																 onchange="if(this.value=='')rcmdCboInterestPayPeriodicity()">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
															 	   var="payMod"
																  itemValue="#{payMod.parameterTablePk}" itemLabel="#{payMod.parameterName}"/>
													<f:validator validatorId="selectOneRequiredValidator"/>		  
													<p:ajax event="change"
															listener="#{securityMgmtBean.changeCboInterestPeriodicityHandler}"
															update="fldAmortisation,@(.classCboIntPayPeriodUpd)"
															process="@this"
															global="false"/>
												</p:selectOneMenu>
												
												<p:remoteCommand name="rcmdCboInterestPayPeriodicity"
																 action="#{securityMgmtBean.changeCboInterestPeriodicityHandler}"
																 update="fldAmortisation,@(.classCboIntPayPeriodUpd)"
																 process="@this"
																 global="false"/>				
											</td>
											<td> 
												<p:message  id="msgInterestPayPeriodicity" 
															for="cboInterestPayPeriodicity"
														    display="icon"/>
											</td>
											<td> 
												<h:outputText value="#{msgs['security.lbl.month.type']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td> 
												<p:selectOneMenu id="cboCalendarMonth"
																 value="#{securityMgmtBean.security.calendarMonth}"
																 styleClass="combo-widh-medium clsCboCalendarMonthUpd"
																 label="#{msgs['security.lbl.month.type']}"
																 disabled="true"
																  > 
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboCalendarMonth}"
															 	   var="monType"
																   itemValue="#{monType.parameterTablePk}" itemLabel="#{monType.parameterName}"/>
													<p:ajax listener="#{securityMgmtBean.changeCboCalendarMonth}"
															process="@this"
															global="false"
															update="@(.clsCboCalendarTypeUpd,.clsCboCalendarMonthUpd)"/>	
													<f:validator validatorId="selectOneRequiredValidator"
																 disabled="#{empty param['frmSecurityMgmt:cmbSave']}"/>		   
												</p:selectOneMenu>
											</td>
											<td> 
												<p:outputPanel styleClass="clsCboCalendarMonthUpd">
													<p:message for="cboCalendarMonth"
															   display="icon"/>
												</p:outputPanel>
											</td>
										</tr>
										<tr> 
											<td> 
												<h:outputText value="#{msgs['security.lbl.calendar.type']} (*)" 
															  styleClass="required-field"/>
											</td>
											<td>  
												<p:selectOneMenu id="cboCalendarType"
																 value="#{securityMgmtBean.security.calendarType}"	 
																 styleClass="combo-widh-medium clsCboCalendarTypeUpd"
																 label="#{msgs['security.lbl.calendar.type']}"
																 disabled="true"> 
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboCalendarType}"
																	var="calType"
																	itemLabel="#{calType.parameterName}" itemValue="#{calType.parameterTablePk}"/>
													<f:validator validatorId="selectOneRequiredValidator"
																 disabled="#{empty param['frmSecurityMgmt:cmbSave']}"/>
													<p:ajax event="change"
															update="@(.clsCboCalendarTypeUpd)"
															listener="#{securityMgmtBean.changeCboCalendarType}"
															process="@this"
															global="false"/>
												</p:selectOneMenu>
											</td>													
											<td> 
												<p:outputPanel styleClass="clsCboCalendarTypeUpd">
													<p:message for="cboCalendarType"
																display="icon"/>
												</p:outputPanel>
											</td>
											<td> 
												<h:outputText value="#{msgs['security.lbl.calendar.days']} (*)"
															  styleClass="required-field"/>
											</td>
											<td> 
												<p:selectOneMenu id="cboCalendarDay"
																 value="#{securityMgmtBean.security.calendarDays}"
																 styleClass="combo-widh-medium clsCboCalendarTypeUpd"
																 label="#{msgs['security.lbl.calendar.days']}"
																 disabled="#{securityMgmtBean.viewOperationModify || !securityMgmtBean.security.fixedInstrumentType  || securityMgmtBean.security.commercialCalendarType}"
																 >
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
													<f:selectItems value="#{securityMgmtBean.lstCboCalendarDays}"
																   var="calDay"
																   itemValue="#{calDay.parameterTablePk}" itemLabel="#{calDay.parameterName}"
																   itemDisabled="#{!securityMgmtBean.security.commercialCalendarType &amp;&amp; calDay.parameterTablePk==securityMgmtBean._360_CalendarDay}"
																   />
													<f:validator validatorId="selectOneRequiredValidator"/>
												</p:selectOneMenu>

											</td>
											<td> 
												<p:outputPanel styleClass="clsCboCalendarTypeUpd">
													<p:message for="cboCalendarDay" 
															   display="icon"/> 
												</p:outputPanel>
											</td>
										</tr>										
									</table>
								</p:fieldset>
								</td>
							</tr>
							<tr>
								<td> 
								<p:fieldset legend="#{msgs['security.lbl.title.interests.conditions']}">
								<table width="100%"> 
									<tr> 
										<td width="200"> 
											<h:outputFormat value="#{msgs['security.lbl.rate.type']} (*)" 
														    styleClass="required-field"/>
										</td>
										<td width="200">  
											<p:selectOneMenu id="cboRateType"
															 value="#{securityMgmtBean.security.rateType}"	
															 required="true"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.rate.type']}"
															 disabled="true"
															 >
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboRateType}"
															   var="rateType"
															   itemValue="#{rateType.parameterTablePk}"
															   itemLabel="#{rateType.parameterName}" />
											</p:selectOneMenu>
									    </td>
									    <td width="50"> 
									    	<p:message for="cboRateType"/>
									    </td>
									    <td width="250"> 
									    	<h:outputText value="#{msgs['security.lbl.operation.type']} (*)" 
									    				  styleClass="required-field"/>
									    </td>
									    <td width="200"> 
									    	<p:selectOneMenu id="cboOperationType"
									    					 value="#{securityMgmtBean.security.operationType}"
									    					 styleClass="combo-widh-medium"
									    					 label="#{msgs['security.lbl.operation.type']}"
									    					 disabled="true"
									    					 required="true"> 
									   			<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
									   			<f:selectItems value="#{securityMgmtBean.lstCboOperationType}" 
									   						   var="opeType"
									   						   itemLabel="#{opeType.parameterName}" itemValue="#{opeType.parameterTablePk}"/>
									    	</p:selectOneMenu>
									    </td>
									    <td> 
									    	<p:message for="cboOperationType"/>
									    </td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.spread.escalon']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td>
											<p:inputText id="txtSpreadEscalon"
														 value="#{securityMgmtBean.security.spread}"
														 required="true"
														 styleClass="percentage-inputField"
														 label="#{msgs['security.lbl.spread.escalon']}"
														 maxlength="#{cons['percentage.length']}"
														 disabled="true">
												<p:keyFilter mask="pnum"/>	
												<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.percentage']}"/>	 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtSpreadEscalon"
													   display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.indexed.to']}"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboIndexedTo"
															 value="#{securityMgmtBean.security.indexed}"
															 disabled="true"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.indexed.to']}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboIndexedTo}"
															   var="amor"
															   itemValue="#{amor.parameterTablePk}" itemLabel="#{amor.parameterName}"/>
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboIndexedTo"
														display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.minium.security.rate']}" />
										</td>
										<td> 
											<p:inputText id="txtMiniumSecRate"
														 value="#{securityMgmtBean.security.minimumRate}"
														 disabled="true"
														 label="#{msgs['security.lbl.minium.security.rate']}"
														 maxlength="#{cons['security.minium.rate.length']}"
														 styleClass="amount-inputfield"
														 >
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtMiniumSecRate"
															display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.maximum.security.rate']}"/>
										</td>
										<td> 
											<p:inputText id="txtMaxiumRate"
														 value="#{securityMgmtBean.security.maximumRate}"
														 disabled="true"
														 label="#{msgs['security.lbl.maximum.security.rate']}"
														 maxlength="#{cons['security.maxium.rate.length']}"
														 styleClass="amount-inputfield">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtMaxiumRate"
													   display="icon"/>
										</td>
									</tr>
								</table>
								</p:fieldset>	
								</td>
							</tr>
							<tr> 
								<td> 
								<p:fieldset id="fldTermConditions" legend="#{msgs['security.lbl.title.term.conditions']}">
								<table width="100%"> 
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.initial.date']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 			   
											<p:calendar id="calIssuanceDateInfo"
														value="#{securityMgmtBean.security.issuanceDate}"
														required="true"
														disabled="true" 
														showOn="button"
														navigator="true"
														showButtonPanel="true" 
														size="10"
														label="#{msgs['security.lbl.issuance.date']}"
														mindate="#{securityMgmtBean.security.issuance.issuanceDate}"
														pattern="#{msgs['dateFormat']}">
	
											</p:calendar>
										</td>
										<td colspan="4" align="left"> 
											<p:message for="calIssuaneDate"
														display="icon"/>
										</td>
									</tr>
									<tr> 
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.expired.date']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td width="200"> 
											<p:calendar id="calExpiredDate"
														value="#{securityMgmtBean.security.expirationDate}"
														required="true"
														disabled="true"
														showOn="button"
														showButtonPanel="true"
														navigator="true"
														size="10"
														label="#{msgs['security.lbl.expired.date']}"
														maxdate="#{securityMgmtBean.security.issuance.expirationDate}"
														pattern="#{msgs['dateFormat']}">
												<f:validator validatorId="calendarGreaterThanValidator"/>
												<f:attribute name="compareValue" value="#{securityMgmtBean.security.issuance.expirationDate}"/>
												<f:attribute name="compareLabel" value="#{msgs['issuance.lbl.expiration.date']}"/>
											</p:calendar>
										</td>
										<td width="50"> 
											<p:message for="calExpiredDate"
														display="icon"/>
										</td>
										<td width="250"> 
											<h:outputText value="#{msgs['security.lbl.first.payment.coupon.date']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td width="200"> 
											<p:calendar id="calFirstPayCoupon"
														value="#{securityMgmtBean.security.couponFirstPaymentDate}"
														required="true"
														disabled="true"
														showOn="button"
														showButtonPanel="true"
														navigator="true"
														size="10"
														label="#{msgs['security.lbl.first.payment.coupon.date']}"
														pattern="#{msgs['dateFormat']}"
														/>
										</td>
										<td> 
											<p:message for="calFirstPayCoupon"
														display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.months.terms.value']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
										
											<p:inputText id="txtMonthsTerms"
														 value="#{securityMgmtBean.security.securityMonthsTerm}"
														 required="true"
														 disabled="true"
														 maxlength="#{cons['security.months.term.length']}"
														 label="#{msgs['security.lbl.months.terms.value']}"
														 styleClass="content-right">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtMonthsTerms"
													   display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.nro.coupons']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:inputText id="txtNroCoupons"
													     value="#{securityMgmtBean.security.numberCoupons}"
														 required="true"
														 disabled="true"
														 maxlength="#{cons['security.number.coupons.length']}"
														 label="#{msgs['security.lbl.nro.coupons']}"
														 styleClass="amount-inputfield">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtNroCoupons"
													    display="icon"/>
										</td>
									</tr>																	
								</table>
								</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
								<p:fieldset id="fldAmortisation" legend="#{msgs['security.lbl.title.amortization']}">
								<table width="100%"> 
									<tr> 
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.capital.payment.mode']} (*)" 
														 styleClass="required-field"/>
										</td>
										<td width="200"> 
											<p:selectOneMenu id="cboAmortPaymentMode"
															 value="#{securityMgmtBean.security.capitalPaymentModality}"
															 onchange="if(this.value=='')rcmdCboAmortPaymentMode()"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.capital.payment.mode']}"
															 disabled="true"> 
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboPaymentModality}"
															   var="payMod"
															   itemLabel="#{payMod.parameterName}" 
															   itemValue="#{payMod.parameterTablePk}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>	
												<p:ajax global="false" 
														listener="#{securityMgmtBean.chageCboAmortPaymentModalityHandler}" 
														process="@this"
														update="@(.clsCboAmortPaymentModeUpd,.clsCboAmortizationTypeUpd)"
														partialSubmit="true"/>		   
											</p:selectOneMenu>
											
											<p:remoteCommand name="rcmdCboAmortPaymentMode"
															 action="#{securityMgmtBean.chageCboAmortPaymentModalityHandler}"
															 global="false"
															 process="@this"
															 update="@(.clsCboAmortPaymentModeUpd,.clsCboAmortizationTypeUpd)">
												<f:setPropertyActionListener target="#{securityMgmtBean.security.capitalPaymentModality}" value="#{null}" />				 
											</p:remoteCommand>
										</td>
										<td width="50"> 
											<p:message for="cboAmortPaymentMode"
													   display="icon"/>
										</td>
										<td width="250"> 
											<h:outputText value="#{msgs['security.lbl.amortization.type']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td width="200"> 
											<p:selectOneMenu id="cboAmortizationType" 
															 value="#{securityMgmtBean.security.amortizationType}"
															 disabled="true"
															 styleClass="combo-widh-medium clsCboAmortPaymentModeUpd"
															 label="#{msgs['security.lbl.amortization.type']}"
															 onchange="if(this.value=='')rcmdCboAmortizationType()"> 
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems  value="#{securityMgmtBean.lstCboAmortizationType}"
																var="amorType"
																itemValue="#{amorType.parameterTablePk}" itemLabel="#{amorType.parameterName}"/>
												<p:ajax event="change"
														listener="#{securityMgmtBean.changeCboAmortizationTypeHandler}"
														process="@this"
														update="@(.clsCboAmortizationTypeUpd)"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				
											</p:selectOneMenu>
											<p:remoteCommand name="rcmdCboAmortizationType"
															 action="#{securityMgmtBean.changeCboAmortizationTypeHandler}"
															 process="@this"
															 update="txtAmortizationFactor,cboPerAmortization,@(.clsCboAmortizationTypeUpd)">
												<f:setPropertyActionListener target="#{securityMgmtBean.security.amortizationType}" value="#{null}"/>				 
											</p:remoteCommand>
										</td>
										<td> 
											<p:message for="cboAmortizationType"
													    display="icon"/>
										</td>
									</tr>
									<tr> 										
										<td> 
											<h:outputText value="#{msgs['security.lbl.periodicity.amortization']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboPerAmortization"
															 value="#{securityMgmtBean.security.amortizationPeriodicity}"
															 disabled="true"
															 styleClass="combo-widh-medium clsCboAmortizationTypeUpd"
															 label="#{msgs['security.lbl.periodicity.amortization']}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
															   var="intPer"
															   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>
												<p:ajax global="false" 
														listener="#{securityMgmtBean.changePeriodicityAmort}" 
														process="@this"
														update="txtAmortizationFactor txtPaymentsNumber"/>	
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboPerAmortization"
													    display="icon"/>
										</td>
										<td>
											<h:outputText value="#{msgs['security.lbl.payments.number']}" />
										</td>
										<td> 
											<p:inputText id="txtPaymentsNumber"
														 value="#{securityMgmtBean.paymentNumberAmortization}"
														 disabled="true"
														 styleClass="clsCboAmortPaymentModeUpd clsCboAmortizationTypeUpd"/>
										</td>
										<td> 

										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.amortization.factor']}" />
										</td>
										<td> 
											<p:inputText id="txtAmortizationFactor" 
														 value="#{securityMgmtBean.security.amortizationFactor}"
														 required="true"
														 disabled="true"
														 styleClass="amount-inputfield rateFactor-inputField clsCboAmortizationTypeUpd"
														 label="#{msgs['security.lbl.amortization.factor']}"
														 maxlength="#{cons['rate.factor.length']}">
												<p:keyFilter mask="pnum"/>	
												<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>		 
											</p:inputText>
											
											<ui:remove> 
											 #{securityMgmtBean.viewOperationModify || !securityMgmtBean.fixedInstrumentType || !securityMgmtBean.security.proportionalAmortizationType || securityMgmtBean.security.atMaturityAmortPaymentModality}  
											 </ui:remove>
										</td>
										<td > 
											<p:message for="txtAmortizationFactor"
													   display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.amortization.on']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboAmortizationOn"
															 value="#{securityMgmtBean.security.amortizationOn}"
															 styleClass="combo-widh-medium clsCboAmortPaymentModeUpd"
															 label="#{msgs['security.lbl.amortization.on']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboAmortizationOn}" 
															   var="amorOn"
															   itemValue="#{amorOn.parameterTablePk}" itemLabel="#{amorOn.parameterName}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>	
											</p:selectOneMenu>
										</td>
										<td> 
											<p:outputPanel styleClass="clsCboAmortPaymentModeUpd">
												<p:message for="cboAmortizationOn"
															display="icon"/>
											</p:outputPanel>
										</td>
									</tr>
								</table>	
								</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
								<p:fieldset id="fldPerformanceAndAmortization" legend="#{msgs['security.lbl.title.performance.amortization']}">
								<table width="100%"> 
									<tr> 
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.financial.index']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td width="200"> 
											<p:selectOneMenu id="cboFinancialIndex" 
															 value="#{securityMgmtBean.security.financialIndex}"
															 label="#{msgs['security.lbl.financial.index']} (*)"	
															 styleClass="combo-widh-medium"
															 required="true"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboFinancialIndex}"
															   var="fInd"
															   itemValue="#{fInd.parameterTablePk}" itemLabel="#{fInd.parameterName}"/>
											</p:selectOneMenu>
										</td>
										<td width="50"> 
											<p:message for="cboFinancialIndex"
													   display="icon"/>
										</td>
										<td width="250"> 
											<h:outputText value="#{msgs['security.lbl.interest.capitalizable']} (*)" 
														  styleClass="required-field"/>		
										</td>
										<td width="200"> 
											<p:selectOneMenu id="cboIntCapitalizable"
															 value="#{securityMgmtBean.security.indCapitalizableInterest}"
															 required="true"
															 disabled="true"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.interest.capitalizable']}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="boolType"
															   itemValue="#{boolType.code}" itemLabel="#{boolType.value}"/>
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboIntCapitalizable"
													   display="icon"/>
										</td>
									</tr>
								</table>
								</p:fieldset>
								</td>
							</tr>
						</table>
						</p:tab>
						<p:tab id="tabNegotiationDepOthers" title="#{msgs['security.lbl.title.negotiation.depository.others']}"> 
						<table width="100%"> 
							<tr> 
								<td valign="top" style="width: 550px;">  
								<table width="100%"> 
									<tr> 
										<td> 
								<p:fieldset id="fldIndicators" legend="#{msgs['security.lbl.title.indicators']}">
								<table> 
									<tr> 
										<td style="width: 250px;"> 
											<h:outputText value="#{msgs['security.lbl.payment.beneficit']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td style="width: 220px;"> 
											<p:selectOneMenu id="cboPaymentBeneficit"
															 value="#{securityMgmtBean.security.indPaymentBenefit}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.payment.beneficit']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>			   
											</p:selectOneMenu>
										</td>
										<td style="width: 50px;"> 
											<p:message for="cboPaymentBeneficit"
														display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.receivable.custody']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboReceivableCustody"
															 value="#{securityMgmtBean.security.indReceivableCustody}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.receivable.custody']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				   
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboReceivableCustody"
													   display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.trader.secundary']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboTraderSecundary"
															 value="#{securityMgmtBean.security.indTraderSecondary}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.trader.secundary']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				   
											</p:selectOneMenu>
										</td>
										<td align="left"> 
											<p:message for="cboTraderSecundary"
													   display="icon"/>
										</td>
									</tr>
									<tr> 
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.issuance.management']} (*)" 
														  styleClass="required-field"/>	
										</td>
										<td width="200"> 
											<p:selectOneMenu id="cboIssuanceMgmt"
															 styleClass="combo-widh-medium"
															 value="#{securityMgmtBean.security.indIssuanceManagement}"
															 label="#{msgs['security.lbl.issuance.management']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>	
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboIssuanceMgmt"
													   display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.securitization']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboSecuritization"
															 value="#{securityMgmtBean.security.indSecuritization}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.securitization']}"
															 disabled="true"
															 >
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				   
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboSecuritization"
													   display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.convertible.securities']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboConvSecurities"
															 value="#{securityMgmtBean.security.indConvertibleStock}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.convertible.securities']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				   
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboConvSecurities"
														display="icon"/>
										</td>
									</tr>
				<ui:remove>					<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.materializable']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboMaterializable"
															 value="#{securityMgmtBean.security.indMaterializable}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.materializable']}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>				   
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboMaterializable"
													   display="icon"/>
										</td>
									</tr> </ui:remove>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.tax.exempt']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboTaxExempt"
															 value="#{securityMgmtBean.security.indTaxExempt}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.tax.exempt']}"
															 disabled="true"> 
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>			
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboTaxExempt"
													   display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.early.redemption']} (*)" 
														  styleClass="required-field"/>
										</td>
										<td> 
											<p:selectOneMenu id="cboEarlyRedemption"
															 value="#{securityMgmtBean.security.indEarlyRedemption}"
															 styleClass="combo-widh-medium"
															 label="#{msgs['security.lbl.early.redemption']}"
															 disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
												<f:selectItems value="#{securityMgmtBean.lstCboBooleanType}"
															   var="bool"
															   itemValue="#{bool.code}" itemLabel="#{bool.value}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>	
											</p:selectOneMenu>
										</td>
										<td> 
											<p:message for="cboEarlyRedemption"
													   display="icon"/>
										</td>
									</tr>
								</table>
								</p:fieldset>
										</td>
									</tr>
									<tr> 
										<td> 
								<p:fieldset id="fldInternationalDeposits" legend="#{msgs['security.lbl.title.international.deposits']}">
								<table width="100%">
									<tr> 
										<td> 		 
											<p:message for="dtbInternationalDeposits"
													   />
										</td>
									</tr>
									<tr> 
										<td> 
										<p:dataTable id="dtbInternationalDeposits"
													 value="#{securityMgmtBean.lstDtbInternationalDepository}"
													 var="idep"
													 rowIndexVar="rIndx"
													 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
													 > 
												<f:facet name="header">
													<h:outputText value="#{msgs['col.international.mechanism']}" />
												</f:facet>	 
													 
												<p:column width="50">
													<f:facet name="header">
													   <h:outputText value="#{msgs['col.code']}" />
													</f:facet>
													<h:outputLabel value="#{idep.idInternationalDepositoryPk}"/>
												</p:column>
												<p:column> 
													<f:facet name="header">
													   <h:outputText value="#{msgs['col.international.mechanism']}" />
													</f:facet>
													<h:outputLabel value="#{idep.description}"/>
												</p:column>
												<p:column width="50"> 
													<f:facet name="header">
													   <h:outputText value="#{msgs['col.yes']}" />
													</f:facet>
													<p:selectBooleanCheckbox value="#{idep.selected}"
																			 disabled="true"
																			 />
												</p:column>											 	
										</p:dataTable>
										</td>
									</tr>
								</table>
								</p:fieldset>
										</td>
									</tr>
								</table>
								</td>
								<td valign="top"> 
								<table width="100%"> 
									<tr> 
										<td> 
										<p:fieldset id="fldProcessData" legend="#{msgs['security.lbl.title.process.data']}">
										<table width="100%"> 
											<tr> 
												<ui:remove>
												<td width="210"> 
													<h:outputText value="#{msgs['security.lbl.indeed.important.days']} (*)" 
																  styleClass="required-field"/>
												</td>
												<td width="200"> 
													<p:inputText id="txtIndeedImpDays"
																   value="#{securityMgmtBean.security.corporativeProcessDays}"
																   required="true"
																   label="#{msgs['security.lbl.indeed.important.days']}"
																   maxlength="#{cons['security.corporative.process.days.length']}"
																   styleClass="amount-inputfield"
																   disabled="#{securityMgmtBean.viewOperationModify}">
														<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			   
													</p:inputText>
												</td>
												<td width="50"> 
													<p:message for="txtIndeedImpDays"
															   display="icon"/>
												</td>
												</ui:remove>
												<td width="200"> 
													<h:outputText value="#{msgs['security.lbl.registration.days.stock']} (*)" 
																  styleClass="required-field"/>
												</td>
												<td width="200">
													<p:inputText id="txtRegDaysStock"
																 value="#{securityMgmtBean.security.stockRegistryDays}"
																 label="#{msgs['security.lbl.registration.days.stock']}"
																 disabled="true"
																 maxlength="#{cons['security.stock.registry.days.length']}"
																 styleClass="amount-inputfield"/>
												</td>
												<td colspan="4"> 
													<p:message for="txtRegDaysStock"
															   display="true"/>
												</td>
											</tr>
										</table>
										</p:fieldset>	
										</td>
									</tr>
									<tr> 
										<td> 
								<p:fieldset id="fldNegotiationMechanism" 
											legend="#{msgs['security.lbl.title.negotiation.mechanism']}">
									<table width="100%"> 
										<tr> 
											<td> 
												<p:message for="dtbNegotiationModalities"
														   />
											</td>
										</tr>
										<tr> 
											<td> 
											
											<p:dataTable id="dtbNegotiationModalities"
														 value="#{securityMgmtBean.lstDtbNegotiationModalities}"
														 var="negMod"
														 rowIndexVar="rIndx"
													     rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
													     
												<f:facet name="header">
													<h:outputText value="#{msgs['security.lbl.title.negotiation.mechanism']}" />
												</f:facet>	
													     
												<p:column headerText="#{msgs['col.modality']}"
														  styleClass="content-left">
													<h:outputText value="#{negMod.modalityName}" />			
												</p:column>
												
												<p:column headerText="#{gmsgs['lbl.bvrd']}"
														  styleClass="content-center"
														  >
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[0].selected}"
																			 disabled="true"/>
												</p:column>
												
												<p:column headerText="#{gmsgs['lbl.hacienda']}"
														  styleClass="content-center">  
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[1].selected}"
																			 disabled="true"/>
												</p:column>
												
												<p:column headerText="#{gmsgs['lbl.otc']}"
														  styleClass="content-center">
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[2].selected}"
																		 	 disabled="true"/>
												</p:column>
												
												<p:column headerText="#{gmsgs['lbl.bcrd']}"
														  styleClass="content-center"> 
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[3].selected}"
																		  	 disabled="true"/>
												</p:column>
												
											</p:dataTable>
											
											
											<ui:remove>
											<p:dataTable id="dtbNegotiationMechanism"
														 value="#{securityMgmtBean.lstDtbNegotiationMechanism}" 
														 var="neg"
														 rowIndexVar="rIndx"
													     rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"> 
												
												<f:facet name="header">
													<h:outputText value="#{msgs['security.lbl.title.negotiation.mechanism']}" />
												</f:facet>	     
													     
												<p:column>
													<f:facet name="header"> 
														<h:outputText value="#{msgs['col.code']}"/>
													</f:facet>
													<h:outputLabel value="#{neg.mechanismCode}"/>
												</p:column>
												<p:column>
													<f:facet name="header"> 
														<h:outputText value="#{msgs['col.mechanism.description']}"/>
													</f:facet>
													<h:outputLabel value="#{neg.mechanismName}"/>
												</p:column>
												<p:column>
													<f:facet name="header"> 
														<h:outputText value="#{msgs['col.yes']}"
																	  style="text-transform:uppercase;"/>
													</f:facet>
													<p:selectBooleanCheckbox  value="#{neg.selected}"
																			  disabled="true">
														<p:ajax event="valueChange" 
																update="chkmSelect" 
																global="false"/> 
													</p:selectBooleanCheckbox>
												</p:column>
												<p:column>
													<f:facet name="header"> 
														<h:outputText value="#{msgs['col.modality']}"/>
													</f:facet>
														<p:selectCheckboxMenu id="chkmSelect" 
																			  value="#{neg.selectedModalities}"
																			  label="#{msgs['lbl.select']}"
																			  disabled="#{!neg.selected}">
														<f:selectItems value="#{neg.mechanismModalities}" var="item" 
																	   itemValue="#{item.idConverted}" itemLabel="#{item.negotiationModality.modalityName}"
																	   itemDisabled="true"/>			  																	
														</p:selectCheckboxMenu>
												</p:column>
											</p:dataTable> </ui:remove>
											</td>
										</tr>
									</table>
								</p:fieldset>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</p:tab>
						<p:tab id="tabAmounts" title="#{msgs['security.lbl.title.amounts']}">
						<table width="100%">
							<tr> 
								<td> 
								<p:fieldset id="fldDataAmounts" legend="#{msgs['security.lbl.title.data.amounts']}">
								<table width="100%">
									<tr> 
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.share.capital']}" />
										</td>
										<td width="200"> 
											<p:inputText id="txtShareCapital"
														 value="#{securityMgmtBean.security.shareCapital}"
														 label="#{msgs['security.lbl.share.capital']}"
														 styleClass="amount-inputfield cashAmount-inputField clsTxtShareCapitalUpd clsTxtCirculationAmountUpd"
														 disabled="true"
														 >
												<p:keyFilter mask="pnum"/>		
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>				 
										    </p:inputText>
										</td>
										<td width="50"> 
											<p:message for="txtShareCapital"
													   display="txtShareCapital"/>
										</td>
										<td width="200"> 
											<h:outputText value="#{msgs['security.lbl.share.balance']}" />
										</td>
										<td width="200"> 
											<p:inputText id="txtShareBalance"
														 value="#{securityMgmtBean.security.shareBalance}"			
														 label="#{msgs['security.lbl.share.balance']}"
														 styleClass="amount-inputfield clsTxtShareCapitalUpd"
														 disabled="true"
														 maxlength="#{cons['security.share.balance.length']}">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
												<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>	
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtShareBalance"
													    display="icon"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.circulation.amount']}"/>
										</td>
										<td> 
											<p:inputText id="txtCirculationAmount"
														 value="#{securityMgmtBean.security.circulationAmount}"
														 disabled="true"
														 label="#{msgs['security.lbl.circulation.amount']}"
														 styleClass="amount-inputfield cashAmount-inputField clsTxtCirculationAmountUpd">
												<p:keyFilter mask="pnum"/>		
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>				 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtCirculationAmount"
														display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.circulation.balance']}" />
										</td>
										<td> 		
											<p:inputText id="txtCirculationBalance"
														 value="#{securityMgmtBean.security.circulationBalance}"
														 disabled="true"
														 label="#{msgs['security.lbl.circulation.balance']}"
														 styleClass="amount-inputfield clsTxtCirculationAmountUpd"
														 maxlength="#{cons['security.share.balance.length']}"
														>
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
												<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>			
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtCirculationBalance"
													   display="true"/>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['security.lbl.desmaterialized.balance']}" />
										</td>
										<td>
											<p:inputText id="txtDesBalance"
														 value="#{securityMgmtBean.security.desmaterializedBalance}"
														 disabled="true"
														 label="#{msgs['security.lbl.desmaterialized.balance']}"
														 styleClass="amount-inputfield"
														 maxlength="#{cons['security.desmaterialized.balance.length']}">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
												<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>		
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtDesBalance"
													   display="icon"/>
										</td>
										<td> 
											<h:outputText value="#{msgs['security.lbl.physical.balance']}" />
										</td>
										<td> 
											<p:inputText id="txtPhysicalBalance"
														 value="#{securityMgmtBean.security.physicalBalance}"
														 disabled="true"
														 label="#{msgs['security.lbl.physical.balance']}"
														 styleClass="amount-inputfield clsTxtCirculationAmountUpd"
														 maxlength="#{cons['security.physical.balance']}">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
												<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 		 
											</p:inputText>
										</td>
										<td> 
											<p:message for="txtPhysicalBalance"
													    display="true"/>
										</td>
									</tr>
								</table>
								</p:fieldset>
								</td>
							</tr>
							<tr> 
								<td> 
								
								</td>
							</tr>
							<tr> 
								<td> 
								
								</td>
							</tr>
							<tr> 
								<td> 
								
								</td>
							</tr>
						</table>
						</p:tab>	
						<p:tab id="tabPaymentSchedule" 
								title="#{msgs['security.lbl.payment.cronogram']}"
								disabled="#{!(securityMgmtBean.fixedInstrumentType &amp;&amp; securityMgmtBean.security.desmaterializedIssuanceForm)}"> 
							<ui:include  src="/pages/issuanceSecurityMgmt/securityMgmt/paymentCronogramReg.xhtml" />
						</p:tab>	
				</p:tabView>
				</td>	
			</tr>
			<tr> 
				<td align="center"> 
				<p:commandButton id="cmbBack" 
							     action="#{securityMgmtBean.backToSearchPageHandler}"
								 value="#{msgs['btn.back']}" 
								 icon="fa fa-undo"
								 immediate="true"
								 ajax="false"/>
				</td>
			</tr>
			<tr> 
				<td>
				
				</td>
			</tr>
		</table>
		
				<p:confirmDialog id="cnfSecurityMgmt" 
								 severity="alert"
								 widgetVar="cnfwSecurityMgmt"
								 closable="false">
					<f:facet name="header">
						<h:outputFormat
							value="#{headerMessageView}" 
							rendered="#{headerMessageView != null}"/>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{bodyMessageView}"
							rendered="#{bodyMessageView != null}">
						</h:outputFormat>
					</f:facet>
					<p:commandButton id="cmbConfirm" 
									value="#{msgs['btn.yes']}"
									actionListener="#{securityMgmtBean.saveSecurityHandler}"
									update="frmSecurityMgmt,:cnfEndTransaction">
					</p:commandButton>
					
					<p:commandButton value="#{msgs['btn.no']}"
									onclick="cnfwSecurityMgmt.hide()" type="button" />
					
				</p:confirmDialog>
		
	</h:form>
	
	
		
	</ui:define>
</ui:composition>
	
</html>