<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	<ui:composition template="/template/default.xhtml">	
		<ui:define name="body">		
			<h:outputText value="#{gmsgs['inegotiations.retirementloanablesecurities.register.title']}"  styleClass="title-page" />
			<script type="text/javascript">
					$(window).load(function(){
						setInitialFormState('#frmLoanableSecuritiesOperation');
					});
				</script>
			<h:form id="frmLoanableSecuritiesOperation">			
				<p:fieldset legend="#{msgs['lbl.loanable.securities.register.data']}" id="flsBalanceAccount">
					
					<p:outputPanel id="pnlSearch">
						
							<table width="100%" id="tblLoanableSecuritiesOperationSearch">
								<tr>
						        	<td width="12%">
										<h:outputText value="#{msgs['lbl.loanable.securities.search.participant']} (*)"  styleClass="required-field"/>
									</td>
									<td width="30%">
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboParticipant" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.participant.idParticipantPk}" 
											label="#{msgs['lbl.loanable.securities.search.participant']}"  disabled="#{manageRetirementLoanableSecuritiesOperationMgmtBean.userInfo.userAccountSession.participantInstitucion}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>					
												<f:selectItems value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.lstAllParticipant}"  var="participant"
												itemLabel="#{participant.mnemonic} - #{participant.idParticipantPk} - #{participant.description}" itemValue="#{participant.idParticipantPk}"/>
												<p:ajax event="change" process="@this" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.selectParticipantHandler}"
													update="@this msgParticipant cboParticipant pnlSearch idHelperAccountSource"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			
										</p:selectOneMenu>
										<p:message for="cboParticipant" display="icon" id="msgParticipant"/>
										</h:panelGrid>
									</td>
									<td width="12%">
										<h:outputText value="#{msgs['lbl.loanable.securities.search.cui.holder']} (*)" styleClass="required-field"/>
									</td>
									<td colspan="3">
										<p:outputPanel id="helpAccount">
							                <ark:holderHelper id="holderHelper"  required="true"   							                     
							                 holder="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holder}" 
							                 remoteListener="rmtHolder()" 
							                  blParticipant="true" participant="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.participant.idParticipantPk}"/>				                
						               </p:outputPanel>
						               <p:remoteCommand name="rmtHolder"
						                actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.validateHolderHandler}"
						                global="false" process="@this helpAccount idHelperAccountSource"
						                update="@this helpAccount idHelperAccountSource"
						                >
						               </p:remoteCommand> 							               				                           
						           </td>						        	
						        </tr>   
						        <tr>
						        	<td>
						        		<h:outputText  value="#{msgs['lbl.loanable.securities.search.account.holder']} (*)" styleClass="required-field" />
						        	</td>
						            <td colspan="7">
										<p:outputPanel id="idHelperAccountSource">
										
										<p:inputText disabled="true" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.lstHolderAccount.size() == 0}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountSource"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
												     	  style="width:100% !important"
												     	 rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.lstHolderAccount.size()>0}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.lstHolderAccount}" var="account"
												     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
													 	 selection="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.validateHolderAccountHanlder}" update=":frmLoanableSecuritiesOperation:idHelperAccountSource" />																								
												<p:column headerText="#{msgs['lbl.loanable.securities.register.account.number']}" styleClass="content-center" style="width:70px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>												
												<p:column headerText="#{msgs['lbl.loanable.securities.register.alternateCode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												<p:column headerText="#{msgs['commons.datatable.account.description']}">																										
														<ui:repeat
												           value="#{account.holderAccountDetails}"
												           var="cuis">
												           <li><h:outputFormat value="#{cuis.holder.idHolderPk}" />
												            <h:outputFormat value="-" /> <h:outputFormat
												             value="#{cuis.holder.fullName}" /></li>
												          </ui:repeat>            							
												</p:column>	
												<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.stateAccountName}" />
												</p:column>
																																											    
											</p:dataTable>											
										</p:outputPanel>
									</td>					      
						        </tr>
						        <tr>
									<td colspan="6" align="center">
									<p:outputPanel id="panelButton">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
														 update="opnlResult flsBalanceAccount " process="flsBalanceAccount" 
														 actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalancesHandler}"
														 rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.userInfo.userAcctions.register}">	
											<f:param name="skipValidation" value="true"/>									
										</p:commandButton>				 
									<marketFact:marketfactBalance id="balancemarket1" bean="#{manageRetirementLoanableSecuritiesOperationMgmtBean}"  method="selectMarketFactBalanceBean" parameter="marketFactBalanceHelpTO"/>	
       								</p:outputPanel> 			 									
									</td>
								</tr>	
								
									<tr>
									<td colspan="7">
										<p:outputPanel id="opnlResult">					    										
										<p:outputPanel id="outPanelResult" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel != null}">
											
												<p:dataTable id="dtbLoanableSecuritiesAux" var="placReq" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel}"
															 rendered="#{(manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel.rowCount >= 1)}"
															 selection="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesOperationSession}"
															 paginator="true" rows="10"
															 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
															 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
															 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
															 rowKey="#{placReq.id}" 
															 style="width:100% !important">

													<p:column headerText="#{msgs['lbl.loanable.securities.search.account.holder']}" styleClass="content-center">														
														<h:outputText value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.accountNumber}" />	
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.search.description.holder']}">																										
														<ui:repeat
												           value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.holderAccountDetails}"
												           var="cuis">
												           <li><h:outputFormat value="#{cuis.holder.idHolderPk}" />
												            <h:outputFormat value="-" /> <h:outputFormat
												             value="#{cuis.holder.fullName}" /></li>
												          </ui:repeat>            							
													</p:column>													
													<p:column headerText="#{msgs['lbl.loanable.securities.register.code.security']}" styleClass="content-center">														
														<p:commandLink value="#{placReq.idSecurityCodePk}" process="@this" actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.viewSecurityFinancial(placReq.idSecurityCodePk)}">
															<f:setPropertyActionListener
																target="#{manageRetirementLoanableSecuritiesOperationMgmtBean.securityCode}" value="#{placReq.idSecurityCodePk}" />
														</p:commandLink>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.total.balance']}" styleClass="content-right">
														<h:outputText value="#{placReq.totalBalance}"/>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.loanable.balance']}"  styleClass="content-right">
														<h:outputText value="#{placReq.loanableBalance}"/>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.balance']}"  styleClass="content-right">																									
															<p:inputText id="txtToPayBalance" disabled="#{!(placReq.selected) || placReq.marketLock}" size="10" required="true" style="width:180px" styleClass="content-right"
															value="#{placReq.transferAmount}" 
															 label="#{msgs['lbl.loanable.securities.register.to.pay.balance']}" >																	
																<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
																<f:validator validatorId="inputRequiredValidator"/>
																<p:ajax event="blur" process="@this" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.evaluateBalanceToPayHandler(placReq)}" 
																		update="@this :frmLoanableSecuritiesOperation:outPanelResult :frmLoanableSecuritiesOperation:pnlSearch  " global="false"/>
															</p:inputText>
															<h:commandButton value="..."  disabled="#{!(placReq.selected)}">
																<p:ajax listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.showMarketFactUI(placReq)}" process="@this" event="click"></p:ajax>
															</h:commandButton>																											
													</p:column>
													<p:column>
														<p:selectBooleanCheckbox value="#{placReq.selected}" id="bcbSelected">
															<p:ajax event="valueChange" update=":frmLoanableSecuritiesOperation:outPanelResult :frmLoanableSecuritiesOperation:pnlSearch"
																	listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.selectBalanceToPayDetailHandler(placReq)}" global="false"/>
														</p:selectBooleanCheckbox>
													</p:column>											       				
													<p:ajax event="page" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.changePageDatatable}"/>
												</p:dataTable>
												
												<p:panel rendered="#{!(manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel.rowCount >= 1)}">
														<h:outputLabel value="#{msgs['msg.loanable.securities.search.no.result.loanable']}" 								
														style="font-weight:bold;"/>	
											    </p:panel>																				    
										</p:outputPanel>										
										</p:outputPanel>
									</td>
								</tr>	      		
							</table>
					</p:outputPanel>
				</p:fieldset>
					<p:outputPanel>
					<table align="center">
						<tr>
							<td colspan="4" width="100%" align="center">
								<p:commandButton 
								 				onclick="if(!isModifiedFormForSave('#frmLoanableSecuritiesOperation',true))return false;"
												 value="#{gmsgs['btn.save']}" icon="fa fa-save"
												 actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.beforeLoanableSecuritiesOperationHandler}"
												 update="@form,"/> 													 
								<p:commandButton id="cmbBack" 							    
											     onclick="if(isModifiedFormForBack(this,'frmLoanableSecuritiesOperation'))return false;"
											     action="searchRetirementLoanableSecuritiesOperationMgmt"		
												 value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo"
												 immediate="true"
												 ajax="false"/>						 
								<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@form" 
														 actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.cleanHolderAccountBalancesHandler}"
														 update="@form"
														 rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.userInfo.userAcctions.register}"
														 onclick="return showCleanConfirmDialog(this);"  oncomplete="PF('cnfwClean').hide()" partialSubmit="false"/>													 							 
							</td>
						</tr>
					</table>
					</p:outputPanel>
					
					<ark:securities-help icon="false" name="securityHelp"/>
       
					<p:outputPanel id="pnlConfirmDialog">
					
						<p:confirmDialog id="cnfFormMgmtRegister" widgetVar="cnfwFormMgmtRegister" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}"> 
							<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" process="@this"  
											  actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.saveLoanableSecuritiesOperationHandler}" update="pnlConfirmDialog"/>
							<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwFormMgmtRegister').hide()" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchRetirementLoanableSecuritiesOperation.xhtml" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
					
					</p:outputPanel>					
					
			</h:form>
		</ui:define>
	</ui:composition>
</html>	 