<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	<ui:composition template="/template/default.xhtml">	
		<ui:define name="body">		
			<h:outputText value="#{gmsgs['inegotiations.retirementloanablesecurities.detail.title']}"  styleClass="title-page" />
			<h:form id="frmLoanableSecuritiesOperation">			
				<p:fieldset legend="#{msgs['lbl.loanable.securities.register.data']}">
					<p:outputPanel id="pnlRegister">
						<table width="100%" id="tblLoanableSecuritiesOperation">
							<tr>
								<td width="12%">
									<h:outputText value="#{msgs['lbl.loanable.securities.search.registry.date']}"/>
								</td>
								<td>									
									<p:calendar value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.registryDate}" id="registryDate" showOn="button" readonlyInput="true"
												pattern="#{cons['dateFormat']}"  navigator="true" disabled="true"
												disabledWeekends="true" size="10"/>																		
								</td>		
					        </tr>
							</table>
					</p:outputPanel>
					<p:outputPanel id="pnlSearch">
						<p:fieldset legend="#{msgs['lbl.loanable.securities.register.balance.account.title']}" toggleable="true" id="flsBalanceAccount">
							<table width="100%" id="tblLoanableSecuritiesOperationSearch">
								<tr>
						        	<td width="12%">
										<h:outputText value="#{msgs['lbl.loanable.securities.search.participant']} (*)"  styleClass="required-field"/>
									</td>
									<td width="30%">										
										<p:selectOneMenu id="cboParticipant" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.participant.idParticipantPk}" 
											  disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>					
												<f:selectItems value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.lstAllParticipant}"  var="participant"
												itemLabel="#{participant.mnemonic} - #{participant.idParticipantPk} - #{participant.description}" itemValue="#{participant.idParticipantPk}"/>													
										</p:selectOneMenu>									
									</td>
									<td width="12%">
										<h:outputText value="#{msgs['lbl.loanable.securities.search.cui.holder']} (*)" styleClass="required-field"/>
									</td>
									<td colspan="3">
										<h:panelGrid id="componentHolderHelper" columns="4" cellspacing="0" cellpadding="0">
											<p:inputText id="idHolder" size="10" maxlength="5" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holder.idHolderPk}"
												styleClass="content-right"		disabled="true"/>												
											<p:commandButton value="..."  disabled="true" />										
											<h:outputText value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holder.descriptionHolder}"/>
										</h:panelGrid>																             				               				                           
						           </td>						        	
						        </tr>   
						        <tr>
						        	<td>
						        		<h:outputText  value="#{msgs['lbl.loanable.securities.search.account.holder']} (*)" styleClass="required-field" />
						        	</td>
						            <td colspan="5">
						            	<h:panelGrid id="componentHolderAccountHelper" columns="5" cellspacing="0" cellpadding="0">
											<p:inputText id="idAccount" size="10" maxlength="5" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.accountNumber}"
												styleClass="content-right"	disabled="true"/>
											<p:commandButton value="..." 	disabled="true" />
											<h:outputText value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.alternateCode}"/>
											<p:spacer width="5"/>
											<h:outputText value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.accountRntAndDescription}" escape="false"/>
										</h:panelGrid>					           
						             </td>
						        </tr>
						       								
									<tr>
									<td colspan="7">
										<p:outputPanel id="opnlResult">					    										
										<p:outputPanel id="outPanelResult" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel != null}">
											
												<p:dataTable id="dtbLoanableSecuritiesAux" var="placReq" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel}"
															 rendered="#{(manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel.rowCount >= 1)}"
															 selection="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesOperationSession}"
															 paginator="true" rows="10"
															 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
															 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
															 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
															 rowKey="#{placReq.id}" 
															 style="width:100% !important">

													<p:column headerText="#{msgs['lbl.loanable.securities.search.account.holder']}" styleClass="content-center">														
														<h:outputText value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.accountNumber}" />	
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.search.description.holder']}">																										
														<ui:repeat
												           value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.loanableSecuritiesRequestSession.holderAccount.holderAccountDetails}"
												           var="cuis">
												           <li><h:outputFormat value="#{cuis.holder.idHolderPk}" />
												            <h:outputFormat value="-" /> <h:outputFormat
												             value="#{cuis.holder.fullName}" /></li>
												          </ui:repeat>            							
													</p:column>													
													<p:column headerText="#{msgs['lbl.loanable.securities.register.code.security']}" styleClass="content-center">														
														<p:commandLink value="#{placReq.idSecurityCodePk}" process="@this" actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.viewSecurityFinancial(placReq.idSecurityCodePk)}">
															<f:setPropertyActionListener
																target="#{manageRetirementLoanableSecuritiesOperationMgmtBean.securityCode}" value="#{placReq.idSecurityCodePk}" />
														</p:commandLink>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.total.balance']}" styleClass="content-right">
														<h:outputText value="#{placReq.totalBalance}"/>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.loanable.balance']}"  styleClass="content-right">
														<h:outputText value="#{placReq.loanableBalance}"/>
													</p:column>
													<p:column headerText="#{msgs['lbl.loanable.securities.register.retirement.balance']}"  styleClass="content-right">																									
															<p:inputText id="txtToPayBalance" disabled="true" size="10" required="true" style="width:180px" styleClass="content-right"
															value="#{placReq.transferAmount}"  />	
															<h:commandButton value="...">
																<p:ajax listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.showMarketFactUIDetail(placReq)}" process="@this" event="click"></p:ajax>
															</h:commandButton>																											
													</p:column>																					       				
													<p:ajax event="page" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.changePageDatatable}"/>
												</p:dataTable>
												
												<p:panel rendered="#{!(manageRetirementLoanableSecuritiesOperationMgmtBean.searchHolderAccountBalanceTODataModel.rowCount >= 1)}">
														<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
														style="font-weight:bold;"/>	
											    </p:panel>																				    
										</p:outputPanel>										
										</p:outputPanel>
									</td>
								</tr>	      		
							</table>
						</p:fieldset>
					</p:outputPanel>
				</p:fieldset>
					<p:outputPanel>
					<table align="center">
						<tr>
							<td colspan="4" width="100%" align="center">
								
								<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="pnlConfirmDialog,:cnfMsgCustomValidationSec" process="@this"  
											 actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.beforeRejectHandler}" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.viewOperationReject}"/>
								<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" update="pnlConfirmDialog,:cnfMsgCustomValidationSec" process="@this"
											 actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.beforeConfirmHandler}" global="false" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.viewOperationConfirm}"/>											 
								<p:commandButton id="cmbBack" 											     
											     action="searchRetirementLoanableSecuritiesOperationMgmt"		
												 value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo"
												 immediate="true"
												 ajax="false"/>																					 							 
							</td>
						</tr>
					</table>
					</p:outputPanel>
					
					<ark:securities-help icon="false" name="securityHelp"/>
       				<p:importEnum type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instType"/>
 					<p:importEnum type="com.pradera.integration.common.type.BooleanType" var="boolType"/> 	
       
					<p:outputPanel id="pnlConfirmDialog">					
											
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchRetirementLoanableSecuritiesOperation.xhtml" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButton" value="#{gmsgs['btn.yes']}" actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.processOperationHandler}"
			      			 			 oncomplete="PF('dialogwConfirm').hide()" update="pnlConfirmDialog" process="@this"/>
			      		<p:commandButton  value="#{gmsgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
					</p:confirmDialog>					
											
						<p:dialog id="dialogMotiveReject" resizable="false"  
						  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotiveReject" closable="false">
							<p:outputPanel id="opnlMotiveReject">
								<table>
									<tr>
										<td width="120px">
											<h:outputText value="#{msgs['lbl.loanable.securities.cancelMotive']} (*)" /> 
										</td>
										<td>
										<h:panelGrid columns="2" rendered="true">
											<p:selectOneMenu id="cboMotiveReject" label="#{msgs['lbl.loanable.securities.cancelMotive']}"  
															 value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.motiveControllerReject.idMotivePK}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.motiveControllerReject.motiveList}" var="mot" 
															   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
												<p:ajax process="@this" update="msgCboMotiveReject,opnlMotiveReject" event="change" listener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.changeMotiveRejectHandler}" global="false"/>
												<f:validator validatorId="selectOneRequiredValidator"/>		
											</p:selectOneMenu>
											<p:message for="cboMotiveReject" display="icon" id="msgCboMotiveReject"/>
										</h:panelGrid>											
										</td>											
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.loanable.securities.other.motive']} (*)" id="idTxtMotiveReject" 
														  rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.motiveControllerReject.showMotiveText}"/>
										</td>
										<td>
											<p:inputText size="60" rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.motiveControllerReject.showMotiveText}" maxlength="60"
														 value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.motiveControllerReject.motiveText}" id="txtOtherMotiveReject" required="true"
														 requiredMessage="#{msgs['lbl.loanable.securities.other.motive']}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											</p:inputText>
										</td>
										<td width="50px" align="right">
											<p:message for="txtOtherMotiveReject" display="icon"/>
										</td>
									</tr>
								</table>
							</p:outputPanel>
							<h:panelGrid columns="1" style="text-align:center" width="100%">
								<p:outputPanel>
									<p:commandButton id="enterMotiveReject" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{manageRetirementLoanableSecuritiesOperationMgmtBean.confirmMotiveRejectHandler}"
													 update="opnlMotiveReject" process="dialogMotiveReject"/>
									<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWMotiveReject').hide()" type="button" />
								</p:outputPanel>
							</h:panelGrid>
						</p:dialog>
						
						<p:dialog id="dialogMarketfactBalance" widgetVar="dialogWMarketfactBalance" modal="true" resizable="false" showHeader="false" position="top" 
			 				  showEffect="true" maximizable="false" width="800" closeOnEscape="true">
			 			<p:outputPanel autoUpdate="true">
			 			<p:fieldset legend="#{msgs['lbl.loanable.securities.made.market']}" id="idMarketfactBalance">
				  		<table width="100%" cellpadding="0" border="0" cellspacing="0" class="cleanTable">
				  			<tr>
				  				<td>
				  					<table width="100%" class="cleanTable">
				  						<tr>
				  							<td width="30%" align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.code.security']}:" />
				  							</td>
				  							<td width="70%">
				  								<p:inputText style="width:70%" id="idCodeSecurity" disabled="true" 
				  										value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.securityCodePk}" /> 
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.description.code.security']}:" />
				  							</td>
				  							<td>
				  								<p:inputText  id="idDescriptionSecurity" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.securityDescription}" 
				  											  disabled="true" style="width:70%"/>
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left"><h:outputText value="#{msgs['lbl.loanable.securities.register.type.instrument']}:" /></td>
				  							<td>
				  								<p:inputText id="idInstrumentTypeSecurity" style="width:70%" 
				  											 value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentDescription}" disabled="true" /> 
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.selected.amount']}:" />
				  							</td>
				  							<td>
				  								<p:inputNumber id="idViewTmpSecurity"  
														thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="true" 
														value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.balanceResult}"/>
											</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.last.date.dial']}:" />
				  							</td>
				  							<td>
				  								<p:inputText id="idViewLastDate#{cc.attrs.id}" value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.lastMarketDate}" 
				  											 disabled="true" style="width:70%">
				  									<f:convertDateTime pattern="dd/MM/yyyy"/>
				  								</p:inputText>
											</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.last.price.mpraderag']}:" 
				  											  rendered="#{instType.VARIABLE_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}"/>
				  							</td>
				  							<td>
				  								<p:inputNumber id="idViewLastPrice"  
														thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="true" 
														value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.lastMarketPrice}" 
														rendered="#{instType.VARIABLE_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}"/>
											</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['lbl.loanable.securities.register.last.dialing.rate']}:" rendered="#{instType.FIXED_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}"/>
				  							</td>
				  							<td>
				  								<p:inputNumber id="idViewLastRate"  
														thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="true"  
														value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.lastMarketRate}" 
														rendered="#{instType.FIXED_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}"/>
											</td>
				  						</tr>
				  					</table>
				  				</td>
				  			</tr>
				  			<tr>
				  				<td>
				  				<p:dataTable value="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.marketFacBalances}"  var="list" id="dtHechoMercado"
												 rendered="#{manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.marketFacBalances.size()>0}"> 
				  					
				  					<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.search.date']}"/>
										</f:facet>
										<h:outputText value="#{list.marketDate}">
											<f:convertDateTime pattern="dd/MM/yyyy"/>
										</h:outputText>
									</p:column>
									
				  					<p:column styleClass="content-center" rendered="#{instType.VARIABLE_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.register.price']}"/>
										</f:facet>
										<h:outputText value="#{list.marketPrice}" />
									</p:column>
									
				  					<p:column styleClass="content-center" rendered="#{instType.FIXED_INCOME.code eq manageRetirementLoanableSecuritiesOperationMgmtBean.marketFactBalanceDetail.instrumentType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.register.rate']}"/>
										</f:facet>
										<h:outputText value="#{list.marketRate} %" />
									</p:column>
									
				  					<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.register.total.balance']}"/>
										</f:facet>
										<h:outputText value="#{list.totalBalance}" />
									</p:column>
									
				  					<p:column styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.register.loanable.balance']}"/>
										</f:facet>
										<h:outputText value="#{list.availableBalance}" />
									</p:column>					
										
									<p:column styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.register.loan.operation']}"/>
										</f:facet>
										<h:outputText value="#{list.loanableBalance}" />
									</p:column>
															
									<p:column styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.loanable.securities.amount']}"/>
										</f:facet>
										<h:inputText value="#{list.enteredBalance}" disabled="true" id="idInputTextSecurity" />
									</p:column>																
				  										
				  				</p:dataTable>		
				  				</td>
				  			</tr>
				  			<tr>
				  				<td align="center">
				  					
				  				<p:commandButton  value="#{gmsgs['btn.back']}" onclick="PF('dialogWMarketfactBalance').hide()" icon="fa fa-undo" type="button" update="@form"/>
				  						  		
				  				</td>
				  			</tr>
				  		</table>
				  	</p:fieldset>
				  	</p:outputPanel>
			 		</p:dialog>
			 		
					</p:outputPanel>					
					
			</h:form>
			
			<p:outputPanel id="opnlDialogs">			
					
			</p:outputPanel>
	
		</ui:define>
	</ui:composition>
</html>	 