<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>

	<h:outputScript library="js" name="functions.js" />
	<h:outputScript library="js" name="layout.js" />
	
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="application_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
</h:head>

	<h:body>
		<pe:layout maskPanesEarly="true">
			<pe:layoutPane position="north" closable="false" size="80" minHeight="80" resizable="false" id="footer-layout" spacingOpen="0">
				<div id="topbar-layout">
					<h:form id="frmHeader">
						<div id="header">
							<div class="topbar-left">
								<ul>
									<li>
										<h:outputLink value="#"	id="linkOpciones" styleClass="link-process link-options" ></h:outputLink>
										<p:menu overlay="true" trigger="linkOpciones" my="left bottom" at="left top" styleClass="topbar-submenu">  
									        <p:menuitem value="#{msgs['login.session.lbl.close.system']}" actionListener="#{managerNavigationBean.beginCloseSystemListener}" update=":opnlGenericDialogs" rendered="#{not empty userInfo.currentSystem}"/>				        
								            <p:menuitem value="#{msgs['login.session.lbl.close.session']}" actionListener="#{managerNavigationBean.beginCloseSessionListener}" update=":opnlGenericDialogs" />
								            <p:separator></p:separator> 
											<p:menuitem value="#{msgs['lbl.footer.CentrodeInformacon']}" />
									    </p:menu>
									</li>
									<li id="idLiUserName">
										<h:outputText value="#{msgs['login.session.lbl.user']} " />
										<h:outputText value="#{userInfo.userAccountSession.userName}" styleClass="label-bolder" id="idOtxtLoginUserName"/>
									</li>
									<li id="idLiInstitution">
										<h:outputText value="#{msgs['login.session.lbl.institution']} "/>
										<h:outputText value="#{userInfo.userAccountSession.userInstitutionName}" styleClass="label-bolder" id="idOtxtUserInstitutionName"/>
									</li>
									<li>
										<h:outputText value="#{applicationParameter.stageApplicationValue}" escape="false"
										id="idOtxtAmbienteLbl" styleClass="label-enviroment label-bolder" />
									</li>									
								</ul>
							</div>
						</div>
					</h:form>
				</div>
				<h:form id="frmFooter">
					<h:graphicImage library="img" name="logo/logo_footer.jpg" styleClass="logo-footer" alt="" />
				</h:form>			
			</pe:layoutPane>
			<pe:layoutPane position="center" closable="false" resizable="true" styleContent="overflow-y:hidden" id="main-layout">
				<h:form id="frmchangepwd" prependId="false">
					<table align="center">
						<tr>
							<td colspan="2" align="center">
								<br/><h:outputText value="#{msgs['changepassword']}" styleClass="title-page"  id="idOtxtChangePwd"/>	
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center"><br/></td>
						</tr>
						<tr>
							<td><h:outputText value="#{msgs['user.lbl.user']}   : "  id="idOtxtUserNameLbl"/></td>
							<td><h:outputText value="#{userInfo.userAccountSession.userName}" id="idOtxtUserName"/></td>
						</tr>
						<tr>
							<td ><h:outputText value="#{msgs['OldPassword.message']} (*): "  id="idOtxtOldPwdLbl"/></td>
							<td ><p:password value="#{changePasswordBean.oldPassword}" autocomplete="off"
								maxlength="20" required="true"  id="oldpwd"/></td>
							<td><p:message for="oldpwd" display="icon" id="idMsgOldPwd" ></p:message></td>		
						</tr>
						<tr>
							<td ><h:outputText value="#{msgs['NewPassword.message']} (*): " id="idOtxtNewPwdLbl"/></td>
							<td ><p:password id="pwd1" maxlength="20"
								value="#{changePasswordBean.newPassword}" autocomplete="off"
								label="#{msgs['NewPassword.message']}" required="true" /></td>
							<td><p:message for="pwd1" display="icon" id="msgPwd1"></p:message></td>
						</tr>
						<tr>
							<td ><h:outputText value="#{msgs['ConfirmPassword.message']} (*): " id="idOtxtCnfPwdLbl" /></td>
							<td ><p:password id="pwd2" maxlength="20" autocomplete="off"
								value="#{changePasswordBean.confPassword}"
								label="#{msgs['ConfirmPassword.message']}" required="true"></p:password></td>
							<td>
								<p:message for="pwd2" display="icon" id="msgPwd2"></p:message>
							</td>
						</tr>
						<tr>
							<td align="center" colspan="3">
								<br/>
								<p:commandButton value="#{msgs['btn.accept']}" id="idCmdBtnAccept"
								action="#{changePasswordBean.resetPwd}"
								update="frmchangepwd,:opnlGenericDialogs" /></td>
						</tr>
					</table>
				</h:form>
			</pe:layoutPane>
			<pe:layoutPane position="south" closable="false" size="30" minHeight="30" resizable="false" styleContent="overflow-y:hidden" id="footer-bar" spacingOpen="0">
				<ui:include src="/template/includes/footer.xhtml" />
			</pe:layoutPane>
		</pe:layout>	
		
		<p:ajaxStatus onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"/>  
              
		<p:dialog modal="true" widgetVar="statusDialog"  id="idDialogStatus"
				resizable="false" draggable="false" closable="false" >  
        	<p:graphicImage library="img" id="idImgLoading"	name="loading/loading.gif"/> 	
     	</p:dialog>
		
		<p:dialog widgetVar="showpwdDialog" id="dialogshowPwdFirst" modal="true" closable="false" 
		resizable="false" header="#{msgs['lbl.header.alert.success']}" draggable="false">	
			<h:form id="cnfpwd">			
				<p:outputPanel id="showpwd">
					<table>
						<tr>
							<td><h:outputText value="#{msgs['pwd.change.success']}" id="idOtxtPwdSuccess"/></td>
						</tr>
						<tr>
							<td align="center">
							<p:commandButton value="#{msgs['btn.accept']}"
							action="#{loginBean.pwdChangeSucess}" id="idCmdBtnOk"/></td>
						</tr>
					</table>
				</p:outputPanel>	
			</h:form>			
		</p:dialog>

	    <ui:include src="/template/includes/dialogs.xhtml" />

	</h:body>
</html>

