<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>

	<h:outputScript library="js" name="functions.js" />
	<h:outputScript library="js" name="layout.js" />
	
	<h:outputStylesheet library="css" name="base_edv.css" />
	<h:outputStylesheet library="css" name="application_edv.css" />
	<h:outputStylesheet library="css" name="layout_edv.css" />
</h:head>

	<h:body>
		<pe:layout maskPanesEarly="true">
			<pe:layoutPane position="north" closable="false" size="80" minHeight="80" resizable="false" id="footer-layout" spacingOpen="0">
				<div id="topbar-layout">
				</div>
				<h:form id="frmFooter">
					<h:graphicImage library="img" name="logo/logo_footer.jpg" styleClass="logo-footer" alt="CAVAPY" 
							rendered="#{errorManagementBean.isUatOrProd}"/>
					<h:graphicImage library="img" name="logo/login_pradera.png"  styleClass="logo-footer" alt="PRADERA" 
							rendered="#{!errorManagementBean.isUatOrProd}"/>
				</h:form>			
			</pe:layoutPane>
			<pe:layoutPane position="center" closable="false" resizable="true" styleContent="overflow-y:hidden" id="main-layout">
				<h:form id="frmMultipleSessions" style="width:100%">
					<p:outputPanel id="idPnlGridUserSessions" style="width:100%">
						<div class="error-message-full-width">
							<p align="center"><h:outputText
											value="#{msgs['login.user.inanother.session']}"
											styleClass="required-field" />
							</p>
							<p align="center">
								<p:commandButton value="#{msgs['btn.accept']}"
									action="#{managerNavigationBean.closeRemoteSession}" ajax="false"
									id="idbtnaccept" />&nbsp;&nbsp;&nbsp;
								<p:commandButton
									value="#{msgs['btn.cancel']}"
									action="#{managerNavigationBean.closeCurrentSession}" ajax="false"
									id="idbtncancel" />
							</p>
						</div>
						<div align="center" style="margin-top:10px;">
					
							<p:dataTable var="s" value="#{managerNavigationBean.allRemoteSession}" 
									   reflow="true" style="width:80%">
							    <p:column headerText="Usuario">
							        <h:outputText value="#{s.userAccount.loginUser}" />
							    </p:column>
							 
							    <p:column headerText="Fecha Inicio Sesión">
							        <h:outputText value="#{s.initialDate}">
							        	<f:convertDateTime pattern="#{gmsgs['calendar.datetime.format']}" />
							        </h:outputText>
							    </p:column>
							 
							    <p:column headerText="IP">
							        <h:outputText value="#{s.registryIp}" />
							    </p:column>
							 
							</p:dataTable>
						
						</div>
					</p:outputPanel>
				</h:form>
			</pe:layoutPane>
			<pe:layoutPane position="south" closable="false" size="30" minHeight="30" resizable="false" styleContent="overflow-y:hidden" id="footer-bar" spacingOpen="0">
				<ul>
					<li>
						<h:outputText value="#{userInfo.currentYear}"
							id="idOtxtCurrentYear" /> &nbsp; <h:outputText
							value="#{msgs['login.sesion.lbl.vendor']}" id="idOtxtVendor" />
					</li>
					<li>
						<h:outputText value="#{msgs['lbl.devlope.env']}"/>
					</li>
					<li>
						<h:outputText value="#{msgs['lbl.devlope.version']}"/>
					</li>
					<li class="float-right no-margin">
						<h:outputText
							value="#{msgs['login.sesion.lbl.last.access']}"
							id="idOtxtLastAccess" />
						<h:outputText
							value="#{userInfo.userAccountSession.lastSucessAccess}"
							id="idOtxtLastSuccessAccess">
							<f:convertDateTime pattern="#{msgs['dateTimeSecondsFormat']}"
								timeZone="#{userInfo.timeZone}" />
						</h:outputText>
					</li>
				</ul>
			</pe:layoutPane>
		</pe:layout>	
		<p:ajaxStatus onstart="PF('statusDialog').show();"
			oncomplete="PF('statusDialog').hide();" />
	
		<p:dialog modal="true" widgetVar="statusDialog" id="idDialogStatus"
			resizable="false" draggable="false" closable="false">
			<p:graphicImage library="img" id="idImgLoading"
				name="loading/loading.gif" />
		</p:dialog>
	
		<ui:include src="/template/includes/dialogs.xhtml" />
	</h:body>
</html>
