<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">


<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmRectificationMgmt');
});
</script>

<h:outputText value="#{msgs['adm.rectification.lbl.register']}" styleClass="title-page" />
<p:importConstants type="com.pradera.model.custody.type.ChangeOwnershipBalanceTypeType" var="balanceTypeType" />

<h:form id="frmRectificationMgmt">
	<table width="100%">
		<tr>
		<td>
		<p:outputPanel id="opnlDemaCertificate">
				<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.register.data']}">
					<table width="100%" border="0" >
						<tr>
							<td width="180px">
								<h:outputText value="#{msgs['adm.rectification.operationType']} (*)" styleClass="required-field" />
							</td>
							<td width="350px">
								<h:panelGrid columns="2">
									<p:selectOneMenu
										label="#{msgs['adm.rectification.operationType']}"
										value="#{rectificationOperationBean.rectificationRequestTO.requestType}"
										maxlength="" id="cboOperationType">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
										<f:selectItems
											value="#{rectificationOperationBean.operationTypeParametersList}"
											var="type" itemLabel="#{type.parameterName}"
											itemValue="#{type.parameterTablePk}" />
										<p:ajax update="@this msgcboOperationType idRequestNumber"
											process="@this"
											listener="#{rectificationOperationBean.onChangeOperationTypeListener}" />
										<f:validator
											validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
									</p:selectOneMenu>
									<p:message for="cboOperationType" id="msgcboOperationType" display="icon" />
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td width="180px">
								<h:outputText value="#{msgs['adm.rectification.request.number']} (*)"
									styleClass="required-field" />
							</td>
							<td width="350px"><h:panelGrid columns="2" id="idPnlRequestNumber">
									<p:inputText id="idRequestNumber" style="text-align: right;"
										label="#{msgs['adm.rectification.request.number']}" maxlength="10"
										disabled="#{rectificationOperationBean.disableRequestNumber}"
										value="#{rectificationOperationBean.rectificationRequestTO.operationNumberRef}">
										<p:ajax event="blur"
											listener="#{rectificationOperationBean.onChangeCustodyOperationNumber}"
											update="idPnlRequestNumber :opnlModals outerDematerializationPanel outerRetirementPanel outerTransferAvaiblePanel outerTransferBlockPanel outerOwnerShipExchangePanel :opnlGenericDialogs" />
										<p:keyFilter mask="num" />
										<f:validator
											validatorId="com.pradera.commons.view.validators.InputTextValidator" />
									</p:inputText>
									<p:message id="msgIdRequestNumber" for="idRequestNumber" display="icon"></p:message>
								</h:panelGrid>
							</td>
							<td width="180px">
								<h:outputText value="#{msgs['adm.rectification.request.date']} (*)"
									styleClass="required-field" />
							</td>
							<td width="350px">
								<p:inputText id="idRequestDate" 
									label="#{msgs['adm.rectification.request.date']}" disabled="true" value="#{rectificationOperationBean.rectificationRequestTO.operationDate}">
									<f:convertDateTime pattern="#{gcons['dateFormat']}"/>
								</p:inputText>
							</td>
						</tr>
						<tr valign="top">
							<td >
								<h:outputText value="#{msgs['adm.rectification.lbl.motive']} (*)" styleClass="required-field"/></td>
							<td>			
								<h:panelGrid columns="2" id="pnlMotive">							
								<p:selectOneMenu id="cboMotive" label="#{msgs['adm.rectification.lbl.motive']}"
									value="#{rectificationOperationBean.rectificationRequestTO.rectificationOperation.requestMotive}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems var="motive"
										value="#{rectificationOperationBean.rectificationOperationMotiveList}"
										itemLabel="#{motive.parameterName}"
										itemValue="#{motive.parameterTablePk}" />
										<p:ajax process="@this" event="change"  listener="#{rectificationOperationBean.renderOtherMotiveListener}" 
											update="fldsFiltros"/>
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
								</p:selectOneMenu>
								<p:message id="msgMotive" for="cboMotive" display="icon"></p:message>
								</h:panelGrid>
							</td>																					
							<td>
								<h:outputText id="txtOtherMotive"
									value="#{msgs['lbl.observations']} (*)" styleClass="required-field"  
									rendered="#{rectificationOperationBean.renderOtherMotive}" />
							</td>
							<td>
								<h:panelGrid columns="2" id="pnlInputOtherMotive">
									<p:inputTextarea id="inputOtherMotive" cols="50" rows="5" label="#{msgs['lbl.observations']}"  
										size="50" maxlength="290" value="#{rectificationOperationBean.rectificationRequestTO.rectificationOperation.otherMotive}"
										rendered="#{rectificationOperationBean.renderOtherMotive}">
								    	<p:ajax event="blur" process="@this" update="pnlInputOtherMotive"/>
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
								   	</p:inputTextarea>
								   <p:message id="msgInputOtherMotive" for="inputOtherMotive" display="icon"></p:message>										
								</h:panelGrid>		
							</td>
													
						</tr>
						<tr>
							<td colspan="4">
								<p:outputPanel id="outerDematerializationPanel">
									<p:outputPanel id="dematerializationPanel" rendered="#{rectificationOperationBean.renderDematerializationPanel}">
										<p:fieldset legend="#{msgs['adm.rectification.request.detail']}">
											<table width="100%">
												<tr>
													<td width="170px"><h:outputText value="#{msgs['commons.label.registryDate']}" />
													</td>
													<td colspan="2">
														<p:inputText disabled="true"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.custodyOperation.registryDate}">
															<f:convertDateTime pattern="#{gcons['dateFormat']}"/>
														</p:inputText>
													</td>
												</tr>
												<tr>
													<td><h:outputText value="#{msgs['commons.label.participant']}" />
													</td>
													<td colspan="2">
														<p:inputText disabled="true" 
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.holderAccount.participant.displayDescriptionCode}">
														</p:inputText>
													</td>
												</tr>
												<tr>
													<td><h:outputText style="text-align: right;"
															value="#{msgs['commons.label.AccountHolder']}" />
													</td>
													<td><p:inputText disabled="true" size="17"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.holderAccount.accountNumber}" />
													</td>
											    </tr>
												<tr>
													<td><h:outputText style="text-align: right;"
															value="#{msgs['commons.label.cuiHolder']}" />
													</td>
													<td><p:inputText disabled="true" size="17"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.holder.idHolderPk}" />
													</td>
											    </tr>
												<tr>
													<td><h:outputText
															value="#{msgs['commons.label.securityClassKey']}" /></td>
													<td><p:inputText disabled="true" size="17"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.security.idSecurityCodePk}" />
													</td>
												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['lbl.no.certificate']}" /></td>
													<td><p:inputText disabled="true"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.certificateNumber}" />
													</td>
												</tr>
												<tr>
													<td><h:outputText value="#{msgs['adm.rectification.quantity']}" /></td>
													<td><p:inputText disabled="true" size="17"
															style="text-align:right"
															value="#{rectificationOperationBean.rectificationRequestTO.accountAnnotationOperation.totalBalance}" />
													</td>
												</tr>
											</table>
										</p:fieldset>
									</p:outputPanel>
								</p:outputPanel>
						</td>
						</tr>
						<tr>
							<td colspan="4">
								<p:outputPanel id="outerRetirementPanel">
									<p:outputPanel rendered="#{rectificationOperationBean.renderRetirementPanel}" id="opnlRetirement">
										<p:fieldset legend="#{msgs['adm.rectification.request.detail']}">
											<table width="100%">
												<tr>
													<td  width="170px">
														<h:outputText value="#{msgs['lbl.motive']}"/>
													</td>
													<td  width="360px">
														<p:inputText id="txtMotive" size="130"
															value="#{rectificationOperationBean.parametersTableMap.get(rectificationOperationBean.rectificationRequestTO.retirementOperation.motive)}"
															disabled="true"/> 
													</td>
													<td  width="170px">
														<h:outputText value="#{msgs['lbl.custody.operation.retirement.type']}"
															rendered="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.retirementType != null}"/>
													</td>
													<td  width="360px">
														<p:inputText id="txtRetirementType" 
															value="#{rectificationOperationBean.parametersTableMap.get(rectificationOperationBean.rectificationRequestTO.retirementOperation.retirementType)}"
															rendered="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.retirementType != null}"	
															disabled="true"/> 
													</td>
												</tr>
												<tr>
													<td>
														<h:outputText value="#{gmsgs['security.lbl.code']}"/>
													</td>
													<td>
														<h:panelGrid columns="2">	
															<p:inputText id="txtSecurityIdCode" size="25" 
																value="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.security.idSecurityCodePk}" disabled="true" /> 
															<ark:securities-help  securityCode="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.security.idSecurityCodePk}" icon="true" />
														</h:panelGrid>
													</td>
													<td>
														<h:outputText value="#{gmsgs['security.lbl.code.target']}" 
															rendered="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.targetSecurity != null}" />
													</td>
													<td>
														<h:panelGrid columns="2">	
															<p:inputText id="txtTargetSecurityIdCode" size="25" 
																value="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.targetSecurity.idSecurityCodePk}"
																rendered="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.targetSecurity != null}"  
																disabled="true" /> 
															<ark:securities-help  securityCode="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.targetSecurity.idSecurityCodePk}" icon="true" />
														</h:panelGrid>
													</td>
												</tr>
												<tr>
													<td>
														<h:outputText value="#{msgs['adm.rectification.total.quantity']}"/>
													</td>
													<td>
														<p:inputText value="#{rectificationOperationBean.rectificationRequestTO.retirementOperation.totalBalance}"
															disabled="true" size="15" styleClass="content-right">
															<f:convertNumber pattern="###,###,##0" locale="en_US"/>
														</p:inputText>
													</td>
												</tr>
											</table>
										</p:fieldset>
									</p:outputPanel>
								</p:outputPanel></td>
						</tr>
						<tr>
							<td colspan="4">
								<p:outputPanel id="outerTransferAvaiblePanel">
									<p:outputPanel rendered="#{rectificationOperationBean.transferAvailablePanel}" id="opnlTransferAvaible">
										<p:fieldset legend="#{msgs['adm.rectification.request.detail']}">
											<table width="100%">
												<tr>
													<td width="170px" ><h:outputText
															value="#{msgs['commons.label.registryDate']}" /></td>
													<td><p:inputText disabled="true" 
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.custodyOperation.registryDate}">
															<f:convertDateTime pattern="#{gcons['dateFormat']}"/>
														</p:inputText>
													</td>
												</tr>
												<tr>
													<td width="170px" ><h:outputText
															value="#{msgs['lbl.participant.origin']}" /></td>
													<td><p:inputText disabled="true" 
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.sourceParticipant.displayDescriptionCode}">
														</p:inputText></td>
												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['tdv.lable.originAccount']}" /></td>
													<td><p:inputText disabled="true" size="10"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.sourceHolderAccount.accountNumber}" />
													</td>
												</tr>

												<tr>
													<td><h:outputText
															value="#{msgs['lbl.ownershipexchange.participant.target']}" /></td>
													<td><p:inputText disabled="true"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.targetParticipant.displayDescriptionCode}">
														</p:inputText></td>
												</tr>

												<tr>
													<td><h:outputText
															value="#{msgs['tdv.lable.targetAccount']}" /></td>
													<td><p:inputText disabled="true" size="10"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.targetHolderAccount.accountNumber}" />
													</td>
												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['commons.label.securityKey']}" /></td>
													<td><p:inputText disabled="true" 
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.securities.idSecurityCodePk}" />
													</td>
												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['adm.rectification.quantity']}" /></td>
													<td><p:inputText disabled="true"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.quantityOperation}" />
													</td>
												</tr>
											</table>
										</p:fieldset>
									</p:outputPanel>
								</p:outputPanel></td>
						</tr>

						<tr>
							<td colspan="4">
								<p:outputPanel id="outerTransferBlockPanel">
									<p:outputPanel rendered="#{rectificationOperationBean.transferBlockPanel}" id="opnlTransferBlock">
										<p:fieldset legend="#{msgs['adm.rectification.request.detail']}">
											<table width="100%">
												<tr>
													<td width="170px" ><h:outputText
															value="#{msgs['commons.label.registryDate']}" /></td>
													<td><p:inputText disabled="true" 
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.custodyOperation.registryDate}">
															<f:convertDateTime pattern="#{gcons['dateFormat']}"/>
														</p:inputText></td>
												</tr>
												<tr>
													<td  width="170px"><h:outputText
															value="#{msgs['lbl.participant.origin']}" /></td>
													<td><p:inputText disabled="true" size="50"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.sourceParticipant.displayDescriptionCode}">
														</p:inputText></td>

												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['tdv.lable.originAccount']}" /></td>
													<td><p:inputText disabled="true" size="10"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.sourceHolderAccount.accountNumber}" />
													</td>
												</tr>

												<tr>
													<td><h:outputText
															value="#{msgs['lbl.ownershipexchange.participant.target']}" /></td>
													<td><p:inputText disabled="true" size="50"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.targetParticipant.displayDescriptionCode}">
														</p:inputText></td>
												</tr>

												<tr>
													<td><h:outputText
															value="#{msgs['tdv.lable.targetAccount']}" /></td>
													<td><p:inputText disabled="true" size="10"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.targetHolderAccount.accountNumber}" />
													</td>
												</tr>
												<tr>
													<td><h:outputText
															value="#{msgs['commons.label.securityClassKey']}" /></td>
													<td><p:inputText disabled="true" size="17"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.securities.idSecurityCodePk}" />
													</td>
												</tr>

												<tr>
													<td><h:outputText
															value="#{msgs['adm.rectification.quantity']}" /></td>
													<td><p:inputText disabled="true"
															style="text-align: right;"
															value="#{rectificationOperationBean.rectificationRequestTO.securityTransferOperation.quantityOperation}" />
													</td>
												</tr>
											</table>
										</p:fieldset>
									</p:outputPanel>
								</p:outputPanel></td>
						</tr>
						<tr>
							<td colspan="4">
								<p:outputPanel id="outerOwnerShipExchangePanel">
									<p:outputPanel rendered="#{rectificationOperationBean.changeOwnerShipPanel}"
										id="opnlOwnerShipPanel">
										<table width="100%">
											<tr>
												<td  width="170px"><p:fieldset id="sourceTargetDetailsFieldSet"
														legend="#{msgs['adm.rectification.quantity']}">
														<ui:repeat var="sourceChod"
															value="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.changeOwnershipDetails}"
															style="border-style: thin;">
															<p:fieldset
																legend="#{msgs['adm.rectification.detail.valor']} #{sourceChod.security.idSecurityCodePk}"
																toggleable="true">

																<p:dataTable var="sourcechod" id="sourcechodTable"
																	style="width:100%;" value="#{sourceChod}"
																	rowKey="#{sourcechod.idChangeOwnershipDetailPk}">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.ownershipexchange.fieldset.source']}" />
																	</f:facet>

																	<p:column
																		headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
																		style="width: 15px;" styleClass="content-center">
																		<h:outputText
																			value="#{sourcechod.participant.displayCodeMnemonic}" />
																	</p:column>

																	<p:column
																		headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
																		style="width: 8px;" styleClass="content-center">
																		<h:outputText
																			value="#{sourcechod.holderAccount.accountNumber}" />
																	</p:column>

																	<p:column
																		headerText="#{msgs['commons.label.securityClassKey']}"
																		style="width: 8px;" styleClass="content-center">
																		<h:outputText
																			value="#{sourcechod.security.idSecurityCodePk}" />
																	</p:column>
																	
																	<p:column
																		rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.AVAILABLE_BALANCE.code}"
																		headerText="#{msgs['adm.rectification.quantity']}"
																		style="width: 10px;" styleClass="content-right">
																		<h:outputText
																			value="#{sourcechod.availableBalance}" />
																	</p:column>
																	
																	<p:column
																		rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
																		headerText="#{msgs['adm.rectification.ban.quantity']}"
																		style="width: 10px;" styleClass="content-right">
																		<h:outputText
																			value="#{sourcechod.banBalance}" />
																	</p:column>
																	
																	<p:column
																		rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
																		headerText="#{msgs['adm.rectification.pawn.quantity']}"
																		style="width: 10px;" styleClass="content-right">
																		<h:outputText
																			value="#{sourcechod.pawnBalance}" />
																	</p:column>
																	
																	<p:column
																		rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
																		headerText="#{msgs['adm.rectification.other.block.quantity']}"
																		style="width: 10px;" styleClass="content-right">
																		<h:outputText
																			value="#{sourcechod.otherBlockBalance}" />
																	</p:column>

																</p:dataTable>

																<p:spacer height="10" />

																<p:outputPanel id="availDetails"
																	rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.AVAILABLE_BALANCE.code}">
																	<p:dataTable var="targetchod" id="targetchodTable"
																		style="width:100%;"
																		value="#{sourceChod.targetChangeOwnershipDetails}"
																		rowKey="#{targetchod.idChangeOwnershipDetailPk}">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['lbl.ownershipexchange.fieldset.target']}" />
																		</f:facet>

																		<p:column
																			headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
																			style="width: 15px;" styleClass="content-center">
																			<h:outputText
																				value="#{targetchod.participant.displayCodeMnemonic}" />
																		</p:column>

																		<p:column
																			headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
																			style="width: 8px;" styleClass="content-center">
																			<h:outputText
																				value="#{targetchod.holderAccount.accountNumber}" />
																		</p:column>

																		<p:column
																			headerText="#{msgs['commons.label.securityClassKey']}"
																			style="width: 8px;" styleClass="content-center">
																			<h:outputText
																				value="#{targetchod.security.idSecurityCodePk}" />
																		</p:column>

																		<p:column
																			headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}"
																			style="width: 10px;" styleClass="content-right">
																			<h:outputText
																				value="#{targetchod.availableBalance}" />
																		</p:column>
																	</p:dataTable>
																</p:outputPanel>
																
																<p:outputPanel id="blockDetails" 
																	rendered="#{rectificationOperationBean.rectificationRequestTO.changeOwnerShipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}">
																	<p:dataTable var="blockchod" id="blockchodTable" style="width:100%;"
																				 value="#{sourceChod.blockChangeOwnerships}" rowKey="#{blockchod.idBlockChangeOwnershipPk}" >
																		<f:facet name="header">
																			<h:outputText value="#{msgs['lbl.ownershipexchange.fieldset.target']}" />
																		</f:facet>
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
																			style="width: 20px;" styleClass="content-center">
																			<h:outputText value="#{blockchod.holderAccount.accountNumber}" />
																		</p:column>
											
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}"
																			style="width: 100px;" styleClass="content-center">
																			<h:outputText value="#{blockchod.holderAccount.alternateCode}" />
																		</p:column>
											
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}"
																			 styleClass="content-left">
																			<h:outputText value="#{blockchod.holderAccount.holderAccountDetailDescription}" escape="false" />
																		</p:column>
																		
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}"
																			style="width: 200px;"  styleClass="content-left">
																			<h:outputText value="#{blockchod.holderAccount.accountDocTypeAndNumber}" escape="false" />
																		</p:column>
																		
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
																			style="width: 75px;" styleClass="content-center" >
																			<h:outputText value="#{blockchod.participant.displayCodeMnemonic}" />
																		</p:column>
																		
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.op.number']}"
																			style="width: 15px;" styleClass="content-center" >
																			<h:outputText value="#{blockchod.blockOperation.documentNumber}" />
																		</p:column>
																		
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.level']}"
																			style="width: 50px;" styleClass="content-center" >
																			<h:outputText value="#{rectificationOperationBean.parametersTableMap.get(blockchod.blockOperation.blockLevel)}" />
																		</p:column>
								
																		<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}"
																		    style="width: 35px;"  styleClass="content-right">
																				<h:outputText value="#{blockchod.blockQuantity}"  />
																		</p:column>
																	</p:dataTable>
																</p:outputPanel>
																
															</p:fieldset>
														</ui:repeat>
													</p:fieldset></td>
											</tr>
										</table>

									</p:outputPanel>
								</p:outputPanel>
								</td>
						</tr>
					</table>
	
				</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton
					value="#{gmsgs['btn.save']}"
					process="@this fldsFiltros"
					actionListener="#{rectificationOperationBean.beforeSave}"
					update="fldsFiltros :opnlModals :opnlGenericDialogs"
					icon="fa fa-save">
					<f:param name="skipValidation" value="true" />
				</p:commandButton> <p:spacer width="5"></p:spacer> <p:commandButton id="btnClean"
					value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
					partialSubmit="false" process="@this" update="@form"
					onclick="return showCleanConfirmDialog(this);"
					oncomplete="PF('cnfwClean').hide()"
					actionListener="#{rectificationOperationBean.clearRegister()}" />
				<p:spacer width="5"></p:spacer> <p:commandButton
					value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="search"
					immediate="true" ajax="false"
					onclick="if(isModifiedFormForBack(this,'frmRectificationMgmt'))return false;" />


			</td>
		</tr>
	</table>
</h:form>

<p:outputPanel id="opnlModals">
	<p:confirmDialog id="cnfConfirmBeforeSave"
		widgetVar="cnfwConfirmBeforeSave" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false">

		<p:commandButton value="#{gmsgs['btn.yes']}"
			update=":opnlGenericDialogs opnlModals"
			oncomplete="PF('cnfwConfirmBeforeSave').hide()" process="@this"
			actionListener="#{rectificationOperationBean.save}" />

		<p:commandButton value="#{gmsgs['btn.no']}" type="button"
			onclick="PF('cnfwConfirmBeforeSave').hide();" />

	</p:confirmDialog>

	<p:confirmDialog id="cnfConfirmedBeforeSave"
		widgetVar="cnfwConfirmedBeforeSave" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false">

		<p:commandButton value="#{gmsgs['btn.accept']}" action="search"
			global="true" process="@this"
			update=":opnlGenericDialogs opnlModals"
			oncomplete="PF('cnfwConfirmedBeforeSave').hide();" />

	</p:confirmDialog>
</p:outputPanel>

</ui:define>
</ui:composition>
</html>