<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmRegUnblockAccreditation');
	  });
	</script>
<h:outputText value="#{gmsgs['iCustody.unblock.accreditation.register']}" styleClass="title-page"/>	
<h:form id="frmRegUnblockAccreditation">
	<table width="100%">
		<tr>
			<td>
				<table width="100%">
				
					<tr>
						<td>
							<p:fieldset id="fldsFiltros" legend="#{gmsgs['lbl.criteria.search']}">
								<table width="100%">
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}"/>
										</td>
										<td>
											<p:inputText value="#{unblockAccreditationMgmBean.accreditationOperationTO.custodyOperation.operationNumber}">
												<p:keyFilter regEx="/[0-9]/i"/>
											</p:inputText>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.certificate.number']}"/>
										</td>
										<td>
											<p:inputText value="#{unblockAccreditationMgmBean.accreditationOperationTO.certificateNumber}">
												<p:keyFilter regEx="/[0-9]/i"/>
											</p:inputText>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.requester.type']}" />
										</td>
										<td colspan="3">
											<p:selectOneMenu id="petitionerType"
												disabled="#{unblockAccreditationMgmBean.blParticipant or unblockAccreditationMgmBean.blIssuer}"
												value="#{unblockAccreditationMgmBean.accreditationOperationTO.petitionerType}" style="width:120px">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{unblockAccreditationMgmBean.accreditationOperationTO.listPetitionerType}"
															   var="petitionerType" itemLabel="#{petitionerType.parameterName}"
															   itemValue="#{petitionerType.parameterTablePk}" />
												<p:ajax update="@form opnlResult idHolderPart cboParticipant" event="change"
													listener="#{unblockAccreditationMgmBean.onChangePetitionerForSearch}" />
											</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<p:outputPanel id="blockEntityOutputPanel"
											rendered="#{unblockAccreditationMgmBean.accreditationOperationTO.petitionerType == unblockAccreditationMgmBean.creditorPetitioner}">
											<td>
												<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.block.entity']}" />
											</td>
											<td colspan="3">
												<ark:blockEntityHelper id="opnlBlockType"
													blockEntity="#{unblockAccreditationMgmBean.accreditationOperationTO.idBlockEntity}"
													remoteListener="cleanEntBlock()" />
												<p:remoteCommand process="@this" name="cleanEntBlock"
													actionListener="#{unblockAccreditationMgmBean.cleanResultsRegister}"
													update="opnlResult" />
											</td>
										</p:outputPanel>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.participant']}" />
										</td>
										<td colspan="3">
											<p:selectOneMenu label="#{msgs['lbl.unblock.accreditation.filter.participant']}" style="width:420px"
												disabled="#{unblockAccreditationMgmBean.blParticipant}" id="cboParticipant"
												value="#{unblockAccreditationMgmBean.accreditationOperationTO.participantPetitioner.idParticipantPk}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
												<f:selectItems value="#{unblockAccreditationMgmBean.accreditationOperationTO.listParticipantPetitioner}"
															   var="participant" itemValue="#{participant.idParticipantPk}"
															   itemLabel="#{participant.displayDescriptionCode}" />
												<p:ajax event="change" update="@this opnlResult idHolderPart"
													process="@this" listener="#{unblockAccreditationMgmBean.changeParticipantRegister}"/>
											</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.issuer']}" />
										</td>
										<td colspan="3">
											<ark:issuerHelper id="idIssuerPk" disabled="#{unblockAccreditationMgmBean.blIssuer}"
												issuer="#{unblockAccreditationMgmBean.accreditationOperationTO.issuer}"
												remoteListener="validaIssuer()" label="#{msgs['lbl.unblock.accreditation.filter.issuer']}">
											</ark:issuerHelper>
											<p:remoteCommand name="validaIssuer" update="idIssuerPk, :outPnlDialogs"
												actionListener="#{dematerializationCertificateBean.validateIssuerRegister}" />
										</td>
									</tr>
									<tr>
										<td width="160px">
											<h:outputText id="optCode" value="#{msgs['lbl.unblock.accreditation.filter.holder']}"/>
										</td>
										<td>
											<ark:holderHelper id="idHolderPart" blParticipant="true" remoteListener="cleanHolderPart()"
															  participant="#{unblockAccreditationMgmBean.accreditationOperationTO.participantPetitioner.idParticipantPk}"
															  holder="#{unblockAccreditationMgmBean.accreditationOperationTO.holder}" />
											<p:remoteCommand name="cleanHolderPart" actionListener="#{unblockAccreditationMgmBean.cleanResultsRegister}"
															 process="@this" update="opnlResult" />
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.security.class']}" />
										</td>
										<td colspan="3">
											<p:selectOneMenu id="cmbSecurityClass" label="#{msgs['  ']}" style="width:300px"
															 value="#{unblockAccreditationMgmBean.accreditationOperationTO.security.securityClass}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{unblockAccreditationMgmBean.accreditationOperationTO.listSecurityClass}"
													var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.text1} #{cons['lbl.concat.dash']} #{parameter.description}"/>
													<p:ajax event="change" update="pnlSecutiyHelp" process="@this"/>
											</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.security.code']}"/>
										</td>
										<td>
											<h:panelGrid id="pnlSecutiyHelp" columns="4" cellspacing="0" cellpadding="0">
											<ark:securityHelper id="securityHelper" security="#{unblockAccreditationMgmBean.accreditationOperationTO.security}"
												blIssuer="true" securityClass="#{unblockAccreditationMgmBean.accreditationOperationTO.security.securityClass}"
												remoteListener="updateFieldSe()"/>
											<p:remoteCommand name="updateFieldSe" update=":frmRegUnblockAccreditation:securityHelp" process="@this"/>	
											<p:spacer width="5"/>
											<p:outputPanel id="securityHelp">
												<ark:securities-help securityCode="#{unblockAccreditationMgmBean.accreditationOperationTO.security.idSecurityCodePk}"/>
											</p:outputPanel>
											</h:panelGrid>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.date.type']} (*)" styleClass="required-field"/>
										</td>
										<td colspan="2">
											<p:selectOneMenu id="cmbDateType" label="#{msgs['lbl.unblock.accreditation.filter.date.type']} (*)"
															 style="width:300px" value="#{unblockAccreditationMgmBean.accreditationOperationTO.dateTypeTO.code}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{unblockAccreditationMgmBean.accreditationOperationTO.listDateType}"
													var="dateType" itemValue="#{dateType.code}" itemLabel="#{dateType.description}"/>
													<p:ajax event="change" process="@this" update="@this, msgDateType"  />
													<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>
										</td>
										<td><p:message display="icon" for="cmbDateType"	id="msgDateType" />
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.initial.date']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<h:panelGrid columns="2">
											<p:calendar id="calendarInit" navigator="true" size="10"
												readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
												value="#{unblockAccreditationMgmBean.accreditationOperationTO.initialDate}"
												maxdate="#{unblockAccreditationMgmBean.accreditationOperationTO.finalDate}" >
												<p:ajax event="dateSelect" process="@this" update="calendarEnd @this" />
											</p:calendar>
											</h:panelGrid>
										</td>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.final.date']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<h:panelGrid columns="2">
											<p:calendar id="calendarEnd" navigator="true" size="10"
												required="true" readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
												mindate="#{unblockAccreditationMgmBean.accreditationOperationTO.initialDate}"
												value="#{unblockAccreditationMgmBean.accreditationOperationTO.finalDate}">
												<p:ajax event="dateSelect" process="@this" update="calendarInit @this" />
											</p:calendar>
											</h:panelGrid>
										</td>
									</tr>
									
									<tr>
										<td colspan="5" align="center">
											<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" update="@form" rendered="#{userPrivilege.userAcctions.search}"
												icon="fa fa-search" actionListener="#{unblockAccreditationMgmBean.SearchRequestAccreditation}" />
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:outputPanel id="opnlResult" style="width:100%;" rendered="#{unblockAccreditationMgmBean.listAccreditationDataModel != null}">
								<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}">
									<p:dataTable id="dtbResultRescue" value="#{unblockAccreditationMgmBean.listAccreditationDataModel.dataList}"
										var="accreditationOperation" rendered="#{(unblockAccreditationMgmBean.listAccreditationDataModel.rowCount >= 1)}"
										paginator="true" rows="10" paginatorPosition="top" rowKey="#{accreditationOperation.idAccreditationOperationPk}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										selection="#{unblockAccreditationMgmBean.listAccreditationSelectedTO}">
																
										<p:column selectionMode="multiple" styleClass="content-center" />
										
										<!-- <p:column sortBy="#{accreditationOperation.custodyOperation.operationNumber}" styleClass="content-center" style="width: 15%">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}"/>
											</f:facet>
											<p:commandLink value="#{accreditationOperation.custodyOperation.operationNumber}" style="color:blue"
												action="#{unblockAccreditationMgmBean.loadAccreditationOperation(accreditationOperation)}" />
										</p:column> -->
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.custodyOperation.operationNumber}">
											<h:outputText value="#{accreditationOperation.custodyOperation.operationNumber}" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.registry.date']}" styleClass="content-center"
											sortBy="#{accreditationOperation.registerDate}">
											<h:outputText value="#{accreditationOperation.registerDate}">
												<f:convertDateTime pattern="#{cons['date.pattern']}"/>
											</h:outputText>
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.requester.type']}" styleClass="content-center"
											sortBy="#{unblockAccreditationMgmBean.mapPetitionerTypeParameters.get(accreditationOperation.petitionerType)}">
											<h:outputText value="#{unblockAccreditationMgmBean.mapPetitionerTypeParameters.get(accreditationOperation.petitionerType)}"/>
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.account']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.accountNumber}">
											<h:outputText value="#{accreditationOperation.accountNumber}" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.description']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.holderDescription}" >
											<h:outputText value="#{accreditationOperation.holderDescription}" escape="false" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.security.code']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.security.idSecurityCodePk}">
											<ark:securities-help securityCode="#{accreditationOperation.security.idSecurityCodePk}" link="true" icon="false" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.expiration.date']}" styleClass="content-center"
											sortBy="#{accreditationOperation.expirationDate}">
											<h:outputText value="#{accreditationOperation.expirationDate}">
												<f:convertDateTime pattern="#{cons['date.pattern']}"/>
											</h:outputText>
										</p:column>
										
										<f:facet name="footer">
											<div style="width:100%; text-align:left">
											<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								            	<f:param value="#{unblockAccreditationMgmBean.listAccreditationDataModel.rowCount}"/>
								            </h:outputFormat>
											</div>
										</f:facet>
									</p:dataTable>
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold"
											rendered="#{!(unblockAccreditationMgmBean.listAccreditationDataModel.rowCount >= 1)}"/>
								</p:fieldset>
							</p:outputPanel>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton id="saveBtn" value="#{gmsgs['btn.save']}" actionListener="#{unblockAccreditationMgmBean.beforeSave}"
			  		icon="fa fa-save" update="@form, :outPnlDialogs"/>
				
				<p:commandButton id="cleanFrmBtn" value="#{gmsgs['btn.clean']}" 
					icon="fa fa-trash" process="@this" onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" 
			    	immediate="true" actionListener="#{unblockAccreditationMgmBean.cleanRegistration}" update="@form"/>	  	
			    			
				<p:commandButton id="backBtn" value="#{gmsgs['btn.back']}" action="searchUnblockAccreditation"
					immediate="true" icon="fa fa-undo" onclick="if(isModifiedFormForBack(this)) return false;" />
			</td>
		</tr>
	</table>
</h:form>
<p:outputPanel id="outPnlDialogs">
	<h:form id="frmMessage">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" rendered="true" visible="false">
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":outPnlDialogs"
				actionListener="#{unblockAccreditationMgmBean.saveRequest}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this" update="@form"/>
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" rendered="true" visible="false" severity="info">
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchUnblockAccreditation" value="#{gmsgs['btn.accept']}"
				process="@this"/>
		</p:confirmDialog>
	</h:form>
</p:outputPanel>
</ui:define>
</ui:composition>
</html>