<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmSearchUnblockAccreditation');
	  });
	</script>
<h:form id="frmSearchUnblockAccreditation">
	<table width="100%">
	<tr>
		<td width="100%">
			<table width="100%">
			<tr>
				<td>
					<h:outputText value="#{gmsgs['iCustody.unblock.accreditation.manage']}" styleClass="title-page"/>
				</td>
				<td align="right" >
					<p:commandButton value="#{msgs['lbl.unblock.accreditation.register.btn']}" rendered="#{userPrivilege.userAcctions.register}"
						icon="fa fa-edit" action="#{unblockAccreditationMgmBean.newRequest}" process="@this"/>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<p:fieldset id="fldsFiltros" legend="#{gmsgs['lbl.criteria.search']}">
				<table width="100%">
				
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.unblock.number']}"/>
						</td>
						<td>
							<p:inputText value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.custodyOperation.operationNumber}">
								<p:keyFilter regEx="/[0-9]/i"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}"/>
						</td>
						<td>
							<p:inputText value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.accreditationOperation.custodyOperation.operationNumber}">
								<p:keyFilter regEx="/[0-9]/i"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.certificate.number']}"/>
						</td>
						<td>
							<p:inputText value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.accreditationOperation.certificateNumber}">
								<p:keyFilter regEx="/[0-9]/i"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.participant']}" />
						</td>
						<td colspan="3">
							<p:selectOneMenu label="#{msgs['lbl.unblock.accreditation.filter.participant']}" style="width:400px"
								disabled="#{unblockAccreditationMgmBean.blParticipant}"
								id="cboParticipant" value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.participantPetitioner.idParticipantPk}">
								<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
								<f:selectItems value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.listParticipantPetitioner}" var="participant"
									itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
								<p:ajax event="change" update="@this opnlPrivileges opnlResult idHolderPart" 
									process="@this" listener="#{unblockAccreditationMgmBean.changeParticipantSearch}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.issuer']}" />
						</td>
						<td colspan="3">
							<ark:issuerHelper id="idIssuerPk" disabled="#{unblockAccreditationMgmBean.blIssuer}"
								issuer="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.issuer}"
								remoteListener="validaIssuer()" label="#{msgs['lbl.unblock.accreditation.filter.issuer']}">
							</ark:issuerHelper>
							<p:remoteCommand name="validaIssuer" update="idIssuerPk, :opnlDialogs"
								actionListener="#{dematerializationCertificateBean.validateIssuerSearch}" />
						</td>
					</tr>
					<tr>
						<td width="160px">
							<h:outputText id="optCode" value="#{msgs['lbl.unblock.accreditation.filter.holder']}"/>
						</td>
						<td>
							<ark:holderHelper id="idHolderPart" blParticipant="true" remoteListener="cleanHolderPart()"
											  participant="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.participantPetitioner.idParticipantPk}"
											  holder="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.holder}" />
							<p:remoteCommand name="cleanHolderPart" actionListener="#{unblockAccreditationMgmBean.cleanResults}"
											 process="@this" update="opnlResult" />
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.security.class']}" />
						</td>
						<td colspan="3">
							<p:selectOneMenu id="cmbSecurityClass" value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.security.securityClass}"
								label="#{msgs['  ']}" style="width:300px">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.listSecurityClass}"
									var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.text1} #{cons['lbl.concat.dash']} #{parameter.description}"/>
									<p:ajax event="change" update="pnlSecurityHelp" process="@this"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.withdrawal.sirtex.register.securityCode']}"/>
						</td>
						<td>
							<h:panelGrid id="pnlSecurityHelp" columns="4" cellspacing="0" cellpadding="0">
							<ark:securityHelper id="securityHelper" security="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.security}"
								blIssuer="true" securityClass="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.security.securityClass}"
								remoteListener="updateFieldSe()"/>
							<p:remoteCommand name="updateFieldSe" update=":frmSearchUnblockAccreditation:securityHelp" process="@this"/>	
							<p:spacer width="5"/>
							<p:outputPanel id="securityHelp">
							<ark:securities-help securityCode="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.security.idSecurityCodePk}"/>
							</p:outputPanel>
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.state']}" />
						</td>
						<td>
							<p:selectOneMenu id="stateId" value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.custodyOperation.state}" >
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.listUnblockAccreditationState}"
									var="state" itemLabel="#{state.parameterName}" itemValue="#{state.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.initial.date']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="calendarInit" navigator="true" size="10"
								readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
								value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.initialDate}"
								maxdate="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.finalDate}" >
								<p:ajax event="dateSelect" process="@this" update="calendarEnd @this" />
							</p:calendar>
							</h:panelGrid>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.final.date']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="calendarEnd" navigator="true" size="10"
								required="true" readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
								mindate="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.initialDate}"
								maxdate="#{unblockAccreditationMgmBean.currentSystemDate}"
								value="#{unblockAccreditationMgmBean.unblockAccreditationOperationTO.finalDate}">
								<p:ajax event="dateSelect" process="@this" update="calendarInit @this" />
							</p:calendar>
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td colspan="5" align="center">
							<p:commandButton value="#{gmsgs['btn.search']}" update="@form" process="@form, @this" rendered="#{userPrivilege.userAcctions.search}"
								icon="fa fa-search" actionListener="#{unblockAccreditationMgmBean.SearchRequestUnblockAccreditation()}"/>
							<p:commandButton value="#{gmsgs['btn.clean']}" update="@form"
								icon="fa fa-trash" process="@this" actionListener="#{unblockAccreditationMgmBean.clean}"/>
						</td>
					</tr>
				</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlPrivileges" rendered="#{(unblockAccreditationMgmBean.listUnblockAccreditationDataModel.rowCount >= 1)}">
				<arkPriv:privileges id="praderaPrivileges"
			 		actionApprove="#{unblockAccreditationMgmBean.validateApprove}"
			 		actionAnnular="#{unblockAccreditationMgmBean.validateAnnul}"
			 		actionReject="#{unblockAccreditationMgmBean.validateReject}"
			 		actionConfirm="#{unblockAccreditationMgmBean.validateConfirm}"
			 		actions="#{userPrivilege.userAcctions}"
			 		renders="#{userPrivilege.privilegeComponent}"/>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td> 
			<p:outputPanel id="opnlResult" style="width:100%;" rendered="#{unblockAccreditationMgmBean.listUnblockAccreditationDataModel != null}">
				<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}">
					<p:dataTable id="dtbResultRescue" var="unblockAccreditation" value="#{unblockAccreditationMgmBean.listUnblockAccreditationDataModel.dataList}"
						rendered="#{(unblockAccreditationMgmBean.listUnblockAccreditationDataModel.rowCount >= 1)}"
						paginator="true" rows="10" paginatorPosition="top" rowKey="#{unblockAccreditation.idUnblockAccreditationPk}"
						paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						selection="#{unblockAccreditationMgmBean.listUnblockAccreditationSelectedTO}">
						
						<p:column selectionMode="multiple" styleClass="content-center"/>
						
						<p:column sortBy="#{unblockAccreditation.custodyOperation.operationNumber}" styleClass="content-center" style="width: 15%">
							<f:facet name="header">
								<h:outputText value="#{msgs['lbl.unblock.accreditation.column.request.unblock.number']}"/>
							</f:facet>
							<p:commandLink value="#{unblockAccreditation.custodyOperation.operationNumber}" style="color:blue"
								action="#{unblockAccreditationMgmBean.loadUnblockAccreditationOperation(unblockAccreditation.idUnblockAccreditationPk)}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.request.accreditation.number']}" styleClass="content-center" 
							sortBy="#{unblockAccreditation.accreditationOperation.custodyOperation.operationNumber}">
							<h:outputText value="#{unblockAccreditation.accreditationOperation.custodyOperation.operationNumber}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.registry.date']}" styleClass="content-center" 
							sortBy="#{unblockAccreditation.custodyOperation.registryDate}">
							<h:outputText value="#{unblockAccreditation.custodyOperation.registryDate}">
								<f:convertDateTime pattern="#{cons['date.pattern']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.account']}" styleClass="content-center" 
							sortBy="#{unblockAccreditation.accountNumber}">
							<h:outputText value="#{unblockAccreditation.accountNumber}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.description']}" styleClass="content-center" 
							sortBy="#{unblockAccreditation.holderDescription}">
							<h:outputText value="#{unblockAccreditation.holderDescription}" escape="false" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.security.code']}" styleClass="content-center" 
							sortBy="#{unblockAccreditation.security.idSecurityCodePk}">
							<ark:securities-help securityCode="#{unblockAccreditation.security.idSecurityCodePk}" link="true" icon="false" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.expiration.date']}" styleClass="content-center"
							sortBy="#{unblockAccreditation.expirationDate}">
							<h:outputText value="#{unblockAccreditation.expirationDate}">
								<f:convertDateTime pattern="#{cons['date.pattern']}"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msgs['lbl.unblock.accreditation.column.state']}" styleClass="content-center"
							sortBy="#{unblockAccreditationMgmBean.mapSecurityClassParameters.get(unblockAccreditation.custodyOperation.state)}">
							<h:outputText value="#{unblockAccreditationMgmBean.mapSecurityClassParameters.get(unblockAccreditation.custodyOperation.state)}"/>
						</p:column>
						
						<f:facet name="footer">
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{unblockAccreditationMgmBean.listUnblockAccreditationDataModel.rowCount}"/>
				            </h:outputFormat>
							</div>
						</f:facet>
					</p:dataTable>
					<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold"
							   rendered="#{!(unblockAccreditationMgmBean.listUnblockAccreditationDataModel.rowCount >= 1)}"/>
				</p:fieldset>
			</p:outputPanel>
		</td>
	</tr>
	</table>
</h:form>
<p:outputPanel id="opnlDialogs">
	<h:form id="frmMessage">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" rendered="true" visible="false">
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":opnlDialogs"
				actionListener="#{unblockAccreditationMgmBean.doAction}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this" update="@form"/>
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info">
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this"
				action="searchUnblockAccreditation" value="#{gmsgs['btn.accept']}" update=":frmSearchUnblockAccreditation:opnlResult"/>
		</p:confirmDialog>
	</h:form>
</p:outputPanel>	
</ui:define>
</ui:composition>
</html>