<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{gmsgs['iCustody.unblock.accreditation.view']}" styleClass="title-page"/>
<script type="text/javascript">
		$(window).load(function(){
			setInitialFormState('#frmViewUnblockAccreditation');
		});
	</script>
<h:form id="frmViewUnblockAccreditation">
	<table width="100%">
		<tr>
			<td>
				<table width="100%">
				
					<tr>
						<td>
							<p:fieldset id="fldsFiltros" legend="#{gmsgs['lbl.criteria.search']}">
								<table width="30%">
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.column.request.unblock.number']}"/>
										</td>
										<td>
											<p:inputText disabled="true"
														 value="#{unblockAccreditationMgmBean.unblockAccreditationOperation.custodyOperation.operationNumber}" />
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.column.registry.date']}" />
										</td>
										<td>
											<p:calendar id="registryDate" disabled="true" navigator="true" size="10"
												readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
												value="#{unblockAccreditationMgmBean.unblockAccreditationOperation.custodyOperation.registryDate}" >
											</p:calendar>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.column.expiration.date']}" />
										</td>
										<td>
											<p:calendar id="expirationDate" disabled="true" navigator="true" size="10"
												readonlyInput="true" showOn="both" pattern="#{cons['date.pattern']}" disabledWeekends="true"
												value="#{unblockAccreditationMgmBean.unblockAccreditationOperation.expirationDate}" >
											</p:calendar>
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.unblock.accreditation.column.state']}"/>
										</td>
										<td>
											<p:inputText disabled="true"
														 value="#{unblockAccreditationMgmBean.mapSecurityClassParameters.get(unblockAccreditationMgmBean.unblockAccreditationOperation.custodyOperation.state)}" />
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:outputPanel id="opnlResult" style="width:100%;" rendered="#{unblockAccreditationMgmBean.listAccreditationDataModelDetail != null}">
								<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}">
									<p:dataTable id="dtbResultRescue" value="#{unblockAccreditationMgmBean.listAccreditationDataModelDetail.dataList}"
										var="accreditationOperation" rendered="#{(unblockAccreditationMgmBean.listAccreditationDataModelDetail.rowCount >= 1)}"
										paginator="true" rows="10" paginatorPosition="top" rowKey="#{accreditationOperation.idAccreditationOperationPk}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
																
										<!-- <p:column sortBy="#{accreditationOperation.custodyOperation.operationNumber}" styleClass="content-center" style="width: 15%">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}"/>
											</f:facet>
											<p:commandLink value="#{accreditationOperation.custodyOperation.operationNumber}" style="color:blue"
												action="#{unblockAccreditationMgmBean.loadAccreditationOperation(accreditationOperation)}" />
										</p:column> -->
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.filter.request.accreditation.number']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.custodyOperation.operationNumber}">
											<h:outputText value="#{accreditationOperation.custodyOperation.operationNumber}" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.registry.date']}" styleClass="content-center"
											sortBy="#{accreditationOperation.registerDate}">
											<h:outputText value="#{accreditationOperation.registerDate}">
												<f:convertDateTime pattern="#{cons['date.pattern']}"/>
											</h:outputText>
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.requester.type']}" styleClass="content-center"
											sortBy="#{unblockAccreditationMgmBean.mapPetitionerTypeParameters.get(accreditationOperation.petitionerType)}">
											<h:outputText value="#{unblockAccreditationMgmBean.mapPetitionerTypeParameters.get(accreditationOperation.petitionerType)}"/>
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.account']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.accountNumber}">
											<h:outputText value="#{accreditationOperation.accountNumber}" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.holder.description']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.holderDescription}">
											<h:outputText value="#{accreditationOperation.holderDescription}" escape="false" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.security.code']}" styleClass="content-center" 
											sortBy="#{accreditationOperation.security.idSecurityCodePk}">
											<ark:securities-help securityCode="#{accreditationOperation.security.idSecurityCodePk}" link="true" icon="false" />
										</p:column>
										
										<p:column headerText="#{msgs['lbl.unblock.accreditation.column.expiration.date']}" styleClass="content-center"
											sortBy="#{accreditationOperation.expirationDate}">
											<h:outputText value="#{accreditationOperation.expirationDate}">
												<f:convertDateTime pattern="#{cons['date.pattern']}"/>
											</h:outputText>
										</p:column>
										
										<f:facet name="footer">
											<div style="width:100%; text-align:left">
											<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								            	<f:param value="#{unblockAccreditationMgmBean.listAccreditationDataModelDetail.rowCount}"/>
								            </h:outputFormat>
											</div>
										</f:facet>
									</p:dataTable>
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold"
											rendered="#{!(unblockAccreditationMgmBean.listAccreditationDataModelDetail.rowCount >= 1)}"/>
								</p:fieldset>
							</p:outputPanel>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton value="#{gmsgs['btn.approve']}"  icon="ui-approve" rendered="#{unblockAccreditationMgmBean.viewOperationApprove}"
								 actionListener="#{unblockAccreditationMgmBean.beforeAction}" update=":outPnlDialogs" />
				<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-anulate" rendered="#{unblockAccreditationMgmBean.viewOperationAnnul}"
								 actionListener="#{unblockAccreditationMgmBean.beforeAction}" update=":outPnlDialogs :opnlGenericDialogs" />
								 
				<p:commandButton value="#{gmsgs['btn.confirm']}"  icon="ui-confirm" rendered="#{unblockAccreditationMgmBean.viewOperationConfirm}"
								 actionListener="#{unblockAccreditationMgmBean.beforeAction}" update=":outPnlDialogs" />
								 
				<p:commandButton value="#{gmsgs['btn.reject']}"   icon="ui-cancel"  rendered="#{unblockAccreditationMgmBean.viewOperationReject}"
								 actionListener="#{unblockAccreditationMgmBean.beforeAction}" update=":outPnlDialogs :opnlGenericDialogs" />
				<p:commandButton value="#{gmsgs['btn.back']}" 	  icon="fa fa-undo" 	action="searchUnblockAccreditation" id="cmbBack" process="@this" />
			</td>
		</tr>
	</table>
</h:form>
<p:outputPanel id="outPnlDialogs">
	<h:form id="frmMessage">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" rendered="true" visible="false">
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":outPnlDialogs"
				actionListener="#{unblockAccreditationMgmBean.doAction}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this" update="@form"/>
		</p:confirmDialog>
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" rendered="true" visible="false" severity="info">
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchUnblockAccreditation" value="#{gmsgs['btn.accept']}"
				process="@this"/>
		</p:confirmDialog>
	</h:form>
</p:outputPanel>
</ui:define>
</ui:composition>
</html>