<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
  	 setInitialFormState('#frmMassiveInterface');
  	});
</script>	
<h:outputText value="Registro Excel Anotaciones en Cuenta de Títulos"  styleClass="title-page" />
	<h:form id="frmMassiveInterface">
	<table width="99%">
		<tr>
		<td>
		<p:outputPanel id="opnlMcnFileUpload" rendered="true" >		
		<p:fieldset legend="#{gmsgs['lbl.operation.massive.uploadFile']}" id="fldProcessFiles">
			<table width="100%" border="0">
			<tr>
				<td><h:outputText
						value="#{msgs['lbl.accountannotation.register.participant']} (*)"
						styleClass="required-field" style="padding-left:0px"  /></td>
				<td colspan="3"><h:panelGrid columns="3">
						<p:selectOneMenu
							disabled="#{dematerializationCertificateBeanNew.blParticipant}"
							label="#{msgs['lbl.accountannotation.register.participant']}"
							id="cboParticipant" required="true"
							value="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.idParticipantPk}"
							style="width:500px">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							<f:selectItems
								value="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.lstParticipants}"
								var="participant"
								itemLabel="#{participant.displayDescriptionCode}"
								itemValue="#{participant.idParticipantPk}" />
							<p:ajax
								update="@this msgParticipant opnlMcnFile @form "
								event="change" process="@this"
								listener="#{dematerializationCertificateBeanNew.changeParticipant}" />
							<f:validator
								validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						</p:selectOneMenu>
						<p:message for="cboParticipant" id="msgParticipant"
							display="icon" />
					</h:panelGrid></td>
			</tr>
			<tr>
				<td width="150px">
					<h:outputLabel value="#{gmsgs['lbl.operation.massive.file']} (*)" styleClass="required-field" />
				</td>
				<td style="white-space: nowrap;">
					<p:outputPanel id="opnlMcnFile" styleClass="fileupload-customize" layout="block">
					<p:fileUpload id="fuplMcnFile" widgetVar="fuplwMcnFile"
		  			   label="#{gmsgs['fupl.label']}" auto="true" required="true"
		  			   disabled="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.idParticipantPk == null}"	
					   update="opnlMcnFile :opnlGenericDialogs :cnfMsgCustomValidationSec"
					   fileUploadListener="#{dematerializationCertificateBeanNew.readFileExcel}"
					   allowTypes="/(\.|\/)(xlsx)$/"
					   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}" 
					   >
					</p:fileUpload>
					<script type="text/javascript">
						$(document).ready(function(){
							fileuploadValidate('fuplMcnFile');
						});
					</script>
					<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
					<h:panelGrid columns="4">
					<p:tooltip for="imgLimit">
						<h:outputFormat value="#{msgs['upload.formats.availables.info']}" escape="false">
							<f:param value="#{dematerializationCertificateBeanNew.xlsFileUploadFileTypesDisplay}"/>			
						</h:outputFormat>
					</p:tooltip>
					<h:outputLabel id="lblFuplIssuanceCert" 
						 value="#{dematerializationCertificateBeanNew.fileExcelPersist.nameFileExcel == null ? gmsgs['fupl.no.selected'] : dematerializationCertificateBeanNew.fileExcelPersist.nameFileExcel}" 
						 styleClass="label"	/>
					</h:panelGrid>
					
					<p:fieldset legend="#{gmsgs['lbl.operation.massive.file.validation.errorTable']}">
						<p:dataTable id="dtbResult" var="error" value="#{dematerializationCertificateBeanNew.lstErrorReadExcel}" 
									rendered="#{dematerializationCertificateBeanNew.lstErrorReadExcel.size() >= 1}"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									paginator="true" rows="10" paginatorPosition="top"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
									rowIndexVar="rIndx" >
							<p:column style="width:50px">
								<f:facet name="header">
									<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.number']}" styleClass="text-header-table" />
								</f:facet>
								<h:outputText value="#{rIndx+1}" style="align:right" />
							</p:column>
							<p:column style="width:300px">
								<f:facet name="header">
									<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.description']}" styleClass="text-header-table" />
								</f:facet>
								<h:outputText value="#{error}" escape="false" style="align:left; white-space: normal;" />
							</p:column>
						</p:dataTable>
						<h:outputLabel value="Sin errores" 
							rendered="#{!(dematerializationCertificateBeanNew.lstErrorReadExcel.size() >= 1)}"
							style="font-weight:bold;"/>
					</p:fieldset>
				</p:outputPanel>	
				</td>
			</tr>
			
			<tr>
				<td width="150px">
					<h:outputLabel value="#{msgs['lbl.file.attached']}" />
				</td>
				<td style="white-space: nowrap;">
					<p:outputPanel id="opnlMcnFileAtt" styleClass="fileupload-customize" layout="block">
					<p:fileUpload id="fuplMcnFileAtt" widgetVar="fuplwMcnFileAtt"
		  			   label="#{gmsgs['fupl.label']}" auto="true" required="true"
					   update="opnlMcnFileAtt :opnlGenericDialogs :cnfMsgCustomValidationSec"
					   fileUploadListener="#{dematerializationCertificateBeanNew.uploadAttachedFile}"
					   allowTypes="/(\.|\/)(pdf)$/"
					   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}" 
					   >
					</p:fileUpload>
					<script type="text/javascript">
						$(document).ready(function(){
							fileuploadValidate('fuplMcnFileAtt');
						});
					</script>
					<p:graphicImage id="imgLimitAtt" library="img" name="icons/help.png" styleClass="icon"/>
					<h:panelGrid columns="4">
					<p:tooltip for="imgLimitAtt">
						<h:outputFormat value="#{msgs['upload.formats.availables.info']}" escape="false">
							<f:param value="#{dematerializationCertificateBeanNew.pdfFileUploadFileTypesDisplay}"/>			
						</h:outputFormat>
					</p:tooltip>
					<h:outputLabel id="lblFuplIssuanceCertAtt" 
						 value="#{dematerializationCertificateBeanNew.fileExcelPersist.nameFileAttached == null ? gmsgs['fupl.no.selected'] : dematerializationCertificateBeanNew.fileExcelPersist.nameFileAttached}" 
						 styleClass="label"	/>
					</h:panelGrid>
					</p:outputPanel>	
				</td>
			</tr>

			<tr>
				<td align="center" colspan="4">
					<br/>
					<p:commandButton id="btnUpload" process="@this" value="#{msgs['btn.guardar']}" update=":frmMassiveInterface:opnlMcnFileUpload :opnlGenericDialogs outPnlDialogs" 
						icon="ui-add" partialSubmit="true" action="#{dematerializationCertificateBeanNew.saveRequestMasive}" />
					<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"
										action="searchAccountAnnotationNew" process="@this" id="btnBack" />
<!-- 					onclick="if(isModifiedFormForBack(this))return false;" -->
				</td>
			</tr>
			</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
	</table>

		<p:outputPanel id="outPnlDialogs">
			<p:confirmDialog widgetVar="cnfWEndDialog1" id="cnfIdEndDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" severity="info">
				<p:commandButton oncomplete="PF('cnfWEndDialog1').hide()" action="searchAccountAnnotationNew"
					value="#{gmsgs['btn.accept']}" process="@this" />
			</p:confirmDialog>
		</p:outputPanel>
	</h:form>		
	
</ui:define>
</ui:composition>
</html>