<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">    
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<table id="tblMainSearchPaymentAgent" width="100%"> 
				<tr> 
					<td> 
						<table border="0" width="100%"> 
							<tr> 
							<td align="left"> 
								<h:outputLabel value = "#{msgs['lbl.modify.paying.agent.page']}"  styleClass="title-page"  style="align: left" id="idTitle"/>
							</td>
							</tr>
						</table>
					</td>
				</tr> 
			</table>
			<!--FILTROS PARA LA MODIFICACION DE CONTACTOS AGENTE PAGADOR-->
		<h:form id="frmModifyPaymentAgent">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="Datos de Modificacion" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "Tipo de Agente Pagador (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idTypePaymentAgent" disabled="true"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.parameterTablePk}">
							            <f:selectItems var="parameterTable"  value="#{searchPaymentAgentContactMgmtBean.listTypePayingAgent}" 
							           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
									</p:selectOneMenu>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "Agente Pagador (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idPaymentAgent" disabled="true"
											value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.idPaymentAgentPk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="paymentAgent"  value="#{searchPaymentAgentContactMgmtBean.listPaymentAgents}" 
							           		itemValue="#{paymentAgent.idPaymentAgentPk}" itemLabel="#{paymentAgent.mnemonic} - #{paymentAgent.description}" />									</p:selectOneMenu>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Nombre y primer apellido-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" id="name" value=  "Nombre (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText id="idNamePayer" style="width:68%;"  immediate="true" 
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.name}" > 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<f:validateLength maximum="40"/>
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />
									</p:inputText >
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value = "1er Apellido (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idFirstNamePayer"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.firstName}"> 
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<f:validateLength maximum="40"/>
									<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator" />
									</p:inputText>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Segundo apellido y email-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel value=  "2do Apellido"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idLastNamePayer"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.lastName}"> 
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<f:validateLength maximum="40"/>
									</p:inputText>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "Correo Electronico (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idEmailPayerModify" immediate="true"  maxlength="50"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.email}"
										styleClass="sensitive-inputField email-inputField" > 
										<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										<p:ajax event="blur" update="idEmailPayerModify" process="@this"/>
										<f:validator validatorId="com.pradera.commons.view.validators.EmailValidator"/>
									</p:inputText>
									<p:watermark for="idEmailPayerModify" value="usuario@dominio" />
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Telefono Celular y Telefono de Oficina-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value=  "Telefono Celular (*)" styleClass="required-field"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idCellPhonePayer"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.cellPhone}"> 
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<f:validateLength maximum="20"/>
									<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel value=  "#{msgs['lbl.office.phone']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idPhone" 
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.phone}"> 
									<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
									<f:validateLength maximum="20"/>
									</p:inputText>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Telefono Interno y Cargo-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value =  "#{msgs['lbl.intern']}" />
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.internPhone}"> 
								    <f:validateLength maximum="8"/>
								    <p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
									</p:inputText>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel value="#{msgs['lbl.job']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" maxlength="20" size="20"
										value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.job}">
									<f:validateLength maximum="20"/>
									<p:keyFilter regEx="#{cons['exp.regular.name']}" />
									</p:inputText>
								</td>
							</tr>
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value =  "Paga con LIP"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectBooleanCheckbox value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.paymentWithLip}"/>
								</td>
								<td width="15%" colspan="1">
									
								</td>
								<td width="35%" colspan="1">
									
								</td>
							</tr>
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel rendered="false" value =  "#{msgs['lbl.label.ind.send.url.payment']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectBooleanCheckbox  rendered="false" value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.indSendUrlPayment}"/>
								</td>
								<td width="15%" colspan="1">
									
								</td>
								<td width="35%" colspan="1">
									
								</td>
							</tr>
							<!--Cifrado de e mail-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value =  "Cifrar"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectBooleanCheckbox value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.encryptMail}"/>
								</td>
								<td width="15%" colspan="1">
								</td>
								<td width="35%" colspan="1">
								</td>
							</tr>
							<!-- Cettificado para cifrar correo electronico -->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value =  "Certificado (*.cer)"/>
								</td>
								<td width="35%" colspan="1">
								</td>
								<td width="15%" colspan="1">
								</td>
								<td width="35%" colspan="1">
								</td>
							</tr>
							<!-- Cettificado para cifrar correo electronico -->
							<tr style="height: 4px;"></tr>
							<tr>
								<td colspan="4"><p:outputPanel
										styleClass="fileupload-customize" layout="block">
										<p:fileUpload id="fuplDocumentFile" mode="advanced"
											auto="true"
											onstart="clearInvalidFileMsgFupl(fuplwDocumentFile);"
											widgetVar="fuplwDocumentFile" label="#{gmsgs['fupl.label']}"
											allowTypes="/(\.|\/)(cer)$/"
											sizeLimit="50000"
											invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
											invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"
											fileUploadListener="#{searchPaymentAgentContactMgmtBean.documentAttachFile}"
											update="fuplDocumentFile lblFuplDocumentFile idBtnDeleteFile" />
										<script type="text/javascript">
											$(document).ready(function(){
												fileuploadValidate('frmRegisterBankAccount:fuplDocumentFile',fuplwDocumentFile);
											});
										</script>
										<p:graphicImage id="imgLimit" library="img"
											name="icons/help.png" styleClass="icon" />
										<p:tooltip for="imgLimit">
											<h:outputFormat value="#{gmsgs['fupl.limit.info']}"
												escape="false">
												<f:param value="50000" />
												<f:param value="*.cer" />
											</h:outputFormat>
										</p:tooltip>
										<h:outputLabel id="lblFuplDocumentFile"
											value="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.certificateName==null ? gmsgs['fupl.no.selected'] : searchPaymentAgentContactMgmtBean.agentModifiedTO.certificateName}"
											styleClass="label" />
										</p:outputPanel>
									</td>
							</tr>
							<tr>
								<td colspan="4">
									<p:commandLink id="idBtnDeleteFile" disabled="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.certificateName==null}"
										action="#{searchPaymentAgentContactMgmtBean.deleteCertificateLoaded}"
										update="@this fuplDocumentFile imgLimit lblFuplDocumentFile"
										style="color:red" value="#{msgs['lbl.delete']}" >
									</p:commandLink>
								</td>
							</tr>							
							<tr style="height: 4px;"></tr>
							<tr>
								<td colspan="1">
									<h:outputLabel value="#{msgs['lbl.security.class.list']} (*)" styleClass="required-field" />
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<tr>
								<td width="15%" colspan="2">
									<p:dataTable id="idDataTableSecurityClass" var="securityClass" 
									 value="#{searchPaymentAgentContactMgmtBean.listSecurityClass}"
									 paginator="true" rows="10" paginatorPosition="top" 
									 rowKey="#{securityClass.parameterTablePk}" 
									 paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
									 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									 selection="#{searchPaymentAgentContactMgmtBean.agentModifiedTO.listSecurityClassSelected}">											
									<p:column headerText="Id" styleClass="content-center" 
										sortBy="#{securityClass.parameterTablePk}">
										<h:outputLabel value="#{securityClass.parameterTablePk}">
										</h:outputLabel>
									</p:column>
									<p:column headerText="Nemonico" styleClass="content-center" 
										sortBy="#{securityClass.text1}">
										<h:outputLabel value="#{securityClass.text1}">
										</h:outputLabel>
									</p:column>
									<p:column headerText="Descripsion" styleClass="content-center" 
											sortBy="#{securityClass.description}">
										<h:outputLabel value="#{securityClass.description}">
										</h:outputLabel>
									</p:column>
									<p:column selectionMode="multiple"   styleClass="content-center" > 
									</p:column>
								</p:dataTable>
								</td>
							</tr>
						</table>
						</p:fieldset>
					</td>
				</tr>
				<tr style="height: 4px;"></tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton id="idBtnSavePaymentAgent" 
						    value="#{gmsgs['btn.modify']}"  
						    icon="ui-save"
						    update="@form"
							action="#{searchPaymentAgentContactMgmtBean.preModifyPaymetAgent}"> 
			        	</p:commandButton>  
			        	<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						<p:commandButton id="idBtnBackPaymentAgent" 
						    value = "#{gmsgs['btn.back']}" 
							icon = "ui-back" 
							process="@form @this" async="true"
							action = "#{searchPaymentAgentContactMgmtBean.backModifyPaymentScreen}"> 									 
			        	</p:commandButton>   
					</td>
				</tr>
			</table>
		</h:form>	
		<p:outputPanel id="opnlDialogs">
			<h:form id="formRegistreDialogs">
				<!--Dialogo de confirmacion para regresar a la pantalla de busqueda-->
				<p:confirmDialog id="idBackModifyScreen"
					widgetVar="wVBackModifyScreen" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						onclick="idBackModifyScreen.hide()" process="@this"
						action="backPageModifyPagePaymentAgentContact" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idBackRegistreScreen.hide()" />
				</p:confirmDialog>
				
				<!--Dialogo de confirmacion de registro de la modificacion del usuario/contacto agente pagador pagador-->
				<p:confirmDialog id="idconfirmModifyPaymet"
					widgetVar="wVconfirmModifyPaymet" message="#{msgs['alert.confirm.registre.modify.contact']}"
					header="Confirmacion de Registro" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVconfirmModifyPaymet.hide()" process="@this"
						actionListener="#{searchPaymentAgentContactMgmtBean.executeSaveModify}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
					    onclick="idconfirmModifyPaymet.hide()"/>
				</p:confirmDialog>
				<!--Dialogo de aviso de registro de la modificacion exitoso-->
				<p:confirmDialog id="idModifySuccessfull"
					widgetVar="wVModifySuccessfullPaymet" message="#{bodyMessageView}"
					header="#{headerMessageView}"  closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}" 
						oncomplete="wVModifySuccessfullPaymet.hide()" process="@this"
						action="#{searchPaymentAgentContactMgmtBean.modifySuccessfullPaymet}" />
				</p:confirmDialog>
				
			</h:form>
		</p:outputPanel>	
		</ui:define>
	</ui:composition>
</html>