<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">    
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<table id="tblMainSearchPaymentAgent" width="100%"> 
				<tr> 
					<td> 
						<table border="0" width="100%"> 
							<tr> 
							<td align="left"> 
								<h:outputLabel value = "#{msgs['lbl.paying.agent.modify.title']}"  styleClass="title-page"  style="align: left" id="idTitle"/>
							</td>
							</tr>
						</table>
					</td>
				</tr> 
			</table>
			<!--FILTROS PARA LA MODIFICACION DE AGENTE PAGADOR-->
		<h:form id="frmModifyPaymentAgent">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="Datos de Modificacion" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value="#{msgs['lbl.paying.agent.type']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idTypePaymentAgent"
										value="#{searchPaymetAgentMgmtBean.agentModifiedTO.parameterTablePk}">
							            <f:selectItems var="parameterTable"  value="#{searchPaymetAgentMgmtBean.listTypePayingAgent}" 
							           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
									</p:selectOneMenu>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.paying.agent.correo']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idEmailPayerModify" immediate="true"  maxlength="50"
										value="#{searchPaymetAgentMgmtBean.agentModifiedTO.email}"
										styleClass="sensitive-inputField email-inputField" > 
										<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										<p:ajax event="blur" update="idEmailPayerModify" process="@this"/>
										<f:validator validatorId="com.pradera.commons.view.validators.EmailValidator"/>
									</p:inputText>
									<p:watermark for="idEmailPayerModify" value="usuario@dominio" />
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Descripcion y Mnemonico-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value=  "#{msgs['lbl.paying.agent.descripcion']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idDescription"  maxlength="100"
										value="#{searchPaymetAgentMgmtBean.agentModifiedTO.description}"> 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.paying.agent.mnemonic']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idMnemonic"  maxlength="3"
										value="#{searchPaymetAgentMgmtBean.agentModifiedTO.mnemonic}"> 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}" />
										<p:ajax listener="#{searchPaymetAgentMgmtBean.verifyMnemonic()}"/>
										<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Telefono Celular y Telefono de Oficina-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value=  "Telefono Celular (*)" styleClass="required-field"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="idCellPhonePayer"
										value="#{searchPaymetAgentMgmtBean.agentModifiedTO.cellPhone}"> 
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<f:validateLength maximum="20"/>
									<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
						</table>
						</p:fieldset>
					</td>
				</tr>
				<tr style="height: 4px;"></tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton id="idBtnSavePaymentAgent" 
						    value="#{gmsgs['btn.modify']}"  
						    icon="ui-save"
						    update="@form"
							action="#{searchPaymetAgentMgmtBean.preModifyPaymetAgent}"> 
			        	</p:commandButton>  
			        	<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						<p:commandButton id="idBtnBackPaymentAgent" 
						    value = "#{gmsgs['btn.back']}" 
							icon = "ui-back" 
							process="@form @this" async="true"
							action = "#{searchPaymetAgentMgmtBean.backModifyPaymentScreen}"> 									 
			        	</p:commandButton>   
					</td>
				</tr>
			</table>
		</h:form>	
		<p:outputPanel id="opnlDialogs">
			<h:form id="formRegistreDialogs">
				<!--Dialogo de confirmacion para regresar a la pantalla de busqueda-->
				<p:confirmDialog id="idBackModifyScreen"
					widgetVar="wVBackModifyScreen" 
					header="#{headerMessageView}" message="#{bodyMessageView}" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						onclick="idBackModifyScreen.hide()" process="@this"
						action="backPageModifyPagePaymentAgent" />
					<p:commandButton value="#{gmsgs['btn.no']}"
						onclick="idBackRegistreScreen.hide()" />
				</p:confirmDialog>
				
				<!--Dialogo de confirmacion de registro de la modificacion del usuario/contacto agente pagador pagador-->
				<p:confirmDialog id="idconfirmModifyPaymet"
					widgetVar="wVconfirmModifyPaymet" message="¿Está seguro de modificar el Agente Pagador #{searchPaymetAgentMgmtBean.paymentAgentSelected.description}?"
					header="Confirmacion de Registro" closable="false">
					<p:commandButton value="#{gmsgs['btn.yes']}"
						oncomplete="wVconfirmModifyPaymet.hide()" process="@this"
						actionListener="#{searchPaymetAgentMgmtBean.executeSaveModify}" />
					<p:commandButton value="#{gmsgs['btn.no']}"
					    onclick="idconfirmModifyPaymet.hide()"/>
				</p:confirmDialog>
				<!--Dialogo de aviso de registro de la modificacion exitoso-->
				<p:confirmDialog id="idModifySuccessfull"
					widgetVar="wVModifySuccessfullPaymet" message="#{bodyMessageView}"
					header="#{headerMessageView}"  closable="false">
					<p:commandButton value="#{gmsgs['btn.accept']}" 
						oncomplete="wVModifySuccessfullPaymet.hide()" process="@this"
						action="#{searchPaymetAgentMgmtBean.modifySuccessfullPaymet}" />
				</p:confirmDialog>
				
			</h:form>
		</p:outputPanel>	
		</ui:define>
	</ui:composition>
</html>