<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">    
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">	
		<!--FILTROS PARA LA BUSQUEDA-->
		<h:form id="frmSearchPaymentAgent">
			<table width="100%">
				<tr> 
					<td>
						<table width="100%">
							<tr>
								<td align="left" colspan="1"> 
									<h:outputText value="#{msgs['lbl.paying.agent.title']}" 
									styleClass="title-page"  style="align: left" id="idTitle"/>
								</td>
								<td colspan="1">
								</td>
								<td colspan="1">
								</td>
								<td align="right" colspan="1">
									<p:commandButton value = "#{msgs['lbl.register']}"  immediate="true" ajax="false" style="align: right"
									 	rendered="#{searchPaymetAgentMgmtBean.userPrivilege.userAcctions.register}" icon="ui-new"
									 	action="pageRegisterPaymentAgent"/>
								</td>	
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.search.registre']}" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.paying.agent.type']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idTypePaymentAgent"  
										value="#{searchPaymetAgentMgmtBean.searchPaymentAgent.parameterTablePk}">
							            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="parameterTable"  value="#{searchPaymetAgentMgmtBean.listTypePayingAgent}" 
							           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
									</p:selectOneMenu>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel value="#{msgs['lbl.state.msg']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idStatePaymentAgent"
										value="#{searchPaymetAgentMgmtBean.searchPaymentAgent.state}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="parameterTable"  value="#{searchPaymetAgentMgmtBean.listStatePayingAgent}" 
							           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Descripcion y Mnemonico-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel id="name" value= "#{msgs['lbl.paying.agent.descripcion']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText  style="width:68%;"  maxlength="40" value="#{searchPaymetAgentMgmtBean.searchPaymentAgent.description}"> 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									</p:inputText >
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel value = "#{msgs['lbl.paying.agent.mnemonic']}"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" maxlength="40" value="#{searchPaymetAgentMgmtBean.searchPaymentAgent.mnemonic}"> 
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									</p:inputText>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<tr>
								<td colspan="6" align="center">
									<p:commandButton value="Buscar" icon="ui-search" process="@this @form"
										update="frmSearchPaymentAgent opnlResult fldResult privilegesButtons idVisibleResultPayment"
										actionListener="#{searchPaymetAgentMgmtBean.searchFromFilters()}">
								    </p:commandButton>				    
									<p:spacer width="5"></p:spacer> 
						   			<p:commandButton id="idBtnClearPaymentAgent" 
								        value="#{gmsgs['btn.clean']}" icon="ui-empty"
								    	update="frmSearchPaymentAgent opnlResult fldResult privilegesButtons idVisibleResultPayment"
								    	actionListener="#{searchPaymetAgentMgmtBean.clrearFilters()}"> 
								    </p:commandButton>
								</td>
							</tr>	
						</table>
					</p:fieldset>
					</td>
				</tr>
				<tr>
				<td>
					<p:outputPanel id="opnlResult" style="width:100%;" >
						<p:outputPanel id="privilegesButtons"
							rendered="#{(searchPaymetAgentMgmtBean.listPaymentAgent.rowCount >= 1)}">
							<p:spacer width="10"></p:spacer> 
							<!--MODIFICAR-->
							<p:commandButton value = "#{gmsgs['btn.modify']}"  
				                 ajax="true"
				                 style="align: right" icon="ui-edit"
						 	     rendered="#{userPrivilege.userAcctions.modify}"
						 	     action="#{searchPaymetAgentMgmtBean.beforeModify}"/>
						    <p:spacer width="3"></p:spacer> 
						 	 <!--RECHAZAR-->
						 	 <p:commandButton value = "#{gmsgs['btn.reject']}"  
				                 ajax="true"
				                 style="align: right" icon="ui-cancel"
						 	     rendered="#{userPrivilege.userAcctions.reject}"
						 	     action="#{searchPaymetAgentMgmtBean.beforeReject}"/>
						 	 <p:spacer width="3"></p:spacer> 
						 	 <!--CONFIRMAR-->
						 	 <p:commandButton value = "#{gmsgs['btn.confirm']}"  
						 	 	 ajax="true"
				                 style="align: right" icon="ui-confirm"
						 	     rendered="#{userPrivilege.userAcctions.confirm}"
						 	     action="#{searchPaymetAgentMgmtBean.beforeConfirm}"/>
						</p:outputPanel>
						<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" 
							rendered="#{(searchPaymetAgentMgmtBean.listPaymentAgent.rowCount >= 1)}">
						<p:dataTable id="idPaymentAgent" var="paymentAgentContact" 
						    value="#{searchPaymetAgentMgmtBean.listPaymentAgent}"
							paginator="true" rows="10" paginatorPosition="top" 
							rowKey="#{paymentAgentContact.idPaymentAgentPk}" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							selection="#{searchPaymetAgentMgmtBean.paymentAgentSelected}">								
							<p:column selectionMode="single" style="width:18px" />					
							<p:column headerText="#{msgs['lbl.paying.agent.mnemonic']}" styleClass="content-center" 
								sortBy="#{paymentAgentContact.mnemonic}" style="width:50px">
								<p:commandLink action="paymentAgentLoadInfo" 
										actionListener="#{searchPaymetAgentMgmtBean.loadAgentInfo}" 
										style="color:blue" value="#{paymentAgentContact.mnemonic}" >
								   <f:attribute name="paymentAgentView" value="#{paymentAgentContact}"/>
								</p:commandLink>
							</p:column>
							<p:column headerText="#{msgs['lbl.paying.agent.descripcion']}" 
									sortBy="#{paymentAgentContact.description}">
								<h:outputLabel value="#{paymentAgentContact.description}">
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.email.filter']}" 
									sortBy="#{paymentAgentContact.email}">
								<h:outputLabel value="#{paymentAgentContact.email}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.registre.date']}" styleClass="content-center" 
									sortBy="#{paymentAgentContact.registreDate}">
								<h:outputLabel value="#{paymentAgentContact.registreDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['lbl.state.msg']}" styleClass="content-center" 
									sortBy="#{paymentAgentContact.stateDesc}">
								<h:outputLabel value="#{paymentAgentContact.stateDesc}"/>
							</p:column>
							<p:column headerText="#{msgs['lbl.situation.msg']}" styleClass="content-center" 
									sortBy="#{paymentAgentContact.situationDesc}">
								<h:outputLabel value="#{paymentAgentContact.situationDesc}"/>
							</p:column>
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{searchPaymetAgentMgmtBean.listPaymentAgent.rowCount}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>	
						</p:dataTable>
					</p:fieldset>
					<h:outputLabel value="#{msgs['lbl.alert.no.result.search']}" id="idVisibleResultPayment"
								rendered="#{searchPaymetAgentMgmtBean.visibleResult}"
								style="font-weight:bold;"/>
					</p:outputPanel>
				</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formSearchDialogs">
				<!-- DIALOGO PARA CONFIRMAR EL BLOQUEO-->
				<p:confirmDialog widgetVar="cnfDlgBlockStateConfirm" id="cnfIdDlgBlockStateConfirm"
							 header="#{headerMessageView}" 
							 message="#{bodyMessageView}"  
							 closable="false"> 	
					<p:commandButton 
							value="#{gmsgs['btn.confirm']}" 
							onclick="cnfIdDlgBlockStateConfirm.hide()" 
							process="@this"
							actionListener="#{searchPaymetAgentMgmtBean.blockPayerAgentDialogConfirm}">
					</p:commandButton> 
					<p:commandButton 
							value="#{gmsgs['btn.reject']}" 
							oncomplete="cnfDlgBlockStateConfirm.hide()" 
							process="@this"
							action="#{searchPaymetAgentMgmtBean.blockPayerAgentDialogReject}" >
					</p:commandButton> 
					<p:commandButton 
							value="#{gmsgs['btn.back']}" 
							onclick="cnfDlgBlockStateConfirm.hide()">
					</p:commandButton>
				</p:confirmDialog>
				<!-- DIALOGO PARA CONFIRMAR EL DES-BLOQUEO-->
				<p:confirmDialog widgetVar="cnfDlgUnBlockStateConfirm" id="cnfIdDlgUnBlockStateConfirm"
							 header="#{headerMessageView}" 
							 message="#{bodyMessageView}"  
							 closable="false"> 	
					<p:commandButton 
							value="#{gmsgs['btn.confirm']}" 
							onclick="cnfIdDlgUnBlockStateConfirm.hide()" 
							process="@this"
							actionListener="#{searchPaymetAgentMgmtBean.unBlockPayerAgentDialogConfirm}">
					</p:commandButton> 
					<p:commandButton 
							value="#{gmsgs['btn.reject']}" 
							onclick="cnfIdDlgUnBlockStateConfirm.hide()" 
							process="@this"
							actionListener="#{searchPaymetAgentMgmtBean.blockPayerAgentDialogConfirmReject}">
					</p:commandButton> 
					<p:commandButton 
							value="#{gmsgs['btn.back']}" 
							onclick="cnfIdDlgUnBlockStateConfirm.hide()">
					</p:commandButton>
				</p:confirmDialog>
				<!-- DIALOGO PARA CONFIRMAR EL DES-BLOQUEO-->
				<p:confirmDialog widgetVar="dlgAlertMessagePaymentAgent" id="idAlertMessagePaymentAgent"
							 header="#{headerMessageView}" 
							 message="#{bodyMessageView}"  
							 closable="false"> 	
					<p:commandButton 
							value="#{gmsgs['btn.accept']}" 
							onclick="idAlertMessagePaymentAgent.hide()">
					</p:commandButton>
				</p:confirmDialog>
				</h:form>
			</p:outputPanel>
	</ui:define>
</ui:composition>
</html>