<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">	
		<!--FILTROS PARA DE LA VISTA-->
		<h:form id="frmSearchPaymentAgent">
			<table width="100%">
				<tr> 
					<td>
						<table width="100%">
							<tr>
								<td align="left" colspan="1"> 
									<h:outputText  value="#{msgs['lbl.paying.agent.view.title']}" styleClass="title-page"  style="align: left" id="idTitle"/>
								</td>
								<td colspan="1">
								</td>
								<td colspan="1">
								</td>
								<td align="right" colspan="1">
								</td>	
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="Datos antes de la modificacion" rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedConfirmModfy}">
							<table width="100%" border="0">
								<tr>
									<td width="15%" colspan="1">
										<h:outputLabel styleClass="required-field" value ="#{msgs['lbl.paying.agent.type']} (*)"/>
									</td>
									<td width="30%" colspan="1">
										<p:selectOneMenu style="width:70%;" disabled="true" value="#{searchPaymetAgentMgmtBean.paymentAgentSelected.typePaymentAgent}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
								            <f:selectItems var="parameterTable"  value="#{searchPaymetAgentMgmtBean.listTypePayingAgent}" 
								           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
										</p:selectOneMenu>
									</td>
									<td width="15%" colspan="1">
										<h:outputLabel styleClass="required-field" value="#{msgs['lbl.paying.agent.correo']} (*)"/>
									</td>
									<td width="35%" colspan="1">
										<p:inputText style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.paymentAgentSelected.email}"/>
									</td>
								</tr>
								<tr style="height: 4px;"></tr>
								<!--Descripcion y Mnemonico-->
								<tr>
									<td width="15%" colspan="1">
										<h:outputLabel styleClass="required-field" value="#{msgs['lbl.paying.agent.descripcion']} (*)" />
									</td>
									<td width="35%" colspan="1">
										<p:inputText  style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.paymentAgentSelected.description}"/>
									</td>
									<td width="15%" colspan="1">
										<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.paying.agent.mnemonic']} (*)"/>
									</td>
									<td width="35%" colspan="1">
										<p:inputText style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.paymentAgentSelected.mnemonic}"/>
									</td>
								</tr>
								<tr style="height: 4px;"></tr>
								<!--Telefono Celular y Telefono de Oficina-->
								<tr>
									<td width="15%" colspan="1">
										<h:outputLabel  value=  "#{msgs['lbl.paying.agent.celular']} (*)"/>
									</td>
									<td width="35%" colspan="1">
										<p:inputText style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.paymentAgentSelected.cellPhone}"/>
									</td>
								</tr>
								<tr style="height: 4px;"></tr>
							</table>
						</p:fieldset>
						<p:fieldset legend="Detalle" id="idMainFieldSet">
							<table width="100%" border="0">
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value ="#{msgs['lbl.paying.agent.type']} (*)"/>
								</td>
								<td width="30%" colspan="1">
									<p:selectOneMenu style="width:70%;" id="idTypePaymentAgent" disabled="true" value="#{searchPaymetAgentMgmtBean.viewPaymentAgent.parameterTablePk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
							            <f:selectItems var="parameterTable"  value="#{searchPaymetAgentMgmtBean.listTypePayingAgent}" 
							           		itemValue="#{parameterTable.parameterTablePk}" itemLabel="#{parameterTable.description}" />
									</p:selectOneMenu>
									<p:outputLabel value="     (*)" style="color:red; font-size:12px;font-weight:bold;" rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedParameterTablePk}"/>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value="#{msgs['lbl.paying.agent.correo']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" id="inputEmail" disabled="true" value="#{searchPaymetAgentMgmtBean.viewPaymentAgent.email}"> 
									</p:inputText>
									<p:outputLabel value="     (*)" style="color:red; font-size:12px;font-weight:bold;" rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedEmailAsterisk}"/>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Descripcion y Mnemonico-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel id="name" styleClass="required-field" value="#{msgs['lbl.paying.agent.descripcion']} (*)" />
								</td>
								<td width="35%" colspan="1">
									<p:inputText  style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.viewPaymentAgent.description}"/>
									<p:outputLabel value="     (*)" style="color:red; font-size:12px;font-weight:bold;" rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedDescriptionAsterisk}"/>
								</td>
								<td width="15%" colspan="1">
									<h:outputLabel styleClass="required-field" value = "#{msgs['lbl.paying.agent.mnemonic']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" disabled="true" value="#{searchPaymetAgentMgmtBean.viewPaymentAgent.mnemonic}"/>
									<p:outputLabel value="     (*)" style="color:red; font-size:12px;font-weight:bold;" rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedMnemonicAsterisk}"/>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
							<!--Telefono Celular y Telefono de Oficina-->
							<tr>
								<td width="15%" colspan="1">
									<h:outputLabel  value=  "#{msgs['lbl.paying.agent.celular']} (*)"/>
								</td>
								<td width="35%" colspan="1">
									<p:inputText style="width:68%;" disabled="true"
										value="#{searchPaymetAgentMgmtBean.viewPaymentAgent.cellPhone}"> 
									</p:inputText>
									<p:outputLabel value="     (*)" style="color:red; font-size:12px;font-weight:bold;" 
									rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedCellPhoneAsterisk}"/>
								</td>
							</tr>
							<tr style="height: 4px;"></tr>
					</table>
					</p:fieldset>
					</td>
				</tr>
				<tr>
					<td align="center">
						<table>
							<tr>
								<td>
									<p:commandButton value="#{gmsgs['btn.block']}"
										 icon="ui-lock"
									     rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedBlock}"
									     action="#{searchPaymetAgentMgmtBean.blockPayerAgentDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.unblock']}"
										icon="ui-unlock"
									    rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedUnBlock}"
									    action="#{searchPaymetAgentMgmtBean.unBlockPayerAgentDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.reject']}"
									     icon="ui-cancel"
									     rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedRejected}"
									     action="#{searchPaymetAgentMgmtBean.rejectPayerAgentDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.confirm']}"
										 icon="ui-confirm"
									     rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedConfirm}"
									     action="#{searchPaymetAgentMgmtBean.confirmPayerAgentDialog}"/>
								</td>
								<!--Confirmar modificacion-->
								<td>
									<p:commandButton value="#{gmsgs['btn.confirm']}"
										 icon="ui-confirm"
									     rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedConfirmModfy}"
									     action="#{searchPaymetAgentMgmtBean.confirmModifyPayerAgentDialog}"/>
								</td>
								<!--Rechazar modificacion-->
								<td>
									<p:commandButton value="#{gmsgs['btn.reject']}"
									     icon="ui-cancel"
									     rendered="#{searchPaymetAgentMgmtBean.viewPaymentAgent.renderedRejectModify}"
									     action="#{searchPaymetAgentMgmtBean.rejectModifyPayerAgentDialog}"/>
								</td>
								<td>
									<p:commandButton value="#{gmsgs['btn.back']}"  
										 process="@this"
										 icon="ui-back" 
										 action="backPaymentAgentLoadInfo"  
										 immediate="true" ajax="false"/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formDetailDialogs">
				<!--DIALOGO REGISTRO DE DESBLOQUEO -->
				 <p:confirmDialog widgetVar="cnfDlgUnBlockState" id="cnfIdDlgUnBlockState"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDlgUnBlockState.hide()" process="@this"
								actionListener="#{searchPaymetAgentMgmtBean.unBlockPayerAgentDialogYes}" >
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="cnfIdDlgUnBlockState.hide()">
						</p:commandButton>
				 </p:confirmDialog>
			 	 <!--DIALOGO PARA BLOQUEAR -->
				 <p:confirmDialog widgetVar="cnfDlgBlockState" id="cnfIdDlgBlockState"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDlgBlockState.hide()" process="@this"
								action="#{searchPaymetAgentMgmtBean.blockPayerAgentDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}"
								onclick="cnfIdDlgBlockState.hide()">
						</p:commandButton>
				</p:confirmDialog>
				 <!--RECHAZAR USUARIO/AGENTE-->
				 <p:confirmDialog widgetVar="cnfDlgRejectState" id="cnfIdDlgRejectState"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDlgRejectState.hide()" process="@this"
								action="#{searchPaymetAgentMgmtBean.rejectPayerAgentDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="cnfIdDlgRejectState.hide()">
						</p:commandButton>
				</p:confirmDialog>
				 <!--RECHAZAR MODIFICACION-->
				 <p:confirmDialog widgetVar="wvRejectModifyState" id="idRejectModifyState"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDlgRejectState.hide()" process="@this"
								action="#{searchPaymetAgentMgmtBean.rejectModifyPayerAgentDialogYes}">
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="idRejectModifyState.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!--CONFIRMAR REGISTRO USUARIO/AGENTE  -->
				<p:confirmDialog widgetVar="cnfDialogConfirm" id="cnfIdDialogConfirm"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDialogConfirm.hide()" process="@this"
								action="#{searchPaymetAgentMgmtBean.confirmPayerAgentDialogYes}" >
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="cnfIdDialogConfirm.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!--CONFIRMAR MODIFICACION CONTACTO AGENTE PAGADOR  -->
				<p:confirmDialog widgetVar="wvDialogConfirmModifyContact" id="idDialogConfirmModifyContact"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.yes']}" oncomplete="cnfDialogConfirm.hide()" process="@this"
								action="#{searchPaymetAgentMgmtBean.confirmModifyPayerAgentDialogYes}" >
						</p:commandButton> 
						<p:commandButton 
								value="#{gmsgs['btn.no']}" 
								onclick="idDialogConfirmModifyContact.hide()">
						</p:commandButton>
				</p:confirmDialog>
				<!-- AVISO DE REGISTRO DE DESBLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogUnBlockYes" id="cnfIdDialogUnBlockYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogUnBlockYes.hide()"
								action = "backPaymentAgentLoadInfo" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE BLOQUEO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogBlockYes" id="cnfIdDialogBlockYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								onclick ="cnfIdDialogBlockYes.hide()"
								process ="@this"	
								action = "backPaymentAgentLoadInfo"
								update = "@this" >
						</p:commandButton> 
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE RECHAZO CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogRejectYes" id="cnfIdDialogRejectYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								oncomplete ="cnfDialogRejectYes.hide()"
								process ="@this"	
								action = "backPaymentAgentLoadInfo"/>
				</p:confirmDialog>
				<!-- AVISO DE CONFIRMACION DE CONFIRMACION CORRECTO-->
				<p:confirmDialog widgetVar="cnfDialogConfirmYes" id="cnfIdDialogConfirmYes"
								 message="#{bodyMessageView}" header="#{headerMessageView}" 
								 closable="false" > 
						<p:commandButton 
								value="#{gmsgs['btn.accept']}" 
								oncomplete ="cnfDialogConfirmYes.hide()"
								process ="@this"	
								action = "backPaymentAgentLoadInfo">
						</p:commandButton> 
				</p:confirmDialog>
		</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>