<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:m="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script>
			function redirect(url){
				document.location = "#{facesContext.externalContext.requestContextPath}"+url;
			}
		</script>
		
		<h:outputText value="#{msgs['lbl.ownershipexchange.title.register']}" styleClass="title-page" />
		
		<h:form id="frmOwnershipExchangeRegistry" >
		
		<p:remoteCommand update=":frmOwnershipExchangeRegistry:pgExcuteTransaction" process="@this" global="true" name="updateProgress"/>
		<p:poll interval="30" process="@this" global="true" oncomplete="updateProgress()" rendered="true"/> 
		
		<h:panelGrid id="pgExcuteTransaction" >
		</h:panelGrid>

		<p:importConstants type="com.pradera.model.custody.type.ChangeOwnershipBalanceTypeType" var="balanceTypeType" />
		<p:importConstants type="com.pradera.model.custody.affectation.type.AffectationType" var="affectationType" />  
		
		<!-- first tab : source holder  -->	
		<p:tabView id="generalTab" >
		  <p:tab id="registryTab" title="#{msgs['lbl.register']}"  >	
			<p:fieldset id="sourceDetailsFieldset" legend="#{msgs['lbl.ownershipexchange.fieldset.source']}" >
				<table width="100%" border="0" >
					<p:outputPanel id="onplRegularizationData" rendered="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}">
						<tr>
							<td width="180px">
								<h:outputText id="lblOperationNumber" 
									value="#{msgs['lbl.ownershipexchange.original.request.number']} (*)" 
									styleClass="required-field" />
							</td>
							<td>
								<p:inputText  id="custodyOperationPk" disabled="true" styleClass="small-input-text-width"
									value="#{changeOwnershipBean.changeOwnershipOperation.changeOwnershipOperationRef.idChangeOwnershipPk}" />
							</td>
							<td width="100px">
								<h:outputText id="lblRegularizationInd" 
									value="#{msgs['lbl.ownershipexchange.regularization.indicator']} (*)"
									styleClass="required-field" />
							</td>
							<td>
								<p:selectBooleanCheckbox id="regularizationInd" disabled="true" 
									value="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}" />
							</td>
						</tr>
					</p:outputPanel>
					<tr>
						<td width="180px">
							<h:outputText id="lblBalanceType" value="#{msgs['lbl.ownershipexchange.balance.type']} (*)" styleClass="required-field" />
						</td>
						<td width="350px">
							<h:panelGrid columns="2" id="pnlBalanceType">
								<p:selectOneMenu id="cmbBalanceType" value="#{changeOwnershipBean.changeOwnershipOperation.balanceType}"
									styleClass="medium-select-width"
									disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
									label="#{msgs['lbl.ownershipexchange.balance.type']}" >
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
									<f:selectItems value="#{changeOwnershipBean.lstBalanceTypes}" var="balanceType" itemLabel="#{balanceType.parameterName}"
										itemValue="#{balanceType.parameterTablePk}" />
									<p:ajax event="change" 
										update="@form :opnlGenericDialogs" 
										listener="#{changeOwnershipBean.onChangeBalanceType}" />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
								</p:selectOneMenu>
								<p:message for="cmbBalanceType" id="msgBalanceType" display="icon" />
							</h:panelGrid>
						</td>
						<td width="150px">
							<h:outputText id="lblMotive" value="#{msgs['lbl.ownershipexchange.motive']} (*)" styleClass="required-field" />
						</td>
						<td>
							<h:panelGrid columns="2" id="pnlMotive">
								<p:selectOneMenu id="cmbMotive" value="#{changeOwnershipBean.changeOwnershipOperation.motive}"
										disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
										label="#{msgs['lbl.ownershipexchange.motive']}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" itemValue="" />
									<f:selectItems  value="#{changeOwnershipBean.lstOwnershipExchangeReasonTypes}"
										var="reasonType" itemLabel="#{reasonType.parameterName}"
										itemValue="#{reasonType.parameterTablePk}" />
									<p:ajax event="change" process="@this" 
											update="@form :opnlGenericDialogs :frmOwnershipExchangeAvailDialog"
											listener="#{changeOwnershipBean.onChangeMotiveType}"  />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
								</p:selectOneMenu>
								<p:message for="cmbMotive" id="msgMotive" display="icon" />
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText id="lblComments" rendered="#{changeOwnershipBean.enableComments}"
										  value="#{msgs['lbl.ownershipexchange.comments']} (*)" styleClass="required-field" />
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
							<p:inputTextarea cols="80" rows="4" rendered="#{changeOwnershipBean.enableComments}"
											 label="#{msgs['lbl.ownershipexchange.comments']}"
											 value="#{changeOwnershipBean.changeOwnershipOperation.comments}"
											 id="observArea" maxlength="200">
								<p:ajax event="blur" update="observArea msgObservArea" process="@this" global="false" />
								<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
								<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />
							</p:inputTextarea>
							<p:message display="icon" id="msgObservArea" for="observArea" />
						</h:panelGrid></td>
					</tr>
					<tr>
						<td>
							<h:outputText id="lblSourceParticipant" value="#{msgs['lbl.ownershipexchange.participant.source']} (*)"  styleClass="required-field"   />
						</td>
						<td colspan="3">
							<h:panelGrid columns="2" id="pnlSourceParticipant">
								<p:selectOneMenu id="cmbSourceParticipant" label="#{msgs['lbl.ownershipexchange.participant.source']}"
									disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
									value="#{changeOwnershipBean.changeOwnershipOperation.sourceParticipant.idParticipantPk}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" itemValue="" />
									<f:selectItems value="#{changeOwnershipBean.participantList}"
										var="participant" itemLabel="#{participant.displayDescriptionCode}"
										itemValue="#{participant.idParticipantPk}" />
									<p:ajax event="change"
											listener="#{changeOwnershipBean.onChangeSourceParticipant()}"
											update=":frmOwnershipExchangeRegistry:generalTab:idCuiSourceHolder:outpnlHolder 
													pnlSourceParticipant lblSourceAccounts opnlSourceAccount
													:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
													:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails
													:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
													:frmOwnershipExchangeRegistry:opnlDialogs" immediate="false" />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
								</p:selectOneMenu>
								<p:message for="cmbSourceParticipant" id="msgSourceParticipant" display="icon" />
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['commons.label.cuiHolderSource']}"  />
						</td>
						<td colspan="3">
							<arkHelp:holderHelper id="idCuiSourceHolder" holder="#{changeOwnershipBean.changeOwnershipOperationTO.sourceHolder}" 
								remoteListener="cmdSourceHolderHelper()" disabled="#{empty changeOwnershipBean.changeOwnershipOperation.sourceParticipant.idParticipantPk or changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
								required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator" 
								label="#{msgs['commons.label.cuiHolderSource']}" blParticipant="true"
								participant="#{changeOwnershipBean.changeOwnershipOperation.sourceParticipant.idParticipantPk}">
							</arkHelp:holderHelper> 
							
	 						<p:message for="idCuiSourceHolder" display="icon" id="msgHolder" />
							<p:remoteCommand name="cmdSourceHolderHelper" 
								actionListener="#{changeOwnershipBean.validateSourceHolder()}"
								process="@this cmbSourceParticipant" update="opnlSourceAccount  lblSourceAccounts
										:frmOwnershipExchangeRegistry:generalTab:idCuiSourceHolder:outpnlHolder
										:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
										:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails
										:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
										:frmOwnershipExchangeRegistry:opnlDialogs" />
						</td>
					</tr>
					
					<tr>
						<td>
							<h:panelGroup id="lblSourceAccounts">
							<h:outputText value="#{msgs['commons.label.AccountHolderSource']} (*)" 
								styleClass="required-field" rendered="#{not empty changeOwnershipBean.changeOwnershipOperationTO.sourceHolderAccounts}" />
							</h:panelGroup>
						</td>
						<td valign="top" colspan="3">
							<p:outputPanel id="opnlSourceAccount" >
								<p:dataTable id="tblResultHelperAccountSource"
									     	 style="width:880px" rendered="#{not empty changeOwnershipBean.changeOwnershipOperationTO.sourceHolderAccounts}"
										 	 value="#{changeOwnershipBean.changeOwnershipOperationTO.sourceHolderAccounts}" var="account"
									     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
										 	 selection="#{changeOwnershipBean.changeOwnershipOperation.sourceHolderAccount}"
											 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
									
									<p:column selectionMode="single" style="width:18px"/>
									<p:ajax event="rowSelectRadio" listener="#{changeOwnershipBean.validateSourceHolderAccount()}" 
											update=":frmOwnershipExchangeRegistry:generalTab:opnlSourceAccount
												 	:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
													:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails
													:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
													:frmOwnershipExchangeRegistry:opnlDialogs" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" styleClass="content-center" style="width:70px;">
										<h:outputText value="#{account.accountNumber}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left" >
										<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}" styleClass="content-left" >
										<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
									</p:column>	
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.class']}" styleClass="content-center" >
										<h:outputText value="#{changeOwnershipBean.mapParameters.get(account.accountType).parameterName}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.state']}"  styleClass="content-center">
										<h:outputText value="#{changeOwnershipBean.getParameter(account.stateAccount).parameterName}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</td>
					</tr>					
				</table>
				
			</p:fieldset>
	
			<p:fieldset id="targetDetailsFieldset" legend="#{msgs['lbl.ownershipexchange.fieldset.target']}">
				<table width="100%" border="0">
					<tr>
						<td width="180px">
							<h:outputText id="lblTargetParticipant" value="#{msgs['lbl.ownershipexchange.participant.target']} (*)" styleClass="required-field" />
						</td>
						<td >
							<h:panelGrid columns="2" id="pnlTargetParticipant">
								<p:selectOneMenu id="cmbTargetParticipant" label="#{msgs['lbl.ownershipexchange.participant.target']}"
									disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
									value="#{changeOwnershipBean.changeOwnershipOperation.targetParticipant.idParticipantPk}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" itemValue="" />
									<f:selectItems value="#{changeOwnershipBean.participantList}"
										var="participant" itemLabel="#{participant.displayDescriptionCode}"
										itemValue="#{participant.idParticipantPk}" />
										<p:ajax event="change" process="@this" listener="#{changeOwnershipBean.onChangeTargetParticipant}"
												update=":frmOwnershipExchangeRegistry:generalTab:idCuiTargetHolder:outpnlHolder 
														lblTargetAccounts opnlTargetAccount opnlFoundTargetAccount pnlTargetParticipant
														:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
														:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
														:frmOwnershipExchangeRegistry:opnlDialogs"
												immediate="false" />
										<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
								</p:selectOneMenu>
								<p:message for="cmbTargetParticipant" id="msgTargetParticipant" display="icon" />
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['commons.label.cuiHolderTarget']}" />
						</td>
						<td colspan="3">
							<arkHelp:holderHelper id="idCuiTargetHolder" holder="#{changeOwnershipBean.changeOwnershipOperationTO.targetHolder}" 
												  remoteListener="cmdTargetHolderHelper()" label="#{msgs['commons.label.cuiHolderTarget']}" blParticipant="true"
												  disabled="#{empty changeOwnershipBean.changeOwnershipOperation.targetParticipant.idParticipantPk or 
												  			  changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
												  required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
												  participant="#{changeOwnershipBean.changeOwnershipOperation.targetParticipant.idParticipantPk}">
							</arkHelp:holderHelper> 
							
	 						<p:message for="idCuiTargetHolder" display="icon" id="msgTgtHolder" />
							<p:remoteCommand name="cmdTargetHolderHelper" actionListener="#{changeOwnershipBean.validateTargetHolder()}"
											process="@this cmbTargetParticipant" update=":frmOwnershipExchangeRegistry:generalTab:idCuiTargetHolder:outpnlHolder 
																					opnlFoundTargetAccount opnlTargetAccount :frmOwnershipExchangeRegistry:opnlDialogs"/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td valign="top" colspan="3">
							<p:outputPanel id="opnlFoundTargetAccount" >
								<p:dataTable id="tblFoundAccountTarget"
									     	 style="width:880px" rendered="#{not empty changeOwnershipBean.changeOwnershipOperationTO.foundTargetAccounts}"
										 	 value="#{changeOwnershipBean.changeOwnershipOperationTO.foundTargetAccounts}" var="account"
									     	 rowKey="#{account.idHolderAccountPk}"  rowIndexVar="rIndx"
									     	 selection="#{changeOwnershipBean.selectedHolderAccount}"
											 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
									
									<p:column selectionMode="single" style="text-align:center;width: 25px;"  /> 
									
									<p:ajax event="rowSelectRadio" process="@this" listener="#{changeOwnershipBean.validateTargetHolderAccount()}" 
										update=":frmOwnershipExchangeRegistry:generalTab:opnlFoundTargetAccount 
										:frmOwnershipExchangeRegistry:generalTab:lblTargetAccounts
										:frmOwnershipExchangeRegistry:generalTab:opnlTargetAccount 
										:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
										:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails
										:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
										:frmOwnershipExchangeRegistry:opnlDialogs" />
									
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" styleClass="content-center" style="width:70px;">
										<h:outputText value="#{account.accountNumber}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left" >
										<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}" styleClass="content-left" >
										<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
									</p:column>	
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.class']}" styleClass="content-center" >
										<h:outputText value="#{changeOwnershipBean.getParameter(account.accountType).parameterName}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.state']}"  styleClass="content-center">
										<h:outputText value="#{changeOwnershipBean.getParameter(account.stateAccount).parameterName}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td colspan="2"><p:spacer height="1px" /></td>
					</tr>
					<tr>
						<td>
							<h:panelGroup id="lblTargetAccounts">
							<h:outputText value="#{msgs['commons.label.AccountHolderTarget']} (*)" 
								styleClass="required-field" rendered="#{not empty changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts}" />
							</h:panelGroup>
						</td>
						<td valign="top" colspan="3">
							<p:outputPanel id="opnlTargetAccount" >
								<p:dataTable id="tblAccountTarget"
									     	 style="width:880px" rendered="#{not empty  changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts}"
										 	 value="#{changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts}" var="account"
									     	 rowKey="#{account.idHolderAccountPk}"  rowIndexVar="rIndx">
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.action']}" style="text-align:center;width: 25px;" >
										<p:commandLink update=":frmOwnershipExchangeRegistry:generalTab:opnlFoundTargetAccount 
																:frmOwnershipExchangeRegistry:generalTab:lblTargetAccounts
																:frmOwnershipExchangeRegistry:generalTab:opnlTargetAccount
																:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails
																:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails
																:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
																:frmOwnershipExchangeRegistry:generalTab:idCuiTargetHolder:outpnlHolder" 
													   actionListener="#{changeOwnershipBean.removeTargetAccount(account)}" 
													   process="@this" disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"  >
									 		<p:graphicImage style="cursor:pointer;" library="img" name="icons/rejected.png" title="#{gmsgs['btn.delete']}"/>
									 	</p:commandLink>
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" styleClass="content-center" style="width:70px;">
										<h:outputText value="#{account.accountNumber}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left" >
										<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
									</p:column>									
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}" styleClass="content-left" >
										<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
									</p:column>									
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.class']}" styleClass="content-center" >
										<h:outputText value="#{changeOwnershipBean.mapParameters.get(account.accountType).parameterName}" />
									</p:column>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.state']}"  styleClass="content-center">
										<h:outputText value="#{changeOwnershipBean.getParameter(account.stateAccount).parameterName}" />
									</p:column>
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							            	<f:param value="#{changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts.size()}"/>
							            </h:outputFormat>									
										</div>
									</f:facet>	
								</p:dataTable>
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['tdv.lable.securityClass']}" /></td>
						<td colspan="4">
							<p:selectOneMenu id="securityClass" disabled="false"
											 value="#{changeOwnershipBean.securityClass}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
								<f:selectItems value="#{changeOwnershipBean.lstSecurityClass}" var="instrument" 
											   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
											   itemValue="#{instrument.parameterTablePk}" />
							</p:selectOneMenu>
						</td>
						<td></td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['tdv.lable.show.quantity']}" /></td>
						<td colspan="4">
							<p:selectOneMenu id="numberSecurities" disabled="false"
											 value="#{changeOwnershipBean.numberSecuritiesShow}">
								<f:selectItem itemLabel="#{msgs['lbl.select.number.securities']}" itemValue="0" />
								<f:selectItem itemLabel="1000" itemValue="1000" />
								<f:selectItem itemLabel="2000" itemValue="2000" />
								<f:selectItem itemLabel="3000" itemValue="3000" />
								<f:selectItem itemLabel="4000" itemValue="4000" />
								<f:selectItem itemLabel="5000" itemValue="5000" />
								<f:selectItem itemLabel="6000" itemValue="6000" />
								<f:selectItem itemLabel="7000" itemValue="7000" />
							</p:selectOneMenu>
						</td>
						<td></td>
					</tr>
				</table>
			</p:fieldset>
		
			<table width="100%" border="0" >
				<tr align="center">
					<td>
						<p:commandButton id="searchBalancesBtn" value="#{msgs['btn.ownershipexchange.search.balances']}" icon="fa fa-search" 
							 actionListener="#{changeOwnershipBean.searchHolderAccountBalances}"
							 partialSubmit="true"
							 disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
							 update="@form"  />
					</td>
				</tr>
			</table>
			
			<p:spacer height="1px" />
			
			<p:outputPanel id="opnlAvailableBalanceDetails" >
				<h:panelGrid id="availableBalanceDetailsPanel" 
							 columns="1" width="100%"
							 rendered="#{changeOwnershipBean.holderAccountBalancesDataModel != null and
										changeOwnershipBean.changeOwnershipOperation.balanceType == balanceTypeType.AVAILABLE_BALANCE.code}" >
					<p:dataTable id="holderAccountBalancesDatatable" var="hab"
						value="#{changeOwnershipBean.holderAccountBalancesDataModel}"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						paginator="true" rows="10" paginatorPosition="top"
						paginatorTemplate="#{msgs['dtb.paginator.template']}"
						rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
						rendered="#{changeOwnershipBean.holderAccountBalancesDataModel.size >= 1}"
						rowKey="#{hab.id}">
						<p:columnGroup type="header">
							<p:row>
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.class.code']}" sortBy="#{hab.security.idSecurityCodePk}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.isin']}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.desc']}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.avail.total.balance']}" sortBy="#{hab.totalBalance}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.avail.available.balance']}" sortBy="#{hab.availableBalance}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.pending.sell']}" sortBy="#{hab.pendingSellBalance}" />
								<p:column headerText="#{msgs['lbl.ownershipexchange.header.action']}" />
							</p:row>
						</p:columnGroup>
						<p:column style="text-align:center; width: 15%;" >
							<p:commandLink style="text-align:center;" value="#{hab.security.idSecurityCodePk}" process="@this"
								actionListener="#{changeOwnershipBean.showSecurityDetail(hab.security.idSecurityCodePk)}" 
								update=":frmOwnershipExchangeRegistry:generalTab:detailSecurityHelp" />						
						</p:column>
						<p:column style="text-align:center; width: 15%;" >
							<h:outputText value="#{hab.security.idIsinCode}" />
						</p:column>
						<p:column style="text-align:left;">
							<h:outputText value="#{hab.security.description}" />
						</p:column>
						<p:column style="text-align: right; width: 5%;" sortBy="#{hab.totalBalance}">
							<h:outputText value="#{hab.totalBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column style="text-align: right; width: 5%;">
							<h:outputText value="#{hab.availableBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column style="text-align: right; width: 5%;">
							<h:outputText value="#{hab.pendingSellBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column style="text-align: center; width: 5%;">
							<p:commandButton value="#{msgs['btn.ownershipexchange.transfer']}" 
								icon="ui-add" id="idtransferBtn"
								disabled="#{changeOwnershipBean.allTransfered or hab.transferAmmount eq 0}"
								process="@this"
								update=":frmOwnershipExchangeAvailDialog:pnlOwnershipExchangeAvailDialog
										:frmOwnershipExchangeRegistry:opnlDialogs"
								actionListener="#{changeOwnershipBean.validateTransfer(hab)}" >
							</p:commandButton>
						</p:column>	
						<f:facet name="footer">	
										<div style="width:100%; text-align:left">
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							            	<f:param value="#{changeOwnershipBean.holderAccountBalancesDataModel.rowCount}"/>
							            </h:outputFormat>									
										</div>
									</f:facet>						
					</p:dataTable>
					<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(changeOwnershipBean.holderAccountBalancesDataModel.size >= 1)}"
								style="font-weight:bold;"/>
					<p:spacer height="0.2" />
					<p:commandButton style="float:left;" id="transferAllBtn"
						icon="ui-add" value="#{msgs['btn.ownershipexchange.transfer.all']}"  
						actionListener="#{changeOwnershipBean.transferAll}"
						update="@this 
								:frmOwnershipExchangeRegistry:opnlDialogs
								:frmOwnershipExchangeAvailDialog:pnlOwnershipExchangeAvailDialog
								:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
								:frmOwnershipExchangeRegistry:generalTab:opnlAvailableBalanceDetails"
						rendered="#{changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts.size() eq 1}"
						disabled="#{changeOwnershipBean.allTransfered or !changeOwnershipBean.isAllTransferable}"
					 />
				</h:panelGrid>
			</p:outputPanel>		
			
			<p:outputPanel id="opnlBlockedBalanceDetails" >
				<p:outputPanel id="blockedBalanceDetailsPanel" width="100%" 
							rendered="#{changeOwnershipBean.holderAccountBalBlockDataModel != null and
											changeOwnershipBean.changeOwnershipOperation.balanceType == balanceTypeType.BLOCKED_BALANCE.code}" >
					<h:panelGrid columns="1" width="100%">
							<p:dataTable id="holderAccountBalBlockDatatable" var="hab"
							style="padding-right:0px !important;"
							value="#{changeOwnershipBean.holderAccountBalBlockDataModel}"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							paginator="true" rows="10" paginatorPosition="top"
							paginatorTemplate="#{msgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
							rendered="#{changeOwnershipBean.holderAccountBalBlockDataModel.rowCount >= 1}"
							rowKey="#{hab.holderAccountBalance.id}" rowIndexVar="habIndex"	>
							<p:columnGroup type="header">
								<p:row>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.class.code']}" rowspan="2" sortBy="#{hab.holderAccountBalance.security.idSecurityCodePk}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.isin']}" rowspan="2" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.desc']}" rowspan="2" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.balances']}" colspan="6" />
								</p:row>
								<p:row>
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.total.balance']}"  sortBy="#{hab.holderAccountBalance.totalBalance}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.available.balance']}" sortBy="#{hab.holderAccountBalance.availableBalance}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.pawn.balance']}" sortBy="#{hab.holderAccountBalance.pawnBalance}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.ban.balance']}" sortBy="#{hab.holderAccountBalance.banBalance}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.other.block.balance']}" sortBy="#{hab.holderAccountBalance.otherBlockBalance}" />
									<p:column headerText="#{msgs['lbl.ownershipexchange.header.view.other.balances']}" />
								</p:row>
							</p:columnGroup>
							<p:column style="text-align:center; width: 15%;" >
								<p:commandLink style="text-align:center;" value="#{hab.holderAccountBalance.security.idSecurityCodePk}" process="@this"
								actionListener="#{changeOwnershipBean.showSecurityDetail(hab.holderAccountBalance.security.idSecurityCodePk)}"  
								update=":frmOwnershipExchangeRegistry:generalTab:detailSecurityHelp"/>
							</p:column>
							<p:column style="text-align:center; width: 15%;">
								<h:outputText value="#{hab.holderAccountBalance.security.idIsinCode}" />
							</p:column>
							<p:column style="text-align:left;">
								<h:outputText value="#{hab.holderAccountBalance.security.description}" />
							</p:column>
							<p:column style="text-align: right; width: 4%;" >
								<h:outputText value="#{hab.holderAccountBalance.totalBalance}">
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
								</h:outputText>
							</p:column>
							<p:column style="text-align: right; width: 4%;" >
								<h:outputText value="#{hab.holderAccountBalance.availableBalance}">
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
								</h:outputText>
							</p:column>
							<p:column style="text-align: right; width: 4%;" >
								<p:commandLink actionListener="#{changeOwnershipBean.beforeValidateBlockTransfer(habIndex,affectationType.PAWN.code)}" 
												process="@this" partialSubmit="true" update="@this :frmOwnershipExchangeRegistry:opnlDialogs
												:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails"  >
									<h:outputText value="#{hab.holderAccountBalance.pawnBalance}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
									</h:outputText>
								</p:commandLink>
							</p:column>
							<p:column style="text-align: right; width: 4%;" >
								<p:commandLink actionListener="#{changeOwnershipBean.beforeValidateBlockTransfer(habIndex,affectationType.BAN.code)}" 
												process="@this" partialSubmit="true"
												update="@this :frmOwnershipExchangeRegistry:opnlDialogs
												:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails" >
									<h:outputText value="#{hab.holderAccountBalance.banBalance}">	
										<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
									</h:outputText>
								</p:commandLink>
							</p:column>
							<p:column style="text-align: right; width: 4%;" >
								<p:commandLink actionListener="#{changeOwnershipBean.beforeValidateBlockTransfer(habIndex,affectationType.OTHERS.code)}" 
												process="@this" partialSubmit="true"
												update="@this :frmOwnershipExchangeRegistry:opnlDialogs
												:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails" >
									<h:outputText value="#{hab.holderAccountBalance.otherBlockBalance}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
									</h:outputText>
								</p:commandLink>
							</p:column>
							<p:column style="text-align: center; width: 3%;">
								<p:commandLink style="color:blue" update=":opnlOtherBalances" oncomplete="PF('wdgDlgOtherBalances').show();" >
									<f:setPropertyActionListener value="#{hab}" target="#{changeOwnershipBean.selectedHolderAccountBlockBalTO}" />  
									<h:outputText value="#{msgs['lbl.ownershipexchange.header.view']}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{!(changeOwnershipBean.holderAccountBalBlockDataModel.size >= 1)}"
									style="font-weight:bold;"/>
						<p:spacer height="0.2" />
						 <p:commandButton style="float:left;" id="transferAllBlockedBtn"
							icon="ui-add" value="#{msgs['btn.ownershipexchange.transfer.all']}"  
							actionListener="#{changeOwnershipBean.transferAllBlockedNew}"
							update="@this :frmOwnershipExchangeRegistry:opnlDialogs
									:frmOwnershipExchangeBlockDialog:pnlOwnershipExchangeBlockDialog
									:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel
									:frmOwnershipExchangeRegistry:generalTab:opnlBlockedBalanceDetails"														
							rendered="#{changeOwnershipBean.changeOwnershipOperationTO.targetHolderAccounts.size() eq 1}"
							disabled="#{changeOwnershipBean.allTransfered}"
						 />
					</h:panelGrid>										 
				</p:outputPanel>
				
				<p:fieldset id="fdsOwnershipExchangeBlock" legend="Documentos de Bloqueo" 
					rendered="#{(changeOwnershipBean.holderAccountBalBlockDataModel.rowCount >= 1 and
					changeOwnershipBean.selectedHolderAccountBlockBalTO.blockOperationsInView.rowCount >= 1)}">
					<p:dataTable id="dtbblockDocuments"
							value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.blockOperationsInView}"
							rendered="#{(changeOwnershipBean.selectedHolderAccountBlockBalTO.blockOperationsInView.rowCount >= 1)}"
							var="blockOp" rowKey="#{blockOp.idBlockOperationPk}"  
	       							style="width: 100%;"
	       							resizableColumns="true">
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.op.number']}" style="width: 12%;" styleClass="content-center">
								<h:outputText value="#{blockOp.documentNumber}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.record.number']}" style="width: 10%;" styleClass="content-center">
								<h:outputText value="#{blockOp.blockRequest.blockNumber}" /> 
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.block.entity']}" style="width: 20%;" >	
								<h:outputText value="#{blockOp.blockRequest.blockEntity.descriptionPerson}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.type']}" style="width: 13%;" styleClass="content-center">
								<h:outputText value="#{changeOwnershipBean.getParameter(blockOp.blockRequest.blockType).parameterName}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.level']}" style="width: 13%;" styleClass="content-center">
								<h:outputText value="#{changeOwnershipBean.getParameter(blockOp.blockLevel).parameterName}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.record.date']}" style="width: 13%;" styleClass="content-center">
								<h:outputText value="#{blockOp.blockRequest.registryDate}" >
									<f:convertDateTime pattern="#{cons['dateFormat']}"/>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.balance']}" style="width: 10%;" styleClass="content-right">
								<h:outputText value="#{blockOp.actualBlockBalance}" >
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.action']}" style="width: 12%;" styleClass="content-center">
								<p:commandButton icon="ui-add" value="Transferir" 
									disabled="#{changeOwnershipBean.allTransfered}"
									actionListener="#{changeOwnershipBean.validateBlockTransfer(blockOp)}"
									update=":frmOwnershipExchangeBlockDialog:pnlOwnershipExchangeBlockDialog :frmOwnershipExchangeRegistry:opnlDialogs" />
							</p:column>
							<f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.blockOperationsInView.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>	
					</p:dataTable>
					<h:outputLabel value="#{msgs['message.ownershipexchange.block.operations.notfound']}" 
							rendered="#{!( changeOwnershipBean.selectedHolderAccountBlockBalTO.blockOperationsInView.size >= 1)}"
							style="font-weight:bold;"/>
				</p:fieldset>
				
			</p:outputPanel>
			
			<p:outputPanel id="detailSecurityHelp">
				<arkHelp:securities-help id="securityHelp" isinCode="" />
			</p:outputPanel>
			
		  </p:tab>
		  <p:tab id="fileUploadTab" title="#{msgs['lbl.ownershipexchange.tab.upload']}">
		  	<p:outputPanel id="opnlFileUpload"  >
		  		<p:outputPanel id="opnlChangeOwnershipAttachments" >
					<table width="100%">
						<tr>
							<td>
								<h:panelGrid columns="3" style="width:100%;">
									<h:outputText value="#{msgs['lbl.ownershipexchange.attachment.type']} (*)" styleClass="required-field" style="width:200px"/>
									<p:selectOneMenu style="width:600px" label="Tipo de Documento"
													 disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
													 value="#{changeOwnershipBean.selectedChangeOwnershipFileType}" id="cmbAttachDocumentType">  
							           <f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" itemValue="-1" />  
							           <f:selectItems var="document"  value="#{changeOwnershipBean.lstAttachmentTypes.entrySet()}" 
							           		itemValue="#{document.key}"	itemLabel="#{document.value.parameterName}" />								                        								                        
							           <p:ajax event="valueChange" update="@this opnlChangeOwnershipAttachments"  
							           		listener="#{changeOwnershipBean.onChangeAttachmentType}"/>
							    	</p:selectOneMenu>
							    	<p:message for="cmbAttachDocumentType" id="msgAttachDocumentType"></p:message>
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td>
								<p:spacer height="10"/>
							</td>
						</tr>
						<tr>
							<td>
								<p:outputPanel styleClass="fileupload-customize" layout="block">	
						 			<p:fileUpload id="fuplChangeOwnership" mode="advanced" auto="true"
											   widgetVar="fuplwChangeOwnership" 
						 			           label="#{msgs['fupl.label']}"
						 			           allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf)$/"
						 			           sizeLimit="#{changeOwnershipBean.fUploadFileSize}"
											   invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
											   invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"							 			             
											   fileUploadListener="#{changeOwnershipBean.fileUploadHandler}" 
											   update="opnlChangeOwnershipAttachments :opnlGenericDialogs"
											   disabled="#{empty changeOwnershipBean.selectedChangeOwnershipFileType or 
											   			   changeOwnershipBean.selectedChangeOwnershipFileType le 0 }"/>
														
									<script type="text/javascript">									
										 $(document).ready(function(){
											fileuploadValidate('fuplChangeOwnership');	
										  });		
									</script>
									
								    <p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
			
									<p:tooltip for="imgLimit">
										<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
											<f:param value="#{changeOwnershipBean.fUploadFileSizeDisplay}"/>
											<f:param value="*.doc, *.xls, *.pdf" />		
										</h:outputFormat>
									</p:tooltip>
									
									<h:outputLabel id="lblFuplChangeOwnershipFile" styleClass="label"
												   value="#{changeOwnershipBean.selectedChangeOwnershipFileDisplay==null ? 
															msgs['fupl.no.selected'] : changeOwnershipBean.selectedChangeOwnershipFileDisplay}"/>											    
								</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td>
								<p:outputPanel id="opnlChangeOwnershipAttachmentsTable">
									<p:dataTable id="dtbChangeOwnershipAttachments" var="cttFile"
												 rowIndexVar="regNum" rendered="#{not empty changeOwnershipBean.changeOwnershipOperation.changeOwnershipFiles}"
												 value="#{changeOwnershipBean.changeOwnershipOperation.changeOwnershipFiles}">
			
										<p:column width="5px">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.order']}" />
											</f:facet>
											<h:outputText value="#{regNum + 1}" />
										</p:column>
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.desc']}" />
											</f:facet>
											<h:outputText value="#{cttFile.fileTypeDescription}" />
										</p:column>
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.name']}" />
											</f:facet>
											<h:outputText value="#{cttFile.fileName}" />
										</p:column>
			
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.size']}" />
											</f:facet>
											<h:outputText value="#{cttFile.fileSize} KB" />
										</p:column>
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.format']}" />
											</f:facet>
											<h:outputText value="#{cttFile.fileFormat}" />
										</p:column>
										
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.view']}" />
											</f:facet>
											<p:commandLink styleClass="icon" global="false" ajax="false"
												immediate="true" process="@this"
												onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
												<p:fileDownload	value="#{changeOwnershipBean.getStreamedContentFromFile(cttFile.documentFile,null,cttFile.fileName)}" />
												<p:graphicImage id="imgView" library="img" name="icons/loupe.png" title="Ver" />
											</p:commandLink>
										</p:column>
										
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.document.delete']}" />
											</f:facet>
											<p:commandLink styleClass="icon" process="@this"
														   actionListener="#{changeOwnershipBean.removeFileAttached(cttFile)}"
														   update=":frmOwnershipExchangeRegistry:generalTab:opnlFileUpload">
												<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"
																title="#{msgs['lbl.affectation.document.delete']}" />
											</p:commandLink>
										</p:column>
									</p:dataTable>
								</p:outputPanel>
							</td>
						</tr>
					</table>
				</p:outputPanel>
		  		
		  	</p:outputPanel>
		  </p:tab>
		  <p:tab id="confirmationTab" title="#{msgs['lbl.ownershipexchange.tab.summary.balance']}" >
			  <p:outputPanel  id="confirmationDetailsOutputPanel" >
			  	 <p:outputPanel  id="innerConfirmationDetailsOutputPanel" >
					<p:dataTable var="targetchod" id="targetSecuritiesDetailDatatable"
						style="padding-right:0px !important;width:100%;"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						paginator="true" rows="10" paginatorPosition="top"
						paginatorTemplate="#{msgs['dtb.paginator.template']}"
						rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
						rendered="#{changeOwnershipBean.changeOwnershipOperation.balanceType eq balanceTypeType.AVAILABLE_BALANCE.code and 
								not empty changeOwnershipBean.changeOwnershipOperationTO.allTargetChangeOwnershipDetails}"
						value="#{changeOwnershipBean.changeOwnershipOperationTO.allTargetChangeOwnershipDetails}" 
						rowKey="#{targetchod.idChangeOwnershipDetailPk}" >
	
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
							style="text-align:center;" sortBy="#{targetchod.holderAccount.accountNumber}" >
							<h:outputText value="#{targetchod.holderAccount.accountNumber}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}"
							style="text-align:center;" sortBy="#{targetchod.holderAccount.alternateCode}" >
							<h:outputText value="#{targetchod.holderAccount.alternateCode}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
							style="text-align:center;" sortBy="#{targetchod.participant.displayCodeMnemonic}" >
							<h:outputText value="#{targetchod.participant.displayCodeMnemonic}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}"
							style="text-align:left;" sortBy="#{targetchod.holderAccount.holderAccountDetailDescription}">
							<h:outputText value="#{targetchod.holderAccount.holderAccountDetailDescription}" escape="false" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.class.code']}"
							style="text-align:center;" sortBy="#{targetchod.security.idSecurityCodePk}" >
							<h:outputText value="#{targetchod.security.idSecurityCodePk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}"
						    style="text-align:center;" sortBy="#{targetchod.availableBalance}"  >
					    	<h:outputText value="#{targetchod.availableBalance}" >
					    		<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
					    	</h:outputText>
						</p:column>
						<f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{changeOwnershipBean.changeOwnershipOperationTO.allTargetChangeOwnershipDetails.size()}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>		
					</p:dataTable>
					
					<p:dataTable var="targetbco" id="targetHolderAccountBalBlockDetailDatatable"
						style="width:100%;"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						paginator="true" rows="10" paginatorPosition="top"
						paginatorTemplate="#{msgs['dtb.paginator.template']}"
						rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
						rendered="#{changeOwnershipBean.changeOwnershipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code and
							not empty changeOwnershipBean.changeOwnershipOperationTO.allBlockChangeOwnerships}"
						value="#{changeOwnershipBean.changeOwnershipOperationTO.allBlockChangeOwnerships}" 
						rowKey="#{targetbco.idBlockChangeOwnershipPk}" >
													
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" 
							styleClass="content-center" sortBy="#{targetbco.holderAccount.accountNumber}">
							<h:outputText value="#{targetbco.holderAccount.accountNumber}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}" styleClass="content-center"
							 sortBy="#{targetbco.participant.displayCodeMnemonic}">
							<h:outputText value="#{targetbco.participant.displayCodeMnemonic}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left"
							sortBy="#{targetbco.holderAccount.holderAccountDetailDescription}">
							<h:outputText value="#{targetbco.holderAccount.holderAccountDetailDescription}" escape="false" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.class.code']}"
							style="text-align:center;" sortBy="#{targetbco.changeOwnershipDetail.security.idSecurityCodePk}" >
							<h:outputText value="#{targetbco.changeOwnershipDetail.security.idSecurityCodePk}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.op.number']}" styleClass="content-center"
							sortBy="#{targetbco.blockOperation.documentNumber}">
								<h:outputText value="#{targetbco.blockOperation.documentNumber}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.level']}" styleClass="content-center"
							sortBy="#{changeOwnershipBean.getParameter(targetbco.blockOperation.blockLevel).parameterName}">
							<h:outputText value="#{changeOwnershipBean.getParameter(targetbco.blockOperation.blockLevel).parameterName}" />
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}" styleClass="content-right"
							sortBy="#{targetbco.blockQuantity}">
								<h:outputText value="#{targetbco.blockQuantity}" >
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" locale="#{cons['conv.number.locale']}"  />
								</h:outputText>
						</p:column>
						<f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{changeOwnershipBean.changeOwnershipOperationTO.allBlockChangeOwnerships.size()}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>		
					</p:dataTable>
		  		 </p:outputPanel>
		  		 </p:outputPanel>
		  </p:tab>	  
		</p:tabView>
		
		<table width="100%">
			<tr>
				<td align="center">
			  		<p:commandButton id="saveBtn" value="#{gmsgs['btn.save']}" actionListener="#{changeOwnershipBean.beforeSaveChangeOwnerShipOperationHandler}"
			  						immediate="false"  icon="fa fa-save" update="@form " />
					
					<p:commandButton id="cleanFrmBtn" update="@form" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
									disabled="#{changeOwnershipBean.changeOwnershipOperation.regularizationIndicator}"
						 			action="#{changeOwnershipBean.verifyOnCleanAction()}" />
					
					<p:commandButton id="backBtn" value="#{gmsgs['btn.back']}" process="@form" immediate="true" update="transferOwnershipBackCnf"
									action="#{changeOwnershipBean.verifyOnBackAction()}" icon="fa fa-undo"/>
				</td>
			</tr>
		</table>
		
		<p:outputPanel id="opnlDialogs">
			<p:confirmDialog id="transferOwnershipCnf" widgetVar="transferOwnershipCnfWidget" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" ajax="true" global="true" oncomplete="PF('transferOwnershipCnfWidget').hide()"
								 actionListener="#{changeOwnershipBean.saveChangeOwnerShipOperationHandler}"
								 process="@this" update="@form :opnlGenericDialogs"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('transferOwnershipCnfWidget').hide()" type="button"/>
			</p:confirmDialog>
			
			<p:confirmDialog id="transferOwnershipOk" widgetVar="transferOwnershipOk" severity="info" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}" rendered="false" visible="true">
				<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" 
								 action="searchOwnershipExchange.xhtml" ajax="false" immediate="true"
								 process="@this" update="@form"/>
			</p:confirmDialog>
				
			<p:confirmDialog id="transferOwnershipBackCnf" closable="false" widgetVar="transferOwnershipBackCnfWidget"
							header="#{headerMessageView}" message="#{msgs['message.back']}" severity="alert" >  
	    		<p:commandButton id="cmbSi" immediate="true"  value="#{gmsgs['btn.yes']}"  ajax="false" action="searchChangeOwnership"/>
	    		<p:spacer width="2px" />
	    		<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"  onclick="PF('transferOwnershipBackCnfWidget').hide()"  type="button"/>                
		    </p:confirmDialog>
		    
		    <p:confirmDialog id="transferOwnershipClearCnf" closable="false"
							header="#{headerMessageView}"
					 		message="#{msgs['lbl.clear.screen']}"						
							severity="alert" 
							widgetVar="transferOwnershipClearCnfWidget">  
	    		<p:commandButton id="cmbSiClear" process="@this"
	    						 value="#{gmsgs['btn.yes']}" update="@form"
	    						 actionListener="#{changeOwnershipBean.cleanAllRegistryFrm()}"/>
	    		<p:spacer width="2px" />
	    		<p:commandButton id="cmbNoClear" 
	    						 value="#{gmsgs['btn.no']}"
	    						 onclick="PF('transferOwnershipClearCnfWidget').hide()"
	    						 type="button"/>                
		    </p:confirmDialog>
		
			<p:confirmDialog id="warningDialog"	message="#{bodyMessageView}" 
				header="#{headerMessageView}" closable="false"					
				severity="alert" widgetVar="widgAlertDialog">
					<p:commandButton value="#{gmsgs['btn.accept']}" 
						oncomplete="PF('widgAlertDialog').hide()" process="@this"
						action="#{changeOwnershipBean.hideDialogues}" update=":frmOwnershipExchangeRegistry:opnlDialogs" >
					</p:commandButton>
			</p:confirmDialog>
		</p:outputPanel>
		
		</h:form>
		
		<p:outputPanel id="opnlMarketBalance">
			<h:form id="frmMarketBalance">
				<m:marketfactBalance id="balancemarket1" bean="#{changeOwnershipBean}"  
					method="selectMarketFactBalance" parameter="holderMarketFactBalance">
				</m:marketfactBalance>
			</h:form>
		</p:outputPanel>
		
		<p:outputPanel id="opnlOtherBalances">
			<p:dialog id="dlgOtherBalances" header="#{msgs['lbl.ownershipexchange.header.other.balance']}" closable="true"					
				modal="true" widgetVar="wdgDlgOtherBalances" resizable="false" >
					
					<p:dataTable var="bal" id="dtbOtherBalances" 
						value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.holderAccountBalance}">
						
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.transit.balance']}" styleClass="content-right">
							<h:outputText value="#{bal.transitBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.accreditation.balance']}" styleClass="content-right">
							<h:outputText value="#{bal.accreditationBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.reported.balance']}"  styleClass="content-right">
							<h:outputText value="#{bal.reportedBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.margin.balance']}"  styleClass="content-right">
							<h:outputText value="#{bal.marginBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.ownershipexchange.header.reporting.balance']}"  styleClass="content-right">
							<h:outputText value="#{bal.reportingBalance}" >
								<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
									locale="#{cons['conv.number.locale']}"  />
							</h:outputText>
						</p:column>
						
					</p:dataTable>
					
			</p:dialog>
		</p:outputPanel>
		
		<h:form id="frmOwnershipExchangeAvailDialog">
			<p:outputPanel id="pnlOwnershipExchangeAvailDialog" >
				 <p:dialog id="ownershipExchangeAvailDialogId" widgetVar="ownershipExchangeAvailDialog" 
				 		closable="false" width="1100" height="250" modal="true" resizable="false"
						header="#{msgs['lbl.ownershipexchange.header.transfer.of.security']} #{changeOwnershipBean.selectedHolderAccountBalance.security.idSecurityCodePk}" >
					
					<table id="ownershipExchangeAvailPanel" width="100%" border="0">
						<tr>
						<td style="padding-bottom: 10px;">	
							<h:panelGrid id="selectedHABDetail" columns="2" styleClass="25-percent-width,75-percent-width">
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.security.class.code']}" />
								<p:inputText value="#{changeOwnershipBean.selectedHolderAccountBalance.security.idSecurityCodePk}" 
									disabled="true" styleClass="medium-input-text-width" />
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.security.desc']}" />
								<p:inputText  value="#{changeOwnershipBean.selectedHolderAccountBalance.security.description}" 
									disabled="true" styleClass="large-input-text-width" />
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.transferquantity.available']}" />
								<p:inputText  value="#{changeOwnershipBean.dynamicBalance le 0 ? 0 : changeOwnershipBean.dynamicBalance }" 
									disabled="true" styleClass="medium-input-text-width content-right" >
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" locale="#{cons['conv.number.locale']}"  />
								</p:inputText>
							</h:panelGrid>
						</td>
						</tr>
						<tr>
						<td style="padding-bottom: 10px;">
						<p:dataTable var="detail" id="dtbDetails"
							style="padding-right:0px !important;width:100%;"
							rendered="#{not empty changeOwnershipBean.currentDetailList}"
							value="#{changeOwnershipBean.currentDetailList}"  >
														
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" styleClass="content-center">
								<h:outputText value="#{detail.holderAccount.accountNumber}" />
							</p:column>
							<p:column rendered="false" headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}" styleClass="content-center">
								<h:outputText value="#{detail.holderAccount.alternateCode}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}" styleClass="content-center">
								<h:outputText value="#{detail.participant.displayCodeMnemonic}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left">
								<h:outputText value="#{detail.holderAccount.holderAccountDetailDescription}" escape="false" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.class']}" styleClass="content-center">
								<h:outputText value="#{changeOwnershipBean.mapParameters.get(detail.holderAccount.accountType).parameterName}" />
							</p:column>							
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}" styleClass="content-center">
								<p:inputText value="#{detail.quantityBalance}" style="text-align: right;width:150px;" id="inBalanceToUse" 
									onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
										disabled="#{not detail.selected or detail.disabled}"
									label="#{msgs['lbl.ownershipexchange.header.transferquantity']}" >	
									<p:ajax event="blur" process="@this" global="false"
										update=":opnlGenericDialogs" />	
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}" />								
								</p:inputText>
								<ui:remove>
									<h:commandButton value="..." disabled="#{not detail.selected or detail.disabled}" >
										<p:ajax listener="#{changeOwnershipBean.showMarketFactUI(detail)}" process="@this" event="click"  update=":opnlMarketBalance" ></p:ajax>
									</h:commandButton>
								</ui:remove>
							</p:column>
							<p:column style="text-align:center;width:10px;">
								<p:selectBooleanCheckbox id="chkCheck" value="#{detail.selected}" 
									disabled="#{detail.disabled}">										
									<p:ajax event="change" global="false" 
										update="dtbDetails :frmOwnershipExchangeAvailDialog:selectedHABDetail" 
										listener="#{changeOwnershipBean.onChangeSelectDetailRow(detail)}" />										
								</p:selectBooleanCheckbox>
							</p:column>
						</p:dataTable>
						</td>
						</tr>	
						<tr><td align="center">
							<p:commandButton id="saveBtn" value="#{gmsgs['btn.accept']}" actionListener="#{changeOwnershipBean.saveCurrentTransfer(false)}"
									process="@this" icon="fa fa-save" 
									update=":opnlGenericDialogs :frmOwnershipExchangeRegistry:opnlDialogs 
											:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel 
											:frmOwnershipExchangeRegistry:generalTab:innerConfirmationDetailsOutputPanel" />
							<p:commandButton value="#{gmsgs['btn.back']}"  oncomplete="PF('ownershipExchangeAvailDialog').hide()" icon="fa fa-undo" />
						</td></tr>
					</table>
				</p:dialog>
			</p:outputPanel>	
		</h:form>

		<h:form id="frmOwnershipExchangeBlockDialog">
			<p:outputPanel id="pnlOwnershipExchangeBlockDialog" >
				<p:dialog id="ownershipExchangeBlockDialogId" widgetVar="ownershipExchangeBlockDialog" closable="false" width="1100" height="400" modal="true"
				header="#{msgs['lbl.ownershipexchange.header.transfer.of.security']} #{changeOwnershipBean.selectedHolderAccountBlockBalTO.holderAccountBalance.security.idSecurityCodePk}" >
					
					<table id="ownershipExchangeBlockPanel" width="100%" border="0">
						<tr>
						<td style="padding-bottom: 10px;">	
							<h:panelGrid id="selectedBlockHABDetail" columns="2" styleClass="25-percent-width,75-percent-width">
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.security.class.code']}"  />
								<p:inputText value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.holderAccountBalance.security.idSecurityCodePk}" 
									disabled="true" styleClass="medium-input-text-width" />
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.security.desc']}" />
								<p:inputText value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.holderAccountBalance.security.description}" 
									disabled="true" styleClass="large-input-text-width" />
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.affectation.op.number']}" />
								<p:inputText value="#{changeOwnershipBean.selectedHolderAccountBlockBalTO.selectedBlockOperation.documentNumber}" 
									disabled="true" styleClass="medium-input-text-width content-right" />
								<h:outputLabel value="#{msgs['lbl.ownershipexchange.header.transferquantity.available']}" />
								<p:inputText  value="#{changeOwnershipBean.dynamicBalance le 0 ? 0 : changeOwnershipBean.dynamicBalance }" 
									disabled="true" styleClass="medium-input-text-width content-right" >
									<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}" 
										locale="#{cons['conv.number.locale']}"  />
								</p:inputText>	
							</h:panelGrid>
						</td>
						</tr>
						<tr>
						<td style="padding-bottom: 10px;">
						<p:dataTable var="detail" id="dtbBlockDetails"
							style="padding-right:0px !important;width:100%;"
							rendered="#{not empty changeOwnershipBean.currentDetailList}"
							value="#{changeOwnershipBean.currentDetailList}"  >
														
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" styleClass="content-center">
								<h:outputText value="#{detail.holderAccount.accountNumber}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}" styleClass="content-center">
								<h:outputText value="#{detail.holderAccount.alternateCode}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}" styleClass="content-center">
								<h:outputText value="#{detail.participant.displayCodeMnemonic}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}" styleClass="content-left">
								<h:outputText value="#{detail.holderAccount.holderAccountDetailDescription}" escape="false" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.security.class.code']}" styleClass="content-center">
								<h:outputText value="#{detail.security.idSecurityCodePk}" />
							</p:column>
							<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}" styleClass="content-center">
								<p:inputText value="#{detail.quantityBalance}" style="text-align: right;width:150px;" id="inBalanceToUse" 
									onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)"
										disabled="true" 
									label="#{msgs['lbl.ownershipexchange.header.transferquantity']}" >	
									<p:ajax event="blur" process="@this" global="false"
										update=":opnlGenericDialogs" />	
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}" />								
								</p:inputText>
								<h:commandButton value="#{msgs['lbl.points.short']}" disabled="#{not detail.selected or detail.disabled}" >
									<p:ajax listener="#{changeOwnershipBean.showBlockMarketFactUI(detail)}" process="@this" event="click"  update=":opnlMarketBalance"></p:ajax>
								</h:commandButton>
							</p:column>
							<p:column style="text-align:center;width:10px;">
								<p:selectBooleanCheckbox id="chkCheck" value="#{detail.selected}" 
									disabled="#{detail.disabled}">										
									<p:ajax event="change" global="false" 
										update="dtbBlockDetails :frmOwnershipExchangeBlockDialog:selectedBlockHABDetail" 
										listener="#{changeOwnershipBean.onChangeSelectDetailRow(detail)}" />										
								</p:selectBooleanCheckbox>
							</p:column>
						</p:dataTable>
						</td>
						</tr>	
						<tr><td align="center">
							<p:commandButton id="saveBtn" value="#{gmsgs['btn.accept']}" actionListener="#{changeOwnershipBean.saveCurrentBlockTransfer(false)}"
									process="@this" icon="fa fa-save" 
									update=":opnlGenericDialogs :frmOwnershipExchangeRegistry:opnlDialogs 
											:frmOwnershipExchangeRegistry:generalTab:confirmationDetailsOutputPanel" />
							<p:commandButton value="#{gmsgs['btn.back']}"  oncomplete="PF('ownershipExchangeBlockDialog').hide()" icon="fa fa-undo" />
						</td></tr>
					</table>
				</p:dialog>
			</p:outputPanel>
		</h:form>
		
	</ui:define>
</ui:composition>
</html>