<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel" >
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script>
		function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>
	
		<h:outputText value="#{msgs['title.ownershipexchange.regularization']}" styleClass="title-page" />
		
		<h:form id="frmOwnershipExchangeRegularizationSearch">
			<table width="100%" >
				<tr>
					<td align="right">
						<p:commandButton 
							value="#{gmsgs['btn.register']}" 
							icon="fa fa-edit" 
							action="#{changeOwnershipBean.loadRegularizationInformation}"
							update=":opnlGenericDialogs"/>
					</td>
				</tr>
				
				<tr>
					<td>
						<p:outputPanel id="opnlResult" rendered="#{changeOwnershipBean.changeOwnershipRegularizationDataModel != null}" style="width:100%;" >		
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" >
								<p:dataTable id="dtbResult" var="choopd" 
										value="#{changeOwnershipBean.changeOwnershipRegularizationDataModel}"
										rendered="#{changeOwnershipBean.changeOwnershipRegularizationDataModel.rowCount >= 1}"
										first="#{changeOwnershipBean.firsRegisterDataTable}"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginator="true" rows="10" paginatorPosition="top"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
										rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
										rowKey="#{choopd.operationNumber}"
										selection="#{changeOwnershipBean.selectedChangeOwnershipForRegTO}"
										style="width:100%; align:center;">
	
									<p:columnGroup type="header" >
										<p:row>
											<p:column style="width: 17px" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.request.number']}" style="width: 85px" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.date.registry']}" style="width: 85px;text-align:center;" />																						
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.holderaccount.number']}" style="width: 85px;" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.holderaccount.desc']}" />	
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.participant']}"  style="white-space:pre;width: 150px;"  />	
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.target.participant']}"  style="white-space:pre;width: 150px;" />
										</p:row>
									</p:columnGroup>
									
									<p:column selectionMode="single"  />
									
									<p:column >
										<h:outputText value="#{choopd.operationNumber}"  >										
										</h:outputText>
									</p:column>
									<p:column style="text-align:center;">
										<h:outputLabel value="#{choopd.registerDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" dateStyle="medium" type="date" />
										</h:outputLabel>
									</p:column> 
									<p:column style="text-align:center" >
										<h:outputText value="#{choopd.sourceHolderAccount.accountNumber} "/>
									</p:column>
									<p:column style="text-align:left">
										<h:outputFormat  value="#{choopd.sourceHolderAccount.holderAccountDetailDescription}" escape="false"/>
									</p:column>

									<p:column style="text-align:center">
										<h:outputText value="#{choopd.idSourceParticipantPk} - #{choopd.sourceParticipantMnemonic}"/>
									</p:column>
									<p:column style="text-align:center">
										<h:outputText value="#{choopd.idTargetParticipantPk} - #{choopd.targetParticipantMnemonic}"/>
									</p:column>
									
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{changeOwnershipBean.changeOwnershipRegularizationDataModel.rowCount} #{msgs['lbl.results']}" 
												style="font-weight:bold;"/>
										</div>
									</f:facet>
									<p:ajax event="page" listener="#{changeOwnershipBean.changePageDatatable}"/>
								</p:dataTable>
								
								<h:outputLabel value="#{msgs['lbl.regularization.no.result']}" 
									rendered="#{!(changeOwnershipBean.changeOwnershipRegularizationDataModel.rowCount >= 1)}"
									style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
						
					</td>
				</tr>
				<tr>
					<td align="center">
						<p:commandButton id="backBtn" value="#{gmsgs['btn.back']}" immediate="true" 
									action="searchChangeOwnership" icon="fa fa-undo"/>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
		</p:outputPanel>

	</ui:define>
</ui:composition>
</html>