<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:m="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script>
			function redirect(url){
				document.location = "#{facesContext.externalContext.requestContextPath}"+url;
			}
		</script>
		
		<h:outputText value="#{msgs['lbl.title.register.change.holder']}" styleClass="title-page" />
		
		<p:importConstants type="com.pradera.model.custody.type.ChangeOwnershipBalanceTypeType" var="balanceTypeType" />
		
		<h:form id="frmOwnershipExchangeDetails">
		<p:remoteCommand update=":frmOwnershipExchangeDetails:pgExcuteTransaction" process="@this" global="true" name="updateProgress"/>
		<p:poll interval="30" process="@this" global="true" oncomplete="updateProgress()" rendered="true"/> 
		
		<h:panelGrid id="pgExcuteTransaction" >
		</h:panelGrid>
		
			<table width="100%">
			<tr><td>
			<p:tabView id="generalTab" >
				<p:tab title="#{msgs['lbl.general.data']}">
					<table width="100%"  border="0" >
						<tr>
							<td>
								<p:fieldset id="generalDetailsFieldset" legend="#{msgs['lbl.ownershipexchange.fieldset.request.details']}" >
									<table width="100%" border="0" >
										<tr>
											<td width="150">
												<h:outputText value="#{msgs['lbl.ownershipexchange.request.number']}"  />
											</td>
											<td colspan="3">
												<p:inputText  id="custodyOperationPk" disabled="true" styleClass="small-input-text-width"
												value="#{changeOwnershipBean.selectedChangeOwnershipOperation.custodyOperation.operationNumber}" />
											</td>
										</tr>
										<tr>
											<td >
												<h:outputText value="#{msgs['lbl.ownershipexchange.balance.type']}" />
											</td>
											<td >
												<p:inputText id="balanceTypeDescription" disabled="true"
													 value="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceTypeDescription}" />
											</td>
											<td width="150">
												<h:outputText value="#{msgs['lbl.ownershipexchange.motive']}"   />
											</td>
											<td>
												<p:inputText id="motiveDescription" disabled="true"
													 style="width: 350px;"
													 value="#{changeOwnershipBean.selectedChangeOwnershipOperation.motiveDescription}" />
											</td>
										</tr>
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.ownershipexchange.processing.type']}" />
											</td>
											<td>
												<p:selectOneMenu id="processingType" value="#{changeOwnershipBean.selectedChangeOwnershipOperation.processingType}"
														 disabled="true">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
													<f:selectItems  value="#{changeOwnershipBean.lstOwnershipExchangeProcType}"
														var="procType" itemLabel="#{procType.parameterName}"
														itemValue="#{procType.parameterTablePk}" />
												</p:selectOneMenu>
											</td>
											<td width="150">
												<h:outputText value="#{msgs['lbl.ownershipexchange.status']}"  />
											</td>
											<td>
												<p:selectOneMenu id="statusSelect" value="#{changeOwnershipBean.selectedChangeOwnershipOperation.state}"
														 disabled="true">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
													<f:selectItems  value="#{changeOwnershipBean.lstOwnershipExchangeStatusTypes}"
														var="statusType" itemLabel="#{statusType.parameterName}"
														itemValue="#{statusType.parameterTablePk}" />
												</p:selectOneMenu>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.motive.reject']}" rendered="#{changeOwnershipBean.hasMotiveType}"  />
											</td>
											<td>
												<p:inputText  id="txtRejectMotive" disabled="true"  style="width: 350px;"
												rendered="#{changeOwnershipBean.hasMotiveType}"
												value="#{changeOwnershipBean.selectedChangeOwnershipOperation.rejectMotiveDescription}" />
											</td>
											<td>
												<h:outputText value="#{msgs['lbl.other.motive']}" rendered="#{changeOwnershipBean.hasOtherMotive}" />
											</td>
											<td colspan="3">
												<p:inputText   style="width: 350px;" id="txtRejectMotiveOthers" 
												disabled="true" rendered="#{changeOwnershipBean.hasOtherMotive}" 
												value="#{changeOwnershipBean.selectedChangeOwnershipOperation.custodyOperation.rejectMotiveOther}" />
											</td>
										</tr>										
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.ownershipexchange.participant.source']}"   />
											</td>
											<td colspan="3">
												<p:selectOneMenu required="true" disabled="true" 
													style="width:300px"
													value="#{changeOwnershipBean.selectedChangeOwnershipOperation.sourceParticipant.idParticipantPk}"> 
													<f:selectItem itemLabel="#{changeOwnershipBean.selectedChangeOwnershipOperation.sourceParticipant.displayDescriptionCode}"
													itemValue="#{changeOwnershipBean.selectedChangeOwnershipOperation.sourceParticipant.idParticipantPk}" />
												</p:selectOneMenu>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.ownershipexchange.participant.target']}"  />
											</td>
											<td colspan="3">
												<p:selectOneMenu required="true" disabled="true" 
													style="width:300px"
													value="#{changeOwnershipBean.selectedChangeOwnershipOperation.targetParticipant.idParticipantPk}"> 
													<f:selectItem itemLabel="#{changeOwnershipBean.selectedChangeOwnershipOperation.targetParticipant.displayDescriptionCode}"
													itemValue="#{changeOwnershipBean.selectedChangeOwnershipOperation.targetParticipant.idParticipantPk}" />
												</p:selectOneMenu>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.ownershipexchange.datatable.date.registry']}"   />
											</td>
											<td colspan="3">
												<p:inputText 
													disabled="true"
													styleClass="short-input-text-width"
													value="#{changeOwnershipBean.selectedChangeOwnershipOperation.custodyOperation.registryDate}" >
														<f:convertDateTime dateStyle="medium" pattern="#{msgs['dateFormat']}" type="both" />
												</p:inputText>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputText value="#{msgs['lbl.ownershipexchange.datatable.comments']}"
													rendered="#{not empty changeOwnershipBean.selectedChangeOwnershipOperation.comments}"   />
											</td>
											<td colspan="3">
												<p:inputTextarea cols="80" rows="4" required="true"
													value="#{changeOwnershipBean.selectedChangeOwnershipOperation.comments}"
													id="observArea" disabled="true"
													rendered="#{not empty changeOwnershipBean.selectedChangeOwnershipOperation.comments}"   />
											</td>
										</tr>
									</table>
								</p:fieldset>
							</td>
						</tr>
						<tr>
							<td>
								<p:fieldset id="sourceTargetDetailsFieldSet" legend="#{msgs['adm.rectification.detail.origen']}">
									<ui:repeat var="sourceChod" value="#{changeOwnershipBean.selectedChangeOwnershipOperation.changeOwnershipDetails}"
											   style="border-style: thin;">
										<p:fieldset>  
											<h:outputText value="#{msgs['adm.rectification.detail.valor']}" />
											<p:commandLink style="text-align:center;" value="#{sourceChod.security.idSecurityCodePk}" 
												update=":frmOwnershipExchangeDetails:detailSecurityHelp:securityDetailsecurityHelp"
												actionListener="#{changeOwnershipBean.showSecurityDetail(sourceChod.security.idSecurityCodePk)}" />
											
											<p:dataTable var="sourcechod" id="sourcechodTable" style="width:100%;"
														 value="#{sourceChod}" rowKey="#{sourcechod.idChangeOwnershipDetailPk}" >
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.ownershipexchange.fieldset.source']}" />
												</f:facet>
												<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}" 
													style="width: 5%;" styleClass="content-center">
													<h:outputText value="#{sourcechod.holderAccount.accountNumber}" />
												</p:column>
					
												<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}"
													style="width: 10%;" styleClass="content-center">
													<h:outputText value="#{sourcechod.holderAccount.alternateCode}" />
												</p:column>
					
												<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}"
													style="width: 40%;" styleClass="content-left">
													<h:outputText value="#{sourcechod.holderAccount.holderAccountDetailDescription}" escape="false" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}"
													style="width: 20%;" styleClass="content-left">
													<h:outputText value="#{sourcechod.holderAccount.accountDocTypeAndNumber}" escape="false" />
												</p:column>
												
												<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
													style="width: 10%;" styleClass="content-center">
													<h:outputText value="#{sourcechod.participant.displayCodeMnemonic}" />
												</p:column>
												
												<p:column style="width: 5%;" styleClass="content-right"
												rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.AVAILABLE_BALANCE.code}"
														  headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}">
														<h:outputText value="#{sourcechod.availableBalance}"  />
												</p:column>
												
												<p:column 
													rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
												    headerText="#{msgs['lbl.ownershipexchange.header.transferquantity.pawn']}"
												    style="width: 10px;" styleClass="content-right">
														<h:outputText value="#{sourcechod.pawnBalance}"  />
												</p:column>
												
												<p:column 
													rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
													headerText="#{msgs['lbl.ownershipexchange.header.transferquantity.ban']}"
												    style="width: 10px;" styleClass="content-right">
														<h:outputText value="#{sourcechod.banBalance}"  />
												</p:column>
												
												<p:column 
													rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}"
													headerText="#{msgs['lbl.ownershipexchange.header.transferquantity.others']}"
												    style="width: 10px;" styleClass="content-right">
														<h:outputText value="#{sourcechod.otherBlockBalance}"  />
												</p:column>
												
												<ui:remove>
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.show.marketfact']}" style="width: 10px;">
														<p:commandButton icon="ui-search">
															<p:ajax process="@this" event="click" oncomplete="PF('idMarketFactDataWidget').show()" update=":idMarketFactPanel"
																	listener="#{changeOwnershipBean.showMarketFactUIDetail(sourcechod, false)}"/>
														</p:commandButton>
													</p:column>
												</ui:remove>
												
											</p:dataTable>
											
											<p:spacer height="10" />
											
											<p:outputPanel id="availDetails" 
												rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.AVAILABLE_BALANCE.code}">
												<p:dataTable var="targetchod" id="targetchodTable" style="width:100%;"
															 value="#{sourceChod.targetChangeOwnershipDetails}" rowKey="#{targetchod.idChangeOwnershipDetailPk}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.ownershipexchange.fieldset.target']}" />
													</f:facet>
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
														style="width: 5%;" styleClass="content-center">
														<h:outputText value="#{targetchod.holderAccount.accountNumber}" />
													</p:column>
						
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}"
														style="width: 10%;" styleClass="content-center">
														<h:outputText value="#{targetchod.holderAccount.alternateCode}" />
													</p:column>
						
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}"
														style="width: 40%;" styleClass="content-left">
														<h:outputText value="#{targetchod.holderAccount.holderAccountDetailDescription}" escape="false" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}"
														style="width: 20%;"  styleClass="content-left">
														<h:outputText value="#{targetchod.holderAccount.accountDocTypeAndNumber}" escape="false" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
														style="width: 10%;" styleClass="content-center" >
														<h:outputText value="#{targetchod.participant.displayCodeMnemonic}" />
													</p:column>
			
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}"
													    	  style="width: 5%;"  styleClass="content-right">
														<h:outputText value="#{targetchod.availableBalance}" />
													</p:column>
													<ui:remove>
														<p:column headerText="#{msgs['lbl.ownershipexchange.header.show.marketfact']}" style="width: 10px;">
															<p:commandButton icon="ui-search">
																<p:ajax process="@this" event="click" oncomplete="PF('idMarketFactDataWidget').show()" update=":idMarketFactPanel"
																		listener="#{changeOwnershipBean.showMarketFactUIDetail(targetchod, true)}"/>
															</p:commandButton>
														</p:column>
													</ui:remove>
												</p:dataTable>
											</p:outputPanel>
											
											<p:outputPanel id="blockDetails" 
												rendered="#{changeOwnershipBean.selectedChangeOwnershipOperation.balanceType eq balanceTypeType.BLOCKED_BALANCE.code}">
												<p:dataTable var="blockchod" id="blockchodTable" style="width:100%;"
															 value="#{sourceChod.blockChangeOwnerships}" rowKey="#{blockchod.idBlockChangeOwnershipPk}" >
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.ownershipexchange.fieldset.target']}" />
													</f:facet>
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.number']}"
														style="width: 5%;" styleClass="content-center">
														<h:outputText value="#{blockchod.holderAccount.accountNumber}" />
													</p:column>
						
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.account.alternatecode']}"
														style="width: 7.5%;" styleClass="content-center">
														<h:outputText value="#{blockchod.holderAccount.alternateCode}" />
													</p:column>
						
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.names']}"
														style="width: 35%;" styleClass="content-left">
														<h:outputText value="#{blockchod.holderAccount.holderAccountDetailDescription}" escape="false" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.holder.document.type.number']}"
														style="width: 12.5%;"  styleClass="content-left">
														<h:outputText value="#{blockchod.holderAccount.accountDocTypeAndNumber}" escape="false" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.participant.description']}"
														style="width: 10%;" styleClass="content-center" >
														<h:outputText value="#{blockchod.participant.displayCodeMnemonic}" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.op.number']}"
														style="width: 5%;" styleClass="content-center" >
														<h:outputText value="#{blockchod.blockOperation.documentNumber}" />
													</p:column>
													
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.affectation.level']}"
														style="width: 12.5%;" styleClass="content-center" >
														<h:outputText value="#{changeOwnershipBean.getParameter(blockchod.blockOperation.blockLevel).parameterName}" />
													</p:column>
			
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.transferquantity']}"
													    style="width: 7.5%;"  styleClass="content-right">
															<h:outputText value="#{blockchod.blockQuantity}"  />
													</p:column>
													<p:column headerText="#{msgs['lbl.ownershipexchange.header.show.marketfact']}" style="width: 5%;">
														<p:commandButton icon="ui-search">
															<p:ajax process="@this" event="click" oncomplete="PF('idMarketFactDataWidget').show()" update=":idMarketFactPanel"
																	listener="#{changeOwnershipBean.showMarketFactUIDetailBlock(blockchod)}"/>
														</p:commandButton>
													</p:column>
												</p:dataTable>
											</p:outputPanel>
											
										</p:fieldset>	 
									</ui:repeat>
								</p:fieldset>
							</td>
						</tr>
					</table>
				</p:tab>
				<p:tab title="#{msgs['lbl.ownershipexchange.document.adjunto']}">
					<h:panelGroup id="groupUploadFiles">
						<p:dataTable id="dtbHolderDocuments" var="changeOwnershipFile" rowIndexVar="regNum"
							rendered="#{not empty changeOwnershipBean.selectedChangeOwnershipOperation.changeOwnershipFiles}"
							value="#{changeOwnershipBean.selectedChangeOwnershipOperation.changeOwnershipFiles}">
							<p:column style="width:3%">
								<f:facet name="header">
									<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.order']}" />
								</f:facet>
								<h:outputText
									value="#{regNum + 1}" />
							</p:column>
							<p:column  style="width:47%">
								<f:facet name="header">
									<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.desc']}" />
								</f:facet>
								<h:outputText
									value="#{changeOwnershipFile.fileTypeDescription}" />
							</p:column>
							<p:column style="width:30%">
								<f:facet name="header" >
									<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.name']}" />
								</f:facet>
								<h:outputText
									value="#{changeOwnershipFile.fileName}" />
							</p:column>
							<p:column styleClass="content-center" style="width:20%">
								<f:facet name="header" >
									<h:outputText value="#{msgs['lbl.ownershipexchange.header.doc.view']}" />
								</f:facet>
								<p:commandLink process="@this" global="false" ajax="false"
										onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
					 				<p:fileDownload 
					 					value="#{changeOwnershipBean.getStreamedContentChangeOwnership(changeOwnershipFile)}" />  
					 				<p:graphicImage id="imgView" library="img" name="icons/loupe.png" title="Ver" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
						<p:panel rendered="#{empty changeOwnershipBean.selectedChangeOwnershipOperation.changeOwnershipFiles}">
							<h:outputLabel value="#{msgs['message.ownershipexchange.no.attachments.files']}" 
												style="font-weight:bold;"/>
						</p:panel>
					</h:panelGroup>
				</p:tab>
			</p:tabView>
			</td></tr>
			<tr>
				<td align="center">

					<h:panelGrid columns="3">
		 				<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" process="@this"
							 rendered="#{changeOwnershipBean.viewOperationConfirm}" update=":opnlDialogs"
							 actionListener="#{changeOwnershipBean.beginConfirmChangeOwnershipHandler()}"/>
							 
						<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" process="@this"
							 rendered="#{changeOwnershipBean.viewOperationReject}" update=":opnlDialogs"
							 actionListener="#{changeOwnershipBean.beginRejectChangeOwnershipHandler()}"/>

						<p:commandButton value="#{gmsgs['btn.back']}" immediate="true" 
									id="backBtn" action="#{changeOwnershipBean.backToSearch()}"  icon="fa fa-undo"/>
					</h:panelGrid>
				</td>
			</tr>
			</table>
			<arkHelp:securities-help id="detailSecurityHelp" isinCode="" />
		</h:form>
		
		<p:dialog id="idMarketFactData" widgetVar="idMarketFactDataWidget" modal="true" resizable="false" showHeader="false" position="top" 
 				  showEffect="true" maximizable="false" width="800" closeOnEscape="true">  
			<p:outputPanel id="idMarketFactPanel">
	       		<p:fieldset legend="#{msgs['lbl.legend.made.market']}">
	        	<table width="100%">
	        		<tr>
						<td width="30%" align="left">
							<h:outputText value="#{gmsgs['security.lbl.code']}" />
						</td>
						<td width="70%">
							<p:inputText disabled="true" style="width:70%" value="#{changeOwnershipBean.helpMarketFactBalanceView.securityCodePk}" /> 
						</td>
					</tr>
	  				<tr>
						<td align="left">
							<h:outputText value="#{msgs['commons.label.description']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{changeOwnershipBean.helpMarketFactBalanceView.securityDescription}"  />
						</td>
					</tr>
					<tr>
						<td align="left"><h:outputText value="#{msgs['commons.label.intrumentType']}" /></td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{changeOwnershipBean.helpMarketFactBalanceView.instrumentDescription}" /> 
						</td>
					</tr>
					<tr>
						<td align="left">
							<h:outputText value="#{msgs['lbl.reversal.register.unblockRequest.quantity']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{changeOwnershipBean.helpMarketFactBalanceView.balanceResult}" >
								<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							</p:inputText> 
						</td>
					</tr>
					<tr>
						<td colspan="2">
		  				<p:dataTable value="#{changeOwnershipBean.helpMarketFactBalanceView.marketFacBalances}"  var="list" style="width:100%" 
		  							 paginator="true" rows="10" 
	  						   paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									 rowsPerPageTemplate="5,10" paginatorPosition="top" currentPageReportTemplate="({currentPage} de {totalPages})">
							 
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.date']}"/>
								</f:facet>
								<h:outputText value="#{list.marketDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
								</h:outputText>
							</p:column>

		  					<p:column styleClass="content-center">
								<f:facet name="header" >
									<h:outputText value="#{msgs['commons.label.marketfact.price']}" />
								</f:facet>
								<h:outputText value="#{(list.marketPrice!=null)?list.marketPrice:0}">
								<f:convertNumber pattern="#{msgs['lbl.decimal']}" locale="en_US"/>
								</h:outputText>
							</p:column>
							
		  					<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.tasa']}" />
								</f:facet>
								<h:outputText value="#{(list.marketRate!=null)?list.marketRate:0}">
									<f:convertNumber pattern="#{gconst['pattern.market.rate']}"/>
								</h:outputText>
								<h:outputText value="%"/>
							</p:column>
						
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.quantity']}"/>
								</f:facet>
								<h:outputText value="#{(list.totalBalance!=null) ? list.totalBalance : 0}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
							
						</p:dataTable>	
						</td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}" immediate="true"  process="@this"
					        			 	 oncomplete="PF('idMarketFactDataWidget').hide()" update=":opnlDialogs" /> 
	                  	</td>
	       			</tr>
	       		</table>
	       		</p:fieldset>
	       	</p:outputPanel>
	    </p:dialog>
	    	
		<p:outputPanel id="opnlDialogs" >
		  <h:form id="frmDialogs">
		   <p:confirmDialog id="transferOwnershipActionCnf" widgetVar="transferOwnershipActionCnfWidget" severity="alert" closable="false"
						 	header="#{headerMessageView}" message="#{bodyMessageView}" >
				<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" global="true" ajax="true"
								 actionListener="#{changeOwnershipBean.executeActionChangeOwnerShipHandler}"
								 process="@this" update="@form"/>
				<p:commandButton value="#{gmsgs['btn.no']}"  onclick="PF('transferOwnershipActionCnfWidget').hide()" type="button"/>
			</p:confirmDialog>
			
			<p:confirmDialog id="transferOwnershipActionCnfOk" widgetVar="transferOwnershipActionCnfOkWidget" severity="info" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}" >
				<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action = "searchChangeOwnership" />
		    </p:confirmDialog>
		  </h:form>
		  
		  <h:form id="frmChangeOwnershipRejectMotive">
			<p:dialog id="dlgMotive" modal="true" resizable="false" closable="false" position="center"
			    header="#{msgs['lbl.motive.reject']}"  widgetVar="dlgWdgtMotive" >

				<p:outputPanel id="opnlMotive">
					<table>
						<tr>
							<td width="100px">
								<h:outputText value="#{msgs['lbl.motive']} (*)"  styleClass="required-field" /> 
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}" widgetVar="cnfwCboMotive"
												 value="#{changeOwnershipBean.selectedChangeOwnershipOperation.custodyOperation.rejectMotive}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
									<f:selectItems value="#{changeOwnershipBean.lstRejectMotives}" var="mot" 
												   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
									<p:ajax process="@this" update="opnlMotive gridButtons" event="change" 
											listener="#{changeOwnershipBean.onChangeRejectMotive}"/>
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
								</p:selectOneMenu>
								<p:message for="cboMotive" display="icon" />
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="txtOtherMotiveReject" styleClass="required-field" 
											  rendered="#{changeOwnershipBean.showMotiveText}"/>
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText size="60" rendered="#{changeOwnershipBean.showMotiveText}" maxlength="50"
											 value="#{changeOwnershipBean.selectedChangeOwnershipOperation.custodyOperation.rejectMotiveOther}" 
											 id="txtOtherMotive" label="#{msgs['lbl.other.motive']}" >
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
						 			<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />
								</p:inputText>
								<p:message for="txtOtherMotive" display="icon"/>
								</h:panelGrid>
							</td>
						</tr>
					</table>
				</p:outputPanel>
				<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
					<p:outputPanel>
						<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" 
							actionListener="#{changeOwnershipBean.acceptRejectMotive}"
						    update="opnlMotive :frmDialogs:transferOwnershipActionCnf" /> 
						<p:spacer width="1px" />
		       			<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack"
								icon="fa fa-undo" type="button"
								onclick="PF('dlgWdgtMotive').hide()"  >
								<f:param name="skipValidation" value="true"/>
							</p:commandButton>
					
						<p:commandButton id="cmbProcessBackMotive"
								value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
								actionListener="#{changeOwnershipBean.closeDialogRejectMotive}"
								process="@this" update=":opnlDialogs" onclick="PF('dlgWdgtMotive').hide()" />
					</p:outputPanel>
				</h:panelGrid>
			</p:dialog>
			<p:confirmDialog id="cnfBackMotive"
					message="#{gmsgs['message.back']}" severity="alert"
					header="#{gmsgs['lbl.header.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
						process="@this" update=":opnlDialogs"
						actionListener="#{changeOwnershipBean.closeDialogRejectMotive}"
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgWdgtMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
		  </h:form>
		  
		</p:outputPanel>

	</ui:define>
</ui:composition>
</html>