
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{msgs['processData.title']}" styleClass="title-page"/>
<h:form id="frmProcessData">
<table width="100%">
<tr>
	<td width="100%">
		<p:fieldset legend="#{msgs['processData.title']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.id']}"/>
			</td>
			<td colspan="3">
				<p:inputText disabled="true" size="10" styleClass="content-right"
					value="#{manageBusinessProcessesBean.businessProcess.idBusinessProcessPk}"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.macro']}"/>
			</td>
			<td colspan="3">
				<p:inputText disabled="true" size="75"
					value="#{manageBusinessProcessesBean.businessProcess.macroProcessName}"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.nivel1']}"/>
			</td>
			<td colspan="3">
				<p:inputText disabled="true" size="65" value="#{manageBusinessProcessesBean.businessProcess.processLevel1Name}"/>
			</td>
		</tr>
		<tr>
			<td width="17%">
				<h:outputText value="#{msgs['bussinessProcess.lbl.nivel2']}"/>
			</td>
			<td width="33%">
				<p:inputText disabled="true" size="55"
					value="#{manageBusinessProcessesBean.businessProcess.processLevel2Name}" />
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['bussinessProcess.lbl.type']}"/>
			</td>
			<td width="30%">
				<p:inputText disabled="true" size="20" 
					value="#{manageBusinessProcessesBean.businessProcess.processTypeDescription}"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.negocio']}"/>
			</td>
			<td colspan="3">
				<p:inputText disabled="true" size="70" value="#{manageBusinessProcessesBean.businessProcess.processName}"/>
			</td>			
		</tr>
		<tr>			
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.beanName']}"/>
			</td>
			<td>
				<p:inputText disabled="true" size="60" style="text-transform:none"
					value="#{manageBusinessProcessesBean.businessProcess.beanName}"/>
			</td>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.nemonico']}"/>
			</td>
			<td>
				<p:inputText disabled="true" size="20" 
					value="#{manageBusinessProcessesBean.businessProcess.mnemonic}"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['bussinessProcess.lbl.description']}"/>
			</td>
			<td colspan="4">
				<p:inputTextarea style="width:86%;" disabled="true"
					value="#{manageBusinessProcessesBean.businessProcess.description}"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:tabView id="tabView" rendered="#{manageBusinessProcessesBean.businessProcess.processScheduleDataModel.rowCount>=1 or 
				manageBusinessProcessesBean.businessProcess.processNotificationDataModel.rowCount>=1}">
				<p:tab id="tab1" title="#{msgs['schedule.title']}"
					rendered="#{manageBusinessProcessesBean.businessProcess.processScheduleDataModel.rowCount>=1}">
					<p:dataTable id="dtbProcessSchedules" var="ps" value="#{manageBusinessProcessesBean.businessProcess.processScheduleDataModel}"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						paginator="true" rows="10" paginatorPosition="top" rowKey="#{ps.idProcessSchedulePk}"
						paginatorTemplate="#{msgs['dtb.paginator.template']}"
						rowsPerPageTemplate="5,10" rowIndexVar="rIndx"
						selection="#{manageBusinessProcessesBean.processSchedule}">
						
						<p:column headerText="#{msgs['schedule.id']}" styleClass="content-center">
							<h:outputText value="#{ps.idProcessSchedulePk}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['schedule.description']}" />
							</f:facet>
							<h:outputText value="#{ps.scheduleDescription}" />
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{msgs['schedule.startTime']}"/>
							</f:facet>
							<ui:remove>
							<h:outputText value="#{ps.scheduleInfo.time}">
								<f:convertDateTime pattern="#{msgs['hourminuteseconds']}"/>
							</h:outputText>
							</ui:remove>
							<h:outputText value="#{ps.scheduleInfo.scheduleHour}"/>:
							<h:outputText value="#{ps.scheduleInfo.scheduleMinute}"/>:
							<h:outputText value="#{ps.scheduleInfo.scheduleSecond}"/>
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{msgs['schedule.nextTimeOut']}"/>						
							</f:facet>
							<h:outputText value="#{ps.nextTimeOut}">
								<f:convertDateTime pattern="#{msgs['datehourminutesecond']}"/>
							</h:outputText>
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{msgs['schedule.endTime']}" />
							</f:facet>
							<h:outputText value="#{ps.scheduleInfo.endDate}" />
						</p:column>						
						<p:column styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{msgs['schedule.status']}" />
							</f:facet>
							<h:outputText value="#{ps.scheduleStateDescription}" />
						</p:column>
						<f:facet name="footer">
							<div style="width: 100%; text-align: left">
								<h:outputLabel value="#{manageBusinessProcessesBean.businessProcess.processScheduleDataModel.rowCount} #{msgs['lbl.results']}"
									style="font-weight:bold;" />
							</div>
						</f:facet>
					</p:dataTable>
				</p:tab>
				<p:tab id="tab2" title="#{msgs['notifications.title']}"
					rendered="#{manageBusinessProcessesBean.businessProcess.processNotificationDataModel.rowCount>=1}">
					<p:dataTable id="dtNotificationAdded" var="notificationAdded"
						value="#{manageBusinessProcessesBean.businessProcess.processNotificationDataModel}"
						paginator="true" paginatorPosition="top" rows="10"
						selection="#{manageBusinessProcessesBean.processNotification}"
						rowKey="#{notificationAdded.idProcessNotificationPk}"
						paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10"
						currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">

						<p:column headerText="ID Notificación" styleClass="content-center">
							<h:outputText value="#{notificationAdded.idProcessNotificationPk}"/>
						</p:column>
						<p:column headerText="#{msgs['notifications.type']}" styleClass="content-center">
							<h:outputText value="#{notificationAdded.notificationTypeDescription}"/>
						</p:column>
						<p:column headerText="#{msgs['notification.destination.type']}" styleClass="content-center">
							<h:outputText value="#{notificationAdded.destinationTypeDescription}"/>
						</p:column>
						<p:column headerText="#{msgs['notifications.message']}">
							<h:outputText value="#{notificationAdded.notificationMessage}"/>
							<ui:remove>
							<p:commandLink value="#{notificationAdded.notificationMessage}" style="color:blue;float:left" 
								actionListener="#{manageBusinessProcessesBean.detailsNotificationMessage(notificationAdded)}"
						   		process="@this"/>
						   	</ui:remove>
						</p:column>
						<p:column headerText="#{msgs['notifications.users']}" styleClass="content-center">
							<p:selectOneMenu value="#{notificationAdded.destinationSel}" styleClass="content-left"
								rendered="#{not empty notificationAdded.destinationNotifications}">
								<f:selectItems value="#{notificationAdded.destinationNotifications}"
									itemDescription="#{destiNoti.fullName}"
									var="destiNoti" itemLabel="#{destiNoti.idUserAccount}" itemValue="#{destiNoti.idDestinationPk}"/>
							</p:selectOneMenu>
							<ui:remove>
							<p:commandLink value="#{notificationAdded.notificationMessage}" style="color:blue;float:left"
						   		process="@this" actionListener="#{manageBusinessProcessesBean.detailsNotificationUser(notificationAdded)}"/>
						   	</ui:remove>	
						</p:column>
						<p:column headerText="#{msgs['notifications.status']}" styleClass="content-center">
							<h:outputText value="#{notificationAdded.stateDescription}"/>
						</p:column>
						<f:facet name="footer">
							<div style="width: 100%; text-align: left">
								<h:outputLabel
									value="#{manageBusinessProcessesBean.businessProcess.processNotificationDataModel.rowCount} registros encontrados."
									style="font-weight:bold;" />
							</div>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:tabView>
		</td>
	</tr>
	<tr>
		<td align="center">
			<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" 
				action="processBackRule"/>
		</td>
	</tr>
</table>
</h:form>
</ui:define>
</ui:composition>
</html>