<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">



<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<style type="text/css">
.ui-datatable tbody td{
	white-space: normal !important;
}
</style>
	<h:outputText value="#{msgs['bussinessProcess.title']}" styleClass="title-page" id="idOtxtBusinessProcessSearchTitle"/>
	<h:form id="frmMessagesMonitoring">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset legend="#{msgs['bussinessProcess.legend']}" id="pnlPrincipal">
						<table width="100%"> 
							<tr>
								<td width="105px">
									<h:outputText value="#{msgs['bussinessProcess.lbl.sytem']} (*)"  id="idOtxtSystem"
										styleClass="required-field" />
								</td>
								<td>
									<h:panelGrid columns="2" id="idPnlGridSystem">
										<p:selectOneMenu id="cboSystem"
											styleClass="medium-select-width"
											value="#{manageBusinessProcessesBean.idSystemSelected}"
											label="#{msgs['bussinessProcess.lbl.sytem']}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItemSystem"/>
											<f:selectItems value="#{manageBusinessProcessesBean.lstSystems}" id="idCboItemsSystem"
												var="comboBoxValueBean"
												itemLabel="#{comboBoxValueBean.itemLabel}"
												itemValue="#{comboBoxValueBean.itemValue}" />
											<p:ajax event="change" process="@this"
												update="cboSystem msgCboSystem cboMacroProcess msgCboMacroProcess :opnlGenericDialogs"
												listener="#{manageBusinessProcessesBean.loadListMacroProcess}" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											<f:param name="skipValidation" value="false"/>
										</p:selectOneMenu>
										<p:message id="msgCboSystem" for="cboSystem" display="icon" />
									</h:panelGrid>
								</td>									
							</tr>
							<tr>
								<td width="105px">
									<h:outputText value="#{msgs['bussinessProcess.lbl.macro']} (*)" styleClass="required-field" id="idOtxtBusinessProcSearchMacro"/>
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:selectOneMenu id="cboMacroProcess" style="width:310px"
											value="#{manageBusinessProcessesBean.macroProcessSelected}" label="#{msgs['bussinessProcess.lbl.macro']} (*)">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
											<f:selectItems id="idCboItemsBusinessProcSearchMacro" value="#{manageBusinessProcessesBean.listMacroProcess}"
												var="proceso" itemLabel="#{proceso.description}" itemValue="#{proceso.idTypePK}"/>
												<p:ajax event="change" update="cboMacroProcess msgCboMacroProcess cboProcessNr1 cboProcessNr2 :opnlGenericDialogs"
													listener="#{manageBusinessProcessesBean.getLevel1List}" />	
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											<f:param name="skipValidation" value="false"/>
										</p:selectOneMenu>
										<p:message id="msgCboMacroProcess" for="cboMacroProcess" display="icon"/>
									</h:panelGrid>								
								</td>
								<td width="80px">
								<h:outputText value="#{msgs['bussinessProcess.lbl.nivel1']}" id="idOtxtBusinessProcSearchLevelOne"/>
								</td>
								<td>
									<h:panelGrid columns="2">
									<p:selectOneMenu id="cboProcessNr1" value="#{manageBusinessProcessesBean.level1Selected}"
										style="width:310px">
										<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItemBusinessProcSearchLevelOne" />
										<f:selectItems id="idCboItemsBusinessProcSearchLevelOne" value="#{manageBusinessProcessesBean.listLevel1}"
											var="proceso" itemLabel="#{proceso.description}" itemValue="#{proceso.idTypePK}"/>
											<p:ajax event="change" update="cboProcessNr2"
												listener="#{manageBusinessProcessesBean.getLevel2List}" />	
									</p:selectOneMenu>
									</h:panelGrid>									
								</td>
								<td width="80px">
								<h:outputText value="#{msgs['bussinessProcess.lbl.nivel2']}" id="idOtxtBusinessProcSearchLevelTwo"/>
								</td>
								<td >
									<h:panelGrid columns="2">
									<p:selectOneMenu id="cboProcessNr2" value="#{manageBusinessProcessesBean.level2Selected}"
										style="width:310px">
										<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItemBusinessProcSearchLevelTwo"/>
										<f:selectItems id="idCboItemsBusinessProcSearchLevelTwo" value="#{manageBusinessProcessesBean.listLevel2}"
											var="proceso" itemLabel="#{proceso.description}" itemValue="#{proceso.idTypePK}" />										
									</p:selectOneMenu>
									</h:panelGrid>					
								</td>
							</tr>
						<tr>							
							<td >
								<h:outputText value="#{msgs['bussinessProcess.lbl.type']}" id="idOtxtBusinessProcSearchType"/>
							</td>
							<td >
								<p:selectOneMenu  id="cboProcessType" value="#{manageBusinessProcessesBean.typeSelected}"
									style="width:310px">
									<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItemBusinessProcSearchType"/>
									<f:selectItems id="idCboItemsBusinessProcSearchType" value="#{manageBusinessProcessesBean.processTypes}"
										var="proceso" itemLabel="#{proceso.value}" itemValue="#{proceso.code}"/>
								</p:selectOneMenu>									
							</td>
							<td>
								<h:outputText value="#{msgs['bussinessProcess.lbl.nemonico']}" id="idOtxtBusinessProcSearchMnemonico"/>
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText value="#{manageBusinessProcessesBean.mnemonicSelected}" id="idItxtBusinessProcSearchMnemonico">
									<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.not.space']}"/>
								</p:inputText>
								</h:panelGrid>
							</td>
							<td>
								<h:outputText value="#{msgs['bussinessProcess.lbl.notification']}"/>
							</td>
							<td>
								<p:selectOneMenu  id="cbNotificationFlag" value="#{manageBusinessProcessesBean.indicatorNotification}">
									<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
									<f:selectItems value="#{manageBusinessProcessesBean.statusType}"/>
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['bussinessProcess.lbl.negocio']}"  id="idOtxtBusinessProcSearchNegocio"/>
							</td>
							<td colspan="3">
								<h:panelGrid columns="2">
								<p:inputText value="#{manageBusinessProcessesBean.negocioSelected}" size="120" id="idItxtBusinessProcSearchNegocio">
									<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric']}"/>
								</p:inputText>
								</h:panelGrid>									
							</td>
						</tr>
						<tr>
							<td colspan="6" align="center">
								<p:commandButton id="idCmdBtnSearch" value="#{msgs['btn.buscar']}" icon="fa fa-search"  process="@form" 
									rendered="#{userInfo.userAcctions.search}"
									update="pnlBusinessProcesses pnlPrincipal msgCboSystem msgCboMacroProcess :opnlGenericDialogs" actionListener="#{manageBusinessProcessesBean.listBusinessProcess}" >
									<f:param name="skipValidation" value="true"/>
								</p:commandButton>
								<p:commandButton id="idCmdtnClear" value="#{msgs['btn.clean']}" icon="fa fa-trash" 
									process="@this" update="@form" actionListener="#{manageBusinessProcessesBean.clearBusinessProcesses}"/>
							</td>
						</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel autoUpdate="true"  id="outputPanelPrivileges">
						<p:outputPanel rendered="#{(manageBusinessProcessesBean.businessProcessDataModel.rowCount>=1)}"> 
						<ark:privileges id="praderaPrivileges"
					 		actionModify="#{manageBusinessProcessesBean.assignBusinessProcess}"
					 		actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>
						</p:outputPanel>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlBusinessProcesses">
					<p:fieldset rendered="#{manageBusinessProcessesBean.businessProcessDataModel !=null}" legend="#{msgs['btn.msg.results']}" >					
					<p:dataTable id="dataTable" var="bp" value="#{manageBusinessProcessesBean.businessProcessDataModel}"  
		            	selection="#{manageBusinessProcessesBean.businessProcess}"
		                currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
						paginator="true" rows="10" paginatorPosition="top"
						paginatorTemplate="#{msgs['dtb.paginator.template']}"
						rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
						rowIndexVar="rIndx" rowKey="#{bp.idBusinessProcessPk}"
		                rendered="#{manageBusinessProcessesBean.businessProcessDataModel.rowCount>=1}"  
		                first="#{manageBusinessProcessesBean.firsRegisterDataTable}">  
								        
						<p:column selectionMode="single" id="idClmSelectionMode" styleClass="content-center"/>   
						<p:column headerText="#{msgs['bussinessProcess.lbl.id']}">  
							<p:commandLink id="idCmdLinkBusinessProcessId" value="#{bp.idBusinessProcessPk}"  style="color:blue" 
								ajax="false" action="#{manageBusinessProcessesBean.showBusinessProcessDetaisl}"> 
								<f:setPropertyActionListener target="#{manageBusinessProcessesBean.businessProcess}" value="#{bp}" />
							</p:commandLink> 
						</p:column>									
						<p:column id="idClmLevelOne" >  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.nivel1']}" />  
				            </f:facet>  
				            <h:outputText value="#{bp.processLevel1Name}" id="idOtxtLevelOneValue"/>  
				        </p:column>				        
				        <p:column id="idClmLevelTwo">  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.nivel2']}" id="idOtxtLevelTwoHeader"/>  
				            </f:facet>  
				            <h:outputText value="#{bp.processLevel2Name}" id="idOtxtLevelTwoValue"/>  
				        </p:column>				        
				        <p:column id="idClmNegocio">  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.negocio']}" id="idOtxtNegocioHeader"/>  
				            </f:facet>  
				            <h:outputText value="#{bp.processName}" id="idOtxtNegocioValue"/>  
				        </p:column> 
				        
				         <p:column id="idClmMnemonico">  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.nemonico']}" id="idOtxtMnemonicoHeader"/>  
				            </f:facet>  
				            <h:outputText value="#{bp.mnemonic}" id="idOtxtMnemonicoValue"/>  
				        </p:column> 
				        <p:column id="idClmNotification" styleClass="content-center">  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.notification']}" id="idOtxtNotificationHeader"/>  
				            </f:facet>  
				            <h:outputText value="#{bp.hasNotification}" id="idOtxtNotificationValue"/>  
				        </p:column> 
				        <p:column id="idClmBusinessProcessType" styleClass="content-center">  
				            <f:facet name="header">  
				                <h:outputText value="#{msgs['bussinessProcess.lbl.type']}" id="idOtxtProcessTypeHeader"/>  
				            </f:facet>  
				            <h:outputText value="#{bp.processTypeDescription}" id="idOtxtProcessTypeValue"/>  
				        </p:column>  
								        
						<f:facet name="footer">	
							<div style="width:100%; text-align:left" id="idDivRowCount">								
							<h:outputLabel value="#{manageBusinessProcessesBean.businessProcessDataModel.rowCount} registros encontrados."  id="idOlblRowCount"
							style="font-weight:bold;"/>
							</div>
						</f:facet>	
					</p:dataTable>
					<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblNoResult"
						rendered="#{!(manageBusinessProcessesBean.businessProcessDataModel.rowCount >= 1)}" style="font-weight:bold;"/>
					</p:fieldset>							
					</p:outputPanel>
				</td>
			</tr>
		</table>
		<p:confirmDialog id="cnfMsgWarning" visible="true" rendered="false" message="#{bodyMessageView}" header="#{headerMessageView}" 
	     severity="alert" widgetVar="cnfMsgWarningWidget" closable="false">  
			<p:commandButton id="cmdAcceptCustomValidation" value="#{msgs['btn.accept']}" type="button"
			        onclick="PF('cnfMsgWarning').hide();"> 
			</p:commandButton> 
		 </p:confirmDialog>
</h:form>
<p:outputPanel id="opnlDialogs">
</p:outputPanel>
	</ui:define>
</ui:composition>
</html>