<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmInchargeAgreement');
	});
</script>
<h:form id="frmInchargeAgreement">
<table width="100%">
	<tr>
		<td>
		<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['inegotiations.inchargeagreement.manage.title']}" styleClass="title-page" />
				</td>
				<td align="right">
					<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" action="registerInchargeAgreement"
							 actionListener="#{inchargeAgreementMgmtBean.loadRegistrationPage}" icon="fa fa-edit" 
							 rendered="#{userPrivilege.userAcctions.register}"/>
				</td>																				
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
			<p:fieldset legend="#{gmsgs['lbl.criteria.search']}">
			<table width="100%">
				<tr>
					<td width="20%">			
						<h:outputText value="#{msgs['lbl.manage.incharge.search.mechanism']} (*)" styleClass="required-field"/>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboNegoMechanism" value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.negoMechanismSelected}"
							label="#{msgs['lbl.manage.incharge.search.mechanism']}" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstNegotiationMechanism}"
								var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
								<p:ajax event="change" process="@this" 
									update="@this msgNegoMechanism cboNegoModality msgNegoModality 
									cboIncharge msgIncharge cboTrader opnlPrivileges opnlResult" 
									listener="#{inchargeAgreementMgmtBean.changeNegotiationMechanism}"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						</p:selectOneMenu>
						<p:message for="cboNegoMechanism" display="icon" id="msgNegoMechanism"/>	
						</h:panelGrid>	
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.manage.incharge.search.modality']} (*)" styleClass="required-field"/>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboNegoModality" label="#{msgs['lbl.manage.incharge.search.modality']}" 
							value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.negoModalitySelected}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstNegotiationModality}" 
								var="negoModa" itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
								<p:ajax event="change" process="@this" update="@this msgNegoModality 
									cboIncharge msgIncharge cboTrader opnlPrivileges opnlResult" 
									listener="#{inchargeAgreementMgmtBean.changeNegotiationModality}"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
						</p:selectOneMenu>
						<p:message for="cboNegoModality" display="icon" id="msgNegoModality"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.participantIncharge']} (*)" styleClass="required-field"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboIncharge" label="#{msgs['lbl.manage.incharge.search.participantIncharge']}" 
							value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.participantChargedSelected}"
							disabled="#{!inchargeAgreementMgmtBean.blDepositary}" style="width:500px">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstParticipantCharged}"
								var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
								<p:ajax event="change" update="@this msgIncharge opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>				
						</p:selectOneMenu>
						<p:message for="cboIncharge" display="icon" id="msgIncharge"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.participantTrader']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2">
						<p:selectOneMenu value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.participantTraderSelected}" id="cboTrader" style="width:500px">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstParticipantTraders}"
								var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
							<p:ajax event="change" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.state']}"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:selectOneMenu value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.stateSelected}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems 	value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstStates}" 
								var="paramterTab" itemValue="#{paramterTab.parameterTablePk}" itemLabel="#{paramterTab.parameterName}"/>
							<p:ajax event="change" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>	
						</p:selectOneMenu>
						</h:panelGrid>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.role']}"/>
					</td>
					<td>
						<h:panelGrid columns="4">
						<h:outputText value="#{msgs['lbl.manage.incharge.search.role.buy']}"/>
						<p:selectBooleanCheckbox id="idRoleBuy" value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.roleSelectedBuy}">
							<p:ajax event="valueChange" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:selectBooleanCheckbox>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.role.sell']}"/>
						<p:selectBooleanCheckbox id="idRoleSell" value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.roleSelectedSell}">
							<p:ajax event="valueChange" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:selectBooleanCheckbox>
						</h:panelGrid>					
					</td>	
				</tr>
				<tr>						
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="4">
						<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge.funds']}"/>
						<p:selectBooleanCheckbox id="idTypeInchargeFunds" value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.inchargeTypeFunds}">
							<p:ajax event="valueChange" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:selectBooleanCheckbox>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge.stock']}"/>
						<p:selectBooleanCheckbox id="idTypeInchargeStock" value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.inchargeTypeStock}">
							<p:ajax event="valueChange" update="@this opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:selectBooleanCheckbox>	
						</h:panelGrid>					
					</td>			
				</tr>					
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.initialDate']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.initialDate}" id="initialDate"
							showOn="both" pattern="#{gmsgs['calendar.date.format']}" 
							maxdate="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.endDate}"
							size="10" readonlyInput="true" navigator="true" disabledWeekends="true">							
							<p:ajax process="@this" event="dateSelect" update="@this endDate opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:calendar>
						</h:panelGrid>	
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.manage.incharge.search.endDate']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.endDate}" id="endDate"
							showOn="both" pattern="#{gmsgs['calendar.date.format']}"
							mindate="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.initialDate}"
							maxdate="#{inchargeAgreementMgmtBean.currentSystemDate}"
							size="10" readonlyInput="true" navigator="true" disabledWeekends="true">
							<p:ajax process="@this" event="dateSelect" update="@this initialDate opnlPrivileges opnlResult" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>
						</p:calendar>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="center">
						<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" update="@form"
							rendered="#{userPrivilege.userAcctions.search}"
							actionListener="#{inchargeAgreementMgmtBean.searchInChargeAgreement}"/>
						<p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
							actionListener="#{inchargeAgreementMgmtBean.cleanSearch()}" update="@form"/>
					</td>
				</tr>
			</table>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
		<p:outputPanel id="opnlPrivileges">
		<p:outputPanel rendered="#{not empty inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstInchargeAgreement}">
			<arkPriv:privileges id="praderaPrivileges"					 							 
				actionConfirm="#{inchargeAgreementMgmtBean.validateConfirm}"
				actionReject="#{inchargeAgreementMgmtBean.validateReject}"
				actionCancel="#{inchargeAgreementMgmtBean.validateCancel}"
				actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>
		</p:outputPanel>
		</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="opnlResult">
		<p:fieldset legend="#{gmsgs['lbl.results']}" 
			rendered="#{not empty inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstInchargeAgreement}">
		<p:dataTable id="dtbInchargesRequest" var="holderAccOpe"	
			value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstInchargeAgreement}"
			paginator="true" rows="10"  paginatorPosition="top"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"  
			selection="#{inchargeAgreementMgmtBean.selectedInchargeAgreement}" 
			rowKey="#{holderAccOpe.idInchargeAgreementPk}" rowsPerPageTemplate="5,10,15">
		
			<p:column selectionMode="single" styleClass="content-center"/>
						
			<p:column sortBy="#{holderAccOpe.idInchargeAgreementPk}" styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.manage.incharge.search.detail.codeAgreement']}" escape="false"/>
				</f:facet>
				<p:commandLink value="#{holderAccOpe.idInchargeAgreementPk}" style="color:blue" 
					action="#{inchargeAgreementMgmtBean.showIncharge(holderAccOpe)}"/>
			</p:column>
						
			<p:column headerText="#{msgs['lbl.manage.incharge.search.detail.dateRegister']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.registerDate}">
					<f:convertDateTime pattern="dd/M/yyyy"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['lbl.manage.incharge.search.participantTrader']}" >
				<h:outputText value="#{holderAccOpe.traderParticipant.mnemonic} - #{holderAccOpe.traderParticipant.idParticipantPk}"/>
			</p:column>
			
			<p:column headerText="#{msgs['lbl.manage.incharge.search.participantIncharge']}" >
				<h:outputText value="#{holderAccOpe.inchargeParticipant.mnemonic} - #{holderAccOpe.inchargeParticipant.idParticipantPk}"/>
			</p:column>
			
			<p:column headerText="#{msgs['lbl.loanable.securities.search.description.holder']}">
				<h:outputText value="#{holderAccOpe.holder.idHolderPk} - #{holderAccOpe.holder.descriptionHolder}"/>																																
			</p:column>
			
			<p:column headerText="#{msgs['lbl.manage.incharge.search.role.buy']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.roleName1}"/>
			</p:column>
			
			<p:column headerText="#{msgs['lbl.manage.incharge.search.role.sell']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.roleName2}"/>
			</p:column>	
			
			<p:column headerText="#{msgs['lbl.operation.assignment.inchargeStock']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.inchargeTypeName2}"/>
			</p:column>	
			
			<p:column headerText="#{msgs['lbl.operation.assignment.inchargeStockFunds']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.inchargeTypeName1}"/>
			</p:column>
			
			<p:column headerText="#{msgs['lbl.manage.incharge.search.state']}" styleClass="content-center">
				<h:outputText value="#{holderAccOpe.stateName}"/>
			</p:column>	
									
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.lstInchargeAgreement.size}"/>
				</h:outputFormat>
			</f:facet>			
		</p:dataTable>
		</p:fieldset>
		<p:panel rendered="#{inchargeAgreementMgmtBean.searchInchargeAgreementTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>
		</p:outputPanel>
		</td>
	</tr>
</table>
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>