<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmInchargeAgreement');
});
</script>
<h:outputText value="#{gmsgs['inegotiations.inchargeagreement.detail.title']}" styleClass="title-page" />
<h:form id="frmInchargeAgreement">
<table width="100%">
<tr>
	<td>
	<p:fieldset legend="#{msgs['lbl.register.data']}" id="flsInchargeAgreement">
	<p:outputPanel id="pnlRegister">
		<table width="100%" id="tblInchargeAgreement">
		<tr>
			<td width="20%">			
				<h:outputText value="#{msgs['lbl.manage.incharge.search.mechanism']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu disabled="true" id="cboNegoMechanism" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.negoMechanismSelected}"
					label="#{msgs['lbl.manage.incharge.search.mechanism']}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.lstNegotiationMechanism}"
						var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
						<p:ajax event="change" process="@this" 
							update="@this msgNegoMechanism cboNegoModality msgNegoModality 
							cboIncharge msgIncharge cboTrader msgTrader" 
							listener="#{inchargeAgreementMgmtBean.changeNegotiationMechanismForRegister}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message for="cboNegoMechanism" display="icon" id="msgNegoMechanism"/>	
				</h:panelGrid>	
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.manage.incharge.search.modality']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu disabled="true" id="cboNegoModality" label="#{msgs['lbl.manage.incharge.search.modality']}" 
					value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.negoModalitySelected}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.lstNegotiationModality}" 
						var="negoModa" itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
						<p:ajax event="change" process="@this" update="@this msgNegoModality 
							cboIncharge msgIncharge cboTrader msgTrader" 
							listener="#{inchargeAgreementMgmtBean.changeNegotiationModalityForRegister}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
				</p:selectOneMenu>
				<p:message for="cboNegoModality" display="icon" id="msgNegoModality"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.participantIncharge']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu disabled="true" id="cboIncharge" label="#{msgs['lbl.manage.incharge.search.participantIncharge']}" 
					value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.participantChargedSelected}"
					style="width:500px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.lstParticipantCharged}"
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<p:ajax event="change" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(1)}" update="@this msgIncharge" global="false"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>				
				</p:selectOneMenu>
				<p:message for="cboIncharge" display="icon" id="msgIncharge"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.participantTrader']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu disabled="true" id="cboTrader" label="#{msgs['lbl.manage.incharge.search.participantTrader']}" 
				value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.participantTraderSelected}"  style="width:500px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.lstParticipantTraders}"
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
					<p:ajax event="change" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(2)}" update="@this msgTrader" global="false"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
				</p:selectOneMenu>
				<p:message for="cboTrader" display="icon" id="msgTrader"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.role']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="4">
				<h:outputText value="#{msgs['lbl.manage.incharge.search.role.buy']}"/>
				<p:selectBooleanCheckbox disabled="true" id="idRoleBuy" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.roleSelectedBuy}">
					<p:ajax event="valueChange" update="@this  " global="false" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(3)}"/>
				</p:selectBooleanCheckbox>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.role.sell']}"/>
				<p:selectBooleanCheckbox disabled="true" id="idRoleSell" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.roleSelectedSell}">
					<p:ajax event="valueChange" update="@this  " global="false" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(3)}"/>
				</p:selectBooleanCheckbox>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="4">
				<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge.funds']}"/>
				<p:selectBooleanCheckbox disabled="true" id="idTypeInchargeFunds" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.inchargeTypeFunds}">
					<p:ajax event="valueChange" update="@this  " global="false" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(4)}"/>
				</p:selectBooleanCheckbox>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.typeIncharge.stock']}"/>
				<p:selectBooleanCheckbox disabled="true" id="idTypeInchargeStock" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.inchargeTypeStock}">
					<p:ajax event="valueChange" update="@this  idTypeInchargeFunds" global="false" listener="#{inchargeAgreementMgmtBean.validateRuleIncharge(4)}"/>
				</p:selectBooleanCheckbox>	
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid id="componentHolderHelper" columns="4" cellspacing="0" cellpadding="0">
					<p:inputText id="idHolder" size="10" maxlength="5" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.holder.idHolderPk}"
						styleClass="content-right"		disabled="true"/>												
					<p:commandButton value="..."  disabled="true" />										
					<h:outputText value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.holder.descriptionHolder}"/>
				</h:panelGrid>																             				               				                           
           </td>	
           <td>
				<h:outputText value="#{msgs['lbl.manage.incharge.search.state']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu disabled="true" value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.stateSelected}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{inchargeAgreementMgmtBean.registerInchargeAgreementTO.lstStates}" 
						var="paramterTab" itemValue="#{paramterTab.parameterTablePk}" itemLabel="#{paramterTab.parameterName}"/>
					<p:ajax event="change" update="@this" global="false" listener="#{inchargeAgreementMgmtBean.cleanResults()}"/>	
				</p:selectOneMenu>
				</h:panelGrid>
			</td>		           
		</tr>
		</table>
	</p:outputPanel>
	</p:fieldset>
	<p:outputPanel>
		<table align="center">
		<tr>
			<td colspan="4" width="100%" align="center">	
			<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="pnlConfirmDialog,:cnfMsgCustomValidationSec" process="@this"  
											 actionListener="#{inchargeAgreementMgmtBean.beforeRejectHandler}" rendered="#{inchargeAgreementMgmtBean.viewOperationReject}"/>
			<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" update="pnlConfirmDialog,:cnfMsgCustomValidationSec" process="@this"
						 actionListener="#{inchargeAgreementMgmtBean.beforeConfirmHandler}" global="false" rendered="#{inchargeAgreementMgmtBean.viewOperationConfirm}"/>												 
			<p:commandButton value="#{gmsgs['btn.cancel']}" icon="ui-cancel" update="pnlConfirmDialog,:cnfMsgCustomValidationSec" process="@this"
			 actionListener="#{inchargeAgreementMgmtBean.beforeCancelHandler}" global="false" rendered="#{inchargeAgreementMgmtBean.viewOperationCancel}"/>
			<p:commandButton id="cmbBack" 							    
						     onclick="if(isModifiedFormForBack(this,'frmInchargeAgreement'))return false;"
						     action="searchInchargeAgreement"		
							 value="#{gmsgs['btn.back']}" 
							 icon="fa fa-undo"
							 immediate="true"
							 ajax="false"/>						 
			</td>
		</tr>
		</table>
	</p:outputPanel>
	<p:outputPanel id="pnlConfirmDialog">	
		<p:confirmDialog id="cnfFormMgmtRegister" widgetVar="cnfwFormMgmtRegister" severity="alert" closable="false"
					 header="#{headerMessageView}" message="#{bodyMessageView}"> 
			<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" process="@this"  
							 actionListener="#{inchargeAgreementMgmtBean.saveInchargeAgreementHandler}" update="pnlConfirmDialog"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwFormMgmtRegister').hide()" type="button"/>
		</p:confirmDialog>
		
		<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchInchargeAgreement" ajax="false" immediate="true"
								 process="@this" update="@form"/>
		</p:confirmDialog>
	
		<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
  						 message="#{bodyMessageView}" closable="false">
     		<p:commandButton id="cmbConfirmButton" value="#{gmsgs['btn.yes']}" actionListener="#{inchargeAgreementMgmtBean.processOperationHandler}"
      			 			 oncomplete="PF('dialogwConfirm').hide()" update="pnlConfirmDialog" process="@this"/>
      		<p:commandButton  value="#{gmsgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
      			
      		
		</p:confirmDialog>
		
	</p:outputPanel>
	</td>
</tr>	
</table>
</h:form>
</ui:define>
</ui:composition>
</html>