<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
	<script>
	   $(function() {
				 initDND();  
		});
	function initDND() {
	 $(function() {
			$('.date-picker').datepicker( {
				changeMonth: true,
				changeYear: true,
				showButtonPanel: true,
				showOn: "both",
				dateFormat: 'mm/yy',
				onClose: function(dateText, inst) { 
					var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
					var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
					$(this).datepicker('setDate', new Date(year, month, 1));
				}
			});
		});
		
		$(document).ajaxComplete(function(){
			$('.date-picker').datepicker( {
				changeMonth: true,
				changeYear: true,
				showButtonPanel: true,
				showOn: "both",
				dateFormat: 'mm/yy',
				onClose: function(dateText, inst) { 
					var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
					var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
					$(this).datepicker('setDate', new Date(year, month, 1));
				}
			});
		});
		
		}
	</script>
	
	<p:outputPanel id="idStyle">
	<ui:remove>
	<p:outputPanel rendered="#{billingMgmtBean.disableMonthVisible}">
	
		<style type="text/css">
			.ui-datepicker-calendar {
				display: none;
			}
			
			
		</style>
	</p:outputPanel>
	</ui:remove>
	</p:outputPanel>
	<script type="text/javascript">
	$(window).on('load', function () {
		setInitialFormState('#fmrBillingProcessPreliminary');
	});
    </script>	
		 
		<h:outputText value="#{msgs['billingService.field.billingPreliminary']}" styleClass="title-page" />
	
		<h:form id="fmrBillingProcessPreliminary">
		
		    
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['billingService.field.billingprocessing']}">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
							
								<!--Indicador de facturacion  -->
							<tr>
								<td width="25%">
									<h:outputText value="#{msgs['billingService.lbl.tax.facturacion']}"  />
								</td>
								<td  width="75%" colspan="3">
									<p:selectOneRadio id="integrateBillId" value="#{billingMgmtBean.inIntegratedBillSelected}"
													  disabled="#{billingMgmtBean.appliedTaxDisable }">	
						     	        <f:selectItem itemLabel="#{msgs['rdb.Individual']} &nbsp; &nbsp;" itemValue="#{billingMgmtBean.indNoIntegrated}" id="idRadioItemOneB" />
									    <f:selectItem itemLabel="#{msgs['rdb.Agrupada']} &nbsp; &nbsp;" itemValue="#{billingMgmtBean.indIntegrated}" id="idRadioItemTwoB" /> 
									    <p:ajax event="change" partialSubmit="false"
									    update="outPnlBillingServiceHelper,outPnlHolderEntityCollection" 
									    listener="#{billingMgmtBean.updateComponentIndIntegratedBill}"> </p:ajax>
									</p:selectOneRadio> 
								</td>
							</tr>
							<!-- Helper Billing Service -->
						<tr>
							<td colspan="4">
						    <p:outputPanel id="outPnlBillingServiceHelper" >
							 <p:outputPanel rendered="#{billingMgmtBean.disableHelperBillingVisible}">
								 <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
								 	<td width="25%"><div>
								    	<h:outputText value="#{msgs['billingService.lbl.service']} (*)" styleClass="required-field" /></div></td>
									<td width="75%">
										 <div class="">
										  	<hark:billingService id="helperBilling" 
												validatorName="com.pradera.commons.view.validators.InputTextValidator" required="true"
												billingService="#{billingMgmtBean.billingServiceSelection}" remoteListener="cmdVerifyHolder();"/>
										    	<p:remoteCommand  update="outPnlHolderEntityCollection lastBillingId"
										               			  process="@this" name="cmdVerifyHolder"
										               			  actionListener="#{billingMgmtBean.verifyHolder()}">
										       	</p:remoteCommand>
										 </div>
									</td>
								</tr>
								</table>
							</p:outputPanel>
							</p:outputPanel>
							</td>
							</tr>
							
							<tr>
								
								<td width="25%">
								  <div>
								  	<h:outputText value="#{msgs['lbl.collection.institution']} (*)" styleClass="required-field" />
								  </div></td>
								<td width="25%">
								   <p:outputPanel>
										<p:selectOneMenu id="cmbEntityCollection" 
											style="width:250px;" label="#{msgs['lbl.collection.institution']}"
											value="#{billingMgmtBean.collectionInstitutionSelected}"
											filter="true" filterMatchMode="contains"  									 
											disabled="#{billingMgmtBean.disableParticipantOrIssuer()}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"/>
											<f:selectItems
												value="#{billingMgmtBean.listCollectionInstitution}"
												var="collectionInstitution"
												itemLabel="#{collectionInstitution.parameterName}"
												itemValue="#{collectionInstitution.parameterTablePk}" />
											<p:ajax event="change" 
											update="outPnlHolderEntityCollection,outPnlIssuerEntityCollectionData,
											outPnlParticipantEntityCollection,outPnlParticipantEntityCollectionLabel,outPnlOtherEntityCollectionData
											outPnlParticipantAfpEntityCollectionLabel, outPnlParticipantAfpEntityCollection
											msgsCharginEntityCollectionId @this cmbEntityCollection lastBillingId" 
											process="@this" listener="#{billingMgmtBean.updateComponentEntityCollection}"/>
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /> 	
										</p:selectOneMenu>
									</p:outputPanel></td><td width="25%"><p:message for="cmbEntityCollection" display="icon"  id="msgsCharginEntityCollectionId"/></td><td width="25%"></td>
									
							</tr>
							<tr>
								<td>
								<p:outputPanel id="outPnlParticipantEntityCollectionLabel">
									<p:outputPanel rendered="#{billingMgmtBean.disableParticipantECVisible}">
									<div>
										<h:outputText value="#{msgs['user.lbl.participante']}" />
									</div>
									</p:outputPanel>
								</p:outputPanel>
								</td>
								<td colspan="3">
									<p:outputPanel id="outPnlParticipantEntityCollection">
										<p:outputPanel rendered="#{billingMgmtBean.disableParticipantECVisible}">
											<div>
												<p:selectOneMenu id="cmbParticipantEntityCollectionData"
																 style="width:450px;"
																 filter="true" filterMatchMode="contains"  
																 value="#{billingMgmtBean.participantSelected}"
																 disabled="#{billingMgmtBean.disableParticipantOrIssuer()}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
															  itemValue="-1" />
												<f:selectItems value="#{billingMgmtBean.listClientParticipant}"
															   var="participantList"
															   itemLabel="#{participantList.displayDescriptionCode}"
															   itemValue="#{participantList.idParticipantPk}" />
											   	<p:ajax event="change" process="@this" listener="#{billingMgmtBean.verifyHolder()}"
													    update="outPnlHolderEntityCollection" />
												</p:selectOneMenu>
											</div>
										</p:outputPanel>
									</p:outputPanel>
								</td>
							</tr>
							<tr>
							<td colspan="4">
						    <p:outputPanel id="outPnlHolderEntityCollection">
							 <p:outputPanel rendered="#{billingMgmtBean.disableHolderECVisible}">
								 <table width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
								<td width="25%"><div>
								   <h:outputText value="#{msgs['user.lbl.titular']}" /></div></td>
								<td colspan="2" width="50%">
								  <div class="caja4">
								  <ark:holderHelper holder="#{billingMgmtBean.holderSelected}"></ark:holderHelper>
								  </div>
								</td>
								<td width="25%"> 
										<f:attribute name="codeHolder" value="#{billingMgmtBean.holderSelected.idHolderPk}" />
								</td>
								</tr>
								</table>
							</p:outputPanel>
							</p:outputPanel>
							</td>
							</tr>
							<tr>
								<td width="25%">
								<p:outputPanel id="outPnlParticipantAfpEntityCollectionLabel">
									<p:outputPanel rendered="#{billingMgmtBean.disableParticipantAFPECVisible}">
									<div>
										<h:outputText value="#{msgs['user.lbl.participante']}" />
									</div>
									</p:outputPanel>
								</p:outputPanel>
								</td>
								<td><p:outputPanel id="outPnlParticipantAfpEntityCollection">
									<p:outputPanel rendered="#{billingMgmtBean.disableParticipantAFPECVisible}">
								<div>
								<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbParticipantAFPEntityCollectionData"
									style="width:450px;"
									value="#{billingMgmtBean.participantAFPSelected}"
									disabled="#{billingMgmtBean.disableParticipantOrIssuer()}">
									<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
										itemValue="-1" />
									<f:selectItems
										value="#{billingMgmtBean.listClientParticipantAFP}"
										var="participantList"
										itemLabel="#{participantList.displayDescriptionCode}"
										itemValue="#{participantList.idParticipantPk}" />
								</p:selectOneMenu>
								</div>
								</p:outputPanel>
								 </p:outputPanel></td>
									<td width="25%"></td><td width="25%"></td>
							</tr>
							
							<tr>
							<td colspan="4">
							<p:outputPanel id="outPnlIssuerEntityCollectionData">
									<p:outputPanel rendered="#{billingMgmtBean.disableIssuerECVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['user.lbl.emisor']}" /></div></td>
								<td colspan="2">
								<div class="caja4">
								<p:outputPanel>
								<ark:issuerHelper
										issuer="#{billingMgmtBean.issuer}"
										disabled="#{billingMgmtBean.disableParticipantOrIssuer()}">
								</ark:issuerHelper> 
								</p:outputPanel>
								</div></td>
								<td> 
										<h:outputText id="txtIssuerEntityHlp"
											value="#{billingMgmtBean.issuer.businessName}" /></td>
									<td width="25%"></td>
									</tr>
									</table>
								</p:outputPanel>
							</p:outputPanel></td>
							</tr>
							<tr>
							<td colspan="4">
								<p:outputPanel id="outPnlOtherEntityCollectionData">
									<p:outputPanel rendered="#{billingMgmtBean.disableOtherECVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td width="25%">
													<div><h:outputText value="#{msgs['lbl.document.type']}" /></div>
												</td>
												<td width="75%" colspan="3">
													<div>
														<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherDocumentType"
																style="width:350px;" label="#{msgs['lbl.document.type']}"
																value="#{billingMgmtBean.modelCollectionRecordTo.documentType}"
																disabled="false">
																<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1" />
																<f:selectItems value="#{billingMgmtBean.lstDocumentType}"
																			   var="documentType"
																			   itemLabel="#{documentType.parameterName}"
																			   itemValue="#{documentType.parameterTablePk}" />
																
														</p:selectOneMenu>
													</div>
												</td>
											</tr>
												 <tr>
												<td>
													<div><h:outputText value="#{msgs['lbl.document.number']}"/></div>
												</td>
												<td colspan="3">
													<div>
														<p:inputText id="iptOtherEntityDocument"
															maxlength="21"
															value="#{billingMgmtBean.modelCollectionRecordTo.otherEntityDocument}">
															<p:keyFilter regEx="#{cons['exp.regular.address.and.observations']}"/>	
														 </p:inputText>
													</div>
												</td>
											</tr>
										</table>
									</p:outputPanel>
								</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td width="25%">
								<h:outputText value="#{msgs['billingService.lbl.collection.period']} (*)" styleClass="required-field" />
							</td>
							<td colspan="2">
								<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbCalculationPeriod" 
									style="width:250px;"  label="#{msgs['billingService.lbl.collection.period']}"
									value="#{billingMgmtBean.collectionPeriodSelected}">
									<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
									<f:selectItems
										value="#{billingMgmtBean.listCollectionPeriod}"
										var="calculationPeriod"
										itemLabel="#{calculationPeriod.parameterName}"
										itemValue="#{calculationPeriod.parameterTablePk}" />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />			
									<p:ajax event="change" 
										update="msgsCharginCalculationPeriodId @this cmbCalculationPeriod 
										periodDailyId periodWeeklyId periodMonthId periodQuarterlyId periodYearlyId :idStyle
										lastBillingId
										"
										oncomplete="initDND();"
										process="@this" listener="#{billingMgmtBean.updateComponentCollectionPeriod}"/>
								</p:selectOneMenu>
							</td> 
							<td>
								<p:message for="cmbCalculationPeriod" display="icon"  id="msgsCharginCalculationPeriodId"/>
							</td>
						</tr>
								
								
							<!-- Periodo de cobro diario -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodDailyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableDailyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
								<h:outputText value="#{msgs['lbl.billing.daily']}" /></div></td>
								<td colspan="2">
								<p:calendar id="cldInitialDateDaily" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="cldInitialDateDaily" process="@this" global="false"/>
										<p:ajax event="change" update="cldInitialDateDaily" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
								
								 
							</tr>
							
							<!-- Periodo de cobro Semanal -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodWeeklyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableWeeklyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
									<div>
										<h:outputText value="#{msgs['lbl.billing.weekly']}" />
									</div>
								</td>
								<td colspan="2">
								<p:calendar id="weeklyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="dd/MM/yyyy" 
												showOn="button" >
										<p:ajax event="dateSelect" update="weeklyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="weeklyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="weeklyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="weeklyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="weeklyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
								
								 
							</tr>
							
							
							<!-- Periodo de cobro mensual -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodMonthId">
									<p:outputPanel rendered="#{billingMgmtBean.disableMonthVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['lbl.billing.monthly']}" /></div></td>
								<td colspan="2">
								<ui:remove>
								<p:inputText  id="monthPeriodId" size="7" styleClass="date-picker" 
										 value="#{billingMgmtBean.periodDate}"  >
										<f:convertDateTime pattern="#{msgs['datemonthYear']}"/>
								</p:inputText>
								</ui:remove>
								<p:calendar id="monthPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="monthPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="monthPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="monthPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}"
												showOn="button" >
										<p:ajax event="dateSelect" update="monthPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="monthPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<!-- Periodo de cobro trimestral -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodQuarterlyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableQuarterlyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['lbl.billing.quaterly']}" /></div></td>
								<td colspan="2">
								<p:calendar id="quarterlyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="quarterlyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="quarterlyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="quarterlyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="quarterlyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="quarterlyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<!-- Periodo de cobro anual -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodYearlyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableYearlyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['lbl.billing.annual']}" /></div></td>
									
									<td colspan="2">
								<p:calendar id="yearlyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="yearlyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="yearlyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="yearlyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="yearlyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="yearlyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							
							
							
							
							<!-- Fecha de la Ultima Facturacion -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="lastBillingId">
									<p:outputPanel rendered="#{billingMgmtBean.disableLastBillingDate}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
										<tr>
										<td width="25%">
											<div>
												<h:outputText value="#{msgs['lbl.date.billing.last']}" />
											</div>
										</td>

										<td>
											<p:calendar id="calendarLastBillingId" size="10"
														readonlyInput="true"  
														navigator="true"
														required="true"
														disabled="true"
														requiredMessage="#{msgs['lbl.date.billing.last']}"
														maxlength="10"
														value="#{billingMgmtBean.lastBillingDate}"
														pattern="#{msgs['dateFormat']}" 
														showOn="button" >
												<p:ajax event="dateSelect" update="calendarLastBillingId" process="@this" global="false"/>
												<p:ajax event="change" update="calendarLastBillingId" process="@this"/>
											</p:calendar>
										</td>
										</tr>
										</table>
									</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							
							
							
							
							
							
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<!-- Botones -->
				<tr>
					<td align="center">
					<p:commandButton icon="fa fa-search" value="#{msgs['btn.execution']}"  
									 actionListener="#{billingMgmtBean.beforeOnProcessPreliminary}"  
						  			 update="outPnlConfirmDialogs, :opnlDialogs, fmrBillingProcessPreliminary :opnlGenericDialogs" />
					
					<p:outputLabel value="#{msgs['lbl.space']}" escape="false" />
						 
					<p:commandButton icon="fa fa-trash" value="#{msgs['btn.clean']}" 
									 action="#{billingMgmtBean.validCleanFormSearch()}" 
									 process="@this" immediate="true" update="fmrBillingProcessPreliminary, :opnlDialogs" />
					
					<p:outputLabel value="#{msgs['lbl.space']}" escape="false" />
						 
					<p:commandButton id="cmbBackUpdate" icon="fa fa-undo" value="#{msgs['btn.back']}"  
									 action="#{billingMgmtBean.goTo('searchBilling')}"
									 process="@this" immediate="true"  ajax="false"
									 onclick="if(isModifiedFormForBack('#fmrBillingProcessPreliminary'))return false;"/>
				
					
									 
									 
					</td>
				</tr>
			</table>
			<p:outputPanel id="outPnlConfirmDialogs">
			<!-- ExecuteProcessPreliminary -->
				<p:confirmDialog widgetVar="cnfwBillingProcessedSave" id="cnfIdBillingProcessedSave" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false" visible="false">
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwBillingProcessedSave').hide();"
						update="@form,:fmrBillingProcessPreliminary" actionListener="#{billingMgmtBean.executeBillingPreliminaryProcess()}" />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwBillingProcessedSave').hide();"
						actionListener="#{billingMgmtBean.hideDialogsFromNew}"
						update="@form,:fmrBillingProcessPreliminary" />
				</p:confirmDialog>
				
						<!-- success when there are process executing  -->
				<p:confirmDialog widgetVar="cnfSuccessDialog" id="cnfIdSuccessDialog" 
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"  severity="alert"> 
					<p:commandButton onclick="PF('cnfSuccessDialog').hide();"
				    	value="#{msgs['btn.accept']}"
				    	actionListener="#{billingMgmtBean.cleanBillingProcessSearch}"
				    	immediate="true" process="@this" action="#{billingMgmtBean.goTo('searchBilling')}"  />
				</p:confirmDialog>	
			</p:outputPanel>
			
		</h:form>
			
	<!-- Alters -->
	<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     global="false"
			        			 oncomplete="PF('alterValidationWidget').hide();"
		        				 value="#{msgs['btn.accept']}" 
		        				 update=":fmrBillingProcessPreliminary"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog id="confirmAlert" visible="false" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="confirmAlertWidget" >  
	                
	       		<table width="80%" cellpadding="2" cellspacing="2" align="center">
	       			<tr>
	       				<td width="50%" align="right" >
			       		    <p:commandButton  
					        			 oncomplete="PF('confirmAlertWidget').hide();"
				        				 value="#{msgs['btn.yes']}" 
				        				 action="#{billingMgmtBean.executeAlertQuestionPreliminary}"
				        				 update=":fmrBillingProcessPreliminary, :opnlDialogs"> 
				        	</p:commandButton>
	       				</td>
	       				<td width="50%" align="left">
				        	<p:commandButton  
					        			 oncomplete="PF('confirmAlertWidget').hide();"
				        				 value="#{msgs['btn.no']}"  
				        				 update=":fmrBillingProcessPreliminary, :opnlDialogs"> 
				        	</p:commandButton>  
		        		</td>
	       			</tr>
	       		</table>
	    	</p:confirmDialog> 
	    	
		    	
	    	
	    	</h:form>
	</p:outputPanel>

	</ui:define>
</ui:composition>
</html>