<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
	  
	  <script>
	   $(function() {
				initDND();  
							        });
function initDND() {
 $(function() {
		$('.date-picker').datepicker( {
	        changeMonth: true,
	        changeYear: true,
	        showButtonPanel: true,
	        showOn: "both",
	        dateFormat: 'mm/yy',
	        onClose: function(dateText, inst) { 
	            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
	            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
	            $(this).datepicker('setDate', new Date(year, month, 1));
	        }
		});
	});
	
	$(document).ajaxComplete(function(){
		$('.date-picker').datepicker( {
	        changeMonth: true,
	        changeYear: true,
	        showButtonPanel: true,
	        showOn: "both",
	        dateFormat: 'mm/yy',
	        onClose: function(dateText, inst) { 
	            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
	            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
	            $(this).datepicker('setDate', new Date(year, month, 1));
	        }
		});
	});
	
	}
	</script>
	<p:outputPanel id="idStyle">
	<ui:remove>
	<p:outputPanel rendered="#{billingMgmtBean.disableMonthVisible}">
	
		<style type="text/css">
			.ui-datepicker-calendar {
				display: none !important;
			}
			
		</style>
	</p:outputPanel>
	</ui:remove>
	</p:outputPanel>
	
		<h:outputText value="#{msgs['billingService.field.billingDefinitive']}" styleClass="title-page" />
	
		<h:form id="fmrBillingProcess">
			<table width="100%" border="0"> 
		<tr>
					<td align="right">
						
						<p:commandButton value="#{msgs['btn.billingService.sending.preliminary.process']}" icon="fa fa-edit"  
										immediate="true" 
						               actionListener="#{billingMgmtBean.loadDataPreliminary}" 
						               action="#{billingMgmtBean.goTo('preliminaryBilling')}" 
						               rendered="#{userPrivilege.userAcctions.register}"/>
					</td>
				</tr>
				</table>
		    
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['billingService.field.billingprocessing']}">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
							
							<tr>
								
								<td width="25%">
								  <div class="caja">
								  	<h:outputText value="#{msgs['lbl.collection.institution']} (*)" styleClass="required-field" />
								  </div></td>
								<td width="25%">
								   <p:outputPanel>
										<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbEntityCollection" 
											style="width:250px;" label="#{msgs['lbl.collection.institution']}"
											value="#{billingMgmtBean.collectionInstitutionSelected}"										 
											disabled="#{billingMgmtBean.disableParticipantOrIssuer()}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
											<f:selectItems
												value="#{billingMgmtBean.listCollectionInstitution}"
												var="collectionInstitution"
												itemLabel="#{collectionInstitution.parameterName}"
												itemValue="#{collectionInstitution.parameterTablePk}" />
											<p:ajax event="change" update="msgsCharginEntityCollectionId @this cmbEntityCollection :fmrBillingProcess2" listener="#{billingMgmtBean.cleanBillingProcessedToDataModel}"/>				
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /> 	
										</p:selectOneMenu>
									</p:outputPanel></td>
									<td width="25%"><p:message for="cmbEntityCollection" display="icon"  id="msgsCharginEntityCollectionId"/></td><td width="25%"></td>
							</tr>
							
						<tr>
									<td width="150"><h:outputText value="#{msgs['billingService.lbl.collection.period']} (*)" styleClass="required-field" /></td>
									<td colspan="1">
										<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbCalculationPeriod" 
											style="width:250px;"  label="#{msgs['billingService.lbl.collection.period']}"
											value="#{billingMgmtBean.collectionPeriodSelected}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
											<f:selectItems
												value="#{billingMgmtBean.listCollectionPeriod}"
												var="calculationPeriod"
												itemLabel="#{calculationPeriod.parameterName}"
												itemValue="#{calculationPeriod.parameterTablePk}" />
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /> 	
											<p:ajax event="change" update="msgsCharginCalculationPeriodId @this cmbCalculationPeriod"/>		
											<p:ajax event="change" 
											update="periodDailyId periodWeeklyId periodMonthId periodQuarterlyId periodYearlyId 
													:idStyle :fmrBillingProcess2"
											oncomplete="initDND();"
			 								process="@this" listener="#{billingMgmtBean.updateComponentCollectionPeriod}"/>
										</p:selectOneMenu>
									</td> 
									<td><p:message for="cmbCalculationPeriod" display="icon"  id="msgsCharginCalculationPeriodId"/></td>
								</tr>
								
								
							<!-- Periodo de cobro diario -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodDailyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableDailyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div class="caja">
									<h:outputText value="#{msgs['lbl.billing.daily']}" /></div></td>
								<td colspan="2">
								<p:calendar id="cldInitialDateDaily" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true" label="#{msgs['lbl.billing.daily']}"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}"
												showOn="button" >
										<p:ajax event="dateSelect" update="cldInitialDateDaily" process="@this" global="false"/>
										<p:ajax event="change" update="cldInitialDateDaily" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
								
								 
							</tr>
							
							<!-- Periodo de cobro Semanal -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodWeeklyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableWeeklyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
									<div>
										<h:outputText value="#{msgs['lbl.billing.weekly']}" />
									</div>
								</td>
								<td colspan="2">
								<p:calendar id="weeklyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="weeklyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="weeklyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="weeklyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="weeklyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="weeklyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
								
								 
							</tr>
							
							<!-- Periodo de cobro mensual -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodMonthId">
									<p:outputPanel rendered="#{billingMgmtBean.disableMonthVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
								<td width="25%">
								<div class="caja">
									<h:outputText value="#{msgs['lbl.billing.monthly']}" /></div></td>
								<td colspan="2">
								
								<p:calendar id="monthPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="monthPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="monthPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="monthPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="monthPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="monthPeriodFinalId" process="@this"/>
									</p:calendar>
								
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							
							<!-- Periodo de cobro trimestral -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodQuarterlyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableQuarterlyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['lbl.billing.quaterly']}" /></div></td>
								<td colspan="2">
								<p:calendar id="quarterlyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="quarterlyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="quarterlyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="quarterlyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}"
												showOn="button" >
										<p:ajax event="dateSelect" update="quarterlyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="quarterlyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							
							<!-- Periodo de cobro anual -->
							<tr>
								<td colspan="4">
								<p:outputPanel id="periodYearlyId">
									<p:outputPanel rendered="#{billingMgmtBean.disableYearlyVisible}">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
								<td width="25%">
								<div>
									<h:outputText value="#{msgs['lbl.billing.annual']}" /></div></td>
									
									<td colspan="2">
								<p:calendar id="yearlyPeriodInitialId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10"  
												value="#{billingMgmtBean.initialDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												maxdate="#{billingMgmtBean.finalDate}"  
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="yearlyPeriodInitialId" process="@this" global="false"/>
										<p:ajax event="change" update="yearlyPeriodInitialId" process="@this"/>
									</p:calendar>
								</td>
								<td>
									<p:calendar id="yearlyPeriodFinalId" size="10"
												readonlyInput="true"  
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10"  
												value="#{billingMgmtBean.finalDate}" 
												mindate="#{billingMgmtBean.validityFinalDate}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button" >
										<p:ajax event="dateSelect" update="yearlyPeriodFinalId" process="@this" global="false"/>
										<p:ajax event="change" update="yearlyPeriodFinalId" process="@this"/>
									</p:calendar>
								</td>
								</tr>
								</table>
								</p:outputPanel>
								</p:outputPanel>
								</td>
							</tr>
							

	 
	 					
							
							<!-- Botones -->
							<tr>
								<td align="center" colspan="4">
								<p:commandButton icon="fa fa-search" value="#{msgs['btn.search']}" 
												 actionListener="#{billingMgmtBean.searchBilling}"  
												 update="fmrBillingProcess, :fmrBillingProcess2, :opnlDialogs :opnlGenericDialogs" />
								
								<p:spacer width="20"></p:spacer>
																	 
								<p:commandButton icon="fa fa-trash" value="#{msgs['btn.clean']}" 
												 actionListener="#{billingMgmtBean.validCleanFormSearch()}" 
												 process="@this" immediate="true" 
 												 update="@form fmrBillingProcess, :opnlDialogs"  /> 
								</td>
							</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				</table>
	</h:form>
	
	<h:form id="fmrBillingProcess2">
	<table width="100%">
		<tr>
			<td colspan="3">
							
			<p:fieldset id="panelNCF" legend="#{msgs['billingService.billinh.date.change']}" 
								    rendered="#{billingMgmtBean.billingProcessedToDataModel.rowCount>=1}">
			<table>
			
				<tr>
					<td  width="25%"><h:outputText value="#{msgs['lbl.billing.date.becoming']}" /></td>
					<td  width="35%">
					<p:calendar id="dateBecomingId" size="10"
								readonlyInput="true"  
								disabled="#{!billingMgmtBean.boolDateBecoming}"
								navigator="true"
								required="true"
								requiredMessage="#{msgs['lbl.billing.date.becoming']}" 
								maxlength="10"  
								value="#{billingMgmtBean.dateBecoming}" 
								mindate="#{billingMgmtBean.validityFinalDate}"
								pattern="#{msgs['dateFormat']}" 
								showOn="button" >
						<p:ajax event="dateSelect" update="dateBecomingId" process="@this" global="false"/>
						<p:ajax event="change" update="dateBecomingId" process="@this"/>
					</p:calendar>
					</td>
					<td  width="50%">
					<p:selectBooleanCheckbox id="chkDateBecoming" 
						 itemLabel="#{msgs['lbl.billing.date.becoming.change']}"
						 value="#{billingMgmtBean.boolDateBecoming}">
						<p:ajax update="dateBecomingId"  global="false"
								partialSubmit="true"
								listener="#{billingMgmtBean.checkDateBecoming}" />						 
					</p:selectBooleanCheckbox>
					</td>
					<td  width="15%"></td>
				</tr>
				
				
				<ui:remove>
				
				<tr>
				<td  width="25%"><h:outputText value="#{msgs['lbl.billing.serie']} (*)" styleClass="required-field" /></td>
				<td  width="25%">
					<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbSerieBilling" 
						style="width:200px;"  styleClass="combo" label="#{msgs['lbl.billing.serie']}"
						value="#{billingMgmtBean.serieBilling}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"/>
						<f:selectItems
							value="#{billingMgmtBean.listSerieBilling}"
							var="serieBilling"
							itemLabel="#{serieBilling.parameterName}"
							itemValue="#{serieBilling.parameterName}" />
							<p:ajax event="change" update="msgsSerieBillingId @this cmbSerieBilling"/>
						
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /> 	
					</p:selectOneMenu>
				</td> 
				<td width="25%"><p:message for="cmbSerieBilling" display="icon"  id="msgsSerieBillingId"/></td>
				<td width="25%"></td>
			</tr>
			<tr>
				<td  width="20%"><h:outputText value="#{msgs['lbl.billing.type.voucher']} (*)" styleClass="required-field" /></td>
				<td  width="30%">
					<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbComprobanteBilling" 
						style="width:450px;"  styleClass="combo" label="#{msgs['lbl.billing.type.voucher']}"
						value="#{billingMgmtBean.voucherBilling}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"/>
						<f:selectItems
							value="#{billingMgmtBean.listVoucherBilling}"
							var="typeVoucher"
							itemLabel="#{typeVoucher.parameterName} - #{typeVoucher.description}"
							itemValue="#{typeVoucher.parameterName}" />
						<p:ajax event="change" update="msgsComprobanteBillingId @this cmbComprobanteBilling"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" /> 	
					</p:selectOneMenu>
				</td> 
				<td width="25%"><p:message for="cmbComprobanteBilling" display="icon"  id="msgsComprobanteBillingId"/></td>
				<td width="25%"></td>
			</tr>
			</ui:remove>
			</table> 
									
			</p:fieldset>
			
								
			<h:panelGroup>
				<p:outputPanel  id="panelBtn" rendered="#{billingMgmtBean.billingProcessedToDataModel.rowCount>=1}">
				<p:spacer height="5"></p:spacer>
				<p:commandButton value="#{msgs['btn.reject']}" 
					process="@this" immediate="true"
					icon="ui-cancel"  update=":confirmDialogs :search_popups panelNCF panelListado"  
					actionListener="#{billingMgmtBean.beforeOnCancel}"
					 />
					<p:spacer width="20"></p:spacer>
					<p:commandButton value="#{msgs['btn.confirm']}"
					icon="ui-approve" update=":confirmDialogs :search_popups panelNCF"
					actionListener="#{billingMgmtBean.beforeOnProcessDefinitive}"/>
				</p:outputPanel>
				
			</h:panelGroup>
			</td>
		</tr>
					<tr>
						<td>
						<p:panel  id="panelListado" rendered="#{billingMgmtBean.billingProcessedToDataModel != null}">
							<p:dataTable id="dataTable" var="billingProcessed"
								value="#{billingMgmtBean.billingProcessedToDataModel}"
								paginator="true" rows="10" paginatorPosition="top"
								rendered="#{billingMgmtBean.billingProcessedToDataModel.rowCount>=1}"
								currentPageReportTemplate="Página {currentPage} de {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}" 
								rowKey="#{billingProcessed.idBillingCalcProcessPk}"
								rowIndexVar="rIndx" rowsPerPageTemplate="5,10,15"
				                rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
				                selection="#{billingMgmtBean.billingProcessedToSelected}"
								>
								
								<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode" />
								
								<p:ajax event="rowSelectRadio"  update="@parent" 
								 		 listener="#{billingMgmtBean.checkBilling}"  />	
								
								<p:column style="width:5px" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.operation.number.process']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.idBillingCalcProcessPk}" >
									</h:outputText>
									
								</p:column>
																 		 
								<p:column sortBy="#{billingProcessed.operationDate}" style="width:30px" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.operation.date']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.operationDate}" >
									<f:convertDateTime pattern="#{msgs.dateTimeFormatFull}" />
									</h:outputText>
									
								</p:column>
								
								<p:column sortBy="#{billingProcessed.billingDate}" style="width:30px" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.billing.date']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.billingDate}" >
									<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
									
								</p:column>	
														
								<p:column styleClass="content-center"  style="width:120px">
									<f:facet name="header">
										<h:outputText value="#{msgs['billingService.lbl.collection.institution']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.descriptionEntityCollection}" />
								</p:column>	
										
								<p:column styleClass="content-center"  style="width:120px" sortBy="#{billingProcessed.billingServiceCode}">
									<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.service']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.billingServiceCode}" />
								</p:column>	
													
								<p:column styleClass="content-center"  style="width:120px">
									<f:facet name="header">
										<h:outputText value="#{msgs['billingService.lbl.collection.period']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.descriptionBillingPeriod}" />
								</p:column>
								<p:column  styleClass="content-center" style="width:130px">
									<f:facet name="header">
										<h:outputText value="#{msgs['billing.lbl.date']}" />
									</f:facet>
									<h:outputText value="#{billingProcessed.billingDate}" >
									<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
								</p:column>
								<p:column styleClass="content-center" style="width:100px">
									<f:facet name="header">
										<h:outputText value="#{msgs['billingService.lbl.service.status']}" />
									</f:facet>
									<h:outputText id="optError" value="#{billingProcessed.descriptionProcessedState}" style="color:red; text-decoration:underline" 
									rendered="#{ (billingProcessed.processedState eq billingMgmtBean.billingStatusError) }"/>
									
									<h:outputText id="optPreliminary" value="#{billingProcessed.descriptionProcessedState}" style="color:blue; text-decoration:underline" 
									rendered="#{ (billingProcessed.processedState eq billingMgmtBean.billingStatusPreliminary) }"/>
									
									<h:outputText id="optDefinitive" value="#{billingProcessed.descriptionProcessedState}" style="color:red; text-decoration:underline" 
									rendered="#{ (billingProcessed.processedState eq billingMgmtBean.billingStatusDefinitive) }"/>
									
									<p:tooltip for="optError" value="#{msgs['billing.lbl.state.error']} #{msgs['lbl.billing.tooltip']}" showEffect="fade" hideEffect="fade" />
									
									<p:tooltip for="optPreliminary" showEffect="fade" hideEffect="fade" 
									 value="#{ (billingProcessed.countBillingDetail)} #{msgs['lbl.billing.tooltip']}"  
									  /> 
									
									<p:tooltip for="optDefinitive" value="#{ (billingProcessed.countBillingDetail)} #{msgs['lbl.billing.tooltip']}"   showEffect="fade" hideEffect="fade" />  
								</p:column>
								<f:facet name="footer">  
								<div style="width:100%; text-align:left" id="idDivRowCount"> 
						            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						            	<f:param id="idParamRowCount" value="#{billingMgmtBean.billingProcessedToDataModel.rowCount}"/>
						            </h:outputFormat>
						           </div> 
							    </f:facet>				
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								 rendered="#{!(billingMgmtBean.billingProcessedToDataModel.rowCount>=1)}"
								style="font-weight:bold;"/>
						</p:panel>
					</td>
				</tr>
				
				
				
			</table>
			<p:outputPanel id="opnlPoll">
				<p:poll interval="15" widgetVar="currentTimePoller" id="idTmePoller" global="false"  
						rendered="#{billingMgmtBean.visiblePoll}" process="@this"
						listener="#{billingMgmtBean.updateProcessOnExecution}" 
						update="idTmePoller panelListado opnlPoll" >
			</p:poll>
			</p:outputPanel>
		
			
		</h:form>

	<!-- Alters -->
	<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			
			<p:confirmDialog id="alterValidation" visible="false" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     global="false"
			        			 oncomplete="PF('alterValidationWidget').hide();"
		        				 value="#{msgs['btn.accept']}" 
		        				 update=":fmrBillingProcess"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog id="confirmAlert" visible="false" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="confirmAlertWidget" >  
	                
	       		<table width="80%" cellpadding="2" cellspacing="2" align="center">
	       			<tr>
	       				<td width="50%" align="right" >
			       		    <p:commandButton  
					        			 oncomplete="PF('confirmAlertWidget').hide();"
				        				 value="#{msgs['btn.yes']}"  actionListener="#{billingMgmtBean.executeAlertQuestionSearch}"
				        				 update=":fmrBillingProcess, :opnlDialogs, :fmrBillingProcess2"> 
				        	</p:commandButton>
	       				</td>
	       				<td width="50%" align="left">
				        	<p:commandButton  
					        			 oncomplete="PF('confirmAlertWidget').hide();"
										 value="#{msgs['btn.no']}"
				        				 update=":fmrBillingProcess, :opnlDialogs"> 
				        	</p:commandButton>  
		        		</td>
	       			</tr>
	       		</table>
	    	</p:confirmDialog> 
	    	
	    	</h:form>
	</p:outputPanel>
	
	<p:outputPanel id="confirmDialogs" >	
		<h:form id="search_popups">	
		
		<!-- Para cancelar -->
		<p:confirmDialog widgetVar="cnfwServiceCancel" id="cnfIdServiceCancel" message="#{bodyMessageView}" header="#{headerMessageView}"
			 closable="false" visible="false" > 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwServiceCancel').hide();"
				update="@form,:fmrBillingProcess"
				actionListener="#{billingMgmtBean.executeCancelProcessed}"  />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwServiceCancel').hide();"
				update="@form,:fmrBillingProcess"
				 />
		</p:confirmDialog>
		<!-- popup de confirmacion para cancelar -->
		<p:confirmDialog widgetVar="cnfWConfirmDialogCancel" id="cnfIdConfirmDialogCancel" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert" > 
			<p:commandButton onclick="PF('cnfWConfirmDialogCancel').hide();" action="searchCollectionMgmt"
		    	value="#{msgs['btn.accept']}" />
		</p:confirmDialog>	
		
		<!-- Para confirmar -->
		<p:confirmDialog widgetVar="cnfwServiceConfirm" id="cnfIdServiceConfirm" message="#{bodyMessageView}" header="#{headerMessageView}"
			 closable="false" visible="false" > 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwServiceConfirm').hide();"
				update="@form,:fmrBillingProcess :fmrBillingProcess2:opnlPoll"
				actionListener="#{billingMgmtBean.executeBillingDefinitiveProcess}"  />
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwServiceConfirm').hide();"
				update="@form,:fmrBillingProcess"
				 />
		</p:confirmDialog>
		<!-- popup de confirmacion para confirmar servicio -->
		<p:confirmDialog widgetVar="cnfWConfirmDialogConfirm" id="cnfIdConfirmDialogConfirm" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert" > 
			<p:commandButton onclick="PF('cnfWConfirmDialogConfirm').hide();"
		    	value="#{msgs['btn.accept']}" />
		</p:confirmDialog>
		<!-- popup para propositos generales de mensajes generales -->
		<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert" > 
			<p:commandButton onclick="PF('warningDialog').hide();"
		    	value="#{msgs['btn.accept']}" />
		</p:confirmDialog>	
		
	</h:form>
	</p:outputPanel>

	</ui:define>
</ui:composition>
</html>