<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel" >
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

	<script>
		function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>
	
		<h:outputText value="#{msgs['title.ownershipexchange.query']}" styleClass="title-page" />
		
		<h:form id="frmOwnershipExchangeSearch">
			<table width="100%" >
				<tr>
					<td>
						<p:fieldset id="fldsFilters" legend="#{msgs['lbl.criteria.search']}">
							<table width="100%" border="0">
								<tr>
									<td width="170px">
										<h:outputText value="#{msgs['lbl.ownershipexchange.balance.type']} (*)" styleClass="required-field" />
									</td>
									<td width="300px" colspan="3">
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cmbBalanceType" label="#{msgs['lbl.ownershipexchange.balance.type']}"
													value="#{changeOwnershipBean.changeOwnershipOperationTO.idBalanceType}"
													style="width:200px">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{changeOwnershipBean.lstBalanceTypes}" 
													var="balanceType" itemLabel="#{balanceType.parameterName}"
													itemValue="#{balanceType.parameterTablePk}" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
											</p:selectOneMenu>
											<p:message for="cmbBalanceType" id="msgBalanceType" display="icon"  />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.request.number']}" />
									</td>
									<td colspan="3">
										<p:inputText id="idOperationNumber" 
													styleClass="content-right"
													maxlength="10"
													value="#{changeOwnershipBean.changeOwnershipOperationTO.idOperationNumber}" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.participant']}"   />
									</td>
									<td colspan="3">
										<p:selectOneMenu style="width:300px" rendered="#{changeOwnershipBean.depositaryUser}"
											value="#{changeOwnershipBean.changeOwnershipOperationTO.idParticipantPk}">
											<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{changeOwnershipBean.participantList}"
												var="participant" itemLabel="#{participant.displayDescriptionCode}"
												itemValue="#{participant.idParticipantPk}" />
												<p:ajax event="change" process="@form" listener="#{changeOwnershipBean.onChangeSearchParticipant}" update="@form" />
										</p:selectOneMenu>
										
										<p:selectOneMenu  style="width:300px" rendered="#{!changeOwnershipBean.depositaryUser}" disabled="true"
											value="#{changeOwnershipBean.changeOwnershipOperationTO.idParticipantPk}">
											<f:selectItem  itemLabel="#{changeOwnershipBean.searchParticipant.description}" 
												itemValue="#{changeOwnershipBean.searchParticipant.idParticipantPk}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText id="lblHolderRnt" value="#{msgs['commons.label.cuiHolder']}" />
									</td>
									<td colspan="3">
										<ark:holderHelper id="txtHolderRnt"
												holder="#{changeOwnershipBean.changeOwnershipOperationTO.sourceTargetHolder}" /> 
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText id="lblCodigoCuenta"  value="#{msgs['lbl.ownershipexchange.holderaccount.number']}" />
									</td>
									<td colspan="3">
																	
										<ark:accountHelper holderAccount="#{changeOwnershipBean.changeOwnershipOperationTO.sourceTargetHolderAccount}" 
						 		             participant="#{changeOwnershipBean.changeOwnershipOperationTO.idParticipantPk}" /> 
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.motive']}" />
									</td>
									<td width="480px">
										<p:selectOneMenu value="#{changeOwnershipBean.changeOwnershipOperationTO.idReasonType}"
											>
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems  value="#{changeOwnershipBean.lstOwnershipExchangeReasonTypes}"
												var="reasonType" itemLabel="#{reasonType.parameterName}"
												itemValue="#{reasonType.parameterTablePk}" />
										</p:selectOneMenu>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.status']}"/>
									</td>
									<td>
										<p:selectOneMenu style="width:200px" value="#{changeOwnershipBean.changeOwnershipOperationTO.idStatus}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems
												value="#{changeOwnershipBean.lstOwnershipExchangeStatusTypes}"
												var="statusType" itemLabel="#{statusType.parameterName}"
												itemValue="#{statusType.parameterTablePk}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.initial.date']}"/>
									</td>
									<td>
										<p:calendar id="calInitialDate"  
											showOn="both" navigator="true" 
											size="10" readonlyInput="true"
											disabledWeekends="true"
											pattern="#{msgs['dateFormat']}"  yearRange="c-20:c"   
											value="#{changeOwnershipBean.changeOwnershipOperationTO.initialDate}"
											maxdate="#{changeOwnershipBean.changeOwnershipOperationTO.finalDate}" >
											<p:ajax event="dateSelect" 
													update="calFinalDate" global="false" />
										</p:calendar> 
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.ownershipexchange.final.date']}"/>
									</td>
									<td>
										<p:calendar id="calFinalDate" 
											showOn="both" navigator="true" 
											size="10" readonlyInput="true"
											disabledWeekends="true"
											pattern="#{msgs['dateFormat']}"  yearRange="c-20:c"
											value="#{changeOwnershipBean.changeOwnershipOperationTO.finalDate}" 
											mindate="#{changeOwnershipBean.changeOwnershipOperationTO.initialDate}"
											maxdate="#{changeOwnershipBean.currentSystemDate}" >
											<p:ajax event="dateSelect" 
													update="calInitialDate" global="false" />
										</p:calendar> 
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="searchBtn" value="#{gmsgs['btn.search']}"  
											update="@form" rendered="#{userInfo.userAcctions.search}"
											action="#{changeOwnershipBean.searchChangeOwnershipOperationsByFilters}"
											icon="fa fa-search" />
										<p:spacer width="1px" />
										<p:commandButton id="cleanBtn" value="#{gmsgs['btn.clean']}" 
											update="@form" process="@this" 
											action="#{changeOwnershipBean.cleanAll}" 
											icon="fa fa-trash" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlResult" rendered="#{changeOwnershipBean.changeOwnershipDetailsDataModel != null}" style="width:100%;" >			
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" >
								<p:dataTable id="dtbResult" var="choopd" 
										value="#{changeOwnershipBean.changeOwnershipDetailsDataModel}"
										rendered="#{(changeOwnershipBean.changeOwnershipDetailsDataModel.rowCount >= 1)}"
										first="#{changeOwnershipBean.firsRegisterDataTable}"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginator="true" rows="10" paginatorPosition="top"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
										rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
										rowKey="#{choopd.operationNumber}"
										selection="#{changeOwnershipBean.selectedChangeOwnershipDetailTO}"
										style="width:100%; align:center;">
	
									<p:columnGroup type="header" >
										<p:row>
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.request.number']}" style="width: 85px"  />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.date.registry']}" style="width: 85px;text-align:center;" />																						
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.holderaccount.number']}" style="white-space:pre;" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.holderaccount.desc']}" />	
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.source.participant']}"  style="white-space:pre;width: 85px;"  />	
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.target.participant']}"  style="white-space:pre;width: 85px;" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.motive']}" style="width: 80px;" />
											<p:column headerText="#{msgs['lbl.ownershipexchange.datatable.status']}" style="width: 80px;" />
										</p:row>
									</p:columnGroup>
									
									<p:column style="text-align:center;" >
										<p:commandLink value="#{choopd.operationNumber}" style="color:blue;" ajax="false"
											action="#{changeOwnershipBean.detailsChangeOwnershipDetailHanlder(choopd.idChangeOwnershipPk)}" >										
										</p:commandLink>
									</p:column>
									<p:column style="text-align:center;">
										<h:outputLabel value="#{choopd.registerDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" dateStyle="medium" type="date" />
										</h:outputLabel>
									</p:column> 
									<p:column style="text-align:center" >
										<h:outputText value="#{choopd.sourceHolderAccount.accountNumber} "/>
									</p:column>
									<p:column style="text-align:left">
										<h:outputFormat  value="#{choopd.sourceHolderAccount.holderAccountDetailDescription}" escape="false"/>
									</p:column>
									
									<p:column style="text-align:center">
										<h:outputText value="#{choopd.idSourceParticipantPk} - #{choopd.sourceParticipantMnemonic}"/>
									</p:column>
									<p:column style="text-align:center">
										<h:outputText value="#{choopd.idTargetParticipantPk} - #{choopd.targetParticipantMnemonic}"/>
									</p:column>
									<p:column style="text-align:center">										
										<h:outputText value="#{choopd.motiveDescription}"/>
									</p:column>	
									<p:column style="text-align:center">										
										<h:outputText value="#{choopd.statusDescription}"/>
									</p:column>	
									
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{changeOwnershipBean.changeOwnershipDetailsDataModel.rowCount} #{msgs['lbl.results']}" 
												style="font-weight:bold;"/>
										</div>
									</f:facet>
									<p:ajax event="page" listener="#{changeOwnershipBean.changePageDatatable}"/>
								</p:dataTable>
								
								<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{!(changeOwnershipBean.changeOwnershipDetailsDataModel.rowCount >= 1)}"
									style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
						
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>