<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:form id="frmHolderAccountMgmt">
			<p:outputPanel>
				<table width="100%">
					<tr>
						<td><h:outputText
								value="#{gmsgs['iAccounts.holderaccount.block.detail.title']}"
								styleClass="title-page" /></td>
					</tr>
					<tr>
						<td><p:outputPanel id="pnlData">
								<p:fieldset legend="#{msgs['lbl.register.data']}">
									<p:outputPanel id="pnlHolderAccount">
										<table width="100%" border="0">
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.request.number']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><p:inputText
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.requestNumber}"
														disabled="true" /></td>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.participant.lbl']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><p:selectOneMenu id="cboParticipant"
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.participant.idParticipantPk}"
														disabled="true">
														<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
														<f:selectItems
															value="#{holderAccountBlockMgmtBean.participantList}"
															var="participant"
															itemLabel="#{participant.displayDescriptionCode}"
															itemValue="#{participant.idParticipantPk}" />
													</p:selectOneMenu></td>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.block.requesttype']} (*)"
														styleClass="required-field" /></td>
												<td width="30%"><p:selectOneMenu id="cboRequestType"
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.requestType}"
														required="true" disabled="true">
														<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
														<f:selectItems
															value="#{holderAccountBlockMgmtBean.parameterTableHolderAccountRequestHysForBlockList}"
															var="requestType"
															itemLabel="#{requestType.parameterName}"
															itemValue="#{requestType.parameterTablePk}" />
														<p:ajax update="pnlHolderAccount pnlAccountGenericData"
															event="change"
															listener="#{holderAccountBlockMgmtBean.cleanHolderAccountOnHolderAccountRequestHandler}" />
													</p:selectOneMenu></td>
											</tr>
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.registerdate']} " /></td>
												<td width="20%"><p:calendar
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.registryDate}"
														disabled="true" pattern="#{msgs['dateFormat']}" /></td>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.state']} (*)"
														styleClass="required-field" /></td>
												<td width="60%" colspan="3"><p:inputText
														disabled="true"
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.stateHolderAccountReqDescription}" />
												</td>
											</tr>
										</table>
										<table width="100%" border="0">
											<tr>
												<td colspan="6"><p:separator></p:separator></td>
											</tr>
										</table>
										<table width="80%" border="0">
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.account']}: " /></td>
												<td width="30%" colspan="1"><p:inputText maxlength="6"
														size="12"
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccount.accountNumber}"
														id="txtAccountNumber" disabled="true">
														<p:keyFilter mask="num" />
														<p:ajax
															update="pnlHolderAccount pnlAccountGenericData"
															event="blur" />
													</p:inputText> <p:commandButton value="#{msgs['lbl.space.short']}" disabled="true" /> <p:inputText
														disabled="true" size="40"
														value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccount.alternateCode}" />
													<p:message display="icon" for="txtAccountNumber" /></td>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.holder.asociated']}:"
														rendered="#{not empty holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccount.holderAccountDetails}" />
												</td>
												<td width="30%">
													<ul>
														<ui:repeat var="holderIterator"
															value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccount.holderAccountDetails}">
															<li><h:outputFormat
																	value="#{holderIterator.holder.idHolderPk}" /> <h:outputFormat
																	value="#{msgs['lbl.stripe']}" /> <h:outputText
																	value="#{holderIterator.holder.fullName}" /></li>
														</ui:repeat>
													</ul>
												</td>
											</tr>
										</table>
									</p:outputPanel>
									<p:outputPanel id="pnlAccountGenericData">
										<table width="80%" border="0">
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['adm.holderaccount.accounttype.lbl']}" /></td>
												<td width="70%"><h:panelGrid columns="2">
														<p:selectOneMenu id="cboAccountType"
															value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccount.accountType}"
															disabled="true">
															<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{holderAccountBlockMgmtBean.parameterTableAccoutsTypeList}"
																var="enum" itemLabel="#{enum.parameterName}"
																itemValue="#{enum.parameterTablePk}" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboAccountType"></p:message>
													</h:panelGrid></td>
											</tr>
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['lbl.motive']}: (*)"
														styleClass="required-field" /></td>
												<td width="70%"><h:panelGrid columns="2">
														<p:selectOneMenu id="cboMotive"
															value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.requestMotive}"
															required="true" disabled="true">
															<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
																itemValue="" />
															<f:selectItems
																value="#{holderAccountBlockMgmtBean.parameterTableMotiveHolderAccountBlock}"
																var="blocks" itemLabel="#{blocks.description}"
																itemValue="#{blocks.parameterTablePk}" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboMotive" />
													</h:panelGrid></td>
											</tr>
											<tr>
												<td width="10%"><h:outputText
														value="#{msgs['lbl.observation.other.motive']}:" /></td>
												<td width="70%"><h:panelGrid columns="2">
														<p:inputTextarea cols="80" rows="4" required="true"
															value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.comments}"
															id="observArea" disabled="true" />
													</h:panelGrid> <p:message display="icon" for="observArea" /></td>
											</tr>
										</table>
									</p:outputPanel>
									<p:outputPanel id="outputPanelAttachAccounHolder">
										<p:fieldset legend="#{msgs['adm.holderaccount.file.detail']}"
											toggleable="true"
											rendered="#{not empty holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}">
											<p:outputPanel>
												<table width="100%">
													<tr>
														<td>
															<p:outputPanel id="outputPanelFileHolderAccountTable"
															  rendered="#{not empty holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}">
																<h:outputText value="#{msgs['adm.holderaccount.file.detail']} (*)"
																			  styleClass="required-field" />
																<p:dataTable id="dtbHolderAccountDocuments" var="holderAccountFile" rowIndexVar="regNum"
																			value="#{holderAccountBlockMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}">
																	<p:column style="width:20px">
																		<f:facet name="header">
																			<h:outputText value="#{msgs['adm.participant.register.grid.file.number']}" />
																		</f:facet>
																		<h:outputText value="#{regNum+1}" />
																	</p:column>
																	<p:column style="width:400px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['adm.block.unblock.holder.request.detail.datatable.support.type']}" />
																		</f:facet>
																		<h:outputText value="#{holderAccountFile.documentTypeDesc}" />
																	</p:column>
																	<p:column style="width:350px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['adm.block.unblock.holder.request.detail.datatable.file.name']}" />
																		</f:facet>
																		<h:outputText value="#{holderAccountFile.filename}" />
																	</p:column>
																	<p:column style="width:60px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['adm.block.unblock.holder.request.detail.datatable.file.size']}" />
																		</f:facet>
																		<h:outputText value="#{holderAccountFile.fileSize}" />
																	</p:column>
																	<p:column style="width:70px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['adm.block.unblock.holder.request.detail.datatable.file.format']}" />
																		</f:facet>
																		<h:outputText value="#{holderAccountFile.fileExtension}" />
																	</p:column>
																	<p:column styleClass="content-center" style="width:30px">
																		<f:facet name="header">
																			<h:outputText value="#{msgs['link.see']}" />
																		</f:facet>
																		<p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this"
																					   onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
																			<p:fileDownload 
																				value="#{holderAccountBlockMgmtBean.getStreamedContentFile(holderAccountFile)}" />
																			<p:graphicImage id="imgView" library="img" name="icons/loupe.png" />
																		</p:commandLink>
																	</p:column>
																</p:dataTable>
															</p:outputPanel>
														</td>
													</tr>
												</table>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>

									<p:outputPanel id="pnlButtons">
										<table width="100%" border="0">
											<tr>
												<td align="center"><h:panelGrid columns="2">
														<comp:privileges actions="#{userPrivilege.userAcctions}"
															renders="#{userPrivilege.privilegeComponent}"
															actionListenerApprove="#{holderAccountBlockMgmtBean.beforeApproveHolderAccountRequestHandler}"
															actionListenerAnnular="#{holderAccountBlockMgmtBean.beforeAnulateHolderAccountRequestHandler}"
															actionListenerConfirm="#{holderAccountBlockMgmtBean.beforeConfirmHolderAccountRequestHandler}"
															actionListenerReject="#{holderAccountBlockMgmtBean.beforeRejectHolderAccountRequestHandler}">
														</comp:privileges>
														<p:commandButton value="#{msgs['btn.back']}"
															icon="fa fa-undo" action="searchHolderAccountBlock"
															immediate="true" ajax="false"
															actionListener="#{holderAccountBlockMgmtBean.loadPrivilegesUser}" />
													</h:panelGrid></td>
											</tr>
										</table>
									</p:outputPanel>
								</p:fieldset>
							</p:outputPanel></td>
					</tr>
				</table>
			</p:outputPanel>
			<p:outputPanel id="pnlConfirmDialog">
				<p:confirmDialog id="cnfHolderAccountModifyMgmt"
					widgetVar="cnfwHolderAccountMgmt" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true">
					<p:commandButton id="cmbConfirm" value="#{msgs['btn.accept']}"
						actionListener="#{holderAccountBlockMgmtBean.saveHolderAccountBlockHandler}"
						process="@this" update="@form" />
					<p:commandButton value="#{msgs['btn.back']}"
						onclick="PF('cnfwHolderAccountMgmt').hide()" type="button" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchHolderAccountBlock.xhtml" ajax="false"
						immediate="true" process="@this" update="@form" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="frmMotive">
				<p:dialog id="dialogMotive" resizable="false" draggable="false"
					modal="true" header="#{msgs['messages.alert']}" rendered="false"
					closable="false" visible="true" severity="alert"
					widgetVar="dlgMotive">
					<p:outputPanel id="opnlMotive">
						<table>
							<tr>
								<td width="100px"><h:outputText
										value="#{msgs['lbl.motive']} (*)" styleClass="required-field" />
								</td>
								<td><h:panelGrid columns="2">
										<p:selectOneMenu id="cboMotive" style="width:258px;"
											widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
											value="#{holderAccountBlockMgmtBean.motiveController.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{holderAccountBlockMgmtBean.motiveController.motiveList}"
												var="mot" itemValue="#{mot.parameterTablePk}"
												itemLabel="#{mot.description}" />
											<p:ajax process="@this" update="opnlMotive" event="change"
												listener="#{holderAccountBlockMgmtBean.changeMotiveHandler}" />
										</p:selectOneMenu>
										<p:message for="cboMotive" display="icon" />
									</h:panelGrid></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)"
										id="idTxtMotive" styleClass="required-field"
										rendered="#{holderAccountBlockMgmtBean.motiveController.showMotiveText}" />
								</td>
								<td><h:panelGrid columns="2">
										<p:inputText size="60"
											rendered="#{holderAccountBlockMgmtBean.motiveController.showMotiveText}"
											maxlength="100"
											value="#{holderAccountBlockMgmtBean.motiveController.motiveText}"
											id="txtOtherMotive">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
										<p:message for="txtOtherMotive" display="icon" />
									</h:panelGrid></td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{msgs['btn.save']}"
								icon="fa fa-save"
								actionListener="#{holderAccountBlockMgmtBean.confirmMotiveHandler}"
								update=":opnlDialogs :opnlGenericDialogs :frmBlock" />
							<p:commandButton value="#{msgs['btn.back']}" id="idCmdBtnBack"
								icon="fa fa-undo" type="button"
								onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotive:cmbProcessBackMotive')" />
							<p:commandButton id="cmbProcessBackMotive" style="display:none"
								value="#{msgs['btn.back']}" icon="fa fa-undo"
								actionListener="#{holderAccountBlockMgmtBean.closeDialogRejectMotive}"
								process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
				<p:confirmDialog id="cnfBackMotive"
					message="#{msgs['message.back']}" severity="alert"
					header="#{msgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{msgs['btn.yes']}"
						process="@this" update=":opnlDialogs"
						actionListener="#{holderAccountBlockMgmtBean.closeDialogRejectMotive}"
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
			</h:form>
			<h:form id="frmBlock">
				<p:confirmDialog id="cnfblock" header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwBlock" rendered="false"
					visible="true" message="#{bodyMessageView}" closable="false">
					<p:commandButton id="cmbConfirmUnblock" value="#{msgs['btn.yes']}"
						actionListener="#{holderAccountBlockMgmtBean.changeActionHolderAccountRequestHandler}"
						oncomplete="PF('cnfwBlock').hide()"
						update=":opnlDialogs :opnlGenericDialogs" />
					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true" closable="false">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchHolderAccountBlock.xhtml" ajax="false"
						immediate="true" process="@this" update="@form" />
				</p:confirmDialog>
			</h:form>

			<h:form id="frmAcept">
				<p:confirmDialog id="cnfAcept" header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwAcept" rendered="false"
					visible="true" message="#{bodyMessageView}" closable="false">
					<p:commandButton id="cmbAcept" value="#{msgs['btn.yes']}"
						actionListener="#{holderAccountBlockMgmtBean.changeActionHolderAccountRequestHandler}"
						oncomplete="PF('cnfwAcept').hide()"
						update=":opnlDialogs :opnlGenericDialogs" />
					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfwAcept').hide()" type="button" update="@form" />
				</p:confirmDialog>
			</h:form>

		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>