<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<p:importConstants type="com.pradera.commons.type.InstitutionType" var="institutionType"/>
		<h:form id="frmRegisterSend">
			<table width="100%">
				<tr>
					<td width="100%" align="left">
						<h:outputText value="#{msgs['external.interface.monitor.register.title']}" styleClass="title-page"></h:outputText>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['external.interface.monitor.search']}" id="flstInterfaceSendSearch">	
							<table width="100%">
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['external.interface.monitor.search.interface']}"/>
									</td>
									<td width="40%">
										<p:selectOneMenu id="selectInterface" value="#{interfaceSendMgmt.interfaceSendRegister.interfaceId}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
											<f:selectItems id="idCboExternalInterface"
												value="#{interfaceSendMgmt.externalInterfaceList}"	var="extInterface"
												itemLabel="[#{extInterface.idExtInterfacePk}] - #{extInterface.description}" itemValue="#{extInterface.idExtInterfacePk}"/> 
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											<p:ajax event="change" process="@this" listener="#{interfaceSendMgmt.validateInterfaceUserType}"
													update=":frmRegisterSend:flstInterfaceSendSearch stateSecurity"/>
										</p:selectOneMenu>
										<ui:param name="userType" value="#{interfaceSendMgmt.interfaceSendRegister.institutionType}"/>
									</td>
								</tr>
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['external.interface.monitor.search.institution.type']}" />
									</td>
									<td width="40%">
										<p:selectOneMenu id="selectInstitutionType" value="#{interfaceSendMgmt.interfaceSendRegister.institutionType}" disabled="true">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
											<f:selectItems id="idCboInstitutionType" value="#{interfaceSendMgmt.institutionTypeList}" var="institution" 
														   itemLabel="#{institution.userTypeDescription}" itemValue="#{institution.idUserTypeFk}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td width="15%">
										<h:outputText id="stateSecurity" value="#{msgs['adm.excepcion.usuario.estado.excepcion']}" rendered="#{interfaceSendMgmt.interfaceSendRegister.renderedState}"/>
									</td>
									<td width="40%">
										<p:selectOneMenu id="stateType" value="#{interfaceSendMgmt.interfaceSendRegister.state}"
											rendered="#{interfaceSendMgmt.interfaceSendRegister.renderedState}" >
											<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
											<f:selectItems id="idStateSecurity" value="#{interfaceSendMgmt.listStateCFiFsin}" var="state" 
														   itemLabel="#{state.description}" itemValue="#{state.parameterTablePk}" />
											
										</p:selectOneMenu>
									</td>
								</tr>									
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['external.interface.monitor.search.institution']}" rendered="#{institutionType.PARTICIPANT.code eq userType}"/>
									</td>
									<td width="40%">
										<p:selectOneMenu value="#{interfaceSendMgmt.interfaceSendRegister.participantId}"
														 rendered="#{institutionType.PARTICIPANT.code eq userType}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.select.optional']}"/>
											<f:selectItems value="#{interfaceSendMgmt.participantList}"
											var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.description}"/>							
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['external.interface.monitor.search.institution']}" 
													   rendered="#{institutionType.ISSUER.code eq userType}"/>
									</td>
									<td width="40%">
										<ark:issuerHelper id="hlpIssuer" issuer="#{interfaceSendMgmt.interfaceSendRegister.issuerRequest}"
														  rendered="#{institutionType.ISSUER.code eq userType}"/>
									</td>
								</tr>
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['lbl.initialDate']}"/>
									</td>
									<td width="40%">
										<p:calendar id="initialDate" readonlyInput="true" showOn="button" label="#{msgs['lbl.initialDate']}"
										pattern="#{msgs['dateFormat']}" value="#{interfaceSendMgmt.interfaceSendRegister.initialDate}"
										maxdate="#{interfaceSendMgmt.interfaceSendRegister.finalDate}" navigator="true">
											<p:ajax event="dateSelect" update="finalDate" process="@this" />
										</p:calendar>
										<p:message for="initialDate" display="icon" id="idMsgInitialDate"></p:message>
									</td>
									<td width="15%">
										<h:outputText value="#{msgs['lbl.finalDate']}" />
									</td>
									<td width="40%">
										<p:calendar id="finalDate" showOn="button" readonlyInput="true" label="#{msgs['lbl.finalDate']}"
										pattern="#{msgs['dateFormat']}" value="#{interfaceSendMgmt.interfaceSendRegister.finalDate}" 
										mindate="#{interfaceSendMgmt.interfaceSendRegister.initialDate}" navigator="true">
											<p:ajax event="dateSelect" update="initialDate" process="@this" />
										</p:calendar>
										<p:message for="finalDate" display="icon" id="idFinalDate"></p:message>
									</td>
								</tr>
								<tr>
									<td><br/></td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.generate']}"  process="flstInterfaceSendSearch" update="@form,:opnlGenericDialogs" 
										actionListener="#{interfaceSendMgmt.beforeSendExternalInterface}" icon="fa fa-search" rendered="#{(userPrivilege.userAcctions.search)}" />
										<p:commandButton id="cmdLimpiar" value="#{msgs['btn.limpiar']}" update="@form" 
										actionListener="#{interfaceSendMgmt.loadNewInterfaceSendTO}" icon="fa fa-trash" />
										<p:commandButton id="btnBack" immediate="true" 
											value="#{msgs['btn.back']}" icon="fa fa-undo"
											action="searchSendInterface"  />
									</td>
								</tr>							
							</table>
						</p:fieldset>
					</td>
				</tr>
			</table>
			<p:outputPanel id="confirmDialogs">
				<p:confirmDialog id="cdSendExternalInterface" widgetVar="wrSendExternalInterface" severity="alert" closable="false"
				 header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="PF('wrSendExternalInterface').hide();"
					 actionListener="#{interfaceSendMgmt.sendExternalInterface}" update="@form,:opnlGenericDialogs"/>
					<p:commandButton value="#{msgs['btn.no']}" onclick="PF('wrSendExternalInterface').hide();" type="button"/>
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
</html>