<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css"> 
		.ui-datatable thead th {
		    text-align: center !important;
		}
	</style>
	<h:form id="frmSearchSecurity">

	<table id="tblGeneral" width="100%"> 
		<tr> 
			<td> 
				<table border="0" width="100%"> 
					<tr> 
						<td align="left"> 
							<h:outputText value="#{msgs['external.interface.tr.cr.search.title']}" 
										   styleClass="title-page" />						
						</td>
					</tr>
				</table>
			</td>
		</tr> 
		<tr> 
			<td> 
			<p:fieldset id="fldSecurity"
						legend="#{gmsgs['lbl.criteria.search']}">
				<table> 
					<tr> 
						<td> 
							<h:outputText value="#{msgs['issuer.lbl.issuer']}" />
						</td>
						<td colspan="5"> 
							<p:outputPanel id="opnlIssuerHelper">
								<ark:issuerHelper issuer="#{interfaceSendTRCRMgmt.issuerHelperSearch}"									
											disabled="#{userInfo.userAccountSession.issuerInstitucion or userInfo.userAccountSession.issuerDpfInstitucion}"/>
							</p:outputPanel>			
										
							<p:remoteCommand name="rcmdAfterIssuerHandler"
											  actionListener="#{interfaceSendTRCRMgmt.changeFilterField}"
											  update="opnlIssuanceHelper,@(.clsSearchUpd)"
											  partialSubmit="true"
											  process="@this,opnlIssuerHelper"
											  />				
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.issuance']}"/>
						</td>
						<td colspan="5"> 
							<p:outputPanel id="opnlIssuanceHelper">
										<ark:issuanceHelper issuance="#{interfaceSendTRCRMgmt.issuanceHelperSearch}"
											    blIssuer="#{not empty interfaceSendTRCRMgmt.issuerHelperSearch.idIssuerPk}"
											    issuer="#{interfaceSendTRCRMgmt.issuerHelperSearch}"											    
												remoteListener="rcmdAfterIssuerHandler()"/>
							</p:outputPanel>					
							<p:remoteCommand name="rcmdAfterIssuerHandler"
											  actionListener="#{interfaceSendTRCRMgmt.changeFilterField}"
											  update="opnlIssuanceHelper,@(.clsSearchUpd)"
											  partialSubmit="true"
											  process="@this,opnlIssuanceHelper"
											  />
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.alternate.code']}" />
						</td>
						<td width="400"> 
							<p:inputText id="txtAlternateCode"
										 value="#{interfaceSendTRCRMgmt.securityTOsearch.alternativeCode}"
										 maxlength="#{gconst['security.alternate.code.length']}"
										 style="width:250px;">
								<p:keyFilter regEx="#{cons['exp.regular.alternate.code.filter']}"/>	
								<p:ajax event="blur" 
										listener="#{interfaceSendTRCRMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>		 
							</p:inputText>
						</td>
						<td width="130"> 
							<h:outputText value="#{msgs['security.lbl.currency']}"/>
						</td>
						<td colspan="3">
							<p:selectOneMenu id="cboCurrency"
											 value="#{interfaceSendTRCRMgmt.securityTOsearch.securityCurrency}"
											 styleClass="combo-widh-medium" style="width:200px"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{interfaceSendTRCRMgmt.lstCboFilterCurrency}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{interfaceSendTRCRMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>									
							</p:selectOneMenu>
						</td>

					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{gmsgs['security.lbl.code']}"/>
						</td>
						<td> 
							<p:inputText id="txtSecurityCode"
										 value="#{interfaceSendTRCRMgmt.securityTOsearch.idSecurityCodePk}"
										 label="#{msgs['security.lbl.code']}"
										 maxlength="#{gconst['security.code.normal.length']}"
										 styleClass="securityCode-input-text-width">
								<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.hyphen']}"/>					 
							</p:inputText>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.isin.code']}"/>
						</td>
						<td colspan="3"> 
							<p:inputText id="txtISINCode"
										 label="#{msgs['security.lbl.isin.code']}"
										 value="#{interfaceSendTRCRMgmt.securityTOsearch.idIsinCodePk}"
										 
										 maxlength="#{gconst['description.length']}"
										 >	
								<p:ajax event="blur" 
										process="@this" />					 										 
							</p:inputText>						
						</td>
					</tr>
					<tr> 
						<td  width="130"> 
							<h:outputText value="#{msgs['security.lbl.state']}" />
						</td>
						<td> 
							<p:selectOneMenu id="cboState" disabled="true" 
											 value="#{interfaceSendTRCRMgmt.securityTOsearch.securityState}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{interfaceSendTRCRMgmt.lstCboSecurityState}"
											   var="secSt"
											   itemValue="#{secSt.parameterTablePk}" itemLabel="#{secSt.parameterName}"/>
								<p:ajax event="change" 
										listener="#{interfaceSendTRCRMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>	
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.security.class']}" />
						</td>
						<td colspan="3"> 
							<p:selectOneMenu id="cboSecurityClass"
											 value="#{interfaceSendTRCRMgmt.securityTOsearch.securityClass}"
											 styleClass="combo-widh-more-large">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{interfaceSendTRCRMgmt.lstCboFilterSecuritieClass}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{interfaceSendTRCRMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd) panelNotTradedLabel panelNotTraded"/>		
							</p:selectOneMenu>
						</td>
					</tr>
					
					<tr>
					<td  width="25%"><h:outputText value="#{msgs['security.lbl.transfer.date']}" /></td>
					<td  width="35%">
						<p:calendar id="dateBecomingId" size="10"
									readonlyInput="true"  
									disabled="#{!interfaceSendTRCRMgmt.boolDateTransfer}"
									navigator="true"
									required="true"
									requiredMessage="#{msgs['security.lbl.transfer.date']}" 
									maxlength="10"  
									value="#{interfaceSendTRCRMgmt.dateTransfer}" 
									maxdate="#{interfaceSendTRCRMgmt.validateMaxDate}"
									pattern="#{msgs['dateFormat']}" 
									showOn="button" >
							<p:ajax event="dateSelect" update="dateBecomingId" process="@this" global="false"/>
							<p:ajax event="change" update="dateBecomingId" process="@this"/>
						</p:calendar>
					</td>
					<td  width="50%">
						<p:selectBooleanCheckbox id="chkDateBecoming" 
							 itemLabel="#{msgs['security.lbl.check.transfer']}"
							 value="#{interfaceSendTRCRMgmt.boolDateTransfer}">
							<p:ajax update="dateBecomingId"  global="false"
									partialSubmit="true"
									listener="#{interfaceSendTRCRMgmt.checkDateBecoming}" />						 
						</p:selectBooleanCheckbox>
					</td>
					<td  width="15%"></td>
				</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.issuance.date']}" />
						</td>
						<td> 
							<p:calendar id="calIssuanceDate"
										value="#{interfaceSendTRCRMgmt.securityTOsearch.issuanceDate}"
										showOn="both"
										navigator="true"
										showButtonPanel="false" 
										size="10"
										readonlyInput="true"
										pattern="#{msgs['dateFormat']}">
								<p:ajax event="dateSelect" 
										listener="#{interfaceSendTRCRMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>	
							</p:calendar>
						</td>
						<td>
							<p:outputPanel id="panelNotTradedLabel"  >
								<h:outputText rendered="#{interfaceSendTRCRMgmt.showNotTraded}" id="lblNotTraded" value="#{msgs['lbl.tr.cr.negociable']}" />
							</p:outputPanel>							
						</td>
						<td>
							<p:outputPanel id="panelNotTraded"  >
								<p:selectOneMenu rendered="#{interfaceSendTRCRMgmt.showNotTraded}" value="#{interfaceSendTRCRMgmt.securityTOsearch.notTraded}"
										id = "cboNotTraded"	styleClass="combo-widh-medium" style="width:200px" >
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>	
									<f:selectItems value="#{interfaceSendTRCRMgmt.lstCboFilterNotTraded}" />
									<p:ajax event="change" 
										listener="#{interfaceSendTRCRMgmt.changeNotTraded}"
										process="@this"
										update="@(.clsSearchUpd)"/>
								</p:selectOneMenu>
							</p:outputPanel>							
						</td>
						
					</tr>				
					<tr> 
						<td colspan="6" align="center"> 
							<p:commandButton id="cmbSearch"
											 value="#{gmsgs['btn.search']}"
											 actionListener="#{interfaceSendTRCRMgmt.searchSecuritiesHandler}"
											 update="@(.clsSearchUpd),:opnlGenericDialogs"
											 icon="fa fa-search" />
							
							&nbsp;&nbsp;
							<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
							 				onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide();"
							 				actionListener="#{interfaceSendTRCRMgmt.cleanSecuritySearchHandler}" 
							 				update="@this, opnlIssuerHelper, opnlIssuanceHelper, cboCurrency, txtSecurityCode, txtISINCode, cboSecurityClass, chkDateBecoming, calIssuanceDate, @(.clsSearchUpd)" />
							
						</td>
					</tr>
				</table>				
			</p:fieldset>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
				<p:panel id="pnlPrivileges"
						 rendered="#{interfaceSendTRCRMgmt.securityDataModel ne null and interfaceSendTRCRMgmt.securityDataModel.rowCount > 0 and
						  			 (userPrivilege.userAcctions.generate )}"
						 styleClass="clsSearchUpd">
						 
						 
					<p:commandButton id="cmbModify"
									 value="#{msgs['btn.generate.file.XML']}"
									 actionListener="#{interfaceSendTRCRMgmt.generateInterfaceFileTRCR}"
									 update=":frmFileTrCr"
									 icon="ui-edit"
									 process="@form @(.clsSearchUpd) dtbSecurity"
									 rendered="#{userPrivilege.userAcctions.generate}"/>
				 
				</p:panel>
			</p:outputPanel>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
			<p:panel id="pnlResult"
						 rendered="#{not empty interfaceSendTRCRMgmt.securityDataModel}">
						 
				<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
					rendered="#{interfaceSendTRCRMgmt.securityDataModel.rowCount==0}"
					style="font-weight:bold;" />
						 
					<p:dataTable id="dtbSecurity"
								value="#{interfaceSendTRCRMgmt.securityDataModel}" 
								var="sec"
								paginator="true" rows="#{gconst['dtb.rows']}" 
								paginatorPosition="#{gconst['dtb.pagination.position']}"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"			
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{interfaceSendTRCRMgmt.listSecuritySelected}"
								rowKey="#{sec.idSecurityCodePk}"
								emptyMessage="#{gmsgs['lbl.search.no.result']}"
								rendered="#{interfaceSendTRCRMgmt.securityDataModel.rowCount > 0}">
								
						<p:column selectionMode="multiple" style="width:2%"  />
						
						<p:column sortBy="#{sec.idSecurityCodePk}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{gmsgs['security.col.code']}" 
											  escape="false"/>
							</f:facet>
							
							<h:outputText id="cmlIdSecurityCode" value="#{sec.idSecurityCodePk}"/>
						</p:column>
						

						
						<p:column sortBy="#{interfaceSendTRCRMgmt.parametersTableMap[sec.currency].text1}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['rate.lbl.currency.rate']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{interfaceSendTRCRMgmt.parametersTableMap[sec.currency].text1}" />
						</p:column>	
											
						<p:column sortBy="#{sec.currentNominalValue}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.nominal.value']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.currentNominalValue}">
								<f:convertNumber pattern="#{gconst['conv.number.pattern.nominal.amount']}"
												 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						
						<p:column styleClass="content-left"
								  sortBy="#{sec.issuanceDate}" 		  
								  > 
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.security.issuance.date']}"
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.issuanceDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						
						<p:column styleClass="content-left" sortBy="#{sec.negociable}"> 
							<f:facet name="header">
								<h:outputText value="#{msgs['lbl.tr.cr.negociable']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.negociable}">
							</h:outputText>
						</p:column>
						
						<p:column sortBy="#{interfaceSendTRCRMgmt.parametersTableMap[sec.stateSecurity]}"
								  styleClass="content-left"> 
							<f:facet name="header"> 
								<h:outputText value="#{msgs['security.col.security.state']}" />
							</f:facet>
							<h:outputText value="#{interfaceSendTRCRMgmt.parametersTableMap[sec.stateSecurity]}" />
						</p:column>
						
						<f:facet name="footer">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{interfaceSendTRCRMgmt.securityDataModel.rowCount}" />
							</h:outputFormat>
						</f:facet>
						
					</p:dataTable>	 
				</p:panel>
				</p:outputPanel>
			</td>
		</tr>
	</table>
	</h:form>
	

	
	  
	    <p:confirmDialog id="cnfConfirmOperation"  
		                header="#{headerMessageView}" 
		                severity="alert" 
		                widgetVar="cnfwConfirmOperation"
		                message="#{bodyMessageView}"
		                closable="false"> 
			 <h:form id="frmBlockSecurity">	        
	        <p:commandButton id="cmbConfirm" 
	        				 value="#{msgs['btn.yes']}"
	        				 action="#{interfaceSendTRCRMgmt.processOperationHandler}"
	        				 update=":cnfEndTransactionSec,:frmSearchSecurity:pnlResult"
	                    	 > 
	        </p:commandButton>  
	        <p:commandButton id="cmbCandelOperation"  
	        				 value="#{msgs['btn.no']}"
	        				  onclick="PF('cnfwConfirmOperation').hide();" 
	        				  type="button" />  
	         </h:form>  	   
	    </p:confirmDialog> 
	 
	
		<p:outputPanel id="opnlDialogs">
		<h:form id="frmFileTrCr">
			<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
			    	value="#{msgs['btn.accept']}"  immediate="true" process="@this"  global="false"/>
		</p:confirmDialog>
		</h:form>	
		</p:outputPanel>
		
	
	
	</ui:define>
</ui:composition>
</html>