<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.generalparameter.externalinterface.type.InterfaceSendProcessStateType" var="processState" />
		<script type="text/javascript">
		$(window).load(function(){
		setInitialFormState('#frmSendInterfaceRegister');
		});
	</script>
		<h:outputText id="idSendInterfaceRegisterMgmtTitle" value="#{msgs['external.interface.monitor.detail.title']}" styleClass="title-page" />
		<h:form id="frmSendInterfaceRegister">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fsDatosGenerales" legend="#{msgs['external.interface.monitor.fls']}">
							<table width="100%">
								<tr>
									<td width="10%"></td>
									<td width="25%"></td>
									<td width="10%"></td>
									<td width="25%"></td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.id']}:" />
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.idExtInterfaceSendPk}"/>
									</td>
									<td>
										<h:outputText value="#{msgs['external.interface.send.type']}:" />
									</td>
									<td>
										<p:selectOneMenu value="#{interfaceSendMgmt.interfaceSendSession.extInterfaceSendType}" disabled="true">
											<f:selectItems value="#{interfaceSendMgmt.interfaceSendTypeList}" var="sendType" 
														   itemValue="#{sendType.code}" itemLabel="#{sendType.value}">
											</f:selectItems>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.interface']}:" />
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.externalInterface.interfaceName}"/>
									</td>
									<td>
										<h:outputText value="#{msgs['external.interface.send.requester']}:" rendered="#{not empty interfaceSendMgmt.interfaceSendSession.institutionRequest}"/>
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.institutionRequest}" rendered="#{not empty interfaceSendMgmt.interfaceSendSession.institutionRequest}"/>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.total']}:" />
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.totalInterfaces}"/>
									</td>
									<td>
										<h:outputText value="#{msgs['external.interface.send.datehour']}:" />
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.executionHour}">
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" dateStyle="medium" type="both" />
										</h:outputText>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.total.generated']}:" />
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.generatedInterfaces}"/>
									</td>
									<td>
										<h:outputText value="#{msgs['external.interface.send.total.failed']}:"/>
									</td>
									<td>
										<h:outputText value="#{interfaceSendMgmt.interfaceSendSession.failedInterfaces}"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset id="fsDatosInterface" legend="#{msgs['external.interface.monitor.fls.track']}">
							<table width="100%">
								<tr>
									<td align="right">
										<p:commandLink actionListener="#{interfaceSendMgmt.udpdateTrackingProcess}" update="fsDatosInterface,pnlTrackDetail">
									 		<p:graphicImage style="cursor:pointer;width:14px" library="img" name="buttons/refresh.png" title="#{msgs['external.interface.send.refresh.track']}"/>
									 	</p:commandLink>
									</td>
								</tr>
								<tr>
									<td>
										<p:dataTable value="#{interfaceSendMgmt.interfaceSendUser}" var="userTrack" rowsPerPageTemplate="5,10,15"
													 paginator="true" rows="10" paginatorPosition="top"
								 					 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"> 
											<p:column headerText="#{msgs['external.interface.send.det.id']}" styleClass="content-center" style="width: 6%;" 
													  sortBy="#{userTrack.trackId}">
												<h:outputText value="#{userTrack.trackId}" />
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.usertype']}" styleClass="content-center" style="width:15%;">
												<h:outputText value="#{userTrack.institutionTypeDes}" />
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.cod.inst']}" styleClass="content-center" style="width: 10%;"
													  sortBy="#{userTrack.institutionCode}">
												<h:outputText value="#{userTrack.institutionCode}" />
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.hour.start']}" styleClass="content-center" style="width:10%;">
												<h:outputText value="#{userTrack.sendStartHour}">
													<f:convertDateTime pattern="HH:mm:ss" dateStyle="medium" type="both" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.hour']}" styleClass="content-center" style="width:10%;"
													  sortBy="#{userTrack.sendHour}">
												<h:outputText value="#{userTrack.sendHour}">
													<f:convertDateTime pattern="HH:mm:ss" dateStyle="medium" type="both" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.state']}" styleClass="content-center" style="width:10%;">
												<h:outputText value="#{userTrack.stateDescription}" />
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.error']}" styleClass="content-center" style="width:5%;">
												<p:commandLink value="ver" rendered="#{not empty userTrack.error}"/>
											</p:column>
											<p:column headerText="#{msgs['external.interface.send.det.files']}" styleClass="content-center" style="width:5%;">
												<p:commandLink value="ver" rendered="#{processState.GENERATED.code == userTrack.state}" 
															   actionListener="#{interfaceSendMgmt.loadFilesWithUsers(userTrack)}"
															   update=":frmSendInterfaceRegister:pnlTrackDetail"/>
											</p:column>
										</p:dataTable>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlTrackDetail">
						<p:fieldset id="fsDatosInterfaceDetail" legend="#{msgs['external.interface.monitor.fls.track.det']}" 
									rendered="#{not empty interfaceSendMgmt.interfaceSendSelected}">
							<table width="100%">
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.user']}:"/>
									</td>
									<td>
										<p:inputTextarea value="#{interfaceSendMgmt.interfaceSendSelected.usersOfInstitution}"
														 disabled="true" cols="100" rows="4"/>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['external.interface.send.files']}:"/>
									</td>
									<td>
										<ui:repeat var="file" value="#{interfaceSendMgmt.interfaceSendSelected.stringFiles}">
											<li>
												<h:outputText value="#{file}"/>
											</li>
										</ui:repeat>
									</td>								
								</tr>
							</table>
						</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td align="center">
						<p:commandButton id="cmdBack" value="#{msgs['btn.back']}" action="search" icon="fa fa-undo" process="@this" ajax="false" immediate="true"/>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>