<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"	
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
 
		<h:outputText value="#{msgs['opt.adm.sending.accounting.register.title']}" styleClass="title-page" />
	
	 	<h:form>
	
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.send.data']}" >
							<table width="100%" border="0">						
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']} (*)" styleClass="required-field" />
									</td>									
									<td width="280px"> 
										<h:panelGrid columns="2"> 		
											<p:selectOneMenu id="cmbDailyAuxiliaryhId" style="width:250px;" required="true"								
														     value="#{sendingAccountingMgmtBean.regAuxiliaryTypeSelected}" 
														     label="#{msgs['daily.auxiliary.lbl.type']}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" noSelectionOption="true"/>
												<f:selectItems value="#{sendingAccountingMgmtBean.listParameterAuxiliaryType}"
												 			   var="parameterList"
												               itemLabel="#{parameterList.nameWithDescription}" 
												               itemValue="#{parameterList.idAccountingParameterPk}" />
												<p:ajax event="change" update="msgsDailyAuxiliaryId @this"/>
												<f:validator validatorId="selectOneRequiredValidator" /> 
											</p:selectOneMenu>  
							    			<p:message for="cmbDailyAuxiliaryhId" display="icon"  id="msgsDailyAuxiliaryId"/>
							   			</h:panelGrid>	 
									</td>
									
									<td width="220px">
										<h:outputText value="#{msgs['lbl.send.cutDate']} (*)"  />
									</td>									
									<td width="280px"> 
										<p:calendar id="cutDateId"  readonly="#{facesContext.renderResponse}" 													
													required="true"  size="10" navigator="true"								
													value="#{sendingAccountingMgmtBean.regCutDate}"   									
													pattern="#{gmsgs['calendar.date.format']}"  showOn="button" maxlength="10" >
											<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
										</p:calendar>
										<p:message for="cutDateId" display="icon"  id="msgscutDateId"/>
									</td>  
									<td></td>									
								</tr>
								
								<tr>
	        						<td align="center" colspan="5"> 
	        							<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search" update="@form"
	        							                 actionListener="#{sendingAccountingMgmtBean.searchAccounting}" />
	        							                 
	        							<p:spacer width="5" height="30"></p:spacer>

										<p:commandButton id="cmbClean"  value="#{msgs['btn.clean']}" icon="fa fa-trash"
	        							                 action="backToSearchSendingAccounting" process="@this" immediate="true" />
	        							                 
	        							<p:spacer width="5" height="0"></p:spacer>

										<p:commandButton id="cmbBack"  value="#{msgs['btn.back']}" icon="fa fa-undo"
	        							                 action="backToSearchSendingAccounting" process="@this" immediate="true" />
									</td>									
								</tr>	
							</table> 
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel rendered="#{sendingAccountingMgmtBean.sendingInterface != null}">
							<p:fieldset legend="#{msgs['lbl.results']}" >
								<table width="100%" border="0">						
									<tr>	
										<td width="220px">
											<h:outputText value="#{msgs['lbl.send.file.new']}"  />
										</td>									
										<td width="280px">
											<h:inputText value="#{sendingAccountingMgmtBean.sendingInterface.fileNameXmlSent}" disabled="true"
														 style="width:240px;"/>
											<p:commandLink  styleClass="icon" process="@this" update="@form"
													global="false" ajax="false" immediate="true"
													onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
												<p:fileDownload	value="#{sendingAccountingMgmtBean.getStreamedContent(sendingAccountingMgmtBean.sendingInterface.fileXmlSent,sendingAccountingMgmtBean.sendingInterface.fileNameXmlSent)}" />
											    <p:graphicImage id="imgView" library="img" name="icons/loupe.png" />                
											</p:commandLink>
										</td>
										<td width="220px">
											<h:outputText value="#{msgs['lbl.send.records.total']}" style="width:200px;text-align:right;" />
										</td>									
										<td width="280px">
											<h:inputText value="#{sendingAccountingMgmtBean.sendingInterface.totalRecords}" disabled="true"/>
										</td>
										<td></td>
									</tr>
									<tr>
			      						<td align="center" colspan="5"> 
			      							<p:commandButton id="cmbSent" value="#{msgs['btn.sent']}" icon="fa fa-search" update="@form"
			      							                 actionListener="#{sendingAccountingMgmtBean.beforeSendAccounting}" />
			      							<p:spacer width="0" height="30"></p:spacer>
										</td>									
									</tr>
								</table>
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
			
		
			<p:outputPanel id="outPnlDialogs">
				<p:confirmDialog widgetVar="cnfwProcessSendGeneration" id="cnfIdProcessSendGeneration" message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false" >
					<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwProcessSendGeneration.hide()" update="@form" 
						actionListener="#{sendingAccountingMgmtBean.sentAccounting}" />
					<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwProcessSendGeneration.hide()" update="@form" />
				</p:confirmDialog>
			</p:outputPanel>	  

			<!-- popup de confirmacion  -->
			<p:confirmDialog widgetVar="cnfWConfirmDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="PF('cnfWConfirmDialog').hide()" 
			    	value="#{msgs['btn.accept']}" 
			    	action="backToSearchSendingAccounting"
			    	immediate="true" process="@this"  />
			</p:confirmDialog>		
			
		</h:form>	
	</ui:define>
</ui:composition>
</html>