<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">

	<ui:define name="body">
	
		<table width="100%">
			<tr>
				<td>
					<h:outputText value="#{msgs['opt.adm.sending.accounting.search.title']}" styleClass="title-page"/>
				</td>				
				<td align="right">
					<p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit"  immediate="true" 
						action="goToRegistrySendingAccounting" rendered="#{userPrivilege.userAcctions.register}"  
						actionListener="#{sendingAccountingMgmtBean.loadRegistrationPage}"/>
				</td>
			</tr>
		</table>
	
		<h:form>
	
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.process.data']}" >
							<table width="100%" border="0">						
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['daily.auxiliary.lbl.type']} (*)" styleClass="required-field" />
									</td>									
									<td width="280px"> 
										<h:panelGrid columns="2"> 		
											<p:selectOneMenu id="cmbDailyAuxiliaryhId" style="width:250px;" 					
														     value="#{sendingAccountingMgmtBean.searchAuxiliaryTypeSelected}" 
														     label="#{msgs['daily.auxiliary.lbl.type']}">  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"/>
												<f:selectItems value="#{sendingAccountingMgmtBean.listParameterAuxiliaryType}"
												 			   var="parameterList"
												               itemLabel="#{parameterList.nameWithDescription}" 
												               itemValue="#{parameterList.idAccountingParameterPk}" />
												<p:ajax event="change" update="@this"/>
												<f:validator validatorId="selectOneRequiredValidator" /> 
											</p:selectOneMenu>  
							   			</h:panelGrid>	 
									</td>
								</tr>
								
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['lbl.initial.date']}"  />
									</td>									
									<td width="280px"> 
										  <p:calendar id="idInitialDate"  readonly="#{facesContext.renderResponse}" 													
													required="true"  size="10" navigator="true"								
													value="#{sendingAccountingMgmtBean.searchInitialDate}"   									
													pattern="#{gmsgs['calendar.date.format']}"  showOn="button" maxlength="10" >
										</p:calendar>
									</td>  
									<td width="220px">
										<h:outputText value="#{msgs['lbl.final.date']}"  />
									</td>									
									<td width="280px"> 
										  <p:calendar id="idFinalDate"  readonly="#{facesContext.renderResponse}" 													
													required="true"  size="10" navigator="true"								
													value="#{sendingAccountingMgmtBean.searchFinalDate}"   									
													pattern="#{gmsgs['calendar.date.format']}"  showOn="button" maxlength="10" >
										</p:calendar>
									</td>									
								</tr>
								
								<tr>
	        						<td  align="center" colspan="5"> 
	        							<p:commandButton id="cmbSearch"  value="#{msgs['btn.search']}" 
										                 icon="fa fa-search"  
										                 actionListener="#{sendingAccountingMgmtBean.searchDocuments}"
										                 update="@form" 
										                 /> 
												<p:spacer width="5" height="0"></p:spacer>	      
 	        					 		<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}"
	        							 				 icon="fa fa-trash" update="@form" process="@this"
	        							 				 actionListener="#{sendingAccountingMgmtBean.cleanDocuments}"
	        							 				   />  	
		 			    															
									</td>									
								</tr>	
								
																
							</table> 
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td>
					<p:outputPanel autoUpdate="true"  id="panelPrivileges">
                    <p:outputPanel rendered="#{(sendingAccountingMgmtBean.listSendInterfaceXmlSap.size() >= 1)}">
                    
					                    
                    </p:outputPanel>
                    </p:outputPanel>
                    
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{sendingAccountingMgmtBean.listSendInterfaceXmlSap !=null and (sendingAccountingMgmtBean.listSendInterfaceXmlSap.size() >= 1)}">
							<p:dataTable id="dtbResult"
								var="process" 
								value="#{sendingAccountingMgmtBean.listSendInterfaceXmlSap}"
								paginator="true" rows="5" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{sendingAccountingMgmtBean.sendInterfaceXmlSapSelected}"
				                >
				                <p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.nro']}" />
									</f:facet>
									<h:outputText  value="#{process.idSendInterfaceXmlSapPk}"/>
								</p:column>

								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.fechaProcesamiento']}" />
									</f:facet>
									<h:outputText  value="#{process.idInterfacesTransactionFk.interfaceProcess.processDate}"/>
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.tipoDiario']}" />
									</f:facet>
									<h:outputText value="VALORES" />
								</p:column>  
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.total']}" />
									</f:facet>
									<h:outputText value="#{process.totalRecords}" />
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.aceptados']}" />
									</f:facet>
									<h:outputText value="#{process.acceptedRecords}" />
								</p:column>  
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.rechazados']}" />
									</f:facet>
									<h:outputText value="#{process.rejectRecords}" id="content"/>
									
								    <p:tooltip id="toolTipContent" for="content" position="bottom">
								         <p:dataList value="#{sendingAccountingMgmtBean.getListaDetalles(process.responseValue)}" var="det" emptyMessage=" ">
									         #{det}
									    </p:dataList>
								    </p:tooltip>
    
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.send']}" />
									</f:facet>
									<p:commandLink  styleClass="icon" process="@this" update="@form"
											global="false" ajax="false" immediate="true"
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
										<p:fileDownload	value="#{sendingAccountingMgmtBean.getStreamedContentFileSend(process.idInterfacesTransactionFk.interfaceProcess)}" />
									    <p:graphicImage id="imgView1" library="img" name="icons/loupe.png" />                
									</p:commandLink>
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.received']}" />
									</f:facet>
									<p:commandLink  styleClass="icon" process="@this" update="@form"
											global="false" ajax="false" immediate="true"
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
										<p:fileDownload	value="#{sendingAccountingMgmtBean.getStreamedContentFileReceived(process.idInterfacesTransactionFk.interfaceProcess)}" />
									    <p:graphicImage id="imgView2" library="img" name="icons/loupe.png" />                
									</p:commandLink>
								</p:column>								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.sendinterfacexml.state']}" />
									</f:facet>
									<h:outputText value="#{sendingAccountingMgmtBean.getState(process.state)}" />
								</p:column>
								  
							    <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{sendingAccountingMgmtBean.listSendInterfaceXmlSap.size()}" 
													style="font-weight:bold;"/>
									</div>
								</f:facet>	
							    
							</p:dataTable>  
						</p:fieldset>
						<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{sendingAccountingMgmtBean.listSendInterfaceXmlSap !=null and !(sendingAccountingMgmtBean.listSendInterfaceXmlSap.size() >= 1)}">
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
							style="font-weight:bold;"/>							
					   </p:fieldset>  
					</td> 
				</tr>
		
		</table>

		
		<p:outputPanel id="outPnlDialogs">
		</p:outputPanel>	  
		
		

		<!-- popup de confirmacion  -->
		<p:confirmDialog widgetVar="cnfWConfirmDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWConfirmDialog').hide()" 
		    	value="#{msgs['btn.accept']}"
		    	action="searchServiceMgmt" immediate="true" process="@this"  />
		</p:confirmDialog>		
		
		<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
					 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
			    	value="#{msgs['btn.accept']}"  
			    	immediate="true" process="@this"  global="false"/>
	</p:confirmDialog>	
			
	</h:form>	

	</ui:define>
</ui:composition>
</html>