<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:outputText value="#{msgs['schedule.settlement.mgmt.title']}" styleClass="title-page"  id="otSettlementScheduleTitle"/>
<h:form id="frmSettlementScheduleSearch" >
	<div class="buttons-top-right">
		<p:commandButton id="idCmdBtnRegister" value="#{gmsgs['btn.register']}" icon="fa fa-edit" 
								 immediate="true" actionListener="#{settlementSchedulesMgmtBean.registerView}" 
								 action="settlementScheduleMgmt" ajax="false" rendered="#{userPrivilege.userAcctions.register}"/>
	</div> 
	<table width="100%">		
		<tr>
			<td>
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.criteria.search']}">
			<table width="100%">
				<tr>
					<td width="150px">
						<h:outputText value="#{msgs['schedule.settlement.register.schedule.type']}"/>
					</td>
					<td width="300px">
						<h:panelGrid columns="2">
							<p:selectOneMenu id="cboMechanism" value="#{settlementSchedulesMgmtBean.settlementSchedule.scheduleType}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{settlementSchedulesMgmtBean.lstScheduleType}"/>
							</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>
				<tr><td height="20px"></td></tr>
				<tr>
					<td colspan="6" align="center">
						<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" update="fldsFiltros opnlResult :opnlGenericDialogs"
										 actionListener="#{settlementSchedulesMgmtBean.searchSettlementSchedule}"
										 rendered="#{userPrivilege.userAcctions.search}" icon="fa fa-search" process="@form"/> 
						<p:commandButton value="#{gmsgs['btn.clean']}" id="idCmdBtnClear"
										 update="fldsFiltros opnlResult" process="@this" icon="fa fa-trash" 
										 action="#{settlementSchedulesMgmtBean.clearSearch}" immediate="true" />
					</td>
				</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>			
				<p:outputPanel autoUpdate="true"  id="outputPanelPrivileges">
					<p:outputPanel rendered="#{settlementSchedulesMgmtBean.settlementScheduleDataModel != null and 
												settlementSchedulesMgmtBean.settlementScheduleDataModel.rowCount gt 0}"> 
						<ark:privileges id="praderaPrivileges" actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"
						 				actionModify="#{settlementSchedulesMgmtBean.modifyView(settlementSchedulesMgmtBean.settlementScheduleSelected)}"/>			 
					</p:outputPanel>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlResult">
					<p:fieldset id="fsListado" legend="#{gmsgs['lbl.results']}"  rendered="#{settlementSchedulesMgmtBean.settlementScheduleDataModel != null}">
			
					<p:dataTable id="dtbResult" var="ss" rendered="#{settlementSchedulesMgmtBean.settlementScheduleDataModel.rowCount >= 1}"
								style="padding-right:0px !important;" emptyMessage="#{msgs['lbl.search.no.result']}"
								value="#{settlementSchedulesMgmtBean.settlementScheduleDataModel}" paginator="true"
								rows="10" paginatorPosition="top" currentPageReportTemplate="Página {currentPage} de {totalPages}"
								rowsPerPageTemplate="5,10,15" first="#{settlementSchedulesMgmtBean.firsRegisterDataTable}"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} 
													{LastPageLink} &nbsp; Filas por Página: {RowsPerPageDropdown}" 
								selection="#{settlementSchedulesMgmtBean.settlementScheduleSelected}">
						<p:column selectionMode="single" styleClass="content-center"/>
						
						<p:column headerText="#{msgs['schedule.settlement.register.schedule.type']}" styleClass="content-left">
							<p:commandLink style="color:blue" ajax="false" actionListener="#{settlementSchedulesMgmtBean.detailView(ss)}" 
										   action="settlementScheduleDetail" id="idCmdLinkId">
								<h:outputText value="#{settlementSchedulesMgmtBean.mapScheduleTypes.get(ss.scheduleType)}" id="otScheduleTypeLink"/>
							</p:commandLink>
						</p:column>
						
						<p:column headerText="#{msgs['schedule.settlement.register.execution.times']}" style="width: 150px" styleClass="content-center">
							<h:outputText value="#{ss.executionTimes}"/>
						</p:column>

						<p:column headerText="#{msgs['schedule.settlement.register.lbl.initial.date']}" styleClass="content-center">
							<h:outputText value="#{ss.startDate}">
								<f:convertDateTime pattern="#{gconst['timeFormat']}"/>
							</h:outputText>
						</p:column>

						<p:column headerText="#{msgs['schedule.settlement.register.lbl.final.date']}" styleClass="content-center">
							<h:outputText value="#{ss.endDate}">
								<f:convertDateTime pattern="#{gconst['timeFormat']}"/>
							</h:outputText>
						</p:column>

						<p:column headerText="#{msgs['schedule.settlement.register.schedule.type.ref']}" styleClass="content-left">
							<h:outputText value="#{settlementSchedulesMgmtBean.mapScheduleTypes.get(ss.scheduleTypeRef)}"/>
						</p:column>

						<f:facet name="footer">	
							<div style="width:100%; text-align:left" id="idDivFooter">								
								<h:outputLabel value="#{settlementSchedulesMgmtBean.settlementScheduleDataModel.rowCount} registros encontrados." 
											   style="font-weight:bold;" id="idOlblRowCount"/>
							</div>
						</f:facet>
						
						<p:ajax event="page" listener="#{settlementSchedulesMgmtBean.changePageDatatable}"/>
						
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblNoSearchResult"
									   rendered="#{!(settlementSchedulesMgmtBean.settlementScheduleDataModel.rowCount >= 1)}" style="font-weight:bold;"/>
					</p:fieldset>
					</p:outputPanel>
				</td>
			</tr>
		</table>
	</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>