<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
		$(window).load(function(){
		setInitialFormState('#mainForm'); //con michi 
		});
	</script>
		<h:form id="mainForm">
			<h:outputText value="#{msgs['opc.adm.schedule.pnl.register']}" rendered="#{scheduleMgmtBean.register}" styleClass="title-page" id="idOtxtScheduleMgmtBackTitle"/> 
			<h:outputText value="#{msgs['opc.adm.schedule.pnl.modify']}" rendered="#{scheduleMgmtBean.modify}" styleClass="title-page" id="idOtxtScheduleMgmtModifyTitle"/>

			<p:fieldset legend="#{msgs['system.pnl.data']}" id="idPnlRegister">
				<table class="table-fields">
					<tr>
						<td>
							<table class="table-fields">
								<tr>
									<td class="td-label-default">
										<h:outputText value="#{msgs['schedule.lbl.tipo']} (*)" styleClass="required-field" id="idOtxtScheduleType"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu id="selectScheduleType" rendered="#{scheduleMgmtBean.register}" label="#{msgs['schedule.lbl.tipo']}"
												value="#{scheduleMgmtBean.scheduleSession.scheduleType}" style="width:200px">  
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemScheduleType" itemValue="-1"/>
												<f:selectItems value="#{scheduleMgmtBean.scheduleTypeList}" var="tipHor"  id="idCboItemsScheduleType"
															   itemLabel="#{tipHor.value}" itemValue="#{tipHor.code}" />
												<p:ajax event="change" listener="#{scheduleMgmtBean.evaluateScheduleTypeListener}" update="mainForm"/>
												
											</p:selectOneMenu>
											<h:outputText value="#{scheduleMgmtBean.scheduleSession.typeDescription}"  id="idOtxtScheduleTypeDescription"
																  rendered="#{scheduleMgmtBean.modify}"/>
											<p:message for="selectScheduleType" display="icon" id="msgselectScheduleType"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<p:panel rendered="#{not empty scheduleMgmtBean.userAccountTypeList}" visible="false" id="pnlClientType">
										<td class="td-label-default">
											<h:outputText value="#{msgs['opc.adm.schedule.client.consult']} (*)" styleClass="required-field" id="idOtxtClientType"/>
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu id="idCboUserAccType" label="#{msgs['opc.adm.schedule.client.consult']}" value="#{scheduleMgmtBean.userAccountTypeSelected}" style="width:200px" disabled="#{scheduleMgmtBean.modify}"> 
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemUserAccType" itemValue="-1"/>
													<f:selectItems value="#{scheduleMgmtBean.userAccountTypeList}" var="tipClient" id="idCboItemsUserAccType"
																   itemLabel="#{tipClient.name}" itemValue="#{tipClient.idParameterPk}" />
													<p:ajax event="change" listener="#{scheduleMgmtBean.evaluateUserAccountTypeListener}" update="mainForm"/>														
												</p:selectOneMenu>																
												<p:message for="idCboUserAccType" display="icon" id="idMsgCboUserAccType"/>
											</h:panelGrid>
										</td>
									</p:panel>
								</tr>
								<tr>
									<p:outputPanel rendered="#{scheduleMgmtBean.scheduleSession.scheduleTypeInstitution}" id="idTypeInstitution">
										<p:panel rendered="#{not empty scheduleMgmtBean.institutionsTypeList}" 
												 visible="false" id="panelTipoInstitucion">
											<td class="td-label-default">
												<h:outputText value="#{msgs['user.lbl.institution.type']} (*)" styleClass="required-field" id="idOtxtInstitutionType"/>
											</td>
											<td>
												<h:panelGrid columns="2">
													<p:selectOneMenu id="idCboInstitutionType" label="#{msgs['user.lbl.institution.type']}" value="#{scheduleMgmtBean.institutionSecuritySelected}" style="width:200px" disabled="#{scheduleMgmtBean.modify}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemInstitutionType" itemValue="-1"/>
														<f:selectItems value="#{scheduleMgmtBean.institutionsTypeList}" var="tipClient"   id="idCboItemsInstitutionType" 
																	   itemLabel="#{tipClient.name}" itemValue="#{tipClient.idParameterPk}"/>
																	   <p:ajax event="change" process="@this" update="mainForm"  listener="#{scheduleMgmtBean.hideDialogs}"/>
														
													</p:selectOneMenu>
													<p:message for="idCboInstitutionType" display="icon" id="idMsgCboInstitutionType"/>
												</h:panelGrid>													
											</td>
										</p:panel>										
									</p:outputPanel> 
								</tr>
								<tr>
							          <td>
							          		<h:outputText value="#{msgs['schedule.lbl.description']} (*)" styleClass="required-field" id="idOtxtDescriptionLbl"/>
							          </td>
							          <td>
							          		<h:panelGrid columns="2">
												<p:outputPanel id="pnlDescription">
										           <p:inputTextarea id="txt_description" value="#{scheduleMgmtBean.scheduleSession.description}" cols="100" rows="1" maxlength="200">
										            <p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/> 
										           </p:inputTextarea>
									          	</p:outputPanel>								            
									           <p:message for="txt_description" display="icon" id="idMsgDescription"/>
											</h:panelGrid>									          
							          </td>
						         </tr>
							</table>
						</td>
						<td>
							<p:fieldset legend="#{msgs['schedule.horario']}" id="idPnlSchedule">
								<p:panelGrid style="width: 350px" styleClass="centerContent" id="specificaGrid">
										<p:row id="monrowId">
										<p:column styleClass="content-center" id="idClmDetailCol">
										<p:selectBooleanCheckbox id="idchkselAll" value="#{scheduleMgmtBean.selectAll}"  required="false">
										<p:ajax update="idPnlSchedule" listener="#{scheduleMgmtBean.selectAllListener}" process="@this specificaGrid"></p:ajax>
											</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" id="idClmDetailColDay">#{msgs['schedule.detail.col.day']}
											</p:column>
											<p:column 
											id="clmInicio" styleClass="content-center"> #{msgs['schedule.detail.col.time.start']} </p:column>
											<p:column 
											id="clmFin" styleClass="content-center">#{msgs['schedule.detail.col.time.end']} </p:column>
										</p:row>
										<p:row id="idRowMonday">
										<p:column styleClass="content-center" width="80" id="idClmMonday">
										<p:selectBooleanCheckbox id="idCheckTable" value="#{scheduleMgmtBean.scheduleDetailMon.selected}"  required="false">
										<p:ajax update="monclmInicio monclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
											</p:selectBooleanCheckbox> 
										</p:column>
											<p:column styleClass="content-center" width="80" id="idClmMondayLbl">#{msgs['schedule.lunes']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmMonInitialDate">
												 <p:calendar id="monclmInicio" value="#{scheduleMgmtBean.scheduleDetailMon.initialDate}" required="false" widgetVar="monInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailMon.selected}" 
													showOn="button" inputStyle="dateTimeField" >
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="monclmFinal :opnlGenericDialogs "/>
												</p:calendar>
											</p:column>
											<p:column  styleClass="content-center" width="80" id="idClmMonEndDate">
												<p:calendar id="monclmFinal" value="#{scheduleMgmtBean.scheduleDetailMon.endDate}" required="false" widgetVar="monEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailMon.selected}" 
													showOn="button"  inputStyle="dateTimeField" 
													minHour="#{scheduleMgmtBean.scheduleDetailMon.initialDate.hours}">
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" process="monclmFinal" update="monclmFinal :opnlGenericDialogs"/>
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowTuesDay">
										<p:column styleClass="content-center" width="80" id="idClmTuesDay">
										<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailTue.selected}"  required="false" id="idBchkTuesDay">
											<p:ajax update="tueclmInicio tueclmFinal idchkselAll " listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
											</p:selectBooleanCheckbox> 
										</p:column>
											<p:column styleClass="content-center" width="80" id="idClmTuesDayLbl">#{msgs['schedule.martes']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmTuesInitialDate">
												<p:calendar id="tueclmInicio" value="#{scheduleMgmtBean.scheduleDetailTue.initialDate}" required="false" widgetVar="tueInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailTue.selected}" 
													showOn="button">
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update=":opnlGenericDialogs  tueclmFinal" />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmTueEndDate">
												<p:calendar  id="tueclmFinal" value="#{scheduleMgmtBean.scheduleDetailTue.endDate}" required="false" widgetVar="tueEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailTue.selected}"
													 showOn="button"  minHour="#{scheduleMgmtBean.scheduleDetailTue.initialDate.hours}">
													<p:ajax event="dateSelect"  listener="#{scheduleMgmtBean.checkScheduleListener()}" update="tueclmFinal :opnlGenericDialogs " />
												</p:calendar>

											</p:column>
										</p:row>
										<p:row id="idRowWednesDay">
											<p:column styleClass="content-center" width="80" id="idClmWednesDay">
											<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailWed.selected}" required="false">
												<p:ajax update="wedclmInicio wedclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
												</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmWednesDayLbl">#{msgs['schedule.miercal']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmWedInitialDate">
												<p:calendar id="wedclmInicio" value="#{scheduleMgmtBean.scheduleDetailWed.initialDate}" required="false" widgetVar="wedInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailWed.selected}" showOn="button" >
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="wedclmFinal :opnlGenericDialogs " />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmWedEndDate">
												<p:calendar id="wedclmFinal" value="#{scheduleMgmtBean.scheduleDetailWed.endDate}" required="false" widgetVar="wedEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailWed.selected}" showOn="button" minHour="#{scheduleMgmtBean.scheduleDetailWed.initialDate.hours}">
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="wedclmFinal :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowThursDay">
											<p:column styleClass="content-center" width="80" id="idClmThursDay">
											<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailThu.selected}" required="false" id="idBchkThuDay">
												<p:ajax update="thuclmInicio thuclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
												</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmThursDaylbl">#{msgs['schedule.jueves']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmThuInitialDate">
												<p:calendar id="thuclmInicio" value="#{scheduleMgmtBean.scheduleDetailThu.initialDate}" required="false" widgetVar="thuInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailThu.selected}" showOn="button">
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="thuclmFinal  :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmThuEndDate">
												<p:calendar  id="thuclmFinal" value="#{scheduleMgmtBean.scheduleDetailThu.endDate}"  required="false" widgetVar="thuEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailThu.selected}" showOn="button" minHour="#{scheduleMgmtBean.scheduleDetailThu.initialDate.hours}">
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="thuclmFinal :opnlGenericDialogs " />
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowFriDay">
											<p:column styleClass="content-center" width="80" id="idClmFriDay">
											<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailFri.selected}" required="false" id="idBchkFriDay">
												<p:ajax update="friclmInicio friclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
												</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmFriDayLbl">#{msgs['schedule.viernes']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmFriInitialDate">
												<p:calendar  id="friclmInicio" value="#{scheduleMgmtBean.scheduleDetailFri.initialDate}" required="false" widgetVar="friInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailFri.selected}" showOn="button" >
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="friclmFinal  :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmFriEndDate">
												<p:calendar id="friclmFinal" value="#{scheduleMgmtBean.scheduleDetailFri.endDate}" required="false" widgetVar="friEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailFri.selected}" showOn="button" minHour="#{scheduleMgmtBean.scheduleDetailFri.initialDate.hours}">
													<p:ajax event="dateSelect" process="friclmFinal" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="friclmFinal :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowSaturday">
											<p:column styleClass="content-center" width="80" id="idClmSaturDay">
											<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailSat.selected}" required="false" id="idBchkSaturDay">
												<p:ajax update="satclmInicio satclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
												</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSaturDayLbl">#{msgs['schedule.sabado']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSatInitialDate">
												<p:calendar  id="satclmInicio" value="#{scheduleMgmtBean.scheduleDetailSat.initialDate}" required="false" widgetVar="satInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailSat.selected}" showOn="button" >
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="satclmFinal  :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSatEndDate">
												<p:calendar id="satclmFinal" value="#{scheduleMgmtBean.scheduleDetailSat.endDate}" required="false" widgetVar="satEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailSat.selected}" showOn="button" minHour="#{scheduleMgmtBean.scheduleDetailSat.initialDate.hours}">
													<p:ajax event="dateSelect" process="satclmFinal" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="satclmFinal :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowSunDay">
											<p:column styleClass="content-center" width="80" id="idClmSunDay">
											<p:selectBooleanCheckbox value="#{scheduleMgmtBean.scheduleDetailSun.selected}" required="false" id="idBchkSunDay">
												<p:ajax update="sunclmInicio sunclmFinal idchkselAll" listener="#{scheduleMgmtBean.loadTableInitialDate}" process="@this"></p:ajax>
												</p:selectBooleanCheckbox> 
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSunDayLbl">#{msgs['schedule.domingo']}</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSunInitialDate">
												<p:calendar  id="sunclmInicio" value="#{scheduleMgmtBean.scheduleDetailSun.initialDate}" required="false" widgetVar="sunInitDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailSun.selected}" showOn="button" >
													<p:ajax event="dateSelect" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="sunclmFinal  :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
											<p:column styleClass="content-center" width="80" id="idClmSunEndDate">
												<p:calendar id="sunclmFinal" value="#{scheduleMgmtBean.scheduleDetailSun.endDate}" required="false" widgetVar="sunEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="#{!scheduleMgmtBean.scheduleDetailSun.selected}" showOn="button" minHour="#{scheduleMgmtBean.scheduleDetailSun.initialDate.hours}">
													<p:ajax event="dateSelect" process="sunclmFinal" listener="#{scheduleMgmtBean.checkScheduleListener()}" update="sunclmFinal :opnlGenericDialogs" />
												</p:calendar>
											</p:column>
										</p:row>
								</p:panelGrid>
								<p:message for="idPnlSchedule" id="msgerrorschedule" />
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p:outputPanel id="opnlMesaggeResumen" style="display: none;">
								<p:messages id="msgResumen" />
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<p:commandButton id="cmbSave"  icon="fa fa-save" type="button" value="#{scheduleMgmtBean.register ? msgs['btn.save'] : msgs['btn.modify']}" 
							onclick="isModifiedFormForSave('#mainForm','mainForm:cmbProcessSave')"
							rendered="#{scheduleMgmtBean.modify}"/>
							<p:commandButton id="cmbProcessSave" value="" style="display:none" ajax="true"  
											 update="mainForm opnlConfirmDialogs :opnlGenericDialogs"
											 actionListener="#{scheduleMgmtBean.generateMessageListener}"/>
							<p:commandButton id="cmbProcessSave1" value="#{msgs['btn.save']}" ajax="true" icon="fa fa-save"
											 update="@form opnlConfirmDialogs idCheckTable :opnlGenericDialogs" process="@form"
											 actionListener="#{scheduleMgmtBean.generateMessageListener}" rendered="#{scheduleMgmtBean.register}"/>
							<p:commandButton value="#{msgs['btn.back']}" type="button" icon="fa fa-undo" onclick="isModifiedFormForBack('#mainForm','mainForm:cmbProcessBack')" id="idCmdBtnBack"/>
							<p:commandButton id="cmbProcessBack" value="" style="display:none" immediate="true"
							 ajax="false" action="#{scheduleMgmtBean.backSuccSearch}"/> 
						</td>
					</tr>
				</table>
				<p:outputPanel id="opnlConfirmDialogs">
					<p:confirmDialog id="confirmScheduleMgmt"
						message="#{bodyMessageView}"
						header="#{headerMessageView}" visible="true"
						rendered="false" severity="alert"
						widgetVar="cnfwAdministrarHorario" closable="false">
						<p:commandButton id="confirmDes" value="#{msgs['btn.yes']}"
							oncomplete="PF('cnfwAdministrarHorario').hide();PF('cnfwFinTransaccion').show()"
							actionListener="#{scheduleMgmtBean.saveSchedule}" update=":opnlGenericDialogs opnlConfirmDialogs">
						</p:commandButton>
						<p:commandButton value="#{msgs['btn.no']}" actionListener="#{scheduleMgmtBean.hideDialogs()}" update="opnlConfirmDialogs" oncomplete="PF('cnfwAdministrarHorario').hide()" id="idCmdBtnNo"/>
					</p:confirmDialog>			
				</p:outputPanel>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>
</html>