<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
		<h:outputText value="#{msgs['opc.adm.schedule.title.consult']}" styleClass="title-page" id="idOtxtScheduleMgmtTitle"/>
		<h:form id="mainForm">
			<p:fieldset legend="#{msgs['opc.adm.schedule.title.consult']}" id="idPnlScheduleMgmtConsult">
				<table class="table-fields">
					<tr>
						<td>
							<table class="table-fields">
								<tr>
									<td class="td-label-default">
										<h:outputText value="#{msgs['schedule.lbl.tipo']}" styleClass="required-field" id="idOtxtScheduleTypeLbl"/>
									</td>
									<td>
										<h:outputText value="#{scheduleMgmtBean.scheduleSession.scheduleTypeDescription}" id="idOtxtScheduleType"/>
									</td>
								</tr>
								<tr>
									<td class="td-label-default">
										<h:outputText value="#{msgs['user.lbl.institution.type']} " styleClass="required-field"  id="idOtxtInstitutionTypeLbl"
													  rendered="#{scheduleMgmtBean.scheduleSession.scheduleType == 2}"/>
									</td>
									<td >
										<h:outputText value="#{scheduleMgmtBean.scheduleSession.institutionTypeDescription} " id="idOtxtInstitutionType"
													  rendered="#{scheduleMgmtBean.scheduleSession.scheduleType == 2}"/>
									</td>
								</tr>
								<tr>
									<td class="td-label-default">
										<h:outputText value="#{msgs['schedule.lbl.description']}" styleClass="required-field" id="idOtxtScheduleDescriptionLbl"/>
									</td>
									<td>
										<h:outputText value="#{scheduleMgmtBean.scheduleSession.description}" id="idOtxtScheduleDescription"/>
									</td>										
								</tr>
								<tr>
									<td class="td-label-default">
										<h:outputText value="#{msgs['system.lbl.blockmotive']}" styleClass="required-field" id="idOtxtBlockReasonLbl"/>
									</td>
									<td><h:outputText id="idOtxtBlockReason"
											value="#{scheduleMgmtBean.motiveDescripcion}" 
											disabled="true" style="text-transform:uppercase;" />
									</td>
								</tr>
								<tr>
					               <td class="td-label-default">
						              <h:outputText value="#{msgs['system.lbl.motive.description']}" styleClass="required-field"
						                    rendered="#{scheduleMgmtBean.scheduleSession.blockOtherMotive != null}"/>
					               </td>
					               <td><h:outputText
							                value="#{scheduleMgmtBean.scheduleSession.blockOtherMotive}" 
							                rendered="#{scheduleMgmtBean.scheduleSession.blockOtherMotive != null}"
							                disabled="true" style="text-transform:uppercase;" />
					               </td>						               
				                </tr>
				                <tr>					                
				                	<td class="td-label-default">
										<h:outputText value="#{msgs['system.lbl.unblockmotive']}" styleClass="required-field" id="idOtxtUnBlockReasonLbl"/>
									</td>
									<td><h:outputText id="idOtxtUnBlockReason"
											value="#{scheduleMgmtBean.motiveunBlockDescripcion}"
											disabled="true" style="text-transform:uppercase;" />
									</td>
				                </tr>
								<tr>	
				                    <td class="td-label-default">
						                <h:outputText value="#{msgs['system.lbl.motive.description']}" styleClass="required-field"
						                    rendered="#{scheduleMgmtBean.scheduleSession.unblockOtherMotive != null}"/>
					                </td>
					                <td><h:outputText value="#{scheduleMgmtBean.scheduleSession.unblockOtherMotive}" 
							               rendered="#{scheduleMgmtBean.scheduleSession.unblockOtherMotive != null}"
							               disabled="true" style="text-transform:uppercase;" />
					                </td>
				                </tr>
			                </table>
						</td>
						<td>
							<p:fieldset legend="#{msgs['schedule.horario']}">
								<p:panelGrid styleClass="centerContent" id="specificaGrid">
									<p:row id="monrowId">
											<p:column styleClass="content-center" id="idClmDetailColDay">#{msgs['schedule.detail.col.day']}
											</p:column>
											<p:column 
											id="clmInicio" styleClass="content-center">#{msgs['schedule.detail.col.time.start']}</p:column>
											<p:column 
											id="clmFin" styleClass="content-center">#{msgs['schedule.detail.col.time.end']}</p:column>
										</p:row>
										<p:row id="idRowMonday">
											<p:column styleClass="content-center" width="80" id="idClmMonday">#{msgs['schedule.lunes']}</p:column>
											<p:column id="monclmInicio" styleClass="content-center" width="80">
												 <p:calendar value="#{scheduleMgmtBean.scheduleDetailMon.initialDate}"  id="idCalMonInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="monclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailMon.endDate}" id="idCalMonEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowTuesDay">
											<p:column styleClass="content-center" width="80" id="idClmTuesDay">#{msgs['schedule.martes']}</p:column>
											<p:column id="tueclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailTue.initialDate}"  id="idCalTueInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="tueclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailTue.endDate}" id="idCalTueEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>

											</p:column>
										</p:row>
										<p:row id="idRowWednesDay">
											<p:column styleClass="content-center" width="80" id="idClmWednesDay">#{msgs['schedule.miercal']}</p:column>
											<p:column id="wedclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailWed.initialDate}" id="idCalWedInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="wedclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailWed.endDate}"  id="idCalWedEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowThursDay">
											<p:column styleClass="content-center" width="80" id="idClmThursDay">#{msgs['schedule.jueves']}</p:column>
											<p:column id="thuclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailThu.initialDate}" id="idCalThuInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="thuclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailThu.endDate}" id="idCalThuEndDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowFriDay">
											<p:column styleClass="content-center" width="80" id="idClmFriDay">#{msgs['schedule.viernes']}</p:column>
											<p:column id="friclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailFri.initialDate}"  id="idCalFriInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="friclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailFri.endDate}" id="idCalFriEndDate" 
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowSatDay">
											<p:column styleClass="content-center" width="80" id="idClmSatDay">#{msgs['schedule.sabado']}</p:column>
											<p:column id="satclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailSat.initialDate}"  id="idCalSatInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="satclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailSat.endDate}" id="idCalSatEndDate" 
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
										<p:row id="idRowSunDay">
											<p:column styleClass="content-center" width="80" id="idClmSunDay">#{msgs['schedule.domingo']}</p:column>
											<p:column id="sunclmInicio" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailSun.initialDate}"  id="idCalSunInitialDate"
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
											<p:column id="sunclmFinal" styleClass="content-center" width="80">
												<p:calendar value="#{scheduleMgmtBean.scheduleDetailSun.endDate}" id="idCalSunEndDate" 
													pattern="#{msgs.timeFormat}" readonlyInput="true" timeOnly="true"  size="5" disabled="true">
												</p:calendar>
											</p:column>
										</p:row>
								</p:panelGrid>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<p:outputPanel id="opnlMesaggeResumen" style="display: none;">
								<p:messages id="msgResumen" />
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="4">
							<p:commandButton id="idCmdBtnBack" value="#{msgs['btn.back']}" immediate="true" action="mainAdministrarHorarioRule" icon="fa fa-undo"/>
						</td>
					</tr>
				</table>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>
</html>