<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmManagementInchargeRequest');
});
</script>
<h:outputText value="#{gmsgs['inegotiations.assignmentrequest.detail.title']}" styleClass="title-page" />
<h:form id="frmManagementInchargeRequest">
	<table width="100%">
		<tr>
			<td width="100%">
			<p:fieldset id="fldsOperationData" legend="#{msgs['lbl.manage.incharge.view.panel.operation']}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.manage.incharge.view.mechanism']}"/>
				</td>
				<td width="30%">
					<p:selectOneMenu disabled="true" value="#{managementInChargeMgmtBean.mechanismOperation.mechanisnModality.id.idNegotiationMechanismPk}">
						<f:selectItem itemLabel="#{managementInChargeMgmtBean.mechanismOperation.mechanisnModality.negotiationMechanism.mechanismName}"/>
		     		</p:selectOneMenu>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.manage.incharge.view.modality']}"/>
				</td>
				<td width="30%">
					<p:selectOneMenu disabled="true" value="#{managementInChargeMgmtBean.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}">
						<f:selectItem itemLabel="#{managementInChargeMgmtBean.mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
		     		</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.operationNumber']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.operationNumber}" disabled="true"
						styleClass="content-right" size="10"/>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.operationDate']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.operationDate}" 
						disabled="true" size="10">
						<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
					</p:inputText>
				</td>				
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.ballotNumber']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.ballotNumber}" disabled="true"
						styleClass="content-right" size="20" />
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.sequential']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.sequential}" disabled="true"  
						styleClass="content-right" size="5" >
					</p:inputText>
				</td>				
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['security.lbl.code']}"/>
				</td>
				<td colspan="3">
				
					<h:panelGrid columns="4">
						<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.securities.idSecurityCodePk}" maxlength="12" 
								 	 disabled="true" required="true"> 
						</p:inputText>
						<p:commandButton value="..." disabled="true"/>
						<p:inputText size="60" value="#{managementInChargeMgmtBean.mechanismOperation.securities.description}" disabled="true"/>
						<ark:securities-help securityCode="#{managementInChargeMgmtBean.mechanismOperation.securities.idSecurityCodePk}"/>
					</h:panelGrid>
				</td>				
			</tr>				
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.settlementDate']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.cashSettlementDate}"
						disabled="true" size="10">
						<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.amount']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.cashSettlementAmount}" disabled="true"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
			</tr>
			<tr>				
				<td>
					<h:outputText value="#{msgs['lbl.operation.cash.settlementPrice']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.cashSettlementPrice}" disabled="true"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.term.settlementPrice']}" 
						rendered="#{managementInChargeMgmtBean.mechanismOperation.termSettlementPrice != null}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.termSettlementPrice}" disabled="true"
						rendered="#{managementInChargeMgmtBean.mechanismOperation.termPrice != null}"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.stockQuantity']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.stockQuantity}" disabled="true"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.currency']}"/>
				</td>
				<td>
					<p:inputText value="#{managementInChargeMgmtBean.mechanismOperation.currencyDescription}" 
						disabled="true" size="30"/>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:fieldset id="fldInChargeData" legend="#{msgs['lbl.manage.incharge.view.panel.incharge']}">
			<table width="100%">
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.participantIncharge.stock']}"/>
				</td>
				<td colspan="3">
					<p:selectOneMenu value="#{managementInChargeMgmtBean.holderAccountOperation.inchargeStockParticipant.idParticipantPk}"
						disabled="true" style="width:500px">
						<f:selectItem itemLabel="#{managementInChargeMgmtBean.holderAccountOperation.inchargeStockParticipant.displayDescriptionCode}"/>					
					</p:selectOneMenu>					
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.participantIncharge.funds']}"/>
				</td>
				<td colspan="3">
					<p:selectOneMenu value="#{managementInChargeMgmtBean.holderAccountOperation.inchargeFundsParticipant.idParticipantPk}"
						disabled="true" style="width:500px">
						<f:selectItem itemLabel="#{managementInChargeMgmtBean.holderAccountOperation.inchargeFundsParticipant.displayDescriptionCode}"/>					
					</p:selectOneMenu>					
				</td>
			</tr>
			<tr>				
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.participantTrader']}" />
				</td>
				<td colspan="3">
					<p:selectOneMenu value="#{(managementInChargeMgmtBean.holderAccountOperation.role eq 1)?
						managementInChargeMgmtBean.mechanismOperation.buyerParticipant.idParticipantPk:
						managementInChargeMgmtBean.mechanismOperation.sellerParticipant.idParticipantPk}"
						disabled="true" style="width:500px">
						<f:selectItem itemLabel="#{(managementInChargeMgmtBean.holderAccountOperation.role eq 1)?
						managementInChargeMgmtBean.mechanismOperation.buyerParticipant.displayDescriptionCode:
						managementInChargeMgmtBean.mechanismOperation.sellerParticipant.displayDescriptionCode}"/>			
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.role']}" />
				</td>
				<td>
					<p:selectOneMenu value="#{managementInChargeMgmtBean.holderAccountOperation.role}" disabled="true">
						<f:selectItems value="#{managementInChargeMgmtBean.searchAssignmentRequestTO.lstRoles}"
							var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					</p:selectOneMenu>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.view.incharge.state']}"/>
				</td>
				<td>
					<p:selectOneMenu value="#{managementInChargeMgmtBean.holderAccountOperation.inchargeState}" disabled="true">
						<f:selectItems 	value="#{managementInChargeMgmtBean.searchAssignmentRequestTO.lstStates}" 
							var="paramterTab" itemValue="#{paramterTab.parameterTablePk}" itemLabel="#{paramterTab.parameterName}"/>			
					</p:selectOneMenu>
				</td>
			</tr>
			<p:outputPanel rendered="#{managementInChargeMgmtBean.blView}">
			<tr>
				<td>
					<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
					<ark:holderHelper disabled="true" holder="#{managementInChargeMgmtBean.holder}"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{gmsgs['account.lbl.code']}"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
					<ark:accountHelper id="accountHelper" disabled="true" holderAccount="#{managementInChargeMgmtBean.holderAccount}"
						participant="#{managementInChargeMgmtBean.holderAccountOperation.inchargeStockParticipant.idParticipantPk}"/>
					</h:panelGrid>
				</td>
			</tr>
			</p:outputPanel>
			<p:outputPanel rendered="#{managementInChargeMgmtBean.blConfirm}">
			<tr>
				<td>
					<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
					<ark:holderHelper id="holderHelper" holder="#{managementInChargeMgmtBean.holder}"
						participant="#{managementInChargeMgmtBean.holderAccountOperation.inchargeStockParticipant.idParticipantPk}"
						required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator" 
						remoteListener="updateField()" label="#{gmsgs['holder.lbl.code']}"/>
					<p:remoteCommand name="updateField" actionListener="#{managementInChargeMgmtBean.validateHolder}" 
						update=":frmManagementInchargeRequest:holderHelper:outpnlHolder msgHolder opnlHolderAccount opnlListHolderAccount" process="@this"/>								
					<p:message for=":frmManagementInchargeRequest:holderHelper:holderHelper" display="icon" id="msgHolder"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="opnlHolderAccount">
					<h:outputText value="#{gmsgs['account.lbl.code']} (*)" styleClass="required-field" 
						rendered="#{not empty managementInChargeMgmtBean.lstHolderAccount}"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<p:outputPanel id="opnlListHolderAccount">
					<p:dataTable var="holderAccount" value="#{managementInChargeMgmtBean.lstHolderAccount}"
						rendered="#{not empty managementInChargeMgmtBean.lstHolderAccount}"
						rowKey="#{holderAccount.idHolderAccountPk}" 
						selection="#{managementInChargeMgmtBean.holderAccount}">
						<p:column selectionMode="single" styleClass="content-center"/>
						<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.number']}" styleClass="content-center">
							<h:outputText value="#{holderAccount.accountNumber}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.alternate']}" styleClass="content-center">
							<h:outputText value="#{holderAccount.alternateCode}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.type']}" styleClass="content-center">
							<h:outputText value="#{holderAccount.accountDescription}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.description']}">
							<h:outputText value="#{holderAccount.accountRntAndDescription}" escape="false"/>
						</p:column>
						<p:ajax process="@this" event="rowSelectRadio" listener="#{managementInChargeMgmtBean.validateSameHolder}"
							update="@this"/>
					</p:dataTable>
					</p:outputPanel>
				</td>
			</tr>
			</p:outputPanel>
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.manage.incharge.view.incharge.stockQuantity']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{managementInChargeMgmtBean.holderAccountOperation.stockQuantity}" disabled="true"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</p:inputText>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.manage.incharge.view.incharge.amount']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{managementInChargeMgmtBean.holderAccountOperation.settlementAmount}" disabled="true"
						styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>						
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<p:outputPanel id="opnlMarketFactReg">
			<p:fieldset legend="#{msgs['lbl.assignment.account.marketfact.panel']}" rendered="#{managementInChargeMgmtBean.blMarketFact}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.marketfact.marketdate']} (*)" styleClass="required-field"/>
				</td>
				<td width="30%">
					<h:panelGrid columns="2"> 
						<p:calendar size="10" id="txtMarketFacDate" maxdate="#{managementInChargeMgmtBean.currentSystemDate}"
							disabled="#{managementInChargeMgmtBean.blView}"
							navigator="true" value="#{managementInChargeMgmtBean.accountOperationMarketFact.marketDate}"
							pattern="#{gmsgs['calendar.date.format']}" showOn="both" readonlyInput="true"/>
					</h:panelGrid>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.marketfact.marketrate']} (*)" styleClass="required-field" 
						rendered="#{managementInChargeMgmtBean.blFixedIncome}"/>
					<h:outputText value="#{msgs['lbl.assignment.account.marketfact.marketprice']} (*)" styleClass="required-field"
						rendered="#{!managementInChargeMgmtBean.blFixedIncome}"/>
				</td>
				<td width="30%">
					<h:panelGrid columns="2" rendered="#{!managementInChargeMgmtBean.blFixedIncome}">
						<p:inputNumber value="#{managementInChargeMgmtBean.accountOperationMarketFact.marketPrice}"
							disabled="#{managementInChargeMgmtBean.blView}"
							id="txtPrice" style="text-align: right; width:200px !important;" label="#{msgs['lbl.assignment.account.marketfact.marketprice']}"
							decimalSeparator="." thousandSeparator="," decimalPlaces="8" maxValue="999999999999.99999999">
							<p:ajax update="@this msgPrice" process="@this" event="change" global="false"/>
						</p:inputNumber> 
						<p:message for="txtPrice" id="msgPrice" display="icon" />
					</h:panelGrid>
					<h:panelGrid columns="2" rendered="#{managementInChargeMgmtBean.blFixedIncome}">
						<p:inputNumber value="#{managementInChargeMgmtBean.accountOperationMarketFact.marketRate}"
							disabled="#{managementInChargeMgmtBean.blView}"							 
							id="txtRate" style="text-align: right; width:200px !important;" label="#{msgs['lbl.assignment.account.marketfact.marketrate']}"
							decimalSeparator="." thousandSeparator="," decimalPlaces="4" maxValue="999999999999.9999">
							<p:ajax update="@this msgRate" process="@this" event="change" global="false"/>
						</p:inputNumber> 
						<p:message for="txtRate" id="msgRate" display="icon" />
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.assignment.account.marketfact.quantity']} (*)" styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:inputText styleClass="content-right" id="txtOperationQuantity" label="#{msgs['lbl.assignment.account.marketfact.quantity']}"
						disabled="#{managementInChargeMgmtBean.blView}" 
						maxlength="#{fn:length(managementInChargeMgmtBean.holderAccountOperation.stockQuantity.toString())}"
						value="#{managementInChargeMgmtBean.accountOperationMarketFact.operationQuantity}">
						<p:keyFilter mask="pint"/>
						<p:ajax process="@this" update="@this msgOperationQuantity" global="false" event="change"/>	
					</p:inputText>
					<p:message for="txtOperationQuantity" display="icon" id="msgOperationQuantity"/>
					</h:panelGrid>
				</td>						
			</tr>
			<tr>
				<td align="center" colspan="4">
					<p:commandButton value="#{gmsgs['btn.add']}" icon="ui-add" process="frmManagementInchargeRequest:opnlMarketFactReg"
						disabled="#{managementInChargeMgmtBean.blView}"
						update=":frmManagementInchargeRequest:opnlMarketFactReg" actionListener="#{managementInChargeMgmtBean.addMarketFact}"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<p:outputPanel id="opnlMarketFact">
					<p:dataTable var="accountOperationMarketfact" value="#{managementInChargeMgmtBean.holderAccountOperation.accountOperationMarketFacts}"
						rendered="#{not empty managementInChargeMgmtBean.holderAccountOperation.accountOperationMarketFacts}"
						rowKey="#{accountOperationMarketfact.rowKey}">
						<p:column headerText="#{msgs['lbl.assignment.account.marketfact.marketdate']}" styleClass="content-center">
							<h:outputText value="#{accountOperationMarketfact.marketDate}">
								<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.marketfact.marketprice']}" styleClass="content-right" rendered="#{!managementInChargeMgmtBean.blFixedIncome}">
							<h:outputText value="#{accountOperationMarketfact.marketPrice}">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.marketfact.marketrate']}" styleClass="content-right" rendered="#{managementInChargeMgmtBean.blFixedIncome}">
							<h:outputText value="#{accountOperationMarketfact.marketRate}">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.market.rate']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.marketfact.quantity']}" styleClass="content-right">
							<h:outputText value="#{accountOperationMarketfact.operationQuantity}">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['lbl.assignment.account.marketfact.remove']}" styleClass="content-center"
							rendered="#{managementInChargeMgmtBean.blConfirm}">
							<p:commandLink actionListener="#{managementInChargeMgmtBean.removeMarketFact(accountOperationMarketfact)}"
								process="@this" update=":frmManagementInchargeRequest:opnlMarketFact">
								<p:graphicImage library="img" style="cursor:pointer; border:none;"
						        	name="buttons/remove.png"/>
							</p:commandLink>
						</p:column>					
					</p:dataTable>
					</p:outputPanel>
				</td>
			</tr>
			</table>
			</p:fieldset>
			<p:fieldset legend="#{msgs['lbl.assignment.account.marketfact.quantity']}" rendered="#{not empty managementInChargeMgmtBean.holderAccountOperation.motiveReject}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.header']}"/>
				</td>
				<td width="80%">
					<h:panelGrid columns="2"> 
						<p:selectOneMenu value="#{managementInChargeMgmtBean.holderAccountOperation.motiveReject}" disabled="true">
							<f:selectItems value="#{managementInChargeMgmtBean.lstRejectMotive}"
								var="motive" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}"/>
						</p:selectOneMenu>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.assignment.account.other']}" rendered="#{managementInChargeMgmtBean.blOthersMotive}"/>
				</td>
				<td>
					<h:panelGrid columns="2" rendered="#{managementInChargeMgmtBean.blOthersMotive}"> 
						<p:inputTextarea size="60" cols="50" rows="5" value="#{managementInChargeMgmtBean.holderAccountOperation.comments}"
							maxlength="150" disabled="true"/>	
					</h:panelGrid>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
			
			</td>
		</tr>
		<tr>
			<td align="center" width="100%">
				<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-approve" 
					rendered="#{managementInChargeMgmtBean.blConfirm}" actionListener="#{managementInChargeMgmtBean.beforeAction}" 
					update="@form"/>
				<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="outPnlDialogs"
					process="@this" rendered="#{managementInChargeMgmtBean.blReject}" 
					actionListener="#{managementInChargeMgmtBean.beforeAction}"/>
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"	update="outPnlDialogs"
					action="searchAssignmentRequest" process="@this"
					onclick="if(isModifiedFormForBack(this))return false;"/>
			</td>
		</tr>
	</table>	
<!-- Dialog -->
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" 
	header="#{headerMessageView}" closable="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{managementInChargeMgmtBean.doAction}"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false"> 
	<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" action="searchAssignmentRequest"
        value="#{gmsgs['btn.accept']}"/>
</p:confirmDialog>
<p:confirmDialog id="cnfBackMotive" message="#{bodyMessageView}" severity="alert"
	header="#{headerMessageView}" widgetVar="cnfwBackMotive" closable="false">
	<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
		process="@this" oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();"/>
	<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" process="@this"
		oncomplete="PF('cnfwBackMotive').hide()"/>
</p:confirmDialog>
</p:outputPanel>
</h:form>

<h:form id="frmManagementInchargeMotive">
<p:dialog id="dialogMotive" resizable="false" draggable="false" closable="false" modal="true"
	header="#{gmsgs['lbl.header.alert.motiveReject']}" severity="alert" widgetVar="dlgMotive" position="center">                 
    <p:outputPanel id="opnlMotive">
    
	<table width="100%">
	<tr>
		<td width="20%">
			<h:outputText value="Motivo (*)" styleClass="required-field"/>
		</td>
		<td width="80%">
			<h:panelGrid columns="2">
			<p:selectOneMenu id="cboReject"	value="#{managementInChargeMgmtBean.holderAccountOperation.motiveReject}"
				label="#{msgs['lbl.motive']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems value="#{managementInChargeMgmtBean.lstRejectMotive}"
					var="motive" itemValue="#{motive.parameterTablePk}" itemLabel="#{motive.parameterName}"/>
					<p:ajax event="change" update="opnlMotive" process="@this" global="false" 
						listener="#{managementInChargeMgmtBean.changeRejectMotive()}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			</p:selectOneMenu>
			<p:message display="icon" for="cboReject" id="msgReject"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>				
			<h:outputText value="Otros (*)" styleClass="required-field" 
				rendered="#{managementInChargeMgmtBean.blOthersMotive}"/>				
		</td>
		<td>
			<h:panelGrid columns="2" rendered="#{managementInChargeMgmtBean.blOthersMotive}">
			<p:inputTextarea size="60" cols="50" rows="5" value="#{managementInChargeMgmtBean.holderAccountOperation.comments}"
				maxlength="150" label="Otros" id="txtOthers">
				<p:ajax update="@this msgOthers" process="@this"/>
				<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
			</p:inputTextarea>			
			<p:message display="icon" for="txtOthers" id="msgOthers"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{managementInChargeMgmtBean.doReject()}"
				update="opnlMotive :frmManagementInchargeRequest:cnfIdCAskDialog"/>
        	<p:commandButton value="#{gmsgs['btn.back']}" process="@this" icon="fa fa-undo" update="opnlMotive :frmManagementInchargeRequest:cnfBackMotive"
         		actionListener="#{managementInChargeMgmtBean.validateBack()}"/>
		</td>
	</tr>
	</table>		
    </p:outputPanel>    
</p:dialog>
</h:form>

</ui:define>
</ui:composition>
</html>