<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"	
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<h:outputText value="#{msgs['opt.issuance.bal.mov.query.title']}"  styleClass="title-page"/>
			<p:outputPanel>
			<h:form id="frmGeneral">
			<table width="100%">
				<tr>
					<td>
					<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsSearch">
						<p:outputPanel id="pnlSearchIssuanceBalMov">
						<table width="100%">
							<tr>
								<td width="100">
									<h:outputText value="#{gmsgs['security.helper.issuer']} (*)" styleClass="required-field"/>
								</td>
								<td colspan="3">
									<p:outputPanel id="pnlIssuerComponent">
										<table>
											<tr>
												<td>
													<ark:issuerHelper id="issuerHelper" issuer="#{issuanceBalanceMovementQueryBean.issuerRequest}" required="true"
													validatorName="com.pradera.commons.view.validators.InputTextValidator"
													disabled="#{userInfo.userAccountSession.issuerInstitucion and userInfo.userAccountSession.issuerCode != null}"
													label="#{gmsgs['security.helper.issuer']}" remoteListener="rmtIssuer()">		
													</ark:issuerHelper>
												</td>
												<td>
													<p:message id="msgIssuerHelper" for=":frmGeneral:issuerHelper:issuerHelper" display="icon" />
												</td>
											</tr>
										</table>
									</p:outputPanel>
																											
									<p:remoteCommand name="rmtIssuer" immediate="true" process="@this"
													 update="pnlIssuerComponent pnlIssuanceComponent pnlAmounts pnlIssuanceMovements"
													 actionListener="#{issuanceBalanceMovementQueryBean.cleanIssuerHandler}">
									</p:remoteCommand>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['opt.issuance.bal.mov.issuance']}"/>
								</td>
								<td colspan="3">
									<p:outputPanel id="pnlIssuanceComponent">
									<table>
										<tr>
											<td>
												<ark:issuanceHelper id="issuanceHelper" issuer="#{issuanceBalanceMovementQueryBean.issuerRequest}" 
													validatorName="com.pradera.commons.view.validators.InputTextValidator" label="#{issuanceBalanceMovementQueryBean.issuerRequest}"
													issuance="#{issuanceBalanceMovementQueryBean.issuanceRequest}"
													disabled="#{issuanceBalanceMovementQueryBean.issuerRequest eq null or empty issuanceBalanceMovementQueryBean.issuerRequest.idIssuerPk}"
													remoteListener="rmtIssuance()">
												</ark:issuanceHelper> 
											</td>
											<td>
												<p:message id="msgIssuanceHelper" for=":frmGeneral:issuanceHelper:issuanceHelper" display="icon" />
											</td>
										</tr>
									</table>
										  	  
										 
									<p:remoteCommand name="rmtIssuance" actionListener="#{issuanceBalanceMovementQueryBean.searchIssuanceHandler}" 
													 immediate="true" process="@this" update="pnlIssuanceComponent pnlAmounts pnlIssuanceMovements">
									</p:remoteCommand>
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['opt.issuance.bal.mov.initialdate']} (*)" styleClass="required-field"/>
								</td>
								<td width="300">
									<table>
										<tr>
											<td>
												<p:calendar value="#{issuanceBalanceMovementQueryBean.issuanceBalanceMovTO.initialDate}" id="calInitialDate" showOn="both" readonlyInput="true" navigator="true"
												pattern="#{msgs['dateFormat']}" maxdate="#{issuanceBalanceMovementQueryBean.issuanceBalanceMovTO.finalDate}"
												size="10">
													<p:ajax update="calEndDate" event="dateSelect" global="false"/>
												</p:calendar>
											</td>
										</tr>
									</table>									
								</td>
								<td width="100">
									<h:outputText value="#{msgs['opt.issuance.bal.mov.finaldate']} (*)" styleClass="required-field"/>
								</td>
								<td> 
									<p:calendar value="#{issuanceBalanceMovementQueryBean.issuanceBalanceMovTO.finalDate}" id="calEndDate" showOn="both" readonlyInput="true" navigator="true"  
												mindate="#{issuanceBalanceMovementQueryBean.issuanceBalanceMovTO.initialDate}" pattern="#{msgs['dateFormat']}" size="10">
										<p:ajax update="calInitialDate" event="dateSelect" global="false"/>
									</p:calendar>
								</td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" update="pnlSearchIssuanceBalMov pnlAmounts pnlIssuanceMovements :opnlGenericDialogs" 
													 actionListener="#{issuanceBalanceMovementQueryBean.searchIssuanceBalanceMovemHandler}"/>
									<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" update="@form" process="@this"
													 actionListener="#{issuanceBalanceMovementQueryBean.cleanAllDataFormHandler}"/>
								</td>
							</tr>
						</table>
						</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="pnlAmounts">
						<p:fieldset rendered="#{not empty issuanceBalanceMovementQueryBean.issuanceBalMovSessionList}" legend="#{msgs['opt.issuance.bal.mov.amounts']}">
							<p:dataTable id="dtbResultAmounts" var="amount" style="padding-right:0px !important;"
										 value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSessionList}"  
							    		 paginator="true" rows="5" paginatorPosition="top"
										 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
								<p:column headerText="#{msgs['opt.issuance.bal.mov.issuanceamount']}" styleClass="content-center">
									<h:outputText value="#{amount.issuanceAmount}">
										<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.amountplaced']}" styleClass="content-center">
									<h:outputText value="#{amount.amountPlaced}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>									
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.amountByplace']}" styleClass="content-center">
									<h:outputText value="#{amount.amountByPlaced}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>									
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.amortiz']}" styleClass="content-left">
									<h:outputText value="#{amount.amountAmortization}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>									
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.byamortiz']}" styleClass="content-left">
									<h:outputText value="#{amount.amountByAmortization}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>									
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.interespayment']}" styleClass="content-center">
									<h:outputText value="#{amount.interestPayment}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.issuance']}" styleClass="content-center">
									<h:outputText value="#{amount.idIssuancePk}">
									</h:outputText>
								</p:column>
							</p:dataTable>						
						<ui:remove>
						<table width="100%">
							<tr>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
										<f:facet name="header">
										  	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.issuanceamount']}"/>
										</f:facet>
										<h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.issuanceAmount}">
											<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
										</h:outputLabel> 
									</p:panelGrid>	
								</td>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
									    <f:facet name="header">
									    	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.amountplaced']}"/>
									    </f:facet>
									    <h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.amountPlaced}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									    </h:outputLabel> 
									</p:panelGrid>								
								</td>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
									    <f:facet name="header">
									    	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.amountByplace']}"/>
									    </f:facet>
									    <h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.amountByPlaced}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									    </h:outputLabel> 
									</p:panelGrid>								
								</td>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
									    <f:facet name="header">
									    	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.amortiz']}"/>
									    </f:facet>
									    <h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.amountAmortization}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									    </h:outputLabel> 
									</p:panelGrid>								
								</td>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
									    <f:facet name="header">
									    	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.byamortiz']}"/>
									    </f:facet>
									    <h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.amountByAmortization}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									    </h:outputLabel> 
									</p:panelGrid>								
								</td>
								<td width="16%">
									<p:panelGrid columns="1" style="width:100%;text-align:right">  
									    <f:facet name="header">
									    	<h:outputLabel value="#{msgs['opt.issuance.bal.mov.interespayment']}"/>
									    </f:facet>
									    <h:outputLabel value="#{issuanceBalanceMovementQueryBean.issuanceBalMovSession.interestPayment}">
									    	<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									    </h:outputLabel> 
									</p:panelGrid>								
								</td>
							</tr>
						</table>
						</ui:remove>
						</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="pnlIssuanceMovements">
						<p:fieldset rendered="#{issuanceBalanceMovementQueryBean.issuanceBalMovResDetail ne null}" legend="#{msgs['opt.issuance.bal.mov.movements']}">						
							<p:dataTable id="dtbResult" var="mov" style="padding-right:0px !important;"
										 value="#{issuanceBalanceMovementQueryBean.issuanceBalMovResDetail}"  
										 rendered="#{issuanceBalanceMovementQueryBean.issuanceBalMovResDetail.rowCount > 0}"  
							    		 paginator="true" rows="5" paginatorPosition="top"
										 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
								<p:column headerText="#{msgs['opt.issuance.bal.mov.movdate']}" styleClass="content-center">
									<h:outputText value="#{mov.movementDate}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.nrooperation']}" styleClass="content-center">
									<h:outputText value="#{mov.operationNumber}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.security.code']}" styleClass="content-center">
									<h:outputText value="#{mov.isinCode}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.security.description']}" styleClass="content-left">
									<h:outputText value="#{mov.isinDescription}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.movement']}" styleClass="content-left">
									<h:outputText value="#{mov.movementDescription}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.amount']}">
									<h:outputText value="#{mov.amountOperation}">
										<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.nomvalue']}">
									<h:outputText value="#{mov.nominalValue}">
										<f:convertNumber pattern="#,##0.00" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.quantity']}" styleClass="content-center">
									<h:outputText value="#{mov.securityQuantity}">
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['opt.issuance.bal.mov.issuance']}" styleClass="content-center">
									<h:outputText value="#{mov.idIssuancePk}">
									</h:outputText>
								</p:column>
							</p:dataTable>
							<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{issuanceBalanceMovementQueryBean.issuanceBalMovResDetail.rowCount lt 1}"/>
						</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
			</h:form>
        </p:outputPanel>
		</ui:define>
	</ui:composition>
</html>