<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
    xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	<!-- xmlns:ark="http://java.sun.com/jsf/composite/helpers" -->
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<h:outputText value="#{msgs['monitor.system.process.title']}" styleClass="title-page"  id="idOtxtTvrSearchTitle"/>
		<h:form id="monitoringForm">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['monitor.system.process.title']}"  id="searchFilters">
							<table width="100%" border="0">
								<tr  style="height:10px;"></tr>
								<tr>
									<td>
										<h:outputText id="dateIni"
											value="Fecha de Busqueda  (*)" 
											styleClass="required-field"/>
									</td>
									<td >
										<p:calendar  id="txtBeginDate" styleClass="required-field" 
											value="#{monitorProcessesBean.dateSearch}" disabled="true"
											showOn="both" pattern="dd/MM/yyyy" maxlength="10"
											navigator="true" readonlyInput="true" size="10">
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="6" align="center">
										<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" id="btnSearch"
											actionListener="#{monitorProcessesBean.executedSearchProcesses}"
											update="searchResultField"/>
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  id="btnClean"
											actionListener="#{monitorProcessesBean.cleanSearchPage}"
											process="@this" update="@form"/>
									</td>
								</tr>
							</table>
					</p:fieldset>
				</td>
				</tr>
				<tr >
					<td>
						<p:fieldset legend="Resultados" id="searchResultField">
							<p:panelGrid style="width:100%" id="results">
								<f:facet name="header">
        							<p:row >
        								<p:column style="height:25px;">
					        				<h:outputText value="Id"/>
					        			</p:column>
					        			<p:column>
					        				<h:outputText value="#{msgs['lbl.name.procces']}"/>
					        			</p:column>
					        			<p:column>
					        				<h:outputText value="#{msgs['lbl.start.procces']}"/>
					        			</p:column>
					        			<p:column>
					        				<h:outputText value="#{msgs['lbl.star.date']}"/>
					        			</p:column>
					        			<p:column>
					        				<h:outputText value="#{msgs['lbl.end.date']}"/>
					        			</p:column>
					        			<p:column>
					        				<h:outputText value="#{msgs['lbl.progress']}"/>
					        			</p:column>
					        		</p:row>
						        </f:facet>
						        <!-- Cierre de Dia de Fondos -->
						        <p:row id="idCloseBusinessDay">
						        	<p:column>
						        		<h:outputText value="1" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="Inicio de dia"/> 
							        </p:column>
							        <p:column>
							        <p:commandButton  value="#{msgs['lbl.start']}" 
							        	style="width:100px;"
								        actionListener="#{monitorProcessesBean.exeCloseBusinessDay}"
								        update="searchResultField" 
								        disabled="#{monitorProcessesBean.closeBusinessDayLog.processStatus eq 1366 ? true:false}"
								        immediate="true"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.closeBusinessDayLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.closeBusinessDayLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.closeBusinessDayLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- Reversion de Operaciones de Custodia-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="2" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.reversion.custody.operations']}" /> 
							        </p:column>
							        <p:column>
							        <p:commandButton value="#{msgs['lbl.start']}" 
							        	update="searchResultField" 
								        immediate="true"
							        	style="width:100px;"
							        	disabled="#{monitorProcessesBean.closeBusinessDayLog.processStatus eq 1366 ? 
							        	monitorProcessesBean.custodyOperationLog.processStatus eq 1366 ? true:false
							        	:true}"
								        actionListener="#{monitorProcessesBean.exeProccesCustodyOp}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.custodyOperationLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.custodyOperationLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.custodyOperationLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- 3.- Reversion de operaciones extrabursatil -->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="3" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.Reversion.of.otc.transactions']}" /> 
							        </p:column>
							        <p:column>
							        <p:commandButton value="#{msgs['lbl.start']}"  
							             update="searchResultField" 
								         immediate="true" style="width:100px;"
								         disabled="#{monitorProcessesBean.custodyOperationLog.processStatus eq 1366 ? 
								         monitorProcessesBean.reversalOperacionsExtLog.processStatus eq 1366 ? true:false
								         :true}"
								         actionListener="#{monitorProcessesBean.exeProccesReversalOp}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.reversalOperacionsExtLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.reversalOperacionsExtLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.reversalOperacionsExtLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- 4.- Vencimiento de CATS -->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="4" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.expiration.of.certificates']}" /> 
							        </p:column>
							        <p:column>
							        <p:commandButton value="#{msgs['lbl.start']}" 
							      		 update="searchResultField" 
								         immediate="true" style="width:100px;"
								         disabled="#{monitorProcessesBean.reversalOperacionsExtLog.processStatus eq 1366 ? 
								         monitorProcessesBean.expirationCatsLog.processStatus eq 1366 ? true:false
								         :true}"
								         actionListener="#{monitorProcessesBean.executeProccesExpirationCats}"/>
								    </p:column>
							         <p:column>
							        	<h:outputText value="#{monitorProcessesBean.expirationCatsLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.expirationCatsLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.expirationCatsLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						       <!-- 5.- Vencimiento de DPFs -->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="5" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.expiration.of.dpfs']}" /> 
							        </p:column>
							        <p:column>
							        <p:commandButton value="#{msgs['lbl.start']}" 
							        	update="searchResultField" 
								        immediate="true" style="width:100px;" 
								        disabled="#{monitorProcessesBean.expirationCatsLog.processStatus eq 1366 ? 
								        monitorProcessesBean.expirationDpfsLog.processStatus eq 1366 ? true:false
								        :true}"
								        actionListener="#{monitorProcessesBean.executeProccesExpirationDpfs}"/>
								    </p:column>
							         <p:column>
							        	<h:outputText value="#{monitorProcessesBean.expirationDpfsLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.expirationDpfsLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							         <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.expirationDpfsLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- 6.- Ejecucion Preliminar de Coorporativos*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="6" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.preliminary.execution.of.corporative']}" /> 
							        </p:column>
							        <p:column >
								        <p:commandButton value="#{msgs['lbl.start']}" 
								            update="searchResultField" 
								            immediate="true" 
								            style="width:100px;" 
								            disabled="#{monitorProcessesBean.expirationDpfsLog.processStatus eq 1366 ? 
								            monitorProcessesBean.preliminaryExeCorporativeLog.processStatus eq 1366 ? true:false
								            :true}"
									        actionListener="#{monitorProcessesBean.exePreliminarProcces}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.preliminaryExeCorporativeLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.preliminaryExeCorporativeLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.preliminaryExeCorporativeLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- 7.- Ejecucion Definitivo de Coorporativos -->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="7" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText  value="#{msgs['lbl.final.execution.of.corporative']}" /> 
							        </p:column>
							        <p:column>
							        <p:commandButton value="#{msgs['lbl.start']}" 
							            update="searchResultField" 
								        immediate="true" style="width:100px;" 
								        disabled="#{monitorProcessesBean.preliminaryExeCorporativeLog.processStatus eq 1366 ? 
								        monitorProcessesBean.executionCorporativeLog.processStatus eq 1366 ? true:false
								        :true}"
								        actionListener="#{monitorProcessesBean.exeCorporativeFinal}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.executionCorporativeLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.executionCorporativeLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.executionCorporativeLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- 8.- Proceso de valoracion*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="8" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.valoration.procces']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton  value="#{msgs['lbl.start']}"  
							        	  update="searchResultField" 
								          immediate="true" 
								          style="width:100px;"
								          disabled="#{monitorProcessesBean.executionCorporativeLog.processStatus eq 1366 ? 
								          monitorProcessesBean.processValorationLog.processStatus eq 1366 ? true:false
								          :true}"
								          actionListener="#{monitorProcessesBean.exeValorationProcces}"/>
								    	</p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.processValorationLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.processValorationLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.processValorationLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						         <!--9.- Reporte de conciliacion diaria/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="9" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText  value="#{msgs['lbl.conciliation.report']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton  value="#{msgs['lbl.start']}"  
							        	   update="searchResultField" 
								           immediate="true" 
								           style="width:100px;"
								           disabled="#{monitorProcessesBean.processValorationLog.processStatus eq 1366 ? 
								           monitorProcessesBean.reconciliationReportLog.processStatus eq 1366 ? true:false
								           :true}"
								           actionListener="#{monitorProcessesBean.executeDailyReportConciliation}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.reconciliationReportLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.reconciliationReportLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.reconciliationReportLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!--10 /*Proceso de Contabilidad*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="10" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.accounting.process']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton value="#{msgs['lbl.start']}" 
							        	 update="searchResultField" 
								         immediate="true" 
								         style="width:100px;" 
								         disabled="#{monitorProcessesBean.reconciliationReportLog.processStatus eq 1366 ? 
								         monitorProcessesBean.accountingProcessLog.processStatus eq 1366 ? true:false
								         :true}"
							        	 actionListener="#{monitorProcessesBean.exeAccountingPro}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.accountingProcessLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.accountingProcessLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.accountingProcessLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- /*Calculo de Comisiones*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="11" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.calculation.of.commissions']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton 
							        	value="#{msgs['lbl.start']}"  
							        	update="searchResultField" 
								        immediate="true" 
								        style="width:100px;" 
								        disabled="#{monitorProcessesBean.accountingProcessLog.processStatus eq 1366 ? 
								        monitorProcessesBean.calculationCommissionsLog.processStatus eq 1366 ? true:false
								        :true}"
							        	actionListener="#{monitorProcessesBean.exeCalculationComm}"/>
								    </p:column>
							       <p:column>
							        	<h:outputText value="#{monitorProcessesBean.calculationCommissionsLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.calculationCommissionsLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.calculationCommissionsLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- /*Proceso de Valor Nominal Historico*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="12" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.process.historical.nominal']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton 
							        	value="#{msgs['lbl.start']}"  
							        	update="searchResultField" 
								        immediate="true"  
								        style="width:100px;"
								        disabled="#{monitorProcessesBean.calculationCommissionsLog.processStatus eq 1366 ? 
								        monitorProcessesBean.historicalProcessVnLog.processStatus eq 1366 ? true:false
								        :true}"
							        	actionListener="#{monitorProcessesBean.exechistoricalProcessVn}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.historicalProcessVnLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.historicalProcessVnLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.historicalProcessVnLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- /*Proceso EDV1*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="13" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.proccess.edv1']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton  value="#{msgs['lbl.start']}"  
							        	update="searchResultField" 
								        immediate="true" style="width:100px;" 
								        disabled="#{monitorProcessesBean.historicalProcessVnLog.processStatus eq 1366 ? 
								        monitorProcessesBean.processEDV1Log.processStatus eq 1366 ? true:false
								        :true}"
							        	actionListener="#{monitorProcessesBean.exeProcessEDV1}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.processEDV1Log.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.processEDV1Log.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.processEDV1Log.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
						        <!-- /*Calculo de Stock Mensual*/-->
						        <p:row >
						        	<p:column>
						        		<h:outputText value="14" /> 
						        	</p:column>
							        <p:column>
							        	<h:outputText value="#{msgs['lbl.calculation.of.monthly.stock']}" /> 
							        </p:column>
							        <p:column>
							        	<p:commandButton  value="#{msgs['lbl.start']}" 
							        	update="searchResultField" 
								        immediate="true" style="width:100px;" 
								        disabled="#{monitorProcessesBean.processEDV1Log.processStatus eq 1366 ? 
								        monitorProcessesBean.monthlyCalculationStockLog.processStatus eq 1366 ? true:false
								        :true}"
							        	actionListener="#{monitorProcessesBean.exeMonthlyCalcStock}"/>
								    </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.monthlyCalculationStockLog.startDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column>
							        	<h:outputText value="#{monitorProcessesBean.monthlyCalculationStockLog.endDate}">
							        		<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							        	</h:outputText> 
							        </p:column>
							        <p:column style="width:200px;">
							         	<p:progressBar widgetVar="pbAjax" ajax="true" 
								        	 labelTemplate="#{monitorProcessesBean.monthlyCalculationStockLog.progressDesc}" 
								        	 value="100" 
								        	 styleClass="animated ui-progressbar-value" global="false">
									    </p:progressBar>
							        </p:column>
						        </p:row>
							</p:panelGrid>
						</p:fieldset>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>