<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkButtons="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
		<p:importEnum
			type="com.pradera.model.issuancesecuritie.type.ValorizationQueryType"
			var="valorizationType" />
			
			<h:outputText value="#{msgs['opt.valueholdbalance.query.title']}"  styleClass="title-page"/>
			<p:outputPanel>
			<h:form id="frmValueHoldBalance">
			<table width="100%">
				<tr>
					<td>
					<p:fieldset id="fldsFilters" legend="#{gmsgs['lbl.criteria.search']}">
						<p:outputPanel id="pnlSearchValueHoldBal">
						<table width="100%"> 
							<tr>
								<td width="100"></td>
								<td width="220"></td>
								<td width="120"></td>
								<td width="220"></td>
							</tr>
							<tr>
							</tr>
							
							<tr>
									<td width="12%"><h:outputText
											value="#{msgs['opt.valueholdbalance.participant']} (*)"
											styleClass="required-field" /></td>
									<td width="88%" colspan="3"><h:panelGrid columns="2">
											<p:selectOneMenu style="width:520px"   id="cboParticipant" label="#{msgs['adm.holderaccount.participant.lbl']}"
												value="#{valorizationBalanceBean.valorizationBalanceFilterTO.idParticipantPk}"
												disabled="#{valorizationBalanceBean.userInfo.userAccountSession.participantInstitucion or valorizationBalanceBean.userInfo.userAccountSession.participantInvestorInstitucion}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
												<f:selectItems value="#{valorizationBalanceBean.participantList}"
													var="participant"
													itemLabel="#{participant.displayDescriptionCode}"
													itemValue="#{participant.idParticipantPk}" />
												
												
												<p:ajax event="change" global="false" 
													update="@form helpAccount,pnlAccountHelp,  pnlSearchValueHoldBal,outPanelReviewPrueba,outPanelResult"
													listener="#{valorizationBalanceBean.changeParticipant}"/>
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											
											<p:message id="msgParticipant" for="cboParticipant" display="icon" />
										</h:panelGrid></td>
							</tr>
							<tr>
									<td><h:outputLabel value="#{msgs['adm.holderaccount.holder.cui']} (*)" styleClass="required-field" /></td>
									<td colspan="3">
										<p:outputPanel id="helpAccount">
											<ark:holderHelper blPersonType="false"
												disabled="#{valorizationBalanceBean.valorizationBalanceFilterTO.idParticipantPk == null}"
												holder="#{valorizationBalanceBean.valorizationBalanceFilterTO.holderRequest}"
												participant="#{valorizationBalanceBean.valorizationBalanceFilterTO.idParticipantPk}"
												remoteListener="rmtHolder()"  required="true"
												validatorName="com.pradera.commons.view.validators.InputTextValidator">
											</ark:holderHelper>
											
											<p:remoteCommand name="rmtHolder"
												update="helpAccount,pnlAccountHelp, pnlSearchValueHoldBal,outPanelReviewPrueba,outPanelResult"
												actionListener="#{valorizationBalanceBean.searchHolderHandler}"
												immediate="true" process="@this"/>
										</p:outputPanel></td>
										
										
										
										<!-- validatorName="com.pradera.commons.view.validators.InputTextValidator" -->
							</tr>
							
							<tr>
									<td><h:outputText rendered="#{not empty valorizationBalanceBean.lstAccountHelperResultTo}"
											value="#{msgs['adm.holderaccount.account']} (*)"/></td>
									<td colspan="3"><p:outputPanel
											id="pnlAccountHelp">
											
											<p:dataTable id="tblResultHelperAccountSource" widgetVar="resultHelperAccountVar" 
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px" rowIndexVar="rIndx"
												     	 rendered="#{valorizationBalanceBean.valorizationBalanceFilterTO.holderRequest.idHolderPk !=null}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{valorizationBalanceBean.lstAccountHelperResultTo}" var="account"
												     	 rowKey="#{account.accountPk}"  
													 	 selection="#{valorizationBalanceBean.selectedHolderAccountHelperResultTO}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{valorizationBalanceBean.changeSelectAccount}"  
													update=":frmValueHoldBalance:pnlAccountHelp :frmValueHoldBalance:pnlSearchValueHoldBal :frmValueHoldBalance:outPanelReviewPrueba :frmValueHoldBalance:outPanelResult"/>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.number']}" styleClass="content-center" style="width:90px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 2px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{gmsgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
												
												<f:facet name="footer">  
												<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
										           <f:param value="#{valorizationBalanceBean.lstAccountHelperResultTo.rowCount}"/>
										         </h:outputFormat>  
										        </f:facet> 
												
										</p:dataTable>											
										</p:outputPanel></td>
							</tr>
							
							
							<tr>
									<td>
										<p:outputPanel id="opissuer1">
											<p:outputPanel>
												<h:outputText  value="#{gmsgs['issuance.helper.issuer']}" />
											</p:outputPanel>
										</p:outputPanel>
									</td>
									<td >
										<p:outputPanel id="opissuer2">
											<p:outputPanel>
												<p:selectOneMenu style="width:520px"  id="idIssuer" 
												disabled="#{valorizationBalanceBean.valorizationBalanceFilterTO.holderRequest.idHolderPk == null}"
													value="#{valorizationBalanceBean.issuerName}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
													<f:selectItems value="#{valorizationBalanceBean.listIssuer}"
																   var="issuer" itemLabel="#{issuer.mnemonic} - #{issuer.idIssuerPk} - #{issuer.businessName}"
																   itemValue="#{issuer.idIssuerPk}" />
													<p:ajax update="@form pnlSearchValueHoldBal  outPanelResult outPanelReviewPrueba pnlAccountHelp pnlSearchValueHoldBal securityHelp opissuer2" event="change"
														listener="#{valorizationBalanceBean.changeIssuerHandler}" />
												</p:selectOneMenu>
												
											</p:outputPanel>
										</p:outputPanel>
									</td>
								</tr>
							
							
							
							
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.operation.security.classCode']}"/>
								</td>
								<td colspan="3">
									<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
									<ark:securityHelper id="securityHelper" security="#{valorizationBalanceBean.valorizationBalanceFilterTO.security}"
										validatorName="com.pradera.commons.view.validators.InputTextValidator"
										issuer="#{valorizationBalanceBean.valorizationBalanceFilterTO.issuerRequest}"
										remoteListener="updateFieldSe()" label="#{msgs['lbl.operation.security.classCode']}"
										disabled="#{valorizationBalanceBean.valorizationBalanceFilterTO.holderRequest.idHolderPk == null}"/>
									<p:remoteCommand name="updateFieldSe" actionListener="#{valorizationBalanceBean.validateSecurity}"
										process="@this"
										update="pnlSearchValueHoldBal  outPanelResult outPanelReviewPrueba pnlAccountHelp pnlSearchValueHoldBal securityHelp"/>								
									<p:message for=":frmValueHoldBalance:securityHelper:securityHelper" display="icon" id="msgSecurity"/>
									<p:spacer width="5"/>
									<p:outputPanel id="securityHelp">
									<ark:securities-help securityCode="#{valorizationBalanceBean.valorizationBalanceFilterTO.security.idSecurityCodePk}"/>
									</p:outputPanel>
									</h:panelGrid>
								</td>
							</tr>
							
							
							<tr>
								<td>
									<h:outputText value="#{msgs['opt.valueholdbalance.valorization.type']}"/>
								</td>
								<td width="400" colspan="3">
									<h:panelGrid columns="2">
									<p:selectOneMenu style="width:200px" value="#{valorizationBalanceBean.valorizationBalanceFilterTO.valorizationType}" required="true" id="cboType"
													 requiredMessage="#{msgs['opt.valueholdbalance.validation.type']}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
										<f:selectItems value="#{valorizationBalanceBean.lstTypeValorization}" var="valType"
													   itemValue="#{valType.parameterTablePk}" itemLabel="#{valType.parameterName}"/>
										<p:ajax event="change" global="false" listener="#{valorizationBalanceBean.selectTypeValorization}"
												update="pnlSearchValueHoldBal  outPanelResult outPanelReviewPrueba pnlAccountHelp pnlSearchValueHoldBal"/>
									</p:selectOneMenu>
									
									<p:message for="cboType" display="icon"></p:message>
									</h:panelGrid>
								</td>
							</tr>
							
							<tr>
									<td width="160px"><h:outputText
											value="#{msgs['lbl.accounts.view.dateCourte']}" styleClass="required-field"/></td>

									<td width="160px"><p:calendar size="10"
											readonlyInput="true" yearRange="1900:c+c"
											value="#{valorizationBalanceBean.valorizationBalanceFilterTO.dateCourte}"
											navigator="true" id="calInitialDate" showOn="both"
											maxdate="#{valorizationBalanceBean.currentSystemDate}" disabled="#{valorizationBalanceBean.dateCourtBlock}"
											maxlength="10" pattern="#{cons['dateFormat']}">
																						
											<p:ajax event="dateSelect" update="pnlSearchValueHoldBal  outPanelResult outPanelReviewPrueba pnlAccountHelp"
													process="@this" 
													listener="#{valorizationBalanceBean.dateSelectCalendar}" />
											
										</p:calendar></td>
							</tr>
							<tr>
							<td colspan="4" align="center">
								<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
												 update="pnlSearchValueHoldBal outPanelResult outPanelReviewPrueba helpAccount :opnlGenericDialogs"
												 actionListener="#{valorizationBalanceBean.searchValueHoldBalanceHandler}"/>
								<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" update="pnlSearchValueHoldBal  outPanelResult outPanelReviewPrueba pnlAccountHelp" 
												 actionListener="#{valorizationBalanceBean.cleanFormHandler}" process="@this"/>
							</td>
							</tr>
						</table>
						</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
					
					
						<p:outputPanel id="outPanelReviewPrueba">
						<p:fieldset legend="#{msgs['opt.valueholdbalance.field.review']}" rendered="#{not empty valorizationBalanceBean.valueHoldBalanceDetailDataModel}">
							<table>
							<tr>
							<td width="500">
								<p:dataTable value="#{valorizationBalanceBean.lstValorizationTotalDataModelTo}" var="valorTotal"
											 rendered="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0}"
											 rows="15" paginatorPosition="top" rowKey="#{par.id}" rowsPerPageTemplate="5,10,15"
											 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.currency']}" styleClass="content-center">
										<h:outputText value="#{valorTotal.currency}"/>
									</p:column>
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.balance.contab.review']}" styleClass="content-right">
										<h:outputText value="#{valorTotal.totalBalance}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.balance.availab.review']}" styleClass="content-right">
										<h:outputText value="#{valorTotal.availableBalance}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
										</h:outputText>
									</p:column>
								</p:dataTable>	
							</td>
							<td width="200"/>
							
							<td width="120">
								<p:outputLabel value="#{msgs['opt.valueholdbalancedetail.currency.lbl']}"  rendered="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0}" styleClass="required-field" />
								<p:dataTable value="#{valorizationBalanceBean.lstValorizationCurrencyTO}" var="currency"
											 rows="15" paginatorPosition="top" rowKey="#{par.id}"
											 rendered="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0}">
									
									
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.currency.usd']}" styleClass="content-center">
										<h:outputText value="#{currency.usd}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
										</h:outputText>
									</p:column>
									<ui:remove>
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.currency.ufv']}" styleClass="content-center">
										<h:outputText value="#{currency.ufv}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.rate.factor']}" locale="en_US"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.currency.eu']}" styleClass="content-center">
										<h:outputText value="#{currency.eu}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['opt.valueholdbalancedetail.currency.dmv']}" styleClass="content-center">
										<h:outputText value="#{currency.dmv}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
										</h:outputText>
									</p:column>
									</ui:remove>
									
								</p:dataTable>	
							</td>
							
							</tr>
							</table>
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{ 1 > valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount}"/>
						</p:fieldset>
						</p:outputPanel>
					</td>
					
				</tr>
				
				
				<tr>
					<td width="100%">
					<p:outputPanel id="outPanelResult">
						<p:fieldset legend="#{msgs['lbl.accounts.view.result']}" rendered="#{not empty valorizationBalanceBean.valueHoldBalanceDetailDataModel}" >
							<p:dataTable id="dtbPlacement" var="value" value="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel}"
										 paginator="true" rows="10" rendered="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0}"
										 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="Página ({currentPage} de {totalPages})"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								
								<p:column sortBy="#{value.claseClaveValor}" styleClass="content-center">
									<f:facet name="header">
											<h:outputText value="#{msgs['lbl.operation.security.classCode']}"
												styleClass="text-header-table" />
									</f:facet>
									<p:commandLink value="#{value.claseClaveValor}" actionListener="#{valorizationBalanceBean.showSecurityDetail(value.claseClaveValor)}"
												   update="@form :frmValueHoldBalance:secFinancial:pnlSecurityFinancialDetail"/>  
								</p:column>
								
								
								<p:column sortBy="#{value.description}" styleClass="content-left">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.description']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.description}" />
								</p:column>
								

								<p:column sortBy="#{value.nominalValue}" styleClass="content-right"> 
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.nomval']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.nominalValue}">
										<f:convertNumber locale="en"/>
									</h:outputText>
								</p:column>
								
								<p:column sortBy="#{value.currencyDesc}" styleClass="content-center">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.currency']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.currencyDesc}">
									</h:outputText>
								</p:column>
								
								<p:column sortBy="#{value.balanceTotal}" styleClass="content-center">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.contab']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceTotal}" >
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								<p:column sortBy="#{value.balanceAvailable}" styleClass="content-center">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.availab']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceAvailable}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								<p:column sortBy="#{value.balanceValorizContabBOB}" styleClass="content-right">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.valorizat.balance.contab.bob']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceValorizContabBOB}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								<p:column sortBy="#{value.balanceValorizAvailabBOB}" styleClass="content-right">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.valorizat.balance.availab.bob']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceValorizAvailabBOB}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>

								<p:column sortBy="#{value.balanceValorizContabUSD}" styleClass="content-right">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.valorizat.balance.contab.usd']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceValorizContabUSD}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								
								<p:column sortBy="#{value.balanceValorizAvailabUSD}" styleClass="content-right">
									<f:facet name="header">
											<h:outputText value="#{msgs['opt.valueholdbalancedetail.valorizat.balance.availab.usd']}"
												styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{value.balanceValorizAvailabUSD}" style="text-align:right !important;">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								
								
								<p:column headerText="#{msgs['opt.valueholdbalancedetail.valorizat.balance.marketfact']}" styleClass="content-center" 
								rendered="#{valorizationBalanceBean.valorizationBalanceFilterTO.valorizationType eq valorizationType.MARKET_FACT.code}">
										<p:commandLink value="Ver" style="color:blue" process="@this" oncomplete="PF('detailMarketFactVar').show();"
													   actionListener="#{valorizationBalanceBean.detailMarketFact}" update=":detailMarketFact">
										<f:attribute name="attribIdSecurityCode" value="#{value.claseClaveValor}" />
										<f:attribute name="attribHolderAccount" value="#{value.holderAccount}" />
										<f:attribute name="attribParticipant" value="#{value.participant}" />
										</p:commandLink>
								</p:column>
								
								<f:facet name="footer">
						            <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount}"/>
						            </h:outputFormat>
						        </f:facet> 
							</p:dataTable>
							<p:panel id="export" style="text-align:right;border:0;"
									rendered="#{valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0}">
									<exp:exportDataTable
										title="#{msgs['opt.valueholdbalance.query.title']}"
										pdf="true" xls="true"
										target=":frmValueHoldBalance:dtbPlacement" />
									<!--parameters="#{monitorSystemprocessBean.generateParametersExport()}"/-->
								</p:panel>
								<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
									id="idOlblNoResults"
									rendered="#{!(valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount>0)}"
									style="font-weight:bold;" />
							
							<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{ 1 > valorizationBalanceBean.valueHoldBalanceDetailDataModel.rowCount}"/>
						</p:fieldset>
						<ark:securities-help isinCode="" id="secFinancial"/>
					</p:outputPanel>
					</td>
				</tr>
			</table>
			</h:form>
        </p:outputPanel>
        
		<p:dialog id="detailMarketFact" widgetVar="detailMarketFactVar"
				modal="true" resizable="false" showHeader="false" position="top"
				showEffect="true" maximizable="false" width="600"
				closeOnEscape="true">
				
				<table width="100%" cellpadding="0" border="0" cellspacing="0"
								class="cleanTable">
				<tr>
				<td>
				
				  <p:outputPanel autoUpdate="true">
					<p:fieldset legend="Hecho del Mercado" id="fsHechoMercado">
					
					
					
					
						<p:dataTable id="dtbPlacement" var="value" value="#{valorizationBalanceBean.marketFactResultTOModel}"
										 paginator="true" rows="10"
										 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="Página ({currentPage} de {totalPages})"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
										 
								
								<p:column headerText="#{msgs['lbl.accounts.view.result.total.balance']}" styleClass="content-right">
									<h:outputText value="#{value.totalBalance}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								

								<p:column headerText="#{msgs['lbl.accounts.view.result.total.available']}" styleClass="content-right"> 
									<h:outputText value="#{value.totalAvailable}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['lbl.accounts.view.result.market.date']}" styleClass="content-center">
									<h:outputText value="#{value.marketDate}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['lbl.accounts.view.result.market.rate']}" styleClass="content-center">
									<h:outputText value="#{value.marketRate}" >
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['lbl.accounts.view.result.market.price']}" styleClass="content-center">
									<h:outputText value="#{value.marketPrice}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="en_US"/>
									</h:outputText>
								</p:column>
								
																
								<f:facet name="footer">
						            <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{valorizationBalanceBean.marketFactResultTOModel.rowCount}"/>
						            </h:outputFormat>
						        </f:facet> 
							</p:dataTable>
						
						
						</p:fieldset>
					</p:outputPanel>
				</td>
				</tr>
				<tr>
					<td align="center"><p:commandButton
							value="#{msgs['btn.accept']}"
							oncomplete="PF('detailMarketFactVar').hide()" process="@this">
							</p:commandButton></td>
				</tr>
				</table>
		</p:dialog>
		
		</ui:define>
	</ui:composition>
</html>