<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmCustody" style="">
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['deposito.lbl.admin.titulos']}" styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton value="#{msgs['deposit.register.btn.lbl']}" icon="fa fa-edit" immediate="true" 
										 rendered="#{certificateDepositeBean.flagRegister}" 
										 action="#{certificateDepositeBean.newCertification}" />
						<p:commandButton id="btnMassiveRegisterExcel" value="#{msgs['lbl.btn.register.massive.excel']}"
										 rendered="#{certificateDepositeBean.flagRegister}" action="registerCertificateDepositeExcel"
										 icon="fa fa-edit" process="@this" actionListener="#{certificateDepositeBean.newMassiveRequest}"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['deposito.crit.lbl']}">
							<table width="100%"> 
								<tr>
									<td><h:outputText value="#{msgs['deposito.participant.lbl']}"/></td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboparticipant" value="#{certificateDepositeBean.participantSelected}" 
															  disabled="#{certificateDepositeBean.isParticipant or certificateDepositeBean.isBcr}"
															  style="width:520px" label="#{msgs['deposito.participant.lbl']}">
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
												<f:selectItems value="#{certificateDepositeBean.participantList}" 
															   var="part" itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
												
												<p:ajax event="change" listener="#{certificateDepositeBean.changePariticipantSearch}" update="pnlAccountHelper"/>
											</p:selectOneMenu>
											<p:message for="cboparticipant" display="icon"	/>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText value="#{msgs['depoito.state.lbl']}"/>
									</td>
									<td>
										<p:selectOneMenu id="statusId" style="width:200px;" value="#{certificateDepositeBean.statusSelected}">  
											<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
											<f:selectItems value="#{certificateDepositeBean.statusDepositList}" var="statusDeposit"
														   itemLabel="#{statusDeposit.parameterName}" itemValue="#{statusDeposit.parameterTablePk}"
														    />
										</p:selectOneMenu>
								    </td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['commons.label.cuiHolder']}"/>
									</td>
									<td>
										<p:outputPanel id="pnlAccountHelper">
											<ark:holderHelper id="idCuiHolder"
											   holder="#{certificateDepositeBean.sourceHolder}" 
											   participant="#{certificateDepositeBean.participantSelected}" 
											   remoteListener="cmdAccountHelper()"
											   validatorName="com.pradera.commons.view.validators.InputTextValidator" >
											</ark:holderHelper>
											<p:remoteCommand name="cmdAccountHelper" 
															 process="@this" update="@this, frmCustody, :opnlDialogs" ></p:remoteCommand>
										</p:outputPanel>
									</td>
									<td>
										<h:outputText value="#{msgs['deposito.cert.manage.emisor']}"/>
									</td>
									<td>
									<arkHelp:issuerHelper id="idIssuerPk" issuer="#{certificateDepositeBean.issuerHelp}" remoteListener="validaIssuer()"
														  label="#{msgs['lbl.retiro.emisor']}">
									</arkHelp:issuerHelper>
									<p:remoteCommand name="validaIssuer" 
													 actionListener="#{certificateDepositeBean.validateSearchIssuer}"
													 update="idIssuerPk, :opnlDialogs"/>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.cert.manage.valor.class']}"/>
									</td>
									<td colspan="3">
										<p:selectOneMenu id="somSecurityClass" value="#{certificateDepositeBean.securitySearch.securityClass}" >
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
											<f:selectItems value="#{certificateDepositeBean.lstSecurityClass}"
														   var="class" itemLabel="#{class.text1} - #{class.description}" itemValue="#{class.parameterTablePk}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.cert.manage.valor.codevalue']}"/>
									</td>
									<td colspan="3">
										<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
											<arkHelp:securityHelper id="securityHelper" 
												security="#{certificateDepositeBean.securitySearch}" remoteListener="updateFieldSe()"/>
											<p:remoteCommand name="updateFieldSe" update=":frmCustody:securityHelp" process="@this"/>	
											<p:spacer width="5"/>
											<p:outputPanel id="securityHelp">
												<arkHelp:securities-help securityCode="#{certificateDepositeBean.securitySearch.idSecurityCodePk}"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
									<td></td><td></td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.cert.number']}" />
									</td>
									<td>
										<p:inputText value="#{certificateDepositeBean.certificateSelected}" style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['deposito.req.number']}" />
									</td>
									<td>
										<p:inputText value="#{certificateDepositeBean.requestSelected}" style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.fecha.inicial']} (*)" styleClass="required-field"/>						
									</td>
									<td>
										<p:calendar id="fechaEmision"
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{certificateDepositeBean.initialDate}" 
													maxdate="#{certificateDepositeBean.finalDate}" >
											<p:ajax event="dateSelect" update="fechaEmision,fechaVenci" process="@this"/>
											<p:ajax event="change" update="fechaEmision,fechaVenci" process="@this"/>
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['deposito.fecha.final']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:calendar id="fechaVenci" 
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{certificateDepositeBean.finalDate}" 
													mindate="#{certificateDepositeBean.initialDate}"
													maxdate="#{certificateDepositeBean.maxDate}" >
											<p:ajax event="change" update="fechaEmision,fechaVenci" process="@this" />
											<p:ajax event="dateSelect" update="fechaEmision,fechaVenci" process="@this" />
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" 
														 update="frmCustody"
										 				 rendered="#{certificateDepositeBean.flagSearch}" 
														 action="#{certificateDepositeBean.searchPhysicalCertificates}" />
										
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
														 
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
														 immediate="true" process="@this"
														 action="#{certificateDepositeBean.clearSearchCriteria}" 
														 update="frmCustody" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<p:outputPanel rendered="#{not empty certificateDepositeBean.physicalCertificateSearchList}" >
						<table>
						<tr>
							<td><p:outputPanel id="pnlButtons" >
								<h:panelGrid columns="2">
								<arkPriv:privileges id="praderaPrivileges"				 
							 		actionApprove="#{certificateDepositeBean.aproveCertificates(false)}"
							 		actionAnnular="#{certificateDepositeBean.cancelCertificates(false)}"
							 		actionApply="#{certificateDepositeBean.applyCertificates(false)}"
							 		actionConfirm="#{certificateDepositeBean.confirmCertificates(false)}"
							 		actionReject="#{certificateDepositeBean.rejectCertificates(false)}"
									actions="#{userPrivilege.userAcctions}"
									renders="#{userPrivilege.privilegeComponent}"/>
								</h:panelGrid>
								</p:outputPanel>
							</td>
						</tr>
						</table>
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:fieldset id="fsListado" legend="#{msgs['lbl.results']}" 
										rendered="#{not empty certificateDepositeBean.physicalCertificateSearchList}">
										
								<p:dataTable 
									id="dtbResult" var="physicalCertificateVar"
									style="padding-right:0px !important"
									paginator="true" rows="10"  paginatorPosition="top"
									selection="#{certificateDepositeBean.selectedPhysicalCertificatesExt}"
									value="#{certificateDepositeBean.searchCertificateDataModel}" 
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
							        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									rowKey="#{physicalCertificateVar}">
									
									<p:column style="text-align:center" selectionMode="multiple" />
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.operationNumber}">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['deposito.nro.solicitud']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{certificateDepositeBean.viewCertificationDetail(physicalCertificateVar)}">
											<h:outputText style="float:right;" value="#{physicalCertificateVar.operationNumber}" />
										</p:commandLink>																			
									</p:column>
									
									<p:column style="text-align:right" sortBy="#{physicalCertificateVar.physicalCertificate.certificateNumber}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.nro.title']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.certificateNumber}" />
									</p:column>
									
									
									<p:column styleClass="content-center" width="80" sortBy="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic} ">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.retiro.emisor']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.registerDate}">
										<f:facet name="header">
											<h:outputText style="width:100px" value="#{msgs['lbl.deposito.fecha.solicitud.search']}"/>
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.registerDate}"> 
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/> 
										</h:outputText>
									</p:column>
					
									<p:column styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="#{gmsgs['security.lbl.code']}" />
										</f:facet>
										<p:outputPanel rendered="false">
											<arkHelp:securities-help rendered="false" securityCode="#{physicalCertificateVar.physicalCertificate.securities.idSecurityCodePk}" link="true" icon="false"></arkHelp:securities-help>
										</p:outputPanel>
										<p:outputPanel rendered="true">
											<arkHelp:securities-help  securityCode="#{physicalCertificateVar.physicalCertificate.idSecurityCodePk}" link="true" icon="false"></arkHelp:securities-help>
											<h:outputText style="float:left;"  value="#{physicalCertificateVar.physicalCertificate.idSecurityCodePk}" rendered="false"/>
										</p:outputPanel>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.currencyType}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['adm.holderaccount.bank.money.lbl']} " />
										</f:facet>
										<h:outputText style="float:left;"  value="#{physicalCertificateVar.physicalCertificate.currencyType}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.valor.nominal']}" />
										</f:facet>
										<h:outputText style="float:right" value="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										 <f:convertNumber locale="en_US" pattern="###,##0.00"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" width="80" sortBy="#{physicalCertificateVar.mnemonicParticipant} ">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.column.deposite.participant']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{physicalCertificateVar.mnemonicParticipant}"/>
									</p:column>
									
									<p:column style="text-align:right" sortBy="#{physicalCertificateVar.cui}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.column.deposite.cui']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.cui}" />
									</p:column>

									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.stateType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.ownershipexchange.status']}" />
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.stateType}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.indApplied}" rendered="true">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.retiro.solicit']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{physicalCertificateVar.indApplied}" disabled="true"/>
									</p:column>
									
									<f:facet name="footer">  
							            <h:outputLabel value="#{certificateDepositeBean.searchCertificateDataModel.rowCount} #{msgs['lbl.results']}"/>
							        </f:facet>
								</p:dataTable>
								<h:outputLabel value="#{msgs['deposito.search.results']}" 
													rendered="#{!(certificateDepositeBean.searchCertificateDataModel.rowCount >= 1)}"
													style="font-weight:bold;"/>
							</p:fieldset>
							
							<p:outputPanel rendered="#{!certificateDepositeBean.registersFound}">
							<p:panel rendered="#{!certificateDepositeBean.registersFound}">
								<h:outputText value="#{msgs['lbl.search.no.result']}" />
							</p:panel>
							</p:outputPanel>
						
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<h:form id="formPopUp">
			
			<p:dialog id="alterValidation" closable="false"
	                		 header="#{headerMessageView}" widgetVar="alterValidationWidget" > 
	            <h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="10" style="text-align:left;">
	            	<p:outputLabel value="#{bodyMessageView}" escape="false"/>
	            </h:panelGrid>
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="5" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="#{certificateDepositeBean.aceptAlertActions()}"
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:dialog> 
	    	
	    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
							 message="#{bodyMessageView}" header="#{headerMessageView}" 
							 closable="false"> 
				
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" 
									 action="#{certificateDepositeBean.confirmAlertActions()}" 
									 update=":frmCustody, :opnlDialogs"  />
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" 
									 action="#{certificateDepositeBean.removeAlert()}" />
			
			</p:confirmDialog>
			
			<p:dialog id="alterReject" closable="false" resizable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alterRejectWidget" >  
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	        		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.select']} (*)" styleClass="required-field" />
			    		</td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['error.accreditation.certificate.required']}" 
											 value="#{certificateDepositeBean.reasonSelected}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
					           <f:selectItems value="#{certificateDepositeBean.reasonTypeList}"
											  var="rejectMotive" itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
		    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']} (*)" styleClass="required-field" 
			    						  rendered="#{certificateDepositeBean.reasonSelected==certificateDepositeBean.otherRejectMotiveId}" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" maxlength="200"
			    							required="true"
			    							requiredMessage="#{msgs['error.accreditation.certificate.required']}"
			    							rendered="#{certificateDepositeBean.reasonSelected==certificateDepositeBean.otherRejectMotiveId}"
			    							style="width:300px;" value="#{certificateDepositeBean.rejectOther}">
			    				<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{certificateDepositeBean.reasonSelected==certificateDepositeBean.otherRejectMotiveId}" />
					    </td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">  
					        <p:commandButton
					        			 id="btnYesRejectOrAnulled"
					        			 rendered="true"  process="@form"
					        			 icon="fa fa-save"
					        			 disabled="#{certificateDepositeBean.reasonSelected==-1}"
				        				 value="#{gmsgs['btn.save']}" 
				        				 action="#{certificateDepositeBean.certificateQuestion()}"
				        				 update="rejectPanel, cnfIdCAskDialog, :opnlGenericDialogs"
				        				 > 
				        	</p:commandButton>
				        	
				        	<p:commandButton
					        			 icon="fa fa-undo"
				        				 value="#{gmsgs['btn.back']}"  
				        				 immediate="true"
				        				 process="@this"
				        				 action="#{certificateDepositeBean.cancelAlertAnullOrReject()}"
				        				 update=":frmCustody, :opnlDialogs"> 
						    </p:commandButton> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
			
	    	</h:form>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>