<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:form id="frmCustody">
		
			<p:selectOneRadio id="customRadio" value="#{transferSecuritiesBlockViewMgmtBean.radioSelected}" layout="custom">  
		        <f:selectItem itemLabel="" itemValue="2" />  
		        <f:selectItem itemLabel="" itemValue="1" />
		        <p:ajax update="frmCustody"
		        		listener="#{transferSecuritiesBlockViewMgmtBean.radioSelectEvent()}" 
		        		event="change"
		        		partialSubmit="false"
		        		process="@this"/>
		    </p:selectOneRadio>
		    
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['tvb.title.onlysearch']}" styleClass="title-page" />
					</td>
					<td align="right">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.search']}">
							<table width="100%">
								<tr>
									<td width="25px"><p:radioButton id="optSolicitud" for="customRadio" itemIndex="0"/></td>
									<td width="150px"><h:outputText value="#{msgs['tvd.label.numberSolicitud']}" /></td>
									<td width="450px">
										<p:inputText id="solicitudNumber" value="#{transferSecuritiesBlockViewMgmtBean.custodyOperation.operationNumber}"
													disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==1}" styleClass="content-right" maxlength="10" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric']}"/>
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:inputText>
									</td>
									<td width="25px"><p:radioButton id="optSearch" for="customRadio" itemIndex="1"/></td>
									<td width="150px"><h:outputText value="#{msgs['tdv.lable.transferType']}" /></td>
									<td>
										<p:selectOneMenu required="true" id="idTransfertype" 
														 value="#{transferSecuritiesBlockViewMgmtBean.securityTransferOperation.transferType}"
														 disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}" style="width: 140px;" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesBlockViewMgmtBean.lstTransferType}" var="transferType" itemLabel="#{transferType.parameterName}" itemValue="#{transferType.parameterTablePk}" />
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><h:outputText value="#{msgs['tdv.lable.origParticipant']}" /></td>
									<td>
										<p:selectOneMenu id="idParticipantOrigin" value="#{transferSecuritiesBlockViewMgmtBean.participantOrigin.idParticipantPk}" style="width: 355px;"
														 disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2 or transferSecuritiesBlockViewMgmtBean.isParticipant}" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesBlockViewMgmtBean.lstParticipant}" var="part" itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:selectOneMenu>
									</td>
									<td></td>
									<td><h:outputText value="#{msgs['tvd.label.state']}" /> </td>
									<td>
										<p:selectOneMenu id="idState" value="#{transferSecuritiesBlockViewMgmtBean.securityTO.state}" style="width: 140px;"
														 disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesBlockViewMgmtBean.lstTransferState}" var="transferState" itemLabel="#{transferState.parameterName}" itemValue="#{transferState.parameterTablePk}" />
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:selectOneMenu>
									</td>
								</tr>
								
								<tr>
									<td></td>
									<td><h:outputText value="#{msgs['commons.label.cuiHolder']}" /></td>
									<td>
									
									<arkHelp:holderHelper id="idCuiHolder" holder="#{transferSecuritiesBlockViewMgmtBean.sourceHolder}" 
														  blParticipant="true" participant="#{transferSecuritiesBlockViewMgmtBean.participantOrigin.idParticipantPk}"
														  disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}"
														  remoteListener="cmdHolderHelper()">
									</arkHelp:holderHelper> 
									
    								<p:remoteCommand name="cmdHolderHelper" actionListener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" 
													 update="frmCustody" />
									</td>
									
									<td></td>
									<td><h:outputText value="#{msgs['tvd.label.account']}" /></td>
									<td>
										<p:outputPanel id="idHolderAccount">
								
											<arkHelp:accountHelper id="idOriginAccountNumber" 
													holderAccount="#{transferSecuritiesBlockViewMgmtBean.holderAccount}"
		        									blHolder="true" holder="#{transferSecuritiesBlockViewMgmtBean.sourceHolder}" 
		        									participant="#{transferSecuritiesBlockViewMgmtBean.participantOrigin.idParticipantPk}"
		        									disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}"
		        									remoteListener="cmdHolderAccountHelper()"/>
		 
		    								<p:remoteCommand name="cmdHolderAccountHelper" actionListener="#{transferSecuritiesBlockViewMgmtBean.validHolderAccount}" 
															 process="@this" update="@this, frmCustody, :opnlDialogs" 
															 oncomplete="cmdapplyStandarOwa()" />
															         
		    								<p:remoteCommand name="cmdapplyStandarOwa" actionListener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" 
															 process="@this" update="frmCustody" />
								
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><h:outputText value="#{msgs['tdv.lable.securityClass']}" /></td>
									<td>
										<p:selectOneMenu id="securityClass" disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}"
														 value="#{transferSecuritiesBlockViewMgmtBean.securityTransferOperation.securityClass}" style="width: 355px;">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="" />
											<f:selectItems value="#{transferSecuritiesBlockViewMgmtBean.lstSecurityClass}" var="instrument"
														   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
														   itemValue="#{instrument.parameterTablePk}" />
											<p:ajax update="frmCustody" listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" />
										</p:selectOneMenu>
									</td>
									<td></td>
									<td><h:outputLabel value="#{msgs['lbl.accreditation.certificate.blocktype']}" /></td>
									<td>
										<p:selectOneMenu id="idBlockTypes" value="#{transferSecuritiesBlockViewMgmtBean.blockRequest.blockType}" 
														 disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}" style="width: 140px;" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesBlockViewMgmtBean.lstBlockType}" var="blockType" itemLabel="#{blockType.parameterName}" itemValue="#{blockType.parameterTablePk}" />
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><h:outputText value="#{gmsgs['security.lbl.code']}" /></td>
									<td colspan="3">
										<p:outputPanel id="idIsinPanel">
										<arkHelp:securityHelper id="idSourceSecurity" disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}"  
																remoteListener="validSecuritieOrigin()" 
																security="#{transferSecuritiesBlockViewMgmtBean.security}" 
																securityClass="#{transferSecuritiesBlockViewMgmtBean.securityTransferOperation.securityClass}"/>
										<p:remoteCommand name="validSecuritieOrigin" actionListener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" 
													     process="@this" update="frmCustody" />	
													     			
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td></td>
									<td><h:outputText value="#{msgs['tvd.label.iniRegDate']}(*)" /> </td>
									<td>
										<p:calendar id="idInitDateCalendar"  
													size="10" readonlyInput="true" 
													mindate="#{transferSecuritiesBlockViewMgmtBean.minTime}"
													navigator="true" maxdate="#{transferSecuritiesBlockViewMgmtBean.nowTime}"
													showOn="both"
													value="#{transferSecuritiesBlockViewMgmtBean.securityTO.operationInitDate}" 
													disabledWeekends="true"
													pattern="dd/MM/yyyy"
													disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}">
										<p:ajax event="dateSelect" process="@this" update="@form, :opnlDialogs"  
												listener="#{transferSecuritiesBlockViewMgmtBean.onchangeInitialDate()}"/>
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:calendar>
									</td>
									<td></td>
									<td><h:outputText value="#{msgs['tvd.label.endRegDate']}(*)" /> </td>
									<td>
										<p:calendar id="idEndDateCalendar" size="10"
													readonlyInput="true" navigator="true" 
													mindate="#{transferSecuritiesBlockViewMgmtBean.securityTO.operationInitDate}"
													maxdate="#{transferSecuritiesBlockViewMgmtBean.nowTime}" 
													disabledWeekends="true"
													value="#{transferSecuritiesBlockViewMgmtBean.securityTO.operationEndDate}" 
													showOn="both" pattern="#{msgs['dateFormat']}" 
													disabled="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2}">
										<p:ajax event="dateSelect" process="@this" update="@form, :opnlDialogs"  
												listener="#{transferSecuritiesBlockViewMgmtBean.onchangeEndDate()}"/>
											<p:ajax listener="#{transferSecuritiesBlockViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
										</p:calendar>
									</td>
								</tr>
								
								<tr>
									<td colspan="6" align="center">
										<p:commandButton id="btnSearchWO" icon="fa fa-search" value="#{gmsgs['btn.search']}" ajax="true"
											rendered="#{transferSecuritiesBlockViewMgmtBean.radioSelected==2 and transferSecuritiesBlockViewMgmtBean.flagSearch}"
											action="#{transferSecuritiesBlockViewMgmtBean.searchWithOperationNumber()}" 
											update="frmCustody, frmCustody:pnlRegisterFound, :opnlDialogs" /> 
										
										<p:commandButton id="btnSearch" icon="fa fa-search" value="#{gmsgs['btn.search']}" ajax="true"
											rendered="#{transferSecuritiesBlockViewMgmtBean.radioSelected==1 and transferSecuritiesBlockViewMgmtBean.flagSearch}"
											action="#{transferSecuritiesBlockViewMgmtBean.searchSolicitud}" 
											update="frmCustody, frmCustody:pnlRegisterFound, :opnlDialogs" /> 
										
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />				 
										<p:commandButton id="btnClean" icon="fa fa-trash" value="#{gmsgs['btn.clean']}"
											action="#{transferSecuritiesBlockViewMgmtBean.clearFields()}" 
											update="frmCustody" process="@this" immediate="true"/> 
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<!-- ************************************************ -->
				<tr>
					<td colspan="2">
						<p:outputPanel id="pnlRegisterFound">
						
						
						<p:outputPanel rendered="#{not empty transferSecuritiesBlockViewMgmtBean.lstSecurityBlockTransferTO}">	
										  
						<arkPriv:privileges id="praderaPrivileges"				 							 
										 		actionApprove="#{transferSecuritiesBlockViewMgmtBean.executeAllActions('approve')}"
										 		actionAnnular="#{transferSecuritiesBlockViewMgmtBean.executeAllActions('annular')}"
										 		actionReview="#{transferSecuritiesBlockViewMgmtBean.executeAllActions('review')}"
										 		actionReject="#{transferSecuritiesBlockViewMgmtBean.executeAllActions('reject')}"
										 		actionConfirm="#{transferSecuritiesBlockViewMgmtBean.executeAllActions('confirm')}"
							actions="#{userInfo.userAcctions}"
							renders="#{userInfo.privilegeComponent}"/>	
											 
						</p:outputPanel>
						
						
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{not empty transferSecuritiesBlockViewMgmtBean.lstSecurityBlockTransferTO}">
											
							<p:dataTable id="dtbResult" var="blockSercurity"
										style="padding-right:0px !important;"
										value="#{transferSecuritiesBlockViewMgmtBean.dataModelSecurityBlockTransfer}"
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginator="true" rows="10" paginatorPosition="top"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
										rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{blockSercurity.operationNumber-blockSercurity.idHolderPk}"
										selection="#{transferSecuritiesBlockViewMgmtBean.securityBlockTransfertmp}">
									
									<p:columnGroup type="header">
										<p:row>
											<p:column headerText="" />
											<p:column headerText="#{msgs['tvb.label.numberSolicitud']}" sortBy="#{blockSercurity.operationNumber}" />
											<p:column headerText="#{msgs['tvb.label.registryDate']}" sortBy="#{blockSercurity.operationDate}"/>
											<p:column headerText="#{msgs['tvd.tab.originParticipant']}" sortBy="#{blockSercurity.sourceParticipantMnemonic}-#{blockSercurity.sourceIdParticipantPk}"/>
											<p:column headerText="#{msgs['tvd.tab.targetParticipant']}" sortBy="#{blockSercurity.targetParticipantMnemonic}-#{blockSercurity.targetIdParticipantPk}"/> 
											<p:column headerText="#{msgs['tvd.tab.originAccount']}" sortBy="#{blockSercurity.sourceAccountNumber}"/>
											<p:column headerText="#{msgs['tvd.tab.targetAccount']}" sortBy="#{blockSercurity.targetAccountNumber}"/>
											<p:column headerText="#{msgs['tvd.tab.holderName']}"  /> 
											<p:column headerText="#{gmsgs['security.lbl.code']}" sortBy="#{blockSercurity.idSecurityCodePk}"/>
											<p:column headerText="#{msgs['tvb.label.blockType']}" sortBy="#{blockSercurity.blockTypeDescription}"/>
											<p:column headerText="#{msgs['tvb.label.count']}" sortBy="#{blockSercurity.actualBlockBalance}"/>
											<p:column headerText="#{msgs['tvd.tab.state']}" sortBy="#{blockSercurity.blockTypeDescription}"/> 
										</p:row>
									</p:columnGroup>
									
									<p:column selectionMode="single" style="width:18px"  /> 
									<p:ajax event="rowSelectRadio" listener="#{transferSecuritiesBlockViewMgmtBean.selectedRadio}" update=":frmCustody:pnlRegisterFound" />
									
									<p:column style="text-align:center">
									<p:commandLink action="#{transferSecuritiesBlockViewMgmtBean.postConstructorView(blockSercurity,true,null)}" update=":opnlDialogs" process="@this" immediate="true">
										<h:outputText value="#{blockSercurity.operationNumber}" />
									</p:commandLink>
									</p:column>
									
									<p:column style="text-align: center;">
										<h:outputText value="#{blockSercurity.operationDate}" >
										<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText> 
									</p:column>
										
									<p:column style="text-align: left;">
										<h:outputText value="#{blockSercurity.sourceParticipantMnemonic}-#{blockSercurity.sourceIdParticipantPk}" title="#{blockSercurity.sourceParticipantDescription}" />
									</p:column>
									
									<p:column style="text-align: left;">
										<h:outputText value="#{blockSercurity.targetParticipantMnemonic}-#{blockSercurity.targetIdParticipantPk}" title="#{blockSercurity.targetParticipantDescription}"/>
									</p:column>
									
									<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesBlockViewMgmtBean.isDepositary or (transferSecuritiesBlockViewMgmtBean.isParticipant and transferSecuritiesBlockViewMgmtBean.participantLogin.equals(blockSercurity.sourceIdParticipantPk))}">
										<h:outputText value="#{blockSercurity.sourceAccountNumber}"/>
									</p:outputPanel>
									</p:column>
									
									<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesBlockViewMgmtBean.isDepositary or (transferSecuritiesBlockViewMgmtBean.isParticipant and transferSecuritiesBlockViewMgmtBean.participantLogin.equals(blockSercurity.targetIdParticipantPk))}">
										<h:outputText value="#{blockSercurity.targetAccountNumber}"/>
									</p:outputPanel>
									</p:column>
									
									<p:column style="text-align: left;">
										<h:outputText value="#{blockSercurity.sourceHolderAccount.accountRntAndDescription}" escape="false" />
									</p:column>
								
									<p:column>
									<arkHelp:securities-help securityCode="#{blockSercurity.idSecurityCodePk}" link="true" icon="false" />
									</p:column>
									
									<p:column>
										<h:outputText value="#{blockSercurity.blockTypeDescription}"/>
									</p:column>
									
									<p:column  style="text-align: right;">
										<h:outputText value="#{blockSercurity.actualBlockBalance}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.transfer']}"
									                	locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column style="text-align: center;">
										<h:outputText value="#{blockSercurity.stateDescription}"/>
									</p:column>

									<f:facet name="footer"> 
						             <div style="width:100%; text-align:left">        
						             	<h:outputLabel value="#{transferSecuritiesBlockViewMgmtBean.dataModelSecurityBlockTransfer.rowCount} #{msgs['lbl.results']}" 
						             	style="font-weight:bold;"/>
						             </div>
						            </f:facet>

							</p:dataTable>	
						
						</p:fieldset>
						
						
						<p:outputPanel rendered="#{!transferSecuritiesBlockViewMgmtBean.registersFound}">
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" >
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
											rendered="#{!(transferSecuritiesBlockViewMgmtBean.dataModelSecurityBlockTransfer.rowCount >= 1)}"/>		
						</p:fieldset>
						</p:outputPanel>
						
						</p:outputPanel>	
					</td>
				</tr>
				
			</table>
		</h:form>

	<!-- Alters -->
	<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"  
	                header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     global="false"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="#{transferSecuritiesBlockViewMgmtBean.confirmActions()}"
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    	</p:confirmDialog> 
	    	</h:form>
	</p:outputPanel>

	</ui:define>
</ui:composition>
</html>