<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">


	<h:outputText value="#{msgs['opt.accounting.parameter.modify.title']}"  styleClass="title-page" 
				   /> 		  	

<h:form id="frmAccountingParameterRegister">
	
		<table width="100%">
		
				<tr>
					<td>
					
					<p:fieldset legend="#{msgs['lbl.parameter.data']}" >
							<table width="100%" border="0">	
												
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['lbl.parameter.type']} (*)" styleClass="required-field" />
									</td>									
									<td align="left"> 
									<h:panelGrid columns="2"> 
										<p:selectOneMenu id="cmbParameterType" style="width:250px;"  
													     value="#{accountingParameterMgmtBean.parameterTypeSelected}" label="#{msgs['lbl.parameter.type']}">  
											<f:selectItems value="#{accountingParameterMgmtBean.listParameterType}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.parameterName}" 
											               itemValue="#{parameterList.parameterTablePk}" />
											<p:ajax event="change" update="msgsParameterTypeId @this"/>
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>  
							    	<p:message for="cmbParameterType" display="icon"  id="msgsParameterTypeId"/>
							    	</h:panelGrid>
									</td>									
								</tr> 								
							</table>	
					</p:fieldset>	
					
				
					<p:fieldset style="margin-top:10px">	
							<table>	
								
								<tr>
									<td  width="220px"><h:outputText value="#{msgs['lbl.short.name']} (*)" styleClass="required-field"/>
									</td>
									<td width="50%">
									<h:panelGrid columns="2"> 									
										<p:inputText id="txtShortName"  
												 	 value="#{accountingParameterMgmtBean.accountingParameterSelection.parameterName}"
												     label="#{msgs['lbl.short.name']}" >
										<p:ajax event="blur" update="msgsShortNameId @this"/>	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	      
										</p:inputText>	 
								    	<p:message for="txtShortName" display="icon"  id="msgsShortNameId"/>
									</h:panelGrid>	
									</td>
									
									<td><h:outputText value="#{msgs['lbl.correlative.code']}"/>
									</td>
									<td> 
										<p:inputText id="txtCorrelativeCode" 
												     value="#{accountingParameterMgmtBean.accountingParameterSelection.nrCorrelative}"
												     disabled="true" >
										</p:inputText>	
									</td>
								</tr>	
								
								<tr>
									<td><h:outputText value="#{msgs['lbl.description.general.parameters']} (*)" styleClass="required-field"/>
									</td>
									<td> 
									<h:panelGrid columns="2"> 
										<p:inputTextarea  id="txtDescription"
														  style="width:300px;height:40px;"  effectDuration="400"  maxlength="200"
										                  value="#{accountingParameterMgmtBean.accountingParameterSelection.description}"
									                      label="#{msgs['lbl.description.general.parameters']}" >	
											<p:ajax event="blur" update="msgsDescriptionId @this"/>	
											<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />														  
										</p:inputTextarea> 
								    	<p:message for="txtDescription" display="icon"  id="msgsDescriptionId"/>
						 		    </h:panelGrid>	
									</td>
								</tr>	

								<tr>
	        						<td  align="center" colspan="5"> 
	        						 
	        							<p:commandButton value="#{msgs['btn.modify']}"  
								   						 icon="ui-edit" id="cmbSaveModify"   
	        							                 actionListener="#{accountingParameterMgmtBean.beforeModifyParameter}" 
	        							                 update="@form cnfIdServiceModify cnfIdAlertModifyDialog" 
	        							                   />   
	        										 <p:spacer width="5" height="0"></p:spacer>	    
	        							<p:commandButton id="cmbBack" value="#{msgs['btn.back']}" icon="fa fa-undo"										
														 immediate="true" process="@this" update="@form cnfIdCleanBack"
														 action="#{accountingParameterMgmtBean.beforeModifyBackToSearch}"   
													     />		 					
									</td>									
								</tr>	 
																
							</table> 
							
						</p:fieldset> 
							 
							 
					</td>
				</tr>
		
		</table>
		
			   
			  
		<p:confirmDialog widgetVar="cnfWConfirmModify" id="cnfIdServiceModify" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmModify.hide()" update="@form"
				             actionListener="#{accountingParameterMgmtBean.modifyAccountingParameter}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmModify.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
		<p:confirmDialog widgetVar="cnfWConfirmCleanBack" id="cnfIdCleanBack" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanBack.hide()" update="@form"
				             action="#{accountingParameterMgmtBean.goToBackToSearch}" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanBack.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
			 
		<p:confirmDialog widgetVar="cnfWSuccessDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWSuccessDialog').hide()" 
			 				 value="#{msgs['btn.accept']}"
					    	 action="parameterSearch" immediate="true" process="@this"  />
		</p:confirmDialog>		
	
		<p:confirmDialog widgetVar="cnfWAlertModifyDialog" id="cnfIdAlertModifyDialog" message="#{bodyMessageView}"
					 header="#{headerMessageView}" closable="false"  severity="alert"> 
		<p:commandButton onclick="cnfWAlertModifyDialog.hide()" 
		 				 value="#{msgs['btn.accept']}"
						 immediate="true" process="@this"  />
		</p:confirmDialog>
		    		 
			
	</h:form>	
	 
	      	   
	</ui:define>
</ui:composition>
</html>