<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
	

	<h:outputText value="#{msgs['opt.adm.general.parameters']}"
				  styleClass="title-page"/> 
	
	<h:form id="frmSearchAccountingParameter">
	
		<table width="100%">	 
		
				<tr>
					<td align="right"> 
						<p:commandButton value="#{msgs['btn.new.parameter']}" icon="fa fa-edit"  immediate="true" 
						                 action="parameterRegister"  
						                 actionListener="#{accountingParameterMgmtBean.loadCmbDataSearch()}"
						                 rendered="#{userPrivilege.userAcctions.register}" 
						                 />
					</td>
				</tr>
				
				
				<tr>
					<td>
						<p:fieldset legend="#{msgs['search.accounting.legend']}"> 
							<table width="100%"> 
								<tr> 
									<td width="220px">
										<h:outputText value="#{msgs['lbl.parameter.type']}"/>
									</td>									
									<td align="left"> 
										<h:panelGrid columns="2"> 
											<p:selectOneMenu id="cmbParameterType" style="width:250px;" 
															 value="#{accountingParameterMgmtBean.accountingParameterTo.parameterType}" 
															 label="#{msgs['lbl.parameter.type']}" >  
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
												<f:selectItems value="#{accountingParameterMgmtBean.listParameterType}"
															   var="parameterList"
															   itemLabel="#{parameterList.parameterName}" 
															   itemValue="#{parameterList.parameterTablePk}" />															   
											
											<p:ajax event="change" update="@form" listener="#{accountingParameterMgmtBean.cleanResultAccountingParameterDataModel}"/>				   
											</p:selectOneMenu> 
															
										</h:panelGrid>
									</td>  
									


									<td width="150px">
										<h:outputText value="#{msgs['lbl.short.name']}" />  
									</td>
									<td align="left"> 
										<p:inputText id="txtParameterName" 
													 value="#{accountingParameterMgmtBean.accountingParameterTo.parameterName}">
								        </p:inputText>
									</td>  
								</tr> 
								
								<tr>
									<td  align="center" colspan="4"> 
										<p:commandButton id="cmbSearch" 
										                 value="#{msgs['btn.search']}" 
										                 icon="fa fa-search"
										                 actionListener="#{accountingParameterMgmtBean.searchParameterAccounting}" 	         	        							                   
										                 update="@form" 
										                 /> 
										<p:spacer width="5" height="0"></p:spacer>                 
										<p:commandButton id="cmbClean"
										 				 value="#{msgs['btn.clean']}"
										 				 icon="fa fa-trash"
										 				 actionListener="#{accountingParameterMgmtBean.cleanMgmtParameterAccounting}" 	        	        							 				 
										 				 update="@form" /> 
									</td>		         	
								</tr>
								
							</table> 
						</p:fieldset>

					</td>
				</tr>
					<tr>
				     <td>
					     <p:outputPanel autoUpdate="true"  id="panelPrivileges">
			                  <p:outputPanel 
								rendered="#{accountingParameterMgmtBean.accountingParameterDataModel.rowCount >= 1}">
							     	<arkp:privileges id="praderaPrivileges"
						       
							       actionModify="#{accountingParameterMgmtBean.beforeModifyParameterAccounting}"
							       
							       actionListenerBlock="#{accountingParameterMgmtBean.beforeLockedParameterAccounting}"
							       
							       actionListenerUnblock="#{accountingParameterMgmtBean.beforeUnlockedParameterAccounting}"
							      
							       actionListenerDelete="#{accountingParameterMgmtBean.beforeDeletedParameterAccounting}"
							       							       
							       actionListenerActivate="#{accountingParameterMgmtBean.beforeActivedParameterAccounting}"
							       
							       actions="#{userPrivilege.userAcctions}"
								   renders="#{userPrivilege.privilegeComponent}"
							       
							             
							       />  
					     		</p:outputPanel>
					     </p:outputPanel>          
				     </td>
				    </tr>
									
				<ui:remove>
				<tr>
					<td>
						<h:panelGroup rendered="#{(accountingParameterMgmtBean.accountingParameterDataModel.rowCount >= 1)}">
							<p:panel id="panelBtn"  >
							<p:commandButton value="#{msgs['btn.modify']}"  
								   icon="ui-edit"  								   
								   update="cnfIdDialogMessage"
								   action="#{accountingParameterMgmtBean.beforeModifyParameterAccounting}"
								       />
							<p:spacer width="5" height="0"></p:spacer>
								<p:commandButton value="#{msgs['btn.lock']}"   
								 icon="ui-icon-locked" 
								 update="cnfIdDialogMessage, cnfIdParameterLocked"  
								 actionListener="#{accountingParameterMgmtBean.beforeLockedParameterAccounting}" 
								  	   />
							<p:spacer width="5" height="0"></p:spacer>	 
								<p:commandButton value="#{msgs['btn.unlock']}" 
								 icon="ui-icon-unlocked"  
								 update="cnfIdDialogMessage, cnfIdParameterUnlcoked"  
								 actionListener="#{accountingParameterMgmtBean.beforeUnlockedParameterAccounting}"
								 		/>							
							<p:spacer width="5" height="0"></p:spacer>	 
								<p:commandButton value="#{msgs['btn.delete']}" 
								icon="ui-remove"  
								update="cnfIdDialogMessage, cnfIdParameterDeleted"  
								actionListener="#{accountingParameterMgmtBean.beforeDeletedParameterAccounting}"
									  	 />	
							<p:spacer width="5" height="0"></p:spacer>	 
								<p:commandButton value="#{msgs['btn.active']}" 
								icon="ui-confirm"
								update="cnfIdDialogMessage, cnfIdParameterActived"  
								actionListener="#{accountingParameterMgmtBean.beforeActivedParameterAccounting}"
									  	 />			  	 
									  	 
							</p:panel>
						</h:panelGroup>
					</td>
				</tr>	
				</ui:remove>
				
				<tr>
					<td>
					<p:outputPanel id="result">
						<p:fieldset legend="#{msgs['lbl.results.parameters']}" rendered="#{(accountingParameterMgmtBean.accountingParameterDataModel.rowCount >= 1)}">
							<p:dataTable id="dtbResult"
								var="parameterAccounting" 								
								value="#{accountingParameterMgmtBean.accountingParameterDataModel}"
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="#{gmsgs['dtb.current.pages.report.template']}" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								rowsPerPageTemplate="5,10,15"	
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{accountingParameterMgmtBean.accountingParameterSelection}"
								rowKey="#{parameterAccounting.idAccountingParameterPk}"
				                >			
								
								<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode" />
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.short.name']}" />
									</f:facet>
																
									<p:commandLink actionListener="#{accountingParameterMgmtBean.accountingParameterOnConsult}"  
									  styleClass="content-center"												
									  action="parameterRegister"
									  value="#{parameterAccounting.parameterName}"  style="color:blue" >
									<f:attribute name="blockInformation" value="#{parameterAccounting}"  /> 
									</p:commandLink>									
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.parameter.type']}" />
									</f:facet>
									<h:outputText  value="#{parameterAccounting.descriptionParameterType}"/>
								</p:column>
 
 								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.nr.correlative']}" />
									</f:facet>
									<h:outputText  value="#{parameterAccounting.nrCorrelative}"/>
								</p:column>  
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.parameter.state']}" />
									</f:facet>
									<h:outputText  value="#{parameterAccounting.descriptionParameterStatus}"/>
								</p:column>   
								
								 <f:facet name="footer">	
									<div style="width:100%; text-align:left" id="idDivRowCount" >								
									<h:outputLabel  value="#{msgs['parameter.legend.lbl.results']} #{accountingParameterMgmtBean.accountingParameterDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>
								
									 
							</p:dataTable> 
						</p:fieldset> 		
						
						   <p:fieldset legend="#{msgs['lbl.results']}" rendered="#{accountingParameterMgmtBean.accountingParameterDataModel!=null and !(accountingParameterMgmtBean.accountingParameterDataModel.rowCount >= 1)}">
								<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{!(accountingParameterMgmtBean.accountingParameterDataModel.rowCount >= 1)}"
									style="font-weight:bold;"/>							
						   </p:fieldset>  
						   								
					</p:outputPanel>
					</td>   
				</tr>	 
		</table> 
				
		
	
		
		
	
		
		
	</h:form>	
	
	
	<p:outputPanel id="opnlDialogs">
	
		<h:form id="search_popups">
		
			<p:confirmDialog widgetVar="cnfWDialogMessage" id="cnfIdDialogMessage" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false"  severity="alert"> 
				<p:commandButton onclick="PF('cnfWDialogMessage').hide()" 
			    	value="#{msgs['btn.accept']}"  
			    	action="parameterSearch" immediate="true" process="@this"  global="false"/>
			</p:confirmDialog>	
		
			<p:confirmDialog widgetVar="cnfwParameterActived" id="cnfIdParameterActived" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwParameterActived.hide()" update="@form,:frmSearchAccountingParameter"
								 actionListener="#{accountingParameterMgmtBean.updateParameterAccountingActived}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwParameterActived.hide()"
								 process="@this" />
			</p:confirmDialog>			
				
			<p:confirmDialog widgetVar="cnfwParameterLocked" id="cnfIdParameterLocked" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwParameterLocked.hide()" update="@form,:frmSearchAccountingParameter"
								 actionListener="#{accountingParameterMgmtBean.updateParameterAccountingLocked}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwParameterLocked.hide()"
								 process="@this" />
			</p:confirmDialog>
			
			<p:confirmDialog widgetVar="cnfwParameterUnlcoked" id="cnfIdParameterUnlcoked" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwParameterUnlcoked.hide()" update="@form,:frmSearchAccountingParameter"
								 actionListener="#{accountingParameterMgmtBean.updateParameterAccountingUnlocked}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwParameterUnlcoked.hide()"
								 process="@this" />
			</p:confirmDialog> 
						
			<p:confirmDialog widgetVar="cnfwParameterDeleted" id="cnfIdParameterDeleted" message="#{bodyMessageView}" header="#{headerMessageView}"
				 closable="false" > 
				<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfwParameterDeleted.hide()" update="@form,:frmSearchAccountingParameter"
								 actionListener="#{accountingParameterMgmtBean.updateParameterAccountingDeleted}" process="@this" />
				<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfwParameterDeleted.hide()"
								 process="@this" />
			</p:confirmDialog> 
		</h:form>
	
	</p:outputPanel>
	
	
	</ui:define>
</ui:composition>
</html>