<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	 
	<h:outputText value="#{msgs['opt.adm.general.parameters.register']}"  styleClass="title-page" 
				  rendered="#{!(accountingParameterMgmtBean.consult)}"/>
	
	<h:outputText value="#{msgs['opt.adm.general.parameters.consult']}"  styleClass="title-page" 
				  rendered="#{(accountingParameterMgmtBean.consult)}"/>			  	

<h:form id="frmAccountingParameterRegister">
	
		<table width="100%">
		
				<tr>
					<td>
					
					<p:fieldset legend="#{msgs['lbl.parameter.data']}" >
							<table width="100%" border="0">	
												
								<tr>	
									<td width="220px">
										<h:outputText value="#{msgs['lbl.parameter.type']} (*)" styleClass="required-field" />
									</td>									
									<td align="left"> 
									<h:panelGrid columns="2"> 
										<p:selectOneMenu id="cmbParameterType" style="width:250px;"  rendered="#{!(accountingParameterMgmtBean.consult)}"
													     value="#{accountingParameterMgmtBean.parameterTypeSelected}" label="#{msgs['lbl.parameter.type']}">  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingParameterMgmtBean.listParameterType}"
											 			   var="parameterList"
											               itemLabel="#{parameterList.parameterName}" 
											               itemValue="#{parameterList.parameterTablePk}" />
											<p:ajax event="change" update="msgsParameterTypeId @this" global="false"/>
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu> 
										<p:selectOneMenu id="cmbParameterTypeConsult" style="width:250px;" rendered="#{(accountingParameterMgmtBean.consult)}"
													     value="#{accountingParameterMgmtBean.parameterTypeSelected}" disabled="true" >  
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1"/>
											<f:selectItems value="#{accountingParameterMgmtBean.listParameterType}"
											 			   var="parameterList" 
											               itemLabel="#{parameterList.parameterName}" 
											               itemValue="#{parameterList.parameterTablePk}" />
										</p:selectOneMenu>
							    	<p:message for="cmbParameterType" display="icon"  id="msgsParameterTypeId"/>
							    	</h:panelGrid>
									</td>									
								</tr> 								
							</table>	
					</p:fieldset>	
					
				
					<p:fieldset style="margin-top:10px">	
							<table>	
								
								<tr>
									<td  width="220px"><h:outputText value="#{msgs['lbl.short.name']} (*)" styleClass="required-field"/>
									</td>
									<td width="50%">
									<h:panelGrid columns="2"> 									
										<p:inputText id="txtShortName" rendered="#{!(accountingParameterMgmtBean.consult)}"
												 	 value="#{accountingParameterMgmtBean.accountingParameterTo.parameterName}"
												     label="#{msgs['lbl.short.name']}" >
										<p:ajax event="blur" update="msgsShortNameId @this"/>	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	      
										</p:inputText>	
										<p:inputText id="txtShortNameConsult" rendered="#{(accountingParameterMgmtBean.consult)}"
												 	 value="#{accountingParameterMgmtBean.accountingParameterTo.parameterNameConsult}"
												     disabled="true" >
										</p:inputText>	
								    	<p:message for="txtShortName" display="icon"  id="msgsShortNameId"/>
									</h:panelGrid>	
									</td>
									
									<td><h:outputText value="#{msgs['lbl.correlative.code']}"/>
									</td>
									<td> 
										<p:inputText id="txtCorrelativeCode" 
												     value="#{accountingParameterMgmtBean.accountingParameterTo.correlativeCode}"
												     disabled="true" >
										</p:inputText>	
									</td>
								</tr>	
								
								<tr>
									<td><h:outputText value="#{msgs['lbl.description.general.parameters']} (*)" styleClass="required-field"/>
									</td>
									<td>  
									<h:panelGrid columns="2"> 
										<p:inputTextarea  id="txtDescription" rendered="#{!(accountingParameterMgmtBean.consult)}"
														  style="width:300px;height:40px;"  effectDuration="400"  maxlength="200"
										                  value="#{accountingParameterMgmtBean.accountingParameterTo.description}"
									                      label="#{msgs['lbl.statements.description']}" >	
											<p:ajax event="blur" update="msgsDescriptionId @this" global="false" />	
										<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	      
										</p:inputTextarea>
										<p:inputTextarea  id="txtStatementsDescripciptionConsult" rendered="#{(accountingParameterMgmtBean.consult)}"
														  style="width:300px;height:40px;"  effectDuration="400"  maxlength="200" disabled="true" 
										                  value="#{accountingParameterMgmtBean.accountingParameterTo.description}"
									                      >										              		
										</p:inputTextarea>
								    	<p:message for="txtDescription" display="icon"  id="msgsDescriptionId"/>
						 		    </h:panelGrid> 
									</td>
								</tr>	

								
								<tr>
	        						<td  align="center" colspan="5"> 
	        						 
	        							<p:commandButton id="cmbSave"  value="#{msgs['btn.save']}"  icon="fa fa-save"
	        											 rendered="#{!(accountingParameterMgmtBean.consult)}"
	        							                 actionListener="#{accountingParameterMgmtBean.beforeRegisterParameter}" 
	        							                 update="@form cnfIdParameterSave :opnlGenericDialogs" 
	        							                   />   
	        										 <p:spacer width="5" height="0"></p:spacer>		      
 	        					 		<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}"  icon="fa fa-trash"
	        							 				 update="@form"  
	        							 				 oncomplete="cnfwClean.hide()" 
	        							 				 rendered="#{!(accountingParameterMgmtBean.consult)}"
	        							 				 actionListener="#{accountingParameterMgmtBean.cleanParamterTo}"
	        							 				 process="@this" /> 
	        										<p:spacer width="5" height="0"></p:spacer>		      						
	        							<p:commandButton id="cmbBack" value="#{msgs['btn.back']}" icon="fa fa-undo"										
														 immediate="true" process="@this" update="@form cnfIdCleanBack"
														 rendered="#{!(accountingParameterMgmtBean.consult)}"
														 action="#{accountingParameterMgmtBean.beforeBackToSearch}"   
													     />	
													<p:spacer width="5" height="0"></p:spacer>		        						
	        							<p:commandButton id="cmbBackConsult" value="#{msgs['btn.back']}" icon="fa fa-undo"										
														 immediate="true" process="@this" 
														 rendered="#{(accountingParameterMgmtBean.consult)}"
														 action="parameterSearch" 
													     />		 					
									</td>									
								</tr>	 
																
							</table> 
							
						</p:fieldset> 
							 
							 
					</td>
				</tr>
		
		</table>
		
			  
			  
		<p:confirmDialog widgetVar="cnfWConfirmSave" id="cnfIdParameterSave" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmSave.hide()" update="@form"
				             actionListener="#{accountingParameterMgmtBean.saveAccountingParameter}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmSave.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWConfirmCleanRegister" id="cnfIdCleanRegister" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanRegister.hide()" update="@form" process="@this" 
				             actionListener="#{accountingParameterMgmtBean.cleanRegisterParameterAccounting}"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanRegister.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
		<p:confirmDialog widgetVar="cnfWConfirmCleanBack" id="cnfIdCleanBack" message="#{bodyMessageView}" header="#{headerMessageView}"
			 			 closable="false" rendered="true"> 
			<p:commandButton value="#{msgs['btn.yes']}" oncomplete="cnfWConfirmCleanBack.hide()" update="@form"
				             action="#{accountingParameterMgmtBean.goToBackToSearch}" process="@this"/>
			<p:commandButton value="#{msgs['btn.no']}" oncomplete="cnfWConfirmCleanBack.hide()" 
						     process="@this" />
		</p:confirmDialog>	
		 
			 
		<p:confirmDialog widgetVar="cnfWSuccessDialog" id="cnfIdConfirmDialog" message="#{bodyMessageView}"
						 header="#{headerMessageView}" closable="false"  severity="alert"> 
			<p:commandButton onclick="PF('cnfWSuccessDialog').hide()" 
			 				 value="#{msgs['btn.accept']}"
					    	 action="parameterSearch" immediate="true" process="@this"  />
		</p:confirmDialog>		
		
		    		 
			
	</h:form>	
	 
	      	   
	</ui:define>
</ui:composition>
</html>