<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<script type="text/javascript">
				$(window).load(function(){
					setInitialFormState('#frmSegmentPlacementSearch');
					setAllHolidays('${placementSegmentMgmtBean.allHolidays}');
				});
			</script>
			
			<h:form id="frmSegmentPlacementSearch" enctype="multipart/form-data">
			<table width="100%">				
				<tr>
					<td>
					<table width="100%">
						<tr>
							<td align="left">
								<h:outputText value="#{gmsgs['isecurities.issuance.manageplacementsegment.title']}"  styleClass="title-page"/>
							</td>
							<td align="right">
								<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" action="placementSegmentRegistryMgmtRule" 
										 actionListener="#{placementSegmentMgmtBean.registryPlacementSegmentRequestHandler}" icon="fa fa-edit" 
										 rendered="#{userPrivilege.userAcctions.register}"/>
							</td>																				
						</tr>
					</table>
					</td>
				</tr>				
				<tr>
					<td width="100%">
					<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsPlacementData">
						<p:outputPanel id="pnlIssuerData">
						<table width="100%" border="0">
							<tr>
								<td width="10%"></td>
								<td width="40%"></td>
								<td width="10%"></td>
								<td width="40%"></td>
							</tr>						
							<tr>
								<td>
									<h:outputText value="#{msgs['issuer.lbl.issuer']} (*)" styleClass="required-field"/>
								</td>
								<td>
									<ark:issuerHelper  																								
												id="issuerHelper"
												issuer="#{placementSegmentMgmtBean.issuerRequestSearch}"														
												disabled="#{userInfo.userAccountSession.issuerInstitucion}"
												remoteListener="rmtIssuer()" 
												required="true"
												/>
									<p:remoteCommand 
												global="false" onstart="PF('statusDialogCustom').show()"
												oncomplete="PF('statusDialogCustom').hide();setInitialFormState('#frmSegmentPlacementSearch');" name="rmtIssuer" process="@this" 
												update="pnlIssuance,opnlResult,pnlButtons,:frmSegmentPlacementSearch:helpSecurity:componentSecurityHelper :opnlGenericDialogs"
												actionListener="#{placementSegmentMgmtBean.searchIssuerRequestSearch}">
									</p:remoteCommand>
								</td>
								<td>
									<h:outputText value="#{msgs['issuance.lbl.code']} "/>
								</td>
								<td>
									<p:outputPanel id="pnlIssuance">
									<ark:issuanceHelper 						  
												  id="issuanceHelper"
												  blIssuer="true"
												  issuer="#{placementSegmentMgmtBean.issuerRequestSearch}"
												  issuance="#{placementSegmentMgmtBean.issuanceRequestSearch}" 
												  disabled="#{placementSegmentMgmtBean.placementSegmentTO.idIssuerPk == null}"
												  remoteListener="rmtIssuance()" 
												  />
									<p:remoteCommand 
												global="false" onstart="PF('statusDialogCustom').show()"
												oncomplete="PF('statusDialogCustom').hide();setInitialFormState('#frmSegmentPlacementSearch');"	
												name="rmtIssuance" process="@this" 
												update="opnlResult,pnlButtons"
												actionListener="#{placementSegmentMgmtBean.cleanDataModel}">
									</p:remoteCommand>			  
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{gmsgs['security.lbl.code']}" />
								</td>
								<td>
									<ark:securityHelper security="#{placementSegmentMgmtBean.placementSegmentTO.security}"
														disabled="#{placementSegmentMgmtBean.placementSegmentTO.idIssuerPk == null}"
														issuer="#{placementSegmentMgmtBean.issuerRequestSearch}" blIssuer="true"
														id="helpSecurity"/>
								</td>
								<td>
									<h:outputText value="#{msgs['placementsegment.lbl.participant.structing']}" />
								</td>
								<td>
									<p:selectOneMenu value="#{placementSegmentMgmtBean.placementSegmentTO.participant.idParticipantPk}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
										<f:selectItems value="#{placementSegmentMgmtBean.placementSegmentTO.listParticipant}" var="participant" 
													   itemLabel="#{participant.displayDescriptionCode}"
													   itemValue="#{participant.idParticipantPk}"/>
										<p:ajax process="@this" event="change" global="false"></p:ajax> 
									</p:selectOneMenu>
								</td>
							</tr>							
							<tr>
								<td>
									<h:outputText value="#{msgs['placementsegment.lbl.segmentnumber']}"/>
								</td>
								<td>
									<p:inputText maxlength="10" style="width:110px" size="10" 
									value="#{placementSegmentMgmtBean.placementSegmentTO.placementSegmentNumber}" >
										<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
										<p:ajax event="keyup" listener="#{placementSegmentMgmtBean.cleanDataModel}" 
												update="opnlResult,pnlButtons" global="false"/>	
									</p:inputText>									
								</td>
								<td>
									<h:outputText value="#{msgs['issuer.lbl.state']}"/>
								</td>
								<td>
									<p:selectOneMenu value="#{placementSegmentMgmtBean.placementSegmentTO.placementeSegmentState}"
									 style="width:200px">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
										<f:selectItems value="#{placementSegmentMgmtBean.lstCboPlacementSegmentState}" var="placeState"
													   itemValue="#{placeState.parameterTablePk}" itemLabel="#{placeState.parameterName}"/>
										<p:ajax listener="#{placementSegmentMgmtBean.cleanDataModel}" 
										 update="opnlResult,pnlButtons" event="change" global="false"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['placementsegment.lbl.segment.initialdate']}"/>
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:calendar value="#{placementSegmentMgmtBean.placementSegmentTO.initialDate}" id="calInitialDate" showOn="button" readonlyInput="false"
													pattern="#{msgs['dateFormat']}" maxdate="#{placementSegmentMgmtBean.placementSegmentTO.finalDate}" navigator="true"
													beforeShowDay="disableAllHolydays" size="10" placeholder="DD/MM/AAAA">
											<p:ajax listener="#{placementSegmentMgmtBean.cleanDataModel}"  
											update="opnlResult,pnlButtons,calEndDate" event="dateSelect" global="false"/>
											<p:ajax listener="#{placementSegmentMgmtBean.cleanDataModel}"  
											update="opnlResult,pnlButtons,calEndDate" event="change" global="false"/>
											<ui:remove><f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/></ui:remove>
										</p:calendar>
										<p:message id="msgCalInitialDate" for="calInitialDate" display="icon"/>
									</h:panelGrid>									
								</td>
								<td>
									<h:outputText value="#{msgs['placementsegment.lbl.segment.finaldate']}"/>
								</td>
								<td> 
									<h:panelGrid columns="2">
										<p:calendar value="#{placementSegmentMgmtBean.placementSegmentTO.finalDate}" id="calEndDate" showOn="button" readonlyInput="false"  
													mindate="#{placementSegmentMgmtBean.placementSegmentTO.initialDate}" pattern="#{msgs['dateFormat']}" navigator="true"
													beforeShowDay="disableAllHolydays" size="10" placeholder="DD/MM/AAAA"	>
											<p:ajax listener="#{placementSegmentMgmtBean.cleanDataModel}" 
											update="opnlResult,pnlButtons,calInitialDate" event="dateSelect" global="false"/>
											<p:ajax listener="#{placementSegmentMgmtBean.cleanDataModel}"  
											update="opnlResult,pnlButtons,calEndDate" event="change" global="false"/>
											<ui:remove><f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/></ui:remove>
										</p:calendar>
										<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
									</h:panelGrid>									
								</td>
							</tr>							
							<tr>
							<td colspan="8" align="center">
								<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
												 update="opnlResult,flsPlacementData,pnlButtons,:opnlGenericDialogs" process="@this" 
												 actionListener="#{placementSegmentMgmtBean.searchPlacementSegmentHandler}"
												 rendered="#{userPrivilege.userAcctions.search}"/>
												 
								<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
												 actionListener="#{placementSegmentMgmtBean.cleanPlacementSegmentSearchHandler}" process="@this" 
												 update="opnlResult,flsPlacementData,pnlButtons,:opnlGenericDialogs"
												 rendered="#{userPrivilege.userAcctions.search}"/>
												 
								<p:commandButton id="cmbEjecutarBatch" value="Ejecutar" icon="fa fa-trash" 
												 actionListener="#{placementSegmentMgmtBean.testBatchProcess}" process="@this" 
												 update="opnlResult,flsPlacementData,pnlButtons,:opnlGenericDialogs"
												 rendered="false"/>		
												 		 
								<p:confirmDialog message="Proceso Batch ejecutado Satisfatoriamente" id="batchOk" widgetVar="batchWOk" closable="false">
									<p:commandButton value="ok" onclick="PF('batchWOk').hide()" action="searchPlacementeSegmentMgmt" ajax="false"></p:commandButton>
								</p:confirmDialog>
							</td>
							</tr>
						</table>
						</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="pnlButtons">						
							<p:outputPanel id="pnlButton" rendered="#{(placementSegmentMgmtBean.placementSegmentDataModel.rowCount >= 1)}">	
								<table>
									<tr>
										<td>
											<comp:privileges actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"
												 actionModify="#{placementSegmentMgmtBean.beforeModifyAction}"
												 actionConfirm="#{placementSegmentMgmtBean.beforeConfirmAction}" 
												 actionReject="#{placementSegmentMgmtBean.beforeRejectAction}"
												 actionBlock="#{placementSegmentMgmtBean.beforeSuspendAction}"
												 actionUnblock="#{placementSegmentMgmtBean.beforeSuspendUpAction}"
												 valueBlock="#{gmsgs['btn.suspend']}"
												 valueUnblock="#{gmsgs['btn.suspend.up']}">
											</comp:privileges>
										</td>
										<td>
											<p:commandButton id="cmbReopen" value="#{msgs['placementsegment.btn.reaperturar']}"
												 update="opnlResult,:opnlGenericDialogs"
												 actionListener="#{placementSegmentMgmtBean.beforeReopenRequest}" />
											<p:commandButton id="cmbReopenConf" value="#{msgs['placementsegment.btn.reaperturar.conf']}"
												 update="opnlResult,:opnlGenericDialogs, :opnlDialogs"
												 actionListener="#{placementSegmentMgmtBean.beforeReopenConfirm}"
												 rendered="#{userPrivilege.userAcctions.confirm}"/>
										</td>
									</tr>
								</table>
							</p:outputPanel>						
						</p:outputPanel>
					</td>
				</tr>				
				<tr>
					<td width="100%">
					<p:outputPanel id="opnlResult">	
					<p:outputPanel id="outPanelResult" rendered="#{placementSegmentMgmtBean.placementSegmentDataModel != null}">
						<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{placementSegmentMgmtBean.placementSegmentDataModel.rowCount>=1}">
							<p:dataTable id="dtbPlacement" var="placReq" value="#{placementSegmentMgmtBean.placementSegmentDataModel}"
										 rendered="#{(placementSegmentMgmtBean.placementSegmentDataModel.rowCount >= 1)}"
										 selection="#{placementSegmentMgmtBean.placementSegmentSession}"
										 paginator="true" rows="10"
										 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										 rowKey="#{placReq.idPlacementSegmentPk}" 
										 style="width:100% !important">
										 
								<p:column selectionMode="single" style="width:18px" />
								
								<p:column headerText="#{msgs['issuance.lbl.code']}" styleClass="content-center">
									<p:commandLink id="cmbCode" 
												   value="#{placReq.issuance.idIssuanceCodePk}" style="color:blue" action="placementSegmentDetailMgmtRule"
												   actionListener="#{placementSegmentMgmtBean.selectPlacementSegmentHandler(placReq)}"/>
								</p:column>
								<p:column headerText="#{msgs['placementsegment.lbl.segmentnumber']}" styleClass="content-center">
									<h:outputText value="#{placReq.trancheNumber}"  rendered="#{not empty placReq.trancheNumber}"/>
									<h:outputText value="S/N"  rendered="#{empty placReq.trancheNumber}"/>
								</p:column>
								<p:column headerText="#{msgs['placementsegment.lbl.segment.initialdate']}" styleClass="content-center">
									<h:outputText value="#{placReq.beginingDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['placementsegment.lbl.segment.finaldate']}" styleClass="content-center">
									<h:outputText value="#{placReq.closingDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['issuer.lbl.state']}" styleClass="content-center">
									<h:outputText value="#{placReq.stateDescription}"/>
								</p:column>						
						        <f:facet name="footer">	
									<div style="width:100%; text-align:left">
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{placementSegmentMgmtBean.placementSegmentDataModel.rowCount}"/>
						            </h:outputFormat>									
									</div>
								</f:facet>						
								<p:ajax event="page" listener="#{issuerBlockMgmtBean.changePageDatatable}"/>
							</p:dataTable>
							
						</p:fieldset>
						
						<p:panel rendered="#{!(placementSegmentMgmtBean.placementSegmentDataModel.rowCount >= 1)}">
								<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
								style="font-weight:bold;"/>	
					    </p:panel>		
					    
					</p:outputPanel>
					</p:outputPanel>
					</td>
				</tr>
			</table>
			</h:form>
			<p:outputPanel id="opnlDialogs">
				<p:messages autoUpdate="true"></p:messages>
				<h:form id="frmModals">
				<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			   						 message="#{bodyMessageView}" closable="false">
			       		<p:commandButton id="cmbConfirmButton" value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.processOperationHandler}"
			       			 			 oncomplete="PF('cnfwBlock').hide()" update="dialogConfirmOk :opnlGenericDialogs" process="@this"/>
			       		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmReopenRequest" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirmReopenRequest" 
			   						 message="#{bodyMessageView}" closable="false">
			       		<p:commandButton value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.reopenRequestPlacementSegment}"
			       			 			 oncomplete="PF('cnfwBlock').hide()" update="dialogConfirmOk :opnlGenericDialogs" process="@this"/>
			       		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirmReopenRequest').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmReopen" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirmReopen" 
			   						 message="#{bodyMessageView}" closable="false">
			       		<p:commandButton value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.reopenConfirmPlacementSegment}"
			       			 			 oncomplete="PF('cnfwBlock').hide()" update="dialogConfirmOk :opnlGenericDialogs" process="@this"/>
			       		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirmReopen').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmOk" widgetVar="dialogWConfirmOk" severity="alert" closable="false"
								 	header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton id="cmbConfirmButtonOk" value="#{msgs['btn.accept']}" action="search.xhtml" ajax="false" immediate="true"
										 process="@this" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmAccount" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirmAccount" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButtonAccount" value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.processOperationHandler}"
			      			 			 oncomplete="PF('cnfwBlock').hide()" update="dialogConfirmAccountOk :opnlGenericDialogs"/>
			      		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirmAccount').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmAccountOk" widgetVar="dialogWConfirmAccountOk" severity="alert" closable="false" header="#{headerMessageView}">
				<f:facet name="message">
					<h:outputText value="#{bodyMessageView}" />
					<ul>
					<ui:repeat var="placStruc" value="#{placementSegmentMgmtBean.placementSegmentParticipanStruc}">
						<li>
							<p:outputPanel rendered="#{not empty placStruc.description}">
								<h:outputText value="#{msgs['placementsegment.holderaccount.create']}"/>
								<h:outputText value=" #{placStruc.description} "/>
								<h:outputText value=", #{placStruc.participant.mnemonic} - #{placStruc.participant.idParticipantPk}"/>
							</p:outputPanel>
						</li>
					</ui:repeat>
					</ul>
				</f:facet>
				<p:commandButton id="cmbConfirmAccountButtonOk" value="#{msgs['btn.accept']}" action="search.xhtml" ajax="false" immediate="true"
										 process="@this" update="@form"/>
				</p:confirmDialog>
				</h:form>						
			</p:outputPanel>
			<p:outputPanel id="outputPanelModals">
			<h:form id="frmConfirm">
				<p:dialog id="dialogMotive" resizable="false"  
						  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotive" closable="false">
					<p:outputPanel id="opnlMotive">
						<table>
							<tr>
								<td width="100px">
									<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
								</td>
								<td>
									<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}" 
													 value="#{placementSegmentMgmtBean.motiveController.idMotivePK}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
										<f:selectItems value="#{placementSegmentMgmtBean.motiveController.motiveList}" var="mot" 
													   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
										<p:ajax process="@this" update="opnlMotive" event="change" listener="#{placementSegmentMgmtBean.changeMotiveHandler}" global="false"/>
										<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
									</p:selectOneMenu>
								</td>
								<td width="50px" align="right">
									<p:message for="cboMotive" display="icon" />
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" 
												  rendered="#{placementSegmentMgmtBean.motiveController.showMotiveText}"/>
								</td>
								<td>
									<p:inputText size="60" rendered="#{placementSegmentMgmtBean.motiveController.showMotiveText}" maxlength="60"
												 value="#{placementSegmentMgmtBean.motiveController.motiveText}" id="txtOtherMotive" required="true"
												 requiredMessage="#{gmsgs['lbl.insert.other.motive']}">
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									</p:inputText>
								</td>
								<td width="50px" align="right">
									<p:message for="txtOtherMotive" display="icon"/>
								</td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{placementSegmentMgmtBean.confirmMotiveHandler}"
											 update=":frmModals:dialogConfirm :outputPanelModals"/>
							<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWMotive').hide()" type="button" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
	   		</h:form>
        </p:outputPanel>
        <p:outputPanel id="outputPanelReopen">
			<h:form id="frmReopen" enctype="multipart/form-data">
				<p:dialog id="dialogReopen" resizable="false" modal="true" draggable="false"
						  header="#{msgs['lbl.header.alert.warning']}" severity="alert" widgetVar="dialogWReopen" closable="false">
					<p:outputPanel id="opnlMotiveReopen">
						<p:fieldset id="fldReopenDocument" legend="#{msgs['issuance.lbl.documentFile.issue']}" 
									styleClass="clsCboIndHaveCertificateUpd">
							<p:outputPanel id="opnlReopenDocument">
								<table width="100%"> 
									<tr>
										<td><h:outputText value="#{msgs['issuance.certificate.lbl.attached.file']}:" /></td>
										<td colspan="3" style="white-space: nowrap;width: 200px;"> 
											<p:outputPanel id="opnlFuplReopen" styleClass="fileupload-customize" layout="block">
												<p:fileUpload  	id="fuplReopenDocument"
															   	onstart="clearInvalidFileMsgFupl(fuplwReopenDocument);"
															   	widgetVar="fuplwReopenDocument" 
																label="#{gmsgs['fupl.label']}"
															    fileUploadListener="#{placementSegmentMgmtBean.reopenFileHandler}"
																mode="advanced" auto="true"  
																update="opnlFuplReopen"
																allowTypes="/(\.|\/)(doc|docx|pdf)$/"
																sizeLimit="3000000"
																invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
																invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}" 
																/>						
												<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
													
												<p:commandLink id="cmlRemoveFile" 
															   actionListener="#{placementSegmentMgmtBean.removeUploadedFileHandler}"
															   styleClass="icon"
															   process="@this" 
															   update="opnlFuplReopen"
															   rendered="#{placementSegmentMgmtBean.placementSegmentSession.reopenFileName != null}">			
													<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
												</p:commandLink>
													
												<h:outputLabel id="lblFuplReopen" 
															   value="#{placementSegmentMgmtBean.placementSegmentSession.reopenFileName==null ? gmsgs['fupl.no.selected'] : placementSegmentMgmtBean.placementSegmentSession.reopenFileName}" 
															   styleClass="label" />
															   
												<p:tooltip for="imgLimit">
													<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
														<f:param value="#{placementSegmentMgmtBean.fUploadFileSizeDisplay}"/>
														<f:param value="#{placementSegmentMgmtBean.fUploadFileTypesDisplay}"/>				
													</h:outputFormat>
												</p:tooltip>
												<p:commandLink id="cmlViewFile"  immediate="true" 
															   styleClass="icon" 
															   process="@this" ajax="false"
															   update="opnlFuplReopen"
															   rendered="#{placementSegmentMgmtBean.placementSegmentSession.reopenFileName != null}">			
													<p:graphicImage id="imgView"
																	library="img" 
																	name="icons/loupe.png"/>
													<p:fileDownload value="#{placementSegmentMgmtBean.getDownloadReopenFile(placementSegmentMgmtBean.placementSegmentSession.reopenFileName,placementSegmentMgmtBean.placementSegmentSession.reopenFile)}" />  			
												</p:commandLink>								   
											</p:outputPanel>		   				 
										</td>
									</tr>
								</table>
							</p:outputPanel>
						</p:fieldset>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterReopen" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{placementSegmentMgmtBean.confirmReopenHandler}"
											 update=":frmModals:dialogConfirm :outputPanelModals :opnlDialogs"/>
							<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWReopen').hide()" type="button" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
	   		</h:form>
        </p:outputPanel>
		</ui:define>
	</ui:composition>
</html>