<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"> 
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">
			<h:outputText value="#{gmsgs['isecurities.issuance.detailplacementsegment.title']}"  styleClass="title-page" />
			<h:form id="frmSegmentPlacementSearch">
			
			<p:outputPanel id="pnlIssuance">
			<p:outputPanel id="pnlPlacementSegment">
			<table width="100%"> 
				<tr> 
					<td> 
						<p:fieldset legend="#{msgs['issuance.lbl.data']}">
							<table width="100%"> 
								<tr> 
									<tr> 
										<td>
											<h:outputText value="#{msgs['issuer.lbl.issuer']} (*)" 
															styleClass="required-field"/>
										</td>
										<td colspan="3">
											<p:outputPanel id="pnlIssuerHelper" >
												<ark:issuerHelper 													
															id="issuerHelper"
															issuer="#{placementSegmentMgmtBean.issuerRequest}"														
															disabled="true"
															required="true"
															remoteListener="rmtIssuer()" 														
															/>									
											</p:outputPanel>
										</td>	
										<td> 
											<h:outputLabel value="#{msgs['issuer.lbl.CUI']} (*)" 
														   styleClass="required-field"/>																			
										</td>
										<td>
											<p:inputText disabled="true" maxlength="3" 
														 value="#{placementSegmentMgmtBean.issuerRequest.holder.idHolderPk}"
														 id="txtRnt" style="text-align: right;width:200px"/>
										</td>
									</tr>
									<td>
										<h:outputText value="#{msgs['issuance.lbl.code']} (*)" styleClass="required-field"/>
									</td>
									<td colspan="5"> 
										<p:outputPanel id="pnlIssuanceData">
										<p:outputPanel  id="helpIssuance">
											<ark:issuanceHelper 
													  	  id="issuanceHelper"
													  	  required="true" 
														  blIssuer="#{not empty placementSegmentMgmtBean.issuerRequest.idIssuerPk}"
														  issuer="#{placementSegmentMgmtBean.issuerRequest}"
														  issuance="#{placementSegmentMgmtBean.placementSegmentSession.issuance}"
														  disabled="true"
														  remoteListener="rmtIssuance()" 
													  	  
													  	  />

										</p:outputPanel>
										</p:outputPanel>
									</td>
								</tr>
								<tr> 
									<td width="150">
										<h:outputText value="#{msgs['placementsegment.lbl.issuance.amount']}"/>
									</td>
									<td width="250">
										<p:inputText id="txtIssuanceAmount" disabled="true" 
														value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.issuanceAmount}" 
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td width="150">
										<h:outputText value="#{msgs['placementsegment.lbl.type.issuance']}"/>
									</td>
									<td width="250">
										<p:inputText id="txtPlacemenType" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.placementTypeDescription}"
													 style="width:200px"/>
									</td>
									<td width="150">
										<h:outputText value="#{msgs['issuance.lbl.number.total.tranches']}"/>
									</td>
									<td>
										<p:inputText id="txtNumberTotalTranche" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.numberTotalTranches}"
													 style="text-align: right;width:200px"/>
									</td>
								</tr>
								<tr> 
									<td>
										<h:outputText value="#{msgs['placementsegment.lbl.placed.available']}"/>
									</td>
									<td>
										<p:inputText disabled="true" value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.amountAvailable}"
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['issuance.lbl.placed.amount']}"/>
									</td>
									<td>
										<p:inputText id="txtIsuPlaceAmount" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.placedAmount}" 
													 disabled="true" 
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.placed.securities']}" />
									</td>
									<td> 
										<p:inputText id="txtPlacedSecurities" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.placedSecuritiesBalance}" 
													 disabled="true" 
													 style="text-align: right;width:200px">
										</p:inputText>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 
						<p:fieldset legend="#{msgs['placementsegment.title.segment.control']}">
							<table width="100%"> 
								<tr> 
									<td width="150"> 
										<h:outputText value="#{msgs['issuance.lbl.number.total.registered.tranches']}" />
									</td>
									<td width="250"> 
										<p:inputText id="txtRegisteredTranches" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.registeredTranches}"
													 style="text-align: right;width:200px"/>
									</td>
									<td width="150"> 
										<h:outputText value="#{msgs['issuance.lbl.number.total.confirmed.tranches']}" />
									</td>
									<td width="250">
										<p:inputText id="txtConfirmedTranches" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.confirmedTranches}" 
													 style="text-align: right;width:200px"/>									
									</td>
									<td width="150">
										<h:outputText value="#{msgs['issuance.lbl.number.total.opened.tranches']}" />
									</td>
									<td>
										<p:inputText id="txtOpenedTranches" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.openedTranches}" 
													 style="text-align: right;width:200px"/>	
									</td>
								</tr>
								<tr> 
									<td> 
										<h:outputText value="#{msgs['placementsegment.lbl.placed.amount.registered']}"/>
									</td>
									<td> 
										<p:inputText id="txtRegisteredAmount"
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.amountRegisteredSegment}"
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['placementsegment.lbl.placed.amount.confirmed']}"/>
									</td>
									<td>
									
										<p:inputText id="txtConfirmedAmount" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.amountConfirm}"
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['placementsegment.lbl.placed.amount.open']}"/>
									</td>
									<td>
									
										<p:inputText id="txtCurAmountOpenSegment" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.openingAmount}"
													 style="text-align: right;width:200px">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>
									</td>
								</tr>
								<tr> 
									<td>
										<h:outputText value="#{msgs['issuance.lbl.number.placement.tranches']}"/>
									</td>
									<td colspan="5">
										<p:inputText id="txtNumberPlacementTranches" 
													 disabled="true" 
													 value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.closedTranches}" 
													 style="text-align: right;width:200px"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 						
					</td>
				</tr>
				<tr> 
					<td> 
				<p:fieldset id="fldSegmentReg" legend="#{msgs['placementsegment.title.segment.register']}">
					<table width="100%">
						<tr>
							<td></td>
							<td width="250">
							</td>
							<td width="150">
							</td>
							<td width="250"> 
							</td>	
							<td width="150"> 
							</td>
							<td> 
							</td>	
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['placementsegment.lbl.segment.state']} (*)" 
											  styleClass="required-field"/>
							</td>
							<td colspan="5">
								<p:inputText id="txtPlacementeState" 
											 value="#{placementSegmentMgmtBean.placementSegmentSession.placementSegmentStateDescription}" 
											 style="width:200px"
											 disabled="true">
								</p:inputText>
							</td>
						</tr>
						<tr> 
							<td>
								<h:outputText value="#{msgs['placementsegment.lbl.segment.initialdate']} (*)" 
											  styleClass="required-field"/>
							</td>
							<td>
								<p:calendar id="calInitialDate" 
											value="#{placementSegmentMgmtBean.placementSegmentSession.beginingDate}"  showOn="button" readonlyInput="true" navigator="true"
											pattern="#{msgs['dateFormat']}" maxdate="#{placementSegmentMgmtBean.placementSegmentSession.closingDate}"
											mindate="#{placementSegmentMgmtBean.initialDate}" beforeShowDay="disableAllHolydays" size="10" 
											disabled="true"> 
									<p:ajax update="calEndDate txtPlacementePeriod" event="dateSelect" global="false"/>
								</p:calendar>
							</td>
							<td>
								<h:outputText value="#{msgs['placementsegment.lbl.segment.finaldate']} (*)" styleClass="required-field"/>
							</td>
							<td> 
								<p:calendar id="calEndDate" 
											value="#{placementSegmentMgmtBean.placementSegmentSession.closingDate}"
											disabled="true"  
											showOn="button" 
											readonlyInput="true" navigator="true"  
											mindate="#{placementSegmentMgmtBean.initialDate}" pattern="#{msgs['dateFormat']}" global="false"
											beforeShowDay="disableAllHolydays" 
											size="10" 
											maxdate="#{placementSegmentMgmtBean.finalDate}">
								</p:calendar>
							</td>	
							<td> 
								<h:outputText value="#{msgs['placementsegment.lbl.segment.plaze']}"/>
							</td>
							<td > 
								<p:inputText id="txtPlacementePeriod" 
											 value="#{placementSegmentMgmtBean.placementSegmentSession.placementePeriod}" 
											 style="width:200px"
											 disabled="true">
								</p:inputText>
							</td>
						</tr>
						<tr> 
							<td>
								<h:outputText value="#{msgs['placementsegment.lbl.amount.placed']} (*)" styleClass="required-field"/>
							</td>
							<td>
								<h:panelGrid id="pnlAmountPlace" columns="2">
								<p:inputNumber value="#{placementSegmentMgmtBean.placementSegmentSession.amountToPlace}" 
												disabled="true" 
												id="txtAmountToPlace" required="true" thousandSeparator="," decimalSeparator="." maxValue="9999999999999999.99"
												requiredMessage="#{msgs['placementsegment.validation.amounttoplace.zero']}" style="width:200px" 
												>

								</p:inputNumber>
								<p:message for="txtAmountToPlace" display="icon"></p:message>
								</h:panelGrid>
							</td>
							<td>
								<h:outputText value="#{msgs['placementsegment.lbl.amount.placed.fij']}" rendered="#{placementSegmentMgmtBean.placementSegmentSession.issuance.placementType != 692}"/>
							</td>
							<td>
								<p:inputNumber id="txtPlacedAmountFixed" 
											    value="#{placementSegmentMgmtBean.placementSegmentSession.placedAmountFixedFromDetail}" 
												readonly="true" decimalPlaces="2" 
											    disabled="true"
												maxValue="#{cons['exp.max.value']}"  
												style="width:200px" 
												thousandSeparator="," decimalSeparator="."/> 
							</td>
							<td> 
								<h:outputText value="#{msgs['placementsegment.lbl.amount.placed.floating']}"/>
							</td>
							<td> 
							
								<p:inputNumber id="txtPlacedAmountFloating" 
											    value="#{placementSegmentMgmtBean.placementSegmentSession.placedAmountFloatingFromDetail}" 
												readonly="true" decimalPlaces="2" 
												disabled="true"
												maxValue="#{cons['exp.max.value']}" 
												style="width:200px" 
												thousandSeparator="," decimalSeparator="."/> 
												
										
							</td>
						</tr>
						<ui:remove>
						<tr> 
							<td> 
								<h:outputText value="#{msgs['placementsegment.lbl.participant.structing']} (*)"
											  styleClass="required-field"/>
							</td>
							<td colspan="5"> 
								<p:selectOneMenu id="cboParticipant"
												 styleClass="combo-widh-short clsCboParticipantUPd"
												 value="#{placementSegmentMgmtBean.placementSegParticipant.idParticipantPk}"
												 label="#{placementsegment.lbl.participant.structing}"
												 disabled="true"
												 > 
									 <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									 <f:selectItems value="#{placementSegmentMgmtBean.participantList}"
									 				var="part"
									 				itemValue="#{part.idParticipantPk}" 
									 				itemLabel="#{part.mnemonic} #{part.idParticipantPk} #{part.description}"/>
									 <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
									 <p:ajax update="@(.clsCboParticipantUPd)"/>
								</p:selectOneMenu>
							</td>
							<td colspan="4">
								<p:outputPanel styleClass="clsCboParticipantUPd">
									<p:message for="cboParticipant"
												display="icon"/>
								</p:outputPanel> 
							</td>
						</tr>
						</ui:remove>
						<tr> 
							<td colspan="6"> 
							<p:fieldset id="fldParticipantsReg" 
										legend="#{msgs['placementsegment.lbl.participant.colocate']}" 
										toggleable="true">
								<table> 
									<tr>
										<td> 
										
										</td>
									</tr>
									<tr>
										<td> 
										<p:outputPanel id="pnlIssuerTwo">						
											<p:outputPanel id="pnlParticipants">		
												<table width="100%">
													<tr>
														<td width="80%">
															<table width="100%">
															<tr>
																<td width="15%">
																</td>
																<td width="40%">
																	<p:message for="pickList"></p:message>
																</td>
															</tr>
															<tr>
																<td width="45%">
																	<h:outputText value="#{msgs['opt.placementsegment.participant.all']}: " style="color:gray"/>
																	<p:graphicImage id="imgHelp" style="cursor:pointer;" library="img" name="icons/help.png"/>
																	<p:tooltip for="imgHelp" value="#{msgs['opt.placementsegment.participant.message']}"/> 
																</td>
																<td><h:outputText value="#{msgs['opt.placementsegment.participant.selected']}:" style="color:gray"/> </td>
															</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td>									
														 <p:pickList id="pickList" 
														 			 value="#{placementSegmentMgmtBean.participantListModel}" 
														 			 var="part" 
														 			 styleClass="height:200px" 
												              itemLabel="#{part.idParticipantPk} - #{part.mnemonic}" itemValue="#{part}" converter="primeFacesPickListConverter" 
												              disabled="true"> 
												          <p:ajax event="transfer" listener="#{placementSegmentMgmtBean.onTransfer}" immediate="true" global="false"/>      
												         </p:pickList>		 
														</td>
													</tr>
												</table>
											</p:outputPanel>
										</p:outputPanel>
										</td>
									</tr>
								</table>
							</p:fieldset>
							</td>
						</tr>
						
						<tr> 
							<td colspan="6"> 
							<p:outputPanel id="opnlResult">	
							<p:outputPanel id="pnlSecurities" rendered="#{placementSegmentMgmtBean.placementSegmentSession.placementSegmentDetails != null}">
							<p:fieldset legend="#{msgs['opt.placementsegment.securities.issuance']}: #{placementSegmentMgmtBean.issuanceRequest.description}" toggleable="true" 
								rendered="#{placementSegmentMgmtBean.placementSegmentSession.placementSegmentDetails.size()>=1}">
								
								<p:dataTable id="datatableSecurities" 
											 value="#{placementSegmentMgmtBean.placementSegmentSession.placementSegmentDetails}"  
											 var="placementDetail" width="100%"
											 rowIndexVar="rIndx" 
											 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" emptyMessage="#{msgs['lbl.datatable.empty']}" 
											>
									<p:column headerText="#{gmsgs['security.col.code']}" 
											  styleClass="content-center" width="15%">
										<p:commandLink id="cmbSecurityCodePk" value="#{placementDetail.security.idSecurityCodePk}" process="@this" 
													   actionListener="#{placementSegmentMgmtBean.showIsinDetail(placementDetail.security.idSecurityCodePk)}"
													   update=":frmSegmentPlacementSearch:opnlSecurityInfoHelper"
													   />
									</p:column>
									<p:column headerText="#{msgs['security.lbl.isin.code']}" styleClass="content-center" width="5%">							
										<h:outputText  value="#{placementDetail.security.idIsinCode}"/>
									</p:column>
									<p:column headerText="#{msgs['security.lbl.cfi.code']}" styleClass="content-center" width="5%">
										<h:outputText value="#{placementDetail.security.cfiCode}"/>
									</p:column>
									<p:column headerText="#{msgs['security.lbl.description']}"> 
										<h:outputText value="#{placementDetail.security.description}"/>
									</p:column>
									<p:column headerText="#{msgs['security.lbl.currency']}" styleClass="content-center"> 
										<h:outputText value="#{placementDetail.security.currencyIsoTypeDescription}"/>
									</p:column>
									<p:column headerText="#{msgs['placementsegment.lbl.type.issuance']}" styleClass="content-center" rendered="#{!(placementSegmentMgmtBean.mixedSecurityPlacementType) }"> 
										<h:outputText value="#{placementSegmentMgmtBean.placementSegmentSession.issuance.placementTypeDescription}"/>
									</p:column>
									<p:column headerText="#{msgs['placementsegment.lbl.type.issuance']}" styleClass="content-center" rendered="#{placementSegmentMgmtBean.mixedSecurityPlacementType }"> 
										<h:selectOneMenu disabled="#{!(placementDetail.selected) || placementSegmentMgmtBean.placementSegmentSession.placementSegmentState==582}" value="#{placementDetail.placementSegmentDetType}" required="true" id="selectType"
														 requiredMessage="#{msgs['placementsegment.validation.security.isin']}">
											<f:selectItem itemLabel="#{msgs['lbl.select']}"/>
											<f:selectItems value="#{placementSegmentMgmtBean.someSecurityPlacementTypeList}" var="plac" itemLabel="#{plac.value}" itemValue="#{plac.code}"/>
											<p:ajax update="datatableSecurities, :opnlGenericDialogs, :cnfMsgCustomValidationSec" global="false"
											 listener="#{placementSegmentMgmtBean.evaluatePlacedAmountHandlerFloating(placementDetail,placementSegmentMgmtBean.placementSegmentSession.placementSegmentDetails)}" />
											<p:message for="selectType" display="icon"></p:message>
										</h:selectOneMenu>
									</p:column>
									<p:column headerText="#{msgs['placementsegment.lbl.security.valnom']}" styleClass="content-right">
										<h:outputText value="#{placementDetail.security.currentNominalValue}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['placementsegment.col.security.balance']}"
											  styleClass="content-right" width="200px">
										<h:outputText value="#{placementDetail.securityBalance}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['placementsegment.lbl.security.amountplacement']}" styleClass="content-right" 
											  rendered="#{!(placementSegmentMgmtBean.floatingSecurityPlacementType)}">
										<h:outputText value="#{placementDetail.placedAmount}" >
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['issuance.lbl.placed.operation']}" styleClass="content-right"
										rendered="#{placementSegmentMgmtBean.placementSegmentSession.shareBanking}">
										<h:outputText value="#{placementDetail.pendingOperation}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['issuance.lbl.placed.annotation']}" styleClass="content-right"
										rendered="#{placementSegmentMgmtBean.placementSegmentSession.shareBanking}">
										<h:outputText value="#{placementDetail.pendingAnnotation}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>
									</p:column>
									
									<p:column headerText="#{msgs['issuance.lbl.placed.amount']}" styleClass="content-right">
										<h:outputText value="#{placementDetail.requestAmount}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>	  
									</p:column> 
									
									<p:column headerText="#{msgs['issuance.lbl.pending.stock.place']}" styleClass="content-right" >
										<h:outputText value="#{placementDetail.pendingPlacement}">
											<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
										</h:outputText>	  
									</p:column>
									
									<p:column headerText="#{msgs['placementsegment.lbl.security.amountbalances']}" 
											  styleClass="content-right"
											  width="5%" >
										<h:outputText value="#{placementDetail.security.shareBalance}">
											<f:convertNumber pattern="#{gconst['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
										</h:outputText>
									</p:column>
								</p:dataTable>
								<p:outputPanel id="opnlSecurityInfoHelper"> 
									<ark:securities-help isinCode="" name="helpSecurity"/>
								</p:outputPanel>
							</p:fieldset>
							</p:outputPanel>
							</p:outputPanel>
							</td>
						</tr>
					</table>
				</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="Documentos Adjuntos a la Reapertura" 
									rendered="#{placementSegmentMgmtBean.placementSegmentSession.listPlacementSegmentHys.size()>=1}">
									
							<p:dataTable id="datatableReopenDocuments" 
										 value="#{placementSegmentMgmtBean.placementSegmentSession.listPlacementSegmentHys}"  
										 var="placementHys" width="50%"
										 rowIndexVar="rIndx" 
										 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}" emptyMessage="#{msgs['lbl.datatable.empty']}" 
										>
								
								<p:column headerText="#{msgs['issuance.certificate.lbl.attached.file']}" styleClass="content-center" width="30%">							
									<h:outputText  value="#{placementHys.reopenFileName}"/>
								</p:column>
								<p:column styleClass="content-center" width="15%">
									<p:commandLink id="cmlViewFileReopen"  immediate="true" 
												   styleClass="icon" 
												   process="@this" ajax="false"
												   rendered="#{placementHys.reopenFileName != null}">			
										<p:graphicImage id="imgViewReopen"
														library="img" 
														name="icons/loupe.png"/>
										<p:fileDownload value="#{placementSegmentMgmtBean.getDownloadReopenFile(placementHys.reopenFileName,placementHys.reopenFile)}" />  			
									</p:commandLink>		
								</p:column>
							</p:dataTable>
						</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 
						<table> 
						
								<tr> 
									<td colspan="6"> 
									</td>
								</tr>
						
						</table>
					</td>
				</tr>
				
			</table>
				<table align="center">
					<tr>
						<td colspan="4" width="100%" align="center">
							<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="opnlDialogs,:cnfMsgCustomValidationSec" process="@this"  
											 actionListener="#{placementSegmentMgmtBean.beforeRejectHandler}" rendered="#{placementSegmentMgmtBean.viewOperationReject}"/>
							<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" update="opnlDialogs,:cnfMsgCustomValidationSec" process="@this"
											 actionListener="#{placementSegmentMgmtBean.beforeConfirmHandler}" global="false" rendered="#{placementSegmentMgmtBean.viewOperationConfirm}"/>
							<p:commandButton value="#{gmsgs['btn.suspend']}" icon="ui-lock" update="opnlDialogs,:cnfMsgCustomValidationSec" rendered="#{placementSegmentMgmtBean.viewOperationBlock}"
												 action="#{placementSegmentMgmtBean.beforeSuspendHandler}" process="@this"/>
							<p:commandButton value="#{gmsgs['btn.suspend.up']}" icon="ui-unlock" update="opnlDialogs,:cnfMsgCustomValidationSec" rendered="#{placementSegmentMgmtBean.viewOperationUnBlock}"
											 action="#{placementSegmentMgmtBean.beforeSuspendUpHandler}" process="@this"/>
							<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" immediate="true" update=":opnlGenericDialogs" 
											 action="searchPlacementeSegmentMgmt" ajax="false"/>
						</td>
					</tr>
				</table>
			</p:outputPanel>
			</p:outputPanel>
				

				<p:outputPanel id="opnlDialogs">
					<p:confirmDialog id="cnfCleanFormMgmt" widgetVar="cnfwCleanFormMgmt" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmClean" value="#{msgs['lbl.yes']}"
											 process="@this" update="@form" onclick="PF('cnfwCleanFormMgmt').hide()"/>
							<p:commandButton value="#{msgs['lbl.no']}" onclick="PF('cnfwCleanFormMgmt').hide()" type="button"/>
					</p:confirmDialog>
					<p:confirmDialog id="cnfFormMgmt" widgetVar="cnfwFormMgmt" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}"> 
							<p:commandButton id="cmbConfirm" value="#{msgs['lbl.yes']}"  
											 actionListener="#{placementSegmentMgmtBean.savePlacementSegmentHandler}" update="@form, :opnlGenericDialogs"/>
							<p:commandButton value="#{msgs['lbl.no']}" onclick="PF('cnfwFormMgmt').hide()" type="button"/>
					</p:confirmDialog>
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}" action="searchPlacementeSegmentMgmt.xhtml" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
				<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			   						 message="#{bodyMessageView}" closable="false">
			       		<p:commandButton id="cmbConfirmButton" value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.processOperationHandler}"
			       			 			 oncomplete="PF('cnfwBlock').hide()" update="dialogConfirmOk :opnlGenericDialogs" process="@this"/>
			       		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmOk" widgetVar="dialogWConfirmOk" severity="alert" closable="false"
								 	header="#{headerMessageView}" message="#{bodyMessageView}">
						<p:commandButton id="cmbConfirmButtonOk" value="#{msgs['btn.accept']}" action="searchPlacementeSegmentMgmt.xhtml" ajax="false" immediate="true"
										 process="@this" update="@form"/>
				</p:confirmDialog>
				<p:confirmDialog id="dialogConfirmAccount" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirmAccount" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButtonAccount" value="#{msgs['btn.yes']}" actionListener="#{placementSegmentMgmtBean.processOperationHandler}"
			      			 			 oncomplete="PF('dialogwConfirmAccount').hide()" update="dialogConfirmAccountOk :opnlGenericDialogs" process="@this"/>
			      		<p:commandButton  value="#{msgs['btn.no']}" onclick="PF('dialogwConfirmAccount').hide()" type="button" update="@form"/>
				</p:confirmDialog>
				
				<p:confirmDialog id="dialogConfirmAccountOk" widgetVar="dialogWConfirmAccountOk" severity="alert" closable="false" header="#{headerMessageView}">
				<f:facet name="message">
					<h:outputText value="#{bodyMessageView}" />
					
						<ul>
						<ui:repeat var="placStruc" value="#{placementSegmentMgmtBean.placementSegmentParticipanStruc}">
							<li>
								<p:outputPanel rendered="#{not empty placStruc.description}">
									<h:outputText value="#{msgs['placementsegment.holderaccount.create']}"/>
									<h:outputText value=" #{placStruc.description} "/>
									<h:outputText value=", #{placStruc.participant.mnemonic} - #{placStruc.participant.idParticipantPk}"/>
								</p:outputPanel>
							</li>
						</ui:repeat>
						</ul>
					
				</f:facet>
				<p:commandButton id="cmbConfirmAccountButtonOk" value="#{msgs['btn.accept']}" action="searchPlacementeSegmentMgmt.xhtml" ajax="false" immediate="true"
										 process="@this" update="@form"/>
				</p:confirmDialog>
				
				<p:dialog id="dialogMotive" resizable="false"  
						  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotive" closable="false">
							<p:outputPanel id="opnlMotive">
								<table>
									<tr>
										<td width="100px">
											<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
										</td>
										<td>
											<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}" required="true" 
															 value="#{placementSegmentMgmtBean.motiveController.idMotivePK}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{placementSegmentMgmtBean.motiveController.motiveList}" var="mot" 
															   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
												<p:ajax process="@this" update="opnlMotive" event="change" listener="#{placementSegmentMgmtBean.changeMotiveHandler}" global="false"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
										</td>
										<td width="50px" align="right">
											<p:message for="cboMotive" display="icon" />
										</td>
									</tr>
									<tr>
										<td>
											<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" 
														  rendered="#{placementSegmentMgmtBean.motiveController.showMotiveText}"/>
										</td>
										<td>
											<p:inputText size="60" rendered="#{placementSegmentMgmtBean.motiveController.showMotiveText}" maxlength="60"
														 value="#{placementSegmentMgmtBean.motiveController.motiveText}" id="txtOtherMotive" required="true"
														 requiredMessage="#{msgs['lbl.other.motive']}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											</p:inputText>
										</td>
										<td width="50px" align="right">
											<p:message for="txtOtherMotive" display="icon"/>
										</td>
									</tr>
								</table>
							</p:outputPanel>
							<h:panelGrid columns="1" style="text-align:center" width="100%">
								<p:outputPanel>
									<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{placementSegmentMgmtBean.confirmMotiveHandler}"
													 update="opnlMotive" process="dialogMotive"/>
									<p:commandButton  value="#{gmsgs['btn.back']}" icon="fa fa-undo" onclick="PF('dialogWMotive').hide()" type="button" />
								</p:outputPanel>
							</h:panelGrid>
						</p:dialog>
			</p:outputPanel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>