<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
  $(window).load(function(){
  		setAllHolidays('${enforceOperationBean.allHolidays}');
  		setInitialFormState('#frmBlockEnforceOperation');
  });
</script>
<p:importEnum type="com.pradera.integration.common.type.BooleanType" var="boolType"/>
		
<h:form id="frmBlockEnforceOperation">
<marketFact:marketfactBalance id="#{enforceOperationBean.marketFactUI}" bean="#{enforceOperationBean}"  method="receiveMarketBalance" parameter="marketFactBalanceHelp">
</marketFact:marketfactBalance> 
<table width="100%">
<tr>
	<td class="title-page">
		<h:outputText value="#{gmsgs['icustody.blockenforce.register']}" styleClass="title-page"/>
	</td>
</tr>
<tr>
	<td align="left">
	<p:fieldset legend="#{msgs['lbl.register.data']}" id="flsRegisterData">
		<table width="100%">
		<tr>
			<td width="16%"></td>
			<td width="35%"></td>
			<td width="15%"></td>
			<td width="35%"></td>
		</tr>
		<tr>
			<td>								
				<h:outputText value="#{msgs['lbl.blockenforce.operation.number']} (*)" styleClass="required-field"/>								
			</td>							
			<td>
				<h:panelGrid columns="2">
				<p:inputText id="numRecord" label="#{msgs['lbl.blockenforce.operation.number']}" 
					value="#{enforceOperationBean.enforceOperation.resolutionNumber}" styleClass="content-right" maxlength="12">
					<p:ajax event="change" update="@this msgNumRecord" process="@this" global="false"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
				</p:inputText>
				<p:message for="numRecord" display="icon" id="msgNumRecord"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.blockenforce.operation.date']}(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:calendar readonlyInput="true" label="#{msgs['lbl.blockenforce.operation.date']}"
					navigator="true" showOn="both" beforeShowDay="disableAllHolydays"
					maxdate="#{enforceOperationBean.currentSystemDate}" disabledWeekends="true" size="10"
					value="#{enforceOperationBean.enforceOperation.resolutionDate}" pattern="dd/MM/yyyy" id="dateRecord">
					<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" />
					<p:ajax global="false" event="dateSelect" process="@this" update="@this msgDateRecord"/>
				</p:calendar>
					<p:message for="dateRecord" display="icon" id="msgDateRecord"/>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.blockenforce.operation.type']}(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu id="typeRequest" label="#{msgs['lbl.blockenforce.operation.type']}" value="#{enforceOperationBean.enforceOperation.enforceType}">
			        <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
		            <f:selectItems value="#{enforceOperationBean.affectationTypeList}" var="parameterTable"
		            			   itemLabel="#{parameterTable.parameterName}" itemValue="#{parameterTable.parameterTablePk}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>									
					<p:ajax event="change" process="@this" listener="#{enforceOperationBean.cleanHolderAccountSource}"
							update=":frmBlockEnforceOperation:outputPanelResult"/> 										 	 							             
				</p:selectOneMenu>
				<p:message for="typeRequest" display="icon" id="msgTypeRequest"/>
				</h:panelGrid>							
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.blockenforce.operation.form']}(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu id="formRequest" label="#{msgs['lbl.blockenforce.operation.form']}" disabled="true" value="#{enforceOperationBean.enforceOperation.enforceForm}">
			        <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
		            <f:selectItems value="#{enforceOperationBean.affectationFormList}" var="parameterTable" 
		            			   itemLabel="#{parameterTable.parameterName}" itemValue="#{parameterTable.parameterTablePk}" />
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>									
					<p:ajax event="change" process="@this"/> 										 	 							             
				</p:selectOneMenu>
				<p:message for="formRequest" display="icon" id="msgFormRequest"/>
				</h:panelGrid>							
			</td>
		</tr>
		<tr>
			<td><h:outputText value="#{msgs['lbl.blockenforce.operation.observation']}" /> </td>
			<td colspan="3">
				 <p:inputTextarea size="60" cols="100" rows="5" maxlength="150" value="#{enforceOperationBean.enforceOperation.observations}" id="txtObservations"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.affectation.register.file']} (*)" styleClass="required-field"/>
			</td>
			<td align="left">
			<p:outputPanel id="opnlFile" styleClass="fileupload-customize" layout="block">														
			<p:fileUpload id="fuplBan"
 									widgetVar="fuplwBan" 
									label="#{msgs['fupl.label']}"
									fileUploadListener="#{enforceOperationBean.documentFileHandler}"
									mode="advanced" auto="true"  
									update=":frmBlockEnforceOperation:opnlFile, :frmBlockEnforceOperation:pnlFileDetail"
									allowTypes="/(\\.|\\/)(#{enforceOperationBean.fUploadFileDocumentsTypes})$/"
									sizeLimit="#{enforceOperationBean.fUploadFileSize}"
									invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
									invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"/>
					<script type="text/javascript">
			$(document).ready(function(){
				fileuploadValidate('fuplwBan');	
			});		
			</script>
			<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
			<p:tooltip for="imgLimit">
				<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
				<f:param value="#{enforceOperationBean.fUploadFileSizeDocumentsDisplay}"/>
				<f:param value="#{enforceOperationBean.fUploadFileTypesDocumentsDisplay}"/>			
				</h:outputFormat>
			</p:tooltip>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">
				<p:outputPanel id="pnlFileDetail">
				<p:dataTable id="dtbDocument" var="fileDocument" rowIndexVar="regNum" value="#{enforceOperationBean.enforceOperation.blockEnforceFiles}"	
							 rendered="#{enforceOperationBean.enforceOperation.blockEnforceFiles != null}">
					<p:column width="5px">
						<f:facet name="header">
							<h:outputText value="N°"/>
						</f:facet>
						<h:outputText value="#{regNum + 1}"/>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.document.file.name']}" />
						</f:facet>
						<h:outputText value="#{fileDocument.fileName}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.document.file.size']}" />
						</f:facet>
						<h:outputText value="#{fileDocument.fileSize} KB">
							<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}" />
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.document.view']}" />
						</f:facet>
						<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true" process="@this"
							onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
							update=":frmBlockEnforceOperation:opnlFile, :frmBlockEnforceOperation:pnlFileDetail"
							rendered="#{enforceOperationBean.enforceOperation.fileName != null}">			   
						<p:graphicImage id="imgView" library="img" title="VER" name="icons/loupe.png"/>
						<p:fileDownload value="#{enforceOperationBean.streamedContentFile}" />							
						</p:commandLink>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.document.delete']}" />
						</f:facet>
						<p:commandLink id="cmlRemoveFile"
							actionListener="#{enforceOperationBean.removeUploadedFileHandler}"
							styleClass="icon" process="@this"
							update=":frmBlockEnforceOperation:opnlFile, :frmBlockEnforceOperation:pnlFileDetail" 
							immediate="true">
							<p:graphicImage id="imgRemove" library="img"
								title="remover" name="buttons/remove.png" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
				</p:outputPanel>
			</td>
		</tr>
<!-- 		</table> -->
<!-- 		<table width="100%"> -->
<!-- 		<tr> -->
<!-- 			<td colspan="4"> -->
<!-- 			<p:tabView effect="clip" effectDuration="normal" id="tabCui"> -->
<!-- 				<p:tab title="#{msgs['lbl.blockenforce.operation.debtor']}"> -->
<!-- 				<table width="100%"> -->
		<tr>
			<td colspan="4">
				<p:fieldset id="flsCreditor" legend="#{msgs['lbl.blockenforce.operation.creditor']}"> 
				<table width="100%">
					<tr>
						<td width="15%"></td>
						<td width="35%"></td>
						<td width="15%"></td>
						<td width="35%"></td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.blockenforce.operation.debtor.holder']} (*)" styleClass="required-field"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="4">
							<ark:holderHelper holder="#{enforceOperationBean.enforceOperation.holderSource}" remoteListener="updateHolder()" id="idCuiHelp"
											  label="#{msgs['lbl.blockenforce.operation.debtor.holder']}" required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"/>
							<p:remoteCommand name="updateHolder" actionListener="#{enforceOperationBean.searchHolderAccountList}" process="@this" 
											 update="panelButton, :frmBlockEnforceOperation:idCuiHelp:outpnlHolder,								 		  
											 		 pnlHolderAccount, idMsgAlertHolder,
											 		 :frmBlockEnforceOperation:outputPanelResult :opnlGenericDialogs"/>
							<p:message for="idCuiHelp" display="icon" id="idMsgAlertHolder"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<h:outputText value="#{msgs['lbl.blockenforce.operation.debtor.account']}:" />						
						</td>
						<td colspan="3">
						<p:outputPanel id="pnlHolderAccount">								
							<p:dataTable value="#{enforceOperationBean.holderAccountList}" var="list1" rows="3" paginator="true"
										 paginatorPosition="top" rendered="#{not empty enforceOperationBean.holderAccountList}">
								<p:column styleClass="content-center" sortBy="#{list1.accountNumber}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.AccountHolder']}"/>
									</f:facet>
									<h:outputText value="#{list1.accountNumber}" />
								</p:column>
								<p:column styleClass="content-center" sortBy="#{list1.participant.displayMnemonicCode}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.participant']}"/>
									</f:facet>
									<h:outputText value="#{list1.participant.displayMnemonicCode}"/> 
								</p:column>
								<p:column styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.descriptionHolder']}"/>
									</f:facet>
									<h:outputText escape="false" value="#{list1.accountRntAndDescription}"/>
								</p:column>
								<p:column styleClass="content-center" sortBy="#{list1.stateAccountDescription}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.state']}"/>
									</f:facet>
									<h:outputText value="#{list1.stateAccountDescription}"/>
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value=""/>
									</f:facet>
									<p:selectBooleanCheckbox value="#{list1.selected}">
										<p:ajax event="change" listener="#{enforceOperationBean.cleanHolderAccountSource}" 
												update=":frmBlockEnforceOperation:outputPanelResult" global="false"/>
									</p:selectBooleanCheckbox>												
								</p:column>
							</p:dataTable>
						</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td colspan="4"> 
							<p:separator></p:separator>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['commons.label.blockEntity']} (*)" styleClass="required-field"/>
						</td>
						<td colspan="3">
							<p:outputPanel id="blocklEntity">
								<h:panelGrid columns="3" rendered="#{enforceOperationBean.viewOperationRegister}">
								<ark:blockEntityHelper id="nidBlockEntity" blockEntity="#{enforceOperationBean.enforceOperation.blockEntity}" 
													   required="true" label="#{msgs['commons.label.blockEntity']}" remoteListener="updateField()"
													   validatorName="com.pradera.commons.view.validators.InputTextValidator"/>
									<p:remoteCommand name="updateField" process="@this" actionListener="#{enforceOperationBean.searchBlockEntity}"
													 update=":frmBlockEnforceOperation:nidBlockEntity:nidBlockEntity, nidMsgBlockEntity, 
													 		 chkBlockCreditor,pnlHolderHelper,pnlAccountTarget,
													 		 :frmBlockEnforceOperation:outputPanelResult :opnlGenericDialogs"/>
									<p:message for="nidBlockEntity" display="icon" id="nidMsgBlockEntity"/>
								</h:panelGrid>
								<h:panelGrid rendered="#{!enforceOperationBean.viewOperationRegister}">
									<h:outputText value="#{enforceOperationBean.enforceOperation.blockEntity.idBlockEntityPk} - 
														 #{enforceOperationBean.enforceOperation.blockEntity.fullName}" />
								</h:panelGrid>
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.blockenforce.operation.creditor.execution']}"/>
						</td>
						<td colspan="3">
							<p:selectBooleanCheckbox value="#{enforceOperationBean.enforceOperation.isSelected}" id="chkBlockCreditor"
													 disabled="#{enforceOperationBean.enforceOperation.blockEntity.idBlockEntityPk == null}">
								<p:ajax process="@this" update="chkBlockCreditor,pnlHolderHelper,pnlAccountTarget" listener="#{enforceOperationBean.chngIndBlockEntityCreditor}"/>
							</p:selectBooleanCheckbox>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.blockenforce.operation.creditor.holder']} (*)" styleClass="required-field" id="lblCreditorHolder"/>
						</td>
						<td>
						<p:outputPanel>
							<h:panelGrid columns="4" id="pnlHolderHelper">
							<ark:holderHelper holder="#{enforceOperationBean.enforceOperation.holderTarget}" remoteListener="updateHolderTarg()" id="idCuiTargHelp"
											  label="#{msgs['lbl.blockenforce.operation.creditor.holder']}" required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
											  disabled="#{enforceOperationBean.enforceOperation.isSelected}"/>
							<p:remoteCommand name="updateHolderTarg" actionListener="#{enforceOperationBean.searchHolderAccountTargetList}" process="@this" 
											 update="pnlAccountTarget,idMsgAlertHolderTarg,:frmBlockEnforceOperation:idCuiTargHelp:outpnlHolder"/>
							<p:message for="idCuiTargHelp" display="icon" id="idMsgAlertHolderTarg"/>
							</h:panelGrid>
						</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['commons.label.AccountHolderTarget']}:" rendered="#{!enforceOperationBean.enforceOperation.isSelected}"/>
						</td>
						<td colspan="3">
							<p:outputPanel id="pnlAccountTarget">
							<p:dataTable value="#{enforceOperationBean.holderAccountTargetList}" var="account" paginatorPosition="top"
										 rendered="#{enforceOperationBean.holderAccountTargetList != null }"
										 rows="3" paginator="true" selection="#{enforceOperationBean.enforceOperation.holderAccount}"
										 rowKey="#{account.idHolderAccountPk}" emptyMessage="#{gmsgs['lbl.search.no.result']}">
								<p:column styleClass="content-center" sortBy="#{account.accountNumber}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.AccountHolder']}"/>
									</f:facet>
									<h:outputText value="#{account.accountNumber}" />
								</p:column>
								<p:column styleClass="content-center" sortBy="#{account.participant.displayMnemonicCode}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.participant']}"  />
									</f:facet>
									<h:outputText value="#{account.participant.displayMnemonicCode}"/> 
								</p:column>
								<p:column styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.descriptionHolder']}"/>
									</f:facet>
									<h:outputText escape="false" value="#{account.accountRntAndDescription}"/>
								</p:column>
								<p:column styleClass="content-center" sortBy="#{account.stateAccountDescription}">
									<f:facet name="header">
										<h:outputText value="#{msgs['commons.label.state']}"/>
									</f:facet>
									<h:outputText value="#{account.stateAccountDescription}"/>
								</p:column>
								<p:column styleClass="content-center" selectionMode="single">
									<f:facet name="header">
										<h:outputText value=""/>
									</f:facet>
								</p:column>
							</p:dataTable>
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="4">
							<p:outputPanel id="panelButton">
							<p:commandButton value="#{msgs['lbl.blockenforce.operation.find']}" icon="fa fa-search" rendered="#{not empty enforceOperationBean.holderAccountList}" 
									process="@this" update=":frmBlockEnforceOperation:outputPanelResult @form :opnlGenericDialogs" actionListener="#{enforceOperationBean.searchBlockOperations}"/>
							</p:outputPanel>
						</td>
					</tr>
				</table>	
				</p:fieldset>
			</td>
<!-- 					</tr> -->
<!-- 				</table> -->
<!-- 				</p:tab> -->
<!-- 			</p:tabView> -->
<!-- 			</td> -->
		</tr>
		<tr>
			<td colspan="4">
			<p:outputPanel id="outputPanelResult">
			<p:fieldset legend="#{msgs['lbl.blockenforce.operation.creditor.document']}" rendered="#{not empty enforceOperationBean.enforceOperation.blockEnforceDetails}">
				<p:dataTable var="bloOpe" id="dtbBlockDocuments"
							value="#{enforceOperationBean.enforceOperation.blockEnforceDetails}" paginator="true"
							paginatorPosition="top" paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
					<p:column>
						<f:facet name="header">
							<h:outputText value=""/>
						</f:facet>
						<p:selectBooleanCheckbox value="#{bloOpe.isSelected}">
							<p:ajax event="change" update=":frmBlockEnforceOperation:dtbBlockDocuments" process="@this"/>
						</p:selectBooleanCheckbox>
					</p:column>
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.custodyOperation.operationNumber}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.blockNumber']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.documentNumber}"/>
					</p:column>
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.custodyOperation.registryDate}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.registryDate']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.custodyOperation.registryDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"/>
						</h:outputText>
					</p:column>
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.blockRequest.blockType}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.blockType']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.blockRequest.blockTypeDescription}"/>
					</p:column>
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.holderAccount.accountNumber}"> 
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.accountNumber']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.holderAccount.accountNumber}"/>
					</p:column>								
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.participant.idParticipantPk}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.participant']}"  />
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.participant.mnemonic} - #{bloOpe.blockOperation.participant.idParticipantPk}"/>
					</p:column>								
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.securities.idSecurityCodePk}">
						<f:facet name="header">
							<h:outputText value="#{gmsgs['security.lbl.code']}"  />
						</f:facet>
						<ark:securities-help securityCode="#{bloOpe.blockOperation.securities.idSecurityCodePk}" link="true" icon="false" />
					</p:column>								
					<p:column styleClass="content-right" sortBy="#{bloOpe.blockOperation.originalBlockBalance}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.originalQuantity']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.originalBlockBalance}">
							<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="en_US"/>
						</h:outputText>
					</p:column>	
					<p:column styleClass="content-right" sortBy="#{bloOpe.blockOperation.actualBlockBalance}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.actualQuantity']}"  escape="false"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.actualBlockBalance}">
							<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="en_US"/>
						</h:outputText>
					</p:column>
					<p:column styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.unblockQuantity']}"  escape="false"/>
						</f:facet>
						<p:inputText size="10" id="amountUnblock" value="#{bloOpe.enforceQuantity}"
									 disabled="#{!bloOpe.isSelected}" styleClass="content-right"
									 onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">										
							<p:keyFilter mask="pint"/>
							<p:ajax event="change" process="@this" listener="#{enforceOperationBean.validateUnBlockQuantity(bloOpe)}" 
									update=":frmBlockEnforceOperation:dtbBlockDocuments :opnlGenericDialogs"/>
						</p:inputText>
					</p:column>
					<p:column styleClass="content-center" sortBy="#{bloOpe.blockOperation.blockState}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.reversal.search.detail.blockState']}"/>
						</f:facet>
						<h:outputText value="#{bloOpe.blockOperation.blockStateDescription}"/>
					</p:column>
					<f:facet name="footer">
						<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
							<f:param value="#{fn:length(enforceOperationBean.enforceOperation.blockEnforceDetails)}"/>
						</h:outputFormat>
					</f:facet>
				</p:dataTable>
			</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
		<td colspan="4" align="center">
			<p:outputPanel id="outputPanelResultButtons">
				<p:commandButton value="#{gmsgs['btn.save']}" update="@form :opnlGenericDialogs" process="@form"
					icon="fa fa-save" actionListener="#{enforceOperationBean.beforeSaveEnforceOperation}" rendered="#{enforceOperationBean.viewOperationRegister}">
					<f:param name="skipValidation" value="true"/>	
				</p:commandButton>	
					
				<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" update="outPnlDialogs,@form" id="btnSaveEnforce"
								 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" process="@this" iconPos="bntBackEnforce"
								 actionListener="#{enforceOperationBean.loadNewEnforceOperation}" rendered="#{enforceOperationBean.viewOperationRegister}"/>
				<p:commandButton value="#{gmsgs['btn.back']}" update="outPnlDialogs" icon="fa fa-undo" process="@this" action="searchEnforce" immediate="true"
					onclick="if(isModifiedFormForBack(this))return false;" ajax="false"/>
			</p:outputPanel>
		</td>
		</tr>
		</table>
	</p:fieldset>
	</td> 
</tr>
</table>
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs @form :opnlGenericDialogs :opnlEndTransaction"
					 actionListener="#{enforceOperationBean.saveBlockEnforce}"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
</p:confirmDialog>	
</p:outputPanel>
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>