<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importEnum type="com.pradera.integration.common.type.BooleanType" var="boolType"></p:importEnum>
<script type="text/javascript">
  $(window).load(function(){
  		setAllHolidays('${enforceOperationBean.allHolidays}');
  		setInitialFormState('#frmPrendAffect');
  });
</script>
<h:form id="frmSearchAffecRequests"> 
	<table width="100%">
	<tr>
	<td class="title-page">
		<h:outputText value="#{gmsgs['icustody.blockenforce.manage.tittle']}" styleClass="title-page" />
	</td>
	</tr>
	<tr>
	<td align="right">
		<p:commandButton value="#{msgs['lbl.blockenforce.registry']}" rendered="#{userPrivilege.userAcctions.register}"
						 icon="fa fa-edit" process="@this" action="newEnforceAction" actionListener="#{enforceOperationBean.loadNewEnforceOperation}"/>
	</td>
	</tr>
	<tr>
	<td>
		<p:fieldset legend="#{msgs['lbl.criteria.search']}">
		<table width="50%">
		<tr>
			<td>
				<p:selectOneRadio id="customRadio" value="#{enforceOperationBean.searchEnforceOperation.searchType}" layout="custom">  
			        <f:selectItem itemValue="1" />  
			        <f:selectItem itemValue="0" /> 
			        <p:ajax update="@form" listener="#{enforceOperationBean.changeOptionSelected}" process="@this idBlockRequestPk rnt"/>
				</p:selectOneRadio> 
				<p:radioButton itemIndex="0" for="customRadio" id="idBlockRequestPk"/>									
			</td>
			<td>
			<h:outputText value="#{msgs['lbl.affectation.search.requestNumber']}"/>
			</td>									
			<td>
				<h:panelGrid columns="2">
				<p:inputText value="#{enforceOperationBean.searchEnforceOperation.idBlockEnforcePk}" required="true" id="blockRequest"
							 requiredMessage="#{msgs['msg.affectation.required.idBlockRequest']}" styleClass="content-right" 
							 disabled="#{boolType.NO.code eq enforceOperationBean.searchEnforceOperation.searchType}">
					<p:keyFilter mask="pint"/>
					<p:ajax global="false" update="@this msgBlockRequest"/>
				</p:inputText>
				<p:message display="icon" for="blockRequest" id="msgBlockRequest"/>
				</h:panelGrid>
	        </td>									
	        <td>
	        </td>
			<td>
	        </td>
		</tr>
		<tr>
			<td>
				<p:radioButton itemIndex="1" for="customRadio" id="rnt"/>
			</td>
			<td><h:outputText value="#{msgs['lbl.affectation.search.rnt']}" id="lblHolderSearch"/></td>
			<td colspan="3">
				<ark:holderHelper disabled="#{boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType}" holder="#{enforceOperationBean.searchEnforceOperation.holder}" id="idRntHelper"/>
			</td>
		</tr>
		<tr>	
			<td/>																	
			<td>
				<h:outputText value="#{msgs['lbl.affectation.search.blockEntity']}"/>
			</td>									
			<td colspan="3">
				<ark:blockEntityHelper disabled="#{boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType}" blockEntity="#{enforceOperationBean.searchEnforceOperation.blockEntity}" id="idBlockEntityHelper"/>
			</td>									
		</tr>
		<tr>
			<td/>
			<td>
				<h:outputText value="#{msgs['lbl.affectation.search.blockType']}"/></td>
			<td>
				<p:selectOneMenu disabled="#{boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType}" value="#{enforceOperationBean.searchEnforceOperation.enforceType}">  
		            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
		            <f:selectItems value="#{enforceOperationBean.affectationTypeList}" var="parameterTable" itemLabel="#{parameterTable.parameterName}"
								   itemValue="#{parameterTable.parameterTablePk}" /> 							             
				</p:selectOneMenu> 
			</td>								
			<td><h:outputText value="#{msgs['lbl.affectation.search.recordNumber']}" /></td>
			<td><p:inputText disabled="#{boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType}" value="#{enforceOperationBean.searchEnforceOperation.actNumber}" styleClass="content-right"/>
			</td>
		</tr>
		
		<tr>
			<td/>
			<td>
				<h:outputText value="#{msgs['lbl.affectation.search.initialDate']}"/>
			</td>
			<td>
				<p:calendar readonlyInput="true" navigator="true" showOn="both" 
					value="#{enforceOperationBean.searchEnforceOperation.initialDate}"
					pattern="#{msgs['dateFormat']}" size="10" id="initialDate" disabledWeekends="true"
					maxdate="#{requestAffectationMgmBean.currentSystemDate}"
					disabled="#{(requestAffectationMgmBean.searchRequestAffectationTO.blDefaultSearch) or (boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType)}"/>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.affectation.search.endDate']}"/>
			</td>
			<td>
				<p:calendar readonlyInput="true" navigator="true" showOn="both" value="#{enforceOperationBean.searchEnforceOperation.finalDate}"
					pattern="#{msgs['dateFormat']}" size="10" id="endDate" disabledWeekends="true" maxdate="#{enforceOperationBean.currentSystemDate}"
					mindate="#{enforceOperationBean.searchEnforceOperation.initialDate}"
					disabled="#{boolType.YES.code eq enforceOperationBean.searchEnforceOperation.searchType}"/>
			</td>
		</tr>
		</table>
		<table width="100%">
		<tr>
		<td>
		<p:spacer width="0" height="5"></p:spacer>
		</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" update="@form"
								 rendered="#{userPrivilege.userAcctions.search}"
								 icon="fa fa-search" actionListener="#{enforceOperationBean.searcEnforceOperationTO}"/>														 
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form" icon="fa fa-trash" 
								 actionListener="#{enforceOperationBean.loadEnforceOperationTO}" process="@this"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
	</tr>
	<tr>
	<td>
		<p:outputPanel id="pnlButtonsPrivilege">
			<h:panelGrid rendered="#{enforceOperationBean.enforceOperationTOList.size >= 1}">
				<arkPriv:privileges id="praderaPrivileges" actionConfirm="#{enforceOperationBean.beforeConfirmPrivilege}"
							 		actionReject="#{enforceOperationBean.beforeRejectPrivilege}" actions="#{userPrivilege.userAcctions}" 
							 		renders="#{userPrivilege.privilegeComponent}"/> 
			</h:panelGrid>
		</p:outputPanel>
	</td>
	</tr>
	<tr>
	<td>
		<p:outputPanel id="outputPanelResult">							
				<p:dataTable id="dtbResult" var="enforceOperation" rendered="#{enforceOperationBean.enforceOperationTOList.size >= 1}" 
					value="#{enforceOperationBean.enforceOperationTOList}" paginator="true"
					rowKey="#{enforceOperation.idBlockEnforcePk}"
					paginatorPosition="top" rowIndexVar="rIndx"
					paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
					currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
					selection="#{enforceOperationBean.enforceOperationSelected}">
					
					<p:column selectionMode="single" style="width:18px" />
					<p:column sortBy="#{enforceOperation.idBlockEnforcePk}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.number.request']}"/>
						</f:facet>
						<p:commandLink value="#{enforceOperation.idBlockEnforcePk}" process="@this" actionListener="#{enforceOperationBean.loadBlockEnforceOperation(enforceOperation.idBlockEnforcePk)}" 
									   action="viewEnforceAction">
						</p:commandLink>
					</p:column>
					<p:column sortBy="#{enforceOperation.registryDate}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['commons.label.registryDate']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.registryDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"/>
						</h:outputText>
					</p:column>
					<p:column sortBy="#{enforceOperation.blockEntity.idBlockEntityPk}" styleClass="content-left">
						<f:facet name="header">
							<h:outputText value="#{msgs['commons.label.blockEntity']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.blockEntity.idBlockEntityPk} - #{enforceOperation.blockEntity.fullName}"/>
					</p:column>
					<p:column sortBy="#{enforceOperation.actNumber}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.blockenforce.operation.number']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.actNumber}"/>
					</p:column>
					<p:column sortBy="#{enforceOperation.enforceTypeDescription}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.blockenforce.operation.type']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.enforceTypeDescription}"/>
					</p:column>
					<p:column sortBy="#{enforceOperation.enforceQuantity}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['commons.label.count']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.enforceQuantity}"/>
					</p:column>
					<p:column sortBy="#{enforceOperation.stateDescription}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['commons.label.state']}"/>
						</f:facet>
						<h:outputText escape="false" value="#{enforceOperation.stateDescription}"/>
					</p:column>
					<f:facet name="footer">	
						<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" >
							<f:param value="#{enforceOperationBean.enforceOperationTOList.size}"/>
						</h:outputFormat>
					</f:facet>
				</p:dataTable>
				<h:outputText value="#{msgs['lbl.search.no.result']}" rendered="#{enforceOperationBean.enforceOperationTOList.size==0}" styleClass="required-field"/>
		</p:outputPanel>
	</td>
	</tr>
	</table>
</h:form>
<p:outputPanel id="opnlDialogs"></p:outputPanel>
</ui:define>
</ui:composition>
</html>