<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script language="javascript" type="text/javascript">
	    //this code handles the F5/Ctrl+F5/Ctrl+R
	    document.onkeydown = checkKeycode
	    function checkKeycode(e) {
	        var keycode;
	        if (window.event)
	            keycode = window.event.keyCode;
	        else if (e)
	            keycode = e.which;
	
	        // Mozilla firefox
	        if ($.browser.mozilla) {
	            if (keycode == 116 ||(e.ctrlKey &amp;&amp; keycode == 82)) {
	                if (e.preventDefault)
	                {
	                    e.preventDefault();
	                    e.stopPropagation();
	                }
	            }
	        } 
	        // IE
	        else if ($.browser.msie) {
	            if (keycode == 116 || (window.event.ctrlKey &amp;&amp; keycode == 82)) {
	                window.event.returnValue = false;
	                window.event.keyCode = 0;
	                window.status = "Refresh is disabled";
	            }
	        }
	    }
	
	    function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>
<h:outputText value="#{msgs['tipocambio.detalle.tiltle']}" styleClass="title-page"  id="idOtxtDetalleTitle"/>
<h:form id="frmConsultaMovTitularesDetail">
<table width="100%">
	<tr>
		<td width="100%">
		<p:fieldset id="fldsFiltros" legend="#{msgs['tipo.lbl.registerdata']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['tipo.cambio.fechareg']}"/>
			</td>
			<td width="30%">
				<p:calendar disabled="true" size="10"
					value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.dateRate}"
					pattern="#{msgs['dateFormat']}"/>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['tipo.lbl.fuente']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu id="idCboSource" disabled="true"
					value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.idSourceinformation}">
					<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
					<f:selectItems id="idCboItemsSource" value="#{exChangeMoneyTypeBean.sourceInformationList}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['tipo.cambio.moneda']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu id="idCboChageTypeMoney" required="true" 
					value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.idCurrency}" disabled="true">
					<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
					<f:selectItems value="#{exChangeMoneyTypeBean.currencyList}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['tipo.cambio.preciocompra']}"/>
			</td>
			<td>
				<p:inputText value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.buyPrice}" disabled="true" 
				style="text-align:right;width:130px" id="idItxtBuyPrice">				
					<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.exchange.money.amount']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['tipo.cambio.precioventa']}"/>
			</td>
			<td>
				<p:inputText value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.sellPrice}" disabled="true" 
				style="text-align:right;width:130px" id="idItxtSellPrice">
					<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.exchange.money.amount']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['tipo.cambio.preciopromedio']}"/>
			</td>
			<td>
				<p:inputText value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.averagePrice}" disabled="true"
				 style="text-align:right;width:130px">
				<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.exchange.money.amount']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['tipo.cambio.precioreferencial']}"/>
			</td>
			<td>
				<p:inputText  id="referencePrice" disabled="true" value="#{exChangeMoneyTypeBean.selectedDailyExchangeRates.referencePrice}" 
					style="text-align:right;width:130px">
					<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.exchange.money.amount']}"/>
				</p:inputText>
			</td>
		</tr>						
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4"> 
			<p:commandButton id="cmbBack" value="#{msgs['btn.regresar']}"
				icon="fa fa-undo" immediate="true" action="search" process="@form" ajax="false"/>
		</td> 
	</tr>
</table>
</h:form>		
</ui:define>
</ui:composition>
</html>