<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:outputText value="#{gmsgs['GeneralParameters.dailyexchange.manage.title']}" styleClass="title-page"  id="idOtxtExChangeMoneyTypeSearchTitle"/>
<h:form id="frmConsultaMovTitulares" >
	<table width="100%">
		<tr>
			<td width="100%" align="right">
				<p:commandButton  id="idCmdBtnRegister" value="#{msgs['btn.registrar']}" icon="fa fa-edit" 
					immediate="true" actionListener="#{exChangeMoneyTypeBean.clearRegisterData}" 
					action="dailyExchangeRatesMgmt" ajax="false" rendered="#{userPrivilege.userAcctions.register}"/>
				<ui:remove>
					<p:commandButton id="btnMassiveRegister" value="#{msgs['btn.register.ws']}"
						icon="fa fa-edit" actionListener="#{exChangeMoneyTypeBean.beforeSavExchangeMoney()}" 
						process="@this" rendered="#{userPrivilege.userAcctions.register}" />	
				</ui:remove>
			</td>
		</tr>
		<tr>
			<td>
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.criteria.search']}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['tipo.lbl.fuente']} (*)"  styleClass="required-field" id="idOtxtSource"/>
				</td>
				<td width="30%">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboMechanism" value="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.idSourceinformation}" >
						<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
						<f:selectItems value="#{exChangeMoneyTypeBean.sourceInformationList}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						<p:ajax event="change" global="false" update="cboMechanism :opnlGenericDialogs idMsgMechanism"/>
					</p:selectOneMenu>
					<p:message for="cboMechanism" display="icon" id="idMsgMechanism"/>
					</h:panelGrid>
				</td>
				<td>
					<h:outputText value="#{msgs['rate.lbl.currency.rate']}"/>
				</td>
				<td>
					<p:selectOneMenu id="idCboCurrencyRate" value="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.idCurrency}">
						<f:selectItem itemLabel="#{msgs['quotes.opt.select']}"/>
						<f:selectItems value="#{exChangeMoneyTypeBean.currencyList}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['message.lbl.beginDate']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:calendar id="idtxtFecIni" showOn="both" readonlyInput="true" size="10" navigator="true"
						value="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.initialDate}"						
						pattern="#{msgs['dateFormat']}" maxdate="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.finalDate}">
						<p:ajax event="dateSelect" update="idtxtFecFin" process="@this"/>						
					</p:calendar>
				</td>
				<td>
					<h:outputText value="#{msgs['message.lbl.endDate']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:calendar id="idtxtFecFin" showOn="both" readonlyInput="true" navigator="true"
						value="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.finalDate}"
						mindate="#{exChangeMoneyTypeBean.dailyExchangeRateFilter.initialDate}"
						pattern="#{msgs['dateFormat']}" size="10">
						<p:ajax event="dateSelect" update="idtxtFecFin idtxtFecIni" process="@this"/>						
					</p:calendar>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<p:commandButton id="cmbSearch" value="#{msgs['btn.buscar']}" update="fldsFiltros opnlResult :opnlGenericDialogs :opnlDialogs"
						actionListener="#{exChangeMoneyTypeBean.searchExchangeMoneyType}"
						rendered="#{userInfo.userAcctions.search}"
						icon="fa fa-search" process="@form">
						<f:param name="skipValidation" value="true"/>			 
						</p:commandButton> 
					<p:commandButton  value="#{msgs['quotes.lbl.clean']}" id="idCmdBtnClear"
						update="fldsFiltros opnlResult" process="@this" icon="fa fa-trash" 
						action="#{exChangeMoneyTypeBean.clearSearch}"  immediate="true" />
				</td>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>			
			<p:outputPanel autoUpdate="true"  id="outputPanelPrivileges">
			<p:outputPanel rendered="#{exChangeMoneyTypeBean.requestDailyExchangeDataModel != null and exChangeMoneyTypeBean.requestDailyExchangeDataModel.rowCount gt 0}"> 
			<ark:privileges id="praderaPrivileges"
			 	actionModify="#{exChangeMoneyTypeBean.modifyDailyExchangeRatesListener}"
			 	actionConfirm="#{exChangeMoneyTypeBean.confirmDailyExchangeRates}"
			 	actions="#{userInfo.userAcctions}"
			 	renders="#{userInfo.privilegeComponent}"/>			 
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlResult">
					<p:fieldset id="fsListado" legend="#{msgs['btn.msg.results']}"  rendered="#{exChangeMoneyTypeBean.requestDailyExchangeDataModel != null}">
			
					<p:dataTable id="dtbResult" var="exchangesInfo" rendered="#{exChangeMoneyTypeBean.requestDailyExchangeDataModel.rowCount >= 1}"
						style="padding-right:0px !important;" 
						emptyMessage="#{msgs['lbl.search.no.result']}"
						value="#{exChangeMoneyTypeBean.requestDailyExchangeDataModel}" paginator="true"
						rows="10" paginatorPosition="top"
						currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
						rowsPerPageTemplate="5,10,15" first="#{exChangeMoneyTypeBean.firsRegisterDataTable}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}" 
						selection="#{exChangeMoneyTypeBean.selectedDailyExchangeRates}">

						<p:column selectionMode="single" styleClass="content-center"/>
						<p:column headerText="#{msgs['tipocambio.table.lbl.id']}" styleClass="content-center" sortBy="#{exchangesInfo.idRequestDailyExchangepk}">
							<p:commandLink style="color:blue" ajax="false" 
										actionListener="#{exChangeMoneyTypeBean.getSelectedDetails}" 
										action="dailyExchangeRatesDetail" id="idCmdLinkId">
									<f:attribute name="ExchangeRateSelected" value="#{exchangesInfo}"/>
								<h:outputText value="#{exchangesInfo.idRequestDailyExchangepk}" id="idOtxtIdDailyExchangePk"/>
							</p:commandLink>
						</p:column>
						<p:column headerText="#{msgs['tipocambio.table.lbl.fecharegistro']}" styleClass="content-center" sortBy="#{exchangesInfo.dateRate}">
							<h:outputText value="#{exchangesInfo.dateRate}" id="idOtxtDateRateValue">
								<f:convertDateTime pattern="#{msgs['date.format']}"/>
							</h:outputText>
						</p:column>

						<p:column headerText="#{msgs['tipocambio.table.lbl.moneda']}" sortBy="#{exChangeMoneyTypeBean.mapDescriptionMoney.get(exchangesInfo.idCurrency)}">

							<h:outputText value="#{exChangeMoneyTypeBean.mapDescriptionMoney.get(exchangesInfo.idCurrency)}"/>
						</p:column>

						<p:column headerText="#{msgs['tipocambio.table.lbl.precioCompra']}" styleClass="content-right">
							<h:outputText value="#{exchangesInfo.buyPrice}" id="idOtxtExchangeInfoBuyPrice">
								<f:convertNumber pattern="#{cons['conv.number.pattern.exchange.money.amount']}"
									 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>

						<p:column headerText="#{msgs['tipocambio.table.lbl.precioventa']}" styleClass="content-right">
							<h:outputText value="#{exchangesInfo.sellPrice}" id="idOtxtExchangeInfoSellPrice">
								<f:convertNumber pattern="#{cons['conv.number.pattern.exchange.money.amount']}"
									 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>

						<p:column headerText="#{msgs['tipocambio.table.lbl.preciopromedio']}" styleClass="content-right">
							<h:outputText value="#{exchangesInfo.averagePrice}" id="idOtxtExchangeInfoAveragePrice">
								<f:convertNumber pattern="#{cons['conv.number.pattern.exchange.money.amount']}"
									 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['tipo.cambio.precioreferencial']}" styleClass="content-right">
							<h:outputText value="#{exchangesInfo.referencePrice}" id="idOtxtExchangeInfoReferencePrice">
								<f:convertNumber pattern="#{cons['conv.number.pattern.exchange.money.amount']}"
									 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msgs['tipo.cambio.state']}" styleClass="content-center">
							<h:outputText value="#{exChangeMoneyTypeBean.mapParametersDesc.get(exchangesInfo.exchangeState)}" id="idOtxtExchangeInfoState"/>
						</p:column>
						
						<f:facet name="footer">	
						<div style="width:100%; text-align:left" id="idDivFooter">								
						<h:outputLabel value="#{exChangeMoneyTypeBean.requestDailyExchangeDataModel.rowCount} registros encontrados." 
						style="font-weight:bold;" id="idOlblRowCount"/>
						</div>
						</f:facet>
						
						<p:ajax event="page" listener="#{exChangeMoneyTypeBean.changePageDatatable}"/>
						
						</p:dataTable>
						<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblNoSearchResult"
							rendered="#{!(exChangeMoneyTypeBean.requestDailyExchangeDataModel.rowCount >= 1)}"
							style="font-weight:bold;"/>
					</p:fieldset>
					</p:outputPanel>
				</td>
			</tr>
		</table>
			
			
				
	</h:form>
<p:outputPanel id="opnlDialogs">
	<p:confirmDialog id="idcnfdialog" widgetVar="idwConfirmDialog" header="#{headerMessageView}"
				severity="alert" closable="false" message="#{bodyMessageView}">
				<p:commandButton value="#{msgs['btn.yes']}" id="idCmdBtnConfRegisterYes"
					actionListener="#{exChangeMoneyTypeBean.confirmDailyExchangefacade()}"
					oncomplete="PF('idwConfirmDialog').hide();" update="@this :opnlGenericDialogs" process="@this"/>
				<p:commandButton value="#{msgs['btn.no']}" type="button" id="idCmdBtnConfRegisterNo" onclick="PF('idwConfirmDialog').hide();"/>
	</p:confirmDialog>
		
	<p:confirmDialog id="idcnfdialogModify" widgetVar="idwConfirmDialogModifyWin" header="#{headerMessageView}"
			severity="alert" closable="false" message="#{bodyMessageView}">
			<p:commandButton value="#{msgs['btn.yes']}" id="idCmdBtnModifyYes"
				actionListener="#{exChangeMoneyTypeBean.moneyExchangeSend()}"
				oncomplete="PF('idwConfirmDialogModifyWin').hide();" update="@this"  process="@this"/>
		<p:commandButton value="#{msgs['btn.no']}" type="button" onclick="PF('idwConfirmDialogModifyWin').hide();" id="idCmdBtnModifyNo"/>
	</p:confirmDialog>	
</p:outputPanel>
</ui:define>
</ui:composition>
</html>