<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
 
	
.combo{
	width:200px !important;
	margin-left:8px !important;
}
.caja{ margin-left:16px !important;}
.caja2{margin-left:10px !important}
.caja3{margin-left:8px !important;}
</style>
	<h:outputText 
			value="#{msgs['title.queries.collection']}"
			styleClass="title-page" />
		<h:form id="frmSearchManualCollection">
		<p:outputPanel>
		<table width="100%">
					<tr>
					<td>
					   <p:fieldset legend="#{msgs['billingService.legend']}"> 					
						 <p:panel>							
							<table width="100%"  border="0">
							<tr>
								<td width="25%"><div class="caja">
										<h:outputText value="#{msgs['billingService.lbl.service.code.name']} (*)"
											styleClass="required-field" />
											</div>
									</td>
								<td colspan="2" width="50%">
									<ark:billingService
										 billingService="#{collectionServiceMgmtBean.billingService}"/>
								</td>
								<td width="25%"></td>
							</tr>
							<tr>
								<td width="25%">
									<div class="caja">	
									   <h:outputText value="#{msgs['billingService.lbl.service.client']}" />
									</div>		
									</td>
								<td width="25%">
											<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbClientType" style="width:200px;" styleClass="combo"
												value="#{collectionServiceMgmtBean.serviceClientSelected}"
												disabled="#{collectionServiceMgmtBean.disabledServiceClientSelected}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
													itemValue="-1" />
												<f:selectItems
													value="#{collectionServiceMgmtBean.listServiceClient}"
													var="serviceType" itemLabel="#{serviceType.parameterName}"
													itemValue="#{serviceType.parameterTablePk}" />
											</p:selectOneMenu>
									</td>
								<td width="25%">
								  <div class="caja">
								  	<h:outputText value="#{msgs['lbl.collection.institution']}" />
								  </div></td>
								<td width="25%">
								   <p:outputPanel autoUpdate="true">
										<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbEntityCollection"
											style="width:200px;"  styleClass="combo"
											value="#{collectionServiceMgmtBean.collectionInstitutionSelected}"
											disabled="#{collectionServiceMgmtBean.disableCollectionInstitutionSelected}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
												itemValue="-1" />
											<f:selectItems
												value="#{collectionServiceMgmtBean.listCollectionInstitution}"
												var="collectionInstitution"
												itemLabel="#{collectionInstitution.parameterName}"
												itemValue="#{collectionInstitution.parameterTablePk}" />
										</p:selectOneMenu>
									</p:outputPanel></td>
									
							</tr>
							<tr>
								<td width="25%"><div class="caja">
								   <h:outputText value="#{msgs['user.lbl.titular']}" /></div></td>
								<td colspan="2" width="50%">
								  <ark:holder holder="#{collectionServiceMgmtBean.holderSelected}"></ark:holder>
								</td>
								<td width="25%"> 
										<f:attribute name="codeHolder" value="#{collectionServiceMgmtBean.holderSelected.idHolderPk}" /></td>
							</tr>
							<tr>
								<td width="25%">
								<div class="caja"><h:outputText value="#{msgs['user.lbl.participante']}" /></div></td>
								<td>
								<div class="combo">
								<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbParticipantEntityCollectionData"
									style="width:200px;"
									value="#{collectionServiceMgmtBean.participantSelected}"
									disabled="false">
									<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
										itemValue="-1" />
									<f:selectItems
										value="#{collectionServiceMgmtBean.listClientParticipant}"
										var="participantList"
										itemLabel="#{participantList.description}"
										itemValue="#{participantList.idParticipantPk}" />

								</p:selectOneMenu></div></td>
									<td width="25%"></td><td width="25%"></td>
							</tr>
							<tr>
								<td width="25%">
								<div class="caja">
									<h:outputText value="#{msgs['user.lbl.emisor']}" /></div></td>
								<td colspan="2" idth="50%">
								<ark:issuer
										value="#{collectionServiceMgmtBean.codeIssuer}"
										remoteListener="remoteIsuer();">
									</ark:issuer> <p:remoteCommand name="remoteIsuer"
										actionListener="#{collectionServiceMgmtBean.xxxx}"
										process="@this" partialSubmit="true"
										update="@parent">
									</p:remoteCommand></td>
	
								<td> 
										<h:outputText id="txtIssuerEntityHlp"
											value="#{collectionServiceMgmtBean.issuer.issuerDesc}" /></td>
									<td width="25%"></td>
							</tr>
							<tr>
								<td width="25%"><h:outputText value="#{msgs['lbl.initial.date']} (*)"
											styleClass="required-field" />
									</td>
								<td width="25%">
								<p:calendar id="cldInitialDate" size="10"
												readonlyInput="true" styleClass="caja3"
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10" beforeShowDay="disableAllHolydays" 
												value="#{collectionServiceMgmtBean.initialDate}" 
												mindate="#{collectionServiceMgmtBean.validityFinalDate}"
												disabled="#{collectionServiceMgmtBean.validityInitialDateDisable}"
												pattern="#{msgs['dateFormat']}"
												showOn="button">
										<p:ajax event="dateSelect" update="cldInitialDate,cldFinalDate" process="@this" global="false" />
										<p:ajax event="change" update="cldInitialDate,cldFinalDate" process="@this"/>
									</p:calendar>
								</td>
								<td width="25%"><h:outputText value="#{msgs['lbl.final.date']} (*)"
											styleClass="required-field" />
									</td>
								<td width="25%">
								<p:calendar id="cldFinalDate" size="10"
												navigator="true" readonlyInput="true"
												required="true"  requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10" beforeShowDay="disableAllHolydays"  
												value="#{collectionServiceMgmtBean.finalDate}" 
												mindate="#{collectionServiceMgmtBean.initialDate}"
												disabled="#{collectionServiceMgmtBean.validityFinalDateDisable}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button">
										<p:ajax event="dateSelect" update="cldInitialDate,cldFinalDate" process="@this" global="false"/>
										<p:ajax event="change" update="cldInitialDate,cldFinalDate" process="@this"/>
									</p:calendar>
								</td>
							</tr>
							
							
							
							</table>
						 </p:panel>
						</p:fieldset>
					</td>
					</tr>
					<tr>
								<td colspan="4">
									<p:panel  id="panelListado" >
									<p:dataTable id="dataTable" var="collection" value="#{collectionServiceMgmtBean.processedServiceDataModel}"
										paginator="true" rows="10" paginatorPosition="top"
										currentPageReportTemplate="Page {currentPage} from {totalPages}" 
										rowKey="#{collection.idProcessedServicePk}"
										rowIndexVar="rIndx"
						                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
										selection="#{collectionServiceMgmtBean.processedServiceSelection}">
										
										<p:column selectionMode="single" style="width:18px" id="idClmSelectionMode" />
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.service.fecha.calculo']}" />
											</f:facet>
											<h:outputText value="" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['billingService.lbl.collection.base']}" />
											</f:facet>
											<h:outputText value="" />
										</p:column>
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.collection.amount']}" />
											</f:facet>
											<h:outputText value="" />
										</p:column>	
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.state']}" />
											</f:facet>
											<h:outputText value="" />
										</p:column>								
										 							
									</p:dataTable>
								</p:panel>
								</td>
							</tr>
					
		
		</table>
		
		
		
		
		
		
		
		
		
		
		</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
</html>