<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
	

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
 
.combo{
	width:200px !important;
	margin-left:8px !important;
}
.caja{ margin-left:16px !important;}
.caja2{margin-left:10px !important}
.caja3{margin-left:8px !important;}
.caja4{margin-left:5px !important;}
</style>



		<h:outputText
			value="#{msgs['title.list.consult.services']}"
			styleClass="title-page" />

		<h:form id="frmCollectionRecord">
		<table width="100%">
		
			<tr>
				<td>
					<p:fieldset legend="#{msgs['serviceData.legend']}">
						<table width="100%">							
							<tr>
								<td><h:outputText value="#{msgs['billingService.lbl.service.code.name']}" /></td>
								<td > 
									<p:inputText id="txtServiceCode" 
												value="#{consultCollectionMgmtBean.processedServiceToSelection.billingServiceTo.serviceCode}" 
												disabled="true" >
									</p:inputText>			 
								</td>
								<td><h:outputText value="#{msgs['billingService.lbl.service.name']}" /></td>
								<td align="left" colspan="3"> 
									<p:inputText id="txtServiceName" size="60"
												value="#{consultCollectionMgmtBean.processedServiceToSelection.billingServiceTo.serviceName}"
												disabled="true" >
									</p:inputText>
								</td>
							</tr>
							<tr>
							<td><h:outputText value="#{msgs['lbl.service.type']}" /></td>
								<td>								
									<p:inputText id="txtServiceType" 
												value="#{consultCollectionMgmtBean.processedServiceToSelection.billingServiceTo.descriptionServiceType}" 
												disabled="true" >
									</p:inputText>		              
								</td>
								<td><h:outputText value="#{msgs['billingService.lbl.collection.base']}" /></td>
								<td>
									 <p:inputText id="txtBaseCollection" size="60"
												value="#{consultCollectionMgmtBean.processedServiceToSelection.billingServiceTo.descriptionBaseCollection}"
												disabled="true" >
									</p:inputText>
								</td>
							</tr>
							<tr>	
								<td><h:outputText value="#{msgs['billingService.lbl.service.client']}" /></td>
								<td>
									 <p:inputText id="txtServiceClient"   
												value="#{consultCollectionMgmtBean.processedServiceToSelection.billingServiceTo.descriptionClientServiceType}"
												disabled="true" >
									</p:inputText>							
								</td>							
							</tr>								
						</table>	
					</p:fieldset>
						
					<p:fieldset legend="#{msgs['collection.data.table']}">						
							<p:dataTable id="dtbResult"
								var="collectionRecord" 
								value="#{consultCollectionMgmtBean.collectionRecordToDataModel}"
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="Page {currentPage} from {totalPages}" 
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.service.fecha.calculo']}" />
									</f:facet>	   								
									<h:outputText value="#{collectionRecord.calculationDate}">
									<f:convertDateTime pattern="#{msgs.dateFormat}" />
									</h:outputText>
								</p:column>																										          
								<p:column>
									<f:facet name="header">
									    <h:outputText value="#{msgs['col.detail']}" />
									</f:facet>
									<h:outputText value="#{collectionRecord.descriptionEntityCollection}" />
									<p:commandLink styleClass="icon" process="@this" update=":formViewRate:rateMovementType"
												   rendered="#{ !(empty collectionRecord.serviceRateToList)}"
												   actionListener="#{consultCollectionMgmtBean.serviceRateOnConsultByEntityCollection}" 
												   action="detailConsutCollectionByEntityCollection">
						            <p:graphicImage id="imgView" library="img" name="icons/loupe.png" />    
						            <f:attribute name="blockInformation" value="#{collectionRecord}"  />             
						           </p:commandLink>
								</p:column>
								<p:column styleClass="content-right">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.brute.amount']}" />
									</f:facet>
									<p:inputNumber id="idGrossAmount" maxlength="10" size="28"
										thousandSeparator="," decimalSeparator="."
										style="text-align:right" disabled="true"
										value="#{collectionRecord.grossAmount}" />

								</p:column>
								<p:column >
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.net.amount']}" />
									</f:facet>
									<p:inputNumber id="idCollectionAmount" maxlength="10" size="28"
										thousandSeparator="," decimalSeparator="."
										style="text-align:right" disabled="true"
										value="#{collectionRecord.collectionAmount}" />
								</p:column>
								
								<p:column >
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.impost.amount']}" />
									</f:facet>
									<p:inputNumber id="idTaxApplied" maxlength="10" size="28"
										thousandSeparator="," decimalSeparator="."
										style="text-align:right" disabled="true"
										value="#{collectionRecord.taxApplied}" />
								</p:column>
								<f:facet name="footer">	
									<div>								
									<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.collectionRecordToDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>								
							</p:dataTable>	  	  
					</p:fieldset>
					<table width="100%">
					<tr>
					<td align="center"> 	 						
									<p:commandButton id="idAccept"
										 				 value="#{msgs['btn.back']}"
										 				 icon="fa fa-undo"
										 				 action="consultCollectionByEntityCollection"/>
	   							 				 
					 </td>	
					</tr> 
					</table> 
				</td>
			</tr>
			<tr>
					<td>
					
					</td>
				</tr>
		</table>
											
	</h:form>	
	
	<h:form id="formViewRate">
	<p:dialog widgetVar="cnfwFlagConsult" id="cnIdFlagConsult" visible="false" 
					 resizable="false" draggable="false" closable="false" modal="true" >
 				
	<table>
			<tr>
				<td>			
					<p:fieldset legend="#{msgs['type.movement.rate.legend']}" visible="false"  >
						<p:outputPanel  id="rateMovementType">											
						    <table width="100%">
								<tr>
								<td align="center" colspan="4"> 	
								<p:dataTable id="dataTableMov"   var="rateMovement" 
								    value="#{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo}"
									paginator="true"  rows="5" 
									rowKey="#{rateMovement}" paginatorPosition="top" 
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
									paginatorTemplate="#{msgs['dtb.paginator.template']}"								
										
									 rowsPerPageTemplate="5,10,15"						  
					                 rowIndexVar="rIndx"
					                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"  >																									
																														
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.collection.index']}" />
										</f:facet>	   
										<h:outputText value="#{rIndx+1}" />
									</p:column>
									<p:column>
										<f:facet name="header">
					    					<h:outputText value="#{msgs['rate.lbl.movement.description']}" />
										</f:facet>
										<h:outputText value="#{rateMovement.descriptionMovementType}" />
									</p:column>
									<p:column>
										<f:facet name="header">
					    					<h:outputText value="#{msgs['user.lbl.valor']}" />
										</f:facet>
										<h:outputText value="#{rateMovement.securityCode}" />
									</p:column>
									<p:column styleClass="content-right">
										<f:facet name="header">
					    					<h:outputText value="#{msgs['rate.lbl.movement.count.br']}" escape="false" />
										</f:facet>
										<h:outputText value="#{rateMovement.movementCount}" />
									</p:column>
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['rate.lbl.fixed.amount']}" />
										</f:facet>
									<p:inputText  style="text-align:right"  disabled="true"
										size="22"	 value="#{rateMovement.rateAmount}" >	
									<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
              								locale="#{cons['conv.number.locale']}"/>
									</p:inputText>
									</p:column>
									<p:column>
										<f:facet name="header">
					    					<h:outputText value="#{msgs['col.amount']}" />
										</f:facet>
										<p:inputText  style="text-align:right"  disabled="true"
										size="22"	 value="#{rateMovement.grossAmount}" >	
									<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
              								locale="#{cons['conv.number.locale']}"/>
									</p:inputText>
									</p:column>
									<f:facet name="footer">	
									<div>								
									<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo.size()}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>
								</p:dataTable>
									</td>
								</tr>
							</table>													
						</p:outputPanel>
					</p:fieldset>					
				</td>
			</tr>
		</table>	
		<table width="100%" border="0">
		<tr align="center">
			<td> 								
				<p:commandButton id="idAcceptPopUp"
					value="#{msgs['btn.back']}"
					icon="fa fa-undo" immediate="true" process="@this" 
					onclick="PF('cnfwFlagConsult').hide();"/>
		 	 </td>									
	    </tr>
	    </table> 
		</p:dialog>
	</h:form>
	</ui:define>
</ui:composition>
</html>	