<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helperExtension"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">


<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">

.combo{
	width:200px !important;
	margin-left:8px !important;
}
.caja{ margin-left:16px !important;}
.caja2{margin-left:10px !important}
.caja3{margin-left:8px !important;}
.caja4{margin-left:5px !important;}
</style>

		<h:outputText
			value="#{msgs['title.detail.consult.services']}"
			styleClass="title-page" />

		<h:form id="frmCollectionRecord">
		<table width="100%">
		
			<tr>
				<td>
					<p:fieldset legend="#{msgs['serviceData.legend']}">
					
					<table width="100%">							
							<tr>
								<td><h:outputText value="#{msgs['billingService.lbl.service.code.name']}" /></td>
								<td > 
									<p:inputText id="txtServiceCode" 
												value="#{consultCollectionMgmtBean.collectionRecordSelection.processedServiceTo.billingServiceTo.serviceCode}" 
												disabled="true" >
									</p:inputText>			 
								</td>
								<td><h:outputText value="#{msgs['billingService.lbl.service.name']}" /></td>
								<td align="left" colspan="3"> 
									<p:inputText id="txtServiceName" size="60"
												value="#{consultCollectionMgmtBean.collectionRecordSelection.processedServiceTo.billingServiceTo.serviceName}"
												disabled="true" >
									</p:inputText>
								</td>
							</tr>
							
							<tr>
								<td><h:outputText value="#{msgs['lbl.service.type']}" /></td>
								<td>								
									<p:inputText id="txtServiceType" 
												value="#{consultCollectionMgmtBean.collectionRecordSelection.processedServiceTo.billingServiceTo.descriptionServiceType}" 
												disabled="true" >
									</p:inputText>		              
								</td>
								<td><h:outputText value="#{msgs['billingService.lbl.collection.base']}" /></td>
								<td>
									 <p:inputText id="txtBaseCollection" size="60"
												value="#{consultCollectionMgmtBean.collectionRecordSelection.processedServiceTo.billingServiceTo.descriptionBaseCollection}"
												disabled="true" >
									</p:inputText>
								</td>
							</tr>
							
							<tr>	
								<td><h:outputText value="#{msgs['billingService.lbl.service.client']}" /></td>
								<td>
									 <p:inputText id="txtServiceClient"   
												value="#{consultCollectionMgmtBean.collectionRecordSelection.processedServiceTo.billingServiceTo.descriptionClientServiceType}"
												disabled="true" >
									</p:inputText>							
								</td>
								<td><h:outputText value="#{msgs['billingService.lbl.collection.institution']}" /></td>
								<td>
									 <p:inputText id="txtEntityCollection"   size="60"
												value="#{consultCollectionMgmtBean.collectionRecordSelection.descriptionEntityCollection}"
												disabled="true" >
									</p:inputText>							
								</td>							
							</tr>								
						</table>	
					</p:fieldset>
						
		<!-- DataTable Rate -->
					<p:fieldset legend="#{msgs['inputDataRate.legend.calculation']}"
								rendered="#{!(empty consultCollectionMgmtBean.collectionRecordSelection.serviceRateToList)}">						
							<p:dataTable id="dtbResult"
								var="serviceRate" 
								value="#{consultCollectionMgmtBean.serviceRateToDataModel}"
								paginator="true" rows="10" 
								paginatorPosition="top"
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
								paginatorTemplate="#{msgs['dtb.template']} "
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">						
								
								
								<p:column style="width:50px" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.codigo']}" />
									</f:facet>	   								
									<h:outputText value="#{serviceRate.rateCode}" />
								</p:column>		
																																          
								<p:column>
									<f:facet name="header">
									    <h:outputText value="#{msgs['col.detail']}" />
									</f:facet>
									<h:outputText value="#{serviceRate.rateName}" />
									<h:outputText value="#{serviceRate.descriptionRate}" />  
									<p:commandLink styleClass="icon" process="@this" update=":frmCollectionRecord:cnfwFlagConsult"
													rendered="#{ ((serviceRate.rateType eq consultCollectionMgmtBean.rateTypeMovementFixed) or
																(serviceRate.rateType eq consultCollectionMgmtBean.rateTypeMovementPercentage) or
																(((serviceRate.rateType eq consultCollectionMgmtBean.rateTypeStaggeredFixed) or
																  (serviceRate.rateType eq consultCollectionMgmtBean.rateTypeStaggeredPercentage)or
																  (serviceRate.rateType eq consultCollectionMgmtBean.rateTypeStaggeredMixed)) and 
																  (serviceRate.indScaleMovement == 1))
																)}"
													actionListener="#{consultCollectionMgmtBean.viewDetailRate(serviceRate)}">
						            <p:graphicImage id="imgViewFixed" library="img" name="icons/loupe.png" />                
						           </p:commandLink>
						           
						           <p:commandLink styleClass="icon" process="@this" update=":frmCollectionRecord:cnfwFlagDetail"
						           					rendered="#{!(empty serviceRate.moreCollectionDetail)}"
													actionListener="#{consultCollectionMgmtBean.viewDetailCollection(serviceRate)}">
						            <p:graphicImage id="imgViewMoreDetail" library="img" name="icons/loupe.png" />                
						           </p:commandLink>
					           	   
								</p:column>									
																		
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.currency']}" />
									</f:facet>
									<h:outputText value="#{serviceRate.descriptionCurrency}" />
								</p:column>
								
								<p:column styleClass="content-right">
									<f:facet name="header">
										<h:outputText value="#{msgs['col.amount']}" />
									</f:facet>
									<p:inputText  style="text-align:right"  disabled="true"
												size="26"	 value="#{serviceRate.amountRate}" >	
									<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}"
                						locale="#{cons['conv.number.locale']}"/>
									</p:inputText>
								</p:column>
								
								<p:column >
									<f:facet name="header">
										<h:outputText value="#{msgs['rate.lbl.rate.type']}" />
									</f:facet>
									<h:outputText value="#{serviceRate.descriptionType}" />
								</p:column>
								<f:facet name="footer">	
									<div>								
									<h:outputLabel value=" #{msgs['lbl.results']} #{consultCollectionMgmtBean.serviceRateToDataModel.rowCount}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>								
							</p:dataTable>	  
					</p:fieldset> 
					
					
				</td>
			</tr>
			<tr>
				<td>
				<!-- Add Detail Collection Record: Holder, Security, Currency Security -->
					<p:outputPanel  id="cnfwFlagDetail">
					<p:outputPanel rendered="#{consultCollectionMgmtBean.addDetailCollection}">
						<p:fieldset legend="#{msgs['inputDataRate.legend.calculation.details']}" >
								<p:outputPanel  id="moreDetailCollection">		
								
								    <table width="100%">
									<tr>
									<td align="center" colspan="4"> 	
									<p:dataTable id="dataTableMoreDetail"   var="moreDetail" 
											    value="#{consultCollectionMgmtBean.serviceRateTo.moreCollectionDetail}"
												paginator="true"  rows="10" 
												rowKey="#{moreDetail.idCollectionRecordDetailPk}" paginatorPosition="top" 
												currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
												paginatorTemplate="#{msgs['dtb.paginator.template']}"								
												rowsPerPageTemplate="5,10,15"						  
								                rowIndexVar="rIndx"
								                rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"  >																									
																																	
												<p:column styleClass="content-center">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.collection.index']}" />
													</f:facet>	   
													<h:outputText value="#{rIndx+1}" />
												</p:column>
												<p:column>
													<f:facet name="header">
								    					<h:outputText value="#{msgs['user.lbl.titular']}" />
													</f:facet>
													<h:outputText value="#{moreDetail.descriptionHolder}" />
												</p:column>
												<p:column styleClass="content-center">
													<f:facet name="header">
								    					<h:outputText value="#{msgs['lbl.currency.origin']}" />
													</f:facet>
													<h:outputText value="#{moreDetail.descriptionCurrencyOrigin}" />
												</p:column>
												<p:column styleClass="content-center">
													<f:facet name="header">
								    					<h:outputText value="#{msgs['user.lbl.valor']}" />
													</f:facet>
													<h:outputText value="#{moreDetail.idSecurityCodeFk}" />
												</p:column>
												<p:column>
													<f:facet name="header">
								    					<h:outputText value="#{msgs['user.lbl.clase']}" escape="false" />
													</f:facet>
													<h:outputText value="#{moreDetail.descriptionSecurityClass}" />

												</p:column>
			 					
												<p:column styleClass="content-center">
													<f:facet name="header">
														<h:outputText value="#{msgs['rate.lbl.fixed.amount']}" />
													</f:facet>
												<p:inputText  style="text-align:right"  disabled="true"
													size="22"	 value="#{moreDetail.amount}" >	
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}"
	                								locale="#{cons['conv.number.locale']}"/>
												</p:inputText>
												</p:column>  		 

									 
											<f:facet name="footer">	
												<div>								
												<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.serviceRateTo.moreCollectionDetail.size()}" 
												style="font-weight:bold;"/>
												</div>
											</f:facet>
											</p:dataTable>
										</td>
									</tr>
									</table>
																								
								</p:outputPanel>						
							</p:fieldset>	
					</p:outputPanel>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel  id="cnfwFlagConsult">			
				 		<p:outputPanel rendered="#{consultCollectionMgmtBean.addDetail}">		
 				
							<p:fieldset legend="#{msgs['inputDataRate.legend.calculation.details']}" >
								<p:outputPanel  id="rateMovementTypeFixed">		

								<!-- Rate Movement Fixed -->									
								    <table width="100%">
									<tr>
									<td align="center" colspan="4"> 	
									<p:dataTable id="dataTableMovFixed"   var="rateMovementFixed" 
											    value="#{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo}"
												paginator="true"  rows="10" 
												rowKey="#{rateMovementFixed.idRateMovementPk}" paginatorPosition="top" 
												currentPageReportTemplate="Páginas {currentPage} de {totalPages}" 
												paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"								
												rendered="#{ ((consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeMovementFixed) or 
																(((consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeStaggeredFixed) ||
																(consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeStaggeredMixed)) and
																(consultCollectionMgmtBean.serviceRateTo.indScaleMovement  == 1))
															)}"
												rowsPerPageTemplate="5,10,15"						  
								                rowIndexVar="rIndx"
								                rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"  >																									
																																	
												<p:column styleClass="content-center">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.collection.index']}" />
													</f:facet>	   
													<h:outputText value="#{rIndx+1}" />
												</p:column>
												<p:column>
													<f:facet name="header">
								    					<h:outputText value="#{msgs['rate.lbl.movement.description']}" />
													</f:facet>
													<h:outputText value="#{rateMovementFixed.descriptionMovementType}" />
												</p:column>
												<p:column>
													<f:facet name="header">
								    					<h:outputText value="#{msgs['user.lbl.valor']}" />
													</f:facet>
													<h:outputText value="#{rateMovementFixed.securityCode}" />
												</p:column>
												<p:column styleClass="content-right">
													<f:facet name="header">
								    					<h:outputText value="#{msgs['lbl.operation.quantity']}" escape="false" />
													</f:facet>
													<h:outputText value="#{rateMovementFixed.operationCount}" />
													
													<f:facet name="footer">
													<h:outputText value="#{consultCollectionMgmtBean.serviceRateTo.operationCount}" />
													</f:facet>
												</p:column>
			 					
												<p:column styleClass="content-center">
													<f:facet name="header">
														<h:outputText value="#{msgs['rate.lbl.fixed.amount']}" />
													</f:facet>
												<p:inputText  style="text-align:right"  disabled="true"
													size="22"	 value="#{rateMovementFixed.rateAmount}" >	
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}"
	                								locale="#{cons['conv.number.locale']}"/>
												</p:inputText>
												</p:column>  		 
												
												<p:column>
													<f:facet name="header">
								    					<h:outputText value="#{msgs['col.amount']}" />
													</f:facet>
													<p:inputText  style="text-align:right"  disabled="true"
													size="22"	 value="#{rateMovementFixed.grossAmount}" >	
													<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}"
		                								locale="#{cons['conv.number.locale']}"/>
													</p:inputText>
												</p:column> 
												
										<p:column>
											<f:facet name="header">
											    <h:outputText value="#{msgs['col.detail']}" />
											</f:facet> 
												<p:commandLink styleClass="icon" process="@this" update=":formViewRate"
									        				   actionListener="#{consultCollectionMgmtBean.viewCalculationDetail}">
							                    	<p:graphicImage id="imgViewFixed" library="img" name="icons/loupe.png" /> 
							                    	<f:attribute name="rowMovement" value="#{rIndx}"/>               
							                    </p:commandLink>
										</p:column>
									 
											<f:facet name="footer">	
												<div>								
												<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo.size()}" 
												style="font-weight:bold;"/>
												</div>
											</f:facet>
											</p:dataTable>
										</td>
									</tr>
									</table>
									<!-- Rate Movement Percentage -->
									 <table width="100%">
										<tr>
										<td align="center" colspan="4"> 	
										<p:dataTable id="dataTableMovPercentage"   var="rateMovement" 
												    value="#{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo}"
													paginator="true"  rows="10" 
													rowKey="#{rateMovement}" paginatorPosition="top" 
													currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
													paginatorTemplate="#{msgs['dtb.paginator.template']}"								
													rendered="#{ ((consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeMovementPercentage) or
																	((consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeStaggeredPercentage) and
																	(consultCollectionMgmtBean.serviceRateTo.indScaleMovement  == 1))
																)}"
													 rowsPerPageTemplate="5,10,15"						  
									                 rowIndexVar="rIndx"
									                 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"  >						
													<p:column>
														<f:facet name="header">
									    					<h:outputText value="#{msgs['rate.lbl.movement.description']}" />
														</f:facet>
														<h:outputText value="#{rateMovement.descriptionMovementType}" />
													</p:column>
													
													<p:column>
														<f:facet name="header">
									    					<h:outputText value="#{msgs['user.lbl.valor']}" />
														</f:facet>
														<h:outputText value="#{rateMovement.securityCode}" />
													</p:column>
													 
													
													<p:column>
														<f:facet name="header">
									    					<h:outputText value="#{msgs['lbl.currency']}" />
														</f:facet>
														<h:outputText value="#{rateMovement.descriptionCurrencyRate}" />
													</p:column>
													
													<p:column styleClass="content-right">
													<f:facet name="header">
															<h:outputText value="#{msgs['lbl.operation.quantity']}"  escape="false" />
														</f:facet>
													<h:outputText value="#{rateMovement.operationCount}"  />
													</p:column>
													 
													<p:column styleClass="content-center">
														<f:facet name="header">
															<h:outputText value="#{msgs['rate.lbl.percentage.amount.br']}" escape="false"/>
														</f:facet>
														<p:inputNumber symbol="%" style="text-align:right" symbolPosition="s" disabled="true"
														value="#{rateMovement.ratePercent}" minValue="0.0000">
														<p:keyFilter regEx="#{cons['exp.regular.numeric.amount']}"/> 
														</p:inputNumber>													
													</p:column>
													
													<p:column>
														<f:facet name="header">
														    <h:outputText value="#{msgs['col.detail']}" />
														</f:facet> 
														<p:commandLink styleClass="icon" process="@this" update=":formViewRate"
											        				   actionListener="#{consultCollectionMgmtBean.viewCalculationDetail}">
									                    	<p:graphicImage id="imgViewPercentage" library="img" name="icons/loupe.png" />
									                    	<f:attribute name="rowMovement" value="#{rIndx}"/>  
									                    	               
									                    </p:commandLink>
													</p:column>
											
													<f:facet name="footer">	
													<div>								
													<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.serviceRateTo.listRateMovementTo.size()}" 
													style="font-weight:bold;"/>
													</div>
												</f:facet>
												</p:dataTable>
											</td>
										</tr>
									</table>															
								</p:outputPanel>						
							</p:fieldset>	
									
						</p:outputPanel>
 					</p:outputPanel>
				</td>
			</tr>

		</table>
		
		
					<table width="100%">
						<tr>
							<td align="center"> 	 						
										 	<p:commandButton id="idAccept"
												 				 value="#{msgs['btn.back']}"
												 				 icon="fa fa-undo"												 				 
												 				 action="consultCollectionByServices"/>
			   							 				 
							 </td>	
						</tr> 
					</table> 
	</h:form>
	
	
	
<!-- DETAIL of DETAIL -->	
	<h:form id="formViewRate"> 
		<p:dialog widgetVar="cnfwFlagConsult" id="cnIdFlagConsult" visible="true"  
					 rendered="#{consultCollectionMgmtBean.addMoreDetail}"
					 resizable="false" draggable="false" 
					 closable="false" modal="true" width="100%">	
		
		<table width="100%">
			<tr>
				<td colspan="4"> 				
				<p:outputPanel id="detailTable"   rendered="#{consultCollectionMgmtBean.addMoreDetail}" >		
					<p:fieldset legend="#{msgs['inputDataRate.legend.calculation.details.operation']}" >					
						<p:dataTable id="moreDetail"  
							     value="#{consultCollectionMgmtBean.lisDetailRateMovementTo}"
							paginator="true"  rows="5" 
							var="rateMovementDetail"
							rowKey="#{rateMovementDetail}" paginatorPosition="top" 
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}"
							rowsPerPageTemplate="5,10,15"						  
			                rowIndexVar="rIndx"
			                rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"  >						
							<p:column>
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.operation.date']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.operationDate}" />
							</p:column> 
							
							<p:column styleClass="content-right">
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.number.operation']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.operationNumber}" />
							</p:column>
							
							<p:column>
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.source.participant']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.descriptionSourceParticipant}" />
							</p:column>
							
							<p:column>
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.target.participant']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.descriptionTargetParticipant}" />
							</p:column>
							 
							 <p:column>
								<f:facet name="header">
			    					<h:outputText value="#{msgs['billingService.lbl.rnt.holder']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.descriptionRnt}" />
							</p:column>							
							
							 
							
							<p:column styleClass="content-right">
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.source.account']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.holderAccount}" />
							</p:column>
							 						 							
							<p:column>
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.header.isin.code']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.securityCode}" />
							</p:column>							
							
							<!--  only with rate percent -->
							<p:column styleClass="content-right"
									  rendered="#{(consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeMovementPercentage)}">
								<f:facet name="header">
										<h:outputText value="#{msgs['rate.lbl.movement.operation.price.br']}" escape="false"  />
									</f:facet>
								<p:inputText  style="text-align:right"  disabled="true"
									size="22"	 value="#{rateMovementDetail.operationPrice}" >	
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}"
	            								locale="#{cons['conv.number.locale']}"/>
								</p:inputText>
							</p:column>		
							
							<p:column styleClass="content-right">
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.security.cuantity']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.movementQuantity}" />
							</p:column>	
							
							<!--  only with rate percent -->
							<p:column styleClass="content-right"
								      rendered="#{(consultCollectionMgmtBean.serviceRateTo.rateType  eq consultCollectionMgmtBean.rateTypeMovementPercentage)}">
								<f:facet name="header">
			    					<h:outputText value="#{msgs['lbl.operation.amount']}"  escape="false"/>
								</f:facet>
								<h:outputText value="#{rateMovementDetail.operationAmount}"/>
							</p:column>					
					
							<f:facet name="footer">	
								<div>								
								<h:outputLabel value=" #{msgs['lbl.registers.found']} #{consultCollectionMgmtBean.lisDetailRateMovementTo.size()}" 
								style="font-weight:bold;"/>
								</div>
							</f:facet>
						</p:dataTable>
						
						</p:fieldset>
					</p:outputPanel>	
					
					</td>
				</tr>
				
				<tr align="center">
					<td> 								
					<p:commandButton id="idAcceptPopUp"
						value="#{msgs['btn.back']}"
						actionListener="#{consultCollectionMgmtBean.cleanDetail}"
						icon="fa fa-undo" immediate="true" process="@this" 
						onclick="PF('cnfwFlagConsult').hide();"/>
			 	 	</td>									
	   			 </tr> 
		</table> 
		
		 
		
		</p:dialog>
	</h:form> 
	
	</ui:define>
</ui:composition>
</html>	