<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">


<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css"> 

.combo {
	width: 200px !important;
	margin-left: 8px !important;
}

.combo2 {
	margin-left: 8px !important;
}

.caja {
	margin-left: 16px !important;
}

.caja2 {
	margin-left: 10px !important
}

.caja3 {
	margin-left: 8px !important;
}

.caja4 {
	margin-left: 8px !important;
}
</style>

		<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmSearchManualCollection');
	});
    </script>

		<h:outputText
			value="#{msgs['title.manual.collection.service.register']}"
			styleClass="title-page" />

<h:form id="frmSearchManualCollection">
	<p:outputPanel>
		<table width="100%">
			<tr>
				<td><p:fieldset legend="#{msgs['serviceData.legend']}">

						<table width="100%" border="0">
							<tr>
								<td width="25%"><div class="caja">
										<h:outputText
											value="#{msgs['billingService.lbl.service.code.name']} (*)"
											styleClass="required-field" />
									</div></td>
								<td colspan="2" width="50%">
									<div class="caja4">
										<ark:billingService id="helperBilling"
											billingService="#{collectionServiceMgmtBean.billingService}"
											actionRemote="#{collectionServiceMgmtBean.updateSelectedCombo}"
											enableActionRemote="true"
											typeService="#{collectionServiceMgmtBean.serviceTypeHelper}"
											validatorName="com.pradera.commons.view.validators.InputTextValidator"
											required="true" />
									</div>

								</td>
								<td width="25%"></td>
							</tr>

							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.service.type']}" />
									</div>
								</td>
								<td width="28%"><p:inputText id="iptCollectionForm"
										readonly="true" disabled="true" styleClass="caja3"
										style="width:250px"
										value="#{collectionServiceMgmtBean.billingService.descriptionServiceType}" />
								</td>
								
								
							</tr>
							<tr></tr>
							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText
											value="#{msgs['billingService.lbl.service.client']}" />
									</div>
								</td>
								<td width="25%"><p:inputText disabled="true"
										styleClass="caja3" style="width:250px"
										value="#{collectionServiceMgmtBean.billingService.descriptionClientServiceType}">
									</p:inputText></td>
								<td width="25%"></td>
								<td width="25%"></td>
							</tr>
							<tr>
								<td width="25%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.collection.institution']}" />
									</div>
								</td>
								<td width="25%"><p:outputPanel autoUpdate="false">
										<p:inputText disabled="true" styleClass="caja3"
											style="width:250px"
											value="#{collectionServiceMgmtBean.billingService.descriptionCollectionEntity}">
										</p:inputText>
									</p:outputPanel></td>
								<td width="25%"></td>
								<td width="25%"></td>
							</tr>

							<tr>
								<td colspan="4">
									<p:outputPanel id="outPnlHolderEntityCollection">
										<p:outputPanel
											rendered="#{collectionServiceMgmtBean.disableHolderECVisible}">
											<table width="100%" border="0">
												<tr>
													<td width="25%"><div class="caja">
															<h:outputText value="#{msgs['user.lbl.titular']} (*)"
																styleClass="required-field" />
														</div></td>
													<td colspan="2">
														<div class="caja4">
															<h:panelGrid columns="3" cellspacing="0"
																cellpadding="0">
																<hark:holderHelper id="holderHelperId"
																	holder="#{collectionServiceMgmtBean.holderSelected}"
																	validatorName="com.pradera.commons.view.validators.InputTextValidator"
																	required="true" label="#{msgs['user.lbl.titular']}"
																	remoteListener="updateFieldHolder()" />
																<p:remoteCommand name="updateFieldHolder"
																	process="@this"
																	update=":frmSearchManualCollection:holderHelperId:outpnlHolder msgHolder" />
																<p:message
																	for=":frmSearchManualCollection:holderHelperId:holderHelperId"
																	display="icon" id="msgHolder" />
															</h:panelGrid>
														</div>
													</td>
													<td width="25%"><f:attribute name="codeHolder"
															value="#{collectionServiceMgmtBean.holderSelected.idHolderPk}" /></td>
												</tr>
											</table>
										</p:outputPanel>
									</p:outputPanel></td>
							</tr>
							<tr>
								<td width="25%"><p:outputPanel
										rendered="#{collectionServiceMgmtBean.disableParticipantECVisible}">
										<div class="caja">
											<h:outputText value="#{msgs['user.lbl.participante']} (*)"
												styleClass="required-field" />
										</div>
									</p:outputPanel></td>
								<td width="20%"><p:outputPanel
										id="outPnlParticipantEntityCollection">
										<p:outputPanel
											rendered="#{collectionServiceMgmtBean.disableParticipantECVisible}">

											<div class="combo">
												<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
													<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbParticipantEntityCollectionData"
														style="width:450px;"
														label="#{msgs['user.lbl.participante']}"
														value="#{collectionServiceMgmtBean.participantSelected}"
														disabled="false">
														<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
														<f:selectItems
															value="#{collectionServiceMgmtBean.listClientParticipant}"
															var="participantList"
															itemLabel="#{participantList.description}"
															itemValue="#{participantList.idParticipantPk}" />
														<f:validator
															validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
														<p:ajax event="change"
															update="msgsCollectionPeriodId @this" />
													</p:selectOneMenu>
													<p:message for="cmbParticipantEntityCollectionData"
														display="icon" id="msgsCollectionPeriodId" />
												</h:panelGrid>
											</div>
										</p:outputPanel>
									</p:outputPanel></td>
								<td width="25%"></td>
							</tr>
							<tr>
								<td colspan="4"><p:outputPanel
										id="outPnlIssuerEntityCollectionData">
										<p:outputPanel
											rendered="#{collectionServiceMgmtBean.disableIssuerECVisible}">
											<table width="100%" border="0">
												<tr>
													<td width="25%">
														<div class="caja">
															<h:outputText value="#{msgs['user.lbl.emisor']} (*)"
																styleClass="required-field" />
														</div>
													</td>
													<td colspan="2">
														<div class="caja4">
															<h:panelGrid columns="3" cellspacing="0"
																cellpadding="0">
																<hark:issuerHelper id="issuerHelperId"
																	issuer="#{collectionServiceMgmtBean.issuer}"
																	validatorName="com.pradera.commons.view.validators.InputTextValidator"
																	required="true" label="#{msgs['user.lbl.emisor']}"
																	remoteListener="updateFieldIssuer()" />
																<p:remoteCommand name="updateFieldIssuer"
																	update=":frmSearchManualCollection:issuerHelperId:outpnlIssuer msgIssuer"
																	process="@this" />
																<p:message
																	for=":frmSearchManualCollection:issuerHelperId:issuerHelperId"
																	display="icon" id="msgIssuer" />
															</h:panelGrid>
														</div>
													</td>
												</tr>
											</table>
										</p:outputPanel>
									</p:outputPanel></td>
							</tr>
							<tr>
								<td colspan="4">
								<p:outputPanel
										id="outPnlOtherEntityCollectionData">
										<p:panel
											rendered="#{collectionServiceMgmtBean.disableOtherECVisible}">
											<table width="100%" border="0">
												<tr>
													<td width="21%">
														<div class="caja">
															<h:outputText value="#{msgs['lbl.document.type']} (*)"
																styleClass="required-field" />
														</div>
													</td>
													<td width="20%">
														<div class="combo2">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherDocumentType"
																	style="width:300px;"
																	label="#{msgs['lbl.document.type']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.documentType}"
																	disabled="false">
																	<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" />
																	<f:selectItems
																		value="#{collectionServiceMgmtBean.lstDocumentType}"
																		var="documentType"
																		itemLabel="#{documentType.parameterName}"
																		itemValue="#{documentType.parameterTablePk}" />
																	<f:validator
																		validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
																</p:selectOneMenu>
																<p:message for="cmbOtherDocumentType" display="icon"
																	id="msgsOtherDocumentType" />
															</h:panelGrid>
														</div>
													</td>
													<td width="15%"><div class="caja">
															<h:outputText value="#{msgs['lbl.document.number']}(*)"
																styleClass="required-field" />
														</div></td>
													<td width="20%">
														<div class="caja4">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:inputText id="iptOtherEntityDocument"
																	maxlength="21" label="#{msgs['lbl.document.number']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityDocument}">
																	<p:keyFilter
																		regEx="#{cons['exp.regular.address.and.observations']}" />
																	<f:validator
																		validatorId="com.pradera.commons.view.validators.InputTextValidator" />
																	<p:ajax event="change"
																		process="@this cmbOtherDocumentType"
																		update="msgsOtherEntityDocument @this iptOtherEntityDescription 
																		cmbOtherCountry cmbOtherDepartament cmbOtherProvince 
																		cmbOtherMunicipality iptOtherEntityAddress"
																		listener="#{collectionServiceMgmtBean.getInformationEntityOther}" />
																</p:inputText>
																<p:message for="iptOtherEntityDocument" display="icon"
																	id="msgsOtherEntityDocument" />
															</h:panelGrid>
														</div>
													</td>
												</tr>
												<tr>
													<td width="15%"><div class="caja">
															<h:outputText
																value="#{msgs['lbl.document.description']}" />
														</div></td>
													<td colspan="4">
														<div class="caja4">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:inputText id="iptOtherEntityDescription" size="80"
																	maxlength="100"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityDescription}">
																	<p:keyFilter
																		regEx="#{cons['exp.regular.address.and.observations']}" />
																	<p:ajax event="change"
																		update="msgsOtherEntityDescription @this" />
																</p:inputText>
																<p:message for="iptOtherEntityDescription"
																	display="icon" id="msgsOtherEntityDescription" />
															</h:panelGrid>
														</div>
													</td>
												</tr>


												<tr>
													<!-- Pais -->
													<td width="20%">
														<div class="caja">
															<h:outputText
																value="#{msgs['lbl.other.entity.country']}" />
														</div>
													</td>
													<td width="20%">
														<div class="combo">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherCountry"
																	style="width:200px;"
																	label="#{msgs['lbl.other.entity.country']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityCountry}"
																	disabled="false">
																	<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
																		itemValue="-1" />
																	<f:selectItems
																		value="#{collectionServiceMgmtBean.lstCountries}"
																		var="country" itemLabel="#{country.name}"
																		itemValue="#{country.idGeographicLocationPk}" />

																	<p:ajax event="change"
																		listener="#{collectionServiceMgmtBean.getLstDepartamentLocation}"
																		update="cmbOtherCountry cmbOtherDepartament cmbOtherProvince cmbOtherMunicipality @this" />

																</p:selectOneMenu>
																<p:message for="cmbOtherCountry" display="icon"
																	id="msgsOtherCountry" />
															</h:panelGrid>
														</div>
													</td>

													<!-- Departamento-->
													<td width="20%">
														<div class="caja">
															<h:outputText
																value="#{msgs['lbl.other.entity.departament']}" />
														</div>
													</td>
													<td width="20%">
														<div class="combo">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherDepartament"
																	style="width:200px;"
																	label="#{msgs['lbl.other.entity.departament']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityDepartment}"
																	disabled="false">
																	<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
																		itemValue="-1" />
																	<f:selectItems
																		value="#{collectionServiceMgmtBean.lstDepartament}"
																		var="departament" itemLabel="#{departament.name}"
																		itemValue="#{departament.idGeographicLocationPk}" />

																	<p:ajax event="change"
																		listener="#{collectionServiceMgmtBean.getLstProvinceLocation}"
																		update="cmbOtherMunicipality cmbOtherProvince cmbOtherDepartament @this" />

																</p:selectOneMenu>
																<p:message for="cmbOtherDepartament" display="icon"
																	id="msgsOtherDepartament" />
															</h:panelGrid>
														</div>
													</td>
												</tr>
												<!-- provincia-->
												<tr>
													<td width="20%">
														<div class="caja">
															<h:outputText
																value="#{msgs['lbl.other.entity.province']}" />
														</div>
													</td>
													<td width="20%">
														<div class="combo">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherProvince"
																	style="width:200px;"
																	label="#{msgs['lbl.other.entity.province']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityProvince}"
																	disabled="false">
																	<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
																		itemValue="-1" />
																	<f:selectItems
																		value="#{collectionServiceMgmtBean.lstProvinces}"
																		var="province" itemLabel="#{province.name}"
																		itemValue="#{province.idGeographicLocationPk}" />

																	<p:ajax event="change"
																		listener="#{collectionServiceMgmtBean.getLstDistrictsLocation}"
																		update="cmbOtherMunicipality cmbOtherProvince @this" />
																</p:selectOneMenu>
																<p:message for="cmbOtherProvince" display="icon"
																	id="msgsOtherProvince" />
															</h:panelGrid>
														</div>
													</td>

													<!-- Municipalidad -->
													<td width="20%">
														<div class="caja">
															<h:outputText
																value="#{msgs['lbl.other.entity.municipality']}" />
														</div>
													</td>
													<td width="20%">
														<div class="combo">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbOtherMunicipality"
																	style="width:200px;"
																	label="#{msgs['lbl.other.entity.municipality']}"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityDistrict}"
																	disabled="false">
																	<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
																		itemValue="-1" />
																	<f:selectItems
																		value="#{collectionServiceMgmtBean.lstDistricts}"
																		var="districs" itemLabel="#{districs.name}"
																		itemValue="#{districs.idGeographicLocationPk}" />

																	<p:ajax event="change"
																		update="cmbOtherMunicipality @this"></p:ajax>
																</p:selectOneMenu>
																<p:message for="cmbOtherMunicipality" display="icon"
																	id="msgsOtherMunicipality" />
															</h:panelGrid>
														</div>
													</td>
												</tr>
												<tr>
													<td width="20%"><div class="caja">
															<h:outputText
																value="#{msgs['lbl.other.entity.address']}"
																styleClass="required-field" />
														</div></td>
													<td colspan="4">
														<div class="caja4">
															<h:panelGrid columns="2" cellspacing="0"
																cellpadding="0">
																<p:inputText id="iptOtherEntityAddress" size="80"
																	label="#{msgs['lbl.other.entity.address']}"
																	maxlength="200"
																	value="#{collectionServiceMgmtBean.modelCollectionRecord.otherEntityAddress}">
																	<p:keyFilter
																		regEx="#{cons['exp.regular.address.and.observations']}" />
																	<p:ajax event="change"
																		update="iptOtherEntityAddress @this" />

																</p:inputText>
																<p:message for="iptOtherEntityAddress" display="icon"
																	id="msgsOtherEntityAddress" />
															</h:panelGrid>
														</div>
													</td>
												</tr>
											</table>
										</p:panel>
									</p:outputPanel></td>
							</tr>

						</table>
						<p:spacer height="1px"></p:spacer>
					</p:fieldset></td>
			</tr>
			<tr>
				<td><p:fieldset
						legend="#{msgs['inputDataManual.collection.legend.consult']}">
						<table width="100%" border="0">
							<tr>
								<td width="23%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.net.amount']} (*)"
											styleClass="required-field" />
									</div>
								</td>
								<td width="25%"><h:panelGrid columns="2" cellspacing="0"
										cellpadding="0">
										<p:inputText id="txtNetAmount"
											style="width: 150px !important"
											label="#{msgs['lbl.net.amount']}"
											disabled="#{collectionServiceMgmtBean.disableCollectionAmount}"
											value="#{collectionServiceMgmtBean.modelCollectionRecord.collectionAmount}"
											styleClass="amount-inputfield cashAmount-inputField caja3"
											onblur="calculateGrossAmount()">
											<p:ajax event="change" update="msgsBruteAmountId @this" />
											<f:validator
												validatorId="com.pradera.commons.view.validators.InputTextValidator" />
											<p:keyFilter mask="pnum" />
											<f:convertNumber
												pattern="#{cons['conv.number.pattern.cash.amount']}"
												locale="#{cons['conv.number.locale']}" />
										</p:inputText>
										<p:message for="txtNetAmount" display="icon"
											id="msgsBruteAmountId" />
									</h:panelGrid></td>

								<td width="18%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.impost.amount']}" />
									</div>
								</td>
								<td width="25%"><p:outputPanel autoUpdate="false">
										<p:inputText id="txtImpostAmount"
											disabled="#{collectionServiceMgmtBean.disableTaxApplied}"
											value="#{collectionServiceMgmtBean.modelCollectionRecord.taxApplied}"
											style="width: 150px !important"
											styleClass="amount-inputfield cashAmount-inputField caja3">
											<p:keyFilter mask="pnum" />
											<f:convertNumber
												pattern="#{cons['conv.number.pattern.percentage']}"
												locale="#{cons['conv.number.locale']}" />
										</p:inputText>
									</p:outputPanel></td>
								<p:remoteCommand name="calculateGrossAmount"
									partialSubmit="true" update="txtNetAmount, txtBruteAmount"
									actionListener="#{collectionServiceMgmtBean.calculateGrossAmount}"
									process="frmSearchManualCollection" />
							</tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr>
								<td width="23%">
									<div class="caja">
										<h:outputText value="#{msgs['lbl.brute.amount']}" />
									</div>
								</td>


								<td colspan="2" width="50%">
								<p:inputText
										id="txtBruteAmount" label="#{msgs['lbl.brute.amount']}"
										style="width: 150px !important"
										value="#{collectionServiceMgmtBean.modelCollectionRecord.grossAmount}"
										disabled="#{collectionServiceMgmtBean.disableGrossAmount}"
										styleClass="amount-inputfield cashAmount-inputField caja3">
										<p:keyFilter mask="pnum" />
										<p:ajax event="change" update="msgsBruteAmountId @this" />
										<f:validator
											validatorId="com.pradera.commons.view.validators.InputTextValidator" />
										<f:convertNumber
											pattern="#{cons['conv.number.pattern.cash.amount']}"
											locale="#{cons['conv.number.locale']}" />
									</p:inputText></td>
								<td width="25%"></td>
							</tr>
						</table>
						<table align="center">
							<tr>
								<td align="center" colspan="4"><p:commandButton
										id="cmbSave" value="#{msgs['btn.save']}" icon="fa fa-save"
										update="outPnlDialogs @form"
										actionListener="#{collectionServiceMgmtBean.beforeRegistrationListenerCollection}" />
									<p:spacer width="20"></p:spacer> <p:commandButton
										process="@this" immediate="true"
										value="#{msgs['btn.clean']}" icon="fa fa-trash"
										update="@form helperBilling txtBruteAmount"
										onclick="return showCleanConfirmDialog(this);"
										actionListener="#{collectionServiceMgmtBean.cleanRegisterCollection}"
										oncomplete="PF('cnfwClean').hide();" /> <p:spacer width="20"></p:spacer>
									<p:commandButton id="cmbBackUpdate"
										value="#{msgs['btn.back']}" icon="fa fa-undo"
										action="#{collectionServiceMgmtBean.goToCollection('searchCollectionMgmt')}"
										immediate="true" process="@this" ajax="false"
										onclick="if(isModifiedFormForBack('#frmSearchManualCollection'))return false;" />
								</td>

							</tr>
						</table>
					</p:fieldset></td>
			</tr>
		</table>

		<p:outputPanel id="outPnlDialogs">
			<p:confirmDialog widgetVar="cnfwProcessedServiceSave"
				id="cnfIdProcessedServiceSave" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" rendered="false"
				visible="true">
				<p:commandButton value="#{msgs['btn.yes']}"
					oncomplete="PF('cnfwProcessedServiceSave').hide();"
					update="@form,frmSearchManualCollection"
					actionListener="#{collectionServiceMgmtBean.saveProcessedService}" />
				<p:commandButton value="#{msgs['btn.no']}"
					oncomplete="PF('cnfwProcessedServiceSave').hide();"
					actionListener="#{collectionServiceMgmtBean.hideDialogsFromNew}"
					update="@form,frmSearchManualCollection" />
			</p:confirmDialog>
		</p:outputPanel>
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog"
			message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWEndDialog').hide();"
				actionListener="#{collectionServiceMgmtBean.hideDialogsFromNew}"
				action="#{collectionServiceMgmtBean.goToCollection('searchCollectionMgmt')}"
				immediate="true" value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<p:confirmDialog widgetVar="cnfWCollectionDialog"
			id="cnfIdCollectionDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWCollectionDialog').hide();"
				actionListener="#{collectionServiceMgmtBean.cleanRegisterCollection}"
				update="@form helperBilling" immediate="true"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<p:confirmDialog widgetVar="cnfWCollectionDialogRollBack"
			id="cnfIdCollectionDialogRollBack" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info">
			<p:commandButton onclick="PF('cnfWCollectionDialogRollBack').hide();"
				actionListener="#{collectionServiceMgmtBean.cleanRegisterCollection}"
				update="@form helperBilling" immediate="true"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>

		<!-- popup para propositos generales de mensajes generales -->
		<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog"
			message="#{bodyMessageView}" header="#{headerMessageView}"
			closable="false" severity="alert">
			<p:commandButton onclick="PF('warningDialog').hide();"
				value="#{msgs['btn.accept']}" />
		</p:confirmDialog>
	</p:outputPanel>
</h:form>

	</ui:define>
</ui:composition>
</html>
