<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css">
 
		.caja3{margin-left:8px !important;}
		.caja4{margin-left:5px !important;}
	</style>
	
	<script type="text/javascript">
			$(window).load(function(){
				setAllHolidays('${accreditationCertificationBean.allHolidays}');
			});
	</script>

	<h:outputText value="#{msgs['title.manual.register.collection']}"
				  styleClass="title-page"/>
	
	<h:form id="frmSearchcollectionServiceMgmtBean">
		<table width="100%" border="0"> 
		<tr>
					<td align="right">
						
						<p:commandButton value="#{msgs['btn.new.service']}" icon="fa fa-edit"  immediate="true" 
						               actionListener="#{collectionServiceMgmtBean.loadRegistrationPage}" 
						               action="#{collectionServiceMgmtBean.goToCollection('newCollectionMgmt')}"
						               rendered="#{userPrivilege.userAcctions.register}"/>
					</td>
				</tr>
				
				<tr>
					<td colspan="3">
						<p:fieldset legend="#{msgs['searchServiceBilling.legend']}">

							<table width="100%" border="0"> 
								<tr>
						 			 <td width="200px">
						 			 	<h:outputText value="#{msgs['billingService.lbl.service.code.name']}" />
						 			 </td>			 			 
						 			 <td colspan="3">
						 			 	<div class="caja4">
						 			 	<ark:billingService billingService="#{collectionServiceMgmtBean.billingServiceSearch}" 
						 			 	typeService="#{collectionServiceMgmtBean.serviceTypeHelper}"
						 			 	remoteListener="cleanPanelResult();"
						 			 	 />
						 			 	 <p:remoteCommand  update="@form" process="@this" name="cleanPanelResult"
						  								   actionListener="#{collectionServiceMgmtBean.cleanProcessedServiceToDataModel}">
										</p:remoteCommand>	
										</div>				 			 
						 			 </td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.collection.service.status']}" />
									</td>
									<td>
										<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbStateCollectionRecord"
																style="width:200px;" styleClass="caja3"
																value="#{collectionServiceMgmtBean.processedStateSelected}"
																disabled="#{collectionServiceMgmtBean.disableProcessedStateSelected}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
												itemValue="-1" />
											<f:selectItems
												value="#{collectionServiceMgmtBean.listProcessedState}"
												var="processedState"
												itemLabel="#{processedState.parameterName}"
												itemValue="#{processedState.parameterTablePk}" />
										<p:ajax event="change" update="@form" listener="#{collectionServiceMgmtBean.cleanProcessedServiceToDataModel}"/>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr> 
									<td width="200px"><h:outputText value="#{msgs['lbl.initial.date']}" />
									</td>
									<td width="220px">
									<p:calendar id="cldInitialDate" size="10"
												readonlyInput="true" styleClass="caja3"
												navigator="true"
												required="true"
												requiredMessage="#{msgs['billingService.req.fecha.inicial']}" 
												maxlength="10" beforeShowDay="disableAllHolydays" 
												value="#{collectionServiceMgmtBean.initialDate}" 
												mindate="#{collectionServiceMgmtBean.validityFinalDate}"
												maxdate="#{collectionServiceMgmtBean.finalDate}"
												disabled="#{collectionServiceMgmtBean.validityInitialDateDisable}"
												pattern="#{msgs['dateFormat']}" 
												showOn="button">
										<p:ajax event="dateSelect" update="cldInitialDate,cldFinalDate" process="@this" global="false" />
										<p:ajax event="change" update="cldInitialDate,cldFinalDate" process="@this"/>
									</p:calendar>
									</td> 
									<td width="200px"><h:outputText value="#{msgs['lbl.final.date']}" />
									</td>
									<td width="220px">
									<p:calendar id="cldFinalDate" size="10"
												navigator="true" readonlyInput="true"
												required="true"  requiredMessage="#{msgs['billingService.req.fecha.final']}" 
												maxlength="10" beforeShowDay="disableAllHolydays"  
												value="#{collectionServiceMgmtBean.finalDate}" 
												mindate="#{collectionServiceMgmtBean.initialDate}"
												disabled="#{collectionServiceMgmtBean.validityFinalDateDisable}"
												pattern="#{msgs['dateFormat']}"
												showOn="button">
										<p:ajax event="dateSelect" update="cldInitialDate,cldFinalDate" process="@this" global="false"/>
										<p:ajax event="change" update="cldInitialDate,cldFinalDate" process="@this"/>
									</p:calendar>
									</td>
								</tr>	
								<tr>
	        						<td  align="center" colspan="4"> 
	        							<p:commandButton id="cmbSearch" 
	        							                 value="#{msgs['btn.search']}" 
	        							                 icon="fa fa-search"
	        							                 actionListener="#{collectionServiceMgmtBean.searchCollectionServiceManual}" 
	        							                 update="@form"  />

	        							<p:spacer width="20"></p:spacer>
	        							
	        							<p:commandButton id="cmbClean"
	        							 				 value="#{msgs['btn.clean']}"
	        							 				 icon="fa fa-trash"
	        							 				 actionListener="#{collectionServiceMgmtBean.cleanCollectionServiceManual}" 
	        							 				 update="@form" /> 
	        							 				 <p:spacer width="20"></p:spacer>
		 
									</td>		         	
								</tr>							
							</table>
						</p:fieldset>

					</td>
				</tr>
				<!-- Botones Anular y Confirmar -->
				
							
				<tr>
					<td colspan="3">
						<p:panel  id="panelListado" rendered="#{collectionServiceMgmtBean.processedServiceToDataModel != null}">
							<p:dataTable id="dataTable" var="collection" 
								value="#{collectionServiceMgmtBean.processedServiceToDataModel}"
								paginator="true" rows="10" paginatorPosition="top"
								rendered="#{collectionServiceMgmtBean.processedServiceToDataModel.rowCount>=1}"
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{msgs['dtb.paginator.template']}" 
								rowKey="#{collection.idProcessedServicePk}"
								rowIndexVar="rIndx" rowsPerPageTemplate="5,10,15"
				                rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								>
								
								<p:column sortBy="#{collection.billingServiceTo.serviceCode}" style="width:30px" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.service.code']}" />
									</f:facet>
									<p:commandLink actionListener="#{collectionServiceMgmtBean.billingOnConsult}"  
									  styleClass="content-center"												
									  action="#{collectionServiceMgmtBean.goToCollection('consultCollectionMgmt')}"
									  value="#{collection.billingServiceTo.serviceCode}"  style="color:blue" >
									<f:attribute name="blockInformation" value="#{collection}"  /> 
									</p:commandLink>
									
								</p:column>								
								<p:column sortBy="#{collection.billingServiceTo.serviceName}">
									<f:facet name="header">
									    <h:outputText value="#{msgs['lbl.service.name']}" />
									</f:facet>
									<h:outputText value="#{collection.billingServiceTo.serviceName}" />
								</p:column>								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['billingService.lbl.service.client']}" />
									</f:facet>
									<h:outputText value="#{collection.billingServiceTo.descriptionClientServiceType}" />
								</p:column>								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.collection.institution']}" />
									</f:facet>
									<h:outputText value="#{collection.billingServiceTo.descriptionCollectionEntity}" />
								</p:column>
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['billingService.lbl.service.status']}" />
									</f:facet>
									<h:outputText value="#{collection.billingServiceTo.descriptionStateBillingService}" />
								</p:column>
								<f:facet name="footer">  
								<div style="width:100%; text-align:left" id="idDivRowCount"> 
						            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						            	<f:param id="idParamRowCount" value="#{collectionServiceMgmtBean.processedServiceToDataModel.rowCount}"/>
						            </h:outputFormat>
						           </div> 
							    </f:facet>				
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								 rendered="#{!(collectionServiceMgmtBean.processedServiceToDataModel.rowCount>=1)}"
								style="font-weight:bold;"/>
						</p:panel>
						
					</td>
				</tr>
		</table>
	</h:form>	
	
		<p:outputPanel id="confirmDialogs" >	
		<h:form id="search_popups">
			<!-- popup para propositos generales de mensajes generales -->
			<p:confirmDialog widgetVar="warningDialog" id="idWarningDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false"  severity="alert" > 
				<p:commandButton onclick="PF('warningDialog').hide();"
			    	value="#{msgs['btn.accept']}" />
			</p:confirmDialog>
		
		</h:form>
		</p:outputPanel>
	
	
	</ui:define>
</ui:composition>
</html>