<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpersui">
	
	<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<h:outputText value="#{msgs['title.start.collection.participant.service']}"	styleClass="title-page" />
		<h:form id="frmStartCollectionParticipant">
		<p:outputPanel>
		<table width="100%">
		<tr>
		<td>
			<p:fieldset legend="#{msgs['searchServiceBilling.legend']}"> 
			<table width="100%"  border="0">			
			<tr>
			<td><p:outputPanel >
				<div class="caja">
					<h:outputText value="#{msgs['user.lbl.participante']}" />
				</div></p:outputPanel></td>
			<td><p:outputPanel id="outPnlParticipantEntityCollection">
				<p:outputPanel>
				<div class="combo">
				<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbParticipantEntityCollectionData" style="width:450px;"
					value="#{consultCollectionMgmtBean.participantSelected}" disabled="false">
					<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1" />
					<f:selectItems
						value="#{consultCollectionMgmtBean.listClientParticipantRates}"
						var="participantList"
						itemLabel="#{participantList.description}"
						itemValue="#{participantList.idParticipantPk}" />
					<p:ajax event="change" update="@form" listener="#{consultCollectionMgmtBean.cleanCollectionRecordToDataModel}"/>
				</p:selectOneMenu>
				</div>
				</p:outputPanel>
				</p:outputPanel></td>
			</tr>
			<tr>
			<td></td>
			<td></td>
			</tr>
			<tr>
			<td  align="center" colspan="4"> 
				<p:commandButton id="cmbSave" 
				                 value="Activar Cobro" 
				                 icon="fa fa-edit"
				                 actionListener="#{consultCollectionMgmtBean.changeStatusChargingRates}" 
				                 update="@form :frmStartCollectionParticipant:outPnlParticipantEntityCollection" 
				                 process="@this :frmStartCollectionParticipant" />
	
				<p:spacer width="20px"></p:spacer>
				
				<p:commandButton id="cmbClean"
				 				 value="#{msgs['btn.clean']}"
				 				 icon="fa fa-trash"
				 				 process="@this" immediate="true"
				 				 actionListener="#{consultCollectionMgmtBean.cleanConsultCollectionByServices}" 
				 				 update="@form" /> 
			</td>		         	
			</tr>
			</table>
			</p:fieldset>
		</td>
		</tr>
		</table>
		</p:outputPanel>
		</h:form>
		
	</ui:define>
	</ui:composition>	
</html>