<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants type="com.pradera.model.negotiation.type.SettlementSchemaType" var="schemaType" />
<h:outputText value = "#{msgs['lbl.message.title.simulation']}" styleClass="title-page" />
<h:form id="frmMngPositionComm">
<ui:param value="#{userInfo.userAccountSession.participantCode eq reserveSimulationMgmtBean.idParticipantBC}" name="isParticipantBCB"/>
<table width="100%" >
<tr>
	<td>
	<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.monitor.positions.criteria']}" >
	<table width="100%">
	<tr>
		<td id="capture">
			<p:commandButton value = "#{msgs['lbl.message.print']}" type="button" icon="ui-icon-print" style="display:block;margin-bottom: 20px; width:100px; heigth:20px;">
			    <p:printer target="frmMngPositionComm" />
			</p:commandButton>
		</td>
	</tr>
	<tr>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.monitor.positions.mechanism']} (*)" styleClass="required-field"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2" > 
			<p:selectOneMenu id="cboNegoMechanism" label="#{msgs['lbl.monitor.positions.mechanism']}"
				value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.negoMechanismSelected}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstNegotiationMechanism}" 
					var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
					<p:ajax event="change" process="@this" update="@this msgNegoMechanism cboModalityGroup cboParticipant opnlPositionByParticipant opnlPositionByModalityGroup opnlDetailOperations"
							listener="#{reserveSimulationMgmtBean.changeNegotiationMechanism}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			</p:selectOneMenu>
			<p:message for="cboNegoMechanism" display="icon" id="msgNegoMechanism"/>
			</h:panelGrid>
		</td>
		<td width="20%">
			<h:outputText value="#{msgs['lbl.monitor.positions.modalityGroup']}"/>
		</td>
		<td width="30%">
			<p:selectOneMenu id="cboModalityGroup" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.modalityGroupSelected}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstModalityGroup}" 
					var="modaGroup" itemValue="#{modaGroup.idModalityGroupPk}" itemLabel="#{modaGroup.groupName}"/>
			</p:selectOneMenu>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.monitor.positions.clearingParticipant']}" />
		</td>
		<td colspan="3">
			<p:selectOneMenu id="cboParticipant" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.participantSelected}"
				disabled="#{reserveSimulationMgmtBean.blParticipant}" style="width:500px">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstParticipants}" 
					var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
			</p:selectOneMenu>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.settlementSchema']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2"> 
			<p:selectOneMenu value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementSchemaSelected}" id="cboSettlementSchema">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstSettlementSchema}" var="paramTab" 
					itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			</p:selectOneMenu>
			<p:message for="cboSettlementSchema" display="icon" id="msgSettlementSchema"/>
			</h:panelGrid>
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.monitor.positions.currency']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<h:panelGrid columns="2">
			<p:selectOneMenu id="cboCurrency" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.currencySelected}" 
				label="#{msgs['lbl.monitor.positions.currency']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstCurrency}" var="paramTab" 
					itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					<p:ajax process="@this" update="@this msgCurrency opnlPositionByParticipant opnlPositionByModalityGroup opnlDetailOperations" 
						listener="#{reserveSimulationMgmtBean.cleanResults()}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			</p:selectOneMenu>
			<p:message for="cboCurrency" display="icon" id="msgCurrency"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['lbl.monitor.positions.settlementDate']} (*)" styleClass="required-field"/>
		</td>
		<td>
			<p:calendar value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementDate}" disabled="true"
				readonlyInput="true" size="10" pattern="#{gmsgs['calendar.date.format']}"/>
		</td>
		<td>
			<h:outputText value="#{msgs['lbl.monitor.positions.extended']}" />
		</td>
		<td>
			<p:selectBooleanCheckbox value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.extended}" />
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<p:commandButton value="#{gmsgs['btn.search']}" update="@form" 
				rendered="#{userPrivilege.userAcctions.search}" icon="fa fa-search" 
				actionListener="#{reserveSimulationMgmtBean.searchPositionsParticipant}"/>
			<p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
				actionListener="#{reserveSimulationMgmtBean.cleanSearch}" process="@this" update="@form"/>
		</td>
	</tr>
	</table>
	</p:fieldset>
	</td>
</tr>
<tr>
	<td width="100%">
	<p:outputPanel id="opnlPositionByParticipant">
	<p:panel rendered="#{reserveSimulationMgmtBean.searchPositionCommissionTO.blNoResult}">
		<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
	</p:panel>
	<p:fieldset legend="#{msgs['lbl.monitor.positions.panel.positionsByParticipant']}" id="idPosParticipant" 
		rendered="#{not empty reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByParticipant}">
		<p:dataTable var="posParticipant" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByParticipant}"
	    	paginator="true" rows="10" paginatorPosition="top" rowsPerPageTemplate="5,10,15"
	        paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}">
	        
			<p:column sortBy="#{posParticipant.participantMnemonic}">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.participant']}"/>
				</f:facet>
				<p:commandLink value="#{posParticipant.participantMnemonic} - #{posParticipant.idParticipantPk}" style="color:blue" process="@this"
			 		action="#{reserveSimulationMgmtBean.showPositionModalityGroup(posParticipant)}" rendered="#{!isParticipantBCB}" 
			 		update=":frmMngPositionComm:opnlPositionByModalityGroup :frmMngPositionComm:opnlDetailOperations"/>
			 	<h:outputText value="#{posParticipant.participantMnemonic} - #{posParticipant.idParticipantPk}" rendered="#{isParticipantBCB}"/>
			</p:column>
			
			<p:column sortBy="#{posParticipant.modalityGroup}">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.modalityGroup']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.modalityGroup}"/>
			</p:column>
			
			<p:column sortBy="#{posParticipant.settlementSchemaDesc}">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.settlementSchema']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.settlementSchemaDesc}"/>
			</p:column>
			
			<p:column sortBy="#{posParticipant.currency}">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.currency']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.currency}"/>
			</p:column>
			
			<p:column sortBy="#{posParticipant.buyPosition}" styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.buy']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.buyPosition}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>
			</p:column>
			
			<p:column sortBy="#{posParticipant.sellPosition}" styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.sell']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.sellPosition}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>
			</p:column>
			
			<p:column sortBy="#{posParticipant.netPosition}" styleClass="content-right"  >
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.net']}"/>
				</f:facet>
				<h:outputText value="#{posParticipant.netPosition}" style="color:red;font-weight:bold" 
					rendered="#{posParticipant.settlementSchema == schemaType.NET.code and posParticipant.isNetPositionNegative}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>				
				<h:outputText value="#{posParticipant.netPosition}" 
				    rendered="#{posParticipant.settlementSchema == schemaType.NET.code and !posParticipant.isNetPositionNegative}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>				
				<h:outputText value="-" rendered="#{posParticipant.settlementSchema == schemaType.GROSS.code}"/>
			</p:column>
			
			<f:facet name="footer">
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{fn:length(reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByParticipant)}"/>
				</h:outputFormat>
			</f:facet>	
		</p:dataTable>		
		<table width="100%" class="securities-help" >
		<tr >
			<td width="25%" align="right">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.totalBuy']}" styleClass="required-field"/>
				<p:spacer width="5"/>
				<p:inputText size="30" disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.totalPurchase}"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
			<td width="25%" align="right">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.totalSell']}" styleClass="required-field"/>
				<p:spacer width="5"/>	
				<p:inputText size="30" disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.totalSale}"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>	
			</td>
		</tr>
		<tr>
			<td width="25%" align="right">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.totalDebtorPos']}" styleClass="required-field"/>
				
				<p:spacer width="5"/>
				<p:inputText size="30" disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.totalDebt}"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
			<td width="25%" align="right">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionByParticipant.totalCreditorPos']}" styleClass="required-field"/>
				<p:spacer width="5"/>	
				<p:inputText size="30" disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.totalCreditor}"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>	
			</td>				
		</tr>
		</table>
	</p:fieldset>
	</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
	<br/>
	</td>
</tr>
<tr>
	<td width="100%">
	<p:outputPanel id="opnlPositionByModalityGroup">
	<p:fieldset legend="#{msgs['lbl.monitor.positions.panel.positionsByModaGroup']}" 
		rendered="#{not empty reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByModalityGroup}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.clearingParticipant']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.participantHeader}" disabled="true">
					<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstParticipants}" 
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.modalityGroup']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.modalityGroupHeader}" disabled="true">
					<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstModalityGroup}" 
						var="modaGroup" itemValue="#{modaGroup.idModalityGroupPk}" itemLabel="#{modaGroup.groupName}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.settlementSchema']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementSchemaHedaer}" disabled="true">
					<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstSettlementSchema}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.currency']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.currencySelected}">
					<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstCurrency}" var="paramTab" 
						itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.mechanism']}"/>
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.negoMechanismSelected}">
					<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstNegotiationMechanism}" 
						var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
				</p:selectOneMenu>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.settlementDate']}"/>
			</td>
			<td>
				<p:calendar value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementDate}" disabled="true"
					readonlyInput="true" size="10" pattern="#{gmsgs['calendar.date.format']}"/>
			</td>
		</tr>
		<tr>
			<td><br/></td>
		</tr>
		<tr>
			<td colspan="4">
				<p:dataTable id="dataTableModalityGroup" var="posModalityGroup" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByModalityGroup}">
					
					<p:column sortBy="#{posModalityGroup.positionParticipantTO.buyPosition}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.buy']}"/>
						</f:facet>
						<p:commandLink style="color:blue" process="@this" disabled="#{posModalityGroup.positionParticipantTO.buyPosition eq 0}"
			 				action="#{reserveSimulationMgmtBean.showPositionPurchase(posModalityGroup)}" 
			 				update=":frmMngPositionComm:opnlDetailOperations">
			 				<h:outputText value="#{posModalityGroup.positionParticipantTO.buyPosition}">
			 					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
			 				</h:outputText>
			 			</p:commandLink>
					</p:column>
					
					<p:column sortBy="#{posModalityGroup.positionParticipantTO.sellPosition}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.sell']}"/>
						</f:facet>
						<p:commandLink style="color:blue" process="@this" disabled="#{posModalityGroup.positionParticipantTO.sellPosition eq 0}"
			 				action="#{reserveSimulationMgmtBean.showPositionSale(posModalityGroup)}" 
			 				update=":frmMngPositionComm:opnlDetailOperations">
			 				<h:outputText value="#{posModalityGroup.positionParticipantTO.sellPosition}">
			 					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
			 				</h:outputText>
			 			</p:commandLink>
					</p:column>
					
					<p:column sortBy="#{posModalityGroup.depositedAmount}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.deposited']}"/>
						</f:facet>
						<h:outputText value="#{posModalityGroup.depositedAmount}">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{posModalityGroup.paidAmount}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByModaGroup.paid']}"/>
						</f:facet>
						<h:outputText value="#{posModalityGroup.paidAmount}">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{posModalityGroup.netPosition}" styleClass="content-right" headerText="#{msgs['lbl.monitor.positions.positionsByModaGroup.availableBalance']}"> 
  						<b class="#{posModalityGroup.netPosition lt 0?'redText':''}">
						<h:outputText value="#{posModalityGroup.netPosition}">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText>
						</b>
					</p:column>
				</p:dataTable>
			</td>
		</tr>
		</table>
	</p:fieldset>
	</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
	<br/>
	</td>
</tr>
<tr>
	<td>
	<p:outputPanel id="opnlDetailOperations">
	<p:fieldset id="fldPositionsByRole" legend="#{msgs['lbl.monitor.positions.panel.positionsByRole']}" 
		rendered="#{not empty reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByRole}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.clearingParticipant']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.participantHeader}" disabled="true">
					<f:selectItems 	value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstParticipants}" 
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.role']}"/>
			</td>
			<td colspan="3">
				<p:inputText value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.role}" disabled="true"/>
			</td>
		</tr>
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.mechanism']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.negoMechanismSelected}">
					<f:selectItems value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstNegotiationMechanism}" 
						var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
				</p:selectOneMenu>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.settlementDate']}"/>
			</td>
			<td width="30%">
				<p:calendar value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementDate}" disabled="true"
					size="10" pattern="#{gmsgs['calendar.date.format']}"/>
			</td>
		</tr>
		<tr>
			<td><br/></td>
		</tr>		
		<tr>
			<td colspan="4" width="100%">
				<p:dataTable id="dtbCommisRoleBuy" var="posRole"					
					paginator="true" rows="30" paginatorPosition="top" rowsPerPageTemplate="30,40,50"
	       			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					value="#{reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByRole}"
					selection="#{reserveSimulationMgmtBean.selectionLstPositionByRole}"
					rowKey="#{posRole.idMechanismOperationPk}"  >
					
					<p:column sortBy="#{posRole.modality}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.modality']}"/>
						</f:facet>
						<h:outputText value="#{posRole.modality}"/>
					</p:column>
					
					<p:column sortBy="#{posRole.operationDate}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.operationDate']}" escape="false"/>
						</f:facet>
						<h:outputText value="#{posRole.operationDate}">
							<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{posRole.operationNumber}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.operationNumber']}" escape="false"/>
						</f:facet>
						<p:commandLink value="#{posRole.operationNumber}" style="color:blue" 
							actionListener="#{reserveSimulationMgmtBean.loadMechanismOperation(posRole.idMechanismOperationPk)}" action="viewMonitorOpe"/>
					</p:column>
					
					<p:column sortBy="#{posRole.ballotNumber}" styleClass="content-right" 
					rendered="#{reserveSimulationMgmtBean.searchPositionCommissionTO.settlementSchemaSelected eq schemaType.NET.code}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.operation.ballotSequential.br']}" escape="false"/>
						</f:facet>
						<h:outputText value="#{posRole.ballotNumber}/#{posRole.sequential}" />
					</p:column>
					
					<p:column styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.state']}"/>
						</f:facet>
						<h:outputText value="#{posRole.state}"/>
					</p:column>
					
					<p:column sortBy="#{posRole.security}" headerText="#{msgs['lbl.monitor.positions.positionsByRole.isin']}"
						styleClass="content-center">
						<ark:securities-help securityCode="#{posRole.security}" link="true" icon="false"/>
					</p:column>
					
					<p:column sortBy="#{posRole.operationQuantity}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.quantity']}"/>
						</f:facet>
						<h:outputText value="#{posRole.operationQuantity}"/>
					</p:column>
					
					<p:column sortBy="#{posRole.operationPrice}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.price']}"/>
						</f:facet>
						<h:outputText value="#{posRole.operationPrice}">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{posRole.effectiveAmount}" styleClass="content-right">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.effectiveAmount']}"/>
						</f:facet>
						<h:outputText value="#{posRole.effectiveAmount}">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{posRole.participantBuyer}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.participantBuyer']}"
								escape="false"/>
						</f:facet>
						<h:outputText value="#{posRole.participantBuyerMnemonic} - #{posRole.idParticipantBuyer}"
							title="#{posRole.participantBuyer}"/>
					</p:column>
					
					<p:column sortBy="#{posRole.participantSeller}">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.participantSeller']}"
								escape="false"/>
						</f:facet>
						<h:outputText value="#{posRole.participantSellerMnemonic} - #{posRole.idParticipantSeller}"
							title="#{posRole.participantSeller}"/>
					</p:column>
					
					<p:column  selectionMode="multiple" style="width:2%" headerText="#{msgs['lbl.message.simulation']}">
						
					</p:column>
					<f:facet name="footer">	
						<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
							<f:param value="#{fn:length(reserveSimulationMgmtBean.searchPositionCommissionTO.lstPositionByRole)}"/>
						</h:outputFormat>						
					</f:facet>
				</p:dataTable>								
			</td>
		</tr>
		<tr align="right">
			<td colspan="3" ></td>
			<td align="right">                                                                       
				<p:commandButton value="#{msgs['lbl.message.simulation.exe']}"  update="dtbCommisRoleBuy,dataTableModalityGroup,idPosParticipant" icon="icon-play"  
						actionListener="#{reserveSimulationMgmtBean.reCalculeDates}"/>
				<p:commandButton value="#{msgs['lbl.message.borrar']}"          update="dtbCommisRoleBuy,dataTableModalityGroup,idPosParticipant" icon="icon-check-empty"  
						actionListener="#{reserveSimulationMgmtBean.clearSearch}"/>
			</td>
		</tr>
		</table>
	</p:fieldset>
	<p:panel rendered="#{reserveSimulationMgmtBean.searchPositionCommissionTO.blNoResultByRole}">
		<h:outputText value="#{msgs['lbl.monitor.positions.positionsByRole.noResult']}" styleClass="required-field"/>
	</p:panel>
	</p:outputPanel>
	</td>
</tr>
</table>
</h:form>
</ui:define>
</ui:composition>
</html>