<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmChainedHolderOperation');
});
</script>
<h:outputText value="#{gmsgs['isettlement.chainoperation.register.detail.title']}" styleClass="title-page"/>
<h:form id="frmChainedHolderOperation">
<table width="100%">
	<tr>
		<td>
		<p:fieldset id="fldChainOperationData" legend="#{msgs['lbl.chains.register.panel.title']}">
		<table width="100%">
		<tr>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.operation.Participant']}"/>
			</td>
			<td with="40%">
				<h:inputText value= "#{chainedOperationsMgmBean.chainedOperationTO.participant.displayDescriptionCode}" disabled="true" style="width:400px"/>
			</td>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.chain.column.chainState']}"/>
			</td>
			<td width="40%">
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.chainState.parameterName}" disabled="true"/>
			</td>
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.operation.mechanism']}"/>
			</td>
			<td width="40%">
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.modalityGroup.negotiationMechanism.description}" disabled="true" style="width:400px"/>
			</td>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.operation.modalityGroup']}"/>
			</td>
			<td width="40%">
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.modalityGroup.groupName}" disabled="true" style="width:200px"/>
			</td>
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.operation.settlementDate']}"/>
			</td>
			<td width="40%">
				<p:calendar size="10" disabled="true" pattern="#{gmsgs['calendar.date.format']}"
					value="#{chainedOperationsMgmBean.chainedOperationTO.settlementDate}">
				</p:calendar> 
			</td>
			<td width="10%">
				<h:outputText value="#{msgs['lbl.operation.settlementCurrency']}"/>
			</td>
			<td width="40%">
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.currency.parameterName}" disabled="true" />										
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.holderAccount']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.holderAccount.accountNumber}" 
				disabled="true" style="width:50px"/>
				<p:spacer/>
				<h:outputText value="#{chainedOperationsMgmBean.chainedOperationTO.holderAccount.accountRntAndDescription}" 
					disabled="true" style="width:350px" escape="false"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.security.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" disabled="true"
					security="#{chainedOperationsMgmBean.chainedOperationTO.security}"/>
				<p:spacer width="5"/>
				<ark:securities-help securityCode="#{chainedOperationsMgmBean.chainedOperationTO.security.idSecurityCodePk}"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.chain.column.extended']}"/>
			</td>
			<td>
				<h:inputText value="#{chainedOperationsMgmBean.chainedOperationTO.indExtended.parameterName}" disabled="true" style="width:50px"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p:fieldset legend="#{msgs['lbl.chains.operationdetail.panel.title']}">
			<p:accordionPanel var="chainedOperationData" value="#{chainedOperationsMgmBean.chainedOperationTO.lstChainedOperationDataTO}" activeIndex="0,1,2,3,4,5">
				<p:tab title="#{msgs['lbl.chain.detail.marketdate']}: #{chainedOperationData.marketDate} &nbsp;&nbsp;  
								#{msgs['lbl.chain.detail.marketrate']}: #{chainedOperationData.marketRate}
								&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
								#{msgs['lbl.chain.column.saleQuantity']}: #{chainedOperationsMgmBean.chainedOperationTO.saleQuantity} &nbsp;&nbsp;
								#{msgs['lbl.chain.column.purchaseQuantity']}: #{chainedOperationsMgmBean.chainedOperationTO.purchaseQuantity}">
					<table width="100%">
					<tr>
						<td colspan="2">
							<p:dataTable value="#{chainedOperationData.lstSettlementAccountMarketfact}" var="accountMarketfact">
								<p:column headerText="#{msgs['lbl.operation.operationDate']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.mechanismOperation.operationDate}">
										<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.modality']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.
																				mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.operationNumber']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.mechanismOperation.operationNumber}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.ballotSequential.br']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.mechanismOperation.ballotNumber}
														/#{accountMarketfact.settlementAccountOperation.settlementOperation.mechanismOperation.sequential}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.participant.buyer.br']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.
																				mechanismOperation.buyerParticipant.mnemonic}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.participant.seller.br']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.
																				mechanismOperation.sellerParticipant.mnemonic}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.operationPart']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.operationPartDescription}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.chain.operation.state']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.settlementOperation.mechanismOperation.stateDescription}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.Role']}" styleClass="content-center">
									<h:outputText value="#{accountMarketfact.settlementAccountOperation.desRole}"/>
								</p:column>
								<p:column headerText="#{msgs['lbl.operation.stockQuantity']}" styleClass="content-right">
									<h:outputText value="#{accountMarketfact.marketQuantity}">
										<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['lbl.chain.column.quantity']}" styleClass="content-right">
									<h:outputText value="#{accountMarketfact.chainedQuantity}">
										<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
									</h:outputText>
								</p:column>
							</p:dataTable>
						</td>
					</tr>
					</table>
				</p:tab>
			</p:accordionPanel>
			</p:fieldset>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" process="@this"
				 rendered="#{chainedOperationsMgmBean.viewOperationConfirm}" update="outPnlDialogs"
				 actionListener="#{chainedOperationsMgmBean.beforeAction}"/>
				 
			<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" process="@this"
				 rendered="#{chainedOperationsMgmBean.viewOperationReject}" update="outPnlDialogs"
				 actionListener="#{chainedOperationsMgmBean.beforeAction}"/>
			
			<p:commandButton value="#{gmsgs['btn.cancel']}" icon="ui-cancel" process="@this"
				 rendered="#{chainedOperationsMgmBean.viewOperationCancel}" update="outPnlDialogs"
				 actionListener="#{chainedOperationsMgmBean.beforeAction}"/>
				 
			<p:commandButton id="btnBack" icon="fa fa-undo" action="searchChainedOperation"
	       		process="@this" value="#{gmsgs['btn.back']}"
	       		onclick="if(isModifiedFormForBack(this))return false;"/>
		</td>
	</tr>
</table>

<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					 message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfWAskDialog').hide()" process="@this" update="outPnlDialogs"
						 actionListener="#{chainedOperationsMgmBean.doAction()}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWAskDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" action="searchChainedOperation"
			process="@this"/>
	</p:confirmDialog>
	
</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>

</html>