<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script language="javascript" type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmGeographicLocation'); 
	});
</script>
<h:outputText id="idOtxtGeoLocationMgmtTitle"
	value="#{!geographicLocationMgmtBean.blModify ? msgs['geolocation.lbl.register.title'] : msgs['geolocation.lbl.modify.title']}"
	styleClass="title-page"/>
<h:form id="frmGeographicLocation">
<table width="100%">
	<tr>
		<td>
		<p:fieldset id="fldsFiltros"
			legend="#{!geographicLocationMgmtBean.blModify ? msgs['geolocation.lbl.register.title'] : msgs['geolocation.lbl.modify.title']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText id="idOtxtLocationType" value="#{msgs['geolocation.lbl.locationtype']} (*)"
					styleClass="required-field" />
			</td>
				<td>
					<h:panelGrid columns="2">
					<p:selectOneMenu id="idcbolocationtype" label="#{msgs['geolocation.lbl.locationtype']}"
						value="#{geographicLocationMgmtBean.selectedLocalityType}" disabled="#{geographicLocationMgmtBean.blModify or geographicLocationMgmtBean.blView}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/> 
						<f:selectItems id="idCboItemsLocationType" value="#{geographicLocationMgmtBean.typeGeographicLocation}"
							var="holder" itemLabel="#{holder.value}" itemValue="#{holder.code}" />
							<p:ajax event="change" listener="#{geographicLocationMgmtBean.geoLocationChangeListener}"
								update="fldsFiltros" 
								process="@this"/>
						<!--<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>-->
					</p:selectOneMenu>
					<p:message id="msgLocaType" for="idcbolocationtype" display="icon"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr style="display: ${geographicLocationMgmtBean.requiredCountry or geographicLocationMgmtBean.requiredDepartment  ? 'table-row' : 'none'}">
				<td>
				<p:outputPanel id="opnlCountry">
					<h:outputText value="#{msgs['geolocation.lbl.country']} (*)" styleClass="required-field"
						rendered="#{geographicLocationMgmtBean.requiredCountry}"/>
				</p:outputPanel>
				</td>
				<td>
				<p:outputPanel id="opnlCboCountry">
				<h:panelGrid columns="2"> 				
					<p:selectOneMenu id="combocountry" value="#{geographicLocationMgmtBean.selectedCountry}"
						rendered="#{geographicLocationMgmtBean.requiredCountry}" disabled="#{geographicLocationMgmtBean.blModify or geographicLocationMgmtBean.blView}"
						label="#{msgs['geolocation.lbl.country']}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
						<f:selectItems id="idCboItemsCountry" value="#{geographicLocationMgmtBean.countryList}"
							var="country" itemLabel="#{country.name}" itemValue="#{country.idGeographicLocationPk}" />
							<p:ajax event="change" listener="#{geographicLocationMgmtBean.onCountryChangeListener}"
								update="fldsFiltros" process="@this"/>
						<!--<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>-->
					</p:selectOneMenu>
					<p:message for="combocountry" display="icon" id="idMsgCountry" rendered="#{geographicLocationMgmtBean.requiredCountry}"/>
				</h:panelGrid>
				</p:outputPanel>
				</td>
				<td>
				<p:outputPanel id="opnlDepartment">
					<h:outputText value="#{msgs['geolocation.lbl.department']} (*)" styleClass="required-field"
						rendered="#{geographicLocationMgmtBean.requiredDepartment}"/>
				</p:outputPanel>
				</td>
				<td>
				<p:outputPanel id="opnlCboDepartment">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="comboDepartment" value="#{geographicLocationMgmtBean.selectedDepartment}"
						rendered="#{geographicLocationMgmtBean.requiredDepartment}" label="#{msgs['geolocation.lbl.department']}"
						disabled="#{geographicLocationMgmtBean.blModify or geographicLocationMgmtBean.blView}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
						<f:selectItems id="idCboItemsDepartment" value="#{geographicLocationMgmtBean.departmentList}"
							var="item" itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}"/>
							<p:ajax event="change" update="fldsFiltros" process="@this"
								listener="#{geographicLocationMgmtBean.onDepartmentChangeListener}"/>
						<!--f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>-->
					</p:selectOneMenu>
					<p:message for="comboDepartment" display="icon" id="idMsgDepartment" rendered="#{geographicLocationMgmtBean.requiredDepartment}"/>
					</h:panelGrid>
				</p:outputPanel>
				</td>
			</tr>			
			<tr style="display: ${geographicLocationMgmtBean.requiredProvince ? 'table-row' : 'none'}">
				<td>
				<p:outputPanel id="opnlProvince">
					<h:outputText value="#{msgs['geolocation.lbl.Province']} (*)" styleClass="required-field"
						rendered="#{geographicLocationMgmtBean.requiredProvince}"/>
				</p:outputPanel>
				</td>
				<td>
				<p:outputPanel id="opnlCboProvince">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="comboprovince" value="#{geographicLocationMgmtBean.selectedProvince}"
						rendered="#{geographicLocationMgmtBean.requiredProvince}" label="#{msgs['geolocation.lbl.Province']}"
						disabled="#{geographicLocationMgmtBean.blModify or geographicLocationMgmtBean.blView}">
						<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
						<f:selectItems id="idCboItemsProvince" value="#{geographicLocationMgmtBean.provinceList}"
							var="province" itemLabel="#{province.name}" itemValue="#{province.idGeographicLocationPk}"/>
							<p:ajax event="change" update="@this idMsgProvince" process="@this"/>
						<!--<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>-->
					</p:selectOneMenu>
					<p:message for="comboprovince" display="icon" id="idMsgProvince" rendered="#{geographicLocationMgmtBean.requiredProvince}"/>
					</h:panelGrid>
				</p:outputPanel>
				</td>
				<td>				
				</td>
				<td>				
				</td>
			</tr>			
			<tr>
				<td width="15%">
					<h:outputText value="#{msgs['geolocation.lbl.name']} (*)" styleClass="required-field"/>
				</td>
				<td width="45%">
					<h:panelGrid columns="2">
					<p:inputText id="geoname" value="#{geographicLocationMgmtBean.geographicLocation.name}" size="75"
						maxlength="60" label="#{msgs['geolocation.lbl.name']}" disabled="#{geographicLocationMgmtBean.blView}">
						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
						<p:ajax event="blur" listener="#{geographicLocationMgmtBean.validateLocationName}" process="@this"
							update="@this idMsgGeolocationName :opnlGenericDialogs" global="false"/>
						<!--<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>-->
					</p:inputText>
					<p:message for="geoname" display="icon" id="idMsgGeolocationName"/>
					</h:panelGrid>
				</td>
				<td width="15%">
					<h:outputText value="#{msgs['geolocation.lbl.ubigeocode']}"/>
				</td>
				<td width="25%">
					<h:panelGrid columns="2">
					<p:inputText id="geoubigeo" value="#{geographicLocationMgmtBean.geographicLocation.codeUbigueo}" 
						disabled="#{geographicLocationMgmtBean.blView}" styleClass="content-right"
						maxlength="8" label="#{msgs['geolocation.lbl.ubigeocode']}" size="10">
						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
					</p:inputText>
					<p:message for="geoubigeo" display="icon" id="idMsgUbigeocode"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="opnlLocal">
					<h:outputText value="#{msgs['geolocation.lbl.localcountry']}" id="idlbllocalcountry"
						rendered="#{geographicLocationMgmtBean.countryList == null}"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<p:outputPanel id="opnlChkLocal">
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{geographicLocationMgmtBean.localCountry}"
						disabled="#{geographicLocationMgmtBean.blModify or geographicLocationMgmtBean.blView}" rendered="#{geographicLocationMgmtBean.countryList == null}">
						<f:selectItems value="#{geographicLocationMgmtBean.lstLocal}"
							var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					</p:selectOneMenu>
					</h:panelGrid>
					</p:outputPanel>
				</td>
			</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
			<p/>
				<p:commandButton value="#{msgs['btn.grabar']}" 
					actionListener="#{geographicLocationMgmtBean.beforeAction}"
					icon="fa fa-save" update="@form :opnlGenericDialogs" 
					rendered="#{!geographicLocationMgmtBean.blModify and !geographicLocationMgmtBean.blView}"/>
					
				<p:commandButton id="cmbModify" 
								rendered="#{geographicLocationMgmtBean.blModify}"
								 onclick="if(!isModifiedFormForSave('#frmGeographicLocation',true))return false;"
								 action="#{geographicLocationMgmtBean.beforeAction}"
								 value="#{msgs['btn.modify']}"  
								 update="@form :opnlGenericDialogs"								 
								 icon="ui-edit"
								 >			 
				</p:commandButton>	
					
				<p:commandButton value="#{msgs['btn.clean']}" icon="fa fa-trash" actionListener="#{geographicLocationMgmtBean.askClean}" 
					update="@form" process="@this" rendered="#{!geographicLocationMgmtBean.blModify and !geographicLocationMgmtBean.blView}"/>  								
				
				<p:commandButton id="cmbBack" 
							     action="backToGeoLoca"
							     onclick="if(isModifiedFormForBack(this))return false;"
								 value="#{msgs['btn.back']}" 
								 icon="fa fa-undo"
								 immediate="true"
								 ajax="false"/>
				
			</td>		
		</tr>
		</table>
	
	<!-- Dialog -->
	<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
			actionListener="#{geographicLocationMgmtBean.doAction}" process="@form"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" 
			action="backToGeoLoca" value="#{msgs['btn.accept']}"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwBackDialog" id="cnfidBackDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet> 
		<p:commandButton value="#{msgs['btn.yes']}" oncomplete="PF('cnfwBackDialog').hide();"
			action="backToGeoLoca" process="@this"/>
		<p:commandButton value="#{msgs['btn.no']}" oncomplete="PF('cnfwBackDialog').hide();" process="@this"/>
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfwCleanDialog" id="cnfidCleanialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
		<f:facet name="message">
			<h:outputText value="#{bodyMessageView}" escape="false"/>
		</f:facet>
		<p:commandButton value="#{msgs['btn.yes']}" onclick="PF('cnfwCleanDialog').hide();"
			actionListener="#{geographicLocationMgmtBean.loadRegisterGeographicLocation}" process="@this" update="@form"/>
		<p:commandButton value="#{msgs['btn.no']}" onclick="PF('cnfwCleanDialog').hide();" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog id="cnfBackCustom"
				 		message="#{msgs['message.back']}"
						severity="alert" 
						header="#{msgs['lbl.header.alert']}" 
						widgetVar="cnfwBackCustom" closable="false">  
	    		<p:commandButton id="cmbSi" process="@this" immediate="true"
	    						 value="#{msgs['btn.yes']}" ajax="false"
	    						 action="backToGeoLoca"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 onclick="PF('cnfwBackCustom').hide();"
	    						 type="button"/>                 
	</p:confirmDialog>
	
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>