<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Helper Billing Service Source</title>
</head>
<body>

	<composite:interface name="billingServiceSource" displayName="BillingServiceSource description Helper">
		<composite:attribute name="billingServiceSource" required="true" type="com.pradera.model.billing.BillingServiceSource" />
		<composite:attribute name="typeService" default="-1" type="java.lang.Integer" />
		<composite:attribute name="id" default="idHelperBillingServiceSource" />
		<composite:attribute name="actionRemote" required="false" method-signature="void action(javax.faces.event.ActionEvent)" />
		<composite:attribute name="enableActionRemote" required="false" default="false" type="java.lang.Boolean" />
		<composite:attribute name="name" default="billingServiceSource1" />
		<composite:attribute name="required" default="false"/>
		<composite:attribute name="remoteListener" default=""/>
		<composite:attribute name="disabled" required="false" type="java.lang.Boolean" />
		<composite:attribute name="validatorName" default="inputRequiredValidator" type="java.lang.String"/>
		
	</composite:interface>

	<!-- EMBEDDED CONTROL -->
	<composite:implementation>
		<p:outputPanel id="opnlBillingServiceHelper">
		<script type="text/javascript">
				 var coreservlets = {}; 
				 coreservlets.escapeColons = function(string) { return(string.replace(/:/g, ":")); }; 
				 coreservlets.jQueryIdString = function(fieldId){ return("#" + coreservlets.escapeColons(fieldId)); };
				 var enableActionRemote = coreservlets.jQueryIdString("#{cc.attrs.enableActionRemote}");
				 enableActionRemote=enableActionRemote.replace(/^[\s]|[\#]+/,'');				
		</script>
			<h:panelGrid id="componentBillingService" border="0" columns="7">
				
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
						   <p:inputText id="billingValue#{cc.attrs.name}"
								rendered="true" value="#{cc.attrs.billingServiceSource.idBillingServiceSourcePk}"
								size="10" label="#{cc.resourceBundleMap['lbl.service']}" 
								onchange="if($.trim(this.value)=='')findBillingServices#{cc.attrs.name}();"
								disabled="#{cc.attrs.disabled}"
								maxlength="10" styleClass="content-right">
								<p:keyFilter mask="pint" />
								<f:validator disabled="#{!cc.attrs.required}"
								 validatorId="#{cc.attrs.validatorName}"/>
							 <p:ajax event="blur" 
			 					listener="#{billingServiceSourceHelperBean.findBillingServiceByCode}"
			 					partialSubmit="true"
			 					update="@parent" 
			 					process="@this"
			 					oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}"/>
						   </p:inputText>
						</td>
						<td>	 
							<p:commandButton id="btnOpenHelpBillingService#{cc.attrs.name}"
								disabled="#{cc.attrs.disabled}"
								update="lblBillingServiceDesc" value="..."
								onclick="dlgBillingService#{cc.attrs.name}.show();"
								process="@this">
							</p:commandButton>
						</td>
						<td>	 
							<h:outputText id="lblBillingServiceDesc"
								value="#{cc.attrs.billingServiceSource.descriptionSource}">
							</h:outputText>
							<p:message for="billingValue#{cc.attrs.name}" display="icon"/>
						</td>
						<td>
							<p:remoteCommand name="findBillingServices#{cc.attrs.name}"
							partialSubmit="true" update="opnlBillingServiceHelper"
							actionListener="#{billingServiceSourceHelperBean.findBillingServiceByCode}"
							process="componentBillingService" global="false" >
							 </p:remoteCommand>
							 
						</td>
						<td>
							<p:remoteCommand name="oncomplete" partialSubmit="true"
							update="@form" actionListener="#{cc.attrs.actionRemote}"
							process="@this" />
						</td>
					</tr>
				</table>
			</h:panelGrid>
		</p:outputPanel>

		<!-- DIALOG WINDOW -->
			<p:dialog 
				id="dlgBillingServiceWindow#{cc.attrs.name}" 
			position="top"
			header="#{cc.resourceBundleMap.title}" 
			widgetVar="dlgBillingService#{cc.attrs.name}" modal="true"
			resizable="false" closable="false">

			<p:fieldset id="fsBillingServiceFilters#{cc.attrs.name}"
				legend="#{cc.resourceBundleMap.criterioBusqueda}">

				<table width="100%" border="0">
					<tr>
						<td width="25%"><h:outputText
								value="#{msgs['lbl.billingService.source.name']}" /></td>
						<td colspan="3"> 
						<p:inputText id="txtServiceName" size="90" 
								value="#{billingServiceSourceHelperBean.billingServiceSourceTo.fileSourceName}" />
						</td>
						<td width="25%">
							<h:outputText value="#{msgs['billingService.lbl.service.status']}" /></td>
						<td width="25%">
						<p:selectOneMenu filter="true" filterMatchMode="contains"  id="statusServiceId"
								style="width:200px;"
								value="#{billingServiceSourceHelperBean.billingServiceSourceTo.stateService}"
								disabled="false">
								<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
									itemValue="-1" />
								<f:selectItems
									value="#{billingServiceSourceHelperBean.listServiceStatus}"
									var="serviceType" itemLabel="#{serviceType.parameterName}"
									itemValue="#{serviceType.parameterTablePk}" />
							</p:selectOneMenu></td>
					</tr>

					

					<tr align="center" width="100%">
						<td colspan="7">
				 		<p:commandButton
								id="cbtnSearch#{cc.attrs.name}" value="#{msgs['btn.search']}"
								icon="ui-search"
								actionListener="#{billingServiceSourceHelperBean.searchBillingServices}"
								update="pnlResults#{cc.attrs.name}"
								process="fsBillingServiceFilters#{cc.attrs.name}" /> 
						 <p:spacer width="5" height="0"></p:spacer>		
						<p:commandButton
								value="#{msgs['btn.clean']}" icon="fa fa-trash" process="@form"
								action="urlManualCollectionModify"
								actionListener="#{billingServiceSourceHelperBean.clearHelper}"
								update="@parent pnlResults#{cc.attrs.name}" /> 
						 <p:spacer width="5" height="0"></p:spacer>		
						<p:commandButton
								value="#{cc.resourceBundleMap.back}" icon="fa fa-undo"
								onclick="dlgBillingService#{cc.attrs.name}.hide();"
								process="@this" update="@parent pnlResults#{cc.attrs.name}"
								actionListener="#{billingServiceSourceHelperBean.clearHelper}"/></td>

					</tr>
				</table>
			</p:fieldset>

			<p:outputPanel id="pnlResults#{cc.attrs.name}">
		 
			
				<p:fieldset id="flsListado#{cc.attrs.name}" legend="#{cc.resourceBundleMap.regEncountered}"
							rendered="#{billingServiceSourceHelperBean.billingServiceHelperSource.rowCount >= 1}">
					<p:dataTable id="dtbResult#{cc.attrs.name}" 
						var="billingServiceSources"
						rowsPerPageTemplate="5,10,15" 
						currentPageReportTemplate="Página {currentPage} de {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"
						paginator="true" 
						value="#{billingServiceSourceHelperBean.billingServiceHelperSource}" 
						rows="5" paginatorPosition="top"  
						rendered="#{billingServiceSourceHelperBean.billingServiceHelperSource.rowCount >= 1}"
						>

						<p:column style="width:30px" styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.codServicio}" styleClass="text-header-table" />
							</f:facet>
							<p:commandLink value="#{billingServiceSources.idBillingServiceSourcePk}" style="color:blue"
								actionListener="#{billingServiceSourceHelperBean.showAssociatedVariables}"
								onsuccess="dlgBillingService#{cc.attrs.name}.hide();" update="@form" process="@this"
								oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
							<f:attribute name="blockInformation" value="#{billingServiceSources}"  />
								<h:outputText />
							</p:commandLink>
							<h:outputFormat value="" escape="false" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.fileName}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat value="#{billingServiceSources.fileSourceName}"
								escape="false" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.ServiceName}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat value="#{billingServiceSources.descriptionSource}"
								escape="false" />
						</p:column>
						<p:column style="width:100px;" styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.stateService}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat
								value="#{billingServiceSources.descriptionSourceStatus}"
								escape="false" />
						</p:column>
						<f:facet name="footer">  
								<div style="width:100%; text-align:left" id="idDivRowCount"> 
						            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						            	<f:param id="idParamRowCount" value="#{billingServiceSourceHelperBean.billingServiceHelperSource.rowCount}"/>
						            </h:outputFormat>
						        </div> 
					 </f:facet>  
				</p:dataTable>
				</p:fieldset>  
					<p:fieldset legend="#{msgs['lbl.registers.found']}" rendered="#{billingServiceSourceHelperBean.billingServiceHelperSource!=null and !(billingServiceSourceHelperBean.billingServiceHelperSource.rowCount >= 1)}">
						 <h:outputLabel value="#{msgs['lbl.search.no.result']}" 
										rendered="#{!(billingServiceSourceHelperBean.billingServiceHelperSource.rowCount >= 1)}"
										style="font-weight:bold;"/>	
					 </p:fieldset>   
			</p:outputPanel>
		</p:dialog>



		<p:confirmDialog id="cnfMsgCustomValidationBlur" visible="false"
			rendered="true"
			message="#{cc.resourceBundleMap.billingServiceSourceHelpMessage}"
			header="#{cc.resourceBundleMap.warningMessage}" severity="alert"
			widgetVar="cnfwMsgCustomValidationBlur" closable="false">
			<p:commandButton id="cmdAcceptCustomValidationBlur"
				value="#{cc.resourceBundleMap.accept}" type="button"
				onclick=" if (enableActionRemote=='true')oncomplete(); PF('cnfwMsgCustomValidationBlur').hide();"
					 	
				update="lblBillingServiceDesc" >
			</p:commandButton>
		</p:confirmDialog>
		
		<p:outputPanel id="opnlDialogs" >	
		<h:form id="search_legendBilling">
		
			<p:confirmDialog widgetVar="warningDialogSource" id="idWarningDialogSource" message="#{bodyMessageView}"
								 header="#{headerMessageView}" closable="false" severity="alert" > 
					<p:commandButton onclick="PF('warningDialogSource').hide();"
				    				 value="#{msgs['btn.accept']}" />
			</p:confirmDialog>
		</h:form>
		</p:outputPanel>

	</composite:implementation>

</body>
</html>
