<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Helper Billing Service</title>
</head>
<body>

	<composite:interface name="billingService" displayName="BillingService description Helper">
		<composite:attribute name="billingService" required="true" type="com.pradera.model.billing.BillingService" />
		<composite:attribute name="typeService" default="-1" type="java.lang.Integer" />
		<composite:attribute name="id" default="idHelperBillingService" />
		<composite:attribute name="actionRemote" required="false" method-signature="void action(javax.faces.event.ActionEvent)" />
		<composite:attribute name="enableActionRemote" required="false" default="false" type="java.lang.Boolean" />
		<composite:attribute name="name" default="billingService1" />
		<composite:attribute name="required" default="false"/>
		<composite:attribute name="remoteListener" default=""/>
		<composite:attribute name="validatorName" default="inputRequiredValidator" type="java.lang.String"/>
		<composite:attribute name="collectionPeriod" default="-1" type="java.lang.Integer" />
		<composite:attribute name="indIntegrated" default="-1" type="java.lang.Integer" />
		
	</composite:interface>

	<!-- EMBEDDED CONTROL -->
	<composite:implementation>
		<p:outputPanel id="opnlBillingServiceHelper">
		<script type="text/javascript">
				 var coreservlets = {}; 
				 coreservlets.escapeColons = function(string) { return(string.replace(/:/g, ":")); }; 
				 coreservlets.jQueryIdString = function(fieldId){ return("#" + coreservlets.escapeColons(fieldId)); };
				 var enableActionRemote = coreservlets.jQueryIdString("#{cc.attrs.enableActionRemote}");
				 enableActionRemote=enableActionRemote.replace(/^[\s]|[\#]+/,'');				
		</script>
			<h:panelGrid id="componentBillingService" border="0" columns="7">
				
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
						   <p:inputText id="billingValue#{cc.attrs.name}"
								rendered="true" value="#{cc.attrs.billingService.serviceCode}"
								size="10" label="#{cc.resourceBundleMap['lbl.service']}" 
								onchange="if($.trim(this.value)=='')findBillingServices#{cc.attrs.name}();"
								maxlength="10" styleClass="content-right">
								<p:keyFilter mask="pint" />
								<f:validator disabled="#{!cc.attrs.required}"
								 validatorId="#{cc.attrs.validatorName}"/>
							 <p:ajax event="change" 
			 					listener="#{billingServiceHelperBean.findBillingServiceByCode}"
			 					partialSubmit="true"
			 					update="@parent cnfMsgCustomValidationBlur :opnlGenericDialogs" 
			 					process="@this"
			 					oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}"/>
						   </p:inputText>
						</td>
						<td>	 
							<p:commandButton id="btnOpenHelpBillingService#{cc.attrs.name}"
								update="lblBillingServiceDesc integrateBillId" 
								value="..."
								onclick="PF('dlgBillingService#{cc.attrs.name}').show();"
									actionListener="#{billingServiceHelperBean.settingVariables()}"
								process="@this">
							</p:commandButton>
						</td>
						<td>	 
							<h:outputText id="lblBillingServiceDesc"
								value="#{cc.attrs.billingService.serviceName}">
							</h:outputText>
							<p:message for="billingValue#{cc.attrs.name}" display="icon"/>
						</td>
						<td>
							<p:remoteCommand name="findBillingServices#{cc.attrs.name}"
							partialSubmit="true" update="opnlBillingServiceHelper"
							actionListener="#{billingServiceHelperBean.findBillingServiceByCode}"
							process="componentBillingService" global="false" >
							 </p:remoteCommand>
							 
						</td>
						<td>
							<p:remoteCommand name="oncomplete" partialSubmit="true"
							update="@form" actionListener="#{cc.attrs.actionRemote}"
							process="@this" />
						</td>
					</tr>
				</table>
			</h:panelGrid>
		</p:outputPanel>

		<!-- DIALOG WINDOW -->
		<p:dialog 
			id="dlgBillingServiceWindow#{cc.attrs.name}" 
			position="top"
			width="87%"
			widgetVar="dlgBillingService#{cc.attrs.name}" 
			modal="true"
			header="#{cc.resourceBundleMap.title}"
			resizable="false" closable="false">

			<p:fieldset id="fsBillingServiceFilters#{cc.attrs.name}"
				legend="#{cc.resourceBundleMap.criterioBusqueda}">

				<table width="100%" border="0">
					<tr>
						<td width="25%">
							<h:outputText
								value="#{msgs['billingService.lbl.service.code.name']}" />
						</td>
						<td width="25%">
							<p:inputText id="txtServiceCode"
								value="#{billingServiceHelperBean.billingServiceTo.serviceCode}" />
						</td>
						<p:keyFilter for="txtServiceCode" mask="pint" />
					</tr>
					<tr>
						<td width="25%">
							<h:outputText
								value="#{msgs['billingService.lbl.service.name']}" />
						</td>
						<td colspan="3"> 
							<p:inputText id="txtServiceName" size="90" 
								value="#{billingServiceHelperBean.billingServiceTo.serviceName}" />
						</td>
					</tr>
					<tr>
						<td width="25%">
							<h:outputText  value="#{msgs['billingService.lbl.collection.base']}" />
						</td>
						<td colspan="3">
							<p:selectOneMenu filter="true" filterMatchMode="contains"  id="baseCollectId"
								style="width:550px;"
								value="#{billingServiceHelperBean.billingServiceTo.baseCollection}">
								<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
									itemValue="-1" />
								<f:selectItems
									value="#{billingServiceHelperBean.listCollectionBase}"
									var="serviceType" itemLabel="#{serviceType.parameterName}"
									itemValue="#{serviceType.parameterTablePk}" />
							</p:selectOneMenu>
						</td>
					</tr>

					<tr>
						<td><h:outputText value="#{msgs['lbl.service.type']}" /></td>
						<td width="25%">
							<p:selectOneMenu filter="true" filterMatchMode="contains"  id="cmbServiceType"
								style="width:200px;"
								value="#{billingServiceHelperBean.billingServiceTo.serviceType}"
								 disabled="#{cc.attrs.typeService!=-1}">
								<f:selectItem itemLabel="#{msgs['cbo.opc.select']}" itemValue="-1" />
								<f:selectItems
									value="#{billingServiceHelperBean.listServiceType}"
									var="serviceType" itemLabel="#{serviceType.parameterName}"
									itemValue="#{serviceType.parameterTablePk}" />
							</p:selectOneMenu>
						</td>
						<td width="25%">
							<h:outputText value="#{msgs['billingService.lbl.service.status']}" /></td>
						<td width="25%">
						<p:selectOneMenu filter="true" filterMatchMode="contains"  id="statusServiceId"
								style="width:200px;"
								value="#{billingServiceHelperBean.billingServiceTo.stateService}"
								disabled="false">
								<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
									itemValue="-1" />
								<f:selectItems
									value="#{billingServiceHelperBean.listServiceStatus}"
									var="serviceType" itemLabel="#{serviceType.parameterName}"
									itemValue="#{serviceType.parameterTablePk}" />
							</p:selectOneMenu></td>
					</tr>
					<tr>
						<td width="25%">
						<h:outputText
								value="#{msgs['billingService.lbl.collection.institution']}" /></td>
						<td width="25%"><p:selectOneMenu filter="true" filterMatchMode="contains"  id="entityCollectionId"
								style="width:200px;"
								value="#{billingServiceHelperBean.billingServiceTo.entityCollection}">
								<f:selectItem itemLabel="#{msgs['cbo.opc.select']}"
									itemValue="-1" />
								<f:selectItems
									value="#{billingServiceHelperBean.listCollectionInstitution}"
									var="serviceType" itemLabel="#{serviceType.parameterName}"
									itemValue="#{serviceType.parameterTablePk}" />
							</p:selectOneMenu></td>
						
						<td>
							<h:outputText value="#{msgs['billingService.lbl.tax.facturacion']}"  />
						</td>
						<td colspan="2">
							<p:selectOneRadio id="integrateBillId" 
											  value="#{billingServiceHelperBean.billingServiceTo.inIntegratedBill}"
											  disabled="#{billingServiceHelperBean.appliedTaxDisable or (cc.attrs.indIntegrated!=-1)}">	
				     	        <f:selectItem itemLabel="#{msgs['rdb.Individual']}" itemValue="#{billingServiceHelperBean.indNoIntegrated}" id="idRadioItemOneB"/>
							    <f:selectItem itemLabel="#{msgs['rdb.Agrupada']}" itemValue="#{billingServiceHelperBean.indIntegrated}" id="idRadioItemTwoB"/> 
							</p:selectOneRadio>
						</td>
					</tr>

					<tr align="center" width="100%">
						<td colspan="7">
				 		<p:commandButton
								id="cbtnSearch#{cc.attrs.name}" value="#{msgs['btn.search']}"
								icon="ui-search"
								actionListener="#{billingServiceHelperBean.searchBillingServices}"
								update="pnlResults#{cc.attrs.name}"
								process="fsBillingServiceFilters#{cc.attrs.name}" /> 
						 <p:spacer width="5" height="0"></p:spacer>		
						<p:commandButton
								value="#{msgs['btn.clean']}" icon="fa fa-trash" process="@form"
								action="urlManualCollectionModify"
								actionListener="#{billingServiceHelperBean.clearHelper}"
								update="@parent pnlResults#{cc.attrs.name}" /> 
						 <p:spacer width="5" height="0"></p:spacer>		
						<p:commandButton
								value="#{cc.resourceBundleMap.back}" icon="fa fa-undo"
								onclick="dlgBillingService#{cc.attrs.name}.hide();"
								process="@this" update="@parent pnlResults#{cc.attrs.name}"
								actionListener="#{billingServiceHelperBean.clearHelper}"/></td>

					</tr>
				</table>
			</p:fieldset>

			<p:outputPanel id="pnlResults#{cc.attrs.name}">
		 
			
				<p:fieldset id="flsListado#{cc.attrs.name}" legend="#{cc.resourceBundleMap.regEncountered}"
							rendered="#{billingServiceHelperBean.billingServiceHelper.rowCount >= 1}">
					<p:dataTable id="dtbResult#{cc.attrs.name}" 
						var="billingServices"
						rowsPerPageTemplate="2,3,5,10,15" 
						currentPageReportTemplate="Página {currentPage} de {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"
						paginator="true" 
						value="#{billingServiceHelperBean.billingServiceHelper}" 
						rows="3" paginatorPosition="top"  
						rendered="#{billingServiceHelperBean.billingServiceHelper.rowCount >= 1}"
						>

						<p:column style="width:30px" styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.codServicio}" styleClass="text-header-table" />
							</f:facet>
							<p:commandLink value="#{billingServices.serviceCode}" style="color:blue"
								action="#{billingServiceHelperBean.assignBillingService(billingServices)}"
								onsuccess="PF('dlgBillingService#{cc.attrs.name}').hide();" update="@form" process="@this"
								oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
								<h:outputText />
							</p:commandLink>
							<h:outputFormat value="" escape="false" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.ServiceName}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat value="#{billingServices.serviceName}"
								escape="false" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.baseCollection}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat
								value="#{billingServices.descriptionBaseCollection}"
								escape="false" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.entityCollection}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat
								value="#{billingServices.descriptionCollectionEntity}"
								escape="false" />
						</p:column>
						<p:column style="width:100px;" styleClass="content-center">
							<f:facet name="header">
								<h:outputText value="#{cc.resourceBundleMap.stateService}"
									styleClass="text-header-table" />
							</f:facet>
							<h:outputFormat
								value="#{billingServices.descriptionStateBillingService}"
								escape="false" />
						</p:column>
						<f:facet name="footer">  
								<div style="width:100%; text-align:left" id="idDivRowCount"> 
						            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
						            	<f:param id="idParamRowCount" value="#{billingServiceHelperBean.billingServiceHelper.rowCount}"/>
						            </h:outputFormat>
						        </div> 
					 </f:facet>  
				</p:dataTable>
				</p:fieldset>  
					<p:fieldset legend="#{msgs['lbl.registers.found']}" rendered="#{billingServiceHelperBean.billingServiceHelper!=null and !(billingServiceHelperBean.billingServiceHelper.rowCount >= 1)}">
						 <h:outputLabel value="#{msgs['lbl.search.no.result']}" 
										rendered="#{!(billingServiceHelperBean.billingServiceHelper.rowCount >= 1)}"
										style="font-weight:bold;"/>	
					 </p:fieldset>   
			</p:outputPanel>
		</p:dialog>



		<p:confirmDialog id="cnfMsgCustomValidationBlur" visible="false"
			rendered="true"
			message="#{cc.resourceBundleMap.billingServiceHelpMessage}"
			header="#{cc.resourceBundleMap.warningMessage}" severity="alert"
			widgetVar="cnfwMsgCustomValidationBlur" closable="false">
			<p:commandButton id="cmdAcceptCustomValidationBlur"
				value="#{cc.resourceBundleMap.accept}" type="button"
				onclick=" if (enableActionRemote=='true')oncomplete(); PF('cnfwMsgCustomValidationBlur').hide();"
					 	
				update="lblBillingServiceDesc" >
			</p:commandButton>
		</p:confirmDialog>

	</composite:implementation>

</body>
</html>
