<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:o="http://omnifaces.org/ui">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
			var oldTabIndex;
			var currentTabIndex;
			
			$(window).load(function(){
				setAllHolidays('#{stockCalculationProcessBean.allHolidays}');
				
			});

		</script>
		<f:view contentType="text/html">
			<f:metadata>
				<f:event listener="#{stockCalculationProcessBean.validateStockType()}" type="preRenderView"></f:event>
			</f:metadata>
		
		<h:outputText value="#{gmsgs['iCorporateEvents.stockcalculation.execute.title']}" styleClass="title-page"/>
		<br/>
		<h:form id="stockForm" >
		<p:importEnum type="com.pradera.model.corporatives.stockcalculation.type.StockType" var="stockTypeEnum" allSuffix="ALL_ENUM_VALUES" />
		<table width="100%" border="0">
		<tr>
			<td>
				<p:fieldset legend="#{msgs['stock.calculation.legend']}">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td width="200">
								<h:outputText value="#{msgs['stock.calculation.type']}(*)" styleClass="required-field" />
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:selectOneMenu id="stockType" value="#{stockCalculationProcessBean.stockCalculationProcess.stockType}" 
									label="#{msgs['stock.calculation.type']}" disabled="#{userInfo.userAccountSession.participantInstitucion}" >
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" noSelectionOption="true"/>
									<f:selectItems value="#{stockCalculationProcessBean.listStockType}" var="stock" itemLabel="#{stock.parameterName}" itemValue="#{stock.parameterTablePk}" />
									<p:ajax event="change" update="@form panelSecurityHelp :opnlGenericDialogs" listener="#{stockCalculationProcessBean.validateStockType()}" process="@this"/>
								</p:selectOneMenu>
								<p:message for="stockType" display="icon"/>
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td><h:outputText value="#{msgs['stock.calculation.cutoffdate']}(*)" styleClass="required-field" /></td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="cutoffDate" showOn="button"
									size="#{gconst['calendarSize']}" pattern="#{gconst['dateFormat']}" 
									maxlength="#{gconst['calendarSize']}" maxdate="#{stockCalculationProcessBean.stockCalculationProcess.registryDate}"
									readonlyInput="true"
									value="#{stockCalculationProcessBean.stockCalculationProcess.cutoffDate}" navigator="true" >
							<p:ajax event="dateSelect" process="@this" update="registryDate" listener="#{stockCalculationProcessBean.changeDate}"/>
							</p:calendar>
							<p:message for="cutoffDate" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['stock.calculation.registerdate']}(*)" styleClass="required-field" /></td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="registryDate" showOn="button"
									size="#{gconst['calendarSize']}" pattern="#{gconst['dateFormat']}" 
									maxlength="#{gconst['calendarSize']}" 
									value="#{stockCalculationProcessBean.stockCalculationProcess.registryDate}"
									mindate="#{stockCalculationProcessBean.stockCalculationProcess.cutoffDate}" 
									navigator="true">
								<p:ajax event="dateSelect" process="@this" update="cutoffDate" listener="#{stockCalculationProcessBean.changeDate}"/>
							</p:calendar>
							<p:message for="registryDate" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="Formato del reporte" styleClass="required-field" /></td>
						<td>
							<h:panelGrid columns="2">
							<p:selectOneMenu id="reportType" value="#{stockCalculationProcessBean.stockCalculationProcess.reportType}">
								<f:selectItems value="#{stockCalculationProcessBean.listReportType}" var="report" itemLabel="#{report.parameterName}" itemValue="#{report.parameterTablePk}" />
							</p:selectOneMenu>
							<p:message for="reportType" display="icon"/>
							</h:panelGrid>						
						</td>
					</tr>
					<p:outputPanel id="panelParticipant" rendered="#{stockCalculationProcessBean.flagParticipant}">
					<tr>
						<td>
							<h:outputText value="#{msgs['stock.calculation.participant']} (*)" styleClass="required-field" rendered="#{stockCalculationProcessBean.flagParticipantReq}"/>
							<h:outputText value="#{msgs['stock.calculation.participant']}" rendered="#{!stockCalculationProcessBean.flagParticipantReq}"/>
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:selectOneMenu id="participant"
								value="#{stockCalculationProcessBean.stockCalculationProcess.participant.idParticipantPk}" 
								disabled="#{stockCalculationProcessBean.blparticipant}"> <!-- stockCalculationProcess.participant.idParticipantPk-->
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" noSelectionOption="true" />
								<f:selectItems value="#{stockCalculationProcessBean.listParticipants}" var="part" 
								itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
								<o:validator validatorId="javax.faces.Bean" 
								disabled="#{stockTypeEnum.PARTICIPANT.code ne stockCalculationProcessBean.stockCalculationProcess.stockType}"
								validationGroups="com.pradera.model.corporatives.stockcalculation.validation.StockByParticipant"
								/>
							</p:selectOneMenu>
							<p:message for="participant" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					</p:outputPanel>
					<p:outputPanel id="panelHolderHelper" rendered="#{stockCalculationProcessBean.flagHolder}">
					<tr>
						<td>
							<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field"/>
						</td>
						<td>
							<p:outputPanel id="panelholderHelper" >
							<ark:holderHelper holder="#{stockCalculationProcessBean.stockCalculationProcess.holder}" id="holderHelper"
							beanValidation="#{stockTypeEnum.HOLDER.code eq stockCalculationProcessBean.stockCalculationProcess.stockType?'com.pradera.model.corporatives.stockcalculation.validation.StockByHolder':''}">
								<f:facet name="textMessage">
							      <p:message id="messageHolder" for="holderHelper:holderHelper" display="icon"/>
							   </f:facet>
							</ark:holderHelper>
							</p:outputPanel>
						</td>
					</tr>
					</p:outputPanel>
					<p:outputPanel id="panelSecurityHelp" rendered="#{stockCalculationProcessBean.flagSecurity}">
					<tr>
						<td>
							<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field" rendered="#{!stockCalculationProcessBean.flagSecurityReq}"/>
							<h:outputText value="#{gmsgs['security.lbl.code']}" rendered="#{stockCalculationProcessBean.flagSecurityReq}"/>
						</td>
						<td>
							<h:panelGrid columns="4">
								<p:outputPanel id="panelsecurityHelp">
								<ark:securityHelper id="securityHelp" security="#{stockCalculationProcessBean.stockCalculationProcess.security}" remoteListener="updateFieldSe()"
								 beanValidation="#{stockTypeEnum.SECURITY.code eq stockCalculationProcessBean.stockCalculationProcess.stockType ? 'com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity':
								 stockTypeEnum.CORPORATIVE.code eq stockCalculationProcessBean.stockCalculationProcess.stockType?'com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity':''}">
									 <f:facet name="textMessage">
								      <p:message id="messageSecurity" for="securityHelp:securityHelp" display="icon"/>
								   </f:facet>
								</ark:securityHelper>
								</p:outputPanel>
								<p:remoteCommand name="updateFieldSe" update=":stockForm:securityHelpAux" process="@this"/>	
								<p:spacer width="5"/>
								<p:outputPanel id="securityHelpAux">
								<ark:securities-help securityCode="#{stockCalculationProcessBean.stockCalculationProcess.security.idSecurityCodePk}"/>
								</p:outputPanel>
							</h:panelGrid>							
						</td>
						
						<ui:remove>
						
						<td>
							<p:inputTextarea id="inputTextSecurity" cols="80" maxlength="1000" required="true"
								rows="3" value="#{stockCalculationProcessBean.securitiesCorporative}"
								requiredMessage="#{msgs['lbl.validation.securities']}">
								
								<p:ajax event="blur" global="false"/>
								<p:keyFilter regEx="#{msgs['exp.regular.alphanumeric.all.characteres']}" />
							</p:inputTextarea>
						</td>
						</ui:remove>
						
					</tr>
					
					<ui:remove>
					<tr>
						<td>
							<h:outputText value=""/>
						</td>
						<td>
							<h:outputText value="#{msgs['message.validate.length.security']}" styleClass="redText"/>
						</td>
					</tr>
					
					</ui:remove>
					</p:outputPanel>
					<!--<p:outputPanel id="panelDepositary" rendered="#{stockCalculationProcessBean.flagMonthly}">
					<tr>
						<td><h:outputText value="#{msgs['lbl.depository']}"/></td>
						<td>
							<p:selectOneMenu id="depositary" 
								value="#{stockCalculationProcessBean.stockCalculationProcess.monthlyType}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" noSelectionOption="true"/> 
							<f:selectItems value="#{stockCalculationProcessBean.listDepositary}" var="depositary" 
							itemLabel="#{depositary.description}" itemValue="#{depositary.idInternationalDepositoryPk}" /> 
							</p:selectOneMenu>
						</td>
					</tr>
					</p:outputPanel> -->
					</table>
				</p:fieldset>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" process="@form"
					actionListener="#{stockCalculationProcessBean.beforeRegisterStockCalculation()}"
					rendered="#{userPrivilege.userAcctions.register}"
					update="@form confirmRegister :opnlGenericDialogs">
				</p:commandButton>
				<p:spacer width="2"/>
				<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
					update="@form" process="@this"
					actionListener="#{stockCalculationProcessBean.cleanStock()}"/>
			</td>
		</tr>
		</table>
		    	
	    	<p:confirmDialog id="confirmRegister" rendered="true" visible="false" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="confirmAlertWidget" >  
	                
	       		<table width="80%" cellpadding="2" cellspacing="2" align="center">
	       			<tr>
	       				<td width="50%" align="right" >
			       		    <p:commandButton oncomplete="PF('confirmAlertWidget').hide()"
				        				 value="#{gmsgs['btn.yes']}" 
				        				 actionListener="#{stockCalculationProcessBean.registerStockCalculation()}"
				        				 process="@this"
				        				 update="sucessRegister, :opnlGenericDialogs"> 
				        	</p:commandButton>
	       				</td>
	       				<td width="50%" align="left">
				        	<p:commandButton global="false" onclick="PF('confirmAlertWidget').hide()"
					        			 value="#{gmsgs['btn.no']}"
				        				 type="button"> 
				        	</p:commandButton>  
		        		</td>
	       			</tr>
	       		</table>
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog id="sucessRegister" rendered="true" visible="false" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="sucessAlertWidget" >  
	                
	       		<table width="80%" cellpadding="2" cellspacing="2" align="center">
	       			<tr>
	       				<td width="50%" align="center" >
			       		    <p:commandButton oncomplete="PF('sucessAlertWidget').hide()"
				        				 value="#{gmsgs['btn.accept']}" 
				        				 actionListener="#{stockCalculationProcessBean.cleanStock()}"
				        				 process="@this"
				        				 update="@form"> 
				        	</p:commandButton>
	       				</td>
	       			</tr>
	       		</table>
	    	</p:confirmDialog> 
	    </h:form>
	   </f:view>
	</ui:define>
</ui:composition>
</html>