<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

	<ui:composition template="/template/default.xhtml">
		<ui:define name="body"> 
	<style type="text/css">		
		table{
			border: none 0px !important;
		} 
	</style>
		<h:outputText value="#{msgs['stock.calculation.report.title']}" styleClass="title-page"/>
		
		<h:form id="stockForm" >
		<table width="100%" border="0">
		<tr>
			<td>
				<p:fieldset legend="#{msgs['stock.calculation.report.legend']}">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="200">
							<h:outputText value="#{msgs['stock.calculation.type']}(*)" styleClass="required-field" />
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:selectOneMenu id="stockType" value="#{stockCalculationMgmtBean.stockCalculationProcess.stockType}" 
								label="#{msgs['stock.calculation.type']}" >
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{stockCalculationMgmtBean.listTypeStocks}"/>
								<p:ajax event="change" listener="#{stockCalculationMgmtBean.validStockType}"
										update="@form :opnlGenericDialogs" partialSubmit="true" process="@this"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
							</p:selectOneMenu>
							<p:message for="stockType" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td width="200">
							<h:outputText value="#{msgs['stock.calculation.report.type']}(*)" styleClass="required-field" />
						</td>
						<td>
							<h:panelGrid columns="2">
							<p:selectOneMenu id="stockRepType" value="#{stockCalculationMgmtBean.stockRepType}" 
								label="#{msgs['stock.calculation.report.type']}" >
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{stockCalculationMgmtBean.reportTypes}" var="reportType" itemLabel="#{reportType.value}" itemValue="#{reportType.code}"/>
								<p:ajax event="change" update="@form :opnlGenericDialogs"/>
								<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
							</p:selectOneMenu>
							<p:message for="stockRepType" display="icon"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['stock.calculation.participant']}" rendered="#{stockCalculationMgmtBean.flagParticipant}"/></td>
						<td>
							<p:selectOneMenu id="selectPart" rendered="#{stockCalculationMgmtBean.flagParticipant}"
								value="#{stockCalculationMgmtBean.stockCalculationProcess.participant.idParticipantPk}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{stockCalculationMgmtBean.listParticipants}" var="part" 
								itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
								<p:ajax update="holderHelper" />
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['stock.calculation.issuer']}" rendered="#{stockCalculationMgmtBean.flagIssuer}"/></td>
						<td>
							<p:selectOneMenu id="selectiss" rendered="#{stockCalculationMgmtBean.flagIssuer}"
								value="#{stockCalculationMgmtBean.stockCalculationProcess.idIssuerPk}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{stockCalculationMgmtBean.listIssuers}" var="iss" 
								itemLabel="#{iss.businessName}" itemValue="#{iss.idIssuerPk}" />
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['stock.calculation.holder']}" rendered="#{stockCalculationMgmtBean.flagHolder}" />
						</td>
						<td>
							<p:outputPanel id="holderHelper" >
							<ark:holderHelper holder="#{stockCalculationMgmtBean.stockCalculationProcess.holder}" 
								rendered="#{stockCalculationMgmtBean.flagHolder}" 
								partCode="#{stockCalculationMgmtBean.stockCalculationProcess.participant.idParticipantPk}" 
								id="holderHelper2" name="holderHelpernameOne"/>
							</p:outputPanel>
						</td>
					</tr>
					
					<ui:remove>
					<tr>
						<td>
							<h:outputText value="#{msgs['stock.calculation.securitiecode']}" rendered="#{stockCalculationMgmtBean.flagSecurity}" />
						</td>
						<td>
							<p:outputPanel id="securityHelp">
							<ark:securityHelper id="securityHelper" rendered="#{stockCalculationMgmtBean.flagSecurity}"
								security="#{stockCalculationMgmtBean.stockCalculationProcess.security}"/>
							<p:spacer width="5"/>
							<ark:securities-help securityCode="#{stockCalculationMgmtBean.stockCalculationProcess.security.idSecurityCodePk}"/>
							</p:outputPanel>
						</td>
					</tr>
					</ui:remove>
					
					<tr>
						<td>
							<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field" rendered="#{!(stockCalculationMgmtBean.flagSecurityReq) and stockCalculationMgmtBean.flagSecurity}"/>
							<h:outputText value="#{gmsgs['security.lbl.code']}" rendered="#{stockCalculationMgmtBean.flagSecurityReq and stockCalculationMgmtBean.flagSecurity}"/>
						</td>
						<td>
							<h:panelGrid columns="4" rendered="#{stockCalculationMgmtBean.flagSecurity}">
								<p:outputPanel id="panelsecurityHelp">
								<ark:securityHelper id="securityHelp" security="#{stockCalculationMgmtBean.stockCalculationProcess.security}" remoteListener="updateFieldSe()"
								 beanValidation="#{stockType.SECURITY.code eq stockCalculationMgmtBean.stockCalculationProcess.stockType ? 'com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity':
								 stockType.CORPORATIVE.code eq stockCalculationMgmtBean.stockCalculationProcess.stockType?'com.pradera.model.corporatives.stockcalculation.validation.StockBySecurity':''}">
									 <f:facet name="textMessage">
								      <p:message id="messageSecurity" for="securityHelp:securityHelp" display="icon"/>
								   </f:facet>
								</ark:securityHelper>
								</p:outputPanel>
								<p:remoteCommand name="updateFieldSe" update=":stockForm:securityHelpAux" process="@this"/>	
								<p:spacer width="5"/>
								<p:outputPanel id="securityHelpAux">
								<ark:securities-help securityCode="#{stockCalculationMgmtBean.stockCalculationProcess.security.idSecurityCodePk}"/>
								</p:outputPanel>
							</h:panelGrid>							
						</td>
					</tr>
					
					<tr>
						<td><h:outputText value="#{msgs['lbl.depository']}" rendered="#{stockCalculationMgmtBean.flagMonthly}" /></td>
						<td>
							<p:selectOneMenu id="depositary" 
								value="#{stockCalculationMgmtBean.internationalDepositary.idInternationalDepositoryPk}"
								rendered="#{stockCalculationMgmtBean.flagMonthly}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" /> 
								<f:selectItems value="#{stockCalculationMgmtBean.listDepositary}" var="depositary" 
								itemLabel="#{depositary.description}" itemValue="#{depositary.idInternationalDepositoryPk}" />
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['stock.calculation.cutoffdate']}(*)" styleClass="required-field" /></td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="cutoffDate" showOn="button"
									size="#{cons['calendarSize']}" pattern="#{cons['dateFormat']}" 
									maxlength="#{cons['calendarSize']}" maxdate="#{stockCalculationMgmtBean.nowTime}"
									value="#{stockCalculationMgmtBean.stockCalculationProcess.cutoffDate}" >
							<p:ajax event="dateSelect" process="@this" update="@form, :opnlDialogs"  
									listener="#{stockCalculationMgmtBean.onchangeInitialDate()}"/>
							</p:calendar>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['stock.calculation.registerdate']}(*)" styleClass="required-field" /></td>
						<td>
							<h:panelGrid columns="2">
							<p:calendar id="registryDate" showOn="button"
									size="#{cons['calendarSize']}" pattern="#{cons['dateFormat']}" 
									maxlength="#{cons['calendarSize']}" maxdate="#{stockCalculationMgmtBean.nowTime}"
									value="#{stockCalculationMgmtBean.stockCalculationProcess.registryDate}" 
									navigator="true">
							<f:validator  validatorId="calendarGreaterThanValidator" />
							<p:ajax event="dateSelect" process="@this" update="@form, :opnlDialogs"  
												listener="#{stockCalculationMgmtBean.onchangeEndDate()}"/>
							</p:calendar>
							</h:panelGrid>
						</td>
					</tr>	
				</table>
				</p:fieldset>
			</td>
		</tr>
		<tr>
			<td align="center">
				<p:commandButton id="cmbSend" value="#{msgs['stock.calculation.report.send']}" icon="fa fa-save" process="@form"
								 actionListener="#{stockCalculationMgmtBean.sendStockReports()}" update="@form :opnlDialogs :opnlGenericDialogs" >
					<f:param name="skipValidation" value="true"/>
				</p:commandButton>
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
								 update="@form" immediate="true" action="#{stockCalculationMgmtBean.cleanStock}"/>
			</td>
		</tr>
		</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			<p:confirmDialog id="idDialCevaldom" widgetVar="idDialCevaldomWin"  message="#{bodyMessageView}" rendered="false" visible="true" closable="false" >				
				<p:commandButton value="#{msgs['btn.accept']}" action="#{stockCalculationMgmtBean.cleanStock()}" process="@this" oncomplete="PF('idDialCevaldomWin').hide();" update=":stockForm"/>		
			</p:confirmDialog>
			<p:confirmDialog id="alterValidation" rendered="false" visible="true" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     global="false"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{msgs['btn.accept']}" 
		        				 action="#{stockCalculationMgmtBean.confirmActions()}"
		        				 update=":stockForm" > 
		        	</p:commandButton>   
		        </h:panelGrid>          
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog id="confirmAlert" rendered="false" visible="true" message="#{bodyMessageView}" closable="false"
	                header="#{headerMessageView}" severity="info" widgetVar="confirmAlertWidget" >  
	                
	       		<table width="80%" cellpadding="2" cellspacing="2" align="center">
	       			<tr>
	       				<td width="50%" align="right" >
			       		    <p:commandButton global="false"
					        			 oncomplete="PF('confirmAlertWidget').hide()"
				        				 value="#{msgs['btn.yes']}" 
				        				 action="#{stockCalculationMgmtBean.registerStock()}"
				        				 update=":stockForm, :opnlDialogs, :opnlGenericDialogs"> 
				        	</p:commandButton>
	       				</td>
	       				<td width="50%" align="left">
				        	<p:commandButton global="false"
					        			 oncomplete="PF('confirmAlertWidget').hide()"
				        				 value="#{msgs['btn.no']}"  action="#{stockCalculationMgmtBean.removeAlert()}"
				        				 update=":stockForm"> 
				        	</p:commandButton>  
		        		</td>
	       			</tr>
	       		</table>
	    	</p:confirmDialog> 
	    	
	    	</h:form>
	    </p:outputPanel>
	    
		</ui:define>
	</ui:composition>
</html>