	 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"	
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">


<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
		  $(window).load(function(){
		   setAllHolidays('${requestAffectationMgmBean.allHolidays}');
		   setInitialFormState('#frmPrendAffect');
		  });

	 </script>
		<h:form id="frmPrendAffect">
			<p:outputLabel id="pnlRegisterPage">
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText value="#{gmsgs['iCustody.affectation.registerpawn.tittle']}" styleClass="title-page" 
						style='font-family:"Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana,Arial, sans-serif !important;font-size: 22px !important;margin: 0 !important;'/>
					</td>
				</tr>
				<tr>
					<td>
					<p:fieldset legend="#{msgs['lbl.register.data']}" id="flsRegisterData">	
					<table width="100%">
					<tr>
					<td>
						<table width="100%">
						<tr>
							<td width="10%">
								<h:outputText value="#{msgs['lbl.affectation.register.recordNumber']}" />	
							</td>							
							<td width="30%">
								<h:panelGrid columns="3">
								<p:inputText disabled="true" style="width:1px;display:none"></p:inputText> 
								<p:inputText id="numRecord" label="#{msgs['lbl.affectation.register.recordNumber']}" size="33"   
									value="#{requestAffectationMgmBean.registerPawnOrReserveTO.numberRecord}" onkeyup="validateHyphenSlash(event,this)" onkeydown="validateHyphenSlash(event,this)" onblur="validateHyphenSlash(event,this)"  onkeypress="validateHyphenSlash(event,this)"  styleClass="content-right" maxlength="30">
									<p:ajax event="change" update="@this msgNumRecord" process="@this" global="false"/>
									<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
								</p:inputText>
								<p:message for="numRecord" display="icon" id="msgNumRecord"/>
								</h:panelGrid>
							</td>
							<td width="10%">
								<h:outputText value="#{msgs['lbl.affectation.register.recordDate']} (*)" styleClass="required-field"/>
							</td>
							<td width="30%">
								<h:panelGrid columns="2">
								<p:calendar readonlyInput="true" label="#{msgs['lbl.affectation.register.recordDate']}"
									navigator="true" showOn="both" beforeShowDay="disableAllHolydays"  
									maxdate="#{requestAffectationMgmBean.currentSystemDate}" disabledWeekends="true" size="28"
									value="#{requestAffectationMgmBean.registerPawnOrReserveTO.dateRecord}" pattern="dd/MM/yyyy" id="dateRecord">
									<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" />
									<p:ajax global="false" event="dateSelect" process="@this" update="@this msgDateRecord"/>									
								</p:calendar>
									<p:message for="dateRecord" display="icon" id="msgDateRecord"/>
								</h:panelGrid> 
							</td>
						</tr>
						<tr>
							<td width="10%">
								<h:outputText value="#{msgs['lbl.affectation.register.blockType']} (*)" styleClass="required-field"/>
							</td>
							<td width="30%">
								<h:panelGrid columns="2">
								<p:selectOneMenu id="typeRequest" label="#{msgs['lbl.affectation.register.blockType']}" disabled="true" style="width:300px" 
									value="#{requestAffectationMgmBean.registerPawnOrReserveTO.parameterTableTypeRequest.parameterTablePk}">
							        <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						            <f:selectItems value="#{requestAffectationMgmBean.registerPawnOrReserveTO.lstTypeRequest}" var="parameterTable" 
						            			   itemLabel="#{parameterTable.parameterName}" itemValue="#{parameterTable.parameterTablePk}" />
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>									
									<p:ajax event="change" listener="#{requestAffectationMgmBean.showBCR}"
											update="blocklEntity msgTypeRequest @this :opnlGenericDialogs outputPanelResult" process="@this"/> 										 	 							             
								</p:selectOneMenu>
								<p:message for="typeRequest" display="icon" id="msgTypeRequest"/>
								</h:panelGrid>							
							</td>	
							<ui:remove>
							<td width="10%">
								<h:outputText value="#{msgs['lbl.affectation.register.checkAutoSettled']}"/>
							</td>
							<td width="30%">
								<p:selectBooleanCheckbox value="#{requestAffectationMgmBean.registerPawnOrReserveTO.checkAutoSettled}"/>  
							</td>		
							</ui:remove>									
						</tr>																								
						<tr>
							<td colspan="4" width="100%">
							<p:outputPanel id="opnAffeFormAndCurrency">							
							<table width="100%">
							<tr>
						    	<td width="10%">
									<h:outputText value="#{msgs['lbl.affectation.register.blockForm']} (*)" styleClass="required-field"/>
								</td>
								<td width="30%">
									<h:panelGrid columns="2">
									<p:selectOneMenu id="affeForm" value="#{requestAffectationMgmBean.registerPawnOrReserveTO.parameterTableAffectationForm.parameterTablePk}"
										requiredMessage="#{msgs['msg.affectation.required.blockForm']}" style="width:300px"
										disabled="#{!userInfo.userAccountSession.depositaryInstitution}">
							            <f:selectItems var="paramTableAffecForm" value="#{requestAffectationMgmBean.registerPawnOrReserveTO.lstAffectationForm}"
							            	itemLabel="#{paramTableAffecForm.description}" itemValue="#{paramTableAffecForm.parameterTablePk}"/>
							            <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
							            <p:ajax update="opnAffeFormAndCurrency, outPnlAmountAndExchange, 
							            				:frmPrendAffect:outputPanelResult, msgAffeForm, affeForm, pnlGridHolder, holderAccount"
							            		event="change" process="@this" listener="#{requestAffectationMgmBean.showParametersByAffectationPawnForm}"/>
							        </p:selectOneMenu>
							        <p:message display="icon" for="affeForm" id="msgAffeForm"/>
							        </h:panelGrid>
							    </td>
								<td width="10%">
									<h:outputText value="#{msgs['lbl.affectation.register.currency']} (*)" styleClass="required-field" 
										rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}"/>
								</td>
								<td width="30%">
									<h:panelGrid columns="2">
									<p:selectOneMenu id="currency" value="#{requestAffectationMgmBean.registerPawnOrReserveTO.parameterTableCurrency.parameterTablePk}"
										label="#{msgs['lbl.affectation.register.currency']}" style="width:200px"
										rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}">  
				           	 			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				           				<f:selectItems value="#{requestAffectationMgmBean.registerPawnOrReserveTO.lstCurrency}"
											var="parameterTable" itemLabel="#{parameterTable.parameterName}"
											itemValue="#{parameterTable.parameterTablePk}" />
										<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
										<p:ajax listener="#{requestAffectationMgmBean.showExchangeRatePawn}" 
											update=":opnlGenericDialogs, exchangeRate, msgCurrency, currency, :frmPrendAffect:outputPanelResult, holderAccount,
													frmPrendAffect:idRntHelp:outpnlHolder"/>
							    	</p:selectOneMenu>
							    	<p:message display="icon" for="currency" id="msgCurrency"/>
							    	</h:panelGrid>									
								</td>
							</tr>
							</table>							
							</p:outputPanel>
							</td>						
						</tr>						
						<tr>
							<td width="100%" colspan="4">
							<p:outputPanel id="outPnlAmountAndExchange">							
							<p:outputPanel rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}">
							<table width="100%">											
							<tr>									
								<td width="10%">
									<h:outputText value="#{msgs['lbl.affectation.register.amount']} (*)" styleClass="required-field"/>									
								</td>
								<td width="30%">																	
									<h:panelGrid columns="2">
									<p:inputText style="text-align:right" maxlength="20"
										styleClass="amount-inputfield" id="amount" size="20" 
										label="#{msgs['lbl.affectation.register.amount']}" 
										value="#{requestAffectationMgmBean.registerPawnOrReserveTO.amount}" onkeyup="validateZero(this)"
										onkeydown="validateZero(this)" onkeypress="validateZero(this)">
									<f:convertNumber pattern="#{cons['conv.number.pattern']}" locale="#{cons['conv.number.locale']}"/>
									<p:ajax update="msgAmount, @this, frmPrendAffect:idRntHelp:outpnlHolder,holderAccount,panelButton,outputPanelResult"
											event="blur" process="@this" listener="#{requestAffectationMgmBean.changeAffectationAmountPawn}"/>
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>	
									<p:message display="icon" for="amount" id="msgAmount"/>
									</h:panelGrid>
							    </td>						
							    <td width="10%">
							    	<h:outputText value="#{msgs['lbl.affectation.register.exchange']} (*)" styleClass="required-field"/>
							    </td>
								<td width="30%">
									<p:inputText value="#{requestAffectationMgmBean.registerPawnOrReserveTO.bdExchangeRate}"
										disabled="true" styleClass="content-right" id="exchangeRate" size="33">
										<f:convertNumber pattern="#{cons['conv.number.pattern']}" locale="#{cons['conv.number.locale']}"/>
									</p:inputText>
							    </td>					    
							</tr>
							</table>								
							</p:outputPanel>
							</p:outputPanel>
							</td>
						</tr>						
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.affectation.register.blockEntity']} (*)" styleClass="required-field"/>
							</td>
							<td colspan="3">
								<p:outputPanel id="blocklEntity">
								<p:outputPanel rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blNoReserve}">
									<h:panelGrid columns="3">
									<ark:blockEntityHelper id="nidBlockEntity" blockEntity="#{requestAffectationMgmBean.registerPawnOrReserveTO.blockEntity}" 
														   required="true" label="#{msgs['lbl.affectation.register.blockEntity']}" remoteListener="updateField()"
														   validatorName="com.pradera.commons.view.validators.InputTextValidator"/>
										<p:remoteCommand name="updateField" actionListener="#{requestAffectationMgmBean.searchListBlockEntityPawn}" process="@this"
										update="frmPrendAffect:nidBlockEntity:nidBlockEntity nidMsgBlockEntity frmPrendAffect:nidBlockEntity:outpnlBlockEntity :opnlGenericDialogs"/>
										<p:message for=":frmPrendAffect:nidBlockEntity:nidBlockEntity" display="icon" id="nidMsgBlockEntity"/>
									</h:panelGrid>
								</p:outputPanel>
								<p:outputPanel rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blReserve}">
									<h:panelGrid columns="2">
									<ark:blockEntityHelper id="midBlockEntity" blockEntity="#{requestAffectationMgmBean.registerPawnOrReserveTO.blockEntity}" disabled="true"/>
									</h:panelGrid>
								</p:outputPanel>
								</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.affectation.register.rnt']} (*)" styleClass="required-field"/>
							</td>
							<td colspan="3">
								<h:panelGrid columns="4" id="pnlGridHolder">
								<ark:holderHelper holder="#{requestAffectationMgmBean.registerPawnOrReserveTO.holder}" remoteListener="updateHolder()" id="idRntHelp"
												  label="#{msgs['lbl.affectation.register.rnt']}" required="true"  
												  blParticipant="#{requestAffectationMgmBean.flagParticipant}" 
												  participant="#{requestAffectationMgmBean.idParticipant}"
												  blIssuerBlock = "#{requestAffectationMgmBean.flagIssuerBlock}" 
												  validatorName="com.pradera.commons.view.validators.InputTextValidator"/>
								<p:remoteCommand name="updateHolder" actionListener="#{requestAffectationMgmBean.searchListHolderAccount}" process="@this" 
												 update="panelButton, outputPanelResult, outPnlDialogs, opnlGenericDialogs, holderAccount, 
												 		 idMsgAlertHolder,frmPrendAffect:idRntHelp:outpnlHolder"/>
								<p:message for="frmPrendAffect:idRntHelp:idRntHelp" display="icon" id="idMsgAlertHolder"/>
								</h:panelGrid>
							</td>
						</tr>
						</table>
					</td>
					</tr>
					<tr>
					<td>
						<p:outputPanel id="holderAccount">
						<table width="100%">	
						<tr>
							<td width="10%">												
								<h:outputText value="#{msgs['lbl.affectation.register.account']}" 
											  rendered="#{not empty requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccount and !requestAffectationMgmBean.flagIssuerBlock}"/>						
							</td>
							<td width="70%">								
								<p:dataTable value="#{requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccount}" var="list1" 
											 rendered="#{not empty requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccount and !requestAffectationMgmBean.flagIssuerBlock}">
									<p:column styleClass="content-center" sortBy="#{list1.numberAccount}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.register.account.accountNumber']}"/>
										</f:facet>
										<h:outputText value="#{list1.numberAccount}" />
									</p:column>
									<p:column styleClass="content-center" sortBy="#{list1.participantMnemonic}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.register.account.participant']}"  />
										</f:facet>
										<h:outputText value="#{list1.participantMnemonic} - #{list1.idParticipantPk}" title="#{list1.participantMnemonic}" /> 
									</p:column>
									<p:column styleClass="content-left">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.register.account.description']}"  />
										</f:facet>
										<h:outputText escape="false" value="#{list1.holderAccount}" />
									</p:column>									
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.register.account.accountState']}"  />
										</f:facet>
											<h:outputText value="#{list1.state}" />
									</p:column>
									<p:column styleClass="content-center" rendered="#{!(requestAffectationMgmBean.registerPawnOrReserveTO.blNoOpposition and  
																					  	requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation)}">
										<f:facet name="header" >
											<h:outputText value="" />
										</f:facet>				
										<p:selectBooleanCheckbox value="#{list1.blCheck}" disabled="#{requestAffectationMgmBean.registerPawnOrReserveTO.blOpposition or list1.blCantCheckForPawn}">
											<p:ajax event="change" listener="#{requestAffectationMgmBean.clearHolAccBalHeaderFromPawn}" 
													update=":frmPrendAffect:outputPanelResult" global="false"/>
										</p:selectBooleanCheckbox>												
									</p:column>
								</p:dataTable>
							</td>
						</tr>					
						</table>
						</p:outputPanel> 
					</td>
					</tr>
					<tr>
						<td align="center" colspan="4">
							<p:outputPanel id="panelButton" >
							<p:commandButton value="#{gmsgs['btn.search']}" icon="fa fa-search" rendered="#{not empty requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccount
											and !( requestAffectationMgmBean.registerPawnOrReserveTO.blNoOpposition and 
											requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation)}" 
									process="@this" update="outputPanelResult :opnlGenericDialogs holderAccount"
									actionListener="#{requestAffectationMgmBean.searchListHolderAccountBalance}" />
							<marketFact:marketfactBalance id="balancemarket1" bean="#{requestAffectationMgmBean}"  method="selectMarketFactBalance" parameter="holderMarketFactBalance">
							</marketFact:marketfactBalance>
							</p:outputPanel>
						</td>
					</tr>
					</table>
									
					<p:outputPanel id="outputPanelResult">
					<ark:securities-help icon="false" name="securityHelp"/>
					<p:outputPanel id="outputPanelResult2" rendered="#{not empty requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccountBalanceHeader}">
					<p:fieldset legend="#{msgs['lbl.affectation.view.balances']}">
					<p:accordionPanel id="accordionPanel" value="#{requestAffectationMgmBean.registerPawnOrReserveTO.lstHolderAccountBalanceHeader}"
										var="holAccBalHeader" multiple="true" dynamic="true" cache="false" activeIndex="0,1,2,3,4">
						<p:tab title="#{msgs['lbl.affectation.register.matrix.participant']}: #{holAccBalHeader.participant}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
							   		  #{msgs['lbl.affectation.register.matrix']}: #{holAccBalHeader.alternativeCode}" closable="false">
							<table width="100%">
								<tr>
									<td colspan="2">
									
									<p:outputPanel rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}">
									<table width="100%">
									<tr>
										<td width="25%">
										<h:outputText value="#{msgs['lbl.affectation.register.matrix.totalBlock']}"/>
										</td>
										<td width="25%">
										<h:outputText value="#{holAccBalHeader.blockAmount}" id="globalBlock" styleClass="title-page">
											<f:convertNumber pattern="###,###,##0" locale="en_US"/>
										</h:outputText>
										</td>
										<td width="25%">
										<h:outputText value="#{msgs['lbl.affectation.register.matrix.totalReblock']}"/>
										</td>
										<td width="25%">
										<h:outputText value="#{holAccBalHeader.reblockAmount}" id="globalReblock" styleClass="title-page">
											<f:convertNumber pattern="###,###,##0" locale="en_US"/>
										</h:outputText>
										</td>
									</tr>
									</table>
									</p:outputPanel>
												
									<p:dataTable id="data" var="list" value="#{holAccBalHeader.lstHolderAccountBalanceTO}" rowKey="#{list.idSecurityCodePk}" rowIndexVar="index"
												 scrollRows="#{holAccBalHeader.lstHolderAccountBalanceTO.size()}" scrollable="true" liveScroll="true" scrollHeight="300" rows="#{holAccBalHeader.lstHolderAccountBalanceTO.size()}" lazy="true">								
										<p:column styleClass="content-center" width="20">
											<f:facet name="header">
												<h:outputText value="No." escape="false" />
											</f:facet>
											<h:outputText value="#{index + 1}"/>
										</p:column>
										<p:column styleClass="content-center" width="13%" >
											<f:facet name="header">
												<h:outputText value="#{gmsgs['security.lbl.code']}"/>
											</f:facet>
											<p:commandLink process="@this" update=":frmPrendAffect:outputPanelResult" actionListener="#{requestAffectationMgmBean.showSecurityFinancialData(list.idSecurityCodePk)}">
												<h:outputText value="#{list.idSecurityCodePk}"/>
											</p:commandLink>		
										</p:column>					
										<p:column styleClass="content-right">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.totalBalance']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{list.totalBalance}">
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
											</h:outputText>
										</p:column>								
										<p:column styleClass="content-right">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.availableBalance']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{list.availableBalance}">
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
											</h:outputText>
										</p:column>	
										<p:column styleClass="content-right">
											<f:facet name="header"> 
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.blockBalance']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{list.blockBalance}">
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
											</h:outputText>
										</p:column>		
										<p:column rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}" styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.currency']}"/>
											</f:facet>
											<h:outputText value="#{list.currencyDescription}"/>
										</p:column>
																
										<p:column styleClass="content-center" rendered="#{!(requestAffectationMgmBean.handleMarketFact)}">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.blockQuantity']}" escape="false"/>
											</f:facet>
											<p:inputText size="10" id="quantityBlock" maxlength="#{list.maxSize}" value="#{list.quantityBlockBalance}" 
												disabled="#{!list.blCheck}" styleClass="content-right" 
												onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">										
												<p:ajax update=":frmPrendAffect:outputPanelResult :opnlGenericDialogs :frmPrendAffect:outPnlDialogs" event="blur"   
													listener="#{requestAffectationMgmBean.validateAmountBlockForPawn(list, holAccBalHeader)}"/>
												<p:keyFilter mask="pint"/>
											</p:inputText>
										</p:column>
										<p:column styleClass="content-center" rendered="#{requestAffectationMgmBean.handleMarketFact}">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.blockQuantity']}" escape="false"/>
											</f:facet>
											<p:inputText size="10" id="quantityBlockMarket" maxlength="#{list.maxSize}" value="#{list.quantityBlockBalance}"
												disabled="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation or !list.blCheck or list.marketLock}" styleClass="content-right"
												onkeydown="validateZero(this)" onkeypress="validateZero(this)" onkeyup="validateZero(this)">
												<p:ajax update=":frmPrendAffect:outputPanelResult :opnlGenericDialogs :frmPrendAffect:outPnlDialogs" event="change"
													listener="#{requestAffectationMgmBean.validateAmountBlockForPawnWithMarketFact(list, holAccBalHeader)}" process="@this"/>
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
												<p:keyFilter mask="pint"/>
											</p:inputText>
											<h:commandButton rendered="#{!requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}" value="..."  disabled="#{!list.blCheck or 
																					 (requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation)}">
												<p:ajax listener="#{requestAffectationMgmBean.showMarketFactUI(list)}" update=":frmPrendAffect:balancemarket1:opnlMarketFact" process="@this" event="click"></p:ajax>
											</h:commandButton>
											<p:commandButton 
										    rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}"
											icon="ui-search" update=":frmPrendAffect:idMarketFactData" process="@this" oncomplete="PF('idMarketFactDataWidget').show()">
											</p:commandButton>
											
										</p:column>
										<p:column styleClass="content-right">
											<f:facet name="header">
												<h:outputText  value="#{msgs['lbl.affectation.register.matrix.block']}" />
											</f:facet>
											<h:outputText id="blockAmount" value="#{list.block}">
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
											</h:outputText>
										</p:column>																		
										<p:column styleClass="content-right">
											<f:facet name="header">
												<h:outputText  value="#{msgs['lbl.affectation.register.matrix.reblock']}" />
											</f:facet>
											<h:outputText id="reblockAmount" value="#{list.reblock}">
												<f:convertNumber pattern="###,###,##0" locale="en_US"/>
											</h:outputText>
										</p:column>	
										<p:column rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}" styleClass="content-right">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.blockValoritation']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{list.valoritationQuantityBlockBalance}" >
											<f:convertNumber pattern="#{cons['conv.number.pattern']}" locale="#{cons['conv.number.locale']}"/>
											</h:outputText>
										</p:column>							
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.register.matrix.benefits']}"/>
											</f:facet>
											<p:selectCheckboxMenu disabled="#{!list.blCheck or requestAffectationMgmBean.registerPawnOrReserveTO.blReserve 
												or requestAffectationMgmBean.registerPawnOrReserveTO.blOpposition}" value="#{list.selectedBenefits}" id="chkBenef" 
												panelStyle="width:220px" label="#{msgs['lbl.affectation.register.matrix.select']}" onShow="fixCloseSelectCheckBoxMenu()">										
												<f:selectItems value="#{list.lstBenefits}" var="benefitPT" 
													itemLabel="#{benefitPT.parameterName}" itemValue="#{benefitPT.parameterTablePk}"/>
												<p:ajax event="change" global="false" partialSubmit="true" process="@this" update="@this"/>
												<p:ajax event="toggleSelect" global="false" partialSubmit="true" process="@this" update="@this"/>										 																				
											</p:selectCheckboxMenu>
										</p:column>								
										<p:column width="20" styleClass="content-center">
											<p:selectBooleanCheckbox value="#{list.blCheck}" id="chkCheck"
												disabled="#{requestAffectationMgmBean.registerPawnOrReserveTO.blOpposition or
															(requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation)}">
												<p:ajax event="change" update="data :frmPrendAffect:outPnlDialogs" process="@this"
													listener="#{requestAffectationMgmBean.checkAutomaticDPFForPawn(list, holAccBalHeader)}"/>
											</p:selectBooleanCheckbox>
										</p:column>
								        <f:facet name="footer">  
								            <h:outputText value="#{holAccBalHeader.lstHolderAccountBalanceTO.size() } " style="align:left; font-weight:bold;">
								            	<f:convertNumber pattern="###,###,##0" locale="en_US"/>
								            </h:outputText>
								            <h:outputText value=" #{msgs['lbl.results']}" style="align:left; font-weight:bold;"/>   
								        </f:facet>  
									</p:dataTable>
									</td>
								</tr>
							</table>
						</p:tab>
					</p:accordionPanel>		
					</p:fieldset>
					
					<br/>
					<p:outputPanel id="blockValAmount">
					<p:outputPanel rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.blCashValuation}">					
					<table width="100%">
					<tr>
						<td width="10%">
						    	<h:outputText value="#{msgs['lbl.affectation.register.totalValoritation']}"/>
					    </td>
						<td width="70%">
							<p:inputText value="#{requestAffectationMgmBean.registerPawnOrReserveTO.blockValoritationAmount}"
								disabled="true" styleClass="content-right" size="30">
							<f:convertNumber pattern="#{cons['conv.number.pattern']}" locale="#{cons['conv.number.locale']}"/>
							</p:inputText>
					    </td>
					</tr>
					</table>
					</p:outputPanel>
					</p:outputPanel>
					
					<table width="100%">
					
						<tr>
							<td colspan="2" width="82%">
							<p:outputPanel id="opnOthers">
							<p:outputPanel>
							<table width="100%">
							<tr>
								<td width="10%">
									<h:outputText value="#{msgs['lbl.affectation.register.comments']} (*)" styleClass="required-field"/>
								</td>
								<td width="72%">
									<h:panelGrid columns="2">
									<p:inputTextarea value="#{requestAffectationMgmBean.registerPawnOrReserveTO.observations}" 
										maxlength="200" required="#{requestAffectationMgmBean.blreturn}"
										cols="80" rows="4" autoResize="false" id="observation">
										<p:ajax event="blur" update="@this" process="@this" actionListener="#{requestAffectationMgmBean.back}" />
										<p:keyFilter regEx="/[a-z Ñ ñ 0-9 - , . : ; ( ) # /]/i" />
									</p:inputTextarea>
									</h:panelGrid>
								</td>
							</tr>
							</table>	
							</p:outputPanel>
							</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td width="10%">
								<h:outputText value="#{msgs['lbl.fupl.info.block']} (*)" styleClass="required-field" />
							</td>
							<td width="80%" align="left">
							<p:outputPanel id="opnlFile" styleClass="fileupload-customize" layout="block">
							<p:fileUpload id="fuplPawn"
	 	  									widgetVar="fuplwPawn" 
  											label="#{msgs['fupl.label']}"
  											fileUploadListener="#{requestAffectationMgmBean.documentFilePawnHandler}"
		  									mode="advanced" auto="true"  
		  									update=":frmPrendAffect:opnlFile, :frmPrendAffect:outputPanelFile"
		  									allowTypes="/(\\.|\\/)(#{requestAffectationMgmBean.fUploadFileDocumentsTypes})$/"
		  									sizeLimit="#{requestAffectationMgmBean.fUploadFileDocumentsSize}"
		  									invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
											invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"/>
		  					<script type="text/javascript">
							$(document).ready(function(){
								fileuploadValidate('fuplwPawn');	
							});		
							</script>
							<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
							<p:tooltip for="imgLimit">
								<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
								<f:param value="#{requestAffectationMgmBean.fUploadFileSizeDisplay}"/>
								<f:param value="#{requestAffectationMgmBean.fUploadFileTypesDocumentsDisplay}"/>			
								</h:outputFormat>
							</p:tooltip>						
							</p:outputPanel>												
							</td>
						</tr>
						<tr>
							<td width="10%"></td>
							<td width="80%" align="left">
							<p:outputPanel id="outputPanelFile" width="80%">		
							<p:dataTable id="dtbDocument" var="fileDocument" rowIndexVar="regNum" rendered="#{not empty requestAffectationMgmBean.listFileAffectationTO}"
												value="#{requestAffectationMgmBean.listFileAffectationTO}">
											<p:column width="5px">
											<f:facet name="header">
											<h:outputText value="N°" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.document.file.name']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileName}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.document.file.size']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileSize} KB">
											<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
											</h:outputText>
											</p:column>
											<p:column styleClass="content-center">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.document.format']}" />
											</f:facet>
											<h:outputText
											value="#{fileDocument.fileExtension}" />
											</p:column>							
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.affectation.document.view']}" />
											</f:facet>
											<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"
			  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
			  									update=":frmPrendAffect:opnlFile"
			  									rendered="#{requestAffectationMgmBean.registerPawnOrReserveTO.fileName != null}">			   
			  									<p:graphicImage id="imgView" library="img" title="VER" name="icons/loupe.png"/>
			  									<p:fileDownload value="#{requestAffectationMgmBean.getStreamedContentFilePawn()}"/>
											</p:commandLink>												
											</p:column>
											<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.affectation.document.delete']}" />
											</f:facet>
											<p:commandLink id="cmlRemoveFile" 
			   									actionListener="#{requestAffectationMgmBean.removeUploadedFilePawnHandler}"
			   									styleClass="icon" process="@this" update=":frmPrendAffect:opnlFile :frmPrendAffect:outputPanelFile" immediate="true"
			   									rendered="#{not empty requestAffectationMgmBean.registerPawnOrReserveTO.fileName}">	
												<p:graphicImage id="imgRemove" library="img" title="remover"
				   								name="buttons/remove.png"/>
											</p:commandLink>
											</p:column>
											</p:dataTable>
								</p:outputPanel>						
							</td>
						</tr>						
					</table>
					</p:outputPanel>					
					</p:outputPanel>
					</p:fieldset>
					</td>					
				</tr>
				<tr>
					<td align="center">
					<p:outputPanel id="outputPanelResultButtons">
						<p:commandButton value="#{gmsgs['btn.save']}" update="outPnlDialogs :opnlGenericDialogs" process="@form" icon="fa fa-save" actionListener="#{requestAffectationMgmBean.askForSavePawn}"/>
						<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" update="outPnlDialogs @form frmPrendAffect"
										 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" process="@this" 
										 actionListener="#{requestAffectationMgmBean.cleanNewPawn}"/>
						<p:commandButton value="#{gmsgs['btn.back']}" update="outPnlDialogs @form" icon="fa fa-undo" process="@this" ajax="false" immediate="true"
						                 onclick="if(isModifiedFormForBack(this))return false;" actionListener="#{requestAffectationMgmBean.backPawn()}" action="searchRequest" />
					</p:outputPanel>
					</td>
				</tr>				
			</table>
			</p:outputLabel>

   			<!-- Dialog -->
			<p:outputPanel id="outPnlDialogs">
			<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs :opnlGenericDialogs :opnlEndTransaction"
					             actionListener="#{requestAffectationMgmBean.savePawnOrReserveAffectation}" />
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" actionListener="#{requestAffectationMgmBean.hideDialogsForPawn}"/>
			</p:confirmDialog>	
			
			<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
				header="#{headerMessageView}" closable="false" severity="info"> 
				<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
					action="backFromPawn" value="#{gmsgs['btn.accept']}" 
					actionListener="#{requestAffectationMgmBean.hideDialogsForPawn}"/>
			</p:confirmDialog>
			
		
			<p:confirmDialog widgetVar="cnfWAskDialogAccreditation" id="cnfIdAskDialogAccreditation" message="El Valor seleccionado tiene un CAT asociado. ¿Desea proceder con el vencimiento del CAT?"
							 header="#{gmsgs['lbl.header.alert']}" closable="false" severity="info"> 
	 
				
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialogAccreditation').hide()" process="@this" update=":frmPrendAffect:outputPanelResult"
					             actionListener="#{requestAffectationMgmBean.expirationAccreditationForPawn}" />
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialogAccreditation').hide()" process="@this" update=":frmPrendAffect:outputPanelResult"
								 actionListener="#{requestAffectationMgmBean.hideDialogsCleanCheck}" 
				/>
			</p:confirmDialog>	
			</p:outputPanel>
			<p:dialog	id="idMarketFactData" widgetVar="idMarketFactDataWidget" modal="true" 
	    				resizable="false" showHeader="false" position="top" 
 				  		showEffect="true" maximizable="false" width="800" closeOnEscape="true">  
						
	       		<p:outputPanel id="idMarketFactPanel">
	       		<p:fieldset legend="Hecho de Mercado">
	        	<table width="100%">
	        		<tr>
						<td width="30%" align="left">
							<h:outputText value="#{gmsgs['security.lbl.code']}" />
						</td>
						<td width="70%">
							<p:inputText disabled="true" style="width:70%" value="#{requestAffectationMgmBean.holderMarketFactBalance.securityCodePk}" /> 
						</td>
					</tr>
	  				<tr>
						<td align="left">
							<h:outputText value="#{msgs['commons.label.description']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{requestAffectationMgmBean.holderMarketFactBalance.securityDescription}"  />
						</td>
					</tr>
					<tr>
						<td align="left"><h:outputText value="#{msgs['commons.label.intrumentType']}" /></td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{requestAffectationMgmBean.holderMarketFactBalance.instrumentDescription}" /> 
						</td>
					</tr>
					<tr>
						<td align="left">
							<h:outputText value="#{msgs['lbl.reversal.register.unblockRequest.quantity']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{requestAffectationMgmBean.holderMarketFactBalance.balanceResult}" >
								<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							</p:inputText> 
						</td>
					</tr>
					<tr>
						<td colspan="2">
		  				<p:dataTable value="#{requestAffectationMgmBean.holderMarketFactBalance.marketFacBalances}"  var="list" style="width:100%" 
		  					paginator="true" rows="10" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10" paginatorPosition="top" currentPageReportTemplate="({currentPage} de {totalPages})">
							 
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.date']}"/>
								</f:facet>
								<h:outputText value="#{list.marketDate}">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</h:outputText>
							</p:column>

		  					<p:column styleClass="content-center">
								<f:facet name="header" >
									<h:outputText value="#{msgs['commons.label.marketfact.price']}" />
								</f:facet>
								<h:outputText value="#{(list.marketPrice!=null)?list.marketPrice:0}">
								<f:convertNumber pattern="###,###,###,##0" locale="en_US"/>
								</h:outputText>
							</p:column>
							
		  					<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.tasa']}" />
								</f:facet>
								<h:outputText value="#{(list.marketRate!=null)?list.marketRate:0}">
								<f:convertNumber pattern="#{gconst['pattern.market.rate']}"/>
								</h:outputText>
								<h:outputText value="%"/>
							</p:column>
							
							<p:column styleClass="content-center" rendered="#{requestAffectationMgmBean.holderMarketFactBalance.todate}">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.total']}" />
								</f:facet>
								<h:outputText value="#{list.totalBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
													 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
						
							<p:column styleClass="content-center" rendered="#{requestAffectationMgmBean.holderMarketFactBalance.todate}">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.available']}"/>
								</f:facet>
								<h:outputText value="#{list.availableBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
															 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
						
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.quantity']}"/>
								</f:facet>
								<h:outputText value="#{list.enteredBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
												 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
							
						</p:dataTable>	
						</td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">
				        	
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}"  
					        				 immediate="true"  process="@this"
					        			 	 oncomplete="PF('idMarketFactDataWidget').hide()"/> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:fieldset>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
			
			</h:form>	
	</ui:define>
</ui:composition>
</html>