<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		

		<h:form id="frmSearchBlockOperations"> 
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText value="#{msgs['lbl.affectation.query.title']}" styleClass="title-page" />
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{msgs['lbl.criteria.search']}">

							<table width="100%">								
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.rnt']}"/></td>
									<td colspan="3">
										<ark:holder holder="#{searchBlockOperationMgmBean.searchBlockOperationTO.holder}"/>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.participant']}"/></td>
									<td><p:selectOneMenu value="#{searchBlockOperationMgmBean.searchBlockOperationTO.participant.idParticipantPk}"
										disabled="#{searchBlockOperationMgmBean.blParticipant}">  
							            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
							            <f:selectItems value="#{searchBlockOperationMgmBean.searchBlockOperationTO.lstParticipants}"
												var="parti" itemLabel="#{parti.description} - #{parti.idParticipantPk}"
												itemValue="#{parti.idParticipantPk}" />
										<p:ajax event="change" update="@this" global="false"/> 							             
										</p:selectOneMenu> 
							        </td>							     
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.account']}"/></td>
									<td colspan="3">
										<ark:account holderAccount="#{searchBlockOperationMgmBean.searchBlockOperationTO.holderAccount}"
											alternative="true" description="true"
											partCode="#{searchBlockOperationMgmBean.searchBlockOperationTO.participant.idParticipantPk}"/>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.isin']}"/></td>
									<td colspan="3">
										<ark:securities value="#{searchBlockOperationMgmBean.searchBlockOperationTO.idIsinCodePk}"/>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.blockType']}"/></td>
									<td><p:selectOneMenu value="#{searchBlockOperationMgmBean.searchBlockOperationTO.paramTableTypeAffectation.parameterTablePk}">  
							            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
							            <f:selectItems value="#{searchBlockOperationMgmBean.searchBlockOperationTO.lstTypeAffectation}"
												var="parameterTable" itemLabel="#{parameterTable.parameterName}"
												itemValue="#{parameterTable.parameterTablePk}" /> 							             
										</p:selectOneMenu> 
							        </td>
									<td><h:outputText value="#{msgs['lbl.affectation.query.blockState']}" /></td>
									<td><p:selectOneMenu value="#{searchBlockOperationMgmBean.searchBlockOperationTO.paramTableStateAffectation.parameterTablePk}">  
							            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
							            <f:selectItems value="#{searchBlockOperationMgmBean.searchBlockOperationTO.lstStateAffectation}"
												var="parameterTable" itemLabel="#{parameterTable.parameterName}"
												itemValue="#{parameterTable.parameterTablePk}" /> 							             
										</p:selectOneMenu> 
							        </td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['lbl.affectation.query.blockLevel']}" /></td>
									<td><p:selectOneMenu value="#{searchBlockOperationMgmBean.searchBlockOperationTO.paramTableLevelAffectation.parameterTablePk}">  
							            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>   
							            <f:selectItems value="#{searchBlockOperationMgmBean.searchBlockOperationTO.lstLevelAffectation}"
												var="parameterTable" itemLabel="#{parameterTable.parameterName}"
												itemValue="#{parameterTable.parameterTablePk}" /> 							             
										</p:selectOneMenu> 
							        </td>
								</tr>							
								<tr>
									<td width="20%"><h:outputText value="#{msgs['lbl.affectation.query.initialDate']} (*)" styleClass="required-field"/></td>
									<td width="30%">
										<p:calendar readonlyInput="true" navigator="true" showOn="both" size="10"
											value="#{searchBlockOperationMgmBean.searchBlockOperationTO.initialDate}" id="initialDate"
											pattern="#{msgs['dateFormat']}" maxdate="#{searchBlockOperationMgmBean.currentSystemDate}"
											disabledWeekends="true"/>
									</td>
									<td width="20%"><h:outputText value="#{msgs['lbl.affectation.query.endDate']} (*)" styleClass="required-field"/></td>
									<td width="30%">
										<p:calendar readonlyInput="true" navigator="true" showOn="both" size="10"
											value="#{searchBlockOperationMgmBean.searchBlockOperationTO.endDate}" id="endDate"
											pattern="#{msgs['dateFormat']}" maxdate="#{searchBlockOperationMgmBean.currentSystemDate}"
											disabledWeekends="true"/>
									</td>
								</tr>									
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" process="@form" update="outputPanelResult initialDate endDate :opnlGenericDialogs "
											icon="fa fa-search" actionListener="#{searchBlockOperationMgmBean.searchBlockOperations}"
											rendered="#{userInfo.userAcctions.search}"/> 														 
										<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" process="@form" update="@form"
											icon="fa fa-trash" actionListener="#{searchBlockOperationMgmBean.init()}" />
									</td>
								</tr>
							</table>
						</p:fieldset>
						
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="outputPanelResult">		
						<p:dataTable rendered="#{not empty searchBlockOperationMgmBean.searchBlockOperationTO.lstBlockOperation}"
							value="#{searchBlockOperationMgmBean.searchBlockOperationTO.lstBlockOperation}" var="blockOpe"
							paginator="true" paginatorPosition="top" 
							paginatorTemplate="#{msgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}">
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.blockNumber']}"  escape="false"/>
							</f:facet>
							<p:commandLink style="color:blue" process="@this" actionListener="#{searchBlockOperationMgmBean.viewBlockOperationDetail}"
							action="viewBlockOpeDetail">
							<h:outputText value="#{blockOpe.idBlockOperationPk}" />
								<f:attribute name="blockOpe" value="#{blockOpe}"/>
							</p:commandLink>
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.registryDate']}"  escape="false"/>
							</f:facet>
							<h:outputText value="#{blockOpe.registryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>									
						</p:column>
						<p:column styleClass="content-left">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.holder']}" />
							</f:facet>
							<h:outputText value="#{blockOpe.idHolderPk} - #{blockOpe.holderDescription}" />									
						</p:column>
						<p:column styleClass="content-right">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.account']}" />
							</f:facet>
							<h:outputText value="#{blockOpe.accountNumber}"/>									
						</p:column>
						<p:column styleClass="content-left">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.participant']}" />
							</f:facet>
							<h:outputText value="#{blockOpe.participantMnemonic} - #{blockOpe.idParticipantPk}" title="#{blockOpe.participantDescription}"/>									
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.isin']}" />
							</f:facet>
							<h:outputText value="#{blockOpe.idIsinCodePk}" title="#{blockOpe.isinDescription}"/>									
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.blockType']}"  escape="false"/>
							</f:facet>
							<h:outputText value="#{blockOpe.typeAffectation}" />									
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.blockLevel']}"  escape="false"/>
							</f:facet>
							<h:outputText value="#{blockOpe.levelAffectation}" />									
						</p:column>
						<p:column styleClass="content-right"> 
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.actualQuantity']}"  escape="false"/>
							</f:facet>
							<h:outputText value="#{blockOpe.actualAmount}">
								<f:convertNumber pattern="###,###,##0" locale="en_US"/>
							</h:outputText>									
						</p:column>
						<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.affectation.query.detail.blockState']}" />
							</f:facet>
							<h:outputText value="#{blockOpe.stateAffectation}" />									
						</p:column>	
						<f:facet name="footer">	
							<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}" >
								<f:param value="#{fn:length(searchBlockOperationMgmBean.searchBlockOperationTO.lstBlockOperation)}"/>
							</h:outputFormat>
						</f:facet>					
						</p:dataTable>
						<p:panel rendered="#{searchBlockOperationMgmBean.blNoResult}">
						<b><h:outputText value="#{msgs['lbl.search.no.result']}"/></b>
						</p:panel>				
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>	
	</ui:define>
</ui:composition>
</html>