<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importEnum type="com.pradera.model.custody.affectation.type.AffectationMotiveRejectType" var="motiveReject"/>
	<p:importEnum type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instrumentType"/>
	<h:outputText value="#{msgs['lbl.affectation.view.title']}"  styleClass="title-page"/>	
	<h:form id="frmBlockOperation">
	<table width="100%">
		<tr> 
			<td> 
			<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.affectation.view.panel.blockRequest']}">
				<table width="100%">
					<tr>
						<td width="20%">
							<b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.requestNumber']}"/></b>
						</td>						
						<td width="30%">
							<p:inputText value="#{requestAffectationMgmBean.requestAffecDetaTO.numberRequest}" disabled="true" size="40"/>
						</td>	
						<td width="20%"><b><h:outputText value="#{msgs['commons.label.blockType']}"/></b></td>
						<td width="30%">
							<p:inputText value="#{requestAffectationMgmBean.requestAffecDetaTO.typeAffectation}" disabled="true" size="22"/>
						</td>									
					</tr>					
					<tr>			
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.recordNumber']}"/></b></td>	
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.numberRecord}" size="40"/>
						</td>			
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.recordDate']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.dateRecord}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:inputText>
						</td>					
					</tr>
					<tr>						
						<td><b><h:outputText value="#{msgs['lbl.affectation.search.rnt']}"/></b></td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.idHolderPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestAffectationMgmBean.requestAffecDetaTO.holderDescription} - #{requestAffectationMgmBean.requestAffecDetaTO.holderDocType} - #{requestAffectationMgmBean.requestAffecDetaTO.holderDocNumber}"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.blockEntity']}"/></b></td>
						<td colspan="3">
							<h:panelGrid columns="3">
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.idBlockEntityPk}" size="10" styleClass="content-right"/>
							<p:commandButton value="..." disabled="true"/>
							<h:outputText value="#{requestAffectationMgmBean.requestAffecDetaTO.entityBlockDescription} - #{requestAffectationMgmBean.requestAffecDetaTO.entityBlockDocType} - #{requestAffectationMgmBean.requestAffecDetaTO.entityBlockDocNumber}"/>
							</h:panelGrid>						
						</td>
					</tr>
					<tr>																								
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.blockForm']}"/></b></td>
						<td colspan="3">
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.affectationForm}" size="40"/>
						</td>					
					</tr>					
					<tr>
					<ui:remove>
					<p:outputPanel id="pnlAutoSettled" rendered="#{requestAffectationMgmBean.requestAffectationTO.blPawnBlock}">																								
						<td><h:outputText value="#{msgs['lbl.affectation.register.checkAutoSettled']}" rendered="#{requestAffectationMgmBean.requestAffectationTO.blPawnBlock}"/></td>
						<td colspan="3">
							<p:selectBooleanCheckbox disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}" value="#{requestAffectationMgmBean.requestAffectationTO.checkAutoSettled}" rendered="#{requestAffectationMgmBean.requestAffectationTO.blPawnBlock}"/>
						</td>	
					</p:outputPanel>
					</ui:remove>
					<p:outputPanel id="pnlAuthorRestricted" rendered="#{requestAffectationMgmBean.requestAffectationTO.blBanBlock}">
						<td><h:outputText value="#{msgs['lbl.affectation.register.checkAuthorityRestricted']}" rendered="#{requestAffectationMgmBean.requestAffectationTO.blBanBlock}"/></td>
						<td colspan="3">
							<p:selectBooleanCheckbox disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}" value="#{requestAffectationMgmBean.requestAffectationTO.checkAuthorityRestricted}" rendered="#{requestAffectationMgmBean.requestAffectationTO.blBanBlock}"/>
						</td>			
					</p:outputPanel>		
					</tr>
					<tr>
						<td colspan="4">
							<p:fieldset legend="#{msgs['lbl.affectation.register.fiscal.title']}" rendered="#{requestAffectationMgmBean.requestAffectationTO.blBanBlock}" id="flsFiscalData">
							  <table width="100%">							
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.circularNumber']}"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="circularNumber" label="#{msgs['lbl.affectation.register.fiscal.circularNumber']}" size="33"
												value="#{requestAffectationMgmBean.requestAffectationTO.circularNumber}" 
												styleClass="content-right" maxlength="30"  
												disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}"
												onkeyup="validateHyphenSlash(event,this)" onkeydown="validateHyphenSlash(event,this)" onblur="validateHyphenSlash(event,this)"  onkeypress="validateHyphenSlash(event,this)">
											<p:ajax event="blur" update="@this msgCircularNumber" process="@this" global="false"/>
											<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
											</p:inputText>
											<p:message for="circularNumber" display="icon" id="msgCircularNumber"/>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.procedencia']}"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="procedence" label="#{msgs['lbl.affectation.register.fiscal.procedencia']}" size="40"
												value="#{requestAffectationMgmBean.requestAffectationTO.fiscalProcedence}" 
												styleClass="content-right" maxlength="40" disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}">
											<p:ajax event="blur" update="@this msgProcedence" process="@this" global="false"/>
											<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
											</p:inputText>
											<p:message for="procedence" display="icon" id="msgProcedence"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.currency']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
										<p:selectOneMenu id="fiscalCurrency" value="#{requestAffectationMgmBean.requestAffectationTO.fiscalCurrency}"
											label="#{msgs['lbl.affectation.register.fiscal.currency']}" style="width:200px" disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}">  
					           	 			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					           				<f:selectItems value="#{requestAffectationMgmBean.requestAffectationTO.lstCurrency}"
												var="parameterTable" itemLabel="#{parameterTable.parameterName}"
												itemValue="#{parameterTable.parameterTablePk}" />
								    	</p:selectOneMenu>
								    	<p:message display="icon" for="fiscalCurrency" id="msgFiscalCurrency"/>
								    	</h:panelGrid>									
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.amount']}"/>									
									</td>
									<td>
									<h:panelGrid columns="2">
										<p:inputText style="text-align:right" maxlength="20"
											styleClass="amount-inputfield" id="fiscalAmount" size="20" 
											value="#{requestAffectationMgmBean.requestAffectationTO.fiscalAmount}" onkeyup="validateZero(this)"
											onkeydown="validateZero(this)" onkeypress="validateZero(this)" disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}">
											<f:convertNumber pattern="#{cons['conv.number.pattern']}" locale="#{cons['conv.number.locale']}"/>
										</p:inputText>	
										<p:message display="icon" for="fiscalAmount" id="msgFiscalAmount"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.ChargeNote']}"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="fiscalChargeNote" label="#{msgs['lbl.affectation.register.fiscal.ChargeNote']}" size="33"
												value="#{requestAffectationMgmBean.requestAffectationTO.fiscalChargeNumber}" 
												styleClass="content-right" maxlength="30"
												disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}"
												onkeyup="validateHyphenSlash(event,this)" onkeydown="validateHyphenSlash(event,this)" onblur="validateHyphenSlash(event,this)"  onkeypress="validateHyphenSlash(event,this)">
											<p:ajax event="blur" update="@this msgFiscalChargeNote" process="@this" global="false"/>
											<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
											</p:inputText>
											<p:message for="fiscalChargeNote" display="icon" id="msgFiscalChargeNote"/>
										</h:panelGrid>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.process']}"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="fiscalProcess" label="#{msgs['lbl.affectation.register.fiscal.process']}" size="40"
												value="#{requestAffectationMgmBean.requestAffectationTO.fiscalProcess}" 
												styleClass="content-right" maxlength="40"
												disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}">
											<p:ajax event="blur" update="@this msgFiscalProcess" process="@this" global="false"/>
											<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
											</p:inputText>
											<p:message for="fiscalProcess" display="icon" id="msgFiscalProcess"/>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.affectation.register.fiscal.authority']}"/>
									</td>
									<td colspan="3">
										<h:panelGrid columns="2">
											<p:inputText id="fiscalAuthority" label="#{msgs['lbl.affectation.register.fiscal.authority']}" size="33"
												value="#{requestAffectationMgmBean.requestAffectationTO.fiscalAuthority}" 
												styleClass="content-right" maxlength="30" 
												disabled="#{!requestAffectationMgmBean.blConfirm and !requestAffectationMgmBean.blApprove}"
												onkeyup="validateHyphenSlash(event,this)" onkeydown="validateHyphenSlash(event,this)" onblur="validateHyphenSlash(event,this)"  onkeypress="validateHyphenSlash(event,this)">
											<p:ajax event="blur" update="@this msgfFscalAuthority" process="@this" global="false"/>
											<p:keyFilter regEx="#{cons['exp.regular.numberRecord']}" />
											</p:inputText>
											<p:message for="fiscalAuthority" display="icon" id="msgfFscalAuthority"/>
										</h:panelGrid>
									</td>
								</tr>	
								</table>
								</p:fieldset>
							</td>
						</tr>
					<tr>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.registryUser']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.registryUser}" size="40"/>
						</td>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.registryDate']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.registryDate}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.approveUser']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.approveUser}" size="40"/>
						</td>
						<td>
							<b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.approveDate']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.approveDate}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.annulUser']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.annulUser}" size="40"/>
						</td>
						<td>
							<b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.annulDate']}"/></b>
						</td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.annulDate}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>
					</tr>			
					<tr>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.confirmUser']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.confirmationUser}" size="40"/>
						</td>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.confirmDate']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.confirmationDate}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
							</p:inputText>
						</td>																	
					</tr>					
					<tr>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.rejectUser']}"/></b></td>
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.rejectUser}" size="40"/>
						</td>
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.rejectDate']}"/></b></td>												
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.rejectDate}" size="22">
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</p:inputText>
						</td>								
					</tr>
					<tr>					
						<td><b><h:outputText value="#{msgs['lbl.affectation.view.blockRequest.blockState']}"/></b></td>	
						<td>
							<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.state}" size="40"/>
						</td>
						<p:outputPanel id="outpnlRejectMotive" rendered="#{requestAffectationMgmBean.blviewDetail}">
							<td>
								<b><h:outputText value="#{msgs['lbl.motive']}"/></b>
							</td>
							<td>
								<p:inputText disabled="true" value="#{requestAffectationMgmBean.requestAffecDetaTO.rejectMotiveDesc}" size="80"/>
							</td>
						</p:outputPanel>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.blockenforce.operation.observation']}"/>
						</td>
						<td>
							<p:inputTextarea disabled="true" size="40" cols="40" rows="5" 
											 value="#{requestAffectationMgmBean.requestAffecDetaTO.comments}" />
						</td>
					</tr>
					<tr>	
						<td colspan="2">
							<p:outputPanel id="outputPanelFile" rendered="#{not empty requestAffectationMgmBean.listFileAffectationTO}">		
							<p:dataTable id="dtbDocument" var="fileDocument" rowIndexVar="regNum"
										value="#{requestAffectationMgmBean.listFileAffectationTO}">
							<p:column width="5px">
							<f:facet name="header">
							<h:outputText value="N°" />
							</f:facet>
							<h:outputText
							value="#{regNum + 1}" />
							</p:column>
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.splitcoupons.document.file.name']}" />
							</f:facet>
							<h:outputText
							value="#{fileDocument.fileName}" />
							</p:column>
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.splitcoupons.document.file.size']}" />
							</f:facet>
							<h:outputText
							value="#{fileDocument.fileSize} KB">
							<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
							</p:column>
							<p:column styleClass="content-center">
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.splitcoupons.document.format']}" />
							</f:facet>
							<h:outputText
							value="#{fileDocument.fileExtension}" />
							</p:column>							
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['lbl.splitcoupons.document.view']}" />
							</f:facet>
							<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"
									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">			   
									<p:graphicImage id="imgView" library="img" title="ver" name="icons/loupe.png"/>
									<p:fileDownload value="#{requestAffectationMgmBean.getStreamedContentFileDetail()}" />
							</p:commandLink>

							</p:column>
							</p:dataTable>											
							</p:outputPanel>
							
						</td>																
					</tr>	
					<tr>
						<td colspan="4">
							<p:fieldset legend="#{msgs['lbl.affectation.view.balances']}" rendered="#{!requestAffectationMgmBean.flagIssuerBlock}">
							<p:accordionPanel var="blockOperation" value="#{requestAffectationMgmBean.requestAffecDetaTO.lstBlockOperationTO}" activeIndex="0,1,2,3,4,5">
								<p:tab title="#{msgs['lbl.affectation.register.matrix.participant']}: #{blockOperation.idParticipantPk} - #{blockOperation.participantDescription} 
											  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											  #{msgs['lbl.affectation.view.panel.blockOperation']} : #{blockOperation.alternativeCode}">
									<table width="100%">
										<tr>
											<td width="18%">
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockNumber']}"/></b>
											</td>
											<td width="32%">
												<p:inputText value="#{blockOperation.operationNumber}" styleClass="content-right" disabled="true" size="38"/>
											</td>
											<td width="21%">
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockState']}"/></b>
											</td>										
											<td width="30%">
												<p:inputText value="#{blockOperation.stateAffectation}" disabled="true" size="22"/>
											</td>
										</tr>
										<tr>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockLevel']}"/></b>
											</td>										
											<td>
												<p:inputText disabled="true" value="#{blockOperation.levelAffectation}" size="38"/>
											</td>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.accountNumber']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.accountNumber}" styleClass="content-right" disabled="true" size="22"/>
											</td>
										</tr>
										<tr>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<h:outputFormat value="#{blockOperation.holderDescription}" escape="false"/>											
										</td>
										</tr>
										<tr>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.actualQuantity']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.actualAmount}" styleClass="content-right" disabled="true" size="38">
													<f:convertNumber pattern="###,###,##0" locale="en_US"/>
												</p:inputText>
											</td>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.originalQuantity']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.amount}" styleClass="content-right" disabled="true" size="22">
													<f:convertNumber pattern="###,###,##0" locale="en_US"/>
												</p:inputText>
											</td>																			
										</tr>
										<tr>
											<td> 
												<b><h:outputText value="#{gmsgs['security.lbl.code']}"/></b>
											</td>										
											<td colspan="3" width="100%">
												<h:panelGrid columns="5">
												<p:inputText disabled="true" value="#{blockOperation.securityCodePk}" size="15"/>
												<p:commandButton value="..." disabled="true"/>
												<h:outputText value="#{blockOperation.isinDescription}"/>
												<p:spacer width="10"/>
												<ark:securities-help name="SecurityMCNHelp" id="idSecurityMCNHelp" securityCode="#{blockOperation.securityCodePk}"/>
												</h:panelGrid>
											</td>
										</tr>
										<tr>
											<td> 
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.isin.benefits']}"/></b>
											</td>										
											<td colspan="3">										
											<ui:repeat var="paraTabBene" value="#{blockOperation.lstBenefits}">
												<p:selectBooleanCheckbox disabled="true" value="#{paraTabBene.parameterName != null}" 
													itemLabel="#{paraTabBene.parameterName}"/>
												<p:spacer width="10"/> 
	          								</ui:repeat>
	          								<h:outputText value="#{msgs['msg.affectation.blockOperation.no.benefits']}" rendered="#{empty blockOperation.lstBenefits}" styleClass="required-field"/>
											</td>										
										</tr>
										<ui:remove>
											<tr>
												<td>
													<h:outputText value="#{gmsgs['market.fact']}" />
												</td>
												<td colspan="2"> 
													<p:dataTable value="#{blockOperation.marketFactOperationList}" var="marketFact">
														<p:column headerText="#{gmsgs['market.fact.date']}" styleClass="content-center">
															 <h:outputText value="#{marketFact.marketDate}">
															 	<f:convertDateTime pattern="dd/MM/yyyy"/>
															 </h:outputText>
														</p:column>
														<p:column headerText="#{gmsgs['market.fact.rate']}" styleClass="content-right"
																  rendered="#{blockOperation.instrumentTypeCode eq instrumentType.FIXED_INCOME.code}">
															 <h:outputText value="#{marketFact.marketRate}">
															 	<f:convertNumber pattern="#{gconst['pattern.market.rate']}" locale="en_US"/>
															 </h:outputText>
															 <h:outputText value="%"/>
														</p:column>
														<p:column headerText="#{gmsgs['market.fact.price']}" styleClass="content-right">
															 <h:outputText value="#{marketFact.marketPrice}" />
														</p:column>
														<p:column headerText="#{gmsgs['market.fact.quantity.initial']}" styleClass="content-right">
															 <h:outputText value="#{marketFact.originalBlockBalance}">
															 	<f:convertNumber pattern="#{gconst['conv.number.pattern.share.quantity']}" locale="en_US"/>
															 </h:outputText>
														</p:column>
														<p:column headerText="#{gmsgs['market.fact.quantity.current']}" styleClass="content-right">
															 <h:outputText value="#{marketFact.actualBlockBalance}">
															 	<f:convertNumber pattern="#{gconst['conv.number.pattern.share.quantity']}" locale="en_US"/>
															 </h:outputText>
														</p:column>
													</p:dataTable>
												</td>
											</tr>
										</ui:remove>
									</table>	
								</p:tab>
							</p:accordionPanel>
							</p:fieldset>
							<p:fieldset legend="#{msgs['lbl.affectation.view.balances']}" rendered="#{requestAffectationMgmBean.flagIssuerBlock}">
							<p:accordionPanel var="blockOperation" value="#{requestAffectationMgmBean.requestAffecDetaTO.lstBlockOperationTO}" activeIndex="0,1,2,3,4,5">
								<p:tab title="#{msgs['lbl.affectation.view.balances']}">
									<table width="100%">
										<tr>
											<td width="18%">
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockNumber']}"/></b>
											</td>
											<td width="32%">
												<p:inputText value="#{blockOperation.operationNumber}" styleClass="content-right" disabled="true" size="38"/>
											</td>
											<td width="21%">
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockState']}"/></b>
											</td>										
											<td width="30%">
												<p:inputText value="#{blockOperation.stateAffectation}" disabled="true" size="22"/>
											</td>
										</tr>
										<tr>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.blockLevel']}"/></b>
											</td>										
											<td>
												<p:inputText disabled="true" value="#{blockOperation.levelAffectation}" size="38"/>
											</td>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.accountNumber']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.accountNumber}" styleClass="content-right" disabled="true" size="22"/>
											</td>
										</tr>
										<tr>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<h:outputFormat value="#{blockOperation.holderDescription}" escape="false"/>											
										</td>
										</tr>
										<tr>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.actualQuantity']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.actualAmount}" styleClass="content-right" disabled="true" size="38">
													<f:convertNumber pattern="###,###,##0" locale="en_US"/>
												</p:inputText>
											</td>
											<td>
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.originalQuantity']}"/></b>
											</td>										
											<td>
												<p:inputText value="#{blockOperation.amount}" styleClass="content-right" disabled="true" size="22">
													<f:convertNumber pattern="###,###,##0" locale="en_US"/>
												</p:inputText>
											</td>																			
										</tr>
										<tr>
											<td> 
												<b><h:outputText value="#{gmsgs['security.lbl.code']}"/></b>
											</td>										
											<td colspan="3" width="100%">
												<h:panelGrid columns="5">
												<p:inputText disabled="true" value="#{blockOperation.securityCodePk}" size="15"/>
												<p:commandButton value="..." disabled="true"/>
												<h:outputText value="#{blockOperation.isinDescription}"/>
												<p:spacer width="10"/>
												<ark:securities-help name="SecurityMCNHelpAux" id="idSecurityMCNHelpAux" securityCode="#{blockOperation.securityCodePk}"/>
												</h:panelGrid>
											</td>
										</tr>
										<tr>
											<td> 
												<b><h:outputText value="#{msgs['lbl.affectation.view.blockOperation.isin.benefits']}"/></b>
											</td>										
											<td colspan="3">										
											<ui:repeat var="paraTabBene" value="#{blockOperation.lstBenefits}">
												<p:selectBooleanCheckbox disabled="true" value="#{paraTabBene.parameterName != null}" 
													itemLabel="#{paraTabBene.parameterName}"/>
												<p:spacer width="10"/> 
	          								</ui:repeat>
	          								<h:outputText value="#{msgs['msg.affectation.blockOperation.no.benefits']}" rendered="#{empty blockOperation.lstBenefits}" styleClass="required-field"/>
											</td>										
										</tr>
										<tr>
											<td>
												<h:outputText value="#{gmsgs['market.fact']}" />
											</td>
											<td colspan="2"> 
												<p:dataTable value="#{blockOperation.marketFactOperationList}" var="marketFact">
													<p:column headerText="#{gmsgs['market.fact.date']}" styleClass="content-center">
														 <h:outputText value="#{marketFact.marketDate}">
														 	<f:convertDateTime pattern="dd/MM/yyyy"/>
														 </h:outputText>
													</p:column>
													<p:column headerText="#{gmsgs['market.fact.rate']}" styleClass="content-right"
															  rendered="#{blockOperation.instrumentTypeCode eq instrumentType.FIXED_INCOME.code}">
														 <h:outputText value="#{marketFact.marketRate}">
														 	<f:convertNumber pattern="#{gconst['pattern.market.rate']}" locale="en_US"/>
														 </h:outputText>
														 <h:outputText value="%"/>
													</p:column>
													<p:column headerText="#{gmsgs['market.fact.price']}" styleClass="content-right">
														 <h:outputText value="#{marketFact.marketPrice}" />
													</p:column>
													<p:column headerText="#{gmsgs['market.fact.quantity.initial']}" styleClass="content-right">
														 <h:outputText value="#{marketFact.originalBlockBalance}">
														 	<f:convertNumber pattern="#{gconst['conv.number.pattern.share.quantity']}" locale="en_US"/>
														 </h:outputText>
													</p:column>
													<p:column headerText="#{gmsgs['market.fact.quantity.current']}" styleClass="content-right">
														 <h:outputText value="#{marketFact.actualBlockBalance}">
														 	<f:convertNumber pattern="#{gconst['conv.number.pattern.share.quantity']}" locale="en_US"/>
														 </h:outputText>
													</p:column>
												</p:dataTable>
											</td>
										</tr>
									</table>	
								</p:tab>
							</p:accordionPanel>
							</p:fieldset>
						</td>
					</tr>									
				</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p:commandButton value="#{gmsgs['btn.approve']}" rendered="#{requestAffectationMgmBean.blApprove}" update="outPnlDialogs" icon="ui-approve" 
					actionListener="#{requestAffectationMgmBean.beforeAction}" />
				<p:commandButton value="#{gmsgs['btn.annulate']}" rendered="#{requestAffectationMgmBean.blAnnul}" update="outPnlDialogs :opnlGenericDialogs :opnlDialogs" 
					icon="ui-anulate" actionListener="#{requestAffectationMgmBean.beforeShowReject}" />	
				<p:commandButton value="#{gmsgs['btn.confirm']}" rendered="#{requestAffectationMgmBean.blConfirm}" update="outPnlDialogs" icon="ui-confirm" 
					actionListener="#{requestAffectationMgmBean.beforeAction}" />
				<p:commandButton value="#{gmsgs['btn.reject']}" rendered="#{requestAffectationMgmBean.blReject}" update="outPnlDialogs :opnlGenericDialogs :opnlDialogs" 
					icon="ui-reject" actionListener="#{requestAffectationMgmBean.beforeShowReject}" />
				<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchRequest" process="@this" ajax="false"/>
			</td>
		</tr>
	</table>
		
		<!-- Dialog -->
		<p:outputPanel id="outPnlDialogs">
		<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs @form :opnlGenericDialogs :opnlEndTransaction"
				actionListener="#{requestAffectationMgmBean.doAction}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"
					actionListener="#{requestAffectationMgmBean.hideDialogs}"/>
		</p:confirmDialog>	
		
		<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" severity="info"> 
		<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" action="searchRequest" value="#{gmsgs['btn.accept']}" 
						 actionListener="#{requestAffectationMgmBean.hideDialogs}"/>
		</p:confirmDialog>			
		</p:outputPanel>
		<!--  -->	
	</h:form>
	<h:form id="frmMotive">
			<p:dialog id="dlgMotive" modal="true" resizable="false" closable="false" position="center" header="#{msgs['lbl.motive.reject']}"  widgetVar="dlgWdgtMotive" >
				<p:outputPanel id="opnlMotive">
					<table>
						<tr>
							<td width="100px">
								<h:outputText value="#{msgs['lbl.motive']} (*)"  styleClass="required-field" /> 
							</td>
							<td>
								<h:panelGrid columns="2" id="motiveRejectGrid">
								<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}" value="#{requestAffectationMgmBean.requestAffectationTO.rejectMotive}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
									<f:selectItems value="#{requestAffectationMgmBean.searchRequestAffectationTO.lstMotiveReject}" var="mot" 
												   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
									<p:ajax process="@this" update="opnlMotive gridButtons" event="change"/>
									<f:validator validatorId="selectOneRequiredValidator" />
								</p:selectOneMenu>
								<p:message for="cboMotive" id="mssge_1" display="icon"></p:message>
								</h:panelGrid>
							</td>
							<td width="50px" align="right">
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="txtOtherMotiveReject" styleClass="required-field" 
											  rendered="#{motiveReject.OTHER.code == requestAffectationMgmBean.requestAffectationTO.rejectMotive}"/>
							</td>
							<td>
								<h:panelGrid columns="2" id="otherMotiveGrid">
								<p:inputText size="60" maxlength="60" value="#{requestAffectationMgmBean.requestAffectationTO.rejectMotiveOther}" id="txtOtherMotive"
											  rendered="#{motiveReject.OTHER.code == requestAffectationMgmBean.requestAffectationTO.rejectMotive}"
											  label="#{msgs['lbl.other.motive']}">
									<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									<p:ajax event="blur" process="@this" update="gridButtons"/>
									<f:validator validatorId="inputRequiredValidator"/>
								</p:inputText>
								<p:message for="txtOtherMotive" id="mssge_2" display="icon"/>
								</h:panelGrid>
							</td>
							<td width="50px" align="right">
								<p:message for="txtOtherMotive" display="icon"/>
							</td>
						</tr>
					</table>
				</p:outputPanel>
				<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
					<p:outputPanel>
						<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" 
										 process="@this,cboMotive,txtOtherMotive" update="motiveRejectGrid otherMotiveGrid" 
										 actionListener="#{requestAffectationMgmBean.beforeAction}"/>
						<p:spacer width="1px" />
		       			<p:commandButton value="#{gmsgs['btn.back']}" type="button" icon="fa fa-undo" onclick="PF('dlgWdgtMotive').hide()"/>
					</p:outputPanel>
				</h:panelGrid>
			</p:dialog>
		  </h:form>
		  
		  
		  
		  
		  <p:outputPanel id="opnlDialogs">
		  	<h:form id="frmMotiveReject">
				<p:dialog id="dialogMotiveReject" resizable="false" draggable="false"
					modal="true" rendered="false" closable="false" visible="true"
					severity="alert" widgetVar="dlgMotive"
					header="#{msgs['lbl.motive.reject']}">
					<p:outputPanel id="opnlMotiveReject">
						<table>
							<tr>
								<td width="100px"><h:outputText
										value="#{msgs['lbl.motive']}" styleClass="required-field" />
								</td>
								<td><h:panelGrid columns="2">
										<p:selectOneMenu id="cboMotiveReject" style="width:258px;"
											widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
											value="#{requestAffectationMgmBean.requestAffectationTO.rejectMotive}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{requestAffectationMgmBean.searchRequestAffectationTO.lstMotiveReject}"
												var="mot" itemValue="#{mot.parameterTablePk}"
												itemLabel="#{mot.description}" />
											<p:ajax process="@this" update="opnlMotiveReject" event="change" />
											<f:validator validatorId="selectOneRequiredValidator" />
										</p:selectOneMenu>
										<p:message for="cboMotiveReject" display="icon" />
									</h:panelGrid></td>
							</tr>
							<tr>							
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)" styleClass="required-field"
										id="idTxtMotive"
										rendered="#{motiveReject.OTHER.code == requestAffectationMgmBean.requestAffectationTO.rejectMotive}" />
								</td>
								<td><h:panelGrid columns="2">
										<p:inputText size="60" label="#{msgs['lbl.other.motive']}"
											rendered="#{motiveReject.OTHER.code == requestAffectationMgmBean.requestAffectationTO.rejectMotive}"
											maxlength="100"
											value="#{requestAffectationMgmBean.requestAffectationTO.rejectMotiveOther}"
											id="txtOtherMotive">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
											<p:ajax global="false" update="txtOtherMotive mggOtherMotive" event="blur" />
											<f:validator validatorId="inputRequiredValidator"/>
										</p:inputText>
										<p:message for="txtOtherMotive" display="icon" id="mggOtherMotive"/>
									</h:panelGrid></td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}"
								icon="fa fa-save"
								actionListener="#{requestAffectationMgmBean.beforeAction}"
								update=":opnlDialogs :opnlGenericDialogs :frmBlockOperation:outPnlDialogs" />
							<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack"
								icon="fa fa-undo" type="button"
								onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotiveReject:cmbProcessBackMotive')" />
							<p:commandButton id="cmbProcessBackMotive"
								value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
								actionListener="#{requestAffectationMgmBean.closeDialogRejectMotive}"
								process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
				
				
				<p:confirmDialog id="cnfBackMotive"
					message="#{gmsgs['message.back']}" severity="alert"
					header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
						process="@this" update=":opnlDialogs"						
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
			</h:form>		  
		  </p:outputPanel>	
		  
		  
		  	
	</ui:define>
</ui:composition>
</html>
