<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkButtons="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" >
	<ui:composition template="/template/default.xhtml">
		<ui:define name="body">		
			<h:outputText value="#{msgs['verifications.cats.query.title']}"  styleClass="title-page"/>
			<script type="text/javascript">  
				function start() {  
				    PF('statusDialog').show();  
				}				  
				function stop() {  
				    PF('statusDialog').hide();  
				}  
        	</script>
			<p:outputPanel>
				<h:form id="frmVerificationCat">
					<table width="100%">
						<tr>
							<td>
								<p:fieldset id="fldsFilters" legend="#{msgs['lbl.criteria.search']}">
									<p:outputPanel id="pnlSearchAcreditation">
										<table width="100%"> 
											<tr> 
												<td>
													<h:outputText value="#{msgs['verifications.cats.query.securitycode']} (*)" styleClass="required-field"  />
												</td>
												<td>
													<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
														<p:inputText  id="inputSecurityCodeCat" value="#{verificationCatBean.acccreditationOperationTO.securityCodeCat}" 
															maxlength="100" size="40" label="#{msgs['verifications.cats.query.securitycode']}" >
															<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
															<p:ajax event="blur" update="@this msginputSecurityCodeCat" />
														</p:inputText>
														<p:message display="icon" for="inputSecurityCodeCat" id="msginputSecurityCodeCat"/>
													</h:panelGrid>
													
												</td>
												<td></td>
												<td></td>
											</tr>										
											<tr>
												<td colspan="4" align="center">
													<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
												 		update="pnlSearchAcreditation outPanelResult msginputSecurityCodeCat :opnlGenericDialogs"
												 		actionListener="#{verificationCatBean.searchAccreditationOperation}"/>
													<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
														update="pnlSearchAcreditation outPanelResult" 
												 		actionListener="#{verificationCatBean.cleanSearchAccreditationOperation}" />
												</td>
											</tr>											
										</table>
									</p:outputPanel>
								</p:fieldset>
							</td>
						</tr>												
						
						<tr>
							<td width="100%">
								<p:outputPanel id="outPanelResult">
									<p:fieldset legend="#{msgs['lbl.results']}" 
										rendered="#{not empty verificationCatBean.accreditationOperationDataModel}" >
										<p:dataTable id="dtbPlacement" var="value" value="#{verificationCatBean.accreditationOperationDataModel}"
											paginator="false" rows="10" rendered="#{verificationCatBean.accreditationOperationDataModel.rowCount > 0}"
											paginatorTemplate="#{msgs['dtb.paginator.template']}"
											rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="Página ({currentPage} de {totalPages})"
											rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">																									
																																									
											<p:column styleClass="content-center" sortBy="#{value.accreditationOperation.certificateNumber}" 
												headerText="#{msgs['lbl.accreditation.certificate.catcertificate']}" >												
												<h:outputText value="#{value.accreditationOperation.certificateNumber}" />
											</p:column>
											
											<p:column styleClass="content-center" sortBy="#{value.holder.documentNumber}" 
												headerText="#{msgs['adm.holderaccount.holder.documentnumber']}" >												
												<h:outputText value="#{value.holder.documentNumber}" />
											</p:column>
											
											<p:column styleClass="content-center" sortBy="#{value.holderAccount.accountNumber}" 
												headerText="#{msgs['accnt.lbl.account']}" >												
												<h:outputText value="#{value.holderAccount.accountNumber}" />
											</p:column>
											
											<p:column headerText="#{msgs['lbl.description.holder']}" sortBy="#{value.holderAccount.accountNumber}">
												<p:outputPanel>
													<h:outputText value="#{value.holderAccount.holderAccountDetailDescription}" escape="false" />
												</p:outputPanel>
											</p:column>											
											
											<p:column styleClass="content-center" sortBy="#{value.security.idSecurityCodePk}" 
												headerText="#{msgs['tvd.tab.securityCode']}" >												
												<h:outputText value="#{value.security.idSecurityCodePk}" />
											</p:column>																						
											
											<p:column styleClass="content-center" sortBy="#{value.accreditationOperation.issuanceDate}" 
												headerText="#{msgs['lbl.accreditation.certificate.emissionDate']}" >												
												<h:outputText value="#{value.accreditationOperation.issuanceDate}">
													<f:convertDateTime pattern="#{cons.dateFormat}" />
												</h:outputText>
											</p:column>
											
											<p:column styleClass="content-center" sortBy="#{value.accreditationOperation.realExpirationDate}" 
												headerText="#{msgs['lbl.accreditation.certificate.realExpirationDate']}" >												
												<h:outputText value="#{value.accreditationOperation.realExpirationDate}">
													<f:convertDateTime pattern="#{cons.dateFormat}" />
												</h:outputText>
											</p:column>
											
											<p:column styleClass="content-center" headerText="#{msgs['lbl.accreditation.certificate.constance']}" >												
												<p:commandLink style="color:blue;" ajax="false"
															onclick="PrimeFaces.monitorDownload(start, stop)"
															value="#{msgs['lbl.ownershipexchange.header.doc.view']}">
													<p:fileDownload value="#{verificationCatBean.getAccreditationCertification(value.accreditationOperation.idAccreditationOperationPk)}" />
												</p:commandLink>
											</p:column>
																				
											<f:facet name="footer">
									            <h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
									            	<f:param value="#{verificationCatBean.accreditationOperationDataModel.rowCount}"/>
									            </h:outputFormat>
									        </f:facet> 
									        
										</p:dataTable>
										
										<h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{ 1 > verificationCatBean.accreditationOperationDataModel.rowCount}"/>
									</p:fieldset>
								</p:outputPanel>
							</td>
						</tr>
						
					</table>
				</h:form>
			</p:outputPanel>											
		</ui:define>
	</ui:composition>
</html>