<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">

<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
		$(window).load(function(){
		setInitialFormState('#frmSensitiveFieldAudit'); //con michi 
		});
	</script>
	<h:outputText value="#{consultSensitiveFieldAuditBean.ruleSelectedDisable ? msgs['audit.msg.auditar.details'] :msgs['audit.msg.auditar']}" styleClass="title-page" 
	     id="idOtxtDetails"/>
	<h:form id="frmSensitiveFieldAudit">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset id="pnlAdministrar" legend="#{consultSensitiveFieldAuditBean.ruleSelectedDisable ? msgs['audit.msg.auditar.detailrule'] : msgs['lbl.audit.add']}">
						<table width="100%">
							<tr>
								<td><h:outputText value="#{msgs['audit.lbl.sistema']} (*)" styleClass="required-field" id="idOtxtSystem"/></td>
								<td>
									<h:panelGrid columns="2">
									<p:selectOneMenu id="cboSystem"  disabled="#{consultSensitiveFieldAuditBean.ruleSelectedDisable}" label="#{msgs['audit.lbl.sistema']}" value="#{consultSensitiveFieldAuditBean.systemSelected}" 
									required="true" requiredMessage="#{msgs['audit.msg.elcampo']}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" id="idCboItemSystem"/>
										<f:selectItems value="#{consultSensitiveFieldAuditBean.lstSystems}" var="system"
														itemLabel="#{system.name}" itemValue="#{system.idSystemPk}" id="idCboItemsSytem"/>
										<p:ajax process="cboSystem" update="pnlTableList pnlButtonsFooter idMsgSystem" listener="#{consultSensitiveFieldAuditBean.addEnable}"/>
										<f:validator validatorId="selectOneRequiredValidator" />
									</p:selectOneMenu>
									<p:message for="cboSystem" display="icon" id="idMsgSystem"></p:message>
									</h:panelGrid>
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['audit.actiontable.ruleName']} (*)" styleClass="required-field" id="idOtxtRuleName"/></td>
								<td>
									<h:panelGrid columns="2">
										<p:inputText id="txtRuleName" value="#{consultSensitiveFieldAuditBean.actionTable.ruleName}" maxlength="150"
										required="true" requiredMessage="#{msgs['audit.msg.elnombre']}" disabled="#{consultSensitiveFieldAuditBean.ruleSelectedDisable}" autocomplete="off">
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" ></p:keyFilter>
										</p:inputText>
										<p:message id="idmsgrule" for="txtRuleName" display="icon"></p:message>
									</h:panelGrid>
								</td>
								<td>
									<h:outputText value="#{msgs['audit.lbl.date.register']}"  id="idOtxtRegister"/>
								</td>
								<td>
									<p:calendar readonly="#{facesContext.renderResponse}" value="#{consultSensitiveFieldAuditBean.actionTable.registryDate}" disabled="true" showOn="button" pattern="#{msgs['dateTimeSecondsFormat']}" maxlength="10" id="idCalRegisterDate">
									<p:ajax process="@this"></p:ajax>
									</p:calendar>
								</td>
								
							</tr>
						</table>
					</p:fieldset> 
				</td>
			</tr>			
			<tr>
			<td align="center">
					<p:outputPanel id="pnlTableList">
					<p:fieldset rendered="#{not empty consultSensitiveFieldAuditBean.lstTables}" id="idFldsTableList">
						<table>
							<tr>
								<td width="40%" valign="top">
								 <p:dataTable id="tablaCampoDat" value="#{consultSensitiveFieldAuditBean.tableDataModel}"
																var="table" selectionMode="single" selection="#{consultSensitiveFieldAuditBean.tableDataBase}"
																scrollable="true" scrollHeight="200">		
										<p:ajax event="rowSelect" update=":frmSensitiveFieldAudit:pnlPermissionsList" disabled="#{consultSensitiveFieldAuditBean.ruleSelectedDisable}" listener="#{consultSensitiveFieldAuditBean.onRowSelect}" />
										<p:column width="250" id="idClmSystmeTable"> 
											<f:facet name="header" style="width:250px">
												<h:outputText value="#{msgs['audit.msg.tablesistema']}" id="idOtxtTableNameHeader"/>
											</f:facet>
											<h:outputText value="#{table.tableName}" id="idOtxtTableNameValue"/>
										</p:column>
								 	</p:dataTable>
								</td>
								<td width="40%" valign="top">
										<p:outputPanel id="pnlPermissionsList">
												<p:dataTable id="dtPermissionsTable"  rendered="#{not empty consultSensitiveFieldAuditBean.lstFieldsTable}"
																value="#{consultSensitiveFieldAuditBean.dataModelTablaCampo}"
																var="tablaCampo" rows="25" paginatorPosition="top"
																selection="#{consultSensitiveFieldAuditBean.fieldsTableDataBase}"
																scrollable="true" scrollHeight="200">
																<p:column width="200" id="idClmFieldName">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['audit.lbl.column']}" id="idOtxtFieldNameHeader"/>
																	</f:facet>
																	<h:outputText value="#{tablaCampo.fieldName}" id="idOtxtFieldNameValue"/>
																</p:column>
																<p:column width="80" styleClass="content-center" id="idClmInsertable">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['audit.lbl.insertable']}" id="idOtxtInsertableHeader"/>
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{tablaCampo.insertable}" disabled="#{tablaCampo.constraint or consultSensitiveFieldAuditBean.ruleSelectedDisable or tablaCampo.disableInsertable}" id="idBchkInsertable">
																	</p:selectBooleanCheckbox>
																</p:column>
																<p:column width="80" styleClass="content-center" id="idClmUpdatable">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['audit.lbl.updatable']}" id="idOtxtUpdatable"/>
																	</f:facet>
																	<p:selectBooleanCheckbox value="#{tablaCampo.updatable}" disabled="#{tablaCampo.constraint or consultSensitiveFieldAuditBean.ruleSelectedDisable or tablaCampo.disableUpdatable}" id="idBchkUpdatale">
																	</p:selectBooleanCheckbox>
																</p:column>
															</p:dataTable>
															<p:panel id="export" style="text-align:right;border:0;" 
															rendered="#{not empty consultSensitiveFieldAuditBean.lstFieldsTable and not consultSensitiveFieldAuditBean.showSave}">
																<exp:exportDataTable title="Monitoreo de Campos Sensibles" pdf="true" xls="true" 
																target=":frmSensitiveFieldAudit:dtPermissionsTable" parameters="#{consultSensitiveFieldAuditBean.generateParametersExport()}"/>
															</p:panel>
															<p:outputPanel   rendered="#{not empty consultSensitiveFieldAuditBean.lstFieldsTable}">
																<h:outputLabel value="#{msgs['lbl.message.registry.ruler']}" style="font-weight:bold;"/>
															</p:outputPanel>
										</p:outputPanel>
								</td>			
							</tr>
						</table>
					</p:fieldset>
				</p:outputPanel>
				</td>
			</tr>
			<tr align="center">
				<td>
					<p:outputPanel id="pnlButtonsFooter">
							<p:fieldset rendered="#{consultSensitiveFieldAuditBean.addRule}" id="idFldsAddRule">
								<p:commandButton icon="fa fa-save"  value="#{msgs['btn.save']}" update=":opnlGenericDialogs pnlcnfnewrule @form" 
								actionListener="#{consultSensitiveFieldAuditBean.beforeAddNewRule}" process="@form" id="idCmdBtnSave"
								 rendered="#{consultSensitiveFieldAuditBean.showSave}"/>
								<p:commandButton icon="fa fa-trash" rendered="#{not consultSensitiveFieldAuditBean.ruleSelectedDisable}" value="#{msgs['btn.clear']}" update=":opnlGenericDialogs pnlcnfnewrule @form" actionListener="#{consultSensitiveFieldAuditBean.clearData}" process="@this" immediate="true" id="idCmdBtnClear"/>
								<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" id="idCmdBtnBank"
									type="button" rendered="#{!consultSensitiveFieldAuditBean.viewButton}"
									onclick="isModifiedFormForBack('#frmSensitiveFieldAudit','frmSensitiveFieldAudit:cmbProcessBack')"/>
							<p:commandButton id="cmbProcessBack" style="display:none" actionListener="#{consultSensitiveFieldAuditBean.clearTableData}"	
							value=""  icon="fa fa-undo" immediate="true"
							action="search" ajax="false"/>
							
							<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" rendered="#{consultSensitiveFieldAuditBean.viewButton}"
									action="search" ajax="false" process="@this" id="viewBtn" actionListener="#{consultSensitiveFieldAuditBean.clearTableData}"	></p:commandButton>		
							</p:fieldset>
					</p:outputPanel>
				</td>
			</tr>
		</table>
		
	    <p:outputPanel id="pnlcnfnewrule">
	    <p:confirmDialog id="cnfaddNewrule" message="#{bodyMessageView}" header="#{headerMessageView}" severity="info" closable="false" widgetVar="cnfwaddnewrule" rendered="false" visible="true" >
	    <p:commandButton id="cnfcmdsi" actionListener="#{consultSensitiveFieldAuditBean.addNewRule}" update=":opnlGenericDialogs" value="#{msgs['btn.yes']}" oncomplete="PF('cnfwaddnewrule').hide();" />
	    <p:commandButton id="cmbNocnfnewrule" 
	    						 value="#{msgs['btn.no']}" process="@this"
	    						 actionListener="#{consultSensitiveFieldAuditBean.hideDialogs}"
	    						 oncomplete="PF('cnfwaddnewrule').hide()"
	    						 />
	    </p:confirmDialog>
	    </p:outputPanel>
	</h:form>
	</ui:define>
</ui:composition>
</html>