<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">	

 <ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">	
		<h:form id="formExcepcion">
			
			<table width="100%">
				<tr> 
					<td class="title-page"><h:outputText id="idOtxtUserActivitiesTitle"
							value="#{msgs['lbl.activitie.title']}" 							
							styleClass="title-page" /></td>
				</tr>
				<tr>
					<td><p:panel header="#{msgs['lbl.activitie.title']}" id="pnlPrincipal" 
							style="margin-bottom:10px;">
							<table  width="100%" border="0">
								<tr>
									<td width="25%"><h:outputText value="#{msgs['user.col.code']}"  id="idOtxtLogingUserLbl"/></td>
									<td width="75%"><h:outputText value="#{monitoringUserAuditBean.user.ploginUser}" id="idOtxtLoginUser"/></td>  
								</tr>    
								<tr>
									<td width="25%"><h:outputText value="#{msgs['user.col.name.complete']}"  id="idOtxtFullNameLbl"/></td> 
									<td width="75%"><h:outputText value="#{monitoringUserAuditBean.user.pfullName} #{monitoringUserAuditBean.user.pfirtsLastName} #{monitoringUserAuditBean.user.psecondLastName}" id="idOtxtFullName"/></td>  
								</tr> 
								<tr> 
									<td><h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUserTypeLbl"/></td> 
									<td><h:outputText value="#{monitoringUserAuditBean.user.puserType}" id="idOtxtUserType"/></td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['user.lbl.institution.type']}" id="idOtxtInstitutionTypeLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.pinstitutionType}" id="idOtxtInstitutionType"/></td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['usuario.lbl.institucion']}" id="idOtxtInstitutionNameLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.pinstitutionName}" id="idOtxtInstitutionName"/></td>
								</tr> 
								<tr>
									<td><h:outputText value="#{msgs['usuario.lbl.email.id']}" id="idOtxtEmailLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.pidEmail}" id="idOtxtEmail" /></td>
								</tr> 									 	 
								<tr>
									<td><h:outputText value="#{msgs['lbl.monitoring.esta.conn']}" id="idOtxtStateLbl"/></td>
									<td>
										<p:graphicImage id="imgEstado" style="cursor:pointer;" library="img" name="/icons/#{monitoringUserAuditBean.user.stateIcon}"/>														
										<p:tooltip for="imgEstado" value="#{monitoringUserAuditBean.user.stateDescription}" id="idTtipState"/>  
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['usuario.lbl.fechaHoraUltimaConexion']}" id="idOtxtLastLoginDateLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.plastLoginDate}" id="idOtxtLastLoginDate">
									    <f:convertDateTime pattern="#{msgs.dateTimeSecondsFormat}"/></h:outputText></td>
								</tr> 	
								<tr>
									<td><br></br></td>
								</tr>
								<p:outputPanel rendered="#{monitoringUserAuditBean.user.pconnectionStatus != 0 }" id="idOpnlConnectionStatus">
								<tr>
									<td colspan="2"><h:outputText value="#{msgs['lbl.useractivity.title']}" style="color:red" id="idOtxtUserActivityLbl" /><p:separator></p:separator></td>  
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['useractivies.lbl.iniciosesion']}" id="idOtxtSessionTimeLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.sessionTime}" id="idOtxtSessionTime"/></td> 
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['system.lbl.system']}" id="idOtxtSystemNameLbl"/></td>
									<td><h:outputText value="#{monitoringUserAuditBean.user.systemName}" id="idOtxtSystemName"/></td> 
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['useractivies.lbl.opcionactual']}"  id="idOtxtCatalogNameLbl"/></td> 
									<td>
										<h:outputText value="#{monitoringUserAuditBean.user.catalogName}" id="idOtxtCatalogName"/>			
									</td>  
								</tr> 		
								</p:outputPanel>
								<tr align="center">
									<td colspan="2">
										<br />
										<p:commandButton icon="ui-lock" value="#{msgs['btn.useractivit.reinicpwd']}" rendered="#{monitoringUserAuditBean.user.istate != 32}" oncomplete="PF('cnfwAdministrarReset').show()" id="idCmdBtnLock"/> 							
										<p:commandButton icon="ui-cancel" value="#{msgs['btn.useractivit.cerrsession']}"  id="idCmdBtnCancel"
														rendered="#{monitoringUserAuditBean.user.pconnectionStatus != 0 and monitoringUserAuditBean.user.pconnectionStatus != 30 and monitoringUserAuditBean.user.pconnectionStatus !=29}"
														onclick="PF('cnfwAdministrarUsu').show();" global="false"/>		
										<p:commandButton icon="fa fa-undo"  value="#{msgs['btn.back']}" id="idBtnBack" action="userActivitiesBack"
														actionListener="#{monitoringUserAuditBean.selectedValeus()}"/>				
									</td>
								</tr>					 				 							 								 							
								<tr>
									<td colspan="2"><p:separator rendered="#{monitoringUserAuditBean.user.pconnectionStatus != 0}" id="idSepConnectionStatus"></p:separator></td> 
								</tr>
								 
							</table>
						</p:panel></td>
				</tr>
				<tr>
									<td colspan="2">
										<p:panel header="#{msgs['lbl.activitie.paneltitle']}" id="pnlBusquedad"> 
											<table  width="100%">   												
												<tr>
													<td align="right">
														<h:outputText value="#{msgs['schedule.exception.col.initial.date']} (*)" id="idOtxtStartDate"/>
													</td>
													<td>
														
														<p:calendar id="idtxtFecIni" showOn="button" required="true" requiredMessage="#{msgs['lbl.required.initialdate']}"
												value="#{monitoringUserAuditBean.initialDate}" readonly="#{facesContext.renderResponse}"
												pattern="#{msgs['dateFormat']}" maxlength="10"
												maxdate="#{monitoringUserAuditBean.finalDate}" style="width:100px" navigator="true">
												<p:ajax event="dateSelect" update="idtxtFecFin" process="@this" />
												<p:ajax event="valueChange" update="idtxtFecIni,idtxtFecFin" process="@this"></p:ajax>
											</p:calendar>
											</td>
											<td>			<p:message id="msgDiffTime" for="idtxtFecIni"  display="icon"/>	 	
														
													</td>
													<td width="30%"></td>
													<td align="right">  																				
														<h:outputText value="#{msgs['schedule.exception.col.final.daten']} (*)" id="idOtxtEndDate"/>
													</td>
													<td align="left" >
														
														<p:calendar id="idtxtFecFin" readonly="#{facesContext.renderResponse}" showOn="button" required="true" requiredMessage="#{msgs['lbl.required.finaldate']}"
												value="#{monitoringUserAuditBean.finalDate}"
												maxdate="#{monitoringUserAuditBean.maxDate}"
												mindate="#{monitoringUserAuditBean.initialDate}"
												pattern="#{msgs['dateFormat']}" maxlength="10"
												style="width:100px" navigator="true">
												<p:ajax event="dateSelect" update="idtxtFecFin idtxtFecIni" process="@this"/>
												<p:ajax event="valueChange" update="idtxtFecIni,idtxtFecFin" process="@this"></p:ajax>
											</p:calendar>
													</td>
													<td>			<p:message  for="idtxtFecFin"  display="icon" id="idMsgEndDate"/>	 	
														
													</td>
												</tr>
												<tr>
													<td colspan="7" align="center"> 
														<p:commandButton icon="fa fa-search" value="#{msgs['btn.buscar']}"   id="timeValid" actionListener="#{monitoringUserAuditBean.listUserActivities}" process="@form" update="@form :opnlGenericDialogs"/>
														<p:commandButton icon="fa fa-trash" immediate="true" value="#{msgs['btn.limpiar']}" actionListener="#{monitoringUserAuditBean.clearLstUserSessions}" process="@this" update="@form pnlActivities" id="idCmdBtnClear"/>
														
													</td>
												</tr>
													
											</table>
										</p:panel>
									</td>
								</tr>
								<tr>
									<td width="100%" colspan="5">
										<p:outputPanel id="pnlActivities">
														<p:panel rendered="#{monitoringUserAuditBean.lstUserSessions  != null}" id="idPnlUserSession">
															<p:dataTable id="sessionUsuario" rendered="#{monitoringUserAuditBean.lstUserSessions.rowCount>=1}"
																value="#{monitoringUserAuditBean.lstUserSessions}"
																var="use" paginator="true" rows="15" paginatorPosition="top"
																currentPageReportTemplate="Pagina {currentPage} de {totalPages}"
																paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; Filas por pagina: {RowsPerPageDropdown}" 
																rowsPerPageTemplate="5,10,15">
																<p:column styleClass="content-center" id="idClmSession">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.session']}"  id="idOtxtSessionHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.date}" id="idOtxtDate">
																		<f:convertDateTime pattern="d/M/yyyy"/>
																	</h:outputText>
																</p:column>
																<p:column styleClass="content-center" id="idClmAudit">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.audit']}" id="idOtxtAuditHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.plastModifyDate}" id="idOtxtAudit">
																		<f:convertDateTime pattern="HH:mm:ss"/>
																	</h:outputText>
																</p:column>
																<p:column id="idClmSystem">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.sistema']}" id="idOtxtSystemHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.system}" id="idOtxtSystem"/>
																</p:column>
																<p:column id="idClmProcessName">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.procesomego.negotio']}"  id="idOtxtProcessNameHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.option}" id="idOtxtProcessName"/>
																</p:column>
																<p:column id="idClmOption">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.opcion']}" id="idOtxtOptionHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.businessProcess}" id="idOtxtOption"/>
																</p:column>
																<p:column styleClass="content-center" id="idClmInitialTime">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.horainci']}" id="idOtxtInitialTimeHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.initialTime}" id="idOtxtInitialTime">
																		<f:convertDateTime pattern="HH:mm:ss"/>
																	</h:outputText>
																</p:column>
																<p:column styleClass="content-center" id="idClmFinalTime">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.horafin']}" id="idOtxtFinalTimeHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.finalTime}" id="idOtxtFinalTime">
																		<f:convertDateTime pattern="HH:mm:ss"/>
																	</h:outputText>
																</p:column>
																<p:column styleClass="content-center" id="idClmIpLocation">
																	<f:facet name="header">
																		<h:outputText value="#{msgs['tbl.useractivity.col.ipubicaci']}" id="idOtxtIpLocationHeader"/>
																	</f:facet>
																	<h:outputText value="#{use.ipuUicacion}" id="idOtxtIpLocation"/>
																</p:column>
																<f:facet name="footer">  
																<h:outputFormat value="#{msgs['tbl.footer.cantidad.registros']}">
														            <f:param value="#{monitoringUserAuditBean.lstUserSessions.rowCount}" id="idParamRegistros"/>
														           </h:outputFormat> 
														        </f:facet> 
															</p:dataTable>
															<p:panel id="export" style="text-align:right;border:0;">
																<exp:exportDataTable title="Listado de Actividades de Usuarios" pdf="true" xls="true" 
																target=":formExcepcion:sessionUsuario" parameters="#{monitoringUserAuditBean.generateParametersExport()}"/>
															</p:panel>
															<h:outputLabel value="#{msgs['lbl.search.no.result']}"  id="idOlblRowCount"
								rendered="#{!(monitoringUserAuditBean.lstUserSessions.rowCount >= 1)}"
								style="font-weight:bold;"/>
														</p:panel>
														</p:outputPanel>
													</td>
												</tr>	
			</table>
			
			<p:confirmDialog closable="false" header="#{msgs['lbl.header.alert.success']}"
					 		 width="300" widgetVar="clientSessionCnfm" id="idCnfDialogClientSession">
					<f:facet name="message">
						<h:outputText value="#{msgs['lbl.audit.client.removed']}" escape="false"/>
					</f:facet>
					<p:commandButton value="OK" action="userActivitiesBack" id="idCmdBtnOk"
									actionListener="#{monitoringUserAuditBean.listSearchResult}" 
									oncomplete="PF('clientSessionCnfm').hide();">
					</p:commandButton>
			</p:confirmDialog>	
			
			<p:confirmDialog id="cnfAdministrarUsu" 
			    				 header="#{msgs['lbl.header.alert.confirm']}" 
			                	 closable="false"
			                	 severity="alert" widgetVar="cnfwAdministrarUsu">  
			           <f:facet name="message">
						<h:outputFormat
							value="#{msgs['lbl.confirm.retirar']}">
							<f:param value="#{monitoringUserAuditBean.user.ploginUser}" id="idParamCloseSession"/>
						</h:outputFormat>
					</f:facet>
					       
			        <p:commandButton id="confirmDes" 
			        				 value="#{msgs['btn.yes']}" oncomplete="PF('cnfwAdministrarUsu').hide();PF('clientSessionCnfm').show();"
			        				 actionListener="#{monitoringUserAuditBean.closesession}"
			        				 > 
			        </p:commandButton>  
			        <p:commandButton value="#{msgs['btn.no']}" onclick="PF('cnfwAdministrarUsu').hide()" type="button" id="idCmdBtnNo"/>
			   </p:confirmDialog>
		
			   <p:confirmDialog header="#{msgs['lbl.header.alert.alert']}" widgetVar="cnfwAdministrarResetU" closable="false" id="idCnfDialogPassword">
			   		<f:facet name="message">
						<h:outputFormat
							value="#{msgs['user.msg.reset.password.success']}">
							<f:param value="#{monitoringUserAuditBean.user.ploginUser}" id="idParamUser"/>
						</h:outputFormat>
					</f:facet>
			   		<p:commandButton value="Ok" action="main" onclick="PF('cnfwAdministrarResetU').hide()" id="idCmdBtnOkPassword"></p:commandButton> 
			   </p:confirmDialog>
			   
			   
			   <p:confirmDialog id="cnfAdministrarReset"  
			                	 header="#{msgs['lbl.header.alert.confirm']}" 
			                	 closable="false"
			                	 severity="alert" widgetVar="cnfwAdministrarReset">  
				<f:facet name="message">
						<h:outputFormat
							value="#{msgs['user.confirm.reset.password']}">
							<f:param value="#{monitoringUserAuditBean.user.ploginUser}" id="idParamResetPwd"/>
						</h:outputFormat>
					</f:facet>	
					                  
			        <p:commandButton id="confirmResDes" 
			        				 value="#{msgs['btn.yes']}"
			        				 actionListener="#{monitoringUserAuditBean.resetpassword}"
			        				 oncomplete="PF('cnfwAdministrarReset').hide();PF('cnfwAdministrarResetU').show()"> 
			        </p:commandButton>  
			        <p:commandButton value="#{msgs['btn.no']}" onclick="PF('cnfwAdministrarReset').hide()" type="button" id="idCmdBtnNoCnf"/>
			   </p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>