<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
 	
		<h:outputText value="#{msgs['opt.adm.user.title.detail']}" id="idOtxtUserDetails"
					  styleClass="title-page"/>


			  <h:form id="frmUserAdministration">
		  		<table width="100%"> 
					<tr> 
						<td> 
							<p:fieldset legend="#{msgs['user.pnl.data']}" id="idPnlData"> 
							<table class="table-fields"> 
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.id']}"  id="idOtxtUserId"
													  />
									</td>
									<td> 
										<p:inputText id="txtUsuario" 
													 value="#{monitoringUserAuditBean.user.pidUserPk}" 
													 disabled="true"/>
									</td>
									<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.code']}"  id="idOtxtUserCode"/>
					  				</td>
					  				<td> 
					  					<h:panelGrid columns="2">
					  					<p:inputText id="txtLoginUser"
					  								value="#{monitoringUserAuditBean.user.ploginUser}"
					  								 disabled="true"
					  								 />
		  								<p:message for="txtLoginUser" display="icon" id="idMsgLoginUser"/>
		  								</h:panelGrid>
					  				</td>
								</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.type']}" id="idOtxtUserTypeLbl"/>
				        			</td>
				        			<td> 
										<h:outputText value="#{monitoringUserAuditBean.user.puserType}" id="idOtxtUserType"/>
				        			</td>
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.institution.type']}" id="idOtxtInstitutionTypeLbl"/>
				        			</td>
				        			<td> 
				        				<h:outputText value="#{monitoringUserAuditBean.user.pinstitutionType}" id="idOtxtInstitutionType"/>
				        			</td>
				        		</tr>
				        		<tr> 
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.institution']}"  id="idOtxtInstitutionNameLbl"/>
				        			</td>
				        			<td> 			
				        				<h:outputText value="#{monitoringUserAuditBean.user.pinstitutionName}" id="idOtxtInstitutionName"/>
				        			</td>
				        			<td class="td-label-default"> 
				        				<h:outputText value="#{msgs['user.lbl.is.regulator.agent']}"  id="idOtxtRegulatorAgentBool"
				        							   rendered="#{monitoringUserAuditBean.userMonitAuditBean.regulatorAgentBool}"	
				        							   />
				        			</td>
				        			<td>  
				        			<p:outputPanel rendered="#{monitoringUserAuditBean.userMonitAuditBean.regulatorAgentBool}" id="idOpnlRegulatorAgentBool">
					        			<table>
					        				<tr>
					        					<td valign="top">
					        						<p:selectBooleanCheckbox id="chkRegAgent"
					        												 value="#{monitoringUserAuditBean.userMonitAuditBean.regulatorAgentBool}"
					        												 disabled="true" >
					        						</p:selectBooleanCheckbox>
					        					</td>
					        					<td valign="top"> 
							        				<p:dataList id="dtlInstitutionsType"
							        							value="#{monitoringUserAuditBean.lstShowInstitutionTypeAssignedToUser}"
							        							
							        							var="det"
							        							style="border:0px;"> 
							        					#{det}
							        				</p:dataList> 
					        					</td>
					        				</tr>
					        			</table>
				        			</p:outputPanel>
				        			</td>
				        		</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.responsibility']}" id="idOtxtResponsibilityLbl"/>
									</td>
									<td> 
										<h:outputText value="#{monitoringUserAuditBean.userMonitAuditBean.responsabilityDescription}"  id="idOtxtResponsibility"/>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.mac.restriction']}" id="idOtxResriction"
													  rendered="#{monitoringUserAuditBean.userMonitAuditBean.macRestrictionBool}"/>
									</td>
									<td> 
										<table> 
											<tr> 
												<td> 
													<p:selectBooleanCheckbox id="chkMacRestriction"
																			 value="#{monitoringUserAuditBean.userMonitAuditBean.macRestrictionBool}"
																			rendered="#{monitoringUserAuditBean.userMonitAuditBean.macRestrictionBool}"
																			 disabled="true">
													</p:selectBooleanCheckbox>
												</td>
												<td> 
													<p:inputMask id="txtMacRestriction" 
																 value="#{monitoringUserAuditBean.userMonitAuditBean.macAddress}"
																 mask="**-**-**-**-**-**" 
																 style="text-transform:none !important;"
					  								 			 disabled="true"
					  								 			 required="true"
																 requiredMessage="#{msgs['user.error.mac.required']}"
																 rendered="#{monitoringUserAuditBean.userMonitAuditBean.macRestrictionBool}"
																 />
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.name']}"  id="idOtxtUserFullName"/>
									</td>
									<td> 
										<p:inputText id="txtName" 
													 value="#{monitoringUserAuditBean.user.pfullName}"
													 disabled="true">
										</p:inputText>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.first.name']}" id="idOtxtUserFirstName"/>
									</td>
									<td> 
										<p:inputText id="txtFirstName" 
													 value="#{monitoringUserAuditBean.user.pfirtsLastName}" 
													 disabled="true">
										</p:inputText>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.second.name']}" id="idOtxtSecondName"/>
									</td>
									<td> 
										<p:inputText id="txtSecondName" 
													 value="#{monitoringUserAuditBean.user.psecondLastName}"
													 disabled="true"> 
										</p:inputText>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.email']}" id="idOtxtEmail"/>
									</td>
									<td> 
										<p:inputText id="txtEmail" styleClass="email-inputField"
													 value="#{monitoringUserAuditBean.user.pidEmail}"
													 disabled="true" size="50"/>
									</td>
								</tr>
								<tr> 
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.phone']}" id="idOtxtPhone"/>
									</td>
									<td> 
										<p:inputText id="txtPhone" 
													 value="#{monitoringUserAuditBean.user.pidPhoneNo}" 
													 disabled="true"/>
									</td>
									<td class="td-label-default"> 
										<h:outputText value="#{msgs['user.lbl.state']}" id="idOtxtState"/>
									</td>
									<td> 
										<p:inputText id="txtState" 
													 value="#{monitoringUserAuditBean.user.pstate}" 
													 disabled="true"/>
									</td>
								</tr>
								<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.register']}"  id="idOtxtRegisterUserLbl"
					  							 		/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{monitoringUserAuditBean.user.pregisterUser}"  id="idItxtRegisterUser"
					  								 disabled="true"
					  								 />
					  				</td>
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.register']}"  id="idOtxtRegisterDateLbl"
					  								  />
					  				</td>
					  				<td> 
					  					<p:inputText value="#{monitoringUserAuditBean.user.pregisterDate}"  id="idItxtRegisterDate"
					  								 disabled="true">
					  					    <f:convertDateTime pattern="#{msgs.dateFormat}"/>
					  					</p:inputText>
					  				</td>
					  			</tr>
					  			<tr> 
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.user.last.modification']}"  id="idOtxtLastModifyUserLbl"
					  								  />
					  				</td>
					  				<td> 
					  					<p:inputText value="#{monitoringUserAuditBean.user.plastModifyuser}" id="idItxtLastModifyUser"
					  								 disabled="true"/>
					  				</td>
					  				<td class="td-label-default"> 
					  					<h:outputText value="#{msgs['user.lbl.date.last.modification']}" id="idOtxtLastModifyDateLbl"/>
					  				</td>
					  				<td> 
					  					<p:inputText value="#{monitoringUserAuditBean.user.plastModifyDate}"  id="idItxtLastModifyDate"
					  								 disabled="true">
					  						  <f:convertDateTime pattern="#{msgs.dateFormat}"/>
					  				    </p:inputText>
					  				</td>
					  			</tr>
							</table>
						</p:fieldset> 
						</td>
					</tr>
					<tr> 
						<td> 
							<p:fieldset legend="#{msgs['opt.adm.user.pnl.profile.details']}" toggleable="true"  id="idPnlProfileDetails">
								<div class="containter-tree-privilegios-wide-full"  id="idDivProfileDetails">
									<p:tree id="treeProfilesRoot" style="border:0;"
										value="#{monitoringUserAuditBean.treeProfilesRoot}"
										var="node">
										<p:treeNode id="idTreeNodeProfilesRoot">
											<h:outputText value="#{node.name}"  id="idOtxtNodeName"/>
										</p:treeNode>
									</p:tree>
								</div>
							</p:fieldset>
						</td>
					</tr>
	        		<tr> 
	        			<td	align="center"> 
	        			     	<p:commandButton icon="fa fa-undo" action="backUserMonitAudit"  value="#{msgs['btn.back']}" id="idBtnBack"
	        			     		actionListener="#{monitoringUserAuditBean.selectedValeus()}"/>
						</td>
	        		</tr>
		  		</table>
		  		
			  </h:form>
       	</ui:define>
    </ui:composition>
</html>
