<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants className="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instrumentType"/>
<p:importConstants className="com.pradera.model.valuatorprocess.type.ValuatorDetailType" var="valDetailType"/>
<h:form id="frmExecutionValuator">
	<p:fieldset legend="Ejecución del Valorador" id="flsValuatorExecution">
	
		<p:notificationBar position="top" effect="slide" styleClass="top" widgetVar="bar">
		    <h:outputText value="PrimeFaces Rocks!" style="font-size:36px;" />
		</p:notificationBar>
		 
	<table width="100%">
		<tr>
			<td width="20%"></td>
			<td width="60%"></td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.email']}:"/>
			</td>
			<td>
				<p:inputText maxlength="23" size="50" id="txtUserEmail" value="#{valuatorProcessBean.valuatorExecutionTest.email}"
							 required="true" disabled="true"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.date']}:"/>
			</td>
			<td>
				<p:calendar id="calIssuanceDate" value="#{valuatorProcessBean.valuatorExecutionTest.valuatorDate}" showOn="both" navigator="true"
							showButtonPanel="false" size="10" readonlyInput="true" pattern="#{msgs['dateFormat']}"
							disabled="#{valuatorProcessBean.valuatorExecutionTest.ipAddress ne '127.0.0.1'}">
				</p:calendar>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.criteria']}:" />
			</td>
			<td>
				<p:selectOneMenu value="#{valuatorProcessBean.valuatorExecutionTest.executionCriteria}" required="true" id="cboExecutionCriteria">
					<f:selectItem itemLabel="-----SELECCIONE-----"/>
					<f:selectItem itemValue="1" itemLabel="#{msgs['valuator.process.execution.lbl.byparticipant']}"/>
					<f:selectItem itemValue="2" itemLabel="#{msgs['valuator.process.execution.lbl.byholder']}"/>
					<f:selectItem itemValue="3" itemLabel="#{msgs['valuator.process.execution.lbl.bysecurity']}"/>
					<f:selectItem itemValue="4" itemLabel="#{msgs['valuator.process.execution.lbl.byinconsistence']}"/>
					<f:validator validatorId="selectOneRequiredValidator"/>
					<f:param name="skipValidation" value="true" />
					<p:ajax event="change" process="@this" update=":frmExecutionValuator" listener="#{valuatorProcessBean.cleanEntities}"/> 
				</p:selectOneMenu>
				
				<ui:param name="isByParticipant" value="#{valuatorProcessBean.valuatorExecutionTest.executionCriteria eq 1}" />
				<ui:param name="isByCui" value="#{valuatorProcessBean.valuatorExecutionTest.executionCriteria eq 2}" />
				<ui:param name="isBySecurity" value="#{valuatorProcessBean.valuatorExecutionTest.executionCriteria eq 3}" />
				<ui:param name="isByInconsistence" value="#{valuatorProcessBean.valuatorExecutionTest.executionCriteria eq 4}" />
				
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.config.class.instrument']}:" rendered="#{!isByInconsistence}"/>
			</td>
			<td>
				<h:panelGrid columns="2">
					<p:selectOneMenu value="#{valuatorProcessBean.valuatorExecutionTest.instrumentType}" id="cboInstrument" required="#{!isByParticipant}"
									 label="#{msgs['valuator.process.config.class.instrument']}" rendered="#{!isByInconsistence}">  
						<f:selectItem itemLabel="-----SELECCIONE-----"/>
						<f:selectItem itemValue="#{instrumentType.FIXED_INCOME.code}" itemLabel="#{instrumentType.FIXED_INCOME.value}"/>
						<f:selectItem itemValue="#{instrumentType.VARIABLE_INCOME.code}" itemLabel="#{instrumentType.VARIABLE_INCOME.value}"/>
						<f:param name="skipValidation" value="true" /> 
					</p:selectOneMenu> 
					<p:message for="cboInstrument" display="icon" id="msgInstrumentType"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.simulation.security.classCode']}:" rendered="#{isBySecurity}"/>
			</td>
			<td>
				<p:inputTextarea cols="100" rows="5" value="#{valuatorProcessBean.valuatorExecutionTest.securityCode}"
							 	 rendered="#{isBySecurity}"/> 
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.participant']}:" rendered="#{isByParticipant}"/>
			</td>
			<td> 
				<h:panelGrid columns="1">
					
					<h:selectBooleanCheckbox value="#{valuatorProcessBean.valuatorExecutionTest.allParticipant}" rendered="#{isByParticipant}" title="all">
						<p:ajax  event="change" update="cboParticipants" listener="#{valuatorProcessBean.selectAllParticipant}" process="@this" global="false"/>
					</h:selectBooleanCheckbox>
					<p:selectManyMenu value="#{valuatorProcessBean.valuatorExecutionTest.particSelected}" showCheckbox="true" scrollHeight="160" 
									  style="width:600px;height:190px" filter="true" rendered="#{isByParticipant}" id="cboParticipants"> 
						<f:selectItems value="#{valuatorProcessBean.lstParticipants}" var="part" itemValue="#{part.idParticipantPk}"
									    itemLabel="#{part.displayDescriptionCode}"/>
					</p:selectManyMenu>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['issuer.lbl.CUI']}:" rendered="#{isByCui}"/>
			</td>
			<td>
				<h:panelGrid columns="2" id="pnlGridHolder">
					<ark:holderHelper holder="#{valuatorProcessBean.valuatorExecutionTest.holder}" required="true" rendered="#{isByCui}"
								  id="idRntHelp" validatorName="com.pradera.commons.view.validators.InputTextValidator"/>
					<p:message for=":frmExecutionValuator:idRntHelp:idRntHelp" display="icon" id="idMsgAlertHolder"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.execution']}:" rendered="#{isByInconsistence}"/>
			</td>
			<td>
				<p:inputNumber value="#{valuatorProcessBean.valuatorExecutionTest.executionPk}" required="true" rendered="#{isByInconsistence}" decimalPlaces="0"
								thousandSeparator="," decimalSeparator="."/> 
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['valuator.process.execution.lbl.executiondetail']}:" rendered="#{isByInconsistence}"/>
			</td>
			<td>
				<h:panelGrid columns="2" rendered="#{isByInconsistence}">
					<p:selectOneMenu value="#{valuatorProcessBean.valuatorExecutionTest.executionDetailType}" id="cboDetailType" required="true"
									 label="#{msgs['valuator.process.execution.lbl.executiondetail']}">  
						<f:selectItem itemLabel="-----SELECCIONE-----"/>
						<f:selectItem itemValue="#{valDetailType.BALANCE.code}" itemLabel="#{valDetailType.BALANCE.description}"/>
						<f:selectItem itemValue="#{valDetailType.OPERATIONS.code}" itemLabel="#{valDetailType.OPERATIONS.description}"/>
						<f:param name="skipValidation" value="true" />  
					</p:selectOneMenu> 
					<p:message for="cboDetailType" display="icon" id="msgvalDetailType"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<p:commandButton value="Ejecutar" icon="ui-run" update="pnlDialogsCustomized,flsValuatorExecution" 
								 actionListener="#{valuatorProcessBean.beforeValuatorExecution}"
								 process="flsValuatorExecution" />
				<p:commandButton value="Regresar" icon="fa fa-undo" action="searchProcess" ajax="false" process="@this" immediate="true"/>
			</td>
		</tr>
	</table>		
	</p:fieldset>
	<p:outputPanel id="pnlDialogsCustomized">
		<p:confirmDialog id="cnfValuatorExecution" widgetVar="cnfwValuatorExecution" severity="alert" closable="false"
						 header="Mensaje de confirmación" message="¿Esta seguro de iniciar el proceso de valoracion?">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="cnfwValuatorExecution.hide()" 
							 actionListener="#{valuatorProcessBean.runValuatorExecution}" ajax="true"/>
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="cnfwValuatorExecution.hide()" type="button"/>
		</p:confirmDialog>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>