<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<h:outputText value="#{gmsgs['isecurities.security.valuator.process.execution.title']}" styleClass="title-page"/>
	
		<h:form id="frmValuatorExecutionSearch">
			<table width="100%">
				<tr>
					<td align="right">
						
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
							<table width="100%"> 
							
								<tr>
									<td width="15%">
										<h:outputLabel value="#{msgs['valuator.process.execution.lbl.date.type']} (*)" styleClass="required-field"/>
									</td>
									<td width="35%">
										<p:selectOneMenu id="cboDateType" label="#{msgs['valuator.process.execution.lbl.date.type']}"
											value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.dateType}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{valuatorProcessDetailBean.dateTypesListSearch}"  var="dateType"
													itemValue="#{dateType.parameterTablePk}" itemLabel="#{dateType.parameterName}"/>
												<p:ajax event="change" process="@this" partialSubmit="true" global="false"
														update="@this" />
										</p:selectOneMenu>
									</td>
									
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.execution.type']}" />
									</td>
									<td>
										<p:selectOneMenu id="cboExecutionType" label="#{msgs['valuator.process.execution.lbl.execution.type']}"
											value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.executionType}" 
											style="width:200px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{valuatorProcessDetailBean.executionTypesListSearch}" var="executionType"
												itemValue="#{executionType.parameterTablePk}" itemLabel="#{executionType.parameterName}"/>
												<p:ajax event="change" process="@this" update="@this"/>
										</p:selectOneMenu>
									</td>
								</tr>
							
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.process.state']}" />
									</td>
									<td width="35%">
										<p:selectOneMenu id="cboProcessState" label="#{msgs['valuator.process.execution.lbl.process.state']}"
											value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.processState}" 
											style="width:200px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{valuatorProcessDetailBean.processStatesListSearch}" var="processState"
												itemValue="#{processState.parameterTablePk}" itemLabel="#{processState.parameterName}"/>
												<p:ajax event="change" process="@this" update="@this"/>
										</p:selectOneMenu>
									</td>
									
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.operation.number']}" />
									</td>
									<td>
										<p:inputText id="textOperationNumber" value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.operationNumber}"
										 			 label="#{msgs['valuator.process.execution.lbl.operation.number']}" >
								 			<p:ajax event="blur" process="@this" global="false" update="@this" />
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
										</p:inputText>
									</td>
								</tr>
							
								<tr>
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.valuator.type']}" />
									</td>
									<td width="35%">
										<p:selectOneMenu id="cboValuatorType" label="#{msgs['valuator.process.execution.lbl.valuator.type']}"
											value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.valuatorType}" 
											style="width:200px">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{valuatorProcessDetailBean.valuatorTypesListView}" var="valuatorType"
												itemValue="#{valuatorType.parameterTablePk}" itemLabel="#{valuatorType.parameterName}"/>
												<p:ajax event="change" process="@this" update="@this"/>
										</p:selectOneMenu>
									</td>
								</tr>
								
								<tr>
								
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.initial.date']}" />
									</td>
									<td width="35%">
										<p:calendar value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.initialDate}" navigator="true"
													maxdate="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.finalDate}" showOn="button" 
													pattern="#{cons['dateFormat']}" id="calInitialDate" readonlyInput="true" >
											<p:ajax update="calEndDate" event="dateSelect" global="false"/> 
										</p:calendar>
									</td>
									<td width="15%">
										<h:outputText value="#{msgs['valuator.process.execution.lbl.final.date']}" />
									</td>
									<td>
										<p:calendar value="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.finalDate}" navigator="true" 
													mindate="#{valuatorProcessDetailBean.valuatorProcessExecutionTO.initialDate}" showOn="button"
													pattern="#{cons['dateFormat']}" id="calEndDate" readonlyInput="true" 
													maxdate="#{valuatorRangeBean.currentSystemDate}" >
											<p:ajax update="calInitialDate" event="dateSelect" global="false"/>
										</p:calendar>
									</td>
								</tr>
								
								<tr>
									<td></td>
									<td align="center" colspan="3">
										<br></br>
									</td>
								</tr>
								
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
														 update="pnlExecutionResult,flsFilters,pnlButtons,:opnlGenericDialogs"
														 process="flsFilters" 
														 actionListener="#{valuatorProcessDetailBean.searchProcessExecutions}"
														 rendered="#{(userInfo.userAcctions.search)}"
 														 />
										<p:commandButton action="backMainProcess" value="#{gmsgs['btn.back']}" icon="fa fa-undo" process="@this" immediate="true"
														 ajax="false"/>													 
									</td>
								</tr>
								
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="6">
						<p:outputPanel id="pnlButtons">
							<comp:privileges actions="#{userInfo.userAcctions}" renders="#{userInfo.privilegeComponent}"
											 rendered="#{valuatorProcessDetailBean.valuatorDataModel.rowCount gt 0}"
										 	 >
							</comp:privileges>
						</p:outputPanel>
					</td>
				</tr>
				
				<tr>
					<td>
						<p:outputPanel id="pnlExecutionResult">
							<p:fieldset rendered="#{valuatorProcessDetailBean.valuatorDataModel.rowCount gt 0}" legend="#{gmsgs['lbl.results']}">
								<p:dataTable value="#{valuatorProcessDetailBean.valuatorDataModel}" var="execution"
											 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
											 paginator="true" rows="#{cons['dtb.rows']}"  paginatorPosition="top"
											 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
											 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
											 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
											 rowKey="#{execution.idProcessExecutionPk}"
											 selection="#{valuatorProcessDetailBean.valuatorProcessExecutionSelected}" >
											 
									<p:column headerText="#{msgs['valuator.process.execution.lbl.execution.date']}" styleClass="content-center" sortBy="#{execution.registryDate}">
										<h:outputText value="#{execution.registryDate}">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.id']}" styleClass="content-center" >
										<h:outputText value="#{execution.idProcessExecutionPk}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.operation.number']}" styleClass="content-center" sortBy="#{execution.operationNumber}">
										<p:commandLink value="#{execution.operationNumber}" style="color:blue" process="@this"
													   action="#{valuatorProcessDetailBean.viewProcessExecution(execution)}">
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{msgs['valuator.process.execution.lbl.begin.time']}" styleClass="content-center" sortBy="#{execution.beginTime}">
										<h:outputText value="#{execution.beginTime}">
											<f:convertDateTime pattern="#{cons['timeSegFormat']}" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.finish.time']}" styleClass="content-center" sortBy="#{execution.finishTime}">
										<h:outputText value="#{execution.finishTime}">
											<f:convertDateTime pattern="#{cons['timeSegFormat']}"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.execution.type']}" styleClass="content-center" sortBy="#{execution.executionType}">
										<h:outputText value="#{valuatorProcessDetailBean.parameterExecutionType.get(execution.executionType)}"/>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.valuator.type']}" styleClass="content-center" sortBy="#{execution.valuatorType}">
										<h:outputText value="#{valuatorProcessDetailBean.parameterValuatorType.get(execution.valuatorType)}"/>
									</p:column>
									<p:column headerText="#{msgs['valuator.process.execution.lbl.process.state']}" styleClass="content-center" sortBy="#{execution.processState}">
										<h:outputText value="#{valuatorProcessDetailBean.parameterProcessState.get(execution.processState)}"/>
									</p:column>
									
									<f:facet name="footer" >  
									   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
									         <f:param value="#{valuatorProcessDetailBean.valuatorDataModel.rowCount}"/>
									   </h:outputFormat>
								   </f:facet>
								   
								   <p:ajax event="page" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
								   <p:ajax event="rowToggle" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
								   
								</p:dataTable>
							</p:fieldset>
							
							<p:panel rendered="#{valuatorProcessDetailBean.valuatorDataModel.rowCount != null and
										!(valuatorProcessDetailBean.valuatorDataModel.rowCount gt 0)}" >
								<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
									styleClass="required-field"/>
				    		</p:panel>
						</p:outputPanel>
					</td>
				</tr>
				
			</table>	
		</h:form>
		<p:outputPanel id="opnlDialogs"></p:outputPanel>
	</ui:define>
</ui:composition>
</html>