<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	
	<p:dataTable var="event" value="#{valuatorProcessDetailBean.executionMonitoring.executionTrackDetail}" styleClass="panelNoBorder"> 
		<p:column style="width:16px">
			<p:rowToggler rendered="#{event.eventTypeCode eq eventType.EVENT_2_1_PRICE_FIXED_INCOME.code}"/>
			<p:rowToggler rendered="#{event.eventTypeCode eq eventType.EVENT_2_2_PRICE_VARIABLE_INCOME.code}"/>
        </p:column>
		<p:column headerText="#{msgs['valuator.executor.loading.execution']}" style="width:20px" styleClass="content-right">
			<h:outputText value="#{event.sequence}" styleClass="required-field"/>
		</p:column>
		<p:column headerText="#{msgs['valuator.executor.loading.event.name']}" >
			<p:outputPanel rendered="#{event.sequence.toString().length() eq bolType.YES.code}">
				&nbsp;&nbsp;<h:outputText value="#{event.eventName.toString()}" styleClass="required-field"/>
			</p:outputPanel>
			<p:outputPanel rendered="#{event.sequence.toString().length() ne bolType.YES.code}"> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h:outputText value="#{event.eventName.toString()}"/>
			</p:outputPanel>
		</p:column>
		<p:column headerText="#{msgs['valuator.executor.loading.begin']}" styleClass="content-center">
			<p:outputPanel rendered="#{event.sequence.toString().length() eq bolType.YES.code}">
				<h:outputText value="#{event.beginTime}" styleClass="required-field">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:outputPanel>
			<p:outputPanel rendered="#{event.sequence.toString().length() ne bolType.YES.code}">
				<h:outputText value="#{event.beginTime}">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:outputPanel>
		</p:column>
		<p:column headerText="#{msgs['valuator.executor.loading.end']}" styleClass="content-center">
			<p:outputPanel rendered="#{event.sequence.toString().length() eq bolType.YES.code}">
				<h:outputText value="#{event.finishTime}" styleClass="required-field">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:outputPanel>
			<p:outputPanel rendered="#{event.sequence.toString().length() ne bolType.YES.code}">
				<h:outputText value="#{event.finishTime}">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
			</p:outputPanel>
		</p:column>
		<p:column headerText="#{msgs['valuator.executor.loading.state']}" styleClass="content-center" style="width:60px">
			<h:outputText value="#{msgs['valuator.executor.loading.wait']}" rendered="#{event.processState eq executionState.REGISTERED.code}"/>
			<p:graphicImage library="img" id="idImgLoading" name="loading/loading.gif" rendered="#{event.processState eq executionState.VALUATING.code}"/>
			<p:graphicImage library="img" id="idImgSuccess" name="icons/confirmed.png" 
							rendered="#{event.processState eq executionState.FINISHED.code}"/>
			<p:graphicImage library="img" id="idImgFailed" name="icons/rejected.png" 
							rendered="#{event.processState eq executionState.FINISHED_WITH_ERROR.code}"/>
			<p:tooltip for="idImgLoading">
				<h:outputFormat value="#{msgs['valuator.executor.loading.running']}"/>
			</p:tooltip>
			<p:tooltip for="idImgFailed">
				<h:outputFormat value="#{msgs['valuator.executor.loading.failed']}"/>
			</p:tooltip>
			<p:tooltip for="idImgSuccess">
				<h:outputFormat value="#{msgs['valuator.executor.loading.finished']}"/>
			</p:tooltip>
		</p:column> 
		<p:rowExpansion styleClass="content-center">
			<h:panelGrid  columns="2">
				<h:outputText value="............." />
				<p:dataTable value="#{event.securityClassList}" var="class" style="width:650px">    
					<p:column headerText="#{msgs['valuator.executor.loading.class']}" styleClass="content-center">
						<h:outputText value="#{class.classDescription.subSequence(0,3)}"/>
					</p:column>
					<p:column headerText="#{msgs['valuator.executor.loading.security']}" style="white-space: nowrap">
						<h:outputText value="#{class.rowQuantity}"/>
					</p:column>
					<p:column headerText="#{msgs['valuator.executor.loading.begin']}" styleClass="content-center">
						<h:outputText value="#{class.beginTime}">
							<f:convertDateTime pattern="HH:mm:ss"/>
						</h:outputText>
					</p:column>
					<p:column headerText="#{msgs['valuator.executor.loading.end']}" styleClass="content-center">
						<h:outputText value="#{class.finishTime}">
							<f:convertDateTime pattern="HH:mm:ss"/>
						</h:outputText>
					</p:column>
					<p:column headerText="Estado">
						<p:graphicImage library="img" id="idImgLoading" name="loading/small_loading.gif" 
										rendered="#{class.processState eq executionState.VALUATING.code}"/>
						<p:graphicImage library="img" id="idImgConfirm" name="icons/confirmed.png"
										rendered="#{(class.processState eq executionState.FINISHED.code)}"/>
						<p:graphicImage library="img" id="idImgFailed" name="icons/rejected.png"
										rendered="#{(class.processState eq executionState.FINISHED_WITH_ERROR.code)}"/>
					</p:column>
				</p:dataTable>
			</h:panelGrid>
        </p:rowExpansion>
	</p:dataTable>
</html>