<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants className="com.pradera.integration.common.type.BooleanType" var="bolType"/>
<p:importConstants className="com.pradera.model.valuatorprocess.type.ValuatorEventType" var="eventType"/>
<p:importConstants className="com.pradera.model.valuatorprocess.type.ValuatorExecutionStateType" var="executionState"/>	
<h:outputText value="#{gmsgs['isecurities.security.valuator.process.execution.detail.title']}" styleClass="title-page" />
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmValuatorSimulatorRegister');
	});
</script>
<h:form id="frmValuatorSimulatorRegister">
	
	<p:fieldset id="ValuatorDataPanel" legend="#{msgs['valuator.process.simulation.detail.fieldset.general.data']}">
		<table width="100%">
			<tr>
				<td width="15%"/>
				<td width="30%"/>
				<td width="15%"/>
				<td width="30%"/>
			</tr>
			<tr>
				<td>
					<h:outputLabel value="#{msgs['valuator.executor.loading.execution.date']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:calendar value="#{valuatorProcessDetailBean.valuatorProcessExecution.registryDate}" id="valuatorRegistryDate"
								readonlyInput="true" pattern="#{cons['dateFormat']}" navigator="true" disabled="true" tabindex="5"/>
				</td>
				<td>
					<h:outputLabel value="#{msgs['valuator.executor.loading.valuator.date']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:calendar value="#{valuatorProcessDetailBean.valuatorProcessExecution.processDate}" id="valuatorValuatorDate"
								readonlyInput="true" pattern="#{cons['dateFormat']}" navigator="true" disabled="true" />
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.operation.number']}" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText id="textOperationNumber" label="#{msgs['valuator.process.execution.lbl.operation.number']}"
								 value="#{valuatorProcessDetailBean.valuatorProcessExecution.valuatorProcessOperation.operationNumber}"
								 disabled="true" >
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.process.state']}" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="cboProcessState" label="#{msgs['valuator.process.execution.lbl.process.state']}"
						value="#{valuatorProcessDetailBean.valuatorProcessExecution.processState}" 
						style="width:200px" disabled="true" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{valuatorProcessDetailBean.processStatesListView}" var="processState"
							itemValue="#{processState.parameterTablePk}" itemLabel="#{processState.parameterName}"/>
					</p:selectOneMenu>
					<p:commandLink rendered="#{valuatorProcessDetailBean.valuatorProcessExecution.errorMessage != null}"
									value="ver" oncomplete="PF('dialogError').show()">
					</p:commandLink>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.begin.time']}" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText id="textBeginTime" label="#{msgs['valuator.process.execution.lbl.begin.time']}"
								 value="#{valuatorProcessDetailBean.valuatorProcessExecution.beginTime}" disabled="true" >
						 		 <f:convertDateTime pattern="#{cons['timeSegFormat']}"/>
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.finish.time']}" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText id="textFinishTime" label="#{msgs['valuator.process.execution.lbl.finish.time']}"
								 value="#{valuatorProcessDetailBean.valuatorProcessExecution.finishTime}"
								 disabled="true" >
						 		 <f:convertDateTime pattern="#{cons['timeSegFormat']}"/>
					</p:inputText>
				</td>
				
			</tr>
		
			<tr>
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.valuator.type']}" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="cboValuatorType" label="#{msgs['valuator.process.execution.lbl.valuator.type']}"
						value="#{valuatorProcessDetailBean.valuatorProcessExecution.valuatorType}" 
						style="width:200px" disabled="true" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{valuatorProcessDetailBean.valuatorTypesListView}" var="valuatorType"
							itemValue="#{valuatorType.parameterTablePk}" itemLabel="#{valuatorType.parameterName}"/>
					</p:selectOneMenu>
				</td>
				
				<td>
					<h:outputText value="#{msgs['valuator.process.execution.lbl.execution.type']}" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu id="cboExecutionType" label="#{msgs['valuator.process.execution.lbl.execution.type']}"
						value="#{valuatorProcessDetailBean.valuatorProcessExecution.executionType}" 
						style="width:200px" disabled="true" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{valuatorProcessDetailBean.executionTypesListView}" var="executionType"
							itemValue="#{executionType.parameterTablePk}" itemLabel="#{executionType.parameterName}"/>
					</p:selectOneMenu>
				</td>
			</tr>
		</table>
	</p:fieldset>
	
	<p:outputPanel id="pnlExecutionDetailResult">
		<p:fieldset legend="#{msgs['valuator.process.simulation.detail.fieldset.valuator']}">
		<ui:include src="/pages/valuator/core/process/viewProcessMonitorDetail.xhtml" />
		<ui:remove>
		<p:tabView>
			<p:tab title="#{msgs['valuator.process.simulation.detail.fieldset.valuator']}">
				<ui:include src="/pages/valuator/core/process/viewProcessMonitorDetail.xhtml" />
			</p:tab>
			<p:tab title="#{msgs['valuator.process.simulation.detail.fieldset.valuator']}">
				<p:dataTable value="#{valuatorProcessDetailBean.valuatorDataModelDetail}" var="detail"
							 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
							 paginator="true" rows="#{cons['dtb.rows']}"  paginatorPosition="top"
							 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
							 rendered="#{valuatorProcessDetailBean.valuatorDataModelDetail.rowCount gt 0}" >
							 
					<p:column headerText="#{msgs['valuator.process.execution.lbl.detail.type']}" styleClass="content-center" sortBy="#{detail.detailType}">
						<h:outputText value="#{valuatorProcessDetailBean.parameterDetailValuator.get(detail.detailType)}" />
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.begin.time']}" styleClass="content-center" sortBy="#{detail.beginTime}">
						<h:outputText value="#{detail.beginTime}">
							<f:convertDateTime pattern="#{cons['timeSegFormat']}"/>
						</h:outputText>
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.finish.time']}" styleClass="content-center" sortBy="#{detail.finishTime}">
						<h:outputText value="#{detail.finishTime}">
							<f:convertDateTime pattern="#{cons['timeSegFormat']}"/>
						</h:outputText>
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.order.execution']}" styleClass="content-center"
							  sortBy="#{detail.detailType}" style="width:10%" >
						<h:outputText value="#{detail.orderExecution}" />
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.quantity.process']}" styleClass="content-center"
					 		  sortBy="#{detail.quantityProcess}" style="width:12%" >
						<h:outputText value="#{detail.quantityProcess}"/>
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.quantity.inconsistent']}" styleClass="content-center"
							  sortBy="#{detail.quantityInconsistent}" style="width:12%" >
						<h:outputText value="#{detail.quantityInconsistent}"/>
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.quantity.finished']}" styleClass="content-center"
							  sortBy="#{detail.quantityFinished}" style="width:12%" >
						<h:outputText value="#{detail.quantityFinished}"/>
					</p:column>
					<p:column headerText="#{msgs['valuator.process.execution.lbl.process.state']}" styleClass="content-center"
							  sortBy="#{detail.processState}" style="width:12%" >
						<h:outputText value="#{valuatorProcessDetailBean.parameterProcessState.get(detail.processState)}" />
					</p:column>
					
					<f:facet name="footer" >  
					   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					         <f:param value="#{valuatorProcessDetailBean.valuatorDataModelDetail.rowCount}"/>
					   </h:outputFormat>
				   </f:facet>
				   
				   <p:ajax event="page" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
				   <p:ajax event="rowToggle" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
				   
				</p:dataTable>
				
				<h:outputLabel rendered="#{valuatorProcessDetailBean.valuatorDataModelDetail.rowCount != null and
								!(valuatorProcessDetailBean.valuatorDataModelDetail.rowCount gt 0)}"
							value="#{msgs['valuator.process.execution.lbl.detail.no.result']}" styleClass="required-field" />
			</p:tab>
		</p:tabView>
		</ui:remove>
		</p:fieldset>
	</p:outputPanel>
	
	<p:outputPanel id="pnlExecutionFailedResult">
		<p:fieldset legend="#{msgs['valuator.process.simulation.detail.fieldset.error.register']}"
					rendered="#{valuatorProcessDetailBean.valuatorDataModelFailed != null}" >
			<p:dataTable value="#{valuatorProcessDetailBean.valuatorDataModelFailed}" var="failed"
						 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
						 paginator="true" rows="#{cons['dtb.rows']}"  paginatorPosition="top"
						 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
						 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
						 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
						 rendered="#{valuatorProcessDetailBean.valuatorDataModelDetail.rowCount gt 0
						 			and valuatorProcessDetailBean.valuatorDataModelFailed.rowCount gt 0}" >
						 
				<p:column headerText="#{msgs['valuator.process.execution.lbl.participant']}" styleClass="content-center" 
						  sortBy="#{failed.holderAccountBalance.participant.displayCodeMnemonic}">
					<h:outputText value="#{failed.holderAccountBalance.participant.displayCodeMnemonic}" />
				</p:column>
				<p:column headerText="#{msgs['valuator.process.execution.lbl.account.number']}" styleClass="content-center" 
						  sortBy="#{failed.holderAccountBalance.holderAccount.accountNumber}">
					<h:outputText value="#{failed.holderAccountBalance.holderAccount.accountNumber}" />
				</p:column>
				<p:column headerText="#{msgs['valuator.process.execution.lbl.security']}" styleClass="content-center" 
						  sortBy="#{failed.holderAccountBalance.security.idSecurityCodePk}">
					<h:outputText value="#{failed.holderAccountBalance.security.idSecurityCodePk}" />
				</p:column>
				<p:column headerText="#{msgs['valuator.process.execution.lbl.motive']}" styleClass="content-center" sortBy="#{failed.motive}">
					<h:outputText value="#{valuatorProcessDetailBean.parameterMotive.get(failed.motive)}" />
				</p:column>
				
				<f:facet name="footer" >  
				   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				         <f:param value="#{valuatorProcessDetailBean.valuatorDataModelFailed.rowCount}"/>
				   </h:outputFormat>
			   </f:facet>
			   
			   <p:ajax event="page" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
			   <p:ajax event="rowToggle" listener="#{valuatorProcessDetailBean.changePageDatatable}"/>
			   
			</p:dataTable>
			
			<h:outputLabel rendered="#{valuatorProcessDetailBean.valuatorDataModelFailed.rowCount != null and
							!(valuatorProcessDetailBean.valuatorDataModelFailed.rowCount gt 0)}"
						value="#{msgs['valuator.process.execution.lbl.failed.no.result']}" styleClass="required-field" />
		</p:fieldset>
	</p:outputPanel>
	
	<p:outputPanel id="pnlButtons">
		<table width="100%">
			<tr>
				<td align="center">
					<p:commandButton id="cmbBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo"
									 action="#{valuatorProcessDetailBean.backForm}" process="@this"
									 onclick="if(isModifiedFormForBack(this))return false;"
									 ajax="false" immediate="true" />
				</td>
			</tr>
		</table>
		<p:dialog modal="true" position="top" height="80px" width="800px" closeOnEscape="true" closable="false" widgetVar="dialogError">
			<h:outputFormat value="#{valuatorProcessDetailBean.valuatorProcessExecution.errorMessage}"  /> 
		</p:dialog>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>