<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importEnum type="com.pradera.model.custody.payroll.PayrollType" var="payrollType"/>
<p:importEnum type="com.pradera.model.custody.payroll.PayrollDetailStateType" var="detailStateType"/>
<h:form id="frmPayroll">
<h:outputText value="Ingreso a Bóveda de Valores Físicos" styleClass="title-page" />
<table width="100%">
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="cboPayrollType" label="Tipo Planilla"
			 		value="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateVaultManageBean.lstPayrollTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgPayrollType opnlResults lblEntity inputEntity" 
						process="@this" listener="#{certificateVaultManageBean.cleanResults()}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgPayrollType" for="cboPayrollType"/>
				</h:panelGrid>
			</td>
			
			<td width="20%">
				<h:outputText value="Estado Planilla"/>
			</td>
			<td width="30%">
			 	<p:selectOneMenu id="cboState" value="#{certificateVaultManageBean.searchCertificateVaultTO.payrollDetailState}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateVaultManageBean.lstDetailStates}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
			
		</tr>
		<tr>
			<ui:remove>
			<td>
				<h:outputText value="Sucursal (*)" styleClass="required-field"/>
			</td>
			<td >
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{certificateVaultManageBean.searchCertificateVaultTO.branchOffice}" label="Sucursal"
					id="branchOffice">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateVaultManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax update="@this msgBranchOffice opnlResults" process="@this" global="false"
						listener="#{certificateVaultManageBean.changeBranchOffice}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>		
				</p:selectOneMenu>
				<p:message display="icon" id="msgBranchOffice" for="branchOffice"/>
				</h:panelGrid>
			</td>
			</ui:remove>
			<td>
				<h:outputText value="#{gmsgs['issuer.helper.detail.code']}"/>
			</td>
			<td>
				<h:panelGrid cellspacing="0" cellpadding="0" >
				<ark:issuerHelper id="txtIssuer" issuer="#{certificateVaultManageBean.searchCertificateVaultTO.issuer}"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="Boveda (*)" styleClass="required-field"></h:outputText>
			</td>
			<td>
				<p:selectOneMenu value="#{certificateVaultManageBean.searchCertificateVaultTO.entryVault}" >
					<f:selectItem itemLabel="SIN ASIGNAR"/>
					<f:selectItems value="#{certificateVaultManageBean.lstVaults}"
						var="paramTab" itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr class="hidden">
			<td class="hidden">
				<p:outputPanel id="lblEntity">
				<h:outputText value="#{gmsgs['participant.lbl']}"
					rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"/>
				</p:outputPanel>
			</td>
			<td colspan="3" class="hidden">
				<p:outputPanel id="inputEntity">
				<h:panelGrid rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
			 	<p:selectOneMenu styleClass="combo-widh-large" id="cboParticipant"			 		
			 	 	value="#{certificateVaultManageBean.searchCertificateVaultTO.idParticipantPk}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{certificateVaultManageBean.lstParticipants}" var="participant" 
						itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>					
				</p:selectOneMenu>
				</h:panelGrid>
				</p:outputPanel>
			</td>			
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="#{msgs['deposito.fecha.inicial']} (*)" styleClass="required-field" />
			</td>
			<td width="40%">
				<p:calendar id="idInitialDate"
					maxdate="#{certificateVaultManageBean.currentSystemDate}" 
					required="true" size="10" navigator="true"
					value="#{certificateVaultManageBean.searchCertificateVaultTO.initialDate}" 
					pattern="#{msgs['dateFormat']}" showOn="both"/>
			</td>
			<td width="10%">
				<h:outputText value="#{msgs['deposito.fecha.final']} (*)" styleClass="required-field"/>
			</td>
			<td width="40%">
				<p:calendar id="idFinalDate"
					size="10" navigator="true" required="true"
					maxdate="#{certificateVaultManageBean.currentSystemDate}"
					value="#{certificateVaultManageBean.searchCertificateVaultTO.finalDate}"
					pattern="#{msgs['dateFormat']}" showOn="both"/>
			</td>
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="N° de planilla"/>
			</td>
			<td>
				<p:inputText id="payRollNumber" value="#{certificateVaultManageBean.searchCertificateVaultTO.payRollNumber}">
					<p:keyFilter mask="pint"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{certificateVaultManageBean.searchEntry()}"
					update="@form" icon="fa fa-search"/>		
					
				
				<p:commandButton value="Resumen de cajas" actionListener="#{certificateVaultManageBean.vaultConsolidation()}"
								 ajax="false" update="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)" icon="fa fa-search"/>	
								 
				<p:commandButton value="Boveda Cavapy" actionListener="#{certificateVaultManageBean.vaultCavapy()}"
								 ajax="false" update="frmPayroll:opnlResults" icon="fa fa-list"/>	
								 					
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResults">
		<p:panel rendered="#{certificateVaultManageBean.searchCertificateVaultTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" 
	   		rendered="#{not empty certificateVaultManageBean.searchCertificateVaultTO.lstResult}">
		<p:dataTable value="#{certificateVaultManageBean.searchCertificateVaultTO.lstResult}" var="detail"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			paginator="true" paginatorPosition="top" rowsPerPageTemplate="50,100,150" rows="50">	 	 					                 
			
			<p:column styleClass="content-center" headerText="IG" style="width:50px">
				<p:selectBooleanCheckbox value="#{detail.blSelected}" disabled="#{detail.blIsCupon}">
					<p:ajax process="@this" update="@form frmPayroll:opnlResults" listener="#{certificateVaultManageBean.selectedAllCupon()}" />
				</p:selectBooleanCheckbox>
			</p:column>
			
			<p:column sortBy="#{detail.idPayrollHeaderPk}" headerText="N° Planilla" styleClass="content-right" style="width:80px">
				<h:outputText value="#{detail.idPayrollHeaderPk}" />
			</p:column>	
			<p:column sortBy="#{detail.idCustodyOperationPk}" headerText="#{msgs['consult.location.requestNoCol']}" styleClass="content-right"
				rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
				or certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}" style="width:80px">
				<h:outputText value="#{detail.idCustodyOperationPk}"/>
			</p:column>			
			<p:column sortBy="#{detail.idCorporativeOperationPk}" headerText="ID Hecho de Importancia" styleClass="content-right"
				rendered="#{ccertificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code}">
				<h:outputText value="#{detail.idCorporativeOperationPk}"/>
			</p:column>			
			<p:column styleClass="content-center" headerText="#{msgs['lbl.affectation.query.detail.registryDate']}" style="width:80px">
				<h:outputText value="#{detail.registryDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{detail.idSecurityCodePk}" headerText="#{gmsgs['security.lbl.code']}" styleClass="content-center" style="width:120px">
				<ark:securities-help securityCode="#{detail.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>
			<p:column sortBy="#{detail.positionInVault}" headerText="Ubicacion" styleClass="content-center" style="width:120px">
				<h:outputText value="#{detail.positionInVault}" />
			</p:column>
			
			<p:column sortBy="#{detail.idAnnotationOperationPk}" headerText="Titulo" styleClass="content-center" style="width:120px">
				<ark:certificate-help idAnnotationOperationPk="#{detail.idAnnotationOperationPk}" ></ark:certificate-help>			
			</p:column>
			
			<p:column sortBy="#{detail.serialCode}" headerText="Serie" styleClass="content-center" style="width:120px">
				<h:outputText value="#{detail.serialCode}" />
			</p:column>
			<p:column sortBy="#{detail.blIsCupon}" headerText="Es Cupon" styleClass="content-center"  style="width:70px">
				<p:selectBooleanCheckbox value="#{detail.blIsCupon}" disabled="true"/>
			</p:column>
			<p:column sortBy="#{detail.cuponNumber}" headerText="Numero Cupon" styleClass="content-center" style="width:70px">
				<h:outputText value="#{detail.cuponNumber}" />
			</p:column>
			<p:column sortBy="#{detail.indSerializable}" headerText="Serializado" styleClass="content-center"
				rendered="#{controlCertificateManageBean.searchControlCertificateTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<p:commandLink value="#{detail.indSerializable eq 1?'SI':'NO'}" rendered="#{detail.indSerializable eq 0}"/>
				<h:outputText value="#{detail.indSerializable eq 1?'SI':'NO'}" rendered="#{detail.indSerializable eq 1}"/>
			</p:column>			
			<p:column headerText="Depositante" style="width:150px"
				rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<h:outputText value="#{detail.participantNemonic}" escape="false"/>
			</p:column>
			
			<ui:remove>
			<p:column headerText="N° Cuenta" styleClass="content-center" style="width:80px"
				rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<h:outputText value="#{detail.holderAccount.accountNumber}"/>
			</p:column>
			</ui:remove>
						
			<p:column headerText="#{gmsgs['holder.lbl.description']}" style="width:150px"
				rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<h:outputText value="#{detail.holderAccount.accountRntAndDescription}" escape="false"/>
			</p:column>
			<p:column headerText="Cantidad" styleClass="content-right" style="width:70px">
				<h:outputText value="#{detail.quantity}">
					<f:convertNumber pattern="###,###,##0" locale="en_US"/>
				</h:outputText>
			</p:column>		
			<p:column headerText="Valor Nominal" styleClass="content-right"  style="width:150px">
				<h:outputText value="#{detail.securityNominalValue}">
					<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
				</h:outputText>
			</p:column>			
			<p:column headerText="Estado" style="width:150px"
				rendered="#{certificateVaultManageBean.searchCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<h:outputText value="#{detail.stateDesc}" escape="false"/>
			</p:column>			
			<p:column headerText="N° Bóveda" styleClass="content-center"  style="width:225px">
				<p:selectOneMenu value="#{detail.idVaultPk}" styleClass="combo-widh-medium"  disabled="#{detail.blIsCupon or detail.state eq 2716 or detail.state eq 2720 or detail.state eq 2717 or detail.state eq 2721  }">
					<f:selectItems value="#{certificateVaultManageBean.lstVaults}"
						var="paramTab" itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					<p:ajax process="@this" update="@form" listener="#{certificateVaultManageBean.selectedAllBoveda(detail)}" />
				</p:selectOneMenu>
			</p:column>
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{certificateVaultManageBean.searchCertificateVaultTO.lstResult.rowCount}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>		
		</p:outputPanel>	
	</td>
</tr>
<tr>
	<td align="center">
		<br/>
		<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save"
			actionListener="#{certificateVaultManageBean.beforeEntry()}" update="outPnlDialogs :opnlGenericDialogs"/>
		<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" 
					actionListener="#{certificateVaultManageBean.clean}"
					update="@form" icon="fa fa-trash"/>
		<p:commandButton value="#{gmsgs['btn.back']}" process="@this" icon="fa fa-undo"
			action="#{certificateVaultManageBean.back()}"/>				
	</td>
</tr>
</table>
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{certificateVaultManageBean.entryVault()}" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" 
		action="#{certificateVaultManageBean.back()}" process="@this"/>
</p:confirmDialog>
</p:outputPanel>	
</h:form>
</ui:define>
</ui:composition>
</html>