<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	<!-- xmlns:ark="http://java.sun.com/jsf/composite/helpers" -->
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importEnum type="com.pradera.model.custody.payroll.PayrollType" var="payrollType"/>
		<h:form id="frmHolderRequestSearch">
			<table width="100%">
			<tr>
				<td>
					<table width="100%">
					<tr>
						<td align="left">
							<h:outputText value="Administrar Bóveda" styleClass="title-page"/>
						</td>
						<td align="right">
							<p:commandButton value="Ingreso a Bóveda"
								icon="fa fa-edit" process="@this" action="#{certificateVaultManageBean.entry}"/>
							<p:commandButton value="Salida de Bóveda"
								icon="fa fa-edit" process="@this" action="#{certificateVaultManageBean.exit}"/>
						</td>
					</tr>
					</table>
				</td>
			</tr>
				<tr>
					<td>
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['deposito.crit.lbl']}">
							<table width="100%">
								<tr>
									<td width="10%">
										<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
									</td>
									<td width="40%">
										<h:panelGrid columns="2">
										 	<p:selectOneMenu id="cboPayrollType" label="Tipo Planilla"
												value="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
												<f:selectItems value="#{certificateVaultManageBean.lstPayrollTypesSearch}"
															   var="payRoll" itemLabel="#{payRoll.parameterName}" itemValue="#{payRoll.parameterTablePk}" />
												<p:ajax global="false" update="@this msgPayrollType lblEntity inputEntity idPnlResults"
														process="@this" listener="#{certificateVaultManageBean.cleanResultsSearch}" />
											   	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											</p:selectOneMenu>
											<p:message display="icon" id="msgPayrollType" for="cboPayrollType" />
										</h:panelGrid>
									</td>
									<ui:remove>
									<td width="10%">
										<h:outputText value="Sucursal "/>
									</td>
									<td width="40%">
									 	<p:selectOneMenu id="cboSucursal" label="Sucursal"
									 					 value="#{certificateVaultManageBean.filterCertificateVaultTO.branchOffice}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
											<f:selectItems value="#{certificateVaultManageBean.lstBranchOfficesSearch}" var="branchOffice"
														   itemLabel="#{branchOffice.parameterName}" itemValue="#{branchOffice.parameterTablePk}" />
											<p:ajax global="false" update="@this idPnlResults"
													process="@this" listener="#{certificateVaultManageBean.cleanResultsSearch}" />
										</p:selectOneMenu>
									</td>
									</ui:remove>
								</tr>
								<tr>
									<td width="10%">
										<p:outputPanel id="lblEntity">
										<h:outputText value="#{gmsgs['participant.lbl']}"
											rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
											or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}" />
										<h:outputText value="#{msgs['lbl.retiro.emisor']}" styleClass="campo-requerido"
											rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code}"/>
										</p:outputPanel>
									</td>
									<td colspan="3">
										<p:outputPanel id="inputEntity">
										
											<p:selectOneMenu id="cboParticipant"
												value="#{certificateVaultManageBean.filterCertificateVaultTO.idParticipantPk}"
												disabled="#{userInfo.userAccountSession.participantInstitucion}"
												rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
													or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
												<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
												<f:selectItems value="#{certificateVaultManageBean.lstParticipantsSearch}" var="participant"
													itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
												<p:ajax event="change" process="@this" partialSubmit="true" listener="#{certificateVaultManageBean.changeParticipant}"
													update="@this idPnlResults"/>
											</p:selectOneMenu>
											
											<h:panelGrid rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code}">
												<arkHelp:issuerHelper id="idIssuerPk" issuer="#{certificateVaultManageBean.filterCertificateVaultTO.issuer}"
																	remoteListener="cleanResultForIssuer()" />
												<p:remoteCommand name="cleanResultForIssuer" update="@this idPnlResults"
																actionListener="#{certificateVaultManageBean.cleanResultsSearch}" />
											</h:panelGrid>
											
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td width="10%">
										<h:outputText value="#{gmsgs['security.lbl.code']}" />
									</td>
									<td width="40%">
										<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
											<arkHelp:securityHelper id="pnlSecurityAccHelp"
												security="#{certificateVaultManageBean.filterCertificateVaultTO.security}"
												issuer="#{certificateVaultManageBean.filterCertificateVaultTO.issuer}"
												remoteListener="updateFieldSe()"/>
											<p:remoteCommand name="updateFieldSe" update="pnlSecurityAccHelp securityHelp idPnlResults" process="@this"
											 				 actionListener="#{certificateVaultManageBean.cleanResultsSearch}" />
											<p:spacer width="5"/>
											<p:outputPanel id="securityHelp">
												<arkHelp:securities-help securityCode="#{certificateVaultManageBean.filterCertificateVaultTO.security.idSecurityCodePk}"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
									<td width="10%">
										<h:outputText value="Situación"/>
									</td>
									<td width="40%">
									 	<p:selectOneMenu id="cboSituation" label="Situación"
									 					 value="#{certificateVaultManageBean.filterCertificateVaultTO.situation}">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
											<f:selectItems value="#{certificateVaultManageBean.lstSituationSearch}" var="situation"
														   itemLabel="#{situation.parameterName}" itemValue="#{situation.parameterTablePk}" />
											<p:ajax global="false" update="@this idPnlResults"
													process="@this" listener="#{certificateVaultManageBean.cleanResultsSearch}" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td width="10%">
										<h:outputText value="#{msgs['deposito.fecha.inicial']} (*)" styleClass="required-field" />
									</td>
									<td width="40%">
										<p:calendar id="idInitialDate"
											maxdate="#{certificateVaultManageBean.currentSystemDate}" 
											readonly="#{facesContext.renderResponse}" 
											required="true" size="10" navigator="true"
											value="#{certificateVaultManageBean.filterCertificateVaultTO.initialDate}" 
											pattern="#{msgs['dateFormat']}" showOn="both"/>
									</td>
									<td width="10%">
										<h:outputText value="#{msgs['deposito.fecha.final']} (*)" styleClass="required-field"/>
									</td>
									<td width="40%">
										<p:calendar id="idFinalDate"
											readonly="#{facesContext.renderResponse}"
											size="10" navigator="true" required="true"
											maxdate="#{certificateVaultManageBean.currentSystemDate}"
											value="#{certificateVaultManageBean.filterCertificateVaultTO.finalDate}"
											pattern="#{msgs['dateFormat']}" showOn="both"/>
									</td>
								</tr>
								<tr align="center">
									<td colspan="4">
										<p:commandButton id="idBtnSearch" icon="fa fa-search"
											value="#{gmsgs['btn.search']}" process="@form, @this"
											partialSubmit="true" update="fsCriteriaSearch idPnlResults"
											actionListener="#{certificateVaultManageBean.searchCertificateVault}"/>
										<p:commandButton id="idBtnClear" icon="fa fa-trash"
											immediate="true" value="#{gmsgs['btn.clean']}"
											update="@form" actionListener="#{certificateVaultManageBean.cleanSearch}"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="idPnlResults">
							<p:fieldset id="idFsResults" legend="#{msgs['lbl.results']}"
								rendered="#{not empty certificateVaultManageBean.filterCertificateVaultTO.lstResult}">
								
								<p:dataTable id="dtbResult" var="certificate" value="#{certificateVaultManageBean.filterCertificateVaultTO.lstResult}"
									paginator="true" rows="10" paginatorPosition="top" paginatorTemplate="#{msgs['dtb.paginator.template']}"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx" >
									 
									<p:column styleClass="content-center" sortBy="#{certificate.mnemonicParticipant}" headerText="#{gmsgs['participant.lbl']}"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code
											or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
										<h:outputText style="float:center" value="#{certificate.mnemonicParticipant}" />
									</p:column>
									<p:column sortBy="#{certificate.mnemonicIssuer}" styleClass="content-center" headerText="Emisor">
										<h:outputText style="float:center" value="#{certificate.mnemonicIssuer}" />
									</p:column>
									<p:column sortBy="#{certificate.bovedaPath}" styleClass="content-center" headerText="Bóveda"
									rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}" >
										<h:outputText style="float:center" value="#{certificate.bovedaPath}" />
									</p:column>
									
									<ui:remove>
									<p:column sortBy="#{detail.idCustodyOperationPk}" headerText="#{msgs['consult.location.requestNoCol']}" styleClass="content-right"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code
										or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
										<h:outputText value="#{certificate.idCustodyOperationPk}"/>
									</p:column>
									</ui:remove>
									
									<p:column sortBy="#{certificate.idCorporativeOperationPk}" headerText="ID Hecho de Importancia" styleClass="content-right"
										rendered="#{ccertificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code}">
										<h:outputText value="#{certificate.idCorporativeOperationPk}"/>
									</p:column>
									
									<ui:remove>
									<p:column styleClass="content-center" sortBy="#{certificate.certificateNumber}" headerText="#{msgs['lbl.no.certificate']}"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code
										or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
										<p:commandLink style="color:blue" process="@this" immediate="true" >
											<h:outputText style="float:center" value="#{certificate.certificateNumber}"/>
										</p:commandLink>
									</p:column>
									</ui:remove>
									
									<p:column styleClass="content-center" sortBy="#{certificate.serialCode}" headerText="Serie"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code
										or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
											<h:outputText style="float:center" value="#{certificate.serialCode}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{certificate.entryDate}" headerText="Fecha de Ingreso" >
										<h:outputText style="float:center" value="#{certificate.entryDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
										</h:outputText>
									</p:column>
									<p:column sortBy="#{certificate.expirationDate}" styleClass="content-center" headerText="Fecha Vencimiento"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}" >
										<h:outputText style="float:center" value="#{certificate.expirationDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
										</h:outputText>
									</p:column>
									<p:column sortBy="#{certificate.securityNominalValue}" styleClass="content-center" headerText="Valor Nominal"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}" >
										<h:outputText style="float:center" value="#{certificate.securityNominalValue}" >
											<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
										</h:outputText>
									</p:column>
									<p:column styleClass="content-center" sortBy="#{certificate.idSecurityCodePk}" headerText="#{gmsgs['security.lbl.code']}">
										<arkHelp:securities-help securityCode="#{certificate.idSecurityCodePk}"
											link="true" icon="false">
										</arkHelp:securities-help>
									</p:column>
									<ui:remove>
									<p:column headerText="N° Cuenta" styleClass="content-center"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
										or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
										<h:outputText value="#{certificate.holderAccount.accountNumber}"/>
									</p:column>		
									</ui:remove>
									<p:column headerText="#{gmsgs['holder.lbl.description']}"
										rendered="#{certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
										or certificateVaultManageBean.filterCertificateVaultTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
										<h:outputText value="#{certificate.holderAccount.accountRntAndDescription}" escape="false"/>
									</p:column>
									
									<p:column sortBy="#{certificate.situationDesc}" styleClass="content-center" headerText="Situación" >
										<h:outputText style="float:center" value="#{certificate.situationDesc}" />
									</p:column>
									
									<f:facet name="footer">	
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
											<f:param value="#{certificateVaultManageBean.filterCertificateVaultTO.lstResult.rowCount}"/>
										</h:outputFormat>
									</f:facet>
								</p:dataTable>
							</p:fieldset>							
 							<p:outputPanel rendered="#{certificateVaultManageBean.filterCertificateVaultTO.blNoResult}" >
								<p:panel>
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" />
								</p:panel>				
							</p:outputPanel>
						</p:outputPanel>
					</td>
				</tr>
			</table>
			
	</h:form>	
	</ui:define>
</ui:composition>
</html>