<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmAccounts" >
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['lbl.relation.investorType.title']}" styleClass="title-page" />
					</td>
				</tr>
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:dataTable 
									id="dtbResult" var="economicActivity"
									style="padding-right:0px !important"
									paginator="true" rows="10"  paginatorPosition="top"
									value="#{investorTypeMgmtBean.modelTOReg.lstEconomicActivity}" 
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
							        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									rowKey="#{economicActivity}" editable="true">
									
								<p:ajax event="rowEdit" listener="#{investorTypeMgmtBean.onRowEdit}" update="dtbResult" />
        						<p:ajax event="rowEditCancel" listener="#{investorTypeMgmtBean.onRowCancel}" update="dtbResult" />
									
								<p:column styleClass="content-center" sortBy="#{economicActivity.parameterTablePk}">
									<f:facet name="header">
										<h:outputText style="width:80px" value="#{msgs['lbl.column.investorType.numberRow']}" />
									</f:facet>
									<h:outputText style="float:right;" value="#{economicActivity.parameterTablePk}" />
								</p:column>
								
								<p:column styleClass="content-left" sortBy="#{economicActivity.parameterName}">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.column.investorType.economicActivity']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{economicActivity.parameterName}" />
								</p:column>
								
								<p:column styleClass="content-left" sortBy="#{investorTypeMgmtBean.getInvestorTypeRelated(economicActivity.shortInteger)}">
									<f:facet name="header">
										<h:outputText value="#{msgs['lbl.column.investorType.shortName']}" escape="false"/>
									</f:facet>
									<p:cellEditor>
						                <f:facet name="output">
						                	<h:outputText value="#{investorTypeMgmtBean.getInvestorTypeRelated(economicActivity.shortInteger)}" />
						                </f:facet>
						                <f:facet name="input">
						                    <h:panelGrid columns="2">
												<p:selectOneMenu  id="somInvestorType" value="#{economicActivity.shortInteger}" 
																  style="width:430px;" label="un Tipo de Inversionista" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
													<f:selectItems value="#{investorTypeMgmtBean.modelTOReg.lstInvestorTypeToRelation}" var="investorTypeVar" 
																   itemLabel="#{investorTypeVar.parameterName}" itemValue="#{investorTypeVar.parameterTablePk}" />
													<p:ajax event="change" update="@this validatePart" />
													<f:validator validatorId="selectOneRequiredValidator" />
													<f:param name="skipValidation" value="true"/>
												</p:selectOneMenu>
												<p:message id="validatePart" for="somInvestorType" display="icon" />
											</h:panelGrid>
						                </f:facet>
						            </p:cellEditor>
								</p:column>
								
								<p:column style="width:35px">
						            <p:rowEditor />
						        </p:column>
								
								<f:facet name="footer">	
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
										<f:param value="#{investorTypeMgmtBean.modelTOReg.lstEconomicActivity.size()}"/>
									</h:outputFormat>
								</f:facet>
									
							</p:dataTable>								
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2"> 
						<p:outputPanel >
							<p:commandButton value="#{gmsgs['btn.back']}" 
											 icon="fa fa-undo" immediate="true"
											 action="#{investorTypeMgmtBean.goPageSearch}"
											 process="@this" >
							</p:commandButton> 
						</p:outputPanel>
						
					</td> 
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="cnfRegisterMgmtBean" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfRegisterMgmtBean" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{investorTypeMgmtBean.saveRegister}"	    						 
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{investorTypeMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTrasnactionMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTrasnactionMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchInvestorType"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="alertValidationMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alertValidationMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
				        			 process="@this"
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('alertValidationMgmtBean').hide()"
			        				 update="@form :frmAccounts"
			        				  > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>