<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmAccounts" >
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['lbl.search.investorType.title']}" styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton
							value="#{msgs['lbl.search.investorType.relation.btn']}"
							icon="fa fa-edit" immediate="true"
							rendered="#{investorTypeMgmtBean.privilegeRegister}"
							action="#{investorTypeMgmtBean.goPageRelation()}" />
							
						<p:commandButton
							value="#{msgs['lbl.search.investorType.register.btn']}"
							icon="fa fa-edit" immediate="true"
							oncomplete="PF('dlgRegister').show();"
							update=":formRegister"
							rendered="#{investorTypeMgmtBean.privilegeRegister}"
							action="#{investorTypeMgmtBean.goPageRegister()}" />
					</td>
				</tr>
				
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:fieldset id="fsListado" legend="#{msgs['lbl.results']}" 
										rendered="#{not empty investorTypeMgmtBean.lstInvestorTypeModelTO}">
								<p:dataTable 
										id="dtbResult" var="investorTypeVar"
										style="padding-right:0px !important"
										paginator="true" rows="10"  paginatorPosition="top"
										selection="#{investorTypeMgmtBean.modelTOView}"
										value="#{investorTypeMgmtBean.searchInvestorTypeDataModel}" 
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{investorTypeVar}" editable="true">
										
									<p:ajax event="rowEdit" listener="#{investorTypeMgmtBean.onRowEditInvestorType}" update="dtbResult :opnlGenericDialogs :opnlDialogs" process="dtbResult" />
        							<p:ajax event="rowEditCancel" listener="#{investorTypeMgmtBean.onRowCancelInvestorType}" update="dtbResult :opnlGenericDialogs :opnlDialogs" process="dtbResult" />
									
									<p:column styleClass="content-center" sortBy="#{investorTypeVar.id}">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.column.investorType.numberRow']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{investorTypeMgmtBean.linkView(investorTypeVar)}">
											<h:outputText style="float:right;" value="#{investorTypeVar.id}" />
										</p:commandLink>																			
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{investorTypeVar.shortName}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.column.investorType.shortName']}" escape="false"/>
										</f:facet>
										
										<p:cellEditor>
						                   <f:facet name="output">
						                   		<h:outputText value="#{investorTypeVar.shortName}" />
						                   	</f:facet>
						                   <f:facet name="input">
						                   		<h:panelGrid columns="2">
													<p:inputText id="itShortNameModify" value="#{investorTypeVar.shortName}"
																label="un Nombre del Tipo de Inversionista"
																style="text-align:left; width:250px;" maxlength="60" >
														<f:validator  validatorId="inputRequiredValidator" />
														<f:param name="skipValidation" value="true"/>
													</p:inputText>
													<p:message for="itShortNameModify"  display="icon" />
												</h:panelGrid>
						                   </f:facet>
						               </p:cellEditor>
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{investorTypeVar.description}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.column.investorType.description']}" escape="false"/>
										</f:facet>
										<p:cellEditor>
						                   <f:facet name="output">
						                   		<h:outputText value="#{investorTypeVar.description}" />
						                   	</f:facet>
						                   <f:facet name="input">
						                   		<h:panelGrid columns="2">
													<p:inputTextarea id="itaDescriptionModify" maxlength="250"
														label="una descripcion del Tipo de Inversionista"
						    							style="width:300px;" value="#{investorTypeVar.description}">
									    				<f:validator  validatorId="inputRequiredValidator" />
									    				<f:param name="skipValidation" value="true"/>	
									    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
									    			</p:inputTextarea>
									    			<p:message for="itaDescriptionModify"  display="icon" />
								    			</h:panelGrid>
						                   </f:facet>
						               </p:cellEditor>
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{investorTypeVar.stateText}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.column.investorType.state']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{investorTypeVar.stateText}" />
									</p:column>
									
									<p:column style="width:35px">
						            	<p:rowEditor />
						        	</p:column>
									
									<f:facet name="footer">	
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
											<f:param value="#{investorTypeMgmtBean.lstInvestorTypeModelTO.size()}"/>
										</h:outputFormat>
									</f:facet>
										
								</p:dataTable>								
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:dialog id="dlgRegister" closable="false" widgetVar="dlgRegister" resizable="false" modal="true" showEffect="explode" hideEffect="explode" >
			<h:form id="formRegister">
				<table width="100%">
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.register.investorType.title']}" styleClass="title-page" />
						</td>
					</tr>
					<tr>
						<td>
							<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.register.investorType.register.data']}" >
								<table width="100%"> 
									<tr>
										<td width="25px"></td>
										<td width="150"></td>
										<td></td>
									</tr>
									<tr>
										<td width="25px"></td>
										<td width="150">
											<h:outputText value="#{msgs['lbl.register.investorType.shortName']} (*)" styleClass="required-field"/>
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText id="itShortName" value="#{investorTypeMgmtBean.modelTOReg.shortName}" 
															label="un Nombre del Tipo de Inversionista"
															style="text-align:left; width:250px" maxlength="60" >
													<f:validator  validatorId="inputRequiredValidator" />	
													<f:param name="skipValidation" value="true"/>		
												</p:inputText>
												<p:message for="itShortName"  display="icon" />
											</h:panelGrid>
										</td>
									</tr>
									
									<tr>
										<td width="25px"></td>
										<td width="150">
											<h:outputText value="#{msgs['lbl.register.investorType.description']} (*)" styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputTextarea id="itaDescription" maxlength="250"
													label="una descripcion del tipo de Inversionista"
					    							style="width:300px;" value="#{investorTypeMgmtBean.modelTOReg.description}">
								    				<f:validator  validatorId="inputRequiredValidator" />
								    				<f:param name="skipValidation" value="true"/>	
								    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
								    			</p:inputTextarea>
								    			<p:message for="itaDescription"  display="icon" />
							    			</h:panelGrid>
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2"> 
							<p:outputPanel >
							<p:commandButton value="#{gmsgs['btn.save']}" 
											 icon="fa fa-save" 
											 action="#{investorTypeMgmtBean.beforeSaveRegister}"
											 process="@this @form" update="@form :opnlGenericDialogs :opnlDialogs" >
							</p:commandButton> 
											 
							<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
											
							<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
											 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()"
											 actionListener="#{investorTypeMgmtBean.btnClearRegister}" update="@form" />
							
							<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
							
							<p:commandButton value="#{gmsgs['btn.back']}" 
											 icon="fa fa-undo"
											 oncomplete="PF('dlgRegister').hide();"
											 action="#{investorTypeMgmtBean.goPageSearch}"
											 process="@this" >
							</p:commandButton> 
							
							</p:outputPanel>
							
						</td> 
					</tr>
				</table>
			</h:form> 
		</p:dialog>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="alertValidationMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alertValidationMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
				        			 process="@this"
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('alertValidationMgmtBean').hide()"
			        				 update="@form :formRegister"
			        				  > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="cnfRegisterMgmtBean" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfRegisterMgmtBean" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{investorTypeMgmtBean.saveRegister}"	    						 
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{investorTypeMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTrasnactionMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTrasnactionMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchInvestorType"
			        				 update="@form :frmAccounts"
			        				 oncomplete="PF('cnfEndTrasnactionMgmtBean').hide(); PF('dlgRegister').hide();"
			        				  > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>