<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['lbl.view.investorType.title']}" styleClass="title-page" />
		
		<h:form id="frmAccounts">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.view.investorType.register.data']}" >
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.investorType.state']}"/>
									</td>
									<td>
										<p:inputText value="#{investorTypeMgmtBean.modelTOView.stateText}"
													disabled="true" 
													style="text-align:left;" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.investorType.shortName']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="itShortName" value="#{investorTypeMgmtBean.modelTOView.shortName}"
														label="un Nombre del Tipo de Inversionista"
														disabled="#{!investorTypeMgmtBean.operationModify}" 
														style="text-align:left; width:250px;" maxlength="60" >
												<f:validator  validatorId="inputRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:inputText>
											<p:message for="itShortName"  display="icon" />
										</h:panelGrid>
									</td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.investorType.description']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputTextarea id="itaDescription" maxlength="250"
												label="una descripcion del Tipo de Inversionista"
				    							style="width:300px;" value="#{investorTypeMgmtBean.modelTOView.description}"
				    							disabled="#{!investorTypeMgmtBean.operationModify}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
							    			</p:inputTextarea>
							    			<p:message for="itaDescription"  display="icon" />
						    			</h:panelGrid>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="4"> 
						<p:outputPanel >
						
						<p:commandButton id="cmbModify"
										 value="#{gmsgs['btn.modify']}"
										 action="#{investorTypeMgmtBean.beforeModify}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-approve"
										 rendered="#{investorTypeMgmtBean.operationModify}"/>
										 
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton value="#{gmsgs['btn.back']}" 
										 icon="fa fa-undo" immediate="true"
										 action="#{investorTypeMgmtBean.backToSearchFromView}"
										 process="@this" 
										 rendered="#{!investorTypeMgmtBean.operationModify}"
										 >
						</p:commandButton>
						
						<p:commandButton value="#{gmsgs['btn.back']}" 
										 icon="fa fa-undo" immediate="true"
										 onclick="if(isModifiedFormForBack(this,'frmAccounts'))return false;"
										 action="#{investorTypeMgmtBean.backToSearchFromView}"
										 process="@this"
										 rendered="#{investorTypeMgmtBean.operationModify}">
						</p:commandButton> 
						
						</p:outputPanel>
						
					</td> 
				</tr>
			</table>
			
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="cnfRegisterMgmtBean" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfRegisterMgmtBean" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{investorTypeMgmtBean.saveOperation}"	    						 
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{investorTypeMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfRegisterMgmtBean').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTrasnactionMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTrasnactionMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchInvestorType"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="alertValidationMgmtBean" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alertValidationMgmtBean" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
			        				 value="#{msgs['btn.accept']}"  update=":frmConfirmChannelOpRegister :opnlDialogs"
			        				 oncomplete="PF('alertValidationMgmtBean').hide()" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>