<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).on('load',function(){
	setInitialFormState('#frmManualRegisterMCN');
	setAllHolidays('${mcnManualMgmtBean.allHolidays}'); 
});
</script>
<h:outputText value="#{gmsgs['inegotiations.mcnoperations.register.title']}" styleClass="title-page" />
<h:form id="frmManualRegisterMCN">
<table width="100%">
<tr>
	<td width="100%">
		<p:fieldset id="fldDatosNegoc" legend="#{msgs['lbl.operation.panel.negotitation']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.mechanism']} (*) " 
					styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboNegoMechanism" label="#{msgs['lbl.operation.mechanism']}" 
					disabled="#{!mcnManualMgmtBean.blDepositary}" 
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.mechanisnModality.id.idNegotiationMechanismPk}" >
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstNegotiationMechanisms}" var="negoMechanism"
						itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.description}"/>
			        	<p:ajax event="change" update="@form" 
			          		listener="#{mcnManualMgmtBean.changeNegotiationMechanismRegister}"/>
			         	<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
		     	</p:selectOneMenu>
		     	<p:message for="cboNegoMechanism" display="icon" id="msgNegoMechanism"/>
			 	</h:panelGrid>	
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.modality']} (*)" 
					styleClass="required-field"/>
			</td>
			<td width="30%">
			  	<h:panelGrid columns="2">
				<p:selectOneMenu id="cboNegoModality" label="#{msgs['lbl.operation.modality']}"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstNegotiationModalities}" 
						var="negoModality" itemLabel="#{negoModality.modalityName}" itemValue="#{negoModality.idNegotiationModalityPk}"/>
						<p:ajax event="change" update="@form" 
							listener="#{mcnManualMgmtBean.changeNegotiationModality}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />	
				</p:selectOneMenu>
				<p:message for="cboNegoModality" display="icon" id="msgNegoModality"/>
			 	</h:panelGrid>								
			</td>
		</tr>
		<tr>			
			<td>
				<p:outputPanel id="opnlOperationRepoDate">				
				<h:outputText value="#{msgs['lbl.operation.reportOperation.date']} (*)" styleClass="required-field"
					rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}"/>
				</p:outputPanel>
			</td>
			<td>
				<p:outputPanel id="pgOperationRepoDate">
				<h:panelGrid columns="2" rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}">
				<p:calendar readonlyInput="true" value="#{mcnManualMgmtBean.registerMCNOperationsTO.operationRepoDate}"
					id="txtOperationRepoDate" rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}"
					disabledWeekends="true" navigator="true" maxdate="#{mcnManualMgmtBean.currentSystemDate}"
					size="10" showOn="both" pattern="#{gmsgs['calendar.date.format']}">
					<p:ajax global="false" process="@this" update="@this msgOperationRepoDate" event="dateSelect"/>
				</p:calendar>
				<p:message for="txtOperationRepoDate" display="icon" id="msgOperationRepoDate"/>
				</h:panelGrid>					
				</p:outputPanel>
			</td>
			<td>
				<p:outputPanel id="opnlOperationRepoNumber">
				<h:outputText value="#{msgs['lbl.operation.reportOperation.number']} (*)" styleClass="required-field"
					rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}"/>
				</p:outputPanel>
			</td>
			<td>
				<p:outputPanel id="pgOperationRepoNumber">
				<h:panelGrid columns="4" rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.operationRepoNumber}" size="10"
					id="txtOperationRepoNumber" styleClass="content-right">
					<p:keyFilter mask="pint"/>
					<p:ajax global="false" process="@this" update="@this msgOperationRepoNumber"/>
				</p:inputText>
				<p:message for="txtOperationRepoNumber" display="icon" id="msgOperationRepoNumber"/>
				<p:spacer width="10"/>
				<p:commandButton update="@form" process="@this txtOperationRepoDate txtOperationRepoNumber"
					actionListener="#{mcnManualMgmtBean.findOperationRepo()}" value="#{gmsgs['btn.search']}" icon="ui-search"/>
				</h:panelGrid>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationDate']} (*)" 
					styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.operationDate}" 
					size="10" disabled="true">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
				</h:panelGrid>	
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.mechanism.operationNumber']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:inputText id="txtReferenceNumber" label="#{msgs['lbl.operation.mechanism.operationNumber']}"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.referenceNumber}" size="30" maxlength="30"
					required="true" >							
					<p:ajax event="change" update="@this calReferenceDate :opnlGenericDialogs" 
						partialSubmit="true"  process="@this" listener="#{mcnManualMgmtBean.validateReferenceNumber}"/>
					<p:keyFilter mask="num" />
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.mechanism.operationDate']}" id="lblReferenceDate"/>
			</td>
			<td>
				<p:calendar readonlyInput="true" value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.referenceDate}"   
					beforeShowDay="disableAllHolydays" disabledWeekends="true" navigator="true" id="calReferenceDate"
					disabled="true" maxdate="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.operationDate}"
					size="10" showOn="both" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.buyer']} (*)" 
						styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboPartBuyer" label="#{msgs['lbl.operation.participant.buyer']}" 
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.buyerParticipant.idParticipantPk}" style="width:500px"
					disabled="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstPurchaseParticipants}" var="participant" 
						itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
						<p:ajax event="change" update="@this msgPartBuyer" process="@this" global="false"/>
				</p:selectOneMenu>
				<p:message for="cboPartBuyer" display="icon" id="msgPartBuyer"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>						
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.seller']} (*)" 
					styleClass="required-field"/>
			</td>
			<td colspan="3">	
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboPartSeller" label="#{msgs['lbl.operation.participant.seller']}"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.sellerParticipant.idParticipantPk}" style="width:500px"
					disabled="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstSaleParticipants}" var="participant" 
						itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" update="@this msgPartSeller" process="@this" global="false"/>
			    </p:selectOneMenu>
			    <p:message for="cboPartSeller" display="icon" id="msgPartSeller"/>
			    </h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.security.classCode']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" security="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities}"
					required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
					disabled="#{mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}" 
					remoteListener="updateFieldSe()" label="#{msgs['lbl.operation.security.classCode']}"
					negoModality="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}"/>
				<p:remoteCommand name="updateFieldSe" actionListener="#{mcnManualMgmtBean.validateSecurity}"
					update=":frmManualRegisterMCN:securityHelper:outpnlSecurity msgSecurity securityHelp opnlSecData cboCurrency msgCurrency opnlMarketFact opnlMarketFactInput
							txtCashSettlementDays msgCashSettlementDays txtCashSettlementDate txtTermSettlementDays msgTermSettlementDays txtTermSettlementDate txtQuantity msgQuantity
							:opnlGenericDialogs" process="@this"/>								
				<p:message for=":frmManualRegisterMCN:securityHelper:securityHelper" display="icon" id="msgSecurity"/>
				<p:spacer width="5"/>
				<p:outputPanel id="securityHelp">
				<ark:securities-help securityCode="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.idSecurityCodePk}"/>
				</p:outputPanel>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td/>
			<td colspan="3">
				<p:outputPanel id="opnlSecData">
				<h:panelGrid columns="11" rendered="#{not empty mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.idSecurityCodePk}">		
				<h:outputText value="#{msgs['lbl.operation.security.currentNominalValue']}"/>
				<p:spacer width="5"/>
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.currentNominalValue}" size="20" 
					disabled="true" styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
				<p:spacer width="15"/>
				<h:outputText value="#{msgs['lbl.operation.security.currency']}"/>
				<p:spacer width="5"/>
				<p:selectOneMenu value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.currency}" disabled="true">
					<f:selectItem itemLabel="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.currencyName}" 
						itemValue="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.currency}"/>
			    </p:selectOneMenu>
			    <p:spacer width="15"/>
			    <h:outputText value="#{msgs['lbl.operation.exchangeRate']}" rendered="#{not empty mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.exchangeRate}"/>
				<p:spacer width="5"/>
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.exchangeRate}" size="10" 
					disabled="true" styleClass="content-right" rendered="#{not empty mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.exchangeRate}">					
				</p:inputText>
				</h:panelGrid>
				</p:outputPanel>
			</td>
		</tr>		
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.stockQuantity']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputNumber id="txtQuantity" value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.stockQuantity}"
					style="text-align:right" label="#{msgs['lbl.operation.stockQuantity']}" 
					size="30" maxValue="99999999999999999999" decimalPlaces="0" thousandSeparator="," decimalSeparator=".">
					<p:ajax event="blur" process="@this" global="false"
						update="@this msgQuantity txtCashAmount txtRealCashPrice txtRealCashAmount txtTermPrice txtTermAmount opnlMarketFactInput :opnlGenericDialogs txtCleanPrice" 
					    listener="#{mcnManualMgmtBean.changeStockQuantity}"/>							    
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
				</p:inputNumber>
				<p:message for="txtQuantity" display="icon" id="msgQuantity"/>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationCurrency']} (*)" 
					styleClass="required-field"/> 
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:selectOneMenu label="#{msgs['lbl.operation.operationCurrency']}"
					disabled="#{mcnManualMgmtBean.registerMCNOperationsTO.blSameCurrency or mcnManualMgmtBean.registerMCNOperationsTO.blOperationRepo}"
					id="cboCurrency" value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.currency}" >
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstCurrency}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
						<p:ajax event="change" update="@this msgCurrency txtQuantity" global="false"/>
			    </p:selectOneMenu>	
			    <p:message for="cboCurrency" display="icon" id="msgCurrency"/>
			    </h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlMarketFact">
				<p:outputPanel rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blMarketFact and mcnManualMgmtBean.registerMCNOperationsTO.blRate}">
				<h:outputText value="#{msgs['lbl.operation.operationRate']} (%) (*)" styleClass="required-field" />
				</p:outputPanel>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<p:outputPanel id="opnlMarketFactInput">
				<p:outputPanel rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blMarketFact and mcnManualMgmtBean.registerMCNOperationsTO.blRate}">
				<h:panelGrid columns="2" >
				<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.amountRate}" 
					id="txtRate" style="text-align: right; width:200px !important;" label="#{msgs['lbl.operation.operationRate']}"
					decimalSeparator="." thousandSeparator="," minValue="-9999999999.9999" maxValue="9999999999.9999" decimalPlaces="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.currency eq 127 ? 0 : 2}">
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
					<p:ajax update="@this msgRate txtCashAmount txtRealCashPrice txtRealCashAmount txtTermPrice txtTermAmount txtTermSettlementDays msgTermSettlementDays txtTermSettlementDate"  
						listener="#{mcnManualMgmtBean.onChangeRate}" process="@this" event="blur" resetValues="true" global="false"/>
				</p:inputNumber> 
				<p:message for="txtRate" id="msgRate" display="icon" />
				</h:panelGrid>
				</p:outputPanel>
				</p:outputPanel>
			</td>	
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:fieldset legend="#{msgs['lbl.operation.panel.cash.settlement']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.settlementSchema']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<p:selectOneMenu value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.settlementSchema}" disabled="true"
					id="cboSettlementSchema">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstSettlementSchema}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.cash.settlementType']} (*)" 
					styleClass="required-field"/>
			</td>
			<td width="30%">
				<p:selectOneMenu value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.settlementType}" disabled="true"
					id="cboSettlementType">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{mcnManualMgmtBean.registerMCNOperationsTO.lstSettlementType}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
			    </p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementDays']} (*)" 
					styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
			    <p:inputText id="txtCashSettlementDays" styleClass="content-right" size="5" maxlength="3"
			     	label="#{msgs['lbl.operation.cash.settlementDays']}"
			        value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.cashSettlementDays}"
			        disabled="#{empty mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.securities.idSecurityCodePk}">
					<p:ajax event="change" process="@this" update="@this msgCashSettlementDays txtCashSettlementDate opnlTermPart :opnlGenericDialogs" 
						partialSubmit="true" global="false" listener="#{mcnManualMgmtBean.getCashSettlementDate}"/>
					<p:keyFilter mask="pint"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
				</p:inputText>
			   	<p:message for="txtCashSettlementDays" id="msgCashSettlementDays" display="icon"/>
			    </h:panelGrid> 
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementDate']}"/>
			</td>
			<td>
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.cashSettlementDate}" 
					size="10" disabled="true" id="txtCashSettlementDate">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="Precio Dirty % (*)" styleClass="required-field" />
			</td>
			<td>
				<p:outputPanel id="realPricePercentagePnl">
					<h:panelGrid columns="2" id="pnlRealPricePercetange">
					<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.realCashPricePercentage}" 
									required="true" 
									maxValue="#{msgs['lbl.maxium.value']}" 
									thousandSeparator="," decimalSeparator="." decimalPlaces="6" id="txtRealCashPrice" 
									disabled="#{!mcnManualMgmtBean.viewOperationRegister}">
						<p:ajax event="change" global="false" update="@form :opnlGenericDialogs" 
							listener="#{mcnManualMgmtBean.dirtyPriceChange}" process="@this"></p:ajax>
					</p:inputNumber>
					<p:message for="txtRealCashPrice" display="icon" id="iconTxtRealPricePercentage"/>
					</h:panelGrid>
				</p:outputPanel>
			</td>
			<td>
				<h:outputText value="Monto Dirty (*)" styleClass="required-field"/>
			</td>
			<td>
				<p:outputPanel id="priceOpPnl">
					<h:panelGrid columns="2" id="pnlRealCashPrice">
					<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.realCashAmount}" 
									required="true" 
									thousandSeparator="," decimalSeparator="." decimalPlaces="6" id="txtRealCashAmount"
									label="Precio" 
									disabled="#{!mcnManualMgmtBean.viewOperationRegister}">
						<p:ajax event="change" global="false" update="@form :opnlGenericDialogs"
						 	listener="#{mcnManualMgmtBean.dirtyAmountChange}" process="@this"></p:ajax>
					</p:inputNumber>
					<p:message for="txtRealCashAmount" display="icon" id="iconTxtRealCashAmount"/>
					</h:panelGrid>
				</p:outputPanel>
			</td>
		</tr>	
		<tr>
			<td>
				<h:outputText value="Precio Clean % (*)" styleClass="required-field" id="labelCleanPrice" rendered="#{!mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.isRateVariableModality()}"/>
			</td>
			<td>
				<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.cashPricePercentage}" 
								required="true" 
								disabled="#{!mcnManualMgmtBean.viewOperationRegister}"
								styleClass="content-right"
							 	id="txtCleanPrice"
							 	style="text-align: right;width:130px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="4"
							 	rendered="#{!mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.isRateVariableModality()}">
					<p:ajax event="change" global="false" update="@form :opnlGenericDialogs"
						 	listener="#{mcnManualMgmtBean.cleanPriceChange}" process="@this"></p:ajax>
				</p:inputNumber>	
			</td>
			<td>
				<h:outputText value="Monto Clean (*)" styleClass="required-field" id="txtRealCashAmountFixed" rendered="#{!mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.isRateVariableModality()}"/>
			</td>
			<td>
				<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.cashAmount}" 
								required="true" 
								disabled="#{!mcnManualMgmtBean.viewOperationRegister}" 
								styleClass="content-right"
							 	id="txtCashAmount"
							 	style="text-align: right;width:130px" maxValue="#{msgs['lbl.maxium.value']}" thousandSeparator="," decimalSeparator="." decimalPlaces="6"
							 	rendered="#{!mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.isRateVariableModality()}"/>		
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlTermPart">
		<p:fieldset legend="#{msgs['lbl.operation.panel.term.settlement']}" rendered="#{mcnManualMgmtBean.registerMCNOperationsTO.blTermPart}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="Aforo %(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.warrantyCause}" maxValue="100" required="true" id="txtTermWarrantyCause"
								disabled="#{!(mcnManualMgmtBean.registerMCNOperationsTO.blTermPart) or !(mcnManualMgmtBean.viewOperationRegister)}" tabindex="21"
								style="text-align: right;width:200px" decimalPlaces="4" thousandSeparator="," decimalSeparator=".">
					<p:ajax process="@this" event="change" listener="#{mcnManualMgmtBean.changeWarrantyCause}" update="txtTermWarrantyCause, txtTermAmount, txtTermPrice"/>
				</p:inputNumber>
				<p:message for="txtTermWarrantyCause" display="icon"></p:message>
				</h:panelGrid>
			</td>
			<td>
				<h:outputText value="Tasa Interes Repo %(*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid>
				<p:inputNumber value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.termInterestRate}" maxValue="100" required="true" id="txtTermInterestRate"
								disabled="#{!(mcnManualMgmtBean.registerMCNOperationsTO.blTermPart) or !(mcnManualMgmtBean.viewOperationRegister)}" tabindex="21"
								style="text-align: right;width:200px" decimalPlaces="4" thousandSeparator="," decimalSeparator=".">
					<p:ajax process="@this" event="change" listener="#{mcnManualMgmtBean.changeTermInterestRate}" 
						update="txtTermInterestRate, txtTermAmount, txtTermPrice"/>
				</p:inputNumber>
				<p:message for="txtTermInterestRate" display="icon"></p:message>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.term.settlementDays']} (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputText styleClass="content-right" label="#{msgs['lbl.operation.term.settlementDays']}"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.termSettlementDays}" maxlength="3"
				   	id="txtTermSettlementDays" size="5" disabled="#{mcnManualMgmtBean.registerMCNOperationsTO.blViewRepo}">
					<p:ajax event="blur" process="@this" update="@this msgTermSettlementDays txtTermSettlementDate txtTermPrice txtTermAmount :opnlGenericDialogs" 
						partialSubmit="true" global="false" listener="#{mcnManualMgmtBean.getTermSettlementDate}"/>
					<p:keyFilter mask="pint"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
				</p:inputText>
			    <p:message for="txtTermSettlementDays" id="msgTermSettlementDays" display="icon"/>
			    </h:panelGrid>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.term.settlementDate']}" />
			</td>
			<td>
				<p:inputText id="txtTermSettlementDate" disabled="true"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.termSettlementDate}" size="10">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.term.price']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.termPrice}"
					label="#{msgs['lbl.operation.term.price']}"
					style="text-align: right; width:200px !important;" id="txtTermPrice" disabled="true">
					<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.price']}"/>
				</p:inputText>	
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.term.amount']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<p:inputText label="#{msgs['lbl.operation.term.amount']}" 
					disabled="#{!(mcnManualMgmtBean.registerMCNOperationsTO.blTermPart) or !(mcnManualMgmtBean.viewOperationRegister)}"
					style="text-align: right; width:200px !important;" styleClass="cashAmount-inputField" id="txtTermAmount"
					value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.termAmount}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					<p:ajax global="false" listener="#{mcnManualMgmtBean.changeTermAmount}" update="txtTermAmount,txtTermPrice,:opnlGenericDialogs" event="change"/>
				</p:inputText>
			</td>
		</tr>
		<ui:remove>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.term.effectiveRate']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:inputText styleClass="content-right" value="#{mcnManualMgmtBean.registerMCNOperationsTO.mechanismOperation.amountRate}" 
					disabled="true" id="txtAmountRate" size="15" maxlength="10" >
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
				</h:panelGrid>
			</td>
		</tr>
		</ui:remove>
		</table>
		</p:fieldset>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td align="center">
		<p:commandButton id="btnSave" value="#{gmsgs['btn.save']}" icon="fa fa-save" update="@form :opnlGenericDialogs"
			actionListener="#{mcnManualMgmtBean.beforeSave}"/>
		<p:commandButton id="btnClear" value="#{gmsgs['btn.clean']}" 
			icon="fa fa-trash" process="@this" onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()" immediate="true"
		    actionListener="#{mcnManualMgmtBean.cleanManualRegister}" update="@form"/>	     	
		<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
			action="searchMCNOperations" process="@this" onclick="if(isModifiedFormForBack(this))return false;"/>
	</td>
</tr>
</table>
<!-- Dialog -->
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{mcnManualMgmtBean.saveOperation}"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchMCNOperations" value="#{gmsgs['btn.accept']}"
		process="@this"/>
</p:confirmDialog>

<p:dialog header="#{msgs['lbl.calculator.header']}" widgetVar="cnfWCalculator" modal="true" severity="info"
	resizable="false" responsive="true">
    <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['lbl.gvc.emisor']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.issuerName}"/> 
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['lbl.operation.operationDate']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
			<h:panelGrid columns="2">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.operationDate}" 
					size="10" disabled="true">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</h:panelGrid>	
    	</div>
    </div>
    <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['lbl.operation.security.code']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.idSecurityCodePk}"/> 
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['lbl.operation.security.currency']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.currencyDescription}"/> 
    	</div>
    </div>
    <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['lbl.operation.security.currentNominalValue']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.nominalValue}"/> 
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.interest.payment.periodicity']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.periodicityDescription}"/> 
    	</div>
    </div>    
    <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.interest.rate']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.nominalRate}"/> 
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.interest.rate.daily']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
    		<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.dailyRate}"/> 
    	</div>
    </div>
     <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.issuance.date']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
			<h:panelGrid columns="2">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.issuanceDate}" 
					size="10" disabled="true">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</h:panelGrid>	
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.expiration.date']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
			<h:panelGrid columns="2">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.expirationDate}" 
					size="10" disabled="true">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</h:panelGrid>	
    	</div>
    </div>
    <div class="ui-g">
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.last.coupon.payed.date']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
			<h:panelGrid columns="2">
				<p:inputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.lastCoupon}" 
					size="10" disabled="true">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</h:panelGrid>	
    	</div>
    	<div class="ui-g-2">
    		<h:outputText value="#{msgs['security.lbl.elapsed.days']}" styleClass="required-field"/>    		
    	</div>
    	<div class="ui-g-4">
			<h:outputText value="#{mcnManualMgmtBean.registerMCNOperationsTO.pricesCalculatorTO.elapsedDays}"/> 
    	</div>
    </div>
    <div class="ui-g">
    	<div class="ui-g-12">
    		<p:commandButton oncomplete="PF('cnfWCalculator').hide()" value="#{gmsgs['btn.accept']}" update="outPnlDialogs"
    			 process="@this"/>
    	</div>
    </div>
</p:dialog>

</p:outputPanel>     	 
</h:form>
</ui:define>
</ui:composition>
</html>