<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
  	 setInitialFormState('#frmWebServices');
  	});
</script>	
<h:outputText value="#{msgs['msg.sendsecurity.bbv.tittle']}" styleClass="title-page" />
	<h:form id="frmWebServices">
	<table width="99%">
		<tr>
			<td>
				
				<p:fieldset legend="#{msgs['msg.sendsecurity.bbv.process']}">
					<table width="50%" border="0">
						
						<tr>
							<td>
								<h:outputLabel value="#{msgs['msg.sendsecurity.bbv.dpfAvailable']}"/>
							</td>
							<td>
								<p:inputText value="#{processSecurityBbvMgmtBean.stockQuantity}" id="idStockQuantity" disabled="true">
								</p:inputText>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputLabel value="#{msgs['msg.sendsecurity.bbv.date']}" styleClass="required-field"/>
							</td>
							<td>
								<h:panelGrid columns="2">
									<p:calendar id="calProcessDate"
										showOn="both" navigator="true" 
										size="10" readonlyInput="true"
										pattern="#{cons['dateFormat']}"
										maxdate="#{processSecurityBbvMgmtBean.currentSystemDate}"
										value="#{processSecurityBbvMgmtBean.fechaCalendar}">
										<p:ajax event="dateSelect" listener="#{processSecurityBbvMgmtBean.onChangeProcessDate}"
											process="@this" update="@form" />
									</p:calendar>
									 
								</h:panelGrid>
								
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputLabel value="  "/>
							</td>
							<td>
								<p:commandButton id="btnProcess" value="#{msgs['btn.process']}" disabled="#{processSecurityBbvMgmtBean.habilitarFecha}"
				     	            icon="ui-process" actionListener="#{processSecurityBbvMgmtBean.beforeSaveExternalInterface}" 
				     	            update="@form,:opnlGenericDialogs" />
								
							</td>
						</tr>
						
					</table>
				</p:fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<ui:remove>
				rendered="#{processSecurityBbvMgmtBean.listSecuritySendBbvDataModel.rowCount >= 1}"
				</ui:remove>
				<p:outputPanel id="opnlResult">
				
					<p:fieldset id="fldResult" legend="#{msgs['msg.sendsecurity.bbv.execution']}" >
					
						<p:dataTable id="dtbResult" var="security" 
							value="#{processSecurityBbvMgmtBean.listSecuritySendBbvDataModel}"
							currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							paginator="true" rows="10" paginatorPosition="top"
							paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
							rowIndexVar="rIndx" rowKey="#{security.numberProcess}"
							style="width:100%;">
							
							<p:column headerText="#{msgs['msg.sendsecurity.bbv.tbl.process']}" styleClass="content-center" sortBy="#{security.numberProcess}">
								<h:outputText value="#{security.numberProcess}"/>
							</p:column>
							
							<p:column headerText="#{msgs['msg.sendsecurity.bbv.tbl.send']}" styleClass="content-center" sortBy="#{security.sended}">
								<h:outputText value="#{security.sended}"/>
							</p:column>
							
							<p:column headerText="#{msgs['msg.sendsecurity.bbv.tbl.registrados']}" styleClass="content-center" sortBy="#{security.registered}">
								<h:outputText value="#{security.registered}"/>
							</p:column>
							
							<p:column headerText="#{msgs['msg.sendsecurity.bbv.tbl.bbverror']}" styleClass="content-center" sortBy="#{security.errorReception}">
								<h:outputText value="#{security.errorReception}"/>
							</p:column>
							
							<p:column  styleClass="content-center">
								<p:commandLink value="Detalles" 
											   style="color:blue" 
											   process="@this" 
											   actionListener="#{processSecurityBbvMgmtBean.selectSendProcess(security)}"
											   oncomplete="sendDetailVar.show()" update="@form"
											   >
								</p:commandLink>
								
							</p:column>
							
							 <p:columnGroup type="footer">
					            <p:row>
					                <p:column colspan="1" style="text-align:right" footerText="Total:" />
					                
					                <p:column footerText="#{processSecurityBbvMgmtBean.totalEnviados}">
					                </p:column>
					                
					                <p:column footerText="#{processSecurityBbvMgmtBean.totalExitosos}">
					                </p:column>
					                
					                <p:column footerText="#{processSecurityBbvMgmtBean.totalFallidos}">
					                </p:column>
					                
					                <ui:remove>
					                <f:convertNumber pattern="#{msgs['send.number.pattern.nominal.value']}" locale="en_US"/>
					                </ui:remove>
					                
					                <p:column footerText="" />
					            </p:row>
					        </p:columnGroup>
						</p:dataTable>
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
		
		
		<tr>
			<td>
				<p:outputPanel id="opnlResultRevention">
				
					<p:fieldset id="fldResultRevention" legend="#{msgs['msg.sendsecurity.bbv.revertion']}" >
					
						<p:dataTable id="dtbResultRevertion" var="redention" 
							value="#{processSecurityBbvMgmtBean.listRevertionDataMode}"
							
							currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							paginator="true" rows="10" paginatorPosition="top"
							paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
							rowIndexVar="rIndx" rowKey="#{redention.security}"
							style="width:100%;">
							
							<p:column headerText="#{msgs['security.lbl.code']}" styleClass="content-center" sortBy="#{redention.security}">
								<h:outputText value="#{redention.security}"/>
							</p:column>
							
							<p:column headerText="#{msgs['security.lbl.issuance.date']}" styleClass="content-center" sortBy="#{redention.securityEmition}">
								<h:outputText value="#{redention.securityEmition}"/>
							</p:column>
							
							<p:column headerText="#{msgs['send.security.expitarion']}" styleClass="content-center" sortBy="#{redention.securityExpiration}">
								<h:outputText value="#{redention.securityExpiration}"/>
							</p:column>
							
							<p:column headerText="#{msgs['send.security.cupon']}" styleClass="content-center" sortBy="#{redention.numberCoupon}">
								<h:outputText value="#{redention.numberCuopon}"/>
							</p:column>
							
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">								
									<h:outputLabel value="#{processSecurityBbvMgmtBean.listRevertionDataMode.rowCount} #{msgs['lbl.results']}" 
										style="font-weight:bold;"/>
								</div>
							</f:facet>
							
						</p:dataTable>
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
	</table>
	<p:dialog header="#{msgs['send.modal.header']}"
		id="sendDetail" widgetVar="sendDetailVar" width="700" 
		modal="true" closable="false">
		<p:fieldset id="fldsFiltros" legend="#{msgs['msg.sendsecurity.bbv.tbl.send']}">
			<table width="100%">			    
				<tr>
					<td>					
						<p:dataTable id="dtbResultSend" 
									var="sended" 
									value="#{processSecurityBbvMgmtBean.listSendedDataMode}"							
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									paginator="true" 
									rows="20" 
									paginatorPosition="top"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
									rowIndexVar="rIndx" 
									rowKey="#{sended.security}"
									style="width:100%;"
									filteredValue="#{processSecurityBbvMgmtBean.listSecurityRedention}"	 >
							
							<p:column headerText="#{msgs['security.lbl.code']}" styleClass="content-center" sortBy="#{sended.security}" filterBy="#{sended.security}" filterMatchMode="contains">
								<h:outputText value="#{sended.security}"/>
							</p:column>
							
							<p:column headerText="#{msgs['security.lbl.issuance.date']}" styleClass="content-center" sortBy="#{sended.securityEmition}">
								<h:outputText value="#{sended.securityEmition}">
									<f:convertDateTime pattern="#{msgs['date.format']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['send.security.expitarion']}" styleClass="content-center" sortBy="#{sended.securityExpiration}">
								<h:outputText value="#{sended.securityExpiration}">
									<f:convertDateTime pattern="#{msgs['date.format']}"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msgs['send.modal.header.send.state']}" styleClass="content-center" sortBy="#{sended.sendDescription}">
								<h:outputText value="#{sended.sendDescription}">
								</h:outputText>
							</p:column>
							
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">								
									<h:outputLabel value="#{processSecurityBbvMgmtBean.listSendedDataMode.rowCount} #{msgs['lbl.results']}" 
										style="font-weight:bold;"/>
								</div>
							</f:facet>
							
						</p:dataTable>
					
					
					</td> 
					
				</tr>
				<tr>
					<td align="center" colspan="6">
					    <p:commandButton
							value="#{gmsgs['btn.back']}"
							oncomplete="sendDetailVar.hide()" icon="fa fa-undo">
						</p:commandButton>
						<p:commandButton
									value="XML Valores"
									icon="icon-disk"
									ajax="true"
									onclick="PrimeFaces.monitorDownload(start, stop)"
									actionListener="#{processSecurityBbvMgmtBean.getEmisionFileSecurity}">
									<p:fileDownload value="#{processSecurityBbvMgmtBean.fileDownloadSecurity}" />
								</p:commandButton>
								<p:commandButton
									value="XML Cupones"
									icon="icon-disk"
									ajax="true"
									onclick="PrimeFaces.monitorDownload(start, stop)"
									actionListener="#{processSecurityBbvMgmtBean.getEmisionFileCoupon}">
									<p:fileDownload value="#{processSecurityBbvMgmtBean.fileDownloadCoupon}" />
								</p:commandButton>
					</td>
				</tr>
			</table>
		</p:fieldset>
	</p:dialog>
	
	
	
	<p:outputPanel id="pnlConfirmDialog">
	
		<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
		 	header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}" 
				process="@this" update="@form"/>
		</p:confirmDialog>
				
		<p:confirmDialog id="cdSaveExternalInterface" widgetVar="wrConfirmSaveSendSecurity" severity="alert" closable="false"
		 	header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{msgs['btn.yes']}" process="@this" onclick="wrConfirmSaveSendSecurity.hide()"
			 actionListener="#{processSecurityBbvMgmtBean.searchSecurityAndProcess}" update="@form,:opnlGenericDialogs"/>
			<p:commandButton value="#{msgs['btn.no']}" onclick="wrConfirmSaveSendSecurity.hide()" type="button"/>
		</p:confirmDialog>
		
	</p:outputPanel>	
	</h:form>		
	
	
	
</ui:define>
</ui:composition>
</html>