
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<p:importEnum
			type="com.pradera.model.issuancesecuritie.type.InstrumentType"
			var="instType" />
		<p:importEnum type="com.pradera.integration.common.type.BooleanType"
			var="boolType" />
		<p:importEnum
			type="com.pradera.model.component.type.ParameterBalanceType"
			var="balanceType" />
		<h:outputText
			value="#{gmsgs['account.balance.query.movements.tittle']}"
			styleClass="title-page" />
		<h:form id="frmHolderAccountBalancMov">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFilters" legend="#{msgs['lbl.criteria.search']}">
							<table width="100%" border="0">
								<tr>
									<td width="12%">
										<h:outputText value="#{msgs['adm.holderaccount.participant.lbl']} (*)" styleClass="required-field" />
									</td>
									<td width="88%" colspan="3">
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboParticipant" label="#{msgs['adm.holderaccount.participant.lbl']}"
												value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}"
												disabled="#{holderAccountBalancMovQueryBean.userInfo.userAccountSession.participantInstitucion}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
												<f:selectItems value="#{holderAccountBalancMovQueryBean.participantList}"
													var="participant"
													itemLabel="#{participant.displayDescriptionCode}"
													itemValue="#{participant.idParticipantPk}" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
												<p:ajax partialSubmit="true" event="change" global="false" process="@this"
													update="cboParticipant, pnlAccountHelp, pnlSecurityAccHelp, tabViewBalanceMarket:pnlBalance, tabViewBalanceMarket:pnlRegisters, 
															msgParticipant, helpAccount, pnlBalanceMarketResult, pnlSaldosSearch"
													listener="#{holderAccountBalancMovQueryBean.changeParticipantHandler}"/>
											</p:selectOneMenu>
											<p:message id="msgParticipant" for="cboParticipant" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputLabel value="#{msgs['adm.holderaccount.holder.cui']} (*)" styleClass="required-field" />
										</td>
									<td colspan="3">
										<p:outputPanel id="helpAccount">
										<h:panelGrid columns="2" id="pgHolderHelper">
											<ark:holderHelper blPersonType="false" disabled="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant == null}"
															holder="#{holderAccountBalancMovQueryBean.holderRequest}"
															participant="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}"
															remoteListener="rmtHolder()" label="#{msgs['adm.holderaccount.holder.cui']}">
											</ark:holderHelper>
											<p:remoteCommand name="rmtHolder"
															update="helpAccount pnlSecurityAccHelp tabViewBalanceMarket:pnlBalance tabViewBalanceMarket:pnlRegisters pnlBalanceMarketResult 
																	pnlAccountHelp pnlSaldosSearch"
															actionListener="#{holderAccountBalancMovQueryBean.searchHolderHandler}" immediate="true" process="@this"/>
											
										</h:panelGrid>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['adm.holderaccount.account']} (*)" styleClass="required-field" />
										</td>
									<td colspan="3">
										<p:outputPanel id="pnlAccountHelp">
											<p:inputText disabled="true" rendered="#{empty holderAccountBalancMovQueryBean.lstAccountTo}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountSource" widgetVar="resultHelperAccountVar" 
														 paginator="true" rows="5" paginatorPosition="top"
												     	 style="width:810px"
												     	 rendered="#{not empty holderAccountBalancMovQueryBean.lstAccountTo}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{holderAccountBalancMovQueryBean.lstAccountTo}" var="account"
												     	 rowKey="#{account.accountPk}" rowIndexVar="rIndx"
													 	 selection="#{holderAccountBalancMovQueryBean.selectedAccountTO}"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}">
												
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{holderAccountBalancMovQueryBean.changeSelectAccount}"  
													update=":frmHolderAccountBalancMov:pnlAccountHelp, :frmHolderAccountBalancMov:pnlSecurityAccHelp 
															:frmHolderAccountBalancMov:tabViewBalanceMarket:pnlBalance 
															:frmHolderAccountBalancMov:tabViewBalanceMarket:pnlRegisters"/>
												
												
												<p:column headerText="#{gmsgs['commons.datatable.account.number']}" sortBy="#{account.accountNumber}" styleClass="content-center" style="width:90px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.alternatecode']}" sortBy="#{account.alternateCode}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{gmsgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 2px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{gmsgs['commons.datatable.account.state']}" sortBy="#{account.accountStatusDescription}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
												
												<f:facet name="footer">  
												<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
										           <f:param value="#{holderAccountBalancMovQueryBean.lstAccountTo.rowCount}"/>
										         </h:outputFormat>  
										        </f:facet> 
											</p:dataTable>
											<p:message id="msgHolderAccount" for="tblResultHelperAccountSource" display="icon" />										
										</p:outputPanel>
									</td>
								</tr> 
								<tr>
									<td>
										<h:outputText value="#{gmsgs['security.lbl.code']} (*)" styleClass="required-field" />
									</td>
									<td colspan="3">
										<p:outputPanel id="pnlSecurityAccHelp">
											<h:panelGrid columns="2" id="pnlGril">
												<ark:securities-acc
													value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}"
													partCode="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}"
													required="true"
													disabled="#{empty holderAccountBalancMovQueryBean.holderAccountRequest.accountNumber}"
													holderAccount="#{holderAccountBalancMovQueryBean.holderAccountRequest}"
													validatorName="com.pradera.commons.view.validators.InputTextValidator"
													description="true" id="idValor"
													remoteListener="rmtSecurityAcc()" />
												<ark:securities-help
													securityCode="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}"
													id="help" />
												<p:remoteCommand name="rmtSecurityAcc"
																actionListener="#{holderAccountBalancMovQueryBean.cleanDataTableHandler}"
																update="tabViewBalanceMarket:pnlBalance, tabViewBalanceMarket:pnlRegisters,msgValor,
																	 		 :frmHolderAccountBalancMov:help:componentsSecuritiesHelpersecurityHelp,
																	 		 pnlBalanceMarketResult pnlSaldosSearch"
																process="@this" />
												<p:message for="idValor" id="msgValor" display="icon" />
											</h:panelGrid>
										</p:outputPanel>
									</td>
								</tr>
								<tr>
									<td width="8%"><h:outputText
											value="#{msgs['adm.holders.request.search.holder.filter.initial.date']} (*)"
											styleClass="required-field" /></td>
									<td width="40%"><p:calendar id="txtBeginDate"
											value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.initialDate}"
											showOn="both" pattern="#{msgs['dateFormat']}" maxlength="10"
											navigator="true" readonlyInput="true" size="10"
											maxdate="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.finalDate}">
											<p:ajax update="txtEndDate" event="dateSelect" global="false" />
										</p:calendar></td>
									<td width="8%"><h:outputText
											value="#{msgs['adm.holders.request.search.holder.filter.end.date']} (*)"
											styleClass="required-field" /></td>
									<td width="40%"><p:calendar id="txtEndDate"
											value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.finalDate}"
											showOn="both" pattern="#{msgs['dateFormat']}" maxlength="10"
											navigator="true" readonlyInput="true" size="10"
											mindate="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.initialDate}">
											<p:ajax update="txtBeginDate" event="dateSelect"
												global="false" />
										</p:calendar></td>
								</tr>
								<tr>
									<td colspan="4" align="center">
									
											<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
															actionListener="#{holderAccountBalancMovQueryBean.searchHolderAccountBalMovHandler}"
															update="pnlSaldosSearch fldsFilters tabViewBalanceMarket:outPnlBalances tabViewBalanceMarket:outPnlRegisters 
																	pnlBalanceMarketResult msgHolderAccount :opnlGenericDialogs">
												<f:param name="skipValidation" value="true"/>
											</p:commandButton> 
											
											<p:commandButton id="cmbClear" value="#{msgs['btn.clean']}" icon="fa fa-trash" 
											 				actionListener="#{holderAccountBalancMovQueryBean.cleanHolderAccountBalHandler}"
															update="fldsFilters,tabViewBalanceMarket:pnlRegisters,tabViewBalanceMarket:pnlBalance pnlBalanceMarketResult" immediate="true" />
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
				<tr>
				 <td>
				  <p:outputPanel id="pnlBalanceMarketResult">
				    <p:fieldset id="pnlSaldosSearch" legend="#{msgs['adm.holderaccount.totalPortafolio.lbl']}" 
				    rendered="#{not empty holderAccountBalancMovQueryBean.holderAccountBalanceSession}" >
					
					<p:tabView id="tabViewBalanceMarket" style="width:100%" rendered="#{not empty holderAccountBalancMovQueryBean.holderAccountBalanceSession}"> 
					<p:tab id="tabTotalBalance" title="#{msgs['adm.holderaccount.totalbalance.lbl']}" >
					<p:outputPanel id="outPnlBalances">
							<p:outputPanel id='pnlBalance'>
								<p:fieldset id="pnlSaldos"
									rendered="#{not empty holderAccountBalancMovQueryBean.holderAccountBalanceSession}"
									legend="#{gmsgs['account.balance.query.movements.balanceAccHolder.label']}">
									<table width="100%">
										<tr>
											<td style="width: 10%;">
												<p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.total']}" />
													</f:facet>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.totalBalance}"
														rendered="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.totalBalance le boolType.NO.code}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													</ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.totalBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
												</p:panelGrid>
											</td>
											<td style="width: 10%;">
												<p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.available']}" />
													</f:facet>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.availableBalance}"
														rendered="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.availableBalance le boolType.NO.code}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													</ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.availableBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													
												</p:panelGrid>
											</td>
											<td style="width: 10%;">
											<p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.transit']}" />
													</f:facet>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.transitBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.transitBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.TRANSIT_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 10%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.pawn']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.pawnBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel rendered="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.pawnBalance le boolType.NO.code}"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.pawnBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.PAWN_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
												<!-- Enbargo -->
											<td style="width: 10%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.ban']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.banBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.banBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.BAN_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 10%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.others']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.otherBlockBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.otherBlockBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.OTHERS_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 10%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.accreditation']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.accreditationBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.accreditationBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.ACCREDITATION_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 10%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.reported']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.reportedBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.reportedBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.REPORTED_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
										</tr>
										<tr>
											<td><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.reporting']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.reportingBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.reportingBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.REPORTING_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.margin']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.marginBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.marginBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.MARGIN_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.purchase']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.purchaseBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.purchaseBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.PURCHASE_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.sales']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.saleBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.saleBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.SALE_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 8%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.loanable']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.loanableBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.loanableBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.LOANABLE_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td style="width: 8%;"><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText value="#{gmsgs['account.balance.query.movements.lender']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.lenderBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.lenderBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.LENDER_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
											<td><p:panelGrid columns="1"
													style="width:100%;text-align:right">
													<f:facet name="header">
														<h:outputText
															value="#{gmsgs['account.balance.query.movements.borrower']}" />
													</f:facet>
													<h:outputLabel value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.borrowerBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<ui:remove>
													<h:outputLabel
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceSession.borrowerBalance}">
														<f:convertNumber locale="#{msgs['lbl.english']}" />
													</h:outputLabel>
													<f:attribute name="attributeIdSecurityCode"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idSecurityCode}" />
													<f:attribute name="attributeHolderAccountRequest"
														value="#{holderAccountBalancMovQueryBean.holderAccountRequest.idHolderAccountPk}" />
													<f:attribute name="attributeIdParticipant"
														value="#{holderAccountBalancMovQueryBean.holderAccountBalanceTO.idParticipant}" />
													<f:attribute name="attributeBalanceType"
														value="#{balanceType.BORROWER_BALANCE.code}" />
													</ui:remove>
												</p:panelGrid></td>
										</tr>
									</table>
								</p:fieldset>
							</p:outputPanel>
						</p:outputPanel>
				
					<p:outputPanel id="outPnlRegisters">
							<p:outputPanel id="pnlRegisters">
								<p:fieldset id="fsMovements" legend="#{msgs['lbl.results.movement']}"
									rendered="#{not empty holderAccountBalancMovQueryBean.holderAccountMovementDataModel}">
									<p:dataTable id="dtbResult" var="mov"
										style="padding-right:0px !important;"
										value="#{holderAccountBalancMovQueryBean.holderAccountMovementDataModel}"
										rendered="#{ holderAccountBalancMovQueryBean.holderAccountMovementDataModel.rowCount >=1}"
										rowIndexVar="rIndx"
										rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										paginator="true" rowsPerPageTemplate="5,10,15" rows="15"
										paginatorPosition="top"
										paginatorTemplate="#{gmsgs['lbl.current.page.report']}"
										currentPageReportTemplate="#{gmsgs['dtb.current.page']}"
										rowKey="#{par.id}">
										<p:column sortBy="#{mov.movementDate}" styleClass="content-center">
											<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.date.movement']}" />
											</f:facet>
											<h:outputText value="#{mov.movementDate}">
												<f:convertDateTime pattern="#{msgs['dateFormat']}" />
											</h:outputText>
										</p:column>
										<p:column sortBy="#{mov.idHolderAccountMovementPk}"  styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.number.movement']}" />
										</f:facet>
											<h:outputText value="#{mov.operationNumber}" />
										</p:column>
										<p:column sortBy="#{mov.operationDate}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.date.operation']}" />
										</f:facet>
											<h:outputText value="#{mov.operationDate}">
												<f:convertDateTime pattern="#{msgs['dateFormat']}" />
											</h:outputText>
										</p:column>
										<p:column sortBy="#{mov.operationNumber}" styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.operation.number']}" />
										</f:facet>
											<h:outputText value="#{mov.operationNumber}" />
										</p:column>
										<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.mcn']}" />
										</f:facet>
											<h:outputText
												value="#{holderAccountBalancMovQueryBean.getMechanismCode(mov.idMechanism)}" />
										</p:column>
										<p:column styleClass="content-left">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.modality']}" />
										</f:facet>
											<h:outputText
												value="#{holderAccountBalancMovQueryBean.getModalityDescription(mov.idModality)}" />
										</p:column>
										<p:column styleClass="content-left">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.description']}" />
										</f:facet>
											<h:outputText value="#{mov.movementName}" />
											<p:graphicImage id="imgHelp" style="cursor:pointer;"
												library="img" name="icons/help.png"
												rendered="#{not empty mov.movementDetail}" />
											<p:tooltip for="imgHelp">
												<ui:repeat var="movements" value="#{mov.movementDetail}">
													<h:outputFormat value="#{movements}" escape="false" />
												</ui:repeat>
											</p:tooltip>
										</p:column>
										<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.participant.origin']}" />
										</f:facet>
											<h:outputText
												value="#{holderAccountBalancMovQueryBean.searchParticipantOnListFromPK(mov.idSourceParticipant).mnemonic} - #{holderAccountBalancMovQueryBean.searchParticipantOnListFromPK(mov.idSourceParticipant).idParticipantPk}" />
										</p:column>
										<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.participant.destination']}" />
										</f:facet>
											<h:outputText
												value="#{holderAccountBalancMovQueryBean.searchParticipantOnListFromPK(mov.idTargetParticipant).mnemonic}  - #{holderAccountBalancMovQueryBean.searchParticipantOnListFromPK(mov.idTargetParticipant).idParticipantPk}" />
										</p:column>
										<p:column styleClass="content-right">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.quantity']}" />
										</f:facet>
											<h:outputText value="#{mov.movementQuantity}">
												<f:convertNumber locale="#{msgs['lbl.english']}" />
											</h:outputText>
										</p:column>
										<p:column styleClass="content-right">
										<f:facet name="header">
											<h:outputText escape="false" value="#{msgs['lbl.price']}" />
										</f:facet>
											<h:outputText value="#{mov.operationPrice}">
												<f:convertNumber locale="en_US"
													pattern="#{cons['pattern.currency']}" />
											</h:outputText>
										</p:column>
										<f:facet name="footer">
											<h:outputFormat
												value="#{msgs['tbl.footer.quantity.records']}">
												<f:param
													value="#{holderAccountBalancMovQueryBean.holderAccountMovementDataModel.rowCount}" />
											</h:outputFormat>
										</f:facet>
									</p:dataTable>
									<h:outputLabel value="#{msgs['adm.holderaccount.query.empty']}"
										rendered="#{empty holderAccountBalancMovQueryBean.holderAccountBalanceSession}" />
									
									<h:outputLabel value="#{msgs['lbl.search.no.result']}."
										rendered="#{ 1 > holderAccountBalancMovQueryBean.holderAccountMovementDataModel.rowCount and (not empty holderAccountBalancMovQueryBean.holderAccountBalanceSession)}" />
								
								</p:fieldset>
							</p:outputPanel>
						</p:outputPanel>
					</p:tab>
					
					<p:tab id="tabMarketFacts" title="#{msgs['adm.holderaccount.marketfacts.lbl']}" rendered="false">
					
					<h:outputLabel value="#{msgs['adm.holderaccount.marketfact.empty']}"
								   rendered="#{empty holderAccountBalancMovQueryBean.listHolderMarketFactBalance}" />
					
					<p:accordionPanel id="accordionPanel" value="#{holderAccountBalancMovQueryBean.listHolderMarketFactBalance}"
										var="holAccBalHeader" multiple="true" activeIndex="0,1,2,3,4">
						<p:tab  closable="false">
						
						<f:facet name="title" >  
				           <h:outputText value="#{msgs['adm.holderaccount.marketfacts.date']}: "/>
				           <h:outputText value="#{holAccBalHeader.marketDate}">
				           		<f:convertDateTime type="date" pattern="#{msgs['dateFormat']}"/>
				           </h:outputText>
				           
				           <h:outputFormat value="#{msgs['lbl.space']} #{msgs['adm.holderaccount.marketfacts.rate']}:" escape="false" />
				           <h:outputText value="#{holAccBalHeader.marketRate}">
				           		<f:convertNumber pattern="#{gconst['conv.number.pattern.rate.factor']}" locale="#{msgs['lbl.english_US']}"/>		
				           </h:outputText>
				           
				           <h:outputFormat value="#{msgs['lbl.space']} #{msgs['adm.holderaccount.marketfacts.price']}:" escape="false"/>
				           <h:outputText value="#{holAccBalHeader.marketPrice}">
				           		<f:convertNumber pattern="#{holAccBalHeader.security.instrumentType == 124 ? gconst['conv.number.pattern.nominal.amount'] : gconst['conv.number.pattern.nominal.amount.rv']}" 
				           		                 locale="#{msgs['lbl.english_US']}"/>
				           </h:outputText>				           
				        </f:facet>
				        
				        <table width="100%">
										<tr>
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.totalBalance']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.totalBalance}">
															<f:convertNumber locale="#{msgs['lbl.english']}" />
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.available']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.availableBalance}">
															<f:convertNumber locale="#{msgs['lbl.english']}" />
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.transit']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.transitBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.pawn']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.pawnBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.ban']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.banBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.others']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.otherBlockBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.acreditation']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.accreditationBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.reported']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.reportedBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
										</tr>
										<tr>
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="REPORTADOR" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.reportingBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.margin']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.marginBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.purchase']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.purchaseBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.sale']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.saleBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.loanable']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.loanableBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.lender']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.lenderBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
											
											<td style="width: 10%;">
												<p:panelGrid columns="1"
														style="width:100%;text-align:right">
														<f:facet name="header">
															<h:outputText value="#{msgs['adm.holderaccount.marketfacts.borrower']}" />
														</f:facet>
														<h:outputLabel
															value="#{holAccBalHeader.borrowerBalance}">
															<f:convertNumber pattern="#{msgs['lbl.pattern.decimal']}" locale="#{msgs['lbl.english_US']}"/>
														</h:outputLabel>
												</p:panelGrid>
											</td>
										</tr>
						</table>
							
						</p:tab>
					</p:accordionPanel>
					
					</p:tab>
					</p:tabView>
					
					
					</p:fieldset>
					</p:outputPanel>
					</td>					
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="outputPanelModals">
			<h:form id="frmDetailSaldos">
				<p:dialog id="dialogMarketFactSaldo" widgetVar="dialogWgvMarketFact"
					modal="true" resizable="false" showHeader="false" position="top"
					showEffect="true" maximizable="false" width="600"
					closeOnEscape="true">
					<p:outputPanel autoUpdate="true">
						<p:fieldset legend="#{msgs['lbl.made.market']}" id="fsHechoMercado">
							<table width="100%" cellpadding="0" border="0" cellspacing="0"
								class="cleanTable">
								<tr>
									<td><p:outputPanel id="panelInforMarkefat"
											rendered="#{holderAccountBalancMovQueryBean.listHolderAccountMovInfoTO.size()>0}">
											<table width="100%" class="cleanTable">
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.security.code']}" /></td>
													<td width="70%"><p:inputText style="width:70%"
															id="idIsinSecurityBalance" disabled="true"
															value="#{holderAccountBalancMovQueryBean.marketFactBalance.securityCodePk}" />
													</td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.security.description']}" /></td>
													<td width="70%"><p:inputText
															id="idDescriptionSecurityBalance"
															value="#{holderAccountBalancMovQueryBean.marketFactBalance.securityDescription}"
															disabled="true" style="width:70%" /></td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.instrumenttype']}" /></td>
													<td width="70%"><p:inputText
															id="idInstrumentTypeSecurityBalance" style="width:70%"
															value="#{holderAccountBalancMovQueryBean.marketFactBalance.instrumentDescription}"
															disabled="true" /></td>
												</tr>
												
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.lastPrice']}"
															rendered="#{instType.VARIABLE_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalance.instrumentType}" /></td>
													<td width="70%"><p:inputNumber id="idViewLastPrice"
															maxlength="10" size="10" thousandSeparator=","
															decimalSeparator="." style="width:70%;text-align:right"
															disabled="true"
															value="#{holderAccountBalancMovQueryBean.marketFactBalance.lastMarketPrice}"
															rendered="#{instType.VARIABLE_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalance.instrumentType}" />
													</td>
												</tr>
												<tr>
													<td>
													<h:outputText value="#{msgs['lbl.associated.operations']}" style="font-weight:bold"/>
													</td>
												</tr>
											</table>
										</p:outputPanel></td>
								</tr>
								<tr>
									<td><p:dataTable
											value="#{holderAccountBalancMovQueryBean.listHolderAccountMovInfoTO}"
											var="list" id="dtHechoMercado"
											rendered="#{holderAccountBalancMovQueryBean.listHolderAccountMovInfoTO.size()>0}">
											
											<p:column styleClass="content-center" rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.BAN_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.OTHERS_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.PAWN_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.ACCREDITATION_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.table.date']}" />
												</f:facet>
												<h:outputText value="#{list.marketDate}">
													<f:convertDateTime pattern="#{msgs['dateFormat']}" />
												</h:outputText>
											</p:column>
											<!-- rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.TOTAL_BALANCE.code}"> -->
											<p:column styleClass="content-right" rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.BAN_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.OTHERS_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.PAWN_BALANCE.code||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.ACCREDITATION_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{msgs['adm.holderaccount.marketfacts.blockOperation']}" />
												</f:facet>
												<h:outputText value="#{list.blockOperation}"/>
											</p:column>
											
											<p:column styleClass="content-right" rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.BAN_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.OTHERS_BALANCE.code ||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.PAWN_BALANCE.code||
																							 holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.ACCREDITATION_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{msgs['adm.holderaccount.marketfacts.movementQuantity']}" />
												</f:facet>
												<h:outputText value="#{list.movementQuantity}"> 
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											
											
											
											<ui:remove>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.AVAILABLE_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.available']}" />
												</f:facet>
												<h:outputText value="#{list.availableBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.TRANSIT_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.transit']}" />
												</f:facet>
												<h:outputText value="#{list.transitBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.PAWN_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.pawn']}" />
												</f:facet>
												<h:outputText value="#{list.pawnBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.BAN_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.ban']}" />
												</f:facet>
												<h:outputText value="#{list.banBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.OTHERS_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.others']}" />
												</f:facet>
												<h:outputText value="#{list.otherBanBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.ACCREDITATION_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.accreditation']}" />
												</f:facet>
												<h:outputText value="#{list.accreditationBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.REPORTED_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.reported']}" />
												</f:facet>
												<h:outputText value="#{list.reportedBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.REPORTING_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.reporting']}" />
												</f:facet>
												<h:outputText value="#{list.reportingBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.MARGIN_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.margin']}" />
												</f:facet>
												<h:outputText value="#{list.marginBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.PURCHASE_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.purchase']}" />
												</f:facet>
												<h:outputText value="#{list.purchaseBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.SALE_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.sales']}" />
												</f:facet>
												<h:outputText value="#{list.saleBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.LOANABLE_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.loanable']}" />
												</f:facet>
												<h:outputText value="#{list.lonableBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.LENDER_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.lender']}" />
												</f:facet>
												<h:outputText value="#{list.lenderBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.balanceType == balanceType.BORROWER_BALANCE.code}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.borrower']}" />
												</f:facet>
												<h:outputText value="#{list.borrowerBalance}">
													<f:convertNumber locale="#{msgs['lbl.english']}" />
												</h:outputText>
											</p:column>
											
											</ui:remove>
											
											
											
										</p:dataTable></td>
								</tr>
								<tr>
									<td><p:outputPanel
											rendered="#{holderAccountBalancMovQueryBean.marketFactBalance.marketFacBalances.size() le 0}">
											<h:outputLabel
												value="#{msgs['error.made.market.not.selected']}" />
										</p:outputPanel><br /></td>
								</tr>
								<tr>
									<td align="center"><p:commandButton
											value="#{msgs['btn.accept']}"
											oncomplete="dialogWgvMarketFact.hide()" process="@this"
											update=":outputPanelModals">
										</p:commandButton></td>
								</tr>
							</table>
						</p:fieldset>
					</p:outputPanel>
				</p:dialog>



				<p:dialog id="dialogMarketFactMov"
					widgetVar="dialogWgvMarketFactMov" modal="true" resizable="false"
					showHeader="false" position="top" showEffect="true"
					maximizable="false" width="600" closeOnEscape="true">
					<p:outputPanel autoUpdate="true">
						<p:fieldset legend="#{msgs['lbl.made.market']}" id="fsHechoMercadoMov">
							<table width="100%" cellpadding="0" border="0" cellspacing="0"
								class="cleanTable">
								<tr>
									<td><p:outputPanel id="panelInforMarkefatMov"
											rendered="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.marketFacBalances.size()>0}">
											<table width="100%" class="cleanTable">
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.security.code']}" /></td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.securityCodePk}" />
													</td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.security.description']}" /></td>
													<td width="70%"><p:inputText
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.securityDescription}"
															disabled="true" style="width:70%" /></td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.instrumenttype']}" /></td>
													<td width="70%"><p:inputText style="width:70%"
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentDescription}"
															disabled="true" /></td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.lastDate']}" /></td>
													<td width="70%"><p:inputText
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.lastMarketDate}"
															disabled="true" style="width:70%">
															<f:convertDateTime pattern="#{msgs['dateFormat']}" />
														</p:inputText></td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.lastPrice']}"
															rendered="#{instType.VARIABLE_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}" /></td>
													<td width="70%"><p:inputNumber maxlength="10"
															size="10" thousandSeparator="," decimalSeparator="."
															style="width:70%;text-align:right" disabled="true"
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.lastMarketPrice}"
															rendered="#{instType.VARIABLE_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}" />
													</td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
															value="#{gmsgs['account.balance.query.movements.lastRate']}"
															rendered="#{instType.FIXED_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}" /></td>
													<td width="70%"><p:inputNumber maxlength="10"
															size="10" thousandSeparator="," decimalSeparator="."
															style="width:70%;text-align:right" disabled="true"
															value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.lastMarketRate}"
															rendered="#{instType.FIXED_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}" />
													</td>
												</tr>
											</table>
										</p:outputPanel></td>
								</tr>
								<tr>
									<td><p:dataTable
											value="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.marketFacBalances}"
											var="listMov" id="dtHechoMercadoMov"
											rendered="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.marketFacBalances.size()>0}">
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.table.date']}" />
												</f:facet>
												<h:outputText value="#{listMov.marketDate}">
													<f:convertDateTime pattern="#{msgs['dateFormat']}" />
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{instType.VARIABLE_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.table.price']}" />
												</f:facet>
												<h:outputText value="#{listMov.marketPrice}" />
											</p:column>
											<p:column styleClass="content-right"
												rendered="#{instType.FIXED_INCOME.code eq holderAccountBalancMovQueryBean.marketFactBalanceMovement.instrumentType}">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.table.rate']}" />
												</f:facet>
												<h:outputText value="#{listMov.marketRate} %" >
												   <f:convertNumber pattern="#{gconst['pattern.market.rate']}" locale="#{msgs['lbl.english']}"/>	
												</h:outputText>
											</p:column>
											<p:column styleClass="content-right">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['account.balance.query.movements.table.quantity']}" />
												</f:facet>
												<h:outputText value="#{listMov.movementQuantity}" >
													<f:convertNumber pattern="#{gconst['conv.number.pattern.nominal.amount']}" locale="#{msgs['lbl.english']}"/>
												</h:outputText>
												<br />
											</p:column>
										</p:dataTable></td>
								</tr>
								<tr>
									<td><p:outputPanel
											rendered="#{holderAccountBalancMovQueryBean.marketFactBalanceMovement.marketFacBalances.size() le 0}">
											<h:outputLabel
												value="#{msgs['error.made.market.not.movement.selected']}" />
										</p:outputPanel><br /></td>
								</tr>
								<tr>
									<td align="center"><p:commandButton
											value="#{msgs['btn.accept']}"
											oncomplete="dialogWgvMarketFactMov.hide()" process="@this"
											update=":outputPanelModals">
										</p:commandButton></td>
								</tr>
							</table>
						</p:fieldset>
					</p:outputPanel>
				</p:dialog>



			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>