<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmIssuerHolderQuery');
	});
</script>
		<h:form id="frmIssuerHolderQuery">
			<table width="100%">
				<tr>
					<td>
						<table width="100%">
							<tr>
								<td align="left">
									<h:outputText value="#{gmsgs['account.issuer.holder.query.tittle']}" styleClass="title-page" />
								</td>																			
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset legend="#{gmsgs['lbl.criteria.search']}">
							<table width="100%">
								<tr>
								<p:selectOneRadio id="selectOneRadio" value="#{issuerHolderQueryBean.optionSelectedOneRadio}" layout="custom">  
        							<f:selectItem itemValue="0" /> 
        							<f:selectItem itemValue="1" />
        						<p:ajax update="@form lblSecurity lblHolder" event="change" listener="#{issuerHolderQueryBean.evaluateOptionSelected}" partialSubmit="false"  />											            
								</p:selectOneRadio> 
								</tr>
								<tr>
								<td/>
									<td width="10%">
									<h:outputText styleClass="required-field"
										value="#{msgs['enq.consolidated.lbl.issuer']} (*)" />
									</td>
									<td colspan="5">	
										<p:outputPanel id="panelIssuerHelper" >							
										<ark:issuerHelper id="issuerHelper" issuer="#{issuerHolderQueryBean.issuerHolderQueryTO.issuerHelperMgmt}"
														  required="true"	 remoteListener="cmdIssuerHelper()"
														  beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockByIssuer}"
														  disabled="#{issuerHolderQueryBean.issuerUser}">
												<f:facet name="textMessage">
											      <p:message id="messageIssuer" for="issuerHelper:issuerHelper" display="icon"/>
											   </f:facet>
										</ark:issuerHelper>
										</p:outputPanel>
									</td>
									<p:remoteCommand name="cmdIssuerHelper" actionListener="#{issuerHolderQueryBean.validateIssuer()}"
													 process="@this" update="@form" />
								</tr>
								<tr>
									<td width="20">
								    	<p:radioButton id="radioButtonOne" for="selectOneRadio" itemIndex="0"/>
									</td>
									<td width="10%">
									<p:outputPanel id="lblHolder">
										<h:outputText rendered="#{issuerHolderQueryBean.optionSelectedOneRadio eq 0}" styleClass="required-field" value="#{msgs['adm.holders.register.holder.lbl.code.cui']} (*)" />
										<h:outputText rendered="#{issuerHolderQueryBean.optionSelectedOneRadio eq 1}" value="#{msgs['adm.holders.register.holder.lbl.code.cui']} " />
									</p:outputPanel>
									</td>
									<td colspan="5">
										<p:outputPanel id="panelCUIHolder" >		
										<ark:holderHelper id="idCuiHolder" 
															  holder="#{issuerHolderQueryBean.issuerHolderQueryTO.holderHelperMgmt}" 
															  remoteListener="cmdHolderHelper()"
															   blIssuer="true"

															  issuer="#{issuerHolderQueryBean.issuerHolderQueryTO.issuerHelperMgmt}"
															  beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockByHolder}"
															  disabled="#{issuerHolderQueryBean.optionSelectedOneRadio eq 1}"
															  blIssuerBlock="true">
												<f:facet name="textMessage">
											      <p:message id="messageholder" for="idCuiHolder:idCuiHolder" display="icon"/>
											   </f:facet>			  
										</ark:holderHelper> 
										<p:remoteCommand name="cmdHolderHelper" actionListener="#{issuerHolderQueryBean.validateHolder()}" 
													 process="@this" update="@form" />
										</p:outputPanel>
									</td>
								</tr>
								<tr>
								<td/>
									<td>
											<h:outputText value="#{msgs['adm.holderaccount.account']} (*)" styleClass="required-field"  
														rendered="#{!userInfo.getUserAccountSession().isIssuerDpfInstitucion() and (issuerHolderQueryBean.idHolderScreen!=null) }"/>
									</td>
									<td colspan="5"> 
										<p:outputPanel id="panelAccountHelp" rendered="#{!userInfo.getUserAccountSession().isIssuerDpfInstitucion()}">
											
											<p:dataTable id="tblResultHelperAccountSource" widgetVar="resultHelperAccountVar" 
														 paginator="true" rows="5" paginatorPosition="top"
												     	 style="width:810px"

												     	 rendered="#{not empty issuerHolderQueryBean.lstAccountTo}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{issuerHolderQueryBean.lstAccountTo}" var="account"
												     	 rowKey="#{account.idHolderAccountPk}" rowIndexVar="rIndx"
													 	 selection="#{issuerHolderQueryBean.selectedAccountTO}"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}">
												
												<p:column selectionMode="single" style="width:18px"  /> 
												<p:ajax event="rowSelectRadio" listener="#{issuerHolderQueryBean.changeSelectAccount}"
													update=" :frmIssuerHolderQuery:cboSecurityClass 
															:frmIssuerHolderQuery:opnlResultAux 
															:frmIssuerHolderQuery:opnlResult
															:frmIssuerHolderQuery:panelSecurityAccHelp"/>
												<p:column headerText="#{gmsgs['commons.datatable.account.number']}" styleClass="content-center" style="width:90px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												<p:column headerText="#{gmsgs['commons.datatable.account.alternatecode']}" styleClass="content-center" 
												rendered="#{!issuerHolderQueryBean.issuerUser}" >
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												<p:column headerText="#{gmsgs['commons.datatable.account.alternatecode']}" styleClass="content-center"
												rendered="#{issuerHolderQueryBean.issuerUser}">
													<h:outputText value="(#{account.relatedName})- #{account.accountNumber}" />
												</p:column>
												<p:column headerText="#{gmsgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;padding-left: 2px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												<p:column headerText="#{gmsgs['commons.datatable.account.participant']}" styleClass="content-center"
												rendered="#{!issuerHolderQueryBean.issuerUser}">
													<h:outputText value="#{account.participant.mnemonic} - #{account.participant.idParticipantPk}" />
												</p:column>
												<p:column headerText="#{gmsgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.stateAccountDescription}" />
												</p:column>
												<f:facet name="footer">  
												<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
										           <f:param value="#{issuerHolderQueryBean.lstAccountTo.rowCount}"/>
										         </h:outputFormat>  
										        </f:facet>
										        <f:facet name="textMessage">
											      <p:message id="messageHolderAccount" for="tblResultHelperAccountSource:tblResultHelperAccountSource" display="icon"/>
											   </f:facet>	 
											</p:dataTable>
										</p:outputPanel>
									</td>
								</tr> 
								<tr>
									<td width="20">
								    	<p:radioButton id="radioButtonTwo" for="selectOneRadio" itemIndex="1"/>
									</td>
									<td>
										<p:outputPanel id="lblSecurity">
											<h:outputText rendered="#{issuerHolderQueryBean.optionSelectedOneRadio eq 0}" value="#{gmsgs['security.lbl.code']}" />
											<h:outputText rendered="#{issuerHolderQueryBean.optionSelectedOneRadio eq 1}" value="#{gmsgs['security.lbl.code']}  (*)" styleClass="required-field"/>
										</p:outputPanel>
									</td>
									<td colspan="3">
										<p:outputPanel id="panelSecurityAccHelp">
											<h:panelGrid columns="2" id="pnlGril">
												<ark:securities-acc
													value="#{issuerHolderQueryBean.issuerHolderQueryTO.idSecurityCode}"
													disabled="#{(issuerHolderQueryBean.optionSelectedOneRadio eq 0)}"
													holderAccount="#{issuerHolderQueryBean.selectedAccountTO}"
													issuer="#{issuerHolderQueryBean.issuerHolderQueryTO.issuerHelperMgmt.idIssuerPk}"
													validatorName="com.pradera.commons.view.validators.InputTextValidator"
													
													id="idValor"
													partCode="#{issuerHolderQueryBean.selectedAccountTO.participant.idParticipantPk}"
													issuerDisable="true"
													remoteListener="rmtSecurityAcc()" />
												<ark:securities-help
													securityCode="#{issuerHolderQueryBean.issuerHolderQueryTO.idSecurityCode}"
													id="help"/>
												<p:remoteCommand name="rmtSecurityAcc"
																actionListener="#{issuerHolderQueryBean.cleanData}"
																update=" :frmIssuerHolderQuery:cboSecurityClass  
																:frmIssuerHolderQuery:opnlResultAux 
																:frmIssuerHolderQuery:opnlResult
																:frmIssuerHolderQuery:opnlResultSec
																:frmIssuerHolderQuery:help:componentsSecuritiesHelpersecurityHelp"
																process="@this" />
											</h:panelGrid>
											
										</p:outputPanel>
									</td>
								</tr>
								<tr>
								<td/>		
									<td width="10%"> 
										<h:outputText value="#{msgs['security.lbl.security.class']}" />
									</td>
									<td>
									<p:outputPanel id="idSecurityClass" >
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboSecurityClass" label="#{msgs['security.lbl.security.class']}"
															 value="#{issuerHolderQueryBean.issuerHolderQueryTO.idSecurityClass}"
															 disabled="#{issuerHolderQueryBean.optionSelectedOneRadio eq 0}"
															 > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuerHolderQueryBean.lstCboSecurityClass}"
															   var="prm" 
															   itemLabel="#{prm.text1} - #{prm.parameterName}" itemValue="#{prm.parameterTablePk}"/>
													
												<p:ajax event="change" process="@this" 
												update="@form" 
												listener="#{issuerHolderQueryBean.changeSecurityClass}"/>	 
											</p:selectOneMenu>
										</h:panelGrid>
									</p:outputPanel> 	
									</td>									
							  </tr>
								<tr>
									<td colspan="6" align="center">
										<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
											process="@this" update="@this :opnlGenericDialogs :frmIssuerHolderQuery:opnlResult :frmIssuerHolderQuery:opnlResultSec :frmIssuerHolderQuery:panelCUIHolder :frmIssuerHolderQuery:panelAccountHelp :frmIssuerHolderQuery:issuerHelper :frmIssuerHolderQuery:help:componentsSecuritiesHelpersecurityHelp"
											actionListener="#{issuerHolderQueryBean.searchIssuerHolderQuery()}"/>
										<p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
											actionListener="#{issuerHolderQueryBean.cleanSearch()}" update="@form"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="opnlResult">
							<p:fieldset legend="#{gmsgs['lbl.results']}" id="fldResult"
										rendered="#{issuerHolderQueryBean.issuerHolderQueryTO.lstIssuerHolderDetailTO!= null}">
							<p:dataTable id="dtbIssuerHolderDetail" var="holderAccOpe"	rendered="#{issuerHolderQueryBean.issuerHolderQueryTO.lstIssuerHolderDetailTO.rowCount>=1}"
								value="#{issuerHolderQueryBean.issuerHolderQueryTO.lstIssuerHolderDetailTO}"
								paginator="true" rows="5"  paginatorPosition="top"
								selection="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO}"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"  
								rowsPerPageTemplate="5,10,15">
							
								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="#{msgs['enq.consolidated.lbl.security']}" sortBy="#{holderAccOpe.security.idSecurityCodePk}"/>
										<p:column headerText="#{msgs['adm.holders.register.holder.lbl.document.emission.date']}" sortBy="#{holderAccOpe.security.issuanceDate}"/>
										<p:column headerText="#{msgs['security.lbl.security.expiredDate']}"  sortBy="#{holderAccOpe.security.expirationDate}"/>
										<p:column headerText="#{msgs['security.lbl.security.valueNominal']}" sortBy="#{holderAccOpe.security.currentNominalValue}"/>
										<p:column headerText="#{msgs['security.lbl.security.rateNominal']}" sortBy="#{holderAccOpe.security.interestRate}"/>
										<p:column headerText="#{msgs['adm.holderaccount.marketfacts.totalBalance']}" sortBy="#{holderAccOpe.security.desmaterializedBalance}"/>
										<p:column headerText="#{msgs['adm.holder.search.lbl.state']}" sortBy="#{holderAccOpe.security.stateSecurityDescription}"/>
										<p:column headerText="#{msgs['adm.holder.search.lbl.condition']}" sortBy="#{holderAccOpe.security.observations}"/>
										<p:column headerText="#{msgs['adm.holder.search.lbl.refrendo']}" sortBy="#{holderAccOpe.security.observations}"/>
									</p:row>
								</p:columnGroup>								
								<p:column  style="text-align:center">														
									<p:commandLink value="#{holderAccOpe.security.idSecurityCodePk}" 
									process="@this" actionListener="#{issuerHolderQueryBean.viewSecurityFinancialImportanceEvent(holderAccOpe.security.idSecurityCodePk)}" 
									update=":frmIssuerHolderQuery:secFinancial:pnlSecurityFinancialDetail">
										<f:setPropertyActionListener
											target="#{issuerHolderQueryBean.securityCode}" value="#{holderAccOpe.security.idSecurityCodePk}" />
									</p:commandLink>
								</p:column>									
									
								<p:column style="text-align:center">
									<h:outputText value="#{holderAccOpe.security.issuanceDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>	
								<p:column style="text-align:center">
									<h:outputText value="#{holderAccOpe.security.expirationDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>	
								<p:column style="text-align:right">
									<h:outputText value="#{holderAccOpe.security.currentNominalValue}">
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.cash.amount']}"
													locale="#{gconst['conv.number.locale']}" />
									</h:outputText>
								</p:column>	
								<p:column style="text-align:right">
									<h:outputText value="#{holderAccOpe.security.interestRate}" >
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.rate.factor']}"
													locale="#{gconst['conv.number.locale']}" />
									</h:outputText>
								</p:column>	 
								<p:column style="text-align:right">
									<h:outputText value="#{holderAccOpe.security.desmaterializedBalance}">
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
									</h:outputText>
								</p:column>	
								<p:column style="text-align:center">
									<h:outputText value="#{holderAccOpe.security.stateSecurityDescription}" />
								</p:column>
								<p:column style="text-align:center">
									<h:outputText value="#{holderAccOpe.security.observations}" style="color:#{holderAccOpe.security.observations!='DISPONIBLE'? 'red' : 'black'};"/> 
								</p:column>
								<p:column style="text-align:center">
									<p:commandLink process="@this,:frmIssuerHolderQuery:panelDialog" id="cldialog"	
										actionListener="#{issuerHolderQueryBean.getConstancyHolder}"									
										 value="#{msgs['link.see']}"
										  style="color:blue" update=":frmIssuerHolderQuery:panelDialog" >
										 <f:attribute name="holderAccount" value="#{holderAccOpe}"  />
									</p:commandLink>
								</p:column>		
								<f:facet name="footer">	
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >   
										<f:param value="#{issuerHolderQueryBean.issuerHolderQueryTO.lstIssuerHolderDetailTO.rowCount}"/>
									</h:outputFormat>
								</f:facet>			
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{!(issuerHolderQueryBean.issuerHolderQueryTO.lstIssuerHolderDetailTO.rowCount>=1)}"
											   style="font-weight:bold;"/>
							<ark:securities-help icon="false" name="securityHelp" id="secFinancial"/>
							</p:fieldset>
					</p:outputPanel>
					
					<p:outputPanel id="opnlResultSec">
							<p:fieldset legend="#{gmsgs['lbl.results']}" id="fldResultSec"
										rendered="#{issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO!= null and (issuerHolderQueryBean.optionSelectedOneRadio eq 1)}">
							<p:dataTable id="idHolderDetail" var="holderDetail"	rendered="#{issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO.rowCount>=1 and (issuerHolderQueryBean.optionSelectedOneRadio eq 1)}"
								value="#{issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO}"
								paginator="true" rows="5"  paginatorPosition="top"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"  
								rowsPerPageTemplate="5,10,15">
								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="#{msgs['adm.holderaccount.accountnumber']}" sortBy="#{holderDetail.secondLastName}"/>
										<p:column headerText="#{msgs['adm.holderaccount.holder.type']}" />
										<p:column headerText="#{msgs['adm.holderaccount.holder.cui']}" />
										<p:column headerText="#{msgs['adm.holderaccount.holder.lbl']}" />
										<p:column headerText="#{msgs['adm.holderaccount.holder.documentnumber']}" sortBy="#{holderDetail.name}"/>
										<p:column headerText="Cantidad contable"/>
										<p:column headerText="Cantidad disponible"/>
									</p:row>
								</p:columnGroup>								
								<p:column style="text-align:center">
									<h:outputText value="#{holderDetail.secondLastName}" />
								</p:column>	
								<p:column style="text-align:center">
									<h:outputText value="#{holderDetail.documentTypeDesc}" escape="false" />
								</p:column>	
								<p:column style="text-align:right">
									<h:outputText value="#{holderDetail.documentNumber}" escape="false" />
								</p:column>	
								<p:column style="text-align:left">
									<h:outputText value="#{holderDetail.fullName}" escape="false" />
								</p:column>	
								<p:column style="text-align:left">
									<h:outputText value="#{holderDetail.name}" escape="false" />
								</p:column>
								<p:column style="text-align:left">
									<h:outputText value="#{holderDetail.totalBalance}" escape="false" />
								</p:column>
								<p:column style="text-align:left">
									<h:outputText value="#{holderDetail.availableBalance}" escape="false" />
								</p:column>																	

								<f:facet name="footer">	
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >   
										<f:param value="#{issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO.rowCount}"/>
									</h:outputFormat>
								</f:facet>			
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{!(issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO.rowCount>=1)}"
											   style="font-weight:bold;"/>
							</p:fieldset>
					</p:outputPanel>
					
					<p:outputPanel id="panelDialog">
						<p:dialog header="#{msgs['lbl.dialog.title']}" widgetVar="dlg2" modal="true" width="600" 
								resizable="flase" showHeader="false" maximizable="false" position="top" 
								closeOnEscape="true" showEffect="true" dynamic="true">
							<p:outputPanel>
								<p:fieldset legend="#{msgs['lbl.dialog.proof.ownership']}" id="fsConstHolder">
									<table width="100%" cellpadding="0" border="0" cellspacing="0">
									<tr>
										<td>
											<table width="100%" class="cleanTable" border="2">
												<tr>
													<td width="30%" >
													<h:outputText value="#{msgs['lbl.dialog.data.holder']}" style="font-weight:bold"/>
													</td>
												</tr>
												<tr>
													<td width="30%" align="left"><h:outputText
													 value="#{gmsgs['account.helper.detail.accountnumber']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.holderAccountBalance.holderAccount.accountNumber}" />
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['account.helper.holder']}" />
													</td>
												</tr>
											</table>
										</td>
    								</tr>
									<tr>
									<td><p:dataTable
											value="#{issuerHolderQueryBean.issuerHolderDetailTO.lstHolderTO}"
											var="HolderDetail" id="dtHechoMercadoMov">
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['holder.helper.detail.code']}" />
												</f:facet>
												<h:outputText value="#{HolderDetail.holderId}">
												</h:outputText>
											</p:column>
											
											<p:column styleClass="content-left">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['holder.helper.detail.description']}" />
												</f:facet>
												<h:outputText value="#{HolderDetail.fullName} " />
											</p:column>
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText
														value="#{gmsgs['holder.helper.documentnumber']}" />
												</f:facet>
												<h:outputText value="#{HolderDetail.documentNumber}" />
												<br />
											</p:column>
										</p:dataTable></td>
									</tr>
									<tr>
										<td>
											<table width="100%" class="cleanTable" border="2">
												<tr>
													<td width="30%" >
														<h:outputText value="#{msgs['lbl.value.data']}" style="font-weight:bold"/>
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.class']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.classTypeDescription}" />
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.code.only']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.idSecurityCodeOnly}" />	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.current.nominal.value']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.currentNominalValue}" >
															<f:convertNumber locale="#{msgs['lbl.english']}" />
															</p:inputText>	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['importance.event.detail.currency']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.currencyName}" />	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.serial.alternate']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.alternativeCode}" />	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.date.issuance']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.issuanceDate}" >
															<f:convertDateTime pattern="#{msgs['dateFormat']}" />
															</p:inputText>
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.days.terms.value']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.securityDaysTerm}" />	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.date.expirate']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.expirationDate}" >	
															<f:convertDateTime pattern="#{msgs['dateFormat']}" />
															</p:inputText>
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.rate.issuance']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.interestRate}"  >	
															<f:convertNumber pattern="#{gconst['conv.number.pattern.rate.factor']}" 
													   						 locale="#{gconst['conv.number.locale']}"/>
													   		</p:inputText>
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.condition']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.observations}" />	
													</td>
												</tr>
												<tr>
													<td width="30%" align="left">
													<h:outputText value="#{gmsgs['security.lbl.balance']}" />
													</td>
													<td width="70%"><p:inputText style="width:70%"
															disabled="true"
															value="#{issuerHolderQueryBean.issuerHolderDetailTO.security.description}" />	
													</td>
												</tr>
											</table>
										</td>
    								</tr>
    								<tr>
										<td align="center">
										<p:commandButton id="btnPrint" value="#{gmsgs['btn.print']}" icon="icon_pdf.png" update="@this"
											actionListener="#{issuerHolderQueryBean.print()}" ajax="false" onclick="this.form.target='_blank'"/>
										<p:commandButton
											value="#{msgs['btn.back']}" icon ="ui-back"
											oncomplete="PF('dlg2').hide()" process="@this"
											update="@this">
										</p:commandButton>
										</td>
									</tr>
								</table>
							</p:fieldset>	
							</p:outputPanel>
						</p:dialog>   
					</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<p:outputPanel id="opnlResultAux" rendered="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.lstHolderAccountBalance!=null}">
							<p:fieldset legend="#{msgs['security.lbl.security.account']}" id="fldResultAux"
										rendered="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.lstHolderAccountBalance.rowCount>=1}">
							<p:dataTable id="dtbHolderAccountBalance" var="holderAccOpe"	
								value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.lstHolderAccountBalance}"
								paginator="true" rows="5"  paginatorPosition="top" 
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"  
								rowsPerPageTemplate="5,10,15">
							
								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="#{msgs['lbl.MV']}" />
										<p:column headerText="#{msgs['adm.holders.request.search.holder.filter.participant']}" sortBy="#{holderAccOpe.participant.mnemonic} - #{holderAccOpe.participant.idParticipantPk}"/>
										<p:column headerText="#{msgs['adm.holderaccount.bank.accountnumber.lbl']}" sortBy="#{holderAccOpe.holderAccount.accountNumber}"/>
										<p:column headerText="#{msgs['adm.holderaccount.marketfacts.totalBalance']}" sortBy="#{holderAccOpe.totalBalance}"/>
									</p:row>
								</p:columnGroup>
								
								<p:column style="text-align:center">
									<p:commandLink process="@this" id="clSelecteAux" value="#{msgs['lbl.MV']}"
										actionListener="#{issuerHolderQueryBean.loadHolderAccountBalanceAndMovementsListener(holderAccOpe)}"
										update=":frmIssuerHolderQuery:opnlResultAux">
									</p:commandLink>
								</p:column>
								<p:column style="text-align:center">
									<h:outputText value="#{holderAccOpe.participant.mnemonic} - #{holderAccOpe.participant.idParticipantPk}"/>
								</p:column>								
								<p:column style="text-align:right">
									<h:outputText value="#{holderAccOpe.holderAccount.accountNumber} - #{holderAccOpe.holderAccount.accountDescription}" />
								</p:column>								
								<p:column style="text-align:right">
									<h:outputText value="#{holderAccOpe.totalBalance}">
										<f:convertNumber
													pattern="#{gconst['conv.number.pattern.share.quantity']}"
													locale="#{gconst['conv.number.locale']}" />
									</h:outputText>
								</p:column>													
								<f:facet name="footer">	
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
										<f:param value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.lstHolderAccountBalance.rowCount}"/>
									</h:outputFormat>
								</f:facet>			
							</p:dataTable>
							</p:fieldset>
							<p:panel rendered="#{!(issuerHolderQueryBean.selectedIssuerHolderDetailTO.lstHolderAccountBalance.rowCount>=1)}">
								<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
							</p:panel>
							<p:outputPanel id="opnlDialogs">
								<p:dialog rendered="true" visible="false" height="80%" width="80%" closable="false"  
										id="dlgBalance" widgetVar="dlgWBalance" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
										<table width="100%">
										<tr>
											<td width="100%">
												<ui:include src="viewBalance.xhtml"/>
											</td>
										</tr>
										</table>
									</p:dialog>
							</p:outputPanel>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>	
</html>	