<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<h:form id="frmBalance">
<table width="100%">
	<tr>
		<td align="left">
			<b class="required-field"><h:outputLabel value="#{msgs['lbl.title.view.balance']}"/></b>
		</td>
	</tr>
	<tr>
		<td>
			<p:separator/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:fieldset legend="#{msgs['lbl.query.operations.options.balance.movements.panel.title']}">
		<table width="100%">		
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.query.operations.options.balance.movements..participant']}"/>
			</td>
			<td colspan="5">
				<h:panelGrid>
				<p:selectOneMenu disabled="true" value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.participant.idParticipantPk}">
					<f:selectItem itemLabel="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.participant.displayDescriptionCode}" />
				</p:selectOneMenu>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['account.lbl.code']}"/> 
			</td>
			<td colspan="5">
				<h:panelGrid columns="5">
				<p:inputText disabled="true" styleClass="content-right" size="10"
					value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.holderAccount.accountNumber}"/>
				<p:commandButton value="#{msgs['lbl.points']}" disabled="true"/>
				<h:outputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.holderAccount.alternateCode}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.holderAccount.accountRntAndDescription}"
					escape="false"/>
				</h:panelGrid>
			</td>		
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="7">
				<p:inputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.security.idSecurityCodePk}" 
					disabled="true" size="23"/> 
				<p:commandButton value="#{msgs['lbl.points']}" disabled="true"/>
				<h:outputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.security.description}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.security.idSecurityCodePk}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{issuerHolderQueryBean.selectedIssuerHolderDetailTO.holderAccountBalance.security.cfiCode}"/>
				</h:panelGrid>
			</td>
		</tr>		
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset legend="#{msgs['lbl.query.operations.options.balance.panel.title']}">
		<p:dataTable value="#{issuerHolderQueryBean.lstHolderAccountBalances}"
			var="holderAccountBalance" style="font-size:90% !important;">						
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.total']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.totalBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.available']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.availableBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.transit']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.transitBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.pawn']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.pawnBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.ban']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.banBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.blockOthers']}"
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.otherBlockBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>		
		</p:dataTable>
		<p:dataTable value="#{issuerHolderQueryBean.lstHolderAccountBalances}"
			var="holderAccountBalance" style="font-size:90% !important;">
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.acccreditation']}" 
				style="width:14%;"> 
				<h:outputText value="#{holderAccountBalance.accreditationBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.reported']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.reportedBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.reporting']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.reportingBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.margin']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.marginBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.options.balance.buy']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.purchaseBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" style="width:14%;" 
				headerText="#{msgs['lbl.query.operations.options.balance.sell']}"> 
				<h:outputText value="#{holderAccountBalance.saleBalance}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
		</p:dataTable>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>		
		<p:fieldset legend="#{msgs['lbl.query.operations.options.movements.panel.title']}" 
			rendered="#{not empty issuerHolderQueryBean.holderAccountMovementList}">
		<p:dataTable value="#{issuerHolderQueryBean.holderAccountMovementList}"
			var="holderAccountMovement" style="font-size:90% !important;" rows="4" paginatorPosition="top"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="4"
				currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}">						
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.movementDate']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.movementDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.movementNumber']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.idHolderAccountMovementPk}"/>
				<ui:remove>
					<p:commandLink
					update=":opnlGenericDialogs :frmIssuerHolderQuery:frmBalance:outputPanelModals"
					actionListener="#{issuerHolderQueryBean.getMovementsMarketFactBalance}"
					value="#{holderAccountMovement.idHolderAccountMovementPk}">
					<f:attribute name="attributeMov" value="#{holderAccountMovement}" />
					</p:commandLink>
				</ui:remove>				
			</p:column>
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.operationDate']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.operationDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.operationNumber']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.operationNumber}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="Mecanismo">
				<h:outputText	value="#{issuerHolderQueryBean.getMechanismCode(holderAccountMovement.idMechanism)}" />
			</p:column>
			<p:column styleClass="content-center" headerText="Modalidad ">
				<h:outputText	value="#{issuerHolderQueryBean.getModalityDescription(holderAccountMovement.idModality)}" />
			</p:column>
			<p:column styleClass="content-left" headerText="#{msgs['lbl.query.operations.options.movements.movement']}">
				<h:outputText value="#{holderAccountMovement.movementName}" />
				<p:graphicImage id="imgHelp" style="cursor:pointer;"
					library="img" name="icons/help.png"
					rendered="#{not empty holderAccountMovement.movementDetail}" />
				<p:tooltip for="imgHelp">
					<ui:repeat var="movements" value="#{holderAccountMovement.movementDetail}">
						<h:outputFormat value="#{movements}" escape="false" />
					</ui:repeat>
				</p:tooltip>
			</p:column>
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.sourceParticipant']}" 
						escape="false"/>
				</f:facet>
				<h:outputText	value="#{issuerHolderQueryBean.searchParticipantOnListFromPK(holderAccountMovement.idSourceParticipant).mnemonic} - #{issuerHolderQueryBean.searchParticipantOnListFromPK(holderAccountMovement.idSourceParticipant).idParticipantPk}" />
			</p:column>
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.targetParticipant']}" 
						escape="false"/>
				</f:facet>
				<h:outputText	value="#{issuerHolderQueryBean.searchParticipantOnListFromPK(holderAccountMovement.idTargetParticipant).mnemonic}  - #{issuerHolderQueryBean.searchParticipantOnListFromPK(holderAccountMovement.idTargetParticipant).idParticipantPk}" />
			</p:column>
			<p:column styleClass="content-right" headerText="#{msgs['lbl.query.operations.options.movements.stockQuantity']}">
				<h:outputText value="#{holderAccountMovement.movementQuantity}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-right" headerText="#{msgs['lbl.query.operations.options.movements.operationPrice']}">
				<h:outputText value="#{holderAccountMovement.operationPrice}">
					<f:convertNumber locale="#{msgs['lbl.english_US']}" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>
			</p:column>
		</p:dataTable>
		</p:fieldset>
		<p:fieldset legend="#{msgs['lbl.query.operations.options.movements.panel.title']}" 
			rendered="#{empty issuerHolderQueryBean.holderAccountMovementList}">
			<h:outputText value="#{msgs['lbl.query.operations.options.movements.no.result']}" styleClass="required-field"/>
		</p:fieldset>
		</td>
	</tr>
	<tr>		
		<td colspan="4" align="center">
			<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"	oncomplete="dlgWBalance.hide()"/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="outputPanelModals">
			<h:form id="frmDetailSaldos">
			<p:dialog id="dialogMarketFactMov"
				widgetVar="dialogWgvMarketFactMov" modal="true" resizable="false"
				showHeader="false" position="top" showEffect="true"
				maximizable="false" width="600" closeOnEscape="true">
				<p:outputPanel autoUpdate="true">
					<p:fieldset legend="#{msgs['lbl.made.market']}" id="fsHechoMercadoMov">
						<table width="100%" cellpadding="0" border="0" cellspacing="0"
							class="cleanTable">
							<tr>
								<td><p:outputPanel id="panelInforMarkefatMov"
										rendered="#{issuerHolderQueryBean.marketFactBalanceMovement.marketFacBalances.size()>0}">
										<table width="100%" class="cleanTable">
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.security.code']}" /></td>
												<td width="70%"><p:inputText style="width:70%"
														disabled="true"
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.securityCodePk}" />
												</td>
											</tr>
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.security.description']}" /></td>
												<td width="70%"><p:inputText
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.securityDescription}"
														disabled="true" style="width:70%" /></td>
											</tr>
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.instrumenttype']}" /></td>
												<td width="70%"><p:inputText style="width:70%"
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.instrumentDescription}"
														disabled="true" /></td>
											</tr>
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.lastDate']}" /></td>
												<td width="70%"><p:inputText
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.lastMarketDate}"
														disabled="true" style="width:70%">
														<f:convertDateTime pattern="#{msgs['dateFormat']}" />
													</p:inputText></td>
											</tr>
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.lastPrice']}"
														rendered="#{instType.VARIABLE_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}" /></td>
												<td width="70%"><p:inputNumber maxlength="10"
														size="10" thousandSeparator="," decimalSeparator="."
														style="width:70%;text-align:right" disabled="true"
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.lastMarketPrice}"
														rendered="#{instType.VARIABLE_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}" />
												</td>
											</tr>
											<tr>
												<td width="30%" align="left"><h:outputText
														value="#{gmsgs['account.balance.query.movements.lastRate']}"
														rendered="#{instType.FIXED_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}" /></td>
												<td width="70%"><p:inputNumber maxlength="10"
														size="10" thousandSeparator="," decimalSeparator="."
														style="width:70%;text-align:right" disabled="true"
														value="#{issuerHolderQueryBean.marketFactBalanceMovement.lastMarketRate}"
														rendered="#{instType.FIXED_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}" />
												</td>
											</tr>
										</table>
									</p:outputPanel></td>
							</tr>
							<tr>
								<td><p:dataTable
										value="#{issuerHolderQueryBean.marketFactBalanceMovement.marketFacBalances}"
										var="listMov" id="dtHechoMercadoMov"
										rendered="#{issuerHolderQueryBean.marketFactBalanceMovement.marketFacBalances.size()>0}">
										<p:column styleClass="content-center">
											<f:facet name="header">
												<h:outputText
													value="#{gmsgs['account.balance.query.movements.table.date']}" />
											</f:facet>
											<h:outputText value="#{listMov.marketDate}">
												<f:convertDateTime pattern="#{msgs['dateFormat']}" />
											</h:outputText>
										</p:column>
										<p:column styleClass="content-right"
											rendered="#{instType.VARIABLE_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}">
											<f:facet name="header">
												<h:outputText
													value="#{gmsgs['account.balance.query.movements.table.price']}" />
											</f:facet>
											<h:outputText value="#{listMov.marketPrice}" />
										</p:column>
										<p:column styleClass="content-right"
											rendered="#{instType.FIXED_INCOME.code eq issuerHolderQueryBean.marketFactBalanceMovement.instrumentType}">
											<f:facet name="header">
												<h:outputText
													value="#{gmsgs['account.balance.query.movements.table.rate']}" />
											</f:facet>
											<h:outputText value="#{listMov.marketRate} %" />
										</p:column>
										<p:column styleClass="content-right">
											<f:facet name="header">
												<h:outputText
													value="#{gmsgs['account.balance.query.movements.table.quantity']}" />
											</f:facet>
											<h:outputText value="#{listMov.movementQuantity}" />
											<br />
										</p:column>
									</p:dataTable></td>
							</tr>
							<tr>
								<td><p:outputPanel
										rendered="#{issuerHolderQueryBean.marketFactBalanceMovement.marketFacBalances.size() le 0}">
										<h:outputLabel
											value="#{msgs['error.made.market.not.movement.selected']}" /> 
									</p:outputPanel><br /></td>
							</tr>
							<tr>
								<td align="center"><p:commandButton
										value="#{msgs['btn.accept']}"
										oncomplete="dialogWgvMarketFactMov.hide()" process="@this"
										update=":frmIssuerHolderQuery:frmBalance:outputPanelModals">
									</p:commandButton></td>
							</tr>
						</table>
					</p:fieldset>
				</p:outputPanel>
			</p:dialog>		
			</h:form>
		</p:outputPanel>	
		</td>
	</tr>
</table>			
</h:form>
</html>		