<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="#{msgs['inegotiations.queryoperations.register.title']}" styleClass="title-page" />
<h:form id="frmQueryOperations">
<table width="100%">
	<tr>
		<td width="100%">
		<p:fieldset legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.operation.mechanism']} (*)" styleClass="required-field"/>
				</td>
				<td width="30%">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="mechanism" label="#{msgs['lbl.operation.mechanism']}" 
						value="#{manageReportOperationBean.searchOperationTO.negotiationMechanismSelected}" 
						disabled="#{manageReportOperationBean.mechanismUser}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstNegotiationMechanisms}" var="negoMecha" 
							itemValue="#{negoMecha.idNegotiationMechanismPk}" itemLabel="#{negoMecha.description}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
							<p:ajax event="change" listener="#{manageReportOperationBean.onChangeNegotiationMechanism}"
								update="@this msgMechanism modality "/>
					</p:selectOneMenu>
					<p:message display="icon" for="mechanism" id="msgMechanism"/>
					</h:panelGrid>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.operation.modality']}" />
				</td>
				<td width="30%">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="modality" value="#{manageReportOperationBean.searchOperationTO.negotiationModalitySelected}"
						
						label="#{msgs['lbl.operation.modality']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstNegotiationModalities}" var="negoModa" 
							itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
<!-- 							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/> -->
							<p:ajax event="change" listener="#{manageReportOperationBean.onChangeNegotitationModality}"
								update="@this msgModality "/>
					</p:selectOneMenu>
					<p:message display="icon" for="modality" id="msgModality"/>
					</h:panelGrid>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.assignment.account.search.participant']}"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu id="cboParticipant" value="#{manageReportOperationBean.searchOperationTO.participantSelected}" 
						disabled="#{manageReportOperationBean.participantUser}" style="width:500px">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstParticipant}" 
							var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<p:ajax event="change" listener="#{manageReportOperationBean.cleanResults}"
							update="@this"/>
					</p:selectOneMenu>
					</h:panelGrid>
				</td>
			</tr>
			
			<!-- ELIMINAR: participante, emisor, RUT (Registro Unico del Titular), cuenta titular -->
				
			<tr>
				<td>
					<p:outputPanel>
						<h:outputText 
							value="#{msgs['currency.settlement.class.security']}" />
					</p:outputPanel>	
				</td>
				<td >
					<p:outputPanel>
						<p:selectOneMenu value="#{manageReportOperationBean.searchOperationTO.securityClassSelected}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstSecurityClass}" var="paramSecClass" 
							itemValue="#{paramSecClass.parameterTablePk}" itemLabel="#{paramSecClass.text1} - #{paramSecClass.description}"/>
					</p:selectOneMenu>
					</p:outputPanel>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputText value="#{gmsgs['security.lbl.code']}"/>
				</td>
				<td colspan="2">
				<h:panelGrid columns="4" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" security="#{manageReportOperationBean.security}"
						remoteListener="updateFieldSe()"/>
						<p:remoteCommand name="updateFieldSe" update=":frmQueryOperations:securityHelp" process="@this"/>	
						<p:spacer width="5"/>
						<p:outputPanel id="securityHelp">
						<ark:securities-help securityCode="#{manageReportOperationBean.security.idSecurityCodePk}"/>
						</p:outputPanel>
						</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationNumber']}"/>
				</td>
				<td>
					<p:inputText value="#{manageReportOperationBean.searchOperationTO.operationNumber}"
						maxlength="10" styleClass="content-right">
						<p:keyFilter mask="pint"/>						
					</p:inputText>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationState']}"/>
				</td>
				<td>
					<p:selectOneMenu value="#{manageReportOperationBean.searchOperationTO.stateSelected}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstStates}" var="paramTab" 
							itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.ballotNumber']}"/>
				</td>
				<td>
					<p:inputText maxlength="18" style="width:110px" size="18"  id="txtBallotNumber"
					value="#{manageReportOperationBean.searchOperationTO.ballotNumber}" >
						<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
					</p:inputText>									
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.sequential']}"/>
				</td>
				<td>
					<p:inputText maxlength="3" style="width:110px" size="3"  id="txtSequential"
					value="#{manageReportOperationBean.searchOperationTO.sequential}" >
						<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
					</p:inputText>									
				</td>
			</tr>
			<tr>
				<ui:remove>
				<td>
					<h:outputText value="#{msgs['lbl.operation.typeOfDate']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:selectOneMenu value="#{manageReportOperationBean.searchOperationTO.dateTypeSelected}">
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstDateType}" var="paramTab" 
							itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					</p:selectOneMenu>
				</td>
				</ui:remove>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationCurrency']}"/>
				</td>
				<td>
					<p:selectOneMenu value="#{manageReportOperationBean.searchOperationTO.currencySelected}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageReportOperationBean.searchOperationTO.lstCurrency}" var="paramTab" 
							itemValue="#{paramTab.parameterTablePk}" itemLabel="#{paramTab.parameterName}"/>
					</p:selectOneMenu>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.initialDate']} (*)" 
						styleClass="required-field"/>
				</td>
				<td>
					<p:calendar value="#{manageReportOperationBean.searchOperationTO.initialDate}" readonlyInput="true" 
						
						size="10" pattern="#{gmsgs['calendar.date.format']}" showOn="both" navigator="true"
						id="initialDate" disabledWeekends="true" maxdate="#{manageReportOperationBean.searchOperationTO.endDate}">
						<p:ajax process="@this" update="@this endDate" global="false" event="dateSelect"/>
					</p:calendar>
				</td>
				<td>
					<h:outputText value="#{msgs['lbl.operation.finalDate']} (*)" styleClass="required-field"/>
				</td>
				<td>
				  	<p:calendar value="#{manageReportOperationBean.searchOperationTO.endDate}" readonlyInput="true"
				  		
				  		id="endDate" mindate="#{manageReportOperationBean.searchOperationTO.initialDate}"
				  		size="10" pattern="#{gmsgs['calendar.date.format']}" showOn="both" disabledWeekends="true" navigator="true">
				  		<p:ajax process="@this" update="@this initialDate" global="false" event="dateSelect"/>
				  	</p:calendar>
				</td>
			</tr>
			<tr>
				<td width="100%" colspan="4" align="center">
					<p:commandButton value="#{gmsgs['btn.search']}" update="@form"
						rendered="#{userPrivilege.userAcctions.search}"
						icon="fa fa-search" actionListener="#{manageReportOperationBean.searchOperations}"/>
					<p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
						actionListener="#{manageReportOperationBean.cleanRegister}" process="@this" update="@form"/>
					<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
						action="searchReportOp" process="@this" onclick="if(isModifiedFormForBack(this))return false;"/>	
										
				</td>
			</tr>
			
			
			
		</table>
		</p:fieldset>
		</td>
	</tr>
	
	<tr>
		<td>
				<p:fieldset legend="Datos Obligatorios"  rendered="#{not empty manageReportOperationBean.mechanismOperationDataModel}">
				<table width="100%">
				<tr>
				<td width="15%">
					<h:outputText value="#{msgs['sedir.operation.register.request.quantity']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<p:inputText value="#{manageReportOperationBean.quantityReg}"
						maxlength="5"  styleClass="content-right">
						<p:keyFilter mask="pint"/>						
					</p:inputText>
				</td>
				</tr>
				</table>
				</p:fieldset>
		</td>
	</tr>
	
	
	<tr>
		<td>
		<p:outputPanel id="opnlResult">
		<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{not empty manageReportOperationBean.mechanismOperationDataModel}">
		<p:dataTable rendered="#{not empty manageReportOperationBean.mechanismOperationDataModel}" paginator="true"
			value="#{manageReportOperationBean.mechanismOperationDataModel}" var="mechanismOperation" paginatorPosition="top"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="15"
			rowKey="#{mechanismOperation.idMechanismOperationPk}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			selection="#{manageReportOperationBean.selectedMechanismOperations}" >
		
		<p:column selectionMode="multiple" style="width:18px;text-align:center" />
		
		<p:column headerText="#{msgs['lbl.operation.modality']}" styleClass="content-left"
			sortBy="#{mechanismOperation.modalityName}">
			<h:outputText value="#{mechanismOperation.modalityName}"  rendered="#{!mechanismOperation.forcedPurchase}"/>
			<h:outputText value="#{mechanismOperation.modalityName}"  id="idMechan" style="color:red" rendered="#{mechanismOperation.forcedPurchase}"/>
			<p:tooltip for="idMechan" rendered="#{mechanismOperation.forcedPurchase}" value="#{msgs['msg.tradesettlement.purchase.enforse']}"/>
		</p:column>
		
		<p:column styleClass="content-center" sortBy="#{mechanismOperation.operationDate}" headerText="#{msgs['lbl.operation.operationDate.br']}" >
			<h:outputText value="#{mechanismOperation.operationDate}">
				<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
			</h:outputText>
		</p:column>
		
		<p:column styleClass="content-right"  sortBy="#{mechanismOperation.operationNumber}" headerText="#{msgs['lbl.operation.operationNumber.br']}">
			<p:commandLink value="#{mechanismOperation.operationNumber}" style="color:blue" 
				actionListener="#{manageReportOperationBean.viewMechanismOperation}" action="viewReportOp">
				<f:attribute name="mechanismOperation" value="#{mechanismOperation.idMechanismOperationPk}"/>
			</p:commandLink>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.ballotSequential}" headerText="#{msgs['lbl.operation.ballotSequential.br']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.ballotSequential}"/>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.idSecurityCodePk}" headerText="#{msgs['lbl.operation.security.classCode']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.idSecurityCodePk}"/>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.currencyDescription}" styleClass="content-center" headerText="#{msgs['lbl.operation.operationCurrency.br']}">
			<h:outputText value="#{mechanismOperation.currencyDescription}"/>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.stockQuantity}" headerText="#{msgs['lbl.operation.stockQuantity']}" styleClass="content-right">
			<h:outputText value="#{mechanismOperation.stockQuantity}">
				<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
			</h:outputText>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.cashSettlementDate}" headerText="#{msgs['lbl.operation.cash.settlementFL']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.cashSettlementDate}">
				<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
			</h:outputText>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.termSettlementDate}" headerText="#{msgs['lbl.operation.term.settlementFL']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.termSettlementDate}">
				<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
			</h:outputText>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.buyerParticipantCodeNemonic}" headerText="#{msgs['lbl.operation.participant.buyer.br']}" styleClass="content-left">
			<h:outputText value="#{mechanismOperation.buyerParticipantCodeNemonic}"/>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.sellerParticipantCodeNemonic}" headerText="#{msgs['lbl.operation.participant.seller.br']}" styleClass="content-left">
			<h:outputText value="#{mechanismOperation.sellerParticipantCodeNemonic}"/>
		</p:column>		
		
		<p:column sortBy="#{mechanismOperation.stateDescription}" headerText="#{msgs['lbl.operation.operationState']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.stateDescription}"/>
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.isIndPrepaid ? 'SI' : 'NO'}" headerText="#{msgs['lbl.operation.indPrepaid']}" styleClass="content-center">
			<h:outputText value="#{mechanismOperation.isIndPrepaid ? 'SI' : 'NO'}" rendered="#{mechanismOperation.isIndPrepaid}" style="color:red;"/>
			<h:outputText value="#{mechanismOperation.isIndPrepaid ? 'SI' : 'NO'}" rendered="#{!mechanismOperation.isIndPrepaid}" />
		</p:column>
		
		<p:column sortBy="#{mechanismOperation.stockQuantityRemmaing}" headerText="#{msgs['lbl.operation.stock.quantity.remaing']}" styleClass="content-right">
			<h:outputText value="#{mechanismOperation.stockQuantityRemmaing}" rendered="#{mechanismOperation.isIndPrepaid}" style="color:red;"  />
			<h:outputText value="#{mechanismOperation.stockQuantityRemmaing}" rendered="#{!mechanismOperation.isIndPrepaid}"  />
		</p:column>
		
		<f:facet name="footer">	
			<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
				<f:param value="#{manageReportOperationBean.mechanismOperationDataModel.size}"/>
			</h:outputFormat>
		</f:facet>		
		</p:dataTable>
		</p:fieldset>
		<p:panel rendered="#{manageReportOperationBean.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>
		</p:outputPanel>
		</td>
	</tr>
	
	<tr>
	<td align="center">
		<p:commandButton rendered="#{not empty manageReportOperationBean.mechanismOperationDataModel}" id="btnSave" value="#{gmsgs['btn.save']}" icon="fa fa-save" update="@form"
			actionListener="#{manageReportOperationBean.registerRequestSettlementReport}"/>
	</td>
</tr>
</table>
<p:outputPanel id="opnlDialogs">
<p:confirmDialog 	id="idCofirmExtended" 
					widgetVar="idCofirmExtended"  
					message="#{bodyMessageView}" 
					rendered="true" 
					visible="false" 
					closable="false" 
					header="#{headerMessageView}" >	
								
	<p:commandButton value="#{gmsgs['btn.yes']}"  actionListener="#{manageReportOperationBean.saveRequestSettlementReport}" oncomplete="PF('idCofirmExtended').hide()" update="opnlDialogs"/>
	<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('idCofirmExtended').hide()" ></p:commandButton>			

</p:confirmDialog>

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchReportOp" value="#{gmsgs['btn.accept']}"
		process="@this"/>
</p:confirmDialog>

</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>