<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importConstants type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instrumentType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="roleType"/>
<p:importConstants type="com.pradera.integration.common.type.BooleanType" var="bolType"/>
<p:importConstants type="com.pradera.model.negotiation.type.McnCancelReasonType" var="reasonType"/>
<p:importConstants type="com.pradera.model.negotiation.type.ParticipantRoleType" var="rolType"/>
<p:importConstants type="com.pradera.model.negotiation.type.OtcOperationOriginRequestType" var="origType"/>

<h:outputText value="#{gmsgs['inegotiations.transferotc.tille']}" styleClass="title-page"/>
<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmOtcDpfOperation');
	});
</script>
<h:form id="frmOtcDpfOperation">
	<ui:param value="#{otcDpfBean.otcDpfRegisterTO.otcDpfOperation}" name="otcOperation"/>
	<ui:param value="#{otcOperation.holderAccountOperations.get(0)}" name="accountOperationSeller"/>
	<ui:param value="#{otcOperation.holderAccountOperations.get(1)}" name="accountOperationBuyer"/>
	
	<p:fieldset id="negotiationDateAccPanel" legend="#{msgs['sirtex.operation.register.data']}">
		<table width="100%">
			<ui:include src="otcSeparatorTables.xhtml"/>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.operation.operationState']} (*)" styleClass="required-field" 
								  rendered="#{!otcDpfBean.viewOperationRegister}"/>
				</td>
				<td>
					<h:outputText value="#{otcDpfBean.parameterDescription.get(otcOperation.operationState)}" 
								  rendered="#{!otcDpfBean.viewOperationRegister}"/>
				</td>
				<td>
					<h:outputText value="#{msgs['otc.operation.request.number']} (*)" styleClass="required-field" 
								  rendered="#{otcOperation.idMechanismOperationPk != null}"/>
				</td>
				<td>
					<p:inputText disabled="true" value="#{otcOperation.idMechanismOperationPk}" rendered="#{otcOperation.idMechanismOperationPk != null}" tabindex="1"/>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.requestorigin']}" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
						<p:selectOneMenu tabindex="0" id="cboRequest" value="#{otcOperation.originRequest}" disabled="#{!otcDpfBean.viewOperationRegister}" 
										 label="#{msgs['otc.operation.requestorigin']}">
							<f:selectItems value="#{otcDpfBean.otcDpfRegisterTO.lstCboOtcOriginRequestType}" var="originRequest"
										   itemValue="#{originRequest.parameterTablePk}" itemLabel="#{originRequest.parameterName}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
							<p:ajax event="change" update="@form" listener="#{otcDpfBean.changeOriginRequest}" process="@this"/>
						</p:selectOneMenu>
						<p:message for="cboRequest" display="icon" id="iconCbRequest"/>
					</h:panelGrid>					
				</td>
				<td><h:outputText value="#{msgs['lbl.manage.incharge.search.operationDate']} (*)" styleClass="required-field"/></td>
				<td>
					<p:calendar value="#{otcOperation.operationDate}" id="calOperationDate" readonlyInput="true" 
								pattern="#{cons['dateFormat']}" navigator="true" disabled="true" tabindex="5"/>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantSell">
						<h:outputText value="#{msgs['monitor.settlementProcess.lbl.SellerParticipant']} (*)" styleClass="required-field"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
						<p:selectOneMenu id="cboParticipantSell" value="#{otcOperation.sellerParticipant.idParticipantPk}" 
										label="#{msgs['monitor.settlementProcess.lbl.SellerParticipant']}" 
										disabled="#{!otcDpfBean.viewOperationRegister or otcDpfBean.userInfo.userAccountSession.issuerDpfInstitucion or otcDpfBean.userInfo.userAccountSession.bcbInstitution }" 
										style="width:500px" tabindex="6" >
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
							<f:selectItems value="#{otcDpfBean.otcDpfRegisterTO.participantSaleList}" var="participant2"
										   itemLabel="#{participant2.displayDescriptionCode}" itemValue="#{participant2.idParticipantPk}"/>
							<p:ajax event="change" process="@this" listener="#{otcDpfBean.changeParticipantSeller}" 
									update="cboParticipantBuy iconPlarticipantSell cboParticipantSell 
									:frmOtcDpfOperation:pnlAccountA :frmOtcDpfOperation:pnlAccountB
									:frmOtcDpfOperation:lblSourceAccounts :frmOtcDpfOperation:opnlSellerAccount
									"/>
									 
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						</p:selectOneMenu>
						<p:message for="cboParticipantSell" display="icon" id="iconPlarticipantSell"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="pnlParticipantBuy">
					<h:outputText value="#{msgs['lbl.operation.participant.buyer']} (*)" styleClass="required-field"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
						<p:selectOneMenu id="cboParticipantBuy" value="#{otcOperation.buyerParticipant.idParticipantPk}" 
										label="#{msgs['lbl.operation.participant.buyer']}" 
										style="width:500px" tabindex="7"
										disabled="#{!otcDpfBean.viewOperationRegister or origType.CRUSADE.code eq otcOperation.originRequest}">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
							<f:selectItems value="#{otcDpfBean.otcDpfRegisterTO.participantBuyList}" var="participant"
										   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
							<p:ajax event="change" process="@this"  listener ="#{otcDpfBean.changeParticipantBuyer}" 
									update="cboParticipantBuy iconPlarticipantSell cboParticipantSell 
									:frmOtcDpfOperation:pnlAccountA :frmOtcDpfOperation:pnlAccountB
									:frmOtcDpfOperation:lblSourceAccountsBuy :frmOtcDpfOperation:opnlBuyerAccount
									"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
						</p:selectOneMenu>
						<p:message for="cboParticipantBuy" display="icon" id="iconCboParticipantBuy"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.holder.cui.seller']} (*)" styleClass="required-field" rendered="#{otcDpfBean.viewOperationRegister}" />
				</td>
				<td colspan="3">
					<h:panelGrid columns="3" id="pnlAccountA" rendered="#{otcDpfBean.viewOperationRegister}" >					
						<ark:holderHelper id="idCuiSellerHolder" 
								holder="#{otcDpfBean.otcDpfRegisterTO.sellerHolder}" 
								remoteListener="rmtHolderAccount()" 
								disabled="#{otcOperation.sellerParticipant.idParticipantPk == null or !otcDpfBean.viewOperationRegister}"
								required="true" 
								validatorName="com.pradera.commons.view.validators.InputTextValidator" 
								label="#{msgs['otc.operation.holder.cui.seller']}" 
								blParticipant="true"
								participant="#{otcOperation.sellerParticipant.idParticipantPk}">
						</ark:holderHelper>																
						<p:message id="accountSale" display="icon" for="idCuiSellerHolder"/>
					   	<p:remoteCommand id="rmtHolderAccount" name="rmtHolderAccount" actionListener="#{otcDpfBean.validateSellerHolder}" 
										immediate="true" process="@this" update="@form" partialSubmit="true" />						
					</h:panelGrid>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:panelGroup id="lblSourceAccounts">
						<h:outputText value="#{msgs['otc.operation.account.seller']} (*)" styleClass="required-field" 
							rendered="#{not empty otcDpfBean.otcDpfRegisterTO.sellerHolderAccounts}" />
					</h:panelGroup>					
				</td>
				<td valign="top" colspan="3">
					<p:outputPanel id="opnlSellerAccount" >
						<p:dataTable id="tblResultHelperAccountSeller"
								style="width:880px" rendered="#{not empty otcDpfBean.otcDpfRegisterTO.sellerHolderAccounts}"
								value="#{otcDpfBean.otcDpfRegisterTO.sellerHolderAccounts}" var="account"
								rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
								selection="#{otcDpfBean.otcDpfRegisterTO.accountSale}"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								<p:column selectionMode="single" style="width:18px"/>
								<p:ajax event="rowSelectRadio" listener="#{otcDpfBean.validateSellerHolderAccount()}" 
									update=":frmOtcDpfOperation:opnlSellerAccount :frmOtcDpfOperation:idSecurityA" />
								<p:column headerText="#{msgs['otc.operation.header.holder.account.number']}" styleClass="content-center" style="width:70px;">
									<h:outputText value="#{account.accountNumber}" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.names']}" styleClass="content-left" >
									<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.document.type.number']}" styleClass="content-left" >
									<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
								</p:column>	
								<p:column headerText="#{msgs['otc.operation.header.holder.account.class']}" styleClass="content-center" >
									<h:outputText value="#{otcDpfBean.mapParameters.get(account.accountType).parameterName}" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.state']}"  styleClass="content-center">
									<h:outputText value="#{otcDpfBean.mapParameters.get(account.stateAccount).parameterName}" />
								</p:column>	 
						</p:dataTable>
					</p:outputPanel>
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputText value="#{msgs['otc.operation.holder.cui.buyer']} (*)" styleClass="required-field" rendered="#{otcDpfBean.viewOperationRegister}" />
				</td>
				<td colspan="3">
					<h:panelGrid columns="3" id="pnlAccountB" rendered="#{otcDpfBean.viewOperationRegister}" >					
						<ark:holderHelper id="idCuiBuyerHolder" 
								holder="#{otcDpfBean.otcDpfRegisterTO.buyerHolder}" 
								remoteListener="rmtHolderAccountBuy()" 
								disabled="#{ 
							   			    (otcOperation.buyerParticipant.idParticipantPk == null) 									or 
									   			   (origType.SALE.code eq otcOperation.originRequest and otcDpfBean.viewOperationRegister) 	or
									   			   (origType.CRUSADE.code eq otcOperation.originRequest and !otcDpfBean.viewOperationRegister) or
									   			   (origType.SALE.code eq otcOperation.originRequest and !otcDpfBean.viewOperationReview)}"
								required="true" 
								validatorName="com.pradera.commons.view.validators.InputTextValidator" 
								label="#{msgs['otc.operation.holder.cui.buyer']}" 
								blParticipant="true"
								participant="#{otcOperation.buyerParticipant.idParticipantPk}">
						</ark:holderHelper>																
						<p:message id="accountBuy" display="icon" for="idCuiBuyerHolder"/>
					   	<p:remoteCommand id="rmtHolderAccountBuy" name="rmtHolderAccountBuy" 
										actionListener="#{otcDpfBean.validateBuyerHolder}" 
										immediate="true" process="@this" 
									 	update=":frmOtcDpfOperation:pnlAccountB :frmOtcDpfOperation:pnlHelpSecurity 
									 	lblSourceAccountsBuy opnlBuyerAccount"
									 	partialSubmit="true"  />						
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td>
					<h:panelGroup id="lblSourceAccountsBuy">
						<h:outputText value="#{msgs['otc.operation.account.buyer']} (*)" styleClass="required-field" 
							rendered="#{not empty otcDpfBean.otcDpfRegisterTO.buyerHolderAccounts}" />
					</h:panelGroup>					
				</td>
				<td valign="top" colspan="3">
					<p:outputPanel id="opnlBuyerAccount" >
						<p:dataTable id="tblResultHelperAccountBuyer"
								style="width:880px" rendered="#{not empty otcDpfBean.otcDpfRegisterTO.buyerHolderAccounts}"
								value="#{otcDpfBean.otcDpfRegisterTO.buyerHolderAccounts}" var="account"
								rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
								selection="#{otcDpfBean.otcDpfRegisterTO.accountBuy}"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								<p:column selectionMode="single" style="width:18px"/>
								<p:ajax event="rowSelectRadio" listener="#{otcDpfBean.validateBuyerHolderAccount()}" 
									update=":frmOtcDpfOperation:opnlSellerAccount :frmOtcDpfOperation:idSecurityA" />
								<p:column headerText="#{msgs['otc.operation.header.holder.account.number']}" styleClass="content-center" style="width:70px;">
									<h:outputText value="#{account.accountNumber}" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.names']}" styleClass="content-left" >
									<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.document.type.number']}" styleClass="content-left" >
									<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
								</p:column>	
								<p:column headerText="#{msgs['otc.operation.header.holder.account.class']}" styleClass="content-center" >
									<h:outputText value="#{otcDpfBean.mapParameters.get(account.accountType).parameterName}" />
								</p:column>
								<p:column headerText="#{msgs['otc.operation.header.holder.state']}"  styleClass="content-center">
									<h:outputText value="#{otcDpfBean.mapParameters.get(account.stateAccount).parameterName}" />
								</p:column>	 
						</p:dataTable>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<h:outputText value="#{msgs['lbl.manage.incharge.search.detail.classSecurityCode']} (*)" styleClass="required-field" />
				</td> 
				<td colspan="3">
					<h:panelGrid id="pnlHelpSecurity" columns="3">
						<ark:securities-acc id="idSecurityA" value="#{otcOperation.securities.idSecurityCodePk}"
											partCode="#{otcOperation.sellerParticipant.idParticipantPk}"
											holderAccount="#{otcDpfBean.otcDpfRegisterTO.accountSale}"
											disabled="#{otcDpfBean.otcDpfRegisterTO.accountSale.idHolderAccountPk == null or !otcDpfBean.viewOperationRegister}"
											required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"											
											remoteListener="rmtSecurity()" 
											securityClassList="#{otcDpfBean.otcDpfRegisterTO.securityClassAllowed}" />
						<h:outputText value="#{otcOperation.securities.description}" rendered="#{otcOperation.securities.idSecurityCodePk != null}"/> 
						<p:message id="messageArkSecurity" display="icon" for="idSecurityA"/>
						
						<p:remoteCommand 	id="rmtSecurity" name="rmtSecurity"
											actionListener="#{otcDpfBean.validateSecurityCode}" 
											immediate="true" process="@this"
										 	update=":frmOtcDpfOperation:pnlHelpSecurity" 
										 	partialSubmit="true" /> 
					</h:panelGrid>
				</td>
			</tr>
		</table>
	</p:fieldset>
	
	<p:fieldset legend="#{msgs['otc.operation.aditional.information']}" id="pnlAditionalInformation">
		<table width="100%">
			<ui:include src="otcSeparatorTables.xhtml"/>
			<tr>
				<td><h:outputText id="observations" styleClass="required-field"
								  value="#{msgs['lbl.settlementSanctions.observations']} (*)" /></td>
				<td colspan="100%">					
					<p:inputTextarea id="inputObservation" autoResize="false" autoRelisize="false"
			             style="width:90%;height:40px" 
			             value="#{otcDpfBean.observaciones}"
			             disabled="#{!otcDpfBean.viewOperationRegister}"
			             maxlength="300">
			             <p:keyFilter regEx="#{cons['exp.regular.address.and.observations']}"/>
			             <p:ajax event="blur" global="false"/>
		            </p:inputTextarea>
					<p:message id="msgObservation" for="inputObservation" display="icon"/>
				</td>
				<td></td>
				<td></td>				
			</tr>
			<tr>
				<td></td>
				<td><br/>
				<p:commandLink
				    id="downloadLink" style="color:blue;"					
					value="#{otcDpfBean.fileNameDisplay}"
					ajax="false" global="false" immediate="true" process="@this"
					rendered="#{!otcDpfBean.viewOperationRegister}">
					<p:fileDownload value="#{otcDpfBean.getDocumentoAdjunto()}" />
				</p:commandLink>
				<br/>
				<p:outputPanel styleClass="fileupload-customize" layout="block"
				               rendered="#{otcDpfBean.viewOperationRegister}">	
	 			<p:fileUpload id="fuplDocumentFile" mode="advanced" auto="true"
	 			           widgetVar="fuplwDocumentFile" label="#{gmsgs['fupl.label']}"
	 			           allowTypes="/(\.|\/)(#{otcOperationMgmt.fUploadFileDocumentsTypes})$/"
	 			           sizeLimit="#{otcOperationMgmt.fUploadFileDocumentsSize}"
						   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
						   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}"							 			             
						   fileUploadListener="#{otcDpfBean.documentAttachFile}" 
						   update=":cnfMsgCustomValidationSec pnlAditionalInformation fuplDocumentFile"/>									
				<script type="text/javascript">									
					 $(document).ready(function(){										 					
						fileuploadValidate('fuplDocumentFile');	
					  });		
				</script>				
			    <p:graphicImage id="imgLimit" 
					library="img" 
					name="icons/help.png"
					styleClass="icon"/>	
				<p:tooltip for="imgLimit">
					<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
						<f:param value="#{otcDpfBean.fUploadFileSizeDocumentsDisplay}"/>
						<f:param value="#{otcDpfBean.fUploadFileTypesDocumentsDisplay}"/>			
					</h:outputFormat>
				</p:tooltip>				
				<h:outputLabel id="lblFuplDocumentFile"
					value="#{otcDpfBean.fileNameDisplay==null ? gmsgs['fupl.no.selected'] : otcDpfBean.fileNameDisplay}" 
				    styleClass="label"/>											    
				</p:outputPanel>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
			    <td></td>
				<td colspan="100%" style="text-align: justify;"><br/>
				<h:outputLabel value="#{otcDpfBean.textDescription}" style="font: italic bold 13px/17px Arial; text-align: justify;"/></td>
				<td></td>
				<td></td>
			</tr>			
		</table>		
	</p:fieldset>
	
	<p:outputPanel id="pnlButtons">
		<table width="100%" align="center">
			<tr>
				<td align="center">
					<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" 
									 update="@form" actionListener="#{otcDpfBean.beforeSaveOtcOperation}"
									 rendered="#{otcDpfBean.viewOperationRegister}" id="btnSave"/>
									 
					<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" actionListener="#{otcDpfBean.beforeSaveOtcOperation}" 
									 rendered="#{otcDpfBean.viewOperationApprove}" iconPos="btnApprove" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
						
					<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" actionListener="#{otcDpfBean.beforeSaveOtcOperation}"
									 rendered="#{otcDpfBean.viewOperationReject}" id="btnReject" 
									 update="pnlDialogsCustomized" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-anulate" actionListener="#{otcDpfBean.beforeSaveOtcOperation}"
									 rendered="#{otcDpfBean.viewOperationAnnul}" id="btnAnnulate" 
									 update="pnlDialogsCustomized" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" actionListener="#{otcDpfBean.beforeSaveOtcOperation}" 
									 rendered="#{otcDpfBean.viewOperationConfirm}" id="btnConfirm" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
					
					<p:commandButton value="#{gmsgs['btn.settlement']}" icon="ui-confirm" actionListener="#{otcDpfBean.beforeSaveOtcOperation}" 
									 rendered="#{otcDpfBean.viewOperationSettlement}" id="btnSettlement" 
									 update="@form :opnlGenericDialogs" process="pnlButtons"/>
									 
					<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-edit" actionListener="#{otcDpfBean.beforeSaveOtcOperation}" id="btnEdited" 
									 rendered="#{otcDpfBean.viewOperationReview}" update="@form :opnlGenericDialogs" process="pnlButtons"/>
									 
					<p:commandButton id="cmbCleanHolderAccountReq" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
									 onclick="return showCleanConfirmDialog(this);"
									 actionListener="#{otcDpfBean.newOtcDpfOperationAction}" update="@form" oncomplete="PF('cnfwClean').hide()" 
									 rendered="#{otcDpfBean.viewOperationRegister}"/>
					<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchOtcDpf" process="@this"
									 onclick="if(isModifiedFormForBack(this))return false;" ajax="false" immediate="true"/>
				</td>
			</tr>
		</table>
	</p:outputPanel> 
	<p:outputPanel id="pnlDialogsCustomized">
		<p:confirmDialog id="cnfOtcDpfOperations" widgetVar="cnfwOtcDpfOperations" severity="alert" closable="false"
						 header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwOtcDpfOperations').hide()"  
							 actionListener="#{otcDpfBean.saveNewMechanismOperation}"/> 
			<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwOtcDpfOperations').hide()" type="button"/>
		</p:confirmDialog>
	</p:outputPanel>
</h:form>
</ui:define>
</ui:composition>
</html>