<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers" 
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<p:importConstants type="com.pradera.model.negotiation.type.OtcOperationDateSearchType" var="searchType"/> 
	<h:outputText value="#{gmsgs['inegotiations.transferotc.manage.tille']}"  styleClass="title-page"/>
		<h:form id="frmOtcOperationSearch">
			<div class="buttons-top-right">
				 <p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" 
										 rendered="#{userPrivilege.userAcctions.register}"  
										 action="#{otcDpfBean.newOtcDpfOperationAction}" icon="fa fa-edit"/>
			</div>
			<table width="100%">				
				<tr>
					<td>
						<p:fieldset legend="#{gmsgs['lbl.criteria.search']}" id="flsFilters">
							<table width="100%"> 
								<tr>
									<td width="15%"><h:outputText value="#{msgs['otc.operation.participant']} " /></td>
									<td width="35%">
										<h:panelGrid columns="2">
										<p:selectOneMenu id="cboParticipant" value="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.idParticipantBuyer}" 
														 label="Participante"
														 disabled="#{userInfo.userAccountSession.participantInstitucion or 
														 			 userInfo.userAccountSession.participantInvestorInstitucion or
														 			 userInfo.userAccountSession.issuerDpfInstitucion}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{otcDpfBean.otcDpfConsultTO.allParticipantList}" var="participant"
														   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
											<p:ajax event="change" global="false"/>
										</p:selectOneMenu>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['otc.operation.state']}"/>
									</td>
									<td>
										<p:selectOneMenu value="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.otcOperationState}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{otcDpfBean.otcDpfConsultTO.lstCboOtcOperationStateType}" var="otcState"
														   itemValue="#{otcState.parameterTablePk}" itemLabel="#{otcState.description}"/>
												<p:ajax global="false" process="@this"></p:ajax>
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['otc.operation.initialdate']}"/>
									</td>
									<td>
										<p:calendar value="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.initialDate}" size="10"
													maxdate="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.finalDate}" navigator="true" pattern="#{cons['dateFormat']}" 
													id="calInitialDate" showOn="button" readonlyInput="true" >
											<p:ajax update="calEndDate" event="dateSelect" global="false"/> 
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['otc.operation.finaldate']}"/>
									</td>
									<td>
										<p:calendar value="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.finalDate}" id="calEndDate" showOn="button" 
													readonlyInput="true" pattern="#{cons['dateFormat']}"  size="10"
													maxdate="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.idSearchDateType ne searchType.TERM_SETTLEM_DATE.code?
															   otcDpfBean.currentSystemDate:
															   null}"													
													navigator="true" mindate="#{otcDpfBean.otcDpfConsultTO.otcDpfFiltersTO.initialDate}">  
											<p:ajax update="calInitialDate" event="dateSelect" global="false"/>
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td></td>
									<td align="center" colspan="3">
										<br></br>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
														 update="pnlOtcOperationResult,pnlButtonsComponent,flsFilters,:opnlGenericDialogs" process="flsFilters"   
														 actionListener="#{otcDpfBean.searchOtcDpfOperations}"/> 
										<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
														 actionListener="#{otcDpfBean.init}" process="@this" update="@form"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="helpSecurityFinancial">
							<ark:securities-help icon="false" name="securityHelp" />
						</p:outputPanel>
						<p:outputPanel id="pnlButtonsComponent">
							<comp:privileges id="praderaPrivileges" rendered="#{(otcDpfBean.otcDpfConsultTO.otcResultDataModel.rowCount >= 1)}"
							 	actionConfirm="#{otcDpfBean.confirmOtcDpfAction}" actionAnnular="#{otcDpfBean.annulateOtcDpfAction}"
							 	actionReject="#{otcDpfBean.rejectOtcDpfAction}" actionApprove="#{otcDpfBean.approveSirtexAction}"
							 	actionReview="#{otcDpfBean.reviewOtcDpfAction}" actions="#{userPrivilege.userAcctions}"
							 	renders="#{userPrivilege.privilegeComponent}"/>
						 </p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlOtcOperationResult">
						<p:fieldset rendered="#{not empty otcDpfBean.otcDpfConsultTO.otcResultDataModel}" legend="#{gmsgs['lbl.results']}">
							<p:dataTable value="#{otcDpfBean.otcDpfConsultTO.otcResultDataModel}" var="operations"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										 paginator="true" rows="#{otcDpfBean.rowsQuantityDataTable}"  paginatorPosition="top" 
										 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
										 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
										 rowKey="#{operations.idMechanismOperationRequestPk}"
										 selection="#{otcDpfBean.otcDpfConsultTO.otcDpfSelected}"
										 rendered="#{(otcDpfBean.otcDpfConsultTO.otcResultDataModel.rowCount >= 1)}">
								<p:column selectionMode="single" style="width:18px"/>
								<p:column headerText="#{msgs['otc.operation.operationnumber']}" styleClass="content-center" 
										sortBy="#{operations.idMechanismOperationRequestPk}">
									<p:commandLink value="#{operations.idMechanismOperationRequestPk}" style="color:blue" process="@this"
												   action="otcDpfOperationRule" actionListener="#{otcDpfBean.viewOtcDpfOperationDetail(operations)}">
									</p:commandLink>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.modality']}" styleClass="content-center">
									<h:outputText value="#{operations.modalityName}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.operationdate.search']}" styleClass="content-center" sortBy="#{operations.operationDate}">
									<h:outputText value="#{operations.operationDate}">
										<f:convertDateTime pattern="#{msgs['dateFormatM']}"/>
									</h:outputText>
								</p:column>
<!-- 								<p:column headerText="#{msgs['otc.operation.operationnumber']}" styleClass="content-center" sortBy="#{operations.operationNumber}"> -->
<!-- 									<h:outputText value="#{operations.operationNumber}"/> -->
<!-- 									<h:outputText value="#{msgs['otc.operation.operationnumber.empty']}" rendered="#{empty operations.operationNumber}"/> -->
<!-- 								</p:column> -->
								<p:column headerText="#{msgs['otc.operation.participant.sell.search']}" styleClass="content-center">
									<h:outputText value="#{operations.idPartSeller}-#{operations.mnemoPartSeller}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.participant.buy.search']}" styleClass="content-center">
									<h:outputText value="#{operations.idPartBuyer}-#{operations.mnemoPartBuyer}"/>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.settlementcash.date']}" styleClass="content-center" sortBy="#{operations.settlementCashDate}">
									<h:outputText value="#{operations.settlementCashDate}">
										<f:convertDateTime pattern="#{msgs['dateFormatM']}"/>
									</h:outputText>
								</p:column>
								<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-center" sortBy="#{operations.securityCode}">
									<p:commandLink process="@this" actionListener="#{otcDpfBean.showSecurityFinancialData(operations.securityCode)}"
												   update=":frmOtcOperationSearch:helpSecurityFinancial">
										<h:outputText value="#{operations.securityCode}"/>
									</p:commandLink>
								</p:column>
								<p:column headerText="#{msgs['otc.operation.state']}" styleClass="content-center" >
									<h:outputText value="#{operations.stateDescription}"/>
								</p:column>
								<f:facet name="footer" >  
								   <h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								         <f:param value="#{otcDpfBean.otcDpfConsultTO.otcResultDataModel.rowCount}"/>
								   </h:outputFormat>
							   </f:facet>
							   <p:ajax event="page" listener="#{otcDpfBean.changePageDatatable}"/>
							   <p:ajax event="rowToggle" listener="#{otcDpfBean.changePageDatatable}"/>
							</p:dataTable>
							<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" rendered="#{(1 > otcDpfBean.otcDpfConsultTO.otcResultDataModel.rowCount )}"
							   styleClass="required-field"/>
						</p:fieldset>
						<ark:securities-help isinCode=""/>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs"></p:outputPanel>
	</ui:define>
</ui:composition>
</html>