<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
 <body>
 	<cc:interface name="valuatorHistoryDetail" displayName="Valuator History Detail">
 		<cc:attribute name="id" default="valuatorHistoryDetail"/>
 		<cc:attribute name="security" default="" type="com.pradera.model.issuancesecuritie.Security" required="true"/>
 		<cc:attribute name="viewOperationType" default="" type="java.lang.Integer" required="true"/>
 	</cc:interface>

 	<cc:implementation>
 	
		<style type="text/css">
			.header-col{
				font-size:12px;
			 }
			.header-cont{
			/*	font-weight: bold; */
				font-size:12px;
			 }
			.sub-header-col{
				font-weight: bold;
				background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)) repeat scroll 0 0 #85b2cb !important;
			 }
			 .col1{
			 	text-align:left;
			 }
			 .col2{
			 	text-align:right;
			 }
	        div.arrow { background:transparent url(arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
	        div.up { background-position:0px 0px;}
		</style>
		<script type="text/javascript">

		</script>
		<table width="100%"> 
			<tr> 
				<td> 
				<p:fieldset id="fldSecurityDetail" 
							legend="#{msgs['security.lbl.title.security.data']}">
					<table>
						<tr> 
							<td width="150"> 
								<h:outputText value="#{gmsgs['security.lbl.code.only']}"/>
							</td>
							<td width="350"> 
								<p:inputText id="txtSecurityCodeOnlyVal" 
											 value="#{valuatorHistoryDetailBean.security.idSecurityCodeOnly}"
											 disabled="true"
											 styleClass="securityCode-input-text-width"/>
							</td>
							<td width="100"> 
								<h:outputText value="#{gmsgs['security.lbl.instrument.type']}"/>
							</td>
							<td width="200"> 
								<p:inputText id="txtInstrumentTypeVal" 
											 value="#{valuatorHistoryDetailBean.parametersTableMap[valuatorHistoryDetailBean.security.instrumentType]}"
											 disabled="true"/>
							</td>
							<td width="100"> 
								<h:outputText value="#{gmsgs['security.lbl.cfi.code']}"/>
							</td>
							<td > 
								<p:inputText id="txtCfiCodeVal"
											 value="#{valuatorHistoryDetailBean.security.cfiCode}"
											 disabled="true"/>
							</td>
						</tr>
						<tr> 
							<td> 
								<h:outputText value="#{gmsgs['security.lbl.alternate.code']}"/>
							</td>
							<td> 
								<p:inputText id="txtAlternativeCodeVal"
											 value="#{valuatorHistoryDetailBean.security.alternativeCode}"
											 styleClass="securityCode-input-text-width"
											 disabled="true"/>
							</td>
							<td> 
								<h:outputText value="#{gmsgs['security.lbl.class']}"/>
							</td>
							<td> 
								<p:inputText id="txtSecurityClassVal"
											 value="#{valuatorHistoryDetailBean.parametersTableMap[valuatorHistoryDetailBean.security.securityClass].text1}"
											 disabled="true"/>
							</td>
							<td> 
								<h:outputText value="#{gmsgs['security.lbl.days.terms.value']}"/>
							</td>
							<td> 
								<p:inputText id="txtSecurityDaysTermVal"
											 value="#{valuatorHistoryDetailBean.security.securityDaysTerm}"
											 disabled="true"/>
							</td>
						</tr>
						<tr>
							<td> 
								<h:outputText value="#{msgs['security.lbl.security.serie']}" 
											rendered="#{!securityMgmtBean.disabledSecuritySerial and securityMgmtBean.security.variableInstrumentTypeAcc}"/>
							</td>
							<td> 
								<p:inputText id="txtSecuritySerialVal"
											 rendered="#{!securityMgmtBean.disabledSecuritySerial and securityMgmtBean.security.variableInstrumentTypeAcc}"
											 value="#{valuatorHistoryDetailBean.security.securitySerial}"
											 disabled="true"/>
							</td>
						</tr>
					</table>				
				</p:fieldset>
				</td>
			</tr>
			<tr> 
				<td> 
				<p:fieldset id="fldValuatorDetail" 
							legend="#{gmsgs['valuator.lbl.title.valuator.data']}"
							>
							
					<table>
						<tr> 
							<td> 
								<h:outputText value="#{msgs['valuator.process.class.lbl.description']}"/>
							</td>
							<td colspan="3"> 
								<h:panelGrid styleClass="clsCboValuatorUpd" columns="2" border="0">
									<p:selectOneMenu id="cboValuatorClassVal"
													 style="width:600px;"
													 value="#{valuatorHistoryDetailBean.security.valuatorProcessClass.idValuatorClassPk}"
													 disabled="#{!valuatorHistoryDetailBean.viewOperationRegister || securityMgmtBean.isDisabledValuatorClass()}" 
													 label="#{msgs['valuator.process.class.lbl.description']}"
													 > 
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
										<f:selectItems value="#{valuatorHistoryDetailBean.lstCboSecurityClassValuator}"
													   var="valClass"
													   itemValue="#{valClass.valuatorProcessClass.idValuatorClassPk}"
													   itemLabel="#{gmsgs['lbl.type']} 
													 			  #{valClass.valuatorProcessClass.idValuatorClassPk}: 
													 			  #{valClass.valuatorProcessClass.classDescription}" />
										<p:ajax event="change"
												listener="#{valuatorHistoryDetailBean.changeCboValuatorClassVal}"
											process="@this"
											update="@(.clsCboValuatorUpd)"/>
									<f:validator validatorId="selectOneRequiredValidator" disabled="#{securityMgmtBean.isDisabledValuatorClass()}"/>	
									<f:param name="skipValidation" value="true"/>	
								</p:selectOneMenu>
								
								<p:message for="cboValuatorClassVal" 
										   display="icon"/>
								</h:panelGrid>
							</td>
							<td> 
								
							</td>
							<td> 
							
							</td>
						</tr>
						<tr> 
							<td width="150"> 
								<h:outputText value="#{msgs['valuator.process.class.lbl.mmrv']}"/>	 &nbsp;
								<p:graphicImage id="imgMmrvFull"
									library="img" 
									name="icons/help.png"
									styleClass="icon"
									/>
								 <p:tooltip for="imgMmrvFull">
									<h:outputFormat value="#{msgs['full.mmrv.info']}" escape="false"/>
								</p:tooltip>
							</td>
							<td width="350"> 
								<p:inputText id="txtValuatorProcMMRV"
								             value="#{valuatorHistoryDetailBean.security.valuatorProcessClass.minRelevantAmount}"
								             disabled="true"
								             styleClass="clsCboValuatorUpd"
											 />
							</td>
							<td width="100"> 
								<h:outputText value="#{msgs['issuer.lbl.mnemonic']}"/>
							</td>
							<td width="200"> 
								<p:inputText id="txtIssuerVal"
											 value="#{valuatorHistoryDetailBean.security.issuer.mnemonic}"
											 disabled="true"/>
							</td>
							<td width="100"> 
								<h:outputText value="#{msgs['lbl.currency']}"/>
							</td>
							<td> 
								<p:inputText id="txtCurrencyVal"
											 value="#{valuatorHistoryDetailBean.parametersTableMap[valuatorHistoryDetailBean.security.currency].indicator3} - #{valuatorHistoryDetailBean.parametersTableMap[valuatorHistoryDetailBean.security.currency].parameterName}"
											 disabled="true"/>
							</td>
						</tr>
						<tr> 
							<td> 
								<h:outputText value="#{msgs['valuator.term.range.initial']}"/>
							</td>
							<td> 
								<p:inputText id="txtRangeInitial"
											 value="#{valuatorHistoryDetailBean.valuatorTermRange.rangeCode} - #{gmsgs['lbl.of']} #{valuatorHistoryDetailBean.valuatorTermRange.minRange} #{gmsgs['lbl.to']} #{valuatorHistoryDetailBean.valuatorTermRange.maxRange}"
											 disabled="true"/>
							</td>
							<td> 
								<h:outputText value="#{gmsgs['valuator.lbl.prepaid']}"/>
							</td>
							<td> 
								<p:inputText id="txtPrepaidVal"
											 value="#{valuatorHistoryDetailBean.prepaidCode}"
											 size="5"
											 disabled="true"/>
							</td>
							<td> 
								<h:outputText value="#{gmsgs['valuator.lbl.subordinated']}"/>
							</td>
							<td> 
								<p:inputText id="txtSubordinatedVal"
											 value="#{valuatorHistoryDetailBean.subordinateCode}"
											 size="5"
											 disabled="true"/>
							</td>
						</tr>
					</table>			
							
				</p:fieldset>
				</td>
			</tr>
			<tr> 
				<td> 
				<p:fieldset id="fldValuatorCodeSchedule" 
							legend="#{gmsgs['valuator.lbl.title.valuator.code.schedule']}"
							rendered="#{!valuatorHistoryDetailBean.viewOperationRegister}">
					<table width="100%">
						<tr> 
							<td> 
							<p:panelGrid rendered="#{not empty valuatorHistoryDetailBean.lstDtbValuatorSecurityCode}" 
										 style="margin-top:20px;width:80%;">
							    <f:facet name="header">
							        <p:row>
							            <p:column colspan="2">
							            	<h:outputText value="#{msgs['valuator.col.code']}" 
							            				  escape="false"
							            				  styleClass="header-col"/>
							           </p:column>
							            <p:column colspan="2">
							            	<h:outputText value="#{msgs['valuator.lbl.range']}" 
							            				  escape="false"
							            				  styleClass="header-col"/>
							           </p:column>
							            <p:column>
							            	<h:outputText value="#{msgs['valuator.col.initial.date']}" 
							            				  escape="false"
							            				  styleClass="header-col"/>
							           </p:column>
							            <p:column>
							            	<h:outputText value="#{msgs['valuator.col.final.date']}" 
							            				  escape="false"
							            				  styleClass="header-col"/>
							           </p:column>
							            <p:column colspan="2">
							            	<h:outputText value="#{msgs['valuator.col.state']}" 
							            				  escape="false"
							            				  styleClass="header-col"/>
							           </p:column>
							        </p:row>
							    </f:facet>
							   <c:forEach items="#{valuatorHistoryDetailBean.lstDtbValuatorSecurityCode}" 
							   			  var="valCode" >
								    <p:row id="_rowParent#{valCode.idValuatorSecurityPk}"> 
								        <p:column colspan="2" 
								        		  styleClass="header-cont ui-widget-header content-left">
								        	<h:outputText value="#{valCode.valuatorCode.idValuatorCode}" />	
								        </p:column>
								        <p:column colspan="2"
								        		  styleClass="header-cont ui-widget-header content-left">
								        	<h:outputText value="#{valCode.valuatorTermRange.rangeCode} - #{gmsgs['lbl.of']} #{valCode.valuatorTermRange.minRange} #{gmsgs['lbl.to']} #{valCode.valuatorTermRange.maxRange}" />
								        </p:column>
								        <p:column styleClass="header-cont ui-widget-header content-left">
								        	<h:outputText value="#{valCode.initialDate}">
								        		<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
								        	</h:outputText>
								        </p:column>
								        <p:column styleClass="header-cont ui-widget-header content-left">
								        	<h:outputText value="#{valCode.finalDate}">
								        		<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
								        	</h:outputText>
								        </p:column>
								        <p:column styleClass="header-cont ui-widget-header "
								        		  colspan="2">
								        	<h:panelGrid  columns="2" border="0" columnClasses="col1 col2"> 
								        		<h:outputText value="#{valuatorHistoryDetailBean.parametersTableMap[valCode.valuatorSituation]}"/>
								        	</h:panelGrid>	
								        </p:column>			        
								    </p:row>
								   
									<p:row id="rowChild#{valCode.idValuatorSecurityPk}"
											rendered="#{valCode.valuatorSecurityMarketfacts!=null and not empty valCode.valuatorSecurityMarketfacts}">
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['col.registry.date']}" 
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.valuator.type']}"
							            				  escape="false" />
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.information.type']}" 
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.negotiation.date']}"
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.tpp']}" 
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.market.price']}" 
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.circulation.balance']}" 
							            				  escape="false"/>
							           </p:column>
							            <p:column styleClass="sub-header-col content-center">
							            	<h:outputText value="#{gmsgs['valuator.col.market.amount']}"            				
							            				  escape="false"/>
							           </p:column>
						        	</p:row>
									    
								    <c:forEach items="#{valCode.valuatorSecurityMarketfacts}"
								    		   var="mFacts">
									    <p:row id="rowMark#{mFacts.idValuatorMarketfactPk}rowChild#{valCode.idValuatorSecurityPk}">
									        <p:column styleClass="content-left">
									        	<h:outputText value="#{mFacts.registryDate}">
									        		<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
									        	</h:outputText>
									        </p:column>
									        <p:column styleClass="content-left">
									        	<h:outputText value="#{valuatorHistoryDetailBean.parametersTableMap[mFacts.valuatorType]}" />
									        </p:column>
									        <p:column styleClass="content-left">
									        	<h:outputText value="#{valuatorHistoryDetailBean.parametersTableMap[mFacts.informationType]}" />
									        </p:column>
									        <p:column styleClass="content-left">
									        	<h:outputText value="#{mFacts.registryDate}">
									        		<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
									        	</h:outputText>
									        </p:column>
									        <p:column styleClass="content-right">
									        	 <h:outputText value="#{mFacts.averageRate}">
									        	 	<f:convertNumber pattern="#{gconst['conv.number.pattern.rate.factor']}"/>
									        	 </h:outputText>	
									        </p:column>	
									        <p:column styleClass="content-right">
									        	  <h:outputText value="#{mFacts.marketPrice}">
									        	  	<f:convertNumber pattern="#{gconst['conv.number.pattern.price']}"/>
									        	  </h:outputText>
									        </p:column>	
									        <p:column styleClass="content-right">
									        	 <h:outputText value="#{mFacts.circulationBalance}">
									        	 	<f:convertNumber pattern="#{gconst['conv.number.pattern.quantity']}"/>	
									        	 </h:outputText>
									        </p:column>	
									        <p:column styleClass="content-right">
									        	 <h:outputText value="#{mFacts.marketAmount}" />
									        </p:column>			        	        
									    </p:row>
								    </c:forEach>
								
							   </c:forEach>
							</p:panelGrid>
							
			
							</td>
						</tr>
					</table>
				</p:fieldset>
				</td>
			</tr>
		</table>

 	</cc:implementation>
 </body>
</html>