<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">


		<h:form id="frmSearchParticipant">
			<table width="100%">
				<tr>
					<td align="right">
					<table width="100%"> 
						<td align="left"> 
							<h:outputText value="#{gmsgs['iAccounts.participant.register.manage.title']}" styleClass="title-page" />
						</td>
						<td align="right"> 
							<p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit" rendered="#{userPrivilege.userAcctions.register and participantMgmtBean.allowSearchAll}"
							action="#{participantMgmtBean.loadRegisterParticipantAction}" ajax="false" process="@this" />
						</td>
					</table>
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset styleClass="legendNone" id="fldsFilters" legend="#{msgs['lbl.criteria.search']}">
						
								<table width="100%"> 
									<tr>
									
										<td width="120"> 
												<h:outputText value="#{msgs['adm.participant.mnemonic']}" />
										</td>
										<td> 
												<p:inputText  styleClass="short-input-text-width" id="txtMnemonic" maxlength="8"
																					 value="#{participantMgmtBean.participantTO.mnemonic}" disabled="#{not participantMgmtBean.allowSearchAll}">
																							<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.asterisk']}"/>
																						</p:inputText>
										</td> 
										
										<td width="150"> 
											<h:outputText value="#{msgs['adm.participant.tradename']}" />
										</td>
										<td width="450"> 
											<p:inputText value="#{participantMgmtBean.participantTO.description}"
														 id="txtTradeName" maxlength="150" 
														 style="width:420px;"
														 disabled="#{not participantMgmtBean.allowSearchAll}" >
																						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name.with.asterisk']}"/>
																					</p:inputText>
										</td>
										<td width="120"> 
											<h:outputText value="#{msgs['adm.participant.code']}" />
										</td>
										<td width="150"> 
											<p:inputText value="#{participantMgmtBean.participantTO.idParticipantPk}" style="width:50px"
											 id="txtParticipantCode"  maxlength="5" disabled="#{not participantMgmtBean.allowSearchAll}">
												<p:keyFilter mask="num"/>
											</p:inputText>
										</td>
									</tr>
									<tr> 
										<td> 
												<h:outputText value="#{msgs['adm.participant.state']}" />		
										</td>
										<td> 
												<p:selectOneMenu id="cboParticipantState" style="width:120px" 
												disabled="#{not participantMgmtBean.allowSearchAll}"
												value="#{participantMgmtBean.participantTO.stateParticipant}">
													<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />	
													<f:selectItems value="#{participantMgmtBean.lstParticipantStateForSearch}" var="item" 
															itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>												
												</p:selectOneMenu>
										</td>
										<td> 
												<h:outputText value="#{msgs['adm.participant.doctype']}" />
										</td>
										<td> 
													<p:selectOneMenu id="cboDocumentType" style="width:110px" value="#{participantMgmtBean.participantTO.documentType}"
														disabled="#{not participantMgmtBean.allowSearchAll}">
														<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />
														<f:selectItems value="#{participantMgmtBean.lstParticipantDocumentTypeForSearch}" var="item" 
																itemLabel="#{item.indicator1}" itemValue="#{item.parameterTablePk}"/>			
													</p:selectOneMenu>
										</td>
										<td> 
												<h:outputText value="#{msgs['adm.participant.docnumber']}"/>	
										</td>
										<td> 
											<p:inputText id="txtDocumentNumber" styleClass="medium-input-text-width" maxlength="15"
											 disabled="#{not participantMgmtBean.allowSearchAll}"
											  value="#{participantMgmtBean.participantTO.documentNumber}" >
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
											</p:inputText>
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['adm.participant.participanttype']}" />
										</td>
										<td> 
											<p:selectOneMenu style="width:120px" id="cboParticipantType" 
												disabled="#{not participantMgmtBean.allowSearchAll}"
												value="#{participantMgmtBean.participantTO.participantType}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantTypeForSearch}" var="item" 
														itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
												<p:ajax event="change" listener="#{participantMgmtBean.changeSelectedParticipantTypeSearch}" 
													update=":frmSearchParticipant:cboParticipantClass"/>											
											</p:selectOneMenu>
										</td>
										<td> 
											<h:outputText value="#{msgs['adm.participant.class']}" />
										</td>
										<td colspan="3"> 
											<p:selectOneMenu style="width:430px;" id="cboParticipantClass"
												disabled="#{not participantMgmtBean.allowSearchAll}"
											 	value="#{participantMgmtBean.participantTO.participantClass}">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantClassForSearch}" var="item" 
														itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											</p:selectOneMenu>
										</td>
									</tr>
									<tr> 
										<td colspan="6" align="center"> 
											<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
											actionListener="#{participantMgmtBean.searchParticipantByFilters}" update="@form,:opnlGenericDialogs"/> 
											<p:commandButton value="#{msgs['btn.clean']}" process="@this" icon="fa fa-trash" action="#{participantMgmtBean.cleanSearch}"
												update="@form" />
										</td>
									</tr>
								</table>
						</p:fieldset>
					</td>	
				</tr>
				<tr>
					<td>
						<p:outputPanel id="opnlResult">
						<p:outputPanel id="pnlResult" rendered="#{participantMgmtBean.participantDataModel != null}">
							<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" >
							<p:dataTable id="dtbResult" var="par" first="#{participantMgmtBean.firsRegisterDataTable}"
									paginator="true" value="#{participantMgmtBean.participantDataModel}"
									rendered="#{participantMgmtBean.participantDataModel.rowCount>=1}"
									rows="10" 
									paginatorPosition="top"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
									selection="#{participantMgmtBean.participant}"
									rowKey="#{par.idParticipantPk}"
									resizableColumns="true"
									style="width:100% !important">

								<p:column sortBy="#{par.mnemonic}"
										  style="width:8%">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.participant.register.grid.code']}" styleClass="text-header-table" />
									</f:facet>
									<p:commandLink action="#{participantMgmtBean.detailParticipant}"
											onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
											process="@this" ajax="false">
										<f:setPropertyActionListener
											target="#{participantMgmtBean.idParticipantPk}" 
											value="#{par.idParticipantPk}" />
										<f:setPropertyActionListener
											target="#{participantMgmtBean.stateParticipant}" 
											value="#{par.state}" />
										<h:outputText value="#{par.displayMnemonicCode}" />
									</p:commandLink>
								</p:column>
								<p:column sortBy="#{par.description}"
										  style="width:26%;">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.participant.tradename']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{par.description}" />
								</p:column>

								<p:column sortBy="#{par.fullDocument}"
										  style="width:13%;">
									<f:facet name="header">
										<h:outputText value="Tipo y Numero &lt;br/&gt; Documento" 
													  styleClass="text-header-table" 
													  escape="false"/>
									</f:facet>
									<h:outputText value="#{par.fullDocument}" />
								</p:column>

								<p:column sortBy="#{par.accountType}"
										  style="width:32%;">
									<f:facet name="header">
										<h:outputText value="Tipo &lt;br/&gt; Depositante" 
													  styleClass="text-header-table" 
													  escape="false"/>
									</f:facet>
									<h:outputText value="#{par.accountTypeDescription}" />
								</p:column>

								<p:column sortBy="#{par.accountClass}" style="width:21%;">
									<f:facet name="header">
										<h:outputText value="Clase &lt;br/&gt; Depositante" 
													  styleClass="text-header-table" 
													  escape="false"/>
									</f:facet>
									<h:outputText value="#{par.accountClassDescription}" />
								</p:column>

								<p:column styleClass="content-left" 
										  sortBy="#{par.state}"
										  style="width:10%">
									<f:facet name="header">
										<h:outputText value="#{msgs['adm.participant.state']}" styleClass="text-header-table" />
									</f:facet>
									<h:outputText value="#{par.stateDescription}" />
								</p:column>
								
								<f:facet name="footer">	
									<div style="width:100%; text-align:left">								
									<h:outputLabel value="#{participantMgmtBean.participantDataModel.rowCount} #{msgs['lbl.results']}" 
									style="font-weight:bold;"/>
									</div>
								</f:facet>
								
								<p:ajax event="page" listener="#{participantMgmtBean.changePageDatatable}"/>
							</p:dataTable>
							
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
								rendered="#{!(participantMgmtBean.participantDataModel.rowCount >= 1)}"
								style="font-weight:bold;"/>
								
							</p:fieldset>
							
						</p:outputPanel>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>