<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/legalRepresentativeComponent"
	xmlns:ark2="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">

<ui:define name="body">

<h:outputText value="#{gmsgs['iAccounts.participant.register.detail.title']}" styleClass="title-page" />

	<h:form id="frmParticipantRegister" enctype="multipart/form-data">
					
		<p:tabView id="tabViewParticipant" style="width:100%">
		
			<p:tab id="tabRegisterData" title="#{msgs['adm.participant.register.tab.personaldata']}">
				<p:outputPanel id="opnlRegisterData">
				<table width="100%">
					<tr>
						<td>
							<p:fieldset id="fieldParticipantData"  legend="#{msgs['adm.participant.register.fieldset.data']}" toggleable="false">
								<table width="100%">									
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.code']}" /></td>
										<td width="350px">
											<p:inputText id="txtCodeParticipant" size="15" disabled="true"
												onkeypress="return allowOnlyValidCharacters(event,this);"
											 value="#{participantMgmtBean.participant.idParticipantPk}"/>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.state']}" /></td>
										<td width="350px">
											<p:selectOneMenu  style="width:320px" value="#{participantMgmtBean.participant.state}" id="cboState" disabled="true">
												<f:selectItem itemLabel="" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantState}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>												
											</p:selectOneMenu>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.rnt']}" /></td>
										<td width="350px">
											<p:inputText id="txtRntParticipant" size="15" disabled="true"
												onkeypress="return allowOnlyValidCharacters(event,this);"
											 value="#{participantMgmtBean.participant.holder.idHolderPk}"/>
										</td>
										<td ></td>
										<td ><h:outputText value="#{msgs['adm.holders.register.holder.lbl.fund.administrator']}"/></td>
										<td ><p:inputText size="15" disabled="true" value="#{participantMgmtBean.participant.holder.mnemonic}"/></td>
									</tr>
									<tr>
										<td ><h:outputText value="#{msgs['adm.holders.register.holder.lbl.fund.type']}"/></td>
										<td ><p:inputText size="15" disabled="true" value="#{participantMgmtBean.participant.holder.fundAdministrator}"/></td>
										<td ></td>
										<td ><h:outputText value="#{msgs['adm.holders.register.holder.lbl.tranfer.number']}"/></td>
										<td ><p:inputText size="15" disabled="true" value="#{participantMgmtBean.participant.holder.transferNumber}"/></td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.role']}" /></td>
										<td width="350px">
											<p:selectOneMenu id="cboRole"  style="width:320px" value="#{participantMgmtBean.participant.roleParticipant}"
														label="#{msgs['adm.participant.role']}" disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantRoles}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
													<p:ajax event="change" />
											</p:selectOneMenu>
										</td>
										<td width="70px"></td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>
									</tr>
									<tr>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="70px"></td>
										<td width="150px">
											<p:outputPanel id="oplLabelBCBCode">
										        <h:outputText id="labelBCBCode" value="#{msgs['adm.holders.register.holder.lbl.bcbcode']}" />
											</p:outputPanel>
										</td>
										<td width="350px">
											<p:inputMask id="txtBCBCode" value="#{participantMgmtBean.participant.idBcbCode}" disabled="true" 
														 maxlength="4" label="#{msgs['adm.holders.register.holder.lbl.bcbcode']}" >
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>	
											</p:inputMask>
										</td>
										<td width="70px"></td>
									</tr>											
									<tr>
										<td width="150px"><h:outputText value="#{msgs['lbl.general.country']}" /></td>
										<td width="350px">
											<p:selectOneMenu id="cboCountry"  style="width:320px" value="#{participantMgmtBean.participant.residenceCountry}"
														label="#{msgs['lbl.general.country']}" disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstCountries}" var="item" 
													itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}"/>
												<p:ajax event="change" listener="#{participantMgmtBean.changeSelectedCountry}" 
												update=":frmParticipantRegister:tabViewParticipant:opnlRegisterData :frmParticipantRegister:tabViewParticipant:groupUploadFiles :opnlDialogs"/>												
											</p:selectOneMenu>
										</td>
										<td width="70px"></td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.doctype']}" /></td>
										<td width="350px">
											<p:selectOneMenu label="#{msgs['adm.participant.doctype']}" style="width:320px" id="cboDocumentType" 
													value="#{participantMgmtBean.participant.documentType}" disabled="true">
												<f:selectItem itemLabel="" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantDocumentType}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>												
											</p:selectOneMenu>
										</td>
										<td width="70px">										
										</td>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.docnumber']}" /></td>
										<td width="350px">
											<p:inputText  id="txtDocumentNumber"
											onkeypress="return allowOnlyValidCharacters(event,this);" value="#{participantMgmtBean.participant.documentNumber}" 
											 disabled="true">												
											</p:inputText>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.tradename']}" /></td>
										<td width="920px" colspan="4"><p:inputText  id="txtTradeName"
										onkeypress="return allowOnlyValidCharacters(event,this);"
										 value="#{participantMgmtBean.participant.description}" style="width:700px;" maxlength="150"
										 	disabled="true">
										</p:inputText> 
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.mnemonic']}" /></td>
										<td width="350px" ><p:inputText onkeypress="return allowOnlyValidCharacters(event,this);"
											disabled="true"
										 id="txtMnemonic" value="#{participantMgmtBean.participant.mnemonic}" maxlength="8" >
											</p:inputText>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>					
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.participanttype']}" /></td>
										<td width="350px">
											<p:selectOneMenu  style="width:320px" id="cboParticipantType" 
											disabled="true" value="#{participantMgmtBean.participant.accountType}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantType}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>																																		
											</p:selectOneMenu>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>											
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.class']}" /></td>
										<td width="920px" colspan="4">
											<p:selectOneMenu style="width:700px;" disabled="true" id="cboParticipantClass" value="#{participantMgmtBean.participant.accountClass}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstParticipantClass}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>																						
											</p:selectOneMenu>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.economsector']}" /></td>
										<td width="350px">
											<p:selectOneMenu label="#{msgs['adm.participant.register.economsector']}"
											disabled="true" id="cboEconomicSector"  style="width:320px" value="#{participantMgmtBean.participant.economicSector}" >  
									            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />  									             
									            <f:selectItems value="#{participantMgmtBean.lstEconomicSector}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>																							
									        </p:selectOneMenu>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>	
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.economactiv']}" /></td>
										<td width="920px" colspan="4">
											<p:selectOneMenu disabled="true" label="#{msgs['adm.participant.register.economactiv']}" id="cboEconomicActivity"  
											 style="width:700px;" value="#{participantMgmtBean.participant.economicActivity}" >  
									            <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />  
									            <f:selectItems value="#{participantMgmtBean.lstEconomicActivity}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>												
									        </p:selectOneMenu>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr style="display:none">
										<td width="150px"><h:outputText value="#{msgs['adm.holders.register.holder.lbl.investor.type']}" /></td>
										<td width="920px" colspan="4">
									        <p:selectOneMenu id="cmbInvestorType" disabled="true"
												label="#{msgs['adm.holders.register.holder.lbl.investor.type']}" 
												style="width:440px" value="#{participantMgmtBean.participant.investorType}" >  
												<f:selectItem itemLabel="#{msgs['cbo.opt.selection']}"   />  
												<f:selectItems value="#{participantMgmtBean.listInvestorType}" var="investorTypeVar" 
													itemLabel="#{investorTypeVar.shortName}" itemValue="#{investorTypeVar.id}"/>
											</p:selectOneMenu>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.contractdate']}" /></td>
										<td width="350px">
											<p:calendar disabled="true" id="calContractDate" maxdate="#{participantMgmtBean.currentSystemDate}"
														value="#{participantMgmtBean.participant.contractDate}" showOn="button" 
														pattern="#{msgs['dateFormat']}" maxlength="10" size="10"/>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.creationdate']}" /></td>
										<td width="350px">
											<p:calendar  id="calCreationDate" disabled="true" maxdate="#{participantMgmtBean.currentSystemDate}"
												value="#{participantMgmtBean.participant.creationDate}" showOn="button"
												pattern="#{msgs['dateFormat']}" maxlength="10" size="10"/>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td><h:outputText value="#{msgs['adm.participant.register.accounts.type']}" /></td>
										<td>
											<p:selectOneRadio id="selectOneRadio" value="#{participantMgmtBean.optionSelectedOneRadio}" disabled="true">  
			        							<f:selectItem itemValue="0" itemLabel="#{msgs['adm.participant.register.accounts.type.matrix']}"/>
			        							<f:selectItem itemValue="1" itemLabel="#{msgs['adm.participant.register.accounts.type.issuer']}"/>
			        							<p:ajax event="change" partialSubmit="false" />											            
											</p:selectOneRadio>														
										</td>
										<td></td>
										<td><h:outputText value="#{msgs['adm.participant.register.accounts.issuer']}"/></td>
										<td>	
											<p:outputPanel id="panelIssuerHelper" >							
												<ark2:issuerHelper id="issuerHelper" issuer="#{participantMgmtBean.participant.issuer}"
																  remoteListener="cmdIssuerHelper()"
																  disabled="true" 
																  required="false" 
																  label="#{msgs['adm.participant.register.accounts.issuer']}">	
														<f:facet name="textMessage">
													      <p:message id="messageIssuer" for="issuerHelper:issuerHelper" display="icon"/>
													   </f:facet>		  
												</ark2:issuerHelper>		
											</p:outputPanel>	  	
										</td>
										<td></td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="Participante CAVAPY" /></td>
										<td width="350px"><p:selectBooleanCheckbox id="chkIndDepositary" disabled="true"
															value="#{participantMgmtBean.indParticipantCavapy}"/> </td>
										<td width="40px">
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="Cuenta Propia y Terceros" /></td>
										<td width="350px"><p:selectBooleanCheckbox id="chkIndManagedThird" disabled="true"
															value="#{participantMgmtBean.indManagedThirdCavapy}"/> </td>
										<td width="40px">
										</td>
									</tr>									
								</table>
							</p:fieldset>																												
							
							<p:fieldset id="fieldCommecialData"  legend="#{msgs['adm.participant.register.fieldset.commercialdata']}" toggleable="false">
								<table width="1110px">
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.comercialregister']}" /></td>
										<td width="350px">
											<p:inputText disabled="true"  id="txtRegMerc" value="#{participantMgmtBean.participant.commercialRegister}" maxlength="20"
												 onkeypress="return allowOnlyValidCharacters(event,this);">												
											</p:inputText>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.comision']}" /></td>
										<td width="350px"><p:selectBooleanCheckbox id="chkPayCommision" disabled="true"
															value="#{participantMgmtBean.participantPayCommission}"/> </td>
										<td width="40px">											
										</td>
									</tr>
								</table>
							</p:fieldset>
							
							
							<p:fieldset rendered="#{not empty participantMgmtBean.lstInstitutionBankAccountSession }" 
								legend="#{msgs['lbl.banks.accounts']}">
							<table width="100%">
							<tr>
								<td>
								<p:dataTable id="dtbBankAcc" var="varBankAcc"
									value="#{participantMgmtBean.lstInstitutionBankAccountSession}" rows="10" rowKey="#{varBankAcc.accountNumber}">
									<p:column headerText="#{msgs['lbl.banks.accounts.bank.provider']}" styleClass="content-center">
										<h:outputText value="#{varBankAcc.providerBank.description}"/>
									</p:column>
									<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.type']}">
										<h:outputText value="#{varBankAcc.descriptionBankAcountType}" />
									</p:column>
									<p:column styleClass="content-left" headerText="#{msgs['lbl.banks.accounts.number']}">
										<h:outputText value="#{varBankAcc.accountNumber}" />
									</p:column>
									<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.currency']}">
										<h:outputText value="#{varBankAcc.descriptionCurrency}" />
									</p:column>
								</p:dataTable>
								</td>
							</tr>
							</table>
							</p:fieldset>
							
							<p:fieldset id="fieldLocationData"  legend="#{msgs['adm.participant.register.fieldset.locationdata']}" toggleable="false">							
								<table width="1110px">
									<tr>
										<td width="150px"><h:outputText value="#{msgs['lbl.general.departament']}" /></td>
										<td width="350px">
											<p:selectOneMenu label="#{msgs['lbl.general.province']}"
											disabled="true" style="width:350px" value="#{participantMgmtBean.participant.department}" id="cboProv">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstDepartments}" var="item" 
													itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}"/>																							
											</p:selectOneMenu>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"><h:outputText value="#{msgs['lbl.general.province']}" /></td>
										<td width="350px">
											<p:selectOneMenu label="#{msgs['lbl.general.sector']}"  style="width:350px" 
											disabled="true" value="#{participantMgmtBean.participant.province}" id="cboSector">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstProvinces}" var="item" 
													itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}"/>												
											</p:selectOneMenu>
										</td>
										<td width="40px">											
										</td>
									</tr>
									<tr> 
										<td> 
											<h:outputText value="#{msgs['lbl.general.municipality']}" />
										</td>
										<td colspan="5"> 
											<p:selectOneMenu  id="cboMunicipality" label="#{msgs['lbl.general.municipality']}"  style="width:350px" value="#{participantMgmtBean.participant.district}"
															  disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantMgmtBean.lstDistricts}" var="item" 
													itemLabel="#{item.name}" itemValue="#{item.idGeographicLocationPk}"/>											
											</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['lbl.general.address']}" /></td>
										<td width="920px" colspan="4"><p:inputText  id="txtAddress"
										disabled="true" onkeypress="return allowOnlyValidCharacters(event,this);"
										 style="width:700px;" value="#{participantMgmtBean.participant.address}" maxlength="150" /></td>
										<td width="40px">											
										</td>
									</tr>
								</table>
							</p:fieldset>
							
							<p:fieldset id="fieldContactData"  legend="#{msgs['adm.participant.register.fieldset.contactdata']}" toggleable="false">							
								<table width="1110px">
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.phone']}" /></td>
										<td width="350px"><p:inputText  id="txtPhoneNumber" disabled="true"
										onkeypress="return allowOnlyValidCharacters(event,this);"
										 value="#{participantMgmtBean.participant.phoneNumber}"  maxlength="15" >
											</p:inputText>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.fax']}" /></td>
										<td width="350px">
											<p:inputText  id="txtFaxNumber" disabled="true"
											onkeypress="return allowOnlyValidCharacters(event,this);"
											 value="#{participantMgmtBean.participant.faxNumber}" maxlength="15" >												
											</p:inputText>
										</td>
										<td width="70px">											
										</td>										
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.webpage']}" /></td>
										<td width="920px" colspan="4">
										<p:inputText  styleClass="sensitive-inputField" disabled="true"
											onkeypress="return allowOnlyValidCharacters(event,this);"
											style="width:700px;"  id="txtWebPage" value="#{participantMgmtBean.participant.website}" maxlength="150" /></td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.email']}" /></td>
										<td width="350px"><p:inputText  styleClass="sensitive-inputField" id="txtEmail"
														onkeypress="return allowOnlyValidCharacters(event,this);" disabled="true"
														style="width:230px"
													 value="#{participantMgmtBean.participant.email}" maxlength="50" /></td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>
									</tr>									
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.contactname']}" /></td>
										<td width="920px" colspan="4"><p:inputText  id="txtContactName"
											onkeypress="return allowOnlyValidCharacters(event,this);" disabled="true"
										  style="width:700px;" value="#{participantMgmtBean.participant.contactName}" maxlength="50" /></td>
										<td width="40px">											
										</td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.contactphone']}" /></td>
										<td width="350px">
											<p:inputText  id="txtContactPhone" disabled="true"
											onkeypress="return allowOnlyValidCharacters(event,this);"
											 value="#{participantMgmtBean.participant.contactPhone}" maxlength="15" >												
											</p:inputText>
										</td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>
									</tr>
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.contactemail']}" /></td>
										<td width="350px"><p:inputText onkeypress="return allowOnlyValidCharacters(event,this);"
										  styleClass="sensitive-inputField" id="txtEmailCont" disabled="true"
											style="width:230px"	value="#{participantMgmtBean.participant.contactEmail}" maxlength="50" /></td>
										<td width="70px">											
										</td>
										<td width="150px"></td>
										<td width="350px"></td>
										<td width="40px"></td>				
									</tr>									
									<tr>
										<td width="150px"><h:outputText value="#{msgs['adm.participant.register.observations']}" /></td>
										<td width="920px" colspan="4"><p:inputText  id="txtObservations"		
												onkeypress="return allowOnlyValidCharacters(event,this);" disabled="true"																																
												style="width:700px;" value="#{participantMgmtBean.participant.comments}" maxlength="100" /></td>
										<td width="40px">											
										</td>
									</tr>
								</table>
							</p:fieldset>														
							
						</td>
					</tr>																		

				</table>
				</p:outputPanel>
			</p:tab>
			
			<p:tab id="tabRepresentantRegister" title="#{msgs['adm.participant.register.tab.representantregister']}">

					<table width="100%">
						<tr>
							<td>							
								<p:outputPanel id="outputPanelRepresentativeButton">														 
								<ark:representativeHistoryDetails idLegalRepresentativeComponent="frmParticipantRegister:tabViewParticipant:legalRepresentativeComp"
								 id="legalRepresentativeComp"/>						
								</p:outputPanel>
							</td>
						</tr>
					</table>

				</p:tab>
				
				<p:tab id="tabNegotiationMechanism" title="#{msgs['adm.participant.register.tab.negotiationMechanisms']}">
				
					<p:fieldset id="fieldInternationalDeposit"  legend="#{msgs['adm.participant.register.fieldset.internationaldepository']}" toggleable="false">
						<table width="100%">
							<tr>
								<td>
								<p:dataTable id="dtbInternationalDeposit" var="idep" value="#{participantMgmtBean.lstInternationalDepository}"
										rendered="#{not empty participantMgmtBean.lstInternationalDepository}">
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.code']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.idInternationalDepositoryPk}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.internationalmechanisms']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.description}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.yes']}"/>
											</f:facet>
											<p:selectBooleanCheckbox value="#{idep.selected}" disabled="true"></p:selectBooleanCheckbox>
										</p:column>																				
										
									</p:dataTable>
								
								
								</td>
							</tr>													
									
						</table>
					</p:fieldset>
				
					<p:fieldset id="fieldNegotiationDataGrid"  legend="#{msgs['adm.participant.register.fieldset.negotiationmechanism']}" toggleable="false">
								<p:outputPanel id="opnlNegotiationDataGrid">
									<table width="100%">								
										<tr>
											<td>											
											<p:dataTable id="dtbNegotiationModalities"
														 value="#{participantMgmtBean.lstNegotiationModalities}"
														 var="negMod"
														 rendered="#{participantMgmtBean.registeredNegotiationModalities}">													     
													     
												<p:column headerText="#{msgs['col.modality']}"
														  styleClass="content-left">
													<h:outputText value="#{negMod.modalityName}" />			
												</p:column>
												
												<p:column headerText="#{msgs['lbl.bvrd']}"
														  styleClass="content-center"
														  >
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[0].selected}"
																			 disabled="true"/>
												</p:column>									
												
												<p:column headerText="#{msgs['lbl.otc']}"
														  styleClass="content-center">
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[2].selected}"
																		 	 disabled="true"/>
												</p:column>
												
												<p:column headerText="#{msgs['lbl.sirtex']}"
														  styleClass="content-center"> 
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[4].selected}"
																		  	 disabled="true"/>
												</p:column>
												
											</p:dataTable>
											
											<h:outputLabel value="#{msgs['adm.participant.detail.no.negotiation.mechanism']}" 
												rendered="#{not participantMgmtBean.registeredNegotiationModalities}"
												style="font-weight:bold;"/>
																						
											</td>
										</tr>
									</table>									
								</p:outputPanel>
								
							</p:fieldset>
							<ui:remove>
							<p:fieldset id="fldCustomRelatedSettlement" legend="#{msgs['adm.participant.register.fieldset.custom.relationship.settlement']}" toggleable="false"> 
								<table width="100%"> 
									<tr> 
										<td width="250px"> 
											<h:outputLabel value="#{msgs['adm.participant.register.fieldset.custom.relationship.settlement']}" 
														   />
										</td>
										<td align="left"> 
											<p:selectBooleanCheckbox id="chkRelatedSettlement" disabled="true"
															value="#{participantMgmtBean.participantRelatedSettlement}"/>
										</td>
									</tr>
								</table>
							</p:fieldset>
							</ui:remove>
				</p:tab>
			
			<p:tab id="tabAttachments" title="#{msgs['adm.participant.register.tab.attachments']}">
					
					<h:panelGroup id="groupUploadFiles">
						
						
						<p:dataTable id="dtbParticipantDocuments" var="partFile" rowIndexVar="regNum"
										value="#{participantMgmtBean.lstParticipantFiles}"
										rendered="#{not empty participantMgmtBean.lstParticipantFiles}">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.register.grid.file.number']}"  />
								</f:facet>
								<h:outputText
									value="#{regNum + 1}" />
							</p:column>
							
							<p:column>
							<f:facet name="header">
							<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.type']}" />
							</f:facet>
							<h:outputText
							value="#{partFile.description}" />
							</p:column>
							
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.name']}" />
								</f:facet>
								<h:outputText
									value="#{partFile.filename}" />
							</p:column>
							
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.view']}" />
								</f:facet>
								<p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
									 		<p:fileDownload value="#{participantMgmtBean.getStreamedContentFromFile(partFile.file,null,partFile.filename)}" />
									 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
									 		title="#{msgs['adm.participant.register.grid.file.doc.view']}"/>            		  
								</p:commandLink>
							</p:column>
							
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.delete']}" />
								</f:facet>								
								<p:commandLink type="button" disabled="true">									 
									 <p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"
													title="#{msgs['adm.participant.register.grid.file.doc.delete']}"/>
								</p:commandLink>
							</p:column>
						</p:dataTable>
						
						<p:panel rendered="#{empty participantMgmtBean.lstParticipantFiles}">
						<h:outputLabel value="#{msgs['adm.participant.detail.no.attachments.files']}" 
												style="font-weight:bold;"/>
						</p:panel>
						
					</h:panelGroup>
	
			</p:tab>	
			
		</p:tabView>
		
	<table width="100%">
		<tr>
			<td align="center">				
				<p:commandButton value="#{msgs['btn.back']}" icon="fa fa-undo" process="@this" action="searchParticipantMgmt"  ajax="false"/>
			</td>
		</tr>
	</table>
	
	</h:form>
	
	<p:outputPanel id="opnlDialogs">		
	    
	</p:outputPanel>
	
	
	
	
</ui:define>
</ui:composition>
</html>