<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmAccountAssignment');
});
</script>
<h:outputText value="#{gmsgs['inegotiations.accountassignment.register.title']}" styleClass="title-page" rendered="#{accountAssignmentMgmtBean.blPending}"/>
<h:outputText value="#{gmsgs['inegotiations.accountassignment.modify.title']}" styleClass="title-page" rendered="#{accountAssignmentMgmtBean.blRegistered}"/>
<h:form id="frmAccountAssignment">
<table width="100%">
	<tr>
		<td width="100%">		
		<p:fieldset id="fldDatosOperacion" legend="#{msgs['lbl.assignment.account.register.panel.operation']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.mechanism']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.id.idNegotiationMechanismPk}">
					<f:selectItem itemValue="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.negotiationMechanism.idNegotiationMechanismPk}"
						itemLabel="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.negotiationMechanism.description}"/>
		     	</p:selectOneMenu>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.modality']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}">
					<f:selectItem itemValue="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.negotiationModality.idNegotiationModalityPk}"
						itemLabel="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
		     	</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.settlementSchema']}"/>
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.settlementSchema}">
					<f:selectItems value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstSettlementSchema}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
		     	</p:selectOneMenu>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationState']}" />
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.operationState}">
					<f:selectItems value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstOperationState}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
		     	</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.buyer']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.buyerParticipant.idParticipantPk}" 
					disabled="true" style="width:500px">					
					<f:selectItem itemLabel="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.buyerParticipant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.seller']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.sellerParticipant.idParticipantPk}" 
					disabled="true" style="width:500px">					
					<f:selectItem itemLabel="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.sellerParticipant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.mechanism.operationDate']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.referenceDate}" 
					disabled="true" size="10">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.mechanism.operationNumber']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.referenceNumber}" 
					disabled="true" size="30"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationDate']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.operationDate}" 
					disabled="true" size="10">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationNumber']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.operationNumber}" 
					disabled="true" styleClass="content-right" size="10"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.ballotNumber']}" />
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.ballotNumber}"
					size="20"  disabled="true"/>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.sequential']}" />
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.sequential}"
					size="5" disabled="true"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" disabled="true"
					security="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.securities}"/>
				<p:spacer width="5"/>
				<ark:securities-help securityCode="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.securities.idSecurityCodePk}"/>
				</h:panelGrid>
			</td>			
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.stockQuantity']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.stockQuantity}" disabled="true"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementAmount']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.cashSettlementAmount}" disabled="true"
					styleClass="content-right" size="30">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementPrice']}"/>
			</td>
			<td>
				<p:inputText id="cashPrice" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.cashSettlementPrice}" 
					styleClass="content-right" disabled="true" size="30">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.negotiationType']}"/>
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.operationTypeSelected}">
					<f:selectItems value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstOperationType}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
		     	</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementDate']}"/>
			</td>
			<td>
				<p:calendar value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.cashSettlementDate}" 
					disabled="true" pattern="#{gmsgs['calendar.date.format']}" size="10"/>
			</td>
			<td>
				<h:outputText  value="#{msgs['lbl.operation.operationRate']}"/>
			</td>
			<td>
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.amountRate}" disabled="true"
					styleClass="content-right" size="30">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>								
			</td>
		</tr>		
		</table>
		</p:fieldset>		
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlOperationRepo">
			<p:fieldset legend="#{msgs['lbl.assignment.account.register.panel.repoSeco']}" 
				rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blOperationRepo and accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.role eq 2}">
				<h:panelGrid rendered="#{not empty accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperationRepo}">
					<p:commandButton value="#{msgs['lbl.assignment.account.register.repoSeco.btn']}" 
						process="@this" update=":frmAccountAssignment:opnlOperationRepo :frmAccountAssignment:pnlDatosAsignacion" 
						icon="ui-remove" actionListener="#{accountAssignmentMgmtBean.unSelectHolderAccountOperation}"/>				
				</h:panelGrid>
				<h:panelGrid rendered="#{not empty accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperationRepo}">				
					<br/>
				</h:panelGrid>
				<p:dataTable var="holderAccountOperation" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccountOperationRepo}"
					rowKey="#{holderAccountOperation.idHolderAccountOperationPk}" 
					selection="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperationRepo}">					
					<p:column selectionMode="single" styleClass="content-center"/>
					<p:column sortBy="#{holderAccountOperation.holderAccount.accountNumber}" styleClass="content-center" 
						headerText="#{msgs['lbl.assignment.account.register.assignments.detail.accountNumber']}">
						<h:outputText value="#{holderAccountOperation.holderAccount.accountNumber}"/>
					</p:column>
					
					<p:column sortBy="#{holderAccountOperation.holderAccount.accountRntAndDescription}" styleClass="content-left">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.holder']}"/>
						</f:facet>
						<h:outputText value="#{holderAccountOperation.holderAccount.accountRntAndDescription}" escape="false" />
					</p:column>
								
					<p:column sortBy="#{holderAccountOperation.role}" styleClass="content-center">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.role']}"/>
						</f:facet>
						<h:outputText value="#{holderAccountOperation.rolePosition}"/>
					</p:column>
									
					<p:column sortBy="#{holderAccountOperation.stockQuantity}" styleClass="content-right"
						headerText="#{msgs['lbl.assignment.account.register.assignments.detail.stockQuantity']}">
						<h:outputText value="#{holderAccountOperation.stockQuantity}" >
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</h:outputText>
					</p:column>
					
					<p:column sortBy="#{holderAccountOperation.settlementAmount}" styleClass="content-right"
						headerText="#{msgs['lbl.assignment.account.register.assignments.detail.amount']}">
						<h:outputText value="#{holderAccountOperation.settlementAmount}" >
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</h:outputText> 
					</p:column>
				
					<p:column sortBy="#{holderAccountOperation.indIncharge}" headerText="Encargo" styleClass="content-center">
						<h:outputText value="#{gmsgs[holderAccountOperation.indIncharge eq 1?'btn.yes':'btn.no']}"/>
					</p:column>
				
					<p:column sortBy="#{holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" styleClass="content-left">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeStocks']}" escape="false"/>
						</f:facet>
						<h:outputText value="#{holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" />
					</p:column>
					
					<p:column sortBy="#{holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" styleClass="content-left">
						<f:facet name="header">
							<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeFunds']}" escape="false"/>
						</f:facet>
						<h:outputText value="#{holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" />
					</p:column>
					<p:ajax update=":frmAccountAssignment:opnlOperationRepo :frmAccountAssignment:pnlDatosAsignacion" process="@this" event="rowSelectRadio"
						listener="#{accountAssignmentMgmtBean.resetHolderAccountOperation}"/>
				</p:dataTable>	
			</p:fieldset>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td>
		<p:outputPanel id="pnlDatosAsignacion">
		<p:fieldset id="fldDatosAsignacion" legend="#{msgs['lbl.assignment.account.register.panel.assignment']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.incharge']}"/>
			</td>
			<td colspan="3">
				<p:selectBooleanCheckbox id="isSelect" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected}"
					disabled="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blInchargeDisabled or accountAssignmentMgmtBean.registerAccountAssignmentTO.blInchargeAgreementDisabled}">
					<p:ajax update="cboStockParticipant cboFundParticipant opnlParticipant opnlParticipant2" 
						listener="#{accountAssignmentMgmtBean.resetInchargers}"/>
				</p:selectBooleanCheckbox>			
			</td>
		</tr>	
		<tr>
			<td>
				<p:outputPanel id="opnlParticipant">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.inchargeStocks']}"
					styleClass="#{(accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected)?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field"
					rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected}"/>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboStockParticipant" disabled="#{!accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected or accountAssignmentMgmtBean.registerAccountAssignmentTO.blInchargeAgreementDisabled}"
					value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.inchargeStockParticipant.idParticipantPk}" style="width:500px">
					<f:selectItems 	value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstInchargeParticipants}" 
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<p:ajax update="@this" process="@this" global="false"/>
			    </p:selectOneMenu>
			    </h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlParticipant2">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.inchargeFunds']}"
					styleClass="#{(accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected)?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field"
					rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected}"/>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboFundParticipant" style="width:500px" disabled="#{!accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.isSelected or accountAssignmentMgmtBean.registerAccountAssignmentTO.blInchargeAgreementDisabled}"
					value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.inchargeFundsParticipant.idParticipantPk}">
					<f:selectItems 	value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstInchargeParticipants}" 
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<p:ajax update="@this" process="@this" global="false"/>
			    </p:selectOneMenu>
			    </h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.role']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboRole" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.role}" 
					disabled="#{!accountAssignmentMgmtBean.registerAccountAssignmentTO.blCrossOperation or accountAssignmentMgmtBean.registerAccountAssignmentTO.blPrimaryPlacement}">
					<f:selectItems 	value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstRoles}" 
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
						<p:ajax update="@this :frmAccountAssignment:holderHelper:outpnlHolder :frmAccountAssignment:opnlOperationRepo 
						cboStockParticipant cboFundParticipant opnlParticipant opnlParticipant2 isSelect" 
							process="@this" listener="#{accountAssignmentMgmtBean.changeRole}"/>
				</p:selectOneMenu>
				</h:panelGrid>
			</td>
		</tr>		
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.stockQuantity']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.stockQuantity}" id="quantity" 
					styleClass="content-right" label="#{msgs['lbl.assignment.account.register.assignment.stockQuantity']}"
					maxlength="#{fn:length(accountAssignmentMgmtBean.registerAccountAssignmentTO.mechanismOperation.stockQuantity.toString())}">
					<p:keyFilter mask="pint"/>								
					<p:ajax event="change" process="@this" update="amountHolderAccount msgQuantity @this" 
						listener="#{accountAssignmentMgmtBean.calculateAmount}" global="false"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
					<p:focus/>
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
				<p:message for="quantity" display="icon" id="msgQuantity"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.amount']}" />
			</td>
			<td width="30%">
				<p:inputText id="amountHolderAccount" styleClass="content-right" size="30" disabled="true"
					value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.settlementAmount}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>					
			</td>
		</tr>		
		<tr>
			<td>
				<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3">
				<ark:holderHelper id="holderHelper" holder="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holder}"
					required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
					participant="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.participantOrigin}"
					disabled="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blOperationRepo and accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.role eq 2}"
					remoteListener="updateField()" label="#{gmsgs['holder.lbl.code']}"/>
				<p:remoteCommand name="updateField" actionListener="#{accountAssignmentMgmtBean.validateHolder}" 
					update=":frmAccountAssignment:holderHelper:outpnlHolder msgHolder opnlHolderAccount opnlListHolderAccount 
					cboStockParticipant cboFundParticipant opnlParticipant opnlParticipant2 isSelect cboRole" process="@this"/>								
				<p:message for=":frmAccountAssignment:holderHelper:holderHelper" display="icon" id="msgHolder"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlHolderAccount">
				<h:outputText value="#{gmsgs['account.lbl.code']} (*)" styleClass="required-field" 
					rendered="#{not empty accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccount}"/>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<p:outputPanel id="opnlListHolderAccount">
				<p:dataTable var="holderAccount" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccount}"
					rendered="#{not empty accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccount}"
					rowKey="#{holderAccount.idHolderAccountPk}" 
					selection="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperation.holderAccount}">
					<p:column selectionMode="single" styleClass="content-center"/>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.number']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountNumber}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.alternate']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.alternateCode}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.type']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountDescription}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.description']}">
						<h:outputText value="#{holderAccount.accountRntAndDescription}" escape="false"/>
					</p:column>
					<p:ajax process="@this" event="rowSelectRadio"/>					
				</p:dataTable>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<p:commandButton id="btnAsigCta" icon="ui-add" update="@form :opnlGenericDialogs" value="#{gmsgs['btn.add']}"
			    	actionListener="#{accountAssignmentMgmtBean.assignHolderAccount}"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="pnlAssignedAccounts">
		<p:fieldset id="fldAssignedAccounts" legend="#{msgs['lbl.assignment.account.register.panel.assignmentes']}" 
			rendered="#{not empty accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccountOperation}">
		<table width="100%">
		<tr>
			<td align="left" width="100%">
				<p:commandButton id="btnDeleteAssignment" icon="ui-remove" 
					actionListener="#{accountAssignmentMgmtBean.beforeRemoveAccount}"
					update="outPnlDialogs :opnlGenericDialogs" partialSubmit="true"
					value="#{gmsgs['btn.remove']}" process="@this pnlAssignedAccounts"
					disabled="#{accountAssignmentMgmtBean.mandatoryInChargeParticipant}"/>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr> 
			<td>
			<p:dataTable id="dtbResult" value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccountOperation}"
				var="holderAccountOperation" paginator="true" rows="10"  paginatorPosition="top" 
				rowKey="#{holderAccountOperation.rowKey}"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				rowsPerPageTemplate="5,10,15" selection="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.holderAccountOperationSelected}"> 
				
				<p:column selectionMode="multiple" styleClass="content-center" rendered="#{!holderAccountOperation.isSelected}" />
				
				<p:column styleClass="content-center" rendered="#{holderAccountOperation.isSelected}" >
				</p:column>
												
				<p:column sortBy="#{holderAccountOperation.holderAccount.accountNumber}" styleClass="content-right" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.accountNumber']}">
					<h:outputText value="#{holderAccountOperation.holderAccount.accountNumber}"/>
				</p:column>
				
				<p:column sortBy="#{holderAccountOperation.holderAccount.accountDescription}" styleClass="content-center" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.personType']}">
					<h:outputText value="#{holderAccountOperation.holderAccount.accountDescription}"/>
				</p:column>
				
				<p:column sortBy="#{holderAccountOperation.holderAccount.accountRntAndDescription}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.holder']}"/>
					</f:facet>
					<h:outputText value="#{accountAssignmentMgmtBean.getCuiHolder(holderAccountOperation.holderAccount)}" escape="false" />
				</p:column>
							
				<p:column sortBy="#{holderAccountOperation.role}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.role']}"/>
					</f:facet>
					<h:outputText value="#{holderAccountOperation.rolePosition}"/>
				</p:column>
								
				<p:column sortBy="#{holderAccountOperation.stockQuantity}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.stockQuantity']}">
					<h:outputText value="#{holderAccountOperation.stockQuantity}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
				
				<p:column sortBy="#{holderAccountOperation.settlementAmount}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.amount']}">
					<h:outputText value="#{holderAccountOperation.settlementAmount}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</h:outputText> 
				</p:column>
			
<!-- 				<p:column sortBy="#{holderAccountOperation.indIncharge}" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.incharge']}" styleClass="content-center">
					<h:outputText value="#{gmsgs[holderAccountOperation.indIncharge eq 1?'btn.yes':'btn.no']}"/>
				</p:column> -->
			
				<p:column sortBy="#{holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeStocks']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeFunds']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{holderAccountOperation.holderAccountState}" styleClass="content-center"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.state']}">
					<h:outputText value="#{holderAccountOperation.holderAccountStateDesc}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.assignment.account.register.assignments.detail.marketfact']}" 
					rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blMarketFact}">
					<p:commandLink actionListener="#{accountAssignmentMgmtBean.showMarketFact(holderAccountOperation)}"
						rendered="#{holderAccountOperation.role eq 2 and not accountAssignmentMgmtBean.registerAccountAssignmentTO.blOperationRepo}" 
						process="@this" update=":dlgMarketFact :frmAccountAssignment:outPnlDialogs">
						<p:graphicImage library="img" style="cursor:pointer; border:none;" name="buttons/edit.png" id="imgAddMarket"/>
					</p:commandLink>
					<p:commandLink actionListener="#{accountAssignmentMgmtBean.showEditMarketFact(holderAccountOperation)}"
						rendered="#{holderAccountOperation.role eq 2 and accountAssignmentMgmtBean.registerAccountAssignmentTO.blOperationRepo}" 
						process="@this" update=":frmAccountAssignment:outPnlDialogs">
						<p:graphicImage library="img" style="cursor:pointer; border:none;" name="buttons/edit.png" id="imgModifyMarket"/>
					</p:commandLink>
				</p:column>
				
				<f:facet name="footer">	
					<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
						<f:param value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.lstHolderAccountOperation.size}"/>
					</h:outputFormat>
				</f:facet>	
			</p:dataTable>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:outputPanel rendered="#{!accountAssignmentMgmtBean.registerAccountAssignmentTO.blCrossOperation}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalQuantity']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.quantityAssig}"
					disabled="true" styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</p:inputText>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalAmount']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.amountAssig}"
						disabled="true" styleClass="content-right" size="30">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:outputPanel>
			<p:outputPanel rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blCrossOperation}">
			<table width="100%">
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.quantityAssig}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.crossQuantityAssig}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
				</tr>
				<tr>
					<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.amountAssig}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.crossAmountAssig}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
				</tr>
			</table>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['msg.assignment.account.glosa']}" styleClass="required-field"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4">
			<p:commandButton id="btnSave" value="#{gmsgs['btn.save']}" rendered="#{accountAssignmentMgmtBean.blPending}"
				icon="ui-save" process="@this" update="outPnlDialogs :opnlGenericDialogs" 
				actionListener="#{accountAssignmentMgmtBean.beforeSaveAssignment}"/>
			<p:commandButton id="btnModify" value="#{gmsgs['btn.modify']}" rendered="#{accountAssignmentMgmtBean.blRegistered}"
				icon="ui-edit" process="@this" update="outPnlDialogs :opnlGenericDialogs" 
				actionListener="#{accountAssignmentMgmtBean.beforeSaveAssignment}"/>
			<p:commandButton id="btnBack" icon="fa fa-undo" action="searchAccountAssignment"
	       		process="@this" value="#{gmsgs['btn.back']}"
	       		onclick="if(isModifiedFormForBack(this))return false;"/>
		</td>
	</tr>
</table>
<p:remoteCommand name="onCloseMarketFact" actionListener="#{accountAssignmentMgmtBean.onMarketFactClose()}" process="@this"/>	
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{accountAssignmentMgmtBean.doActionAssignment}" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" action="searchAccountAssignment"
		process="@this"/>
</p:confirmDialog>

<p:confirmDialog widgetVar="cnfWEndDialog2" id="cnfIdEndDialog2" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog2').hide()" value="#{gmsgs['btn.accept']}" update="pnlAssignedAccounts"
		process="@this"/>
</p:confirmDialog>
</p:outputPanel>
</h:form>
<p:dialog rendered="true" visible="false" height="50%" width="65%" closable="false"  
	id="dlgMarketFact" widgetVar="dlgWMarketFact" modal="true" resizable="false" 
	showHeader="false" position="top" showEffect="true">
	<table width="100%">
	<tr>
		<td width="100%">
			<ui:include src="/pages/mcnOperations/marketFactHelper/viewMarketFact.xhtml"/>
		</td>
	</tr>
	</table>
</p:dialog>
<p:dialog rendered="#{accountAssignmentMgmtBean.registerAccountAssignmentTO.blOperationRepo}" visible="false" height="50%" width="65%" closable="false"  
	id="dlgEditMarketFact" widgetVar="dlgWEditMarketFact" modal="true" resizable="false" 
	showHeader="false" position="top" showEffect="true">
	<table width="100%">
	<tr>
		<td width="100%">
			<ui:include src="/pages/mcnOperations/accountsAssignment/editMarketFact.xhtml"/>
		</td>
	</tr>
	</table>
</p:dialog>
</ui:define>
</ui:composition>

</html>