<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
  	 setInitialFormState('#frmMassiveAssignment');
  	});
</script>	
<h:outputText value="#{gmsgs['inegotiations.accountassignment.massive.title']}" styleClass="title-page" />
	<h:form id="frmMassiveAssignment">
	<table width="99%">
		<tr>
		<td>
		<p:fieldset legend="#{msgs['lbl.operation.massRegisterSearch']}">
			<table width="100%" border="0">
			<tr>
				<td width="150px">
					<h:outputText value="#{msgs['lbl.operation.massive.mechanism']} (*) " styleClass="required-field"/>
				</td>
				<td width="300px">
				 <h:panelGrid columns="2">
					<p:selectOneMenu id="idMechanismSearch" label="#{msgs['lbl.operation.massive.mechanism']}" 
						disabled="true"
						value="#{massiveAssignmentMgmtBean.mcnProcessFileFilter.idNegotiationMechanismPk}" > 
					  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  itemValue="" />
					  <f:selectItems value="#{massiveAssignmentMgmtBean.lstNegotiationMechanisms}" 
					  	var="mechanism" itemValue="#{mechanism.idNegotiationMechanismPk}" itemLabel="#{mechanism.description}"/>
					  	<p:ajax event="change" update="@this msgMechanismSearch " 
							listener="#{massiveAssignmentMgmtBean.changeMechanismSearch}"/>
					  <f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
			        </p:selectOneMenu>
			        <p:message id="msgMechanismSearch" for="idMechanismSearch" display="icon" />
				 </h:panelGrid>	
				</td>
				<td width="150px">
					<h:outputLabel value="#{msgs['lbl.operation.massive.date.process']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
						<p:calendar id="calInitialDate"
							showOn="both" navigator="true" 
							size="10" readonlyInput="true"
							pattern="#{cons['dateFormat']}"
							maxdate="#{massiveAssignmentMgmtBean.currentSystemDate}"
							value="#{massiveAssignmentMgmtBean.mcnProcessFileFilter.processDate}">
							<p:ajax event="dateSelect" listener="#{massiveAssignmentMgmtBean.onChangeProcessDate}" 
							update="@form"	process="@this" global="false" />
						</p:calendar> 
						<p:message id="msgCalInitialDate" for="calInitialDate" display="icon" />
					</h:panelGrid>
					
				</td>
			</tr>
			<ui:remove>
			<td>
				<h:outputText value="#{msgs['lbl.assignment.account.search.participant']}" 
					rendered="#{massiveAssignmentMgmtBean.participantInSession!=null}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu id="cboParticipant" value="#{massiveAssignmentMgmtBean.participantInSession.idParticipantPk}" 
					disabled="true" style="width:500px" rendered="#{massiveAssignmentMgmtBean.participantInSession!=null}">
					<f:selectItem itemValue="#{massiveAssignmentMgmtBean.participantInSession.idParticipantPk}" 
						itemLabel="#{massiveAssignmentMgmtBean.participantInSession.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
			</ui:remove>
			<tr>
				<td colspan="4" align="center"> 
					<br/>
					<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" 
	     	            icon="fa fa-search" actionListener="#{massiveAssignmentMgmtBean.searchProcessedFiles}" 
	     	            update="@form"/>
	     	        <p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" immediate="true" process="@this"
	     	        	onclick="return showCleanConfirmDialog(this);"  oncomplete="PF('cnfwClean').hide()" 
	     	            icon="fa fa-trash" actionListener="#{massiveAssignmentMgmtBean.cleanAll}" 
	     	            update="@form"/>	
		   	        <p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" 
		   	        	onclick="if(isModifiedFormForBack(this))return false;"
		   	        	icon="fa fa-undo" action="searchAccountAssignment" 
		   	        	immediate="true" />	
				</td>
			</tr>
			</table>
		</p:fieldset>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlResult" rendered="#{massiveAssignmentMgmtBean.mcnProcessFilesDataModel != null}" >
			<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}" >
				<p:dataTable id="dtbResult" var="mcnFile" 
					value="#{massiveAssignmentMgmtBean.mcnProcessFilesDataModel}"
					rendered="#{massiveAssignmentMgmtBean.mcnProcessFilesDataModel.rowCount >= 1}"
					first="#{massiveAssignmentMgmtBean.firsRegisterDataTable}"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
					rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
					rowIndexVar="rIndx" rowKey="#{mcnFile.sequenceNumber}"
					style="width:100%;">
					
					<p:columnGroup type="header" >
						<p:row>
							<p:column headerText="#{msgs['lbl.operation.massive.file.sequenceNumber']}" sortBy="#{mcnFile.sequenceNumber}"/>
							<p:column headerText="#{msgs['lbl.operation.massive.file.mechanism']}"  sortBy="#{mcnFile.description}"/>																						
							<p:column headerText="#{msgs['lbl.operation.massive.file.fileName']}" sortBy="#{mcnFile.fileName}"/>
							<p:column headerText="#{msgs['lbl.operation.massive.file.viewFile']}" />
							<p:column headerText="#{msgs['lbl.operation.massive.file.processDate']}" sortBy="#{mcnFile.processDate}"/>	
							<p:column headerText="#{msgs['lbl.operation.massive.file.processState']}" sortBy="#{mcnFile.processStateDescription}"/>
							<p:column headerText="#{msgs['lbl.operation.massive.file.totalOperations']}" />
							<p:column headerText="#{msgs['lbl.operation.massive.file.acceptedOperations']}" />		
							<p:column headerText="#{msgs['lbl.operation.massive.file.rejectedOperations']}" />
						</p:row>
					</p:columnGroup>
					
					<p:column styleClass="content-center" style="width: 10px;" >
						<h:outputText value="#{mcnFile.sequenceNumber} "/>
					</p:column>
					
					<p:column styleClass="content-left" >
						<h:outputText value="#{mcnFile.description} "/>
					</p:column>
					
					<p:column styleClass="content-left" >
						<h:outputText value="#{mcnFile.fileName} "/>
					</p:column>
					
					<p:column styleClass="content-center" style="width: 8px;" >
						<p:commandLink styleClass="icon" global="false" ajax="false" 
							immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
							<p:fileDownload	value="#{massiveAssignmentMgmtBean.getProcessedFileContent(mcnFile)}" />
							<p:graphicImage id="imgViewProcessed" library="img" name="icons/loupe.png" title="Ver" />
						</p:commandLink>
					</p:column>
					
					<p:column  styleClass="content-center" style="width: 25px;">
						<h:outputText value="#{mcnFile.processDate}">
							<f:convertDateTime pattern="#{cons['dateTimeFormat']}" type="both" />
						</h:outputText>
					</p:column> 
					
					<p:column  styleClass="content-center" style="width: 50px;">
						<h:outputText value="#{mcnFile.processStateDescription}">
						</h:outputText>
					</p:column> 
					
					<p:column styleClass="content-right" style="width: 9px;" >
						<h:outputText value="#{mcnFile.totalOperations} "/>
					</p:column>
					
					<p:column styleClass="content-right" style="width: 9px;" >
						<h:outputText value="#{mcnFile.acceptedOperations}"/>
						<p:commandLink styleClass="icon" global="false" ajax="false" 
							rendered="#{mcnFile.acceptedOperations gt 0}"
							immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
							<p:fileDownload	value="#{massiveAssignmentMgmtBean.getAcceptedFileContent(mcnFile)}" />
							<p:graphicImage id="imgViewAccepted" library="img" name="icons/loupe.png" title="Ver" />
						</p:commandLink>
					</p:column>
					
					<p:column styleClass="content-right" style="width: 9px;" >
						<h:outputText value="#{mcnFile.rejectedOperations} "/>
						<p:commandLink styleClass="icon" global="false" ajax="false" 
							rendered="#{mcnFile.rejectedOperations gt 0}"
							immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
							<p:fileDownload	value="#{massiveAssignmentMgmtBean.getRejectedFileContent(mcnFile)}" />
							<p:graphicImage id="imgViewRejected" library="img" name="icons/loupe.png" title="Ver" />
						</p:commandLink>
					</p:column>
					
				</p:dataTable>
				<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
					rendered="#{!(massiveAssignmentMgmtBean.mcnProcessFilesDataModel.rowCount >= 1)}"
					style="font-weight:bold;"/>
			</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlMcnFileUpload" rendered="#{massiveAssignmentMgmtBean.sessionStateIsActive and
			massiveAssignmentMgmtBean.mcnProcessFileFilter.processDate.equals(massiveAssignmentMgmtBean.currentSystemDate)}" >		
		<p:fieldset legend="#{msgs['lbl.operation.massive.uploadAssignmentFile']}" id="fldProcessFiles">
			<table width="100%" border="0">
			<tr>
				<td width="150px">
					<h:outputLabel value="#{msgs['lbl.operation.massive.mechanism']} (*)" styleClass="required-field" />
				</td>
				<td width="300px">
					<h:panelGrid columns="2">
						<p:selectOneMenu id="idMechanism" label="#{msgs['lbl.operation.massive.mechanism']}"
							disabled="true"
							value="#{massiveAssignmentMgmtBean.tmpMcnProcessFile.idNegotiationMechanismPk}" > 
						  <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  itemValue="" />
						  <f:selectItems value="#{massiveAssignmentMgmtBean.lstNegotiationMechanisms}" 
						  	var="mechanism" itemValue="#{mechanism.idNegotiationMechanismPk}" itemLabel="#{mechanism.description}"/>
				        </p:selectOneMenu>
				        <p:message for="idMechanism" display="icon" id="msgMechanism" />
					</h:panelGrid>	
				</td>
				<td width="150px">
					<h:outputLabel value="#{msgs['lbl.operation.massive.file']} (*)" styleClass="required-field" />
				</td>
				<td style="white-space: nowrap;">
					<p:outputPanel id="opnlMcnFile" styleClass="fileupload-customize" layout="block">
					<p:fileUpload id="fuplMcnFile" widgetVar="fuplwMcnFile"
		  			   label="#{gmsgs['fupl.label']}" auto="true"	
					   update="opnlMcnFile :opnlGenericDialogs :cnfMsgCustomValidationSec"
					   fileUploadListener="#{massiveAssignmentMgmtBean.fileUploadHandler}"
					   allowTypes="/(\.|\/)(XLSX|xlsx|xls|XLS|xml|dat)$/"
					   sizeLimit="#{massiveAssignmentMgmtBean.fUploadFileSize}"
					   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}" 
					   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}">
					</p:fileUpload>
					<script type="text/javascript">
						$(document).ready(function(){
							fileuploadValidate('fuplMcnFile');
						});
					</script>
					<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
					<h:panelGrid columns="4">
					<p:tooltip for="imgLimit">
						<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
							<f:param value="#{massiveAssignmentMgmtBean.fUploadFileSizeDisplay}"/>
							<f:param value="#{massiveAssignmentMgmtBean.fUploadFileTypesDisplay}"/>			
						</h:outputFormat>
					</p:tooltip>
					<p:commandLink id="cmlRemoveFile" styleClass="icon" update="opnlMcnFile" global="false"  process="@this" 
						actionListener="#{massiveAssignmentMgmtBean.removefileHandler}">		
						<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
					</p:commandLink>
					<h:outputLabel id="lblFuplIssuanceCert" 
						 value="#{massiveAssignmentMgmtBean.tmpMcnProcessFile.fileName ==null ? gmsgs['fupl.no.selected'] : massiveAssignmentMgmtBean.tmpMcnProcessFile.fileName}" 
						 styleClass="label"	/>
					<p:commandLink id="cmlViewFile" styleClass="icon" process="@this"
						rendered="#{massiveAssignmentMgmtBean.tmpMcnProcessFile.fileName != null}"
						update="opnlMcnFile" global="false" ajax="false" immediate="true">
						<p:fileDownload	value="#{massiveAssignmentMgmtBean.getMcnStreamContent(massiveAssignmentMgmtBean.tmpMcnProcessFile)}" />
						<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
					</p:commandLink>
					<p:message for=":frmMassiveAssignment:fuplMcnFile" display="icon" id="msgMcnFile"></p:message>
					</h:panelGrid>
					</p:outputPanel>	
				</td>
			</tr>

			<tr>
				<td align="center" colspan="4">
					<br/>
					<p:commandButton id="btnUpload" process="fldProcessFiles"  value="#{gmsgs['btn.upload']}" update=":opnlErrors :opnlGenericDialogs @form" 
						icon="ui-add" actionListener="#{massiveAssignmentMgmtBean.validateMcnFile}" partialSubmit="true"  />
				</td>
			</tr>
			</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlMcnFileValidation" 
			rendered="#{not empty massiveAssignmentMgmtBean.mcnProcessFile and massiveAssignmentMgmtBean.mcnProcessFileFilter.processDate.equals(massiveAssignmentMgmtBean.currentSystemDate)}" >
			<p:fieldset id="fldMcnFileValidation" legend="#{msgs['lbl.operation.massive.file.validation']}" >
				<table width="100%">
					<tr>
						<td width="150px">
							<h:outputText value="#{msgs['lbl.operation.massive.mechanism']}" />
						</td>
						<td width="300px">
							<p:inputText value="#{massiveAssignmentMgmtBean.mcnProcessFile.description}" 
								styleClass="medium-input-text-width" disabled="true" />
						</td>
						<td width="150px">
							<h:outputText value="#{msgs['lbl.operation.massive.file.fileName']}" />
						</td>
						<td>
							<p:inputText value="#{massiveAssignmentMgmtBean.mcnProcessFile.fileName}" 
								styleClass="medium-input-text-width" disabled="true" />
							<p:commandLink id="cmlViewUploadedFile" styleClass="icon" process="@this"
								rendered="#{massiveAssignmentMgmtBean.mcnProcessFile.fileName != null}"
								update="opnlMcnFile" global="false" ajax="false" immediate="true">
								<p:fileDownload	value="#{massiveAssignmentMgmtBean.getMcnStreamContent(massiveAssignmentMgmtBean.mcnProcessFile)}" />
								<p:graphicImage id="imgViewProcessed" library="img" name="icons/loupe.png"/>
							</p:commandLink>
						</td>	
					</tr>
					<tr>
						<td width="150px">
							<h:outputText value="#{msgs['lbl.operation.massive.file.acceptedOperations']}" />
						</td>
						<td width="300px">
							<p:inputText value="#{massiveAssignmentMgmtBean.mcnProcessFile.acceptedOperations}" 
							styleClass="short-input-text-width content-right" disabled="true" />
						</td>
						<td width="150px">
							<h:outputText value="#{msgs['lbl.operation.massive.file.rejectedOperations']}" />
						</td>
						<td>
							<p:inputText value="#{massiveAssignmentMgmtBean.mcnProcessFile.rejectedOperations}" 
								styleClass="short-input-text-width content-right" disabled="true" />
						</td>	
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><h:outputText rendered="#{massiveAssignmentMgmtBean.errorsDataModel.rowCount >= 1}"
								value="#{msgs['lbl.operation.massive.file.validation.view.errors']}" /></td>
						<td>
							<p:commandLink rendered="#{massiveAssignmentMgmtBean.errorsDataModel.rowCount >= 1}"
								onclick="PF('dlgWdgErrors').show()"  process="@this" ajax="true" partialSubmit="true"
								value="#{msgs['lbl.operation.massive.file.validation.view.errors']}" />
						</td>
					</tr>
					<tr>
						<td>
							<p:spacer height="2"></p:spacer>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="4">
							<p:commandButton actionListener="#{massiveAssignmentMgmtBean.beforeProcessMcnFile()}"
								disabled="#{massiveAssignmentMgmtBean.mcnProcessFile.acceptedOperations == 0}" process="@this"
								id="btnProcess" value="#{gmsgs['btn.process']}" update=":opnlDialogs  :opnlGenericDialogs" /> 
						</td>
					</tr>
				</table>
			</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
	</table>
	</h:form>		
	
	<p:outputPanel id="opnlDialogs">
		<p:confirmDialog id="cnfProcessMcnFile" message="#{bodyMessageView}"  
			   visible="false" closable="false"
               header="#{headerMessageView}" severity="alert" widgetVar="cnfwProcessMcnFile" > 
			<h:form id="frmCnfProcessMcnFile"> 
		        <p:commandButton id="cmbYes" process="@this"
	    						 value="#{gmsgs['btn.yes']}" update=":frmMassiveAssignment @form :opnlDialogs :opnlGenericDialogs"
	    						 actionListener="#{massiveAssignmentMgmtBean.processMcnFile}"	    						 
	    						 oncomplete="PF('cnfwProcessMcnFile').hide()"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" update="@parent"
	    						 value="#{gmsgs['btn.no']}" process="@this"
	    						 oncomplete="PF('cnfwProcessMcnFile').hide();"/>	
			</h:form>          
		</p:confirmDialog>
		
	</p:outputPanel>
	
	<p:outputPanel id="opnlErrors">
	<p:dialog id="dlgErrors" header="#{msgs['lbl.operation.massive.file.validation.errorList']}" 
		widgetVar="dlgWdgErrors" modal="true" closable="true" resizable="false">
		<p:fieldset legend="#{msgs['lbl.operation.massive.file.validation.errorTable']}">
		<p:dataTable id="dtbResult" var="error" value="#{massiveAssignmentMgmtBean.errorsDataModel}" 
					rendered="#{massiveAssignmentMgmtBean.errorsDataModel.rowCount >= 1}"
					first="#{massiveAssignmentMgmtBean.firsRegisterDataTable}"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
					rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
					rowIndexVar="rIndx" >
			<p:column style="width:50px">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.operation.massive.file.error.row']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.lineNumber}" style="align:right" />
			</p:column>
			<p:column style="width:200px">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.operation.massive.file.error.field']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.field}" style="align:left" />
			</p:column>
			<p:column style="width:300px">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.operation.massive.file.error.description']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.errorSimpleDetail}" escape="false" style="align:left; white-space: normal;" />
			</p:column>
		</p:dataTable>
		<h:outputLabel value="#{msgs['lbl.without.errors']}" 
			rendered="#{!(massiveAssignmentMgmtBean.errorsDataModel.rowCount >= 1)}"
			style="font-weight:bold;"/>
		</p:fieldset>
	</p:dialog>
	</p:outputPanel>
	
</ui:define>
</ui:composition>
</html>