<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:form id="frmSettlements" >
			<table width="100%">
				<tr>
					<td align="left">
						<h:outputText value="#{msgs['screen.search.assignmentOpen.title']}" styleClass="title-page" />
					</td>
					<td align="right">
						<p:commandButton value="#{msgs['lbl.search.assignmentOpen.register.btn']}" icon="fa fa-edit" immediate="true" 
										 rendered="#{assignmentOpenMgmtBean.privilegeRegister}" 
										 action="#{assignmentOpenMgmtBean.goPageRegister()}"
										 update=":opnlDialogs" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['lbl.search.assignmentOpen.crit.search']}">
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td>
										<h:outputText value="#{msgs['lbl.search.assignmentOpen.numberRequest']}"/>
									</td>
									<td>
										<p:inputText value="#{assignmentOpenMgmtBean.modelTOSearch.id}" style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.search.assignmentOpen.state']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboStateSearch" value="#{assignmentOpenMgmtBean.modelTOSearch.stateRequest}" 
															  style="width:300px;" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{assignmentOpenMgmtBean.modelTOSearch.lstState}" var="stateSearch" 
															   itemLabel="#{stateSearch.parameterName}" itemValue="#{stateSearch.parameterTablePk}" />
											</p:selectOneMenu>
											<p:message id="validateState" for="cboStateSearch" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td>
										<h:outputText value="#{msgs['lbl.search.assignmentOpen.initialDate']} (*)" styleClass="required-field"/>						
									</td>
									<td>
										<p:calendar id="calFecInitial"
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{assignmentOpenMgmtBean.modelTOSearch.initialDate}" 
													maxdate="#{assignmentOpenMgmtBean.modelTOSearch.finalDate}" >
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this"/>
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this"/>
										</p:calendar>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.search.assignmentOpen.finalDate']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:calendar id="calFecFinal" 
													size="10" maxlength="10" 
													readonlyInput="true" navigator="true"
													showOn="both" pattern="#{msgs['dateFormat']}" 
													value="#{assignmentOpenMgmtBean.modelTOSearch.finalDate}" 
													mindate="#{assignmentOpenMgmtBean.modelTOSearch.initialDate}" >
											<p:ajax event="change" update="calFecInitial calFecFinal" process="@this" />
											<p:ajax event="dateSelect" update="calFecInitial calFecFinal" process="@this" />
										</p:calendar>
									</td>
								</tr>
								
								<tr>
									<td colspan="5" align="center">
										<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" 
														 update="@form"
										 				 rendered="#{assignmentOpenMgmtBean.privilegeSearch}" 
														 action="#{assignmentOpenMgmtBean.btnSearch}" />
										
										<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
										
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
										 				onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()"
										 				actionListener="#{assignmentOpenMgmtBean.btnClearSearch}" update="@form" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p:outputPanel styleClass="clsSearchUpd">
							<p:panel id="pnlButtonsPrivileges"
									 rendered="#{not empty assignmentOpenMgmtBean.lstAssignmentOpenModelTO}"
									 styleClass="clsSearchUpd">
									 
								<p:commandButton id="cmbReject"
												 value="#{gmsgs['btn.reject']}"
												 action="#{assignmentOpenMgmtBean.loadReject}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-cancel"
												 rendered="#{userPrivilege.userAcctions.reject}"/>
								&nbsp;
								<p:commandButton id="cmbConfirm"
												 value="#{gmsgs['btn.confirm']}"
												 action="#{assignmentOpenMgmtBean.loadConfirm}"
												 update="@form :opnlGenericDialogs :opnlDialogs"
												 icon="ui-confirm"
												 rendered="#{userPrivilege.userAcctions.confirm}"/>
							</p:panel>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td width="100%" colspan="2">
						<p:outputPanel id="panelRegistros" >
							<p:fieldset id="fsListado" legend="#{msgs['lbl.results']}" 
										rendered="#{not empty assignmentOpenMgmtBean.lstAssignmentOpenModelTO}">
								<p:dataTable 
										id="dtbResult" var="assignmentOpenVar"
										style="padding-right:0px !important"
										paginator="true" rows="10"  paginatorPosition="top"
										selection="#{assignmentOpenMgmtBean.modelTOView}"
										value="#{assignmentOpenMgmtBean.searchAssignmentOpenDataModel}" 
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{assignmentOpenVar}">
										
									<p:column selectionMode="single" styleClass="content-center"/>
									
									<p:column styleClass="content-right" sortBy="#{assignmentOpenVar.id}">
										<f:facet name="header">
											<h:outputText style="width:80px" value="#{msgs['lbl.search.column.numberRequest']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{assignmentOpenMgmtBean.linkView(assignmentOpenVar)}">
											<h:outputText style="float:right;" value="#{assignmentOpenVar.id}" />
										</p:commandLink>																			
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{assignmentOpenVar.registryDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.registryDate']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{assignmentOpenVar.registryDate}">
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{assignmentOpenVar.motiveOpen}">
										<f:facet name="header">
											<h:outputText style="width:150px" value="#{msgs['lbl.search.column.motiveText']}" escape="false" />
										</f:facet>
										<h:outputText style="float:left;" value="#{assignmentOpenVar.motiveOpen}" />
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{assignmentOpenVar.ballotsNumber}">
										<f:facet name="header">
											<h:outputText style="width:150px" value="#{msgs['lbl.search.column.ballotsNumber']}" escape="false" />
										</f:facet>
										<h:outputText style="float:left;" value="#{assignmentOpenVar.ballotsNumber}" escape="false" />
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{assignmentOpenVar.userRegisterAssignmentOpen}">
										<f:facet name="header">
											<h:outputText style="width:150px" value="#{msgs['lbl.search.column.userRegister']}" escape="false" />
										</f:facet>
										<h:outputText style="float:left;" value="#{assignmentOpenVar.userRegisterAssignmentOpen}" />
									</p:column>
									
									<p:column styleClass="content-left" sortBy="#{assignmentOpenVar.userConfirmAssignmentOpen}">
										<f:facet name="header">
											<h:outputText style="width:150px" value="#{msgs['lbl.search.column.userConfirm']}" escape="false" />
										</f:facet>
										<h:outputText style="float:left;" value="#{assignmentOpenVar.userConfirmAssignmentOpen}" />
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{assignmentOpenVar.stateRequestText}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.search.column.state']}" escape="false"/>
										</f:facet>
										<h:outputText value="#{assignmentOpenVar.stateRequestText}" />
									</p:column>
										
								</p:dataTable>			
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 update=":frmSettlements"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>