<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['screen.view.assignmentOpen.title']}" styleClass="title-page" />
		
		<h:form id="frmSettlements">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['fieldSet.regisger.assignmentOpen.header']}"  >
							<table width="100%"> 
							
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.assignmentOpen.issueanceDate']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="fechaAperturaReg" 
														readonlyInput="true" 
														size="10"
														maxlength="10" 
														value="#{assignmentOpenMgmtBean.modelTOView.registryDate}"
														pattern="#{msgs['dateFormat']}" 
														showOn="button"
														navigator="true"
														disabledWeekends="true"
														required="true" disabled="true" >
												<f:validator validatorId="calendarRequiredValidator" />	
												<f:param name="skipValidation" value="true"/>
												<p:ajax event="dateSelect" update="@this" process="@this" />
											</p:calendar>
											<p:message id="validatefechaAperturaReg" for="fechaAperturaReg" display="icon" />
										</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.assignmentOpen.motive']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputTextarea id="itaObservation" maxlength="200" disabled="true"
				    							style="width:300px;" value="#{assignmentOpenMgmtBean.modelTOView.motiveOpen}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
							    			</p:inputTextarea>
							    			<p:message for="itaObservation"  display="icon" />
						    			</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.assignmentOpen.fileAdj']} (*)" styleClass="required-field"/>
									</td>
									<td></td>
									
									<td width="150"></td>
									<td></td>
								</tr>
								<tr><td><br/></td></tr>
								<tr>
									<td width="25px"></td>
									<td width="150" colspan="3">
										<p:outputPanel id="outputPanelFileCertTable"  autoUpdate="true">
 											<p:dataTable id="dtFileCertTable" var="fileAttached" rowIndexVar="regNum" rendered="#{not empty assignmentOpenMgmtBean.modelTOView.lstAssignmentProcessOpenFile}"
												value="#{assignmentOpenMgmtBean.modelTOView.lstAssignmentProcessOpenFile}">
												
												<p:column width="5">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.register.col.numerRow']}" />
													</f:facet>
													<h:outputText value="#{regNum + 1}" />
												</p:column>
												
												<p:column>
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.register.col.nameFile']}" />
													</f:facet>
													<h:outputText value="#{fileAttached.filename}" />
												</p:column>
												
												<p:column styleClass="content-center"> 
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.register.col.viewFile']}" />
													</f:facet>
												    <p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
											 			<p:fileDownload value="#{assignmentOpenMgmtBean.getStreamedContentFromFile(fileAttached.documentFile,null,fileAttached.filename)}" />
											 			<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
											 				title="#{msgs['lbl.register.col.viewFile']}"/>            		  
													</p:commandLink>	
												</p:column>
											</p:dataTable>
 										</p:outputPanel>
									</td>
									<td></td>
									<td width="150"></td>
									<td></td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td>
						<p:fieldset id="flocMCNSelected" legend="#{msgs['fieldSet.regisger.assignmentOpen.headerMCNselected']}"  >
							<table width="100%">
								<tr>
									<td width="25px"></td>
									<td colspan="4">
										<p:outputPanel id="outputPanelMCNSelected" >
 											<p:dataTable id="dtMCNadded" var="mcnAdd" rendered="#{not empty assignmentOpenMgmtBean.modelTOView.lstMechanismOperationForOpenTOAdded}"
 												paginator="true" rows="10"  paginatorPosition="top"
 												currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        		rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
												value="#{assignmentOpenMgmtBean.modelTOView.lstMechanismOperationForOpenTOAdded}"
												>
												
												<p:column sortBy="#{mcnAdd.operationDate}" >
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.operationDate']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.operationDate}" />
												</p:column>
												
												<p:column sortBy="#{mcnAdd.ballotNumber}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.ballotNumber']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.ballotNumber}" />
												</p:column>
												
												<p:column sortBy="#{mcnAdd.sequential}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.sequential']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.sequential}" />
												</p:column>
												
												<p:column sortBy="#{mcnAdd.modalityText}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.modality']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.modalityText}" />
												</p:column>
												
												<p:column sortBy="#{mcnAdd.idSecurityCodePk}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.securityCode']}" escape="false" />
													</f:facet>
													<h:outputText value="#{mcnAdd.idSecurityCodePk}" />
												</p:column>
												
												<p:column sortBy="#{mcnAdd.currencyText}">
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.currency']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.currencyText}" />
												</p:column>
												
												<p:column>
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.seller']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.participantSeller}" />
												</p:column>
												
												<p:column>
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.buyer']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.participantBuyer}" />
												</p:column>
												
												<p:column>
													<f:facet name="header">
														<h:outputText value="#{msgs['lbl.mcn.col.state']}" />
													</f:facet>
													<h:outputText value="#{mcnAdd.stateText}" />
												</p:column>
												
												<f:facet name="footer">
													<h:outputLabel value="#{assignmentOpenMgmtBean.modelTOView.lstMechanismOperationForOpenTOAdded.size()} #{msgs['lbl.results']}"/>
												</f:facet>
											</p:dataTable>
 										</p:outputPanel>
									</td>
									
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="4"> 
						<p:outputPanel >
						
						<p:commandButton id="cmbReject"
												 value="#{gmsgs['btn.reject']}"
												 action="#{assignmentOpenMgmtBean.beforeReject}"
												 update="frmSettlements :opnlGenericDialogs :opnlDialogs"
												 icon="ui-cancel"
												 rendered="#{assignmentOpenMgmtBean.operationReject}"/>
												 
						<p:commandButton id="cmbConfirm"
												 value="#{gmsgs['btn.confirm']}"
												 action="#{assignmentOpenMgmtBean.beforeConfirm}"
												 update="frmSettlements :opnlGenericDialogs :opnlDialogs"
												 icon="ui-confirm"
												 rendered="#{assignmentOpenMgmtBean.operationConfirm}"/>
						
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton value="#{gmsgs['btn.back']}" 
										 icon="fa fa-undo" immediate="true"
										 action="#{assignmentOpenMgmtBean.backToSearchFromView}"
										 process="@this" >
						</p:commandButton> 
						
						</p:outputPanel>
						
					</td> 
				</tr>
			</table>
			
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="cnfRegiterrr" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfRegiterrr" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{assignmentOpenMgmtBean.saveOperationChangeState}"	    						 
	    						 oncomplete="PF('cnfRegiterrr').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{assignmentOpenMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfRegiterrr').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTransactionLocal" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTransactionLocal" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchAssignmentProcessOpen"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="validationLocal" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="validationLocal" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
				        			 process="@this"
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('validationLocal').hide()"
			        				 update="@form :frmSettlements :opnlDialogs"
			        				  > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>