<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
<table width="100%">
	<tr>
		<td>
			<p:fieldset id="fldRetirementAutomatic" legend="#{msgs['funds.retirement.register.settlement.legend']}" >
				<table width="100%">					
					<tr>
						<td width="100%">
							<p:outputPanel id="pnlNetAutomatic">
								<p:fieldset id="fldNetAutomatic" rendered="#{retirementFundsOperationBean.indRetirementAutomatic}" style="border:0;padding:0 !important">									
									<table width="100%">
										<tr>
											<td>
												<p:outputPanel id="pnlPartEffAutomatic">
													<p:fieldset id="fldPartEffAutomatic" style="border:0;padding:0 !important" 
														rendered="#{retirementFundsOperationBean.gmLstParticipantPosition.getRowCount() >= 1}">
														<table width="100%">
															<tr>
																<td>
																	<p:dataTable var="varPartPosition" value="#{retirementFundsOperationBean.gmLstParticipantPosition}" 
																	    selection="#{retirementFundsOperationBean.arrayParticipantPosition}" rowsPerPageTemplate="5,10,15" sortMode="single"  
																	    paginator="true" rows="10" paginatorPosition="top" rowKey="#{varPartPosition.idParticipantPositionPk}"
																		currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
																		paginatorTemplate="#{gmsgs['dtb.paginator.template']}" >																		
																		
																		<p:column selectionMode="multiple" styleClass="content-center"/>																		
																		
																		<p:column sortBy="#{varPartPosition.settlementProcess.idSettlementProcessPk}" style="text-align:center;" >
																			<f:facet name="header">
																				<h:outputText value="#{msgs['monitor.settlementProcess.lbl.SettlementProcessIDBr']}" escape="false" styleClass="text-header-table" />
																			</f:facet>
																			<h:outputText value="#{varPartPosition.settlementProcess.idSettlementProcessPk}" />																			
																		</p:column>																																		
																		
																		<p:column sortBy="#{varPartPosition.settlementProcess.scheduleTypeDescription}" style="text-align:center;" >
																			<f:facet name="header">
																				<h:outputText value="#{msgs['monitor.settlementProcess.lbl.SettlementSchedule']}" escape="false" styleClass="text-header-table" />
																			</f:facet>
																			<h:outputText value="#{varPartPosition.settlementProcess.scheduleTypeDescription}"/>
																		</p:column>
																		
																		<p:column sortBy="#{varPartPosition.settlementProcess.currencyDescription}" style="text-align:center;" >
																			<f:facet name="header">
																				<h:outputText value="#{msgs['lbl.operation.settlementCurrency']}" escape="false" styleClass="text-header-table" />
																			</f:facet>
																			<h:outputText value="#{varPartPosition.settlementProcess.currencyDescription}"/>
																		</p:column>
																		
																		<p:column sortBy="#{varPartPosition.participant.idParticipantPk}" style="text-align:center;" >
																			<f:facet name="header">
																				<h:outputText value="#{msgs['cash.account.participant']}"  escape="false" styleClass="text-header-table" />
																			</f:facet>
																			<h:outputText value="#{varPartPosition.participant.idParticipantPk} - #{varPartPosition.participant.mnemonic}" />
																		</p:column>																																				
																																				
																		<p:column sortBy="#{varPartPosition.netPosition}" style="width:100px;text-align:center;" >
																			<f:facet name="header">
																				<h:outputText value="#{msgs['monitor.settlementProcess.lbl.NetPosition']}" escape="false" styleClass="text-header-table" />
																			</f:facet>																																						
																			<h:outputText value="#{varPartPosition.netPosition}" style="width:100px;text-align:right;" >
																				<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
																			</h:outputText>																																																									
																		</p:column>	
																																																																																
																	</p:dataTable>																	
																</td>
															</tr>
														</table>														
													</p:fieldset>
												</p:outputPanel>
											</td>
										</tr>
									</table>									
									<h:outputLabel value="#{msgs['lbl.search.no.result']}"
																rendered="#{retirementFundsOperationBean.gmLstParticipantPosition.rowCount == 0}" />									
								</p:fieldset>
							</p:outputPanel>
						</td>
					</tr>
				</table>
			</p:fieldset>
		</td>
	</tr>	
</table>
</html>