<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<p:fieldset id="fldSettlementRetirement" legend="#{msgs['funds.retirement.register.settlement.legend']}" >
	<table width="100%">
		<tr>
			<td width="100%" colspan="4">
				<table width="100%">
					<tr>
						<td width="20%">
							<h:outputText value="#{msgs['funds.retirement.register.mechanism']} (*)" styleClass="required-field" />
						</td>
						<td width="30%">
							<p:selectOneMenu id="idMechanism" value="#{retirementFundsOperationBean.mechanismNegotiationPk}" required="true" 
											 requiredMessage="#{msgs['funds.retirement.register.mechanism.valMsg']}"
								    		 label="#{msgs['funds.retirement.register.mechanism']}" 
								    		 disabled="#{retirementFundsOperationBean.indDetailView}">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"  itemValue="" />
									<f:selectItems 	value="#{retirementFundsOperationBean.lstNegotiationMechanism}" 
													var="varLstMechanism" itemValue="#{varLstMechanism.idNegotiationMechanismPk}" itemLabel="#{varLstMechanism.description}"/>
								    <p:ajax event="change" update="@form" 
											listener="#{retirementFundsOperationBean.changeMechanism()}"/>
							</p:selectOneMenu>
						</td>
						<td width="20%">
							<h:outputText value="#{msgs['funds.retirement.register.modalityGroup']} (*)" styleClass="required-field" />
						</td>
						<td width="30%">
							<p:selectOneMenu value="#{retirementFundsOperationBean.mechanismModalityGroupPk}"
							        label="#{msgs['funds.retirement.register.modalityGroup']}"
							        disabled="#{retirementFundsOperationBean.indDetailView}"
							        required="true" requiredMessage="#{msgs['funds.retirement.register.modalityGroup.valMsg']}" id="idCboModalityGroup">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"  itemValue="" />
									<f:selectItems 	value="#{retirementFundsOperationBean.lstModalityGroup}" 
													var="varLstModaGroup" itemValue="#{varLstModaGroup.idModalityGroupPk}" itemLabel="#{varLstModaGroup.groupName}"/>
									<p:ajax event="change" update="@form" process="@this" 
											listener="#{retirementFundsOperationBean.changeModalityGroup()}"/>
							</p:selectOneMenu>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="4">
				<table width="50%">
					<tr>
						<td width="20%">
							<h:outputText value="#{msgs['funds.retirement.register.settlement.esquemaLiquidacion']}" />
						</td>
						<td width="30%">
							<p:inputText value="#{retirementFundsOperationBean.settlementSchemaDescription}" 
									disabled="true" maxlength="20" size="20" id="idSettSchema" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="4"> 
			<p:outputPanel rendered="#{retirementFundsOperationBean.viewCboSendLip}" >
				<table width="50%">
					<tr>
						<td width="20%">
							<h:outputText value="#{msgs['funds.retirement.deatil.send.lip']} (*)" styleClass="required-field" />
						</td>
						<td width="30%">
							<p:selectOneMenu id="idCboSendLip" value="#{retirementFundsOperationBean.indSendLip}"
							        label="#{msgs['funds.retirement.deatil.send.lip']}" >
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
									<f:selectItems value="#{retirementFundsOperationBean.lstSendLipe}" 
													var="varLstSendLip" itemValue="#{varLstSendLip.code}" itemLabel="#{varLstSendLip.value}"/>	
									<p:ajax event="change" process="@this" update="idCboSendLip" />	
									<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>																
							</p:selectOneMenu>
						</td>
					</tr>
				</table>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="4">
			<p:outputPanel id="pnlGrossSettlement">
				<p:outputPanel id="fldGrossSettlement" rendered="#{retirementFundsOperationBean.indSettlementGross}">
					<table width="100%">
						<tr>
							<td width="100%">
							<p:outputPanel id="pnlPaymentType" rendered="#{!retirementFundsOperationBean.indDetailView}" >
								<table width="100%">
									<tr>
										<td width="20%">
											<h:outputText value="#{msgs['funds.retirement.register.settlement.buscarOperation']}" styleClass="required-field"/><b>(*)</b>
										</td>
										<td width="30%">
										<p:selectOneMenu   id="idPaymentType" value="#{retirementFundsOperationBean.searchOperationType}"
														   label="#{msgs['funds.retirement.register.settlement.buscarOperation']}" 
														   rendered="#{!retirementFundsOperationBean.indDetailView}" 
														   required="true" requiredMessage="#{msgs['funds.retirement.register.settlement.buscarOperation.valMsg']}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"  itemValue="" />
												<f:selectItems 	value="#{retirementFundsOperationBean.lstSearchOperationType}" 
																var="varLstPaymentType" itemValue="#{varLstPaymentType.parameterTablePk}" itemLabel="#{varLstPaymentType.parameterName}"/>
												<p:ajax event="change" update="@form" process="@this" immediate="true" listener="#{retirementFundsOperationBean.changeSearchOperationType()}" />
											</p:selectOneMenu>
										</td>														
										<td width="20%">
											<h:outputText value="#{msgs['lbl.funds.deposit.register.settlement.operationPart']}"
														  styleClass="required-field"/>	<b>(*)</b>																		  
										</td>
										<td width="30%">
											<p:selectOneMenu value="#{retirementFundsOperationBean.fundsOperationToSave.operationPart}" 
															 required="true" disabled="#{retirementFundsOperationBean.indCashOperationPart || retirementFundsOperationBean.indDetailView}"
															 id="cboOperationPart">
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
												<f:selectItems value="#{retirementFundsOperationBean.lstOperationPartType}" var="paramTab" 
													itemValue="#{paramTab.code}" itemLabel="#{paramTab.description}"/>			
													<p:ajax process="@this" />			
											</p:selectOneMenu>																
										</td>																																									
									</tr>
								</table>
							</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td width="100%">
							<p:outputPanel id="pnlOperationData">
								<table width="100%">
									<tr>
										<td width="20%">
											<h:outputText value="#{msgs['funds.retirement.register.settlement.modalidad']}" styleClass="required-field"/><b>(*)</b> 
										</td>
										<td width="30%">
											<p:selectOneMenu value="#{retirementFundsOperationBean.mechanismOperation.mechanisnModality.negotiationModality.idNegotiationModalityPk}" 
											 				 id="idModality" required="true" requiredMessage="#{msgs['funds.retirement.register.settlement.modalidad.valMsg']}" 
															 label="#{msgs['funds.retirement.register.settlement.modalidad']}"	
															 disabled="#{retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.operationInfoType 
															 			|| retirementFundsOperationBean.searchOperationType==null 
															 			|| retirementFundsOperationBean.indDetailView}">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"  itemValue="" />
													<f:selectItems 	value="#{retirementFundsOperationBean.lstNegotiationModality}" 
																	var="varLstModality" itemValue="#{varLstModality.idNegotiationModalityPk}" itemLabel="#{varLstModality.modalityName}"/>
													<p:ajax event="change" update="@form" process="@this" listener="#{retirementFundsOperationBean.changeOperationInfo()}"/>
											</p:selectOneMenu>
										</td>
										
										<td width="20%">
											<h:outputText value="#{msgs['funds.retirement.register.settlement.referenciaPago']}"
												styleClass="#{!(retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.paymentReferenceType || retirementFundsOperationBean.searchOperationType==null || retirementFundsOperationBean.indDetailView)?'required-field':''}"/>
											<h:outputText value=" (*)" styleClass="required-field" 
												rendered="#{!(retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.paymentReferenceType || retirementFundsOperationBean.searchOperationType==null || retirementFundsOperationBean.indDetailView)}"/>
										</td>
										<td width="30%">
											<h:panelGrid columns="3">
												<p:inputText value="#{retirementFundsOperationBean.mechanismOperation.paymentReference}" maxlength="50" 
													disabled="#{retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.paymentReferenceType || retirementFundsOperationBean.searchOperationType==null || retirementFundsOperationBean.indDetailView}" size="50" 
													id="idPaymentRef" required="true" requiredMessage="#{msgs['funds.retirement.register.settlement.referenciaPago.valMsg']}">
													<p:ajax event="blur" update="@form"
													 process="@this"  listener="#{retirementFundsOperationBean.onchangePaymentReference()}" />
												</p:inputText>
												<p:message display="icon" for="idPaymentRef" id="msgRefePayment"/>
												<p:commandButton actionListener="#{retirementFundsOperationBean.onchangePaymentReference}" 
													process="@this" update="@form :opnlGenericDialogs" icon="fa fa-search" value="#{gmsgs['btn.search']}"
													rendered="#{!(retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.paymentReferenceType || retirementFundsOperationBean.searchOperationType==null || retirementFundsOperationBean.indDetailView)}"/>
												
											</h:panelGrid>
										</td>
									</tr>
									<tr>
										<td width="160">
											<h:outputText value="#{msgs['funds.retirement.register.settlement.operationDate']}" styleClass="required-field"/><b>(*)</b>
										</td>
										<td width="296">
											<p:calendar value="#{retirementFundsOperationBean.mechanismOperation.operationDate}" size="10" 
														navigator="true"  readonlyInput="true"
														maxdate="#{retirementFundsOperationBean.nowTime}"
														showOn="both"
														beforeShowDay="disableAllHolydays"																			
													    pattern="#{gmsgs['calendar.date.format']}" id="fechaOpeSettDate"  required="true" 
														requiredMessage="#{msgs['funds.retirement.register.settlement.operationDate.valMsg']}"	
														disabled="#{retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.operationInfoType 
															|| retirementFundsOperationBean.searchOperationType==null 
															|| retirementFundsOperationBean.indDetailView}">
												<p:ajax event="dateSelect" update="@form" process="@this fechaOpeSettDate idModality" listener="#{retirementFundsOperationBean.changeOperationInfo()}" />
											</p:calendar>
										</td>															
										<td width="170">
											<h:outputText value="#{msgs['funds.retirement.register.settlement.operationNumber']}" styleClass="required-field"/><b>(*)</b> 
										</td>
										<td width="300">
										<p:inputText   size="10" value="#{retirementFundsOperationBean.mechanismOperation.operationNumber}"
											              style="text-align:left" id="nrOpeSettNumber"
													      disabled="#{retirementFundsOperationBean.searchOperationType!=retirementFundsOperationBean.operationInfoType 
													      || retirementFundsOperationBean.searchOperationType==null
													      || retirementFundsOperationBean.indDetailView}">	
											<p:ajax event="blur" update="@form" process="@this" listener="#{retirementFundsOperationBean.changeOperationInfo}"/>			
										</p:inputText>
										</td>
										
									</tr>
								</table>
							</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td>
								<p:outputPanel id="pnlOperation">
									<table>
										<tr>
											<td width="170">
												<h:outputText value="#{msgs['funds.retirement.register.settlement.currency']}" />
											</td>
											<td width="300">
												<p:inputText value="#{retirementFundsOperationBean.mechanismOperation.currencyDescription}"
													maxlength="20" id="currency" disabled="true"/>
											</td>	
											
											<td width="170">
												<h:outputText value="#{msgs['funds.retirement.register.settlement.montoEfectivo']}" />   
											</td>
											<td width="300">
												<p:inputText value="#{retirementFundsOperationBean.participantSettlement.settlementAmount}" size="15" 
													maxlength="15" id="effectAmountSettOpe" disabled="true">
													<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
												</p:inputText>
											</td>																											
										</tr>
									</table>
									<table>
										<tr>
											
											<td width="170">
												<h:outputText value="#{msgs['funds.retirement.register.settlement.montoPendiente']}" />  
											</td>
											<td width="300">
												<p:inputText value="#{retirementFundsOperationBean.participantSettlement.unpaidAmount}" size="15" 
													maxlength="15" id="pendindAmountSettOpe" disabled="true">
													<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
												</p:inputText>
											</td>
											<td width="170">
												<h:outputText value="#{msgs['funds.retirement.register.settlement.montoExcedente']}" /> 
											</td>
											<td width="300">
												<p:inputText value="#{retirementFundsOperationBean.participantSettlement.overpaidAmount}" size="15" 
													maxlength="15" id="idDepositAmount" disabled="true">
													<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>	
												</p:inputText>
											</td>
										</tr>
									</table>
									<table>
										<tr>
											<td width="170">
												<h:outputText rendered="#{!retirementFundsOperationBean.indDetailView}" 
															  value="#{msgs['funds.register.settlement.gross.retirementType']}(*)" styleClass="campo-requerido"/>
											</td>
											
											<td width="300">
												<p:selectOneMenu id="idRetirementOperationType"  value="#{retirementFundsOperationBean.retirementType}"
																 rendered="#{!retirementFundsOperationBean.indDetailView}" 																				 
												    			 required="true" requiredMessage="#{msgs['funds.register.settlement.gross.retirementType.valMsg']}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  itemValue="" />
														<f:selectItems 	value="#{retirementFundsOperationBean.lstFundsRetirementType}" 
																		var="varLstModality" itemValue="#{varLstModality.parameterTablePk}" itemLabel="#{varLstModality.parameterName}"/>
															<p:ajax event="change" process="@this" listener="#{retirementFundsOperationBean.changeRetirementType()}" 
																	update="operationAmountPanel idRetirementOperationType alertDialog" />
												</p:selectOneMenu>
											</td>					
											<td width="170">
												<h:outputText value="#{msgs['funds.retirement.register.settlement.montoRetirar']}" /><b> </b>
											</td>
											<td width="300">
												<p:outputPanel id="operationAmountPanel">
													<p:inputText   value="#{retirementFundsOperationBean.fundsOperationToSave.operationAmount}" size="15" 
														maxlength="15" id="deposAmountSettOpe" required="true" requiredMessage="#{msgs['funds.retirement.register.settlement.montoRetirar.valMsg']}" 
														disabled="true">
														<p:keyFilter regEx="/[0-9]/i" />	
														<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
													</p:inputText>
														
												</p:outputPanel>	
											</td>
										</tr>
									</table>
								
								</p:outputPanel>
							</td>
						</tr>
					</table>
				</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td width="100%">
				<p:outputPanel id="pnlNetSettlement">
					<p:fieldset id="fldNetSettlement" rendered="#{retirementFundsOperationBean.indSettlementNet}" 
						style="border:0;padding:0 !important">
						<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{!(retirementFundsOperationBean.lstInstitutionCashAccount.getRowCount() >= 1)}"
									style="font-weight:bold;"/>
						<table width="100%">
							<tr>
								<td>
									<p:outputPanel id="pnlPartEffAccount">
										<p:fieldset id="fldPartEffAccount" style="border:0;padding:0 !important" 
										rendered="#{retirementFundsOperationBean.lstInstitutionCashAccount.getRowCount() >= 1}">
											<table width="100%">
												<tr>
													<td>
														<p:dataTable id="dtbEffAccPart" var="varEffAccPart"
														    style="padding-right:0px !important;"
														    selection="#{retirementFundsOperationBean.fundsOperationToSave.institutionCashAccount}"
														    rowKey="#{varEffAccPart.idInstitutionCashAccountPk}"																	   
															value="#{retirementFundsOperationBean.lstInstitutionCashAccount}" 
															rendered="#{not empty retirementFundsOperationBean.lstInstitutionCashAccount}">
															
															<p:column selectionMode="single" style="width:8px"/>
															<p:column sortBy="#{varEffAccPart.negotiationMechanism.description}" style="width:150px;text-align:center;">
																<f:facet name="header">
																	<h:outputText value="#{msgs['funds.retirement.register.mechanism']}"  escape="false" styleClass="text-header-table" />
																</f:facet>
																<h:outputText value="#{varEffAccPart.negotiationMechanism.description}" />
															</p:column>
															<p:column sortBy="#{varEffAccPart.modalityGroup.groupName}" style="width:250px;text-align:center;">
																<f:facet name="header">
																	<h:outputText value="#{msgs['funds.retirement.register.modalityGroup']}"   escape="false" styleClass="text-header-table" />
																</f:facet>
																	<h:outputText value="#{varEffAccPart.modalityGroup.groupName}" style="text-align:left;"/>
															</p:column>
															<p:column sortBy="#{varEffAccPart.currencyTypeDescription}" style="width:160px;text-align:center;">
																<f:facet name="header">
																	<h:outputText value="#{msgs['cash.account.grid.currency']}"  styleClass="text-header-table" />
																</f:facet>
															<h:outputText value="#{varEffAccPart.currencyTypeDescription}"  style="text-align:left;"/>
															</p:column>
															<p:column sortBy="#{varEffAccPart.totalAmount}" style="width:100px;text-align:center;">
																<f:facet name="header">
																	<h:outputText value="#{msgs['funds.retirement.register.benefit.amount']}&#60;br/&#62;#{msgs['funds.retirement.register.benefit.accountant']}" escape="false"/>
																</f:facet>
																<h:outputText value="#{varEffAccPart.totalAmount}" style="width:100px;text-align:right;">
																	<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
																</h:outputText>
															</p:column>
															<p:column sortBy="#{varEffAccPart.availableAmount}" style="width:100px;text-align:center;">
																<f:facet name="header">
																	<h:outputText value="#{msgs['funds.retirement.register.benefit.amount']}&#60;br/&#62;#{msgs['funds.retirement.register.benefit.available']}" escape="false"/>
																</f:facet>
																<h:outputText value="#{varEffAccPart.availableAmount}" style="text-align:right;">
																	<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
																</h:outputText>
															</p:column>
															<p:column style="text-align:center;width:150px">
																<f:facet name="header">
																	<h:outputText value="#{msgs['funds.retirement.register.benefit.retirar']}"/>
																</f:facet>
																<p:inputText value="#{varEffAccPart.fundsOperationAmount}" style="text-align:right" size="23" maxlength="23" id="deposAmount"
																	disabled="#{(retirementFundsOperationBean.fundsOperationToSave.institutionCashAccount.idInstitutionCashAccountPk != varEffAccPart.idInstitutionCashAccountPk) 
																				or retirementFundsOperationBean.indDetailView}">
																	<p:ajax process="@this" update="@form" listener="#{retirementFundsOperationBean.setFundsOperationAmount()}"/>	
																	<f:convertNumber pattern="#{msgs['amount.display.format']}" locale="#{msgs['en_locale']}"/>
																	
																	<p:keyFilter regEx="/[0-9 .]/i" />		
																</p:inputText>
															</p:column>
								
															<p:ajax event="rowSelectRadio" update="dtbEffAccPart"/>																	
														</p:dataTable>
														
													</td>
												</tr>
											</table>
										</p:fieldset>
									</p:outputPanel>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</p:outputPanel>
			</td>
		</tr>
	</table>
</p:fieldset>

</html>