<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<table width="100%">
	<tr>
		<td>
							<p:outputPanel id="pnlBankAccountsTax">
							<p:fieldset id="fldBankAccountsTax" legend="#{msgs['funds.retirement.taxes.legend']}" rendered="#{retirementFundsOperationBean.indTaxesRetirement}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
												rendered="#{retirementFundsOperationBean.lstInstitutionCashAccount != null and !(retirementFundsOperationBean.lstInstitutionCashAccount.getRowCount() >= 1)}"
												style="font-weight:bold;"/>
							<p:dataTable id="iCAPanelTax" var="varEffAccPart"
													    style="padding-right:0px !important;"
													    rows="10" paginatorPosition="top" paginator="true"
													    selection="#{retirementFundsOperationBean.fundsOperationToSave.institutionCashAccount}"
													    rowKey="#{varEffAccPart.idInstitutionCashAccountPk}"
														value="#{retirementFundsOperationBean.lstInstitutionCashAccount}" 
														rendered="#{retirementFundsOperationBean.lstInstitutionCashAccount.getRowCount() >= 1}">
														
														<p:column selectionMode="single" style="width:8px"/>
														<p:column sortBy="#{varEffAccPart.idInstitutionCashAccountPk}" style="width:50px;text-align:right">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.retirement.register.benefit.idCuenta']}&#60;br/&#62; #{msgs['funds.retirement.register.benefit.efectivo']}"  escape="false" styleClass="text-header-table" />
															</f:facet>
															<h:outputText value="#{varEffAccPart.idInstitutionCashAccountPk}" />
														</p:column>
														<p:column sortBy="#{varEffAccPart.bankDescription}" style="width:150px">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.register.retirement.benefit.bank']}"  escape="false" styleClass="text-header-table" />
															</f:facet>
															<h:outputText value="#{varEffAccPart.bankDescription}" />
														</p:column>
														
														<p:column sortBy="#{varEffAccPart.currencyTypeDescription}" style="width:160px">
															<f:facet name="header">
																<h:outputText value="#{msgs['cash.account.grid.currency']}"  styleClass="text-header-table" />
															</f:facet>
														<h:outputText value="#{varEffAccPart.currencyTypeDescription}"  style="text-align:left;"/>
														</p:column>
														
														<p:column sortBy="#{varEffAccPart.bankAccount}" style="width:250px;">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.register.retirement.benefit.number.lbl']}"   escape="false" styleClass="text-header-table" />
															</f:facet>
																<h:outputText value="#{varEffAccPart.bankAccount}" style="text-align:left;"/>
														</p:column>
														<p:column sortBy="#{varEffAccPart.totalAmount}" style="width:100px;text-align:right;">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.retirement.register.benefit.amount']}&#60;br/&#62;#{msgs['funds.retirement.register.benefit.accountant']}" escape="false"/>
															</f:facet>
															<h:outputText value="#{varEffAccPart.totalAmount}" style="width:100px;text-align:right;">
																<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
															</h:outputText>
														</p:column>
														<p:column sortBy="#{varEffAccPart.availableAmount}" style="width:100px;text-align:right;">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.retirement.register.benefit.amount']}&#60;br/&#62;#{msgs['funds.retirement.register.benefit.available']}" escape="false"/>
															</f:facet>
															<h:outputText value="#{varEffAccPart.availableAmount}" style="width:100px;text-align:right;">
																<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
															</h:outputText>
														</p:column>
														<p:column style=";width:100px">
															<f:facet name="header">
																<h:outputText value="#{msgs['funds.retirement.register.benefit.retirar']}"/>
															</f:facet>
															<p:inputText style="text-align:right" 
																		 value="#{varEffAccPart.fundsOperationAmount}" size="23" 
																		 maxlength="23" id="deposAmount"
																		 disabled="#{(retirementFundsOperationBean.fundsOperationToSave.institutionCashAccount.idInstitutionCashAccountPk != varEffAccPart.idInstitutionCashAccountPk) or retirementFundsOperationBean.indDetailView}">
																<p:ajax process="@this" update="@form" listener="#{retirementFundsOperationBean.setFundsOperationAmount()}"/>	
																<p:keyFilter regEx="/[0-9 .]/i" />
																<f:convertNumber pattern="#{msgs['operationAmount.format']}" locale="#{msgs['en_locale']}"/>
															</p:inputText>
														</p:column>			
														<p:ajax event="rowSelectRadio" update="iCAPanelTax"/>																																			
													</p:dataTable>
							</p:fieldset>
						</p:outputPanel>
		</td>
	</tr>
</table>
</html>