<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
 <ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css">
	.amount-inputfield{
		text-align: right !important;
	}
	
	</style>
		<h:form id="fmrDetail">
       <p:outputPanel id="opnlPaymentCronogram">   
       
       <h:outputText value="#{msgs['opt.securitie.and.payment.schedule.query.detail.title']}" 
			  styleClass="title-page" />
			   
      <table width="100%">
      	  
	      <tr> 
				<td width="100%">
				<table width="100%"> 
				
					<tr> 
						<td> 
						
							<p:dataTable id="dtbInterestPaymentCron" first="#{securityAndPaymentCronoQueryBean.firsRegisterDataTable}"
										 value="#{securityAndPaymentCronoQueryBean.lstCouponInformationTO}"
										 var="payCron" paginator="true" 
										 rows="10" 
										 paginatorPosition="top"
										 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" 
						                 paginatorTemplate="#{gmsgs['dtb.paginator.template']}" 
										 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"> 										 
								
								<p:column sortBy="#{payCron.idSecurityCodePk}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{gmsgs['security.col.code']}"
													  escape="false"/>
									</f:facet>
										  <p:commandLink id="cmlIdIsinCodePk"
										  	action="securityDetailRule"
										   actionListener="#{securityAndPaymentCronoQueryBean.detailOperationHandler}"
										   immediate="true" >
												<h:outputText value="#{payCron.idSecurityCodePk}"/>
												<f:attribute name="idSecurityCodePrm" value="#{payCron.idSecurityCodePk}"/>
										 </p:commandLink>	   	
								</p:column>
								
								<p:column  sortBy="#{payCron.securityDescription}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.security.description']}"/>
									</f:facet>
									<h:outputText value="#{payCron.securityDescription}"/>	   	
								</p:column>
								
								<p:column sortBy="#{payCron.securityInstrumentTypeDescription}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.instrument.type']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.securityInstrumentTypeDescription}"/>	   	
								</p:column>
								
								<p:column sortBy="#{payCron.issuerMnemonicCode}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['issuer.lbl.issuer']}"/>
									</f:facet>
									<h:outputText value="#{payCron.issuerMnemonicCode}"/>	   	
								</p:column>									 								
								
								<p:column sortBy="#{payCron.securityExpirationDate}" styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['security.col.security.expiration.date.sec']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.securityExpirationDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>	   	
								</p:column>
								
								<p:column styleClass="content-center">
									<f:facet name="header">
										<h:outputText value="#{msgs['security.col.securitycoupon.expiration.date.sec']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.interesExpirationDate}" rendered="#{payCron.indInterest}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>	   	
									<h:outputText value="#{payCron.amortizationExpirationDate}" rendered="#{not payCron.indInterest}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>
								</p:column>
								
								<p:column sortBy="#{payCron.paymentTypeDescription}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.payment.type']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.paymentTypeDescription}"/>	   	
								</p:column>
								
								<p:column sortBy="#{payCron.couponNumber}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.nro.coupon']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.couponNumber}"/>	   	
								</p:column>
								
								<p:column sortBy="#{payCron.paymentDate}" styleClass="content-left">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.payment.date']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.paymentDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>		   	
								</p:column>
								
								<p:column sortBy="#{payCron.interestRate}" styleClass="content-right">
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.factor']}"/>
									</f:facet>
									<h:outputText value="#{payCron.interestRate}" >
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.rate.factor']}"/>
								    </h:outputText>
												  
								    <h:outputText value="%" rendered="#{payCron.interestRate != null}"/>	   	
								</p:column>

								<p:column sortBy="#{payCron.amortizationAmount}"  styleClass="content-right"> 
									<f:facet name="header">
										<h:outputText value="#{msgs['payment.cronogram.col.amortization.amount']}" escape="false"/>
									</f:facet>
									<h:outputText value="#{payCron.amortizationAmount}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
									</h:outputText>
								</p:column>
								
								<f:facet name="footer">	
									<div style="width:100%; text-align:left">
									<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
						            	<f:param value="#{securityAndPaymentCronoQueryBean.lstCouponInformationTO.size()}"/>
						            </h:outputFormat>									
									</div>
								</f:facet>		
								<p:ajax event="page" listener="#{securityAndPaymentCronoQueryBean.changePageDatatable}"/>

							</p:dataTable>
						</td>
					</tr>
					<tr>
						<td align="center">
							<p:spacer height="10px" width="100%" />
							<p:commandButton value="#{gmsgs['btn.back']}" id="btnBack" process="@this" icon="fa fa-undo"
									action="search" ajax="false" />
						</td>
					</tr>
				</table>				
				</td>				
	      </tr> 
      </table>          
      </p:outputPanel> 
      
      </h:form>
      </ui:define>          
      </ui:composition>
</ui:composition>