<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<body>

	 <composite:interface name="representativeDetails">
	 <composite:attribute name="idLegalRepresentativeComponent" type="java.lang.String"/>     
	 <composite:attribute name="indicatorIssuer" default="false" type="Boolean"/>
     <composite:attribute name="indicatorHolder" default="false" type="Boolean"/>
     	
	 </composite:interface>

	 <composite:implementation>
	     
	     <p:dataTable id="dtbRepresentatives"
								    rendered="#{(legalRepresentativeHelperBean.lstLegalRepresentative.size() >= 1)}"
									value="#{legalRepresentativeHelperBean.lstLegalRepresentative}"
									var="legalRepresentative" rowIndexVar="rIndx">								
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{gmsgs['legal.representative.table.column.representative.type']}" />
									</f:facet>
									<h:outputText value="#{legalRepresentative.representativeTypeDescription}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{gmsgs['legal.representative.table.column.representative.class']}" />
									</f:facet>
									<h:outputText value="#{legalRepresentative.representativeClassDescription}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{gmsgs['legal.representative.table.column.representative.document.type']}" />
									</f:facet>
									<h:outputText value="#{legalRepresentative.documentTypeDescription}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{gmsgs['legal.representative.table.column.representative.document.number']}" />
									</f:facet>
									<h:outputText value="#{legalRepresentative.documentNumber}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{gmsgs['legal.representative.table.column.representative.description']}" />
									</f:facet>
									<h:outputText value="#{legalRepresentative.representativeDescriptionAux}" />
								</p:column>								
								<p:column>
									<f:facet name="header">
										<h:outputText  value="" />
									</f:facet>
									<p:commandLink style="color:blue" process="@this" value="#{gmsgs['legal.representative.table.column.view']}" update=":#{cc.attrs.idLegalRepresentativeComponent}:opnlLegalRepresentativeDetail" actionListener="#{legalRepresentativeHelperBean.representativeViewDetail}">
									<f:attribute name="representativeObj" value="#{legalRepresentative}"/>
									<f:attribute name="rowRepresentative" value="#{rIndx}"/>
									</p:commandLink>
								</p:column>							
								
							</p:dataTable>
							<h:outputLabel value="#{msgs['lbl.datatable.empty']}" 
								rendered="#{!(legalRepresentativeHelperBean.lstLegalRepresentative.size() >= 1)}"
								style="font-weight:bold;"/>	
	     
	     <p:outputPanel id="opnlLegalRepresentativeDetail">
	 	 <p:dialog draggable="false" height="500" resizable="false" closable="false"  id="detailRepresentativeDialog" widgetVar="detailRepresentativeWidget"
				 modal="true" onShow="tabWView.select(0)">			
				<ui:include src="../legalRepresentativeComponent/bodyLegalRepresentative.xhtml" />
	 	</p:dialog>
		</p:outputPanel>
		</composite:implementation>
	</body>	
		
		

</html>