<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/template/defaultSecurity.xhtml">
    	<ui:define name="body">
	    	<script type="text/javascript">
			$(window).load(function(){
			setInitialFormState('#frmSubsiadiaryAdministration'); 
			});
	
			function onKeyPress() {
				 if (event.keyCode == 8 || event.keyCode == 46) {
					event.returnValue = true;
					return true;
				} 
			}  
			</script>	
			<style type="text/css">
				.not-clickable {
				    cursor: not-allowed;
				    pointer-events: none;
				} 
			</style> 														 
			<h:outputText value="#{subsidiaryBean.register ? msgs['subsidary.adm.subsidary.title.register'] : msgs['subsidary.adm.subsidary.title.modify']}" styleClass="title-page"/>
			
			<h:form id="frmSubsiadiaryAdministration">			
				<table width="100%"> 					
					<tr>
						<td>
							<p:fieldset id="pnlSubsidiaryInfo" legend="#{msgs['subsidiary.pnl.data']}"> 
								<table class="table-fields" border="0">
									<tr>
										<td class="td-label-default">
											<h:outputText value="#{msgs['user.lbl.type']} (*) " styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu id="cboUserType" value="#{subsidiaryBean.subsidiaryFilter.userAccountType}" 
												 style="width:200px" disabled="true" label="#{msgs['user.lbl.type']}" > 
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
													<f:selectItems value="#{subsidiaryBean.lstUserAccountType}" var="userType" 
																   itemValue="#{userType.idParameterPk}" itemLabel="#{userType.name}"/>												
												</p:selectOneMenu>
												<p:message for="cboUserType" display="icon" id="idMsgUserType"/>
											</h:panelGrid>
											
										</td>									
										<td class="td-label-default">
											<h:outputText value="#{msgs['user.lbl.institution.type']} (*) " styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu id="cboInstitutionType" value="#{subsidiaryBean.subsidiary.institutionTypeFk}"
												 style="width:200px" label="#{msgs['user.lbl.institution.type']}" 
												 disabled="#{subsidiaryBean.modify}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											        <f:selectItems value="#{subsidiaryBean.lstInstitutionType}" var="tipoIns"
											        			   itemValue="#{tipoIns.idParameterPk}" itemLabel="#{tipoIns.name}"/> 
											        <p:ajax listener="#{subsidiaryBean.changeInstitutionType('mgm')}" 
															event="change" update="cboInstitution cboInstitutionType idMsgInstitutionType"/>
													<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />
												</p:selectOneMenu>
												<p:message for="cboInstitutionType" display="icon" id="idMsgInstitutionType"/>
											</h:panelGrid>											
										</td>
									</tr> 
									<tr>
										<td class="td-label-default">
											<h:outputText value="#{msgs['user.lbl.institution']} (*) " styleClass="required-field" />
										</td>
										<td colspan="3">
											<h:panelGrid columns="2">
												<p:selectOneMenu id="cboInstitution" value="#{subsidiaryBean.subsidiary.institutionsSecurity.idInstitutionSecurityPk}" 
												 	style="width:200px" label="#{msgs['user.lbl.institution']}"
												 	disabled="#{subsidiaryBean.modify}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											        <f:selectItems value="#{subsidiaryBean.lstInstitutionsSecurity}" var="instSec"
											        			   itemValue="#{instSec.idInstitutionSecurityPk}" itemLabel="#{instSec.institutionName}"/>
											         <p:ajax event="change" update="cboInstitution idMsgInstitution"/>
											        <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />								        
												</p:selectOneMenu>
												<p:message for="cboInstitution" display="icon" id="idMsgInstitution"/>
											</h:panelGrid>
											
										</td>										
									</tr>									
									<tr>
										<td class="td-label-default">
											<h:outputText value="#{msgs['subsidary.adm.subsidary.location']} (*) " styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:selectOneMenu id="cboLocation" value="#{subsidiaryBean.subsidiary.departament}" style="width:200px"
													label="#{msgs['subsidary.adm.subsidary.location']}" >
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											        <f:selectItems value="#{subsidiaryBean.lstDepartament}" var="depar"
											        			   itemValue="#{depar.idParameterPk}" itemLabel="#{depar.name}"/>
											        <p:ajax event="change" update="cboLocation idMsgLocation" />
											        <f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator" />									        
												</p:selectOneMenu>
												<p:message for="cboLocation" display="icon" id="idMsgLocation"/>
											</h:panelGrid>											
										</td>
										
										<td>
											<h:outputText value="#{msgs['subsidary.adm.subsidary.departament.central']} (*)" styleClass="required-field" />
										</td>
										<td>
											<h:panelGrid columns="2" cellpadding="0" cellspacing="0" styleClass="cleanTable">
												<p:selectOneMenu id="cboCentral" value="#{subsidiaryBean.subsidiary.departamentCentral}" 
													style="width:200px" label="#{msgs['subsidary.adm.subsidary.departament.central']}" > 
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
													<f:selectItems value="#{subsidiaryBean.listIsCentral}" var="central" 
																   itemValue="#{central.code}" itemLabel="#{central.value}"/>	
													<p:ajax update="@this msgcboCentral" event="change" />	
													<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.SelectOneMenuValidator"/>										
												</p:selectOneMenu>
												<p:message display="icon" for="cboCentral" id="msgcboCentral"/>
											</h:panelGrid>										
										</td>
										
									</tr>									
									<tr>
										<td class="td-label-default">
											<h:outputText value="#{msgs['subsidary.adm.subsidary.description']} (*) " styleClass="required-field"
											  id="idLblDescription" />
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText id="txtDescription" autocomplete="off" maxlength="200" 
														 value="#{subsidiaryBean.subsidiary.subsidiaryDescription}" 
														 styleClass="sensitive-inputField" 
														 style="width: 400px !important;"
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);"
														 label="#{msgs['subsidary.adm.subsidary.description']}" >
													<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator"/>
													<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>														 
												</p:inputText>
												<p:message for="txtDescription" display="icon" id="idMsgtxtDescription"/>
											</h:panelGrid>											
										</td>
										<td class="td-label-default">
											<h:outputText value="#{msgs['subsidary.adm.subsidary.address']} (*) " styleClass="required-field" 
											id="idLblLegalAddress"/>
										</td>
										<td>
											<h:panelGrid columns="2">
												<p:inputText id="txtLegalAddress" autocomplete="off" maxlength="200"
														 value="#{subsidiaryBean.subsidiary.legalAddress}" 
														 styleClass="sensitive-inputField" 
														 style="width: 400px !important;"
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);" 
														 label="#{msgs['subsidary.adm.subsidary.address']}" >
													<f:validator validatorId="com.pradera.security.systemmgmt.view.validators.InputTextValidator"/>
													<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>	
												</p:inputText>												
												<p:message for="txtLegalAddress" display="icon" id="idMsgtxtLegalAddress"/>
											</h:panelGrid>											
										</td>
									</tr>
									<tr>
										<td class="td-label-default">
											<h:outputText value="#{msgs['subsidary.adm.subsidary.phone']}" />
										</td>
										<td>
											<p:inputText id="txtPhone" autocomplete="off" maxlength="200" style="width:200px"
														 value="#{subsidiaryBean.subsidiary.phoneNumber}" />
										</td>
										<td class="td-label-default">
											<h:outputText value="#{msgs['subsidary.adm.subsidary.fax']}" />
										</td>
										<td>
											<p:inputText id="txtFax" autocomplete="off" maxlength="200" style="width:200px"
														 value="#{subsidiaryBean.subsidiary.faxNumber}" />
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>					
				</table>
				
				<table width="100%" border="0">
					<tr> 
        				<td	align="center"> 
		        			
		        			<p:commandButton id="cmbSave" value="#{subsidiaryBean.register ? msgs['btn.save'] : msgs['btn.modify']}" 
		        							 onclick="isModifiedFormForSave('#frmSubsiadiaryAdministration','frmSubsiadiaryAdministration:cmbProcessSave')"
											 rendered="#{subsidiaryBean.modify}" icon="fa fa-save" type="button"/>
							
							<p:commandButton id="cmbProcessSave" value="" style="display:none" ajax="true"  
											 update="frmSubsiadiaryAdministration, opnlDialogs, :opnlGenericDialogs"
											 actionListener="#{subsidiaryBean.beforeSubsidiaryRegistrationListener}" process="@form"/>	
											 
							<p:commandButton id="cmbProcessSave1" value="#{msgs['btn.save']}"  icon="fa fa-save"
										 update="@form opnlDialogs, :opnlGenericDialogs" process="@form"
										 actionListener="#{subsidiaryBean.beforeSubsidiaryRegistrationListener}" rendered="#{subsidiaryBean.register}" />													
	        				
	        				<p:commandButton id="idCmdBtnUserMgmtBack" value="#{msgs['btn.back']}" type="button" icon="fa fa-undo" 
	        								 onclick="isModifiedFormForBack('#frmSubsiadiaryAdministration','frmSubsiadiaryAdministration:cmbProcessBack')"/>
	        								 
							<p:commandButton id="cmbProcessBack" value="" style="display:none" immediate="true"
											 action="search" ajax="false"/> 	 
											        								
						</td>
	        		</tr>
				</table>
				
				<p:outputPanel id="opnlDialogs">
					<p:confirmDialog id="cnfSubsidiaryAdm" header="#{headerMessageView}"
								 severity="alert" widgetVar="cnfwSubsidiaryAdm" visible="true" rendered="false" closable="false" message="#{bodyMessageView}">
						<p:commandButton id="cmbConfirm" 
										 value="#{msgs['btn.yes']}"
										 actionListener="#{subsidiaryBean.saveSubsidiaryListener}"
										 update="pnlSubsidiaryInfo opnlDialogs :opnlGenericDialogs"
										 oncomplete="PF('cnfwSubsidiaryAdm').hide();" >
						</p:commandButton>
						<p:commandButton value="#{msgs['btn.no']}" id="idCmdBtnUserMgmtNo"
										 actionListener="#{subsidiaryBean.hideConfirm}" update="opnlDialogs :opnlGenericDialogs"
										 oncomplete="PF('cnfwSubsidiaryAdm').hide();"/>
					</p:confirmDialog>										
					
				</p:outputPanel>			
			</h:form>
			
       	</ui:define>
    </ui:composition>
</html>
