<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/legalRepresentativeComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:form id="frmModificationDetail">
			<table width="100%">
				<tr>
					<td class="title-page">
						<h:outputText value="#{gmsgs['iAccounts.participant.modify.detail.title']}" styleClass="title-page" />
					</td>
				</tr>
				<tr>
					<td>
					
							<table width="100%">
								<tr>
									<td>
									<p:panel id="panelDataTableDatosEstaticos">	
										<table width="100%">
											<tr>
												<td width="70"><h:outputText value="#{msgs['adm.participant.requestnumber']}" /></td>
												<td width="200"><h:outputText value="#{participantModificationMgmtBean.participantRequest.requestNumber}" /></td>
												<td width="110"><h:outputText value="#{msgs['adm.participant.code']}" /></td>
												<td width="200"><h:outputText value="#{participantModificationMgmtBean.participantRequest.participant.idParticipantPk}" /></td>
												<td width="90"><h:outputText value="#{msgs['adm.participant.request.request.date']}" /></td>
												<td width="200"><h:outputText value="#{participantModificationMgmtBean.participantRequest.registryDate}" >
													<f:convertDateTime pattern="#{msgs['dateFormat']}" />
													</h:outputText>
												</td>
												<td width="60"><h:outputText value="#{msgs['adm.participant.request.state']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequest.participantRequestStateDescription}" /></td>
											</tr>											
										</table>
									</p:panel>
									
						<p:tabView id="tabView"> 
									<p:tab id="datosPersonalesField" title="#{msgs['adm.participant.register.tab.personaldata']}">
										<table width="100%">  
											<tr>
												<td></td>
												<td><b><h:outputText value="#{msgs['lbl.general.old.data']}" /></b></td>
												<td></td>
												<td><b><h:outputText value="#{msgs['lbl.general.new.data']}" /></b></td>
											</tr>
											
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.register.fieldset.data']}" /></b></td>
											</tr>
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.role']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.roleParticipantDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.roleParticipantDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
													style="#{participantModificationMgmtBean.participantRequestHyBefore.roleParticipantDescription ne participantModificationMgmtBean.participantRequestHyAfter.roleParticipantDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText id="labelBCBCode" value="#{msgs['adm.holders.register.holder.lbl.bcbcode']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.idBcbCode}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.idBcbCode}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
													style="#{participantModificationMgmtBean.participantRequestHyBefore.idBcbCode ne participantModificationMgmtBean.participantRequestHyAfter.idBcbCode ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['lbl.general.country']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.residenceCountryDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.residenceCountryDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.residenceCountryDescription ne participantModificationMgmtBean.participantRequestHyAfter.residenceCountryDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.doctype']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.documentTypeDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.documentTypeDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.documentTypeDescription ne participantModificationMgmtBean.participantRequestHyAfter.documentTypeDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.docnumber']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.documentNumber}"/></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.documentNumber}"
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.documentNumber ne participantModificationMgmtBean.participantRequestHyAfter.documentNumber ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.tradename']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.description}"  /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.description}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
													style="#{participantModificationMgmtBean.participantRequestHyBefore.description ne participantModificationMgmtBean.participantRequestHyAfter.description ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr >
												<td><h:outputText value="#{msgs['adm.participant.mnemonic']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.mnemonic}"  /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.mnemonic}"  
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.mnemonic ne participantModificationMgmtBean.participantRequestHyAfter.mnemonic ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.participanttype']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.accountTypeDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.accountTypeDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.accountTypeDescription ne participantModificationMgmtBean.participantRequestHyAfter.accountTypeDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.class']}"/></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.accountClassDescription}"/></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.accountClassDescription}"
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.accountClassDescription ne participantModificationMgmtBean.participantRequestHyAfter.accountClassDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.economsector']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.economicSectorDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.economicSectorDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.economicSectorDescription ne participantModificationMgmtBean.participantRequestHyAfter.economicSectorDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.economactiv']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.economicActivityDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.economicActivityDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.economicActivityDescription ne participantModificationMgmtBean.participantRequestHyAfter.economicActivityDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr style="display:none">
												<td><h:outputText value="#{msgs['adm.holders.register.holder.lbl.investor.type']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.investorTypeDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.investorTypeDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.investorTypeDescription ne participantModificationMgmtBean.participantRequestHyAfter.investorTypeDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr >
												<td><h:outputText value="#{msgs['adm.participant.register.contractdate']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.contractDate}" >
														<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
													</h:outputText>
												</td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.contractDate}"
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
													style="#{participantModificationMgmtBean.participantRequestHyBefore.contractDate ne participantModificationMgmtBean.participantRequestHyAfter.contractDate ? 'color:#C4013B;' : ''}">
														<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
													</h:outputText>
												</td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.creationdate']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.creationDate}" >
														<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
													</h:outputText>
												</td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.creationDate}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.creationDate ne participantModificationMgmtBean.participantRequestHyAfter.creationDate ? 'color:#C4013B;' : ''}">
														<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
													</h:outputText>
												</td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.accounts.type']}" /> </td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.accountsState != null 
												        ? participantModificationMgmtBean.participantRequestHyBefore.accountsState == 0 ? msgs['adm.participant.register.accounts.type.matrix'] : msgs['adm.participant.register.accounts.type.issuer'] : ''}" /> </td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.accountsState != null
												        ? participantModificationMgmtBean.participantRequestHyAfter.accountsState == 0 ? msgs['adm.participant.register.accounts.type.matrix'] : msgs['adm.participant.register.accounts.type.issuer'] : ''}" 
												        rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
												        style="#{participantModificationMgmtBean.participantRequestHyBefore.accountsState ne participantModificationMgmtBean.participantRequestHyAfter.accountsState ? 'color:#C4013B;' : ''}"/> </td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.accounts.issuer']}" /> </td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.issuer != null ? participantModificationMgmtBean.participantRequestHyBefore.issuer.mnemonic : '(NINGUNO)'}" /> </td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.issuer != null ? participantModificationMgmtBean.participantRequestHyAfter.issuer.mnemonic : '(NINGUNO)'}" 
												        rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
												        style="#{participantModificationMgmtBean.participantRequestHyBefore.issuer.idIssuerPk ne participantModificationMgmtBean.participantRequestHyAfter.issuer.idIssuerPk ? 'color:#C4013B;' : ''}"/> </td>
											</tr>
																																	
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.iscavapy']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.indDepositaryDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.indDepositaryDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.indDepositaryDescription ne participantModificationMgmtBean.participantRequestHyAfter.indDepositaryDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.is.IndManagedThird']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.indManagedThirdDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.indManagedThirdDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.indManagedThirdDescription ne participantModificationMgmtBean.participantRequestHyAfter.indManagedThirdDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.register.fieldset.custom.relationship.settlement']}" /></b></td>
											</tr>
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>											
													
											<tr>								
												<td><h:outputText value="#{msgs['adm.participant.register.fieldset.custom.relationship.settlement']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.indSettlementInchargeDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.indSettlementInchargeDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.indSettlementInchargeDescription ne participantModificationMgmtBean.participantRequestHyAfter.indSettlementInchargeDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.register.fieldset.commercialdata']}" /></b></td>
											</tr>
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>
											
													
											<tr>								
												<td><h:outputText value="#{msgs['adm.participant.register.comercialregister']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.commercialRegister}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.commercialRegister}"
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}" 
													style="#{participantModificationMgmtBean.participantRequestHyBefore.commercialRegister ne participantModificationMgmtBean.participantRequestHyAfter.commercialRegister ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.comision']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.indPayCommissionDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.indPayCommissionDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.indPayCommissionDescription ne participantModificationMgmtBean.participantRequestHyAfter.indPayCommissionDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><b><h:outputText value="#{msgs['lbl.banks.accounts.data']}" /></b></td>
											</tr>
											
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>
											
											<tr>
												<td colspan="4"><b><h:outputText value="#{msgs['adm.participant.lbl.before.part.bank.acc']}" /></b></td>
									 		</tr>
											
											<tr>
												<td colspan="4">
												<p:dataTable id="dtbBankAccHyBefore" var="varBankAccHyBefore"
													value="#{participantModificationMgmtBean.lstInstitutionBankAccountHyBefore}" rows="10" rowKey="#{varBankAccHyBefore.accountNumber}"
													rendered="#{not empty participantModificationMgmtBean.lstInstitutionBankAccountHyBefore}">
													<p:column headerText="#{msgs['lbl.banks.accounts.bank.provider']}" styleClass="content-center">
														<h:outputText value="#{varBankAccHyBefore.providerBank.description}"/>
													</p:column>
													<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.type']}">
														<h:outputText value="#{varBankAccHyBefore.descriptionBankAcountType}" />
													</p:column>
													<p:column styleClass="content-left" headerText="#{msgs['lbl.banks.accounts.number']}">
														<h:outputText value="#{varBankAccHyBefore.accountNumber}" />
													</p:column>
													<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.currency']}">
														<h:outputText value="#{varBankAccHyBefore.descriptionCurrency}" />
													</p:column>
												</p:dataTable>
												<h:outputLabel value="#{msgs['adm.participant.detail.no.bank.accounts.registered']}" 
												rendered="#{empty participantModificationMgmtBean.lstInstitutionBankAccountHyBefore}"/>
												</td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 10px;"></td>
											</tr>
											
											<tr>
												<td colspan="4"><b><h:outputText value="#{msgs['adm.participant.lbl.after.part.bank.acc']}" /></b></td>
									 		</tr>
											
											<tr>
												<td colspan="4">
												<p:dataTable id="dtbBankAccHyAfter" var="varBankAccHyAfter"
													value="#{participantModificationMgmtBean.lstInstitutionBankAccountHyAfter}" rows="10" rowKey="#{varBankAccHyAfter.accountNumber}"
													rendered="#{participantModificationMgmtBean.indInstitutionBankAccountsChanged}">
													<p:column headerText="#{msgs['lbl.banks.accounts.bank.provider']}" styleClass="content-center">
														<h:outputText value="#{varBankAccHyAfter.providerBank.description}"/>
													</p:column>
													<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.type']}">
														<h:outputText value="#{varBankAccHyAfter.descriptionBankAcountType}" />
													</p:column>
													<p:column styleClass="content-left" headerText="#{msgs['lbl.banks.accounts.number']}">
														<h:outputText value="#{varBankAccHyAfter.accountNumber}" />
													</p:column>
													<p:column styleClass="content-center" headerText="#{msgs['lbl.banks.accounts.currency']}">
														<h:outputText value="#{varBankAccHyAfter.descriptionCurrency}" />
													</p:column>
												</p:dataTable>
												<h:outputLabel value="#{msgs['adm.participant.detail.no.bank.accounts.registered']}" 
												rendered="#{not participantModificationMgmtBean.indInstitutionBankAccountsChanged}"/>
												</td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
									 		
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.register.fieldset.locationdata']}" /></b></td>
											</tr>
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>
											
											<tr>								
												<td><h:outputText value="#{msgs['lbl.general.departament']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.departmentDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.departmentDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.departmentDescription ne participantModificationMgmtBean.participantRequestHyAfter.departmentDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>		
											<tr>								
												<td><h:outputText value="#{msgs['lbl.general.province']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.provinceDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.provinceDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.provinceDescription ne participantModificationMgmtBean.participantRequestHyAfter.provinceDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr>
												<td><h:outputText value="#{msgs['lbl.general.municipality']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.districtDescription}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.districtDescription}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.districtDescription ne participantModificationMgmtBean.participantRequestHyAfter.districtDescription ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											<tr >
												<td><h:outputText value="#{msgs['lbl.general.address']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.address}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.address}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.address ne participantModificationMgmtBean.participantRequestHyAfter.address ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td colspan="4" style="height: 20px;"></td>												
											</tr>
											
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.register.fieldset.contactdata']}" /></b></td>
											</tr>
											<tr>
												<td colspan="4" style="border-top: solid 1px;height: 5px"></td>
											</tr>
											
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.phone']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.phoneNumber}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.phoneNumber}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.phoneNumber ne participantModificationMgmtBean.participantRequestHyAfter.phoneNumber ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.fax']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.faxNumber}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.faxNumber}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.faxNumber ne participantModificationMgmtBean.participantRequestHyAfter.faxNumber ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.webpage']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.website}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.website}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.website ne participantModificationMgmtBean.participantRequestHyAfter.website ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.email']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.email}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.email}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.email ne participantModificationMgmtBean.participantRequestHyAfter.email ? 'color:#C4013B;' : ''}"/></td>
											</tr>	
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.contactname']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.contactName}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.contactName}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.contactName ne participantModificationMgmtBean.participantRequestHyAfter.contactName ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.contactphone']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.contactPhone}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.contactPhone}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.contactPhone ne participantModificationMgmtBean.participantRequestHyAfter.contactPhone ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.contactemail']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.contactEmail}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.contactEmail}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.contactEmail ne participantModificationMgmtBean.participantRequestHyAfter.contactEmail ? 'color:#C4013B;' : ''}"/></td>
											</tr>
											
											<tr>
												<td><h:outputText value="#{msgs['adm.participant.register.observations']}" /></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyBefore.comments}" /></td>
												<td></td>
												<td><h:outputText value="#{participantModificationMgmtBean.participantRequestHyAfter.comments}" 
													rendered="#{participantModificationMgmtBean.indParticipantInfoChanged}"
													style="#{participantModificationMgmtBean.participantRequestHyBefore.comments ne participantModificationMgmtBean.participantRequestHyAfter.comments ? 'color:#C4013B;' : ''}"/></td>
											</tr>																						
									 		
											
										</table>
									</p:tab>
									<p:tab id="representantesDatos" title="#{msgs['adm.participant.register.tab.representantregister']}">
										<table>
									 		<tr>
												<td>
													<p:outputPanel autoUpdate="true">													 
														<ark:representativeModifiyDetails idLegalRepresentativeComponent="frmModificationDetail:tabView:legalRepresentativeComp" id="legalRepresentativeComp"/>						
													</p:outputPanel>
												</td>
									 		</tr>
											
										</table>
									</p:tab>
									
									
									<p:tab id="tabNegotiationMechanism" title="#{msgs['adm.participant.register.tab.negotiationMechanisms']}">
									
						<p:fieldset id="fieldInternationalDeposit"  legend="#{msgs['adm.participant.register.fieldset.internationaldepository']}" toggleable="false">
						<table width="100%">
							<tr>
								<td><b><h:outputText value="#{msgs['adm.participant.modificacion.int.depositiry.old.title']}" /></b></td>
							</tr>
							<tr>
								<td>
								
								<p:dataTable id="dtbInternationalDepositBefore" var="idep" value="#{participantModificationMgmtBean.lstInternationalDepositoryBefore}"
										rendered="#{not empty participantModificationMgmtBean.lstInternationalDepositoryBefore}">
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.code']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.idInternationalDepositoryPk}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.internationalmechanisms']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.description}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.yes']}"/>
											</f:facet>
											<p:selectBooleanCheckbox value="#{idep.selected}" disabled="true"></p:selectBooleanCheckbox>
										</p:column>																				
										
									</p:dataTable>
								</td>
							</tr>
							<tr>
								<td height="10px"></td>
							</tr>						
							<tr>
								<td><b><h:outputText value="#{msgs['adm.participant.modificacion.int.depositiry.new.title']}" /></b></td>
							</tr>
							<tr>
								<td>
									<p:dataTable id="dtbInternationalDepositAfter" var="idep" value="#{participantModificationMgmtBean.lstInternationalDepositoryAfter}"
										rendered="#{not empty participantModificationMgmtBean.lstInternationalDepositoryAfter and participantModificationMgmtBean.indParticipantIndDeposChanged}">
										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.code']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.idInternationalDepositoryPk}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.internationalmechanisms']}"/>
											</f:facet>
											<h:outputLabel value="#{idep.description}"/>
										</p:column>

										<p:column>
											<f:facet name="header">
												<h:outputText value="#{msgs['adm.participant.register.grid.yes']}"/>
											</f:facet>
											<p:selectBooleanCheckbox value="#{idep.selected}" disabled="true"></p:selectBooleanCheckbox>
										</p:column>																				
										
									</p:dataTable>
									
									<h:outputText value="#{msgs['adm.participant.modificacion.int.depo.not.modified']}" 
										rendered="#{not participantModificationMgmtBean.indParticipantIndDeposChanged}"/>
								</td>
							</tr>										
						</table>
					</p:fieldset>					
				
						<p:fieldset id="fieldNegotiationDataGrid"  legend="#{msgs['adm.participant.register.fieldset.negotiationmechanism']}" toggleable="false">
									<p:outputPanel id="opnlNegotiationDataGrid">
										<table width="100%">
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.modificacion.neg.mech.old.title']}" /></b></td>
											</tr>							
											<tr>
												<td>
												
												<p:dataTable id="dtbNegotiationModalitiesBefore"
														 value="#{participantModificationMgmtBean.lstNegotiationModalitiesBefore}"
														 rendered="#{participantModificationMgmtBean.registeredNegotiationModalitiesBefore}"
														 var="negMod">													     
													     
												<p:column headerText="#{msgs['col.modality']}"
														  styleClass="content-left">
													<h:outputText value="#{negMod.modalityName}" />			
												</p:column>
												
												<p:column headerText="#{msgs['lbl.bvrd']}"
														  styleClass="content-center"
														  >
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[0].selected}"
																			 disabled="true"/>
												</p:column>												
												
												<p:column headerText="#{msgs['lbl.otc']}"
														  styleClass="content-center">
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[2].selected}"
																		 	 disabled="true"/>
												</p:column>
												
												<p:column headerText="#{msgs['lbl.sirtex']}"
														  styleClass="content-center"> 
													<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[4].selected}"
																		  	 disabled="true"/>
												</p:column>
												
											</p:dataTable>
											
											<h:outputLabel value="#{msgs['adm.participant.detail.no.negotiation.mechanism']}" 
												rendered="#{not participantModificationMgmtBean.registeredNegotiationModalitiesBefore}"
												/>
											
												</td>
											</tr>
											<tr>
												<td height="10px"></td>
											</tr>						
											<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.modificacion.neg.mech.new.title']}" /></b></td>
											</tr>
											<tr>
												<td>
												
												<p:dataTable id="dtbNegotiationModalitiesAfter"
														 value="#{participantModificationMgmtBean.lstNegotiationModalitiesAfter}"
														 var="negMod"
														 rendered="#{participantModificationMgmtBean.indParticipantMechanismsChanged}">													     													     
													<p:column headerText="#{msgs['col.modality']}"
															  styleClass="content-left">
														<h:outputText value="#{negMod.modalityName}" />			
													</p:column>
													
													<p:column headerText="#{msgs['lbl.bvrd']}"
															  styleClass="content-center"
															  >
														<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[0].selected}"
																				 disabled="true"/>
													</p:column>													
													
													<p:column headerText="#{msgs['lbl.otc']}"
															  styleClass="content-center">
														<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[2].selected}"
																			 	 disabled="true"/>
													</p:column>
													
													<p:column headerText="#{msgs['lbl.sirtex']}"
															  styleClass="content-center"> 
														<p:selectBooleanCheckbox value="#{negMod.negotiationMechanisms[4].selected}"
																			  	 disabled="true"/>
													</p:column>
												</p:dataTable>
												
												<h:outputText value="#{msgs['adm.participant.modificacion.neg.mech.not.modified']}" 
													rendered="#{not participantModificationMgmtBean.indParticipantMechanismsChanged}"/>
												
												</td>
											</tr>									
										</table>									
									</p:outputPanel>
								
											</p:fieldset>
								</p:tab>
									
									
									<p:tab id="tab3" title="#{msgs['adm.participant.register.tab.attachments']}">
										<table>
									 		<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.modificacion.files.old.title']}" /></b></td>
									 		</tr>
											<tr>
												<td>
										<p:dataTable id="dtbParticipantDocuments" var="participFile" rowIndexVar="regNum"
										value="#{participantModificationMgmtBean.lstParticipantFileHyBefore}"
										rendered="#{not empty participantModificationMgmtBean.lstParticipantFileHyBefore}">
											<p:column width="5">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.order.number']}" />
											</f:facet>
											<h:outputText
											value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
											</f:facet>
											<h:outputText
											value="#{participFile.description}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
											</f:facet>
											<h:outputText
											value="#{participFile.filename}" />
											</p:column>
							
											<p:column styleClass="content-center"> 
											<f:facet name="header">
											<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.view']}" />
											</f:facet>
										    <p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
									 		<p:fileDownload value="#{participantModificationMgmtBean.getStreamedContentFromFile(participFile.file,null,participFile.filename)}" />
									 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
									 			title="#{msgs['adm.participant.register.grid.file.doc.view']}"/>            		  
											</p:commandLink>	
											</p:column>
											
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.delete']}" />
												</f:facet>								
												<p:commandLink type="button" disabled="true">
													 <p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"
													title="#{msgs['adm.participant.register.grid.file.doc.delete']}"/>
												</p:commandLink>
											</p:column>
																
										</p:dataTable>
										
										<h:outputLabel value="#{msgs['adm.participant.detail.no.attachments.files']}" 
												rendered="#{empty participantModificationMgmtBean.lstParticipantFileHyBefore}"/>
							</td>
						</tr>
						<tr>
							<td height="10px"></td>
						</tr>
						<tr>
												<td><b><h:outputText value="#{msgs['adm.participant.modificacion.files.new.title']}" /></b></td>
						</tr>
						<tr>
							<td>
							<p:dataTable id="dtbIssuerDocumentsHistory" var="participFile" rowIndexVar="regNum"
										value="#{participantModificationMgmtBean.lstParticipantFileHyAfter}"
										rendered="#{participantModificationMgmtBean.indParticipantFilesChanged}">
							<p:column width="5">
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.order.number']}" />
											</f:facet>
											<h:outputText value="#{regNum + 1}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
											</f:facet>
											<h:outputText
											value="#{participFile.description}" />
											</p:column>
											<p:column>
											<f:facet name="header">
											<h:outputText value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
											</f:facet>
											<h:outputText
											value="#{participFile.filename}" />
											</p:column>
							
											<p:column styleClass="content-center"> 
											<f:facet name="header">
											<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.view']}" />
											</f:facet>
										    <p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
									 		<p:fileDownload value="#{participantModificationMgmtBean.getStreamedContentFromFile(participFile.file,null,participFile.filename)}" />
									 		<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
									 			title="#{msgs['adm.participant.register.grid.file.doc.view']}"/>            		  
											</p:commandLink>	
											</p:column>
											
											<p:column styleClass="content-center">
												<f:facet name="header">
													<h:outputText value="#{msgs['adm.participant.register.grid.file.doc.delete']}" />
												</f:facet>								
												<p:commandLink type="button" disabled="true">
													 <p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"
													title="#{msgs['adm.participant.register.grid.file.doc.delete']}"/>
												</p:commandLink>
											</p:column>
														
						</p:dataTable>
						
								<h:outputLabel value="#{msgs['adm.participant.modificacion.files.not.modified']}" 
												rendered="#{not participantModificationMgmtBean.indParticipantFilesChanged}"/>
							</td>
						</tr>
						</table>
	
										</p:tab>
									</p:tabView>
									</td>
								</tr>

								<tr>
									<td align="center">
										<p:outputPanel rendered="#{participantModificationMgmtBean.viewOperationConfirm or participantModificationMgmtBean.viewOperationReject}">
											<p:commandButton value="#{msgs['btn.confirm']}"  icon="ui-approve"	
											rendered="#{participantModificationMgmtBean.viewOperationConfirm}"																					
											actionListener="#{participantModificationMgmtBean.beginConfirmParticipantRequest}"
											update=":opnlDialogs :opnlGenericDialogs"/>
											
											<p:commandButton value="#{msgs['btn.reject']}"  icon="ui-cancel" 											
											actionListener="#{participantModificationMgmtBean.beginRejectParticipantRequest}"
											rendered="#{participantModificationMgmtBean.viewOperationReject}"
											update=":opnlDialogs :opnlGenericDialogs"/>	
											
											<p:commandButton value="#{msgs['btn.back']}" type="button" icon="fa fa-undo"
													onclick="PF('cnfwBackCustom').show();" />
										</p:outputPanel>
										
										<p:outputPanel rendered="#{participantModificationMgmtBean.viewOperationDetail}">
											<p:commandButton id="cmbReturn" value="#{msgs['btn.back']}" icon="fa fa-undo"
												actionListener="#{participantModificationMgmtBean.returnParticipantRequestMgmt}"
												 action="searchParticipantModification" ajax="false" />											 
										</p:outputPanel>					 										
									</td>
								</tr>
							</table>

					</td>
				</tr>
			</table>

		</h:form>
		
		<p:outputPanel id="opnlDialogs">	 
		
		<p:confirmDialog id="cnfIssuerRequestConfirmation"
					rendered="false" visible="true" closable="false" 
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfwIssuerRequestConfirmation" >
	        <f:facet name="message">
					<h:outputText value="#{bodyMessageView}" escape="false" />
				</f:facet> 
			<h:form id="frmConfirmIssuerRequestConf"> 				
		        <p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":opnlDialogs :opnlGenericDialogs"
	    						 actionListener="#{participantModificationMgmtBean.saveConfirmParticipantRequest}"	    						 
	    						 oncomplete="PF('cnfwIssuerRequestConfirmation').hide()"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{participantModificationMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfwIssuerRequestConfirmation').hide()"/>	
			</h:form>          
		</p:confirmDialog>
		
		<p:dialog id="cnfMotiveRejectIssRequest" modal="true" resizable="false" closable="false"				
                header="#{msgs['lbl.motive.reject']}" widgetVar="cnfwMotiveRejectIssRequest">
    	<h:form id="frmMotiveRejectIssRequest">    
	        <p:outputPanel id="opnlMotiveRejectIssRequest">
	        <table>
		        <tr>
		        	<td width="150px">
		        		<h:outputText value="#{msgs['lbl.motive.reject']} (*)" styleClass="required-field" />
		        	</td>
		        	<td width="270px">
		        		<p:selectOneMenu style="width:258px;" id="cboMotiveReject"
				        	value="#{participantModificationMgmtBean.participantRequest.rejectedMotive}">
						  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""/>
							<f:selectItems value="#{participantModificationMgmtBean.lstParticipantRequestRejectMotives}"
					        		var="item" itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
							<p:ajax event="change" process="@this" update="opnlMotiveRejectIssRequest gridButtons"
							 listener="#{participantModificationMgmtBean.changeMotiveReject}" />
						</p:selectOneMenu>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message  for="cboMotiveReject" display="icon" />
		        	</td>
		        </tr>
		        <tr>
		        	<td width="150px">
		        		<h:outputText value="#{msgs['lbl.general.description']} (*)" styleClass="required-field"
						rendered="#{participantModificationMgmtBean.indSelectedOtherMotiveReject}"/>
		        	</td>
		        	<td width="270px">
		        		<p:inputText styleClass="medium-input-text-width" id="txtOtherMotiveReject"
		        			label="#{msgs['lbl.general.description']}"
							value="#{participantModificationMgmtBean.participantRequest.rejectOtherMotive}"
							rendered="#{participantModificationMgmtBean.indSelectedOtherMotiveReject}" maxlength="60"
							required="true">
							<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
							<p:ajax event="change" process="@this" update="gridButtons @this msgOtherMotiveReject"
							 listener="#{participantModificationMgmtBean.typeOtherMotiveReject}" />
						</p:inputText>
		        	</td>
		        	<td width="50px" align="right">
		        		<p:message id="msgOtherMotiveReject" for="txtOtherMotiveReject" display="icon" />
		        	</td>
		        </tr>
	        </table>
	        </p:outputPanel>

			<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
				<p:outputPanel>
				<p:commandButton id="cmbAccept" update=":opnlDialogs :opnlGenericDialogs"
		        				 value="#{msgs['btn.accept']}" icon="fa fa-save" 
		        				 disabled="#{participantModificationMgmtBean.indDisableAcceptMotiveReject}"
		        				 actionListener="#{participantModificationMgmtBean.acceptRejectMotiveParticipantRequest}">
		        </p:commandButton>	       
		        <p:spacer width="1px" />
		        <p:commandButton value="#{msgs['btn.back']}" type="button" icon="fa fa-undo"
										onclick="PF('cnfwMotiveRejectIssRequest').hide()"/>
		       </p:outputPanel>
			</h:panelGrid>
         </h:form>
    </p:dialog>
    
    <p:confirmDialog id="cnfIssuerRequestReject" message="#{bodyMessageView}"	closable="false"			
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfwIssuerRequestReject" > 
		<h:form id="frmConfirmIssuerRequestReject"> 
	        <p:commandButton id="cmbYes" process="@this"
    						 value="#{msgs['btn.yes']}" update=":opnlEndTransaction :opnlDialogs :opnlGenericDialogs"
    						 actionListener="#{participantModificationMgmtBean.saveRejectParticipantRequest}"/>
    		&nbsp;&nbsp;
    		<p:commandButton id="cmbNo"
    						 value="#{msgs['btn.no']}" process="@this" type="button"
    						 onclick="PF('cnfwIssuerRequestReject').hide()"/>	
		</h:form>          
	</p:confirmDialog>
	
	<p:confirmDialog id="cnfBackCustom"
				 		message="#{msgs['message.back']}"
						closable="false"
						severity="alert" 
						header="#{msgs['messages.alert']}"
						widgetVar="cnfwBackCustom">  
	    	<h:form id="frmBackCustom">
	    		<p:commandButton id="cmbSi"
	    						 value="#{msgs['lbl.yes']}" ajax="false"
	    						 actionListener="#{participantModificationMgmtBean.returnParticipantRequestMgmt}"
	    						 action="searchParticipantModification"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo"
	    						 value="#{msgs['lbl.no']}"
	    						 onclick="PF('cnfwBackCustom').hide()"
	    						 type="button"/>
	    	</h:form>                   
	    </p:confirmDialog>
		
		<p:confirmDialog id="cnfEndTransactionParticipant" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfwEndTransactionParticipant" > 
	        <h:form id="frmEndTransactionParticipant"> 
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
	        		        
			        <p:commandButton id="cmbConfirmTransactionOk" 
		        				 value="#{msgs['btn.accept']}" 
		        				 action="searchParticipantModification"
		        				 ajax="false"
		                    > 
		        	</p:commandButton>   
		        </h:panelGrid>
	        </h:form>          
	    </p:confirmDialog>	   
	</p:outputPanel>	
	    
	</ui:define>
</ui:composition>
</html>