<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
	<body>
		<h:outputScript library="js" name="funciones.js" />
		
		<ui:composition template="/template/defaultMenu.xhtml">
		
		<h:outputText
			value="#{msgs['lbl.system']} #{usuarioInfo.sistemaActual}"
			escape="false" styleClass="title-page" />
		</ui:composition>
		
	</body>
</html>