<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmDematerializationCertificate">
<table width="100%">
<tr>
	<td width="100%">
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="Administrar Inmovilización" styleClass="title-page"/>
			</td>
			<td align="right">
				<p:commandButton value="#{gmsgs['btn.register']}" icon="fa fa-edit" process="@this"
					rendered="#{userPrivilege.userAcctions.register}" action="#{dematerializationCertificateBean.newRequest}"/>
						
				<p:commandButton id="btnMassiveRegister" value="Registrar Masivo" rendered="#{userPrivilege.userAcctions.register}"
					icon="fa fa-edit" actionListener="#{massiveInterfaceMgmtBean.loadInterfaceParams(dematerializationCertificateBean.massiveInterfaceType,'searchAccountAnnotation')}" 
					process="@this" action="searchInterfaceFilesMgmt"/>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
			<table width="100%" border="0">
				<ui:remove>
				<tr>
					<td  align="center">
						<ui:remove>
						<p:selectOneRadio id="customRadio" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.searchType}" layout="custom">  
					        <f:selectItem itemValue="0"/>  
					        <f:selectItem itemValue="1"/> 
					        <p:ajax update="@form" listener="#{dematerializationCertificateBean.searchBy}" process="@this rbNumberRequest rbDefault"/>
						</p:selectOneRadio> 
						<p:radioButton itemIndex="0" for="customRadio" id="rbNumberRequest"/>
						</ui:remove>								
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.numberRequest']}"
							styleClass="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"/>	
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText style="width:120px" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.requestNumber}" 
							disabled="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"
							styleClass="content-right" maxlength="10" id="txtNumberRequest" label="#{msgs['lbl.accountannotation.search.numberRequest']}">
							<p:keyFilter mask="pint"/>
							<p:ajax global="false" update="@this msgNumberRequest"/>
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
						</p:inputText>
						<p:message display="icon" for="txtNumberRequest" id="msgNumberRequest"/>
						</h:panelGrid>
					</td>
					
					<td >
						<h:outputText value="#{msgs['lbl.accountannotation.search.state']}" style="padding-left:50px"/>
					</td>
					<td>
						<h:panelGrid columns="2">
							<p:selectOneMenu id="cboState" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.annotationState}"
								disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{dematerializationCertificateBean.searchAccountAnnotationTO.stateList}"
									itemLabel="#{var.parameterName}" var="var" itemValue="#{var.parameterTablePk}"/>
								<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBean.cleanResults}"/>
							</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>		
				</ui:remove>
				<tr>
					<td align="center">
						<ui:remove>
						<p:radioButton itemIndex="1" for="customRadio" id="rbDefault"/>
						</ui:remove>
					</td>
					<td>
						<h:outputText value="#{gmsgs['participant.lbl']}" />
					</td>
					<td colspan="3">
						<p:selectOneMenu disabled="#{dematerializationCertificateBean.blParticipant or !dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}" 
							label="#{msgs['lbl.accountannotation.search.numberRequest']}" style="width:400px"
							id="cboParticipant" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.idParticipant}">
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
							<f:selectItems value="#{dematerializationCertificateBean.searchAccountAnnotationTO.lstParticipants}" var="participant"
								itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
							<p:ajax event="change" update="@this pnlButtons opnlResults :frmDematerializationCertificate:accountHelper:outpnlHolderAccount
								:frmDematerializationCertificate:holderHelper:outpnlHolder" 
								process="@this" listener="#{dematerializationCertificateBean.changeParticipantSearch}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<p:outputPanel rendered="#{dematerializationCertificateBean.blIssuer}">
					<tr>
						<td/>
						<td>
							<h:outputText value="#{msgs['lbl.accountannotation.search.issuer']}" 
								styleClass="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
							<h:outputText value=" (*)" styleClass="required-field" 
										  rendered="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
								<p:selectOneMenu disabled="true" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.issuer.idIssuerPk}"  
												 style="width:400px">
									<f:selectItem itemLabel="#{dematerializationCertificateBean.searchAccountAnnotationTO.issuer.businessNameCode}"/>
								</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
				</p:outputPanel>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<ark:holderHelper id="holderHelper" disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}" 
							holder="#{dematerializationCertificateBean.searchAccountAnnotationTO.holder}" blParticipant="true" remoteListener="cleanAccount()"
							participant="#{dematerializationCertificateBean.searchAccountAnnotationTO.idParticipant}"/>
							<p:remoteCommand name="cleanAccount" process="@this" actionListener="#{dematerializationCertificateBean.changeHolder}"
											 update=":frmDematerializationCertificate:accountHelper:outpnlHolderAccount"/>	
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
		 				<h:outputText value="#{gmsgs['account.lbl.code']}"/>
		 			</td>
					<td colspan="3">
						<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<ark:accountHelper id="accountHelper" holderAccount="#{dematerializationCertificateBean.searchAccountAnnotationTO.holderAccount}"
							disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"
							participant="#{dematerializationCertificateBean.searchAccountAnnotationTO.idParticipant}"
							blHolder = "true" holder="#{dematerializationCertificateBean.searchAccountAnnotationTO.holder}"/>
						</h:panelGrid>
					</td>
				</tr>			
				<tr>
					<td/>
					<td>
						<h:outputText value="#{gmsgs['security.lbl.code']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
							<ark:securityHelper id="securityHelper" disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}" 
								security="#{dematerializationCertificateBean.searchAccountAnnotationTO.security}" remoteListener="updateFieldSe()"/>
							<p:remoteCommand name="updateFieldSe" update=":frmDematerializationCertificate:securityHelp" process="@this"/>	
							<p:spacer width="5"/>
							<p:outputPanel id="securityHelp">
								<ark:securities-help securityCode="#{dematerializationCertificateBean.searchAccountAnnotationTO.security.idSecurityCodePk}"/>
							</p:outputPanel>
						</h:panelGrid>
					</td>
				</tr>				
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.motive']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboMotive" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.annotationMotive}"
							disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}">
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
							<f:selectItems value="#{dematerializationCertificateBean.searchAccountAnnotationTO.motiveList}"
								var="motive" itemLabel="#{motive.description}" itemValue="#{motive.parameterTablePk}"/>
								<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBean.cleanResults}"/>
						</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.initialDate']}" 
							styleClass="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar size="13" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.startDate}"
									showOn="both" readonlyInput="true" navigator="true" pattern="#{gmsgs['calendar.date.format']}" id="initialDate"
									disabledWeekends="true" disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"
									maxdate="#{dematerializationCertificateBean.searchAccountAnnotationTO.maxDate}" onSelectUpdate="endDate" onselect="#{dematerializationCertificateBean.validateDate()}">
							<p:ajax process="@this" update="@this endDate" global="false" event="dateSelect"/>
						</p:calendar>
						</h:panelGrid>
					</td>
					
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.endDate']}" style="padding-left:50px"
							styleClass="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar size="11" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.endDate}"
									showOn="both" readonlyInput="true" navigator="true" disabledWeekends="true" id="endDate"
									disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"
									maxdate="#{dematerializationCertificateBean.searchAccountAnnotationTO.maxDate}"
									pattern="#{gmsgs['calendar.date.format']}" mindate="#{dematerializationCertificateBean.searchAccountAnnotationTO.startDate}">
							<p:ajax process="@this" update="@this initialDate" global="false" event="dateSelect"/>
						</p:calendar>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td colspan="5" align="center">
						<p:commandButton value="#{gmsgs['btn.search']}" update="@form" icon="fa fa-search" rendered="#{userPrivilege.userAcctions.search}"
							actionListener="#{dematerializationCertificateBean.searchRequest}" id="btnSearch"/>
						<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" icon="fa fa-trash" update="@form"
							actionListener="#{dematerializationCertificateBean.clearSearch}" id="btnClean"/>
					</td>
				</tr>
			</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="pnlButtons">
			<p:outputPanel rendered="#{not empty dematerializationCertificateBean.searchAccountAnnotationTO.lstAccountAnnotationOperations}" >
			<arkPriv:privileges id="arkinPrivileges" actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"					 							 
						 		actionConfirm="#{dematerializationCertificateBean.validateConfirm}"
						 		actionAnnular="#{dematerializationCertificateBean.validateAnnul}"
						 		actionReject="#{dematerializationCertificateBean.validateReject}"
						 		actionModify="#{dematerializationCertificateBean.validateModify}"
						 		actionApprove="#{dematerializationCertificateBean.validateApprove}"
						 		 />
			</p:outputPanel>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResults">
			<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{not empty dematerializationCertificateBean.searchAccountAnnotationTO.lstAccountAnnotationOperations}">
				<p:dataTable var="annotationOperation" value="#{dematerializationCertificateBean.searchAccountAnnotationTO.lstAccountAnnotationOperations}"
					paginator="true" paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginatorPosition="top" rowKey="#{annotationOperation.idAnnotationOperationPk}"
					selection="#{dematerializationCertificateBean.checkAccountAnotation}">
		
					<p:column styleClass="content-center" selectionMode="multiple"/>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.accountannotation.search.detail.numberRequest']}" 
							  sortBy="#{annotationOperation.custodyOperation.operationNumber}">
						<p:commandLink value="#{annotationOperation.custodyOperation.operationNumber}"
							style="color:blue" action="#{dematerializationCertificateBean.showRequest(annotationOperation)}"/>
					</p:column>
					
					<p:column styleClass="content-center" headerText="Motivo de Inmovilizacion" 
							  sortBy="#{dematerializationCertificateBean.hashMotive(annotationOperation.motive)}">
						<h:outputText value="#{dematerializationCertificateBean.hashMotive(annotationOperation.motive)}"/>
					</p:column>
		
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.registryDate']}" styleClass="content-center"  
							  sortBy="#{annotationOperation.custodyOperation.registryDate}">
						<h:outputText value="#{annotationOperation.custodyOperation.registryDate}">
							<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.certificateNumber']}" styleClass="content-center"
							  sortBy="#{annotationOperation.certificateNumber}">
						<h:outputText value="#{annotationOperation.certificateNumber}"/>
					</p:column>	
					
					<p:column headerText="Serie" styleClass="content-center"
							  sortBy="#{annotationOperation.serialNumber}">
						<h:outputText value="#{annotationOperation.serialNumber}">
							<f:convertNumber pattern="########0" locale="en_US"/>
						</h:outputText>
					</p:column>	
					
					<p:column headerText="#{gmsgs['participant.lbl']}"
							  sortBy="#{annotationOperation.holderAccount.participant.idParticipantPk}">
						<h:outputText value="#{annotationOperation.holderAccount.participant.displayCodeMnemonic}"
							title="#{annotationOperation.holderAccount.participant.description}"/>
					</p:column>

					<p:column headerText="N° Cuenta" styleClass="content-center"
							  sortBy="#{annotationOperation.holderAccount.accountNumber}">
						<h:outputText value="#{annotationOperation.holderAccount.accountNumber}"/>
					</p:column>
					<p:column headerText="Descripción Inversionista"
							  styleClass="content-left">
							<h:outputText value="#{annotationOperation.holderAccount.accountRntAndDescription}" escape="false" />
					</p:column>
					
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.quantity']}" styleClass="content-right"
							  sortBy="#{annotationOperation.totalBalance}">
						<h:outputText value="#{annotationOperation.totalBalance}">
							<f:convertNumber pattern="###,###,##0" locale="en_US"/>
						</h:outputText>
					</p:column>	
					
					<p:column headerText="Moneda" styleClass="content-right"
							  sortBy="#{annotationOperation.securityCurrencyDesc}">
						<h:outputText value="#{annotationOperation.securityCurrencyDesc}">
						</h:outputText>
					</p:column>	
					
					<p:column headerText="Valor Nominal" styleClass="content-right"
							  sortBy="#{annotationOperation.securityNominalValue}">
						<h:outputText value="#{annotationOperation.securityNominalValue}">
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>
					</p:column>	
					
					<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-left" 
							  sortBy="#{dematerializationCertificateBean.mpMnemonicClassSec.get(annotationOperation.security.securityClass)}">
						    <ark:securities-help securityCode="#{annotationOperation.security.idSecurityCodePk}" icon="false" link="true"/>
					</p:column>				
		
					<p:column styleClass="content-center" headerText="#{msgs['lbl.accountannotation.search.detail.state']}"
							  sortBy="#{annotationOperation.stateDescription}">
						<h:outputText value=" #{annotationOperation.stateDescription}" />
					</p:column>		
		
					<ui:remove>
					<p:column styleClass="content-center" headerText="Confirmacion supervisor"
							  sortBy="#{annotationOperation.indApprove}">
						<h:outputText value=" #{annotationOperation.indApproveDesc}" />
					</p:column>
					</ui:remove>
					
					<p:column headerText="Planilla" styleClass="content-right"
							  sortBy="#{annotationOperation.payrollHeader.idPayrollHeaderPk}">
						<h:outputText value="#{annotationOperation.payrollHeader.idPayrollHeaderPk}">
						</h:outputText>
					</p:column>	
					
					<f:facet name="footer">	
						<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
							<f:param value="#{dematerializationCertificateBean.searchAccountAnnotationTO.lstAccountAnnotationOperations.size}"/>
						</h:outputFormat>
					</f:facet>	
				</p:dataTable>		
			</p:fieldset>
			<p:panel rendered="#{dematerializationCertificateBean.searchAccountAnnotationTO.blNoResult}">
				<h:outputText value="#{msgs['lbl.search.no.result']}" />
			</p:panel>
		</p:outputPanel>
		
		
	</td>
</tr>
</table>
</h:form>
	<p:outputPanel id="opnlDialogs">
			<h:form id="frmMotive">
					<!-- header="#{dematerializationCertificateBean.otherMotive == null ? dematerializationCertificateBean.currentMotive : dematerializationCertificateBean.otherMotive}" -->
					<p:dialog id="dialogMotive" resizable="false" draggable="false" modal="true"
							  header="Cancelar/Rechazar la Inmovilizacion"
							  closable="false" visible="true" severity="alert" widgetVar="dlgMotive" rendered="false">
						<p:outputPanel id="opnlMotive">
							<table>
								<tr>
									<td width="100px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboMotive" style="width:258px;" widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
															 value="#{dematerializationCertificateBean.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{dematerializationCertificateBean.registerAccountAnnotationTO.lstRejectMotive}"
															   var="mot" itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}" />
												<p:ajax process="@this" update="opnlMotive dialogMotive" event="change" listener="#{dematerializationCertificateBean.changeMotiveHandler}"/>
											</p:selectOneMenu>
											<p:message for="cboMotive" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" styleClass="required-field"
												  	  rendered="#{dematerializationCertificateBean.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText size="60" maxlength="250" id="txtOtherMotive"
														 rendered="#{dematerializationCertificateBean.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}"
														 value="#{dematerializationCertificateBean.registerAccountAnnotationTO.accountAnnotationOperation.motiveDescReject}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.motive']}" />
											</p:inputText>
											<p:message for="txtOtherMotive" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save"
												 actionListener="#{dematerializationCertificateBean.confirmMotiveHandler}"
												 update=":opnlDialogs :opnlGenericDialogs" />
								<p:commandButton id="cmbProcessBackMotive" 
												 value="#{gmsgs['btn.back']}" icon="fa fa-undo" 
												 process="@this" onclick="PF('dlgMotive').hide()" />
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
					<p:confirmDialog id="cnfBackMotive" message="#{msgs['message.back']}" severity="alert"
									 header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive" closable="false">
						<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}" process="@this" update=":opnlDialogs" oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" 
										 actionListener="#{dematerializationCertificateBean.closeDialogRejectMotive}"/>
						<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" onclick="PF('cnfwBackMotive').hide()" type="button" />
					</p:confirmDialog>
				</h:form>
				<h:form id="frmBlock">
					<p:confirmDialog id="cnfblock" header="#{headerMessageView}" severity="alert" widgetVar="cnfwBlock" rendered="false"
									 visible="true" message="#{bodyMessageView}" closable="false">
						<p:commandButton id="cmbConfirmUnblock" value="#{gmsgs['btn.yes']}" 
										 update=":opnlDialogs :opnlGenericDialogs" 
										 actionListener="#{dematerializationCertificateBean.doAction()}" oncomplete="PF('cnfwBlock').hide()"/>
						<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
					</p:confirmDialog>
					<p:confirmDialog id="holderAccountMgmtOk" widgetVar="holderAccountWMgmtOk" severity="alert" header="#{headerMessageView}" message="#{bodyMessageView}"
									 rendered="false" visible="true" closable="false">
						<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchAccountAnnotation" ajax="false"
										 immediate="true" process="@this" update="@form" />
					</p:confirmDialog>
				</h:form>
		
				<h:form id="frmAcept">
					<p:confirmDialog id="cnfAcept" header="#{headerMessageView}" severity="alert" widgetVar="cnfwAcept" rendered="false"
									 visible="true" message="#{bodyMessageView}" closable="false">
						<p:commandButton id="cmbAcept" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfwAcept').hide()"
										 actionListener="#{dematerializationCertificateBean.changeActionHolderAccountRequestHandler}" update=":opnlDialogs :opnlGenericDialogs"/>
						<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwAcept').hide()" type="button" update="@form" />
					</p:confirmDialog>
				</h:form>
				<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="opnlDialogs"
						actionListener="#{dematerializationCertificateBean.doAction}"/>
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
				</p:confirmDialog>	
				
				<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
								 header="#{headerMessageView}" closable="false" severity="info"> 
					<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchAccountAnnotation" value="#{gmsgs['btn.accept']}"/>
				</p:confirmDialog>
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>