<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmDematerializationCertificate">
<table width="100%">
<tr>
	<td width="100%">
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="Administrar Desmaterialización" styleClass="title-page"/>
			</td>
			<td align="right">
				<p:commandButton value="#{gmsgs['btn.register']}" icon="fa fa-edit" process="@this"
					rendered="#{userPrivilege.userAcctions.register}" action="#{dematerializationCertificateBeanNew.newRequest}"/>		
				
				<ui:remove>
				<p:commandButton id="btnMassiveRegister" value="#{gmsgs['btn.register.massive']}" rendered="#{userPrivilege.userAcctions.register and !userInfo.userAccountSession.participantInstitucion}"
				icon="fa fa-edit" actionListener="#{massiveInterfaceMgmtBean.loadInterfaceParams(dematerializationCertificateBeanNew.massiveInterfaceType,'searchAccountAnnotation')}" 
				process="@this" action="searchInterfaceFilesNewMgmt"/>
				</ui:remove>
				<p:commandButton id="btnMassiveRegisterExcel" value="#{msgs['lbl.btn.register.massive.excel']}" rendered="#{userPrivilege.userAcctions.register}"
					icon="fa fa-edit" process="@this" actionListener="#{dematerializationCertificateBeanNew.newRequest}" action="registerDematerializacionSecuritiesExcelNew"/>
				
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
			<table width="100%" border="0">
				<ui:remove>
				<tr>
					<td  align="center">
						<p:selectOneRadio id="customRadio" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.searchType}" layout="custom">  
					        <f:selectItem itemValue="0"/>  
					        <f:selectItem itemValue="1"/> 
					        <p:ajax update="@form" listener="#{dematerializationCertificateBeanNew.searchBy}" process="@this rbNumberRequest rbDefault"/>
						</p:selectOneRadio> 
						<p:radioButton itemIndex="0" for="customRadio" id="rbNumberRequest"/>								
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.numberRequest']}"
							styleClass="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"/>	
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:inputText style="width:120px" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.requestNumber}" 
							disabled="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"
							styleClass="content-right" maxlength="10" id="txtNumberRequest" label="#{msgs['lbl.accountannotation.search.numberRequest']}">
							<p:keyFilter mask="pint"/>
							<p:ajax global="false" update="@this msgNumberRequest"/>
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
						</p:inputText>
						<p:message display="icon" for="txtNumberRequest" id="msgNumberRequest"/>
						</h:panelGrid>
					</td>
					
					<td >
						<h:outputText value="#{msgs['lbl.accountannotation.search.state']}" style="padding-left:50px"/>
					</td>
					<td>
						<h:panelGrid columns="2">
							<p:selectOneMenu id="cboState" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.annotationState}"
								disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.stateList}"
									itemLabel="#{var.parameterName}" var="var" itemValue="#{var.parameterTablePk}"/>
								<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBeanNew.cleanResults}"/>
							</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>		
				</ui:remove>
				
				<tr>
					<td align="center">
						<ui:remove>
						<p:radioButton itemIndex="1" for="customRadio" id="rbDefault"/>
						</ui:remove>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.participant']}" />
					</td>
					<td colspan="3">
						<p:selectOneMenu disabled="#{dematerializationCertificateBeanNew.blParticipant or !dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}" 
							label="#{msgs['lbl.accountannotation.search.numberRequest']}" style="width:400px"
							id="cboParticipant" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.idParticipant}">
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
							<f:selectItems value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstParticipants}" var="participant"
								itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
							<p:ajax event="change" update="@this pnlButtons opnlResults :frmDematerializationCertificate:accountHelper:outpnlHolderAccount
								:frmDematerializationCertificate:holderHelper:outpnlHolder" 
								process="@this" listener="#{dematerializationCertificateBeanNew.changeParticipantSearch}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				<p:outputPanel rendered="#{dematerializationCertificateBeanNew.blIssuer}">
					<tr>
						<td/>
						<td>
							<h:outputText value="#{msgs['lbl.accountannotation.search.issuer']}" 
								styleClass="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
							<h:outputText value=" (*)" styleClass="required-field" 
										  rendered="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"/>
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
								<p:selectOneMenu disabled="true" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.issuer.idIssuerPk}"  
												 style="width:400px">
									<f:selectItem itemLabel="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.issuer.businessNameCode}"/>
								</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
				</p:outputPanel>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{gmsgs['holder.lbl.code']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<ark:holderHelper id="holderHelper" disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}" 
							holder="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.holder}" blParticipant="true" remoteListener="cleanAccount()"
							participant="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.idParticipant}"/>
							<p:remoteCommand name="cleanAccount" process="@this" actionListener="#{dematerializationCertificateBeanNew.changeHolder}"
											 update=":frmDematerializationCertificate:accountHelper:outpnlHolderAccount"/>	
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
		 				<h:outputText value="#{gmsgs['account.lbl.code']}"/>
		 			</td>
					<td colspan="3">
						<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<ark:accountHelper id="accountHelper" holderAccount="#{dematerializationCertificateBean.searchAccountAnnotationTO.holderAccount}"
							disabled="#{!dematerializationCertificateBean.searchAccountAnnotationTO.blDefaultSearch}"
							participant="#{dematerializationCertificateBean.searchAccountAnnotationTO.idParticipant}"
							blHolder = "true" holder="#{dematerializationCertificateBean.searchAccountAnnotationTO.holder}"
							remoteListener="updateFieldAccountHelper()"/>
							<p:remoteCommand name="updateFieldAccountHelper" 
								update="opnlGenericDialogs" 
								process="@this"/>
						</h:panelGrid>
					</td>
				</tr>
				<p:outputPanel rendered="#{!dematerializationCertificateBeanNew.blIssuer}">
					
					<tr>
						<td/>
						<td>
							<h:outputText value="#{msgs['lbl.accountannotation.search.issuer']}" />
						</td>
						<td colspan="3">
							<h:panelGrid columns="2">
								<p:selectOneMenu  
									 style="width:400px"
									id="cboIssuer" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.issuer.idIssuerPk}">
									<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" />
									<f:selectItems value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstIssuers}" var="vIssuer"
										itemLabel="#{vIssuer.mnemonic} - #{vIssuer.businessName}" itemValue="#{vIssuer.idIssuerPk}" />
									<p:ajax event="change" update=":opnlDialogs"
										process="@this" listener="#{dematerializationCertificateBeanNew.validateIssuerSearch}"/>
								</p:selectOneMenu>
							</h:panelGrid>
						</td>
					</tr>
				</p:outputPanel>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.class']}"/>
					</td>
					<td>
						<p:selectOneMenu id="somSecurityClass" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.security.securityClass}" 
										 style="width:300px">
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
							<f:selectItems value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.securityClassList}"
										   var="class" itemLabel="#{class.text1} - #{class.description}" itemValue="#{class.parameterTablePk}"/>
							<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBeanNew.cleanResults}"/>
						</p:selectOneMenu>
					</td>
				</tr>
				
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.codevalue']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
							<ark:securityHelper id="securityHelper" disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}" 
								security="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.security}" remoteListener="updateFieldSe()"/>
							<p:remoteCommand name="updateFieldSe" update=":frmDematerializationCertificate:securityHelp" process="@this"/>	
							<p:spacer width="5"/>
							<p:outputPanel id="securityHelp">
								<ark:securities-help securityCode="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.security.idSecurityCodePk}"/>
							</p:outputPanel>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.money']}"/>
					</td>
					<td>
						<p:selectOneMenu id="cboCurrency" 
							disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"
							value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.securityCurrency}"
							style="width:300px" > 
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
							<f:selectItems value="#{dematerializationCertificateBeanNew.lstCboFilterCurrency}"
								var="cur" itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>		
							<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBeanNew.cleanResults}"/>														
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.certificateNumber']}"  style="padding-left:50px"/>
					</td>
					<td>
						<h:panelGrid columns="2">
							<p:inputText id="txtCertificateNumber" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.certificateNumber}"
								disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}" maxlength="20" size="25" style="width:110px">
								<p:keyFilter mask="alphanum"/>
							</p:inputText>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.motive']}"/>
					</td>
					<td colspan="3">
						<h:panelGrid columns="2">
						<p:selectOneMenu id="cboMotive" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.annotationMotive}"
							disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}" style="width:300px">
							<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}"/>
							<f:selectItems value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.motiveList}"
								var="motive" itemLabel="#{motive.description}" itemValue="#{motive.parameterTablePk}"/>
								<p:ajax event="change" update="@this opnlResults pnlButtons" 
									process="@this" listener="#{dematerializationCertificateBeanNew.cleanResults}"/>
						</p:selectOneMenu>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.initialDate']}" 
							styleClass="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar size="13" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.startDate}"
									showOn="both" readonlyInput="true" navigator="true" pattern="#{gmsgs['calendar.date.format']}" id="initialDate"
									disabledWeekends="true" disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"
									maxdate="#{dematerializationCertificateBean.searchAccountAnnotationTO.maxDate}" onSelectUpdate="endDate" onselect="#{dematerializationCertificateBeanNew.validateDate()}">
							<p:ajax process="@this" update="@this endDate" global="false" event="dateSelect"/>
						</p:calendar>
						</h:panelGrid>
					</td>
					
					<td>
						<h:outputText value="#{msgs['lbl.accountannotation.search.endDate']}" style="padding-left:50px"
							styleClass="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"/>
					</td>
					<td>
						<h:panelGrid columns="2">
						<p:calendar size="11" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.endDate}"
									showOn="both" readonlyInput="true" navigator="true" disabledWeekends="true" id="endDate"
									disabled="#{!dematerializationCertificateBeanNew.searchAccountAnnotationTO.blDefaultSearch}"
									maxdate="#{dematerializationCertificateBean.searchAccountAnnotationTO.maxDate}"
									pattern="#{gmsgs['calendar.date.format']}" mindate="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.startDate}">
							<p:ajax process="@this" update="@this initialDate" global="false" event="dateSelect"/>
						</p:calendar>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td colspan="5" align="center">
						<p:commandButton value="#{gmsgs['btn.search']}" update="@form" icon="fa fa-search" rendered="#{userPrivilege.userAcctions.search}"
							actionListener="#{dematerializationCertificateBeanNew.searchRequest}" id="btnSearch"/>
						<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" icon="fa fa-trash" update="@form"
							actionListener="#{dematerializationCertificateBeanNew.clearSearch}" id="btnClean"/>
					</td>
				</tr>
			</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="pnlButtons">
			<p:outputPanel rendered="#{not empty dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstAccountAnnotationOperations}" >
			<arkPriv:privileges id="praderaPrivileges" actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"					 							 
						 		actionConfirm="#{dematerializationCertificateBeanNew.validateConfirm}"
						 		actionReject="#{dematerializationCertificateBeanNew.validateReject}"
						 		actionApprove="#{dematerializationCertificateBeanNew.validateApprove}"
						 		actionAnnular="#{dematerializationCertificateBeanNew.validateAnnul}"
						 		 />
			</p:outputPanel>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResults">
			<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{not empty dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstAccountAnnotationOperations}">
				<p:dataTable var="annotationOperation" value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstAccountAnnotationOperations}"
					paginator="true" paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginatorPosition="top" rowKey="#{annotationOperation.idAnnotationOperationPk}"
					selection="#{dematerializationCertificateBeanNew.checkAccountAnotation}">
		
					<p:column styleClass="content-center" selectionMode="multiple"/>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.accountannotation.search.detail.numberRequest']}" 
							  sortBy="#{annotationOperation.custodyOperation.operationNumber}">
						<p:commandLink value="#{annotationOperation.custodyOperation.operationNumber}"
							style="color:blue" action="#{dematerializationCertificateBeanNew.showRequest(annotationOperation)}"/>
					</p:column>
		
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.registryDate']}" styleClass="content-center"  
							  sortBy="#{annotationOperation.custodyOperation.registryDate}">
						<h:outputText value="#{annotationOperation.custodyOperation.registryDate}">
							<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.accreditation.certificate.participant']}" styleClass="content-left"
							  sortBy="#{annotationOperation.holderAccount.participant.idParticipantPk}">
						<h:outputText value="#{annotationOperation.holderAccount.participant.description}"/>
					</p:column>

					<p:column headerText="#{msgs['lbl.accreditation.certificate.holderaccount.number']}" styleClass="content-center"
							  sortBy="#{annotationOperation.holderAccount.accountNumber}">
						<h:outputText value="#{annotationOperation.holderAccount.accountNumber}"/>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.cui.holder']}" sortBy="#{annotationOperation.holderAccount.holderAccountDetailCUI}"
							  styleClass="content-left">
						<p:outputPanel>
							<h:outputText value="#{annotationOperation.holderAccount.holderAccountDetailCUI}" escape="false" />
						</p:outputPanel>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.description.holder']}"
							  styleClass="content-left" sortBy="#{annotationOperation.holderAccount.holderAccountDetailDescription}" >
						<p:outputPanel>
							<h:outputText value="#{annotationOperation.holderAccount.holderAccountDetailDescription}" escape="false" />
						</p:outputPanel>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.quantity']}" styleClass="content-center"
							  sortBy="#{annotationOperation.totalBalance}">
						<h:outputText value="#{annotationOperation.totalBalance}">
							<f:convertNumber pattern="###,###,##0" locale="en_US"/>
						</h:outputText>
					</p:column>	
					
					<p:column headerText="#{msgs['deposito.cert.manage.valor.classCodeValue']}" styleClass="content-left" 
							  sortBy="#{dematerializationCertificateBeanNew.mpMnemonicClassSec.get(annotationOperation.security.securityClass)}">
						    <ark:securities-help securityCode="#{annotationOperation.security.idSecurityCodePk}" icon="false" link="true"/>
					</p:column>
					<ui:remove>
					<p:column headerText="#{msgs['lbl.accountannotation.search.detail.certificateNumber']}" styleClass="content-center"
							  sortBy="#{annotationOperation.certificateNumber}">
						<h:outputText value="#{annotationOperation.certificateNumber}"/>
					</p:column>
					
					<p:column headerText="#{msgs['lbl.retirement.security.isincode.alternativeSerie']}" styleClass="content-center" sortBy="#{annotationOperation.alternativeCode}">
						<h:outputText value="#{annotationOperation.alternativeCode}"/>
					</p:column>
					</ui:remove>
					<p:column styleClass="content-center" headerText="#{msgs['lbl.accountannotation.search.detail.state']}"
							  sortBy="#{annotationOperation.stateDescription}">
						<h:outputText value=" #{annotationOperation.stateDescription}" />
					</p:column>
					
					<p:column styleClass="content-center" headerText="#{msgs['lbl.accountannotation.search.detail.file']}">
						<p:commandLink id="cmlViewFile" styleClass="icon" process="@this"
							rendered="#{annotationOperation.idAccAnnotationFileFk.attachedName != null}"
							update="opnlResults" global="false" ajax="false" immediate="true">
							<p:fileDownload	value="#{dematerializationCertificateBeanNew.getFileStreamContent(annotationOperation.idAccAnnotationFileFk)}" />
							<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
						</p:commandLink>
						<h:outputText rendered="#{annotationOperation.idAccAnnotationFileFk.attachedName == null}" value="Sin Adjunto" />
					</p:column>
					
					<f:facet name="footer">	
						<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
							<f:param value="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.lstAccountAnnotationOperations.size}"/>
						</h:outputFormat>
					</f:facet>	
				</p:dataTable>		
			</p:fieldset>
			<p:panel rendered="#{dematerializationCertificateBeanNew.searchAccountAnnotationTO.blNoResult}">
				<h:outputText value="#{msgs['lbl.search.no.result']}" />
			</p:panel>
		</p:outputPanel>
		
		
	</td>
</tr>
</table>
</h:form>
	<p:outputPanel id="opnlDialogs">
			<h:form id="frmMotive">
					<p:dialog id="dialogMotive" resizable="false" draggable="false" modal="true" header="#{msgs['lbl.motive']}"
							  closable="false" visible="true" severity="alert" widgetVar="dlgMotive" rendered="false">
						<p:outputPanel id="opnlMotive">
							<table>
								<tr>
									<td width="100px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" styleClass="required-field" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboMotive" style="width:258px;" widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
															 value="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.accountAnnotationOperation.motiveReject}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems value="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.lstRejectMotive}"
															   var="mot" itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}" />
												<p:ajax process="@this" update="opnlMotive" event="change" listener="#{dematerializationCertificateBeanNew.changeMotiveHandler}"/>
											</p:selectOneMenu>
											<p:message for="cboMotive" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" styleClass="required-field"
												  	  rendered="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText size="60" maxlength="250" id="txtOtherMotive"
														 rendered="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.accountAnnotationOperation.showMotiveText}"
														 value="#{dematerializationCertificateBeanNew.registerAccountAnnotationTO.accountAnnotationOperation.motiveDescReject}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.motive']}" />
											</p:inputText>
											<p:message for="txtOtherMotive" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save"
												 actionListener="#{dematerializationCertificateBeanNew.confirmMotiveHandler}"
												 update=":opnlDialogs :opnlGenericDialogs" />
								<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack" icon="fa fa-undo" type="button"
												 onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotive:cmbProcessBackMotive')" />
								<p:commandButton id="cmbProcessBackMotive" style="display:none"
												 value="#{gmsgs['btn.back']}" icon="fa fa-undo" actionListener="#{dematerializationCertificateBeanNew.closeDialogRejectMotive}"
												 process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
					<p:confirmDialog id="cnfBackMotive" message="#{msgs['message.back']}" severity="alert"
									 header="#{gmsgs['messages.alert']}" widgetVar="cnfwBackMotive" closable="false">
						<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}" process="@this" update=":opnlDialogs" oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" 
										 actionListener="#{dematerializationCertificateBeanNew.closeDialogRejectMotive}"/>
						<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}" onclick="cnfwBackMotive.hide()" type="button" />
					</p:confirmDialog>
				</h:form>
				<h:form id="frmBlock">
					<p:confirmDialog id="cnfblock" header="#{headerMessageView}" severity="alert" widgetVar="cnfwBlock" rendered="false"
									 visible="true" message="#{bodyMessageView}" closable="false">
						<p:commandButton id="cmbConfirmUnblock" value="#{gmsgs['btn.yes']}" 
										 update=":opnlDialogs :opnlGenericDialogs" 
										 actionListener="#{dematerializationCertificateBeanNew.doAction()}" oncomplete="PF('cnfwBlock').hide()"/>
						<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
					</p:confirmDialog>
					<p:confirmDialog id="holderAccountMgmtOk" widgetVar="holderAccountWMgmtOk" severity="alert" header="#{headerMessageView}" message="#{bodyMessageView}"
									 rendered="false" visible="true" closable="false">
						<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchAccountAnnotation" ajax="false"
										 immediate="true" process="@this" update="@form" />
					</p:confirmDialog>
				</h:form>
		
				<h:form id="frmAcept">
					<p:confirmDialog id="cnfAcept" header="#{headerMessageView}" severity="alert" widgetVar="cnfwAcept" rendered="false"
									 visible="true" message="#{bodyMessageView}" closable="false">
						<p:commandButton id="cmbAcept" value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfwAcept').hide()"
										 actionListener="#{dematerializationCertificateBeanNew.changeActionHolderAccountRequestHandler}" update=":opnlDialogs :opnlGenericDialogs"/>
						<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwAcept').hide()" type="button" update="@form" />
					</p:confirmDialog>
				</h:form>
				<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="opnlDialogs"
						actionListener="#{dematerializationCertificateBeanNew.doAction}"/>
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
				</p:confirmDialog>	
				
				<p:dialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" 
								 header="#{headerMessageView}" closable="false" severity="info"> 
					
					<h:panelGrid width="100%" border="0" cellpadding="10" cellspacing="10" style="text-align:left;">
		            	<p:outputLabel value="#{bodyMessageView}" escape="false"/>
		            </h:panelGrid>
		            
		            <h:panelGrid width="100%" border="0" cellpadding="5" cellspacing="5" style="text-align:center;">
						<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" action="searchAccountAnnotation" value="#{gmsgs['btn.accept']}"/>
		            </h:panelGrid>
					
				</p:dialog>
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>