<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Not present in rendered output</title> 
</head>
<body>
	<composite:interface name="account" displayName="Account description Helper">
		<composite:attribute name="id" 		 	   required="false" default="accountHelperId" type="java.lang.String"/>
		<composite:attribute name="partCode" 	   required="false" default="-1" type="java.lang.Long"/>
 		<composite:attribute name="account"  	   required="true"  type="java.lang.Object"/>
 		<composite:attribute name="disabled" 	   default="false"  type="java.lang.Boolean"/>
 		<composite:attribute name="process" 	   required="false" default="" type="java.lang.String"/>
		<composite:attribute name="remoteListener" default="" />
		<composite:attribute name="update"         default=""/>
 		<composite:attribute name="report"         type="com.pradera.model.report.ReportFilter"/>
 		<composite:attribute name="blHolder" 	   default="false" type="java.lang.Boolean"/>
 		<composite:attribute name="idHolder" 	   required="true" default="-1" type="java.lang.Long"/>
	</composite:interface>
	
	<composite:implementation>
	<!-- EMBEDDED CONTROL --> 	
		<h:panelGrid id="componentAccountHelper#{cc.attrs.id}" border="0" columns="6">
			
			<style type="text/css">
				.ui-datatable tbody td{
					white-space: normal !important;
				}
				.pe-dynaform-cell[colspan] select {width: 50px !important;}
			</style>
			<td width="5px"></td>
			<p:commandButton id="btnOpenHelp#{cc.attrs.id}" 
							 icon="ui-help"
							 disabled="#{cc.attrs.disabled}"
							 process="#{cc.attrs.process}"
							 update="dlgAccountWindow#{cc.attrs.id}" 
							 partialSubmit="true"
							 oncomplete="PF('dlgAccount#{cc.attrs.id}').show()"  
							 actionListener="#{accountExtensionHelperBean.openDialog(reportDynamicFilterBean.reportId)}" >
			</p:commandButton>
		</h:panelGrid>		
		<!-- DIALOG WINDOW -->
		<p:dialog id="dlgAccountWindow#{cc.attrs.id}" 
				  styleClass="updateAccountHelper"
				  position="top" 
				  width="800px"
				  header="#{cc.resourceBundleMap.titleGeneral}" 
				  widgetVar="dlgAccount#{cc.attrs.id}"
				  modal="true"
				  resizable="false"
				  closable="false">
	
				<p:fieldset legend="#{cc.resourceBundleMap.criteriaSearch}" id="fsCriteriaSearch#{cc.attrs.id}">
					<table width="100%" border="0">
						<tr>
							<td>
								<p:outputPanel id="criteriaParticipant#{cc.attrs.id}">
									<h:outputText value="#{cc.resourceBundleMap.participant} (*)" styleClass="required-field"/>
								</p:outputPanel>
							</td>
							<td colspan="4">
								<p:outputPanel id="criteriaParticipantCbo#{cc.attrs.id}">
									<p:selectOneMenu id="cboParticipantAccountHelper#{cc.attrs.id}" style="width:525px"
													 value="#{accountExtensionHelperBean.idParticipantPk}"
													 widgetVar="partWidget"
													 disabled="#{accountExtensionHelperBean.disabledParticipant}">
										<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>	
										<f:selectItems value="#{accountExtensionHelperBean.listParticipants}" var="part" 
													   itemLabel="#{part.label}" itemValue="#{part.value}"/>
									</p:selectOneMenu>
								</p:outputPanel>
							</td>
						</tr>
						<tr>
							<td width="100px">
								<h:outputText value="#{cc.resourceBundleMap.cui}"/>
							</td>
							<td  width="280px" colspan="4">
								<h:panelGrid columns="4">
									<p:inputText id="cui#{cc.attrs.id}" disabled="#{accountExtensionHelperBean.disabledHolder}" size="15"
												 value="#{accountExtensionHelperBean.accountHelperInputTO.idHolderPk}" styleClass="content-right"/>
									<p:spacer height="7px"/>
									<!-- <p:commandButton value="..." disabled="true" /> -->
									<h:outputText value="#{accountExtensionHelperBean.accountHelperInputTO.fullName}" />
								</h:panelGrid>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.columnState}"/>
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:selectOneMenu id="cboAccountHelperStatus#{cc.attrs.id}" style="width:150px"
												 value="#{accountExtensionHelperBean.accountHelperInputTO.accountStatus}">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>
									<f:selectItems value="#{accountExtensionHelperBean.accountStatusList}" var="accStatus"
												   itemLabel="#{accStatus.parameterName}" itemValue="#{accStatus.parameterTablePk}"/>
								</p:selectOneMenu>
							</h:panelGrid>
							</td>
							
							<td width="100px">
								<h:outputText value="#{cc.resourceBundleMap.accountType}"/>
							</td>
							<td>
								<h:panelGrid columns="2">
									<p:selectOneMenu id="cboAccountType" value="#{accountExtensionHelperBean.accountHelperInputTO.accountType}" style="width:150px">  
										<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>   
										<f:selectItems value="#{accountExtensionHelperBean.lstAccountType}" var="paramTab" 
													   itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>							             
									</p:selectOneMenu>	
								</h:panelGrid>
							</td>
						</tr>						
						<tr>
							<td colspan="4">
							   <span  class="redText-bold">
							   <i>
							    (*)
								<h:outputFormat value="#{gmsgs['lbl.helper.maxResults.found']}">
									<f:param value="#{accountExtensionHelperBean.maxResultsQueryHelper}"/>
								</h:outputFormat>
								</i>
								</span>
							</td>
						</tr>				
						<tr align="center" width="100%">
							<td colspan="7">
								<p:commandButton id="cbtnSearch#{cc.attrs.id}" 
												 icon="fa fa-search" 
												 value="#{cc.resourceBundleMap.search}" 
												 process="dlgAccountWindow#{cc.attrs.id}"
												 update="resultListAccounts#{cc.attrs.id} :opnlGenericDialogs"  
												 actionListener="#{accountExtensionHelperBean.searchAccountByFilter}"/>
								<p:commandButton id="cbtnClean1#{cc.attrs.id}" 
												 icon="fa fa-trash"
												 process="@this"
												 partialSubmit="true"
												 value="#{cc.resourceBundleMap.clear}" 
												 update="resultListAccounts#{cc.attrs.id} fsCriteriaSearch#{cc.attrs.id}" 
												 actionListener="#{accountExtensionHelperBean.clear}"/>
								<p:commandButton id="cbtnExit#{cc.attrs.id}" 
												 icon="fa fa-undo"
												 immediate="true"
												 value="#{cc.resourceBundleMap.back}"  
												 update="dlgAccountWindow#{cc.attrs.id} resultListAccounts#{cc.attrs.id} fsCriteriaSearch#{cc.attrs.id}" 
												 actionListener="#{accountExtensionHelperBean.clear()}" 
												 oncomplete="PF('dlgAccount#{cc.attrs.id}').hide()"/>
							</td>
						</tr>
					</table>
				</p:fieldset>	
				
				<p:outputPanel id="resultListAccounts#{cc.attrs.id}" layout="block" style="max-height:200px;overflow:auto;">
				<p:fieldset rendered="#{not empty accountExtensionHelperBean.resultList}">
					<p:dataTable id="tblResultHelperSecurities#{cc.attrs.id}" style="text-align:center;font-size:90% !important;"
								 rows="5"
								 rowsPerPageTemplate="5"
								 var="account"
							     value="#{accountExtensionHelperBean.resultList}" 
							     paginator="true"
							     paginatorPosition="top"
							     paginatorTemplate="#{cc.resourceBundleMap.dtbpaginatortemplate}"
							     rowIndexVar="rIndx"
								 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
							
							<p:column headerText="#{cc.resourceBundleMap.docNumber}" 
									  styleClass="content-center"
									  style="width:70px;">
								<p:commandLink  value="#{account.accountNumber}" style="color:blue" process="@this" partialSubmit="true"
												action="#{accountExtensionHelperBean.assignAccountFromHelper(account)}" 
												update="@(.updateAccountHelper) #{cc.attrs.update}" resetValues="true"
												onsuccess="PF('dlgAccount#{cc.attrs.id}').hide();"
												oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
								</p:commandLink>
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.columnAlternativeCode}" 
									  styleClass="content-center"
									  style="width:150px;" 
									  rendered="#{accountExtensionHelperBean.renderedParticipant}">
								<h:outputText value="#{account.alternateCode}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.accountType}" 
									  styleClass="content-center" rendered="#{!accountExtensionHelperBean.IsInstitutionTypeIssuerOrIssuerDPF()}"
									  style="width:100px;">
								<h:outputText value="#{account.accountType}" />
							</p:column>
							
							<p:column headerText="#{cc.resourceBundleMap.holderDesc}" styleClass="content-left">
	
									<h:outputText value="#{account.holderDescription}" />
	
							</p:column>	
							
							<p:column headerText="#{cc.resourceBundleMap.columnState}" 
									  styleClass="content-center"
									  style="width:70px;">
								<h:outputText value="#{account.accountStatusDescription}" />
							</p:column>
							<f:facet name="footer">  
					            <h:outputText value="#{accountExtensionHelperBean.resultList.size()} #{cc.resourceBundleMap.lblresults}" 
					            			  style="align:left;"/>  
					        </f:facet> 
					</p:dataTable>
				</p:fieldset>
				<p:fieldset rendered="#{accountExtensionHelperBean.listEmpty}">
						<h:outputText id="lblNoFoundResults#{cc.attrs.id}" 
										  value="#{cc.resourceBundleMap.notResultFound}" 
										  styleClass="campo-requerido"/>
					</p:fieldset>
				</p:outputPanel>

		</p:dialog>
	</composite:implementation>
</body>
</html>