<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<head>
<title>Not present in rendered output</title>
</head>      
 <body>

 <composite:interface name="holder" displayName="Holder description Helper">
 		<composite:attribute name="id" 				default="holderHelperId"/>
 		<composite:attribute name="partCode" 		required="false" default="-1" type="java.lang.Long"/>
 		<composite:attribute name="process" 		required="false" default="" type="java.lang.String"/>
 		<composite:attribute name="holder" 			required="true" type="java.lang.Object"/>
 		<composite:attribute name="disabled" 		default="false" type="java.lang.Boolean"/>
 		<composite:attribute name="remoteListener" 	default=""/>
 		<composite:attribute name="update"          default=""/>
 		<composite:attribute name="report"          type="com.pradera.model.report.ReportFilter"/>
 		
 </composite:interface>
 	
 	<!-- EMBEDDED CONTROL --> 	
 	<composite:implementation>
 		
 		<p:outputPanel id="opnlHolderHelper#{cc.attrs.id}">
	 		<h:panelGrid id="componentHolderHelper#{cc.attrs.id}" border="0" columns="4">
				
				<style type="text/css">
					.ui-datatable tbody td{
						white-space: normal !important;
					}
					.pe-dynaform-cell[colspan] select {width: 50px !important;}
				</style>	 		
	 		    <td width="7px"></td>
		 		<p:commandButton id="btnOpenHelp#{cc.attrs.id}" 
		 						 icon="ui-help"
		 						 disabled="#{cc.attrs.disabled}"
		 						 oncomplete="PF('dlgHolder#{cc.attrs.id}').show();" 
		 						 update="dlgHolderWindow#{cc.attrs.id}" 
		 						 actionListener="#{holderExtensionHelperBean.openDialog(reportDynamicFilterBean.reportId)}"
		 						 process="#{cc.attrs.process}"
		 						 partialSubmit="true">
		 		</p:commandButton>
	 		</h:panelGrid>
 		</p:outputPanel>
 		
 		<p:dialog id="dlgHolderWindow#{cc.attrs.id}"  
	 			position="top"
	 			width="860px"
				header="#{cc.resourceBundleMap.title}" 
				widgetVar="dlgHolder#{cc.attrs.id}"
				modal="true" 
				resizable="false"
				closable="false">
			
				<p:fieldset id="fsHolderFilters#{cc.attrs.id}" legend="#{cc.resourceBundleMap.criteriaSearch}">
					<table width="100%"  border="0">
						<tr>
							<td width="120px">
								<p:outputPanel id="criteriaParticipant#{cc.attrs.id}" >
									<h:outputText value="#{cc.resourceBundleMap.participant}" styleClass="field-required"/>
								</p:outputPanel>
							</td>
							<td colspan="4">
								<p:outputPanel id="criteriaParticipantCbo#{cc.attrs.id}" >
										<p:selectOneMenu id="cboParticipantHolderHelper#{cc.attrs.id}"
														 disabled="#{holderExtensionHelperBean.disabledParticipant}"
														 widgetVar="partWidget"
													     value="#{holderExtensionHelperBean.idParticipantPk}"
													     style="width:525px">
									        <f:selectItem  itemLabel="#{cc.resourceBundleMap.select}" />
									        <f:selectItems value="#{holderExtensionHelperBean.listParticipants}" var="part"
												           itemLabel="#{part.label}" itemValue="#{part.value}" />
									</p:selectOneMenu>
								</p:outputPanel>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.personType} (*)" styleClass="required-field"/>
							</td>
							<td width="400px">
								<p:selectOneMenu id="cboPersonType" value="#{holderExtensionHelperBean.holderTO.personType}" style="width:150px">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{holderExtensionHelperBean.personTypeList}"
												   var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
										<p:ajax process="@this" listener="#{holderExtensionHelperBean.changePersonType}"
												update="txtNombre#{cc.attrs.id} txtPrimerApe#{cc.attrs.id} txtSegundoApe#{cc.attrs.id} txtTradeName#{cc.attrs.id}"/>
								</p:selectOneMenu>
							</td>
							<td width="120px">
								<h:outputText value="#{cc.resourceBundleMap.status} (*)" styleClass="required-field"/>
							</td>
							<td>
								<p:selectOneMenu id="cboState" value="#{holderExtensionHelperBean.holderTO.state}" style="width:150px">
									<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
									<f:selectItems value="#{holderExtensionHelperBean.stateList}" var="paramTab"
												   itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
								</p:selectOneMenu>								
							</td>	
						</tr>
						
						<tr>						
							<td>
								<h:outputText value="#{cc.resourceBundleMap.docType}" />
							</td>
							<td>
								<p:selectOneMenu style="width:270px" id="cboTipoDoc#{cc.attrs.id}" value="#{holderExtensionHelperBean.holderTO.documentType}"
												 disabled="#{holderExtensionHelperBean.disabledHolderDocumentType}" >
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}" itemValue="-1" />
									<f:selectItems value="#{holderExtensionHelperBean.docTypeList}" var="docTypeVar" 
												   itemLabel="#{docTypeVar.parameterName}" itemValue="#{docTypeVar.parameterTablePk}"/>
								</p:selectOneMenu>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.docNumber}" />
							</td>
							<td>
								<p:inputText id="txtNumDoc#{cc.attrs.id}" maxlength="15"  style="width:125px"
											 disabled="#{holderExtensionHelperBean.disabledHolderDocumentNumber}"
											 value="#{holderExtensionHelperBean.holderTO.documentNumber}">
									<p:keyFilter for="txtNumDoc#{cc.attrs.id}" mask="num"/>
								</p:inputText>
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.names}" />
							</td>
							<td colspan="4">
								<p:inputText id="txtNombre#{cc.attrs.id}" value="#{holderExtensionHelperBean.holderTO.name}" style="width:400px;"
											 size="30" maxlength="40" disabled="#{holderExtensionHelperBean.holderTO.blNatural}">
									<p:keyFilter for="txtNombre#{cc.attrs.id}" regEx="#{cc.resourceBundleMap.expregularalphabeticnamelastname}"/>
								</p:inputText>			 
						    </td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.firstSurname}" />
							</td>
							<td>
								<p:inputText id="txtPrimerApe#{cc.attrs.id}" value="#{holderExtensionHelperBean.holderTO.firstLastName}" 
											 size="30" maxlength="50" disabled="#{holderExtensionHelperBean.holderTO.blNatural}" style="width:200px;">
											 <p:keyFilter for="txtPrimerApe#{cc.attrs.id}" regEx="#{cc.resourceBundleMap.expregularalphabeticnamelastname}"/>
								</p:inputText>			 
							</td>
							
							<td>
								<h:outputText value="#{cc.resourceBundleMap.secondSurname}" />
							</td>
							<td>
								<p:inputText id="txtSegundoApe#{cc.attrs.id}" value="#{holderExtensionHelperBean.holderTO.secondLastName}" 
											 size="30" maxlength="50" disabled="#{holderExtensionHelperBean.holderTO.blNatural}" style="width:200px;">
									<p:keyFilter for="txtSegundoApe#{cc.attrs.id}" regEx="#{cc.resourceBundleMap.expregularalphabeticnamelastname}"/>
								</p:inputText>
								
							</td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.tradeName}" />
							</td>
							<td colspan="4">
								<p:inputText style="width:400px;" id="txtTradeName#{cc.attrs.id}" value="#{holderExtensionHelperBean.holderTO.fullName}" 
											 maxlength="150" disabled="#{holderExtensionHelperBean.holderTO.blJuridic}">
									<p:keyFilter for="txtTradeName#{cc.attrs.id}" regEx="#{cc.resourceBundleMap.expregularalphabeticnamelastname}"/>
								</p:inputText>						
							</td>
						</tr>
						<tr>
							<td colspan="4">
							   <span  class="redText-bold">
							   <i>
							    (*)
								<h:outputFormat value="#{gmsgs['lbl.helper.maxResults.found']}">
									<f:param value="#{holderExtensionHelperBean.maxResultsQueryHelper}"/>
								</h:outputFormat>
								</i>
								</span>
							</td>
						</tr>
						<tr align="center" width="100%">
							<td colspan="7">
								<p:commandButton id="cbtnSearch#{cc.attrs.id}" 
												 icon="fa fa-search" 
												 value="#{cc.resourceBundleMap.search}" 
												 actionListener="#{holderExtensionHelperBean.searchHolders}" 
												 update="pnlResults#{cc.attrs.id}" 
												 process="fsHolderFilters#{cc.attrs.id}"/>
												
								<p:commandButton id="cbtnClean1#{cc.attrs.id}" 
												 icon="fa fa-trash" 
												 value="#{cc.resourceBundleMap.clear}" 
												 actionListener="#{holderExtensionHelperBean.clearHelper}"
												 update="pnlResults#{cc.attrs.id}" 
												 process="fsHolderFilters#{cc.attrs.id}"/>
												
								<p:commandButton id="cbtnExit#{cc.attrs.id}" 
												 icon="fa fa-undo" 
												 value="#{cc.resourceBundleMap.back}" 
												 actionListener="#{holderExtensionHelperBean.clearHelper}"
												 oncomplete="PF('dlgHolder#{cc.attrs.id}').hide();"
												 process="@this"/>
							</td>
						</tr>
					</table>
				</p:fieldset>
			<p:outputPanel id="pnlResults#{cc.attrs.id}" layout="block" style="max-height:250px;overflow:auto;">
					<p:fieldset id="fsListado#{cc.attrs.id}" legend="#{cc.resourceBundleMap.regEncountered}" 
								rendered="#{not empty holderExtensionHelperBean.listHoldersTO}">
						<p:dataTable id="dtbResult#{cc.attrs.id}" var="holders" rowsPerPageTemplate="5" paginator="true"
									 value="#{holderExtensionHelperBean.listHoldersTO}" rows="5" paginatorPosition="top"
									 style="text-align:center;font-size:90% !important;"
									 paginatorTemplate="#{cc.resourceBundleMap.dtbpaginatortemplate}" rowIndexVar="rIndx"
									 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"> 
							
							<p:column style="text-align:center">
								<f:facet name="header">
									<h:outputText value="#{cc.resourceBundleMap.cui}" styleClass="text-header-table" />
								</f:facet>
								<p:commandLink value="#{holders.holderId}" style="color:blue;align:center"
											   update="#{cc.attrs.update}" resetValues="true"
											   partialSubmit="true"
											   actionListener="#{holderExtensionHelperBean.assignHolder(holders)}"
											   process="@this"
											   onsuccess="PF('dlgHolder#{cc.attrs.id}').hide();"
											   oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}" >
									<h:outputText />
								</p:commandLink>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{cc.resourceBundleMap.holderDesc}" styleClass="text-header-table" />
								</f:facet>
								<h:outputFormat value="#{holders.fullName}" escape="false"/>
							</p:column> 
							
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{cc.resourceBundleMap.docTypeGrid}" escape="false" styleClass="text-header-table" />
								</f:facet>
								<h:outputText value="#{holders.holderTypeDocumentDescription}"/>
							</p:column>
								
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{cc.resourceBundleMap.docNumber}" styleClass="text-header-table" />
								</f:facet>
								<h:outputText value="#{holders.documentNumber}" />
							</p:column>
							<f:facet name="footer">  
					            <h:outputText value="#{holderExtensionHelperBean.listHoldersTO.size()} #{cc.resourceBundleMap.lblresults}" 
					            			  style="align:left;"/>  
					        </f:facet> 
						</p:dataTable>
					</p:fieldset>
					<p:fieldset rendered="#{holderExtensionHelperBean.listEmpty}">
						<h:outputText id="lblNoFoundResults#{cc.attrs.id}" 
										  value="#{cc.resourceBundleMap.notResultFound}" 
										  styleClass="campo-requerido"/>
					</p:fieldset>
				</p:outputPanel>
		</p:dialog>
 	
 	</composite:implementation>
 </body>
</html>