<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
 <body>
 	<composite:interface name="security" displayName="Security description Helper">
 		<composite:attribute name="id" 				default="securityHelperId" />
 		<composite:attribute name="partCode" 		required="false" default="-1" type="java.lang.Long"/>
 		<composite:attribute name="security" 		required="true" type="java.lang.Object"/>
 		<composite:attribute name="disabled" 		default="false" />
 		<composite:attribute name="process" 		required="false" default="" type="java.lang.String"/>
 		<composite:attribute name="issuerCode" 		default="" type="java.lang.String"/>
		<composite:attribute name="remoteListener" default="" />
 		<composite:attribute name="update"          default=""/>
 		<composite:attribute name="report"          type="com.pradera.model.report.ReportFilter"/>
 	</composite:interface>
 	
 	<composite:implementation>
 		<h:panelGrid id="componentsSecuritiesHelper#{cc.attrs.id}" border="0" columns="6">

			<style type="text/css">
				.ui-datatable tbody td{
						white-space: normal !important;
					}
				.pe-dynaform-cell[colspan] select {width: 50px !important;}
			</style>
			
	 		<p:commandButton id="btnOpenHelp#{cc.attrs.id}"
	 						 value="..."
	 						 disabled="#{cc.attrs.disabled}"
	 						 oncomplete="PF('dlgSecuritiesHelper#{cc.attrs.id}').show();" 
	 						 actionListener="#{securityExtensionHelperBean.openDialog(dfcid)}"
	 						 update="securitiesModal#{cc.attrs.id}"
		 					 process="#{cc.attrs.process}"
		 				     partialSubmit="true">
	 		</p:commandButton>

 		</h:panelGrid>
 		
 		<p:dialog id="securitiesModal#{cc.attrs.id}" 
 				  position="top"
				  header="#{cc.resourceBundleMap.titleGeneral}" 
				  widgetVar="dlgSecuritiesHelper#{cc.attrs.id}"
				  width="1020px"
				  modal="true"  
				  closable="false"
				  resizable="false">

			<p:outputPanel id="criteriaIssue#{cc.attrs.id}">
					<p:fieldset id="fsCriteriaIssue#{cc.attrs.id}" legend="#{cc.resourceBundleMap.criteriaSearch}">
					<table width="100%" border="0">
						<tr>
							<td width="120px">
								<h:outputText value="#{cc.resourceBundleMap.issuer}" />
							</td>
							<td colspan="5">
								<p:selectOneMenu id="cboIss#{cc.attrs.id}" value="#{securityExtensionHelperBean.issuerPk}" 
												 rendered="#{!securityExtensionHelperBean.disabledIssuer}" style="width:585px" >
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>	
									<f:selectItems value="#{securityExtensionHelperBean.listIssuers}" var="issuer" itemValue="#{issuer.parameterName}"
											   	   itemLabel="#{issuer.indicator1} - #{issuer.parameterName} - #{issuer.description}"/>
									<p:ajax listener="#{securityExtensionHelperBean.loadCboIssuerHandler}"
											process="@this" partialSubmit="true" update="cboSecurityType#{cc.attrs.id} cboSecurityClass#{cc.attrs.id}" />	
								</p:selectOneMenu>
								<p:selectOneMenu id="cboIss2#{cc.attrs.id}" value="#{securityExtensionHelperBean.issuerPk}" 
												 rendered="#{securityExtensionHelperBean.disabledIssuer}" style="width:585px" disabled="true">
									<f:selectItem itemLabel="#{securityExtensionHelperBean.issuerDescription}" itemValue="#{securityExtensionHelperBean.issuerPk}"/>	
								</p:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.state} (*)" styleClass="required-field"/>	
							</td>
							<td width="240px">
								<p:selectOneMenu value="#{securityExtensionHelperBean.securitiesSearcher.stateSecuritie}"
												 disabled="#{cc.attrs.disableState}" style="width:150px">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>	
									<f:selectItems value="#{securityExtensionHelperBean.listStates}" 
									               var="paramTab" itemLabel="#{paramTab.label}" itemValue="#{paramTab.value}"/>
								</p:selectOneMenu>
							</td>
							
							<td width="120px"> 
								<h:outputText value="#{cc.resourceBundleMap.instrumentType} (*)" styleClass="required-field"/>
							</td>
							<td> 
								<p:selectOneMenu id="cboInstrumentType#{cc.attrs.id}" value="#{securityExtensionHelperBean.securitiesSearcher.instrumentType}"
												 style="width:150px">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/>
									<f:selectItems value="#{securityExtensionHelperBean.listInstrumentType}" 
										           var="paramTab" itemLabel="#{paramTab.label}" itemValue="#{paramTab.value}"/>	
									<!--var="instrument" itemValue="#{instrument.parameterTablePk}" itemLabel="#{instrument.parameterName}"-->
									<p:ajax listener="#{securityExtensionHelperBean.loadCboSecuritieTypeByInstrumentHandler}"
											process="@this" partialSubmit="true"
											update="cboSecurityType#{cc.attrs.id} cboSecurityClass#{cc.attrs.id}"/>				   
								</p:selectOneMenu>
							</td>
						</tr>
						
						
						<tr> 
							<td>
								<h:outputText value="#{cc.resourceBundleMap.securitiesType}" />
							</td>
							<td> 
								<p:selectOneMenu id="cboSecurityType#{cc.attrs.id}" disabled="#{securityExtensionHelperBean.securitiesSearcher.instrumentType==null}"
												 value="#{securityExtensionHelperBean.securitiesSearcher.securitiesType}" style="width:150px">
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}" />
									<f:selectItems value="#{securityExtensionHelperBean.listSecuritiesType}" var="secType"
									 			itemValue="#{secType.parameterTablePk}" itemLabel="#{secType.parameterName}" />
												   <!--itemValue="#{secType.parameterTablePk}" itemLabel="#{secType.parameterName}"/>-->
									<p:ajax listener="#{securityExtensionHelperBean.loadCboSecuritieClassBySecuritieTypeHandler}" process="@this"
											update="cboSecurityClass#{cc.attrs.id}"/>
								</p:selectOneMenu>
							</td>
						</tr>
						
						<tr>
							<td width="120px"> 
								<h:outputText value="#{cc.resourceBundleMap.securitiesClass}" />
							</td>
							<td colspan="5"> 
								<p:selectOneMenu id="cboSecurityClass#{cc.attrs.id}" style="width:525px"
												 disabled="#{securityExtensionHelperBean.securitiesSearcher.securitiesType==null}"
												 value="#{securityExtensionHelperBean.securitiesSearcher.classSecuritie}"> 
									<f:selectItem itemLabel="#{cc.resourceBundleMap.select}"/> 
									<f:selectItems value="#{securityExtensionHelperBean.listClassSecurities}"
												   var="secClass"
												   itemValue="#{secClass.parameterTablePk}" itemLabel="#{secClass.text1} - #{secClass.parameterName}"/>
								</p:selectOneMenu>
							</td>
						</tr>
						
						<tr>
							<td>
						        <h:outputText value="#{cc.resourceBundleMap.securitiesDesc}" />
						    </td>
						    <td colspan="4">
						        <p:inputText style="width:490px" value="#{securityExtensionHelperBean.securitiesSearcher.description}"/>
						    </td>
						</tr>
						
						<tr>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.securityKey}"/>
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText size="15" id="itSecurityKey"  
										 	 value="#{securityExtensionHelperBean.securitiesSearcher.idSecurityCodeOnly}" maxlength="15"/>
								</h:panelGrid>
							</td>
							<td>
								<h:outputText value="#{cc.resourceBundleMap.mnemonic}"/>
							</td>
							<td>
								<h:panelGrid columns="2">
								<p:inputText size="15" id="itMnemonic"  
											 value="#{securityExtensionHelperBean.securitiesSearcher.mnemonic}" maxlength="12"/>
								</h:panelGrid>
							</td>
						</tr>
						<tr>
							<td colspan="4">
							   <span  class="redText-bold">
							   <i>
							    (*)
								<h:outputFormat value="#{gmsgs['lbl.helper.maxResults.found']}">
									<f:param value="#{securityExtensionHelperBean.maxResultsQueryHelper}"/>
								</h:outputFormat>
								</i>
								</span>
							</td>
						</tr>						
						<tr>
							<td><br/></td>
							<td colspan="8" align="center">
								<p:commandButton value="#{cc.resourceBundleMap.search}" 
												 icon="fa fa-search"
												 actionListener="#{securityExtensionHelperBean.searchHelperSecurities}"
												 process="securitiesModal#{cc.attrs.id}" 
												 update="resultListHelperSecurities#{cc.attrs.id}
												 		 lblNoFoundResults#{cc.attrs.id}
												 		 criteriaIssue#{cc.attrs.id}">
								
								</p:commandButton>
								<!--  -->
								<p:spacer width="5"/>
								<p:commandButton value="#{cc.resourceBundleMap.clean}" 
												 icon="fa fa-trash" 
												 process="@this"
												 partialSubmit="true"
												 update="criteriaIssue#{cc.attrs.id} resultListHelperSecurities#{cc.attrs.id}"
												 actionListener="#{securityExtensionHelperBean.clean}">
									
								</p:commandButton>
								<p:spacer width="5"/>
								<p:commandButton value="#{cc.resourceBundleMap.back}" 
												 icon="fa fa-undo" 
												 immediate="true"
												 actionListener="#{securityExtensionHelperBean.exit}"
												 oncomplete="PF('dlgSecuritiesHelper#{cc.attrs.id}').hide();" 
												 update="securitiesModal#{cc.attrs.id} resultListHelperSecurities#{cc.attrs.id} @(.HELP_SECURITIES)">
									
								</p:commandButton>
								
							</td>
						</tr>
					</table>
					</p:fieldset>
			</p:outputPanel>

			<p:outputPanel id="resultListHelperSecurities#{cc.attrs.id}">
				<p:fieldset rendered="#{not empty securityExtensionHelperBean.listSecurities}">
					<p:dataTable id="tblResultHelperSecurities#{cc.attrs.id}" var="securities"
								 rows="5" rowsPerPageTemplate="5"
								 emptyMessage="#{cc.resourceBundleMap.notResultFound}"
					 			 value="#{securityExtensionHelperBean.listSecurities}"
					 			 paginator="true" paginatorPosition="top" paginatorTemplate="#{cc.resourceBundleMap.dtbpaginatortemplate}"
					 			 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}">
							<p:column headerText="#{cc.resourceBundleMap.securitiesCode}" sortBy="#{securities.securitiesCode}">
								<p:commandLink value="#{securities.securitiesCode}"
											   update="#{cc.attrs.update}" resetValues="true"
											   style="color:blue"
											   process="@this" 
											   partialSubmit="true"
											   action="#{securityExtensionHelperBean.selectSecuritiesFromHelper}"
											   onsuccess="PF('dlgSecuritiesHelper#{cc.attrs.id}').hide();"
											   oncomplete="#{not empty cc.attrs.remoteListener ? cc.attrs.remoteListener : ''}">
									<f:setPropertyActionListener target="#{securityExtensionHelperBean.selected}" 
																 value="#{securities}"/>
								</p:commandLink>
							</p:column>
							<p:column headerText="#{cc.resourceBundleMap.securitiesDesc}" sortBy="#{securities.description}">
								<h:outputText value="#{securities.description}" />
							</p:column>
							<p:column headerText="#{cc.resourceBundleMap.securitiesType}" sortBy="#{securities.securityType}">
								<h:outputText value="#{securities.securityType}" />
							</p:column>
							<p:column headerText="#{cc.resourceBundleMap.securitiesClass}" sortBy="#{securities.securityClass}">
								<h:outputText value="#{securities.securityClass}" />
							</p:column>
							<p:column headerText="#{cc.resourceBundleMap.isinCode}" sortBy="#{securities.isinCode}">
								<h:outputText value="#{securities.isinCode}" />
							</p:column>
							<f:facet name="footer">  
					            <h:outputText value="#{cc.resourceBundleMap.lblresults}: #{securityExtensionHelperBean.listSecurities.size()}" 
					            			  style="align:left;"/>  
					        </f:facet> 
					</p:dataTable>
					
				</p:fieldset>
				<p:fieldset rendered="#{securityExtensionHelperBean.listEmpty}">
					<h:outputText id="lblNoFoundResults#{cc.attrs.id}" 
									  value="#{cc.resourceBundleMap.notResultFound}" 
									  styleClass="campo-requerido"/>
				</p:fieldset>
			</p:outputPanel>
 		</p:dialog>

 	</composite:implementation>
 </body>
</html>