<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:hark="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['screen.view.annulateCui.title']}" styleClass="title-page" />
		
		<h:form id="frmAccounts">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['fielddSet.register.annulateCui.header']}" >
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.annulateCui.participantCreator']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:inputText value="#{holderAnnulationMgmtBean.modelTOView.participantCreator}"
													disabled="true"	
													style="text-align:left; width:500px;"  />
									</td>
									
									<td>
										<h:outputText value="#{msgs['lbl.search.annulateCui.requestNumber']}"/>
									</td>
									<td>
										<p:inputText value="#{holderAnnulationMgmtBean.modelTOView.idAnnulationHolderPk}"
													disabled="true" 
													style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.annulateCui.registryDate']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<p:inputText value="#{holderAnnulationMgmtBean.modelTOView.registryDate}" 
													disabled="true" >
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>		
										</p:inputText>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.search.annulateCui.state']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboStateSearch" value="#{holderAnnulationMgmtBean.modelTOView.stateAnnulation}" 
															  style="width:250px;" disabled="true" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{holderAnnulationMgmtBean.modelTOSearch.lstState}" var="stateSearch" 
															   itemLabel="#{stateSearch.parameterName}" itemValue="#{stateSearch.parameterTablePk}" />
											</p:selectOneMenu>
											<p:message id="validateState" for="cboStateSearch" display="icon" />
										</h:panelGrid>
									</td>
									
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.annulateCui.participantRequest']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboparticipant" value="#{holderAnnulationMgmtBean.modelTOView.idParticipantSelected}" 
															  disabled="true" 
															  style="width:480px;" label="#{msgs['message.validation.oneparticipant']}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{holderAnnulationMgmtBean.modelTOView.lstParticipant}" var="participantReg" 
															   itemLabel="#{participantReg.displayDescriptionCode}" itemValue="#{participantReg.idParticipantPk}" />
												<p:ajax event="change" update="@this validatePart frmAccounts" listener="#{holderAnnulationMgmtBean.cleanHelperCUIRegister}"/>
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validatePart" for="cboparticipant" display="icon" />
										</h:panelGrid>
									</td>
									<td></td>
									<td></td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.search.annulateCui.cui']}"/>
									</td>
									<td>
										<p:inputText value="#{holderAnnulationMgmtBean.modelTOView.idHolder}"
													disabled="true" 
													style="text-align:right;" maxlength="10" size="11" >
											<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}" />
										</p:inputText>
									</td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.view.annulateCui.fullNameOrBusinessName']}"/>
									</td>
									<td>
										<p:inputText value="#{holderAnnulationMgmtBean.modelTOView.fullNameHolder}"
													disabled="true" 
													style="text-align:left;" />
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.annulateCui.motives']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="somMotiveHolderAnnulation" value="#{holderAnnulationMgmtBean.modelTOView.motiveAnnulationSelected}" 
															  disabled="true"
															  style="width:250px;" label="#{msgs['message.validation.required.oneMotive']}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{holderAnnulationMgmtBean.modelTOView.lstMoviveAnnulation}" var="motiveAnnulation" 
															   itemLabel="#{motiveAnnulation.parameterName}" itemValue="#{motiveAnnulation.parameterTablePk}" />
												<p:ajax event="change" update="@this validateMotive fldsAttached" 
														listener="#{holderAnnulationMgmtBean.loadFileTypeAccordingMotiveSelected}" />
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validateMotive" for="somMotiveHolderAnnulation" display="icon" />
										</h:panelGrid>	
									</td>
									
									<td width="150"></td>
									<td></td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.annulateCui.observations']}" />
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputTextarea id="itaObservation" maxlength="1000" disabled="true"
				    							style="width:300px;" value="#{holderAnnulationMgmtBean.modelTOView.observationAnnulation}">
							    				<f:validator  validatorId="inputRequiredValidator" disabled="true" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
							    			</p:inputTextarea>
							    			<p:message for="itaObservation"  display="icon" />
						    			</h:panelGrid>
									</td>
									
									<td width="150"></td>
									<td></td>
								</tr>
								<tr>
									<td colspan="5">
										<p:fieldset id="fldsAttached" legend="#{msgs['fielddSet.register.annulateCui.attached']}" >
											<table>
												<tr>
													<td width="25px"></td>
													<td width="150">
														<h:outputText value="#{msgs['lbl.register.annulateCui.fileType']}" />
													</td>
													<td>
														<h:panelGrid columns="2">
															<p:selectOneMenu  id="somFileHolderAnnulation" value="#{holderAnnulationMgmtBean.modelTOView.fileTypeAnnulationSelected}"
																			  disabled="true"
																			  style="width:250px;" label="#{msgs['message.validation.required.oneFile']}" >
																<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
																<f:selectItems value="#{holderAnnulationMgmtBean.modelTOView.lstFileTypeAnnulation}" var="fileType" 
																			   itemLabel="#{fileType.parameterName}" itemValue="#{fileType.parameterTablePk}" />
																<p:ajax event="change" update="@this validateFileType"/>
																<f:validator validatorId="selectOneRequiredValidator" />
																<f:param name="skipValidation" value="true"/>
															</p:selectOneMenu>
															<p:message id="validateFileType" for="somFileHolderAnnulation" display="icon" />
														</h:panelGrid>	
													</td>
													<td>
														<p:commandLink styleClass="icon" global="false" ajax="false" immediate="true" process="@this" 
																		onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
												 			<p:fileDownload value="#{holderAnnulationMgmtBean.getStreamedContentFromFile(holderAnnulationMgmtBean.modelTOView.fileAttached,null,holderAnnulationMgmtBean.modelTOView.fileName)}" />
												 			<p:graphicImage id="imgView" library="img" name="icons/loupe.png"
												 				title="#{msgs['link.see']}"/>            		  
														</p:commandLink>
													</td>
												</tr>		
											</table>
										</p:fieldset>									
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="4"> 
						<p:outputPanel >
						<p:commandButton value="#{gmsgs['btn.save']}" 
										 icon="fa fa-save" rendered="false" 
										 action="#{holderAnnulationMgmtBean.beforeSaveRegister}"
										 process="@this @form" update="frmAccounts :opnlGenericDialogs :opnlDialogs" >
						</p:commandButton>
						
						<p:commandButton id="cmbApprove"
										 value="#{gmsgs['btn.approve']}"
										 action="#{holderAnnulationMgmtBean.beforeApprove}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-approve"
										 rendered="#{holderAnnulationMgmtBean.operationApprove}"/>
										 
						<p:commandButton id="cmbAnulate"
										 value="#{gmsgs['btn.annulate']}"
										 action="#{holderAnnulationMgmtBean.preBeforeAnulateOrReject}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-remove"
										 rendered="#{holderAnnulationMgmtBean.operationAnulate}"/>
										 
						<p:commandButton id="cmbReview"
										 value="#{gmsgs['btn.review']}"
										 action="#{holderAnnulationMgmtBean.beforeReview}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-edit"
										 rendered="#{holderAnnulationMgmtBean.operationReview}"/>
										 
						<p:commandButton id="cmbReject"
										 value="#{gmsgs['btn.reject']}"
										 action="#{holderAnnulationMgmtBean.preBeforeAnulateOrReject}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-cancel"
										 rendered="#{holderAnnulationMgmtBean.operationReject}"/>
										 
						<p:commandButton id="cmbConfirm"
										 value="#{gmsgs['btn.confirm']}"
										 action="#{holderAnnulationMgmtBean.beforeConfirm}"
										 update="frmAccounts :opnlGenericDialogs :opnlDialogs"
										 icon="ui-confirm"
										 rendered="#{holderAnnulationMgmtBean.operationConfirm}"/>
										 
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton value="#{gmsgs['btn.back']}" 
										 icon="fa fa-undo" immediate="true"
										 action="#{holderAnnulationMgmtBean.backToSearchFromView}"
										 process="@this" >
						</p:commandButton>
						
						</p:outputPanel>
						
					</td> 
				</tr>
			</table>
			
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="cnfHolderAnnulationRegiter" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfHolderAnnulationRegiter" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{holderAnnulationMgmtBean.saveOperationChangeState}"	    						 
	    						 oncomplete="PF('cnfHolderAnnulationRegiter').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{holderAnnulationMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfHolderAnnulationRegiter').hide()"/>	
				</h:form>          
			</p:confirmDialog>
				    	
	    	<p:confirmDialog id="validationHolderAnnulation" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="validationHolderAnnulation" > 
		        <h:form> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('validationHolderAnnulation').hide()" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:dialog id="alterRejectWidget" closable="false" resizable="false" draggable="false" modal="true"
	                header="#{headerMessageView}" severity="alert" widgetVar="alterRejectWidget" >
	                <h:form>  
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	        		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.view.annulateCui.motive.cancel.request']} (*)" styleClass="required-field" />
			    		</td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['lbl.view.annulateCui.motive.cancel.request.required']}" 
											 value="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
					           <f:selectItems value="#{holderAnnulationMgmtBean.modelTOView.lstMotiveCancelRequest}"
											  var="rejectMotive" itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
		    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.view.annulateCui.OtherMotive.cancel.request']} (*)" styleClass="required-field" 
			    						  rendered="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected == 2505 }" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" maxlength="200"
			    							required="true"
			    							requiredMessage="#{msgs['lbl.view.annulateCui.OtherMotive.cancel.request.required']}"
			    							rendered="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected == 2505 }"
			    							style="width:300px;" value="#{holderAnnulationMgmtBean.modelTOView.requestCancelDescription}">
			    				<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected == 2505 }" />
					    </td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">  
				        	
				        	<p:commandButton id="btnYesrAnnulated"
										 value="#{gmsgs['btn.save']}"
										 icon="fa fa-save"
										 process="@form"
										 action="#{holderAnnulationMgmtBean.beforeAnulate}"
										 disabled="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected == null }"
										 rendered="#{holderAnnulationMgmtBean.operationAnulate}"
										 update="rejectPanel :opnlGenericDialogs :opnlDialogs" />
										 
							<p:commandButton id="btnYesReject"
										 value="#{gmsgs['btn.save']}"
										 icon="fa fa-save"
										 process="@form"
										 action="#{holderAnnulationMgmtBean.beforeReject}"
										 disabled="#{holderAnnulationMgmtBean.modelTOView.requestCancelTypeSelected == null }"
										 rendered="#{holderAnnulationMgmtBean.operationReject}"
										 update="rejectPanel :opnlGenericDialogs :opnlDialogs" />
				        	
				        	<p:commandButton
					        			 icon="fa fa-undo"
				        				 value="#{gmsgs['btn.back']}"  
				        				 immediate="true"
				        				 process="@this"
				        				 oncomplete="PF('alterRejectWidget').hide()"
				        				 update=":frmAccounts, :opnlDialogs"> 
						    </p:commandButton> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:outputPanel>
	       		</h:form>
	    	</p:dialog>
	    	
	    	<p:outputPanel id="opnlcnfHolderAnnulationRegiterer">
			<p:confirmDialog id="cnfHolderAnnulationRegiterer"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"				
					severity="alert" widgetVar="cnfHolderAnnulationRegiterer">
										
					<p:commandButton id="confirmAnnulation" value="#{msgs['btn.yes']}"
						oncomplete="PF('cnfHolderAnnulationRegiterer').hide()"  process="@this"
						actionListener="#{holderAnnulationMgmtBean.saveOperationChangeState}"
						update="opnlCnfEndTransactionHolderAnnulation">
					</p:commandButton>
					<p:commandButton value="#{msgs['btn.no']}" process="@this" oncomplete="PF('cnfHolderAnnulationRegiterer').hide()"/>
						
			</p:confirmDialog>
			</p:outputPanel>
			
			<p:outputPanel id="opnlCnfEndTransactionHolderAnnulation">
			<p:confirmDialog id="cnfEndTransactionHolderAnnulation"
					message="#{bodyMessageView}"
					header="#{headerMessageView}" closable="false"					
					severity="alert" widgetVar="cnfEndTransactionHolderAnnulation">
										
					<p:commandButton value="#{msgs['btn.accept']}"	
						oncomplete="PF('cnfEndTransactionHolderAnnulation').hide()"
					    action="searchHolderAnnulate"	process="@this"				
						update=":opnlDialogs">
					</p:commandButton>
			</p:confirmDialog>
			</p:outputPanel>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>