<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
	<h:outputText value="#{msgs['repo.operation.register']}" styleClass="title-page"/>
		<script type="text/javascript">
			$(window).load(function(){
				setInitialFormState('#frmOtcOperation');
			});
		</script>
	<h:form id="frmOtcOperation">
		 <f:metadata>
		 	<f:event type="preRenderView" listener="#{repoSettlementMgmt.loadDialogRepoOperationHelp}"/>
	    </f:metadata>
	    <ui:include src="repoSettlementDialog.xhtml"/>
		<p:outputPanel id="pnlOtcOperation">
		<p:fieldset legend="#{msgs['lbl.form.data']}">
			<p:outputPanel id="pnlNegotiationDate">
				<p:fieldset legend="#{msgs['repo.operation.negotiationdate']}" id="flsNegotiationDate">
					<ui:include src="repoSettlementNegotiation.xhtml" />
				</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel id="pnlSettlement">
				<p:fieldset legend="#{msgs['repo.operation.settlementdata']}" id="flsSettlemet">
					<ui:include src="repoSettlementFieldSetSettlement.xhtml" />
				</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel id="pnlNegotiationAccount">
			<p:fieldset legend="#{msgs['repo.operation.negotiationaccount']}" id="flsAccountNegotiation">
				<p:outputPanel id="pnlHoldAccNegotiationPlazeSell">
					<table>
						<tr>
							<td>
								<p:dataTable var="holdAccNegotiation" value="#{repoSettlementMgmt.repoSettlementAttributes.holderAccountOperationsValidated}"
											 rendered="#{not empty repoSettlementMgmt.repoSettlementAttributes.holderAccountOperationsValidated}"
											 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
									<p:column headerText="#{msgs['lbl.operation.Role']}" styleClass="content-center" sortBy="#{holdAccNegotiation.role}">
										<h:outputText value="#{holdAccNegotiation.rolePosition}"/>
									</p:column>
									<p:column headerText="#{msgs['lbl.operation.holderAccount.accountNumber']}" styleClass="content-center" sortBy="#{holdAccNegotiation.holderAccount.accountNumber}">
										<h:outputText value="#{holdAccNegotiation.holderAccount.accountNumber}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
									</p:column>
									<p:column headerText="#{msgs['lbl.operation.holderAccount.alternateCode']}" styleClass="content-center">
										<h:outputText value="#{holdAccNegotiation.holderAccount.alternateCode}" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
									</p:column>
									<p:column headerText="#{msgs['lbl.operation.holderAccount.description']}" styleClass="content-left" sortBy="#{holdAccNegotiation.holderAccount.accountDescription}"
											  style="width:70px;">
										<h:outputFormat value="#{holdAccNegotiation.holderAccount.accountDescription}" escape="false" rendered="#{not empty holdAccNegotiation.holderAccount}"/>
									</p:column>
									<p:column headerText="#{msgs['lbl.operation.stockQuantity']}" styleClass="content-center" sortBy="#{holdAccNegotiation.stockQuantity}">
										<h:outputText value="#{holdAccNegotiation.stockQuantity}">
											<f:convertNumber locale="#{repoSettlementMgmt.localeEnUS}"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['lbl.operation.cash.amount']}" styleClass="content-right">
										<h:outputText value="#{holdAccNegotiation.cashAmount}">
											<f:convertNumber locale="#{repoSettlementMgmt.localeEnUS}" maxFractionDigits="2"/>
										</h:outputText>
									</p:column>
									<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.term.amount']}">
										<h:outputText value="#{holdAccNegotiation.realTermAmount}" rendered="#{not empty repoSettlementMgmt.settlementRequestSession.mechanismOperation.termAmount}">
											<f:convertNumber locale="#{repoSettlementMgmt.localeEnUS}" maxFractionDigits="2"/>
										</h:outputText>
									</p:column>
								</p:dataTable>
							</td>
						</tr>
					</table>
				</p:outputPanel>
			</p:fieldset>
			</p:outputPanel>
			
		<p:outputPanel id="pnlButtons">
			<table width="100%" align="center">
				<tr>
					<td align="center">
						<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" update="pnlSettlement,pnlDialogsCustomized,:opnlGenericDialogs"
										 process="@this,pnlSettlement" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}"
										 rendered="#{repoSettlementMgmt.viewOperationRegister}"/>
										 
						<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" update="pnlDialogsCustomized"
										 process="@this,pnlSettlement" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}" 
										 rendered="#{repoSettlementMgmt.viewOperationApprove}"/>
							
						<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}"
										 rendered="#{repoSettlementMgmt.viewOperationReject}" 
										 update="pnlDialogsCustomized" process="pnlButtons"/>
										 
						<p:commandButton value="#{gmsgs['btn.annul']}" icon="ui-anulate" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}"
										 rendered="#{repoSettlementMgmt.viewOperationAnnul}" 
										 update="pnlDialogsCustomized" process="pnlButtons"/>
										 
						<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}" 
										 rendered="#{repoSettlementMgmt.viewOperationConfirm}" 
										 update="@form :opnlGenericDialogs" process="pnlButtons"/>
										 
						<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-edit" actionListener="#{repoSettlementMgmt.beforeSaveRepoRequestHandler}" 
										 rendered="#{repoSettlementMgmt.viewOperationReview}" update="@form :opnlGenericDialogs" process="pnlButtons"/>
										 
						<p:commandButton id="cmbCleanHolderAccountReq" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this"
										 actionListener="#{repoSettlementMgmt.cleanAllFormOtcHandler}" update="pnlSettlement" 
										 rendered="#{repoSettlementMgmt.viewOperationRegister}"/>
						<p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="search" process="@this"
										 onclick="if(isModifiedFormForBack('#frmOtcOperation'))return false;" ajax="false" immediate="true"/>
					</td>
				</tr>
			</table>
		</p:outputPanel> 
		</p:fieldset>
		</p:outputPanel>
		<p:outputPanel id="pnlDialogsCustomized">
			<p:confirmDialog id="cnfCleanAmountEntered" widgetVar="cnfwCleanAmountEntered" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton id="cmbConfirmCleanAmount" value="#{gmsgs['btn.yes']}"
								 process="@this" onclick="PF('cnfwCleanAmountEntered').hide()"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwCleanAmountEntered').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="cnfRepoOperations" widgetVar="cnfwRepoOperations" severity="alert" closable="false"
							 header="#{headerMessageView}" message="#{bodyMessageView}">
				<p:commandButton value="#{gmsgs['btn.yes']}" process="@this" onclick="PF('cnfwRepoOperations').hide()" update="pnlDialogsCustomized" 
								 actionListener="#{repoSettlementMgmt.saveRepoSettlementRequestHandler}" ajax="true"/>
				<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwRepoOperations').hide()" type="button"/>
			</p:confirmDialog>
			<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false" header="#{headerMessageView}" message="#{bodyMessageView}">
					<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="search.xhtml" ajax="false" immediate="true" process="@this"/>
			</p:confirmDialog>
		</p:outputPanel>
	</h:form>
</ui:define>
</ui:composition>
</html>