<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmCustody');
	  });
	</script>
	
	<h:outputText value="#{msgs['tvd.title.view']}" styleClass="title-page" />
	
		<h:form id="frmCustody" onkeypress="return event.keyCode != 13" >
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.register']}">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td><h:outputText value="#{msgs['commons.label.solicitudNumber']}"  /></td>
									<td><p:inputText id="idOperationNumber" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.custodyOperation.operationNumber}" disabled="true"/></td>
									<td>&nbsp;&nbsp;<h:outputText value="#{msgs['commons.label.state']}"  /></td>
									<td><p:inputText id="idStateOperation" value="#{transferSecuritiesViewMgmtBean.strSateDescription}" disabled="true"/></td>
								</tr>
								<tr>
									<td colspan="2"></td>
									<td>&nbsp;&nbsp;<h:outputText value="#{msgs['commons.label.registryDate']}"  /></td>
									<td><p:inputText id="idRegistryDate" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.custodyOperation.registryDate}" disabled="true">
										<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</p:inputText>
									</td>
								</tr>
								<tr>
									<td width="150px"><h:outputText value="#{msgs['tdv.lable.origParticipant']} "  /></td>
									<td width="500px">
										<p:selectOneMenu id="idSourceParticipant" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.sourceParticipant.idParticipantPk}" 
														  disabled="true" >
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesViewMgmtBean.lstParticipant}" var="part" itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
											<p:ajax listener="#{transferSecuritiesViewMgmtBean.validSourceParticipant()}" update="frmCustody:fldsFiltros"  event="change" />
										</p:selectOneMenu>
									</td>
									<td width="150px">&nbsp;&nbsp;<h:outputText value="#{msgs['tdv.lable.transferType']} "  /></td>
									<td>
										<p:selectOneMenu id="idTransfertype" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.transferType}"  disabled="true">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="-1" />
											<f:selectItems value="#{transferSecuritiesViewMgmtBean.lstTransferType}" var="transferType" itemLabel="#{transferType.parameterName}" itemValue="#{transferType.parameterTablePk}" />
											<p:ajax listener="#{transferSecuritiesViewMgmtBean.validTransferType()}" update="frmCustody:fldsFiltros" event="change" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['commons.label.AccountHolderSource']} "   
										rendered="#{transferSecuritiesViewMgmtBean.flagAccountOriginVisible}"/>
									</td>
									<td colspan="3">
									<p:outputPanel id="idHelperAccountSource" rendered="#{transferSecuritiesViewMgmtBean.flagAccountOriginVisible}">
											<p:inputText disabled="true" rendered="#{transferSecuritiesViewMgmtBean.lstSourceAccountTo.size() == 0}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountSource"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px"
												     	 rendered="#{transferSecuritiesViewMgmtBean.lstSourceAccountTo.size()>0}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{transferSecuritiesViewMgmtBean.lstSourceAccountTo}" var="account"
												     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
													 	 selection="#{transferSecuritiesViewMgmtBean.sourceAccountTo}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
												<p:column selectionMode="single" style="width:18px" rendered="#{transferSecuritiesViewMgmtBean.flagReviewSource}"  /> 
												<p:ajax event="rowSelectRadio" listener="#{transferSecuritiesViewMgmtBean.settingSourceViewAccount()}" 
														update=":frmCustody:fldsFiltros :frmCustody:pnlRegisterFound" />
												
												<p:column headerText="#{msgs['commons.datatable.account.number']}" styleClass="content-center" style="width:70px;">
													<h:outputText value="#{account.accountNumber}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
													<h:outputText value="#{account.alternateCode}" />
												</p:column>
												
												<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
												<ul style="padding:0px; margin:0px;">
													<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
													<li>
														<h:outputText value="#{accountIterator}" />
													</li>
													</ui:repeat>
												</ul>
												</p:column>	
												
												<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
													<h:outputText value="#{account.accountStatusDescription}" />
												</p:column>
												
												<f:facet name="footer">  
										            <h:outputText value="#{transferSecuritiesViewMgmtBean.lstSourceAccountTo.size()} #{msgs['lbl.results']}" 
										            			  style="align:left;"/>  
										        </f:facet> 
												
										</p:dataTable>
										
										</p:outputPanel>
										
									</td>
								</tr>
								<td colspan="4">
										<p:outputLabel style="color:red;" rendered="#{transferSecuritiesViewMgmtBean.flagTargetSource}" value="#{transferSecuritiesViewMgmtBean.viewErrorMessage}"></p:outputLabel>
								</td>
								<tr>
									<td colspan="3" height="3px"></td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['tdv.lable.targParticipant']} "  /></td>
									<td>
										<p:selectOneMenu id="idTargetParticipant" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.targetParticipant.idParticipantPk}" 
														 disabled="true">
											<f:selectItem 	itemLabel="#{msgs['cbo.opc.seleccione']}" itemValue="-1" />
											<f:selectItems 	value="#{transferSecuritiesViewMgmtBean.lstParticipant}" var="participant" 
														   	itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
											<p:ajax listener="#{transferSecuritiesViewMgmtBean.validTargetParticipant()}" update="frmCustody:fldsFiltros"  event="change" />
										</p:selectOneMenu>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['commons.label.AccountHolderTarget']} "  
													  rendered="#{transferSecuritiesViewMgmtBean.lstTargetAccountTo.size()>0}"/></td>
									<td colspan="3">
										<p:outputPanel id="idHelperAccountTarget" rendered="#{transferSecuritiesViewMgmtBean.flagAccountTargetVisible}">
											<p:inputText disabled="true" rendered="#{transferSecuritiesViewMgmtBean.lstTargetAccountTo.size() == 0}"></p:inputText>
											<p:dataTable id="tblResultHelperAccountTarget"
														 paginator="true" rows="5" paginatorPosition="top"
													 	 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												     	 paginatorTemplate="#{msgs['dtb.paginator.template']}"
												     	 style="width:810px"
												     	 rendered="#{transferSecuritiesViewMgmtBean.lstTargetAccountTo.size()>0}"
												     	 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
													 	 value="#{transferSecuritiesViewMgmtBean.lstTargetAccountTo}" var="account"
												     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
													 	 selection="#{transferSecuritiesViewMgmtBean.targetAccountTo}"
														 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
												
											<p:column selectionMode="single" style="width:18px" rendered="#{transferSecuritiesViewMgmtBean.flagReviewTarget}" /> 
											<p:ajax event="rowSelectRadio" listener="#{transferSecuritiesViewMgmtBean.settingTargetViewAccount()}" 
													update=":frmCustody:fldsFiltros" />
											
											<p:column headerText="#{msgs['commons.datatable.account.number']}" styleClass="content-center" style="width:70px;">
												<h:outputText value="#{account.accountNumber}" />
											</p:column>
										
											<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
												<h:outputText value="#{account.alternateCode}" />
											</p:column>
											
											<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
											<ul style="padding:0px; margin:0px;">
												<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
												<li>
													<h:outputText value="#{accountIterator}" />
												</li>
												</ui:repeat>
											</ul>
											</p:column>	
											
											<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
												<h:outputText value="#{account.accountStatusDescription}" />
											</p:column>
											
											<f:facet name="footer">  
									            <h:outputText value="#{transferSecuritiesViewMgmtBean.lstTargetAccountTo.size()} #{msgs['lbl.results']}" 
									            			  style="align:left;"/>  
									        </f:facet> 
											
										</p:dataTable>
										
										</p:outputPanel>
									
										<ui:remove>
										<p:inputText id="idTargetHolderAccount" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.targetHolderAccount.idHolderAccountPk}" 
													 rendered="#{transferSecuritiesViewMgmtBean.flagTargetSource or transferSecuritiesViewMgmtBean.flagSameParticipant or transferSecuritiesViewMgmtBean.flagReviewTarget}" 
													 disabled="true">
											<p:ajax listener="#{transferSecuritiesViewMgmtBean.settingUniqueContrapartAccount()}" update="@this"></p:ajax>
										</p:inputText>
										</ui:remove>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<p:outputLabel style="color:red;" rendered="#{transferSecuritiesViewMgmtBean.flagSourceTarget}" value="#{transferSecuritiesViewMgmtBean.viewErrorMessage}"></p:outputLabel>
									</td>
								</tr>
								<tr>
									<td width="150px"><h:outputText value="#{msgs['commons.label.motiveRejectAnull']}"  /></td>
									<td width="500px"><p:inputText id="motiveReject" value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.custodyOperation.rejectMotiveDesc}" maxlength="50" size="50" disabled="true"/></td>
									<td width="150px">&nbsp;&nbsp;<h:outputText value="#{msgs['commons.label.otherMotiveDescription']}"  /></td>
									<td>
									<p:inputTextarea value="#{transferSecuritiesViewMgmtBean.securityTransferOperation.custodyOperation.rejectMotiveOther}"  id="motiveRejectOther" 
								 			 disabled="true" cols="60" rows="5"/>
									</td>
								</tr>
								<tr>
									<td colspan="3" height="3px"></td>
								</tr>
								<tr>
									<td colspan="4" align="center">
									<table>
										<tr>
										<td>
											<arkPriv:privileges id="praderaPrivileges"				 
														 		actionApprove="#{transferSecuritiesViewMgmtBean.executeOperation('executeApprove')}"
														 		actionAnnular="#{transferSecuritiesViewMgmtBean.executeAnulledOrReject}"
														 		actionReview="#{transferSecuritiesViewMgmtBean.executeOperation('executeRevise')}"
														 		actionReject="#{transferSecuritiesViewMgmtBean.executeAnulledOrReject}"
														 		actionConfirm="#{transferSecuritiesViewMgmtBean.executeOperation('executeConfirm')}"
																actions="#{userInfo.userAcctions}"
																renders="#{userInfo.privilegeComponent}"/>				 
										</td>
										<td>
										<p:commandButton id="btnReturn" icon="fa fa-undo" value="#{gmsgs['btn.back']}" 
														 action="#{transferSecuritiesViewMgmtBean.backViewWithOutValidation}"  
														 immediate="true" process="@this" ajax="false"/>
										</td>
										</tr>
									</table> 				 
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="pnlRegisterFound">
						
						<marketFact:marketfactBalance id="balancemarket1" bean="#{transferSecuritiesViewMgmtBean}" rendered="#{transferSecuritiesViewMgmtBean.flagReviewSource and transferSecuritiesViewMgmtBean.flagTargetSource}"
													  method="selectMarketFactBalanceReview" parameter="holderMarketFactBalance">
						</marketFact:marketfactBalance>
																  
						
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{not empty transferSecuritiesViewMgmtBean.lstHolderAccountBalance}">
									
							<p:dataTable id="dtbResult" 
									     paginator="true" rows="10" paginatorPosition="top"
										 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									     paginatorTemplate="#{msgs['dtb.paginator.template']}"
									     rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										 value="#{transferSecuritiesViewMgmtBean.dataModelHolderAccountBalance}" var="holderAccountBalance"
									     rowKey="#{holderAccountBalance.id}"  rowIndexVar="rIndx"
										 selection="#{transferSecuritiesViewMgmtBean.arrHolderAccountBalance}">
									
									<p:columnGroup type="header">
										<p:row>
											<p:column headerText="#{gmsgs['security.lbl.code']}"/>
											<p:column headerText="#{msgs['tdv.datatable.securityType']}" />
											<p:column headerText="#{msgs['tdv.datatable.description']}" />
											<p:column headerText="#{msgs['tdv.datatable.totalbalance']}"/> 
											<p:column headerText="#{msgs['tdv.datatable.availablebalancelineal']}"/>
											<p:column headerText="#{msgs['tdv.datatable.transferamount']}"/>
										</p:row>
									</p:columnGroup>
									
									<p:column style="text-align:center;">
										<arkHelp:securities-help securityCode="#{holderAccountBalance.id.idSecurityCodePk}" link="true" icon="false" />
									</p:column>

									<p:column>
										<h:outputText value="#{holderAccountBalance.security.securityTypeDescription}" />
									</p:column>
									
									<p:column>
										<p:outputPanel rendered="#{!transferSecuritiesViewMgmtBean.flagTargetSource}">
										<h:outputText value="#{holderAccountBalance.security.description}"/> 
										</p:outputPanel>
										<p:outputPanel rendered="#{transferSecuritiesViewMgmtBean.flagTargetSource}">
											<h:outputText value="#{holderAccountBalance.security.description}" />
										</p:outputPanel>
									</p:column>

									<p:column style="text-align: right;">
										<h:outputText value="#{holderAccountBalance.totalBalance}">
											<f:convertNumber pattern="#{cons['pattern.quantity']}" 
															 locale="#{cons['conv.number.locale']}"/> 
										</h:outputText>
									</p:column>

									<p:column style="text-align: right;">
										<h:outputText value="#{holderAccountBalance.availableBalance}">
											<f:convertNumber pattern="#{cons['pattern.quantity']}" 
															 locale="#{cons['conv.number.locale']}"/> 
										</h:outputText>
									</p:column>
									
									<p:column style="text-align: center;">
										<p:inputText style="text-align:right;width:180px !important" value="#{holderAccountBalance.transferAmmount}"  
													 maxlength="12" size="12" disabled="true" >
										 <p:keyFilter regEx="#{cons['exp.regular.numeric.amount']}"/>
										 <f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
										</p:inputText>
										
										<p:commandButton icon="ui-search"
														 rendered="#{!(transferSecuritiesViewMgmtBean.flagReviewSource and transferSecuritiesViewMgmtBean.flagTargetSource)}" >
											<p:ajax process="@this" event="click" oncomplete="PF('idMarketFactDataWidget').show()"/>
										</p:commandButton>
										
										<h:commandButton value="..." rendered="#{transferSecuritiesViewMgmtBean.flagReviewSource and transferSecuritiesViewMgmtBean.flagTargetSource}"
														  disabled="#{holderAccountBalance.selected == false}" styleClass="#{holderAccountBalance.styleClassButton}" >
											<p:ajax listener="#{transferSecuritiesViewMgmtBean.showMarketFactUIReview(holderAccountBalance)}" process="@this" 
													 event="click"/>
										</h:commandButton>
									</p:column>
											
									<f:facet name="footer"> 
						             <div style="width:100%; text-align:left">        
						             <h:outputLabel value="#{transferSecuritiesViewMgmtBean.dataModelHolderAccountBalance.rowCount} #{msgs['lbl.results']}" 
						             style="font-weight:bold;"/>
						             </div>
						            </f:facet>
							        
							</p:dataTable>
							
						</p:fieldset>
						
						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{!transferSecuritiesViewMgmtBean.registersFound}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
													rendered="#{!(transferSecuritiesViewMgmtBean.dataModelHolderAccountBalance.rowCount >= 1)}"
													style="font-weight:bold;"/>
						</p:fieldset>
						
						</p:outputPanel>	
					</td>
				</tr>				
			</table>
		</h:form>

	<!-- Alters -->
	
	<p:outputPanel id="opnlDialogs">
			<h:form id="formPopUp">
			
	    	<p:dialog	id="alterReject" closable="false" resizable="false" header="#{headerMessageView}"  width="500px"
						severity="alert" widgetVar="alterRejectWidget" >  
						
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	        		<tr>
			    		<td><h:outputText value="#{msgs['lbl.ownershipexchange.motive']}" /></td>
			    		<td>
							<p:selectOneMenu id="cboMotive" widgetVar="cnfwCboMotive" style="width:300px"
											 value="#{transferSecuritiesViewMgmtBean.intRejectMotive}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
					           <f:selectItems	value="#{transferSecuritiesViewMgmtBean.rejectMotiveList}" var="rejectMotive" 
					           					itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" process="@this" />
					            <f:validator validatorId="selectOneRequiredValidator" />
					        </p:selectOneMenu>		
					    </td>	
		    		</tr>
		    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']}" styleClass="required-field" 
			    						  rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" required="true" 
			    							 requiredMessage="#{msgs['error.accreditation.certificate.required']}"
			    							 rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}"
			    							 maxlength="200" minQueryLength="200" rows="6" cols="40" autoResize="false"
			    							 value="#{transferSecuritiesViewMgmtBean.strRejectMotive}" >
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />	
					            <p:ajax update="rejectPanel" event="change" 
					            		process="@this" listener="#{transferSecuritiesViewMgmtBean.listenerModifyMotives()}" />			 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}" />
					    </td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">       
					        <p:commandButton icon="fa fa-save" value="#{gmsgs['btn.save']}" 
					        			 	action="#{transferSecuritiesViewMgmtBean.setRejectOrAnulledProperties()}"
					        			 	disabled="#{transferSecuritiesViewMgmtBean.intRejectMotive==null}"
					        				oncomplete="PF('alterRejectWidget').hide()"
				        				    update=":opnlDialogs" /> 
				        	
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}" type="button"
											 onclick="isModifiedFormForBackMotive(cnfwCboMotive,'formPopUp:cmbProcessBackMotive')" /> 
					        				 
					        <p:commandButton id="cmbProcessBackMotive" 
					        				 value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
					        				 actionListener="#{transferSecuritiesViewMgmtBean.closeRejectOrAnulledProperties()}"
					        				 process="@this" update=":opnlDialogs" onclick="PF('alterRejectWidget').hide()" /> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:outputPanel>
	    	</p:dialog>
			<p:confirmDialog id="cnfBackMotive"
					message="#{gmsgs['message.back']}" severity="alert"
					header="#{gmsgs['lbl.header.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
						process="@this" update=":opnlDialogs"
						actionListener="#{transferSecuritiesViewMgmtBean.closeDialogRejectMotive}"
						oncomplete="PF('cnfwBackMotive').hide();PF('alterRejectWidget').hide();" />
					<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
	    	
	    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" action="#{transferSecuritiesViewMgmtBean.confirmAlertActions()}" 
								 process="@this" immediate="true"
								 update="@form"/>
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
			</p:confirmDialog>
			
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center;align:center;">         
			        <p:commandButton id="btnalterValidation" value="#{gmsgs['btn.accept']}" 
			         				 process="@this" immediate="true" 
				        			 oncomplete="PF('alterValidationWidget').hide()"
			        				 action="#{transferSecuritiesViewMgmtBean.confirmActions()}"
			        				 update=":frmCustody" > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog>
	    	
	    	
	    	<p:dialog	id="idMarketFactData" widgetVar="idMarketFactDataWidget" modal="true" 
	    				resizable="false" showHeader="false" position="top" 
 				  		showEffect="true" maximizable="false" width="800" closeOnEscape="true">  
						
	       		<p:outputPanel id="idMarketFactPanel">
	       		<p:fieldset legend="Hecho de Mercado">
	        	<table width="100%">
	        		<tr>
						<td width="30%" align="left">
							<h:outputText value="#{gmsgs['security.lbl.code']}" />
						</td>
						<td width="70%">
							<p:inputText disabled="true" style="width:70%" value="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.securityCodePk}" /> 
						</td>
					</tr>
	  				<tr>
						<td align="left">
							<h:outputText value="#{msgs['commons.label.description']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.securityDescription}"  />
						</td>
					</tr>
					<tr>
						<td align="left"><h:outputText value="#{msgs['commons.label.intrumentType']}" /></td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.instrumentDescription}" /> 
						</td>
					</tr>
					<tr>
						<td align="left">
							<h:outputText value="#{msgs['lbl.reversal.register.unblockRequest.quantity']}" />
						</td>
						<td>
							<p:inputText disabled="true" style="width:70%" value="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.balanceResult}" >
								<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							</p:inputText> 
						</td>
					</tr>
					<tr>
						<td colspan="2">
		  				<p:dataTable value="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.marketFacBalances}"  var="list" style="width:100%" 
		  				paginator="true" rows="10" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10" paginatorPosition="top" currentPageReportTemplate="({currentPage} de {totalPages})">
		  				
		  					<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.date']}"/>
								</f:facet>
								<h:outputText value="#{list.marketDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}" />
								</h:outputText>
							</p:column>

		  					<p:column styleClass="content-center">
								<f:facet name="header" >
									<h:outputText value="#{msgs['commons.label.marketfact.price']}" />
								</f:facet>

								<h:outputText value="#{(list.marketPrice!=null)?list.marketPrice:0}">
								<f:convertNumber pattern="#{gconst['conv.number.pattern.nominal.amount']}" locale="en_US"/>
								</h:outputText>
							</p:column>
							
		  					<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.tasa']}" />
								</f:facet>
								<h:outputText value="#{(list.marketRate!=null)?list.marketRate:0}">
									<f:convertNumber pattern="#{gconst['pattern.market.rate']}" locale="en_US"/>
								</h:outputText>
								<h:outputText value="%"/>
							</p:column>
							
							<p:column styleClass="content-center" rendered="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.todate}">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.total']}" />
								</f:facet>
								<h:outputText value="#{list.totalBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
													 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
						
							<p:column styleClass="content-center" rendered="#{transferSecuritiesViewMgmtBean.helpMarketFactBalanceView.todate}">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.available']}"/>
								</f:facet>
								<h:outputText value="#{list.availableBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
															 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
						
							<p:column styleClass="content-center">
								<f:facet name="header">
									<h:outputText value="#{msgs['commons.label.marketfact.quantity']}"/>
								</f:facet>
								<h:outputText value="#{list.enteredBalance}" >
									<f:convertNumber pattern="#{cons['pattern.quantity']}" 
												 locale="#{cons['conv.number.locale']}"/> 
								</h:outputText>
							</p:column>
							
						</p:dataTable>	
						</td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">
				        	
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}"  
					        				 immediate="true"  process="@this"
					        			 	 oncomplete="PF('idMarketFactDataWidget').hide()"
					        				 update=":opnlDialogs" /> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:fieldset>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
	    	
	    	
	    	</h:form>
	</p:outputPanel>

	</ui:define>
</ui:composition>
</html>