<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style>
		.cleanTable{
			background: none;
			border: none 0px;
			margin: 0px;
			padding: 0px;
		}
		.cleanTable tr td{
			background: none;
			border: none 0px;
			margin: 0px;
			padding: 0px;
		}
	</style>
		<h:form id="frmCustody">
			<table width="100%" >
			
			<p:selectOneRadio id="customRadio" value="#{transferSecuritiesViewMgmtBean.radioSelected}" layout="custom">  
		        <f:selectItem itemLabel="" itemValue="2" />  
		        <f:selectItem itemLabel="" itemValue="1" />
		        <p:ajax update="frmCustody"
		        		listener="#{transferSecuritiesViewMgmtBean.radioSelectEvent()}" 
		        		event="change"
		        		partialSubmit="false"
		        		process="@this"/>
		    </p:selectOneRadio>
			<tr>
				<td align="left">
					<h:outputText value="#{msgs['transferVD.title.queryTrasferVD']}" styleClass="title-page" />
				</td>
				<td align="right">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p:fieldset id="fldsFiltros" legend="#{msgs['tdv.legend.search']}">
						<table width="100%">
							<tr>
								<td width="25px" rowspan="1"><p:radioButton id="optSolicitud" for="customRadio" itemIndex="0"/></td>
								<td width="150px"><h:outputText value="#{msgs['commons.label.solicitudNumber']}" /></td>
								<td width="450px">
									<h:panelGrid columns="2" id="panelSolicitudNumber" cellpadding="0" cellspacing="0" >
									<p:inputText id="solicitudNumber" maxlength="10" styleClass="content-right" 
													value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.custodyOperation.operationNumber}"
													disabled="#{transferSecuritiesViewMgmtBean.radioSelected==1}">
									<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
									<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
									</p:inputText>
									<p:message display="icon" for="solicitudNumber" id="msgSolicitudNumber"/>
									</h:panelGrid>
								</td>
								<td width="25px"><p:radioButton id="optSearch" for="customRadio" itemIndex="1"/></td>
								<td width="150px">&nbsp;&nbsp;<h:outputText value="#{msgs['commons.label.transferType']}" /></td>
								<td>
									<p:selectOneMenu 	id="idTransfertype" value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.transferType}" 
														disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}" style="width: 140px;" 
													 	label="#{msgs['commons.label.transferType']}">
										<f:selectItem 	itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems 	value="#{transferSecuritiesViewMgmtBean.lstTransferType}" var="transferType" 
														itemLabel="#{transferType.parameterName}" itemValue="#{transferType.parameterTablePk}" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" event="change" update="@this frmCustody"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.participant']}" /></td>
								<td>
									<p:selectOneMenu 	id="idParticipantOrigin" value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}" 
													 	disabled="#{transferSecuritiesViewMgmtBean.flagSearchParticipant or transferSecuritiesViewMgmtBean.radioSelected==2}"
													 	 style="width: 355px;">
										<f:selectItem 	itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems 	value="#{transferSecuritiesViewMgmtBean.lstParticipant}" var="part" 
														itemLabel="#{part.displayDescriptionCode}" itemValue="#{part.idParticipantPk}" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.validParticipant}" event="change" update="@this, frmCustody:idHolderAccount, frmCustody:idIsinPanel" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody"/>
									</p:selectOneMenu>
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.state']}" /> </td>
								<td>
									<p:selectOneMenu id="idState" value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.state}" 
													disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}"  style="width: 140px;">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems value="#{transferSecuritiesViewMgmtBean.lstTransferState}" var="transferState" 
											itemLabel="#{transferState.parameterName}" itemValue="#{transferState.parameterTablePk}" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr> 
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.cuiHolder']}" /></td>
								<td>
									<arkHelp:holderHelper id="idCuiHolder" holder="#{transferSecuritiesViewMgmtBean.sourceHolder}" 
														  blParticipant="true" participant="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}"
														  disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}"
														  remoteListener="cmdHolderHelper()">
									</arkHelp:holderHelper> 
									
    								<p:remoteCommand name="cmdHolderHelper" actionListener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" 
													 process="@this idParticipantOrigin" update="frmCustody:idHolderAccount" />
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.AccountHolder']}" /></td>
								<td>
									<p:outputPanel id="idHolderAccount">
									<arkHelp:accountHelper id="idOriginAccountNumber" 
											holderAccount="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.holderAccount}"
        									blHolder="true" holder="#{transferSecuritiesViewMgmtBean.sourceHolder}" 
        									participant="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.participant.idParticipantPk}"
        									disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}"
        									remoteListener="cmdHolderAccountHelper()"/>
 
    								<p:remoteCommand name="cmdHolderAccountHelper" actionListener="#{transferSecuritiesViewMgmtBean.validHolderAccount}" 
													 process="@this" update="@this, frmCustody:idParticipantOrigin, frmCustody:idIsinPanel" 
													 oncomplete="cmdapplyStandarOwa()" />
													         
    								<p:remoteCommand name="cmdapplyStandarOwa" actionListener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" 
													 process="@this" update="frmCustody" />
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['tdv.lable.securityClass']}" /></td>
								<td colspan="4">
									<p:selectOneMenu id="securityClass" disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}" style="width: 355px;"
													 value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.securityClass}">
										<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
										<f:selectItems value="#{transferSecuritiesViewMgmtBean.lstSecurityClass}" var="instrument" 
													   itemLabel="#{instrument.text1} - #{instrument.parameterName}" 
													   itemValue="#{instrument.parameterTablePk}" />
										<p:ajax update="frmCustody" listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" />
									</p:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{gmsgs['security.lbl.code']}" /></td>
								<td colspan="4">
									<p:outputPanel id="idIsinPanel">
									<arkHelp:securityHelper id="idSourceSecurity" disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}"  
																remoteListener="validSecuritieOrigin()" 
																security="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.securities}" />
									<p:remoteCommand name="validSecuritieOrigin" actionListener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" 
													     process="@this" update="frmCustody" />			
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.initialDate']}(*)" styleClass="required-field"  /> </td>
								<td>
									<p:calendar id="idInitDateCalendar" 
												readonlyInput="true" 
												mindate="#{transferSecuritiesViewMgmtBean.minTime}"
												navigator="true" maxdate="#{transferSecuritiesViewMgmtBean.nowTime}"
												value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.custodyOperation.operationInit}" 
												showOn="both" pattern="#{msgs['dateFormat']}" 
												disabledWeekends="true"
												size="10"
												disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}">
									<p:ajax event="dateSelect" process="@this" update="@this, idInitDateCalendar, idEndDateCalendar"  
											listener="#{transferSecuritiesViewMgmtBean.onchangeInitialDate()}"/>
									<p:ajax listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:calendar>
								</td>
								<td></td>
								<td><h:outputText value="#{msgs['commons.label.endDate']}(*)" styleClass="required-field"  /> </td>
								<td>
									<p:calendar id="idEndDateCalendar" 
												readonlyInput="true" 
												size="10"
												disabledWeekends="true"
												mindate="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.custodyOperation.operationInit}"
												navigator="true" maxdate="#{transferSecuritiesViewMgmtBean.nowTime}"
												value="#{transferSecuritiesViewMgmtBean.searchSecurityTransferOperation.custodyOperation.operationEnd}" 
												showOn="both" pattern="#{msgs['dateFormat']}"  
												disabled="#{transferSecuritiesViewMgmtBean.radioSelected==2}">
									<p:ajax event="dateSelect" process="@this" update="@this, idInitDateCalendar, idEndDateCalendar"  
											listener="#{transferSecuritiesViewMgmtBean.onchangeEndDate()}"/>
									<p:ajax listener="#{transferSecuritiesViewMgmtBean.applyStandarOwa}" event="change" update="frmCustody" />
									</p:calendar>
								</td>
							</tr>
							<tr>
								<td colspan="6" align="center">
							
									<p:commandButton id="btnSearchWO" icon="fa fa-search" value="#{gmsgs['btn.search']}"
													 action="#{transferSecuritiesViewMgmtBean.searchWithOperationNumber()}"
													 rendered="#{transferSecuritiesViewMgmtBean.flagSearch and transferSecuritiesViewMgmtBean.radioSelected==2}"
													 update="frmCustody:pnlRegisterFound, frmCustody:solicitudNumber" /> 
													 		
									<p:commandButton id="btnSearch" icon="fa fa-search" value="#{gmsgs['btn.search']}"
													 action="#{transferSecuritiesViewMgmtBean.searchSolicitud()}"
													 process="frmCustody:fldsFiltros"
													 rendered="#{transferSecuritiesViewMgmtBean.flagSearch and transferSecuritiesViewMgmtBean.radioSelected==1}"
													 update="frmCustody:pnlRegisterFound" />
													 
									<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />	
												 
									<p:commandButton id="btnClean" icon="fa fa-trash" action="#{transferSecuritiesViewMgmtBean.clearSearchTransfer()}" 
													 value="#{gmsgs['btn.clean']}" update="@form" process="@this" immediate="true"/> 
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p:outputPanel id="pnlRegisterFound">
					
					<p:outputPanel rendered="#{not empty transferSecuritiesViewMgmtBean.lstTransferSecurityAvailable}">
					  			  
					</p:outputPanel>				 			
					
					
					
					<marketFact:marketfactBalance id="balancemarket1" bean="#{transferSecuritiesViewMgmtBean}"  
												  method="selectMarketFactBalanceSearch" parameter="holderMarketFactBalance">
					</marketFact:marketfactBalance>
									 		
					<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
								rendered="#{not empty transferSecuritiesViewMgmtBean.lstTransferSecurityAvailable}">
					
					
						<p:dataTable id="dtbResult" 
								paginator="true" rows="10" paginatorPosition="top"
								currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
								paginatorTemplate="#{msgs['dtb.paginator.template']}"
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
								value="#{transferSecuritiesViewMgmtBean.dataModelTransferSecurityAvailable}" 
								var="transferSecurityAvailable" rowIndexVar="rIndx"
								rowKey="#{transferSecurityAvailable.custodyOperation.operationNumber}"
								selection="#{transferSecuritiesViewMgmtBean.arrSecurityTransferOperation}">
								
								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="#{msgs['tvd.tab.numberSol']}" sortBy="#{transferSecurityAvailable.custodyOperation.operationNumber}" />
										<p:column headerText="#{msgs['tvd.tab.regDate']}" style="width:40px" sortBy="#{transferSecurityAvailable.custodyOperation.operationDate}" />
										<p:column headerText="#{msgs['tvd.tab.originParticipant']}"  sortBy="#{transferSecurityAvailable.sourceParticipant.displayCodeMnemonic}"/> 
										<p:column headerText="#{msgs['tvd.tab.originAccount']}" sortBy="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}"/>
										<p:column headerText="#{msgs['tvd.tab.targetParticipant']}" sortBy="#{transferSecurityAvailable.targetParticipant.displayCodeMnemonic}"/> 
										<p:column headerText="#{msgs['tvd.tab.targetAccount']}" sortBy="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" />
										<p:column headerText="#{msgs['tvd.tab.holderName']}"  /> 
										<p:column headerText="#{gmsgs['security.lbl.code']}" sortBy="#{transferSecurityAvailable.securities.idSecurityCodePk}"/>
										<p:column headerText="#{msgs['tvd.tab.quantity']}" sortBy="#{transferSecurityAvailable.quantityOperation}"/>
										<p:column headerText="#{msgs['tvd.tab.state']}" sortBy="#{transferSecurityAvailable.stateDescription}"/>
									</p:row>
								</p:columnGroup>
							
								<p:column style="text-align: center;">
									<p:commandLink style="color:blue" action="#{transferSecuritiesViewMgmtBean.postConstructorView(transferSecurityAvailable,'none')}"  
									process="@this" immediate="true" value="#{transferSecurityAvailable.custodyOperation.operationNumber}" />
								</p:column>
								
								<p:column style="text-align: right;">
									<h:outputText  value="#{transferSecurityAvailable.custodyOperation.operationDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>
								
								<p:column style="text-align: left;">
									<h:outputText  value="#{transferSecurityAvailable.sourceParticipant.displayCodeMnemonic}" title="#{transferSecurityAvailable.sourceParticipant.description}"/>
								</p:column>
								
								<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesViewMgmtBean.isDepositary or (transferSecuritiesViewMgmtBean.isParticipant and transferSecuritiesViewMgmtBean.participantLogin.equals(transferSecurityAvailable.sourceParticipant.idParticipantPk))}">
										
										<h:inputText value="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}" 
													 rendered="#{(transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource)}"
													 disabled="true">
										</h:inputText>
										
										
										<p:selectOneMenu id="idAccountSource" value="#{transferSecurityAvailable.sourceHolderAccount.accountNumber}"  style="text-align:left !important;align:left !important;"
													 	 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}">
										<f:selectItem   itemLabel="#{gmsgs['cbo.opt.select']}" itemValue=""  style="text-align:left !important;align:left !important;"/>
										<f:selectItems  value="#{transferSecuritiesViewMgmtBean.lstSourceAccountToSearch(transferSecurityAvailable.custodyOperation.operationNumber)}" var="transferState"  style="text-align:left !important;align:left !important;"
														itemLabel="#{transferState.accountNumber}" itemValue="#{transferState.accountNumber}" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.settingSourceAccountContrapart(transferSecurityAvailable)}" event="change" 
													update=":frmCustody:pnlRegisterFound" />
										</p:selectOneMenu>
									
											 
									</p:outputPanel>
								</p:column>
								
								<p:column style="text-align: left;">
									<h:outputText value="#{transferSecurityAvailable.targetParticipant.displayCodeMnemonic}" title="#{transferSecurityAvailable.targetParticipant.description}"/>
								</p:column>
								
								<p:column style="text-align: right;">
									<p:outputPanel rendered="#{transferSecuritiesViewMgmtBean.isDepositary or (transferSecuritiesViewMgmtBean.isParticipant and transferSecuritiesViewMgmtBean.participantLogin.equals(transferSecurityAvailable.targetParticipant.idParticipantPk))}">
									
									<h:inputText value="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" 
												 rendered="#{(transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and !transferSecurityAvailable.flagTargetSource)}"
												 disabled="true">
									</h:inputText>
										
									<p:selectOneMenu id="idAccountTarget" value="#{transferSecurityAvailable.targetHolderAccount.accountNumber}" style="text-align:left !important;align:left !important;"
													 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and !transferSecurityAvailable.flagTargetSource}">
										<f:selectItem   itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" style="text-align:left !important;align:left !important;" />
										<f:selectItems  value="#{transferSecuritiesViewMgmtBean.lstTargetAccountToSearch(transferSecurityAvailable.custodyOperation.operationNumber)}" var="transferState"  style="text-align:left !important;align:left !important;"
														itemLabel="#{transferState.accountNumber}" itemValue="#{transferState.accountNumber}" />
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.settingTargetAccountContrapart(transferSecurityAvailable)}" event="change" 
												update=":frmCustody:pnlRegisterFound" />
									</p:selectOneMenu>
											
									</p:outputPanel>		
								</p:column>
								
								<p:column style="text-align: left;">
								<p:outputPanel rendered="#{transferSecurityAvailable.transferType == 526}">
									<h:outputText value="#{transferSecurityAvailable.targetHolderAccount.accountRntAndDescription}" escape="false" />
								</p:outputPanel>
								<p:outputPanel rendered="#{transferSecurityAvailable.transferType == 525 or transferSecurityAvailable.transferType == 196}">
									<h:outputText value="#{transferSecurityAvailable.sourceHolderAccount.accountRntAndDescription}" escape="false" />
								</p:outputPanel>
								</p:column>
								
								<p:column style="text-align: left;">
									<arkHelp:securities-help securityCode="#{transferSecurityAvailable.securities.idSecurityCodePk}" link="true" icon="false" />
								</p:column>
								
								<p:column style="text-align: right;">
									<h:outputText value="#{transferSecurityAvailable.quantityOperation}" 
												  rendered="#{ (transferSecurityAvailable.checkForReview and transferSecurityAvailable.enabledForReview) or !(transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource)}">
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>
								    </h:outputText>
								    
								    <h:panelGrid columns="2" width="100%" border="0" cellpadding="0" cellspacing="0" styleClass="cleanTable"
								    			 rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}">
	        		
						    		<p:inputText style="text-align:right;width:100px !important" value="#{transferSecurityAvailable.quantityOperation}" disabled="true" 
												 maxlength="12" size="12" rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}"  
												 styleClass="amount-inputfield cashAmount-inputField">
									<f:convertNumber pattern="#{cons['pattern.quantity']}" locale="#{cons['conv.number.locale']}"/> 
							        </p:inputText>
						    		<h:commandButton value="..." rendered="#{transferSecurityAvailable.checkForReview and !transferSecurityAvailable.enabledForReview and transferSecurityAvailable.flagTargetSource}"
													 styleClass="#{transferSecurityAvailable.styleClassButton}"
													 disabled="#{transferSecurityAvailable.sourceHolderAccount.idHolderAccountPk==null }">
										<p:ajax listener="#{transferSecuritiesViewMgmtBean.showMarketFactUISearch(transferSecurityAvailable)}" process="@this" event="click" />
									</h:commandButton> 
									</h:panelGrid>
								</p:column>
								
								
								<p:column style="text-align: center;">
									<h:outputText value="#{transferSecurityAvailable.stateDescription}"/>
								</p:column>

					 			<f:facet name="footer"> 
					             <div style="width:100%; text-align:left">        
					             <h:outputLabel value="#{transferSecuritiesViewMgmtBean.lstTransferSecurityAvailable.size()} #{msgs['lbl.results']}" 
					             style="font-weight:bold;"/>
					             </div>
					            </f:facet>
						</p:dataTable>
						
					</p:fieldset>


						<p:fieldset legend="#{msgs['tdv.legend.findRegister']}" 
									rendered="#{!transferSecuritiesViewMgmtBean.registersFound}">
							<h:outputLabel value="#{msgs['lbl.search.no.result']}" style="font-weight:bold;"/>
						</p:fieldset>
														
					</p:outputPanel>	
				</td>
			</tr>
			</table>
		</h:form>

	<!-- Alters -->
	<p:outputPanel id="opnlDialogs">
		<h:form id="formPopUp">
			
			<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
				message="#{bodyMessageView}" header="#{headerMessageView}" closable="false"> 
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" action="#{transferSecuritiesViewMgmtBean.confirmAlertActions()}" 
								 process="@this" immediate="true"
								 update="@form"/>
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
			</p:confirmDialog>
			
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" value="#{gmsgs['btn.accept']}" 
			         				 process="@this" immediate="true" 
				        			 oncomplete="PF('alterValidationWidget').hide()"
			        				 action="#{transferSecuritiesViewMgmtBean.confirmActions()}"
			        				 update=":frmCustody" > 
		        	</p:commandButton>   
		        </h:panelGrid>
	                  
	    	</p:confirmDialog> 
	    	
	    	<p:dialog	id="alterReject" closable="false" resizable="false" header="#{headerMessageView}" 
						severity="alert" widgetVar="alterRejectWidget" >  
						
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	        		<tr>
			    		<td><h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']}" /></td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['error.accreditation.certificate.required']}" 
											 value="#{transferSecuritiesViewMgmtBean.intRejectMotive}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
					           <f:selectItems	value="#{transferSecuritiesViewMgmtBean.rejectMotiveList}" var="rejectMotive" 
					           					itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
		    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']}" styleClass="required-field" 
			    						  rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" required="true" 
			    							 requiredMessage="#{msgs['error.accreditation.certificate.required']}"
			    							 rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}"
			    							 value="#{transferSecuritiesViewMgmtBean.strRejectMotive}"
			    							 maxlength="200" minQueryLength="200" rows="6" cols="40" autoResize="false">
								<p:ajax process="@this" event="blur"  />
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />				 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{transferSecuritiesViewMgmtBean.intRejectMotive==transferSecuritiesViewMgmtBean.otherRejectMotiveId}" />
					    </td>
			    	</tr>
	       			<tr>
	       				<td colspan="2" align="center">       
					        <p:commandButton icon="fa fa-save" value="#{gmsgs['btn.save']}" 
					        			 	action="#{transferSecuritiesViewMgmtBean.setRejectOrAnulledAllProperties()}"
					        			 	disabled="#{transferSecuritiesViewMgmtBean.intRejectMotive==null}"
					        			 	oncomplete="PF('alterRejectWidget').hide()"
				        				    update=":opnlDialogs" /> 
				        	
				        	<p:commandButton icon="fa fa-undo" value="#{gmsgs['btn.back']}"  
					        				 immediate="true"  process="@this"
					        				 actionListener="#{transferSecuritiesViewMgmtBean.closeRejectOrAnulledProperties()}"
					        			 	 oncomplete="PF('alterRejectWidget').hide()"
					        				 update=":opnlDialogs" /> 
	                  </td>
	       			</tr>
	       		</table>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
	    	
	    	
	    </h:form>
	</p:outputPanel>


	</ui:define>
</ui:composition>
</html>