<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
 
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">	

<h:outputText value="#{gmsgs['iAccounts.participant.block.unblock.anull.manage.title']}"
		styleClass="title-page" />

	<h:form id="frmGeneral">
		<table width="100%">
			<tr>
				<td align="right"><p:commandButton value="#{msgs['btn.register']}" icon="fa fa-edit" process="@this"
						onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)" rendered="#{userPrivilege.userAcctions.register and participantBlockMgmtBean.allowSearchAll}"
						action="#{participantBlockMgmtBean.loadRegisterParticipantRequest}" ajax="false">
					</p:commandButton></td>
			</tr>			
			<tr>
					<td><p:fieldset id="fldsFiltros"
							legend="#{msgs['lbl.criteria.search']}">
							<table width="100%">
								<tr>
									<td width="100px"><h:outputText value="#{msgs['adm.participant.code']}" /></td>
									<td>										
										<p:inputText value="#{participantBlockMgmtBean.participantTO.idParticipantPk}" style="width:50px"
											 id="txtParticipantCode"  maxlength="5" disabled="#{not participantBlockMgmtBean.allowSearchAll}">
												<p:keyFilter mask="pnum"/>
										</p:inputText>										
									</td>
									<td width="60px">
										<p:message id="msgTxtParticipantCode" for="txtParticipantCode" display="icon"/>
									</td>
									<td width="100px"><h:outputText value="#{msgs['adm.participant.mnemonic']}" /></td>
									<td><p:inputText id="txtMnemonic" 
									 disabled="#{not participantBlockMgmtBean.allowSearchAll}"
									value="#{participantBlockMgmtBean.participantTO.mnemonic}" maxlength="8" >
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space.with.asterisk']}"/>
									</p:inputText>
									</td>
									<td width="60px">
										<p:message id="msgTxtMnemonic" for="txtMnemonic" display="icon"/>
									</td>
									<td width="100px"> 
											<h:outputText value="#{msgs['adm.participant.tradename']}" />
									</td>
									<td colspan="4"> 
											<p:inputText value="#{participantBlockMgmtBean.participantTO.description}"
														 id="txtTradeName" maxlength="150" 
														 style="width:500px;"
														 disabled="#{not participantBlockMgmtBean.allowSearchAll}" >
														<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name.with.asterisk']}"/>
											</p:inputText>
									</td>
									<td>
										<p:message id="msgTxtTradeName" for="txtTradeName" display="icon"/>
									</td>
								</tr>
								<tr>
										<td><h:outputText value="#{msgs['adm.participant.doctype']}" /></td>
										<td>
											<p:selectOneMenu label="#{msgs['adm.participant.doctype']}" id="cboDocumentType" 
												disabled="#{not participantBlockMgmtBean.allowSearchAll}"
													value="#{participantBlockMgmtBean.participantTO.documentType}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantBlockMgmtBean.lstParticipantDocumentType}" var="item" 
													itemLabel="#{item.indicator1}" itemValue="#{item.parameterTablePk}"/>	
												<p:ajax event="change" listener="#{participantBlockMgmtBean.changeParticipantDocumentTypeSearch}"
													update=":frmGeneral:txtDocumentNumber"/>											
											</p:selectOneMenu>
										</td>
										<td>
											<p:message id="msgCboDocumentType" for="cboDocumentType" display="icon"/>
										</td>
										<td ><h:outputText value="#{msgs['adm.participant.docnumber']}" /></td>
										<td>
											<p:inputText  id="txtDocumentNumber" maxlength="15"										
											 value="#{participantBlockMgmtBean.participantTO.documentNumber}" 
											 disabled="true">												
												<p:keyFilter id="kfDocumentNumber"/>
											</p:inputText>
										</td>
										<td>
											<p:message id="msgTxtDocumentNumber" for="txtDocumentNumber" display="icon"/>
										</td>
										<td><h:outputText value="#{msgs['adm.participant.block.requesttype']}" /></td>
										<td>
											<p:selectOneMenu id="cboRequestType" style="width:190px" value="#{participantBlockMgmtBean.participantTO.participantRequestTO.requestType}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
												<f:selectItems value="#{participantBlockMgmtBean.lstParticipantRequestType}" var="item" 
														itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>											
											</p:selectOneMenu>
										</td>
										<td>
											<p:message id="msgCboRequestType" for="cboRequestType" display="icon"/>
										</td>
										<td><h:outputText value="#{msgs['adm.participant.block.requestnumber']}" /></td>
										<td>
											<p:inputText  id="txtRequestNumber" maxlength="15" 											 
											value="#{participantBlockMgmtBean.participantTO.participantRequestTO.requestNumber}" >
													<p:keyFilter mask="pint"/>
											</p:inputText>
										</td>
										<td>
											<p:message id="msgTxtRequestNumber" for="txtRequestNumber" display="icon"/>
										</td>
									</tr>							
								<tr>
									<td><h:outputText value="#{msgs['lbl.general.state']}" /></td>
									<td>
										<p:selectOneMenu id="cboStateRequest"
											value="#{participantBlockMgmtBean.participantTO.participantRequestTO.stateParticipantRequest}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems value="#{participantBlockMgmtBean.lstParticipantRequestState}" var="item" 
													itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
											<p:ajax event="change" update="cboStateRequest msgCboStateRequest" />
										</p:selectOneMenu>
									</td>
									<td>
											<p:message id="msgCboStateRequest" for="cboStateRequest" display="icon"/>
									</td>
									<td>
										<h:outputText value="#{msgs['lbl.general.beginningdate']}" />
									</td>									
									<td>
										<p:calendar id="calBeginDate" showOn="both" pattern="#{msgs['dateFormat']}"  maxlength="10" 
										value="#{participantBlockMgmtBean.participantTO.participantRequestTO.initiaRequestDate}"
										maxdate="#{participantBlockMgmtBean.currentSystemDate}" size="10"
										navigator="true" yearRange="1900:c" readonlyInput="true" />
									</td>
									<td>
										<p:message id="msgCalBeginDate" for="calBeginDate" display="icon"/>
									</td>
									<td><h:outputText value="#{msgs['lbl.general.endingdate']}" /></td>
									<td><p:calendar id="calEndDate" showOn="both" pattern="#{msgs['dateFormat']}"  maxlength="10"
										maxdate="#{participantBlockMgmtBean.currentSystemDate}" size="10"
										value="#{participantBlockMgmtBean.participantTO.participantRequestTO.endRequestDate}" 
										navigator="true" yearRange="1900:c+100" readonlyInput="true" /></td>
									<td>
										<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
									</td>
								</tr>
								<tr>
									<td colspan="12" align="center">
										<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
										update="@form :opnlGenericDialogs"
										rendered="#{userPrivilege.userAcctions.search}"
											actionListener="#{participantBlockMgmtBean.searchParticipanRequests}" />
											
										<p:commandButton value="#{msgs['btn.clean']}" update="@form" process="@this"
										actionListener="#{participantBlockMgmtBean.cleanSearchParticipantRequest}" icon="fa fa-trash" />
									</td>
								</tr>								
							</table>
							</p:fieldset></td>	
							</tr>
						</table>
							
							<table width="100%">
								<tr>
									<td height="5px"></td>
								</tr>
								<tr>	
									<td width="100%">
										<h:panelGroup id="pnlActions" rendered="#{participantBlockMgmtBean.participantRequestDataModel != null}">
												<p:outputPanel id="modificationFields" rendered="#{participantBlockMgmtBean.participantRequestDataModel.rowCount>=1}">
													<p:commandButton value="#{msgs['btn.confirm']}"  icon="ui-approve" 																								
													disabled="#{participantBlockMgmtBean.indDisableConfirnReject}"													
													action="#{participantBlockMgmtBean.detailParticipantRequestForConfirm}"
													rendered="#{userPrivilege.userAcctions.confirm and participantBlockMgmtBean.allowSearchAll}"
													update=":opnlDialogs :opnlGenericDialogs"/>
													<p:commandButton value="#{msgs['btn.reject']}"  icon="ui-cancel" 																									
													disabled="#{participantBlockMgmtBean.indDisableConfirnReject}"
													action="#{participantBlockMgmtBean.detailParticipantRequestForReject}"
													rendered="#{userPrivilege.userAcctions.reject and participantBlockMgmtBean.allowSearchAll}"
													update=":opnlDialogs :opnlGenericDialogs"/>
												</p:outputPanel>
										</h:panelGroup>
									</td>
								</tr>	
								<tr>
									<td width="100%">
										<p:outputPanel id="pnlResult" rendered="#{participantBlockMgmtBean.participantRequestDataModel != null}">
											<p:fieldset id="fldResult" legend="#{msgs['lbl.results']}"  >
											<p:dataTable id="dtbParticipantRequests" var="partReq"
												value="#{participantBlockMgmtBean.participantRequestDataModel}" paginator="true"
												rows="10" paginatorPosition="top"
												currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
												paginatorTemplate="#{msgs['dtb.paginator.template']}"
												rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"							
												resizableColumns="true"
												selection="#{participantBlockMgmtBean.participantRequest}"
												rendered="#{participantBlockMgmtBean.participantRequestDataModel.rowCount>=1}"
												>
				
												<p:column selectionMode="single" style="width:18px" />
				
												<p:column sortBy="#{partReq.requestNumber}" headerText="#{msgs['adm.participant.block.dtb.search.head.reqnum']}" width="7%">
													<p:commandLink process="@this" value="#{partReq.requestNumber}" 
														onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
													 	action="#{participantBlockMgmtBean.detailParticipantRequest}" ajax="false">
														<f:setPropertyActionListener target="#{participantBlockMgmtBean.idParticipantRequestPk}"
														 value="#{partReq.idParticipantRequestPk}" />
													</p:commandLink>
												</p:column>
				
												<p:column sortBy="#{partReq.participant.displayCodeMnemonic}" headerText="#{msgs['adm.participant.block.dtb.search.head.participantdescripcode']}" width="10%">
													<p:commandLink value="#{partReq.participant.displayCodeMnemonic}" update=":dlgParticipantHistoryStates"
													 	action="#{participantBlockMgmtBean.showParticipantHistoryStates}">
													 	<f:setPropertyActionListener target="#{participantBlockMgmtBean.idParticipantPk}"
														 value="#{partReq.participant.idParticipantPk}" />
													 </p:commandLink>
												</p:column>
												
												<p:column sortBy="#{partReq.participant.documentNumber}" headerText="#{msgs['adm.participant.docnumber']}" width="10%">
													<h:outputText value="#{partReq.participant.documentNumber}"/>
												</p:column>
												
												<p:column sortBy="#{partReq.participant.description}" headerText="#{msgs['adm.participant.tradename']}">
													<h:outputText value="#{partReq.participant.description}"/>
												</p:column>
				
												<p:column sortBy="#{partReq.registryDate}" headerText="#{msgs['adm.participant.block.dtb.search.head.regdate']}" width="9%">
													<h:outputText value="#{partReq.registryDate}">
														<f:convertDateTime pattern="#{msgs['dateFormat']}" />
													</h:outputText>
												</p:column>
												
												<p:column sortBy="#{partReq.requestTypeDescription}" headerText="#{msgs['adm.participant.block.dtb.search.head.reqtype']}" width="9%">
													<h:outputText value="#{partReq.requestTypeDescription}" />
												</p:column>
												
												<p:column sortBy="#{partReq.requestMotiveDescription}" headerText="#{msgs['adm.participant.block.dtb.search.head.motive']}" width="18%">
													<h:outputText value="#{partReq.requestMotiveDescription}"/>
												</p:column>
												
												<p:column sortBy="#{partReq.participantRequestStateDescription}" headerText="#{msgs['adm.participant.block.dtb.search.head.staterequest']}" width="10%">
													<h:outputText value="#{partReq.participantRequestStateDescription}" />
												</p:column>
												
												<f:facet name="footer">	
													<div style="width:100%; text-align:left">								
													<h:outputLabel value="#{participantBlockMgmtBean.participantRequestDataModel.rowCount} #{msgs['lbl.results']}" 
													style="font-weight:bold;"/>
													</div>
												</f:facet>
												
												<p:ajax event="rowSelectRadio" process=":frmGeneral:dtbParticipantRequests" update=":frmGeneral:pnlActions"
													listener="#{participantBlockMgmtBean.changeSelectedParticipantRequest}"/>
												
											</p:dataTable>
											
											<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
												rendered="#{!(participantBlockMgmtBean.participantRequestDataModel.rowCount>=1)}"
												style="font-weight:bold;"/>
											
											</p:fieldset>
											
											
									</p:outputPanel>
									</td>
								</tr>							
							</table>
</h:form>

<p:outputPanel id="opnlDialogs">	
	
	<p:dialog id="dlgParticipantHistoryStates" modal="true" resizable="false" closable="false"				
                header="#{msgs['adm.participant.historystate.title']}" widgetVar="dlgwParticipantHistoryStates">
    	<h:form id="frmParticipantHistoryStates">    
	        <p:outputPanel>
	        <table>
		        <tr>
		        	<td width="100%">
		        	<p:panel id="pnlResultHistoricStates">
		        	<p:dataTable id="dtbParticipantRequests" var="partHist"
							value="#{participantBlockMgmtBean.lstParticipantHistoryStates}" paginator="true"
							rows="10" paginatorPosition="top"
							currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
							paginatorTemplate="#{msgs['dtb.paginator.template']}"
							rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"		
							rendered="#{not empty participantBlockMgmtBean.lstParticipantHistoryStates}">

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.block.dtb.participantstate.head.participantcode']}" />
								</f:facet>
								<h:outputText value="#{partHist.participant.idParticipantPk}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.block.dtb.participantstate.head.tradename']}" />
								</f:facet>
								<h:outputText value="#{partHist.participant.description}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.block.dtb.participantstate.head.modifydate']}" />
								</f:facet>
								<h:outputText value="#{partHist.updateStateDate}">
									<f:convertDateTime pattern="#{msgs['dateFormat']}" />
								</h:outputText>
							</p:column>
							
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.block.dtb.participantstate.head.beforestate']}"/>
								</f:facet>
								<h:outputText value="#{partHist.oldStateDescription}" />
							</p:column>
							
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['adm.participant.block.dtb.participantstate.head.currentstate']}"/>
								</f:facet>
								<h:outputText value="#{partHist.newStateDescription}" />
							</p:column>											
							
						</p:dataTable>
						
						<h:outputLabel value="#{msgs['adm.participant.block.dtb.participantstate.empty']}" 
												rendered="#{empty participantBlockMgmtBean.lstParticipantHistoryStates}"
												style="font-weight:bold;"/>		
						</p:panel>				
		        	</td>
		        </tr>
	        </table>
	        </p:outputPanel>

		<h:panelGrid id="gridButtons" columns="1" style="text-align:center" width="100%">
			<p:outputPanel>
	        <p:commandButton value="#{msgs['btn.back']}" type="button" icon="fa fa-undo"
									onclick="PF('dlgwParticipantHistoryStates').hide()"/>
	       </p:outputPanel>
		</h:panelGrid>
           </h:form>
    </p:dialog>
			    
</p:outputPanel>

</ui:define>
</ui:composition>
</html>