<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['screen.register.channelOpening.title']}" styleClass="title-page" />
		
		<h:form id="frmCustody">
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['retiro.header.msg']}" >
							<table width="100%"> 
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['deposito.participant.lbl']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="cboparticipant" value="#{channelOpeningMgmtBean.modelTOReg.idParticipantSelected}" 
															  disabled="#{channelOpeningMgmtBean.modelTOReg.userIsParticipant}" 
															  style="width:480px;" label="#{msgs['message.validation.oneparticipant']}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{channelOpeningMgmtBean.modelTOReg.lstParticipant}" var="participantReg" 
															   itemLabel="#{participantReg.displayDescriptionCode}" itemValue="#{participantReg.idParticipantPk}" />
												<p:ajax event="change" update="@this validatePart"/>
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validatePart" for="cboparticipant" display="icon" />
										</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.channelOpening.fecha']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="fechaAperturaCanal" 
														readonlyInput="true" 
														size="10"
														maxlength="10" 
														value="#{channelOpeningMgmtBean.modelTOReg.dateChannelOpening}"
														mindate="#{channelOpeningMgmtBean.modelTOReg.channelOpnDateWithoutOneDay}" 
														pattern="#{msgs['dateFormat']}" 
														showOn="button"
														navigator="true"
														disabledWeekends="true"
														required="true" >
												<f:validator validatorId="calendarRequiredValidator" />	
												<f:param name="skipValidation" value="true"/>
												<p:ajax event="dateSelect" update="@this" process="@this" />
											</p:calendar>
											<p:message id="validateFechaAperturaCanal" for="fechaAperturaCanal" display="icon" />
										</h:panelGrid>
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.channelOpening.initHour']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="timeInitHour" value="#{channelOpeningMgmtBean.modelTOReg.initialHour}" pattern="HH:mm" timeOnly="true" 
												readonlyInput="true" showOn="button"
												minHour="8" maxHour="15" >
												<f:validator validatorId="calendarRequiredValidator" />	
												<f:param name="skipValidation" value="true"/>
												<p:ajax event="dateSelect" update="@this" process="@this" listener="#{channelOpeningMgmtBean.validateHourInitialAndFinal}" />
											</p:calendar>
											<p:message for="timeInitHour" display="icon" id="iconTimeInitHour"/>
										</h:panelGrid>
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.channelOpening.finalHour']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="timeFinaltHour" value="#{channelOpeningMgmtBean.modelTOReg.finalHour}" pattern="HH:mm" timeOnly="true"
												showOn="button" readonlyInput="true"
												minHour="9" maxHour="16" >
												<f:validator validatorId="calendarRequiredValidator" />	
												<f:param name="skipValidation" value="true"/>
												<p:ajax event="dateSelect" update="@this" process="@this" listener="#{channelOpeningMgmtBean.validateHourInitialAndFinal}" />
											</p:calendar>
											<p:message for="timeFinaltHour" display="icon" id="iconTimeFinaltHour"/>
										</h:panelGrid>	
									</td>
								</tr>
								
								<tr>
									<td width="25px"></td>
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.channelOpening.motive']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:selectOneMenu  id="somMotiveChannelOpen" value="#{channelOpeningMgmtBean.modelTOReg.motiveChannelOpeningSelected}" 
															  style="width:250px;" label="#{msgs['validation.required.motive']}" >
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{channelOpeningMgmtBean.modelTOReg.lstMoviveChannelOpen}" var="motiveChannelOpenReg" 
															   itemLabel="#{motiveChannelOpenReg.parameterName}" itemValue="#{motiveChannelOpenReg.parameterTablePk}" />
												<p:ajax event="change" update="@this validateMotive frmCustody:pgLabelChannelOpenig"/>
												<f:validator validatorId="selectOneRequiredValidator" />
												<f:param name="skipValidation" value="true"/>
											</p:selectOneMenu>
											<p:message id="validateMotive" for="somMotiveChannelOpen" display="icon" />
										</h:panelGrid>	
									</td>
									
									<td width="150">
										<h:outputText value="#{msgs['lbl.register.channelOpening.observation']} (*)" styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputTextarea id="itaObservation" maxlength="1000"
				    							required="true"
				    							requiredMessage="#{msgs['validation.required.observation.channelOpen']}"
				    							style="width:300px;" value="#{channelOpeningMgmtBean.modelTOReg.observationChannelOpening}">
							    				<f:validator  validatorId="inputRequiredValidator" />
							    				<f:param name="skipValidation" value="true"/>	
							    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
							    			</p:inputTextarea>
							    			<p:message for="itaObservation"  display="icon" />
						    			</h:panelGrid>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				
				<tr>
					<td align="center" colspan="4"> 
						<p:outputPanel >
						<p:commandButton value="#{gmsgs['btn.save']}" 
										 icon="fa fa-save" 
										 action="#{channelOpeningMgmtBean.beforeSave}"
										 process="@this frmCustody" update="frmCustody :opnlGenericDialogs :opnlDialogs" >
						</p:commandButton> 
										 
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
										
						<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" immediate="true" process="@this" 
										 onclick="return showCleanConfirmDialog(this);" oncomplete="PF('cnfwClean').hide()"
										 actionListener="#{channelOpeningMgmtBean.btnClearRegister}" update="@form" />
						
						<p:outputLabel value="#{gmsgs['lbl.space']}" escape="false" />
						
						<p:commandButton value="#{gmsgs['btn.back']}" 
										 icon="fa fa-undo" immediate="true"
										 onclick="if(isModifiedFormForBack(this,'frmCustody'))return false;"
										 action="#{channelOpeningMgmtBean.goPageSearch}"
										 process="@this" >
						</p:commandButton> 
						
						</p:outputPanel>
						
					</td> 
				</tr>
			</table>
			<br/>
			<div align="center">
			<h:panelGrid style="margin: 0 auto;" id="pgLabelChannelOpenig">
				<h:outputText value="#{msgs['lbl.motive.channel.opening']}" rendered="#{channelOpeningMgmtBean.modelTOReg.motiveChannelOpeningSelected eq 2470}" />
			</h:panelGrid>
				
			</div>
			
		</h:form>
		
		<p:outputPanel id="opnlDialogs">
		
			<p:confirmDialog id="alterValidation"  message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="PF('alterValidationWidget').hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog>
			
			<p:confirmDialog id="cnfChannelOpeningRegiter" message="#{bodyMessageView}"  
						rendered="false" visible="true" closable="false"
		                header="#{headerMessageView}" severity="alert" widgetVar="cnfChannelOpeningRegiter" > 
				<h:form id="frmConfirmChannelOpRegister"> 
		        	<p:commandButton id="cmbYes" process="@this"
	    						 value="#{msgs['btn.yes']}" update=":frmConfirmChannelOpRegister :opnlDialogs"
	    						 actionListener="#{channelOpeningMgmtBean.saveRegisterChannelOpening}"	    						 
	    						 oncomplete="PF('cnfChannelOpeningRegiter').hide()"/>
	    			&nbsp;&nbsp;
	    			<p:commandButton id="cmbNo"
	    						 value="#{msgs['btn.no']}"
	    						 actionListener="#{channelOpeningMgmtBean.hideDialogsListener}"
	    						 oncomplete="PF('cnfChannelOpeningRegiter').hide()"/>	
				</h:form>          
			</p:confirmDialog>
			
			<p:confirmDialog id="cnfEndTransactionChannelOpening" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="cnfEndTransactionChannelOpening" > 
		        <h:form id="frmEndTransactionChannelOpening"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton id="cmbConfirmTransactionOk" 
			        				 value="#{msgs['btn.accept']}" 
			        				 action="searchChannelOpening"
			        				 ajax="false" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
	    	<p:confirmDialog id="validationChannelOpening" message="#{bodyMessageView}"
	    			rendered="false" visible="true" closable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="validationChannelOpening" > 
		        <h:form id="frmvalidationChannelOpening"> 
		        	<h:panelGrid width="100%" border="0" 
		        		cellpadding="2" cellspacing="2" style="text-align:center;">	        			        		
		        		        
				        <p:commandButton
			        				 value="#{msgs['btn.accept']}" 
			        				 oncomplete="PF('validationChannelOpening').hide()" > 
			        	</p:commandButton>   
			        </h:panelGrid>
		        </h:form>          
	    	</p:confirmDialog>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>