<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	 $(window).load(function(){
	  setInitialFormState('#frmReportLogger');
	  setAllHolidays('#{reportMonitoringMgmtBean.allHolidays}');
	 });  
	 
	</script>
<h:outputText value="#{msgs['lbl.reportlogger.title']}" styleClass="title-page" />
<p:importConstants type="com.pradera.model.report.type.ReportLoggerStateType" var="rlStateType" />
<h:form id="frmReportLogger">
	<table border="0" width="100%">
	<tr>
	<td>
		<p:fieldset styleClass="legendNone"  id="fldsReportFilters" legend="#{msgs['lbl.criteria.search']}">
			<p:outputPanel id="opnlUsers">
			<p:outputPanel id="selectUsersReport" rendered="#{userInfo.userAccountSession.depositaryInstitution}">
				<table border="0" width="100%">
					<tr>
						<td width="15%">
						<h:outputLabel value="#{msgs['lbl.criteria.user.type']}" for="userType" />
						</td>
						<td>
						<p:selectOneMenu id="userType" value="#{reportMonitoringMgmtBean.userType}">
							<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" noSelectionOption="true"/>
							<f:selectItems value="#{reportMonitoringMgmtBean.listUsersTypes}"/>
							<p:ajax process="@this" update="opnlUsers" listener="#{reportMonitoringMgmtBean.selectUserTypes}"/>
						</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
						<h:outputLabel value="#{msgs['lbl.criteria.institution']}" for="users" />	
						</td>
						<td>
						<p:selectOneMenu id="institutions" value="#{reportMonitoringMgmtBean.institutionType}" 
							disabled="#{empty reportMonitoringMgmtBean.listInstitutions}">
							<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" noSelectionOption="true"/>
							<f:selectItems value="#{reportMonitoringMgmtBean.listInstitutions}"/>
							<p:ajax process="@this userType" update="opnlUsers" listener="#{reportMonitoringMgmtBean.selectInstitution}"/>
						</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
						<h:outputLabel value="#{msgs['lbl.criteria.users']}" for="users" />	
						</td>
						<td>
						<p:selectOneMenu id="users" value="#{reportMonitoringMgmtBean.userSelected}" 
							disabled="#{empty reportMonitoringMgmtBean.usersAccounts}">
							<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" noSelectionOption="true"/>
							<f:selectItems value="#{reportMonitoringMgmtBean.usersAccounts}" var="user"
							itemLabel="#{user.userName}" itemValue="#{user.userName}" itemDescription="#{user.fullName}" />
						</p:selectOneMenu>
						</td>
					</tr>
				</table>
			</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel id="opnlFilters">
				<table border="0" width="100%">
					<tr>
						<td width="15%">
							<h:outputLabel
								id="lblCode" value="#{msgs['lbl.reportlogger.mnemonic']}" for="txtCode" />
						</td>
						<td>
							<p:inputText id="txtCode" value="#{reportMonitoringMgmtBean.reportLoggerFilter.mnemonic}" />
								<p:message id="messageMenonic" for="txtCode" display="icon"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputLabel id="lblDescription" value="#{msgs['lbl.reportlogger.description']}" for="txtDescription" />
						</td>
						<td>
							<p:inputText id="txtDescription" value="#{reportMonitoringMgmtBean.reportLoggerFilter.description}" style="width:300px"/>
								<p:message id="messageDescription" for="txtDescription" display="icon"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputLabel value="#{msgs['lbl.criteria.module']}" id="lblModule" for="moduleReport" />
						</td>
						<td>
							<p:selectOneMenu value="#{reportMonitoringMgmtBean.reportLoggerFilter.moduleProcess}" id="moduleReport">
								<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" noSelectionOption="true"/>
								<f:selectItems value="#{reportMonitoringMgmtBean.listModules}" var="process" itemLabel="#{process.processName}" itemValue="#{process.idBusinessProcessPk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputLabel value="#{msgs['lbl.reportlogger.status']}" id="lblStatus" for="statusReport" />
						</td>
						<td>
							<p:selectOneMenu value="#{reportMonitoringMgmtBean.reportLoggerFilter.state}" id="statusReport">
								<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" noSelectionOption="true"/>
								<f:selectItems value="#{reportMonitoringMgmtBean.listState}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
					<td width="15%">
						<h:outputLabel for="calInitialDate" value="#{msgs['lbl.reportlogger.initial.date']} (*)" styleClass="required-field" />
					</td>
					<td>
						<p:calendar id="calInitialDate"  
							showOn="both" navigator="true" 
							size="10" readonlyInput="true" beforeShowDay="disableAllHolydays"
							pattern="#{msgs['dateFormat']}"  yearRange="c-20:c"   
							value="#{reportMonitoringMgmtBean.reportLoggerFilter.initialDate}"
							maxdate="#{reportMonitoringMgmtBean.reportLoggerFilter.finalDate}" >
							<p:ajax event="dateSelect" 
									update="calFinalDate" />
						</p:calendar>
					</td>
					<td>
						<h:outputLabel for="calFinalDate" value="#{msgs['lbl.reportlogger.final.date']} (*)" styleClass="required-field"/>
					</td>
					<td>
						<p:calendar id="calFinalDate" 
							showOn="both" navigator="true" 
							size="10" readonlyInput="true" beforeShowDay="disableAllHolydays"
							pattern="#{msgs['dateFormat']}"  yearRange="c-20:c"
							value="#{reportMonitoringMgmtBean.reportLoggerFilter.finalDate}" 
							mindate="#{reportMonitoringMgmtBean.reportLoggerFilter.initialDate}"
							maxdate="#{reportMonitoringMgmtBean.currentSystemDate}" >
							<p:ajax event="dateSelect" 
									update="calInitialDate" />
						</p:calendar> 
					</td>
					</tr>
				</table>
			</p:outputPanel>
			
			<table border="0" width="100%">
				<tr>
				<td colspan="6" align="center">
					
					<p:commandButton id="searchBtn" value="#{msgs['btn.search']}"  
						update="@form" process="@form"
						action="#{reportMonitoringMgmtBean.searchReportsByFilters}"
						icon="fa fa-search" />
					<p:spacer width="1px" />
					
					<p:commandButton id="cleanBtn" value="#{msgs['btn.clean']}" 
						update="@form" process="@this" 
						action="#{reportMonitoringMgmtBean.cleanAll}" 
						icon="fa fa-trash" />
					
					<p:commandButton id="sendFtpBtn" value="#{msgs['btn.send']}" 
						process="@this" rendered="#{reportMonitoringMgmtBean.userDepositary}"
						update=":opnlDialogs" actionListener="#{reportMonitoringMgmtBean.validationSendReport()}"
						icon="ui-run" />
					
				</td>
				</tr>
			</table>
		</p:fieldset>
	</td>
	</tr>
	<tr>
	<td>
		<p:outputPanel id="opnlResult" rendered="#{reportMonitoringMgmtBean.reportsDataModel != null}" style="width:100%;" >
		<p:fieldset id="fldResult" legend="#{gmsgs['lbl.results']}" >
			<p:dataTable id="dtbResult" var="report" sortMode="multiple"
					value="#{reportMonitoringMgmtBean.reportsDataModel}"
					rendered="#{(reportMonitoringMgmtBean.reportsDataModel.rowCount >= 1)}"
					first="#{reportMonitoringMgmtBean.firsRegisterDataTable}"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
					rowsPerPageTemplate="#{gconst['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
					rowKey="#{report.mnemonic}"
					style="width:100%;">

				<p:columnGroup type="header" >
					<p:row>
						<p:column headerText="#{msgs['lbl.reportlogger.mnemonic']}" sortBy="#{report.mnemonic}"/>
						<p:column headerText="#{msgs['lbl.reportlogger.name']}" sortBy="#{report.name}" />			
						<p:column headerText="#{msgs['lbl.reportlogger.execDate']}" sortBy="#{report.executionDate}"  />
						<p:column headerText="#{msgs['lbl.reportlogger.parameters']}"  />																								
						<p:column headerText="#{msgs['lbl.reportlogger.error']}" />
						<p:column headerText="#{msgs['lbl.reportlogger.size']}" />
						<p:column headerText="#{msgs['lbl.reportlogger.viewer']}" />
						<p:column headerText="#{msgs['lbl.reportlogger.send.ftp']}" rendered="#{reportMonitoringMgmtBean.userDepositary}" />
					</p:row>
				</p:columnGroup>
				
				<p:column styleClass="content-center" style="width: 10%;" >
					<h:outputText value="#{report.mnemonic} "/>
				</p:column>
				
				<p:column styleClass="content-left" >
					<h:outputText value="#{report.name} "/>
				</p:column>
				
				<p:column styleClass="content-left" style="width: 12%;">
					<h:outputText value="#{report.executionDate}">
						<f:convertDateTime pattern="#{msgs['dateTimeFormat']}" dateStyle="medium" type="both" />
					</h:outputText>
				</p:column> 
				
				<p:column styleClass="content-center" >
					<p:commandLink id="lnkParams" style="color:blue" update=":opnlDialogs" oncomplete="PF('dlgwParams').show()" 
						action="#{reportMonitoringMgmtBean.displayParams(report)}">
						<h:outputText value="#{msgs['lbl.reportlogger.parameters']}" id="txtParams"/>
					</p:commandLink>
				</p:column>
				
				<p:column styleClass="content-center" >
					<p:commandLink id="lnkErrors" style="color:blue" update=":opnlDialogs" oncomplete="PF('dlgwErrors').show()" 
									actionListener="#{reportMonitoringMgmtBean.displayErrors(report)}" rendered="#{report.indError == 1}" >
						<h:outputText value="#{msgs['lbl.reportlogger.error']}" id="txtReportError"/>
					</p:commandLink>
				</p:column>
				
				<p:column styleClass="content-left" >
					<h:outputText value="#{report.totalFileLength} "/>
				</p:column>
				
				<p:column styleClass="content-center" >
					<p:commandLink id="lnkFiles" style="color:blue" update=":opnlDialogs" oncomplete="PF('dlgwFiles').show()" 
									 actionListener="#{reportMonitoringMgmtBean.displayFiles(report)}" 
									 rendered="#{report.state eq rlStateType.FINISHED.code}" >
						<h:outputText value="#{msgs['lbl.reportlogger.viewer']}" id="txtFiles"/>
					</p:commandLink>
					<h:outputText value="#{report.stateDescription} " rendered="#{report.state ne rlStateType.FINISHED.code}" />
				</p:column>
				
				<p:column styleClass="content-center" rendered="#{reportMonitoringMgmtBean.userDepositary}" >					
					<p:selectBooleanCheckbox value="#{report.selected}">	
						<p:ajax event="change" update=":frmReportLogger:opnlResult" global="false" 
							listener="#{reportMonitoringMgmtBean.validationSelectionReport(report)}" />
					</p:selectBooleanCheckbox>
				</p:column>	
				
				<f:facet name="footer">	
					<div style="width:100%; text-align:left">								
						<h:outputLabel value="#{reportMonitoringMgmtBean.reportsDataModel.rowCount} #{gmsgs['lbl.results']}" 
							style="font-weight:bold;"/>
					</div>
				</f:facet>
				<p:ajax event="page" listener="#{reportMonitoringMgmtBean.changePageDatatable}"/>
			</p:dataTable>
			
			<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 
				rendered="#{!(reportMonitoringMgmtBean.reportsDataModel.rowCount >= 1)}"
				style="font-weight:bold;"/>
		</p:fieldset>
	</p:outputPanel>
	</td>
	</tr>
	</table>
</h:form>
<p:outputPanel id="opnlDialogs">
	<p:dialog id="dlgErrors" header="#{msgs['lbl.reportlogger.error']}" closable="true"					
		modal="true" widgetVar="dlgwErrors" resizable="false" >
		<h:panelGrid border="0">
		<h:outputText value="#{reportMonitoringMgmtBean.selectedReportLogger.errorDetail}" />
		</h:panelGrid>
		
	</p:dialog>
	<p:dialog id="dlgParams" header="#{msgs['lbl.reportlogger.parameters']}" closable="true"					
		modal="true" widgetVar="dlgwParams" resizable="false" >
		<p:dataTable id="lstParams" value="#{reportMonitoringMgmtBean.selectedReportLogger.reportLoggerDetails}" var="detail" >
			<p:column headerText="#{msgs['lbl.reportlogger.parameter.name']}" styleClass="content-left">
				<h:outputText value="#{detail.filterLabel}"  />
			</p:column>
			<p:column headerText="#{msgs['lbl.reportlogger.parameter.value']}" styleClass="content-left">
				<h:outputText value="#{detail.filterValue}" rendered="#{not empty detail.filterValue}" />
			</p:column>
			<p:column headerText="#{msgs['lbl.reportlogger.parameter.description']}" styleClass="content-left">
				<h:outputText value="#{detail.filterDescription}" rendered="#{not empty detail.filterDescription}" />
			</p:column>
		</p:dataTable>
	</p:dialog>
	<p:dialog id="dlgFiles" header="#{msgs['lbl.reportlogger.files']}" closable="true"					
		modal="true" widgetVar="dlgwFiles" resizable="false" >
		<h:form  id="frmReportFiles"> 
			<p:dataTable id="dtbFiles" var="file" 
					value="#{reportMonitoringMgmtBean.selectedReportLogger.reportLoggerFiles}"
					rendered="#{not empty reportMonitoringMgmtBean.selectedReportLogger.reportLoggerFiles}"
					rowIndexVar="rIndx"
					rowKey="#{file.idLoggerFilePk}" style="width:100%">
				<p:column headerText="#{msgs['lbl.reportlogger.file.index']}" style="width: 10%;text-align: center;">
					<h:outputText value="#{rIndx+1}" />
				</p:column>
				<p:column headerText="#{msgs['lbl.reportlogger.file.name']}" style="text-align: left;">
					<h:outputText value="#{file.nameFile}" />
				</p:column>
				<p:column headerText="#{msgs['lbl.reportlogger.file.size']}" style="text-align: left;">
					<h:outputText value="#{file.dataSizeDescription}" />
				</p:column>
				<p:column headerText="#{msgs['lbl.reportlogger.file.type']}" style="width: 16%;text-align: center;">
					<h:outputText value="#{file.fileTypeDescription}" />
				</p:column>
				<p:column style="width: 5%;text-align: center;">
					<p:commandLink styleClass="icon" global="false" ajax="false"
						immediate="true" process="@this"
						>
						<p:fileDownload	value="#{reportMonitoringMgmtBean.getStreamedContent(file)}" />
						<p:graphicImage id="imgView" library="img" name="icons/loupe.png" title="Ver" />
					</p:commandLink>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>
	
	<p:dialog id="dlgSendFtp" header="#{msgs['lbl.reportlogger.data.send.ftp']}" closable="true"					
		modal="true" widgetVar="dlgwSendFtp" resizable="false" >
				
		<table>
			<tr>
				<td>
					<p:dataTable id="lstFolders" value="#{reportMonitoringMgmtBean.lstFolderFtp}" 
						var="folder"			 						 	
						rowKey="#{folder.parameterTablePk}"
						selection="#{reportMonitoringMgmtBean.selectedParameterTable}" >						
						
						<p:ajax event="rowSelectRadio" process="@this" />
						
						<p:column selectionMode="single" styleClass="content-center" />
						
						<p:column headerText="#{msgs['lbl.parameter.name']}" styleClass="content-left">
							<h:outputText value="#{folder.parameterName}"  />
						</p:column>
												
						<p:column headerText="#{msgs['lbl.parameter.folder']}" styleClass="content-left">
							<h:outputText value="#{folder.text3}" />
						</p:column>
						
						<p:column headerText="#{msgs['lbl.parameter.directory']}" styleClass="content-left">
							<h:outputText value="#{folder.description}" />
						</p:column>											
						
					</p:dataTable>
				</td>
			</tr>			
			<tr>
				<td>
					<h:panelGrid id="pnlData">
						<p:fieldset id="fldAditionalData" legend="#{msgs['lbl.fieldset.aditional']}">
							<h:panelGrid columns="6" style="margin-bottom:10px" cellpadding="5">					        
						        <p:outputLabel for="selectOneRadio" value="#{msgs['lbl.date.generator']} : " />					        
						        <p:selectOneRadio id="selectOneRadio" value="#{reportMonitoringMgmtBean.generateDate}" layout="custom">  
	        							<f:selectItem itemValue="0" />  
	        							<f:selectItem itemValue="1" />  
	        							<p:ajax event="change" partialSubmit="false" process="opnlDialogs" />       															            
								</p:selectOneRadio>					        
						        <p:radioButton id="radioButtonOne" for="selectOneRadio" itemIndex="0"/>
								<h:outputText value="#{msgs['lbl.parameter.date.current.date']}" />							
								<p:radioButton id="radioButtonTwo" for="selectOneRadio" itemIndex="1"/>
								<h:outputText value="#{msgs['lbl.parameter.date.generation.report']}" />					        
						        
					    	</h:panelGrid>					
						</p:fieldset>
					</h:panelGrid>										
				</td>
			</tr>
			<tr>
				<td align="center">
					<p:commandButton id="sendFtpBtnConfir" value="#{msgs['btn.send']}" 
						process="opnlDialogs" rendered="#{reportMonitoringMgmtBean.userDepositary}"
						update=":opnlDialogs :frmReportLogger:opnlResult" actionListener="#{reportMonitoringMgmtBean.processSendReportsFtp}" />
				</td>
			</tr>
		</table>		
		
	</p:dialog>
	
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
			<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update=":opnlDialogs"
				actionListener="#{reportMonitoringMgmtBean.processSendReportsFtp}"/>
			<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" />
	</p:confirmDialog>
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
			header="#{headerMessageView}" closable="false" severity="info"> 
			<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" global="true" process="@this"
				value="#{gmsgs['btn.accept']}"/>
	</p:confirmDialog>	
	
</p:outputPanel>

</ui:define>
</ui:composition>
</html>