<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmCreateNewCabinet">
<h:outputText value="#{vaultsRulesManageBean.title}" styleClass="title-page" />
<table width="100%">
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="10%">
				<h:outputText value="Armario" rendered="#{vaultsRulesManageBean.flagModifyCabinet or 
				vaultsRulesManageBean.flagModifyLevel or vaultsRulesManageBean.flagModifyBox}"/>
			</td>
			<td>
				<p:inputText id="cabinetNumber" disabled="true" rendered="#{vaultsRulesManageBean.flagModifyCabinet or 
				vaultsRulesManageBean.flagModifyLevel or vaultsRulesManageBean.flagModifyBox}"
				value="#{vaultsRulesManageBean.modifyVaultRulesTO.cabinet}">
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="Nivel" rendered="#{vaultsRulesManageBean.flagModifyLevel or vaultsRulesManageBean.flagModifyBox}"/>
			</td>
			<td>
				<p:inputText id="level" disabled="true" rendered="#{vaultsRulesManageBean.flagModifyLevel or vaultsRulesManageBean.flagModifyBox}"
				value="#{vaultsRulesManageBean.modifyVaultRulesTO.level}">
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td width="10%">
				<h:outputText value="Caja" rendered="#{vaultsRulesManageBean.flagModifyBox}"/>
			</td>
			<td>
				<p:inputText id="box" disabled="true" rendered="#{vaultsRulesManageBean.flagModifyBox}"
				value="#{vaultsRulesManageBean.modifyVaultRulesTO.box}">
				</p:inputText>
			</td>
		</tr>							
		<tr>
			<td width="10%">
				<h:outputText value="Clase de valor"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="cboSecurityType" label="Clase de valor" value="#{vaultsRulesManageBean.modifyVaultRulesTO.securityClass}" 
			 	disabled="#{!vaultsRulesManageBean.flagModifySecurityClass}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{vaultsRulesManageBean.lstSecuritiesClass}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax event="change" listener="#{vaultsRulesManageBean.changeSecurityType}" process="@this" update="@form"/>
				</p:selectOneMenu>
				<p:message display="icon" for="cboSecurityType" id="msgCboSecurityType"/>				
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td width="10%" id="txtIssuerPerBox">
				<h:outputText value="Emisores por caja (*)" rendered="#{vaultsRulesManageBean.modifyVaultRulesTO.instrumentType eq 399}" 
				styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2" id="idPanelIssuersPerBox" >
				<p:inputText id="issuersPerBox" value="#{vaultsRulesManageBean.modifyVaultRulesTO.newIssuersPerBox}" rendered="#{vaultsRulesManageBean.modifyVaultRulesTO.instrumentType eq 399}" 
				disabled="#{!vaultsRulesManageBean.flagModifyIssuersPerBox}">
					<p:keyFilter mask="pint"/>
						<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />
					<p:ajax update="@this opnlGenericDialogs" process="@this" listener="#{vaultsRulesManageBean.verifyIssuersPerBox}"/>						
				</p:inputText>
				<p:message display="icon" id="msgIdPanelIssuersPerBox" for="issuersPerBox"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td width="10%" id="txtExpirationDate">
				<h:outputText value="Fecha de vencimiento" rendered="#{vaultsRulesManageBean.modifyVaultRulesTO.instrumentType eq 124}"/>
			</td>
			<td>
				<h:panelGrid columns="2" id="idPanelExpirationDate" >
			    <p:selectOneMenu value="#{vaultsRulesManageBean.modifyVaultRulesTO.expirationYear}" 
			    rendered="#{vaultsRulesManageBean.modifyVaultRulesTO.instrumentType eq 124}"
			    disabled="#{!vaultsRulesManageBean.flagModifyExpirationDate}">
			    	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			        <f:selectItems  value="#{vaultsRulesManageBean.yearsList}"/>
			    </p:selectOneMenu>
				</h:panelGrid>
			</td>
		</tr>			
		<tr>
			<td width="10%">
				<h:outputText value="Capacidad total de la caja (*)" styleClass="required-field"/>
			</td>
			<td>
				<h:panelGrid columns="2">
				<p:inputText id="capacityPerBox" disabled="#{!vaultsRulesManageBean.flagModifyCapacityPerBox}"
				value="#{vaultsRulesManageBean.modifyVaultRulesTO.newCapacityPerBox}">
					<p:keyFilter mask="pint"/>
					<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />
					<p:ajax update="@this opnlGenericDialogs" event="change" process="@this" listener="#{vaultsRulesManageBean.verifyCapacityPerBox}"/>
				</p:inputText>
				<p:message display="icon" id="msgCapacityPerBox" for="capacityPerBox"/>				
				</h:panelGrid>
			</td>
		</tr>					
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td align="center">
		<br/>
		<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save"
			actionListener="#{vaultsRulesManageBean.beforeOnModify}" update="@form :opnlGenericDialogs"/>
		<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"
			 action="#{vaultsRulesManageBean.returnToSearch}" immediate="true"/>					
	</td>
</tr>
</table>
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs :opnlGenericDialogs"
		 actionListener="#{vaultsRulesManageBean.modifyVaultRules}" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" 
		action="#{vaultsRulesManageBean.returnToSearch}" process="@this"/>
</p:confirmDialog>
</p:outputPanel>	
</h:form>
</ui:define>
</ui:composition>
</html>