<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
	$(window).load(function(){
  	 setInitialFormState('#frmMassiveInterface');
  	});	
</script>	
	<h:outputText value="#{massiveInterfaceMgmtBean.titleLabel}"  styleClass="title-page" />
	<h:form id="frmMassiveInterface">
	<table width="99%">
		<tr>
		<td>
		<p:fieldset legend="#{gmsgs['lbl.operation.massRegisterSearch']}">
			<table width="100%" border="0">
			<tr>
				<td width="150px">
					<h:outputLabel value="#{gmsgs['lbl.operation.massive.date.process']} (*)" styleClass="required-field"/>
				</td>
				<td>
					<h:panelGrid columns="2">
						<p:calendar id="calInitialDate"
							showOn="both" navigator="true" 
							size="10" readonlyInput="true"
							pattern="#{cons['dateFormat']}"	
							maxdate="#{massiveInterfaceMgmtBean.currentSystemDate}"
							value="#{massiveInterfaceMgmtBean.processFileFilter.processDate}">
							<p:ajax event="dateSelect" listener="#{massiveInterfaceMgmtBean.onChangeProcessDate}" update="@form" global="false" />
						</p:calendar> 
						<p:message id="msgCalInitialDate" for="calInitialDate" display="icon" />
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center"> 
					<br/>
					<p:commandButton id="btnSearch" value="#{gmsgs['btn.search']}" 
	     	            icon="fa fa-search" actionListener="#{massiveInterfaceMgmtBean.searchProcessedFiles}" 
	     	            update="@form"/>
	     	        <p:commandButton id="btnClean" value="#{gmsgs['btn.clean']}" immediate="true" process="@this"
	     	         	onclick="return showCleanConfirmDialog(this);" oncomplete="cnfwClean.hide()" 
	     	            icon="fa fa-trash" actionListener="#{massiveInterfaceMgmtBean.cleanAll()}" 
	     	            update="@form"/>	
		   	        <p:commandButton id="btnBack" value="#{gmsgs['btn.back']}" 
		   	       		onclick="if(isModifiedFormForBack(this))return false;"
		   	        	icon="fa fa-undo" action="#{massiveInterfaceMgmtBean.backAction}" 
		   	        	immediate="true" />	
				</td>
			</tr>
			</table>
		</p:fieldset>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlResult" rendered="#{massiveInterfaceMgmtBean.processFilesDataModel != null}" >
			<p:fieldset id="fldResult" legend="#{gmsgs['lbl.results']}" >
				<p:dataTable id="dtbResult" var="mcnFile" 
					value="#{massiveInterfaceMgmtBean.processFilesDataModel}"
					rendered="#{massiveInterfaceMgmtBean.processFilesDataModel.rowCount >= 1}"
					first="#{massiveInterfaceMgmtBean.firsRegisterDataTable}"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
					rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
					rowIndexVar="rIndx" rowKey="#{mcnFile.sequenceNumber}"
					style="width:100%;">
					
					<p:columnGroup type="header" >
						<p:row>
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.sequenceNumber']}" />
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.description']}" />
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.processDate']}" />	
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.processedFile']}" />
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.responseFile']}" />
							<p:column headerText="#{gmsgs['lbl.operation.massive.file.status.transaction']}" />
						</p:row>
					</p:columnGroup>
					
					<p:column styleClass="content-center" style="width: 10px;" >
						<h:outputText value="#{mcnFile.sequenceNumber} "/>
					</p:column>
					
					<p:column styleClass="content-left" >
						<h:outputText value="#{mcnFile.description} "/>
					</p:column>
					
					<p:column  styleClass="content-center" style="width: 25px;">
						<h:outputText value="#{mcnFile.processDate}">
							<f:convertDateTime pattern="#{cons['dateTimeFormat']}" type="both" />
						</h:outputText>
					</p:column> 
					
					<p:column styleClass="content-center" style="width: 8px;" >
						<p:commandLink styleClass="icon" global="false" ajax="false" 
							immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
							<p:fileDownload	value="#{massiveInterfaceMgmtBean.getProcessedFileContent(mcnFile)}" />
							<p:graphicImage id="imgViewProcessed" library="img" name="icons/loupe.png" title="Ver" />
						</p:commandLink>
					</p:column>
					
					<p:column styleClass="content-center" style="width: 8px;" >
						<p:commandLink styleClass="icon" global="false" ajax="false" 
							immediate="true" process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
							<p:fileDownload	value="#{massiveInterfaceMgmtBean.getResponseFileContent(mcnFile)}" />
							<p:graphicImage id="imgViewResponse" library="img" name="icons/loupe.png" title="Ver" />
						</p:commandLink>
					</p:column>
					
					<p:column styleClass="content-center" style="width: 55px;" >
						<h:outputText value="#{mcnFile.processStateDescription} "/>
					</p:column>
					
				</p:dataTable>
				<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 
					rendered="#{!(massiveInterfaceMgmtBean.processFilesDataModel.rowCount >= 1)}"
					style="font-weight:bold;"/>
			</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlMcnFileUpload" rendered="#{massiveInterfaceMgmtBean.processFileFilter.processDate.equals(massiveInterfaceMgmtBean.currentSystemDate)}" >		
		<p:fieldset legend="#{gmsgs['lbl.operation.massive.uploadFile']}" id="fldProcessFiles">
			<table width="100%" border="0">
			<tr>
				<td width="150px">
					<h:outputLabel value="#{gmsgs['lbl.operation.massive.file']} (*)" styleClass="required-field" />
				</td>
				<td style="white-space: nowrap;">
					<p:outputPanel id="opnlMcnFile" styleClass="fileupload-customize" layout="block">
					<p:fileUpload id="fuplMcnFile" widgetVar="fuplwMcnFile"
		  			   label="#{gmsgs['fupl.label']}" auto="true"	
					   update="opnlMcnFile :opnlGenericDialogs :cnfMsgCustomValidationSec"
					   fileUploadListener="#{massiveInterfaceMgmtBean.fileUploadHandler}"
					   allowTypes="/(\.|\/)(xml|dat)$/"
					   sizeLimit="#{massiveInterfaceMgmtBean.fUploadFileSize}"
					   invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}" 
					   invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}">
					</p:fileUpload>
					<script type="text/javascript">
						$(document).ready(function(){
							fileuploadValidate('frmMassiveInterface:fuplMcnFile',fuplwMcnFile);
						});
					</script>
					<p:graphicImage id="imgLimit" library="img" name="icons/help.png" styleClass="icon"/>
					<h:panelGrid columns="4">
					<p:tooltip for="imgLimit">
						<h:outputFormat value="#{gmsgs['fupl.limit.info']}" escape="false">
							<f:param value="#{massiveInterfaceMgmtBean.fUploadFileSizeDisplay}"/>
							<f:param value="#{massiveInterfaceMgmtBean.fUploadFileTypesDisplay}"/>			
						</h:outputFormat>
					</p:tooltip>
					<p:commandLink id="cmlRemoveFile" styleClass="icon" update="opnlMcnFile" global="false"  process="@this" 
						actionListener="#{massiveInterfaceMgmtBean.removefileHandler}">		
						<p:graphicImage id="imgRemove" library="img" name="buttons/remove.png"/>
					</p:commandLink>
					<h:outputLabel id="lblFuplIssuanceCert" 
						 value="#{massiveInterfaceMgmtBean.tmpProcessFile.fileName ==null ? gmsgs['fupl.no.selected'] : massiveInterfaceMgmtBean.tmpProcessFile.fileName}" 
						 styleClass="label"	/>
					<p:commandLink id="cmlViewFile" styleClass="icon" process="@this"
						rendered="#{massiveInterfaceMgmtBean.tmpProcessFile.fileName != null}"
						update="opnlMcnFile" global="false" ajax="false" immediate="true">
						<p:fileDownload	value="#{massiveInterfaceMgmtBean.getFileStreamContent(massiveInterfaceMgmtBean.tmpProcessFile)}" />
						<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
					</p:commandLink>
					<p:message for=":frmMassiveInterface:fuplMcnFile" display="icon" id="msgMcnFile"></p:message>
					</h:panelGrid>
					</p:outputPanel>	
				</td>
			</tr>

			<tr>
				<td align="center" colspan="4">
					<br/>
					<p:commandButton id="btnUpload" process="fldProcessFiles" value="#{gmsgs['btn.upload']}" update=":opnlErrors :opnlGenericDialogs @form" 
						icon="ui-add" actionListener="#{massiveInterfaceMgmtBean.validateInterfaceFile()}" partialSubmit="true" />
				</td>
			</tr>
			</table>
		</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
		<tr>
		<td>
		<p:outputPanel id="opnlMcnFileValidation" 
			rendered="#{not empty massiveInterfaceMgmtBean.processFile and massiveInterfaceMgmtBean.processFileFilter.processDate.equals(massiveInterfaceMgmtBean.currentSystemDate)}" >
			<p:fieldset id="fldMcnFileValidation" legend="#{gmsgs['lbl.operation.massive.file.validation']}" >
				<table width="100%">
					<tr>
						<td width="150px">
							<h:outputText value="#{gmsgs['lbl.operation.massive.file.fileName']}" />
						</td>
						<td>
							<p:inputText value="#{massiveInterfaceMgmtBean.processFile.fileName}" 
								styleClass="medium-input-text-width" disabled="true" />
							<p:commandLink id="cmlViewUploadedFile" styleClass="icon" process="@this"
								rendered="#{massiveInterfaceMgmtBean.processFile.fileName != null}"
								update="opnlMcnFile" global="false" ajax="false" immediate="true">
								<p:fileDownload	value="#{massiveInterfaceMgmtBean.getFileStreamContent(massiveInterfaceMgmtBean.processFile)}" />
								<p:graphicImage id="imgViewProcessed" library="img" name="icons/loupe.png"/>
							</p:commandLink>
						</td>	
					</tr>
					<tr>
						<td width="150px">
							<h:outputText value="#{gmsgs['lbl.operation.massive.file.acceptedOperations']}" />
						</td>
						<td width="300px">
							<p:inputText value="#{massiveInterfaceMgmtBean.processFile.acceptedOperations}" 
							styleClass="short-input-text-width content-right" disabled="true" />
						</td>
						<td width="150px">
							<h:outputText value="#{gmsgs['lbl.operation.massive.file.rejectedOperations']}" />
						</td>
						<td>
							<p:inputText value="#{massiveInterfaceMgmtBean.processFile.rejectedOperations}" 
								styleClass="short-input-text-width content-right" disabled="true" />
						</td>	
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><h:outputText rendered="#{massiveInterfaceMgmtBean.errorsDataModel.rowCount >= 1}"
								value="#{gmsgs['lbl.operation.massive.file.validation.view.errors']}" /></td>
						<td>
							<p:commandLink rendered="#{massiveInterfaceMgmtBean.errorsDataModel.rowCount >= 1}"
								onclick="dlgWdgErrors.show()" process="@this" ajax="true" partialSubmit="true"
								value="#{gmsgs['lbl.operation.massive.file.validation.view.errors']}" />
						</td>
					</tr>
					<tr>
						<td>
							<p:spacer height="2"></p:spacer>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="4">
							<p:commandButton actionListener="#{massiveInterfaceMgmtBean.beforeProcessInterfaceFile()}"
								disabled="#{massiveInterfaceMgmtBean.processFile.acceptedOperations == 0}" process="@this"
								id="btnProcess" value="#{gmsgs['btn.process']}" update=":opnlDialogs :opnlGenericDialogs" /> 
						</td>
					</tr>
				</table>
			</p:fieldset>
		</p:outputPanel>
		</td>
		</tr>
	</table>
	</h:form>		
	
	<p:outputPanel id="opnlDialogs">
		<p:confirmDialog id="cnfProcessMcnFile" message="#{bodyMessageView}"  
			   visible="false" closable="false"
               header="#{headerMessageView}" severity="alert" widgetVar="cnfwProcessMcnFile" > 
			<h:form id="frmCnfProcessMcnFile"> 
		        <p:commandButton id="cmbYes" process="@this"
	    						 value="#{gmsgs['btn.yes']}" update=":frmMassiveInterface @form :opnlDialogs :opnlGenericDialogs"
	    						 actionListener="#{massiveInterfaceMgmtBean.processInterfaceFile()}"	    						 
	    						 oncomplete="cnfwProcessMcnFile.hide()"/>
	    		&nbsp;&nbsp;
	    		<p:commandButton id="cmbNo" update="@parent"
	    						 value="#{gmsgs['btn.no']}" process="@this"
	    						 oncomplete="cnfwProcessMcnFile.hide();"/>	
			</h:form>          
		</p:confirmDialog>

	</p:outputPanel>
	
	<p:outputPanel id="opnlErrors">
	<p:dialog id="dlgErrors" header="#{gmsgs['lbl.operation.massive.file.validation.errorList']}" 
		widgetVar="dlgWdgErrors" modal="true" closable="true" resizable="false">
		<p:fieldset legend="#{gmsgs['lbl.operation.massive.file.validation.errorTable']}">
		<p:dataTable id="dtbResult" var="error" value="#{massiveInterfaceMgmtBean.errorsDataModel}" 
					rendered="#{massiveInterfaceMgmtBean.errorsDataModel.rowCount >= 1}"
					first="#{massiveInterfaceMgmtBean.firsRegisterDataTable}"
					currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
					paginator="true" rows="10" paginatorPosition="top"
					paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
					rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
					rowIndexVar="rIndx" >
			<p:column style="width:50px">
				<f:facet name="header">
					<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.number']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{rIndx+1}" style="align:right" />
			</p:column>
			<p:column style="width:50px">
				<f:facet name="header">
					<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.row']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.lineNumber}" style="align:right" />
			</p:column>
			<p:column style="width:200px">
				<f:facet name="header">
					<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.field']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.field}" style="align:left" />
			</p:column>
			<p:column style="width:300px">
				<f:facet name="header">
					<h:outputText value="#{gmsgs['lbl.operation.massive.file.error.description']}" styleClass="text-header-table" />
				</f:facet>
				<h:outputText value="#{error.errorSimpleDetail}" escape="false" style="align:left; white-space: normal;" />
			</p:column>
		</p:dataTable>
		<h:outputLabel value="Sin errores" 
			rendered="#{!(massiveInterfaceMgmtBean.errorsDataModel.rowCount >= 1)}"
			style="font-weight:bold;"/>
		</p:fieldset>
	</p:dialog>
	</p:outputPanel>
	
</ui:define>
</ui:composition>
</html>