<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helperExtension">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<style type="text/css">
.ui-datatable tbody td{searchHolderByCode
	white-space: normal !important;
}
</style>
	<h:outputText value="#{msgs['title.Report']}" styleClass="title-page" id="idTitle"/>
	<h:form id="frmCustodyDetail">
		<table width="100%">
			<tr>
				<td>
					<p:fieldset legend="#{msgs['lbl.custody.detail.agb.safi.fic.legend']}" id="fsMainLegend">
						<table width="100%" border="0"> 
							<tr>
								<td width="120px">
									<h:outputText value="#{msgs['lbl.format.report']}" />
								</td>
								<td width="450px">
									<p:selectOneMenu value="#{custodyDetailAgbAndSafiAndFicBean.reportUser.reportFormat}" required="true">
										<f:selectItems value="#{custodyDetailAgbAndSafiAndFicBean.reportFormats}" var="format" 
													   itemLabel="#{format.parameterName}" itemValue="#{format.parameterTablePk}"/>
									</p:selectOneMenu>
								</td>
							</tr>
							<ui:remove>
							 <tr>
								<td>
									<h:outputText value="#{msgs['lbl.custody.detail.afp.and.insurance.economic.act']}" id="otEconomicActivity"/>
								</td>
								<td>
									<h:panelGrid columns="2">
										<p:selectOneMenu id="somEconomicActivity" style="width:310px" 
														 label="#{msgs['lbl.custody.detail.afp.and.insurance.economic.act']}"
														 value="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.economicActivity}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.all']}"/>
											<f:selectItems id="siEconomicActivity" value="#{custodyDetailAgbAndSafiAndFicBean.lstEconomicActivity}"
														   var="economicAct" itemLabel="#{economicAct.description}" itemValue="#{economicAct.parameterTablePk}"/>
												<p:ajax event="change" update="somFundCUI"
														listener="#{custodyDetailAgbAndSafiAndFicBean.getFunds()}" />	
											<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
											<f:param name="skipValidation" value="false"/>
										</p:selectOneMenu>
									</h:panelGrid>								
								</td>
								
								<td width="120px">
									<h:outputText value="#{msgs['lbl.custody.detail.afp.and.insurance.fund.cui']}" id="otFundCUI"/>
								</td>
								<td >
									<h:panelGrid columns="2">
										<p:selectOneMenu id="somFundCUI" value="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.fundCUI}" 
														 style="width:310px" disabled="#{custodyDetailAgbAndSafiAndFicBean.blDisabled}">
											<f:selectItem itemLabel="#{msgs['cbo.opt.all']}" id="siFundCUI"/>
											<f:selectItems id="siLstFundCUI" value="#{custodyDetailAgbAndSafiAndFicBean.lstFoundCUI}"
														   var="fundCUI" itemLabel="#{fundCUI.fullName}" itemValue="#{fundCUI.fundCUI}" />										
										</p:selectOneMenu>
									</h:panelGrid>					
								</td>
							</tr>
							</ui:remove>
							<tr>
								<ui:remove>
								<td>
									<h:outputText value="#{msgs['lbl.custody.detail.afp.and.insurance.security.code']}" id="otSecurityPk"/>
								</td>
								<td>
									<h:panelGrid columns="3">
										<p:inputText id="itSecurity" size="15" maxlength="12" widgetVar="wvSecurity" 
													 value="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.securityTO.securitiesCode}">
											<p:keyFilter regEx="#{gconst['helper.securities.alphanumeric.not.space']}" preventPaste="false"/>
											<p:ajax event="blur" partialSubmit="true" process="@this" update="itSecurity, itSecDesc"
													listener="#{custodyDetailAgbAndSafiAndFicBean.searchSecurityByCode()}"/>
										</p:inputText>
										<p:outputPanel id="securitiesHelper">
											<arkHelp:security security="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.securityTO}" process="@this"
															  update="frmCustodyDetail:itSecurity frmCustodyDetail:itSecDesc"/>
										</p:outputPanel>
										<p:inputText size="40" id="itSecDesc" disabled="true"
													 value="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.securityTO.description}" />
									</h:panelGrid>
								 </td>
								 </ui:remove>
								 
								 <td>
									<h:outputText value="#{msgs['lbl.reportlogger.execDate']} (*)" styleClass="required-field"/>
								</td>
								<td>
									<p:calendar id="calDate" showOn="both" readonlyInput="true" size="10" navigator="true"
												value="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.date}"						
												pattern="#{msgs['dateFormat']}" maxdate="#{custodyDetailAgbAndSafiAndFicBean.holderHelper.date}">					
									</p:calendar>
								</td>
							</tr>
							<tr><td height="20px"></td></tr>
							<tr>
								<td colspan="6" align="center">
									<p:commandButton id="cbSend" value="#{msgs['btn.send']}" icon="ui-send"  process="@form" update=":opnlGenericDialogs"
													 actionListener="#{custodyDetailAgbAndSafiAndFicBean.submitForm()}">
									</p:commandButton>
									<p:commandButton id="cbClean" value="#{msgs['btn.clean']}" icon="fa fa-trash" process="@this" update="@form" 
													 action="#{custodyDetailAgbAndSafiAndFicBean.clean}"/>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</td>
			</tr>
		</table>
		<p:confirmDialog id="reportGenerationOk" widgetVar="reportGenerationOkWidget" severity="info" rendered="false" visible="true"
						 closable="false" header="#{headerMessageView}" message="#{bodyMessageView}">
			<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}" type="reset" onclick="reportGenerationOkWidget.hide()"/>
		</p:confirmDialog>
</h:form>
<p:outputPanel id="opnlDialogs">
</p:outputPanel>
	</ui:define>
</ui:composition>
</html>