<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<style type="text/css">
#frmHolderAccountMgmt\:docBankAccount span {
	display: none;
}

#frmHolderAccountMgmt\:docBankAccount table.files {
	display: none;
}
</style>

		<h:form id="frmHolderAccountMgmt">
			<p:outputPanel>
				<table width="100%">
					<tr>
						<td><h:outputText
								value="#{gmsgs['iAccounts.holderaccount.modify.detail.title']}"
								styleClass="title-page"
								style='font-family:"Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana,Arial, sans-serif !important;font-size: 22px !important;margin: 0 !important;' /></td>
					</tr>
					<tr>
						<td><p:outputPanel id="pnlData">
								<p:fieldset legend="#{msgs['adm.holderaccount.detail.lbl']}">
									<p:outputPanel id="pnlAccountGenericData">
										<table width="100%" border="0">
											<tr>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.request.number']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><p:inputText
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.requestNumber}"
														disabled="true" /></td>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.registerdate']} " /></td>
												<td width="20%"><p:calendar
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.registryDate}"
														disabled="true" pattern="#{msgs['dateFormat']}" /></td>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.state']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><p:inputText disabled="true"
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.stateHolderAccountReqDescription}"></p:inputText>
												</td>
											</tr>
											<tr>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.participant.lbl']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><h:panelGrid>
														<p:selectOneMenu id="cboParticipant"
															value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.participant.idParticipantPk}"
															disabled="true">
															<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{holderAccountModifyMgmtBean.participantList}"
																var="participant"
																itemLabel="#{participant.displayDescriptionCode}"
																itemValue="#{participant.idParticipantPk}" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboParticipant" />
													</h:panelGrid></td>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.account']}: " /></td>
												<td width="20%"><p:inputText maxlength="6" size="12"
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountNumber}"
														id="txtAccountNumber" disabled="true">
														<p:keyFilter mask="num" />
													</p:inputText> <p:commandButton value="#{msgs['lbl.points']}" disabled="true" /> <p:inputText
														disabled="true" size="20"
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.alternateCode}" />
												</td>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.accounttype.lbl']} (*)"
														styleClass="required-field" /></td>
												<td width="20%"><h:panelGrid>
														<p:selectOneMenu id="cboAccountType"
															value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountType}"
															disabled="true">
															<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{holderAccountModifyMgmtBean.parameterTableAccoutsTypeList}"
																var="enum" itemLabel="#{enum.parameterName}"
																itemValue="#{enum.parameterTablePk}" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboAccountType"></p:message>
													</h:panelGrid></td>

											</tr>
											<tr>
												<td width="8%"><h:outputLabel
														value="#{msgs['adm.holderaccount.holder.group']}" /></td>
												<td width="40%" colspan="5"><p:selectOneMenu
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountGroup}"
														disabled="true">
														<f:selectItems
															value="#{holderAccountModifyMgmtBean.parameterTableAccountGroupList}"
															var="group" itemLabel="#{group.parameterName}"
															itemValue="#{group.parameterTablePk}" />
													</p:selectOneMenu></td>

											</tr>
											<tr>
												<td width="8%"><h:outputText 
														value="#{msgs['adm.holderaccount.related.name.old']}" /></td>
												<td colspan="3"><p:inputText id="txtRelatedNameOld" 
														size="150" 
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.relatedNameOriginal}"
														disabled="true">
												    </p:inputText></td>
											</tr>
											<tr>
												<td width="8%"><h:outputText 
														value="#{msgs['adm.holderaccount.related.name.new']}" /></td>
												<td colspan="3"><p:inputText id="txtRelatedNameNew" 
														size="150" 
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.relatedName}"
														disabled="true">
												    </p:inputText></td>
											</tr>
											<tr>
												<td>
													<h:outputText value="#{msgs['adm.holderaccount.ind.pdd.original']}" />
												</td>
												<td>
													<p:selectBooleanCheckbox value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.indPddOriginal == null? false : holderAccountModifyMgmtBean.holderAccountRequestHySession.indPddOriginal == 1? true : false}"
														disabled="true">
														<p:ajax event="change" process="@this" update="@form" immediate="true"></p:ajax>	
													</p:selectBooleanCheckbox>
												</td>
												<td>
													<p:commandLink id="cmlViewFileOriginal" styleClass="icon" ajax="false" immediate="true"
						  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
						  									rendered="#{not empty holderAccountModifyMgmtBean.holderAccountRequestHySession.documentPddOriginal}">			   
					  									<p:graphicImage id="imgViewOriginal" library="img" title="VER" name="icons/loupe.png"/>
					  									<p:fileDownload value="#{holderAccountModifyMgmtBean.getStreamedContentFileOriginal()}"/>
													</p:commandLink>																			
													<h:outputText value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.nameDocumentPddOriginal}"  rendered="#{not empty holderAccountModifyMgmtBean.holderAccountRequestHySession.documentPddOriginal}"/>
												</td>
											</tr>
											<tr>
												<td>
													<h:outputText value="#{msgs['adm.holderaccount.ind.pdd']}" />
												</td>
												<td>
													<p:selectBooleanCheckbox value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.blPdd}"
														disabled="true">
														<p:ajax event="change" process="@this" update="@form" immediate="true"></p:ajax>	
													</p:selectBooleanCheckbox>
												</td>
												
												<td>
													<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"
						  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
						  									update="opnlPhotoHolder, pnlPhotoPreview"
						  									rendered="#{not empty holderAccountModifyMgmtBean.holderAccountRequestHySession.documentPdd}">			   
					  									<p:graphicImage id="imgView" library="img" title="VER" name="icons/loupe.png"/>
					  									<p:fileDownload value="#{holderAccountModifyMgmtBean.getStreamedContentFilePDD()}"/>
													</p:commandLink>																			
													<h:outputText value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.nameDocumentPdd}"  rendered="#{not empty holderAccountModifyMgmtBean.holderAccountRequestHySession.documentPdd}"/>
												</td>
											</tr>
											<tr>
												<td>
													<h:outputLabel value="#{msgs['adm.holderaccount.stock.code']}"></h:outputLabel>
												</td>
												<td>
													<h:panelGrid columns="2"  id="idPanelCertificateNumber">
													<p:inputText id="codComitente"
														value="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.stockCode}"
														size="25" maxlength="25"
														style="text-align: right; width:140px !important;">
														<p:keyFilter mask="pint"/>
														<p:ajax event="change" process="@this" update="@this msgCodComitente :opnlGenericDialogs" />
													</p:inputText>
													<p:message id="msgCodComitente" for="codComitente" display="icon" />
													</h:panelGrid>	
												</td>
											</tr>
										</table>
									</p:outputPanel>
									<p:outputPanel>
										<p:fieldset legend="#{msgs['adm.holderaccount.holder.lbl']}"
											toggleable="true" id="flsHolder">
											<p:outputPanel id="pnlOldHolders">
												<table width="100%" border="0">
													<tr>
														<td width="10%" valign="top"><h:outputText
																value="#{msgs['adm.holderaccount.holder.asociatedold']} #{msgs['lbl.current']} :"
																styleClass="required-field" /></td>
														<td width="90%"><p:dataTable
																value="#{holderAccountModifyMgmtBean.holderAccountDetRequestOld}"
																var="holderReqOld" id="tablOldHolders"
																rendered="#{not empty holderAccountModifyMgmtBean.holderAccountDetRequestOld}">
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.main']}"
																	rendered="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountType==108 or 
											 				holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountType==647}">
																	<p:graphicImage style="cursor:pointer;" library="img"
																		name="icons/confirmed.png"
																		rendered="#{holderReqOld.representative}" />
																	<p:graphicImage style="cursor:pointer;" library="img"
																		name="icons/confirmed-disabled.png"
																		rendered="#{!(holderReqOld.representative)}" />
																</p:column>
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.cui']}">
																	<h:outputText value="#{holderReqOld.holder.idHolderPk}" />
																</p:column>
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.type']}">
																	<h:outputText
																		value="#{holderReqOld.holder.holderTypeDescription}" />
																</p:column>
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['adm.holderaccount.holder.tit']}" />
																	</f:facet>
																	<h:outputText
																		value="#{holderReqOld.holder.descriptionHolder}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.holder.documenttype']}">
																	<h:outputText
																		value="#{holderReqOld.holder.documentTypeDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.holder.documentnumber']}">
																	<h:outputText
																		value="#{holderReqOld.holder.documentNumber}" />
																</p:column>
															</p:dataTable></td>
													</tr>
													<tr>
														<td colspan="2"><p:separator
																rendered="#{holderAccountModifyMgmtBean.holderAccountDetRequestNew.size != 0}">
															</p:separator></td>
													</tr>
													<tr>
														<td width="10%" valign="top"><h:outputText
																value="#{msgs['adm.holderaccount.holder.asociatednew']} #{msgs['lbl.new']}:"
																styleClass="required-field"
																rendered="#{holderAccountModifyMgmtBean.holderAccountDetRequestNew.size != 0 }" />
														</td>
														<td width="90%"><p:dataTable
																value="#{holderAccountModifyMgmtBean.holderAccountDetRequestNew}"
																var="holderReq" id="tablModifyHolders"
																rendered="#{holderAccountModifyMgmtBean.holderAccountDetRequestNew.size != 0 }">
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.main']}"
																	rendered="#{holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountType==108 or 
											 				holderAccountModifyMgmtBean.holderAccountRequestHySession.holderAccount.accountType==647}">
																	<p:graphicImage style="cursor:pointer;" library="img"
																		name="icons/confirmed.png"
																		rendered="#{holderReq.representative}" />
																	<p:graphicImage style="cursor:pointer;" library="img"
																		name="icons/confirmed-disabled.png"
																		rendered="#{!(holderReq.representative)}" />
																</p:column>
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.cui']}">
																	<h:outputText value="#{holderReq.holder.idHolderPk}" />
																</p:column>
																<p:column style="text-align:center"
																	headerText="#{msgs['adm.holderaccount.holder.type']}">
																	<h:outputText
																		value="#{holderReq.holder.holderTypeDescription}" />
																</p:column>
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['adm.holderaccount.holder.tit']}" />
																	</f:facet>
																	<h:outputText
																		value="#{holderReq.holder.descriptionHolder}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.holder.documenttype']}">
																	<h:outputText
																		value="#{holderReq.holder.documentTypeDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.holder.documentnumber']}">
																	<h:outputText
																		value="#{holderReq.holder.documentNumber}" />
																</p:column>
															</p:dataTable></td>
													</tr>
												</table>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<p:outputPanel id="pnlBanks">
										<p:fieldset
											legend="#{msgs['adm.holderaccount.bank.data.lbl']}"
											toggleable="true">
											<p:outputPanel id="pnlBankData">
												<table width="100%" border="0">
													<tr>
														<td width="10%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.asociatedold']} #{msgs['lbl.current']}:"
																styleClass="required-field" /></td>
														<td width="90%"><p:dataTable
																value="#{holderAccountModifyMgmtBean.holderAccountBankRequestOld}"
																var="bankAccount" id="tblOldBankAccounts">
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['adm.holderaccount.bank.lbl']}" />
																	</f:facet>
																	<h:outputText value="#{bankAccount.descriptionBank}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.accounttype.lbl']}">
																	<h:outputText
																		value="#{bankAccount.bankAccountTypeDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.money.lbl']}">
																	<h:outputText
																		value="#{bankAccount.currencyDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.accountnumber.lbl']}">
																	<h:outputText value="#{bankAccount.accountNumber}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.swift.code.lbl']}">
																	<h:outputText value="#{bankAccount.swiftCode}" />
																</p:column>		
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.account.state']}">
																	<h:outputText value="#{bankAccount.stateDescription}" />
																</p:column>															
															</p:dataTable></td>
													</tr>
													<tr>
														<td colspan="6"><p:separator
																rendered="#{holderAccountModifyMgmtBean.holderAccountBankRequestNew.size != 0}"></p:separator></td>
													</tr>
													<tr>
														<td width="10%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.asociatednew']} #{msgs['lbl.new']}:"
																styleClass="required-field"
																rendered="#{holderAccountModifyMgmtBean.holderAccountBankRequestNew.size != 0}" /></td>
														<td width="90%" colspan="5"><p:dataTable
																value="#{holderAccountModifyMgmtBean.holderAccountBankRequestNew}"
																var="bankAccount" id="tblBankAccountsTest"
																rendered="#{holderAccountModifyMgmtBean.holderAccountBankRequestNew.size != 0}">
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['adm.holderaccount.bank.lbl']}" />
																	</f:facet>
																	<h:outputText value="#{bankAccount.descriptionBank}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.accounttype.lbl']}">
																	<h:outputText
																		value="#{bankAccount.bankAccountTypeDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.money.lbl']}">
																	<h:outputText
																		value="#{bankAccount.currencyDescription}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.accountnumber.lbl']}">
																	<h:outputText value="#{bankAccount.accountNumber}" />
																</p:column>
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.swift.code.lbl']}">
																	<h:outputText value="#{bankAccount.swiftCode}" />
																</p:column>																			
																<p:column style="text-align:center;width:150px"
																	headerText="#{msgs['adm.holderaccount.bank.account.state']}">
																	<h:outputText value="#{bankAccount.stateDescription}" />
																</p:column>																
															</p:dataTable></td>
													</tr>
												</table>
											</p:outputPanel>
											<p:outputPanel id="pnlBankAccounts">
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<p:outputPanel>
										<p:fieldset legend="#{msgs['adm.holderaccount.file.detail']} "
											toggleable="true">
											<p:outputPanel id="outputPanelFileHolderAccountTable">
												<table width="100%">
													<tr>
														<td valign="top" width="10%"><h:outputText
																value="#{msgs['lbl.documents']} #{msgs['lbl.current']}:"
																styleClass="required-field" /></td>
														<td width="90%"><p:dataTable
																id="dtbHolderAccountDocuments" var="holderAccountFile"
																rowIndexVar="regNum"
																value="#{holderAccountModifyMgmtBean.holderAccountFileRequestOld}">
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
																	</f:facet>
																	<h:outputText
																		value="#{holderAccountFile.documentTypeDesc}" />
																</p:column>
																<p:column style="width:510px">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
																	</f:facet>
																	<h:outputText value="#{holderAccountFile.filename}" />
																</p:column>
																<p:column styleClass="content-center" style="width:80px">
																	<f:facet name="header">
																		<h:outputText value="" />
																	</f:facet>
																	<p:commandLink styleClass="icon" global="false"
																		ajax="false" immediate="true" process="@this"
																		onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
																		<p:fileDownload
																			value="#{holderAccountModifyMgmtBean.getStreamedContentFileRequest(holderAccountFile)}" />
																		<p:graphicImage id="imgView" library="img"
																			name="icons/loupe.png" />
																	</p:commandLink>
																</p:column>
															</p:dataTable></td>
													</tr>
													<tr>
														<td colspan="6"><p:separator
																rendered="true"></p:separator></td>
													</tr>
													<!-- #{holderAccountModifyMgmtBean.holderAccountFileRequestNew.size != 0} -->
													<tr>
														<td valign="top" width="10%"><h:outputText
																value="#{msgs['lbl.documents']} #{msgs['lbl.new']}:"
																styleClass="required-field"
																rendered="true" /></td>
														<td width="90%"><p:dataTable
																id="dtbHolderAccountDocumentsNew"
																var="holderAccountFileNew" rowIndexVar="regNum"
																value="#{holderAccountModifyMgmtBean.holderAccountFileRequestNew}"
																rendered="true">
																<p:column>
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
																	</f:facet>
																	<h:outputText
																		value="#{holderAccountFileNew.documentTypeDesc}" />
																</p:column>
																<p:column style="width:510px">
																	<f:facet name="header">
																		<h:outputText
																			value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
																	</f:facet>
																	<h:outputText value="#{holderAccountFileNew.filename}" />
																</p:column>
																<p:column styleClass="content-center" style="width:80px">
																	<f:facet name="header">
																		<h:outputText value="" />
																	</f:facet>
																	<p:commandLink styleClass="icon" global="false"
																		ajax="false" immediate="true" process="@this"
																		onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
																		<p:fileDownload
																			value="#{holderAccountModifyMgmtBean.getStreamedContentFileRequest(holderAccountFileNew)}" />
																		<p:graphicImage id="imgView" library="img"
																			name="icons/loupe.png" />
																	</p:commandLink>
																</p:column>
															</p:dataTable></td>
													</tr>
												</table>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<p:outputPanel id="pnlButtons">
										<table align="center">
											<tr>
												<td><h:panelGrid columns="2">
														<comp:privileges actions="#{userPrivilege.userAcctions}"
															renders="#{userPrivilege.privilegeComponent}"
															actionListenerApprove="#{holderAccountModifyMgmtBean.beforeApproveHolderAccountRequestHandler}"
															actionListenerAnnular="#{holderAccountModifyMgmtBean.beforeAnulateHolderAccountRequestHandler}"
															actionListenerConfirm="#{holderAccountModifyMgmtBean.beforeConfirmHolderAccountRequestHandler}"
															actionListenerReject="#{holderAccountModifyMgmtBean.beforeRejectHolderAccountRequestHandler}">
														</comp:privileges>
														<p:commandButton value="#{msgs['btn.back']}"
															icon="fa fa-undo" action="searchHolderAccountModify"
															immediate="true" ajax="false"
															actionListener="#{holderAccountModifyMgmtBean.loadPrivilegesUser}" />
													</h:panelGrid></td>
											</tr>
										</table>
									</p:outputPanel>
								</p:fieldset>
							</p:outputPanel></td>
					</tr>
				</table>
			</p:outputPanel>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="frmMotive">
				<p:dialog id="dialogMotive" resizable="false" draggable="false"
					modal="true" header="#{headerMessageView}" rendered="false"
					closable="false" visible="true" severity="alert"
					widgetVar="dlgMotive">
					<p:outputPanel id="opnlMotive">
						<table>
							<tr>
								<td width="100px"><h:outputText
										value="#{msgs['lbl.motive']} (*)" styleClass="required-field" />
								</td>
								<td><h:panelGrid columns="2">
										<p:selectOneMenu id="cboMotive" style="width:258px;"
											widgetVar="cnfwCboMotive" label="#{msgs['lbl.motive']}"
											value="#{holderAccountModifyMgmtBean.motiveController.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
											<f:selectItems
												value="#{holderAccountModifyMgmtBean.motiveController.motiveList}"
												var="mot" itemValue="#{mot.parameterTablePk}"
												itemLabel="#{mot.description}" />
											<p:ajax process="@this" update="opnlMotive" event="change"
												listener="#{holderAccountModifyMgmtBean.changeMotiveHandler}" />
										</p:selectOneMenu>
										<p:message for="cboMotive" display="icon" />
									</h:panelGrid></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)"
										id="idTxtMotive"
										rendered="#{holderAccountModifyMgmtBean.motiveController.showMotiveText}"
										styleClass="required-field" /></td>
								<td><h:panelGrid columns="2">
										<p:inputText size="60"
											rendered="#{holderAccountModifyMgmtBean.motiveController.showMotiveText}"
											maxlength="100"
											value="#{holderAccountModifyMgmtBean.motiveController.motiveText}"
											id="txtOtherMotive">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
										<p:message for="txtOtherMotive" display="icon" />
									</h:panelGrid></td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{msgs['btn.save']}"
								icon="fa fa-save"
								actionListener="#{holderAccountModifyMgmtBean.confirmMotiveHandler}"
								update=":opnlDialogs :opnlGenericDialogs :frmBlock" />
							<p:commandButton value="#{msgs['btn.back']}" id="idCmdBtnBack"
								icon="fa fa-undo" type="button"
								onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmMotive:cmbProcessBackMotive')" />
							<p:commandButton id="cmbProcessBackMotive"
								value="#{msgs['btn.back']}" icon="fa fa-undo" style="display:none"
								actionListener="#{holderAccountModifyMgmtBean.closeDialogRejectMotive}"
								process="@this" update=":opnlDialogs" onclick="PF('dlgMotive').hide()" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
				<p:confirmDialog id="cnfBackMotive"
					message="#{msgs['message.back']}" severity="alert"
					header="#{msgs['messages.alert']}" widgetVar="cnfwBackMotive"
					closable="false">
					<p:commandButton id="cmbYes" value="#{msgs['btn.yes']}"
						process="@this" update=":opnlDialogs"
						actionListener="#{holderAccountModifyMgmtBean.closeDialogRejectMotive}"
						oncomplete="PF('cnfwBackMotive').hide();PF('dlgMotive').hide();" />
					<p:commandButton id="cmbNo" value="#{msgs['btn.no']}"
						onclick="PF('cnfwBackMotive').hide()" type="button" />
				</p:confirmDialog>
			</h:form>
			<h:form id="frmBlock">
				<p:confirmDialog id="cnfblock" header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwBlock" rendered="false"
					visible="true" message="#{bodyMessageView}" closable="false">
					<p:commandButton id="cmbConfirmUnblock" value="#{msgs['btn.yes']}"
						actionListener="#{holderAccountModifyMgmtBean.changeActionHolderAccountRequestHandler}"
						oncomplete="PF('cnfwBlock').hide()"
						update=":opnlDialogs :opnlGenericDialogs" />
					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true" closable="false">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchHolderAccountModify.xhtml" ajax="false"
						immediate="true" process="@this" update="@form" />
				</p:confirmDialog>
			</h:form>
			<h:form>
				<p:confirmDialog id="cnfHolderAccountModifyMgmt"
					widgetVar="cnfwHolderAccountMgmt" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true" closable="false">
					<p:commandButton id="cmbConfirm" value="#{msgs['btn.accept']}"
						actionListener="#{holderAccountModifyMgmtBean.saveHolderAccountModifyHandler}"
						process="@this" update="@form" />
					<p:commandButton value="#{msgs['btn.back']}"
						onclick="PF('cnfwHolderAccountMgmt').hide()" type="button" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true" closable="false">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchHolderAccountModify.xhtml" ajax="false"
						immediate="true" process="@this" update="@form" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>