<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script type="text/javascript">
		$(window).load(function(){
			setAllHolidays('${frmHolderRequestSearch.allHolidays}');
		});
	</script>
		<table width="100%">
			<tr>
				<td><h:outputText value="#{gmsgs['iAccounts.holderaccount.modify.manage.title']}"
						styleClass="title-page" /></td>
				<td align="right"><p:commandButton process="@this"
						immediate="true" value="#{msgs['btn.register']}"
						action="#{holderAccountModifyMgmtBean.registryHolderAccountModifyRequestHandler}" icon="fa fa-edit"
						rendered="#{holderAccountModifyMgmtBean.evaluateUserInfoIsActive and holderAccountModifyMgmtBean.evaluateUserInfoCanRegister}" />
				</td>
			</tr>
		</table>

		<h:form id="frmHolderRequestSearch">
			<p:defaultCommand target="outPanelResult" />
			<table width="100%">
				<tr>
					<td><p:defaultCommand target="cmbSearch" /> <p:fieldset
							legend="#{msgs['lbl.criteria.search']}">
							<p:outputPanel id="pnlAccountGenericData">
								<table width="100%" border="0">
									<tr>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.participant.lbl']} (*)"
												styleClass="required-field" /></td>
										<td width="40%"><h:panelGrid columns="2">
												<p:selectOneMenu id="cboParticipant"
													value="#{holderAccountModifyMgmtBean.holderAccountTO.participantTO}"
													disabled="#{holderAccountModifyMgmtBean.userInfo.userAccountSession.participantInstitucion or
																holderAccountModifyMgmtBean.userInfo.userAccountSession.issuerDpfInstitucion or 
																holderAccountModifyMgmtBean.userInfo.userAccountSession.participantInvestorInstitucion}">
													<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
													<f:selectItems
														value="#{holderAccountModifyMgmtBean.participantList}"
														var="participant"
														itemLabel="#{participant.displayDescriptionCode}"
														itemValue="#{participant.idParticipantPk}" />
													<p:ajax event="change"
														update="outPanelResult, pnlAccounts, pnlButtons, pnlAccountGenericData"
														global="false"
														listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}" />
												</p:selectOneMenu>
												<p:message for="cboParticipant" display="icon" />
											</h:panelGrid></td>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.account']}" /></td>
										<td width="40%"><p:outputPanel id="pnlAccounts">
												<p:inputText styleClass="content-right" maxlength="10"
													value="#{holderAccountModifyMgmtBean.holderAccountTO.holderAccountNumber}">
													<p:keyFilter
														regEx="#{cons['exp.regular.numeric.unsigned']}" />
													<p:ajax event="keyup"
														listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}"
														update="outPanelResult, pnlButtons" global="false" />
												</p:inputText>
											</p:outputPanel></td>
									</tr>
									<tr>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.requestnumber']}" /></td>
										<td width="40%"><p:inputText
												value="#{holderAccountModifyMgmtBean.holderAccountTO.requestNumber}"
												maxlength="10" styleClass="content-right">
												<p:keyFilter
													regEx="#{cons['exp.regular.numeric.unsigned']}" />
												<p:ajax event="keyup"
													listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}"
													update="outPanelResult, pnlButtons" global="false" />
											</p:inputText></td>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.status']}" /></td>
										<td width="40%"><p:selectOneMenu
												value="#{holderAccountModifyMgmtBean.holderAccountTO.status}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
												<f:selectItems
													value="#{holderAccountModifyMgmtBean.parameterTableStatusList}"
													var="holderAccount"
													itemLabel="#{holderAccount.parameterName}"
													itemValue="#{holderAccount.parameterTablePk}" />
												<p:ajax event="change" update="outPanelResult, pnlButtons"
													global="false"
													listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}" />
											</p:selectOneMenu></td>
									</tr>
									<tr>
										<td width="10%"><h:outputText
												value="#{msgs['adm.holderaccount.related.name']}" /></td>
										<td width="80%" colspan="3"><p:inputText
												id="txtRelatedName" size="80" maxlength="200"
												value="#{holderAccountModifyMgmtBean.holderAccountTO.relatedName}">
												<p:ajax event="keyup"
													listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}"
													update="outPanelResult, pnlButtons" global="false" />
											</p:inputText></td>
									</tr>
									<tr>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.initialdate']}" /></td>
										<td width="40%"><p:calendar
												value="#{holderAccountModifyMgmtBean.holderAccountTO.initialDate}"
												showOn="button"
												maxdate="#{holderAccountModifyMgmtBean.holderAccountTO.finalDate}"
												id="calInitialDate" pattern="#{msgs['dateFormat']}"
												readonlyInput="true" navigator="true"
												beforeShowDay="disableAllHolydays" size="7">
												<p:ajax update="calEndDate" event="dateSelect"
													global="false" />
												<p:ajax update="calEndDate, outPanelResult, pnlButtons"
													event="dateSelect" global="false"
													listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}" />
											</p:calendar></td>
										<td width="8%"><h:outputText
												value="#{msgs['adm.holderaccount.finaldate']}" /></td>
										<td width="40%"><p:calendar
												mindate="#{holderAccountModifyMgmtBean.holderAccountTO.initialDate}"
												value="#{holderAccountModifyMgmtBean.holderAccountTO.finalDate}"
												navigator="true" id="calEndDate" showOn="button"
												pattern="#{msgs['dateFormat']}" readonlyInput="true"
												beforeShowDay="disableAllHolydays"
												maxdate="#{holderAccountModifyMgmtBean.currentDate}"
												size="7">
												<p:ajax update="calInitialDate outPanelResult, pnlButtons"
													event="dateSelect" global="false"
													listener="#{holderAccountModifyMgmtBean.cleanDataModelAccounModify}" />
											</p:calendar></td>
									</tr>

									<tr>
										<td colspan="4" align="center"><p:commandButton
												id="cmbSearch" value="#{msgs['btn.search']}" icon="fa fa-search"
												update="outPanelResult pnlButtons frmHolderRequestSearch :opnlGenericDialogs"
												actionListener="#{holderAccountModifyMgmtBean.searchHolderAccountModifyRequestHysHandler}"
												rendered="#{holderAccountModifyMgmtBean.userInfo.userAcctions.search}" />
											<p:commandButton id="cmbClean" value="#{msgs['btn.clean']}"
												icon="fa fa-trash"
												actionListener="#{holderAccountModifyMgmtBean.cleanHolderAccountTOHandler}"
												process="@this" update="@form"
												rendered="#{holderAccountModifyMgmtBean.userInfo.userAcctions.search}" />
										</td>
									</tr>
								</table>
							</p:outputPanel>
						</p:fieldset></td>
				</tr>
				<tr>
					<td><ui:remove>
							<p:outputPanel id="pnlButtons">
								<p:panel visible="true"
									rendered="#{(holderAccountModifyMgmtBean.holderAccountRequestHyDataModel.rowCount >= 1)}">
									<p:commandButton value="#{msgs['btn.aprove']}"
										icon="ui-approve" update=":opnlDialogs :opnlGenericDialogs"
										actionListener="#{holderAccountModifyMgmtBean.beforeApproveHolderAccountRequestHandler}" />
									<p:commandButton value="#{msgs['btn.annular']}"
										icon="ui-anulate" update=":opnlDialogs :opnlGenericDialogs"
										actionListener="#{holderAccountModifyMgmtBean.beforeAnulateHolderAccountRequestHandler}" />
									<p:commandButton value="#{msgs['btn.confirm']}"
										icon="ui-confirm" update=":opnlDialogs :opnlGenericDialogs"
										actionListener="#{holderAccountModifyMgmtBean.beforeConfirmHolderAccountRequestHandler}" />
									<p:commandButton value="#{msgs['btn.reject']}" icon="ui-cancel"
										update=":opnlDialogs :opnlGenericDialogs"
										actionListener="#{holderAccountModifyMgmtBean.beforeRejectHolderAccountRequestHandler}" />
								</p:panel>
							</p:outputPanel>
						</ui:remove> <p:outputPanel id="pnlButtons">
							<p:panel visible="true"
								rendered="#{(holderAccountModifyMgmtBean.holderAccountRequestHyDataModel.rowCount >= 1) and holderAccountModifyMgmtBean.evaluateUserInfoIsActive}">
								<comp:privileges actions="#{userPrivilege.userAcctions}"
									renders="#{userPrivilege.privilegeComponent}"
									actionApprove="#{holderAccountModifyMgmtBean.beforeApproveAction}"
									actionAnnular="#{holderAccountModifyMgmtBean.beforeAnulateAction}"
									actionConfirm="#{holderAccountModifyMgmtBean.beforeConfirmAction}"
									actionReject="#{holderAccountModifyMgmtBean.beforeRejectAction}">
								</comp:privileges>
							</p:panel>
						</p:outputPanel></td>
				</tr>
				<tr>
					<td><p:outputPanel id="outPanelResult">
							<p:fieldset legend="#{msgs['lbl.results']}"
								rendered="#{not empty holderAccountModifyMgmtBean.holderAccountRequestHyDataModel}">
								<p:dataTable id="dtbResult" var="holderAccountRequest"
									value="#{holderAccountModifyMgmtBean.holderAccountRequestHyDataModel}"
									rendered="#{(holderAccountModifyMgmtBean.holderAccountRequestHyDataModel.rowCount >= 1)}"
									paginator="true" rows="10"
									paginatorTemplate="#{msgs['dtb.paginator.template']}"
									currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" paginatorPosition="top"
									rowIndexVar="rIndx"
									rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									rowKey="#{holderAccountRequest.idHolderAccountReqPk}"
									selection="#{holderAccountModifyMgmtBean.holderAccountRequestHySession}">
									<p:column selectionMode="single" style="width:18px" />
									<p:column style="width:100px" styleClass="content-center"
										sortBy="#{holderAccountRequest.idHolderAccountReqPk}"
										headerText="#{msgs['adm.holderaccount.requestnumber']}">
										<p:commandLink action="holderAccountModifyDetailRule"
											actionListener="#{holderAccountModifyMgmtBean.selectedHolderAccountRequestDetailHanlder(holderAccountRequest)}"
											style="color:blue"
											value="#{holderAccountRequest.idHolderAccountReqPk}" />
									</p:column>
									<p:column
										headerText="#{msgs['adm.holderaccount.registerdate']}"
										styleClass="content-center" style="width:110px"
										sortBy="#{holderAccountRequest.registryDate}">
										<h:outputText value="#{holderAccountRequest.registryDate}">
											<f:convertDateTime pattern="dd/M/yyyy" />
										</h:outputText>
									</p:column>
									<p:column
										headerText="#{msgs['adm.holderaccount.participant.lbl']}"
										sortBy="#{holderAccountRequest.participant.idParticipantPk}">
										<h:outputText
											value="#{holderAccountRequest.participant.mnemonic} - #{holderAccountRequest.participant.idParticipantPk}" />
									</p:column>
									<p:column style="width:120px"
										headerText="#{msgs['adm.holderaccount.account']}"
										styleClass="content-center"
										sortBy="#{holderAccountRequest.holderAccount.accountNumber}">
										<h:outputText
											value="#{holderAccountRequest.holderAccount.accountNumber}" />
									</p:column>
									<p:column
										headerText="#{msgs['adm.holderaccount.holder.search.cui']} - #{msgs['adm.holderaccount.holder.tit']}"
										sortBy="#{cuis.holder.idHolderPk}">
										<ui:repeat
											value="#{holderAccountRequest.holderAccountDetRequest}"
											var="cuis">
											<li><h:outputFormat value="#{cuis.holder.idHolderPk}" />
												<h:outputFormat value="-" /> <h:outputFormat
													value="#{cuis.holder.fullName}" /></li>
										</ui:repeat>
									</p:column>
									<p:column style="width:120px"
										headerText="#{msgs['adm.holderaccount.status']}"
										sortBy="#{holderAccountRequest.stateAccountName}">
										<h:outputText value="#{holderAccountRequest.stateAccountName}" />
									</p:column>
									<p:column styleClass="content-center" >
										<f:facet name="header">
											<h:outputText value="" />
										</f:facet>
										<p:commandLink style="color:blue;" disabled="#{holderAccountModifyMgmtBean.isNotStateConfirm(holderAccountRequest.requestState)}"
											rendered="#{!holderAccountModifyMgmtBean.getVisibleFileHolderAccountModifyReport(holderAccountRequest)}"
											update="dtbResult" onstart="PF('statusDialog').show()"
											oncomplete="PF('statusDialog').hide() "
											actionListener="#{holderAccountModifyMgmtBean.getGenerateFileHolderAccountModifyReport(holderAccountRequest,'HolderAccount')}">
											<p:graphicImage id="imgView1" library="img"
																					name="buttons/save.png" />
										</p:commandLink>
										<p:commandLink style="color:blue;" ajax="false" disabled="#{holderAccountModifyMgmtBean.isNotStateConfirm(holderAccountRequest.requestState)}"
											rendered="#{holderAccountModifyMgmtBean.getVisibleFileHolderAccountModifyReport(holderAccountRequest)}">
											<p:fileDownload
												value="#{holderAccountModifyMgmtBean.getStreamedContentTemporalFileHolderAccountModifyReport(holderAccountRequest)}" />
											<p:graphicImage id="imgView2" library="img"
																					name="icons/loupe.png" />
										</p:commandLink>
									</p:column>
									<f:facet name="footer">
										<div style="text-align: left">
											<h:outputLabel
												value="#{holderAccountModifyMgmtBean.holderAccountRequestHyDataModel.rowCount} #{msgs['lbl.results']}"
												style="font-weight:bold;" />
										</div>
									</f:facet>
								</p:dataTable>
								<h:outputLabel value="#{msgs['lbl.search.no.result']}"
									rendered="#{holderAccountModifyMgmtBean.holderAccountRequestHyDataModel.rowCount == 0}" />
							</p:fieldset>
						</p:outputPanel></td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="opnlDialogs">
			<h:form id="frmMotive">
				<p:dialog id="dialogMotive" resizable="false" draggable="false"
					modal="true" header="#{headerMessageView}" rendered="false"
					visible="true" severity="alert" widgetVar="dlgMotive">

					<p:outputPanel id="opnlMotive">
						<table>
							<tr>
								<td width="100px"><h:outputText
										value="#{msgs['lbl.motive']}" styleClass="required-field" />
								</td>
								<td><p:selectOneMenu id="cboMotive" style="width:258px;"
										label="#{msgs['lbl.motive']}"
										value="#{holderAccountModifyMgmtBean.motiveController.idMotivePK}">
										<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"
											itemValue="-1" />
										<f:selectItems
											value="#{holderAccountModifyMgmtBean.motiveController.motiveList}"
											var="mot" itemValue="#{mot.parameterTablePk}"
											itemLabel="#{mot.description}" />
										<p:ajax process="@this" update="opnlMotive" event="change"
											listener="#{holderAccountModifyMgmtBean.changeMotiveHandler}" />
										<f:validator
											validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
									</p:selectOneMenu></td>
								<td width="50px" align="right"><p:message for="cboMotive"
										display="icon" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['lbl.other.motive']} (*)"
										id="idTxtMotive"
										rendered="#{holderAccountModifyMgmtBean.motiveController.showMotiveText}" />
								</td>
								<td><p:inputText size="60"
										rendered="#{holderAccountModifyMgmtBean.motiveController.showMotiveText}"
										maxlength="60"
										value="#{holderAccountModifyMgmtBean.motiveController.motiveText}"
										id="txtOtherMotive" required="true">
										<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
									</p:inputText></td>
								<td width="50px" align="right"><p:message
										for="txtOtherMotive" display="icon" /></td>
							</tr>
						</table>
					</p:outputPanel>
					<h:panelGrid columns="1" style="text-align:center" width="100%">
						<p:outputPanel>
							<p:commandButton id="enterMotive" value="#{msgs['btn.save']}"
								icon="fa fa-save"
								actionListener="#{holderAccountModifyMgmtBean.confirmMotiveHandler}"
								update=":opnlDialogs :opnlGenericDialogs :frmBlock"
								oncomplete="PF('dlgMotive').hide()" />
						</p:outputPanel>
					</h:panelGrid>
				</p:dialog>
			</h:form>
			<h:form id="frmBlock">
				<p:confirmDialog id="cnfblock" header="#{headerMessageView}"
					severity="alert" widgetVar="cnfwBlock" rendered="false"
					closable="false" visible="true" message="#{bodyMessageView}">
					<p:commandButton id="cmbConfirmUnblock" value="#{msgs['btn.yes']}"
						actionListener="#{holderAccountModifyMgmtBean.changeActionHolderAccountRequestHandler}"
						oncomplete="PF('cnfwBlock').hide()"
						update=":opnlDialogs :opnlGenericDialogs" />
					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfwBlock').hide()" type="button" update="@form" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true" closable="false">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="search.xhtml" ajax="false" immediate="true"
						process="@this" update="@form" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
	</ui:define>
</ui:composition>
</html>