<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">
	<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
		<h:outputText
			value="#{gmsgs['iSecurity.audit.report.exceptionprivilege.title']}"
			styleClass="title-page" />
			<h:form id="frmExceptionReport">
				<table width="100%">
					<tr>
						<td>
							<p:fieldset id="idFsFilters" llegend="#{msgs['lbl.criteria.search']}" toggleable="false">
								<table width="100%" align="center">
									<tr>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.usercode']}" id="idOtxtProfMnemonic"/>
										</td>
										<td> 
											<p:inputText style="width:150px;" maxlength="10" id="idItxtProfMnemonic"  autocomplete="off"
											value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.userName}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
											</p:inputText>
										</td>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.institutiontype']}"  id="idOtxtProfName"/>
										</td>
										<td> 
											<p:selectOneMenu style="width:158px;"
				        					value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.institutionType}">
				        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  noSelectionOption="true"/>
				        				  	<f:selectItems value="#{reportExceptionUserPrivilegeBean.listInstitutionsType}"  id="idCboItemsProfType"
				        						var="st" itemLabel="#{st.name}" itemValue="#{st.idParameterPk}"/>	        				
		        							</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.institution']}"/>
										</td>
										<td>
											<p:selectOneMenu style="width:158px;" id="idCboInstitucion"
				        					value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.institution}">
				        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" noSelectionOption="true"/>
				        				  	<f:selectItems value="#{reportExceptionUserPrivilegeBean.listInstitutionsSecurity}" 
				        						var="st" itemLabel="#{st.mnemonicInstitution}" itemValue="#{st.idInstitutionSecurityPk}"/>	        				
		        							</p:selectOneMenu>
										</td>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.systemtype']}"/>
										</td>
										<td> 
											<p:selectOneMenu id="idCboProfSystem"
												value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.systemId}">
					        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" id="idCboItemProfSystem" noSelectionOption="true"/>
					        					<f:selectItems value="#{reportExceptionUserPrivilegeBean.systems}"  id="idCboItemsProfSystem"
					        						var="sys" itemLabel="#{sys.name}" itemValue="#{sys.idSystemPk}"/>
					        				</p:selectOneMenu>
										</td>
									</tr>
									<tr>
								<td>
									<h:outputText value="#{gmsgs['lbl.initial.date']}" id="idOtxtBeginDate"/>
								</td>
								<td>
									<p:calendar id="calInitialDate"  
												showOn="both" navigator="true" 
												size="10" readonlyInput="true" 
												pattern="#{gconst['dateFormat']}"  yearRange="c-20:c"   
												value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.initialRegistry}"
												maxdate="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.endRegistry}" >
												<p:ajax event="dateSelect" 
														update="calFinalDate" />
									</p:calendar>
								</td>
											
								<td>
									<h:outputText value="#{gmsgs['lbl.end.date']}" id="idOtxtEndDate"/>
								</td>
								<td>
									<p:calendar id="calFinalDate" 
											showOn="both" navigator="true" 
											size="10" readonlyInput="true" 
											pattern="#{gconst['dateFormat']}"  yearRange="c-20:c"
											value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.endRegistry}" 
											mindate="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeFilter.initialRegistry}"
											maxdate="#{reportExceptionUserPrivilegeBean.currentSystemDate}" >
											<p:ajax event="dateSelect" 
													update="calInitialDate" />
									</p:calendar> 
								</td>
							</tr>							
									
									
									
									<tr>
										<td colspan="4" align="center">
											<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}"
												icon="fa fa-search" update="idFsFilters idPnlResults"
												actionListener="#{reportExceptionUserPrivilegeBean.searchExceptions}"/>
											<p:spacer width="5"/>
											<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}"
												 process="@this" partialSubmit="true" 
												 icon="fa fa-trash"  update="idFsFilters idPnlResults" 
												 actionListener="#{reportExceptionUserPrivilegeBean.clean}" />
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
						<p:outputPanel id="idPnlResults">
							<p:fieldset id="idFsResults" legend="#{gmsgs['lbl.results']}"  
								rendered="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeResult != null}" >
								<p:dataTable id="idDtConsolidateResults"
									rendered="#{not empty reportExceptionUserPrivilegeBean.exceptionPrivilegeResult}"
									value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeResult}"
									rowIndexVar="rowIndex" var="exception"
									rowStyleClass="#{empty rowIndex or rowIndex mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									paginator="true" rows="10" paginatorPosition="top"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{gconst['dtb.rows.per.page.template']}" >
												
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.row.usercode']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
										<h:outputText value="#{exception.loginUser}" />										
									</p:column>	

									<p:column>
									    <f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.row.institutiontype']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapInstitutionsType[exception.institutionType]}"/>
									</p:column>
									<p:column>
									<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.institution']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapInstitutionsSecurity[exception.institution]}"/>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.user.state']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapAccountStates[exception.userState]}"/>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.exception.name']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.exceptionName}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.exception.state']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapExceptionStates[exception.exceptionState]}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.situation']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapExceptionSituatios[exception.exceptionSituation]}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.row.systemtype']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.systemName}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.system']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.moduleName}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.level2']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.optionName}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.privilege']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportExceptionUserPrivilegeBean.mapPrivileges[exception.privilege]}"/>
									</p:column>
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.creation.date']}"
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.registryDate}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.exception.initialdate']}"
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.initialException}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.exception.finaldate']}"
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.finalException}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.lastip']}"
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.lastModificationIp}"/>
									</p:column>	
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.last.user']}"
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{exception.lastModificationUser}"/>
									</p:column>	
													
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{reportExceptionUserPrivilegeBean.exceptionPrivilegeResult.size()} #{gmsgs['lbl.results']}" 
												style="font-weight:bold;"/>
										</div>
									</f:facet>
								</p:dataTable>
								<p:panel id="export" style="text-align:right;border:0;" rendered="#{not empty reportExceptionUserPrivilegeBean.exceptionPrivilegeResult}">
									<exp:exportDataTable title="#{msgs['audit.report.page.exceptionprivilege.title']}" pdf="true" xls="true" 
									target=":frmExceptionReport:idDtConsolidateResults" parameters="#{reportExceptionUserPrivilegeBean.generateParametersExport()}"/>
								</p:panel>
								<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{empty reportExceptionUserPrivilegeBean.exceptionPrivilegeResult}"
									style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
						</td>
					</tr>
				</table>
			</h:form>
	</ui:define>
	</ui:composition>
</html>