<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:exp="http://java.sun.com/jsf/composite/exportComponent">
	<ui:composition template="/template/defaultSecurity.xhtml">
	<ui:define name="body">
		<h:outputText
			value="#{gmsgs['iSecurity.audit.report.usercreation.title']}"
			styleClass="title-page" />
			<h:form id="frmUserReport">
				<table width="100%">
					<tr>
						<td>
							<p:fieldset id="idFsFilters" llegend="#{msgs['lbl.criteria.search']}" toggleable="false">
								<table width="100%" align="center">
									<tr>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.usercode']}"/>
										</td>
										<td> 
											<p:inputText style="width:150px;" maxlength="20" id="idItxtUserLogin"  autocomplete="off"
											value="#{reportUserCreationBean.userCreationFilter.userName}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
											</p:inputText>
										</td>
										<td colspan="2"></td>
									</tr>
									<tr>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.institutiontype']}"/>
										</td>
										<td> 
											<p:selectOneMenu style="width:158px;"
				        					value="#{reportUserCreationBean.userCreationFilter.institutionType}">
				        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"  noSelectionOption="true"/>
				        				  	<f:selectItems value="#{reportUserCreationBean.listInstitutionsType}"
				        						var="st" itemLabel="#{st.name}" itemValue="#{st.idParameterPk}"/>	        				
		        							</p:selectOneMenu>
										</td>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.institution']}"/>
										</td>
										<td>
											<p:selectOneMenu style="width:158px;" id="idCboInstitucion"
				        					value="#{reportUserCreationBean.userCreationFilter.institution}">
				        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" noSelectionOption="true"/>
				        				  	<f:selectItems value="#{reportUserCreationBean.listInstitutionsSecurity}" 
				        						var="st" itemLabel="#{st.mnemonicInstitution}" itemValue="#{st.idInstitutionSecurityPk}"/>	        				
		        							</p:selectOneMenu>
										</td>
									</tr>
									<tr>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['audit.report.page.exception.state']}"/>
										</td>
										<td> 
											<p:selectOneMenu id="idCboAccountState"
												value="#{reportUserCreationBean.userCreationFilter.userState}">
					        				  	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" noSelectionOption="true"/>
					        					<f:selectItems value="#{reportUserCreationBean.listAccountStates}"  
					        						var="userStateCombo" itemLabel="#{userStateCombo.name}" itemValue="#{userStateCombo.idParameterPk}"/>
					        				</p:selectOneMenu>
										</td>
										<td class="td-label-default"> 
											<h:outputText value="#{msgs['profile.lbl.name']}"/>
										</td>
										<td> 
											<p:inputText style="width:430px;" maxlength="100" id="idItxtProfName"  autocomplete="off"
											value="#{reportUserCreationBean.userCreationFilter.profileName}" >
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
											</p:inputText>
										</td>
									</tr>
									<tr>
								<td>
									<h:outputText value="#{gmsgs['lbl.initial.date']}" id="idOtxtBeginDate"/>
								</td>
								<td>
									<p:calendar id="calInitialDate"  
												showOn="both" navigator="true" 
												size="10" readonlyInput="true" 
												pattern="#{gconst['dateFormat']}"  yearRange="c-20:c"   
												value="#{reportUserCreationBean.userCreationFilter.initialRegistry}"
												maxdate="#{reportUserCreationBean.userCreationFilter.finalRegistry}" >
												<p:ajax event="dateSelect" 
														update="calFinalDate" />
									</p:calendar>
								</td>
											
								<td>
									<h:outputText value="#{gmsgs['lbl.end.date']}" id="idOtxtEndDate"/>
								</td>
								<td>
									<p:calendar id="calFinalDate" 
											showOn="both" navigator="true" 
											size="10" readonlyInput="true" 
											pattern="#{gconst['dateFormat']}"  yearRange="c-20:c"
											value="#{reportUserCreationBean.userCreationFilter.finalRegistry}" 
											mindate="#{reportUserCreationBean.userCreationFilter.initialRegistry}"
											maxdate="#{reportUserCreationBean.currentSystemDate}" >
											<p:ajax event="dateSelect" 
													update="calInitialDate" />
									</p:calendar> 
								</td>
							</tr>							
									
									
									
									<tr>
										<td colspan="4" align="center">
											<p:commandButton id="cmbSearch" value="#{msgs['btn.search']}"
												icon="fa fa-search" update="idFsFilters idPnlResults"
												actionListener="#{reportUserCreationBean.searchExceptions}"/>
											<p:spacer width="5"/>
											<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}"
												 process="@this" partialSubmit="true" 
												 icon="fa fa-trash"  update="idFsFilters idPnlResults" 
												 actionListener="#{reportUserCreationBean.clean}" />
										</td>
									</tr>
								</table>
							</p:fieldset>
						</td>
					</tr>
					<tr>
						<td>
						<p:outputPanel id="idPnlResults">
							<p:fieldset id="idFsResults" legend="#{gmsgs['lbl.results']}"  
								rendered="#{reportUserCreationBean.userCreationsListResult != null}" >
								<p:dataTable id="idDtConsolidateResults"
									rendered="#{not empty reportUserCreationBean.userCreationsListResult}"
									value="#{reportUserCreationBean.userCreationsListResult}"
									rowIndexVar="rowIndex" var="user"
									rowStyleClass="#{empty rowIndex or rowIndex mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
									paginator="true" rows="10" paginatorPosition="top"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
									rowsPerPageTemplate="#{gconst['dtb.rows.per.page.template']}" >
												
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.row.usercode']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
										<h:outputText value="#{user.loginUser}" />										
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.email']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
										<h:outputText value="#{user.userEmail}" />										
									</p:column>	

									<p:column>
									    <f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.row.institutiontype']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportUserCreationBean.mapInstitutionsType[user.institutionType]}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.institution']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportUserCreationBean.mapInstitutionsSecurity[user.institution]}"/>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.exception.state']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{reportUserCreationBean.mapAccountStates[user.userState]}"/>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.fullname']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.userFullName}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.profilename']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.profileName}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.registry.user']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.registryUser}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.confirm.user']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.confirmationUser}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.creation.date']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.registryDate}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.confirm.date']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.confirmationDate}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.last.user.modify']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.lastModificationUser}"/>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.last.date']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.lastModification}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.lastip']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.lastModificationIp}"/>
									</p:column>
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.last.access.date']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.lastAccessToSystem}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['audit.report.page.password.date']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.lastChangePasswordDate}">
									   	<f:convertDateTime pattern="${gconst['dateTimeSegFormat']}"/>
									   </h:outputText>
									</p:column>	
									<!-- Agencia -->
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.agency']}"    
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.agency}"/>
									</p:column>
									<!-- Responsabilidad -->
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.responsibility']}"    
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.responsibility}"/>
									</p:column>
									<!-- Numero de documento -->
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.document.number']}"   
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.documentNumber}"/>
									</p:column>
									<!-- Departamento -->
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['subsidary.adm.subsidary.location']}" 
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.department}"/>
									</p:column>
									<!-- Cargo -->
									<p:column>
										<f:facet name="header">
										<h:outputText value="#{msgs['user.lbl.office']}"  
                  							escape="false" style="white-space:pre-line;" />
										</f:facet>
									   <h:outputText value="#{user.jobTitle}"/>
									</p:column>
									
									<f:facet name="footer">	
										<div style="width:100%; text-align:left">								
											<h:outputLabel value="#{reportUserCreationBean.userCreationsListResult.size()} #{gmsgs['lbl.results']}" 
												style="font-weight:bold;"/>
										</div>
									</f:facet>
								</p:dataTable>
								<p:panel id="export" style="text-align:right;border:0;" rendered="#{not empty reportUserCreationBean.userCreationsListResult}">
									<exp:exportDataTable title="#{msgs['audit.report.page.usercreation.title']}" pdf="true" xls="true" 
									target=":frmUserReport:idDtConsolidateResults" parameters="#{reportUserCreationBean.generateParametersExport()}"/>
								</p:panel>
								<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
									rendered="#{empty reportUserCreationBean.userCreationsListResult}"
									style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
						</td>
					</tr>
				</table>
			</h:form>
	</ui:define>
	</ui:composition>
</html>