<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<p:importEnum type="com.pradera.integration.common.type.BooleanType"
			var="boolType" />
		<script type="text/javascript">
	$(window).load(function(){
		setInitialFormState('#frmHolderAccountMgmt');
	});
    </script>
		<script type="text/javascript">
	 $(window).load(function(){
  	setAllHolidays('${holderAccountMgmtBean.allHolidays}');
 	});
</script>

		<style type="text/css">
.ui-panelgrid tr,.ui-panelgrid td {
	border: 0 !important;
}
</style>

		<h:form id="frmHolderAccountMgmt">
			<p:outputPanel>
				<table width="100%">
					<tr>
						<td><h:outputText
								value="#{gmsgs['iAccounts.holderaccount.register.registration.title']}"
								styleClass="title-page" 
								style='font-family:"Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana,Arial, sans-serif !important;font-size: 22px !important;margin: 0 !important;'/></td>
					</tr>
					<tr>
						<td><p:outputPanel id="pnlData">
								<p:fieldset legend="#{msgs['lbl.register.data']}">
									<p:outputPanel id="pnlAccountGenericData">
										<table width="100%">
											<tr>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.participant.lbl']} (*)"
														styleClass="required-field" /></td>
												<td colspan="3"><h:panelGrid columns="2">
														<p:selectOneMenu id="cboParticipant" label="#{msgs['adm.holderaccount.participant.lbl']}"
															value="#{holderAccountMgmtBean.holderAccountRequestHySession.participant.idParticipantPk}"
															valueChangeListener="#{holderAccountMgmtBean.holderRequestNewHandler}"
															disabled="#{holderAccountMgmtBean.userInfo.userAccountSession.participantInstitucion or 
																		holderAccountMgmtBean.userInfo.userAccountSession.issuerDpfInstitucion or
																		holderAccountMgmtBean.userInfo.userAccountSession.participantInvestorInstitucion}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
															<f:selectItems
																value="#{holderAccountMgmtBean.participantList}"
																var="participant"
																itemLabel="#{participant.displayDescriptionCode}"
																itemValue="#{participant.idParticipantPk}" />
															<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
								                        	<p:ajax event="change"
																update="pnlHolderFullName pnlHolders pnlAccountGenericData pnlBankData pnlBankAccounts outputPanelAttachAccounHolder"
																global="false" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboParticipant" />
													</h:panelGrid></td>
											</tr>
											<tr>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.accounttype.lbl']} (*)"
														styleClass="required-field" /></td>
												<td width="40%"><h:panelGrid columns="2">
														<p:selectOneMenu id="cboAccountType" label="#{msgs['adm.holderaccount.accounttype.lbl']}"
															value="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType}"
															valueChangeListener="#{holderAccountMgmtBean.holderRequestNewHandler}">
															<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
															<f:selectItems
																value="#{holderAccountMgmtBean.parameterTableAccoutsTypeList}"
																var="typeAccountRegistry"
																itemLabel="#{typeAccountRegistry.parameterName}"
																itemValue="#{typeAccountRegistry.parameterTablePk}" />
															<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
								                        	<p:ajax event="change"
																update="pnlAccountGenericData pnlHolderFullName pnlHolders pnlBankData pnlBankAccounts outputPanelAttachAccounHolder"
																global="false" />
														</p:selectOneMenu>
														<p:message display="icon" for="cboAccountType" />
													</h:panelGrid></td>
												<td width="8%"><h:outputLabel
														value="#{msgs['adm.holderaccount.holder.group']}" /></td>
												<td width="40%"><p:outputPanel id="pnlAccountGroup">
														<p:selectOneMenu id="cboAccountGroup"
															value="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountGroup}"
															disabled="true">
															<f:selectItems
																value="#{holderAccountMgmtBean.parameterTableAccountGroupList}"
																var="group" itemLabel="#{group.parameterName}"
																itemValue="#{group.parameterTablePk}" />
														</p:selectOneMenu>
													</p:outputPanel></td>
											</tr>
											<tr>
												<td width="8%"><h:outputText
														value="#{msgs['adm.holderaccount.related.name']} (*)"
														styleClass="required-field" /></td>
												<td colspan="3"><p:inputText id="txtRelatedName"
														size="150" maxlength="200"
														value="#{holderAccountMgmtBean.holderAccountRequestHySession.relatedName}">
														<p:ajax event="change" update="txtRelatedName"
															global="false" />
														<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.business.name']}"/>
														<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" />																			
													</p:inputText>
													</td>
												<td width="40px">
													<p:message id="messageRelatedName" for="txtRelatedName" display="icon" />
												</td>		
											</tr>
											
											<tr>
												<td>
													<h:outputText value="#{msgs['adm.holderaccount.ind.pdd']}" />
												</td>
												<td>
													<p:selectBooleanCheckbox value="#{holderAccountMgmtBean.holderAccountRequestHySession.blPdd}" disabled ="#{holderAccountMgmtBean.blockPdd}" >
														<p:ajax event="change" process="@this" update="@form" immediate="true"></p:ajax>	
													</p:selectBooleanCheckbox>
												</td>
												
												<td>
													<p:outputPanel styleClass="fileupload-customize"
															layout="block" id="opnlDocumentPdd">
															<p:fileUpload id="fuplPddFile" mode="advanced"
																auto="true"
																widgetVar="fuplwPddFile"
																disabled="#{!holderAccountMgmtBean.holderAccountRequestHySession.blPdd}"
																label="#{msgs['fupl.label']}"
																allowTypes="/(\\.|\\/)(#{holderAccountMgmtBean.pdfFileUploadFiltTypes})$/"
																sizeLimit="#{holderAccountMgmtBean.fUploadFileSizeMgmt}"
																invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
																invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
																fileUploadListener="#{holderAccountMgmtBean.fileUploadHandler}"
																update=":cnfMsgCustomValidationPar opnlDocumentPdd" />
															<script type="text/javascript">									
															    $(document).ready(function(){											
																fileuploadValidate('fuplwPddFile');	
																	});		
															</script>
															<p:graphicImage id="imgLimitPdd" library="img" name="icons/help.png" styleClass="icon" />
															<p:tooltip for="imgLimitPdd">
																<h:outputFormat value="#{msgs['fupl.limit.info']}" escape="false">
																	<f:param value="#{holderAccountMgmtBean.fUploadFileSizeDisplayMgmt}" />
																	<f:param value="#{msgs['lbl.doc.xls.pdf.formats']}" />
																</h:outputFormat>
															</p:tooltip>
															
															<p:commandLink 	id="cmlRemovePdd" styleClass="icon" 
																			update="opnlDocumentPdd" global="false" 
																		   	process="@this" 
																		   	rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.documentPdd}"
																		   	actionListener="#{holderAccountMgmtBean.deleteDocumentPdd}">		
																<p:graphicImage id="imgRemovePdd" library="img" name="buttons/remove.png"/>
															</p:commandLink>
															<p:commandLink id="cmlViewFile" styleClass="icon" ajax="false" immediate="true"
						  									process="@this" onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)"
						  									update="opnlPhotoHolder, pnlPhotoPreview"
						  									rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.documentPdd}">			   
						  									<p:graphicImage id="imgView" library="img" title="VER" name="icons/loupe.png"/>
						  									<p:fileDownload value="#{holderAccountMgmtBean.getStreamedContentFile()}"/>
															</p:commandLink>																			
															<h:outputText value="#{holderAccountMgmtBean.documentFileName}"  rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.documentPdd}"/>	
													</p:outputPanel>
												</td>
											</tr>
											<tr>
												<td>
													<h:outputLabel value="#{msgs['adm.holderaccount.stock.code']}"></h:outputLabel>
												</td>
												<td>
												<h:panelGrid columns="2"  id="idPanelCertificateNumber">
												<p:inputText id="codComitente"
													value="#{holderAccountMgmtBean.holderAccountRequestHySession.stockCode}" 
													size="25" maxlength="25"
													style="text-align: right; width:140px !important;">
													<p:keyFilter mask="pint"/>
													<p:ajax event="change" process="@this" update="@this msgCodComitente :opnlGenericDialogs" />
												</p:inputText>
												<p:message id="msgCodComitente" for="codComitente" display="icon" />
												</h:panelGrid>													
												</td>
											</tr>
										</table>
									</p:outputPanel>
									<p:outputPanel>
										<p:fieldset legend="#{msgs['adm.holderaccount.holder.lbl']}"
											toggleable="true" id="flsHolder">
											<p:outputPanel id="pnlHolderFullName">
												<table width="100%" border="0">
													<tr>
														<td width="7%"><h:outputLabel
																value="#{msgs['adm.holderaccount.holder.cui']} (*)" styleClass="required-field" /></td>
														<td width="90%" colspan="3"><p:outputPanel
																id="helpAccount">
																<ark:holderHelper blPersonType="true"  required="true" blValidation="false" id="holderHelper"
																    participant="#{holderAccountMgmtBean.holderAccountRequestHySession.participant.idParticipantPk}"
																    personType="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType}"
																	holder="#{holderAccountMgmtBean.holderRequest}"
																	remoteListener="rmtHolder()"
																	disabled="#{(holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType == 0 || holderAccountMgmtBean.holderAccountRequestHySession.participant.idParticipantPk == 0 ||  
													 		     holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType == null || holderAccountMgmtBean.holderAccountRequestHySession.participant.idParticipantPk == null)}"
																	beanValidation="#{com.pradera.model.corporatives.stockcalculation.validation.StockByHolder}">
																   <f:facet name="textMessage">
																      <p:message id="messageHolder" for="holderHelper:holderHelper" display="icon"/>
																   </f:facet>
																</ark:holderHelper>	   
															</p:outputPanel> <p:remoteCommand name="rmtHolder"
																actionListener="#{holderAccountMgmtBean.searchHolderHandler}"
																immediate="true" process="@this"
																update="pnlAccountGroup, helpAccount, pnlHolders, pnlBankData, pnlBttAdd dialogHolderAccountExist :opnlGenericDialogs"
																partialSubmit="true">
															</p:remoteCommand></td>
													</tr>
													<tr>
														<td colspan="2" align="center"><p:outputPanel
																id="pnlBttAdd">
																<p:commandButton value="#{msgs['btn.add']}"
																	icon="ui-add" id="bttAddHolder"
																	rendered="#{not empty holderAccountMgmtBean.holderRequest.idHolderPk and holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType==108}"
																	actionListener="#{holderAccountMgmtBean.addHolderOnDataTableHandler}"
																	update="pnlHolders pnlHolderFullName :opnlGenericDialogs" process="@this">
																</p:commandButton>																
															</p:outputPanel></td>
													</tr>
													<tr>
														<td colspan="2"><h:outputText
																value="#{msgs['adm.holderaccount.holder.asociated']} (*)"
																rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountDetRequest}"
																styleClass="required-field" /></td>
													</tr>
												</table>
											</p:outputPanel>
											<p:outputPanel id="pnlHolders">
												<p:dataTable
													value="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountDetRequest}"
													var="holderReq" id="tablHolders"
													rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountDetRequest}">
													<p:column style="text-align:center;width:80px"
														headerText="#{msgs['adm.holderaccount.holder.main']}"
														rendered="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType==108 or holderAccountMgmtBean.holderAccountRequestHySession.holderAccountType==647}">
														<p:commandLink rendered="#{holderReq.representative}"
															actionListener="#{holderAccountMgmtBean.deasignateHolderMain(holderReq)}"
															update="tablHolders" immediate="true" global="false">
															<p:graphicImage style="cursor:pointer;" library="img"
																name="icons/confirmed.png"/>															
														</p:commandLink>
														<p:commandLink rendered="#{!(holderReq.representative)}"
															actionListener="#{holderAccountMgmtBean.asignateHolderMain(holderReq)}"
															update="tablHolders" immediate="true" global="false">
															<p:graphicImage style="cursor:pointer;" library="img"
																name="icons/confirmed-disabled.png"/>															
														</p:commandLink>
														
													</p:column>
													<p:column style="text-align:center;width:80px"
														headerText="#{msgs['adm.holderaccount.holder.cui']}">
														<h:outputText value="#{holderReq.holder.idHolderPk}" />
													</p:column>
													<p:column style="text-align:center"
														headerText="#{msgs['adm.holderaccount.holder.type']}">
														<h:outputText
															value="#{holderReq.holder.holderTypeDescription}" />
													</p:column>
													<p:column>
														<f:facet name="header">
															<h:outputText
																value="#{msgs['adm.holderaccount.holder.tit']}" />
														</f:facet>
														<h:outputText
															value="#{holderReq.holder.descriptionHolder}" />
													</p:column>
													<p:column style="text-align:center"
														headerText="#{msgs['adm.holderaccount.holder.documenttype']}">
														<h:outputText
															value="#{holderReq.holder.documentTypeDescription}" />
													</p:column>
													<p:column style="text-align:center;width:100px"
														headerText="#{msgs['adm.holderaccount.holder.documentnumber']}">
														<h:outputText value="#{holderReq.holder.documentNumber}" />
													</p:column>
													<p:column style="text-align:center;width:80px"
														headerText="#{msgs['adm.holderaccount.holder.action']}">
														<p:commandLink
															actionListener="#{holderAccountMgmtBean.removeHolderOnDataTableHandler(holderReq)}"
															update=":frmHolderAccountMgmt:pnlHolders :frmHolderAccountMgmt:pnlBankData"
															immediate="true">
															<p:graphicImage style="cursor:pointer;" library="img"
																name="icons/rejected.png" title="#{msgs['lbl.retire']}" />
														</p:commandLink>
													</p:column>
												</p:dataTable>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<p:outputPanel>
										<p:fieldset
											legend="#{msgs['adm.holderaccount.bank.data.lbl']}"
											toggleable="true" id="flsHoldBan">
											<p:outputPanel id="pnlBankData">
												<table width="100%" border="0">
													<tr>
														<td width="7%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.lbl']}"
																/></td>
														<td width="40%">	
														<h:panelGrid columns="2">
																<p:selectOneMenu id="cboBanks"
																	value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.bank.idBankPk}"
																	label="#{msgs['adm.holderaccount.bank.lbl']}">
																	<f:selectItem
																		itemLabel="#{gmsgs['cbo.opt.selectlarge']}" />
																	<f:selectItems
																		value="#{holderAccountMgmtBean.bankList}" var="bank"
																		itemLabel="#{bank.displayMnemonicDescription}"
																		itemValue="#{bank.idBankPk}" />
																		<p:ajax event="change"												
																			update="cboBanks msgCboBanks" />
																</p:selectOneMenu>		
																<p:message for="cboBanks" id="msgCboBanks"
																	display="icon"/>		
														</h:panelGrid>																					
														</td>
														<td width="8%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.accounttype.lbl']}"
																/></td>
														<td width="40%">	
															<h:panelGrid columns="2">
																<p:selectOneMenu id="cboAccountsType" 
																	label="#{msgs['adm.holderaccount.bank.accounttype.lbl']}"
																	value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.bankAccountType}">
																	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
																	<f:selectItems
																		value="#{holderAccountMgmtBean.parameterTableAccountsTypeBankList}"
																		var="accounts" itemLabel="#{accounts.description}"
																		itemValue="#{accounts.parameterTablePk}" />		
																	<p:ajax event="change"												
																			update="cboAccountsType msgCboAccountsType" />																							                        		
																</p:selectOneMenu>	
																<p:message for="cboAccountsType" id="msgCboAccountsType"
																	display="icon"/>			
															</h:panelGrid>																							
														</td>
													</tr>
													<tr>
														<td width="7%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.accountnumber.lbl']} "/></td>
														<td width="41%">	
															<h:panelGrid columns="2">
																<p:inputText id="txtAccountNumber" maxlength="11" size="25" 
																	value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.accountNumber}"
																	label="#{msgs['adm.holderaccount.bank.accountnumber.lbl']}">
																	<p:keyFilter
																		regEx="#{cons['exp.regular.numeric.hyphen.integer']}" />	
																	<p:ajax event="blur"												
																			update="txtAccountNumber msgTxtAccountNumber" />								   							                        
																</p:inputText>	
																<p:message for="txtAccountNumber" id="msgTxtAccountNumber"
																	display="icon"/>	
															</h:panelGrid>																																										
														</td>
														<td width="8%"><h:outputText
																value="#{msgs['adm.holderaccount.bank.money.lbl']}"
																/></td>
														<td width="40%">	
															<h:panelGrid columns="2">
																<p:selectOneMenu id="cboMoneyType"
																	value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.currency}"
																	label="#{msgs['adm.holderaccount.bank.money.lbl']}">
																	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
																	<f:selectItems
																		value="#{holderAccountMgmtBean.parameterTableMoneyTypeList}"
																		var="money" itemLabel="#{money.descriptionParameterNameFormat}"
																		itemValue="#{money.parameterTablePk}" />	
																	<p:ajax event="change"												
																			update="cboMoneyType msgCboMoneyType" />																										                        			
																</p:selectOneMenu>
																<p:message for="cboMoneyType" id="msgCboMoneyType"
																	display="icon"/>			
															</h:panelGrid>												
														</td>
													</tr>
													<tr>
														<td>
															<h:outputText value="#{msgs['adm.holderaccount.foreign.account.lbl']}" />
														</td>
														<td>
															<p:selectBooleanCheckbox value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.flagForeignAccount}">
																<p:ajax event="change" process="@this" update="@form" immediate="true"></p:ajax>	
															</p:selectBooleanCheckbox>
														</td>
													</tr>
													<tr>
														<td>
															<h:outputText value="#{msgs['adm.holderaccount.swift.code.lbl']}" rendered="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.flagForeignAccount}"
															styleClass="#{holderMgmtBean.strStyleRequiredFundAdm}"/>
														</td>
														<td>
															<h:panelGrid columns="2">
																<p:inputText id="txtSwiftCode" 
																	label="Código Swift"
																	rendered="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.flagForeignAccount}"
																	required="true"
																	value="#{holderAccountMgmtBean.holderAccountReqBankHyRequest.swiftCode}"
																	size="70">
																	<p:ajax event="change" update="txtSwiftCode msgTxtSwiftCode"/>						   							                        
																</p:inputText>	
																<p:message for="txtSwiftCode" id="msgTxtSwiftCode"
																	display="icon"/>	
															</h:panelGrid>
														</td>	
													</tr>	
													<tr>
														<td colspan="6" align="center">
															<p:commandButton
																value="#{msgs['btn.add']}" icon="ui-add"
																actionListener="#{holderAccountMgmtBean.addAccountOnDataTableHandler}"
																update="pnlBankAccounts pnlBankData pnlAccountGenericData :opnlGenericDialogs" >
																<f:param name="skipValidation" value="true"/>
															</p:commandButton>
															<p:commandButton id="cmbCleanBank"
																value="#{msgs['btn.clean']}" icon="fa fa-trash"
																immediate="true"
																actionListener="#{holderAccountMgmtBean.cleanHolderAccountReqBankHyRequest}"
																process="@this" update="pnlBankData" /></td>
													</tr>
												</table>
											</p:outputPanel>
											<p:outputPanel id="pnlBankAccounts">
												<h:outputText
													value="#{msgs['adm.holderaccount.bank.asociated']} (*)"
													styleClass="required-field"
													rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountBankRequest}" />
												<p:dataTable
													value="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountBankRequest}"
													var="bankAccount" id="tblBankAccounts"
													rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountBankRequest}">
													<p:column style="text-align:center;width:500px">
														<f:facet name="header">
															<h:outputText
																value="#{msgs['adm.holderaccount.bank.lbl']}" />
														</f:facet>
														<h:outputText value="#{bankAccount.descriptionBank}" />
													</p:column>
													<p:column style="text-align:center;width:190px">
														<f:facet name="header">
															<h:outputText
																value="#{msgs['adm.holderaccount.bank.accounttype.lbl']}" />
														</f:facet>
														<h:outputText
															value="#{bankAccount.bankAccountTypeDescription}" />
													</p:column>
													<p:column style="text-align:center;width:190px"
														headerText="#{msgs['adm.holderaccount.bank.money.lbl']}">
														<h:outputText value="#{bankAccount.currencyDescription}" />
													</p:column>
													<p:column style="text-align:center;width:190px"
														headerText="#{msgs['adm.holderaccount.bank.accountnumber.lbl']}">
														<h:outputText value="#{bankAccount.accountNumber}" />
													</p:column>
													<p:column style="text-align:center;width:190px" headerText="#{msgs['adm.holderaccount.swift.code.lbl']}">
														<h:outputText value="#{bankAccount.swiftCode}"/>
													</p:column>
													<p:column style="text-align:center;width:80px"
														headerText="#{msgs['adm.holderaccount.holder.action']}">
														<p:commandLink
															actionListener="#{holderAccountMgmtBean.removeAccountOnDataTableHandler(bankAccount)}"
															title="#{msgs['lbl.retire']}"
															update=":frmHolderAccountMgmt:pnlBankAccounts"
															immediate="true">
															<p:graphicImage style="cursor:pointer;" library="img"
																name="icons/rejected.png" />
														</p:commandLink>
													</p:column>
												</p:dataTable>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<p:outputPanel>
										<p:fieldset legend="#{msgs['adm.holderaccount.file.detail']}"
											toggleable="true">
											<p:outputPanel id="outputPanelAttachAccounHolder">
												<table width="100%">
													<tr>
														<td><h:outputText
																value="#{msgs['adm.holderaccount.document.type']}"/></td>
														<td><h:panelGrid>
															<h:panelGrid columns="2">
																<p:selectOneMenu
																	label="#{msgs['adm.holderaccount.document.type']}"
																	value="#{holderAccountMgmtBean.attachFileHolderAccountSelected}"
																	id="cmbAttachFileDocType">
																	<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
																	<f:selectItems var="attachFile"
																		value="#{holderAccountMgmtBean.parameterTableDocumentsList}"
																		itemLabel="#{attachFile.description} #{(attachFile.shortInteger == boolType.YES.code)?'(*)':''}"
																		itemValue="#{attachFile.parameterTablePk}" />
																	<p:ajax event="valueChange"
																		update="@this msgCmbAttachFileDocType outputPanelAttachAccounHolder"
																		listener="#{holderAccountMgmtBean.valueChangeCmbDocumentHolderAccount}" />
																</p:selectOneMenu>
																<p:message for="cmbAttachFileDocType" id="msgCmbAttachFileDocType"
																	display="icon"/>	
															</h:panelGrid>																
															</h:panelGrid></td>
														<td>
														
														<p:outputPanel styleClass="fileupload-customize"
																layout="block">
																<p:fileUpload id="fuplHolderFile" mode="advanced"
																	auto="true"
																	widgetVar="fuplwHolderFile"
																	disabled="#{holderAccountMgmtBean.attachFileHolderAccountSelected == null}"
																	label="#{msgs['fupl.label']}"
																	allowTypes="/(\\.|\\/)(#{holderAccountMgmtBean.pdfFileUploadFiltTypes})$/"
																	sizeLimit="#{holderAccountMgmtBean.fUploadFileSizeMgmt}"
																	invalidFileMessage="#{msgs['fupl.error.invalid.file.type']}"
																	invalidSizeMessage="#{msgs['fupl.error.invalid.file.size']}"
																	fileUploadListener="#{holderAccountMgmtBean.documentAttachHolderAccountRequestFile}"
																	update=":cnfMsgCustomValidationPar outputPanelFileHolderAccountTable outputPanelAttachAccounHolder" />
																<script type="text/javascript">									
																    $(document).ready(function(){											
																	fileuploadValidate('fuplHolderFile');	
																		});		
																</script>
																<p:graphicImage id="imgLimit" library="img"
																	name="icons/help.png" styleClass="icon" />
																<p:tooltip for="imgLimit">
																	<h:outputFormat value="#{msgs['fupl.limit.info']}"
																		escape="false">
																		<f:param
																			value="#{holderAccountMgmtBean.fUploadFileSizeDisplayMgmt}" />
																		<f:param value="#{msgs['lbl.doc.xls.pdf.formats']}" />
																	</h:outputFormat>
																</p:tooltip>
																<h:outputLabel id="lblFuplIssuanceCert"
																	value="#{holderAccountMgmtBean.accountHolderFileNameDisplay ==null ? msgs['fupl.no.selected'] : holderAccountMgmtBean.accountHolderFileNameDisplay}"
																	styleClass="label" />
															</p:outputPanel></td>
														<td></td>
													</tr>
												</table>
												<table width="100%">
													<tr>
														<td><p:outputPanel
																id="outputPanelFileHolderAccountTable"
																rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}">
																<h:outputText
																	value="#{msgs['adm.holderaccount.file.detail']} (*)"
																	styleClass="required-field"
																	rendered="#{not empty holderAccountMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}" />

																<p:dataTable id="dtbHolderAccountDocuments"
																	var="holderAccountFile" rowIndexVar="regNum"
																	value="#{holderAccountMgmtBean.holderAccountRequestHySession.holderAccountFilesRequest}">
																	<p:column>
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['lbl.holder.detail.file.attachment.document.type']}" />
																		</f:facet>
																		<h:outputText
																			value="#{holderAccountFile.documentTypeDesc}" />
																	</p:column>
																	<p:column style="width:510px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['lbl.holder.detail.file.attachment.document.name']}" />
																		</f:facet>
																		<h:outputText value="#{holderAccountFile.filename}" />
																	</p:column>
																	<p:column styleClass="content-center"
																		style="width:80px">
																		<f:facet name="header">
																			<h:outputText value="" />
																		</f:facet>
																		<p:commandLink styleClass="icon" global="false"
																			ajax="false" immediate="true" process="@this"
																			onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
																			<p:fileDownload
																				value="#{holderAccountMgmtBean.getStreamedContentTemporalFileHolderAccountHys(holderAccountFile)}" />
																			<p:graphicImage id="imgView" library="img"
																				name="icons/loupe.png" />
																		</p:commandLink>
																	</p:column>
																	<p:column styleClass="content-center"
																		style="width:80px">
																		<f:facet name="header">
																			<h:outputText
																				value="#{msgs['lbl.holder.detail.file.attachment.delete']}" />
																		</f:facet>
																		<p:commandLink styleClass="icon" process="@this"
																			actionListener="#{holderAccountMgmtBean.removeHolderAccountRequestFile(holderAccountFile)}"
																			update=":frmHolderAccountMgmt:outputPanelAttachAccounHolder">
																			<p:graphicImage id="imgRemove" library="img"
																				name="buttons/remove.png"
																				title="#{msgs['lbl.holder.detail.file.attachment.delete']}" />
																		</p:commandLink>
																	</p:column>
																</p:dataTable>
															</p:outputPanel></td>
													</tr>
												</table>
											</p:outputPanel>
										</p:fieldset>
									</p:outputPanel>
									<br></br>
									<br></br>
									<p:outputPanel id="pbnButtons">
										<table width="100%">
											<tr>
												<td align="center" colspan="4">
												<p:commandButton
														value="#{msgs['btn.save']}" icon="fa fa-save"
														update="pnlAccountGenericData pnlData pnlConfirmDialog :opnlGenericDialogs"
														actionListener="#{holderAccountMgmtBean.beforeSaveHolderAccountRequestHandler}" />
													<p:commandButton id="cmbCleanHolderAccountReq"
														value="#{msgs['btn.clean']}" icon="fa fa-trash"
														actionListener="#{holderAccountMgmtBean.beforeCleanHolderAccountRequest}"
														process="@this" update="pnlConfirmDialog pnlData :opnlGenericDialogs" /> <p:commandButton
														id="buttonReturn" value="#{msgs['btn.back']}"
														icon="fa fa-undo"
														onclick="if(isModifiedFormForBack(this, 'frmHolderAccountMgmt'))return false;"
														action="goToSearchRequestHolderAccount" process="@this"
														immediate="true" ajax="false" /></td>
											</tr>
										</table>
									</p:outputPanel>
								</p:fieldset>
							</p:outputPanel></td>
					</tr>
				</table>
			</p:outputPanel>
			
			<p:outputPanel id="pnlConfirmDialog">
				<p:confirmDialog id="cnfHolderAccountMgmt"
					widgetVar="cnfwHolderAccountMgmt" severity="alert" closable="false"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true">
					<p:commandButton id="cmbConfirm" value="#{msgs['lbl.yes']}"
						actionListener="#{holderAccountMgmtBean.saveHolderAccountHandler}"
						process="@this" update="@form" />
					<p:commandButton value="#{msgs['lbl.no']}"
						onclick="PF('cnfwHolderAccountMgmt').hide()" type="button" />
				</p:confirmDialog>
				<p:confirmDialog id="cnfCleanHolderAccountMgmt"
					widgetVar="cnfwCleanHolderAccountMgmt" severity="alert"
					closable="false" header="#{headerMessageView}"
					message="#{bodyMessageView}" rendered="false" visible="true">
					<p:commandButton id="cmbConfirmClean" value="#{msgs['lbl.yes']}"
						actionListener="#{holderAccountMgmtBean.cleanHolderAccountRequest}"
						process="@this" update="pnlData"
						onclick="PF('cnfwCleanHolderAccountMgmt').hide()" />
					<p:commandButton value="#{msgs['lbl.no']}"
						onclick="PF('cnfwCleanHolderAccountMgmt').hide()" type="button" />
				</p:confirmDialog>
				<p:confirmDialog id="holderAccountMgmtOk"
					widgetVar="holderAccountWMgmtOk" severity="alert" closable="false"
					header="#{headerMessageView}" message="#{bodyMessageView}"
					rendered="false" visible="true">
					<p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
						action="searchHolderAccountMgmt.xhtml" ajax="false"
						immediate="true" process="@this" update="@form"
						oncomplete="PF('holderAccountWMgmtOk').hide()" />
				</p:confirmDialog>
				<p:confirmDialog id="cnfBackAdvancedAccount"
					widgetVar="cnfWBackAdvancedAccount" severity="alert"
					closable="false" message="#{msgs['message.back']}"
					header="#{msgs['messages.alert']}" rendered="false" visible="true">
					<p:commandButton value="#{msgs['btn.yes']}"
						action="searchHolderAccountMgmt.xhtml" ajax="false"
						immediate="true" process="@this" update="@form"
						actionListener="#{holderAccountMgmtBean.executeBackPageHanlderHolderAccountRequest}" />
					<p:commandButton value="#{msgs['btn.no']}"
						onclick="PF('cnfWBackAdvancedAccount').hide()" type="button"
						process="@this" id="prueba"
						actionListener="#{holderAccountMgmtBean.cleanNoHolderAccountRequest}" />
				</p:confirmDialog>
			</p:outputPanel>
		
		<p:dialog id="dlgHolderAccountExist" widgetVar="dlgHolderAccountExistW"
         		modal="true" draggable="false"  width="500" height="300"
         		header="#{headerMessageView}"  closable="false" showEffect="alert">
         <p:outputPanel id="dialogHolderAccountExist">       	
        		<h:outputFormat value="#{bodyMessageView}" escape="false"/>      	
        </p:outputPanel>	
        <f:facet name="footer">
        <table width="100%">
        <tr>
        <td align="center">
           		<p:commandButton value="#{gmsgs['btn.accept']}" oncomplete="PF('dlgHolderAccountExistW').hide()" update="@form" process="@this"/>
       	</td>
       	</tr>
       	</table>
       	</f:facet>
        </p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>