<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

		<h:outputText value="#{msgs['generalparameters.detail']}" id="idOtxtDetailIndexAndRateTitle"
			styleClass="title-page" />
		<h:form id="frmRegisterIndexAndRate">
			<table width="100%">

				<tr>
					<td><p:fieldset id="flsetIndicesYTazas"
							legend="#{msgs['generalparameters.detailpage.legend']}">
							<table width="100%" cellpadding="2" cellspacing="2" align="center">
								<tr>
									<td><h:outputText value="#{msgs['indexrate.lbl.code']}" id="idOtxtIndexRateCode"/></td>
									<td><p:inputText value="#{indexAndRateMgmtBean.financialIndicator.idFinancialIndicatorPk}" disabled="true"  id="idItxtIndexRateCode"/></td>
								</tr>
							
								<tr>
									<td width="30%">
										<h:outputText value="#{msgs['indexrate.lbl.registerDate']}" id="idOtxtRegisterDate"/>
									</td>
									<td>
										<p:calendar pattern="#{msgs['dateFormat']}"  disabled="true" value="#{indexAndRateMgmtBean.financialIndicator.registryDate}" id="idCalRegisterDate"></p:calendar>
									</td>
									<td width="70%"></td>
								</tr>
								<tr>
									<td>									
									<h:outputText value="#{msgs['indexrate.lbl.indicatorType']}"  id="idOtxtIndicatorType"/>
									</td>
									<td>
											<p:selectOneMenu id="idcboindicatortype"
															 value="#{indexAndRateMgmtBean.financialIndicator.indicatorType}" 
															  disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItmeIndicatorType"/>
												<f:selectItems value="#{indexAndRateMgmtBean.financialIndicatorTypeList}" var="indicator" id="idCboItmesIndicatorType" 
												               itemLabel="#{indicator.parameterName}" itemValue="#{indicator.parameterTablePk}" />												
											</p:selectOneMenu>
									</td>
									<td>
										<p:message for="idcboindicatortype" display="icon" id="idMsgIndicatorType"></p:message>
									</td>
								</tr>
								<tr style="${indexAndRateMgmtBean.indicatorTypeIndex or indexAndRateMgmtBean.indicatorTypeRate  ? 'display: table-row;' : 'display:none;' }">
									<td>
										
										<h:outputText value="#{msgs['indexrate.lbl.index.type']}" id="idOtxtIndexType"
											rendered="#{indexAndRateMgmtBean.indicatorTypeIndex}"/>
										<h:outputText value="#{msgs['indexrate.lbl.rate.type']}"   id="idOtxtRateType"
											rendered="#{indexAndRateMgmtBean.indicatorTypeRate}"/>
									</td>
									<td>
											<p:selectOneMenu id="idcboindicatorCode"
															 value="#{indexAndRateMgmtBean.financialIndicator.indicatorCode}" disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItmeIndicatorCode"/>
												<f:selectItems value="#{indexAndRateMgmtBean.financialIndicatorCodeList}" var="item" id="idCboItmesIndicatorCode" 
												               itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}" />												
											</p:selectOneMenu>
									</td>
									<td>
										<p:message for="idcboindicatorCode" display="icon" id="idMsgIndicatorCode"></p:message>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['indexrate.lbl.description']}" id="idOtxtIndexRateDescription"/>
									</td>
									<td>
										<p:inputText value="#{indexAndRateMgmtBean.financialIndicator.indicatorDescription}" size="50" style="heigh:100px;"
										 disabled="true" maxlength="50" id="idItxtIndextRateDescription">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" ></p:keyFilter>
										</p:inputText>
									</td>
								</tr>
																
								<tr>
									<td><h:outputText value="#{msgs['indexrate.lbl.sourceinfo']}" id="idOtxtSourceInfo"/></td>
									<td>
											<p:selectOneMenu id="idcboSourceinfo" value="#{indexAndRateMgmtBean.financialIndicator.idSourceInfo}" disabled="true">
												<f:selectItem itemLabel="#{msgs['cbo.opt.select']}" id="idCboItemSourceInfo"/>
												<f:selectItems  id="idCboItemsSourceInfo" value="#{indexAndRateMgmtBean.informationSourceList}" var="type" itemLabel="#{type.description}"
														itemValue="#{type.parameterTablePk}" />
											</p:selectOneMenu>
									</td>
									<td>
										<p:message for="idcboSourceinfo" display="icon" id="idMsgSourceInfo"></p:message>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['indexrate.lbl.valueadded']}" id="idOtxtValueAdded"/>
									</td>
									<td>
											<p:inputNumber id="idvalueadded" value="#{indexAndRateMgmtBean.financialIndicator.rateValue}" decimalPlaces="6" decimalSeparator="." 
											 				minValue="0" maxValue="999.999999" thousandSeparator="" style="text-align:right" disabled="true"
											 				></p:inputNumber>
									</td>
									<td>
										<p:message for="idvalueadded" display="icon" id="idMsgValueAdded"></p:message>
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['indexrate.lbl.periodType']}" id="idOtxtPeriodicityType"/>
									</td>
									<td>
										<p:selectOneMenu id="idcboperiodType" value="#{indexAndRateMgmtBean.financialIndicator.periodicityType}" disabled="true">
											<f:selectItem itemLabel="#{msgs['cbo.opc.seleccione']}" id="idCboItemPeriodicityType"/>
											<f:selectItems id="idCboItemsPeriodicityType" value="#{indexAndRateMgmtBean.periodTypeList}" var="period" itemLabel="#{period.parameterName}" itemValue="#{period.parameterTablePk}"/>											
										</p:selectOneMenu>
									</td>
									<td>
										<p:message for="idcboperiodType" display="icon" id="idMsgPeriodicityType"></p:message>
									</td>	
								</tr>
								<tr>
									<td colspan="4">
											<p:outputPanel id="idpnlcalender">
													<p:fieldset id="idFldsCalender">
														<table width="100%">
														<tr>
														<td>
															<h:outputText id="idlblinitialdate" value="#{msgs['lbl.initialDate']}"/>
														</td>
														
														<td>
															<p:calendar id="idinitialDate" 
																		readonlyInput="true"
																		size="10" disabled="true"
																		required="true" mindate="#{indexAndRateMgmtBean.currentSystemDate}"
																		requiredMessage="#{msgs['lbl.required.initialDate']}" 																		
															            value="#{indexAndRateMgmtBean.financialIndicator.initialDate}" 
															            showOn="both" navigator="true" yearRange="c:c+100"
															            pattern="#{msgs['dateFormat']}" beforeShowDay="disableAllHolydays"
															            maxlength="10">
																<p:ajax event="dateSelect" process="@this" update="idpnlcalender :opnlGenericDialogs" listener="#{indexAndRateMgmtBean.onInitialDateChangeListener}"/>
															</p:calendar>
														</td>
																																										
														<td><h:outputText id="idOtxtFinalDate" value="#{msgs['lbl.finalDate']}"/></td>
														<td>
															<p:calendar id="idfinalDate" 
																		disabled="true" 
																		required="true" 
																		size="10" 
																		requiredMessage="#{msgs['lbl.required.finalDate']}" 
																	    value="#{indexAndRateMgmtBean.financialIndicator.endDate}"
																	    showOn="button"  
																	    pattern="#{msgs['dateFormat']}"
																	    maxlength="10">
															</p:calendar>
															
																											
														</td>
														</tr>
														</table>
													</p:fieldset>
											</p:outputPanel>
									</td>
								</tr>
								
								
								<tr>
									<td>
										<h:outputText value="#{msgs['indexrate.lbl.observations']}"  id="idOtxtObservations"/>
									</td>
									<td>
										<p:inputTextarea id="idItxtObservations" value="#{indexAndRateMgmtBean.financialIndicator.observations}" disabled="true"
										  autoResize="false" autoRelisize="false" 
											 style="width:450px;heigh:100px;" maxlength="200">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"  ></p:keyFilter>
										</p:inputTextarea>
									</td>
									
								</tr>
								</table>
																
								<table width="100%" cellpadding="2" cellspacing="2" align="center">
								<tr>
									<td align="center" colspan="6">
									<p:commandButton id="idCmdBtnRegister" value="#{msgs['btn.regresar']}" icon="fa fa-undo" ajax="false" immediate="true" action="search"></p:commandButton>&nbsp;
									</td>
								</tr>
							</table>

						</p:fieldset></td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>
</html>
