<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<table width="100%">
<tr>
	<td>
	
		<h:outputText value="#{msgs['cash.account.issuer']}" rendered="#{manageEffectiveAccountsBean.blRegister}"
		 styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
	</td>
	<td colspan="3">		
		<h:panelGrid columns="2" rendered="#{manageEffectiveAccountsBean.blRegister}">
					<p:outputPanel id="opnlIssuer">
						<h:panelGrid columns="2">
							<p:outputPanel id="opnlIssuerAux" >																	
								<ark:issuerHelper 													
											id="issuerHelper"
											issuer="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.issuer}"										
											disabled="#{manageEffectiveAccountsBean.userInfo.userAccountSession.issuerInstitucion or manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}"
											remoteListener="rmtIssuer()" 														
											/>									
								<p:remoteCommand name="rmtIssuer" 
												global="false"	
												actionListener="#{manageEffectiveAccountsBean.searchIssuerHandlerRegister}" process="@this"
												update="@form :opnlGenericDialogs">
								</p:remoteCommand>
							</p:outputPanel>
							</h:panelGrid>		
						</p:outputPanel>
		</h:panelGrid>
	</td>
</tr>
		<ui:remove>
		<tr>
			<td>
				<h:outputText value="#{msgs['cash.account.participant']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
				<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
			</td>
			<td colspan="2">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.participantSelected}"
					id="cboParticipant"	disabled="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}"
					label="#{msgs['cash.account.participant']}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
					<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.lstParticipant}" var="varLstPart" 
						itemValue="#{varLstPart.idParticipantPk}" itemLabel="#{varLstPart.mnemonic} - #{varLstPart.idParticipantPk} - #{varLstPart.description}"/>
						<p:ajax listener="#{manageEffectiveAccountsBean.changeEventParticipant}" event="change" process="@this" 
							update="@this msgCollectionParti bicCode5"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message display="icon" for="cboParticipant" id="msgCollectionParti"/>
				</h:panelGrid>
			</td>
		</tr>
		</ui:remove>
	<tr>
	<td width="20%">
		<h:outputText value="#{msgs['cash.account.currency']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
	</td>
	<td width="30%">
		<h:panelGrid columns="2">
		<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.currencySelected}"
			id="currencyId" disabled="#{manageEffectiveAccountsBean.blView}"
			label="#{msgs['cash.account.currency']}">
			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.lstCurrency}" 
				var="varLstCurrency" itemValue="#{varLstCurrency.parameterTablePk}" itemLabel="#{varLstCurrency.parameterName}"/>
				<p:ajax process="@this" update="@this msgCurrencyId cboBankAccType cboBankClient bankAcc5 :opnlGenericDialogs" global="false" event="change" 
						/>
				<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
		</p:selectOneMenu>
		<p:message display="icon" for="currencyId" id="msgCurrencyId"/>
		</h:panelGrid>
	</td>
	<td width="20%">
		<h:outputText value="#{msgs['cash.account.bankType']}" rendered="true" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="true"/>
	</td>
	<td width="30%">
		<h:panelGrid columns="2" rendered="true">
		<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.typeAccountSelected}" 
			id="cboBankAccType" disabled="#{manageEffectiveAccountsBean.blView}"
			label="#{msgs['cash.account.bankType']}">
			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.lstTypeAccount}" var="varLstTypeAccount" 
				itemValue="#{varLstTypeAccount.parameterTablePk}" itemLabel="#{varLstTypeAccount.parameterName}"/>
				<p:ajax listener="#{manageEffectiveAccountsBean.showBank}" event="change" 
					update="@this msgBankAccType cboBankClient msgBankClient bicCode5 bankAcc5" process="@this"/>
				<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
		</p:selectOneMenu>
		<p:message display="icon" for="cboBankAccType" id="msgBankAccType"/>
		</h:panelGrid>
	</td>
</tr>
<tr>
	<td>
		<h:outputText value="#{msgs['cash.account.grid.bank']}" rendered =  "true" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="true"/>
	</td>
	<td>
		<h:panelGrid columns="2" rendered="true">
		<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.bankSelected}"
			disabled="#{manageEffectiveAccountsBean.blView}" id="cboBankClient" label="#{msgs['cash.account.grid.bank']}">
			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.lstBank}" var="varLstBank" 
				itemValue="#{varLstBank.idBankPk}" itemLabel="#{varLstBank.description}"/>
			<p:ajax process="@this" event="change" update="@this bicCode5 msgBankClient bankAcc5 :opnlGenericDialogs cboInstBankAccount" 
					listener="#{manageEffectiveAccountsBean.getListAccountBank}"/>
			<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
		</p:selectOneMenu>
		<p:message display="icon" for="cboBankClient" id="msgBankClient"/>
		</h:panelGrid>
	</td>
	
	<td>
		<h:outputText value="#{msgs['cash.account.grid.bank.account']}" rendered =  "true" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="true"/>
	</td>
	<td>
		<h:panelGrid columns="2" rendered="true">
		<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.institutionBankAccount.idInstitutionBankAccountPk}"
			disabled="#{manageEffectiveAccountsBean.blView}" id="cboInstBankAccount" label="#{msgs['cash.account.grid.bank.account']}">
			<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
			<f:selectItems 	value="#{manageEffectiveAccountsBean.lstInstitutionBankAccount}" var="varLstBank" 
				itemValue="#{varLstBank.idInstitutionBankAccountPk}" itemLabel="#{varLstBank.accountNumber}"/>
			<p:ajax process="@this" event="change" update="@this bicCode5 msgBankClient bankAcc5 :opnlGenericDialogs" listener="#{manageEffectiveAccountsBean.setBicCode}"/>
			<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
		</p:selectOneMenu>
		<p:message display="icon" for="cboInstBankAccount" id="msgBankAccount"/>
		</h:panelGrid>
	</td>
</tr>
<tr>
	<td width="20%">
		<h:outputText value="Código BIC" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
	</td>
	<td width="30%">
		<p:inputText value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.bicCode}" size="15" 
			id="bicCode5" disabled="true" />
	</td>
	<td width="20%">
		<h:outputText value="Numero de Cuenta en el BIC" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
		<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
	</td>
	<td width="30%">
		<h:panelGrid columns="2">
		<p:inputText value="#{manageEffectiveAccountsBean.registerCashAccount.benefitPaymentAccount.bankAccount}"
			label="#{msgs['cash.account.bankAccountNumber']}"
			maxlength="28" size="39" id="bankAcc5" disabled="true">
			<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>
			<p:ajax event="change" update="@this msgBankAcc5" global="false" process="@this"/>
			<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
		</p:inputText>
		<p:message display="icon" for="bankAcc5" id="msgBankAcc5"/>
		</h:panelGrid>
	</td>
</tr>
</table>
</html>