<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<table width="100%">
	<tr>
		<td>
			<h:outputText value="#{msgs['cash.account.participant']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
			<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
		</td>
		<td colspan="3">
			<h:panelGrid columns="2">
			<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.participantSelected}"
				id="cboInterParti"	disabled="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}"
				label="#{msgs['cash.account.participant']}">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstParticipants}" var="varLstPart" 
					itemValue="#{varLstPart.idParticipantPk}" itemLabel="#{varLstPart.mnemonic} - #{varLstPart.idParticipantPk} - #{varLstPart.description}"/>
					<p:ajax event="change" process="@this" global="false"
						update="@this msgInterParti opnlResultInter" listener="#{manageEffectiveAccountsBean.getBankAccount}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
			</p:selectOneMenu>
			<p:message display="icon" for="cboInterParti" id="msgInterParti"/>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td width="20%">
			<h:outputText value="#{msgs['cash.account.bankType']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
			<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2">
			<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.bankType}" 
				disabled="true">
				<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstBankType}" 
					var="varBankType" itemValue="#{varBankType.parameterTablePk}" itemLabel="#{varBankType.parameterName}"/>
			</p:selectOneMenu>
			</h:panelGrid>
		</td>
		<td width="20%">
			<h:outputText value="#{msgs['cash.account.bankAccountType']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
			<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
		</td>
		<td width="30%">
			<h:panelGrid columns="2">
			<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.bankAccountType}" disabled="true">
				<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstBankAccountType}" var="varBankAccType" 
					itemValue="#{varBankAccType.parameterTablePk}" itemLabel="#{varBankAccType.description}"/>
			</p:selectOneMenu>
			</h:panelGrid>
		</td>
	</tr>
	<tr>
		<td>
			<h:outputText value="#{msgs['cash.account.grid.bank']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
			<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
		</td>
		<td colspan="3">
			<h:panelGrid columns="2">
			<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.bankSelected}" 
				disabled="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}" id="idBankInter"
				label="Banco">
				<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
				<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstBank}" var="varBank" 
					itemValue="#{varBank.idBankPk}" itemLabel="#{varBank.description}"/>
				<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				<p:ajax event="change" update="@this msgBankInter opnlResultInter" global="false" process="@this" listener="#{manageEffectiveAccountsBean.getBankAccount}"/>
			</p:selectOneMenu>
			<p:message display="icon" for="idBankInter" id="msgBankInter"/>
			</h:panelGrid>
		</td>
	</tr>
	
	<tr>
			<td width="100%" colspan="6">
			<p:outputPanel id="opnlResultInter">	
					<p:dataTable id="dtbBankAccountsInter" var="placReq" value="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstBankAccountsTODataModel}"
								 rendered="#{(manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.lstBankAccountsTODataModel.rowCount >= 1)}"
								 selection="#{manageEffectiveAccountsBean.registerCashAccount.internationalOperationsAccount.institutionBankAccountSession}"
								 paginator="true" rows="10"
								 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 rowKey="#{placReq.idInstitutionBankAccountPk}" 
								 style="width:100% !important">
								 
						<p:column selectionMode="single" style="width:18px" rendered="#{manageEffectiveAccountsBean.blRegister || manageEffectiveAccountsBean.blModify}" />
						<p:column sortBy="#{placReq.accountNumber}" headerText="#{msgs['lbl.banks.accounts.number']}" styleClass="content-center">
							<h:outputText value="#{placReq.accountNumber}"/>
						</p:column>	
						<p:column headerText="#{msgs['lbl.banks.accounts.type']}" >
							<h:outputText value="#{placReq.descriptionBankAcountType}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.accounts.currency']}"  styleClass="content-center">
							<h:outputText value="#{placReq.descriptionCurrency}"/>
						</p:column>												
					</p:dataTable>
					
			</p:outputPanel>
			</td>
		</tr>
</table>
</html>