<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<script type="text/javascript">
$(window).load(function(){
	   setInitialFormState('#frmCashAccountRegister');
  });
</script>
<h:form id="frmCashAccountRegister">
	<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="#{msgs['cash.account.register.page']}" styleClass="title-page" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
				<h:outputText value="#{msgs['cash.account.modify.page']}" styleClass="title-page" rendered="#{manageEffectiveAccountsBean.blModify}"/>
				<h:outputText value="#{msgs['cash.account.detail.page']}" styleClass="title-page" rendered="#{manageEffectiveAccountsBean.blView}"/>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:fieldset id="fldCashAccountType" legend="#{msgs['lbl.effective.accounts.register.data']}">
			<table width="100%">
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['cash.account.cashAccount.type']}" styleClass="#{manageEffectiveAccountsBean.blRegister?'required-field':''}"/>
						<h:outputText value=" (*)" styleClass="required-field" rendered="#{manageEffectiveAccountsBean.blRegister}"/>
					</td>
					<td width="30%">
						<h:panelGrid columns="2">
						<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.cashAccountTypeSelected}" 
							disabled="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}"
							id="cboCashAccountType" label="#{msgs['cash.account.cashAccount.type']}" 
							required="true" requiredMessage="#{msgs['cash.account.cashAccount.type']}" >
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
							<f:selectItems 	value="#{manageEffectiveAccountsBean.registerCashAccount.lstCashAccountType}" var="varLstCashAccType" 
								itemValue="#{varLstCashAccType.parameterTablePk}" itemLabel="#{varLstCashAccType.parameterName}"/>
							<p:ajax event="change" process="@this" update="pnlDataRegister @this msgCashAccountType" 
								listener="#{manageEffectiveAccountsBean.showRegisterScreen}"/>							
						</p:selectOneMenu>
						<p:message for="cboCashAccountType" display="icon" id="msgCashAccountType"/>
						</h:panelGrid>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['cash.account.state']}" rendered="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}"/>
					</td>
					<td width="30%">
						<p:selectOneMenu value="#{manageEffectiveAccountsBean.registerCashAccount.accountState}"
							disabled="true" rendered="#{manageEffectiveAccountsBean.blModify or manageEffectiveAccountsBean.blView}">
							<f:selectItems value="#{manageEffectiveAccountsBean.lstAccountState}" var="varLstState" 
								itemValue="#{varLstState.parameterTablePk}" itemLabel="#{varLstState.parameterName}"/>
						</p:selectOneMenu>
					</td>
				</tr>
			</table>
			</p:fieldset>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:outputPanel id="pnlDataRegister">
				<p:fieldset id="fldCashAccBenefPaym" legend="#{msgs['cash.account.type.benefits']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indBenefitPaymentAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/benefitPaymentCashAccount.xhtml" />
				</p:fieldset>
				
				<p:fieldset id="fldCashAccCent" legend="#{msgs['cash.account.type.centralizing']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indCentralizingAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/centralizingCashAccount.xhtml" />
				</p:fieldset>

				<p:fieldset id="fldCashAccGuaMar" legend="#{msgs['cash.account.type.guarantee']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indMaginGuaranteeAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/guaranteeMarginCashAccount.xhtml" />
				</p:fieldset>

				<p:outputPanel rendered="#{manageEffectiveAccountsBean.registerCashAccount.indSettlerAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/settlerCashAccount.xhtml" />
				</p:outputPanel>

				<p:fieldset id="fldCashAccReturn" legend="#{msgs['cash.account.type.return']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indReturnAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/returnCashAccount.xhtml" />
				</p:fieldset>

				<p:fieldset id="fldCashAccIntOpe" legend="#{msgs['cash.account.type.internationalOp']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indInternationalOperationsAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/internationalOperationCashAccount.xhtml" />
				</p:fieldset>

				<p:fieldset id="fldCashAccTax" legend="#{msgs['cash.account.type.tax']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indTaxesAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/taxCashAccount.xhtml" />
				</p:fieldset>
				
				<p:fieldset id="fldCashAccRate" legend="#{msgs['cash.account.type.rates']}" rendered="#{manageEffectiveAccountsBean.registerCashAccount.indRatesAccount==1}">
					<ui:include src="/pages/effectivefunds/effectiveAccounts/rateCashAccount.xhtml" />
				</p:fieldset>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center">
			<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save" update="@form :opnlGenericDialogs"
				actionListener="#{manageEffectiveAccountsBean.validateSaveCashAccount}"
				rendered="#{manageEffectiveAccountsBean.blRegister}"/>
			<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash"
				process="@this" update="@form" actionListener="#{manageEffectiveAccountsBean.askForClean}"
				rendered="#{manageEffectiveAccountsBean.blRegister}"/>
			<p:commandButton value="#{gmsgs['btn.active']}" icon="ui-confirm" update="@form :opnlGenericDialogs"
				process="@this" actionListener="#{manageEffectiveAccountsBean.beforeAction}"
				rendered="#{manageEffectiveAccountsBean.blActive}"/>
			<p:commandButton value="#{gmsgs['btn.unactive']}" icon="ui-lock" update="outPnlDialogs"
				process="@this" actionListener="#{manageEffectiveAccountsBean.beforeAction}"
				rendered="#{manageEffectiveAccountsBean.blLock}"/>
			<p:commandButton value="#{gmsgs['btn.modify']}" icon="ui-edit"
				onclick="if(!isModifiedFormForSave('#frmCashAccountRegister',true))return false;"
				update="@form :opnlGenericDialogs" actionListener="#{manageEffectiveAccountsBean.beforeAction}"
				rendered="#{manageEffectiveAccountsBean.blModify and manageEffectiveAccountsBean.registerCashAccount.indSettlerAccount==0}"/> 
			<p:commandButton value="#{gmsgs['btn.modify']}" icon="ui-edit"
				update="@form :opnlGenericDialogs" actionListener="#{manageEffectiveAccountsBean.beforeAction}"
				rendered="#{manageEffectiveAccountsBean.blModify and manageEffectiveAccountsBean.registerCashAccount.indSettlerAccount==1}"/>
			<p:commandButton value="#{gmsgs['btn.back']}" process="@this" update="outPnlDialogs"
				icon="fa fa-undo" action="#{manageEffectiveAccountsBean.askForBack}"/>
			</td>
		</tr>
	</table>
<!-- Dialog -->
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog" closable="false"
	message="#{bodyMessageView}" header="#{headerMessageView}" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" process="@form"
		update="outPnlDialogs" actionListener="#{manageEffectiveAccountsBean.doAction}"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton onclick="PF('cnfWEndDialog').hide()" global="true" 
		action="backMaintainCashAccount" value="#{gmsgs['btn.accept']}"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfwBackDialog" id="cnfidBackDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
	<f:facet name="message">
		<h:outputText value="#{bodyMessageView}" escape="false"/>
	</f:facet> 
	<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwBackDialog').hide()"
		action="backMaintainCashAccount" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwBackDialog').hide()" type="button"/>
</p:confirmDialog>	
	
<p:confirmDialog widgetVar="cnfwCleanDialog" id="cnfidCleanialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info">
	<f:facet name="message">
		<h:outputText value="#{bodyMessageView}" escape="false"/>
	</f:facet>
	<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfwCleanDialog').hide()"
		actionListener="#{manageEffectiveAccountsBean.cleanRegisterScreen}" process="@this" update="@form"/>
	<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwCleanDialog').hide()" type="button"/>
</p:confirmDialog>

<p:confirmDialog id="modifiedFormSave" closable="false" message="#{gmsgs['conf.msg.modified.save']}"
		severity="info" widgetVar="cnfwModifiedFormSave" header="#{gmsgs['lbl.header.alert.warning']}">      
		<p:commandButton update="outPnlDialogs" oncomplete="PF('cnfwModifiedFormSave').hide()" process="@this"
			value="#{gmsgs['btn.accept']}" />              
</p:confirmDialog>
</p:outputPanel>
<!--  -->
</h:form>
</ui:define>
</ui:composition>
</html>