<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:form id="frmCashAccountMngmnt">
<table width="100%">
	<tr>
		<td>
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="#{msgs['cash.account.title.page']}" styleClass="title-page" />
			</td>
			<td align="right">
				<p:commandButton value="#{gmsgs['btn.register']}" action="#{manageEffectiveAccountsBean.sendRegisterPage}"  
					icon="ui-add" rendered="#{userPrivilege.userAcctions.register}" process="@this"/>
			</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:fieldset id="fldsFiltros" legend="#{msgs['lbl.criteria.search']}">
		<table width="100%">
			<tr>
				<td>
					<h:outputText value="#{msgs['cash.account.cashAccount.type']} (*)"  styleClass="required-field"/>
				</td>
				<td colspan="3">
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{manageEffectiveAccountsBean.cashAccountTypeSelected}" id="cashAccountType"
						label="#{msgs['cash.account.cashAccount.type']}" >
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
						<f:selectItems 	value="#{manageEffectiveAccountsBean.lstCashAccountType}" var="varLstCashAccType" 
							itemValue="#{varLstCashAccType.parameterTablePk}" itemLabel="#{varLstCashAccType.parameterName}"/>
						<p:ajax event="change" process="@this" 
							update=" msgCashAccountType opnlEntity opnlcboEntity opnMechanism opnCboMechanism opnGroupModality opnCboGroupModality :opnlGenericDialogs" 
							listener="#{manageEffectiveAccountsBean.showEntity}"/>
							<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
					</p:selectOneMenu>
					<p:message display="icon" for="cashAccountType" id="msgCashAccountType"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>				
				<td>
					<p:outputPanel id="opnlEntity">					
					<h:outputText value="#{msgs['cash.account.participant']}"
						rendered="#{manageEffectiveAccountsBean.indShowParticipant == 1}"/>
					<h:outputText value="#{msgs['cash.account.issuer']}"
						rendered="#{manageEffectiveAccountsBean.indShowIssuer == 1}"/>
					</p:outputPanel>
				</td>
				<td colspan="3">
					<p:outputPanel id="opnlcboEntity">
					<h:panelGrid columns="2" rendered="#{manageEffectiveAccountsBean.indShowParticipant == 1}">
					<p:selectOneMenu id="cboParticipant" value="#{manageEffectiveAccountsBean.participantSelected}"
						label="#{msgs['cash.account.participant']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
						<f:selectItems 	value="#{manageEffectiveAccountsBean.lstParticipants}" var="varLstParts" 
							itemValue="#{varLstParts.idParticipantPk}" itemLabel="#{varLstParts.mnemonic} - #{varLstParts.idParticipantPk} - #{varLstParts.description}"/>
						<p:ajax update="@this msgParticipant cboMechanism cboGroupModality" event="change" process="@this"
							listener="#{manageEffectiveAccountsBean.loadMechanism}"/>	
					</p:selectOneMenu>
					<p:message display="icon" for="cboParticipant" id="msgParticipant"/>	
					</h:panelGrid>
					
					<h:panelGrid columns="2" rendered="#{manageEffectiveAccountsBean.indShowIssuer == 1}">
					
						<ark:issuerHelper 													
									id="issuerHelper"
									issuer="#{manageEffectiveAccountsBean.issuer}"										
									disabled="#{manageEffectiveAccountsBean.userInfo.userAccountSession.issuerInstitucion}"
									remoteListener="rmtIssuer()" 														
									/>									
						<p:remoteCommand name="rmtIssuer" 
										global="false" onstart="PF('statusDialogCustom').show()"
										oncomplete="PF('statusDialogCustom').hide()"	
										actionListener="#{manageEffectiveAccountsBean.searchIssuerHandler}" process="@this"
										update="@form">
						</p:remoteCommand>
					</h:panelGrid>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td>
					<p:outputPanel id="opnMechanism">					
					<h:outputText value="#{msgs['cash.account.grid.mechanism']}"
						rendered="#{manageEffectiveAccountsBean.indShowMechanism == 1}"/>
					</p:outputPanel>
				</td>
				<td>
					<p:outputPanel id="opnCboMechanism">					
					<h:panelGrid columns="2" rendered="#{manageEffectiveAccountsBean.indShowMechanism == 1}">
					<p:selectOneMenu id="cboMechanism" value="#{manageEffectiveAccountsBean.idNegoMechanismPkSelected}"
						label="#{msgs['cash.account.grid.mechanism']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageEffectiveAccountsBean.lstMechanism}" var="negoMecha" 
							itemValue="#{negoMecha.idNegotiationMechanismPk}" itemLabel="#{negoMecha.description}"/>
						<p:ajax update="@this msgMechanism cboGroupModality" listener="#{manageEffectiveAccountsBean.loadGroupModality}" 
							event="change" process="@this"/>	
					</p:selectOneMenu>
					<p:message display="icon" for="cboMechanism" id="msgMechanism"/>	
					</h:panelGrid>
					</p:outputPanel>
				</td>				
				<td>
					<p:outputPanel id="opnGroupModality">					
					<h:outputText value="#{msgs['lbl.query.cash.movement.modalityGroup']}"
						rendered="#{manageEffectiveAccountsBean.indShowMechanism == 1}"/>
					</p:outputPanel>
				</td>
				<td>
					<p:outputPanel id="opnCboGroupModality">
					<p:selectOneMenu id="cboGroupModality" value="#{manageEffectiveAccountsBean.idModaGroupPkSelected}"
						rendered="#{manageEffectiveAccountsBean.indShowMechanism == 1}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
						<f:selectItems 	value="#{manageEffectiveAccountsBean.lstModalityGroup}" var="modaGroup" 
							itemValue="#{modaGroup.idModalityGroupPk}" itemLabel="#{modaGroup.groupName}"/>
					</p:selectOneMenu>
					</p:outputPanel>
				</td>
			</tr>
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['cash.account.currency']}"/>
				</td>
				<td width="30%">
					<p:selectOneMenu value="#{manageEffectiveAccountsBean.currencySelected}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems 	value="#{manageEffectiveAccountsBean.lstCurrency}" var="varLstCurrency" 
										itemValue="#{varLstCurrency.parameterTablePk}" itemLabel="#{varLstCurrency.parameterName}"/>
					</p:selectOneMenu>
				</td>
				<td width="15%">
					<h:outputText value="#{msgs['cash.account.state']}"/>
				</td>
				<td width="35%">
					<h:panelGrid columns="2">
					<p:selectOneMenu value="#{manageEffectiveAccountsBean.stateAccountSelected}" id="cboState"
						label="#{msgs['cash.account.state']}">
						<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						<f:selectItems value="#{manageEffectiveAccountsBean.lstAccountState}" var="varLstState" 
							itemValue="#{varLstState.parameterTablePk}" itemLabel="#{varLstState.parameterName}"/>
						<p:ajax update="@this msgState" global="false" event="change" process="@this"/>
					</p:selectOneMenu>
					<p:message for="cboState" display="icon" id="msgState"/>
					</h:panelGrid>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="4">
					<p:commandButton id="btnBuscar" value="#{gmsgs['btn.search']}" icon="fa fa-search"	
					    update="pnlButtons fldsFiltros pnlCashAccounts :opnlGenericDialogs"					
						action="#{manageEffectiveAccountsBean.searchCashAccount}" 
						rendered="#{userInfo.userAcctions.search}"/>
					<p:commandButton id="btnLimpiar" value="#{gmsgs['btn.clean']}" icon="fa fa-trash" process="@this" immediate="true"
						action="#{manageEffectiveAccountsBean.cleanScreen}" update="fldsFiltros pnlCashAccounts pnlButtons pnlCashAccounts2"/>
				</td>
			</tr>
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="pnlButtons">
			<p:outputPanel rendered="#{not empty manageEffectiveAccountsBean.queryCashAccountDataModel}">
				<arkPriv:privileges id="praderaPrivileges"					 							 
					actionActivate="#{manageEffectiveAccountsBean.validateActive}"
					actionDeactivate="#{manageEffectiveAccountsBean.validateDeactive}"
					actionModify="#{manageEffectiveAccountsBean.validateModify}"					 				 			 
					actions="#{userPrivilege.userAcctions}"
					renders="#{userPrivilege.privilegeComponent}"/>
			</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="pnlCashAccounts">
		<p:fieldset legend="#{msgs['cash.account.grid.search.results.legend']}" rendered="#{not empty manageEffectiveAccountsBean.queryCashAccountDataModel}">
		<p:dataTable id="dtbCashAcc" var="varCashAcc" value="#{manageEffectiveAccountsBean.queryCashAccountDataModel}"
			selection="#{manageEffectiveAccountsBean.cashAccount}" paginator="true" paginatorPosition="top"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
			rowsPerPageTemplate="5,10,15" rows="10">			
			<p:column selectionMode="single" styleClass="content-center"/>			
			<p:column headerText="#{msgs['lbl.query.cash.movement.detail.cashAccount']}" styleClass="content-center" sortBy="#{varCashAcc.idCashAccount}">
				<p:commandLink style="color:blue" process="@this" value="#{varCashAcc.idCashAccount}"
					action="registerCashAccount" actionListener="#{manageEffectiveAccountsBean.showCashAccountDetail}">
					<f:attribute name="varCashAcc" value="#{varCashAcc}"/>
				</p:commandLink>
			</p:column>
			<p:column styleClass="content-center" sortBy="#{varCashAcc.indRelatedBcrd}">
				<f:facet name="header">
					<h:outputText value="#{msgs['header.column.centralizadora']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{(varCashAcc.indRelatedBcrd == 1) ? gmsgs['btn.yes']:gmsgs['btn.no']}"/>
			</p:column>
			<p:column styleClass="content-left" headerText="#{msgs['cash.account.grid.institution']}" sortBy="#{varCashAcc.institution}">
				<h:outputText value="#{varCashAcc.institution}"/>
			</p:column>
			<ui:remove>
			<p:column headerText="#{msgs['cash.account.grid.mechanism']}" styleClass="content-center" 
				rendered="#{manageEffectiveAccountsBean.indShowMechanism == 1}" sortBy="#{varCashAcc.mechanism}">
				<h:outputText value="#{varCashAcc.mechanism}"/>
			</p:column>
			</ui:remove>
			<p:column rendered="#{manageEffectiveAccountsBean.indShowModalityGroup == 1}" sortBy="#{varCashAcc.modalityGroup}">
				<f:facet name="header">
					<h:outputText value="#{msgs['cash.account.grid.modalityGroup']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{varCashAcc.modalityGroup}"/>
			</p:column>
			<p:column styleClass="content-center" headerText="#{msgs['cash.account.grid.currency']}" sortBy="#{varCashAcc.currency}">
				<h:outputText value="#{varCashAcc.currency}"/>
			</p:column>
			<p:column styleClass="content-center" rendered="#{manageEffectiveAccountsBean.indShowSettlementSchema == 1}" sortBy="#{varCashAcc.settlementSchema}">
				<f:facet name="header">
					<h:outputText value="#{msgs['cash.account.grid.settlementSchema']}"/>
				</f:facet>
				<h:outputText value="#{varCashAcc.settlementSchema}"/>
			</p:column>
			<p:column headerText="#{msgs['cash.account.bicCode']}" styleClass="content-center" rendered="#{manageEffectiveAccountsBean.indShowBicCode == 1}"
				sortBy="#{varCashAcc.bicCode}">
				<h:outputText value="#{varCashAcc.bicCode}"/>
			</p:column>
			<p:column headerText="#{msgs['cash.account.state']}" styleClass="content-center" sortBy="#{varCashAcc.state}">
				<h:outputText value="#{varCashAcc.state}"/>
			</p:column>
			<f:facet name="footer">
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					<f:param value="#{manageEffectiveAccountsBean.queryCashAccountDataModel.size}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>
		</p:outputPanel>
		<p:outputPanel id="pnlCashAccounts2">
		<p:fieldset id="fldBanks2" legend="#{msgs['cash.account.grid.search.results.legend']}" rendered="#{manageEffectiveAccountsBean.indShowCashAccounts == 2}">
			<b><h:outputText value="#{msgs['lbl.search.no.result']}"/></b>
		</p:fieldset>
		</p:outputPanel>
		</td>
	</tr>
</table>
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>