<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
		setAllHolidays('${reteirementDepositeBean.allHolidays}');
	    setInitialFormState('#frmCustody');
	  });
	</script>
	
		<h:outputText value="#{gmsgs['icustody.certificatewithdrawal.register.title']}"
			styleClass="title-page" />
			
		<h:form id="frmCustody">		
			<table width="100%">
				<tr>
					<td>
						<p:fieldset id="fldsFiltros" legend="#{msgs['retiro.header.msg']}">
							<table width="100%">
								<tr>
									<td width="20%">
													<h:outputText value="#{gmsgs['participant.lbl']} (*)" styleClass="required-field" />
												</td>
												<td width="80%">
													<h:panelGrid columns="2">
													<p:selectOneMenu id="idparticipantmngt" value="#{reteirementDepositeBean.participantSelected}" 
														label="#{msgs['lbl.participant']}" disabled="#{reteirementDepositeBean.isParticipant or reteirementDepositeBean.isBcr}">
														<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
														<f:selectItems value="#{reteirementDepositeBean.lstParticpant}"
															var="participant" itemLabel="#{participant.displayDescriptionCode}"
															itemValue="#{participant.idParticipantPk}" />
															<p:ajax event="change" listener="#{reteirementDepositeBean.changeParticipantAndDeleteInfo}" 
																update=":frmCustody :opnlDialogs"/>
															<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator" />
													</p:selectOneMenu>
													<p:message id="msgidcomboparticipant" for="idparticipantmngt" display="icon"/>
													</h:panelGrid>
												</td>
											</tr>
											<tr>
												<td>
													<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field" />
												</td>
												<td>
												<h:panelGrid columns="3">
												<arkHelp:holderHelper id="idCuiHolder" holder="#{reteirementDepositeBean.sourceHolder}" 
																	  required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator" 
																	  label="#{msgs['commons.label.cuiHolderSource']}"
																	  participant="#{reteirementDepositeBean.participantSelected}"
																	  remoteListener="cmdHolderHelper()"/> 
													<p:message for="frmCustody:idCuiHolder:idCuiHolder" display="icon" id="idMsgHolder" />
			    									<p:remoteCommand name="cmdHolderHelper" update="lblAccount frmCustody:idCuiHolder:idCuiHolder, frmCustody:idHelperAccountSource, :formPopUp:alterValidation btnSearch" 
			    												process="@this" actionListener="#{reteirementDepositeBean.validSourceHolder()}"/>
												</h:panelGrid>			    								
												</td>
											</tr>
											<tr>
												<td>
													<p:outputPanel id="lblAccount">
													<h:outputText value="#{gmsgs['account.lbl.code']} (*)" styleClass="required-field" 
														rendered="#{reteirementDepositeBean.lstSourceAccountTo.size()>0}"/>
													</p:outputPanel>
												</td>
												<td>
													<p:outputPanel id="idHelperAccountSource">													
													<p:dataTable id="tblResultHelperAccountSource"
														     	 rendered="#{reteirementDepositeBean.lstSourceAccountTo.size()>0}"
															 	 value="#{reteirementDepositeBean.lstSourceAccountTo}" var="account"
														     	 rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
															 	 selection="#{reteirementDepositeBean.sourceAccountTo}">
														
														<p:column selectionMode="single" styleClass="content-center"/> 
														<p:ajax event="rowSelectRadio" listener="#{reteirementDepositeBean.validSourceHolderAccount()}" update=":frmCustody:idHelperAccountSource" />
														
														
														<p:column headerText="N° Cuenta" styleClass="content-center">
															<h:outputText value="#{account.accountNumber}" />
														</p:column>
														
														<p:column headerText="#{msgs['commons.datatable.account.alternatecode']}" styleClass="content-center">
															<h:outputText value="#{account.alternateCode}" />
														</p:column>
														
														<p:column headerText="#{msgs['commons.datatable.account.description']}" styleClass="content-left">
															<ui:repeat var="accountIterator" value="#{account.holderDescriptionList}">
															<li>
																<h:outputText value="#{accountIterator}" />
															</li>
															</ui:repeat>
														</p:column>	
														
														<p:column headerText="#{msgs['commons.datatable.account.state']}" styleClass="content-center">
															<h:outputText value="#{account.accountStatusDescription}" />
														</p:column> 
														
													</p:dataTable>
													</p:outputPanel>
												</td>
											</tr>
											
											<tr>
												<td>
													<h:outputText value="#{msgs['lbl.retiro.deliver']} (*)" styleClass="required-field"/>
												</td>
												<td>
													<h:panelGrid columns="2">
													<p:calendar id="deliveryDate" readonly="#{facesContext.renderResponse}" showOn="button" size="10"
														pattern="#{msgs['dateFormat']}" maxlength="10" navigator="true"
														disabledWeekends="true" beforeShowDay="disableAllHolydays"
														value="#{reteirementDepositeBean.deliverReqDate}"														
														mindate="#{reteirementDepositeBean.maxDateRetirement}"
														maxdate="#{reteirementDepositeBean.fechaMaxima}">
														<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" />
														<p:ajax event="dateSelect"
															listener="#{reteirementDepositeBean.getDeliverReqDate}"
															update=":frmCustody, :opnlDialogs, :opnlGenericDialogs" />
													</p:calendar> 
													<p:message id="idmsgdeliver" for="deliveryDate" display="icon"/>
													</h:panelGrid>
												</td>
											</tr>
											<tr>
												<td>
													<h:outputText value="#{msgs['lbl.retiro.observation']}"/>
												</td>
												<td>
													<p:inputTextarea cols="80" rows="4"  id="observArea" maxlength="200" value="#{reteirementDepositeBean.textObservation}">
														<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
													</p:inputTextarea>
												</td>
											</tr>
							</table>
						</p:fieldset>
						
						<p:fieldset id="IdRetireDataSearch" legend="#{msgs['lbl.retiro.datasearch']}" toggleable="true">
						<table width="100%">
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.retiro.emisor']}"/>
								</td>
								<td colspan="3">
									<p:outputPanel id="pnlIssuerHelper">
										
										<arkHelp:issuerHelper id="idIssuerPk" issuer="#{reteirementDepositeBean.issuerHelp}" remoteListener="validaIssuer()"
															  label="#{msgs['lbl.retiro.emisor']}">
										</arkHelp:issuerHelper>
										<p:message for="idIssuerPk" display="icon" />
										<p:remoteCommand name="validaIssuer" process="pnlIssuerHelper"
														 actionListener="#{reteirementDepositeBean.validateRegisterIssuer}"
														 update="pnlIssuerHelper, :opnlDialogs"/>
									</p:outputPanel>
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{gmsgs['security.lbl.code']}" />
								</td>
								<td colspan="3">
								<h:panelGrid columns="5" cellspacing="0" cellpadding="0">
								<arkHelp:securityHelper id="idSourceSecurity" issuer="#{reteirementDepositeBean.issuerHelp}"
														blIssuer="true"
														security="#{reteirementDepositeBean.securityHelp}" 
														remoteListener="validSecuritieOrigin()" />
								<p:remoteCommand name="validSecuritieOrigin" process="@this"
														 actionListener="#{reteirementDepositeBean.loadSecurity()}" 
														 update=":opnlDialogs" />
								<p:spacer width="5"/>
								<p:outputPanel id="outSourceSecurity">
								<arkHelp:securities-help securityCode="#{reteirementDepositeBean.securityHelp.idSecurityCodePk}"/>	
								</p:outputPanel>	
								</h:panelGrid>				
								</td>
							</tr>
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.retiro.numerotitulor']}" />
								</td>
								<td colspan="3">
									<p:inputText id="idcertno" size="15" maxlength="15" value="#{reteirementDepositeBean.docNumber}" style="text-align:right">
										<p:ajax event="change" listener="#{reteirementDepositeBean.getDocNumber}" update="idcertno" />
										<p:keyFilter regEx="/[0-9]/i" />
									</p:inputText>
								</td>
							</tr>
							<tr>
								<td width="20%">
									<h:outputText value="#{msgs['lbl.retiro.incideposit']}" styleClass="content-center" />
								</td>
								<td width="30%">
									<p:calendar id="calendarInic" showOn="button" size="10" pattern="#{msgs['dateFormat']}" maxlength="10" 
												readonly="#{facesContext.renderResponse}" value="#{reteirementDepositeBean.initialDate}" 
												navigator="true" maxdate="#{reteirementDepositeBean.finalDate}">
												<p:ajax event="dateSelect" update="calendarInic calendarFin" />
									</p:calendar>
								</td>
								<td width="20%">
									 <h:outputText value="#{msgs['lbl.retiro.findeposit']}" styleClass="content-left" />
								</td>
								<td width="30%">
									<p:calendar id="calendarFin" showOn="button" size="10" pattern="#{msgs['dateFormat']}" maxlength="10" 
												mindate="#{reteirementDepositeBean.initialDate}" readonly="#{facesContext.renderResponse}" navigator="true" 
												value="#{reteirementDepositeBean.finalDate}" maxdate="#{reteirementDepositeBean.currentDate}" >
												<p:ajax event="dateSelect" update="calendarInic calendarFin" />
									</p:calendar>
								</td>
							</tr>
							<tr>
								<td colspan="4" align="center">
									<p:outputPanel id="btnSearch">
									<p:commandButton value="#{gmsgs['btn.search']}" icon="fa fa-search" process="IdRetireDataSearch fldsFiltros"
										update=":frmCustody, :opnlDialogs, :opnlGenericDialogs"
										rendered="#{reteirementDepositeBean.lstSourceAccountTo.size()>0}"
										actionListener="#{reteirementDepositeBean.searchSecurities}" />
									</p:outputPanel>																					
								</td>
							</tr>
						</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
					<p:outputPanel id='panelRegistros'>					
					<p:fieldset id="fsListado" legend="Titulos Reales - Encontrados"
								rendered="#{not empty reteirementDepositeBean.physicalCertificateList}">
					<table width="100%">
					<tr>
						<td>							
					<p:commandButton value="#{msgs['btn.add.retiro']}" 
									 icon="ui-add"
									 process="@this dtbResult"  
									 action="#{reteirementDepositeBean.addCertificateShowDialog}"
									 update=":frmCustody"  
									 rendered="#{reteirementDepositeBean.physicalCertificateDataModel.rowCount > 0}" />
						</td>
					</tr>
					<tr>
						<td>
							<br/>
						</td>
					</tr>
					<tr>
						<td>
					<p:dataTable id="dtbResult" var="securities"
											 value="#{reteirementDepositeBean.physicalCertificateDataModel}"
											 paginator="true" rows="10" paginatorPosition="top"
											 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
											 paginatorTemplate="#{msgs['dtb.paginator.template']}"
											 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" rowIndexVar="rIndx"
											 selection="#{reteirementDepositeBean.lstPhysicalCertificateSelected}"									
											 rendered="#{reteirementDepositeBean.physicalCertificateDataModel.rowCount > 0}"
											 rowKey="#{securities.idphysicalbalancedetail}" >
											 								
									<p:column styleClass="content-center" selectionMode="multiple" />
									
									<p:column styleClass="content-center" sortBy="#{securities.strDepositeDate}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['header.retito.fechadeposit']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.strDepositeDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									
									<p:column sortBy="#{securities.physicalCertificate.issuer.mnemonic}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['lbl.retiro.emisor']}" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.issuer.mnemonic} - #{securities.physicalCertificate.issuer.idIssuerPk}" />
									</p:column>
									
									
									<p:column styleClass="content-right" sortBy="#{securities.physicalCertificate.certificateNumber}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['lbl.retiro.break.securityno']}" />
										</f:facet>
										<p:commandLink style="color:blue;"  process="@this" immediate="true" update=":opnlDialogs"
													   action="#{reteirementDepositeBean.actionCertificateDialog(securities)}">
										<h:outputText value="#{securities.physicalCertificate.certificateNumber}" />
										</p:commandLink>
									</p:column>
									
									<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-center" 
							  				sortBy="#{securities.physicalCertificate.securities.idSecurityCodePk}">
										    <ark:securities-help securityCode="#{securities.physicalCertificate.securities.idSecurityCodePk}" icon="false" link="true"/>
									</p:column>								
									
									<p:column styleClass="content-center" sortBy="#{reteirementDepositeBean.moneyTypeMapDescription(securities.physicalCertificate.currency)}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['adm.holderaccount.bank.money.lbl']}" />
										</f:facet>
										<h:outputText value="#{reteirementDepositeBean.moneyTypeMapDescription(securities.physicalCertificate.currency)}" />
									</p:column>
									
									<p:column style="text-align:left" sortBy="#{securities.physicalCertificate.nominalValue}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['header.retito.nominal']}" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.nominalValue}" style="float:right">	
										<f:convertNumber pattern="###,##0.00" locale="en_US"/>
										</h:outputText>		
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securities.physicalCertificate.issueDate}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['header.retito.fechaemisor']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.issueDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securities.physicalCertificate.expirationDate}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['header.retito.fechavenci']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.expirationDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.withdrwal.dematerialization']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{securities.indDematerialized}" disabled="#{!securities.mixedIssuance}"/>
									</p:column>
									
									<f:facet name="footer">
										<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
											<f:param value="#{reteirementDepositeBean.physicalCertificateDataModel.rowCount}" />
										</h:outputFormat>
									</f:facet>
									
								</p:dataTable>
							</td>
							</tr>
							</table>							
							</p:fieldset>
							
							<p:outputPanel rendered="#{!reteirementDepositeBean.registersFound}">
								<p:panel>
									<h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{!(reteirementDepositeBean.physicalCertificateDataModel.rowCount >0)}"/>
								</p:panel>				
							</p:outputPanel>
							
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id="panelRegistrosDetail">
									
							<p:fieldset id="fsListadoDetail" legend="#{msgs['lbl.retiro.titul.agreg']}" rendered="#{reteirementDepositeBean.physicalCertificateListAdded.size()>0}">
								
								<p:dataTable id="dtbResultDetail" var="securities"
											 value="#{reteirementDepositeBean.physicalCertificateListAddedDataModel}"
											 paginator="true" rows="10" paginatorPosition="top"
											 currentPageReportTemplate="#{msgs['lbl.Pagina']} {currentPage} #{msgs['lbl.de']} {totalPages}"
											 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} &nbsp; #{msgs['lbl.FilasPorPagina']}: {RowsPerPageDropdown}"
											 rowsPerPageTemplate="5,10,15"  rowIndexVar="rIndx"
											 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
											 selection="#{reteirementDepositeBean.phyCertificateRemoveSelected}"									
											 rendered="#{reteirementDepositeBean.physicalCertificateListAdded.size()>0}" rowKey="#{securities.idphysicalbalancedetail}" >									
									
									<p:column styleClass="content-center" sortBy="#{securities.strDepositeDate}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['header.retito.fechadeposit']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.strDepositeDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column style="text-align:left" sortBy="#{securities.physicalCertificate.issuer.mnemonic}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['lbl.retiro.emisor']}" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.issuer.mnemonic} - #{securities.physicalCertificate.issuer.idIssuerPk}" />
									</p:column>
									
									<p:column styleClass="content-right" sortBy="#{securities.physicalCertificate.certificateNumber}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['lbl.retiro.break.securityno']}" />
										</f:facet>
										<p:commandLink style="color:blue;"  process="@this" immediate="true" update=":opnlDialogs"
													   action="#{reteirementDepositeBean.actionCertificateDialog(securities)}">
										<h:outputText value="#{securities.physicalCertificate.certificateNumber}" />
										</p:commandLink>
											
									</p:column>
									
									<p:column headerText="#{gmsgs['security.lbl.code']}" styleClass="content-center" 
							  				sortBy="#{securities.physicalCertificate.securities.idSecurityCodePk}">
										    <ark:securities-help securityCode="#{securities.physicalCertificate.securities.idSecurityCodePk}" icon="false" link="true"/>
									</p:column>									
									
									<p:column styleClass="content-center" sortBy="#{reteirementDepositeBean.moneyTypeMapDescription(securities.physicalCertificate.currency)}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['adm.holderaccount.bank.money.lbl']}" />
										</f:facet>
										<h:outputText value="#{reteirementDepositeBean.moneyTypeMapDescription(securities.physicalCertificate.currency)}" />
									</p:column>
									
									<p:column style="text-align:left" sortBy="#{securities.physicalCertificate.nominalValue}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['header.retito.nominal']}" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.nominalValue}" style="float:right">	
										<f:convertNumber pattern="###,##0.00" locale="en_US"/>
										</h:outputText>		
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securities.physicalCertificate.issueDate}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['header.retito.fechaemisor']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.issueDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{securities.physicalCertificate.expirationDate}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['header.retito.fechavenci']}" escape="false" />
										</f:facet>
										<h:outputText value="#{securities.physicalCertificate.expirationDate}">
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>									
									
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.withdrwal.dematerialization']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{securities.indDematerialized}" disabled="true"/>
									</p:column>
									
									<p:column styleClass="content-center" headerText="Remover">
										<p:commandLink action="#{reteirementDepositeBean.showElimarData(securities)}"
													   process="@this" immediate="true" update=":frmCustody, :opnlDialogs" >
											<p:graphicImage library="img" name="buttons/remove.png" />
										</p:commandLink>
									</p:column>
										
									<f:facet name="footer">
										<h:outputFormat value="#{msgs['tbl.footer.quantity.records']}">
											<f:param value="#{reteirementDepositeBean.physicalCertificateListAddedDataModel.rowCount}" />
										</h:outputFormat>
									</f:facet>	
										
								</p:dataTable>
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
				<ui:remove>
				<tr>
					<td align="center" colspan="5">
					<p:outputPanel id="idsummary" style="width:400px"  rendered="#{reteirementDepositeBean.physicalCertificateListAdded.size()>0}">
					<p:panelGrid columns="6"  columnClasses="ui-state-default" >						
						<h:outputText value="#{msgs['lbl.retiro.detaille']}"  />
						<h:outputText value="BOB"  style="float:center"/>
						<h:outputText value="USD" style="float:center"/>
						<h:outputText value="ECU" style="float:center"/>
						<h:outputText value="UFV" style="float:center"/>
						<h:outputText value="DMV" style="float:center"/>
						<h:outputText value="#{msgs['lbl.retiro.candit']}"  />
						<h:outputText value="#{reteirementDepositeBean.selectedCurrencyLocal}" style="float:right" />
						<h:outputText value="#{reteirementDepositeBean.selectedCurrencyUSP}" style="float:right" />
						<h:outputText value="#{reteirementDepositeBean.selectedCurrencyEUR}" style="float:right" />
						<h:outputText value="#{reteirementDepositeBean.selectedCurrencyUFV}" style="float:right" />
						<h:outputText value="#{reteirementDepositeBean.selectedCurrencyDMV}" style="float:right" />
						<h:outputText value="#{msgs['lbl.retiro.totalsecurit']}"  />
						<h:outputText value="#{reteirementDepositeBean.selectedNominalLocal}" style="float:right" >
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>
						<h:outputText value="#{reteirementDepositeBean.selectedNominalUSP}" style="float:right" >
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>
						<h:outputText value="#{reteirementDepositeBean.selectedNominalEUR}" style="float:right" >
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>		
						<h:outputText value="#{reteirementDepositeBean.selectedNominalUFV}" style="float:right" >
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>	
						<h:outputText value="#{reteirementDepositeBean.selectedNominalDMV}" style="float:right" >
							<f:convertNumber pattern="###,###,##0.00" locale="en_US"/>
						</h:outputText>		
					</p:panelGrid>
					</p:outputPanel>
					</td>
				</tr>
				</ui:remove>
				<tr>
					<td align="center" colspan="4">
					<p:commandButton value="#{gmsgs['btn.save']}"  icon="fa fa-save" action="#{reteirementDepositeBean.showSaveDialog}" 
									 update=":frmCustody, :opnlDialogs"/>
					<p:commandButton id="btnClean" icon="fa fa-trash" value="#{gmsgs['btn.clean']}" 
													 immediate="true" process="@this" 
													 onclick="return showCleanConfirmDialog(this);" 
													 oncomplete="cnfwClean.hide()"
													 actionListener="#{reteirementDepositeBean.cleanRegistry}" 
													 update="@form" />
								
					<p:commandButton id="btnReturn" icon="fa fa-undo" value="#{gmsgs['btn.back']}" 
													 action="#{reteirementDepositeBean.executeBackToSearch}"  
													 immediate="true" process="@form" 
													 update=":frmCustody, :opnlDialogs" 
													 onclick="if(isModifiedFormForBack(this))return false;" ajax="false"/>
					</td>
				</tr>
				
			</table>
		</h:form>
	<!--  -->	
	<p:outputPanel id="opnlDialogs">
	
		<h:form id="formPopUp">
		
			<p:dialog id="idDetalleValor" widgetVar="idDetalleValorW" 
				  modal="true" resizable="false" closable="false" 
				  header="#{msgs['deposito.cert.detail.lbl']}" >
				  
				<table border="0" width="900" cellpadding="1" cellspacing="1" >
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.affectation.view.blockOperation.isin.issuer']}" />	
					</td>
					<td>
						<p:inputText value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.issuer.idIssuerPk} - #{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.issuer.businessName}" style="width:500px" disabled="true" />
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.no.certificate']}" /> 						
					</td>
					<td>
						<p:inputText maxlength="15" size="16" value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.certificateNumber}" disabled="true">
							<p:keyFilter mask="pint"/>
						</p:inputText>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.rent']} "  />						
					</td>
					<td>
						<p:selectOneMenu style="width:160px" value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.instrumentType}" disabled="true">
							<f:selectItems value="#{reteirementDepositeBean.instrumentTypeList}" 
										   var="instrument" itemLabel="#{instrument.parameterName}" itemValue="#{instrument.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
				</tr>
				
				<tr>
					<td><h:outputText value="#{msgs['deposito.cert.manage.valor.codevalue']}"/></td> 
					<td>
						<p:inputText value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.securities.idSecurityCodePk}" disabled="true" />
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.pay.freq']}"/>						
					</td> 
					<td>
						<p:selectOneMenu style="width:160px" value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.paymentPeriodicity}" disabled="true">
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
							<f:selectItems value="#{certificateDepositeBean.paymentTypeList}" 
										   var="paymentType" itemLabel="#{paymentType.parameterName}" itemValue="#{paymentType.parameterTablePk}" />
					</p:selectOneMenu>
					</td>
				</tr>
				
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.class']}" />						
					</td>
					<td>
						<p:selectOneMenu value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.securityClass}" 
										 disabled="true" label="#{msgs['deposito.cert.manage.clas']}" >
							<f:selectItems value="#{reteirementDepositeBean.securityClassList}" 
										   var="securityClass" itemLabel="#{securityClass.parameterName}" itemValue="#{securityClass.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.tasa']}"/>						
					</td>
					<td>
						<p:inputNumber maxlength="12" size="12" thousandSeparator="," decimalSeparator="."
										style="text-align:right" value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.interestRate}" 
										disabled="true" label="#{msgs['deposito.cert.manage.valor.tasa']}" >
						</p:inputNumber>
					</td>
				</tr>
					
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.fecha.in']}" />						
					</td>
					<td>
						<p:calendar
									readonlyInput="true" 
									size="10" 
									maxlength="10" 
									value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.issueDate}" 
									pattern="#{msgs['dateFormat']}" 
									showOn="button"
									navigator="true"
									beforeShowDay="disableAllHolydays"
									disabled="true" >
						</p:calendar>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.fecha.fin']}"/>						
					</td>
					<td>
						<p:calendar  
									readonlyInput="true" 
									size="10" 
									value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.expirationDate}" 
									pattern="#{msgs['dateFormat']}" 
									showOn="button"
									beforeShowDay="disableAllHolydays"
									navigator="true"
									maxlength="10" 
									disabled="true">
						</p:calendar>
					</td>
				</tr>
				
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.money']}" />						
					</td>
					<td>
						<p:selectOneMenu id="moneyType" value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.currency}" 
										 disabled="true" label="#{msgs['deposito.cert.manage.money']}">
							<f:selectItems value="#{reteirementDepositeBean.moneyTypeList}" 
										   var="currency" itemLabel="#{currency.parameterName}" itemValue="#{currency.parameterTablePk}" />
						</p:selectOneMenu>
					</td>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor']}"/>						
					</td>
					<td>
						<p:inputNumber id="valorNom" size="12" maxlength="10" decimalSeparator="." thousandSeparator="," value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.nominalValue}"
										disabled="true" label="#{msgs['deposito.cert.manage.valor']}" style="text-align:right">
						</p:inputNumber>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['deposito.cert.manage.valor.count']}" />
					</td>
					<td>
						<p:inputText value="#{reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.certificateQuantity}" disabled="true" />
					</td>
				</tr>
				<tr>
					<td colspan="6">
					</td>
				</tr>
				<tr>
					<td colspan="6">
					</td>
				</tr>
				<tr>
					<td colspan="6">
						<p:outputPanel id="opnMarketfactsResults">
						<p:dataTable id="tbMarketfactsResult"
						 				 rendered="#{reteirementDepositeBean.getPhysicalCertMarketfact(reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.idPhysicalCertificatePk)!=null}"
									 	 value="#{reteirementDepositeBean.getPhysicalCertMarketfact(reteirementDepositeBean.dialogPhysicalCertificate.physicalCertificate.idPhysicalCertificatePk)}" 
									 	 var="marketfact"
								     	 rowKey="#{marketfact.marketDate-marketfact.marketPrice-marketfact.marketRate}"  
								     	 rowIndexVar="rIndx" style="width:250px;"
										 rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								
								<p:column headerText="#{msgs['commons.label.marketfact.date']}" styleClass="content-center" style="width:100px;">
									<h:outputText value="#{marketfact.marketDate}" >
										<f:convertDateTime pattern="#{msgs['dateFormat']}" />
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['commons.label.marketfact.tasa']}" style="width:150px;" styleClass="content-center">
									<h:outputText value="#{(marketfact.marketRate!=null)?marketfact.marketRate:0}" >
										<f:convertNumber pattern="#{gconst['pattern.market.rate']}"/>
										<f:convertNumber pattern="###,###,##0.0000" locale="en_US"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['commons.label.marketfact.price']}"  style="width:150px;" styleClass="content-center">
									<h:outputText value="#{(marketfact.marketPrice!=null)?marketfact.marketPrice:0}">
									<f:convertNumber pattern="###,###,###,##0.00" locale="en_US"/>
									</h:outputText>
								</p:column>
						</p:dataTable>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<p:commandButton value="#{gmsgs['btn.back']}"  
							icon="fa fa-undo"  oncomplete="idDetalleValorW.hide()"
							 immediate="true" process="@this" />
					</td>
				</tr>
			</table>			
		</p:dialog>
		
		
		<p:dialog id="cnfAdministrarUsu" header="#{msgs['lbl.retiro.process']}" 
				  widgetVar="processData" closable="false">
			<table cellpadding="2" cellspacing="2">
				<tr>
					<td width="150px">
						<h:outputText value="#{msgs['lbl.retiro.emisor']}:"/>
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.issuerFk}" style="font-weight:bold" />
					</td>
					<td width="150px">
						<h:outputText value="#{msgs['lbl.retiro.instrument']}:"/>
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.stInstrumentType}" style="font-weight:bold" />
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.retiro.securityclass']}:"  />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.strSecurityClass}" style="font-weight:bold" />
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.retiro.break.securityno']}:"/>
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.certificateNumber}" style="font-weight:bold" />
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['header.retito.fechaemisor.break']}:" />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.issueDate}" style="font-weight:bold" >
							<f:convertDateTime pattern="#{msgs['dateFormat']}" />
						</h:outputText>
					</td>
					<td>
						<h:outputText value="#{msgs['header.retito.fechavenci.break']}:" />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.expirationDate}" style="font-weight:bold" >
								<f:convertDateTime pattern="#{msgs['dateFormat']}" />
						</h:outputText>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['header.retito.nominal']}:" />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.nominalValue}" style="font-weight:bold" >
							<f:convertNumber pattern="###,##0.00" locale="en_US"/>
						</h:outputText>
					</td>
					<td>
						<h:outputText value="#{msgs['adm.holderaccount.bank.money.lbl']}:"  />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.strCurrency}" style="font-weight:bold" />
					</td>
				</tr>
				<tr>
					<td>
						<h:outputText value="#{msgs['lbl.pop.perioc']}:" />
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.strPaymentPeriodicity}" style="font-weight:bold" />
					</td>
					<td>
						<h:outputText value="#{msgs['lbl.pop.interestrate']}:"/>
					</td>
					<td>
						<h:outputText value="#{reteirementDepositeBean.showSelected.interestRate}" style="font-weight:bold" />
					</td>
				</tr>
				<tr>
					<td align="center" colspan="6">
						<p:commandButton style="center" value="#{msgs['btn.exit']}" oncomplete="processData.hide();" 
							action="#{reteirementDepositeBean.dialogExitHide}"	/>
					</td>
				</tr>
			</table>
		</p:dialog>
		
		<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
       
        	<h:panelGrid width="100%" border="0" 
        		cellpadding="0" cellspacing="0" style="text-align:center;">         
		        <p:commandButton id="btnalterValidation" 
		                     process="@this"
		        			 oncomplete="alterValidationWidget.hide()"
	        				 value="#{gmsgs['btn.accept']}" 
	        				 action="#{reteirementDepositeBean.aceptAlertActionsNew()}"
	        				 update=":frmCustody"
	        				 > 
	        	</p:commandButton>   
	        </h:panelGrid>
    	</p:confirmDialog> 
	    
	    <p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
						 message="#{bodyMessageView}" header="#{headerMessageView}" 
						 closable="false" > 
			
				<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="cnfWAskDialog.hide()" 
								 action="#{reteirementDepositeBean.confirmAlertActions()}" 
								 update=":frmCustody, :opnlDialogs"  />
				<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="cnfWAskDialog.hide()"
								 update=":frmCustody:idparticipantmngt" 
								 action="#{reteirementDepositeBean.questionAlertNo()}" />
		
		</p:confirmDialog>
				
		</h:form>
	</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>