<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkHelp="http://java.sun.com/jsf/composite/helpers"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
	
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script type="text/javascript">
	  $(window).load(function(){
	   setInitialFormState('#frmCustody');
	  });
	</script>		
		<h:form id="frmCustody">
			<table width="100%" border="0">
				<tr>
					<td width="100%">
						<table width="100%">
						<tr>
							<td align="left">
								<h:outputText value="#{gmsgs['icustody.certificatewithdrawal.manage.title']}" styleClass="title-page" />
							</td>
							<td align="right">
								<p:commandButton value="#{msgs['deposit.register.btn.lbl']}" icon="fa fa-edit" rendered="#{reteirementDepositeBean.flagRegister}" 
										 action="#{reteirementDepositeBean.gotoNewRetirementCertificate}" immediate="true" />
							</td>
						</tr>						
						</table>						
					</td>
				</tr>
				<tr>
					<td>
						<p:fieldset id="fsCriteriaSearch" legend="#{msgs['header.retiro.criter']}">
							<table width="100%" border="0"> 
								<tr>
									<td>
										<h:outputText value="#{gmsgs['participant.lbl']}"/>
									</td> 
									<td colspan="3">
										<h:panelGrid columns="2">
										<p:selectOneMenu  id="idcomboparticipant" value="#{reteirementDepositeBean.participantSelected}" style="width:480px"
														  disabled="#{reteirementDepositeBean.isParticipant or reteirementDepositeBean.isBcr}"  
														  label="#{msgs['message.validation.oneparticipant']}" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" />
											<f:selectItems value="#{reteirementDepositeBean.lstParticpant}" var="participant" 
														   itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}" />
												<p:ajax event="change" listener="#{reteirementDepositeBean.getParticipantSelected}"/>
										</p:selectOneMenu>	
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{gmsgs['holder.lbl.code']}"/></td>
									<td colspan="3">
										<arkHelp:holderHelper id="idCuiHolder" holder="#{reteirementDepositeBean.sourceHolder}"
											remoteListener="cmdHolderHelper()" participant="#{reteirementDepositeBean.participantSelected}"/>
	    								<p:remoteCommand name="cmdHolderHelper" process="@this idcomboparticipant" update="frmCustody:idHolderAccount" />
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{gmsgs['account.lbl.code']}"/>
									</td>
									<td colspan="3">	
										<p:outputPanel id="idHolderAccount">
										<arkHelp:accountHelper id="idOriginAccountNumber" 
											holderAccount="#{reteirementDepositeBean.holderAccount}"
					        				blHolder="true" holder="#{reteirementDepositeBean.sourceHolder}" 
					        				participant="#{reteirementDepositeBean.participantSelected}"
					        				remoteListener="rcmdAccountIsAllowed();"/>
	 
										<p:remoteCommand id="idRcmdAccountIsAllowed" 
														 name="rcmdAccountIsAllowed" process="@this, frmCustody:idOriginAccountNumber"
														 actionListener="#{reteirementDepositeBean.validStatusHolder}"
														 update="frmCustody, :opnlDialogs"/>
										</p:outputPanel>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.retiro.emisor']}" />
									</td>
									<td colspan="3">
									<arkHelp:issuerHelper id="idIssuerPk" issuer="#{reteirementDepositeBean.issuerHelp}" remoteListener="validaIssuer()"
														  label="#{msgs['lbl.retiro.emisor']}">
									</arkHelp:issuerHelper>
									<p:remoteCommand name="validaIssuer" 
													 actionListener="#{reteirementDepositeBean.validateSearchIssuer}"
													 update="idIssuerPk, :opnlDialogs"/>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['deposito.nro.title']}" />
									</td>
									<td colspan="3"> 
										<p:inputText id="idscertno" value="#{reteirementDepositeBean.docNumber}" style="text-align:right" >
											
										</p:inputText>
									</td>
								</tr>
								
								<tr>
									<td>
										<h:outputText value="#{msgs['consult.location.requestNo']}"  />	
									</td>
									<td>
										<p:inputText id="idsreqno" value="#{reteirementDepositeBean.selectedReqNumber}" 
													 style="text-align:right" >
											<p:keyFilter regEx="/[0-9]/i" />
										</p:inputText>
									</td>
									<td>
										<h:outputText value="#{msgs['depoito.state.lbl']}" />
									</td>
									<td>
										<p:selectOneMenu value="#{reteirementDepositeBean.stateSelected}" >  
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
											<f:selectItems value="#{reteirementDepositeBean.certificateDepositeEstatusTypeList}"
												var="typeTransfer" itemLabel="#{typeTransfer.parameterName}" itemValue="#{typeTransfer.parameterTablePk}" />
												<p:ajax event="change" listener="#{reteirementDepositeBean.getStateSelected}" update="frmCustody"/>
										</p:selectOneMenu>
									</td>
								</tr>								
								<tr>
									<td width="20%">
										<h:outputText value="#{msgs['deposito.fecha.inicial']} (*)" styleClass="required-field"/>
									</td> 
									<td width="30%">
										<p:calendar id="calendarInic" size="10" readonlyInput="true" 
											showOn="both" pattern="#{msgs['dateFormat']}"
													navigator="true"
													value="#{reteirementDepositeBean.initialDate}" 
													maxdate="#{reteirementDepositeBean.maxDateAllow}">
										<p:ajax event="dateSelect" listener="#{reteirementDepositeBean.getInitialDate}" 
												update="frmCustody" />
										</p:calendar>
									</td>
									<td width="20%">
										<h:outputText value="#{msgs['deposito.fecha.final']} (*)" styleClass="required-field"/>
									</td>
									<td width="30%">
										<p:calendar 
											id="calendarFin"  
											size="10" readonlyInput="true" 
											showOn="both" 
											pattern="#{msgs['dateFormat']}" 
											maxdate="#{reteirementDepositeBean.maxDateAllow}"
											navigator="true" 
											value="#{reteirementDepositeBean.finalDate}">
											<p:ajax event="dateSelect" listener="#{reteirementDepositeBean.getFinalDate}" update="frmCustody" />
										</p:calendar>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center">
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search" 
														 rendered="#{reteirementDepositeBean.flagSearch}" 
														 actionListener="#{reteirementDepositeBean.searchRetirementPhysicalCertificates}" 
														 update="frmCustody:panelRegistros, :opnlDialogs"/>
														 
										<p:commandButton value="#{gmsgs['btn.clean']}" icon="fa fa-trash" 
														 immediate="true" process="@this"
														 update="frmCustody, :opnlDialogs"
														 actionListener="#{reteirementDepositeBean.clearSearchRetirementPhysicalCertificates}" />
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<ui:remove>
						<p:outputPanel  id="pnlButtons">
							<p:outputPanel rendered="#{not empty reteirementDepositeBean.certificateDepositeList}">
							<arkPriv:privileges id="arkinPrivileges"				 
						 		actionApprove="#{reteirementDepositeBean.aproveCertificates(false)}"
							 	actionAnnular="#{reteirementDepositeBean.cancelCertificates(false)}"
							 	actionApply="#{reteirementDepositeBean.applyCertificates(false)}"
							 	actionReject="#{reteirementDepositeBean.rejectCertificates(false)}"
							 	actionConfirm="#{reteirementDepositeBean.confirmCertificates(false)}"
						 		actionAuthorize="#{reteirementDepositeBean.authorizeCertificates(false)}"
								actions="#{userPrivilege.userAcctions}"
								renders="#{userPrivilege.privilegeComponent}"/>
							</p:outputPanel>							
						</p:outputPanel>
						</ui:remove>
					</td>
				</tr>
				<tr>
					<td> 
						<p:outputPanel id="panelRegistros">
							<p:fieldset id="fsListado" legend="#{msgs['header.retiro.regisenco']}"
										rendered="#{not empty reteirementDepositeBean.certificateDepositeList}">

									<p:dataTable 
										id="dtbResult" var="physicalCertificateVar"
										style="padding-right:0px !important"
										paginator="true" rows="8"  paginatorPosition="top"
										selection="#{reteirementDepositeBean.certificateDepositeSelected}"
										value="#{reteirementDepositeBean.certificateDepositeDataModel}" 
										currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										paginatorTemplate="#{msgs['dtb.paginator.template']}"
								        rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"
										rowKey="#{physicalCertificateVar.idPhysicalOperationDetail}">
									
									
									<p:column style="text-align:center" selectionMode="multiple" />
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.requestNumber}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['deposito.nro.solicitud']}" />
										</f:facet>
										<p:commandLink style="color:blue"  process="@this" immediate="true"
														   action="#{reteirementDepositeBean.goToviewCertificationDetail(physicalCertificateVar)}">
											<h:outputText style="float:right;" value="#{physicalCertificateVar.requestNumber}" />
										</p:commandLink>
										
									</p:column>
									
									<p:column style="text-align:right" sortBy="#{physicalCertificateVar.physicalCertificate.certificateNumber}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.nro.title']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.certificateNumber}" />
									</p:column>																		
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.retiro.emisor']}" />
										</f:facet> 
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.issuer.mnemonic}"/>
									</p:column>

									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.registerDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.deposito.fecha.solicitud.search']}"/>
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.registerDate}"> 
											<f:convertDateTime pattern="#{msgs['dateFormat']}"/> 
										</h:outputText>
									</p:column>
					
									<p:column styleClass="content-center" style="width:205px"
									sortBy="#{physicalCertificateVar.physicalCertificate.securities.idSecurityCodePk}">
										<f:facet name="header">
											<h:outputText value="#{gmsgs['security.lbl.code']}" />
										</f:facet>
										<arkHelp:securities-help securityCode="#{physicalCertificateVar.physicalCertificate.securities.idSecurityCodePk}" 
													link="true" icon="false">
													</arkHelp:securities-help>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.valor.nominal']}" />
										</f:facet>
										<h:outputText style="float:right" value="#{physicalCertificateVar.physicalCertificate.nominalValue}">
										 <f:convertNumber locale="en_US" pattern="###,##0.00"/>
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.currencyType}">
										<f:facet name="header">
											<h:outputText  value="#{msgs['adm.holderaccount.bank.money.lbl']} " />
										</f:facet>
										<h:outputText style="float:left" value="#{physicalCertificateVar.physicalCertificate.currencyType}"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.issueDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.manage.fecha.in']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.issueDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.physicalCertificate.expirationDate}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.manage.fecha.fin']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.physicalCertificate.expirationDate}" >
											<f:convertDateTime pattern="#{msgs['dateFormat']}" />
										</h:outputText>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{physicalCertificateVar.stateType}">
										<f:facet name="header">
											<h:outputText value="#{msgs['deposito.cert.status']}" />
										</f:facet>
										<h:outputText value="#{physicalCertificateVar.stateType}"/>
									</p:column>
									
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.retiro.solicit']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{physicalCertificateVar.indApplied}" disabled="true"/>
									</p:column>
									
									<p:column styleClass="content-center">
										<f:facet name="header">
											<h:outputText value="#{msgs['lbl.withdrwal.dematerialization']}" />
										</f:facet>
										<p:selectBooleanCheckbox value="#{physicalCertificateVar.indDematerialization}" disabled="true"/>
									</p:column>
									
									<f:facet name="footer">
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
											<f:param value="#{reteirementDepositeBean.certificateDepositeDataModel.rowCount}"/>
										</h:outputFormat>						            
							        </f:facet>
								
								</p:dataTable>
								
							</p:fieldset>
							
							<p:panel rendered="#{!reteirementDepositeBean.registersFound}">
									<h:outputLabel value="#{msgs['lbl.search.no.result']}"/>
							</p:panel>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>
		<!--  -->
		<p:outputPanel id="opnlDialogs">
		
			<h:form id="formPopUp">
			
			<p:confirmDialog id="alterValidation" message="#{bodyMessageView}" closable="false"
	                		 header="#{headerMessageView}" severity="info" widgetVar="alterValidationWidget" >  
	       
	        	<h:panelGrid width="100%" border="0" 
	        		cellpadding="0" cellspacing="0" style="text-align:center;">         
			        <p:commandButton id="btnalterValidation" 
			                     process="@this"
			        			 oncomplete="alterValidationWidget.hide()"
		        				 value="#{gmsgs['btn.accept']}" 
		        				 action="#{reteirementDepositeBean.aceptAlertActions()}"
		        				 update=":frmCustody"
		        				 > 
		        	</p:commandButton>   
		        </h:panelGrid>
	    	</p:confirmDialog> 
	    	
	    	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
							 message="#{bodyMessageView}" header="#{headerMessageView}" 
							 closable="false"> 
				
					<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="cnfWAskDialog.hide()" 
									 action="#{reteirementDepositeBean.confirmAlertActions()}" 
									 update=":frmCustody, :opnlDialogs"  />
					<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="cnfWAskDialog.hide()" />
			
			</p:confirmDialog>
			
			<p:dialog id="alterReject" closable="false" resizable="false"
	                header="#{headerMessageView}" severity="alert" widgetVar="alterRejectWidget" >  
	       		<p:outputPanel id="rejectPanel">
	        	<table width="350">
	    		<tr>
			    		<td>
			    			<h:outputText value="#{msgs['lbl.select']} (*)" styleClass="required-field" />
			    		</td>
			    		<td>
							<p:selectOneMenu id="rejectOption" required="true" style="width:300px" requiredMessage="#{msgs['error.accreditation.certificate.required']}" 
											 value="#{reteirementDepositeBean.reasonSelected}">  
					           <f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="-1" />
					           <f:selectItems value="#{reteirementDepositeBean.reasonTypeList}"
											  var="rejectMotive" itemLabel="#{rejectMotive.parameterName}" itemValue="#{rejectMotive.parameterTablePk}" />
					            <p:ajax update="rejectPanel" event="change" immediate="true" process="@this" />
					        </p:selectOneMenu>		
					    	<p:message for="rejectOption"  id="rejectOptionMsg" display="icon" />	
					    </td>	
		    		</tr>
	    		<tr>
				    <td>
			    			<h:outputText value="#{msgs['lbl.accreditation.certificate.motive.other']} (*)" styleClass="required-field" 
			    						  rendered="#{reteirementDepositeBean.reasonSelected==reteirementDepositeBean.otherRejectMotiveId}" />
			    		</td>
			    		<td>
			    			<p:inputTextarea id="rejectMotiveOtherTxt" maxlength="200"
			    							required="true"
			    							requiredMessage="#{msgs['error.accreditation.certificate.required']}"
			    							rendered="#{reteirementDepositeBean.reasonSelected==reteirementDepositeBean.otherRejectMotiveId}"
			    							style="width:300px;" value="#{reteirementDepositeBean.rejectOther}">
			    				<f:validator  validatorId="com.pradera.commons.view.validators.InputTextValidator" />	
			    				<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />			 
			    			</p:inputTextarea> 		    	
					    	<p:message for="rejectMotiveOtherTxt" id="rejectMotiveOtherTxtMg" display="icon" rendered="#{reteirementDepositeBean.reasonSelected==reteirementDepositeBean.otherRejectMotiveId}" />
					</td>
		    	</tr>
       			<tr>
       				<td colspan="2" align="center">       
				        <p:commandButton
					        			 id="btnYesRejectOrAnulled"
					        			 rendered="true"  process="@form"
					        			 icon="fa fa-save"
					        			 disabled="#{reteirementDepositeBean.reasonSelected==-1}"
				        				 value="#{gmsgs['btn.save']}" 
				        				 action="#{reteirementDepositeBean.certificateQuestion()}"
				        				 update="rejectPanel, cnfIdCAskDialog, :opnlGenericDialogs"
				        				 > 
				        	</p:commandButton>
				        	
				        	<p:commandButton
					        			 icon="fa fa-undo"
				        				 value="#{gmsgs['btn.back']}"  
				        				 immediate="true"
				        				 process="@this"
				        				 action="#{reteirementDepositeBean.cancelAlertAnullOrReject()}"
				        				 update=":frmCustody, :opnlDialogs"> 
						    </p:commandButton>  
                  </td>
       			</tr>
       		</table>
	       		</p:outputPanel>
	       		
	    	</p:dialog>
			
	    	</h:form>
	    	
		</p:outputPanel>
		
	</ui:define>
</ui:composition>
</html>