<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<p:importEnum type="com.pradera.model.settlement.type.ReassignmentRequestMotiveType" var="reasonType" />

<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmAccountAssignment');
});
</script>
<h:outputText value="#{gmsgs['inegotiations.reassignmentrequest.detail.title']}" styleClass="title-page"/>
<h:form id="frmAccountAssignment">
<table width="100%">
	<tr>
		<td>
		<p:fieldset id="fldsFiltros" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">			
				<h:outputText value="#{msgs['lbl.operation.mechanism']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2" id="pnlMechanism">
				<p:selectOneMenu id="cboNegoMechanism" label="#{msgs['lbl.operation.modality']}" disabled="true"
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.idMechanism}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstMechanism}"
						var="negoMechanism" itemValue="#{negoMechanism.idNegotiationMechanismPk}" itemLabel="#{negoMechanism.mechanismName}"/>
						<p:ajax event="change" process="@this" update="fldsFiltros"  
							listener="#{accountReassignmentMgmtBean.onChangeMechanismRegister}" />
						<f:validator validatorId="selectOneRequiredValidator"/>
				</p:selectOneMenu>
				<p:message for="cboNegoMechanism" display="icon" id="msgNegoMechanism"/>	
				</h:panelGrid>	
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.modality']}" />
			</td>
			<td width="30%">
				<h:panelGrid columns="2" id="pnlModality">
				<p:selectOneMenu id="cboNegoModality" label="#{msgs['lbl.operation.modality']}" 
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.idModality}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstModality}" 
						var="negoModa" itemValue="#{negoModa.idNegotiationModalityPk}" itemLabel="#{negoModa.modalityName}"/>
						<p:ajax event="change" process="@this" update="fldsFiltros" 
							listener="#{accountReassignmentMgmtBean.onChangeModalityRegister}" />
				</p:selectOneMenu>
				<p:message for="cboNegoModality" display="icon" id="msgNegoModality"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.Participant']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2" id="pnlParticipant">
				<p:selectOneMenu id="cboParticipant" label="#{msgs['lbl.operation.Participant']}" 
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.idParticipant}"
					disabled="#{userInfo.userAccountSession.participantInstitucion}" style="width:500px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstParticipant}"
						var="participant" itemValue="#{participant.idParticipantPk}" itemLabel="#{participant.displayDescriptionCode}"/>
						<p:ajax event="change" process="@this" listener="#{accountReassignmentMgmtBean.onChangeParticipantRegister()}" 
							update="fldsFiltros"/>
						<f:validator validatorId="selectOneRequiredValidator"/>				
				</p:selectOneMenu>
				<p:message for="cboParticipant" display="icon" id="msgParticipant"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.ballotNumber']}"/>
			</td>
			<td>
				<p:inputText maxlength="18" style="width:110px" size="18"  id="txtBallotNumber"
				value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.ballotNumber}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.sequential']}"/>
			</td>
			<td>
				<p:inputText maxlength="3" style="width:110px" size="3"  id="txtSequential"
				value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.sequential}" >
					<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
				</p:inputText>									
			</td>
		</tr>
		<tr>
			<td><h:outputText value="#{msgs['lbl.operation.settlementDate']} (*)" styleClass="required-field" /></td>
			<td>
				<p:calendar size="10" disabled="false" readonlyInput="true" yearRange="1900:c+c"
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.settlementDate}"
					navigator="true" id="calSettlementDate" showOn="both"
					maxlength="10" pattern="#{cons['dateFormat']}">
					<f:validator validatorId="inputRequiredValidator"/>			
				</p:calendar>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationCurrency']}"/>
			</td>
			<td>
				<p:selectOneMenu value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.idCurrency}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstCurrency}" 
						var="paramterTab" itemValue="#{paramterTab.parameterTablePk}" itemLabel="#{paramterTab.parameterName}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton icon="fa fa-search" value="#{gmsgs['btn.search']}" process="@this fldsFiltros" 
					update="fldsFiltros pnlMechanismOperations pnlDatosAsignacion pnlAssignedAccounts :frmAccountAssignment:pnlMotiveAsignacion 
					:frmAccountAssignment:pnlAssignedAccountsMarketFact " 
					actionListener="#{accountReassignmentMgmtBean.searchMechanismOperations}" />
								 
				<p:commandButton icon="fa fa-trash" value="#{gmsgs['btn.clean']}" oncomplete="PF('cnfwClean').hide()" immediate="true"
					 actionListener="#{accountReassignmentMgmtBean.cleanRegister}" onclick="return showCleanConfirmDialog(this);"
					 update="@form" />
			</td>
		</tr>
		</table>
		</p:fieldset>	
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="pnlMechanismOperations">		
		<p:outputPanel id="innerPnlMechanismOperations" rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstMechanismOperations != null}">
			<p:fieldset id="fldMechanismOperations" legend="#{msgs['lbl.settlement.dateExchange.register.panel.operations']}" >
			<p:dataTable var="mechanismOperation" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstMechanismOperations}"
				paginator="true" rows="10"  paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowKey="#{mechanismOperation.idMechanismOperationPk}"
				rowsPerPageTemplate="5,10,15" 
				selection="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.selectedOperation}"
				rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstMechanismOperations.rowCount >= 1}"  >
				
				<p:ajax event="rowSelectRadio" update="@parent :frmAccountAssignment:pnlDatosAsignacion :frmAccountAssignment:pnlAssignedAccounts 
							:frmAccountAssignment:pnlMotiveAsignacion :frmAccountAssignment:pnlAssignedAccountsMarketFact 
							:opnlGenericDialogs"
						listener="#{accountReassignmentMgmtBean.onSelectMechanismOperation}"/>
				
				<p:column selectionMode="single" styleClass="content-center" />
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.mechanism']}" sortBy="#{mechanismOperation.mechanismName}">
					<h:outputText value="#{mechanismOperation.mechanismName}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.modality']}" sortBy="#{mechanismOperation.modalityName}">
					<h:outputText value="#{mechanismOperation.modalityName}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText = "#{msgs['lbl.operation.operationDate.br']}" sortBy="#{mechanismOperation.operationDate}">
					<h:outputText value="#{mechanismOperation.operationDate}" >
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.operationNumber.br']}" sortBy="#{mechanismOperation.operationNumber}">
					<h:outputText value="#{mechanismOperation.operationNumber}"/>
				</p:column>
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.ballotSequential.br']}" sortBy="#{mechanismOperation.ballotSequential}">
					<h:outputText value="#{mechanismOperation.ballotSequential}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.security.code']}" sortBy="#{mechanismOperation.idSecurityCodePk}">
					<h:outputText value="#{mechanismOperation.idSecurityCodePk}"/>
				</p:column> 
				
				<p:column styleClass="content-right" headerText="#{msgs['lbl.operation.stockQuantity']}" sortBy="#{mechanismOperation.stockQuantity}">
					<h:outputText value="#{mechanismOperation.stockQuantity}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationCurrency']}" sortBy="#{mechanismOperation.currencyDescription}">
					<h:outputText value="#{mechanismOperation.currencyDescription}"/>
				</p:column>
				
				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.participant.buyer.br']}" sortBy="#{mechanismOperation.buyerParticipantCodeNemonic}">
					<h:outputText value="#{mechanismOperation.buyerParticipantCodeNemonic}" escape="false"/>
				</p:column>

				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.participant.seller.br']}" sortBy="#{mechanismOperation.sellerParticipantCodeNemonic}" >
					<h:outputText value="#{mechanismOperation.sellerParticipantCodeNemonic}" escape="false"/>
				</p:column>

				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.cash.settlementFL']}" sortBy="#{mechanismOperation.cashSettlementDate}" >
					<h:outputText value="#{mechanismOperation.cashSettlementDate}">
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.term.settlementFL']}" sortBy="#{mechanismOperation.termSettlementDate}" >
					<h:outputText value="#{mechanismOperation.termSettlementDate}">
						<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
					</h:outputText>
				</p:column>
				
			</p:dataTable>
			<h:outputLabel value="#{msgs['lbl.search.no.result']}" 
				rendered="#{!(accountReassignmentMgmtBean.registerAccountReassignmentTO.lstMechanismOperations.rowCount >= 1)}"
				style="font-weight:bold;"/>
			</p:fieldset>
		</p:outputPanel>	
		</p:outputPanel>
		</td>
	</tr>
	
	<tr>
		<td>
			<p:outputPanel id="pnlMotiveAsignacion">
				<p:outputPanel id="innerPnlMotiveAsignacion" rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.selectedOperation !=null}">
					<p:fieldset id="fldMotiveAsignacion" legend="#{msgs['lbl.assignment.account.motive.panel.assignment']}">
						<table width="50%">
							<tr>
								<td>
									<h:outputText value="#{msgs['lbl.assignment.account.motive.register.assignment']} (*)" styleClass="required-field"/>
								</td>
								<td>
									<h:panelGrid id="pnlRequestReason" columns="2">
										<p:selectOneMenu id="cboReason" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.requestReason}" >											
											<f:selectItems 	value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstRequestReason}" 
												var="paramterTab" itemValue="#{paramterTab.parameterTablePk}" itemLabel="#{paramterTab.parameterName}"/>											
											<p:ajax event="change" process="@this" listener="#{accountReassignmentMgmtBean.onChangeRequestReason}"
												update="pnlRequestReason :frmAccountAssignment:pnlDatosAsignacion :frmAccountAssignment:pnlAssignedAccounts 
												:frmAccountAssignment:pnlAssignedAccountsMarketFact" />
											<f:validator validatorId="selectOneRequiredValidator"/>	
										</p:selectOneMenu>
										<p:message for="cboReason" display="icon" id="msgReason"/>
									</h:panelGrid>
								</td>
							</tr>
						</table>
					</p:fieldset>
				</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	
	<tr>
		<td>
		<p:outputPanel id="pnlDatosAsignacion">
		<p:outputPanel id="innerPnlDatosAsignacion" rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.selectedOperation !=null 
		 and accountReassignmentMgmtBean.registerAccountReassignmentTO.requestReason eq reasonType.MODIFY_HOLDER_ACCOUNT.code }">
		<p:fieldset id="fldDatosAsignacion" legend="#{msgs['lbl.assignment.account.register.panel.assignment']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.role']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid id="pnlRole" columns="2">
				<p:selectOneMenu id="cboRole" disabled="#{!accountReassignmentMgmtBean.registerAccountReassignmentTO.crossOperation}"
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.role}" >
					<f:selectItems value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstRoles}" />
					<f:validator validatorId="selectOneRequiredValidator"/>
					<p:ajax update="pnlRole" process="@this" event="blur" />
				</p:selectOneMenu>
				<p:message for="cboRole" display="icon" id="msgRole"/>
				</h:panelGrid>
			</td>
		</tr>		
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.stockQuantity']} (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid id="pnlQuantity" columns="2">
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.holderAccountOperation.stockQuantity}" id="quantity" 
					styleClass="content-right" label="#{msgs['lbl.assignment.account.register.assignment.stockQuantity']}">
					<p:keyFilter mask="pint"/>	
					<p:ajax event="change" process="@this pnlRole" update="amountHolderAccount msgQuantity @this :opnlGenericDialogs" 
						listener="#{accountReassignmentMgmtBean.onChangeStockQuantity()}" global="false"/>
					<f:validator validatorId="inputRequiredValidator"/>
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
				<p:message for="quantity" display="icon" id="msgQuantity"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.assignment.account.register.assignment.amount']}" />
			</td>
			<td width="30%">
				<p:inputText id="amountHolderAccount" styleClass="content-right" size="30" disabled="true"
					value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.holderAccountOperation.settlementAmount}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>					
			</td>
		</tr>		
		<tr>
			<td>
				<h:outputText value="#{gmsgs['holder.lbl.code']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3">
				<ark:holderHelper id="holderHelper" holder="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.holder}"
					required="true" validatorName="com.pradera.commons.view.validators.InputTextValidator"
					remoteListener="updateField()" label="#{gmsgs['holder.lbl.code']}"
					participant = "#{accountReassignmentMgmtBean.registerAccountReassignmentTO.idParticipant}"/>
				<p:remoteCommand name="updateField" actionListener="#{accountReassignmentMgmtBean.validateHolder}" 
					update=":frmAccountAssignment:holderHelper:outpnlHolder msgHolder opnlHolderAccount opnlListHolderAccount" process="@this"/>								
				<p:message for=":frmAccountAssignment:holderHelper:holderHelper" display="icon" id="msgHolder"/>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<p:outputPanel id="opnlHolderAccount">
				<h:outputText value="#{gmsgs['account.lbl.code']} (*)" styleClass="required-field" 
					rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstHolderAccount}"/>
				</p:outputPanel>
			</td>
			<td colspan="3">
				<p:outputPanel id="opnlListHolderAccount">
				<p:dataTable var="holderAccount" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstHolderAccount}"
					rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstHolderAccount}"
					rowKey="#{holderAccount.idHolderAccountPk}" 
					selection="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.holderAccountOperation.holderAccount}">
					<p:column selectionMode="single" styleClass="content-center"/>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.number']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountNumber}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.alternate']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.alternateCode}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.type']}" styleClass="content-center">
						<h:outputText value="#{holderAccount.accountDescription}"/>
					</p:column>
					<p:column headerText="#{msgs['lbl.assignment.account.register.assignment.account.description']}">
						<h:outputText value="#{holderAccount.accountRntAndDescription}" escape="false"/>
					</p:column>
					<p:ajax process="@this" event="rowSelectRadio"/>					
				</p:dataTable>
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<p:commandButton id="btnAsigCta" icon="ui-add" update="@form :opnlGenericDialogs" value="#{gmsgs['btn.add']}"
			    	actionListener="#{accountReassignmentMgmtBean.assignHolderAccount}"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="pnlAssignedAccounts">
		<p:outputPanel id="innerPnlAssignedAccounts" rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstAccountOperations.dataList 
			and accountReassignmentMgmtBean.registerAccountReassignmentTO.requestReason eq reasonType.MODIFY_HOLDER_ACCOUNT.code }">
		<p:fieldset id="fldAssignedAccounts" legend="#{msgs['lbl.assignment.account.register.panel.assignmentes']}" 
			rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstAccountOperations.dataList}">
		<table width="100%">
		<tr>
			<td align="left" width="100%">
				<p:commandButton id="btnDeleteAssignment" icon="ui-remove" 
					actionListener="#{accountReassignmentMgmtBean.beforeRemoveAccount}"
					update="outPnlDialogs :opnlGenericDialogs" partialSubmit="true"
					value="#{gmsgs['btn.remove']}" process="@this fldAssignedAccounts"/>
			</td> 
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr> 
			<td>
			<p:dataTable id="dtbResult" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstAccountOperations}"
				var="hao" paginator="true" rows="10"  paginatorPosition="top" 
				rowKey="#{hao.rowKey}" rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstAccountOperations}"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				rowsPerPageTemplate="5,10,15" selection="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSelectedAccounts}"> 
				
				<p:column selectionMode="multiple" styleClass="content-center"
					rendered="#{!(accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.indPrimaryPlacement eq 1 and hao.role eq 2)}" />
				
				<p:column styleClass="content-center" 
					rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.indPrimaryPlacement eq 1 and hao.role eq 2}" />
				
				<p:column sortBy="#{hao.holderAccount.accountNumber}" styleClass="content-right" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.accountNumber']}">
					<h:outputText value="#{hao.holderAccount.accountNumber}"/>
				</p:column>	
				
				<p:column sortBy="#{hao.holderAccount.accountDescription}" styleClass="content-center" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.personType']}">
					<h:outputText value="#{hao.holderAccount.accountDescription}"/>
				</p:column>
				
				<p:column sortBy="#{hao.holderAccount.accountRntAndDescription}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.holder']}"/>
					</f:facet>
					<h:outputText value="#{accountReassignmentMgmtBean.getCuiHolder(hao.holderAccount)}" escape="false" />
				</p:column>
							
				<p:column sortBy="#{hao.role}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.role']}"/>
					</f:facet>
					<h:outputText value="#{accountReassignmentMgmtBean.getRoleDescription(hao.role)}"/>
				</p:column>
								
				<p:column sortBy="#{hao.stockQuantity}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.stockQuantity']}">
					<h:outputText value="#{hao.stockQuantity}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
				
				<p:column sortBy="#{hao.settlementAmount}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.amount']}">
					<h:outputText value="#{hao.settlementAmount}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</h:outputText> 
				</p:column>
			
				<p:column sortBy="#{hao.inchargeStockParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeStocks']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{hao.inchargeStockParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{hao.inchargeFundsParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeFunds']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{hao.inchargeFundsParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{hao.holderAccountStateDesc}" styleClass="content-center"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.state']}">
					<h:outputText value="#{hao.holderAccountStateDesc}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.assignment.account.register.assignments.detail.marketfact']}" 
					rendered="#{accountReassignmentMgmtBean.blMarketFact}">
					<p:commandLink actionListener="#{accountReassignmentMgmtBean.showMarketFact(hao)}"
						rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.indPrimaryPlacement ne 1 and hao.role eq 2}" 
						process="@this" update=" :frmAccountAssignment:outPnlDialogs :dlgMarketFact">
						<p:graphicImage rendered="#{rr.holderAccountOperation.idHolderAccountOperationPk == null}" 
							library="img" style="cursor:pointer; border:none;" name="buttons/edit.png" id="imgAddMarket"/>
						<p:graphicImage rendered="#{rr.holderAccountOperation.idHolderAccountOperationPk != null}" 
							library="img" style="cursor:pointer; border:none;" name="buttons/search.png" id="imgViewMarket"/>
					</p:commandLink>
				</p:column>
				
				<f:facet name="footer">	
					<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
						<f:param value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstAccountOperations.size}"/>
					</h:outputFormat>
				</f:facet>	
			</p:dataTable>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:outputPanel rendered="#{!accountReassignmentMgmtBean.registerAccountReassignmentTO.crossOperation}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalQuantity']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.role eq 2 ?
						accountReassignmentMgmtBean.registerAccountReassignmentTO.saleQuantity : accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseQuantity}"
					disabled="true" styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</p:inputText>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalAmount']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.role eq 2 ?
						accountReassignmentMgmtBean.registerAccountReassignmentTO.saleAmount : accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseAmount}"
						disabled="true" styleClass="content-right" size="30">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:outputPanel>
			<p:outputPanel rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.crossOperation}">
			<table width="100%">
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.role eq 2 ?
							accountReassignmentMgmtBean.registerAccountReassignmentTO.saleQuantity : accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseQuantity}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.saleQuantity}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
				</tr>
				<tr>
					<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseAmount}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.saleAmount}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
				</tr>
			</table>
			</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['msg.assignment.account.glosa']}" styleClass="required-field"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</p:outputPanel>
		</td>
	</tr>
	
	<tr>
		<td width="100%">
			<p:outputPanel id="pnlAssignedAccountsMarketFact">
				<p:outputPanel id="innerPnlAssignedAccountsMarketFact" rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.requestReason eq reasonType.MODIFY_MARKETFACT.code }">
					<p:fieldset id="fldDatosAsignacionMarketFact" legend="#{msgs['lbl.assignment.account.register.panel.marketfact']}">
						<table width="100%">
							<tr>
								<td>									
									<p:dataTable id="dtbResultMarketFact" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementAccountMarketfact}"
										var="sam" paginator="true" rows="10"  paginatorPosition="top" 
										rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementAccountMarketfact}"
										paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
										rowsPerPageTemplate="5,10,15"> 
										
										<p:column>
											<f:facet name="header">
												<h:outputText value="" />
											</f:facet>
											<p:selectBooleanCheckbox value="#{sam.selected}">	
												<p:ajax event="change" update=":frmAccountAssignment:pnlAssignedAccountsMarketFact" global="false" 
													listener="#{accountReassignmentMgmtBean.beforeRemoveAccountMarketFact(sam)}" />
											</p:selectBooleanCheckbox>
										</p:column>										
										
										<p:column sortBy="#{sam.idSettAccountMarketfactPk}" styleClass="content-center" 
											headerText="#{msgs['lbl.assignment.account.register.assignments.id.marketfact']}">
											<h:outputText value="#{sam.idSettAccountMarketfactPk}"/>
										</p:column>
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.holderAccount.accountNumber}" styleClass="content-right" 
											headerText="#{msgs['lbl.assignment.account.register.assignments.detail.accountNumber']}">
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.holderAccount.accountNumber}"/>
										</p:column>	
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.holderAccount.accountDescription}" styleClass="content-center" 
											headerText="#{msgs['lbl.assignment.account.register.assignments.detail.personType']}">
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.holderAccount.accountDescription}"/>
										</p:column>
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.holderAccount.accountRntAndDescription}" styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.holder']}"/>
											</f:facet>
											<h:outputText value="#{accountReassignmentMgmtBean.getCuiHolder(sam.settlementAccountOperation.holderAccountOperation.holderAccount)}" escape="false" />
										</p:column>
													
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.role}" styleClass="content-center">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.role']}"/>
											</f:facet>
											<h:outputText value="#{accountReassignmentMgmtBean.getRoleDescription(sam.settlementAccountOperation.holderAccountOperation.role)}"/>
										</p:column>
														
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.stockQuantity}" styleClass="content-right"
											headerText="#{msgs['lbl.assignment.account.register.assignments.detail.stockQuantity']}">
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.stockQuantity}" >
												<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
											</h:outputText>
										</p:column>
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.settlementAmount}" styleClass="content-right"
											headerText="#{msgs['lbl.assignment.account.register.assignments.detail.amount']}">
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.settlementAmount}" >
												<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
											</h:outputText> 
										</p:column>
									
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" styleClass="content-left">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeStocks']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" />
										</p:column>
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" styleClass="content-left">
											<f:facet name="header">
												<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeFunds']}" escape="false"/>
											</f:facet>
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" />
										</p:column>
										
										<p:column sortBy="#{sam.settlementAccountOperation.holderAccountOperation.holderAccountStateDesc}" styleClass="content-center"
											headerText="#{msgs['lbl.assignment.account.register.assignments.detail.state']}">
											<h:outputText value="#{sam.settlementAccountOperation.holderAccountOperation.holderAccountStateDesc}"/>
										</p:column>	
										
										<p:column sortBy="#{sam.marketDate}" styleClass="content-center" 
												headerText="#{msgs['lbl.chain.detail.marketdate']}">											
											<p:calendar value="#{sam.marketDate}" disabled="#{!sam.selected}"
												pattern="#{gconst['dateFormat']}" readonlyInput="true"
												size="10" showOn="both" navigator="true"
												disabledWeekends="true" >
												<p:ajax event="dateSelect" update=":frmAccountAssignment:pnlAssignedAccountsMarketFact" process="@this"/>
											</p:calendar>
										</p:column>
																				
										<p:column sortBy="#{sam.marketPrice}" styleClass="content-center" rendered="#{!accountReassignmentMgmtBean.fixedIncome}"
												headerText="#{msgs['lbl.chain.detail.marketprice']}">
											
											<p:inputNumber maxlength="20" size="10" 
													thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="#{!sam.selected}"
													value="#{sam.marketPrice}"	decimalPlaces="8"
													minValue="-9999.99999999"  maxValue="99999999.9999">
													<p:ajax event="blur" update=":frmAccountAssignment:pnlAssignedAccountsMarketFact" process="@this"/>	
											</p:inputNumber>																						
											
										</p:column>		
																		
										<p:column sortBy="#{sam.marketRate}" styleClass="content-center" rendered="#{accountReassignmentMgmtBean.fixedIncome}"
												headerText="#{msgs['lbl.chain.detail.marketrate']}">											
											<p:inputNumber maxlength="8" size="10" 
													thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="#{!sam.selected}"
													value="#{sam.marketRate}" decimalPlaces="4"
													symbol="%" symbolPosition="suffix" minValue="-9999.99999999" maxValue="999.9999">	
													<p:ajax event="blur" update=":frmAccountAssignment:pnlAssignedAccountsMarketFact" process="@this"/>	
											</p:inputNumber>																							
										</p:column>																														
																																																	
										<f:facet name="footer">	
											<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
												<f:param value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementAccountMarketfact.size}"/>
											</h:outputFormat>
										</f:facet>	
									</p:dataTable>	
									
									<p:outputPanel rendered="#{!(accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementAccountMarketfact.rowCount >= 1)}" >
										<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
									</p:outputPanel>
																										
								</td>
							</tr>
							<tr>
								<td>
									<p:outputPanel rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementAccountMarketfact.size > 0}">
										<h:outputText value="#{msgs['msg.assignment.account.glosa']}" styleClass="required-field"/>
									</p:outputPanel>									
								</td>
							</tr>							
						</table>
					</p:fieldset>										
				</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	
	<tr>
		<td align="center" colspan="4">
			<p:commandButton id="btnSave" value="#{gmsgs['btn.save']}"
				icon="fa fa-save" process="@this" update="outPnlDialogs, :frmAccountAssignment:pnlAssignedAccountsMarketFact" 
				actionListener="#{accountReassignmentMgmtBean.beforeSaveAssignment}"/>
				
			<p:commandButton id="btnBack" icon="fa fa-undo" action="searchReassignment"
	       		process="@this" immediate="true" value="#{gmsgs['btn.back']}"
	       		onclick="if(isModifiedFormForBack(this))return false;"/>
		</td>
	</tr>
</table>

<p:remoteCommand name="onCloseMarketFact" actionListener="#{accountReassignmentMgmtBean.onMarketFactClose()}" process="@this"/>	

<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
		message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
		<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs :opnlGenericDialogs :frmAccountAssignment:pnlDatosAsignacion :frmAccountAssignment:pnlAssignedAccounts"
			actionListener="#{accountReassignmentMgmtBean.removeAccount()}" rendered="#{action eq 'remove'}" process="@this"/>
		<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
			actionListener="#{accountReassignmentMgmtBean.saveAssignment()}" rendered="#{action eq 'save'}" process="@this"/>
		<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" action="searchReassignment"
			process="@this"/>
	</p:confirmDialog>
	
</p:outputPanel>
</h:form>
<p:dialog rendered="true" visible="false" height="50%" width="65%" closable="false"  
	id="dlgMarketFact" widgetVar="dlgWMarketFact" modal="true" resizable="false" 
	showHeader="false" position="top" showEffect="true">
	<table width="100%">
	<tr>
		<td width="100%">
			<ui:include src="/pages/mcnOperations/marketFactHelper/viewMarketFact.xhtml"/>
		</td>
	</tr>
	</table>
</p:dialog>
</ui:define>
</ui:composition>

</html>