<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<p:importEnum type="com.pradera.model.settlement.type.ReassignmentRequestMotiveType" var="reasonType" />

<script type="text/javascript">
$(window).load(function(){
	setInitialFormState('#frmAccountAssignment');
});
</script>
<h:outputText value="#{gmsgs['inegotiations.reassignmentrequest.register.title']}" styleClass="title-page"/>
<h:form id="frmAccountAssignment">
<table width="100%">
	<tr>
		<td>
		<p:fieldset id="fldReassignmentData" legend="#{msgs['lbl.operation.panel.request']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.reassignment.requestNumber']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{accountReassignmentMgmtBean.accountReassignmentTO.idReassignmentRequest}" 
					disabled="true" size="10">
				</p:inputText>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.operationState']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{accountReassignmentMgmtBean.accountReassignmentTO.reassignmentStateDescription}" 
					disabled="true" size="20" >
				</p:inputText>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldDatosOperacion" legend="#{msgs['lbl.assignment.account.register.panel.operation']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.mechanism']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.id.idNegotiationMechanismPk}">
					<f:selectItem itemValue="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.negotiationMechanism.idNegotiationMechanismPk}"
						itemLabel="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.negotiationMechanism.description}"/>
		     	</p:selectOneMenu>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.modality']}"/>
			</td>
			<td width="30%">
				<p:selectOneMenu disabled="true" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}">
					<f:selectItem itemValue="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.negotiationModality.idNegotiationModalityPk}"
						itemLabel="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
		     	</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.settlementSchema']}"/>
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.settlementSchema}">
					<f:selectItems value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstSettlementSchema}"/>
		     	</p:selectOneMenu>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationState']}" />
			</td>
			<td>
				<p:selectOneMenu disabled="true" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.operationState}">
					<f:selectItems value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstOperationState}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}" />
		     	</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.buyer']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.buyerParticipant.idParticipantPk}" 
					disabled="true" style="width:500px">					
					<f:selectItem itemLabel="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.buyerParticipant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.participant.seller']}"/>
			</td>
			<td colspan="3">
				<p:selectOneMenu value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.sellerParticipant.idParticipantPk}" 
					disabled="true" style="width:500px">					
					<f:selectItem itemLabel="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.sellerParticipant.displayDescriptionCode}"/>
				</p:selectOneMenu>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationDate']}"/>
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.operationDate}" 
					disabled="true" size="10">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.operationNumber']}"/>
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.operationNumber}" 
					disabled="true" styleClass="content-right" size="30"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.ballotNumber']}" />
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.ballotNumber}"
					size="20"  disabled="true"/>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.sequential']}" />
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.sequential}"
					size="5" disabled="true"/>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
				<ark:securityHelper id="securityHelper" disabled="true"
					security="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.securities}"/>
				<p:spacer width="5"/>
				<ark:securities-help securityCode="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.securities.idSecurityCodePk}"/>
				</h:panelGrid>
			</td>
			
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.stockQuantity']}"/>
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.stockQuantity}" disabled="true"
					styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
			</td>
			<td>
				<h:outputText value="#{msgs['lbl.operation.settlementAmount']}"/>
			</td>
			<td>
				<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.cashSettlementAmount}" disabled="true"
					styleClass="content-right" size="30">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.settlementPrice']}"/>
			</td>
			<td>
				<p:inputText id="cashPrice" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.cashSettlementPrice}" 
					styleClass="content-right" disabled="true" size="30">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</p:inputText>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.operation.cash.settlementDate']}"/>
			</td>
			<td>
				<p:calendar value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.mechanismOperation.cashSettlementDate}" 
					disabled="true" pattern="#{gmsgs['calendar.date.format']}" size="10"/>
			</td>
		</tr>	
		</table>
		</p:fieldset>	
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:outputPanel id="pnlAssignedAccounts">
		<p:outputPanel id="innerPnlAssignedAccounts" rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstReassignmentDetail !=null}">
		<p:fieldset id="fldAssignedAccounts" legend="#{msgs['lbl.assignment.account.register.panel.assignmentes']}" 
			rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstReassignmentDetail}">
		<table width="100%">
		<tr> 
			<td>
			<p:dataTable id="dtbResult" value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstReassignmentDetail}"
				var="rr" paginator="true" rows="10"  paginatorPosition="top" 
				rowStyleClass="#{rr.holderAccountState eq 624 ? 'even-row' : 'odd-row'}"
				rowKey="#{rr.holderAccountOperation.holderAccount.idHolderAccountPk}" rendered="#{not empty accountReassignmentMgmtBean.registerAccountReassignmentTO.lstReassignmentDetail}"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				rowsPerPageTemplate="5,10,15" > 
				
				<p:column sortBy="#{rr.holderAccountOperation.holderAccount.accountNumber}" styleClass="content-right" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.accountNumber']}">
					<h:outputText value="#{rr.holderAccountOperation.holderAccount.accountNumber}"/>
				</p:column>	
				
				<p:column sortBy="#{rr.holderAccountOperation.holderAccount.accountDescription}" styleClass="content-center" 
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.personType']}">
					<h:outputText value="#{rr.holderAccountOperation.holderAccount.accountDescription}"/>
				</p:column>
				
				<p:column sortBy="#{rr.holderAccountOperation.holderAccount.accountRntAndDescription}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.holder']}"/>
					</f:facet>
					<h:outputText value="#{accountReassignmentMgmtBean.getCuiHolder(rr.holderAccountOperation.holderAccount)}" escape="false" />
				</p:column>
							
				<p:column sortBy="#{rr.holderAccountOperation.role}" styleClass="content-center">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.role']}"/>
					</f:facet>
					<h:outputText value="#{accountReassignmentMgmtBean.getRoleDescription(rr.holderAccountOperation.role)}"/>
				</p:column>
								
				<p:column sortBy="#{rr.holderAccountOperation.stockQuantity}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.stockQuantity']}">
					<h:outputText value="#{rr.holderAccountOperation.stockQuantity}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</h:outputText>
				</p:column>
				
				<p:column sortBy="#{rr.holderAccountOperation.settlementAmount}" styleClass="content-right"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.amount']}">
					<h:outputText value="#{rr.holderAccountOperation.settlementAmount}" >
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</h:outputText> 
				</p:column>
			
				<p:column sortBy="#{rr.holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeStocks']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{rr.holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{rr.holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.detail.inchargeFunds']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{rr.holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" />
				</p:column>
				
				<p:column sortBy="#{rr.stateDescription}" styleClass="content-center"
					headerText="#{msgs['lbl.assignment.account.register.assignments.detail.state']}">
					<h:outputText value="#{rr.stateDescription}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.assignment.account.register.assignments.detail.marketfact']}" 
					rendered="#{accountReassignmentMgmtBean.blMarketFact}">
					<p:commandLink actionListener="#{accountReassignmentMgmtBean.showMarketFact(rr.holderAccountOperation)}"
						rendered="#{rr.holderAccountOperation.role eq 2}" 
						process="@this" update=":dlgMarketFact :frmAccountAssignment:outPnlDialogs">
						<p:graphicImage library="img" style="cursor:pointer; border:none;" name="buttons/search.png" id="imgViewMarket"/>
					</p:commandLink>
				</p:column>
				
				<p:column sortBy="#{rr.marketDate}" styleClass="content-center" 
					rendered="#{accountReassignmentMgmtBean.showDataMarketFact}"
					headerText="#{msgs['lbl.chain.detail.marketdate']}" >
					<h:outputText value="#{rr.marketDate}">
						<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
					</h:outputText>											
				</p:column>
				
				<p:column sortBy="#{rr.marketPrice}" styleClass="content-center" 
					rendered="#{accountReassignmentMgmtBean.showDataMarketFact and !accountReassignmentMgmtBean.fixedIncome}"
					headerText="#{msgs['lbl.chain.detail.marketprice']}" >
					<h:outputText value="#{rr.marketPrice}" >
						<f:convertNumber pattern="#{gconst['conv.number.pattern.nominal.amount']}" locale="en_US"/>
					</h:outputText> 					
				</p:column>	
				
				<p:column sortBy="#{rr.marketRate}" styleClass="content-center" 
					rendered="#{accountReassignmentMgmtBean.showDataMarketFact and accountReassignmentMgmtBean.fixedIncome}"
					headerText="#{msgs['lbl.chain.detail.marketrate']}" >
					<h:outputText value="#{rr.marketRate}" >
						<f:convertNumber pattern="#{gconst['pattern.market.rate']}" locale="en_US"/>
					</h:outputText> 					
				</p:column>
				
				<f:facet name="footer">	
					<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
						<f:param value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.lstReassignmentDetail.size}"/>
					</h:outputFormat>
				</f:facet>	
			</p:dataTable>
			</td>
		</tr>
		<tr>
			<td>
				<br/>
			</td>
		</tr>
		<tr>
			<td width="100%">
			<p:outputPanel rendered="#{!accountReassignmentMgmtBean.registerAccountReassignmentTO.crossOperation}">
			<table width="100%">
			<tr>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalQuantity']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountReassignmentMgmtBean.accountReassignmentTO.role eq 2 ?
						accountReassignmentMgmtBean.registerAccountReassignmentTO.saleQuantity : accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseQuantity}"
					disabled="true" styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
					</p:inputText>
				</td>
				<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.totalAmount']}"/>
				</td>
				<td width="30%">
					<p:inputText value="#{accountReassignmentMgmtBean.accountReassignmentTO.role eq 2 ?
						accountReassignmentMgmtBean.registerAccountReassignmentTO.saleAmount : accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseAmount}"
						disabled="true" styleClass="content-right" size="30">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
					</p:inputText>
				</td>
			</tr>
			</table>
			</p:outputPanel>
			<p:outputPanel rendered="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.crossOperation}">
			<table width="100%">
				<tr>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseQuantity}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalQuantity']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.saleQuantity}"
						disabled="true" styleClass="content-right">
						<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
						</p:inputText>
					</td>
				</tr>
				<tr>
					<td width="20%">
					<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.buy.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.purchaseAmount}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
					<td width="20%">
						<h:outputText value="#{msgs['lbl.assignment.account.register.assignments.sell.totalAmount']}"/>
					</td>
					<td width="30%">
						<p:inputText value="#{accountReassignmentMgmtBean.registerAccountReassignmentTO.saleAmount}"
							disabled="true" styleClass="content-right" size="30">
							<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
						</p:inputText>
					</td>
				</tr>
			</table>
			</p:outputPanel>
			</td>
		</tr>
		</table>
		</p:fieldset>
		</p:outputPanel>
		</p:outputPanel>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="4">
		
			<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" process="@this"
				 rendered="#{accountReassignmentMgmtBean.viewOperationConfirm}" update="outPnlDialogs"
				 actionListener="#{accountReassignmentMgmtBean.beforeAction}"/>
				 
			<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" process="@this"
				 rendered="#{accountReassignmentMgmtBean.viewOperationReject}" update="outPnlDialogs"
				 actionListener="#{accountReassignmentMgmtBean.beforeAction}"/>
			
			<p:commandButton value="#{gmsgs['btn.authorize']}" icon="ui-confirm" process="@this"
				 rendered="#{accountReassignmentMgmtBean.viewOperationAuthorize}" update="outPnlDialogs"
				 actionListener="#{accountReassignmentMgmtBean.beforeAction}"/>
			
			<p:commandButton id="btnBack" icon="fa fa-undo" action="searchReassignment"
	       		process="@this" value="#{gmsgs['btn.back']}"
	       		onclick="if(isModifiedFormForBack(this))return false;"/>
		</td>
	</tr>
</table>

<p:remoteCommand name="onCloseMarketFact" actionListener="#{accountReassignmentMgmtBean.onMarketFactClose()}" process="@this"/>	

<p:outputPanel id="outPnlDialogs">
	<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
					 message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" > 
		<p:commandButton value="#{gmsgs['btn.yes']}" onclick="PF('cnfWAskDialog').hide()" process="@this" update="outPnlDialogs :opnlGenericDialogs"
						 actionListener="#{accountReassignmentMgmtBean.doAction}"/>
		<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfWAskDialog').hide()" type="button"/>
	</p:confirmDialog>	
	
	<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
		header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
		<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" action="searchReassignment"
			process="@this"/>
	</p:confirmDialog>
	
</p:outputPanel>
</h:form>
<p:dialog rendered="true" visible="false" height="50%" width="65%" closable="false"  
	id="dlgMarketFact" widgetVar="dlgWMarketFact" modal="true" resizable="false" 
	showHeader="false" position="top" showEffect="true">
	<table width="100%">
	<tr>
		<td width="100%">
			<ui:include src="/pages/mcnOperations/marketFactHelper/viewMarketFact.xhtml"/>
		</td>
	</tr>
	</table>
</p:dialog>
</ui:define>
</ui:composition>

</html>