<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:marketFact="http://java.sun.com/jsf/composite/businessComponent"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<ui:composition template="/template/default.xhtml">	
		<ui:define name="body">		
			<h:outputText value="#{gmsgs['isettlement.currencysettlementrequest.detail.title']}"  styleClass="title-page" />
			<h:form id="frmCurrencySettlement">
				<p:fieldset legend="#{msgs['lbl.register.data']}" id="flsMechanismOperationRequest">
					<p:outputPanel id="pnlRegister">
					<table width="100%" id="tblCurrencySettlement">
						<tr>						
							<td>
								<h:outputText value="#{msgs['currency.settlement.requestDate']} (*)" styleClass="required-field"/>
							</td>
							<td>				
								<p:calendar value="#{currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.registerDate}" 
									id="calInitialDate" showOn="button" readonlyInput="true"
									pattern="#{cons['dateFormat']}" disabled="true"
									disabledWeekends="true" size="10">
								</p:calendar>
							</td>									
							<td>
								<h:outputText value="#{msgs['lbl.operation.Role']} (*)" styleClass="required-field"/>
							</td>
							<td>	
								<p:selectOneMenu id="role" value="#{currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.participantRole}"
									label="#{msgs['lbl.operation.Role']}" style="width:170px" disabled="true">
									<f:selectItems 	value="#{currencySettlementRequestMgmtBean.participantRole}" 
										var="negoModa" itemValue="#{negoModa.code}" itemLabel="#{negoModa.value}"/>	
								</p:selectOneMenu>		
							</td>		
						</tr>
						<tr>
							<td>
								<h:outputText value="#{msgs['currency.settlement.participant.applicant']} (*)" styleClass="required-field"/>
							</td>
							<td>		
								<p:selectOneMenu id="participantApplicant" label="#{msgs['currency.settlement.participant.applicant']}"  disabled="true">
									<f:selectItem itemLabel="#{currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.sourceParticipant.displayDescriptionCode}"/>
								</p:selectOneMenu>	
							</td>	
							<td>
								<h:outputText value="#{msgs['currency.settlement.participant.counterpart']} (*)" styleClass="required-field"/>
							</td>
							<td>		
								<p:selectOneMenu id="participantCounterPart" label="#{msgs['currency.settlement.participant.counterpart']}"  disabled="true">
									<f:selectItem itemLabel="#{currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.targetParticipant.displayDescriptionCode}"/>
								</p:selectOneMenu>									
							</td>											
						</tr>
						</table>
					</p:outputPanel>
				</p:fieldset>
				
				<p:outputPanel id="opnlResult">					    										
				<p:outputPanel id="outPanelResult" rendered="#{not empty currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail}">
						<p:dataTable id="dtbCurrencySettlementAux" var="currencyOp" 
							value="#{currencySettlementRequestMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail}"
							 paginator="true" rows="10"
							 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
							 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
							 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
							 rowKey="#{currencyOp.idCurrencySettlement}" 
							 style="width:100% !important">

							<p:column headerText="#{msgs['lbl.operation.modality']}" >														
								<h:outputText value="#{currencyOp.modalityName}" />	
							</p:column>
							<p:column headerText="#{msgs['lbl.operation.ballotSequential.br']}" styleClass="content-center">														
								<h:outputText value="#{currencyOp.ballotNumberSequential}"/>	
							</p:column>									
							<p:column headerText="#{msgs['lbl.operation.security.classCode']}" >														
								<h:outputText value="#{currencyOp.idSecurityCode}" />	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.currency.security']} " styleClass="content-center">														
								<h:outputText value="#{currencyOp.currencyDescription}" />	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.quantity']} " styleClass="content-right">
								<h:outputText value="#{currencyOp.stockQuantity}" >
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
								</h:outputText>												
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.price']} " styleClass="content-right">														
								<h:outputText value="#{currencyOp.initialSettlementPrice}"  >
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
								</h:outputText>	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.amount']} " styleClass="content-right">														
								<h:outputText value="#{currencyOp.initialSettlementAmount}"  >
									<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								</h:outputText>	
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.currency.settlement']} ">													
								<p:selectOneMenu id="currencyColumn"  disabled="true" style="width:150px">
									<f:selectItem itemLabel="#{currencyOp.settlementCurrencyDescription}"/>
								</p:selectOneMenu>				
							</p:column>												
							<p:column headerText="#{msgs['currency.settlement.exchange.rate']} " styleClass="content-right">												
								<p:inputNumber  id="exchangeRateA" value="#{currencyOp.exchangeRate}" 
									style="text-align: right; width:110px !important;"	 disabled="true" 										
									decimalSeparator="." thousandSeparator="," decimalPlaces="8" maxValue="999999999999.99999999">
									<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.price']}"/>														
								</p:inputNumber> 												
							</p:column>	
							<p:column headerText="#{msgs['currency.settlement.new.price']} " styleClass="content-right">	
								<p:inputText maxlength="10" style="width:110px" size="10"  id="newPrice" styleClass="content-right"
										value="#{currencyOp.settlementPrice}" disabled="true">
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>																								
								</p:inputText>																									
							</p:column>
							<p:column headerText="#{msgs['currency.settlement.new.amount']} " styleClass="content-right">	
								<p:inputText maxlength="10" style="width:110px" size="10"  id="newAmount" styleClass="content-right"
										value="#{currencyOp.settlementAmount}" disabled="true">	
									<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>																																
								</p:inputText>																									
							</p:column>	
							<f:facet name="footer">	
								<div style="width:100%; text-align:left">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
					            	<f:param value="#{fn:length(currencySettlementReversionMgmtBean.selectedCurrencySettlementRequest.settlementRequestDetail)}"/>
					            </h:outputFormat>									
								</div>
							</f:facet>																					       				
							<p:ajax event="page" listener="#{currencySettlementRequestMgmtBean.changePageDatatable}"/>
						</p:dataTable>																			    
				</p:outputPanel>										
				</p:outputPanel>
				
				<p:outputPanel>
					<table align="center">
						<tr>
							<td colspan="4" width="100%" align="center">
								<p:commandButton value="#{gmsgs['btn.approve']}" icon="ui-approve" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementRequestMgmtBean.beforeApproveHandler}" rendered="#{currencySettlementRequestMgmtBean.viewOperationApprove}"/>
								<p:commandButton value="#{gmsgs['btn.annulate']}" icon="ui-remove" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementRequestMgmtBean.beforeAnnularHandler}" rendered="#{currencySettlementRequestMgmtBean.viewOperationAnnul}"/>
								<p:commandButton value="#{gmsgs['btn.review']}" icon="ui-review" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementRequestMgmtBean.beforeReviewHandler}" rendered="#{currencySettlementRequestMgmtBean.viewOperationReview}"/>			 
								<p:commandButton value="#{gmsgs['btn.reject']}" icon="ui-cancel" update="pnlConfirmDialog" process="@this"  
											 actionListener="#{currencySettlementRequestMgmtBean.beforeRejectHandler}" rendered="#{currencySettlementRequestMgmtBean.viewOperationReject}"/>
								<p:commandButton value="#{gmsgs['btn.confirm']}" icon="ui-confirm" update="pnlConfirmDialog" process="@this"
											 actionListener="#{currencySettlementRequestMgmtBean.beforeConfirmHandler}" global="false" rendered="#{currencySettlementRequestMgmtBean.viewOperationConfirm}"/>											 
								<p:commandButton value="#{gmsgs['btn.authorize']}" icon="ui-config" update="pnlConfirmDialog" process="@this"
											 actionListener="#{currencySettlementRequestMgmtBean.beforeAuthorizeHandler}" global="false" rendered="#{currencySettlementRequestMgmtBean.viewOperationAuthorize}"/>			 
								<p:commandButton id="cmbBack" action="searchCurrencySettlementRequest" value="#{gmsgs['btn.back']}" 
												 icon="fa fa-undo" immediate="true" ajax="false"/>																					 							 
							</td>
						</tr>
					</table>
					</p:outputPanel>
					
					<p:importEnum type="com.pradera.model.issuancesecuritie.type.InstrumentType" var="instType"/>
					
					<p:outputPanel id="pnlConfirmDialog">
					
						<p:confirmDialog id="cnfFormMgmtRegister" widgetVar="cnfwFormMgmtRegister" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}"> 
							<p:commandButton id="cmbConfirm" value="#{gmsgs['btn.yes']}" process="@this"  
											 actionListener="#{currencySettlementRequestMgmtBean.saveCurrencySettlementRequestHandler}" update="pnlConfirmDialog"/>
							<p:commandButton value="#{gmsgs['btn.no']}" onclick="PF('cnfwFormMgmtRegister').hide()" type="button"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="formMgmtOk" widgetVar="formWMgmtOk" severity="alert" closable="false"
									 header="#{headerMessageView}" message="#{bodyMessageView}">
							<p:commandButton id="cmbConfirmOk" value="#{gmsgs['btn.accept']}" action="searchCurrencySettlementRequest.xhtml" ajax="false" immediate="true"
											 process="@this" update="@form"/>
					</p:confirmDialog>
					
					<p:confirmDialog id="dialogConfirm" header="#{headerMessageView}" severity="alert" widgetVar="dialogwConfirm" 
			  						 message="#{bodyMessageView}" closable="false">
			     		<p:commandButton id="cmbConfirmButton" value="#{gmsgs['btn.yes']}" actionListener="#{currencySettlementRequestMgmtBean.processOperationHandler}"
			      			 			 oncomplete="PF('dialogwConfirm').hide()" update="pnlConfirmDialog" process="@this"/>
			      		<p:commandButton  value="#{gmsgs['btn.no']}" onclick="PF('dialogwConfirm').hide()" type="button" update="@form"/>
					</p:confirmDialog>
					
					<p:dialog id="dialogMotive" resizable="false"  modal="true" 
					  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotive" closable="false">
						<p:outputPanel id="opnlMotive">
							<table>
								<tr>
									<td width="120px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
									</td>
									<td>
									<h:panelGrid columns="2" rendered="true">
										<p:selectOneMenu id="cboMotive" label="#{msgs['lbl.motive']}"  widgetVar="cnfwCboMotiveAnnul"
														 value="#{currencySettlementRequestMgmtBean.motiveControllerAnnul.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{currencySettlementRequestMgmtBean.motiveControllerAnnul.motiveList}" var="mot" 
														   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
											<p:ajax process="@this" update="msgCboMotive,opnlMotive" event="change" listener="#{currencySettlementRequestMgmtBean.changeMotiveAnnulHandler}" global="false"/>
											<f:validator validatorId="selectOneRequiredValidator"/>		
										</p:selectOneMenu>
										<p:message for="cboMotive" display="icon" id="msgCboMotive"/>
									</h:panelGrid>											
									</td>											
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotive" 
													  rendered="#{currencySettlementRequestMgmtBean.motiveControllerAnnul.showMotiveText}"/>
									</td>
									<td>
										<p:inputText size="60" rendered="#{currencySettlementRequestMgmtBean.motiveControllerAnnul.showMotiveText}" maxlength="60"
													 value="#{currencySettlementRequestMgmtBean.motiveControllerAnnul.motiveText}" id="txtOtherMotive" required="true"
													 requiredMessage="#{msgs['lbl.other.motive']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
									</td>
									<td width="50px" align="right">
										<p:message for="txtOtherMotive" display="icon"/>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotive" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{currencySettlementRequestMgmtBean.confirmMotiveAnnulHandler}"
												 update="dialogConfirm opnlMotive" process="dialogConfirm dialogMotive"/>
								
								<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBackAnnul"
										icon="fa fa-undo" type="button"
										onclick="isModifiedFormForBackMotive(cnfwCboMotiveAnnul,'frmCurrencySettlement:cmbProcessBackMotiveAnnul')"  >
										<f:param name="skipValidation" value="true"/>
									</p:commandButton>
							
								<p:commandButton id="cmbProcessBackMotiveAnnul" value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
										process="@this" update="dialogMotive dialogConfirm" onclick="PF('dialogWMotive').hide()" />
								
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
						
					<p:dialog id="dialogMotiveReject" resizable="false"  modal="true" 
					  header="#{headerMessageView}" severity="alert" widgetVar="dialogWMotiveReject" closable="false">
						<p:outputPanel id="opnlMotiveReject">
							<table>
								<tr>
									<td width="120px">
										<h:outputText value="#{msgs['lbl.motive']} (*)" /> 
									</td>
									<td>
									<h:panelGrid columns="2" rendered="true">
										<p:selectOneMenu id="cboMotiveReject" label="#{msgs['lbl.motive']}"  widgetVar="cnfwCboMotive"
														 value="#{currencySettlementRequestMgmtBean.motiveControllerReject.idMotivePK}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{currencySettlementRequestMgmtBean.motiveControllerReject.motiveList}" var="mot" 
														   itemValue="#{mot.parameterTablePk}" itemLabel="#{mot.description}"/>
											<p:ajax process="@this" update="msgCboMotiveReject,opnlMotiveReject" event="change" listener="#{currencySettlementRequestMgmtBean.changeMotiveRejectHandler}" global="false"/>
											<f:validator validatorId="selectOneRequiredValidator"/>		
										</p:selectOneMenu>
										<p:message for="cboMotiveReject" display="icon" id="msgCboMotiveReject"/>
									</h:panelGrid>											
									</td>											
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['lbl.other.motive']} (*)" id="idTxtMotiveReject" 
													  rendered="#{currencySettlementRequestMgmtBean.motiveControllerReject.showMotiveText}"/>
									</td>
									<td>
										<p:inputText size="60" rendered="#{currencySettlementRequestMgmtBean.motiveControllerReject.showMotiveText}" maxlength="60"
													 value="#{currencySettlementRequestMgmtBean.motiveControllerReject.motiveText}" id="txtOtherMotiveReject" required="true"
													 requiredMessage="#{msgs['lbl.other.motive']}">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}" />
										</p:inputText>
									</td>
									<td width="50px" align="right">
										<p:message for="txtOtherMotiveReject" display="icon"/>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						<h:panelGrid columns="1" style="text-align:center" width="100%">
							<p:outputPanel>
								<p:commandButton id="enterMotiveReject" value="#{gmsgs['btn.save']}" icon="fa fa-save" actionListener="#{currencySettlementRequestMgmtBean.confirmMotiveRejectHandler}"
												 update="dialogConfirm opnlMotiveReject" process="dialogConfirm dialogMotiveReject"/>
								
								<p:commandButton value="#{gmsgs['btn.back']}" id="idCmdBtnBack"
										icon="fa fa-undo" type="button"
										onclick="isModifiedFormForBackMotive(cnfwCboMotive,'frmCurrencySettlement:cmbProcessBackMotive')"  >
										<f:param name="skipValidation" value="true"/>
									</p:commandButton>
							
								<p:commandButton id="cmbProcessBackMotive" value="#{gmsgs['btn.back']}" icon="fa fa-undo" style="display:none"
										process="@this" update="dialogMotiveReject dialogConfirm" onclick="PF('dialogWMotiveReject').hide()" />
								
							</p:outputPanel>
						</h:panelGrid>
					</p:dialog>
					
					<p:confirmDialog id="cnfBackMotive"
						message="#{gmsgs['message.back']}" severity="alert"
						header="#{gmsgs['lbl.header.alert']}" widgetVar="cnfwBackMotive"
						closable="false">
						<p:commandButton id="cmbYes" value="#{gmsgs['btn.yes']}"
							process="@this" update="dialogMotiveReject dialogMotive"
							oncomplete="PF('cnfwBackMotive').hide();PF('dialogWMotiveReject').hide(); PF('dialogWMotive').hide();" />
						<p:commandButton id="cmbNo" value="#{gmsgs['btn.no']}"
							onclick="PF('cnfwBackMotive').hide()" type="button" />
					</p:confirmDialog>
						
					<p:dialog id="dialogMarketfactBalance" widgetVar="dialogWMarketfactBalance" modal="true" resizable="false" showHeader="false" position="top" 
			 				  showEffect="true" maximizable="false" width="800" closeOnEscape="true">
			 			<p:outputPanel autoUpdate="true">
			 			<p:fieldset legend="#{msgs['currency.settlement.made.market']}" id="idMarketfactBalance">
				  		<table width="100%" cellpadding="0" border="0" cellspacing="0" class="cleanTable">
				  			<tr>
				  				<td>
				  					<table width="100%" class="cleanTable">
				  						<tr>
				  							<td width="30%" align="left">
				  								<h:outputText value="#{msgs['currency.settlement.register.code.security']}:" />
				  							</td>
				  							<td width="70%">
				  								<p:inputText style="width:70%" id="idCodeSecurity" disabled="true" 
				  										value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.idSecurityCodePk}" /> 
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['currency.settlement.register.description.code.security']}:" />
				  							</td>
				  							<td>
				  								<p:inputText  id="idDescriptionSecurity" value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.securityDescription}" 
				  											  disabled="true" style="width:70%"/>
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left"><h:outputText value="#{msgs['currency.settlement.register.type.instrument']}:" /></td>
				  							<td>
				  								<p:inputText id="idInstrumentTypeSecurity" style="width:70%" 
				  											 value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.instrumentDescription}" disabled="true" /> 
				  							</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['currency.settlement.register.date']}:" />
				  							</td>
				  							<td>
				  								<p:inputText id="idViewLastDate#{cc.attrs.id}" value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.marketDate}" 
				  											 disabled="true" style="width:70%">
				  									<f:convertDateTime pattern="dd/MM/yyyy"/>
				  								</p:inputText>
											</td>
				  						</tr>				  										  						
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['currency.settlement.register.price']}:" 
				  											  rendered="#{instType.VARIABLE_INCOME.code eq currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.instrumentType}"/>
				  							</td>
				  							<td>
				  								<p:inputNumber id="idViewLastPrice"  
														thousandSeparator="," decimalSeparator="." style="width:70% ; text-align:right" disabled="true" 
														value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.marketPrice}" 
														rendered="#{instType.VARIABLE_INCOME.code eq currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.instrumentType}"/>
											</td>
				  						</tr>
				  						<tr>
				  							<td align="left">
				  								<h:outputText value="#{msgs['currency.settlement.register.rate']}:" rendered="#{instType.FIXED_INCOME.code eq currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.instrumentType}"/>
				  							</td>
				  							<td>
				  								<p:inputNumber id="idViewLastRate"  
														thousandSeparator="," decimalSeparator="." style="width:70%;text-align:right" disabled="true"  
														value="#{currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.marketRate}" 
														rendered="#{instType.FIXED_INCOME.code eq currencySettlementRequestMgmtBean.searchMechanismOperationMarketFactTO.instrumentType}"/>
											</td>
				  						</tr>
				  					</table>
				  				</td>
				  			</tr>
				  			
				  			<tr>
				  				<td align="center">
				  					
				  				<p:commandButton  value="#{gmsgs['btn.back']}" onclick="PF('dialogWMarketfactBalance').hide()" icon="fa fa-undo" type="button" update="@form"/>
				  						  		
				  				</td>
				  			</tr>
				  		</table>
				  	</p:fieldset>
				  	</p:outputPanel>
			 		</p:dialog>
			 		
					</p:outputPanel>			
					
			</h:form>
		</ui:define>
	</ui:composition>
</html>	 