<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:form id="frmBank">
<table id="tblGeneral" width="100%">	
	<tr>
		<td>
		<table width="100%">
			<tr>
				<td align="left">
					<h:outputText value="#{gmsgs['isettlement.bank.manage.title']}" styleClass="title-page" />
				</td>
				<td align="right">					
					<p:commandButton process="@this" immediate="true" value="#{gmsgs['btn.register']}" action="registerBank" 
							 actionListener="#{manageBanksBean.registryBankHandler}" icon="fa fa-edit" 
							 rendered="#{manageBanksBean.userInfo.userAcctions.register}"/>
				</td>																				
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset id="fldBank" legend="#{gmsgs['lbl.criteria.search']}">
		
		<table width="100%">		
		<tr>
			<ui:remove>
        	<td><h:outputText value="#{msgs['lbl.banks.nemonic']}"/></td>
			<td>			
				<p:inputText id="txtMnemonic" label="#{msgs['lbl.banks.nemonic']}"
					 value="#{manageBanksBean.searchBanksTO.mnemonic}" maxlength="3" size="3">											 										
					<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
					<p:ajax event="click" process="@this" update="@this pnlButtons opnlResult" 
					listener="#{manageBanksBean.cleanDataModel}"/>											
				</p:inputText>																
			</td>
			</ui:remove>			
			<td><h:outputText value="#{msgs['lbl.banks.bic']}"/></td>
			<td>			
				<p:inputText id="txtBicCode" style="width:150px" label="#{msgs['lbl.banks.bic']}"
					 value="#{manageBanksBean.searchBanksTO.bicCode}" maxlength="11">											 										
					<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>
					<p:ajax event="click" process="@this" update="@this pnlButtons opnlResult" 
					listener="#{manageBanksBean.cleanDataModel}"/>		
				</p:inputText>										
			</td>	
			<td><h:outputText value="#{msgs['lbl.banks.state']}"/></td>
			<td>		
			<h:panelGrid columns="2">
				<p:selectOneMenu id="state" value="#{manageBanksBean.searchBanksTO.state}"
					label="#{msgs['lbl.banks.state']}" style="width:200px">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems 	value="#{manageBanksBean.searchBanksTO.lstState}" 
						var="parameter" itemValue="#{parameter.parameterTablePk}" itemLabel="#{parameter.parameterName}"/>
					<p:ajax event="change" process="@this" update=":frmBank:state :frmBank:msgState pnlButtons opnlResult" 
							listener="#{manageBanksBean.cleanDataModel}"/>		
				</p:selectOneMenu>		
				<p:message for="state" display="icon" id="msgState"/>		
			</h:panelGrid>		 				
			</td>						
        </tr>
        <tr>
        	<td><h:outputText value="#{msgs['lbl.banks.type.document']}"/></td> 
			<td>				
				<p:selectOneMenu  id="cboDocumentType"  label="#{msgs['lbl.banks.type.document']}" 
						value="#{manageBanksBean.searchBanksTO.documentType}" >
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{manageBanksBean.searchBanksTO.lstDocumentType}" var="item" 
						itemLabel="#{item.parameterName}" itemValue="#{item.parameterTablePk}"/>
					<p:ajax event="change" listener="#{manageBanksBean.changeSelectedDocumentTypeSearch}"									 
					update=":frmBank:txtDocumentNumber pnlButtons opnlResult"/>																				
				</p:selectOneMenu>																		
			</td>									
			<td><h:outputText value="#{msgs['lbl.banks.number.document']}"/></td>
			<td colspan="3">				
				<p:inputText  id="txtDocumentNumber" style="width:150px" label="#{msgs['lbl.banks.number.document']}"
				 value="#{manageBanksBean.searchBanksTO.documentNumber}" disabled="#{manageBanksBean.searchBanksTO.documentType==null}"
				 maxlength="#{manageBanksBean.documentTORegister.maxLenghtDocumentNumber}">
					<p:ajax event="click" process="@this" update="@this pnlButtons opnlResult" listener="#{manageBanksBean.cleanDataModel}"/>												
					<p:keyFilter regEx="#{manageBanksBean.documentTORegister.numericTypeDocument ? cons['exp.regular.numeric.integer'] : cons['exp.regular.alphanumeric.not.space']}"/>													
				</p:inputText>															
			</td>
        </tr>   
        <tr>
        	<td><h:outputText value="#{msgs['lbl.banks.description']}"/></td>
			<td  colspan="5">				
					<p:inputText  id="txtTradeName" style="width:620px" label="#{msgs['lbl.banks.description']}"
						 			value="#{manageBanksBean.searchBanksTO.description}"  maxlength="150"	>									 			
						<p:ajax event="click" process="@this" update="@this"/>
						<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.trade.name']}"/>															
					</p:inputText> 												
			</td>			
        </tr>    
		<tr>			
			<td><h:outputText value="#{msgs['lbl.banks.initialdate']}"/></td>
			<td>				
				<h:panelGrid columns="2">				
					<p:calendar value="#{manageBanksBean.searchBanksTO.initialDate}" id="calInitialDate" showOn="both" readonlyInput="true"
								pattern="#{cons['dateFormat']}" maxdate="#{manageBanksBean.searchBanksTO.finalDate}" navigator="true"
								disabledWeekends="true" size="10" maxlength="10">
						<p:ajax event="dateSelect" update="calInitialDate,calEndDate" process="@this"/>
						<p:ajax event="change" update="calInitialDate,calEndDate" process="@this"/>
					</p:calendar>
					<p:message id="msgCalInitialDate" for="calInitialDate" display="icon"/>
				</h:panelGrid>									
			</td>
			<td><h:outputText value="#{msgs['lbl.banks.finaldate']}"/></td>
			<td colspan="3"> 
				<h:panelGrid columns="2">
					<p:calendar value="#{manageBanksBean.searchBanksTO.finalDate}" id="calEndDate" showOn="both" readonlyInput="true"   
								mindate="#{manageBanksBean.searchBanksTO.initialDate}" maxdate="#{manageBanksBean.searchBanksTO.currentDate}"  
								pattern="#{cons['dateFormat']}" navigator="true"
								disabledWeekends="true" size="10" maxlength="10">
						<p:ajax event="change" update="calInitialDate,calEndDate" process="@this" />
						<p:ajax event="dateSelect" update="calInitialDate,calEndDate" process="@this" />
					</p:calendar>
					
					<p:message id="msgCalEndDate" for="calEndDate" display="icon"/>
				</h:panelGrid>													
			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" icon="fa fa-search"
								 update="opnlResult pnlButtons fldBank"  
								 actionListener="#{manageBanksBean.searchBankHandler}" 
								 rendered="#{manageBanksBean.userInfo.userAcctions.search}"/>
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" icon="fa fa-trash"  process="@this" 				 				
				 				 actionListener="#{manageBanksBean.cleanBankSearchHandler}"
								 update="@form"
								 rendered="#{manageBanksBean.userInfo.userAcctions.search}"/>									 						
			</td>
		</tr>
		</table>

		</p:fieldset>		
		</td>
	</tr>	
	<tr>
			<td width="100%" colspan="6">
				<p:outputPanel id="pnlButtons">						
					<p:outputPanel id="pnlButton" rendered="#{(manageBanksBean.searchBankTODataModel.rowCount >= 1)}">	
						<comp:privileges actions="#{userInfo.userAcctions}" renders="#{userInfo.privilegeComponent}"
									 actionModify="#{manageBanksBean.beforeModifyAction}" 
									 actionBlock="#{manageBanksBean.beforeBlockAction}"
									 actionUnblock="#{manageBanksBean.beforeUnblockAction}"> 									 
						</comp:privileges>							
					</p:outputPanel>						
				</p:outputPanel>
			</td>
		</tr>
		<tr>
			<td width="100%" colspan="6">
			<p:outputPanel id="opnlResult">	
			<p:outputPanel id="outPanelResult" rendered="#{manageBanksBean.searchBankTODataModel != null}">
				<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{manageBanksBean.searchBankTODataModel.rowCount>=1}">
					<p:dataTable id="dtbLoanableSecurities" var="placReq" value="#{manageBanksBean.searchBankTODataModel}"
								 rendered="#{(manageBanksBean.searchBankTODataModel.rowCount >= 1)}"
								 selection="#{manageBanksBean.bankSession}"
								 paginator="true" rows="10"
								 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
								 rowsPerPageTemplate="5,10,15" paginatorPosition="top" currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
								 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								 rowKey="#{placReq.idBankPk}" 
								 style="width:100% !important">
								 
						<p:column selectionMode="single" style="width:18px" />
						<p:column sortBy="#{placReq.idBankPk}" headerText="#{msgs['lbl.banks.code']}" styleClass="content-center">
							<p:commandLink value="#{placReq.idBankPk}" style="color:blue" action="viewBank"
										   actionListener="#{manageBanksBean.selectBankHandler(placReq)}"/>
						</p:column>	
						<p:column headerText="#{msgs['lbl.banks.document']}" >
							<h:outputText value="#{placReq.documentTypeDescription} - #{placReq.documentNumber}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.description.search']}" >
							<h:outputText value="#{placReq.description}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.nemonic']}" >
							<h:outputText value="#{placReq.mnemonic}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.bic']}" >
							<h:outputText value="#{placReq.bicCode}"/>
						</p:column>
						<p:column headerText="#{msgs['lbl.banks.state']}" styleClass="content-center">
							<h:outputText value="#{placReq.stateDescription}"/>
						</p:column>
				        <f:facet name="footer">	
							<div style="width:100%; text-align:left">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
				            	<f:param value="#{manageBanksBean.searchBankTODataModel.rowCount}"/>
				            </h:outputFormat>									
							</div>
						</f:facet>						
						<p:ajax event="page" listener="#{manageBanksBean.changePageDatatable}"/>
					</p:dataTable>
					
				</p:fieldset>
				
				<p:panel rendered="#{!(manageBanksBean.searchBankTODataModel.rowCount >= 1)}">
						<h:outputLabel value="#{gmsgs['lbl.search.no.result']}" 								
						style="font-weight:bold;"/>	
			    </p:panel>		
			    
			</p:outputPanel>
			</p:outputPanel>
			</td>
		</tr>								
							
</table>

</h:form>
	<p:outputPanel id="opnlDialogs">
	</p:outputPanel>
</ui:define>
</ui:composition>
</html>