<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
		<script>
			function redirect(url){
				document.location = "#{facesContext.externalContext.requestContextPath}"+url;
			}		
		</script> 
		<h:outputText value="#{msgs['international.part.detail']}" styleClass="title-page" />
		<h:form id="frmInternationalOperations">
			<table width="100%">
				<tr>
					<td><p:fieldset id="fldsFiltros" legend="#{msgs['international.part.information']}">
							<table width="100%" > 
								<tr>
									<td width="11">
										<h:outputText value="#{msgs['international.depository']}" styleClass="required-field" />
									</td>
									<td width="30">
										<p:inputText  value="#{internationalOperationParticipantBean.viewDetail.internationalDepositorySearch.description}" disabled="true" />
									</td>
									<td><h:outputText value="#{msgs['international.accNumber']}" styleClass="required-field"/></td>
									<td>
										<p:inputText id="idAccount"   style="width:200px" value="#{internationalOperationParticipantBean.viewDetail.internationalParticipanSearch.accountNumber}" disabled="true" />
									</td>
								</tr>
								<tr>									
									<td width="98"><h:outputText value="#{msgs['lbl.inetr.part.name']}" styleClass="required-field"/></td> 
									<td> 
										<p:inputText id="iddesc" style="width:200px" value="#{internationalOperationParticipantBean.viewDetail.internationalParticipanSearch.description}" disabled="true"/> 
										
									</td>
									<td width="69">
										<h:outputText value="#{msgs['lbl.intern.part.country']}" styleClass="required-field" />
									</td>
									<td width="11">
									  <p:inputText id="idcountry"   style="width:200px" value="#{internationalOperationParticipantBean.viewDetail.internationalParticipanSearch.countryDesc}" disabled="true" />										
									</td>
								</tr>
								<tr>
									<td align="center" colspan="4">										
										<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" action="searchInternationalParticipant"
										ajax="false" process="@this" immediate="true"/> 
									</td>
								</tr>
							</table>
						</p:fieldset></td>
				</tr>
			</table>			
		</h:form>	
		
	</ui:define>
</ui:composition>
</html>