<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel">
<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<script>
		$(document).bind('drop dragover', function (e) {
		     e.preventDefault();
		});
		function redirect(url){
			document.location = "#{facesContext.externalContext.requestContextPath}"+url;
		}
	</script>
		<h:outputText value="#{msgs['international.part.title']}" styleClass="title-page" />
		<h:form id="frmConsultaMovTitulares">
			<div class="buttons-top-right">
				<p:commandButton value="#{gmsgs['btn.register']}" icon="fa fa-edit" process="@this"  action="#{internationalOperationParticipantBean.openRegisterPage}"
				 rendered="#{internationalOperationMgmtBean.userInfo.userAcctions.register}"/>
			</div>
			<table width="100%" border="0">
				<tr>
					<td>
						<p:fieldset legend="#{msgs['international.searchCriteria']}">
							<table width="100%">
								<tr>
									<td width="19%">
										<h:outputText value="#{msgs['international.depository']}(*)" styleClass="required-field" />
									</td>
									<td width="30%">
									   <h:panelGrid columns="2">
										<p:selectOneMenu id="idInterParticipant" 
										value="#{internationalOperationParticipantBean.searchDepositSelected}"  
										style="width:130px"  label="#{msgs['international.depository']}">
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" /> 
											<f:selectItems value="#{internationalOperationParticipantBean.activeDepostLst}"  
											var="depos" itemLabel="#{depos.description}" itemValue="#{depos.idInternationalDepositoryPk}"/>
											<f:validator validatorId="selectOneRequiredValidator" />	
											<p:ajax event="change" process="@this" listener="#{internationalOperationParticipantBean.changeDepositSelected}"
										  	update="@form" immediate="true" global="false"/>
										</p:selectOneMenu>
										<p:message id="idInterParticipantMsg" for="idInterParticipant" display="icon"/>
									   </h:panelGrid>	
									</td>
									<td width="12%">
										<h:outputText value="#{msgs['lbl.intern.part.country']}(*)" styleClass="required-field"  />
									</td>
									<td width="48%">
									   <h:panelGrid columns="2">
										<p:selectOneMenu id="idInterParticipantCountry" 
										value="#{internationalOperationParticipantBean.searchcountrySelected}"   
										style="width:150px" label="#{msgs['lbl.intern.part.country']}" >
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" itemValue="" /> 
											<f:selectItems value="#{internationalOperationParticipantBean.lstGeographicalLoc}"  
											var="country" itemLabel="#{country.name}" itemValue="#{country.idGeographicLocationPk}"/>
											<f:validator validatorId="selectOneRequiredValidator" />	
											<p:ajax event="change" process="@this" 
										  	update="@this idInterParticipantCountryMsg" immediate="true" global="false"/>
										</p:selectOneMenu>
										<p:message id="idInterParticipantCountryMsg" for="idInterParticipantCountry" display="icon"/>
									 </h:panelGrid>	
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['international.accNumber']}"/></td>
									<td>
									 <h:panelGrid columns="2">
										<p:inputNumber id="idaccnum" style="width:80px" 
										value="#{internationalOperationParticipantBean.searchAccountNumberSelected}" 
										decimalPlaces="0" maxlength="10" thousandSeparator="" autocomplete="off"
										label="#{msgs['international.accNumber']}">
										<p:ajax event="blur" process="@this" 
										  	update="@this idaccnumMsg" immediate="true" global="false"/>																		
										</p:inputNumber>											
										<p:message id="idaccnumMsg" for="idaccnum" display="icon"/>
									 </h:panelGrid>	
									</td>								
									<td width="150">
										<h:outputText value="#{msgs['lbl.inetr.part.name']}"/>
									</td> 
									<td> 
									 <h:panelGrid columns="2">
										<p:inputText id="idpartname" style="width:200px" 
										value="#{internationalOperationParticipantBean.searchDescrpitionSelected}"
										autocomplete="off" label="#{msgs['lbl.inetr.part.name']}" >
											<p:keyFilter regEx="#{cons['exp.regular.alphabetic']}"/>
											<p:ajax event="blur" process="@this" 
										  	update="@this idpartnameMsg" immediate="true" global="false"/>	
										</p:inputText> 
										<p:message id="idpartnameMsg" for="idpartname" display="icon"/>
									 </h:panelGrid>	
									</td>
									
								</tr>
								<tr>
									<td colspan="4" align="center">
										
										<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}"  
										rendered="#{userInfo.userAcctions.search}"
										action="#{internationalOperationParticipantBean.searchInterParticipants}"  
										icon="fa fa-search" update="@form panelRegistros :opnlGenericDialogs"/>
										
										<p:commandButton value="#{gmsgs['btn.clean']}" 
										update="@form" process="@this" icon="fa fa-trash" 
										action="#{internationalOperationParticipantBean.clearInputData}"/>
									</td>
								</tr>
							</table>
						</p:fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel>
							<arkPriv:privileges
								id="praderaPrivileges"
								rendered="#{internationalOperationParticipantBean.lstSearchParticipantModel ne null and internationalOperationParticipantBean.lstSearchParticipantModel.size > 0}"
				 				actionModify="#{internationalOperationParticipantBean.modifyInterParticipants}"
				 				actions="#{internationalOperationParticipantBean.userInfo.userAcctions}"
				 				renders="#{internationalOperationParticipantBean.userInfo.privilegeComponent}"/>
						</p:outputPanel>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputPanel id='panelRegistros'>
						
							<p:fieldset id="fsListado" legend="#{gmsgs['lbl.criteria.search']}"
								rendered="#{internationalOperationParticipantBean.lstSearchParticipantModel != null}">								
									<p:dataTable id="dtbResult" var="participant"
									value="#{internationalOperationParticipantBean.lstSearchParticipantModel}"
									paginator="true" rows="10" paginatorPosition="top"
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}" 
								  	paginatorTemplate="#{gmsgs['dtb.paginator.template']}"  
								  	rowsPerPageTemplate="5,10,15" rowIndexVar="rIndx"
									rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									selection="#{internationalOperationParticipantBean.internationalPartSelected}"									
									rendered="#{internationalOperationParticipantBean.lstSearchParticipantModel.rowCount > 0}"
									rowKey="#{participant.internationalParticipanSearch.idInterParticipantPk}" >
																		
									<p:column styleClass="content-center" selectionMode="single" width="10"/>
									
									<p:column styleClass="content-center" sortBy="#{participant.internationalParticipanSearch.accountNumber}" >
										<f:facet name="header" >
											<h:outputText  value="#{msgs['international.accNumber']}" />
										</f:facet>
										<p:commandLink value="#{participant.internationalParticipanSearch.accountNumber}" style="color:blue;" styleClass="float-right"
													   action ="#{internationalOperationParticipantBean.showDetails(participant)}">																						
										</p:commandLink>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{articipant.internationalDepositorySearch.description}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['international.depository']}"/>
										</f:facet>
										<h:outputText value="#{participant.internationalDepositorySearch.description}" styleClass="float-left"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{participant.internationalParticipanSearch.description}" >
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['col.inter.part.desc']}" />
										</f:facet>
										<h:outputText value="#{participant.internationalParticipanSearch.description}" styleClass="float-left"/>
									</p:column>
									
									<p:column styleClass="content-center" sortBy="#{participant.internationalParticipanSearch.countryDesc}">
										<f:facet  name="header" >
											<h:outputText  value="#{msgs['lbl.intern.part.country']}"/>
										</f:facet>
										<h:outputText value="#{participant.internationalParticipanSearch.countryDesc}" styleClass="float-left"/>
									</p:column>
									
									<f:facet name="footer">
										<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
											<f:param
												value="#{internationalOperationParticipantBean.lstSearchParticipantModel.rowCount}" />
										</h:outputFormat>
									</f:facet>
								</p:dataTable>
								<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"  
						                rendered="#{!(internationalOperationParticipantBean.lstSearchParticipantModel.size > 0)}" 
						                style="font-weight:bold;"/>
							</p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</h:form>	
		
		<p:outputPanel id="opnlDialogs"></p:outputPanel>
			
		<p:outputPanel id="idpanelnotselInfo">		
			<p:confirmDialog id="idnotsel" widgetVar="idDialognotSelW" message="#{bodyMessageView}"  
			header="#{headerMessageView}" closable="false" rendered="false" visible="true">			
					<p:commandButton value="#{gmsgs['btn.accept']}"   oncomplete="PF('idDialognotSelW').hide();"/>		
			</p:confirmDialog>
		</p:outputPanel>
			
	</ui:define>
</ui:composition>
</html>