<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css"> 
		.ui-datatable thead th {
		    text-align: center !important;
		}
	</style>
	<h:form id="frmSearchSecurity">

	<table id="tblGeneral" width="100%"> 
		<tr>
			<td>
				<h:outputText value="#{msgs['security.expiration.title']}"  styleClass="title-page"/>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:fieldset id="fldSecurity"
						legend="#{gmsgs['lbl.criteria.search']}">
				<p:outputPanel styleClass="clsFilterSearch">
				<table> 
					<tr> 
						<td> 
							<h:outputText value="#{msgs['issuer.lbl.issuer']}" />
						</td>
						<td colspan="5"> 
							<p:outputPanel id="opnlIssuerHelper">
								<ark:issuerHelper issuer="#{securityExpirationOverdueMgmt.issuerHelperSearch}"									
											disabled="#{userInfo.userAccountSession.issuerInstitucion or userInfo.userAccountSession.issuerDpfInstitucion}"/>
							</p:outputPanel>			
										
							<p:remoteCommand name="rcmdAfterIssuerHandler"
											  actionListener="#{securityExpirationOverdueMgmt.changeFilterField}"
											  update="@(.clsSearchUpd)"
											  partialSubmit="true"
											  process="@this,opnlIssuerHelper"
											  />				
						</td>
					</tr>
					
					<tr>
						<td> 
							<h:outputText value="#{msgs['security.lbl.security.class']}" />
						</td>
						<td colspan="3"> 
							<p:selectOneMenu id="cboSecurityClass"
											 value="#{securityExpirationOverdueMgmt.securityTOsearch.securityClass}"
											 styleClass="combo-widh-more-large">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityExpirationOverdueMgmt.lstCboFilterSecuritieClass}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityExpirationOverdueMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>		
							</p:selectOneMenu>
						</td>
						
						<td width="130"> 
							<h:outputText value="#{msgs['security.lbl.currency']}"/>
						</td>
						<td colspan="3">
							<p:selectOneMenu id="cboCurrency"
											 value="#{securityExpirationOverdueMgmt.securityTOsearch.securityCurrency}"
											 styleClass="combo-widh-medium" style="width:200px"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityExpirationOverdueMgmt.lstCboFilterCurrency}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityExpirationOverdueMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>									
							</p:selectOneMenu>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['opt.valueholdbalance.participant']} " />
						</td>
						<td>
							<p:selectOneMenu value="#{securityExpirationOverdueMgmt.securityTOsearch.idParticipant}"
							>
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityExpirationOverdueMgmt.listParticipant}" var="participant" 
											   itemLabel="#{participant.displayDescriptionCode}"
											   itemValue="#{participant.idParticipantPk}"/>
								<p:ajax process="@this" event="change" global="false" 
									listener="#{securityExpirationOverdueMgmt.changeParticipant}"
									update=":frmSearchSecurity:pnlAccountA"
								></p:ajax> 
							</p:selectOneMenu>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['issuer.lbl.CUI']} "  />
						</td>
						<td colspan="3">
							<h:panelGrid columns="3" id="pnlAccountA"  >					
								<ark:holderHelper id="idCuiSellerHolder" 
										holder="#{securityExpirationOverdueMgmt.holder}" 
										remoteListener="rmtHolderAccount()" 
										disabled="#{securityExpirationOverdueMgmt.securityTOsearch.idParticipant == null}"
										label="#{msgs['otc.operation.holder.cui.seller']}" 
										blParticipant="true"
										participant="#{securityExpirationOverdueMgmt.securityTOsearch.idParticipant}">
								</ark:holderHelper>																
								<p:message id="accountSale" display="icon" for="idCuiSellerHolder"/>
							   	<p:remoteCommand id="rmtHolderAccount" name="rmtHolderAccount" 
							   					actionListener="#{securityExpirationOverdueMgmt.validateSellerHolder}" 
												immediate="true" process="@this" update="@form" partialSubmit="true" />						
							</h:panelGrid>
						</td>
					</tr>
					
					<tr>
						<td>
						<h:panelGroup id="lblSourceAccounts">
						<h:outputText value="#{msgs['adm.holderaccount.account']} (*)" styleClass="required-field"
							rendered="#{not empty securityExpirationOverdueMgmt.holderAccounts}" 
							 />
					</h:panelGroup>					
				</td>
				<td valign="top" colspan="3">
					<p:outputPanel id="opnlSellerAccount" >
						<p:dataTable id="tblResultHelperAccountSeller"
								style="width:880px" rendered="#{not empty securityExpirationOverdueMgmt.holderAccounts}"
								value="#{securityExpirationOverdueMgmt.holderAccounts}" var="account"
								rowKey="#{account.accountNumber}"  rowIndexVar="rIndx"
								selection="#{securityExpirationOverdueMgmt.accountSend}"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}">
								
								<p:column selectionMode="single" style="width:18px"/>
								<p:ajax event="rowSelectRadio" listener="#{securityExpirationOverdueMgmt.validateSellerHolderAccount()}" 
									update=":frmSearchSecurity:opnlSellerAccount " />
								<p:column headerText="#{msgs['adm.holderaccount.account']}" styleClass="content-center" style="width:70px;">
									<h:outputText value="#{account.accountNumber}" />
								</p:column>
								<p:column headerText="#{msgs['label.description.holder']}" styleClass="content-left" >
									<h:outputText value="#{account.holderAccountDetailDescription}" escape="false" />
								</p:column>
								<p:column headerText="#{msgs['issuer.lbl.docnumber']}" styleClass="content-left" >
									<h:outputText value="#{account.accountDocTypeAndNumber}" escape="false" />
								</p:column>
						</p:dataTable>
					</p:outputPanel>
				</td>
					</tr>
					
					<tr> 
						<td> 
							<h:outputText value="#{gmsgs['security.lbl.code']}"/>
						</td>
						<td> 
							<p:inputText id="txtSecurityCode"
										 value="#{securityExpirationOverdueMgmt.securityTOsearch.idSecurityCodePk}"
										 label="#{msgs['security.lbl.code']}"
										 maxlength="#{cons['security.code.normal.length']}"
										 styleClass="securityCode-input-text-width">
								<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.hyphen']}"/>					 
							</p:inputText>
						</td>
						

					</tr>
					<tr> 
						<td  width="130"> 
							<h:outputText value="#{msgs['security.lbl.state']}" />
						</td>
						<td> 
							<p:selectOneMenu id="cboState" disabled="true"
											 value="#{securityExpirationOverdueMgmt.securityTOsearch.securityState}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityExpirationOverdueMgmt.lstCboSecurityState}"
											   var="secSt"
											   itemValue="#{secSt.parameterTablePk}" itemLabel="#{secSt.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityExpirationOverdueMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>	
							</p:selectOneMenu>
						</td>
						
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['opt.issuance.bal.mov.initialdate']}" />
						</td>
						<td> 
							<p:calendar id="calInitialDate"
										value="#{securityExpirationOverdueMgmt.securityTOsearch.initialDate}"
										showOn="both"
										navigator="true"
										maxdate="#{securityExpirationOverdueMgmt.securityTOsearch.finalDate}"
										showButtonPanel="false" 
										size="10"
										readonlyInput="true"
										pattern="#{msgs['dateFormat']}">
								<p:ajax event="dateSelect" 
										listener="#{securityExpirationOverdueMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd), calInitialDate"/>	
							</p:calendar>
						</td>
						<td> 
							<h:outputText value="#{msgs['opt.issuance.bal.mov.finaldate']}" />
						</td>
						<td colspan="3"> 
							<p:calendar id="calFinalDate"
										value="#{securityExpirationOverdueMgmt.securityTOsearch.finalDate}"
										showOn="both"
										navigator="true"
										maxdate="#{securityExpirationOverdueMgmt.maxDate}"
										showButtonPanel="false" 
										size="10"
										readonlyInput="true"
										pattern="#{msgs['dateFormat']}"
										>
								<p:ajax event="dateSelect" 
										listener="#{securityExpirationOverdueMgmt.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd), calFinalDate"/>
							</p:calendar>						
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['security.code.lbl.excluded']}" />
						</td>
						<td>
							<p:inputTextarea id="inputTextSecurityCode" cols="80" maxlength="1200" 
								rows="3" value="#{securityExpirationOverdueMgmt.securityTOsearch.excludedSecurityCode}">
								
								<p:ajax event="blur" global="false" update="inputTextSecurityCode" process="@this"/>
								<p:keyFilter regEx="#{msgs['exp.regular.alphanumeric.all.characteres']}" />
							</p:inputTextarea>
						</td>
					</tr>

					
					<tr>
						<td>
							<h:outputText value="#{msgs['security.class.lbl.excluded']}" />
						</td>
						<td>
							<p:inputTextarea id="inputTextSecurityClass" cols="80" maxlength="200" 
								rows="3" value="#{securityExpirationOverdueMgmt.securityTOsearch.excludedSecurityClass}">
								
								<p:ajax event="blur" global="false" update="inputTextSecurityClass" process="@this"/>
								<p:keyFilter regEx="#{msgs['exp.regular.alphanumeric.all.characteres']}" />
							</p:inputTextarea>
						</td>
					</tr>

					<tr> 
						<td colspan="6" align="center"> 
							<p:commandButton id="cmbSearch"
											 value="#{gmsgs['btn.search']}"
											 actionListener="#{securityExpirationOverdueMgmt.searchSecuritiesHandler}"
											 update="@(.clsSearchUpd),:opnlGenericDialogs"
											 icon="fa fa-search" />
							
							&nbsp;&nbsp;
							<p:commandButton id="cmbClean"
											 value="#{gmsgs['btn.clean']}"
											 actionListener="#{securityExpirationOverdueMgmt.cleanSecuritySearchHandler}"
											 icon="fa fa-trash"
											 process="@this"
											 update="@(.clsSearchUpd), @(.clsFilterSearch)">
							</p:commandButton>
						</td>
					</tr>
				</table>
				</p:outputPanel>				
			</p:fieldset>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
				<p:panel id="pnlPrivileges"
						 rendered="#{securityExpirationOverdueMgmt.securityDataModel ne null and securityExpirationOverdueMgmt.securityDataModel.rowCount > 0 and
						  			 (userPrivilege.userAcctions.confirm )}"
						 styleClass="clsSearchUpd">
					<p:commandButton id="cmbModify" 
									 value="#{msgs['btn.process']}"
									 action="#{securityExpirationOverdueMgmt.beforeOperationHandler}"
									 update=":cnfMsgCustomValidationSec, :cnfConfirmOperation" 
									 icon="ui-edit" 
									 rendered="#{userPrivilege.userAcctions.confirm}"/>
				</p:panel>
			</p:outputPanel>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
			<p:panel id="pnlResult"
						 rendered="#{not empty securityExpirationOverdueMgmt.securityDataModel}">
						 
				<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
					rendered="#{securityExpirationOverdueMgmt.securityDataModel.rowCount==0}"
					style="font-weight:bold;" />
						 
					<p:dataTable id="dtbSecurity"
								value="#{securityExpirationOverdueMgmt.securityDataModel}" 
								var="sec"
								paginator="true" rows="#{cons['dtb.rows']}" 
								paginatorPosition="#{cons['dtb.pagination.position']}"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"			
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{securityExpirationOverdueMgmt.listSecuritySelected}"
								rowKey="#{sec.keyHolderAccountBalance}"
								emptyMessage="#{gmsgs['lbl.search.no.result']}"
								rendered="#{securityExpirationOverdueMgmt.securityDataModel.rowCount > 0}">
				
						<p:column selectionMode="multiple" style="width:18px"  />
						
						<p:column sortBy="#{sec.mnemonicIssuer}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['issuer.lbl.issuer']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.mnemonicIssuer}" />
						</p:column>
						
						<p:column sortBy="#{sec.idSecurityCodePk}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{gmsgs['security.col.code']}" 
											  escape="false"/>
							</f:facet>
							<ark:securities-help securityCode="#{sec.idSecurityCodePk}" link="true" icon="false"></ark:securities-help>
						</p:column>
						
						<p:column sortBy="#{sec.mnemonicParticipant}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['opt.valueholdbalance.participant']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.mnemonicParticipant}">
							</h:outputText>
						</p:column>
						
						
						<p:column sortBy="#{sec.alternateCode}" 
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.alternative']}" 
											  escape="false"/>
							</f:facet>
								<h:outputText value="#{sec.alternateCode}">
								</h:outputText>
						</p:column>
						
						<p:column sortBy="#{sec.descriptionHolder}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['label.description.holder']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.descriptionHolder}"  escape="false" />
						</p:column>	
											
						<p:column sortBy="#{sec.totalBalance}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.contab']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.totalBalance}">
							</h:outputText>
						</p:column>
												
						<p:column sortBy="#{sec.availableBalance}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.availab']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.availableBalance}">
							</h:outputText>
						</p:column>
						
						<p:column sortBy="#{sec.pawnBalance}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.pawn']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.pawnBalance}">
							</h:outputText>
						</p:column>
						
						<p:column sortBy="#{sec.banBalance}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['opt.valueholdbalancedetail.balance.ban']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.banBalance}">
							</h:outputText>
						</p:column>
						
						<f:facet name="footer">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{securityExpirationOverdueMgmt.securityDataModel.rowCount}" />
							</h:outputFormat>
						</f:facet>
						
					</p:dataTable>	 
				</p:panel>
				</p:outputPanel>
			</td>
		</tr>
	</table>
	</h:form>
	

	  
	    <p:confirmDialog id="cnfConfirmOperation"  
		                header="#{headerMessageView}" 
		                severity="alert" 
		                widgetVar="cnfwConfirmOperation"
		                message="#{bodyMessageView}"
		                closable="false"> 
			 <h:form id="frmBlockSecurity">	        
	        <p:commandButton id="cmbConfirm" 
	        				 value="#{msgs['btn.yes']}"
	        				 action="#{securityExpirationOverdueMgmt.processOperationHandler}"
	        				 update=":frmSearchSecurity:pnlResult"
	        				 onclick="cnfwConfirmOperation.hide()"
	                    	 > 
	        </p:commandButton>  
	        <p:commandButton id="cmbCandelOperation"  
	        				 value="#{msgs['btn.no']}"
	        				  onclick="cnfwConfirmOperation.hide()" 
	        				  type="button" />  
	         </h:form>  	   
	    </p:confirmDialog> 
	 
	
		<p:outputPanel id="opnlDialogs">
		
		</p:outputPanel>
	
	
	</ui:define>
</ui:composition>
</html>