<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css"> 
		.ui-datatable thead th {
		    text-align: center !important;
		}
	</style>
	<h:form id="frmSearchSecurity">

	<table id="tblGeneral" width="100%"> 
		<tr> 
			<td> 
				<table border="0" width="100%"> 
					<tr> 
						<td align="left"> 
							<h:outputText value="#{gmsgs['isecurities.security.file.generation']}" 
										   styleClass="title-page" />						
						</td>
					</tr>
				</table>
			</td>
		</tr> 
		<tr> 
			<td> 
			<p:fieldset id="fldSecurity"
						legend="#{gmsgs['lbl.criteria.search']}">
				<table> 
					<tr> 
						<td> 
							<h:outputText value="#{msgs['issuer.lbl.issuer']}" />
						</td>
						<td colspan="5"> 
							<p:outputPanel id="opnlIssuerHelper">
								<ark:issuerHelper issuer="#{securityMgmtBean.issuerHelperSearch}"									
											disabled="#{userInfo.userAccountSession.issuerInstitucion}"/>
							</p:outputPanel>			
										
							<p:remoteCommand name="rcmdAfterIssuerHandler"
											  actionListener="#{securityMgmtBean.changeFilterField}"
											  update="@(.clsSearchUpd)"
											  partialSubmit="true"
											  process="@this,opnlIssuerHelper"
											  />				
						</td>
					</tr>
					<tr>
					<td> 
							<h:outputText value="#{msgs['security.lbl.security.class']}" />
						</td>
						<td colspan="3"> 
							<p:selectOneMenu id="cboSecurityClass"
											 value="#{securityMgmtBean.securityTOsearch.securityClass}"
											 styleClass="combo-widh-more-large">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboFilterSecuritieClass}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>		
							</p:selectOneMenu>
						</td>
					</tr>
					
					
					
					<tr> 
						<td> 
							<h:outputText value="#{gmsgs['security.lbl.code']}"/>
						</td>
						<td> 
							<p:inputText id="txtSecurityCode"
										 value="#{securityMgmtBean.securityTOsearch.idSecurityCodePk}"
										 label="#{msgs['security.lbl.code']}"
										 maxlength="#{cons['security.code.normal.length']}"
										 styleClass="securityCode-input-text-width">
								<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.hyphen']}"/>					 
							</p:inputText>
						</td>
						<td width="130"> 
							<h:outputText value="#{msgs['security.lbl.currency']}"/>
						</td>
						<td colspan="3">
							<p:selectOneMenu id="cboCurrency"
											 value="#{securityMgmtBean.securityTOsearch.securityCurrency}"
											 styleClass="combo-widh-medium"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboFilterCurrency}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>									
							</p:selectOneMenu>
						</td>

					</tr>
					<tr> 
						
						<td> 
							<h:outputText value="#{msgs['security.lbl.alternate.code']}" />
						</td>
						<td width="400"> 
							<p:inputText id="txtAlternateCode"
										 value="#{securityMgmtBean.securityTOsearch.alternativeCode}"
										 maxlength="#{cons['security.alternate.code.length']}"
										 style="width:250px;">
								<p:keyFilter regEx="#{cons['exp.regular.alternate.code.filter']}"/>	
								<p:ajax event="blur" 
										listener="#{securityMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>		 
							</p:inputText>
						</td>
					</tr>
					<tr> 
						<td  width="130"> 
							<h:outputText value="#{msgs['security.lbl.state']}" />
						</td>
						<td>
							<p:selectOneMenu id="cboState" 
											 disabled="true"
											 value="#{securityMgmtBean.securityTOsearch.securityState}">
								
								<f:selectItems value="#{securityMgmtBean.lstCboSecurityOnlyRegisterState}"
											   var="secSt"
											   itemValue="#{secSt.parameterTablePk}" itemLabel="#{secSt.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>	
							</p:selectOneMenu>
						</td>
						
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.issuance.date']}" />
						</td>
						<td> 
							<p:calendar id="calIssuanceDate"
										value="#{securityMgmtBean.securityTOsearch.issuanceDate}"
										showOn="both"
										navigator="true"
										showButtonPanel="false" 
										size="10"
										readonlyInput="true"
										pattern="#{msgs['dateFormat']}">
								<p:ajax event="dateSelect" 
										listener="#{securityMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>	
							</p:calendar>
						</td>
						
					</tr>				
					<tr> 
						<td colspan="6" align="center"> 
							<p:commandButton id="cmbSearch"
											 value="#{gmsgs['btn.search']}"
											 actionListener="#{securityMgmtBean.searchFileGenerationSecurities}"
											 update="@(.clsSearchUpd),:opnlGenericDialogs"
											 icon="fa fa-search" />
							
							&nbsp;&nbsp;
							<p:commandButton id="cmbClean"
											 value="#{gmsgs['btn.clean']}"
											 actionListener="#{securityMgmtBean.cleanSecuritySearchHandler}"
											 icon="fa fa-trash"
											 update="@form">
							</p:commandButton>
						</td>
					</tr>
				</table>				
			</p:fieldset>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
				<p:panel id="pnlPrivileges"
						 rendered="#{securityMgmtBean.securityDataModel ne null and securityMgmtBean.securityDataModel.rowCount > 0 and
						  			 (userPrivilege.userAcctions.generate)}"
						 styleClass="clsSearchUpd">
					<p:commandButton id="cmbGenerate" 
									 value="#{msgs['btn.generation.file']}"
									 actionListener="#{securityMgmtBean.generationFileOperationHandler}"
									 update=":cnfConfirmOperation, :cnfMsgCustomValidationSec,:opnlGenericDialogs" 
									 icon="ui-edit" 
									 rendered="#{userPrivilege.userAcctions.generate}"/>
					 
				</p:panel>
			</p:outputPanel>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
			<p:panel id="pnlResult"
						 rendered="#{not empty securityMgmtBean.securityDataModel}">
						 
				<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
					rendered="#{securityMgmtBean.securityDataModel.rowCount==0}"
					style="font-weight:bold;" />
						 
					<p:dataTable id="dtbSecurity"
								value="#{securityMgmtBean.securityDataModel}" 
								var="sec"
								paginator="true" rows="#{cons['dtb.rows']}" 
								paginatorPosition="#{cons['dtb.pagination.position']}"
								paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
								currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"			
								rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
								rowIndexVar="rIndx"
								rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
								selection="#{securityMgmtBean.lstSecuritySelection}"
								emptyMessage="#{gmsgs['lbl.search.no.result']}"
								rendered="#{securityMgmtBean.securityDataModel.rowCount > 0}">

						
						<p:column selectionMode="#{msgs['selection.mode.file.generation.security']}" style="width:18px"  />
						<p:column sortBy="#{securityMgmtBean.parametersTableMap[sec.securityClass].text1}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.security.class.mnemonic']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{securityMgmtBean.parametersTableMap[sec.securityClass].text1}" />
						</p:column>
						
						<p:column sortBy="#{sec.idSecurityCodePk}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{gmsgs['security.col.code']}" 
											  escape="false"/>
							</f:facet>
							
							<p:commandLink id="cmlIdSecurityCode"
										   value="#{sec.idSecurityCodePk}"
										   action="securityDetailRule"
										   actionListener="#{securityMgmtBean.detailOperationHandler}"
										   >
								<f:attribute name="securityPrm" value="#{sec}"/>
							</p:commandLink>
						</p:column>

						
						<p:column sortBy="#{securityMgmtBean.parametersTableMap[sec.currency].text1}"
								  styleClass="content-left">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.currency']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{securityMgmtBean.parametersTableMap[sec.currency].text1}" />
						</p:column>	
											
						<p:column sortBy="#{sec.currentNominalValue}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.nominal.value']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.currentNominalValue}">
								<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
												 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>
						
						<p:column styleClass="content-left"
								  sortBy="#{sec.issuanceDate}" 		  
								  > 
							<f:facet name="header">
								<h:outputText value="#{msgs['security.col.security.issuance.date']}"
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.issuanceDate}">
								<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
							</h:outputText>
						</p:column>
						
						<p:column sortBy="#{sec.numberCoupons}"  
								  styleClass="content-right">
							<f:facet name="header">
								<h:outputText value="#{msgs['security.lbl.nro.coupons']}" 
											  escape="false"/>
							</f:facet>
							<h:outputText value="#{sec.numberCoupons}">
								<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
												 locale="#{cons['conv.number.locale']}"/>
							</h:outputText>
						</p:column>

						
						<f:facet name="footer">
							<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
								<f:param
									value="#{securityMgmtBean.securityDataModel.rowCount}" />
							</h:outputFormat>
						</f:facet>
						
					</p:dataTable>	 
				</p:panel>
				</p:outputPanel>
			</td>
		</tr>
	</table>
	</h:form>

	
	  
    <p:confirmDialog id="cnfConfirmOperation"  
	                header="#{headerMessageView}" 
	                severity="alert" 
	                widgetVar="cnfwConfirmOperation"
	                message="#{bodyMessageView}"
	                closable="false"> 
		<h:form id="frmBlockSecurity">
        <p:commandButton id="cmbConfirm" 
        				 value="#{msgs['btn.yes']}"
        				 actionListener="#{securityMgmtBean.processOperationGenerateFile}"
        				 update=":frmSearchSecurity:pnlResult, :cnfConfirmOperation"
                    	 > 
        </p:commandButton>  
        <p:commandButton id="cmbCandelOperation"  
        				 value="#{msgs['btn.no']}"
        				  onclick="cnfwConfirmOperation.hide()" 
        				  type="button" />  
         </h:form>  	   
    </p:confirmDialog> 
	 
	
		<p:outputPanel id="opnlDialogs">
		
		</p:outputPanel>
	
	
	</ui:define>
</ui:composition>
</html>