<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:arkCorp="http://java.sun.com/jsf/composite/importanceEventComponent"
                >

       <p:outputPanel id="opnlPaymentCronogram">  
      <table width="100%">
      	  <tr>  
    	  		<td> 
    	  			 <table>
    	  				<tr>   
    	  					<td width="200">
    	  						<p:outputPanel styleClass="clsCboIntPaymentModeUpd clsCboAmortizationTypeUpd classCboIntPayPeriodUpd clsPeriodicityAmortUpd"
    	  									   rendered="#{!securityMgmtBean.redirectFromPaymentCronoAdvQuery and !securityMgmtBean.redirectFromPaymentCronoQuery}">
	    	  					   	<p:commandButton id="cmbGenerateCronogram"
	   	  							 value="Generar Cronograma"
	   	  							 actionListener="#{securityMgmtBean.generatePaymentCronogram}"
	   	  							 
	   	  							 update="@form,:opnlGenericDialogs"
	   	  							 process="@this,tviewGeneral:tabGeneralData,tviewGeneral:tabPerformance,tviewGeneral:tabNegotiationDepOthers,tviewGeneral:tabAmounts"
	   	  							 rendered="#{securityMgmtBean.viewOperationRegister  
	   	  							 			|| securityMgmtBean.viewOperationModify and (securityMgmtBean.security.interestPaymentSchedule.allCouponsPendingPayment 
	   	  							 			and securityMgmtBean.security.amortizationPaymentSchedule.allCouponsPendingPayment)}"
	   	  							 disabled="#{securityMgmtBean.security.indistinctPeriodicity and securityMgmtBean.security.indistinctAmortizationPeriodicity}"			
	   	  							 />
   	  							</p:outputPanel>
    	  					</td>
    	  					<td>   
								<p:outputPanel id="opnlFuplPaySche" 
											   styleClass="fileupload-customize clsCboIntPaymentModeUpd clsCboAmortizationTypeUpd classCboIntPayPeriodUpd clsPeriodicityAmortUpd" 
											   layout="block">
											   
									<p:fileUpload  id="fuplPaymentSheduleFile"
												   oncomplete="stopStatus();"
												   process="@this,tviewGeneral:tabGeneralData,tviewGeneral:tabPerformance,tviewGeneral:tabNegotiationDepOthers,tviewGeneral:tabAmounts"
												   widgetVar="fuplwPaymentSheduleFile" 
													label="#{gmsgs['fupl.label']}"
												    fileUploadListener="#{securityMgmtBean.paymentScheduleFileHandler}"
													mode="advanced" auto="true"  
													update=":cnfMsgCustomValidationSec,opnlFuplPaySche,:frmSecurityMgmt:dlgPaymenScheduleDiff @form"
													disabled="#{(securityMgmtBean.security.periodicity==null and securityMgmtBean.security.amortizationPeriodicity==null) or 
																((!securityMgmtBean.security.indistinctPeriodicity and !securityMgmtBean.security.indistinctAmortizationPeriodicity) and viewScope['enablePaymentScheUpl']==null)}"
													rendered="#{securityMgmtBean.viewOperationRegister}"
													/> 							   
								</p:outputPanel>
    	  					</td>
    	  				</tr>
    	  			</table>			 
    	  		</td>
      	  </tr>
	      <tr> 
				<td valign="top" width="100%">
				<p:commandButton id="cmbAuxCron"
								 style="display:none;"/>
				<p:message for="cmbAuxCron"/>
				<p:fieldset id="fldInterestPaymentCron" 
							legend="#{msgs['security.lbl.interest.payment.cronogram']}"
							rendered="#{not empty securityMgmtBean.security.interestPaymentSchedule.programInterestCoupons}"
							>
				<table width="100%"> 
					<tr> 
						<td width="200"> 
							<h:outputText value="#{msgs['security.lbl.interest.type']} (*)"
										  styleClass="required-field"/>
						</td>
						<td width="250"> 
							<p:selectOneMenu id="cboCronInterestType" 
											 value="#{securityMgmtBean.security.interestPaymentSchedule.interestType}"
											 required="true"
											 label="#{msgs['security.lbl.interest.type']}"
											 styleClass="combo-widh-medium"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboInterestType}"
											   var="intType"
											   itemLabel="#{intType.parameterName}" itemValue="#{intType.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td width="250"> 
							<h:outputText value="#{msgs['security.lbl.performance']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td width="250">
							<p:selectOneMenu id="cboCronPerformance"
											 value="#{securityMgmtBean.security.interestPaymentSchedule.yield}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.performance']}"
											 disabled="true"
											 required="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}" />
								<f:selectItems value="#{securityMgmtBean.lstCboYield}"
											   var="yld"
											   itemValue="#{yld.parameterTablePk}" itemLabel="#{yld.parameterName}"/>
							</p:selectOneMenu>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.effective.nominal']} (*)"
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronEffectiveNominal"
											 value="#{securityMgmtBean.security.interestPaymentSchedule.cashNominal}"
										     styleClass="combo-widh-medium"
										     label="#{msgs['security.lbl.effective.nominal']}"
										     required="true"
										     disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboCashNominal}"
											   var="cash"
											   itemLabel="#{cash.parameterName}" itemValue="#{cash.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.rate']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
						 	<p:inputText id="txtCronInterestRate"
						 				 value="#{securityMgmtBean.security.interestPaymentSchedule.interestFactor}"
						 				 label="#{msgs['security.lbl.interest.rate']}"
						 				 styleClass="amount-inputfield"
						 				 maxlength="#{cons['security.interest.rate.length']}"
						 				 required="true"
						 				 disabled="true"
						 				 >
						 		<p:keyFilter mask="pnum"/>	
								<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>		 
						 	</p:inputText>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.periodicity']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronInterestPayPeriodicity"
											 value="#{securityMgmtBean.security.interestPaymentSchedule.periodicity}"
											 required="true"
											 disabled="true"
											 styleClass="combo-widh-medium" 
											 label="#{msgs['security.lbl.interest.payment.periodicity']}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
										 	   var="payMod"
											  itemValue="#{payMod.parameterTablePk}" itemLabel="#{payMod.parameterName}"/>
							</p:selectOneMenu>	
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.revised.periodicity.interest.rate']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronRevPerIntRate"
											 value="#{securityMgmtBean.security.interestPaymentSchedule.interestPeriodicity}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.revised.periodicity.interest.rate']}"
											 required="true"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
											   var="intPer"
											   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.type']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronCalendarType"
											 value="#{securityMgmtBean.security.interestPaymentSchedule.calendarType}"
											 required="true"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.calendar.type']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboCalendarType}"
												var="calType"
												itemLabel="#{calType.parameterName}" itemValue="#{calType.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.calendar.days']} (*)"
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:inputText id="txtCalendarDays"
										 value="#{securityMgmtBean.security.interestPaymentSchedule.calendarDaysDescription}"
										 disabled="true"/>
						</td>
					</tr>	
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.interest.payment.mode']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronIntPaymentMode"
											 value="#{securityMgmtBean.security.interestPaymentModality}"
											 styleClass="combo-widh-medium"
											 required="true"
											 label="#{msgs['security.lbl.interest.payment.mode']}"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems var="payMode"
											   value="#{securityMgmtBean.lstCboInterestPaymentModality}"
											   itemLabel="#{payMode.parameterName}" itemValue="#{payMode.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.periodicity.days']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 							
							<p:inputText id="txtCronPeriodicityDays"
										 value="#{securityMgmtBean.security.interestPaymentSchedule.periodicityDays}"
										 disabled="true"
										 label="#{security.lbl.periodicity.days}"
										 styleClass="short-input-text-width content-right classCboIntPayPeriodUpd">
							</p:inputText>	
						</td>
					</tr>	
					<tr> 
						<td colspan="4"> 
							<p:separator/>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:dataTable id="dtbInterestPaymentCron"
										 value="#{securityMgmtBean.security.interestPaymentSchedule.programInterestCoupons}"
										 var="payCron"> 
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.payment.cronogram']}" />
								</f:facet>	
								
								<p:column style="width:25px"> 
										<f:facet name="header">
												<p:selectBooleanCheckbox value="#{securityMgmtBean.selectAllCouponsInterest}" disabled="#{!securityMgmtBean.viewOperationRegister}">
													<p:ajax update="dtbInterestPaymentCron" listener="#{securityMgmtBean.selectAndUnselectAllCouponsInterest}" />
												</p:selectBooleanCheckbox>
										</f:facet>
										<p:selectBooleanCheckbox id="chkSel"
										                         value="#{payCron.isSelected}"
										                         disabled="#{!securityMgmtBean.viewOperationRegister}"
																 >
											<p:ajax process="@this"
													update="calExpirationDate,calPaymentDate,opnlPaymentDays,opnlRegistryDate,txtInterestFactor,opnlInterestRate,opnlCouponAmount"/>
									 	</p:selectBooleanCheckbox>
								</p:column>
									 
								<p:column styleClass="content-left" style="width:80px"
										  headerText="#{msgs['payment.cronogram.col.nro.coupon']}">
									<h:outputText value="#{payCron.couponNumber}"/>	 
									<h:inputHidden id="hdnDataRowIntPaymentSchedule" 
												   value="#{payCron.dataRowDtbInterestPaymentSchedule}" />  	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.initial.coupon.date']}">
										  
									<h:outputText value="#{payCron.beginingDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>	 
									  	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}">

									<p:calendar id="calExpirationDate"
												value="#{payCron.experitationDate}"
												disabled="#{!payCron.isSelected || payCron.firstCoupon || payCron.lastCoupon || !payCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												navigator="true">
										<p:ajax event="dateSelect"  
												listener="#{securityMgmtBean.changeProgramInterestDate(payCron,'E',true)}"
												update="dtbInterestPaymentCron"
												process="@this"/>
									</p:calendar>	
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.payment.date']}">
									
									<p:calendar id="calPaymentDate"
												value="#{payCron.paymentDate}"
												disabled="#{!payCron.isSelected || payCron.firstCoupon || payCron.lastCoupon || !payCron.pendingState}"
												size="10" 
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												navigator="true">
										<p:ajax event="dateSelect" 
												listener="#{securityMgmtBean.changeProgramInterestDate(payCron,'P',true)}"
												update="dtbInterestPaymentCron"
												process="@this"/>												
									</p:calendar>
										   	
								</p:column>	
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.payment.days']}">
									
									<p:outputPanel id="opnlPaymentDays">										  
										<h:outputText value="#{payCron.paymentDays}" rendered="false">
											<f:convertNumber pattern="#{gconst['pattern.quantity']}"/>
										</h:outputText>
										
										<p:inputText value="#{payCron.paymentDays}"
												 maxlength="4" size="4"
												 disabled="#{!payCron.isSelected || payCron.firstCoupon || payCron.lastCoupon || !payCron.pendingState}"
												 >
											<p:keyFilter regEx="/[1234567890]/i" />
											<p:ajax process="@this" 
												update="dtbInterestPaymentCron"
												listener="#{securityMgmtBean.changePaymentDays(payCron)}"
												/>	
										</p:inputText>
									</p:outputPanel>
								</p:column>								
																
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}"
										  rendered="#{securityMgmtBean.exchangeRate}">									
									<p:calendar id="calExchangeDate"
												value="#{payCron.exchangeDateRate}"
												disabled="#{!payCron.isSelected || !payCron.pendingState}"
												size="10" 
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												mindate="#{payCron.experitationDate}"
												maxdate="#{payCron.paymentDate}"
												navigator="true" 
												beforeShowDay="disableAllHolydays"/>																											   	
								</p:column>	
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.register.date']}">
									<p:outputPanel id="opnlRegistryDate">
										<h:outputText value="#{payCron.registryDate}">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</h:outputText>
									</p:outputPanel>		   	
								</p:column>								
																
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.rate']}"> 
									
									<p:inputText id="txtInterestFactor" value="#{payCron.interestFactor}"
												 maxlength="#{cons['rate.factor.length']}"
												 disabled="#{!payCron.isSelected || !payCron.pendingState}"
												 size="12">
											<p:ajax process="@this" 
												update="dtbInterestPaymentCron"
												listener="#{securityMgmtBean.changeInterestRate(payCron)}"
												/>	
									</p:inputText>
									
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.factor']}"
										  >
									
									<p:outputPanel id="opnlInterestRate">	  
										<h:outputText value="#{payCron.interestRate}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.rate.factor']}"/>
									    </h:outputText>
									    <h:outputText value="%" />
								    </p:outputPanel>	   	
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.coupon.amount']}"> 
									
								    <p:outputPanel id="opnlCouponAmount">	  
										<h:outputText id="colCouponAmount" value="#{securityMgmtBean.commonsUtilities.roundAmount(payCron.couponAmount)}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
									    </h:outputText>
									    <p:tooltip
												for="colCouponAmount"
												trackMouse="true"
												value="#{payCron.couponAmount}"
												showEffect="clip"
												hideEffect="explode"
												position="left">
												<f:convertNumber
													locale="#{cons['conv.number.locale']}"
													pattern="#{cons['conv.number.pattern.nominal.amount']}"
													maxFractionDigits="8" />
											</p:tooltip>
								    </p:outputPanel>
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.payed.amount']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"> 
									<h:outputText value="#{payCron.payedAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
								</p:column>

								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.corporative.id']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"> 
									 
									<p:outputPanel rendered="#{not empty payCron.corporativeOperation.idCorporativeOperationPk}">
										<arkCorp:importanceEvent pageBack="#{securityMgmtBean.viewOperationDetail ? 'securityDetailRule' : 'securityMgmtRule'}"  
																 corporativeOperationId="#{payCron.corporativeOperation.idCorporativeOperationPk}"/>
									</p:outputPanel>
									<h:outputText rendered="#{empty payCron.corporativeOperation.idCorporativeOperationPk}" 
												  value="#{msgs['lbl.stripe.short']}" />						 
								</p:column>
								
								<p:column styleClass="content-left" 
										  headerText="#{msgs['col.state']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"
										  > 
									<h:outputText value="#{securityMgmtBean.parametersTableMap[payCron.stateProgramInterest]}"/>
								</p:column>
								<p:column styleClass="content-left" 
										  headerText="#{msgs['col.situation']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"
										  > 
									<h:outputText value="#{securityMgmtBean.parametersTableMap[payCron.situationProgramInterest]}"/>
								</p:column>

							</p:dataTable>
						</td>
					</tr>
				</table>
				</p:fieldset>
				</td>
			</tr><tr>
				<td valign="top" width="100%">
	    		<p:fieldset id="fldAmortizationCronogram" 
	      					legend="#{msgs['security.lbl.amortization.cronogram']}"
	      					rendered="#{not empty securityMgmtBean.security.amortizationPaymentSchedule.programAmortizationCoupons}">
	      		<table width="100%"> 
					<tr> 
						<td width="200"> 
							<h:outputText value="#{msgs['security.lbl.capital.payment.mode']} (*)" 
										 styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronCapitalPayMode"
											 value="#{securityMgmtBean.security.capitalPaymentModality}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.capital.payment.mode']}"
											 required="true"
											 disabled="true"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboPaymentModality}"
											   var="payMod"
											   itemLabel="#{payMod.parameterName}" 
											   itemValue="#{payMod.parameterTablePk}"/>							
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.amortization.type']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronAmortizationType"
											 value="#{securityMgmtBean.security.amortizationPaymentSchedule.amortizationType}"
											 required="true"
											 disabled="true"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.amortization.type']}"
											 onchange="if(this.value=='')rcmdCboAmortizationType()"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems  value="#{securityMgmtBean.lstCboAmortizationType}"
												var="amorType"
												itemValue="#{amorType.parameterTablePk}" itemLabel="#{amorType.parameterName}"/>
								<p:ajax event="change"
										listener="#{securityMgmtBean.changeCboAmortizationTypeHandler}"
										process="@this"
										update="txtAmortizationFactor,cboCronPerAmortization"/>				
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>	
						<td>
							<h:outputText value="#{msgs['security.lbl.amortization.factor']}" />
						</td>
						<td> 
							<p:inputText id="txtCronAmortizationFactor"
										 value="#{securityMgmtBean.security.amortizationPaymentSchedule.amortizationFactor}"
										 required="true"
										 disabled="true"
										 styleClass="amount-inputfield"
										 label="#{msgs['security.lbl.amortization.factor']}"
										 maxlength="#{cons['rate.factor.length']}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
							</p:inputText>
						</td>					
						<td> 
							<h:outputText value="#{msgs['security.lbl.periodicity.amortization']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:selectOneMenu id="cboCronPerAmortization"
											 value="#{securityMgmtBean.security.amortizationPaymentSchedule.periodicity}"
											 disabled="true"
											 required="true"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.periodicity.amortization']}">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboInterestPeriodicity}"
											   var="intPer"
											   itemLabel="#{intPer.parameterName}" itemValue="#{intPer.parameterTablePk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['security.lbl.amortization.on']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td>
							<p:selectOneMenu id="cboCronAmortizationOn"
											 value="#{securityMgmtBean.security.amortizationOn}"
											 styleClass="combo-widh-medium"
											 label="#{msgs['security.lbl.amortization.on']}"
											 required="true"
											 disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityMgmtBean.lstCboAmortizationOn}" 
											   var="amorOn"
											   itemValue="#{amorOn.parameterTablePk}" itemLabel="#{amorOn.parameterName}"/>
							</p:selectOneMenu>
						</td>
						<td> 
							<h:outputText value="#{msgs['security.lbl.periodicity.days']} (*)" 
										  styleClass="required-field"/>
						</td>
						<td> 
							<p:inputText id="txtCronAmotPeriodicityDays"
										 value="#{securityMgmtBean.security.amortizationPaymentSchedule.periodicityDays}"
										 disabled="true"
										 label="#{security.lbl.periodicity.days}"
										 styleClass="medium-input-text-width short-input-text-width content-right clsPeriodicityAmortUpd">
							</p:inputText>	
						</td>
	
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['issuance.lbl.security.int.program']}"
							rendered="#{securityMgmtBean.security.capitalPaymentModality eq payModType.PARTIAL.code}"/>
						</td>
						<td>
							<p:commandLink actionListener="#{securityMgmtBean.recalculateInterestAmount}" 
							   			   title="#{msgs['issuance.lbl.security.int.program.tittle']}" process="@this"
							   			   update="dtbInterestPaymentCron"
							   			   disabled="#{!securityMgmtBean.viewOperationRegister}"
							   			   rendered="#{securityMgmtBean.security.capitalPaymentModality eq payModType.PARTIAL.code}">
								<p:graphicImage style="cursor:pointer;" library="img" name="buttons/refresh.png"/>
							</p:commandLink>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:separator width="100%"/>
						</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<p:message for="dtbAmortizationCoupons"/>
						</td>
					</tr>
					<tr> 
						<td colspan="4"> 
							<p:dataTable id="dtbAmortizationCoupons"
										 value="#{securityMgmtBean.security.amortizationPaymentSchedule.programAmortizationCoupons}"
										 var="amorCron" styleClass="clsFormProcess"> 
										 
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.amortization.cronogram']}"/>
	
								</f:facet>
								
								<p:column style="width:25px" rendered="#{securityMgmtBean.security.capitalPaymentModality eq payModType.PARTIAL.code}"> 
										<f:facet name="header">
											<p:selectBooleanCheckbox value="#{securityMgmtBean.selectAllCouponsAmortization}" disabled="#{!securityMgmtBean.viewOperationRegister}">
												<p:ajax update="dtbAmortizationCoupons" listener="#{securityMgmtBean.selectAndUnselectAllCouponsAmortization}" />
											</p:selectBooleanCheckbox>
										</f:facet>
										
										<p:selectBooleanCheckbox id="chkSel"
										                         value="#{amorCron.selected}"
										                          disabled="#{!securityMgmtBean.viewOperationRegister}"
																 >
											<p:ajax process="@this"
													update="calExpirationDate,calPaymentDate,txtAmortFactor,opnlPaymentDays"/>
									 	</p:selectBooleanCheckbox>
								</p:column>
								
								<p:column headerText="#{msgs['payment.cronogram.col.nro.payment']}"> 
									<h:outputText value="#{amorCron.couponNumber}"/>
									<h:inputHidden id="hdnDataRowAmortPaymentSchedule" 
													   value="#{amorCron.dataRowDtbAmortizationPaymentSchedule}"/>			   
								</p:column>
								
								<p:column headerText="#{msgs['payment.cronogram.col.initial.payment.date']}">
									<h:outputText value="#{amorCron.beginingDate}">
										<f:convertDateTime pattern="#{cons['dateFormat']}"/>
									</h:outputText>	
								</p:column>
								
								<p:column headerText="#{msgs['payment.cronogram.col.expired.coupon.date']}">
									
									<p:calendar id="calExpirationDate"
												value="#{amorCron.expirationDate}"
												disabled="#{!amorCron.selected || amorCron.firstCoupon || amorCron.lastPayment || !amorCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												navigator="true">
										<p:ajax event="dateSelect"
												update="dtbAmortizationCoupons" 
												listener="#{securityMgmtBean.changeProgramAmortizationDate(amorCron,'E',true)}"
												process="@this"/>
									</p:calendar>	
								</p:column>							
								
								<p:column headerText="#{msgs['payment.cronogram.col.payment.date']}">
								
									<p:calendar id="calPaymentDate"
												value="#{amorCron.paymentDate}"
												disabled="#{!amorCron.selected || amorCron.firstCoupon || amorCron.lastPayment || !amorCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												navigator="true">
										<p:ajax event="dateSelect"
												update="dtbAmortizationCoupons" 
												listener="#{securityMgmtBean.changeProgramAmortizationDate(amorCron,'P',true)}"
												process="@this"/>
									</p:calendar>								
								</p:column>
								
								<p:column styleClass="content-right"
										  headerText="#{msgs['payment.cronogram.col.payment.days']}">
									<p:outputPanel id="opnlPaymentDays">
									
										<h:outputText value="#{securityMgmtBean.getDaysBetween(amorCron.beginingDate,amorCron.expirationDate)}" rendered="false">
											<f:convertNumber pattern="#{gconst['pattern.quantity']}"/>
										</h:outputText>
										
										<p:inputText value="#{amorCron.paymentAmortizationDays}"
												 maxlength="4" size="3"
												 disabled="#{!amorCron.selected || amorCron.firstCoupon || amorCron.lastPayment || !amorCron.pendingState}"
												 >
											<p:keyFilter regEx="/[1234567890]/i" />
											<p:ajax process="@this" 
												update="dtbAmortizationCoupons"
												listener="#{securityMgmtBean.changePaymentDaysToAmortization(amorCron)}"
												/>	
										</p:inputText>
									</p:outputPanel>
								</p:column>
								
								<p:column styleClass="content-left" 
								headerText="#{msgs['payment.cronogram.col.exchange.date.rate']}" 
								rendered="#{securityMgmtBean.exchangeRate}">								
									<p:calendar id="calExchangeDate2"
												value="#{amorCron.exchangeDateRate}"
												disabled="#{!amorCron.selected || amorCron.firstCoupon || amorCron.lastPayment || !amorCron.pendingState}"
												size="10"
												showOn="both"
												showButtonPanel="false"
												readonlyInput="true"
												pattern="#{msgs['dateFormat']}"
												mindate="#{amorCron.expirationDate}"
												maxdate="#{amorCron.paymentDate}"
												navigator="true" 
												beforeShowDay="disableAllHolydays"/>							
								</p:column>
								
								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.register.date']}">
									<p:outputPanel id="opnlRegistryDate">
										<h:outputText value="#{amorCron.registryDate}">
											<f:convertDateTime pattern="#{cons['dateFormat']}"/>
										</h:outputText>
									</p:outputPanel> 		
								</p:column>
																
								<p:column headerText="#{msgs['payment.cronogram.col.amortization.factor']}"
										  styleClass="content-right"> 
									
									<p:inputText id="txtAmortFactor" 
												 value="#{amorCron.amortizationFactor}"
												 disabled="#{!amorCron.selected || !amorCron.pendingState}"
												 size="10"  
												 styleClass="rateFactor-inputField">
										<p:ajax listener="#{securityMgmtBean.changeAmortizationFactor(amorCron)}"
												update="dtbAmortizationCoupons" process="@this"/>
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
									</p:inputText>
									<h:outputText value="%" />
									
									<f:facet name="footer">
										<h:outputText value="#{securityMgmtBean.security.amortizationPaymentSchedule.totalAmortizationFactor}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.rate.factor']}"/>	
										</h:outputText>
										<h:outputText value="%" />
									</f:facet>
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.capital.amount']}"> 
									<p:outputPanel id="opnlCouponAmount">	  
										<h:outputText value="#{amorCron.couponAmount}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
									    </h:outputText>
								    </p:outputPanel>
								    
									<f:facet name="footer">
										<h:outputText value="#{securityMgmtBean.security.amortizationPaymentSchedule.totalAmortizationCoupon}">
											<f:convertNumber locale="#{cons['conv.number.locale']}" 
															 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
										</h:outputText>
									</f:facet>
								    
								</p:column>
								
								<p:column styleClass="content-right" 
										  headerText="#{msgs['col.payed.amount']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}">
									<h:outputText value="#{amorCron.payedAmount}">
										<f:convertNumber locale="#{cons['conv.number.locale']}" 
														 pattern="#{cons['conv.number.pattern.cash.amount']}"/>
								    </h:outputText>
								</p:column>

								<p:column styleClass="content-left"
										  headerText="#{msgs['payment.cronogram.col.corporative.id']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"> 
									<p:outputPanel rendered="#{not empty amorCron.corporativeOperation.idCorporativeOperationPk}">	  
									<arkCorp:importanceEvent pageBack="#{securityMgmtBean.viewOperationDetail ? 'securityDetailRule' : 'securityMgmtRule'}"  
															 corporativeOperationId="#{amorCron.corporativeOperation.idCorporativeOperationPk}"/>
									</p:outputPanel>						 
									<h:outputText rendered="#{empty amorCron.corporativeOperation.idCorporativeOperationPk}" 
												  value="#{msgs['lbl.stripe.short']}" />						 
								</p:column>
								
								<p:column styleClass="content-left" 
										  headerText="#{msgs['col.state']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"
										  > 
									<h:outputText value="#{securityMgmtBean.parametersTableMap[amorCron.stateProgramAmortization]}"/>
								</p:column>
								
								<p:column styleClass="content-left" 
										  headerText="#{msgs['col.situation']}"
										  rendered="#{!securityMgmtBean.viewOperationRegister}"
										  > 
									<h:outputText value="#{securityMgmtBean.parametersTableMap[amorCron.situationProgramAmortization]}"/>
								</p:column>
							
							</p:dataTable>
						</td>
					</tr>
	      		</table>
	      		</p:fieldset> 
				</td>      
	      </tr> 
      </table>          
      </p:outputPanel>           
</ui:composition>