<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers"
	xmlns:comp="http://java.sun.com/jsf/composite/privilegesPanel">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	<style type="text/css"> 
		.ui-datatable thead th {
		    text-align: center !important;
		}
	</style>
	<h:form id="frmSearchSecurity">

	<table id="tblGeneral" width="100%"> 

		<tr> 
			<td> 
				<table border="0" width="100%"> 
					<tr> 
						<td align="left"> 
							<h:outputText value="#{gmsgs['isecurities.security.consult.title']}" 
										   styleClass="title-page" />						
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td> 
			<p:fieldset id="fldSecurity"
						legend="#{gmsgs['lbl.criteria.search']}">
				<table>
					<tr>
						<td>
							<h:outputText value="#{msgs['issuer.lbl.CUI']} (*)" styleClass="required-field"  />
						</td>
						<td>
							<ark:holderHelper id="idCui" 
										holder="#{securityConsultMgmtBean.holder}"
										validatorName="com.pradera.commons.view.validators.InputTextValidator"
										
										required="true"
										label="#{msgs['issuer.lbl.CUI']}">
							</ark:holderHelper>	
						</td>
					</tr>
					
					<tr>
						<td> 
							<h:outputText value="#{msgs['security.lbl.security.class']} (*)" styleClass="required-field" />
						</td>
						<td colspan="3"> 
							<p:selectOneMenu id="cboSecurityClass"
											 value="#{securityConsultMgmtBean.securityTOsearch.securityClass}"
											 styleClass="combo-widh-more-large">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityConsultMgmtBean.lstCboFilterSecuritieClass}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityConsultMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>		
							</p:selectOneMenu>
						</td>
					</tr>
					<tr> 
						<td> 
							<h:outputText value="#{msgs['issuer.lbl.issuer']} (*)" styleClass="required-field" />
						</td>
						<td colspan="5">
							<p:outputPanel id="opnlIssuerHelper">	
								<ark:issuerHelper issuer="#{securityConsultMgmtBean.issuerHelperSearch}"
											validatorName="com.pradera.commons.view.validators.InputTextValidator"
											required="true"
											disabled="#{userInfo.userAccountSession.issuerInstitucion or userInfo.userAccountSession.issuerDpfInstitucion}"/>
							</p:outputPanel>			
										
							<p:remoteCommand name="rcmdAfterIssuerHandler"
											  actionListener="#{securityConsultMgmtBean.changeFilterField}"
											  update="@(.clsSearchUpd)"
											  partialSubmit="true"
											  process="@this,opnlIssuerHelper"
											  />
						</td>
					</tr>
					
										
					<tr>
						<td width="130">
							<h:outputText value="#{msgs['security.lbl.consult.amount']}"/>
						</td>
						<td colspan="3">
							<p:inputText id="txtAmount"
										 value="#{securityConsultMgmtBean.securityTOsearch.amount}"
										 label="#{msgs['security.lbl.consult.amount']}"
										 styleClass="amount-inputfield cashAmount-inputField clsTxtShareCapitalUpd clsTxtCirculationAmountUpd"
										 maxlength="#{cons['cash.amount.length']}"
										 >
								<p:keyFilter mask="pnum"/>	
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
							</p:inputText>
						</td>
	
	
					</tr>
					
					<tr>
						<td width="130">
							<h:outputText value="#{msgs['security.lbl.consult.rate']}"/>
						</td>
						<td colspan="3">
							<p:inputText id="txtRate"
										 value="#{securityConsultMgmtBean.securityTOsearch.rate}"			
										 label="#{msgs['security.lbl.consult.rate']}"
										 styleClass="amount-inputfield clsTxtShareCapitalUpd"
										 maxlength="#{cons['security.share.balance.length']}"
										 >
								<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
								<f:convertNumber pattern="#{cons['conv.number.pattern.quantity']}" locale="#{cons['conv.number.locale']}"/>	
							</p:inputText>
						</td>
					</tr>
					
					<tr>
						<td width="130">
							<h:outputText value="#{msgs['security.lbl.currency']}"/>
						</td>
						<td colspan="3">
							<p:selectOneMenu id="cboCurrency"
											 value="#{securityConsultMgmtBean.securityTOsearch.securityCurrency}"
											 styleClass="combo-widh-medium" style="width:200px"> 
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
								<f:selectItems value="#{securityConsultMgmtBean.lstCboFilterCurrency}"
											   var="cur"
											   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
								<p:ajax event="change" 
										listener="#{securityConsultMgmtBean.changeFilterField}"
										process="@this"
										update="@(.clsSearchUpd)"/>									
							</p:selectOneMenu>
						</td>

					</tr>

					
					<tr>
						<td width="130">
							<h:outputText value="#{msgs['security.lbl.consult.term']}"/>
						</td>
						<td colspan="3">
							<p:inputText id="txtTerm"
										 value="#{securityConsultMgmtBean.securityTOsearch.term}"
										 label="#{msgs['security.lbl.consult.term']}"
										 styleClass="amount-inputfield cashAmount-inputField clsTxtShareCapitalUpd clsTxtCirculationAmountUpd"
										 maxlength="#{cons['cash.amount.length']}"
										 >
								<p:keyFilter mask="pnum"/>	
								<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
							</p:inputText>
						</td>
					</tr>

				
					<tr> 
						<td colspan="6" align="center"> 
							<p:commandButton id="cmbSearch"
											 value="#{gmsgs['btn.search']}"
											 actionListener="#{securityConsultMgmtBean.searchSecuritiesHandler}"
											 update="@(.clsSearchUpd),:opnlGenericDialogs"
											 icon="fa fa-search" />
							
							&nbsp;&nbsp;
							<p:commandButton id="cmbClean"
											 value="#{gmsgs['btn.clean']}"
											 actionListener="#{securityConsultMgmtBean.cleanSecuritySearchHandler}"
											 icon="fa fa-trash"
											 process="@this"
											 update="@form">
							</p:commandButton>
						</td>
					</tr>
				</table>				
			</p:fieldset>
			</td>
		</tr>
		<tr> 
			<td> 
			<p:outputPanel styleClass="clsSearchUpd">
				<p:panel id="pnlResult"
							 rendered="#{not empty securityConsultMgmtBean.securityDataModel}">
							 
					<h:outputLabel value="#{gmsgs['lbl.search.no.result']}"
						rendered="#{securityConsultMgmtBean.securityDataModel.rowCount==0}"
						style="font-weight:bold;" />
							 
						<p:dataTable id="dtbSecurity"
									value="#{securityConsultMgmtBean.securityDataModel}" 
									var="sec"
									paginator="true" rows="#{cons['dtb.rows']}" 
									paginatorPosition="#{cons['dtb.pagination.position']}"
									paginatorTemplate="#{gmsgs['dtb.paginator.template']}"	
									currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"			
									rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}" 
									rowIndexVar="rIndx"
									rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
									selection="#{securityConsultMgmtBean.security}"
									emptyMessage="#{gmsgs['lbl.search.no.result']}"
									rendered="#{securityConsultMgmtBean.securityDataModel.rowCount > 0}">
									<p:column selectionMode="single" style="width:18px" />
							
							<p:column sortBy="#{securityConsultMgmtBean.parametersTableMap[sec.securityClass].text1}"
									  styleClass="content-left">
								<f:facet name="header">
									<h:outputText value="#{msgs['security.col.security.class.mnemonic']}" 
												  escape="false"/>
								</f:facet>
								<h:outputText value="#{securityConsultMgmtBean.parametersTableMap[sec.securityClass].text1}" />
							</p:column>
							
							<p:column sortBy="#{sec.idSecurityCodePk}"
									  styleClass="content-left">
								<f:facet name="header">
									<h:outputText value="#{gmsgs['security.col.code']}" 
												  escape="false"/>
								</f:facet>
								
								<p:commandLink id="cmlIdSecurityCode" value="#{sec.idSecurityCodePk}"
											   action="#{securityConsultMgmtBean.detailOperationHandler(sec)}">
								</p:commandLink>
							</p:column>
							
							<p:column styleClass="content-right"
									  sortBy="#{sec.securityDaysTerm}" > 
								<f:facet name="header"> 
									<h:outputText value="#{msgs['security.lbl.consult.term']}"/>
								</f:facet>
								<h:outputText value="#{sec.securityDaysTerm}">
							
								</h:outputText>
							</p:column>
							
							<p:column sortBy="#{sec.interestRate}" 
									  styleClass="content-right">
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.consult.rate']}" 
												  escape="false"/>
								</f:facet>
								<h:outputText value="#{sec.interestRate}">
									<f:convertNumber locale="#{cons['conv.number.locale']}" pattern="#{cons['conv.number.pattern.rate.factor']}"/>
								</h:outputText>
							</p:column>
							
							<p:column sortBy="#{securityConsultMgmtBean.parametersTableMap[sec.currency].text1}"
									  styleClass="content-left">
								<f:facet name="header">
									<h:outputText value="#{msgs['security.col.currency']}" 
												  escape="false"/>
								</f:facet>
								<h:outputText value="#{securityConsultMgmtBean.parametersTableMap[sec.currency].text1}" />
							</p:column>	
												
							<p:column sortBy="#{sec.nominalValue}"  
									  styleClass="content-right">
								<f:facet name="header">
									<h:outputText value="#{msgs['security.lbl.consult.amount']}" 
												  escape="false"/>
								</f:facet>
								<h:outputText value="#{sec.nominalValue}">
									<f:convertNumber pattern="#{cons['conv.number.pattern.nominal.amount']}"
													 locale="#{cons['conv.number.locale']}"/>
								</h:outputText>
							</p:column>
	
							
							
							<f:facet name="footer">
								<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}">
									<f:param
										value="#{securityConsultMgmtBean.securityDataModel.rowCount}" />
								</h:outputFormat>
							</f:facet>
							
						</p:dataTable>	 
					</p:panel>
				</p:outputPanel>
			</td>
		</tr>
	</table>
	</h:form>
	
	
	</ui:define>
</ui:composition>
</html>