<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >


	<h:outputText value="#{msgs['security.quote.consult']}" styleClass="title-page"/>

		<p:outputPanel>
			<table width="100%">
				<tr>
					<td>
						<p:outputPanel id="pnlResultData">
						<p:fieldset legend="#{msgs['lbl.results']}" rendered="#{not empty securityMgmtBean.securityQuoteList}">
							<p:dataTable id="dtbPlacement" var="placReq" value="#{securityMgmtBean.securityQuoteList}"
										 rendered="#{(securityMgmtBean.securityQuoteList.rowCount >= 1)}"
										 paginator="true" rows="#{cons['dtb.rows']}" 
										 paginatorTemplate="#{msgs['dtb.paginator.template']}"
										 rowsPerPageTemplate="#{cons['dtb.rows.per.page.template']}"  paginatorPosition="#{cons['dtb.pagination.position']}"
										 currentPageReportTemplate="#{msgs['dtb.current.page.report.template']}"
										 rowIndexVar="rIndx" rowStyleClass="#{empty rIndx or rIndx mod 2 ne 0 ? 'even-row' : 'odd-row'}"
										 rowKey="#{placReq.idSecurityQuotePk}">
		
								
								
								<p:column headerText="#{msgs['security.quote.quote.date']}" styleClass="content-left">
									<h:outputText value="#{placReq.quoteDate}">
										<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['security.quote.price']}" styleClass="content-right">
									<h:outputText value="#{placReq.priceCurrent}">
										<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.four.decimals']}"/>
									</h:outputText>
								</p:column>			
								
								<p:column headerText="#{msgs['security.lbl.share.capital']}" styleClass="content-right">
									<h:outputText value="#{placReq.shareCapital}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['security.lbl.share.balance']}" styleClass="content-right">
									<h:outputText value="#{placReq.shareBalance}">
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
									</h:outputText>
								</p:column>
								
								<p:column headerText="#{msgs['security.lbl.share.variation.capital']}" styleClass="content-right">
									<h:outputText value="${placReq.priceBefore - placReq.priceCurrent}" >
										<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
									</h:outputText>
								</p:column>
							 
							 	<p:column headerText="#{msgs['lbl.user']}" styleClass="content-left">  
							 		<h:outputText value="#{placReq.lastModifyUser}" />		
							 	</p:column>
							 
							 </p:dataTable>
							 <h:outputLabel value="#{msgs['lbl.search.no.result']}" rendered="#{securityMgmtBean.securityQuoteList.rowCount == 0}"/>

						 </p:fieldset>
						</p:outputPanel>
					</td>
				</tr>
			</table>
		</p:outputPanel>

	
</ui:composition>