<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:arkCorp="http://java.sun.com/jsf/composite/importanceEventComponent"
                >

<table width="100%"> 
	<tr> 
		<td> 
		<p:fieldset id="fldSecurityDetail" 
					legend="#{msgs['security.lbl.title.security.data']}">
			<table>
				<tr> 
					<td> 
						<h:outputText value="#{gmsgs['security.lbl.code.only']}"/>
					</td>
					<td> 
						<p:inputText id="txtSecurityCodeOnlyVal" 
									 value="#{securityMgmtBean.security.idSecurityCodeOnly}"
									 disabled="true"
									 styleClass="securityCode-input-text-width"/>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.instrument.type']}"/>
					</td>
					<td> 
						<p:inputText id="txtInstrumentTypeVal" 
									 value="#{securityMgmtBean.security.instrumentType}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.col.cfi.code']}"/>
					</td>
					<td> 
						<p:inputText id="txtCfiCodeVal"
									 value="#{securityMgmtBean.security.cfiCode}"
									 disabled="true"/>
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['security.lbl.alternate.code']}"/>
					</td>
					<td> 
						<p:inputText id="txtAlternativeCodeVal"
									 value="#{securityMgmtBean.security.alternativeCode}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{msgs['security.lbl.security.class']}"/>
					</td>
					<td> 
						<p:inputText id="txtSecurityClassVal"
									 value="#{securityMgmtBean.security.securityClass}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{security.lbl.days.terms.value}"/>
					</td>
					<td> 
						<p:inputText id="txtSecurityDaysTermVal"
									 value="#{securityMgmtBean.security.securityDaysTerm}"
									 disabled="true"/>
					</td>
				</tr>
			</table>				
		</p:fieldset>
		</td>
	</tr>
	<tr> 
		<td> 
		<p:fieldset id="fldSValuatorDetail" 
					legend="#{msgs['security.lbl.title.valuator.data']}">
					
			<table>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['valuator.process.class.description']}"/>
					</td>
					<td> 
						<p:selectOneMenu id="cboValuatorClassVal"
										 value="#{securityMgmtBean.}"> 
							<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
						</p:selectOneMenu>
					</td>
					<td> 
						
					</td>
					<td> 
					
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['valuator.process.class.mmrv']}"/>	
					</td>
					<td> 
						<p:inputText id="txtValuatorProcMMRV"
						             value="#{securityMgmtBean.valuatorProcessClass.minRelevantAmount}"
						             disabled="true"
									 />
					</td>
					<td> 
						<h:outputText value="#{msgs['issuer.lbl.mnemonic']}"/>
					</td>
					<td> 
						<p:inputText id="txtIssuerVal"
									 value="#{securityMgmtBean.security.issuer.mnemonic}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{msgs['lbl.currency']}"/>
					</td>
					<td> 
						<p:inputText id="txtCurrencyVal"
									 value="#{securityMgmtBean.security.currency}"
									 disabled="true"/>
					</td>
				</tr>
				<tr> 
					<td> 
						<h:outputText value="#{msgs['valuator.term.range.initial']}"/>
					</td>
					<td> 
						<p:inputText id="txtRangeInitial"
									 value="#{securityMgmtBean.valuatorTermRange.rangeCode}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{gmsgs['valuator.lbl.prepaid']}"/>
					</td>
					<td> 
						<p:inputText id="txtPrepaidVal"
									 value="#{securityMgmtBean.security.currency}"
									 disabled="true"/>
					</td>
					<td> 
						<h:outputText value="#{gmsgs['valuator.lbl.subordinated']}"/>
					</td>
					<td> 
						<p:inputText id="txtSubordinatedVal"
									 value="#{securityMgmtBean.security.currency}"
									 disabled="true"/>
					</td>
				</tr>
			</table>			
					
		</p:fieldset>
		</td>
	</tr>
	<tr> 
		<td> 
		
		</td>
	</tr>
</table>

         
</ui:composition>