<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">

	<style type="text/css"> 
		
.amount-inputfield{
	text-align: right !important;
}
	</style>
	<script type="text/javascript">

		$(window).load(function(){ 
			setInitialFormState('#frmIssueMgmt');
			setAllHolidays('${issuanceModificationMgmtBean.allHolidays}');			
		});		
	</script>
	
	<h:outputText value="#{gmsgs['isecurities.issuance.modifyissuances.title']}" styleClass="title-page" 
				  rendered="#{issuanceModificationMgmtBean.viewOperationModify}"/>
	<h:outputText value="#{gmsgs['isecurities.issuance.registerissuances.title']}" styleClass="title-page"
				  rendered="#{issuanceModificationMgmtBean.viewOperationRegister}"/>
		<h:form id="frmIssueMgmt" enctype="multipart/form-data">
			<table width="100%"> 
				<tr> 
					<td> 
						<p:fieldset legend="#{msgs['issuance.lbl.data']}">
						<p:outputPanel id="opnlIssuanceData" styleClass="ui-fieldset-content">
							<table width="100%"> 
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.code']}"/></td>
									<td> 
										<p:inputText id="txtIdIssueCodePk" 
													 value="#{issuanceModificationMgmtBean.issuance.idIssuanceCodePk}"
													 label="#{msgs['issuance.lbl.code']}"
													 autocomplete="false"
													 disabled="true"
													 styleClass="text-inputfield"/>	 
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.description']} (*)"   styleClass="required-field"/></td>
									<td colspan="3">
										<h:panelGrid columns="2">
											<p:inputText id="txtDescription"  styleClass="large-input-text-width" 
														 maxlength="100"  value="#{issuanceModificationMgmtBean.issuance.description}"
														 label="#{msgs['issuance.lbl.description']}" autocomplete="false" 
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);"
											  			 >
											  			  <p:ajax event="blur" update="txtDescription msgTxtDescription" />
												<p:keyFilter regEx="#{cons['exp.regular.description']}"/>	
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>			 
										   </p:inputText>
										   <p:message id="msgTxtDescription" for="txtDescription" display="icon"/>
										</h:panelGrid>										
									</td>								
								</tr>							
								<tr> 
									<td><h:outputText value="#{msgs['issuer.lbl.issuer']} (*)" styleClass="required-field"/></td>
									<td colspan="3"> 
									
										<p:outputPanel id="opnlIssuer" rendered="#{issuanceModificationMgmtBean.viewOperationRegister}">
										<ark:issuerHelper 													
														id="issuerHelper"
														issuer="#{issuanceModificationMgmtBean.issuance.issuer}"
														disabled="#{userInfo.userAccountSession.issuerDpfInstitucion}"
														required="true"													
														remoteListener="rcmdAfterIssurHelper()"														
														/>													
											<p:remoteCommand name="rcmdAfterIssurHelper" 
															  global="false" onstart="PF('statusDialogCustom').show()"
											  				  oncomplete="PF('statusDialogCustom').hide()"	
															  actionListener="#{issuanceModificationMgmtBean.beforeIssuerHelperHandler}" 
															  update="opnlIssuer cboSecurityClass pnlSecurityType cboInstrumentType pnlRatingScales" 
															  process="@this" 
															  />
										</p:outputPanel>	
										<h:panelGrid columns="5" rendered="#{!issuanceModificationMgmtBean.viewOperationRegister}">	
												
										<p:inputText id="issuerMnemonicHelper#{cc.attrs.name}"
													 value="#{issuanceModificationMgmtBean.issuance.issuer.mnemonic}"  
													 size="8" 
													 disabled="true"
													 rendered="#{issuanceModificationMgmtBean.viewOperationModify}"/>		
										&nbsp;			
										<p:inputText id="txtIssuer"
													 size="8" 
													 value="#{issuanceModificationMgmtBean.issuance.issuer.idIssuerPk}"
													 label="#{msgs['issuer.lbl.issuer']}"
													 autocomplete="false"
													 disabled="true"
													 rendered="#{issuanceModificationMgmtBean.viewOperationModify}"
													 >
										</p:inputText>
										&nbsp;			 			 
										<p:inputText  id="txtIssuerDescription" 
													  value="#{issuanceModificationMgmtBean.issuance.issuer.businessName}" 
													  disabled="true"
													  size="50"
													   rendered="#{issuanceModificationMgmtBean.viewOperationModify}"/>
									</h:panelGrid>									
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.country']} (*)"   styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboCountry"
															 value="#{issuanceModificationMgmtBean.issuance.geographicLocation.idGeographicLocationPk}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.country']}"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify}"
															 > 
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboGeographicLocation}"
															   var="geo" 
															   itemLabel="#{geo.name}" itemValue="#{geo.idGeographicLocationPk}"/>
												 <p:ajax event="change" update="cboCountry msgCboCountry" />			   
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			   
											</p:selectOneMenu>
											 <p:message id="msgCboCountry" for="cboCountry" display="icon"/>
										</h:panelGrid>										
									</td>						
								</tr>								
								<tr>												
									<td><h:outputText value="#{msgs['issuance.lbl.instrument.type']} (*)" styleClass="required-field"/>	</td>
									<td>
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboInstrumentType"
															 value="#{issuanceModificationMgmtBean.issuance.instrumentType}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.instrument.type']}"
															 onchange="if(this.value=='')rcmbInstrumentType()"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify or issuanceModificationMgmtBean.closedInvesmentFund or issuanceModificationMgmtBean.issuance.securitiesRegisted or userInfo.userAccountSession.issuerDpfInstitucion}"
															> 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboInstrumentType}"
															   var="insType"
															   itemValue="#{insType.parameterTablePk}" itemLabel="#{insType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceModificationMgmtBean.loadCboSecuritieTypeByInstrumentHandler}"
														update="@(.clsCboInstrumentTypeUpd,.clsCboIssueTypeUpd,.clsCboIndPrimaryPlacementUpd,.clsCboIndHaveCertificateUpd),
														cboIndPrimaryPlacement,cboIssueType,msgCboInstrumentType,cboInstrumentType,calIssueExpirationDate,lblIssueExpirationDate,
														txtIssuanceTerm,lblIssuanceTerm,pnlRatingScales"
														process="@this"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			
											</p:selectOneMenu>										
											<p:remoteCommand name="rcmbInstrumentType"
															 update="@(.clsCboInstrumentTypeUpd,.clsCboIssueTypeUpd,.clsCboIndPrimaryPlacementUpd,.clsCboIndHaveCertificateUpd),
															 cboIndPrimaryPlacement,cboIssueType,msgCboInstrumentType,cboInstrumentType,pnlRatingScales"
															 action="#{issuanceModificationMgmtBean.loadCboSecuritieTypeByInstrumentHandler}"
															 process="@this"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceModificationMgmtBean.issuance.instrumentType}" value="#{null}" />										
											</p:remoteCommand>
											 <p:message id="msgCboInstrumentType" for="cboInstrumentType" display="icon"/>			
										</h:panelGrid>										 
									</td>	
									<td>																		
										<h:outputText value="#{msgs['issuance.lbl.security.type']} (*)" styleClass="required-field" />
									</td>
									<td> 
										<h:panelGrid columns="3" id="pnlSecurityType">
											<p:selectOneMenu id="cboSecurityType"
															 value="#{issuanceModificationMgmtBean.issuance.securityType}"	
															 style="width:200px"
															 label="#{msgs['issuance.lbl.security.type']}"
															 onchange="if(this.value=='')rcmbSecurityType()"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify || empty issuanceModificationMgmtBean.issuance.issuer.idIssuerPk || 
															 			issuanceModificationMgmtBean.closedInvesmentFund or userInfo.userAccountSession.issuerDpfInstitucion}"
															 styleClass="clsCboInstrumentTypeUpd"
															 > 
												<f:selectItem  itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboSecuritieType}"
															   var="secType"
															   itemValue="#{secType.parameterTablePk}" itemLabel="#{secType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceModificationMgmtBean.loadCboSecuritieClassBySecuritieTypeHandler}"
														update="cboSecurityClass,@(.clsCboSecurityTypeUpd),cboSecurityType,msgCboSecurityType,calIssueExpirationDate,lblIssueExpirationDate,txtIssuanceTerm,lblIssuanceTerm opnlIssuer"
														process="@this opnlIssuer"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>				   
											</p:selectOneMenu>										
											<p:remoteCommand name="rcmbSecurityType"
															 action="#{issuanceModificationMgmtBean.loadCboSecuritieClassBySecuritieTypeHandler}"
															 update="cboSecurityClass,@(.clsCboSecurityTypeUpd),cboSecurityType,msgCboSecurityType"
															 process="@this"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceModificationMgmtBean.issuance.securityType}" value="#{null}" />
											</p:remoteCommand>
											<p:message id="msgCboSecurityType" for="cboSecurityType" display="icon"/>		
										</h:panelGrid>										
									</td>	
									<td><h:outputText value="#{msgs['issuance.lbl.security.class']} (*)" styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboSecurityClass"
															 value="#{issuanceModificationMgmtBean.issuance.securityClass}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.security.class']}"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify || issuanceModificationMgmtBean.closedInvesmentFund}"
															 styleClass="clsCboInstrumentTypeUpd"
															 > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboSecuritieClass}"
															   var="secClass"
															   itemValue="#{secClass.parameterTablePk}" itemLabel="#{secClass.text1} - #{secClass.parameterName}"/>
												<p:ajax event="change" listener="#{issuanceModificationMgmtBean.changeCboSecurityClass}" global="false"
														update="cboSecurityClass msgCboSecurityClass @(.cboSecurityClassUpd),@(.clsCboInstrumentTypeUpd,.clsCboIssueTypeUpd,.clsCboIndPrimaryPlacementUpd,.clsCboIndHaveCertificateUpd), lblPlacementTerm
														cboIndPrimaryPlacement,cboIssueType,msgCboInstrumentType,cboInstrumentType,calIssueExpirationDate,lblIssueExpirationDate,txtIssuanceTerm,lblIssuanceTerm,pnlRatingScales,lblPlacementExpirationDate" />
														
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>
											<p:message id="msgCboSecurityClass" for="cboSecurityClass" display="icon"/>	
										</h:panelGrid>										
									</td>																
								</tr>					
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.type']} (*)" styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboIssueType"
															 value="#{issuanceModificationMgmtBean.issuance.issuanceType}"
															 style="width:200px"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify}"
															 label="#{msgs['issuance.lbl.issuance.type']}"
															 onchange="if(this.value=='')rcmbIssueType()"
															 styleClass="clsCboInstrumentTypeUpd"															 
															 > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboIssueType}"
															   var="iType"
															   itemValue="#{iType.parameterTablePk}" itemLabel="#{iType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceModificationMgmtBean.changeCboIssueTypeHandler}"
														process="@this"  					  
														update=":cnfMsgCustomValidationSec,@(.clsCboIssueTypeUpd,.clsCboIndPrimaryPlacementUpd,.clsCboIndHaveCertificateUpd),
														cboIndPrimaryPlacement,cboIndHaveCertificate,cboIssueType,msgIssueType"/>	
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
												<f:attribute name="attrInstrumentType" value="#{issuanceModificationMgmtBean.issuance.instrumentType}"/>												
											</p:selectOneMenu>
											<p:remoteCommand name="rcmbIssueType"
															 process="@this"
															 update=":cnfMsgCustomValidationSec,@(.clsCboIssueTypeUpd,.clsCboIndPrimaryPlacementUpd,.clsCboIndHaveCertificateUpd),
															 cboIndPrimaryPlacement,cboIndHaveCertificate,cboIssueType,msgIssueType"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceModificationMgmtBean.issuance.issuanceType}" value="#{null}" />
											</p:remoteCommand>
											<p:outputPanel styleClass="clsCboInstrumentTypeUpd">
												<p:message id="msgIssueType" 
														   for="cboIssueType" 
														   display="icon"/>
											</p:outputPanel>
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['lbl.currency']} (*)" styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboCurrency" 
														     value="#{issuanceModificationMgmtBean.issuance.currency}"
															 style="width:200px"
															 label="#{msgs['lbl.currency']}"
															 disabled="true"
															 > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboCurrencyType}"
															   var="cur"
															   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.text1} - #{cur.parameterName}"/>
												<p:ajax event="change" update="cboCurrency msgCboCurrency" />
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			   
											</p:selectOneMenu>
											<p:message for="cboCurrency"  id="msgCboCurrency" display="icon"/>
										</h:panelGrid>										
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.date']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueDate" 
														value="#{issuanceModificationMgmtBean.issuance.issuanceDate}"
														showOn="both"
														yearRange="#{cons['cal.year.range']}"
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.issuance.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false"
														readonlyInput="true"												
													    beforeShowDay="enableAlldays" 
													    maxdate="#{issuanceModificationMgmtBean.limitMaxDateIssuanceDate()}" 
													    styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd"
														> 														
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator"/>											
												<p:ajax event="dateSelect" 
														update="calIssueExpirationDate,calResolutionDate,mstIssuanceDate,
														calIssueDate,mstIssuanceDate,txtIssuanceTerm,txtIssuanceTerm,pnlRatingScales,itDaysLifeTimeIssuance,itDaysPassedIssuance"
														listener="#{issuanceModificationMgmtBean.changeDateToCalculateTerm}"
														process="@this"	
														global="false"													
														/>
											</p:calendar>
											<p:outputPanel styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd">
												<p:message id="mstIssuanceDate"  for="calIssueDate"  display="icon"/>
											</p:outputPanel>											
										</h:panelGrid>										
									</td>									
								</tr>																
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.ind.primary.placement']}" /></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboIndPrimaryPlacement"
															 value="#{issuanceModificationMgmtBean.issuance.indPrimaryPlacement}"
															 onchange="if(this.value=='')rCmdIndPlacementTranche()"
															 label="#{msgs['issuance.lbl.ind.primary.placement']}"
															 disabled="true"
															  style="width:200px">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboBooleanType}" 
	 														   var="bool"
															   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>	
												<p:ajax update="@(.clsCboIndPrimaryPlacementUpd),cboIndPrimaryPlacement,msgCboIndPrimaryPlacement"
														listener="#{issuanceModificationMgmtBean.changeCboIndPlacementTranche}"
														process="@this"
														partialSubmit="true"/>		   
											</p:selectOneMenu>										
											<p:remoteCommand name="rCmdIndPlacementTranche"
															  action="#{issuanceModificationMgmtBean.changeCboIndPlacementTranche}"
															  update="@(.clsCboIndPrimaryPlacementUpd),cboIndPrimaryPlacement,msgCboIndPrimaryPlacement"
															  process="@this"
															  partialSubmit="true">
												<f:setPropertyActionListener target="#{issuanceModificationMgmtBean.issuance.indPrimaryPlacement}" value="#{null}" />				  
											</p:remoteCommand>
											<p:outputPanel styleClass="clsCboIssueTypeUpd">
												<p:message for="cboIndPrimaryPlacement"  
															id="msgCboIndPrimaryPlacement"
														   display="icon"/>
											</p:outputPanel>	
										</h:panelGrid>										
									</td>									
									<td><h:outputText value="#{msgs['issuance.lbl.placement.type']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboPlacementType"
															 value="#{issuanceModificationMgmtBean.issuance.placementType}"
															 disabled="#{issuanceModificationMgmtBean.viewOperationModify || (issuanceModificationMgmtBean.issuance.indPrimaryPlacement == null || !issuanceModificationMgmtBean.indPrimaryPlacement)}"
															 label="#{msgs['issuance.lbl.placement.type']}"
															 styleClass="clsCboIndPrimaryPlacementUpd"
															 style="width:200px"> 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboSecurityPlacementType}"
															   var="plcType"
															   itemLabel="#{plcType.value}" itemValue="#{plcType.code}"/>
												<p:ajax event="change" update="cboPlacementType msgCboPlacementType" />			   
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			   
											</p:selectOneMenu>
											<p:message for="cboPlacementType"  id="msgCboPlacementType" display="icon"/>
										</h:panelGrid>										
									</td>
									<td>
										<h:outputText id="lblIssueExpirationDate" value="#{msgs['issuance.lbl.expiration.date']} #{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc == false ? '(*)' : '' }"  
													   styleClass="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueExpirationDate"  
														value="#{issuanceModificationMgmtBean.issuance.expirationDate}"
														showOn="both"
														disabled="#{issuanceModificationMgmtBean.issuance.expiredState || issuanceModificationMgmtBean.issuance.issuanceDate==null ||
														 ((issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc || issuanceModificationMgmtBean.issuance.accRfSecurityClass) &amp;&amp; !issuanceModificationMgmtBean.issuance.issueTypeParticipationInstallments)}"
														styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd cboSecurityClassUpd"
														yearRange="#{cons['cal.year.range']}" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.expiration.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false" 
														readonlyInput="true"														
														mindate="#{issuanceModificationMgmtBean.limitMinDateExpirationDate()}"
														> 
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" disabled="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc}"/>												
												<p:ajax listener="#{issuanceModificationMgmtBean.changeDateToCalculateTerm}" 
														event="dateSelect" 
														process="@this"
														update="mstIssueExpDate,calIssueDate,calIssueExpirationDate,mstIssueExpDate,txtIssuanceTerm,pnlRatingScales,itDaysLifeTimeIssuance,itDaysPassedIssuance"
														global="false"/>
											 </p:calendar>
											 <p:outputPanel styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd cboSecurityClassUpd">
											   <p:message id="mstIssueExpDate" 
											   			  for="calIssueExpirationDate"
											   			  display="icon"/>
										   	</p:outputPanel>
										</h:panelGrid>	
									</td>				
								</tr>
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.number.total.tranches']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtNumberTotalTranches" 
														value="#{issuanceModificationMgmtBean.issuance.numberTotalTranches}"
														label="#{msgs['issuance.lbl.number.total.tranches']}"
														disabled="#{issuanceModificationMgmtBean.issuance.expiredState || issuanceModificationMgmtBean.issuance.physicalIssueType || !issuanceModificationMgmtBean.indPrimaryPlacement}"
														styleClass="amount-inputfield clsCboIndPrimaryPlacementUpd"
														maxlength="#{cons['issuance.number.total.tranches.length']}"														
														>
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>												
												<p:ajax event="blur" update="txtNumberTotalTranches msgTxtNumberTotalTranches" />
											</p:inputText>
											<p:message for="txtNumberTotalTranches"	  id="msgTxtNumberTotalTranches" display="icon"/>
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['issuance.lbl.number.placement.tranches']}" /></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtNumberPlacementTranches" 
														value="#{issuanceModificationMgmtBean.issuance.numberPlacementTranches}"
														disabled="true"
														label="#{msgs['issuance.lbl.number.placement.tranches']}"
														styleClass="amount-inputfield">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>	
												<p:ajax event="blur" update="txtNumberPlacementTranches msgTxtNumberPlacementTranches" />		
											</p:inputText>
											<p:message for="txtNumberPlacementTranches"   id="msgTxtNumberPlacementTranches" display="icon"/>
										</h:panelGrid>
									</td>								
									<td>		
										<h:outputText id="lblIssuanceTerm" value="#{msgs['issuance.lbl.issuance.term']}  #{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc == false ? '(*)' : '' }"
													  styleClass="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="txtIssuanceTerm" value="#{issuanceModificationMgmtBean.issuanceTerm}" label="#{msgs['issuance.lbl.issuance.term']}"
														 size="10" styleClass="content-right clsTxtIssuanceTermUpd cboSecurityClassUpd"
														 maxlength="10" disabled="#{issuanceModificationMgmtBean.issuance.expiredState || issuanceModificationMgmtBean.issuance.issuanceDate==null ||
														 ((issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc || issuanceModificationMgmtBean.issuance.accRfSecurityClass) &amp;&amp; !issuanceModificationMgmtBean.issuance.issueTypeParticipationInstallments)}">	
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
												<f:convertNumber pattern="#{const['pattern.quantity']}"/>
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" disabled="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc}"/>
												<p:ajax listener="#{issuanceModificationMgmtBean.insertIssuanceTerm}" 
														event="blur" process="@this"
														update="@(.clsTxtIssuanceTermUpd),:cnfMsgCustomValidationSec,mstIssueExpDate,calIssueDate,calIssueExpirationDate,mstIssueExpDate,pnlRatingScales,itDaysLifeTimeIssuance,itDaysPassedIssuance"
														global="false"/>											 
											</p:inputText>
											<p:outputPanel styleClass="clsTxtIssuanceTermUpd">		
											<p:message for="txtIssuanceTerm" styleClass="cboSecurityClassUpd"
													   display="icon"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
								</tr>
								<tr>
									<td>		
										<h:outputText id="lblPlacementTerm" value="#{msgs['issuance.lbl.placement.term']}  #{issuanceMgmtBean.issuance.variableInstrumentTypeAcc == false ? '(*)' : '' }"
													  styleClass="#{issuanceMgmtBean.issuance.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="txtPlacementTerm" value="#{issuanceMgmtBean.issuance.placementExpirationDays}" label="#{msgs['issuance.lbl.placement.term']}"
														 size="10" styleClass="content-right clsTxtPlacementTermUpd cboSecurityClassUpd"
														 maxlength="10" disabled="#{issuanceMgmtBean.issuance.issuanceDate==null ||
														 ((issuanceMgmtBean.issuance.variableInstrumentTypeAcc || issuanceMgmtBean.issuance.accRfSecurityClass) &amp;&amp; !issuanceMgmtBean.issuance.issueTypeParticipationInstallments)}">	
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
												<f:convertNumber pattern="#{const['pattern.quantity']}"/>
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" disabled="#{issuanceMgmtBean.issuance.variableInstrumentTypeAcc}"/>
												<p:ajax listener="#{issuanceMgmtBean.changePlacementExpirationDays}" 
														event="blur" process="@this"
														update="@(.clsTxtPlacementTermUpd),:cnfMsgCustomValidationSec,calPlacementExpirationDate,mstPlacementExpDate"
														global="false"/>											 
											</p:inputText>
											<p:outputPanel styleClass="clsTxtPlacementTermUpd">		
											<p:message for="txtPlacementTerm" styleClass="cboSecurityClassUpd"
													   display="icon"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
									
									<td>
										<h:outputText id="lblPlacementExpirationDate" value="#{msgs['issuance.lbl.placement.expiration.date']} #{issuanceMgmtBean.issuance.variableInstrumentTypeAcc == false ? '(*)' : '' }"  
													   styleClass="#{issuanceMgmtBean.issuance.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calPlacementExpirationDate"  
														value="#{issuanceMgmtBean.issuance.placementExpirationDate}"
														showOn="both"
														disabled="#{issuanceMgmtBean.issuance.issuanceDate==null ||
														 ((issuanceMgmtBean.issuance.variableInstrumentTypeAcc || issuanceMgmtBean.issuance.accRfSecurityClass) &amp;&amp; !issuanceMgmtBean.issuance.issueTypeParticipationInstallments)}"
														styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd cboSecurityClassUpd"
														yearRange="#{cons['cal.year.range']}" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.placement.expiration.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false" 
														readonlyInput="true"
														> 
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" disabled="#{issuanceMgmtBean.issuance.variableInstrumentTypeAcc}"/>												
												<p:ajax listener="#{issuanceMgmtBean.changePlacementExpirationDate}" 
														event="dateSelect" 
														process="@this"
														update="mstPlacementExpDate,calPlacementExpirationDate,txtPlacementTerm,mstPlacementExpDate,uplPlacementExtDate"
														global="false"/>
											 </p:calendar>
											 <p:outputPanel id="uplPlacementExtDate">
											   <p:message id="mstPlacementExpDate" 
											   			  for="calPlacementExpirationDate"
											   			  display="icon"/>
										   	</p:outputPanel>
										</h:panelGrid>	
									</td>
									
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.days.life.time']}" /></td>
									<td>
									<p:inputText id="itDaysPassedIssuance" disabled="true" styleClass="content-right" size="10" value="#{issuanceModificationMgmtBean.getDaysPassedIssuance(issuanceModificationMgmtBean.issuance.issuanceDate,issuanceModificationMgmtBean.issuance.expirationDate)}" />
										
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.days.passed']}" /></td>
									<td>
									<p:inputText id="itDaysLifeTimeIssuance" disabled="true" styleClass="content-right" size="10" value="#{issuanceModificationMgmtBean.getDaysLifeTimeIssuance(issuanceModificationMgmtBean.issuance.issuanceDate,issuanceModificationMgmtBean.issuance.expirationDate)}" />
										
									</td>
								</tr>
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.ratings']} (*) " styleClass="required-field" /></td>
									<td> 
										<h:panelGrid columns="2" id="pnlRatingScales">
											<p:selectOneMenu id="cboRating" value="#{issuanceModificationMgmtBean.issuance.creditRatingScales}"
															 style="width:200px" label="#{msgs['issuance.lbl.ratings']}" disabled="true" > 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems 	value="#{issuanceModificationMgmtBean.lstCboCreditRatingScales}"
													var="secType" itemValue="#{secType.parameterTablePk}"
													itemLabel="#{secType.parameterName}" />
												<p:ajax event="change" update="msgcboRating cboRating" />	
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
											</p:selectOneMenu>	
											<p:message for="cboRating"  id="msgcboRating" display="icon"/>	
										</h:panelGrid>										
									</td>				
									<td><h:outputText value="#{msgs['issuance.lbl.resolution.number']}" /></td>
									<td>  
										<h:panelGrid columns="2">
											<p:inputText id="txtResolutionNumber" 
														 value="#{issuanceModificationMgmtBean.issuance.resolutionNumber}"
														 label="#{msgs['issuance.lbl.resolution.number']}"
														 maxlength="#{cons['issunce.resolution.number.length']}"
														 disabled="#{issuanceModificationMgmtBean.viewOperationModify and issuanceModificationMgmtBean.issuance.securitiesInNegotiations}">
												<p:keyFilter regEx="#{gconst['exp.regular.alphanumeric.slash.dash.not.space']}"/>
												<p:ajax update="@this" process="@this" />	 
											</p:inputText>
											<p:message for="txtResolutionNumber"   display="icon"/>
										</h:panelGrid>										
									</td>									
									<td>
										<h:outputText value="#{msgs['issuance.lbl.register.date']} (*)"   
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueRegisterDate" 
														value="#{issuanceModificationMgmtBean.issuance.registryDate}"
														showOn="button"
														readonlyInput="true"
														pattern="#{cons['dateFormat']}" 
														label="#{msgs['issuance.lbl.register.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false"
														disabled="true"
														beforeShowDay="disableAllHolydays"
														>	
											</p:calendar>
											<p:message for="calIssueRegisterDate"  id="msgCalIssueRegisterDate" display="icon"/>
										</h:panelGrid>	
									</td>								
								</tr>							
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.ind.have.documentFile']} (*)"
													  styleClass="required-field"/>
									</td>
									<td align="left" >
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboIndHaveCertificate" 
															 value="#{issuanceModificationMgmtBean.issuanceFileCertificate}" 
															 onchange="if(this.value=='')rcmbHasCertificateHandler()"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.ind.have.documentFile']}">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboBooleanType}" 
	 														   var="bool"
															   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
												<p:ajax event="change"
														listener="#{issuanceModificationMgmtBean.changeCboHasCertificateHandler}"
														process="@this"
														update="fldIssuanceCert, @(.clsCboIndHaveCertificateUpd),cboIndHaveCertificate,msgIndHaveCertificate"/>	
												<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>			   
											</p:selectOneMenu>
											
											<p:remoteCommand name="rcmbHasCertificateHandler"
															 action="#{issuanceModificationMgmtBean.changeCboHasCertificateHandler}"
															 process="@this"
															 update="fldIssuanceCert, @(.clsCboIndHaveCertificateUpd),cboIndHaveCertificate,msgIndHaveCertificate"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceModificationMgmtBean.issuance.indHaveCertificate}" value="#{null}" />				 
											</p:remoteCommand>
											<p:outputPanel styleClass="clsCboIndHaveCertificateUpd">
											<p:message id="msgIndHaveCertificate" 
														for="cboIndHaveCertificate"
														display="icon"/>
											</p:outputPanel>
										</h:panelGrid>										
									</td>	
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.regulator.report']} (*)" 
													  styleClass="required-field"/>
									</td>
									<td>
										<h:panelGrid columns="2"> 
											<p:selectOneMenu id="cboRegulatorReport" 
															 value="#{issuanceModificationMgmtBean.issuance.indRegulatorReport}" 
															 style="width:200px"
															 label="#{msgs['issuance.lbl.regulator.report']}"
															>
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceModificationMgmtBean.lstCboBooleanType}" 
	 														   var="bool"
															   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>		
											</p:selectOneMenu>
										</h:panelGrid>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.resolution.date']}" />
									</td>	
									<td>
										<h:panelGrid columns="2">
											<p:calendar id="calResolutionDate" 
														value="#{issuanceModificationMgmtBean.issuance.resolutionDate}"
														showOn="both"
														pattern="#{cons['dateFormat']}"														
														yearRange="#{cons['cal.year.range']}" 
														maxdate="#{issuanceModificationMgmtBean.issuance.issuanceDate}"
														label="#{msgs['issuance.lbl.resolution.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false"
														beforeShowDay="disableAllHolydays">
												<f:validator validatorId="calendarGreaterThanValidator"/>												
												<p:ajax event="change" update="calResolutionDate msgCalResolutionDate" process="@this"/>
												<p:ajax event="dateSelect" update="calResolutionDate msgCalResolutionDate" process="@this"/>		
											</p:calendar>
											<p:message for="calResolutionDate"	id="msgCalResolutionDate" display="icon"/>
										</h:panelGrid>	
									</td>							
								</tr>	
								<tr>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.endorsement']}" /></td>
									<td> 
											<p:inputText style="width:80%" id="txtEndorsement"  
														 maxlength="50"  value="#{issuanceModificationMgmtBean.issuance.endorsement}"
														 label="#{msgs['issuance.lbl.issuance.endorsement']}" autocomplete="false" 
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);"
											  			 >
											  			  <p:ajax event="blur" update="txtEndorsement" />
												<p:keyFilter regEx="#{cons['exp.regular.description']}"/>	
										   </p:inputText>
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.testimony']}" /></td>
									<td> 
											<p:inputText style="width:80%" id="txtTestimony"  
														 maxlength="100"  value="#{issuanceModificationMgmtBean.issuance.testimonyNumber}"
														 label="#{msgs['issuance.lbl.issuance.testimony']}" autocomplete="false" 
														 onkeyup="ctrlPress(event);" onkeydown="return validateCtrlSpace(event, this);"
											  			 >
											  			  <p:ajax event="blur" update="txtTestimony" />
												<p:keyFilter regEx="#{cons['exp.regular.description']}"/>	
										   </p:inputText>
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.testimony.date']}" /></td>
									<td> 
										<h:panelGrid columns="2">
										<p:calendar id="calTestimonyDate" 
													value="#{issuanceModificationMgmtBean.issuance.testimonyDate}"
													showOn="both"
													pattern="#{cons['dateFormat']}"														
													yearRange="#{cons['cal.year.range']}" 
													maxdate="#{issuanceModificationMgmtBean.issuance.testimonyDate}"
													label="#{msgs['issuance.lbl.issuance.testimony.date']}"
													size="10"
													navigator="true"
													showButtonPanel="false"
													beforeShowDay="disableAllHolydays">
											<f:validator validatorId="calendarGreaterThanValidator"/>												
											<p:ajax event="change" update="calTestimonyDate msgCalTestimonyDate" process="@this"/>
											<p:ajax event="dateSelect" update="calTestimonyDate msgCalTestimonyDate" process="@this"/>		
										</p:calendar>
										<p:message for="calTestimonyDate"	id="msgCalTestimonyDate" display="icon"/>
									   </h:panelGrid>	
									</td>
								</tr>	
								<tr>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.allowed.exchageSecurities']}" /></td>
									<td> 
										<p:selectOneMenu id="cboAllowedExchageSecurities" 
														 value="#{issuanceModificationMgmtBean.issuance.indExchangeSecurities}" 
														 style="width:200px"
														 label="una Opcion" >
											<f:selectItems value="#{issuanceModificationMgmtBean.lstCboBooleanType}" 
	 														   var="boolExhangeSec"
															   itemLabel="#{boolExhangeSec.value}" itemValue="#{boolExhangeSec.code}"/>
											<p:ajax event="change" process="@this" update="@this" />
										</p:selectOneMenu>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>						
							</table>
					</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> <br/>
					  <p:fieldset legend="#{msgs['issuance.lbl.amounts']}"> 
					 
						<p:outputPanel id="opnlIssuanceAmounts" styleClass="clsCboInstrumentTypeUpd">
							<table width="100%" >
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.issued.amount']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtIssuedAmount"   
														 	value="#{issuanceModificationMgmtBean.issuance.issuanceAmount}"
														 	styleClass="cashAmount-inputField clsCboIndPrimaryPlacementUpd clsCboIndHaveCertificateUpd"
														 	label="#{msgs['issuance.lbl.issued.amount']}"
															
														 	maxlength="#{cons['cash.amount.length']}"														 	
														 	>	
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
												<p:ajax event="blur" global="false" update="txtIssuedAmount msgTxtIssuedAmount" 
														listener="#{issuanceModificationMgmtBean.isIssuanceClassBCB()}" />													
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
												
												<f:validator validatorId="lessThanValidator" 
															 disabled="#{!issuanceModificationMgmtBean.issuance.securitiesRegisted}"/>	
												<f:attribute name="ltCompareLabel" value="#{msgs['security.lbl.program.issuance.amount.total']}"/>	
												<f:attribute name="ltCompareValueTotal" value="#{issuanceModificationMgmtBean.sumTotalShareCapitalForIssuance()}"/>
													 	 	
											</p:inputText>
											<p:outputPanel styleClass="clsCboIndHaveCertificateUpd">
											<p:message for="txtIssuedAmount"
													   id="msgTxtIssuedAmount"
													   display="icon"/>	
											</p:outputPanel>
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['issuance.lbl.available.amount']}"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtAvailableAmount"
														 value="#{issuanceModificationMgmtBean.issuance.amountAvailable}"
														 label="#{msgs['issuance.lbl.available.amount']}"
														 disabled="true"
														 styleClass="cashAmount-inputField clsCboIndPrimaryPlacementUpd"
														 maxlength="#{cons['cash.amount.length']}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
												<p:ajax event="blur" update="txtAvailableAmount msgTxtAvailableAmount" />			
											</p:inputText>
											<p:message for="txtAvailableAmount"	id="msgTxtAvailableAmount" display="icon"/>
										</h:panelGrid>										
									</td>
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['issuance.lbl.placed.amount']}"  rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"/>
										<h:outputText value="#{msgs['issuance.lbl.circulation.amount']} (*)"  rendered="#{issuanceModificationMgmtBean.variableIncomeInstrumentType}"	  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="4">
											<p:inputText id="txtPlacedAmount"
														 	value="#{issuanceModificationMgmtBean.issuance.placedAmount}"
														 	label="#{msgs['issuance.lbl.placed.amount']}"
														 	disabled="true"
														 	rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"
														 	styleClass="cashAmount-inputField"
														 	maxlength="#{cons['cash.amount.length']}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>
											</p:inputText>													 	
											<p:inputText id="txtCirculationAmount"
															value="#{issuanceModificationMgmtBean.issuance.circulationAmount}"
															label="#{msgs['issuance.lbl.circulation.amount']}"
															rendered="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc}"
															styleClass="cashAmount-inputField clsCboIndPrimaryPlacementUpd"
															maxlength="#{cons['cash.amount.length']}"															
															disabled="true">		
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>													
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
												<p:ajax event="blur" update="txtCirculationAmount msgTxtCirculationAmount" />	
											</p:inputText>
											<p:message for="txtPlacedAmount"   display="icon"   rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"/>
													   
											<p:message for="txtCirculationAmount" id="msgTxtCirculationAmount"  display="icon"   rendered="#{issuanceModificationMgmtBean.issuance.variableInstrumentTypeAcc}"/>
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['issuance.lbl.amortization.amount']}"   rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtAmortizationAmount"
														 value="#{issuanceModificationMgmtBean.issuance.amortizationAmount}"
														 rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"
														 disabled="true"
														 styleClass="cashAmount-inputField"
														 maxlength="#{cons['cash.amount.length']}">
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>		 
											</p:inputText>
											<p:message for="txtAmortizationAmount"  display="icon"   rendered="#{issuanceModificationMgmtBean.issuance.fixedInstrumentTypeAcc}"/>
										</h:panelGrid>										
									</td>	
								</tr>																
							</table>
						</p:outputPanel>
						</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> <br/>
					<p:fieldset id="fldIssuanceCert" 
								legend="#{msgs['issuance.lbl.documentFile.issue']}" 
								toggleable="true"
								styleClass="clsCboIndHaveCertificateUpd">
						
						<p:outputPanel id="opnlCertificateIssue">
							<table width="100%"> 
								<tr>
									<td><h:outputText value="#{msgs['issuance.documentFile.lbl.number']} (*)"  styleClass="required-field"/></td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="txtCertificateIssueNumber" 
														 value="#{issuanceModificationMgmtBean.issuanceFile.documentNumber}"
														 label="#{msgs['issuance.documentFile.lbl.number']}"
														 autocomplete="off"
														 maxlength="#{cons['issuance.certificate.number.length']}"
														 disabled="#{!issuanceModificationMgmtBean.indHaveCertificate}">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>			 
											</p:inputText>
										</h:panelGrid>										
									</td>									
									<td>
										<h:outputText value="#{msgs['issuance.documentFile.lbl.date']} (*)"   
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssuanceDocumentDate" 
														value="#{issuanceModificationMgmtBean.issuanceFile.documentDate}"
														showOn="both"
														yearRange="#{cons['cal.year.range']}"
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.documentFile.lbl.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false"
														readonlyInput="true"														
													    beforeShowDay="disableAllHolydays" 
													    maxdate="#{issuanceModificationMgmtBean.issuanceFile.maxDocumentDate}" 
													    disabled="#{!issuanceModificationMgmtBean.indHaveCertificate}"
													    styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd"> 																									
											</p:calendar>											
										</h:panelGrid>
									</td>							
									<td>
										<p:commandButton id="cmbAdd" 
														 value="#{gmsgs['btn.add']}" 
														 actionListener="#{issuanceModificationMgmtBean.addCertificateIssueHandler}"
														 update="@form"
														 process="opnlCertificateIssue"
														 icon="ui-add"
														 disabled="#{!issuanceModificationMgmtBean.indHaveCertificate}"/>
									</td>
								</tr>
								<tr> 
									<td><h:outputText value="#{msgs['issuance.certificate.lbl.attached.file']}" /></td>
									<td colspan="3" style="white-space: nowrap;width: 200px;"> 
									
										<p:outputPanel id="opnlFuplIssuCert" styleClass="fileupload-customize" layout="block">
										<p:fileUpload  id="fuplCertificateIssuance" 
													   widgetVar="fuplwCertificateIssuance" 
														label="#{gmsgs['fupl.label']}"
													    fileUploadListener="#{issuanceModificationMgmtBean.certificateFileHandler}"
														mode="advanced" auto="true"  
														update=":cnfMsgCustomValidationSec,opnlFuplIssuCert"
														allowTypes="/(\\.|\\/)(#{issuanceModificationMgmtBean.fUploadFileDocumentsTypes})$/"
														sizeLimit="#{issuanceModificationMgmtBean.fUploadFileSize}"
														invalidFileMessage="#{gmsgs['fupl.error.invalid.file.type']}"
														invalidSizeMessage="#{gmsgs['fupl.error.invalid.file.size']}" 
														disabled="#{!issuanceModificationMgmtBean.indHaveCertificate}" 
														>						
										</p:fileUpload>
										<script type="text/javascript">
											
											$(document).ready(function(){
												fileuploadValidate('fuplwCertificateIssuance');	
											 });		
										</script>
										
										<p:graphicImage id="imgLimit"
														library="img" 
														name="icons/help.png"
														styleClass="icon"
														/>
										
										<p:commandLink id="cmlRemoveFile" 
														actionListener="#{issuanceModificationMgmtBean.removeUploadedFileHandler}"
														styleClass="icon"
													   process="@this" 
													   update="opnlFuplIssuCert"
													   rendered="#{issuanceModificationMgmtBean.issuanceCertFileNameDisplay != null}">			
										<p:graphicImage id="imgRemove"
														library="img" 
														name="buttons/remove.png"/>
										</p:commandLink>
								

										
										<h:outputLabel id="lblFuplIssuanceCert" 
													   value="#{issuanceModificationMgmtBean.issuanceCertFileNameDisplay==null ? gmsgs['fupl.no.selected'] : issuanceModificationMgmtBean.issuanceCertFileNameDisplay}" 
													   styleClass="label"
													   />	
										<p:tooltip for="imgLimit">
											<h:outputFormat value="#{gmsgs['fupl.limit.info']}" 
															escape="false">
												<f:param value="#{issuanceModificationMgmtBean.fUploadFileSizeDisplay}"/>
												<f:param value="#{issuanceModificationMgmtBean.fUploadFileTypesDisplay}"/>				
											</h:outputFormat>
										</p:tooltip>
										<p:commandLink id="cmlViewFile"  immediate="true" 
													   styleClass="icon" 
													   process="@this" ajax="false"
													   update="opnlFuplIssuCert"
													   rendered="#{issuanceModificationMgmtBean.issuanceCertFileNameDisplay != null}"
													  >			
										<p:graphicImage id="imgView"
														library="img" 
														name="icons/loupe.png"
														/>
											 <p:fileDownload value="#{issuanceModificationMgmtBean.downloadCertificateFile}" />  			
										</p:commandLink>								   
										</p:outputPanel>		   				 
									</td>
								</tr>
								<tr> 
									<td colspan="7"> 
										<p:separator/>
									</td>
								</tr>
								<tr> 
									<td colspan="7"> 					
									
										<p:outputPanel id="opnlDtbCertificateIssue">
										
										<h:outputText value="#{msgs['issuance.certificate.lbl.no.documents.titles']}" 
													  rendered="#{empty issuanceModificationMgmtBean.issuance.issuanceFiles}"
													  style="font-weight:bold;"/>
										<br/>
										<p:message for="frmIssueMgmt:fldIssuanceCert"/>			  
													  
										<p:dataTable id="dtbCertificateIssue"
													 value="#{issuanceModificationMgmtBean.issuance.issuanceFiles}"
													 var="cIssue"
													 rendered="#{not empty issuanceModificationMgmtBean.issuance.issuanceFiles}"
													 resizableColumns="true"
						                 			 style="width:100%;"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.lbl.documentFile.issue']}" />
											</f:facet>
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuance.documentFile.col.number']}" />
												</f:facet>
												<h:outputText value="#{cIssue.documentNumber}"/>
											</p:column>	
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuance.documentFile.col.date']}" />
												</f:facet>
												<h:outputText value="#{cIssue.documentDate}">
													<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
												</h:outputText>
											</p:column>	
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuer.lbl.state']}" />
												</f:facet>
												<h:outputText value="#{cIssue.descriptionState}"/>
											</p:column>	
											
											<p:column styleClass="content-center">
												<f:facet name="header"> 
													<h:outputText value="#{gmsgs['btn.view']}" />
												</f:facet>
												<p:commandLink id="cmlDownload" 
															   styleClass="icon" 
															   global="false" 
															   ajax="false"
															   immediate="true" 
															   process="@this"
															   onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
													<p:fileDownload	value="#{issuanceModificationMgmtBean.getStreamedContentFromFile(cIssue.documentFile,null,cIssue.fileName)}" />
													<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
												</p:commandLink>
											</p:column>
											
											<p:column styleClass="content-center"> 
												<f:facet name="header"> 
													<h:outputText value="#{gmsgs['btn.remove']}" />
												</f:facet>
												<p:commandLink id="cmbRemoveIsssuCert" 
															   process="@this"
															   update=":frmIssueMgmt:cnfRemIsssuanceCert"
															   actionListener="#{issuanceModificationMgmtBean.beofreRemoveIssuanceCertivicateHandler}"
															   styleClass="icon">
													<f:attribute name="cIssuanceSelected" value="#{cIssue}"/>
													<p:graphicImage id="imgRemoveLnk"
																	library="img" 
																	name="buttons/remove.png"/>
												</p:commandLink>
											</p:column>	
											
											
										</p:dataTable>
										
											<p:confirmDialog id="cnfRemIsssuanceCert" 
															 severity="alert"
															 widgetVar="cnfwRemIsssuanceCert"
															 closable="false">
												<f:facet name="header">
													<h:outputText value="#{msgs['lbl.header.alert.confirm']}" />
												</f:facet>
												<f:facet name="message">
													<h:outputFormat
														value="#{msgs['issuance.documentFile.lbl.remove']}">
													</h:outputFormat>
												</f:facet>
												<p:commandButton id="cmbConfirmRem" 
																 value="#{msgs['btn.yes']}"
																 process="@this"
															   	 update=":frmIssueMgmt:opnlDtbCertificateIssue"
															     actionListener="#{issuanceModificationMgmtBean.certificateIssuanceRemoveHandler}"
															     oncomplete="PF('cnfwRemIsssuanceCert').hide();">
												</p:commandButton>
												
												<p:commandButton value="#{msgs['btn.no']}"
																onclick="PF('cnfwRemIsssuanceCert').hide()" type="button" />
												
											</p:confirmDialog>
										</p:outputPanel>
									</td>
								</tr>
							</table>
						</p:outputPanel>
						
					</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td align="center"> 
						<p:commandButton id="cmbSave" 
										 value="#{gmsgs['btn.save']}" 
										 action="#{issuanceModificationMgmtBean.beforeSaveIssueHandler}" 										
										 update="@form :opnlGenericDialogs"
										 icon="fa fa-save" 
										 partialSubmit="true"
										 /> 

						&nbsp;
	
						<p:commandButton id="cmbClean" 
										 value="#{gmsgs['btn.clean']}"
										 icon="fa fa-trash"
										 update=":frmIssueMgmt"
										 onclick="return showCleanConfirmDialog(this);"
										 immediate="true"
										 action="#{issuanceModificationMgmtBean.cleanIssuanceMgmt}"
										 oncomplete="PF('cnfwClean').hide()"
										 rendered="#{issuanceModificationMgmtBean.viewOperationRegister}"
										 process="@this" 
										 partialSubmit="false"/> 
						&nbsp;
	 
	 					<p:commandButton id="cmbBack" 							    
							     onclick="if(isModifiedFormForBack(this,'frmIssueMgmt'))return false;"
							     action="#{issuanceModificationMgmtBean.backToSearchPageHandler}"	
								 value="#{gmsgs['btn.back']}" 
								 icon="fa fa-undo"
								 immediate="true"
								 ajax="false"/>					
					</td>
				</tr>
			</table> 

				<p:confirmDialog id="cnfIssuanceMgmt" 
								 severity="alert"
								 widgetVar="cnfwIssuanceMgmt"
								 closable="false">
					<f:facet name="header">
						<h:outputFormat
							value="#{headerMessageView}" 
							rendered="#{headerMessageView != null}"/>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{bodyMessageView}"
							rendered="#{bodyMessageView != null}">
						</h:outputFormat>
					</f:facet>
					<p:commandButton id="cmbConfirm" 
									value="#{msgs['btn.yes']}"														
									action="#{issuanceModificationMgmtBean.saveIssuanceHandler}"	
									process="@this opnlIssuanceData opnlIssuanceAmounts dtbCertificateIssue"
									update="opnlIssuanceData opnlIssuanceAmounts IssuanceMgmtOk :opnlEndTransaction :cnfMsgCustomValidationSec">
					</p:commandButton>
					
					<p:commandButton value="#{msgs['btn.no']}"
									onclick="PF('cnfwIssuanceMgmt').hide()" type="button" />
					
				</p:confirmDialog>
				<p:confirmDialog id="IssuanceMgmtOk"
				     widgetVar="cnfEndTransaction" severity="alert"
				     closable="false">
				     <f:facet name="header">
						<h:outputFormat
							value="#{headerMessageView}" 
							rendered="#{headerMessageView != null}"/>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{bodyMessageView}"
							rendered="#{bodyMessageView != null}">
						</h:outputFormat>
					</f:facet>
				     <p:commandButton id="cmbConfirmOk" value="#{msgs['btn.accept']}"
				      action="searchIssuanceMgmt" actionListener="#{issuanceModificationMgmtBean.clearAfterSave}" ajax="false" immediate="true"
				      process="@this" update="@form" />
				 </p:confirmDialog>
		</h:form>		
	</ui:define>
</ui:composition>
</html>