<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
	<ui:define name="body">
	
		<h:outputText value="#{gmsgs['isecurities.issuance.detailissuances.title']}" styleClass="title-page" />
		<h:form id="frmIssueMgmt">
			<table width="100%"> 
			
				<tr> 
					<td> 
						<p:fieldset id="fldIssuanceData" legend="#{msgs['issuance.lbl.data']}" >
						<p:outputPanel id="opnlIssuanceData">
							<table width="100%"> 
								<tr> 
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.code']}" 
													  />
									</td>
									<td> 
										<p:inputText id="txtIdIssueCodePk" 
													 value="#{issuanceMgmtBean.issuanceAux.idIssuanceCodePk}"
													 label="#{msgs['issuance.lbl.code']}"
													 autocomplete="false"
													 disabled="true"/>	 
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.description']} (*)"  styleClass="required-field"/>
									</td>
									<td colspan="3">
										<p:inputText id="txtDescription" 
													 styleClass="large-input-text-width" 
													 maxlength="100" 
													 value="#{issuanceMgmtBean.issuanceAux.description}"
													 label="#{msgs['issuance.lbl.description']}"
													 autocomplete="false"
													 disabled="true">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>												 
									   </p:inputText>
									</td>
								</tr>							
								<tr>
									<td><h:outputText value="#{msgs['issuer.lbl.issuer']} (*)"  styleClass="required-field"/>
									</td>
									<td colspan="3">
										<p:inputText id="txtIssuerDes"
											 value="#{issuanceMgmtBean.issuanceAux.issuer.businessNameCode}"  
											 style="width:420px;"
											 disabled="true"/>
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.country']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboCountry"
															 value="#{issuanceMgmtBean.issuanceAux.geographicLocation.idGeographicLocationPk}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.country']}"
															 disabled="true"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboGeographicLocation}"
															   var="geo" 
															    itemLabel="#{geo.name}" itemValue="#{geo.idGeographicLocationPk}"/>
											</p:selectOneMenu>
											<p:message for="cboCountry"   display="icon"/>
										</h:panelGrid>										
									</td>					
								</tr>
								<tr> 											
									<td><h:outputText value="#{msgs['issuance.lbl.instrument.type']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboInstrumentType"
															 value="#{issuanceMgmtBean.issuanceAux.instrumentType}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.instrument.type']}"
															 onchange="if(this.value=='')rcmbInstrumentType()"
															 disabled="true"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboInstrumentType}"
															   var="insType"
															   itemValue="#{insType.parameterTablePk}" itemLabel="#{insType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceMgmtBean.loadCboSecuritieTypeByInstrumentHandlerAux}"
														update="cboSecurityType,cboSecurityClass,cboIssueType,msgIssueType,opnlIssuanceAmounts"
														process="@this"/>	
											</p:selectOneMenu>
											
											<p:remoteCommand name="rcmbInstrumentType"
															 action="#{issuanceMgmtBean.loadCboSecuritieTypeByInstrumentHandlerAux}"
															 process="@this"
															 global="false"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceMgmtBean.issuanceAux.instrumentType}" value="#{null}" />				 
											</p:remoteCommand>
											<p:message for="cboInstrumentType"	   display="icon"/>
										</h:panelGrid>										
									</td>
									<td>						
										<h:outputText value="#{msgs['issuance.lbl.security.type']} (*)" styleClass="required-field"/>										
									</td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboSecurityType"
															 value="#{issuanceMgmtBean.issuanceAux.securityType}"	
															 style="width:200px"
															 label="#{msgs['issuance.lbl.security.type']}"
															 onchange="if(this.value=='')rcmbSecurityType()"
															disabled="true"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboSecuritieType}"
															   var="secType"
															   itemValue="#{secType.parameterTablePk}" itemLabel="#{secType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceMgmtBean.loadCboSecuritieClassBySecuritieTypeHandlerAux}"
														update="cboSecurityClass"    
														process="@this"/>		   
											</p:selectOneMenu>
											
											<p:remoteCommand name="rcmbSecurityType"
															 action="#{issuanceMgmtBean.loadCboSecuritieClassBySecuritieTypeHandlerAux}"
															 update="cboSecurityClass"
															 process="@this"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceMgmtBean.issuanceAux.securityType}" value="#{null}" />
											</p:remoteCommand>
											<p:message for="cboSecurityType"   display="icon"/>
											</h:panelGrid>										
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.security.class']} (*)" styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboSecurityClass"
															 value="#{issuanceMgmtBean.issuanceAux.securityClass}"
															 style="width:200px"
															 label="#{msgs['issuance.lbl.security.class']}"
															 disabled="true"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboSecuritieClass}"
															   var="secClass"
															   itemValue="#{secClass.parameterTablePk}" itemLabel="#{secClass.parameterName}"/>
											</p:selectOneMenu>
											<p:message for="cboSecurityClass"   display="icon"/>
										</h:panelGrid>										
									</td>
								</tr>							
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.type']} (*)"	styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboIssueType"
															 value="#{issuanceMgmtBean.issuanceAux.issuanceType}"
															 style="width:200px"
															 disabled="true"
															 label="#{msgs['issuance.lbl.issuance.type']}"
															 onchange="if(this.value=='')rcmbIssueType()"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboIssueType}"
															   var="iType"
															   itemValue="#{iType.parameterTablePk}" itemLabel="#{iType.parameterName}"/>
												<p:ajax event="change"
														listener="#{issuanceMgmtBean.changeCboIssueTypeHandlerAux}"
														process="@this"  
														update="txtNumberTotalTranches,txtNumberPlacementTranches,cboIssueType,msgIssueType"/>	
												<f:attribute name="attrInstrumentType" value="#{issuanceMgmtBean.issuanceAux.instrumentType}"/>	
												<f:validator validatorId="com.pradera.secuities.issuancesecuritie.view.validator.SelectOneMenuIssueTypeValidator"/>
											</p:selectOneMenu>
											<p:remoteCommand name="rcmbIssueType"
															 process="@this"
															 update="txtNumberTotalTranches,txtNumberPlacementTranches,cboIssueType,msgIssueType"
															 immediate="true">
												<f:setPropertyActionListener target="#{issuanceMgmtBean.issuanceAux.issuanceType}" value="" />
											</p:remoteCommand>
											<p:message id="msgIssueType"   for="cboIssueType"    display="icon"/>
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['lbl.currency']} (*)" styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboCurrency"
														     value="#{issuanceMgmtBean.issuanceAux.currency}"
															 style="width:200px"
															 label="#{msgs['lbl.currency']}"
															 disabled="true"> 
												<f:selectItem itemValue="" itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboCurrencyType}"
															   var="cur"
															   itemValue="#{cur.parameterTablePk}" itemLabel="#{cur.parameterName}"/>
											</p:selectOneMenu>
											<p:message for="cboCurrency"   display="icon"/>
										</h:panelGrid>										
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.date']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueDate" 
														value="#{issuanceMgmtBean.issuanceAux.issuanceDate}"
														showOn="button" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.issuance.date']}"
														size="10"
														navigator="true"
														showButtonPanel="true" disabled="true">
												<p:ajax event="dateSelect" 
														update="calIssueRegisterDate,calIssueExpirationDate,calResolutionDate"
														process="@this"
														/>
											</p:calendar>
											<p:message for="calIssueDate"   display="icon"/>
										</h:panelGrid>										
									</td>									
								</tr>																
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.ind.primary.placement']}" /></td>
									<td> 
										<h:panelGrid columns="3">
											<p:selectOneMenu id="cboIndPrimaryPlacement"
															 value="#{issuanceMgmtBean.issuanceAux.indPrimaryPlacement}"
															 onchange="if(this.value=='')rCmdIndPlacementTranche()"
															 label="#{msgs['issuance.lbl.ind.primary.placement']}"
															 disabled="true"
															 styleClass="combo-widh-medium clsCboInstrumentTypeUpd">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboBooleanType}" 
	 														   var="bool"
															   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>	
												<p:ajax update="@(.clsPrimaryPlacementUpd)"
														listener="#{issuanceMgmtBean.changeCboIndPlacementTrancheAux}"
														process="@this"
														partialSubmit="true"/>		   
											</p:selectOneMenu>
											
											<p:remoteCommand name="rCmdIndPlacementTranche"
															  action="#{issuanceMgmtBean.changeCboIndPlacementTrancheAux}"
															  update="@(.clsPrimaryPlacementUpd)"
															  process="@this"
															  partialSubmit="true">
												<f:setPropertyActionListener target="#{issuanceMgmtBean.issuanceAux.indPrimaryPlacement}" value="#{null}" />				  
											</p:remoteCommand>
											<p:outputPanel styleClass="clsCboInstrumentTypeUpd">
												<p:message for="cboIndPrimaryPlacement"  
														   display="icon"/>
											</p:outputPanel>		   
										</h:panelGrid>										
									</td>									
									<td><h:outputText value="#{msgs['issuance.lbl.placement.type']} (*)"   styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboPlacementType"
															 value="#{issuanceMgmtBean.issuanceAux.placementType}"
															 disabled="true"
															 label="#{msgs['issuance.lbl.placement.type']}"
															 styleClass="clsPrimaryPlacementUpd"
															 style="width:200px"> 
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboSecurityPlacementType}"
															   var="plcType"
															   itemLabel="#{plcType.value}" itemValue="#{plcType.code}"/>
												<f:validator validatorId="selectOneRequiredValidator"/>			   
											</p:selectOneMenu>
											<p:message for="cboPlacementType"   display="icon"/>
										</h:panelGrid>										
									</td>
									<td>
											<h:outputText value="#{msgs['issuance.lbl.expiration.date']} (*)"  
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueExpirationDate" 
														value="#{issuanceMgmtBean.issuanceAux.expirationDate}"
														showOn="button" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.expiration.date']}"
														mindate="#{issuanceMgmtBean.issuanceAux.issuanceDate}"
														size="10"
														navigator="true"
														showButtonPanel="true" disabled="true"
														> 
											 </p:calendar>
											  <p:message for="calIssueExpirationDate"  display="icon"/>
										</h:panelGrid>	
									</td>									
								</tr>
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.number.total.tranches']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtNumberTotalTranches" 
														value="#{issuanceMgmtBean.issuanceAux.numberTotalTranches}"
														label="#{msgs['issuance.lbl.number.total.tranches']}"
													
														style="text-align:right;" disabled="true">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>		
											</p:inputText>
											<p:message for="txtNumberTotalTranches"   display="icon"/>
										</h:panelGrid>										
									</td>									
									<td><h:outputText value="#{msgs['issuance.lbl.number.placement.tranches']}" /></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtNumberPlacementTranches" 
														value="#{issuanceMgmtBean.issuanceAux.numberPlacementTranches}"
														disabled="true"
														label="#{msgs['issuance.lbl.number.placement.tranches']}"
														style="text-align:right;">
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>			
											</p:inputText>
											<p:message for="txtNumberPlacementTranches"   display="icon"/>
										</h:panelGrid>										
									</td>								
									<td>
										<h:outputText value="#{msgs['issuance.lbl.issuance.term']} (*)"
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtIssuanceTerm"
														 value="#{issuanceMgmtBean.issuanceTerm}"
														 size="10"
														 styleClass="content-right"
														 maxlength="10"
														disabled="true">
												<f:convertNumber pattern="#{const['pattern.quantity']}"/>
												<p:ajax listener="#{issuanceMgmtBean.insertIssuanceAuxTerm}" 
														event="blur" 
														process="@this"
														global="false"/>											 
											</p:inputText>
											<p:message for="txtIssuanceTerm"
													   display="icon"/>
										</h:panelGrid>
									</td>									
								</tr>
								<tr>
									<td>		
										<h:outputText id="lblPlacementTerm" value="#{msgs['issuance.lbl.placement.term']}  #{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc == false ? '(*)' : '' }"
													  styleClass="#{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td>
										<h:panelGrid columns="2">
											<p:inputText id="txtPlacementTerm" value="#{issuanceMgmtBean.issuanceAux.placementExpirationDays}" label="#{msgs['issuance.lbl.placement.term']}"
														 size="10" styleClass="content-right clsTxtPlacementTermUpd cboSecurityClassUpd"
														 maxlength="10" disabled="true">	
												<p:keyFilter regEx="#{cons['exp.regular.numeric.unsigned']}"/>
												<f:convertNumber pattern="#{const['pattern.quantity']}"/>
												<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator" disabled="#{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc}"/>
												<p:ajax listener="#{issuanceMgmtBean.changePlacementExpirationDays}" 
														event="blur" process="@this"
														update="@(.clsTxtPlacementTermUpd),:cnfMsgCustomValidationSec,calPlacementExpirationDate,mstPlacementExpDate"
														global="false"/>											 
											</p:inputText>
											<p:outputPanel styleClass="clsTxtPlacementTermUpd">		
											<p:message for="txtPlacementTerm" styleClass="cboSecurityClassUpd"
													   display="icon"/>
											</p:outputPanel>
										</h:panelGrid>
									</td>
									
									<td>
										<h:outputText id="lblPlacementExpirationDate" value="#{msgs['issuance.lbl.placement.expiration.date']} #{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc == false ? '(*)' : '' }"  
													   styleClass="#{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc == false ? 'required-field' : '' }"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calPlacementExpirationDate"  
														value="#{issuanceMgmtBean.issuanceAux.placementExpirationDate}"
														showOn="both"
														disabled="true"
														styleClass="clsCboIndPrimaryPlacementUpd clsCboSecurityTypeUpd cboSecurityClassUpd"
														yearRange="#{cons['cal.year.range']}" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.placement.expiration.date']}"
														size="10"
														navigator="true"
														showButtonPanel="false" 
														readonlyInput="true"														
														mindate="#{issuanceMgmtBean.limitMinDateExpirationDate()}"
														> 
												<f:validator validatorId="com.pradera.commons.view.validators.CalendarValidator" disabled="#{issuanceMgmtBean.issuanceAux.variableInstrumentTypeAcc}"/>												
												<p:ajax listener="#{issuanceMgmtBean.changePlacementExpirationDate}" 
														event="dateSelect" 
														process="@this"
														update="mstPlacementExpDate,calPlacementExpirationDate,txtPlacementTerm,mstPlacementExpDate,uplPlacementExtDate"
														global="false"/>
											 </p:calendar>
											 <p:outputPanel id="uplPlacementExtDate">
											   <p:message id="mstPlacementExpDate" 
											   			  for="calPlacementExpirationDate"
											   			  display="icon"/>
										   	</p:outputPanel>
										</h:panelGrid>	
									</td>	
									
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.days.life.time']}" /></td>
									<td>
									<p:inputText disabled="true" styleClass="content-right" size="10" value="#{issuanceMgmtBean.getDaysPassedIssuance(issuanceMgmtBean.issuanceAux.issuanceDate,issuanceMgmtBean.issuanceAux.expirationDate)}" />
										
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.days.passed']}" /></td>
									<td>
									<p:inputText disabled="true" styleClass="content-right" size="10" value="#{issuanceMgmtBean.getDaysLifeTimeIssuance(issuanceMgmtBean.issuanceAux.issuanceDate,issuanceMgmtBean.issuanceAux.expirationDate)}" />
										
									</td>
								</tr>
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.ratings']}"/></td>
									<td> 
										<p:selectOneMenu id="cboRating"
														 value="#{issuanceMgmtBean.issuanceAux.creditRatingScales}"
														 disabled="true"
														 style="width:200px"
														 label="#{msgs['issuance.lbl.ratings']}"> 
											<f:selectItem itemLabel="#{issuanceMgmtBean.parametersTableMap.get(issuanceMgmtBean.issuanceAux.creditRatingScales)}"
												itemValue="#{issuanceMgmtBean.issuanceAux.creditRatingScales}" />
										</p:selectOneMenu>
									</td>								
									<td><h:outputText value="#{msgs['issuance.lbl.resolution.number']}" /></td>
									<td>  
										<h:panelGrid columns="2">
											<p:inputText id="txtResolutionNumber" 
														 value="#{issuanceMgmtBean.issuanceAux.resolutionNumber}"
														 label="#{msgs['issuance.lbl.resolution.number']}" disabled="true">
												<p:keyFilter regEx="#{cons['exp.regular.alphanumeric.not.space']}"/>		 
											</p:inputText>
											<p:message for="txtResolutionNumber"   display="icon"/>
										</h:panelGrid>										
									</td>									
									<td>
										<h:outputText value="#{msgs['issuance.lbl.register.date']} (*)"  
													  styleClass="required-field"/>
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calIssueRegisterDate" 
														value="#{issuanceMgmtBean.issuanceAux.registryDate}"
														showOn="button" 
														pattern="#{cons['dateFormat']}"
														label="#{msgs['issuance.lbl.register.date']}"
														maxdate="#{issuanceMgmtBean.issuanceAux.issuanceDate}"
														size="10"
														navigator="true"
														showButtonPanel="true"
														disabled="true">
											</p:calendar>
											<p:message for="calIssueRegisterDate"   display="icon"/>
										</h:panelGrid>	
									</td>									
								</tr>							
								<tr> 
									<td>
										<h:outputText value="#{msgs['issuance.lbl.ind.have.documentFile']} (*)"  styleClass="required-field"/>
									</td>
									<td align="left">
										<h:panelGrid columns="2">
											<p:selectOneMenu id="cboIndHaveCertificate" 
															 value="#{issuanceMgmtBean.issuanceAux.indHaveCertificate}" 
															 styleClass="combo-widh-medium"
															 label="#{msgs['issuance.lbl.ind.have.documentFile']}"
															 disabled="true">
												<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
												<f:selectItems value="#{issuanceMgmtBean.lstCboBooleanType}" 
	 														   var="bool"
															   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
												<p:ajax event="change"
														listener="#{issuanceMgmtBean.changeCboHasCertificateHandler}"
														process="@this"/>	
												<f:validator validatorId="selectOneRequiredValidator"/>			   
											</p:selectOneMenu>
											<p:message id="msgIndHaveCertificate" 	for="cboIndHaveCertificate"	display="icon"/>
										</h:panelGrid>																			
									</td>	
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.regulator.report']} (*)" 
													  styleClass="required-field"/>								
									</td>	
									<td>
										<p:selectOneMenu id="cboRegulatorReport" 
														 value="#{issuanceMgmtBean.issuanceAux.indRegulatorReport}" 
														 style="width:200px"
														 label="#{msgs['issuance.lbl.regulator.report']}"
														 disabled="true"
														>
											<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
											<f:selectItems value="#{issuanceMgmtBean.lstCboBooleanType}" 
 														   var="bool"
														   itemLabel="#{bool.value}" itemValue="#{bool.code}"/>
											<f:validator validatorId="selectOneRequiredValidator"/>		
										</p:selectOneMenu>
									</td>
									<td> 
										<h:outputText value="#{msgs['issuance.lbl.resolution.date']}" />
									</td>
									<td> 
										<h:panelGrid columns="2">
											<p:calendar id="calResolutionDate" 
														value="#{issuanceMgmtBean.issuanceAux.resolutionDate}"
														showOn="button" 
														pattern="#{cons['dateFormat']}"
														maxdate="#{issuanceMgmtBean.issuanceAux.issuanceDate}"
														label="#{msgs['issuance.lbl.resolution.date']}"
														size="10"
														navigator="true"
														showButtonPanel="true"  disabled="true"
														/>
											<p:message for="calResolutionDate"	display="icon"/>
										</h:panelGrid>	
									</td>							
								</tr>
								<tr>
									<td>
										<h:outputText value="#{msgs['issuance.lbl.issuance.endorsement']}" />
									</td>
									<td colspan="1">
										<p:inputText id="txtEndorsement" 
													 maxlength="30" 
													 value="#{issuanceMgmtBean.issuanceAux.endorsement}"
													 label="#{msgs['issuance.lbl.issuance.endorsement']}"
													 autocomplete="false"
													 disabled="true">
											<p:keyFilter regEx="#{cons['exp.regular.alphanumeric']}"/>												 
									   </p:inputText>
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.testimony']}" /></td>
									<td> 
										<p:inputTextarea style="width:80%" id="txtTestimony"
														maxlength="200" 
														value="#{issuanceMgmtBean.issuanceAux.testimonyNumber}"
														label="#{msgs['issuance.lbl.issuance.testimony']}"
														disabled="true" >											
											<p:keyFilter regEx="#{cons['exp.regular.description']}"/>
										</p:inputTextarea>										
									</td>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.testimony.date']}" /></td>
									<td> 
										<h:panelGrid columns="2">
										<p:calendar id="calTestimonyDate" 
													value="#{issuanceMgmtBean.issuanceAux.testimonyDate}"
													showOn="button"
													pattern="#{cons['dateFormat']}"														
													maxdate="#{issuanceMgmtBean.issuance.testimonyDate}"
													label="#{msgs['issuance.lbl.issuance.testimony.date']}"
													size="10"
													navigator="true"
													showButtonPanel="true"
													disabled="true">												
										</p:calendar>
										<p:message for="calTestimonyDate" id="msgCalTestimonyDate" display="icon"/>
									   </h:panelGrid>	
									</td>
								</tr>
								<tr>
									<td><h:outputText value="#{msgs['issuance.lbl.issuance.allowed.exchageSecurities']}" /></td>
									<td> 
										<p:selectOneMenu id="cboAllowedExchageSecurities" 
														 value="#{issuanceMgmtBean.issuanceAux.indExchangeSecurities}" 
														 style="width:200px" disabled="true"
														 label="una Opcion" >
											<f:selectItems value="#{issuanceMgmtBean.lstCboBooleanType}" 
	 														   var="boolExhangeSec"
															   itemLabel="#{boolExhangeSec.value}" itemValue="#{boolExhangeSec.code}"/>
											<p:ajax event="change" process="@this" update="@this" />
										</p:selectOneMenu>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>						
							</table>
					</p:outputPanel>
					</p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 
					  <p:fieldset id="fldIssuacenAmounts" legend="#{msgs['issuance.lbl.amounts']}">
						<p:outputPanel id="opnlIssuanceAmounts">
							<table width="100%" >
								<tr> 
									<td><h:outputText value="#{msgs['issuance.lbl.issued.amount']} (*)"  styleClass="required-field"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtIssuedAmount"  
														 	value="#{issuanceMgmtBean.issuanceAux.issuanceAmount}"
														 	styleClass="cashAmount-inputField"
														 	label="#{msgs['issuance.lbl.issued.amount']}"
														 	disabled="true">	
											  	<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	 	
											</p:inputText>
											<p:message for="txtIssuedAmount"  display="icon"/>	
										</h:panelGrid>										
									</td>								
									<td><h:outputText value="#{msgs['issuance.lbl.available.amount']}"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtAvailableAmount"
															value="#{issuanceMgmtBean.issuanceAux.amountAvailable}"
															label="#{msgs['issuance.lbl.available.amount']}"
															disabled="true"
															styleClass="cashAmount-inputField">
													<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
											</p:inputText>
											<p:message for="txtAvailableAmount"	display="icon"/>
										</h:panelGrid>										
									</td>
								</tr>
								<tr>
									<td>									
										<h:outputText value="#{msgs['issuance.lbl.placed.amount']}"  rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"/>													  
										<h:outputText value="#{msgs['issuance.lbl.circulation.amount']}"  rendered="#{issuanceMgmtBean.variableIncomeInstrumentType}"/>
									</td>
									<td> 
										<h:panelGrid columns="4">
											<p:inputText id="txtPlacedAmount"
														 	value="#{issuanceMgmtBean.issuanceAux.placedAmount}"
														 	disabled="true"
														 	rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"
														 	styleClass="cashAmount-inputField">
													<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>	
											</p:inputText>
														 	
											<p:inputText id="txtCirculationAmount"
															value="#{issuanceMgmtBean.issuanceAux.circulationAmount}"
															rendered="#{issuanceMgmtBean.variableIncomeInstrumentType}"
															disabled="true"
															styleClass="cashAmount-inputField">
													<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>			
											</p:inputText>
											<p:message for="txtPlacedAmount"   display="icon"   rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"/>
													   
											<p:message for="txtCirculationAmount"   display="icon"   rendered="#{issuanceMgmtBean.variableIncomeInstrumentType}"/>
										</h:panelGrid>										
									</td>									
									<td><h:outputText value="#{msgs['issuance.lbl.amortization.amount']}"  rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"/></td>
									<td> 
										<h:panelGrid columns="2">
											<p:inputText id="txtAmortizationAmount"
														    value="#{issuanceMgmtBean.issuanceAux.amortizationAmount}"
														    rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"
														    disabled="true"
														    styleClass="cashAmount-inputField">
												<f:convertNumber pattern="#{cons['conv.number.pattern.cash.amount']}" locale="#{cons['conv.number.locale']}"/>				    
											</p:inputText>
											<p:message for="txtAmortizationAmount"
													   display="icon"
													   rendered="#{issuanceMgmtBean.fixedIncomeInstrumentTypeAux}"/>	
											</h:panelGrid>
									</td>																	
								</tr>																
							</table>
						</p:outputPanel>
					  </p:fieldset>
					</td>
				</tr>
				<tr> 
					<td> 
					<p:fieldset id="fldIssuanceCertificate" 
								legend="#{msgs['issuance.lbl.documentFile.issue']}"
								toggleable="true">
						<p:outputPanel id="opnlCertificateIssue">
							<table width="100%"> 
								<tr> 
									<td colspan="7"> 					
									<br/>
										<h:outputText value="#{msgs['issuance.certificate.lbl.no.documents.titles']}" 
													  rendered="#{empty issuanceMgmtBean.issuanceAux.issuanceFiles}"
													  style="font-weight:bold;"/>
									
										<p:dataTable id="dtbCertificateIssue"
													 value="#{issuanceMgmtBean.issuanceAux.issuanceFiles}"
													 var="cObs"
													 rendered="#{not empty issuanceMgmtBean.issuanceAux.issuanceFiles}"> 
											<f:facet name="header"> 
												<h:outputText value="#{msgs['issuance.lbl.documentFile.issue']}" />
											</f:facet>
											
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuance.documentFile.col.number']}" />
												</f:facet>
												<h:outputText value="#{cObs.documentNumber}"/>
											</p:column>	
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuance.documentFile.col.date']}" />
												</f:facet>
												<h:outputText value="#{cObs.documentDate}">
													<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
												</h:outputText>
											</p:column>	
											<p:column> 
												<f:facet name="header"> 
													<h:outputText value="#{msgs['issuer.lbl.state']}" />
												</f:facet>
												<h:outputText value="#{cObs.descriptionState}"/>
											</p:column>	
											
											<p:column styleClass="content-center">
												<f:facet name="header"> 
													<h:outputText value="#{msgs['lbl.view']}" />
												</f:facet>
												<p:commandLink id="cmlDownload" 
															   styleClass="icon" 
															   global="false" 
															   ajax="false"
															   immediate="true" 
															   process="@this"
															   onclick="PrimeFaces.monitorDownload(startStatus, stopStatus)">
													<p:fileDownload	value="#{issuanceMgmtBean.getStreamedContentFromFile(cObs.documentFile,null,cObs.fileName)}" />
													<p:graphicImage id="imgView" library="img" name="icons/loupe.png"/>
												</p:commandLink>
											</p:column>
										</p:dataTable>
									</td>
								</tr>
							</table>
						</p:outputPanel>
					   </p:fieldset>
					</td>
				</tr>
				<tr> 
					<td align="center"> 
						
						
								<p:commandButton id="cmbReview"
												 value="#{msgs['btn.review']}"
												 action="#{issuanceMgmtBean.beforeStations('review')}"
												 update="@form "
												 icon="ui-review"
												 rendered="#{issuanceMgmtBean.viewOperationReview}"
												 />	
									&nbsp;			 
								<p:commandButton id="cmbApprove"
												 value="#{msgs['btn.approve']}"
												 action="#{issuanceMgmtBean.beforeStations('approve')}"
												 update="@form "
												 icon="ui-approve"
												 rendered="#{issuanceMgmtBean.viewOperationApprove}"/>
									&nbsp;			 	
								<p:commandButton id="cmbConfirm"
												 value="#{msgs['btn.confirm']}"
												 action="#{issuanceMgmtBean.beforeStations('confirm')}"
												 update="@form "
												 icon="ui-confirm"
												 rendered="#{issuanceMgmtBean.viewOperationConfirm}"/>
									&nbsp;
								<p:commandButton id="cmbReject"
												 value="#{msgs['btn.reject']}"
												 action="#{issuanceMgmtBean.beforeStations('reject')}"
												 update="@form :opnlGenericDialogs :cnfMsgCustomValidationSec"
												 icon="ui-remove"												 
												  rendered="#{issuanceMgmtBean.viewOperationReject}"/>
									&nbsp;	 
								<p:commandButton id="cmbBack" 
												 value="#{gmsgs['btn.back']}" 
												 action="#{issuanceMgmtBean.backSearchIssuance}" partialSubmit="false"
												 immediate="true" ajax="false"
												 process="@this"
												 icon="fa fa-undo"  />  
					</td>
				</tr>
			</table>
			<table>
			<tr>
				<td>
				<p:fieldset id="fldIssuanceObs" 
							legend="#{msgs['issuance.lbl.observations.issue']}"
							toggleable="true">
					<p:outputPanel id="opnlObs">
					<table width="100%"> 
						<tr> 
							<td colspan="7"> 					
							<br/>
								<h:outputText value="#{msgs['lbl.datatable.empty']}" 
											  rendered="#{empty issuanceMgmtBean.issuanceObsList}"
											  style="font-weight:bold;"/>							
								<p:dataTable id="dtbObsDetail"
											 value="#{issuanceMgmtBean.issuanceObsList}"
											 var="cIssue"
											 rendered="#{not empty issuanceMgmtBean.issuanceObsList}"> 
									<f:facet name="header"> 
										<h:outputText value="#{msgs['issuance.lbl.observations.issue']}" />
									</f:facet>									
									<p:column> 
										<f:facet name="header"> 
											<h:outputText value="#{msgs['issuance.code']}" />
										</f:facet>
										<h:outputText value="#{cIssue.issuance.idIssuanceCodePk}"/>
									</p:column>	
									<p:column> 
										<f:facet name="header"> 
											<h:outputText value="#{msgs['issuance.observations.obstext']}" />
										</f:facet>
										<h:outputText value="#{cIssue.obsText}" />											
									</p:column>	
									<p:column> 
										<f:facet name="header"> 
											<h:outputText value="#{msgs['issuance.observations.obsdate']}" />
										</f:facet>
										<h:outputText value="#{cIssue.obsDate	}">
											<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
										</h:outputText>
									</p:column>	
									<p:column> 
										<f:facet name="header"> 
											<h:outputText value="#{msgs['issuer.lbl.state']}" />
										</f:facet>
										<h:outputText value="#{cIssue.obsState == 0 ? 'OBSERVADO' : 'SUBSANADO'}"/>
									</p:column>									
								</p:dataTable>
							</td>
						</tr>
					</table>
					</p:outputPanel>
				</p:fieldset>
				</td>
			</tr>
			</table> 
			
			<p:confirmDialog id="cnfIssuanceMgmt" 
								 severity="alert"
								 widgetVar="cnfwIssuanceMgmt"
								 closable="false">
					<f:facet name="header">
						<h:outputFormat
							value="#{headerMessageView}" 
							rendered="#{headerMessageView != null}"/>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{bodyMessageView}"
							rendered="#{bodyMessageView != null}">
						</h:outputFormat>
					</f:facet>
					<p:commandButton id="cmbConfirm2" 
									value="#{msgs['btn.yes']}"														
									action="#{issuanceMgmtBean.optionOperation}"	
									process="@form"
									update="@form :opnlGenericDialogs :cnfMsgCustomValidationSec">
					</p:commandButton>
					
					<p:commandButton value="#{msgs['btn.no']}"
									onclick="PF('cnfwIssuanceMgmt').hide()" type="button" />
					
				</p:confirmDialog>
				
				<p:confirmDialog id="cnfIssuanceMgmtOk" 
								 severity="alert"
								 widgetVar="cnfIssuanceMgmtOk"
								 closable="false">
					<f:facet name="header">
						<h:outputFormat
							value="#{headerMessageView}" 
							rendered="#{headerMessageView != null}"/>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{bodyMessageView}"
							rendered="#{bodyMessageView != null}">
						</h:outputFormat>
					</f:facet>
					<p:commandButton id="cmbConfirm3" 
									value="#{msgs['btn.accept']}"														
									action="#{issuanceMgmtBean.backSearchIssuance}"	
									process="@form"
									update="@form :opnlGenericDialogs :cnfMsgCustomValidationSec">
					</p:commandButton>
					
				</p:confirmDialog>
				
				<p:dialog header="#{msgs['send.modal.header']}"	id="sendDetail" widgetVar="sendDetailVar" 
				          width="700" modal="true" closable="false">
					<p:fieldset id="fldsFiltros" legend="#{msgs['msg.issuance.reject.observation']}">
						<table width="100%">	
							<tr>
								<td>
									<p:outputLabel value="#{msgs['msg.issuance.reject.observation.text']}" />
								</td>
								<td>
									<p:inputTextarea id="txtIssuanceObs"
													 value="#{issuanceMgmtBean.issuanceObs.obsText}"
													 style="width:300px;heigth:150px" autoResize="false"
													 label="#{gmsgs['lbl.comment']}"
													 rendered="true"
													 disabled="false"
													 >
										<p:keyFilter regEx="#{gconst['exp.regular.address.and.observations']}"/>										
									</p:inputTextarea>
								</td>
							</tr>
							<tr>
								<td align="center" colspan="2">
									<p:commandButton
										value="#{gmsgs['btn.back']}"
										oncomplete="PF('sendDetailVar').hide()" icon="fa fa-undo">
									</p:commandButton>
									<p:commandButton
										value="Registrar Observación"
										icon="fa fa-save"
										ajax="true"
										actionListener="#{issuanceMgmtBean.rejectOperation}"
										oncomplete="PF('sendDetailVar').hide()" >
									</p:commandButton>
								</td>
							</tr>
						</table>						
					</p:fieldset>          
				</p:dialog>	
				
				<p:confirmDialog id="cnfIssuanceRejMgmtOk" 
								 severity="alert"
								 widgetVar="cnfIssuanceRejMgmtOk"
								 closable="false">
					<f:facet name="header">
						<h:outputFormat
							value="#{msgs['lbl.header.alert.confirm']}"
							rendered="true">
						</h:outputFormat>
					</f:facet>
					<f:facet name="message">
						<h:outputFormat
							value="#{msgs['issuance.request.rejected.state.correct']}"
							rendered="true">
						</h:outputFormat>
					</f:facet>
					<p:commandButton id="cmbConfirm4" 
									value="#{msgs['btn.accept']}"														
									action="#{issuanceMgmtBean.backSearchIssuance}"	
									process="@form"
									update="@form :opnlGenericDialogs :cnfMsgCustomValidationSec">
					</p:commandButton>
				</p:confirmDialog>
				
		
		</h:form>
	</ui:define>
</ui:composition>
</html>