<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers"
      xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<h:outputText value="Generación de Planilla" styleClass="title-page" />
<p:importEnum type="com.pradera.model.custody.payroll.PayrollType" var="payrollType"/>
<h:form id="frmPayroll">
<table width="100%">
<tr>
	<td>
		<p:fieldset id="fldsFiltros" legend="Datos de Registro">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{generatePayrollManageBean.payrollHeader.payrollType}" label="Tipo Planilla"
					id="cboPayrollType">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstPayrollTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax update="@this msgPayrollType opnlResults opnlSave lblEntity inputEntity labelMotive inputMotive summary" process="@this"
						listener="#{generatePayrollManageBean.resetRegister()}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>		
				</p:selectOneMenu>
				<p:message display="icon" id="msgPayrollType" for="cboPayrollType"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="Fecha Generación"/>
			</td>
			<td width="30%">
				<p:inputText value="#{generatePayrollManageBean.payrollHeader.registerDate}" disabled="true" size="10">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</p:inputText>
			</td>						
		</tr>		
		<ui:remove>
		<tr>
			<td>
				<h:outputText value="Sucursal (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{generatePayrollManageBean.payrollHeader.branchOffice}" label="Sucursal"
					id="branchOffice">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax update="@this msgBranchOffice opnlResults opnlSave summary" process="@this" global="fals"
						listener="#{generatePayrollManageBean.cleanOperations}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>		
				</p:selectOneMenu>
				<p:message display="icon" id="msgBranchOffice" for="branchOffice"/>
				</h:panelGrid>
			</td>
		</tr>
		</ui:remove>
		
		<tr>	
			<td width="20%" >
				<p:outputPanel id="labelMotive">
				<h:outputText rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"
							  value="#{msgs['lbl.custody.operation.retirement.motive']} (*)"  styleClass="required-field"/>
				</p:outputPanel>
			</td>
			<td colspan="3" width="80%" >
				<p:outputPanel id="inputMotive">
				<h:panelGrid columns="2" rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
				<p:selectOneMenu id="motiveId" label="#{msgs['lbl.custody.operation.retirement.motive']}"  
					value="#{generatePayrollManageBean.payrollHeader.retirementMotive}" style="width:210px;">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/> 
					<f:selectItems value="#{generatePayrollManageBean.lstMotives}" 
						var="motive" itemLabel="#{motive.parameterName}" itemValue="#{motive.parameterTablePk}"/>
						<p:ajax event="change" process="@this" update="@this msgParticipant opnlResults opnlSave summary"
							listener="#{generatePayrollManageBean.cleanOperations}"/>						
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message id="motiveIdMsg" for="motiveId" display="icon"/>
				</h:panelGrid>
				</p:outputPanel>
			</td>
		</tr>
		<tr class="hidden">
			<td class="hidden">
				<p:outputPanel id="lblEntity">
				<h:outputText value="#{gmsgs['issuer.helper.detail.code']} (*)" styleClass="required-field"
					rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CORPORATIVE_OPERATION.code
					or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CERTIFICATE_OPERATION.code}"/>
				<h:outputText value="#{gmsgs['participant.lbl']} (*)" styleClass="required-field"
					rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"/>
				</p:outputPanel>
			</td>
			<td colspan="3" class="hidden">
				<p:outputPanel id="inputEntity">
				<h:panelGrid columns="2" rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CORPORATIVE_OPERATION.code
					or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CERTIFICATE_OPERATION.code}">			 	
					<ark:issuerHelper required="true" id="txtIssuer" issuer="#{generatePayrollManageBean.payrollHeader.issuer}"
						label="#{gmsgs['issuer.helper.detail.code']}" remoteListener="updateFieldIssuer()"/>
					<p:message for="frmPayroll:txtIssuer:txtIssuer" id="msgIssuer" display="icon"/>
					<p:remoteCommand name="updateFieldIssuer" global="false" process="@this" 
						update="msgIssuer frmPayroll:txtIssuer:txtIssuer opnlResults opnlSave summary"
						actionListener="#{generatePayrollManageBean.cleanOperations}"/>						
				</h:panelGrid>
				<h:panelGrid columns="2" rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
			 	<p:selectOneMenu styleClass="combo-widh-large" id="cboParticipant" label="#{gmsgs['participant.lbl']}" disabled="#{generatePayrollManageBean.blParticipant}"
			 		value="#{generatePayrollManageBean.payrollHeader.participant.idParticipantPk}">
			 		<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>					
					<f:selectItems value="#{generatePayrollManageBean.lstParticipants}" itemValue="#{participant.idParticipantPk}"
						var="participant" itemLabel="#{participant.displayDescriptionCode}"/>
					<p:ajax process="@this" update="@this msgParticipant opnlResults opnlSave summary"
						listener="#{generatePayrollManageBean.cleanOperations}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgParticipant" for="cboParticipant"/>
				</h:panelGrid>
				</p:outputPanel>
			</td>			
		</tr>
		<tr>
			<td>
				<h:outputText value="Fecha Registro Ingreso/Retiro"/>
			</td>
			<td>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{generatePayrollManageBean.payrollHeader.searchDate}"
					maxdate="#{generatePayrollManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{generatePayrollManageBean.searchOperations()}"
						update="@form" icon="fa fa-search"/>
				<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" actionListener="#{generatePayrollManageBean.cleanRegister()}"
						update="@form" icon="fa fa-trash"/>
				<p:commandButton value="#{gmsgs['btn.back']}" process="@this" action="#{generatePayrollManageBean.back}" icon="fa fa-undo"/>					
			</td>
		</tr>		
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResults">
		
		<p:panel rendered="#{generatePayrollManageBean.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" rendered="#{not empty generatePayrollManageBean.lstPayrollDetailTO}">
		
			<p:panel>
				<p:commandButton icon="ui-textList" value="#{generatePayrollManageBean.toogleText}"	
					actionListener="#{generatePayrollManageBean.toogleFunction}" 
					update="@form" process="@this"/>
			</p:panel>
		
	   		<p:dataTable value="#{generatePayrollManageBean.lstPayrollDetailTO}" 
	   			var="detail" 
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" selection="#{generatePayrollManageBean.selectedPayrollHeader}"
				currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
				rowKey="#{payroll.idPayrollHeaderPk}" paginator="false" paginatorPosition="top" >
				
				<!-- rowsPerPageTemplate="100,200,300,400,500" rows="100" -->
			
			<p:column sortBy="#{detail.idCustodyOperationPk}" headerText="N° Solicitud" styleClass="content-right"
				rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
				or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code
				or generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CERTIFICATE_OPERATION.code}">
				<h:outputText value="#{detail.idCustodyOperationPk}"/>
			</p:column>			
			
			<p:column sortBy="#{detail.idCorporativeOperationPk}" headerText="ID Corporativo" styleClass="content-right"
				rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CORPORATIVE_OPERATION.code}">
				<h:outputText value="#{detail.idCorporativeOperationPk}"/>
			</p:column>			
			<p:column sortBy="#{detail.registryDate}" styleClass="content-center" headerText="Fecha Registro">
				<h:outputText value="#{detail.registryDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{detail.descMotiveDepRetPayroll}" headerText="Motivo" styleClass="content-center">
				<h:outputText value="#{detail.descMotiveDepRetPayroll}"></h:outputText>
			</p:column>
			<p:column sortBy="#{detail.idCorporativeOperationPk}" headerText="Fecha Entrega" styleClass="content-center"
				rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.CORPORATIVE_OPERATION.code}">
				<h:outputText value="#{detail.confirmDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{detail.idSecurityCodePk}" headerText="Código de Valor" styleClass="content-center">
				<ark:securities-help securityCode="#{detail.idSecurityCodePk}" icon="false" link="true"/>
			</p:column>
			<p:column sortBy="#{detail.serialCode}" headerText="Serie" styleClass="content-center">
				<h:outputText value="#{detail.serialCode}"></h:outputText>
			</p:column>
			<p:column sortBy="#{detail.blIsCupon}" headerText="Es cupon" styleClass="content-center">
				<p:selectBooleanCheckbox value="#{detail.blIsCupon}" disabled="true"/>
			</p:column>
			<p:column sortBy="#{detail.cuponNumber}" headerText="Nro Cupon" styleClass="content-center">
				<h:outputText value="#{detail.cuponNumber}"></h:outputText>		
			</p:column>
			<p:column sortBy="#{detail.idCustodyOperationCertificatePk}" headerText="Titulo" styleClass="content-center">
				<ark:certificate-help idAnnotationOperationPk="#{detail.idCustodyOperationCertificatePk}" ></ark:certificate-help>				
			</p:column>
			<ui:remove>
			<p:column sortBy="#{detail.indSerializable}" headerText="Serializado" styleClass="content-center"
				rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<p:commandLink value="#{detail.indSerializable eq 1?'SI':'NO'}" rendered="#{detail.indSerializable eq 0}"/>
				<h:outputText value="#{detail.indSerializable eq 1?'SI':'NO'}" rendered="#{detail.indSerializable eq 1}"/>
			</p:column>
			</ui:remove>
			<p:column sortBy="#{detail.holderAccount.accountNumber}" headerText="N° Cuenta" styleClass="content-center">
				<h:outputText value="#{detail.holderAccount.accountNumber}"/>
			</p:column>			
			<p:column sortBy="#{detail.holderAccount.accountRntAndDescription}" headerText="Cuenta Cliente">
				<h:outputText value="#{detail.holderAccount.accountRntAndDescription}" escape="false"/>
			</p:column>
			<ui:remove>
			<p:column sortBy="#{detail.quantity}" headerText="Cantidad" styleClass="content-right">
				<h:outputText value="#{detail.quantity}">
					<f:convertNumber pattern="#{gconst['conv.number.pattern.share.quantity']}" locale="en_US"/>
				</h:outputText>
			</p:column>
			</ui:remove>
			<p:column sortBy="#{detail.securityNominalValue}" headerText="Valor Nominal" styleClass="content-right">
				<h:outputText value="#{detail.securityNominalValue}">
					<f:convertNumber pattern="#{gconst['conv.number.pattern.cash.amount']}" locale="en_US" />
				</h:outputText>
			</p:column>
			<ui:remove>
			<!-- rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}" -->
			</ui:remove>
			<p:column styleClass="content-center" headerText="Moneda"  >
				<h:outputText value="#{detail.currencyDesc}" />
			</p:column>
			<p:column styleClass="content-center" headerText="Emisor"  >
				<h:outputText value="#{detail.issuerDesc}" />
			</p:column>
			<p:column styleClass="content-center" rendered="#{generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code}">
				<p:selectBooleanCheckbox value="#{detail.blSelected}" disabled="#{detail.blIsCupon}">
					<p:ajax global="false" update="@this :frmPayroll:summary frmPayroll:opnlResults"
						process="@this" listener="#{generatePayrollManageBean.updateSummary(detail)}"/>
				</p:selectBooleanCheckbox>
			</p:column>
			<p:column styleClass="content-center" rendered="#{!(generatePayrollManageBean.payrollHeader.payrollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code)}">
				<p:selectBooleanCheckbox value="#{detail.blSelected}" disabled="#{detail.blIsCupon}">
					<p:ajax global="false" update="@this :frmPayroll:summary frmPayroll:opnlResults"
						process="@this" listener="#{generatePayrollManageBean.updateSummaryRetirement(detail)}"/>
				</p:selectBooleanCheckbox>
			</p:column>
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{generatePayrollManageBean.lstPayrollDetailTO.size()}"/>
				</h:outputFormat>
			</f:facet>
			</p:dataTable>		
		</p:fieldset>		
		</p:outputPanel>			
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="summary">
		<table align="center">
		<tr>
			<td>
				<p:fieldset legend="Resúmen de Planilla" rendered="#{not empty generatePayrollManageBean.lstPayrollDetailTO}" style="width: 550px">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<p:spacer height="0"/>
							</p:column>
							<p:column>
								<h:outputText value="Total Registros" style="font-size: 15px;"/>
							</p:column>
							<p:column>
								<h:outputText value="Total Generar" style="font-size: 15px;"/>
							</p:column>
							<p:column>
								<h:outputText value="Total No Generar" style="font-size: 15px;"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="Cantidad de Titulos" style="font-size: 15px;"/>
							</p:column>
							<p:column>
								<h:outputText value="#{generatePayrollManageBean.summaryPayrollTO.totalRecords}" style="font-size: 15px;">
									<f:convertNumber pattern="###,###,##0" locale="en_US"/>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{generatePayrollManageBean.summaryPayrollTO.yesRecords}" style="font-size: 15px;">
									<f:convertNumber pattern="###,###,##0" locale="en_US"/>
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText value="#{generatePayrollManageBean.summaryPayrollTO.noRecords}" style="font-size: 15px;">
									<f:convertNumber pattern="###,###,##0" locale="en_US"/>
								</h:outputText>
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
				</p:fieldset>
			</td>
		</tr>
		
		<tr>
			<td>
				<p:fieldset rendered="#{( not empty generatePayrollManageBean.lstPayrollDetailTO ) and 
										generatePayrollManageBean.payrollHeader.payrollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}" 
							style="width: 550px">
				<table width="550px">
					<tr>
						<td colspan="2" align="center">
							<p:commandButton value="Delivery de titulos físicos" 
							actionListener="#{generatePayrollManageBean.toogleDelivery}" process="@this" immediate="true" update="@form" /> 
						</td>
					</tr>
					<tr>
						<td><h:outputText value="Ubicacion (*)" styleClass="required-field" rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" /></td>
						<td><p:inputText disabled="true" value="#{generatePayrollManageBean.payrollHeader.deliveryAddress}"
										 rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" maxlength="100" style="width: 100%" /></td>
					</tr>
					<tr>
						<td><h:outputText value="Nombre del Contacto (*)" styleClass="required-field"  rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" /></td>
						<td><p:inputText id="idContactName" value="#{generatePayrollManageBean.payrollHeader.contactName}" maxlength="100" style="width: 100%"  
							rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" required="true" >
							<f:validator validatorId="com.pradera.commons.view.validators.InputTextValidator"/>
						    <p:ajax update="@this" event="blur" process="@this"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="Telefono Contacto"  styleClass="required-field" rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" /></td>
						<td><p:inputText value="#{generatePayrollManageBean.payrollHeader.mobileContact}" maxlength="100" style="width: 100%"  
							rendered="#{generatePayrollManageBean.payrollHeader.indDelivery eq 1}" /></td>
					</tr>
				</table>
				</p:fieldset>
				
			</td>
		</tr>
		
		</table>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td align="center">
		<br/>
		<p:outputPanel id="opnlSave">
		<p:commandButton value="#{gmsgs['btn.save']}" icon="fa fa-save"
			rendered="#{not empty generatePayrollManageBean.lstPayrollDetailTO}"
			actionListener="#{generatePayrollManageBean.beforeSave}" update="outPnlDialogs :opnlGenericDialogs"/>
		</p:outputPanel>
	</td>
</tr>
</table>
<p:outputPanel id="outPnlDialogs">
<p:confirmDialog widgetVar="cnfWAskDialog" id="cnfIdCAskDialog"
	message="#{bodyMessageView}" header="#{headerMessageView}" closable="false" rendered="true" visible="false"> 
	<p:commandButton value="#{gmsgs['btn.yes']}" oncomplete="PF('cnfWAskDialog').hide()" update="outPnlDialogs"
		actionListener="#{generatePayrollManageBean.generatePayroll}" process="@this"/>
	<p:commandButton value="#{gmsgs['btn.no']}" oncomplete="PF('cnfWAskDialog').hide()" process="@this"/>
</p:confirmDialog>	

<p:confirmDialog widgetVar="cnfWEndDialog" id="cnfIdEndDialog" message="#{bodyMessageView}"
	header="#{headerMessageView}" closable="false" rendered="true" visible="false" severity="info"> 
	<p:commandButton oncomplete="PF('cnfWEndDialog').hide()" value="#{gmsgs['btn.accept']}" 
		action="#{generatePayrollManageBean.back()}" process="@this"/>
</p:confirmDialog>
</p:outputPanel>						
</h:form>
</ui:define>
</ui:composition>
</html>