<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:arkPriv="http://java.sun.com/jsf/composite/privilegesPanel"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">

<ui:composition template="/template/default.xhtml">
<ui:define name="body">
<p:importEnum type="com.pradera.model.custody.payroll.PayrollType" var="payrollType"/>
<h:form id="frmPayroll">
<table width="100%">
<tr>
	<td>
		<table width="100%">
		<tr>
			<td align="left">
				<h:outputText value="Administrar Generación de Planilla" styleClass="title-page" />		
			</td>
			<td align="right">
				<p:commandButton value="Generar Planilla" icon="fa fa-edit"
					rendered="#{userPrivilege.userAcctions.register}"
					action="#{generatePayrollManageBean.generate}" process="@this"/>		
			</td>
		</tr> 
		</table>						
	</td>
</tr>
<tr>
	<td>
		<p:fieldset id="fsFilters" legend="#{gmsgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="Tipo Planilla (*)" styleClass="required-field"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
			 	<p:selectOneMenu id="cboPayrollType" label="Tipo Planilla"
			 		value="#{generatePayrollManageBean.searchPayrollTO.payRollType}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstPayrollTypes}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
					<p:ajax global="false" update="@this msgPayrollType opnlResult opnlPrivileges lblEntity inputEntity" 
						process="@this" listener="#{generatePayrollManageBean.resetSearch}"/>
					<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
				</p:selectOneMenu>
				<p:message display="icon" id="msgPayrollType" for="cboPayrollType"/>
				</h:panelGrid>
			</td>
			<td width="20%">
				<h:outputText value="Estado"/>
			</td>
			<td width="30%">
			 	<p:selectOneMenu id="cboState"
			 		value="#{generatePayrollManageBean.searchPayrollTO.state}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstStates}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
			</td>
		</tr>	
		<tr class="hidden">
			<td class="hidden">
				<p:outputPanel id="lblEntity">
				<h:outputText value="#{gmsgs['participant.lbl']}"
					rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"/>
				<h:outputText value="#{gmsgs['issuer.helper.detail.code']}"
					rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
					or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}"/>
				</p:outputPanel>
			</td>
			<td colspan="3" class="hidden">
				<p:outputPanel id="inputEntity">
				<h:panelGrid>
			 	<p:selectOneMenu styleClass="combo-widh-large" id="cboParticipant" disabled="#{generatePayrollManageBean.blParticipant}"
			 		rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
					or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}"
			 		value="#{generatePayrollManageBean.searchPayrollTO.idParticipantPk}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstParticipants}" var="participant" 
						itemLabel="#{participant.displayDescriptionCode}" itemValue="#{participant.idParticipantPk}"/>
				</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid cellspacing="0" cellpadding="0" 
					rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
					or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}">
				<ark:issuerHelper id="txtIssuer" issuer="#{generatePayrollManageBean.searchPayrollTO.issuer}"/>
				</h:panelGrid>
				</p:outputPanel>
			</td>			
		</tr>		
		<tr>
			<ui:remove>
			<td>
				<h:outputText value="Sucursal"/>
			</td>
			<td>
				<h:panelGrid>
				<p:selectOneMenu value="#{generatePayrollManageBean.searchPayrollTO.branchOffice}">
					<f:selectItem itemLabel="#{gmsgs['cbo.opt.select']}"/>
					<f:selectItems value="#{generatePayrollManageBean.lstBranchOffices}"
						var="paramTab" itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>		
				</p:selectOneMenu>
				</h:panelGrid>
			</td>
			</ui:remove>
			<td>
				<h:outputText value="Fecha Generacion Planilla"/>
			</td>
			<td>
				<p:calendar showOn="both" navigator="true" size="10" readonlyInput="true"
					value="#{generatePayrollManageBean.searchPayrollTO.generateDate}"
					maxdate="#{generatePayrollManageBean.currentSystemDate}"
					disabledWeekends="true" pattern="#{gmsgs['calendar.date.format']}">
				</p:calendar> 
			</td>			
		</tr>					
		<tr>
			<td align="center" colspan="4">
				<p:commandButton value="#{gmsgs['btn.search']}" actionListener="#{generatePayrollManageBean.search}"
					update="@form" icon="fa fa-search"/>
				<p:commandButton value="#{gmsgs['btn.clean']}" process="@this" 
					actionListener="#{generatePayrollManageBean.clean()}"
					update="@form" icon="fa fa-trash"/>							
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td> 
		<p:outputPanel id="opnlPrivileges">
		<p:outputPanel rendered="#{not empty generatePayrollManageBean.searchPayrollTO.lstPayrollHeader}">
			<arkPriv:privileges actionAnnular="#{generatePayrollManageBean.validateAnnul}"
				actionApprove="#{generatePayrollManageBean.validateApprove}"
				actions="#{userPrivilege.userAcctions}" renders="#{userPrivilege.privilegeComponent}"/>
				
		</p:outputPanel>
		</p:outputPanel>
	</td>
</tr>
<tr>
	<td>
		<p:outputPanel id="opnlResult">
		<p:panel rendered="#{!generatePayrollManageBean.searchPayrollTO.blResults}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" />
		</p:panel>
	   	<p:fieldset legend="#{gmsgs['lbl.results']}" 
	   		rendered="#{not empty generatePayrollManageBean.searchPayrollTO.lstPayrollHeader}">
		<p:dataTable value="#{generatePayrollManageBean.searchPayrollTO.lstPayrollHeader}" var="payroll"
			paginatorTemplate="#{gmsgs['dtb.paginator.template']}" selection="#{generatePayrollManageBean.selectedPayrollHeader}"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			rowKey="#{payroll.idPayrollHeaderPk}" paginator="true" paginatorPosition="top" rowsPerPageTemplate="5,10,15" rows="10">	 
			
			<p:column styleClass="content-center" selectionMode="single"/>			 					                 
			
			<p:column sortBy="#{payroll.idPayrollHeaderPk}" headerText="N° Planilla" styleClass="content-right">
				<p:commandLink value="#{payroll.idPayrollHeaderPk}"
					action="#{generatePayrollManageBean.viewDetail(payroll)}"/>
			</p:column>
						
			<p:column sortBy="#{payroll.registerDate}" styleClass="content-center" headerText="Fecha Generacion Planilla">
				<h:outputText value="#{payroll.registerDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
						
			<p:column sortBy="#{payroll.payrollTypeDesc}" headerText="Tipo Planilla">
				<h:outputText value="#{payroll.payrollTypeDesc}"/>
			</p:column>
			
			
			<p:column sortBy="#{payroll.participant.idParticipantPk}" styleClass="content-center" headerText="#{gmsgs['participant.lbl']}"
				rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.ACCOUNT_ANNOTATION_OPERATION.code 
				or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.REMOVE_SECURITIES_OPERATION.code}">
				<h:outputText value="#{payroll.participant.displayCodeMnemonic}"
					title="#{payroll.participant.description}"/>
			</p:column>
			
			<p:column sortBy="#{payroll.issuer.idIssuerPk}" styleClass="content-center" headerText="Emisor"				 
				rendered="#{generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CORPORATIVE_OPERATION.code
				or generatePayrollManageBean.searchPayrollTO.payRollType eq payrollType.CERTIFICATE_OPERATION.code}">
				<h:outputText value="#{payroll.issuer.codeMnemonic}"
					title="#{payroll.issuer.businessName}"/>
			</p:column>
			
			<p:column sortBy="#{payroll.totalStock}" headerText="Cantidad de Valores" styleClass="content-right">
				<h:outputText value="#{payroll.totalStock}">
					<f:convertNumber pattern="###,###,##0" locale="en_US"/>
				</h:outputText>
			</p:column>						
			<p:column sortBy="#{payroll.stateDesc}" headerText="Estado" styleClass="content-center">
				<h:outputText value="#{payroll.stateDesc}"/>
			</p:column>					
			<p:column sortBy="#{payroll.indApprove}" headerText="Aprobado" styleClass="content-center">
				<h:outputText value="#{(payroll.indApprove == 1)?'SI':'NO'}"/>
			</p:column>									
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{generatePayrollManageBean.searchPayrollTO.lstPayrollHeader.size}"/>
				</h:outputFormat>
			</f:facet>
		</p:dataTable>
		</p:fieldset>		
		</p:outputPanel>	
	</td>
</tr>
</table>				
</h:form>
<p:outputPanel id="opnlDialogs"/>
</ui:define>
</ui:composition>
</html>