<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ark="http://java.sun.com/jsf/composite/helpersui">
<ui:composition template="/template/default.xhtml">
<ui:define name="body">

<h:outputText value="#{msgs['audit.processrules.search.title']}" styleClass="title-page"/>

<h:form id="frmProcessRules">

<div class="buttons-top-right">
	<p:commandButton action="#{auditProcessRulesBean.registerAuditProcessRules()}" 
	icon="ui-register" value="#{gmsgs['btn.register']}" process="@this"/>
</div>

<table width="100%">
<tr>
	<td>
		<p:fieldset legend="#{msgs['lbl.criteria.search']}">
		<table width="100%">
		<tr>
			<td>
				<h:outputText value="#{msgs['audit.processrules.search.business.process']} (*)" styleClass="required-field"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu label="#{msgs['audit.processrules.search.business.process']}" id="cboAuditBusinessProcess" 
					value="#{auditProcessRulesBean.searchAuditProcessRulesTO.auditBusinessProcess}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditBusinessProcess}" var="auditBusinessProcess" 
						itemLabel="#{auditBusinessProcess.processName}" itemValue="#{auditBusinessProcess.idAuditBusinessProcessPk}"/>
						<f:validator validatorId="com.pradera.commons.view.validators.SelectOneMenuValidator"/>
						<p:ajax event="change" update="@this msgAuditBusinessProcess cboAuditStraightenBusiness"
							listener="#{auditProcessRulesBean.changeAuditBusinessProcess}"/>
				</p:selectOneMenu>	
				<p:message for="cboAuditBusinessProcess" display="icon" id="msgAuditBusinessProcess"/>
				</h:panelGrid> 
			</td>			
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['audit.processrules.search.business.straighten']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="2">
				<p:selectOneMenu id="cboAuditStraightenBusiness" 
					value="#{auditProcessRulesBean.searchAuditProcessRulesTO.auditStraightenBusiness}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditStraightenBusiness}" var="auditStraightenBusiness" 
						itemLabel="#{auditStraightenBusiness.straightenName}" itemValue="#{auditStraightenBusiness.idStraightenBusinessPk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['audit.processrules.search.process.type']}"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{auditProcessRulesBean.searchAuditProcessRulesTO.processType}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstProcessType}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['audit.processrules.search.audit.type']}"/>
			</td>
			<td width="30%">
				<h:panelGrid columns="2">
				<p:selectOneMenu value="#{auditProcessRulesBean.searchAuditProcessRulesTO.auditType}">
					<f:selectItem itemLabel="#{msgs['cbo.opt.select']}"/>
					<f:selectItems value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditType}" var="paramTab" 
						itemLabel="#{paramTab.parameterName}" itemValue="#{paramTab.parameterTablePk}"/>
				</p:selectOneMenu>
				</h:panelGrid> 
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<p:commandButton id="cmbSearch" value="#{gmsgs['btn.search']}" 
					update="@form :opnlGenericDialogs" rendered="#{userInfo.userAcctions.search}"
					icon="fa fa-search" actionListener="#{auditProcessRulesBean.searchAuditProcessRules()}" />														 
				<p:commandButton id="cmbClean" value="#{gmsgs['btn.clean']}" update="@form"
					icon="fa fa-trash" actionListener="#{auditProcessRulesBean.cleanSearch}" process="@this"/>
			</td>
		</tr>
		</table>
		</p:fieldset>
	</td>
</tr>
<tr>
	<td>
		<br/>
	</td>
</tr>
<tr>
	<td>
		<p:dataTable var="auditProcessRule" rendered="#{not empty auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditProcessRules}"
			value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditProcessRules}" paginator="true"
			paginatorPosition="top" paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15" rows="10"
			currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			rowKey="#{auditProcessRule.idAuditProcessRulesPk}">
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.audit.type']}" styleClass="content-center">
				<h:outputText value="#{auditProcessRule.auditTypeDesc}" />
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.business.straighten']}">
				<h:outputText value="#{auditProcessRule.auditStraightenBusiness.straightenName}" />
			</p:column>			
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.registry.date']}" styleClass="content-center">
				<h:outputText value="#{auditProcessRule.registryDate}">
					<f:convertDateTime pattern="#{msgs['dateFormat']}"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.process.type']}" styleClass="content-center">
				<h:outputText value="#{auditProcessRule.processTypeDesc}" />
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.execute.time']}" styleClass="content-center">
				<h:outputText value="#{auditProcessRule.nextTimeOut}">
					<f:convertDateTime pattern="#{msgs['dateTimeSecondsFormat']}"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.daily']}" styleClass="content-center">
				<h:outputText value="#{gmsgs[(auditProcessRule.indDaily eq 1)?'btn.yes':'btn.no']}"/>
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.monthly']}" styleClass="content-center">
				<h:outputText value="#{gmsgs[(auditProcessRule.indMonthly eq 1)?'btn.yes':'btn.no']}"/>
			</p:column>
			
			<p:column headerText="#{msgs['audit.processrules.search.detail.annual']}" styleClass="content-center">
				<h:outputText value="#{gmsgs[(auditProcessRule.indAnnual eq 1)?'btn.yes':'btn.no']}"/>
			</p:column>
			
			<f:facet name="footer">	
				<h:outputFormat value="#{gmsgs['tbl.footer.quantity.records']}" >
					<f:param value="#{auditProcessRulesBean.searchAuditProcessRulesTO.lstAuditProcessRules.size}"/>
				</h:outputFormat>
			</f:facet>	
		</p:dataTable>
		<p:panel rendered="#{auditProcessRulesBean.searchAuditProcessRulesTO.blNoResult}">
			<h:outputText value="#{gmsgs['lbl.search.no.result']}" styleClass="required-field"/>
		</p:panel>
	</td>
</tr>
</table>
</h:form>
</ui:define>
</ui:composition>
</html>