<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ecuador">
	
	<h:form id="frmHeader">
	
    <div class="layout-topbar">
        <a href="#" id="topbar-menu-button">
            <i class="fa fa-angle-left arrow"></i>
            <i class="fa fa-angle-up mobile"></i>
        </a>
	</div>		
	
	</h:form>
	
	
</ui:composition>	