	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ark="http://java.sun.com/jsf/composite/helpers">
 <body>
 	<composite:interface name="mechanismOperation" displayName="MechanismOperation Helper">
 		<composite:attribute name="mechanismOperationPk" required="true"/>
 		<composite:attribute name="showAssignments" default="true"  type="java.lang.Boolean"/>
 		<composite:attribute name="backAction" default="search" type="java.lang.String"/>
 	</composite:interface>

 	<composite:implementation>
 		<p:outputPanel>
			<p:outputPanel id="pnlNegotiationDate">
			<p:fieldset legend="#{msgs['lbl.operation.panel.negotitation']}" id="flsNegotiationDate">
				<table width="100%">
					<tr>
						<td width="15%"></td>
						<td width="35%"></td>
						<td width="15%"></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.mechanism']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.mechanismOperation.mechanisnModality.id.idNegotiationMechanismPk}" disabled="true">
								<f:selectItem itemValue="#{operationBusinessBean.mechanismOperation.mechanisnModality.negotiationMechanism.idNegotiationMechanismPk}"
									itemLabel="#{operationBusinessBean.mechanismOperation.mechanisnModality.negotiationMechanism.description}"/>
							</p:selectOneMenu>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.modality']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.mechanismOperation.mechanisnModality.id.idNegotiationModalityPk}" disabled="true">
								<f:selectItem itemValue="#{operationBusinessBean.mechanismOperation.mechanisnModality.negotiationModality.idNegotiationModalityPk}"
									itemLabel="#{operationBusinessBean.mechanismOperation.mechanisnModality.negotiationModality.modalityName}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.operationDate']}"/>
						</td>
						<td>
							<p:calendar value="#{operationBusinessBean.mechanismOperation.operationDate}" id="calOperationDate" readonlyInput="true"
										pattern="dd/MM/yyyy" navigator="true" disabled="true"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.operationNumber']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{operationBusinessBean.mechanismOperation.operationNumber}"/>
						</td>
					</tr>
					
					<p:outputPanel rendered="#{operationBusinessBean.mechanismOperation.referenceOperation!=null}">
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.reportOperation.date']}"/>
						</td>
						<td>
						 	<p:calendar readonlyInput="true" value="#{operationBusinessBean.mechanismOperation.referenceOperation.operationDate}" size="10" 
								pattern="dd/MM/yyyy" disabled="true"/>
						</td>	
						<td>
							<h:outputText value="#{msgs['lbl.operation.reportOperation.number']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.referenceOperation.operationNumber}" 
								disabled="true" styleClass="content-right">
								<f:convertNumber locale="en_US" pattern="###,###,##0"/>
							</p:inputText>
						</td>
					</tr>
					</p:outputPanel>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.mechanism.operationDate']}"/>
						</td>
						<td>
							<p:calendar readonlyInput="true" value="#{operationBusinessBean.mechanismOperation.referenceDate}" 
								disabled="true" size="10" pattern="dd/MM/yyyy"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.mechanism.operationNumber']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.referenceNumber}" size="30" 
								styleClass="content-right" disabled="true">
								<f:convertNumber locale="en_US" pattern="###,###,##0"/>
							</p:inputText>
						</td>
					</tr>
					
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.exchangeRate']}"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{operationBusinessBean.mechanismOperation.exchangeRate}"
											styleClass="content-right"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.security.instrumentType']}"/>
						</td>
						<td>
							<p:selectOneRadio value="#{operationBusinessBean.mechanismOperation.securities.instrumentType}" disabled="true">
								<f:selectItem itemValue="#{operationBusinessBean.mechanismOperation.securities.instrumentType}"
									itemLabel="#{operationBusinessBean.mechanismOperation.securities.instrumentTypeDescription}"/>
							</p:selectOneRadio>
						</td>
					</tr>

					<tr>
						<td><h:outputText value="#{msgs['lbl.operation.participant.seller']}"/></td>
						<td> 
							<p:selectOneMenu id="cboParticipantSell" value="#{operationBusinessBean.mechanismOperation.sellerParticipant.idParticipantPk}" 
								required="true" style="width:450px" disabled="true">
								<f:selectItem itemLabel="#{operationBusinessBean.mechanismOperation.sellerParticipant.displayDescriptionCode}"
									itemValue="#{operationBusinessBean.mechanismOperation.sellerParticipant.idParticipantPk}"/>
							</p:selectOneMenu>
						</td>
						<td><h:outputText value="#{msgs['lbl.operation.participant.buyer']}"/></td>
						<td colspan="2">
							<p:selectOneMenu id="cboParticipantBuy" value="#{operationBusinessBean.mechanismOperation.buyerParticipant.idParticipantPk}" 
											 required="true" style="width:450px" disabled="true">
								<f:selectItem itemLabel="#{operationBusinessBean.mechanismOperation.buyerParticipant.displayDescriptionCode}"
									itemValue="#{operationBusinessBean.mechanismOperation.buyerParticipant.idParticipantPk}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td><h:outputText value="#{msgs['lbl.operation.security.classCode']}"/></td>
						<td colspan="4">
							<p:outputPanel id="pnlSecurity">
							<table width="100%">
								<tr>
									<td>
										<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
											<ark:securityHelper id="securityHelper" disabled="true"
												security="#{operationBusinessBean.mechanismOperation.securities}"/>
											<p:spacer width="5"/>
											<ark:securities-help securityCode="#{operationBusinessBean.mechanismOperation.securities.idSecurityCodePk}"/>
										</h:panelGrid>									
									</td>
								</tr>
							</table>
							</p:outputPanel>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">
							<h:outputText value="#{msgs['lbl.operation.security.currentNominalValue']}"/>
							<p:inputNumber value="#{operationBusinessBean.mechanismOperation.securities.currentNominalValue}"  
											disabled="true" style="text-align: right;width:200px" maxValue="99999999999999999999" thousandSeparator="," decimalSeparator="."
											rendered="#{not empty operationBusinessBean.mechanismOperation.securities.idSecurityCodePk}"/>
							<h:outputText value="#{msgs['lbl.operation.security.currency']}"/>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.currencyDescription}" disabled="true"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.stockQuantity']}"/>
						</td>
						<td>
							<p:inputText styleClass="content-right" value="#{operationBusinessBean.mechanismOperation.stockQuantity}" size="30" disabled="true">
								<f:convertNumber locale="en_US" pattern="###,###,##0"/>
							</p:inputText>
						</td>	
						<td>
							<h:outputText value="#{msgs['lbl.operation.operationCurrency']}"/>
						</td>
						<td>
							<p:selectOneMenu disabled="true" value="#{operationBusinessBean.mechanismOperation.currency}" >
								<f:selectItems value="#{operationBusinessBean.lstCurrency}" var="currency"
									itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
							</p:selectOneMenu>
						</td>				
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.operationRate']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.amountRate}" disabled="true">
								<f:convertNumber locale="en_US" pattern="#{cons['conv.number.pattern.rate.factor']}"/>
							</p:inputText>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.operationState']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.stateDescription}" disabled="true" size="25"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.cancel.motive']}"
										  rendered="#{operationBusinessBean.mechanismOperation.cancelMotive != null}"/> 
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.cancelDescription}"
								disabled="true" size="55" rendered="#{operationBusinessBean.mechanismOperation.cancelMotive != null}"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.cancel.motive.others']}"
										  rendered="#{operationBusinessBean.mechanismOperation.cancelMotiveOther != null}"/> 
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.cancelMotiveOther}"
								disabled="true" size="55" rendered="#{operationBusinessBean.mechanismOperation.cancelMotiveOther != null}"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.price']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.cashPrice}" disabled="true">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
							</p:inputText>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.amount']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.mechanismOperation.cashAmount}" disabled="true">
								<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
							</p:inputText>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.settlementDate']}" />
						</td>
						<td>
							<p:calendar value="#{operationBusinessBean.mechanismOperation.cashSettlementDate}" disabled="true" id="negoCashSettlementDate" pattern="dd/MM/yyyy"/>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.settlementDate']}" rendered="#{operationBusinessBean.mechanismOperation.indTermSettlement eq 1}" />
						</td>
						<td>
							<p:calendar value="#{operationBusinessBean.mechanismOperation.termSettlementDate}" rendered="#{operationBusinessBean.mechanismOperation.indTermSettlement eq 1}"
								disabled="true" id="negoTermSettlementDate" pattern="dd/MM/yyyy"/>
						</td>
					</tr>
				</table>
			</p:fieldset>
			</p:outputPanel>
			
			<p:outputPanel id="pnlSettlement">
			<p:fieldset legend="#{msgs['lbl.operation.panel.cash.settlement']}" id="flsSettlemet" toggleable="true" >
				<table width="100%">
					<tr>
						<td width="15%"></td>
						<td width="35%"></td>
						<td width="15%"></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.indCurrencyExchange']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.cashSettlementOperation.indCurrencyExchange eq 1 ? true : false}" id="txtSettExchange" disabled="true" />
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementCurrency']}" />
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.cashSettlementOperation.settlementCurrency}" disabled="true">
								<f:selectItems value="#{operationBusinessBean.lstCurrency}" var="currency"
									itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.settlementDays']}" />
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.cashSettlementOperation.settlementDays}" styleClass="content-right" id="txtCashSettlementDays"
										 disabled="true" style="width:200px">
							</p:inputText>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementDate']}" />
						</td>
						<td>
							<p:calendar value="#{operationBusinessBean.cashSettlementOperation.settlementDate}" disabled="true" id="calCashSettlementDate" pattern="dd/MM/yyyy"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.indExtend']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.cashSettlementOperation.indExtended eq 1 ? true : false}" id="txtSettExtend" disabled="true" />
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.indPrepaid']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.cashSettlementOperation.indPrepaid eq 1 ? true : false}" id="txtSettPrepaid" disabled="true" />
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.settlementPrice']}" />
						</td>
						<td>
							<p:inputNumber value="#{operationBusinessBean.cashSettlementOperation.settlementPrice}" id="txtCashPrice" disabled="true" 
										   	style="text-align: right;width:130px" maxValue="99999999999999999999" thousandSeparator="," decimalSeparator="."/>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.cash.settlementAmount']}" />
						</td>
						<td>
							<p:inputNumber value="#{operationBusinessBean.cashSettlementOperation.settlementAmount}"  id="txtCashAmount" disabled="true"
											style="text-align: right;width:200px" maxValue="99999999999999" thousandSeparator="," decimalSeparator=".">
							</p:inputNumber>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indStock']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.cashSettlementOperation.stockReferenceDesc}" disabled="true" size="30"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indFunds']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.cashSettlementOperation.fundsReferenceDesc}" disabled="true" size="30"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.cash.settlementType']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.cashSettlementOperation.settlementType}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementSchema']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.cashSettlementOperation.settlementSchema}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementSchemaTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
					</tr>			
				</table>
			</p:fieldset>
			<p:fieldset legend="#{msgs['lbl.operation.panel.term.settlement']}" id="flsTermSettlemet" toggleable="true" 
				rendered="#{operationBusinessBean.mechanismOperation.indTermSettlement eq 1}">
				<table width="100%">
					<tr>
						<td width="15%"></td>
						<td width="35%"></td>
						<td width="15%"></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.indCurrencyExchange']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.termSettlementOperation.indCurrencyExchange eq 1 ? true : false}" id="txtTermSettExchange" disabled="true" />
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementCurrency']}" />
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.termSettlementOperation.settlementCurrency}" disabled="true">
								<f:selectItems value="#{operationBusinessBean.lstCurrency}" var="currency"
									itemValue="#{currency.parameterTablePk}" itemLabel="#{currency.parameterName}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.settlementDays']}" />
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.termSettlementOperation.settlementDays}" styleClass="content-right" id="txtTermSettlementDays"
										 disabled="true" style="width:200px">
							</p:inputText>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementDate']}" />
						</td>
						<td>
							<p:calendar value="#{operationBusinessBean.termSettlementOperation.settlementDate}" disabled="true" id="calTermSettlementDate" pattern="dd/MM/yyyy"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.indExtend']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.termSettlementOperation.indExtended eq 1 ? true : false}" id="txtTermSettExtend" disabled="true" />
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.indPrepaid']}" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.termSettlementOperation.indPrepaid eq 1 ? true : false}" id="txtTermSettPrepaid" disabled="true" />
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.settlementPrice']}" />
						</td>
						<td>
							<p:inputNumber value="#{operationBusinessBean.termSettlementOperation.settlementPrice}" id="txtTermPrice" disabled="true" 
										   	style="text-align: right;width:130px" maxValue="99999999999999999999" thousandSeparator="," decimalSeparator="."/>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.settlementAmount']}" />
						</td>
						<td>
							<p:inputNumber value="#{operationBusinessBean.termSettlementOperation.settlementAmount}"  id="txtTermAmount" disabled="true"
											style="text-align: right;width:200px" maxValue="99999999999999" thousandSeparator="," decimalSeparator=".">
							</p:inputNumber>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indStock']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.termSettlementOperation.stockReferenceDesc}" disabled="true" size="30"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indFunds']}"/>
						</td>
						<td>
							<p:inputText value="#{operationBusinessBean.termSettlementOperation.fundsReferenceDesc}" disabled="true" size="30"/>
						</td>
					</tr>
					<tr>
						<td>
							<h:outputText value="#{msgs['lbl.operation.term.settlementType']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.termSettlementOperation.settlementType}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementSchema']}"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.termSettlementOperation.settlementSchema}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementSchemaTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
			   				<p:commandLink style="color:blue" actionListener="#{operationBusinessBean.viewPrepaids}"
			   					value="#{msgs['lbl.query.operations.view.assignment.option.prepaids']}" 
			   					update="opnlPrepaidDetails"/>
						</td>
						<td>
							<h:outputText value="(*)#{msgs['msg.tradesettlement.purchase.enforse']}" style="color:red" rendered="#{operationBusinessBean.termSettlementOperation.forcedPurchase}"/>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.pendingQuantity']}"/>
						</td>
						<td>
							<p:inputText styleClass="content-right" value="#{operationBusinessBean.termSettlementOperation.stockQuantity}" size="30" disabled="true">
								<f:convertNumber locale="en_US" pattern="###,###,##0"/>
							</p:inputText>
						</td>
					</tr>
				</table>
			</p:fieldset>
			</p:outputPanel>
		</p:outputPanel>
		<p:fieldset legend="#{msgs['lbl.operation.panel.assignment']}" 
			rendered="#{operationBusinessBean.showAssignments and not empty operationBusinessBean.settlementAccountOperations}">
		<p:outputPanel id="pnlLinkDetails" 
			rendered="#{operationBusinessBean.showViewDetails and not empty operationBusinessBean.settlementAccountOperations}">
			<table width="100%" align="center">
		   		<tr>
		   			<td width="25%" align="center">
		   				<p:commandLink style="color:blue" actionListener="#{operationBusinessBean.viewBalanceAndMovements}"
		   					value="#{msgs['lbl.query.operations.view.assignment.option.balance']}" 
		   					update="opnlDetails :opnlGenericDialogs"/>
					</td>
		   			<td width="25%" align="center">
		   				<p:commandLink style="color:blue" actionListener="#{operationBusinessBean.viewGuarantees}"
		   					value="#{msgs['lbl.query.operations.view.assignment.option.guarantees']}" 
		   					update="opnlDetails :opnlGenericDialogs"/>   			
		   			</td>
		   			<td width="25%" align="center">
		   				<p:commandLink style="color:blue" actionListener="#{operationBusinessBean.viewRepoSec}"
		   					rendered="#{operationBusinessBean.blHasRepoSec}"
		   					value="#{msgs['lbl.query.operations.view.assignment.option.repoSec']}" 
		   					update="opnlDetails :opnlGenericDialogs"/>   			
		   			</td>
		   			<ui:remove>
		   			<td width="25%" align="center">
		   				<p:commandLink style="color:blue" actionListener="#{operationBusinessBean.viewMarketFacts}"
		   					value="#{msgs['lbl.query.operations.view.assignment.option.marketfacts']}" 
		   					update="opnlDetails :opnlGenericDialogs"/>   			
		   			</td>
		   			</ui:remove>
		   		</tr>
		   	</table>
		   	<br/>
		</p:outputPanel>
		<p:outputPanel rendered="#{not empty operationBusinessBean.settlementAccountOperations}"> 
			<p:dataTable var="settlementAccountOperation" value="#{operationBusinessBean.settlementAccountOperations}"
				rendered="#{not empty operationBusinessBean.settlementAccountOperations}"
				rowKey="#{settlementAccountOperation.idSettlementAccountPk}" id="dtbSettlementAccountsTerm" selectionMode="single"
				selection="#{operationBusinessBean.settlementAccountOperation}">
					
				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.holderAccount.alternateCode']}">
					<h:outputText value="#{settlementAccountOperation.holderAccountOperation.holderAccount.alternateCode}"/>
					<b class="redText"> <h:outputText value=" (*)" rendered="#{holderAccountOperation.indIncharge == 1}"/>
					</b>
				</p:column>		
					
				<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.holderAccount.holder']}">
					<h:outputText value="#{settlementAccountOperation.holderAccountOperation.holderAccount.accountRntAndDescription}" escape="false"/>
				</p:column>
								
				<p:column styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.operation.assignment.inchargeStock']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" 
						title="#{settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.description}"/>
				</p:column>
					
				<p:column styleClass="content-left">
					<f:facet name="header">
						<h:outputText value="#{msgs['lbl.operation.assignment.inchargeFunds']}" escape="false"/>
					</f:facet>
					<h:outputText value="#{settlementAccountOperation.holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" 
						title="#{settlementAccountOperation.holderAccountOperation.inchargeFundsParticipant.description}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.Role']}">
					<h:outputText value="#{settlementAccountOperation.holderAccountOperation.rolePosition}"/>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.stockQuantity']}">
					<h:outputText value="#{settlementAccountOperation.initialStockQuantity}">
						<f:convertNumber locale="en_US" pattern="###,###,##0"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settledQuantity']}">
					<h:outputText value="#{settlementAccountOperation.settledQuantity}">
						<f:convertNumber locale="en_US" pattern="###,###,##0"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.pendingQuantity.br']}">
					<h:outputText value="#{settlementAccountOperation.initialStockQuantity - settlementAccountOperation.settledQuantity}">
						<f:convertNumber locale="en_US" pattern="###,###,##0"/>
					</h:outputText>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.indStock.br']}" >
					<b class="redText"> 
						<h:outputText title="#{settlementAccountOperation.stockReferenceDesc}"
							value="#{settlementAccountOperation.indStockReference}" />
					</b>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.indFunds.br']}" >
					<b class="redText">
						<h:outputText title="#{settlementAccountOperation.fundReferenceDesc}"
							value="#{settlementAccountOperation.indFundReference}" />
					</b>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.margin']}">
					<b class="redText">
						<p:outputLabel title="#{settlementAccountOperation.holderAccountOperation.marginReferenceDesc}" 
							value="#{settlementAccountOperation.holderAccountOperation.indMarginReference}"></p:outputLabel>
					</b>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.margin']}">
					<b class="redText">
						<p:outputLabel title="#{settlementAccountOperation.holderAccountOperation.marginReferenceDesc}" 
							value="#{settlementAccountOperation.holderAccountOperation.indMarginReference}"></p:outputLabel>
					</b>
				</p:column>
				
				<p:column styleClass="content-center" >
					<b class="greenText">
						<h:outputText title="#{settlementAccountOperation.chainedDesc}" style="font-weight: bold; color:blue; font-size:1em"
							value="#{settlementAccountOperation.indChained}" />
					</b>
				</p:column>
				
				<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.operationPart']}">
					<p:outputLabel value="#{settlementAccountOperation.holderAccountOperation.operationPartDesc}" />
				</p:column>
	
			</p:dataTable>
			<br/>
			<b class="redText"><h:outputText value="#{msgs['lbl.operation.assignment.hasIncharge']}" /></b>
		</p:outputPanel>
		</p:fieldset>
		<p:outputPanel id="opnlDetails" rendered="#{operationBusinessBean.showViewDetails}">	
			<p:dialog rendered="true" visible="false" height="80%" width="80%" closable="false"  
				id="dlgBalance" widgetVar="dlgWBalance" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
				<table width="100%">
				<tr>
					<td width="100%">
						<ui:include src="viewBalance.xhtml" />
					</td>
				</tr>
				</table>
			</p:dialog>
			<p:dialog rendered="true" visible="false" height="515" width="900" closable="false"  
				id="dlgGuarantees" widgetVar="dlgWGuarantees" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
				<table width="100%">
				<tr>
					<td width="100%">
						<ui:include src="viewGuarantees.xhtml" />
					</td>
				</tr>
				</table>
			</p:dialog>
			<p:dialog rendered="true" visible="false" height="520" width="80%" closable="false"  
				id="dlgRepoSec" widgetVar="dlgWRepoSec" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
				<table width="100%">
				<tr>
					<td width="100%">
						<ui:include src="viewRepoSec.xhtml"/>
					</td>
				</tr>
				</table>
			</p:dialog>
			<p:dialog rendered="true" visible="false" width="60%" closable="false"  
				id="dlgMarketFacts" widgetVar="dlgWMarketFacts" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
				<table width="100%">
				<tr>
					<td width="100%">
						<ui:include src="viewMarketFacts.xhtml"/>
					</td>
				</tr>
				</table>
			</p:dialog>
		</p:outputPanel>
		<p:outputPanel id="opnlPrepaidDetails">
		<p:dialog rendered="true" visible="false" height="80%" width="80%" closable="false"  
			id="dlgPrepaids" widgetVar="dlgWPrepaids" modal="true" resizable="false" showHeader="false" position="top" showEffect="true">
			<table width="100%">
			<tr>
				<td width="100%">
					<ui:include src="viewPrepaids.xhtml" />
				</td>
			</tr>
			</table>
		</p:dialog>
		</p:outputPanel>
 	</composite:implementation>
 </body>
</html>