<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<h:form id="frmDateRequests">
<table width="100%">
	<tr>
		<td align="left">
			<b class="required-field"><h:outputLabel value="Consulta de anticipaciones"/></b>
		</td>
	</tr>
	<tr>
		<td>
			<p:separator/>
		</td>
	</tr>
	<tr>
		<td>
		<p:dataTable var="prepaidOperation" value="#{operationBusinessBean.prepaidSettlementOperations}"
			 paginator="true" rows="10" paginatorPosition="top" rowKey="#{prepaidOperation.idSettlementOperationPk}"
			 currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}"
			 paginatorTemplate="#{gmsgs['dtb.paginator.template']}"
			 rowsPerPageTemplate="5,10,15"  id="dtbPrepaids" 
			 selection="#{operationBusinessBean.selectedPrepaidOperation}">
				
			<p:ajax event="rowSelectRadio" update="@parent:opnlSettlementOperationData"
				listener="#{operationBusinessBean.onChangePrepaidOperation()}" />
				
			<p:column selectionMode="single" style="width:16px;text-align:center" />	
				
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.stockQuantity']}">
				<h:outputText value="#{prepaidOperation.stockQuantity}" >
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
				
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementPrice']}">
				<h:outputText value="#{prepaidOperation.settlementPrice}" >
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</h:outputText>
			</p:column>	
			
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementAmount']}">
				<h:outputText value="#{prepaidOperation.settlementAmount}" >
					<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
				</h:outputText>
			</p:column>
			
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementDays']}">
				<h:outputText value="#{prepaidOperation.settlementDays}" />
			</p:column>	
				
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementDate']}">
				<h:outputText value="#{prepaidOperation.settlementDate}" >
					<f:convertDateTime pattern="#{gconst['dateFormat']}"/>
				</h:outputText>
			</p:column>
			
			<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.operationState']}">
				<h:outputText value="#{prepaidOperation.stateDescription}" >
				</h:outputText>
			</p:column>

		</p:dataTable>
		</td>
	</tr>
	<tr>
		<td>
			<p:outputPanel id="opnlSettlementOperationData" >
			<p:outputPanel rendered="#{operationBusinessBean.selectedPrepaidOperation!=null}">
			<p:fieldset legend="#{msgs['lbl.operation.panel.settlement']}" >
				<table width="100%">
					<tr>
						
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indStock']}" styleClass="required-field"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{operationBusinessBean.selectedPrepaidOperation.stockReferenceDesc}">
							</p:inputText>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.assignment.indFunds']}" styleClass="required-field"/>
						</td>
						<td>
							<p:inputText disabled="true" value="#{operationBusinessBean.selectedPrepaidOperation.fundsReferenceDesc}">
							</p:inputText>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.term.indExtend']}" styleClass="required-field" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.selectedPrepaidOperation.indExtended eq 1 ? true : false}" id="txtSettExtend" disabled="true" />
						</td>
					</tr>
					<tr>
						
						<td>
							<h:outputText  value="#{msgs['lbl.operation.settlementSchema']}" styleClass="required-field"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.selectedPrepaidOperation.settlementSchema}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementSchemaTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
						<td>
							<h:outputText value="#{msgs['lbl.operation.settlementType']}" styleClass="required-field"/>
						</td>
						<td>
							<p:selectOneMenu value="#{operationBusinessBean.selectedPrepaidOperation.settlementType}" var="settlement" disabled="true">
								<f:selectItem itemLabel="#{gmsgs['cbo.opt.selectlarge']}"/>
								<f:selectItems value="#{operationBusinessBean.settlementTypeList}" var="settlement"
											   itemValue="#{settlement.code}" itemLabel="#{settlement.value}"/>
							</p:selectOneMenu>
						</td>
						<td>
							<h:outputText  value="#{msgs['lbl.operation.indUnfulfilled']}" styleClass="required-field" />
						</td>
						<td>
							<p:selectBooleanCheckbox value="#{operationBusinessBean.selectedPrepaidOperation.indUnfulfilled eq 1 ? true : false}" id="txtSettUnfulfill" disabled="true" />
						</td>
					</tr>
				</table>
			</p:fieldset>	
			
			<p:fieldset legend="#{msgs['lbl.operation.panel.assignment']}" rendered="#{operationBusinessBean.selectedPrepaidOperation.settlementAccountOperations !=null}" >
				<table width="100%">
					<tr>
						<td>
						<p:dataTable var="settlementAccount" value="#{operationBusinessBean.selectedPrepaidOperation.settlementAccountOperations}"
							rowKey="#{settlementAccount.idSettlementAccountPk}">
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.holderAccount.alternateCode']}" >
								<h:outputText value="#{settlementAccount.holderAccountOperation.holderAccount.alternateCode}"/>
							</p:column>
							
							<p:column styleClass="content-left" headerText="#{msgs['lbl.operation.holderAccount.description']}">
								<h:outputText value="#{settlementAccount.holderAccountOperation.holderAccount.accountRntAndDescription}" escape="false" />
							</p:column>
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.stockQuantity']}">
								<h:outputText value="#{settlementAccount.stockQuantity}" >
									<f:convertNumber locale="en_US" pattern="###,###,##0"/>
								</h:outputText>
							</p:column>
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.Role']}">
								<h:outputText value="#{settlementAccount.holderAccountOperation.rolePosition}" />
							</p:column>
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.indStock.br']}" >
								<b class="redText"> 
									<h:outputText title="#{settlementAccount.stockReferenceDesc}"
										value="#{settlementAccount.indStockReference}" />
								</b>
							</p:column>
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.assignment.indFunds.br']}" >
								<b class="redText">
									<h:outputText title="#{settlementAccount.fundReferenceDesc}"
										value="#{settlementAccount.indFundReference}" />
								</b>
							</p:column>
							
							<p:column styleClass="content-center" headerText="#{msgs['lbl.operation.settlementAmount']}">
								<h:outputText value="#{settlementAccount.settlementAmount}">
									<f:convertNumber locale="en_US" pattern="#{gconst['pattern.currency']}"/>
								</h:outputText>
							</p:column>
							
						</p:dataTable>
						</td>
					</tr>
				</table>
			</p:fieldset>
					
			</p:outputPanel>
			</p:outputPanel>
		</td>
	</tr>
	<tr>		
		<td align="center">
			<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo" oncomplete="PF('dlgWPrepaids').hide()"
				actionListener="#{operationBusinessBean.hideDetails}"/>
		</td>
	</tr>
</table>
</h:form>
</html>		