<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">		
<h:form id="frmRepoSec">
<table width="100%">
	<tr>
		<td align="left">
			<b class="required-field"><h:outputLabel value="Operaciones Repo Secundario"/></b>
		</td>
	</tr>
	<tr>
		<td>
			<p:separator/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<ui:repeat var="mechanismOperation" value="#{operationBusinessBean.lstMechanismOperationRepoSec}">
		<p:fieldset legend="Datos Operacion" toggleable="true">
		<table width="100%">
		<tr>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.query.operations.view.negotitation.operationDate']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{mechanismOperation.operationDate}" disabled="true" size="10" styleClass="content-right">
					<f:convertDateTime pattern="#{cons['dateFormat']}"/>
				</p:inputText>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.query.operations.view.negotitation.operationNumber']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{mechanismOperation.operationNumber}" disabled="true" styleClass="content-right"/>
			</td>						
		</tr>
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.query.operations.view.negotitation.stockQuantity']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{mechanismOperation.stockQuantity}" disabled="true" styleClass="content-right">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</p:inputText>
			</td>
			<td width="20%">
				<h:outputText value="#{msgs['lbl.operation.cash.settlementDate']}"/>
			</td>
			<td width="30%">
				<p:inputText value="#{mechanismOperation.cashSettlementDate}" disabled="true" size="10">
					<f:convertDateTime pattern="#{cons['dateFormat']}"/>
				</p:inputText>
			</td>						
		</tr>
		</table>
		<br/>
		<p:dataTable var="holderAccountOperation" value="#{mechanismOperation.holderAccountOperations}">				
			<p:column styleClass="content-left" headerText="#{msgs['lbl.query.operations.view.assignment.detail.alternateCode']}">
				<h:outputText value="#{holderAccountOperation.holderAccount.alternateCode}"/>
			</p:column>
				
			<p:column styleClass="content-left" headerText="#{msgs['lbl.query.operations.view.assignment.detail.holder']}">
				<h:outputText value="#{holderAccountOperation.holderAccount.accountRntAndDescription}" escape="false"/>
			</p:column>
							
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.view.assignment.detail.inchargeStocks']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountOperation.inchargeStockParticipant.displayCodeMnemonic}" 
					title="#{holderAccountOperation.inchargeStockParticipant.description}"/>
			</p:column>
				
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.view.assignment.detail.inchargeFunds']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountOperation.inchargeFundsParticipant.displayCodeMnemonic}" 
					title="#{holderAccountOperation.inchargeFundsParticipant.description}"/>
			</p:column>
			
			<p:column styleClass="content-center" headerText="#{msgs['lbl.query.operations.view.assignment.detail.role']}">
				<h:outputText value="#{holderAccountOperation.rolePosition}"/>
			</p:column>
			
			<p:column styleClass="content-right" headerText="#{msgs['lbl.query.operations.view.assignment.detail.stockQuantity']}">
				<h:outputText value="#{holderAccountOperation.stockQuantity}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>			
		</p:dataTable>
		</p:fieldset>
		<br/>
		</ui:repeat>
		</td>
	</tr>
	<tr>
		<td colspan="4" align="center">
			<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"	oncomplete="PF('dlgWRepoSec').hide()"
				actionListener="#{operationBusinessBean.hideDetails}"/>
		</td>
	</tr>
</table>
</h:form>
</html>