<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<h:form id="frmBalance">
<table width="100%">
	<tr>
		<td align="left">
			<b class="required-field"><h:outputLabel value="Consulta Saldos y Movimientos"/></b>
		</td>
	</tr>
	<tr>
		<td>
			<p:separator/>
		</td>
	</tr>
	<tr>
		<td width="100%">
		<p:fieldset legend="#{msgs['lbl.query.operations.options.balance.movements.panel.title']}">
		<table width="100%">		
		<tr>
			<td>
				<h:outputText value="#{msgs['lbl.query.operations.options.balance.movements..participant']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid>
				<p:selectOneMenu disabled="true" value="#{operationBusinessBean.settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.idParticipantPk}">
					<f:selectItem itemLabel="#{operationBusinessBean.settlementAccountOperation.holderAccountOperation.inchargeStockParticipant.displayDescriptionCode}" />
				</p:selectOneMenu>
				</h:panelGrid>
			</td>
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['account.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="5">
				<p:inputText disabled="true" styleClass="content-right" size="10"
					value="#{operationBusinessBean.settlementAccountOperation.holderAccountOperation.holderAccount.accountNumber}"/>
				<p:commandButton value="..." disabled="true"/>
				<h:outputText value="#{operationBusinessBean.settlementAccountOperation.holderAccountOperation.holderAccount.alternateCode}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{operationBusinessBean.settlementAccountOperation.holderAccountOperation.holderAccount.accountRntAndDescription}"
					escape="false"/>
				</h:panelGrid>
			</td>		
		</tr>
		<tr>
			<td>
				<h:outputText value="#{gmsgs['security.lbl.code']}"/>
			</td>
			<td colspan="3">
				<h:panelGrid columns="7">
				<p:inputText value="#{operationBusinessBean.mechanismOperation.securities.idSecurityCodePk}" 
					disabled="true" size="23"/> 
				<p:commandButton value="..." disabled="true"/>
				<h:outputText value="#{operationBusinessBean.mechanismOperation.securities.description}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{operationBusinessBean.mechanismOperation.securities.idSecurityCodePk}"/>
				<p:spacer width="5"/>
				<h:outputText value="#{operationBusinessBean.mechanismOperation.securities.cfiCode}"/>
				</h:panelGrid>
			</td>
		</tr>		
		</table>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>
		<p:fieldset legend="#{msgs['lbl.query.operations.options.balance.panel.title']}">
		<p:dataTable value="#{operationBusinessBean.lstHolderAccountBalances}"
			var="holderAccountBalance" style="font-size:90% !important;">						
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.total']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.totalBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.available']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.availableBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.transit']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.transitBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.pawn']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.pawnBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.ban']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.banBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.others']}"
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.otherBlockBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>						
		</p:dataTable>
		<p:dataTable value="#{operationBusinessBean.lstHolderAccountBalances}"
			var="holderAccountBalance" style="font-size:90% !important;">							
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.accreditation']}" 
				style="width:14%;"> 
				<h:outputText value="#{holderAccountBalance.accreditationBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.reported']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.reportedBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>	
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.reporting']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.reportingBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.margin']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.marginBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="#{gmsgs['account.balance.query.movements.purchase']}" 
				style="width:14%;">
				<h:outputText value="#{holderAccountBalance.purchaseBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" style="width:15%;" headerText="#{gmsgs['account.balance.query.movements.sales']}"> 
				<h:outputText value="#{holderAccountBalance.saleBalance}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
		</p:dataTable>
		</p:fieldset>
		</td>
	</tr>
	<tr>
		<td>		
		<p:fieldset legend="#{msgs['lbl.query.operations.options.movements.panel.title']}" 
			rendered="#{not empty operationBusinessBean.lstHolderAccountMovements}">
		<p:dataTable value="#{operationBusinessBean.lstHolderAccountMovements}"
			var="holderAccountMovement" style="font-size:90% !important;" rows="5" paginatorPosition="top" paginator="true"
				paginatorTemplate="#{gmsgs['dtb.paginator.template']}" rowsPerPageTemplate="5,10,15,60"
				currentPageReportTemplate="#{gmsgs['dtb.current.page.report.template']}">						
			
			<p:column styleClass="content-right">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.operationNumber']}" escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.operationNumber}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.operationDate']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.operationDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.movementNumber']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.idHolderAccountMovementPk}">
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.movementDate']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.movementDate}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-left" headerText="#{msgs['lbl.query.operations.options.movements.movement']}">
				<h:outputText value="#{holderAccountMovement.movementType.movementName}">
					<f:convertDateTime pattern="#{gmsgs['calendar.date.format']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.sourceParticipant']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.idSourceParticipant}"/>
			</p:column>
			<p:column styleClass="content-left">
				<f:facet name="header">
					<h:outputText value="#{msgs['lbl.query.operations.options.movements.targetParticipant']}" 
						escape="false"/>
				</f:facet>
				<h:outputText value="#{holderAccountMovement.idTargetParticipant}"/>
			</p:column>
			<p:column styleClass="content-right" headerText="#{msgs['lbl.query.operations.options.movements.stockQuantity']}">
				<h:outputText value="#{holderAccountMovement.movementQuantity}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.quantity']}"/>
				</h:outputText>
			</p:column>
			<p:column styleClass="content-center" headerText="Mecanismo">
				<h:outputText value="#{operationBusinessBean.getMechanismCode(holderAccountMovement.idMechanism)}" />
			</p:column>
			<p:column styleClass="content-right" headerText="#{msgs['lbl.query.operations.options.movements.operationPrice']}">
				<h:outputText value="#{holderAccountMovement.operationPrice}">
					<f:convertNumber locale="en_US" pattern="#{cons['pattern.currency']}"/>
				</h:outputText>
			</p:column>
		</p:dataTable>
		</p:fieldset>
		<p:fieldset legend="#{msgs['lbl.query.operations.options.movements.panel.title']}" 
			rendered="#{empty operationBusinessBean.lstHolderAccountMovements}">
			<h:outputText value="#{msgs['lbl.query.operations.options.movements.no.result']}" styleClass="required-field"/>
		</p:fieldset>
		</td>
	</tr>
	<tr>		
		<td colspan="4" align="center">
			<p:commandButton value="#{gmsgs['btn.back']}" icon="fa fa-undo"	oncomplete="PF('dlgWBalance').hide()"
				actionListener="#{operationBusinessBean.hideDetails}"/>
		</td>
	</tr>
</table>
</h:form>
</html>		